[2016-12-05 04:38] wkurniawan07 opened #6191 "Remove unused images"
In `src/main/webapp/images`:
- darkdenim3.png
- embarrassed.png
- enrollInstructions.png
- free-easy-request.png
- minusButton.png
- plusButton.png
- warning.png

In `src/test/resources/images`:
- profile_pic_default_bu.png

[2016-12-05 04:51] wkurniawan07 opened #6192 "Update third-party dependencies - Java"
Although we are not likely to strive for "updated-always", currently many of our tools are so far behind the latest stable and none has the reason to stay at any particular version.

[2016-12-05 04:52] wkurniawan07 opened #6193 "Update third-party dependencies - JS"
Same as #6192 but for JS.

[2016-12-05 05:41] wkurniawan07 commented on #6184
@mohamed-moanis It seems like Gradle can't read the PATH variable from the system (assuming "npm" is already part of it, which should be). It doesn't happen in my Windows 8.1 so I'm afraid I cannot help to troubleshoot directly, but does any solution found via Google search or Stackoverflow help?

[2016-12-05 20:21] leelunn opened #6195 "New contributor self intro Lee Lunn"
Hello everyone.

My App: [https://4-18-dot-teammates-lee.appspot.com/index.jsp](https://4-18-dot-teammates-lee.appspot.com/index.jsp)
My Fork: [https://github.com/leelunn/teammates](https://github.com/leelunn/teammates)

My first contribution is in reference to issue 3011, and the pull request is here: [https://github.com/TEAMMATES/teammates/pull/6194](https://github.com/TEAMMATES/teammates/pull/6

[2016-12-06 04:46] #6130 closed

[2016-12-06 11:19] damithc commented on #6195
Welcome to the TEAMMATES community @leelunn :-)

[2016-12-06 11:19] #6195 closed

[2016-12-06 11:31] damithc commented on #6179
@wkurniawan07 is this issue already in our issue list? If yes, we can close this and link from that issue to this one.

[2016-12-06 12:13] leelunn commented on #6154
@damithc Can you steer me in the right direction on how to add a student account without a valid email for testing?

For example, I tried to create a course using dev instance with alice.tmms.LeeLunn test account but I cannot access the course when I log in as that user; and, I cannot enter alice.tmms.LeeLunn as a valid email when enrolling a student.

I have also tried to enroll a student in a co

[2016-12-06 12:45] #6188 closed

[2016-12-06 13:14] #3011 closed

[2016-12-06 13:39] damithc commented on #6154
@leelunn Did you try point 10 of [this section](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md#setting-up-the-dev-server)?

[2016-12-06 15:14] junhaoyap commented on #6195
Hi @leelunn, welcome to the TEAMMATES community!

It seems like you have already contributed and your contributions has been merged - looking forward to  more of your contributions!

[2016-12-06 15:15] junhaoyap commented on #6185
Hi @mohamed-moanis, welcome to the TEAMMATES community!

Great job on setting up as well as deploying your own fork to the staging server! In your case, since you have found a bug, your best bet will be to open an issue on our issue tracker and perhaps submit it as a first time fix? We will greatly appreciate that!

[2016-12-06 15:31] leelunn commented on #6154
@damithc Thank you, this got me going.

The issue to this problem is in FeedbackSubmissionEditSaveAction.execute().  The offending code is at line 96:

`int numOfResponsesToGet = Integer.parseInt(totalResponsesForQuestion);`
`String qnId = "";`

The problem occurs when the number of responses is zero.  In this case, the qnId is never set from response.feedbackQuestionId, which causes a null pointe

[2016-12-06 19:10] #6185 closed

[2016-12-07 01:18] damithc commented on #6154
@kanghj can help?

[2016-12-07 01:31] wkurniawan07 opened #6199 "Fix path to npm executable in .travis.yml"
Due to tinkers on Travis side. Reference: travis-ci/travis-cookbooks#786.
Our ESLint and stylelint routines rely on the above and thus need to adapt.

[2016-12-07 01:51] wkurniawan07 opened #6201 "Test failures in enrollment result due to line endings in HTML attribute value"
This is exactly the same symptom as #6174 but in a different place (with much smaller blast radius).

[2016-12-07 04:40] damithc opened #6203 "Update user map for Nov 2016"
Here is the list of institutions to add to the user map.
[code]

[2016-12-07 05:09] kanghj commented on #6154
OK, I'll have a look at this

[2016-12-07 05:47] #6199 closed

[2016-12-07 16:05] kanghj commented on #6154
@leelunn, looks right. Caused by #5865 when we started displaying questions on the submit page even when there are no valid recipients.

[2016-12-08 08:13] #5460 closed

[2016-12-08 08:16] #6191 closed

[2016-12-08 12:39] leelunn opened #6208 "FeedbackSession#isSentClosingEmail returning wrong member"
In FeedBackSession.java, the isSentClosingEmail appears to be returning the wrong member.

`return sentClosedEmail;` should be `return sentClosingEmail;`

[2016-12-08 13:21] damithc commented on #6208
@wkurniawan07 for your investigation please.

[2016-12-09 03:21] wkurniawan07 commented on #6208
Indeed it is, however this mistake never actually translates into bug because `sentClosedEmail` is always updated after `sentClosingEmail`. Nevertheless, it needs to be fixed.

@leelunn you're welcome to fix it, that one line is all that needs to be changed.

[2016-12-09 03:47] leelunn commented on #6208
@wkurniawan07 I have a branch prepared for this already that includes some TODO housecleaning in FeedbackSession, it is acceptable to include those changes at the same time for this issue?

[2016-12-09 03:49] wkurniawan07 commented on #6208
@leelunn I know the TODOs in that class, they are non-trivial and require large-scale database migration so it's best to keep them for later.

[2016-12-10 02:36] #6208 closed

[2016-12-10 15:29] #5830 closed

[2016-12-10 15:37] wkurniawan07 opened #6211 "Extract repetitive routines in rich-text sanitization"
The following routine is repeated in many places:
[code]
A possible extraction is:
[code]

[2016-12-10 15:39] wkurniawan07 opened #6212 "Remove additionalQuestionInfo.js import in instructorComments.jsp"
Accidentally re-added in #6187 after removed in #6137.

[2016-12-11 11:18] mohamed-moanis commented on #6159
On a dev server I can't reproduce such behavior, but interestingly  the 404 page that is declared in web.xml doesn't show up for such a request.
On a live version of teammates, the bug is present, but I can't access server logs to check how the request was handled/redirected?

[2016-12-11 14:27] damithc commented on #6159
@mohamed-moanis you should be able to see the logs of your staging server.

[2016-12-11 17:24] mohamed-moanis commented on #6049
This shows up with me, cause the default of my browser is Arabic language.

I tried in `teammates.test.pageobjects.Browser.java` to set the properties of the firefox test browser, to set language preference to English, but it is not working. I works with any other language other than English.

`
FirefoxProfile profile = new FirefoxProfile();
profile.setPreference("intl.accept_languages", "en");
`

[2016-12-11 18:21] mohamed-moanis commented on #6159
Can you show me where the logs are in the app engine dashboard?

[2016-12-12 01:22] damithc commented on #6159
![image](https://cloud.githubusercontent.com/assets/1673303/21085389/736c7240-c04c-11e6-92b7-b9ea45ac9e83.png)

[2016-12-12 08:42] wkurniawan07 opened #6215 "Fix unstable tests due to rich-text support for comments"
#6187 introduces many test instabilities and even consistent failures which needs to be fixed.

[2016-12-12 09:39] wkurniawan07 opened #6218 "Some objects are not assigned at the same time they are defined"
There are some instances of:
[code]
which can be shortened to:
[code]

- `DataGenerator`: line 82
- `FeedbackQuestionsLogicTest`: line 640
- `InstructorFeedbackQuestionEditAction`: line 203
- `StudentAttributesTest`: line 411
- `StudentFeedbackSubmitPageUiTest`: line 127
- `StudentProfilePictureEditActionTest`: line 177

[2016-12-12 10:05] wkurniawan07 commented on #3879
Achieved in #6137.

[2016-12-12 10:05] #3879 closed

[2016-12-12 10:43] wkurniawan07 commented on #5634
Achieved in #6137.

[2016-12-12 10:43] #5634 closed

[2016-12-12 14:06] AnaghHegde commented on #6218
Hi, I am very interested in this.I am very new to opensource.Can you please tell me what i have to do.Thanks.

[2016-12-12 14:24] damithc commented on #6218
@AnaghHegde our project has a 'Contributor Orientation Guide' that you can refer to.

[2016-12-12 15:13] #6190 closed

[2016-12-12 15:15] #6201 closed

[2016-12-12 15:23] #6215 closed

[2016-12-13 03:50] wkurniawan07 opened #6219 "Update about.jsp with contributors from V5.92"

[2016-12-13 04:42] damithc opened #6221 "Student names missing from submission form"
One user cannot see student names in the submission form. She has tried IE and Chrome. She even sent me the page source and the names are indeed missing. However, when I tried the same page (masquerading as the same user), I can see the names.

[2016-12-13 04:44] damithc commented on #6221
![image](https://cloud.githubusercontent.com/assets/1673303/21127949/c497850c-c131-11e6-8014-45a1bb3cb854.png)

![image](https://cloud.githubusercontent.com/assets/1673303/21127961/d435a26e-c131-11e6-9191-2aa20b600278.png)

[2016-12-13 04:45] damithc commented on #6221
@kanghj we had a similar problem sometime back right?

[2016-12-13 07:37] #6219 closed

[2016-12-13 13:24] wkurniawan07 commented on #6157
Release 231

Code contributions from: @damithc, @fairbet, @kennyzha, @rclakmal, @ManrajGrover, @sznicci, @nsaiisasidhar, @ShekharReddy4, @wwSchrader, @wkurniawan07
Review contributions from: @damithc, @junhaoyap, @wkurniawan07

Sprint Velocity: 23 hrs (code) + 15 hrs (review) = 38 hrs (total)

[2016-12-13 13:25] wkurniawan07 commented on #6157
Release 232

Code Contributions from: @askhubchandani, @jia1, @leelunn, @mohamed-moanis, @sznicci, @nsaiisasidhar, @belyabl9, @thyageshm, @VamsiSangam, @wkurniawan07, @xpdavid
Review Contributions from: @damithc, @JosephineKwa, @junhaoyap, @wkurniawan07, @chowyb

Sprint Velocity: 47 hrs (code) + 25 hrs (review) = 72 hrs (total)

[2016-12-14 02:01] kanghj commented on #6221
Yes, it happened maybe once or twice before (such as #6020), when a student already submitted responses made to his/her teammates, but members of the team were moved to another team. It could be a different issue this time though, since it doesn't look like there are responses in that screenshot. Is this happening for every question or just for one?

[2016-12-14 03:13] damithc commented on #6221
Seems to be happening to every question (based on the page source she sent).
She was able to submit another previous session in the same course.
Here's what the code looks like in the page source she sent:
[code]

[2016-12-14 04:40] wkurniawan07 opened #6223 "Refactor logic.automated package"
The `logic.automated` package perhaps is the most undocumented and unmaintained section of the back-end portion of the application. Just to name a few of the existing problems, many of them serious:
- ~~No clear division between `WorkerServlet` and `AutomatedRemindersServlet`. They might as well be the same class. Analogously, the distinction between the terms "task queue", "cron jobs", and "autom

[2016-12-14 04:48] wkurniawan07 opened #6224 "Use template pattern for cron jobs action"
Part one of #6223.

[2016-12-14 09:41] #6170 closed

[2016-12-14 10:14] #6192 closed

[2016-12-14 10:51] #6193 closed

[2016-12-14 11:38] Tikam02 commented on #5695
This works for me - I set the ct as a global var and only store the end time once

Please change setInterval("calculate_time()",100); to setInterval(calculate_time,100);

You can create your own namespace if you do not want to pollute the global scope
var ct, end_time = <?php echo $_SESSION['start_time']; ?>; // Get end time from session variable (total time in seconds).

window.onload=function()

[2016-12-15 03:51] damithc commented on #6157
Deployed.

[2016-12-15 03:51] #6157 closed

[2016-12-15 04:54] wkurniawan07 opened #6228 "Review and update developer documentations"
The time is ripe to re-organize and update many parts of our developer-facing documentations.

[2016-12-15 05:58] #6218 closed

[2016-12-15 14:00] AnaghHegde opened #6230 "Not able to start the dev server while setting up devoloper environment."
I followed the steps given in this page https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md

When i imported the project to eclipse i am getting these errors and i am not getting this option too
"Right-click on the project folder and choose Run → As Web Application " .

1. The type com.google.appengine.api.urlfetch.URLFetchServicePb$URLFetchRequest cannot be resolved. It is indire

[2016-12-15 14:53] damithc commented on #6230
@AnaghHegde did you complete the steps under 'Prerequisites' section and the previous 5 steps in the 'Setting up Dev Server' section exactly as described, using the exact versions prescribed? Did you encounter any errors in any of those steps?

[2016-12-15 15:20] AnaghHegde commented on #6230
@damithc yes i followed every single step properly with the specified version of tools and i didn't get any errors in the previous steps.

[2016-12-15 15:32] AnaghHegde commented on #6230
@damithc i found the problem apparently the eclipse was using jdk1.8 and i changed it to 1.7 but now i am getting different errors

1.The project cannot be built until build path errors are resolved	teammates  Unknown Java Problem

2.Unbound classpath container: 'JRE System Library [JavaSE-1.8]' in project 'teammates'	teammates		Build path	Build Path Problem

[2016-12-15 17:48] AnaghHegde commented on #6230
someone please help me out.I am new here.

[2016-12-15 18:41] leelunn commented on #6230
@AnaghHegde Sounds like the project specific settings did not update when you changed from jdk1.8 to jdk1.7.

Try to go to to project properties | Java Compiler.  It should show 1.7 in the greyed out boxes.  It is likely easier if you remove the project from eclipse and redo the steps to import the project, but you can also try to do the steps below.  Warning: I do not know if more changes will be

[2016-12-15 21:59] leelunn commented on #6094
@damithc seems like you have keen intuition on these things! I'm able to reproduce this error, and I'm looking into a fix.

In the meantime, could you explain why it is required for Recipient(s) and Giver's team members to both be either checked or unchecked?

[2016-12-16 00:53] damithc commented on #6094
@leelunn can you give a screenshot of the question (including visibility and feedback path) that reproduces the error?

[2016-12-16 01:40] leelunn commented on #6094
@damithc I can do better than that.  Steps to reproduce:

1. Navigate to a feedback session that contains a Team Contribution Question
2. Enter edit mode for the Contribution Question
3. Using the common visibility options choose any of: Shown anonymously to recipient and instructors, Shown anonymously to recipient, visible to instructors, or Visible to recipient and instructors.
4. Click Save Cha

[2016-12-16 02:07] AnaghHegde commented on #6230
@leelunn I did changes as you said above but now i am getting the errors that i have posted earlier as an issue. Someone help me out.

[2016-12-16 02:59] damithc commented on #6230
@AnaghHegde how about you redo the setup from scratch but take screenshots at different points so that we can verify you did the step correctly?

[2016-12-16 03:05] damithc commented on #6094
@mohamed-moanis team contribution questions are 'special' in that they have limited flexibility in visibility. Either students can see responses anonymously, or they can't see responses at all. That's basically the only flexibility allowed. If students can see responses, then team members should be able to see them as well because seeing the rating you received is not useful unless you can compare

[2016-12-16 03:37] #6171 closed

[2016-12-16 04:38] AnaghHegde commented on #6230
@damithc i did everything from the scratch but still i am getting the same errors.
You can check the screenshots here
https://drive.google.com/drive/folders/0BwpIWKDMa8nAcU9NOHhNc2ZuLWc?usp=sharing

[2016-12-16 05:01] wkurniawan07 commented on #6230
@AnaghHegde have you installed the Google Plugin for Eclipse (prerequisite step 4) and configure Eclipse to use the downloaded SDK (step 3, first bullet point)?

[2016-12-16 05:19] AnaghHegde commented on #6230
@wkurniawan07 ok i missed that but i am not getting any option like this  Window → Preferences → Google → App Engine  and when i checked in the already installed software its only showing sdk no information about the testNG and Google plug in.So is it because of that?

[2016-12-16 05:42] wkurniawan07 commented on #6230
@AnaghHegde you might have to reset (close then reopen) Eclipse for the changes to take place.

[2016-12-16 05:47] AnaghHegde commented on #6230
@wkurniawan07 I did that its not working ,not just that even i have restarted the entire system still same issue.

[2016-12-16 10:15] #6211 closed

[2016-12-16 10:23] wkurniawan07 opened #6231 "Use CDN for external CSS/JS libraries"
We rely on CDN for jQuery libraries in production to reduce the server load. This can be extended to all our external CSS/JS libraries (especially TinyMCE, where each plugin is essentially a JS file).

We can make use of [this website](https://unpkg.com/) which provides a CDN service for all libraries in NPM (essentially everything that we use).

[2016-12-16 10:42] wkurniawan07 commented on #6230
@AnaghHegde could you check if [this](https://developers.google.com/eclipse/docs/faq#multiuser) is what is happening?

[2016-12-16 14:52] leelunn commented on #6094
@damitch Ok.  To confirm that I understand the expected behaviour, for contribution questions, using the image below as reference, the visibility states should be?

1. Anonymously to recipient and instructors: The visibility options should be:

Can see answer: Recipient, Giver's Team Members, Instructors
Can see giver's name: None
Can see recipient's name: Recipient, Giver's Team Members, Instruct

[2016-12-16 16:12] swxsw commented on #3147
Just to clarify, what is meant by statistics on the website and where do I download the csv file? Is the statistics referring to when an instructor views the feedback results page of a set of questions that was given?

[2016-12-16 17:01] AnaghHegde commented on #6230
@wkurniawan07 no i don't think that is the problem.I don't understand whats wrong.

[2016-12-16 22:21] nsaiisasidhar commented on #2340
Hi, can you please let me know if you mean studentFeedbackResultsCONSTSUM.html and studentFeedbackResultsCONTRIB.html pages.

[2016-12-17 01:20] damithc commented on #3147
@swxsw both refer to session results as seen/downloaded by instructors.

[2016-12-17 01:25] damithc commented on #2340
@nsaiisasidhar are you able to load the mashup page from your dev server?

[2016-12-17 01:33] kanghj commented on #6221
I am currently not able to replicate this problem. It is strange if this student is experiencing this issue, but not any of her teammates/the admin in masquarade mode.

However, since the displaying of recipient is currently done in a `$(document).ready(...)`, one possible explanation is a slow network. We recently moved the scripts to the bottom of the page, so if `feedbackSubmissionsEdit.js` has

[2016-12-17 02:30] swxsw commented on #3147
@damithc Correct me if I am wrong, but isn't the session results already displayed in a sorted order when the user/instructor clicks on the respective header? Is this issue referring to the need to sort by more than one column or things like reverse sorting?
![capture](https://cloud.githubusercontent.com/assets/19543997/21283771/b0e47ece-c443-11e6-89d1-5cd8bd203d2a.JPG)
Genuinely confused, sorry

[2016-12-17 02:41] damithc commented on #6221
Let's wait to see if this happens again. Given that 20-30 thousands of students submitted feedback these few months, a systemic error is likely show up more than once. Perhaps we should load the page with a 'loading. please wait...' message which will be removed by the `$(document).ready(...)` function?

[2016-12-17 02:44] damithc commented on #3147
'sortable' is not the same as 'sorted' :-) Anyway, may be @kanghj who posted the issue can say more.

[2016-12-17 02:54] swxsw commented on #3147
Oh, i see :) @kanghj, is there any preferred sorting order when the results are first displayed?

[2016-12-17 03:14] damithc commented on #3147
Sort by `recipient` (or `option`)?

[2016-12-17 03:25] damithc commented on #6094
@mohamed-moanis
I think we should limit it to options 2 and 3 only.
* Show anonymous to recipient, visible to instructors
* Visible to instructors only

We can also remove 'custom visibility' from this type of questions.

@YongJieYongJie any input?

[2016-12-17 08:14] mohamed-moanis commented on #6094
I reproduced the error according to @leelunn  :+1:

Now option 1, 2, 4 causes the error to show up, while custom visibility and visible to instructor only works fine.

[2016-12-17 08:27] mohamed-moanis commented on #6094
@damithc
I agree with what you say, only the contribution question has this restrictions in the backend checks which aren't enforced by the UI.

I have a question, in the current implementation, the "Show anonymous to recipient, visible to instructors" option sends "RECEIVER" and "INSTRUCTOR" as those who can see the responses.
My question is this behavior is wrong? it should be to the team member

[2016-12-17 08:33] damithc commented on #6094
@mohamed-moanis Let's see if @YongJieYongJie can shed any light on that. He is the one who worked with this part of the code most recently.
Also, @JosephineKwa any insights?

[2016-12-17 09:36] swxsw commented on #3147
@damithc Got it:) Sorry for asking, didn't realize

[2016-12-17 15:20] wkurniawan07 opened #6233 "Use template pattern for untestable task queue worker actions"
Part two of #6223.

These actions, being coded in their respective Servlets, are not (unit-)testable by restriction and thus we do not have actual certificate of correctness for them:
- `AdminPrepareEmail`
- `AdminSendEmail`
- `CourseJoinRemindEmail`
- `FeedbackRemindEmailParticularUsers`
- `FeedbackRemindEmail`
- `SendEmail`

While this issue will not add tests for them, it will convert them to t

[2016-12-17 16:08] AnaghHegde commented on #6230
@damithc @wkurniawan07 @leelunn i got what went wrong( stack overflow ) and now no errors in the eclipse console. But now when i started the dev server i am getting this error .I have attached the log file here https://drive.google.com/open?id=0BwpIWKDMa8nAZ1hPMFQ0SFNQdm8

[2016-12-17 20:11] zkhourdaji opened #6236 "New contributor self intro [Zafer Khourdaji]"
**a) the link to your app:** https://test-zafer-136-136.appspot.com/

**b) link to your fork:**  https://github.com/zkhourdaji/teammates

**c) a screenshot of the change you did (as seen on the UI):** I simply switched the student login button with the instructor login button (revolutionary I know)
![teammates](https://cloud.githubusercontent.com/assets/14949184/21289350/6def2efe-c469-11e6-9110-fc

[2016-12-18 01:35] damithc commented on #6230
So, what was wrong earlier? It'll be good for us to know in case someone else face the same problem in future.

[2016-12-18 01:46] AnaghHegde commented on #6230
@damithc I was suppose to add these two line in the eclipse.ini file after the head --startup

--launcher.GTK_version
2

and now its working fine.
Can you please help me out in the new error i am getting when i started the dev server.

[2016-12-18 03:29] damithc commented on #6236
Welcome to TEAMMATES @zkhourdaji :-) Looking forward to your first PR.

[2016-12-18 03:29] #6236 closed

[2016-12-18 03:39] damithc opened #6237 "Set up codacy for automated code review"
Codacy can detect and comment on some code quality issues (based on checkstyle, PMD, etc.) in PRs

[2016-12-18 03:41] damithc opened #6238 "Set up AppVeyor to run tests on Windows"
Travis can be our primary CI because the live server is a Unix box.
However, many of our devs are using Windows and running CI on AppVeyor (in parallel to Travis) can help detect Windows specific test failures.

[2016-12-18 03:50] damithc commented on #6230
When I tried googling for the error message, it looks like a problem with Java version problem. e.g. http://stackoverflow.com/questions/38030398/google-app-engine-java-8-and-jsp-files-compilation-error

[2016-12-18 03:52] wkurniawan07 commented on #6238
The thing about AppVeyor is it doesn't allow parallel builds (Travis allows 5, as comparison). When our development rate increases (e.g during GSoC period) this will be a significant bottleneck.

[2016-12-18 04:12] damithc commented on #6238
That's true. For merging purposes, we can assume AppVeyor will pass and go ahead with the merge before AppVeyor result. If the AppVeyor subsequently failed, we can go back and do something about it (unmerge?).
This AV CI is a low value thing for us given that we already have Travis. We can give it a try if the set up cost is low. We can always disable it if it doesn't seem to help.

[2016-12-18 06:00] damithc commented on #6237
Example:
![image](https://cloud.githubusercontent.com/assets/1673303/21291870/3fabbbea-c52a-11e6-9499-1c5a124f236e.png)

[2016-12-18 07:14] AnaghHegde commented on #6230
@damithc i don't if its working properly or not i am getting the localhost/8888 page as in the screen shot.I have attached the screen shot in drive. https://drive.google.com/open?id=0BwpIWKDMa8nAQjg4WElWSmhiLVE .

[2016-12-18 11:42] wkurniawan07 opened #6239 "Decommission storage.datastore package"
The said package has only two classes:
- `Datastore`: All of its functions can be moved to `EntitiesDb`.
- `DatastoreFilter`: It had a legitimate use before but was outlived in c50ea00 (> 4 years ago!!). The only use it has right now is calling `Datastore.initialize()` before every page load, which has a workaround as part of decommissioning the `Datastore` class.

In fact, the said commit introdu

[2016-12-18 12:03] #6154 closed

[2016-12-18 17:55] okornoe commented on #6183
Hello guys am Kelvin a first timer and I want to contribute on the project, how do I proceed from here.
Help me out, and I will be very glad

[2016-12-18 20:01] hackosinn commented on #6237
Hi, my name is Anand. please tell me how can i contribute to this project. i am new on github and i have no experience of contributing to open source projects. i will be grateful if anyone can help me

[2016-12-19 01:04] damithc commented on #6230
`localhost/8888` should direct to teammates home page, not the admin page you are seeing. Perhaps you can post here the output of the server console when you access the above URL in the browser? BTW, Github allows you to post screenshots directly in a comment.

[2016-12-19 01:28] damithc commented on #6237
@hackosinn welcome to TEAMMATES. Please refer to our 'Contributor Orientation Guide' (link given in our README)

[2016-12-19 01:32] damithc commented on #6183
Welcome to TEAMMATES @okornoe
Please refer to our 'Contributor Orientation Guide' (link given in our [project home page](/teammates/teammates))

[2016-12-19 10:03] #6224 closed

[2016-12-19 10:14] wkurniawan07 opened #6242 "Use template pattern for EmailWorker and FeedbackSubmissionAdjustmentWorker"
Part three of #6223.

These two worker servlets previously did a good job of separating the operations in the servlet to testable objects (and even have tests for them!), it is now a matter of standardizing them to agree with the new structure of `AutomatedAction`.

[2016-12-19 11:03] #6233 closed

[2016-12-19 11:21] wkurniawan07 opened #6243 "Create API for queueing tasks"
Part four of #6223.

Currently a lot of our queueing action is embedded in some `logic.core.*Logic` classes. We can instead create a dedicated API for queueing tasks in `logic.api` package and embed it in both `AutomatedAction` and `Action` class, much like the `logic.api.Logic` class.
The main advantage is it allows for mocking (something that is entirely missing in TEAMMATES) during testing. Som

[2016-12-20 17:18] nikhilmudholkar opened #6245 "Not able to start the dev server while setting up the environment."
I followed the steps given in this page https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md

when i import the teammates project in setup 6, the eclipse builds it and it shows a lot of errors. Nearly 434 errors. Also it flasses the a message.
."Errors occurred during the build.
Errors running builder 'Google App Engine Project Validator' on project 'teammates'.
Unable to locate th

[2016-12-20 17:42] nikhilmudholkar commented on #5090
@RatulGhosh ....i am not able to find the eclipse.ini file. can you help. I am facing similar errors. Nearly 434 errors are present and most of them are in jsp files.

[2016-12-20 18:19] aravindputrevu commented on #6212
is the issue still open ? If so can i work on it ?

[2016-12-20 19:59] leelunn commented on #6245
@nikhilmudholkar Can you post a screen shot after opening the window resulting from doing the steps below:

1. Project | Properties
2. Click on Java Build Path
3. Click on Libraries tab
4. Scroll to the bottom of the list
5. Select JRE System Library
6. Click Edit

[2016-12-21 00:18] kilarusravankumar opened #6247 "New contributor self intro SK"
- link to my fork: https://github.com/kilarusravankumar/teammates

- Screenshot :
![2016-12-20](https://cloud.githubusercontent.com/assets/13055113/21372965/e1384090-c6e8-11e6-9347-3fd0926cf761.png)

Hi my name is Sravan Kumar kilaru.

[2016-12-21 00:32] damithc commented on #5090
@nikhilmudholkar If you cannot find the eclipse.ini file, a google search might give you some pointers on how to find it.

[2016-12-21 02:21] damithc commented on #6247
Welcome to TEAMMATES @kilarusravankumar . Looking forward to your next PR :-)

[2016-12-21 02:21] #6247 closed

[2016-12-21 09:23] nikhilmudholkar commented on #6245
![issue4](https://cloud.githubusercontent.com/assets/20753893/21383737/48267980-c78d-11e6-85d3-b3ac9395d8cd.png)

[2016-12-21 09:36] leelunn commented on #6245
@nikhilmudholkar It looks like you have partially missed a step in the set up guide.  You must use a version of java 1.7 JDK.  Take a look at [common troubleshooting](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md#common-setup-errors-and-solutions ) and particularly item 2 and 6.

[2016-12-21 09:39] leelunn commented on #6094
@mohamed-moanis Are you working to resolve this issue or can I take this on?

[2016-12-21 09:42] nikhilmudholkar commented on #6245
There are a lot of jdk1.7 librraries. Which one to choose?
![issue5](https://cloud.githubusercontent.com/assets/20753893/21384272/d7a1d738-c78f-11e6-8e41-ad242be01746.png)

[2016-12-21 09:43] damitch commented on #6094
I think my email address was added by mistake.

[2016-12-21 12:17] wkurniawan07 commented on #6245
@leelunn thanks very much for chipping in! 👏
@nikhilmudholkar my setup is using JavaSE-1.7, although I am not sure how choosing the others would be different. Wrong Java version aside, the problem actually comes because the value chosen has no compatible execution environment in the system. Have a look at [this SO answer](http://stackoverflow.com/questions/15374697/unbound-javsse-1-7-libraries-in-

[2016-12-21 12:19] wkurniawan07 commented on #6238
One solution would be for the AV CI to not build pull requests, i.e. only build the stable `master` branch after each merge.

[2016-12-21 12:36] wkurniawan07 opened #6248 "Improve the Gradle build script"
In particular, when HTML test failure occurs, the entire of the expected page and actual page will be printed to the console which is extremely verbose ([example](https://travis-ci.org/TEAMMATES/teammates/builds/185132899)). This should be improved to displaying just the offending diff.

[2016-12-21 12:51] wkurniawan07 commented on #6212
@aravindputrevu it is still open, feel free to work on it.

[2016-12-21 12:58] #6159 closed

[2016-12-21 12:58] #6239 closed

[2016-12-21 13:30] damithc commented on #6094
@damitch yes it's a typo (your username is one letter away from mine). Please unsubscribe from this issue to stop receiving emails from this issue.

[2016-12-21 13:33] damithc commented on #6238
Yes, that works too.

[2016-12-21 15:12] shreab373 commented on #6183
hi, this is my first ever contribution, can i take this?

[2016-12-21 23:33] leelunn commented on #5971
@damithc I believe this issue can be closed; it was resolved with PR 6202

[2016-12-22 01:23] damithc commented on #6183
@shreab373 sure. No need to ask :-)

[2016-12-22 01:26] damithc commented on #5971
I see. Let's close for now. I'll reopen if it happens again.

[2016-12-22 01:26] #5971 closed

[2016-12-22 01:33] aravindputrevu commented on #6212
Thank you . I will

[2016-12-22 09:47] nikhilmudholkar commented on #6245
@wkurniawan07  ...i followed the answer. Earlier 254 errors were there but now they are reduced to 152. But i am still not able to remove all of them. Can you please help me out. Should i remove all the versions of java and reinstall it? Will it work?

[2016-12-22 10:30] okornoe commented on #6183
hello guys and damithc, I have started setting up my environment for the project and I have this difficulty.
I do not know where/the specific directory to run this command './gradlew appengineDownloadSdk'
I tried it in my terminal and I had this error
![opensourceteammatesproject](https://cloud.githubusercontent.com/assets/12277906/21422838/b08b803e-c831-11e6-80d7-6a03ffedd664.PNG)

[2016-12-22 12:42] okornoe opened #6253 "Invalid Java home directory"
![teammatescapture](https://cloud.githubusercontent.com/assets/12277906/21425882/8e9f9962-c843-11e6-8414-e9ffc4b46080.PNG)
Am trying to setup my environment for the project, but when I run the command './gradlew appengineDownloadSdk' I have this error

'ERROR: JAVA_HOME is set to an invalid directory: /usr/lib/jvm/java-7-oracle/bin/java

Please set the JAVA_HOME variable in your environment to mat

[2016-12-22 14:08] damithc commented on #6253
@okornoe did you follow the instructions in the error message? Looks like you don't even have java 7 on your computer (TEAMMATES requires Java 7)

[2016-12-22 14:13] sznicci commented on #6183
Hi @okornoe,

Have you tried to run this command in the teammates project directory?

[2016-12-22 14:14] okornoe commented on #6253
@damithc I do have java7

[2016-12-22 14:22] damithc commented on #6253
I'm not a Linux guy, but it seems the path given as item 2 in your list does not match the one given in the error message. i.e. the JAVA_HOME does not match your Java 7 location. Furthermore, I think you need Java 7 JDK. JRE is not enough.

[2016-12-22 14:29] okornoe commented on #6253
@damithc Okay I will do that

[2016-12-22 15:22] nikhilmudholkar commented on #6245
I did everything from the beginning. Surprisingly all the java error vanished now and now it shows google app engine problem. I am enclosing a screenshot. I tried everything. The same problem was mentioned in the troubleshooting guide. I tried the steps mentioned there but with no luck. Please help me out.
![issue6](https://cloud.githubusercontent.com/assets/20753893/21430289/871ba2ae-c888-11e6-89

[2016-12-22 15:24] hackosinn opened #6254 "doubt"
Run the command ./gradlew appengineDownloadSdk to obtain the Google App Engine SDK (version specified in build.gradle)...i don't understand this line. where should i run this line? i have installed gradle but this line isn't executing in command prompt.

[2016-12-22 17:56] nikhilmudholkar commented on #6245
issue solved. Thanks a lot @wkurniawan07 , @leelunn

[2016-12-22 17:59] nikhilmudholkar commented on #6254
hi @hackosinn , i just set up my environment. You need to run this line in the command prompt and not the git bash. I faced a similar confusion. This line might not be executing in cmd because you need to first go to the teammates directory in command prompt. Type cd and the folder name one by one to enter the teammates directory. Then run the gradlew command. It will run.

[2016-12-22 18:40] nikhilmudholkar commented on #4938
@samatdav  @kanghj .....can you explicitly tell about the renaming the files? I am facing exactly the same problem.I am not able to find what name we have to give to the files? Is is just mentioned that you have to rename the file. Nothing else.

[2016-12-22 19:29] mohamed-moanis commented on #6094
@leelunn  as @damithc said, we are waiting for input from @YongJieYongJie .

Or we can start making a PR

[2016-12-22 19:46] mohamed-moanis commented on #6094
@damithc  I can do a hot fix for all the options for now to silence the error. Then we can open another issue about which options should be valid for this type of question?

[2016-12-22 20:00] shreab373 commented on #6183
hi, this may be a rather stupid question but to fixing the bug the guidelines mention we need to create our own branch with the issue name and a few keywords, when i do that and then created a PR, it is getting created in my forked version of the rep, what am i missing?

sorry but i'm only starting to get used to git

[2016-12-23 00:51] damithc commented on #6094
@leelunn go ahead with the PR

[2016-12-23 02:42] damithc commented on #6183
@shreab373 you need to correct our repo (not your own repo) as the destination repo. https://help.github.com/articles/creating-a-pull-request/

[2016-12-23 02:44] damithc commented on #4938
@nikhilmudholkar can you quote here the instructions that is not clear to you?

[2016-12-23 03:24] damithc commented on #6254
@hackosinn the command should be run from the root of the folder you cloned.

[2016-12-23 06:21] nikhilmudholkar commented on #4938
in the guide it is given as.........
src/test/resources/test.properties
Append a unique id (e.g. your name) to each of the default accounts found at the bottom of this file. e.g. change test.student1.account=alice.tmms to test.student1.account=alice.tmms.KevinChan
src/main/webapp/WEB-INF/appengine-web.xml
For now, property values can remain as they are.

it is not mentioned what we have to do with

[2016-12-23 06:25] damithc commented on #4938
ERROR: Everything seems normal and the dev server starts normally. But you get a "Class not found" or "Class cannot initialize" error when you try to access any non-static pages of the app.
SOLUTION: Check if the build.properties and appengine-web.xml has been renamed properly, which you were supposed to during the set up.

This is an outdated instruction. I've removed it. There is no need to rena

[2016-12-23 11:23] AnaghHegde commented on #6230
@damithc but in steps it says to login to the page using google account no!?

[2016-12-23 11:35] AnaghHegde commented on #6253
@okornoe you can do like this

Type in terminal,

echo $JAVA_HOME

Display JAVA_HOME variable path.

IF NOTHING APPEARS THEN SET IT WITH THIS

export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64

This will differ according to your JDK type & version

For displaying follow first command.

[2016-12-23 11:38] AnaghHegde commented on #6253
@okornoe i also had the similar problem at first i followed the same steps which i posted above. I think it should work and if you still face any errors do post it.

[2016-12-23 11:39] damithc commented on #6230
First, you should see this page:
![image](https://cloud.githubusercontent.com/assets/1673303/21453088/d23956be-c946-11e6-92c6-6abb8e7931ff.png)

When you click on 'Login Instructor', you should see something like this:
![image](https://cloud.githubusercontent.com/assets/1673303/21453115/120185fa-c947-11e6-8367-5cb766dd991f.png)

After you click `login` (provided you've already created an instructo

[2016-12-23 19:46] okornoe commented on #6253
@damithc @AnaghHegde I have decided to change from Linux environment to windows, I have being able to import the project but I have some errors.
![build1](https://cloud.githubusercontent.com/assets/12277906/21461316/7b584966-c948-11e6-9ac9-a61f2e22839f.PNG)
![build2](https://cloud.githubusercontent.com/assets/12277906/21461317/7b5b5ca0-c948-11e6-9f07-c38d207a96f1.PNG)
![build3](https://cloud.githu

[2016-12-24 10:58] hackosinn commented on #6254
when i ran the command it says that "task gradlew.bat is not found in root
project teammates"

On Fri, Dec 23, 2016 at 8:54 AM, Damith C. Rajapakse <
notifications@github.com> wrote:

[2016-12-24 10:59] hackosinn commented on #6254
i don't know how to use gradle.i searched about it but got nothing good.can
u specify how can i set up gradle for teammates

On Sat, Dec 24, 2016 at 4:28 PM, Anand Singh <anandsmart55@gmail.com> wrote:

[2016-12-24 11:50] damithc commented on #6254
@hackosinn can you give a screenshot after running the command?

[2016-12-24 12:02] damithc commented on #6253
@okornoe Can you post screenshots after each step to show that each step was done correctly? Otherwise we can't pinpoint at which step things went wrong.

[2016-12-24 12:05] damithc opened #6256 "Dev guide: describe how to verify each step is done correctly"
In the steps given for setting up the dev server, we can describe how the new dev can verify if the step was done correctly. Otherwise they could perform a step incorrectly without realising it.

[2016-12-24 12:25] #6248 closed

[2016-12-24 13:21] nikhilmudholkar commented on #6256
In a separate troubleshooting guide, we can post the screenshots of each and every step. Like if we need to change the name of a certain file, we can post the screenshots before and after the naming. This would be of immense help to new users. Also we can enable a comments section on that guide. So users can discuss amongst themselves the procedure. I feel that most of the doubts will be cleared v

[2016-12-24 13:28] nikhilmudholkar commented on #6254
@hackosinn .see, there is a gradlew file in teammates repo.
![issue7](https://cloud.githubusercontent.com/assets/20753893/21467168/8fe1133c-ca0a-11e6-85c4-ebb035f62c80.png)
You need to go to teammates directory and then run the command. Like if I need to run this command, I would go to c/users/pc/documents/github/teammates.
Hope this helps.

[2016-12-24 15:16] nikhilmudholkar commented on #4938
my dev server in running. It says so in the console. i even get the login screen.
![issue8](https://cloud.githubusercontent.com/assets/20753893/21467598/bac5282c-ca19-11e6-98ae-415aa3fe88ea.png)
But when i click login after checking sign as administrator, this screen in shown.
![issue9](https://cloud.githubusercontent.com/assets/20753893/21467605/df2ee55e-ca19-11e6-94d8-0bbfb7a893b2.png)
What am i

[2016-12-24 15:24] damithc commented on #4938
@samatdav check the dev server console after seeing the error message in the browser. It is likely to show some error messages that caused the error page to show up. If you cannot figure out how to resolve the error shown in the dev server console, you can post it here to see if anyone else can help with it.

[2016-12-24 15:26] nikhilmudholkar commented on #4938
@damithc ..is browser a issue? i am not using firefox or chrome.

[2016-12-24 15:32] damithc commented on #4938
@nikhilmudholkar unlikely.

[2016-12-24 15:36] nikhilmudholkar commented on #4938
java.lang.UnsupportedClassVersionError: com/google/common/collect/ImmutableSet : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineClass(URLClassLoader.java:449)
	at java.net.URLClassLoader

[2016-12-24 15:49] damithc commented on #4938
@nikhilmudholkar See item 11 in [this doc](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md)

[2016-12-25 15:43] leelunn commented on #6094
@damithc Roger.  Working on it.

[2016-12-26 09:48] Mynk96 opened #6261 "Regarding gradle-2.12-bin.zip"
Where to put the zip gradle-2.12-bin ? I am not able to download using command ./gradlew appEngineDownloadSdk in the terminal? I have downloaded externally

[2016-12-26 12:03] wkurniawan07 commented on #6261
Hi @Mynk96, you need to run the said command from the folder where you clone your TEAMMATES fork. On a side note, you do not need to set up Gradle manually on your computer as [Gradle wrapper](https://docs.gradle.org/current/userguide/gradle_wrapper.html) allows you to perform all the Gradle tasks without actually setting it up.
If you have downloaded the App Engine SDK manually, you are more than

[2016-12-26 12:04] wkurniawan07 commented on #6245
@nikhilmudholkar noted with thanks. Closing this issue.

[2016-12-26 12:04] #6245 closed

[2016-12-26 12:07] wkurniawan07 commented on #6254
@hackosinn while the answer given by @nikhilmudholkar is/should be correct, another thing to note is that you do not need to "set up" Gradle for this project. We use [Gradle wrapper](https://docs.gradle.org/current/userguide/gradle_wrapper.html) which allows Gradle tasks to be run without the need for Gradle explicitly set up in any machine.

[2016-12-26 12:30] wkurniawan07 commented on #6167
Closing due to inactivity.

[2016-12-26 12:30] #6167 closed

[2016-12-26 12:31] wkurniawan07 commented on #6160
Closing due to inactivity.

[2016-12-26 12:31] #6160 closed

[2016-12-26 12:32] wkurniawan07 commented on #6184
Closing due to inactivity.

[2016-12-26 12:32] #6184 closed

[2016-12-26 13:02] Mynk96 commented on #6261
Done Thank you

[2016-12-26 13:02] #6261 closed

[2016-12-26 15:10] Mynk96 opened #6262 "fork and pull issue"
Can someone describe me step by step how to fork and pull request?
I am not able to submit my changes to repo please

[2016-12-26 15:48] damithc commented on #6262
@Mynk96 Forking and PRs is not specific to our project. We expect contributors to learn those things themselves, for example, from GitHub documentation.

[2016-12-26 15:50] Mynk96 commented on #6262
okay thank you

[2016-12-26 15:50] #6262 closed

[2016-12-27 11:44] aravindputrevu opened #6265 "Does Teammates project build on Eclipse Neon ?"
I want to contribute to the Teammates, so trying to setup the Dev environment.
I would like to know whether Teammates project supports Eclipse Neon.

Thanks and regards
Aravind Putrevu

[2016-12-27 13:50] damithc commented on #6265
@aravindputrevu if you are game enough, you can give it a try. Usually newer versions of Eclipse don't break the set up process. You can be the guinea pig to test it out if you wish :-p

[2016-12-27 14:06] aravindputrevu commented on #6265
Okay then. I will try it and update this thread. @damithc

[2016-12-28 05:36] wkurniawan07 opened #6269 "TestNG misconfiguration does not cause build failure"
Suppose the TestNG config contains a test class that is non-existent:
[code]
The test run will definitely fail, but the failure is not captured by Travis CI (it will instead skip the entire test run and mark the build as "passed"). [Example](https://travis-ci.org/TEAMMATES/teammates/builds/186961876).

[2016-12-28 18:57] yasirunilan commented on #6212
This is still open right?

[2016-12-29 01:59] damithc commented on #6212
@yasirunilan

Yes, but there are two open PRs for this ahead of yours.

[2016-12-29 02:25] yasirunilan commented on #6212
okay thanks :) I'll look into some of the other issues

[2016-12-29 03:05] yasirunilan commented on #6256
Yes I also thinks this is a good thing to have. I personally have experienced this and I'm sure many other developers too have experienced it.better to have some supportive documents related to that case

[2016-12-29 03:13] yasirunilan commented on #6203
Can I work on this one

[2016-12-29 03:18] yasirunilan commented on #6254
I see this issue has been raised by developers several times.isn't it good to add that the command should be ran in project root directory in project orientation guide.

[2016-12-29 06:15] aravindputrevu commented on #6212
I raised a pull request yesterday. Awaiting review completion.

[2016-12-29 06:19] aravindputrevu commented on #6265
I have successfully built and deployed teammates on the dev server using Eclipse Neon. Can we add the same to settingup.md

[2016-12-29 07:25] #6265 closed

[2016-12-29 07:27] aravindputrevu commented on #6237
@damithc  I am interested in doing this. I have good idea on static analysis tools.
Let me know how can i integrate with the build process.

[2016-12-29 07:33] damithc commented on #6237
@aravindputrevu codacy integration does not require any changes to the build process. It's something that needs to be configured by someone with admin access to the repo, so let's leave it to a senior developer.

[2016-12-29 07:55] aravindputrevu opened #6272 "Need to update settingUp.md"
In the settingUp.md, It is recommended to use Eclipse Luna for setting up dev environment for TEAMMATES. However, I used the latest Eclipse IDE Neon to set up dev environment and it worked.

So need to change documentation accordingly.

[2016-12-29 07:55] aravindputrevu commented on #6237
Okay ! 👍

[2016-12-29 08:01] wkurniawan07 commented on #6272
I will update this accordingly in #6257. Thanks for letting us know that Eclipse Neon works as well :+1: I will add your name to our contributors' list prior to our next public release.
May I also confirm that the only difference is that the Google Plugin to be used is version `4.6`?

[2016-12-29 08:14] aravindputrevu commented on #6272
Yes.
I used :
[code]

Thank you @wkurniawan07

[2016-12-29 08:37] #6242 closed

[2016-12-29 08:44] wkurniawan07 opened #6273 "Restore and revamp automated actions tests"
Part five of #6223.

[2016-12-29 08:46] wkurniawan07 opened #6274 "Remove "default" and "search-document" entries from queue.xml"
There are no operations in the entire code base that add tasks to the queue with those names.

[2016-12-29 11:47] aravindputrevu commented on #6148
@damithc Is this issue still open ? can i work on it ?

[2016-12-29 14:42] damithc commented on #6148
Yes it's still open @aravindputrevu

[2016-12-29 16:36] aravindputrevu commented on #6148
I think i need to update this data into userMapData.json ? am i right @damithc ?

If so, i could see some of them are already present in the JSON.

[2016-12-29 20:46] hackosinn opened #6278 "doubt"
to which code i have to make changes to change the app UI and method to deploy the changed version to  my local server...plzzz help

[2016-12-30 01:25] damithc commented on #6148
@aravindputrevu only new items need to be added. You can look at previous PRs (for previous months) for guidance.

[2016-12-30 01:33] damithc commented on #6278
@hackosinn that's something you need to figure out yourself. The activity is meant for new contributors to self-test that they can understand the code structure of the project.

[2016-12-31 07:34] #6212 closed

[2016-12-31 08:05] JosephineKwa opened #6282 "Change URLs to use new repository name"
There are a few instances in the docs where the old repository name is used in URLs i.e. https://github.com/TEAMMATES/repo instead of https://github.com/TEAMMATES/teammates.
While this does not cause any problems as the old name still redirects to the correct page, it would still be better to use the actual URL to avoid confusion.

Files involved:
`docs/glossary.md`
~~`docs/process.md`~~
~~`docs/s

[2016-12-31 10:26] damithc opened #6283 "Explore using mentionbot to identify potential reviewers"
Seems easy to set up and could be useful
https://github.com/facebook/mention-bot

[2016-12-31 10:36] AnaghHegde commented on #6254
@yasirunilan i think it makes sense because it is confusing.Even i also had the same issue

[2016-12-31 11:50] rishikksh20 commented on #6282
I am interested in working on the issue.

[2016-12-31 11:59] wkurniawan07 commented on #6282
The last two files are not needed as they will be fixed in #6257. I will update the issue description accordingly.
@rishikksh20 you're welcome to.

[2016-12-31 12:07] wkurniawan07 commented on #4656
Worked on this and ready to make a PR after #6227 is merged. Sneak preview: indeed they are, and there are tons of other methods that are duplications: `verify(Absent|Present)InDatastore` in all of its variants, `putDocuments`, `removeAndRestoreData`, `equalizeIrrelevantData` (for posterity sake).

One thing, though, putting `d.Easy` label before was inaccurate :p

[2016-12-31 12:09] rishikksh20 commented on #6282
@wkurniawan07  I submitted pull request after change in first two files.

[2016-12-31 14:22] #6274 closed

[2016-12-31 14:35] AnaghHegde opened #6285 "Local tests failing"
This is what i am getting after the local test.I dont know why its saying unable to connect to localhost because the dev server is in running state.

[=============================teammates.test.cases.ui.browsertests.MashupPageUiTest=============================]
Initializing Selenium: Using Firefox.
org.openqa.selenium.firefox.NotConnectedException: Unable to connect to host 127.0.0.1 on port 705

[2016-12-31 16:41] chowyb commented on #6285
Are you using a version of Firefox between 38.0.5 and 46.0.1?

On another note, are you getting similar errors when running `Travis tests`?

[2016-12-31 17:01] chowyb commented on #6253
Hi, I have set up the TEAMMATES repo on a new system a few weeks ago, and I remember this was caused by Eclipse's validation, which should be fixed using [this answer](http://stackoverflow.com/a/2268714).

[2017-01-01 02:13] damithc commented on #6049
@mohamed-moanis did you manage to resolve this issue?

[2017-01-01 03:28] AnaghHegde commented on #6285
@chowyb yes my firefox version is 46.0 .No i am not getting the same error

[2017-01-01 03:34] damithc commented on #6285
Is this helpful? https://support.mozilla.org/en-US/questions/1121133

[2017-01-01 03:46] AnaghHegde commented on #6285
@damithc My firefox is working fine and  localhost:8888 is also working fine/I dont know why its saying unable to connect to localhost

[2017-01-01 03:49] damithc commented on #6285
Tests need to connect to Firefox using the WebDriver. Just because the FF works for normal manual access doesn't mean tests will work.

[2017-01-01 03:51] AnaghHegde commented on #6285
@damithc so then the problem is with FF only?

[2017-01-01 04:23] damithc commented on #6285
@AnaghHegde the error specifically mentions `firefox`, so I suspect it is.

[2017-01-01 04:26] AnaghHegde commented on #6285
@damithc ok i ll try to fix it

[2017-01-01 09:40] AnaghHegde commented on #6183
@damithc is the issue still open ?

[2017-01-01 11:03] damithc commented on #6183
@AnaghHegde yes still open. There is an open PR for it but it doesn't seem to be active (#6252). You can submit a PR if you wish.

[2017-01-01 12:29] AnaghHegde commented on #6183
@damithc but its assigned to wkurniawan07.

[2017-01-01 12:32] AnaghHegde commented on #6282
@JosephineKwa is this still open?I am interested in working on this.

[2017-01-01 12:47] damithc commented on #6183
@AnaghHegde

He is the reviewer, not the author, of the PR.

[2017-01-01 13:12] JosephineKwa commented on #6282
Hi @AnaghHegde , currently someone else is working on this issue and there is a PR open for it. Perhaps you could select another [first timer issue from this list](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers), maybe try #4021?

[2017-01-01 13:34] okornoe commented on #6253
@damithc I have been able to setup the project am left with setting up the static analysis tools.
Thank you for your help so far.
@AnaghHegde

[2017-01-01 14:02] damithc commented on #6183
@AnaghHegde PRs are assigned to the reviewer.

[2017-01-01 14:09] #6086 closed

[2017-01-01 14:25] damithc commented on #4021
@AnaghHegde you can see for yourself if the issue is open and if there are other ongoing PRs for it (if there are PRs for an issue, they are mentioned in the issue thread).

[2017-01-01 14:29] AnaghHegde commented on #4021
@damithc can you please guide me how to proceed as this is my first contribution

[2017-01-01 14:34] damithc commented on #4021
@AnaghHegde

This is the best place to start https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md
If you have specific questions, you can post them in the issue tracker if you cannot find the answer yourself. To a great extent we expect contributors to figure things out by themselves, which is a necessary skill for OSS developers.

[2017-01-01 14:44] wkurniawan07 opened #6287 "EmailGeneratorTest failing due to change in year"
[code]
This calendar object was instantiated during test. The problem is the year is not specified and thus in this new year it shifts from 2016 to 2017, failing one of the tests.
This is to be addressed ASAP because it causes the current `master` build (and subsequently all PRs) to actually fail.

[2017-01-01 15:20] #6287 closed

[2017-01-01 17:06] ovshake commented on #6253
@damithc @AnaghHegde I am almost completed in setting up the dev environment but this XML problem came up.  How should I go about it?
![xml](https://cloud.githubusercontent.com/assets/22028532/21582150/b92a1914-d072-11e6-99b6-a71dcddf1e7b.png)

[2017-01-02 05:32] wkurniawan07 commented on #6253
@ovshake we don't validate our XML files so you can skip those.

[2017-01-02 05:38] wkurniawan07 commented on #6285
From this error message section:
[code]
I suspect it is a Linux-specific error, but I'm afraid I cannot help since I'm not a Linux-based developer.

[2017-01-02 07:19] ovshake commented on #6230
@damithc  I enrolled the student as was told as an instructor but I couldn't find a student join link. The document said click anywhere which I did but without any success. Please help.
![studentenroll](https://cloud.githubusercontent.com/assets/22028532/21585622/e45c2a2e-d0e9-11e6-9a7d-9cd4a1a0bf9e.png)

[2017-01-02 07:54] damithc commented on #6230
@ovshake
You need to search for student as an admin, not as an instructor. The screenshot you have is an instructor page.

[2017-01-02 07:55] #6228 closed

[2017-01-02 09:12] damithc opened #6290 "Student: view session results: do not show self responses"
Current:
When students view session results, they can see responses they gave to others.

Suggestion:
Don't show responses the user gave to others. Instead, give a link to show the corresponding submission page.

Justification:
Self-responses clutter the page. Some students get confused by self-responses.

[2017-01-02 11:13] damithc commented on #3744
More users are requesting this feature.

Here's the relevant view:
![image](https://cloud.githubusercontent.com/assets/1673303/21588205/8133d84e-d11f-11e6-9bd9-16247c20b0ff.png)

[2017-01-02 14:24] wkurniawan07 opened #6292 "Make EmailSender a mock-able and testable API"
Part ~~six~~ seven and the last part of #6223.

This follows the idea of `TaskQueuer` and `MockTaskQueuer` introduced in #6275 and #6276, thus put on hold until those two PRs are merged.

[2017-01-02 15:07] AnaghHegde commented on #6285
@wkurniawan07 its ok. Now i have switched from linux to windows environment.Thanks for the help.

[2017-01-02 15:25] wkurniawan07 commented on #6285
@AnaghHegde noted on that, so closing the issue.

[2017-01-02 15:25] #6285 closed

[2017-01-02 15:25] wkurniawan07 commented on #6272
Fixed in #6257.

[2017-01-02 15:25] #6272 closed

[2017-01-02 15:26] wkurniawan07 commented on #6254
The instruction is now present after #6257, so closing the issue.

[2017-01-02 15:26] #6254 closed

[2017-01-02 16:55] ovshake commented on #6230
@damithc Sorry. I got it now. Thanks!
I ran all the tests. 2 failures came. I again ran all the failed tests. The failures remain. Is it normal or this mistake is caused due to some errors in setting up the environment.
thanks!
![errors](https://cloud.githubusercontent.com/assets/22028532/21593184/5d6ed0ce-d13a-11e6-8b1e-7bbdf5c24388.png)

[2017-01-02 20:06] ovshake commented on #6230
Also I have a general doubt with regarding to github. My fork of this repo is 3 pull requests behind. I want to update it. How shall I do it? I googled, they all said use Git bash, PoshShell, etc. I am clueless. Please help. @damithc

[2017-01-03 01:36] #6183 closed

[2017-01-03 02:54] wkurniawan07 commented on #6230
@ovshake

For the screenshot you posted, there are more urgent problems than 2 failures. Did you run the tests when your dev server was running?

I presume you mean 3 commits behind. What you Googled are all correct; using Git bash, PoshShell, or other command line utility are the way to go since GitHub does not support automatic fork update just yet.
This is not a TEAMMATES-specific issue; most i

[2017-01-03 02:55] aravindputrevu commented on #6230
[code]
I did the same.Copied from below article.
http://stackoverflow.com/questions/7244321/how-do-i-update-a-github-forked-repository

[2017-01-03 03:12] wkurniawan07 commented on #3870
Looks like I enter the party quite late :p

Anyway, renaming to table sort is inaccurate because it is **not** what is being tested. The said test intends to test various functions in `AppPage.java`, but the only function that is tested is `verifyTablePattern` so if there is anything to rename, it should be from `appPage0.html` to `appVerifyTablePatternTestPage.html`. `AppPageUiTest` should not be

[2017-01-03 04:27] AnaghHegde opened #6296 "Wrong Status Message in AdminAccountDeletePageActionTest"
When deleting a Admin Account in AdminAccountDeletePageActionTest.java  , Const.StatusMessages.INSTRUCTOR_REMOVED_FROM_COURSE is used. And there is no status message defined for this action in StatusMessages class in Const.java.

[2017-01-03 07:23] damithc opened #6297 "Update user map for Dec 2016"
To be done after #6203
Here  are the ones to consider adding.

[code]

[2017-01-03 08:46] ovshake commented on #6230
@damithc I am so sorry for that. I am new to open source projects, and GitHub is very new to me despite repeated attempts to understand it. And yes, I ran the tests when the dev server was running (I also double checked the UTC configuration). This is my Travis results. Could you please point what are the urgent problems?

![errors2](https://cloud.githubusercontent.com/assets/22028532/21602878/a0f

[2017-01-03 08:53] aravindputrevu commented on #6230
@ovshake  seems there is a assertion error. Why don't you try debugging the test case in CourseJoinRemindEmailTaskQueueTest.java
 Also, is TestNG plugin properly installed. Check for the version you have installed. I did setup recently.

It is written in docs like make sure your  TestNG **Local** tests passes on dev server. Try executing that suite.

[2017-01-03 10:05] aravindputrevu opened #6298 "Upgrading AppEngine SDK to latest version ?"
I would like to know why the older version of AppEngine SDK is used. Why can't we upgrade it by resolving issues ?

[2017-01-03 11:10] ovshake commented on #6230
@aravindputrevu I think I installed the latest version. Could you please help me by specifying the correct version of the plugin? Thanks!

[2017-01-03 11:53] aravindputrevu commented on #6230
` TestNG	6.10.0.201612030230	org.testng.eclipse.feature.group	Cedric Beust`

This is the version i have installed. Go to Eclipse Marketplace and download it from there.

[2017-01-03 13:47] #6282 closed

[2017-01-03 14:01] wkurniawan07 commented on #6298
Thanks for your query, @aravindputrevu! There are two reasons for this:
- Prior to a few months ago, this project did not use an automated dependency management. This makes updating dependency difficult (if not impossible), thus it is not a regular thing to do (if something to do at all) for the project maintainers.
- Even after that, keeping all dependencies up-to-date at all times is not practic

[2017-01-03 14:05] wkurniawan07 commented on #6296
@AnaghHegde you have to fix the test failure in the PR itself, not in another issue. We do not allow a failing build (❌) to be merged without good reason.

[2017-01-03 14:05] #6296 closed

[2017-01-03 14:33] AnaghHegde commented on #6296
@wkurniawan07  i m not talking about the test failure.The issue #4021 is different( it is with respect to AdminAccountDetailsPage where When deleting a student in Admin Account Details, Const.StatusMessages.INSTRUCTOR_REMOVED_FROM_COURSE is used instead of Const.StatusMessages.STUDENT_DELETED), what i have posted here is about the AdminAccountDeletePageActionTest . I think these two are different.

[2017-01-03 14:43] #6148 closed

[2017-01-03 14:52] wkurniawan07 commented on #6296
@AnaghHedge, do go through the said test once again. The account that it is removed is an instructor account, not an admin account, thus the status message is correct.

A general, high-level comment: when something does not work right in the application, it is often not meaningful to talk about the tests. The latter are meaningful only when the tests themselves are not right. There is a difference

[2017-01-03 15:28] #6231 closed

[2017-01-03 15:56] aravindputrevu commented on #6298
Okay ! Please let me know if i can help in anyway.

[2017-01-03 15:56] #6298 closed

[2017-01-03 16:03] AnaghHegde commented on #6296
@wkurniawan07 Thanks for information related to test and bugs.

[2017-01-04 05:09] wkurniawan07 opened #6300 "Refactor TimeHelper and most time-related usages"
Working on timezone/DST/time-related functions is not really comfortable now because the API of `TimeHelper` is undocumented (in many parts), untested (many functions), under-utilized (many functions still hard-code `Calendar.getInstance`, `Calendar.set`, etc.) and contains many unnecessary functions. To put it in one word: under-maintained.

[2017-01-04 06:09] ablyx opened #6301 "New contributor self intro Ming Shin"
a) the link to your app: https://teammates-mingshin.appspot.com/

b) link to your fork: https://github.com/ablyx/teammates

c) a screenshot of the change you did (as seen on the UI): I removed the google id next to logout because 1. it was easy, 2. it was confusing to me (I thought clicking that would lead to profile)

Before

![image](https://cloud.githubusercontent.com/assets/16754650/21632769/7

[2017-01-04 06:37] ablyx commented on #5496
Hi, can I have a go at this?

[2017-01-04 07:46] ovshake commented on #6230
@aravindputrevu I cloned the repo again as I wanted to double sure of everything. But this time when I tried to run the server I am getting an error of "No modules associated with this server instance." What mistake I could be doing?

[2017-01-04 07:57] aravindputrevu commented on #6230
http://www.developmentshack.com/no-modules-associated-with-this-server-instance-google-app-engine/112

[2017-01-04 14:42] damithc commented on #5496
Sure @ablyx

[2017-01-04 15:51] #6243 closed

[2017-01-05 14:52] #6273 closed

[2017-01-05 14:55] wkurniawan07 opened #6302 "Improve MockTaskQueuer to test other details of queued tasks"
~~Last part~~Part six of #6223.

Currently `MockTaskQueuer` is only capable of checking the number of named tasks queued, not the details of the tasks themselves. To restore some of the previously existing tests, the details of the tasks (i.e. the parameter map) needs to be check-able as well.

[2017-01-05 23:00] mohamed-moanis commented on #6049
@damithc  no not with English. When a browser is set to English, google products re translate their pages depending on your IP location. I found some "GET" request parameters that could change that but that doesn't work with the "sheets" app.

I guess a change in the test case itself would be more appropriate.

[2017-01-06 04:46] wkurniawan07 opened #6304 "Disable TaskQueuesLogicTest"
It seems like the test is fragile in CI environment. Will disable it first, to reactivate possibly in #6302.

[2017-01-06 07:06] hackosinn opened #6306 "Deploying project to staging server"
i don't know how to deploy the changed version to server. i have set up teammates development environment on my laptop.

[2017-01-06 07:12] damithc commented on #6306
@hackosinn did you look through the relevant parts in project documentation? Google app engine is public domain tool which comes with a lot of documentation, so you should be able to find more details over there too.

[2017-01-06 09:15] #6304 closed

[2017-01-06 12:28] DIL8654 opened #6307 "Problem in environment setup"
<img width="529" alt="eclispe_import_issue" src="https://cloud.githubusercontent.com/assets/10825139/21717889/d8d2955a-d439-11e6-93b5-4985705f03e1.png">
Dear Team,

I am trying to setting up development environment for TEAMMATES project. I have settled up everything newly ( eclipse, github, app engine, jdk 1.7), but when I am trying to import project to eclipse, it says project already in workspac

[2017-01-06 12:38] DIL8654 commented on #6307
Dear Team,

Sorry for the misleading, it was success after few restarts of eclipse. I guess it is because of eclipse cache files.

Regards,
Dilanka

[2017-01-06 12:38] #6307 closed

[2017-01-06 18:29] hackosinn opened #6310 "New contributor self intro [anand singh]"
a) link to your app- http://localhost:8888/page/studentHomePage?user=anandsmart55

b) link to your fork-https://github.com/hackosinn/teammates

c)  a screenshot of the change you did (as seen on the UI). i changed the title in view team page to Team Details. removed the import of the course id next to Team Deatils as we are already showing the course id along with other details.

Before

![screens

[2017-01-06 19:03] hackosinn commented on #6306
thanks for the help...

[2017-01-06 20:26] nikhilmudholkar opened #6311 "Unsupported major minor issue 52"
I got the error mentioned in the title. I looked up the net and people suggested me to uncheck the box mentioned in the image below and select 1.7 in compilation level.

![issue 1](https://cloud.githubusercontent.com/assets/20753893/21731760/03a8c30c-d47c-11e6-991d-89e3d5489599.png)

But when i do it and then apply settings. The settings don't get applied. The checkbox returns to it's orignal stat

[2017-01-07 06:56] nikhilmudholkar commented on #6311
I tried doing what was told to do in troubleshooting guide about the "unsupported major minor issue 52". But that dosen't seem to be working. I am still getting the same error. Even the problem mentioned above was solved and i tried setting compilation level to 1.7 . Still the same error.

[2017-01-08 09:05] wkurniawan07 opened #6312 "Update process.md, glossary.md, overview.md"
They are not done in #6257 because:
- The first one is pending the furnishing of the [oss-generic repo](https://github.com/oss-generic/process).
- The latter two are because I didn't think they would change much back then, but small change is still a change so it's about time to wrap them up now.

[2017-01-08 13:28] wkurniawan07 commented on #5915
Reopened as it is still pending the front-end part.

[2017-01-08 13:31] wkurniawan07 commented on #5423
Resolved in 1b2db7a.

[2017-01-08 13:31] #5423 closed

[2017-01-08 13:38] #6306 closed

[2017-01-08 13:42] wkurniawan07 commented on #6310
Welcome to TEAMMATES, @hackosinn!
The "link to your app" posted is incorrect, though, it should be something like `https://teammates-hackosinn.appspot.com/page/studentHomePage?user=anandsmart55` (I pick the app name randomly, but you get the idea). Have you managed to deploy your own app to a staging server?
Nevertheless, you are welcome to contribute to some issues. Most, especially the easier on

[2017-01-08 14:59] hackosinn commented on #6310
i created the server in my laptop and host the app on it. link works only when my laptop is on.
@wkurniawan07  if it is necessary then i can host it on google cloud platform.

[2017-01-08 15:00] #6278 closed

[2017-01-08 15:02] hackosinn commented on #6290
@damithc -  do we have to stop the import of self response or only remove the section which shows the self respons?

[2017-01-08 15:15] damithc commented on #6290
@hackosinn

What did you mean by 'import'?

[2017-01-08 15:19] hackosinn commented on #6290
@damithc -sir i mean that user don't need to submit response about himself.

[2017-01-08 15:23] damithc commented on #6290
@hackosinn

Stop showing the self-responses only. We should continue to collect self-responses.

[2017-01-08 15:26] hackosinn commented on #6290
@damithc -ok

[2017-01-08 16:19] #6302 closed

[2017-01-08 17:05] prashantpcm94 commented on #6297
I want to take this up

[2017-01-09 04:40] junhaoyap commented on #6310
@hackosinn, Welcome to TEAMMATES!

It is better if you will be able to do so because there will be certain issues whereby being able to stage your own server will be required, like @wkurniawan07 mentioned, it might not be necessary for beginner issues so you can start by working on one first timer issue before revisiting this, what is the problem you're having in hosting it on google cloud platfor

[2017-01-09 08:57] AnaghHegde commented on #6311
@nikhilmudholkar do you have java 8 installed in your machine? .Which os are you using windows 10?

[2017-01-09 09:14] junhaoyap commented on #6311
@wkurniawan07 can you assign someone on the Windows platform to this?

[2017-01-09 10:31] #5496 closed

[2017-01-09 11:29] hackosinn commented on #6310
@junhaoyap - i'm unable to register for free trial of google cloud platform.they are asking for debit card(though they will not charge) but they are not accepting my card.

[2017-01-09 12:01] hackosinn commented on #6310
@junhaoyap - i am posting the screenshot of the error (it says use jdk not jre)
![screenshot 253](https://cloud.githubusercontent.com/assets/19956681/21765803/1226f608-d691-11e6-885e-4d990dc13460.png)

i'm using jdk not jre.
![screenshot 254](https://cloud.githubusercontent.com/assets/19956681/21765858/5069e9a2-d691-11e6-9a38-4c101409de2a.png)

[2017-01-09 12:13] AnaghHegde commented on #5145
@damithc i am recently done with my FirstTimers issue. Can i work on this?. Is it still open ?.

[2017-01-09 13:32] damithc commented on #5145
@AnaghHegde I would say this is a VERY low priority issue, but you can take it up if other `d.Contributors` issues are not to your liking.

[2017-01-09 13:45] AnaghHegde commented on #5145
@damithc can you suggest some the issues so that i can know which are important ( priority ) because many issues are very old ( 2 years ) .

[2017-01-09 15:42] nikhilmudholkar commented on #6311
I am using windows 8.1. I had java 8 installed on my machine. But when this error showed, internet suggested me to uninstall it. But even after uninstalling, the problem continues.

[2017-01-09 16:29] AnaghHegde commented on #6311
@nikhilmudholkar did you set the JAVA_HOME for jdk 7?. Check if java.exe , javac.exe , javaws.exe is there in  C:\Windows\System32 if they are present delete those files and set the JAVA_HOME. I m not sure it will work , but it worked for me (i  also had a similar problem). In windows 10 you can't have both java 7 and 8 , i don't know if its true for 8.1 also .

[2017-01-10 03:11] damithc commented on #5145
@AnaghHegde it's ok to pick old issues.

[2017-01-10 09:49] AnaghHegde commented on #1939
@thyageshm is this still open?can i work on this?.I have recently completed the d.FirstTimers .

[2017-01-10 10:28] #4021 closed

[2017-01-10 10:38] wkurniawan07 commented on #6238
I've managed to set this up with all tests passing except for one.
@damithc can you add the project in AppVeyor? I can do it but it would be weird if the repo URL carries my username :p

[2017-01-10 11:09] damithc commented on #6238
@wkurniawan07

Done.

[2017-01-10 11:15] damithc opened #6317 "User map: move 'last updated date' to userMapData.json"
Currently the last updated date of the user map is in `src/main/webapp/usermap.jsp` while the user data is actually updated in `src/main/webapp/js/userMapData.json`.

Explore the possibility of moving the date into the json file so that only one file needs to be updated.

[2017-01-10 11:23] wkurniawan07 commented on #6238
It seems like I can't access the settings page right now :S Unlike Travis, AppVeyor's access control mechanism seems to be different.
If there is no way to enable me (or any other repo admins) to modify the settings, can the following be applied (all in `General` tab):
- Check `Skip branches without appveyor.yml`
- Check `Rolling builds`
- Git clone depth: 50 (following Travis)
- Branches to build

[2017-01-10 11:38] wkurniawan07 commented on #6238
Might want to consider [this](https://www.appveyor.com/docs/team-setup/#setting-up-appveyor-account-for-github-organization) as well.

[2017-01-10 11:38] damithc commented on #6238
Done, except the 'Branches to build' setting. I left it to 'all branches' just to see how it goes. If it turns out to be damper on our workflow, we can set it to 'master' only.
If you find out how to add more admins to a project, let me know.
Badge: [![Build status](https://ci.appveyor.com/api/projects/status/dvr6t33lqg6hsmxw?svg=true)](https://ci.appveyor.com/project/damithc/teammates)

`[![Build

[2017-01-10 11:44] AnaghHegde commented on #6317
@damithc  i am interested in this. can i work on this ?

[2017-01-10 13:36] damithc commented on #6317
@AnaghHegde sure

[2017-01-10 13:41] AnaghHegde commented on #6317
@damithc can you guide me a little about the issue. I didn't get the issue .

[2017-01-10 13:46] damithc commented on #6317
@AnaghHegde Have a look at #5792 That should help you understand what this issue is about.

[2017-01-10 13:55] AnaghHegde commented on #6317
@damithc one more thing just to confirm its with respect to only user map right?

[2017-01-10 13:57] damithc commented on #6317
Yes.

[2017-01-10 14:01] AnaghHegde commented on #6317
@damithc Correct me if i am wrong ok but in the issue #5792 the date is updated no?. So i just have to again update it for latest user map right ?.

[2017-01-10 14:06] damithc commented on #6317
No, you misunderstood the issue entirely. Give it another go (i.e read the issue description again and give it some more thoughts). :-p

[2017-01-10 14:16] AnaghHegde commented on #6317
@damithc ok. So i have to move (add in json file ) the last updated date to userMapData.json and make it display in the webpage right? and remove the last updated date in usermap.jsp file ?

[2017-01-10 14:18] damithc commented on #6317
Yes, that's right.

[2017-01-10 14:23] damithc opened #6319 "Update feedback entry count to 5 million"
Update the feedback entry count (shown in the home page) to 5,000,000 as at 31 Dec 2016

[2017-01-10 14:26] damithc opened #6320 "README.md: Update users count badge to 140K"
The current badge is showing 80K. Should be updated to 140K

[2017-01-10 14:48] wkurniawan07 commented on #6238
@damithc it seems like building PRs are enabled via webhook (configured via GitHub) and not via the specified "Branches to build", and the latter will cause all branches pushed to this repo (not including forks), regardless of being part of a PR or not, to be built. Perhaps limit it to `master` and `release` first and see if it is indeed the case?
Confusing indeed but we don't have a say on how th

[2017-01-10 15:11] damithc commented on #6238
Done. 👍

[2017-01-10 16:33] paradite commented on #6317
I think this is actually quite hard to do. The approach I can think of is to:
- fetch the data from json using javascript
- render it within the jsp using javascript

[2017-01-10 17:22] AnaghHegde commented on #6317
@paradite Thanks for the input.

[2017-01-10 20:31] AnaghHegde commented on #6317
@damithc can you please help me in #6322 .Its failing in code formats even though i did the source format.

[2017-01-11 03:12] wkurniawan07 commented on #6310
@hackosinn I'm referring to your second screenshot: it shows all the installed JREs to be used by Eclipse, not necessarily to be used by any particular project. The one that you should be paying attention to is `Project -> Properties -> Java Build Path -> Libraries -> JRE System Library`. Does it correctly use a JDK 1.7?

[2017-01-11 03:13] #6253 closed

[2017-01-11 04:20] DIL8654 opened #6323 "Need Help on failing test"
Dear Team,

I am trying to setup dev environment and trying to become new contributor.

I have tried to run test all and got some errors, it is looks like time format, but when I change time format of the my laptop, still showing these errors as in attached log.

Appreciate kind help on this.

Regards,
Dilanka
[test_failing_log.txt](https://github.com/TEAMMATES/teammates/files/698000/test_failing_

[2017-01-11 10:34] chowyb commented on #6323
Hi @DIL8654,

Have you set the timezone to UTC in your VM (link [here](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#testing))?

[2017-01-11 11:00] samsontmr opened #6326 "New contributor self intro [Samson]"
a) [teammates-samson.appspot.com](http://teammates-samson.appspot.com)
b) [https://github.com/samsontmr/teammates](https://github.com/samsontmr/teammates)
c) a screenshot of the change you did (as seen on the UI)
*Before*
![before](https://cloud.githubusercontent.com/assets/15007950/21845910/8716fb94-d82f-11e6-92f5-53eaa9de9488.png)
*After (improved text readability)*
![after (improved text readab

[2017-01-11 11:00] wkurniawan07 opened #6327 "Create issue templates"
**What is the proposed new/enhanced feature?**

Templates for creating issues in our issue tracker.

Templates are quite commonly used in other open source projects to streamline the process of issue reporting. For example:
- Bug reports: "Which environment the bug comes from" (dev/staging/live at some version), "What is done", "What is the expected behaviour", "What is the actual behaviour", etc.

[2017-01-11 11:03] #6067 closed

[2017-01-11 11:16] wkurniawan07 commented on #6323
@DIL8654 in addition, it seems like you're using the command line to run the tests. In that case, you have to do a `./gradlew clean` before running another test run with the same command. Have a look on Gradle's UP-TO-DATE documentation if you wish to understand why this is the case.

[2017-01-11 11:32] chowyb opened #6328 "instructorHelp.jsp: Reorder entries in Table of Contents"
Currently, this entry ("What to do if a student says he cannot submit responses due to some technical glitch?") in the table of contents for instructorHelp.jsp (highlighted in red in the screenshot attached) does not agree with the ordering of the actual contents. It should be placed in the position marked by the green arrow instead (just under "How do I interpret/use contribution values in the re

[2017-01-11 11:56] #6223 closed

[2017-01-11 11:56] #6292 closed

[2017-01-11 12:50] wkurniawan07 opened #6329 "Implement InstructorFeedbackRemind(ParticularStudents)ActionTest"
It was left empty before with the following reason:
[code]
The reason is no longer valid because the architecture of the task queue has been enhanced to allow for testing (refer to #6223).

[2017-01-11 12:51] wkurniawan07 commented on #6237
The reason I'm quite reluctant of implementing this is because our own build has already supported CheckStyle, PMD, ESLint, Stylelint, etc. which essentially is what Codacy uses.
If we really need a quality badge, [SonarQube](https://www.sonarqube.org/) is the industry leader by far.

[2017-01-11 13:14] AnaghHegde opened #6330 "Invalid link and no image for University Count in README.md file"
![screenshot 40](https://cloud.githubusercontent.com/assets/12005551/21849827/cf2a4a00-d82d-11e6-8605-315e7de56e26.png)

Both the image and link are not working properly.

![screenshot 41](https://cloud.githubusercontent.com/assets/12005551/21849836/da68c572-d82d-11e6-8ba0-254772c39492.png)

[2017-01-11 14:20] #6203 closed

[2017-01-11 14:21] wkurniawan07 commented on #6330
This happens intermittently and is not a consistent failure.

[2017-01-11 14:21] #6330 closed

[2017-01-11 17:56] AnaghHegde opened #6332 "Java problem : account cannot be resolved to a variable"
Suddenly i am facing this java problem. I don't know what's wrong .

![screenshot 42](https://cloud.githubusercontent.com/assets/12005551/21860153/5e754ff8-d855-11e6-82d0-a5a51db3f4ad.png)

[2017-01-11 20:07] hackosinn commented on #6310
@wkurniawan07 - Sir, what did u mean by "Does it correctly use a JDK 1.7

[2017-01-12 00:14] thyageshm commented on #1939
Hi, welcome to the team! I believe it is still open. Please go ahead and give it a try.

[2017-01-12 03:17] xpdavid commented on #6332
Seems like dependency issue. Try `./gradlew resetEclipseDeps` (`gradlew.bat resetEclipseDeps` on Windows) ?

[2017-01-12 03:25] #5856 closed

[2017-01-12 04:24] wkurniawan07 opened #6333 "Clean up the usage of logic.api, logic.core, and storage.api"
According to the application's architecture:
- `*Logic` should be allowed to talk only to its corresponding to `*Db`. There are minor violations.
- The core `*Logic` should be made singleton because by design it is allowed to communicate to other `*Logic` classes. Otherwise it will cause a circular initialization; an infinite loop. There is a TODO mentioning "There's no need for this class to be a

[2017-01-12 05:12] paradite commented on #6317
https://github.com/TEAMMATES/teammates/issues/6317#issuecomment-271586376

testing.

[2017-01-12 06:01] xpdavid opened #6336 "New contributor self intro [Xiao Pu]"
a) [https://teammates-xiaopu.appspot.com/](https://teammates-xiaopu.appspot.com/)
b) [https://github.com/xpdavid/teammates](https://github.com/xpdavid/teammates)
c) a screenshot of the change you did (as seen on the UI) Related to issue #3328
_Before_:
![screen shot 2017-01-11 at 8 31 31 pm](https://cloud.githubusercontent.com/assets/13977235/21878751/444df2ae-d8cf-11e6-9967-8512822626a9.png)
_Aft

[2017-01-12 07:23] AnaghHegde commented on #6317
@paradite I didn't get you.

[2017-01-12 07:41] paradite commented on #6317
@AnaghHegde Ah sorry. I was just testing out something It is not related to you or the issue, you can ignore it.

[2017-01-12 09:25] junhaoyap commented on #6326
@samsontmr, welcome to TEAMMATES and good job on finishing the orientation tasks! 👍 Your first link is incorrect as it links to something github, removing the github prepended url works so there's not big issue here!

I see that you'll be contributing as part of CS3281/2 so I hope you can start by looking at some first timer issues, seeing as you have already contributed to other open source proje

[2017-01-12 09:26] junhaoyap commented on #6336
@xpdavid, welcome to TEAMMATES and good job on finishing the orientation tasks without mistakes! 👍

I see that you'll be contributing as part of CS3281/2 so I hope you can start by looking at some first timer issues, it will be a good chance for you to start getting your feet wet!

[2017-01-12 09:30] xpdavid commented on #6336
@junhaoyap I have completed one first beginner issue #6213 and a issue for contributor #6324.
I will continue to work on this project :)

[2017-01-12 09:30] samsontmr commented on #6326
Strange, must have been the http://. I've created PRs on some issues!

[2017-01-12 12:13] AnaghHegde commented on #6332
@xpdavid No luck, still same problem.

[2017-01-12 13:39] AnaghHegde commented on #1939
@thyageshm Can you please be a little specific about the functions?. Like what are the new functions that were added? or can you guide me a little. So that i will get a clear picture about the issue.

[2017-01-12 14:51] chowyb commented on #6332
This is caused by Eclipse's validation, which should be fixed using [this answer](http://stackoverflow.com/a/2268714) by disabling the validation. The .jsp files actually contain valid code, but the default validation of Eclipse thinks otherwise.

[2017-01-12 14:53] wkurniawan07 commented on #6332
@AnaghHegde have you tried refreshing the project folder?

[2017-01-12 14:56] #6319 closed

[2017-01-12 15:21] AnaghHegde commented on #6332
@chowyb no use,i did that earlier only.

@wkurniawan07 i closed the project and then reopened the project.Still no luck.

[2017-01-13 00:42] damithc commented on #6332
@AnaghHegde use git to check if your code matches our master branch. Discard changes, if any. If that doesn't work, may be try to do a fresh set up just to figure out what went wrong?

[2017-01-13 01:42] AnaghHegde commented on #6332
@damithc ok i will try to figure out what went wrong. Fresh start in the sense from the scratch? right.

[2017-01-13 02:43] AnaghHegde commented on #6317
@damithc Can you please tell me what does this error says :   Unexpected negated condition  no-negated-condition . I got this in build log.

[2017-01-13 03:16] wkurniawan07 commented on #6332
@AnaghHegde closing and reopening the project is not the same as refreshing.

[2017-01-13 03:25] damithc commented on #6317
Let's see what happens after redoing your PR from scratch after a fresh setup.

[2017-01-13 03:29] #3328 closed

[2017-01-13 03:36] xpdavid commented on #2818
@damithc
I manage to do this, but there is one question.

![screen shot 2017-01-13 at 11 32 33 am](https://cloud.githubusercontent.com/assets/13977235/21917609/02e390e8-d984-11e6-9a08-e7b03345bb53.png)

I think we should show the message as `warning` message. But the `/js/feedbackSubmissionsEdit.js` included in the page would detect if there are warning message box (typically `.alert-warning.statu

[2017-01-13 04:43] AnaghHegde commented on #6317
I did from the scratch and this is the only error i am getting.So i am
asking this.

On Fri, Jan 13, 2017 at 8:55 AM, Damith C. Rajapakse <
notifications@github.com> wrote:

[2017-01-13 05:00] AnaghHegde commented on #6332
@wkurniawan07 what i meant was re importing the project again to the workspace.

[2017-01-13 06:12] whipermr5 opened #6340 "New contributor self intro [John]"
a) https://teammates-whipermr5.appspot.com/
b) https://github.com/whipermr5/teammates
c) Reduced footer text size and added some top padding
<img width="1062" alt="improvement" src="https://cloud.githubusercontent.com/assets/6811428/21919925/cefd85ee-d998-11e6-82ce-78c497b8eaf2.png">
d) I'm John and I'll be contributing to TEAMMATES as part of CS3281/2. Excited to explore AppEngine features (e.g.

[2017-01-13 06:52] whipermr5 opened #6341 "Invalid JSON in userMapData.json"
I get an error in Eclipse due to a [trailing comma](https://github.com/TEAMMATES/teammates/blob/9ab1d28c0f36fd4df90470356c15457700a49d19/src/main/webapp/js/userMapData.json#L251) and [missing comma](https://github.com/TEAMMATES/teammates/blob/9ab1d28c0f36fd4df90470356c15457700a49d19/src/main/webapp/js/userMapData.json#L1021). This violates the [JSON spec](http://www.json.org/).

[2017-01-13 07:36] AnaghHegde opened #6343 "Dev docs: correct the link to airbnb JavaScript Style Guide"
The [docs](https://docs.google.com/document/d/1gZ6WG6HBTJYHAtVkz9kzi_SUuzfXqzO-SvFnLuag2xM/pub?embedded=true) which contains information about the JavaScript coding standard  has a link to airbnb website and its no longer valid.

When i did a little search for the airbnb Javascript Style Guide, in their github page it says ES5 deprecated.
![screenshot 47](https://cloud.githubusercontent.com/assets

[2017-01-13 08:46] damithc commented on #6343
May be we can use https://github.com/airbnb/javascript as the JS standard? The alternative is to use https://google.github.io/styleguide/javascriptguide.xml

@junhaoyap @wkurniawan07

[2017-01-13 08:52] wkurniawan07 commented on #6343
The first one won't work; it's tailored for ES6.

The ES5 guide was marked by them as "deprecated" because Airbnb doesn't write ES5 anymore (I wonder when we could follow suit...), but is still a good reference for ES5-based developers. The Google one is also a good reference. No preference from me on which one out of these two should be used.

[2017-01-13 09:06] #6341 closed

[2017-01-13 12:01] thyageshm commented on #1939
Please take a look at src/test/javascript folder. There are 4 isolated functions defined at the bottom of the page. Follow the examples of other jsTests and test those 4.

[2017-01-13 12:23] AnaghHegde commented on #1939
@thyageshm Can you please tell exactly or be more specific. I am confused here.

[2017-01-13 12:27] AnaghHegde commented on #6329
@wkurniawan07 I am interested in this. Can i work on this ?.

[2017-01-13 12:42] xpdavid commented on #6329
@AnaghHegde I have done with it. PR on the way. Sorry

[2017-01-13 13:03] AnaghHegde commented on #6329
@xpdavid ok sure.No problem i will find other.

[2017-01-13 13:08] AnaghHegde commented on #6256
@damithc I am interested in this.Can you guide me how should i have to proceed?

[2017-01-13 15:10] wkurniawan07 opened #6346 "Use package.json and CDN to entirely manage front-end dependencies regardless of environment"
It will be a contradiction to #3923, but I have experienced that having to sync the copies (particularly during updates) adds a non-trivial maintenance burden. I therefore propose to reverse the decision made in that issue and opt for using CDN fully for external files, dev environment or not.

Cons:
- Internet connection is required. One of the original intention of that issue was to severe the n

[2017-01-13 20:36] hackosinn opened #6347 "Difficulty downloading app engine SDK while setting up dev server"
command to download app engine  is not downloading any app engine. i'm running the command in root directory. it says build successful but there is no app engine  folder in root directory.

Screenshot:
![screenshot 271](https://cloud.githubusercontent.com/assets/19956681/21945022/1158d7f2-d9ff-11e6-81a9-2ac4045e41e9.png)

[2017-01-13 23:45] damithc commented on #6346
We can try it out.

[2017-01-14 01:20] wkurniawan07 commented on #6347
It is never intended to be downloaded in the project's root directory in the first place. Gradle does not work that way.

[2017-01-14 01:33] xpdavid commented on #6347
The task `appengineDownloadSdk` is provided by google app engine plugin for Gradle.

[2017-01-14 01:51] damithc commented on #1939
@AnaghHegde let's try to finish your other PR first. Also, try to pick issues that you have a reasonable idea how to do.

[2017-01-14 02:14] xpdavid commented on #6290
![image](https://cloud.githubusercontent.com/assets/13977235/21951464/cbf4d786-da41-11e6-9a23-4fabc3af62c9.png)
@damithc Currently, the self-response is shown in different colour (maybe that is clear enough). So what I am thinking is to add a phrase like "self-response" instead of removing it.

[2017-01-14 02:38] damithc commented on #6290
Yes, we can try that. Use 'Your own response' instead? Perhaps use grey color for panels, to tone them down further? Another idea is to collapse them by default, but that can be a different PR.

[2017-01-14 02:51] wkurniawan07 opened #6349 "Update design.md to reflect on the current application architecture"
After the massive restructuring (which actually is still ongoing) of the application, the architecture diagrams have become very outdated.
Although this may need to wait for a while more as more restructuring are still on the way.

[2017-01-14 03:08] xpdavid commented on #2312
If we want to load the image asynchronously, we need to create a JavaScript Object "Image" to do this in the background (just like send a ajax request). Cannot simply change `src` to "ajax-loading.gif" and change back as this is not asynchronous. An example is [here](http://blog.teamtreehouse.com/using-jquery-asynchronously-loading-image) @wkurniawan07 @damithc Any suggestions?

[2017-01-14 03:15] whipermr5 commented on #6269
I can reproduce the problem locally; when running `./gradlew travisTests` the first test try fails but the second and third are skipped. Upon further investigation, it's due to [this line](https://github.com/TEAMMATES/teammates/blob/c809d91c597124ff2e64d6f30c6a07fe6d566581/build.gradle#L458) in the `onlyIf` clause; the xml report `build/reports/test-try-${id - 1}/testng-failed.xml` is somehow not

[2017-01-14 03:21] wkurniawan07 commented on #6269
@whipermr5 I can [make your life easier](https://issues.gradle.org/browse/GRADLE-1822) here. Bad news is it's something that looks beyond our reach :/

[2017-01-14 03:35] damithc commented on #2312
@xpdavid

This doesn't work at all, or doesn't have a good user experience at times? Until now I thought out 'loading...' gif is working correctly (based on my usage of TEAMMATES).

[2017-01-14 03:41] xpdavid commented on #2312
@damithc It works, but it is not asynchronously. Basically, if we do this, we just tell the browser **first** load `ajax-loading.gif` **then** load `profile-image.gif`. The task is executed sequentially.

[2017-01-14 03:48] damithc commented on #2312
So, not a big problem (although not ideal) in the context of 'loading...' spinner gif right? The gif is small and the user is not surprised to see it first.

[2017-01-14 03:55] xpdavid commented on #2312
That's true.
But if there network connection is not fast enough, the server is 'busy' to response, or the profile image is large, they may experience something like "loading the image progressively" (below)
![progressive](https://cloud.githubusercontent.com/assets/13977235/21952150/e12dbef2-da4f-11e6-8e47-ec99e1fe50bc.gif)
If we use asynchronous loading, we could show 'loading...' spinner gif unti

[2017-01-14 03:58] damithc commented on #2312
@xpdavid i see. I'm ok to make it async. @wkurniawan07 what do you think?

[2017-01-14 04:34] whipermr5 commented on #6269
It fails nicely when `numOfTestRetries` is 0. Looks like the problem lies with the failure not propagating through the skips.

[2017-01-14 12:39] xpdavid commented on #2305
Is this acceptable? @damithc
<img width="1148" alt="screen shot 2017-01-14 at 3 31 04 pm" src="https://cloud.githubusercontent.com/assets/13977235/21954884/3e0d1e6c-da99-11e6-9bcf-af3d3a97bb49.png">
One link for a submission form.
<img width="1131" alt="screen shot 2017-01-14 at 3 31 11 pm" src="https://cloud.githubusercontent.com/assets/13977235/21954885/3f78bd4c-da99-11e6-932d-2829be667f6c.png">

[2017-01-14 12:53] damithc commented on #2305
UI looks fine to me @xpdavid

[2017-01-14 13:32] Neurrone commented on #1872
I'd like to work on this.

In src/main/java/teammates/common/datatransfer/FeedbackSessionAttributes.java, why is the additional check being done in the isClosingWithinTimeLimit method (line 343)?

Looks like it would cause method to return true only if the number of hours left is 1 less than the time limit being checked for. Is this to stop multiple closing reminders from being emailed, based on t

[2017-01-14 16:08] hackosinn commented on #6347
i tried to apply plugin but got error-"Task apply is not found in root  project teammates".

[2017-01-14 16:10] hackosinn commented on #6347
@xpdavid  - can u elaborate the steps u did to download and install app engine.

[2017-01-14 16:18] wkurniawan07 commented on #6347
What did you mean by "apply plugin"?

Also, I recall that you have successfully run a dev server instance on your computer before. That should mean you have followed the setting up instructions correctly before. Have you done similarly this time?

[2017-01-14 16:27] wkurniawan07 commented on #6332
@AnaghHegde JSP files are not validated. Do refer to our setting up guide: ["We prefer not to use the HTML/JSP syntax validator provided by Eclipse"](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md#step-4-set-up-eclipse-ide). We have a [good reason for it](http://stackoverflow.com/questions/2268153/somevariable-cannot-be-resolved-error-indicated-in-eclipse-for-an-included-jsp/

[2017-01-14 16:28] #6230 closed

[2017-01-14 16:42] hackosinn commented on #6347
@wkurniawan07 - u r right. i followed the same steps as before but i don't know why am i facing problems this time. i downloaded the app engine from google and place it in root directory of teammates and in Eclipse → Preferences → Google → App Engine,  add app engine. it is not working.

[2017-01-14 16:47] xpdavid opened #6353 ""magic" string in "InstructorFeedbackRemindParticularStudentsAction""
There is a "magic" string in "InstructorFeedbackRemindParticularStudentsAction"
[code]
For good code quality, should use `Const.ParamsNames.SUBMISSION_REMIND_USERLIST` instead.
[code]

[2017-01-14 16:53] wkurniawan07 opened #6354 "Move logic.publicresource classes to ui.controller"
The said package contains just two classes (or to put it even more blatantly: _one_ abstract class and _one_ implementing class, essentially just _one_ class) extending `HttpServlet`.
This class does not connect to any core `*Logic` or even the API `Logic` so `teammates.logic.*` is the wrong place for it. As it is a Servlet class (i.e. next to most directly accessible by users), it should be place

[2017-01-14 16:56] xpdavid commented on #6347
@wkurniawan07 BTW It is necessary to create issue template.
@hackosinn Make sure you use correct java version and app engine version. Can you put the details of your errors? Like what eclipse tells you?

[2017-01-14 17:00] wkurniawan07 opened #6355 "Separate common.datatransfer package into sub-packages"
`teammates.common.datatransfer` is presently too cluttered and could be tidied up by breaking into sub-packages based on these categories:
- `.attributes`: the entity attributes, essentially those which can connect to the persistable entities.
- `.questiontypes`: the classes related to feedback questions and responses for different question
- `.bundles`: everything else (for the lack of more fine-

[2017-01-14 17:29] wkurniawan07 opened #6356 "Move access control tests to each respective action tests"
It was that case long before and combined into one file in 65e9825 for reasons I could not find. I will give two reasons why this is not a wise move:
- When a new action is added, the dev needs to add new `*ActionTest` for it _and_ a new test segment in `AllAccessControlActionTest`. The latter are easier to forget, and indeed there are a few (luckily not a lot) missing access control tests (perhap

[2017-01-14 17:55] hackosinn commented on #6347
@xpdavid - how did u download app engine. please write down the steps

[2017-01-14 18:02] wkurniawan07 commented on #6347
@hackosinn could you please explain what you have tried and what did not work? Giving out straightaway answers to "please write down the steps" is a form of spoonfeeding (Google this term if you do not know), and does not help in honing your developing/troubleshooting skills. Figuring generic things out like this is a necessary skill for developers working on open source projects.

[2017-01-14 18:14] hackosinn commented on #6347
@wkurniawan07 - apologies for that.i ran the command given in contribution guide to download app engine in root directory of teammates and output was build successful. but what should i select in Eclipse → Preferences → Google → App Engine as there is no app engine. the command to download the app engine didn't download the app engine.

[2017-01-14 18:22] wkurniawan07 commented on #6347
@hackosinn have you followed step 4 of the setting up guide, i.e. the same document?

[2017-01-14 18:42] hackosinn commented on #6347
@wkurniawan07  i followed every instruction of step 4. only problem i am getting is to select app engine in eclipse as there is no app engine to select. the command to download the app engine didn't download it.  screenshot of the command
![screenshot 273](https://cloud.githubusercontent.com/assets/19956681/21957189/3c49906a-dab7-11e6-9864-0c9f63f27f1f.png)

[2017-01-14 18:44] hackosinn commented on #6347
@wkurniawan07  according to guide command should download the required app engine, but it only says build successful

[2017-01-15 01:51] damithc commented on #6355
Keep in mind that packaging should be done based on coupling rather than category. i.e. a bunch of classes that work together should be in the same package.

[2017-01-15 02:20] damithc commented on #2818
Sorry @xpdavid I missed your question earlier.

I've forgotten details about this issue (my bad, I should have specified them in the issue).

1. Is the message shown (a) every time an instructor is moderating, or (b) only if some questions are actually hidden?

2. Is the message also shown to students when they submit responses, or just for the moderator?

[2017-01-15 02:26] xpdavid commented on #2818
@damithc
1. Currently the message shown every time an instructor is moderating, but can make it shown when there are actually hidden questions.
2. Student won't see the status message when they submit feedback. The message is only for moderator.

[2017-01-15 02:42] xpdavid commented on #6347
@hackosinn The app engine sdk won't be put in the `teamates` repo directory. Instead it will be put in the dir like `/Users/XP/.gradle` (in mac OS). Try run `./gradlew printUserHomeDir` to get the install dir.

[2017-01-15 02:51] damithc commented on #2818
OK, now I remember what the issue was about: change formatting of the message that already exists.

@xpdavid what's the possibility of showing the message in the top bar, just below the line `Moderating ...` so that the rest of the page remains as close to the student submission page as possible? e.g.

---

**You are moderating responses for (or submitting on behalf of) `abc@mail.com`**

* The pag

[2017-01-15 03:06] samsontmr commented on #6355
How about `.comment` , `.course`, `.student`, `.instructor`?

[2017-01-15 04:36] junhaoyap commented on #6336
@xpdavid great! Doing very well :)

[2017-01-15 04:37] junhaoyap commented on #6340
@whipermr5, welcome to TEAMMATES and good job on finishing the orientation tasks clean!

I see that you'll be contributing as part of CS3281/2 and I don't see any open pull request for first timer issues so I hope you can start by looking at some first timer issues, it will be a good chance for you to start getting your feet wet!

[2017-01-15 05:45] xpdavid commented on #2818
@damithc I agree. Sounds better if we do that.
![screen shot 2017-01-15 at 1 43 51 pm](https://cloud.githubusercontent.com/assets/13977235/21960485/adbb5d84-db28-11e6-81b0-eb6f5935f1ce.png)
Of course questions are not visible to student will not be shown. But moreover, questions that are not supposed to show responses, giver's name, recipient's name **to instructor** will also not be shown. So I r

[2017-01-15 06:01] damithc commented on #2818
@xpdavid looks good. Go ahead.
`to instructors (i.e. you)` --> `to you` ?

[2017-01-15 06:04] damithc commented on #2818
Another thing: may we should use `respondent` instead of `student`? I don't remember if we support moderating responses of instructors, and even if don't, in future we might.
Even better if we can choose Student/Instructor based on the actual type of respondent, but that can be a separate PR.

[2017-01-15 06:22] xpdavid commented on #2818
@damithc

Even better if we can choose Student/Instructor based on the actual type of respondent, but that can be a separate PR.

The detection is already implemented in the `.tag`
[code]
But the actual logic is not there. I think this is for future implementation of moderating responses of instructors.

I am not sure whether the users are aware of their roles as instructors. I am writing "instruc

[2017-01-15 06:30] damithc commented on #2818
I was trying to avoid two consecutive brackets.  Go ahead with a current version. We can get someone else's input during review stage.

[2017-01-15 07:30] #4656 closed

[2017-01-15 07:32] #6328 closed

[2017-01-15 08:01] wkurniawan07 opened #6360 "Reorganize parts of the test package"
In particular:
- `teammates.test.cases.ui`: the package contains action tests, the subpackage `browsertests` contains UI tests, and the subpackage `pagedata` contains page data tests. Bundling them is incorrect because these three types of test are entirely different: `pagedata` is a data transfer structure with no knowledge of the application components, `action` is the application component that

[2017-01-15 08:20] #5664 closed

[2017-01-15 09:29] samsontmr commented on #1426
w.r.t. #6358
Does anyone have an idea why this is happening?

I've tried using a .trim() on the comment before passing it into String.format() but this is still happening.

[2017-01-15 11:11] nikhilmudholkar commented on #6311
I am completely confused now. I completely deleted java8 from my PC. I even followed the tutorial guideline to the problem. Still i am getting the same issue. Is it related to the version of eclipse I am using?? I am using eclipse luna.
@wkurniawan07  what might be the issue and how can i solve it?

[2017-01-15 11:30] nikhilmudholkar opened #6361 "Dec app server not running as expected."
I have compiled my project properly. It is giving no errors initially. But when i go to http://localhost:8888/admin/adminHomePage  , it shows error in console as unsupported major minor issue 52. The login page is loading but after that this error comes. Please help. I am a bit new and facing lot of problems.

[2017-01-15 13:14] 95adityajain opened #6363 "Error while deploying to app engine"
`Error :` Unable to update app: Error posting to URL: https://appengine.google.com/api/queue/update?app_id=teammates-aditya&version=4-18&
400 Bad Request
**Invalid queue configuration**. Must be fewer than or equal to **_10 non-default entries_**

Above error occurs, when task queues are being deployed on app engine(As there are `11` task queues defined in `src/main/webapp/WEB-INF/queue.xml`).

Co

[2017-01-15 14:35] wkurniawan07 commented on #6363
Hmmmm it looks like the limit is imposed for apps with no billing enabled. Can you enable billing and try again? If you don't want to be charged, just set your spending limit to 0.

[2017-01-15 16:49] #6269 closed

[2017-01-15 18:29] wkurniawan07 commented on #6361
@nikhilmudholkar, I appreciate you trying to say that you have completely deleted Java 8 from your PC, but the evidence "unsupported major minor issue 52" has spoken that you still used Java 8. Can you provide evidence to support that you no longer use Java 8? Some places to find out from:
- The result of running `java -version` command
- The Eclipse configurations:
  - `Window -> Preferences -> J

[2017-01-15 18:33] wkurniawan07 commented on #6347
@hackosinn, please follow the step 4 carefully, word by word. There was at least one thing that you have correctly done before that you missed out now.

This one I can tell you: because you have downloaded it before. That is how dependency management tools work.

You don't really need to install your own Gradle.

[2017-01-15 18:57] nikhilmudholkar commented on #6361
![issue1](https://cloud.githubusercontent.com/assets/20753893/21965257/37717514-db82-11e6-883a-2106a2d1c5a3.png)

![issue2](https://cloud.githubusercontent.com/assets/20753893/21965264/3ecbfafa-db82-11e6-989c-181e3dac3775.png)

![issue3](https://cloud.githubusercontent.com/assets/20753893/21965266/473068de-db82-11e6-8430-be21e9d82158.png)

![issue4](https://cloud.githubusercontent.com/assets/20753

[2017-01-15 20:20] yash2o1o commented on #6353
hi, i am a first timer, if possible i would like to take this up.

[2017-01-16 00:08] damithc commented on #6221
We have another case of this. Team members have submitted, but one student says he cannot choose rubric options. The screenshot shows that names are missing too. When I access the same page, everything works.
![image](https://cloud.githubusercontent.com/assets/1673303/21967466/de79b07a-dbc2-11e6-90aa-8bd515b10db9.png)

[2017-01-16 01:33] xpdavid commented on #6353
@yash2o1o There is a PR on the way #6362. You may need to choose another issue to work on.

[2017-01-16 01:58] kanghj commented on #6361
@nikhilmudholkar, does http://localhost:8888 load fine for you? Anyway, although this usually only happens during deployment, you could try the second point under Common Problems in our [troubleshooting guide](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md#common-setup-errors-and-solutions) and see if doing [this](http://stackoverflow.com/questions/13913019/changi

[2017-01-16 06:21] nikhilmudholkar commented on #6361
![issue6](https://cloud.githubusercontent.com/assets/20753893/21972759/c0038746-dbe1-11e6-95d6-19ffd3eb9c5a.png)

as you can see localhost:8888 is working perfectly.

![issue7](https://cloud.githubusercontent.com/assets/20753893/21972770/e43ecd1e-dbe1-11e6-8016-a0b00a95d1fe.png)
even this login page is loading. But when i click login as checking the administrator box i get the error.

![issue8](ht

[2017-01-16 07:00] 95adityajain commented on #6363
Thanks. It worked.

[2017-01-16 07:35] li-kai commented on #6343
Is there any interest in migrating to ES6? I can set the transpilation for es6 to es5. The benefits would be cleaner code (especially `let` and `const`), up to date airbnb's eslint settings and minification of js scripts for use in production.

[2017-01-16 08:58] samsontmr commented on #6360
Do you need help with this? The second one seems easy enough

[2017-01-16 09:01] yash2o1o commented on #6320
hi , i am a first timer and would like to take this up.

[2017-01-16 09:09] li-kai opened #6365 "New contributor self intro [Li Kai]"
a) https://teammates-divided.appspot.com/
b) https://github.com/li-kai/teammates
c) Enlarged the click area for log in links, so no more aiming with your mouse!
<img width="276" alt="untitled" src="https://cloud.githubusercontent.com/assets/14850387/21976734/2d5d4d32-dc0e-11e6-95cd-5bee5b7b59c7.png">
<img width="238" alt="untitled1" src="https://cloud.githubusercontent.com/assets/14850387/21976735

[2017-01-16 09:24] li-kai opened #6366 "Homepage links open to same new tab"
Steps to reproduce:
1) Click on any of the links under `Well Received by the Academic Community` section of the [homepage](https://teammatesv4.appspot.com/), which opens a new tab.
2) Again, go back to the homepage and click on another link.

You will notice that the link opens to the same tab in step 1. The reason is that instead of `target="_blank"`, it is `target="blank"`.

[2017-01-16 09:26] li-kai opened #6367 "Security vulnerability: target="_blank""
As [explain in depth here](https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/), `target="_blank"` is a vulnerability if any of the external sites gets compromised. The fix is simple, attach `rel="noopener noreferrer"` to the `a` links.

[2017-01-16 09:34] damithc commented on #6320
@yash2o1o go ahead. No need to ask. :-)

[2017-01-16 11:00] 95adityajain opened #6369 "New contributor self intro [Aditya]"
a) http://4-18-dot-teammates-aditya.appspot.com/
b) https://github.com/95adityajain/teammates
c)  Login button UI changed.
![change](https://cloud.githubusercontent.com/assets/22568835/21980329/e894a04c-dc08-11e6-9032-b21683c7b990.jpg)

d) I'm Aditya Jain, 4th year B.tech student, looking forward to learning exciting things by contributing to TEAMMATES.

[2017-01-16 12:35] ovshake commented on #6363
@wkurniawan07
My Dev Server is running on local host but when I am trying to host it on the GAE, it is showing me this error.
![error message](https://cloud.githubusercontent.com/assets/22028532/21982890/6d0adfa2-dc14-11e6-97a8-22946db69437.png)

I ensured that I have JDK installed (1.7..0_80).
![installed jre](https://cloud.githubusercontent.com/assets/22028532/21982940/a2717ee4-dc14-11e6-8b13-e6

[2017-01-16 14:03] damithc commented on #6363
Once I faced the same error, and updating the eclipse.ini file solved it. Perhaps you can post how you modified the ini file and what is the fatal error you get?

[2017-01-16 14:25] ovshake commented on #6363
![fatal error](https://cloud.githubusercontent.com/assets/22028532/21986468/9479ecca-dc25-11e6-87c2-7efe4aa31017.png)

This is the dialog box i get after I click OK for the fatal error message.
I have added the vm argument before the vmargs argument.

[2017-01-16 14:31] ovshake commented on #6363
This is the fatal error dialog box

![fatal error2](https://cloud.githubusercontent.com/assets/22028532/21986668/594d53ca-dc26-11e6-92dc-5e78965850a2.png)

and this the ini file on notepad

![notepad file](https://cloud.githubusercontent.com/assets/22028532/21986683/66258ae0-dc26-11e6-90c2-bb0e7d951fc6.png)

[2017-01-16 14:42] damithc commented on #6363
I wonder if it's something to do with the space in the middle of `Program Files` in you -vm argument. Try using `PROGRA~1` in place of `Program Files` (they are equivalent). I'm just shooting in the dark here.

[2017-01-16 14:52] 95adityajain commented on #6363
@ovshake
![untitled](https://cloud.githubusercontent.com/assets/22568835/21987409/63688d04-dc29-11e6-9aa8-58ae41d70f43.png)

Try moving `--launcher.appendVmargs` just above `-vmargs` (below `-vm`)

[2017-01-16 16:19] JosephineKwa opened #6371 "Distribute points (among options) question should not allow duplicate options"

[2017-01-16 16:19] ovshake commented on #6363
@damithc @95adityajain
This is how my ini file looks right now.
![image](https://cloud.githubusercontent.com/assets/22028532/21990407/b41d0224-dc34-11e6-817f-3b382c6562bf.png)

I didn't get a fatal error now, but eclipse still didn't open up. Now it told me some to check the log files as 'some' error has occurred. The log file was unreadable but this thing caught my eye. I have erased all traces o

[2017-01-16 16:28] JosephineKwa opened #6372 "Submit feedback: distribute points (among recipients) question: give a way to distinguish between recipients with the same name"
In the feedback submission page, there is no way (except by inspecting the html) to distinguish between students with the same name. This affects the results page as well, where the user is only able to distinguish between students with the same name through their photograph.

[2017-01-17 00:52] damithc commented on #6221
We have another case, from the same course. @wkurniawan07 can you investigate if the moving of js file to the bottom could be the cause?

[2017-01-17 03:29] damithc commented on #6371
@JosephineKwa did you mean disallow duplicate options?

[2017-01-17 03:30] JosephineKwa commented on #6371
@damithc yup that's what I meant

[2017-01-17 03:32] damithc commented on #6363
@ovshake
Perhaps you can try with a fresh copy of eclipse, in case it cached some Java8-related settings when it was run when Java 8 was available on your computer?

[2017-01-17 03:34] damithc commented on #6363
BTW, here's my eclipse.ini (I'm using Eclipse Mars)
[code]

[2017-01-17 03:36] damithc commented on #6372
Most instructors don't force students to upload a photo. So, we need something else. Show email as tooltip?

[2017-01-17 03:52] #6340 closed

[2017-01-17 05:15] xpdavid commented on #2312
@damithc @wkurniawan07 I manage to do it without using a new `Image` object and still achieve that show 'loading...' spinner gif until the actual profile image finishes downloading. Is it acceptable? Should I send PR?
![demo](https://cloud.githubusercontent.com/assets/13977235/22008488/97385ea6-dcb6-11e6-88b9-2fe74e9afed2.gif)

[2017-01-17 06:40] damithc commented on #2312
Yes please :-) Nice work @xpdavid

[2017-01-17 07:30] #6353 closed

[2017-01-17 08:13] wkurniawan07 commented on #6361
@nikhilmudholkar can you try running `gradlew.bat resetEclipseDeps` and then refreshing the project?

[2017-01-17 08:16] wkurniawan07 commented on #6360
@samsontmr thanks but no thanks, I'm actually done with this :p

[2017-01-17 08:20] wkurniawan07 commented on #6343
If you ask me, I'm all for ES6 instead of ES5 :p

The reason why we don't is (1) lack of browser support, especially older browsers, particularly when we look at our target users (spoken like a true product manager!), and (2) we do not have automated JS task runner yet. If we can introduce build tools such as grunt/gulp/other Node task helpers to automate stuffs such as transpilation, minification

[2017-01-17 08:47] li-kai commented on #6343
Issue 1 is addressable, we can write in es6 then transpile back to the lowest version of IE that we support (IE 9). Addressing issue 1 would meaning solving 2 too. I'm well versed in this area 😄

[2017-01-17 09:19] samsontmr commented on #6372
what about Matric/Admin ID?

[2017-01-17 10:10] samsontmr commented on #6355
@damithc @wkurniawan07 Shall I go ahead and refactor the package according to the sub-packages I've proposed?

[2017-01-17 10:10] junhaoyap commented on #6343
Agreed, we can use Babel for transpilation, minification is not hard and if we are doing that, we might as well start introducing Node and package managers and that gives us a few benefits:

1. ```let``` and ```const``` is block scoped and that allows bridging easily from other languages, ```const``` is also immutable unlike our current convention

2. We can remove all our polyfills, Babel takes c

[2017-01-17 10:31] aravindputrevu commented on #6366
Can i take up this ? @damithc

[2017-01-17 11:07] damithc commented on #6355
@wkurniawan07 's call as he has a better overall view of restructuring that is going on.

[2017-01-17 11:17] damithc commented on #6343
1. How extensive will be the changes to existing code? If changes are needed, can it be incremental? Increasing JS code coverage is one of the pending tasks not done yet. Need to consider the risks of refactoring not-covered code.
2. What changes are needed to the workflow. e.g. do devs need to run some additional tasks after they modify JS files?

[2017-01-17 11:19] wkurniawan07 commented on #6355
@samsontmr that would be unnecessarily fragmented, and would cause even more coupling if we have cases where some course DTO interacts with some student DTO (which is very possible).
At the very least, the `.attributes` sub-package must be there because it essentially limits the dependency to `storage.entity` package to that sub-package only. Everything else (`.bundle`, `.questiontypes`, or other

[2017-01-17 11:24] samsontmr commented on #6355
@wkurniawan07 alright shall we stick to the original 3 you suggested then?

[2017-01-17 11:25] wkurniawan07 commented on #6343
ES6 are by design more testable, so it goes hand-in-hand with that issue of increasing coverage. I pretty much welcome a change to the ENTIRE code base (which I actually intended to do but have not found the time yet, given there are so many things to clean up in the Java side), but of course has to be incremental.

[Drupal has done a similar upgrade before](https://www.drupal.org/node/2809281).

[2017-01-17 11:26] wkurniawan07 commented on #6355
@samsontmr follow at least `.attributes`. Everything else, you can experiment.

[2017-01-17 11:29] damithc commented on #6366
@aravindputrevu you can submit a PR for a `d.FirstTimer` issue without asking first. Note that you should not do more than one `d.FirstTimer` issues.

[2017-01-17 11:30] wkurniawan07 commented on #6366
@aravindputrevu you have done a `d.FirstTimers` issue before, please do other types of issues. Particularly those labelled `d.Contributors` are suitable.

[2017-01-17 11:31] li-kai commented on #6343
1. Refactoring can go hand-in-hand. My external project - webpack, is also doing the same thing. Write more tests for those with low coverage, then refactor to es6.

2. There will be additional changes to the work flow. It will require building the js files, but these can integrated to the gradle builds.

I'm working on a PR for this build step.

[2017-01-17 11:39] damithc commented on #6343
It's less risky if the refactoring can be done incrementally, as opposed to a massive change to the entire code base at once. To confirm, we can switch to ES6 with little/no changes to existing code, and then migrate code in piece-meal fashion? If yes, do you think you can finish the entire migration within this semester? It's not necessary to do so; I'm just trying to gauge the effort required.

[2017-01-17 11:55] li-kai commented on #6343
Yes, ES6 code is backwards compatible with ES5. Writing in ES5 is still acceptable, but provides less rigidity and safety as compared to ES6.

In addition to the tests, I would say it is possible within this semester but this would mean not working on other issues.

If no changes were made to the javascript files, then no, they would not have to build before testing. Building is also not necessary

[2017-01-17 12:06] damithc commented on #6343
Based on what I've heard so far, I have no objections in principle. I'll leave the final decision to @wkurniawan07 as we need to consider other restructurings that is going on (we don't want to change too many things at the same time) and the priority of manpower needs which he is more familiar with. (@wkurniawan07 On a related note, we should not stockpile too many changes in one release, especia

[2017-01-17 12:21] aravindputrevu commented on #6366
@wkurniawan07  @damithc Thank you ! Will search issues labelled with that label.

[2017-01-17 13:38] #6329 closed

[2017-01-17 13:44] wkurniawan07 opened #6376 "staticPage.tag missing opening HTML tag"
[code]
Between the DOCTYPE and the `<head>` tag there should be an `<html>` tag.

[2017-01-17 13:48] wkurniawan07 opened #6377 "Stray closing </span> tag in questionFeedbackPathSettings.tag"
Line 21 (shown below are lines 20-22):
[code]

[2017-01-17 13:49] aravindputrevu commented on #6256
@AnaghHegde  Probably you should refer the settingUp.md and do the setup yourself thereby you will get first hand understanding how things work and where it is failing !

[2017-01-17 13:55] wkurniawan07 opened #6378 "Remove unused methods in CoursesLogic"
The following two methods:
- `getTotalEnrolledInCourse(String)`
- `getTotalUnregisteredInCourse(String)`

Newly added:
- `getSectionForCourse(String, String)`
- `getNumberOfSections(String)`
- `getNumberOfTeams(String)`
- `getCoursesDetailsListForInstructor(String, boolean)`
- `getArchivedCoursesForInstructor(String)`
- `getCourseIdToSectionNamesMap(List<CourseAttributes>)`

are not used other tha

[2017-01-17 14:48] AnaghHegde commented on #6256
@aravindputrevu You didn't get my point and without doing the setup by them selves no one is contributng here i guess.

[2017-01-17 14:53] damithc commented on #6256
Submit a PR to rectify the issue mentioned :-)

[2017-01-17 14:57] aravindputrevu commented on #6256
@AnaghHegde I am really sorry, i thought that you haven't setup. Don't make me wrong ! PEACE

[2017-01-17 15:30] AnaghHegde commented on #6256
@aravindputrevu No problem.PEACE .

@damithc I m thought something like this : After every step some of the files will be changed/added in the root directory (like when you run some commands) so i will mention what all the files have changed after every step till **Step : 4** and for the eclipse part (including tests,plugins and java libraries) we can post a screen shot. Is that ok ? any suggestio

[2017-01-17 15:47] #6333 closed

[2017-01-17 16:28] yasirunilan commented on #6372
Showing email as the tool tip would be good. But can't we display the email as another field without showing it as a tool tip.I feel like that better than a tool tip.
Any idea??

[2017-01-17 16:30] yasirunilan commented on #6369
Good start Adithya and well done. (Y)
 Now it's time to go ahead and work on a a first timer labeled issue.

[2017-01-17 17:13] nikhilmudholkar commented on #6361
@wkurniawan07 ....i tried. But the problem persists.What should i do??

[2017-01-17 18:34] nikhilmudholkar commented on #6363
@damithc ....will working with a fresh copy of eclipse solve my problem as well? I have mentioned my problem in the fresh issue that i created.
Can eclipse cache java related settings??

[2017-01-17 20:48] thenaesh opened #6381 "New contributor self intro [Thenaesh Elango]"
a) [teammates-thenaesh.appspot.com](https://teammates-thenaesh.appspot.com)
b) [github.com/thenaesh/teammates](https://github.com/thenaesh/teammates)
c) Changed two buttons on the index page to use bootstrap instead of images:
**new**
![teammates](https://cloud.githubusercontent.com/assets/9165895/22039017/7dda8c7c-dd38-11e6-8e7f-5ad119b72324.png)
**old**
![teammates_old](https://cloud.githubuserc

[2017-01-18 00:14] damithc commented on #6256
@wkurniawan07 your input?

[2017-01-18 00:27] damithc commented on #6372
In 99.9% of the cases, the email address is not needed because the name is enough to distinguish. So showing it all the time adds unnecessary noise to the page.

Another (better?) approach is to disallow same name in the same course and ask the user to add some additional info to the name if they are the same.

[2017-01-18 00:44] damithc commented on #6363
@nikhilmudholkar

Can give it a try. The fact is, we know the set up procedure works (because so many others have set up successfully) and we can only suggest solutions for problems that we have encountered before. For new problems that crop up for whatever reason, we can only hope that the respective dev will figure out the solution using Internet resources and share the solution so that others c

[2017-01-18 01:53] yasirunilan commented on #6372
If so I think showing the tool tip is better as my opinion.

[2017-01-18 03:11] thenaesh commented on #6371
Can I confirm that this is what you want to disallow?

![duplicate_options](https://cloud.githubusercontent.com/assets/9165895/22049527/bd4788fc-dd6e-11e6-9b22-d23d97b40e60.png)

[2017-01-18 04:49] JosephineKwa commented on #6371
:+1 @thenaesh yup thats what I want to disallow

[2017-01-18 06:19] boxin-yang commented on #6378
functions such as

1. getCourseIdToSectionNamesMap(List<CourseAttributes>)
2. getCoursesDetailsListForInstructor(String, boolean)
3. getArchivedCoursesForInstructor (String)
4. getSectionForCourse(String, String)

Are used in Logic.java use well and I deleted their corresponding methods. I ran local test and it passes so I guess it is not a problem right

[2017-01-18 07:16] #6366 closed

[2017-01-18 07:16] #6367 closed

[2017-01-18 07:20] wkurniawan07 commented on #6343
@li-kai if you can find at least 2 more interested people from the CS3282 group, that would be sufficient. One thing for sure, I will lend my help as well; I've been wanting to do this, time constraint being my only opponent.

[2017-01-18 07:21] #6311 closed

[2017-01-18 08:05] #6376 closed

[2017-01-18 09:30] wkurniawan07 opened #6385 "Release V5.93"

[2017-01-18 09:30] wkurniawan07 opened #6386 "Update about.jsp with contributors from V5.93"

[2017-01-18 11:36] leeyimin opened #6387 "New contributor self intro [Lee Yi Min]"
a) App: http://teammates-yimin.appspot.com/index.jsp
b) Fork: https://github.com/leeyimin/teammates
c) Logo in navbar was changed to png for the non-static pages.
![tinker](https://cloud.githubusercontent.com/assets/6365864/22062327/19e504dc-ddb4-11e6-8a69-fb7e1231b036.png)
d)
Hi, I am Yi Min.
Writing self-intro is hard,
Made haiku instead.

[2017-01-18 14:10] AnaghHegde commented on #6372
What if we show email id to only those students who have same name along with name. So it avoids the unnecessary noise and it will be easy to identify.

[2017-01-18 14:30] damithc commented on #6372
That works too.

[2017-01-18 16:53] AnaghHegde commented on #6372
@damithc can i work on this ?

[2017-01-18 17:16] shrut1996 opened #6390 "New contributor self intro [Shrut]"
a) App: http://teammates-156013.appspot.com/index.jsp
b) Fork: https://github.com/shrut1996/teammates
c) A slight change in the fonts and layout of the 'About Us' Page.

Before:

![screenshot from 2017-01-18 22-26-45](https://cloud.githubusercontent.com/assets/20799404/22074633/fe8f4ea2-ddce-11e6-8442-1333f567f4f9.png)

After:

![screenshot from 2017-01-18 22-27-40](https://cloud.githubusercontent

[2017-01-19 00:04] damithc commented on #6372
Yes, if you have some idea on how to proceed and you have already completed a `d.FirstTimer` issue.

[2017-01-19 04:22] #6378 closed

[2017-01-19 05:42] wkurniawan07 commented on #6256
I'm against creating any script for the following reason:
- It's a maintenance burden for the project maintainers, particularly if our setting up steps change and the script has to adapt.
- Manually checking the presence of required files is not a hard task for developers, e.g. saying things like (the files abc and def should now be present).

Screenshots are fine, but do not make it too detailed.

[2017-01-19 06:10] junhaoyap commented on #6387
@leeyimin, welcome to TEAMMATES and good job on finishing the orientation tasks!

I see that you'll be contributing as part of CS3281/2 and already have some PRs open so there isn't much else! Looking forward to more of your contributions and great job on the haiku! 👍

[2017-01-19 06:11] junhaoyap commented on #6390
@shrut1996, welcome to TEAMMATES and good job on finishing the orientation tasks!

I love your spirit and I hope to see you tackle a firstTimer issue so that you can get your feet wet into contributing to TEAMMATES!

[2017-01-19 06:13] junhaoyap commented on #6381
@thenaesh, welcome to TEAMMATES and good job on finishing the orientation tasks and having a very obvious UI change!

I see that you will be contributing as part of CS3281/2, if you have already completed a firstTimer task, we look forward to seeing your contributions to the higher level tasks, if not it will be great if you can get your feet wet via the firstTimer issues!

[2017-01-19 06:15] junhaoyap commented on #6369
Thank you @yasirunilan for welcoming @95adityajain!

@95adityajain, welcome to TEAMMATES and good job on finishing the orientation tasks as described!

If you have already completed a firstTimer task, we look forward to seeing your contributions to the higher level tasks, if not it will be great if you can get your feet wet via one firstTimer issues (not more than that as we want to share those wi

[2017-01-19 06:16] junhaoyap commented on #6365
@li-kai, welcome to TEAMMATES and good job on finishing the orientation tasks as mentioned in the documents and TEAMMATES are not divided :(

I see that you will be contributing as part of CS3281/2 so if you have already completed a firstTimer task, we look forward to seeing your contributions to the higher level tasks, if not it will be great if you can get your feet wet via one firstTimer issue!

[2017-01-19 07:35] whipermr5 commented on #1426
@samsontmr I found the cause and wrote a comment on the PR (https://github.com/TEAMMATES/teammates/pull/6358#issuecomment-273700465)

[2017-01-19 07:39] damithc commented on #6256
I'm OK with manual verification too.

Prefer textual description over screenshots when possible. In some cases we might need screenshots, and in those cases, just capture the relevant parts only. The more details the screenshot shows, the faster it will get outdated (and will bloat the repo size too).

The good good thing about having verification instructions for each step is we can ask the help-

[2017-01-19 08:21] AnaghHegde commented on #6256
@damithc You are saying only manual verification of files is enough ?. Posting the screen shots will make it too easy?

What difference it makes?Because at present situation if someone faces issue and post it in issue tracker we will ask them to post screenshots.

[2017-01-19 08:30] damithc commented on #6256
That's not the reason for preferring text over screenshots. Screenshots take up a lot of space in the repo and get outdated quickly (also, they sometimes differ based on OS version). Therefore, if something can be explained in text clearly enough, no need for screenshots. But some things are harder to explain clearly in text; use screenshots for those cases.

[2017-01-19 08:37] AnaghHegde commented on #6256
@damithc ok thank you for explaining that.

[2017-01-19 08:51] hackosinn commented on #6363
@ovshake -  http://stackoverflow.com/questions/3333553/how-can-i-change-the-java-runtime-version-on-windows-7.  type regedit in run. then go to HKEY_LOCAL_MACHINE\SOFTWARE\JavaSoft\jre  edit this and change 1.8 to 1.7 .  hope this helps

[2017-01-19 09:46] shrut1996 commented on #6390
Thanks a lot! I have a small problem. I hosted my local server at "localhost:8889" and i entered the admin page but I cant go further meaning the web page isn't responding ( a blank page shows up) am I missing some specific URL?

[2017-01-19 09:50] junhaoyap commented on #6346
@wkurniawan07 @damithc I am for it as well, back in the "dark ages" we did not have CI and running tests locally is really a huge burden, especially since network connectivity in certain parts of school or time (cough cough) may be "not as good".. now that we have automatic tests running on production ready servers handled by Jenkins, these problems should be less relevant and this is a good move

[2017-01-19 10:08] ovshake commented on #6363
@hackosinn    I did that too....I ended up messing up both my 1.7 and 1.8 and I needed 1.8 for my college purposes. I will try tonight again from scratch installing both of them. (My 15th attempt :P)

[2017-01-19 14:11] chowyb commented on #6390
@shrut1996 are there any error messages that show up in Eclipse's console?

[2017-01-19 14:43] shrut1996 commented on #6390
These are the errors shown when I use the URL- http://localhost:8888/admin/adminHomePage

![screenshot from 2017-01-19 15-24-29](https://cloud.githubusercontent.com/assets/20799404/22110928/870f3846-de83-11e6-99ff-8115a0538864.png)
![screenshot from 2017-01-19 20-10-44](https://cloud.githubusercontent.com/assets/20799404/22110930/8862f8d6-de83-11e6-8d8e-329e7d5d1b3b.png)
![screenshot from 2017-01-

[2017-01-19 16:01] ovshake commented on #6390
@shrut1996 Please check your build path for which Java Version you are using. I think you are using 1.8. This project requires 1.7

[2017-01-19 16:47] AnaghHegde commented on #6390
@shrut1996 post it on the issue tracker page so that everyone can see and someone will help you with your problem.

[2017-01-19 16:55] shrut1996 opened #6395 "Local Server is set up but unable to access the pages"
I'm able to start the server.
![screenshot from 2017-01-19 22-21-59](https://cloud.githubusercontent.com/assets/20799404/22116187/bea74fe8-de95-11e6-9e1c-ba48170c1e18.png)

But once I enter the URL -  "localhost:8888/admin/adminHomePage" or any other nothing shows up but instead I am getting these errors in the eclipse console.
![screenshot from 2017-01-19 15-24-29](https://cloud.githubusercontent

[2017-01-19 17:08] xpdavid opened #6396 "Create another InstructorEditStudentFeedbackPage page objects for testing"
Currently `InstructorEditStudentFeedbackPageUiTest` uses `FeedbackSubmitPage` to handle interaction with web elements.

There are new methods added in `FeedbackSubmitPage` (PR: #6352) but only could be used in `InstructorEditStudentFeedbackPageUiTest`.

It could be more appropriate to put those methods into another new page objects `InstructorEditStudentFeedbackPage` which inherits from `FeedbackS

[2017-01-19 17:14] xpdavid commented on #6395
![39f8096e-7d86-4144-ab5c-91181230d338](https://cloud.githubusercontent.com/assets/13977235/22117124/c0e16254-dead-11e6-9897-1f3228a23697.png)
You may need to check your JVM version. Currently the image shows it is 1.8.

[2017-01-19 17:38] shrut1996 commented on #6395
I've Changed it but still the same problem.

![screenshot from 2017-01-19 23-05-21](https://cloud.githubusercontent.com/assets/20799404/22117969/f27873fa-de9b-11e6-9e93-11910a64c859.png)
![screenshot from 2017-01-19 23-05-37](https://cloud.githubusercontent.com/assets/20799404/22117970/f31cd21a-de9b-11e6-8cf9-2a1b941c71f5.png)

This is the page I get "localhost:8888/errorPage.jsp" with any page I

[2017-01-19 19:31] shrut1996 commented on #6395
@xpdavid Thanks a lot. It is working now because I had added the JRE file instead of the JDK file.

[2017-01-20 01:25] damithc commented on #6395
Thanks for the help @xpdavid

[2017-01-20 01:25] #6395 closed

[2017-01-20 06:13] whipermr5 opened #6397 "adminHome.js does not URL encode form data before passing it on as GET params"
Form data is usually encoded by the browser automatically upon submit for HTML `form` elements. However, as AJAX is used to add instructors, custom methods `addInstructorFromFirstFormByAjax()` and `addInstructorFromSecondFormByAjax()` are used to read raw values from the form and construct the parameter query string used in the GET request to `/admin/adminInstructorAccountAdd`. Currently, the raw

[2017-01-20 06:24] whipermr5 opened #6398 "generateDemoCourseId generates invalid course ID if email address contains a +"
An email address with a `+` is valid, but a course ID with a `+` isn't. [`generateDemoCourseId`](https://github.com/TEAMMATES/teammates/blob/7a2eb84eda7105548d7d13cdaf5065778f7468f0/src/main/java/teammates/ui/controller/AdminInstructorAccountAddAction.java#L296) does not take this into account, resulting in such errors:
![screen shot 2017-01-20 at 2 23 59 pm](https://cloud.githubusercontent.com/as

[2017-01-20 09:46] shrut1996 opened #6401 "Failed Travis Tests"
I ran the Travis tests and I've been getting failures in these tests specifically:
1) Sequential UI tests
2) Occasional tests
3) Parallel UI tests
4) Rare tests

I had Firefox 50.1 which I uninstalled and then I downloaded Firefox 45.0 but still I got the same error in fact it couldn't even connect to Firefox then.
I also tried by re-installing TestNG.
Is there any alternative?
Thanks !

[2017-01-20 11:01] chowyb commented on #6401
Hi @shrut1996,

What errors are shown in the Eclipse console?

[2017-01-20 11:07] #2312 closed

[2017-01-20 11:09] shrut1996 commented on #6401
Hey there, I ran the failed tests and I'm getting connection refused

![screenshot from 2017-01-20 16-34-47](https://cloud.githubusercontent.com/assets/20799404/22147400/6c753494-df2e-11e6-9c0c-6256eabd7429.png)

Now I also tried using Chrome and even changed the test.properties files by changing the chromedriver path but still the same error.

![screenshot from 2017-01-20 16-38-22](https://cloud.

[2017-01-20 11:17] chowyb commented on #6401
@shrut1996 was the dev server running at the time you were running the tests?

[2017-01-20 11:23] shrut1996 commented on #6401
No @chowyb it wasn't.

[2017-01-20 11:46] ablyx opened #6403 "Refactor FeebackResponsesLogic.java"
There are a few methods that are long and hard to read. Some refactorings can be made to improve readability.

[2017-01-20 12:09] yash2o1o opened #6404 "New contributor self intro [Yash]"
1. App:  https://teammates-yash.appspot.com/
2. Fork: https://github.com/yash2o1o/teammates
3.
![team](https://cloud.githubusercontent.com/assets/19612017/22148765/0ccd12c0-df36-11e6-8ccb-b791ee269f39.png)

I changed color of the text (student peer ....) using bootstrap.

My name is Yash Patel. I am excited to contribute to open source.

[2017-01-20 12:35] #6347 closed

[2017-01-20 13:04] chowyb commented on #6401
@shrut1996 for the tests to work, the dev server should be running at the same time. The tests will use Firefox/Chrome (whichever was chosen) to connect to the dev server (which should be running already) and perform automated input and HTML comparisons on the browser to simulate user input and expected results.

[2017-01-20 13:12] allevy3 commented on #6377
I want to pick this up but I do not have any idea how to go about it for the first time.

[2017-01-20 14:18] damithc commented on #6221
One of the affected students say even trying with different browsers did not help.

[2017-01-20 14:21] shrut1996 commented on #6401
@chowyb Brilliant ! Almost all tests pass now. Thanks for the help :)

[2017-01-20 15:37] damithc opened #6409 "Instructor create question: New question does not copy 'recipient limit' from previous question"
When adding a new question, settings are supposed to be copied from the previous question. In the example below, the max number of recipients are copied (i.e. 7) but the option is not correctly selected.

![image](https://cloud.githubusercontent.com/assets/1673303/22155137/5b684110-df69-11e6-91b0-aedf6dbc29c7.png)

[2017-01-20 16:23] xpdavid opened #6410 "Refactor test cases code in InstructorFeedbackResultsPageUiTest and StudentFeedbackResultsPageUiTest"
Currently, the testing code of toggle additional question info ([More] and [Less]) is confusing as show below.
[code]
`clickQuestionAdditionalInfoButton` should just click the button rather than clicking button and returning whether the additional info panel is visible or not.

Refer to #6352 for discussion.

[2017-01-20 17:18] xpdavid commented on #5084
@damithc @wkurniawan07
This actually requires a lot of works. So I want to share some basic ideas before doing it.
It can be done by just changing to a `enum` type `InstructorPermission`
[code]
I have examined the `InstructorPrivileges` and there are method like `isPrivilegeNameValidForSectionLevel` to check whether it is `section` or `course` level privileges. Since we are going to use `enum`, my

[2017-01-20 17:49] wkurniawan07 commented on #6346
@junhaoyap my concerns as well. Unrelated, but just one correction before you potentially mislead other devs: we're using Travis, not Jenkins :p

[2017-01-20 17:55] ovshake commented on #6390
@shrut1996 Did you create the app.yaml file manually for the project for deploying?

[2017-01-20 18:06] xpdavid commented on #5996
This one is relatively easy to do. I recommend mark it as `d.FirstTimer` issue. Refer to #6375

[2017-01-20 18:54] shrut1996 commented on #6390
@ovshake No I didn't create any file. I later realised that even though I had changed my Java compiler compliance to 1.7, I needed to change the eclipse.ini file.
Thanks!

[2017-01-21 04:42] #2818 closed

[2017-01-21 04:42] #5932 closed

[2017-01-21 05:53] damithc commented on #5084
Perhaps @chowyb can weigh in as he was involved in access control aspect recently.
@xpdavid this issue's existence doesn't necessarily mean it's something we want to do. You can actually evaluate if it is a good thing to do and propose an alternative. The current access control code is our first attempt at it, so it might even need a full scale upgrade. As it requires some extra analysis, it's als

[2017-01-21 09:39] chowyb commented on #5084
Breaking it down into `CourseLevel`, `SectionLevel` and `SessionLevel` seems fine from what I remember, as the permissions are indeed classified into those levels (and checking the more broader permission levels ie. session -> section (more broad) -> course (even more broad) if the section or session is not marked as special). However, I do remember some things that you may need to take note of (o

[2017-01-21 10:00] xpdavid commented on #5084
@chowyb Thanks for explanation. I'll look at it.

[2017-01-21 10:08] chowyb commented on #6401
@shrut1996 👍, although I am concerned as to why "almost all" tests pass now instead of "all".

[2017-01-21 10:08] damithc commented on #5084
We need both. First we need to deploy a version that works with current legacy data as well as new data. Then, we run the script to migrate existing data. Third, we deploy a new version that is no longer aware of past data.

Given the workload involved, I'm wondering if we should delay this PR for a more suitable time such as summer vacation.

[2017-01-21 10:45] shrut1996 commented on #6401
@chowyb I'm getting failed tests for the "AdminHomePageUITest" and "InstructorFeebackResultsPageUITests"

![screenshot from 2017-01-21 16-14-38](https://cloud.githubusercontent.com/assets/20799404/22173863/c25f8f14-dff4-11e6-9025-0fcaeabf92ed.png)

I'm having a look at it though. Thanks!

[2017-01-21 11:23] allevy3 opened #6415 "Question"
I am attempting to set up the development environment on my computer.

I have run ./gradlew appengineDownloadSdk and ./gradlew setup

Results for ./gradlew setup

:createConfigs
:createLaunches
:eclipseProject
:setup
BUILD SUCCESSFUL
Total time: 5.82 secs

However after downloading the google tools for eclipse I get the following error when attempting to point it at the android SDK.

"Could not fi

[2017-01-21 13:20] chowyb commented on #6415
@allevy3 you will need to point it at the appengine folder itself, so the last folder in your path should be `appengine-java-sdk-1.9.27`.

Also, the path in your issue `C:\Users\Alex.gradle` appears to be a little off, it should probably look like `C:\Users\Alex\.gradle` instead.

[2017-01-21 13:27] allevy3 commented on #6415
Thank you. Your information was useful to solving the problem.

[2017-01-21 13:27] #6415 closed

[2017-01-21 14:01] ovshake opened #6417 "New contributor self intro [Abhishek]"
App : http://teammates-abhishek.appspot.com/
fork : https://github.com/ovshake/teammates
 I changed the icon of the videotour to a colorful one.
Before
![image](https://cloud.githubusercontent.com/assets/22028532/22174878/3ca518ec-e00f-11e6-9e79-92d690626e8e.png)

After
![videotour1_ink_li](https://cloud.githubusercontent.com/assets/22028532/22174885/70238ed8-e00f-11e6-80e8-56c3b48f87e5.jpg)

Hi!

[2017-01-22 05:05] shrut1996 commented on #6401
@chowyb Is it fine if my AllJsTests.java passes but these two mentioned don't?

[2017-01-22 06:15] chowyb commented on #6401
@shrut1996 no, all tests should pass locally.

@wkurniawan07 would you happen to know the issue here? The screenshot seems to suggest an error when attempting to access some local service (perhaps emails, going by the `MailService` and `TaskQueue`).

[2017-01-22 06:18] chowyb commented on #5780
Retroactively changing the issue to focus only on `FeedbackSessionsLogic`. Other Feedback*Logic files will be covered under their own issues (eg. #6403)

[2017-01-22 06:43] yasirunilan commented on #2532
Is this open yet? Is the revised content ready to be added?

[2017-01-22 06:44] yasirunilan commented on #2676
can you explain more about this issue?

[2017-01-22 06:51] yasirunilan commented on #6372
@AnaghHegde  are you working on this one?

[2017-01-22 07:22] Neurrone commented on #5687
Would like to try working on this. @kanghj what did you have in mind? How would inheritance help here, since multiple options can be active at once.

[2017-01-22 07:28] damithc commented on #2532
Stale issue. closing.

[2017-01-22 07:28] #2532 closed

[2017-01-22 07:36] damithc commented on #2676
@yasirunilan can post a screenshot of the current situation of the relevant section of the results page? I can explain based on that screenshot.

[2017-01-22 12:02] #3245 closed

[2017-01-22 12:26] shrut1996 commented on #6401
@chowyb  @wkurniawan07 It turned out that I had a couple of corrupted files so I cloned this repo again and no longer got the "AdminHomePageUITest" failure but still have the "InstructorFeebackResultsPageUITests" failed test.

![screenshot from 2017-01-22 17-54-57](https://cloud.githubusercontent.com/assets/20799404/22182491/f333761e-e0cb-11e6-8027-166d3dcef57a.png)

[2017-01-22 12:37] #1426 closed

[2017-01-22 13:17] #6360 closed

[2017-01-22 14:06] #6377 closed

[2017-01-22 14:39] #6354 closed

[2017-01-22 14:46] #6320 closed

[2017-01-22 14:49] wkurniawan07 opened #6427 "Do not trigger CI build for documentation-only changes"
Documentation-only changes do nothing to the code and thus CI lint/build/test is meaningless. When the project velocity scales up (which we currently are experiencing), it will use resources that can be used for other builds that actually need CI lint/build/test.

@whipermr5 you want to try this?

[2017-01-22 14:50] whipermr5 commented on #6427
Okay!

[2017-01-22 14:51] wkurniawan07 commented on #5780
Closed by #6374.

[2017-01-22 14:51] #5780 closed

[2017-01-22 15:48] #6301 closed

[2017-01-22 15:49] wkurniawan07 commented on #6323
Closing due to inactivity.

[2017-01-22 15:49] #6323 closed

[2017-01-22 15:49] #6332 closed

[2017-01-22 15:50] #6365 closed

[2017-01-22 15:50] #6369 closed

[2017-01-22 15:51] #6336 closed

[2017-01-22 15:51] #6326 closed

[2017-01-22 15:51] #6381 closed

[2017-01-22 15:52] #6387 closed

[2017-01-22 15:52] #6390 closed

[2017-01-22 15:55] wkurniawan07 commented on #6310
@hackosinn does the problem still persist?

[2017-01-22 15:57] wkurniawan07 commented on #6401
@shrut1996 -- can you post the full stack trace of the failure? The one shown on the bottom right of the screen; "org.openqa.selenium...Driver info: org.openqa.selenium.chrome.ChromeDriver".

[2017-01-22 16:23] AnaghHegde commented on #6372
@yasirunilan yes i am working on this.PR on its way.

[2017-01-22 16:36] shrut1996 commented on #6401
@wkurniawan07

![screenshot from 2017-01-22 22-04-59](https://cloud.githubusercontent.com/assets/20799404/22183925/ed9c1d78-e0ee-11e6-846f-ab80c8a4bfcb.png)

[2017-01-22 16:58] DIL8654 commented on #6323
Hi All,

Thanks for your comments and tried all those and finally only 2 test cases are fails now.

I am not sure why google drive always showing in my local language when opens google doc.
Herewith I have attached screenshot. your suggestions are appreciate.

Sorry for the inactivity, it was because of I had to move to new place. :)

Regards,
Dilanka
<img width="1425" alt="test_fails" src="https:

[2017-01-22 17:10] DIL8654 opened #6429 "Need Help on failing test"
Hi All,

Thanks for your comments related to #6323  and tried all those and finally only 2 test cases are fails now.

1. I am not sure why google drive always showing in my local language when opens google doc.
even I make remember by google login, but when test runs, it is not using my google account to open the shared document.

2. I am not sure why failing test for TaskQueuesLogicTest.java:66 i

[2017-01-23 02:27] #3147 closed

[2017-01-23 02:32] #6386 closed

[2017-01-23 02:35] wkurniawan07 commented on #6385
Release 233

Code contributions from: @ovshake, @95adityajain, @slidego, @AnaghHegde, @hackosinn, @AravindPutrevu, @boxin-yang, @Neurrone, @gugakatsi, @whipermr5, @leelunn, @li-kai, @Mynk96, @ablyx, @mohamed-moanis, @sznicci, @rishikksh20, @samsontmr, @shrut1996, @swxsw, @tarun14110, @wkurniawan07, @xpdavid, @leeyimin
Review contributions from: @damithc, @kanghj, @JosephineKwa, @junhaoyap, @wkurni

[2017-01-23 05:48] chowyb commented on #6429
@DIL8654 this seems to be an issue with the test itself, as it assumes the language in your region is English. This is brought up in a previous issue (#6049), but it has not been fixed yet.

[2017-01-23 05:56] DIL8654 commented on #6429
@chowyb thanks for the comment, I will ignore that test for now.

[2017-01-23 11:12] wkurniawan07 opened #6430 "Separate PageData classes from ui.controller package"
This should be the last restructuring for the time being.

`*PageData` and `*Action` being on the same package is not right because those two are fundamentally different.

- `*Action` are the classes allowed to communicate with the back-end logic. Each `*Action` class, if resulting in `ShowPageResult` or `AjaxResult`, can spawn a `*PageData` object, and should not have knowledge of the more refine

[2017-01-23 11:19] #6371 closed

[2017-01-23 12:26] damithc commented on #6385
Deployed

[2017-01-23 12:26] #6385 closed

[2017-01-23 13:19] yash2o1o commented on #5131
Hi i am a first timer and wanted to contribute. Is this issue still relevant?

[2017-01-23 14:01] AnaghHegde commented on #6372
@yasirunilan I m not working on this sorry . Its not listed as a `d.contributor`. So i will find something else to work on. I didn't notice the tag.

[2017-01-23 14:12] AnaghHegde commented on #5145
@damithc @wkurniawan07  In dynamic zooming as the zooming increases we need the only the institution name to be shown right ?.

[2017-01-24 04:47] #6317 closed

[2017-01-24 04:53] #3870 closed

[2017-01-24 04:56] #6396 closed

[2017-01-24 05:33] #2305 closed

[2017-01-24 07:06] ovshake commented on #6256
@damithc Can I also try this? I recently have set up my development environment and it took me 18 tries. I think I might know all the places where one could go wrong. (Speaking for Windows 10)

[2017-01-24 07:13] AnaghHegde commented on #6256
@ovshake i m currently working on this.I have submitted a PR. Its almost done. Fixing some small errors.I m sorry.

[2017-01-24 07:15] ovshake commented on #6256
@AnaghHegde No problem. :)

[2017-01-24 07:31] damithc commented on #6256
@ovshake feel free to give comments on the ongoing PR by @AnaghHegde

[2017-01-24 07:36] AnaghHegde commented on #6256
@damithc @ovshake  Yeah its good idea . It helps a lot since you have tried this lot of times.

[2017-01-24 08:01] damithc opened #6433 "Edit responses: sort by recipient name"
When editing responses where there are multiple recipients (e.g. recipients are students of the course), the responses should be sorted by name. The current one doesn't seem to be sorted (see screenshot).

![image](https://cloud.githubusercontent.com/assets/1673303/22238767/2b60c40a-e24e-11e6-8aab-cbd4afe598e8.png)

[2017-01-24 08:43] damithc commented on #2354
@ovshake This issue is not about a .java file. It's about the help page meant for instructors.

[2017-01-24 08:46] ovshake commented on #2354
@damithc oh! sorry, I didn't notice that space between 'instructorHelp' and 'Page'.

[2017-01-24 08:47] junhaoyap commented on #6429
@DIL8654 closing this for now, if this issue keeps cropping up we will see if we need to up the priority of the issue that has already been reported, cc @damithc

[2017-01-24 08:47] #6429 closed

[2017-01-24 08:51] junhaoyap commented on #6417
@ovshake, Welcome to TEAMMATES! Good job on setting up your own version and going through the introduction, especially since you persisted through 18 attempts to set it up, don't be dismayed since not all open source projects are as huge, the larger a project, the more complex the setting up process may be, stark difference from projects in schools!

I will recommend that you start with a first ti

[2017-01-24 08:53] junhaoyap commented on #6404
@yash2o1o, Welcome to TEAMMATES! Good job on going through with the introductory steps!

I see that you are excited to contribute to open source, what is your motivation for that? In the mean time, I will recommend that you start with a first timer issue that you can find to get your feet wet!

[2017-01-24 08:56] junhaoyap commented on #6401
@shrut1996 could you also zero in on the specific test that is failing and locate which line is causing the failure? We know that it is a Selenium error, specifically it being unable to find a certain element and knowing which line is throwing the error might give us more information and hints

[2017-01-24 08:57] junhaoyap commented on #6372
cc @wkurniawan07 could you add tags to this issue, re: ^

[2017-01-24 08:59] shrut1996 commented on #6401
![screenshot from 2017-01-24 14-28-54](https://cloud.githubusercontent.com/assets/20799404/22240490/76e4faac-e241-11e6-9dfe-ccee3f4691c2.png)

Is this is what you're looking for?

[2017-01-24 09:05] junhaoyap commented on #6401
Somewhere deeper down the trace, exactly which method and which line

[2017-01-24 09:47] damithc commented on #6429
@junhaoyap upped the priority of the said issue #6049.

[2017-01-24 09:49] damithc commented on #6372
Giving low priority because there is a workaround for this rare problem (i.e. just ask the instructor to modify the names so that they are distinguishable).

[2017-01-24 10:06] shrut1996 commented on #6401
It is the testDownloadAction method can't find the line

![screenshot from 2017-01-24 15-34-09](https://cloud.githubusercontent.com/assets/20799404/22242766/a3e0280c-e24a-11e6-9e7d-e5b628bd1377.png)

[2017-01-24 10:16] shrut1996 commented on #6401
All these methods (lines 720-790) are throwing the errors.

![screenshot from 2017-01-24 15-43-23](https://cloud.githubusercontent.com/assets/20799404/22243116/f4b52be6-e24b-11e6-95b7-b2206b24bec8.png)

![screenshot from 2017-01-24 15-43-27](https://cloud.githubusercontent.com/assets/20799404/22243119/fdfba98c-e24b-11e6-928f-57ca47ae4877.png)

[2017-01-24 10:36] junhaoyap commented on #6401
It says that there is an assertion error in one of the screenshots, try to investigate what is different

[2017-01-24 10:43] shrut1996 commented on #6401
Apart from "<actual>" and "<expected" the only difference is :

![screenshot from 2017-01-24 16-11-12](https://cloud.githubusercontent.com/assets/20799404/22243998/cf6d8384-e24f-11e6-9f6d-5da5dcc2d32f.png)

[2017-01-24 12:09] AnaghHegde commented on #5145
@wkurniawan07 @damithc Can you please confirm if my approach is right?. So that i can start working on this.

[2017-01-24 12:14] damithc commented on #5145
No I don't think so. Just make the map bigger (without making pins bigger) so that easier to see smaller countries? @wkurniawan07 is that what you had in mind? @paradite any input?

[2017-01-24 13:05] AnaghHegde commented on #5145
@damithc

No I don't think so. Just make the map bigger (without making pins bigger) so that easier to see smaller countries?

If the institutions increases then we still have the same problem. Isn't it ?

[2017-01-24 13:41] damithc commented on #5145
What do you mean?. The map shows one pin per country, not one pin per institution.

[2017-01-24 13:58] wkurniawan07 commented on #5145
My concerns exactly, because we currently have a clutter of pins especially in the Eastern Europe region:

![screen shot 2017-01-24 at 9 55 05 pm](https://cloud.githubusercontent.com/assets/7261051/22249945/08d39372-e280-11e6-98f4-1c3ccd185994.png)

[2017-01-24 14:06] damithc commented on #5145
@AnaghHegde is the problem clear? If so, we'll leave you to figure out a suitable solution and propose it to us.

[2017-01-24 14:06] #6427 closed

[2017-01-24 14:24] AnaghHegde commented on #5145
@damithc

Am i right or wrong ?

If yes we can just increase the width and the scaling of the pins will be same.

[2017-01-24 14:30] paradite commented on #5145
hi @AnaghHegde @damithc, I think a complete solution would involve:
- **zooming** of the map, which is done through scaling, I believe the original library that I was using for the map already has this function, you just to make it adjustable for the user
- **panning** of the map, which allows part of the map to be enlarged and pan around the map while maintaining the overall size (width and heigh

[2017-01-24 14:33] paradite commented on #5145
However, I do also think this is a minor issue which may take up a lot of time in designing the UI, so maybe not the most suitable issue to work on unless you have a lot of free time.

[2017-01-24 14:34] AnaghHegde commented on #5145
@paradite Its like google map (where the view size will be same for a user) but when you zoom in you can see the things more clearly.

I will work on this whenever i have a free time.

[2017-01-24 14:39] paradite commented on #5145
Yes. And I believe if we change to Google Maps API directly instead of d3 and TopoJSON, we can implement these features trivially:

https://developers.google.com/maps/documentation/javascript/

The downside of that approach is the dependency on Google Maps service at run time, since the Google Maps library cannot be loaded offline.

[2017-01-24 14:47] AnaghHegde commented on #5145
@paradite wouldn't it affect a lot (changes to be done) if we switch from d3 and TopoJSON to Google Maps API ?.If that's okay i can look into it.

[2017-01-24 14:51] paradite commented on #5145
Yes. It would affect a lot of code, but zooming and panning will come as built-in features. So I leave it to @damithc and @wkurniawan07 to decide if that's a good approach should you work on this issue.

[2017-01-24 14:58] AnaghHegde commented on #5145
@wkurniawan07 @damithc

https://developers.google.com/maps/documentation/javascript/

The downside of that approach is the dependency on Google Maps service at run time, since the Google Maps library cannot be loaded offline.

What is your opinion on this?. Is this ok?.

[2017-01-24 15:00] paradite commented on #6343
I think migrating to ES6 would be an interesting and suitable task for CS3282.

[2017-01-24 16:05] samsontmr commented on #5607
@kanghj Do you mean by using camel case, or changing the name entirely?

[2017-01-24 16:13] samsontmr commented on #4345
Hi @kanghj, I'm interested in learning more about the storage component. Perhaps you could guide me through this if you're not working on it anymore?

[2017-01-24 16:24] ablyx opened #6435 "Refactor FeedbackQuestionsLogic.java"
1. Split large methods into several smaller methods to make the individual steps easier to understand.

2. If a particular logic is used across several methods (or used more than once in the same method), extract it into a single reusable method.

3. Add comments or rename methods where necessary to help better understand what each method is doing.

[2017-01-24 17:46] yash2o1o commented on #6404
@junhaoyap, Thank you.
I was really interested in how real world projects actually work and i must say i am really fascinated by the sheer amount of work that goes behind it. And i also wish to take part in GSOC.

[2017-01-24 18:09] shrut1996 commented on #6327
@wkurniawan07  Has this issue been resolved?

[2017-01-25 00:48] damithc opened #6437 "Instructor view session results: numeric scale question: sorting is incorrect"
See screenshot

![image](https://cloud.githubusercontent.com/assets/1673303/22273321/ff889028-e2da-11e6-8bca-4040d2e001b4.png)

[2017-01-25 01:51] hardik124 commented on #5996
Hey , I am a first timer and I want to contribute.

[2017-01-25 03:33] damithc commented on #6327
@shrut1996 You can visit the ongoing PR for this issue (link given in the issue timeline, just above your comment) to see the current status of it.

[2017-01-25 04:21] xpdavid commented on #6437
This is caused by the comparator `sortByPoint` in `common.js`. It use `parseInt()` instead of `parseFloat()`. It can be easily solved by changing `parseInt()` to `parseFloat()`. But more importantly, I have checked that there is not unit js test case for this comparator, therefore, it is also necessary to add test case for this.

[2017-01-25 04:26] damithc commented on #6437
Yes, we should add tests as well.

[2017-01-25 04:53] samsontmr commented on #3873
how about YYYYMMDD? I don't think anyone uses YYYYDDMM

[2017-01-25 05:49] wkurniawan07 opened #6438 "Remove FeedbackQuestionBundle#getRecipientEmails(String)"
The function is not used.

[2017-01-25 05:51] wkurniawan07 opened #6439 "Remove unused parameter in StudentProfilePage.java"
In `teammates.test.pageobjects.StudentProfilePage#editProfileThroughUi`, the first parameter `fileName` is not used and thus can be removed.

[2017-01-25 05:54] wkurniawan07 opened #6440 "Remove unused parameter in FeedbackQuestionsLogic.java"
In `teammates.logic.core.FeedbackQuestionsLogic#copyFeedbackQuestion`, the first two parameters `oldCourseId` and `oldFeedbackSessionName` are not used and thus can be removed.

[2017-01-25 05:56] wkurniawan07 commented on #5403
Resolved in #6380.

[2017-01-25 05:56] #5403 closed

[2017-01-25 05:56] wkurniawan07 commented on #5404
Resolved in #6380.

[2017-01-25 05:56] #5404 closed

[2017-01-25 05:59] wkurniawan07 opened #6441 "Remove unused parameter in InstructorCoursesDetailsPage.java"
In `teammates.test.pageobjects.InstructorCoursesDetailsPage#getStudentCountForCourse`, the only parameter `courseId` is not used and thus can be removed.

[2017-01-25 06:01] wkurniawan07 opened #6442 "ActivityLogEntry should not have dependency to GateKeeper"
`ActivityLogEntry` is a utility class which should not have any business with `GateKeeper`, an API logic class.

[2017-01-25 06:12] #5923 closed

[2017-01-25 06:14] #6410 closed

[2017-01-25 09:00] wkurniawan07 opened #6446 "InstructorStudentListPageUiTest failing at dev server"
As per title.

[2017-01-25 09:16] AnaghHegde commented on #6442
@wkurniawan07 I am interested on this. Can i work on this ?.
Correct me if i am wrong. You want to move this to utility class from API lgoic class?.

[2017-01-25 09:22] xpdavid commented on #6442
@AnaghHegde Note really.
`ActivityLogEntry` has import `import teammates.logic.api.GateKeeper;` and use it in
[code]
`ActivityLogEntry` is a utility class and should not depends on the `GateKeeper` which relate to the logic part in the App.

[2017-01-25 09:28] AnaghHegde commented on #6442
@xpdavid

What do you mean by use it in ?.I m still having the confusion.

[2017-01-25 09:32] xpdavid commented on #6442
check this line in `ActivityLogEntry`
[code]
This is the usage of `GateKeeper`

[2017-01-25 09:34] AnaghHegde commented on #6442
@xpdavid I got that. I m still confused about the issue only. Do i need to remove that dependency and make it work ?.

[2017-01-25 09:47] Neurrone opened #6448 "Refactor some duplicated methods in InstructorFeedback*Action classes"
InstructorFeedbackAddAction and InstructorFeedbackEditSaveAction have implementations of extractFeedbackSessionData() which are almost completely identical with small difference (e.g, error handling, setting 1-2 fields differently).

Similarly for extractFeedbackQuestionData(String) for InstructorFeedbackQuestionAddAction and InstructorFeedbackQuestionVisibilityMessageAction.

[2017-01-25 10:07] yash2o1o commented on #6401
@junhaoyap @wkurniawan07 @chowyb  hey, i am also getting failed travis test in the following when ran on travis.ci.org:

![fail1](https://cloud.githubusercontent.com/assets/19612017/22285895/68c27f80-e313-11e6-89ed-953a0791257b.png)
![fail2](https://cloud.githubusercontent.com/assets/19612017/22285893/68beb3e6-e313-11e6-85c5-91d0997b660b.png)
![fail3](https://cloud.githubusercontent.com/assets/196

[2017-01-25 10:28] #6446 closed

[2017-01-25 12:09] #6403 closed

[2017-01-25 12:18] ablyx opened #6450 "Refactor FeedbackResponseCommentsLogic.java"
1. Split large methods into several smaller methods to make the individual steps easier to understand.

2. If a particular logic is used across several methods (or used more than once in the same method), extract it into a single reusable method.

3. Add comments or rename methods where necessary to help better understand what each method is doing.

[2017-01-25 12:49] ablyx commented on #6440
I'll fix this in #6436

[2017-01-25 13:01] damithc commented on #6440
Don't fix multiple issues in one PR unless there is a strong justification.

[2017-01-25 13:05] ablyx commented on #6440
Ok, but this issue can be part of #6435 which #6436 fixes. What's the best way to do this?

[2017-01-25 13:12] damithc commented on #6440
@ablyx If you _cannot_ do #6436 without fixing this issue, then it's fine to do both in the same PR. Otherwise leave this one alone because we are running out of firstTimer issues anyway.

[2017-01-25 13:13] ablyx commented on #6440
Alright then, I'll leave this untouched!

[2017-01-25 13:59] #6398 closed

[2017-01-25 14:02] whipermr5 commented on #6397
Oops accidentally referenced this from #6408 with the "fixes" keyword, which caused it to be closed from that merge. 😅 This issue should still be open.

[2017-01-25 14:59] kanghj commented on #5687
For a start, we can split it based on the sort type (question, recipient > giver > question, giver > question > recipient, etc). There's also a setting for loading the CSV results as a table in the page, which could also be moved to its own action.

[2017-01-25 15:25] #5572 closed

[2017-01-25 17:35] JosephineKwa opened #6455 "Update writeup under "Not for Profit" in index.jsp"
Include funding support from GSoC in 2016 as well

[2017-01-25 17:54] JosephineKwa opened #6456 "Minor error under "No signup required for students" writeup in features.jsp"
At `...unique links TEAMMATES email them...`, `email` should be changed to `emails`

[2017-01-25 17:56] JosephineKwa opened #6457 "Minor error under "Downloadable data" writeup in features.jsp"
At `The collected data belong to you...`, `belong` should be changed to `belongs`

[2017-01-25 18:02] JosephineKwa opened #6458 "Minor error under "Bug reports and feature requests" in contact.jsp"
Change `...submitted to above email address.` to `...submitted to the above email address.`

[2017-01-25 18:06] JosephineKwa opened #6459 "Duplicate "the" in java files"
Remove the 7 extra `the`s from
1. Javadoc of `joinCourseForInstructorWithInstitute` method in `AccountsLogic.java`
2. Description of `isShowTestData` variable in `AdminActivityLogPageAction.java`
3. Descriptions of `ifShowAll` and `isShowTestData` variables in `AdminActivityLogPageData.java`
4. Comment in `try` block of `doPost` method in `ControllerServlet.java`
5. Javadoc of `addMissingParticipa

[2017-01-25 18:26] JosephineKwa opened #6460 "Duplicate "the" in jsp files"
Remove the 3 extra `the`s from
1. Comment in `<form id="ajaxLoaderDataForm">` in `adminEmailLog.jsp`
2. The second `<li>` under `Enroll students by doing one of the following options` in `instructorHelp.jsp`
3. The first `<span>` after `Tolerate unequal contributions` in `instructorHelp.jsp`

[2017-01-25 18:34] JosephineKwa opened #6461 "Duplicate "the" in filterPanel.tag"
Remove the 4 extra `the`s from
1. Each description above the 2 `<input>`s with `value="${ifShowAll}"`
1. Each description above the 2 `<input>`s with `value="${ifShowTestData}"`

[2017-01-26 04:28] wkurniawan07 opened #6462 "Maximize usage of inheritance in browser tests"
All browser tests inherits `BaseUiTestCase` but its usage of inheritance is extremely limited. We can have things like making `Browser` and `DataBundle` `protected` variables of `BaseUiTestCase` and this would suppress all the repetitions in all the browser tests.

While not every single repetition is a candidate for abstraction (we have seen how wrong abstraction can kill), many stuffs are clear

[2017-01-26 04:30] wkurniawan07 opened #6463 "Maximize usage of inheritance in action tests"
Same as #6462 but for action tests.

This will also lead up to #6356.

[2017-01-26 05:10] thenaesh opened #6466 "Instructions for enabling GodMode are outdated"
The instructions in `test.properties` for allowing the GodMode tests to pass are outdated. It is necessary for `test.admin.account` to be appended to as well.

[2017-01-26 06:21] damithc commented on #6466
@wkurniawan07 I'll leave you to prioritize this issue.

[2017-01-26 07:14] paradite commented on #6346
Just curious why not use a js bundler or builder to automate the process of managing front-end libraries? I am talking about webpack or Rollup.

In this way, you can keep everything in `package.json` while not relying the CDN. Instead npm and the builder will grab the libraries and serve them together with the other local codebase.

[2017-01-26 07:30] wkurniawan07 commented on #6346
Under my radar (although not in the near future), but let's take it one step at a time. Introducing JS automated tool is a non-trivial devops task.

[2017-01-26 08:07] #6466 closed

[2017-01-26 08:10] #6297 closed

[2017-01-26 08:12] #6256 closed

[2017-01-26 14:23] kanghj commented on #5607
I was thinking about using camel case, but renaming it completely is fine too. I missed this out in the original post, but this issue must also involve writing a migration for the existing data with the old names to use the new names.

[2017-01-26 14:43] kanghj commented on #4345
@samsontmr, the storage of the teammates data that we use in most places is separate from the GAE search API. This issue is related to searching. IIRC, the class that needs editing here should be `SearchQuery` and its subclasses. You will probably need to refactor it quite a bit first before you can modify it to fix the bug described in this issue.

[2017-01-26 17:24] AnaghHegde opened #6468 "Unable to see some of the files in eclipse after importing project into workspace"
Today i was having some os problem , so again from the scratch i setup my local environment. Everything is working fine(even the test) except that some of the files were not visible in the eclipse.I have attached screenshot below

![screenshot from 2017-01-26 22-40-10](https://cloud.githubusercontent.com/assets/12005551/22342598/ed43de4a-e41a-11e6-88ab-e2ce633465d7.png)

Take a look at the image t

[2017-01-26 17:41] junhaoyap commented on #6404
@yash2o1o the scale will be massively different from that of schools or pet projects for sure!

[2017-01-26 17:44] junhaoyap commented on #6401
@shrut1996 in cases like that, we would usually do a search for the difference to narrow down on the culprit, it is entirely possible you have found a test that isn't stable - find the entity generating that fragment and see if you can find the one responsible for adding the empty when it should not and why

[2017-01-26 17:46] junhaoyap commented on #6401
@yash2o1o it seems you have a different set of failing tests from @shrut1996, is that part of a pull request? If you ran it on your own machine, what is the result?

[2017-01-26 19:59] shrut1996 commented on #6401
@junhaoyap But this test class is passing in the travis.ci.org

[2017-01-27 01:20] damithc opened #6470 "Instructor: edit student: delete outdated responses when moving student to another section"
Moving a student from a team in one section to a team in another section is supposed to delete responses given to, and received from, members of the previous team. However, there are cases where this did not happen in the live server.

[2017-01-27 01:24] damithc opened #6471 "Outdated responses mess up the submission form"
Outdated responses (see #6470) cause the submission form of affected students to have `To:` without student name. In the screenshot below, I've marked where a name will be missing if this situation occurs.

![image](https://cloud.githubusercontent.com/assets/1673303/22357341/53800100-e472-11e6-961d-56e713363340.png)

[2017-01-27 01:25] damithc commented on #6471
@kanghj I remember you did some investigation to a similar issue before. Any inputs?

[2017-01-27 03:34] whipermr5 opened #6472 "instructorFeedbackEdit.js: decouple from HTML DOM structure"
There are many instances where elements are selected using `.eq` instead of by ID. This assumes a certain HTML DOM structure and is easily broken if the HTML structure is updated in future, adding an unnecessary burden on the HTML maintainers to update these references.

Point for discussion: should all elements be selected by ID or is there a place for them to be selected via class followed by `.

[2017-01-27 03:37] whipermr5 opened #6473 "InstructorFeedbackEditPage uses -1 as question number of the new question"
As per title; this convention is not easily understandable from the outside.

Suggestion: use "new" as question identifier and dispense with the integer requirement? Discussion from #6411 carries on here.

Involves code in `instructorFeedbackEdit.js` too.

[2017-01-27 03:48] damithc commented on #6472
@junhaoyap @li-kai your inputs?

[2017-01-27 04:02] samsontmr commented on #4345
@kanghj I see that would be similar to pagination right?

[2017-01-27 05:03] #6409 closed

[2017-01-27 05:43] #6430 closed

[2017-01-27 06:29] junhaoyap commented on #6473
Passing in a negative number can be confusing without any kind of naming cues at the minimum, if due to the amount of effort necessary as this seems to be very legacy stuff, we could abstract it into another method that passes it the ```-1```, just that now this time we call that method rather than pass in -1 directly so it allows the API end-user to understand the effect of calling said method ra

[2017-01-27 06:34] junhaoyap commented on #6470
Just to be sure, it happens only on certain cases and not all cases?

[2017-01-27 06:36] junhaoyap commented on #6468
@AnaghHegde on the left, we see a folder with ```src/main/java```, when you expand that, is it empty?

[2017-01-27 06:38] junhaoyap commented on #6401
@shrut1996 I am not sure why I don't see the newest comment, maybe you deleted it by accident as I see it on my email

The thing about CI versus local machines is that there could be configuration differences and they could be causing differing experiences and such so if there is indeed such a configuration difference we want to find it

[2017-01-27 06:47] shrut1996 commented on #6401
@junhaoyap Yes I thought so. There must definitely be a configuration difference . Do you reckon I might find this difference in the test where I'm getting the assertion error?

[2017-01-27 07:01] junhaoyap commented on #6472
@whipermr5 @damithc @li-kai - roping in those relevant to this discussion

It is not just ```.eq``` that assumes certain structure, whenever we do things like ```div[class=~~~]``` and so on, we also assume that they will always be divs, or when we select tables, what if we change them to divs?

There has always been a problem with changing HTML on TEAMMATES due to the nature of our selectors usage

[2017-01-27 07:16] whipermr5 commented on #6472
Thanks for the detailed explanation! Understand and agree :)

However the reason I said `.eq(-2)` makes sense in this case is because it's selecting the question (not the radio button), and the last existing question is indeed always the second last element in the set of questions (with the last element being the new question). This seems to me quite a permanent structure, unless we're changing th

[2017-01-27 07:29] AnaghHegde commented on #6468
@junhaoyap No. It contains all the necessary files. Only the bottom one doesn't show the files.I tried googling about the error but no luck.

[2017-01-27 08:12] wkurniawan07 opened #6474 "Refactor search slice"
Yet another under-maintained slice. Consists of the following classes:
- `datatransfer.*SearchResultBundle`
- `storage.search` (the entire package)

Also, the search functions are **not** unit- and integration-tested **at all**. We've been relying on UI tests (i.e. system-level test) to test the search functions, which is at the wrong level and too resource-intensive to get a complete coverage.

[2017-01-27 08:28] samsontmr opened #6475 "Add IntelliJ support for TEAMMATES"
As discussed, IntelliJ support (in the form of a setup guide) will be added as a *try at your own risk* alternative to Eclipse.

[2017-01-27 10:02] wkurniawan07 opened #6476 "Release V5.94"

[2017-01-27 10:03] wkurniawan07 opened #6477 "Update about.jsp with contributors from V5.94"

[2017-01-27 11:16] sponde25 opened #6479 "New contributor self intro Anirudh"
App: http://4-18-dot-teammates-sponde25.appspot.com/index.jsp
Fork: https://github.com/sponde25/teammates/tree/tinker
I underlined the important lines in terms of use page. Not much, but baby steps.
Before:
![screenshot 21](https://cloud.githubusercontent.com/assets/9167391/22369090/00fe1d8e-e4b0-11e6-8f8a-8a9723a359f5.png)
After:
![screenshot 23](https://cloud.githubusercontent.com/assets/9167391

[2017-01-27 12:43] junhaoyap commented on #6472
True, I would think it is unlikely to change that drastically at least in the near future, perhaps we could introduce names to help -> ```lastExistingQuestion =...``` because ```.eq(-2)``` can make sense code wise and not to the person reading the code

[2017-01-27 12:45] junhaoyap commented on #6479
@sponde25, Welcome to TEAMMATES! Great job on what seems to be like your first try into OSS development!

I will recommend that you start with a first timer issue that you can find to get your feet wet, we do have quite a lot opened recently and they do get snagged up pretty quickly so I advise you to start as soon as possible :)

[2017-01-27 13:56] AnaghHegde commented on #5145
@wkurniawan07 @damithc Is this a good idea to use Google Maps API like @paradite suggested. If this ok i will start work on this. Or should i need to come up with a different idea.

[2017-01-27 14:03] damithc commented on #5145
I think we'll leave this alone for now. Not a high priority at the moment.

[2017-01-27 14:30] #6442 closed

[2017-01-27 14:38] #6477 closed

[2017-01-27 14:46] wkurniawan07 commented on #6476
Release 234

Code contributions from: @allevy3, @AnaghHegde, @Neurrone, @whipermr5, @ablyx, @shrut1996, @thenaesh, @xpdavid, @wkurniawan07, @yash2o1o, @leeyimin
Review contributions from: @damithc, @JosephineKwa, @junhaoyap, @wkurniawan07, @chowyb

Sprint Period: Jan 23, 2017 - Jan 27, 2017
Sprint Velocity: 30 hrs (code) + 20 hrs (review) = 50 hrs (total)

[2017-01-27 15:29] #6462 closed

[2017-01-28 09:08] li-kai commented on #6472
Naming is a good idea, though probably the best solution would be to decouple the logic with the view.

We are walking through the path of developers during 2008, which triggered the development and rise of javascript frameworks. In fact, [this article](http://beletsky.net/2012/09/why-use-backbonejs.html) says

[2017-01-28 09:11] shivanshsoni commented on #6458
I solved this issue already.. you can see my commit above

[2017-01-28 09:21] JosephineKwa commented on #6458
Hi @shivanshsoni, go ahead and create a PR for your fix. Remember to refer to the [guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md) on the conventions to follow.

[2017-01-28 09:42] wkurniawan07 commented on #6472
Precisely my sentiments about the JavaScript code in the entire code base (and it doesn't help that I'm guilty of some of them :face_with_head_bandage:).

[2017-01-28 16:59] li-kai opened #6487 "Make frontpage responsive"
With almost half of google's search traffic coming from mobiles, it's time to make the front page responsive.

[2017-01-29 06:22] AnaghHegde commented on #6448
@Neurrone

I think `getParticipantListFromParams` method in theses two class is also similar. Not just similar i think they are same (in function and the method definition). Its better if we remove this also and add it to `Action` class.

[2017-01-29 08:24] AnaghHegde opened #6490 "Refactor getParticipantListFromParams(String) method in *action classes"
InstructorFeedbackQuestionAddAction and InstructorFeedbackQuestionVisibilityMessageAction and InstructorFeedbackQuestionEditAction  have implementations of `getParticipantListFromParams(String)` which are almost completely identical.

[2017-01-29 08:59] damithc commented on #6490
`Refractor` -> `Refactor`

[2017-01-29 14:46] yash2o1o commented on #6487
@li-kai do we have to do it using bootstarp? If yes, then I would like to give it a try.

[2017-01-30 09:43] thenaesh opened #6492 "HTML not sanitized in the admin home page"
There are some parts of `adminHome.js` and the associated AJAX handler `AdminInstructorAccountAddAction.java` that construct HTML strings for insertion into the DOM, and concatenate user input into it without sanitizing.

The result is things like this occurring:
![teammates_script_injection_bold_attempt_and_success](https://cloud.githubusercontent.com/assets/9165895/22418125/88df4f7a-e712-11e6-94

[2017-01-30 09:48] wkurniawan07 commented on #6487
@yash2o1o this issue is already being worked on. Perhaps you can try working on something else?

[2017-01-30 11:47] #6460 closed

[2017-01-30 12:53] wkurniawan07 commented on #4345
@kanghj @samsontmr you both would be glad to know that I'm already doing it in #6495.

[2017-01-30 12:57] AnaghHegde commented on #6490
Can some one add the labels to the issue please.

[2017-01-30 13:02] damithc commented on #6490
@wkurniawan07 please have a look when you have time and validate/prioritize as necessary.

@AnaghHegde OSS projects are often manned by volunteers who have other day jobs. Sometimes things take some time to progress.

[2017-01-30 13:05] AnaghHegde commented on #6490
@damithc I am sorry.I didn't mean it. Since i have already submitted a PR i just wanted to confirm if it comes under `d.Contributors` issue.

[2017-01-30 13:27] damithc commented on #6490
@AnaghHegde it's fine.

[2017-01-30 14:38] AnaghHegde opened #6498 "Wrong usage of Inheritance in *action classes"
The following 4 classes extends `FeedbackSubmissionEditPageAction`

1.InstructorFeedbackSubmissionEditPageAction

2.InstructorFeedbackSubmissionEditSaveAction

3.StudentFeedbackSubmissionEditSaveAction

4.StudentFeedbackSubmissionEditPageAction

And InstructorFeedbackRemindAction extends `InstructorFeedbacksPageAction`.

 This is wrong usage of inheritance. As only Action and *AbstractAction can b

[2017-01-30 17:14] wkurniawan07 commented on #6498
- The first four are incorrect. Notice that `FeedbackSubmissionEditPageAction` and `FeedbackSubmissionEditSaveAction` are `abstract` classes. You're welcome to rename those classes to mention `*AbstractAction`, but not required, as the fact that the class names are not prefixed with `Instructor-` or `Student-` is already a certificate of their `abstract`-ness.
- The one on `InstructorFeedbackRemin

[2017-01-30 17:40] AnaghHegde commented on #6490
@wkurniawan07 I have found some other methods which comes under refactoring only. Shall i open a new issue or i just need to add them to this issue only ?

[2017-01-31 03:27] samsontmr commented on #5131
@yash2o1o yes it is, please go ahead!

[2017-01-31 03:50] samsontmr commented on #1805
Has this issue been solved?

[2017-01-31 04:06] samsontmr commented on #1562
There doesn't appear to be a check in `FeedbackNumericalScaleResponseDetails`. I'm guessing that is where the check should be happening?

[2017-01-31 04:22] #6435 closed

[2017-01-31 04:31] damithc commented on #1805
@samsontmr this is an old issue (as you can guess from the screenshot). You may have to verify yourself if ti still exists.

[2017-01-31 04:53] damithc commented on #6476
Deployed

[2017-01-31 04:53] #6476 closed

[2017-01-31 05:41] #6459 closed

[2017-01-31 06:32] #6009 closed

[2017-01-31 06:32] #6179 closed

[2017-01-31 06:32] #6238 closed

[2017-01-31 06:34] wkurniawan07 opened #6500 "PSA: regenerate some of your launch files"
Greetings to all active developers/contributors,

If you have been using the provided launch configurations for running tests in Eclipse, there are some changes that you need to do due to #6321. This is to be done when you sync with the latest `master` branch, commit dccb667 onwards. Follow these steps:
1. Delete the files `All tests (GodMode).launch`, `All tests.launch`, `Staging tests.launch`, a

[2017-01-31 06:41] junhaoyap commented on #6401
@shrut1996 I'm not so sure, this is the first time we're seeing such an error as a team :s @wkurniawan07 any help here?

[2017-01-31 06:47] damithc commented on #6500
I wonder if there is a better way to convey this info to relevant devs. For example, have a file that has a running list of these announcements (with dates) and mention in the troubleshooting guide to check that file if their setup breaks inexplicably.

[2017-01-31 07:24] damithc opened #6501 "Upgrade instance class to F2"
To improve performance, we can upgrade the [instance class](https://cloud.google.com/appengine/docs/about-the-standard-environment#instance_classes) to F2. However, I'm unable to do that using the GAE admin console any more http://stackoverflow.com/questions/29295703/why-i-cant-see-instance-class-on-application-settings

I think we need to upgrade our config files. I suspect our files follow a leg

[2017-01-31 08:26] yash2o1o commented on #6487
@wkurniawan07  great. I will try some other issue.

[2017-01-31 10:10] xpdavid opened #6502 "Refactor and fix bugs for the whole log system"
Currently, these classes are involving in the log system and need to be re-examined.

- `ActivityLogEntry`
- `AdminLogQuery`
- `EmailLogEntry`
- `GaeLogApi`
- `Logger`
- `AdminEmailLogPageAction`
- `AdminEmailLogPageData`
- `AdminActivityLogPageAction`
- `AdminActivityLogPageData`

They're lacking consistency and documentation. To solve this, several sub-issues are needed to be solved (will update

[2017-01-31 11:12] xpdavid opened #6503 "Separate the UI part and logic part in ActivityLogEntry"
Currently the UI things and logic things mess up in `ActivityLogEntry`.
Need to separate them and create an additional class `AdminActivityLogTableRow` (a template, for UI).

[2017-01-31 11:18] xpdavid opened #6504 "Standardize the way to generate ActivityLogEntry or log message"
Currently the generation of log message depends on static method and constructor in `ActivityLogEntry` (It's kind of inconsistent).  The `null` value is pass around to represent absent value in the constructor, which is a bad practice.

Solution to it would be using builder pattern and factory pattern to generate `ActivityLogEntry` (or log message)

[2017-01-31 12:57] wkurniawan07 commented on #6502
@xpdavid I'm not entirely familiar with the logs feature myself, so I can only give suggestions based on the smaller issues. It will be good if the smaller issues are release-able on their own, i.e. if you can package e.g. the first two smaller issues to a new release and everything will still be working, and I trust that you can figure out ways to do that. I've done a refactoring on similar scale

[2017-01-31 13:25] wkurniawan07 opened #6506 "Review the need for some documentation files"
- Specs
- Resources bin
- Decision analysis
- All best practices document
- All technical reports

Based on my observations, the above documentations are either (1) very outdated, (2) not read, (3) disorganized, or (4) combination of them. Any documentation in the repo, not just the abovementioned, is a maintenance burden. Knowing that some of the mentioned traits apply, I believe not all of them

[2017-01-31 13:32] AnaghHegde commented on #6498
@wkurniawan07 `InstructorFeedbackRemindAction` class even-though extends `InstructorFeedbacksPageAction` its not using any of the features of `InstructorFeedbacksPageAction` class.

[2017-01-31 13:47] damithc commented on #6506
Most of the content in those documents are outdated. However, they contain bits of information that are not documented elsewhere and might be needed for very specific purposes if not for general consumption. I suggest we move all of them into a separate page called 'Archived docs (no longer maintained)' to avoid those questions you mentioned.

[2017-01-31 15:21] damithc commented on #6501
@whipermr5 as you have an interest in GAE, may be take a look at this one? No hurry.

[2017-01-31 16:43] whipermr5 commented on #6501
Turns out that instance class is now set in `appengine-web.xml` rather than the web console ([doc](https://cloud.google.com/appengine/docs/java/config/appref#instance_class)). Adding a single line `<instance-class>F2</instance-class>` to my `appengine-web.xml` and deploying indeed results in an F2 instance class:

![screen shot 2017-02-01 at 12 40 37 am](https://cloud.githubusercontent.com/assets/

[2017-01-31 17:27] leeyimin opened #6509 "CI tests skipped after merge branch"
Tests were skipped after merging branch through the GitHub PR page. The build should not have passed as there was a failing test case. The merge commit also had code changes and not just doc changes.

https://travis-ci.org/TEAMMATES/teammates/builds/196991962

CI passing even though it should have failed:
![image](https://cloud.githubusercontent.com/assets/6365864/22476268/ae735488-e81c-11e6-930d-

[2017-01-31 17:57] AnaghHegde commented on #6509
@leeyimin It happened with me also 3 days back .
![screenshot 63](https://cloud.githubusercontent.com/assets/12005551/22477562/9fdff558-e80c-11e6-81cb-d9c2619f38e1.png)

Later i just added 1 newline to the file and committed it gave error.

[2017-01-31 18:00] AnaghHegde commented on #6509
@leeyimin It happened with me also .
![screenshot 64](https://cloud.githubusercontent.com/assets/12005551/22477706/21b49bce-e80d-11e6-9786-962f419bb5ad.png)

Later i just added 1 new line and committed and build failed.

[2017-02-01 01:46] damithc commented on #6501
Thanks for the investigation @whipermr5

[2017-02-01 01:56] damithc commented on #6509
@whipermr5 may be related to recent PR that makes Travis skip for 'docs only' commits?

[2017-02-01 03:31] boxin-yang commented on #6492
Wonder if this is necessary as this page is only viewed by the admin

[2017-02-01 03:47] whipermr5 commented on #6509
Yes; it is. The build log hints at the problem when the `git diff` fails with:
`fatal: Invalid symmetric difference expression dccb667c67bb26167a7e9b0f7c37bf660043032c...3ff9882665c14638812259e722327d0fdc25fc77`
At first I thought it might be due to [an open Travis issue](https://github.com/travis-ci/travis-ci/issues/4596), but it seems more like Git being unable to compare those two commits in th

[2017-02-01 04:50] Neurrone opened #6512 "Use enum instead of string for status message colors"
StatusMessage's constructor currently takes in an enum for the color, but stores and exposes it as a string instead.

[2017-02-01 06:01] leeyimin opened #6513 "InstructorCourseRemindAction: extractUserName may not return username correctly"
The current implementation extracts the username from the email content and cuts off at the first comma, possibly returning the names of students incorrectly. If sanization is applied to the username in the email, eg. in #6454, desanitization would be required, which is additional work.

[2017-02-01 06:06] damithc commented on #6513
@leeyimin what is the impact of this issue? Some emails containing only part of the receiver name? or some emails not going out at all?

[2017-02-01 06:08] leeyimin commented on #6513
@damithc I think it is a minor issue that just affects the Action log message.

[2017-02-01 06:59] #6450 closed

[2017-02-01 07:32] #6312 closed

[2017-02-01 07:51] #6501 closed

[2017-02-01 07:54] wkurniawan07 commented on #6509
It seems like the variable `TRAVIS_COMMIT_RANGE` is returning an erroneous commit hash for some reasons. So far we got three cases of this: [here](https://travis-ci.org/TEAMMATES/teammates/builds/197193160), [here](https://travis-ci.org/TEAMMATES/teammates/builds/197028227), [here](https://travis-ci.org/TEAMMATES/teammates/builds/197069054). It pales in comparison with the number of successful bui

[2017-02-01 07:55] #6461 closed

[2017-02-01 08:15] whipermr5 commented on #6509
And yet the commit hashes seem to be correct... the build https://travis-ci.org/TEAMMATES/teammates/builds/196991962 indeed corresponds to the PR commit [3ff9882665c14638812259e722327d0fdc25fc77](https://github.com/TEAMMATES/teammates/commit/3ff9882665c14638812259e722327d0fdc25fc77) that merged in the AppVeyor commit [dccb667c67bb26167a7e9b0f7c37bf660043032c](https://github.com/TEAMMATES/teammates

[2017-02-01 08:23] #6397 closed

[2017-02-01 08:25] damithc commented on #6509
A dirty hack would be to run tests anyway in case of error. i.e. skip CI only if the conditions are met without any errors.

[2017-02-01 08:58] #6437 closed

[2017-02-01 09:23] AnaghHegde commented on #6498
@wkurniawan07 what else i am missing?. I m not able to find anything else other than above mentioned.

[2017-02-01 11:01] leeyimin opened #6515 "Templates: refactor populateTemplate()"
In Templates utility class, populateTemplate accepts varargs of alternating key and value strings to do population of the fields in templates. A more defensive way is to use Map to replace the varargs, as suggested by @ablyx.
I also propose to have a new method populateTemplateWithSanization to sanitize the values before populating the fields with them. The use of sanitization is usually embedded

[2017-02-01 12:35] leeyimin opened #6516 "InstructorCourseRemindActionTest: refactor duplicated code"
testExecuteAndPostProcess in InstructorCourseRemindActionTest has duplicated code which can be extracted out as a method.

[2017-02-01 13:26] #5937 closed

[2017-02-01 13:28] #6441 closed

[2017-02-01 13:40] kanghj commented on #6471
The cascaded update to responses for editing emails and teams appears to be correct locally (other than #3404). If this issue is not a frequent occurrence, a possible cause is eventual consistency. Outdated responses will be left if the cascade failed to update all the required responses.

Anyway, we could automatically detect and hide invalid recipients on the feedback submission page as a quick

[2017-02-01 14:31] leeyimin opened #6518 "Refactor StringHelper and Sanitizer class"
Certain methods in Sanitizer are more suitable in StringHelper. (eg. removeNonAscii, trimIfNotNull, etc)

New Desanitization class:
There exists two methods in StringHelper which recovers string from sanitized html and another method in Sanitizer to desanitize url for NEXT_URL. It may not be clear to users wishing to use such functions where exactly to find them.

[2017-02-01 14:36] xpdavid opened #6519 "Add more checkstyle rules"
[Checkstyle](http://checkstyle.sourceforge.net/index.html) is a powerful tool for static analysis. Most of the rules in the [java coding standard](https://oss-generic.github.io/process/codingStandards/CodingStandard-Java.html) are reflected in the configuration. There are still several rules that can be applied and I want to bring them here for discussion.

For existing checkstyle rule:

Rules app