[2017-07-26 11:28] #7485 closed

[2017-07-26 13:51] damithc opened #7854 "Website home page: add to user quotes"
Where to add:
![image](https://user-images.githubusercontent.com/1673303/28624586-1f82d7f2-724c-11e7-8115-12d2a16c1594.png)

What to add:
![image](https://user-images.githubusercontent.com/1673303/28624622-42cc8ac8-724c-11e7-906d-33e28001e0a2.png)
`- Faculty user, UK`

![image](https://user-images.githubusercontent.com/1673303/28624675-6de2139a-724c-11e7-833c-167e655182f9.png)
`- Faculty user, Sin

[2017-07-26 14:39] #1045 closed

[2017-07-26 14:48] amarlearning commented on #7847
@damithc the sample questions are created using data from `InstructorSampleData.json` and changes will be visible only in new instructor's account.

[2017-07-26 14:56] damithc commented on #7847
You are right @amarlearning We need to fix this in the sample course as well as the standard feedback session questions (if it's flawed in both places).

[2017-07-26 17:20] #3910 closed

[2017-07-26 17:52] VamsiSangam opened #7859 "Rubric questions: improve testing code"
Continuation of #7415 .

**Scope of Issue**

As per [discussion](https://github.com/TEAMMATES/teammates/pull/7415#pullrequestreview-47375553). The code for testing rubric questions looks very redundant and needs to be re-written at a higher level of abstraction. More thorough tests must be added once the code is re-written.

[2017-07-26 17:52] VamsiSangam commented on #7859
Will work on this.

[2017-07-26 17:57] VamsiSangam opened #7860 "Rubric questions: allow simple edits to rubric choices"
Currently, simple edits to rubric choices, such as correcting a typo, will need the deletion of existing responses. Modify implementation such that instructor can make simple edits to rubric choices without the need to delete existing responses. So briefly, only adding/deleting rows/columns and swapping columns must lead to deletion of existing responses.

[Discussion](https://github.com/TEAMMATES

[2017-07-26 18:03] #7652 closed

[2017-07-26 18:31] #7755 closed

[2017-07-26 18:48] whipermr5 opened #7861 "FeedbackRubricQuestionUiTest: fix cannot focus element error on Chrome"
Our AppVeyor builds (which run Chrome) have been failing since 3ad37ca65e299f0cc7b3499c2d50ff2d81499564:
[code]

[2017-07-26 21:51] LimeTheCoder commented on #7836
In that case, it won't be possible to access constructor from static context of Builder class.

If you remove empty package-private constructor then will be used default constructor with public access level instead.

[2017-07-26 23:57] Zhiyuan-Amos commented on #7836
Ah yes, what was I even thinking. Thanks! 👍

Yes you are right, I missed this out as well. I'm thinking how about we make a private constructor which doesn't do anything:
[code]

That way, we can shift the assigning of the variables (currently in the constructor) to be the responsibility of the Builder instead.

[2017-07-27 03:15] damithc commented on #7860
This is not urgent. One part of this issue is to look at the back-end implementation to identify which kind of changes compromise the integrity of the existing data. For example, if the back-end is solid, adding a row should not invalidate existing data.

[2017-07-27 04:28] kyleaolson opened #7864 "New contributor self intro Kyle Olson"
A) https://teammates-kyleaolson.appspot.com/
B) https://github.com/kyleaolson/teammates
C) Reformatted contact section and updated link to GitHub repo from text to image.
![image](https://user-images.githubusercontent.com/8674997/28654371-55db9732-7259-11e7-83e9-c11c979b6b67.png)
D) Hello! I'm a techie from Houston, TX that currently works as a full-stack developer for a Fortune 500 financial serv

[2017-07-27 07:26] HirdayGupta commented on #7861
@whipermr5 Even tests that I run locally on Firefox (v46.0) are failing because of the same tests. My stack trace is this:

[code]

[2017-07-27 07:45] HirdayGupta commented on #7861
Working on this

[2017-07-27 07:48] whipermr5 commented on #7861
@HirdayGupta See if you can test it on Chrome too :)

[2017-07-27 08:05] HirdayGupta commented on #7861
@whipermr5 Need some help. Is there a difference between `WebElement`'s `WebElement.click()` method and the `click(WebElement)` method we have on AppPage? The test works fine with the later and the location of the failing test was the only instance of the former.

[2017-07-27 08:13] whipermr5 commented on #7861
Yes; the second one uses JavaScript and is more reliable.

[2017-07-27 08:18] HirdayGupta commented on #7861
@whipermr5 Changing to the second one runs the test on firefox successfully. There still seems to be some problem on Chrome. Will open a PR once I figure that out. :)

[2017-07-27 09:08] HirdayGupta commented on #7864
Hi @kyleaolson, Welcome to TEAMMATES!

Good job on correctly setting up your developer environment. You can start off your contribution by tackling an issue labelled `d.FirstTimers`. These are simple issues and fixes (like typos, etc) that have been earmarked to orient newcomers to our workflow. You can find the `d.FirstTimers` issues [here](https://github.com/TEAMMATES/teammates/issues?utf8=✓&q=i

[2017-07-27 11:31] whipermr5 opened #7869 "Instructor: edit course: make panel responsive"
Noticed from #7841. At certain `sm` resolutions, the detect time zone button protrudes out:

<img width="742" alt="screen shot 2017-07-27 at 7 27 15 pm" src="https://user-images.githubusercontent.com/6811428/28668347-d71d0a62-7301-11e7-9289-957e286a7962.png">

At `xs` resolutions, the button is stuck to the bottom of the select input:

<img width="550" alt="screen shot 2017-07-27 at 7 27 21 pm" sr

[2017-07-27 12:02] leeyimin commented on #7816
@damithc Should `No response` be shown for a sub-question in a partially answered rubric question when the checkbox is unchecked?

[2017-07-27 12:28] ParmaarK commented on #5847
@chowyb InstructorFeedbackEditPage class needs to be changed right?

[2017-07-27 13:27] stanislous commented on #7869
@whipermr5 So what should be the correct way?? :-)

[2017-07-27 13:37] HirdayGupta commented on #7869
@stanislous From the `sm` resolution screenshot you can see that the button is sticking out of the panel. That shouldn't happen and it should instead be resized to fit in the panel. In the `xs` resolution screenshot, you can see that the button sticks to the timezone dropdown. That shouldn't happen either and instead there should be the expected spacing between two form elements.

If you're not wo

[2017-07-27 13:52] damithc commented on #7816
Sounds like it can be useful. e.g. if the user sort the spreadsheet by sub question. What do you think?

[2017-07-27 16:14] stanislous commented on #7869
@HirdayGupta it's OK. You can work on this. :-)

[2017-07-27 16:19] #7447 closed

[2017-07-27 22:32] kyleaolson commented on #7854
I'll take this.

[2017-07-28 03:57] leeyimin commented on #7816
@damithc I feel that it would be good to include `No response` for a subquestion for a partially answered question, even if the user did not ask indication of missing responses. The instructor may be confused if the csv does not show the full response and think that something went wrong when generating the csv.

[2017-07-28 04:25] damithc commented on #7816
Makes sense.

[2017-07-29 07:41] wkurniawan07 commented on #7648
Just to update progress, this is currently blocked by <https://issuetracker.google.com/issues/63732823>.

[2017-07-29 07:59] wkurniawan07 opened #7873 "Update CheckStyle to 8.0"
CheckStyle 8.0 (not the latest) is already supported in [Eclipse plugin 8.0.0](http://eclipse-cs.sourceforge.net/#!/) and [IntelliJ plugin 5.7.0](https://plugins.jetbrains.com/plugin/1065-checkstyle-idea) so we are ready to provide full support for it, contingent to our provision for Java 8 support.

[2017-07-29 19:32] HirdayGupta commented on #7804
Working on this.

[2017-07-29 20:22] HirdayGupta commented on #7804
~~Working on this.~~

EDIT: Decided against working on this as @damithc sir mentioned that reviewer availability will be lower than usual these next few weeks and I just realised I would need a lot of input while working on this.

[2017-07-30 00:56] damithc opened #7875 "Student: submit 'distribute points' question: fill empty entries as 0"
Current:
empty entries are allowed and considered as zero
![image](https://user-images.githubusercontent.com/1673303/28749756-c0721442-7504-11e7-9d43-d1681793e4df.png)

Suggested:
A use suggested that empty entries should be auto-filled with `0`. This can be done at the point the javascript determines the total is correct but there are empty entries

[2017-07-30 00:59] damithc opened #7876 "'Distribute points' questions: increase the width of status info message"
Current:
Very narrow width. Appears squished.

![image](https://user-images.githubusercontent.com/1673303/28749773-3c0ee288-7505-11e7-9a38-252d6384c30d.png)

Suggested:
Increase width so that it appears as one line.

[2017-07-30 02:01] uxxSam commented on #7876
Hi, I would like to work on this issue.

[2017-07-30 03:25] amarlearning opened #7877 "Enroll Students: Update the instructions"
Continuation of #7568

Based on the new implementation of the Handsontable spreadsheet to enroll the student. We should also update the instruction present in Student Enroll page.

Working on this

[2017-07-30 03:36] amarlearning commented on #7875
working on this

[2017-07-30 03:48] amarlearning commented on #7875
@damithc we can also the default value to `0` by just adding the `value` attribute to the `input[type='number']` tag. something like this:-

[code]
Now when the student open the page for submiting response, it looks something like this _[screenshot]_
![screenshot from 2017-07-30 09-16-38](https://user-images.githubusercontent.com/9383897/28750424-eccf9430-7507-11e7-88d7-3590e63e35bb.png)

I think

[2017-07-30 04:14] damithc commented on #7875
@amarlearning If you set all values to 0 by default, it will not add up to the required number and will block the form being submitted? That means users cannot submit responses to other questions unless they submit this question.

[2017-07-30 04:17] damithc commented on #7877
This should not be a separate PR. #7568 cannot merged without the instructions (merging without instructions will make the page unusable) -- that means instructions should be in the same PR.

[2017-07-30 04:17] #7877 closed

[2017-07-30 04:24] amarlearning commented on #7875
By that I mean, when the form loads the default value of the input will be `0`, but the student can edit the fields while filling up the feedback form. No change will be noticed in the behavior of the code, everything will work fine.

Like this did just now _[screenshot]_, All values were set to `0` by default, I just changed one value and moved to another question.
![screenshot from 2017-07-30 09

[2017-07-30 04:26] damithc commented on #7875
The student should be able to submit the form with answers to other questions but not this question. If you fill it up with 0's from the start, the student is forced to edit this question either to remove all 0's or make it add up to the required sum, right?

[2017-07-30 04:29] damithc commented on #7875
The point is, empty cells means 'unanswered' and the student can leave it as 'unaswered' without further action. If you fill it up with zeros by default, the question becomes 'answered' without any action from the user, and we don't want that.

[2017-07-30 04:31] amarlearning commented on #7875
Just noticed that :sweat_smile:, thanks for the explanation.

[2017-07-30 04:35] dikshaa42 commented on #7854
should i do this?

[2017-07-30 04:36] dikshaa42 commented on #7876
Hi, i also would like to work on this issue.

[2017-07-30 05:59] LiHaoTan opened #7878 "HTML: Use `charset` attribute instead of `http-equiv` attribute to specify encoding"
Let's replace all
[code]
with
[code]

---
While our [HTML style guide](https://oss-generic.github.io/process/codingStandards/CodingStandard-Html.html) did not specifically prefer either to specify encoding, the style guide should be updated to prefer `charset`.

Although the standard did not specify which is to preferred, their examples use the charset attribute as well.

[code]
https://html.spec.

[2017-07-30 08:08] LiHaoTan opened #7880 "`teammatesCommon.css`: Remove `cursor: hand;`"
Replace

[code]
with
[code]

---

https://quirksmode.org/css/user-interface/cursor.html#note

The support for `hand` value has been dropped since IE9 as well.

[2017-07-30 08:29] LiHaoTan opened #7881 "teammatesCommon.css: Remove `@charset 'UTF-8';`"
The standards committee recommend that

https://drafts.csswg.org/css-syntax-3/#determine-the-fallback-encoding

This is made clearer with their recommendations here:

https://www.w3.org/International/tutorials/tutorial-char-enc/

https://www.w3.org/International/questions/qa-css-charset

---
Moreover, the syntax used for `@charset` is incorrect, as it requires double quotes.

40 63 68 61 72 73 65

[2017-07-30 09:40] HarshKhatore commented on #7135
@wkurniawan07  I am a first timer and can help with this. Can you provide me with further details?

[2017-07-30 09:46] HarshKhatore commented on #7135
I think it has already been done?
![screenshot 25](https://user-images.githubusercontent.com/17762022/28752334-0cc824d2-753a-11e7-9227-2aeb0b20824d.png)

[2017-07-30 14:44] dikshaa42 opened #7882 "Instructor: edit instructors: give a way to create multiple instructors in one step"
Teammates have a feature of adding multiple instructor names in one go. So, we can enhance that feature by allowing the user to upload a file which will have specified format. It will be easy for the users rather than copy pasting.

[2017-07-30 16:59] LimeTheCoder commented on #7882
I thought about that too, nice idea!

[2017-07-30 20:04] aforbe2 commented on #7854
I'd like to take this issue if possible.

[2017-07-30 22:49] amarlearning commented on #7876
@dikshaa42  Since @uxxSam already commented that he would be working on this issue, I suggest you ask him before doing this issue yourself. And since you are new here I would suggest you read our [Contributor Orientation Guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) on _Getting started with contributing to TEAMMATES_.

[2017-07-31 04:10] whipermr5 commented on #7135
There should be a link as the final step.

[2017-07-31 05:29] HarshKhatore commented on #7135
So we just have to add a new final step for both Eclipse IDE and IntelliJ IDEA?

[2017-07-31 05:29] #7861 closed

[2017-07-31 07:37] whipermr5 opened #7884 "Trim leading whitespace from HTML output"
Viewing the source of any TEAMMATES page reveals lots of unnecessary whitespace in the HTML:
![screen shot 2017-07-31 at 3 35 35 pm](https://user-images.githubusercontent.com/6811428/28767381-0d4088ba-7606-11e7-9747-19c30cd2999a.png)

~~This is due to every directive in our `jsp` and `tag` files taking up a newline each. To fix, add the `trim-directive-whitespaces` directive to `src/main/webapp/WE

[2017-07-31 07:54] wkurniawan07 commented on #7884
@whipermr5 can confirm that it actually works in `web.xml`? I'm aware of this trick since long ago but for some reason did not manage to get it work via `web.xml`; it works if added as individual directives in each JSP/tag files.

[2017-07-31 07:55] whipermr5 commented on #7882
I suspect @damithc would prefer a web UI to uploading a file. Something similar to #7882 would be good. However, priority will probably be low as I don't think multiple instructors are added often?

[2017-07-31 07:58] whipermr5 commented on #7884
@wkurniawan07 Oops, you're right 😅

[2017-07-31 08:30] whipermr5 commented on #7884
I guess it'd suffice to add the directive to `page.tag` and `staticPage.tag`.

[2017-07-31 22:24] HirdayGupta commented on #7869
@damithc Sir, what's the lowest screen resolution that we support?

Also, @whipermr5, there are two approaches to solving this problem. The first, easy one, is to fix the behaviour at the individual levels of `sm` and `xs` without bothering to fix the underlying problem of why the elements (which are never more than 12 columsn) over flow in the first place. This is pretty straightforward and I hav

[2017-07-31 23:27] HirdayGupta commented on #1368
@damithc Just to be clear, you mean a confirmation email after the student registers himself by signing in with a google ID after clicking the link sent in the course-join invitation email? What all information would this email contain?

[2017-08-01 00:44] damithc commented on #1368
Yes.
Info: Course code/name, google ID used to join, what to do if the joining was a mistake (email us).

[2017-08-01 00:46] damithc commented on #7869
Not sure myself. What's the latest norm out there? Any input from other devs?

[2017-08-01 00:48] damithc commented on #7882
Yes, I prefer something similar to 'enroll students' page.
Yes, some users have asked for an easier way to create multiple instructors. One complication is that custom instructors can contain lot of details, so this feature probably won't cover instructors with custom settings.

[2017-08-01 00:50] damithc commented on #7882
Probably we should do #7225 first. Putting this on hold in favor of #7225

[2017-08-01 01:00] #7297 closed

[2017-08-01 01:09] whipermr5 commented on #7135
Yes, as mentioned in the discussion above. Also as mentioned above, `setting-up.md` should be modified such that the link to `development.md` appears after step 4.

[2017-08-01 01:32] whipermr5 commented on #7869
@HirdayGupta The overflow happens because the button is only given `col-sm-1` when its width requires more than one column. From trying, the button requires 4 columns at the width shown in the screenshot. Currently, the time zone label is given 3 columns and the dropdown is given 6 (so only 10 columns are utilised). We can redistribute it such that the dropdown is given 5 and the button is given 4

[2017-08-01 01:35] #7880 closed

[2017-08-01 01:41] whipermr5 opened #7886 "InstructorFeedbackResultsPage: avoid use of `.click()`"
This method does not work on Chrome (causing the AppVeyor build failures after merging #7586), and is sometimes unreliable on Firefox too. Use `AppPage`'s `click` method instead, which uses JavaScript and is reliable across both browsers.

[2017-08-01 03:08] #7876 closed

[2017-08-01 03:52] #7819 closed

[2017-08-01 03:52] whipermr5 commented on #7819
@keerthikorivi Did you manage to resolve the issue?

[2017-08-01 04:05] dreyskiy commented on #7326
I ran into this problem a few moments ago.  I can fix this and do a pull request if thats ok with you.  Its a very simple change.

[2017-08-01 06:31] LiHaoTan commented on #7886
Haha I don't know how unreliable is `WebElement#click` but using Javascript's click would mean that it's not really a UI test (though I am aware of the catches/limitations of Selenium so sometimes we have to use such workarounds).

I am just wondering is this the best option though? If there is a way to get `WebElement#click` we should prefer it, otherwise it is not a UI Test.

[2017-08-01 06:38] wkurniawan07 commented on #7886
@LiHaoTan allow me to give you the deal breaker: <https://stackoverflow.com/questions/38923356/element-is-not-clickable-at-point-other-element-would-receive-the-click>.

[2017-08-01 06:52] whipermr5 commented on #7886
@wkurniawan07 Are you suggesting using `maximize()`?

[2017-08-01 06:55] wkurniawan07 commented on #7886
[We already used that](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/pageobjects/Browser.java#L38), evidently with limited success.

[2017-08-01 11:47] #7835 closed

[2017-08-01 12:40] VamsiSangam commented on #7326
Sure @dreyskiy ! Go ahead :smile:

[2017-08-01 17:22] wkurniawan07 commented on #7884
FWIW, adding the following to every JSP/tag file:
[code]
will achieve what is intended.
While this necessitates repetition and is prone to the case of "forget to include this directive in some files", it does not affect correctness and thus non-inclusion is not so much of an issue.

[2017-08-01 23:38] kyleaolson commented on #6900
No work on this in a while so I thought I'd take a stab at it. As stated in the PR, I was able to get the URL to wrap with this:
[code]
from here: https://stackoverflow.com/questions/21587813/bootstrap-responsive-table-content-wrapping

But since it's difficult to break URLs without it looking really choppy, I went with the cleaner approach (IMO) of just adding a name for the link.

[2017-08-02 02:30] #7886 closed

[2017-08-02 05:14] felixinjapan commented on #7881
Hi, I would like to take care of this ticket.

[2017-08-02 09:36] #7881 closed

[2017-08-02 09:40] amarlearning commented on #7812
@damithc need some confirmation before I proceed with this issue.

1.  Use `Evaluee` in place of `To` and with a tooltip saying `The party being evaluated or given feedback to Evaluee (Student): Francis Gabriel`
![screenshot from 2017-08-02 15-03-52](https://user-images.githubusercontent.com/9383897/28867497-f2f574fe-7793-11e7-9559-82f86ed1b3cc.png)

and same for Team and Instructor?

[2017-08-02 09:43] damithc commented on #7812
Yes.

[2017-08-02 14:25] vandy56 opened #7891 "New contributor self intro: Jon Vanderlaan"
- https://teammates-jon.appspot.com
- https://github.com/vandy56/teammates

**Screenshot of changes made (as seen on the UI)**
<img width="1195" alt="screen shot 2017-08-02 at 8 05 49 am" src="https://user-images.githubusercontent.com/26888281/28878007-a66f1322-7763-11e7-8d8a-d15bd9f625a1.png">
I removed the ellipses from the headline (Student peer evaluations/feedback, shareable instructor commen

[2017-08-02 15:04] LiHaoTan opened #7892 "InstructorCourseJoinConfirmationPageUiTest: Fix broken Javadoc link"
Change
[code]
to
[code]

[2017-08-02 16:28] vandy56 commented on #7892
I'll take this one

[2017-08-02 17:06] #7854 closed

[2017-08-02 18:06] whipermr5 opened #7893 "Release V5.110"
Scheduled for August 3, 2017, 11.59pm SGT.

[2017-08-02 18:07] whipermr5 opened #7894 "Update about.jsp with contributors from V5.110"

[2017-08-02 20:05] stanislous opened #7896 "Instructor: Edit Course Details: change Delete buttons color to red"
Changing the colour of the delete button in Instructor: edit course details page. it would be attractive and readable.

![screenshot 817](https://user-images.githubusercontent.com/20964806/28892537-f52c82f0-77eb-11e7-90f1-0cd3a32fc873.png)

[2017-08-02 20:07] HirdayGupta commented on #1368
@damithc Should I also send the email to the instructors who register their googleids (the ones who are invited to join by other instructors)? The arguments in favour of sending the email to students (ie record for Google ID used and accidental joining using other people's accounts) also apply to instructors.

[2017-08-02 22:23] amarlearning commented on #7812
@damithc there are a couple of cases which are different and needed to be handled differently like:

- When there is `only one instructor`, the view on the student feedback page is something like this _[screenshot]_. In this case, the tooltip can be added as you suggested.
![screenshot from 2017-08-03 03-03-00](https://user-images.githubusercontent.com/9383897/28897265-8a915238-77fd-11e7-9979-02f6

[2017-08-03 00:07] damithc commented on #7812
Not sure if you understood the issue correctly. The issue is meant to change only the part `To :`, not the part that shows recipient name.

Current
`To : {Recipient name}`

Suggested:
`Evaluee : {Recipient name}`

`Evaluee` is not a widely used term, hence the need to add a tooltip for it with a longer explanation of what it means.

[2017-08-03 00:09] damithc commented on #1368
Yes, that can be useful too. It can be a separate issue if it can be cleanly separated. We prefer smaller PRs whenever possible.

[2017-08-03 00:28] amarlearning commented on #7812
@damithc that was clear. I have a little confusion about the tooltip. what should be the tooltip out of the two:

1. `The party being evaluated or given feedback to`
2. `The party being evaluated or given feedback to Evaluee (Student): {Recipient name}`

[2017-08-03 00:33] damithc commented on #7812
First one.
It can be like this too:

Show in the page:
`Evaluee (Student):`

Tooltip for word `Evaluee` : `The party being evaluated or given feedback to`

[2017-08-03 01:33] #7841 closed

[2017-08-03 01:39] vandy56 commented on #7892
The only thing I changed in the branch was the javadoc link. However, I get a failed compileTestJava in after running ./gradlew lint.

:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:checkstyleMain UP-TO-DATE
:findbugsMain UP-TO-DATE
:pmdMain UP-TO-DATE
:lintMain UP-TO-DATE
:compileTestJava
/Users/vanderlaan/Desktop/Projects/teammates/src/test/java/teammates/test/pageobje

[2017-08-03 01:43] whipermr5 commented on #7892
@vandy56 You'd have encountered that even without making any changes. You need to set the path to JDK 7 in `gradle.properties`, as specified in [our documentation](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md).

[2017-08-03 01:47] whipermr5 commented on #7892
@vandy56 Those are comments.

[2017-08-03 01:49] vandy56 commented on #7892
@whipermr5 well I feel dumb. Thank you.

[2017-08-03 02:18] damithc opened #7898 "Update user map for July 2017"
Similar to #7215
New data to consider:

Country | Institute
-- | --
Australia | Australian National University
Australia | St Paul's Anglican Grammar School
Brazil | Universidade Estadual de Maringá
Canada | Dalhousie
Canada | Sheridan College
Canada | University of Guelph
Denmark | DHI
El Salvador | Escuela Superior de Economía y Negocios
France | EMLYON Business School
Germany | Stuttgart Media

[2017-08-03 04:38] amarlearning opened #7899 "Instructor: edit 'Distribute points' questions: make status message span both label and input"
In the `student feedback edit page`  under the `Distribute points (among recipients)` question, currently, the status message spans only the _input field_.

**Current Behaviour:**
![Sample Image](https://user-images.githubusercontent.com/9383897/28909990-7adf8512-7848-11e7-89d2-fc18270fb0c9.png)

**Expected:**
status message should span both _input label_ and _input field_.

[2017-08-03 04:41] whipermr5 commented on #7899
Duplicate of #7876; already fixed in #7879.

[2017-08-03 04:51] amarlearning commented on #7899
I think my `master` branch is not updated 😅

[2017-08-03 05:07] whipermr5 commented on #7891
Hey Jon, welcome to TEAMMATES! Good job setting everything up correctly! I see you've already submitted a PR for a `d.FirstTimers` issue; that's good! While waiting for it to be reviewed, feel free to take a look at `d.Contributors` issues if you're bored :)

[2017-08-03 05:33] #7892 closed

[2017-08-03 05:41] whipermr5 commented on #7828
Hi @shivam3746, welcome to TEAMMATES! You may follow our [orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) to get started :)

[2017-08-03 05:42] #7864 closed

[2017-08-03 07:06] HirdayGupta commented on #1368
@damithc It can be quite cleanly separated, but then the second PR would just be concerned with how to move the email sending method from the specific student verifation action class to the general action class so that it can be reused in the instructor verification action. Because everything else is the same. I think even the email template looks the same for both instructors and students.

[2017-08-03 07:07] amarlearning commented on #7899
@whipermr5 Just synchronized my `master` branch with the `upstream/master` branch but the message remains unaligned.

_[screenshot]_
![screenshot from 2017-08-03 12-34-48](https://user-images.githubusercontent.com/9383897/28909937-3758b836-7848-11e7-988a-41fe64600c0e.png)

It should be something like this _[screenshot]_
![screenshot from 2017-08-03 12-36-36](https://user-images.githubusercontent.c

[2017-08-03 07:18] damithc commented on #1368
I'll leave you to decide. I'm OK with both.

[2017-08-03 07:25] LiHaoTan opened #7901 "BackDoorTest: Remove `@SuppressWarnings("deprecation")`"
The deprecated constructor has already been removed in #7191 and replaced by the use of the builder.

[code]

[2017-08-03 11:48] stanislous commented on #7896
@damithc can I do this?

[2017-08-03 12:13] dikshaa42 commented on #7882
Hi all, Thanks for appreciating this. Please, I want to make this enhancement.

[2017-08-03 12:22] dikshaa42 commented on #7898
i will take up this issue :)

[2017-08-03 15:01] whipermr5 commented on #7899
@amarlearning I prefer the current behaviour - `above recipients` refers to the `To: ` and the names too, not just the input boxes.

[2017-08-03 15:04] whipermr5 commented on #7896
I actually have a suggestion: move the delete button to inside the panel, just like the view course panel. A red button seems less out of place there (but this is quite subjective). Not sure what @damithc prefers?

[2017-08-03 15:23] LiHaoTan commented on #7896
I think it is also subjective whether the delete button should be changed to red. After all, it is very striking.

It's like `edit` and `delete` should have equal standing, but when `delete` is red, the user will be more likely to first notice it.

It also seems I have rarely seen red delete buttons nowadays on UIs.

More importantly, my opinion here though is that it seems the benefits for changi

[2017-08-03 15:29] amarlearning commented on #7899
The screenshots that I posted in [this](https://github.com/TEAMMATES/teammates/issues/7899#issuecomment-319887062) comment are from the current behaviour. Either it should be `above recipient` or `input box` but can't both.

[2017-08-03 15:33] whipermr5 commented on #7899
I feel the message should span both elements - "distribute 500 points" is related to the input boxes, while "above recipients" is related to the names. It also looks better when it spans both (though I acknowledge that this is subjective).

[2017-08-03 16:50] #4697 closed

[2017-08-03 17:41] LiHaoTan opened #7903 "HTML: Remove all instances of `meta` element with attribute `http-equiv` of value `X-UA-Compatible`"
An example of a `meta` element to be removed would be `<meta http-equiv="X-UA-Compatible" content="IE=8">`

We do not need or want to render anything in an IE's legacy document mode.

Additional resources: [When to use legacy document modes]( https://msdn.microsoft.com/en-us/library/jj676917(v=vs.85).aspx)

[2017-08-03 17:58] #7894 closed

[2017-08-03 18:11] whipermr5 commented on #7893
Release 261

Code Contributions from: @adityavhegde, @ahsanbagwan, @amarlearning, @uxxSam, @clmcdonald, @davel37, @Praisey, @felixinjapan, @HirdayGupta, @oneoffaccount, @Jefferysan, @whipermr5, @vandy56, @kyleaolson, @ParmaarK, @Mynk96, @rajujha373, @stanislous, @sujeet14108, @LimeTheCoder, @thenaesh, @VamsiSangam, @leeyimin
Review Contributions from: @amarlearning, @damithc, @HirdayGupta, @whiper

[2017-08-03 18:14] whipermr5 commented on #7893
Apologies @felixinjapan; I missed you out when updating `about.jsp` - will make sure to include you in the next release 😅

[2017-08-03 22:03] HirdayGupta commented on #7869
@whipermr5  I see! My bad 😅.

I had figured out the `col-sm-1` thing haha. Just thought that there might've been a root problem that needed solving. The `5-4` distribution was my first solution, which I thought was inadequate :p.

Submitting a PR with my original solution soon :)

[2017-08-03 23:37] damithc commented on #7899
Spanning both elements seems ok to me too.

[2017-08-03 23:41] damithc commented on #7896
Yup, I have reservation about making this button red too. Closing.

[2017-08-03 23:41] #7896 closed

[2017-08-04 02:40] #7847 closed

[2017-08-04 03:12] amarlearning commented on #3436
working on this

[2017-08-04 06:49] dikshaa42 commented on #7898
Hi @damithc,
Is Kingston University London, UK and Kingston University, UK both different?

[2017-08-04 06:58] damithc commented on #7898
Not sure @dikshaa42 . Do some Google around and decide yourself :-)

[2017-08-04 06:59] damithc commented on #7898
@dikshaa42 also note that I removed an email address that was erroneously included in the original list as an institute.

[2017-08-04 12:50] kiranml1 opened #7905 "New contributor self intro: Amruthaluri Kiran Kumar"
Forked Repo Link: [https://github.com/kiranml1/teammates](https://github.com/kiranml1/teammates)

**Screenshots of changes made (as seen on the UI)**
**![image](https://user-images.githubusercontent.com/2797515/28968858-aef39a58-793f-11e7-9dd0-9b9c96f43652.png)**
I changed login link colors on header section of the page into white color.

Short self-introduction
My name is Kiran and am a Front end

[2017-08-04 20:43] amarlearning commented on #7905
Hi @kiranml1, welcome to TEAMMATES! You can start by fixing a [`d.FirstTimers`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labeled [`d.Contributors`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-08-05 01:29] MelkyFB opened #7908 "New contributor self intro :Melkysalem F B Silva"
Hello All, I hope I can help y'all with TEAMMATES issues:
My Fork: https://github.com/MelkyFB/teammates
Role: Frontend Developer

Intro: I'm Melkysalem Fernandes Batista da Silva, BSc, Brazilian, I work with Java, Javascript and NodeJS for 4 years, I'm interested in contribute to Open Source projects because I like the Open Source Ideology and I want to expand my way to develop.

**Screenshots of

[2017-08-05 16:33] VamsiSangam opened #7910 "InstructorFeedbackEditPage: add documentation for selectConstSumPointsOptions method"
The `selectConstSumPointsOptions()` method in `InstructorFeedbackEditPage` is used to switch between the points distribution scheme for const sum question. Though the method is understandable, the arguments to pass to the method is still a mystery even after looking at the code -

[code]

One would have to check the templates or inspect HTML to find out the ID of the radio buttons and deduce the v

[2017-08-05 17:32] VamsiSangam opened #7911 "Student submission page: add loading text to submit button"
When a student clicks `Submit Feedback` button at the end of submission page, it becomes like this -

![submit](https://user-images.githubusercontent.com/11662001/28997414-a1d902b6-7a31-11e7-8e21-574569ed1f99.JPG)

We could add loading text such as `Submitting` to make it look better. Changing [this](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/dev/js/main/feedbackSubmissions

[2017-08-06 01:05] #7828 closed

[2017-08-06 03:00] kmr0018 commented on #7910
I would like to take this as my first PR.

[2017-08-06 03:20] VamsiSangam commented on #7910
Sure @kmr0018 ! Go ahead. You can comment here if you are having any trouble. Also I recommend you to go through our [contributor's orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) which will help you to setup Teammates on your dev PC.

[2017-08-06 03:37] ihsavru commented on #7911
I'm taking this one :)

[2017-08-06 03:45] VamsiSangam commented on #7911
@damithc sir, I think this should be a `d.FirstTimers` issue, the fix is just a few characters and I'm sure this wont need god mode.

@ihsavru please hold a little, while we finalize the difficulty of this issue.

[2017-08-06 03:58] damithc commented on #7911
Done. 👍

[2017-08-06 04:01] VamsiSangam commented on #7911
@ihsavru sorry for the confusion :sweat_smile: . This issue is now reserved for the first timers. You can start working on a [`d.Contributors`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.Contributors) issue of your choice.

[2017-08-06 06:22] viraj071 opened #7913 "New contributor self intro: Viraj"
- **Link to my fork:** e.g. https://github.com/viraj071/teammates

**Screenshot of changes made (as seen on the UI)**
<img width="1440" alt="screen shot 2017-08-05 at 11 18 22 pm" src="https://user-images.githubusercontent.com/5512789/29001117-7a912fc8-7a34-11e7-8a39-01517c4a353e.png">
Changed the button color for "Request a Free Instructor Account"

**Short self-introduction**
Hi, My name is Vira

[2017-08-06 06:26] viraj071 commented on #7911
Can I take this ?

[2017-08-06 07:14] amarlearning commented on #3436
@damithc Looked in the `FieldValidator.java` file and found out that " _Every field which contains (%) and (|) as input will be considered as invalid input_ ".

The general error message for such input is `All ${fieldName} must start with an alphanumeric character, and cannot contain any vertical bar (|) or percent sign (%).`

Solution:

1. If I change `All` -> `A`, it will then be applied to all

[2017-08-06 07:17] amarlearning commented on #7908
Hi @MelkyFB, welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labeled [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-08-06 07:18] amarlearning commented on #7913
Hi @viraj071, welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labeled [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-08-06 07:24] amarlearning commented on #3091
The issue still open? :sweat_smile:

[2017-08-06 07:47] damithc commented on #3436
Option 1 is better, as long as it works for all fields.

[2017-08-06 16:24] VamsiSangam commented on #7911
Sure @viraj071 ! Go ahead.

[2017-08-07 13:23] Surya-06 commented on #7913
hi there @amarlearning , i am a contributor but i do not find issues related much to java and most of them are related to json , could you help me in finding some issues based on Java . I am new to open source and would be grateful to accept any suggestions.

Cheers.

[2017-08-07 15:06] amarlearning commented on #7913
@Surya-06  you can take up this issue: (_Instructor: edit question: receiver is instructors: support specifying a max number of recipients #7512_)

And as @leeyimin said, _"Not many java related issues are labeled with t-Java so you have probably had to click on them to find out what they are about."_

As your question is not related to this issue, I would suggest you open a separate issue for tha

[2017-08-08 00:32] LimeTheCoder commented on #7044
Hi, @damithc. Could you please check teammates.test.cases.browsertests.FeedbackRubricQuestionUiTest#allTests. During testInstructorResultsPage, response for rubric question appears under 'No specific recipient panel' but there is specific recipient exists.
![image](https://user-images.githubusercontent.com/8873908/29051117-1124abf8-7be9-11e7-9072-72ba2a8aaf0a.png)
Is it a bug? If so it's still con

[2017-08-08 00:41] damithc commented on #7044
@LimeTheCoder it is possible that current tests cover (and pass) the buggy behavior.  Those tests need to be fixed as well.

[2017-08-08 13:10] amarlearning commented on #7283
working on this

[2017-08-08 14:45] amarlearning commented on #7061
working on this :)

[2017-08-08 16:47] vandy56 commented on #7112
@sujeet14108 are you still working on this?

@neurrone @wkurniawan07 can I take a stab at this one?

[2017-08-08 16:50] sujeet14108 commented on #7112
@vandy56 yes

[2017-08-08 18:20] HirdayGupta opened #7917 "Create an Abstract SuperClass for *CourseJoinAuthenticatedActions"
Suggested by @chowyb in https://github.com/TEAMMATES/teammates/pull/7902#pullrequestreview-54341776

That PR was trying to add a method that applied to both `Instructor` and `Student` `CourseJoinAuthenticatedActionClasses`. Since the code was quite common, the original approach had been to create a utility method in the `Action.java` parent class. However, as pointed out by @chowyb, `Action.java`

[2017-08-08 18:20] HirdayGupta commented on #7917
Working on this.

[2017-08-08 19:58] vandy56 commented on #2542
@damithc @kanghj I'll take a stab at this one.

[2017-08-08 20:19] SimonOsipov commented on #7742
Am i right, this issue is closed?

[2017-08-08 22:50] LimeTheCoder commented on #7044
Hello, @damithc. After an investigation, it seems that this panel contains responses with givers or recipients which section is 'None'. So currently this section can contain responses with specific recipients if they section is 'None'. Should we rename this panel to 'No specific section' or try to change behaviour to contain only responses without recipients? Since other panels are exactly section

[2017-08-09 01:16] damithc commented on #7044
See if renaming it to 'Recipient not in a specific section' makes sense in all situations. If it does, we can go with it.

[2017-08-09 02:13] vandy56 commented on #2542
Hey @damithc and @kanghj would I be correct to start at FeedbackResponsesLogic.java in teammates.logic.core and fixing the addNewResponses method to check for an existing response?

If I'm reading this right (and I'm still pretty new so not sure I am), the existing checks in the method check to be sure the response is not the same ID as a previous response, but does not check individual items.

Th

[2017-08-09 02:40] damithc commented on #2542
@chowyb can help with @vandy56's query?

[2017-08-09 04:48] amarlearning commented on #7061
@damithc By that, you mean the default application installed on your system `(Like Thunderbird Mail)`?

[2017-08-09 07:12] damithc commented on #7061
yes.

[2017-08-09 07:23] Andrew-Lev opened #7918 "New contributor self intro: Andrew"
Hi everyone,
My name is Andrew Levit.  I'm a primarily a Java developer, but have worked with quite a few different tools and languages. I am interested in contributing to more open source projects.  I've benefited greatly from the open source work of others, so I feel that its important to give back to help the community grow.

Fork:
https://github.com/Andrew-Lev/teammates.git

The existing 'cont

[2017-08-09 08:23] whipermr5 commented on #3091
@amarlearning The instructor search page delete does not have a confirmation modal. You were looking at the instructor student list page.

[2017-08-09 08:25] #7901 closed

[2017-08-09 08:57] LiHaoTan commented on #3436
@damithc can we change `All` to `The` instead because some of the field names have vowel sounds,
Example:

[2017-08-09 09:03] whipermr5 commented on #3436
@LiHaoTan `The` doesn't sound right; maybe we can use `A/an` like in the previous sentence (though it's ugly)? Ideally we should do vowel sound detection.

[2017-08-09 09:10] HirdayGupta commented on #7917
After spending some time trying to move common functionality to this new abstract class, I think it might be cleaner/easier to not shift around any functionality. There is definitely a need for an `AbstractAction` class for the changes in #7902, but it does not need to be done in a separate PR. This is because it is too hard to put common functionality in this new Class (making the mere creation o

[2017-08-09 09:18] HirdayGupta commented on #1297
Working on this.

[2017-08-09 09:46] chowyb commented on #7917
@HirdayGupta yep, looks fine to close this issue. I was initially concerned that if this was done as a separate issue, it may not do much if there was actually no code in common between the two classes (which appears to be the case here).

As for adding abstract methods, this may not be well suited for the purposes of this class (at least based on the description provided), as no code relies on th

[2017-08-09 09:47] HirdayGupta commented on #7917
Thanks for the clarification @chowyb. Closing this issue :)

[2017-08-09 09:47] #7917 closed

[2017-08-09 10:10] #7891 closed

[2017-08-09 10:10] #7905 closed

[2017-08-09 10:42] HirdayGupta opened #7919 "Instructor: home page: fix sort by date"
Noticed while working on #1297.

On the Instructor Home Page, in the table of Sessions displayed, the sorting by date buttons do not work as expected if any one session in the list has start date or end date with a `12 NOON`time.

This error happens because JS fails to parse this as a date object (which is essential for sorting by date to work. See the [`sortDate` comparator in `sortBy.js`](https:

[2017-08-09 11:27] ducthienbui97 opened #7921 "New contributor self intro Thien Bui"
- **Link to my fork:** e.g. https://github.com/ducthienbui97/teammates

**Screenshot of changes made (as seen on the UI)**
Actually not so much, I have just changed the color of login text from green to white, and I think it's look much better.
![capture](https://user-images.githubusercontent.com/10867758/29119125-42097fae-7d48-11e7-87f1-3b54dcd9f878.PNG)

**Short self-introduction**
I'm Thien Bui

[2017-08-09 13:48] #7875 closed

[2017-08-09 14:32] #7709 closed

[2017-08-09 20:09] mpek6d commented on #7742
Could I take this one?

[2017-08-09 21:23] AlexM9200 opened #7923 "Help Request: Exception thrown when running dev server in eclipse"
- **Operating System: Windows 10
- **JDK Version: 1.7
- **Eclipse / IntelliJ Version (if applicable): Eclipse Neon.3
- **Firefox / Chrome Version (where applicable): Chrome 59.0.3071.115

**What I was trying to do / What I need help with**
I set everything up and ran the project as a web application but got a few errors and I can't run localhost:8888. I get a message saying HTTP Error, Reason: SER

[2017-08-10 00:51] whipermr5 commented on #7923
Do screenshot some of the errors shown in Eclipse.

[2017-08-10 01:51] #1368 closed

[2017-08-10 05:15] vandy56 commented on #2542
@chowyb update: I have discovered the ConstantSumQuestion and response files mentioned in the initial issue. Now I'm looking for the test implemented on the updating of responses (as I feel it might give me a clue into this problem.

Will update when I find more. Please advise as you see fit.

[2017-08-10 05:40] RaghavBatra commented on #7274
I forked the repository and made the changes! How do I sync the fork back with the main branch?

[2017-08-10 05:42] RaghavBatra commented on #7274
Oops I think they appeared on their own!

Also, sorry for 2 commits: the second is there to align my messages with those of the group!

[2017-08-10 05:53] whipermr5 commented on #7274
@RaghavBatra You need to submit a PR.

[2017-08-10 06:02] RaghavBatra commented on #7274
@whipermr5 sorry since I am new to this, but how would I submit a PR?

[2017-08-10 06:36] VamsiSangam commented on #7274
Follow these steps -

- Fork [teammates](https://github.com/TEAMMATES/teammates) repo.
- Create a new branch named `7274-add-help-link-in-docs`. Why is the name `7274-add-help-link-in-docs`? We have some conventions, [you can read them here](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#step-2-start-clean-from-a-new-branch).
- Checkout to this branch using `git checkout 7274-a

[2017-08-10 06:48] RaghavBatra commented on #7274
Done! Thanks! Can you review the changes now?

[2017-08-10 09:27] AlexM9200 commented on #7923
![image](https://user-images.githubusercontent.com/21268058/29164102-585b8cfc-7db6-11e7-8e60-516e61d088af.png)
![image](https://user-images.githubusercontent.com/21268058/29164136-6fe20e96-7db6-11e7-9558-c1bea6c2eba4.png)
![image](https://user-images.githubusercontent.com/21268058/29164185-8cf7389e-7db6-11e7-92d4-8f9dc220e6b0.png)

[2017-08-10 10:28] damithc opened #7926 "Remove MashupPageUiTest"
The mashup page is badly broken and the test is not used for its intended purpose anyway.  Lets get rid of it.

[2017-08-10 10:55] amarlearning commented on #7926
I'm not 100% sure, but I think removing

- [`mashup.jsp`](https://github.com/TEAMMATES/teammates/blob/5b9b3fbe19355cd1ceb4e7875f4ca2e3846186c5/src/main/webapp/test/mashup.jsp)

- [`MashupPageUiTest.java`](https://github.com/TEAMMATES/teammates/blob/ede7d3932dfb301afb1d89e6647975bd79b5a8c8/src/test/java/teammates/test/cases/browsertests/MashupPageUiTest.java) file.

- https://github.com/TEAMMATES/t

[2017-08-10 12:15] AlexM9200 opened #7927 "New Contributor self intro Alex Matthews"
Hi I'm a 3rd year software development student from Carlow, Ireland. I want to get some experience with contributing to open source and I think this is the perfect project. Keep up the great work guys.

My Fork: https://github.com/AlexM9200/teammates

Screenshot of changes made:

![image](https://user-images.githubusercontent.com/21268058/29169175-89f7efa8-7dca-11e7-9919-d79f688bc20b.png)

I just

[2017-08-10 12:26] AlexM9200 commented on #7926
Can I try this?

[2017-08-10 14:19] LiHaoTan commented on #7926
@AlexM9200 sure you can but there are still quite a few more things to remove/modify other than what @amarlearning mentioned. If you can figure them out go ahead otherwise maybe you should do a `d.FirstTimers` first instead.

[2017-08-10 14:48] AlexM9200 commented on #7926
OK thanks i'll have a look. If I don't make a pull request within a few hours someone else can have it.

[2017-08-10 14:57] wkurniawan07 commented on #7926
I can tell which files need to be removed, but before that, let's get some things straight first:

I just checked, it is indeed broken but has a simple two-liner fix.

I never asked this before: what is the intended purpose to begin with?
- If it is to make sure that "all pages can load", then it has never served the purpose since the beginning; a page being failed to load will not cause this to f

[2017-08-10 20:37] HirdayGupta commented on #6634
Working on this.

[2017-08-11 06:15] sujeet14108 commented on #7839
@Zhiyuan-Amos Are you working on this?

[2017-08-11 07:33] amarlearning commented on #7921
Hi @ducthienbui97, welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labeled [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-08-11 07:35] amarlearning commented on #7927
Hi @AlexM9200, welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labeled [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-08-11 09:22] Zhiyuan-Amos commented on #7839
Hi @sujeet14108, nope as I'm busy, feel free to work on it ^^

[2017-08-11 18:03] AlexM9200 commented on #7723
Can I take this? It's been a 25 days and it hasn't been fixed by keerthikorivi.

[2017-08-12 01:10] amarlearning opened #7931 "CSS files: fix coding standard violations"
Some of the CSS files are not following the CSS Coding Standard as defined by TEAMMATES [here](https://docs.google.com/document/d/1wA9paRA9cS7ByStGbhRRUZLEzEzimrNQjIDPVqy1ScI/pub).
***
| | File Name  | Following Coding Standard not Followed  |
| ------------ | ------------ | ------------ |
| :white_large_square: | [adminAccountDetails.css](https://github.com/TEAMMATES/teammates/blob/master/src/mai

[2017-08-12 02:25] damithc commented on #7931
Thanks for the report @amarlearning Can one of the @TEAMMATES/seniordevs investigate further and confirm?

[2017-08-12 12:40] Mynk96 opened #7932 "Replace "Anonymous" with Constant in `Const.java`"
Currently, we have a constant `Const.DISPLAYED_NAME_FOR_ANONYMOUS_COMMENT_PARTICIPANT` in `Const` class, but it can be renamed to make it more generic so that Constant can be used in all the classes not only in Comments Class.

[2017-08-12 16:49] VamsiSangam opened #7933 "Rubric question: fix cancel question feature"
Steps to reproduce bug -

1. Add a new rubric question.
2. Enable weights.
3. Add some random weights. (Optional)
4. Cancel adding the new question.
5. Add a new rubric question again. The new question displayed won't have a `Weights` checkbox, and the input fields for weights are vanished.

![1](https://user-images.githubusercontent.com/11662001/29242486-c920223a-7fab-11e7-8426-75ee7cee1537.JPG)

[2017-08-12 17:04] VamsiSangam opened #7934 "Bug: MCQ and MSQ question: fix cancel question feature"
Steps to reproduce bug -

1. Add a new MCQ question.
2. Enable `Generate options from` checkbox.
3. Select an option (`Students`, `Teams`, `Instructors`). (Optional)
4. Cancel adding the new question.
5. Add a new MCQ question again. The new question displayed will have the `Generate options from` checkbox enabled, but the option selecting disabled. Input fields for manual options input are visibl

[2017-08-13 04:17] HirdayGupta commented on #7919
Requesting confirmation on this before I start work on this issue.

[2017-08-13 06:41] sujeet14108 commented on #7932
Working on it :)

[2017-08-13 07:55] #7908 closed

[2017-08-13 07:55] #7913 closed

[2017-08-13 07:59] whipermr5 commented on #7923
Have you followed all the steps in [ide-usage.md](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md)? Do screenshot the `Problems` view too.

[2017-08-13 08:05] whipermr5 commented on #7723
@AlexM9200 Sure!

[2017-08-13 08:43] damithc opened #7936 "EmailGeneratorTest: Remove hard-coded app url"
This test is failing at v5.110, apparently due to a hard-coded app url.

![image](https://user-images.githubusercontent.com/1673303/29248265-6b832f3c-8046-11e7-9d1a-292af986e798.png)

[2017-08-13 08:57] whipermr5 commented on #7931
Confirmed.

[2017-08-13 09:02] whipermr5 commented on #7936
Introduced by #7793.

[2017-08-13 09:07] damithc opened #7937 "InstructorFeedbackEditPageUiTest: fix failure against live server"
v5.110
Possibly related to how visibility messages take longer to appear when testing against live server
[code]

[2017-08-13 09:07] damithc commented on #7893
Deployed

[2017-08-13 09:07] #7893 closed

[2017-08-13 11:45] amarlearning commented on #7931
@damithc If this is not a <kbd>d.FirstTimers</kbd> issue, I would like to take this one! :sweat_smile:

[2017-08-13 11:53] wkurniawan07 commented on #7931
@amarlearning I will caution you first that the naming standard violations will be very painful to fix.

[2017-08-13 12:08] amarlearning commented on #7931
@wkurniawan07 aware of that :smile:

[2017-08-13 13:09] damithc commented on #7931
Not a `FirstTimers` issue. Can take if you want.

[2017-08-13 13:36] stanislous commented on #7878
Can I work on this?

[2017-08-13 15:41] wkurniawan07 commented on #7931
@amarlearning if you feel like it, you can fix this one very blatant violation: "We only have one CSS file for the entire website".

[2017-08-13 15:57] amarlearning commented on #7931
While I was going through the `TM CSS Coding Standard` guide, I marked this _["We only have one CSS file for the entire website"]_ an issue.

But after reading "[_In the future if we have more files, CSS file includes must be done using <link> tags in the HTML/JSP files and NOT using @import in other CSS files._]" this, I changed my mind.

@wkurniawan07 Do you really think that's an issue?

[2017-08-13 16:11] ahsanbagwan commented on #7934
I'll be working on this.

[2017-08-13 17:51] #7816 closed

[2017-08-14 08:01] huai99 commented on #1103
@damithc  can i work on this issue ? :)

[2017-08-14 14:22] VamsiSangam opened #7941 "InstructorFeedbackEditPage: correct variable name"
In `fillRubricDescriptionBox()` method of `InstructorFeedbackEditPage.java`, we find the rubric description box by ID and fill it. But the variable has been named as `subQnBox`, which is confusing. Change the variable name. `descBox` might be a good name.

**Scope of issue**

Change these lines -

[code]

to

[code]

[2017-08-14 16:03] uxxSam commented on #7933
Working on this

[2017-08-14 19:20] HirdayGupta opened #7943 "Replace 'disabled' attributes from HTML anchor tags"
Noticed while working on #6634.

A lot of our HTML anchor tags (`<a>`) use the `disabled` attribute to disable clicks on the link. However, according to the dev docs, the `disabled` property is not compatible with the anchor tag. (Sources: [StackOverflow Question](https://stackoverflow.com/questions/18711317/is-disabled-a-valid-attribute-for-an-anchor-tag) and [W3 docs](https://dev.w3.org/html5/ht

[2017-08-14 19:23] HirdayGupta commented on #1883
Dropping a note that the UI is probably incorrectly left enabled due to #7943

[2017-08-15 06:09] whipermr5 commented on #7878
@felixinjapan are you still working on this?

[2017-08-15 06:11] whipermr5 commented on #7934
@ahsanbagwan You can remove [this line](https://github.com/TEAMMATES/teammates/blob/a7309a5de74cdef035904d6dff563ce5454d2873/webpack-main.config.js#L50) and re-run `npm run build` to get non-minified files. More info: https://github.com/TEAMMATES/teammates/issues/7532#issuecomment-309023124

[2017-08-15 06:13] whipermr5 commented on #1103
@huai99 Sure! You are always free to open a PR; we don't require asking :)

[2017-08-15 06:19] #7921 closed

[2017-08-15 06:19] #7918 closed

[2017-08-15 07:08] #3590 closed

[2017-08-15 07:38] #5979 closed

[2017-08-15 07:41] felixinjapan commented on #7878
Sorry, please go ahead. @stanislous @whipermr5

[2017-08-15 08:27] #7936 closed

[2017-08-15 10:39] sujeet14108 commented on #7943
Will work on this.

[2017-08-15 12:40] BrianCoveney opened #7946 "Create Unit Tests for AdminEmailAttributes class"
as per title

[2017-08-15 12:41] BrianCoveney commented on #7946
working on this

[2017-08-15 14:05] amarlearning commented on #7899
@whipermr5 Shouldn't this be an issue then?

[2017-08-15 17:11] varshav21 commented on #7941
can i take up this issue? I am new to open source and this is my first contribution.

[2017-08-15 17:14] whipermr5 commented on #7899
It already spans both.

[2017-08-15 17:17] amarlearning commented on #7899
Not in this case

![Sample Image](https://user-images.githubusercontent.com/9383897/28909990-7adf8512-7848-11e7-89d2-fc18270fb0c9.png)

[2017-08-15 17:19] HirdayGupta commented on #7941
Sure @varshav21! In fact, doing one issue labelled `d.FirstTimers` is part of our new contributor orientation here at TEAMMATES. You can check out our [Contributor Orientation Guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md). It is recommended that you follow the tasks outlined in the [Orientation Task List](https://github.com/TEAMMATES/teammates/blob/master/doc

[2017-08-15 17:30] VamsiSangam commented on #7941
This issue already has an active PR. @varshav21 you take other `d.FirstTimers` issues which haven't been claimed by anyone else. Also pleas ego through the links @HirdayGupta suggested :smile:

[2017-08-15 17:32] HirdayGupta commented on #7941
Whoops. My apologies @varshav21, missed the fact that PR #7944 was a Pull Request that solved this issue and wasn't just referencing it as it didn't follow our naming conventions. Do look for another `d.FirstTimers` issue to solve. :)

[2017-08-15 19:20] wkurniawan07 commented on #7884
I would say it is. It will only be a dirty work now when every single JSP/tag file needs to be equipped with that directive. New ones can be enforced afterwards and will most definitely be copied from existing ones. (let's admit it, who would make a new JSP/tag file from zero?)
Besides, even missed, it will only be a performance problem and not correctness problem.

[2017-08-15 19:20] wkurniawan07 commented on #7839
@Zhiyuan-Amos I hope you now understand why I asked to make the issue as clear as possible.

[2017-08-15 19:25] wkurniawan07 commented on #7931
It is. There is no clear separation on which files need to be separated right now, and at the current state such separation creates more confusion than benefits (it already happens right now, am I right?).

[2017-08-15 19:33] wkurniawan07 commented on #7926
This is because the said test is excluded from CI tests or staging tests (before it was removed). Possible solutions here:
- Use "All tests" configuration
- Include in "CI tests", however the reason for the exclusion needs to be examined (I do not think this was my decision).

I will defer this decision to the new team, but judging from the number of new pages added in recent 2-3 years (less than

[2017-08-15 23:31] Zhiyuan-Amos commented on #7839
@wkurniawan07 yup thanks! ^^

[2017-08-16 03:34] #7208 closed

[2017-08-16 06:11] ahsanbagwan commented on #7934
@whipermr5 That helped to add breakpoints in Chrome developer tools. Thanks a bunch.

On the issue front, while debugging the `if` conditional [here](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/dev/js/main/instructorFeedbackEdit.es6#L520) selects the `else` block once the question is cancelled and same type is selected from the new dropdown.

I'm wondering if the ID of the e

[2017-08-16 08:03] amarlearning commented on #7931
@wkurniawan07 exactly. I think we should divide the CSS into three sections `Admin`, `Instructor`, `Student`. This way we can minimize the loading time of every page because the file size will not be too big.

If we combine all the CSS into one file i.e. `teammatesCommon.css`, then the CSS file size will be too high which will affect the loading time of web pages.

Let me know what you think

[2017-08-16 08:19] whipermr5 commented on #7926
How is the page supposed to look like? I've only ever known it in its current state. I'm guessing all the elements should be styled exactly as they appear in the actual pages?

[2017-08-16 08:24] stanislous opened #7949 "Admin: activity log: use table columns for [Role][Action][Google ID][Name][Email]"
This look like messy. Therefore creating a table with column and keep attributes separately, will be better
to the users.
![screenshot 842](https://user-images.githubusercontent.com/20964806/29354021-ccb2ce4e-8289-11e7-9513-fdcadae4274a.png)

[2017-08-16 08:33] whipermr5 commented on #7949
Note that this is an admin page, not an instructor page - is only used by one user, the TEAMMATES admin (@damithc). Also, I'm not sure that presenting the data in a table makes it more readable. Could you show a screenshot of your intended changes?

[2017-08-16 08:39] #7927 closed

[2017-08-16 09:24] wkurniawan07 commented on #7926
@whipermr5 change the following two lines:

https://github.com/TEAMMATES/teammates/blob/3d248661dd3daa4d4fb1843f795b43bc708efed5/src/main/webapp/test/mashup.jsp#L18-L19

to:

[code]

That concludes what I said as "simple two-liner fix".

[2017-08-16 09:27] damithc opened #7950 "CourseJoinAuthenticatedAbstractAction: fix NullPointerException in live server"
v5.110
Getting quite a few of these:

[code]

[2017-08-16 09:33] wkurniawan07 commented on #7931
Only the initial loading time will be affected. All subsequent loads will simply load cached CSS file.

[2017-08-16 09:53] damithc commented on #7926
Yes.

[2017-08-16 10:11] whipermr5 commented on #7899
Is that screenshot the current behaviour on master? How do I reproduce it?

[2017-08-16 11:11] whipermr5 commented on #7180
It has struck again, this time for bootstrap, making it a major issue: https://github.com/unpkg/unpkg-website/issues/41#issuecomment-322737546

[2017-08-16 14:11] damithc commented on #7949
@stanislous I agree the UI can be improved, but not worth the effort because the sole user (i.e. me) is fine with the current UI. :-)

[2017-08-16 14:11] #7949 closed

[2017-08-16 15:28] amarlearning commented on #7180
Instead of `unpkg.com` we can use this:
[code]

I know this is not one of the best ways to resolve this error, but until the time we are looking for a better solution, we can use this. Everything looks good to me :+1:

- [https://npm-cdn.herokuapp.com/bootstrap@3.1.1/dist/css/bootstrap.min.css]( https://npm-cdn.herokuapp.com/bootstrap@3.1.1/dist/css/bootstrap.min.css)
- [https://npm-cdn.herokuapp.

[2017-08-16 15:43] wkurniawan07 commented on #7180
@amarlearning thanks for your input; we are already switching to [jsDelivr](https://www.jsdelivr.com/) in live site and `master` branch should follow soon. Besides, "the entire package tarball has to be fetched" and "It's running on a single Heroku dyno so it won't scale. To become a real thing it will need to sit behind a CDN." look like good reasons not to use npm-cdn.

On that topic, @whipermr5

[2017-08-16 15:49] whipermr5 commented on #7180
@wkurniawan07 The datamaps aren't available in jsDelivr though.

[2017-08-16 16:26] amarlearning commented on #7899
Yes!

Look for any `Distribute points (among recipients) question` in the `Student feedback edit page`

[2017-08-16 16:57] whipermr5 commented on #7899
@amarlearning Could you update the issue description?

[2017-08-16 17:12] whipermr5 commented on #7950
I was able to reproduce this when my staging server was in a weird state (locally hosted js libraries but with missing fonts). I tried adding a new distribute points among recipients question to an existing session (the `Second team feedback session` of the sample course). In the new question frame, I noticed that the question text field was disabled but with the default placeholder text. There wa

[2017-08-16 17:15] #7274 closed

[2017-08-16 18:11] ahsanbagwan commented on #2908
I will look at this as soon as I'm done with this [issue](https://github.com/TEAMMATES/teammates/issues/7934)

[2017-08-16 20:27] HirdayGupta commented on #6634
Dropping a note that this issue is taking longer than expected. I have managed to get the button and action working to remind all the students, however, I underestimated the "Selected students" part of the issue.

I am currently working on modifying the code for `remindParticularStudentsTag` to abstract it out as simply a modal with a student list checkbox. And then I will work on adding a new act

[2017-08-16 23:40] damithc commented on #7950
Did not reproduce the error. I did an `npm run build` before the current deployment anyway. Note that this error happened during the CDN downtime.

[2017-08-17 01:22] #7737 closed

[2017-08-17 01:49] #7797 closed

[2017-08-17 02:21] #5653 closed

[2017-08-17 02:56] #7911 closed

[2017-08-17 04:45] #6921 closed

[2017-08-17 05:17] #7044 closed

[2017-08-17 06:15] #7933 closed

[2017-08-17 07:03] #7941 closed

[2017-08-17 07:31] #7723 closed

[2017-08-17 13:24] amarlearning commented on #7283
Update: this might take some time :sweat_smile:

[2017-08-17 13:55] amarlearning commented on #7931
@wkurniawan07 great :+1:

I want to divide this issue into three seperate PRs:

1. For fixing the coding standards of `adminAccountDetails.css`, `datepicker.css`,  `instructorCourseEnroll.css` and `omniComment.css`

2. For fixing the coding standards of `teammatesCommon.css`.

3. To fix `"We only have one CSS file for the entire website"`

[2017-08-17 14:28] wkurniawan07 commented on #7931
@amarlearning I'd rather you fix everything not naming related in one PR first, then fixing all naming violations in at least one PR. If you're familiar enough with the code base you would understand why.

[2017-08-18 13:48] paradite commented on #7180
https://teammatesv4.appspot.com/usermap.jsp is giving errors due to the issue that @whipermr5, maybe open a separate issue to fix that?

[2017-08-18 13:56] paradite commented on #7180
@amarlearning I would highly recommend against using `npm-cdn`, the reason being:
- It it not a well-known package (only 18 stars on [GitHub](https://github.com/nice-registry/npm-cdn))
- It is maintained by a single person, instead of a company, which is very likely to go abandoned in the future and on one is going be held responsible (I am already seeing this issue with [datamaps](https://github.

[2017-08-18 14:21] huai99 commented on #1103
@damithc  Hi, can you pinpoint to me in the UI where exactly you want to place the course ID and course name? That will be very helpful. Thanks.

[2017-08-18 15:02] damithc commented on #1103
We can show the session status here:
![image](https://user-images.githubusercontent.com/1673303/29464719-4c5e3756-8469-11e7-865a-637b815d33b7.png)
The course ID is already there. you can show the course name just below the ID.

[2017-08-18 16:16] HirdayGupta commented on #1883
Apologies for the above comment. I just tested it out again and the UI does get correctly disabled.

However as @damithc sir said:

I will be pushing a PR for this issue soon.

[2017-08-18 16:50] HirdayGupta commented on #7943
@sujeet14108 Note that this issue entails not only removing the `disabled` attribute but also coming up with a suitable alternative.

[2017-08-18 17:10] HirdayGupta opened #7959 "AppPage: waitForModalPresence: improve stability"
The InstructorCourseStudentDetailsEditPageUiTest seems to fail quite often due to `NoSuchElementExceptions`. Should locate the cause and increase the success rate.

It doesn't always cause build failures but sometimes remains as a false symptom on an already failing build (eg: https://travis-ci.org/TEAMMATES/teammates/builds/266035690#L2100)

[2017-08-18 17:30] VamsiSangam opened #7960 "FeedbackRankQuestionUiTest: refactor variable names"
All `Feedback*QuestionUiTest` classes have these variables -

[code]

which are used for tests. Only in `FeedbackRankQuestionUiTest`, these variables have been declared by different names -

[code]

Refactor these variable names in `FeedbackRankQuestionUiTest` for consistency. Use IDE refactor tools for this.

[2017-08-18 17:39] HirdayGupta commented on #6634
@damithc can I do this as a separate PR? I feel that there may need to be some discussion regarding this and it may unnecessarily add to the diffs and review time of this PR.

[2017-08-18 18:10] HirdayGupta commented on #4536
@damithc As I understand it, you are recommending the creation of a new column in the table called "Published Status" and renaming the existing column to "Submission Status".

The possible values for the former are "Published/Not Published" and that for the latter are "Open/Closed". Let me know if this understanding is correct.

Also, would just like to clarify, what should be displayed in "Publis

[2017-08-18 18:34] HirdayGupta opened #7961 "Remove excess space in courseTable.tag"
In [this line](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/WEB-INF/tags/instructor/home/courseTable.tag#L17) of courseTable.tag, there are two spaces after the `<th`. Reduce this to one space and fix indentation of remaining attributes of that tag accordingly.

Possible tags: `d.FirstTimers`, `a-CodeQuality`.

[2017-08-18 19:46] HirdayGupta commented on #7919
Working on this now.

[2017-08-18 20:08] wkurniawan07 commented on #7836
Leaving a note here that there is a legitimate reason for the constructor being package instead of private: https://github.com/TEAMMATES/teammates/pull/7602#discussion_r124708178

(although honestly I don't really like that PMD rule)

[2017-08-18 21:33] AlexM9200 commented on #7960
Can I work on this?

[2017-08-19 01:15] Zhiyuan-Amos commented on #7836
I see! Can we do something like this then?

[code]

[code]

I.e. We can transfer the init's logic into the `Builder` instead.

[2017-08-19 02:14] damithc commented on #4536
The two things are independent. A session can be published but awaiting. e.g. instructor intend to reopen the session after collecting responses once.

`Published? : Yes, No`
`Submissions: Awaiting, Open, Closed`

This issue probably has too many things to do (there are many things that depend on the session status) -- unlikely you can finish it before the GSoC deadline.

[2017-08-19 02:20] damithc commented on #6634
Sure.

[2017-08-19 02:26] damithc commented on #6106
Looks like this is fixed. Closing.

[2017-08-19 02:26] #6106 closed

[2017-08-19 05:01] HirdayGupta commented on #4536
@damithc sir could you please give an example of one of these things that depend on the session status? I'm not too sure what you mean by this.

Also, regarding not being able to complete by GSoC deadline, I actually already have a PR-ready branch for this issue. Was just awaiting your input to figure out exactly what content I would need to put in the table (ie: published/not published etc). I ha

[2017-08-19 05:11] damithc commented on #4536
For one thing, this needs to change everywhere a session status is mentioned, not just in the instructor home page. The whole app needs to be consistent on what is meant by 'session status'.

[2017-08-19 05:12] HirdayGupta commented on #4536
@damithc Sir I have already implemented this. Instructor Home Page, Instructor Sessions Page and Student Home Page tables have both columns in my branch.

[2017-08-19 05:19] HirdayGupta commented on #4536
- Instructor Home Page
<img width="1264" alt="screen shot 2017-08-19 at 10 44 40 am" src="https://user-images.githubusercontent.com/18088721/29483731-9061c032-84cb-11e7-90ca-882fbf40e3ff.png">
- Instructor Sessions Page
<img width="836" alt="screen shot 2017-08-19 at 10 45 14 am" src="https://user-images.githubusercontent.com/18088721/29483732-918df7f0-84cb-11e7-97a1-9bf354b818e2.png">
- Student H

[2017-08-19 05:21] HirdayGupta commented on #4536
Note: forgot to clarify that for students: the Submissions column can have: submitted/pending/awaiting/closed.

[2017-08-19 05:56] VamsiSangam commented on #7960
This is a `d.FirstTimer` level issue. Please have a look at other `d.Contributors` issues.

[2017-08-19 06:11] HirdayGupta commented on #4536
@damithc sir you can see the current state of my branch [here](https://github.com/TEAMMATES/teammates/compare/master...HirdayGupta:4536-show-response-published-status-seperately). May I go ahead with the PR?

[2017-08-19 06:15] damithc commented on #4536
Just `Submissions` (no `:`)

Sure

[2017-08-19 10:59] VamsiSangam opened #7962 "MSQ and MCQ results: make table occupy full width"
In the `InstructorFeedbackResultsPage`, the response summary for MCQ and MSQ occupies only a small portion of the available width.

![msq](https://user-images.githubusercontent.com/11662001/29486080-698118d4-84fb-11e7-869e-9110fa160851.JPG)

![mcq](https://user-images.githubusercontent.com/11662001/29486081-6c0f74ba-84fb-11e7-9926-abbdd7a4f1c4.JPG)

We can make this to occupy the full width for a

[2017-08-19 10:59] VamsiSangam commented on #7962
Working on this.

[2017-08-19 13:31] VamsiSangam commented on #7282
@damithc sir, in the context of a rank question, how does it make sense to have a min/max number of choices feature? Also please correct me if I am wrong, `min/max number of choices` here means `min/max rank which can be selected`, isn't it? That is, instead of showing options `1 ... N`, we will show options `min ... max` in the ranks drop-down, is this the intention of issue?

[2017-08-19 13:38] AnaghHegde commented on #7804
I would like work on this. As @HirdayGupta said in the [comment](https://github.com/TEAMMATES/teammates/pull/7867#pullrequestreview-53082290) i will first solve this issue then i will move to other issue.

[2017-08-19 13:42] damithc commented on #7282
Rather, `min=3` means the respondent has to rank at least 3 options. Similar for `max`. e.g. Nominate 3-5 peers to be class monitor and rank your nominations.

[2017-08-19 13:48] VamsiSangam commented on #7282
Ok sir, understood :+1:

Also, even if there's a `min = 2` or such sort of a restriction, is it considered valid if the student decides to skip the question?

[2017-08-20 01:18] damithc commented on #7282
Good question. And I guess the answer is yes, to be consistent with how we handle this kind of situation elsewhere. The respondent can still skip questions but if she attempts the question the answer has to follow the given restrictions. That means for `min=2'  case 0 nominations is still valid but not 1 nomination.

[2017-08-20 04:58] VamsiSangam commented on #7282
Ok, thank you sir.

Working on this issue.

[2017-08-20 17:51] HirdayGupta commented on #6594
@damithc I'm not sure I fully understand what you mean here sir. The reason I am having trouble is that since Observers and below do not have permission to create/edit/delete the session, wouldn't it be useless to them to be able to copy sessions? What would they be able to do once they have copied the session? They can't publish it, right? If the goal is to enable them to view the session, just t

[2017-08-21 00:06] damithc commented on #6594
You missed the point of this feature. If I'm observing a course run by a colleague, I should be able to copy a session from their course to my course. Once the session is in my course, I am no longer an observer for that session and should be able to edit it.
Sorry the initial description is not clear about this.

[2017-08-21 09:07] #3436 closed

[2017-08-21 15:03] amarlearning commented on #3091
Taking this one

[2017-08-22 06:24] HirdayGupta commented on #1103
@damithc Sir, would this be affected by #7965?

[2017-08-22 06:27] damithc commented on #1103
Yes, I guess so. Once #7965 is merged, this should follow the same.

[2017-08-22 06:28] HirdayGupta commented on #1103
@damithc Sir, Can I write a PR for this keeping the changes in #7965 in mind, and let it be on hold until it is merged?

[2017-08-22 06:29] damithc commented on #1103
Sure.

[2017-08-22 07:53] HirdayGupta commented on #5697
@damithc Sir, this is currently what the notification to instructors looks like:

<img width="1138" alt="screen shot 2017-08-22 at 1 14 58 pm" src="https://user-images.githubusercontent.com/18088721/29554221-ef49c5e6-873b-11e7-9c08-60de11fcbe8f.png">

I was thinking of changing the first line to `The email below has been sent to students of course [id] name **and is also to remind you to make your

[2017-08-22 08:09] damithc commented on #5697
How about this?

Keeping in mind the purpose of the 'copy' is to keep instructors informed of what's being emailed to students, ...

1. At session open, pre-close (24 hours before deadline) and close: send students an email informing them about the session. Also email instructors a similar email, but only if they have a question to submit.

2. In all cases above, send a copy to instructors of **em

[2017-08-22 13:14] huai99 commented on #1103
@HirdayGupta Hi, does that mean that you will be working on this issue ?

[2017-08-22 14:32] hukh opened #7973 "Help Request: compilation problem: not all the classes compile"
**Operating System: Ubuntu 16.04 LTS
- **JDK Version: 1.8
- **Eclipse / IntelliJ Version (if applicable): not used
- **Firefox / Chrome Version (where applicable): not used

**What I was trying to do / What I need help with**
I trying to compile the classes and test classes and run the tests for some of the reversions. I need to compile the project for the reversion that had bugs and get the both

[2017-08-22 15:07] 13472889991 commented on #7961
How do i start this?

[2017-08-22 17:06] HirdayGupta commented on #1103
Hi @huai99, you are very welcome to work on this Issue if you wish to. You can choose to either wait until #7965 is merged or familiarise yourself with the contents of #7965 and write this Issue's PR accordingly. Since I already know how to do this, I am happy to assist you as well as review your PR to aid your transition into serious contributions for TEAMMATES.

[2017-08-22 19:37] varshav21 commented on #7960
hi i would really like to take up this issue.Can you guide me on how to get started?

[2017-08-22 22:26] wkurniawan07 commented on #7973
@hukh we're yet to support JDK 1.8. Change to JDK 1.7 and see if your problem still persists.

[2017-08-23 02:05] huai99 commented on #1103
@HirdayGupta  Thanks for your help, i will first take some time to familiarize myself with #7965 and check from you if I have any questions. Thanks for being helpful. :)

[2017-08-23 05:01] damithc opened #7980 "Instructor: Help page and sample course: Remove sexist example"
A user objected to the example comment `Alice is a good girl coder.` in the InstructorHelpPage as it sounds sexist. Let's replace it with something more politically correct.

[2017-08-23 05:46] SELVAKUMAR-S commented on #7224
@adityavhegde , are you on this ? or shall i take this?

[2017-08-23 05:49] adityavhegde commented on #7224
@SELVAKUMAR-S you can take it.

[2017-08-23 07:18] chowyb commented on #7980
There is also an instance of this in the sample course for new instructors, however changing this other instance will likely require use of GodMode (and is not suited for a first timer issue):

[code]

[2017-08-23 07:54] damithc commented on #7980
Lets remove both at the same time. Upped the level to `Contributors`.

[2017-08-23 08:09] davel37 commented on #7980
Working on this.

[2017-08-23 09:33] #7932 closed

[2017-08-23 09:53] SELVAKUMAR-S commented on #7224
thanks, i am taking this!!!

[2017-08-23 10:05] whipermr5 opened #7981 "Instructor home: fix panel collapsing upon click of dropdown menu caret"
As discovered by @damithc, clicking directly on the down caret in the dropdown menus within the panel border causes the entire panel to collapse, instead of displaying the dropdown menu as expected. All four dropdown menus (Students, Instructors, Sessions and Course) are affected. The problem has probably been around since #7389 was merged.

![pasted image at 2017_08_10 12_55 pm](https://user-imag

[2017-08-23 10:22] #7164 closed

[2017-08-23 14:11] AlexM9200 commented on #7981
I'll work on this if that's ok

[2017-08-23 17:34] #4315 closed

[2017-08-23 17:39] whipermr5 commented on #7981
@AlexM9200 Sure!

[2017-08-23 23:36] damithc commented on #7981
This can create a bad first impression on new users if they stumble onto it when they use TEAMMATES the first time. Upping the priority.

[2017-08-24 03:14] SELVAKUMAR-S commented on #7224
@damithc , i have question here, On adding weights to the sub questions, how should i calculate the total/average which is to be displayed in the FeedbackResultsPage. And enabling the weight toggle should enable the user to input weight for both columns and rows? or each should have separate toggle?

[2017-08-24 15:35] ngocvtdev opened #7985 "New contributor self intro Ngoc Vo"
- Link to my fork: https://github.com/ngocvtdev/teammates
- Screenshot:
![image](https://user-images.githubusercontent.com/24991670/29674214-b137d522-891b-11e7-93d2-8521a719f2f4.png)
 I have changed the color of login button, remove the image at bottom left of main tag in homepage and add box-shadow css.

- My name is Ngoc Vo. I'm a java developer in Viet Nam, I have some background in build back-

[2017-08-24 17:08] #4536 closed

[2017-08-24 20:25] LimeTheCoder commented on #7985
Hi, @ngocvtdev, welcome to Teammates! Good job on setting up the dev environment and completing orientation guide. You can start by working on [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors) issues. Good

[2017-08-25 09:51] #7961 closed

[2017-08-25 10:58] wwhayato commented on #7919
まだまださっぱりわかりませんが、クリアな気持ちで、励みます

[2017-08-25 11:58] amarlearning opened #7987 "JS: Avoid using jquery object multiple times, extract as variable"
when using a jQuery object multiple times `(as is the case here for $(entry))`, it is preferable to extract the jQuery object as a variable first (prefixing the variable name with a $ to indicate it is a jQuery object), and then reuse that variable in later calls eg:

**Expected:**
[code]
**Current:**
https://github.com/TEAMMATES/teammates/blob/cb4f03f4071ac4f37e5a1d683e5587508f0a622c/src/main/web

[2017-08-25 12:55] #7962 closed

[2017-08-25 13:07] AlexM9200 commented on #7987
Can I take this?

[2017-08-25 13:21] amarlearning commented on #7987
@AlexM9200 I think this is a <kbd>d.FirstTimer</kbd> issue. Let's wait for the confirmation from any of our @TEAMMATES/seniordevs

[2017-08-25 15:04] lazy-sunshine commented on #7742
I resolved the issue,please merge the PR

[2017-08-25 18:11] AlexM9200 commented on #7987
This is the same thing in teammates/src/main/webapp/dev/js/main/instructorFeedbackResultsQuestion.es6.
Should I fix it in this pull request or create a new issue?

        const panelHeading = $(this);
        if ($('#show-stats-checkbox').is(':checked')) {
            $(panelHeading).find('[id^="showStats-"]').val('on');
        } else {
            $(panelHeading).find('[id^="showStats-"]').val(

[2017-08-25 20:38] AlexM9200 opened #7991 "InstructorStudentRecords: Avoid using jquery object multiple times, extract as variable"
When using a jQuery object multiple times (as is the case here for $(entry)), it is preferable to extract the jQuery object as a variable first (prefixing the variable name with a $ to indicate it is a jQuery object), and then reuse that variable in later calls eg:

Expected:

         const $entry = $(e.target);
         const courseId = $entry.data('courseid');
         const studentEmail = $ent

[2017-08-25 23:47] #1297 closed

[2017-08-25 23:56] whipermr5 commented on #7742
@lazy-sunshine Please follow our conventions first as linked by the bot :)

[2017-08-26 00:00] whipermr5 commented on #7987
The scope of this issue can be widened and similar violations can be fixed in the same PR.

[2017-08-26 00:40] #7980 closed

[2017-08-26 04:27] #7985 closed

[2017-08-26 06:12] damithc opened #7993 "Student: submit responses: mention that partial answers can be saved"
In the submission page, we can mention that partially responses can be 'saved' using the submit button.

[2017-08-26 07:58] lazy-sunshine commented on #7742
Made changes according to the conventions

[2017-08-26 09:20] Zhiyuan-Amos opened #7995 "EntityAttributes: Improve addNonEmptyError(String, List<String>)"
`addNonEmptyError(String error, List<String> errors)` appends `error` to
`errors` if `error` is a non-empty string. Callers have to create their
own `List<String>` and pass it into this method repeatedly when checking
for multiple possible errors.

This is unnecessary.

Let's improve this method by adding a `List<String> errors` field in
`EntityAttribute` and update the method signature to become

[2017-08-26 09:38] Zhiyuan-Amos opened #7996 "EntityAttributes: Remove invalid information methods"
Note: Perhaps this issue may require further discussion. If this issue is resolved, then we can close #7995.

Subclasses of `EntityAttributes` can be initalised with invalid values.

This results in a need to verify after initialisation of entities on
whether they are valid or not. For example, in `StudentsLogic`:
[code]

Let's teach constructors of subclasses to verify that the values passed
in a

[2017-08-26 09:54] huai99 commented on #1103
@HirdayGupta  In FeedbackSessionsForm, there is no attribute for the course name, so I will need to add a new attribute for the course name ? Or do you have any suggestions for a simpler approach?

[2017-08-26 11:58] wkurniawan07 commented on #7991
This issue is subsumed under #7987.

[2017-08-26 11:58] #7991 closed

[2017-08-26 13:37] HirdayGupta commented on #7993
Working on this.

[2017-08-26 15:45] #7981 closed

[2017-08-26 17:05] HirdayGupta opened #7997 "Student: Feedback Submission Edit: Fix misalignment of Student MOTD"
Noticed while working on #7993.

The Student MOTD div is misaligned with the rest of the page. _[Screenshot]_

<img width="1265" alt="screen shot 2017-08-26 at 10 30 12 pm" src="https://user-images.githubusercontent.com/18088721/29743367-4241e2c2-8aae-11e7-810f-65168ca679e9.png">

Probably not a `d.FirstTimers` as it involves god mode.

Will identify the cause and push a PR soon.

[2017-08-26 17:49] HirdayGupta commented on #7993
@damithc Sir, how would you like this information displayed?

- **A status message** (sent from the server using statusToUser)
<img width="1265" alt="screen shot 2017-08-26 at 10 11 19 pm" src="https://user-images.githubusercontent.com/18088721/29743265-ed03d5b0-8aab-11e7-8331-c5135ca7b272.png">

- **A dismissable div** (added in tag files, using `data-target` and `data-dismiss="alert"` for closin

[2017-08-26 17:49] HirdayGupta commented on #7997
Managed to identify the cause. There was an extra "`container` class in one of the divs, (which was in addition to the container we put on all our pages), causing the misalignment. The commit referenced above (cca8935) fixes this issue. I also ran god mode on the CI tests locally and realized that **god mode does not need to be run as no tests depend on this change.**

@damithc Leave it up to you

[2017-08-26 23:14] #7742 closed

[2017-08-26 23:16] #7946 closed

[2017-08-27 01:40] damithc opened #7998 "Message of the day: fix the missing animated gif"
There's supposed to be an animated gif here. Seems to be missing.
v5.110

[2017-08-27 01:49] uxxSam commented on #7998
Working on this

[2017-08-27 02:03] damithc commented on #7993
I think the first option is OK (because we use the same technique in other places while we don't use dismissiable divs anywhere).

For the sentence, your suggestion is good. I did some tweaks along the same lines:

[2017-08-27 02:10] wkurniawan07 commented on #7998
@damithc This is not something within dev's power. The missing gif is sourced from <http://www.comp.nus.edu.sg/~pptlabs/img/zoom-to-area.gif>, and that is what needs to be fixed.

[2017-08-27 02:37] damithc commented on #7998
Thanks for finding the cause. I'll follow up with the PowerPointLabs team to restore that gif.

[2017-08-27 02:37] #7998 closed

[2017-08-27 02:38] damithc commented on #7998
@uxxSam please note my previous comment.

[2017-08-27 02:40] uxxSam commented on #7998
@damithc I see, thanks for letting me know.

[2017-08-27 03:01] damithc commented on #7998
Update: the missing gif has been restored. All good now.

[2017-08-27 06:13] HirdayGupta commented on #7993
Dropping a note that there is a slight delay in pushing the PR as I have to modify some tests to update their expected statuses.

**Meanwhile, would just like your advice on this:**

The behaviour shown by the screenshot below would  not be desirable, correct? Should the new status message only get displayed when the page is first being loaded and NOT after response submission? Or is the screensho

[2017-08-27 06:13] HirdayGupta commented on #7993
Dropping a note that there is a slight delay in pushing the PR as I have to modify some tests to update their expected statuses.

**Meanwhile, would just like your advice on this:**

The behaviour shown by the screenshot below would  not be desirable, correct? Should the new status message only get displayed when the page is first being loaded and NOT after response submission? Or is the screensho

[2017-08-27 06:31] damithc commented on #7993
Ideally, yes. But if it introduces too much complexity, the alternative is fine too.

[2017-08-27 06:37] leeyimin opened #8000 "GetStudentsAction: prevent access by instructors without view students privileges"
Instructors can still access the list of students of a course they do not have privilege to as InstructorStudentListAjaxPageAction does not perform the necessary privilege check.

[2017-08-27 10:18] HirdayGupta opened #8001 "Usermap: fix failure on live server"
Works on localhost but on https://teammatesv4.appspot.com/usermap.jsp all I see is the following _[screenshot]_  (Blank screen only with the number of institutions and countries)

<img width="1280" alt="screen shot 2017-08-27 at 3 43 58 pm" src="https://user-images.githubusercontent.com/18088721/29748920-9d24ba1c-8b3e-11e7-9e3a-98987a11e5c1.png">

This is the output in the javascript console:

<im

[2017-08-27 13:01] HirdayGupta commented on #8000
Working on this.

[2017-08-27 16:14] LimeTheCoder opened #8002 "InstructorFeedbackResultsPage: add section displaying options for instructors"
As @damithc mentioned in #7815 it will be good to provide the option for question display view that will define behavior during choosing which responses are related to chosen section and which are not.
Here 4 options:
1) Only giver in section -> all responses where giver in chosen section will be included
2) Only recipient in section ->  all responses where recipient in chosen section will be incl

[2017-08-27 19:12] HirdayGupta commented on #7993
@damithc Just realised that this would involve passing an additional data attribute using the URL to the feedbackSubmissionEdit page, and that would add a _lot_ of complexity to this PR. So I'm going to be sticking with the alternative.

[2017-08-27 20:04] olya-chuchuk opened #8005 "Problems installing TestNG"
- **Operating System:Windows 10**
- **JDK Version: JDK 1.7**
- **Eclipse : 4.6.2**

I was trying to set up eclipse for working with the teammates project using this guide https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md. I am stuck in getting TestNG plugin installed. I tried to install it via _Help->Install New Software_ , in "Work with" I pasted "http://beust.com/eclipse" and

[2017-08-27 20:55] wkurniawan07 commented on #8005
Hi @olya-chuchuk, this looks like a general Eclipse error to me. See if finding your own solution in Google/StackOverflow works 🙂

[2017-08-28 00:18] damithc opened #8008 "Update aboutUs page to reflect Aug 2017 team structure"
@HirdayGupta @VamsiSangam @sujeet14108 @LimeTheCoder @Mynk96 @amarlearning can you post here suitable photos to be used in the [About Us](http://teammatesv4.appspot.com/about.jsp) page?

Requirements: clean background (no need to remove background), shoulders visible,
Preferred: informally dressed, smiling :-)

[2017-08-28 01:50] damithc commented on #7993
You can create an issue for someone to "upgrade" the behavior in future.
BTW, can the backend insert the status message only if the form is empty (instead of passing a new parameter)?

[2017-08-28 03:29] whipermr5 commented on #7282
Pending creation of another issue for rank recipients questions: https://github.com/TEAMMATES/teammates/pull/7972#issuecomment-325191310

[2017-08-28 04:59] #1883 closed

[2017-08-28 05:29] #7282 closed

[2017-08-28 07:07] HirdayGupta commented on #7993
@damithc Sir, I can't seem to find an existing parameter/data attribute that checks if the student has submitted responses for that particular feedback session. Again, creating such a paramater would add some complexity.

Will create the issue to "upgrade" the behaviour. 👍

[2017-08-28 07:38] HirdayGupta commented on #8008
@damithc Sir, would [this](https://user-images.githubusercontent.com/18088721/29763673-c7175c90-8bf1-11e7-951d-562e704b2ce3.png) be okay?

[2017-08-28 07:53] VamsiSangam opened #8009 "Rank recipients: support min/max number of choices"
Add support for minimum/maximum options to be ranked for Rank (recipients) type question.

[2017-08-28 07:55] VamsiSangam commented on #8008
Is [this pic](https://avatars1.githubusercontent.com/u/11662001?v=4&s=460) ok sir? It is the same as my current GitHub pic.

[2017-08-28 09:36] amarlearning commented on #8008
Sir will this work? :sweat_smile:
![9383897_burned](https://user-images.githubusercontent.com/9383897/29768051-603f613c-8c02-11e7-9605-a212fda1b07c.jpg)

[2017-08-28 13:05] sujeet14108 commented on #8008
Here is the [pic](https://user-images.githubusercontent.com/9781422/29774539-615fa12c-8c1f-11e7-8c28-b13e6f5abe9a.jpg) :)

[2017-08-28 13:51] damithc commented on #8008
@sujeet14108 shoulders need to be visible.

[2017-08-28 21:06] tulikarai opened #8010 "Issue in setting up the project in Eclipse"
**Windows 10**
- **JDK7**
- **Eclipse Neon:**
- **Firefox / Chrome Version (where applicable):**

**Setup project in Eclipse**

[2017-08-28 21:18] tulikarai commented on #8010
I follow all the steps as given in the document to setup TEAMMATES project in Eclipse, but after clean and build it still showing 852 errors

[2017-08-29 01:37] #7997 closed

[2017-08-29 01:39] #7960 closed

[2017-08-29 01:41] #7655 closed

[2017-08-29 01:46] damithc opened #8011 "Instructor: edit students: improve efficiency of 'delete all students'"
v5.110

I noticed that an instructor is trying to 'delete all students' of a course with 500+ students and constantly running into a 'task cancelled' error.

[code]

[2017-08-29 03:51] Somashekhark commented on #8010
Hi,
 Even i am getting the Error after Importing from the Git Hub
 Error in the package itself,please let me what i have to do to resolve and run  successfully
![image](https://user-images.githubusercontent.com/16729363/29803680-367ba650-8c9b-11e7-9682-7804899e9a7e.png)

[2017-08-29 06:47] tulikarai commented on #8010
does it matter if my workspace directory of eclipse is different from the project root directory ?
eclipse workspace directory : c:
project root directory : c:/git/teammates

[2017-08-29 15:51] #7859 closed

[2017-08-29 15:58] #7829 closed

[2017-08-29 15:59] #7683 closed

[2017-08-29 16:05] kwilsonO opened #8012 "New contributor self intro kwilsono"
a. No staging server yet, just local.
b. https://github.com/kwilsonO/teammates/tree/tinker

![teammatesscreenshot](https://user-images.githubusercontent.com/7905659/29830972-ba33415e-8cb1-11e7-8188-86e0e17e0d72.png)

d. Short Bio/Intro:

My name is Kyle Wilson, I'm 24, I'm a back end developer, and I have some free time so figured I'd find an open source project to contribute to!

**Was planning o

[2017-08-29 16:45] #7839 closed

[2017-08-29 17:10] kwilsonO commented on #8012
https://github.com/TEAMMATES/teammates/pull/8013

[2017-08-30 00:51] damithc commented on #8011
Feedback from the user

[2017-08-31 07:12] damithc commented on #8008
@Mynk96 too blurry/noisy. I should be able to extract you from the background cleanly, which requires a relatively clean image.

[2017-08-31 17:26] AlexM9200 opened #8014 "AdminHome: Fix table overflow after instructor is added"
When you add a new instructor, the link overflows outside the table as shown below.

![bug](https://user-images.githubusercontent.com/21268058/29936295-940dff22-8e79-11e7-9837-3d828ca2eae7.PNG)

The GUI would be improved if the link stayed within the table.

[2017-08-31 23:51] AlexM9200 commented on #8014
I fixed this issue but for some reason my commits from a different pull request got included in this pull request. Anyone know what I did wrong? Will try and figure it out in the mean time

[2017-09-01 04:33] LiHaoTan commented on #8014
@AlexM9200 did you `branch` out from `master`? Otherwise, as you would have guessed, that's probably why commits from another branch ended up in your new branch.

Anyway, this issue is a duplicate of #6900. Maybe next time you can try doing a search before opening an issue, though it is understandable sometimes a search may fail to catch duplicate due to different keywords/structure in a similar i

[2017-09-01 04:34] LiHaoTan commented on #8014
Duplicate of #6900

[2017-09-01 10:45] AlexM9200 commented on #8014
I figured out where I went wront, thanks. My apologies for the duplicate. II did a quick search but didn't find #6900. I'm surprised it still hasn't been fixed yet.

[2017-09-01 14:59] #8014 closed

[2017-09-01 15:31] AlexM9200 opened #8016 "Move `static-analysis.md` from root folder to `docs/`"
static-analysis.md was accidently moved into the root folder. It should be moved back into the docs folder.

[2017-09-01 15:34] #7923 closed

[2017-09-01 16:37] LiHaoTan commented on #8016
@AlexM9200 it seems all links to the static analysis documentation is broken, i.e.
`docs/README.md`
`docs/development.md`
`docs/usage.md`.

Though we should rather put it another way, the static analysis document is in the wrong folder. Can you update your issue description accordingly?

[2017-09-02 11:28] eei34 commented on #8016
Sorry, first timer...

[2017-09-02 14:26] wkurniawan07 commented on #8008
@LiHaoTan you should, too

[2017-09-02 14:51] wkurniawan07 commented on #8016
I was the one reviewing that PR, my bad for this 😓

[2017-09-02 15:21] wkurniawan07 commented on #8010
@tulikarai

Can you post a screenshot of the errors shown here?

It does not because my own Eclipse workspace directory and TEAMMATES project root directory is different.

[2017-09-02 15:24] wkurniawan07 commented on #8010
@Somashekhark, do open up your own issue in order not to clog up other person's issue thread. I will answer your question here just this one time: you should not import the project directly from GitHub. Follow the steps given in our [project setup document](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) as well as [IDE setup document](https://github.com/TEAMMATES/teammates/

[2017-09-02 15:35] wkurniawan07 commented on #8009
@VamsiSangam any timeline on when this will be worked on? Ideally, all "support min/max number of choices" PRs will be released under the same milestone.

[2017-09-02 15:42] VamsiSangam commented on #8009
I was planning to do this after #7509 gets merged, because there's a quite a lot of code I can use from that PR.

[2017-09-02 18:04] wkurniawan07 commented on #8009
@VamsiSangam you should not wait; you can start doing the work now and after #7509 is eventually merged you will simply push the works for this issue.

[2017-09-02 21:07] eei34 opened #8019 "New contributor self intro @eei34"
Link: https://github.com/eei34/teammates
UI Modification:

![image](https://user-images.githubusercontent.com/31013163/29998734-a952321c-9000-11e7-842a-b4677406f6b0.png)

My name is Eva, I recently graduated with a degree in MIS. I am looking to start a career in software development. I look forward to contributing!

[2017-09-03 08:33] #8016 closed

[2017-09-03 15:23] #7431 closed

[2017-09-03 18:44] dipikaisdbest commented on #7237
@damithc Could I grab this one? I am a first time contributor.

[2017-09-03 20:36] sujeet14108 commented on #7352
@wkurniawan07  I think all files are covered now ?

[2017-09-03 23:47] damithc commented on #7237
@dipikaisdbest If you are first time contributor, you may want to start with an issue labelled `ForFirstTimers`. This issue may be too difficult for a first timer.

[2017-09-03 23:59] eei34 opened #8021 "Login into an instance of Teammates"
I am unable to login into an instance. I have followed [these](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance) directions. After inspecting the html page, the information that I am inputting is not gathered and the instructor is not being added (which supposedly gives me access to a join request that was not really sent). There are also mi

[2017-09-04 04:32] LiHaoTan commented on #8021
Did you miss [Building Javascript files](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#building-javascript-files)?. That's in the same document.

I would like to know why you missed that so we can possibly improve our documentation.

Though admittedly, the workflow for building Javascript files is not very ideal and we should get around to improving it.

[2017-09-04 05:29] eei34 commented on #8021
I guess I overlooked it. Was planning on referencing the rest of this document once I got into the app. My suggestion: put this part of the documentation along with the ["setting up"](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) documentation so that this considered a required step to complete your set up. Thanks.

[2017-09-04 06:14] LiHaoTan opened #8022 "setting-up.md: IntelliJ IDEA: remove `experimental; limited support` status"
IntelliJ IDEA configuration should be considered stable by now. While there are still improvements that can be made to improve the setup, the current setup should not pose any problems for development.

[2017-09-04 06:30] damithc commented on #8022
Yup, I've been using it all this time and it's pretty stable now. 👍

[2017-09-04 11:07] dipikaisdbest commented on #7903
Hi Is this still open? Could I grab it?

[2017-09-04 11:08] dipikaisdbest commented on #7237
Hi @damithc thanks for a correct guidance.

[2017-09-04 11:09] wkurniawan07 commented on #7352
@sujeet14108 actually, there are some files that you missed, but you have done enough.

[2017-09-04 11:12] wkurniawan07 commented on #8021
I have to disagree with this, because building JS files is part of the "build/test/deploy" routine instead of setting up. Your JS environment is ready the moment you ran [`npm install`](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md#step-3-set-up-project-specific-settings-and-dependencies).

However, I do agree with @LiHaoTan that both (1) the documentation is lacking the in

[2017-09-04 20:15] LimeTheCoder commented on #8019
Hello, @eei34, welcome to Teammates! You can start with [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue and after that try to work on [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors) issues. Good luck!

[2017-09-05 00:00] damithc commented on #8008
yup.

[2017-09-05 00:01] damithc commented on #8008
@sujeet14108 @LimeTheCoder @Mynk96  reminder

[2017-09-05 00:02] eei34 commented on #8019
Hi @LimeTheCoder. So excited to get started! Thanks!

[2017-09-05 04:23] whipermr5 commented on #8012
Hey Kyle, welcome to TEAMMATES! Good job setting everything up the dev server! I see you've already submitted a PR for a `d.FirstTimers` issue; that's good! While waiting for it to be reviewed, feel free to take a look at `d.Contributors` issues if you're bored :)

[2017-09-05 04:54] LiHaoTan commented on #7903
@dipikaisdbest yes it is still open

[2017-09-05 05:07] sujeet14108 commented on #8008
@damithc check this [pic](https://user-images.githubusercontent.com/9781422/30046135-f9c88f1c-9225-11e7-836c-5db353dac09c.jpg) :sweat_smile:

[2017-09-05 20:01] sowmyadvn commented on #7898
@damithc I see that this issue is not referenced yet. I am a first-timer here. Can I give it a try?

[2017-09-05 23:32] damithc commented on #7898
Sure @sowmyadvn

[2017-09-06 04:35] damithc opened #8024 "Instructor: edit session: fix preview button panel width"
![image](https://user-images.githubusercontent.com/1673303/30094554-945d17bc-92ff-11e7-8012-27fed10f5920.png)

[2017-09-06 04:35] damithc commented on #8024
Need to be fixed before next release.

[2017-09-06 04:38] damithc opened #8025 "Instructor: home page: fix action buttons going out of table"
![image](https://user-images.githubusercontent.com/1673303/30094672-32c40e2e-9300-11e7-93e7-fa1e9540a914.png)

[2017-09-06 05:35] stanislous commented on #8025
Can I work on this?

[2017-09-06 05:36] VamsiSangam commented on #8024
Working on this.

[2017-09-06 05:36] VamsiSangam commented on #8025
Sure, please go ahead.

[2017-09-06 06:14] VamsiSangam commented on #8025
@damithc sir, on which page is this issue occurring? Instructor homepage seems fine on my up-to-date master branch -

![capture](https://user-images.githubusercontent.com/11662001/30096957-b8f66c56-92f8-11e7-9355-6e67e209def6.JPG)

[2017-09-06 06:43] damithc commented on #8025
It's the home page, on your #7509 branch. It's possible that the problem depends on the contents of the table.

[2017-09-06 08:22] VamsiSangam commented on #8025
It is not occurring on my #7509 branch as well sir.

[2017-09-06 10:19] damithc commented on #8025
Let's wait to see if recur. It's not a major problem anyway if it doesn't happen to everybody.

[2017-09-06 12:20] Mynk96 commented on #8008
@damithc Check this pic ![img_4893](https://user-images.githubusercontent.com/17481466/30111553-bae034b0-932b-11e7-8665-2bb801a66ec6.JPG)

[2017-09-06 12:24] Mynk96 commented on #8008
@damithc check this [pic](https://user-images.githubusercontent.com/17481466/30111618-019dd754-932c-11e7-88bf-089af018b854.JPG) :)

[2017-09-06 22:06] #7833 closed

[2017-09-07 04:25] whipermr5 commented on #8025
It happens to me too. I think it's like that on smaller resolutions?

[2017-09-07 05:03] LiHaoTan commented on #8025
It occurs for me as well, though I suspect it occurs on all resolutions though I'm not sure why @VamsiSangam is not able to replicate it, can you refresh your cache?

![image](https://user-images.githubusercontent.com/13617389/30146819-d4476e40-93cc-11e7-8c61-2c266130811a.png)

[2017-09-07 07:09] #8024 closed

[2017-09-07 13:41] gaurav122197 opened #8027 "New contributor self introduction: Gaurav"
Link to my fork: https://github.com/gaurav122197/teammates
I am Gaurav Khandelwal, a Computer Science and Engineering undergraduate. I am looking forward to contributing to this project.

[2017-09-07 13:45] #7280 closed

[2017-09-08 09:56] #7987 closed

[2017-09-08 20:16] gaurav122197 commented on #7135
@AnaghHegde I have done the following modifications on my forked repository. Are these changes appropriate and sufficient?
![screenshot from 2017-09-09 01-42-39](https://user-images.githubusercontent.com/17140537/30229699-97a5d26c-9500-11e7-891b-64816bc9ec6f.png)
![screenshot from 2017-09-09 01-43-29](https://user-images.githubusercontent.com/17140537/30229698-97a37288-9500-11e7-9b90-ab951be78dc8.

[2017-09-08 23:24] damithc opened #8030 "Instructor: view results: update warning for sessions with high response count"
The warning doesn't match the UI. We no longer has a drop-down box.

![image](https://user-images.githubusercontent.com/1673303/30234453-cf3f2d16-952f-11e7-97e6-ed89fb83f915.png)

[2017-09-08 23:31] uxxSam commented on #8030
Hi, I would like to work on this issue.

[2017-09-09 07:31] srpurwaha201 commented on #7754
is this issue still open?

[2017-09-10 07:34] LiHaoTan commented on #7805
The fix has been pushed through IntelliJ IDEA `2017.2.2` since August 15, 2017 and this issue can now be closed.

[2017-09-10 07:34] #7805 closed

[2017-09-10 12:09] dinukadesilva opened #8033 "[Request a free instructor account] button and the text hasn't been aligned properly"
**Environment**
Production on 10th of Sep 2017

**Steps to reproduce**
Go to https://teammatesv4.appspot.com/

**Expected behaviour**
Button to be alligned properly

**Actual behaviour**
Button text hasn't been aligned properly.
![image](https://user-images.githubusercontent.com/10680296/30248926-5545f722-964e-11e7-9669-ae880809e3aa.png)

[2017-09-10 13:36] damithc commented on #8033
@dinukadesilva thanks for the report. Seems to work from here. Can you confirm, possibly by using a different browser? Where are you accessing from (in case it is location dependent)?

[2017-09-10 14:55] dinukadesilva commented on #8033
@damithc This was a sudden notice. Here it is
This issue is there in

- [x] Chrome Version 60.0.3112.113 (Official Build) (64-bit) in Windows 10 Pro version 1703
- [x] Firefox Version 49.0  in Windows 10 Pro version 1703
- [x] Edge  in Windows 10 Pro version 1703

And seems it's a windows 10 specific. I tested in windows 7, in Chrome and Firefox, this issue is not there.

[2017-09-10 14:55] dinukadesilva commented on #8033
@damithc I would like even to looking to this issue.

[2017-09-10 15:03] damithc commented on #8033
Go ahead @dinukadesilva . I'm using Windows 10 and things seem fine.

[2017-09-12 19:22] stellargo commented on #7165
@damithc could you provide a little more details as to from which parts is this redirection need to be removed, like everywhere in InstructorHomePageUiTest.java?

[2017-09-13 02:36] jmontano86 commented on #8033
For what it's worth, it seems to be working fine on my Windows 10 computer on Chrome V60. @dinukadesilva I noticed your font is different than mine. Are you possibly using a different font package on your computer? Are you using any add-ons or anything to make your font more bold?

[2017-09-14 13:41] wkurniawan07 commented on #8009
Hi @VamsiSangam, shall we proceed with this one?

[2017-09-15 04:46] VamsiSangam commented on #8009
Yes, working on this.

[2017-09-15 04:55] VamsiSangam opened #8035 "feedbackSubmissionsEdit.es6: remove unnecessary if condition"
In the `validateMsqQuestions()` method of `feedbackSubmissionsEdit.es6`, an `if` statement has been put near [this line](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/dev/js/main/feedbackSubmissionsEdit.es6#L656) -

[code]

This `if` condition was meant for selecting `None of the above` options when min/max options for MSQ questions were enabled.

According to the current impl

[2017-09-15 12:37] VamsiSangam commented on #8025
The UI defect does not happen in my Firefox but occurs on my Chrome.

[2017-09-15 13:23] VamsiSangam commented on #8009
I have a doubt here. What should we do when the recipient is `Giver's team members` or `Giver's team members and giver`? In this scenario, the number of recipients depends upon the giver, so how can we limit the values the instructor gives inside the minimum/maximum options to be ranked input box?

Eg., suppose the recipient is `Giver's team members and giver`, and the instructor has set the minim

[2017-09-15 14:08] damithc commented on #8009
I think the team size should override the min/max as necessary. e.g. `max=4` really means, `4 or team size, whichever is lower`. Similarly for min. Will that work?

[2017-09-15 14:18] VamsiSangam commented on #8009
I understand the `max=4` case, but what should happen when `min = 4, team size = 3`?

[2017-09-15 14:23] damithc commented on #8009
Similar: take `specified min or team size, whichever is lower`

[2017-09-15 14:24] VamsiSangam commented on #8009
Sir then in that case, the student would have to rank all the options, is this the expected behavior?

[2017-09-15 14:26] damithc commented on #8009
Yes. I can't think of any other viable alternative.

[2017-09-15 15:23] AlexM9200 commented on #8035
Can I take this?

[2017-09-15 15:48] VamsiSangam commented on #8035
By difficulty level, this is a `d.FirstTimers` issue. Please take up a [`d.Contributors`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.Contributors) issue of your choice :blush:

[2017-09-15 18:47] AlexM9200 commented on #8035
No problem 😁

[2017-09-16 07:26] #7812 closed

[2017-09-16 07:52] #8012 closed

[2017-09-16 07:52] #8019 closed

[2017-09-16 07:53] #7973 closed

[2017-09-16 07:53] #8005 closed

[2017-09-16 07:53] #8010 closed

[2017-09-16 07:59] whipermr5 commented on #8027
Hello @gaurav122197, welcome to TEAMMATES! After completing the steps in the [orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md), feel free to work on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-09-17 16:10] #8030 closed

[2017-09-17 19:02] AnmolGrewal commented on #8035
So to do this, you pull and fix the issue and make a push request?

[2017-09-18 03:29] whipermr5 commented on #8035
@AnmolGrewal Have a look at [process.md](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md) and other documentation in the same folder :)

[2017-09-18 05:41] PJozeph commented on #8035
can i handle it ?

[2017-09-18 20:21] shaharyar-shamshi opened #8038 "new contributor problem"
I am very eager to contribute in the teammates project and setting up the enviroment for it but following error occured can anyone help me
I have followed each step in Settingup.md but when I move to development.md and run command  sh ./gradlew appengineRun
It give the error of build failed
for whole of the the error follow the following link
[https://docs.google.com/document/d/1vXYXDLop-eMq-Ki3wD

[2017-09-18 21:19] #8021 closed

[2017-09-18 23:47] shivarajnesargi commented on #8035
Can I handle it?

[2017-09-19 05:39] whipermr5 commented on #8035
Everyone is free to submit a PR anytime they're ready :) We'll accept the one that best follows our requirements.

[2017-09-19 05:44] whipermr5 commented on #8038
For future reference, this is the output shown in your link:
[code]

Looks like a temporary network error; have you tried several times?

[2017-09-19 21:01] shaharyar-shamshi commented on #8038
I am trying since last two days still the same result

[2017-09-19 21:19] shaharyar-shamshi commented on #8038
problem is solved Actually my terminal was not able to connect to proxy server my badluck

[2017-09-19 21:19] #8038 closed

[2017-09-21 01:45] whipermr5 commented on #6372
Following https://github.com/TEAMMATES/teammates/pull/8036#issuecomment-330864397, I guess this issue should be closed?

[2017-09-21 03:25] damithc commented on #6372
Yes, but need to spawn a new issue for the new approach suggested.

[2017-09-22 06:37] whipermr5 opened #8041 "Instructor: prevent enrolling multiple persons with the same name"
The enrolment process should check and prevent multiple persons with the same name from being enrolled. More details here: https://github.com/TEAMMATES/teammates/pull/8036#issuecomment-330864397

Possible idea for discussion: instead of preventing enrolment, detect duplicates and provide a UI for the instructor to correct the affected names on the spot by decorating them with extra info. https://g

[2017-09-22 06:38] whipermr5 commented on #6372
Done: #8041

[2017-09-22 06:38] #6372 closed

[2017-09-22 12:21] #2324 closed

[2017-09-22 12:27] #8027 closed

[2017-09-22 12:41] whipermr5 commented on #7840
I believe null variables at these points of the code do connote unauthorised access, e.g. due to tampering of POST parameters.

[2017-09-22 12:51] #7135 closed

[2017-09-22 14:29] whipermr5 opened #8042 "InstructorFeedbackResultsPageUiTest: fix failure on Chrome"
#7989 changed some comment adding related functionality, causing a [Chrome-specific workaround](https://github.com/TEAMMATES/teammates/pull/7700/files#diff-22f931b66aede535956ef960f23b82b1R200) introduced in #7700 to break, resulting in test failure on Chrome (and therefore, AppVeyor).

[2017-09-23 02:25] #8042 closed

[2017-09-23 03:47] #8001 closed

[2017-09-23 15:20] whipermr5 opened #8047 "Release V5.111"
Scheduled for September 24, 2017, 11.59pm SGT.

[2017-09-23 15:21] whipermr5 opened #8048 "Update about.jsp with contributors from V5.111"

[2017-09-23 19:27] stanislous commented on #7818
@AnaghHegde still work on this??

[2017-09-23 21:45] jnisky commented on #8035
Ok I made my first attempt at fixing this issue. Take a look.

[2017-09-23 22:49] eei34 commented on #3918
@damithc @LiHaoTan  Currently the instructor search page allows for searching of responses, questions, and comments. When selecting the "Comments for responses" checkbox, the results include keywords of responses, questions, and comments. Should the checkbox be renamed to "Feedback" with a tooltip explaining the results or should search results be implemented to include specifically responses, com

[2017-09-23 23:51] eei34 commented on #8041
I think the email address is the best method to differentiate students. This should be included in the feedback results. Instead of putting information such as (J1 / J2), you will need something concrete to differentiate them when entering grades or storing results. Unless the instructor was to identify the student in his normal records (outside of Teammates) as J1 or J2 he would still need the em

[2017-09-24 02:05] damithc commented on #8041
Display space is a very precious resource in session result pages. I don't think we can justify adding a whole new column to cater for a situation that applies to 0.1% of cases and might not even help in those cases. Reason: many schools use cryptic email addresses such as u392832328@example.edu which doesn't really help the reader to identify which student is which.

[2017-09-24 07:26] shaharyar-shamshi opened #8051 "error while setting in eclipse ide"
when I set up the enviroment in Eclipse Ide the method of AppPage.java
public static LoginPage createCorrectLoginPageType(Browser browser) {
        return getNewPageInstance(browser, TestProperties.isDevServer() ? DevServerLoginPage.class : GoogleLoginPage.class);
    }
gave the Error

[2017-09-24 07:33] dipzzzz commented on #7903
Is this issue still live?

[2017-09-24 08:44] whipermr5 commented on #7903
@dipzzzz Yes; there is no currently open PR for it that follows our contribution guidelines.

[2017-09-24 09:37] LiHaoTan commented on #8041
I agree that email address is sometimes the only way to differentiate persons in terms of mapping data between TEAMMATES and other systems. But as we can see, exported results already include the email field for every person.

However, that is not the case every time because they can be very long and may not necessarily identify users in a way easy for the reader like what @damithc mentioned.

If

[2017-09-24 09:45] dipzzzz opened #8053 "Login issue"

[2017-09-24 10:02] #8053 closed

[2017-09-24 10:06] whipermr5 commented on #8051
You need to follow the IDE setup [instructions](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md#eclipse-ide) exactly (choose JDK 1.7, not 1.8).

[2017-09-24 11:22] dipzzzz commented on #8051
Use correct JDK with your setup.

[2017-09-24 15:33] whipermr5 commented on #8047
Release 262

Code Contributions from: @AlexM9200, @amarlearning, @uxxSam, @BrianCoveney, @davel37, @HirdayGupta, @whipermr5, @lehighjcut, @lazy-sunshine, @Mynk96, @MelkyFB, @RaghavBatra, @huai99, @sujeet14108, @LimeTheCoder, @ducthienbui97, @ihsavru, @VamsiSangam, @varshav21, @viraj071
Review Contributions from: @damithc, @HirdayGupta, @whipermr5, @LiHaoTan, @Mynk96, @sujeet14108, @LimeTheCoder, @

[2017-09-24 15:35] #8048 closed

[2017-09-24 16:09] arjunsuri commented on #7837
i want to take this issue

[2017-09-24 20:53] whipermr5 commented on #7837
@arjunsuri Do select another issue as this issue is on hold.

[2017-09-24 21:04] whipermr5 opened #8054 "Release V5.112"
Scheduled for October 8, 2017, 11.59pm SGT.

[2017-09-24 21:06] whipermr5 opened #8055 "Update about.jsp with contributors from V5.112"

[2017-09-25 05:22] #7326 closed

[2017-09-25 05:35] damithc commented on #8047
Deployed.

[2017-09-25 05:35] #8047 closed

[2017-09-25 05:49] whipermr5 commented on #7950
Any further occurrences of this?

[2017-09-25 05:54] damithc opened #8056 "Update user map for Aug 2017"
Similar to #7424

Institutions to add:

Australia | Monash University
-- | --
Australia | Queensland University of Technology
Australia | University of New South Wales
Australia | University of Melbourne
Brazil | IFRJ
Brazil | Universidade Catolica de Brasilia
Brazil | University of Brasilia
Canada | Cégep du Vieux-Montréal
Canada | Centennial College
Canada | Centennial College
Canada | Fleming C

[2017-09-25 05:57] damithc commented on #7950
Not recently. There were a few other `java.lang.NullPointerException` but coming from different locations.

[2017-09-25 06:21] #7898 closed

[2017-09-25 09:50] wkurniawan07 commented on #8054
@whipermr5 I think this better wait for #8037, otherwise it defeats the purpose of releasing V5.111 at _that_ commit.

[2017-09-25 10:14] wkurniawan07 commented on #8008
@LimeTheCoder let's not forget to post your photo here

[2017-09-25 10:31] #8035 closed

[2017-09-25 19:05] g3chenyigmailcom commented on #8056
Can I do this, please?

[2017-09-26 04:19] jhleefred commented on #4917
Hi all,
I am also getting "Cannot send Ajax Request!" error when trying to add an instructor.
![image](https://user-images.githubusercontent.com/22018780/30842256-a6c84998-a246-11e7-9024-ece11a850e08.png)
When I go to the Joining link and click "Yes, this is my account", I get directed to  http://localhost:8888/errorPage.jsp page like @RatulGhosh.

Here are messages from the console:
`9월 25, 2017

[2017-09-26 05:19] whipermr5 commented on #4917
@jhleefred How are you starting the dev server? Command line or IDE?

[2017-09-26 05:20] jhleefred commented on #4917
@whipermr5 I start by running it from Eclipse IDE.

[2017-09-26 05:22] whipermr5 commented on #8056
@g3chenyigmailcom Sure; just follow our [process](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md).

[2017-09-26 05:33] whipermr5 commented on #4917
@jhleefred You've followed all the [Eclipse setup instructions](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md#eclipse-ide) exactly?

[2017-09-26 05:55] jhleefred commented on #4917
@whipermr5, yes I followed them thoroughly and got to the point where it returned no error but just warnings. Will I need to start over from the scratch?

[2017-09-26 06:13] whipermr5 commented on #4917
Try:
1. `./gradlew resetEclipseDeps`
1. `Project` → `Properties` → `Java Build Path` → `Libraries` → Remove `Web App Libraries` → `OK`.
1. `Project` → `Clean`

[2017-09-26 08:02] #7910 closed

[2017-09-26 13:31] damithc commented on #7950
Another NPE for a different place.
[code]

[2017-09-26 13:42] #8025 closed

[2017-09-26 17:05] jhleefred commented on #4917
@whipermr5 It still give me the same error.

[2017-09-26 21:31] Shels1909 commented on #7943
Hi I would like to work on this. I think I have a possible alternative for using the html disabled attribute, but want to make sure first that it is in fact viable. The method of disabling the anchor tag follows a similar structure with an if statement: `<c:if test="${not actions.publishButton.actionAllowed || actions.privateSession}"> disabled</c:if>`

From what I've read, disabling an anchor tag

[2017-09-27 05:17] whipermr5 commented on #8054
@damithc Should I wait for #8037?

[2017-09-27 05:43] damithc commented on #8054
As that PR is already active, yes it is better a few more days to see if we can merge it first. In the meantime, do test the other new functionality thoroughly.

[2017-09-27 07:42] whipermr5 opened #8059 "InstructorStudentRecordsPageUiTest: improve stability"
The value of the class attribute varies and is dependent on timing of clicks as well as browser. A Chrome-specific workaround was added in #7700 but broken in #7989, prompting development of another fix in #8043. However, this has proven [unstable](https://travis-ci.org/TEAMMATES/teammates/builds/279849671). Too much effort has been spent trying to keep the HTML verification consistent across syst

[2017-09-27 08:04] #7878 closed

[2017-09-27 09:47] damithc commented on #8008
I've attached the processed photos. Need to resize though.

@LimeTheCoder please upload your photo soon. Otherwise we wont be able to include you in the page.

![sujeet](https://user-images.githubusercontent.com/1673303/30905401-42aeb246-a3a7-11e7-893b-dc154b0b033c.png)
![vamsi](https://user-images.githubusercontent.com/1673303/30905406-42ea9e78-a3a7-11e7-91ea-3dca89ce1891.png)
![amar](https://use

[2017-09-28 00:15] #6961 closed

[2017-09-28 13:16] wkurniawan07 commented on #7490
At the current stage, `ide-usage.md` is more accurate as `ide-setup.md`. Perhaps rightly so because it's described as `How to set up some IDEs for development` in the docs ToC.

I still think it's better that way because if the build/test/deploy routines are described there instead, devs need to move back and forth between two documents.

[2017-09-28 19:43] jungeunyoon commented on #7903
Could I take this issue please?

[2017-09-29 09:51] damithc opened #8061 "Home page: remove country list"
Current:
![image](https://user-images.githubusercontent.com/1673303/31010745-7e227af4-a53e-11e7-9d38-94e02dc15f99.png)

Suggested:

Reason: Our country list has grown a lot over the recent times and it is not viable to give a short representative list here.

[2017-09-29 12:36] fdigne opened #8062 "New contributor self intro Florian DIGNE"
Issue Title: New Contributor Self-Intro: [your real name]

Copy-and-paste the following template to the issue tracker and fill it in with relevant details:

- **Link to my app: http://4-18-dot-teammates-floriandigne.appspot.com
- **Link to my fork:** e.g. https://github.com/fdigne/teammates

**Screenshot of changes made (as seen on the UI)**

![capture d ecran 2017-09-29 a 14 30 20](https://user-i

[2017-09-29 12:40] fdigne commented on #8061
Hello,

Can I look after that ?
Thank you for response.

[2017-09-29 13:22] chowyb commented on #8061
Hi @fdigne, feel free to go ahead! Please keep our [development workflow](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md) in mind while working on the issue, and I look forward to your contribution to TEAMMATES! 😄

[2017-09-29 13:26] chowyb commented on #8062
Hi @fdigne,

Welcome to TEAMMATES! Feel free to work on a `d.FirstTimers` issue to start off, then move on to `d.Contributors` issues 😄

[2017-09-29 14:06] fdigne commented on #8061
Hello,

I've made the changes but I can't open the PR as it's mentioned in the process. Could you please help me to do so ?

[2017-09-29 15:26] fdigne commented on #8061
When I try to push on a new branch 8061-remove-country-list, I have this error message from eclipse :

![capture d ecran 2017-09-29 a 16 59 36](https://user-images.githubusercontent.com/25439995/31023143-3d8d38ba-a53b-11e7-82a6-103ea70a15db.png)

Is this normal ?

[2017-09-29 15:43] chowyb commented on #8061
@fdigne It appears you are trying to push to the TEAMMATES repository directly. However, as only core members have push permissions to this repository, you will have to push the changes to your own fork instead.

Since your current repository `teammates` is not recognised as a fork of our repository by GitHub, you'll have to push to a new branch on your `teammates-1` repository, and then open a PR

[2017-09-29 20:12] fdigne commented on #8061
Thank you for the information ...
Normally it's ok now.

[2017-09-30 01:11] damithc commented on #7950
Getting more of NPE from `generateUserCourseRegisterEmail`

[2017-09-30 04:18] rajatrj opened #8064 "student's sign up . so that other students can also check for available courses"

[2017-09-30 04:54] whipermr5 commented on #7950
Related to #7902. Still investigating.

[2017-09-30 06:25] whipermr5 commented on #8064
Hello @rajatrj, could you elaborate more?

[2017-09-30 06:46] whipermr5 commented on #4917
@jhleefred Does your `gradle.properties` file have the `org.gradle.java.home` set to the path of a JDK 7 directory? Is your JRE system library (under Java Build Path) and compiler compliance level (under Java Compiler) set to Java 7?

[2017-09-30 18:59] #8061 closed

[2017-09-30 19:02] whipermr5 commented on #7099
Closed in #8063.

[2017-09-30 19:02] #7099 closed

[2017-10-01 02:40] jnisky commented on #8011
This task cancelled error is a result of a timeout due to the inefficiency of the delete all students functionality right?

[2017-10-01 02:55] jhleefred commented on #4917
I just reinstalled JDK 1.7.0_80 completely and went through the configurations on Eclipse, and it is still giving me "Cannot send Ajax Request!" with pretty much the same Console message.

Below are my settings related to JDK.
![image](https://user-images.githubusercontent.com/22018780/31051243-f7f055aa-a628-11e7-8ba7-ef74843c5fe2.png)
![image](https://user-images.githubusercontent.com/22018780/31

[2017-10-01 03:46] jnisky commented on #8011
Nvm. I've dived down the rabbit hole here for an hour and I see that this functionality might need to be handled outside the user request through a push task queue. This is occurring because GAE has a built in 30 second timeout on user requests. I see @whipermr5  has self assigned this issue. If it's ok with you John, I am going to see if I can implement a push queue. I'll let you know if I come u

[2017-10-01 04:05] damithc commented on #8011
@jnisky it is less risky if you attempt issues labelled as `d.Contributors` because they are the ones we have confirmed to be within the reach of a contributor who is relatively new to the codebase. All issues without `d.*` labels are potential rabbit holes. :-p

[2017-10-01 04:19] rajatrj commented on #8064
i am emphasizing on sign up of general user so that students from various universities could register themselves with teammates and they could provide their teacher's  email and feedback and it could be directly sent to teacher by anonymous means .. (issues of big data may arise )

[2017-10-01 04:40] damithc commented on #8064
Interesting feature suggestion @rajatrj
But it's not in the scope of our product vision. Thanks for the suggestion anyway. 👍

[2017-10-01 04:40] #8064 closed

[2017-10-01 05:49] dipzzzz opened #8065 "issue regarding IDE"
Can someone please tell me which IDE do TEAMMATES deal with?Is it any among netbeans or eclipse?

[2017-10-01 05:58] dipzzzz opened #8066 "issue regarding setting up a development environment"
Is there any video to see"HOW TO SET UP TEAMMATES DEVELOPMENT ENVIRONMENT"so that a newbie  can know whether he/she has set up a right teammates development environment?

[2017-10-01 07:48] whipermr5 commented on #4917
You've done these too, right?

Try going into `src/main/webapp/WEB-INF` and deleting the `classes` folder.

[2017-10-01 07:50] whipermr5 commented on #8065
https://github.com/TEAMMATES/teammates/tree/master/docs

[2017-10-01 07:50] #8065 closed

[2017-10-01 07:51] whipermr5 commented on #8066
There is no video, but there are clear steps to follow in our docs. Do take some time to read them.
https://github.com/TEAMMATES/teammates/tree/master/docs

[2017-10-01 09:52] zandraaperjesi commented on #8022
Hi, first timer here. Can I claim this issue?

[2017-10-01 10:05] dipzzzz opened #8067 "issues inquiry"
how i solve issues mentioned as d.firsttimers?can i solve it by using comment option or is there another way?

[2017-10-01 11:20] LiHaoTan commented on #8022
@zandraaperjesi sure please go ahead.

You are right that mentioning full support will become useless, it should be easy to infer that it should be removed as well. 😄

[2017-10-01 12:02] dipzzzz commented on #8056
can i take this issue?

[2017-10-01 13:05] zandraaperjesi commented on #8022
@LiHaoTan right, I removed the Eclipse status as well. :)

also this migth be off topic, but when following the projects process.md, at Step 3/ 2, about syncing with the main repo, when using `git checkout -b 3942-remove-unnecessary-println` for switching back to your branch git gives an error, that the branch already exists, isn't it supposed to be just git checkout branch-name without the -b?

[2017-10-01 13:19] damithc commented on #3918
I wasn't aware of this behavior. Is that correct? I thought it searches comments on responses only, not the responses themselves.

[2017-10-01 14:12] dipzzzz opened #8069 "inquiry about membership"
my name is not yet included in the "members"list of Teammates.Please someone add me to the "members"list of TEAMMATES so that i can contribute to TEAMMATES.My full name is DEEPIKA KAMLESH TIWARI.Can I contribute to TEAMMATES without my name in members list?will it be legal to do so?

[2017-10-01 14:34] jnisky commented on #8011
Ok. Do you think I'm on the right path anyways?
This is the line of code doing the actual deleting: ofy().delete().keys(getCourseStudentForEmailQuery(courseId, email).keys()).now();
found on line 440 in StudentsDb.java.
and the solution is to implement a task queue with a worker class like this example:
public class Worker extends HttpServlet {

  private static final Logger log = Logger.getLogger

[2017-10-01 14:38] jnisky commented on #8011
I got to line 440 of StudentsDb by chasing the deleteallstudents methods.

[2017-10-01 14:52] thenaesh commented on #8069
Hi Deepika, the members group is reserved for regular contributors, so that it is easy to assign them issues. You don't need to be part of the group to contribute. Feel free to pick one of the issues labelled `d.FirstTimers` and have a go!

[2017-10-01 16:37] wkurniawan07 commented on #8022
@zandraaperjesi you're exactly right on that, good catch!

[2017-10-02 03:46] dipzzzz commented on #8069
thank you @thenaesh

[2017-10-02 07:30] dipzzzz opened #8072 "setting remote name"
can someone please explain me how to set a remote name to main the main repo with example?

[2017-10-02 07:34] whipermr5 commented on #8022
@zandraaperjesi Thanks! Could you help us open a new issue about fixing the wrong command?

[2017-10-02 07:43] dipzzzz opened #8073 "git issue"
<!--
Before opening a new issue, please check that no existing issue covers the same topic.

Use the following templates for opening issues, where applicable:
1. For bug reports: https://github.com/TEAMMATES/teammates/blob/master/.github/template-bugReport.md
2. For feature/enhancement requests: https://github.com/TEAMMATES/teammates/blob/master/.github/template-featureRequest.md
3. For new contri

[2017-10-02 07:45] #8073 closed

[2017-10-02 08:13] dipzzzz opened #8075 "issue"
is there any difference between git and souce tree?if yes then what?

[2017-10-02 08:18] wkurniawan07 commented on #8072
@dipzzzz, I kindly request you to learn some Git and GitHub basics first before contributing here, and to do your homework and proactively find the answers to your own questions in Google, StackOverflow, or even in the documentations of this project. All the questions you asked are far too commonly asked and the most straightforward of Google search will give you the answer. Figuring out things li

[2017-10-02 08:18] #8072 closed

[2017-10-02 08:18] #8069 closed

[2017-10-02 08:19] wkurniawan07 commented on #8075
See #8072.

[2017-10-02 08:19] #8075 closed

[2017-10-02 08:21] wkurniawan07 commented on #8067
See #8072.

[2017-10-02 08:21] #8067 closed

[2017-10-02 10:01] dipzzzz commented on #7818
@damithc can i take this issue?

[2017-10-02 10:17] loisgh commented on #7903
I'll be happy to for this and follow contribution guidlines.

[2017-10-02 11:16] ashu-beckham commented on #8056
assign it to me.

[2017-10-02 11:20] whipermr5 commented on #8056
@ashu-beckham There's already an ongoing PR for this; you may want to pick another issue :)

[2017-10-02 17:18] arjunsuri commented on #7903
is this issue still open?

[2017-10-02 17:59] LiHaoTan commented on #7903
@arjunsuri yes but it seems that you have already completed a `d.FirstTimers` issue so you should not be doing more than one of these.

[2017-10-02 19:35] zandraaperjesi commented on #8022
@whipermr5 I would love to help, however I don't know how to. Could you point me somewhere where I could read about how to open an issue properly? :)

[2017-10-02 19:53] zandraaperjesi opened #8076 "process.md: fix git command for switching branch in step 3 / 2"
**Description of feature/enhancement**
In process.md **Step 3: Fix the issue** / 2. the instruction for switching branch tells you to type
`git checkout -b 3942-remove-unnecessary-println`
however it should be
`git checkout 3942-remove-unnecessary-println`

**Justification**
This typo could be quite confusing for someone who is not familiar with git. Fixing it would make it easier to follow the pr

[2017-10-02 20:24] arjunsuri commented on #7754
is this issue still available?

[2017-10-03 01:42] #8022 closed

[2017-10-03 02:39] whipermr5 commented on #8011
@jnisky Thanks for your suggestion! However, I believe the better way would be to queue deletion of multiple entities and delete them all at once, rather than calling `deleteStudent` multiple times (whether in a task or within the user request).

[2017-10-03 02:45] eliotw commented on #8076
I'll do this.

[2017-10-03 02:57] #8051 closed

[2017-10-03 02:58] #8066 closed

[2017-10-03 03:05] damithc commented on #8008
* Move Hong Jin, Josephine, Jun Hao, and Thyagesh to 'past members' as they haven't been active that much in recent times.
* Wilson --> Project Mentor
* Yuan Bin --> Project Lead
* John, Thenaesh, Yi Min --> Area Lead
* Li Hao --> Senior Developer
* Amar Prakash Pandaey, Hirday Gupta, Mayank Harsani, Sujeet, Vamsi Sangam,   --> major contributor
* Yong Jie, Lakmal, Serhii, Tarun --> move to past m

[2017-10-03 03:24] #8009 closed

[2017-10-03 03:31] wkurniawan07 commented on #8054
#8037 is merged.

[2017-10-03 06:29] #8076 closed

[2017-10-03 08:57] whipermr5 commented on #7796
Have there been any recurrences of this?

[2017-10-03 10:39] damithc commented on #7796
Happened once more (4 days ago) since Jul 19.

[2017-10-03 12:39] LiHaoTan commented on #7796
I wonder if this error is a caching problem, I tried checking and it seems that since IE6 `max-age` is working. (And TEAMMATES only support IE >= 8).

https://www.mnot.net/blog/2006/05/11/browser_caching

Can't find a better source than a blog but I suppose MDN Web Docs can be considered an accurate source. They also mentioned that IE supports the header.
https://developer.mozilla.org/en-US/docs/W

[2017-10-03 15:25] damithc opened #8084 "Fix error in live server: Account found to be already existing and not existing simultaneously"
v5.111
I've been getting a few of these in the past few days
[code]

[2017-10-03 20:37] LimeTheCoder commented on #8008
Guys, really sorry for the delay here. I'll deliver photo within next few days.

[2017-10-04 04:23] damithc opened #8085 "Student: submit responses: give a clearer indication of submission failure"
There are several cases of students complaining that their submission was never recorded but there was no indication of any problem.
Suggested:
1. Determine what's the current behavior if the submission failed
2. If the current behavior is not clear enough, tweak it to give a better indication of failure.

[2017-10-04 05:36] jhleefred commented on #4917
After deleting the `classes` folder, I started getting the error below:
![image](https://user-images.githubusercontent.com/22018780/31161246-533e7800-a89b-11e7-90ef-117609b82118.png)
I rebuilt the project using `./gradlew setupEclipse` and it create 'classes' folder, and it fixed the error above.
However, it did not fix the Ajax request error.
I made sure checkpoint you suggested are correct:
![im

[2017-10-04 15:07] VamsiSangam opened #8087 "Rank recipients: remove unnecessary feedback paths"
For Rank (recipients) question, it doesn't make sense to have feedback paths where the recipient is `Self` or `None`. Remove/disable these feedback paths for rank recipients.

[2017-10-04 21:30] uxxSam commented on #8085
Hi, I would like to take a look into this issue.

[2017-10-05 09:05] arjunsuri commented on #7724
is this issue still open?

[2017-10-05 09:11] arjunsuri commented on #7903
So, which issue I should take considering I am still a newbie in open source development.

[2017-10-05 09:21] arjunsuri commented on #7225
@HirdayGupta are you still working on it? or I should take this.

[2017-10-05 13:10] LiHaoTan commented on #7724
@arjunsuri Please don't go around everywhere asking if the first timer issues are still open.  Whether the issues are available are no longer relevant to you. Please read the `README` if you haven't done so.

[2017-10-05 13:13] LiHaoTan commented on #7903
As mentioned in https://github.com/TEAMMATES/teammates/issues/7724#issuecomment-334459796, please go through the `README` and if you still have any questions you can post it on the issue tracker. However, please don't randomly jump into asking questions without bothering to understand the process.

[2017-10-05 13:21] LiHaoTan commented on #7754
@arjunsuri yes this issue is still available but not to you. Please see: https://github.com/TEAMMATES/teammates/issues/7724#issuecomment-334459796

[2017-10-05 15:04] whipermr5 commented on #7903
Hey @arjunsuri, try taking a look at issues with the label `d.Contributors` :)

[2017-10-05 17:07] dipzzzz commented on #7352
@damithc can i take this issue?

[2017-10-06 04:22] whipermr5 commented on #7796
It may not be a caching issue at all; I'm just not sure what might be the cause of the total JavaScript failure the user experienced: https://github.com/TEAMMATES/teammates/issues/7796#issuecomment-316331643

[2017-10-06 06:05] SiddharathGupta commented on #8056
@whipermr5 Can you please suggest me a first-timer issue? I am interested in working on this issue as well.

[2017-10-06 06:11] whipermr5 commented on #8056
@SiddharathGupta #7754 is easy and yet quite an important fix :)

[2017-10-06 06:15] whipermr5 commented on #7352
@dipzzzz Feel free to take any of the first timer issues you commented on that have no currently open PRs (but you may only choose one).

[2017-10-06 06:27] dipzzzz commented on #7352
OK.Thank you.

On 6 Oct 2017 11:45 a.m., "John Yong" <notifications@github.com> wrote:

[2017-10-07 05:51] dipzzzz commented on #8056
can someone please help me in solving this issue?How do I solve this issue?

[2017-10-07 06:00] dipzzzz opened #8089 "issue regarding solving issues"
how do i know whether I have solved any d.FirstTimers issue?can someone please tell me?

[2017-10-07 06:04] dipzzzz commented on #8056
@damithc sir can you please help me in solving this issue.I am got getting this.I am bit afraid to make changes because if something goes wrong with me it will affect our project and i dont want this to happen.

[2017-10-07 06:21] dipzzzz commented on #7424
@damithc sir i think this issue should be closed because it fully right i guess.Is this issue still open?

[2017-10-07 07:21] SiddharathGupta commented on #8056
Alright, I will do this.

[2017-10-07 13:18] #8089 closed

[2017-10-07 17:46] VamsiSangam commented on #8087
Working on this.

[2017-10-08 09:36] whipermr5 commented on #4917
@jhleefred Does it work if you start the dev server from the command line?

[2017-10-08 14:52] #7352 closed

[2017-10-08 14:55] #8062 closed

[2017-10-08 15:22] #8056 closed

[2017-10-08 16:06] whipermr5 commented on #7931
Effort tracker, to be updated as each PR is merged:

| PR | Effort |
| - | - |
| #7969 | 2 |

[2017-10-08 19:57] shaharyar-shamshi commented on #7903
Is this still open if not then suggest another issue which I can solve as I am new to this organisation

[2017-10-09 02:27] LiHaoTan commented on #7903
@shaharyar-shamshi yes this issue is still open :)

[2017-10-09 03:43] #8055 closed

[2017-10-09 04:36] whipermr5 commented on #8054
Release 263

Code Contributions from: @AlexM9200, @amarlearning, @Andrew-Lev, @AriNubar, @uxxSam, @BrianCoveney, @eliotw, @fdigne, @gaurav122197, @HirdayGupta, @SandhuJai, @whipermr5, @jnisky, @Shels1909, @Mynk96, @stanislous, @sowmyadvn, @sujeet14108, @LimeTheCoder, @VamsiSangam, @wkurniawan07, @g3chenyigmailcom, @zandraaperjesi
Review Contributions from: @amarlearning, @damithc, @whipermr5, @LiH

[2017-10-09 04:44] whipermr5 commented on #8054
@damithc Also, there are two data migration scripts from V5.109 to be run: #7733 and #7679.

[2017-10-10 06:01] #7754 closed

[2017-10-10 08:43] whipermr5 opened #8093 "Migrate FeedbackSession time fields to UTC"
Part of #84

More details: second point of https://github.com/TEAMMATES/teammates/issues/84#issuecomment-316070519

[2017-10-13 03:13] #8059 closed

[2017-10-13 22:23] uxxSam commented on #8085
UPDATE:
After a week of investigation, I was not able to reproduce the situation described above. If the Internet went down while the student is trying to submit a response, he will see a page that says cannot connect to the server instead seeing no indication of the problem. I'm wondering if there is more detail about how this issue occurred from the students.

Currently we do not have any indica

[2017-10-14 00:54] damithc commented on #8085
Thanks for investigating the issue @uxxSam
It is possible that students closed the browser after a few seconds without waiting for a failure/success message.

You can try this: load submission page. shutdown server. try to submit.

The other possibility is that the server is overloaded at the time of the submission and the connection times out. But I'm not sure how to reproduce it.

Perhaps we can

[2017-10-14 00:57] damithc opened #8097 "Instructor results: fix unreliable respondents list"
reporting at v5.110 but was present even before

When an instructor view the results page, sometimes the 'Unsbumitted' list at the bottom contains students that have actually submitted. There were several cases of this and I was able to fix by clicking on the 'submit responses' button (which takes me to the submission page of the student where the form is already filled with existing values) and s

[2017-10-14 04:27] damithc opened #8098 "AboutUs page: add back numbering"
v5.112
Numbering seems to have disappeared.
Actual:
![image](https://user-images.githubusercontent.com/1673303/31572521-e3c66990-b0da-11e7-92a3-786461121b4a.png)
Expected:
![image](https://user-images.githubusercontent.com/1673303/31572527-fb56d8ba-b0da-11e7-8e28-63d7240ef473.png)

[2017-10-14 04:32] LiHaoTan commented on #7157
@damithc sorry for the delay but I haven't got around to finish the things I wanted in the PR since I upgraded the scope. Do you still need this? I can resolve this issue independently (albeit it may not be ideal) and do a follow-up.

[2017-10-14 04:34] damithc commented on #7157
I guess no need. I can run the full test suite against the live server.

[2017-10-14 04:34] #7157 closed

[2017-10-14 05:39] wkurniawan07 commented on #8098
I'm pretty sure they have disappeared as far back as when the front pages adopts a responsive design, #6488.

[2017-10-14 05:41] wkurniawan07 commented on #8098
Anyway, looks like this is good time to realize #6731. Otherwise anytime we want to change the design of this page, it has to be duplicated 200+ times.

Cue @whipermr5 @thenaesh.

[2017-10-14 05:51] damithc commented on #8098
I checked. It is fine even in the current live version v5.111. Broke in the v5.112 (yet to be deployed)

[2017-10-14 07:49] wkurniawan07 opened #8099 "Convert *.es6 back to *.js"
Previously, it was necessary as the `*.es6` files were placed in the same directory as the transpiled `*.js` files. Now that the pre-transpiled files are placed somewhere, this is no longer necessary.
Also, `*.es6` is not a standard practice for naming JS files and they don't benefit from syntax highlighting from IDEs and text editors.

[2017-10-14 09:56] LiHaoTan commented on #8099
@wkurniawan07 IntelliJ does recognize `.es6` as an extension but `.js` is definitely the norm.

[2017-10-14 17:42] goodengrish opened #8101 "New Contributor Self-Intro: Adam Stefaniak"
Hello,

I am Adam Stefaniak, a student at the Faculty of Sciences Jean Perrin in Lens (Université d'Artois: http://www.univ-artois.fr/), studying computer science. I am at the moment at my 4th year (one year remaining).

I am writing this because three of my colleagues and myself are working under the tutelage of Daniel LeBerre, who is a professor and searcher, respectively at the Faculty of Scien

[2017-10-14 18:13] wkurniawan07 commented on #8101
Hi @goodengrish, welcome to TEAMMATES!

This is a rather interesting request and probably the first of its kind here, but I'll try my best to accommodate.

For starter, allow me to clarify one thing first. When you asked for "timeline", what kind of details are you looking for? Is it the user-facing features (e.g. new features/improvements added from time to time), the developer-facing features (e

[2017-10-14 19:00] goodengrish commented on #8101
Hello @wkurniawan07, thank you :)

Actually we need to know the main technical changes (developer-facing features), the main functional changes(user-facing features) and the milestones of the project (for example, the big features which added great changes in the use of TEAMMATES).

Is that possible for you to provide me an answer from the start of the project ?

Thank you in advance for your answ

[2017-10-15 01:43] damithc commented on #8101
@goodengrish you may want to clarify with your prof exactly how you are supposed to answer these questions. Simply forwarding these questions to us doesn't sound like a good way to learn. May be you are supposed to find answers by studying the project history and available documentation? Otherwise it looks a bit like students asking others to do their homework :-p

[2017-10-15 10:32] goodengrish commented on #8101
@damithc This is our third week studying the project, and yes we are studying TEAMMATES by ourselves. I asked if someone could help me with this question because I am struggling finding the milestones of the project.
For the moment this is the only question we have issues to answer.

For you to clarify, I attached the file with all the questions.
[skeleton.txt](https://github.com/TEAMMATES/teammat

[2017-10-15 14:01] #7621 closed

[2017-10-15 17:08] AbhayGoyal commented on #7279
I guess the issue if fixed right?

[2017-10-15 17:10] AbhayGoyal commented on #6906
Hey I am a first timer. May i know what is the issue that needs to be addressed.

[2017-10-15 21:16] ncbaihly opened #8103 "New contributor self intro Nathan Baihly"
Here is the link to my deployed app: https://teammates-nathan.appspot.com/

Link to my fork: https://github.com/TEAMMATES/teammates (see branch tinker for changes)

I made some styling changes to add a little contrast to the login buttons to hopefully make them stand out a little more.

![teammates-tinker](https://user-images.githubusercontent.com/3604022/31589220-0c5d0890-b1cc-11e7-915f-d57e09ade

[2017-10-15 23:51] whipermr5 commented on #8103
Hey Nathan, welcome to TEAMMATES! Good job setting everything up correctly! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-10-15 23:53] whipermr5 commented on #7279
@AbhayGoyal The issue is still open.

[2017-10-15 23:54] whipermr5 commented on #6906
@AbhayGoyal You may want to start with a `d.FirstTimers` issue :)

[2017-10-16 00:21] desponda commented on #7279
Will try to pick up this one as a first timer

[2017-10-16 00:59] damithc commented on #8008
Yes, we can go ahead with the update.
If there is no photo, we can add @LimeTheCoder into a section that already have others without photo. e.g. `Past committers`.
I don't want to use placeholders because it gives a bad impression that we are unable to get photos from our developers.

[2017-10-16 01:16] damithc commented on #8101
Understood @goodengrish
As for milestones, we do not have concrete deadlines. We reach milestones as and when we can, based on available resources. Some of our current focus areas are:
* improving performance, fault tolerance, UX
* migrating to Java 8, keeping up with updates to the underlying Google App Engine platform,
* adding LTI support

[2017-10-16 01:29] ncbaihly commented on #8098
I took a brief look at this as I was looking for a first time PR. @wkurniawan07 might have this handled but, the issue is the CSS child selector for the ordered table class.

The current CSS is:

`.ordered-table {
    counter-reset: rownumber;
}

.ordered-table > tr:not(.skip) {
    counter-increment: rownumber;
}

.ordered-table > tr > td:first-child::before {
    content: counter(rownumber) '.';

[2017-10-16 02:12] wkurniawan07 commented on #8098
@ncbaihly good job in troubleshooting! However, I'm currently preparing something that may invalidate this issue, so you may want to pick another `d.FirstTimers`-labelled issue to work on.

[2017-10-16 02:19] wkurniawan07 commented on #8008
Not necessarily, at least for me. As evident right now, we have tried albeit with no success. Some people may also want to stay unidentifiable by face and we have to respect such request if it ever happens (although I don't think @LimeTheCoder here is one such case). The point is that I don't believe placeholders correlate to "bad impressions".
Also, "past committers don't have photo" is just a co

[2017-10-16 02:48] ncbaihly commented on #7165
Is @stellargo still working on this or could I pick it up for a first time PR?

[2017-10-16 04:20] damithc opened #8105 "Testing using Firefox: fail to load URL sometimes"
When running tests using Firefox, I frequently end up in a state like this.

![image](https://user-images.githubusercontent.com/1673303/31595129-18103b4e-b26c-11e7-93b1-6499bb8062d0.png)

It looks like a timing issue. Sometimes the same test can proceed to load the URL correctly.

I tried using FF45.0 and FF46.01 with similar problems. I'm using Windows 10. In the end I ended up using Chrome.

[2017-10-16 04:22] damithc opened #8106 "StudentCourseJoinConfirmationPageUiTest: fix Google login"
I had to try more than 20 times (alternating between Firefox and Chorme) to get this test to pass once against the live server.
v5.112

[2017-10-16 04:36] damithc commented on #8008
Good point: some developers may not want their photo on the page.
I'd really rather not use the egghead image in the page though, as it ruins the page and gives it an 'incomplete' feeling. If at all, we can list those people at the bottom of the respective list, without a dummy photo, so that it blends in and isn't the first thing to catch attention of a casual viewer.

[2017-10-16 05:22] whipermr5 commented on #7950
Due to the `Account` entity not existing yet when the user clicks on join course. The current mechanism calls the database for the `Account` entity and reads information from it to generate the email. However, all the information needed is already available in `(Instructor|Student)CourseJoinAuthenticatedAction`, and we simply need to pass the info (user's name, Google ID, email, and whether the us

[2017-10-16 06:21] damithc commented on #7679
Done

[2017-10-16 06:21] #7679 closed

[2017-10-16 07:32] damithc commented on #7733
I tried running the script. It timed out after a while because the whole thing takes too long.
Then I running it for a part of data only. Found out that out of 7000+ comments, only 3 have wrong date format. All 3 them failed to migrate because of NullPointerException, caused by 'cannot locate feedback response'. Perhaps we just leave those three alone?. Or is there any way to delete them?

[2017-10-16 14:24] goodengrish commented on #8101
Okay, thank you for answer.
This will be useful for our group :)

[2017-10-16 14:57] ncbaihly commented on #7350
It seems that the previous PR for this issue got closed and wasn't accepted. I'm going to start working on this as my first time PR.

[2017-10-16 15:42] ncbaihly commented on #7350
So I I made the changes(see screenshot), however they break some of the UI tests because the page doesn't match what the tests are expecting.

I'm going to go ahead and change the test files to match the changes. If everything works out I'll make a pull request soon.

[2017-10-16 23:48] wkurniawan07 commented on #7903
@LiHaoTan if this issue is pretty much about removing IE8 support, you can extend it a bit to include removing [HTML5 shim and respond.js](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/WEB-INF/tags/page.tag#L22-L25). What do you think?

[2017-10-17 05:25] damithc opened #8108 "Instructor: enroll students: leading spaces in email should be trimmed internally"
v5.112:
A user reported that enrollment fails if there is a leading space in front of the email address.
![image](https://user-images.githubusercontent.com/1673303/31648101-88be6b54-b33e-11e7-868f-337ff4fb82fa.png)

[2017-10-17 06:07] wkurniawan07 commented on #8108
#7457

[2017-10-17 06:31] #7279 closed

[2017-10-17 08:01] whipermr5 commented on #7733
I'm guessing the NPE occurs inside the `.build()` step of https://github.com/TEAMMATES/teammates/blob/a446786d53aa235b020d6dfdea1ca64562a595d6/src/client/java/teammates/client/scripts/DataMigrationForFeedbackResponseCommentSearchDocument.java#L124
?

[2017-10-17 08:35] whipermr5 commented on #8108
`C2` `A0` indeed corresponds to the non-breaking space ([link](https://en.wikipedia.org/wiki/Non-breaking_space)). Relevant part of the code:
https://github.com/TEAMMATES/teammates/blob/a446786d53aa235b020d6dfdea1ca64562a595d6/src/main/java/teammates/common/datatransfer/StudentAttributesFactory.java#L96-L109

The 5 fields (team, name, email, comment, section) depend on `StringHelper.removeExtraSpa

[2017-10-17 08:40] damithc commented on #7733
Here's an example:
[code]

[2017-10-17 08:46] damithc commented on #8108
I suspect leading/trailing nbsp is guaranteed to be an unintended error. What do you think?

[2017-10-17 09:12] whipermr5 commented on #7733
Yes; it's possible to delete them. The simplest way would be:
[code]

[2017-10-17 11:48] LiHaoTan commented on #8108
I don't know if we should handle all types of whitespaces but if we do I would prefer we using something like from Guava to make sure we are handling the whitespaces correctly.

[CharMatcher](http://google.github.io/guava/releases/snapshot-jre/api/docs/com/google/common/base/CharMatcher.html)

Also, [Comparison of several definitions of "whitespace"](https://goo.gl/Y6SLWx), extracted from Guava do

[2017-10-17 11:52] wkurniawan07 commented on #8108
@LiHaoTan your suggestion is precisely why I suggested `StringHelper` to be a facade class.

[2017-10-18 05:24] #7950 closed

[2017-10-18 06:04] LiHaoTan commented on #7903
@wkurniawan07 No I wasn't removing IE8 support. Though while I would love to, I am not sure what the proportion of the users on TEAMMATES is using Internet Explorer as well.

The global overall usage of IE8 usage is still pretty high, but I'm guessing it may be due to enterprises using it. I'm not sure if that means most TEAMMATES users use IE or not.

Though I suppose if we know the proportion of

[2017-10-18 06:28] wkurniawan07 commented on #7903
@LiHaoTan we have formally dropped support for IE8 and below since long ago (there is a JS function to check minimum browser version somewhere, just find it).

[2017-10-18 07:10] whipermr5 commented on #8106
Was the failure due to the same NPE as in https://github.com/TEAMMATES/teammates/issues/7950#issuecomment-332198768?

[2017-10-18 07:25] whipermr5 commented on #8097
Due to a race condition in the way the list of respondents to a feedback session is updated. If more than one submission happens concurrently, only one will successfully update the list of respondents, while the other(s) will get overwritten.

[2017-10-18 07:39] LiHaoTan commented on #7903
@wkurniawan07 ah my apologies, I found it, wasn't aware that TEAMMATES wasn't supposed to be supporting since the start of the history altogether (since 2012).

But what's even weirder is that that check is only done on the homepage, and it doesn't even work. Somehow I thought I saw it before too but forgot about it 😅

What is supposed to be the correct behavior here? This also means that we have

[2017-10-18 07:39] damithc commented on #8106
No, it was browser automation issues. Not clicking the button, not entering the password etc.

[2017-10-18 08:41] damithc commented on #7733
Ok, deleted all three invalid responses.

[2017-10-18 08:41] #7733 closed

[2017-10-18 08:41] damithc commented on #8054
Deployed

[2017-10-18 08:41] #8054 closed

[2017-10-18 23:54] wkurniawan07 opened #8111 "Release V6.0.0"
Scheduled for ~~October 29~~ ~~November 5~~ November 12, 2017, 11.59pm SGT.

This release will officially bring about the usages of Java 8 and Google Cloud SDK for development.

[2017-10-19 00:53] wkurniawan07 commented on #7903
Browser support has not been touched for many years now (it was never a priority), and I have to agree that the way it is done now is problematic, if even working in the first place.
But given that we actually have a stand that only IE9 and above are supported, the correct behavior should be no `http-equiv` meta (i.e. this issue), no [HTML5 shim and respond.js](https://github.com/TEAMMATES/teammat

[2017-10-19 02:30] damithc opened #8112 "Update user map for Sep 2017"
Similar to #7424 etc.

New entries to consider:

Australia | Swinburne University of Technology
-- | --
Australia | University of Canberra
Belgium | UHasselt
Brazil | Uniritter
Canada | Cegep Heritage
Canada | Collège Ahuntsic
Canada | École de Technologie Supérieure
Canada | SAIT
Canada | Wilfrid Laurier University
Canada | Sheridan College
China | Qingdao No. 1 International School of Shandong P

[2017-10-19 05:45] whipermr5 opened #8113 "build.gradle: fix misleading message when dependencies are not found"
Discovered while working on #8109. Before adding the required dependency, the build fails and the [log](https://travis-ci.org/TEAMMATES/teammates/builds/289390961) shows the message `Detected TestNG configuration failure - check src/test/testng-ci.xml`. However, the failure is due to a missing dependency and not a problem with the config file (as was the original intention of #6359). It turns out

[2017-10-19 16:48] #8113 closed

[2017-10-20 09:39] #8099 closed

[2017-10-20 13:30] adiparab14 commented on #8112
Can I pick this up?

[2017-10-20 14:26] ncbaihly commented on #7350
So I'm still working on fixing the UI tests, one issue I've run up against is that even though I checked the HTML files that are being compared with the pages from my local instance and amended them to match the instruction changes, I'm still failing tests.

The reason seems to be an extra newline, but when I check the corresponding HTML file that's being compared with what the site displays, ther

[2017-10-20 14:50] ncbaihly commented on #7350
@LiHaoTan Oh I am not, I must have missed that when I was reading the starter's guide. That sounds like it well help with my issue, Thanks!

[2017-10-20 14:52] LiHaoTan commented on #7350
@ncbaihly I just went to revisit the documentation and I think we weren't very clear about when to utilize GodMode. If you have any suggestions on how to improve the documentation do let us know :)

[2017-10-20 14:58] ncbaihly commented on #7350
@LiHaoTan I went back and took a look, maybe this would be more relevant posted somewhere else, but I think it may be a good idea to add a section about GodMode to the Development Workflow(process.md) document, which is what I've used a lot in referencing to try and make sure I'm following the correct process.

Maybe add a little bit about it and a link to its documentation page in Step 3, subpart

[2017-10-20 19:34] ncbaihly opened #8115 "Dev docs: mention when to use GodMode"
Currently for a new contributor approaching this project, there is no mention about why someone would want to use [GodMode](https://github.com/TEAMMATES/teammates/blob/master/docs/godmode.md) or how to use it in the Development Workflow documentation or other introductory documentation.

The one mention I could find was in [Development Guidelines Page](https://github.com/TEAMMATES/teammates/blob/m

[2017-10-21 02:13] LiHaoTan commented on #7350
@ncbaihly Thanks a lot for your feedback and I see that you have created an issue to address this. Many thanks!

[2017-10-21 03:29] whipermr5 commented on #8112
@adiparab14 Sure!

[2017-10-21 06:04] adiparab14 commented on #8112
Ok. I am picking this up.

[2017-10-23 15:37] DimitarGadzhev opened #8118 "Improve error.png"
**Description of feature/enhancement**
Improve the image "error.png"

**Justification**
Benefits for users with more comfort view.

[2017-10-24 02:35] damithc opened #8120 "Investigating the reliability of feedback submission in V7"
Seems there is a regular stream of failures, possibly when many students try to submit at the same time. Some students even complaining that TEAMMATES wiped out what they submitted.
I've also noticed that this action takes far too long to complete, even at best of times.
This is one area we need to improve as our userbase increases.

[2017-10-24 03:21] #7903 closed

[2017-10-24 08:39] SELVAKUMAR-S commented on #7224
hi @damithc can i get insight on this ? please help me out. or this issue is no more a priority

[2017-10-24 23:31] damithc commented on #8120
sometimes students say some of the responses were wiped out. At other times all responses are wiped out. Not sure if it is a case of responses not being saved or overwritten by empty responses.

[2017-10-25 09:06] chowyb commented on #8118
Needs more details.

What exactly is meant by "improve", and how do you define a "more comfort view"?

[2017-10-25 10:49] ibodi opened #8122 "New contributor introduction"
Link to my fork: https://github.com/ibodi/teammates

Hello!
My name is Bohdan Shcherbak. I am a student of the University of Wroclaw. I want to gain precious experience of working on open source project. I'd like to be a backend developer and write in java.
I don't know where to get a link to my app and what that and  "**Link to my app:** e.g. https://teammates-username.appspot.com" means. I haven

[2017-10-25 11:22] ibodi opened #8123 "Could not determine java version from '9.0.1'."
Operating System: macOS High Sierra
JDK Version: 9.0.1

When I was trying to follow the instructions here https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md, I faced some problems:
1) Why should I install JDK 1.7? I have the latest java version installed
<img width="438" alt="screen shot 2017-10-25 at 13 03 01" src="https://user-images.githubusercontent.com/19334520/31995499-e34

[2017-10-25 12:37] whipermr5 commented on #8123
The Google App Engine Standard runtime we're using only supports Java 7. The GAE Java 8 runtime only just became generally available a month ago ([link](https://cloudplatform.googleblog.com/2017/09/Java-8-on-App-Engine-Standard-environment-is-now-generally-available.html)), and we're in the process of [migrating](https://github.com/TEAMMATES/teammates/projects/2).

You didn't add the remote name `

[2017-10-25 12:40] whipermr5 commented on #8122
Hey Bohdan, welcome to TEAMMATES! Do follow phases B and C of the [orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md#phase-b-set-up-locally). You'll understand where to get the link to your app after deploying to a staging server. After that, you can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-10-26 03:29] whipermr5 opened #8124 "Const.java, InstructorSampleData.json: fix invalid date format"
Change all instances of `00:00 AM` to `12:00 AM`. See https://github.com/TEAMMATES/teammates/pull/8094#discussion_r147037350.

[2017-10-26 05:00] shaharyar-shamshi commented on #8098
Sir I want to give suggestion to solve this issue . If we store the user info (making separate class having the instances of user name and email id) and iterate through it using JSP code then number can be added easily without so much change and also making About us page source code compact

[2017-10-26 11:44] AnnaGMiguel commented on #8124
Hi @whipermr5 I am new in this project, can I pick this up?

[2017-10-27 03:08] whipermr5 commented on #8124
@AnnaGMiguel Sorry, looks like someone else has submitted a PR. Feel free to submit a PR for any other issue! We don't require asking :)

[2017-10-27 08:37] #8124 closed

[2017-10-27 09:06] whipermr5 opened #8128 "Instructor: feedback results: fix broken auto-highlighting of table"
In `instructorFeedbackResultsPage`, when using the `Click here` link to view the results in a modal, the user needs to manually click on the `Select Table` button to highlight the table.

However, while reviewing #8116, I noticed these lines of code:
https://github.com/TEAMMATES/teammates/blob/c0d3afa4f0eb060ff66815f1839711eee6e7bacd/src/main/webapp/dev/js/common/instructorFeedbackResults.js#L292-

[2017-10-27 10:06] shaharyar-shamshi commented on #8098
@wkurniawan07 sir can I work on this if u allow me

[2017-10-27 11:37] damithc commented on #7224
@SELVAKUMAR-S yes, it's not a high priority at the moment.

[2017-10-28 01:04] #7724 closed

[2017-10-28 01:42] whipermr5 opened #8129 "Allow requests with missing HTTP referrer information"
#7317 added HTTP referrer validation as a basic form of CSRF protection. However, it has been observed that a higher than expected number of users have the HTTP referrer disabled in their browsers, presumably for privacy reasons. These users are currently blocked from performing any action that mutates data (list of actions can be found [here](https://github.com/TEAMMATES/teammates/blob/b92b65a0c7

[2017-10-28 13:03] torbenbru commented on #8128
Hey @whipermr5 , I'd like to contribute to this too but can't seem to find a JDK 1.7 to run the tests and see if the new Code works as it isn't supported anymore. With an updated version of the Java 9 JDK the build fails with "Could not determine java version from '9.0.1'.". Where can I gt the 1.7 JDK?

[2017-10-28 13:12] shaharyar-shamshi opened #8131 "mailing service"
I had made account on the sendgrid and currently using eclipse ide
there is one issue that
in email.md
there is a line

I can't understand were to locate build.properties

[2017-10-28 15:53] whipermr5 commented on #8131
Try doing a file search on the repo :)

[2017-10-28 15:56] whipermr5 commented on #8128
Hey @torbenbru, unfortunately, each person is only allowed to work on one `d.FirstTimers` issue. You may move on to `d.Contributors` issues :) As for JDK 1.7, a simple Google search should lead you to the official download page.

[2017-10-29 14:42] Rajat-dhyani commented on #8128
hey @whipermr5 , I'd like to contribute to this issue. If it's not already taken?

[2017-10-29 14:50] whipermr5 commented on #8128
@Rajat-dhyani Go ahead :)

[2017-10-29 14:53] Rajat-dhyani commented on #8128
Thanks, @whipermr5. Right now I am reading contribution guide. Will get back to you on this soon :)

[2017-10-30 03:03] lzzhaha commented on #7648
Please update the IDE information page concerning the plugin  downloading issue

[2017-10-30 03:32] whipermr5 commented on #7648
@lzzhaha What issue are you referring to? Anyway, the work for this has been done in the [`teammatesv6` branch](https://github.com/TEAMMATES/teammates/tree/teammatesv6) (do check if your issue has been resolved there). We have yet to release it as we're waiting to see how [this issue](https://issuetracker.google.com/issues/68206731) develops, so you won't see the changes on the `master` branch yet

[2017-10-30 03:40] lzzhaha commented on #7648
I mean in that orientation page we are advised to install Google plugin which is deprecated. So I wonder whether I should keep installing that or install Google Cloud SDK instead. Thanks!

[2017-10-30 03:43] whipermr5 commented on #7648
I believe it has already been fixed ([link](https://github.com/TEAMMATES/teammates/blob/teammatesv6/docs/ide-usage.md)).

[2017-10-30 03:45] #8129 closed

[2017-10-30 04:11] lzzhaha commented on #7648
Thank you very much! I have been looking at a wrong page.

[2017-10-30 04:25] wkurniawan07 commented on #7648
@lzzhaha to clarify, if you wish to set up now, you still need to download the older Google plugins for Eclipse/IntelliJ. If you want to wait for a week or so (hopefully I can release the change by this weekend), then you can follow the new setup instructions.
Alternatively (not advised), you can set up under the `teammatesv6` branch and use the more updated plugins for Eclipse/IntelliJ without ha

[2017-10-30 04:37] wkurniawan07 opened #8132 "Update third-party dependencies"
Last update was in March, it is about time to update again. Almost all dependencies have been updated since then.

[2017-10-30 06:56] shaharyar-shamshi opened #8133 "user interface of student profile"
Greating sir,
This issue is related to the user interface of student profile
when particular student after login click on the profile button it show's the form which does not look nice.
it look like
![profile](https://user-images.githubusercontent.com/17377195/32158042-01bc3e4a-bd6d-11e7-91ce-bd63363347b7.png)

but if we make it to look like
![profilereq](https://user-images.githubusercontent.com/

[2017-10-30 16:17] #8131 closed

[2017-11-01 00:26] Abhishek-Trivedi commented on #8128
I have tried to remove this issue. Tell me if I could do some more changes. :)

[2017-11-01 01:38] #8103 closed

[2017-11-01 01:39] #8122 closed

[2017-11-01 05:59] #8123 closed

[2017-11-01 16:05] #8128 closed

[2017-11-01 16:34] #7061 closed

[2017-11-05 09:26] wkurniawan07 commented on #8098
Hi @shaharyar-shamshi, thanks for your suggestion. Unfortunately, I have already done enough works to solve the issue at hand. You may wish to find other issues (particularly those labelled `d.Contributors`) to work on.

[2017-11-05 09:33] wkurniawan07 commented on #8133
Hi @shaharyar-shamshi, thanks for your suggestion. However, this is not something that is urgently needed, and I do not really see how the new design can be beneficial over the old one. "Attractive" is a subjective matters, and having to click a button to edit profile is actually an added inconvenience. While "smoother for student to know how his profile is shown" may be a legitimate reason, there

[2017-11-06 14:10] damithc opened #8138 "Update user map for Oct 2017"
Similar to #7424

Entries to consider

Australia | Edith Cowan University
-- | --
Australia | Monash University
Australia | Swinburne
Australia | University of Melbourne
Austria | Uni Salzburg
Belgium | BA Botaniek
Belgium | Guldensporencollege
Belgium | Hasselt University
Brazil | EnglishPlus
Brazil | PONTIFICIA UNIVERSIDADE CATOLICA DE MINAS GERAIS
Brazil | Universidade Federal do Rio Grande do

[2017-11-06 14:35] KshitijKythe commented on #8138
I'm new to open source, Can I work on this??

[2017-11-06 15:06] wkurniawan07 opened #8139 "Update weekly backup code"
https://github.com/TEAMMATES/teammates/blob/188f585479612ab07808d571104056073f512c1d/src/main/webapp/WEB-INF/cron.xml#L27

Whether the backup code works/not or is ideal/not is out of question, but at the current state, three problems exist in this line:
- `Comment` has been decommissioned long ago.
- `Student` has been changed to `CourseStudent` even before that; this would mean student entities h

[2017-11-06 15:14] wkurniawan07 commented on #8008
@LimeTheCoder any chance you can send us photo soon?

[2017-11-07 08:04] shaharyar-shamshi commented on #8133
Okk sir @wkurniawan07

[2017-11-07 09:15] damithc opened #8140 "Admin: masquerade mode: allow viewing of profile pictures for any course"
v5.112

![image](https://user-images.githubusercontent.com/1673303/32485666-2deb7c1a-c3df-11e7-86b1-aa2583ee5a48.png)

[2017-11-07 09:31] damithc commented on #8139
To add, the backup not only cost about 10-15 extra dollars each, it also throws some map reduce errors in the process. We  need to look for a better way to do backup/restore, which is not going to be easy.

[2017-11-08 01:01] chowyb commented on #8138
@KshitijKythe yes, feel free to do so 😄 you may wish to have a look at our contributing guidelines before submitting your pull request however.

[2017-11-08 01:03] chowyb commented on #8118
@DimitarGadzhev any updates here?

[2017-11-08 04:35] whipermr5 commented on #8140
It's showing up fine for me on the live server.

[2017-11-08 08:15] KshitijKythe commented on #8138
Thanks a lot. Will do. :)

[2017-11-08 09:50] DimitarGadzhev commented on #8118
Task is done. I make a PR.

[2017-11-08 11:14] chowyb commented on #8118
@DimitarGadzhev providing a PR with a changed image is not sufficient for this; I need to know why there was a need to change the image to begin with, and why this change will benefit users.

[2017-11-10 13:55] #8139 closed

[2017-11-10 23:08] orinn248 opened #8144 "New contributor self intro - Orinn Williams"
- Link to my fork: https://github.com/orinn248/teammates.gits

![image](https://user-images.githubusercontent.com/31255676/32682245-87ac7902-c641-11e7-90a7-817277d7d3de.png)

Hey, I'm happy to be getting my feet wet in the open-source world by contributing to TEAMMATES. I'm here as part of Software Development and Testing course that I am taking right now.

I chose TEAMMATES because of the well es

[2017-11-10 23:11] orinn248 commented on #7165
I committed a fix in reference to this issue.  I see it listed above but I'm still unsure whether I'm supposed to issue a pull request on it. Any help would be appreciated.

[2017-11-11 15:39] orinn248 commented on #7926
Hey, has a decision been made on the appropriate approach or is this up to whoever submits the changes?

[2017-11-12 03:39] damithc opened #8146 "Student: view results: can see recipient for anonymous questions"
v5.112
Reported by a user. According to the user, if a self-evaluation question is set as anonymous, students can still see the recipient name (which is same as recipient)
![image](https://user-images.githubusercontent.com/1673303/32695697-aff5c316-c79d-11e7-912c-973d04caf47c.png)

Not sure if the user made a mistake in settings (the question was modified subsequently) or if there is a bug. It's p

[2017-11-12 05:13] #6731 closed

[2017-11-12 05:13] #8098 closed

[2017-11-12 13:43] #8008 closed

[2017-11-12 15:00] damithc opened #8148 "Instructor: edit question: remove the need to click edit button multiple times"
v5.112 (but I noticed this even in previous versions)

I noticed that when editing question, sometimes I need to click on the `edit` button 2-3 times before the question becomes editable. It is not always reproducible though.

Browser: Chrome on Windows

[2017-11-12 15:36] #7609 closed

[2017-11-12 15:36] #7648 closed

[2017-11-12 15:36] #7873 closed

[2017-11-12 15:36] #8132 closed

[2017-11-12 15:41] wkurniawan07 opened #8149 "PSA: Update your local project setup"
Hi everyone,

With the release of V6.0.0, we are adopting Java 8 and Google Cloud SDK as our development tool of choice. If you have cloned TEAMMATES before the commit ca27ffb, you will need to adapt by doing the following:
- Install JDK 1.8 (1.9 not supported).
- Install Python 2.7 (3.x not supported).
- Install Google Cloud SDK 179.0.0 (not the latest version, but this version is the one used in

[2017-11-12 15:42] wkurniawan07 opened #8150 "Upgrade Selenium to 3.x"
With Java 8 not being a blocking issue anymore, we are ready to migrate to Selenium 3.

[2017-11-12 15:43] wkurniawan07 commented on #6535
No longer on hold since Java 8 migration is done.

[2017-11-12 15:44] #7017 closed

[2017-11-12 16:04] wkurniawan07 commented on #8111
[V6.0.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.0.0) has been released by @wkurniawan07 at November 12, 2017, 11.59pm SGT.
Ready for post-release check and deployment by PM.

[2017-11-13 01:43] damithc commented on #8111
Should I go direct V6.0.0 or is there another V5.113 which captures all bug fixes but still in Java 7. i.e. do we have a new release that _only_ upgrades jdk and sdk?
@whipermr5 we need to incorporate your hot fixes to this too.

[2017-11-13 02:11] wkurniawan07 commented on #8111
@damithc it's up to you. @whipermr5 and I are confident that things will go smooth in V6.0.0 but we could be wrong. As I mentioned in Slack, V6.0.0rc is there that has everything except the JDK and SDK upgrade.

[2017-11-13 03:06] damithc commented on #8111
Roger that. @whipermr5 how about the hot fixes?

[2017-11-13 11:54] jms5049 opened #8151 "New Contributor Self Intro Minsung Joh"
->Link to Your Fork
https://github.com/jms5049/teammates

->A Screenshot of the Change You Did (As Seen On the UI)
<img width="1440" alt="2017-11-13 8 44 06" src="https://user-images.githubusercontent.com/26538414/32724301-1614002e-c8b4-11e7-8a6d-ef8f84e8c7fa.png">

changed color green into orange,
on hover the button turns into dim orange

->Your Real Name and a Short Self-Intro
Hello my name is

[2017-11-13 14:35] cs801458j opened #8152 "New Contributor Self Intro Eunjeong Jang"
->Link to Your Fork:
https://github.com/cs801458j/teammates

->A Screenshot of the Change You Did (As Seen On the UI)
![image](https://user-images.githubusercontent.com/19684904/32730689-3b56df34-c8cb-11e7-94f5-f791a6cc9e5e.png)

When continuously reducing the width, The letters in the 'Request a Free Instructor Account' button will flood out of the button. So I added overflow attribute on the but

[2017-11-13 21:58] shaharyar-shamshi commented on #8115
I am eager to work on this issue

[2017-11-14 03:10] #8101 closed

[2017-11-14 08:32] sukanta-27 opened #8153 "Unresovled Servlet Class error in Project setup"
**Operating System:** Windows 8.1
- **JDK Version:** 1.8
- **Eclipse / IntelliJ Version (if applicable):** Eclipse Oxygen 1a Release (4.7.1a)

I was setting up the project in Eclipse Oxygen, and I came across the `Unresolved Servlet Class` error in web.xml file.
Here is the screenshot of the error :

![screenshot 236](https://user-images.githubusercontent.com/10681755/32769465-fcf51036-c941-11e7-9

[2017-11-14 13:28] chowyb commented on #8152
Hi @cs801458j,

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2017-11-14 13:28] chowyb commented on #8151
Hi @jms5049,

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2017-11-14 13:44] chowyb commented on #8153
@wkurniawan07 not sure if this is caused by the recent shift to Java 8.

@sukanta-27 just to check, are you using JDK 1.8 and not JRE 1.8? Unfortunately the build path says "JRE" even when a JDK is used, so I'd just like to be sure.

[2017-11-14 15:13] wkurniawan07 commented on #8153
@sukanta-27 it looks like you tried to deploy the app via command line before? That error comes from `build` folder which is not a cause of concern.

[2017-11-14 15:19] sukanta-27 commented on #8153
@chowyb Yes, I'm using JDK 1.8.

![screenshot 238](https://user-images.githubusercontent.com/10681755/32787449-8ec83a9e-c97c-11e7-82f6-480b868b49e2.png)

I also went through the troubleshooting-guide.md and found a similar Error.

SOLUTION: This is likely because the dependencies have changed. Refer to [this document](https://github.com/TEAMMATES/teammates/blob/master/docs/dependencies.md) for ste

[2017-11-14 15:25] sukanta-27 commented on #8153
@wkurniawan07  I am not sure I did. From forking the repo to IDE setup I did exactly what was in the guide.

Okay then. Does that mean I can work on the project without this error affecting in any manner?
 Thank you by the way @chowyb  @wkurniawan07  for the reply.

[2017-11-14 15:33] wkurniawan07 commented on #8153
@sukanta-27 that directory `build/staged-app` can only appear on very specific demand. Do you recall running `gradlew.bat appengineStage` or `gradlew.bat appengineDeploy` before? The chance of it happening if you follow the setup guides exactly is slim at best.

Yes, those "errors" are as good as non-existent.

[2017-11-14 15:50] sukanta-27 commented on #8153
@wkurniawan07  The  only gradlew.bat command I remember running was to create the configuration file `gradlew.bat createConfigs`. and one time only `gradlew.bat` by mistake. which I terminated and ran the createConfigs command.

Okay, Thank you.

[2017-11-15 03:38] whipermr5 commented on #8153
@sukanta-27 I believe you can just delete the entire `build` folder, then clean and build in Eclipse. The Eclipse project build folder is set to `build-eclipse`, so `build` should not even show up unless building from the command line.

[2017-11-15 05:32] whipermr5 commented on #8144
Hey Orinn, welcome to TEAMMATES! Good job setting everything up the dev server! Interesting UI change 😂 I see you've already submitted a PR for a `d.FirstTimers` issue; that's good! It should be ready for merging once you rename the title according to our [guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#step-4-submit-a-pr). After that you may proceed to work on `d.Co

[2017-11-15 05:44] whipermr5 commented on #7926
Let's fix it and move it into client scripts.

[2017-11-15 05:57] LiHaoTan commented on #7926
I'm just wondering if it has much use though? Sounds like it's more like a maintenance burden with little benefits.

[2017-11-15 07:27] whipermr5 commented on #8111
@damithc I can patch V6.0.0rc and release as V6.0.1rc then merge into V6.0.0 and release as V6.0.1, or I can patch V6.0.0 straight and release as V6.0.1. Will you be using V6.0.0rc?

[2017-11-15 09:40] damithc commented on #8111
Yes. Even if I go for V6.0.0 straight, I will deploy rc version as a fallback in case something goes wrong with v6.0.0

No hurry. I'm going to be busy with other things until Friday anyway.

[2017-11-15 13:46] sukanta-27 commented on #8153
@whipermr5  Okay, will do just that. Thank you.

[2017-11-15 14:06] orinn248 commented on #8144
Thank you! Title has been updated.

[2017-11-15 14:09] sukanta-27 commented on #8153
@whipermr5 Deleting the `build` folder resolved it.

![screenshot 239](https://user-images.githubusercontent.com/10681755/32840102-a8344872-ca3c-11e7-9419-cb9adc5d3c7b.png)

[2017-11-15 16:53] #8118 closed

[2017-11-15 18:57] sukanta-27 opened #8154 "New Contributor Self-Intro: Sukanta Roy"
- **Link to my fork:** https://github.com/sukanta-27/teammates.git

**Screenshot of changes made (as seen on the UI)**

![screenshot 240](https://user-images.githubusercontent.com/10681755/32853460-5fb41c88-ca61-11e7-9b5d-5c06412c2d1d.png)

![screenshot 241](https://user-images.githubusercontent.com/10681755/32853481-6a063112-ca61-11e7-9cba-afb07f87dc52.png)

Added a new "Tagline" and changed the

[2017-11-17 04:19] ZiChuanBuXiu opened #8155 "New Contributor Self Intro Yungang Feng"
a) link to my app
[http://teammates-zichuanbuxiu.appspot.com/](url)

b) link to my fork
[https://github.com/ZiChuanBuXiu/teammates](url)

c) a screenshot of the change I did
![image](https://user-images.githubusercontent.com/33737119/32929175-48e6260a-cbaa-11e7-87b1-3bf4a3e62d0a.png)

d) my real name and a short self-intro
My name is Yungang Feng. I am a graduate of Master of Information Technolog

[2017-11-17 15:07] chowyb commented on #8154
Hi @sukanta-27,

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

Also, while your interest in applying for GSoC with us is noted, I must warn you in advance that while we will quite likely be one of the organizations involved in GSoC, this is not guaranteed to be the case; that being said, we do still accep

[2017-11-17 15:13] chowyb commented on #8155
Hi @ZiChuanBuXiu,

Welcome to TEAMMATES! While we currently do not have any `d.FirstTimers` issues with no open PRs dealing with pure Java, note that `d.FirstTimers` issues are generally simple changes by default, intended to help you focus on the workflow rather than the changes themselves; you may wish to try out one of them, then move on to `d.Contributors` issues dealing with the backend.

[2017-11-17 15:15] sukanta-27 commented on #8154
@chowyb  Thank you very much.

[2017-11-17 22:34] ZiChuanBuXiu commented on #8155
@chowyb Thank you for the instruction! One thing I wanna figure out is, whether I can solve the open `d.FirstTimers` issues that there are some PRs related to it, e.g. [https://github.com/TEAMMATES/teammates/pull/8141](url), since there is someone who is already working on it.

[2017-11-18 06:07] damithc commented on #8111
@whipermr5 let me know when its ready

[2017-11-18 07:40] whipermr5 opened #8156 "Fix broken touch device detection"
#6784 broke touch device detection.

Original:
https://github.com/TEAMMATES/teammates/blob/0716ebaa9148bc3e46f448886222704a6547669e/src/main/webapp/js/common.es6#L307

Broken:
https://github.com/TEAMMATES/teammates/blob/60a9efd3b5f1c7e1e0d035160bf9ed1f53e5d800/src/main/webapp/dev/js/common/onStart.js#L26

This has led to tooltips being displayed on touch devices when they are supposed to be disabl

[2017-11-18 08:16] whipermr5 opened #8158 "Refresh session token before form submission"
As GAE refreshes session IDs older than 24 hours, a session token embedded inside a form can get outdated if the page (e.g. the feedback response submission page) is kept open in the browser for more than 24 hours. If a TEAMMATES page is loaded in another tab, the cookie will get updated with the new session ID and token. Consequently, when the outdated form is submitted, the token contained withi

[2017-11-18 17:55] chowyb commented on #8155
@ZiChuanBuXiu as issue #8138 already has an active PR open, it might be best not to work on that issue. However, you could try another issue such as #8112 instead, as the currently open PR is inactive (which I will be closing momentarily).

In general though, it is indeed preferable to avoid issues which have existing open PRs.

[2017-11-18 22:35] ncbaihly commented on #8149
Also, if you were using the gradle.properties file to use the 1.7 JDK for the project, make sure you update it so that it specifies 1.8 or remove it to use the 1.8 JDK if its specified in your PATH.

Thought I'd mention it since I just spent 30 minutes wondering why Oxygen was refusing to import the project.

[2017-11-19 02:01] orinn248 opened #8162 "InstructorLogicTest - Refactor try-catch blocks to improve code quality"
**Description of feature/enhancement**
Upon reviewing the logic test suite, I noticed that some test cases perform excess try-catch blocks to test null parameters. For try-catch blocks that test null parameters, I will refactor the test to place the try-catch block within a loop and pass in an array to improve code quality and code coverage percentages.  Thus far, I have addressed this in teammate

[2017-11-19 06:21] whipermr5 commented on #8149
If using `appengine-web.xml` from an old project, it also needs to be updated to include the `java8` `runtime` directive (refer to the new `appengine-web.template.xml`).

[2017-11-19 06:51] wkurniawan07 commented on #8149
@ncbaihly @whipermr5 thanks for pointing them out, I have updated the issue description accordingly.

[2017-11-19 08:51] whipermr5 opened #8163 "Add pageEncoding directive attribute to *.jsp and *.tag"
The new GAE Java 8 runtime no longer supports the `<jsp-config>` element, necessitating the inclusion of the `pageEncoding` directive attribute in all `page` and `tag` directives located in all `jsp` and `tag` files. ~~While we're at it, let's also include the `trimDirectiveWhitespaces` attribute (#7884).~~ See https://github.com/TEAMMATES/teammates/pull/8116#issuecomment-345497586.

[2017-11-19 09:10] #7165 closed

[2017-11-19 09:46] #8138 closed

[2017-11-19 10:12] whipermr5 commented on #8149
One more: change the port from 8888 to 8080 in `test.app.url` in `test.properties`

[2017-11-19 12:39] orinn248 commented on #8162
Submitted pull request for issue

[2017-11-19 12:51] ZiChuanBuXiu opened #8166 "Help Request: cannot create instructor via admin page"
- **Operating System: macOS 10.13.1 (17B48)**
- **JDK Version: 1.8.091**
- **IntelliJ Version: 2017.2.7**
- **Chrome Version: 62.0.3202.94(64bit)**

**After I set up the project and run it on the local dev server, I tried to create a new instructor via [http://localhost:8080/admin/adminHomePage](url). When I filled the table and click the "Add Instructor" button, there was no response. The console

[2017-11-19 13:00] ZiChuanBuXiu commented on #8166
Well, I clean the cache of the browser, then it works well.

[2017-11-19 13:00] #8166 closed

[2017-11-19 13:23] whipermr5 commented on #8166
Did you do `npm run build`?

[2017-11-19 15:47] whipermr5 commented on #8111
@damithc V6.0.1 and V6.0.1rc are ready.

[2017-11-19 16:16] #8156 closed

[2017-11-19 16:16] #8158 closed

[2017-11-19 16:16] #8163 closed

[2017-11-19 22:38] ZiChuanBuXiu commented on #8166
Yes, I did run that command. I solved it by clearing the cache of the browser, and then running `npm install` and `npm run build`.

[2017-11-20 01:33] Naitoreivun opened #8167 "New contributor self intro Dominik Traczyk"
**Fork repo:** https://github.com/Naitoreivun/teammates
**Changes:
Before:**
![before](https://user-images.githubusercontent.com/11821294/32998201-5157cea6-cd99-11e7-9a20-c3f9d61bf331.PNG)
**After:**
![after](https://user-images.githubusercontent.com/11821294/32998215-6690568a-cd99-11e7-9e13-d33a5e724906.PNG)

I've pulled user id to the right to make it more readable (imo). Actually I wanted to cr

[2017-11-20 03:04] whipermr5 commented on #8167
Hey Dominic, welcome to TEAMMATES! Good job setting up the dev server correctly! The change looks good! 👍 You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-11-20 04:17] #8144 closed

[2017-11-20 14:20] sukanta-27 commented on #8154
**The link to my app :**
http://teammates-sukanta.appspot.com/

[2017-11-20 14:46] sukanta-27 commented on #8154
@chowyb Need some direction on how I can contribute:

I was looking for a `d.FirstTimers` issue to work on, but there are only 4 open issues.
out of which :
#7706 is said to be complicated for a firstTimer, and a issue to address the root cause is opened in #7731
<br>
and #8112 and #7350 already have open PRs
<br>
and in #7490 I am not sure whether any work is required or not as I agree with the p

[2017-11-20 15:33] wkurniawan07 opened #8168 "Remove method getInstructorsForEmail(String)"
Remove the method `getInstructorsForEmail(String)` from `Logic`, `InstructorsLogic`, and `InstructorsDb`, and the corresponding unit tests as it is not used anywhere.

[2017-11-20 15:35] wkurniawan07 commented on #8154
@sukanta-27 thanks for highlighting the current shortage of `d.FirstTimers` issues. I have just added a new one #8168 which you're free to work on.

[2017-11-20 16:07] sukanta-27 commented on #8154
@wkurniawan07 Thank you very much :)

[2017-11-20 16:12] sukanta-27 commented on #8168
I will like to work on it.

[2017-11-21 07:38] Benjineer commented on #8168
Interested too

[2017-11-21 08:30] damithc opened #8171 "StudentFeedbackResultsPageUiTest: fix failure on live server"
Failed multiple times.
v6.0.1rc
Win10, Chrome

[code]
![image](https://user-images.githubusercontent.com/1673303/33062125-285b3006-ced9-11e7-8ef8-625769661550.png)

[2017-11-21 12:35] wkurniawan07 commented on #8171
Does this happen on the Java 8 version?

[2017-11-21 12:35] damithc commented on #8171
No, this is the v6.0.1rc version.

[2017-11-21 12:50] wkurniawan07 commented on #8171
My concern was actually on whether the Java 8 version gives problems when tested against the live server. I presume it has not been tried yet?

[2017-11-21 12:52] damithc commented on #8171
Not yet. I need to set up the new project environment first. Will do over this weekend.

[2017-11-22 05:42] whipermr5 commented on #7884
Additional info for fixing this: https://github.com/TEAMMATES/teammates/pull/8164#issuecomment-345533776

[2017-11-22 11:25] #8153 closed

[2017-11-22 11:30] #8154 closed

[2017-11-22 20:06] pawanakhil commented on #8168
https://github.com/pawanakhil/teammates/commit/d81bd5d0c633f94ff587a0a3d9841e6956bb1ccf

Removed getInstructorsForEmail(string) method

[2017-11-23 06:37] sukanta-27 opened #8173 "static-analysis.md: fix CheckStyle and PMD Eclipse plugin link"
**Environment**

Tested in : Firefox 46.0<br>Chrome Version 62.0.3202.94

**Steps to reproduce**
While installing the plugins from the [static-analysis](https://github.com/TEAMMATES/teammates/blob/master/docs/static-analysis.md) file, I noticed that the download link in `Configuring PMD Eclipse plugin` under `PMD` gives `403 Forbidden` error.
![screenshot 249](https://user-images.githubusercontent

[2017-11-23 06:42] sukanta-27 commented on #8173
@whipermr5 @wkurniawan07 As we are low on `d.firstTimer` issues, can this be considered as one?

and if it is not a `d.firstTimer` issue, then can I work on it?

[2017-11-23 06:43] sukanta-27 commented on #8173
**Link that can serve the purpose :** https://marketplace.eclipse.org/content/eclipse-pmd

[2017-11-23 07:02] whipermr5 commented on #8173
Yes; this can be considered a first timer issue. Thanks for reporting it! 👍

[2017-11-23 07:11] whipermr5 opened #8174 "Instructor: course details: fix broken auto-highlighting of table"
Same as #8128, but for the course details page. Delete these lines:
https://github.com/TEAMMATES/teammates/blob/f0dd51db12cedecc02fbf4149116165a45139a54/src/main/webapp/dev/js/main/instructorCourseDetails.js#L103-L106

Then add `selectElementContents(content.get(0));` after these lines: https://github.com/TEAMMATES/teammates/blob/f0dd51db12cedecc02fbf4149116165a45139a54/src/main/webapp/dev/js/main

[2017-11-23 07:18] wkurniawan07 commented on #8173
@sukanta-27 Eclipse download links are not necessarily navigable via Web browser. I don't think it will give a problem, but have you checked that the said link works when trying to download the said PMD plugin?
One more thing, also confirm that the PMD plugin in that link is the same that is described in the docs. Don't ask me why, but there are multiple PMD plugins for Eclipse in the wild.

[2017-11-23 07:21] #8168 closed

[2017-11-23 07:33] whipermr5 commented on #8173
Yes; it seems the site has moved from http://www.acanda.ch/eclipse-pmd/release/latest/ to http://acanda.github.io/eclipse-pmd/, which does link to the plugin at https://marketplace.eclipse.org/content/eclipse-pmd (it's also the most up-to-date PMD plugin [listed](https://marketplace.eclipse.org/search/site/pmd)). The Eclipse Marketplace link is good as it's less likely to change compared to the au