[2022-08-28 16:14] domlimm commented on #11950
Hello prof, I thought I should give you an update on this. I took a look and have a rough idea of what needs to be done. However, I need to test it and also fully understand and see how it works.

2 days ago, I deleted my containers and images from Docker desktop (no idea why I would do that 😓), and was unable to access the app the same night you made this issue.

I created an issue for my problem

[2022-08-28 17:36] damithc commented on #11951
Devs, any inputs for this?

[2022-08-28 17:38] akhil9281 commented on #11826
I was just going to start working on it and I found there is already a test for `SubmitFeedbackResponsesAction`  jn the test package.
Am I missing something here ??

[2022-08-29 00:33] samuelfangjw commented on #11951
@domlimm, could you verify that your backend server is running and the app.admins property in the build.properties file is correctly set?

[2022-08-29 02:44] domlimm commented on #11951
Hello @samuelfangjw, thanks for your reply!

This is the value for `app.admins` --> `app.admins=app_admin` in the build.properties file.

I ran `./gradlew createConfigs`, `npm ci`, `./gradlew generateTypes`, `npm run build`, `npm run start` for the FE all in sequence.

For the BE, `docker-compose up -d` to run both the database and search service, `./gradlew serverRun` in sequence.

Docker contain

[2022-08-29 02:47] tenebrius1 commented on #11951
I believe the login is just `app_admin` instead of `app_admin@gmail.com`

[2022-08-29 02:48] domlimm commented on #11951
@tenebrius1 Hello, yup it is!

![image](https://user-images.githubusercontent.com/46486515/187113243-f358afe0-68a9-4657-951b-8bc581ed4554.png)

[2022-08-29 02:50] tenebrius1 commented on #11951
Sorry I realized I was a bit ambiguous, what I meant was could you try logging in as `app_admin` instead of `app_admin@gmail.com`?

[2022-08-29 02:51] domlimm commented on #11951
@tenebrius1 it worked! Thanks so much Yi Guan!

I don't remember logging in without the domain the first time around haha! 🤨

![image](https://user-images.githubusercontent.com/46486515/187113532-510561a0-77db-440a-9e08-ce85141923c4.png)

[2022-08-29 02:54] domlimm commented on #11951
@damithc @samuelfangjw @tenebrius1 Will close this issue now. Thank you so much to all! 🙇🏻

[2022-08-29 02:54] #11951 closed

[2022-08-29 03:05] fsgmhoward commented on #11941
@thomasengels Any updates?

@akhil9281 @seb-lex Hold on first. Someone has taken it and yet to give up. It would probably not be nice to post duplicated PR on the same issue. If you would still like to investigate the issue, for the handler, I would suggest to trace down by finding the correct servlet class from this file: https://github.com/TEAMMATES/teammates/blob/675374990ed027b474f63fc40ccfd75

[2022-08-29 03:12] fsgmhoward commented on #10480
@tau-bar  Sure. Please go ahead.

[2022-08-29 15:14] harsitagarwalla187 commented on #11941
Hi, I am newbie. What knowledge is required to solve this issue?

[2022-08-30 06:42] zhaojj2209 commented on #11826
@akhil9281 The existing testcases in `SubmitFeedbackResponsesActionTest.java` are insufficient; ideally, the testcases should cover all possible behaviours of `SubmitFeedbackResponsesAction`.

[2022-08-30 06:51] #11839 closed

[2022-09-04 06:05] tau-bar commented on #11950
@domlimm Are you still working on this? Otherwise I'd like to fix this issue.

[2022-09-04 06:12] tau-bar commented on #11830
Hi prof @damithc , I'd like to work on this issue. If we were to change it to use `<code>` tags instead of `<b>`, then it would look like this:

![image](https://user-images.githubusercontent.com/61085398/188300019-5a00f24b-0d3c-41cf-aea5-eaa4793b1a3e.png)

If that's alright then I'll proceed on changing the user documentation.

[2022-09-04 06:22] domlimm commented on #11950
@tau-bar Sorry, yes I am.

[2022-09-04 07:30] damithc commented on #11830
@tau-bar I'm OK with this formatting. But perhaps we leave this to a first-timer?

[2022-09-06 00:12] John-Poulos commented on #11830
I would like to work on this, can you assign this to me? Thank you in advance.

[2022-09-06 09:16] zhaojj2209 commented on #11830
@John-Poulos Sure, feel free to make a PR for this issue!

[2022-09-06 09:17] #11791 closed

[2022-09-06 09:41] zhengtaoJ commented on #7249
Hi team, if there's no one working on this issue now, can I work on it?

[2022-09-06 10:35] #11929 closed

[2022-09-06 13:12] John-Poulos commented on #11830
@zhaojj2209  - Excellent, thank you!
I had a question about the dev. guidelines at https://teammates.github.io/teammates/development.html; Will I need to pass all the white box tests to work on this particular problem? I pass 1259, fail 191 and have 691 skipped when I ran this last night. I am able to open the project in IntelliJ.
After making changes to the project locally, what is best practice

[2022-09-06 13:48] zhaojj2209 commented on #7249
@zhengtaoJ Feel free to submit a PR for this since there isn't any open PR from the last person and it's been a while since.

[2022-09-06 14:26] zhaojj2209 commented on #11830
@John-Poulos This issue mostly concerns the frontend user documentation; after making the changes, I recommend the following:

- Start the frontend server on your local machine and verify manually that all parts of the documentation that should be changed have been changed
- Ensure frontend linting checks pass (`npm run lint`)
- Ensure frontend tests pass (`npm run test`)

Once you make a PR, ther

[2022-09-06 15:19] John-Poulos commented on #11830
@damithc @zhaojj2209  Can I propose to use the <mark> </mark> html tag to give the word a soft background highlight without bolding the word? Is there another method you would prefer?

Using <code> </code> will cause problems with the text in between not being able to be translated when using Google translate, which I assume is important in a project like this.
Thank you again.

[2022-09-06 15:24] damithc commented on #11830
@John-Poulos Good point. I'm fine with an alternative formatting if using the `<code>` tag gets in the way of accessibility features.

[2022-09-06 15:26] John-Poulos commented on #11830
Great! I will proceed. Thank you for the quick feedback. Is there a preferred way of doing the many lines of changes or is it simply done one by one?

[2022-09-07 12:52] AdwitiyaMishra commented on #11641
Hi, I would like to work on this issue. Kindly let me know if it's available

[2022-09-07 13:10] AdwitiyaMishra commented on #11719
Hi, I would like to work on this issue. Kindly let me know if it's available.

[2022-09-09 07:06] ypinhsuan commented on #11641
Hi @AdwitiyaMishra, thanks for your interest! There is a PR for this issue already, please find another issue to work on.

[2022-09-09 07:07] ypinhsuan commented on #11719
Hi @AdwitiyaMishra there is already a PR for this issue as well

[2022-09-09 09:48] rakhazachrie commented on #11826
Is this still an issue? I'd love to make my first contribution

[2022-09-13 12:26] fsgmhoward commented on #11941
I think it can be considered that @thomasengels gave up on this since no replied has been received.

@Basfar @Ranzeb @Shubhcs01 @akhil9281 @seb-lex Any of you would like to take a look at this? If not, will pass to @LokeshSingh1102 .

[2022-09-13 14:10] #11719 closed

[2022-09-14 04:56] ethanotran commented on #11941
Is this issue open? looking for my first contribution to open source projects.

[2022-09-15 02:31] #11899 closed

[2022-09-15 14:48] LokeshSingh1102 commented on #11941
I think they are not taking this on. Should i proceed with this issue @fsgmhoward??

[2022-09-15 15:31] thomasengels commented on #11941
Someone else can take it

[2022-09-15 17:04] ethanotran commented on #11941
I tried to build the back-end server, in Git Bash using both ./gradlew serverRun & and ./gradlew.bat serverRun &. The results are the same: I never got to "BUILD SUCCESSFUL". Instead, the console outputs:
 <===========--> 85% EXECUTING [45m 48s]
The time in the brackets keep incrementing, even if I leave the console overnight. The time gets updated but it never gets past 85%. Can you give me some

[2022-09-15 17:35] domlimm commented on #11941
@ethanotran hello, this is the intended behavior. Could refer to #11889.

[2022-09-15 19:53] ethanotran commented on #11941
I'm trying to fix this issue. I would like to first replicate the issue, I believe I need instructor privilege in order to create a course.  Since I'm not an instructor, what can I do to gain sufficient privilege for issue replication?

[2022-09-16 01:29] fsgmhoward commented on #11941
@LokeshSingh1102 Sure. Please go ahead.

[2022-09-16 05:41] kaykaym01 commented on #11826
Are you still looking for support on this issue?

[2022-09-16 17:44] hhdqirui commented on #11826
@kaykaym01 Hi so far there is no PR on this issue, so feel free to work on it.

[2022-09-20 14:07] damithc opened #11959 "Instructor/Student login, Feedback submission"
### Discussed in https://github.com/TEAMMATES/teammates/discussions/11958

<div type='discussions-op-text'>

<sup>Originally posted by **akshayavenkat2131** September 20, 2022</sup>
Hi team

I have the Front and Back-end server and the datastore emulator running locally.I would like to try out the submitFeedback feature which I am having problems with.I have tried the following :
- Tried logging i

[2022-09-23 09:59] Serafion commented on #11826
Hi i'd like to tackle this problem, can you assign me?

[2022-09-25 01:52] ypinhsuan commented on #11826
Hi @Serafion, you can start working on the issue.

[2022-09-25 18:45] prafullpandey614 commented on #11830
Can I contribute to this issue still ?
Is it Open yet ?
I am a first timer and I would like to contribute here

[2022-09-26 17:41] fsgmhoward commented on #11826
@Serafion We do not add backend dependencies unless it is really essential. If typicalDataBundle solves the problem, please go ahead with it.

[2022-09-26 17:43] fsgmhoward commented on #11830
@prafullpandey614 Hi thanks for your will to contribute. However, there is already an opened PR (#11954) associated with this issue. It will be entering review phases. You may work on it if the PR gets rejected (although very rarely).

[2022-09-27 12:10] #11950 closed

[2022-09-27 13:27] #11641 closed

[2022-09-28 17:12] #8450 closed

[2022-09-29 15:59] damithc opened #11960 "Student submitting responses: omit 'for Question 1' if there is only one question"
version: v8.19.2. production

Problem:
When submitting response for a session, the submission button for each question mentions the question number e.g.,
![image](https://user-images.githubusercontent.com/1673303/193080008-1ef0686e-ca5b-4f97-882d-aeb508921eba.png)

But this can be problematic if the session has only one question, as the user might think there are more questions not shown yet.

Sug

[2022-10-03 03:43] hlee18lee46 commented on #10986
Can I take this issue?

[2022-10-03 10:37] domlimm commented on #11960
Hello prof, will this be a `good first issue`? Else, I'd love to work on this!

[2022-10-03 13:33] damithc commented on #11960
@domlimm on second thoughts, go ahead, as it's best to fix this sooner rather than later.

[2022-10-03 21:03] ibrouos opened #11962 "Decorative images are not hidden from accessibility tree"
The decorative image element raised-edge has not been semantically marked up to be ignored by screen readers.

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/112479962/193681706-0150b8c6-f7f3-458f-aa51-ee4b6b347964.png">

- **Environment**:
- Master

**Steps to reproduce**
- View webpage in screenreader, for example voiceover, JAWs etc.

**Expected behaviour**
- Image

[2022-10-04 02:15] domlimm commented on #11960
Will do, thanks prof!

[2022-10-04 04:45] NicolasCwy commented on #10986
@hlee18lee46 Go ahead!

[2022-10-06 03:58] yengah opened #11964 "INFO::main: Logging initialized @14591ms to org.eclipse.jetty.util.log.StdErrLog"
Help Request: INFO::main: Logging initialized @14591ms to org.eclipse.jetty.util.log.StdErrLog

- **Commit SHA:** b47a59b78001caa1124257307c79b4bf569b3716
- **Operating System:** Windows 11
- **JDK Version:** JDK version 18.0.2
- **Node.js Version:** v16.17.1
- **Firefox / Chrome Version (if applicable):** NA

**What I was trying to do / What I need help with**
Running the server backend, as per c

[2022-10-06 05:14] cnca2120713 commented on #11826
Hi, I would like to try to work on this issue, can you assign it to me?

[2022-10-06 05:50] zhaojj2209 commented on #11964
Do follow the instructions on the TEAMMATES [setting up guide](https://teammates.github.io/teammates/setting-up.html#step-2-install-necessary-tools-and-languages) in order to run the dev server locally. Specifically, TEAMMATES uses JDK 11 while you are using JDK 17/18.

[2022-10-06 06:05] zhaojj2209 commented on #11826
@cnca2120713 Feel free to submit a PR for this issue.

[2022-10-06 13:49] yengah commented on #11964
Hi,
Switched to JDK 11, but no, I still get the same problem, as follows:

2022-10-07 00:45:13.671:INFO::main: Logging initialized @15463ms to org.eclipse.jetty.util.log.StdErrLog
Exception in thread "main" java.lang.ExceptionInInitializerError
        at teammates.main.Application.main(Application.java:38)
Caused by: java.lang.NullPointerException: inStream parameter is null
        at java.base/

[2022-10-06 14:25] yengah commented on #11964
Yes, all steps done, but still getting the same error.
Step 3 is done.
build,properties does not exist, however, build.template.properties exist.

[2022-10-06 18:07] ShubhraSuman commented on #11941
Can you assign it to me?

[2022-10-07 02:18] NicolasCwy commented on #11964
@yengah Please create a build.properties by duplicating the build.template.properties and renaming the duplicate

[2022-10-07 03:44] yengah commented on #11964
@NicolasCwy works!
But now, when trying to connect to the server via my web browser, the following errors

HTTP ERROR 403 Forbidden
URI:	/
STATUS:	403
MESSAGE:	Forbidden
SERVLET:	default
Powered by Jetty:// 9.4.48.v20220622

?

[2022-10-07 03:48] samuelfangjw commented on #11964
Step 3 should creates these configuration files. There is no need to copy these manually.
[code]

Seems like there's an issue with this step on your side.

[2022-10-07 04:06] yengah commented on #11964
Verified all those files present @samuelfangjw.

They are all present.

Seems maybe no issue with this step then?

[2022-10-07 04:08] samuelfangjw commented on #11964
Should create these files without the template in the name.

[2022-10-07 08:58] yengah commented on #11964
@samuelfangjw done that.

still does not work.

[2022-10-07 09:01] NicolasCwy commented on #11964
Could you let us know the order and which steps you have done in [this part of the guide](https://teammates.github.io/teammates/development.html) as well as the URL you are trying to connect to

[2022-10-07 09:04] yengah commented on #11964
Sure, I'm trying to do the server-backend.

I followed all the steps under "Managing the dev server: back-end".  and am trying to connect to: http://localhost:8080.

[2022-10-07 09:13] samuelfangjw commented on #11964
Yes, this is not related to the current issue, but it does indicate that at least some steps have not been done properly. Please go back and ensure that you have read all the relevant documentation and do not skip any steps. For example, the answer to the current "issue" should be quite clear if you have read the development guidelines.

[2022-10-07 09:17] yengah commented on #11964
@NicolasCwy any comments?

[2022-10-07 09:24] NicolasCwy commented on #11964
Would be helpful if you listed out the steps so that I can understand what you have actually done.

I assume that you are trying to access the teammates website using your browser, if so you have to follow the "Managing the dev server: front-end" as well as the "Managing the dev server: back-end" sections. Let me know if this helps and what went  wrong

The order of the commands you should have ex

[2022-10-07 09:27] yengah commented on #11964
@NicolasCwy sure, I'll do this right now.  Please give me 20-25 minutes or so.

[2022-10-07 09:32] zhaojj2209 commented on #11964
http://localhost:8080 is not meant to be accessed directly without specifying a specific endpoint, hence the 403. Either make API calls to specific endpoints, or build/run the frontend and access a specific page.

[2022-10-07 09:41] yengah commented on #11964
@zhaojj2209 awesome.  Great comment.
Yes, you are totally correct.

[2022-10-07 10:16] #11964 closed

[2022-10-07 10:31] PrakritiShetty commented on #10986
Can I work on this issue, or is it already assigned to someone?

[2022-10-07 10:38] #11962 closed

[2022-10-07 11:12] fsgmhoward commented on #10986
@PrakritiShetty Someone else has taken it. Please find other issues to work on instead!

[2022-10-07 17:15] yengah opened #11965 "Cannot start main.Application"
2022-10-08 04:06:24.691:INFO:oejs.Server:main: jetty-9.4.48.v20220622; built: 2022-06-21T20:42:25.880Z; git: 6b67c5719d1f4371b33655ff2d047d24e171e49a; jvm 11.0.10+8-LTS-162
2022-10-08 04:06:25.252:INFO:oeja.AnnotationConfiguration:main: Scanning elapsed time=0ms
2022-10-08 04:06:25.260:INFO:oejw.StandardDescriptorProcessor:main: NO JSP Support for /, did not find org.eclipse.jetty.jsp.JettyJspServ

[2022-10-08 04:51] zhaojj2209 commented on #11965
Not sure what IDE you're using and how you're "trying to run" it, but the backend server isn't meant to be started directly and we are not responsible for debugging your IDE. Please run `./gradlew serverRun` instead.

[2022-10-08 05:37] yengah commented on #11965
@zhaojj2209 Thanks.  Let me try.

[2022-10-08 08:10] amitp138 opened #11967 "adding dark mode toggle"
dark mode is like the most loved thing by users specially the student . I think I can help this website get a dark mode.

- **Environment**:

**Description of feature/enhancement**

**Justification**

**Existing similar features and their shortcomings**

[2022-10-08 08:34] damithc commented on #11967
@amitp138 thanks for you suggestion.
As an individual student is not expected to be using TEAMMATES for extended periods of times or very frequently, I doubt if supporting dark mode is worth the effort, unless the effort needed is trivial.

[2022-10-08 19:28] tusharrajpoot commented on #11941
@fsgmhoward can i work with this issue?

[2022-10-08 19:35] tusharrajpoot commented on #11959
@damithc can i work on it?

[2022-10-08 19:36] tusharrajpoot commented on #11945
@thikhinab can i add tests for that?

[2022-10-08 19:37] tusharrajpoot commented on #11860
@domlimm can i work on it?

[2022-10-08 19:38] tusharrajpoot commented on #11826
@zhaojj2209 can i work on it?

[2022-10-09 00:33] domlimm commented on #11860
@tusharrajpoot hello, yes. Please go ahead! Thanks!

[2022-10-10 08:17] thikhinab commented on #11945
Hey @tusharrajpoot! I working on related issue that may slightly change `course-edit-form`, which might affect this issue. Will try to finish it this week and I will update you on it.

[2022-10-11 03:52] u6867511 commented on #11728
Hello, the pull request above seems to be on hold until December. Could I have a go at this issue in the meantime?

[2022-10-11 03:59] u6867511 commented on #7249
Hello, could I work on this issue if no one else is?

[2022-10-11 04:00] u6867511 commented on #11210
Hi, just checking whether this issue has been fixed already?

[2022-10-11 04:11] u6867511 commented on #11569
Hello, could I be assigned to this issue?

[2022-10-11 04:11] u6867511 commented on #10623
Hello, are there any more diagrams that need to converted?

[2022-10-11 04:24] u6358194 commented on #11945
@tusharrajpoot can I work on this issue, that's my first contribution to open source

[2022-10-11 09:32] zhengtaoJ commented on #7249
Sorry for the delay on this issue. I guess one of the solution is to modify the related inconsistent responses upon deletion of a student. I think the policy for doing this modification for each question would be different and needs discussion. I guess it's better if we split this issue into multiple tasks, e.g. one PR for each question type mentioned?

[2022-10-11 15:58] fsgmhoward commented on #11210
@u6867511 I don't think so. You are good to submit a PR for this.

[2022-10-11 16:03] fsgmhoward commented on #10623
@u6867511 There are some remaining but PlantUML is probably not sufficient to represent the information according to comments in #11956. I think all the convertible ones are done already.

@damithc Would this issue be good to be closed?

[2022-10-11 16:08] fsgmhoward commented on #11569
@u6867511 Sure. Please go ahead since no one is taking up this. But be reminded that you should probably focus on 1 or 2 issues and solve them before taking new ones as I saw your comment in many issues.

[2022-10-11 18:10] thikhinab opened #11968 "`Auto-detect` Button in `CourseEditForm` is not disabled"
- **Environment**: `master` branch at commit 7a1e7d3

**Steps to reproduce**:
1. Visit the following route in the frontend: `/web/instructor/getting-started`
2. Under `Set up a course` section, observe that `Auto-detect` Button of the `form` can be clicked (i.e. it  is not disabled)

**Expected behaviour**
`Auto-detect` button should be disabled as it serves on purpose in the edit mode.

**Actual

[2022-10-12 02:55] zhengtaoJ commented on #11968
Hi, can I investigate on this?

[2022-10-12 03:30] hhdqirui commented on #11826
Hi @tusharrajpoot, yes, feel free to submit a PR for this issue.

[2022-10-13 06:52] zhaojj2209 commented on #11968
@zhengtaoJ Feel free to investigate this issue and PR a fix!

[2022-10-13 06:54] #11639 closed

[2022-10-13 08:19] #11965 closed

[2022-10-13 08:20] zhaojj2209 commented on #11959
Closing as query has been answered on #11958.

[2022-10-13 08:20] #11959 closed

[2022-10-13 10:33] #11960 closed

[2022-10-13 11:09] kulagaIA commented on #1501
Hello! I would like to write tests for classes that dont yet have 100% coverage.

[2022-10-13 11:58] zhaojj2209 commented on #1501
@kulagaIA Feel free to make PRs to increase test coverage for any of the Feedback*QuestionDetails classes.

[2022-10-13 12:29] tau-bar opened #11970 "Difference in E2E test behaviours in different OSes"
Refer to #11952.

Image below shows the state of the program in debug mode for `InstructorSearchPageE2ETest`. This would have caused the E2E test to fail on my local environment (Firefox on Windows). However, this test passes in GitHub actions which runs in Firefox on Ubuntu.

![image](https://user-images.githubusercontent.com/61085398/195593924-30dca62a-b038-4685-b3f4-bc5eb61b9667.png)

- **Envir

[2022-10-13 16:12] XinjiaZZ commented on #11970
Hello, we are a student group from Australian National University, can we start working on this issue? Thanks!

[2022-10-13 16:20] XinjiaZZ commented on #10920
Hello, we are a student group from Australian National University, is there any tests need to be done for this issue? We can start working on this issue! Thank you.

[2022-10-14 06:25] Leavaway commented on #11826
Hi, I am interested in this issue, can I work on it?

[2022-10-14 08:06] kulagaIA opened #11971 "Help Request: explain mcq question details validation"
Hello! It seems to me that mcq question details validation happens only when there are no feedback participants.
In file `FeedbackMcqQuestionDetails.java`
method `validateQuestionDetails()`
does validation only if condition is true: `if (generateOptionsFor == FeedbackParticipantType.NONE)`

Can you please explain, is it a desired behavior? And if yes, why?

[2022-10-14 11:16] tau-bar commented on #11970
@XinjiaZZ Sure, feel free to do so.

[2022-10-15 05:49] KillerEnigma commented on #11941
I would like to work on this issue @fsgmhoward

[2022-10-15 08:30] u6867511 commented on #11210
May I please ask, where in the application can this feature be found? I am struggling to find a "Per Recipient Statistics" section. Thank you for your help.

[2022-10-16 07:47] ypinhsuan commented on #11941
Hi @ShubhraSuman there is no open PR for this issue, would you like to work on it?

[2022-10-16 07:54] ShubhraSuman commented on #11941
Sure @ypinhsuan

[2022-10-16 09:46] tau-bar commented on #11632
I'd like to work on this issue.

[2022-10-17 05:59] u6656793 commented on #11737
Hi @damithc , Does this issue still open? If so, could I work on it for my first open source study? TY.

[2022-10-17 06:02] u6656793 commented on #11826
Hi @wkurniawan07 , can i work on this issue as my first open source study? TY.

[2022-10-17 08:05] u7305725 commented on #11770
Can I try this issue?

[2022-10-17 23:54] u7305725 commented on #11830
Hi, we are doing a group assignment, can i try on this issue, i may suggest a better one than current pull request by using css
![image](https://user-images.githubusercontent.com/110862712/196304408-72487de2-6ee0-4400-9817-775f67f2e4e4.png)
The "Home" and "Enroll" is my work, the "mark" is what in current pull request

[2022-10-17 23:56] u7305725 commented on #11830
Hi, we are doing a group assignment, can i try on this issue, i may suggest a better one than current pull request by using css
![image](https://user-images.githubusercontent.com/110862712/196304794-b1202c03-4497-4b3c-aa1c-8914df20dadd.png)

The "Home" and "Enroll" is my work, the "mark" is what in current pull request

[2022-10-18 00:01] u7305725 commented on #11830
Hi, we are doing a group assignment, can i try on this issue, i may suggest a better one than current pull request by using css
image

The "Home" and "Enroll" is my work, the "Courses" is what in current pull request

![image](https://user-images.githubusercontent.com/110862712/196305397-170c7227-acc4-4653-8f49-0ea98d621780.png)

[2022-10-18 00:34] Haoting-Chen commented on #11941
@fsgmhoward may I work on this issue? We are doing a group assignment at uni that has to work on an issue from open-source software.

[2022-10-18 01:53] jack44321 commented on #11754
Hi. I am a student from Australian National University working on a group assignment to select and contribute to a real-world open-source project. So I would like to take up this issue if no one is working on it.

[2022-10-18 02:33] Haoting-Chen commented on #11941
This is a simple and quick issue and can be solved by adding a single line of code.

[2022-10-18 03:30] u6358194 commented on #11826
can I work on this/ @wkurniawan07

[2022-10-18 03:37] u6358194 commented on #11754
@damithc hi can I work on this issue, many thanks

[2022-10-18 04:05] damithc commented on #11830
@u7305725 we want to differentiate such text but not make them stand out more than the regular text (not too much anyway). So, probably best not to use red for text.

[2022-10-18 05:19] fsgmhoward commented on #11941
Hi @Haoting-Chen , the person taking this issue previously has not given up. Please seek other issues to work on. Thank you so much.

[2022-10-18 05:25] u7305725 commented on #11830
@damithc
I see, how about this one? i used the css, the background color is #E6E9E9 and text color is #908B8B.
Again, "home" and "Enroll" are my work, "Courses" is in current pull request done by somebody else
![image](https://user-images.githubusercontent.com/110862712/196342376-644957c8-f3b3-4b57-9186-bf18f62935b8.png)

[2022-10-18 05:32] Haoting-Chen commented on #11941
@ShubhraSuman Sorry for bothering you. I am currently working on a group assignment at uni that we have to solve as many issues as we can for Teammates. The assignment is due next week. If you haven't started yet, would you like to hand over this issue to me?  I have figured out how to do it and can start immediately.

[2022-10-18 05:42] ShubhraSuman commented on #11941
okay u can take it.

[2022-10-18 05:45] damithc commented on #11830
@u7305725 This one is better. Perhaps not use rounded edges as this could give the wrong impression that we are referring to a button.

[2022-10-18 05:45] Haoting-Chen commented on #11941
@ShubhraSuman Thank you so much for giving me the issue. @fsgmhoward Could you please assign the issue to me?

[2022-10-18 05:53] u7305725 commented on #11830
Sure, i changed it to square border now. If you are satisfied with this style, i will do the change to all css file under instructor-help-page directory
![image](https://user-images.githubusercontent.com/110862712/196345965-db4cb02a-c004-4ca8-96e5-7727affb788a.png)
![image](https://user-images.githubusercontent.com/110862712/196346084-fb120e78-9768-47c6-8c7d-860707980da5.png)
![image](https://user

[2022-10-18 06:09] damithc commented on #11830
@u7305725 I'm OK with the appearance of this version.

[2022-10-18 06:47] zhaojj2209 commented on #11754
@jack44321 Please go ahead! However, there are others who are interested in working on the issue, so please do update us if you have decided not to work on it anymore so that we may pass the issue to someone else.
@u6358194 Someone else has requested to take up this issue first.

[2022-10-18 06:49] zhaojj2209 commented on #11826
@u6656793 @u6358194 There have been many requests to work on the issue yet no PR has been submitted so far, so feel free to work on the issue and we will look at any PRs submitted.

[2022-10-18 07:32] u7305725 commented on #11830
Thanks for approve, I will work on this issue and do a pull request in three days

[2022-10-18 09:42] zhaojj2209 commented on #11971
@kulagaIA Apologies for the late response.
From my understanding, `generateOptionsFor` is the attribute that indicates whether or not MCQ choices are automatically generated. If the value for `generateOptionsFor` is not `FeedbackParticipantType.NONE`, it means that the MCQ choices are automatically generated and not manually filled in by the user, therefore no validation is needed.

Hope this answ

[2022-10-18 09:52] #11971 closed

[2022-10-18 09:53] kulagaIA commented on #11971
Thank you! This answers my question.

[2022-10-18 10:26] u7305725 commented on #11830
Hi, i do a [pull request](https://github.com/TEAMMATES/teammates/pull/11975), please take a look at. This may help the project if it is accepted. If not, hope this will help other developers

[2022-10-18 11:31] thikhinab commented on #11945
@tusharrajpoot I believe #11946 add more tests to this, but there will be room for improvement with the tests introduced by the changes made once #11968  resolved.

[2022-10-18 14:01] Haoting-Chen commented on #11941
Hi, I have completed this issue and submitted a PR https://github.com/TEAMMATES/teammates/pull/11974

[2022-10-18 16:33] John-Poulos commented on #11830
You may want to use a different naming convention for your tag than <b>. Custom html tags include a hypen, so perhaps something like <TM-SlightEmphasis> or something similar. Nice work, you beat me to it :-)

[2022-10-18 22:52] u7305725 commented on #11830
@John-Poulos Sorry, I suppose you want to type tags but these tags are used and hidden by the comments. Maybe something like “b” tag?

[2022-10-18 23:00] u7305725 commented on #11830
Btw thanks for your praise, are you still working on this issue? Can you let me do this? This is first time I do the issue

[2022-10-19 11:04] u6867511 commented on #11210
Hello, I was wondering, is it necessary to include the recipient's email in the Per Recipient Statistics (Overall) table? The Per Recipient Statistics (Per Criterion) section does not include the email.

[2022-10-19 13:07] damithc commented on #11210
@u6867511 Good to include it, as the email is the only reliable identifier we have (multiple students can have the same name).

[2022-10-20 09:07] U6729988 commented on #11860
@domlimm I saw the people still have not been assigned to the issue. Can I work on this issue?

[2022-10-20 09:39] U6729988 commented on #11967
@damithc Hi, I am an ANU master of computing year 2 student. If possible, can I work on this issue?

[2022-10-23 16:18] DanhuiChang opened #11978 "Cannot run project with npm"
- **Commit SHA:**
- **Operating System: mac M1**
- **JDK Version: 11**
- **Node.js Version: 16.8**

**What I was trying to do / What I need help with**

- **Need help to open the project and run in local**

**Attempts to resolve the problem**

- **After I clone the project and followed the instruction, I cannot run the project after "npm run start". The hint said that "cannot find module '../api-o

[2022-10-23 16:30] zhaojj2209 commented on #11978
Please read the [developer documentation](https://teammates.github.io/teammates/development.html#managing-the-dev-server-front-end). Have you followed the instructions and run the commands that should be run before attempting to start the dev server?

[2022-10-23 17:51] Leavaway commented on #11970
Hi, I try to reproduce this difference. I cloned from your repo https://github.com/tau-bar/teammates.git. And ran the project based on steps in documents. But It seems that courseHeader and targetHeader are equal in my test. @tau-bar
<img width="873" alt="p1" src="https://user-images.githubusercontent.com/86211987/197407542-f9cfc6b0-306c-4c17-a1cb-981e64fd9c88.png">

[2022-10-23 19:43] kelvis24 opened #11979 "Help when setting up teammates for the first time"
Request for help on how to get Teammates running on Windows 11.

Dear community,
I have followed the [installation guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) and retried cloning in several directories.
I just cant seem to get the command: .**/gradlew serverRun** to run and lead to a working http://localhost:8080/ endpoint.
I have docker, java 11 (java versio

[2022-10-24 02:57] domlimm commented on #11860
@U6729988 hello sorry for the extremely late reply. was down sick. hang on for awhile. let's wait for tushar.

@tusharrajpoot hello, may i ask on the progress for this issue?

[2022-10-24 03:20] #11978 closed

[2022-10-24 03:30] zhaojj2209 commented on #11979
`./gradlew serverRun` being at 85% is the intended behaviour, the server is already running in the foreground. The errors are being thrown because you are attempting to log in as a student when the account does not yet exist.

Please follow the developer documentation section on [how to log in to TEAMMATES](https://teammates.github.io/teammates/development.html#logging-in-to-a-teammates-instance).

[2022-10-24 09:07] u7305725 commented on #11979
Hi kelvis, this is my personal experience on how to do setting-up after you correctly set up development environment
[instructions.docx](https://github.com/TEAMMATES/teammates/files/9850358/instructions.docx)

[2022-10-25 02:53] U6729988 commented on #11860
Hi Dominic,

I have currently work on the issue #11967 (add dark theme toggle), and got solution to apply the dark mode for the entire app. However, the issue is still not assign under my name.

Best Regards,

Henry

On 24 Oct 2022, at 1:57 pm, Dominic Lim ***@***.******@***.***>> wrote:

@U6729988<https://aus01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FU6729988&data=05%7C01

[2022-10-25 03:50] damithc commented on #11967
@U6729988 see my comment above

[2022-10-25 12:23] #10480 closed

[2022-10-25 16:43] fsgmhoward commented on #11860
@U6729988 We usually do not assign an issue to a person. Others can deduce who is working on it from the conversation flow or by posting a question below. Just subscribe to that issue and tell those who asks for it that you are working on it.

By the way, your comment seems to be linked to a wrong issue.

[2022-10-25 16:50] #11564 closed

[2022-10-25 18:12] Tushar-TW commented on #11860
@domlimm you can assign this issue to someone else if they are ready

[2022-10-25 21:47] kelvis24 commented on #11979
Thanks guys. I really appreciate all the help! Like you all pointed, I just had to log in the right way.

[2022-10-25 21:48] #11979 closed

[2022-10-26 10:37] u6358194 commented on #11754
For commit 12cf1c4 which was created by Albert Yu, why the whole html and js file were deleted although they had only few lines changed? I'm so confused to find where you changed, could you please check why your commit looks like this?

[2022-10-27 08:28] zhaojj2209 opened #11981 "Ubuntu lint checks failing due to lintspaces"
Lint checks are failing after merging #11910, even though they passed on the PR itself. This can also be replicated locally: lint checks pass when on the branch for #11910 and fail on master.
![image](https://user-images.githubusercontent.com/54243224/198229918-13a7d33d-6034-4d82-852d-3cd6e9bb96da.png)

@tenebrius1 I will be making a PR to revert the changes to lintspaces, in the meantime please h

[2022-10-27 14:18] tenebrius1 commented on #11981
Hello! I did some investigation, and I am quite certain that this error pops up when the git diff returns nothing i.e., there wasn't any file changed that matched the regex of the git diff.

A simple fix I could think of is to just append a `|| :`  at the end of the lintspaces command which would basically not run lintspaces if there are no files changed that match the pattern.

New lint:nix:space

[2022-10-27 14:30] zhaojj2209 commented on #11981
@tenebrius1 Thanks for investigating, the fix looks alright to me. Do make a PR for the fix ASAP so that we can review and merge it.

[2022-10-27 15:40] tenebrius1 commented on #11981
@zhaojj2209 Thanks for creating the PR! Was in a project meeting just now so I wasn't able to create it after suggesting 😅

[2022-10-28 15:52] #11981 closed

[2022-10-29 06:28] #11968 closed

[2022-10-29 08:11] domlimm commented on #11869
Hello, sorry this took awhile.

I would like to confirm on the behaviour regarding the persistency for the proposed suggestion on adding a Success header and a tick when a user submits his/her response for a question.

E.g., There are 3 questions. The user submits responses for Q1 and Q2 but leaves Q3 unsubmitted.

When user returns, Q1 and Q2 should have a Success header and a tick indicating tha

[2022-10-29 08:47] damithc commented on #11869
@domlimm persistent doesn't mean saving it as a separate field in the database. The front end should be able to determine which answers were loaded from the database (and hence, already 'saved'). e.g.,
* Not answered, or edited since the last save: blue
* Loaded the saved answer, or saved after the last edit: green

What do you think?

[2022-10-29 09:52] #11941 closed

[2022-10-29 10:01] domlimm commented on #11869
@damithc Ah! I see prof. Yes this clarifies, thank you so much! Will get it out by this weekend. 👍🏻

[2022-10-29 12:19] #11830 closed

[2022-10-30 05:04] thikhinab commented on #11945
@tusharrajpoot #11946 is merged and #11968 is resolved, you can look into ways to improve the `course-edit-form` tests. Particularly, you can look into tests that checks if the form validation works as intended.

@fsgmhoward Changes that me hold the issues are resolved. Thank you.

[2022-11-02 12:35] #11586 closed

[2022-11-02 15:09] #11916 closed

[2022-11-04 04:31] rakhazachrie commented on #11826
Hello, I already setup my local environment and I'm still figuring out what behaviors that still not covered by current test case, any clue?

[2022-11-06 05:35] damithc opened #11991 "Student submitting fewer responses than allowed: show empty responses at the bottom when reloading the submission page"
v8.19.2

Background: an MCQ questions is set as follows:
![image](https://user-images.githubusercontent.com/1673303/200155822-b5a0d50b-598a-46e5-8306-4a5474a19d3a.png)

Problem:
If a student give fewer than 10 answers to the above question, the page looks like this the next time the submission page is loaded.
![image](https://user-images.githubusercontent.com/1673303/200155827-4bba57c5-0104-4c44-a

[2022-11-06 05:43] damithc opened #11992 "Student submitting fewer responses than allowed: don't consider the question as 'not fully answered'"
v8.19.2

Background: an questions is set to allow a max number of responses:
![image](https://user-images.githubusercontent.com/1673303/200155822-b5a0d50b-598a-46e5-8306-4a5474a19d3a.png)

Problem:
If a student give fewer than 10 answers to the above question, the question is counted as 'not fully answered' and a warning is shown. This could be misleading to the user, as the _max response count al

[2022-11-06 05:59] domlimm commented on #11991
Hello prof, will this be for first timers?

[2022-11-06 07:00] damithc commented on #11991
@domlimm yes, most likely suitable for first-timers.

[2022-11-08 07:10] RohithSurya commented on #11991
@damithc This is my first open-source contribution. Can you assign this issue to me?

[2022-11-08 08:39] fans2619 opened #11993 "Diagrams in the developer documentation are not being displayed"
Most diagrams [here](https://teammates.github.io/teammates/design.html) are not being displayed due to syntax errors.

![Screenshot](https://user-images.githubusercontent.com/68739475/200515710-081be0f7-2d68-49fc-952b-58eca9de1c57.png)

[2022-11-08 09:27] zhaojj2209 commented on #11991
@RohithSurya Feel free to make a PR for this issue.

[2022-11-08 16:01] damithc commented on #11993
@fans2619 thanks for reporting this.
I wonder if this was caused by a recent PR or was like this for sometime. Perhaps someone can locate the offending commit/PR?

[2022-11-08 23:06] Alrq opened #11994 "Problem when setting up the project locally"
- **Commit SHA:**  441e8ba9a98213d346ab09ed83f1172d0ad73507

- **Operating System:** Ubuntu 20.04.5 LTS
- **JDK Version:** 11.0.16
- **Node.js Version:** v19.0.1
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**

Hi!
I'm looking to contribute on this project as part of one of my university courses, so i've been following the instruction to set it

[2022-11-09 11:52] zhaojj2209 commented on #11994
What the error message is saying is that your version of Node (19.0.1) is only compatible with Angular versions 14.0.0 and above. Since TEAMMATES uses Angular 12, you will have to switch to an older version of Node (e.g. Node 12).

[2022-11-09 22:51] kelvis24 commented on #11993
Hi, I was wondering if I could please claim this issue. We are an Iowa State University (US) student group (5 COMS students), and we need this to feel a class requirement.

[2022-11-10 01:37] jwang444 commented on #11992
Hey, can we claim this issue for class project (University of Michigan)?

[2022-11-10 06:04] fsgmhoward commented on #11992
@jwang444 Sure. Everyone is welcomed to claim it since no one is doing so now. Please feel free to submit a PR for this.

[2022-11-10 06:06] #11945 closed

[2022-11-10 13:57] Alrq commented on #11994
Oh! Right ok!  Thank you!
In the Setting up section, it is said that when we install Node.js we should have version 12.11.1 **minimum** so I thought getting the latest version would be fine.  Wouldn't it be a good idea to mention that version 12 is the recommended version and not the minimum version to use ??

[2022-11-15 08:36] RohithSurya commented on #11991
Hi @zhaojj2209, Can you please check and review my PR 😊 ?

[2022-11-24 14:07] kseenivasan commented on #1501
Hello! I would like to contribute- I checked the codeCov and saw that the FeedbackConstantSumQuestionDetails class could use more coverage. Is it OK if I work on this?

[2022-11-29 12:42] #11994 closed

[2022-11-29 21:45] lywu-andrew commented on #11967
Hi @amitp138! I'd like to work on this issue, is help still needed?

[2022-11-30 09:13] domlimm commented on #11993
Hello prof, not sure if this is helpful: [commit](https://github.com/TEAMMATES/teammates/commit/7a1e7d30db9f5866a46544c4350dee2ca96e6cb0#diff-409cfb292fc2de7d7b46484d88290f1fb0d7b98a6b4a4927ae93967872bc3703) that could be the reason why it's breaking.

Think it's because `style.puml` resides in `diagrams/...` and it's currently including just `style.puml`.