[2020-10-16 05:15] damithc commented on #10788
Perhaps boolean flags are inadequate as there are three states involved i.e., unknown/pending, success, failure ?

[2020-10-16 08:17] nk183 commented on #10523
@damithc @wkurniawan07 if it is still open can I work on this issue?

[2020-10-16 08:36] nk183 commented on #8769
@craaaa  It is still available?

[2020-10-16 08:38] nk183 commented on #10433
@damithc ,is it still open??

[2020-10-16 09:57] moziliar commented on #10433
@nk183 I am not working on this issue anymore.

[2020-10-18 13:08] wkurniawan07 commented on #10739
Re-open as there is more to do on this front

[2020-10-18 15:18] abdullahcevik opened #10793 "subsequent steps can be fused into Stream API chain"
Hi, I saw some code statements, I think this statements fused subsequent steps into the Stream API chain.

For example:
https://github.com/TEAMMATES/teammates/blob/d2f3d0bb06c4ad45ad2d2ef1f36e47ac54fb55d7/src/e2e/java/teammates/e2e/cases/e2e/FeedbackSubmitPageE2ETest.java#L216

https://github.com/TEAMMATES/teammates/blob/7aff65283ab51cdb8e28cdeb06f5e58d6f540767/src/e2e/java/teammates/e2e/util/Back

[2020-10-18 17:18] jtankw3 opened #10795 "Instructor GQR-RQG view cannot hide statistics"
- **Environment**: `master` branch at commit 481c7a9786bb3408d7b73a925065b822349d4852

**Steps to reproduce**
- unmarking show statistics in GQR or RQG view does not hide statistics

**Additional info**
GQR view - show statistics is not marked but statistics is still shown
![GQR](https://user-images.githubusercontent.com/31800234/96374995-d8898080-11a8-11eb-8ac1-06d6487c2643.PNG)

RQG view - same

[2020-10-20 21:29] lhsrebel72 commented on #10523
@damithc  I was taking a look at this and on the edit page there are 4-5 different panel(Questions) and they each have their own edit button. Should these all be turned on from the beginning and if so, what is the point of the individual Edit buttons on each panel? Should they always be available to edit?

[2020-10-20 21:30] jtankw3 opened #10798 "Instructor result page filter by section not accurate"
- **Environment**: `master` branch at commit 481c7a9786bb3408d7b73a925065b822349d4852

**Steps to reproduce**
- Use GRQ/RGQ/GQR/RQG view on instructor results page
- filter by section
- the filter will always only show the results for the chosen section

**Additional info**
Supposed to show results if either recipient or giver is in the section A but only shows responses with Section A as giver

!

[2020-10-21 01:09] damithc commented on #10523
Only the top panel containing the session info. Does not apply to individual questions.

[2020-10-22 10:13] #10523 closed

[2020-10-22 14:20] antoine-dcl commented on #10605
Hello, I would like to tackle this issue (my first one).
Is it OK ? Thanks.

[2020-10-23 06:53] damithc opened #10802 "student viewing results: 'not authorized' error shown even if the link is correct"
Suppose a student in logged into a Google account but has not joined TEAMMATES. Now, she clicks on a ~~submission~~/results link sent by TEAMMATES.

Current: TEAMMATES shows the 'not authorized' error

Suggested:
* show the page (because the link is correct)
* if the above is not practical to implement, auto-logout the user first and then show the page (we can ask the user first if she wants to jo

[2020-10-23 11:09] wkurniawan07 commented on #10802
@damithc Was this from the same error reported some time back? That one applied to only view results link. The submissions page will act correctly and show the page.

[2020-10-23 12:22] damithc commented on #10802
Ah, I thought it applies to both cases. I've updated the issue to narrow it down to the results page only.

[2020-10-23 12:53] gulshankk opened #10803 "User map_Zooming the map and then clicking on the country can list the institutes also along with the number of institutes"
- **Environment**:

**As a user when I would like to know which are all the institutes are present in a selected country along with the number of institutes.**

**Justification**

<img width="1285" alt="Screenshot 2020-10-23 at 14 52 19" src="https://user-images.githubusercontent.com/73334346/97005962-6c5ba380-153f-11eb-8bd2-b2d893f51567.png">

[2020-10-23 13:40] gulshankk opened #10804 "[Help for Instructors page][Search field]Enter a word "course" and click on enter twice, the outcome results changes from 31 to 0 search items"
[Help for Instructors page][Search field]Enter a word "course" and click on enter twice, the outcome results changes from 31 to 0 search items

LIVE TEAMMATES V7.3.1

Steps to reproduce:
1. Go to this page - https://teammatesv4.appspot.com/web/front/help/instructor
2. Enter "course" in the search field
3. Click on the enter button once
4. First time you will see - 31 results found
5. Now click on

[2020-10-23 13:55] gulshankk opened #10805 "Browse by topic listing comes over the text"
[Help for instructions page][small screen mode]Browse my topic listing comes over the text

LIVE TEAMMATES V7.3.1

Steps to reproduce
1. Go to this page: https://teammatesv4.appspot.com/web/front/help/instructor
2. Reduce the size of the browser

Expected results:
Browse by topics words should not overlap with the info text

Actual results:
Browse by topics words overlaps with the info text

SCREE

[2020-10-23 14:41] gulshankk opened #10806 "[UI issue][Help for instructor page][Questions section] non uniformity in the full stop at the end of the sentence"
[UI issue][Help for instructor page][Questions section] non uniformity in the full stop at the end of the sentence

LIVE TEAMMATES V7.3.1

Steps to reproduce:
1. https://teammatesv4.appspot.com/web/front/help/instr
2. Go to the Questions section

Expected results:
Uniformity in all the answers in the page
The other answers have full stop at the end of the sentence

Actual results:
The full stops a

[2020-10-23 23:59] #10802 closed

[2020-10-24 02:59] damithc opened #10809 "Instructor editing sessions: rename the 'done editing' button"
![image](https://user-images.githubusercontent.com/1673303/97066361-75a04b00-15e7-11eb-8bac-dc65705a79c8.png)

One user mistook the `Done editing` button to be equivalent to be _Save all edits_.  The confirmation dialog warns that the edits will be lost but apparently, users just click yes without reading.

Perhaps we should rename it `Discard unsaved edits`?

[2020-10-24 05:55] madanalogy commented on #10805
Recommended fix: hide "Browse by topic" for small screen widths

[2020-10-24 05:57] madanalogy commented on #10803
@damithc need your input on whether this might be a feature we want to support

[2020-10-24 06:02] damithc commented on #10803
While this is good to have, we work with individual instructors, not institutions. Hence, it would not be appropriate to name the institutions without getting their consent first, which I don't want to get into.
Nevertheless, thanks for the suggestion @gulshankk

[2020-10-24 06:02] #10803 closed

[2020-10-24 09:56] thomaslian commented on #10809
Hi, there are multiple pages containing this three buttons. I am assunimg that the path below leads to the correct file?

teammates/src/web/app/pages-instructor/instructor-session-edit-page/instructor-session-edit-page.component.html

[2020-10-24 12:56] #10739 closed

[2020-10-24 14:26] madanalogy opened #10811 "Release V7.4.0"
Scheduled for Sunday, Oct 25, 2020, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2020-10-24 22:01] Duff97 opened #10814 "Requesting information on missing functionalities"
Hello!
We're a group of software engineering students of l'ÉTS located in Montreal and we'd like to use Teammates as a subject for one of our projects.
To put it briefly, we have to analyse and find a solution for a current engineering problem.
For starters, we'd like to know if there are any functionalities that are missing or if users are experiencing specific issues or inconveniences while usin

[2020-10-25 01:20] #10798 closed

[2020-10-25 01:20] #10795 closed

[2020-10-25 11:28] ChooJeremy commented on #10814
For this purpose, you can also look through the issue tracker - users do post pain points and feedback into the issue tracker as well, and our admin @damithc posts them as well based on support requests from users.

[2020-10-25 12:58] damithc opened #10815 "rich-text boxes: support/disable image uploads"
Current: when clicking on the image-upload button in a rich-text box input, the user sees this dialog:
![image](https://user-images.githubusercontent.com/1673303/97107778-47fcf400-1704-11eb-9fad-24d252defd8d.png)

Users may not know how to proceed. We might have to improve the UX here, or disable the image upload feature. Note that images uploaded will continue to add to our cost as they will stay

[2020-10-25 13:10] wkurniawan07 commented on #10815
That's not uploading image. That's adding image as link, much like `<img>` tag in HTML.

[2020-10-25 13:15] damithc commented on #10815
I see. Is there anything we can do to avoid the wrong impression that it's for uploading images? Non-tech users are not usually familiar with 'inserting images by URL' and they will assume it's for uploading an image.

[2020-10-25 14:36] madanalogy commented on #10811
[V7.4.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.4.0) has been released by @madanalogy at October 25th, 2020, 10.36pm SGT.

Code contributions from: @EmberCS15, @IndeedSi, @jasonbch, @jtankw3, @madanalogy, @wkurniawan07
Review contributions from: @ccyccyccy, @damithc, @jtankw3, @madanalogy, @rrtheonlyone, @t-cheepeng, @tiuweehan, @wkurniawan07, @xpdavid

Ready for post-release check

[2020-10-25 18:25] daniel-nuon commented on #10433
@damithc What are the steps to reproduce this issue? Unless I'm working the UI incorrectly, I'm not finding the "Per Recipient Statistic" in the instructor view results page.

[2020-10-26 03:13] jasonbch opened #10819 "Instructor edit session page: Add scroll to top button"
- **Environment**: V7.4.0

**Description of feature/enhancement**
In Instructor Edit Feedback Session in Figure 1.3.1 and Figure 1.3.2, there is no feature to scroll back up if the user is at the bottom of the page. In a Feedback Session with fewer questions, it is not a big issue to scroll back to the top when the user finished with the questions. However, if there are many questions in the sessi

[2020-10-26 03:15] damithc commented on #10811
Deployed and released. Thanks everyone for the contributions 💯

[2020-10-26 03:15] #10811 closed

[2020-10-26 10:13] wkurniawan07 commented on #10815
Nope. The entire UI is provided by tinymce. Unless writing/building our own tinymce from scratch is an option.

[2020-10-26 12:25] damithc commented on #10815
I see. I guess nothing we can do then.

[2020-10-26 12:25] #10815 closed

[2020-10-26 14:12] Amit-Anveri commented on #10806
The link seems to be not valid ?

[2020-10-26 16:33] damithc commented on #10433
@daniel-nuon From what I can see, the screenshot is from an MCQ question that has weights attached to each option.

[2020-10-26 20:20] RestartDK commented on #10806
**Does it mean for the text above a full stop should be made after each of those points?**
For example:

Essay questions are open-ended questions that allow respondents to give text feedback about a question.
To set up an essay question:

Specify the question text.
(Optional) Add a description of the question.
Specify the feedback path that should be used to generate the appropriate feedback recip

[2020-10-27 02:17] damithc opened #10823 "student accessing an awaiting session: error message not shown"
A student is trying to access a submission link of a session that no longer exists. She has not joined the course.
The submission page gets stuck at the loading spinner.

![image](https://user-images.githubusercontent.com/1673303/97248696-4aaf3480-183d-11eb-88c8-41989998bdca.png)

Expected: show error message (as a toast message)

EDIT: It looks like this problem applies to cases where a student i

[2020-10-27 02:37] wkurniawan07 commented on #10823
Joining/not is not relevant here.
This is unfortunately not unexpected. The front-end in general has not been optimized for unhappy paths like this.

[2020-10-27 02:38] damithc commented on #10823
I thought it's supposed to show a 'session deleted' error?

[2020-10-27 02:39] wkurniawan07 commented on #10823
As a toast message, nothing more.

[2020-10-27 02:41] damithc commented on #10823
That's good enough. But no toast message is shown in this case.

[2020-10-28 01:13] damithc commented on #10823
Updated the description. For some reason, the toast message is not showing up as expected.

[2020-10-28 01:32] jfrairigh commented on #10569
Do you want the loading icon to appear once the "Copy from previous feedback sessions" button is pressed or should it wait until the form that button initiates is completed and the "copy" button of that form is pressed?

![image](https://user-images.githubusercontent.com/67874354/97379353-993aee00-1892-11eb-8b30-099084c00f48.png)
or
![image](https://user-images.githubusercontent.com/67874354/97379

[2020-10-28 01:57] jfrairigh commented on #10569
I just realized I may have misinterpreted the instructions. Do you want the load icons to appear on the actual buttons or on the page?

[2020-10-28 02:04] wkurniawan07 commented on #10823
Actually, someone needs to investigate this. When I said "[it should appear] as a toast message", it's referring to the un-optimized way of handling this. It could already be optimized (e.g. redirect to another page) but not working.

Also, does "no longer exist" mean it never existed in the first place (e.g. a typo) or something that is soft-deleted? The latter might be another thing that is not

[2020-10-28 04:04] damithc commented on #10823
I checked. Seems it has been soft deleted (still in the recycle bin).

[2020-10-28 04:40] damithc commented on #10823
Sorry, I was checking the wrong place. The session has been hard deleted (no longer in the recycle bin). I think this is what happened:
1. Instructor created the session
2. The submission link is sent out to students
3. Instructor hard-deleted the session
4. Instructor created another session with the same name in the same course

Not sure if step 4 is what's causing this odd behavior.

[2020-10-28 05:03] wkurniawan07 commented on #10823
1-3 can be considered as non-existent because session is not identified by randomly generated unique key. That means this issue is entirely about session to be open.

[2020-10-28 05:10] damithc opened #10824 "Admin searching for students: also show awaiting sessions"
Steps:
1. Login as admin
2. Search for a student
3. Expand the panel showing links of the target student

Current: does not show links to awaiting sessions but shows links to open and closed sessions
Expected: show links to all sessions, including awaiting sessions
Reason: it helps identify cases where the student is trying to access a session that has been open before but has changed to awaiting

[2020-10-28 05:23] damithc commented on #10823
Actually, there is another possibility.
1. Instructor created the session
2. The submission link is sent out to students
3. Instructor changed the opening date to make it awaiting.

This scenario too is about awaiting sessions, so I guess that's were we need to look.

[2020-10-28 10:05] damithc commented on #10823
Updated the description. Let's wait for someone to dig into the code to verify if it is indeed a bug affecting _awaiting_ sessions.

[2020-10-28 10:43] wkurniawan07 commented on #10823
Can't really say it's a bug. The session info and questions didn't load exactly because the session is not open for submission, so it's exactly as per what is defined in the business logic. What is right is the user experience should be better.

[2020-10-28 12:02] gupps17 commented on #10824
hello, I would like to work on it

[2020-10-30 01:59] #10691 closed

[2020-10-31 09:13] Suiiyush commented on #10809
If no one's currently doing it, Can I work on this issue?

[2020-10-31 09:16] Suiiyush commented on #10805
If no one's currently working on this, can I work on this issue?

[2020-10-31 09:21] Suiiyush commented on #8769
Can I work on this issue? I am new to Github it will be my first issue.

[2020-10-31 13:40] madanalogy commented on #10805
Sure go ahead, let us know if you need any help

[2020-10-31 14:28] #10678 closed

[2020-10-31 15:28] #10741 closed

[2020-10-31 16:50] wkurniawan07 opened #10825 "Reorganize and trim unused items in Const.java"
During V7 development and after there are already few rounds of dead code removal (e.g. #10365, #10765, #10810), but one class in particular has not been cleaned: `Const.java`.

On top of housing many unused code, `Const.java` also contains many items that currently serve no value-add (e.g. items in `Const.StatusCodes`) or items that are not common enough to be included there but wrongly included

[2020-11-01 03:46] Suiiyush commented on #10805
Okay so when I try to start the server it says Could not find the module “@angular-devkit/build-angular”, even though I did install the recommended Angular CLI version 9 globally, I have been stuck here since yesterday.

[2020-11-01 09:26] Suiiyush commented on #10805
Okay I found a StackOverflow discussion about it and this command

`npm install --save-dev @angular-devkit/build-angular`

helped me fix that error and the server runs now

[2020-11-02 08:01] damithc opened #10828 "Student submitting responses to MCQ questions: previous comments not shown"
Steps:
1. A student answers an MCQ question and also gives an explanatory comment with it
2. The student loads the submission page again.
3. Problem: the answers are shown, but not the comments. If the student tries to submit a new comment, an error is shown. Because of this, it's not possible to delete or edit comments given earlier. However, the instructor can see those comments.

[2020-11-02 11:52] swood049 commented on #9694
Upon investigation, I was able to create 2 different users, and use masquerade mode to solve this problem, but I cannot replicate it (see screenshot below). I have to assume that it was fixed somewhere between here and when this was first noted, and I suggest further investigation (hopefully closing the issue).
![image](https://user-images.githubusercontent.com/38500060/97865288-f7733100-1cd7-11eb

[2020-11-02 12:21] swood049 commented on #10433
I believe that you may close this issue. After a little investigating, I have found that this is currently as described (see photo).

![image](https://user-images.githubusercontent.com/38500060/97867523-09ef6980-1cdc-11eb-9e13-86db4ad8f638.png)

[2020-11-03 04:16] madanalogy commented on #10828
Preliminary investigation shows that the comment is not included in the server response when calling the `/responses` API. Problem is likely in the backend somewhere. Session results call the `/result` endpoint which has the comments included.

[2020-11-03 04:21] wkurniawan07 commented on #10828
Regression due to #10792.

https://github.com/TEAMMATES/teammates/blob/cc625930a011e702f65782bd5fc9edc7b6f9bb46/src/main/java/teammates/ui/webapi/GetFeedbackResponsesAction.java#L80-L91

Line 87 is not accurate because the `FeedbackResponsesData` constructor encrypts the response ID.

[2020-11-03 04:47] madanalogy commented on #10828
I think we should still keep encryption in the constructor since the data format is supposed to be the API output format. One alternative to simply adding `StringHelper.decrypt` is to cycle through the `responses` instead of the `result` and create each `FeedbackResponseData` one at a time.

[2020-11-03 06:44] wkurniawan07 commented on #10828
That works as well.

[2020-11-03 07:35] #10580 closed

[2020-11-05 11:01] #10828 closed

[2020-11-07 03:47] madanalogy opened #10834 "Release V7.5.0"
Scheduled for Sunday, Nov 8, 2020, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2020-11-08 05:50] damithc commented on #10828
We need to release this fix soon as students are unable to edit the comments they entered earlier.

[2020-11-08 07:22] jtankw3 opened #10835 "Admin who is instructor cannot delete last instructor"
**Environment**: `master` branch at commit dda027eb5200cdf4fdf99d12374c27aa54f47a67

**Expected behaviour**
Admin can delete last instructor

**Actual behaviour**
Admin cannot delete last instructor is they are also instructors

[2020-11-08 14:16] madanalogy commented on #10834
[V7.5.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.5.0) has been released by @madanalogy at November 8th, 2020, 10.13pm SGT.

Code contributions from: @jfrairigh, @jtankw3, @madanalogy, @moziliar, @wkurniawan07, @xpdavid
Review contributions from: @damithc, @jtankw3, @madanalogy, @rrtheonlyone, @t-cheepeng, @wkurniawan07, @xpdavid

Ready for post-release check and deployment by PM (@d

[2020-11-08 14:18] madanalogy commented on #10828
Release should be up, apologies for the delay

[2020-11-08 15:36] damithc commented on #10834
Deployed and released.
Thanks everyone for the contributions 💯
@jfrairigh looks like this is the first time your work has been included in a TEAMMATES release. Congrats and welcome!

[2020-11-08 15:36] #10834 closed

[2020-11-08 17:36] hussein-akar opened #10838 "Eclipse: Invalid PMD URL"
Referenced file contains errors (http://pmd.sourceforge.net/ruleset_2_0_0.xsd)
![Capture](https://user-images.githubusercontent.com/57953837/98472137-ad1f1200-21f9-11eb-8ed5-e4ba682fd129.PNG)

- **Environment**: master branch

[2020-11-08 18:45] hussein-akar opened #10840 "Import project to eclipse instructions"
Add import to Eclipse instructions to docs/ide-setup.md

[2020-11-08 18:47] #10840 closed

[2020-11-08 18:47] #10838 closed

[2020-11-09 11:45] Suiiyush commented on #10819
Can you point me to the page where this needs to be added?

[2020-11-10 04:20] jfrairigh commented on #10569
The "View Results" button under "Results" drop down menu seems to already have a loading icon for when the View Results page populates. Will the spinner that is already present suffice or should I had another one?

[2020-11-10 13:46] Suiiyush commented on #10819
I want to work on this issue if it's up for the grabs, also can you elaborate on exctly which pages need these features or should I add it to all the pages that require it

[2020-11-10 23:32] #10835 closed

[2020-11-13 01:04] damithc opened #10843 "Instructor viewing results: incorrect state shown briefly when expanding the non-submitters panel"
v7.5.0

When expanding the following panel, an incorrect state 'all have submitted' is shown briefly before the panel is populated.
![image](https://user-images.githubusercontent.com/1673303/99015098-24083200-258f-11eb-8ca7-bf5ef55c260d.png)

[2020-11-17 17:07] nicolas-sterose commented on #10785
Hello, we are a group of students who is beginner in open-source and we would like to tackle this issue. Is it possible ?

[2020-11-17 17:07] Moi9 commented on #10819
Hello, we're a small group of students wanting to work on Teammates, we'd like to tackle this issue as a first contribution is it's still available.

[2020-11-17 23:34] damithc opened #10844 "Admin search page: show instructors and students in different colors"
Current: When an admin uses the search page, students and instructors in results are shown in separate panels but of same type  (i.e., primary).

![image](https://user-images.githubusercontent.com/1673303/99463118-06144600-2970-11eb-8e46-096a5ffc00e7.png)

Suggested: Use a different type of panel for instructors (e.g., info), to make it easy to distinguish between the two.

[2020-11-19 04:25] damithc opened #10845 "Instructors viewing results: 'Observers' cannot view session results"
It looks like instructors with 'Observer' permissions cannot view session results.

![image](https://user-images.githubusercontent.com/1673303/99620981-abf3ad80-2a61-11eb-9af4-2d69b4c4e199.png)

![image](https://user-images.githubusercontent.com/1673303/99621025-c463c800-2a61-11eb-8e21-4bbbbf812c78.png)

I only investigated one case (reported by the user). Not sure if this is a general problem or

[2020-11-20 00:46] madanalogy commented on #10845
I thought this was fixed in #10613 :\

I'll be free starting Wednesday will take a look at it then if no one has. @damithc can try getting observers to export the results as csv in the meantime as a workaround

[2020-11-20 02:12] damithc commented on #10845
@niqiukun any thoughts? Is it something we can fix quickly?

[2020-11-20 03:27] wkurniawan07 commented on #10845
This tells everything that's wrong.

[2020-11-20 14:47] damithc commented on #10845
Thanks for the investigation @wkurniawan07
So, ticking this option should make the results accessible, right?
![image](https://user-images.githubusercontent.com/1673303/99813130-4519e580-2b82-11eb-9663-8235fe393826.png)

[2020-11-20 14:50] prirai commented on #10844
Hi everyone, I'm new in open source and this will be my first contribution if I'm able to make it.
Please tell me what knowledge should I have in order to tackle this issue. I've studied and done great programs in pure Java and I recently completed my grade 12 (ISC).
In addition to core Java, I have very basic knowledge of multi-threading, graphics and applets.
I use Intellij-Idea for programming.

[2020-11-22 23:07] sanket0354 commented on #10844
Going to take a look at this issue as my first one once I set up the project.

[2020-11-24 01:10] sjkadali commented on #10804
Hi, I would like to work on this.

[2020-11-26 16:05] mayralgr commented on #9663
@Adoby7 is this still open to work with? or was it close with #9689 https://github.com/TEAMMATES/teammates/issues/9689 ?

[2020-11-26 16:17] mayralgr commented on #4312
@madanalogy is this still open? can I work on it?

[2020-11-26 16:31] madanalogy commented on #4312
The specified controller class actually no longer exists. The functionality / feature might still be present somewhere however since the migration of v7. @wkurniawan07 any chance you know if this is still an issue? If no then I'll likely close the issue

[2020-11-26 19:17] mayralgr commented on #9663
@madanalogy is this still an issue? or was it close with #9689

[2020-11-27 02:09] wkurniawan07 commented on #4312
"Eventual consistency" is a lingering matter due to the nature of the DB we used. Although for this specific problem, even the error message `Entity already exists exception occurred when updating student: Trying to create a Student that exists:` doesn't really make sense. I guess it's becoming a wild goose chase if we keep this issue around.

[2020-11-28 09:25] madanalogy commented on #9663
It was not fixed by that PR but appears to have been fixed based on manual testing on the production site at v7.5.0. Feel free to comment if you believe the issue is still valid

[2020-11-28 09:25] #9663 closed

[2020-11-28 09:25] #4312 closed

[2020-12-04 02:53] damithc opened #10851 "Instructor cannot change student email if the section has 100 students"
If a section has 100 students already, TEAMMATES doesn't allow the instructor to change the email of a student in that section.

![image](https://user-images.githubusercontent.com/1673303/101115681-b9db2e00-361e-11eb-9315-71ec0061b8a1.png)

[2020-12-04 04:45] g-lilian commented on #8528
Hi, first time contributor here. May I know how to access the page with the mouseover tooltip? In the demo session, I only see the dropdown list. I'm logged in as an admin.
![Screenshot_1](https://user-images.githubusercontent.com/50647023/101122888-81435080-362e-11eb-9342-1279791465c1.jpg)

[2020-12-04 08:27] #10844 closed

[2020-12-05 11:38] wkurniawan07 commented on #10851
I don't believe that's the problem. That error is thrown before any DB read is done, i.e. it has to be the students list.

[2020-12-05 11:55] wkurniawan07 commented on #10851
Ignore my previous message, but this still calls for more info.

Student email is the primary key of a student (along with course ID), so an operation to "change email" doesn't really make sense. Just consider this question: how to know which old email to replace? Relying on any other field, albeit reasonable ones like name, is a dangerous assumption.

[2020-12-05 12:18] wkurniawan07 commented on #10851
Alright, so the verdict is the described original issue stands.

But this should not be `p.High` because the instructor can delete the old student before enrolling a new one. Not convenient, but not a blocker.

[2020-12-05 12:24] damithc commented on #10851
In this specific case, the student has submitted responses to previous submissions but lost access to the email account and is asking the instructor to change the email.
The instructor (that's the user who reported this error) thinks the old submissions of the students will be preserved through this edit-email operation. I'm not sure if that's the case, but if it is, delete-and-add is not a good w

[2020-12-06 04:35] rrtheonlyone commented on #10851
I did some investigation on this issue.

We use the `EnrollStudentsAction` even when updating a student and do the following steps:
1. Get and validate the API request paremeters: get a list of students who need to either be updated/added
2. Fetch ALL students in course
3. Iterate through list in (2) and check if the students in (1) have an existing email address inside (2)
4. If email address is

[2020-12-06 04:54] #10845 closed

[2020-12-06 04:55] madanalogy opened #10854 "Release V7.6.0"
Scheduled for Sunday, 6 Dec 2020, 9pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2020-12-06 05:15] wkurniawan07 commented on #10851
This is wrong.

[2020-12-06 05:31] madanalogy commented on #8528
That should be the correct page, the UI has changed since the issue was first filed. The issue is still relevant however, as you can tell from the dropdown menu

[2020-12-06 11:50] #10662 closed

[2020-12-06 14:20] #10693 closed

[2020-12-06 14:31] madanalogy commented on #10854
[V7.6.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.6.0) has been released by @madanalogy at December 6th, 2020, 10.28pm SGT.

Code contributions from: @ccyccyccy, @jtankw3, @madanalogy, @moziliar, @sanket0354, @wkurniawan07
Review contributions from: @ChooJeremy, @damithc, @madanalogy, @rrtheonlyone, @wkurniawan07, @xpdavid

Ready for post-release check and deployment by PM (@damithc)

[2020-12-06 15:47] rrtheonlyone commented on #10851
Ah yes - sry should have been `UpdateStudentAction`!

I did a more thorough check now and found the error happens here: https://github.com/TEAMMATES/teammates/blob/2c7d0715b488d319a9ee95e13a05f082d84236bb/src/main/java/teammates/logic/core/StudentsLogic.java#L256-L274

The issue is that since the email has changed, we add it to our `mergedList` and think we have too many inside the same section. T

[2020-12-06 17:22] mbrat06 commented on #10615
Hello, we are a group of students new to open-source and tried to fix this issue. Would you please have a look ? Thanks !

[2020-12-06 17:51] wkurniawan07 commented on #10297
This can be considered as done for now

[2020-12-06 17:51] #10297 closed

[2020-12-07 03:56] #10804 closed

[2020-12-07 04:15] damithc commented on #10854
Deployed and released. Thanks all for the contributions.

[2020-12-07 04:52] #10854 closed

[2020-12-08 02:05] #10615 closed

[2020-12-08 23:46] bezalelBU commented on #10605
Hello, I would like to work on this issue.

[2020-12-09 01:49] rrtheonlyone commented on #10605
Hi @bezalelBU, how do you plan on going about with this issue? You might want to start off with our first timer issues and move on to this to get some familiarity with our application.

[2020-12-09 01:56] rrtheonlyone commented on #10809
Hi @damithc , some UI discussion on this change.

What would be the flow to add questions after this change?

<img width="875" alt="Screenshot 2020-12-09 at 9 50 51 AM" src="https://user-images.githubusercontent.com/10579415/101563361-14500200-3a04-11eb-9576-5c022b992688.png">

(4) Might have to be changed to : "You can now click `Discard Unsaved Edits` to remove any unsaved changes you made to th

[2020-12-09 03:51] damithc commented on #10809
Yes, I think so too. Remove it altogether then?

[2020-12-09 04:17] rrtheonlyone commented on #10809
Yes I agree and then we can remove the 4th point completely from below.

<img width="875" alt="Screenshot 2020-12-09 at 9 50 51 AM" src="https://user-images.githubusercontent.com/10579415/101563361-14500200-3a04-11eb-9576-5c022b992688.png">

[2020-12-09 06:44] damithc opened #10859 "Provide a way for instructors to view students' access records"
Suggested feature: allow instructors to view students' access records of a course. Minimally viewing submission forms and submitting of responses

Reason: Instructors send support requests to check if a certain student has accessed TEAMMATES before the deadline, as they claim to have done. This is currently a labor intensive task for the admin to do.

However, I'm not sure if we have enough data t

[2020-12-09 06:50] wkurniawan07 commented on #10859
Highly not recommended. Logs are not meant for this kind of usage.

[2020-12-09 06:58] damithc opened #10860 "Student submit responses: prompt the student to save a submission confirmation"
Suggestion: After a student submits responses, prompt the student to save a record of responses locally in some suitable format (rtf, pdf, text?).

Reason: In case the submission is found to be missing in the data base later or the submission doesn't go through for some reason, the student has proof of submission as well as a copy of the responses that can be used in a resubmission.

Some backgrou

[2020-12-09 07:26] damithc commented on #10859
Not using logs is fine, but the feature request is still legit (?).

If not using logs, we need to write more data to the database to keep track of user access, plus periodically purge the data as no point keeping old log data in the database. That's why we used logs for this feature earlier (it was limited to admin users only back then, and the feature got removed in V7).

[2020-12-09 07:39] wkurniawan07 commented on #10859
I did not object this part.

- The old feature is for audit/tracing by admin, which is a legitimate usage of all logs. This is an entirely different thing.
- Logs should never be exposed to users (they weren't even exposed to devs).
- Even if we use logs, the source of logging has drastically changed: from page-based to API call-based.

Neither of them is an issue.

[2020-12-09 07:48] wkurniawan07 commented on #10859
To be fair, using logs can be a legitimate solution, but it needs to be very targeted and very secured.

[2020-12-09 08:22] damithc commented on #10859
Yup, for example, the log content should not be revealed to the user. Instead, the backend should read the logs, figure out which times the user accessed TEAMMATES, and give only that information to the instructor.

[2020-12-09 13:41] g-lilian commented on #10659
Is this issue still relevant? When I tried previewing this type of question (rubric question), it automatically generates all team members instead of having the user select the recipient.
![Screenshot_1](https://user-images.githubusercontent.com/50647023/101636695-a7218880-3a66-11eb-973a-b8d81983e84d.jpg)

[2020-12-09 16:55] bezalelBU commented on #10605
@rrtheonlyone, thank you for responding. I don't have any experience outside of my own projects, so I think you are probably right, and I will look for an issue with that label.

My idea had been to try to modify the script in "...\teammates\src\web\app\pages-session\session-submission-page\session-submission-page.component.ts". Since it checks the length of the responses to make sure they're not

[2020-12-09 19:08] bezalelBU commented on #8465
I believe I have fixed this issue. May I submit PR?

![tm-8465-fix 6](https://user-images.githubusercontent.com/59073587/101675568-33a45a80-3a17-11eb-99c4-8e5a973b33c0.png)

[2020-12-10 00:08] rrtheonlyone commented on #10605
@bezalelBU yes that is a good starting point. However, there are multiple other considerations here e.g. we may have to change the backend logic. We have to discuss further on the pros/cons of having this feature too (based off the above discussion)

[2020-12-10 00:27] rrtheonlyone commented on #8465
@bezalelBU yes please go ahead

[2020-12-10 04:24] damithc opened #10862 "Student viewing results: Add more info to about the 'Team View'"
When a student is viewing the results of a 'Team contribution' question, she can click on the (i) icon to find more info about how to interpret the results.
![image](https://user-images.githubusercontent.com/1673303/101721203-5d768380-3ae2-11eb-8ed0-fed152098b67.png)

Suggestion: Add the following information to the modal that pops up.

Note that the above also means the ‘Team view’ seen by each t

[2020-12-10 04:39] damithc opened #10863 "Student viewing results of team contribution questions: Show the difference between views"
Current: Here is an example of what a student sees when viewing the results of a 'Team contribution' type question
![image](https://user-images.githubusercontent.com/1673303/101721691-84818500-3ae3-11eb-8efe-4357e8ba8889.png)

Suggested:
* Add a third row called the `Difference` that gives the difference (i.e., `team_view - my_view`) between the two rows. e.g., -1%, -1%, -1%, +2%
* Give separate t

[2020-12-10 04:56] wkurniawan07 commented on #10863
Difference won't make sense for the "others" because those are sorted

[2020-12-10 05:04] damithc commented on #10863
In V6, the order of `others` was the same in both rows. Did that change in V7?

[2020-12-10 05:05] damithc commented on #10863
This is IIRC. I could be wrong though.

[2020-12-10 05:05] wkurniawan07 commented on #10863
No. In both cases both are sorted in descending order.

[2020-12-10 05:48] damithc commented on #10863
Oh, I see. The first thing is to find is if retaining the order takes a lot of additional effort or it's just a matter of removing the sorting step. Do you happen to know off-hand or will it take some digging up?

[2020-12-11 01:45] #8528 closed

[2020-12-11 11:35] Syasyazman commented on #10863
Hi, I would like to ask if sorting is removed and the order is retained, won't it be easy for students to know which team member received which team view score? Will that compromise the privacy of the contribution feedback?

Hi, I would like to ask if sorting is removed and the order is retained, won't it be easy for students to know which team member received which team view score? Will that comp

[2020-12-11 12:28] damithc commented on #10863
Good point. Perhaps we shouldn't do that, given that the change will apply to past sessions as well. Let me close this issue.

[2020-12-11 12:28] #10863 closed

[2020-12-11 12:57] jianhandev commented on #10788
Based on the code, the red error message will appear when the length of the `courseCandidates` array is 0.

Since the `courseCandidates` array is by default initialized to an empty array, the error message will appear for a split second before `loadCandidatesCourse()` fetches the actual data from the server.

I believe this can be fixed by introducing a boolean flag (as mentioned by @damithc) that

[2020-12-11 13:03] CreaTorAleXander commented on #8769
Is this issue free or is someone working on it?

[2020-12-11 15:51] wkurniawan07 opened #10870 "Improve error messages for 403 errors"
https://github.com/TEAMMATES/teammates/blob/1a9b7ee20bd97631c62497508013e5085c6a475f/src/main/java/teammates/ui/webapi/WebApiServlet.java#L99-L102

Currently, all `403` errors will be returned as "You are not authorized to access this resource.". This is a deliberate decision dated back to https://github.com/TEAMMATES/teammates/issues/9421#issuecomment-466831518:
[code]

The reasoning is still rel

[2020-12-12 05:03] jianhandev commented on #10788
I've tried to fix the above two issues separately in two of my PRs (#10872 and #10871)

[2020-12-13 04:45] rrtheonlyone opened #10874 "Migrate away from Travis CI"
There has been a recent [change](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing#:~:text=For%20those%20of%20you%20still,d%20like%20to%20test%20out) to Travis CI's pricing policy.

This means that we have to shift our CI away from Travis to Github Actions as soon as possible. This issue will log and keep track of that change.

TODO:
- [X] Ensure E2E tests pass more reliably
- [x] Remove

[2020-12-13 05:00] madanalogy commented on #10651
@damithc @wkurniawan07 could we possibly use `ngb-tooltip-class` for the styling of this popup modal link? I was taking a look at https://github.com/TEAMMATES/teammates/issues/8465#issuecomment-741985931 and realise that it's similar to the screenshot of MarkBind's modal dialog trigger

[2020-12-13 05:46] ANANYA7566 commented on #10809
This issue is still open that means it has not been fixed yet?

[2020-12-13 06:00] damithc commented on #10651
How does it look like? And does the mouse icon change appropriately to indicate a clickable element when hovering over it?

[2020-12-13 06:00] ANANYA7566 commented on #10805
Hi, is the problem fixed?

[2020-12-13 16:30] rrtheonlyone commented on #10750
Just adding an idea here:

What about adding the institute into the web link we give the students? Then we can immediately give them the footer information without any additional costs.

e.g. /web/sessions/submission?courseid=rr.r.c-demo&key=2906774B64722AB76063CA67B14179E31707726AE6274AD24C3A1B84EFE9E5AC&studentemail=1%401.com&fsname=Second%20team%20feedback%20session&**institute=.....**

In orde

[2020-12-13 17:18] damithc commented on #10750
Good point. A bit worried that the longer the link is, scarier it looks to users, and higher the chance of our emails getting flagged as 'unsafe' (?)

[2020-12-14 06:15] wkurniawan07 commented on #9536
This can be considered as done as we have sufficient E2E tests now.

[2020-12-14 06:15] #9536 closed

[2020-12-16 16:23] yhtingg opened #10880 "padding style for ErrorReportComponent"
- **Environment**:

`master` branch at commit `a61aa0da`

**Description of feature/enhancement**

![Screenshot from 2020-12-17 00-07-00](https://user-images.githubusercontent.com/46165274/102374907-d3a44a00-3ffc-11eb-9445-0bec6138d2df.png)

noticed that there is a lack of padding for the `ErrorReportComponent`, perhaps would be good to check if it is intentional, else a suitable padding could be a

[2020-12-16 16:51] damithc commented on #10880
Unlikely it is intentional. Would be good to fix.

[2020-12-16 20:07] yhtingg commented on #10880
Duplicate of https://github.com/TEAMMATES/teammates/issues/10573

[2020-12-16 20:07] #10880 closed

[2020-12-18 03:37] #8465 closed

[2020-12-18 03:41] madanalogy commented on #10805
There is currently an open PR addressing this issue

[2020-12-18 04:19] jianhandev opened #10885 "Numerical scale question table is not responsive to different browser size"
A responsive table will display a horizontal scroll bar if the screen is too small to display the full content. (Example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_table_responsive)

The stats table for the numerical question seems to have a fixed width and is not responsive when window is resized, causing issues like the one shown below.

_Notice the table extends beyond the b

[2020-12-18 16:21] wkurniawan07 commented on #10793
This is too minor of a change request to be a standalone issue, and the effect to readability/execution speed is marginal at best.

[2020-12-18 16:21] #10793 closed

[2020-12-18 16:28] wkurniawan07 commented on #5721
Resolved by #10861

[2020-12-18 16:28] #5721 closed

[2020-12-18 16:29] wkurniawan07 commented on #10860
Resolved by #10861

[2020-12-18 16:29] #10860 closed

[2020-12-18 16:29] wkurniawan07 commented on #10870
Resolved by #10879

[2020-12-18 16:29] #10870 closed

[2020-12-18 16:59] madanalogy opened #10886 "Release V7.7.0"
Scheduled for Saturday, Dec 19, 2020, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2020-12-19 10:03] #10805 closed

[2020-12-19 14:35] #10573 closed

[2020-12-19 14:58] madanalogy commented on #10886
[V7.7.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.7.0) has been released by @madanalogy at December 19th, 2020, 10.47pm SGT.

Code contributions from: @bezalelBU, @g-lilian, @jianhandev, @madanalogy, @ripudaman1320, @sjkadali, @wkurniawan07, @yhtingg
Review contributions from: @ccyccyccy, @damithc, @madanalogy, @niqiukun, @rrtheonlyone, @t-cheepeng

Ready for post-release check and d

[2020-12-20 03:14] damithc commented on #10886
Deployed and released. Thanks all for the contributions 👍
New contributors, welcome to TEAMMATES!

[2020-12-20 07:15] #10886 closed

[2020-12-21 17:05] damithc opened #10891 "Student answering numerical scale question: valid values are rejected"
Reported by a user. I was able to reproduce:

![image](https://user-images.githubusercontent.com/1673303/102802315-6a07af80-43f1-11eb-8c13-774fa6c238b3.png)

When the increment is 0.1, valid values are being rejected. I suspect the way JS handles float number precision is to blame.
Need to fix quickly as it affects an ongoing session.

[2020-12-21 18:11] wkurniawan07 commented on #10891
Java is not free from floating point errors either (I don't think any programming language is).

[code]

Why this didn't happen before: step validation was conveniently missed in V6
https://github.com/TEAMMATES/teammates/blob/9c60e07c260c3f4fd1b268d627f0cd4b9cda24da/src/main/java/teammates/common/datatransfer/questions/FeedbackNumericalScaleQuestionDetails.java#L724-L739

[2020-12-21 18:16] wkurniawan07 commented on #10891
https://github.com/TEAMMATES/teammates/blob/4a7d83795e56cbc33f3741273debfa776bf2c7e5/src/main/java/teammates/common/datatransfer/questions/FeedbackNumericalScaleQuestionDetails.java#L48-L76
[code]

Someone needs to check whether this covers all cases. This is why #1501 is important.

[2020-12-22 07:13] damithc commented on #10891
Thanks for the quick investigation @wkurniawan07
Others, please help to roll out a hot fix quickly.

[2020-12-22 07:14] damithc commented on #10891
BTW, if a proper fix is going to take a time, we can disable the step validation as an interim measure?.

[2020-12-25 01:55] madanalogy commented on #10891
Resolved with #10892

[2020-12-25 01:55] #10891 closed

[2020-12-25 01:59] #10788 closed

[2020-12-25 21:30] AdithyaNarayan commented on #9630
It seems like this issue does not exist anymore at commit be7f0b6. Not sure at which commit it was fixed, but it does not occur anymore.

Also, a point to note is that there is a new feature in v7 that enables instructors to make the feedback session visible to all students before the feedback session is open for student responses. Hence, it is possible that the issue was reported when the opening

[2020-12-26 04:59] damithc commented on #9630
Thanks for the investigation @AdithyaNarayan This feature was present in V6 as well. As to if the bug is really fixed now, let's wait for @ChooJeremy (or someone else) to cross check.

[2020-12-26 05:13] #10750 closed

[2020-12-26 12:18] Bhaarat-khatri commented on #10885
I understand the problem and i want work in this issue.
please tell me what u exactly want a table which is responsive whose size decrease with size brower decrease or something else
please elobrate more..

[2020-12-26 17:32] yzia2000 commented on #10885
I created a pr addressing this. Its a very simple solution to the issue.

[2020-12-28 01:47] ChooJeremy commented on #9630
Yup, issue seems to have been resolved.

[2020-12-28 01:47] #9630 closed

[2020-12-29 01:32] #10862 closed

[2020-12-30 16:34] damithc opened #10901 "Skip 'closing soon' emails if already submitted"
Current: TEAMMATES send an automated email to all respondents 24 hours before the session deadline.
Suggested: Skip that email for those who have submitted responses already
Reason: To reduce email cost

[2020-12-30 16:35] damithc opened #10902 "Skip 'session closed' emails if already submitted"
Similar to #10901

[2020-12-30 16:40] damithc opened #10903 "Send an 'opening soon' email to course owners"
Suggestion: Send an 'opening soon' email to course owners 24 hours before a session opens
Reason: It can help prevent sessions being opened by mistake (e.g., instructor set the wrong opening time, or, forgot to delete a test session)

[2020-12-30 17:35] wkurniawan07 commented on #10901
Something that I have been wondering for the longest time:

Is "submitted" defined as all the questions that the student/instructor has to answer or answered, or just any non-zero amount of them? e.g. if I have 10 questions to answer but answered only one, does that count as "submitted"?

[2020-12-30 17:51] damithc commented on #10901
As of now, submitting even one question is enough to be considered as submitted.

[2021-01-04 11:57] damithc opened #10907 "Resource not found error encountered by user"
A user reported the following error:
![image](https://user-images.githubusercontent.com/1673303/103532674-a265be00-4ec6-11eb-8761-96147d600b9a.png)

The responses seem to have been saved though.

1. What's the likely cause of this error?
2. Is it possible to improve the error message?

Let me know if you need some info from the logs.

[2021-01-04 12:00] wkurniawan07 commented on #10907
?? That's the submission confirmation that has bern decommissioned. Must be a very badly hit front end cache.

[2021-01-04 12:03] damithc commented on #10907
Indeed. Let's close this then.

[2021-01-04 12:03] #10907 closed

[2021-01-08 10:12] #10590 closed

[2021-01-10 07:33] #10901 closed

[2021-01-10 08:25] madanalogy opened #10909 "Release V7.8.0"
Scheduled for Monday, Jan 11, 2021, 2.00pm SGT .

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2021-01-10 14:00] #10825 closed

[2021-01-10 14:40] #7731 closed

[2021-01-11 06:26] madanalogy commented on #10909
[V7.8.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.8.0) has been released by @madanalogy at January 11th, 2021, 02.25pm SGT.

Code contributions from: @daongochieu2810, @jianhandev, @madanalogy, @rrtheonlyone, @wkurniawan07
Review contributions from: @ChooJeremy, @damithc, @madanalogy, @rrtheonlyone, @t-cheepeng, @tiuweehan, @wkurniawan07, @xpdavid

Ready for post-release check and de

[2021-01-12 12:25] daongochieu2810 commented on #10903
Should a new email template be created? Or we can use ```EmailTemplates.USER_FEEDBACK_SESSION``` ?

[2021-01-12 15:25] damithc commented on #10909
Deployed and released. Thanks to everyone who contributed 💯

[2021-01-12 15:25] #10909 closed

[2021-01-15 10:13] madanalogy opened #10915 "Add fine grained instructor permissions for course management"
**Environment**: Live server as at V7.8.0

**Description of feature/enhancement**
Separate course CRUD permissions into specific access control features. For example, a specific permission for creating sessions in a course and another for deleting sessions in a course.

**Justification**
Course owners who want to add instructors to help with course/session management should be able to approach the

[2021-01-15 13:13] Derek-Hardy commented on #10809
Hi, @damithc. After adding & saving changes to the question, clicking `Done Editing` will often pop out "Discard unsaved fields".

In fact, we need to click `Save` / `Save changes` at the very top of the page to actually "save all edits" for the session before clicking `Done Editing` button to exit, which happens to be at the very bottom.

This counter-intuitive workflow is worsened when there are

[2021-01-15 14:40] damithc commented on #10809
Actually, the `save` button at the top is to save settings only. I don't think it saves any questions.
Each question, if edited, needs to be saved individually.
So, I don't think a 'scroll to top' button is needed in this page as the workflow doesn't require the user to scroll to the top at the end of editing.
The 'Done editing' button adds to the confusion without adding much value and in some ca

[2021-01-15 16:32] madanalogy opened #10917 "Unexpected behaviour when reverting to template feedback path"
**Environment**: Live server at V7.8.0

**Steps to reproduce**

1. Add new essay question to a feedback session
2. Change feedback path to custom feedback path
3. Attempt to revert feedback path to preset template provided

**Expected behaviour**
User interface reverts to template display prior to selecting custom feedback path

**Actual behaviour**
User interface does not change and the visibilit

[2021-01-16 08:40] t-cheepeng commented on #10917
I think this behaviour makes sense? If an instructor changes a feedback path, the visibility should reset itself too as the visibility options don't make sense anymore.

Unless we want to add a default setting to each feedback path (not sure if that is worth the trouble)

[2021-01-17 16:18] rrtheonlyone commented on #10902
Actually for this, I am wondering what is the purpose of the 'session closed' emails in the first place. I initially thought that the 'closed' emails are for a student to just double-check that his submission is okay.

In this case, if we only send this to students who have not even attempted a single question, what would be the purpose? (since they cannot go and submit anymore)

[2021-01-18 05:02] srdeotarse opened #10919 "Error message while adding instructors. [The server encountered an error when processing your request.]"
Help Request: [Not able to add Instructors , getting Status-FAIL and Message-The server encountered an error when processing your request.]

- **Commit SHA:** Message visible at front dev server
- **Operating System:** Ubuntu 20.04
- **JDK Version:** 11
- **Node.js Version:** v10.19.0
- **Google Cloud SDK Version:** 323.0.0
- **IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if a

[2021-01-18 05:11] rrtheonlyone commented on #10919
Hi there, use JDK 1.8 instead of JDK 11?

[2021-01-18 10:20] madanalogy commented on #10917
Anyone addressing this issue then should just focus on the UI component and leave the feedback path portion alone

[2021-01-18 11:03] srdeotarse commented on #10919
Thanks @rrtheonlyone I will try with JDK 1.8

[2021-01-18 12:53] rrtheonlyone opened #10920 "Improve Front-End Testing"
We can add further tests to the frontend to ensure our application works as intended.

This issue is created to help keep track of pages that require testing:

- [ ] Session Submission Page
- [ ] Session Edit Page
- [ ] Session Result Page
- [ ] Course Join Page
- [ ] Instructor Home Page
- [ ] Student Home Page
- [ ] Courses Page
- [ ] Course Edit Page
- [ ] Course Enroll Page
- [ ] Admin Search

[2021-01-18 16:03] Derek-Hardy commented on #10885
Here the problem is:

side-nav has attribute `position: fixed`, which effectively takes the element out of the page flow. Simple margin / padding / set `@media max-width` may not fundamentally help with this issue.

Instead, we look for ways to allocate column space responsively for `main-body` and `side-nav`. I attempted this issue using bootstrap grid system  #10921.

[2021-01-19 02:18] #10809 closed

[2021-01-19 04:20] madanalogy commented on #9480
Issue is more clearly outlined in #10920

[2021-01-19 04:33] #10532 closed

[2021-01-19 05:23] #10919 closed

[2021-01-19 10:51] srdeotarse opened #10922 "No top padding for 'Add All Instructors' button"
No top padding for 'Add All Instructors' button [ No space between 'Add Instructor Results' table and 'Add All Instructors' button.]

- **Environment**: Front dev server

**Steps to reproduce**: Already present

**Expected behaviour**:'Add All Instructors' button should have top padding like shown below -
![image](https://user-images.githubusercontent.com/53873549/105024501-2d6fb800-5a72-11eb-98cb

[2021-01-19 13:08] Derek-Hardy commented on #10920
I will attempt on `Student Home Page` component.

[2021-01-20 05:18] madanalogy commented on #10902
@damithc can we get your input on this? Maybe remove session closed emails altogether

[2021-01-20 05:36] damithc commented on #10902
They can ask for a deadline extension. It also reminds the instructor that the session is over (when s/he receives a copy) so that the followup actions can be taken without delay. So, there is _some_ use although not a lot.

[2021-01-21 01:41] #10922 closed

[2021-01-22 04:20] #10504 closed

[2021-01-23 09:36] damithc opened #10928 "Add a script for the admin to generate a list of active instructors"
context: We need to inform instructors about the replacement of 'submission confirmation email' with a 'download proof of submission' feature. Otherwise, instructors can end up giving wrong instructions to students.

suggestion: Add a script for the admin to generate a list of emails of instructors who have been active in a certain period in the past.

Example of another admin script `java/teammat

[2021-01-23 10:26] wkurniawan07 commented on #10928
For me, this is only one form of solution. The real problems are very much still glaring:
- We don't have any means to inform users of updated features
- We don't have any means (from within the system) to communicate to users

[2021-01-23 11:46] damithc commented on #10928
Yes, in the long run, we need need such a system. In the interim, this can be used. Plus, this is still needed in case we need to inform users of a 'system down' situation or we need to contact users urgently (without waiting for them to login).

[2021-01-23 12:08] wkurniawan07 opened #10929 "Migrate Task Queue API and Logs API to GCP clients"
Currently, we use GAE Task Queue API `com.google.appengine.api.taskqueue.*` and GAE Logs API (`com.google.appengine.api.log.*`) for queueing tasks and compiling logs. We will change them to their GCP client counterparts, namely Cloud Tasks API and Cloud Logging API.

These two are low hanging fruits in that no additional setups are necessary: creating a GAE app within a GCP project automatically g

[2021-01-24 14:48] madanalogy opened #10931 "Adding a new question typo in save button"
**Environment**: Live Server at V7.8.0

**Steps to reproduce**
Add a new question to a feedback session, a "new question" box appears.

**Expected behaviour**
Button to save the new question indicates "Save Question".

**Actual behaviour**
Button to save the new question indicates "Save Questions" despite not being able to add any more questions.

**Additional info**
![Jan-24-2021 22-43-06](https:

[2021-01-25 06:40] madanalogy opened #10933 "E2E tests consistently failing"
![Screenshot 2021-01-22 at 12 52 28 PM](https://user-images.githubusercontent.com/42177597/105669793-eaeb2700-5f1a-11eb-9fcf-e384b1e65fd4.png)

The error comes from the comparing back-end/front-end, not during checking of recency as described in #9645. Updating the timezone database (as outlined in the [maintainer guide](https://github.com/TEAMMATES/teammates-ops/blob/master/maintainer-guide.md#ti

[2021-01-25 15:11] #10933 closed

[2021-01-25 15:56] #10564 closed

[2021-01-26 12:20] damithc opened #10936 "Enrolling students: undocumented restriction on team name length"
When an instructor enrolls students, it turns out the team length cannot be longer than 60 chars. However, the error message doesn't mention this limitation (but specifies lot of other rules).
![image](https://user-images.githubusercontent.com/1673303/105844036-86f85980-6013-11eb-9889-56d3449de6f8.png)

Might apply to other fields as well.

As a side note, there is room to improve error messages i

[2021-01-27 03:01] madanalogy commented on #10928
Could we maybe just make use of a banner like last time? It's the most effective way to communicate with instructors imo, could resolve https://github.com/TEAMMATES/teammates/issues/10782 as well

[2021-01-27 04:24] damithc commented on #10928
That can work but this is not as time-boxed as the previous case. An instructor might log into TEAMMATES only during just one week in the year. So, we'll have to keep the banner for a long period, which can become an eyesore to those who login frequently.

[2021-01-28 16:07] damithc opened #10938 "Support copying courses"
Suggestion: allow users to create a copy of a course, including sessions, but excluding students
Reason: often, instructors want to repeat the same sessions in subsequent offerings of the course

[2021-01-29 08:07] madanalogy opened #10939 "Release V7.9.0"
Scheduled for Friday, Jan 29, 2021, 6:00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-01-29 08:08] madanalogy commented on #10939
I won't be free this weekend so decided to have this release settled today

[2021-01-29 09:46] #10527 closed

[2021-01-29 12:20] madanalogy commented on #10939
Released delayed till tomorrow 10am while waiting for #10940 to settle

[2021-01-30 01:50] madanalogy commented on #10939
[V7.9.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.9.0) has been released by @madanalogy at January 30th, 2021, 09.48am SGT.

Code contributions from: @AdithyaNarayan, @daongochieu2810, @hhdqirui, @madanalogy, @srdeotarse, @teikjun, @wkurniawan07
Review contributions from: @ChooJeremy, @Derek-Hardy, @ccyccyccy, @damithc, @hcwong, @madanalogy, @niqiukun, @rrtheonlyone, @t-cheepeng

Rea

[2021-01-30 07:29] daongochieu2810 opened #10941 "Copying questions requires scrolling the whole list of current questions"
![Screenshot from 2021-01-30 15-26-02](https://user-images.githubusercontent.com/53283766/106350312-9c210100-630f-11eb-9878-7eebf07741a0.png)

Copying questions requires scrolling the whole list of current questions which could be time-consuming if the list is long. The checkbox for each question appears to be very small on my laptop.

Suggestions:
- Fix the buttons' positions e.g bottom of the mo

[2021-01-30 16:39] rakeshmissioncode commented on #8769
I'd like to start contributing to this issue.
Any hints on which part of the code I should start with, for this issue?

[2021-01-31 15:56] wkurniawan07 opened #10944 "Migrate Blobstore API to Google Cloud Storage"
Similar to #10929 but for this issue it is `com.google.appengine.tools.cloudstorage.*` and `com.google.appengine.api.blobstore.*` which should be changed to using Google Cloud Storage API directly. As before, no additional setup is necessary since Blobstore API uses GCS behind the screen.

[2021-02-02 02:09] Jellwood commented on #10931
I know it seems like this issue was taken, but the linked mention shows a deleted branch and closed pull request? Is this issue still open or should I keep looking for another possible issue? Thank you in advance!

[2021-02-02 03:38] madanalogy commented on #10931
This issue is still available for first time contributors, feel free to read up on our development guide and send in a PR when you're ready

[2021-02-02 04:10] Grahamet commented on #10785
Hi I'm a student new to open source and I see that this issue has been requested but i was wondering if it is possible to work on as it still is tagged as open and hasn't been commented on since November 2020?

[2021-02-02 08:45] #10902 closed

[2021-02-02 15:00] johnzarnowski commented on #10938
Hi Damith, I have a project for a software methodology class to contribute to an open source repository and I'm  interested in this project. Could I be assigned to this issue?

[2021-02-02 17:41] raman-thakur commented on #10931
So, here we only need to change the button  "Save Questions" -->> "Save Question" ??

[2021-02-03 03:46] damithc opened #10946 "Student submitting responses: ambiguous error message"
Reported by a user:

![image](https://user-images.githubusercontent.com/1673303/106695326-5026d280-6615-11eb-8a38-b3f8491f9fa3.png)

Perhaps remove the ambiguity and/or give more guidance to the user?

[2021-02-03 03:48] wkurniawan07 commented on #10946
This is old version before the submission confirmation got removed (notice the missing confirmation button).

[2021-02-03 03:52] damithc commented on #10946
I thought it's odd too. So, a stale cache problem? But the session in question is very recent.

![image](https://user-images.githubusercontent.com/1673303/106695725-26ba7680-6616-11eb-8472-cdb82886f69b.png)

[2021-02-03 03:54] wkurniawan07 commented on #10946
Front-end cache doesn't store anything from DB

[2021-02-04 05:18] wkurniawan07 commented on #10946
Closing as this is not a valid issue

[2021-02-05 20:11] samuelshix commented on #10931
Hey, I'm new to contributing to open source projects on GitHub. How do I get started to contribute to this issue?

[2021-02-07 07:52] #10931 closed

[2021-02-07 07:57] #9480 closed

[2021-02-07 14:17] Aditya-Ramachandran commented on #10806
Hi, I would like to work on this issue, can you suggest me ways get started?

[2021-02-07 14:50] rrtheonlyone commented on #10806
Hi @Aditya-Ramachandran , there is already an open PR addressing this issue - please take a look at the other open issues we have available!

[2021-02-07 15:11] Aditya-Ramachandran commented on #10806
Oh okay @rrtheonlyone, I will take a look at the other ones.
Thank you!

[2021-02-08 01:57] #10874 closed

[2021-02-08 05:26] #10806 closed

[2021-02-08 14:43] halfwhole commented on #10700
Hi, I'm attempting to work on this issue currently. Would an error message like this be more understandable or appropriate?

![teammates-csrf-problem](https://user-images.githubusercontent.com/41856541/107234507-b620b900-6a5e-11eb-8838-735e6984ea3f.png)

[2021-02-08 15:15] damithc commented on #10700
Perhaps no need to mention CSRF token to the user?

[2021-02-08 15:34] madanalogy opened #10950 "Audit Logs for Instructors"
Issue to keep track of PRs developing the feature in title. See https://github.com/TEAMMATES/teammates/wiki/Audit-Logs-for-Instructors

Epic will be resolved after merging of feature branch to master.

[2021-02-08 15:36] #10885 closed

[2021-02-08 17:10] halfwhole commented on #10700
Might this work better?

---

### Uh oh! Something went wrong.

We are sorry for the error. It is likely that your browser could not create or access cookies for authorization. If cookies are disabled in your browser, please turn on your cookies before trying again.

For further support, please email us at teammates@comp.nus.edu.sg.

[2021-02-09 00:51] damithc commented on #10700
Yes, better. If applicable, we can also suggest other solutions such as emptying cache or trying a different browser?

[2021-02-09 02:23] halfwhole commented on #10700
Sure thing, I've added it here:

---

### Uh oh! Something went wrong.

We are sorry for the error. It is likely that your browser could not create or access cookies for authorization. If cookies are disabled in your browser, please turn on your cookies before trying again. Alternatively, you could also try emptying your browser's cache, or switching to a different browser.

For further support, p

[2021-02-09 02:52] damithc commented on #10700
Looks OK to me but do get opinions from others as well. Make sure these suggested solutions actually work (I don't know myself).

[2021-02-09 02:58] stapletonce commented on #9884
Is this bug still open?

[2021-02-10 12:57] damithc commented on #10939
Deployed and released. Thanks to everyone who contributed 💯

[2021-02-11 02:07] #10939 closed

[2021-02-11 03:35] damithc opened #10952 "Submission links sent to instructors: Also give join link if not joined yet"
Scenario:
* A session has questions to be answered by instructors
* Instructors are sent emails containing a link to submit responses
* Unlike links sent to students, instructors need to join the course before they can submit responses

Suggestion:
* If the instructor has not joined yet, the email can also contain the join link with a note that they need to join before they can submit. If not, som

[2021-02-11 06:11] damithc commented on #10946
I received several more reports of this problem. Is there a way to reduce the incidence? e.g., setting some sort of cache expiry window? Or it's not in our control at all?

[2021-02-11 12:53] moziliar commented on #8011
Regarding this issue, is it possible to mark the students as virtually deleted and run period task to cleanup? Would this be a better way to perform deletion than a blocking delete?

[2021-02-11 17:18] rrtheonlyone commented on #8011
This will then require a modification to all our GET methods since we now need to check if the student is marked for deleted or not. It is possible but there are considerations.

[2021-02-12 09:47] moziliar opened #10953 "A script to create a mock course for stress tests"
Part of #10959

We need a script that can create a mock course populated with large amount of data to generate a significant load for stress testing.

This script should feature:
* (Basic) Create arbitrary number of students, teams, questions and responses
* (Optional) Create arbitrary number of courses, sessions, instructors and questions with different types (and their responses)

[2021-02-12 10:52] moziliar commented on #8011
@rrtheonlyone noted. In a long run, it might amortize many things if we put delete tag in all objects; in short term, the shift has a large impact

[2021-02-12 14:18] rrtheonlyone commented on #10946
Right now - we have set an expiration for our static files as follows:

https://github.com/TEAMMATES/teammates/blob/5621286df24b2780ae7f4966fdbd3269822ec033/src/main/webapp/WEB-INF/appengine-web.template.xml#L20-L26

The above specifies the length of time a static file served by this handler should be cached by web proxies and browsers.

The above is taken from the [docs here](https://cloud.google

[2021-02-13 04:09] Derek-Hardy opened #10955 "Migrate Objectify 5 to Objectify 6"
This issue keeps track of PRs developing features in the title.

**Environment**:
All PRs for this feature should be made against `objectify-v6-migration` branch **[⚠️ IMPORTANT]**

**Description of feature/enhancement:**
See https://github.com/TEAMMATES/teammates/wiki/Google-App-Engine-Runtime-Upgrade for project details.

**Related past issues:**
#9131

Epic will be resolved after merging of fea

[2021-02-13 05:40] damithc commented on #10946
Thanks for the investigation @rrtheonlyone

![image](https://user-images.githubusercontent.com/1673303/107842742-72cc9e80-6e00-11eb-90e7-1cd8dd2493f1.png)

I'm a bit scared to go ahead with this on the live server. It doesn't say the rule applies to static files only. Can one of you try on a staging server first?

[2021-02-13 05:41] damithc commented on #10946
Shall we set this to a shorter time?

[2021-02-13 05:55] rrtheonlyone commented on #10946
@damithc Okay shall we do `1d` for the expiration of all files?

I have a staging server setup recently - let me try the above and see what happens

[2021-02-13 06:03] wkurniawan07 commented on #10946
That file is not version-controlled. Can just redeploy with modified value. But only changing the value of `index.html` can have any effect here. The CSS/JS files are hashed so they're as good as non-existent unless called by the outdated `index.html`.

[2021-02-13 06:15] rrtheonlyone commented on #10946
Oh yes, your right - guess then it is already at a reasonable value of `1d` expiration

[2021-02-13 07:51] wkurniawan07 commented on #10955
I modified the title. Upgrading to GAE 2nd generation runtime entails a lot of things and this is only one of them.

[2021-02-13 09:08] Derek-Hardy commented on #10955
@wkurniawan07 Yeah.. technically we can just use #9131. Then I will pin the issue and reference existing PRs to that?

[2021-02-13 11:06] moziliar opened #10959 "Enable large course response download"
**Description of feature/enhancement**

Currently, the result download of large courses faces a bottleneck at either the DB access with GAE max timeout 30s or the overall API call with GAE max timeout 60s. Furthermore, too much data being processed also would result in backend OOM. These render instructor unable to download course result whose construction exceeds either of the aforementioned bott

[2021-02-13 11:12] moziliar commented on #10959
**Environment**: staging server of F1_1G instance (1024MB memory)

Using the script in #10953, a bottleneck is found near a course with 600 students, 100 teams (hence 6 team members), 25 questions setup with text question of sub 20 character response. This download runs in around 40-45s. Any increment would result in OOM in the backend (as observed from a course with 30 questions and other params

[2021-02-14 02:50] madanalogy commented on #10938
@johnzarnowski we recommend first-time contributors to try issues labelled `good first issue`, or alternatively other small issues as opposed to a big enhancement request such as requested in this issue

[2021-02-15 02:09] #10928 closed

[2021-02-15 03:01] madanalogy opened #10963 "Release V7.10.0"
Scheduled for Monday, Feb 15, 2021, 10.00pm SGT or after #10930 is merged, whichever is later.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-02-15 04:02] johnzarnowski commented on #10938
@madanalogy thanks for your help Ahmed. I will let you know if any of those issues interest me.

[2021-02-15 05:51] moziliar opened #10964 "Enable large course enrolment"
**Description of feature/enhancement**

Allow course instructor to create course with > 100 students.

**Justification**

Currently, TEAMMATES course creation only accepts 100 students per enrolment. This causes inconvenience to course instructor with > 100 students as it will require subsequent enrolments. Inconsistency in student data might even be introduced.

## Considerations

### Direction
*

[2021-02-15 09:55] madanalogy commented on #10651
Dashed underlines like the screenshot you posted above. TEAMMATES however uses this styling to indicate a tooltip. What we can do is have modal popups be changed to also use this styling, with the tooltip "Click here for popup"

[2021-02-15 14:56] #10929 closed

[2021-02-15 15:02] madanalogy commented on #10963
[V7.10.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.10.0) has been released by @madanalogy at February 15th, 2021, 11.01pm SGT.

Code contributions from: @AdithyaNarayan, @Derek-Hardy, @daongochieu2810, @jfrairigh, @madanalogy, @rrtheonlyone, @stapletonce, @t-cheepeng, @wkurniawan07
Review contributions from: @ChooJeremy, @Derek-Hardy, @ccyccyccy, @damithc, @hcwong, @madanalogy, @niqi

[2021-02-16 03:17] stapletonce commented on #10917
Does this bug still need to be worked on?

[2021-02-16 03:34] sofefr commented on #10433
Does this still need to be worked on?

[2021-02-16 05:52] madanalogy commented on #10917
Yeap, feel free to give it a shot and let us know if you have any questions or run into any problems

[2021-02-17 07:34] t-cheepeng opened #10969 "Instructor Audit Logs Frontend"
**Description of feature/enhancement**
Frontend UI for instructor audit logs page

**Preliminaries**
The expected user flow for the logs page is
- Click Logs -> Select date and time to search logs from -> Select date and time to search logs to -> Select the particular course id to search for -> Hit search/filter button and retrieve data. Once data is retrieved, there are two different layout for t

[2021-02-17 16:50] moziliar opened #10970 "Reduce course student fetch in student enrolment workflow"
Currently, student enrolment incurs two calls to fetch all students from the course.
([student validation](https://github.com/TEAMMATES/teammates/blob/204f0de2e53fb161b9311f52cb6952eaf1c45ccf/src/main/java/teammates/ui/webapi/EnrollStudentsAction.java#L64))
([determine update or create](https://github.com/TEAMMATES/teammates/blob/204f0de2e53fb161b9311f52cb6952eaf1c45ccf/src/main/java/teammates/ui/

[2021-02-20 03:13] t-cheepeng commented on #10969
@damithc Updated mockup for audit logs page. If ok, we can proceed with this design

![audit-logs-wireframe-v3](https://user-images.githubusercontent.com/28994607/108582183-7d40e800-736c-11eb-825b-40d50cd8f54c.png)

[2021-02-20 04:05] damithc commented on #10969
Student name is going to be a drop down or typing?
Should some columns in the table be sortable? e.g., name
Can provide optional filtering by the session?
The end time can be optional (current time being the default)
'Audit logs' is an internal term. Use a more user-friendly term?
I assume the times are in user's timezone?

Anyway, the above are not fundamental; can do along the way.

[2021-02-21 03:44] damithc opened #10973 "Manager-level instructor cannot view results of a session"
v7.9.0
Reported by a user
![image](https://user-images.githubusercontent.com/1673303/108614937-02460300-743a-11eb-8223-01fc4f632477.png)

![image](https://user-images.githubusercontent.com/1673303/108614932-ee020600-7439-11eb-9ee1-9abb61bb5417.png)

Let me know if cannot reproduce.

[2021-02-21 04:24] damithc opened #10974 "NPE from scheduleFeedbackSessionPublishedEmail"
This error happened soon after both times I deployed v7.10.0 (I rolled back both times). First time I wasn't sure if the error is caused by a change in the new version. After the second time, seems too much of a coincidence.

v7.10.0

java.lang.NullPointerException
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:878)
	at com.google.cloud.tasks.v2.QueueName.<init>(QueueName

[2021-02-21 06:19] madanalogy commented on #10973
That's weird, managers should have `CAN_VIEW_SESSION_IN_SECTIONS` permissions, unless there was an API error in retrieving the permissions. Anyone else able to reproduce the error? Can't seem to replicate it on my dev server.

[2021-02-21 06:39] wkurniawan07 commented on #10973
This looks like a bug, but the reproduction scenario is very specific. @damithc was the instructor in question given some kind of custom privilege before, then it was changed to manager?

[2021-02-21 08:15] damithc commented on #10973
Let me check with the user and get back.

[2021-02-21 09:50] madanalogy commented on #10974
Let us know if this issue is not resolved with https://github.com/TEAMMATES/teammates/pull/10930#discussion_r579756269

[2021-02-21 14:58] damithc commented on #10973
User says permissions was changed from co-owner to manager in an attempt to resolve this, which means the problem was present even when she had co-owner permissions. Although the user didn't mention it, she may have been given custom permissions earlier without her even knowing about it. She doesn't have the same problem in other courses, which means it is something specific to this course/session

[2021-02-21 15:16] wkurniawan07 commented on #10973
@damithc I know the steps I mentioned will reproduce the case. I just need the confirmation that it is what happened here and not anything else.

[2021-02-21 20:58] sofefr commented on #10561
Does this issue still need to be worked on?

[2021-02-22 03:11] t-cheepeng opened #10976 "Document frontend standardizations"

[2021-02-22 03:46] #10941 closed

[2021-02-22 04:57] #10953 closed

[2021-02-22 12:28] #8918 closed

[2021-02-23 04:31] damithc commented on #10973
From another user who has been experimenting with custom permissions (might be related to this issue):

[2021-02-23 04:46] damithc commented on #10974
After setting the region in build.properties, I did not receive any errors. Unfortunately, it's because even the error reporting mechanism (which relies on the task queue) stopped working. Only realized the problem when a few users reported not being able to send reminders to students. I rolled back to the previous version after that.

There are several errors in the log, but all mention permissio

[2021-02-23 04:48] damithc commented on #10974
For the record, app info:

codeBucket: staging.teammatesv4.appspot.com
databaseType: CLOUD_DATASTORE
defaultBucket: teammatesv4.appspot.com
defaultCookieExpiration: 1209600s
defaultHostname: teammatesv4.appspot.com
gcrDomain: us.gcr.io
id: teammatesv4
locationId: us-central
name: apps/teammatesv4
servingStatus: SERVING

[2021-02-23 05:29] damithc commented on #10974
Solved by giving 'Editor' permissions to the gserviceaccount
![image](https://user-images.githubusercontent.com/1673303/108805597-f6457700-75da-11eb-99bf-7d839ccae6c6.png)

Thanks @wkurniawan07 for the solution info

[2021-02-23 05:54] damithc commented on #10974
The 'log compilation' cron job that runs every 5 minutes still seems to have some problem.

    Make sure to call shutdown()/shutdownNow() and wait until awaitTermination() returns true.
java.lang.RuntimeException: ManagedChannel allocation site
	at io.grpc.internal.ManagedChannelOrphanWrapper$ManagedChannelReference.<init>(ManagedChannelOrphanWrapper.java:93)
	at io.grpc.internal.ManagedChannelOr

[2021-02-23 06:11] wkurniawan07 commented on #10974
That is a known issue (https://github.com/googleapis/google-cloud-java/issues/3693) and is not a cause of concern (at best, just some annoyance).

[2021-02-23 06:33] damithc commented on #10974
I see. Well, this means I'm going to receive an error log email every 5 minutes. I can't simply ignore them either, as the email can contain other error messages. So, looks like we'll have to find a way around it? Perhaps we can update the log compilation task to ignore this specific error? https://github.com/googleapis/google-cloud-java/issues/3693 says it is fixed and to be released but that was

[2021-02-23 06:44] wkurniawan07 commented on #10974
https://github.com/TEAMMATES/teammates/blob/4e443205d9c351e0b95d011504548cdcbe5a3f63/src/main/java/teammates/ui/webapi/CompileLogsAction.java#L61-L69

@damithc can try adding this before the `for` block above:
[code]

[2021-02-23 11:20] damithc commented on #10974
That seems to have done the trick. Thanks @wkurniawan07

[2021-02-23 14:22] damithc commented on #10963
Deployed and released. Thanks to everyone who contributed. 💯

[2021-02-23 23:38] jfrairigh commented on #10569
**Problem Introduction:**
I have solved the bullet points under the session edit form. However, there is one component test (BuildPropertiesTest) that isn't passing. It doesn't pass in either my local master or my local working branch so I think it may be an environment issue.

**What I have tried to fix the failing test:**
I noticed some of the "build.template.properties" files had additional con

[2021-02-24 04:19] damithc opened #10979 "Provide a 'today' button in date picker"
Suggestion: Provide a 'today' button in date pickers so that the user can easily navigate to the calendar of the present time. This is especially useful when an instructor copies an old session and updates the dates to match the current semester (which is a very frequent use case).

![image](https://user-images.githubusercontent.com/1673303/108946690-e50f6f80-7699-11eb-9021-f7a3daee269f.png)

Also

[2021-02-24 05:38] #10963 closed

[2021-02-24 05:39] madanalogy commented on #10569
@jfrairigh it's best to create a new issue in the tracker with your request for help, that way we can discuss it there and close the issue after your problems have been resolved

[2021-02-24 05:40] madanalogy commented on #10974
I'm guessing the task now is to have this in the main code base by the next release

[2021-02-24 05:52] damithc commented on #10974
Yes, I think so.

[2021-02-24 17:13] damithc opened #10981 "Instructor setting question options: support generating options from team members"
Shouldn't there be options `team members` and `team members excluding self` here?
![image](https://user-images.githubusercontent.com/1673303/109038345-9815b280-7706-11eb-930f-09a5ec391f02.png)

[2021-02-24 20:11] syrinemahmoud commented on #10979
that sounds a good idea for improvement

[2021-02-25 12:52] wkurniawan07 commented on #10981
There never was. Also, that option only makes sense if the giver is students.

[2021-02-25 14:42] damithc commented on #10981
Yes, it can be only for cases where the giver is a student.
We can add it as the use case is legit. In fact this was reported by a user.

[2021-02-25 16:05] madanalogy commented on #10955
I think we can just stick to using this issue since it's already up, I'll close the older one

[2021-02-25 16:05] madanalogy commented on #9131
Continued in #10955

[2021-02-25 16:05] #9131 closed

[2021-02-26 03:52] jfrairigh opened #10982 "**BuildPropertiesTest is Failing:**"
**Problem Introduction:**
The build properties component test is failing in both my local master and working branch. My master branch is clean and up to date with Teammates' master. Since the test is failing in both branches, I think it is a configuration issue.

**What I have tried to fix the failing test:**
1.) I have followed Step 3 of https://github.com/TEAMMATES/teammates/blob/master/docs/set

[2021-02-26 04:09] moziliar commented on #10982
May I check if you are able start up the backend using `./gradlew appengineRun`? It might be that the thread failed to read in the runtime environment and failed to generate the AppURL, hence failing the test.

[2021-02-26 06:48] jfrairigh commented on #10982
I started the backend using ./gradlew appengineRun. It looks normal to me. Here is a screenshot of it:
![image](https://user-images.githubusercontent.com/67874354/109265432-29029180-77cc-11eb-96e9-6cdca07d534b.png)

[2021-02-26 07:03] moziliar commented on #10982
The failing test asks for the server url to be not null; this is generated by the appengine api sdk. Could you check your sdk version? Also, could you try to put some debugging lines in `src/main/java/teammates/common/util/Config.java` around line 129?

[2021-02-26 15:13] #10944 closed

[2021-02-27 07:34] moziliar opened #10986 "Show loading message below response loading spinner"
From PR #10960

**Description of feature/enhancement**

If a course has many students (or in general many responses per question), add extra loading text below the spinner to inform the user that the students are being loaded (after perhaps 5s).

![image](https://user-images.githubusercontent.com/19870898/109378773-25782300-7910-11eb-82af-dda66fc57782.png)

**Justification**

From @damithc

This w

[2021-02-27 13:08] amarlearning opened #10987 "Inconsistency in opening contact page"
In the footer section of the home page, `Become a sponsor` and `send feedback` both the HTML link redirects to the `contact` page. The only difference is `send feedback` has `target=_blank` while the `Become a sponsor` link doesn't have `target=_blank`.

![imageedit_3_4198622514](https://user-images.githubusercontent.com/9383897/109388083-edcaa480-792a-11eb-98a5-cba11fe79ccc.png)

<span style="col

[2021-02-27 14:22] moziliar commented on #10938
@damithc Regarding the cloned course, may I confirm that all it retains from the original are the sessions and the questions?

[2021-02-27 16:58] jfrairigh commented on #10982
I have google cloud sdk version 311.0.0. I will look at the Config.java file. Thank you for your help so far.

[2021-02-28 03:20] damithc opened #10988 "NPE in EmailGenerator.generateFeedbackSessionReminderEmails"
v7.10.x, production

This error happened about 25 times in the last 4 days. It hasn't happened earlier. So, either a change on GAE/Sendgrid side or a change in our latest version could be causing it.

java.lang.NullPointerException
at teammates.logic.api.EmailGenerator.generateFeedbackSessionReminderEmails(EmailGenerator.java:95)
at teammates.ui.webapi.FeedbackSessionRemindParticularUsersEmailWork

[2021-02-28 03:40] damithc commented on #10938
@moziliar I can think of improving this feature progressively, as follows:

1. copy all sessions (including questions)
2. let the instructor choose which sessions to copy
3. let the instructor choose instructors to copy? Likely to be a rare use case though
4. let the instructor choose to copy students as well? Likely to be a rare use case though

We can start with 1

[2021-02-28 09:39] madanalogy commented on #10987
@damithc was there any intent to have only one link open in a new tab?

[2021-02-28 09:44] madanalogy commented on #10988
Strange, the only changes to `EmailGenerator` was in #10914 though it doesn't seem anything there will cause an NPE

[2021-02-28 09:55] damithc commented on #10987
I don't think so.

[2021-02-28 14:35] madanalogy commented on #10987
Anyone tackling this issue should fix the behaviour such that both links open in a new tab then

[2021-03-01 04:26] Derek-Hardy commented on #10982
@jfrairigh Could you try to delete the existing `build.properties` file and re-run `./gradlew createConfigs`? This will generate the latest config consistent with `build.template.properties`.

Then you can test again whether the same error persists.

[2021-03-01 07:35] AdithyaNarayan opened #10992 "Refactor frontend test data resources"
Currently, most of the test data and example data used in the frontend tests are nested within the `spec.ts` files itself.

If we have a dedicated resource folder and store the usual test case data in a `JSON` file, we would reduce clutter in the `spec.ts` file and also allow sharing of test data between multiple related components.

[2021-03-01 14:08] #10988 closed

[2021-03-01 16:46] damithc opened #10994 "Submission after deadline: handle proof-of-submission"
Steps:
1. Student opens the session before the deadline is over (but very near to it)
2. Student clicks the submission button after the deadline is over

Would the student still receive a proof-of-submission file?

A user reported a case where the student says he received a proof file but the file seems to be empty expect the header information at the top. The timestamp at the top of the file indi

[2021-03-01 20:00] syrinemahmoud opened #10995 "improvement in the contact page ( design )"
**Issue title: improvement in contact page (Design)

**Description of feature/enhancement
The feature ' Contact Us' , can be improved with 2 methodes :
it can be either improved and putted in the navbar (as ot is now) , or it can be as a footer at the end of the home page
Ideally , it should be  in the navbar  , but with some modifications in the design

**Justification
The contact page is minimal

[2021-03-02 01:24] #10974 closed

[2021-03-02 06:14] #10987 closed

[2021-03-02 20:29] Jellwood commented on #10651
I've been trying to figure out a style that would be different enough to distinguish, could there be a case for changing the color on all of the modal links to distinguish them from a hyperlink? I know the dashed underline style is already used for tooltips and I was not sure if it would make more sense to just use an entirely different style for modal windows?

[2021-03-03 02:29] madanalogy opened #10996 "Release V7.11.0"
Scheduled for Wednesday, 3 Mar 2021, 11am SGT .

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-03-03 02:37] madanalogy commented on #10996
[V7.11.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.11.0) has been released by @madanalogy at March 3rd, 2021, 10.35am SGT.

Code contributions from: @AdithyaNarayan, @Alicewillbe, @Jellwood, @halfwhole, @jianhandev, @madanalogy, @moziliar, @rrtheonlyone, @t-cheepeng, @wkurniawan07
Review contributions from: @ChooJeremy, @Derek-Hardy, @damithc, @madanalogy, @rrtheonlyone, @t-cheepeng,

[2021-03-03 02:48] madanalogy commented on #10651
I'm thinking this should be good enough. @damithc any thoughts?

[2021-03-03 03:48] damithc commented on #10996
Deployed and released. Thanks to everyone who contributed. 💯

[2021-03-03 03:48] #10996 closed

[2021-03-03 04:08] damithc commented on #10651
Yes. Also, the mouse icon can change on hover to indicate that the text is clickable, which is not the case for tooltips.

[2021-03-03 04:10] damithc commented on #10651
For good measure, we can use dotted underline for tooltips and dashed underline for modals as an added differentiation on top of other things.

[2021-03-03 04:12] #10700 closed

[2021-03-03 04:21] damithc opened #10998 "NPE caused by GoogleCloudStorageService.doesFileExist"
v7.11.0, live server

java.lang.NullPointerException
at teammates.logic.core.GoogleCloudStorageService.doesFileExist(GoogleCloudStorageService.java:34)
at teammates.logic.api.FileStorage.doesFileExist(FileStorage.java:27)
at teammates.ui.webapi.GetStudentProfilePictureAction.execute(GetStudentProfilePictureAction.java:66)
at teammates.ui.webapi.WebApiServlet.invokeServlet(WebApiServlet.java:93)
at

[2021-03-03 06:47] wkurniawan07 commented on #10998
https://github.com/TEAMMATES/teammates/blob/3869c599376e08d7e7559bc18fd6572c5bf624f6/src/main/java/teammates/logic/core/GoogleCloudStorageService.java#L30-L36

[code]

[2021-03-03 07:03] #10998 closed

[2021-03-03 07:04] madanalogy opened #11000 "V7.11.1"
Scheduled for Wednesday, 3 Mar 2021, 4pm SGT .

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-03-03 07:07] madanalogy commented on #11000
[V7.11.1](https://github.com/TEAMMATES/teammates/releases/tag/V7.11.1) has been released by @madanalogy at March 3rd, 2021, 03.06pm SGT.

Code contributions from: @halfwhole, @madanalogy
Review contributions from: @ChooJeremy, @damithc, @madanalogy

Ready for post-release check and deployment by PM (@damithc).

[2021-03-03 07:42] Derek-Hardy commented on #10995
I am not sure what do you mean here. Which navbar are you referring to?

The current footnote already has `Feedback` and `Become a sponsor` redirection to the 'Contact Us' page.

You could probably elaborate a bit more on this (with illustration if possible).

[2021-03-03 07:44] Derek-Hardy commented on #10995
Nonetheless, the idea of bringing the 'Contact Us' page to the last section of 'Home' is interesting.

[2021-03-03 14:15] damithc commented on #11000
Deployed and released. Thanks for the quick fix.

[2021-03-03 14:15] #11000 closed

[2021-03-03 14:43] Derek-Hardy opened #11001 "Remove appengine.api.datastore usage after Objectify v6 upgrade"
- **Environment**: `objectify-v6-migration` branch

After upgraded Objectify to v6, we should no longer rely on any `com.google.appengine.api.datastore.*` usage.

There are still some leftover code to be cleaned up:
[code]

[2021-03-03 14:53] Derek-Hardy opened #11002 "Separate emulator ports for component and E2E tests"
- **Environment**: `objectify-v6-migration` branch

Currently both `BaseE2ETestCase` and `BaseComponentTestCase` extends from `BaseTestCaseWithObjectifyAccess` and therefore share the same `EMULATOR_PORT`.

It would be better to use separate ports for two kinds of tests that require local datastore emulator setup. To avoid potential interference in persisting storage.

[2021-03-03 17:11] moziliar opened #11003 "Create new LnP tests on student updates via enrollment"
Follow up of #10964

We need to create new LnP test to automate the load testing of the enrollment workflow with different scenarios.

- [X] Enrollment of new students
- [x] Update existing students and their responses and comments

[2021-03-03 18:16] Jellwood commented on #10651
I can get started on trying to get a solution for this! I just wanted to check and make sure that the discussion earlier was still relevant, since the discussion just got re-opened.

[2021-03-03 19:28] syrinemahmoud commented on #10995
Thank you for your  interaction @Derek-Hardy

1- Components maybe arranged into boxes instead of line
You could probably elaborate a bit more on this (with illustration if possible).
-> Actually , i'm thinking about something similar to that , just for a design perspective , if we want it to be in the footnote , something similar to this could be a nice idea I think
![image](https://user-images.gi

[2021-03-03 19:44] syrinemahmoud opened #11004 "Requesting modifications in 'About' page"
Issue title: [Request modification on 'About 'page]

**Description of feature/enhancement**
Actually , I'm thiniking of arranging contributors according to their experience, positions and field of activity.
The type or form of contribution can also be a good point to add about past contributors

**Justification**
This might be helpful for users to contact contributos easily , in case they need the

[2021-03-04 04:21] moziliar commented on #10982
Hi @jfrairigh , any update on the problem? Does it still exist?
Consider upgrading the cloud sdk if it is not resolved after the above step (I am on 326.0.0).

[2021-03-04 14:25] jfrairigh commented on #10982
I tried @Derek-Hardy 's suggestion, but it didn't fix the problem. I did notice only four out of the five build.properties files were regenerated by ./gradlew createConfigs, which I thought was interesting. I ran the test and it failed. Then, I manually made a copy of the 5th build.properties file, which is the one in teammates/build/exploded-repository/WEB-INF/classes. Ran the test again and it f

[2021-03-05 05:53] jfrairigh commented on #10982
I upgraded to sdk 330.0.0 and the test passed! Thank you everyone for the help!

[2021-03-05 05:53] #10982 closed

[2021-03-05 11:33] moziliar opened #11008 "Reduce memory consumption when outputting JSON data"
https://github.com/TEAMMATES/teammates/blob/b89e1bc5a41dd4da47351f7d96a83926c4aca9cd/src/main/java/teammates/ui/webapi/JsonResult.java#L62-L63

Currently, the JsonResult output is being transferred across call stack (from `JsonUtils.toCompactJson(output)` to `pw.print`) which incurs unnecessary memory consumption that could be saved by streaming the output into the `PrintWriter` directly.

This ca

[2021-03-05 13:26] moziliar opened #11010 "Show students created/updated in-place in instructor enrollment page table"
- **Environment**:

**Description of feature/enhancement**
Highlight student enrollment status per entry in the enrollment table.

![image](https://user-images.githubusercontent.com/19870898/110121470-6208ba80-7df9-11eb-84e9-aa105294095d.png)

**Justification**

Currently, the enrollment status, e.g. students updated, students created, students failed to be changed, are displayed underneath the en

[2021-03-05 13:52] moziliar opened #11011 "Enhance feedback response result endpoint"
This ticket is created to track the status of the following issue:

There are several issues to tackle in this issue:

* Backend fine-grained response fetch to prevent OOM or server timeout [TODO]
* Frontend response result loading optimization, related to above [TODO]
* Frontend CSV download improvement via pagination [[IN PROGRESS](https://github.com/TEAMMATES/teammates/issues/10959)]
* Workflow

[2021-03-05 14:21] #10979 closed

[2021-03-06 07:57] damithc opened #11013 "Instructor copy session: support edit-before-copy"
Current: When an instructor copies a session, start/end/publish dates are copied as is. The user has to change those dates via a subsequent edit operation.

The problem: For the brief period, the session is saved with possibly wrong dates. On a rare case, the hourly email generation scripts can run during that period, generating automated emails incorrectly. Happened once recently, sending 'sessio

[2021-03-06 11:50] moziliar opened #11014 "Enable feedback response fetch by section and question"
Part of #11011

**Description of feature/enhancement**

Either add an additional endpoint that allows frontend to fetch feedback response by section and question number, or update the current fetch endpoint.

**Justification**

As the number of students in a course goes up, feedback response result per question will incur both higher memory consumption and latency, leading to backend OOM and GAE t

[2021-03-06 11:55] moziliar opened #11015 "Optimize frontend result page fetching"
Part of #11011

**Description of feature/enhancement**

- [ ] Utilize the updated backend endpoint to achieve loading response by section and question
- [ ] Replace spinner with progress bar

**Justification**

Loading by section and question mitigates the backend server load in large courses.
In the case of long response loading, we would need to show the user there has been progress made.

[2021-03-06 15:11] Derek-Hardy opened #11016 "Objectify v6 compatibility testing"
**Environment**:
- staging server: `release` branch
- dev server: `objectify-v6-migration` branch

**Testing approach 1:** connect dev server to the staging server datastore
1. Add in `build.properties` the attribute `app.production.gcs.bucketname=tm-obj-v6-test.appspot.com`
2. Configure the method `contextInitialized` in `OfyHelper` as below:
[code]
3. Empty-override `setupLocalDatastoreHelper` a

[2021-03-06 15:15] Derek-Hardy commented on #11016
**Testing report (approach 1):** 14 failed cases

[code]

[2021-03-06 16:39] wkurniawan07 commented on #11016
[code]
`gs://...` has no meaning when run locally. What you want to do is downloading that backup snapshot and changing the `input_url` such that it points to your download location.

[2021-03-06 19:05] #11014 closed

[2021-03-06 19:44] Grahamet commented on #8769
Hi, I have been working on this, and I was wondering who would be best to talk to about some of the answers to the above
questions?

[2021-03-07 11:39] amarlearning commented on #10987
I believe if the hyperlink is of the same website, then `target=_blank` should not be used. Just like all the hyperlinks in the `Features` page open in the same tab even the contact page link at the end.

[2021-03-07 14:33] wkurniawan07 opened #11018 "Migrate Users API to Google OAuth 2.0"
As part of https://github.com/TEAMMATES/teammates/projects/8

Task list:
- [x] ~Refactor code to separate authentication and authorization step (the latter is independent of how user info is obtained, but right now both are in the same `GateKeeper` class)~ shipped to `master`
- [x] Set up OAuth 2.0 authorization flow for production usage
- [x] Set up dev server authentication workflow
- [x] Persis

[2021-03-07 15:05] wkurniawan07 opened #11020 "Migrate Search API to third-party service"
As part of https://github.com/TEAMMATES/teammates/projects/8

Our best alternatives as of now:
- https://console.cloud.google.com/marketplace/product/bitnami-launchpad/solr
- https://console.cloud.google.com/marketplace/product/bitnami-launchpad/elasticsearch

Task list:
- [x] ~Remove searching for response comments feature (it has been observed to have close to zero usage)~ (released in V7)
- [x]

[2021-03-07 17:42] wkurniawan07 commented on #11002
E2E test should in fact not rely on automatic setup of emulator.

- It's a black-box test; the software to be tested is supposed to be ready beforehand. By having this setup, we're mixing up the step of preparing the software with the tests themselves.
- At the current setup:
  - The local datastore helper will trigger even when running test against staging server, which is a waste of resource.

[2021-03-08 03:20] jianhandev commented on #11016
For testing approach 1, we will need to:
1. Set up two separate versions of TEAMMATES on the staging server (one using Objectify 5 and the other using Objectify 6)
2. Generate the old data on the v5 instance
3. Test against the old data using the v6 instance
4. Do a vice versa to test the new data generated against the old version, in case we need to roll back so that new data will still be compat

[2021-03-08 06:56] Derek-Hardy commented on #11016
**Test report (approach 2)**: all tests passed.
* exported data from staging server (v5) into emulator and ran e2e tests against dev server (v6)

[2021-03-08 16:54] damithc commented on #10987
@amarlearning's idea is a good baseline but we can deviate if it makes sense. I don't mind opening these in a new tab to avoid the possibility of a user accidentally overwriting a computationally heavy page (e.g., session results) that is currently loaded with one of these. But I'm OK either way.

[2021-03-09 07:20] Derek-Hardy commented on #11002
@wkurniawan07 My thoughts:

Yup, then we empty-override the local datastore helper setup for e2e.

I looked at it. [setup-gcloud](https://github.com/google-github-actions/setup-gcloud) can be the way to do it. But I can't find a way to interpolate variables from `build.properties`. We might need to hardcode port number for `gcloud` command in `e2e.yml` file?

I am thinking of defining `app.localda

[2021-03-10 03:40] jianhandev opened #11024 "Datastore emulator: Tests fail to run to completion"
### Environment:
- `objectify-v6-migration` branch

### Set-up
**OfyHelper**
[code]
`build.properties`
[code]
### Steps taken
Ran `gcloud beta emulators datastore start --host-port=localhost:8484`
[code]
Set the environment variables with `(gcloud beta emulators datastore env-init)`
[code]

After passing the first 25 backend component tests, the tests get "stuck" and no longer proceeds.

<img widt

[2021-03-10 09:09] wkurniawan07 commented on #11024
This is exactly what I meant when I said fixing the port number to 8484 will cause trouble

[2021-03-10 10:13] syrinemahmoud commented on #11015
i will try to take care of this , that sounds good idea of improovement for frontend

[2021-03-10 10:38] moziliar commented on #11015
Hi @syrinemahmoud, can you take a look at the existing PR linked to this issue #11017 and see if there's any other areas that could improve this issue otherwise? Would appreciate any suggestion of course.

[2021-03-10 11:55] wkurniawan07 commented on #11002
No issue with this. Tests in CI work by pulling values already hard-coded in the version control.

Might be, but you might also want to check first if using the more direct method of just running `gcloud beta emulators datastore start` will work.

`build.properties` has no business with any kind of tests.

This is right if L&P tests are white-box, however they are black-box tests and thus the same

[2021-03-10 12:26] dastansultanov opened #11026 "Consider combining Responsive and Adaptive Strategies"
**Description of feature/enhancement**
Consider using the adaptive web design approach, which uses static layouts. Or consider combining Responsive and Adaptive Strategies.

**Justification**
I found out that the website has some problems with displaying some elements in comparatively small displays. For instance, the incorrect display of the "Add new Course" button; margin size between elements s

[2021-03-10 14:08] Derek-Hardy commented on #11024
@jianhandev For component tests, there's already setup added in `BaseTestCaseWithObjectifyAccess`

[code]

So you can run `./gradlew componentTests` directly without booting up datastore emulator in local.

[2021-03-10 14:09] Derek-Hardy commented on #11024
@wkurniawan07 then shall we remove `setupLocalDatastoreHelper` for all tests and give back the flexibility of local configuration?

[2021-03-10 15:07] Derek-Hardy commented on #11026
Hi @dastansultanov Thanks for contributing this great idea!

We have recently migrated our frontend technology and admittedly there are still lots of defects in responsive design here and there that need to be improved.

Adaptive design has its merit indeed as you mentioned. It's common to have six screen size for a single page to provide a smooth UX. We might have to weigh between the site mainte

[2021-03-10 19:02] syrinemahmoud commented on #11015
@moziliar , thanks for intercation
Of course , this would be a great pleasure for me , i'll try to suggest something , and i will share with you my proposed solution as soon as I finish it .

[2021-03-11 10:05] wkurniawan07 commented on #11024
Why? It's a practical setup, as you can run component tests in one command instead of two. The only problem here is the port number used is the exact same as the port number used by local datastore emulator.

[2021-03-12 00:52] #11008 closed

[2021-03-12 14:37] Derek-Hardy commented on #11016
**Approach 2:**

**env:** `objectify-v6-migration`

**Error:**

[code]

[2021-03-13 07:10] jianhandev commented on #11016
Both errors seem to suggest that the data in the datastore might be in a format incompatible with the intended pojo field

[2021-03-13 13:32] #10959 closed

[2021-03-13 14:08] teikjun opened #11030 "Modification to "Download Results" button in session table component"
**Background Information**
In https://github.com/TEAMMATES/teammates/pull/10960, the "Download Results" button in Feedback Session Results page was modified. Instead of fetching all results at once, the results are fetched in batches to avoid API timeout. Also, the user is shown a modal containing download progress.

**Issue**
The session table component (found on both "Home" and "Sessions" tabs)

[2021-03-13 14:56] damithc commented on #11030
I think option 3 will be hard to explain to users. I'd rather avoid that.
Why can't the same mechanism (and the code) be used in both places? It's the same functionality, right?

[2021-03-13 14:56] moziliar commented on #11030
My feel about all these workflow changes are that they can always be automated. If user has to click "View Results" > "Download Results", my take is that it could be automated via solution 1. This should not be a problem if the download now fetches the necessary info (question id, section name) before commencing the same download as the result page.

[2021-03-13 16:01] teikjun commented on #11030
I agree that option 3's inconsistent behavior will be confusing. I also think that option 1 is the most sensible.

We can use a similar mechanism in both places. There are two main differences:
- In Feedback Session Page, `feedbackQuestions` are already fetched when the page is first loaded (in order to load the question tabs). In session table component, we'll need incur the additional performanc

[2021-03-13 16:06] damithc commented on #11030
I think on demand fetching is the way to go. We shouldn't add unnecessary database read to a page that is as frequently used as the home page.

[2021-03-13 16:35] teikjun commented on #11030
Agreed, I'll go with the on demand fetching approach

[2021-03-14 10:33] jianhandev commented on #11016
Environment: `objectify-v6-migration`
Ran into a similar error while running the dev server, which might give some clue on the problem.

The error is resolved locally, after deleting the `local_db.bin` file which contains the data stored in the emulator.

[code]

On google cloud console, I can see that `instructorPrivilegesAsText` (same for `instructions`, `answer`) are stored as `Embedded entity`

[2021-03-14 13:46] rrtheonlyone opened #11031 "Fix Component Tests"
Component tests are failing in current master branch due to Daylight Saving Time (DST) change for our snapshot.

[2021-03-14 14:10] #11031 closed

[2021-03-15 07:19] Derek-Hardy commented on #11016
**Backend exceptions:**
[code]

**Failed tests:** (28)
[code]

[2021-03-16 13:21] Jellwood commented on #10651
So I have the modal windows on the instructor help page working and differentiated from the other links, is the next step to get this across the website or is this page the only one for now?

[2021-03-16 16:11] madanalogy commented on #10651
You can put up a PR targeting just this page

[2021-03-17 03:25] madanalogy commented on #10950
@AdithyaNarayan @t-cheepeng @halfwhole It just occured to me that the authentication flow for creation of a session log should be similar to that of a feedback response submission. https://github.com/TEAMMATES/teammates/blob/6050caef9e401f9270f6fc83d35c0ebf56b53346/src/main/java/teammates/ui/webapi/SubmitFeedbackResponsesAction.java#L46-L89

This is to prevent DoS or other malicious activity on a

[2021-03-17 04:00] anshuman-dev commented on #8769
Hi. I wish to work on this Issue. Is there anyone working on it already?

[2021-03-17 04:04] Grahamet commented on #8769
I'm currently working on it and intend to have a pull request either tomorrow or Thursday but they haven't assigned anyone to it.

[2021-03-17 04:07] moziliar commented on #8769
@Grahamet will assign to you then. Thanks for the update.

[2021-03-17 04:09] moziliar commented on #8769
Some update about this issue: the `instructorHelp.jsp` content has been moved to `src/web/app/pages-help/instructor-help-page/instructor-help-getting-started/instructor-help-getting-started.component.html`

[2021-03-17 04:10] anshuman-dev commented on #8769
Okay. All the Best! :)

[2021-03-17 04:12] anshuman-dev commented on #10433
Can i take this issue? or anyone is working on it already?

[2021-03-17 04:14] anshuman-dev commented on #10986
Hi. Is this issue resolved? Or anyone working still on it?

[2021-03-17 04:14] moziliar commented on #10433
@anshuman-dev feel free to work on it.

[2021-03-17 04:14] Grahamet commented on #8769
@moziliar While I have you here I was wondering i was unsure on the answer for these 2 questions and was wondering if you could give some input?

Is data of my courses in TEAMMATES used for research? Are they shared with third parties?
Is TEAMMATES compliant with international data protection laws?

[2021-03-17 04:15] moziliar commented on #8769
@Grahamet I think I am not qualified to answer those and will divert them to @damithc

[2021-03-17 04:17] Grahamet commented on #8769
Alright thank you

[2021-03-17 04:48] damithc commented on #8769
@Grahamet my answers below:

No. If we decide to change this policy, we'll inform users and will provide an opt out.

Email us at `teammates@comp.nus.edu.sg` and we'll send you a copy of a document explaining our data protection measures.

[2021-03-17 08:31] jianhandev opened #11038 "Objectify V6 migration incompatibilities"
**Setup**
---
Dev server running Objectify V6, connected to staging server running Objectify V5.

**Submit feedback response**
---
| Staging | Local |
| --- | --- |
| <img width="1280" alt="Screenshot 2021-03-17 at 3 09 58 PM" src="https://user-images.githubusercontent.com/59337195/111432017-71600000-8737-11eb-9953-d1b485ecd91e.png"> | <img width="1280" alt="Screenshot 2021-03-17 at 3 09 48 PM" sr

[2021-03-17 08:55] jianhandev commented on #11038
Submitted a feedback response from the local dev server (V6) connected to staging server (V5). Datastore shows that the response is indeed added, but it is not visible on the webpage.

<img width="1012" alt="Screenshot 2021-03-17 at 4 51 00 PM" src="https://user-images.githubusercontent.com/59337195/111440083-f69be280-8740-11eb-9b98-7616d579a18e.png">

[2021-03-17 09:48] t-cheepeng commented on #10969
@damithc
As per the previous discussion, all columns in table are sortable and the times are in user's timezone. The default sort when the tabs are expanded is using student's name.
The search results largely look similar to the wireframe

![image](https://user-images.githubusercontent.com/28994607/111447653-9a3cc100-8748-11eb-8ca9-65aa7a0aefe6.png)

[2021-03-17 09:50] t-cheepeng commented on #10986
@anshuman-dev Priority will be given to the previous commenter as they have a PR up. You can try to find another `good first issue` to work on

[2021-03-17 10:00] damithc opened #11039 "Admin create accounts: make all sample students unregistered"
Feature in concern: admin creating new instructor accounts

Today, I tried to create 35 new instructors in one go, which resulted in about 5 of them failing. The error given below:

java.util.ConcurrentModificationException: too much contention on these datastore entities. please try again. entity group key: (app=s~teammatesv4, Account, "alice.b.tmms.sampleData")
at com.google.appengine.api.datast

[2021-03-17 10:15] moziliar commented on #11039
For sure. Should we examine all the existing parallel client operations and evaluate if they are necessary and whether they will cause race conditions like this?

[2021-03-17 10:48] damithc commented on #11039
A related question: how much work is to control the number of parallel requests? Is it as simple as setting a variable somewhere only or needs rewriting some parts entirely?

[2021-03-17 10:52] moziliar commented on #11039
In this particular case, preliminary discovery shows that it is due to a loop firing async instructor create event in quick succession. Rough thought about tackling it would be to just construct another `createInstructorService` which takes in array of instructors and sequentialize the account creation with single callback `concat`, the one we've been using for result pagination.

[2021-03-17 13:23] damithc commented on #10969
Activity type: the cell value needs to be meaningful to the user e.g., `Access` is not explanatory enough
Should the time be the first column? That's usually the case when you go through a log.
Most likely the activities will be confined to one session. Are we going to show empty tables for other sessions?

[2021-03-17 19:10] syrinemahmoud opened #11040 "providing access to non subscribers to have an ide"
Issue title: [providing access to non subscribers]

**Description of feature/enhancement**

providing access to non subscribers to have an idea about different goods provided by the platform .
This may increase the number of subscribers and may be beneficial to the project owner @damithc

**Justification**
non subscribers cannot use the platform unless , they have a university account , so they ca

[2021-03-18 00:30] moziliar commented on #11040
Can I clarify what you mean by "the platform"? And what ide is that you are talking about? And who are the subscribers and subscribers to what?

[2021-03-18 03:07] damithc commented on #11040
Thanks for the suggestion @syrinemahmoud
TEAMMATES is optimized for education use although we do provide accounts for non-education use if someone asks. But we don't have plans to optimize for non-education use.

[2021-03-18 03:07] #11040 closed

[2021-03-18 09:39] Derek-Hardy commented on #11038
Create/Edit the same `FeedbackResponse` on local v6 and staging v5 servers will save entities to different ID.

<img width="941" alt="Screenshot 2021-03-18 at 17 31 39" src="https://user-images.githubusercontent.com/32880438/111604323-2f56bd00-8810-11eb-9cdc-9086344a848e.png">

As shown in console above, modifications made on the same response are saved into 2 different entities.

[2021-03-18 12:38] t-cheepeng commented on #10969
@damithc  Swapped time to be first column along with the type and changed wording
![image](https://user-images.githubusercontent.com/28994607/111626926-7c935880-8829-11eb-90d1-c0167557ac76.png)

Not sure what you mean by this? Is it if we retrieve no logs for a particular feedback session for the given search period? If that's the case, we can either choose to not display the tab or display it but

[2021-03-18 13:24] damithc commented on #10969
`Activity type` -> `Activity`
Can use these:
* viewed the submission page
* submitted responses

How about this order? time, name, activity, email, section, team. This is assuming people read right to left (i.e., put more important info on the left).

If showing sessions without any activities, show them at the bottom of the page (i.e., active sessions should be on top) and greyed out. But this on

[2021-03-18 15:37] damithc commented on #11013
This happened again today. We might have to do a patch first before implementing a proper solution. In this case, I think the 'published emails sent' flag should be copied as-is, to prevent the 'results published' email being sent again. When the instructor changes the publishing date, the flag can be reset.

[2021-03-19 01:15] jfrairigh commented on #10569
I'm currently working on the remainder of the bullet point items for this issue. One of the items under Question Edit Form states, "Loading icon on save is too close to the tick icon on the save button". Here is a screenshot of how it looks currently:
![image](https://user-images.githubusercontent.com/67874354/111717163-831fd100-8825-11eb-9e99-34f10619a241.png)

How would you like it to look? To m

[2021-03-19 02:53] madanalogy commented on #10569
I believe that portion has been addressed in a separate PR actually. @damithc current spacing okay? Between the tick and the loading icon in the above screenshot.

[2021-03-19 02:55] #10651 closed

[2021-03-19 05:06] damithc commented on #10569
My expectations was the spinner will appear in place of the tick, and will be replaced by the tick when the work is done. Would that be better? That way, the button size can remain the same. OK if it's too late to go that way (i.e., if a different approach has been taken in other places already).
Plus, I would like to see a gif or a screen recording of how it actually appears in action.

[2021-03-19 07:22] t-cheepeng commented on #10969
@damithc
Implemented the changes and it looks like this now
![image](https://user-images.githubusercontent.com/28994607/111744918-e9106500-88c6-11eb-9a45-43f0eb79eba9.png)

[2021-03-19 09:05] damithc commented on #10969
Some points to consider:
* Activity Time -> Time?
* Should we show the seconds too? A lot can happen within a minute
* For the date picker, show the same date style as elsewhere. I think we want to pick a style that is clear for both US and non-US users.
* Submitted response -> Submitted responses
* Any reason for using green panels here? i.e., was it chosen based on some internal UI guidelines?

[2021-03-19 10:32] t-cheepeng opened #11042 "Incorrect label values being logged"
- **Environment**: `audit-logs` branch at 8bc9e64b

**Steps to reproduce**
Submit a feedback session

**Expected behaviour**
Email of student is logged and attached to the label `email`

**Actual behaviour**
The name of the student is logged instead

**Additional info**
A frontend issue

[2021-03-20 03:39] t-cheepeng commented on #10969
@damithc
![image](https://user-images.githubusercontent.com/28994607/111857968-2f6dce80-8970-11eb-921f-7b529c3e1848.png)

All above changed

No, there is no set guideline for choosing the panel colour. The green was choosen to mimic the GRQ/RGQ/etc... views in session results

[2021-03-20 04:30] damithc commented on #10969
Good. No further UI/UX feedback from me for the moment.

[2021-03-21 01:43] rrtheonlyone commented on #11013
@damithc One proposal for this is to:

1. Set `submissionStartTimestamp` and `submissionStartTimestamp` to be yesterday's date (or a date in the past):
2. Set `isClosingEmailEnabled` and `isPublishedEmailEnabled` to be false

https://github.com/TEAMMATES/teammates/blob/3801819753e9c69b7ed3e3c0282cab73a9a4c517/src/web/app/pages-instructor/instructor-session-base-page.component.ts#L52-L67

3. Print

[2021-03-21 03:20] damithc commented on #11013
Isn't this simpler? If the email was already sent out in the original session, the flag must be set accordingly in the original to prevent resending the email again. We just need to replicate the same flag in the copy.

[2021-03-21 03:54] rrtheonlyone commented on #11013
The issue with this is that we do not expose this flag in the API. This flag is only updated by the email action workers. We have to change the `CreateFeedbackSessionAction` to support this. Plus, we also have to change this flag somehow when the published date is changed (which probably involves an API change too). I don't think this is a simple change unless I am missing something.

The above pr

[2021-03-21 04:18] damithc commented on #11013
Well, I hesitate to change fields arbitrarily. What if the user wanted to keep them as they are? It reduces the value of _copying_ if the user has to go and change things back to original values again. Feels like shifting our work to the user.
In that case, perhaps we can go for the proper solution, which is to show the full 'session edit' form in a follow up modal and let the user change anything

[2021-03-21 04:27] rrtheonlyone commented on #11013
Yes true, it is definitely abit of a hack to change fields arbitrarily.

For the proper solution, we may have to change the feature a little. Right now, we allow for one session to be copied to multiple courses. Do we want to make it one-to-one instead? You have to copy one at a time but you will get a form modal with the details.

[2021-03-21 04:38] damithc commented on #11013
Perhaps whatever the changes user specifies in the second modal can be copied to all target courses? We don't allow specifying different values for different copies.

[2021-03-21 05:24] rrtheonlyone commented on #11013
Yup I think that works!

[2021-03-22 04:44] #11024 closed

[2021-03-22 05:13] halfwhole opened #11051 "Component tests failing"
Component tests are failing as the snapshots are out of date, due to changes in daylight savings time in tehran/iran (similar to #11031)

Would be worth opening a new issue to try to fix this more permanently in `instructor-courses-page` -- https://github.com/TEAMMATES/teammates/issues/9434 could be relevant

[2021-03-22 05:54] #11051 closed

[2021-03-22 07:01] t-cheepeng opened #11053 "Refactor ngbDatePicker to have 'today' button"
**Info**
For context, a new 'today' button has been added to a date picker when editing feedback session
https://github.com/TEAMMATES/teammates/issues/10979
https://github.com/TEAMMATES/teammates/issues/11047#issuecomment-803767493_

There exist multiple places where the `ngbDatePicker` will be used and it would good to have all the date pickers have the 'today' button.

**Task**
The task is to re

[2021-03-22 11:04] madanalogy opened #11054 "Release V7.12.0"
Scheduled for Monday, Mar 22, 2021, 8:00pm SGT .

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-03-22 11:25] halfwhole opened #11056 "Maintain validity of instructor courses test when timezones change"
Under the instructor courses page, a snapshot test currently exists for the add new course form. But as the timezones can shift over time (due to daylight savings time), the snapshot test can go from passing to failing unexpectedly as in #11031 and #11051.

![teammates-dst](https://user-images.githubusercontent.com/41856541/111980928-f2593600-8b41-11eb-8519-5db6e51f0552.png)

I'd previously wrote

[2021-03-22 11:30] madanalogy commented on #11054
[V7.12.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.12.0) has been released by @madanalogy at March 22nd, 2021, 07.27pm SGT.

Code contributions from: @Jellwood, @daongochieu2810, @halfwhole, @jfrairigh, @moziliar, @wkurniawan07
Review contributions from: @ccyccyccy, @damithc, @hcwong, @madanalogy, @moziliar, @rrtheonlyone, @t-cheepeng, @wkurniawan07

Ready for post-release check and

[2021-03-22 12:01] rrtheonlyone commented on #11054
Minor addition @teikjun also worked on #10960 :)

[2021-03-22 14:30] #11056 closed

[2021-03-23 12:36] wkurniawan07 commented on #11001
Work is done

[2021-03-23 12:36] #11001 closed

[2021-03-23 12:36] wkurniawan07 commented on #11002
Work is done

[2021-03-23 12:36] #11002 closed

[2021-03-23 12:37] wkurniawan07 commented on #11038
Work is done

[2021-03-23 12:37] #11038 closed

[2021-03-23 12:37] wkurniawan07 commented on #11016
Work is done

[2021-03-23 12:37] #11016 closed

[2021-03-23 13:00] damithc commented on #11054
Deployed and released. Thanks for the contributions everyone 💯

[2021-03-23 13:00] #11054 closed

[2021-03-24 02:03] jfrairigh commented on #10569
Here is a video of how the save spinner in the Question Edit Form currently looks:
https://drive.google.com/file/d/1QVPQP_OS0krRKW23qKPm94Ow4NL7LR_C/view?usp=sharing

The delete, copy, and upper save buttons in the Session Edit Form look the same way.

Should I continue with the same style or is it better to change styles by removing the icons and replacing them with the spinners?

[2021-03-24 03:13] moziliar commented on #10569
If it is not too troublesome, I'd say this is preferred as the tick is kind of redundant when the spinner appears.

[2021-03-24 03:27] damithc commented on #10569
@jfrairigh tip: you can embed the video here itself, just like screenshots. Just drop the file into the comment box.

[2021-03-25 08:45] moziliar commented on #11039
Actually in response to this: I suppose we could add a "threadpool" emulator framework to achieve frontend async call throttling. Typescript itself does not really have multithreading concept and is event queue based concurrent, so we have to construct new functions to control number of sync/async api calls.

[2021-03-25 08:58] damithc commented on #11039
Sounds complicated. Is it simpler than it sounds? If not, is there a simpler solution even if not very sophisticated.

[2021-03-25 09:01] moziliar commented on #11039
Sorry not very well versed in Angular at this point.
Is the expectation a magic knob that could throttle the maximum concurrent api calls from the client page at any given time for any given function using `rxjs`?
What I can think of at **function level** is to convert the observable to promises and just let native async/await handle the synchronization.

[2021-03-25 09:20] damithc commented on #11039
This was my initial request :-) Is there a simple way to do it?

[2021-03-25 09:22] moziliar commented on #11039
I've opened a [PR](https://github.com/TEAMMATES/teammates/pull/11063) that simply wrap the observable in promise for synchronization. The changes are contained within admin home page.

[2021-03-25 09:34] damithc commented on #11039
Nice!

[2021-03-26 16:07] wkurniawan07 opened #11065 "Remove usage of App Engine Mail API"
As part of https://github.com/TEAMMATES/teammates/projects/8

- [x] Replace `JavamailService` with a mocked interface which will not send any email

[2021-03-27 05:45] #3918 closed

[2021-03-27 05:45] #8704 closed

[2021-03-27 05:45] #9103 closed

[2021-03-28 10:34] KishkinJ10 commented on #8769
can i work on this please i have just started my open source journey and i want to participate in GSoC 2021 ?

[2021-03-28 12:42] moziliar commented on #8769
@KishkinJ10 thank you for your interest in working on the project. Do note that there is already existing open PR on this issue. Please do look for other issues that might interest you. We would love to offer guidance wherever possible :)

[2021-03-29 04:17] damithc opened #11070 "Deadline exceeded while doing StringHelper.encrypt"
v7.12.0

Received quite a few like these today. Not sure if `StringHelper.encrypt` is contributing to this problem or it's just coincidence that the timeout occurred while that method is executing.

com.google.apphosting.api.DeadlineExceededException: This request (000001787beb7935) started at 2021/03/29 02:58:52.853 UTC and was still executing at 2021/03/29 02:59:56.558 UTC.
at com.sun.crypto.pro

[2021-03-29 04:36] #10936 closed

[2021-03-29 08:21] #10981 closed

[2021-03-29 09:34] moziliar commented on #11070
A reasonable guess from @wkurniawan07 is that `GetSessionResultsAction` was processing too many responses and just so happened that the execution thread timeouts at that point. PR #11017 should be able to address this particular stack trace by upper bound the number of responses returned with section limit, i.e. a single fetch now can only get response from a section of users per question, effecti

[2021-03-29 10:06] damithc commented on #11070
Yup, let's wait until the ongoing fixes are applied. Although there were about 10 of those errors today, I suspect they are from the same session which is likely a 'heavy' session. As I didn't get any help request from the user, I assume the user succeeded in a subsequent try.
Will monitor and update here if the recurrence rate goes up.

[2021-03-30 10:26] daongochieu2810 opened #11071 "Burst of concurrent requests causing high amount of instance uptime"
**Environment**: Production

**Description**
The production server has been hit by high amount of instance uptime in recent days because a course with 50 open sessions is now ongoing. The guilty page is student home page: it will fetch the response status of all sessions in the table in parallel. 50 parallel requests is an almost 100% guarantee to spin up new instance.

**Proposed solutions**:
- B

[2021-03-30 10:37] moziliar commented on #11071
A rough scan of the data path at the backend shows that the `/webapi/hasResponses` endpoint can be optimised to consume O(N) space where N is the number of feedback sessions queried. Batching is reasonable as each `hasResponses` call consumes reasonably small amount of compute resources and therefore could be handled at a larger granularity.

The uncertainty that ensues would be whether this indee

[2021-04-03 07:43] madanalogy opened #11078 "Release V7.13.0 & V7.14.0"
Scheduled for Monday, Apr 5, 2021, 12.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-04-04 12:13] #11003 closed

[2021-04-04 15:06] wkurniawan07 opened #11079 "Migrate remaining usages of internal App Engine APIs"
As part of https://github.com/TEAMMATES/teammates/projects/8

After all bundled services are migrated, there are only a few usages of `com.google.appengine.api.*` and `com.google.apphosting.api.*` left that needs to be changed to equivalent implementations:
- `com.google.appengine.api.utils.SystemProperty` and `com.google.apphosting.api.ApiProxy` in `Config.java`.
- `com.google.appengine.api.appid

[2021-04-04 15:14] wkurniawan07 opened #11080 "Support initial deployment to Java 11 runtime"
As part of https://github.com/TEAMMATES/teammates/projects/8

After all usages of App Engine APIs are removed, there are just a few more things left to be done in order to support deployment to Java 11 runtime:

- [x] Add Jetty as web server framework
- [x] Migrate `appengine-web.xml`, `cron.xml`, `datastore-indexes.xml`, `queue.xml` to their `.yaml` counterparts

This, however, is just the first

[2021-04-05 04:42] moziliar opened #11083 "Refactor LnP test framework to parse startup info"
Referencing #11027

In file `src/lnp/resources/test.template.properties`, test server host is hardcoded. We aim to remove it and use the existing library to get such information, freeing the developer/testers from changing this config unnecessarily.

[2021-04-05 08:26] madanalogy commented on #11078
[V7.13.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.13.0) has been released by @madanalogy at April 5th, 2021, 04.24pm SGT.

Code contributions from: @daongochieu2810, @halfwhole, @wkurniawan07
Review contributions from: @Derek-Hardy, @damithc, @hcwong, @jianhandev, @madanalogy, @moziliar, @rrtheonlyone, @wkurniawan07

Ready for post-release check and deployment by PM (@damithc).

[2021-04-05 08:30] #10950 closed

[2021-04-05 08:33] madanalogy commented on #10969
To take note of https://github.com/TEAMMATES/teammates/pull/11074#discussion_r606931020 when developing frontend for release to end users

[2021-04-05 08:39] madanalogy commented on #11078
[V7.14.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.14.0) has been released by @madanalogy at April 5th, 2021, 04.34pm SGT.

Code contributions from: @AdithyaNarayan, @halfwhole, @t-cheepeng
Review contributions from: @ChooJeremy, @ccyccyccy, @madanalogy, @rrtheonlyone

Ready for post-release check and deployment by PM (@damithc).

[2021-04-05 13:08] damithc opened #11084 "Enrolling students: clear red background upon submission"
v7.13.0

Steps:
1. I enrolled students, but with some invalid data
2. Frond end highlighted the problem rows in red
3. I fixed the problems and submitted again
4. Enrolling was successful but those rows remained red

Suggested: clear the error highlighting when the user clicks the 'submit' button. Highlight again only if there are remaining errors.

[2021-04-05 13:14] damithc opened #11085 "Instructor edit questions: tweak option order for generating answers from teams"
v7.13.0

![image](https://user-images.githubusercontent.com/1673303/113577387-c666a600-9653-11eb-8971-8badf7519d32.png)

Shouldn't these two be together?

[2021-04-05 13:16] damithc opened #11086 "Enrolling students: show a progress indicator when enrolling a large class"
v7.13.0

When a large class is being enrolled in one go, perhaps we should show some progress indicator? Currently, we only show a spinner which can cause the user to think the enrolling is stuck.

[2021-04-05 13:18] moziliar commented on #11086
@damithc for sure. I believe the progress circle module can be used in this case. @teikjun possible to port it over here too?

[2021-04-05 13:21] damithc opened #11087 "Instructor deleting all students: show a spinner"
![image](https://user-images.githubusercontent.com/1673303/113578064-d16e0600-9654-11eb-9e6d-8756a13faa10.png)

As this operation can take a while, we should at least show a spinner while it is still executing.

[2021-04-05 13:27] damithc opened #11088 "Instructor deleting all students: use batching if the class size is large"
![image](https://user-images.githubusercontent.com/1673303/113578361-45101300-9655-11eb-9850-a2a9b6c3a3a5.png)

This operation can fail if the class size is large (I couldn't find the relevant issue in the issue tracker though. Did we fix it?).

If it is still not fixed, we can consider front-end batching as a possible solution, given the page already has a list of students. But this might need a

[2021-04-05 13:28] wkurniawan07 commented on #11088
Duplicate of #8011

[2021-04-05 13:28] #11088 closed

[2021-04-05 14:23] damithc commented on #11084
@daongochieu2810 Can we fix this soon? I'd rather wait till this is fixed before releasing this feature to users.

[2021-04-05 14:28] daongochieu2810 commented on #11084
@damithc Yes I will fix this now. Just a note that users can clear error highlighting by clicking on cells

[2021-04-05 14:51] teikjun commented on #11086
sure, no problem!

[2021-04-05 19:34] tlhuynh commented on #11085
Hi, I would like to try this issue.

[2021-04-06 12:18] moziliar commented on #11085
@tlhuynh sure! Please go ahead.

[2021-04-06 14:39] #11084 closed

[2021-04-06 14:58] madanalogy opened #11091 "Release V7.14.1"
Scheduled for Tuesday, Apr 6, 2021, 11.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-04-06 15:00] madanalogy commented on #11091
[V7.14.1](https://github.com/TEAMMATES/teammates/releases/tag/V7.14.1) has been released by @madanalogy at April 6th, 2021, 10.59pm SGT.

Code contributions from: @daongochieu2810
Review contributions from: @damithc, @hcwong, @moziliar, @teikjun

Ready for post-release check and deployment by PM (@damithc).

[2021-04-06 16:45] damithc commented on #11091
@madanalogy this should be v7.13.x, not v7.14.x, right?

I used the former when deploying.

[2021-04-06 16:45] #11091 closed

[2021-04-06 16:53] madanalogy commented on #11091
Should be V7.14.1 as it includes the audit logs backend deployment commits

[2021-04-06 17:02] damithc commented on #11091
Ah, I missed that. I'll leave the deployed version number as it is. Will catch up with the correct number at the next release.

[2021-04-07 01:17] madanalogy commented on #11078
Closed due to #11091

[2021-04-07 01:17] #11078 closed

[2021-04-09 13:39] wkurniawan07 opened #11093 "UnauthorizedAccessException should be a checked exception"
Current: `UnauthorizedAccessException` is an unchecked exception.

Implication: It can be and has been wrongly thrown by methods that are not related to access control.

Suggestion: Make it a checked exception and make sure that all usages are correct.

[2021-04-09 14:08] #11085 closed

[2021-04-10 09:09] damithc opened #11096 "Date picker: the 'today' button doesn't update the calendar widget"
![image](https://user-images.githubusercontent.com/1673303/114264722-29bf5200-9a1f-11eb-8d6e-6079bbcf84b4.png)

Clicking the `Today` button updates the input box but doesn't update the calendar widget.

[2021-04-10 09:12] damithc commented on #11096
To add, the above behavior was noticed when I was setting the start date of a session. When setting the closing date, it was the opposite: the calendar widget updated but not the input box went blank.

[2021-04-11 03:12] damithc opened #11097 "Course ID already used: give a better error message"
v7.13.x

![image](https://user-images.githubusercontent.com/1673303/114290979-3773e680-9ab6-11eb-8690-3e50283aa2bd.png)

Steps: instructor creates a new course but uses a course ID that has been used already

Suggestion: give a more informative error message. Use user's language. e.g.,

[2021-04-12 01:41] wkurniawan07 commented on #11039
Apologies for jumping in late. The real root cause is not the batch size (although the large batch size does help to flesh it out). The real root cause is we are using the exact same google ID for students in sample courses. This is a very harmful design decision: if someone masquerades as e.g. `alice.b.tmms.sampleData` in the production server, we can guarantee the system to be overloaded immedia

[2021-04-12 02:17] damithc commented on #11039
Let's make the students in the sample course 'unregistered' and see if it helps.

[2021-04-12 05:23] halfwhole opened #11099 "Audit logs: restrict viewing and searching permissions to course owners"
**Description of task**

It could be better for only course owners to be allowed to access the audit logs feature, and not all instructors in general.

Both the frontend and backend will likely need to be changed, by restricting access to the `/web/instructor/logs` page and the backend logs searching endpoint.

[2021-04-12 05:28] damithc commented on #11099
@halfwhole What's the current status? All instructors can access it?

[2021-04-12 05:33] t-cheepeng commented on #11099
@damithc Yes, now all instructors can access the page and search

[2021-04-12 05:42] damithc opened #11100 "Audit logs: add padding"
![image](https://user-images.githubusercontent.com/1673303/114345725-d2db8900-9b94-11eb-92c5-80fe2b393eb5.png)

There should be some padding here?

[2021-04-12 05:46] damithc opened #11101 "Audit logs: support 'type to locate' in the student name drop-down"
![image](https://user-images.githubusercontent.com/1673303/114345884-1c2bd880-9b95-11eb-927a-126c2dfda1bb.png)

This drop-down can be quite long. Can we support 'type to locate' ability here?

[2021-04-12 05:49] damithc opened #11102 "Audit logs: Show both student name and email"
![image](https://user-images.githubusercontent.com/1673303/114346161-90ff1280-9b95-11eb-87cc-926737eb8dec.png)

Student name is not unique. Should we also show the email? e.g., `John Doe <john@example.com`

[2021-04-12 05:57] damithc commented on #11101
An alternative is to pop-up a modal containing all students (possibly with more details such as team, email, section etc. -- somewhat similar to what we do in the 'Remind' feature) and advise the user to Ctrl+F to locate the name.

[2021-04-12 06:00] damithc commented on #11099
I see. Perhaps leave it be. After all, no confidential info is being released.
Alternatively, we can limit it to owner and manager levels?

[2021-04-12 06:24] wkurniawan07 commented on #11099
Talking about "levels" doesn't really make sense. Instructors operate based on individual permissions.

[2021-04-12 06:51] damithc commented on #11099
Sorry, to be more specific, I was referring to access levels of individual instructors:
![image](https://user-images.githubusercontent.com/1673303/114352431-70878600-9b9e-11eb-9461-1f93bed15b18.png)

[2021-04-12 06:56] wkurniawan07 commented on #11099
It doesn't change what I said. An access level is just a collection of individual permissions.

[2021-04-12 07:02] damithc opened #11103 "Audit logs: right-align timestamps"
Perhaps easier on the eye if we right align timestamps, so that hours/mins/seconds line up?
![image](https://user-images.githubusercontent.com/1673303/114353740-f48e3d80-9b9f-11eb-99f1-439feeb5f57a.png)

EDIT: It looks like the time stamp has a fixed width (i.e., the same number of characters) but the hours/seconds don't line up because we are not using a mono-spaced font for the timestamp.
Compar

[2021-04-12 07:07] damithc commented on #11099
But we do have a way to identify instructors who have been given these specific roles, yes? From the end-user's POV, that seems to be the case.

[2021-04-12 07:11] damithc commented on #11099
Is it the case that although we can identify roles, the current access control layer cannot actually take action based on roles? In that case, perhaps we'll have to tie this to a specific permission e.g., those who can view students, can also view audit logs (which is almost everyone)

[2021-04-12 09:11] t-cheepeng commented on #11101
The modal option makes it seem as if the instructor can search for multiple students?

I think the type to locate would be a more friendly option. Would imagine that a instructor using the page should know the student name he/she wants to search for (if using that filtering option).

[2021-04-12 09:18] damithc commented on #11101
Depends on the content of the modal.

Sure, I'm fine with that too.

[2021-04-12 09:21] wkurniawan07 commented on #11099
Not cannot, but our access control checks always make use of the individual permissions ever since those are introduced (2014, I believe). Deviating from that rule will introduce future gotchas.

[2021-04-12 09:30] damithc commented on #11099
I don't think this feature is worth a drastic change to access control mechanism. We can go with something that fits the current way i.e., tie this to one (or more) of the current access control flags.

[2021-04-12 11:03] madanalogy commented on #11096
@daongochieu2810 could you take a look into this when you have the time? Since you added the today button

[2021-04-12 11:07] #11053 closed

[2021-04-12 11:09] daongochieu2810 commented on #11096
yes sure

[2021-04-12 11:39] #11097 closed

[2021-04-12 14:12] #10917 closed

[2021-04-12 14:34] #5704 closed

[2021-04-12 17:40] tlhuynh commented on #7249
I would like to try this issue.

[2021-04-13 02:31] t-cheepeng commented on #11099
If we are tying it to the access control flags, should we just leave the access control as is per above quote (available to all instructors)?

[2021-04-13 04:43] #10433 closed

[2021-04-13 06:00] damithc commented on #11099
It is technically possible for an instructors to exist without 'view students' permissions though, right? Also, it is possible to have instructors who can see students of certain sections only.

![image](https://user-images.githubusercontent.com/1673303/114503434-e4d62e00-9c5f-11eb-93b8-b766b9454d9a.png)

I don't think the above scenario will come into play often but as access of student details a

[2021-04-13 06:23] #11096 closed

[2021-04-13 06:33] gharrington1996 commented on #11103
Could I take this as a good first issue? I would be using this for a class, and a pull request can be expected within one month.

[2021-04-13 06:42] #11030 closed

[2021-04-13 09:13] t-cheepeng commented on #11099
👍

Would side towards easier solutions. I think we can tie it to the `Enroll/Edit/Delete Students`?

[2021-04-13 09:20] damithc commented on #11099
Sounds good.

[2021-04-14 09:30] t-cheepeng commented on #11103
@gharrington1996 Hi, thank you for the interest in contributing. This issue is not available right now. You may want to check out some other issues like https://github.com/TEAMMATES/teammates/issues/11087

[2021-04-14 09:47] t-cheepeng commented on #11101
@damithc

The typeahead looks something like this
![123](https://user-images.githubusercontent.com/28994607/114690401-3e665780-9d49-11eb-9a12-596157959bf1.gif)

Only appears whn > 1 character is typed and maximum of 10 names will appear. Is the 10 name limit okay? Or leave it unbounded?

[2021-04-14 13:26] damithc commented on #11101
I was expecting the dropdown to remain, and allow typing to narrow down the selection. Is that possible? In the end, this is meant to be a choice among options, not a free text entry.

[2021-04-14 18:39] gharrington1996 commented on #11103
@t-cheepeng I have no experience with Angular, unfortunately. I am not seeing why this issue is unavailable, could you help me understand?

[2021-04-15 09:49] t-cheepeng commented on #11103
@gharrington1996 The issue is currently beind handled internally. Apologies for any confusion caused

[2021-04-15 09:53] t-cheepeng commented on #11101
The easiest way is to use the `<datalist>` tag. But the issue is that the tag is styled very differently in browsers(which is expected but some browsers style it weirdly) and is buggy in older browsers like safari. See the attached below. Also, bootstrap does not style this tag for us so we cannot fall back on it.

Left: Firefox, right is Chrome. The dropdown arrow is missing in the firefox one bu

[2021-04-15 10:36] damithc commented on #11101
Desirable properties, off the top of my head:
1. User has a way use the dropdown, without having to type anything
2. User cannot search for something that is not one of the available options
3. What user types need not be at the start of the name
4. Case should not matter
5. There is some indication that the user can type-to-locate

[2021-04-15 12:54] madanalogy opened #11109 "Release V7.15.0"
Scheduled for Thursday, Apr 16, 2021, 6:00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-04-16 09:59] madanalogy commented on #11109
[V7.15.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.15.0) has been released by @madanalogy at April 16th, 2021, 05.58pm SGT.

Code contributions from: @DanielMcBane, @Syasyazman, @daongochieu2810, @madanalogy, @sofefr, @stapletonce, @t-cheepeng, @teikjun, @tlhuynh
Review contributions from: @ChooJeremy, @Derek-Hardy, @damithc, @daongochieu2810, @hcwong, @madanalogy, @moziliar, @t-chee

[2021-04-18 12:49] damithc commented on #11109
Deployed and released. Thanks to everyone who contributed 💯

[2021-04-18 12:49] #11109 closed

[2021-04-18 13:56] damithc opened #11111 "Error message in live server: ManagedChannel not shut down properly"
Received this from the live server today. There were a few similar errors in the recent past. Posting here as this seems to be related to logging. One thing to figure out is 'can an error like this compromise the accuracy of audit logs'? i.e., can the audit log be incomplete due to the logging action encountered an error?

Make sure to call shutdown()/shutdownNow() and wait until awaitTermination(

[2021-04-22 12:52] #11042 closed

[2021-04-22 18:03] halfwhole commented on #11102
I agree that showing the email would help in cases where students have the same name. Would the following be better? The dropdown box can also be expanded to accommodate the longer text:

![teammates-audit-logs-8](https://user-images.githubusercontent.com/41856541/115764137-c8f92780-a3d7-11eb-9b97-e5e3f7803317.png)

[2021-04-23 02:29] damithc commented on #11102
Yes, looks fine.

[2021-04-23 15:05] ezhang641 commented on #11087
Hello, can I be assigned this issue? I have added the feature into my local repository and would like to open a pull request.

[2021-04-23 17:12] ezhang641 commented on #11086
Hello, I have added the progress indicator, so can I please get assigned this issue to open a pull request?

[2021-04-23 17:22] teikjun commented on #11086
@ezhang641 Sure, please feel free to open a pull request

[2021-04-24 02:27] rpt225 commented on #1501
I've created a extensive unit tests for Feedback Test files. Can I be assigned to this issue?

[2021-04-24 05:10] teikjun commented on #1501
@rpt225 Sure!

[2021-04-25 04:08] wkurniawan07 commented on #7959
Function is stable now

[2021-04-25 04:08] #7959 closed

[2021-04-25 04:09] #8900 closed

[2021-04-25 04:09] #8959 closed

[2021-04-25 04:09] #8985 closed

[2021-04-25 04:09] #9018 closed

[2021-04-25 04:10] wkurniawan07 commented on #5915
Not to be done anytime soon

[2021-04-25 04:10] #5915 closed

[2021-04-25 04:11] wkurniawan07 commented on #7285
Closed after #10678

[2021-04-25 04:11] #7285 closed

[2021-04-25 04:11] wkurniawan07 commented on #7284
Closed after #10678

[2021-04-25 04:11] #7284 closed

[2021-04-25 04:14] wkurniawan07 commented on #8597
No longer valid

[2021-04-25 04:14] #8597 closed

[2021-04-25 04:18] wkurniawan07 commented on #9306
No longer relevant

[2021-04-25 04:18] #9306 closed

[2021-04-25 04:19] wkurniawan07 commented on #9694
Not valid anymore

[2021-04-25 04:19] #9694 closed

[2021-04-25 04:19] wkurniawan07 commented on #9884
Not valid anymore

[2021-04-25 04:19] #9884 closed

[2021-04-25 04:19] wkurniawan07 commented on #9885
Not valid anymore

[2021-04-25 04:19] #9885 closed

[2021-04-25 04:21] #10439 closed

[2021-04-25 04:21] #10459 closed

[2021-04-25 04:22] wkurniawan07 commented on #10663
All information here are known symptoms of #8011. Mark as duplicate.

[2021-04-25 04:22] #10663 closed

[2021-04-25 04:25] #10814 closed

[2021-04-25 04:32] wkurniawan07 commented on #3889
There are only 2 search bars for very different purposes now; not warrant the abstraction anymore

[2021-04-25 04:32] #3889 closed

[2021-04-25 04:46] wkurniawan07 commented on #8726
No longer valid

[2021-04-25 04:46] #8726 closed

[2021-04-25 04:46] wkurniawan07 commented on #5678
There are no more snake cases in any existing HTML file

[2021-04-25 04:46] #5678 closed

[2021-04-25 04:53] wkurniawan07 commented on #10748
Closing due to lack of information

[2021-04-25 04:53] #10748 closed

[2021-04-25 14:11] halfwhole opened #11118 "Update timezone database to 2021a: timezone syncer E2E test failing"
The timezone syncer E2E test has been failing on `master` since 20/21 Apr. The issue appears to be caused by line 45 of `TimezoneSyncerTest.java`, where we compare the version between Java and moment timezones at URL `/web/admin/timezone`. One is at 2021a and the other is at 2020d.

Example of a failed run: https://github.com/TEAMMATES/teammates/runs/2395869973?check_suite_focus=true

[2021-04-26 05:46] wkurniawan07 opened #11119 "Replace Assumption class with standard assertions with -ea flag"
In GAE Java 8 runtime and before, we need to have `Assumption` class as a form of assertion as the runtime does not allow usage of internal assertion (i.e. the VM does not run with the `-ea` flag).

In GAE Java 11 runtime we have full control of how the Java program is started (including passing the `-ea` flag or not), thus the `Assumption` class is no longer necessary. All instances are to be rep

[2021-04-26 05:50] wkurniawan07 opened #11120 "Implement own timer to prevent instance being terminated due to timeout"
In GAE Java 11 runtime, there is no `DeadlineExceededException` anymore. Instead, if the request exceeds the 10-min deadline, the entire VM instance whereby the request originates from is terminated. We do not want this to happen and thus we have to implement our own timer to track the request time.

[2021-04-26 05:57] wkurniawan07 opened #11121 "Group logs of the same HTTP request together using trace ID"
In GAE Java 8 runtime, all logs under the same HTTP request are automatically grouped together.

In GAE Java 11 runtime, there is no such automatic grouping anymore and it makes the logs hard to follow. We need to manually add back the grouping logic by making use of trace ID, as suggested in <https://cloud.google.com/appengine/docs/standard/java11/writing-application-logs#writing_structured_logs>

[2021-04-27 03:41] damithc opened #11122 "Audit logs: student list is empty"
Steps:
1. Instructor goes to the audit logs page using `/instructor/logs` ~~Admin goes to the audit logs page of an instructor using the masquerade mode~~
2. Selects a course ID
3. Problem: student list dropdown is not populated

![image](https://user-images.githubusercontent.com/1673303/116181580-6ee8c100-a74d-11eb-8e0f-cf6dc722aff8.png)

[2021-04-28 01:57] damithc commented on #11111
Still receiving these occasionally (once in 1-2 days)

[2021-04-28 02:26] damithc commented on #11122
In fact, this doesn't work even in the normal mode.

[2021-04-30 10:41] keshavcodex opened #11123 "i am not able to understand that how can i setup the code locally on my device, i have already clone it through git"
- **Commit SHA:**
- **Operating System:**
- **JDK Version:**
- **Node.js Version:**
- **Google Cloud SDK Version:**
- **IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**

**Attempts to resolve the problem**

[2021-04-30 11:43] hppranaav commented on #2719
Hi @madanalogy, I would like to take a crack at this issue if its ok?

[2021-04-30 16:34] #11123 closed

[2021-04-30 16:35] damithc opened #11124 "Instructor downloading session results: course/session details are repeated for each question"
When the instructor downloads the session results, the course ID and the session name seem to be repeated for each question. They should only appear once at the top.

![image](https://user-images.githubusercontent.com/1673303/116725751-f582f400-aa14-11eb-8d45-796e44cb401f.png)

[2021-04-30 16:42] keshavcodex commented on #11100
hii, i want work on it how can i start

[2021-05-01 05:29] damithc commented on #10823
Let's show an appropriate error message for this case. While this situation is not common, when it happens, it can result in a burst of support requests because it looks like the system error from the user POV.

[2021-05-01 09:22] halfwhole commented on #11118
See [maintainer guide](https://github.com/TEAMMATES/teammates-ops/blob/master/maintainer-guide.md)

[2021-05-02 00:49] #11118 closed

[2021-05-02 00:53] madanalogy commented on #1501
@rpt225 @teikjun We only assign issues that can be resolved easily. This issue has many different components to it and is equivalent to an epic. That being said, contributors are very welcome to submit PRs as "Part of" the issue :)

[2021-05-03 06:26] #11102 closed

[2021-05-05 04:43] #11100 closed

[2021-05-09 05:46] damithc commented on #11122
@t-cheepeng @AdithyaNarayan @halfwhole any ideas?

[2021-05-09 09:54] wkurniawan07 commented on #11122
Not reproducible.

[2021-05-09 10:04] damithc commented on #11122
Seems to work now. Not sure why it didn't work. It didn't work on the day I posted this issue and it didn't work when I tried it again a few days ago. 🤔

[2021-05-10 02:57] t-cheepeng commented on #11122
Could not reproduce this. Was the previous course archived or deleted?

[2021-05-10 04:13] damithc commented on #11122
Happening again:
![image](https://user-images.githubusercontent.com/1673303/117604810-e6c0dd80-b188-11eb-9f8c-0d0980e33cd2.png)

Refreshed the page and it started working. Some sort of caching issue? Or a race condition in populating the dropdown?

[2021-05-10 09:38] t-cheepeng commented on #11122
Maybe could be a caching issue? Try to clear browser caches and see if the problem persists. There shouldn't be any race conditions in the retrieval of list of students

[2021-05-10 14:06] damithc commented on #11122
It still happens intermittently. Note that I have a lot of courses (and several thousand students). How are the student names retrieved? All at once?

[2021-05-11 01:12] t-cheepeng commented on #11122
Yes, the student names are all retrieved at once for all active courses

[2021-05-11 03:26] damithc opened #11126 "Instructor checking logs: expand results if empty"
Scenario: instructor searches for logs using the `/web/instructor/logs` page.

Current: all results panels are collapsed by default.
Suggested: If there are no results for some sessions, we can expand them automatically so that the user doesn't have to click to find out.

![image](https://user-images.githubusercontent.com/1673303/117753386-f86ab980-b24a-11eb-9412-621cdb358d2d.png)

We can also con

[2021-05-11 03:28] damithc commented on #11126
Audit-logs team, is this one suitable for first-timers?

[2021-05-11 06:27] madanalogy opened #11127 "Feedback path for new question not inheriting respondent number"
Creating a new question does not properly inherit the feedback path when students in this course give feedback to other students in this course.

- **Environment**: Live server as at V7.15.0

**Steps to reproduce**

https://user-images.githubusercontent.com/42177597/117768254-b8b0cb80-b264-11eb-9f33-887519a2eb25.mov

**Expected behaviour**

The "maximum number of students each respondent should gi

[2021-05-11 06:38] damithc commented on #11127
I can't think of a reason not to inherit it. Seems like a bug.

[2021-05-11 08:13] lyeyixian commented on #11127
I would like to work on this issue.

[2021-05-12 01:15] t-cheepeng commented on #11126
Yes, it is suitable for first-timers

[2021-05-12 02:52] damithc commented on #10994
Can someone take a look at this? I occasionally hear of cases where the proof of submission file is empty except for the header info.
![image](https://user-images.githubusercontent.com/1673303/117911242-06364280-b310-11eb-9c55-44e19fcb8648.png)

In such cases, it is better if we can make it clear that the submission didn't go through.

[2021-05-15 14:18] rrtheonlyone commented on #11122
I am not sure why we choose to retrieve all student names for all active courses on page load. I feel it makes more sense to retrieve the students (and cache it) once the dropdown course is selected. @damithc shall we try this?

After that, we can see if the above error still happens. It is difficult to re-create the above error because it might be a result of the number of students prof has. (I h

[2021-05-15 15:10] damithc commented on #11122
Still happens around 30% of the time. Even when using a new computer. Here is an example (not a definite way to reproduce though):

Load the page. Seems to work.
Go to another page.
Go back to the previous page again. Doesn't work now.

Given this feature is not expected to be used often, I don't mind a simpler solution. We can go for on-demand retrieval if the additional development cost is not t

[2021-05-15 15:23] rrtheonlyone commented on #11122
It is not difficult to do `on-demand` retrieval. I am guessing that should resolve the above problem too. Let me try my hand at tackling this.

[2021-05-15 16:09] #11093 closed

[2021-05-15 16:35] #11087 closed

[2021-05-16 12:20] wkurniawan07 commented on #11004
Closing as this is not a priority right now

[2021-05-16 12:20] #11004 closed

[2021-05-16 12:20] wkurniawan07 commented on #10995
Closing as this is not a priority right now

[2021-05-16 12:20] #10995 closed

[2021-05-16 12:21] wkurniawan07 commented on #10015
Closing as this is not a priority right now

[2021-05-16 12:21] #10015 closed

[2021-05-16 12:21] wkurniawan07 commented on #10096
Closing as this is not a priority right now

[2021-05-16 12:21] #10096 closed

[2021-05-16 12:21] wkurniawan07 commented on #9176
Closing as this is not a priority right now

[2021-05-16 12:21] #9176 closed

[2021-05-16 12:21] wkurniawan07 commented on #7882
Closing as this is not a priority right now

[2021-05-16 12:21] #7882 closed

[2021-05-16 12:22] wkurniawan07 commented on #7420
Closing as this is not a priority right now

[2021-05-16 12:22] #7420 closed

[2021-05-16 12:23] wkurniawan07 commented on #9419
Closing as this is not a priority right now

[2021-05-16 12:23] #9419 closed

[2021-05-16 12:24] wkurniawan07 commented on #10782
Closing as this is not well-defined

[2021-05-16 12:24] #10782 closed

[2021-05-16 12:25] wkurniawan07 commented on #4282
No longer valid as the buttons do not exist anymore

[2021-05-16 12:25] #4282 closed

[2021-05-16 12:25] wkurniawan07 commented on #8442
No longer valid as the buttons do not exist anymore

[2021-05-16 12:25] #8442 closed

[2021-05-16 12:26] wkurniawan07 commented on #4921
No longer relevant

[2021-05-16 12:26] #4921 closed

[2021-05-16 12:26] wkurniawan07 commented on #7363
No longer relevant as we have sufficient E2E test for this

[2021-05-16 12:26] #7363 closed

[2021-05-16 12:26] wkurniawan07 commented on #5607
Closing as this is not a priority right now

[2021-05-16 12:26] #5607 closed

[2021-05-16 12:26] wkurniawan07 commented on #5084
Closing as this is not a priority right now

[2021-05-16 12:26] #5084 closed

[2021-05-16 12:27] wkurniawan07 commented on #6515
Closing as this is not a priority right now

[2021-05-16 12:27] #6515 closed

[2021-05-16 12:27] wkurniawan07 commented on #7804
Closing as this is not a priority right now

[2021-05-16 12:27] #7804 closed

[2021-05-16 12:27] wkurniawan07 commented on #9936
Closing as this has been fixed

[2021-05-16 12:27] #9936 closed

[2021-05-16 12:30] wkurniawan07 commented on #10348
Closing as there is no clear reproduction scenario

[2021-05-16 12:30] #10348 closed

[2021-05-16 12:30] wkurniawan07 commented on #10221
Closing as this is not a priority right now

[2021-05-16 12:30] #10221 closed

[2021-05-16 12:31] wkurniawan07 commented on #8623
Closing as this is not a priority right now

[2021-05-16 12:31] #8623 closed

[2021-05-16 12:31] wkurniawan07 commented on #8462
Closing as this is not a priority right now

[2021-05-16 12:31] #8462 closed

[2021-05-16 12:31] wkurniawan07 commented on #9357
Closing as this is not a priority right now

[2021-05-16 12:31] #9357 closed

[2021-05-16 12:43] wkurniawan07 commented on #10579
Closing as this is not a priority right now

[2021-05-16 12:43] #10579 closed

[2021-05-16 12:52] wkurniawan07 commented on #10946
Closing as the issue as described is not reproducible. Stale cache is an entirely different issue.

[2021-05-16 12:52] #10946 closed

[2021-05-17 06:03] #11127 closed

[2021-05-17 11:54] #10038 closed

[2021-05-17 16:02] wkurniawan07 opened #11134 "Support custom retrieved logs for local testing"
https://github.com/TEAMMATES/teammates/blob/5860891af24fba934e965b560a0f68504c553865/src/main/java/teammates/logic/core/LocalLoggingService.java#L11-L40

While it is still true that "Writing a local logs ingestion service is possible, but is an overkill at this point of time", this design cause most of the features related to logs retrieval to be untestable locally. We need a lightweight infrastru

[2021-05-18 09:31] damithc opened #11135 "Audit logs: sort student names alphabetically"
Page: `/instructor/logs`

This drop-down doesn't seem to be sorted:

![image](https://user-images.githubusercontent.com/1673303/118627635-78ba8d00-b7fe-11eb-97a4-c280e67bc722.png)

I suspect it is using the default order from the database (i.e., the order of enrollment) which may or may not be sorted alphabetically.

[2021-05-20 02:40] damithc opened #11138 "Malformed input or input contains unmappable characters"
v7.15.0, production

Live server has been throwing up a handful of errors like this one in the past few days

java.nio.file.InvalidPathException: Malformed input or input contains unmappable characters: /base/data/home/apps/s~teammatesv4/7-15-0.434506241177321791/example。com
at sun.nio.fs.UnixPath.encode(UnixPath.java:147)
at sun.nio.fs.UnixPath.(UnixPath.java:71)
at sun.nio.fs.UnixFileSystem.getP

[2021-05-20 02:41] damithc commented on #11111
Still the same

[2021-05-21 01:31] ypinhsuan opened #11139 "Support tracking of result view by instructors"
**Description of feature**
Provide a way for instructors to track if the sessions results were viewed by students.

**Justification**
This will help instructors identify students who do not even bother to read feedback they have received.

UI prototype
![image](https://user-images.githubusercontent.com/58677983/119068516-f1943180-ba16-11eb-861c-7bbcc47c8cb8.png)
Is just knowing whether a student h

[2021-05-21 04:29] damithc commented on #11139
Looks good. Some suggestions:
* Show `Not viewed` in red?
* Sort by `Status` (`not viewed` on top) and then by name?
* Are we going to limit the search to go only up to the date the session was published? In that case, we may want to show that date in the results page, just in case the session was published and unpublished earlier (which means some students would have viewed the results prior to t

[2021-05-21 11:25] ypinhsuan commented on #11139
Would it be good to allow users to sort by both name and status? By default the table will be sorted by status (not viewed on top). But users can sort by name as well by clicking on the `name` column.

I think we can limit the search to go only up to the date the session was published since earlier than that results will not be significant.

Dialog as below will  be displayed if published date is

[2021-05-21 12:57] damithc commented on #11139
Yes, any column can be made sortable when it makes sense.

I think this option is fine. You can use mono-space for the whole cell. Probably can get the time stamps to align by using a few extra spaces:
[code]

Minor: The button should be `View` or `Show` rather that `Search`?

[2021-05-22 02:02] ypinhsuan commented on #11139
Made the above changes. If ok, I will work on this design for now
![image](https://user-images.githubusercontent.com/58677983/119211279-c62b4880-bae3-11eb-9cd6-2e50ce1253e8.png)

[2021-05-22 02:51] damithc commented on #11139
Looks good @ypinhsuan. I think we should put the status column as the first column. As the user is going to be more interested in the status and the name columns, it's better to put them close together rather than far apart.

[2021-05-22 09:06] madanalogy opened #11141 "Release V7.16.0"
Scheduled for tonight, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-05-22 09:24] #10612 closed

[2021-05-22 09:53] #2673 closed

[2021-05-22 11:15] #11124 closed

[2021-05-22 14:06] #10851 closed

[2021-05-22 14:26] madanalogy commented on #11141
[V7.16.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.16.0) has been released by @madanalogy at May 22nd, 2021, 10.25pm SGT.

Code contributions from: @AdithyaNarayan, @halfwhole, @lyeyixian, @madanalogy, @moziliar, @rrtheonlyone, @wkurniawan07, @ypinhsuan
Review contributions from: @AdithyaNarayan, @ChooJeremy, @Derek-Hardy, @damithc, @daongochieu2810, @jianhandev, @madanalogy, @mozili

[2021-05-23 03:44] damithc commented on #11141
Deployed and released. Thanks to everyone who contributed 💯

[2021-05-23 03:44] #11141 closed

[2021-05-23 04:41] Maezzzzz commented on #11126
Is this being handled by anyone currently?

[2021-05-23 04:59] damithc commented on #11135
@t-cheepeng is this suitable for first timers?

[2021-05-23 06:40] moziliar commented on #11126
@Maezzzzz as far as we know, no one is at it. You can attempt to submit PR for this issue.

[2021-05-24 05:33] t-cheepeng commented on #11135
Yes, it should be suitable for first timers. Just a simple sorting for data retrieved

[2021-05-24 05:42] t-cheepeng commented on #11111
The logs should have been written since the error message points to the shutdown of channels which are a cleanup procedure by the cloud logging API.

@halfwhole @AdithyaNarayan
Need to see if we can replicate this error message. Maybe we just need to make the class `AutoCloseable` ?

[2021-05-24 07:31] damithc opened #11143 "Link recovery is taking a long time"
![image](https://user-images.githubusercontent.com/1673303/119312435-eeae7080-bca4-11eb-827a-d062a9dc0cf8.png)

![image](https://user-images.githubusercontent.com/1673303/119303032-a5a3ef80-bc97-11eb-927f-f17272b4dff6.png)

After clicking on the `Submit` button, it takes close to a minute (40-50s) for the success message to appear. We need to find ways to reduce that because it is not good for a r

[2021-05-24 07:33] damithc opened #11144 "Link recovery: shorten the search window to 3 months"
![image](https://user-images.githubusercontent.com/1673303/119312435-eeae7080-bca4-11eb-827a-d062a9dc0cf8.png)

![image](https://user-images.githubusercontent.com/1673303/119303032-a5a3ef80-bc97-11eb-927f-f17272b4dff6.png)

current: the above action recovers link for the past 6 months.
suggested: shorten the search window to 3 months (more precisely, 90 days)

additional: in the page, state the du

[2021-05-24 09:00] damithc commented on #10659
The dropdown will appear if you set fix the number of recipients.
![image](https://user-images.githubusercontent.com/1673303/119323668-8ade7480-bcb1-11eb-90b0-639e176ef880.png)

[2021-05-24 09:16] damithc commented on #7062
There is an admin script that can do this.

[2021-05-24 09:16] #7062 closed

[2021-05-24 09:18] damithc commented on #4486
Issue too old. Haven't seen the specific error in concern recently. Closing.

[2021-05-24 09:18] #4486 closed

[2021-05-24 12:52] damithc opened #11146 "student viewing responses: show self-response as 'given' AND 'received'"
Context: When a student is viewing responses of a session, the received responses are shown differently from given responses.

Here's a case where the student should see only given responses (because the question is configured not to show any received responses to the student):
![image](https://user-images.githubusercontent.com/1673303/119349109-575f1280-bcd0-11eb-95e9-12d994ed502f.png)

Actual: t

[2021-05-24 14:16] damithc commented on #10728
Old issue. Closing.

[2021-05-24 14:16] #10728 closed

[2021-05-24 14:30] damithc opened #11147 "Student view profile: preserve proportions of the profile image"
Context: a student is viewing the profile photo

Current:
![image](https://user-images.githubusercontent.com/1673303/119362285-1e7a6a00-bcdf-11eb-81fd-34ca8a7c4542.png)

Problem: the image is squashed into a fixed size and with. We can't assume the image to have a specific width:height ratio because no such requirement is mention or enforced at the when uploading the image.

Suggestion: Fix only t

[2021-05-24 14:47] damithc commented on #9573
Looks like no longer valid. Closing.

[2021-05-24 14:47] #9573 closed

[2021-05-24 14:49] damithc commented on #10561
The text in the screenshot doesn't exist anymore. Closing for now. Will reopen if I spot a similar problem again.

[2021-05-24 14:49] #10561 closed

[2021-05-24 14:58] damithc commented on #7341
Let's close this one. Doesn't feel like it's worth the effort.

[2021-05-24 14:58] #7341 closed

[2021-05-24 15:36] damithc opened #11148 "Instructor home page: tweak session status tooltips"
Current:
![image](https://user-images.githubusercontent.com/1673303/119369247-897b6f00-bce6-11eb-8922-f3f40c7eaacc.png)

Suggested: Remove `has been created`. Also, `has ended` -> `is closed for submissions`.

Also applies to the `Open` status.

![image](https://user-images.githubusercontent.com/1673303/119370632-1541cb00-bce8-11eb-94e4-adca1ff4a239.png)

Rephrase as `Students can view responses r

[2021-05-24 16:01] damithc opened #11149 "Students page: tweak text"
![image](https://user-images.githubusercontent.com/1673303/119374076-b7af7d80-bceb-11eb-9026-7b541c8cb8e2.png)

Some minor cosmetic tweaks:
* Page title `Student List` -> `Students`
* Rephrase the explanation as follows:

[2021-05-24 16:06] damithc opened #11150 "Search page: Remove unnecessary panel"
![image](https://user-images.githubusercontent.com/1673303/119374774-926f3f00-bcec-11eb-876e-065e5e41e7b2.png)

Suggested changes:
* Rephrase as `You can search for students (by name or email) from all your courses here.`
* Give an example at the end `e.g., "John Doe"`
* Remove this outer panel as all results are students anyway.

[2021-05-24 16:08] hoonti06 commented on #11126
I am a beginner. I want to work on this.

[2021-05-24 16:21] moziliar commented on #11126
@hoonti06 thank you for your interest in this issue.

As @Maezzzzz has not confirmed commitment on this issue, @hoonti06 you can try to submit an PR.

[2021-05-24 16:24] hoonti06 commented on #11126
@moziliar Thank you!

[2021-05-25 04:35] RhnSharma commented on #11150
I would like to take this one.

[2021-05-25 04:40] moziliar commented on #11150
@RhnSharma thanks for your interest. Please go ahead!

[2021-05-25 08:52] cmadhumita5 commented on #11149
i want to try this. i am a beginner. so please tell me about the branching

[2021-05-25 09:00] damithc commented on #11149
@cmadhumita5 Did you mean Git branching? Contributing to an OSS project on GitHub requires familiarity with Git. If you are new to Git, we recommend you focus on learning Git basics first. After that, you can come back and attempt to do a PR here.

[2021-05-26 05:16] jianhandev opened #11152 "Student update profile: profile image does not display correctly when certain formats are used"
When a user uploads an image of certain formats e.g. svg/TIFF (Chrome), the system does not display the profile image as expected.

**Steps to reproduce**
1. Login as student
2. Go to **Profile**
3. Click on **Upload/Edit Photo** and upload an svg file

https://user-images.githubusercontent.com/59337195/119604602-eb8cbf00-be21-11eb-99a1-2fc2b188f8d1.mov

**Suggested approach:**
Restrict image form

[2021-05-26 05:34] wkurniawan07 commented on #11152
This is wrong. The API layer accepts any `image/*` object, and SVG is one (the official MIME type is `image/svg+xml`).

https://github.com/TEAMMATES/teammates/blob/45e3c0f88ce4f94f4fed28922392136d35ebc6b8/src/main/java/teammates/ui/webapi/PostStudentProfilePictureAction.java#L44-L47

[2021-05-26 07:42] jianhandev commented on #11152
You are right... the tooltip here makes me think that only .png and .jpg are accepted. So the image format is correct, and there was no exception raised in the dev server but for some reason the image didn't show up. Tried uploading a TIFF image, the same issue (with the svg) occured.

<img width="302" alt="Screenshot 2021-05-26 at 2 57 59 PM" src="https://user-images.githubusercontent.com/5933719

[2021-05-26 11:46] madanalogy commented on #11099
Wouldn't be that much of a stretch to also add `CAN_MODIFY_SESSION` and `CAN_MODIFY_INSTRUCTOR`. In line with capabilities allowed for owner and manager levels as initially suggested by @damithc

@AdithyaNarayan fyi for your current open PR. Apologies for getting to this a bit late

[2021-05-26 13:27] madanalogy commented on #11143
This might be a bit tricky, what happens if the email isn't found? We could just send a negative email but this might greatly increase costs if the feature is used regularly.

This I think is worth pursuing. Wondering if any of our performance folks want to take a look. No need to code out the solution yourself, good enough to have some preliminary suggestions that others can pick up @daongochieu2

[2021-05-26 13:42] moziliar commented on #11143
We can first sort out the code logic, followed by profiling, either with no data or with huge amount of data. Will start on this issue shortly.

[2021-05-27 00:13] moziliar commented on #11143
@damithc @madanalogy
It seems like we are facing an N+1 problem here:

https://github.com/TEAMMATES/teammates/blob/45e3c0f88ce4f94f4fed28922392136d35ebc6b8/src/main/java/teammates/logic/api/EmailGenerator.java#L276-L280

Testing steps:
1. try invalid email -> get email not found response pretty fast
2. can conclude latency not from scanning of students & sending email
3. try valid email -> 46s
4.

[2021-05-27 00:24] moziliar commented on #11144
This will cut down the cost and latency of the submission by half. We probably should think of a better solution that can optimise it further than that.

Refer to the N+1 problem in #11143 which might be of some interest.

[2021-05-27 00:40] moziliar commented on #11143
The N+1 problem might not be easy to solve in naive ways; objectify doesn't really have a native OR
clause for conditional query, and the IN clause is but a syntactic sugar for multiple Datastore queries.

From https://cloud.google.com/datastore/docs/concepts/queries#restrictions_on_queries

The use of CompositFilter might be worth exploring to reduce the number of calls to the Datastore in order

[2021-05-27 01:02] madanalogy commented on #11143
@moziliar thanks for the investigation! Can leave it at that if you're strapped for time and see if any developer wants to pick it up. This shouldn't be that urgent since we have #11144

[2021-05-27 03:18] damithc commented on #11152
This is rarely used non-important feature.
I'm OK to limit to png and jpg only (not much value in supporting rarely used image formats). I'm also OK to do a frontend check only if a user has nothing to gain by bypassing the front-end check, and the bypass does not cause any harm to others or the system integrity.

Just my initial thoughts. I'm open to other opinions.

[2021-05-27 03:31] damithc commented on #11143
It varies. This should give you some idea (it's for a 14 day window):
![image](https://user-images.githubusercontent.com/1673303/119761472-716e4000-bede-11eb-8fc5-0797b9ec43ad.png)

Keep in mind that a student is unlikely to be in more than a few courses. Hence, it is good to filter by course first(?)

[2021-05-27 04:05] moziliar commented on #11143
@damithc I think you are right... the logic here is pretty crude which should be subject to refactoring.
The N+1 problem is a non-issue if we query the course the student is in first.
From the data provided, it is reasonable to believe that running through that many sessions incurs the bulk of the latency.
For reference: https://github.com/TEAMMATES/teammates/blob/45e3c0f88ce4f94f4fed28922392136d3

[2021-05-27 04:22] moziliar opened #11156 "Create LnP test for session link recovery"
Part of #11143

This is to verify any performance change for any optimisations done on the recovery process.

It also can be run in case of recovery duration adjustment like that in #11144 for sanity check.

[2021-05-27 06:37] jianhandev commented on #11152
I agree with you on this. One concern I have is that certain browser version do not support the `accept` attribute. @rbrishabh has proposed (in his PR) to do an additional check of the file type before sending it over to the backend. Doing so prevents the file from being submitted to the backend if it is not a png/jpg, but there is still a need for some form of error message to be generated (presu

[2021-05-27 13:25] jianhandev commented on #11152
My current suggestion to fix this problem is as follows:
1. In the front-end, we disable formats other than jpg/jpeg/png using the `accept` attribute for file input
2. Suppose the front-end is bypassed (e.g. due to incompatibility with certain browsers), in the back-end, we perform another check to ensure the correct format. If an incorrect format is found, send back an error message in `JsonResul

[2021-05-28 04:13] damithc opened #11157 "Student accessing link using wrong Google account: give a more specific error message"
Context:
1. A student has joined a course using a Google account earlier.
2. The student is logged into a different Google account.
2. The student clicks on an access link (either to submit or to view results)
3. Current: TEAMMATES gives a generic error `Not authorized to view this page`
   Suggested: Make the error message more explanatory e.g., `You joined TEAMMATES with the Google account johnd

[2021-05-28 06:25] wkurniawan07 commented on #11152
@jianhandev it's never about "suppose the front-end check is bypassed". Back-end should never trust that the incoming information is accurate, secure, etc. Front-end validation is done if it value-adds to user experience, but it can never replaces back-end validation.

Also, the missing image display could very well be caused by line 32 here:
https://github.com/TEAMMATES/teammates/blob/45e3c0f88ce

[2021-05-28 10:26] cmadhumita5 commented on #11149
@damithc I wanted to know which is ur development branch?

[2021-05-28 14:02] #11144 closed

[2021-05-28 14:29] #10621 closed

[2021-05-28 21:31] Gily-H commented on #11135
Hi, I would like to work on this issue if it is not taken yet

[2021-05-29 05:01] ccyccyccy opened #11161 "Modal cancel loading bug"
This entire issue might be related to https://github.com/TEAMMATES/teammates/issues/11162

Canceling session permanant delete modal leads to the table being loaded indefinitely.

![Screen Recording 2021-05-29 at 12 34 23 PM](https://user-images.githubusercontent.com/32454748/120058313-8a145c80-c07c-11eb-94a5-aa2cc68ac7f3.gif)

Canceling "Copy from previous feedback sessions" modal leads to form be

[2021-05-29 05:54] ccyccyccy opened #11162 "Entire instructor deleted sessions table reloads upon clicking any button"
No reason to remove the table completely when performing an operation. A loading icon should be shown instead.

![Screen Recording 2021-05-29 at 1 51 35 PM](https://user-images.githubusercontent.com/32454748/120059610-335f5080-c085-11eb-9408-c31fa178f2a9.gif)

[2021-05-29 06:56] ccyccyccy commented on #11162
@madanalogy Do you remember if this was an intended change? I remembered it being a per-button loading icon.

[2021-05-29 10:35] bhupendersinghh commented on #11135
Hi, I am a first timer, can I work on this issue if possible?

[2021-05-29 10:54] #11071 closed

[2021-05-29 14:42] #11103 closed

[2021-05-30 04:17] jragusin commented on #11148
Hi. I would like to take this one.

[2021-05-30 07:28] madanalogy commented on #11162
I can't really remember sorry. Maybe double check with @damithc or @wkurniawan07

[2021-05-30 07:33] damithc commented on #11162
I don't remember requesting specifically for such a behavior. Perhaps it is to prevent the user from clicking on another item (and triggering another action) while the previous action is still in progress?

[2021-05-30 09:39] jianhandev commented on #11152
Tried manipulating the content type in `ImageResult`, but to no avail. Certain formats, like TIFF, are browser-dependent, which prevents the image from being rendered in `<img>` element. There is also certain quirks associated with SVG images which I have yet to find out why. Limiting it to the commonly used jpg/png formats might not be the best solution but considering that this is a non-importan

[2021-05-30 10:39] #10481 closed

[2021-05-30 13:15] damithc commented on #11152
No objections from me.

[2021-05-31 01:23] t-cheepeng commented on #11135
@Gily-H
Yes, you can go ahead and work on the issue

@bhupendersinghh
Thanks for expressing interest! As the previous commenter had commented earlier, priority is given. You can look for other issues with the `good first issue` label

[2021-05-31 17:23] Gily-H commented on #11135
@t-cheepeng thanks! Would it be appropriate if I were to create a new course and enroll students to view how the drop-down behaves?

[2021-06-01 01:15] t-cheepeng commented on #11135
@Gily-H Yes, that would be the expected workflow

[2021-06-01 01:48] smanpreet96 commented on #11157
Hi, I would like to contribute towards resolving this issue.

[2021-06-01 02:02] moziliar commented on #11157
Hi @smanpreet96 thank you for your interest in contributing to the project.
We recommend first time contributor to try out those labelled with "good first issue" before attempting other not labelled so.
Perhaps you can find another issue and give it a go?

[2021-06-01 02:03] moziliar commented on #11148
Hi @jragusin sorry for the delay in response. Feel free to take it up and let me know if you are facing any issue!

[2021-06-01 02:07] smanpreet96 commented on #11157
Yeah sure I can look for a "good first issue". Let me find one.

[2021-06-01 02:08] smanpreet96 commented on #11147
Hi, can I contribute towards resolving this one?

[2021-06-01 02:14] moziliar commented on #11147
@smanpreet96 sure! You can give it a go!

[2021-06-01 02:19] smanpreet96 commented on #11147
Thank you!

[2021-06-01 14:26] jianhandev commented on #11152
For more flexibility, instead of supporting only jpeg and png, we can support other commonly used formats like image/gif and image/svg+xml which have broad browser support. The problem of svg not rendering properly is being addressed in [PR #11165](https://github.com/TEAMMATES/teammates/pull/11165).

**Widest browser support:**
image/jpeg
image/png
image/gif
image/svg+xml

**Do not have wide brows

[2021-06-02 02:51] moziliar commented on #11149
@cmadhumita5 for our contribution workflow, we branch directly off master branch, unless we are working on feature branch for individual feature project.

[2021-06-02 03:46] ypinhsuan commented on #10938
@damithc In addition to what is already done in #11012, do you want to allow instructors to copy from other courses when they are creating new courses? (there is a similar feature for copying feedback sessions as well)
![button](https://user-images.githubusercontent.com/58677983/120420714-7710cd80-c397-11eb-83cb-96e9ae2fc238.png)

After instructors click on the `copy from previous course` button,

[2021-06-02 03:53] damithc commented on #10938
That's a great observation @ypinhsuan Yes, it would be nice to have. But I'm OK to do that as a separate PR too. It's best to keep PRs as small as possible (easier to review, faster to merge). Some of the less important bells and whistles can be added incrementally, and can even be farmed out to newer contributors (you can guide them along the way). But remember to record those additional features

[2021-06-02 04:50] smanpreet96 commented on #11147
Hi, I am unable to run the backend server locally due to discrepancy in the g-cloud version of the project and my local machine (Well from the error logs seems like that's the issue). Is there a way to login to a student profile without masquerading  through admin view?

[2021-06-02 18:30] Chris211313 commented on #9117
I'll take care of this one as a first issue :)

[2021-06-03 07:04] hhdqirui commented on #10659
Hello! Is this issue still relevant? I tried to replicate and instead of "not authorized to access resources" I get an error message that makes sense to user.
![image](https://user-images.githubusercontent.com/53338059/120601710-e01e4100-c47c-11eb-842d-4e89f6be48d0.png)

[2021-06-03 07:47] damithc commented on #10659
Yes, seems to be fixed now. Thanks for checking @hhdqirui

[2021-06-03 07:47] #10659 closed

[2021-06-04 01:33] sakibmahmud commented on #11150
Is the issue still open? I would like to work on this.

[2021-06-04 01:36] sakibmahmud commented on #11135
I would like to work on this issue, please.

[2021-06-04 01:38] moziliar commented on #11150
@sakibmahmud hi, thank you for your interest in contributing to the project!
The issue is currently handled by another contributor. Maybe you can look for another good-first-issue in the meantime?

[2021-06-04 03:12] damithc opened #11169 "Student viewing responses: show an empty panel if the student didn't receive responses for a question"
Context: A student who has logged into TEAMMATES is viewing results of a session. The question is set as visible to the receiving student but the student has not received any responses for that question. The student hasn't given any responses either.

Current: Nothing is shown

![image](https://user-images.githubusercontent.com/1673303/120740187-4fe80680-c525-11eb-89e9-cee031a8b8ef.png)

Suggested

[2021-06-04 06:10] t-cheepeng commented on #11135
Hi @sakibmahmud The issue is currently worked on by someone else. Please find other `good first issue` to work on. Thanks!

[2021-06-04 06:11] madanalogy opened #11170 "Release V7.17.0"
Scheduled for Sunday, Jun 6, 2021, 10.00am SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-06-04 15:17] wkurniawan07 opened #11173 "Release V8.0.0-beta.0"
Scheduled for Sunday, Jun 6, 2021, 1.00pm SGT. (within hours after V7.17.0)

Release Lead:

- [x] Tagged the latest ~stable release code~ `master` branch code with the beta version number
- [x] Released changelogs

PM:

- [x] Deployed the new version for internal use
- [x] ~Released the new version for end users~

[2021-06-04 16:58] Gily-H commented on #11135
Hi, sorry it's taking a bit I've started summer courses recently.
I implemented sorting in the `instructor-audit-logs-page.component` for the student drop-down for when `loadData()` retrieves the list of students from the server.

I am checking to see if there is a better way to implement the method using existing resources similar to the sorting methods found in the `tableComparatorService`.

[2021-06-05 01:51] #11126 closed

[2021-06-05 02:20] #11099 closed

[2021-06-05 04:30] rrtheonlyone commented on #11135
@Gily-H please submit a PR and we can discuss there

[2021-06-05 05:24] #11139 closed

[2021-06-06 08:24] #10597 closed

[2021-06-06 09:12] madanalogy commented on #11170
[V7.17.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.17.0) has been released by @madanalogy at June 6th, 2021, 05.10pm SGT.

Code contributions from: @AdithyaNarayan, @hhdqirui, @hoonti06, @jianhandev, @moziliar, @ypinhsuan
Review contributions from: @ChooJeremy, @ccyccyccy, @damithc, @daongochieu2810, @halfwhole, @hcwong, @madanalogy, @moziliar, @rrtheonlyone, @t-cheepeng, @teikjun, @

[2021-06-06 10:50] #10955 closed

[2021-06-06 10:50] #11018 closed

[2021-06-06 10:50] #11065 closed

[2021-06-06 10:50] #11079 closed

[2021-06-06 10:50] #11080 closed

[2021-06-06 10:50] #11119 closed

[2021-06-06 10:50] #11120 closed

[2021-06-06 10:50] #11121 closed

[2021-06-06 11:16] wkurniawan07 opened #11175 "Change most mentions of Datastore to database"
`Datastore` (specific to Google Cloud Datastore) is a very specific implementation of the database (a general computer system term) we are using. By conflating those terms we create tight coupling, and in the event that we decide to switch our database implementation, the former will stop making sense in most of the places the term is being used.

All mentions of `Datastore` in the code base and d

[2021-06-07 03:36] damithc commented on #10994
Another case, possibly related (screenshot sent by student)
![image](https://user-images.githubusercontent.com/1673303/120955612-532cfd80-c784-11eb-8e75-95db3807c5dd.png)

This time, the timestamp in the screenshot indicates it was _before_ the deadline.
Is it because the student didn't fill in the answers?

[2021-06-07 03:57] damithc opened #11176 "Instructor checking student activity: use grey panel if no results"
Steps:
1. Instructor goes to `/web/instructor/logs`
2. Search for activities of some student/session
3. No results returned for some sessions:
   ![image](https://user-images.githubusercontent.com/1673303/120956906-35ad6300-c787-11eb-80cc-01e10b9ab602.png)

Suggestion: Empty panels are shown in green (i.e., success) style. Perhaps we can use a different style for empty panels e.g., grey?

[2021-06-07 03:58] damithc commented on #11176
@t-cheepeng is this suitable for first-timers?

[2021-06-07 04:06] damithc commented on #11170
Deployed and released. Thanks everyone who contributed 💯

[2021-06-07 10:28] hhdqirui opened #11177 "Create new user role: Senior Developer"
**Environment**: `V7`

**Description of feature/enhancement**
A new user role, Senior Developer is added to the system to allow the system to recognize which user is a senior developer to TEAMMATES.

**Justification**
This can help senior developers to access certain restrict resources so turnaround time between an error occurs and developers respond to it can reduce.

[2021-06-07 11:04] #11170 closed

[2021-06-07 12:27] wkurniawan07 opened #11179 "Convert cron.yaml into templated version"
Currently, `cron.yaml` (previously `cron.xml`), which is used to define cron jobs run by the system, is hard-coded and version-controlled.

Problem:
- The cron jobs are only relevant for the production system. Almost no developers have any need to have logs compilation or feedback session reminder regularly run.
- One of the cron jobs, which is the log compilation, is run every 5 mins. This causes

[2021-06-07 13:38] wkurniawan07 opened #11180 "Convert event-based log message to structured logs"
https://github.com/TEAMMATES/teammates/blob/b23e56e666e03b60ade6649769b7971c9d782ef8/src/main/java/teammates/ui/webapi/WebApiServlet.java#L78-L81

https://github.com/TEAMMATES/teammates/blob/b23e56e666e03b60ade6649769b7971c9d782ef8/src/main/java/teammates/ui/webapi/OriginCheckFilter.java#L179-L182

https://github.com/TEAMMATES/teammates/blob/b23e56e666e03b60ade6649769b7971c9d782ef8/src/main/java/t

[2021-06-07 17:28] damithc opened #11182 "Proof-of-submission file: Add a warning if no answers were saved"
While we figure out what's going on in #10994 (there may be multiple causes), in the interim, I would like to add a clear warning in the proof-of-concept file if there are no answers in it.

![image](https://user-images.githubusercontent.com/1673303/121062893-38946c00-c7f8-11eb-95a0-9be81b21e7b5.png)

e.g., `WARNING! No answers were saved. Please try again.`

Reason: Without such a clear message,

[2021-06-08 00:55] wkurniawan07 commented on #10994
No. Empty answer will still print the question details.
The only scenario for empty proof of submission file is all requests for saving failed. Submission after deadline is a possible cause but not the only cause.
That, or the proof of submission is forged.

[2021-06-08 01:18] t-cheepeng commented on #11176
Yes, suitable

[2021-06-08 11:32] wkurniawan07 commented on #11179
On second thought, it is easier to achieve the same objective by skipping `cron.yaml` deployment.

[2021-06-08 11:32] #11179 closed

[2021-06-09 19:06] brennanw31 commented on #8607
I'd like to work on this

[2021-06-09 19:11] brennanw31 commented on #11175
I'd like to work on this.

[2021-06-11 08:26] lyeyixian commented on #11169
Hi, I would like to work on this issue.

[2021-06-11 09:00] hhdqirui commented on #11161
Hi! I would like to work on this issue.

[2021-06-11 16:16] blancont commented on #11176
First-timer here, could I try working on this issue?

[2021-06-11 21:11] aileenpalafox commented on #11147
Hi, is @smanpreet96 still working on this issue or can I give it a try?

[2021-06-11 21:32] smanpreet96 commented on #11147
Hi @aileenpalafox actually I didn't even get a chance to work on it because I was not able to run the backend server. I dropped my previous comment and while waiting for a response I totally forgot to ask again. So if you have the servers running you can work on it. However I would still like some assistance with this server thing so that I can take up some other issue later on.

[2021-06-11 21:39] aileenpalafox commented on #11147
Thanks for the quickly response, I'm sorry to hear that. I hadn't try to run the server but I let you know if I can!

[2021-06-12 00:08] moziliar commented on #11147
Hey folks! Sorry for not getting back! Can you guys send me a screenshot of the error when you attempted to start the backend server? @aileenpalafox @smanpreet96

[2021-06-12 16:41] lyeyixian commented on #11147
@smanpreet96 Hi, I don't know if this is your issue, but for me I ran `gradlew.bat runDatastoreEmulator` before running `gradlew.bat serverRun` and it works fine.

[2021-06-13 00:59] smanpreet96 commented on #11147
Okay let me try and see if this works @lyeyixian