[2015-01-15 15:06] thyageshm commented on #2864
solved and merged under #2882

[2015-01-15 15:06] #2864 closed

[2015-01-15 15:11] thyageshm commented on #2855
Just bouncing some thoughts here. Should we edit the Student Entity to have a String attribute to provide this feature? By default it will be null and if it is not null we can use the unique ID given by instructor in all our displays (as necessary)

[2015-01-15 15:15] thyageshm commented on #2620
Sir I am having trouble reproducing this bug. Could you please give a little more details on how to reproduce this bug?

[2015-01-15 15:30] damithc commented on #2620
I don't remember how I produced this exactly. If you have multiple tabs submitting things in parallel, there is chance that the status message meant for one page being stolen by another page. I suspect it is because we use the session object to store the status message but the session object is shared by all TEAMMATES pages in the the browser (is that the case?)

[2015-01-15 15:39] damithc commented on #2855
Yes, that is a reasonable approach. Note that we have to ensure that the ID
is not null for *all* students in the course :-p

[2015-01-15 16:24] #2884 closed

[2015-01-16 02:29] damithc opened #2886 "update settingup.md for java 8 and eclipse luna"
Most new contributors are likely to have java 8 and eclipse luna by default. We need to update the documentation to help them set up correctly.

[2015-01-16 02:31] damithc commented on #2886
@LowWeiLin could you install Java 8, switch to Luna, and update the documentation accordingly? We are going to have many new contributors from next week.

[2015-01-16 09:53] franklingu commented on #2848
it seems the code in page that generates remind link is not checking for accessibility but the remind action is checking can_modify_session privilege. the html generated in pagedata->getInstructorFeedbackSessionActions should be updated.
this is just my understanding of the existing code. cannot remember the reason for this but most likely it is a bug with my existing code

[2015-01-16 09:54] franklingu commented on #2848
should I take this one? or @ackoroa you want to fix it?

[2015-01-16 11:24] damithc commented on #2848
Go ahead and fix it @franklingu .

[2015-01-16 12:22] damithc opened #2889 "'No active courses' in masquerade mode"
Sessions page in masquerade mode show 'no active courses'

[2015-01-16 12:24] damithc commented on #2889
May be using the 'logged in user' in some place instead of the 'nominal user'?

[2015-01-16 13:29] kanghj commented on #2889
This could be caused by the changes @LowWeiLin made in #2872, if the script included in that pull request wasn't ran. This is since the query would now filter on the isArchived attribute. The isArchived attribute wasn't indexed prior to the pull request and the query would return no results, which seems consistent with this issue.

[2015-01-16 13:51] #2883 closed

[2015-01-16 14:04] damithc commented on #2889
Yes, that seems to be the case.

[2015-01-16 14:04] #2889 closed

[2015-01-16 14:09] #2850 closed

[2015-01-17 00:55] damithc opened #2890 "Instructor: can add multiple instructors on a course in one step"
Requested by a user. Adding one at a time is troublesome.
Perhaps allow copying multiple instructors from existing courses?

[2015-01-17 01:20] damithc commented on #1482
no longer relevant

[2015-01-17 01:20] #1482 closed

[2015-01-17 01:23] damithc commented on #1474
This should not be the case because student pages don't have links to instructor pages and vice versa.

[2015-01-17 01:23] #1474 closed

[2015-01-17 01:30] damithc commented on #1459
No longer relevant

[2015-01-17 01:30] #1459 closed

[2015-01-17 01:32] damithc commented on #1411
done

[2015-01-17 01:32] #1411 closed

[2015-01-17 01:36] damithc commented on #1309
Students can still update the profile. Should not disable.

[2015-01-17 01:36] #1309 closed

[2015-01-17 01:40] damithc opened #2891 "student course join: ask to update profile if there are no open sessions"
Sometimes instructors send out join emails when there are no open sessions. In that case, we should inform the student that
1. there are no pending sessions,
2. TEAMMATES will send a notification when a session opens
3. recommended to update the profile

[2015-01-17 01:44] damithc opened #2892 "instructor sending join reminders: warn if there are no pending sessions"
We already have a warning that there is no need to send join reminders. We can rephrase the message if there are no open sessions.

[2015-01-17 03:07] LowWeiLin commented on #2886
I have setup(upgraded) the project to eclipse luna, but I can't get it to run properly with java 8. It seems that java 7 is recommended by appengine. It mentions it might be possible to use java 8 by passing in java 7 flags, but I think sticking with java 7 would be easier in that case...
https://cloud.google.com/appengine/docs/java/gettingstarted/setup

The only differences in using eclipse luna

[2015-01-17 03:43] damithc commented on #2886
Yes, let's advise to install Java 7 even if they have Java 8 installed.
Another issue is if eclipse is configured to use Java 8 (but using java 7
for our project), can we deploy? I remember there was an issue where one of
our new contributors had to set Eclipse to use Java 7 to deploy.

[2015-01-17 09:48] damithc opened #2893 "instructor sessions page: Add a 'copy' button to each session."
We can do the same for the home page.

[2015-01-17 09:57] damithc opened #2894 "instructor copy sessions: annotate the original course"
In the modal window, we can annotate the course from which the session is copied. The annotation can be in a different color. Such an annotation can minimize user errors of trying to copy the session to the same course but using the same name.
e.g.
[CS2103] Software Engineering _{session currently in this course}_

[2015-01-17 13:07] LowWeiLin commented on #2886
I think java 7 needs to be used for both project properties and also under eclipse's window > preferences.

[2015-01-18 06:06] damithc commented on #1745
@drunken-saint give this a try. @kanghj please be the reviewer for this issue.

[2015-01-18 06:32] damithc opened #2896 "admin activity log: make local time available for actions of unregistered users"
Currently, it says 'local time unavailble'

[2015-01-18 10:27] #2886 closed

[2015-01-18 15:37] damithc opened #2899 "instructor help page: select the radio buttons in the rubric question sample"
The radio button can be shown as selected.
![image](https://cloud.githubusercontent.com/assets/1673303/5792932/d23d0b36-9f6a-11e4-80e6-8292f88d3a51.png)

[2015-01-18 16:11] #2703 closed

[2015-01-19 05:23] damithc opened #2900 "ArrayIndexOutOfBoundsException in rubrics question"
Here's the error message:

-1
Request Path /page
Request Parameters {rubricChoice-14::10, rubricChoice-13::9, rubricChoice-12::8, rubricNumRows::5, rubricChoice-4::0, rubricChoice-6::2, rubricChoice-5::1, constSumToRecipients::false, rubricChoice-8::4, rubricChoice-7::3, rubricChoice-9::5, numofrecipients::1, rubricDesc-0-14::Excellent, rubricDesc-0-13::, rubricDesc-0-12::, rubricDesc-0-11::, rubr

[2015-01-19 09:23] franklingu commented on #2848
the example shown in the picture is the error case? can you provide the details for replicating the bug? the disabled attribute for remind link group is not following the same policy--want to confirm which one is correct based on the bahaviour

[2015-01-19 14:54] LowWeiLin commented on #2900
This error occurs when the first column/choice is deleted. Fixing the issue now.

[2015-01-19 15:36] #2900 closed

[2015-01-19 16:51] #2843 closed

[2015-01-20 12:37] thyageshm commented on #2847
shall I take this one? Also, shall I add an additional condition for the message being shown:

If no courses at all : welcome new user message
else if no active course : view your archived courses at Courses Page
else : normal view of the courses

[2015-01-20 12:44] damithc opened #2902 "Instructor: Add a confirmation dialog to 'delete student' button"
This action is irreversible. We should get a confirmation first.

[2015-01-20 12:44] drunken-saint commented on #1745
ok .

[2015-01-20 12:45] damithc commented on #2847
Sure Thyagesh.

[2015-01-20 12:47] damithc commented on #2847
If it is not difficult to do, we can leave it for contributors though. You can be the mentor. What do you think?

[2015-01-20 12:50] thyageshm commented on #2847
ok :-)

[2015-01-20 14:46] drunken-saint commented on #1745
I have a confusion . Is this issue asking to give instructions to the student users who use the software or is it instructing the developers on how create a student account to get a demo?
I think it is the latter one but I wanted to confirm , just in case .

[2015-01-20 14:50] kanghj commented on #1745
It is about instructing developers how to create student accounts on the dev server during development.

[2015-01-20 23:39] drunken-saint commented on #1745
got it .
![screenshot 34](https://cloud.githubusercontent.com/assets/7551036/5828534/7f947212-a12b-11e4-992e-dcd97de62f52.png)

I have made the changes . I am attaching the screenshot link above. Look for the point no. 8 at the bottom for the added instruction . Is it okay to commit the change now ?

[2015-01-20 23:43] damithc opened #2904 "NPE in FeedbackQuestionSubmissionEditPageAction"
null

Request Path /page
Request Parameters {courseid::Comp800, fsname::Peer Feedback }
Stack Trace

java.lang.AssertionError: null
	at teammates.common.util.Assumption.fail(Assumption.java:58)
	at teammates.common.util.Assumption.assertTrue(Assumption.java:27)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:254)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java

[2015-01-21 02:01] LowWeiLin commented on #2904
This error occurs when a user is trying to access the link to submit a response for a single feedback question. (FeedbackQuestionSubmissionEditPage)
The error occurs due to a missing parameter (feedback question id) from the url.
It may be possible that the user copied half of the link? It does not seem to be an incorrect generation of the url as the parameter is entirely missing, not invalid or e

[2015-01-21 04:08] kanghj commented on #1745
The instructions look correct but there appears to be some inconsistent phrasing and punctuation compared to the rest of the document. For example, punctuation marks should appear immediately after the end of a token.

If you wish to, you can commit and make a pull request for further discussion.

[2015-01-21 06:54] damithc opened #2905 "Rubric question results csv: give choice number as a separate column"
If we give it in the same column, it's harder to post process the data, especially in cases where the value is a number. e.g. see screenshot
![image](https://cloud.githubusercontent.com/assets/1673303/5832266/2314edf8-a17d-11e4-8252-63096f41919d.png)

[2015-01-21 07:49] drunken-saint commented on #1745
my repo is failing 46 tests and skipping 100+ tests .Any suggestiojns for troubleshooting ? I have checked all the scope of errors .
Should I start a new thread on the google group about this?

[2015-01-21 09:13] damithc opened #2906 "Student profile: 'Email' --> 'Long term contact email'"
Change 'Email' --> 'Long term contact email'

![image](https://cloud.githubusercontent.com/assets/1673303/5833688/a90ea38c-a190-11e4-8c0b-8a1d66461336.png)

[2015-01-21 09:20] damithc opened #2907 "admin search: link student name to student record under course owner's pages"
Currently, it is linked to the 'all records' of any instructor in the course. It is better to masquerade to that page under course owner's permission.

[2015-01-21 10:00] kanghj commented on #1745
Which tests are failing and what do the stacktraces look like? You can try looking through the [troubleshooting guide](https://docs.google.com/document/d/1_p7WOGryOStPfTGA_ZifE1kVlskb1zfd3HZwc4lE4QQ/pub?embedded=true#h.ex2tkw3n8rkf).

Your changes in this issue should not cause any tests to fail, so it should be a configuration error.

[2015-01-21 10:42] taniach commented on #2079
May I fix this?

[2015-01-21 11:06] damithc commented on #1151
How to reproduce:
Go to http://teammatesv4.appspot.com/request.html
The 'Feature' tab is not clickable, but it should be.

[2015-01-21 11:20] kanghj opened #2908 "Instructor: session results: contribution questions: show 'Not Sure' as 'Not Sure' instead of 'N/A'"
As per title

[2015-01-21 11:30] thyageshm commented on #2079
Go ahead and create a pull request once you are done

[2015-01-21 11:33] damithc commented on #1419
@LowWeiLin this should be a Action level test? Don't we need similar tests for other types such as numeric scale? e.g. the scale is changed while in a way that existing responses don't match the new scale.

[2015-01-21 11:43] thyageshm commented on #2906
sir shall I review this one?

[2015-01-21 11:46] damithc commented on #2906
Sure Thyagesh.

[2015-01-21 11:47] #1408 closed

[2015-01-21 11:49] damithc commented on #1395
Possibly not worth the performance hit. Closing for now.

[2015-01-21 11:49] #1395 closed

[2015-01-21 11:52] rcyq commented on #1419
Yes, the deletion of existing responses when a question (MCQ/MSQ/NumScale) got edited is tested in the Action level test (InstructorFeedbackQuestionEditActionTest).

[2015-01-21 12:02] thyageshm commented on #2902
sir I would believe this one can be labelled as d.easy as we are doing something similar for deletion of sessions in instructorFeedbacksPage. This code is short and easily transferable.

[2015-01-21 12:05] thyageshm commented on #2902
Oh just to confirm, which page are we talking about here? cos the instructorStudentList page already has the confirmation for deletion of students

[2015-01-21 12:09] github-tn commented on #2803
start issue

[2015-01-21 12:42] damithc commented on #2902
I don't remember the exact page. Probably the search results page? Should check all places where a student can be deleted.
The bar is quite low on the `d.moderate`. If it requires changes in multiple places including tests, we can consider it as `d.moderate`

[2015-01-21 12:49] thyageshm commented on #2890
something like these?
![page_with_button](https://cloud.githubusercontent.com/assets/5160137/5836315/f0eda130-a1ae-11e4-9372-d0138058b5fe.jpg)
![page_with_modal](https://cloud.githubusercontent.com/assets/5160137/5836316/f20147d4-a1ae-11e4-97ae-ccf078f7f8dd.jpg)

[2015-01-21 12:53] damithc commented on #2890
Yes, something like that. :-)

[2015-01-21 13:01] thyageshm commented on #2351
![page_delete_location](https://cloud.githubusercontent.com/assets/5160137/5836430/a71dd78a-a1b0-11e4-98a6-7d00590d6e0f.jpg)

[2015-01-21 13:03] #2907 closed

[2015-01-21 13:04] thyageshm commented on #2902
ok

[2015-01-21 13:12] thyageshm commented on #2351
All the code at logic level and below have already been written (refer to deleteStudentProfilePicture in Logic.java). We need a StudentProfilePictureDeleteAction and appropriate UI changes to the studentProfilePage.jsp.

[2015-01-21 13:14] thyageshm commented on #1303
sir, should we handle this by providing a message at the student home page to update their profile (similar to the new user message for instructors) when there are no sessions to be done? We could have a smarter algo to check if the profile has already been updated (ie existing user) from the really new ones

[2015-01-21 13:17] thyageshm commented on #2295
currently we have updated the uploading process whereby the pictures are already renamed to be the googleId of the student in question.

[2015-01-21 13:18] thyageshm commented on #2314
The problem with solving this issue is that instructors are also students of their own courses... all instructors have studentProfiles. Thus we need to discuss this issue further to come up with a proper solution.

[2015-01-21 14:28] damithc commented on #1303
@kanghj this may be related to #2891 ?

[2015-01-21 15:19] damithc commented on #1419
@rcyq is there a corresponding UI test that checks for the warning dialog?

[2015-01-21 15:27] kanghj commented on #1303
Yes, this looks like a duplicate of #2891

[2015-01-21 23:54] damithc opened #2912 "instructors can set giver as 'teams' by mistake"
One person set the giver as 'teams in this course' when he/she meant 'students in this course'. Not sure if there is anything we can do to avoid this confusion.

[2015-01-21 23:56] damithc opened #2913 "NPE in search"
java.lang.NullPointerException

Request Path /page
Request Parameters {searchstudents::true, searchcommentforresponses::false, user::abc, searchkey::Nuria, searchcommentforstudents::false}
Stack Trace

java.lang.NullPointerException
	at org.apache.jsp.jsp.instructorSearch_jsp._jspService(instructorSearch_jsp.java:376)
	at org.apache.jasper.runtime.HttpJspBase.service(HttpJspBase.java:97)
	at javax

[2015-01-21 23:58] damithc commented on #2913
@imouto1994 can you have a look?

[2015-01-22 00:18] damithc commented on #1303
Note that this needs a bit more than simply asking to fill in the profile.
Can do both together?

[2015-01-22 05:27] imouto1994 commented on #2913
Sure prof :)

[2015-01-22 07:52] imouto1994 commented on #2913
Sorry prof, do we have any other information about this student 'Nuria' from this course ? It is hard to know where the NPE happens from the stack trace

[2015-01-22 08:57] damithc commented on #2913
The NPE is coming from the jsp page. `instructorSearch_jsp.java:376` I can't seem to find the said file though (it is the compiled version of the jsp page). That instructor gets that error for any student search, not just that particular student. @kai33 any ideas?

[2015-01-22 09:03] damithc commented on #2913
Instructors of the same course can search for that student without a problem. So it is something specific to that instructor.

[2015-01-22 10:02] #2819 closed

[2015-01-22 10:38] imouto1994 commented on #2913
One of the possible reason I can think of is that this 378th line `InstructorAttributes instructor = data.studentSearchResultBundle.instructors.get(student.course);` assigns null value for `instructor` variable.
However, according to the logic, this should always have corresponding value. I will try to look into it more.

[2015-01-22 11:32] #2896 closed

[2015-01-22 13:00] damithc commented on #2913
May be add some assertions in those places? At least it'll tell us where
the null is. I can deploy the new version (with assertions) and try it on
problematic user's data.

[2015-01-22 13:36] kai33 commented on #2913
I'm able to re-produce the bug:
1. Instructor A create a course with id 'course1'
2. Instructor B create a course with id 'course1.name', and enrol a student with name 'ABC'
3. Instructor A then search for 'ABC' --> exception occurs.

The cause:
1. google's full text search engine splits text like 'course1.name' into 'course1' and 'name'.
2. thus when search for text like 'course1' the engine will

[2015-01-22 13:45] kai33 commented on #2913
My suggestion is,
to make a hotfix to filter the courseId again when get back the search result (currently in CommentSearchResultBundle, FrcSearchResultBundle, & StudentSearchResultBundle).

[2015-01-22 14:07] damithc commented on #2913
Not sure if that is the cause though.
For example, this student is in two courses: FMIM1 and FMIM1-2
Searching for that student causes the error in the problematic instructor
(she is an instructor of only FMIM1) but no error when searched by another
instructor (he is an instructor of both courses).
Does this situation fit the suspected bug?

[2015-01-22 14:12] imouto1994 commented on #2913
Yes, I think it quite fits. The instructor of only FMIM1 will have the NPE when a student from FMIM1-2 is in the search results. Since the course FMIM1-2 is not in the list of instructors of the user's `googleID`, it will return a null value

[2015-01-22 14:34] damithc commented on #2913
So text search splits by dash as well?

[2015-01-22 14:38] imouto1994 commented on #2913
Yes I think. I did some search on the GAE Search and found that they stated `The string is split into tokens wherever whitespace or special characters (punctuation marks, hash sign, etc.) appear`. This problem can be fixed by having a pre-filter for each student :)

[2015-01-22 14:59] kanghj commented on #1303
![newstatusmsg](https://cloud.githubusercontent.com/assets/2216119/5857808/66fb912c-a289-11e4-8432-d07dc47eedec.PNG)

Just to give an update and clarify, is this what the student should see after clicking on the link sent in the email and authenticating? (The last line about updating profile will only appear if the student has not modified his profile before)

I am still working on the smarter log

[2015-01-22 15:00] #2880 closed

[2015-01-22 15:04] damithc commented on #1303
Looks good. May be show both course ID and course name in the status message. The course ID used in TEAMMATES may be different from the one they use in the school which might confuse students.

[2015-01-22 15:33] kai33 opened #2917 "Refactor *SearchResultBundle to always filter out CourseId etc (except for admin)"
In the old design, *SearchDocuments are filtered/searched by specifying CourseId in the *SearchQuery. But it turns out that it's not completely filtered and not safe for some time, as GAE's full-text search engine splits the CourseId by some characters, which then results in wrong cases. E.g. search for 'CourseId', but returns results for 'CourseId' and 'CourseId.Wrong' (it's splitted into 'Course

[2015-01-22 15:37] damithc commented on #2917
Any way to prevent Google from splitting those keywords?

[2015-01-23 00:16] damithc commented on #2755
Sometimes I have to try 10 times before I can go past this error. Can try to reduce the incidence of this error, may be by adding a 'wait and retry' if the data is not yet persisted?

[2015-01-23 01:06] kai33 commented on #2917
no api provided for that

[2015-01-23 01:19] damithc commented on #2917
What if we add double quotes around the search string (like in normal
Google search)? Does that help?

[2015-01-23 01:27] damithc opened #2919 "admin search results: give a button to reset google ID of a student"
This is in case a student joined using wrong Google account

[2015-01-23 12:41] damithc commented on #2904
Let's wait to see if this happens again.

[2015-01-23 13:28] #2755 closed

[2015-01-23 16:18] kai33 commented on #2917
no, not working. still match

[2015-01-24 00:32] damithc opened #2922 "admin search results: show course name"
If there's no space, can show as a tooltip or when expanded

[2015-01-24 03:50] #2913 closed

[2015-01-24 07:30] thyageshm commented on #1303
Looks great. I believe the profile has a "modifiedDate" attribute that can be used for this purpose. Also,  we could check if any of the "important" fields have been left out and provide a message thats more tailored to the user. Eg: "Meanwhile, you can provide a preferred name that you would like to be addressed by your instructors here"

[2015-01-24 07:52] damithc opened #2923 "InstructorHomePageUiTest fails on dev server"
Fails at line 161
`homePage.verifyHtmlAjax("/InstructorHomeHTMLWithHelperView.html");`

[2015-01-24 08:43] damithc commented on #2923
passes on the live server though

[2015-01-24 08:50] damithc opened #2924 "InstructorFeedbackEditPageUiTest fails on staging server"
fails on staging server at line 255
` feedbackEditPage.verifyHtmlMainContent("/instructorFeedbackQuestionVisibilityPreview.html");`
The reason may be that it takes some time for the visibility to update.
The mismatch is in the visibility description.

[2015-01-24 08:56] damithc opened #2925 "InstructorFeedbackResultsPageUiTest fails on the staging server"
fails at line 362 `resultsPage.addFeedbackResponseComment("test comment 2");`
The add comment button is clicked but the new comment form is not open. The test can pass if I manually click the button again within a few seconds. So it looks like a timing issue.
![image](https://cloud.githubusercontent.com/assets/1673303/5886742/ada18ba2-a3e9-11e4-9abd-6865d71973f2.png)

[2015-01-24 09:08] #2705 closed

[2015-01-24 09:10] damithc commented on #2430
Raised the priority

[2015-01-25 02:19] kanghj commented on #1303
Ok, I will work on tailoring the message based on which attributes are missing in the profile.

Meanwhile, this is the logic for showing the message about updating the profile.
If the account is newly created, show the message.
Otherwise,
    compare the profile's modified date with the account's creation date, and show the message if they are within a time period (a few minutes) of each other.

H

[2015-01-25 04:51] #2079 closed

[2015-01-25 07:25] thyageshm commented on #1303
I see... then a simple way would be to check if there are any fields in the profile that are empty and show the message correspondingly.

This could be achieved by having a method in ProfileAttributes class: generateUpdateMessageForStudent()

This can return a string based on the fields that are empty:
1. if more than one field is empty, use a generic message
2. If exactly one is empty, use a spec

[2015-01-25 07:26] thyageshm commented on #1303
Also, could you open an issue to address the problem of modifiedDate in the student profile?

[2015-01-25 15:04] damithc opened #2929 "instructor session publish confirmation dialog: evaluation --> session"
Rephrase: evaluation --> session
![image](https://cloud.githubusercontent.com/assets/1673303/5891882/4d68676c-a4e6-11e4-81ef-f175cdf641df.png)

[2015-01-26 12:52] #2829 closed

[2015-01-26 13:19] drunken-saint opened #2931 "settingUp.md : grammatical inconsistency/typo present"
In the topic "Setting up the dev server" ,point no. 6 ,"login" should be replaced with "log in".

[2015-01-26 16:02] damithc commented on #1355
Column order is no longer important.

[2015-01-26 16:02] #1355 closed

[2015-01-26 16:04] damithc commented on #1296
done

[2015-01-26 16:04] #1296 closed

[2015-01-26 16:04] damithc commented on #1295
done

[2015-01-26 16:05] #1295 closed

[2015-01-27 05:10] damithc commented on #466
No longer relevant

[2015-01-27 05:10] #466 closed

[2015-01-27 06:00] damithc opened #2932 "instructor session copy: the session name is more restrictive than necessary"
When creating a session, the session name can have symbols such as '('. But when copying, such symbols are not allowed.

[2015-01-27 06:52] damithc opened #2933 "student: can add a comment to an answer"
e.g. to explain why a certain option in the MCQ question was chosen

[2015-01-27 09:19] #1745 closed

[2015-01-27 11:20] #2922 closed

[2015-01-27 23:51] damithc opened #2936 "NPE during student course join"
I had several of these today:

java.lang.NullPointerException

Request Path /page
Request Parameters {persistencecourse::CHEN30012, error::false, user::abc, key::00243BFDCBBEE5308D4194D82CE16F6F1243F3FF68DBBB53285704604BC62DC1D9C17C8126B19F2676F0DDA051BE78EB9007840048DE074D15E34}

Stack Trace

java.lang.NullPointerException
    at org.apache.jsp.jsp.instructorHome_jsp._jspService(instructorHome_js

[2015-01-27 23:52] damithc commented on #2936
@thyageshm could you have a look?

[2015-01-27 23:54] damithc opened #2937 "'Session disappeared' error during copying"
Session disappeared.

Request Path /page
Request Parameters {copiedcourseid::AFS6905_AFS4935_ANT4930, copiedfsname::Second team feedback session, user::abc, courseid::AFS6905_AFS4935_ANT4930, fsname::First team feedback session}
Stack Trace

java.lang.AssertionError: Session disappeared.
	at teammates.common.util.Assumption.fail(Assumption.java:58)
	at teammates.logic.core.FeedbackQuestionsLogic.c

[2015-01-27 23:55] damithc commented on #2937
@kanghj could you have a look? May be related to eventual consistency problem.

[2015-01-28 00:06] damithc commented on #2936
BTW, this is an instructor added by an existing instructor (not added by admin) but a similar error happened to another one added by admin.

[2015-01-28 00:56] thyageshm commented on #2936
will look into it sir :-)
btw, line number 70 in instructorHome.jsp is:
                               title="<%=Const.Tooltips.SEARCH_STUDENT%>"

I have checked whether the Tooltips.SEARCH_STUDENT exists. I guess the error is coming from another place

[2015-01-28 03:51] damithc commented on #2936
The line number quoted does not match the line number in the jsp file. That line number is from the java file that the jsp file got compiled into. So far, I haven' found a way to access that java file.

[2015-01-28 03:51] thyageshm commented on #2936
oh.. ok

[2015-01-28 04:27] kanghj commented on #2937
Yes, this seems to be caused by eventual consistency. The EntityDoesNotExistException is thrown when the copied feedback session, that is just created, cannot be found when trying copy to the questions over.

I am not sure how to deal with this problem at the moment. I'll continue looking into what can be done to fix this.

[2015-01-28 04:36] kanghj commented on #2937
Ok I just realised there is a function to create feedback questions that doesn't check for the existence of the feedback session first. Shall I just use that?

[2015-01-28 04:43] damithc commented on #2937
Yes, let's do that.

[2015-01-28 11:05] kanghj opened #2939 "Allow creating entities with specific modified or created dates"
For entities containing created dates or modified dates, there should be a constructor that accepts specific dates.

For example, in StudentProfile, there should be a constructor to create a StudentProfile while specifying the modifiedDate, and also another constructor to create a StudentProfile without specifying the date. For the constructor that does not accept a specific date as input, it will

[2015-01-28 11:11] damithc opened #2940 "InstructorFeedbackEditCopyAction failed"
Error Message: teammates.ui.controller.InstructorFeedbackEditCopyAction execute: For measuring failure rate: user tried to copy session to multiple courses.Name of Session: Design Project peer assessment week 3
Copying to course(s) [CHEN30012] failed.

[2015-01-28 11:12] damithc commented on #2940
So far I got 2 of these.
We don't know the exact cause of the failure. May be make the error message more detailed.

[2015-01-29 00:18] damithc opened #2943 "Error while adjusting feedback session responses"
I added some details to students of the course. Mostly, moving to teams and sections. After that, I got 19 of these errors. Note that existing submissions don't have anything to do with teams. They are all 'no specific recipient' type submissions. Some of these caused the server to crash.

Error Message: teammates.logic.automated.FeedbackSubmissionAdjustmentAction execute: Error encountered while

[2015-01-29 01:34] LowWeiLin commented on #2943
Are there any stack traces for this?

[2015-01-29 02:32] damithc commented on #2943
Here's the full trace. It's not very detailed because this type of errors are internal. This could be an out of memory error, or iterating through a result set that is too big.

500 599548ms 0kb AppEngine-Google; (+http://code.google.com/appengine) module=default version=5-34
0.1.0.2 - - [28/Jan/2015:10:33:18 -0800] "POST /feedbackSubmissionAdjustmentWorker HTTP/1.1" 500 0 "https://teammatesv4.app

[2015-01-29 07:43] LowWeiLin commented on #2943
I can't reproduce the exception, but the error is caught at FeedbackSubmissionAdjustmentAction line 84.
The exception is caught and a severe log is made, but the stack trace is not logged. Should I modify it to log the stack trace as well, so that its easier to identify the problem?

[2015-01-29 07:55] damithc commented on #2943
Yes, let's do that.

[2015-01-29 08:08] damithc commented on #2943
Actually, I don't think it's going to help much. The stack trace I gave you
is from the app engine log. App engine logs stack trace automatically.  So
we are unlikely to get more details than that.

[2015-01-29 08:13] LowWeiLin commented on #2943
Will there be a stack trace logged even if we explicitly catch the exception?

try {
    stLogic.adjustFeedbackResponseForEnrollments(enrollmentList, response);
} catch (Exception e) {
    log.severe(String.format(errorString, sessionName, courseId, e.getMessage()));
    return false;
}

[2015-01-29 08:40] damithc commented on #2943
You are right; this code may be swallowing the stack trace. Let's log the
stack trace and see if it gives us more details.

[2015-01-29 10:54] LowWeiLin opened #2944 "Add stack trace to log for FeedbackSubmissionAdjustmentAction"
Related to issue #2943

[2015-01-29 11:29] damithc opened #2946 "Rapid 'response save' requests from a single student"
Any idea what's causing this behavior pattern? It's the same student. I've seen this pattern a few times before.
![image](https://cloud.githubusercontent.com/assets/1673303/5956840/0df4c5f8-a7ed-11e4-9034-755de85cd593.png)

[2015-01-30 01:21] #2937 closed

[2015-01-30 02:33] #2944 closed

[2015-01-30 11:43] JosephineKwa opened #2947 "InstructorFeedbackEditPage: display warnings just above the invalid question"
When an attempt is made to save a question with invalid fields, the page jumps to the top and displays the warning there. I feel that perhaps it would be clearer to display warnings just above the question that gave the warning.

[2015-01-30 13:29] JosephineKwa commented on #2773
Prof @damithc I would like to work on this issue

[2015-01-31 12:56] ymoctavia opened #2948 "Admin can send rich text emails to receivers in a list generated by script"

[2015-01-31 19:18] damithc commented on #2947
Good suggestion @JosephineKwa
Duplicate of #1049

[2015-01-31 19:18] #2947 closed

[2015-02-01 00:06] damithc opened #2949 "Some comments don't follow the visibility of the question"
some comments seem to have some visibility options unticked, although the default should be all ticked. I'm not sure the problem happened when I added the comment or when I edited it.

[2015-02-01 00:32] damithc opened #2950 "instructor: can delete a specific response"
Sometimes students submit useless responses. e.g. Answering questions with "nill" replies when they were supposed to submit responses only if they had something to say. These responses pollute the reports. It is good if the instructor can delete such responses

[2015-02-01 04:16] #2919 closed

[2015-02-01 08:06] #2891 closed

[2015-02-01 08:07] #1303 closed

[2015-02-01 15:27] drunken-saint commented on #2861
I think i can do this . Please assign the issue to me. I am thinking to create a seperate division (<div>)
with a <p> element in it depicting the message .
Is there a bg color to be assigned to ?

[2015-02-01 19:49] damithc commented on #2949
@franklingu can you have a look at this. We need a quick fix because this concerns privacy

[2015-02-02 02:42] kanghj commented on #2861
It can just be a simple message below the table showing the sessions, so maybe make it without a background colour.

[2015-02-02 04:37] franklingu commented on #2949
Okay. Got that
On 2 Feb, 2015 3:49 am, "Damith C. Rajapakse" <notifications@github.com>
wrote:

[2015-02-04 00:44] damithc opened #2953 "NPE is InstructorFeedbackEditSaveAction"
null

Request Path /page
Request Parameters {}
Stack Trace

java.lang.AssertionError: null
	at teammates.common.util.Assumption.fail(Assumption.java:58)
	at teammates.common.util.Assumption.assertTrue(Assumption.java:27)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:254)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:246)
	at teammates.ui.controller.Instruc

[2015-02-04 00:46] damithc commented on #2953
@leeshawn89 is there any place that describes our standard way to deal with NPEs?

[2015-02-04 00:51] damithc opened #2954 "'Null question type' in instructorFeedbackQuestionvisibilityMessage"
2015-02-03 23:30:20.620 /page/instructorFeedbackQuestionvisibilityMessage 302 416ms 0kb Mozilla/5.0 (Windows NT 6.1; WOW64; rv:35.0) Gecko/20100101 Firefox/35.0 module=default version=5-34
155.33.241.196 - kellihallamore [03/Feb/2015:07:30:20 -0800] "POST /page/instructorFeedbackQuestionvisibilityMessage HTTP/1.1" 302 117 - "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:35.0) Gecko/20100101 Firefox/35.0"

[2015-02-04 00:53] damithc commented on #2954
Also consider the possibility of the browser reloading an old page at startup.

[2015-02-04 01:28] kanghj commented on #2861
The sessions page is a jsp file. It's src/main/webapp/jsp/instructorFeedbacks.jsp.

[2015-02-04 04:13] leeshawn89 commented on #2953
The tech [report](https://docs.google.com/document/d/1A_QtW8uDFGeeu2KOiWwyuvgm7Jm9pS7nOvmy9B42v_I/pub?embedded=true#h.8jctrxwnk125) on NPEs described the approach to handling the problem.

A concrete example can also be found in some other *Action.java such as [FeedbackSubmissionEditSaveAction.java](https://github.com/TEAMMATES/repo/blob/f215c4db30c964c3dcf3da8c4509864ce6603449/src/main/java/teamm

[2015-02-04 07:06] LowWeiLin opened #2955 "instructorFeedbacksPage - rename 'Course' --> 'Course ID'"
The dropdown when adding a session contains course ids, but the label is "Course"
Renaming the label/including the course names in the dropdown might make it clearer.

Other places in teammates may have this issue as well.

![image](https://cloud.githubusercontent.com/assets/3910365/6036373/4ba2edb2-ac7f-11e4-9800-507fbcde8e80.png)

[2015-02-04 07:17] rcyq opened #2956 "InstructorFeedbackResultsPage: Incorrect function logic"
The function, verifyAllResultsPanelBodyVisibility, below does not obtain the DOM elements correctly.
".panel-heading+.panel-body" is invalid and the retrieved webElement colection is always empty.
Therefore, the loop will always be skipped. Thus, the function always return true.

I discovered this when I was running InstructorFeedbackResultPageUiTest where my Javascript was running slower and the

[2015-02-04 07:55] damithc commented on #2956
@rcyq can fix?

[2015-02-04 11:32] rcyq commented on #2956
Ok I wiil attempt this issue

[2015-02-04 11:50] LowWeiLin opened #2958 "MCQ questions: allow to 'reset' the selection"
Users are unable to deselect radio buttons if they do not want to submit a response for the question.

[2015-02-04 12:01] #2759 closed

[2015-02-04 12:02] franklingu commented on #2949
yes. the visibility options are not rendered after ajax returned from server. when edit the comment without reloading, all those visibility options are considered "unchecked"

[2015-02-04 12:08] damithc commented on #2949
Can fix quickly?

[2015-02-04 12:14] github-tn commented on #2905
take the first row as example, "4" means the content of "choice 2"? So we take the choice number as a separate column, what is the header for column "choice content"?

[2015-02-04 12:16] LowWeiLin commented on #2782
There already is a sort order enforced in instructorHomePage. By default, this is the creation date of the course, which is possibly not in any predictable order during testing.

[2015-02-04 12:20] damithc commented on #2782
Why not in predictable order. Can we make it predictable?

[2015-02-04 12:24] damithc commented on #2905
The two columns can be 'Choice value' and 'Choice index'? @LowWeiLin what do you think?

[2015-02-04 12:25] #2848 closed

[2015-02-04 12:30] LowWeiLin commented on #2905
Yes, that sounds good. However, "Choice number" might be simpler to understand than "Choice index"?

[2015-02-04 12:31] LowWeiLin commented on #2782
It seems this might be due to the test json files not having a creation date variable for the courses. Will look into that.

[2015-02-04 12:32] damithc commented on #2905
Yes, 'choice number' is better.

[2015-02-04 12:37] franklingu commented on #2949
but the "instruction" is telling the user to reload first. if reload the page first and then edit, then it will be fine. should not be hard to fix even without applying the hack. not sure if can finish before friday though

[2015-02-04 12:46] damithc commented on #2949
I never saw that instruction. Others are unlikely to see it either. Try to
fix, if not by Friday, over the weekend at least.

[2015-02-04 13:37] franklingu commented on #2949
actually i will be having FB hackathon this weekend. But i will try my best :P

[2015-02-04 13:49] thyageshm commented on #2936
hi sir, I managed to local the java file compiled from a jsp. But now I having trouble reproducing the problem on my localhost as I am not able to get the join link when added by an instructor. Is there a way for me to get the join link for the new instructor?

[2015-02-04 14:14] damithc commented on #2936
How to locate the java file?
To get join link, log in as admin, search for the instructor, click on the
search results to reveal the join link

[2015-02-04 15:00] thyageshm commented on #2936
-> open run window (win-key + R)
-> type "%temp%" (without the quotes)
-> look for Jetty_127_0_0_1_8888_webapp____... folder (essentially a folder with Jetty in its name
-> then navigate to \jsp\org\apache\jsp\jsp where all the generated jsps can be found.

[2015-02-04 15:01] thyageshm commented on #2936
the interesting thing is that the line the error is pointing to has:

                                          out.write("\r\n");

Maybe I should checkout the master commit when this issue was opened...

[2015-02-04 17:29] drunken-saint commented on #2861
made the changes . Here is  a screenshot.Now creating a pull request for further discussion.
![screenshot 51](https://cloud.githubusercontent.com/assets/7551036/6045591/6ff9920a-acc1-11e4-82e8-ef8eaa5201f8.png)

[2015-02-04 17:35] drunken-saint commented on #2861
Should I add a "Note :" before the message also . I didn't do it as there are no other messages with such format . It'd have looked a bit odd .

[2015-02-06 11:44] LowWeiLin opened #2961 "AdminHomePageUiTest fails frequently at line 162"
The failure is due to a true false mismatch.
![fail1](https://cloud.githubusercontent.com/assets/3910365/6078839/7fbfdeec-ae38-11e4-83dc-03effb8ef28c.png)

[2015-02-06 13:50] ymoctavia commented on #2961
I got another failure before line 162.

@franklingu, did you change the feedbacksessionActions logic in #2941 ? This is causing adminHomePage fail now. Here is the screen shot:

![image](https://cloud.githubusercontent.com/assets/7552558/6080224/dcf5e44c-ae49-11e4-822c-61de92677c95.png)

The dropdown button is not disabled when it actually should be disabled.

[2015-02-06 14:16] franklingu opened #2962 "InstructorFeedbackResultsPage responseCommentTable: some names are missing for checkboxes"
e.g.

```<input type=".." class="..." value="...">```
but the name is missing for at least inputs in last 2 trs.

[2015-02-06 14:17] damithc commented on #2962
title not very clear :-p

[2015-02-06 14:24] damithc commented on #2923
Anybody else has this problem?

[2015-02-06 14:36] LowWeiLin commented on #2961
I think they are separate issues, but yes, the master branch is failing there now. InstructorHomePageUiTest also seems to be affected by that

[2015-02-06 15:21] damithc commented on #2782
As @ackoroa mentioned, similar thing happens for the student home page ui test too.

[2015-02-06 15:22] LowWeiLin commented on #2782
For the student home page, it is due to the page sorting the table by JS after the page loads. Should be able to fix that. Still trying to fix/find the cause for instructor home page.

[2015-02-06 15:25] kanghj opened #2963 "Provide option for instructors to hide individual responses and only show statistics to students"
Sometimes instructors may want to only let students see the statistics table, and prevent them from seeing the individual responses.

[2015-02-06 16:03] franklingu commented on #2961
yes I was changing that. but as @LowWeiLin said, I do not think that is the cause of this issue--all I did is to add disabled to links in dropdown box. previously the disabled was on the arrow, but apparent that  did not disable the dropdown

[2015-02-06 16:08] LowWeiLin commented on #2961
@franklingu
The following tests/lines fail after #2848 was merged (separate issue should probably be created for this)
InstructorHomePageUiTest is failing at line 161
![image](https://cloud.githubusercontent.com/assets/3910365/6082545/339b01a2-ae5d-11e4-90cb-fa950a4ec583.png)

And AdminHomePageUiTest at line 148
![image](https://cloud.githubusercontent.com/assets/3910365/6082559/56036392-ae5d-11e4

[2015-02-06 16:12] franklingu commented on #2961
Okay. never see this test failure. create the issues and assign that to me :P

[2015-02-06 16:18] LowWeiLin commented on #2923
This might be different from the original failure/issue, but is somewhat related.

@franklingu I think you can fix this here.

---

The following tests/lines fail after #2848 was merged
InstructorHomePageUiTest is failing at line 161
![image](https://cloud.githubusercontent.com/assets/3910365/6082599/967651a0-ae5d-11e4-85a2-f030f869cecc.png)

And AdminHomePageUiTest at line 148
![image](https://cl

[2015-02-07 16:30] JosephineKwa opened #2965 "instructor: can create a profile page"
Currently only students have profile pages. I feel it would be helpful if instructors had profile pages that students could view through the links in studentCourseDetailsPage. With the photos in the instructors' profile page, students would be able to recognize their instructors more easily and perhaps get to know their instructors a little better too.

[2015-02-08 04:37] thyageshm commented on #2936
@damithc sir, so have there been any more such incidents or shall we put this on hold till later?

[2015-02-08 04:38] thyageshm commented on #2958
shall I try this one?

[2015-02-08 04:45] thyageshm commented on #2965
This one might require porting of legacy data if we decide to add another field in the account object.

[2015-02-08 04:47] thyageshm commented on #2351
shall I handle this one?

[2015-02-08 04:53] damithc commented on #2936
No recurrence yet. Yes, can put on hold.

[2015-02-08 04:54] damithc commented on #2351
sure

[2015-02-08 05:00] damithc commented on #2958
probably too simple for you. let's leave it for contributors. :-)

[2015-02-08 05:03] damithc commented on #2431
@thyageshm can you try this one?

[2015-02-08 05:47] thyageshm commented on #2431
sure sir

[2015-02-08 06:54] thyageshm commented on #2431
@damithc sir just to confirm, this is only in feedbackResultsPage right?

[2015-02-08 07:14] damithc commented on #2431
Yes. In fact, the only time I need it is when I'm entering a comment.
Perhaps we can auto load the photo and short name when the instructor
starts adding a comment?

[2015-02-08 08:00] thyageshm commented on #2431
ok

[2015-02-08 09:40] damithc opened #2967 "instructor feedback results: give an option to hide 'not submitted'"
Some users may not want to see the 'not submitted' rows

[2015-02-08 09:49] manvijain commented on #2899
Hi, I would like to work on this issue to get acquainted with the workflow. Can it be assigned to me?

[2015-02-08 10:29] manvijain commented on #2899
starting issue

[2015-02-08 10:48] LowWeiLin opened #2968 "settingUp.md : Improve example for logging in as instructor"
Use a concrete join link for the example

[2015-02-08 12:49] manvijain commented on #2899
I changed the required HTML code and tested against the dev server. There are 2 test cases failing which were failing even before I made changes. I created a pull request with the name of this issue. Is that okay?

[2015-02-09 02:06] damithc commented on #2946
I have another case of this. Almost like a DoS attack :-p

[2015-02-09 06:02] damithc commented on #2946
Apparently, this could happen for the submission edit page if the URL is incomplete. e.g. copy pasted only part of the link sent it email. May be the browser tries to load the page repeatedly? @thyageshm is there anything we can do to prevent it?
![image](https://cloud.githubusercontent.com/assets/1673303/6101737/2e0dfb78-b064-11e4-9580-ea85f72ea8b2.png)

[2015-02-09 06:53] #1409 closed

[2015-02-09 06:53] #2859 closed

[2015-02-09 06:53] #2968 closed

[2015-02-09 08:03] github-tn commented on #2905
Can I take this issue?

[2015-02-09 08:04] LowWeiLin commented on #2905
Sure

[2015-02-09 09:04] damithc opened #2972 "Enhance null check for post parameters to cater for cache expiry"
In action classes,
`Assumption.assertNotNull(....`
to be replaced with
`Assumption.assertPostParamNotNull(...`

It has been done in some actions, but need to be done in the remaining actions.

[2015-02-10 00:38] damithc opened #2973 "instructorCourseDelete may not be scalable"
Check if this operation is salable for large courses with many responses

[2015-02-10 09:29] damithc opened #2975 "studentFeedbackSubmitSave takes too long"
This seem to have room for improvement

[2015-02-10 09:55] damithc opened #2976 "instructor feedbacks: highlight the recently modified row"
e.g. When loading the page after adding a new session, we can highlight the relevant row in the table of sessions.

[2015-02-10 11:27] damithc opened #2977 "Include session instructions in the email alerts"
It could be useful to include session instructions in the email alerts

[2015-02-10 13:03] thyageshm commented on #2946
looking into it now sir

[2015-02-10 13:30] thyageshm commented on #2946
Sir I found the bug in the edit page that causes multiple requests being sent in succession. I will send in a fix by tomorrow. As for the EditSave, I am yet to find the cause and believe will find it soon

[2015-02-10 14:32] LowWeiLin commented on #2975
For each question on the page, the (same) StudentAttributes and InstructorAttributes of the current user are read from the database. For questions to team members, the team members are also read from database for every question that needs it.

We could change the code to read once and pass the required data as parameters.

I think this (reading data repeatedly) is a fairly common problem across al

[2015-02-10 14:49] damithc commented on #2975
Yes, we need mass reading methods.
In my case, I had only one question in my session and I was supposed to
give feedback to all students (250). I typed one response and saved it,
which took a long time.

[2015-02-10 14:50] dg711 opened #2978 "instructor: can send an invite to other instructors"
We can add an "Invite" button for the user Instructors to enable them to invite their colleagues and fellow faculties through the mail directly from the homepage . We can add template messages to enhance accessibilities . It would be a fairly good enhancement.

[2015-02-10 14:59] LowWeiLin commented on #2975
Oh, sorry i was looking at FeedbackSubmissionEditPageAction.
The save action seems to be even slower. Looking into it.

[2015-02-10 15:03] LowWeiLin commented on #2975
The problem seems to be that for every possible response, the (same) feedback question attributes is being read from db.

[2015-02-10 23:49] damithc opened #2979 "stats per institute: also consider account objects"
When counting unique emails, also consider account objects. Some student objects may have been deleted but their accounts can be still there.

[2015-02-10 23:52] damithc commented on #2978
Currently, adding an instructor to a course will generate an invite. But there is no way for instructors to invite other instructors without adding them to a course first.

[2015-02-11 08:48] github-tn commented on #2905
for no response, what choice number shall we use?

[2015-02-11 11:48] github-tn commented on #2822
Can I try this issue?

[2015-02-11 11:50] github-tn commented on #2822
How to check if all students received the email?

[2015-02-11 12:01] damithc opened #2981 "Some tutors see all students while some see only students in the section"
These two tutors have similar settings. When submitting responses for students, one can see all students while the other sees only students in his section.
![image](https://cloud.githubusercontent.com/assets/1673303/6146472/0a37f7f6-b228-11e4-861c-baa5987d8caf.png)

![image](https://cloud.githubusercontent.com/assets/1673303/6146512/7cc253b6-b228-11e4-93fd-23c407cbd04c.png)

[2015-02-11 12:07] github-tn commented on #2958
can I try this one?

[2015-02-11 12:35] franklingu opened #2982 "InstructorFeedbackResultsPage is displaying all responses for custom setting instructor who is only supposed to see one section"

[2015-02-11 12:43] damithc opened #2983 "Submit responses: fix 'null feedback recipientEmail' error"
Error received:
[code]

[2015-02-11 13:14] thyageshm commented on #2946
@damithc sir, the issue is with the fact that for registered students, if the feedback session name is invalid, we redirect them to the home page with the error message that the feedback session they are looking for is not there. But in the case of an unregistered student, we cannot redirect her to the home page as it requires them to be logged-in to access the student home page. how shall I proce

[2015-02-11 13:18] thyageshm commented on #2946
Another way is to add a new "error page" which asks the user "Feedback Session that you are looking for either does not exist or has been removed by your instructor. If you came to this page by copying the link from your email, please check that you have copied the entire url properly."

[2015-02-11 13:52] damithc commented on #2946
I like the idea of a separate error page.

[2015-02-11 14:05] damithc commented on #2983
Happened again. Anything we can do?

[2015-02-11 14:12] LowWeiLin commented on #2983
Can we find what browser is being used? The request parameters are strange. All recipient emails are missing, and there is this clientAction parameter which i have not seen before.

[2015-02-11 14:30] damithc commented on #2983
2015-02-11 22:00:09.693 /page/studentFeedbackSubmissionEditSave 302 1654ms 0kb UCWEB/2.0 (MIDP-2.0; U; Adr 4.3; en-US; GT-I9300) U2/1.0.0 UCBrowser/9.8.0.534 U2/1.0.0 Mobile module=default version=5-35
168.235.196.242 - - [11/Feb/2015:06:00:09 -0800] "POST /page/studentFeedbackSubmissionEditSave HTTP/1.1" 302 117 "https://teammatesv4.appspot.com/page/studentFeedbackSubmissionEditPage" "UCWEB/2.0 (

[2015-02-11 14:52] thyageshm commented on #2946
ok sir, will work on that. Moving forward, that page can be used in situations where a courseId, feedbackSessionName or any other parameter is not valid

[2015-02-11 15:44] #2949 closed

[2015-02-12 02:48] franklingu commented on #2562
@damithc , being able to see all was happening at this time? I remember that things were okay at that time.

[2015-02-12 03:09] damithc commented on #2562
I didn't check at that time.

When submitting:
if tutor permission was set only once: can submit for all students
if tutor permission was updated later: can submit only for his sections

When viewing results:
tutor can see results of the whole course although has permission for some sections only.

[2015-02-12 14:09] franklingu commented on #2981
what is the recipient for the question? is it like team, team members, self or team members and self? cause like instructors, students, or "NONE" as general will disable checking of access

[2015-02-12 14:26] damithc commented on #2981
Recipient: Students of the course
Giver: Instructors

[2015-02-12 14:37] franklingu commented on #2981
if the recipients are students of the course, the access control feature
will not function currently

[code]

Gu Junchao
Major in Computer Engineering, National University of Singapore
Primary Email: *franklingujunchao@gmail.com <franklingujunchao@gmail.com>*
NUS Email: *A0105750@nus.edu.sg <A0105750@nus.edu.sg>*

On Thu, Feb 12, 2015 at 10:26 PM, Damith C. Rajapakse <
notifications@github.com> wr

[2015-02-12 14:57] franklingu opened #2984 "instructorCourseEditPage when saving instructors, edit.js will auto check off all course-level priviliges, give people an illusion that courseLevel settings are not saved in the database"

[2015-02-12 15:02] franklingu commented on #2984
@damithc , this is the issue I was talking about in the email. basically the javascript in that page is unticking all checkboxes when it comes to costom because of a bug--the normal behavior should be that only when switch to custom from another role then we uncheck them--so as you pointed, some instructors are given the wrong priviliges before, the course level settings are there but shown to Chi

[2015-02-12 15:05] damithc commented on #2984
Ok, at least we know what the problem is. Lets fix quickly.

[2015-02-12 15:21] arvind-kalyan commented on #2955
Hello, Can I give this a try?

[2015-02-12 16:13] damithc commented on #2982
Don't forget this one too. :-)

[2015-02-12 16:18] franklingu commented on #2982
I have mentioned in the email and also #2981. currently if the recipient is student, none or instructor, accessControl is not going to kick in. if you want, we can change the policy but the current idea is that if the receivers are like nearly all students already, then it is not private enough that some tutors are kept out of those question.

[2015-02-12 16:31] #2981 closed

[2015-02-12 16:31] #2984 closed

[2015-02-12 16:44] damithc commented on #2982
That policy doesn't make sense. Why should a tutor whose access is limited
to section 1 see a response from a student in section 2 just because the
response is given to 'none'? Another thing: when the receiver is 'students
in this course' that doesn't mean everybody can see it. It is not a single
response that the whole class can see. Each student gets an individual
response, which may be visible

[2015-02-12 16:50] franklingu commented on #2982
Well, cause the students in the tutors' section can receive it--and that
may imply that tutor can receive as well.

so do we change to only if recipients are instructors, we disable privilege
checking, otherwise checking will be done?

Gu Junchao
Major in Computer Engineering, National University of Singapore
Primary Email: *franklingujunchao@gmail.com <franklingujunchao@gmail.com>*
NUS Email: *A0

[2015-02-12 17:54] arvind-kalyan commented on #2955
starting issue

[2015-02-13 00:47] damithc commented on #2982
"students can receive" doesn't mean it is a single response all students
can see. It is 'one response per student' and visibility can be anything.
So we cannot assume it is a very 'public' response which can be shared with
all instructors. Yes, it should be access controlled. Be guided by the
basic principle: if a tutor is given access to a section only, as far as
possible he should not see things

[2015-02-14 01:02] damithc opened #2987 "only emails of the 'not submitted' students shown"
![image](https://cloud.githubusercontent.com/assets/1673303/6197842/1ea38172-b428-11e4-851c-e6a8d4c57540.png)

[2015-02-14 01:02] damithc commented on #2987
@rcyq could you look into this?

[2015-02-14 01:11] damithc opened #2988 "Instructor: can add a message to the 'results published' email message"
This allows instructors to specify instructions on how to use the published results

[2015-02-14 01:42] damithc opened #2989 "student feedback submission: Do not auto select the recipient name"
If we auto-select a name, the respondent might end up submitting to the wrong name without realizing it.
![image](https://cloud.githubusercontent.com/assets/1673303/6198100/bca7cfc2-b42d-11e4-8433-7c1f416ef111.png)

[2015-02-14 01:43] damithc commented on #2989
We need to ensure that submitting without selecting a name is handled properly.

[2015-02-14 01:48] damithc opened #2990 "Cannot see full respondent name in submitted responses"
See screenshot. The part of the name shown may not be enough.
![image](https://cloud.githubusercontent.com/assets/1673303/6198119/92d717a6-b42e-11e4-9423-bdd836db44a6.png)

[2015-02-14 02:14] #2899 closed

[2015-02-14 02:23] damithc commented on #2989
@kanghj see if this is simple enough for a contributor. if yes, assign it to a suitable contributor in the near future.

[2015-02-14 07:53] rcyq commented on #2987
Ok I will look into this.
Just to clarify, do I need to cater for instructors as well? For example, not submitted instructors.

[2015-02-14 09:44] damithc commented on #2987
Yes. Including instructors.

[2015-02-14 09:46] damithc commented on #2987
How come in this session it is emails only? In other sessions it is showing
team and name.

[2015-02-15 03:00] #2905 closed

[2015-02-15 14:04] kanghj commented on #2861
There are two tests which are failing on master now, so if you have merged master in, then the two tests will fail. For this issue, you can ignore the mismatches unless the expected html contains the sessions page, then it is related to this issue and you should change the expected html to include the message you've added.

Check that you are modifying the html file under src/test/resources/pages,

[2015-02-15 14:33] damithc opened #2993 "Long institute names get cut off in the footer"
![image](https://cloud.githubusercontent.com/assets/1673303/6203565/8cf14570-b562-11e4-8d79-fb4fe42f71cb.png)

[2015-02-15 14:49] damithc commented on #2923
This not fixed yet?

[2015-02-15 14:57] LowWeiLin opened #2994 "FeedbackQuestionsLogic: Optimize getRecipientsForQuestion"
This function is usually called for all questions in a feedback session, and the recipients for these questions could be the same. DB calls can be saved by caching the recipients.

[2015-02-15 15:32] #767 closed

[2015-02-15 15:34] #892 closed

[2015-02-15 15:36] damithc commented on #570
No longer relevant. Instructors are no longer added at the same time we create a course.

[2015-02-15 15:36] #570 closed

[2015-02-15 15:38] damithc commented on #413
done

[2015-02-15 15:38] #413 closed

[2015-02-15 15:39] damithc commented on #1289
Instructors can submit on behalf of students. So the need for this feature is low.

[2015-02-15 15:42] damithc commented on #1277
Provided more info. No recent cases of this problem

[2015-02-15 15:42] #1277 closed

[2015-02-15 15:42] damithc commented on #1255
No longer relevant

[2015-02-15 15:42] #1255 closed

[2015-02-15 15:45] damithc commented on #1155
Duplicate of #2988

[2015-02-15 15:45] #1155 closed

[2015-02-15 15:46] damithc commented on #392
Chrome is rarely used for automated testing

[2015-02-15 15:46] #392 closed

[2015-02-15 15:47] damithc commented on #1061
No longer relevant

[2015-02-15 15:47] #1061 closed

[2015-02-15 15:48] #1030 closed

[2015-02-15 15:50] franklingu commented on #2923
Not yet. I am manually changing the file. Too many unrelated changes are
introduced otherwise
On 15 Feb, 2015 10:49 pm, "Damith C. Rajapakse" <notifications@github.com>
wrote:

[2015-02-15 16:14] #2975 closed

[2015-02-15 16:17] kai33 commented on #2994
Then it would be better to have a thread-safe CacheUtil (based on memcache or ehcache). Other parts may also need it

[2015-02-16 05:06] #2956 closed

[2015-02-16 05:20] rcyq commented on #2987
May I check with you which view is showing the screenshot above?
I have checked all jsp files for instructors, Team & Student Name columns will always be shown.

[2015-02-16 06:27] damithc commented on #2987
Check the results of the 'CE code review' session in CS2103

[2015-02-16 11:00] damithc opened #2996 "student view of contribution question results: use a darker blue for panel heading"
We use dark blue for things worthy of more attention. This one should be the default dark blue.
![image](https://cloud.githubusercontent.com/assets/1673303/6210786/01143d94-b60e-11e4-8bf6-cf2c45a0568a.png)

[2015-02-16 16:34] drunken-saint commented on #2861
my repo is failing total 4 tests after all the changes I've made . including the change in instructorFeedbackEmptyAll.html . Out of the 4 , 2 are to be ignored as you suggested .And , one of the issues is InstructorsFeedbackResultsPageUiTest  which too can be ignored right now . So , Only  a single failed test is of concern now :  InstructorFeedbackResultsPageUiTest. I am attaching the screenshot

[2015-02-16 17:51] drunken-saint opened #2997 "process.md: typo/grammatically inconsistent phrase present"
Under the 'Issue Labels' heading , under 'Type' sub heading , point for t.Enhancement , in brackets the phrase is not correct and 'story' is typed as 'stroy' .

[2015-02-17 00:19] damithc commented on #2997
Duplicate of #2391

[2015-02-17 00:19] #2997 closed

[2015-02-17 03:02] kanghj commented on #2861
If you are certain that you edited the correct file, then the mismatches are occurring in a different file. My initial comments might have been a bit misleading and unclear. Usually in every test, there are several html comparisons that will be done, so changing just <code>instructorFeedbackEmptyAll.html</code> is not sufficient for the test to pass. You can check the test failures to see which fi

[2015-02-17 11:55] dg711 opened #2998 "adding an SMS updates/alerts feature"
a feature to send  SMS  updates to the users regarding regarding deadline events and other related Alert messages.For example , Students who haven't submitted their submitted their feedbacks can be alerted about that on the deadline day .
There can be far more uses of this feature .
This can be achieved using Plivo SMS API on Google App Engine . To know about it : https://www.plivo.com/sms-api/

[2015-02-17 15:01] damithc commented on #2987
Any updates? It is strange that some sessions show emails only while others show names and team.

[2015-02-18 00:44] rcyq commented on #2987
The issue is discovered in the ajax call when feedback result is too large.
Currently, displaying of team name and student name columns are done in jsp.
However, when feedback result is too large, the data returned by the ajax call is not being processed correctly.

[2015-02-18 01:34] damithc commented on #2987
Needs fixing soon. The feature is more important for large classes than small ones. @imouto1994 is there a way to avoid duplication here?

[2015-02-18 03:13] rcyq commented on #2987
I am able to do a quick fix by preprocessing the emails before printing them out.

[2015-02-18 04:09] damithc commented on #2987
Let's wait 1 day to see if Bui can suggest a better way.

[2015-02-18 05:13] imouto1994 commented on #2987
To avoid duplication, we can change the original AJAX request into AJAX request for JSP of the results page and extract data from it.
To avoid redundant call for unneccesary data apart from the response rate, we can use the one of the original requests with some modifications.
I can work on it if you need it fixed soon :)

[2015-02-18 05:21] damithc commented on #2987
Bui, you can have a go at it since you have some experience with similar
work before. It's good enough if we have a fix a couple of days after CNY
holidays.

[2015-02-18 06:05] arvind-kalyan commented on #2996
Hello, do you mean to say that we should modify the heading  (here "Comparison of work distribution") to a darker blue color?

[2015-02-18 06:21] damithc commented on #2996
Yes, the same dark blue we use in other places.

[2015-02-18 06:29] arvind-kalyan commented on #2996
Okay. Can I try this one?

[2015-02-18 06:33] damithc commented on #2996
Sure Arvind. @kanghj can you review this one too?

[2015-02-18 06:35] arvind-kalyan commented on #2996
Thank-you sir!

[2015-02-18 12:51] Siddhant085 commented on #2931
I am a first timer and I made the above change committed it and created the pull request it got merged with the master branch. Now what should I do to update in the main project

[2015-02-18 12:56] damithc commented on #2931
For a first timer, the best place to start is the Contributor Orientation Guide :-)
https://docs.google.com/document/d/1cY9pmEmw4dC6Z4LjN1WUTsynJ0jVPgbWsFhdyBy_wCU/pub?embedded=true

[2015-02-18 13:12] Siddhant085 commented on #2931
I did everything mentioned in the Contribution Orientation Guide and was suggested to start solving issues. So I solved the issue but I am confused how to merge it with the main project

[2015-02-18 14:00] LowWeiLin commented on #2931
@Siddhant085 Hi, you will have to wait for the pull request to be reviewed, before the reviewer merges it into the master branch.
The process can be found here: https://github.com/TEAMMATES/repo/blob/master/devdocs/process.md

Also, do try to get the tests to pass, you will need to ensure that they pass for more involved issues.

[2015-02-18 14:50] damithc commented on #2983
Another case:

/page/studentFeedbackSubmissionEditSave 302 772ms 0kb UCWEB/2.0 (MIDP-2.0; U; Adr 4.4.2; id; Xperia_Z) U2/1.0.0 UCBrowser/9.8.0.534 U2/1.0.0 Mobile module=default version=5-36
8.37.225.71 - - [18/Feb/2015:05:27:15 -0800] "POST /page/studentFeedbackSubmissionEditSave HTTP/1.1" 302 117 "https://teammatesv4.appspot.com/page/studentFeedbackSubmissionEditPage" "UCWEB/2.0 (MIDP-2.0; U; Ad

[2015-02-18 15:29] Siddhant085 commented on #2931
I am sorry for not getting the issue assigned to me before attempting to solve it. I solved the test cases and now I am getting only 4 failures.

[2015-02-19 00:23] damithc opened #3001 "admin search: Some instructors don't show up in the search"
For example, I have an instructor named Sellou who shows up as a student but not as an instructor

[2015-02-19 10:41] damithc commented on #2946
How's this coming along? Another student reported a case like this. BTW, how do students end up clicking on an 'incorrect' link? Presumably, they are clicking on the link sent by TEAMMATES.

[2015-02-19 10:59] damithc opened #3002 "admin: can see emails sent by TEAMMATES for auditing"
In some cases we have to troubleshoot email alerts. It would be good to have a record of past email alerts sent. There should be a way to retrieve based on time and recipient.

[2015-02-19 11:30] arvind-kalyan commented on #2996
I have a small confusion. Do I have to change the color of text (here "Comparison of work distribution" ) to default dark blue or change the color of the panel to the default blue and the heading text color to white (like the pic below)?
![example](https://cloud.githubusercontent.com/assets/5078299/6265855/b842638c-b858-11e4-88f0-9372670ddf9f.PNG)

[2015-02-19 12:17] damithc commented on #2996
Like the pic :+1:

[2015-02-19 12:55] thyageshm commented on #2946
Hi sir, I am still working on this one. will be creating a new error page as requested. This issue happens whenever we cannot find the specified feedback session in the given course. Eg: when the session is deleted, name not found (when link is not copied properly)

[2015-02-19 14:35] damithc commented on #2946
In the most recent case, the link in the email is indeed pointing to the
wrong session. Either the session was deleted or we have a bug that causes
wrong link to be included in the email occasionally.

[2015-02-19 16:03] Siddhant085 commented on #1780
can I be assigned the Issue?

[2015-02-19 16:14] arvind-kalyan commented on #2993
Hello, Can I try this? :)

[2015-02-19 17:10] Siddhant085 commented on #2265
can I be work on the Issue?

[2015-02-20 02:11] #2931 closed

[2015-02-20 03:11] damithc commented on #1117
This is a very old issue. Need to verify if the error message are still the same.

[2015-02-20 03:12] damithc commented on #1081
done

[2015-02-20 03:12] #1081 closed

[2015-02-20 03:13] damithc commented on #1079
A bit of duplication is ok in this case

[2015-02-20 03:13] #1079 closed

[2015-02-20 03:15] damithc commented on #1064
No longer relevant

[2015-02-20 03:15] #1064 closed

[2015-02-20 05:03] damithc commented on #1292
No longer relevant.

[2015-02-20 05:03] #1292 closed

[2015-02-20 06:06] damithc opened #3006 "Regenerate all html files in God mode"
@thyageshm if we regenerate all html files under god mode, would it prevent future god mode runs creating unrelated diffs?

[2015-02-20 06:11] damithc commented on #2983
Another one:
teammates.ui.controller.ControllerServlet doPost: User agent : UCWEB/2.0 (MIDP-2.0; U; Adr 4.4.2; id; Xperia_Z) U2/1.0.0 UCBrowser/9.8.0.534 U2/1.0.0 Mobile

[2015-02-20 06:43] #2987 closed

[2015-02-20 13:33] arvind-kalyan commented on #2996
The encircled in the pic below should be default dark blue, correct?
![studentfeedbackresults](https://cloud.githubusercontent.com/assets/5078299/6286938/09bb9d34-b933-11e4-9420-d76bfc5372ff.JPG)

[2015-02-20 15:36] Siddhant085 commented on #1151
can I be assigned the issue?

[2015-02-20 19:37] JosephineKwa commented on #2873
Prof @damithc  I would like to work on this issue! :)

[2015-02-21 02:08] thyageshm commented on #3006
Mostly yes, the only issue will be the spacing in the page. If anyone edits a browser test page manually, there will be an unrelated diff for that page the next time godmode is run. Other than that if we all use only godmode to fix browser tests, there will be no unrelated diffs

[2015-02-21 02:11] damithc commented on #3006
I don't mind using God mode for all fixes if it is easy to use and changes
only the intended parts.

[2015-02-21 02:41] thyageshm commented on #3006
Sir, if the contributors, look at AppPage -> processPageSourceForGodMode(content) method and understand it, I believe it should be safe for them to use. The problem arises when, lets say, there is a new date format that we intend to use, then godmode has to be updated to handle it (OR they manually change it.) But in the current situation, godmode covers all cases

[2015-02-21 03:24] damithc commented on #3006
For now, shall we migrate all html files to be godmode compatible. That
will at least reduce unnecessary changes in the fixes done by core
developers. Those are the one that contain big changes anyway. After that,
let's work toward making godmode the default.

[2015-02-21 03:35] kanghj commented on #2983
This can be replicated using UC browser mini in speed mode, which is on by default. On speed mode, US browser tries to speed up browsing by "compressing web pages on the server, and pre-loading pages automatically". The error happens on questions with recipient type to all students, and the feedback giver is allowed to select which student to give a response to. The browser submits the form on its

[2015-02-21 03:41] damithc commented on #2983
In the worst case we may have to detect the browser and inform that it is 'not supported' :-p

[2015-02-21 03:51] thyageshm commented on #3006
ok! I would really like to request @LowWeiLin  to run the entire suite with godmode on ;-)

[2015-02-21 03:59] LowWeiLin commented on #1151
@Siddhant085 You can try other issues that are not labeled forFirstTimers, usually doing just one of those should familiarize you with the workflow.

[2015-02-21 04:00] LowWeiLin commented on #2993
Sure, this one might not be so simple, but you can give it a try.

[2015-02-21 04:02] LowWeiLin commented on #3006
I can do that, but this may cause conflicts with the currently pending pull requests.

[2015-02-21 04:19] damithc commented on #3006
We can wait till some of the more invasive pull requests are merged. Do it when you think it is a good time.

[2015-02-21 04:26] thyageshm commented on #3006
Also @LowWeiLin please wait for the pull requests associated with #2431 as I have made a small change to Godmode on that one inline with this request.

[2015-02-21 04:30] damithc commented on #3006
Avoid doing unrelated things in a single pull request. If you notice a
minor improvement you want to do, you can do it as a separate pull request
(if multiple commits) or in the master itself (if it is a single commit).

[2015-02-21 04:35] thyageshm commented on #3006
Haha sure sir, but I needed that one to fix the browser tests in that issue. I guess I will undo the changes once I am done fixing the tests and then put it back in a separate issue

[2015-02-21 04:36] thyageshm commented on #3006
ok how about I take ownership of this issue, add the extra bit into Godmode and then change the ownership to WeiLin?

[2015-02-21 04:38] damithc commented on #3006
Sure.

[2015-02-21 04:51] LowWeiLin commented on #2791
@Siddhant085 Could you try this one? The tests will likely need to be changed.

[2015-02-21 06:17] kanghj opened #3008 "FeedbackRubricQuestionUiTest failing on line 71"
The line <code>instructorResultsPage.verifyHtmlMainContent("/instructorFeedbackResultsPageRubricQuestionView.html");</code> is currently failing on master, due to some changes at the bottom of the instructor's results page.

[2015-02-21 06:27] damithc commented on #3008
@imouto1994 could this be due to the recent #3005 ?

[2015-02-21 06:33] arvind-kalyan commented on #2993
I'm thinking this involves correcting the properties of class "col-md-4", right?

[2015-02-21 07:18] #2511 closed

[2015-02-21 07:24] LowWeiLin commented on #2993
That class is from bootstrap, so i think you can't modify it. I'm not sure exactly what properties to add off my head. Try to explore what can be done! =)

[2015-02-21 07:34] arvind-kalyan commented on #2993
Why can't we modify the bootstrap.min.css file?

[2015-02-21 09:06] Siddhant085 commented on #2791
Ya sure LowWeiLin. Assign the issue to me.

[2015-02-21 09:35] imouto1994 commented on #3008
Yes, I do not know that results page is also tested in other test files!
Will update it asap ! :)

[2015-02-21 09:38] #2932 closed

[2015-02-21 09:47] damithc commented on #3008
If the segment of the html file causing the failure is not relevant to the failing test, may be we can use a `{*}` there?

[2015-02-21 09:49] imouto1994 commented on #3008
Yes, but it may be removed in the future if someone use 'God Mode' when he makes some changes which requires to update this test case

[2015-02-21 09:57] damithc commented on #3008
If Godmode replaced a `{*}` with text, it should be easy to spot and revert manually, until Godmode is clever enough to respect `{*}`.

[2015-02-21 09:59] imouto1994 commented on #3008
Ok, then I will replace this segment with `{*}` :)

[2015-02-21 10:48] LowWeiLin commented on #2993
The same class is used in other places, changing the properties may lead to unintended changes elsewhere. Either way, we should not change a dependency/library directly.

[2015-02-21 13:24] #2955 closed

[2015-02-21 13:24] #2996 closed

[2015-02-21 15:13] damithc opened #3009 "No error message when results cannot be shown for the whole course"
In a course of 800 students, in the per-question results view, results of the contribution question does not load if I tried to view the entire course. This is expected. However, the loading icon keeps going and the error message is never shown. On the server side, a server crash happens instead of the deadline exceeded exception. A problem was encountered with the process that handled this reques

[2015-02-21 16:39] #3008 closed

[2015-02-21 17:20] arvind-kalyan commented on #2993
Okay.. I'll work on this.

[2015-02-21 19:35] arvind-kalyan commented on #2993
Two approaches:

1. Move [TEAMMATES V4.18] and [Send Feedback], more to left and right respectively, making space for longer names. We have imposed a restriction of 64 chars for name, so this will take care of that. But then, this requires changing bootstrap css file (or overriding / defining new classes for this)

2. Add a hover text. When we hover on it, it shows the full Institute name. (For ex

[2015-02-22 01:47] damithc commented on #2993
Ideally, institute name should simply take up the empty space currently available on its left and right, without moving the other two elements. Look into how to adjust spacing/placement in bootstrap.  Other other two elements have fixed lengths, we can give the remaining space to the middle element. Let's do that first.  We can do the hover over solution on top of that, as a separate issue, for na

[2015-02-22 02:08] damithc commented on #2993
Actually, there is room for the other two elements to move to either side (without moving out of the page width we use) and that gives more space for the middle element to widen further.
![image](https://cloud.githubusercontent.com/assets/1673303/6317046/9fcecd12-ba7a-11e4-947e-1c849f457107.png)

[2015-02-22 04:57] arvind-kalyan commented on #2993
@damithc Sir,
Yes, this was what I was suggesting. The two elements can be shifted more to both sides. Since the character limit of Institute name is 64, this would then display the full name without problems. If we are to extend the limit to more than 64 in the future, we could use something like hover text (after displaying till 64 chars). This can be done but requires modifying the bootstrap cs

[2015-02-22 05:09] LowWeiLin commented on #2993
If you need to override certain properties, you can consider adding a new class and add it in teammatesCommon.css, where we place all our custom css classes.

[2015-02-22 05:15] damithc commented on #2993
First, make sure there is no way to adjust the spacing using bootstrap facilities provided. I don't know for sure if it can be done, but it's odd if bootstrap cannot do a simple thing like that. This is a chance for you to gain some expertise in bootstrap. Take your time. :-)

[2015-02-22 05:31] arvind-kalyan commented on #2993
@damithc Sir, It would definitely be possible in bootstrap. @LowWeiLin was just saying that those changes should not be made in the main bootstrap.min.css file.. Since these classes are used in other places also, changing it for this may lead to unintentional changes in other places. So it would be safe to make a different class (in teammatesCommon.css), and use it just for this. I'll work on this

[2015-02-22 05:43] damithc commented on #2993
When I said 'using bootstrap', I don't mean modifying bootstrap css file.
That's definitely out of the question. If we must, we can override their
classes. What I meant was by applying the mechanisms they provide, such as
their grid system.

[2015-02-22 08:32] thyageshm commented on #3006
I have pushed the changes I wanted to make @LowWeiLin

[2015-02-22 08:44] LowWeiLin commented on #3006
@thyageshm Do I still wait for #2431?

[2015-02-22 11:28] thyageshm commented on #2946
Sir do we have a log to cross check whether it was the former or the later? I have come to notice that we have a "entityNotFound.jsp" error page. Shall I reuse it in this case? This is what is shown in that page:

 We could not locate what you were trying to access.<br><br>
Make sure that the URL is correct, and you are a registered user of TEAMMATES. [Logout]

[2015-02-22 11:32] damithc commented on #2946
1. The logs are buried too deep in the logs now. Irrespective of how the
wrong link got to the student, clicking a wrong link should be handled the
same way right?
2. Yes, reusing that seems appropriate.

[2015-02-22 11:36] thyageshm commented on #2946
Ok! will send in a fix for EditPage soon. As for EditSave, has there been another case, as I have not been able to isolate why that would happen..

[2015-02-22 11:41] thyageshm commented on #2946
shall I open a separate one for editpage and send in the bug fix?

[2015-02-22 12:03] thyageshm opened #3011 "Remove Unused branch in Action.java"
In Action.java, under the method getRegkeyFromRequest(), we have a branch that checks for the legacy regkey parameter name in the url. since we no longer support it, we can remove that check.

[2015-02-22 12:04] damithc commented on #2946
Yes, let's fix the edit as a separate issue. That's the more frequent one
for now.

[2015-02-22 12:15] damithc commented on #2946
I think the error message in the 'entity not found' is not entirely
appropriate. Students need not be registered. Change as follows?

TEAMMATES could not locate what you were trying to access. Possible reasons:
* You clicked on a link received in email, but the link was mangled by the
email software. Try copy-pasting the entire link into the Browser address
bar.
* The entity (e.g. course, session)

[2015-02-22 12:25] thyageshm commented on #2946
Ok! I have just added this bit:

If you are a registered user you can go back to the <a> home page</a>

[2015-02-22 12:37] damithc commented on #2946
Good.

[2015-02-22 13:05] thyageshm opened #3012 "Rapid 'response page' requests from a single student"
Identified along with  #2946

[2015-02-22 13:20] thyageshm commented on #3006
@LowWeiLin I guess not, I have added the feature to all the necessary pages, but fixing the tests is a big headache haha. actually I was going to ask if you could help me sometime tomorrow. If I could meet you at NUS or smth

[2015-02-22 13:29] thyageshm commented on #3006
just the results page :-P

[2015-02-22 14:16] Siddhant085 commented on #2791
I found and changed the grammatical error are their an tests relating to that because I couldn't find anything when I ran all tests for the project.

[2015-02-23 02:04] #2773 closed

[2015-02-23 03:57] JosephineKwa commented on #2774
I would like to work on this issue :)

[2015-02-23 04:00] damithc commented on #2774
Too easy for you :-p Let's wait for @LowWeiLin to assign a slightly harder one for you.

[2015-02-23 04:11] LowWeiLin commented on #2851
@JosephineKwa could you try this? #2976 is another interesting issue you can try.

[2015-02-23 04:16] JosephineKwa commented on #2851
I think I would like to try #2976 instead :)

[2015-02-23 13:36] Siddhant085 commented on #2791
I managed to fix the issue and as I progress I can feel myself getting more used to your code. Are there any more issues you would like to suggest? What shoud I do next?

[2015-02-23 16:10] damithc opened #3018 "admin: recent activities of unregistered students may be incorrect"
Currently, it seems to be a search by name. The results may be incorrect because there can be multiple students with the same name

[2015-02-23 17:23] arvind-kalyan commented on #3001
Sir, Can I try this?

[2015-02-24 00:25] damithc commented on #3001
@arvind-kalyan This one may be related to a data migration we did sometime back. It's best handled by someone who was involved in that data migration.

[2015-02-24 00:30] damithc commented on #1780
@LowWeiLin for your action please

[2015-02-24 02:14] Siddhant085 commented on #2950
Can I work on this issue?

[2015-02-24 02:16] LowWeiLin commented on #2950
@damithc is this issue still valid? Instructors can "delete" by moderating a student's responses.

[2015-02-24 02:20] Siddhant085 commented on #1780
working on it.

[2015-02-24 02:27] damithc commented on #2950
I see. In that case, we don't need this. Perhaps add a 'moderate' link in all result views? @kanghj Could you add a separate issue for that?

[2015-02-24 02:27] #2950 closed

[2015-02-24 02:33] kanghj opened #3019 "Add 'moderate' link in all results view"
Presently, the instructor can see the link to moderate a student's answers only when grouping by either Giver > Question > Recipient or Giver > Recipient > Question. The instructor should be able to get to the moderations page from all results view.

[2015-02-24 03:19] kanghj opened #3020 "InstructorFeedbacksPage sometimes loads without the form for creating a new session"
![noform](https://cloud.githubusercontent.com/assets/2216119/6342441/fba7d1a2-bc13-11e4-8084-2c1b0cd447bb.PNG)

The form for creating a new session is missing in the above screenshot.

[2015-02-24 03:21] #2961 closed

[2015-02-24 03:24] damithc commented on #3020
I noticed that too. In fact the form appears at first and then disappears
after a few seconds. Is it something specific to testing or the web driver?
I didn't notice it in the live site or dev site.

[2015-02-24 03:26] arvind-kalyan commented on #2990
Sir, Can I try this one?

[2015-02-24 03:34] kanghj commented on #3020
I've encountered this outside of testing before, when using the dev server. We have a form that submits, using ajax, to the same page to load the sessions table, but sometimes it submits the form without using ajax, taking the browser to the page that is supposed to be loaded by ajax.

[2015-02-24 09:17] damithc commented on #2962
@franklingu can you describe this issue a bit more?

[2015-02-24 12:01] Siddhant085 commented on #2851
can I be assigned the issue?

[2015-02-24 13:51] arvind-kalyan commented on #2990
Three approaches :
1. Reduce font size
2. Increase the length of the drop-down box.
3. Combination of both 1 and 2.
How much characters should we show on the screen? (that is, length of the box).

[2015-02-24 13:56] damithc commented on #2990
Let's see if we can increase the number of visible letters to 15. Try a few combinations and post screenshots. When posting screen shots, I would like to see the full width of the page, not just the corner. That is, not as done in the screenshot above.

[2015-02-24 13:58] arvind-kalyan commented on #2990
Ok sir.

[2015-02-24 14:58] #2873 closed

[2015-02-24 15:06] franklingu commented on #2962
it is in the code. although values are set but some checkboxes do not have names, which is not good and potentially harmful--I am not sure if this is affecting how the system is behaving now or not

[2015-02-24 15:13] damithc commented on #2962
May be edit the issue description to explain what this issue is about? Post some sample code if needed. Any developer should be able to understand what the issue is about by reading the issue description.

[2015-02-24 18:23] arvind-kalyan commented on #2990
Sir, just to be sure, this is the page when Instructor is giving feedback to one or more students (as an essay question), in instructorFeedbackSubmissionEditPage correct?

[2015-02-24 23:35] damithc commented on #2990
@LowWeiLin it is applicable to studentFeedbackSubmissionEditPage as well right?

[2015-02-25 09:55] #2791 closed

[2015-02-25 09:55] #2993 closed

[2015-02-25 13:10] thyageshm commented on #3012
fix has been merged

[2015-02-25 13:10] #3012 closed

[2015-02-25 16:25] Siddhant085 commented on #2851
In an attempt to understand the code and solve the above issue I came across these two functions getQuestionResultStatisticsHtml() and getQuestionResultStatisticCsv() in the file FeedbackConstantSumQuestionDetails.csv. The former function has added the teamname to the the fragment variable which later gets added to html and returned do I need to add teamname in a similar way to the fragment variab

[2015-02-25 16:37] LowWeiLin commented on #2851
Yes, something similar. The code is not very readable(sorry about that), if you can, you can refactor it so that it is cleaner and understandable, using comments/better variable names.

[2015-02-26 17:43] Siddhant085 commented on #2851
I am not getting it properly I am pushing whatever changes I made and it will be great if someone else can help on that.

[2015-02-28 02:15] damithc opened #3024 "instructor results view: show a 'view by section' warning for bigger courses"
For bigger courses (e.g. 200+), the results page can be loaded with a warning status message that 'by sections' view is recommended. The message should show only if the 'all' option is selected.

[2015-02-28 03:44] damithc opened #3025 "instructor response comments: wrong user type shown in visibility options"
There is some mismatch here
![image](https://cloud.githubusercontent.com/assets/1673303/6424704/de9bf34e-bf3e-11e4-8ec8-753c9fccd756.png)

![image](https://cloud.githubusercontent.com/assets/1673303/6424701/c26a42f2-bf3e-11e4-9bcc-20d45da083bc.png)

[2015-02-28 03:45] damithc commented on #3025
@kai33 FYI as well

[2015-02-28 03:52] damithc commented on #3025
Here's the situation after reloading the page. Something is really messed up. :-1:
![image](https://cloud.githubusercontent.com/assets/1673303/6424756/28126b2e-bf40-11e4-9ba6-559ee7ecf0e2.png)

[2015-02-28 03:53] damithc commented on #3025
Note that I edited the comment without reloading the page.

[2015-02-28 03:56] damithc opened #3026 "instructor view responses: show 'no response' panels in 'low importance' colors"
Use light blue for panel heading and gray for text?
![image](https://cloud.githubusercontent.com/assets/1673303/6424761/c2ef1962-bf40-11e4-8901-994a9da5d10c.png)

[2015-02-28 04:42] franklingu commented on #3025
so the second is when adding a new comment, or add the comment and edit the added comment without reloading? the third one is after reloading?

[2015-02-28 05:04] kai33 commented on #3025
oh, miss the row for 'other students' in feedbackResponseComments.js

[2015-02-28 05:06] kai33 commented on #3025
after add the row for 'other students' in feedbackResponseComments.js,
it will be complete (total 6 rows, now only 5).
![screen shot 2014-07-09 at 4 45 38 pm](https://cloud.githubusercontent.com/assets/3591355/6424945/9a18350a-bf4a-11e4-82ff-eba1602c7f98.png)

[2015-02-28 05:19] franklingu commented on #3025
OK. did not know there were 6 of them. but I think here is talking about 2 mismatches?

[2015-02-28 05:26] kai33 commented on #3025
yes, the mismatch is no 'other students' row

[2015-02-28 05:50] JosephineKwa opened #3027 "Typo in devman.html"
Under the Design, UI section, in Request Flow:

7) ...creates a ShowPageResult object by encolosing the PageData object...
"encolosing" should be enclosing.

8) ControllerServlert "sends" the result....
"ControllerServlert" should be "ControllerServlet".

"Things to note" part, there is a sentence that says "Server processes the request separately (creates a ShowPageResult object but and a PageDat

[2015-02-28 06:44] JosephineKwa commented on #3026
I would like to work on this issue

[2015-02-28 07:22] damithc opened #3028 "instructor session results, 'by question view': add the ability to view the profile photo"
Currently, in other views (e.g. 'by giver'), the profile photo can be viewed by hovering over the name.

[2015-02-28 07:22] damithc commented on #3028
@JosephineKwa can you give this one a try?
@thyageshm can you review?

[2015-02-28 07:24] damithc commented on #3026
Not hard enough for you @JosephineKwa . I've suggested #3028 for you.

[2015-02-28 07:31] JosephineKwa commented on #3028
Ok sure! I'll try this one out.

[2015-02-28 12:50] franklingu commented on #3025
"but I think here is talking about 2 mismatches?" more explanation? @damithc

[2015-02-28 12:55] damithc commented on #3025
Yes, two issues.
After editing the comment, the visibilities shown are incorrect. Some rows
missing.
After reloading the page (after the edit), it appears that visibilities
have not been saved. I remember this was reported before and supposed to
have been fixed.

[2015-02-28 13:15] LowWeiLin opened #3029 "AllAccessControlUiTest failing at line 303"
As per title

@thyageshm related to #3012?

![image](https://cloud.githubusercontent.com/assets/3910365/6426301/ec778dca-bf8e-11e4-852c-5a321e510d92.png)

[2015-02-28 13:21] LowWeiLin opened #3030 "AdminHomePageUiTest failing due to ajax-loader gif"
The test doesn't pass even if run again multiple times.

Maybe we can add a wait while testing or ignore these in verifyHtml?

![image](https://cloud.githubusercontent.com/assets/3910365/6426314/7c4de750-bf8f-11e4-8b6a-507aa3126f0f.png)

[2015-02-28 14:56] franklingu commented on #3025
for first issue, yes, other students row is indeed missing. it was a bug with previous fix.
for second issue, cannot replicate it.

[2015-02-28 15:22] github-tn commented on #2532
Can I take this? Where is the revised content?

[2015-02-28 15:26] damithc commented on #2532
Take a different one :-) The revised content may be outdated and might
require further revision.

[2015-02-28 15:59] kai33 commented on #3025
re-produce by:
1. in insFeedbackResultPage, add a comment (dont refresh)
2. edit this comment's visibility and submit
3. refresh, can see its visibility gone.

[2015-02-28 16:22] kai33 commented on #3025
Root cause:
after add a new response comment, the added form misses 2 hidden inputs for visibility options.
<input type="hidden" name="showresponsecommentsto" value="yyyyyy">
<input type="hidden" name="showresponsegiverto" value="xxxxxx">

The fix can be:
add these 2 inputs,
and also need to register the checkbox's checked event for relative visibility options

[2015-02-28 16:28] franklingu commented on #3025
so this is related to #2962 in the end?

[2015-02-28 16:32] franklingu commented on #3025
I see now. those two hidden fields are the decisive ones in the end. :(

[2015-02-28 16:35] franklingu commented on #3025
OK. the register of event handler to checkboxes are not done after new comment is created.

[2015-02-28 16:40] franklingu opened #3031 "instructor response comments: after editing, visibility change in database is not reflected in UI"
when refresh, you can see what it in the in real database

[2015-02-28 16:42] franklingu commented on #3031
@kai33 , this is why I thought I fixed the issue #2949 but in fact the page is fooling my eyes

[2015-02-28 16:49] thyageshm commented on #3029
will send in a fix tonight

[2015-02-28 16:50] thyageshm commented on #3028
sure sir

[2015-02-28 18:03] thyageshm commented on #3029
fixed and merged to master. all browser tests ran and passed

[2015-02-28 18:04] #3029 closed

[2015-03-01 02:37] #1780 closed

[2015-03-01 03:37] #2976 closed

[2015-03-01 05:25] arvind-kalyan commented on #2990
Sir I have modified the bootstrap grid split from 2-10 to 4-8, giving more space to the drop-down box. The max-width is set to 170px instead of 125px, increasing the length to 15 chars. I have attached the screen-shots.
![2990_2](https://cloud.githubusercontent.com/assets/5078299/6429568/3ad986c2-c001-11e4-9ff4-c0c06370c62c.png)
![2990_1](https://cloud.githubusercontent.com/assets/5078299/6429569/

[2015-03-01 06:34] arvind-kalyan commented on #2990
Another possibility :
I have made align:**center**.

![2990_3](https://cloud.githubusercontent.com/assets/5078299/6429700/bc002770-c00a-11e4-837c-1d7a07ca820e.png)
![2990_4](https://cloud.githubusercontent.com/assets/5078299/6429703/ed400832-c00a-11e4-847f-7b8d4dcdde0f.png)

[2015-03-01 10:12] #2958 closed

[2015-03-01 12:37] damithc commented on #2990
I think the previous alignment is fine. Centre alignment moves the name and
response farther apart, which is not good.
4-8 split seems to be fine. Can we show more letters in that split? There
seems to be lot of empty space on the right and the left of the name.

[2015-03-01 13:30] arvind-kalyan commented on #2990
Sir,
Yes, it can be done by adding a "width" property. Here I have set width (and max-width) to be **275px**

![2990_5](https://cloud.githubusercontent.com/assets/5078299/6430910/e096fcc8-c044-11e4-9a4d-56460df1e1cb.png)

![2990_6](https://cloud.githubusercontent.com/assets/5078299/6430912/e39adfac-c044-11e4-9cff-d00e8f57c646.png)

How is it?

[2015-03-01 13:54] damithc commented on #2990
@LowWeiLin do you foresee any problems? If not, @arvind-kalyan can proceed.

[2015-03-01 14:02] LowWeiLin commented on #2990
@arvind-kalyan You can try adjusting the width of the browser window, and see if it generally looks fine even when the width of the browser is small. No need(but good if possible) to cater to very small screen widths like for phones since the rest of the site does not really scale well either.
Other than that, it should be fine.

[2015-03-01 14:22] arvind-kalyan commented on #2990
@LowWeiLin When width of the browser is small, "**To:**" comes on right end of a line and drop-down comes on the next line at left end. But this happens even in the initial setting (without any changes). Other than this, there is no other problem to be seen.

[2015-03-01 15:03] arvind-kalyan commented on #2990
What should I do? Shall I proceed?

[2015-03-01 15:04] LowWeiLin commented on #2990
Yes, it seems fine. Do proceed.

[2015-03-01 15:43] #3025 closed

[2015-03-02 02:15] manvijain commented on #3024
Hi,
I would like to try to try to solve this issue. Can it be assigned to me?
I went through the code to get an idea of what needs to be done.Am I right in thinking that the number 200+ indicates the sum of length of RespondingStudentList and RespondingInstructorList in the FeedbackSessionAttribute.java Class?

[2015-03-02 13:28] LowWeiLin commented on #3024
There is a constant where we switch to use AJAX when the number of responses is too high. Maybe we can use that as a trigger for the warning? Or do we want the warning even if ajax is not used?@damithc

[2015-03-02 14:14] manvijain commented on #3024
Is the constant you are referring to 500? The one which decides the value of the boolean variable shouldCollapsed based on the size of responses and invokes the toggleCollapse() function in InstructorFeedbackResults.js?@LowWeiLin

[2015-03-02 14:30] LowWeiLin commented on #3024
I think you mean the jsp files? I think that only collapses the panels, if there is too many.

I think the value that determines if ajax is used is DEFAULT_QUERY_RANGE, found in InstructorFeedbackResultsPageAction.java.

@imouto1994 is that right?

[2015-03-02 14:35] damithc commented on #3024
@imouto1994 is the best person to advise on this issue. :-)

[2015-03-02 14:44] manvijain commented on #3024
Yes I was referring to the jsp file for feedbackResult's view in which the decision of collapsing the panels is taken.

[2015-03-02 14:45] arvind-kalyan commented on #2933
Sir, Can I try this?

[2015-03-02 14:52] damithc commented on #2933
This is too big to do in the middle of the semester. May be during the summer? :-)

[2015-03-02 14:53] damithc commented on #2933
@LowWeiLin anything we can give to @arvind-kalyan ?

[2015-03-02 15:04] LowWeiLin commented on #2933
@arvind-kalyan you can try #2894, or if you want something even more challenging, #2732.

[2015-03-02 15:21] arvind-kalyan commented on #2933
@damithc sir, Yes, Absolutely. :-)

[2015-03-02 15:24] arvind-kalyan commented on #2894
Shall I try this?

[2015-03-02 16:59] arvind-kalyan commented on #2894
Sir, Just to be clear if I understood it correctly, in the modal window upon clicking "**Copy from previous feedback sessions**" button, if a user selects a course **X** from **Create in course** drop-down list, we have to put an annotation in all the rows of **X** where a previous feedback session exists. Is it correct?

[2015-03-02 17:03] Siddhant085 commented on #2851
Since the constant sum question is feedback about the teams does it mean that the recipient and the team name will be the same

[2015-03-02 17:53] imouto1994 commented on #3024
For every JSP file in the results page, there will a boolean value `showAll` to determine whether the list of responses has been loaded completely or we should use AJAX. We could use that to check whether we need to show the warning :)

[2015-03-02 18:51] drunken-saint commented on #2861
Hi there,
I merged my repo with the Teammates repo . and Now I am getting 800+ compile errors all in the java directory. Their description suugests some problem with the Google App Engine SDK . should I update my SDK to the latest version or is it some other alternative available?
Or , Should I fork and clone again from the TEAMMATES/repo?
And , I know this issue has taken way longer than it requi

[2015-03-02 19:41] manvijain commented on #3024
Found it! That's great! Thank you! :)

[2015-03-03 00:01] damithc commented on #2894
Sorry I wasn't clear before. This applies to the 'copy' feature you get when you go to the 'edit' option of a session. That feature is used to copy a session to multiple courses.

![image](https://cloud.githubusercontent.com/assets/1673303/6453657/4d585230-c17b-11e4-9e12-ac24cf99c9ca.png)

[2015-03-03 01:57] kanghj commented on #2861
Hi, it is nice to see that you are back.

The Google App Engine SDK version on Teammates did not change, so you shouldn't update your SDK to the latest version. Perhaps you changed the project settings accidentally? In eclipse, check Project → Properties → Google → App Engine to see if the right version of the SDK is used. Also, look though the rest of the troubleshooting guide.

[2015-03-03 02:13] kanghj commented on #2851
The team name column in the responses and statistics for other question types are left blank if the recipient is a team, so for now, you can leave the team name blank to be consistent with the other question types.

[2015-03-03 02:54] arvind-kalyan commented on #2894
Sir, I have attached a screenshot. It's working correctly. But it comes in two lines. For long course names / course ids, this will be a problem. I have set the font size to **2** here. Should I increase the size of the modal window?

![2894_1](https://cloud.githubusercontent.com/assets/5078299/6455698/bdc63f62-c17d-11e4-9f79-8f0b9bd993ba.png)

In the pic below, font size is **1**

![2894_2](https

[2015-03-03 03:05] damithc commented on #2894
I'm ok with slightly wider modal window and slightly smaller text for the annotation.

[2015-03-03 03:41] arvind-kalyan commented on #2894
Increasing width would would require overriding the properties of bootstrap "modal" class and thereby using a custom class only for this particular modal window. In my opinion, font size < 1 would make it too small to read. Should I change that?

[2015-03-03 03:49] damithc commented on #2894
How about adding a line break so that the annotation appears right below the course name?. That way, it is closer to the check box and hard to miss. Make the text size smaller than regular, but not too small.

[2015-03-03 04:09] manvijain commented on #3024
I introduced a warning statement when "All" is selected. This is how it looks. Is it okay?
![warning](https://cloud.githubusercontent.com/assets/10461781/6456427/1a6633fc-c189-11e4-9bbb-d6e9c55b634f.png)

[2015-03-03 04:13] damithc commented on #3024
Warning text: "This session seem to have more responses than we can show in one page. Please view one section at at time"
Perhaps use a regular status message, but in 'warning' formatting?

[2015-03-03 05:13] manvijain commented on #3024
I made the required changes. Is it looking good now?
![warning2](https://cloud.githubusercontent.com/assets/10461781/6456880/f3e1fcf8-c191-11e4-9515-010795d5f0fd.png)

[2015-03-03 05:33] arvind-kalyan commented on #2894
Okay. So I'll put a line break and also, the font size = 1.

[2015-03-03 07:32] damithc commented on #3024
I meant a status message like this
![image](https://cloud.githubusercontent.com/assets/1673303/6458098/716dc53a-c1ba-11e4-8c58-a607e8d8100a.png)

[2015-03-03 08:24] manvijain commented on #3024
Sorry for the misinterpretation. I changed the formatting. Is it in accordance with what is required?
![warning3](https://cloud.githubusercontent.com/assets/10461781/6458726/d124bae6-c1ac-11e4-8b97-31a6ea847914.png)

[2015-03-03 08:30] damithc commented on #3024
@LowWeiLin can you mentor this issue?

[2015-03-03 08:48] LowWeiLin commented on #3024
Can change the text to be:
"This session seem to have a large number of responses. It is recommended to view the results one section at at time"
Since it is not the case that we <i>cannot</i> show the responses?

Also, try to use a warning(yellow) box for the message, since it is not an error, but a warning/recommendation.

[2015-03-03 09:17] manvijain commented on #3024
I changed the text as well as the statusMessage color. Is it okay now?
![warning4](https://cloud.githubusercontent.com/assets/10461781/6459385/1fd7d298-c1b4-11e4-9091-f93db69b5fb3.png)

[2015-03-03 10:17] franklingu commented on #2962
this issue does not cause any trouble for the system for now. however, it is a potential harm in case some time later we do not use hidden inputs but checkboxes later directly

[2015-03-03 11:56] kanghj opened #3037 "Change misleading comment in test.template.properties"
On line 40, it says

<code># The values given below will work for the dev server.</code>

When in fact, the default values need to be changed for GodModeTest to pass.

[2015-03-03 12:00] manvijain commented on #3024
I ran the test suite and am getting one failed test in for InstructorFeedbackResultsPageUITest. How can I resolve this?
I am attaching a screenshot of the comparision.
![testcasefail](https://cloud.githubusercontent.com/assets/10461781/6461931/dfad380e-c1ca-11e4-8efc-31019745a3fa.png)

[2015-03-03 13:12] LowWeiLin commented on #3024
You will need to find the failing line in the test, see which html file is it checking against, and change it to have the new expected behaviour.

[2015-03-03 13:44] Siddhant085 commented on #2851
Ok so for the CONSTSUM question since the recipient is a team, there should be a team column but its value should be blank. I made the required changes and even updated the FeedbackSessionLogicTest .java so that it recognizes the Team column with the blank.

[2015-03-03 14:09] arvind-kalyan commented on #2732
Hi, shall I start this?

[2015-03-03 14:12] arvind-kalyan commented on #2732
Thanks @LowWeiLin !

[2015-03-03 16:14] arvind-kalyan commented on #2732
Hi,
Here, we have to disable the option for instructor to comment for contribution question, correct? This applies only for the question where we have to rate the team members' contribution (where Equal Share, +5% etc. are involved), right?

[2015-03-04 03:14] damithc opened #3039 "NPE in InstructorFeedbackEditSaveAction"
null

Request Path /page
Request Parameters {}
Stack Trace

java.lang.AssertionError: null
	at teammates.common.util.Assumption.fail(Assumption.java:58)
	at teammates.common.util.Assumption.assertTrue(Assumption.java:27)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:254)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:246)
	at teammates.ui.controller.Instruc

[2015-03-04 03:15] damithc commented on #3039
Probably need to do the null check for post parameters.

[2015-03-04 03:17] LowWeiLin commented on #2732
Yes

[2015-03-04 05:15] manvijain commented on #3024
I introduced the changed code snippet to all feedbackResult html files using ajax and got rid of the comparison failure.
However there still remains an error due to TimeoutException in testFeedbackResponseCommentActions function in the InstructorFeedbackResultsPageUiTest.java but I don't think it is due to the changes made in this issue. How can I proceed to resolve this failure? Is it relevant to

[2015-03-04 11:54] LowWeiLin commented on #3024
Yes it seems to be a different issue.

[2015-03-04 13:20] thyageshm commented on #2894
@arvind-kalyan, sorry if I am saying this very late (and you can choose to ignore it as well, we can open a separate issue), but could we try placing like an asterisk(*) at the end of the session name and provide a key at the bottom of the modal saying:   "* Sessions from this course"

This maybe a more robust solution as length of sessions will no longer matter much, and the indication is more su

[2015-03-04 14:10] arvind-kalyan commented on #2894
@thyageshm Hello, yeah, no problem with me. We can do it here itself.. No need of a separate issue. :)
But the problem with putting it as an asterisk could be that, if suppose the instructor was very busy, he might not see the entire course name. he might just look at the course ID (given in [ ] ), and select the course. In this case he won't notice the asterisk at the end of the course name  (if

[2015-03-04 14:15] LowWeiLin commented on #2894
How about making the [Course ID] a different colour if the issue is that the asterisk is not visible?

[2015-03-04 14:28] arvind-kalyan commented on #2894
In that case, we'll have to explain what a colored [Course ID] means, and also mention "Sessions from this course". We could just put the asterisk near [Course ID], right?

[2015-03-04 14:33] LowWeiLin commented on #2894
Sure, you can try different solutions and use what you think is the best solution.

[2015-03-04 14:39] damithc commented on #2894
The annotation is supposed to appear as a separate line below the course
name, so the length of the course name is no longer an issue. May be Arvind
can post a screenshot of the latest version?

[2015-03-04 15:02] arvind-kalyan commented on #2894
Here it is.

![2894_latest](https://cloud.githubusercontent.com/assets/5078299/6485964/8c278fb6-c2ad-11e4-834e-0e5ae7f32868.png)

[2015-03-04 15:05] damithc commented on #2894
May be make the course ID red as well, to show that the annotation belongs
to the line above and not the one below?

[2015-03-04 15:10] arvind-kalyan commented on #2894
Okay.

[2015-03-04 15:30] arvind-kalyan commented on #2894
@damithc sir, Is this ok?

![2894_3](https://cloud.githubusercontent.com/assets/5078299/6486487/64fe392c-c2b1-11e4-8d78-ba3297534a05.png)

[2015-03-04 15:41] damithc commented on #2894
Yup, looks good.

[2015-03-04 20:27] ruchirsharma1993 commented on #2854
Hi,
Can you assign this issue to me ?
Thanks

[2015-03-05 02:32] LowWeiLin commented on #2854
@ruchirsharma1993 Please complete the orientation tasks A-D first. They can be found here: https://docs.google.com/document/d/1cY9pmEmw4dC6Z4LjN1WUTsynJ0jVPgbWsFhdyBy_wCU/pub?embedded=true

[2015-03-05 03:15] halfdreamer commented on #3027
i can correct these errorrs..please assign it to me...

[2015-03-05 07:39] LowWeiLin commented on #3027
@halfdreamer Good to see you have managed to get most of the tests passing(hopefully all of them). Go ahead and address this issue and create a pull request for it.

[2015-03-05 14:20] drunken-saint commented on #2861
Hi , I've installed a fresh copy of the recommended SDK version suggested at the settingUp.md file only. There are no compile errors now . Lets get the issue resolved now.

[2015-03-05 15:30] #3027 closed

[2015-03-05 16:12] arvind-kalyan opened #3042 "Inconsistent widths in Question configurations"
After #2990 is done, some questions have a split of 4-8 (in a bootstrap grid system of 12 columns), and the rest have 2-10 splits. We shall change everything to 4-8 to make the UI look more consistent.

[2015-03-05 16:49] arvind-kalyan commented on #2732
Here, we could either 'disable' the comment button, or remove the button as such right? Am I missing something?

[2015-03-05 20:33] halfdreamer commented on #2902
hi,
I have just gone through instructor pages.instructorStudentList page and InstructorCourseStudentDetailsPage already have confirmation dialog before deleting a student.But InstructorSearchPage require similar dialog..shall i try this ?

[2015-03-06 04:57] damithc commented on #2946
Is this fixed? I'm still getting a similar behavior.
![image](https://cloud.githubusercontent.com/assets/1673303/6520408/405df1de-c400-11e4-91a3-9878216c091d.png)

[2015-03-06 09:14] damithc commented on #2732
Because that button is not to be enabled at any time, might as well remove
it.

[2015-03-06 09:17] arvind-kalyan commented on #2732
Sir, I have disabled the button when the question is a contribution question. The button is there, but won't be clickable. This same comment button will be clickable in other question types.

[2015-03-06 09:22] damithc commented on #2732
Can you add a tool tip "Commenting is not available for Contribution
Questions" to the disabled icon?

[2015-03-06 09:23] arvind-kalyan commented on #2732
Sure. Will do.

[2015-03-06 12:31] arvind-kalyan commented on #2732
It seems that adding a tooltip to a disabled button is a bit tricky. We have to use another outer element, live <div> or <span> and put the tool-tip on that. Also, with this, it doesn't work if the display style of that outer element is not "inline-block" (which makes the comment button go far to the left from it's original position) So much complications. I've done something simpler. :) I added s

[2015-03-06 13:14] LowWeiLin commented on #2902
@halfdreamer Go ahead and tackle the issue. =)

[2015-03-06 13:58] ruchirsharma1993 commented on #2854
Hello Sir,
As per the instructions i have completed the orientation tasks A-D and posted the details on google group as well. Please assign the task and instruct further guidelines.

Thanks

[2015-03-06 15:04] ymoctavia opened #3044 "Delete evaluation publish and remind queue"

[2015-03-06 16:50] halfdreamer commented on #2902
Student delete confirmation in InstructorSearchPage is already specified,its just that  toggleDeleteStudentConfirmation() is not defined in this context.Adding the definition to instructorSearch.js fixes the issue....please correct me if am wrong...i have added the screen shots...
![error](https://cloud.githubusercontent.com/assets/1180133/6529453/dc672bb0-c44e-11e4-821f-16b89c7827cf.png)
![fix](h

[2015-03-06 17:34] #3031 closed

[2015-03-06 17:51] kai33 opened #3045 "Can see response comments in instrSearch & instrFeedbackResultsPage but not in instrCommentsPage"
the access control in
InstructorFeedbackResponseCommentsLoadAction &
InstructorSearchPageAction is not sync

[2015-03-06 18:04] kai33 opened #3046 "build an AccessControlUtil"
It would be nice to have an AccessControlUtil (similar to GateKeeper) for action level and page data level: call the api, pass the required params, then can get the filtered results or whether to disable/hide the web elements.

benefits:
0, re-use the codes in actions & jsp pages, avoid copy-paste & not sync problem
1, look cleaner
2, easy for the newcomers to apply
3, easy to manage the code base

[2015-03-06 18:47] drunken-saint commented on #2861
Hey, I've made the rquired changes all also changed the required files for the test cases .
Now , only 3 tests are failing :
1. InstructorsFeedbackResultsPageUiTest (which fails on some systems)
2.AdminHomePageUITest(failing on master , not related to this issue)
3.InstructorFeedbackEditPageUITest(failing on master , not related to this issue)

I think it its good to merge now , I am creating a pu

[2015-03-06 19:23] ruchirsharma1993 commented on #2803
Hi, as per the specification given i have removed the comment in enableJS.jsp. Handling a issue for the first time, kindly inform if there is any problem with the same.
Thanks

[2015-03-06 20:38] dg711 opened #3049 "User must be alerted about being logged out while requesting the TEAMMATES Homepage"
There is no alert message that tells the user that he/she would be logged out when visiting the TEAMMATES homepage .
For eg. , When a user requests the TEAMMATES homepage to watch the video tour video he/she is logged out automatically without any alert message .

[2015-03-06 22:05] karan173 opened #3050 "Instructor count includes testing accounts in adminAccountManagementPage"
Instructor count should not include testing accounts. Also see [link](https://groups.google.com/forum/#!topic/teammates-contributors/kVHhpDI-fAs)

[2015-03-06 22:18] drunken-saint opened #3051 "prompt alert message when a user abandons an incomplete form"
For eg. , If a user is the middle of inputting the details for the new session creation or course creation , he/she should be alerted of the incomplete form on the current webpage when they request another webpage or reload the same webpage .

[2015-03-06 22:44] vamshi-s commented on #3011
protected String getRegkeyFromRequest() {
        String regkey = getRequestParamValue(Const.ParamsNames.REGKEY);
        if (regkey == null) {
            //TODO: remove this branch on October 15th 2014.
            return getRequestParamValue(Const.ParamsNames.REGKEY_LEGACY);
        } else {
            return regkey;
        }
    }

I Think it has been handled, Please let me know , If not.

[2015-03-07 01:05] damithc commented on #3051
If the user loads another page by mistake, he/she can go back to the previous form using the back button? Is there a scenario where that wouldn't work?

[2015-03-07 01:07] damithc commented on #3050
@karan173 you mentioned two different issues. Can you submit them as two separate issues? They are easier to track that way.

[2015-03-07 01:13] damithc commented on #3049
I don't think the user is logged out. The user can go back to the app by clicking on 'Student login' or 'Instructor Login' links, without having to login again. The back button should do too. However, the user might mistakenly thing that he/she has been logged out. We can do something to avoid that.

[2015-03-07 01:25] karan173 opened #3052 "adminAccountManagement.css isn't referenced in adminAccountManagement.jsp."
The file adminAccountManagement.css isn't referenced in adminAccountManagement.jsp. Also see [link](https://groups.google.com/forum/#!topic/teammates-contributors/kVHhpDI-fAs)

[2015-03-07 01:26] karan173 commented on #3050
@damithc Done. Can you please verify the issues and assign them to me.

[2015-03-07 01:32] damithc commented on #3050
@ymoctavia can you verify this bug?

[2015-03-07 01:33] damithc commented on #3052
@ymoctavia for your verification.

[2015-03-07 03:27] kanghj opened #3053 "Unable to submit Rubrics responses through feedbackQuestionSubmissionEdit"
This is because the function getQuestionTypeNumbers()  in feedbackSubmissionsEdit.js does not work in feedbackQuestionSubmissionEdit.

<code>$("input[name^='questiontype-']")</code> is used to filter question types. This works in feedbackSubmissionEdit.jsp, since the question number is added as a suffix after "questiontype" but in feedbackQuestionSubmissionEdit.jsp, the input field is only named "

[2015-03-07 03:29] thyageshm commented on #3011
What do you mean? I still see the check being done in that code...

[2015-03-07 03:34] thyageshm commented on #2946
The repeated calls to EditPage has been fixed, I will look harder to figure out what is going wrong with the EditSave page

[2015-03-07 03:49] ymoctavia commented on #3052
Yes, it is not referenced in the jsp page. We can delete it.

[2015-03-07 03:49] thyageshm commented on #3049
shoud we consider modifying the homepage to become a jsp so that we can keep the login information there too?

[2015-03-07 04:02] ymoctavia commented on #3050
Yes, the "count in gray" does not exclude testing accounts. for example:
![image](https://cloud.githubusercontent.com/assets/7552558/6539955/f557d5c6-c4c0-11e4-864d-834983c47856.png)

We can actually remove this count because we now have a count in the panel. like below:

![image](https://cloud.githubusercontent.com/assets/7552558/6539968/62b98920-c4c1-11e4-9641-c5caf334a499.png)

This counting in

[2015-03-07 04:03] drunken-saint commented on #3049
:+1:  to that .

[2015-03-07 04:07] drunken-saint commented on #3051
No , I didn't find any scenario where it wouldn't work . Its just that, I have seen other websites using such feature . Anyways ,the issue can be closed now . I would report incase I come across such scenarios in the future .

[2015-03-07 06:10] vamshi-s commented on #3011
@thyageshm  Iam sorry, i got it wrong. This needs to be removed.
f (regkey == null) {
//TODO: remove this branch on October 15th 2014.
return getRequestParamValue(Const.ParamsNames.REGKEY_LEGACY);
} else {

[2015-03-07 06:51] #2989 closed

[2015-03-07 08:05] thyageshm commented on #3011
yup. do you want to try out this issue?

[2015-03-07 12:10] damithc commented on #3051
OK, i'll close it for now. We can reopen if there is a change in circumstances. Thanks for posting the issue and following it up @drunken-saint

[2015-03-07 12:15] damithc commented on #3050
Thanks for the clarification @ymoctavia and for posting the issue @karan173

[2015-03-07 12:59] karan173 commented on #3052
Can I be assigned this issue?

[2015-03-07 13:01] ARSPRodrigo commented on #2929
Is this happen when an instructor is going to publish a feedback session?

[2015-03-07 13:06] ARSPRodrigo commented on #2906
Sir,
Can I look into this issue?

[2015-03-07 13:07] karan173 commented on #2867
@damithc Can I be assigned this issue?

[2015-03-07 13:11] karan173 commented on #3011
@thyageshm Can I be assigned this issue?

[2015-03-07 13:15] karan173 commented on #3052
starting issue

[2015-03-07 13:48] damithc commented on #2929
yes

[2015-03-07 15:41] ruchirsharma1993 commented on #2803
Thanks for assigning the task sir. As per instructions i have started working over the issue

[2015-03-07 16:56] #2894 closed

[2015-03-07 17:35] vamshi-s commented on #3011
@thyageshm  yes.Please do..Thank you :)

[2015-03-07 17:35] vamshi-s commented on #3011
@thyageshm  yes.Please do..Thank you :)

[2015-03-07 18:05] ruchirsharma1993 commented on #2283
Hello Sir,
Can you assign this issue to me ?
Thanks

[2015-03-07 22:22] vamshi-s commented on #2338
I need to modify this line in instructorHelp.html page.
<li>
            <a href="#tips">Tips for using the system </a>
</li>

to
<li>
            <a href="#tips">Tips for conducting 'team peer evaluation' sessions </a>
</li>

@LowWeiLin  Can you assign this task to me ?

[2015-03-07 22:26] vamshi-s commented on #2336
I need to add this content in instructorHelp.html page.
<li>
                                    <a href="#faq12">Is it compulsory for students to use Google accounts?</a>
 </li>
<li>
                                    <a href="#faq13">What if my course doesn’t have teams?</a>
  </li>
<li>
                                    <a href="#faq14">Is there a size limit for a course?</a>
</li>

@LowWeiL

[2015-03-08 02:28] NisalaNiroshana commented on #2336
Hi LowWeiLin ,
I have completed the orientation tasks successfully. Can you assign this issue to me ?

Thanks

[2015-03-08 02:29] NisalaNiroshana commented on #2338
Hi LowWeiLin ,
I have completed the orientation tasks successfully. Can you assign this issue to me ?

Thanks

[2015-03-08 03:40] #3024 closed

[2015-03-08 05:25] vamshi-s commented on #3011
starting issue.

[2015-03-08 05:36] ruchirsharma1993 commented on #2283
Sir, Thanks for Assigning the Issue. Starting now.

[2015-03-08 05:47] thyageshm commented on #3011
Thanks @weilin

[2015-03-08 06:36] ARSPRodrigo commented on #2906
Hi,

I'll look into it.

On Sun, Mar 8, 2015 at 12:05 PM, Low WeiLin <notifications@github.com>
wrote:

--
*Prasanna Rodrigo,*
*Computer Engineering Undergraduate,*
*Department of Computer Engineering,*

*University of Peradeniya.**+94 720764791*
*::Linkedin <http://lk.linkedin.com/in/prasannarodrigo>*

[2015-03-08 06:51] halfdreamer commented on #3019
Can i try this one ...?

[2015-03-08 07:19] kanghj commented on #3019
@halfdreamer, would you like to try something easier? This might be a little too difficult and may take too long for now, as this will involve making many changes to different places.

[2015-03-08 08:13] #3051 closed

[2015-03-08 10:26] karan173 commented on #2867
starting issue

[2015-03-08 12:42] karan173 commented on #3050
Can I be assigned this issue? We have to remove the "count in gray" right?

[2015-03-08 13:22] suhas355 commented on #2292
Hi Sir,
    As per the instructions i have completed the orientation tasks A-D and posted the details on google group as well. Can you Please assign the task and instruct further guidelines.

Thanks
Suhas KS

[2015-03-08 14:27] LowWeiLin commented on #3050
@damithc Do we remove the "count in gray" to solve the issue or correct the value?

[2015-03-08 15:04] damithc commented on #3050
Let's remove it.

[2015-03-08 15:08] damithc opened #3063 "Student: view results of anonymous questions: hide/clarify misleading stats"
In anonymous questions (only recipient can see responses anonymously), stats for other students is simply based on the viewers own responses, but that fact may not be clear to the viewer. We have to state that the table is based on the values shown below only. Furthermore, it is better if we can omit such misleading stats.

[2015-03-08 15:26] thyageshm commented on #2292
hi! please try a "forFirstTimers" issue first before others. you can the get the list here: https://github.com/TEAMMATES/repo/issues?q=is%3Aopen+is%3Aissue+label%3AforFirstTimers

[2015-03-08 15:58] #2867 closed

[2015-03-08 16:03] thyageshm commented on #2946
I am still not able to figure out why the save page would have such a behaviour. Are there any more information regarding these instances?

[2015-03-08 16:25] damithc commented on #2946
I'll collect more info next time I catch it happening.

[2015-03-08 16:50] #2861 closed

[2015-03-08 17:45] suhas355 commented on #1151
Hi,

I have completed the orientation A-D successfully. can you please assign this issue to me.

Thanks
Suhas

[2015-03-08 18:11] ruchirsharma1993 commented on #2832
Hello Sir,
Can you please assign this issue to me ?
Thanks

[2015-03-08 19:53] halfdreamer commented on #3019
@kanghj  Adding moderate buttons function in Recipient->Question->Giver and Recipient->Giver->Question views seems straight forward...anyway it'll take time..I'll try something easier..

[2015-03-08 20:13] halfdreamer commented on #2977
can i work on this ?

[2015-03-08 21:05] drunken-saint commented on #2929
I would like to give this a try . Please assign it to me :)

[2015-03-09 03:28] taniach commented on #2432
Shall I take this issue?

[2015-03-09 08:32] NisalaNiroshana commented on #2336
Hi LowWeiLin,
I have fixed the issue and sent you the pull request.
https://github.com/TEAMMATES/repo/pull/3067

Thanks

[2015-03-09 08:33] NisalaNiroshana commented on #2338
Hi LowWeiLin,

I have fixed this issue and sent you the pull request.
https://github.com/TEAMMATES/repo/pull/3068
Thanks

[2015-03-09 08:59] LowWeiLin commented on #2336
@NisalaNiroshana Please only fix this one, each person should ideally only do one issue labelled "forFirstTimers" also, follow the development process here: https://github.com/TEAMMATES/repo/blob/master/devdocs/process.md

[2015-03-09 09:22] NisalaNiroshana commented on #2336
Hi LowWeiLin,

Thanks for the information. I have missed that doc. I have created the pull request again and sent it to you.
https://github.com/TEAMMATES/repo/pull/3069
Thanks

[2015-03-09 09:34] taniach commented on #2432
Shall we display the name as a placeholder or plain text so that it can be selected for copy-paste?

[2015-03-09 09:37] damithc commented on #2432
Plain text is better.

[2015-03-09 09:49] supunharsha commented on #2854
Hi,
Can you assign this issue to me

[2015-03-09 09:52] LowWeiLin commented on #2854
@supunharsha Could you give a link to the google groups thread where you posted your completed orientation tasks A-D?

[2015-03-09 09:55] arvind-kalyan commented on #3039
Hi, can I try this?

[2015-03-09 09:59] arvind-kalyan commented on #2337
Can I try this?

[2015-03-09 10:07] LowWeiLin commented on #3039
@arvind-kalyan You will need to find the cause and replicate the NPE for this. Let us know if you find out.

[2015-03-09 10:08] arvind-kalyan commented on #3039
Ok.

[2015-03-09 12:22] kanghj commented on #2929
@drunken-saint, by this point, you are at task 6 of the [Instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true). You can still work on this issue and when you are done, make a pull request, but we don't promise to review your pull requests during the application period.

[2015-03-09 12:24] kanghj commented on #2832
Hello @ruchirsharma1993, by this point, you are at task 6 of the [Instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true). You can still work on this issue and when you are done, make a pull request, but we don't promise to review your pull requests during the application period.

[2015-03-09 12:26] kanghj commented on #2977
@halfdreamer, by this point, you are at task 6 of the [Instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true). You can still work on this issue and when you are done, make a pull request, but we don't promise to review your pull requests during the application period.

[2015-03-09 12:47] halfdreamer commented on #2977
@kanghj no problem...

[2015-03-09 14:17] Maroooon commented on #1151
Hey Guys,

I have completed the orientations tasks and also posted the required links and snaps to the teammates-contributors Google group. Can I be assigned this issue?

In fact I have already fixed it.  Should I further proceed with making the pull request?

Regards,
Shubham

[2015-03-09 14:19] #3052 closed

[2015-03-09 14:25] arvind-kalyan opened #3070 "Table rows outside Modal window in instructorFeedbackResultsPage"
Steps to reproduce the issue:
1. Log in as SHomeUiT.instr
2. Add New Feedback Session
3. Click "View Results", after creating the session.
4. Click on "click here" link shown in the image attached.

![initial](https://cloud.githubusercontent.com/assets/5078299/6556678/1abfc9ec-c695-11e4-9cde-9f6b90b1ea9a.JPG)
![outside modal window](https://cloud.githubusercontent.com/assets/5078299/6556712/513966

[2015-03-09 14:26] arvind-kalyan commented on #3039
I'm able to replicate another error. But I don't think it's the same as this one. It's this :

null

Request Path /page

Request Parameters {}

Stack Trace

java.lang.AssertionError: null
	at teammates.common.util.Assumption.fail(Assumption.java:58)
	at teammates.common.util.Assumption.assertTrue(Assumption.java:27)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:254)
	at teamma

[2015-03-09 14:56] damithc commented on #3039
Yes, that's the one. How did you reproduce it?

[2015-03-09 15:03] arvind-kalyan commented on #3039
Sir, I don't think this is the original error in the Issue. The error I posted can be reproduced by the following steps :
1. Login as an instructor (in say browser tab 1).
2. Edit a feedback session (but don't press Save Changes) (in browser tab 1)
3. Open another tab and take this instructor's home-page.(let this be browser tab 2)
4. Click Log-out in that new tab. (in browser tab 2)
5. Now Click

[2015-03-09 15:08] arvind-kalyan commented on #3039
This has a good chance of being related to the original Issue, since request parameters are null in both the cases. Since course-id, and session-name wouldn't be null in most cases, it has got to be accountId (which is null when no-one's logged in).

[2015-03-09 15:31] supunharsha commented on #2854
You can see my thread at:-

https://groups.google.com/forum/#!topic/teammates-contributors/3j3a969dLFM

On Mon, Mar 9, 2015 at 3:22 PM, Low WeiLin <notifications@github.com> wrote:

[2015-03-09 16:28] damithc commented on #3039
We suspect that this happens when the Browser tries to load tabs from the
previous browsing session. Most browsers these days try to reload the set
of tabs that was open when the browser was being used before. If one of
those tabs was a TEAMMATES page but the login has expired, this scenario
can occur.

[2015-03-09 16:38] arvind-kalyan commented on #3039
@damithc Sir, when Login has expired, and the instructor tries to save changes, it will again redirect to login page, but even after logging in again, this exception is thrown.

[2015-03-09 16:43] arvind-kalyan commented on #3070
When we open the modal window, the table is selected by default, even before "Select Table" is clicked. Was it meant to be like that?

[2015-03-09 16:54] ARSPRodrigo commented on #2906
Hi Low,

Can you assign me to issue #3059 also?

On Sun, Mar 8, 2015 at 12:06 PM, Prasanna Rodrigo <rodrigo.rajitha@gmail.com

--
*Prasanna Rodrigo,*
*Computer Engineering Undergraduate,*
*Department of Computer Engineering,*

*University of Peradeniya.**+94 720764791*
*::Linkedin <http://lk.linkedin.com/in/prasannarodrigo>*

[2015-03-09 18:29] ruchirsharma1993 commented on #2854
Sir,
As I was UNASSIGNED for this Issue, should i work over this now or not ?

Thanks

[2015-03-09 22:17] drunken-saint commented on #2929
Okay @kanghj  . I'try to resolve this issue before the application period starts .
I've made the changes in the /js/instructor.js now . I am attaching the screenshot and will update again after modifying the test files . I had one more query : Should I make the change for the unpublish button also or should there a seperate issue be created for this ? @damithc
![screenshot 77](https://cloud.github

[2015-03-09 22:53] drunken-saint commented on #2929
No changes were need in the test files . Issue2929 is dev green . I've created the pull request .
I've not been officially assigned this issue yet . Please do so @damithc  @kanghj  .

[2015-03-10 00:05] damithc commented on #3039
I see. Investigate further and see if you can come up with a solution.

[2015-03-10 00:06] damithc commented on #3039
Also refer #2953

[2015-03-10 00:07] damithc commented on #2953
duplicate of #3039

[2015-03-10 00:07] #2953 closed

[2015-03-10 00:11] damithc commented on #3070
The content is simply meant to be copy pasted to another document, not read
manually. That is why the content is already selected. That is also why
beautifying the display is a low priority.

[2015-03-10 01:02] LowWeiLin commented on #2854
@ruchirsharma1993 No need for you to work on this. Each person only needs to do one issue labelled "forFirstTimers" to get familiar with the workflow. You can look for more difficult issues to fix.

[2015-03-10 01:02] LowWeiLin commented on #2854
@supunharsha I have sent you an invitation to the contributors team. Will assign you after you accept.

[2015-03-10 01:07] LowWeiLin commented on #1151
@suhas355 Can you post the link on google groups where you completed orientation tasks A-D? I can't identify which one is it.
@Maroooon I sent an invitation to the contributors team.

Whoever is not assigned can look for another issue =)

[2015-03-10 02:49] supunharsha commented on #2854
Hi

I have accepted the invitation and i am ready to go.

On Tue, Mar 10, 2015 at 6:32 AM, Low WeiLin <notifications@github.com>
wrote:

[2015-03-10 03:06] damithc opened #3073 "Remove GodModeTest from AllTests"
May be we can make the Godmode test pass even if the user accounts are the ones given in the test.properties is the same as the ones in the template?

[2015-03-10 03:48] tharakamd commented on #2336
I've completed the orientation task, and here is the post I made on the google group
https://groups.google.com/forum/#!topic/teammates-contributors/x-CWroejzGQ

Can I be assigned to fix this issue ?

[2015-03-10 03:53] LowWeiLin commented on #2336
@tharakamd This issue has already been assigned. Please look for another issue.

[2015-03-10 04:47] julian1990 commented on #3037
Hi, HJ, Can you assign this issue to me?
Actually I complete the Phase A-D, and met this problem when I ran test suit.
@LowWeiLin has already told me solution:
'go to test.properties and change ALL the accounts by appending to the back of it e.g. alice.tmms -> alice.tmms.asd'
After doing this step, I have passed all test cases already.

[2015-03-10 05:06] NisalaNiroshana commented on #2868
Hi,
I am willing to work with this issue.
Thanks

[2015-03-10 07:01] ARSPRodrigo commented on #2774
@LowWeiLin
Hi,

Can you assign me this issue. Because I'm interested in UI part.

[2015-03-10 07:03] ARSPRodrigo commented on #2772
@damithc
Hi sir,

Can you assign me this issue. Because I'm interested in UI part.

[2015-03-10 08:52] suhas355 commented on #1151
Hi LowWeiLin.

   Please have a look into below link of my googlegroup chat

Thanks
Suhas

https://groups.google.com/forum/#!searchin/teammates-contributors/suhas/teammates-contributors/7JgP4uNWaYs/9HErkzM94PQJ

[2015-03-10 08:56] LowWeiLin commented on #1151
@suhas355 Please follow the contributor orientation guide here and complete phase A-D first:
https://docs.google.com/document/d/1cY9pmEmw4dC6Z4LjN1WUTsynJ0jVPgbWsFhdyBy_wCU/pub?embedded=true

You can also find instructions for gsoc applicants here:
https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true

[2015-03-10 09:00] suhas355 commented on #1151
Hi LowWeiLin.
    I have followed the above links and my Dev setup is ready and I have already deployed the same to google app engine . Could you please let me know if I am missing anything

Thanks
Suhas

[2015-03-10 09:04] LowWeiLin commented on #1151
Phase D: tinker with the code
Fork our repo at GitHub
Create a branch names ‘tinker’
In that branch, do a small change to the code that makes a visible change to TEAMMATES UI. Preferably, your change should improve the UI in some way, or at least not make it worse.
Deploy the changed version to your staging server.
Push your changes to your fork.
<b>Post in the teammates-contributors Google group

[2015-03-10 09:40] kanghj commented on #2929
@drunken-saint, since you have reached task 6 in the instructions for GSoC applicants, we no longer officially assign issues to you. You can continue to make pull requests for the issues. :) Try to look for harder issues from now on.

[2015-03-10 09:44] kanghj commented on #3037
Hi, you will have to accept the github invitation from @LowWeiLin first.

[2015-03-10 09:53] damithc opened #3074 "Instructor home page: show feedback start/end times in a timeline"
so that instructors can do a visual double-check of whether the start/open times were set correctly.

[2015-03-10 10:26] suhas355 commented on #1151
Hi LowWeiLin,

   As you suggested, finished all the steps. Could you please have a look.
https://groups.google.com/forum/#!searchin/teammates-contributors/suhas/teammates-contributors/7JgP4uNWaYs/9HErkzM94PQJ

Thanks
Suhas K S

[2015-03-10 10:40] suhas355 commented on #699
Hi Sir,

    I am a GSOC aspirant. I have finished A-D steps in Orientation program. Can I be assigned by this bug.

P.S - Google group Thread:  https://groups.google.com/forum/#!searchin/teammates-contributors/suhas/teammates-contributors/7JgP4uNWaYs/9HErkzM94PQJ

Thanks
Suhas K S

[2015-03-10 10:49] suhas355 commented on #2338
@LowWeiLin  Can I be assigned with this bug?
P.S - Google group Discussion URL: https://groups.google.com/forum/#!searchin/teammates-contributors/suhas/teammates-contributors/7JgP4uNWaYs/9HErkzM94PQJ

Thanks
Suhas

[2015-03-10 10:52] julian1990 commented on #3037
@kanghj Ah, I see. I'll try to contact @LowWeiLin in my teammates-contributors thread again.

[2015-03-10 10:54] LowWeiLin commented on #3037
@julian1990 The invitation has already been sent. Just waiting for you to accept.

[2015-03-10 11:21] julian1990 commented on #3037
@LowWeiLin Oops, I'm really sorry. I made a mistake. I have checked another e-mail address:-( ...
@kanghj SInce I've accepted the invitation, Can you assign this issue to me?

[2015-03-10 11:32] tharakamd commented on #1486
I've completed the orientation task, and here is the post I made on the google group
https://groups.google.com/forum/#!topic/teammates-contributors/x-CWroejzGQ

Can I be assigned to fix this issue ?

[2015-03-10 11:49] drunken-saint commented on #2929
OK . So , does this mean I shouldn't go for the issues with forContributors label , right ?
And , I am creating another issue for the unpublish confirmation dialog too .However, I won't be dealing with it as you asked me to try the harder ones, it might help a new contributor get familiar with the
code . Cheers :)

[2015-03-10 11:53] drunken-saint opened #3077 "instructor session unpublish confirmation dialog: evaluation --> session"
Since the instructor session publish confirmation dialogs' message has been changed to  evaluation --> session in the issue #2929, the messsage in the unpublish version should also be changed .

[2015-03-10 11:54] julian1990 commented on #3037
starting issue

[2015-03-10 12:57] supunharsha commented on #2854
starting the issue.

[2015-03-10 14:18] suhas355 commented on #2338
starting issue..

[2015-03-10 15:06] suhas355 commented on #2338
@LowWeiLin I followed the methods to fix a bug. And pushed it into forked repository with branch Issue2338 and have raised a pull request. Please let me know if any changes are required.

Thanks
Suhas

[2015-03-10 15:22] #2906 closed

[2015-03-10 15:25] tharakamd commented on #1486
I went to the session page of instructor, and just after the session type selection box, there's alredy a link to the session section of the help page. Then where do I have to place the link,
I've attached a screenshot of the page (the existing link is marked by a red square)
![capture](https://cloud.githubusercontent.com/assets/8156185/6577994/85f4909e-c767-11e4-889f-208b6368627b.PNG)

[2015-03-10 15:29] damithc commented on #1486
Looks like this was fixed at some point, possibly covered under a duplicate issue. Closing.

[2015-03-10 15:29] #1486 closed

[2015-03-10 15:34] tharakamd commented on #1486
You mean, I have to select another issue to fix

[2015-03-10 15:36] damithc commented on #1486
Yes, this one is fixed already.

[2015-03-10 16:05] tharakamd commented on #2391
Can I be assigned to fix this issue

I've completed the orientation task, and here is the post I made on the google group
https://groups.google.com/forum/#!topic/teammates-contributors/x-CWroejzGQ

[2015-03-10 18:18] drunken-saint opened #3083 "studentFeedbackSubmissionEdit : No form validation occurs on submit action"
A student can submit blank answers in their feedback submission . There is a requirement for a  validate function to be added to the javascript to check for that .

[2015-03-10 18:23] drunken-saint opened #3084 "studentCourseDetailsPage : the hyperlinks don't lead any profile"
studentCourseDetailsPage : the hyperlinks don't lead any profile . they just lead to a new blank browser window . If that feature hasn't been added yet , then we should use some other style/font for displaying the names of the students' teammates and also the instructor profile

[2015-03-10 18:33] kai33 commented on #3073
or we can update the test.template.properties to pass the test?
or explicitly mention the modification of default test accounts in settingUp.md?

[2015-03-10 19:12] ruchirsharma1993 commented on #2832
Okay sir.

[2015-03-10 23:57] kanghj commented on #3083
Can you provide more information about this? What do you mean by no form validation occurs?

[2015-03-11 00:00] vamshi-s commented on #3073
@damithc
In GodModeTest.java file,
the following lines of code fetches data from the properties file.

testAccounts += TestProperties.inst().TEST_ADMIN_ACCOUNT;

I think i can add one line of code, which checks whether the string is ending with ".example" or not. If its ending with it, i wont do anything. If not we will write a method to append ".example" to that string.
we need to repeat this pro

[2015-03-11 00:17] vamshi-s commented on #2785
@damithc  I am interested to look into this issue. Please can you provide me some more information.?

[2015-03-11 00:27] damithc commented on #2536
Happened again. Here are the browser data
POST /page/instructorFeedbackQuestionvisibilityMessage HTTP/1.1" 302 117 - "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/600.3.18 (KHTML, like Gecko) Version/8.0.3 Safari/600.3.18" "teammatesv4.appspot.com" ms=281 cpu_ms=108 cpm_usd=0.000667 app_engine_release=1.9.18

[2015-03-11 01:01] damithc commented on #3084
Could you post a screenshot of the link you clicked and the browser window?

[2015-03-11 03:01] damithc commented on #3073
@thyageshm what do you think?

[2015-03-11 03:23] LowWeiLin commented on #2785
This is related to the downloading of results in csv format. It seems that the student name is not sanitized, leading to a split in column when a student name contains a comma.

[2015-03-11 03:43] thyageshm commented on #3073
The whole idea of the test is to check if the presence of the accounts defined in the test.properties folder are being substitued in the web page. So adding a ".example" in the java file is not going to help. If anything, we should automatically add the '.example' in the test.properties file.

The reason why we dont want to have the default accounts is because they occur in the same accounts that

[2015-03-11 03:50] LowWeiLin commented on #3073
Can we just remove the test from All Tests? It only needs to be run when changes are made to GodMode, which is usually only done by @thyageshm
Removing it will also prevent failures that are sometimes caused by godmodeOutput.html

[2015-03-11 03:56] damithc commented on #3073
I'm OK for removing it from the regular test suites. If we do, may be add a comment in the GodMode code to mention where the test is and it is not included in the regular test suite.

[2015-03-11 03:57] thyageshm commented on #3073
I agree with that. We can simply remove it from the usual tests

On Wednesday, March 11, 2015, Damith C. Rajapakse <notifications@github.com>
wrote:

--
Regards,
Thyagesh Manikandan

[2015-03-11 06:17] suhas355 commented on #2832
Hello Sir,

   Can you please assign me this issue?

Thanks,
Suhas K S

[2015-03-11 06:47] tharakamd commented on #2391
I started working on the issue, can anyone tell me how to add a label to the  issue

[2015-03-11 10:59] ARSPRodrigo commented on #2391
Tharaka,

I think this issue is already fixed.

[2015-03-11 11:26] mikelimantara commented on #3073
starting issue

[2015-03-11 11:41] #2803 closed

[2015-03-11 11:52] #2338 closed

[2015-03-11 11:53] bamboo3250 commented on #1695
Hi,

I completed step A to D in the Orientation Task List. https://groups.google.com/forum/#!topic/teammates-contributors/_dZr7_gCXA4

Could you assign this issue to me? Thank you.

Regards,
Khanh

[2015-03-11 11:57] #2336 closed

[2015-03-11 12:02] bamboo3250 commented on #1695
The problem has already been solved. Please close it.

Regards,
Khanh

[2015-03-11 12:04] #2929 closed

[2015-03-11 12:07] rcyq commented on #1695
Ok thanks for informing.

[2015-03-11 12:09] drunken-saint commented on #3084
![Uploading Screenshot (78).png . . .]()

[2015-03-11 12:10] drunken-saint commented on #3084
![screenshot 78](https://cloud.githubusercontent.com/assets/7551036/6595970/9bea4aac-c815-11e4-862a-b2e5016090b8.png)

[2015-03-11 12:12] bamboo3250 commented on #2265
Hi,

I completed the Orientation Task List (from A to D). https://groups.google.com/forum/#!topic/teammates-contributors/_dZr7_gCXA4

Could you assign this issus to me?

Regards,
Khanh

[2015-03-11 12:35] mikelimantara commented on #2305
Hi, can I start on this issue?

[2015-03-11 12:49] LowWeiLin commented on #3084
The current action is a mailto to the student's email. It seems fine to me.
@damithc Should it be changed to point to the student's profile?

[2015-03-11 12:50] LowWeiLin commented on #3083
Blank answers are allowed.

[2015-03-11 12:50] #3083 closed

[2015-03-11 12:53] rcyq opened #3089 "Instructor: Add a courseId in the message shown in the confirmation dialog of 'delete student' button"
In instructorCourseDetails.js, the message in the confirmation dialog of 'delete student' button is with the format:

[code]
The message should be formatted in the same way as the confirmation dialog in the other js files (instructorSearch.js and instructorStudentList.js)

[code]

[2015-03-11 12:57] ymoctavia opened #3090 "auto-click "seach more" button if no log found after maximum amount of logs per request have been searched"

[2015-03-11 13:00] ryancyq opened #3091 "Instructor: search students: add a confirmation dialog for the "delete" button"
Currently, there isn't any test checking for the confirmation dialog of "delete" button.

[2015-03-11 13:43] tangzijian opened #3093 "Duplicated definitions of '#navbar li a' and '#navbar li a:hover' in teammates.css"
Can I be assigned to this issue for first time contributors?
Issue screen shot:
![screen shot 2015-03-11 at 9 40 58 pm](https://cloud.githubusercontent.com/assets/4153394/6597414/7ebf8c0e-c837-11e4-9927-2b7ac795082d.png)

[2015-03-11 13:53] tangzijian commented on #3093
Can I be assigned to fix this issue?

[2015-03-11 13:59] LowWeiLin commented on #3093
Hi, you need to accept the invitation to the contributor team.

[2015-03-11 14:03] yuqingw commented on #3089
Hi can I be assigned to fix this?

[2015-03-11 14:03] tangzijian commented on #3093
Hi, WeiLin,
Do I have the right to push to committer repo? Or push the fix to my own fork?

[2015-03-11 14:05] damithc commented on #3093
What change do you propose? The `text-decoration` attribute is not the same.

[2015-03-11 14:05] LowWeiLin commented on #3093
You need to work on your fork and pull request from there.

[2015-03-11 14:06] damithc commented on #3093
Ok, got what you meant.

[2015-03-11 14:46] LowWeiLin commented on #3089
@yuqingw Sent you an invitation to the contributors team.

[2015-03-11 14:47] damithc commented on #3084
OK for now. At the moment, students cannot view profiles of other students.

[2015-03-11 14:48] #3084 closed

[2015-03-11 15:02] #2283 closed

[2015-03-11 15:18] thyageshm commented on #2391
@ARSPRodrigo it has not been fixed yet. @tharakamd  please continue and fix the issue

[2015-03-11 15:22] yuqingw commented on #3089
@LowWeiLin Thanks! I've accepted the invitation

[2015-03-11 15:37] vamshi-s commented on #3074
@damithc
I need to modify this page ryt ?
Please read the Instructions dialog in the Image.
Please can you provide me some more information, if i interprrted the issue wrongly.

![feedback submission](https://cloud.githubusercontent.com/assets/11355301/6599918/716f2c30-c832-11e4-94fe-3ebb02237a49.png)

[2015-03-11 15:53] vamshi-s commented on #2874
@damithc  you meant to add the explanation about individually  sending invites to students to join course functionality usage in instructorHelp.html page
![sendinvite](https://cloud.githubusercontent.com/assets/11355301/6600291/c95bad2c-c834-11e4-9863-928b7439bc0d.png)
?

[2015-03-11 16:05] vamshi-s commented on #2874
@damithc  You meant Adding few questions & Adding Explanation about how to use this feature in instructorHelp.html page. ?
![mode](https://cloud.githubusercontent.com/assets/11355301/6600588/85ba3834-c836-11e4-933f-1a706d0c6198.png)

[2015-03-11 16:11] yuqingw commented on #3089
Starting issue

[2015-03-11 16:35] suhas355 commented on #2832
The Work has started.

According to what I analysed, we need to add <i> tag around the text in two jsp pages
1.instructorFeedbackResultsByGiverQuestionRecipient.jsp
2. instructorFeedbackResultsByGiverRecipientQuestion.jsp

And corresponding test
InstructorFeedbackResultsPageActionTest.java will be run to make sure nothing breaks.

Need to change from
There are no responses given by this user

to

[2015-03-11 17:12] arvind-kalyan commented on #3039
Like mentioned in the [report](https://docs.google.com/document/d/1A_QtW8uDFGeeu2KOiWwyuvgm7Jm9pS7nOvmy9B42v_I/pub?embedded=true#h.8jctrxwnk125) on NPEs, changing *assertNotNull* in **InstructorFeedbackEditSaveAction.java** to *assertPostParamNotNull* does the work. It now doesn't throw the error, but on logging in again, redirects to instructorHomePage. This works fine.

[2015-03-11 17:20] arvind-kalyan commented on #3091
Can I try this?

[2015-03-11 18:25] visithamanujaya commented on #2998
I like to work on this

[2015-03-11 18:28] visithamanujaya commented on #3002
i would like to try on this

[2015-03-11 18:28] visithamanujaya commented on #2973
i like to work on this

[2015-03-11 18:32] visithamanujaya commented on #2421
can i work on this

[2015-03-11 18:35] visithamanujaya commented on #2402
can i work on this

[2015-03-11 18:42] visithamanujaya commented on #2292
hi
can i try this
i have already completed the orientation task
here is my link for my status
https://groups.google.com/forum/m/#!topic/teammates-contributors/gcRNXx4ei98

[2015-03-11 18:43] visithamanujaya commented on #2296
hi
can i try this
i have already completed the orientation task
here is my link for my status
https://groups.google.com/forum/m/#!topic/teammates-contributors/gcRNXx4ei98

[2015-03-11 20:13] ARSPRodrigo commented on #2774
@LowWeiLin
Hi,

Can you assign me this issue. Because I'm interested in UI part.

[2015-03-11 20:18] ARSPRodrigo commented on #2772
@LowWeiLin <https://github.com/LowWeiLin> I Sent the pull request #3099

[2015-03-11 20:58] jarvis57 commented on #3073
Hi, I completed the orientation tasks A-D. Can I be assigned to this issue?

Btw, just for sure, are you talking about dev server? Because for staging server, "if the user accounts are the ones given in the test.properties is the same as the ones in the template", lots of test will fail include the godMode test.

[2015-03-11 21:07] ARSPRodrigo commented on #2098
@thyageshm
you mean like this?
![2098](https://cloud.githubusercontent.com/assets/9689446/6606835/9156b8aa-c860-11e4-8930-aa02931f899a.jpg)
can you assign me to this. :)

[2015-03-12 00:00] vamshi-s commented on #2764
@damithc  Can you assign this issue to me , I will convert the html file into markdown file.

[2015-03-12 01:23] drunken-saint commented on #3083
Ok. Didn't know about that .

[2015-03-12 01:51] kai33 commented on #2421
Hi, you'd better try those issues with label forFirstTimers first

[2015-03-12 03:35] LowWeiLin commented on #3073
@jarvis57 This one already has a pull request. Do look for another issue.

[2015-03-12 03:52] LowWeiLin commented on #2098
@ARSPRodrigo Since you have figured out what is to be done, you can take this issue. You can look for further issues and create pull-requests for them and they will be taken into account, but we may not be able to review them(or assign to you)  during this period. You can look for tougher issues do fix as well.

[2015-03-12 03:58] LowWeiLin opened #3100 "Add severe log in Action.java"
Place a log: log.severe("TEAMMATES accessed using old join link")
in branch where legacy REG key is being used.

Related to #3011, #3081

[2015-03-12 03:59] jarvis57 commented on #3100
hi, I completed the orientation tasks A-D. Can I be assigned to this issue?

[2015-03-12 04:01] #1695 closed

[2015-03-12 04:07] vamshi-s commented on #3100
@LowWeiLin Please can you assign this task to me. I already worked on the earlier issue #3011 , but it is been under review.

[2015-03-12 04:10] vamshi-s commented on #2847
@thyageshm  can i look into this issue ?

[2015-03-12 04:25] jarvis57 commented on #3100
starting issue.

[2015-03-12 04:43] ARSPRodrigo commented on #2098
OK Low

[2015-03-12 05:27] vamshi-s commented on #2847
@thyageshm Please can you look into these two Images .

Please suggest me ,for any further Modifications.

![afteraddingcourse](https://cloud.githubusercontent.com/assets/11355301/6612659/75644720-c8a6-11e4-9de4-dc5ca63f4a12.png)
![no_courses](https://cloud.githubusercontent.com/assets/11355301/6612660/756863aa-c8a6-11e4-8381-9c6b1f3e2446.png)

[2015-03-12 05:36] vamshi-s commented on #2847
@thyageshm

I have made modifications in  the InstructorCourses.Jsp Page,
Initialized a boolean variable to false.
If the courses are present, and if its the first course, it check for the boolean variable value, if its false, it adds the table headings, else skips that part.

Please find the attached screenshot , for more information
![code_modifi](https://cloud.githubusercontent.com/assets/11355

[2015-03-12 07:49] wkurniawan07 commented on #3077
can I give this a shot?

[2015-03-12 12:30] ruchirsharma1993 commented on #1426
Hello
Can i be assigned this issue ?
Thanks

[2015-03-12 12:34] kanghj commented on #3077
Yes, go ahead. I will send you the invitation, you have to accept it before I can assign you this issue.

[2015-03-12 12:42] kanghj commented on #1426
Hello @ruchirsharma1993, go ahead and work on it. From this point on, you can look for further issues and create pull-requests for them and they will be taken into account, but we may not be able to review them(or assign to you) during this period.

[2015-03-12 12:50] ruchirsharma1993 commented on #1426
Ok sir, Starting Issue.

[2015-03-12 13:47] #2391 closed

[2015-03-12 13:47] #3037 closed

[2015-03-12 13:47] #3039 closed

[2015-03-12 13:47] #3073 closed

[2015-03-12 13:47] #3093 closed

[2015-03-12 13:47] #3100 closed

[2015-03-12 13:55] #2902 closed

[2015-03-12 14:29] thyageshm commented on #2292
hi @visithamanujaya, is this going to be your first issue? if yes please choose one with the 'forFirstTimers' tag

[2015-03-12 15:00] thyageshm commented on #2847
Hi! I believe the prof's suggestion of having an empty table sounds more appealing. What do you think about keeping the empty table, and providing the "You have no active courses. To create a course use the form above." message inside the table? This way the user has an idea of what to expect when he does have active courses and at the same time gets enough information to start off.

Please also l

[2015-03-12 15:01] thyageshm commented on #2098
remember to fix all the tests!

[2015-03-12 15:04] sidjain270592 opened #3103 "Create linux script equivalent for runtests.bat: runtests.sh"

[2015-03-12 15:04] #3103 closed

[2015-03-12 15:23] atishay100495 opened #3104 "Write a linux script for runtests enabling users to run the tests from linux terminal"

[2015-03-12 15:24] atishay100495 commented on #3104
I've already finished working on the issue. Going to create a pull request.

[2015-03-12 15:50] atishay100495 commented on #3104
I've created a pull request for the issue. Please review and push the changes to master.
The steps to run the script are as follows:
1. Carry out all the steps mentioned in the wiki for settingUp.
2. Make sure your teammates server is running.
3. If the script is not already an executable, change its permission by : chmod +x runtests.sh
4. Run the command: ./runtests.sh Google_App_Engine_Path Team

[2015-03-12 15:54] visithamanujaya commented on #699
can i try this one as a first timer

[2015-03-12 15:56] atishay100495 opened #3106 "Discrepancy in line22 runtests.bat"
Current    : set tempcp=%tempcp%;%1\lib\shared\-api.jar
Expected :  set tempcp=%tempcp%;%1\lib\shared\el-api.jar

This has not been giving a problem as the jar is probably not being used by the tests.
To verify please visit the above path in appengine-java-sdk-1.9.4 directory.

[2015-03-12 16:17] atishay100495 commented on #3106
Created a pull request. Please review and push to master.

[2015-03-12 20:52] suhas355 opened #3108 "[Testing] After the Completion of Testcases browsers should be closed Automatically"
As Observed, In some testcases after completion successfully/unsuccessfully browser should be closed in order to reduce system load.

Using annotations for failure and success, data should be reverted back to stable state (if possible) and
driver.close() should be done

[2015-03-12 20:57] suhas355 opened #3109 "[Testing] Xpaths should be written in separate file using other reg ex instead of id."
1. In order to reduce redundancy, It would be easy to write All xpaths in a common csv
in ex:  SendEmailNotificationButton, //*[@id=\"frameBodyWrapper\"]/div[5]/div[1]/div/a

and use it in page action and hence Xpath layer will be isolated from the Pageaction(logic) layer

2. Since in Xpath Id might change it would be good if use class and relative pointers such as siblings instead of absolute pat

[2015-03-13 00:44] vamshi-s commented on #2847
I have made few modifications, please check these images out.

When the Instructor has no course's
![initial](https://cloud.githubusercontent.com/assets/11355301/6631176/e89cff38-c947-11e4-8174-1daa1b54d843.png)

After Adding a course
![afteraddingcourse](https://cloud.githubusercontent.com/assets/11355301/6631178/f192b394-c947-11e4-8566-deae5ee007ca.png)

when the instructor has already archived

[2015-03-13 03:01] damithc commented on #2847
Can we show the empty table even when there are no courses?

[2015-03-13 03:33] julian1990 commented on #2318
@LowWeiLin Can you assign this issue to me?
I'll find out ALL Barney Stinson(include barney.c.tmms@gmail.tmt) and rename him as Hugh Ivanov(include hugh.c.tmms@gmail.tmt).
I'll make sure of dev green before I commit my code.

[2015-03-13 04:13] damithc opened #3110 "Cannot click MCQ options when there are more than 10 team members"
There is a course with more than 10 team members. An MCQ question requires evaluating all team members. Options cannot be clicked for the 11th member onwards. Tried both Chrome and IE.
![image](https://cloud.githubusercontent.com/assets/1673303/6632950/4b76ce4a-c97a-11e4-89e2-9e0d528ce98b.png)

[2015-03-13 04:14] damithc commented on #3110
@LowWeiLin @kanghj could you look into this? It affects an ongoing session.

[2015-03-13 04:14] vamshi-s commented on #2847
@damithc

[2015-03-13 04:18] damithc commented on #2847
Yes, looks fine. :+1:

[2015-03-13 04:27] LowWeiLin commented on #3110
Related to #2958. Looking into it now.

[2015-03-13 04:51] damithc commented on #3110
Yes, that seems to be the cause. Rolled back to V5.37 for the time being.

[2015-03-13 04:58] damithc commented on #3110
If it is not easy to fix quickly, we can revert the offending commit.

[2015-03-13 04:59] LowWeiLin commented on #3110
I submitted a pull request that fixes it already.

[2015-03-13 05:33] #3110 closed

[2015-03-13 05:59] kanghj opened #3112 "feedbackSubmissionEdit.js: Check and change jQuery selectors using partial match to exact match"
For example, <code>var dropdown = $("[name^='responsetext-" + qnNum + "-" + k + "']");</code>

If we have an element responsetext-1-10', it will be matched by both 'responsetext-1-1' and 'responsetext-1-10'. This may cause unexpected effects when we bind a callback function to the selector, such as in #3110.

[2015-03-13 06:38] vamshi-s commented on #2847
@thyageshm  I have added an extra  check in this branch, when there are no active courses.
i.e data.courses.size()==0

if (logic.isNewInstructor(account.googleId) || data.courses.size()==0 ) {
            statusToUser.add(StatusMessages.HINT_FOR_NEW_INSTRUCTOR);
  }

please find the output of the screenshots.

![insthome](https://cloud.githubusercontent.com/assets/11355301/6634142/83eb6048-c979-11

[2015-03-13 06:42] zulrich91 commented on #3089
I want to work on this issue .

[2015-03-13 07:31] julian1990 commented on #2318
start issue

[2015-03-13 11:14] tharakamd commented on #2785
I've completed one issue already, can you assign me to solve this issue

[2015-03-13 12:11] thyageshm commented on #2847
Hey, please try to add a different condition cos, no active courses does
not mean the instructor is new. Try different messages for the two
categories.

--
Regards,
Thyagesh Manikandan

[2015-03-13 12:16] ARSPRodrigo commented on #2098
Sure.
On 12 Mar 2015 20:31, "Thyagesh M" <notifications@github.com> wrote:

[2015-03-13 14:32] kanghj commented on #699
This issue doesn't seem relevant anymore as the files have already been removed. Do you want to try #1743 instead?

[2015-03-13 14:32] #699 closed

[2015-03-13 14:38] kanghj commented on #3089
@zulrich91, this has already been assigned. Look for another issue.

[2015-03-13 15:05] vamshi-s commented on #2847
Added  code,
 if(logic.isNewInstructor(account.googleId)==false && data.courses.size()==0 )
        {
            statusToUser.add("You have no courses created. <a href='/page/instructorCoursesPage'>Please create a course. </a>");
        }
![0](https://cloud.githubusercontent.com/assets/11355301/6640906/68751b00-c9c0-11e4-8801-cbe622ce4891.png)

[2015-03-13 15:07] zulrich91 commented on #3089
Ok , thank you for replying emmediately .

[2015-03-13 15:09] zulrich91 commented on #3089
Meanwhile i already went ahead and solved the isssue already , just waiting
for approval.
But nevertheless i will look for an unassigned issue !!!

On Fri, Mar 13, 2015 at 3:38 PM, Kang Hong Jin <notifications@github.com>
wrote:

--
ulrich tchuenkam

[2015-03-13 15:09] vamshi-s commented on #2847
Added this branch in the instructorhomepageaction.java file

 if(logic.isNewInstructor(account.googleId)==false && data.courses.size()==0 )
        {
            statusToUser.add("You have no courses created. <a href='/page/instructorCoursesPage'>Please create a course. </a>");
        }

is this fyn now ? @thyageshm
![0](https://cloud.githubusercontent.com/assets/11355301/6640986/0c20c9d4-c9c1-11

[2015-03-13 15:57] damithc commented on #2847
This is better: You do not seem to have any courses. Click here to create a
course.

[2015-03-13 16:18] zulrich91 commented on #1499
Please i need some clarifications about this issue ?. I dont understand what one is suppose to do here .

[2015-03-13 16:39] wkurniawan07 commented on #3077
starting issue! sorry I just finally managed to find the time to work now ^_^

[2015-03-13 16:49] vamshi-s commented on #2847
Since there is an Add course Button on this Home Page, How about displaying this message , instead of earlier one.

![01](https://cloud.githubusercontent.com/assets/11355301/6642979/f308ba5c-c9ce-11e4-8558-c954a26812ce.png)

[2015-03-13 18:18] zulrich91 commented on #1743
Please can i work on this issue ?

[2015-03-13 18:54] wkurniawan07 commented on #3077
fixed it. the tweak is rather simple though, just modifying one word in \src\main\webapp\js\instructor.js.

Screenshot of change:
![changess](https://cloud.githubusercontent.com/assets/7261051/6645136/e1dfb7be-c9f4-11e4-9750-b7b0b2063126.png)

Dev green also reached:
![devgreen](https://cloud.githubusercontent.com/assets/7261051/6645142/f32364f8-c9f4-11e4-93b4-e7f733838fbd.png)

And here's the pul

[2015-03-14 01:01] damithc commented on #2847
... click on the 'Add New Course' button to ...

[2015-03-14 01:17] kanghj commented on #1743
Hi @zulrich91, I am having some trouble locating your post in the google groups for the completion of the orientation tasks. Can you post the link to it here?

[2015-03-14 01:36] vamshi-s commented on #2847
![0001](https://cloud.githubusercontent.com/assets/11355301/6649735/8422151c-ca18-11e4-8ca7-4854762b6e8b.png)

if this looks fine, shall i proceed with pull request ?

[2015-03-14 02:09] vamshi-s opened #3115 "Instructor Unable to comment on all students in a given course."
@damithc
Please Check this image for Error Message.

![error1](https://cloud.githubusercontent.com/assets/11355301/6649872/2a4805ec-ca1d-11e4-811a-5475ceff1466.png)
![error2](https://cloud.githubusercontent.com/assets/11355301/6649871/2a46e23e-ca1d-11e4-9046-755d36d13c76.png)

[2015-03-14 02:20] LowWeiLin commented on #2347
Closing as godmodeTest is removed from allTests.

[2015-03-14 02:20] #2347 closed

[2015-03-14 02:30] kanghj opened #3116 "process.md: Remove remote myfork from Step 3 of fixing issues"
As the repository is cloned from the contributor's fork, the default remote _origin_ is already the contributor's forked repository. There is no need for the contributor to add his/her own fork as another remote _myfork_.

[2015-03-14 02:36] LowWeiLin commented on #2059
#frameBodyWrapper is still used in some javascript code. We need to check if they are working properly.

[2015-03-14 02:50] LowWeiLin opened #3117 "InstructorHomePage: remind all confirmation, change evaluations to feedback"
Send e-mails to remind students who have not submitted their evaluations for ...

Change to "evaluations" to "feedback".

[2015-03-14 02:52] LowWeiLin commented on #3117
Similar to #3077

[2015-03-14 02:55] LowWeiLin opened #3118 "InstructorHomePage: change delete course confirmation message"
Are you sure you want to delete the course: .... ?
This operation will delete all students<b>, feedback sessions</b> and evaluations in this course.
All instructors of this course will not be able to access it hereafter as well.

[2015-03-14 03:01] LowWeiLin commented on #3115
@kai33

[2015-03-14 03:03] damithc commented on #3118
'feedback sessions and evaluations'  can be shortened to 'sessions'

[2015-03-14 03:23] taniach commented on #2432
![add_comment_preview](https://cloud.githubusercontent.com/assets/7547452/6650111/4988fb36-ca3c-11e4-9e3c-808d2da1681b.jpg)

Is this ok?

[2015-03-14 03:28] damithc commented on #2432
It is fine, but I need this more when giving comments for feedback
responses.

[2015-03-14 03:41] taniach commented on #2432
Ok, I will add it there too.

[2015-03-14 04:59] thyageshm commented on #2847
remember to fix the tests AND add new tests to cover the new branches that you have added. Both in the Actions Test and the Browser Ui Tests

[2015-03-14 06:15] taniach commented on #2432
![add_comment_preview2](https://cloud.githubusercontent.com/assets/7547452/6650570/4d859a2e-ca54-11e4-8f5e-449b91111840.jpg)

I have added the giver and recipient names for feedback response comments. Is this ok?

[2015-03-14 06:27] damithc commented on #2432
Looks fine to me Tania.

[2015-03-14 07:49] Chinmay1412 commented on #3118
I want to work on this issue and want to know how to proceed.

[2015-03-14 08:03] kai33 commented on #3115
Thank u for submitting this issue, it's really helpful & useful for us : )

[2015-03-14 10:08] Chandrakant4993 commented on #2998
Can I Solve This issue

[2015-03-14 10:20] damithc commented on #2998
Not a priority for us at the moment. Moving to zero priority. We'll not do this until the priority is raised again.

[2015-03-14 10:39] Siddhant085 commented on #2890
Can I be assigned this issue?

[2015-03-14 10:43] damithc opened #3120 "StudentHomePageUiTest fails on staging server"
Fails at line `74         loginWithPersistenceProblem();` with "not a valid login page" error. Tried many times.

[2015-03-14 13:14] zulrich91 commented on #1743
Here are the links to the post and the other links that appear in the post.

https://groups.google.com/forum/?hl=en#!topic/teammates-contributors/Rc3LZ0h6KKc
http://4-18-dot-teammates-ulrich.appspot.com/
https://github.com/zulrich91/repo/tree/tinker
https://github.com/zulrich91/repo/

[2015-03-14 14:13] thyageshm commented on #3120
sir this test is passing on my devserver, with latest master

[2015-03-14 14:28] damithc commented on #3120
It passes on my devserver as well, but fails on staging server.

[2015-03-14 16:04] kanghj commented on #3118
@Chinmay1412, I have sent you the invitation to join as a contributor, you need to accept it first before I can assign you this issue.

[2015-03-14 16:19] zulrich91 commented on #1743
Invitation Accepted !!! Working now on the issue.

[2015-03-14 17:19] #3104 closed

[2015-03-14 17:19] kai33 commented on #3104
Thank u for your contribution, it's really useful! : )

[2015-03-14 18:35] vamshi-s commented on #2847
@thyageshm  :+1:

[2015-03-14 18:43] vamshi-s commented on #3115
@LowWeiLin @kai33  I was interested to work  on this issue. But its done :)

[2015-03-14 20:03] atishay100495 commented on #3108
I've added the close browser functionality for the ui browser tests in my branch Issue3108. I've created a pull request for the same. Please review and push the changes if they look good.

[2015-03-14 21:42] karan173 commented on #2679
@damithc Do you mean the studentCommentsPage? Aren't the comments in it already sorted most recent on top.

[2015-03-15 01:05] damithc commented on #2679
I meant the page where students view comments. Is it sorted already?

[2015-03-15 03:54] supunharsha commented on #3118
Hi
Can i start working on this issue?

[2015-03-15 04:13] atishay100495 opened #3123 "Simplify the classpath and update runtests.sh"
Instead of hardcoding all the jar files in the classpath, use wildchars to include the jars in a folder. This will reduce hard to debug errors due to typos in hardcoded jar file names.
Running the failed tests 5 times can be put in a loop that is run 5 times, instead of writing the same line 5 times.

[2015-03-15 04:14] atishay100495 commented on #3123
I have already finished working on the issue and going to create a pull request.

[2015-03-15 04:19] atishay100495 commented on #3123
I've created a pull request for the issue. Please review and push to master.

[2015-03-15 04:34] LowWeiLin commented on #3118
@supunharsha Look for harder issues. Each person should only do one issue labeled forFirstTImers

[2015-03-15 04:40] LowWeiLin commented on #3108
As mentioned in #3122

"Starting a browser takes a long time. That's one reason why we reuse the browser. Furthermore, we may want to see the browser content in case the test case failed. That's why we don't want to close the browser after the test. One can edit the BrowserPool.java if one wants to use a fewer number of Browsers."

[2015-03-15 04:40] #3108 closed

[2015-03-15 04:40] atishay100495 opened #3125 "Simplify the classpath and update runtests.bat"
Instead of hardcoding all the jar files in the classpath, use wildchars to include the jars in a folder. This will reduce hard to debug errors due to typos in hardcoded jar file names.
Running the failed tests 5 times can be put in a loop that is run 5 times, instead of writing the same line 5 times.

[2015-03-15 04:42] supunharsha commented on #3112
Hi,
Can i start working on this issue?

[2015-03-15 04:47] atishay100495 commented on #3125
I've created a pull request for the changes. Please review and push to master.

[2015-03-15 05:10] atishay100495 commented on #3106
Created another pull request that makes the script independent of hardcoded values of jar file names.
Closing this issue.

[2015-03-15 05:10] #3106 closed

[2015-03-15 07:59] saav commented on #3117
Can I take up this issue ?

[2015-03-15 11:31] visithamanujaya commented on #3116
i can do this

[2015-03-15 12:05] karan173 commented on #2679
Yeah the comments are already sorted.  java.util.Collections.sort(comments); is called in getCommentsForStudent() function in CommentsLogic.java which sorts the comments.

[2015-03-15 12:47] kanghj commented on #3116
@visithamanujaya, I have already sent you the invitation to join us as a contributor, you need to accept it before I can assign this to you on github.

[2015-03-15 12:57] kanghj opened #3131 "settingUp.md: Improve the instructions for getting join link for student login"
New contributors might get confused and think that they are supposed to search for the student from the instructor's search page. The instructions should make it clear that they should use the admin's search page. Also mention that instead of clicking on the student's name, which goes to  instructorStudentRecordsPage, they should click on the row to display a panel that contains the join link.

[2015-03-15 13:10] Chinmay1412 commented on #3118
@kanghj, I cannot see any invitation. I did not get any notification.

[2015-03-15 13:14] kanghj commented on #3118
Looks like you have accepted the invitation already

[2015-03-15 13:15] Chinmay1412 commented on #3118
@kanghj, Actually I was searching on github then after found a link of invitation in gmail.

[2015-03-15 13:30] karan173 commented on #2547
I have found the bug. Can i be assigned this issue?

[2015-03-15 13:36] damithc commented on #2679
They don't appear to be sorted. I'm referring to the 'comments' tab of a
student. In particular, comments given for sessions are groped by session
(which is fine) but the sessions don't appear to be sorted in any order.

[2015-03-15 14:44] zulrich91 commented on #1743
Just solved issue #1743

[2015-03-15 15:20] karan173 commented on #2679
Yeah. I checked the code again. Can you confirm if my understanding is correct?
So for each course, first there is a "Comments for students" section. The comments in this section are sorted.
Next comments for each Feedback Session are displayed one by one. Within each Feedback Session, there can be multiple Questions. Each question can further have multiple associated comments.
So for each course,

[2015-03-15 15:45] damithc commented on #2679
I would like the latest comments to be at the top of the page (to reduce
the need for scrolling).
May be this order?
Comments for students, ordered in reverse chronological order of comment
creation time
Comments for sessions, ordered in reverse chronological order of the
sessions

[2015-03-15 16:05] damithc commented on #1287
This needs fixing. I'm not sure if the old comments are still relevant but the problem is still there. If students don't have anything to answer, they cannot see the results, and they don't get the 'published' emails.

[2015-03-15 16:21] zulrich91 commented on #3131
I don't understand what the solution to the issue should be . Please which file is concerned with this issue ?

[2015-03-15 20:15] karan173 commented on #2679
Thanks for your clarifications @damithc. Please assign this issue to me.

[2015-03-16 04:29] shiluka commented on #1146
Hi,
I would like to work on this issue

[2015-03-16 04:38] kanghj opened #3134 "Statistics for Constant Sum question are rounded off in the csv file"
In the html version of the statistics, the averages computed are in 2 decimal place. In the csv version, a rounded-down version is displayed. (e.g. 2.75 is displayed as 2 in the csv statistics)

[2015-03-16 05:27] LowWeiLin opened #3135 "Add severe log in Action.java for legacy regkey"
As per title, continued from #3101.

[2015-03-16 09:50] LowWeiLin commented on #3117
@saav Sent you an invite. Will assign you after you accept.

[2015-03-16 10:39] jp111 commented on #3131
@kanghj Please assign this task to me.

[2015-03-16 11:07] kanghj commented on #3131
@jp111, I have sent you the invitation to join TEAMMATES as a contributor, you should be able to find it in your email inbox.

[2015-03-16 11:08] jp111 commented on #3131
I am now a contributor to the project. Can I now send a pull request referring to this issue?

[2015-03-16 11:09] kanghj commented on #1146
I have sent you an invite to join TEAMMATES an a contributor. I will assign this issue to you after you have accepted it.

[2015-03-16 11:10] kanghj commented on #3131
Yes, you can do so now.

[2015-03-16 11:11] kanghj commented on #1743
Hi @zulrich91, have you made a pull request for this issue?

[2015-03-16 11:13] kanghj commented on #2547
@karan173, you can go ahead and make a pull request for it. As you have already completed most of the tasks in the instructions for GSoC applicants, we no longer promise to review your work.

[2015-03-16 11:18] shiluka commented on #1146
@kanghj ,
Thanks for the invitation. I accepted it.

[2015-03-16 11:43] karan173 commented on #2547
@kanghj Thanks for clarifying. Will do so!

[2015-03-16 11:44] LowWeiLin opened #3139 "Remove code duplication in feedbackQuestionSubmissionEdit.jsp"
Related to #3127

We should see if we can remove feedbackQuestionSubmissionEdit.jsp totally, and use  feedbackSubmissionEdit.jsp, instead of having duplicated code.

[2015-03-16 12:30] zulrich91 commented on #1743
Hi Kang,
Please why should i make a pull request ? I don' t understand .

On Mon, Mar 16, 2015 at 12:11 PM, Kang Hong Jin <notifications@github.com>
wrote:

--
ulrich tchuenkam

[2015-03-16 12:46] tangzijian commented on #2659
Dr.Damithc,
Can I be assigned to this issue?

[2015-03-16 14:27] shiluka commented on #1146
starting issue

[2015-03-16 15:23] damithc opened #3144 "admin search: open the student record as co-owner"
When we click on the student name in search results, it opens the student record page. Currently, the page is opened under a randomly picked instructor account. It is better to open it under an instructor with co-owner privileges.

[2015-03-16 15:31] #3115 closed

[2015-03-16 15:53] franklingu opened #3145 "beautifying the instructorCourseEdit page customizing sections part"
currently it is just a groups a checkboxes, but it does not look good.
a suggested solution is [multiselect](http://davidstutz.github.io/bootstrap-multiselect/)
another one that looks really good [chosen](http://harvesthq.github.io/chosen/)

[2015-03-16 18:23] saav commented on #3117
@LowWeiLin Accepted the invitation !!

[2015-03-16 19:32] weaveranoop commented on #1151
Hi LowWeiLin,
I have completed the orientation tasks. I am now looking for fixing some issues and contributing to Teammates. Could you please assign me to this issue?

Regards,
Anoop Shukla

[2015-03-17 01:30] #3053 closed

[2015-03-17 01:36] kanghj opened #3147 "Display constant sum statistics sorted by recipient name or option"
For both the statistics on the website and in the csv file downloadable by instructors, the statistics table can be displayed in a sorted order

Edit (18 December 2016):
Screenshot (of the table to change sorting for ):
![constantsumstats](https://cloud.githubusercontent.com/assets/2216119/21293745/fbe2f0fc-c567-11e6-9e20-d731782fb221.PNG)

[2015-03-17 07:16] weaveranoop commented on #3131
Hi Kanghj,
I have completed the orientation tasks. I am now looking for fixing some issues and contributing to Teammates. Could you please assign me to this issue?

Regards,
Anoop Shukla

[2015-03-17 07:51] weaveranoop commented on #3131
Hi kanghj,
I have completed the orientation tasks. I was looking for fixing some issues and contributing to Teammates. I have tried to contribute to this issue by improving the instructions. You can review that at the following link under the head 'Setting up the dev server' :
https://github.com/weaveranoop/repo/blob/tinker/devdocs/settingUp.md

[2015-03-17 07:51] weaveranoop commented on #3131
Hi kanghj,
I have completed the orientation tasks. I was looking for fixing some issues and contributing to Teammates. I have tried to contribute to this issue by improving the instructions. You can review that at the following link under the head 'Setting up the dev server' :
https://github.com/weaveranoop/repo/blob/tinker/devdocs/settingUp.md
Regards,
Anoop

[2015-03-17 08:42] github-tn commented on #2589
Can I try this?

[2015-03-17 13:48] EgbeEugene commented on #738
please i need more information on this issue
                  thanks.

[2015-03-17 13:57] EgbeEugene commented on #2265
please can i work on this issue?

[2015-03-17 14:08] EgbeEugene commented on #3116
Please can i work on this ?

[2015-03-17 14:49] ymoctavia opened #3149 "Add Admin Email Log Page"

[2015-03-17 15:09] weaveranoop commented on #1151
Hi LowWeiLin,
I have completed the orientation tasks. I am now looking for fixing some issues and contributing to Teammates. I have already fixed this issue. Could you please assign me to this issue?

Regards,
Anoop Shukla

[2015-03-17 15:11] weaveranoop commented on #3131
Hi kanghj,
I have completed the orientation tasks. I was looking for fixing some issues and contributing to Teammates. I have tried to contribute to this issue by improving the instructions. You can review that at the following link under the head 'Setting up the dev server' :
https://github.com/weaveranoop/repo/blob/tinker/devdocs/settingUp.md
Regards,
Anoop

[2015-03-17 15:24] kanghj commented on #3131
@weaveranoop, you need choose an issue which hasn't been assigned yet. Use this: https://github.com/TEAMMATES/repo/issues?q=is%3Aopen+is%3Aissue+label%3AforFirstTimers+no%3Aassignee

[2015-03-17 15:26] EgbeEugene commented on #1554
please are u referring to this in studentEvalResults.jsp ?

 The actual calculation is a bit complex and the finer details can be found
        <a href="/dev/spec.html#supplementaryrequirements-pointcalculationscheme">here</a>.

[2015-03-17 15:28] kanghj commented on #3116
I will assign this to @visithamanujaya since he requested for this first. @EgbeEugene, sorry, you need to look for another issue.

[2015-03-17 15:35] kanghj commented on #2265
@EgbeEugene, you need to look for another unassigned issue. Use https://github.com/TEAMMATES/repo/issues?q=is%3Aopen+label%3AforFirstTimers+no%3Aassignee

[2015-03-17 15:35] EgbeEugene commented on #1554
i meant   The actual calculation is a bit complex and the finer details can be found
        <a href="/dev/spec.html#supplementaryrequirements-pointcalculationscheme">here</a>.

[2015-03-17 16:10] wkurniawan07 commented on #3026
I'd like to be assigned for this. I can define a new set of CSS classes (say, panel-no-response, panel-no-response>panel-heading, ...) and equip them to the panels in question.

[2015-03-17 17:59] wkurniawan07 opened #3150 "InstructorFeedbackResults, table to be copied to excel: can be beautified"
I am referring to this:
![emptyspace3](https://cloud.githubusercontent.com/assets/7261051/6693967/d37fd814-cd11-11e4-8c39-2e2ff4d9c15e.jpg)

While beautifying on the modal window is not that important, when copied to excel, the table will look exactly the same.
Example on how it looked not so good:
![emptyspace1](https://cloud.githubusercontent.com/assets/7261051/6694020/368ea372-cd12-11e4-83f1-30

[2015-03-17 18:29] saav commented on #3117
starting issue

[2015-03-17 19:15] weaveranoop commented on #738
Hi Damith,
Is this the document to be shifted
https://github.com/weaveranoop/repo/blob/master/src/main/webapp/dev/htmlstyleguide.html
Can you please assign me this issue and help me proceed with the same.
Thanks,
Anoop

[2015-03-17 19:27] MrFool commented on #738
Do assign me this issue as my first issue.

Introduction can be found at -

https://groups.google.com/forum/#!topic/teammates-contributors/7lYDEGG6R24

[2015-03-18 03:27] damithc opened #3152 "The warning says 'view by section', although there are no sections in the course"
This can happen when the course is small but the session has lot of questions and lot of responses.

[2015-03-18 03:47] damithc commented on #3152
Actually, it's just the status message that is slightly incorrect. The functionality is not broken. Lowering the priority.

[2015-03-18 05:28] damithc commented on #3150
This page is not meant for viewing. It is just for copy pasting into a spreadsheet. So the look and feel is not that important. Still, no harm if it can be done without much effort or risk of regressions.

[2015-03-18 05:40] wkurniawan07 commented on #3150
The problem is not so much on the page itself. The last two screenshots up there are taken from the table *after* being copied to the excel, which really is the reason why I am bringing this up.
Nevertheless, since this is already accepted, I'd like to work on it.

[2015-03-18 05:43] damithc commented on #1554
The problematic phrase is actually in instructorHelp.html#faq7a
The link should point to https://docs.google.com/document/d/1hjQQHYM3YId0EUSrGnJWG5AeFpDD_G7xg_d--7jg3vU/pub?embedded=true#h.n5u2xs6z9y0g

[2015-03-18 05:44] damithc commented on #1554
That makes the fix much easier. I'm allocating this for first timers.

[2015-03-18 05:54] damithc commented on #3150
OK, have a go at it then. :-)

[2015-03-18 08:04] NisalaNiroshana commented on #3152
Hi,
I am willing to fix this issue.Can you assign it to me and give me a description about the implementation of it ??
Thanks,
Nisala

[2015-03-18 08:55] LowWeiLin commented on #1151
@weaveranoop This issue is already assigned. Please look for another one.

[2015-03-18 09:45] tangzijian opened #3154 "PageData: Wrong method documentation for "getInstructorFeedbackSessionActions:""
![screen shot 2015-03-18 at 5 43 09 pm](https://cloud.githubusercontent.com/assets/4153394/6706214/7b76b04a-cd96-11e4-9c9a-7d211a695552.png)

[2015-03-18 10:15] BillyZafack commented on #1499
I like to have this as my 1st issue. But I will need more precisions on the problem

[2015-03-18 10:55] zulrich91 commented on #1743
Restarting issue .

[2015-03-18 11:12] franklingu commented on #2923
this is fixed in prev commits right?

[2015-03-18 11:26] LowWeiLin commented on #1151
@weaveranoop please pick an unassigned issue

[2015-03-18 11:32] kanghj commented on #1554
@EgbeEugene, would you like to do this issue?

[2015-03-18 11:34] bamboo3250 commented on #2774
Hi,

Can you assign this issue to me?
Thank,

Khanh

[2015-03-18 11:58] kanghj commented on #738
@weaveranoop, I will assign you this issue after you have accepted the invitation to join TEAMMATES as a contributor.

[2015-03-18 11:59] weaveranoop commented on #1151
Hi Low WeiLin,
I had commented on one of the issues that I was notified as unassigned.
Please look:
https://github.com/TEAMMATES/repo/issues/738

Can I please proceed with this?
Thanks.

Anoop Shukla
Phone:(+91)9660894920
LinkedIn <http://www.linkedin.com/pub/anoop-shukla/4a/6a4/109>

*Birla Institute of Technology & Science,* Pilani

On Wed, Mar 18, 2015 at 4:56 PM, Low WeiLin <notifications@gith

[2015-03-18 12:05] weaveranoop commented on #738
Hi kanghj,
I have accepted the invitation. Please do the needful and clarify the doubt in my previous comment.
Thanks,
Anoop

[2015-03-18 12:09] kanghj commented on #738
Yes, @weaveranoop that looks like the document to be shifted.

[2015-03-18 12:12] MrFool commented on #1498
Do assign me this issue as my first issue if it's still open.

Introduction can be found at -

https://groups.google.com/forum/#!topic/teammates-contributors/7lYDEGG6R24

[2015-03-18 12:14] kanghj commented on #3152
@NisalaNiroshana, you have completed a few issues already and you are at step 6 of the [instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true), so from this point on, you can just submit pull requests although we no longer promise to review or merge your changes.

[2015-03-18 12:45] #2832 closed

[2015-03-18 12:45] #3077 closed

[2015-03-18 12:45] #3135 closed

[2015-03-18 13:53] NisalaNiroshana commented on #3152
@kanghj , Thanks for the information. I am really interested in your project and willing to work with you in the future. Since I am very much like to contribute to open-source projects , I like to contribute to your project further more.So If you do not mind , Please provide me with little description about this issue. I am willing to fix it. Then you can review it and merge it ,If my implementati

[2015-03-18 14:22] EgbeEugene commented on #1554
yes i will be grateful if i am upportuned

[2015-03-18 14:43] damithc opened #3158 "Null Pointer Exception in FeedbackSubmissionEditSaveAction"
java.lang.AssertionError: null
	at teammates.common.util.Assumption.fail(Assumption.java:58)
	at teammates.common.util.Assumption.fail(Assumption.java:65)
	at teammates.logic.core.FeedbackResponsesLogic.createFeedbackResponse(FeedbackResponsesLogic.java:52)
	at teammates.logic.api.Logic.createFeedbackResponse(Logic.java:2506)
	at teammates.ui.controller.FeedbackSubmissionEditSaveAction.saveRespons

[2015-03-18 21:15] ARSPRodrigo commented on #2238
This happens because of the media queries (@ media (min-width:768px)) used in css (bootstrap.min) styling. It relates to the responsiveness of the project.

[2015-03-18 21:30] wkurniawan07 commented on #3150
Submitted pull request: #3163
The changes made are illustrated there.
Looking forward to the review/merge! :D

[2015-03-18 22:02] wkurniawan07 opened #3164 "Numerical scale question bug"
When the increment scale is in 2 decimal places, or more...

![numericalbug1](https://cloud.githubusercontent.com/assets/7261051/6720327/f7653c9c-cdfc-11e4-9667-5732d3752a7b.png)

Upon saving, will become:

![numericalbug2](https://cloud.githubusercontent.com/assets/7261051/6720328/fd96f15a-cdfc-11e4-8c19-40c4af2ab326.png)

What's worse is when a student tries to complete it...

![numericalbug3](h

[2015-03-19 01:57] yeohjo opened #3165 "Feedback: Include auto-save function (similar to Google docs)"

[2015-03-19 05:19] weaveranoop opened #3166 "Update the link to HTML style guide"
This is the outdated link to the HTML guide :
https://github.com/TEAMMATES/repo/blob/master/src/main/webapp/dev/htmlstyleguide.html

It needs updating in README.md and any other document where this link is given.

[2015-03-19 05:22] weaveranoop commented on #738
Hi Damith and kanghj,
I have resolved all the comments in the doc and opened a new issue(#3166) as required. Please have a look.
Thanks.

[2015-03-19 14:15] tangzijian opened #3173 "Update about.html to include me as "multiple contributor""

[2015-03-19 14:16] LowWeiLin commented on #3173
@tangzijian No need to create an issue for this. Just commit to master and pull request from there.

[2015-03-19 14:16] #3173 closed

[2015-03-19 15:01] #3050 closed

[2015-03-19 15:01] #2265 closed

[2015-03-19 15:01] #2854 closed

[2015-03-19 15:08] kanghj commented on #3152
@NisalaNiroshana, this issue is about the error message "This session seems to have a large number of responses. It is recommended to view the results one section at at time" appearing when there are no sections in the course.

[2015-03-19 23:58] damithc commented on #3158
Happened again.

[2015-03-20 01:01] damithc commented on #3166
The link should be updated to https://docs.google.com/document/d/12PJYbQoqjK-0LzaUuguQ4kGE--eikCcHfwzZDGwFOJ0/pub?embedded=true

[2015-03-20 03:03] LowWeiLin commented on #3158
This does not seem to be a null pointer exception.
![image](https://cloud.githubusercontent.com/assets/3910365/6745307/5daeb75a-cef0-11e4-85c8-9809472d62cf.png)

It seems to be related to eventual consistency, as EntityAlreadyEsistsException and EntityDoesNotExistException are both thrown, and Assumption.fail() on line 52 is called.

[2015-03-20 03:30] damithc commented on #3158
Uh oh. This is going to be tricky. We need a solution though.

[2015-03-20 06:30] damithc opened #3175 "Null course ID in InstructorFeedbackEditCopyAction"
Happened twice to the same user within a few minutes.
java.lang.AssertionError: null course id
	at teammates.common.util.Assumption.fail(Assumption.java:58)
	at teammates.common.util.Assumption.assertTrue(Assumption.java:27)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:254)
	at teammates.ui.controller.InstructorFeedbackEditCopyAction.execute(InstructorFeedbackEditCopyAction.j

[2015-03-20 07:27] bamboo3250 commented on #2616
Could you tell me how to generate this bug? Because it still appears when I add <div> to the team name like this:

![screenshot_4](https://cloud.githubusercontent.com/assets/8078323/6747521/ea7ca930-cf1d-11e4-8dcb-d1420c7649b1.png)

[2015-03-20 07:43] #3044 closed

[2015-03-20 07:49] #3090 closed

[2015-03-20 08:29] #3149 closed

[2015-03-20 15:52] kanghj commented on #2616
You need to use another response giver to give the response to the team. You are able to see the response in the screenshot you posted because the student was the author of the response, but you will not be able to view responses written to the team by other students

Notice in this screenshot of the instructor's view, there are 2 responses written to Team 1.
![instructorviewofresults](https://clo

[2015-03-20 16:16] damithc commented on #1498
@MrFool you are no longer required to get issues assigned. You can go ahead and submit pull requests.

[2015-03-20 16:53] wkurniawan07 commented on #3026
Submitted pull request: #3176
The changes made are illustrated there.
Looking forward to the review/merge! :D

[2015-03-20 17:09] #1146 closed

[2015-03-20 17:09] #3089 closed

[2015-03-20 17:09] #3131 closed

[2015-03-20 17:09] #3134 closed

[2015-03-20 18:43] wkurniawan07 commented on #3164
Submitted pull request: #3177
The changes made are illustrated there.
Looking forward to the review/merge! :D

[2015-03-21 02:08] bamboo3250 commented on #2616
I got the problem. The reason is that characters "<" and ">" are sanitized into "&lt;" and "&gt;" in the file FeedbackResponsesDb.java.

for example, the name of the team is "Team 1 <div>" then it will be "Team 1 &lt;div&gt;"
![screenshot_6](https://cloud.githubusercontent.com/assets/8078323/6762607/17a2f3ae-cfa7-11e4-8bd8-4e5a89d2e8d2.png)

When I assigned the variable "receiver" back to "Team 1

[2015-03-21 02:27] EgbeEugene commented on #3175
please sir i don't understand the task involved i need more details
                                                                                                          thanks.

[2015-03-21 02:38] damithc commented on #3175
@EgbeEugene try to pick an issue you think you understand. :-)

[2015-03-21 03:37] #1151 closed

[2015-03-21 03:37] #3117 closed

[2015-03-21 03:52] #2774 closed

[2015-03-21 04:00] wkurniawan07 opened #3181 "InstructorFeedbackResults, RQG/RGQ view: no response texts are not italicized"
As seen below, the text for "There are no responses ..." are italicized:
(GRQ/GQR view)
![3176_1](https://cloud.githubusercontent.com/assets/7261051/6763654/77e351f4-cfc1-11e4-817d-947b68a0c434.png)
(Question view)
![3176_2](https://cloud.githubusercontent.com/assets/7261051/6763655/7a3b21a2-cfc1-11e4-8db8-b37e011ca197.png)
However the convention doesn't seem to be followed in RQG/RGQ view...
![31

[2015-03-21 04:01] wkurniawan07 commented on #3181
(btw, this should be for first timers)

[2015-03-21 04:04] LowWeiLin commented on #3181
This involves updating the tests, firstTimer issues usually don't involve updating tests.

[2015-03-21 04:13] wkurniawan07 commented on #3181
ah, I see. true enough, it involves updating the tests :p

[2015-03-21 16:33] bamboo3250 opened #3183 "In Student.java, the description of courseID is not correct"
![screenshot_8](https://cloud.githubusercontent.com/assets/8078323/6765832/4f749486-d033-11e4-949c-e548ed70647c.png)

[2015-03-21 17:35] wkurniawan07 opened #3184 "# in session name gives problems"
So I tried making one session like this:
![3200_1](https://cloud.githubusercontent.com/assets/7261051/6766080/202a3906-d033-11e4-8dc7-566de12d2cb0.png)
Other settings (time, questions) are standard.
Then I went to the "comments" section on the navbar. Upon clicking this:
![3200_2](https://cloud.githubusercontent.com/assets/7261051/6766085/53c24088-d033-11e4-9752-9e31cc8bbd75.png)
Disaster happened

[2015-03-21 20:48] vamshi-s commented on #2847
@thyageshm

The Following files has been modified to pass the UI tests .

1.
/teammates/src/test/resources/pages/instructorCoursesNoCourse.html
You can find the changes in the image,

![instructoractivecourse](https://cloud.githubusercontent.com/assets/11355301/6766683/4bc69ffc-d036-11e4-9e03-88f51e6bdf3e.png)

2.
/teammates/src/test/resources/pages/instructorHomeCourseDeleteSuccessful.html
You ca