[2018-03-15 19:19] Vaggelis-Malandrakis commented on #8644
Sorry for the delay.

I added these to the JVM and it worked!
Also the snippet runs.
All the tests were completed but I got 19 fails. Is this caused from this alteration to the JVM configuration?

![failed tests](https://user-images.githubusercontent.com/22797140/37486185-6e1a6956-2896-11e8-9b3b-254f965463d0.jpg)

[2018-03-16 00:54] damithc commented on #8649
@ibodi we have instructional documentation for new contributors as well as for GSoC applicants. Do have a look at them.

[2018-03-16 00:54] #8649 closed

[2018-03-16 01:03] damithc commented on #2618
Nothing I guess. However, note that we need to tweak our UI (and the logic) in many place to distinguish multiple teams with the same name but in different sections. e.g., show 'sec1/team1` instead of showing `team1` only.

[2018-03-16 03:51] #8632 closed

[2018-03-16 04:58] wkurniawan07 commented on #8650
@shaharyar-shamshi this is a general Git problem, and as such should not be asked here. I will simply tell that reverting a merge is generally a bad idea, and you may need to do a hard reset to the point before it all happened, fix/merge/... accordingly, and do a force push.

[2018-03-16 04:58] #8650 closed

[2018-03-16 08:41] whipermr5 commented on #8451
Closing as the data migration is subsumed under #8448.

[2018-03-16 08:43] whipermr5 commented on #8451
Oops, realised there's still one more task to be done under this same issue after #8448 - change `is*EmailEnabled` to boolean primitives.

[2018-03-16 09:35] whipermr5 commented on #8645
This was what I was working on for your reference. I'll leave this issue to you.

[code]

[2018-03-16 09:52] #8468 closed

[2018-03-16 10:17] Visualrainy commented on #7805
@whipermr5 looks good for your solution currently,thanks

[2018-03-16 10:33] sukanta-27 opened #8652 "Feedback Sessions: migrate sessions with 'Never Publish' option in JSON files"
search and replace for the string `"resultsVisibleFromTime": "1970-11-27T00:00:00Z"`

Related to #8468
See https://github.com/TEAMMATES/teammates/pull/8494#issuecomment-373669802

[2018-03-16 10:36] whipermr5 commented on #8652
I found another issue with #8494:
<img width="1157" alt="screen shot 2018-03-16 at 6 36 07 pm" src="https://user-images.githubusercontent.com/6811428/37516403-f2367f74-2948-11e8-8e23-20b3dd6dec9b.png">

[2018-03-16 10:38] sukanta-27 commented on #8652
Looking into it.

[2018-03-16 10:39] whipermr5 commented on #8652
Oops, I misread start time as session visible from time, you can ignore that.

[2018-03-16 12:04] whipermr5 opened #8655 "TimeHelper: convertLocalDateToUtc: do not shift special time representations"
The code handling reinterpretation of non-UTC time fields in legacy `FeedbackSession` entities relies on `TimeHelper#convertLocalDateToUtc` not shifting special time representations:
https://github.com/TEAMMATES/teammates/blob/e32eeff945bc2619d44b3a355e07ac4ad60e0edc/src/main/java/teammates/storage/entity/FeedbackSession.java#L144-L156
However, #8428 broke this:
https://github.com/TEAMMATES/teamma

[2018-03-16 14:18] whipermr5 opened #8657 "Release V6.4.0"
Scheduled for March 16, 2018, 11.59pm SGT.

[2018-03-16 14:28] #8652 closed

[2018-03-16 14:58] #8655 closed

[2018-03-16 15:16] sukanta-27 commented on #8611
Taking this up.

[2018-03-16 17:36] whipermr5 commented on #8657
[V6.4.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.4.0) has been released by @whipermr5 at March 17th, 2018, 01.23am SGT.

Code contributions from: @Ali96kz, @GarrettCarrott, @Haozhe321, @LuLechuan, @OlhaHn, @bqnguyen94, @darrenwee, @huai99, @junkiattan, @lightt77, @nidhi98gupta, @sukanta-27, @tran-tien-dat, @tshradheya, @whipermr5, @wkurniawan07
Review contributions from: @Crphang, @

[2018-03-16 17:53] craaaa opened #8659 "Instructor Help: create new instructor onboarding session"
- **Environment**: `master`

**Description of feature/enhancement**
Add onboarding tour (e.g. [this tour of Gmail for new users](https://www.useronboard.com/how-gmail-onboards-new-users/?slide=32)) to introduce new instructors to the TEAMMATES UI.

**Justification**
Making a tour of the site available to new instructors will familiarise them with the site's interface and allow them to start using

[2018-03-17 03:02] dutta14 commented on #8621
@wkurniawan07 So I made the changes, not using lombok, currently used the standard Java rules to implement proper methods for equals and hashCode.

[2018-03-17 03:37] damithc opened #8661 "Instructor: edit session: multiple choice questions: support generating options for all other teams"
Similar to #8412 but for 'all other teams' instead of 'all other students'

[2018-03-17 04:37] damithc opened #8662 "Instructor: search responses: handle legacy search documents"
v6.4.0

The following search does not work. InstructorSearchPageUiTest fails on the live server as well. This was working in v6.3.0.

![image](https://user-images.githubusercontent.com/1673303/37551669-6cbb6606-29df-11e8-9b5e-fcb8832e8a16.png)

2018-03-17 04:32:58.292 UTC
teammates.common.util.Logger severe: Unexpected exception caught by ControllerServlet :  (Logger.java:52)
com.google.gson.JsonS

[2018-03-17 04:42] damithc commented on #8657
Deployed. Thanks to all who contributed 💯

[2018-03-17 04:42] #8657 closed

[2018-03-17 05:14] whipermr5 commented on #8662
Oops I broke the search for legacy data 😅 Will need to write a migration script for the search documents but I'll try coming up with a hotfix first soon.

[2018-03-17 05:14] whipermr5 commented on #8662
Related to #8637

[2018-03-17 06:27] damithc opened #8663 "SendgridService: fix successful request detection"
v6.4.0

This version started creating lot of `teammates.common.util.Logger severe: Email failed to send:  (Logger.java:52)` although emails seems to be going through.

I've rolled back to v6.3.0 for now.

[2018-03-17 06:35] damithc commented on #8663
@whipermr5  Could this be a false positive because we increased error logging for task queues recently?

[2018-03-17 06:41] whipermr5 commented on #8663
Unlikely as the increased logging was in 6.3.0 too. Related to #8587? Sendgrid was updated.

[2018-03-17 06:43] wkurniawan07 commented on #8663
@damithc I've tested the Sendgrid new API on my staging, but I won't rule out that happening yet. Can try if switching to some other email service work?
Also, does the error logs in GAE show any further information? Does the Sendgrid logs show that the emails are actually sent?

[2018-03-17 06:52] damithc commented on #8663
Yes, the email is sent. I checked sendgrid activity log for a few cases and even tried sending an email to myself (I received it, but our log stated it as 'failed')

[2018-03-17 07:07] damithc opened #8664 "Instructor: remind particular student: fix stray place holder in email text"
found in: v6.3.0, v6.4.0 (I didn't check earlier versions)

Steps:
* Add the instructor as a student
* Have a session that has questions for students as well as instructors
* Send a reminder using 'remind particular student' option in instructor home page

Actual: one of the emails sent has a placeholder text instead of actual content

![image](https://user-images.githubusercontent.com/1673303/375

[2018-03-17 07:11] damithc commented on #8664
The problem is in the email sent to instructors asking them to submit responses.

[2018-03-17 07:15] damithc commented on #8663
Confirmed: Tried sending reminder to myself using latest version and previous version. Received all emails but the current version logged errors for all 3 emails:
![image](https://user-images.githubusercontent.com/1673303/37552748-e3027618-29f5-11e8-9fe2-7cbd407333f0.png)
There are no other info in the log other than `teammates.common.util.Logger severe: Email failed to send: (Logger.java:52)`. We

[2018-03-17 07:16] wkurniawan07 commented on #8663
Found the cause. The email sending code treats status code other than `200 OK` as anomaly, but Sendgrid v3 API (indeed, upgraded in V6.4.0) returns `202 ACCEPTED` as successful status code. ([reference](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html))

Simply change this line:
https://github.com/TEAMMATES/teammates/blob/8a974ee703c46f4b3280552f46b3e767eb561eab/src/main/java/te

[2018-03-17 07:19] whipermr5 commented on #8663
How about `if (response.getStatusCode() < 200 || response.getStatusCode() > 299)`? Since all `2xx` codes are considered success.

[2018-03-17 07:46] whipermr5 commented on #8664
Related to #8182?

[2018-03-17 07:50] sukanta-27 commented on #8664
Looking into it.

[2018-03-17 07:55] damithc commented on #8635
Another FAQ is whether TEAMMATES is free or do we plan to charge fees in future. The answer should be along the lines of,

At  the moment we have no plans to commercialize TEAMMATES or offer paid services. In the unlikely event the free service is terminated, users will be informed at least one semester in advance.

[2018-03-17 11:48] sukanta-27 commented on #8664
Found the reason of this bug.

https://github.com/TEAMMATES/teammates/blob/8a974ee703c46f4b3280552f46b3e767eb561eab/src/main/java/teammates/logic/api/EmailGenerator.java#L96-L102

`additionalContactInformation` was not passed to `generateFeedbackSessionEmailBasesForInstructorReminders` in the argument, which is why the placeholder was not getting replaced.

**[Screenshot of the email before passin

[2018-03-17 12:11] Artyom-Ganev commented on #8625
It didn't help. Are the settings correct?
![2018-03-17 15-06-32](https://user-images.githubusercontent.com/13161268/37555188-d2b7b936-29f4-11e8-9b82-93da761d153c.png)

[2018-03-17 12:45] Artyom-Ganev commented on #8625
I tried to run tests and got Error:java: Fatal Error: Unable to find package java.lang in classpath or bootclasspath
![2018-03-17 15-41-52](https://user-images.githubusercontent.com/13161268/37555539-c471a1ac-29f9-11e8-88dd-dcb274021168.png)

Soulution is here
https://stackoverflow.com/questions/3049433/intellij-gives-fatal-error-unable-to-find-package-java-lang-in-classpath-or-boo

[2018-03-17 14:29] nidhi98gupta commented on #8634
@damithc Sir, I have shared draft of my GSoC proposal on Comments for Responses. Kindly provide feedback.
Also I want to submit one more proposal on Coverage Boost (Java).
It would be helpful if you could share some past incidences of problems due to incorrect/incomplete tests related to Java.

[2018-03-17 16:08] Haozhe321 commented on #8625
Did you try the solution in the stackoverflow answer? Still doesn't work?

[2018-03-17 16:10] ibodi opened #8667 "[GSoC] What if I am not familiar with the technologies?"
For GSoC I chose the Question+ project. What if I am not familiar with the technologies? I mean Google Cloud Platform, App Engine, Selenium, TestNG, even my Git skills are very primitive. Should I apply if my experience is quite limited?

[2018-03-17 16:26] ongspxm commented on #7884
hi, anyone working on this? I can trawl through the files to make the changes using [this](https://github.com/TEAMMATES/teammates/pull/8164#issuecomment-345533776) if this issue is still open.

[2018-03-17 18:34] nashmia-riaz commented on #8648
Hello. I would like to work on this issue.

[2018-03-17 19:15] #8625 closed

[2018-03-17 19:35] shaharyar-shamshi commented on #8667
@ibodi Gsoc is learning platform even we are also student and don't know many stuff feel free to give your proposal you have lot of time to learn stuff and learning by doing is best strategy feel free to contribute and ask question

[2018-03-18 03:59] damithc commented on #7884
Go ahead @ongspxm

[2018-03-18 04:03] damithc commented on #8667
Yes, learning is part of the process. There is no need to know all related technologies from the start. The more important thing is to show that you can learn things fast.

[2018-03-18 04:03] #8667 closed

[2018-03-18 04:18] damithc commented on #8634
@nidhi98gupta I have commented in your proposal draft.

[2018-03-18 07:05] wkurniawan07 commented on #2618
@Haozhe321 `TeamDetailsBundle` is not persisted to DB; modifying it should not have any backward-incompatibility issue.

I'm not familiar with this feature myself, but if anything, the result should be the last of all the worries (i.e. worry about the `POST` before the `GET`), so the first thing to loosen the criteria for team name uniqueness when adding new teams. Afterwards all code which retrie

[2018-03-18 08:45] Ali96kz commented on #7224
Completed this issue. I am not well in writing auto-test. Should I just remove it or?

[2018-03-18 08:47] Artyom-Ganev commented on #8625
I tried and it works

[2018-03-18 11:01] ibodi opened #8671 "Could not determine java version from '9.0.1'."
OS: Mac OS High Sierra

Hello, I am trying to import the project to my Eclipse instance. I follow instruction given here: .
[https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md](url)

I went to File → Import....
Selected Existing Gradle Project under Gradle. Clicked Next >.
Set the Project root directory to /Users/ibodi/MyDocs/teammates. Clicked Next >.
Ticked Override workspace s

[2018-03-18 14:34] wkurniawan07 commented on #8671
@ibodi, two things:
- Gradle 3.5 suggests that you have used a very old version of the code base, dated even before [we moved to Java 8](https://github.com/TEAMMATES/teammates/releases/tag/V6.0.0). Do update your fork to keep in sync with the latest code base.
- You have asked the exact same question back in #8123 and got an answer (albeit outdated now). Essentially, do read up our [setting up gui

[2018-03-18 17:02] joanneong opened #8675 "InstructorHelp: Fix inconsistent indentation for different sections"
- **Environment**: `master` branch at commit 8a974ee

A typical section in the instructor help page should look like this:

<img width="1278" alt="screen shot 2018-03-19 at 12 42 33 am" src="https://user-images.githubusercontent.com/24493463/37568472-838792d8-2b10-11e8-9951-e25ad07b9ca1.png">

However, the later sections (from "Profiles" onwards) look like this:

<img width="1279" alt="screen shot

[2018-03-18 18:28] craaaa commented on #8675
Yep, noticed this too! I don't think it's that worth it though, since we will likely be moving away from displaying questions as a list.

[2018-03-18 20:19] sukanta-27 commented on #8675
@craaaa

Just out of curiosity, what do you mean by this?

[2018-03-18 21:14] nashmia-riaz commented on #8661
Hello. I would like to work on this issue.

[2018-03-19 03:37] whipermr5 commented on #84
As discussed with @tran-tien-dat, we should not worry about local date times that are ambiguous or non-existent but leave it to the library to resolve. The [javadoc for ](https://docs.oracle.com/javase/8/docs/api/java/time/LocalDateTime.html#atZone-java.time.ZoneId-) explains clearly how these are resolved.

However I think we should still show a message to the user if the local date time they inp

[2018-03-19 05:49] whipermr5 opened #8680 "Run data migration on legacy comment search documents"
Related to #8662. Script from #8679 can be run in the near future to update all comment search documents to the latest format.

[2018-03-19 05:50] whipermr5 opened #8681 "JsonUtils: remove code handling legacy data"
After #7733 and #8680 are closed, code handling legacy data should be removed.

[2018-03-19 08:53] sukanta-27 opened #8683 "Instructor: Edit question: Check for empty string in Numscale/MSQ/Rank (Options/Recipients) number fields"
Noticed while working on #8611

When editing existing questions for rank options/recipient, MSQ, Numscale questions, if we leave a number field blank upon editing and delete the question, then instead of the question getting deleted, a error page in shown.

- **Environment**:
`master` branch

**Steps to reproduce:**
- Login as instructor
- Edit a existing session
- Edit a existing question from th

[2018-03-19 10:29] gaurav122197 commented on #8634
@damithc I have submitted my proposal for Recycle Bin. Kindly give feedback for further improvement.

[2018-03-19 11:13] Pratyum commented on #8571
I am new to this and would like to work on this issue Please let me know if it is possible

[2018-03-19 11:18] #8619 closed

[2018-03-19 11:25] sukanta-27 commented on #8571
@Pratyum There is already an open PR for this issue, you can work on a different `d.FirstTimers` issue if you like.

[2018-03-19 12:23] nashmia-riaz opened #8684 "Help Request: How JS Minification Works"
Hello, prestigious dev team of Teammates!

I am a student from Pakistan, currently looking forward to applying for GSoC 2018.

I am trying to fix an issue and I think I understand most of the code flow. However, I am having trouble figuring out how the js in dev/js/main ends up getting minified and ultimately used in the webapp/js.

Could someone please explain this to me? I did refer to the 'Docu

[2018-03-19 12:54] Crphang commented on #8684
The Javascript files are minified when you run `npm run build`. Take a look at https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#building-javascript-files which describes that. If you really want to know how it is done, you can take a look at the webpack configuration in `webpack-main.config.js` file

[2018-03-19 13:39] damithc commented on #8634
Added comments.

[2018-03-19 13:44] nashmia-riaz commented on #8684
@Crphang Thank you so much. This is very helpful 👍

[2018-03-19 14:43] #8662 closed

[2018-03-19 15:19] #8663 closed

[2018-03-19 15:22] joanneong opened #8685 "InstructorSearchPage: Add tests for links displayed with search results"
After conducting a successful search in the instructor search page, the page typically looks like this:

<img width="1278" alt="screen shot 2018-03-19 at 11 10 47 pm" src="https://user-images.githubusercontent.com/24493463/37604276-92252380-2bcb-11e8-96b4-7094e21fff5d.png">

However, there are no tests for the `View`, `Edit` `Delete` and `All Records` actions that can be done in the search page. A

[2018-03-19 19:58] whipermr5 commented on #84
Sneak peek:
<img width="769" alt="screen shot 2018-03-20 at 3 55 57 am" src="https://user-images.githubusercontent.com/6811428/37618937-c1af70c0-2bf2-11e8-8562-4df175e1e97c.png">

[2018-03-19 22:09] nashmia-riaz commented on #8661
Hello.
From what I gather, in the screenshot below, Team 1 should not be an option as Alice Betsy is on Team 1. Is that correct?
![Screenshot](https://user-images.githubusercontent.com/13387692/37624952-e34e42a8-2beb-11e8-8a78-266e4d8ae51e.png)

[2018-03-19 23:20] tshradheya commented on #8661
Yes you are right.
Yoi can refer to #8445 PR which does this same thing but for students

[2018-03-20 07:56] shaharyar-shamshi commented on #8646
@Crphang sir As I am able to understand that
`FeedbackQuestionAttributes feedbackQuestion = extractFeedbackQuestionData(instructorDetailForCourse.email);`  first  assign the value to the newQuestion  then validate it we have to just validate it before assigning

[2018-03-20 08:11] Crphang commented on #8646
Based on current design:

1. It assigns a false value, and validate by returning the error message to the user.
1. Or it does not assign any value if field is incorrect, but no appropriate error messages can be shown to the user.

What we can do is let `extractQuestionDetails/extractFeedbackQuestionData` return the error messages and do validation at the same time. This involves refactoring the qu

[2018-03-20 08:41] shaharyar-shamshi commented on #8646
@Crphang sir for each type of question there is their different individual error message which is generated after validating from `List<String> questionDetailsErrors = feedbackQuestion.getQuestionDetails().validateQuestionDetails();`

[2018-03-20 08:46] Crphang commented on #8646
@shaharyar-shamshi yes. But `validateQuestionDetails`, if you inspect its implementation, `validateQuestionDetails` does validation by checking the meta data, which means the data is already serialized. But problem is, data that is invalid should not be placed in the database in the first place.

[2018-03-20 09:31] shaharyar-shamshi commented on #8646
@Crphang sir should we also throw null parameter error to the user when particular field(if required) is empty empty.

[2018-03-20 11:01] Crphang opened #8688 "Instructor: edit session: include only the form for the used question"
Previously mentioned with issue: #5728

The current design of adding new questions and editing questions shows a form that contains all types of questions. This presents a problem when trying to use HTML Input Validation that uses `required`.

Consider this example:

Add 'required' to an input of any question such as  `feedbackQuestionRankOptionsEditFormTemplate.html`.

[code]
Try to add a questio

[2018-03-20 11:25] Crphang commented on #8646
@shaharyar-shamshi, this is left to each question's design of validation. I believe we will add that into the error list to be displayed to user. To clarify further, this issue is more about refactoring the flow of how validation is done, then what the validation is and should be specifically for each question.

[2018-03-20 13:53] shaharyar-shamshi commented on #8606
@damithc Sir I don't think that we need to add test case here if that is the case then just changing one file is enough to produce the require change ?

[2018-03-20 14:37] damithc commented on #8606
It is always good to have a test to cover every feature. How deeply we will test a feature depends on cost-benefit-risk trade-offs.

[2018-03-21 01:34] #8605 closed

[2018-03-21 02:10] Pratyum commented on #8685
Hey! I would like to contribute to this issue. Please let me know if it is possible.

[2018-03-21 02:46] joanneong commented on #8685
@Pratyum Do go ahead with this :)

[2018-03-21 05:32] jacoblipech opened #8691 "AdminPage: Unable to detect duplicate instructors with the same details added"
- **Environment**: latest version V6.4.0

**Description of feature/enhancement**
When multiple instructors are added in the same field, there is no algorithm to check for duplicates being added. This will result multiple spam messages through email to the same user.

<img width="933" alt="screen shot 2018-03-21 at 9 16 14 am" src="https://user-images.githubusercontent.com/28522090/37691836-b7d711f

[2018-03-21 05:44] damithc commented on #8691
Good catch @jacoblipech. In practice this is a non issue because I'm the only one who use this feature and it is easy to detect duplicates manually because I do a manual check of each new user before creating an account. Probably not worth fixing :-) Will reopen if this becomes a problem in the future.

[2018-03-21 05:44] #8691 closed

[2018-03-21 08:18] wenmogu commented on #7225
I will take a look at this

[2018-03-21 16:05] abhishekd08 opened #8693 "TEAMMATES application for mobile platform"
We should develop an Mobile Application of TEAMMATES

Currently, this platform is available only as a web application.

It will become very comfortable and easy for students, instructors as well as developers to make use of our Software Solution if they can access it on their mobile.
We should develop an application of TEAMMATES for Android as well as IOS platform.

The ultimate aim of all of us i

[2018-03-21 16:13] abhishekd08 commented on #8693
I will send a proper application for Google Summer of Code program if you confirm that android application of TEAMMATES can be developed. Thank You.

[2018-03-21 21:51] nashmia-riaz opened #8694 "Help Request: Why are my lint tests failing?"
When I run 'npm run lint:js', it results in an error for every single .js file in dev/js. The resulting error is something like this:

error  Casing of ../main/instructorCourseEnrollPage does not match the underlying filesystem  import/no-unresolved

In addition to this, the webpack-main.config.js has the same error as well. The ./gradlew lint test, however, does pass. The error occurs on my local

[2018-03-21 21:56] #8684 closed

[2018-03-21 22:24] shaharyar-shamshi commented on #8694
Just run npm run lint

[2018-03-21 22:55] sukanta-27 commented on #8694
@nashmia-riaz It is probably a bug in `eslint-plugin-import` (https://github.com/benmosher/eslint-plugin-import/issues/720), but it should not occur after `V2.8.0`. Can you confirm that you have the updated `master` branch?

[2018-03-21 23:42] sukanta-27 commented on #8688
**Context:** https://github.com/TEAMMATES/teammates/pull/8373#pullrequestreview-105758663

While working on #8611 I added the `required` attribute by using a similar method as @Crphang in #8373 and that is by adding a `data-linked-input-id` in the max/min checkbox containing the id of the corresponding number field. Then added a function in `questionMsq.js` to add the `required` attribute when che

[2018-03-21 23:57] sukanta-27 commented on #8688
I have also found another way to deal with this problem which is better than the one mentioned above in the sense that, it will take care of all the required fields that are hidden in the new question form. And it is to add a function in `InstructorFeedbackEdit.js` within `$(document).ready(() => ....` that will remove `required` attibute from all the hidden input elements upon clicking `Save chan

[2018-03-22 02:14] damithc commented on #8680
Migrated. Took 5 hours to migrate 11k entities. :-p

[2018-03-22 02:14] #8680 closed

[2018-03-22 02:54] Crphang commented on #8688
@sukanta-27, that could work. In the context that we redesign the question form, then your method in adding

[code]

is actually better than my previously suggested solution in #8373 about adding `{isRequired}`. This is because only this method needs to be removed when the change is made, instead of changing all the respective `HTML` files again.

Also, it is easier for people to adopt when adding

[2018-03-22 04:39] craaaa commented on #8675
@sukanta-27 As part of #8504, I'm thinking of making some design changes to `instructorHelp.jsp` so it will be more easy to skim for answers. Some possible changes are using accordions or collapsed sections, or moving content into multiple separate pages. Doing so will require reorganizing the section structure, so changes made to fix this issue are likely to be overwritten.

[2018-03-22 04:59] darrenwee opened #8695 "AdminActivityLogPage: incorrect log message for change of course time zone"
**Environment**:
`master` @ a88f169

**Steps to reproduce**
1. Edit an existing course and change its timezone
2. Open up the admin activity log @ `/admin/adminActivityLogPage`
3. Observe that the edit action was not logged correctly; it says that the course name was changed even if it was not touched.

**Expected behaviour**
The log message should be something like
[code]

**Actual behaviour**
Th

[2018-03-22 05:24] bqnguyen94 commented on #8683
I'm interested in why the `delete question` action requires valid `FEEDBACK_QUESTION_NUMSCALE_MIN` in the first place. Discussion with @LiHaoTan and @Crphang reveals that this is because `edit` and `delete` actions are coupled:
https://github.com/TEAMMATES/teammates/blob/11eb4f64053148a73603fe6eed7b171673d837c3/src/main/java/teammates/ui/controller/InstructorFeedbackQuestionEditAction.java#L47-L65

[2018-03-22 06:00] digib0y commented on #8634
I submitted my draft proposal for rework of the TEAMMATES Website. Can you please take a look?

[2018-03-22 06:53] #8576 closed

[2018-03-22 06:53] #8590 closed

[2018-03-22 07:02] damithc commented on #8693
We don't plan to develop a mobile app for TEAMMATE anytime soon @abhishekd08

[2018-03-22 07:02] #8693 closed

[2018-03-22 09:20] jacoblipech commented on #8634
Sir, I have submitted my proposal for a self proposed idea for GSoC. It would be helpful if you can give some feedbacks about it. Thank You.

[2018-03-22 12:18] mg14777 commented on #8634
Hello Sir, I recently submitted a proposal on project Usability Hero. I would be great if I can get some feedback as well.

[2018-03-22 15:02] #8563 closed

[2018-03-22 15:14] damithc commented on #8634
@mg14777 Unable to add comments to your draft as you shared it in 'view only' mode.

[2018-03-22 15:16] damithc commented on #8634
@digib0y Comment added to your draft proposal.

[2018-03-22 15:22] damithc commented on #8634
@jacoblipech comments added to your draft proposal.

[2018-03-22 15:57] mg14777 commented on #8634
@damithc Thanks for letting me know. I've changed it. Sorry for the inconvenience

[2018-03-22 16:16] Crphang commented on #8688
@sukanta-27 my implementation in #8320:

[code]

I tried to limit it to newQuestion only, because existing questions have no other questionForms. And it's good to reduce scope to reduce unintended effect.

[2018-03-23 04:25] #8594 closed

[2018-03-23 05:25] damithc commented on #8634
@mg14777 comments added to your proposal draft.

[2018-03-23 06:22] wkurniawan07 commented on #8694
@nashmia-riaz can you report using a proper [help request template](https://github.com/TEAMMATES/teammates/blob/master/.github/ISSUE_TEMPLATE/help-request.md)? Right now there are quite a lot of missing information if we are to troubleshoot. Also, while may not be written on that template, but do write down your Node.js version as well.

[2018-03-23 10:15] lowell1 opened #8699 "Help Request: "Execution failed for task ':localTests'""
Hi,
I just installed teammates for the first time and I'm able to view the website by going to localhost:8080, but when I try to run the command  "sudo ./gradlew localTests", it fails a task and shows an error message. Sorry if I'm doing something wrong but this is my first time using this and I have no idea what this error means. Any help at all would be greatly appreciated. Here is the error:

t

[2018-03-23 10:36] nashmia-riaz commented on #8694
@sukanta-27 I am up to date with the master. Upon further tinkering, I have found out that the tests do pass in cmd, just not in powershell or git shell (which i was using earlier). So, I assume that the problem is local.

@wkurniawan07 apologies about not using the template earlier as I think the problem is with configurations on my machine.
Commit SHA: e4078943a
Operating System: Windows 10
JDK

[2018-03-23 10:43] damithc opened #8701 "Student: view results: rank questions: show average"
Scenario: Student views results of a ~~numerical scale~~ rank question

Current: Can see individual ratings received
Suggested: Show average rating as well. Can show both average with and without self rating (if there is a self-rating involved).

[2018-03-23 11:05] nidhi98gupta commented on #8701
@damithc I would like to work on this.

[2018-03-23 11:08] damithc commented on #8701
Go ahead @nidhi98gupta

[2018-03-23 11:08] nidhi98gupta commented on #8634
@damithc Sir, I have submitted another proposal on Coverage Boost (Java), which is my second preference, first being Comments for Responses. Kindly provide feedback.

[2018-03-23 11:20] #8254 closed

[2018-03-23 12:52] sukanta-27 commented on #7232
@damithc I would like to work on this one.

[2018-03-23 13:16] damithc commented on #7232
Go ahead @sukanta-27

[2018-03-23 14:00] nashmia-riaz commented on #8695
Hello. I would like to work on this issue.
I think editing instructorCourseEditSaveAction to fetch the course before changes are saved for it, and comparing to send the appropriate status message to admin would fix the issue. Please let me know if I should proceed.

[2018-03-23 15:57] #8681 closed

[2018-03-23 16:37] sukanta-27 commented on #8154
@damithc @whipermr5 @wkurniawan07
This may be a trivial question, but I was wondering if Teammates has a new feature/Update that it wants it's user base to know about, how does we do that?

For example, in the context of Removing private sessions if we want to notify all the users that from now on we won't be supporting private sessions, how do we achieve that? Do we use the admin email feature to

[2018-03-24 04:34] damithc commented on #8634
@sukanta-27 @nidhi98gupta comments added for both.

[2018-03-24 04:38] whipermr5 opened #8702 "Add script to delete orphaned comment search documents"
See https://github.com/TEAMMATES/teammates/pull/8698#issuecomment-375829424

[2018-03-24 05:21] damithc commented on #8154
If it is a critical message, we have to send an email using the admin email feature. If not critical, we let users discover it themselves through usage. We started developing a _message of the day_ feature for this kind of use cases but we didn't manage to go beyond a primitive version of it, which is currently limited to students only.

[2018-03-24 06:29] whipermr5 commented on #8702
This has to be run before V6.5.0 is released, otherwise instructor search will fail again.

[2018-03-24 06:55] sukanta-27 commented on #8154
In this case, will it be a useful feature to have where in the `Admin Email` page, besides the `Upload` button, there will be a button (or a checkbox) which upon clicking will retrieve all the instructor email list, so that we can email all instructors to inform about any critical change? I know depending on what we consider "critical" this may not be used a lot, but I guess having a easier way to

[2018-03-24 07:28] whipermr5 opened #8704 "Keep comment search documents up-to-date"
Root cause of #8702 - see https://github.com/TEAMMATES/teammates/pull/8698#issuecomment-375829424. Results in outdated search results.

The only time comment search documents are ever updated/deleted is when comments are individually edited/deleted, and this is done at the action level! Updating/deletion of responses, questions, sessions and courses does not result in updating/deletion of correspo

[2018-03-24 09:10] #8630 closed

[2018-03-24 15:06] gaurav122197 commented on #8634
@damithc Sir, kindly review my draft on Recycle Bin.

[2018-03-25 03:55] damithc commented on #8634
@gaurav122197 @nashmia-riaz comments added

[2018-03-25 04:44] damithc commented on #8154
While this can be useful, we also don't want to email *all* instructors too, as there are many instructors in the system who don't use TEAMMATES anymore. Who to email depends on the nature of the email. For example, only 20-30 instructors have private sessions; there is no need to email all 5000+ instructors about it.

[2018-03-25 10:28] mbi90 commented on #8607
I'd like to work on this

[2018-03-25 11:56] nashmia-riaz opened #8707 "AdminActivityLogPage: Typo in Log for adminSearchPage Load"
- **Environment**:
master branch at cd9a5365c'

**Steps to reproduce**
1. Log in as admin and open search page
2. Go to activity log page and see the log message for opening the search page

**Expected behaviour**
Remove the typo so it says:

`AdminSearchPage Page Load`

**Actual behaviour**
![actual 1](https://user-images.githubusercontent.com/13387692/37874666-db53fa4c-304c-11e8-95b9-b50826ab475

[2018-03-25 12:09] damithc opened #8708 "Session reminder emails: mention editing responses"
**Description of feature/enhancement**

Reminder emails sent to respondents have the following phrase:

Suggestion: rephrase as

**Justification**
Some students contact us with requests such as 'I submitted already. Can you check if it was saved?'. The revised phrasing might reduce such support requests.

[2018-03-25 13:24] mg14777 opened #8709 "AccountAttributesTest: fix instability due to modified timestamp comparison"
- **Environment**:  [cd9a536](https://github.com/TEAMMATES/teammates/commit/cd9a5365cfed580bae5d1bf15f2994a921e31f03)

**Description of feature/enhancement**

This is an enhancement to the build process

As pointed out by @bqnguyen94 also, currently ```AccountAttributeTest::testSanitizeForSaving``` as shown below

https://github.com/TEAMMATES/teammates/blob/dbca7a2531c4cfccec4deac0d3569ac58298a7e8

[2018-03-25 13:39] kyngyi commented on #8634
@damithc Sir, I have shared a draft proposal for one of the ideas, kindly take a look and it would be appreciated if you could share your feedback. Thank you

[2018-03-25 15:29] damithc commented on #8634
@kyngyi comments added to the draft

[2018-03-25 20:20] kathandp98 commented on #8215
I am a beginner, and I want to contribute to open source in java. I found this project interesting.
Can someone suggest me where to start within this project and contribute?
Thank you.

[2018-03-26 01:38] wenmogu commented on #8215
Hi @kathandp98 thx for wanting to contribute. I noticed that you have not introduced yourself to our contributor community yet:) I suggest that you can take a look at [this document](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) if you just started with this project. This document will give you a step-by-step guide on how to start as a contributor.

If you have done all

[2018-03-26 01:45] whipermr5 commented on #8215
@wenmogu The self-introduction is no longer a requirement as of b8b73c189237a45de9e200d72e28859003f7c865 (#8602). But yes, that document is an excellent place to start 👍

[2018-03-26 03:19] whipermr5 commented on #8709
Simply set the modified date via `withModifiedDate` while creating the test data:
https://github.com/TEAMMATES/teammates/blob/cd9a5365cfed580bae5d1bf15f2994a921e31f03/src/test/java/teammates/test/cases/datatransfer/AccountAttributesTest.java#L304-L319

[2018-03-26 04:46] craaaa commented on #8699
Hi @lowell1, it appears that Selenium is unable to start. Have you followed our development guidelines and ensured that your `test.properties` file is correctly configured? You can refer [here](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#testing) for help.

[2018-03-26 05:06] Haozhe321 commented on #8415
Here's what I found:

The offending line for the Exception comes from the method `getQuestionAdditionalInfoHtml` which is used to generate the additional information for the questions like this:
![image](https://user-images.githubusercontent.com/26651556/37887208-1a12f6b0-30f3-11e8-8b02-1fb5170e13f0.png)

Inside the `FeedbackMsqQuestionDetails` class, there are 2 attributes:
[code]
When the MSQ's

[2018-03-26 05:28] Crphang opened #8712 "Upgrade to Webpack 4"
**Environment**: Master

**Description of feature/enhancement**

Upgrade Webpack to Webpack 4. This is 1st part of the multiple related webpack build tool upgrades like Hot Reloading in #8383, source maps, splitting between development and production configs.

**Justification**
Webpack 4 includes multiple optimizations that can speed up build time. This issue needs to be resolved first to reduce t

[2018-03-26 06:28] whipermr5 commented on #8415
Is there even a use case for storing `numOfMsqChoices` when we can just read `msqChoices.size()` all the time?

[2018-03-26 06:33] jacoblipech commented on #8708
I will take this issue :)

[2018-03-26 11:19] gaurav122197 commented on #8634
@damithc  Sir, please provide feedback on the Recycle Bin draft.

[2018-03-26 12:35] Crphang opened #8716 "Webpack: Refactor config to support development and production environment. Add Sourcemap Dev Tool."
**Environment**: Master

**Description of feature/enhancement**

Current webpack server only has production environment, which restricts adding development tools only for development build. Refactoring will allow adding tools specific to development and production more easily.

[Different Source Maps](https://webpack.js.org/configuration/devtool/) will be added for Production and Development purpo

[2018-03-26 13:58] kathandp98 commented on #8215
@wenmogu  and @whipermr5 .Thanks for the reply. I will follow up the steps, and again if I will have doubts, I will post the comment. i will try my best to learn and contribute.

[2018-03-26 14:13] damithc commented on #8634
@gaurav122197 done

[2018-03-26 16:40] LiHaoTan commented on #8688
So there is still a limitation of the workaround, and there may be more we are unaware of since the workaround couples to so many different aspects of the system it makes it hard to reason about it standalone.

Steps to replicate the limitation:

1. Create a new essay question (or really any question other than Rank options/recipients question).
2. Click save question immediately, an error of ques

[2018-03-26 16:48] nashmia-riaz opened #8717 "AdminActivityLogPage: fix inconsistent StudentProfilePage Load message"
- **Environment**:
`master` branch at commit cd9a536

**Steps to reproduce**
1. Log in as student and open profile page.
2. Log out and log in as admin.
3. View activity log.

**Expected behaviour**
A consistent message that perhaps says:

[code]
where test is the googleid of the student.

**Actual behaviour**
Currently, it displays the entire json which is ugly and inconsistent with the rest of t

[2018-03-26 20:36] gaurav122197 commented on #8634
@damithc Sir, a little more help needed regarding the draft feedback.
Thank You, Sir.

[2018-03-27 01:06] sukanta-27 commented on #8634
@damithc  Sir, made a lot of changes in my draft for the project **Comments on Responses**, if possible kindly provide feedback before I make the final submission.

[2018-03-27 02:11] lowell1 commented on #8699
Thank you. I was able to make the error go away by using a virtual machine and the Eclipse IDE instead of Ubuntu on Windows and using chrome instead of firefox but now I'm getting another error:

org.openqa.selenium.WebDriverException: unknown error: failed to change window state to maximized, current state is normal

My version of Chrome is Version 63.0.3239.108 (Official Build) (64-bit) and I'm

[2018-03-27 02:20] lowell1 commented on #8699
I'm using chromedriver on a virtual machine instead of bash on windows and it works now. Thank you for your time!

[2018-03-27 02:43] #8707 closed

[2018-03-27 03:05] damithc commented on #8634
@sukanta-27 Comments added

[2018-03-27 04:48] gthd commented on #8717
Hi @nashmia-riaz  I would like to fix this issue if this is ok.

[2018-03-27 07:13] Haozhe321 opened #8721 "Rename ambiguous method isChangesRequiresResponseDeletion -> shouldChangesRequireResponseDeletion"
The method `isChangesRequiresResponseDeletion` checks if changes to a question requires the deletion of responses. The method returns a boolean value.

For example, this method is called at line 301 below.
https://github.com/TEAMMATES/teammates/blob/847de291e580ffbe3f9c50b329bb29acce5818a7/src/main/java/teammates/common/datatransfer/attributes/FeedbackQuestionAttributes.java#L295-L302

Rename all

[2018-03-27 08:29] nashmia-riaz commented on #8717
Sure. Go ahead! :)

[2018-03-27 08:43] Haozhe321 commented on #8721
That sounds good as well!

[2018-03-27 09:38] jsroyal commented on #8634
Hi! I've submitted the draft of my proposal. Would you please @damithc provide some feedback.

[2018-03-27 10:09] #8320 closed

[2018-03-27 10:18] nashmia-riaz opened #8722 "Travis Build Failing Due To Bad Gateway"
I am currently trying to push changes to a PR and the Travis build keeps failing due to a bad gateway error.

[code]

Perhaps the resources can be updated to avoid this? The build breaks as the dependencies are unavailable.

[2018-03-27 11:18] joanneong commented on #8722
Let me quote a TEAMMATES senior developer on this:

So we are still waiting to see if the problem persists beyond today...

[2018-03-27 11:50] nashmia-riaz commented on #8722
@joanneong Alright, thank you :)
I'll wait till tomorrow before building my PR again.

[2018-03-27 11:55] sukanta-27 opened #8723 "Instructor: Session Results: Comment box shrinks when canceling and adding comment again"
In the session result page, the comment box for a response shrinks to a much smaller size when canceling and clicking on `Add comment` button again.

- **Environment**:
`master` branch

**Steps to reproduce:**
1. Login as Instructor
2. In the session table, click on `Results` to view the results of a session which has existing responses.
3. Click on `Add comment`, and close the modal window
4. Cli

[2018-03-27 12:54] damithc commented on #8701
@nidhi98gupta this issue was created based on a user request. Most likely the user was referring to ranking type questions instead. Can you check if ranking type questions are showing stats to students?

[2018-03-27 14:14] nidhi98gupta commented on #8701
@damithc Rank (recipients) question doesn't show stats to students.
![rank](https://user-images.githubusercontent.com/24381442/37973039-3da19ec4-31f7-11e8-948a-3b9249d3d039.png)
Is this what you're referring to?

[2018-03-27 14:45] damithc commented on #8701
Thanks for checking @nidhi98gupta
I've updated the issue title/description

[2018-03-27 16:04] sukanta-27 commented on #8634
Closing as the student application period for Google summer of code 2018 is over.

[2018-03-27 16:04] #8634 closed

[2018-03-27 17:28] jacoblipech commented on #8598
Hi @Haozhe321, are you working on this issue? If not can I do it? :)

[2018-03-27 17:56] jacoblipech opened #8726 "Instructor: Session Results: Able to tick the checkbox even though the text is strikedoff"
In the session result page, the "Group by Teams" is striked off even though the checkbox can be ticked.

Environment:
master branch
Steps to reproduce:

Login as Instructor
In the session table, click on Results to view the results of a session which has existing responses.
Click on Edit view
<img width="969" alt="edit view option wrong" src="https://user-images.githubusercontent.com/28522090/3798

[2018-03-28 00:46] #8643 closed

[2018-03-28 02:54] joanneong commented on #8726
The reason why you are observing this is because the current view selected is "Group by - Question". Thus the option "Group by Teams" has no effect regardless whether if it is ticked or not. If you change it to any of the other "Group by"s, and then click on "Change View", and "Edit View" again, you'll see that the first option is no longer struck out.

That said, I do agree that seeing this can b

[2018-03-28 03:20] gthd commented on #8726
I would like to work on this. If this is ok

[2018-03-28 04:55] wenmogu commented on #8505
Hi @Progyan1997 pls take note that do not put issue number in your commit message. Else there will be spams as you can see above.

[2018-03-28 06:05] #8473 closed

[2018-03-28 07:30] Haozhe321 commented on #8598
@jacoblipech for new contributors, we recommend taking a `d.FirstTimer` issue first before going into the `d.Contributors`. You may want to revisit this after doing a first timer issue :)

[2018-03-28 09:01] damithc commented on #8580
Closing due to inactivity. Feel free to reopen.

[2018-03-28 09:01] #8580 closed

[2018-03-28 09:03] damithc commented on #8591
Closing due to inactivity. Feel free to reopen.

[2018-03-28 09:03] #8591 closed

[2018-03-28 09:04] damithc commented on #8644
Closing due to inactivity. Feel free to reopen.

[2018-03-28 09:04] #8644 closed

[2018-03-28 12:18] #8526 closed

[2018-03-28 22:09] #8699 closed

[2018-03-29 04:26] #8498 closed

[2018-03-29 05:41] #8661 closed

[2018-03-29 06:12] shamlymackey commented on #8721
Hey! I would like to try this, but just to make it clear, all I have to do is change each instances of this method right? Is it possible for you to provide me with one example please? Thanks!

[2018-03-29 07:04] #8702 closed

[2018-03-29 07:08] whipermr5 opened #8729 "Run script to delete orphaned comment search documents"
Related to #8698. Script from #8703 should be run before deploying V6.5.0 to delete orphaned search documents that use the old date format and are incompatible with the search system.

[2018-03-29 07:19] shamlymackey commented on #8708
I can do this issue, may I know the name of the source file please?

[2018-03-29 07:38] wenmogu commented on #8708
Hi @shamlymachey, since the aim of the first timer issues is to make u familiarize yourself with the codebase, you are supposed to trace the code yourself and find out where is the place you need to change.
Maybe you want to start with a global search for the keywords and see what you can get.

[2018-03-29 08:54] damithc commented on #8729
So, I should pull the latest master and run the script against live server?

[2018-03-29 09:01] whipermr5 commented on #8729
@damithc Yes.

[2018-03-29 10:03] damithc commented on #8729
Done.
[code]

[2018-03-29 10:03] #8729 closed

[2018-03-29 13:17] tran-tien-dat opened #8731 "Migrate remaining classes to use java.time"
Part of #8362

Migrate the remaining classes to use `java.time` and delete deprecated methods. Exclude the Entity classes as they need to use `java.util.Date` by Objectify.

[2018-03-29 15:12] tran-tien-dat commented on #8645
Oops. Seems like my new issue #8731 and PR #8732 is a duplicate of this 😝 . However, what I have done is to search for every occurences of `import java.util.Date` etc. and change them to use `java.time`. The next thing would be to migrate the `TimeHelper` class, which @whipermr5 has done here.

[2018-03-29 15:27] shamlymackey commented on #8708
@wenmogu Thank you very much! Will do!

[2018-03-29 16:37] #8712 closed

[2018-03-30 04:20] Haozhe321 commented on #8721
@shamlymackey that's right. The example is provided in the issue description above. Do a global search and replace all instances of the method name.

[2018-03-30 06:43] nidhi98gupta opened #8733 "AdminSessionsPage: fix parse failure for dates selected via datepicker"
When changing start date and end date to filter feedback sessions, accepted date format in input field is `dd/mm/yyyy` but datepicker format is `D, dd MMM, yyyy` which on selecting results in redirection to error page.
- **Environment**: `master` branch

**Steps to reproduce**
Login as admin.
Go to Sessions Tab.
Change dates from filter.

**Expected behaviour**
Input field should parse same date a

[2018-03-30 06:43] nidhi98gupta commented on #8733
Working on fixing this.

[2018-03-30 14:15] tshradheya commented on #8105
Does this still happen frequently?
For me its usually the first page and then it goes on to load the expected URL all times.

I investigated a bit and found that downgrading to 43.0 might work or adding a couple of lines helps[cant test this as I haven't come across this issue before]

[2018-03-30 14:31] damithc commented on #8105
I've been using Chrome for a while now. Will try firefox next time.

[2018-03-31 09:36] VamsiSangam commented on #8415
Sorry for the late reply. As far as I remember, when the MSQ/MCQ question has its options generated from students/teams etc., we don't store the options in the `FeedbackMsqQuestionDetails` class object. Precisely speaking, we don't store it in `private List<String> msqChoices;` member variable. Whenever we want to generate the HTML for the question, we directly call `private List<String> generateO

[2018-03-31 09:56] gthd opened #8740 "IntelliJ cannot run failed tests"
When I try to run the failed tests in IntelliJ I get the following error:
![issue_running_failed_tests](https://user-images.githubusercontent.com/15031826/38162023-849844ca-34e2-11e8-9c5b-1dd6dee8ba47.PNG)

Has anyone encountered the same problem before and if yes how to solve it ?

[2018-03-31 10:26] #8722 closed

[2018-03-31 14:25] LuLechuan commented on #8740
@gthd Hi, just to make sure you have done the following:
1. Go to test.property and specify the directory to your browser
2. Run `npm install` in your terminal as there is a recent update on the dependencies, followed by `npm run build`
3. Run the appengine.
I have not encountered the same issue as you but just to check that the above are not the cause to the issue

[2018-03-31 14:33] gthd commented on #8740
Hi @LuLechuan I checked all three points but the problem still persists.

[2018-03-31 17:07] shamlymackey commented on #8721
@Haozhe321 Sorry for the multiple questions, but just want clarity since I am fairly new to this. Is "teammates/src/main/java/teammates/common/datatransfer/attributes/FeedbackQuestionAttributes.java" the only file I need to change?

[2018-03-31 17:46] #8683 closed

[2018-03-31 21:22] bqnguyen94 commented on #8740
Just curious, if you go the directory using system explorer do you see the file `testng-failed.xml`?

[2018-04-01 04:52] jacoblipech commented on #8598
okay thank you @Haozhe321 I am working on this!

[2018-04-01 05:03] whipermr5 commented on #8740
That run config is only for rerunning failed tests that were originally launched from the command line, e.g. `./gradlew ciTests`. IntelliJ already has a built-in function for rerunning failed tests that were launched from within the IDE.

[2018-04-01 05:17] LiHaoTan commented on #8740
I guess for consistency we might want to allow IntelliJ to generate `testng-failed.xml` as well.

@gthd if you want to do this you can go to the run configurations -> Listeners -> Use default reporters.

If anyone is interested in improving this, maybe can refer to https://github.com/TEAMMATES/teammates/pull/7791/commits/5e6fd5ef284418dffe9de92fa67db65bbc37a650

[2018-04-01 06:02] Haozhe321 commented on #8721
@shamlymackey There's already a PR for this issue referenced above. But if you want to find out how it's done, you can take a look at that PR.

[2018-04-01 08:15] gthd commented on #8740
@bqnguyen94 There is no testing-output folder for some reason
![directory](https://user-images.githubusercontent.com/15031826/38171226-f1cf6850-359d-11e8-8d69-9f597b3da903.PNG)

[2018-04-01 09:16] #8709 closed

[2018-04-01 11:13] #84 closed

[2018-04-01 11:33] tshradheya opened #8744 "Fix indentation for test resource html pages to avoid irrelevant changes"
Issue title: Correct indentation of test resources webpage

- **Environment**: Current master branch 76ab9a02fb1c42b93e50adaf62ebeb59338a75cf

**Steps to reproduce**
1. Run GodMode which changes any of the mentioned files.

1. More details:
https://github.com/TEAMMATES/teammates/pull/8677/files#r178455003
I am assuming Godmode indents the HTML page as well. And I guess this page wasn't indented pr

[2018-04-01 11:58] tshradheya commented on #8744
@whipermr5 I am confused as to how the indentation is done for GodMode? Are there any rules that are specified for HTML?

Because if new contributors do this [process ](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md#project-setup-1)while setting up IDE, and then use Ctrl+Shift+I to indent [in intellij] more changes are made as the rules are different.

Current setting in my i

[2018-04-01 12:55] wkurniawan07 commented on #8744
@tshradheya Godmode has no regards for IDE indentation whatsoever and precisely because the objective is uniformity in as much cases as possible, if not all possible cases, so don't even try to auto-indent those HTML files with any IDE.

[2018-04-01 13:17] whipermr5 commented on #8744
Yup the cause of this issue is probably manual changes made to those HTML files such that the HTML differs from godmode output, but still passes the HTML comparison. I believe the indentation logic can be found in `HtmlHelper`.

[2018-04-01 13:21] whipermr5 commented on #8744
@wkurniawan07 I encountered this issue too when working on #8687; had to manually discard the indentation changes to avoid them showing up in the changeset, so I'd say it's a valid issue.

[2018-04-01 16:03] #8744 closed

[2018-04-01 16:35] whipermr5 commented on #8640
This is causing builds to fail between 12am - 8am SGT daily after #84 was merged 😅

[2018-04-01 21:33] amarlearning commented on #8726
@gthd If you are not working then I would like to take this one.

[2018-04-02 04:29] whipermr5 commented on #8415
@VamsiSangam Thanks for the reply! We've moved the discussion to #8714. Am I right in saying that `numOfMsqChoices` is used only for validation? I feel it should not be persisted to the datastore if that is so.

[2018-04-02 05:33] gthd commented on #8726
Hi @amarlearning its yours.

[2018-04-02 08:09] #6887 closed

[2018-04-02 08:44] #8695 closed

[2018-04-02 09:15] #8721 closed

[2018-04-02 09:43] amarlearning commented on #8726
Taking this one

[2018-04-02 09:52] #8717 closed

[2018-04-02 10:34] wkurniawan07 commented on #8694
@nashmia-riaz I may have an idea of what's happening, but does this still happen?
Also can I check that `5.6.0` is your Node.js version, not your NPM version?

[2018-04-02 16:05] #8664 closed

[2018-04-03 05:32] joanneong opened #8748 "Instructor: existing feedback sessions with fixed offsets: reduce occurrence of confirmation modals"
- **Environment**: `master` branch at commit dc85dd0

**Steps to reproduce**

After TEAMMATES have switched to auto-detecting the geographical time-zone, instructors are reminded of this new feature when they start a new feedback session/ when they first edit a feedback session.

<img width="1280" alt="screen shot 2018-04-03 at 1 30 45 pm" src="https://user-images.githubusercontent.com/24493463/38

[2018-04-03 05:39] damithc commented on #8748
The modal goes away after saving the session once?

[2018-04-03 05:43] sukanta-27 commented on #8748
Checked. @joanneong I suppose you have not saved the session. Once you save the session, it will go away.

[2018-04-03 06:31] damithc commented on #8748
Perhaps we should tweak the dialog such that  the options are `Correct` and `Not correct. I will modify it manually` and the first option saves the session automatically? Would that be a better UX? @whipermr5 what do you think?

[2018-04-03 06:34] #8716 closed

[2018-04-03 07:09] whipermr5 commented on #8748
@damithc Sounds good; I will implement that.

[2018-04-03 07:53] wkurniawan07 opened #8749 "Explore new JavaScript test framework"
To support browser-based QUnit tests like we are doing now, we have to bundle all the test files (and also production files) into one with Webpack, run all tests together, and read the test report including coverage. This workflow has many drawbacks (and it doesn't help that our JS code has almost 100% coupling to the DOM structure):
- There is no way to run a single unit test
- The "coverage" rep

[2018-04-03 11:27] #7884 closed

[2018-04-03 14:06] Vaggelis-Malandrakis opened #8751 "New contributor self intro Vaggelis Malandrakis"
My fork: https://github.com/Vaggelis-Malandrakis/teammates
My change:
I put in italics the words "updates" and "information".
![screenshot](https://user-images.githubusercontent.com/22797140/38254101-108ac900-3761-11e8-9f79-ee79f17e51a2.jpg)

Hi! My name is Vaggelis Malandrakis and I am in my bachelor at Athens University of Economics and Business. It is my first time as an open source code contri

[2018-04-03 15:27] #7919 closed

[2018-04-03 16:04] #8733 closed

[2018-04-03 16:57] nashmia-riaz commented on #8694
@wkurniawan07 I recently reset my laptop in hopes that it was a configuration issue on my machine, but it didn't go away.
I assume this is the correct way to check npm version (screenshot attached).
![capture](https://user-images.githubusercontent.com/13387692/38263445-915e7612-3789-11e8-81d1-40546aa3975d.PNG)

[2018-04-04 01:02] #8751 closed

[2018-04-04 02:57] wenmogu opened #8754 "Instructor: add a cancel button to terminate the process of adding instructor"
Currently there is no cancel button for the user to exit the process of adding new instructor.

![image](https://user-images.githubusercontent.com/28526038/38286154-61800ea2-37f6-11e8-8d06-f99bac9f61a9.png)

It would be nice if there is a cancel button just like the one which shows up when adding a new question.

![image](https://user-images.githubusercontent.com/28526038/38286205-a230ac90-37f6-11

[2018-04-04 10:51] damithc opened #8755 "Update usermap to match data for March 2018"
Similar to #8489

Entries to consider adding:

Australia | Curtin University
-- | --
Australia | Monash College
Australia | St Joseph's School Northam
Australia | The University of Western Australia
Australia | University of South Australia
Australia | University Of Technology, Sydney
Australia | University of the Sunshine Coast
Belgium | AP Hogeschool
Belgium | Erasmushogeschool Brussel
Belgium |

[2018-04-05 02:01] Luv2C0de commented on #8755
Hey @vsmasster are you still working on this? I can work on it if you're too busy!

[2018-04-05 02:57] jacoblipech commented on #8598
Hi @Haozhe321, sorry for the delay, I have added the incomplete questions message upon pressing the submit button. For the questions that have any empty messages, I will add the question index to an array and eventually, it will show the user all the incompleted questions in a string. It will look something like the image below:
<img width="960" alt="screen shot 2018-04-05 at 10 49 57 am" src="htt

[2018-04-05 03:14] damithc commented on #4345
This error is cropping up again. It will be good to fix as those who have many courses are the ones who need the search feature :-p

[2018-04-05 04:24] craaaa commented on #8635
@damithc am almost done with reworking the existing questions and would like to move on to adding new questions. Can you shed some light on any particular areas that instructors frequently find unclear?

[2018-04-05 06:13] jacoblipech commented on #8598
@Haozhe321 Thanks for the prompt reply. Right now, on top of the message shown, there is also a separate modal showing the incomplete questions message after the successful modal.

Personally, I think it looks good if I show the incomplete questions line together with the successful modal and add it after the "All responses have been successfully recorded" line.

![screen shot 2018-04-05 at 2 08 1

[2018-04-05 07:44] damithc commented on #8635
Some questions that comes to my mind:
* _When_ do students get to see responses?
* Can I change the visibility settings after the session has started? - Yes, but not recommended.
* Can students edit responses after they have submitted?
* Can I set a question as compulsory? - Not at the moment. But can mention in the question description that it is a compulsory question (not enforced).
* Can I exte

[2018-04-05 16:10] jacoblipech commented on #8598
Okay, I will work towards this style.

[2018-04-06 01:09] damithc commented on #8640
Just mentioning in case relevant: There are online global courses where students come from different countries. In those cases, it is better to show times based on the base location of the course, to match with announcements of deadlines by instructors. Trying to show times based on each student's location may lead to confusions. This is the reason why we detect timezone at course/session creation

[2018-04-06 01:49] Luv2C0de commented on #8755
@vsmasster sounds good. always here to help!

[2018-04-06 05:34] whipermr5 commented on #5928
Some discussion in another PR beginning here: https://github.com/TEAMMATES/teammates/pull/8750#issuecomment-379003464

[2018-04-06 07:04] damithc commented on #7796
Happened once today.

[2018-04-06 09:06] craaaa opened #8757 "Account: update setStudentProfile javadoc"
As mentioned in an #8326 [comment]( https://github.com/TEAMMATES/teammates/pull/8326/files/cb94e3c5fc827c80399c7638965efbb77c63dd01#r179655045)

[2018-04-06 10:05] ChrisMaxheart commented on #8757
Hi, if possible and no one is assigned to do this yet, I will like to do this
Thanks!

[2018-04-06 10:53] LiHaoTan commented on #2620
Here's a demo of how to replicate a case commonly happening in Appveyor (albeit rudimentary).

[![FeedbackNumScaleQuestionUiTest](https://img.youtube.com/vi/1plMdEaDvN4/0.jpg)](https://www.youtube.com/watch?v=1plMdEaDvN4)

[2018-04-06 12:13] LiHaoTan commented on #3853
This has been fixed as part of #8367.

[2018-04-06 12:13] #3853 closed

[2018-04-06 13:51] whipermr5 commented on #8748
Closing as the confirmation modal will be removed in #8759.

[2018-04-06 13:51] #8748 closed

[2018-04-06 16:43] #8757 closed

[2018-04-06 19:26] craaaa commented on #8671
Hi @ibodi, hope that you have had success setting up your dev environment. If you need further help, do reopen this issue or open another issue.

[2018-04-06 19:26] #8671 closed

[2018-04-06 19:28] craaaa commented on #8675
Closing as the issue will be fixed alongside #8635.

[2018-04-06 19:28] #8675 closed

[2018-04-07 01:30] damithc commented on #8452
Received a few more of this today. These are unlikely to be from test data.

[2018-04-07 19:37] sukanta-27 opened #8761 "Instructor: fix bug where session closed email copy is sent to the instructor even when it was not sent to students"
Noticed while working on #8447 (Specifically https://github.com/TEAMMATES/teammates/pull/8518#discussion_r179528642)
- **Environment**: `master` branch

**Steps to reproduce:**
- Login as Instructor
- Create a session with questions not answerable to students/ an empty session will do too.

Another easier way to reproduce this bug will be to modify a session in `typicalDataBundle.json` (e.g. `Inst

[2018-04-08 02:04] LuLechuan opened #8763 "Firefox: version 46.0.1 causing styling issue"
In the developer guide, it is stated that "only Firefox between versions 38.0.5 and 46.0.1 are supported". However, when the Firefox version is 46.0.1. One of the test `commonJsTest` is failing due to the following line:
![image](https://user-images.githubusercontent.com/28507005/38462116-9ceaf392-3b13-11e8-9500-d1b90f154326.png)
As I change the Firefox version to 46.0, the test passed.

[2018-04-08 18:39] tanhengyeow commented on #3659
Hi Prof @damithc

This issue seems like it has been fixed.

**Instructor preview as student**:
![image](https://user-images.githubusercontent.com/25320782/38471075-a930fc88-3b9e-11e8-820a-274f83ed0354.png)

**Student view**:
![image](https://user-images.githubusercontent.com/25320782/38471070-9c0be3c4-3b9e-11e8-84eb-adca1db8900a.png)

However, the `Submit Feedback` button is not greyed out for the

[2018-04-09 00:57] damithc commented on #3659
@tanhengyeow Ideally, it should be greyed out, although it is not a big issue. See if it can be fixed without too much work.

[2018-04-09 09:32] nashmia-riaz opened #8765 "Help Request: Trouble Setting Up On Intellij Idea"
I can't run the server in Intellij Idea.

- **Commit SHA:** 997ca701a2b19803457b1580c879fc117040fd42
- **Operating System:** Windows 10
- **JDK Version:** 1.8
- **Node.js Version:** v8.10.0
- **Google Cloud SDK Version:** 196.0.0
- **Eclipse / IntelliJ Version (if applicable):** Intellij Ultimate 2018.1

**What I was trying to do / What I need help with**
I am trying to set up the environment for

[2018-04-09 11:24] nidhi98gupta commented on #8701
@damithc Although the issue description says that average should be shown, but since same ranks can be given, I feel average rank is somewhat deceptive. Moreover we show normalized overall rank to instructor in results page.

Now to show overall rank we need all the responses of team members, so we will have to restrict visibility options in Rank Recipients Question to  `Show to recipient and team

[2018-04-09 11:46] damithc commented on #8701
That's true. How about this? If the visibility setting is permissive enough (i.e., if the ranks for all team members are in the results bundle), we show overall rank. Otherwise, we show nothing. @joanneong @wenmogu any inputs? I remember you worked on the overall rank feature.

[2018-04-10 03:54] wkurniawan07 opened #8768 "Remove JS coverage requirement"
The number is not 100% accurate and we're not enforcing it anyway, until #8749.

[2018-04-10 04:14] wkurniawan07 commented on #8763
Adding a note that this would probably be a non-issue after #8749.

[2018-04-10 04:17] wkurniawan07 commented on #8765
If it doesn't exist, that's a step in the setting up guide missed. Is it a problem where it actually exists but IntelliJ fails to recognize it?

[2018-04-10 06:26] tshradheya commented on #8708
@shreyag12 Seems like you have already worked on a `d.firstTimers` issue.

You can proceed to try out the `d.Contributors` issue. We dont recommend doing more than one `d.FirstTimers` issue

[2018-04-10 07:05] shreyag12 commented on #8708
Ok. Sure @tshradheya

[2018-04-10 07:40] wenmogu commented on #8701
Hi @nidhi98gupta thx for raising the issue and offering us ur thoughts. They are indeed valuable!
However I think we need to discuss the definition of `overall ranking` and what the user really wants...

I dont really get why we need all the responses of the team members... currently on the instructor side, even if not all students have submitted their responses, there is still `overall ranks` ava

[2018-04-10 11:57] joanneong commented on #8701
Thanks @nidhi98gupta for looking into this issue :)

It seems like there are two different ideas being floated now: (i) displaying average for rank questions, and (ii) displaying `overall ranking` for rank questions.

Personally, I feel that showing `overall ranking` makes more sense than average ranking because (i) `overall ranking` is harder to calculate (students can just calculate their averag

[2018-04-10 12:08] nidhi98gupta commented on #8701
@joanneong If we look at the Team Contribution Question, we need all responses to calculate perceived contribution and actual contribution which we show to the student. I believe we achieve this by setting the one of the two visibility options to `Show to recipient and team members` which enables responseBundle to have all the responses?

[2018-04-10 13:24] tshradheya commented on #8708
@Vaggelis-Malandrakis Yes. You can go ahead and resolve this :)

[2018-04-10 14:54] #8761 closed

[2018-04-10 15:54] #8541 closed

[2018-04-10 18:11] #5928 closed

[2018-04-10 18:30] joanneong commented on #8701
@nidhi98gupta You're right; I did miss out that particular option :)

That said, I believe that adding the `overall ranking` is still not as simple as what you mentioned above. For example, for team contribution questions, there are a number of additional methods to retrieve team results in `FeedbackContributionQuestionDetails.java` and even additional classes like `TeamEvalResult.java`.

But I gu

[2018-04-11 11:16] nidhi98gupta commented on #8701
@joanneong Addressing the valid concerns you have :)
1. Responses can be displayed on the students' end in the same way we do it in instructors' end.
![rt](https://user-images.githubusercontent.com/24381442/38613028-28428376-3da6-11e8-9c91-0a8c348b0ad1.png)

2. I have few questions regarding whether to extend this overall ranking for rank (options) questions as well. This is how we show statistics

[2018-04-11 18:47] nashmia-riaz commented on #8765
@wkurniawan07 I don't think I missed a step as I managed to fix the problem by downgrading my Intellij Idea to 2017.3.5.

[2018-04-12 04:09] #7633 closed

[2018-04-12 05:02] craaaa opened #8769 "Instructor: help page: add questions"
From https://github.com/TEAMMATES/teammates/issues/8635#issuecomment-378848376

Add the following questions and answers into `instructorHelp.jsp`:
- When do students get to see responses?
- Can I change the visibility settings after the session has started?
Yes, but not recommended.
- Can students edit responses after they have submitted?
- Can I set a question as compulsory?
Not at the moment. Bu

[2018-04-12 05:32] craaaa commented on #8504
Closed as scope is the same as #8635

[2018-04-12 05:32] #8504 closed

[2018-04-12 10:35] Vaggelis-Malandrakis opened #8771 "Exception by ControllerServlet when logging in as instructor"
Hi. I have successfully installed and run the application but yesterday that I tried to run the app at the localhost when I was trying to login as an instructor an exception appeared.

`Apr 12, 2018 1:33:10 PM teammates.common.util.Logger info`
`INFO: Request received : [GET] http://localhost:8080/page/instructorHomePage:{}`
`Apr 12, 2018 1:33:10 PM teammates.common.util.Logger info`
`INFO: User a

[2018-04-12 10:42] tanhengyeow commented on #6902
Hi @wkurniawan07 @shaharyar-shamshi

Thanks for the tips! Went on to work on other issues before coming back to this one :smile:

I figured out how to trigger the exceptions manually in the browser. If anyone is interested or following this, this is how to do it:

[code]
I submitted a PR for this fix, feel free to review! Initially I wanted to perform `assertEquals(expectedPage, actualPage)` but I

[2018-04-12 16:01] tanhengyeow opened #8772 "Student: submit feedback: feedback button not greyed out when there are no recipients for any questions"
Noticed this bug when verifying if #3659 is fixed.

**Steps to reproduce**
1. Add a session as an instructor to a course with one or more questions having **only** the following:
 `Feedback Path`: `Students in this course will give feedback on -> Giver's team members`
2. Add a student with no team members to the same course.
3. Attempt to submit feedback as the student.

**Expected behaviour**
`Su

[2018-04-12 16:02] tanhengyeow commented on #8772
Working on this!

[2018-04-12 19:08] J-Eisen commented on #8528
@joanneong @damithc Guess I'm adding on to the queue. If @gaurab4163, @heniam1, or @SamithDB haven't taken it on, I'd be happy to work on it!

[2018-04-12 19:09] joanneong commented on #8528
@J-Eisen please go ahead, it seems like there hasn't been progress on this yet :P

[2018-04-13 02:42] #8611 closed

[2018-04-13 03:13] joanneong commented on #8772
@tanhengyeow I do not actually see a problem with this. Right now, when we add such a question to such a course, the student sees this:

![image](https://user-images.githubusercontent.com/24493463/38714951-3df2f28a-3f0b-11e8-9532-3f6ab9d87826.png)

So let's say the instructor sets up a course for multiple teams, with one/some teams having a single member. In that case, those teams should be able t

[2018-04-13 07:15] tanhengyeow commented on #8772
Hi @joanneong @damithc

Thanks for the feedback :smile:

Let me walkthrough a scenario where it might confuse both instructors and students:

1. Instructor creates a course with the following teams and students:
![couse details](https://user-images.githubusercontent.com/25320782/38720670-bbbb7ae8-3f29-11e8-84f6-a798318ce9dc.png)

2. Instructor creates a feedback session in the course with one or m

[2018-04-13 07:27] tshradheya commented on #8772
Personally, I think this issue is too trivial.

Mainly because, if an instructor really goes for this feedback path: `Feedback Path: Students in this course will give feedback on -> Giver's team members`  **for all questions in a feedback session**, he would have ensured that all his teams are of `size > 1`.

Moreover, I doubt if TEAMMATES has received any feedback from any instructor who got conf

[2018-04-13 07:58] #3091 closed

[2018-04-13 08:06] damithc commented on #8772
You are right @tanhengyeow it can lead to confusions as you have described. In fact sometimes students get into a team-of-one by mistake due to slight typos in team name which can lead to this scenario. Nevertheless, I don't think it is worth fixing at this point as we have a lot more issues that are more useful to fix. Still, it is good that we discussed this and we have a record of the discussio

[2018-04-13 10:00] tanhengyeow commented on #8772
Noted! Appreciate the discussion! @joanneong @damithc @tshradheya :pray:

[2018-04-13 10:00] #8772 closed

[2018-04-13 10:01] tanhengyeow commented on #3659
Suggesting to close this issue since it has been fixed :smile:

[2018-04-13 10:44] tshradheya commented on #3659
Closing issue since its already fixed

[2018-04-13 10:44] #3659 closed

[2018-04-13 10:46] Crphang commented on #7532
Closing issue as source-maps are added.

[2018-04-13 10:46] #7532 closed

[2018-04-13 13:35] whipermr5 opened #8774 "Remove HTML sanitization in AccountAttributes"
Remove HTML sanitization in sanitizeForSaving in AccountAttributes as mentioned in #4588.

As the email address gets sanitized, a valid email containing `<>\/'&` would become an invalid email after sanitization, leading to failure when trying to persist an account with such an email.

- [ ] Remove HTML sanitization before saving while ensuring frontend works with both data formats; add data migrat

[2018-04-13 14:32] whipermr5 opened #8775 "AccountAttributes: remove HTML sanitization before saving for email"
As per #8774, sanitization of email will be performed during rendering if required.

Currently, a valid email containing `<>"/'&` would become an invalid email after sanitization, leading to failure when trying to persist an account with such an email.

[2018-04-13 16:07] #7726 closed

[2018-04-13 16:13] whipermr5 commented on #8771
Have you restarted the dev server after pulling?

[2018-04-13 16:29] whipermr5 commented on #8765
@nashmia-riaz I'm using IntelliJ Ultimate 2018.1 too and it's working fine, though I set up the project on an earlier version. Did you confirm that `appengine-web.xml` existed when you were on 2018.1?

[2018-04-13 17:03] #8775 closed

[2018-04-13 17:16] nashmia-riaz commented on #8765
@whipermr5 Apologies for not stating earlier. As far as I can tell, it wasn't being created on 2018.1. Only two folders (WEB-INF and META-INF) would get created in teammates.war.

[2018-04-13 17:19] whipermr5 commented on #8765
So `src/main/webapp/WEB-INF/appengine-web.xml` existed but was not copied over? Also, now that you've gotten it working in 2017.3.5, does it work if you upgrade to 2018.1? That would help verify the problem.

[2018-04-13 18:19] whipermr5 opened #8777 "Release V6.5.0"
Scheduled for April 14, 2018, 10.00am SGT.

[2018-04-13 19:36] #8731 closed

[2018-04-13 23:46] pedrolarben commented on #8215
Hi, I want to contribute to the project and I have been working on this issue. I have look to the whole code and I have found just 6 pieces of code where I can use _.putIfAbsent_, _.computeIfAbsent_. or _.computeIfPresent_.
Should I do a Pull Request with these changes?

[2018-04-13 23:54] nashmia-riaz commented on #8765
@whipermr5 yes, that is true. It does exist in src/main/webapp/WEB-INF/appengine-web.xml but is not copied over into the out folder.

The problem persists. Here's what I know:
1. I can't set up a new environment on 2018.1. It tells me that appengine-web.xml doesn't exist in the out folder. However, I can set up that same environment in 2017.3.5 without any errors.
2. (This is trivial but) I can ru

[2018-04-14 00:49] wenmogu commented on #8215
@pedrolarben yes sure. There r a lot of places for change. Just make sure what you find is not something in the ongoing PR for this issue :)

[2018-04-14 02:29] whipermr5 commented on #8777
[V6.5.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.5.0) has been released by @whipermr5 at April 14th, 2018, 10.22am SGT.

Code contributions from: @Bzdeco, @Crphang, @Ramez-, @SamVenkatesh, @bqnguyen94, @chweeee, @craaaa, @dalessr, @darrenwee, @gthd, @jacoblipech, @joanneong, @mbi90, @mg14777, @nidhi98gupta, @ongspxm, @shaharyar-shamshi, @sukanta-27, @tanhengyeow, @tran-tien-dat, @ts

[2018-04-14 02:33] whipermr5 commented on #8777
This release adds support for daylight saving time. Upon deployment, all sessions will automatically follow the course time zone.

[2018-04-14 05:00] darrenwee commented on #8645
Resolved by #8732

[2018-04-14 05:00] #8645 closed

[2018-04-14 05:38] damithc commented on #8777
Deployed. Thanks all for the good work 👍

[2018-04-14 05:38] #8777 closed

[2018-04-14 09:16] whipermr5 commented on #8774
@damithc Oops, #8775 only partially fixes the problem of single quotes not allowed in email addresses. While the admin is now able to create an account for an instructor with such an email address, the instructor will not be able to join the course because the Google ID is sanitised to become an invalid Google ID:

<img width="653" alt="screen shot 2018-04-14 at 5 16 10 pm" src="https://user-image

[2018-04-14 09:28] whipermr5 opened #8779 "AccountAttributes: Remove HTML sanitization before saving for googleId, name, institute"
As per #8774, sanitization of Google ID will be performed during rendering if required.

Currently, a valid Google ID containing `<>"/'&` (possible for a Google account with a non-Gmail email) would become an invalid Google ID after sanitization, leading to failure when trying to persist an account with such a Google ID.

[2018-04-14 11:47] darrenwee opened #8780 "TimeHelper: update documentation and standardize method naming"
1. `TimeHelper` utility methods need docs to be updated to be more useful and informative for other developers who will implement new features due to all the strange workarounds we have, like the `NOON` issue.
2. Method names are inconsistent now (e.g. `formatDateTime..` when the returned string does not contain time, or `formatDateTimeForSessions`, inconsistent naming like `formatDateForSessionsF

[2018-04-14 15:46] pedrolarben commented on #8215
@wenmogu cool. I'm going to create a PR with different changes of the ongoing PR :)

[2018-04-15 01:11] shaharyar-shamshi commented on #8779
Sir as I have solved one type of similar issue and currently working on one more issue of similar type . Can I work on this issue also ?

[2018-04-15 01:53] whipermr5 commented on #8779
@shaharyar-shamshi Sure!

[2018-04-15 03:02] #8606 closed

[2018-04-15 15:39] Vaggelis-Malandrakis commented on #8771
Problem still exits. Should I delete all the project and install it again?

[2018-04-15 15:43] whipermr5 commented on #8771
That should work, though it's a last resort.

[2018-04-15 15:44] Vaggelis-Malandrakis commented on #8771
Ok I'll follow the whole procedure from the beginning.

[2018-04-15 20:38] Vaggelis-Malandrakis commented on #8771
Works perfect! Thank you!

[2018-04-15 20:39] JonathanGin52 commented on #8215
Hey, I am also new to opensource projects and would love to contribute! Is this issue resolved?

[2018-04-15 22:05] Vaggelis-Malandrakis commented on #8708
Found a solution which can be implemented easily and without changing a lot but instead of

I implemented

which I believe is to the point and fully compatible with the suggested solution and solves the problem.

Can I proceed to pull request?

[2018-04-16 00:00] wenmogu commented on #8215
Hello @JonathanGin52 welcome to TEAMMATES :) yep this issue is almost resolved, you can try your hand on other first timer issues

[2018-04-16 00:07] JonathanGin52 commented on #8215
@wenmogu Thanks for the greeting 😄, I'll be sure to check out the other issues

[2018-04-16 00:35] #8449 closed

[2018-04-16 00:55] damithc opened #8787 "New instructors: set the time zone of the sample course to match user"
Steps:
1. Admin creates a new instructor
2. New instructor joins TEAMMATES
3. Upon joining, new instructor is given a sample course

Current: sample course is in UTC timezone
Suggested: set the timezone to user's time zone

Reason: Sample curse is used to create a first impression, it's nice if the time zone is set correctly.

[2018-04-16 03:04] damithc opened #8788 "InstructorFeedbackAddAction: NullPointerException"
v6.5.0

Noticed this in the live server. Only one occurrence so far but may be worth looking into

java.lang.NullPointerException
at teammates.common.datatransfer.attributes.FeedbackSessionAttributes.isPublished(FeedbackSessionAttributes.java:342)
at teammates.ui.pagedata.PageData.getInstructorPublishedStatusForFeedbackSession(PageData.java:632)
at teammates.ui.template.FeedbackSessionsForm.getFor

[2018-04-16 03:11] damithc commented on #8788
More data of the request:
[code]

[2018-04-16 04:17] whipermr5 commented on #8788
Manifestation of #8597.

[2018-04-16 04:46] whipermr5 commented on #8788
Upon further investigation, more related to #8293. The implementation did not take into account that when building a new form (to show the partially completed form), the feedback session attributes can contain invalid data.

[2018-04-16 05:54] damithc commented on #8788
How bad is it? Need an urgent hotfix?

[2018-04-16 05:57] whipermr5 commented on #8788
It can only be triggered by manually entering an invalid date into the published date field (but yes, entering arbitrary strings into the input is now allowed because of #8332 so it's quite easy to do so).

[2018-04-16 06:36] whipermr5 commented on #8765
@nashmia-riaz Thanks for the report! I was able to reproduce the issue upon performing a fresh setup on IntelliJ IDEA 2018.1:
<img width="990" alt="screen shot 2018-04-16 at 2 13 34 pm" src="https://user-images.githubusercontent.com/6811428/38793350-816c00e0-4183-11e8-8d67-45b6b4326292.png">

[2018-04-16 06:42] whipermr5 commented on #8765
Somehow the exploded war folder only contains these:
<img width="224" alt="screen shot 2018-04-16 at 2 39 11 pm" src="https://user-images.githubusercontent.com/6811428/38793489-0b4416ae-4184-11e8-97f4-78f764291e1b.png">

The expected behaviour is that it should contain all these:
<img width="252" alt="screen shot 2018-04-16 at 2 40 42 pm" src="https://user-images.githubusercontent.com/6811428/3879

[2018-04-16 07:05] whipermr5 commented on #8788
Done. Released as [V6.5.1](https://github.com/TEAMMATES/teammates/releases/tag/V6.5.1).

[2018-04-16 14:28] nashmia-riaz commented on #8765
@whipermr5 this is exactly the problem I faced. 👍

[2018-04-17 00:55] damithc opened #8790 "Instructor: edit session: allow making session visible from a future date"
v6.5.1

Steps:
1. Login as instructor
2. Edit an existing session
3. Try to set 'session visible time' of an existing session that is not open yet

Expected: allowed to choose a date that is up to the session opening date
Actual: only allowed to choose a date that is up to today

![image](https://user-images.githubusercontent.com/1673303/38842490-e2ae86a4-421c-11e8-8de3-f5a072f5159b.png)

I also n

[2018-04-17 01:00] damithc opened #8791 "Instructor: edit session: visible date: reject incorrect dates"
v6.5.1

Steps:
1. Login as instructor
2. Edit visible date of an existing session by modifying the text box (not the date picker)
3. Enter an incorrect date where the day doesn't match the date e.g., Take a valid date and change the date but not the day -- Apr 19th is not a Tuesday
![image](https://user-images.githubusercontent.com/1673303/38842610-9090c4f8-421d-11e8-8f62-9e081d1e17e3.png)

4. Sav

[2018-04-17 01:06] damithc opened #8792 "Instructor: edit session: show a spinner while saving session"
v6.5.1

Steps:
1. Login as instructor
1. Edit session details
1. Save

![image](https://user-images.githubusercontent.com/1673303/38842793-704c8ece-421e-11e8-9151-156930f02c41.png)

Current: The `save changes` button stays active and can be clicked multiple times while the saving is in progress
Suggested: Disable the button while the saving is in progress and show a spinner e.g., `saving...`. I be

[2018-04-17 01:06] damithc commented on #8788
Deployed

[2018-04-17 03:13] shaharyar-shamshi commented on #8792
Sir I am working on this by adopting the appraoch of autocorrection

[2018-04-17 03:14] shaharyar-shamshi commented on #8791
Sit I am working on this by adopting the appraoch of autocorrection

[2018-04-17 03:54] whipermr5 commented on #8791
If the page is reloaded, a valid date should show up. The field is just not getting updated upon submit because it happens over AJAX. @shaharyar-shamshi a good way to solve this would be to ride on the existing resolved time fields in the JSON response, introduced in #8687. The frontend code for updating the fields dynamically upon submit is already written (originally meant for ambiguous date tim

[2018-04-17 04:25] damithc commented on #8790
it's possible that it went undetected for long because it's a rarely used feature. Even when someone tried to use it, they may have encountered this problem and given it up thinking that its their fault or that's how it's meant to me. Even the user who contacted me today about this was not sure if it was a bug or if she was doing something wrong. Furthermore, the problem doesn't happen if the star

[2018-04-17 04:29] whipermr5 commented on #8790
I'm okay with hotfixing it actually; I haven't merged #8789 back into master yet (in anticipation of more hotfixes haha).

[2018-04-17 05:14] shaharyar-shamshi commented on #8791
@whipermr5 sir actually I am introduction a the method in Timehelper to match the day and date if they are wrong then I am changing the day to match it with the date

[2018-04-18 05:27] tshradheya opened #8794 "FeedbackRankQuestionUiTest.json: Fix data for Tests"
Problem spotted in #8710.

The `FeedbackRankQuestionUiTest.json` has a problem in the data used for the test case.

These are the four students which are in the data.
**Alice and Benny** belong to _Team1_ and **Charlie and Danny** belong to _Team2_.
https://github.com/TEAMMATES/teammates/blob/6157ad411338974355998471d034523472c2d191/src/test/resources/data/FeedbackRankQuestionUiTest.json#L100-L136

[2018-04-18 21:45] douihechmaha opened #8795 "Refactoring in RemoteApiClient.java class"
#code Enhancement
I have found ,currently,  this block of code ,i think we should move it  out of this class. it should be written in another new  class.
![codetechnique](https://user-images.githubusercontent.com/24609502/38961144-80b7f38a-4367-11e8-8efd-51e9249fcd2a.png)

[2018-04-18 21:56] sukanta-27 commented on #8795
Hi @douihechmaha, Welcome to TEAMMATES.

 Please use a proper issue template in your issue description to provide us more information. Your issue description is unclear.

If this is a feature request then please follow [this](https://github.com/TEAMMATES/teammates/blob/master/.github/ISSUE_TEMPLATE/feature-request.md) template
in case of a bug report follow [this](https://github.com/TEAMMATES/team

[2018-04-18 22:02] douihechmaha opened #8796 "codeQuality:fix nested for-loops"
# Code Enhancement
I think that we need to transform the nested for-loops  with  forEach since we use java8.
i have noticed there are too many so we should fix them .

[2018-04-19 03:51] whipermr5 commented on #8765
The problem seems to be fixed in 2018.1.1 (it was probably [this issue](https://youtrack.jetbrains.com/issue/IDEA-189112)). @nashmia-riaz can verify?

[2018-04-19 03:59] joanneong commented on #8796
Hello @douihechmaha , thanks for the suggestion :)

However, it would be good if you can point out some examples of where this occurs so that we can look into whether these for-loops are worth replacing. Are you referring to any scenario in particular? For example, #8216 dealt with using `forEach` to replace iterating through map entries.

P/S You might want to read and follow the issue template t

[2018-04-19 07:16] douihechmaha commented on #8795
Hi @sukanta-27 ,thanks for your comment.

Context : In fact, it is not the job of RemoteApiClient.java to determine if one is in local (.isDevServer) or normal mode.

Solution : I suggest putting this block of code in an apart class.so when we get in RemoteApiClient.java class we know already whether we are in local or normal mode.

PS:this is only for Code quality enhancement .

[2018-04-19 08:33] tran-tien-dat opened #8797 "Use Content-Security-Policy"
This will strengthen TEAMMATES' defense as only resources from a selected list of domains will be loaded by the browser.

[2018-04-19 14:42] wkurniawan07 commented on #8795
@douihechmaha, I'm not convinced that your suggestion works. Why is it so important that "when we get in `RemoteApiClient.java` class we know already whether we are in local or normal mode"? Can you give a concrete example and a solid reasoning on why your design will be better?

[2018-04-19 14:44] wkurniawan07 commented on #8796
@douihechmaha if you're talking about converting `for (String str : strings) { ... }` to `strings.forEach(str -> ...)`, I'd advise against it because it has no obvious benefit.

[2018-04-19 17:42] nashmia-riaz commented on #8765
Yes, I can confirm. Local server is up and running now.

[2018-04-19 18:01] Clarke92 commented on #8528
Hi there, is this issue still available, because i would really love to fix one for you guys!

[2018-04-19 18:29] joanneong commented on #8528
@J-Eisen Are you still working on this?

[2018-04-19 18:38] J-Eisen commented on #8528
Yep! Should be submitting the PR today.

[2018-04-19 19:56] HoussamGHAZALA commented on #8792
Hi @davel37 , are you still working on this issue or can i take it ?

[2018-04-19 20:55] HoussamGHAZALA commented on #8216
Hello @joanneong is this issue fixed by someone ?

[2018-04-19 21:50] davel37 commented on #8792
Was on holidays till today, so just started. Hoping to create the pull request by Monday 😃

[2018-04-20 03:58] pmanjunath29 commented on #8509
My apologies for asking this question, but if a PULL request has already been raised, why does the issue still show as unassigned. I am new to open source contribution, so forgive me if it is a naive question.
Thanks

[2018-04-20 04:05] joanneong commented on #8509
@pmanjunath29 Please feel free to take this up if you want to - the pull request has been closed due to inactivity :)

[2018-04-20 04:07] joanneong commented on #8216
Hello @HoussamGHAZALA , this issue has already been closed :) Please look for another open issue to work on :)

[2018-04-20 06:01] whipermr5 opened #8799 "Warn if cookies are disabled"
The current design depends on the session object for status message passing and token verification. Since the session object depends on cookies, status message passing and token verification will fail if cookies are not enabled. We can display a prominent warning if cookies are detected to be disabled, similar to the warning shown when JavaScript is disabled.

[2018-04-20 07:01] whipermr5 opened #8800 "Remove the need to specify application URL in build.properties"
The value can be automatically read from GAE's [App Identity API](https://cloud.google.com/appengine/docs/standard/java/appidentity/), which also works on the dev server. This way, there is no need to replace the base URL with `localhost` when testing links on the dev server.

[2018-04-20 14:59] craaaa commented on #8769
Additional questions:

- How can I resend links to view session results?
- A student says h/she did not receive the link to submit responses. What do I do?
- Is TEAMMATES free? How long is it going to stay free?
- Is data of my courses in TEAMMATES used for research? Are they shared with third parties?
- Is TEAMMATES compliant with international data protection laws?
- Does TEAMMATES cater for day

[2018-04-20 18:33] #8771 closed

[2018-04-20 18:37] Vaggelis-Malandrakis commented on #8754
Is this issue still open?

[2018-04-20 19:39] sukanta-27 commented on #8754
Hi @Vaggelis-Malandrakis,
There is already an open PR for this issue, you can find another issue to work on.

[2018-04-20 20:29] Vaggelis-Malandrakis commented on #5704
@jimmyshephard Are you still working on this? If not, I would like to solve it

[2018-04-21 02:09] #8723 closed

[2018-04-21 13:24] Vaggelis-Malandrakis commented on #5704
@damithc Do you know if this issue is open?

[2018-04-21 13:35] damithc commented on #5704
@Vaggelis-Malandrakis Yes, it is open.

[2018-04-21 14:06] #8475 closed

[2018-04-21 15:48] jimmyshephard commented on #5704
Anyone interested can go ahead, won't be able to look at this for a while

[2018-04-21 15:59] whipermr5 opened #8803 "AccountAttributesTest: fix instability due to modified timestamp comparison"
Similar to #8709, but for `testToString()`.

[2018-04-21 17:11] gthd commented on #8797
@tran-tien-dat  I would like to work on this issue. Are there any previous similar issues that I can consult on how to move on.

[2018-04-21 17:25] tran-tien-dat commented on #8797
I don't think there are any similar issues before. You can google about CSP
to know how to use it.

On Sun, 22 Apr 2018, 01:11 gtheodorou, <notifications@github.com> wrote:

[2018-04-22 02:06] #8800 closed

[2018-04-22 14:29] gthd commented on #8797
@tran-tien-dat can you supply me with the list of trusted domains because I don't know which domains are to be trusted by the app and which not

[2018-04-22 14:56] tran-tien-dat commented on #8797
If I’m not wrong, Teammates should trust its own domain (which will be different depending on whether it’s running on the real server, staging server or in the local server) and JsDelivr. But you shouldn’t trust me and check out all the *.jsp files to see which javascript files are being loaded, and from where. Inline scripts should be forbidden, so you will need to check that there’s no occurrenc

[2018-04-22 16:48] douihechmaha commented on #8509
Hi @joanneong , I am a new contributer and i want to work on this issue if it is possible .thank you :)

[2018-04-22 23:41] douihechmaha commented on #8509
thank you @sukanta-27. Ok ,i will ask @pmanjunath29 if he can let me fix this issue :) .

[2018-04-23 00:55] douihechmaha commented on #8509
Hi @sukanta-27 , i have made some modifications locally to fix this issue. And i would like to test but i have not an instructor account yet. Is there any way to test  on dev server without an instructor account ?

If not, I have just sent an 'instructor account' request with my official mail (knowing that i am just a university student).  is it the right way to get the account?

thank you.

[2018-04-23 01:04] sukanta-27 commented on #8509
@douihechmaha
You don't need to send any requests for instructor account, you can set up an account in Dev server by following [this](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance) process.

P.S. It is a good idea to read the whole document not just the part I mentioned as it contains a lot of information that are helpful to new contribut

[2018-04-23 01:29] douihechmaha commented on #8509
@sukanta-27 ,
I am already following the same steps . I logged in as an administrator, and put credentials for an instructor as shown in the example .but the button 'Add instructor' doesn't work for me: When I click
![screenshot from 2018-04-23 03-14-49](https://user-images.githubusercontent.com/24609502/39102697-7ca4bb38-46a6-11e8-8f22-ac42412ee04f.png)
 nothing happened.

[2018-04-23 05:12] sukanta-27 commented on #8509
@douihechmaha Can you confirm that you ran `npm run build`? If you haven't, can you run the command and then restart the Dev server to check if the problem goes away?

[2018-04-23 12:48] douihechmaha commented on #8509
@sukanta-27 I did what you told me and the button 'add instructor' works .the instructor is successfully created .
but when I open the join link i have 404 error. and when I tried to log in as this (created) instructor ,it doesn't work .
![screenshot from 2018-04-23 14-28-07](https://user-images.githubusercontent.com/24609502/39126761-7cdb191e-4703-11e8-880a-705d3bf08069.png)

[2018-04-23 13:51] sukanta-27 commented on #8509
@douihechmaha change `https://teammates-john.appspot.com` part in the join Link's URL to `http://localhost:8080/`

[2018-04-24 00:50] #8803 closed

[2018-04-24 03:04] #8447 closed

[2018-04-24 03:07] whipermr5 commented on #8509
Or, you can update to the latest master, restart the dev server and simply click on the link. #8801 has taken care of this.

[2018-04-24 16:27] douihechmaha commented on #8509
thanks @sukanta-27,it works . @whipermr5 ,okey

[2018-04-24 23:57] douihechmaha commented on #8509
Hi ,I fixed the issue(look at the attached image ).
![screenshot from 2018-04-25 01-39-37](https://user-images.githubusercontent.com/24609502/39219582-b48612aa-482b-11e8-9ceb-fc44cb5d79d7.png)

I just have one problem. when I did modifications on the project* ,these modifications do not appear on the wanted page [http://localhost:8080/page/instructorFeedbackEditPage?courseid=2018Semester2&fsname=F

[2018-04-25 07:59] #8648 closed

[2018-04-25 14:19] douihechmaha commented on #8509
Any help please ?
if I was not clear I can explain again.

[2018-04-25 15:03] #8209 closed

[2018-04-25 18:17] yatri1609 commented on #8755
Hey, is this still open for contribution? If so I would like to work on it. Thank you.

[2018-04-25 18:54] shaharyar-shamshi commented on #8755
@yatri1609 as this has already open PR kindly work on other first timer issue.

[2018-04-25 19:01] shaharyar-shamshi opened #8805 "AboutUs and Readme.md: Acknowledge GSoC2018"
There are two issue to solve
1) under the banner of Google summer of codes "and" is repeated twice
2) Refering GSoc 2018

This could be decent first timer issue

[2018-04-26 17:31] yatri1609 commented on #8755
@shaharyar-shamshi almost all are open so do you have any other issue I can work on ? According to you. It will be nice of you to guide me since I'm new to it.

[2018-04-26 19:33] sukanta-27 commented on #8755
@yatri1609 Not all `d.FirstTimers` issues have open PRs. Like #8589 and #8465. You are free to work on any one of these issues.

Also please go through [Process](https://github.com/sukanta-27/teammates/blob/master/docs/process.md) document to know about the workflow. Looking forward to your contribution. :)

[2018-04-27 12:09] yatri1609 commented on #8536
Is this still open or has it been already solved in issue #8442? @damithc

[2018-04-27 12:25] tshradheya commented on #8536
@yatri1609 Now that you have already attempted a `d.FirstTimer` issue, you should move on to `d.Contributors` issues to work on more challenging stuff

[2018-04-27 12:26] yatri1609 commented on #8536
@tshradheya  Okay thank you :-)

[2018-04-28 07:52] douihechmaha commented on #8509
Hi,
I would like to explain to you how i figure out the problem :
The problem was in the file called 'feedbackQuestionRankRecipientsEditFormTemplate.html'
In this project you used a spatial organization called Bootstrap grid (which is a 12-column split proportional to the width of the window, we can organize the content of this grid ;we can insert an element, for example, a container of width 6 co

[2018-04-28 10:41] ryanmccauley211 commented on #8465
I would like to take this on as my first issue!

[2018-04-28 11:04] shaharyar-shamshi commented on #8465
@ryanmccauley211 you can take up this issue Looking forward to have  pull request from you

[2018-04-28 11:45] joanneong commented on #8509
@douihechmaha If you feel like you are ready to make a pull request, go ahead and open one against teammate's master branch :) Do remember to follow the procedure [here](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#step-4-submit-a-pr).

[2018-04-30 19:09] pragin opened #8810 "“gradlew setupEclipse” throws an error?"
- **Commit SHA:**
- **Operating System:** OS X El Capitan
- **JDK Version:** Idk 1.8.0_60
- **Node.js Version:** v10.0.0
- **Google Cloud SDK Version:** 199.0.0
- **Eclipse / IntelliJ Version (if applicable):** Eclipse Oxygen Java EE  IDE
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
Hi, I am following [https://github.com/TEAMMATES/teammates/b

[2018-05-01 14:40] wkurniawan07 commented on #8810
@pragin I checked your forked repo and it has not been updated since mid 2016, a lot of things have changed since then. Do sync your fork with the latest.

[2018-05-01 16:53] #8805 closed

[2018-05-02 07:43] shaharyar-shamshi opened #8811 "InstructorFeedbackSessionsPageUiTest: New Session start and end with past date"
Level : critical
Description:
New session is start and ended on may 1st 2018 so every test case that run after that will automatically fail as instead of Awaiting session is closed.

[2018-05-02 07:51] tshradheya commented on #8811
More details here:

[Travis Log Line 2631]( https://travis-ci.org/TEAMMATES/teammates/builds/373550686#L2631)

[2018-05-02 09:49] #8811 closed

[2018-05-02 10:36] #8708 closed

[2018-05-02 12:30] #8780 closed

[2018-05-02 17:00] Niladri45 commented on #8799
Hi,
I would like to work on this issue. Let me know how to proceed for the same.

[2018-05-03 06:17] #8790 closed

[2018-05-04 02:48] J-Eisen commented on #8528
Hey @joanneong. I'm clearly missing something here. Build is still failing from a missing html update. Looks like InstructorFeedbackEditPageUiTest is failing since the instructorFeedbackResultsAjaxByQuestion isn't matching with the updated html files. I've run ciTests with godmode on both through eclipse and terminal but the files don't seem to update. Maybe I'm not implementing godmode correctly?

[2018-05-04 12:55] wkurniawan07 commented on #8796
@douihechmaha Closing due to lack of information. Feel free to reopen/request for reopen when more information can be provided.

[2018-05-04 12:55] #8796 closed

[2018-05-04 12:55] wkurniawan07 commented on #8795
@douihechmaha Closing due to lack of information. Feel free to reopen/request for reopen when more information can be provided.

[2018-05-04 12:55] #8795 closed

[2018-05-04 14:24] damithc opened #8814 "Update user map for April 2018"
To be done after (and similar to) #8755

New entries to consider:

Australia | Curtin University
-- | --
Australia | Charles Sturt University
Australia | Melbourne Business School
Australia | Monash University
Australia | Southern Cross University
Australia | Swinburne
Australia | Swinburne University of Technology
Australia | University of Melbourne
Australia | University of South Australia
Austr

[2018-05-06 21:54] pragin commented on #8810
@wkurniawan07 thanks for pointing that out. To be honest I deleted the old repository from my PC and Mac then tried to fork before I opened up this issue but still it did not work. I tried to clear my cache, deleted the local repository and tried cloning "Eureka" it worked :). Thanks

[2018-05-07 15:06] damithc opened #8817 "Student: feedback submission: distribution points question: explain if equal points are not allowed"
v6.5.1

Scenario:
A session has a 'distribute points' question. It requires all points to be different
![image](https://user-images.githubusercontent.com/1673303/39708694-6b21b104-524a-11e8-8afe-8920d690858e.png)

Current: When a respondent is submitting responses, the submission is rejected if the student gives equal points to all recipients, which is the correct behavior. However, the question d

[2018-05-07 18:10] shekhar-anshu commented on #8814
I want to take it up @damithc. A good one to start with.

[2018-05-08 17:33] jimmy51997 commented on #8755
hey @vsmasster , did u complete your work on it? can u tell me how u started?? I am to start working on similar issue...#8814

[2018-05-09 02:01] shekhar-anshu commented on #8814
Ok @jimmy51997 , in that case please go ahead.

[2018-05-09 05:11] jimmy51997 commented on #8814
okk... @shekhar-anshu

[2018-05-09 05:39] jimmy51997 commented on #8755
@damithc can i start working on this issue?

[2018-05-09 06:25] vsmasster commented on #8755
PR solving this issue is waiting for review, so there is nothing to do.

[2018-05-09 06:37] jimmy51997 commented on #8755
okkk... @vsmasster how to know that a review is awaited?? and one more thing, some entries are mentioned twice...did u copy it twice in the file..or just once?

[2018-05-09 12:35] #8635 closed

[2018-05-09 14:06] jimmy51997 commented on #8794
@tshradheya ...is this issue still open?? I would like to work on it.

[2018-05-09 17:44] tshradheya commented on #8794
There is already an open PR which has done most of the work already

[2018-05-09 18:02] jimmy51997 commented on #8794
@tshradheya how to know that there is an open PR on any issue??

[2018-05-09 19:56] jimmy51997 commented on #8817
@damithc ..... I would like to work on this issue.... anywhere I can get help from?

[2018-05-10 02:09] tshradheya commented on #8794
It will be referenced in the issue thread with the same title as the issue

E.g.
![image](https://user-images.githubusercontent.com/12574756/39848568-3f337e1e-543a-11e8-9572-71329a79910b.png)

[2018-05-10 10:31] sukanta-27 commented on #8817
@jimmy51997 As you are a first time contributor, I would advise you to start by taking one of our `d.FirstTimers` issues to get familiar with the codebase and workflow. But if you strongly feel that you want to take this issue, then you can also do that.

[2018-05-10 13:56] jimmy51997 commented on #8817
@sukanta-27 Every first timer issue seems already to be taken up....what should i do?? Say if i necessarily want to work on this issue, How to start?

[2018-05-10 14:16] sukanta-27 commented on #8817
@jimmy51997 Figuring out what to do is a part of the task.

I hope your work environment is set and you have run the app in dev server. If you haven't, do that first.
Then find out which files needs to be modified to solve this issue, modify them, update html documents with [GodMode](https://github.com/TEAMMATES/teammates/blob/master/docs/godmode.md), run tests, make sure all tests are passing. Th

[2018-05-10 14:18] jimmy51997 commented on #8817
@sukanta-27 I have set up the environment.........Thanks for the input.

[2018-05-10 14:25] jimmy51997 commented on #8817
@sukanta-27 ....Are u sure it doesn't have an open PR?? If not how to know if it has an open PR or not? one more thing...does this project have a chat channel?

[2018-05-10 14:32] Crphang commented on #8817
@jimmy51997. Yes, no open PR is opened for it. You can look at the issue to see if a referenced PR is created to address it. A PR that fixes the issue should have '#issue_id' in the PR title and description.

[2018-05-10 14:34] jimmy51997 commented on #8817
@Crphang thanks...I think i got it now.

[2018-05-10 14:45] sukanta-27 commented on #8817
@jimmy51997 For TEAMMATES, the issue tracker acts as a chat channel. If you have any problem or want to reach out to other developers (Like a help request, feature request etc), then you can open an issue for it. Do remember to follow the appropriate issue template while creating a issue.

[2018-05-10 18:09] jimmy51997 opened #8818 "Cant find the file to be modified"
- **Commit SHA:**
- **Operating System:**
- **JDK Version:**
- **Node.js Version:**
- **Google Cloud SDK Version:**
- **Eclipse / IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**

**Attempts to resolve the problem**

[2018-05-10 18:11] #8818 closed

[2018-05-10 18:12] jimmy51997 opened #8819 "Cant find the proper files to modify for an issue (#8589)"
- **Commit SHA: 8973e8e7402d20f6f097511f5668aba894f56718**
- **Operating System: Win 10**
- **JDK Version:jdk 1.8.0_171**
- **Node.js Version: v8.11.1**
- **Google Cloud SDK Version: 200.0.0**

**What I was trying to do / What I need help with
I was looking for the file containing the source code for the page student profile that opens when we click on the profile tab of a student. I can't find th

[2018-05-10 20:13] sukanta-27 commented on #8819
@jimmy51997 It will be better if you start by first reading the documentations and figuring out the project structures and how TEAMMATES function. The [Design](https://github.com/TEAMMATES/teammates/blob/master/docs/design.md) documentation will be a great place to start.

Also as I mentioned above, figuring out which files to modify is part of solving the issue. So, you should try figuring out by

[2018-05-10 20:15] jimmy51997 commented on #8819
@sukanta-27 okk...I am trying.

[2018-05-11 08:43] jimmy51997 commented on #8819
@sukanta-27 .....the Design documentation you pointed out didn't help a bit.....honestly speaking, it was too tough for me to understand.

[2018-05-11 09:36] nidhi98gupta commented on #8819
@jimmy51997 You can try searching for keywords in the codebase to find where and how exactly it is used.
For eg. here you can search for `Upload a profile picture` i.e. the wordings of the tooltip you want to change.

[2018-05-11 09:49] jimmy51997 commented on #8819
ohkk...thanks @nidhi98gupta

[2018-05-11 10:44] jimmy51997 commented on #8589
@sukanta-27 ....I have finished working on this issue, I have run all the tests and they ran successfully.....the next step is to try pushing the changes to the master branch, right?

[2018-05-11 12:04] sukanta-27 commented on #8589
@jimmy51997  Yes. :+1:

[2018-05-11 14:41] jimmy51997 commented on #8589
when i try to push the changes to the main repo...it says "unable to access 'https://github.com/TEAMMATES/teammates.git/': The requested URL returned error: 403".
![push](https://user-images.githubusercontent.com/24703162/39930086-5de95f18-5557-11e8-8616-f890c4a36a28.png)

Do i need to issue a pull request first??

@sukanta-27

[2018-05-11 14:44] Crphang commented on #8589
@jimmy51997 you can take a look at our process guide https://github.com/TEAMMATES/teammates/blob/master/docs/process.md

[2018-05-11 14:47] jimmy51997 commented on #8589
yes @Crphang , that is what I am following now....it says to push changes to remote in point 4 of step 3. That's what I am trying to do.

[2018-05-11 14:50] Crphang commented on #8589
@jimmy51997 It seems like you're not pushing to your fork.

[2018-05-11 14:55] jimmy51997 commented on #8589
I should have my own version of project on my git-hub account....and I should be pushing there?? Is that what you mean?? @Crphang

[2018-05-12 12:34] shekhar-anshu commented on #8814
There are two entries, which one to keep?
[code]

[2018-05-12 14:58] damithc commented on #8814
Check their own website to see which one they use.

[2018-05-13 13:48] damithc opened #8822 "Instructors: sessions page: fix 'resend link to view results'"
v6.5.1, Chrome

Steps: Login as instructor, go to the 'sessions' page and try to resend links to a published session.

![image](https://user-images.githubusercontent.com/1673303/39967929-0592b6ec-56f7-11e8-9079-e901ce5ee1d7.png)

Expected: a modal opens up to select recipients

Actual: nothing happens

This feature seems to work on the instructor home page but on in the sessions page.

[2018-05-13 13:58] damithc opened #8823 "Instructor: remind particular students: give a way to mass select"
Current: instructors can choose `Remind` -> `Remind particular students` to send reminders to specific students.

Suggested: In the modal that opens up, give check boxes to select/unselect groups of students.
`[ ] all  [ ] all not submitted`
![image](https://user-images.githubusercontent.com/1673303/39967998-754ac780-56f8-11e8-8f33-8e56f5515dc5.png)

[2018-05-13 14:09] damithc opened #8824 "Instructor: edit rubric question: tweak UI to prevent misunderstanding of weights"
v1.5.1

Current: Instructors can set rubric question as shown below, thinking that it would make the options _weighted_
![image](https://user-images.githubusercontent.com/1673303/39968075-c03bb29e-56f9-11e8-925b-4518ed341966.png)

whereas the expected correct setting is as follows:
![image](https://user-images.githubusercontent.com/1673303/39968082-ebf14b4c-56f9-11e8-8ba6-5ea082412d10.png)

I have

[2018-05-13 14:38] sukanta-27 commented on #8824
@damithc Sir, just to be sure, the instructors are setting the weights in the `choices` boxes without checking the checkbox right?

[2018-05-13 15:04] damithc commented on #8824
Yes.

[2018-05-13 15:11] damithc commented on #8824
The good news is weights can be added even later, without deleting the existing responses :-)

[2018-05-13 16:47] nidhi98gupta commented on #8822
@damithc I would like to take up this issue.

[2018-05-14 00:12] damithc commented on #8822
Sure @nidhi98gupta

[2018-05-14 08:43] mg14777 commented on #8824
@damithc Sir, I will work on this

[2018-05-14 09:01] smanaqvi83 opened #8826 "When I try to configure it is showing two configurations."
Whenever I try to configure the project for Google Cloud I get the two configurations, I have followed exact instructions that were given on the setting up.md.
![capture](https://user-images.githubusercontent.com/6833890/39987564-914bd3d0-577e-11e8-901f-4d476d60e17d.PNG)

And even if I try to run it with only selecting google cloud, there is no artifact shown in google cloud configuration, there i

[2018-05-14 09:06] tshradheya commented on #8826
Instead of just selecting `Google cloud` and clicking `Okay`, you should wait for syncing to finish and then you won't find the second option

Wait for the entire syncing/indexing to over and then click on `Configure` again ( In events centre)

[2018-05-14 09:06] mg14777 commented on #8787
@damithc I will take this issue

[2018-05-14 09:15] smanaqvi83 commented on #8826
Tried it several times. Even when indexing is totally done.

[2018-05-14 09:32] jacoblipech commented on #8823
@damithc I will be working on this issue

[2018-05-14 10:01] mg14777 commented on #8817
I would like to work on this issue

[2018-05-14 17:16] sukanta-27 commented on #8824
![screenshot 489](https://user-images.githubusercontent.com/10681755/40012475-7029e224-57c8-11e8-92a2-86a6bb061384.png)

@damithc Sir, does this UI look good? I haven't modified the Javascript yet, just the layout.

[2018-05-14 19:46] sukanta-27 opened #8828 "Rubric questions: Add front-end validation for choices"
**Environment**:
`master` branch

**Steps to reproduce:**
- Login as Instructor
- Edit an existing session or create a new one
- Add a new Rubric question
- click on `add column`
- Do not enter the choice and descriptions
- click `save`

**Expected behaviour:** Like `Subquestion` has front-end validation, the `choices` should have front-end validataion too, and an instructor should not be allowed

[2018-05-15 00:02] damithc commented on #8824
Looks good. May be no need to bold?
How hard is it to take out of that 0,0 cell and put above the grid? That's where we usually show settings.

[2018-05-15 00:10] damithc commented on #7171
I don't think this will be used in near future. Putting on hold.

[2018-05-15 00:10] #7171 closed

[2018-05-15 01:46] tshradheya commented on #4317
@LiHaoTan Can you help me in understanding how this can be done?

Here is what I have in my mind:

[code]

[2018-05-15 06:45] #8768 closed

[2018-05-15 08:46] damithc commented on #8824
Yes, in that case a check box might work. The label should be indicate the true state of the option

e.g., `[ ] choices are weighted`

[2018-05-15 13:33] mg14777 commented on #8817
@damithc Sir, is this what you had in mind ? I made use of the `instructions` parameter in `FeedbackSubmissionEditQuestion` and modify it when the checkbox you highlighted above is ticked.
Another thing worth mentioning is that once a user starts allocating points the status does mention that same number of points shouldn't be given multiple times.
![distribute-unequal](https://user-images.githubu

[2018-05-15 13:43] damithc commented on #8817
hmm... this is a neat way to get the job done but I'm a bit reluctant to piggy-back of visibility information for two reasons:
* It feels like a 'trick' or a 'clever shortcut'. It is better to avoid such tricks to maintain the simplicity of the code.
* Some users may automatically disregard text in gray thinking that it is a visibility explanation.

From a UIX point of view, it feels like the new

[2018-05-15 17:38] tshradheya commented on #4034
@wkurniawan07 Would want your input on this.
Would this task involve running `teammates.test.cases.testdriver` tests at the very start(can be done using priority) and then adding more assertion checks to `TestPropertiesTest` ?

I am not quite sure what you mean by this. I assume its a way to make the `testdriver` directory tests to run first.

What kind of defects exactly? Would passing of all `te

[2018-05-15 19:55] mg14777 commented on #8817
@damithc I have changed it. I agree the visibility is poor. I was trying to make minimal changes to code to accomplish this. My bad. I have clubbed the instruction with the status display. The initial view is shown below:
![distribute-unequal-initial](https://user-images.githubusercontent.com/11634699/40079226-0cf5e3e4-587f-11e8-9f56-edfa1826f52f.PNG)

On halfway allocation of points, I display an

[2018-05-15 20:15] sukanta-27 commented on #8817
@mg14777 Just a thought, maybe `Error:` is not a good word to use here? The red font-color is enough to grab the attention of the user IMO.

[2018-05-15 21:37] mg14777 commented on #8817
@sukanta-27 Thanks for your suggestion. The reason why I put Error was to differentiate it from the first statement "All points distributed" since the second one is specifically an error not a generic statement. But maybe that's just me :sweat_smile: I can change that sure.

[2018-05-15 21:40] sukanta-27 commented on #8817
@mg14777 I would suggest you too wait for Prof. @damithc suggestion before making any changes. :smile:

[2018-05-16 00:27] damithc commented on #8817
@mg14777 Looks like we have two independent conditions but treat both of them as one. e.g., Even when all points are distributed, `All points distributed!` appear in red. Is it possible to make the two operate independently?

Good point @sukanta-27 but I guess no harm using the word `Error` as it will make it even more clearer. Note that some users can be color blind.

[2018-05-16 04:25] tshradheya commented on #8524
Ideally the `StudentProfilePageUiTest` and `StudentHomePageUiTest` should not have any state leak because the latter belongs to `sequential-ui-tests, right?

[2018-05-16 07:05] mg14777 commented on #8817
@damithc The way it currently works is that the font color of both statements is dependent on whether there is an error or not. Once the user fixes the error `All points distributed!` turns green:
![distribute-unequal-after-complete](https://user-images.githubusercontent.com/11634699/40101502-8b93ce4a-58df-11e8-9b18-162fbf2ee8ae.PNG)
We could completely separate them by having two different `<p>`

[2018-05-16 09:09] mg14777 commented on #8817
@damithc I have separated the conditions now. Error statements are displayed separately whenever needed.

If all points have been distributed but some are same we display a green and red flag separately
![distribute-unequal-after](https://user-images.githubusercontent.com/11634699/40107743-fae9a948-58f0-11e8-8e19-bea966e5523a.PNG)

If some points are left to be distributed it is simply stated in b

[2018-05-16 09:34] damithc commented on #8817
Nice work!
While we are touching this code, see if you can tweak these things too.
* I think it will look nicer if the messages are left-aligned.
* It may be easier for the user to understand if we said something like `Expected total is 300 but your total is 302! Please adjust numbers to make the total 300`

[2018-05-16 11:11] tanhengyeow opened #8832 "Spreadsheet Interface for Student Data UI: Initial upgrade for instructorCourseEnrollPage"
**Environment**:
`master` branch at commit c345e99b6117040ec00c63659452d7eaf9fbea0c

**Description of feature/enhancement**
Implements a spreadsheet interface for `instructorCourseEnrollPage` using `Handsontable`. This spreadsheet interface would replace the current layout for enrolling students.

**Justification**
The current layout of enrolling students into courses is error prone and has room f

[2018-05-16 11:48] mg14777 commented on #8817
@damithc Does this look intuitive
![distribute-unequal-halfway-1](https://user-images.githubusercontent.com/11634699/40115171-7524eff4-5907-11e8-9b26-eae715ebc2d1.PNG)
![distribute-unequal-overallocation-1](https://user-images.githubusercontent.com/11634699/40115183-7c482206-5907-11e8-818b-9d1fe7b2a024.PNG)

[2018-05-16 12:32] damithc commented on #8817
Looks better.
Alignment: indent a bit?

The current color choice is a bit fuzzy (e.g., total<400 is shown in blue). Shall we do the following?

`The total points should add up to 400.` and `Multiple options should not be given the same number of points.`  can always be in blue and remain static as they are simply the instructions.

In addition, and based on the actual points, we can also show thes

[2018-05-16 13:07] mg14777 commented on #8817
I agree with most of them.
I was thinking if instead of `Actual total is 396! Please adjust points to add up to 400.` we can instead state the pending amount (or extra in case of overallocation) like `Actual total is 396! Please distribute the remaining 4 points.` because we are already specifying the constraint/instruction in the beginning as you suggested.

Another thing to clarify, should I rep

[2018-05-16 14:00] damithc commented on #8817
Yes, that's a good idea.

We can try that. Use the standard bootstrap glyphicons we use in other places.

Perhaps we limit to first duplication of points we detected? We can phrase it like this `Multiple options are given the same number of points! e.g., 22 Please ensure that multiple options are not given the same number of points.`

[2018-05-17 07:51] mg14777 commented on #8817
@damithc I have made the following changes

Instructions are listed in blue and other notifications/messages follow
![distribute-unequal-halfway-2](https://user-images.githubusercontent.com/11634699/40163514-e615844c-59ae-11e8-981e-eb13bb89260f.PNG)
![distribute-unequal-after-1](https://user-images.githubusercontent.com/11634699/40163528-f083efcc-59ae-11e8-9837-55d1fcab1123.PNG)

Since currently t

[2018-05-17 08:33] tanhengyeow commented on #8832
Now that I have worked on the initial spreadsheet interface upgrade for `instructorCourseEnrollPage`, I have a better idea on the type of features that should be included in the spreadsheet interfaces for the pages involved mentioned in the proposal's [overall direction.](https://github.com/TEAMMATES/gsoc-2018/pull/2/commits/40295c0eed6f735998172798a9ac3ad16f519789)

Here are my thoughts on how I

[2018-05-17 11:12] damithc commented on #8817
Looks good. Yes, can start a PR to seek prelim comments about the implementation approach.
One thing though: as there are two instructions, we should also have two 'status' messages too? i.e., there should be a ✅ or ❌ for each ℹ️

[2018-05-17 11:45] dalessr opened #8834 "Instructor: recycle bin feature: add instructor recovery page mock up"
**Environment:**
`recycling-bin` branch

**Description of feature/enhancement:**
- Create an instructor recycle bin page mock up. Build the detailed structure of recycle bin UI
- Create some fake data (deleted courses & sessions) to the recycle bin page to support the mock up

**Justification:**
This is the first step of implementing the recycle bin feature. This will give users a preview of what

[2018-05-17 13:13] #8819 closed

[2018-05-17 13:14] #8810 closed

[2018-05-18 12:38] #6902 closed

[2018-05-18 14:06] damithc opened #8837 "Instructor: view results: fix bug: sorting results by team is broken"
v6.5.1, Windows 10, Chrome, live server

Steps:
1. Login as instructor
1. Go to the results of a session. Expand results of a question and sort individual responses by giver team

Problem: the table gets messed up, as follows.

![image](https://user-images.githubusercontent.com/1673303/40238949-3fe96eaa-5ae7-11e8-8c20-f657baee058e.png)

Other observations: seem to affect only some type of question

[2018-05-19 00:50] LiHaoTan commented on #4317
@tshradheya I suppose maybe we can test it like so:
- scrollToPosition
  - Just check the final scroll position via window.scrollY
- scrollToElement
  - assert element is not visible first
  - scroll to element
  - assert element is visible

[2018-05-22 02:00] jacoblipech opened #8838 "Instructor: creating a session: able to manipulate the option when checkbox is not checked"
Environment: master branch

While creating a session, the option can be manipulated when the checkbox is not checked for some questions. As shown below:
![can choose option without ticking the box](https://user-images.githubusercontent.com/28522090/40338132-feb8de86-5da5-11e8-8347-e34cb70196ba.gif)

It should be disabled upon initialising the question as editing the option without the checkbox wil

[2018-05-22 02:45] jacoblipech opened #8839 "Instructor: creating a session: the question editing halfway disappears after error message"
Environment: master branch

While adding a question, when an error message pops up, the entire question which you are working on disappears. As shown below:
![question disappears after error message](https://user-images.githubusercontent.com/28522090/40339405-f1ce2558-5dac-11e8-9362-108ac03d0f44.gif)

Same problem for Rubric (options) Question and Distribute Points (among options) Question. Ideall

[2018-05-22 03:54] tshradheya commented on #8837
Working on it

[2018-05-23 02:48] tshradheya opened #8842 "BackDoorTest: add test for deletion of Feedback Session"
https://github.com/TEAMMATES/teammates/blob/ed1ea9c502db8a30e64d10f3b96e14c8428a124e/src/test/java/teammates/test/cases/testdriver/BackDoorTest.java#L106-L109

Add the required tests to resolve this TODO

More discussion regarding the depth of test can happen in the created PR

[2018-05-23 09:07] tshradheya commented on #8740
@LiHaoTan Why was the value of `DEFAULT_REPORTERS` changed to `false` after this commit 5e6fd5e ?

I am thinking of making it `true` so that it becomes stnadardized for IntelliJ

[2018-05-23 09:23] tshradheya opened #8844 "Testing: Improve instructions and process"
This issue is created to combine smaller issues regarding testing.

[ ] #8740 Intellij cannot run failed tests
[ ] #8557 Certain tests are locale-dependent
[ ] #8763 Firefox 46.0.1 causing styling issues
[ ] #8871 StudentProfileAttributesTest: fix instability due to modified timestamp comparison

Will be creating a single PR for the above issues

[2018-05-24 01:32] LiHaoTan commented on #8740
@tshradheya actually that's because that commit wasn't merged to master (part of a dropped PR).

Do you want to also link the run config JDK to the project? That way we don't have to change the JDK version in the run config when we change versions.

[2018-05-24 02:05] tshradheya commented on #8740
@LiHaoTan Okay. I have addressed the changes in #8845

[2018-05-24 04:27] tanhengyeow commented on #8828
Hi @sukanta-27

Will you be working on this issue?

[2018-05-24 04:32] tanhengyeow commented on #8787
Hi @mg14777

Still working on this?

[2018-05-24 09:30] mg14777 commented on #8787
@tanhengyeow Not at the moment. If you want to take this go ahead.

[2018-05-24 11:18] sukanta-27 commented on #8828
@tanhengyeow Currently my final exams are going on. So, if you want you can take it. :+1:

[2018-05-25 08:31] jacoblipech opened #8848 "Instructor: view results: update CSV file to enhance the UI"
update CSV file results to show multiple results in different columns and ensure text are in the same column mainly for contribution type question.

<img width="716" alt="screen shot 2018-05-25 at 4 28 55 pm" src="https://user-images.githubusercontent.com/28522090/40534582-0bc4ceec-6039-11e8-8993-05b28456c783.png">

Problem as shown by the arrow.

[2018-05-25 09:48] jacoblipech commented on #3063
@damithc To clarify sir, which question type does this statistics apply to? As a student, when I clicked on view responses, I only can find statistics such as the one shown below for distributing points question type. Is this what you are referring to?
<img width="919" alt="screen shot 2018-05-25 at 5 44 06 pm" src="https://user-images.githubusercontent.com/28522090/40538176-85a7699a-6043-11e8-961

[2018-05-25 10:10] damithc commented on #3063
Try a few other question types. Perhaps this issue no longer exists. Sometime back we used to show to students the summary stats for the whole class; we may have removed that feature at some time. If that feature doesn't exist anymore, this issue doesn't exist either.

[2018-05-27 08:43] sukanta-27 commented on #8828
@tanhengyeow Have you started working on it yet?

[2018-05-28 03:36] tanhengyeow commented on #8828
@sukanta-27 Not at the moment, if you already found a fix you can submit a PR first 😄

[2018-05-28 12:54] sukanta-27 commented on #8828
@damithc

https://github.com/TEAMMATES/teammates/blob/4416b4db657cdf6993fd298d51cc7e3a7d630c66/src/main/java/teammates/common/datatransfer/questions/FeedbackRubricQuestionDetails.java#L973-L981

This code was commented out in #2815 (specifically in https://github.com/TEAMMATES/teammates/commit/5d6aabb0e0f1366974cddcbe6689f2cb643f23a6), this is the main reason for this issue coming up. I am wonderi

[2018-05-28 15:38] damithc commented on #8828
hmm... I suppose some cells can be left empty. For example, if the column heading has a value, it is fine for cells below it to be empty as the meaning of the cell is implied by the column heading.  e.g.,

&nbsp; | Bad | Good | Very Good
---|---- | ---- | ----
attitude | o | o | o

If the cell  contains an explanation, column header can be left empty.

&nbsp; | &nbsp; | &nbsp; | &nbsp;
---|---- |

[2018-05-28 16:03] sukanta-27 commented on #8828
Closing this issue as this is not a bug.

[2018-05-28 16:03] #8828 closed

[2018-05-29 20:46] sukanta-27 opened #8850 "Instructor: Feedback Session: Add a new session template with sample questions."
- **Environment**:
`master` branch

**Description of feature/enhancement:**
Add a new session template with sample questions.

For the new session template I have made two sample templates where each template focuses on one aspect of team peer evaluation. I have added two zip files, both containing two webpages, one is `submit feedback` form and the other is `Instructor Edit session` page (this is

[2018-05-30 02:46] #8834 closed

[2018-05-30 04:09] jacoblipech commented on #3063
I have tried all the following question types and statistics do not appear for any of these questions:
- Team Contribution Question
- Essay Question
- MCQ (Single & Multiple) Question
- Numerical Scale (among options) Question
- Numerical Scale (among recipients) Question
- Distribute Points (among recipients) Question
- Distribute Points (among options) Question
- Rubric Question
- Rank Question

[2018-05-30 04:44] jacoblipech commented on #7224
Hi @Ali96kz are you still working on this ?

[2018-05-30 05:57] sukanta-27 commented on #7224
@jacoblipech Actually, this issue is a part of my GSoC project.

[2018-05-30 07:03] jacoblipech commented on #7224
@sukanta-27 okay sure! no worries! 👍

[2018-05-30 09:50] dalessr opened #8852 "Instructor: recycle bin feature: allow restore and delete courses in recovery page"
**Environment:**
`recycling-bin` branch

**Description of feature/enhancement:**
- Create an instructor recovery page for instructors
- Display all deleted courses on this page
- Allow users to restore selected/all courses from Recycle Bin
- Allow users to delete selected/all courses permanently from Recycle Bin

**Justification:**
Users might deleted a course accidentally (even with the protectio

[2018-05-30 15:57] mg14777 opened #8854 "Instructor: Add Course title to Student Details page"
- **Environment**:
`master` branch

**Description of feature/enhancement**
Currently the details of a student enrolled on a specific course can be viewed by visiting the students section and then clicking on view to reveal his/her details. On the student details page, the details specific to that course are displayed (eg. section name, team name etc.) but the course name itself is not mentioned an

[2018-05-30 17:16] sukanta-27 opened #8855 "Rubric question add/edit action test: Add missing parameter and additional tests"
- **Environment**:
`master` branch

**Steps to reproduce**
In `InstructorFeedbackQuestionAddActionTest.testExecuteAndPostProcessRubricQuestion()` test, while passing the request parameters for `Typical case` test, the `rubricAssignWeights` parameter has not been assigned.

https://github.com/TEAMMATES/teammates/blob/ed1ea9c502db8a30e64d10f3b96e14c8428a124e/src/test/java/teammates/test/cases/action

[2018-05-30 23:42] Zilchchipmunk commented on #8814
Hello, i am new here. I am familiar with java and would like to contribute but i am not sure what to do here.

[2018-05-31 02:02] damithc commented on #3063
Thanks for checking @jacoblipech

[2018-05-31 02:02] #3063 closed

[2018-05-31 02:36] #8598 closed

[2018-05-31 03:25] tshradheya opened #8858 "InstructorFeedbackResultsPageUiTest: Improve testing logic and procedure"
This task involves:

- Reducing coupling between tests `TODO unnecessary coupling of FRComments test here. this should be tested separately.`
- Doing a "TODO" to include a commented out test `TODO: split up verifySortingOrder to enable this test`

[2018-05-31 07:14] jacoblipech commented on #8726
@joanneong I realised that if I disable the checkbox, when I change to another "Group by" option other than "Group by Question", I am unable to check the box which is disabled. If I want to check the box, I will have to load the edit modal again. This is shown in the gif below.
![disable checkbox gif](https://user-images.githubusercontent.com/28522090/40767362-e7c6a5be-64e4-11e8-810d-c847c3aa5750.

[2018-06-01 04:11] tshradheya commented on #1501
Planning to work on this in the future weeks.

Around 50% of the code in `Feedback*QuestionDetails` is already tested using Add and Edit Action tests.
So what I was planning is to check on codecov which public logical heavy functions aren't tested at all and write tests only for them rather than testing all functions of the `Feedback*QuestionDetails` classes

[2018-06-01 06:46] damithc commented on #8524
@tshradheya Ideally, no two tests should have any state leaks between them.  For sequential tests, it's enough if they clean up at the end so that no trace of it remains after the test is over. For parallel tests, whatever they do should not affect other tests even while the test is running.

In this case, you can start by running the two tests sequentially to see if one causes the other to fail.

[2018-06-01 06:49] #8837 closed

[2018-06-01 10:38] damithc commented on #8850
@sukanta-27 were the questions based on some other source/publications?

[2018-06-02 12:20] mg14777 opened #8864 "Student: Feedback submission: Rank question: Improve explanation regarding ranking constraints"
- **Environment**:
`master`

**Scenario**
Sessions can have a Rank question which allows respondents to prioritize different recipients/options and rank them accordingly.
![image](https://user-images.githubusercontent.com/11634699/40874334-da1273c6-6665-11e8-94d4-dd7fd64cd42e.png)

Current: The instructions/contraints that need to be followed while allocating ranks isn't highlighted very well (ins

[2018-06-02 14:50] damithc opened #8866 "Student: submit feedback: optimize layout of questions"
This is how we show a question in the submission page:
![image](https://user-images.githubusercontent.com/1673303/40877642-dab3b60e-66b6-11e8-91d4-811af0687237.png)

Suggested: improve/redesign the layout/formatting to save space e.g., remove unnecessary line breaks, borders, lines, etc.

[2018-06-02 15:06] damithc opened #8867 "Student: submit responses: use a more friendly way to choose evaluee"
Current: we use a drop-down box to choose the evaluee where the name of the evaluee is shown in alphabetical order
![image](https://user-images.githubusercontent.com/1673303/40877714-008f82c6-66b8-11e8-979b-e254c93ec0c9.png)

Problem: when choosing evaluees from the whole course (if the evaluee of the feedback path of the question is `students in the course`), the drop down can be long and the use

[2018-06-03 03:10] damithc opened #8868 "Instructor: home page: give an option to download results"
Current: instructor home page has options to view and publish results
![image](https://user-images.githubusercontent.com/1673303/40882727-9a012422-671d-11e8-8c8e-68ed3feda0ed.png)

Suggested: also give a link to download results
Justification: saves an additional page navigation. Especially useful if the instructor is downloading multiple sessions one after the other.
Complication: may need a way

[2018-06-03 03:16] damithc opened #8869 "Instructor: home page: tweak spacing in drop-down buttons"
Current:
![image](https://user-images.githubusercontent.com/1673303/40882768-183ad6e8-671f-11e8-893e-27373f973457.png)

Problem: button name and down arrow are touching each other

Suggested: Add some space between the button name and the down arrow in the button.

Other info: This is not a big problem. Can ignore if there is no easy way to implement or if this is supposed to be the default look.

[2018-06-03 09:29] pierreSquared commented on #8869
I would like to try and work on that.

[2018-06-04 02:28] tshradheya opened #8871 "StudentProfileAttributesTest: fix instability due to modified timestamp comparison"
- **Environment**:  [cd9a536](https://github.com/TEAMMATES/teammates/commit/cd9a5365cfed580bae5d1bf15f2994a921e31f03)

**Description of feature/enhancement**

This is an enhancement to the build process

`toEntity()` does not use the original modified date so we need to ensure they are the same.

[2018-06-04 05:59] nidhi98gupta opened #8872 "Instructor: comment on responses: support entering comments for each response from view GQR"
- **Environment**: `master` branch

**Description of feature/enhancement**
Instructor currently can only add comments from 3/5 views. This is enhancement to current comments feature i.e instructor should be able to add comment from Giver-Question-Recipient view.

[2018-06-04 08:30] mg14777 commented on #8867
@damithc I had a suggestion here. Would it be better to change the dropdown to a text box with autocomplete functionality ? The options will still be augmented with section and team info but the user will now type in keywords (team/section/student name) and presented with filtered choices.

[2018-06-04 08:55] damithc commented on #8867
That requires the user to remember the spelling of at least some part of the name of each target evaluee. That may not always be the case. Intuitively, the drop down is the right widget here because it is a case of 'select from finite fixed choices'. It's just that we can make it friendlier to use.

[2018-06-04 08:57] damithc commented on #8867
To give some context, I have a similar case in my course and my workaround is to add the team name as a prefix to the name of students to force the team name to appear in the dropdown. When this issue is done, I hope I don't have to do that workaround any more.

[2018-06-04 09:03] sukanta-27 commented on #8850
@damithc Sir, a reminder.

[2018-06-04 09:14] damithc commented on #8850
Received. Will get back soon.

[2018-06-05 04:39] damithc opened #8876 "Instructor: edit session: give a way to duplicate a question"
Suggestion: give a way to create a duplicate of a question in the same session
![image](https://user-images.githubusercontent.com/1673303/40955518-1f48638e-68bd-11e8-9c6e-172a128863e6.png)

Justification: it is possible for a session to have several variation of the same question

[2018-06-05 04:53] damithc commented on #8850
Your templates have good questions. 👍

The two you have proposed are alternatives for peer evaluations of a team project, for which we already have a template. I don't think users will know who to choose among multiple templates used for the same situation. If at all, we should give templates for different situations. e.g., peer evaluations of class presentations, peer feedback for class participa

[2018-06-05 05:09] damithc opened #8877 "Instructor: add question to session: provide sample questions to choose from"
Suggestion: When adding new questions to a session, we can provide an option `Choose from sample questions` where the user get to select from a bunch of ready-made questions.

![image](https://user-images.githubusercontent.com/1673303/40955995-5071143a-68c0-11e8-8f3d-fd7e5879f457.png)

Justification:
* Reduces the work to be done by instructors as they can create questions by modifying sample ques

[2018-06-05 06:33] sukanta-27 commented on #8850
@damithc should I create templates for these? Can any of the questions in the above two template work in the suggested templates? Like can we use the rubric question or any other team project based questions for the template `peer feedback for class participation` (we may have to rephrase the questions a little bit to fit in the suggested situations)? Also, can you give an example for `class prese

[2018-06-05 07:00] damithc commented on #8876
In this case there is no need to choose from a list of questions. User clicks the 'duplicate' button on the question that needs to be duplicated.

[2018-06-05 07:03] damithc commented on #8876
And yes, the duplication happens within the session being edited.
e.g.,
1. Create an empty session.
2. Create a new question to evaluate creativity.
3. Duplicate the previous question and modify the copy to evaluate punctuality in a similar way to the first question.
...

[2018-06-05 07:04] sukanta-27 commented on #8876
Oh! I misunderstood the functionality. Yes, that will be helpful, as navigating the required question from copy question button is sometimes very tiresome.

[2018-06-05 07:31] #8855 closed

[2018-06-05 08:14] #8842 closed

[2018-06-05 08:44] #8631 closed

[2018-06-06 01:53] jacoblipech commented on #8726
@joanneong a reminder on your comments on this? Thank You!

[2018-06-06 06:13] damithc opened #8879 "Instructor: edit MCQ question: give an easier way to reorder options"
Current: to reorder options, user has to copy paste text of the options
![image](https://user-images.githubusercontent.com/1673303/41019938-76776c78-6993-11e8-82fa-fd3db3e082a7.png)

Suggested: provided an easier way to reorder options e.g., drad-and-drop or up/down arrows

Notes: The same mechanism could be useful in several other question types, and even in the submission page (for 'ranking' typ

[2018-06-06 07:35] damithc commented on #8850
Yes, we can try doing one first. Note that there is an ongoing PR that modifies the current list of templates. Ideally, we should merge that first.

This is a case where students (individually or as teams) do a presentation to the class. Example questions:

1. (ranking question): choose the top 3 presentations
2. (rubric) Evaluate presentations on these criteria
3. (essay) What did you like about

[2018-06-06 07:58] tanhengyeow opened #8880 "Instructor: edit student details: resend past links to the new email not working"
**Environment**:
`master` branch @ 7e957b5

**Steps to reproduce**
1. Login as instructor
2. Go to sample course/any courses with past sessions
3. Edit a student
4. Change the email of the student to a valid email
5. Click `Yes, save changes and resend links` when the modal box pops up
![image](https://user-images.githubusercontent.com/25320782/41024600-47bbfd22-69a2-11e8-9236-c28ad4bf31a2.png)

*

[2018-06-06 08:04] damithc commented on #8880
Looks like it's not working in the live server either. Good catch @tanhengyeow

[2018-06-07 05:35] #8880 closed

[2018-06-07 10:40] dhanu10896 commented on #8879
Can I take this issue,? I have done the setup yesterday so this can be my first issue.
but can take little time as I don't know about workflows in the application.

[2018-06-08 04:11] tanhengyeow opened #8883 "Spreadsheet Interface for Student Data UI: Phase II upgrade for instructorCourseEnrollPage"
**Environment**:
`master` branch at commit 9bbcd2f208d26f35b1cb3bb489280f516099e460

**Description of feature/enhancement**
Continuation of #8832. Implements a separate `read-only` spreadsheet interface for instructorCourseEnrollPage using `Handsontable`. This spreadsheet interface would load existing students of the course through an AJAX request and displays the student details in the spreadshee

[2018-06-08 11:00] mg14777 commented on #8879
I was researching a bit and thought if allowing users to reorder options by specifying explicit ranks would be appropriate. We could add it as an additional feature apart from drag and drop since drag and drop can become annoying when the number of items is huge. Besides, this approach also takes accessibility into account, for eg. when users prefer to only use their keyboards.
Netflix uses this a

[2018-06-09 22:41] Dave-Crosslin opened #8885 "Trouble Setting up Development Environment (npm install issue)"
- **Commit SHA:**
- **Operating System: Linux Mint Sonya**
- **JDK Version: 1.8.0_171**
- **Node.js Version: 8.11.2**
- **Google Cloud SDK Version: 204.0.0**
- **app-engine-java 1.9.64**
- **app-engine-python 1.9.70**
- **bq 2.0.34**
- **core 2018.06.04**
- **gsutil 4.31**
- **Eclipse / IntelliJ Version (if applicable): 4.6.3**
- **Firefox / Chrome Version (if applicable):**

**What I was trying t

[2018-06-10 01:52] tshradheya commented on #8885
You need to run npm install in the directory wherr you forked Teammates repo. `npm install` uses the pacakage.json file to install the required dependencies.

So go to the location where teammates is cloned in your local PC and run the command there

[2018-06-10 02:15] nvnmandadhi opened #8886 "How do I setup debug after starting the dev server through command prompt?"

[2018-06-10 03:06] Dave-Crosslin commented on #8885
Thank you! That solved this issue, Development Environment appears to be set up.

[2018-06-10 03:06] #8885 closed

[2018-06-10 17:03] nvnmandadhi opened #8887 "I would like to help migrate this project to spring framework, could we please have some issues created for it?"

[2018-06-11 00:35] damithc commented on #8887
@nvnmandadhi at the moment we don't have any plans to move in that direction.

[2018-06-11 00:35] #8887 closed

[2018-06-11 00:42] nvnmandadhi commented on #8887
Oh, okay. No worries. I would like to contribute to this project, is browsing through the issues an only option?

[2018-06-11 00:44] damithc commented on #8887
That's the recommended option. 🙂

[2018-06-11 03:07] tshradheya commented on #8886
Can you provide more information regarding what exactly are you facing problem in?

[2018-06-12 06:17] #8792 closed

[2018-06-13 02:53] jacoblipech commented on #8877
@damithc I'd like to work on this issue.

Currently when instructors create a session, there is an option to create `session using templates` and there are 5 sample questions from it. Upon clicking on `Choose from sample`, do you want a modal to be popped up where the instructor can choose to select from the sample questions and add any of these questions to the session?

[2018-06-13 02:58] damithc commented on #8877
Yes, that's what I had in mind. Other suggestions welcome.

[2018-06-13 03:37] tshradheya commented on #8886
Closing due to lack of details

[2018-06-13 03:37] #8886 closed

[2018-06-13 06:53] tanhengyeow opened #8892 "Instructor: edit course details: add a cancel button to terminate the process of editing course"
**Environment**:
`master` branch @ 472e202cb9fdcb6ec29fcf80b45d07d1e137ef9e

**Current scenario of editing course details**:
![current](https://user-images.githubusercontent.com/25320782/41334713-26c888de-6f19-11e8-9b85-561181fbbb2a.gif)

**Proposed suggestion**:
It would be ideal if we have a cancel button to terminate the process of editing course. This allows a more consistent UX with the curre

[2018-06-13 07:18] damithc commented on #8892
@tanhengyeow do you think this is suitable for first-timers?

[2018-06-13 07:34] tanhengyeow commented on #8892
@damithc It might a little harder than a first-timer issue as the feature spans the full system. #8756 is a rough estimate of the scale involved.

[2018-06-13 23:52] #6290 closed

[2018-06-14 09:20] sukanta-27 opened #8894 "Instructor: Results: Use separate result stats templates for MSQ questions instead of re-using MCQ templates"
While working on #8860, I made changes to `feedbackQuestionMcqResultStatsTemplate.html` to add statistics for MCQ weight feature in the result page. But as MSQ questions also use MCQ result templates to create MSQ statistics, they also incorporated the changes, which is a problem as MSQ weight feature is not present yet. Which creates the following problem:
![screenshot 516](https://user-images.gi

[2018-06-14 09:27] sukanta-27 opened #8895 "Instructor: Results: Use a common template to generate both MCQ and MSQ result stats"
After adding weights for both MCQ and MSQ questions, that is to say after #2776 and #7281 gets merge, remove the separate result templates and use a single template to show results for both MCQ and MSQ statistics.

**This reverts #8894.**

[2018-06-14 10:40] nidhi98gupta commented on #8872
@damithc I have added a column for comments in GQR view.
![gqr](https://user-images.githubusercontent.com/24381442/41407167-3d2929a2-6fec-11e8-9da3-92bda8afba95.png)
I have a question. Is it a good idea to add `Moderate Response` button as well with `Add Comment` button. (Though we already have `Moderate Response` button at the top of every panel).
If we don't put `Moderate Response` button in eve

[2018-06-14 16:20] #8894 closed

[2018-06-14 16:21] damithc commented on #8872
No objections.

[2018-06-15 10:35] xpdavid opened #8898 "Testing: unstable behaviour in CI Config.APP_URL can be null sometimes"
`readAppUrl()` cannot get environment object in GAE properly and result in the following excpeiton
[code]

- **Environment**: `master` branch at commit d521d365adbc619d02d7b32b631e1b17153ba353.

**Steps to reproduce**
- Set up Local Server
- Run **only** `AdminEmailPageUiTest`
- Exception above will be thrown

**Expected behaviour**
- Test should pass

**Actual behaviour**
- Exception throw

**Add

[2018-06-15 10:45] sukanta-27 commented on #8898
Will work on it.

[2018-06-15 10:48] nidhi98gupta opened #8899 "Instructor: Question view: visibility icon does not appear for new comments"
When adding new comments from `Question view`, visibility icon does not appear until next refresh.

- **Environment**: `master` branch

**Steps to reproduce**
1. Login as instructor.
2. View results of a session from question view.
3. Add comment.
4. Comment modal saves the comment but eye icon doesn't appear.

![eye](https://user-images.githubusercontent.com/24381442/41464540-57ae7332-70b8-11e8-8

[2018-06-15 12:39] tanhengyeow opened #8900 "Spreadsheet Interface for Student Data UI: Phase III upgrade for instructorCourseEnrollPage"
**Environment**:
master branch at commit d521d365adbc619d02d7b32b631e1b17153ba353

**Description of feature/enhancement**
Continuation of #8883. Allows users to mass-edit existing students' data of a selected course. Features include:
1. New back-end action to facilitate edits made to:
    1.  `Section`, `Team`, `Name` and `Comments`
    2.  `Email` via values inserted in new column
2. Modal box t

[2018-06-15 12:49] #8822 closed

[2018-06-15 15:35] jacoblipech commented on #8877
@damithc I have a question on the design of the code. When populating the template questions which are stored in a `json` file format, is it necessary to load them using a AJAX request similar to #5567?

I read up on AJAX and it seems like AJAX has a better performance and reduce traffic between client and server but less secure. Currently, there are only 5 sample questions so I think an AJAX requ

[2018-06-15 20:17] tomignarri commented on #8814
Hello, am I allowed to submit a change even if it isn't assigned to me? I would like to just for the sake of practice.

[2018-06-16 02:18] damithc commented on #8877
I don't think there's any need to use AJAX for loading sample questions, at least not at this stage.

[2018-06-16 11:59] #8898 closed

[2018-06-17 07:46] xpdavid opened #8903 "Release V6.6.0"
Scheduled for June 18, 2018, 10.00am SGT.

[2018-06-17 23:01] xpdavid commented on #8903
[V6.6.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.6.0) has been released by @xpdavid at June 18th, 2018, 06.56am SGT.

Code contributions from: @AdrianSiwiec, @Haozhe321, @LiHaoTan, @Vaggelis-Malandrakis, @craaaa, @dalessr, @darrenwee, @jacoblipech, @joanneong, @nashmia-riaz, @nidhi98gupta, @pedrolarben, @shaharyar-shamshi, @sukanta-27, @tanhengyeow, @tshradheya, @wenmogu, @whipermr5

[2018-06-18 03:51] #8823 closed

[2018-06-19 02:28] dalessr opened #8906 "Instructor: recycle bin feature: allow restore and delete sessions in instructor feedback sessions page"
**Environment:**
`recycling-bin` branch

**Description of feature/enhancement:**
- Create a table for deleted feedback sessions in instructor feedback sessions page
- Display all deleted feedback sessions in this table
- Allow users to restore selected/all feedback session from Recycle Bin
- Allow users to permanently delete selected/all sessions from Recycle Bin

[2018-06-19 02:59] damithc opened #8908 "EmailGeneratorTest failing on live server"
v6.6.0

Some of the EmailGeneratorTest tests are failing on live server e.g, EmailGeneratorTest.testGenerateInstructorJoinEmail
![image](https://user-images.githubusercontent.com/1673303/41573532-b5893e98-73af-11e8-951c-d18ab56ee1a6.png)

All due to a cause similar to this one:
![image](https://user-images.githubusercontent.com/1673303/41573485-86edebf6-73af-11e8-9748-4d835962e918.png)

[2018-06-19 03:00] tshradheya commented on #8908
I think I know the problem. Working on it

[2018-06-19 03:18] damithc opened #8909 "InstructorFeedbackResultsPageUiTest.testBackEndActions failing in live server"
v6.6.0

	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:108)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:92)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:60)
	at teammates.test.pageobjects.AppPage.verifyHtmlPart(AppPage.java:1166)
	at teammates.test.pageobjects.AppPage.verifyHtmlMainContent(AppPage.java:1218)
	at teammates.test.cases.browsert

[2018-06-19 03:30] damithc commented on #8908
AdminHomeUiTest too is failing in a similar manner, although the situation seems to be reversed (or possibly expected and actual is used in the wrong way around in the test)
![image](https://user-images.githubusercontent.com/1673303/41574587-ec98f366-73b3-11e8-8bfc-890140072943.png)

[2018-06-19 03:31] damithc commented on #8903
Deployed

[2018-06-19 03:31] #8903 closed

[2018-06-19 06:46] tshradheya commented on #8908
Figured out the `http` and `https` problem and solved it.

With respect to `AdminHomeUiTest`, I am not sure why is there a difference of one being `6-6-0...` and `teammatesv4...` .
When testing on live server, what link must be put in `test.properties` ? `6-6-0-dot...` or `teammates-sh....` ?

[2018-06-19 06:53] damithc commented on #8908
Live server has multiple versions running on it. The _default_ version doesn't require the version number in front i.e., https://teammates.... Live testing is done _before_ setting the new version as default, which means all live testing use the version number in front. However, this problem cropped up at v6.6.0, which means it's related to something that changed since v6.5.0, on our side or on GA

[2018-06-19 06:56] tshradheya commented on #8908
#8801 changed the way we retrieve the `APP_URL`, it has caused the issue to come in.

[2018-06-19 08:32] damithc commented on #8908
We can drop the version-number-part when using it for actual-expected comparisons.

[2018-06-19 15:45] xpdavid commented on #8908
@damithc @tshradheya Actually, I was wondering why 6.5.0 `AdminHomeUiTest` and `EmailGeneratorTest` get passed

- For `EmailGeneratorTest`, #8902 won't affect it but #8801 should make it failed in 6.5.0

- For `AdminHomeUiTest`, 6.5.0's `com.google.appengine.runtime.default_version_hostname` is not properly set and will result in exception (more detail in #8902).

[2018-06-19 16:57] tshradheya commented on #8908
@xpdavid
- The `isDevServer()` function wasnt working properly before also because we never set the System Property's env, but since the function was never used before, we never faced an issue. Now that `readAppUrl()` uses it, it gave http for Production server hence causing EmailGeneratorTest to fail. #8801 was part of 6.6.0 and that's why 6.5.0 always passed cause the url was taken from build.pr

[2018-06-19 17:03] xpdavid commented on #8908
Not really correct. For production server, it indeed gives `https`. However, when you change the url to something start with `https` (yes, `https://localhost` would work) -> Fail

Huge release in 6.6.0 makes me forget #8801 belongs to 6.6.0.

[2018-06-20 00:47] damithc commented on #8452
Received a few more in the recent few days. Raising priority.

[2018-06-20 02:56] damithc opened #8911 "Fix assertion error in studentCourseJoinEmail"
v6.6.0

Got a few of these today

Error Message: teammates.common.util.Logger severe: Exception occured while performing http://teammatesv4.appspot.com/worker/studentCourseJoinEmail|||
java.lang.AssertionError: null
at teammates.common.util.Assumption.fail(Assumption.java:61)
at teammates.common.util.Assumption.assertTrue(Assumption.java:29)
at teammates.common.util.Assumption.assertNotNull(Assump

[2018-06-20 02:57] damithc commented on #8429
Did not notice at v6.6.0

[2018-06-20 02:57] #8429 closed

[2018-06-20 03:06] #8832 closed

[2018-06-20 03:45] #8848 closed

[2018-06-20 06:38] tanhengyeow opened #8912 "Fix failing tests in AppVeyor Build"
**Environment**:
`master` branch at commit 2605435921f383b1660babd05442388b5ee92496

**Description**:
Two tests were failing as shown [here](https://ci.appveyor.com/project/damithc/teammates/build/1.0.1016).

**Potential reason(s)**:
The spreadsheet element cannot be focused in Chrome when running Selenium tests. This might be related to how the current test of detecting the spreadsheet element is

[2018-06-20 13:11] #8817 closed

[2018-06-20 19:18] mg14777 opened #8915 "Instructor: Edit distribute points question: reorder options using drag and drop"
**Current**
In order to reorder options user needs to copy text between options
![image](https://user-images.githubusercontent.com/11634699/41678876-411f0f18-74c4-11e8-8032-96dff97bdb44.png)

**Suggested**
Ability to drag and drop option boxes to move them around
Similar to [#8889](https://github.com/TEAMMATES/teammates/pull/8889)

[2018-06-20 21:58] czarska commented on #8892
I'm a first-timer but if there are no free issues labeled as d.first-timers, I would like to try to work on it

[2018-06-21 02:47] tshradheya commented on #8892
@czarska Go ahead 👍 You can refer to #8756 which was also about adding a `Cancel` button

[2018-06-23 20:59] czarska commented on #8892
I have a problem because every time I'm trying to add new instructor I get 'Cannot send Ajax Request!' error. Am I doing something wrong?

[2018-06-24 02:27] LiHaoTan commented on #8908
To further add on to what @xpu said, I guess the confusion comes from when `isDevServer()` can be used.

`isDevServer()` only works in the server instance, because App Engine will accordingly set `SystemProperty.environment`

 The problem is when we try to call it using our test runner it won't actually read the correct value because `SystemProperty.environment` is only set in the server instance

[2018-06-25 02:43] tanhengyeow commented on #8892
@czarska Make sure you ran `npm install` as shown [here](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md#step-3-set-up-project-specific-settings-and-dependencies) and also check that you have built your javascript files as shown [here](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#building-javascript-files).

[2018-06-25 02:45] #8794 closed

[2018-06-25 03:28] jacoblipech commented on #8002
@joanneong Do you mind if I take over this issue?

@damithc Any suggestion how you want it to look? I am thinking of adding a spinner below the `section` spinner. Alternatively is to add more drop down options other the current `section` spinner but I think it may be more confusing.
<img width="935" alt="screen shot 2018-06-25 at 11 25 57 am" src="https://user-images.githubusercontent.com/28522090

[2018-06-25 04:32] damithc commented on #8002
A separate drop down sounds good. May be show/enable it only if a specific section is chosen?

[2018-06-25 08:44] damithc commented on #8452
Received a few more today

[2018-06-26 01:22] damithc opened #8918 "Instructor: view results: questions for ranking: show rank within team"
Context: Instructor viewing results of a session that has a question for ranking items (e.g., rank team members based on technical competence)

Current: In question stats, we show overall ranking of the students/items based on all rankings received

Suggested: In addition, also show ranking within the team when that makes sense e.g., Amy, Ben, Charlie is ranked 3, 23, 56 within the course but rank

[2018-06-26 01:32] damithc opened #8919 "Instructor: edit session: give more control over which stats are shown to result viewers"
Current: instructors can choose to make responses, give name, evaluee name, of a question visible to students but they do not have control over which stats to be shown.

Suggested: allow instructors to choose which stats are made visible to others

Justification: some instructors may want students to see the individual responses received, but not the overall stats

Notes:
* This enhancement is app

[2018-06-26 03:00] ah91086 commented on #8911
I’d like to take this one on. I’m a first timer and I’m confused by what is meant by fix the assertion error in this context. Based on my debugging, this error occurs because  getStudentForEmail(String courseId, String email) is unable to retrieve a student. Which would imply that the student that the join email is being sent to is not a student in the course by the time getStudentForEmail is call

[2018-06-26 07:22] cybersol795 opened #8920 "improve setting-up.md documentation"
The initial development environment setup documentations has some space for improvement. It can be written in shorter and clearer sentences.

[2018-06-26 07:31] cybersol795 commented on #8920
If the owners of this project approve, I can make the revisions and create a pull request.

[2018-06-26 07:36] tshradheya commented on #8920
Could you provide more details on how you plan to improve the documentation? Maybe then we can decide if the proposed revisions are necessary or not.

[2018-06-26 08:03] cybersol795 commented on #8920
Sure. I was reading the documentation and thought why not break long sentences into short sentences to make them easier to follow, fix typos and writing mistakes and so forth.
The goal is not to significantly alter the technical aspect of the instructions but to only add to the clarity of the sentences.

[2018-06-26 08:03] cybersol795 commented on #8920
Example,
Original:
Add a remote name (e.g `upstream`) for the main repo for your repo to keep in sync with, and then fetch the remote-tracking branches from the main repo.
Revised:
Add a remote name (e.g `upstream`) for your copy of the main repo and fetch the remote-tracking branches from the main repo to keep it in sync with your copy.
I can make revisions and create a PR for you so you can deci

[2018-06-26 08:08] tshradheya commented on #8452
The problem in #8911  and this issue seems to be the same.

The worker action which is supposed to send email happens before the student/instructor account has properly persisted in the database. This is why the `logic.getInstructorForEmail(courseId, instructorEmail);` returns a NULL value as it cant read the instructor which hasn't been stored in the database yet.

Currently, this problem hasn't

[2018-06-26 20:53] czarska commented on #8892
I've started all over agian and now It works, thanks. Do we need test?

[2018-06-27 00:45] tanhengyeow commented on #8892
It is always ideal to add tests for new behavior. How comprehensive the tests are depend on cost benefit analysis. You may want to take a look at some existing tests on how the behavior of buttons are tested.

[2018-06-27 03:59] #8754 closed

[2018-06-27 04:07] tshradheya commented on #8417
Closing this as its fixed in #8428

[2018-06-27 04:07] #8417 closed

[2018-06-27 04:49] damithc opened #8921 "Instructor: view results: add missing space and icon for 'Edit' link"
Context: an instructor viewing results of a session

Current:
![image](https://user-images.githubusercontent.com/1673303/41953417-34f3c0dc-7a08-11e8-9002-8b8b7b77b0b6.png)

Suggestion:
Add a space before the `[Edit]` link. We can also add an icon before the word `Edit` too.

[2018-06-27 06:13] tshradheya commented on #8920
Although the suggestion seems valid but currently there is no need for such a PR. However, you can contribute to an `d.firstTimer` issue for e.g. #8921 to get started

[2018-06-27 14:38] ah91086 commented on #8921
I can take this one on!

[2018-06-28 03:32] #4317 closed

[2018-06-28 10:32] xpdavid commented on #8909
It seems that the callback function of the richTextEditor is not correctly triggered. The logic of the callback function is if the content is empty, then add `empty` class.

Cannot reproduce it in my own staging server. Not sure if it can be reproduced again in the LIVE staging server.

[2018-06-28 10:42] tshradheya commented on #8909
This test fails due to the extra `empty` class even on thr development server. But it happens very rarely and hence tough to duplicate and be sure of the reason

[2018-06-28 10:54] xpdavid commented on #8452
If you access an object by using an index in GAE Datastore, it might not return the data you just put. Index building takes time. Typically this can be done within 100ms. It looks like the time interval above is 43ms and that is why we have persistence issue.

However, if you access an object by using the key, the data will always be the lasted version (so you read what you write). More informatio

[2018-06-28 11:12] tshradheya commented on #8452
Wow. That's a very efficient and nice solution.
However, I am wondering why didn't we adopt this method before for all the entities? Since this happens for students also, we need to use it there was well to solve the assertion error there, so I was wondering if it will be a good idea to refactor in all possible places to make it effecient

[2018-06-28 15:42] xpdavid commented on #8911
Regarding #8452

@tshradheya I think we can also do it for student?

https://github.com/TEAMMATES/teammates/blob/e8d6b548fa64cfdd96a28e13e692bc4e843bb6d9/src/main/java/teammates/storage/entity/CourseStudent.java#L103-L105

https://github.com/TEAMMATES/teammates/blob/e8d6b548fa64cfdd96a28e13e692bc4e843bb6d9/src/main/java/teammates/storage/api/StudentsDb.java#L494-L496

[2018-06-29 03:31] damithc commented on #8452
Only if the key is predictable. In the case of students, I believe the key is an auto-generated random string.

[2018-06-29 03:40] #8868 closed

[2018-06-29 18:07] wkurniawan07 opened #8925 "Update third-party dependencies"
Routine 3-monthly update of third-party dependencies

[2018-06-30 07:04] #8908 closed

[2018-06-30 07:57] #8925 closed

[2018-07-01 06:59] SriSaiAnkitBasava commented on #8921
i would like to take this.

[2018-07-01 09:12] tanhengyeow commented on #8921
@SriSaiAnkitBasava Since there is already an open PR for this issue, take a look into other issues marked `d.FirstTimers`. If there aren't any available at the moment, you can look into other `d.Contributors` issues.

[2018-07-02 04:13] #8471 closed

[2018-07-02 07:38] dalessr opened #8927 "Instructor: recycle bin feature: add instructions for managing deleted courses in instructor help page"
**Environment:**
`recycling-bin` branch

[2018-07-02 07:49] #7788 closed

[2018-07-02 07:50] jacoblipech opened #8929 "Instructor Feedback Results Page: Inconsistent behaviour between results downloaded and shown"
While trying to work on issue #8002, I found out an inconsistency problem in the `InstructorFeedbackResultsPage` when viewing the data on the webpage and after downloading.

Currently, when populating the results by selecting sections such as `Tutorial Group 2`, it only shows 1 response as seen below. (Both `givers` and `recipients` have to be from `Tutorial Group 2`)
<img width="762" alt="screen

[2018-07-02 07:54] damithc commented on #8929
Yes, let's make it consistent.

[2018-07-02 15:45] mg14777 opened #8931 "Instructor: Feedback Session: Mark mandatory fields for creating and editing session"
**Description of feature/enhancement**
Mark mandatory fields using `*` or some other mechanism when user creates a new feedback session or edits existing feedback session.

Currently, user is only notified of mandatory fields on form submission

![image](https://user-images.githubusercontent.com/11634699/42173382-bc790c44-7e16-11e8-99b4-86db3aefccce.png)

It will be even better if these errors are

[2018-07-02 16:14] sukanta-27 commented on #8931
We can also use HTML 5 form validation here. Making the mandatory fields as `required`?

[2018-07-02 16:22] mg14777 opened #8932 "Instructor: Feedback Session: Improve display of more information for advanced settings"
**Description of feature/enhancement**
Improve the display of helpful information for tweaking advanced settings while creating a new feedback session.

**Current**
Most of the information is delivered through tooltips which are verbose.
![image](https://user-images.githubusercontent.com/11634699/42174478-675d6710-7e1a-11e8-9d02-a8ec0fb96f2f.png)

![image](https://user-images.githubusercontent.com

[2018-07-02 16:34] mg14777 commented on #8931
One slight issue we need to keep in mind is that different browsers tend to have different behaviour when displaying the error. We might need some additional CSS to ensure consistency.

[2018-07-02 16:43] sukanta-27 commented on #8931
Yes, we can do that, but as this is a browser specific behaviour, do we need to deal with this? I mean, if our main concern is that, the user doesn't leave a important field blank, then isn't adding additional CSS an overkill? But yes, if we do go this way, there are many places where we can use the CSS for better UX.

[2018-07-02 16:56] mg14777 commented on #8931
@sukanta-27 Yeah I mainly meant from a UX perspective. It's not core to the issue at hand.

[2018-07-02 17:40] mg14777 opened #8933 "Instructor: Edit rubric question: reorder options using drag and drop"
**Current**
The user reorders columns using left and right arrow buttons.

![image](https://user-images.githubusercontent.com/11634699/42177999-a726648a-7e26-11e8-8718-083a0d243146.png)

**Suggested**
Use drag and drop to move the columns around. The issue can be extended to include other related enhancements to rubric question.

[2018-07-02 20:47] SriSaiAnkitBasava commented on #8918
i would like to work on this

[2018-07-02 23:52] ah91086 commented on #8933
I'd like to take this one on!

[2018-07-03 00:56] mg14777 commented on #8933
@ah91086 Thanks for your interest. Actually this issue is part of a series of issues addressed to drag and drop features that I have been working on ([8916](https://github.com/TEAMMATES/teammates/pull/8916), [8889](https://github.com/TEAMMATES/teammates/pull/8889)). If you wouldn't mind, you can take up issues [8932](https://github.com/TEAMMATES/teammates/issues/8932) or [8931](https://github.com/

[2018-07-03 01:22] cybersol795 commented on #8920
Actually, I should have mentioned this earlier that I would love to contribute to other issues, however, I am contributing with the purpose of practicing how to revise and improve technical documentation for our technical writing course in university. It will really help me if you allow me to edit the documentation part of this project, but if you would rather not have that part changed yet it is

[2018-07-03 02:32] tshradheya commented on #8920
@cybersol795 In that case go ahead and create a PR. We can decide as to what is necessary while reviewing the PR. :+1:

[2018-07-03 02:57] ah91086 commented on #8933
I'll take up [8931](https://github.com/TEAMMATES/teammates/issues/8931) in that case.

[2018-07-03 04:18] damithc commented on #8920
@cybersol795 indeed we welcome any improvements to our docs.

[2018-07-03 05:06] damithc commented on #8931
We try to avoid/minimize front-end validation (in spite of the UX cost) because we still have to do back-end validation (reason: front-end validation can be bypassed) and then we end up duplicating the validation logic, once in JS and once in Java.

[2018-07-03 05:20] damithc commented on #8932
This is a valid point. one advantage of tool tips is that they don't need additional links/icons in the UI, which helps to reduce UI clutter. We should use modals only when the tooltip option doesn't fit. Another option is to use a more powerful tooltip/popover mechanism that allows rich text formatting.

[2018-07-03 08:01] jacoblipech commented on #8002
<img width="568" alt="screen shot 2018-07-03 at 3 50 18 pm" src="https://user-images.githubusercontent.com/28522090/42206199-00969df2-7ed9-11e8-91ca-e66bfb399d2b.png">

@damithc Do you think this can do this trick? Or maybe a multiple level dropdown menu like below?

<img width="387" alt="screen shot 2018-07-03 at 3 52 46 pm" src="https://user-images.githubusercontent.com/28522090/42206273-3b56ecb

[2018-07-03 08:54] jacoblipech commented on #8505
Hi can I work on this issue since @Progyan1997 has deleted his branch for his PR.

[2018-07-03 09:05] tshradheya commented on #8929
Verified this inconsistency. Good catch @jacoblipech

But we need to define what we mean by "consistent". I feel the behavior of showing response only if giver and recipient are both from the same tutorial group makes more sense especially for "group by question" setting.
Because if you do "group by GQR" then you can see reponses of when giver is in "tutorial group 2" and giving reponses to anyone

[2018-07-03 09:16] tanhengyeow opened #8935 "Instructor: edit student details: email contains raw template literals after resending past links to the new email"
**Environment**:
`master` branch

**Steps to reproduce**
1. Login as instructor
2. Go to sample course/any courses with past sessions
3. Edit a student
4. Change the email of the student to a valid email
5. Click `Yes, save changes and resend links` when the modal box pops up
![image](https://user-images.githubusercontent.com/25320782/41024600-47bbfd22-69a2-11e8-9236-c28ad4bf31a2.png)

**Expected

[2018-07-03 09:32] tanhengyeow commented on #8935
@damithc Don't think so as the commits after `v6.6.0` didn't deal with email generation. Is it reproducible on your staging server? Also, should I still submit a fix for this since the production server isn't affected?

[2018-07-03 10:08] damithc commented on #8935
Go ahead and submit a fix. If possible, a test too so that we can confirm the problem exists and the PR fixes the problem.

[2018-07-03 10:43] jacoblipech commented on #8929
@tshradheya I figured it may be subjective what the instructor would want to see by filtering the `section`. Hence I am working on #8002 to remove the ambiguity.

I will ensure that the downloadable data and data shown be consistent after filtering. I was hoping to make it consistent first so that future developers may take note of this issue. I think both way works for now but I can adjust accord

[2018-07-03 13:58] damithc commented on #8002
Both proposed solutions feel like, well, workarounds. :-p
I guess we have to bite the bullet and implement the needed logic in java script.
Another acceptable alternative could be to show the third drop-down all the time.

[2018-07-03 14:04] damithc commented on #8929
yes, that works too.

On a related note, I don't think we should use 'both giver and receiver in the same section' as the default. If we do, cross-section responses cannot be seen under the giver's section or the receiver's section. This is going to be a problem when the course is too big to support the 'all sections' view. In that case the instructor doesn't have any way to view cross-section res

[2018-07-04 03:02] jacoblipech commented on #8002
I guess the workaround didn't pass... Sure. I will aim to add javaScript logic to this panel.

[2018-07-04 03:18] damithc commented on #8002
Actually, you can seriously consider leaving the third dropdown permanently visible. e.g.,

**If showing only a section:**
  [Show response if the giver is in the selected section]
  [Show respones if the evaluee is in the selected section]
  [Show response only if both are in the selected section]

[2018-07-04 04:07] #8921 closed

[2018-07-04 04:42] #8876 closed

[2018-07-04 09:12] jacoblipech commented on #8002
@damithc Following your suggestion, it will look something like this in the Edit View Panel. I am just wondering if it will be misleading to instructors as it will always be there. Should I proceed with this?

<img width="473" alt="screen shot 2018-07-04 at 5 09 25 pm" src="https://user-images.githubusercontent.com/28522090/42268056-2cc46556-7fad-11e8-8116-94bdcbb2db44.png">
<img width="475" alt="

[2018-07-04 09:19] damithc commented on #8002
I'm willing to live with it :-p. Ideally it should be hidden/disabled when not applicable but that can be done as a future enhancement.
BTW, you can use a bigger modal and make all three dropdowns the same size.

[2018-07-04 16:50] wenmogu commented on #8505
Hello @jacoblipech so sorry for the late reply. Yes pls go ahead!

[2018-07-05 04:22] tshradheya opened #8937 "Remove wrong Godmode changes due to unstable test"
Due to the unstable test `InstructorFeedbackResultsPageUiTest` as mentioned in #8909 , the godmode change of an extra class `empty` was pushed in #8923 (Apologies for not looking reviewing properly)

This caused AppVeyor build to fail.

The corresponding PR will remove the unnecessary change bought up in #8909

[2018-07-05 06:13] #8937 closed

[2018-07-05 06:48] #8935 closed

[2018-07-06 04:44] tshradheya commented on #8171
Is this issue still relevant? The test is stable on development server

[2018-07-06 04:57] damithc commented on #8171
Looks like not failing anymore. Closing

[2018-07-06 04:57] #8171 closed

[2018-07-06 06:55] #8920 closed

[2018-07-06 07:35] #8929 closed

[2018-07-06 16:30] xpdavid opened #8941 "Duplicated HTML ID attribute in a single HTML page"
While reviewing #8897.

We have many duplicated ID attributes in a single page, which makes the page not HTML standard compliant.

Haven't count the occurrences of the duplications. May need serious refactor to remove them.

Impact: Not critical as our JS won't use the duplicate ID to select element.

Please discuss here before actual refactor goes.

[2018-07-06 16:45] dalessr commented on #8941
I've changed some in #8928 , but there are still some duplicate IDs (i.e. instructorHelpSessions.jsp). I think this usually happens in JSP files due to copying & pasting similar codes.

[2018-07-06 20:15] ah91086 commented on #8931
Given what damithc said, would the best course of action be to simply edit the corresponding .tag file to mark the mandatory fields with a star since front-end validation isn't an option?

[2018-07-06 23:39] ah91086 opened #8942 "Instructor: Feedback Session: question number drop down menu"
I'm not sure if this is a non-issue, but if it isn't, I'd like to take it on.

**Current:**  When editing a session you're given the option to change the question number only if the edit button has been pressed, so having a disabled drop down menu option that is identical to when it isn't disabled is somewhat misleading.
<img width="962" alt="screen shot 2018-07-02 at 4 41 44 pm" src="https://user

[2018-07-07 00:55] damithc commented on #8942
@ah91086 go ahead 👍

We can also have a dot/colon after question number e.g., **Question 1: Is this good?**

[2018-07-07 01:09] LiHaoTan commented on #8931
Minimal frontend validation can still be used with HTML form validation but more important validation checks should only likely exist in the backend.

There are certainly UX issues like what @mg14777 mentioned, including accessibility. However, these are things that we do not have to resolve on our own, for example, Bootstrap 4 supports HTML form validation.

[2018-07-07 06:01] damithc opened #8943 "Update user map as at Jun 2018"
To be done after #8814

Covers new users from May-June 2018

New entries to consider:

Country| University
-- | --
Australia | Deakin University
Australia | Dungog High School
Australia | Monash University
Australia | RMIT University
Australia | University of Technology Sydney
Bangladesh | American International University-Bangladesh
Belgium | Universiteit Hasselt
Brazil | Universidade Anhembi Mor

[2018-07-07 07:23] sukanta-27 commented on #2542
Checked. The issue is still relevent. Changing the email address in the `select` options for the a particular recipient in the DOM will result this.

Will like to work on this issue.

[2018-07-07 07:30] sukanta-27 commented on #5847
@damithc @xpdavid IMO, rubric questions have a better suffix than MCQ/MSQ. I think it is better to go from high level to low level in the id, like in rubric question `{question number}-{row}-{column}` than to go from low to high (or inner to outer parts of the DOM whatever that is called :P ) like  `{row}-{question number}`.

I think it makes selecting elements and manipulating them easier. Would

[2018-07-07 14:37] xpdavid commented on #7787
Half work has been done in the existing closed PR. #8760

Scripts used for migration `displayName` and `role` has been merged and there are `// TODO`s in our code base.

[2018-07-08 00:15] cybersol795 opened #8944 "Edit ide-setup.md"
Opened this issue to improve documentation structure, fix grammatical errors and typos of ide-setup.md

[2018-07-08 07:59] xpdavid opened #8945 "Release V6.7.0"
Re-Scheduled for Wednesday, July 11, 2018, 10.00am SGT.

Sorry for the delay :)

[2018-07-09 17:59] tomignarri commented on #8943
I'd like to take this on.

[2018-07-09 18:17] tshradheya commented on #8943
@tomignarri Go ahead 👍

[2018-07-10 02:51] tshradheya commented on #8943
Since the PR for #8814 isn't progressing fast, I am okay with you doing #8814 as long as you follow up after every review at a quick pace. Also make sure to not the same mistakes that were done in #8821

[2018-07-10 04:39] tanhengyeow commented on #8791
I investigated on this issue and the problem lies with invalid datetime (from user input) being parsed to `null` upon conversion to `LocalDateTime` format at the backend.

As mentioned by @whipermr5 , the update to the frontend happens over AJAX thus a page refresh would not persist the invalid datetime and would show the date back to the original datetime before modification.

I was thinking of r

[2018-07-10 04:59] damithc commented on #8791
Sounds good @tanhengyeow It's good if we can also indicate which exact field was reverted

[2018-07-10 08:43] damithc commented on #8791
I think using a green status message for the invalid case is not suitable. Either make the whole thing orange or show two messages, one orange, one green?
Is it possible to show what was the invalid date entered, for the user's reference? It's ok if that takes too much work.

[2018-07-10 09:01] tanhengyeow commented on #8791
@damithc Yup, doable. Here's the new behavior:

![error 2](https://user-images.githubusercontent.com/25320782/42500032-cfe81048-8462-11e8-8930-bd6c90ab8030.gif)

![image](https://user-images.githubusercontent.com/25320782/42500021-cbc3c39a-8462-11e8-82c9-299628b9b18b.png)

[2018-07-10 13:20] mg14777 opened #8950 "Instructor: Help page: Documentation search feature"
**Description of feature/enhancement**
Allow instructors to search the help documentation using a search box

**Current**
Users need to scroll through the whole page to find the appropriate topic and answer to their question

**Justification**
Having a good search feature gives users a feeling of comfort as they know they can find information without having to read all the docs.

[2018-07-11 00:35] xpdavid commented on #8945
[V6.7.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.7.0) has been released by @xpdavid at July 11th, 2018, 08.29am SGT.

Code contributions from: @AdrianSiwiec, @Vaggelis-Malandrakis, @ah91086, @cybersol795, @jacoblipech, @mg14777, @sukanta-27, @tanhengyeow, @tshradheya, @wkurniawan07, @xpdavid
Review contributions from: @Crphang, @LiHaoTan, @bqnguyen94, @dalessr, @damithc, @tran-tien-

[2018-07-11 03:25] dalessr opened #8952 "Instructor: recycle bin feature: add tests for deleting & restoring of courses"
**Environment:**
`recycling-bin` branch

[2018-07-11 07:12] sukanta-27 commented on #5847
@damithc @xpdavid @bqnguyen94 Will like your thoughts on https://github.com/TEAMMATES/teammates/issues/5847#issuecomment-403195768

[2018-07-11 08:41] xpdavid commented on #5847
Let's ask the author @chowyb for inputs?

Regarding

I think we have [`CSS [attribute$=value] Selector`](https://www.w3schools.com/cssref/sel_attr_end.asp)?

[2018-07-11 10:30] #8899 closed

[2018-07-12 05:00] damithc opened #8957 "InstructorCourseDetailsPageUiTest.testRemindAction failing on live server"
v6.7.0
Possibly a case of not using a real student account; error not caught by CI because email testing is omitted in dev server

	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:24)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:33)
	at teammates.test.cases.BaseTestCase.assertTrue(BaseTestCase.java:127)
	at teammates.test.cases.b

[2018-07-12 05:09] damithc opened #8958 "ProfilesDbTest.testUpdateStudentProfile failing on live server"
v6.7.0

	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:24)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:33)
	at teammates.test.cases.BaseTestCase.assertTrue(BaseTestCase.java:127)
	at teammates.test.cases.storage.ProfilesDbTest.testUpdateProfileSuccessNoChangesToProfile(ProfilesDbTest.java:102)
	at teammates.test.cases.storage.

[2018-07-12 05:47] damithc commented on #8909
Still failing at v6.7.0, for the same reason

[2018-07-12 05:50] damithc commented on #8957
I could be wrong on this.

[2018-07-12 06:02] tshradheya commented on #8957
@LiHaoTan Could this be because now we changed to using `RetryManager` in #8862. I am assuming the `maxDelayInSeconds` which was set to `5` might be too less?

[2018-07-12 06:22] damithc commented on #8957
@tshradheya Can you get it to work on your staging server? I tried increasing the delay to 25 seconds, but still failed. Furthermore, the test doesn't seem to wait the specified seconds anyway; may be retry manager is not used for this case?

[2018-07-12 06:30] damithc commented on #8957
The test doesn't seem to wait at all. The email was received within a few seconds (I monitored the email account) but the test failed anyway, although I set the delay to be 25 seconds.

[2018-07-12 06:42] damithc commented on #8957
Just now I tried with 120 seconds (modified line 279 as follows), and the test failed within 57 seconds :-p

`RetryManager retryManager = new RetryManager(120);`

[2018-07-12 08:57] tshradheya commented on #8958
Note:

https://github.com/TEAMMATES/teammates/blob/bc27ba33b60db40f900e59eca9d8fa8cabdb9dd0/src/test/java/teammates/test/cases/storage/ProfilesDbTest.java#L96-L103

The function `doesFileExistInGcs()` called in line 102 is returning false due to the BLOB_NOT_FOUND error returned by line 39 of the code below

https://github.com/TEAMMATES/teammates/blob/bc27ba33b60db40f900e59eca9d8fa8cabdb9dd0/src/m

[2018-07-12 09:02] damithc commented on #8958
Any idea why this started failing all of a sudden? We didn't have this failure in previous versions.

[2018-07-12 09:31] tshradheya commented on #8958
@TEAMMATES/seniordevs Need some input.

When this test is run on the live server, is it supposed to create the profile picture on the specified bucket on GCP or is it just that the file is created on the `WEB-INF/appengine-generated`?

On running the test between the commits, I noticed that after #8910 got merged, the image started to be saved in GCP bucket, which seems wrong for the test. (Before

[2018-07-12 09:32] tshradheya commented on #8957
Investigating that whether its due to maybe the third party dependencies upgrade we did for 6.7.0

[2018-07-12 14:19] nidhi98gupta commented on #8704
I would like to work upon this.

[2018-07-12 16:50] nidhi98gupta commented on #3918
@damithc This issue is still valid. Currently search feature only allows searching for feedback response comments.

That's because comment docs have these fields.

Although search checkbox has been renamed but if a question/response has no comment on it then it is not searchable.

[2018-07-13 01:48] damithc commented on #3918
I see. reopening.

[2018-07-13 04:09] tshradheya commented on #8958
Ensured that https://github.com/TEAMMATES/teammates/issues/8958#issuecomment-404451309 is the reason for the test to fail.

Removing this function causes the test to pass.
https://github.com/TEAMMATES/teammates/blob/bc27ba33b60db40f900e59eca9d8fa8cabdb9dd0/src/test/java/teammates/test/cases/BaseTestCaseWithMinimalGaeEnvironment.java#L23-L33

However, we cannot remove the function because it ensure

[2018-07-13 05:47] tanhengyeow opened #8959 "Spreadsheet Interface for Student Data UI: Phase IV upgrade for instructorCourseEnrollPage"
**Environment**:
`master` branch

**Description of feature/enhancement**
Continuation of #8900. The enhancement explores suitable feedback mechanism for each row in the existing students' spreadsheet interface if edits to fields of student entries are not permitted after backend validation. This feature allows users to pinpoint the potential errors that surfaced after submitting mass edited studen

[2018-07-13 07:31] #8944 closed

[2018-07-13 23:14] sukanta-27 commented on #7224
@damithc Sir, can we change the name of the issue and the description as we are no more trying to add weights for subquestions but for every individual cell?

[2018-07-14 00:29] damithc commented on #7224
Done

[2018-07-14 02:03] damithc commented on #8945
Deployed. Thanks to everyone who contributed 👍

[2018-07-14 02:03] #8945 closed

[2018-07-15 12:36] Praisey commented on #8769
Hi, I will take this issue as #8735 is already merged!

[2018-07-15 15:02] joanneong opened #8962 "Instructor Home Page: Hide options for instructors without corresponding privileges"
- **Environment**: master branch at commit 0546019

**Description of feature/enhancement**
There are instructors who do not have the privilege to delete courses. In such cases, the `Delete` button is disabled in the `Home` and `Courses` tab. However, in the home page, such an instructor can still access the `Delete` function from the collapsible panel:

![image](https://user-images.githubuserconte

[2018-07-15 15:13] xpdavid commented on #8452
@damithc Just to check. Is the error gone?

[2018-07-15 15:28] xpdavid commented on #8958
Maybe we are in the wrong way -- Maybe we should not set the SystemProperty to Production.

When I look back to the original issue, I think the problem might be associated with the way we compare test.

For example here:
https://github.com/TEAMMATES/teammates/blob/05460192e9ca6f1626584d338838661486f5a7cf/src/test/java/teammates/test/driver/EmailChecker.java#L60-L62

We should inject `Config.APP_UR

[2018-07-15 15:46] damithc commented on #8452
So far, no recurrence. Will have to wait longer to be sure as it was not frequent even before. Will report here if it recurs.

[2018-07-15 16:17] dalessr opened #8963 "Instructor: Delete sessions successfully even the instructor does not have privilege"
**Environment:**
`master` branch

**Description:**
Set instructor's privilege as: custom - can edit/delete course, but cannot create/edit/delete sessions. In this case, even though the instructor is not allowed to delete a session (`delete` button is disabled in Instructor Feedback Sessions Page), he can still achieve that by deleting a course from Instructor Home/Courses Page. The reason is that,

[2018-07-16 04:25] dalessr opened #8964 "Instructor: recycle bin feature: add instructions for managing deleted sessions in instructor help page"
**Environment:**
`recycling-bin` branch

[2018-07-16 04:55] damithc commented on #8963
The issue is indeed valid. We can force-tie session permissions to course permissions to prevent this "nonsensical" permission setting, but probably not worth the effort. Putting on hold.

[2018-07-16 04:55] damithc commented on #8963
l

[2018-07-16 04:55] #8963 closed

[2018-07-16 06:17] tshradheya commented on #8958
The main reason for this was for `isDevServer()` to work properly.

https://github.com/TEAMMATES/teammates/blob/05460192e9ca6f1626584d338838661486f5a7cf/src/main/java/teammates/common/util/Config.java#L124-L126

Otherwise the `Config.APP_URL` will always be `http`

[2018-07-16 07:15] xpdavid commented on #8958
That's totally OK for integration test. So, I am saying when we compare the expected and actual result. We shall not use `TestProperties.TEAMMATES_URL` in the integration test. Use Config.APP_URL will pass the test.

[2018-07-16 08:10] tshradheya commented on #8958
@xpdavid  Are you suggesting a PR like this https://github.com/tshradheya/teammates/pull/6 ?

It works well on the Dev server as shown in travis.
I have run a few tests(EmailGenerator, AdminHomePageUiTest, ProfilesDbTest) on live server which failed in 6.6.0(and were fixed in 6.7.0) and they now pass on live server.

[2018-07-16 12:38] xpdavid commented on #8958
Yes :)

[2018-07-17 03:57] dalessr commented on #8962
@joanneong Actually the expected behavior in the current code (`InstructorHomeCourseAjaxPageData.java`) is that, if an instructor is not allowed to delete a course, then the `delete` button will be disabled. But it seems that this feature does not work correctly since the button is not disabled. Thus, I suspect that we can only disable a button, but cannot disable the nested buttons inside it. Sam

[2018-07-17 04:14] #8858 closed

[2018-07-17 06:46] dalessr opened #8968 "Instructor: recycle bin feature: add tests for deleting & restoring of sessions"
**Environment:**
`recycling-bin` branch

[2018-07-17 07:57] tshradheya commented on #8962
Its not a button but `<a>` tag and it is possible to [disable](https://stackoverflow.com/questions/13955667/disabled-href-tag) it.

However, it is always better to remove it as disabling <a> tag doesnt look neat as disabling a button does

[2018-07-18 04:07] tshradheya commented on #7937
Does this test still fail?
I think the cause of the test failing was fixed in #7452

[2018-07-18 04:29] damithc commented on #7937
Didn't fail in recent times. Closing.

[2018-07-18 04:29] #7937 closed

[2018-07-18 05:37] #8942 closed

[2018-07-18 09:12] #8962 closed

[2018-07-19 02:02] dalessr opened #8971 "InstructorHomePageUiTest & InstructorCoursesPageUiTest failing on 'recycling-bin' branch"
**Environment**
`recycling-bin` branch

[2018-07-19 02:15] tshradheya commented on #8971
Can you also investigate why `InstructorCoursesPageUiTest` is failing in AppVeyorBuild.

[Build](https://ci.appveyor.com/project/damithc/teammates/build/1.0.1063)

[2018-07-19 03:07] dalessr commented on #8971
@tshradheya Okay testing on it now

[2018-07-19 04:04] dalessr commented on #8971
@tshradheya I think the problem is that WebElement.click() [fails](https://community.atlassian.com/t5/Answers-Developer-Questions/Selenium-WebElement-click-does-not-actually-click-element/qaq-p/561928) in Selenium web driver.

[2018-07-19 04:27] damithc opened #8972 "Instructor: enroll students: add a 'paste' option to the context menu"
v6.7.0

current: in the spreadsheet interface of the enroll page, user can use Ctrl+V to paste data.

problem: a user reported looking for the `Paste` option for a long time in the context menu before realizing he can use Ctrl+V

suggestion: add a `Paste (Ctrl + V)` to the context menu of the spreadsheet UI

![image](https://user-images.githubusercontent.com/1673303/42921556-1a95a144-8b4f-11e8-90c

[2018-07-19 04:47] tanhengyeow commented on #8972
@damithc I looked at the Handsontable API briefly and it seems possible. I'll work on it first and note down any incompatibilities or issues faced.

[2018-07-19 07:56] #7281 closed

[2018-07-19 07:56] #8895 closed

[2018-07-20 03:53] tanhengyeow commented on #8972
@damithc I did a research on including a paste option and here are some findings.

This is an extract from the `Handsontable` website regarding the paste option in context menus:

The recommended solution to copy paste in between applications as follows:

Moreover, how `Handsontable` is currently handling copying and pasting of data through keyboard shortcuts is through a library named `SheetClip`

[2018-07-20 05:09] damithc commented on #8972
We can say something like... 'Your Browser does not allow ... Please use Ctrl + V to paste ..'

[2018-07-20 05:18] damithc commented on #8452
Got a few today 😢 :

java.lang.AssertionError: null
at teammates.common.util.Assumption.fail(Assumption.java:61)
at teammates.common.util.Assumption.assertTrue(Assumption.java:29)
at teammates.common.util.Assumption.assertNotNull(Assumption.java:272)
at teammates.common.util.Assumption.assertNotNull(Assumption.java:263)
at teammates.ui.automated.InstructorCourseJoinEmailWorkerAction.execute(Instru