[2017-11-23 07:49] annu025 commented on #8174
Can I take this up?

[2017-11-23 07:52] whipermr5 commented on #8174
@annu025 Go ahead :)

[2017-11-23 08:18] sukanta-27 commented on #8173
@wkurniawan07 I went through the doc file, but could not find any exact version number specified for PMD.

And I downloaded the PMD plugin from Eclipse MarketPlace itself (from the link I provided), and didn't encounter any issues while setting up. But I don't know if it will cause any problems in the future or not.

But while I was working on #8168 , pmd was working fine and pointed out the getIn

[2017-11-23 08:23] #7350 closed

[2017-11-23 08:25] #8151 closed

[2017-11-23 08:25] #8152 closed

[2017-11-23 08:26] #8155 closed

[2017-11-23 09:40] annu025 commented on #8174
[Referring here](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md) to install Google App Engine. Under Plugins, I do not see a way to install this framework. Could you please help me here? I am using community edition of IntelliJ to work on this issue.

Please let me know if I am missing anything. @whipermr5

Thanks.

[2017-11-23 12:57] wkurniawan07 commented on #8173
@sukanta-27, the problem is not "this version can do the job". The difference in the PMD plugins goes way beyond just version numbers. It is quite a luck that the one you found in the Marketplace is the same as the one in the docs, but it's good since Marketplace links is more resilient to changes.

[2017-11-23 14:43] wkurniawan07 commented on #7489
Issue is outdated as the docs now point to official instructions from Cloud Tools for IntelliJ.

[2017-11-23 14:43] #7489 closed

[2017-11-23 14:43] wkurniawan07 commented on #8033
Closing due to inactivity and lack of information.

[2017-11-23 14:43] #8033 closed

[2017-11-24 03:08] damithc opened #8176 "Use 'Evaluee/recipient' in student submission UI"
At some point we changed the feedback submission form to use the term _Evaluee_ instead of _Recipient_. However, some parts of the UI still uses the old term, this sentence for example:

We need to use the new term everywhere.

[2017-11-24 06:00] LiHaoTan commented on #8176
Additional context: The change from  _Recipient_ to  _Evaluee_ was decided in #7812.

[2017-11-24 07:04] KshitijKythe commented on #8176
Can I work on this? @damithc

[2017-11-24 09:05] whipermr5 commented on #8174
@annu025 Have you followed the instructions in [ide-usage.md](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md)?

[2017-11-24 11:43] #8112 closed

[2017-11-24 13:43] sukanta-27 commented on #8176
Can I take this? @damithc @LiHaoTan

[2017-11-24 15:47] LiHaoTan commented on #8176
@KshitijKythe @sukanta-27 we don't require that you ask when taking up an issue. However, it's common courtesy to not work on something else someone is working on.

Given that @KshitijKythe have decided to work on this issue first, @sukanta-27, it might be better for you to take up another issue. If you do feel strongly that you want to work on this issue, you could discuss it with @KshitijKythe

[2017-11-24 16:39] sukanta-27 commented on #8176
@LiHaoTan Okay.
@KshitijKythe Have you already started working on it?

[2017-11-24 17:41] wkurniawan07 opened #8177 "AppVeyor: Run all the lint routines"
When AppVeyor was set up back then (#6238), the focus was to get it up and running first, and the lint routines were all excluded. Since then, issues such as #7020 and #7469 had surfaced, which could be prevented if all the lint routines are also run in AppVeyor CI.
The loss in performance in doing so is marginal to zero since AppVeyor is only run on `master` and `release` branches.

[2017-11-24 19:35] KshitijKythe commented on #8176
@sukanta-27 yes I have. If I can't finish it off soon, I'll be sure to hand it off to you. :)

[2017-11-24 19:38] sukanta-27 commented on #8176
@KshitijKythe Okay :)

[2017-11-25 01:08] nbiswal opened #8178 "Dev docs: mention the need for npm run build"
Hello TEAMMATES,

While trying to setup TEAMMATES in our local machines we followed the steps provided in the "Development Guidelines" of TEAMMATES documentation.

After the installation process was done in the dev server, while following the guidelines for "Logging in to a TEAMMATES instance", we tried adding a new instructor in the adminhome page. However it did not work as the submit button was

[2017-11-25 01:48] wkurniawan07 commented on #8178
@nbiswal thanks for the report.
This is a known limitation of the current documentation. In fact, the command `npm run build` should be run before starting the dev server and before deploying if there are changes to any JavaScript files (this includes being built for the first time), not limited to just when adding new instructors.

[2017-11-25 02:09] nbiswal commented on #8178
@wkurniawan07 thanks for the quick reply.
You are right we did execute the command "npm run build" before starting the dev server as well as before deploying the JavaScript Files but we still got the issue while adding new instructors. So do you think this can be added to the documentation guidelines under "Logging in to a TEAMMATES instance" so that new testers do not face this issue in future.

[2017-11-25 05:25] damithc opened #8179 "IDE setup guide: Intellij: mention that JSP plugin should be enabled."
As I was trying to set the code indentation level for JSP, I realized I need to enable the `Java Server Pages Integration` plugin for `JSP` to appear under _Code Style_ settings.

[2017-11-25 05:50] damithc commented on #8149
Just a minor detail, possibly not related to Java 8. If you try to deploy (`gradlew appengineDeploy`) fails with this error if the dev server is running at the same time.

Failed to capture snapshot of output files for task ':explodeWar' property 'destinationDir' during up-to-date check.

Perhaps mention that dev server should be shutdown before trying to deploy?

[2017-11-25 06:20] LiHaoTan commented on #8179
@damithc that's strange. That should be enabled by default. Do you recall disabling it?

https://www.jetbrains.com/help/idea/plugins.html

[2017-11-25 06:25] damithc commented on #8179
I don't recall, but I may have. Let's see if anyone else report the same problem.

[2017-11-25 07:34] wkurniawan07 commented on #8178
That is not possible if you have run the said command. Did you possibly start the dev server _before_ running that command and then running it afterwards?

It definitely needs to be mentioned somewhere, but not under that section. As I mentioned before, it is a thing to do before starting the dev server and before deploying if there are changes to any JavaScript files (this includes being built fo

[2017-11-25 07:35] damithc commented on #8171
Also failing on v6.0.1 (java 8 version)

[2017-11-25 08:26] damithc commented on #8106
Still hard to pass. v6.0.1

[2017-11-25 15:40] jessleary96 opened #8181 "New Contributor Self-Intro: Jessica Leary"
Link to my fork: https://github.com/jessleary96/teammates

Hello! My name is Jessica Leary and I am a student at Siena College. I am looking to better understand the process of contributing to an open source project. I am seeking primarily to manually test the application or serve as a copy editor and have set up an Instructor Account as outlined in the Orientation Guide. I have not made any UI ch

[2017-11-26 07:07] sukanta-27 commented on #7926
@damithc @wkurniawan07 @whipermr5 @LiHaoTan Has any decision been made regarding this issue?

[2017-11-26 16:14] wkurniawan07 commented on #7926
@LiHaoTan you can say the same for more than half of the current client scripts 😛

[2017-11-26 20:40] sukanta-27 commented on #7818
As there is no activity in this issue for a long time, I am taking this issue.

[2017-11-27 16:00] LiHaoTan commented on #5766
@goodengrish you should try to figure out on your own. Otherwise, it would be someone else doing the work for you. 😃

If you are finding this issue a little hard to handle, you could start by looking at our [orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) if you haven't yet already.

[2017-11-27 16:08] goodengrish commented on #5766
Alright, I will share you my progress then :)

[2017-11-28 02:00] #8174 closed

[2017-11-28 02:33] nbiswal opened #8183 "Changes to Index.jsp to add rel="noopener noreferrer" next to target="_blank" in the Youtube link"
Hello Teammates,

We are a group of 4 people working on this Open Source Software project(Teammates) as part of our subject "Software Assurance". We are mainly focusing on the security aspects of this project.

While exploring for the security guidelines followed in the project we could see in the index.jsp (location - src/main/webapp/index.jsp) for the YouTube link "https://www.youtube.com/embed/

[2017-11-28 03:38] damithc opened #8184 "Instructor create session: default questions: replace 'contribution question'"
Suggestion: In the default session template, replace the 'contribution question' with a simpler 'distribute points' type question.

Suggested replacement question:
![image](https://user-images.githubusercontent.com/1673303/36838157-5d32cc0a-1d79-11e8-81f9-77dcc560fb33.png)

Reason: Although the former is more optimized for the purpose, it also generates too many support requests because users gets

[2017-11-28 06:54] LiHaoTan commented on #8183
Thanks for informing!

I'm no security expert so let's wait for others to chip in. But as far as I understand, this is not something urgent because Youtube is unlikely to be doing anything funny.

I'm not sure if there is any consensus anywhere to implement this though because it does not fully address the whole class of attacks.

https://sites.google.com/site/bughunteruniversity/nonvuln/phishing-

[2017-11-28 10:19] wkurniawan07 commented on #8173
FWIW I finally remember where I get the current link from: http://acanda.github.io/eclipse-pmd/getting-started.html. In other words, nothing has changed.

[2017-11-28 13:43] sukanta-27 commented on #8173
@wkurniawan07 Oops! I was really not aware of this process 😅:

No wonder I was getting a 403 Forbidden error.
So, should we keep this issue open or close it?

[2017-11-28 20:45] 3esawe opened #8186 "New Contributor Self Intro : Omar Ali"
Hello! My name is Omar Ali and I am a student of Network Engineering . I am looking to better understand the process of contributing to an open source project. I have a good java background .I found TEAMMATES one of the recommended open source project in google . so I'm really exciting about the experiment in open source project and I hope that I can learn a lot from this experiment about the proc

[2017-11-29 05:51] LiHaoTan commented on #7490
To be clear, this issue should be addressed but any contributor should take note of the discussion and when submitting a PR/addressing the problem, one should make proper justifications for the approach taken.

[2017-11-29 16:28] chowyb commented on #8183
@nbiswal yes, this seems to be a valid issue. The idea to use `rel="noopener noreferrer"` was first introduced in #6367, but perhaps the link to the video was unintentionally left out.

If you wish, you may want to submit a PR rectifying this issue, and we'd be happy to review the PR :)

[2017-11-29 16:31] wkurniawan07 commented on #8183
@nbiswal there's in fact quite a number of places where such inclusion is missing (i.e. this is just one of the many). You're welcome to patch as many as you can find.

@LiHaoTan very insightful link. One thing though, I notice you have this tendency for "all or nothing" approach. Patching one source of error of course doesn't help in patching everything else, but it's better than patching none, r

[2017-11-29 16:34] nbiswal commented on #8183
Thanks @wkurniawan07 @chowyb. I would be providing a pull request soon with the required changes and I would try to add the rel="noopener noreferrer" wherever its missing.

[2017-11-29 16:51] LiHaoTan commented on #8183
@wkurniawan07 right, I realized I had the tendency to lean towards an "all or nothing" approach sometimes and it's not very good. I am definitely trying to address it 😅 .

This doesn't quite apply here though. What I meant here is that if we do pick the approach taken here, we need to make sure we are aware that we are not actually fixing the problem completely. However, our code and documentation

[2017-11-29 17:13] wkurniawan07 commented on #8183
@LiHaoTan You can try to fix it, although I personally am quite wary of inclusion of such. If anything, it's because security is a very grey area and there's always new vulnerabilities coming up on a regular basis. It's a lose-lose situation right now.
- Not including: we may give an impression that there's only one such vulnerability.
- Including: what do you want to achieve by such inclusion? Su

[2017-11-29 17:23] jessleary96 opened #8187 "Instructor Search Bar Enhancement"
**Description of feature/enhancement**
Enhance the search bar feature from the Instructors account in regard to searching for text that is surrounded by tags.

For example, in the first image below, when there are spaces between the tag and the text to search, the search will still return the correct search results. However, in the second image, when there are no spaces between the tags and text t

[2017-11-29 17:45] wkurniawan07 commented on #8149
@whipermr5 is that what you encountered some time back? If it is, it's a Windows-specific file locking issue that has been around for as long as we adopt Gradle.

[2017-11-29 17:46] LiHaoTan commented on #8183
@wkurniawan07 I think I agree with your points and it's also part of why it is difficult. New vulnerabilities always pop up, e.g. like the recent [IDN homograph attack](https://en.wikipedia.org/wiki/IDN_homograph_attack)

Basically, I am not sure if we should ever claim that we are fixing a security issue unless it is verified by industry experts, e.g. best practices for handling CSRF attacks. The

[2017-11-29 18:14] jessleary96 opened #8188 "Instructor Text/Background Color Enhancement"
**Description of feature/enhancement**
As an instructor, when you create a new feedback session there is an instructions text box where the instructor can put instructions for the session. When one hovers over different text and background color options, this choice is not then hi-lighted to indicate which choice you are hovering over.

This screenshot below shows the area I am referring to.

![hi

[2017-11-30 01:17] nbiswal commented on #8183
Hello everyone,
While exploring the issue I could find the corresponding CWE-ID for the same.Attached are the details for your reference.

CWE-1022: Improper Restriction of Cross-Origin Permission to window.opener.location (https://cwe.mitre.org/data/definitions/1022.html)

Thanks!

[2017-11-30 02:49] damithc commented on #8187
That's a useful enhancement @jessleary96. Thanks for the suggestion. I don't think it is worth implementing though. We don't expect users to have tags in their search strings.

[2017-11-30 02:57] damithc commented on #8188
Yes, that might be useful. Thanks for the suggestion @jessleary96  We are using a third-party library for the rich-text feature; it is unlikely that we'll modify the library to implement that feature.

[2017-11-30 03:31] jessleary96 opened #8190 "Instructor: help page: remove link-style formatting from sub-titles"
Description of feature/enhancement
Within the help document, various subtitles show up with a blue line underlining/highlighting them as if they are a hyperlink to click on and retrieve more information from. This could present confusion for users who may think they are missing additional information or be looking for a link to follow.

Attached below are two screenshots that show the hi-lighting

[2017-11-30 05:11] LiHaoTan commented on #8183
@nbiswal That looks like a great source though I am unable to verify how good the source is.

I went across a few different browsers to replicate the security issue and am unable to replicate the security issue. It's as though this issue has already been fixed by modern browsers and I'm not sure if it's applicable anymore.

# Results
## Tested browsers without cross-origin `window.opener` vulnerab

[2017-11-30 05:42] jessleary96 commented on #8188
Thank you @damithc for the feedback!

[2017-11-30 05:43] jessleary96 commented on #8187
Thank you @damithc for the feedback!

[2017-11-30 13:35] bjrodrig opened #8191 "New contributor self intro [Barbara Rodriguez]"
**Link to my fork:** e.g. https://github.com/bjrodrig/teammates

**Screenshot of changes made (as seen on the UI)**
<img width="943" alt="home page with light orange" src="https://user-images.githubusercontent.com/29617046/33433258-e3093616-d5a8-11e7-9001-dfea3cb61b71.PNG">
Changed font color of "Student peer evaluations/feedback..." to light orange.

**Short self-introduction**
My real name is Ba

[2017-11-30 17:57] LiHaoTan commented on #8183
I have found the patch for the behavior:
https://chromium.googlesource.com/chromium/src/+/b2607b8c1ec79075a2586c87aed3fce9645b561d

Some additional details:
https://html.spec.whatwg.org/multipage/history.html#dom-location-assign

It seems that the behavior has been flip-flopping on Chromium and if I remember correctly it is because the specs on WhatWG has been changing? I will be updating this com

[2017-12-01 01:08] damithc commented on #2620
Another case of this, noticed in a screenshot sent by a student (for an unrelated issue):
![image](https://user-images.githubusercontent.com/1673303/33463201-08d42648-d677-11e7-96e0-fef1945149d0.png)

[2017-12-01 04:36] wkurniawan07 commented on #8183
@LiHaoTan one problem with your argument is you're assuming all users are using latest Chrome...

[2017-12-01 04:42] LiHaoTan commented on #8183
@wkurniawan07 Across the major browsers, the vulnerability pretty much only exists on Chrome.

we need assignOriginSafeMethodGetter to simulate the Incumbent
realm.  See the comment in Location.idl for details.

FF, Safari = location.assign is not cross-origin accessible.
Edge = cross-origin representation of |location| is not
supported.
So, no one seems supporting location.assign on cross-origin

[2017-12-03 22:29] baczus0 opened #8192 "New contributor self intro: Paweł Bąk"
Fork repo: https://github.com/baczus0/teammates
Changes:

![](https://i.imgur.com/8M0I1GN.png)

Changed `<input type="text">` to `<textarea>` to allow to see more rows in admin email logs.

I'm Paweł Bąk form Poland. I study Theoretical Computer Science at Jagiellonian University in Cracow and I work as Java Developer.  It is my first open source project and I'm glad to start contributing it.

[2017-12-04 05:09] LiHaoTan commented on #8181
Hi Jessica, welcome to TEAMMATES!

I see you have already contributed a few suggestions and submitted a PR. I guess you would have noticed that we usually encourage contributors to first work on `d.FirstTimers`, and follow up with `d.Contributors`.

For a copy editor or tester though, the process is currently not quite the same, and it is not quite well-established.

For a tester, some possible th

[2017-12-04 05:12] LiHaoTan commented on #8186
Hi Omar, welcome to TEAMMATES! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues. :)

[2017-12-04 05:14] LiHaoTan commented on #8191
Hi Barbara, welcome to TEAMMATES! I see you have tinkered with the project. You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues. :)

[2017-12-04 05:55] LiHaoTan commented on #8192
Hi Paweł, welcome to TEAMMATES! Looks like a useful change. You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues. :)

[2017-12-04 11:40] bjrodrig commented on #8191
Thanks LiHao!

[2017-12-05 02:28] damithc commented on #8108
One more case reported today.

[2017-12-06 09:46] jakshay1991 commented on #8173
@sukanta-27  I followed the same process mentioned at []( http://acanda.github.io/eclipse-pmd/getting-started.html) and was able to install the plugin. Though i am not able to access the url [](http://www.acanda.ch/eclipse-pmd/release/latest) directly.

<img width="868" alt="screen shot 2017-12-06 at 3 13 25 pm" src="https://user-images.githubusercontent.com/21007930/33655193-693d7604-da98-11e7-8a

[2017-12-06 09:57] achaudhary997 opened #8194 "New contributor self intro: Anubhav"
Fork Repo: https://github.com/achaudhary997/teammates
Changes:
![image](https://user-images.githubusercontent.com/19773496/33655599-803b7972-da99-11e7-8a96-229205cbd28c.png)

Added a scroll to Top link in the bottom right of the instruction page to allow the user to go back to the top. These were there before but they were at the end of each section and some sections were quiet long so it was toug

[2017-12-06 11:02] sukanta-27 commented on #8173
@jakshay1991 Yes, this is expected.

I think we should. We can also change the link in the `static-analysis` file to the [getting-started](http://acanda.github.io/eclipse-pmd/getting-started.html) link.

@whipermr5 @wkurniawan07 for your opinion.

[2017-12-07 15:41] sukanta-27 commented on #8194
Hi @achaudhary997

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2017-12-07 23:36] bjrodrig commented on #7490
Can I work on this? I think it's helpful to move IDE specific instructions to the IDE Usage page. That way contributors do not have to scroll past irrelevant information when reading build/test/deploy routines.

[2017-12-09 17:46] keoren3 opened #8196 "Help Request: 38 Failed Tests"
Hello,

- Operating System: Windows 7
- JDK Version: 1.8
- Eclipse Version: Eclipse OXYGEN
- Firefox Version: 46.0

**What I was trying to do / What I need help with**
I was resolving test failures.
I think i have some kind of a problem with the Encoding, but I can't seem to solve it.
I added a few screen shots of what is wrong at the end of the post.
needless to say that I ran this more than a fe

[2017-12-09 20:35] goodengrish commented on #5766
Hello again,

Here is the link to my fork: https://github.com/goodengrish/teammates

I made changes on the HTML files in the path: src/main/ressources.
I took my time to delete the unnecessary classes in these files but I might forgot some or delete useful ones inadvertently.

[2017-12-09 21:55] sukanta-27 commented on #8196
@keoren3 I was facing a similar issue, and apparently only setting the project specific text encoding to `UTF-8` was not solving it. I changed the workspace preference text encoding to `UTF-8` and it solved this issue.

Can you please check if your `Window ->Preference -> General -> Workspace -> Text file encoding` settings is this or not?
![screenshot 263](https://user-images.githubusercontent.co

[2017-12-09 23:05] keoren3 commented on #8196
I can't tell you how much I appreciate your help!
Thank you very much.

I actually tried looking in Window -> Preference, but I couldn't find where to change the encoding.

Thanks again!

[2017-12-09 23:05] #8196 closed

[2017-12-09 23:47] bjrodrig commented on #6900
Can I work on this issue?

I followed the discussion on issue #4845 and created the same modification that mukesh14149 created.
<img width="623" alt="admin add instructor overflow - join link" src="https://user-images.githubusercontent.com/29617046/33800583-ce6de840-dd10-11e7-872c-001f1da571e0.PNG">

I noted that there was a request to add a test to check that the actual link matched the expected

[2017-12-10 01:01] damithc commented on #8196
Thanks for helping @sukanta-27 👍

[2017-12-10 05:13] LiHaoTan commented on #6900
@bjrodrig sure, please go ahead. We don't require that you ask so if you want to let others know you are working on an issue, you can leave a note.

Also, I suggest not updating your progress on the issue tracker unless you need or want to promote discussion. It would save everyone's time by presenting just the final solution :).

[2017-12-10 05:24] LiHaoTan commented on #5766
@goodengrish I'm afraid I don't get what you want to achieve by showing your fork.

In any case, you need to remove all invalid CSS used in all HTML that is not declared in any of TEAMMATES stylesheets. You should figure out how to verify this.

[2017-12-10 09:47] wkurniawan07 commented on #8111
[V6.0.1](https://github.com/TEAMMATES/teammates/releases/tag/V6.0.1) has been deployed by @damithc at November 25, 2017, 4.30pm SGT.

[2017-12-10 09:47] #8111 closed

[2017-12-11 12:46] wkurniawan07 commented on #7490
I have the feeling that whatever triggered the opening of this issue has been fixed. @damithc is it the case?
Otherwise, as discussed in #8195, creating a dedicated doc with all IDE-specific instructions actually cause unnecessary bloat and unnecessary navigation (e.g. when reading `development.md`, instead of simply following the flow, one needs to open a new document). The IDE-specific parts exi

[2017-12-11 13:27] bjrodrig commented on #2515
working on this

[2017-12-11 14:01] damithc commented on #7490
Yes, that seems to be the case.  Closing.

[2017-12-11 14:01] #7490 closed

[2017-12-12 03:16] damithc commented on #8097
A few more cases reported in recent times. Should fix soon.

[2017-12-12 22:28] keoren3 opened #8199 "Help Request: [Execution failed for task ':appengineStage' .]"
- **Operating System: Windows 7**
- **JDK Version: 1.8**
- **Eclipse Version (if applicable): Oxygen.1a Release (4.7.1a)**
- **Firefox Version (where applicable): 4.60**

**What I was trying to do / What I need help with**
I am trying to Deploy to a staging server on the 'Google Cloud Platform'
I tried running this command:
`./gradlew appengineDeploy`
I got this error:
"FAILURE: Build failed with

[2017-12-13 10:00] damithc opened #8200 "Update user map for Nov 2017"
Similar to #6765

New entries to consider:

Australia | Australian National University
-- | --
Australia | Griffith University
Australia | Holmesglen Institute
Australia | University of Melbourne
Australia | University of Western Australia
Belgium | campus de helix
Belgium | Hasselt University
Belgium | Sint Victor Alsemberg
Belgium | Sint-Franciscus College
Belgium | Universiteit Antwerpen
Belgiu

[2017-12-14 13:46] wkurniawan07 commented on #8199
@keoren3 unfortunately, the screenshot you sent did not really help. I will need some more information in order to help.

What exactly do you mean by above?

What "cloud shell" are you talking about?

How are you making sure that the settings are OK? Which "settings" are involved here in the first place?

Also, it may help if you can run the command with `--stacktrace` flag and paste the output he

[2017-12-14 15:54] sukanta-27 commented on #8176
@KshitijKythe Any updates?
It's been 20 days and you haven't submitted a PR yet, so, just wondering if you are still working on this or not.

[2017-12-14 18:55] KshitijKythe commented on #8176
sukanta-27 sorry, I've been busy on some other stuff. You go ahead and raise a PR.

[2017-12-14 19:00] KshitijKythe commented on #8176
@sukanta-27 Hey, my apologies, I've been busy with some other stuff, you go ahead and raise a PR. Just a pointer, some static pages like instructorHelp.jsp and features.jsp have many hits for 'recipient'. So just confirm with the core members where all it needs to change. Sorry for the delay.

[2017-12-14 20:08] sukanta-27 commented on #8176
@KshitijKythe Thank you for the tip. I really appreciate that. :smile: I will start working on it.

[2017-12-15 02:16] damithc opened #8203 "Student view results: Fix anonymity breach for self-feedback questions"
Question setting:
![image](https://user-images.githubusercontent.com/1673303/34023590-b171f87a-e180-11e7-9bce-e6c6d82d2493.png)

What students see:
![image](https://user-images.githubusercontent.com/1673303/34023576-a2d303c2-e180-11e7-9abc-2bf23d885816.png)

If there is another anonymous question, students can figure out who gave each responses (because we use the same anonymous ID for all respons

[2017-12-15 02:19] damithc commented on #8203
@TEAMMATES/seniordevs this needs an urgent fix as there is one user who cannot publish results due to this.

[2017-12-15 10:23] keoren3 commented on #8199
Hi,

First of all, thank you for your comment, I highly appreciate it.
So I was working by this manual:

https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#deploying-to-a-staging-server

I did all the stages before, and I got to the section "Deploying to a staging server".
And I'm a bit stuck now.

I meant that I started the server in the eclipse as shown down here:

![eclipse_

[2017-12-15 16:07] pierreSquared opened #8205 "New contributor self intro: Adrian Siwiec"
Forked repository: https://github.com/pierreSquared/teammates

Added colons after names of the fields in Student Details Page.

Screenshot:
![screenshot from 2017-12-15 16-55-22](https://user-images.githubusercontent.com/12675382/34050108-fc0ddc6c-e1b9-11e7-918c-5eb187a81761.png)

My name is Adrian Siwiec, I'm a Computer Science student from Jagiellonian University, Poland. Previously interned as

[2017-12-15 17:26] sukanta-27 commented on #8176
@damithc @LiHaoTan Sir, to be clear, There are many variables with the word 'recipient' in it. like `recipientType` ,`FEEDBACK_QUESTION_CONSTSUMTORECIPIENTS`, do they need to change to `Evaluee` as well, (like `evalueeType` and `FEEDBACK_QUESTION_CONSTSUMTOEVALUEES`)  or just the parts which are shown in the UI.

[2017-12-15 17:55] wkurniawan07 commented on #8199
@keoren3 I see "java.lang.RuntimeException: Cannot get the System Java Compiler. Please use a JDK, not a JRE." in the logs; can you check if your `PATH` variable (`echo %PATH%`) contains a JRE? It should be a JDK instead.

[2017-12-15 18:01] wkurniawan07 commented on #8203
@damithc how exactly should this be remedied? "we use the same anonymous ID for all responses from the same student" is actually a conscious decision (#5228). This becomes somewhat like conflicting requirements.

[2017-12-16 00:53] damithc commented on #8203
@wkurniawan07 note that the giver's team members should not be able to see giver or receiver name (they should see the response only) yet we show the receiver name.

On a related note, I think we should reverse the decision to have matching random identifiers and go back to fully random identifiers. In fact I deployed a hot fix to do exactly that which mitigates the problem in this issue (although

[2017-12-16 03:03] damithc commented on #8176
@sukanta-27 Let's do the user-visible ones first. Changing it internally can be separate issue.

[2017-12-16 05:12] damithc commented on #7926
Putting on hold for now

[2017-12-16 05:12] #7926 closed

[2017-12-16 05:16] #8191 closed

[2017-12-16 05:16] #8194 closed

[2017-12-16 05:17] #8192 closed

[2017-12-16 05:17] #8186 closed

[2017-12-16 05:17] #8181 closed

[2017-12-16 05:17] #8167 closed

[2017-12-16 05:19] damithc commented on #8205
Welcome to TEAMMATES @pierreSquared Looking forward to your first contribution.

[2017-12-16 05:19] #8205 closed

[2017-12-16 05:26] damithc commented on #8190
Good suggestion @jessleary96
Some additional info for the benefit of the person attempting to fix this issue:
Examples of problematic headings:
![image](https://user-images.githubusercontent.com/1673303/34067571-833a7a56-e264-11e7-9a2c-f67837132d63.png)
This problem doesn't appear in the help page for students (i.e. `/instructorHelp.jsp`)

[2017-12-16 05:28] damithc commented on #8188
Closing for the time being due to low priority.

[2017-12-16 05:28] #8188 closed

[2017-12-16 05:29] damithc commented on #8187
Closing for the time being due to low priority.

[2017-12-16 05:29] #8187 closed

[2017-12-16 05:30] damithc commented on #8179
Closing for now.

[2017-12-16 05:30] #8179 closed

[2017-12-16 05:35] damithc commented on #8178
@wkurniawan07 can do a quick fix for this?

[2017-12-16 05:45] damithc commented on #8162
Closing as per my comment in #8165

[2017-12-16 05:45] #8162 closed

[2017-12-16 05:50] damithc commented on #8146
Confirmed in #8203

[2017-12-16 05:50] #8146 closed

[2017-12-16 05:56] damithc commented on #8140
@whipermr5 check the following course on live server. If you can see the photos (I can't), the problem can be limited to the masquerade mode

![image](https://user-images.githubusercontent.com/1673303/34067728-d077dad0-e268-11e7-9fcc-679ea4e303de.png)

[2017-12-16 06:03] damithc commented on #8115
Can one of the @TEAMMATES/seniordevs fix this? While the fix is easy, knowing where to apply the fix may need a high-level knowledge of the whole workflow.

[2017-12-16 06:06] damithc commented on #8085
No longer applicable. This problem was most likely caused by #8156 which mislead students to think they submitted when their click only triggered the tooltip

[2017-12-16 06:06] #8085 closed

[2017-12-16 08:54] sukanta-27 commented on #8176
@damithc Okay, I am already on it.

[2017-12-16 10:13] xpdavid commented on #8203
@damithc

This is because of the line https://github.com/xpdavid/teammates/blob/master/src/main/java/teammates/common/datatransfer/FeedbackSessionResultsBundle.java#L842. If the question type is SELF feedback, we would show recipients' name anyway.

So I think the discussion would be back to whether we should bring random identifiers for anonymous students.

[2017-12-16 10:22] damithc commented on #8203
I think that line possibly has a bug. The intention of the setting below is clearly for team members to see the answer without seeing giver or recipient name (both boxes are unticked).
![image](https://user-images.githubusercontent.com/1673303/34069491-7c974368-e28d-11e7-8412-4643a292519c.png)

i.e. team members should be something like
[code]

[2017-12-16 11:51] ahmedEl-Lithy commented on #4552
Is this issue still open?

[2017-12-16 15:14] keoren3 commented on #8199
Probably a dumb question, but how am I supposed to change it?
is it here?:
![jre-jdk](https://user-images.githubusercontent.com/34122776/34071746-f3549fc8-e283-11e7-9767-007753586bdb.JPG)

But as you can see, the path is to the JDK folder.
I also checked here:
![check2](https://user-images.githubusercontent.com/34122776/34071756-1f3dd6c2-e284-11e7-858e-4c87e37a5470.JPG)

But it seems to be o.k.

O

[2017-12-16 17:08] wkurniawan07 commented on #8199
@keoren3 All the settings in Eclipse are not relevant when running `./gradlew appengineDeploy` with command line. Changing `PATH` variable is a rather risky action so I will not recommend it unless you're exactly sure what you're doing. Instead, you should change [this line in your gradle.properties file](https://github.com/TEAMMATES/teammates/blob/master/gradle.template.properties#L9).

But from

[2017-12-16 17:33] wkurniawan07 commented on #8176
@damithc it may be just me, but `giver-evaluee` does not sound like a good pair. It's either `giver-recipient` or `evaluator-evaluee`. In fact I find the term `evaluee` rather weird because it is really not commonly used in everyday English.
Which brings me to this question: In #7812, why change "To" to "evaluee" instead of "recipient"?

[2017-12-16 17:59] wkurniawan07 commented on #7996
@Zhiyuan-Amos, while the issue (and similar ones you opened) may be valid, I'm intending to close all of them now for the reason that the increase in code/design quality does not seem significant. Unlike the other project you're maintaining where code/design quality is the focus, here there is an actual product concerned and given the limited resources we have, if we want to work on this kind of s

[2017-12-16 17:59] #7996 closed

[2017-12-16 17:59] wkurniawan07 commented on #7995
Closing as explained in #7996.

[2017-12-16 17:59] #7995 closed

[2017-12-16 18:00] wkurniawan07 commented on #7840
Closing as explained in #7996.

[2017-12-16 18:00] #7840 closed

[2017-12-16 18:00] wkurniawan07 commented on #7834
Closing as explained in #7996.

[2017-12-16 18:00] #7834 closed

[2017-12-16 18:00] wkurniawan07 commented on #7730
Closing as explained in #7996.

[2017-12-16 18:00] #7730 closed

[2017-12-16 18:02] wkurniawan07 commented on #7836
Closing as explained in #7996.

[2017-12-16 18:02] #7836 closed

[2017-12-16 19:35] darrenwee commented on #7837
I'll take this one!

[2017-12-17 03:27] Zhiyuan-Amos commented on #7996
Noted with thanks! ^^ Apologies; thought I was free to finish this up quickly, but ended up being busy with other projects.

[2017-12-17 04:09] damithc commented on #8176
@wkurniawan07 that's true.

The root cause is that TEAMMATES try to cater for two basic functions: doing _evaluations_ (evaluator-evaluee) and giving _feedback_ (giver-receiver)

The reason we changed `receiver` --> `evaluaee` is because a user commented that respondents get confused when they see `recipient` for questions that the person being evaluated is not supposed to _receive_ anything.

Opt

[2017-12-17 09:56] keoren3 commented on #8199
Well, I don't really know what the staging server is, I'm trying to figure things out as I go (still a computer science student).

I tried changing the line you said, but it still doesn't work.
is there something wrong here?
![capture](https://user-images.githubusercontent.com/34122776/34078345-2be89b3a-e321-11e7-9eee-0bbacdbb685b.JPG)

Can I just skip this stage and it won't affect me in the futu

[2017-12-17 11:59] xpdavid commented on #8203
@damithc If we remove the condition that "if a question is self-feedback, we would show recipients' name anyway", we would get the following result and it is as expected.

![image](https://user-images.githubusercontent.com/13977235/34079234-732be554-e364-11e7-9921-92b161e234d0.png)
(In this case, it is not possible to figure out the name from the identifier)

I have rerun the full test suite after

[2017-12-17 12:12] damithc commented on #8203
Good work @xpdavid
One slight concern is that `SELF` is an internal term which should not (ideally) show up in the UI. Dig around a bit more to see if it can be avoided too?

[2017-12-17 13:01] xpdavid commented on #8203
@damithc We could do the same things as giver name:
![image](https://user-images.githubusercontent.com/13977235/34079665-e9ab81e6-e36c-11e7-86be-816134a1f19f.png)
(In this case, since it is self-feedback question, it doesn't matter to show the same identifier for recipient and giver)

[2017-12-17 13:29] xpdavid commented on #8203
Just run `git blame` and find a problem. We cannot simply do the same things as giver name because of #5228. Maybe we could change it to `Anonymous`?

By the way, if we can fix the issue about the 'fixed' random identifier for the same person in anonymous feedback, all these issues would gone :p

[2017-12-17 13:50] damithc commented on #8203
Ignore that for now (it affects any question whose answer might contain identifying information, not just self-feedback).  We'll fix that separately, but need to fix soon.

By the way, why does `To` is missing the word `student`?

[2017-12-17 14:34] wkurniawan07 commented on #8199
@keoren3 I doubt this is the problem, but it could be the trailing slash (`/`). See if removing it works. Of course, I assume that the folder `C:/Program Files/Java/jdk1.8.0_151` exists. If it still does not work, you can post the stack trace again here (it should be a different stack trace this time).

This step in fact is not even necessary if you just want to work on your local environment. Als

[2017-12-17 14:56] keoren3 commented on #8199
It still didn't work, but I think I'll just continue.
I'm sure that eventually, after using the system and working with it a little, I'll know better how to take care of these kind of problems.
Right now I feel that I'm just wasting your time, waiting for you to hand me the solution, and I don't think that is the correct way.

Thank you very much for your time, I appreciate it very much!

[2017-12-17 14:56] #8199 closed

[2017-12-17 17:16] sukanta-27 commented on #8176
@damithc @wkurniawan07  Sir, as I am working on this, and has already replaced `recipient` to `evaluee` in `Features.jsp` (there was 1 hit) and `InstructorHelp` page (there were 60 hits), I am just curious to know, why only replace the words in "Student views" (if they are to be replaced at all), I mean why not replace it in instructor views as well?

and FWIW If I had to choose I think option 1 i

[2017-12-18 04:27] damithc commented on #8176
We used `giver/receiver` exclusively before, both in UI and backend. Changing it to something else everywhere is non-trivial. It's not simply a matter of search-and-replace.
The confusion with the term 'recipient' is related to students only, even more specifically, in the submission form. If we use option 4.iii (i.e. simply add `/evaluee`), it solves the problem with minimal change.

[2017-12-18 09:02] craaaa commented on #8190
I'll take this!

[2017-12-18 10:16] joanneong opened #8207 "New contributor self intro: Joanne Ong"
- **Link to my app:** e.g. https://teammates-joanne.appspot.com
- **Link to my fork:** e.g. https://github.com/joanneong/teammates

**Screenshot of changes made (as seen on the UI)**
**Before:**
<img width="555" alt="before" src="https://user-images.githubusercontent.com/24493463/34100733-65e75152-e41e-11e7-9176-930a22f44bac.png">

**After:**
<img width="553" alt="after" src="https://user-images.g

[2017-12-18 10:53] craaaa commented on #8190
Hi @damithc, I noticed a few inconsistencies in `instructorHelp.jsp` while changing the link tags:
- Linebreaks are not consistent between paragraphs (e.g. some used 2 `<br>`s while other lines used 3).
- Use of `h3` and `h4` tags was also not standardized across the document - for instance, the `Archiving` section uses `h3` tags for question headings, while the `FAQ` section just uses `<b>`.

Sho

[2017-12-18 11:57] damithc commented on #8190
Sure @craaaa

[2017-12-18 17:42] sukanta-27 commented on #8176
@damithc Okay, I will work with option 4.iii

[2017-12-18 21:07] darrenwee commented on #7838
I'll start working on this one.

[2017-12-19 01:04] damithc commented on #8207
Welcome to TEAMMATES @joanneong

Yes you can 👍

[2017-12-19 02:35] damithc commented on #7796
Still happening at v6.0.1

[2017-12-19 03:18] damithc commented on #8176
This is the current status (and the discrepancy):
![image](https://user-images.githubusercontent.com/1673303/34138671-adf9e3dc-e4ab-11e7-9192-356147fd6d51.png)

One way to fix this as follows, which also improves the UI (by removing the repetition `Evaluee`):
![image](https://user-images.githubusercontent.com/1673303/34139158-1f1e4402-e4ae-11e7-9f96-7fa53e8dafe7.png)

@TEAMMATES/seniordevs what do

[2017-12-19 05:22] LuLechuan commented on #8087
Hi, since the PR related to this issue by @VamsiSangam  has been closed for a while, can I work on this issue? Thanks!

[2017-12-19 05:28] damithc commented on #8087
Sure @LuLechuan

[2017-12-19 07:41] joanneong commented on #7899
I'll try working on this.

[2017-12-19 12:16] LiHaoTan opened #8209 "Improve general reliability of tests"
A lot of work has been done to improve test reliability, this issue continues upon the work done by others and aims to address some key problems.

[2017-12-19 13:25] xpdavid commented on #8203
@damithc fixed, will send a PR soon
![image](https://user-images.githubusercontent.com/13977235/34159152-2d55c25c-e503-11e7-8cff-bbede2e1047f.png)

[2017-12-19 13:27] Haozhe321 opened #8212 "New contributor self intro: Pan Haozhe"
link to my app: [https://teammates-haozhe.appspot.com](url)
link to my fork: [https://github.com/Haozhe321/teammates](url)

UI- before:
<img width="1118" alt="teammate_ui_before" src="https://user-images.githubusercontent.com/26651556/34158955-66a80c3c-e502-11e7-9028-bb293b90598d.png">

UI- after:
<img width="1105" alt="teammate_ui_after" src="https://user-images.githubusercontent.com/26651556/341

[2017-12-19 13:41] #7837 closed

[2017-12-19 14:12] wkurniawan07 opened #8213 "Java: Use Java 7 try-with-resources for AutoCloseable resources"
Stuffs like [this](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/driver/FileHelper.java#L23-L32):
[code]
can be modified to use the [try-with-resources statement](https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html):
[code]
The benefit is two-fold: makes the code shorter and also closes the linked resources without fail, although adm

[2017-12-19 14:17] wkurniawan07 opened #8214 "Java: Use Java 8 list.removeIf in place of Iterator"
Context: Someone wants to "filter" a list according to a given condition.

Pre-Java 8:
[code]
Java 8:
[code]
There are more than 10 places where this can be applied.

[2017-12-19 14:23] wkurniawan07 opened #8215 "Java: Use Java 8 map.putIfAbsent and map.computeIfAbsent"
Context: Someone wants to add a key-value pair to a map if the key-value pair does not exist.

Pre-Java 8:
[code]
Java 8:
[code]

For this one there are more than 20 places. Have to fix no less than 20 to qualify for a valid PR.

[2017-12-19 14:23] damithc commented on #8203
Um, now the random number is missing from the `To` field? Shouldn't it be,
[code]
Or did you leave out the random number from `To` because it is the same as the one in `From`?

[2017-12-19 14:29] wkurniawan07 opened #8216 "Java: Use Java 8 map.forEach to iterate through map entries"
Pre-Java 8:
[code]
Java 8:
[code]

A lot of places where this can be applied. Have to fix no less than 20 to qualify for a valid PR.

Note that this issue is limited to maps only. While `list.forEach(item -> { ... })` exists, there is no clear benefit over `for (String item : list) { ... }`.

[2017-12-19 14:38] Haozhe321 commented on #8214
Can I take this?

[2017-12-19 14:40] wkurniawan07 commented on #8214
Go ahead, @Haozhe321

[2017-12-19 15:14] wkurniawan07 opened #8217 "Java: Use Java 8 lambda as comparators"
Pre-Java 8 method of sorting a list:
[code]
Java 8:
[code]
There are very likely ~100 places where this can be applied. Have to fix no less than 30 to qualify for a valid PR, and not more than ~~10~~ 1/3 of the number fixed can be trivial/non-custom ones.

[2017-12-19 21:23] lucniner commented on #8213
Hi @wkurniawan07 ,
I had a look at the issue, but mainly found try catch blocks with exception types which do not implement `java.lang.AutoCloseable`, which is necessary for your proposed changes. As far as I can tell, there is one code block beside your mentioned one, which could be changed, but then the semantics of that block would change (handling of the non existing file) [see here](https://g

[2017-12-19 22:03] darrenwee commented on #7838
I ran some benchmark tests on streams versus for-loops and found that streams generally perform worse.

I ran the tests using [`jmh`](http://openjdk.java.net/projects/code-tools/jmh/).
The method names containing `Vanilla` are for the current methods in the teammates code base. I only did this for a few functions because it takes a while to write the new methods and run the benchmarks.
The metric

[2017-12-20 01:36] wkurniawan07 commented on #8213
@lucniner thanks for your input. I believe you just have not looked hard enough, or maybe you are looking for the wrong things. I'm not sure what you meant by "exception types which do not implement `java.lang.AutoCloseable`" though because exceptions _do not_ implement `AutoCloseable` in the first place.

That is because you tried to change the whole try-catch block. Try-with-resources does not r

[2017-12-20 04:13] LiHaoTan commented on #7838
@darrenwee thanks for your input. However, unless something is a bottleneck, this is premature optimization. Furthermore, this is probably naive benchmarking because there are cases where streams can definitely perform better. In addition, the JIT does a lot of optimizations when compiling the code and we are not accounting for that scenario here.

There are various discussions on the performance

[2017-12-20 05:18] whipermr5 opened #8219 "ide-usage.md: Eclipse setup: update text encoding instruction"
As discovered by @sukanta-27 in https://github.com/TEAMMATES/teammates/issues/8196#issuecomment-350508266, setting the project-specific text encoding is insufficient. Update the instructions in `ide-usage.md` to indicate that the workspace-wide preference should be set instead.

[2017-12-20 05:25] wenmogu commented on #8215
i can take this!

[2017-12-20 05:34] joanneong commented on #8216
Got it. Let me take this as a warm-up to Java 8 and re-familiarise myself with Intelli's shortcuts.

[2017-12-20 05:51] whipermr5 commented on #8140
@damithc Yes; I can see the images fine. It is also working fine in masquerade mode on my staging server. What does the HTML for the images look like on the live server?

[2017-12-20 06:10] damithc commented on #8140
Example (photo does not exist and shown as broken link - your CS2101 course):
`<img id="profilePic" src="/page/studentProfilePic?studentemail=DE147FD55CDEC30E912C0C0DE10BBDB8C36C0DB53BC4D58A51AD7EFCACDAFC50&amp;courseid=8209C88FC46B453D71CAB6A0D279887B" class="profile-pic" data-toggle="modal">`

Example (photo exists and image shown correctly -- your CS2103 course)
`<img id="profilePic" src="/page

[2017-12-20 06:12] LuLechuan opened #8220 "New contributor self intro: Lu Lechuan"
- Link to my app: https://6-0-0-dot-teammates-lechuan.appspot.com
- Link to my fork: https://github.com/LuLechuan/teammates/tree/tinker

- UI before change:
<img width="960" alt="intructorhelpui before" src="https://user-images.githubusercontent.com/28507005/34192857-7ce0adea-e58b-11e7-84e5-b5a59f141045.PNG">
- UI after change:
<img width="960" alt="intructorhelpui after" src="https://user-images.

[2017-12-20 06:13] LuLechuan commented on #8217
Can I take this issue? Thanks

[2017-12-20 11:23] xpdavid commented on #8203
@damithc because of the #5228. I don't want to break the 'promise' exist in the current programme.

[2017-12-20 11:29] damithc commented on #8203
Omitting the random number doesn't help. Students know this question is a self-feedback question which implies it is the same random number whether we show it or not. But not to worry about it because I have applied a hot fix on the live server to make it fully random. I'll keep using that patch until #5228 is fixed in the master branch.

[2017-12-20 11:44] wkurniawan07 commented on #8140
This example does not fit the issue title -- it is not the "default image".
In case there is an assumption that "if an image cannot be found, fall back to the default image", there is no such thing.

[2017-12-20 11:46] LuLechuan commented on #8217
Hi, should I change this as well since it appears in some files?

For replacing chain comparisons in Java8 with Comparator.thenComparing()

Pre-Java 8 method of chain sorting:

int result = o1.first.compareTo(o2.first);
if (result == 0) result = o1.second.compareTo(o2.second);
if (result == 0) result = o1.third - o2.third;
return result;

Java 8:
objs.sort(Comparator.comparing((Obj o) -> o.first).

[2017-12-20 11:56] sukanta-27 commented on #8220
Hi @LuLechuan

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2017-12-20 11:57] sukanta-27 commented on #8212
Hi @Haozhe321

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2017-12-20 13:04] wkurniawan07 commented on #8217
@LuLechuan you're very welcome to. Just remember to meet the minimum numbers of fix required.

[2017-12-20 13:11] #8149 closed

[2017-12-20 13:49] Haozhe321 commented on #8214
@wkurniawan07
For a code block like

[code]
where removeIf doesn't seem to much to the readability and it gets more complex to refactor, is it fine to leave it as it is?

[2017-12-20 14:28] damithc commented on #8140
@whipermr5 so you see the default image or the actual photos for this specific course?

[2017-12-20 14:52] deydebaditya opened #8221 "Help Request: I encounter JavaScript build problems while setting up my IDE (Eclipse)."
- **Operating System:** Windows 10 (x64)
- **JDK Version:** 1.8
- **Eclipse Version:** Oxygen.1a Release (4.7.1a)
- **Firefox Version:** 57.0.2 (64 bit)

**What I need help with**

I was trying to set up the project for starting off with contributing. I was in the process of setting up Eclipse IDE for the ease of development, and was following every instruction as stated in https://github.com/TEAM

[2017-12-20 15:28] craaaa opened #8225 "New contributor self intro: Cara Leong"
Hi all! I'm Cara. I'm here right now because I'm applying for CS3281/2, but actually mostly because open source work sounds really interesting and fulfilling and I am really excited to jump into a project with a bigg(er) codebase!

- My [app](https://teammates-cara.appspot.com)
- My [fork](https://github.com/craaaa/teammates)
- My UI change: I added `<div class="bs-example">` tags around examples

[2017-12-20 15:50] craaaa opened #8227 "Student/Instructor: help page: add navbar"
**Description of feature/enhancement**
It is currently only possible to return to the home page when using the navbar on `instructorHelp.jsp` and `studentHelp.jsp` as shown below. It would be good to include the navigation bar of the static site (e.g. Contact Us/About Us etc) and in particular the login links.

![screenshot from 2017-12-20 23-32-57](https://user-images.githubusercontent.com/121835

[2017-12-20 15:56] whipermr5 commented on #8140
The first URL (CS2101) redirects to the default image ([this](https://teammatesv4.appspot.com/images/profile_picture_default.png) URL). The second URL (CS2103) shows the actual photo.

[2017-12-20 16:00] whipermr5 commented on #8140
If you visit the image URLs directly, does it result in an unauthorised error page (`User is not in the course that student belongs to`)?

[2017-12-20 16:15] wkurniawan07 commented on #8219
The root cause is not the workspace-wide preference per se. It is the run configurations (this includes all individual tests) which by default uses the workspace-wide preference regardless of the encoding set up at the project level.
Strictly speaking we should refrain from tampering with the workspace-wide preference, but the trade-off this time (need to configure on every single run configs) see

[2017-12-20 16:18] wkurniawan07 commented on #8221
@deydebaditya there is one crucial step that you missed. Hint: take a look at the folder in which all the errors come from.

[2017-12-20 16:21] whipermr5 commented on #8219
I feel it's reasonable to ask the user to change their workspace-wide preference to UTF-8, since that encoding is quite universally accepted?

[2017-12-20 16:23] wkurniawan07 commented on #8214
@Haozhe321 changing to `list.removeIf` does not enhance readability by _that_ much in the first place. But if we still get the benefit of shorter code and possibly removing the import of `java.util.Iterator`, why not do it? This one should be no exception.

[2017-12-20 16:31] joanneong commented on #7899
While working on this issue, I realised that rank questions have this issue as well:
<img width="674" alt="screen shot 2017-12-21 at 12 29 39 am" src="https://user-images.githubusercontent.com/24493463/34217281-189d33a2-e5e6-11e7-810a-304b55b27b01.png">

Should I raise this as a separate issue, or should I deal with this too along with the constant sum questions? The problems are similar in nature

[2017-12-20 16:32] craaaa commented on #7190
I'll take a stab at `CourseAttributes`!

[2017-12-20 16:43] deydebaditya commented on #8221
@wkurniawan07 I've already added the rules to node_modules folder in Eclipse > Preferences for the JavaScript code style rules. Am I missing out on something more?

[2017-12-20 17:13] deydebaditya commented on #8221
@wkurniawan07 Thanks for the hint. I found the problem, I had mistakenly double tapped on the "Build" for validation, so it remain checked for JavaScript. I'll get started with TEAMMATES now.

[2017-12-20 17:13] #8221 closed

[2017-12-20 17:27] deydebaditya commented on #8216
Okay! I'll take on this as my warm up and getting to understand the code base for further contributions to TEAMMATES.

[2017-12-20 20:52] darrenwee commented on #7838
Okay, I'll proceed with the work then.

[2017-12-21 01:28] LuLechuan commented on #8220
Sure, thanks!

[2017-12-21 01:28] damithc commented on #7899
Can fix in the same PR.

[2017-12-21 04:43] whipermr5 commented on #8140
I can reproduce the problem for courses that the admin is not an instructor/student of; it seems that the issue is not new though. Currently no special privileges are granted to the admin for the viewing of profile pictures.

[2017-12-21 05:04] damithc commented on #8140
I see. If the problem is limited to admin, we can treat it as low priority.

[2017-12-21 05:16] whipermr5 commented on #8140
I believe this is simple enough to be a first timer issue. Hint: modify `StudentProfilePictureAction`; look for the part that has a reference to GateKeeper.

[2017-12-21 05:16] whipermr5 commented on #8097
Working on this

[2017-12-21 06:43] deydebaditya opened #8228 "New Contributor Self-Intro: Debaditya Dey"
- **Link to my app:** Will deploy it soon, currently facing Internet connectivity issues, upload failing.
- **Link to my fork:** https://github.com/deydebaditya/teammates

**Screenshot of changes made (as seen on the UI)**
I've added the navigation bar to the help pages, for ease of navigation of users.

**UI Before:**
![screenshot 12](https://user-images.githubusercontent.com/11532634/34243482-03

[2017-12-21 06:55] deydebaditya commented on #8227
Fixed this in PR #8229
Please do review the PR, and tell if any changes are necessary.

[2017-12-21 08:10] damithc commented on #8097
Good. 👍  Just today received another inquiry asking when are we going to fix this :-p The bug can cause embarrassment to instructors (by misleading them to penalize students who actually submitted responses).

[2017-12-21 09:13] Haozhe321 commented on #8214
@wkurniawan07 okay got it!

[2017-12-21 11:21] tshradheya opened #8230 "Help with Setting up Project - Testing"
- **Operating System: Windows 10**
- **JDK Version: 1.8**
- **Firefox / Chrome Version (where applicable): Firefox 46.0**

**What I was trying to do / What I need help with**

I was setting up the project when in phase B of setting up:
While running the `localTests` on my staging server, the tests will not proceed any further and fail after few seconds it has stopped at this webpage.

![image](htt

[2017-12-21 13:30] tshradheya opened #8231 "New contributor Self intro - Shradheya Thakre"
**Link to my app:** https://teammates-shradheya.appspot.com/

**Link to my fork:** https://github.com/tshradheya/teammates

Minor UI Change done: Made bullet type interface in _Terms Of Use_ page to improve readability.

Before:

![image](https://user-images.githubusercontent.com/12574756/34257477-19a8e23e-e66b-11e7-9ea5-51422aaa86e6.png)

After:

![image](https://user-images.githubusercontent.com

[2017-12-21 15:04] tshradheya commented on #8217
I will be doing all necessary changes in the /storage directory as I have noticed @LuLechuan hasn't done that yet in his PR

[2017-12-21 15:28] damithc commented on #8230
The `test.properties` file specifies which app to test against. If you set it to `localhost:8888`, tests will run against your dev server.

To run against staging server, you need to create actual Google accounts and add those credentials to teh `test.properties` file. You get stuck in the authentication page because you are using the dummy credentials that came with the `test.properties` file.

[2017-12-21 15:48] chowyb commented on #8230
As an added note to @damithc's comment above, note that `localhost:8888` is from an older version of TEAMMATES; this was changed to `localhost:8080` in #8071.

[2017-12-21 15:49] tshradheya commented on #8230
Got it.

Since the Google account of admin needs to have admin right, how do we go about creating such an account?

[2017-12-21 15:52] wenmogu opened #8234 "New contributor self intro: Wen Xin"
- link to my fork: https://github.com/wenmogu/teammates/tree/tinker

- The UI change I made: I removed all the nonfunctional/unnecessary hyperlinks in the titles and questions in instructor help page.

Before change:
![ui-before](https://user-images.githubusercontent.com/28526038/34263158-822668f2-e6a9-11e7-8c3b-9dd77ede3cf8.png)

After change:
![ui-after](https://user-images.githubusercontent.com

[2017-12-21 16:49] wkurniawan07 commented on #8230
@tshradheya the Google account you used to register in GCP is automatically granted admin rights.

[2017-12-21 17:03] wkurniawan07 commented on #8219
@whipermr5 I guess it does.

[2017-12-21 18:01] craaaa opened #8237 "Instructor: help page: make style of sections consistent"
**Description of feature/enhancement**
Noticed stylistic inconsistencies in `instructorHelp.jsp` while working on #8224. For example:

- Paragraph spacing using `<br>` tags not consistent -- should perhaps use `<p>`?
- Inconsistent use of heading styles and numbering (compare FAQ and Sections)
- Missing example divs around some examples

Some examples of the inconsistencies:
![screen shot 2017-12-

[2017-12-21 18:19] joanneong opened #8238 "static-analysis.md: fix broken PMD documentation link"
**Steps to reproduce**
1. Proceed to static-analysis.md.
2. Go to `Tool Stack` > `PMD` > `Suppressing PMD warnings` and click on the link indicated by "...documentation here".

**Expected behaviour**

The link should lead to further documentation that explains how PMD provides several other methods of suppressing rule violations.

**Actual behaviour**

Instead, a 404 error was displayed after clic

[2017-12-22 03:07] damithc commented on #8228
Welcome to TEAMMATES @deydebaditya :smile:
We look forward to your PRs to come.

[2017-12-22 03:07] #8228 closed

[2017-12-22 03:10] damithc commented on #8234
Welcome to TEAMMATES @wenmogu  :smile:
Good job setting up. :+1:
We look forward to your PRs to come.

[2017-12-22 03:10] #8234 closed

[2017-12-22 03:11] damithc commented on #8231
Welcome to TEAMMATES  :smile:
Good job setting up. :+1:
We look forward to your PRs to come. You can work on a `d.Contributor` issue if there are no `d.FirstTimer` issues left.

[2017-12-22 03:11] #8231 closed

[2017-12-22 03:13] #8207 closed

[2017-12-22 03:13] #8212 closed

[2017-12-22 03:13] #8220 closed

[2017-12-22 03:14] damithc commented on #8225
Welcome to TEAMMATES @craaaa  :smile:
Good job setting up. :+1:
We look forward to your PRs to come.

[2017-12-22 03:14] #8225 closed

[2017-12-22 03:20] damithc commented on #8227
The help page is only available from within the app (it is considered part of the app rather than part of the static site) and it opens in a new tab/window (this is to allow user to refer to instructions in parallel to using the app). Hence there is no need to 'go back'?

[2017-12-22 05:28] tshradheya commented on #8217
@LuLechuan I will also be doing the /client directory

[2017-12-22 06:30] deydebaditya commented on #8227
@damithc yes, that'd be true. On the other hand, I guess there would be users who would like to navigate directly to the login or to other static pages after reading the help, adding a navigation wouldn't hurt, rather I think it would improve the overall user experience. I would love reviews and criticism on this, it is just a view from my side.

[2017-12-22 06:50] judeibe commented on #8213
I will give this try.

[2017-12-22 07:39] LiHaoTan commented on #8227
@deydebaditya the static pages (i.e. the homepage and others) and the web application are distinct. The source of confusion probably comes from the navbars sharing the same design. Perhaps the navbar design can be altered for the static pages.

It won't quite make sense for the help page's navbar to link back to other static pages.

[2017-12-22 07:45] deydebaditya commented on #8227
Okay. I get what you're saying. Will take a note of this. Thanks. :)

On Dec 22, 2017 1:09 PM, "Tan Li Hao" <notifications@github.com> wrote:

[2017-12-22 08:14] craaaa commented on #8227
Oops, sorry for the confusion! I actually got to `instructorHelp.jsp` through the static pages by following the following steps:
`Home page` > `Features static page` > `Help page link in first line`
so thought that instructorHelp was part of the static site.

[2017-12-22 08:29] LiHaoTan commented on #8227
@craaaa ah I didn't notice the `Features` page has a link to the help page as well. I don't believe either of you is wrong, and there is definitely room for improvement in the current design.

Some points of the current design to explore:
- The instructor and student help pages are really part of the web application, but the instructor help page is also linked from the `Features` page. Since the h

[2017-12-22 09:54] LuLechuan commented on #8217
@tshradheya Sure.

[2017-12-22 18:36] harhur commented on #8237
I can take this! Hoping that it will be good experience for my first PR.

[2017-12-23 03:47] tshradheya commented on #8217
@LuLechuan I noticed that you are already working on other directories than the ones I mentioned. Is there something which you would want me to work on?

[2017-12-23 04:35] damithc commented on #8227
How about we make all 'help page' links in the features page open in new window?
And yes, we can make the static site and app slightly different (but not too different).
The latter can be a separate issue.

[2017-12-23 05:07] damithc opened #8240 "Instructor Help Pages: replace magic numbers used as element IDs"
For example, `src/main/webapp/partials/instructorHelpFAQ.jsp` has the code `<li id="faq2">`. The number `2` here is a _magic number_.
Perhaps we can replace them with more meaningful words e.g. `<li id="faq-change-details-after-enrolling">` etc.?

[2017-12-23 05:08] damithc commented on #8240
To be done after #8190 to minimize conflicts

[2017-12-23 07:36] ZiChuanBuXiu commented on #8240
May I take this issue? I can subscribe #8190 and once it is done, I will try to fix this.

[2017-12-23 09:14] damithc commented on #8240
@ZiChuanBuXiu Sure. Alternatively, you can submit a PR now and get it reviewed first, and resolve conflicts (if any) after #8190 is done.

[2017-12-23 12:18] #8190 closed

[2017-12-23 12:49] tshradheya opened #8241 "setting-up.md: Fix tracking of upstream repository instructions"
For new contributors while setting up they might face difficulty before executing this command below.

(setting-up.md)

![img_20171223_154506](https://user-images.githubusercontent.com/12574756/34319647-88d8494a-e7f8-11e7-8acf-9184ea97a427.png)

The person needs to do `git fetch upstream` before setting your master branch to track the upstream's master branch as the branches of upstream haven't be

[2017-12-23 16:19] sukanta-27 commented on #8240
@ZiChuanBuXiu As you have already done one `d.FirstTimers` issue (#8161 ), I think (to be fair to other new contributors) you should now move on to other issues like `d.Contributors`, as you are no longer a first timer.

[2017-12-23 16:51] sukanta-27 commented on #8176
@damithc
**Update:**
I have changed the UI as suggested. [Screenshot]
![screenshot 273](https://user-images.githubusercontent.com/10681755/34321171-e0e6dc74-e82e-11e7-91d9-07ca0c0fc47a.png)

But apparently moving the `Evaluee/Recipient` from `response.tag` to `questionWithResponses.tag` also created this problem. [Screenshot] below.
![screenshot 274](https://user-images.githubusercontent.com/10681

[2017-12-23 17:50] dabbler011 opened #8243 "New issue New contributor self intro: Akshat Jain"
Link to app: https://teammates-akshat.appspot.com/
Link to repo: https://github.com/dabbler011/teammates/tree/Tinker
![ss](https://user-images.githubusercontent.com/24551629/34321478-ef7f3b3a-e835-11e7-88c3-29b8ecaef0cc.png)
Changed font of paragraphs to monospace.

I am Akshat Jain, I study Computer Science at IIIT Lucknow in India. I am looking forward to contribute in this project to improve my

[2017-12-23 18:06] wenmogu opened #8244 "Extract out duplicated code in FeedbackMcqQuestionDetails.java"
**Description of feature/enhancement**
There are two occurrences of duplicated codes in FeedbackMcqQuestionDetails.java

![image](https://user-images.githubusercontent.com/28526038/34321634-caefb268-e84e-11e7-98d3-96e0ec03477a.png)

![image](https://user-images.githubusercontent.com/28526038/34321636-e311d5d8-e84e-11e7-87c7-512179197feb.png)

**Justification**
Duplicated code fragments can be extr

[2017-12-23 18:09] shaharyar-shamshi commented on #8243
Welcome to The Teammates We will be very glad for your contribution . To get your hand Wet with Teammates Code base you can solve any of **d.FirstTimer** issue were you will get fimilar with little bit of coding strategy and you will get further benefit while solving other issues

[2017-12-23 18:19] dabbler011 commented on #8240
@damithc I suppose both @ZiChuanBuXiu and @sukanta-27 are done with their firstTimers. so, may I take this issue?

[2017-12-23 22:13] kevinLamKB opened #8245 "New contributor self intro: Kevin Lam"
- **Link to my app:** https://teammates-kevinlam.appspot.com
- **Link to my fork:** https://github.com/kevinLamKB/teammates/tree/tinker

**Screenshot of changes made (as seen on the UI)**
I noticed that the text alignment under [Comments](http://teammatesv4.appspot.com/instructorHelp.jsp#editComments) in the instructor help page was slightly off so i adjusted it to conform with all of the other se

[2017-12-23 23:47] bqnguyen94 opened #8246 "New Contributor Self-Intro: Nguyen Quoc Bao"
- **Link to my app:** https://teammates-quocbao.appspot.com
- **Link to my fork:** https://github.com/bqnguyen94/teammates

**Screenshot of changes made (as seen on the UI)**
![My teammates](https://i.imgur.com/P9nL2XW.png "Teammates screenshot 1")
I changed the buttons to be more flat-styled.

**Short self-introduction**

I am Quoc Bao, year 3 Computer Science student. I want to contribute to TEA

[2017-12-24 01:01] judeibe opened #8247 "New Contributor Self-Intro: Jude Ibe"
- **Link to my app:** https://teammates-jude.appspot.com/
- **Link to my fork:** https://github.com/username/teammates

**Screenshot of changes made (as seen on the UI)**
I added a link back to the Course detail page
![screenshot from 2017-12-23 16-35-23](https://user-images.githubusercontent.com/8676/34323531-36b63396-e813-11e7-982e-21f19888f186.png)

[code]

**Short self-introduction**
My name i

[2017-12-24 02:18] damithc commented on #8176
@sukanta-27 UI looks good. 👍

[2017-12-24 02:23] damithc commented on #8244
@wenmogu are they actual duplicates that seem  to be extract-able? IDEs can warning can be false positives.

[2017-12-24 02:24] #8243 closed

[2017-12-24 02:25] damithc commented on #8240
Sure.

[2017-12-24 02:26] damithc commented on #8245
Welcome to TEAMMATES  :smile:
Good job setting up. :+1:
We look forward to your PRs to come. We recommend you start with a `d.FirstTimer` issue or a `d.Contributor` issue.

[2017-12-24 02:26] #8245 closed

[2017-12-24 02:28] damithc commented on #8246
Welcome to TEAMMATES @bqnguyen94  :smile:
Good job setting up. :+1:
We look forward to your PRs to come. We recommend you start with a `d.FirstTimer` issue or a `d.Contributors` issue.

[2017-12-24 02:28] #8246 closed

[2017-12-24 02:29] damithc commented on #8247
Welcome to TEAMMATES @judeibe  :smile:
Good job setting up. :+1:
We look forward to your PRs to come. We recommend you start with a `d.FirstTimer` issue or a `d.Contributors` issue.

[2017-12-24 02:29] #8247 closed

[2017-12-24 05:28] kevinLamKB commented on #8241
hello all, i don't see anyone working on this yet, so i'd like to take this issue.

[2017-12-24 08:55] wkurniawan07 commented on #8244
@wenmogu I'm a firm believer of the DRY principle myself, but be careful when concluding that "Duplicated code fragments can be extracted out into a single method". When you're extracting something out, that abstraction has to make sense on its own and not just to simply "reduce duplication". There are times where it's better to have duplicated codes than wrong abstractions.

[2017-12-24 09:47] wkurniawan07 opened #8250 "Java: Use Java 8 map.getOrDefault"
Context: Someone wants to get the value associated to a key from a map, or a default value otherwise, but does not want to apply that mapping to the map afterwards.

Pre-Java 8:
[code]
Java 8:
[code]
About 20 places to fix.

[2017-12-24 14:11] gaurav122197 opened #8251 "Not able to log in as administrator"
When I tried logging in as admin on my local machine there arises an error stating something went wrong.
I am trying to access localhost:8080/admin/adminHomePage on my local machine.
The screenshot for the same is attached below.
![screenshot from 2017-12-24 19-40-22](https://user-images.githubusercontent.com/17140537/34327113-58d42152-e8e2-11e7-9f9d-02a080cdb04b.png)

[2017-12-24 14:31] damithc commented on #8251
Is there any error message that appear on the dev server console when this happens? If so, posting the error message here might help others diagnose the problem.

[2017-12-24 14:42] gaurav122197 commented on #8251
`Dec 24, 2017 8:09:31 PM teammates.common.util.Logger info
INFO: URL received : [GET] http://localhost:8080/admin/adminHomePage
Dec 24, 2017 8:09:32 PM teammates.common.util.Logger severe
SEVERE: Unexpected exception caught by ControllerServlet :
org.apache.jasper.JasperException: /WEB-INF/tags/admin/navBar.tag(21,12) The function getClass must be used with a prefix when a default namespace is not

[2017-12-24 15:20] LiHaoTan commented on #8251
@gaurav122197 I suspect you are not running the app using the Java 8 runtime.  If you are migrating, you should refer to #8149.

[2017-12-24 18:42] gaurav122197 commented on #8251
Thank You @LiHaoTan. That worked for me.

[2017-12-24 20:24] bqnguyen94 commented on #8250
I would like to take this!

[2017-12-25 07:12] bqnguyen94 commented on #8250
Using Eclipse file search I could only find 7 instances of `map.containsKey` being replaceable by `map.getOrDefault`. Am I missing something?

[2017-12-25 11:26] mrkagelui opened #8254 "Improve introduction in the testing section"
There is some incomplete and inaccurate information in the introduction of the testing section.

Let's improve it. Improvement suggestions can be found in #8255.

[2017-12-25 12:16] LuLechuan commented on #8217
@tshradheya Hi, sorry for the late reply! I think some tests use sorting methods you can have a check through that. In addition, you can work on any files that I did not change.

[2017-12-25 14:36] wenmogu commented on #8244
@damithc @wkurniawan07 Thank you for your inputs. Below r my reasoning in posting this issue.

The first pic shows the duplicated code that exists in method `getQuestionResultStatisticsCsv` and method `getQuestionResultStatisticsHtml` in class `FeedbackMcqQuestionDetails`. This code fragment is for collation of answering frequencies in all the responses to the MCQ questions, on whether the respons

[2017-12-25 16:38] gaurav122197 commented on #7603
@LimeTheCoder @whipermr5, Is this issue still open?

[2017-12-25 18:08] LiHaoTan commented on #7603
@gaurav122197 someone else is currently working on this in #8208, I suggest you pick another issue :).

[2017-12-25 18:53] ongks opened #8256 "New contributor self intro Ong Ka-Shing"
- **Link to my app:** https://teammates-ongks.appspot.com/
- **Link to my fork:** https://github.com/ongks/teammates/

![image](https://user-images.githubusercontent.com/15803084/34342319-49ff02e0-e9e7-11e7-909e-feccef03227d.png)

I restructured the features page such that the features are shown as rows of two. This is because there is plenty of whitespace around each feature, which I felt could b

[2017-12-25 23:12] Fatehsandhu commented on #8200
@damithc Hey, I am a student learning about open source development at Seneca College in Toronto. Is it possible if you can assign this to me and I would love to contribute? Thanks a lot

[2017-12-25 23:29] Fatehsandhu commented on #8237
@craaaa Hey, I am a student learning about open source development at Seneca College in Toronto. Is it possible if you can assign this to me and I would love to contribute? Thanks a lot

[2017-12-26 03:25] tshradheya commented on #8217
Great. I have covered everything in my PR that you haven't done in your PR

[2017-12-26 03:38] damithc commented on #8200
@Fatehsandhu You are welcome to submit PRs. No need for the issue to be assigned to you.

[2017-12-26 04:29] whipermr5 commented on #8173
Yes, we can still change it for the reason stated above:

[2017-12-26 04:29] damithc commented on #8256
Welcome to TEAMMATES @ongks  :smile:
Good job setting up. :+1:
We look forward to your PRs to come. We recommend you start with a `d.FirstTimer` issue or a `d.Contributors` issue.

[2017-12-26 04:29] #8256 closed

[2017-12-26 08:21] #8106 closed

[2017-12-26 10:11] tshradheya opened #8260 "Add custom gradle task for deployment"
Edit by @whipermr5: Write a custom gradle task that encompasses `./gradlew appengineDeploy appengineDeployCron appengineDeployIndex appengineDeployQueue` and update the instructions in `development.md`.

<hr>

When trying to log in as instructor in my app teammates-shradheya.appspot.com

I am getting the following error after I add an instructor and attempt to join as instructor using the unique l

[2017-12-26 11:51] damithc commented on #8260
If you have multiple Google accounts, you should logout from all except the one you want to use for the instructor.
Note that you can go to  https://console.cloud.google.com to check the logs.

[2017-12-26 12:27] tshradheya commented on #8260
I tried logging out and using only the necessary account but it still showed me the error webpage.

On looking up the logs, I found the following:

`com.google.appengine.api.datastore.DatastoreNeedIndexException: no matching index found. recommended index is: - kind: Instructor properties: - name: googleId - name: isArchived The suggested index for this query is: <datastore-index kind="Instructor"

[2017-12-26 12:36] LiHaoTan commented on #8260
@tshradheya I suspect you did not deploy the datastore indexes. It seems our instructions might be a little lacking.

[2017-12-26 13:07] tshradheya commented on #8260
Can you give more instructions as to how to deploy datastore indexes?

[2017-12-26 13:30] damithc commented on #8260
It used to be the case that xml files describing the indexes are auto-created by the dev server.  What I used to do was to run the full test suite against the dev server which auto-generates all indexes needed by functionalities covered by the test cases. After that, deploying to the staging server ensures that the index files are also replicated in the dev server. You can give that a try.

[2017-12-26 13:48] wkurniawan07 commented on #8260
I might know what's going on, but I need to confirm something first. @tshradheya can you go to your app engine debug console (URL should be `https://console.cloud.google.com/debug?project=teammates-shradheya`), and tell me what are the files contained in the `app-engine:/WEB-INF/appengine-generated` folder?

[2017-12-26 13:58] wkurniawan07 commented on #8250
Instances like [this](https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/common/datatransfer/questions/FeedbackMcqQuestionDetails.java#L403-L406) can benefit from `getOrDefault`. I’ll leave it to you to figure out how.

[2017-12-26 14:00] #8241 closed

[2017-12-26 14:06] tshradheya commented on #8260
The following are the files in /app-generated

- app.yaml
- cron.yaml
- index.yaml
- queue.yaml

The following is the data inside the `index.yaml` file

[code]

[2017-12-26 14:12] wkurniawan07 commented on #8260
@tshradheya thanks, turns out it is not what I thought. Can you tell me the contents of your app's indexes as found in `https://console.cloud.google.com/datastore/indexes?project=teammates-shradheya`?

[2017-12-26 14:48] #8214 closed

[2017-12-26 15:23] tshradheya commented on #8260
As suggested, going on the following link shows me that my app has not composite indexes.

![image](https://user-images.githubusercontent.com/12574756/34359521-cbd6e544-ea69-11e7-863d-154d209ed403.png)
Is there something wrong in this?

[2017-12-26 17:45] gaurab4163 opened #8261 "Help Request: Unable to start dev server behind university's proxy"
- **Operating System:**
Windows 8.1

- **JDK Version:**
jdk1.8.0_151

-**What I was trying to do / What I need help with**

I was trying to set up the project, but when I run the following code:
`gradlew.bat appengineStart` or `gradlew appengineRun`, I get an error. This happened when I worked on my university's internet behind a proxy.

Then I tried running the same command connecting to my phone

[2017-12-26 23:22] bqnguyen94 commented on #8250
I think I've got it. Thank you for the hint!

[2017-12-27 01:57] damithc commented on #8260
Expected:
![image](https://user-images.githubusercontent.com/1673303/34368097-44064da2-eaec-11e7-9ac8-e29281797b9a.png)
Did you try the workaround of deploying again after running the test suite?

[2017-12-27 05:37] #6900 closed

[2017-12-27 06:44] #8251 closed

[2017-12-27 06:46] whipermr5 commented on #8261
https://docs.gradle.org/current/userguide/build_environment.html#sec:accessing_the_web_via_a_proxy

[2017-12-27 07:19] whipermr5 commented on #8260
I was able to reproduce the problem. Turns out that the new AppEngine gradle plugin doesn't automatically deploy indexes when one does `./gradlew appengineDeploy`. To fix, one also has to run `./gradlew appengineDeployIndex`.

[2017-12-27 07:25] wkurniawan07 commented on #8260
That was what I thought until I see that `index.yaml` exists. Looks like it's a different thing altogether?
I kind of expect this problem to occur sooner or later, good that it surfaces now. This should also mean that cron jobs and task queue configs are also not deployed? @whipermr5 mind doing a check?

[2017-12-27 07:28] whipermr5 commented on #8260
@wkurniawan07 Yup, all three not deployed even though all three `.yaml` files are correctly generated and in place.

[2017-12-27 07:45] wkurniawan07 commented on #8260
@whipermr5 great, this clears the doubts I have months back.

Anyway, on this topic, I'd suggest making a custom Gradle task that depends on all three. It won't really be fun for anyone to type `./gradlew appengineDeploy appengineDeployCron appengineDeployIndex appengineDeployQueue` for every deployment, and who knows if we're going to utilize `appengineDeployDos` and `appengineDeployDispatch` in

[2017-12-27 08:09] whipermr5 commented on #8260
@wkurniawan07 Sounds good!

Now to find out the behaviour of deployments from the IDEs.

[2017-12-27 08:44] LiHaoTan commented on #8260
Just going to provide some context here.

- [Some context about the new way of doing things](https://github.com/GoogleCloudPlatform/app-gradle-plugin/issues/21).
- [Using deployables](https://cloud.google.com/appengine/docs/standard/java/tools/gradle-reference#appenginedeploy)
- [Eclipse](https://github.com/GoogleCloudPlatform/google-cloud-eclipse/pull/1690) and [IntelliJ](https://github.com/Googl

[2017-12-27 09:24] Chng-Zhi-Xuan opened #8264 "New contributor self intro Chng Zhi Xuan"
- [link to my fork](https://github.com/Chng-Zhi-Xuan/teammates)

**Screenshot of UI Change**

![teammates ui change](https://user-images.githubusercontent.com/31084833/34376560-4bbb6600-eb27-11e7-84cb-dec09b3d813d.PNG)

I changed the green accents on the site to be more consistent with the 2 major color accents that TEAMMATES like to use (blue / light orange). I also modified the login buttons to

[2017-12-27 12:28] sukanta-27 commented on #8264
Hi @Chng-Zhi-Xuan

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2017-12-27 12:54] #8264 closed

[2017-12-27 17:00] #8230 closed

[2017-12-27 17:07] gaurab4163 commented on #8261
Note: Not sure if I should open a different issue for this.

I did that
 `systemProp.http.proxyHost=172.30.0.12
systemProp.http.proxyPort=3128
systemProp.http.nonProxyHosts=*.nonproxyrepos.com|localhost

systemProp.https.proxyHost=172.30.0.12
systemProp.https.proxyPort=3128
systemProp.https.nonProxyHosts=*.nonproxyrepos.com|localhost`

but I am not sure if that is what made it work, since I tried

[2017-12-28 03:29] whipermr5 commented on #8261
In which file did you add these lines?

[2017-12-28 07:39] gaurab4163 commented on #8261
in `gradle.properties` file in located in cloned teammates folder.

C:\Users\gaurab\Desktop\teammate\teammates\gradle.properties

isn't that where it's supposed to be written?

[2017-12-28 14:10] ongks opened #8266 "Java: Use streams to improve code readability in teammates.common.datatransfer.questions.*"
As described in issue #7838, there are many methods in most classes under ./src/main/java/teammates/common/datatransfer/questions/ which also use loops. I would like to propose to simplify them to use Java 8 streams.

I read through the past comments on the issue and agree that it would indeed be beneficial for future developers in that they improve code readability.

I would like to seek approval

[2017-12-28 14:13] damithc commented on #8266
@ongks Perhaps give some examples?

[2017-12-28 14:18] damithc commented on #8244
@wenmogu sorry I missed this comment. Perhaps you can submit a PR so that we can see if the de-duplicated version is better?

[2017-12-28 14:43] wkurniawan07 commented on #8266
Given that the move to Java 8 is very recent, there's definitely a lot of Java 8 features that can be freshly utilised in order to improve readability or even performance. Streams, functional interfaces, default/static methods in interface, `Optional`s, Date/Time API are just some examples on top of the issues I have opened. And it's not just in that particular folder; it's everywhere across the c

[2017-12-28 15:03] gaurav122197 opened #8267 "development.md: Fix broken link for Gmail Notes"
There exist a broken link in development.md-> Deploying to a staging server-> Point 6-> Notes-> Notes on Gmail API.
The link in the development.md points to ```#notes-about-using-the-gmail-api``` instead of ```#notes-on-gmail-api```

[2017-12-28 15:22] gaurab4163 commented on #8261
Ok, this is driving me insane but I somehow got it to work and it works **sometimes**

Despite behind a university proxy, I completely deleted the proxy entries in `gradle.properties` file and disabled the proxy in internet connection from control panel. That somehow made it work!!

Stopped and re-started dev server multiple times and it worked every single time... until I restarted my computer.

[2017-12-28 15:41] wkurniawan07 commented on #8261
@gaurab4163 I'm not addressing the root cause but can you check if adding this line [here](https://github.com/TEAMMATES/teammates/blob/master/build.gradle#L278) helps:
[code]

[2017-12-28 19:20] gaurab4163 opened #8268 "New contributor self intro - Gaurab Manandhar"
**Link to my app**  :  https://teammates-gaurab.appspot.com/
**Link to my fork**  :  https://github.com/gaurab4163/teammates

**Change done**  : Added bullet interface in "Contacts" page to distinguish various contact points more easily

Before:

![before](https://user-images.githubusercontent.com/15228997/34420633-adf68c0a-ec30-11e7-88fe-8c115d65dbfd.jpg)

After:

![after](https://user-images.git

[2017-12-29 01:02] damithc commented on #8268
Welcome to TEAMMATES @gaurab4163  :smile:
Good job setting up. :+1:
We look forward to your PRs to come. We recommend you start with a `d.FirstTimer` issue or a `d.Contributors` issue.

[2017-12-29 01:02] #8268 closed

[2017-12-29 05:54] wenmogu commented on #8244
Sorry for the late reply. I just opened one pr for the extraction:
https://github.com/TEAMMATES/teammates/pull/8269

[2017-12-30 20:01] wkurniawan07 opened #8271 "Update build-related instructions"
To handle all the issues related to builds that do not really make sense if every single little change require one PR. Among the things to resolve: #8115, #8177, #8178.

(issues that have open PRs will not be touched)

[2017-12-30 20:49] pranjaljn97 commented on #8237
@craaaa @damithc
Hey, I am new to this project and getting acquainted with the community.
Is this issue still unresolved? if yes, Assign me I would love to fix this issue.
Thank You

[2017-12-31 04:44] #8216 closed

[2017-12-31 05:13] #8267 closed

[2017-12-31 07:28] lestertj opened #8272 "New contributor self intro - Tan Te Juin Lester"
- **Link to my app:** https://teammates-lester.appspot.com
- **Link to my fork:** https://github.com/lestertj/teammates

- **Change done:** Added links to external parties in acknowledgements

**Screenshot of changes made (as seen on the UI)**
<img width="1212" alt="screen shot 2017-12-31 at 3 24 53 pm" src="https://user-images.githubusercontent.com/20982701/34460077-e49605c8-ee3e-11e7-9008-8a2fa9

[2017-12-31 18:53] ongks commented on #8266
Having read up on Java 8 streams, I would like to make reference to [FeedbackRubricQuestionDetails.java](https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/common/datatransfer/questions/FeedbackRubricQuestionDetails.java). Specifically, methods [isValidDescriptionSize](https://github.com/TEAMMATES/teammates/blob/ec17959c24a78942ff97584819b9285e2fcb1342/src/main/java/teammat

[2018-01-01 01:32] damithc commented on #8272
Welcome to TEAMMATES @lestertj  :smile:
Good job setting up. :+1:
We look forward to your PRs to come. We recommend you start with a `d.FirstTimer` issue or a `d.Contributors` issue.

[2018-01-01 01:32] #8272 closed

[2018-01-01 02:36] damithc commented on #8237
@pranjaljn97 there don't seem to be any open PRs for this issue yet. It is open and there for the taking.

[2018-01-01 06:53] Chng-Zhi-Xuan opened #8273 "Java: Use Java 8 Lambda expressions to replace instances of iterators."
**Description of feature/enhancement**

We can remove any usage of iterators in the project code by taking advantage Java 8 new methods that were added to iterable interface. Notably `forEach` and `removeIf` are used in my proposed enhancement.

**Justification**

__Benefit to developers__
1. Removing dependencies on the iterator library. (one less import statement)
2. Taking advantage of Java 8 l

[2018-01-01 07:18] damithc commented on #8273
Go ahead @Chng-Zhi-Xuan

[2018-01-01 07:23] wkurniawan07 commented on #8273
- `removeIf` was supposedly worked on in #8214, maybe that is just a missed instance.
- `forEach` for maps has been worked on in #8223, but this one has quite a large number of instances so it is possible that the PR deliberately did not fix everything to be fixed.
- `forEach` for lists, on the other hand, has no significant advantage over `for (... : ...)` so don't put too much efforts on this.

[2018-01-01 08:48] #8250 closed

[2018-01-01 16:12] wkurniawan07 opened #8277 "Adopt SpotBugs in place of FindBugs"
FindBugs has been [declared dead since late 2016 or even before](https://mailman.cs.umd.edu/pipermail/findbugs-discuss/2016-November/004321.html) and [the replacement has been released just few months back](https://mailman.cs.umd.edu/pipermail/findbugs-discuss/2017-September/004383.html), so there is no reason we should use it anymore.

Instead, we should now use [SpotBugs](https://spotbugs.github

[2018-01-01 16:21] wkurniawan07 opened #8278 "Upgrade CheckStyle to 8.7+"
[Eclipse](http://eclipse-cs.sourceforge.net/#!/releasenotes) and [IntelliJ](https://github.com/jshiell/checkstyle-idea/releases/tag/5.16.0) have supported CheckStyle ~~8.5~~ 8.7, the most recent version at the point of writing. This is an apt time for update since a handful of breaking changes (i.e. the config files are not cross-compatible) have taken place in the course of 8.0 -> 8.5 (not so muc

[2018-01-02 02:54] LiHaoTan commented on #8277
I'm wondering if we should add [Error Prone](http://errorprone.info/) to complement or perhaps as a replacement?

[2018-01-02 17:48] thenaesh opened #8279 "Add test for checkIfEmptyRow method in StringHelper.java"
**Description of feature/enhancement**

There is currently no test for `checkIfEmptyRow` in StringHelper.java, and the tests pass even with a wrong implementation.

**Justification**

Catches bugs when refactoring that section, as well as reviewer lapses (demonstrated in #8258).

[2018-01-02 17:50] #8115 closed

[2018-01-02 17:50] #8173 closed

[2018-01-02 17:50] #8177 closed

[2018-01-02 17:50] #8178 closed

[2018-01-02 17:50] #8219 closed

[2018-01-02 17:50] #8238 closed

[2018-01-02 17:50] #8260 closed

[2018-01-02 19:15] asinghal084 commented on #8279
Hi! I would like to work on this problem if it's open!

[2018-01-03 04:54] #8200 closed

[2018-01-03 10:55] wenmogu opened #8280 "Average Rank Excluding Self calculation not intuitive to users"
**Description of feature/enhancement**
The `Average Rank Excluding Self` is calculated from the normalized ranks of the ranks which have already excluded the self-ranks. However, in my opinion, it makes more sense to use the normalized ranks of ranks which haven't excluded the self-ranks to calculate the average.

The example below is formatted into excel sheet from the expected result of JUnit te

[2018-01-03 11:23] joanneong commented on #8280
In fact, the entire ranking system is not quite intuitive to users. This is particularly because of the normalization mechanism that @wenmogu elaborated above, which is not well explained in the current documentation as the current documentation within the instructor help page only mentions what happens in the event of ties for rank questions. (@wenmogu and I spent a fair bit of time puzzling out

[2018-01-03 17:43] pierreSquared commented on #8279
I would like to work on this issue.

[2018-01-04 02:34] SivagurunathanV commented on #8215
If this hasn't been fixed yet, I would like to work on it, starting today. Thank you!

[2018-01-04 03:26] damithc commented on #8280
Thanks for raising this @wenmogu and for inputs @joanneong
_Average excluding self_ should be calculated as if self-ranking was not done at all.
On a related note, I wonder if we should give 'Overall ranking' and 'Overall ranking (excluding self-ranking)' instead of (or in addition to) average values. I think average values don't make much sense as output when the input was rankings.

[2018-01-04 11:49] ss3681755 opened #8282 "New contributor self intro Shubham Singh"
**Link to my app:** http://teammates-singh.appspot.com
**Link to my fork:** https://github.com/ss3681755/teammates
**Change done:** Increased the gap between feature divs on homepage.

**BEFORE**

![screenshot from 2018-01-04 16-43-52](https://user-images.githubusercontent.com/19855394/34562015-67d7464c-f144-11e7-8531-6a9788219625.png)

**AFTER**

![screenshot from 2018-01-04 16-44-30](https://use

[2018-01-04 13:28] nidhi98gupta opened #8283 "Help Request: 5 Failing tests"
- Operating System: Ubuntu 17.10
- JDK Version: 1.8
- IntelliJ Version 2017.3
- Firefox Version: 46.0

**What I was trying to do / What I need help with**
I have installed old version of firefox beside the latest version using below guide.
[https://askubuntu.com/questions/770740/how-to-install-an-old-version-of-firefox-side-by-side-to-default-version-without](url).
I changed the default browser of

[2018-01-05 13:53] LiHaoTan commented on #8283
@nidhi98gupta There are many reasons this could be so, did you continue to re-run the failing tests?

[2018-01-05 15:07] #8244 closed

[2018-01-05 15:15] wkurniawan07 commented on #8283
@nidhi98gupta have you tried updating the Firefox path in `test.properties` file?

[2018-01-05 17:30] nidhi98gupta commented on #8283
@wkurniawan07 @LiHaoTan Updating the firefox path in `test.properties` file solved the problem. Thanks a lot!

[2018-01-05 17:30] #8283 closed

[2018-01-06 07:05] xpdavid commented on #8282
Hi @ss3681755, thank you for joining us and see you around :P

You can start your first PR by solving the [`d.FirstTimers`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.FirstTimers) issue :)

[2018-01-06 07:14] #8203 closed

[2018-01-06 07:20] ss3681755 commented on #8273
Can I work on this issue?

[2018-01-06 08:49] nidhi98gupta opened #8284 "New contributor self intro Nidhi Gupta"
Deployed App:  [https://teammates-nidhi.appspot.com](url)
Fork:  [https://github.com/nidhi98gupta/teammates](url)

**Added the bullet points to Terms of Use Page.**
Before:
![old](https://user-images.githubusercontent.com/24381442/34638118-51a90d62-f2eb-11e7-8cda-cfba85e649d8.png)
After:
![new](https://user-images.githubusercontent.com/24381442/34638122-673515a4-f2eb-11e7-9613-7f158754e19d.png)

H

[2018-01-06 09:06] sukanta-27 commented on #8284
Hi @nidhi98gupta

Welcome to TEAMMATES. You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2018-01-06 10:36] #8284 closed

[2018-01-06 12:31] nidhi98gupta opened #8285 "Need Help: Shortage of d.firstTimers"
I need direction on how can I contribute.

I was looking for a d.FirstTimers coding bug to work on. There are 11 open issues, in which one is docs enhancement and all of the others have a contributor working on it.

I am not sure where to start from. Can you give me some directions on how to start contributing or what I can do meanwhile. Should I just go through the codebase and familiarize myself

[2018-01-06 12:41] LiHaoTan commented on #8285
@nidhi98gupta You can start with a `d.Contributors` as well :).

[2018-01-06 13:26] #8240 closed

[2018-01-06 15:03] OrionStar25 opened #8286 "New contributor self intro [Niharika Shrivastava]"
a) Link to fork : https://github.com/OrionStar25/teammates/tree/tinker
b) A screenshot of the change I did (as seen on the UI) :
       Added a 'Back To Top' button for the homepage on the bottom right corner
![screenshot from 2018-01-06 20-24-25](https://user-images.githubusercontent.com/28835849/34640812-c7e50bd8-f2f1-11e7-819c-e2505b95ba2d.png)

c) Intro : Hello, I'm Niharika Shrivastava and I'

[2018-01-06 15:11] amarlearning commented on #8286
Hi @OrionStar25  welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labeled [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2018-01-06 15:23] OrionStar25 commented on #8254
I'd like to take up this issue.  We could add this information

before "Building Javascript Files" as they will have the required browser to work with from the very beginning.
This would also result in a smoother flow. Please guide me on this.

[2018-01-06 15:23] wkurniawan07 commented on #8285
@nidhi98gupta there are at least 2 free `d.FirstTimers` issues right now. You're welcome to start with `d.Contributors` as well, or any issue, really. Just be warned that the labels are there/not there for good reasons.

[2018-01-06 15:23] #8285 closed

[2018-01-06 17:21] mrkagelui commented on #8254
Hi @OrionStar25 I'm a first timer myself 😄 @LiHaoTan and I have been discussing in the PR referenced, feel free to join the discussion I think.

[2018-01-06 17:47] dynastykaiserlord123 opened #8287 "Running the web app locally"
Hey, I was wondering how to deploy the web app locally on tomcat.

[2018-01-06 18:18] nidhi98gupta commented on #8237
@damithc I would like to work on this issue.

[2018-01-06 18:26] mrkagelui commented on #8280
I can take it up if modification or implementation of the logic is required. (I tried to read through the discussion but it seems a lot of background to pick up here 😆 )

[2018-01-06 18:38] mrkagelui commented on #8287
Is there a reason you want to manage your local server instead of using GAE as in https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#deploying-to-a-staging-server ?

[2018-01-06 19:27] dynastykaiserlord123 opened #8288 "Failed to create the part's controls"
Okay so when I tried opening the index.jsp file, it gives me this error. What is the cause and how do I resolve it?
![screenshot 14](https://user-images.githubusercontent.com/33665087/34643172-8519e516-f2d4-11e7-8afa-625d0d53588a.png)

[2018-01-06 21:25] #8288 closed

[2018-01-07 00:01] dynastykaiserlord123 opened #8289 "Resource not on build path of java project"
Okay so when I tried opening the index.jsp file, it gives me this error. What is the cause and how do I resolve it?
![screenshot 14](https://user-images.githubusercontent.com/33665087/34643172-8519e516-f2d4-11e7-8afa-625d0d53588a.png)
I checked out the project from github but then when I try to go to the declaration for one of the classes, I get this
![screenshot 15](https://user-images.githubuser

[2018-01-07 00:20] #8287 closed

[2018-01-07 07:30] wkurniawan07 commented on #8289
@dynastykaiserlord123 do refer to our [setting up guide](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md). Checking out the project just like that is not expected to work.

[2018-01-07 12:53] OrionStar25 commented on #7884
I'd like to work on this issue.
Am I expected to do [this](https://github.com/TEAMMATES/teammates/pull/8164#issuecomment-345533776) only and for all the files? Please guide me @whipermr5

[2018-01-07 13:49] #8217 closed

[2018-01-07 14:31] #8271 closed

[2018-01-09 04:32] vandy56 commented on #2542
Coming back to this one @chowyb and @damithc. I can't actually replicate the issue. Can you please advise on how to do so?

I couldn't figure out how to edit the recipient to be the same as a previous response when logged in as a student.

[2018-01-09 09:53] nidhi98gupta commented on #1103
@damithc As per above comments since #7965 has been merged, can I start working on this? I mean is this issue still on hold?

[2018-01-09 10:07] huai99 commented on #1103
@nidhi98gupta Hi, I have written a PR for this issue and I plan to submit latest by tomorrow, maybe you would like to look at other issues first at the moment? Sorry for the delay

[2018-01-09 13:31] damithc opened #8292 "Update user map for Dec 2017"
Similar to #7424

Date: End of Dec 2017

Entries to consider adding

Australia | University of New South Wales
-- | --
Belgium | Erasmushogeschool Brussel
Belgium | Hasselt University
Belgium | Howest
Belgium | UNamur
Belgium | Universiteit Antwerpen
Belgium | Universiteit Antwerpen
Brazil | Federal University of Bahia
Canada | Canadian Urban Transit Research and Innovation Consortium
Canada | Car

[2018-01-09 18:29] dabbler011 commented on #7934
@VamsiSangam @ahsanbagwan @whipermr5 can i work on this issue?

[2018-01-09 19:27] nbyer commented on #8292
Hi, I'm a recent CS grad looking to get involved. Would I be able to take care of this? It would be my first contribution.

[2018-01-09 19:55] priyanshugandhi commented on #8292
Hello, I am Priyanshu Gandhi and I'm studying CS in RGPV University. I am a GSOC-2018 aspirant and willing to contribute to teammates. I would like to work on this issue.

[2018-01-10 15:47] huai99 opened #8294 "Error while executing task findbugsMain"
**Issue Title:** [Error while executing gradle task findbugsMain]

[code]
![teammates issue](https://user-images.githubusercontent.com/26456025/34781043-c8bcc142-f65f-11e7-875b-1d8b6f9b5e32.png)

Any help or suggestions will be appreciated !

[2018-01-11 15:47] wkurniawan07 commented on #8294
I have never seen that exception occurring before so I cannot pinpoint the exact cause. While running the `./gradlew build` command, does `compileJava` and `checkstyleMain` run and succeed?

Anyway, what are you running `./gradlew build` for?

[2018-01-11 15:50] wkurniawan07 opened #8297 "Use dynamic versioning for App Engine SDK"
~~Shipped with Cloud SDK 184.0.0, the latest at the time of writing.~~

Edit:
App Engine SDK should be dynamically versioned as it goes hand-in-hand with the Cloud SDK (dynamically versioned as of #8276) and the live server is also auto-updated anyway.

[2018-01-11 22:16] czarska commented on #8140
I would like to try to work on this issue.

[2018-01-12 00:55] huai99 commented on #8294
Actually I notice the error while  I am running ```./gradlew lint ```, ```findbugsMain``` and ```findbugsTest``` failed together, I believe I am running in the same environment as everyone else, I am using JDK1.8, is there any specific configuration that I could provide that you might think will be helpful?

[2018-01-12 03:44] LiHaoTan opened #8299 "Replace all instances of `Const#EOL` with `System#lineSeparator()`"
It is preferable not to use a constant for a line separator and the standard library offers a much better alternative.

[2018-01-12 09:43] ManognaMutyala commented on #8299
I am new to open source contribution and I would like to work on this.Could you please help me with the specific modules to look for the above issue?

[2018-01-12 11:04] LiHaoTan commented on #8299
@ManognaMutyala You need to replace all instances and a simple search and replace should suffice.

[2018-01-12 20:29] mdabdulkhaliq opened #8305 "Newbie Looking to contribute"
Hi, I am a newbie in open source contributions. I landed on this page from the README.md (https://github.com/TEAMMATES/teammates)
Could someone help me getting started to contribute to an issue?
Thanks.

PS: Apologies if this is not the place to ask questions.

[2018-01-12 20:38] mdabdulkhaliq commented on #8305
Going through...
https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md

[2018-01-13 06:16] #8297 closed

[2018-01-13 06:31] #8305 closed

[2018-01-13 06:51] wkurniawan07 commented on #8294
Does `checkstyleMain` and/or `checkstyleTest` fail? The exception certainly looks interesting and should not happen.

[2018-01-13 07:24] huai99 commented on #8294
No, both of them pass and the only thing fails is these two tasks, I have tried to remove the whole project and re-setup, but the problem persist. I am using Ubuntu, wondering if anyone using the same OS faces this problem.

[2018-01-13 13:08] upatidar7 commented on #8213
Hey, i would like to work on this, it would be my first open source contribution.

[2018-01-13 14:00] shivamtrip53 opened #8306 "static-analysis.md: update instructions on running PMD in Eclipse"
- **Operating System**: ubuntu 16.04 LTS 64 bit
- **JDK Version**: openJDK 1.8.0_151
- **Eclipse Version** : Oxygen (4.7.2)
- **Firefox / Chrome Version**: Not Applicable

**What I was trying to do / What I need help with**
I am  trying to do following
   "To run PMD analysis using the Eclipse PMD plugin, right click on the project under Project Explorer and select PMD > Check Code"
I am not able

[2018-01-13 14:05] xpdavid commented on #8299
@LiHaoTan I think we have it in `Const.java`.

[code]

[2018-01-13 14:48] LiHaoTan commented on #8299
@xpdavid yeah, just that it technically does almost the same thing as `System#lineSeparator()`.

[2018-01-13 16:03] wkurniawan07 commented on #8299
`System.lineSeparator()` is a Java 7 technique. Given that TEAMMATES started just slightly before Java 7 went GA, using `Const` may be a legacy reason. Using `System.lineSeparator()` directly is justified here.

[2018-01-14 08:34] Anupam-dagar opened #8307 "Help Request: Connection refused on ./gradlew createConfigs"
- **Operating System:** Ubuntu Gnome 16.04
- **JDK Version:** 1.8

**What I was trying to do **
I was running ```./gradlew createConfigs``` and got a connection refused error.I use proxy and it is properly setup.
![screenshot from 2018-01-14 14-03-00](https://user-images.githubusercontent.com/21174572/34914203-be0cfd62-f933-11e7-950c-116918140415.png)

**Attempts to resolve the problem**
I tried r

[2018-01-14 09:19] LiHaoTan commented on #8307
It appears the most probable cause is that you have not setup your proxy settings correctly.

Unfortunately, there's no way we can verify that for you as the proxy settings for everyone differs. Have you looked at https://docs.gradle.org/4.4.1/userguide/build_environment.html#sec:accessing_the_web_via_a_proxy?

If you run `./gradlew`, it should fail with the same error so you might want to try acc

[2018-01-14 18:14] upatidar7 commented on #8213
#8308

[2018-01-15 04:32] upatidar7 commented on #8213
Please review it #8308

[2018-01-15 06:20] YukiKuroshima opened #8309 "New contributor self intro Yuki Kuroshima"
a) link to your app (if you deployed to your staging server in Phase C)
[https://6-0-0-dot-teammates-yuki.appspot.com/](https://6-0-0-dot-teammates-yuki.appspot.com/)

b) link to your fork
[https://github.com/YukiKuroshima/teammates](https://github.com/YukiKuroshima/teammates)

c) a screenshot of the change you did (as seen on the UI)
## Before
![screen shot 2018-01-14 at 9 29 55 pm](https://user-

[2018-01-15 12:32] #8279 closed

[2018-01-15 15:10] huai99 commented on #8294
This turns out to be a careless mistake of mine, I have configure the my IDE to use JDK 1.8, but the gradle task is using JDK 1.9 from my OS PATH variable, and the class in the production source are in JDK 1.8 so I guess that is why the error ```No classes found to analyze``` is happening.

I have solved it by changing the Java home directory in ```gradle.properties``` to JDK 1.8. Sorry for the ca

[2018-01-15 15:10] #8294 closed

[2018-01-15 16:55] #8237 closed

[2018-01-15 17:02] Anupam-dagar commented on #8307
i resolved by using cellular data :)

[2018-01-15 17:02] #8307 closed

[2018-01-15 19:32] nidhi98gupta commented on #1701
@damithc I would like to work on this issue.

[2018-01-16 00:37] damithc commented on #1701
@nidhi98gupta sure.

[2018-01-16 13:04] wkurniawan07 commented on #8306
Indeed it looks like the option is removed from the new PMD plugin. Thanks for reporting @shivamtrip53! You need not worry because the fact that you have set up this plugin correctly means PMD analysis would have run in your project anyway.

[2018-01-16 14:47] #8278 closed

[2018-01-17 06:20] #8282 closed

[2018-01-17 06:21] #8286 closed

[2018-01-17 06:37] whipermr5 commented on #8309
Hey Yuki, welcome to TEAMMATES! Good job setting everything up correctly! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2018-01-17 06:38] YukiKuroshima commented on #8309
Thank you!

[2018-01-17 06:38] #8309 closed

[2018-01-17 07:05] whipermr5 commented on #8140
@czarska Go ahead :)

[2018-01-17 07:11] whipermr5 commented on #7884
@OrionStar25 That is to fix the failing tests which is part of the solution. You can submit a PR and we can take a look :)

[2018-01-17 16:24] nidhi98gupta commented on #1701
@damithc Sir, I have a question.
I changed the date format to Mon, 21 Mar 2011 in instructorFeedbackEdit.js which shows right date format when any date is selected from datepicker.
![date](https://user-images.githubusercontent.com/24381442/35053510-456f716a-fbd0-11e7-813b-7c54e475b992.png)
 But on selecting that feedback session again from Session page doesn't show new date format i.e it shows old

[2018-01-18 07:30] tshradheya opened #8312 "Enhancement: Improve Email Layout by using buttons for links"
**Description of feature/enhancement**

When sending emails to student/instructor, instead of sending the raw link, we could send a button which redirects to the link when the button is clicked.
Something similar to the below:
---
![image](https://user-images.githubusercontent.com/12574756/35085531-06b5707a-fc64-11e7-8c8b-44ce437fd3f8.png)
---

**Justification**

Through using buttons, we don't ex

[2018-01-18 09:39] #8108 closed

[2018-01-19 04:28] jimmyshephard opened #8313 "JasperException on attempted login - initial setup"
- **Mac OSX High Sierra**
- **JDK Version: 1.8.0.121**
- **Eclipse: *Neon*
- **Chrome Version:* 63*

**What I was trying to do / What I need help with**
Setting up teammates, I have the server running but I cannot logon because of an exception due to offensive JSTL expression on the UI.

Steps to reproduce:
- Request URL: http://localhost:8080/admin/adminHomePage
- Console error is shown: **org.ap

[2018-01-19 05:27] LiHaoTan commented on #8313
@jimmyshephard I suspect you are not running the app using the Java 8 runtime. If you are migrating, you should refer to #8149.

[2018-01-19 09:38] sukanta-27 opened #8314 "Checkstyle problem : Checkstyle execution failed due to an internal error"
**Environment**

OS: Windows 8.1
IDE: Eclipse Oxygen.1a Release (4.7.1a)
Checkstyle Version: 8.7.0

While working on the PR #8182, I, after doing some changes in `EmailGenerator.java` checked the code with checkstyle and found an error [Screenshot below]. First I thought there is some error in my code, but the `gradlew.bat lint` and `npm run lint` both ran successfully. So, I checked out to the `m

[2018-01-19 09:58] wkurniawan07 commented on #8314
@sukanta-27 one of the following should be the case:
- You're working on a branch that is in sync with the latest `master`, but your Checkstyle version in Eclipse is below `8.5.0`. The Checkstyle version in `build.gradle` is not relevant right now.
- Your Checkstyle version in Eclipse is `8.5.0` or above, but you're working on a branch that is not in sync with the latest `master`, i.e. still using

[2018-01-19 09:59] sukanta-27 commented on #8314
Below is a gif of the error I am getting:
![output_hsrbkb](https://user-images.githubusercontent.com/10681755/35145278-246fed52-fcff-11e7-93c5-6fccfb129827.gif)

[2018-01-19 10:07] wkurniawan07 commented on #8314
That gif is not helpful. The error is expected when the plugin version and the config file does not match.

[2018-01-19 14:02] damithc commented on #8312
I don't mind having something like that if it is not too hard to do.

[2018-01-19 14:07] damithc commented on #1701
@nidhi98gupta I don't know how to fix this issue myself. :-p hopefully some other dev who has some expertise in this part of the code can weigh in. If not, we have to wait till another contributor who can figure it out comes along.

[2018-01-19 14:45] tshradheya commented on #8312
Okay. Then I will

[2018-01-19 15:27] sukanta-27 commented on #8314
@wkurniawan07 Thank you very much for the quick response. I was looking into the `build.gradle` and mistakenly thought the version specified in the file was my plug-in version. Sorry for the late response, as whenever I was trying to install the checkstyle plug-in through the eclipse marketplace I ran into this problem :
[code]
Though I could not solve this issue, even after trying out many soluti

[2018-01-19 15:28] sukanta-27 commented on #8314
closing this issue now.

[2018-01-19 15:28] #8314 closed

[2018-01-19 17:01] gaurav122197 commented on #8266
There are various code instances such as [InstructorCourseEnrollPageDataGenerator.java](https://github.com/TEAMMATES/teammates/blob/master/src/client/java/teammates/client/scripts/scalabilitytests/InstructorCourseEnrollPageDataGenerator.java) which can be refactored using streams.
Would like to work on this issue to improve code readability for the future contributors after getting affirmation fro

[2018-01-19 20:41] bira91 opened #8315 "New contributor self intro Rajat Dwivedi"
- [**Link to my app**](http://www.teammates-rajatd.appspot.com)
- [**Link to my fork**](https://github.com/TEAMMATES/teammates)

**Screenshot of changes made (as seen on the UI)**
![screen shot 2018-01-20 at 12 21 26 am](https://user-images.githubusercontent.com/29452802/35169640-266ca752-fd55-11e7-8a56-3f550a8fc812.png)

Hi everyone, my name is Rajat Dwivedi. I am an undergrad student of Computer

[2018-01-19 20:43] sukanta-27 commented on #8315
Hi @bira91

Welcome to TEAMMATES! You may wish to start by taking on one of our `d.FirstTimers` issues, before moving on to `d.Contributors` issues :)

[2018-01-19 23:17] jimmyshephard commented on #8313
Thanks @LiHaoTan, that helped me. App was running on Java 7 runtime

[2018-01-19 23:17] #8313 closed

[2018-01-19 23:59] #8315 closed

[2018-01-20 01:17] jimmyshephard commented on #8292
Sure about the University of Arkansas at Little Rock in UK?

[2018-01-20 02:06] wenmogu opened #8317 "Instructor Help: add missing number in numbered list"
There is one pointer in bold that does not have number label in front. This format does not align with other pointers in this section.

![image](https://user-images.githubusercontent.com/28526038/35178812-4fdf995e-fdc9-11e7-9759-3af23d7d5cd9.png)

[2018-01-20 02:10] tran-tien-dat commented on #8140
I would like to take up this issue since @czarska has not been active for a while.

[2018-01-20 02:32] Crphang opened #8319 "New Contributor Self-Intro: Phang Chun Rong"
- **Link to my app: http://6-0-0-dot-teammates-crphang.appspot.com**
- **Link to my fork: https://github.com/Crphang/teammates**

**Screenshot of changes made (as seen on the UI)**

After
![screen shot 2018-01-20 at 10 21 26 am](https://user-images.githubusercontent.com/4986717/35179029-ea40ac6a-fdcc-11e7-9df4-890bac33f43a.png)

Before
![screen shot 2018-01-20 at 10 27 53 am](https://user-images.g

[2018-01-20 02:40] Crphang commented on #8317
Can I take up this issue as my first?

[2018-01-20 02:42] damithc commented on #8317
Sure

[2018-01-20 02:48] wenmogu commented on #8280
Sorry for the reply. Here are some of my thoughts on this issue:
1) There should not be _average_ ranks as the existence does not make sense. Although the current _Average excluding self_ serves as an indicator of how others rate one's performance, the naming/computation of this value has to be changed.
2) I think "Overall ranking" and "Overall ranking (excluding self-ranking)" make a lot more sen

[2018-01-20 02:57] damithc commented on #8280
The 2nd way of calculation may be easier to explain. The first algorithm (or something similar) can be used to break ties resulting from the second algorithm.

Yes, documentation can be improved for sure.

Perhaps one of you (or both together) can take this up? @joanneong @wenmogu

[2018-01-20 03:06] damithc opened #8320 "Instructor: add ranking question: leave min/max boxes empty by default"
When an instructor is adding a _ranking_ type question, the min/max boxes are pre-filled with `1`.
![image](https://user-images.githubusercontent.com/1673303/35179261-b21fcdc0-fdd1-11e7-82bf-5ec780a06e70.png)

Perhaps we should leave the boxes empty to eliminate any room for misinterpretation of the number?

[2018-01-20 03:08] Haozhe321 opened #8321 "Remove Instructor Short Name when adding single instructor by administrator"
**Description of feature/enhancement**
When adding multiple instructors, there is no "Short Name" to be added for the instructors; but when adding single instructors it is compulsory to include Short Name else the instructor can't be added. After adding the instructors, the Short Name displayed at the bottom of the page is the same as the full name. I suggest adding a column to add Short Name for

[2018-01-20 03:11] damithc commented on #8321
Actually, we can get rid of the short name altogether. It's used only in the invitation email sent e.g. `hi John`. We can use the full name for that too.

[2018-01-20 03:11] joanneong commented on #8280
Got it. @wenmogu and I will both be trying to work on this right now. We will come to a consensus on the ranking system, and then split the work thereafter.

Unfortunately, the documentation will probably be completed before any new ranking system is fully implemented, but not be merged until after the new ranking system is completed.

[2018-01-20 03:12] tran-tien-dat commented on #8140
After investigation, I discover that the root of the problem is not because Admin is not given special privileges to view the profile pictures, but rather, the 'nominal' account, which is supposed to be the student's account when Admin is in masquerading mode is not tracked properly for this request.

[2018-01-20 03:33] Haozhe321 commented on #8321
Okay I can work on removing that field

[2018-01-20 03:44] craaaa commented on #7645
It seems to me the underlying problem is that it's possible to build a `StudentProfile` without a Google ID. Changes to `StudentProfileAttributes` created a Builder class, but declaring a Google ID is not required. This freedom seems to only be around because of the tests -- a possible solution is to require Google ID for all `StudentProfileAttributes`, which should then force `StudentProfile` to

[2018-01-20 03:51] whipermr5 commented on #7645
@craaaa Yes, that's fair 👍 Thanks for taking this up!

[2018-01-20 04:03] Crphang commented on #8320
I can work on this.

Should we consider having placeholder text instead of pre-filled numbers like "e.g. 1" within those boxes?

[2018-01-20 04:23] joanneong commented on #8280
After some discussion, here is an update on what we will be working on for this particular issue. Note that the discussion here is limited to rank recipients questions only, and excludes rank options questions since rank options questions do not suffer from the same issue.

**(1) The revamped ranking system**
We intend to retain the normalization system, but change the computation that follows aft

[2018-01-20 05:40] damithc commented on #8320
It's a number field. I don't think you can set it to a non-number text.

[2018-01-20 05:44] wkurniawan07 opened #8324 "Fix AppVeyor failure due to Guava version"
Cause of problem: Guava version `23.6-jre` does not play well with AppVeyor environment, as seen from the [latest AppVeyor build](https://ci.appveyor.com/project/damithc/teammates/build/1.0.744).

Solution: downgrade to the latest workable version.

[2018-01-20 05:49] bqnguyen94 commented on #8320
I believe what @Crphang meant was to remove the `value` attribute of `input` tag and add a `placeholder` attribute with "e.g. 1" or something similar.

[2018-01-20 05:53] whipermr5 commented on #8324
Perhaps the latest Selenium will work with the latest Guava. #8150

[2018-01-20 06:26] damithc commented on #8280
As discussed, let's not add a point system which may be a bit surprising to users. Instead, let's give an overall ranking (including self, and excluding self).

[2018-01-20 06:27] #8324 closed

[2018-01-20 06:36] Crphang commented on #8320
The placeholder would look like that. The  "e.g." should help remove the ambiguity of the initial number 1.

![screen shot 2018-01-20 at 2 34 36 pm](https://user-images.githubusercontent.com/4986717/35180634-34167726-fdef-11e7-9a6c-231bb9612c14.png)

[2018-01-20 06:47] damithc commented on #8320
Looks good. Ensure that the code works if a user ticked the option but didn't enter any value, and ensure that that situation is covered in tests. It may have been overlooked earlier because previously the value was pre-filled.

[2018-01-20 08:05] bira91 commented on #8292
Can i work on this issue for my first time issue?

[2018-01-20 08:11] #8176 closed

[2018-01-20 08:19] czarska commented on #8140
I’m working on this issue :( I wasn’t active because I was waiting for an answer is it still free

[2018-01-20 11:52] tran-tien-dat commented on #8140
@czarska Sorry I have already submitted a PR to fix this

[2018-01-20 17:16] joanneong opened #8328 "Instructor Help: integrate documentation for contribution questions"
**Description of feature/enhancement**

In the instructor help page, the faq for contribution questions contain links to an external Google Drive document:

![contribquestion](https://user-images.githubusercontent.com/24493463/35185875-bf6a986c-fe02-11e7-9ded-afba3b13788e.png)
The Google Drive document:
<img width="300" alt="screen shot 2018-01-21 at 12 56 56 am" src="https://user-images.githubuse

[2018-01-20 18:18] jimmyshephard commented on #5704
I would like to take up this issue guys. Looks like it's been pending for a while.

[2018-01-21 05:01] bqnguyen94 commented on #8148
It appeared sometimes the clicking event of the `edit` button registered the inner `span` element of the button, which is the pencil glyphicon, instead of the `anchor` element, leading to the erratic behaviour.

[2018-01-21 05:14] bqnguyen94 opened #8329 "Instructor: discard edit question button: sometimes button does not work"
**Environment**
`master` branch at commit #8176.
Browser: Chrome on macOS High Sierra

**Steps to reproduce**

(This is not always reproducible)
- Login as instructor
- Go to instructor home page, click `edit` on any feedback session
- Click `edit` on any question
- [Optional] Edit the question
- Click `Discard` and `OK` on the warning modal

**Expected behaviour**
The changes made to the question

[2018-01-21 05:15] bqnguyen94 commented on #8329
Maybe related to #8148

[2018-01-21 05:33] damithc commented on #8148
Good detective work @bqnguyen94 👍

[2018-01-21 06:38] bqnguyen94 commented on #8148
Seems like the problem can be reproduced by pointing the mouse on the pencil glyphicon while clicking the `edit` button. Clicking onto the word `edit` itself doesn't cause the issue.

[2018-01-21 13:40] LuLechuan opened #8333 "Instructor: edit question: fix erratic behavior when editing followed by deleting"
**Environment**
`master` branch at 1c43cce but possibly has existed long before.

**Steps to reproduce**
1. Edit a feedback question
2. Clear the textarea of the question name
3. Click "save", and validation message "Please enter a valid question. The question text cannot be empty"will show up.
4. Retry saving.
5. Click the "delete" button, press "yes" for the warning box. Validation message "Plea

[2018-01-21 13:51] wkurniawan07 commented on #8333
@LuLechuan, do follow the [bug report template](https://github.com/TEAMMATES/teammates/blob/master/.github/template-bugReport.md).

[2018-01-21 15:59] wenmogu opened #8334 "Code Enhancement: fix unnecessary for-loop"
**Description of feature/enhancement**
I notice that at class `FeedbackRankRecipientsQuestionDetails` method `getNormalisedRankForEachResponse`, there is a for-loop looping the parameter `responses` of this method. Practically, this for-loop converts `responses` from a List to a Map, with the same content.
However, this loop is called for every `giver`. E.g. if there are 10 people ranked others in

[2018-01-21 16:02] bqnguyen94 opened #8335 "Javascript: button event callback: use event.currentTarget"
As suggested by @LiHaoTan (#8331), most if not all jQuery button event callback instances throughout the code should refer to their respective target as `event.currentTarget` instead of `event.target` to avoid erratic behaviours when the buttons are clicked (see #8148 and #8329).

The problem occurs with `button` elements that contains one or more child elements (e.g. glyphicons). When one such bu

[2018-01-22 01:48] LuLechuan commented on #8333
Corrected as requested.

[2018-01-22 10:58] tshradheya commented on #8150
Upgrading to Selenium 3.x, would make `Geckodriver.exe` be downloaded compulsorily. Is that fine?

Should I go ahead with it?

[2018-01-22 11:10] wkurniawan07 commented on #8150
That is part of the expected work.

[2018-01-22 11:14] tshradheya commented on #8150
Okay. Thanks 👍

[2018-01-22 12:32] tshradheya commented on #8150
I have a query. On looking at the TEAMMATES documentation, it says only firefox version till `46.0.1` is supported. I am currently on that version and after integrating `geckodriver` , i am unable to make the webdriver open.

![image](https://user-images.githubusercontent.com/12574756/35220802-a7d7e77a-ffb2-11e7-9fb7-04ae61b067b4.png)

On looking up the `geckodriver` [releases ](https://github.com

[2018-01-22 12:51] tshradheya commented on #8150
@LiHaoTan So can I assume its fine for us to update to a newer version of Firefox (i.e. `46.0.1` + ?)

[2018-01-22 12:52] LiHaoTan commented on #8150
@tshradheya definitely, otherwise there would be no way to upgrade to Selenium 3.

[2018-01-22 15:31] wkurniawan07 commented on #8333
@LuLechuan bug reports should be concise but precise enough so that it can be easily verified by maintainers. I helped you improve it this time.

[2018-01-22 15:41] #8329 closed

[2018-01-22 16:04] wkurniawan07 commented on #8328
@joanneong Using GDrive for documentation has been deprecated for quite some time already. You're definitely welcome to migrate it to proper JSP and check it into the version control of this repo.
However, integrating everything to the instructor help page may not be the best course of action since (1) the instructor help page is already very long and (2) the FAQ is quite technical and may not be

[2018-01-22 16:29] #8148 closed

[2018-01-22 17:24] tshradheya commented on #8150
Query.

In the `.travis.yml` ,  I wanted to know how the firefox path is transferred to `TestProperties` ?
I want to use the similar method to export the absolute path of `geckodriver` and use it to `setProperty` of the System

[2018-01-22 19:30] shivamtrip53 opened #8341 "Help Request: Unable to build the JavaScript files for the application's use"
- **Operating System:**  ubuntu 16.04 LTS 64 bit
- **JDK Version:** openJDK 1.8.0_151
- **Eclipse Version :**  Oxygen (4.7.2)
- **Firefox / Chrome Version :**  Not Applicable

**What I was trying to do / What I need help with**
I was trying to run following command to build the JavaScript files for the application's use:

            npm run build

The following output was generated.
![screenshot

[2018-01-22 22:51] naresh17 opened #8342 "nkljklkda"

[2018-01-22 22:55] karanvirsidhu commented on #8342
sdfk

[2018-01-22 22:55] #8342 closed

[2018-01-23 00:12] LiHaoTan commented on #8341
@shivamtrip53 Have you ran `npm install`?

[2018-01-23 01:35] LuLechuan commented on #8333
@wkurniawan07 Noted with thanks, will do it properly next time.

[2018-01-23 01:56] LiHaoTan opened #8343 "Show full exception format when running tests from CLI"
The exception format currently shown when running tests using the command line is `short` (i.e. truncated). This makes tracing problems difficult, especially with UI tests that are not reproducible locally.

Let's change the exception format to `full`.

[2018-01-23 05:03] whipermr5 commented on #8150
I believe it's precisely because we're using Selenium 2.x, which doesn't support later versions of Firefox. It'd be great if you're successful in upgrading to Selenium 3.x so we can finally use the latest Firefox.

[2018-01-23 13:08] wkurniawan07 commented on #8343
@LiHaoTan just to clarify, you're referring to the single-run tests (`test`, `localTests`, `failedTests`) right?

[2018-01-23 13:09] #8317 closed

[2018-01-23 14:29] LiHaoTan commented on #8343
@wkurniawan07 I am also thinking that `ciTests` be included as well.

Is there an issue I am unaware of? The caveat I know is that too long logs will get cut off by Travis which makes it troublesome but don't really have that issue right?

[2018-01-23 14:31] whipermr5 commented on #8319
Hey Chun Rong, welcome to TEAMMATES! Good job setting everything up correctly! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2018-01-23 14:31] wkurniawan07 commented on #8343
@LiHaoTan There is. Unless it's the final run (in which the exception format is already full), having the full exception has close to zero value.

[2018-01-23 14:31] #8319 closed

[2018-01-23 14:37] whipermr5 commented on #8292
@jimmyshephard Thanks; I did add a comment about it in #8295.

@bira91 @dishant-sheth is already working on it, though you can if you really want to (we'll merge the first PR to reach acceptable quality).

[2018-01-23 14:38] LiHaoTan commented on #8343
@wkurniawan07 In my opinion, I don't think that is the case for some of the tests, especially the UI tests. A lot of them fail randomly halfway and from different causes, and repeating them ends up hiding the different failures.

UI tests can be flaky, end to end even more so but only knowing the final failure may mask failures from other causes. Correct me if I'm wrong here.

[2018-01-23 14:44] wkurniawan07 commented on #8343
You're not wrong, but you should not let such be a distraction. Even if they fail at some point for multitude of reasons, if they pass after some try, they are not really worthy of our attention. If you have the time and effort to track such minute details for not really a significant gain, you'll find it better to dedicate that same time and effort to more important stuffs.

And let's not forget

[2018-01-23 15:02] LiHaoTan commented on #8343
I agree with you that as long as they pass after some tries reliably that it is fine.

However, from what I observe they may provide useful information (at least for me) to find out why they are failing after multiple tries, take a modified adapted example:
1. Try 1: Fail because of concurrent database writes
2. Try 2: Fail because browser not in focus
3. Try 3: Fail because button not clickable
4

[2018-01-23 15:12] wkurniawan07 commented on #8343
How often are you going to encounter such case? If you are uncomfortable because "this is theoretically possible and I am itching to fix it", then you yourself should hunt down the case and fix it. You're more than free to set up your own Travis instance with full exception format every time.

For something that happens perhaps only in 1 out of 100 builds, that "useful information" becomes a noise

[2018-01-23 15:16] LiHaoTan commented on #8343
I think that is still very useful information and I think it currently happens like every single build, causing AppVeyor failures, blocking Selenium 3 upgrades but all I have is my intuition to back it up so since you are against this for good reason shall we just go with `test`, `localTests` and `failedTests`?

[2018-01-23 15:22] wkurniawan07 commented on #8343
Back to my first reason: does it affect us if some tests goes slightly wrong if they pass eventually? If you're itching to fix them, do it, but perhaps you'll be better off doing something else more productive.

??? AppVeyor failures have nothing to do with this.

No one stops anyone from modifying `.travis.yml` in that PR (or any PR) alone to print the full stack trace early. It becomes somewhat

[2018-01-23 15:25] LiHaoTan commented on #8343
Ok noted thanks for your feedback.

[2018-01-23 17:45] Ali96kz opened #8346 "New Contributor Self-Intro: Ali"
Link to my work: https://github.com/Ali96kz/teammates
![screen](https://user-images.githubusercontent.com/15236829/35290715-37af19a8-0095-11e8-96bb-515ae90bec5d.PNG)
    My fullname is Zhagparov Ali. I am from Kazakhstan. I am educating in final course at university. I want to contribute to teammate because it's beginner friendly and as I see project with good architecture.
    About my skills. I

[2018-01-23 18:02] shivamtrip53 commented on #8341
@LiHaoTan  After running the command you mentioned, I again ran
      npm run build
This time it worked.
Thanx

[2018-01-23 18:02] #8341 closed

[2018-01-23 19:53] shaharyar-shamshi commented on #8346
Welcome to the teammates I would like to to suggest you to go for the issue labelled as d.firsttimer to get your hand wet and then proceed to d.contributor labelled issue

[2018-01-24 04:06] LiHaoTan opened #8347 "Sync Checkstyle version for IntelliJ with the version defined in build script"
This will improve the developer's experience.

[2018-01-24 04:42] LiHaoTan opened #8350 "Fix missing group for build script task `setupIntellijStaticAnalysis`"

[2018-01-24 04:54] tshradheya commented on #3512
In #8233 I refactored `FeedbackSessionResultsBundle.java` while changing comparators to lambdas so it looks like that file is pretty much refactored.

And for `InstructorFeedbackResultsPage.java` can I ask as to what exactly needs to be refactored?

[2018-01-24 13:32] shaharyar-shamshi commented on #7112
@sujeet14108  @wkurniawan07 Sir  Is this issue still open can I work on this ?

[2018-01-24 14:03] shaharyar-shamshi commented on #7283
@JosephineKwa  sir I am working on it

[2018-01-24 16:56] Shashwat-Garg commented on #8299
Is anyone assigned to this issue?

[2018-01-24 16:58] xpdavid commented on #8299
@Shashwat-Garg There is a PR for this issue https://github.com/TEAMMATES/teammates/pull/8337. You can find other issues to work on.

[2018-01-24 18:17] sujeet14108 commented on #7112
@shaharyar-shamshi  You can take this :)

[2018-01-24 21:54] sukanta-27 commented on #7993
@damithc  As there is no activity in this issue for a while, can I try my hands on this one?

[2018-01-25 00:31] damithc commented on #7993
Sure

[2018-01-25 05:44] Haozhe321 opened #8353 "Instructor Add/Edit Feedback Session: Submission opening time earlier than current time"
**Environment**

`master` branch at commit 7d15ccc

**Steps to reproduce**
1. Login as instructor
2. Add a new feedback session
3. Set the "Submission opening time" to be earlier than the current date and time
4. (Optional) Set the "Submission end time" to be earlier than the current date and time too.

**Expected behaviour**
Warning that session opening time cannot be earlier than current time

*

[2018-01-25 06:26] #8350 closed

[2018-01-25 07:01] joanneong commented on #8002
I would like to give this a shot. Although it seems like quite a big change, @LimeTheCoder seems to have been doing a pretty good job so I will be able to reference his previous pull request and hopefully bring this issue to a close.

[2018-01-25 07:47] damithc commented on #8353
This is intended. As there is no open/close function for users to open/end sessions, users are allowed to use any open/end time to control the status of the session. e.g., if the user wants to close a session immediately, he can set the close time to a past time. The only restriction is the end time should be _after_ the open time.

[2018-01-25 08:37] Haozhe321 commented on #8353
@damithc I see. It sounds like a useful thing to have. Should a button be created for instructors to close a session immediately? Because the current way of closing it immediately seems like a hack, and many of them may not know how to use this method of closing sessions.

Or a note could be added onto the existing one to let them know that they can set the closing time earlier than current time t

[2018-01-25 09:15] bqnguyen94 opened #8355 "Instructor: add rank question: prevent input field from shrinking when enabled"
**Environment**

`master` branch at commit [`18aefe8`](https://github.com/TEAMMATES/teammates/commit/18aefe85e42847d6bf14d172e70fec43b0a7c0ea)
Browser: Chrome on macOS High Sierra

**Steps to reproduce**
- Login as instructor
- Go to instructor home page, click edit on any feedback session
- Go to bottom of page, click `Add New Question`, choose either `Rank 'options' question` or `Rank 'recipient

[2018-01-25 11:30] wkurniawan07 commented on #3512
This issue looks not well-defined. Usually the case when someone wants to refactor something but lost interest in it subsequently. Will be closing this; can open a new one on a necessity basis.

[2018-01-25 11:30] #3512 closed

[2018-01-25 11:42] wkurniawan07 commented on #8328
That sounds about right to me.

[2018-01-25 13:55] damithc commented on #8353
It's not that easy to support a 'open now' features because we can only open a session at the start of the hour (because the required cron jobs only run at the start of the hour). Although the current way is not ideal, I can't think of an easy fix. On the positive side, most users will simply set a start and end time in future and it will work as expected.  The flexibility to set times in the past

[2018-01-25 15:59] darrenwee opened #8356 "Java: Use Java 8 streams to improve code readabiility in SanitizationHelper util"
Some sanitizer and desanitizer methods in the `SanitizationHelper` util can be improved with functional programming using streams.

[2018-01-25 18:00] Shashwat-Garg commented on #8355
Hello, I would like to work on this issue.

[2018-01-25 18:16] joanneong commented on #8328
Got it. I will give it a shot in these few days and see how it turns out.

[2018-01-26 03:33] Haozhe321 opened #8358 "Instructor session: Disable remind button when submission has closed"
**Environment**

`master` branch at commit 18aefe8

**Steps to reproduce**
1. Login as instructor.
2. Create a session/use an existing session, close the session but unpublish the result.

**Expected behaviour**
The remind button should not be clickable since the session is already closed.

**Actual behaviour**
The remind button is clickable because it is currently dependent on whether the results

[2018-01-26 03:39] Haozhe321 commented on #8358
looking into this

[2018-01-26 03:51] LiHaoTan commented on #8343
@wkurniawan07 I thought about it a bit and I guess there is not a lot of value in adding this.

I presume Gradle truncated the exception format to keep it compact since Gradle is used on the CLI. If someone needs to debug on the command line, then they can turn it on by themselves.

[2018-01-26 03:51] #8343 closed

[2018-01-26 05:34] reddysridhar53 commented on #8355
Shall I pick this one?

[2018-01-26 05:42] theboywholived opened #8359 "Help Setting Up: GCloud SDK installation failing"
- **Operating System: macOS High Sierra**
- **JDK Version: 1.8.0 build 161**
- **Python version 2.7.10**

**What I was trying to do / What I need help with**

I am trying to set up the development environment for TEAMMATES and trying to install the Google Cloud SDK for that. However, after downloading and extracting the archive, the command, `./google-cloud-sdk/install.sh` pops up this error on th

[2018-01-26 08:08] dabbler011 commented on #8320
@Crphang are you still working on this issue or shall I take up this one?

[2018-01-26 08:11] Crphang commented on #8320
@dabbler011 I'm currently working on it! Thanks for reaching out first!

[2018-01-26 08:17] theboywholived commented on #8359
It was a problem on my end (Issues with my ISP).
Sorry for the inconvenience.

[2018-01-26 08:17] #8359 closed

[2018-01-26 08:57] #8346 closed

[2018-01-26 10:10] nidhi98gupta opened #8361 "Help Request: Build Error / java: reference to until is ambiguous"
Operating System: Ubuntu 17.10
 JDK Version: 1.8
 IntelliJ Version 2017.3
 Firefox Version: 46.0

**What I was trying to do / What I need help with**
I was trying to build project and it throwed up error.
`/home/nidhi/teammates/src/test/java/teammates/test/pageobjects/GoogleLoginPage.java
Error:(100, 13) java: reference to until is ambiguous
  both method until(com.google.common.base.Predicate<T>)

[2018-01-26 11:57] tshradheya commented on #8361
The `until()` function is in[ Line 102](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/pageobjects/GoogleLoginPage.java#L102) however it seems like you are getting the error in Line 100.
Are you sure you haven't changed anything in `GoogleLoginPage.java`?
Maybe you could pull from the master and check if everything works fine

[2018-01-26 13:03] nidhi98gupta commented on #8361
@tshradheya Thanks. One of the import statements was missing.

[2018-01-26 13:03] #8361 closed

[2018-01-26 13:17] dabbler011 commented on #3431
working on this.

[2018-01-26 14:04] tran-tien-dat opened #8362 "TimeHelper: migrate to Java 8's `java.time`"
The app is currently using the old `Date` and `Calendar` classes from `java.util` which is no longer recommended. As we have moved to Java 8, we should use the new specialized classes in `java.time` instead. It should also be easier to implement Daylight Saving Time (DST) with these new classes. From reading the source code as well as [discussions](https://github.com/TEAMMATES/teammates/issues/809

[2018-01-26 15:48] LuLechuan commented on #7512
Can I work on this issue since nobody took it?

[2018-01-26 15:50] #8087 closed

[2018-01-26 21:45] man-of-code commented on #8299
Is this issue closed ?

[2018-01-26 21:53] man-of-code commented on #7884
@whipermr5 I would like to try fixing this issue.
Could you tell me where to start?

[2018-01-27 04:01] dynastykaiserlord123 opened #8363 "404 The requested resource () is not available"
I tried running teammates in glassfish with the url http://localhost:8080/teammates/index.jsp but it keeps returning 404. What am I doing wrong here?
![screenshot 17](https://user-images.githubusercontent.com/33665087/35468479-983d2342-02d3-11e8-92a8-6a3d06fdf5f3.png)
![screenshot 18](https://user-images.githubusercontent.com/33665087/35468480-98557582-02d3-11e8-9c98-870ed1c0b592.png)

[2018-01-27 04:06] LiHaoTan commented on #8363
@dynastykaiserlord123 We don't support Glassfish in TEAMMATES. Please try to take your time looking at our [Contributor Orientation Guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) first :).

[2018-01-27 06:40] #7899 closed

[2018-01-27 07:15] joanneong opened #8364 "Instructor: edit rank questions: make status message span both label and input"
**Description of feature/enhancement**

As discussed in #7899 , it would be good to make the status message span both label and input for rank questions as well.

Here is what a rank question currently looks like:

<img width="822" alt="screen shot 2018-01-27 at 3 14 44 pm" src="https://user-images.githubusercontent.com/24493463/35469666-d7baf5e8-0374-11e8-8c17-719d242f18dd.png">

**Justification*

[2018-01-27 09:12] damithc commented on #2908
Sure, you can give it a try. But note that we have marked this as `d.Committers` because the fix might not be easy.

[2018-01-27 14:38] upatidar7 opened #8365 "Issue Title: Help Request: In issue pick up."
I have completed one first-timer issue, Now which type of issue should I pick..?

[2018-01-27 15:45] Crphang commented on #8320
I hope to clarify the expected user experience. Suppose the user left the field blank, is it better to post-fill the min/max options with 1 (compared to pre-filling like before) within the app logic (`InstructorFeedbackQuestionAddAction`) or will it be neater to prompt the user of the empty field for the user to fill in?

[2018-01-27 16:04] sukanta-27 commented on #8365
After the `d.FirstTimers` issue, you should move on to `d.Contributors` issues.
And there is no need to include the `Issue Title:` in the title.  `Help Request: In issue pick up` is fine.

[2018-01-27 17:39] jimmyshephard commented on #8364
Would like to work on this.

[2018-01-27 18:39] #8365 closed

[2018-01-27 20:09] theboywholived opened #8366 "Google App Engine server not starting [HTTP Error 503] in Eclipse Neon.3"
- **macOS High Sierra**
- **JDK Version: 1.8**
- **Eclipse Version : Neon.3 Release (4.6.3)**

**What I was trying to do / What I need help with**

I was setting up the dev server and while the server is starting and stopping successfully using the gradlew command line, it is showing this error in Eclipse while running the 'Run As > App Engine' command
![screen shot 2018-01-28 at 1 33 19 am](https

[2018-01-27 22:49] sukanta-27 commented on #8366
@theboywholived Have you tried restarting the server? I sometimes get this problem,  but after restarting once (or after a few tries) it works.

[2018-01-28 02:49] damithc commented on #8320
How about we leave the field empty by default, but when the user ticks the checkbox, we auto-fill it to `1`? Does that make sense? Notwithstanding, I guess we still have to ensure the field is not empty at the point of submission because the user can delete the value we auto-filled.

[2018-01-28 03:01] theboywholived commented on #8366
Yep, although Eclipse gets stuck trying to terminate this, I manually removed the server from the servers tab and then tried again multiple times. I also tried restarting Eclipse. The error is still present.

[2018-01-28 03:28] #8347 closed

[2018-01-28 07:41] sukanta-27 commented on #8366
@theboywholived Can you check again that you followed all the steps mentioned in [this](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md), [this](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) document while setting up the project and IDE?

[2018-01-28 08:14] sukanta-27 commented on #8333
@LuLechuan Are you working on this?

[2018-01-28 08:40] #7838 closed

[2018-01-28 09:00] theboywholived commented on #8366
Yep, I checked the documents again and set it up again on Eclipse Oxygen now.

The same error is showing up.

[2018-01-28 09:27] sukanta-27 opened #8368 "Instructor: Session: Disable submit button after session is closed"
**Description of enhancement:**
- Login as `Instructor`
- Go to `Home` or `Session`
- take any `session` that is `Closed`, the `submit` button is still active. Clicking that leads to the submission page with the warning ` The feedback session is currently not open for submissions`.

We can disable the `submit` button after the session is closed.

**[Screenshot]:**
![screenshot 313](https://user-im

[2018-01-28 09:28] Crphang commented on #8320
I am thinking that that might make the user experience the same as before (with pre-filling 1). But this should be do-able.

On the other hand to ensure the field is not empty, I added a front end validation if the user clicks `save` with the field being empty (Will add browser test for this). This could also reduce the need to pre-fill.

![image](https://user-images.githubusercontent.com/4986717/

[2018-01-28 10:06] sukanta-27 commented on #8366
@theboywholived Maybe the senior developers can help. @wkurniawan07 @whipermr5 @LiHaoTan

[2018-01-28 10:45] #7818 closed

[2018-01-28 11:05] wkurniawan07 commented on #8366
@theboywholived have you built/cleaned the project before running the dev server?

[2018-01-28 11:09] Akarsh-TS opened #8370 "Request of information"
Hello teammates,this is Akarsh T S and i want to know how can i contribute towards building and upgrading user interfaces.I know in detail of html,css,javascript,scss.
So with this I want to use my knowledge to contribute to the organistation.
My email:ts.akarsh@gmail.com

[2018-01-28 11:34] theboywholived commented on #8366
@wkurniawan07 Yes, I did that.

[2018-01-28 11:56] sukanta-27 commented on #8370
@Akarsh-TS You can refer to our [Orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) that has all the necessary information and a [task list](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md#orientation-task-list) that will help you to start contributing.

[2018-01-28 12:57] damithc commented on #8320
The difference is previously the field is pre-filled but the check box is not selected which is an inconsistent state (although harmless).

[2018-01-28 13:15] sukanta-27 commented on #8368
Working on this.

[2018-01-28 13:21] Ali96kz commented on #8368
Can I take this issue?

[2018-01-28 13:22] sukanta-27 commented on #8368
@Ali96kz I am working on this. But thank you for asking first!

[2018-01-28 13:39] #8292 closed

[2018-01-28 15:06] whipermr5 commented on #8362
Sounds good!

For point 3, I think you meant local time instead of "Admin's time". I have an update about that: https://github.com/TEAMMATES/teammates/pull/8094#issuecomment-361069398

Converting `double` to `ZoneOffset` is a good workaround for the time being before we migrate the database. 👍

[2018-01-28 15:46] whipermr5 commented on #7884
@man-of-code Check out all the comments so far as well as the history of #8164.

[2018-01-28 16:02] LuLechuan commented on #8333
@sukanta-27 Hi, I actually have the solution. However, as this issue is still under investigating, so I haven't put it on PR.

[2018-01-28 16:50] sukanta-27 commented on #8333
@LuLechuan Okay.
By the way, FWIW I tested this on my system too, and could reproduce this bug.

[2018-01-29 01:17] damithc commented on #8333
@LuLechuan If the bug is reproducible, go ahead and submit a PR. Suggested: add a test case that fails due to the bug and then add the fix to make the test case pass.

[2018-01-29 12:52] wkurniawan07 commented on #8366
@theboywholived how exactly do you clean/build the project? Do you see anything inside the `build-eclipse` folder?

[2018-01-29 13:24] darrenwee commented on #8362
Hmm, after seeing the link from @whipermr5 in #8094 I think we should probably store date-time as an `java.time.Instant` instead of `ZonedDateTime`? (i.e. both `Date` and `Calendar` should be changed to `Instant`)

If we use `ZonedDateTime`, we need to provide a `ZoneId` (if not, it is inferred based on the system time) where DST rules may change, like the example raised in #8094, and cause issues

[2018-01-29 13:44] junkiattan commented on #8306
@whipermr5 I'm new to Teammates and would like to start on this as my first PR!

Just to check so do I change "To run PMD analysis using the Eclipse PMD plugin, right click on the project under Project Explorer and select PMD > Check Code" to "PMD analysis is automated when Eclipse PMD plugin is installed successfully. Simply review the report in the PMD Perspective view under Violations Overview.

[2018-01-29 14:23] tran-tien-dat commented on #8362
Agree 👍.

[2018-01-29 16:18] sukanta-27 commented on #8358
@Haozhe321 Just a suggestion, Your PR name should be exactly the same as the issue title. You can also change the issue title as the PR name looks more accurate.

[2018-01-29 23:22] #8363 closed

[2018-01-30 02:35] whipermr5 commented on #8306
@junkiattan Sounds good!

[2018-01-30 02:51] Haozhe321 commented on #8358
@sukanta-27 thanks!

[2018-01-30 06:29] man-of-code commented on #8306
@whipermr5 Is this issue still up for grabs?
If so, I would like to claim this one!

[2018-01-30 06:50] junkiattan commented on #8306
@man-of-code I am already taking this up! Thank you for asking though;)

[2018-01-30 07:08] junkiattan commented on #8306
@whipermr5 I have submitted a pull request;)

[2018-01-30 13:12] man-of-code commented on #7884
@whipermr5 Thank you. I'll be submitting a PR shortly.

[2018-01-30 14:12] junkiattan commented on #7943
@HirdayGupta

I would like to take up this issue. Will be submitting a pull request soon

[2018-01-30 15:58] shivamtrip53 commented on #8306
@junkiattan I am not able to find Violations Overview. Can you show the screenshot displaying Violations Overview or the the position where I am supposed to find it.

[2018-01-30 17:43] theboywholived commented on #8366
I clicked on `Project | Clean`. There are two folders inside `build-eclipse`, `classes` and `test-classes`, but both are empty.

[2018-01-30 19:06] dynastykaiserlord123 opened #8378 "appengine-web.xml not found"
When I tried running teammates in google appengine in eclipse, I get an error that the server timed out due to an xml file appengine-web.xml not found. In my project directory folders, all I have is a file appengine-web.template.xml but not appengine-web.xml. What am I missing here?
![screenshot 19](https://user-images.githubusercontent.com/33665087/35585735-a1517e42-05ad-11e8-9371-7af01c1ce110.pn

[2018-01-30 19:21] #8378 closed

[2018-01-30 21:27] shaharyar-shamshi commented on #8370
@Akarsh-TS you can set up the project on your local system by reading documents and then select any of d.firsttimer issue to get your an idea of teammates codebase and then proceed to d.contributor issue

[2018-01-31 11:53] wkurniawan07 commented on #8366
That's precisely the reason for the errors you got. There should be something wrong with the way the project is built/cleaned, because a proper build will populate the `classes` and `test-classes` folder.

[2018-01-31 11:57] wkurniawan07 commented on #8378
@dynastykaiserlord123, I'd advise you to thoroughly follow our [setup guide](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) and [IDE setup guide](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md) instead of trial-and-errors.
One thing for sure, it looks like you're using Eclipse Scala IDE which may or may not pose problems later on. I'm already seeing "P

[2018-01-31 12:04] wkurniawan07 commented on #8306
@junkiattan, are you sure of the instructions? Violations Overview is a feature of the older PMD plugin, which is the very reason why this issue was raised in the first place.

[The correct way to locate the violations is described in the project homepage](https://acanda.github.io/eclipse-pmd/).

[2018-01-31 12:12] theboywholived commented on #8366
@wkurniawan07 Thanks for helping with this. I understand that now. Should I do everything from scratch again? Or can you guess where I might be going wrong?

[2018-01-31 12:45] junkiattan commented on #8306
@wkurniawan07 @shivamtrip53 Ah sincerely sorry. I believe it should be the "Problems View" in Eclipse. I tried taking reference from the original and made a mistake.

"PMD analysis is automated when Eclipse PMD plugin is installed successfully. In addition, any discovered problems would also be logged in the Eclipse Problems View."

Is this new edit good to go? Ill await your approval before I sub

[2018-01-31 13:05] #8355 closed

[2018-01-31 14:55] #8321 closed

[2018-01-31 15:38] #6845 closed

[2018-01-31 22:46] #8140 closed

[2018-01-31 23:23] sukanta-27 opened #8381 "Misalignment in Instructor table while adding Instructors by admin"
**Environment**
master branch at 46a66b36cd744207ba277f5717aebf7edfacdd7c

**Steps to reproduce:**
- Sign in as admin
- Under `Create Instructor`, add an Instructor by providing name | email | Institute or by filling up the form
- Check the table below that will appear after either the adding of Instructor is successful or fails

**Screenshot below:**
**Before the commit**
![screenshot 330](https:

[2018-01-31 23:29] sukanta-27 commented on #8381
I have also tried
- Cleaning the project and building it
- Checking if the master branch is updated or not
- Restarting the server and eclipse and running the test multiple times and in different branches

[2018-01-31 23:54] #8335 closed

[2018-02-01 00:36] whipermr5 commented on #8381
You need to update the javascript files: `npm run build`

[2018-02-01 00:37] #7512 closed

[2018-02-01 00:50] tshradheya commented on #7934
Is anyone working on this? Or can I take up this issue?

[2018-02-01 03:59] whipermr5 commented on #8273
Effort tracker, to be updated as each PR is merged:

| PR | Effort |
| - | - |
| #8274 | 1 |

[2018-02-01 04:14] tran-tien-dat commented on #8362
After working on this for sometimes, we realize that:

1. Many functions inside `TimeHelper` does not have a concept of timezone. For these, we should use `LocalDateTime`
2. It is very hard to make changes to only 1 method's signature and still keep the rest intact (i.e. compiling without errors). So we are thinking of just changing everything to `java.time` first and then worry about changing the

[2018-02-01 04:15] whipermr5 commented on #8215
Effort tracker, to be updated as each PR is merged:

| PR | Effort |
| - | - |
| #8226 | 4 |

[2018-02-01 04:29] whipermr5 commented on #8213
Effort tracker, to be updated as each PR is merged:

| PR | Effort |
| - | - |
| #8308 | 2 |

[2018-02-01 04:40] Crphang opened #8383 "Hot reloading for javascript"
**Description of feature/enhancement**

Add hot reloading for javascript.

**Justification**

This benefits developers so that they do not have to run `npm run build` for every javascript changes.

[2018-02-01 05:09] whipermr5 opened #8385 "Release V6.1.0"
Scheduled for February 1, 2018, 1.59pm SGT.

[2018-02-01 05:12] darrenwee opened #8386 "adminActivityLogPage: improve timezone conversion"
On `admin/adminActivityLogPage`, the log entries have a time-stamp which may not be in the admin's time zone (to be honest I'm not sure what timezone it is in). Currently, upon clicking the time-stamp, an AJAX request is sent to the server to convert the time-stamp to the admin's local time.

![admin-log-bad](https://user-images.githubusercontent.com/12949331/35661981-95beeda4-0750-11e8-833b-f854a

[2018-02-01 05:12] darrenwee commented on #8386
@tran-tien-dat

[2018-02-01 06:34] sukanta-27 commented on #8381
@whipermr5 This was indeed the problem. Completely forgot to update the files. :man_facepalming: My apologies for the inconvenience. Closing this issue now,

[2018-02-01 06:34] #8381 closed

[2018-02-01 07:42] tran-tien-dat commented on #8386
The displayed date is wrong because of a bug in the method `TimeHelper#calendarToString`: `SimpleDateFormat` format time in local time, interpreting the `Date` as in UTC time, but this method is used to convert time that has been timezone-offset. I guess this confusion is exactly why we should move to the new `java.time` which separate non timezoned and timezoned time. We will fix this bug in our

[2018-02-01 07:44] tran-tien-dat commented on #8386
Nevertheless, we can still improve the experience by making timzone conversion happen in the browser instead of sending AJAX request. I will open a PR for this.

[2018-02-01 08:47] damithc commented on #8386
From what I remember, the time shown is in admin's time zone and the time injected is in the user's time zone. Reason: When I communicate with a user, I sometimes need to give times relative to the user's time zone.
Is the current behavior as described above?

[2018-02-01 09:06] damithc commented on #8386
It's correct on the live server, but note that the live server is running V6.0. The feature could have broken since then.
Another thing to note is that live server runs in the UTC+0, which means +8 to that gives us Singapore time zone. If your dev server is running in local time zone, +8 to that will give you UTC+16. Perhaps the code assumes the admin will always be in Singapore, which is fine. :-

[2018-02-01 09:22] junkiattan opened #8388 "Eclipse setup: refresh before cleaning the project for the first time"
Referring to the [instructions](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md) for setting up in Eclipse under _Project Setup_,

it is mentioned in Steps 4 to clean the project and ensure that there were no errors. However after I followed all the steps I still had ~5010 errors. It was only after I refreshed my gradle project and cleaned again that all errors were solved.

*

[2018-02-01 12:11] tran-tien-dat commented on #8386
I see, the problem is only with the timezone of the server. The outdated pre-Java 8 time classes mess things up and only works correctly when the server is in UTC+0. Since our server is running in that timezone, things work correctly. Besides, we are migrating to Java 8's `java.time` so this thing will be fixed. Hence, I think we don't need to do any further actions regarding this from the server'

[2018-02-01 12:51] sukanta-27 commented on #7934
@tshradheya I am in no authority to say this but, IMO, you have 5 open PRs, you should wait for at least 1-2 of them to get merged before taking up new issues as, if you open PRs for 6-7 issues at the same time and simultaneously work on them, then it might be difficult for other developers to find a issue to work on.

[2018-02-01 13:01] tran-tien-dat commented on #8362
After working on this for sometimes, we realize that:

1. Many functions inside `TimeHelper` does not have a concept of timezone. For these, we should use `LocalDateTime`
2. It is very hard to make changes to only 1 method's signature and still keep the rest intact (i.e. compiling without errors). So we are thinking of just changing everything to `java.time` first and then worry about changing the

[2018-02-01 13:35] wkurniawan07 commented on #8306
@junkiattan Some minor suggestions:
PMD analysis is automated when Eclipse PMD plugin is installed successfully. ~~In addition,~~ ~~any~~ **All** discovered problems ~~would also be logged~~ **can be viewed** ~~in~~ **under** the Eclipse Problems View.

Also, Eclipse Problems View groups messages by error level (error/warning/info) so it may not be the best alternative. A better alternative may be

[2018-02-01 13:36] wkurniawan07 commented on #8388
@junkiattan Let me get this straight: the dependencies are not added to the project when you imported it for the first time?

[2018-02-01 13:55] damithc commented on #8386
Probably no need. We can spend that effort on something more useful. :-) Thanks for bringing this up and investigating further 👍

[2018-02-01 13:55] #8386 closed

[2018-02-01 13:55] junkiattan commented on #8388
@wkurniawan07 I think that they were added in, but after changing the settings in Step 3, somehow it was not reflected in the Problems View after a clean operation.

I discussed the error with @LiHaoTan and showed him my problem view as shown below.

<img width="960" alt="error" src="https://user-images.githubusercontent.com/16800272/35682114-84d57f18-079a-11e8-9cf1-74e6d3ec65ad.png">

Not sure wh

[2018-02-01 14:02] junkiattan commented on #8306
@wkurniawan07

Consolidating your edits as well as the additional inputs, the finalized suggestion is as follows:

Is this good to go?

[2018-02-01 14:07] wkurniawan07 commented on #8388
Ah this looks like something that a Refresh (F5, not refreshing the project) can resolve. Syncing stuffs like this is one of Eclipse's weak points.

[2018-02-01 14:09] wkurniawan07 commented on #8306
@junkiattan can go ahead.

[2018-02-01 14:24] #8358 closed

[2018-02-01 14:26] wkurniawan07 commented on #8366
@theboywholived if all else fails, then restarting from scratch may be the only way to go.

[2018-02-01 14:49] #8370 closed

[2018-02-01 17:11] theboywholived commented on #8366
@wkurniawan07 I did do everything from scratch today. The same is happening again.

I also tried building it in Gradle today and a warning is showing there as well. I have attached a screenshot.
![screen shot 2018-02-01 at 10 40 28 pm](https://user-images.githubusercontent.com/13106828/35692286-f23e8e04-07a0-11e8-9ae6-751526fdbf61.png)

Here is the console log:
[code]

[2018-02-02 00:29] sukanta-27 commented on #8381
@whipermr5 There is another problem that appeared after I updated my `master` branch,
**Screenshot:**
![screenshot 333](https://user-images.githubusercontent.com/10681755/35710347-d44f31f6-07ae-11e8-8fb8-f2944a22aea4.png)

These buttons are not working, pressing them results in collapsing the panel instead of the drop down menu appearing. I have updated my JS files after updating the `master` bran

[2018-02-02 03:19] wkurniawan07 commented on #8381
@bqnguyen94 can check if this is an unintended side effect of #8340?

[2018-02-02 04:00] bqnguyen94 commented on #8381
@wkurniawan07 working on it

[2018-02-02 05:17] bqnguyen94 commented on #8381
Indeed the problem was due to this [line](https://github.com/TEAMMATES/teammates/pull/8340/files#diff-788e916ae66dcb20e8d285db37e85708R54) in #8340. I have also found another similar issue [here](https://github.com/TEAMMATES/teammates/pull/8340/files#diff-98bbb3ba1be6723cc6b204ba7bfdf481R245) and reverted them.

[2018-02-02 05:29] damithc commented on #7171
@wkurniawan07 do we still have the scalability tests in concern? if not, we can close this issue.

[2018-02-02 07:06] sukanta-27 commented on #8381
@wkurniawan07 @bqnguyen94  In that case, should I reopen this issue?

[2018-02-02 07:10] whipermr5 commented on #8381
It's a different problem; can open a new issue.

[2018-02-02 07:14] sukanta-27 commented on #8381
@whipermr5 okay.

[2018-02-02 07:47] sukanta-27 opened #8391 "Instructor home page: Fix broken panel buttons"
**Environment**

`master`  branch at 03917c8c2d250ff2fe84726e7ae66354169e53d4

**Steps to reproduce**
- Login as `Instructor`
- In `Home`, press any of the buttons  `sessions`, `course`, `Instructors`, `Students` <br>
![screenshot 333](https://user-images.githubusercontent.com/10681755/35722098-d66e3502-07ec-11e8-91c6-dd342cd42240.png)

**Expected behaviour**
A drop down menu should appear. Like i

[2018-02-02 07:47] whipermr5 commented on #8383
This has been sitting in a branch on my machine for the longest time, if it helps you. With this, running the dev server and deploying from gradle automatically run `npm run build` if the javascript files aren't up to date:

[code]

[2018-02-02 07:51] whipermr5 commented on #8391
Related to #8340. Original discussion: https://github.com/TEAMMATES/teammates/issues/8381#issuecomment-362447594

[2018-02-02 08:46] whipermr5 commented on #8385
Release 267

Code Contributions from: @pierreSquared, @dabbler011, @bjrodrig, @craaaa, @Chng-Zhi-Xuan, @darrenwee, @dishant-sheth, @Fatehsandhu, @FritzJo, @joanneong, @whipermr5, @kevinLamKB, @KshitijKythe, @LuLechuan, @jms5049, @ncbaihly, @bqnguyen94, @nidhi98gupta, @orinn248, @Haozhe321, @baczus0, @Crphang, @tshradheya, @sukanta-27, @LiHaoTan, @tran-tien-dat, @upatidar7, @wenmogu, @wkurniawan07,

[2018-02-02 10:28] junkiattan commented on #8388
@wkurniawan07  shall I close this issue then?

[2018-02-02 11:36] wkurniawan07 commented on #8388
@junkiattan Adding two words "**`Refresh` and** `Clean`" does not seem to hurt. You can submit a simple fix like that.

[2018-02-02 11:40] wkurniawan07 commented on #8383
Ah, finally someone opens this can of worms: Gradle Node plugin. If we use that plugin, there are more items in the lint/build chain that can be further streamlined.

Also, does this work for Eclipse/IntelliJ? I presume that some preparatory config needs to be set up in order for it to work, but I could be wrong.

[2018-02-02 11:42] wkurniawan07 commented on #7171
This is the script written by @samsontmr roughly a year ago, not the outdated ones I deleted in #8369.

[2018-02-02 11:43] #8306 closed

[2018-02-02 12:06] Crphang commented on #8383
Let me take a look at that.

Initially I was thinking of adding a hot reloading plugin within webpack, but if Gradle has it and it integrates well with the IDEs and existing Java code, then that should be a better solution.

[2018-02-02 12:27] LiHaoTan commented on #8383
I don't think the performance is good enough for use with IDEs though?

It appears that Gradle's performance is still not quite there yet, even with daemons.

[2018-02-02 13:47] wkurniawan07 commented on #8383
I think what @Crphang was thinking about was [hot reload during development](https://webpack.js.org/configuration/watch/), not hot reload after pulling changes, which are two different items really. Either way, it will be beneficial to have one (or both).

[2018-02-02 14:20] dabbler011 commented on #7934
@whipermr5 @VamsiSangam @damithc I suppose bug is there not only for MCQ and MSQ type questions. For instance while adding any type of question Description is filled and then Adding is cancelled, now add any type of new question Description is retained. Is this a required feature or this shall also be fixed?

[2018-02-02 15:01] manic-coder commented on #8273
Can I work on this issue? It's unclear what remains to be done. I'm a first-timer, so please guide me.

[2018-02-02 19:34] amarlearning commented on #8364
I am taking this one :)

[2018-02-02 20:06] theboywholived commented on #8366
@wkurniawan07 This is the screenshot of my `Eclipse > Preferences` option:
![screen shot 2018-02-03 at 1 32 42 am](https://user-images.githubusercontent.com/13106828/35752558-689aec8c-0882-11e8-99a5-54fc9ecb112b.png)

Anyway, I will try to edit my code in Eclipse and use the command line for starting the server.

[2018-02-03 06:12] sprea commented on #8213
Is this still open? I guess I found all of them fixed.

[2018-02-03 08:11] #8388 closed

[2018-02-03 08:12] wkurniawan07 commented on #8213
@sprea right now there are at least 6 more instances that can benefit from try-with-resources.

[2018-02-03 08:21] wkurniawan07 commented on #8364
@amarlearning, welcome back, but I'd appreciate if you can take a look at your open PRs first. If you're no longer interested in them, you can close them and work on this one. Alternatively, you may instead choose to work on the project you have abandoned long time ago: #7568.

[2018-02-03 08:33] wkurniawan07 commented on #8366
Under the "Problems" tab there, do you see anything that may indicate what the problem is? If you're using Neon and you see JS errors due to the `import` and `export` keywords, that is not a problem.

You're free to do that if all else fails.

[2018-02-03 08:44] wkurniawan07 commented on #8385
@damithc [V6.1.1](https://github.com/TEAMMATES/teammates/releases/tag/V6.1.1) has been released.

[2018-02-03 08:56] #8391 closed

[2018-02-03 10:41] damithc opened #8393 "StudentProfilePageUiTest failing on live server"
Error:
[code]

[2018-02-03 10:43] damithc commented on #8393
@tran-tien-dat can you have a look. May be related to #8323

[2018-02-03 11:00] damithc opened #8394 "AdminActivityLogPageUiTest failing against live server"
Activity log format seems to be messed up. This is what I see after running the test suite against the live server:

![image](https://user-images.githubusercontent.com/1673303/35766472-6f7d77da-0914-11e8-93c5-99ef427e7437.png)

[2018-02-03 11:01] damithc commented on #8394
@xpdavid can you help investigate?

[2018-02-03 11:08] damithc commented on #8385
Deployed. Thanks to everyone who contributed 💯

[2018-02-03 11:08] #8385 closed

[2018-02-03 13:52] xpdavid commented on #8394
@damithc I cannot reproduce the error locally :( It's better to have the HTML source code of the messed up page if possible.

[2018-02-03 15:54] #8097 closed

[2018-02-03 16:06] joanneong commented on #8364
@jimmyshephard hmm...I am afraid that the answer seems to be no. This is because the purpose of this issue is to allow for rank questions to have a style consistent with distribute points questions, but what you are suggesting will differ from the distribute points questions style.

You can refer to https://github.com/TEAMMATES/teammates/pull/8259#issuecomment-360829690 to see the current style of

[2018-02-03 16:17] wkurniawan07 commented on #8394
@damithc Does the test fail or it just does not look right? I have tried and neither of those seems to hold, both local and staging.

[2018-02-03 16:24] wkurniawan07 commented on #8393
Confirmed reproducible in staging and indeed related to #8323.

[2018-02-03 16:25] tran-tien-dat commented on #8393
I think it's because I use the wrong password for the instructor account. For local server, it does not check password that's why it wasn't detected.

[2018-02-03 20:17] jimmyshephard commented on #8364
Thanks for the clarification @joanneong , I still want to do this. Will take a look and the comment

[2018-02-03 20:31] sukanta-27 commented on #8394
Could not reproduce the error locally either.

[2018-02-03 21:04] amarlearning opened #8397 "ide-setup.md: Typo under text encoding: change HTML to XML"
In the `ide-setup.md` file, under the `Project Setup` section. I think there should be `XML` in place of `HTML`.

[screenshot]
![ide-setup md](https://user-images.githubusercontent.com/9383897/35771509-bf554c58-0953-11e8-8e62-0978d1446ef3.jpg)

[2018-02-04 02:12] damithc commented on #8394
Both. I checked the latest logs in the live server and seems to be fine. Seems to be a temporary issue. I'll reopen if it happens again.

[2018-02-04 02:12] #8394 closed

[2018-02-04 06:25] joanneong opened #8398 "Help Request: Understand how student login and masquerade mode work"
**What I was trying to do / What I need help with**
I was working on issue #8395 when I tried to understand the points calculation scheme behind contribution questions in teammates.

To this end, I did the following:
1. From the homepage, do an `Instructor Login` using `test@example.com` as the instructor email
2. Go to Search, and type `Charlie Davis`
3. See that the status is `Joined`, and that

[2018-02-04 06:53] joanneong opened #8399 "Homepage Login: allow instructor and student login with leading and trailing whitespace"
**Description of feature/enhancement**

I was testing TEAMMATES with different instructor and student email addresses when I accidentally tried to login with a valid email address but a single trailing whitespace. This redirected me to the page "Ooops! Your Google account is not known to TEAMMATES" (for student login) and "You are not authorized to view this page." (for instructor login).

I reali

[2018-02-04 07:49] damithc commented on #8399
Um, which login page are you referring to? TEAMMATES login page is handled by Google.

[2018-02-04 09:27] joanneong commented on #8399
I meant this page:

<img width="1280" alt="screen shot 2018-02-04 at 5 12 20 pm" src="https://user-images.githubusercontent.com/24493463/35776002-0214fe82-09cf-11e8-90e2-31a66db57398.png">

which can be reached by clicking on `Student Login` in the homepage's navbar:

![studentlogin](https://user-images.githubusercontent.com/24493463/35776075-9e320782-09d0-11e8-8737-40e13417f861.png)

 The same go

[2018-02-04 13:22] damithc commented on #8399
That page is just for developers only (it's only available in the dev server). In the actual app, login is handled by Google authentication service.

[2018-02-04 13:33] damithc commented on #8398
As these are dummy accounts used in the sample course, it is possible the 'joined' state is faked by the code that creates sample courses. As `charlie.d.tmms@gmail.tmt` Google account does not exist, it is not possible for such a person to have joined TEAMMATES anyway.
On a related note, it is useful to document how to use the masquerade mode. Admin can use that mode to masquerade another user by

[2018-02-04 14:53] #8399 closed

[2018-02-04 14:56] #7931 closed

[2018-02-04 15:43] joanneong commented on #8398
Ah, I see. There is actually documentation now on the masquerade mode in `development.md` (albeit a one-liner comment):

![masquerademodedocumentation](https://user-images.githubusercontent.com/24493463/35779261-fc758b50-0a04-11e8-9d5f-aa3dd2de2203.png)

So I guess it is fine. But I must admit that I did not consider the possibility that the 'Joined' state could have been hardcoded, so thank you f

[2018-02-04 15:43] #8398 closed

[2018-02-04 16:01] Shashwat-Garg commented on #7731
Hello, I am new to open source. I would like to work on this issue, but I can't find the const.es6 file.
Please direct me. :)

[2018-02-04 16:04] tshradheya commented on #7706
Search for `const.js`

[2018-02-04 16:11] Shashwat-Garg commented on #7706
@tshradheya Thanks for the quick reply. What I need to do here is add a comment in const.js about it's sort order as mentioned in the comment above, right ?

[2018-02-04 16:13] wkurniawan07 commented on #8397
Thanks for the report @amarlearning. You can submit a quick fix for this.

[2018-02-05 07:40] LiHaoTan commented on #8273
@manic-coder You should try looking for iterators that can benefit from the replacement with aggregate operations (e.g. `forEach` and `filter`).

[2018-02-05 09:00] #7085 closed

[2018-02-05 14:03] Haozhe321 opened #8403 "Instructor: copy sessions: fix inconsistency in instructions"
Given that users can only copy from one session(only radio button could be selected, "sessions" should be changed to "session".

**Steps to reproduce**
1. Login as instructor
2. Go to `Sessions` page
3. Click on "Copy from previous feedback sessions"
![image](https://user-images.githubusercontent.com/26651556/35808249-2bfad9c8-0ac0-11e8-9551-62babc655f22.png)

Resulting page, error in red box:
![i

[2018-02-05 18:23] bqnguyen94 commented on #6594
May I ask, what instructor type does `PRIVILEGES_CUSTOM` represent in `InstructorPrivilege` ? I'm going about allowing 'copy' for all instructor type in the course by adding a new privilege type, so should `PRIVILEGES_CUSTOM` be allowed to 'copy' sessions as well?

[2018-02-06 00:30] damithc commented on #6594
I'm guessing (without looking at the code) it pertains to this option:
![image](https://user-images.githubusercontent.com/1673303/35835823-e7c76f16-0b17-11e8-8819-c2e82a1f275f.png)
I could be wrong though.

[2018-02-06 07:32] Crphang opened #8405 "Instructor: FeedbackEditPage: No visibility hint when adding new question"
There is no visibility hint when adding new question on master.
![image](https://user-images.githubusercontent.com/4986717/35846714-b51a9486-0b52-11e8-9c6f-3dd86f7fa6a2.png)

Currently `InstructorFeedbackEditPageUiTest` is failing with error message _Timed out after 15 seconds waiting for text ('You can see your own feedback in the results page later on.') to be present in element found by By.id:

[2018-02-06 08:03] Crphang commented on #8405
Fixed after disabling cache. Should be due to the updating of CSS.

[2018-02-06 08:03] #8405 closed

[2018-02-06 11:25] sukanta-27 opened #8406 "InstructorFeedbackSessionActions : Session.isClosed() returns wrong value for Private sessions with No specified End Time"
**Environment:**
`master` branch

While working on #8374 I changed the condition for `isAllowedToSubmit` in `InstructorFeedbackSessionActions.java` to disable `submit` button for Closed sessions, when I found out that in case of the `Private` sessions with no set `End Time` (Like the one given below), the value of the method `isClosed()` returns `true`, where if we compare the current time with `n

[2018-02-06 12:43] #8397 closed

[2018-02-06 12:51] wkurniawan07 commented on #8406
@whipermr5 @darrenwee @tran-tien-dat this is the one I told you guys about [this method](https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/common/util/TimeHelper.java#L318-L325) being shady. Can one of you investigate and fix? I'd like to believe this is a legit bug, but don't really have the time to address this myself.

[2018-02-06 12:57] wkurniawan07 commented on #8273
Actually, this issue very specifically targets at `java.util.Iterator`, all of which have been replaced in #8274, so this issue should not be open any more.
Changing for-loops to streams whenever there is non-trivial benefit (i.e. not just for the sake of using `.forEach`) is very much welcome, but it is another issue altogether.

[2018-02-06 12:57] #8273 closed

[2018-02-06 13:04] wkurniawan07 commented on #8403
@Haozhe321 w.r.t. the screenshot, can you check what this "Copy" actually does:
- Copy all the questions but leave the setting of the new session fresh
- Copy the session in its entirety, i.e. including the setting

If it is the first case, then the header "copying a previous session" needs to be fixed. If the second case, then it's more apt to change "sessions/questions" -> "setting and questions

[2018-02-06 13:35] sukanta-27 commented on #8406
@wkurniawan07 @whipermr5 @darrenwee @tran-tien-dat
If after investigation, it is found that, this is a legit bug, then I wanted to add something to speed up the process (Even if a little bit).
As @wkurniawan07 pointed out that maybe the method `dateToCalendar` is causing the error, I wrote a code snippet to figure out if that is the case, which is provided below. (Though this is not the most beaut

[2018-02-06 14:40] tran-tien-dat commented on #8406
Thank you @sukanta-27 for reporting this bug. I notice that you insert `println` into the code a lot in order to debug. If you are using an IDE such as IntelliJ, you can use the Debug feature to stop execution at specified points and inspect the value of the variables.

Back to the issue, this is similar to  #8386, a bug caused by confusion when using the old Java time classes.

https://github.com

[2018-02-06 15:39] tran-tien-dat commented on #8406
After thinking about it again, I think this bug should be fixed independently of migrating to Java 8's time.

The bug only occurs for `endTime=null` because a valid `endTime` is in user time zone, so modifying `now` by adding user time zone offset will correctly compare it to `endTime`. However, when `endTime` is `null`, `end` is assigned current time without user time zone offset, thus resulting

[2018-02-06 16:13] sukanta-27 commented on #8406
@tran-tien-dat If given a choice, I would be happy to try my hands on this.

Regrading this, I did check if a session is private or not and based on that, enabled the submit button for all the private sessions, as doing otherwise, like checking if for a private session, the endTime is null or not and based on that, enabling the submit buttons is complicating the statement (as there are other priva

[2018-02-06 17:59] shivamtrip53 opened #8407 "Help Request : Create app on GAE"
- **Operating System:** Not Required
- **JDK Version:** Not Required
- **Eclipse  Version :** Not Required
- **Firefox Version :** Not Required

**What I was trying to do / What I need help with**
In the document "development.md"
  Can tell me exactly how to reach this step "Create your own app on GAE"? I mean do I have to pay after 12 months
![screenshot from 2018-02-06 23-16-23](https://user-ima

[2018-02-06 19:21] sukanta-27 commented on #8407
Setting up the staging server is not a mandatory task, and most of the issue do not require you to deploy the app in the staging server (unless it is explicitly mentioned in the issue itself), and most of it can be done on the dev server itself.

Although to start contributing you must complete this [task list](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md#orientatio

[2018-02-06 19:30] sukanta-27 commented on #8406
@tran-tien-dat

Almost forgot to mention, thank you for this tip.  Will surely follow it from the next time. :smile:

[2018-02-07 04:14] whipermr5 commented on #8407
It'll continue to be free after 12 months unless you're exceeding the monthly usage quotas. I believe there is a personal account type?

[2018-02-07 05:45] whipermr5 commented on #84
Linking to this issue which contains some discussion: #8362

[2018-02-07 05:49] whipermr5 commented on #8362
Actually, this can be marked as a duplicate of #6300.

[2018-02-07 05:50] whipermr5 opened #8410 "FeedbackSession: repurpose legacy timeZone field"
Right now, the double field `timeZoneDouble` is used to store the UTC offset, while the int field `timeZone` is marked as legacy and not used. This field can be repurposed for storing the time zone ID string required to unblock #84.

[2018-02-07 05:55] whipermr5 commented on #5928
We can map to the Etc/GMT+8 time zone, which is a legitimate time zone ID not affected by DST.

[2018-02-07 07:25] sukanta-27 commented on #8407
@whipermr5 There may also be a problem with using a GAE app which I came across , and that is

![screenshot 247](https://user-images.githubusercontent.com/10681755/35903417-00504d04-0bd7-11e8-9a44-1daf9a79ef1c.png)

Free account allows <= 10 queue entries
Paid account allows <= 100 queue entries.

But There is one way around this problem which @wkurniawan07 has mentioned in https://github.com/TEAM

[2018-02-07 08:35] whipermr5 commented on #8407
Yes; you need to link your credit card for the limit to be increased. I meant that they will not charge your linked credit card after 12 months, as long as your usage remains within the free quota. As he suggested, can set the spending limit to 0.

[2018-02-07 11:44] wkurniawan07 commented on #8407
Let me just get this straight: right now you need a credit card even to deploy *anything*, much less with more than 10 task queue entries, right? Reference: https://github.com/TEAMMATES/teammates/issues/6691#issuecomment-283680985

[2018-02-07 11:56] sukanta-27 commented on #8407
@wkurniawan07 Maybe that's not the case. I have an GCP account, and have deployed the teammates project to the staging server. Though I don't use the staging server as I think the project is not completely deployed because of the error stated above. (I don't have a credit card no,)

[This](http://teammates-sukanta.appspot.com/) is the link to my staging server.

And this is what my billing section

[2018-02-07 11:57] wkurniawan07 commented on #5928
@whipermr5 that's the path of least surprise. May not be the best but I guess there's not much we can do.

[2018-02-07 11:59] wkurniawan07 commented on #8407
@sukanta-27 do you happen to have this GCP account since some time before mid-2016?

[2018-02-07 12:01] sukanta-27 commented on #8407
@wkurniawan07 I created the account in GCP (Or rather used my google account to sign in) in NOV 2016, while I was following the orientation task list.

[2018-02-07 15:04] shivanshsoni commented on #8299
I am a first-timer. Can I work on this issue??

[2018-02-07 15:24] sukanta-27 opened #8411 "Instructor: Sessions: Unable to change Closing time in Private sessions"
**Environment:**
`master` branch

**Steps to reproduce:**
- Login as `Instructor`
- Go to `Sessions` or `Home`
- Create a new session as `Private` session
- After the session is created, click the `Edit` option, and change the option `Session visible from` from `Never` to `Submission opening time`
- Once the options `Submission opening time` and `Submission closing time` are visible, change the da

[2018-02-07 15:36] damithc opened #8412 "Instructor: edit session: multiple choice questions: support generating options for all other students"
Current:
A session can multiple choice questions (single answer or multiple answer) where the options can be generated from the list of all students in the course.
Suggested:
In some cases, we may want to exclude self from the list. i.e., provide another option `students (excluding self)`

![image](https://user-images.githubusercontent.com/1673303/35924955-6ae38c7a-0c5f-11e8-839e-4d48362db470.png)

[2018-02-07 17:58] shivamtrip53 commented on #8407
@whipermr5 , @wkurniawan07,  @sukanta-27,  Google has mentioned reason for why they are forcing users to enter credit card no.
Its just to **ensure** that you are **not a robot**.
![screenshot from 2018-02-07 23-23-04](https://user-images.githubusercontent.com/25117137/35932572-f75cb5de-0c5d-11e8-8972-145c73fb2e34.png)

[2018-02-07 18:06] sukanta-27 commented on #8407
@shivamtrip53  First sign into your google account. And then can you check if you can simply sign into the GCP using the `Sign In` button instead of clicking `Try It Free`

[2018-02-07 23:46] sukanta-27 opened #8414 "Address regression in Cloud SDK 188.0.0"
- **Operating System:** Windows 8.1
- **JDK Version:** 1.8
- **Eclipse / IntelliJ Version (if applicable):** Eclipse Oxygen 4.7
- **Firefox / Chrome Version (where applicable):**

**What I was trying to do / What I need help with**

While working on #8408 I pushed a commit to the PR, and the Travis CI build failed with a error. (The full error message is given below in the comments)

**Attempts to

[2018-02-07 23:48] sukanta-27 commented on #8414
**The full message :**

[code]

[2018-02-08 00:05] sukanta-27 commented on #8414
@damithc @wkurniawan07 @whipermr5

I am not very familiar with build related issues as of now, but this error message states that `Your current Cloud SDK version is: 188.0.0` and the gcloud version on my system is `179.0.0`. Can an outdated sdk be the cause of this?

[2018-02-08 01:11] LiHaoTan commented on #8299
@shivanshsoni Sure, go ahead!

[2018-02-08 01:36] damithc opened #8415 "Instructor: view results: fix IndexOutOfBoundsException"
I'm getting this error when I try to view results of an ongoing session.
[code]

[2018-02-08 01:38] damithc commented on #8415
I have several multiple-select, multiple-answers questions. In one, the options are generated based on the students in the class. In others, options are fixed.

[2018-02-08 02:19] Haozhe321 commented on #8403
@wkurniawan07 if "settings" refer to
![image](https://user-images.githubusercontent.com/26651556/35952018-ebfec99c-0cb8-11e8-8d12-8f9672d7e0b1.png)
then yes these settings(i.e. exact same opening and closing time) are copied over, together with the questions. I believe the latter change that you mentioned is applicable here. BTW, should I change to "settings" instead of "setting"?

[2018-02-08 02:36] whipermr5 commented on #8414
It seems to work now; perhaps there was a bug in the gcloud install script but it's been fixed.

[2018-02-08 03:21] damithc commented on #8415
Need to fix quite soon as I need to access results of that session.

[2018-02-08 03:25] wkurniawan07 commented on #8414
It looks like some regression occurs in Cloud SDK 188.0.0 (<https://issuetracker.google.com/issues/73044966>). I'll do a quick fix for now and monitor that issue closely.

[2018-02-08 03:56] Haozhe321 commented on #8412
I'll take a look at this. Should `FeedbackMcqQuestionDetails` and `FeedbackMcqResponseDetails` be the 2 classes I start with?

[2018-02-08 04:25] whipermr5 opened #8417 "InstructorFeedbackSessionsPageUiTest: fix malformed date in test case"
Change `2017-31-12` to `2017-12-31`.

https://github.com/TEAMMATES/teammates/blob/3de04308ea175a7e19254a86d80e5cd8f388d39a/src/test/java/teammates/test/cases/browsertests/InstructorFeedbackSessionsPageUiTest.java#L339

[2018-02-08 04:27] tshradheya commented on #8412
I had a bit of look into this. What I noticed is that, when the question is created by the instructor, the list of all students is added to the `List<String> mcqChoices`.

If we need to show all students except the giver, my solution was to remove(hide) the option of the giver while loading the feedback submission form for the user. Although this sounds more like a workaround than an actual soluti

[2018-02-08 04:27] bqnguyen94 commented on #6594
Right now the 'copy' action requires `canmodifysession` privilege. I have tried to replace it with `canviewsessioninsection`. Is this recommended or should I add a new permission, e.g. `canviewsession`?

[2018-02-08 04:28] #8414 closed

[2018-02-08 04:39] darrenwee commented on #8362
Let's close #6300 since we are documenting the migration in this issue?

[2018-02-08 05:01] darrenwee commented on #8362
@tran-tien-dat and I will mark methods as `@Deprecated` inside `TimeHelper.java` for now and replace the internal logic. We will preserve the old method's name and return type, but change the parameters as necessary (e.g. `Date` to `Instant`, etc). Then we migrate the old method's logic to use the updated method internally, i.e. the old method becomes a wrapper for the updated method. This ensures

[2018-02-08 05:01] whipermr5 commented on #8415
Seems like there's a discrepancy between `numOfMsqChoices` and `msqChoices`. Both fields are deserialised from the question metadata stored in the datastore and can possibly be inconsistent. Would it be possible to view the `FeedbackQuestion` entity of the corresponding question in the Google Cloud console? I'm interested to see what is stored in the `questionText` field that contains the metadata

[2018-02-08 05:05] whipermr5 opened #8418 "FeedbackSessionQuestionTypeTest.json: fix malformed question metadata"
Discovered while looking into https://github.com/TEAMMATES/teammates/issues/8415#issuecomment-364003271. The test data of one question is malformed (it's an MSQ question with `msqChoices` but `numOfMcqChoices` instead of `numOfMsqChoices` in the metadata):
https://github.com/TEAMMATES/teammates/blob/85faa7829f4edf19383b033e2d59825652b4b835/src/test/resources/data/FeedbackSessionQuestionTypeTest.js

[2018-02-08 05:34] xpdavid opened #8419 "AccountAttributes: Add test cases for getCopy()"
`AccountAttributesTest` does not test the method at all. Therefore, if there is any change to this method, the failure (if any) would be reflected in integration tests, which is not the correct way.

Need to add some test cases for `getCopy()` in `AccountAttributesTest`, especially when `studentProfile` is `null`.

[2018-02-08 06:34] bqnguyen94 commented on #8412
@Haozhe321 I and @tshradheya think you can work directly with `FeedbackSubmissionEditPageData`, maybe filter the `recipientOptionsForQuestion` using `StudentAttributes`.

[2018-02-08 06:44] damithc commented on #8415
The hot fix seem to have fixed the issue. I can see the results now. In any case, we might need a test to cover this case.

[2018-02-08 08:37] tshradheya commented on #8412
I tried some methods to not show the giver option and this way seemed to work.[ Pull Request](https://github.com/tshradheya/teammates/pull/2)

I haven't created new option but made changes for the `student` himself for MCQ questions only.
The changes are just to try out if it works and there are lot more changes to make( like making it work for Preview, moderation and other areas)

[2018-02-08 09:15] bqnguyen94 commented on #8415
In this method:
https://github.com/whipermr5/teammates/blob/89ecb5af8eab8e155c677b45d11e25429b350db2/src/main/java/teammates/common/datatransfer/questions/FeedbackMsqQuestionDetails.java#L112-L117
Is there any reason why `numOfMsqChoices` is explicitly set instead of being taken from the size of `msqChoices`?

[2018-02-08 12:46] nidhi98gupta commented on #2908
@damithc Apologies for the delay. I made changes to this function
`private static boolean isSanitized(int i) {`
`   return i != NSB && i != NSU;`
`}`
which is in `src/main/java/teammates/common/datatransfer/TeamEvalResult.java`
by changing it to `return i != NSB;` and making other related changes. It is working as expected.
Currently we are assigning `NA` to all the cases where response is either

[2018-02-08 14:25] sukanta-27 commented on #8411
Looking into this.

[2018-02-08 14:29] igniteeng000 commented on #8419
I am new to open source contribution and I would like to work on this.Could you please help me with the specific modules to look for the above issue?

[2018-02-08 14:31] tshradheya commented on #8419
You will have to look at the `getCopy()` method in `AccountAttributes.java`

The tests should be added in `AccountAttributesTest.java`

[2018-02-08 16:26] Haozhe321 commented on #8412
@tshradheya are you planning to work on this issue? Because there's no point for us to work on the same issue.

[2018-02-08 16:29] tshradheya commented on #8412
I haven't really done any substantial work, so I don't mind if you wanna take up this issue.

I had just done the changes cause I had been thinking about how the options could be tweaked for feedback submission and that's why I made a PR which I thought might help you if you want to work on this issue. Although I don't mind picking up this issue :P

[2018-02-08 17:34] Haozhe321 commented on #8412
I've started on this issue, so yea I would like to work on it haha. Thanks!

[2018-02-08 19:13] bqnguyen94 commented on #8418
Seems to me that no where does `FeedbackQuestionAttributes::metaData` get checked semantically when `DataBundle` is used.

[2018-02-08 23:33] tshradheya commented on #8412
Sure go ahead 👍

[2018-02-09 06:36] whipermr5 commented on #8415
Yes; that's what I was wondering too. The problematic question had an empty `msqChoices` (the options are generated based on students in the team) but `numOfMsqChoices` was set to 25.

https://help.github.com/articles/creating-a-permanent-link-to-a-code-snippet/

[2018-02-09 07:59] bqnguyen94 commented on #8415
I think it's safe to use `msqChoices.size` here instead of `numOfMsqChoices`, which was only needed in `extractQuestionDetails` to iterate through `msqChoices`. Then again, what could trigger a request with discrepancy between `numOfMsqChoices` and `msqChoices`?

[2018-02-09 08:09] whipermr5 opened #8421 "Admin: ongoing sessions list: fix missing sessions"
As discovered by @tran-tien-dat ([link](https://github.com/TEAMMATES/teammates/commit/c48ed139c973330b86d3c4e1f43f760cf4bf9c1b#r27445177)), sessions that start before the specified "from" date and end after the specified "to" date are not shown under ongoing sessions even though they are open.

[2018-02-09 08:16] whipermr5 commented on #8415
Likely a bug in the code related to generating options based on students in the team.

[2018-02-09 09:08] #8393 closed

[2018-02-09 09:13] shivamtrip53 commented on #8407
@sukanta-27 Though `Try It Free` is not a mandatory thing to do for deploying the app, but still I'm not able to deploy my app on staging server and receiving the following error when I try to run `gcloud auth login` followed by `./gradlew appengineDeployAll`.
![screenshot from 2018-02-09 14-40-23](https://user-images.githubusercontent.com/25117137/36020103-850d8aa8-0da7-11e8-9437-12ffa92f80c0.png

[2018-02-09 09:25] tshradheya commented on #8407
When using GCP for free and without putting your card details, it doesn't support `queues`( i think there is a limit of 10 which can be changed in `queue.yaml`).

I am using the similar way and get Build Failed everytime, however it has actually deployed the app and you can access it by going to the link