[2017-03-20 07:56] amarlearning commented on #6879
@xpdavid I am working on this

[2017-03-20 08:24] nikiforosbotis commented on #6815
@junhaoyap Thank you for your interest! I have already in mind that there is a deadline in the GSoC applications.

[2017-03-20 09:30] damithc commented on #6845
Will do.

[2017-03-20 10:15] damithc commented on #6847
@whipermr5 can you check PRs merged for v5.99 to see if anything in those PRs can affect this issue. I've been getting quite a few of these errors last few days but when I rolled back to v5.98 the errors stopped (I need to monitor a while longer to be sure though).

[2017-03-20 10:39] #6457 closed

[2017-03-20 10:51] JosephineKwa commented on #6456
@nikiforosbotis yes it is still available, go ahead and fix it.

[2017-03-20 11:51] damithc commented on #6878
@amarlearning what specific questions do you have about the project idea? Do you have an idea about the current state of the 'Student enrollment' feature?

[2017-03-20 12:13] damithc opened #6887 "Rubric questions: show summary excluding self-evaluation"
**Feature**: Instructor/student viewing results of a rubric question

**Current state**: stats shown in summary table includes self ratings
Example (from instructor side):
![image](https://cloud.githubusercontent.com/assets/1673303/24099061/85d1de58-0da8-11e7-8a59-9aca83a46e2d.png)

**Suggestion**: provide a way to view stats excluding self ratings as well

**Justification**: some users have reque

[2017-03-20 12:30] amarlearning commented on #6878
@damithc I saw the `video tour` in which it shows how students are being enrolled. The instructor has the copy the data from the excel sheet and then he/she has to paste that data into the textbox.
Please let me know if I am missing out on anything?

I have two question related to this project:

1. Features to consider
2. Any specific language or framework for this project?

Kind Regards.

[2017-03-20 12:34] thenaesh commented on #6881
Hi Vineet, please read our developer guides, starting [here](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md). That will get you started with making a new contributor self-introduction. Follow the links within that page wherever necessary, and most importantly, follow all instructions to the letter (especially regarding tooling versions).

After that, you may proceed t

[2017-03-20 14:06] damithc commented on #6878
@amarlearning

Yes, that's right. You can try it yourself after setting up a local copy of TEAMMATES.

Actually, we expect you to 'propose' answers to these questions in your proposal. :-)

[2017-03-20 14:24] #6847 closed

[2017-03-20 14:46] whipermr5 opened #6889 "Fix infinite redirects when serving unknown URLs"
**Environment**

Live server at `V5.98`

**Steps to reproduce**

Visit http://teammatesv4.appspot.com/abc

**Expected behaviour**

Fail gracefully with a 404 status code and error page

**Actual behaviour**

![screen shot 2017-03-20 at 10 42 45 pm](https://cloud.githubusercontent.com/assets/6811428/24105147/fbc1d49a-0dbe-11e7-855d-1391e79a1496.png)

[2017-03-20 16:09] whipermr5 opened #6890 "Footer text "Hosted on Google App Engine" cut off"
When viewing full width in Chrome on my 13" Macbook Pro, `Engine` is hidden as it wraps to the next line:
![screen shot 2017-03-20 at 10 48 27 pm copy](https://cloud.githubusercontent.com/assets/6811428/24105556/33edb2ac-0dc0-11e7-995b-2fd0fc6c6ed9.png)

When resized slightly smaller, only `Google` shows:
![screen shot 2017-03-21 at 12 02 49 am copy](https://cloud.githubusercontent.com/assets/6811

[2017-03-20 16:49] jimmyshephard commented on #6866
Thank you @Neurrone and @junhaoyap

[2017-03-20 17:16] leeyimin opened #6891 "Remove HTML sanitization in StudentProfileAttributes"
Removing HTML sanitization in sanitizeForSaving in StudentProfileAttributes as mentioned in #4588

[2017-03-20 17:37] wkurniawan07 opened #6892 "Add more Javadoc to the code base"
As per title. Continuation of #6582.

[2017-03-20 17:40] sanket0354 opened #6893 "Google Summer of Code Question"
***** INFORMATION ON GOOGLE SUMMER OF CODE PROJECT IDEAS *****
I want to have a free account, as i am planning to submit a proposal as part of Google Summer of Code, so just going through the Web application in understanding its basic features and get an idea of what features if added will be useful for the application to grow. I have already submitted a free account request.

[2017-03-20 18:09] amarlearning commented on #6890
@whipermr5 I would like to work on this

[2017-03-20 19:15] wkurniawan07 commented on #6867
I just read the process document again and guess what, [it actually is there](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#updating-the-pr).

I wouldn't mind making it more obvious in any way, though.

[2017-03-20 22:34] mshehrozsajjad opened #6899 "New contributor self intro: Muhammad Shehroz Sajjad"
a. **Link to my app :**   https://teammates-mshehroz.appspot.com
b. **Link to my fork :**   https://github.com/mshehrozsajjad/teammates

c. **Screenshot of the change Idid (as seen on the UI) :**

![teammates](https://cloud.githubusercontent.com/assets/19376792/24124362/2e2263c0-0de5-11e7-8625-c81d4cac1563.JPG)

d.**Short Introduction :**
     Name: Muhammad Shehroz Sajjad
     Intro: Hi, I am cur

[2017-03-20 23:02] mshehrozsajjad opened #6900 "Admin: home page: fix data row overflow"
**Environment**
Local Dev Server

**Steps to reproduce**
When we add details of a new instructor and get response row is overflowed.
![teammates](https://cloud.githubusercontent.com/assets/19376792/24125516/e396807e-0dea-11e7-89bd-2789bbb863e3.JPG)

**Expected behaviour**
It should be inside the table.

**Actual behaviour**
Data is overflowing out of table.

I want to work on this issue.

[2017-03-21 00:30] amarlearning opened #6901 "New Feature: Video should be played on the same page"
Instead of pointing the URL to youtube, we can design an interface via javascript through which video can be played on the same page. Everything at the back goes dull and video comes up, something like this:

![screenshot from 2017-03-21 05-58-46](https://cloud.githubusercontent.com/assets/9383897/24127557/8d34b4d8-0dfb-11e7-9b2e-bf56decb219c.png)

Let me know your thoughts on this ?

[2017-03-21 00:34] samsontmr commented on #6893
@sanket0354 you can actually set up the dev server locally and explore to your heart's content :)

[2017-03-21 02:12] nockc opened #6902 "Add AdminExceptionTestActionTest"
Function testExecuteAndPostProcess() is missing in AdminExceptionTestActionTest.java file.
Verify each exception in thrown correctly from execute function in teammates.ui.controller.adminexceptiontestaction

[2017-03-21 02:17] sanket0354 commented on #6893
Thanks for the quick reply. Can you help me locate a doc or something towards dev-env setup. I am really looking forward towards this project :)

[2017-03-21 02:51] damithc commented on #6890
@whipermr5 can this be a d.FirstTimer issue?

[2017-03-21 02:51] Neurrone commented on #6899
Hi @mshehrozsajjad, welcome to TEAMMATES!

You can start by fixing some [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issues, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

If you're planning to apply for GSoC, let us know, and check out our [instructio

[2017-03-21 03:02] damithc opened #6903 "Checking response rate of an empty course gives an error"
v5.99

Steps:
* Go to instructor home page
* Click 'Show' of a session that doesn't have any students

Actual:
Error message shown (see example)
![image](https://cloud.githubusercontent.com/assets/1673303/24130805/9fc24f82-0e25-11e7-904d-cee10270c90d.png)

Expected:
Show `0/0` ?

[2017-03-21 03:19] damithc commented on #6893
@sanket0354 either of these links in our README should lead you to documentation on how to set up TEAMMATES locally.

![image](https://cloud.githubusercontent.com/assets/1673303/24131213/2fab5d26-0e28-11e7-9ab0-10846453e8ff.png)

[2017-03-21 03:47] sanket0354 commented on #6893
Thanks. I appreciate you quick reply! :) I will let you know once i set it up and if i have any questions or problems concerning the set up.

[2017-03-21 04:22] #6638 closed

[2017-03-21 04:35] mshehrozsajjad commented on #6899
Yes, I am planning to apply for  GSoC.

[2017-03-21 05:02] wkurniawan07 opened #6904 "Add checklist of things to do when submitting PR in the template"
Instead of simply:
[code]
We can list down things to check before submitting a PR.

Also the first sentence does not sound nice because it seems like we're rejecting over something as trivial as naming convention (violations can be fixed after opening the PR).

[2017-03-21 05:03] sanket0354 commented on #6893
That was easy to setup. Clean Documentation and setup :)
Now I have the app up and running.

So one question, i am trying to login as instructor,

I have this in test.properties,
**test.instructor.account=teammates.coord
test.instructor.password=anypassword**

i tried using the account name as email but it says user not found, will the username be something else ?

[2017-03-21 06:06] samsontmr opened #6906 "Reorganize dev docs"
As brought up by @li-kai and a few of us during our last discussion, the files in the `docs` folder (in fact, possibly even the sections within the files themselves) need to be reorganised for better navigability. We will need do this soon so we can better manage the influx of potential GSoC applicants.

On a somewhat related note, we should probably also explicitly lay down standards for commit m

[2017-03-21 06:09] samsontmr commented on #6867
Appropriate FirstTimers issue? :P

[2017-03-21 06:41] li-kai commented on #6864
@wkurniawan07 Right now I think this is an issue on mobile because the inner and outer navigations are not consistent. Any opinions?

[2017-03-21 08:19] leeyimin opened #6909 "Extract checking of page result destination in action tests as a method"
Many action tests does checks for page result destination to see if it matches the expected ViewUri,  expected user and error parameters.
For example in InstructorCourseDetailsPageActionTest, lines 36 and 37.
[code]
This can be extracted as a util method in BaseActionTest so that each assertion do not have to construct the entire expected destination string themselves. All action tests should be r

[2017-03-21 08:43] #6625 closed

[2017-03-21 08:57] whipermr5 commented on #6890
@damithc I'm okay, but that would mean @amarlearning cannot work on it. @amarlearning can let others work on this?

[2017-03-21 09:10] amarlearning commented on #6890
@whipermr5 @damithc yeah, sure! 😊

[2017-03-21 10:15] thenaesh commented on #6870
Yep, can close.

[2017-03-21 10:15] #6870 closed

[2017-03-21 11:40] AnaghHegde commented on #6893
I think [this](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance) will help you.

[2017-03-21 13:31] mshehrozsajjad commented on #6890
@whipermr5  Can I work on this?

[2017-03-21 14:12] sanket0354 commented on #6893
Everything is working fine :)
Can you please help me getting started through a small issue that i can solve before submitting the proposal that will help me increase my chance in getting the proposal accepted?

[2017-03-21 14:20] AnaghHegde commented on #6893
For GSOC please follow our [Instructions for GSoC Applicants
](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true) page. For contribution first do the [`d.FirstTimers`](https://github.com/TEAMMATES/teammates/labels/d.FirstTimers) but only one then go with the [`d.contributor`](https://github.com/TEAMMATES/teammates/labels/d.Contributors).

[2017-03-22 03:51] wkk91193 opened #6912 "New Contributor Self-Intro: Kumaranath Fernando"
Hi!

I'm a third-year student of Informatics Institute of Technology Sri Lanka.I went through the list of ideas for the year and  is interested in  contributing to the  project 'Performance Hero'.

I browsed through [Contributor Orientation Guide ](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md), forked and cloned the repository.  I was wondering  as  to  where I coul

[2017-03-22 04:06] Neurrone commented on #6912
Hi @wkk91193, welcome to TEAMMATES!

The [storage section of the design document](https://github.com/TEAMMATES/teammates/blob/master/docs/design.md#storage-component) might be useful.

You can start by fixing some [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issues, and then move on to [d.Contributors](https://github.com/TEAMMATES/team

[2017-03-22 05:13] VamsiSangam commented on #6658
@wkurniawan07 and @junhaoyap , just letting you know that I'm interested to work with the Questions+ project. I'll need a little more time before I can submit the proposal. :smile:

[2017-03-22 06:21] #6746 closed

[2017-03-22 06:55] nikiforosbotis commented on #6903
@damithc Can I take over that issue? I have already made an issue labeled d.FirstTimers with success and I want to move on to the next level.

[2017-03-22 06:57] damithc commented on #6903
Sure, go ahead @nikiforosbotis

[2017-03-22 07:00] damithc commented on #6847
Sorry @whipermr5 ignore this one. I found that persistence delay remained `0` even when I thought I reverted it back to previous value. So the problem should go away after this PR.

[2017-03-22 09:41] amarlearning commented on #6744
@damithc Not able to recreate that error. working fine in my case.

[2017-03-22 10:01] damithc commented on #6744
I updated the issue description. The original could have been misleading. Try again. It's not an error, just a UX quirk that confuses some users.

[2017-03-22 10:09] AnamikaD opened #6913 "GSoC 2017: Usability Hero"
Is this project still available? If yes,  how may I contribute to it? Who are the mentors?

[2017-03-22 10:11] AnamikaD commented on #6704
Hi,
Is this project still available? #6913

[2017-03-22 10:30] wkurniawan07 opened #6914 "Release V5.100"
Scheduled for Mar 22, 2017, 11.59pm SGT.

[2017-03-22 10:31] damithc commented on #6913
All projects available until they are assigned to a student, which happens during GSoC selection period.

You can submit a proposal for it.

If you have questions about the project, you can ask here.

[2017-03-22 10:31] wkurniawan07 opened #6915 "Update about.jsp with contributors from V5.100"
As per title.

[2017-03-22 11:09] AnamikaD commented on #6913
@damithc Thank you!

[2017-03-22 11:26] #6892 closed

[2017-03-22 12:20] leeyimin opened #6917 "Running data migration script for sanitized data in AdminEmailAttributes"
In fixing #6625, html sanitization of data in AdminEmailAttributes before saving is removed and data is sanitized when displayed. Current data of AdminEmailAttributes in database needs to be desanitized so that it will be displayed and sent out correctly, which can be done by running DataMigrationForSanitizedDataInAdminEmailAttributes.java.

[2017-03-22 13:02] #6890 closed

[2017-03-22 13:13] amarlearning commented on #6744
@damithc I think that behavior is totally fine because as soon as the user hovers on the first level option, the second level option appears.

As you said in the issue description

I don't think anybody can click on the first level option without hovering it, and if they hovers they get to see the second level option. I think no change is required in this case.

Let me know your views on that

[2017-03-22 13:35] nikiforosbotis commented on #6903
Dear @damithc
I tried to see the problem that you refer to in my dev server but (when followed the instructions) the result I got was this:
![a](https://cloud.githubusercontent.com/assets/9116253/24200203/a5806534-0f0c-11e7-95a2-9ec2a92e4b94.png)

which is the correct state. Does this problem appear only on the web application and when running locally does not exist? Or has it stopped being happen

[2017-03-22 14:01] leeyimin opened #6919 "Add one step setting configuration at IntelliJ"
Reported by @jujojujoju in #6918

**Environment**

MAC-OSX 10.12.3
IntelliJ IDEA 2016.3.5
JRE: 1.8.0_112-release-408-b6 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
JDK: 1.7.021

Local Dev Server

appengineVersion = "1.9.27"
checkstyleVersion = "6.19"
pmdVersion = "5.5.4"
findbugsVersion = "3.0.1"

'master' branch at commit 1afe02f

A DESCRIPTION OF THE PROBLEM :
running dev server erro

[2017-03-22 14:15] leeyimin commented on #6919
@samsontmr I remember having to do this for my first setup. Was it the same for you?

[2017-03-22 14:17] samsontmr commented on #6919
Strangely, mine worked without needing to do this.

[2017-03-22 14:26] damithc commented on #6903
I noticed this behavior in a course of an actual user.  But I can't reproduce this by myself. The user has added students to the course since then, so I cannot reproduce it using that course either.
Let's close this for now. I'll reopen if it crops up again.

[2017-03-22 14:26] #6903 closed

[2017-03-22 14:26] damithc commented on #6903
@nikiforosbotis Thanks for investigating by the way. 👍

[2017-03-22 14:31] nikiforosbotis commented on #6903
@damithc I would just like to find the bug and correct it. It is not a problem. If you notice that error again, please let me know in order to fix it.

[2017-03-22 14:33] #6456 closed

[2017-03-22 14:39] jujojujoju commented on #6919
Okay, I understand how it works now. Appreciated.

[2017-03-22 14:58] leeyimin commented on #6919
![image](https://cloud.githubusercontent.com/assets/6365864/24204280/eb351980-0f52-11e7-8c0f-212614aa7aff.png)
Encountered the same issue when setting up with fresh copy from zip.

[2017-03-22 15:37] damithc commented on #6744
That's what I thought too, but some users got confused by it (perhaps they think clicking is compulsory, as was the case in older menu systems). No harm fixing it if it can be done without a lot of effort.

[2017-03-22 15:46] amarlearning commented on #6744
@damithc If you have any idea on "How to fix that". Let me know, I will do that! :smile:

[2017-03-22 16:08] damithc commented on #6744
How to fix In the code? I have no idea.
In terms of UX, we can just ignore clicks on the first level menu.

[2017-03-22 16:16] #6833 closed

[2017-03-22 16:21] leeyimin commented on #6919
@samsontmr Should this be moved to troubleshooting guide instead?

[2017-03-22 16:25] #6826 closed

[2017-03-22 16:26] samsontmr commented on #6919
Yes that's a good idea 👍

[2017-03-22 16:37] #6915 closed

[2017-03-22 16:39] leeyimin opened #6920 "Numbering issue in troubleshooting-guide.md"
![image](https://cloud.githubusercontent.com/assets/6365864/24209157/7968d928-0f60-11e7-925e-da57830517c8.png)
Sections [Common setup errors and solutions](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md#common-setup-errors-and-solutions) and [Common test errors and solutions](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md#common-t

[2017-03-22 16:42] wkurniawan07 commented on #6920
@leeyimin, you may want to investigate and escalate the issue to some other documentation files as well. This is a result of a tinker from GitHub's side: https://github.com/blog/2333-a-formal-spec-for-github-flavored-markdown.

[2017-03-22 16:44] whipermr5 opened #6921 "Skip CI for changes confined to IDE launch configurations and settings files"
Changes confined to files in the `.templates` directory do not affect the build and can be skipped in Travis CI and AppVeyor. Refer to #6432 and #6321.

[2017-03-22 16:45] #6712 closed

[2017-03-22 17:45] wkurniawan07 commented on #6914
Release 249

Code Contributions from: @Dartteon, @bmthanki, @jimmyshephard, @LIUJIAHAOCS, @whipermr5, @JoshuaClark311, @miguelarauj1o, @ablyx, @natashagandhi, @nikiforosbotis, @saitj99, @samsontmr, @mshehrozsajjad, @shrut1996, @VamsiSangam, @wkurniawan07, @xpdavid, @leeyimin
Review Contributions from: @damithc, @Neurrone, @whipermr5, @JosephineKwa, @junhaoyap, @ablyx, @samsontmr, @wkurniawan07, @x

[2017-03-23 04:25] ablyx opened #6923 "Batch add documents"
Currently `AdminInstructorAccountAddAction` is adding documents one at a time. [Batching puts](https://cloud.google.com/appengine/docs/standard/java/javadoc/com/google/appengine/api/search/Index.html#put-java.lang.Iterable-) is [more efficient than adding documents one at a time](https://cloud.google.com/appengine/docs/standard/java/search/#Java_Putting_documents_in_an_index)

[2017-03-23 04:40] ablyx opened #6924 "InstructorFeedbackResultsDownloadActionTest have unnecessary duplications"
There seems to have unnecessary duplication among the `verifyFileContent` methods that can be refactored to make it clearer.

[2017-03-23 04:50] boxin-yang opened #6925 "Remove ERROR_NULL_PARAMETER in Logic.java"
**Description**
Currently ERROR_NULL_PARAMETER is used as the String in assertNotNull(String, Object) , which can be substituted  by assertNotNull(Object). There was a TODO left to delete all ERROR_NULL_PARAMETER instance.

**Justification**
The string ERROR_NULL_PARAMETER = "The supplied parameter was null\n" does not supply more information about the error. Should be removed to clean up the code

[2017-03-23 08:06] nikiforosbotis commented on #2515
@LowWeiLin Can I take over that?

[2017-03-23 08:11] nikiforosbotis commented on #588
@damithc I would like to work on that.

[2017-03-23 08:17] nikiforosbotis commented on #6901
@amarlearning I agree with that. I had noticed it as well but I did not open an issue. Do you want me to have a try?

[2017-03-23 09:06] LowWeiLin commented on #2515
Sure =)

[2017-03-23 09:33] nikiforosbotis commented on #2515
Thank you!
In order to better understand the issue, is this the problem we are looking to solve?
![a](https://cloud.githubusercontent.com/assets/9116253/24241064/ec68ec44-0fb3-11e7-9880-d6889487241d.png)
How can I see which instructor is visible to a student or not?

Thanks @LowWeiLin

[2017-03-23 09:44] nikiforosbotis commented on #2676
Dear @damithc : I am interested in that issue but I am not sure that I have correctly understood what you want. I follow the advice that you gave to the guy above, in order to explain me better.

This is the screenshot of the corresponding web page:
![a](https://cloud.githubusercontent.com/assets/9116253/24241596/9e0d1bb8-0fb5-11e7-81b7-d46929f4eb2c.png)

And this is the one of the downloaded resu

[2017-03-23 09:49] damithc commented on #6901
Hmmm, it can be nice but not sure if there is a big benefit to doing so. Perhaps our efforts are better spent on improving higher-impact areas, such as user documentation?

[2017-03-23 09:55] nikiforosbotis commented on #6901
@damithc This is the results I take when I press "Video Tour":
![a](https://cloud.githubusercontent.com/assets/9116253/24242139/259c23d4-0fb7-11e7-8cb9-4b2564366b51.png)

[2017-03-23 10:01] damithc commented on #2515
@nikiforosbotis

![image](https://cloud.githubusercontent.com/assets/1673303/24242226/1f1f4546-0ff2-11e7-9b47-2f86721d6b10.png)

We want to ensure at least one instructor in the course has this option ticked.

[2017-03-23 10:04] damithc commented on #2676
@nikiforosbotis
This issue is about 'constant sum' type questions (i.e. divide a fixed number of points among recipients). The question shown in your screen shot is of type 'team contribution'.

[2017-03-23 11:14] ablyx opened #6929 "Move putDocument to Task Queue in InstructorStudentCommentAddAction"
Try to see if putDocument can be moved to Task Queue. If this succeeds, we can increase the retry count mentioned in #6851, and do the same for the putDocument method in other action classes.

[2017-03-23 15:22] Dartteon commented on #6889
Is this bug able to be replicated on localhost? Somehow, I just get redirected to Error 404 page upon invalid URLs. (I'm on latest master)

[2017-03-23 16:05] wkk91193 opened #6931 "Benchmarking mechanism for the JDO backend"
I'm keen to know if there 's a benchmarking mechanism already in place for the JDO backend? since this could help me in planning the proposal for "Performance hero" project.

Thanks in advance

[2017-03-23 16:41] whipermr5 commented on #6889
Need staging server to replicate; it seems like an issue with GAE's default handler servlet.

[2017-03-23 16:54] AnaghHegde opened #6932 "Error while enrolling student: The team ID should be unique"
I was trying something and i noticed this. I used the data given in the xl sheet.
![screenshot 89](https://cloud.githubusercontent.com/assets/12005551/24259430/dba9ce88-1016-11e7-8a10-1ee345e7dd8b.png)

And when i change the Team id then
![screenshot 90](https://cloud.githubusercontent.com/assets/12005551/24259610/644c3596-1017-11e7-8e38-ea685f4d6ccc.png)

Later i used a different data and i got t

[2017-03-23 17:55] wkurniawan07 commented on #6932
- First and second screenshots: Teams named "Team 1", "Team 2", "Team 3" might have already existed in some other section in that course. Take note that the error message has specified it clearly: that the team ID should be **unique across the entire course** and **a team name cannot be spread across multiple sections**.
- Third screenshot: Take a look at your first column. Very likely you're miss

[2017-03-23 17:59] wkurniawan07 commented on #6846
Does this error still persist?

[2017-03-23 17:59] wkurniawan07 commented on #6864
@li-kai I have no strong opinion on this. You can have your say.

[2017-03-24 00:04] AnaghHegde commented on #6846
Yes. It still exists.

[2017-03-24 00:24] AnaghHegde commented on #6932
I will look into it.

I know that but i am talking about the error message. It should give message saying that `Section` header is missing. I also tried with other headers and i am getting proper error messages.

[2017-03-24 00:30] AnaghHegde commented on #6932
Missing Team
![captureteam](https://cloud.githubusercontent.com/assets/12005551/24275646/0828d234-1057-11e7-87cb-3f830818e8e5.PNG)

Missing Email
![captureemail](https://cloud.githubusercontent.com/assets/12005551/24275656/17b72b2e-1057-11e7-930f-0b3f529529e1.PNG)

Missing Name
![capture1](https://cloud.githubusercontent.com/assets/12005551/24275661/1e874b14-1057-11e7-8509-5fcbae0a7dc5.PNG)

[2017-03-24 04:50] damithc opened #6934 "InstructorCourseDetailsPageUiTest failing on live server"
v5.100

Failing at line 246

![image](https://cloud.githubusercontent.com/assets/1673303/24280989/1a26be90-1090-11e7-8597-2c5383ab7ddc.png)

![image](https://cloud.githubusercontent.com/assets/1673303/24281034/5c08d9ce-1090-11e7-9bf3-be17b47d5565.png)

[2017-03-24 04:56] damithc opened #6935 "AllJsTests failing on the live server"
v5.100
21 cases fail

![image](https://cloud.githubusercontent.com/assets/1673303/24281144/3eee5b56-1091-11e7-8d55-a13bc94c99b3.png)

[2017-03-24 04:57] damithc commented on #6935
@thenaesh @li-kai @wkurniawan07

[2017-03-24 05:00] damithc commented on #6934
Failing after multiple tries.

[2017-03-24 05:24] wkurniawan07 commented on #6935
Does this persist after a few runs?

[2017-03-24 05:38] damithc commented on #6935
Yes, tried many times using eclipse and intellij. I'm using FF38, if that has any relevance.

[2017-03-24 05:49] damithc commented on #6931
Do don't have any performance/scalability benchmarks for the backend at the moment.
On a related note, pay attention to given priority values in the project ideas list. Higher priority project ideas are more likely to be chosen compare to lower priority ones, all other things being equal.

[2017-03-24 05:58] damithc commented on #6935
Passes on dev server using the same FF38.

[2017-03-24 06:02] wkurniawan07 commented on #6935
Can the same test be attempted at V5.99? I managed to reproduce it even as far back as V5.98.

It seems like something was changed in the live server that the coverage library is not allowed to read the production files anymore.

[2017-03-24 06:08] damithc commented on #6935
Yes, fails at v5.99 too.

[2017-03-24 09:59] wkurniawan07 commented on #6935
Can try at V5.95 or anything that's further back? I'm pretty sure the problem exists but need to verify.

[2017-03-24 10:15] li-kai commented on #6864
@amarlearning Go ahead and make them left aligned. :D

[2017-03-24 11:00] saching97 opened #6936 "New Contributor Self-Intro: Sachin Gopal"
- **Link to my app:** http://teammates-sachin.appspot.com/
- **Link to my fork:** https://github.com/saching97/teammates/tree/tinker

**Screenshot of changes made (as seen on the UI)**
![screenshot](https://cloud.githubusercontent.com/assets/24409931/24291364/9e3fd7ac-10ae-11e7-9c0f-305482fe7661.JPG)
I have tried to make the layout more easy on the eye and more streamlined. Comments are highly wel

[2017-03-24 11:05] Neurrone commented on #6936
Hi @saching97, welcome to TEAMMATES!

You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue to become familiar with our workflow, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

If you're planning to apply for GSoC, let us know, a

[2017-03-24 12:27] damithc commented on #6935
Passes at v5.95

[2017-03-24 14:48] wkurniawan07 commented on #6932
There is no requirement that the first column must be "Section". Things like `Team | Email | Section`, `Email | Comments | Section | Team`, and all sorts of variations are acceptable.
However, the missing column cases for "team", "email", and "name" are different because they are required fields for enrolling students. A missing section is acceptable; enrolling a team without section will simply r

[2017-03-24 17:12] saching97 commented on #6936
Thanks a lot @Neurrone ! I will be moving to those soon and yes, I am planning to apply for GSoC

[2017-03-24 22:10] VamsiSangam opened #6939 "Message : Feedback for GSoC propsal draft"
This is to notify that I have shared my GSoC proposal draft with the organization. Please give feedback as soon as possible. Please let me know if you have any issues in viewing the draft.

[2017-03-25 00:46] wkurniawan07 commented on #6935
As it turns out in V5.95 all JS tests are done via local file. So the earliest trace of this strange failure should be from V5.96 which I also have confirmed.
This should not be a great concern (at most one can just remove the Blanket library).

[2017-03-25 00:50] #6875 closed

[2017-03-25 01:05] #6772 closed

[2017-03-25 01:05] #6773 closed

[2017-03-25 01:05] #6766 closed

[2017-03-25 01:05] #6771 closed

[2017-03-25 01:05] #6785 closed

[2017-03-25 01:05] #6811 closed

[2017-03-25 01:05] #6819 closed

[2017-03-25 01:05] #6831 closed

[2017-03-25 01:36] damithc commented on #6935
OK, i'll ignore this failure for the purpose of deploying v5.100

[2017-03-25 01:38] damithc commented on #6934
Seems like we have a case of status messages leaking between requests.

[2017-03-25 02:12] #6879 closed

[2017-03-25 03:24] Neurrone commented on #6586
Closing due to inactivity, and also because this was fixed in https://github.com/TEAMMATES/teammates/pull/6937#pullrequestreview-28935205

[2017-03-25 03:59] #6586 closed

[2017-03-25 05:51] wkurniawan07 commented on #6934
Related to #2620?

[2017-03-25 06:08] Neurrone opened #6940 "Enforce EsLint's no-use-before-define"
Update js and turn on EsLint's no-use-before-define rule.

[2017-03-25 06:09] damithc commented on #6934
Could be. This test case seem to be able to reproduce it reliably.

[2017-03-25 06:34] damithc opened #6941 "Discarded issue"
discarded issue

[2017-03-25 06:53] #6941 closed

[2017-03-25 08:04] wkk91193 opened #6942 "Related to GSOC idea "Coverage hero (Java)""
Hi!
Are there existing tools used in development for measuring test coverage,static code analysis and test profiling so forth..
This is in order to get rough idea of the current context.

Regards,
Kumaranath

[2017-03-25 08:14] damithc commented on #6942
:-)
![image](https://cloud.githubusercontent.com/assets/1673303/24320734/f78ae0e6-1175-11e7-9e08-dcc743336602.png)

[2017-03-25 08:21] wkk91193 opened #6943 "Clarification: TeamMates contribution before deadline"
Hi!
I've read through the contributor orientation guide, Just to clarify, is it mandatory to fix issues before GSOC application submission deadline?

Regards,
Kumaranath Fernando

[2017-03-25 08:35] damithc commented on #6943
@wkk91193 it's optional, as given [here](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true)

[2017-03-25 13:56] jujojujoju opened #6944 "New contributor self intro : Cho Joo Yeong"
a) link to your app :
b) link to your fork : https://github.com/jujojujoju/teammates/tree/tinker

c) a screenshot of the change you did (as seen on the UI)

Before :

![image](https://cloud.githubusercontent.com/assets/23520179/24322181/ab00ebfe-11a1-11e7-9977-d7ae7ba97cbb.png)

In ipad

![image](https://cloud.githubusercontent.com/assets/23520179/24322194/fc14cace-11a1-11e7-876a-03f1db11e474.png)

[2017-03-25 14:16] wkk91193 opened #6945 "Documentation for existing testing process"
Hi!
As of now, I've browsed through the [design doc ](https://github.com/TEAMMATES/teammates/blob/master/docs/design.md),  [Documentation For Developers ](https://github.com/TEAMMATES/teammates/tree/master/docs). However, I could not find detailed information on Test driver Component. Is there any existing documentation on regard?

Any help would be highly appreciated!!. Thanks!

Regards,
Kumarana

[2017-03-25 14:21] leeyimin commented on #6944
Hi @jujojujoju! Welcome to TEAMMATES.
Do take a look at the [instructions for GSoC applications](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true) and the [project ideas](https://docs.google.com/document/d/1fAvYvQr0E93OsZgyneaXGX0jaMA-zptTIxqLn83xwN0/pub?embedded=true)!
You may also want to look at [d.Contributors](https://github.com/TEAMMATES/teamm

[2017-03-25 14:44] wkk91193 commented on #6945
Perhaps, even details on TestNG framework/Test suite would very much helpful

[2017-03-25 15:27] jimmyshephard commented on #6448
Will start looking into this

[2017-03-25 19:50] saching97 commented on #6920
@leeyimin @wkurniawan07  As far as I can see, this problem also exists in Steps 2 and 3 of Setting Up ([https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md](url)), while the other documents remain unaffected. I would like to take this issue up as a "FirstTimer".

[2017-03-25 20:24] amarlearning commented on #6878
@damithc Submitted my draft proposal on the GSoC site. Please review it.

[2017-03-26 02:48] damithc commented on #6878
@amarlearning Comments added to the proposal.

[2017-03-26 03:10] chanduherath opened #6946 "New Contributor Self-Intro: Chandu Herath"
- **Link to my app:**  https://teammates-chandu.appspot.com
- **Link to my fork:**  https://github.com/chanduherath/teammates

**Screenshot of changes made (as seen on the UI)**

![teammatesadiminhomepage](https://cloud.githubusercontent.com/assets/12373517/24328148/7f338294-11ff-11e7-9249-723dc7d57b82.png)

**Short self-introduction**

I am an Chandu Herath, an undergraduate from Department of Co

[2017-03-26 03:13] samsontmr commented on #6946
Hi @chanduherath , welcome to TEAMMATES! If you have already read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true), you can start [here](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md).

[2017-03-26 05:09] damithc commented on #6939
@VamsiSangam Comments added to the proposal.

[2017-03-26 06:55] amarlearning commented on #6878
@damithc Thank you for the response  :smile:
I am not getting free time due to my exams so I am not sure about my another proposal. But I'll try to submit proposal for `Coverage Hero (JavaScript)`

Kind Regards

[2017-03-26 09:10] jujojujoju commented on #6944
Thank you!

[2017-03-26 09:19] #6925 closed

[2017-03-26 11:36] wkk91193 opened #6947 "Documentation for existing testing process"
Hi!
As of now, I've browsed through the design doc , Documentation For Developers . However, I could not find detailed information on Test driver Component or on TestNG framework/Test suite. Is there any existing documentation on regard?

Any help would be highly appreciated!!. Thanks!

Regards,
Kumaranath Fernando

[2017-03-26 11:39] samsontmr commented on #6947
Please refrain from creating duplicate issues.

[2017-03-26 11:39] #6947 closed

[2017-03-26 11:40] LimeTheCoder commented on #6939
@damithc Hey, could you also check my proposal too;)

[2017-03-26 14:05] boxin-yang opened #6948 "Create a walk through tutorial for frontend feature changes"
**Description of feature/enhancement**
I would like to include a walkthrough tutorial for changes I made in my [PR](https://github.com/TEAMMATES/teammates/pull/6608) to help new contributors to understand the process they would expect should they work on frontend features.

**Justification**
I get this idea from the tutorial for another OSS [Zulip](http://zulip.readthedocs.io/en/latest/new-feature

[2017-03-26 19:42] shilpi0527 opened #6949 "query regarding the performance hero project"
Performance hero is dealing mainly with the sql query optimization.Using jsp/servlet we can build a small project and can use optimized sql queries
So how this would proceed since sql queries would be at the backend

[2017-03-26 22:13] s0lidarity commented on #6924
Hey, I'm new as an open source contributor, but I'd like to work on this issue. How do I go about helping?

[2017-03-27 02:30] dingliheng opened #6950 "New Contributor Self-Intro: Liheng Ding"
a) Link to my app: http://www.connexus-141219.appspot.com/
b) Link to my fork: https://github.com/dingliheng/teammates/tree/tinker

c) Screenshot of changes made (as seen on the UI):
**I have modified the login buttons for the navigation bar using bootstrap button styles.**
Before:
<img width="1228" alt="screen shot 2017-03-26 at 9 06 48 pm" src="https://cloud.githubusercontent.com/assets/14024451

[2017-03-27 08:59] ablyx commented on #6924
You can look at the file `InstructorFeedbackResultsDownloadActionTest.java` and see if you can do any refactoring for the `verifyFileContent` methods.

[2017-03-27 11:35] damithc commented on #6945
@wkk91193
We have a little bit more info in [this doc](https://docs.google.com/document/d/1aK-1ubIA59fbNsEujwvWKqx7itwLPTD6mzFo4F_oEoI/pub?embedded=true)
But our docs on testing are sparse and could be slightly outdated.

[2017-03-27 11:40] wkk91193 commented on #6945
Thanks alot @damithc for the response.. Yes. I did have a look at it earlier on.

[2017-03-27 11:51] damithc commented on #6939
@LimeTheCoder some comments added to your proposal.

[2017-03-27 11:57] damithc commented on #6949
Not sure what your question is.
Strictly speaking, TEAMMATES doesn't use SQL.

[2017-03-27 11:59] #6568 closed

[2017-03-27 12:16] yash2o1o opened #6952 "Gsoc 2017 : Coverage Hero Projects"
Hi TeamMates Community,
My name is Yash Patel. I am a freshman year student majoring in Computer Science. I would like to part in Gsoc by contributing to the Coverage Hero projects. I have contributed to teammates before and i am familiar with the teammates workflow. I am new to software testing and finding it a bit challenging. I have gone through the design doc and tried to understand the projec

[2017-03-27 14:17] rclakmal commented on #6950
Hey @dingliheng Welcome to TEAMMATES!!

I presume you are planning to apply for GSoC17. If that is the case, have a a look at the [instructions for applicants ](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true). You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue

[2017-03-27 14:50] rclakmal commented on #6943
@wkk91193 However, it will increase your chances of getting accepted in great deal :-)

[2017-03-27 16:10] wkurniawan07 opened #6954 "Repurpose src/main/webapp/dev for front-end development"
For example, pre-built JS files and CSS files (if we ever decide to go that way).

Pages and scripts that are for test-use only can go to `src/main/webapp/test` (new folder).

[2017-03-27 16:18] kumar1005 commented on #6954
hii...i would like to fix this issue

[2017-03-27 16:59] wkurniawan07 commented on #6945
@wkk91193, the design doc you linked earlier already has explanation for test driver component on it.

Details for TestNG framework (or any external framework we use) can be found online as provided by their own maintainers. We do not provide them here because it is unnecessary and will only be duplicate work.

[2017-03-27 17:04] wkurniawan07 commented on #6944
Hi @jujojujoju! Your guess happens to be correct. I apologize for this; this was caused by the very recent migration to ES6 done. To resolve this problem, you need to run `npm run build` from the project root folder which will regenerate the required JS files, and deploy the updated version.

[2017-03-27 17:28] ZhaoDingfan commented on #2354
I'm trying to work on this issue but I cannot understand the meaning of ''sections'' in the help page of instructors. Could you please explain more about that to me?

[2017-03-27 18:19] nikiforosbotis opened #6958 "Update: After Updating to the last version of TEAMMATES in Github, my dev server cannot read ES6 files"
**Environment**
Dev Server V4.18

**Steps to reproduce**
Log in as an instructor -->
Courses (Add New Course) -->
Fill the given form

**Expected behaviour**
In the "Time Zone" section, either the dropdown sections should include some possible choices or the time zone is automatically detected based on my device settings, as stated in the note below.

**Actual behaviour**
Neither of the previous e

[2017-03-27 18:40] wkurniawan07 commented on #6958
@nikiforosbotis when reporting something against dev server, version number is not meaningful. Use the latest commit hash instead. I will assume you report against the latest `master` branch which is at commit c450c5f.
Based on the report, I am confident that this is due to the ES6 migration done just few days ago. What you need to do is running `npm run build` from the project root folder and it

[2017-03-27 18:41] nikiforosbotis commented on #6958
@wkurniawan07 you are right, this is the fault. Sorry for not including the version number. Thank you!

[2017-03-27 18:56] #6958 closed

[2017-03-27 20:11] nikiforosbotis commented on #588
@damithc I checked out the problem that is described on this issue and I am pretty confident that the desired behavior is already implemented (I pushed the button to send reminding emails and then it showed me this image:)
![a](https://cloud.githubusercontent.com/assets/9116253/24375865/9c3ef884-1342-11e7-8063-f60003a45642.png)

Have I misunderstood anything or am I correct?

[2017-03-27 20:21] nikiforosbotis commented on #2676
@damithc Got it.
This is the corresponding screen, right?
![a](https://cloud.githubusercontent.com/assets/9116253/24376274/fe013d38-1343-11e7-9b10-48f53c8e3a7a.png)

[2017-03-27 23:14] mshehrozsajjad commented on #6939
@damithc  Sir, can you check my proposal too?

[2017-03-28 03:05] wkk91193 opened #6959 "Acknowledgment on submission of draft on the idea "Coverage Hero(java)""
Hi!

I'm Kumaranath Fernando. This is to notify that did mail a link to a draft of my initial proposal on "Coverage Hero(java)" via teammates@comp.nus.edu.sg. I did also submit a link on summerofcode.withgoogle.com page.

I would love to hear your feedback and thus adjust and make improvements if necessary.

Thank you,
Regards

[2017-03-28 03:44] Neurrone opened #6961 "Remove inline javascript onclicks"
Many pages use inline scripting such as `onclick=...`.

[2017-03-28 04:32] damithc commented on #6952
@yash2o1o perhaps you can try to look through the existing code and try to figure out which parts are not covered by tests. You can use EclEmma for measuring coverage of Java code. [This (slightly outdated) page](https://docs.google.com/document/pub?id=1LymZ6oeEA6TZRzgW7X2FUxA2MPbZTjUrzIx6si_5ThI&embedded=true#h.gt69u6cffz72) has some resources about testing.

[2017-03-28 05:03] damithc commented on #588
@nikiforosbotis In some sense, yes it stays in the same page. However, it loads the entire page again instead of keeping the previous page; the latter is more desirable. But then again, I'm not sure it's too difficult to implement for a new contributor.

[2017-03-28 05:19] yunchun-liu opened #6962 "New Contributor Self-Intro: Liu, Yun-Chun"
Hi Team,
I'm Liu, Yun-Chun. I study at National Taiwan University and it currently exchanging at NUS. My background may be a bit different as I major life science, but I minor CS and really enjoy programming!
Kindly review my proposal as I submitted it through GSoC websites.

Ps. I'm getting "Unexpected Token" error in every import/export in .js files in Eclipse. I tried googling around but there'

[2017-03-28 05:38] Neurrone commented on #6962
Hi @yunchun-liu, welcome to TEAMMATES!

Can you paste the exact error message?

[2017-03-28 05:51] thenaesh opened #6963 "Enforce no-use-before-define on admin*.es6"
See #6940.

[2017-03-28 05:52] thenaesh opened #6964 "Enforce no-use-before-define on instructor*.es6"
See #6940.

Includes the instructorFeedbackEdit subirectory.

[2017-03-28 05:52] thenaesh opened #6965 "Enforce no-use-before-define on everything not instructor*.es6"
See #6940.

[2017-03-28 05:59] thenaesh opened #6966 "Enforce no-use-before-define on instructorFeedbackResults*.es6"
See #6940.

[2017-03-28 06:01] #6966 closed

[2017-03-28 06:28] #6963 closed

[2017-03-28 08:46] yash2o1o commented on #6952
Thanks.

[2017-03-28 08:46] #6952 closed

[2017-03-28 09:11] nikiforosbotis commented on #588
@damithc Yes I agree, it is not something I am very familiarized with. I prefer to work on the other issues I have commented on so this is available for anyone else who wants to contribute on that.

[2017-03-28 12:25] whipermr5 commented on #6934
Could be due to #6695

[2017-03-28 13:27] whipermr5 commented on #6934
Due to changes in #6695, the request to remind a single student is sent via ajax. My suspicion is that due to the slowness of the live server (slower than dev server or staging server), the ajax request does not reach the browser in time - the browser continues with the test suite without waiting for the request to succeed (there is no code in the test that waits for the ajax request to succeed).

[2017-03-28 13:42] whipermr5 commented on #6934
Implication to users: not much, as most users, after clicking on the button to email a student, would not click on anything else until they see the success message (which is only shown after the ajax request succeeds). Even if they do, the only negative effect is that they will see the status message later on in another page - the first page that loads after the remind action succeeds.

[2017-03-28 13:42] damithc commented on #6934
Good work @whipermr5 👍
So it is not a new system-wide problem; I can go ahead with the deployment.
However, it is still a slight worsening of an existing problem that might need fixing anyway. Any ideas on a fix?

[2017-03-28 13:47] whipermr5 commented on #6934
To solve the symptoms - add a wait in the test code; also include a loading animation when the user clicks on the button to remind as a visual cue that something is happening. To solve the root issue - we may need to attach some sort of request ID to status messages and only display/clear them from page requests that match that ID. Though I don't think we have such an ID implemented right now.

[2017-03-28 13:57] damithc commented on #6934
Can we reset the session at the beginning of a request?

[2017-03-28 14:13] Neurrone opened #6969 "Re-enable no-use-before-define for javascript"
Once both https://github.com/TEAMMATES/teammates/issues/6965 and https://github.com/TEAMMATES/teammates/issues/6964 are merged, we can re-enable no-use-before-define.

[2017-03-28 14:56] #6969 closed

[2017-03-28 15:00] whipermr5 commented on #6934
That would prevent the original intention of using the session object, which I believe is to pass parameters securely from a redirect result to other kinds of results?

[2017-03-28 15:30] damithc commented on #6934
We can mitigate the ill effects by making the status messages more informative and self-explanatory. i.e. they still make sense even if they appear in the wrong page. One of the messages in the screenshot is too generic.

[2017-03-28 16:24] #6920 closed

[2017-03-28 16:28] wkurniawan07 commented on #6283
GitHub has already supported similar feature so...

[2017-03-28 16:28] #6283 closed

[2017-03-28 16:30] #5131 closed

[2017-03-29 01:23] damithc commented on #6959
@wkk91193 added comments to the proposal.

[2017-03-29 04:35] damithc opened #6971 "Intellij: output directory setting does not persist"
OS: Windows
Problem: this setting get reset to the `.war` file after a while (screenshot shows the correct setting). I'm not sure what exactly causes the change of the setting (may be restarting the IDE). When not set correctly, it can cause '... does not seem to be enhanced` error.

![image](https://cloud.githubusercontent.com/assets/1673303/24438736/11b0accc-147c-11e7-9e06-db6d7c880b9c.png)

[2017-03-29 04:38] damithc opened #6972 "Intellij: dev server data wiped off periodically"
OS: Windows

Problem:
Dev server data gets wiped off after a while. Not sure what action causes it though, probably the `build` action.
This is not the case with Eclipse. The data persist unless deleted manually.

[2017-03-29 05:29] leeyimin commented on #6971
@samsontmr and I discussed this a while back. Refreshing the Gradle project seems to be one way to reset the output directory. It seems that IntelliJ does not give the correct output folder by default for some of us, thus the need for #6919.
The appengine gradle plugin produces the exploded app in build/exploded-app by default, so one way is to manually add an artifact that points to build/explode

[2017-03-29 05:55] #6698 closed

[2017-03-29 06:44] samsontmr commented on #6971
Adding `build` to the run configuration causes an occasional error in some tests, which was why we removed it. However, it seems that removing it causes other issues like this one (you'll need to change the folder manually each time). If it turns out that there's no solution that works in all cases for everyone, we'll have to decide which trade-off we're willing to accept.

[2017-03-29 06:44] #6758 closed

[2017-03-29 07:00] #6904 closed

[2017-03-29 07:39] wkurniawan07 opened #6973 "Make IDE usage entirely optional"
Helpful as IDEs may, their usage should never be a requirement because we have a working workflow without the need of one, and any CI does not assume the use of one either.

[2017-03-29 08:38] #6935 closed

[2017-03-29 11:48] mohsin2596 opened #6974 "Link to app"
Hey Teammates!
The phase c requires us to give a "link to your app", could someone please guide me which link are you requesting? I cannot seem to generate one for me

[2017-03-29 11:57] damithc commented on #6939
@mshehrozsajjad please allow commenting in your Google doc for me to add comments.

[2017-03-29 12:32] #6974 closed

[2017-03-29 14:46] ablyx opened #6975 "Fix typo in header comments for searchStudentsInWholeSystem method in StudentDb"
Header comment for `searchStudentsInWholeSystem` has a typo. `amdin` should be changed to `admin`

[2017-03-29 15:40] mshehrozsajjad commented on #6939
@damithc done.

[2017-03-29 15:47] #6964 closed

[2017-03-29 16:33] HirdayGupta opened #6976 "Changing the 'Request Instructor Account' form from Google Form to a request processing system (and a GSOC Introduction)"
## **Introduction:**
Hello! My name is Hirday Gupta and I am High School Senior (Year 12) from Mumbai, India. I plan to apply to TEAMMATES for GSOC'17 and I am extremely excited to contribute to this wonderful community and remain a part of it even after GSOC is over.

I am proficient in JAVA, Python, HTML, CSS(and bootstrap), PHP, Jquery/JavaScript, MySQL, and have experience with iOS and Android

[2017-03-29 16:50] #6965 closed

[2017-03-29 17:05] HirdayGupta commented on #6975
Hello! I haven't made a 'd.FirstTimers' contribution yet. However, I have _begun_ work on changing the Instructor Request Form from a Google Form in [this issue](https://github.com/TEAMMATES/teammates/issues/6976). I would like to sort out this issue just so that I know I am following the correct convention for issue resolution as outlined in the [development workflow guide](https://github.com/TEA

[2017-03-29 18:27] amarlearning commented on #6961
@Neurrone I would like to take this one :smile:

[2017-03-29 21:14] nashmia-riaz commented on #6818
Hello. I am a first time contributor working on the code for GSoC 2017 and would like to fix this issue.

[2017-03-29 21:34] Malkone commented on #6818
Hi, I'm first timer and would like to contribute this issue since it's urgent. Please confirm correct understanding of the task: as I found run configurations for the project are located in folder .idea/runConfigurations, does IntelliJ removes these files when it imports this project ? Should they all be restored from git repository as after latest commint before they were deleted? Thanks

[2017-03-30 04:13] leeyimin opened #6979 "Fix typo in creatAdminEmail in AdminEmailsDb"
In AdminEmailsDb, creatAdminEmail is mispelt.

[2017-03-30 04:22] xpdavid commented on #6798
Solved.

[2017-03-30 04:22] #6798 closed

[2017-03-30 05:12] #6923 closed

[2017-03-30 05:22] li-kai commented on #3362
Fixed by #6488

[2017-03-30 05:22] #3362 closed

[2017-03-30 05:25] thenaesh commented on #6940
Done.

[2017-03-30 05:25] #6940 closed

[2017-03-30 05:26] boxin-yang opened #6981 "Prevent expanding instructor feedback result pages during testing"
**Description of feature/enhancement**
A follow up issue for #6608 .  Currently all instructor feedback result page panels are expanded during testing and it slows down the UI testing.

**Justification**
The expansion of panels is unnecessary in many test cases in InstructorFeedbackResultPageUiTest.java and it should be removed to save up test running time.

[2017-03-30 05:33] leeyimin opened #6982 "Delete only emails in bundle for removeDataBundle in BackDoorLogic"
The line to remove emails in removeDataBundle in #6717 removes all emails in database. This should be changed to delete only emails in the data bundle.

[2017-03-30 05:34] xpdavid opened #6983 "Typos in CourseRoster, TeamEvalResult and FieldValidator"
Detail CheckStyle Report:
https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/main.html

CourseRoster.java
Stuent is not a word according to provided dictionary
[code]

TeamEvalResult.java
Should be camel case sumOfPerceived
[code]

FieldValidator.java
Invalidty is not a word according to provided dictionary
[code]

[2017-03-30 05:36] xpdavid opened #6985 "Typos in FeedbackSessionsLogic, EntitiesDb and FeedbackSession"
Detail CheckStyle Report:
https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/main.html

FeedbackSessionsLogic.java
instuctor is not a word according to provided dictionary
[code]

EntitiesDb.java
INTRUCTOR is not a word according to provided dictionary
[code]

FeedbackSession.java
Respoding is not a word according to provided dictionary
[co

[2017-03-30 05:39] xpdavid opened #6986 "Admin*Action.java: fix typos"
Detail CheckStyle Report:
https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/main.html

AdminActivityLogPageAction.java
courese is not a word according to provided dictionary
[code]

AdminEmailComposeSendAction.java
fanalised is not a word according to provided dictionary
[code]

AdminSearchPageAction.java
Insititute is not a word according

[2017-03-30 05:43] xpdavid opened #6987 "FeedbackSubmissionEditPageAction, FeedbackSubmissionEditSaveAction, InstructorEditInstructorFeedbackSaveAction: fix typos"
Detail CheckStyle Report:
https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/main.html

FeedbackSubmissionEditPageAction.java
Accesible is not a word according to provided dictionary
[code]

FeedbackSubmissionEditSaveAction.java
Accesible is not a word according to provided dictionary
[code]

InstructorEditInstructorFeedbackSaveAction.java

[2017-03-30 05:49] xpdavid opened #6988 "Typos in StudentProfilePictureEditAction, AdminSearchPageData"
Detail CheckStyle Report:
https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/main.html

StudentProfilePictureEditAction.java
[code]

AdminSearchPageData.java
Seesion is not a word according to provided dictionary
[code]

AdminSearchPageData.java
Homa is not a word according to provided dictionary
[code]

[2017-03-30 05:50] xpdavid opened #6989 "Typos in AdminSessionsPageData and InstructorFeedbackResponseCommentAjaxPageData"
Detail CheckStyle Report:
https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/main.html

AdminSessionsPageData.java
gettotal is not a word according to provided dictionary, should be getTotal
[code]

InstructorFeedbackResponseCommentAjaxPageData.java
Visiblities is not a word according to provided dictionary
[code]

[2017-03-30 05:59] xpdavid opened #6990 "Fix typos in InstructorCourseEditPageUiTest and InstructorPrivilegesTest"
Detail CheckStyle Report: https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/test.html

InstructorCourseEditPageUiTest
Insturctor is not a word according to provided dictionary
[code]

~~CommentAttributesTest.java~~ Edit: removed in #7334
Memssage is not a word according to provided dictionary
[code]

InstructorPrivilegesTest.java
Privilges

[2017-03-30 06:03] xpdavid opened #6991 "Typos in StudentProfileAttributesTest, CoursesLogicTest and InstructorCoursesPageDataTest"
StudentProfileAttributesTest.java
Invalidty is not a word according to provided dictionary
[code]

CoursesLogicTest.java
Cousre is not a word according to provided dictionary
[code]

InstructorCoursesPageDataTest.java
Withour is not a word according to provided dictionary
[code]

[2017-03-30 06:09] #6864 closed

[2017-03-30 12:22] #6975 closed

[2017-03-30 13:00] #6506 closed

[2017-03-30 15:30] #6934 closed

[2017-03-30 15:52] damithc commented on #6939
@mshehrozsajjad comments added to the proposal

[2017-03-30 16:28] wkurniawan07 opened #6995 "Remove inline scripts"
There are some raw `<script>...</script>` portions in the JSP/tag files, about five cases of them.

They add another layer of complexity when trying to bundle all the scripts.

[2017-03-30 16:50] mohsin2596 opened #6996 "New contributor self intro Muhammad Mohsin Ajmal"
a) link to my app: (Unable to deploy because of JDK issue)
b) link to my fork: https://github.com/mohsin2596/teammates

c) a screenshot of the change I did
![change_1](https://cloud.githubusercontent.com/assets/26625526/24515739/efe776fe-1591-11e7-96f4-91bdc0f3167e.JPG)

![change_2](https://cloud.githubusercontent.com/assets/26625526/24515761/feb4bd5e-1591-11e7-8019-b6507bd40897.JPG)

Changed the

[2017-03-30 16:59] #6808 closed

[2017-03-30 16:59] #6815 closed

[2017-03-30 16:59] #6850 closed

[2017-03-30 16:59] #6854 closed

[2017-03-30 16:59] #6862 closed

[2017-03-30 17:00] wkurniawan07 commented on #6674
Closing due to inactivity. @quangphuc789 if you still encounter difficulties, feel free to re-open this or open a new issue.

[2017-03-30 17:00] #6674 closed

[2017-03-30 17:00] #6866 closed

[2017-03-30 17:00] #6881 closed

[2017-03-30 17:00] #6893 closed

[2017-03-30 17:01] #6899 closed

[2017-03-30 17:01] #6912 closed

[2017-03-30 19:26] nashmia-riaz opened #6997 "New contributor self intro: Nashmia Riaz"
**About me:**
Hello, all. :)
My name is Nashmia Riaz and I'm a third year student of Software Engineering at National University of Science and Technology (NUST) in Islamabad, Pakistan. I love web development and programming, and like to make video games and websites during my free time. I am also a graphic designer, so I have an eye for detail and feel that presentation is key towards developing

[2017-03-31 03:03] Neurrone commented on #6997
Hi nashmia-riaz, welcome to TEAMMATES!

Next, you could  try [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-03-31 04:16] AnaghHegde commented on #6063
@damithc Is there any way to reproduce it in the dev server ?. I am interested in this.

[2017-03-31 04:47] Neurrone commented on #6063
@AnaghHegde @damithc This is related to https://github.com/TEAMMATES/teammates/issues/6562, which has been fixed in https://github.com/TEAMMATES/teammates/pull/6602

[2017-03-31 05:06] AnaghHegde commented on #4486
@LowWeiLin I think its still open?.

[2017-03-31 05:11] amarlearning commented on #6900
@leeyimin Is anyone working on this issue?

[2017-03-31 06:50] AnaghHegde opened #6999 "Response summary is shown after the first question"
This should come after the first question right( like for the other questions ) ?
![screenshot 96](https://cloud.githubusercontent.com/assets/12005551/24539376/e9145502-160b-11e7-81c2-a60ddad6141c.png)

But the entire response summary is shown. It should be shown at the top right ( which makes more sense )  and the response for the first question is shown after this.
![screenshot 95](https://cloud

[2017-03-31 06:57] #6855 closed

[2017-03-31 09:14] HirdayGupta commented on #6976
@damithc I have posted my queries here as per your instructions on email. I would also like to ask if the change I am proposing here is advisable to complete before GSOC or as a part of my proposal?

[2017-03-31 09:28] damithc commented on #6976
@HirdayGupta is this your proposal for GSoC? In that case I recommend you choose a project idea listed in our own list. Also, those with `high priority` ratings are more likely to be selected.

[2017-03-31 09:44] damithc commented on #6063
Thanks @Neurrone for the clarification.

[2017-03-31 09:44] #6063 closed

[2017-03-31 10:07] HirdayGupta commented on #6976
@damithc This is not my proposal for GSOC but merely a first contribution I would like to make as an introduction to myself before my proposal. I am currently drafting a proposal for the 'Usability Hero' project idea. I was asking for your opinion on whether this is a viable first contribution or if I should just include this as part of my proposal.

Either way, I would be extremely grateful for a

[2017-03-31 10:59] damithc commented on #6976
I see @HirdayGupta I'm impressed that you attempted to add this whole new feature as your first contribution. however, this is a bit too big for a new contributor, and also not a feature we are looking to add at the moment (and therefore we are not willing to spend mentor resources on).
Perhaps you can tackle a `d.FirstTimers` or a `d.Contributors` issue instead?

[2017-03-31 11:09] damithc opened #7000 "User map not loading"
**Environment**

- Live server at V5.100 (seems to work at v5.99)
- `master` branch since 06e4649

**Steps to Reproduce**

Go to `/usermap.jsp`.

**Expected Behavior**

Usermap loads.

**Actual Behavior**

![image](https://cloud.githubusercontent.com/assets/1673303/24548026/8917d19e-1645-11e7-9603-ac58af53e8e1.png)

**Reason**

Addition of an institution from "Palestine". Nothing sounds off, but "

[2017-03-31 11:45] damithc commented on #2354
`Sections` here refers to sections of a course. i.e. a course can be divided into sections.

[2017-03-31 12:11] AnaghHegde commented on #7000
Yes. Its working in v5.99 and not in v5.100. I am working on this.

[2017-03-31 12:21] wkurniawan07 opened #7002 "Move all document.ready functions to just one file per page"
For example, the `$(document).ready` for instructor courses page should only come from `instructorCourses.js` (or similar name) and all other JS files used by that page should not have its own `$(document).ready` functions.

[2017-03-31 12:32] HirdayGupta commented on #6976
Thank you for the response @damithc
I have already solved a `d.FirstTimers` issue [here](https://github.com/TEAMMATES/teammates/pull/6992) and the edit has been merged into the master.  I was suggesting this as I felt that fixing a typo was not enough contribution.

Anyhow, thank you for your feedback. I will now work on my draft and send it in for review as soon as possible. Thanks!

[2017-03-31 12:41] damithc commented on #6976
That's true. Time to move to a `d.Contributor` issue which are slightly harder. :-)

[2017-03-31 13:41] AnaghHegde commented on #7000
The console says : **`TypeError: coordinates is undefined`**. Take a look at this.

![screenshot 99](https://cloud.githubusercontent.com/assets/12005551/24552819/9eeb8b1e-1645-11e7-8664-a510543bbf0e.png)

But when i printedd those values, even the array `pins` it contains proper values. I don't understand why console gives this error.

![screenshot 98](https://cloud.githubusercontent.com/assets/12

[2017-03-31 14:22] wkurniawan07 commented on #7000
@damithc is this urgent? If not, it is actually convertible to a `d.FirstTimers` issue.

[2017-03-31 14:37] damithc commented on #7000
Not very urgent. As long as it gets fixed in the next couple of releases.

[2017-03-31 14:39] AnaghHegde commented on #7000
@damithc

It's working fine in master. So doesn't that count ?.

[2017-03-31 14:43] wkurniawan07 commented on #7000
@AnaghHegde I can assure you that it is not. Which version of `master` are you using?

[2017-03-31 14:43] wkurniawan07 commented on #7000
@damithc I'll add the reason and way to fix in the issue description itself.

[2017-03-31 14:50] AnaghHegde commented on #7000
@wkurniawan07 The latest commit is 22dd83d.

[2017-03-31 16:08] angelosdmg opened #7006 "GAE Deployment Error"
Hello everybody,
I'm trying to deploy the app but I get this error.

I'd be grateful if you could help me.

![2017-03-31 1](https://cloud.githubusercontent.com/assets/15040082/24558819/303f7fae-1645-11e7-9080-70806e153e6a.png)

error logfile:
Unable to update:
com.google.appengine.tools.admin.HttpIoException: Error posting to URL: https://appengine.google.com/api/queue/update?app_id=teammates-ange

[2017-03-31 16:16] GriffinHines opened #7007 "New contributor self intro: Griffin Hines"
**About me:**
Hey guys, I'm a first year Computer Science student at the University of Georgia. My experience writing code spans about 3 months right now, but I'm excited to learn more, and Teammates seems like a great place to do that. As you can see below, my tinker to Teammates UI reformatted some of the text at the bottom of the 'about us' page.

**Link to app:** http://teammates-griffinqh.app

[2017-03-31 17:09] shrut1996 commented on #7006
@angelosdmg  Try Enable billing and try again and also set your spending limit to zero if you don't want to be charged. It worked for me atleast after the same error :)

[2017-03-31 20:59] HirdayGupta opened #7009 "Trivial formatting error in design.md"
Just a trivial error I noticed while going through documentation in the [design.md ](https://github.com/TEAMMATES/teammates/blob/06528da44c16af94681355c42b0fc10f05fdad5e/docs/design.md)file. The heading **policies** under Storage API and Logic API was not being highlighted by git due to erroneous markdown syntax. The file reads: `###Policies` whereas it should instead read `### Policies`

@damithc

[2017-04-01 01:31] damithc commented on #7009
@HirdayGupta thanks for the bug report. Also, remember that we don't allow more than one `d.FirstTimers` issue per person.

[2017-04-01 08:18] bikashthakur opened #7011 "gsoc proposal writing"
Hello Sir/Ma'm,
I'm Bikash Thakur, final year computer science student, registered to GSOC 2017. After got registered to gsoc, i was looking for organisation for the project to work on, and then I found your organisation, and things that attracted me is that I'm also working on the similar project for my college. So thought it would be a good oppertunity for me to work on this project if get selec

[2017-04-01 09:28] damithc commented on #6996
Welcome to TEAMMATES @mohsin2596. :-)
Some comments added to your proposal

[2017-04-01 10:08] HirdayGupta commented on #7009
@damithc I am aware of that. Hence I pointed it out here instead of fixing it. Thanks! :)

[2017-04-01 10:14] HirdayGupta opened #7012 "Query regarding GSOC Proposal"
Hello. As I am working on my proposal, I had a couple of questions.

1. Is it recommended to include code and to show how we'd implement some of the changes we are proposing? Or will a textual description suffice?

2. Is it recommended to include screenshots with any UI changes being proposed? Are mockups/rough diagrams permissible?

Thank you!

[2017-04-01 12:00] amarlearning commented on #6961
@wkurniawan07 Thanks.
Considering your advice. I would make a single change and submit for review. if everything goes in the right direction. I will continue to do this else i will stop.

Should I ? :sweat_smile:

[2017-04-01 12:17] damithc commented on #7012
Code not normally expected, but it can help your case if you include code snippets.

At least mock ups are recommended, anything more is a bonus.

[2017-04-01 13:20] Mynk96 opened #7013 "Regarding Gsoc Proposal"
I have shared the Gsoc proposal draft.Please review and give feedback. If there is any problem regarding draft or something which is not clear please let me know.

[2017-04-01 13:30] jaydalal12 opened #7014 "New contributor self intro [Jay Dalal]"
a) link to app
http://jaydalal-teammates.appspot.com/
b) link to fork
https://github.com/jaydalal12/teammates
c) a screenshot of the change I did (Added buttons for Instructor & Student Login)
![image](https://cloud.githubusercontent.com/assets/21137132/24579110/7f0165e0-170c-11e7-8edc-2552de07ecc7.png)

d) Hi, my name is Jay Dalal. I am working as Software Engineer. I am here to contribute in Tea

[2017-04-01 13:33] basitsattar opened #7015 "New contributor self intro [Abdul Basit]"
My App Link
http://teammates-abdulbasit.appspot.com/

Repository Link
https://github.com/basitsattar/teammates/tree/tinker

I have improved the layout of the About Us page.

<img width="1440" alt="screen shot 2017-04-01 at 6 26 49 pm" src="https://cloud.githubusercontent.com/assets/8505943/24579156/2bab2474-1709-11e7-805c-6edfe92cfeb2.png">
<img width="1440" alt="screen shot 2017-04-01 at 6 27 04

[2017-04-01 13:47] basitsattar opened #7017 "About us page: improve layout"
**Description of feature/enhancement**
Improve the layout of the about us/team page.

**Justification**
It will clearly show the team members and it will be easier to see the contribution of team members when it will be more properly organized.

[2017-04-01 14:18] HirdayGupta commented on #7012
Noted, thanks!

Also, in the Usablity Hero project, the features to consider say

Could you please explain what you mean by this?

[2017-04-01 14:40] Fade1 opened #7018 "New Contributors self intro [Angelos Tsalapatis, Haris Panidis]"
A) No international card
B) https://github.com/Fade1/teammates
C)
![image](https://cloud.githubusercontent.com/assets/15677505/24579542/618bc304-1700-11e7-9e7b-81486af061a8.png)
 Since we are two people, we decided to change two different things regarding the Home page of the project. Firstly we added a new dropdown menu that includes the two links that redirect students and instructors to their r

[2017-04-01 14:48] damithc commented on #7012
`brittleness of documentation` means the tendency for the documentation to get outdated quickly.

[2017-04-01 20:52] HirdayGupta commented on #7006
@shrut1996 thanks this seems to solve the problem!

[2017-04-02 02:20] damithc commented on #7013
@Mynk96 please set the permission of your proposal to 'comment only' so that I can add comments. Currently it is 'view only'

[2017-04-02 03:16] ZhaoDingfan commented on #2354
@damithc Thanks for clarifying.

[2017-04-02 03:17] dtwilliams10 commented on #6988
I can work this issue!

[2017-04-02 11:18] wkk91193 opened #7020 "gradlew.bat staticAnalysis does not run on Windows"
Operating System:Windows 10 X64
- JDK Version: 1.7
- Eclipse Version:Eclipse Mars 4.5.2

After making a fix I tried running command gradlew.bat staticAnalysis --stacktrace on project root folder. What could be reason? Any help is appreciated

 Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':lint'.
        at org.gradle.api.internal.tasks.execution.ExecuteActi

[2017-04-02 11:20] VamsiSangam commented on #6939
@damithc updated my draft. Please review.

[2017-04-02 11:29] Mynk96 commented on #7013
@damithc changed permission to 'comment only', also made lots of changes kindly go through it.

[2017-04-02 11:35] whipermr5 commented on #7020
Looks like you don't have [Node.js installed](https://github.com/TEAMMATES/teammates/blob/c46205ec979358bb519fc245d7872322b1ced34f/docs/settingUp.md#step-1-install-necessary-tools-and-languages). Our JavaScript was recently migrated to ES6, and [Node.js is used](https://github.com/TEAMMATES/teammates/blob/master/docs/staticAnalysis.md#eslint) to manage ESLint and transpilation.

[2017-04-02 12:21] wkk91193 commented on #7020
@whipermr5  Thanks for your response! By the way I had already installed nodejs and installation directory set to the path variable as mentioned in [Setting up a development environment](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md)

[2017-04-02 12:22] wkk91193 commented on #7020
My node version is version 6.10.1

[2017-04-02 12:36] wkk91193 commented on #7020
I've deleted the node_modules folder and rerun npm install command. But still no luck!

[2017-04-02 13:27] damithc commented on #6939
@VamsiSangam reviewed.

[2017-04-02 14:29] angelosdmg opened #7022 "Warning: App Engine face not found in Gradle:teammates.war (exploded) artifact"
Hey,
I get this warning in IntelliJ. Do you know how to solve it?

Thank you

[2017-04-02 15:12] wkurniawan07 commented on #7020
@wkk91193 could you try running `npm run lint` manually from the project folder?

[2017-04-02 15:28] wkk91193 commented on #7020
@wkurniawan07  that seems to work!!

![image](https://cloud.githubusercontent.com/assets/13482888/24588491/fdcb7ec6-17e6-11e7-8082-c8298a69ab3f.png)

[2017-04-02 15:36] wkurniawan07 commented on #7020
@wkk91193 as it turns out, you've just reported more than one problem with this new routine (introduced only last week). Thanks for this! Will be fixing in a jiffy.

[2017-04-03 04:46] wkk91193 opened #7026 "Help Request:Configuring CheckStyle plugin for eclipse"
Operating System: Windows 10 X64
JDK Version: 1.7
Eclipse Version: 4.5.2

I was following the instructions on the setting up static code analysis plugin via [Static Analysis document](https://github.com/TEAMMATES/teammates/blob/master/docs/staticAnalysis.md). Installed CheckStyle via eclipse marketplace.  Restarted Eclipse.

When configuring eclipse plugin I **could not** locate the CheckStyle tab

[2017-04-03 07:09] whipermr5 opened #7027 "AdminHomePageUiTest failing after April 2, 2017 23:59 UTC"
CI no longer able to pass for all new builds. Due to [`endTime` date in test data](https://github.com/TEAMMATES/teammates/blob/c46205ec979358bb519fc245d7872322b1ced34f/src/main/resources/InstructorSampleData.json#L283) elapsing. Discovered by @wkurniawan07

[2017-04-03 09:35] angelosdmg commented on #7018
Hello Angelos,
Welcome to our project :P

[2017-04-03 09:48] GregHib commented on #7009
Never made a PR before might as well start with an easy one like this

[2017-04-03 10:08] #7027 closed

[2017-04-03 13:51] #6747 closed

[2017-04-03 14:07] #6936 closed

[2017-04-03 14:08] #6942 closed

[2017-04-03 14:09] #6931 closed

[2017-04-03 14:09] #6913 closed

[2017-04-03 14:20] xpdavid commented on #7026
@wkk91193 I guess you need to use CheckStyle 6.19 instead.

[2017-04-03 14:24] xpdavid commented on #7018
@Fade1 Welcome to TEAMMATES. You can start to work on `d.FirstTimer` issue and submit your first PR. :)

[2017-04-03 14:28] samsontmr commented on #7022
@angelosdmg have you tried the troubleshooting guide? We recently added an entry that might be related to your problem.

[2017-04-03 15:37] #7020 closed

[2017-04-03 19:58] dingliheng commented on #2847
So is this issue still available? It seems that the problem has been solved. In fact, I found out that most of the open issues labeled with "d.Contributor" are already solved by someone. So can I still choose these open issues to work on? Thanks!

[2017-04-03 20:44] dingliheng opened #7030 "Login buttons on homepage can use bootstrap style instead"
**Description of feature/enhancement**
Improve the UI of login buttons on home page (i.e., "student login" $ "instructor login").

**Justification**
Not only can the buttons be more attractive and highlighted, but be consistent with other buttons' style which is also using bootstrap.

Before:
<img width="1280" alt="screen shot 2017-04-03 at 3 41 28 pm" src="https://cloud.githubusercontent.com/asse

[2017-04-03 21:00] Fade1 commented on #7018
Nice to meet you all :)

[2017-04-04 05:22] samsontmr commented on #7014
Hi @jaydalal12, welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled `d.Contributors`.

[2017-04-04 05:26] samsontmr commented on #7015
Hi @basitsattar, welcome to TEAMMATES! Nice change to the UI, I like it!

You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled `d.Contributors`.

[2017-04-04 07:26] #7009 closed

[2017-04-04 07:48] damithc commented on #2847
@dingliheng

You can help us confirm if the issue is solved. e.g. you can test your dev server to test it out. Archive all courses of a instructor and see what shows up in the home page (you can post a screenshot here).

[2017-04-04 09:29] damithc commented on #7030
@dingliheng indeed the updated buttons stand out more. The original however, stands out enough (due to the luminous green text) and consistent with the rest of the nav bar. It's not common to have this kind of buttons in the nav bar.
So I'm inclined to keep the current one. Thanks for bringing this up and the suggestion. It's always good to see what the alternative looks like before deciding.

[2017-04-04 09:29] #7030 closed

[2017-04-04 14:13] #6929 closed

[2017-04-04 14:21] #7006 closed

[2017-04-04 18:19] wkurniawan07 opened #7033 "Release V5.101"
Scheduled for Apr 6, 2017, 3pm SGT.

Edit: delayed due to the heightened failure rate in Travis/AppVeyor. Currently investigating.

[2017-04-04 18:22] wkurniawan07 opened #7034 "Update about.jsp with contributors from V5.101"
As per title.

[2017-04-04 18:45] wkurniawan07 opened #7036 "Add polyfill for String.prototype.includes"
Refer here: https://github.com/TEAMMATES/teammates/pull/6832#discussion_r107343890

During the ES6 migration, the polyfill was removed for the reason that it will be configured via Babel. However, our workflow does not yet support that (and unlikely in the near future, e.g. 2-3 releases) thus we need the polyfill back.

Without this polyfill, all browsers not supporting `String.prototype.includes`

[2017-04-04 18:48] shrut1996 commented on #2676
@damith Do you mean that the section under 'Response Summary' requires an extra column named 'Total' that gives the total of all points received?

![screenshot from 2017-04-05 00-14-36](https://cloud.githubusercontent.com/assets/20799404/24673307/56133872-1967-11e7-991d-625fa3064098.png)

[2017-04-04 20:38] nikiforosbotis commented on #2676
@shrut1996 I would be glad if you let me some time to work on this issue. I have already started :)

[2017-04-04 21:09] shrut1996 commented on #2676
@nikiforosbotis Sure no problem :+1:

[2017-04-04 21:12] nikiforosbotis commented on #2676
@shrut1996 thank you! If I face any difficulty or decide that I will not proceed with completing that, I will let you know.

[2017-04-05 01:41] damithc opened #7039 "Instructor edit rubric question: ignore empty rows"
v5.100

Steps:
1. Login as instructor.
2. Edit a rubric question. Leave an empty row in the middle. Try to save.

Actual: All edits are discarded and an error message is given
Suggestion: Either inform about the blank row without discarding all edits, or ignore the empty row and save the rest.

[2017-04-05 02:42] wkk91193 opened #7040 "Clarification : Submission of PR after gsoc application deadline"
Hi!
After preparing the GSOC application, I did not have much time on submitting a PR on an issue labeled Contributor, although I submitted a PR on an issue labeled FirstTimer, this is to clarify if PR submissions after GSoC application deadline still are considered to improve chances of selection as a GSOC student.

Regards
Kumaranath Fernando

[2017-04-05 07:13] damithc commented on #7040
Yes they are considered @wkk91193

[2017-04-05 07:13] #7040 closed

[2017-04-05 10:07] junhaoyap commented on #7014
Welcome @jaydalal12 to the TEAMMATES community!

[2017-04-05 10:08] junhaoyap commented on #7007
Welcome @GriffinHines to the TEAMMATES community! I see that your first timer issue is about to be merged so that's great! Looking forward to seeing your work with contributor issues and I am sure you will learn a lot!

[2017-04-05 10:11] junhaoyap commented on #7015
Welcome @basitsattar to the TEAMMATES community! Please refer to our Google Summer of Code Guidelines if you haven't already :)

[2017-04-05 10:12] junhaoyap commented on #7013
If this is your first time posting, welcome to the TEAMMATES community @Mynk96, please look through our Google Summer of Code guidelines, there should be some guidelines to help you with your first draft even before comments are given :)

[2017-04-05 10:13] junhaoyap commented on #7011
Welcome @bikashthakur to the TEAMMATES community, please refer to our Google Summer of Code guidelines, there are pointers there that will definitely help you, afterwards if you need more comments please refer to @damithc

[2017-04-05 10:14] junhaoyap commented on #6997
Welcome @nashmia-riaz to the TEAMMATES community! Please remember to refer to our Google Summer of Code guidelines if you haven't already :)

[2017-04-05 10:14] junhaoyap commented on #6996
Welcome @mohsin2596 to the TEAMMATES community! Please remember to refer to our Google Summer of Code guidelines if you haven't already :) It will help fill in the gaps if the comments did not already!

[2017-04-05 10:15] junhaoyap commented on #6962
Welcome @yunchun-liu to the TEAMMATES community! Please remember to refer to our Google Summer of Code guidelines if you haven't already :)

Regarding the error, it will help if you looked at our help request guidelines, it will help us in order to help you :)

[2017-04-05 10:16] junhaoyap commented on #6950
Welcome @nashmia-riaz to the TEAMMATES community! @rclakmal has kindly given a good rundown on what can be done from here on, thanks @rclakmal!

[2017-04-05 10:18] junhaoyap commented on #6949
Welcome @shilpi0527 to the TEAMMATES community! Treat it more like generally "backend optimization", SQL query optimization isn't the only wait to improve performance :) Not sure if I have seen your introductions before so if you haven't, please find time to refer to our Google Summer of Code guidelines and also our introductions guideline!

[2017-04-05 10:19] junhaoyap commented on #6946
Welcome @nashmia-riaz to the TEAMMATES community! @samsontmr has already given you a good rundown of what follows from here, thanks @samsontmr!

[2017-04-05 10:20] junhaoyap commented on #6944
Welcome @jujojujoju to the TEAMMATES community! Nice! Looking forward to your contributions 👍

[2017-04-05 10:22] junhaoyap commented on #6939
If any of you have not yet done your introductions or I have missed it, @VamsiSangam @mshehrozsajjad @LimeTheCoder - welcome to the TEAMMATES community, please also refer to our Google Summer of Code guidelines, the guidelines there will help you make your draft / proposals better!

[2017-04-05 10:24] junhaoyap commented on #6943
Welcome @wkk91193 to the TEAMMATES community! It is optional indeed and as @rclakmal pointed out, it becomes a good, solid and real indication of the kind of contribution that one can produce, we can all see why that would increase someone's chances of getting into the program to any organization, not just for TEAMMATES! :)

[2017-04-05 11:06] junhaoyap commented on #7018
@Fade1, welcome to the TEAMMATES community, I am not sure what is Haris's handle so I can't welcome him / her, it would be the best to start with a firstTimer issue as @xpdavid suggested, afterwards the both of you can start on contributor issues and that will be sure to improve on your web development skill!

[2017-04-05 11:38] #7036 closed

[2017-04-05 11:54] #7000 closed

[2017-04-05 12:12] mohsin2596 commented on #6996
Thank you @junhaoyap and @damithc. I revised my proposal before uploading the final version. Looking forward to GSoC and good luck to everyone who applied :)

[2017-04-05 13:26] rclakmal commented on #6900
Discussion [here ](#4845) would help anyone who takes up that issue

[2017-04-05 13:28] #6982 closed

[2017-04-05 13:37] amarlearning commented on #6900
@rclakmal Thanks for this!

[2017-04-05 15:00] #6983 closed

[2017-04-05 16:56] #6979 closed

[2017-04-06 01:58] yunchun-liu commented on #6962
@Neurrone  @junhaoyap  thank you for your kind reminder! I'll check them out.

[2017-04-06 03:16] damithc opened #7043 "Instructor view results, grouped by recipient: show spinner while loading panels"
v5.100

In the case such as below, clicking the panel causes it to load, which can take a significant time. During this time we should show the spinner gif to indicate that things are happening in the background. Otherwise the user might think it's stuck/broken.

![image](https://cloud.githubusercontent.com/assets/1673303/24736377/4fb20a04-1aba-11e7-9c65-13eba74ff10c.png)

[2017-04-06 03:19] damithc opened #7044 "Instructor: view results, group by recipient: fix 'No specific recipient' showing questions with specific recipients"
v5.100

These questions have specific recipients but are shown as `No Specific Recipient`

![image](https://cloud.githubusercontent.com/assets/1673303/24736476/d5e0c462-1aba-11e7-8818-329239f07a44.png)

[2017-04-06 05:07] Mynk96 commented on #2676
@damithc is this how, change in summary section should look like?
![summary](https://cloud.githubusercontent.com/assets/17481466/24738666/d4855fb6-1ab4-11e7-8864-35bd25bc8a53.PNG)

here total looks is sum of all the values recieved in that section by the student

[2017-04-06 12:23] damithc opened #7046 "about.jsp: Add photos for current committers"
Processed photos are given below. To be added to https://teammatesv4.appspot.com/about.jsp (names are already in that page)
Might need resizing the photos before adding to the repo.

![image](https://cloud.githubusercontent.com/assets/1673303/24753806/59cb6372-1b06-11e7-8a28-6e3e03ef8823.png)
Samson

![image](https://cloud.githubusercontent.com/assets/1673303/24753827/73b35fd8-1b06-11e7-9a5e-b9e7e

[2017-04-06 14:41] jujojujoju commented on #6944
Thank you. I look forward to it !

[2017-04-06 14:49] #6959 closed

[2017-04-06 15:01] damithc commented on #6237
codacy recently imposed a limit on PRs/day even for opensource projects. Closing.

[2017-04-06 15:01] #6237 closed

[2017-04-06 15:02] damithc commented on #6186
Not reproducible in the recent times.

[2017-04-06 15:02] #6186 closed

[2017-04-06 15:18] damithc commented on #5246
Old issue. Closing.

[2017-04-06 15:18] #5246 closed

[2017-04-06 15:20] damithc commented on #4651
Not happening in recent times. closing.

[2017-04-06 15:20] #4651 closed

[2017-04-06 15:38] damithc commented on #6944
@jujojujoju did you apply to TEAMMATES under GSoC 2017?

[2017-04-06 15:44] #6995 closed

[2017-04-06 16:14] chowyb opened #7049 "Add whitespace to headers in godmode.md"
The headers for [godmode.md](https://github.com/TEAMMATES/teammates/blob/master/docs/godmode.md) does not currently display correctly due to missing whitespaces after the `#` or `##` symbols; a single whitespace should be introduced after these symbols, before the header text for it to display correctly.

![gm](https://cloud.githubusercontent.com/assets/7546744/24764242/4f14deac-1b26-11e7-9891-359

[2017-04-06 16:16] chowyb commented on #7049
Might possibly be fixed in #6908 if the refactoring touches this file

[2017-04-06 16:17] mshehrozsajjad commented on #7046
Can I work on this? Also If I can improve previous outlook of page?

[2017-04-06 16:19] mshehrozsajjad commented on #7043
@damithc Is this assigned to someone?

[2017-04-06 16:44] HirdayGupta commented on #7046
I would also like to work on this and improve the design of the overall page as well as include these pictures.

[2017-04-06 17:27] amarlearning opened #7050 "Failed loading JavaScript error"
In my local server, I am getting `Failed loading JavaScript error` [Screenshot Added]
![screenshot from 2017-04-06 22-42-10](https://cloud.githubusercontent.com/assets/9383897/24767280/1977bfb2-1b1c-11e7-94f9-4685349fed09.png)

[2017-04-06 17:37] mshehrozsajjad commented on #6805
I would like to work on this.

[2017-04-06 18:59] HirdayGupta commented on #5768
@damithc May I be assigned this issue?

[2017-04-06 19:31] HirdayGupta commented on #7046
@mshehrozsajjad why don't we each pick one from the about.jsp issue and the email issue?

[2017-04-06 19:34] mshehrozsajjad commented on #7046
Sure! I would like to work on email issue are you okay with it?

[2017-04-06 19:48] HirdayGupta commented on #7046
@mshehrozsajjad Sure! Just to clarify you'll be working on Issue#6805 and I'll work on this.

[2017-04-06 19:54] Mynk96 commented on #2402
I couldn't find any 2 comments with same comment time in instructorSampleData.json.Is this issue already resolved?

[2017-04-06 20:11] mshehrozsajjad commented on #7046
Okay!

[2017-04-06 22:37] sujeet14108 commented on #2342
![screenshot from 2017-04-07 04-00-45](https://cloud.githubusercontent.com/assets/9781422/24778255/418addf6-1b47-11e7-8f93-7e5281d84ecf.png)

So what we want in this is after click on the link like on above image inspite of going to below image user should go to last image ?

![screenshot from 2017-04-07 04-01-23](https://cloud.githubusercontent.com/assets/9781422/24778268/4e5b38b4-1b47-11e7-9e9e-

[2017-04-06 23:23] HirdayGupta commented on #7050
Check if you ran the `npm run build` command as mentioned in [this set-up documentation](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#building-javascript-files) to transpile the es6 files into es5 syntax.

[2017-04-06 23:37] HirdayGupta commented on #7046
@damithc check out http://teammates-hirday.appspot.com/about.jsp

I have uploaded these pictures and have also revamped the design of the page.

Would you like me to submit a PR with these changes for this issue and then discuss any design changes on the page? Or would you rather discuss design changes here? Or if you would like me to simply upload the images in the existing page design and submit

[2017-04-07 02:09] chowyb commented on #7046
@HirdayGupta a PR that fixes this issue should ideally upload the images in the existing page design, without changing the overall design if possible. An issue to change the design of about.jsp has already been opened (#7017), but is presently on hold so it's not a priority for now.

[2017-04-07 02:45] damithc commented on #6805
@mshehrozsajjad go ahead

[2017-04-07 02:51] damithc commented on #2342
@sujeet14108 we still have to confirm with the student that he wants to join using the currently logged in Google account. This is a very old issue; Looks like the current behavior is as desired. When I tried the scenario, I'm taken to this page, which is what we want.

![image](https://cloud.githubusercontent.com/assets/1673303/24783619/ff962494-1b7f-11e7-99f3-09c6728603ac.png)

I'm closing the i

[2017-04-07 02:51] #2342 closed

[2017-04-07 03:12] damithc commented on #5768
@HirdayGupta go ahead and submit a PR. No need to be assigned.

[2017-04-07 03:14] damithc commented on #7043
@mshehrozsajjad as you can see in the thread above, there is an open PR for this. Take a look at that PR and if you have a better solution, you can submit another PR. We don't mind multiple PRs for the same issue as long as they are not duplicate solutions.

[2017-04-07 03:21] damithc commented on #2402
@Mynk96 this is an old issue that might got fixed along the way without anybody noticing. If you can confirm the problem does not exist anymore, we can close this issue.

[2017-04-07 08:25] HirdayGupta opened #7052 "Git Help Required: Accidentally Merged Remote Tracking Branch"
Hi,

I seem to have accidentally merged a remote tracking branch into my fork's master. I think it is because of this that any of the new branches I create cannot be seen when I try to create a new pull request (using the compare across forks option). Requesting assistance on how to proceed. I have completed the changes required from Issue #7046 but am unable to open the pull request.

Thanks.

[2017-04-07 08:46] mshehrozsajjad commented on #7052
Have you followed the guidelines [here ](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md) about submitting a PR?

[2017-04-07 08:48] mukesh14149 commented on #1571
@damithc  Sir Which Stats are you talking about?
![t1](https://cloud.githubusercontent.com/assets/10887629/24792550/1fc6fb14-1b9c-11e7-931a-4a1c436b5060.png)
All sessions correctly showing their responses.

[2017-04-07 08:53] mshehrozsajjad commented on #7050
` npm run  build ` returned following error. Can someone help rearding this?

![Screenshot](https://cloud.githubusercontent.com/assets/19376792/24792954/7d677d0a-1b99-11e7-88da-ec55ef2b607f.PNG)

[2017-04-07 09:01] HirdayGupta commented on #7052
Yes,  I have. I am just unable to see the branch I have made the changes in here:
<img width="1145" alt="screen shot 2017-04-07 at 2 29 23 pm" src="https://cloud.githubusercontent.com/assets/18088721/24793181/b336820a-1b9e-11e7-9f89-849d1fc55ff3.png">

I think I am unable to see it because of the issue I mentioned earlier. Requesting any possible assistance into the matter. Thanks.

[2017-04-07 09:43] junhaoyap commented on #7015
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:43] #7015 closed

[2017-04-07 09:43] junhaoyap commented on #7013
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:43] #7013 closed

[2017-04-07 09:43] junhaoyap commented on #7012
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:43] #7012 closed

[2017-04-07 09:43] junhaoyap commented on #7011
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:43] #7011 closed

[2017-04-07 09:43] junhaoyap commented on #6997
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:43] #6997 closed

[2017-04-07 09:43] junhaoyap commented on #6996
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:43] #6996 closed

[2017-04-07 09:44] junhaoyap commented on #6962
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:44] #6962 closed

[2017-04-07 09:44] junhaoyap commented on #6950
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:44] #6950 closed

[2017-04-07 09:44] junhaoyap commented on #6949
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:44] #6949 closed

[2017-04-07 09:44] junhaoyap commented on #6945
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:44] #6945 closed

[2017-04-07 09:46] junhaoyap commented on #6944
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

@damithc I think @jujojujoju did, GSoC was mentioned at the end of the introduction.

[2017-04-07 09:46] #6944 closed

[2017-04-07 09:46] junhaoyap commented on #6943
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:46] #6943 closed

[2017-04-07 09:46] junhaoyap commented on #6939
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:46] #6939 closed

[2017-04-07 09:46] junhaoyap commented on #6878
Was informed that GSoC proposal deadline is over, if you need any help with any of the development procedures, please open a new issue on GitHub!

[2017-04-07 09:46] #6878 closed

[2017-04-07 09:51] nashmia-riaz commented on #6997
Thank you so much @jungaoyap and @Neurrone for your help! :)

[2017-04-07 09:57] mshehrozsajjad commented on #7050
Getting this error on `npm run build` Any help would be appreciated.

![Error](https://cloud.githubusercontent.com/assets/19376792/24795342/7c1f109e-1ba2-11e7-9c84-10904a3f73fa.PNG)

[2017-04-07 10:18] #6946 closed

[2017-04-07 11:03] damithc commented on #1571
The stats its referring to are no longer in the home page. Closing.

[2017-04-07 11:03] #1571 closed

[2017-04-07 11:30] sujeet14108 commented on #6806
@Neurrone Is this issue still open to solve ?

[2017-04-07 11:31] Neurrone commented on #6806
@sujeet14108 yup

[2017-04-07 11:33] basitsattar commented on #7015
@junhaoyap
Thanks a lot. I'll ask for help when needed.

[2017-04-07 11:37] sujeet14108 commented on #6806
@Neurrone  Ok on it.

[2017-04-07 12:21] rclakmal commented on #7052
@HirdayGupta Merging remote master to your fork master shouldn't create any problem. In fact this is what you call "Syncing the fork" and its good to sync your fork once in a while.

What exactly is the problem you are facing? which branch you can't see ?

[2017-04-07 12:22] rclakmal commented on #7052
If you can't see a branch in the PR tool, it is very well possible that you haven't push your branch yet and only exists locally.

[2017-04-07 12:24] amarlearning commented on #7050
@HirdayGupta earlier it was working fine! how come it's not working now ?

[2017-04-07 12:51] basitsattar commented on #7052
have you pushed the new branch to your remote? If not check out that branch and run this command

git push origin <name-of-your-branch>

to push the branch to remote origin.

[2017-04-07 13:20] amarlearning commented on #5965
@YongJieYongJie @damithc  @wkurniawan07 Can i take this one ?

[2017-04-07 13:56] damithc commented on #5965
@amarlearning go ahead.

[2017-04-07 15:46] Mynk96 commented on #2402
@damithc we can close this issue as, there are no two comments with same time

[2017-04-07 16:06] sujeet14108 commented on #6806
@Neurrone Do we just need to change "AES" to "AES/ECB/PKCS5Padding" ?

[2017-04-07 16:08] Neurrone commented on #6806
Not quite. There's a way of printing out the default cipher parameters being used; if its confirmed it uses the default of "AES/ECB/PKCS5Padding", then yes.

[2017-04-07 16:20] Neurrone commented on #6806
Actually, best to write tests too to verify that when explicitly specifying these parameters, its doing the same thing as just saying AES. Google uses its [own custom java runtime](https://cloud.google.com/appengine/docs/java/). Unlikely that its defaults are different, but better safe than sorry.

[2017-04-07 17:03] HirdayGupta commented on #7052
@rclakmal thanks, I think that fixed the issue! Apologies for the oversight on my part.

[2017-04-07 17:04] #7052 closed

[2017-04-07 17:17] mukesh14149 commented on #2515
I am working on this issue.

[2017-04-07 17:22] wkurniawan07 commented on #7050
To everyone who encounters this issue,

On behalf of the team working on the JavaScript code of the repository, I'd like to first apologize. No doubt this is caused by the recent migration to ES6 done only few weeks back.

To resolve this error, you need to do the following:
1. Before proceeding, you need to have Node.js installed in your machine.
1. `npm install` to download necessary tools such

[2017-04-07 18:21] wkurniawan07 commented on #6961
Re-opening as some pages still has `onclick`.

[2017-04-07 18:34] HirdayGupta commented on #5768
@damithc Apologies for the delayed response. Now that I am done working on #7046, I would like to ask what session instructions are you referring to?

[2017-04-07 18:34] wkurniawan07 commented on #6999
@AnaghHegde I do not seem to understand this. Is this a bug or something that works correctly but needs improvement?

[2017-04-07 18:35] wkurniawan07 commented on #6846
For CheckStyle, see if using version 6.19 instead of the latest 7.6 works.

This is the reason for the label.

[2017-04-07 18:36] #6932 closed

[2017-04-07 18:37] wkurniawan07 opened #7055 "Create a maintainer guide"
My last contribution in my capacity as a project lead.

[2017-04-07 18:54] amarlearning commented on #7050
@wkurniawan07 Getting this error!
![screenshot from 2017-04-07 23-47-33](https://cloud.githubusercontent.com/assets/9383897/24815118/b550e00a-1bf1-11e7-8979-f92d44dd41ef.png)

[2017-04-08 01:35] damithc commented on #2402
Thanks for the investigation @Mynk96

[2017-04-08 01:35] #2402 closed

[2017-04-08 01:42] damithc commented on #5768
@HirdayGupta

When creating a session, the instructor can specify additional instructions on how to answer the questions.

[2017-04-08 02:45] damithc opened #7058 "Show a tick in success messages"
![image](https://cloud.githubusercontent.com/assets/1673303/24824982/44065888-1c48-11e7-8e3b-ff2953e90b21.png)

Similar to how we show an `i` icon in the info message in screenshot, we can also show a tick icon in success message.

![image](https://cloud.githubusercontent.com/assets/1673303/24825006/7d5e0c02-1c48-11e7-9da6-0ba93fec7a91.png)

[2017-04-08 02:52] damithc opened #7059 "Show alerts in flat (not 3D) style"
To avoid alerts looking like expandable panels, we can use a flat (not 3D style) for alerts.

The current style:
![image](https://cloud.githubusercontent.com/assets/1673303/24825032/06c8162c-1c49-11e7-9377-5704249341ca.png)

Flat style:
![image](https://cloud.githubusercontent.com/assets/1673303/24825036/1b22a33a-1c49-11e7-83c6-8336bdfa9813.png)
![image](https://cloud.githubusercontent.com/assets/

[2017-04-08 03:27] damithc opened #7060 "admin search: show open/close dates for sessions in search results"
See screenshot below. It will be useful if the opening and closing dates are shown for each session, as it can help determine which sessions are current sessions. This is useful when a student emails us about not receiving a link without specifying which session he/she is referring to.

![image](https://cloud.githubusercontent.com/assets/1673303/24825266/f3b9712a-1c4d-11e7-8b36-47070e7add1d.png)

[2017-04-08 03:42] damithc opened #7061 "admin search: provide a mailto link with pre-filled values"
Current situation:

When a student emails admin requesting to resend a link, the admin users the 'admin search' page to locate the student and his/her links (see screenshot below), copy paste the link to a new email message, and send it manually to the student using a different email account (in case the one used by TEAMMATES is blocked on the student's side).

![image](https://cloud.githubusercon

[2017-04-08 03:46] damithc opened #7062 "Admin: provide a way to change the Google account of an instructor"
Sometimes an instructor can lose access to the previous Google account (e.g. lost password). In such cases, admin should be able to update the instructor account so that he/she can access previous courses using a new Google account.

[2017-04-08 04:06] damithc opened #7063 "Rich text boxes: make the toolbar appear over existing content"
Currently, when the user clicks on a rich text form field, the formatting toolbar is inserted above the form field, shifting all elements below it. When the user clicks outside the form field after editing it, the toolbar disappears and elements below it shifts again. This jumping of page content gets in the way of a smooth user user experience. It can also result in 'mishit clicks' i.e. user trie

[2017-04-08 05:19] #7046 closed

[2017-04-08 06:21] samsontmr opened #7064 "InstructorFeedbackResultsPageUiTest unstable on local dev server"
**Environment**

`master` branch from commit 90b40c0e1 onwards

**Trace**
[code]
@leeyimin is encountering this as well.

[2017-04-08 07:38] damithc opened #7065 "Instructor: remind particular students: show students who have submitted in gray color"
Current situation:

When the instructor choose 'Remind -> Remind particular students' option from the home page (see below), only those who have not submitted are shown in the list.
![image](https://cloud.githubusercontent.com/assets/1673303/24826806/c780cdb0-1c70-11e7-8162-5ea1a4820e20.png)

Suggestion:
Also show those who have submitted (possibly in gray color).

Justification:
In some cases a s

[2017-04-08 07:46] damithc opened #7066 "Instructor: view student list: add a 'delete all students' button"
Suggestion:
In the course details page, we can have a 'delete all students' button. Alternatively, we can have check boxes in each row with a 'Delete selected students' button.

![image](https://cloud.githubusercontent.com/assets/1673303/24826864/15afc74c-1c72-11e7-8046-781c10d604b4.png)

![image](https://cloud.githubusercontent.com/assets/1673303/24826859/ed7f0c38-1c71-11e7-8c46-07dcf1c72a5c.png)

[2017-04-08 08:20] damithc commented on #1166
No longer relevant

[2017-04-08 08:20] #1166 closed

[2017-04-08 08:25] damithc commented on #1103
No longer relevant

[2017-04-08 08:26] damithc commented on #1162
No longer relevant

[2017-04-08 08:26] #1162 closed

[2017-04-08 08:32] damithc commented on #1259
I believe we now give show part of the correct Google ID to the student.

[2017-04-08 08:32] #1259 closed

[2017-04-08 08:35] damithc commented on #1352
Old issue. closing.

[2017-04-08 08:35] #1352 closed

[2017-04-08 08:37] damithc commented on #1361
This was implemented at some point.

[2017-04-08 08:37] #1361 closed

[2017-04-08 09:25] #6991 closed

[2017-04-08 11:19] HirdayGupta commented on #5768
@damithc `session.getInstructionsString()` returns an HTML formatted string that is enclosed in `<p></p>` paragraph tags. This is quite inconvenient for email formatting as the email ends up looking like this:

<img width="1280" alt="screen shot 2017-04-08 at 4 35 28 pm" src="https://cloud.githubusercontent.com/assets/18088721/24828405/06f68a44-1c7a-11e7-800c-350ade935a71.png">

If I include a met

[2017-04-08 11:45] damithc commented on #5768
@HirdayGupta Can we put the session instructions inside a box (so that it doesn't get mixed up with the instructions in the email)?

[2017-04-08 13:39] nikiforosbotis commented on #2515
@mukesh14149 I'm sorry to say that but I have already started working on this issue, as it is proved by the images I had uploaded earlier. In order to follow the "best practice" as proposed by the "Teammates" team, I would propose you to let me some time to finish this issue and if I do not manage to produce the required result you can work on that. I hope you understand my point.

[2017-04-08 15:14] mukesh14149 commented on #2515
You hadn't updated on this issue since 16 days. So, I thought may be you were not working on it. I started working on it yesterday, and close to completion now. But,  if you too had completed the issue, go ahead.

[2017-04-08 15:31] mukesh14149 commented on #7065
I am working on this.

[2017-04-08 15:31] AnaghHegde commented on #7066
@damithc Look's interesting i will work on this. PR on the way.

[2017-04-08 15:44] AnaghHegde commented on #6999
@wkurniawan07 It's not a bug. It would be better if the summary at the top instead of having summary as well as all the responses one after the other.

[2017-04-08 15:51] AnaghHegde commented on #6846
I have tried installing PMD but not working. Also just now i tried with Eclipse
Version: Mars.2 Release (4.5.2)
Build id: 20160218-0600

Still the same error persists.

[2017-04-08 15:59] AnaghHegde opened #7069 "No styles/fonts are used in godmode.md"
It's similar to #6843.

![imageedit_11_7388678390](https://cloud.githubusercontent.com/assets/12005551/24830358/3cd98ac6-1ca2-11e7-8287-ea4523dbda29.jpg)

It's repeated in the page at many places. Add a missing space in between the # and the heading.

[2017-04-08 16:55] chowyb commented on #7069
Duplicate of #7049, closing this issue.

[2017-04-08 16:55] #7069 closed

[2017-04-08 16:58] AnaghHegde commented on #7069
Oops. Didn't see that. My bad.

[2017-04-08 18:22] nikiforosbotis commented on #2515
@mukesh14149 You're right, the thing is that I was working and I was planning to work on that issue during this week. However, in case you have completed your contribution please go ahead and submit a PR. If you have just started familiarizing yourself with the corresponding code, please give me some time and I will do it.

[2017-04-08 19:43] HirdayGupta commented on #6805
@damithc would you like these contact details to be included across all Feedback Session-related emails? Or do you have some specific ones in mind?

[2017-04-08 21:24] HirdayGupta commented on #7063
@damithc Github isn't tracking changes in `src/main/webapp/js/instructorFeedbackEdit.js`.
When I tried to add using `git add` it says the file is part of `.gitignore`. Why is this so? And should I use the `git add -f` command to override this?

[2017-04-08 23:49] mukesh14149 commented on #7061
@damithc  Sir, Can't this #7071 solve this issue, as instructor can directly remind this particular student from home page.
but If student wants link after the session is over then its a problem for instructor to remind from homepage.
If this is the situation i would like to solve this issue.

[2017-04-09 01:23] damithc commented on #6805
All of them.

[2017-04-09 01:32] damithc commented on #7061
No, this is for the case when a student write to the TEAMMATES admin (i.e. me) requesting the link instead of writing to the instructor. We allow both options.

[2017-04-09 01:38] damithc opened #7073 "instructor remind students: allow even if the session is closed"
Current situation:
The `remind` button in instructor home page is disabled if the session is closed.
![image](https://cloud.githubusercontent.com/assets/1673303/24833880/3089dc38-1d08-11e7-9034-46e9c21966b6.png)

Suggestion:
Enable it even if the session is closed, but not if it is awaiting.

Justification:
In rare cases, a student might want to have a copy of the link even after the session is cl

[2017-04-09 05:18] ablyx opened #7074 "Move putDocument to Task Queue in InstructorStudentCommentEditAction"
Similar to #6929, move putDocument to Task Queue.

[2017-04-09 06:33] wkurniawan07 commented on #7063
@HirdayGupta you need to override the `.es6` file.

[2017-04-09 06:37] #7034 closed

[2017-04-09 07:54] basitsattar opened #7075 "Unable to pass all tests. (help)"
- MacOs Sierra
- jdk : 1.70.80
- Eclipse Neon 3
- Firefox 45.0

**What I was trying to do / What I need help with**

I have set up teammates locally on my computer and have solved a few issues but some tests are failing. I have also tried with the default branch which has no changes but these two tests are failing in that branch too.

Here is the stack trace from my ./gradlew appengineRun ciTests

[2017-04-09 08:33] whipermr5 commented on #7075
Hey @basitsattar! Even though it's less than ideal, it's normal behaviour haha. The first one can probably be resolved by retrying a few more times. The second one too (with a lot more retries), though it's currently being made more stable in #7068. In our CI build, tests are retried up to four times before failing.

[2017-04-09 09:02] mukesh14149 commented on #7061
Ok i can work on this.

[2017-04-09 09:42] amarlearning commented on #5965
@damithc I found some useless code in the `instructorHelp.jsp`, what should I do with it?
This code is used in this page repeatedly. ([lines](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/instructorHelp.jsp#L8834-L8835), [lines](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/instructorHelp.jsp#L8821-L8822) and [lines](https://github.com/TEAMMATES/teammates/

[2017-04-09 10:18] Malkone commented on #6560
Please check the solution via link above for one class for the moment (StudentProfileAttributes). If such change is acceptable, I will make similar to other *Attributes classes.

[2017-04-09 10:23] amarlearning commented on #5965
@damithc As YongJieYongJie said in this [comment](https://github.com/TEAMMATES/teammates/issues/5616#issuecomment-230420900), The HTML structure of various sections of the help page is inconsistent and should be fixed before progressing further on this issue.

so this might take some time!

[2017-04-09 11:22] damithc commented on #5965
I'm ok with cleaning up the code first. Just create issues for them and proceed with submitting PRs for them.

[2017-04-09 11:36] amarlearning commented on #5965
@wkurniawan07 I have to write some Js code in order to resolve this issue. As there is no JavaScript file for the `instructorHelp.jsp`.

Should I make a new Js file for this page, or in which file should I write please let me know?

[2017-04-09 11:41] amarlearning opened #7078 "Some useless code found in InstructorHelp.jsp"
I found some useless code in the `instructorHelp.jsp`, what should I do with it?
This code is used in this page repeatedly. ([lines](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/instructorHelp.jsp#L8834-L8835), [lines](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/instructorHelp.jsp#L8821-L8822) and [lines](https://github.com/TEAMMATES/teammates/blob/mast

[2017-04-09 11:51] sujeet14108 commented on #7073
Working on it.

[2017-04-09 11:52] amarlearning commented on #7078
I am working on this!

[2017-04-09 12:01] basitsattar commented on #7075
@whipermr5
I have tried running the tests multiple times. In my first test run, there were 5 failed tests, which were reduced to 3 in the second run. One of them passed in third run and one in 5th run and now the only failed test is InstructorFeedbackResultsPageUiTest.testViewPhotoAndAjaxForLargeScaledSession.

You can also see the log in [travis ci here.](https://travis-ci.org/TEAMMATES/teammates

[2017-04-09 12:03] whipermr5 commented on #7075
👍 Wait for #7068 to get merged. In the meantime, it's okay to ignore the failing test.

[2017-04-09 12:08] basitsattar commented on #7075
ok. Thanks :)

[2017-04-09 12:38] HirdayGupta commented on #6805
Okay. And would you like the contact details of all course co-owners to be included?

[2017-04-09 13:47] damithc commented on #6805
Good question. yes, all co-owners.

[2017-04-09 13:56] #7064 closed

[2017-04-09 14:05] sujeet14108 commented on #7073
@damithc Is this what we want ?
![screenshot from 2017-04-09 19-34-24](https://cloud.githubusercontent.com/assets/9781422/24837889/9efd9512-1d5b-11e7-87da-04ad9861330f.png)

[2017-04-09 14:10] damithc commented on #7073
Yes. Note that the functionality should work in the backend too.

[2017-04-09 14:17] sujeet14108 commented on #7073
This is working just by changing
 `this.allowedToRemind =
                session.isOpened()
                && instructor.isAllowedForPrivilege(Const.ParamsNames.INSTRUCTOR_PERMISSION_MODIFY_SESSION);`

to

`this.allowedToRemind =
                (session.isOpened()||session.isClosed())
                && instructor.isAllowedForPrivilege(Const.ParamsNames.INSTRUCTOR_PERMISSION_MODIFY_SESSION);`

[2017-04-09 14:31] sujeet14108 commented on #7073
@damithc  Is this correct way of doing it ?

[2017-04-09 14:34] damithc commented on #7073
Can go ahead. When the PR is in, the reviewer can take a deeper look.

[2017-04-09 16:08] wkurniawan07 commented on #7033
Release 250

Code Contributions from: @amarlearning, @aigyz, @Dartteon, @Bedol, @boxin-yang, @Neurrone, @GregHib, @GriffinHines, @HirdayGupta, @whipermr5, @jujojujoju, @wkk91193, @dingliheng, @li-kai, @ablyx, @saching97, @thenaesh, @malayaleecoder, @wkurniawan07, @xpdavid, @leeyimin
Review Contributions from: @boxin-yang, @damithc, @Neurrone, @whipermr5, @junhaoyap, @li-kai, @ablyx, @samsontmr, @t

[2017-04-09 16:11] wkurniawan07 commented on #7033
@damithc

This release marks the introduction of `.es6` files. In order to get the `.js` (ES5) counterparts, here are the steps needed:
1. Install Node.js if necessary
1. `npm install` to download necessary tools such as Babel for transpiling
1. `npm run build`

[2017-04-09 20:15] whipermr5 opened #7082 "InstructorFeedbackResultsPageUiTest view photo test unstable"
**Environment**
Dev server at 34fc3e6

Main causes of failure in `testViewPhotoAndAjaxForLargeScaledSession`:

1. Expected `profile_picture_default.png`; got `studentProfilePic?studentemail={*}&courseid={*}&user=CFResultsUiT.instr`
    - due to the wrong popover being validated (multiple popovers open at once e.g. previous popover not fully dismissed yet); popover selector too general

1. `StaleEl

[2017-04-10 01:02] damithc commented on #7033
Is step 3 a one-time thing, or have to do each time?

[2017-04-10 06:07] wkk91193 commented on #6550
@wkurniawan07 Using feedbackResponseCommentsDb.search() returned results that were not relevant. I had to comment out assertSameContentIgnoreOrder() checks in order for tests to pass. Is the feedbackResponseCommentsDb.search() implemented correctly?

[2017-04-10 07:03] tarun14110 commented on #2847
It seems problem is solved. Is this what we want ?

![screenshot from 2017-04-10 12 27 02](https://cloud.githubusercontent.com/assets/12219700/24849389/21216a2c-1de9-11e7-99e5-177d39b7ff8a.png)
![screenshot from 2017-04-10 12 27 32](https://cloud.githubusercontent.com/assets/12219700/24849390/212626b6-1de9-11e7-8350-ceff0f3b1c45.png)

[2017-04-10 07:11] wkurniawan07 commented on #7033
Have to do it each time as it's a "build" step.

[2017-04-10 07:50] saching97 commented on #7059
@damithc I'm working on this, will update the teammatesCommon.css

[2017-04-10 09:08] damithc commented on #7033
You mean an extra step devs have to do every time they change es code? Doesn't sound optimal. Is it included in the gradle script?  I believe Intellij uses the gradle script to build.

[2017-04-10 09:29] damithc commented on #2847
Yes @tarun14110 seems to be solved. closing.

[2017-04-10 09:29] #2847 closed

[2017-04-10 09:35] wkurniawan07 commented on #6550
@wkk91193 I will not dismiss that possibility. What test cases were you using, what did you expect and what did you get instead?

[2017-04-10 10:03] xpdavid opened #7084 "Enforce LooseCoupling Rule in PMD for production code."
![image](https://cloud.githubusercontent.com/assets/13977235/24856552/b584c316-1e17-11e7-9a0a-f1254f1c4e24.png)
For example, we should expose `Map` instead of the implementation `HashMap` here.

Two tasks here:
1. Add `<rule ref="rulesets/java/typeresolution.xml/LooseCoupling"/>` to `teammates-pmdMain.xml`
2. Fix violations reported by PMD.

[2017-04-10 10:08] xpdavid opened #7085 "Replace raw exception throws in production code"
![image](https://cloud.githubusercontent.com/assets/13977235/24856706/41895e62-1e18-11e7-9712-2e89b85affa8.png)
For example, we should use `Assumption.assert*` here.

Three Tasks here.
1. Add `<rule ref="rulesets/java/strictexception.xml/AvoidThrowingRawExceptionTypes"/>` to `teammates-pmdMain.xml`
2. Fix violations reported by PMD (Make use of `Assumption.assert` instead)
3. Remove `TODO` if it i

[2017-04-10 10:18] xpdavid opened #7086 "Add more rules to Macker to enforce architectural rules"
Detail discussion: https://xpdavid.github.io/CS2103R-Report/#abstraction-level

[2017-04-10 12:58] AnaghHegde commented on #7066
@damithc One clarification, should i need to give option to delete students who are yet too join also?.

[2017-04-10 13:19] #7082 closed

[2017-04-10 13:31] wkk91193 commented on #6550
@wkurniawan07.
I committed my changes as referenced above!

expected:<[FeedbackResponseCommentAttributes [feedbackResponseCommentId = null, courseId = idOfTypicalCourse1, feedbackSessionName = First feedback session, feedbackQuestionId = 2, giverEmail = instructor1@course1.tmt, feedbackResponseId = 2%student2InCourse1@gmail.tmt%student1InCourse1@gmail.tmt, commentText = Instructor 1 comment to stu

[2017-04-10 13:55] damithc commented on #2983
Still happening

[2017-04-10 13:57] damithc commented on #7066
Yes. Join status is totally irrelevant to this feature.

[2017-04-10 14:02] Neurrone commented on #6550
@wkk91193 please use your open PR for discussion, as its confusing to have the discussion split across 2 places.

[2017-04-10 14:57] #6787 closed

[2017-04-10 14:57] #6818 closed

[2017-04-10 14:57] #6973 closed

[2017-04-10 15:23] AnaghHegde commented on #7066
Ok. Lets say a invitation is sent to student but immediately after that he is deleted using the delete button. But what if he joins using the link ?.

[2017-04-10 15:26] damithc commented on #7066
The link is useless if the student is deleted. Trying to use that link will result in an error.

[2017-04-10 15:29] #7002 closed

[2017-04-10 15:55] amarlearning commented on #7063
@damithc can I work on this issue?

[2017-04-10 16:02] jujojujoju commented on #6944
Yes, I did !
I am looking forward to GSOC results and are constantly trying to resolve issues.

[2017-04-10 18:08] xpdavid opened #7089 "Change the repackaged import in some classes"
~~Original:~~

~~`TypeToken` in `AdminEmailLogPageActionTest` should be imported from `com.google.gson.reflect.TypeToken` rather than `com.google.appengine.repackaged.com.google.gson.reflect.TypeToken`~~

Modified:

Some classes have imports from `com.google.appengine.repackaged.*` which was not recommended. They are:
- `com.google.appengine.repackaged.org.joda.time.DateTime` from `AdminEmailListG

[2017-04-11 04:06] damithc commented on #7063
@HirdayGupta are you working on this?

[2017-04-11 04:27] damithc opened #7091 "AllJsTests: fix failure against live server"
v5.101
2 cases failing

![image](https://cloud.githubusercontent.com/assets/1673303/24892811/eea9b512-1eb1-11e7-88fd-2bdb95a53870.png)

[code]

[2017-04-11 04:27] HirdayGupta commented on #7063
@damithc yes I am. I'm working on the method 1 (make the toolbar fixed all the time).

[2017-04-11 04:40] damithc commented on #4797
passed at v5.101
Will wait to see if it continues to pass

[2017-04-11 04:42] damithc commented on #7063
@amarlearning in that case you can try to other alternative if you want. We can compare the two approaches and choose the better one.

[2017-04-11 05:15] damithc opened #7092 "Instructor: view results: correct the initial direction of chevrons in question panels"
v5.101

steps:
login as an instructor and navigate to the results of a session.

actual:
![image](https://cloud.githubusercontent.com/assets/1673303/24893828/a533b822-1eb8-11e7-89ca-e4c2c8379056.png)

expected:
These should be pointing downwards

[2017-04-11 05:20] sujeet14108 commented on #7092
On it

[2017-04-11 07:24] presidentxi opened #7093 ""Countries and regions" instead of "countries" in the home page."
**Description of feature/enhancement**
In the home page, section **Growing Global Community**: it states

It should be **“countries or regions”** since Taiwan and Macau are among the list

------------
**Justification**

N.A.

------------
**Existing similar features and their shortcomings**

N.A.

[2017-04-11 08:38] whipermr5 opened #7095 "CSS files contain instances of multiple selectors written in the same line"
According to our CSS [coding standard](https://docs.google.com/document/d/1wA9paRA9cS7ByStGbhRRUZLEzEzimrNQjIDPVqy1ScI/pub), selectors must be specified in separate lines.

However, there are several violations of this rule in `teammatesCommon.css`, `datepicker.css` and `omniComment.css`.

[2017-04-11 08:44] whipermr5 opened #7096 "Use stylelint to enforce selector-list-comma-newline-after"
The [rule](https://stylelint.io/user-guide/rules/selector-list-comma-newline-after/) can help to prevent issues like #7095.

[2017-04-11 10:43] damithc opened #7097 "StudentCourseJoinAuthenticatedAction: NullPointerException in live server"
Received a few of these today
v5.101

[code]

[2017-04-11 10:54] wkurniawan07 commented on #6924
Closing as the issue scope is not clear.

[2017-04-11 10:54] #6924 closed

[2017-04-11 12:36] #6585 closed

[2017-04-11 14:08] #7093 closed

[2017-04-11 14:13] #7074 closed

[2017-04-11 14:42] amarlearning commented on #7063
Not able to understand, can you be please a little more descriptive.

[2017-04-11 14:45] AnaghHegde commented on #7092
@damithc Is this what you are asking ?.
![screenshot 112](https://cloud.githubusercontent.com/assets/12005551/24914997/9555eae8-1ef3-11e7-922e-a9137929b459.png)

[2017-04-11 14:50] puzrat opened #7099 ""Countries and regions" instead of "countries" in the home page."
### The old issue was #7093 .
@thenaesh I wasn't making and will not make any joke on this. What you did (closing it without any comments or commits) are considered as a serious insult. Github is a great open source community. What you do here is reading the enhancement description not my id and photo.

Just in case you are not aware of the **One China Policy** , it is stated clearly in the *Pream

[2017-04-11 14:58] thenaesh commented on #7099
The internal politics of a specific country have no place in an open, international community like TEAMMATES. Any further issue of this nature opened will lead to this account being banned.

[2017-04-11 15:08] AnaghHegde commented on #7085
@xpdavid Look's interesting i will work on this.

[2017-04-11 15:15] null09264 commented on #7099
@thenaesh This is non-sense. May I ask does your international community include China? May I ask does an international community need to follow the laws and regulations? **One China Policy** have to be admitted before PRC establishes diplomatic relations with any countries, which includes India and Singapore. Apparently, it is not the internal politics you have referred.

I think the project ment

[2017-04-11 16:10] damithc commented on #7099
The countries in the home page is based on the countries declared by users. We'll look into rephrasing it so as to avoid any controversy.

[2017-04-11 16:24] damithc commented on #7063
Like this:
![image](https://cloud.githubusercontent.com/assets/1673303/24919462/5ec91ca2-1f16-11e7-8425-773642ff46e3.png)

[2017-04-11 16:35] #7059 closed

[2017-04-11 16:50] boxin-yang commented on #7064
Hi @samsontmr @leeyimin , this problem can be solved by running npm run build . There's been some update and refactoring on js files and U need to update it with npm run build. (The commit that refactored the js code is [Move all document.ready functions to just one file per page #7002 ](https://github.com/TEAMMATES/teammates/pull/7004/commits/0e3d9d7adb9eae4dec4a80ab46cacc77c4b99f11)

[2017-04-11 17:09] boxin-yang commented on #7092
The initial value for panel.panelHeading.display-icon pull-right. glyphicon-chevron-up should be changed to glyphicon-chevron-down in this case.

[2017-04-11 18:03] AnaghHegde commented on #7092
@boxin-yang Yes. Indeed i followed the same. I changed ` glyphicon-chevron-up` to ` glyphicon-chevron-down`.

[2017-04-11 18:15] wkurniawan07 commented on #7099
@null09264

Hi Jinghan,

Firstly, I'd like to apologize that this situation had to happen. Allow me to give some clarifications.

We'd like to include as many as we can. We do have contributors coming from China and we are forever indebted to their contributions.

I fail to see the relevance of this. We are not political entities in any way and I do not see how "One China Policy" can be brought in

[2017-04-11 18:57] null09264 commented on #7099
Hi Wilson,

Thanks for the long explanation. Honestly speaking, I wasn't too serious about this in the beginning. I was browsing through the page and came to this glitch accidentally. What I wanted to do is just to simply make a reminder for you guys. I didn't make a request to remove Taiwan and Macau from the list, but twist your expressions to make it more appropriate. I wasn't upset until this

[2017-04-11 19:41] #7075 closed

[2017-04-11 19:57] thenaesh commented on #7099
@null09264 I was trying to just let the more senior team members handle this, but since you insist...

The reason why I closed the issue immediately was that:
1. It was dealing with a politically-charged issue that the TEAMMATES team does not wish to have anything to do with.
1. It was posted by a throwaway account with an extremely dubious account name.
1. It had "Justification: N/A".

It's the c

[2017-04-11 20:55] null09264 commented on #7099
Yes, your point is very clear that you never felt sorry for the impolite and disrespectful actions you have taken.

First, it is not relevant to politics AT ALL. Did I ask you to remove Taiwan from the list? What I purposed was just add two word "or regions" in the texts. I don't see how a Taiwanese would get outraged due to the expression "countries or regions". By the way, there's also Macau. Is

[2017-04-12 02:51] damithc commented on #7099
Let's not waste time discussing this anymore. It is unlikely we will gain anything from discussing this further, especially in this forum. The issue will remain open but locked until we get around to doing something about it. If any readers of this thread (TEAMMATES members or others) have further input, please email us (to the TEAMMATES contact address).

[2017-04-12 04:27] samsontmr commented on #7064
Great, thanks @boxin-yang! Marking this issue as resolved.

[2017-04-12 04:47] #7043 closed

[2017-04-12 05:25] #7097 closed

[2017-04-12 05:48] whipermr5 commented on #6914
@damithc Should this be closed? I noticed the live server is already running v5.101

[2017-04-12 05:51] whipermr5 commented on #6954
Closed in #6955

[2017-04-12 05:51] #6954 closed

[2017-04-12 06:01] damithc commented on #6914
Yes. forgot to close.

[2017-04-12 06:01] #6914 closed

[2017-04-12 06:05] whipermr5 opened #7102 "Release V5.102"
Scheduled for Apr 16, 2017, 11.59pm SGT.

[2017-04-12 06:07] whipermr5 opened #7103 "Update about.jsp with contributors from V5.102"

[2017-04-12 10:05] manisha-chouhan commented on #6988
i can handle this

[2017-04-12 14:53] sujeet14108 opened #7105 "Typos in Instructor Help"
![screenshot from 2017-04-12 20-09-51](https://cloud.githubusercontent.com/assets/9781422/24963478/54076778-1fbc-11e7-9501-a48c2efd6423.png)

![screenshot from 2017-04-12 20-09-16](https://cloud.githubusercontent.com/assets/9781422/24963479/5408c8e8-1fbc-11e7-86f3-efc083b6e66b.png)

![screenshot from 2017-04-12 20-06-26](https://cloud.githubusercontent.com/assets/9781422/24963535/7ce11342-1fbc-11e

[2017-04-12 17:21] whipermr5 commented on #6917
@damithc I'm guessing the script has been run and this issue can be closed?

[2017-04-12 19:04] sujeet14108 commented on #7096
On it

[2017-04-12 20:41] HirdayGupta opened #7108 "Eclipse compilation errors after commit c74ff60"
After merging from the 'TEAMMATES/master' now(13 April) to a test branch (no other commits except a merge from 'TEAMMATES/master' 9 days ago), I was given multiple compile errors by eclipse. After refreshing and cleaning the project, only one error remained.

The error is in **src/test/java/teammates/test/pageobjects/AppPage.java** on the following lines:

[code]

**Error description by Eclipse:**

[2017-04-12 21:55] mukesh14149 commented on #7060
I can work on this.

[2017-04-12 23:26] Neurrone commented on #7108
@HirdayGupta I've found that sometimes you need to do it a few times before it recognizes the updates to all the files.

[2017-04-13 01:20] whipermr5 commented on #7108
@HirdayGupta This is due to c74ff60 which changes some of the IDE settings which breaks existing projects but should be fine for freshly setup ones. To fix, go to project properties -> Java Compiler and set the JDK Compliance level to 1.7. You may also need to follow step 4 subsection `Google App Engine` of [this document](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md#eclips

[2017-04-13 01:23] damithc commented on #6917
Not yet. will do soon. We usually delay the the data migration for at least one more version in case we have to roll back the current version due to some problem.

[2017-04-13 02:00] whipermr5 opened #7110 "ide-usage.md: Eclipse section assumes JDK 1.7 default"
Even though there is a note that states this is not required, the project fails to build when following the steps exactly if JDK 1.7 is not the default. To fix, an additional step is required:

`Project properties -> Java Compiler -> Tick "Use compliance from execution environment 'JavaSE-1.7' on the 'Java Build Path'"`

Add this additional step with an accompanying screenshot (~~preferably macOS

[2017-04-13 05:29] HirdayGupta commented on #7108
@Neurrone @whipermr5 Thanks! Changing the compiler compliance level worked.

[2017-04-13 07:49] wkurniawan07 commented on #7110
Actually this is what you need to do:
![screen shot 2017-04-13 at 3 45 16 pm](https://cloud.githubusercontent.com/assets/7261051/24995145/479b06e4-2060-11e7-93f2-7d095e5ee109.png)

Using Java 8 with 1.7 compliance will compile, but it will result in incompatible JSP if I'm not mistaken.

[2017-04-13 08:06] whipermr5 commented on #7110
Even with the correct 1.7 library in the build path, the compliance level can still be wrongly set to 1.8 (and is indeed set to 1.8 if that is the default JDK in Eclipse). This results in the errors shown in #7108.

[2017-04-13 08:11] aashutoshrathi commented on #7089
@xpdavid assign this issue to me

[2017-04-13 14:20] Neurrone opened #7112 "Make statusToAdmin in *Action classes a List"
Right now, statusToAdmin is a String, which is annoying whenever multiple statuses needs to be sent, more so if it happens inside separate ifs.

Changing it into a List would make this much more convenient. However, this is a large-scale refactoring, that will touch all *Action classes.

[2017-04-13 17:51] khrisdaniels commented on #7105
I would like to work on this.

[2017-04-14 01:34] HirdayGupta commented on #7108
@whipermr5 @Neurrone Eclipse is giving new problems. I made no preference changes after the previous issue was fixed and somehow managed to get some XML errors out of nowhere. I currently have the following four errors. All of them are only on XML Files.

1. **Error Message:** *cvc-complex-type.2.4.a: Invalid content was found starting with element 'exclude-pattern'. One of '{"http://pmd.sourcefor

[2017-04-14 02:51] #7105 closed

[2017-04-14 06:10] AnaghHegde opened #7118 "Unable to run test locally"
Since from today i am getting this error. I tried with both chrome and firefox, but no luck
![screenshot 118](https://cloud.githubusercontent.com/assets/12005551/25034841/2492f3bc-2107-11e7-882a-57650b364d34.png)

[2017-04-14 07:11] damithc commented on #7118
Post the full stack trace. The screenshot is missing some important part of the error message.

[2017-04-14 07:20] AnaghHegde commented on #7118
FAILED CONFIGURATION: @BeforeMethod refreshTestData
java.lang.AssertionError: expected:<[BACKDOOR_STATUS_SUCCESS]> but was:<[BACKDOOR_STATUS_FAILURE] javax.jdo.JDOUserException: Persistent class "Class teammates.storage.entity.Course does not seem to have been enhanced.  You may want to rerun the enhancer and check for errors in the output." has no table in the database, but the operation requires

[2017-04-14 07:31] damithc commented on #7118
This is the key phrase `does not seem to have been enhanced`
Something wrong with the GAE set up. You may want to google for the above phrase. But before that, you can check the 'markers' tab in your eclipse (also shown in your screenshot).

[2017-04-14 07:38] AnaghHegde commented on #7118
It's not showing any warnings related to GAE.
![screenshot 119](https://cloud.githubusercontent.com/assets/12005551/25036790/643fd316-2113-11e7-8c58-9eaed4369704.png)

[2017-04-14 07:45] #7078 closed

[2017-04-14 08:01] VamsiSangam commented on #6886
Can I work on this issue?

[2017-04-14 10:40] wkurniawan07 commented on #7089
I'll escalate the issue a bit.

@aashutoshrathi feel free to, there is no need to be assigned.

[2017-04-14 10:42] aashutoshrathi commented on #7089
Should I just open a PR ?

[2017-04-14 10:44] wkurniawan07 commented on #7089
@aashutoshrathi that's right. Do take note that I just added some more works to be done for this issue.

[2017-04-14 10:45] aashutoshrathi commented on #7089
Ok done thanks @wkurniawan07

[2017-04-14 11:16] Devmassnk opened #7119 "I am getting error while running tests. What is issue here ?"
[TestNG] Running:
  /tmp/testng-eclipse-1868599205/testng-customsuite.xml

[=============================teammates.test.cases.browsertests.InstructorHomePageUiTest=============================]
Re-trying removeAndRestoreDataBundle -
java.io.IOException: Server returned HTTP response code: 500 for URL: http://localhost:8888/backdoor
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream(Htt

[2017-04-14 11:20] sujeet14108 commented on #6886
@VamsiSangam  Actually i am working on this issue and would make a pull request by tonight.

[2017-04-14 11:31] VamsiSangam commented on #6886
Ok cool. Will move to another issue then. Good luck :smile:

[2017-04-14 11:37] VamsiSangam commented on #7110
Can I work on this?

[2017-04-14 12:40] whipermr5 commented on #7110
@VamsiSangam Sure!

[2017-04-14 13:58] #7095 closed

[2017-04-14 13:58] #7096 closed

[2017-04-14 17:57] wkurniawan07 commented on #7119
@Devmassnk

- Is your dev server running when you're running this test?
- I checked your fork and it looks like you're using a very old version. Have you updated to the latest one?

[2017-04-15 02:00] Devmassnk commented on #7119
I pulled the latest code. I am getting below error in project.
![17949955_1311204088966526_1066038535_o](https://cloud.githubusercontent.com/assets/16254475/25059897/62542eea-21ad-11e7-8eed-b1b63a096340.png)

[2017-04-15 05:04] whipermr5 commented on #7118
Not sure if this will fix it but worth a shot: https://github.com/TEAMMATES/teammates/issues/7108#issuecomment-293750635

[2017-04-15 05:10] whipermr5 commented on #7108
@HirdayGupta Make sure XML validation is [disabled](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md#eclipse-ide):
[code]

After that, redo the steps listed [above](https://github.com/TEAMMATES/teammates/issues/7108#issuecomment-293750635). Note that the settings are lost and you'll need to do those steps again every time you switch to an older branch (even after switching back

[2017-04-15 05:51] shrut1996 commented on #7118
I'm also getting similar errors since yesterday

![screenshot from 2017-04-15 11-15-15](https://cloud.githubusercontent.com/assets/20799404/25061147/8d583b5c-21cd-11e7-8069-d0255b32eae1.png)

[2017-04-15 05:57] shrut1996 commented on #7112
I'll work on this

[2017-04-15 06:03] #7089 closed

[2017-04-15 07:06] whipermr5 commented on #7118
Yup the XML errors are all due to problems with the GAE config. Follow the steps here: https://github.com/TEAMMATES/teammates/issues/7108#issuecomment-294272896

[2017-04-15 07:12] Mynk96 commented on #7118
Well, I was having similar issues. Resetting the eclipse config using Gradle commands worked for me.
(./gradlew createconfigs, ./gradlew cleanEclispe, ./gradew eclipse)

[2017-04-15 07:27] Mynk96 commented on #7118
And also please verify google app engine settings i.e. Datanucleus version, ORM Enhancement, Validation exclusion and WAR Directory.

[2017-04-15 08:28] wkurniawan07 opened #7125 "Add more import rules to CheckStyle"
Currently enforced:
- No unused imports
- No redundant imports (e.g. duplicate, same package, or `java.lang.*`)
- No star imports ([item 3 of this section][coding-standard])

Good to enforce:
- Import order ([item 2 of this section][coding-standard])
- No import from `sun.*` and `com.google.appengine.repackaged.*` (reference: #7089)
- No import if the usage is only in Javadoc. Reason: unnecessary

[2017-04-15 10:13] VamsiSangam commented on #7044
Can I work on this?

[2017-04-15 10:18] shrut1996 commented on #7118
Thanks @Mynk96 @whipermr5 Got rid of the errors :+1:

[2017-04-15 13:40] #7125 closed

[2017-04-15 15:43] HirdayGupta commented on #7108
@whipermr5 Thank you so much for the assistance. That seems to have solved the issue.

[2017-04-15 15:43] #7108 closed

[2017-04-15 16:36] xpdavid opened #7131 "Fix some violations to boolean variable naming convention"
Fix some violations reported by https://xpdavid.github.io/CS2103R-Report/#boolean-variable-naming-convention

[2017-04-15 16:52] AnaghHegde commented on #7118
@whipermr5 No luck. Still facing the issue.

[2017-04-15 18:43] xpdavid opened #7134 "Fix some bad practices in FeedbackConstantSumQuestionDetails.java"
In `FeedbackConstantSumQuestionDetails.java`, variables are first initialised to `null` and then being assigned by value. There is no point to do this especially they will be assigned by value immediately.
[code]

[2017-04-15 19:33] AnaghHegde opened #7135 "ide-usage.md: add a link to development.md"
There is no hyper link to `development.md` page from `ide-usage.md` page.

![capture](https://cloud.githubusercontent.com/assets/12005551/25066321/46a686f0-2240-11e7-9d49-79211af8e6d4.PNG)

May the link can be given before in the step 6 instead of the link to `static-analysis.md` page.

[2017-04-15 19:39] flpcury commented on #7134
I'll request a pull soon.

[2017-04-15 22:16] AnaghHegde opened #7136 "ide-usage.md: eclipse setup: correct menu path for project-specific settings"
In the ide-usage.md in [Step 4](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md#eclipse-ide) it says

Configure the following project-specific settings (all can be found in `Project → Properties → ...`):

[code]

but in both windows and Linux these option is there in  `Window`→ `Preference`

![screenshot from 2017-04-16 03-38-01](https://cloud.githubusercontent.com/assets/1200

[2017-04-16 00:26] Jvsierra commented on #6985
I solved the issue and referenced it in this pull: https://github.com/TEAMMATES/teammates/pull/7137

[2017-04-16 00:43] AToleuov opened #7139 "New Contributor Self-Intro: Assan Toleuov"
- **Link to my app:** https://teammates-assan.appspot.com
- **Link to my fork:** https://github.com/atoleuov/teammates

**Screenshot of changes made**
As seen on the UI, I modified the main page by structuring the information into table grid and putting the dynamic content (user testimonials) at the top for better user experience.

<img width="1280" alt="screen shot 2017-04-16 at 06 33 15" src="ht

[2017-04-16 04:24] Neurrone commented on #7139
Hi @AToleuov, welcome to TEAMMATES!

You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue to become familiar with our workflow, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-04-16 06:06] #6985 closed

[2017-04-16 07:21] Mynk96 opened #7140 "Admin emails: Add tests for sending email using groupmode"
Test cases present only to check addressmode of AdminEmailPage.

[2017-04-16 07:21] Mynk96 commented on #7140
working on it!

[2017-04-16 07:24] Mynk96 opened #7141 "Typos in AdminEmailComposeSendAction.java"
Reciver should be corrected to Receiver.

[2017-04-16 09:09] wkurniawan07 commented on #7135
There is no need for such. The said document is meant for setting up IDE only, which has been made entirely optional by #6980.

[2017-04-16 10:46] HirdayGupta commented on #7136
Even on the Mac on Eclipse Mars(4.5.0) these settings are in `Eclipse` -> `Preferences`

[2017-04-16 10:53] HirdayGupta opened #7142 "Unstable eclipse behaviour after new merges"
Apologies for a continuous stream of eclipse issues.

After a lot of issues with Eclipse development (Mars 4.5.0), I removed the repo from my computer, redownloaded it, merged from TEAMMATES/master to my repo's master and set up the environment following each step in the documentation, thus peforming a **clean install** of the new dev environment.

I was able to work successfully & error free for

[2017-04-16 11:12] HirdayGupta commented on #7142
**UPDATE:** I ran ./gradlew resetEclipseDeps followed by ./gradlew setUpEclipse(again after having already run this during set up) followed by changing the compiler compliance level back to 1.8 and then back again to 1.7, which seems to have fixed the issue for now.

@whipermr5 do you reckon this is a local eclipse problem that keep breaking my project? or something to do with [`c74ff60`](https://

[2017-04-16 12:13] wkurniawan07 commented on #7142
@HirdayGupta

`./gradlew setupEclipse` would already have performed the reset of dependency, thus you should not need to run these two in the first place. The compiler compliance level at 1.7 seems to be a necessary step that I missed during that commit c74ff60; I apologize for that, but it should be fixed in #7123.

Next time something breaks again (I hope it won't, but just in case), do not post

[2017-04-16 12:15] wkurniawan07 commented on #7118
@AnaghHegde can you try a `Clean` and re-running the test again?

[2017-04-16 12:36] HirdayGupta commented on #7142
@wkurniawan07 Thanks!

I'll make a note of that.

Also, my compiler compliance was already at 1.7 when it broke. I just set it back to 1.8, cleaned the project (breaking it further) and then set it back to 1.7 (which magically fixed it).

[2017-04-16 13:14] AnaghHegde commented on #7118
@wkurniawan07 I tried that not helping.

[2017-04-16 13:26] AnaghHegde commented on #7118
[code]

[2017-04-16 13:31] Mynk96 commented on #7118
Have you made changes in Project Properties->Google->App Engine->Orm and changed it to
![orm](https://cloud.githubusercontent.com/assets/17481466/25071494/0b07458e-22d7-11e7-801d-ba0df5100ed9.PNG)

[2017-04-16 13:35] AnaghHegde commented on #7118
@Mynk96 Yes. I will post the screen shot here

![screenshot 120](https://cloud.githubusercontent.com/assets/12005551/25071509/930cf91a-22d7-11e7-94a2-ab51aef71292.png)

![screenshot 121](https://cloud.githubusercontent.com/assets/12005551/25071511/98ec6dac-22d7-11e7-87a7-b08bd6346c9d.png)

![screenshot 122](https://cloud.githubusercontent.com/assets/12005551/25071512/a2947cfa-22d7-11e7-920a-8c027c

[2017-04-16 14:49] TheRealDonaldJTrump opened #7143 "USA and references to the United States of America should come first."
**Description of feature/enhancement**

`USA` and `American` should appear before the entries of other countries and nationalities, in any occurrences within lists, both ordered and unordered, and dropdown menus.

**Justification**

From this day forward, a new vision will govern our land. From this day forward, it’s going to be only America First.

**Existing similar features and their shortcomin

[2017-04-16 14:56] sujeet14108 commented on #2972
@Neurrone
How do we want to replace assertNotNull by assertPostParamNotNull in this case
`        AdminEmailAttributes adminEmail = logic.getAdminEmailById(emailId);
        Assumption.assertNotNull(adminEmail);`

by
`        AdminEmailAttributes adminEmail = logic.getAdminEmailById(emailId);
        Assumption.assertPostParamNotNull(emailId,adminEmail);`
?

[2017-04-16 15:18] damithc opened #7144 "'Session closed' email: mention no action required"
Current:
TEAMMATES sends an email to student at the time a session closes, and also, 24 hours before closing

Suggestion:
In the email body, mention something like 'no action required if already submitted'

Justification:
Some students write back to say 'no idea what to do for this email, I already submitted'

[2017-04-16 16:05] wkurniawan07 commented on #7118
@AnaghHegde how about the Google -> App Engine tab?

[2017-04-16 16:10] AnaghHegde commented on #7118
![screenshot 125](https://cloud.githubusercontent.com/assets/12005551/25072501/510f00ba-22ed-11e7-95c9-993b70351292.png)

Is this what you are asking for ?

[2017-04-16 16:14] li-kai commented on #6527
Closed due to #6930

[2017-04-16 16:14] #6527 closed

[2017-04-16 16:43] whipermr5 commented on #7118
@AnaghHegde Your ORM screenshot is showing the wrong path... it starts with `rc` instead of `src`. I'm guessing it's because Chrome doesn't let you start highlighting from the first character in `code` fields (happened to me before)
![screenshot 121](https://cloud.githubusercontent.com/assets/12005551/25071511/98ec6dac-22d7-11e7-87a7-b08bd6346c9d.png)

[2017-04-16 16:50] nassimbg opened #7146 "New contributor self intro Nassim Bou Ghannam"
- My App: [https://teammates-nassim.appspot.com/](url)

- Fork: [https://github.com/nassimbg/teammatesBG](url)

![image](https://cloud.githubusercontent.com/assets/27228405/25072625/31faa578-22dc-11e7-96d5-0f49728ee821.png)
![image](https://cloud.githubusercontent.com/assets/27228405/25072627/4284f38a-22dc-11e7-8cc2-00616211536e.png)
![image](https://cloud.githubusercontent.com/assets/27228405/250

[2017-04-16 17:00] Neurrone commented on #7146
Hi @nassimbg, welcome to TEAMMATES!

You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue to become familiar with our workflow, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-04-16 17:02] AToleuov commented on #7134
Hi @xpdavid! Can I be assigned to fix this issue as my first "d.FirstTimers" commit?

[2017-04-16 17:11] AnaghHegde commented on #7118
@whipermr5 Nice catch. I was missing this, whole time. Thank you.

[2017-04-16 17:47] #6699 closed

[2017-04-16 18:30] nassimbg commented on #7146
Hey @Neurrone,

Thank you

[2017-04-16 19:09] AnaghHegde commented on #7085
@xpdavid I have some questions How should i have to handle the `catch` block exception in `Assumption.assert*` methods as there is no proper one to handle exception. Shall i write a new method ?.

[2017-04-16 22:59] AnaghHegde commented on #7135
@wkurniawan07 I know its optional but its recommended right?. So i thought its better to give a link to development page instead of giving the link directly to the analysis page.

[2017-04-17 03:17] #7058 closed

[2017-04-17 03:52] #7103 closed

[2017-04-17 04:09] whipermr5 commented on #7102
Release 251

Code Contributions from: @aashutoshrathi, @basitsattar, @amarlearning, @AnaghHegde, @whipermr5, @Jvsierra, @khrisdaniels, @Mynk96, @ablyx, @saching97, @sujeet14108, @wkurniawan07
Review Contributions from: @boxin-yang, @damithc, @Neurrone, @whipermr5, @li-kai, @ablyx, @samsontmr, @thenaesh, @wkurniawan07, @xpdavid

Sprint Period: Apr 10, 2017 - Apr 16, 2017
Sprint Velocity: 32 hrs (co

[2017-04-17 04:17] whipermr5 commented on #7102
@damithc

This release changes some of the Eclipse config files tracked in the repo to make new Eclipse projects less dependent on global Eclipse settings. However, existing projects might break, and you may need to follow [these steps](https://github.com/TEAMMATES/teammates/issues/7108#issuecomment-293750635) if your Eclipse project is broken.

Also, the issue with JavaScript files not being auto

[2017-04-17 05:15] damithc commented on #6917
done

[2017-04-17 05:15] #6917 closed

[2017-04-17 05:16] #7118 closed

[2017-04-17 08:25] #6560 closed

[2017-04-17 10:45] whipermr5 commented on #7142
I just experienced the same issue - very weird indeed.

[2017-04-17 11:12] damithc commented on #7102
@samsontmr @leeyimin are you able to run dev server in intellij at v5.102?

[2017-04-17 11:23] #7141 closed

[2017-04-17 11:32] whipermr5 commented on #7102
I had to ignore [`15. Remove "Build" by selecting it and clicking -`](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#set-up-the-run-configuration) (or rather, add back the build step after adding the `assemble` gradle task) for it to work.

[2017-04-17 11:33] qlassalle opened #7152 "New contributor selfintro Quentin Lassalle"
- Link to my app : http://teammates-qlassalle.appspot.com

- Link to my fork : https://github.com/qlassalle/teammates

- The changes I've done to the UI :

![capture d ecran 2017-04-17 a 13 27 48](https://cloud.githubusercontent.com/assets/9036994/25087801/e54de8ca-2371-11e7-8e5a-530d1733f51d.jpg)

![capture d ecran 2017-04-17 a 13 29 52](https://cloud.githubusercontent.com/assets/9036994/25087806

[2017-04-17 11:44] boxin-yang opened #7153 "Remove redundant testing for instructorFeedbackResultsPage in FeedbackRubricQuestionUiTest and FeedbackRankQuestionUiTest"
**Description of feature/enhancement**
Currently in FeedbackRubricQuestionUiTest and FeedbackRankQuestionUiTest, the testing on instructorFeedbackResultsPage runs in different views. For example in FeedbackRubricQuestionUiTest:
[code]
In testInstructorResultsPage(), the test for instructorFeedbackResultsPage is run under different views, which contains the same data. This does not help to capture

[2017-04-17 11:47] damithc commented on #7102
Yeah, I had to do that too to get the server running. However, it throws an error when you try to login because the entity classes are `not enhanced`.

[2017-04-17 11:57] junhaoyap commented on #7153
The bottom line here is if there are multiple tests spanning across our suite that tests for the same things, it is placing unnecessary load on our development process, i.e. excessive testing time and we need to figure out if the above is unnecessary / necessary

[2017-04-17 13:10] whipermr5 commented on #7102
@damithc My bad; it's not working for me too. My error is

`Caused by: org.datanucleus.exceptions.NucleusException: Plugin (Bundle) "org.datanucleus.store.appengine" is already registered. Ensure you dont have multiple JAR versions of the same plugin in the classpath. The URL "file:/Users/whipermr5/workspace/teammates/build/libs/exploded/teammates.war/WEB-INF/lib/datanucleus-appengine-1.0.10.final

[2017-04-17 13:21] whipermr5 commented on #7102
After manually deleting either of the two `jar`s and restarting the server, it works.

[2017-04-17 13:39] AnaghHegde commented on #5532
@damithc So what exactly has to be standardized in this issue?.

Does this mean's the output of the AssertNotNull() method has to be standardised to something common?.

[2017-04-17 13:39] wkurniawan07 commented on #7142
@whipermr5 that is perhaps because you updated the `release` branch; essentially deleting the Eclipse settings file again.
I never expect c74ff60 to cause this much trouble, apologies for this 😓

[2017-04-17 13:46] AnaghHegde commented on #1872
@Neurrone Shall i work on this?.

[2017-04-17 13:49] Neurrone commented on #1872
@AnaghHegde sure.

[2017-04-17 13:51] AnaghHegde commented on #1872
@Neurrone I assume you have done some work on this earlier based on what you have commented above.  I didn't get what you were trying to say in the above comment. Can you brief me a little about it?.

[2017-04-17 13:54] Neurrone commented on #1872
@AnaghHegde afraid not. Tried working on this as my first contribution to teammates, which was some time ago, so I don't remember much about it. Didn't write any code for this, since I needed to understand the current code first.

[2017-04-17 14:41] damithc commented on #7085
Probably need to throw a more specific exception class (i.e. a subclass of RunttimeException) to avoid the PMD violation.

[2017-04-17 14:43] samsontmr commented on #7102
@damithc usually running clean before the server again solves that error when "build" is added. That was actually the reason we removed "build".

[2017-04-17 14:54] AnaghHegde commented on #7085
I don't know if it's the best way but, in AssertionError class if we change it to public we can manage using
`Assumption.assert*()`. I still don't whats the point of having it as private.
[code]

[2017-04-17 15:10] xpdavid commented on #7085
@AnaghHegde Note that AssetionError is come with `jdk1.7`. It is not the class defined by us. Also, there are difference between checked and unchecked exception in Java, which is the reason why we need to write dummy `return` if we use `Assumption.assert*` or `Assumption.fail()`

[2017-04-17 19:08] sdweber422 commented on #6989
Currently fixing this. Will have a PR in a few minutes.

[2017-04-17 20:51] sdweber422 opened #7155 "Uncaught typo in FeedbackResponseCommentRow.java"
Typo caught in issue #6989 also found in src/main/java/teammates/ui/template/FeedbackResponseCommentRow.java

Typo did not show up in CheckStyle Audit:
https://htmlpreview.github.io/?https://github.com/xpdavid/CS2103R-Report/blob/master/codingStandard/spelling/main.html#f-/Users/XP/Documents/teammates-git/src/main/java/teammates/ui/template/FeedbackResponseCommentRow.java

responseVisiblities is n

[2017-04-18 02:58] rchliu opened #7156 "Help Request: "Unexpected token" errors in .js files in the node_modules folder"
- **Operating System:** Windows 10
- **JDK Version:** 1.7
- **Eclipse / IntelliJ Version (if applicable):** Neon 4.6.3 - JEE
- **Firefox / Chrome Version (where applicable):**

My current installation of Node is 6.10.2, with npm 3.10.10.

**What I was trying to do / What I need help with**
I'm in the process of setting up the dev environment with Eclipse. After cleaning the project, I'm receiving

[2017-04-18 05:23] damithc opened #7157 "Intellij setup: Add back the Staging tests config file"
The Intellij config file for staging tests was added in #6824 but has gone missing again.

[2017-04-18 05:59] damithc opened #7158 "Intellij: Fix CI tests failing due to duplicate files"
'CI Tests' run configuration fails with the following error:

[code]

[2017-04-18 06:03] wkurniawan07 commented on #7157
This is my doing in #6980. What is the purpose of staging tests?

[2017-04-18 06:11] damithc commented on #7102
Managed to get the dev server running by doing a fresh set up.

[2017-04-18 06:18] damithc commented on #7157
Those are the tests run against the live server before deployment.

[2017-04-18 07:04] whipermr5 commented on #7156
The contents of the libraries in `node_modules` are out of the scope of our project, and shouldn't be validated.

To disable validation for this folder:
`Preferences` -> `Validation` -> `JavaScript Validation | Settings (...)` -> `Add Exclude Group...` -> select newly added `Exclude Group` -> `Add Rule...` -> select `Folder or file name`; click `Next >` -> `Browse Folder...` -> navigate to `node_m

[2017-04-18 07:14] whipermr5 opened #7159 "ide-usage.md: Add steps to disable JavaScript validation for node_modules folder in Eclipse"
The `node_modules` folder contains external JavaScript libraries and do not need to be validated. Skipping validation will save a lot of CPU resources and avoid issues like #7156.

The steps are:
`Preferences` → `Validation` → click `...` settings button for `JavaScript Validation` → click `Add Exclude Group...` if `Exclude Group` is not already in the list → `Exclude Group` → `Add Rule...`  `Fold

[2017-04-18 07:47] whipermr5 opened #7160 "ide-usage.md: Wrong order of running gradle task setupIntellij for IntelliJ setup"
The doc states that `./gradlew setupIntellij` should be run before importing the project. However, during project import, IntelliJ asks if it can overwrite the existing `.idea` folder, which contains the launch configurations generated by `./gradlew setupIntellij`. The command then has to be run again to get the launch configurations.

The command `./gradlew setupIntellij` should be moved to the l

[2017-04-18 07:47] damithc commented on #7091
Failing at v5.102

[2017-04-18 07:55] damithc commented on #6575
failing at v5.102

[2017-04-18 08:04] whipermr5 commented on #7102
@samsontmr Without the build step in a fresh set up, I'll get this error:
<img width="869" alt="screen shot 2017-04-18 at 3 57 49 pm" src="https://cloud.githubusercontent.com/assets/6811428/25120361/4b094d1a-2450-11e7-9d4a-b9a99c06d3b7.png">
After manually building the project and trying to run the dev server again, I get `Class teammates.storage.entity.Account does not seem to have been enhanced.

[2017-04-18 08:13] damithc commented on #7102
Same case for me. I couldn't get rid of it until I did a fresh setup.

[2017-04-18 08:19] whipermr5 commented on #7102
This was for a fresh setup. I fixed it by going to `Project Structure` → `teammates` → `teammates_main` → `Google App Engine`, removing the existing entries and adding `teammates/src/main/java/teammates/storage/entity`.

[2017-04-18 08:28] samsontmr commented on #7102
@whipermr5 does the error never appear again once you do that?

Running `clean` temporarily solves the problem for me.

[2017-04-18 08:36] AnaghHegde commented on #1872
@Neurrone @damithc @thyageshm Should i need to consider the grace time also?.

[2017-04-18 08:40] nikiforosbotis opened #7161 "InstructorRequestAccount: Move from Google Forms to a "Proper Request System""
Dear All,

I have chosen to work (and I have already started to doing so) with the creation of a "proper request system" instead of the Google Form in the "request.jsp" page, as proposed in [that](https://docs.google.com/document/d/1hjQQHYM3YId0EUSrGnJWG5AeFpDD_G7xg_d--7jg3vU/pub?embedded=true) page.

First of all, I would like to ask you where the data obtained from the form should be stored. I g

[2017-04-18 08:48] damithc commented on #1872
No. Students are unaware of the grace period.

No, it can be for anybody who loads the page.

BTW, there is no need for a countdown. Just show a one-time warning at page load if there is less than 15 minutes left.

[2017-04-18 08:52] whipermr5 commented on #7135
@wkurniawan07 I actually agree with @AnaghHegde, especially since `development.md` contains further instructions to set up the IDE e.g. creating the IntelliJ Dev Server run configuration; setting the VM arg `-Duser.timezone=UTC` for testing etc. It is also quite strange that the link to `development.md` from `settingUp.md` comes before the link to `ide-usage.md` - even though the IDE step is optio

[2017-04-18 09:00] #6989 closed

[2017-04-18 09:05] AnaghHegde commented on #1872
@damithc I am confused. Are we gonna send them email or it will be just displayed in the feedback session page?.

[2017-04-18 09:06] damithc commented on #1872
2nd one.

[2017-04-18 09:32] nikiforosbotis commented on #7161
@damithc I see what you mean but I consider it as a very good way in order to familiarize myself with the project and contribute to it. Is it impossible to get some help on that? I have already done some work and I really believe that I can produce a nice result.

[2017-04-18 10:34] AnaghHegde commented on #7135
@whipermr5 I think it can be a first timer issue if we give the proper step of what should be done.

[2017-04-18 11:00] AnaghHegde opened #7162 "Not able to create feedback session in dev server"
I tried in both chrome as well as firefox but it's not giving the option to create session. I also tried with
` /admin/adminHomePage` and then creating an instructor from there but still the same issue.

![screenshot 126](https://cloud.githubusercontent.com/assets/12005551/25127522/c813910a-2453-11e7-9bb0-34175f0be022.png)

[2017-04-18 11:04] AnaghHegde opened #7163 "Local test is unstable in devserver"
Recently getting this exception in devserver - even though all the test passes.

[code]

[2017-04-18 11:18] saching97 commented on #7160
@whipermr5 I'll be working on this

[2017-04-18 11:29] damithc commented on #5628
Not sure when it broke, but this feature is not working anymore :-p

[2017-04-18 11:34] damithc opened #7164 "Instructor: download results: include only the selected section"
Current:
An instructor can choose to show results of a specific section.
![section](https://cloud.githubusercontent.com/assets/794011/16062246/2ac6e310-3292-11e6-8a6c-5a9fda6ffa5f.png)
However, when the instructor downloads the results using the `Download Results` button, all responses of that session are in the downloaded csv file.

Suggestions:
Only responses for the selected section should be i

[2017-04-18 11:56] sujeet14108 opened #7165 "InstructorHomePageUiTest: remove redundant reloading of previous page"
Non Needed redirection in UInstructorHomePageUiTest

 No need of redirection ( `homePage.goToPreviousPage(InstructorHomePage.class);` ) while testing remind button as the browser remains in the home page after sending a reminder

[2017-04-18 11:56] sujeet14108 commented on #7165
working on it

[2017-04-18 12:00] damithc commented on #7163
Probably should be fine. This could be from the test case that verifies if the server rejects unauthorized access attempts.

[2017-04-18 12:03] damithc commented on #7162
Why is there an `isusingAjax=on` at the end of the url?

[2017-04-18 12:13] damithc commented on #7165
@sujeet14108 can make the issue description a bit more informative? Also, I suggest we leave this for first timers as it simply requires deleting some lines.

[2017-04-18 12:15] AnaghHegde commented on #7162
Honestly i don't know.

[2017-04-18 12:17] AnaghHegde commented on #7163
ok. So no need to fix it right?

[2017-04-18 12:36] damithc commented on #7163
Yes. We'll reopen this if it turns out to be an actual problem.

[2017-04-18 12:36] #7163 closed

[2017-04-18 12:39] damithc commented on #7162
it's for the same reason (the extra parameter). Start by loading localhost:8888 and navigate from there to try to figure out at what point the extra parameter gets added to the URL.

[2017-04-18 12:43] AnaghHegde commented on #7162
You mean to instructor home page ?. I already tried that.

[2017-04-18 13:51] damithc commented on #7162
Start from `localhost:8888/page/instructorHomePage` and see at what point the extra parameter gets added to the url. Also, do you observe the problem at v5.102? I tried that version today and there was no such problem.

[2017-04-18 14:21] damithc commented on #5532
Looks like the issue is not clearly defined. Closing.

[2017-04-18 14:21] #5532 closed

[2017-04-18 14:30] damithc commented on #7161
You are right, it will force you to touch most aspects of TEAMMTES. However, this feature is bigger than it appears at first because it also need to cover approval by admin and account creation. It will also require adding test cases which is not trivial. We prefer 'work with existing feature to learn' over 'adding new features to learn'.
For the next couple of weeks we are going to be very low on

[2017-04-18 14:31] AnaghHegde commented on #7162
Yes. The latest commit in local env is ca4ff7f . I have added the screen recording [here](https://app.hyfy.io/v/ab3883BJkoU/). Take a look at it.

[2017-04-18 14:38] damithc commented on #7162
Let's wait to see if anybody else faces the same problem. I deployed v5.102 today and it did not have this problem.

[2017-04-18 14:39] damithc commented on #7102
Deployed

[2017-04-18 14:39] #7102 closed

[2017-04-18 15:01] whipermr5 commented on #7033
Should this be closed since V5.102 has been deployed?

[2017-04-18 16:06] rchliu commented on #7156
Okay, that makes sense. Thanks!

[2017-04-18 16:43] wkurniawan07 commented on #7155
@xpdavid I guess you have not run the analysis on method parameters yet, right?

[2017-04-18 16:50] wkurniawan07 commented on #7102
@whipermr5 @damithc

FWIW, the problem of duplicate Datanucleus JAR also plagued Gradle when it's extended as a dependency management tool about a year ago. The resolution is [here](https://github.com/TEAMMATES/teammates/blob/master/build.gradle#L293-L300).

[2017-04-18 16:53] wkurniawan07 commented on #7158
I'm not an IntelliJ user, but based on:
[code]
It seems a problem of duplicate "output" folder, or the "output" folder not well-defined, or simply IntelliJ is not capable of filtering such duplicates.

While I don't know the root cause, I know the remedy: running `./gradlew clean` will remove the copy in `build/resources` folder.

[2017-04-18 16:55] wkurniawan07 commented on #7159
Apologies for this, I missed this because my Eclipse has been configured to skip such validation since long ago 😅

[2017-04-18 17:03] wkurniawan07 commented on #7162
It looks like you're using outdated JavaScript files. Try running `npm run build` and see if it persists.

[2017-04-18 17:09] AnaghHegde commented on #7162
@wkurniawan07 I am sure that, it's not the case. I already tried that.

[2017-04-18 17:22] wkurniawan07 commented on #7162
You may need to clear your browser cache for the changes to take effect.

[2017-04-18 17:23] AnaghHegde commented on #7162
I have disabled the firefox browser cache as mentioned the dev step.

[2017-04-18 17:35] sumit-nsit commented on #7165
Hey, I am a first timer and would love to solve it. I understand the line you want to have removed, can I commit change?

[2017-04-18 17:35] wkurniawan07 commented on #7162
Can you tell me the contents of `instructorFeedbacksSpecific.js` that is loaded by that page?

[2017-04-18 17:39] AnaghHegde commented on #7162
What do you mean by contents of `instructorFeedbacksSpecific.js`. What exactly are you expecting.

[2017-04-18 17:40] wkurniawan07 commented on #7135
There's always room for improvement, but the rationale for this kind of organization was that the file `ide-usage.md` should contain information that is skippable by anyone who doesn't want to set up IDE.

Perhaps I did not give attention to anyone who actually want to use IDE. 😅 I agree with the following:

However, the link to `static-analysis.md` is justified to be there because it involves set

[2017-04-18 17:42] wkurniawan07 commented on #7162
Exactly that. If you have run `npm run build`, there should be some JS files on top of ES6 files. I want to know the contents of that one specific JS file. Actually, just the first 5-10 lines will do.

[2017-04-18 17:43] sujeet14108 commented on #7165
So there are multiple test case in the class where there is this type of redirection.
You have to remove all those.

[2017-04-18 17:45] sumit-nsit commented on #7165
I found two. you think there would be more?

[2017-04-18 17:48] sujeet14108 commented on #7165
@sumit-nsit I don't know the exact number. You should go for it and submit a PR.

[2017-04-18 17:57] AnaghHegde commented on #7162
Yeah its there.
[code]

[2017-04-18 18:02] wkurniawan07 commented on #7162
My suspicion is confirmed: you're not using the latest JS files. Please do not claim as such if you are not sure.
Running `npm run build` would solve the problem.

[2017-04-18 18:06] AnaghHegde commented on #7162
I did run the `npm run build` after the case #7118.

[2017-04-18 18:07] wkurniawan07 commented on #7152
@qlassalle welcome to TEAMMATES community!
Good job on setting up your own development environment and deploying to your own staging server! You can start contributing by fixing a `d.FirstTimers`-labelled issue (do just one of this), followed by `d.Contributors`-labelled issues. Looking forward to your contributions!

[2017-04-18 18:12] wkurniawan07 commented on #7162
You'd notice how different your `instructorFeedbackSpecific.js` file is when compared to [its latest ES6 counterpart](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/js/instructorFeedbacksSpecific.es6). When you ran the `npm run build` before, which commit was your branch at? Was it c74ff60 or before?

[2017-04-18 18:17] AnaghHegde commented on #7162
After the commit c74ff60 only i opened the issue #7118. So i don't remember exactly which commit i was at. Moreover a strange thing i observed is only some were working(js files) and some of them not. This is the case in my issue. Only 2 pages weren't working as expected(may be more) .

[2017-04-18 18:23] AnaghHegde commented on #7162
![screenshot from 2017-04-18 23-51-27](https://cloud.githubusercontent.com/assets/12005551/25146618/248d39ac-2492-11e7-9344-4450a91e0b8f.png)
Also any idea why the eclipse might not be showing .js file after transpiling ?

[2017-04-18 18:26] HirdayGupta commented on #7162
@AnaghHegde try refreshing eclipse to see if it displays the js files. And also ensure you are on the same branch as you were when you did run the `npm run build` command.

[2017-04-18 18:27] AnaghHegde commented on #7162
@HirdayGupta Its working. It was just a one time thing.

[2017-04-18 18:30] sdweber422 commented on #7084
I can work on this.

[2017-04-18 18:48] HirdayGupta commented on #7159
@whipermr5 are you sure this would be a `d.Contributors` issue and not a `d.FirstTimers` one? Will work on it if it is definitely the former.

[2017-04-18 18:57] sdweber422 commented on #7164
I would like to work on this.

[2017-04-18 21:34] sujeet14108 commented on #1117
@damithc  This is the error message coming now

![screenshot from 2017-04-19 01-05-37](https://cloud.githubusercontent.com/assets/9781422/25154096/cf04f004-24ac-11e7-953f-5efa0abe1b9c.png)

[2017-04-18 22:29] HirdayGupta commented on #6805
@damithc while checking which instructors' emails to include, does it need to be verified if they've joined or not?

[2017-04-18 23:13] mukesh14149 commented on #1168
I can work on this.

[2017-04-19 00:05] whipermr5 commented on #7159
@HirdayGupta You're right; I guess it should be a `d.FirstTimers`.

[2017-04-19 00:42] damithc commented on #7033
Yes. sorry I missed that.

[2017-04-19 00:42] #7033 closed

[2017-04-19 00:57] #7073 closed

[2017-04-19 00:59] damithc commented on #1117
Outdated issue. Thanks for investigating it @sujeet14108

[2017-04-19 00:59] #1117 closed

[2017-04-19 01:01] #7110 closed

[2017-04-19 01:07] damithc commented on #6805
Good question. I guess no need.

[2017-04-19 02:03] xpdavid commented on #7155
Haven't run the analysis on methods' name and parameters' name :P

[2017-04-19 03:19] #6829 closed

[2017-04-19 03:32] damithc commented on #7164
Looks like only the 'response summary' part honors the selected section. The individual responses for the whole cohort is included irrespective of what section is selected.

[2017-04-19 03:34] damithc commented on #7164
@sdweber422 we are not sure how difficult this one is as we don't know the cause of the problem. You are welcome to try but recommended to choose a `d.Contributor` issue first.

[2017-04-19 03:37] damithc opened #7170 "Instructor: download results: fix NullPointerException"
Several users are facing this problem in the recent few days. Interestingly, the error does not appear if they choose a 'section' first.
In all the cases reported so far, it's always the `FeedbackContributionQuestionDetails.java`
[code]

[2017-04-19 03:38] samsontmr opened #7171 "InstructorFeedbackResultsPageScalabilityTest: tests data should not be removed and refreshed for each test case"
In `InstructorFeedbackResultsPageScalabilityTest`, the entire set of test data is currently refreshed for each test case. Since the content of the test data does not need to be unique for each test case (we only need to increase the amount of data), we should explore adding test data for each subsequent test case instead of replacing the entire dataset.

This is important because the scalability t

[2017-04-19 03:39] samsontmr commented on #7158
The fix I currently use is indeed running `./gradlew clean`.

[2017-04-19 04:43] thejosharcher opened #7172 "New contributor self intro Josh Archer"
- Link to my app: https://teammates-josharcher.appspot.com

- Link to my fork: https://github.com/thejosharcher/teammates

<img width="1667" alt="screen shot 2017-04-19 at 12 21 30 am" src="https://cloud.githubusercontent.com/assets/5824152/25163460/9176f476-2498-11e7-9e17-dcf0c82db9e7.png">

My GUI change was in the about.jsp. I dropped the "Would you like to join the TEAMMATES team as a contribu

[2017-04-19 04:52] damithc commented on #7170
Apparently, the error is caused by trying to process instructors as students in the offending method. The course has one of the instructors enrolled as a student. Somehow, the remaining instructors are being included in the offending loop.

 I've deployed a temp hot patch to 'skip iteration if null'
[code]

[2017-04-19 06:36] sujeet14108 commented on #7171
@samsontmr Are we talking about calling  `    @BeforeMethod
   public void refreshTestData()` before every test?

[2017-04-19 06:47] #7162 closed

[2017-04-19 06:49] VamsiSangam opened #7174 "Help Request: Missing library org.kohsuke"
- **Operating System:** Windows 10
- **JDK Version:** 1.7
- **Eclipse Version (if applicable):** Kepler Service Release 2

**What I was trying to do / What I need help with**
Upon `Project -> Clean` these errors show up.

![error](https://cloud.githubusercontent.com/assets/11662001/25166700/41976168-24fa-11e7-89ec-56ae41166ea0.JPG)

How can I add the missing library?

[2017-04-19 06:54] whipermr5 commented on #7174
[Troubleshooting guide](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md)

Solution:
`./gradlew resetEclipseDeps`

[2017-04-19 06:55] #7156 closed

[2017-04-19 06:56] VamsiSangam commented on #7119
It is an XML Problem. You need to follow the project specific settings in [ide-usage.md](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md). It is mentioned -

So, if you follow the project specific settings there and Clean your project again, those errors shouldn't pop up. :smiley:

[2017-04-19 07:00] AnaghHegde commented on #1872
@damithc Is it ok if i use just `Window.alert()` or something else (beautify it using some libraries) ?.

[2017-04-19 07:06] VamsiSangam commented on #6835
I had my project specific settings related to ORM enhancement incomplete. Following instructions from [ide-usage.md](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md) solved the issue.

[2017-04-19 07:06] #6835 closed

[2017-04-19 07:12] damithc commented on #1872
Follow the approach we use in other similar situations, e.g. we show an alert when a student loads a submission page that is already past the deadline

[2017-04-19 07:12] VamsiSangam commented on #7174
Thanks! That solved my issue :tada:

[2017-04-19 07:12] #7174 closed

[2017-04-19 08:03] samsontmr commented on #7171
That's right. Ideally it should "top up" the data to the amount required for the next test case or remove excess data.

[2017-04-19 13:55] thejosharcher commented on #7155
I can correct this!

[2017-04-19 15:36] AnaghHegde commented on #1872
@damithc is this fine ?
![screenshot 128](https://cloud.githubusercontent.com/assets/12005551/25188532/04214d2c-2544-11e7-8a2c-881e42513ed6.png)

[2017-04-19 15:38] AnaghHegde commented on #7164
@damithc Shall i try to investigate this ?.

[2017-04-19 18:06] qlassalle commented on #7152
@wkurniawan07 Thanks a lot ! I'm going to look for some `d.FirstTimers`-labelled issues to get started !

[2017-04-19 21:11] HirdayGupta opened #7178 "Help Required: New Eclipse build issues after merging latest commits involving the scalability tests"
Eclipse is giving the following compile time errors after merging the latest commits into my branch:

<img width="1208" alt="screen shot 2017-04-19 at 10 45 57 pm" src="https://cloud.githubusercontent.com/assets/18088721/25201505/96206dea-256f-11e7-99d8-e03d08b0e7a2.png">

My JDK compliance is at 1.7, and I am pretty sure I've followed each step in the setup guides.

[2017-04-20 01:21] AnaghHegde commented on #7178
@HirdayGupta Try cleaning the project and rebuild it. Also check the Data Nuclues version and  ORM as well. In my case it got changed to something else.

[2017-04-20 02:07] whipermr5 commented on #7178
Dependencies have been updated; you need to run `./gradlew resetEclipseDeps` to get the new libraries.

[2017-04-20 02:09] btrajanovski commented on #7165
Hi guy, I was able to fix the problem ad submitted it for review.

[2017-04-20 02:10] #7007 closed

[2017-04-20 02:10] #7014 closed

[2017-04-20 02:11] #7018 closed

[2017-04-20 02:16] whipermr5 commented on #7172
Hi Josh, welcome to TEAMMATES! Good job setting everything up correctly :)

I see that you've already started on a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue; that's great! You can feel free to move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors) issues too whi

[2017-04-20 02:37] #7049 closed

[2017-04-20 03:17] #7144 closed

[2017-04-20 03:43] AnaghHegde commented on #2676
@damithc Like @shrut1996 said we need to add a extra column right ?.

[2017-04-20 05:40] HirdayGupta commented on #7178
@whipermr5 thanks! `./gradlew resetEclipseDeps` solved it. Thoughts on adding a documentation file for current developers which should be updated every time a commit requires steps like this?

[2017-04-20 06:04] whipermr5 commented on #7178
The step is already documented in [dependencies.md](https://github.com/TEAMMATES/teammates/blob/master/docs/dependencies.md). The [troubleshooting.md](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md#common-test-errors-and-solutions) doc also links to it under `Common test errors and solutions`.

[2017-04-20 06:21] HirdayGupta commented on #7178
@whipermr5 Thanks for the links! I didn't just mean about `./gradlew resetEclipseDeps` though. What I meant was a document that is **required** to be updated each time someone adds a commit that will require similar steps (eg: updating dependencies, changing a setting,etc). Essentially something for **existing** devs to refer to each time a new commit breaks the project. (Something like: <Commit N

[2017-04-20 07:24] Mynk96 commented on #7140
@xpdavid thinking of using javascriptexecutor for uploading files as the input is hidden!
Can you suggest me any better appraoch?

[2017-04-20 09:02] nikiforosbotis commented on #7161
@damithc ok, I understand your point. Can you propose me something to do in which I will be provided with support when needed, and it will be suitable for someone who tries to do his first contribution to an OS project?

[2017-04-20 13:57] whipermr5 opened #7180 "Frontend libraries: reduce dependency on CDN"
One of the frontend libraries, https://unpkg.com/guillotine@1.3.1/js/jquery.guillotine.min.js, [can't be accessed from the build environment](https://ci.appveyor.com/project/whipermr5/teammates/build/1.0.32#L198), causing our recent streak of AppVeyor build failures. It looks like a bug in unpkg: https://github.com/unpkg/express-unpkg/issues/70

This bug has the potential to affect all our users b

[2017-04-20 20:16] rchliu opened #7183 "InstructorCourseEnrollPageUiTest and AdminHomePageUiTest failing on local dev server"
**Environment**
`master` branch, with the latest commit being cfa2aefeee7c601fea689aaaa5786cb72a67435c.

**Trace for InstructorCourseEnrollPageUiTest**
The specific test case that fails is `testInstructorCourseEnrollPage`.

Build info: version: '2.53.1', revision: 'a36b8b1cd5757287168e54b817830adce9b0158d', time: '2016-06-30 19:26:09'
System info: host: 'DESKTOP-1999U85', ip: '192.168.0.147', os.n

[2017-04-21 01:30] thejosharcher commented on #6448
@jimmyshephard Are you still working on this?

[2017-04-21 02:06] jimmyshephard commented on #6448
No. Please go ahead, haven't had time to dig in

On Apr 20, 2017 8:30 PM, "Josh Archer" <notifications@github.com> wrote:

@jimmyshephard <https://github.com/jimmyshephard> Are you still working on
this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/TEAMMATES/teammates/issues/6448#issuecomment-296004117>,
or mute the threa

[2017-04-21 03:37] thejosharcher commented on #6448
Looking at the code, I do not even see a usuage of the method extractFeedbackSessionData() for either class. Testing does not use them, it uses preset data. I believe this code is not needed. Can someone double check this?

[2017-04-21 06:04] thejosharcher commented on #6448
Opening PR for this.

[2017-04-21 07:02] thejosharcher opened #7185 "InstructorFeedbacksPageAction.java: change Feedbacks -> FeedbackSessions"
Typo caught in the class /src/main/java/teammates/ui/controller/InstructorFeedbacksPageAction.java. InstructorFeedbacksPageAction is not a word according to the provided dictionary. The 's' should be removed from Feedback, and the updated name should change across the project.

CheckStyle did not catch. I believe it is the same as in #7155.

[2017-04-21 10:25] damithc commented on #7185
This could be a case of using `Feedbacks` as a shorter form of `FeedbackSessions`. I don't mind changing to the longer form though as long as its done everywhere.

[2017-04-21 11:46] damithc commented on #1872
Yes, a message like that will do. You can use this text `Warning: you have only x minutes before the submission deadline expires!`

[2017-04-21 11:58] #7155 closed

[2017-04-21 12:02] damithc commented on #2676
Yes.

[2017-04-21 12:41] damithc commented on #7183
@rchliu If these are the only two tests failing, you can ignore them for now until someone has some helpful inputs for you.

[2017-04-21 13:43] damithc commented on #7161
@nikiforosbotis you can pick one of the `d.Contributors` issues.

[2017-04-21 15:05] #6841 closed

[2017-04-21 15:47] #7055 closed

[2017-04-21 15:54] wkurniawan07 commented on #7183
Hi @rchliu, this failure could be due to the timeout value being too short. Can you try setting the `test.timeout` value in `test.properties` file to something like 30 and re-running just these two tests?

Actually, before even changing the mentioned value, can you try re-running these two tests? Usually tests run faster when run in isolation.

[2017-04-21 17:06] rchliu commented on #7183
Thanks for your help, @wkurniawan07. After a few more retries `AdminHomePageUiTest` succeeded, but I had to change the timeout to 30s for `InstructorCourseEnrollPageUiTest` to pass.

[2017-04-21 17:06] #7183 closed

[2017-04-21 17:14] muskanbararia commented on #5728
Can I work on it?

[2017-04-21 17:41] shrut1996 commented on #2676
@AnaghHegde @nikiforosbotis Anyone working on this?

[2017-04-22 02:52] AnaghHegde commented on #2676
Yes. I am working on this.

[2017-04-22 04:31] whipermr5 commented on #4797
Should be mostly fixed by #7068 and #7083.

[2017-04-22 05:43] damithc commented on #4797
Yes, seems to be fixed. passed at v5.102 too. Good work @whipermr5
closing.

[2017-04-22 05:43] #4797 closed

[2017-04-22 07:23] Mynk96 commented on #7140
@xpdavid can you please suggest me how to verify the encoded key that comes in, after uploading group receiver's list?

[2017-04-22 08:07] AnaghHegde opened #7186 "Unable to run tests in GodMode"
I am trying to run some of the tests in GodMode for the #7179 . But i am getting this error.

[code]

[2017-04-22 08:48] AnaghHegde commented on #7186
After adding it in `build.properties` it worked.

[2017-04-22 08:56] xpdavid commented on #7140
Sorry for the late reply. I am doing my exams revision this days. I suggest you to write an action test first before writing UI test. Take a look at `StudentProfilePictureEditActionTest` to get a rough idea.

[2017-04-22 11:24] #6981 closed

[2017-04-22 13:05] Mynk96 commented on #7140
@xpdavid Okay, I'll proceed that way.

[2017-04-22 15:49] VamsiSangam opened #7187 "Help Request: Babel error while building JS files"
- **Operating System:** Windows 10
- **JDK Version:** 1.7
- **Eclipse / IntelliJ Version (if applicable):** Kepler Service Release 2

**What I was trying to do / What I need help with**

I was building JS files as per instructions in [development.md](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md). When I ran `npm run build` this is what I got -

[code]

Then I installed ba

[2017-04-22 16:07] AnaghHegde commented on #7187
@VamsiSangam Its because the npm version you are using is less than 4. Upgrade it to 4.X or above it will work fine.

[2017-04-22 16:20] wkurniawan07 commented on #7187
@VamsiSangam have you run `npm install` to get all the tools?
On an unrelated note, you're using Eclipse Kepler, which we do not really provide support on. You can choose to still use it, but I'd suggest you upgrade to newer ones like Luna, Mars, or Neon.

@AnaghHegde the Node version is fine. We don't have an explicit requirement on NPM version. Take note that they are two different items.

[2017-04-22 16:26] wkurniawan07 commented on #7186
@AnaghHegde what exactly are the unexpected/unnecessary changes you encountered? Just mentioning "unexpected/unnecessary changes" does not help for us to help troubleshooting.

[2017-04-22 16:27] AnaghHegde commented on #7187
@VamsiSangam @wkurniawan07 I had the similar issue back once and upgrading the npm helped me. That is the reason i mentioned it.

[2017-04-22 16:29] AnaghHegde commented on #7186
What should i need to post?. The changed html files ?.

[2017-04-22 16:39] wkurniawan07 commented on #7186
@AnaghHegde yes, whatever you think will help us in troubleshooting.

[2017-04-22 16:45] VamsiSangam commented on #7187
Thanks @wkurniawan07 and @AnaghHegde . I didn't run `npm install` :sweat_smile: . So babel compiles the `.es6` files to `.js` files right? So where are the compiled `.js` files stored?

[2017-04-22 16:50] AnaghHegde commented on #7186
Take a look at [this](https://travis-ci.org/TEAMMATES/teammates/builds/224673405). I am using God Mode on these tests. You can check the logs [here](https://travis-ci.org/TEAMMATES/teammates/builds/224647301) after the god mode. I don't understand why the build says such error `Please append a unique id (e.g your name) to each of the default account in test.properties in order to use God mode, e.g

[2017-04-22 16:52] AnaghHegde commented on #7187
In the same directory where the .es6 files will be stored.

[2017-04-22 17:14] VamsiSangam commented on #7187
Then why don't I see them in eclipse? :stuck_out_tongue:

[2017-04-22 17:39] AnaghHegde commented on #7187
Hm. May be [this](http://stackoverflow.com/a/98634/6181189) will help you.

[2017-04-22 17:52] VamsiSangam commented on #7187
Oh thanks for the link. I don't use eclipse very often. But the files are still not displayed in my eclipse. However I simply used the File Explorer to check out the folder and found the .js files. I understand everything now. Thanks for the help :smile:

@wkurniawan07 wouldn't the docs be more user friendly if we added about `npm install` in `development.md` or the troubleshooting guide?

[2017-04-22 18:01] AnaghHegde commented on #7187
@VamsiSangam It's there in docs, [here.](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md#step-3-set-up-project-specific-settings-and-dependencies). Take a look at it.

[2017-04-22 18:11] VamsiSangam commented on #7187
Oh missed it completely. Thanks a lot @AnaghHegde . Closing issue now :smile:

[2017-04-22 18:11] #7187 closed

[2017-04-22 18:38] VamsiSangam commented on #7186
Firstly, in the Travis CI build log, [it is showing](https://travis-ci.org/TEAMMATES/teammates/builds/224673405#L2562) a mismatch of expected HTML and original HTML. You have added `id="endTime"` in `feedbackSessionDetailsPanel.tag`. During the tests, what is happening is that the test compares the HTML in `src/test/resources/pages/newlyJoinedInstructorStudentFeedbackSubmissionEdit.html` (this is

[2017-04-22 19:28] AnaghHegde commented on #7186
@VamsiSangam

I know the reason for it,i also know that if i just `id=endTime` in the **`*.html` files** it works. But thats not the best way, for that reason only GodMode is there. Did you take a look at [this](https://travis-ci.org/TEAMMATES/teammates/builds/224647301) ? i assume not. So my question is after running the GodMode tests why is giving that error?. I assume `test.properties` is for l

[2017-04-22 19:50] VamsiSangam commented on #7186
Yeah you are right. It is mentioned in `godmode.md` -

I took a look at the logs and followed the stack trace. This function gets called -

[code]

So, the first condition fails if you haven't appended your name in `test.properties`. I still think what you said -

makes sense but I think modifying `test.properties` is worth a shot. :smile:

[2017-04-22 23:04] rchliu opened #7189 "New contributor self intro Richard Liu"
**Link to my app:**
https://teammates-rchliu.appspot.com/

**Link to my fork:**
https://github.com/rchliu/teammates

**Screenshot of changes made (as seen on the UI)**
![fork](https://cloud.githubusercontent.com/assets/8629449/25308906/6aac4a92-278d-11e7-8a51-e15c13a4c95a.png)

I added a drop down menu to the About section on the navbar with links to the user map and the TEAMMATES blog.

**Short s

[2017-04-23 02:17] LimeTheCoder opened #7190 "Use builder instead of telescoping constructor antipattern in Attributes classes"
Builder pattern is used for constructing objects with a lot of parameters, especially if many of these parameters are null and when many of them share the same data type.With builder pattern client code benefits greatly in terms of usability and readability. The parameters to the constructor are reduced and are provided in highly readable method calls.

[2017-04-23 02:31] AnaghHegde commented on #7186
I did modify the test.properties.  Else i can't run the test in godmode.md. So i dont know whats happening.

[2017-04-23 07:50] whipermr5 commented on #7189
Hi Richard, welcome to TEAMMATES! Good job setting everything up correctly and running the tests :) You can get your feet wet by working on a [`d.FirstTimers`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.FirstTimers) issue.

[2017-04-23 08:00] #7139 closed

[2017-04-23 08:00] #7146 closed

[2017-04-23 09:36] VamsiSangam commented on #7186
Ok, well our Teammates friends in Singapore are having their exams so I guess they are not able to respond quickly. Meanwhile let us deduce your error as much as possible. Could you please paste the contents of `test.properties` here? I know you've edited it, but just for reference.

[2017-04-23 10:57] AnaghHegde commented on #7186
Yeah. That's true. So the content goes like this.
[code]
@sujeet14108 I think you have recently tried the GodMode. Any suggestions?.

[2017-04-23 10:58] #7160 closed

[2017-04-23 11:13] whipermr5 commented on #7186
Hey @AnaghHegde, the fact that that message appeared in the build log tells me that you are trying to run GodMode on Travis. GodMode is only meant to be run locally - as soon as the HTML files have been updated, you should turn GodMode back off.

After taking a look at commit 3360e7b linked from the [failed build](https://travis-ci.org/TEAMMATES/teammates/builds/224647301), my suspicions were [con

[2017-04-23 11:27] AnaghHegde commented on #7186
@whipermr5 Yes. Nice catch. While committing i forgot to turn it off. But later i have changed it to false. Hence it's working fine. Thank you for pointing it out.

[2017-04-23 11:32] sujeet14108 commented on #7186
@AnaghHegde  Yes i have used GodeMode but i have not faced any problem using it and worked perfectly. Also what Whipmer5  is indicating may be that's the issue :)

[2017-04-23 11:38] AnaghHegde commented on #7186
@sujeet14108 Yes. That's the reason i guess. Thanks for all the help @whipermr5  @VamsiSangam @wkurniawan07 @sujeet14108 .

[2017-04-23 12:01] damithc commented on #7180
Good work in following up with unpkg guys @whipermr5 👍

[2017-04-23 17:32] wkurniawan07 opened #7192 "Remove HttpRequestHelper#getParamMap method"
It is an unused method.

[2017-04-23 17:35] #7186 closed

[2017-04-23 17:43] #7050 closed

[2017-04-24 01:03] Yogitha6 opened #7194 "New contributor self intro Yogitha Mahadasu"
**Link to my app:**
https://teammates-yogitha.appspot.com/

**Link to my fork:**
https://github.com/Yogitha6/teammates

**Screenshot of changes made (as seen on the UI)**
![changeinui](https://cloud.githubusercontent.com/assets/13936975/25319096/053110f6-2857-11e7-89e3-a844421b8d97.JPG)

I changed the lay out of the core team. It seemed a little too much of scrolling. I thought we can have better

[2017-04-24 01:58] Yogitha6 commented on #7185
I am working on this. I am a first timer in open source development.

[2017-04-24 02:43] #6886 closed

[2017-04-24 03:49] whipermr5 commented on #5839
I plan to explore using entity groups over the summer. Looks like it has been tried and reverted before. Flagging this so I can read up more what has been tried before and what has and hasn't worked (maximum number of entity groups in one transaction exceeded due to legacy data not being in the same entity group?), once I'm done with exams.

[2017-04-24 04:44] #5768 closed

[2017-04-24 05:02] Mynk96 opened #7195 "Glyphicon not in line with the message"
![not](https://cloud.githubusercontent.com/assets/17481466/25322958/43e95a24-28d9-11e7-80c8-9f5dd48782da.PNG)

[2017-04-24 05:03] Mynk96 commented on #7195
working on it!

[2017-04-24 11:05] #7192 closed

[2017-04-24 13:00] Mynk96 opened #7197 "Change alert type from success to info in Admin Activity Log and Email Log"
![finalchange](https://cloud.githubusercontent.com/assets/17481466/25338209/07f75744-291c-11e7-8731-5b62d5829aea.PNG)

[2017-04-24 14:10] VamsiSangam commented on #7044
I think I found the source of error. `teammates.ui.pagedata.InstructorFeedbackResultsPageData.java` has the method `buildSectionPanelsForForAjaxLoading` which builds those panels. Here's the code -

[code]

The line in between - `sectionPanels.put(Const.DEFAULT_SECTION, sectionPanel);` causes the "No specific recipient" panel to show up. Removing that line solves the issue. But what was the purpos

[2017-04-24 14:20] VamsiSangam commented on #7197
@Mynk96 are you working on this or can take p this issue?

[2017-04-24 14:51] Mynk96 commented on #7197
@VamsiSangam working on it.

[2017-04-24 14:51] #7195 closed

[2017-04-24 17:37] mukesh14149 commented on #2203
@damithc "createdAt" field you mean joining date for a instructor in a course?

[2017-04-24 18:17] Yogitha6 commented on #7159
I am working on this. (I am a first timer contributing to open source projects)

[2017-04-24 20:04] VamsiSangam commented on #2335
Working on this!

[2017-04-24 23:47] sujeet14108 opened #7201 "Unclear "p" in the Admin Email Compose Page"
Is the below "p" is doing something or has any meaning ?
It seems to be a button but use is not clear.

![imageedit_2_7058302007](https://cloud.githubusercontent.com/assets/9781422/25363084/db4a75dc-2975-11e7-841b-e7829dfe7a6f.gif)