[2017-02-01 14:42] damithc commented on #6519
w.r.t. non existent checkstyle rules, some of them may be covered by other tools such as findbugs and PMD which we can add.

Perhaps @wkurniawan07 can give some inputs as he was working on this area sometime back.

[2017-02-01 17:35] AnaghHegde opened #6522 "InstructorFeedbackResponseComment*Action: refactor verifyAccessibleForInstructorToFeedbackResponseComment"
The `InstructorFeedbackResponseCommentDeleteAction` and `InstructorFeedbackResponseCommentEditAction` have this method implementation which are almost completely identical except they differ only in one `if` condition .

[2017-02-01 19:54] wkurniawan07 commented on #6506
Marking them as outdated is one thing.

My other concern is that we actually do need some sort of documentation on our policies and decisions on most aspects of the project (sanitisation, logs, testing, devops, etc.), otherwise they will be lost in time (which is what is happening now!). While code comments and header comments help to explain some things, bigger pictures such as why things are don

[2017-02-01 19:57] wkurniawan07 commented on #6498
@AnaghHegde In case of communication barrier, when I say "... are correct", I meant that your claim is correct, i.e. the classes that you mentioned use inheritance wrongly.
The other two classes are `InstructorCourseDeleteAction` and `InstructorCourseStudentDeleteAction`. You should be able to figure out why easily.

[2017-02-01 20:00] wkurniawan07 commented on #6515
Someone has unsuccessfully tried it before: #5342. Of course, it might be faults in his attempts rather than this being inherently not doable.

[2017-02-01 20:04] wkurniawan07 commented on #6518
If I may suggest, rename the `Sanitizer` to `SanitizationUtils` or `SanitizationHelper` instead, and make it such that the sanitizing and desanitizing methods of the same topic appear back to back.
[code]
This way you are more sure that when you implement a sanitizing method, you also implement its desanitizing counterpart, and it becomes easier to compare those two side-by-side.

[2017-02-01 22:08] lakshayverma629 commented on #5402
please mention the name of file..

[2017-02-02 01:34] damithc commented on #6506
Yes, go ahead and document those policies worth documenting. If anything from the outdated docs are relevant, just copy paste into new docs. If the documented policies are general enough, they can be moved to oss-generics later.

[2017-02-02 01:42] AnaghHegde commented on #6498
@wkurniawan07

I was thinking it has to something to do with the `InstructorFeedbackRemindAction`.My mistake.

Again these extend `InstructorCoursesPageAction` which is similar to `InstructorFeedbacksPageAction` .

[2017-02-02 05:45] Neurrone opened #6526 "Create versions of getRequestParamValue and getRequestParamValues where null is not expected"
In *action classes, getRequestParamValue and getRequestParamValues return null when the  parameter's value being retrieved does not exist. However, many places expect the parameter to be found i.e, code like this:

    String archiveStatus = getRequestParamValue(Const.ParamsNames.COURSE_ARCHIVE_STATUS);
    Assumption.assertNotNull(archiveStatus);
    String idOfCourseToArchive = getRequestParamVa

[2017-02-02 08:04] li-kai opened #6527 "Set up compilation step for Javascript"
Compiling javascript enables us to minify js, write es6 js and more in the future!

[2017-02-02 11:51] damithc commented on #5977
Thanks for taking this issue @ablyx
The issue is no longer urgent because I've found a workaround ; I now use a separate server instance to create new accounts so that the operation is not slowed down by other requests being served by the same server instance. With that workaround, most of the time the operation succeeds although it still takes nearly the full 60 seconds, which is not good, and al

[2017-02-02 12:25] ablyx commented on #5977
My pr merely shifts the `logic.putDocument` to a task queue. I think @whipermr5 has a better idea of putting all the documents at one go instead of doing it one by one. That might be a better improvement.

[2017-02-02 12:53] ablyx opened #6530 "Refactor magic number in InstructorCourseEnrollSaveActionTest"
In `teammates.test.cases.action.InstructorCourseEnrollSaveActionTest#testExecuteAndPostProcess`
the variable `sizeLimitBoundary` uses the same number as `SIZE_LIMIT_PER_ENROLLMENT` in `teammates.logic.core.StudentsLogic`.

To prevent the use of such magic numbers, `SIZE_LIMIT_PER_ENROLLMENT` should be placed in `teammates.common.util.Const` and `sizeLimitBoundary` should be called from `teammates.

[2017-02-02 12:53] ablyx commented on #6530
This is a really simple problem, should this be labeled as first timers?

[2017-02-02 16:46] PratyushTalreja commented on #6512
Can you please elaborate a bit on this bug? I am interested.

[2017-02-02 16:51] PratyushTalreja commented on #6456
I am interested in this.

[2017-02-02 16:51] PratyushTalreja commented on #6457
I am interested in this.

[2017-02-02 16:56] PratyushTalreja commented on #6439
I am done making changes to the required file.

[2017-02-02 17:00] PratyushTalreja commented on #6438
Do I need to remove the complete function or just the parameter(String feedbackQuestionId)?

[2017-02-02 17:31] #6473 closed

[2017-02-02 17:34] #6509 closed

[2017-02-02 17:39] #6327 closed

[2017-02-02 17:51] wkurniawan07 opened #6532 "Bug report: Client scripts are not runnable"
**Environment (dev/staging/live, version)**

`master` branch at 17cbccf, but I know for sure it has existed since some time ago (to be explained later).

**Steps to Reproduce**

Run any client script that connects with the Datastore.

**Expected Behaviour**

The client script is runnable, or any failures should be attributed to the script's obsolescence.

**Actual Behaviour**

The following except

[2017-02-02 18:04] wkurniawan07 commented on #6439
@PratyushTalreja welcome and thanks for your interest in contributing to TEAMMATES!
It's great that you have solved this issue! The next step is to open a PR, the details can be found out in our [workflow document](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md).
I also observed that you have expressed interest in a number of other issues. Unfortunately, all of them are labelle

[2017-02-02 18:36] #5698 closed

[2017-02-02 18:46] wkurniawan07 commented on #6519
I'll do a proper writeup on this tomorrow.

[2017-02-03 01:02] damithc commented on #6532
Need to fix quickly. We never know when we'll have to run a client script next.

[2017-02-03 01:27] Neurrone commented on #6512
I think it would be better if the enum was used consistently. I listed this mainly for completeness, as it would be tedious to change.

[2017-02-03 03:12] damithc opened #6534 "Enrolling a new student deletes previous student in the list"
Environment : live server at V5.94

A user has reported that adding a new student to the course deletes the student immediately above the new student (in alphabetical order). I tried using the same course and the behavior is confirmed for the student user wanted to add.
However, I was able to add an entirely new student to the same course without a problem. So I wonder if the problem is related to

[2017-02-03 03:17] damithc commented on #6534
@whipermr5 perhaps your troubleshooting magic can reproduce this error? No pressure :-)

[2017-02-03 03:33] damithc commented on #6534
I'm awaiting some more info from the affected user. Will update when I receive.

[2017-02-03 03:40] damithc commented on #6530
@ablyx can be a bit more detailed in issue description and more specific in issue title? Especially if it is meant for first timers.

[2017-02-03 03:49] damithc commented on #6534
Apparently, halfway into the feedback session, the instructor realized that 9 students were having the wrong email address (email address column shifted by one row). So she edited those 9 students to fix the email address. Somehow that created this situation.

[2017-02-03 03:50] damithc commented on #6534
Lowering priority slightly because the bug affects only a limited usage scenarios.

[2017-02-03 04:29] whipermr5 commented on #6534
Were the wrong email addresses due to wrong user input or a bug in teammates?

[2017-02-03 04:51] damithc commented on #6534
user error. It's a common user error
--
Sent from a mobile device.

[2017-02-03 07:12] damithc commented on #6534
I suspect this is a result of using the email address to construct the key of the object and later the key is going out of sync with the actual email because an update to the email was not carried out correctly (due to a bug in the code or a database operation failing halfway - most likely the former because the user said it happened many times).

Let's say X's email is later assigned to Y.
Now, t

[2017-02-03 07:41] samsontmr commented on #6237
@wkurniawan07 Should I reference this issue or create a new one since this one says codacy?

[2017-02-03 07:49] wkurniawan07 commented on #6237
@samsontmr create a new one. For all we know, some future developer might still want to set this up, and having more than one quality badge never kills 😛

[2017-02-03 07:58] samsontmr opened #6535 "Set up SonarQube for code quality check"
Continuing from the discussion in #6237, we will be using the SonarQube code quality badge.

[2017-02-03 08:10] #6532 closed

[2017-02-03 08:25] #6516 closed

[2017-02-03 08:37] PratyushTalreja commented on #6439
@wkurniawan07 Thank you for the warm welcome. I have made a pull request for this issue. For the other d.FirstTimers, I got your point and I will check for other issues. Thank you once again.

[2017-02-03 08:55] PratyushTalreja commented on #6512
@Neurrone I think manipulating enum value dynamically is not possible.

[2017-02-03 08:58] Neurrone commented on #6512
@PratyushTalreja what do you mean dynamically manipulate?

[2017-02-03 09:47] #5931 closed

[2017-02-03 12:26] xpdavid commented on #2834
@damithc I am not sure whether the issue is still valid (I have checked the current version, it returned a formatted page). Maybe you mean `instructorStudentRecordsAjaxPage` rather than `instructorStudentRecordsPage `? (For the previous one, as it uses Ajax to get data from server, the response will be unformatted page)
![screen shot 2017-02-03 at 8 22 53 pm](https://cloud.githubusercontent.com/as

[2017-02-03 12:33] xpdavid commented on #4436
@damithc As indicated in the screenshot, seems that the parsing of log message fails, therefore everything is shown as `Unknown`.
From the log message (part of) `TEAMMATESLOG|||InstructorCourseEnrollSave|||instructorCourseEnrollSave|||true|||Intstructor|||...` seems that the action (InstructorCourseEnrollSave) is done by a registered instructors. It will be helpful if you post the full log message

[2017-02-03 12:43] AnaghHegde commented on #3978
@junhaoyap Just to confirm when you meant like JSON obj right  ?

[code]
 and later use it in this way  `util.functionname()` .

[2017-02-03 13:20] #6463 closed

[2017-02-03 14:16] damithc commented on #2834
Good catch @xpdavid Thanks for investigating.
Yes, you are right. Closing.

[2017-02-03 14:16] #2834 closed

[2017-02-03 14:21] damithc commented on #4436
@xpdavid it's an old issue. I don't have the full log message. I tried to reproduce the problem by supplying invalid data to an enroll operation, but it did not reproduce the problem. Let's close this for now. I'll reopen if it happens again.

[2017-02-03 14:21] #4436 closed

[2017-02-03 15:17] #3744 closed

[2017-02-03 15:23] wkurniawan07 commented on #6519
Here's the promised writeup.

Before applying those rules, check for these:
- We use PMD on top of Checkstyle for Java coding practices. The boundary was hoped to be clear, e.g. Checkstyle for style issues and PMD for coding/design issues, but as it happens Checkstyle has ventured to coding/design as well. Nevertheless, try to keep the boundary clear, but in the event of PMD not having the rule th

[2017-02-03 15:38] wkurniawan07 commented on #6519
Rule-specific issues:
- `NestedForDepth`, `NestedIfDepth`, `NestedTryDepth`, `ReturnCount`, `ClassDataAbstractionCoupling`, `ClassFanOutComplexity`: these are related to code quality metrics (my lightning talk topic on Monday!). Powerful as they may, I was concerned that these rules are too domain-specific (i.e. more beginner developers may not be able to grasp the concept of "fan out complexity")

[2017-02-03 16:24] #6479 closed

[2017-02-03 16:24] #6417 closed

[2017-02-03 16:25] #6404 closed

[2017-02-03 16:25] #6310 closed

[2017-02-03 16:27] wkurniawan07 commented on #6401
Apologies, this missed my radar.

Those failures actually look familiar. They occur from time to time on the _first_ test run, but always gets resolved in subsequent runs (which consists only the failing tests of the previous run). @shrut1996 Do the failures persist to the point that it marks the build as failure?

[2017-02-03 16:27] #6363 closed

[2017-02-03 16:29] wkurniawan07 commented on #6468
I don't use Linux, but my guess is that _is_ the default behaviour in Linux.
Anyway, as long as the necessary files are accessible, all should be well. Closing the issue.

[2017-02-03 16:29] #6468 closed

[2017-02-03 16:31] wkurniawan07 commented on #6361
@nikhilmudholkar does this problem still persist?

[2017-02-03 18:25] shrut1996 commented on #6401
@wkurniawan07 This test fails even in the subsequent runs of the failing tests but there is NO problem with the build, the project is built successfully. However as I mentioned above this test passes when ran on the Travis CI.
Thanks (Y)

[2017-02-03 18:34] iamhunter opened #6539 "New contributor self intro iamhunter"
My App: http://teammates-iamhunter.appspot.com/
My Fork: https://github.com/iamhunter/teammates

My Changes: I changed the font of the main caption, replaced the "/" with "and", and I linked "more..." to the features page.
<img width="1680" alt="screen shot 2017-02-03 at 1 29 15 pm" src="https://cloud.githubusercontent.com/assets/12401866/22603308/d6fb8bf6-ea14-11e6-85b4-c17209fc54f6.png">

<img w

[2017-02-04 06:20] Neurrone commented on #5687
Hm, do you mean this?

* having an action class for each sort type (question, recipient > giver > question, etc
* move the CSV loading to its own action class

Then in the refactored execute method:

1. If loading of a CSV is requested, construct a Csv action object and execute it
2. Parse setIndex param's value if it exists as an integer, and set it in InstructorFeedbackResultsPageData
3. If sort

[2017-02-04 09:28] kishankhakhar opened #6541 "Doubt in the Contribution oriented guide"
What is to be done in the 2nd step in Set up Locally?
The line is as follows:

Get Travis green / Local CI green and dev green. It is OK to proceed to the next phase if you have fewer than 5 failing test cases.

Help asap

[2017-02-04 10:53] #6541 closed

[2017-02-04 10:55] AnaghHegde commented on #6541
@kishankhakhar I presume that you have successfully completed all the previous steps.

May be thsi[](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md) will help you.

[2017-02-04 13:59] samsontmr commented on #6535
@wkurniawan07 will we be moving to Java 8 soon? It appears that the latest version of SonarQube (which should be what web service uses) doesn't support Java 7...
Unless we want to set up our own SonarQube server to run an older version.

[2017-02-04 15:49] damithc commented on #6535
Not sure. We have to wait till App Engine supports it.

That's a bit strange. Isn't Java 8 backward compatible?

[2017-02-04 16:09] ablyx commented on #6530
@damithc sorry about that. This should be much clearer now.

[2017-02-04 22:53] iamhunter opened #6542 "Feature Request: Remove white-space on right side of top banner"
Proposed Feature / Enhancement
Force the header to a min-width of 1000px.

I have a working example of it here: http://teammates-iamhunter.appspot.com/

I will create a PR if this gets approved

Problem it solves
On mobile, there is some white space on the right of the top banner
On the web, when the width of the window gets smaller than 1000px, background of the banner continues to decrease with

[2017-02-05 01:41] samsontmr commented on #6535
Yeah that's what I thought, but it seems like [it's not the case here](https://blog.sonarsource.com/sonar-ecosystem-upgrades-to-java-8/). I'm getting an [Unsupported major.minor version 52.0](http://stackoverflow.com/questions/37686144/java-lang-unsupportedclassversionerror-org-sonar-batch-bootstrapper-environment) error in the build when sonarqube tries to run.

[2017-02-05 04:33] damithc commented on #6542
@li-kai any relation to #6488?

[2017-02-05 09:04] AnaghHegde commented on #3978
@junhaoyap just to be clear you are talking about self invoking functions inside `util object` right ?.

[2017-02-05 12:59] li-kai commented on #6542
@damithc Yep, the responsive version will avoid this problem.

[2017-02-05 13:14] xpdavid commented on #1682
@damithc Is this acceptable?
![sequence 01](https://cloud.githubusercontent.com/assets/13977235/22626424/f7c1b174-ebe7-11e6-9c80-4f1f4b2dda49.gif)

[2017-02-05 13:49] damithc commented on #6542
@iamhunter thanks for the issue. 👍 It is a valid issue but currently being covered in another ongoing PR.

[2017-02-05 13:49] #6542 closed

[2017-02-05 13:57] damithc commented on #1682
@xpdavid yes, that can work. Does `Ctrl+C` is understood by Mac users too?

[2017-02-05 14:08] xpdavid commented on #1682
![screen shot 2017-02-05 at 9 59 34 pm](https://cloud.githubusercontent.com/assets/13977235/22626686/85cb5884-ebee-11e6-9c9d-4dd01240e436.png)
There are some places in Teammates also using "... `Ctrl + C` to copy ...".
I think user can always use right click to copy it. Maybe change it to

[2017-02-05 14:09] wkurniawan07 commented on #6535
This is not the issue. SonarQube _itself_ requires Java 8 runtime to run, but the VM we use for Travis CI is configured with Java 7.
If TEAMMATES is to use any Java 8 library, we would expect the same error.

[2017-02-05 15:00] damithc commented on #1682
Yes, I guess Mac users will know what to do. Should be `Emails`.

[2017-02-05 15:03] damithc commented on #6535
I see. TEAMMATES cannot use Java 8 VM? If cannot, we have to put SonarCube on hold until GAE gains Java 8 compatibility.

[2017-02-05 15:47] junhaoyap commented on #6539
@iamhunter, Welcome to TEAMMATES! Great job!

I will recommend that you start with a first timer issue that you can find to get your feet wet to get started and I am looking forward to seeing your contributions to open source and TEAMMATES!

[2017-02-06 02:39] samsontmr opened #6545 "Refactor FeedbackSessionsLogic"
Some methods, like `getFeedbackSessionResultsForUserWithParams` (236 lines!!!) are extremely long and could be broken up to be more readable.

[2017-02-06 02:52] damithc commented on #6545
Need to ensure it has near 100% code coverage before refactoring. If it doesn't, may have to increase coverage first as a separate issue.

[2017-02-06 02:56] samsontmr commented on #6545
Speaking of coverage, didn't we have a coverage bot some time ago?

[2017-02-06 05:21] junhaoyap commented on #6500
cc @TEAMMATES/contributors

[2017-02-06 07:32] wkurniawan07 commented on #6500
@junhaoyap I don't think that's a good idea. That group was used back then when external contributors are invited to the project, which we don't do anymore, so what you just did was notifying people who haven't been involved for ~2 years 🤔

[2017-02-06 08:28] #6438 closed

[2017-02-06 12:28] boxin-yang commented on #6534
Hi, prof, would you please elaborate more on the bug? So the bug is when you are updating the email the old student rows are deleted?

I looked through the code. When adding the students, for each student, the StudentLogic::enrollStudent(StudentAttributes, Boolean ) would first check whether there is an email registered in this course . If true, the class updates the students info in the database.

[2017-02-06 15:38] damithc commented on #6534
@boxin-yang

Steps that might potentially reproduce the error (based on user feedback):
1. Enroll student Adam with betsy@email.com and Betsy with charlie@email.com
2. Edit Adam's email to be adam@email.com
3. Edit Betsy's email to be betsy@email.com (which previously belonged to Adam).
4. Bug: Adam is deleted while Betsy's email is updated as requested.

Try the above and let us know what happene

[2017-02-06 16:13] #6518 closed

[2017-02-06 16:26] wkurniawan07 opened #6547 "Suppress repetitions and unnecessary code in test cases"
The logical next step after #6462 and #6463.

- This glaring repetition in all test cases: `printTestClassHeader` and `printTestClassFooter` routine. Move them to `BaseTestCase` and we would have saved hundreds of lines of repetitions.
- Most `*LogicTest`s repeat the routine `removeAndRestoreTypicalDataBundle`.
- `BaseTestCase.printTestCaseHeader`: not used at all.
- `GaeSimulation.resetDatastore`

[2017-02-06 16:56] boxin-yang commented on #6534
Hi Prof, I cannot reproduce the error.

I enrolled the students twice each with content:

Section | Team | Name | Email | Comments
Tut Group 1 | Team 1 | A | B@email.com
Tut Group 1 | Team 1 | B | C@email.com | Exchange Student

Section | Team | Name | Email | Comments
Tut Group 1 | Team 1 | A | A@email.com
Tut Group 1 | Team 1 | B | B@email.com | Exchange Student

And i got 3 students with:
    A

[2017-02-06 18:06] whipermr5 commented on #6534
I found the problem! Turns out `updateStudent` in `StudentsDb` does not update the primary key _at all_ upon updating the email address of the target student. The primary key of `CourseStudent` is a generated ID: `private String makeId() {
    return getEmail() + '%' + getCourseId();
}`. Editing the email changes the `email` property but not the `id`.

Steps to reproduce:

1. Add student B with em

[2017-02-07 01:32] damithc commented on #6534
Good work @whipermr5 👍
@boxin-yang there must be a slight difference between the steps you tried and the steps @whipermr5 tried, which means the bug is in a specific path of the code.

[2017-02-07 02:08] whipermr5 commented on #6534
Must include an add step where a student is added with email address already in the database due to the bug.

[2017-02-07 03:01] damithc commented on #6534
My bad. I should have included that in the steps I gave.

[2017-02-07 03:10] damithc commented on #6534
There's a chance that recreating a student object will invalidate all access links sent to that student previously (access link is tied to the object key), which may be ok because they went to the wrong email address anyway. ID is a private field (right?) so by right other classes should not be referencing it.

[2017-02-07 12:18] #5702 closed

[2017-02-07 12:47] #6474 closed

[2017-02-07 13:01] #6349 closed

[2017-02-07 13:05] wkurniawan07 opened #6549 "Add CommentSearchTest to test searching for comments"
The test cases' design can follow `StudentSearchTest`.

[2017-02-07 13:06] wkurniawan07 opened #6550 "Add FeedbackResponseCommentSearchTest to test searching for feedback response comments"
The test cases' design can follow `StudentSearchTest`.

[2017-02-07 13:07] wkurniawan07 opened #6551 "Add InstructorSearchTest to test searching for instructors"
The test cases' design can follow `StudentSearchTest`.

[2017-02-07 13:17] li-kai opened #6552 "Images used in the project are not optimized"
All the images in [this page](https://teammatesv4.appspot.com/about.jsp) are not optimized, resulting in the user downloading nearly 3.5mb of images when visiting the page.

[2017-02-07 13:21] wkurniawan07 opened #6554 "Release V5.95"
Scheduled for Feb 8th, 2017, 7pm SGT.

[2017-02-07 13:24] wkurniawan07 opened #6555 "Update about.jsp with contributors from V5.95"

[2017-02-07 13:26] wkurniawan07 commented on #6552
As the matter of fact, _none_ of the images used in this project are optimized 😛

But you're right that the about page has the biggest impact by far.

[2017-02-07 13:27] li-kai commented on #6552
I did a compression on `/images/` folder but I didn't see any good results. Some are already as optimized as they can be.

[2017-02-07 13:35] wkurniawan07 commented on #6552
I just [kraked](https://kraken.io/web-interface) all the images in the folder, and all but one image are optimize-able.

[2017-02-07 15:52] li-kai commented on #6552
You were right. Guess something was wrong with my settings on first parse. I'll optimize the rest.

[2017-02-07 16:07] shrut1996 opened #6556 "Feature Request for the Student Profile Page"
When a student opens his/her profile page, they get the edit mode. However I suggest we could make the profile page as it is from the Instructors' perspective and give edit options besides the fields as it is in websites like Facebook. Or else we could give a link on the page stating "View as Instructor" so that the student can see how the Instructor can see his/her profile.

[2017-02-07 16:51] boxin-yang opened #6557 "Refactor StudentLogic::enrollStudents(String, String, boolean)"
In Student Logic class, part of enrollStudents(String, String, boolean) is done repeatedly and could be optimized.

line 304:         List<String> invalidityInfo = getInvalidityInfoInEnrollLines(enrollLines, courseId);

in calling getInvalidityInfoInEnrollLines, each line is scanned and StudentAttributesFactory makes new StudentAttributes for each line. However, the returned result is only used to

[2017-02-08 01:23] damithc commented on #6556
Thanks for the suggestion @shrut1996 👍
Although we are not likely to do this anytime soon as the profiles feature is not used a lot and the suggested enhancement is not a big improvement although nice to have.

[2017-02-08 01:25] damithc commented on #6557
I'm not sure if it can improve the performance significantly though. i.e. whether it is worth the additional complication to the code

[2017-02-08 03:32] leeyimin opened #6558 "FeedbackRubricQuestionDetails: Refactor calculateRubricStats"
Current implementation of calculateRubricStats calls calculateResponseFrequency within the method, which is already always called before calling calculateRubricStats. The two methods should be refactored to not call calculateResponseFrequency twice.

[2017-02-08 05:05] #6492 closed

[2017-02-08 05:49] #6490 closed

[2017-02-08 05:52] #6458 closed

[2017-02-08 06:42] wkurniawan07 opened #6560 "Suppress repetitions of getInvalidityInfo in *Attributes"
This following routine:
[code]
is repeated infinitely many times in all `*Attributes` class.

[2017-02-08 06:45] wkurniawan07 opened #6561 "Update number of contributors in index.jsp"
From "over 190 developers" to "over 250 developers".

[2017-02-08 08:34] damithc opened #6562 "Exception thrown trying to retrieve CourseStudent: IllegalBlockSizeException"
Found in the log of the live server V5.94

[code]

[2017-02-08 09:22] boxin-yang commented on #6557
Erm, I think I will discuss with you or @wkurniawan07  tmr with regards to this. Also, there are some SLAP issues within this function that might be refactored. But I will leave this for now and discuss this tmr during class :)

[2017-02-08 09:24] boxin-yang opened #6563 "Refactor StudentLogic.java"
some method comments(such as validateTeams((List<StudentAttributes>, String)) do not follow java coding standard

[2017-02-08 10:05] damithc commented on #6563
Ensure the code is well covered by tests before refactoring. You can use EclEmma to find test coverage of the class.

[2017-02-08 10:40] #6555 closed

[2017-02-08 10:47] wkurniawan07 commented on #6554
Release 243

Code Contributions from: @AnaghHegde, @iamhunter, @sponde25, @okeashwin, @Neurrone, @ireneten, @whipermr5, @li-kai, @lingyaomeng1, @ablyx, @samsontmr, @DevOpt, @thenaesh, @wkurniawan07, @xpdavid, @leeyimin
Review Contributions from: @boxin-yang, @damithc, @Neurrone, @kanghj, @whipermr5, @JosephineKwa, @junhaoyap, @li-kai, @ablyx, @samsontmr, @wkurniawan07, @xpdavid, @leeyimin, @chowyb

[2017-02-08 15:38] damithc commented on #5738
Getting the emails now.

[2017-02-08 15:38] #5738 closed

[2017-02-08 15:43] damithc opened #6566 "Admin scripts: StatisticsPerInstitute.java: improve scalability"
teammates/client/scripts/StatisticsPerInstitute.java is used to generate student number stats. This script is run monthly to generate monthly stats. However, it is not scalable (it tries to read all student entities at once) and cannot be run anymore since we went past 100K students.
The script needs to be updated to read smaller chunks of data at a time so that it can run over large sets of data.

[2017-02-08 15:45] #4427 closed

[2017-02-08 15:45] #6014 closed

[2017-02-08 15:46] li-kai opened #6567 "usermap.jsp is not responsive"
The map isn't responsive.

[2017-02-08 15:51] damithc opened #6568 "Instructor view results: do not auto-load 3 questions"
Auto-loading three questions puts an unnecessary load on the server as loading results is a heavy operation. At the cost of slight user inconvenience, we can stop auto-loading results and let the user click on the question he/she wants to load instead.

V5.94

[2017-02-08 16:01] damithc opened #6570 "Instructor result download: allow downloading data for a specific question"
When the course is big or the session has many questions, it becomes hard to download results of a session. In those cases, we can ask the user to download one question at a time if we provide such a feature.

[2017-02-08 17:13] wkurniawan07 opened #6571 "Release V5.96"
Scheduled for Feb 15, 2017, 7pm SGT.

[2017-02-09 00:57] damithc commented on #6562
I wonder if this can be triggered by a bot trying to guess the join key e.g.
`/page/studentCourseJoinAuthentication?key=RANDOMKEY`

[2017-02-09 03:46] damithc commented on #5827
Duplicate. closing.

[2017-02-09 03:46] #5827 closed

[2017-02-09 03:46] damithc commented on #5866
Fails at v5.95

[2017-02-09 03:46] damithc commented on #6017
fails at v5.95

[2017-02-09 03:47] damithc commented on #4797
still failing at v5.95

[2017-02-09 03:49] damithc commented on #4157
still failing at v5.95

[2017-02-09 03:53] damithc opened #6575 "InstructorFeedbackEditPageUiTest: fix failure against live server"
Failing at v5.95
[code]

[2017-02-09 04:23] #6355 closed

[2017-02-09 04:42] wkurniawan07 opened #6576 "Refactor FeedbackSessionsLogic#getFeedbackSessionResultsForUserWithParams"
This method:
- Is 236 lines long
- Has a [cyclomatic complexity](http://softwareengineering.stackexchange.com/questions/194061/cyclomatic-complexity-ranges) value of 38 (based on Checkstyle's algorithm)
- [Can cause timeouts](https://github.com/TEAMMATES/teammates/pull/6525#issuecomment-278999878)

From a QA/maintenance point of view, this method is a maintenance nightmare.

[2017-02-09 04:47] wkurniawan07 commented on #6017
Does this still happen?

[2017-02-09 05:07] whipermr5 commented on #6566
May need to make use of sharding counters? https://cloud.google.com/appengine/articles/sharding_counters

[2017-02-09 05:45] wkurniawan07 commented on #6545
I made a special issue for that method: #6576. Can use this issue for smaller but nevertheless need-to-refactor methods.

[2017-02-09 06:39] damithc commented on #6017
Not in recent times. closing.

[2017-02-09 06:39] #6017 closed

[2017-02-09 06:47] damithc commented on #6566
Unlikely. The processing happens in the local Computer (we connect to the datastore remotely). The current algorithm is:
1. Read all student objects from remote datastore to local computer memory
2. Process all student objects in local memory

The above is not scalable to large student numbers. Instead, we can read 1000 students at a time.

[2017-02-09 07:38] wkurniawan07 opened #6579 "Bug report: AllAccessControlUiTests failure in production server due to wrong password"
**Environment (dev/staging/live, version)**

`master` branch since 6299590

**Steps to Reproduce**

Run `AllAccessControlUiTests.java` in production server.

**Expected Behaviour**

The test passes.

**Actual Behaviour**

The test fails at the following sub-cases:
- `testStudentHome()`
- `testStudentAccessToAdminPages()`

**Cause**

`TEST_STUDENT1_PASSWORD` wrongly entered as `TEST_STUDENT2_ACCOUN

[2017-02-09 07:43] #6547 closed

[2017-02-09 08:48] wkurniawan07 opened #6582 "Add Javadoc rules to Checkstyle without full enforcement"
Quoting myself:

Regardless, if we do not put any kind of enforcement, the Javadoc-related technical debt will only accumulate. Steps have to be taken to introduce these rules gradually.

[2017-02-09 09:57] #6439 closed

[2017-02-09 10:29] damithc opened #6584 "Instructor home page: do not auto-load response rate"
Currently, response rate for some of the recent sessions are auto-loaded when the instructor visits the home page. This is an unnecessary strain on the server as most of these numbers may not even be read by the instructor. Let's not auto-load the response rate for any sessions. The instructor can click the the 'show' link to load the response rate if he wishes to see the number.
![image](https://

[2017-02-09 10:30] damithc opened #6585 "Instructor: sessions page: do not auto-load response rates"
Similar to #6584
Let's not auto-load any response rates unless instructor requests for it by clicking on the 'show' link.

![image](https://cloud.githubusercontent.com/assets/1673303/22779426/bd4c34cc-eef5-11e6-891c-629304661788.png)

[2017-02-09 10:33] damithc commented on #6554
@wkurniawan07 you may be able to use `git log` command to generate a summary of the issues fixed in this release and include that here and/or in the milestone description.

[2017-02-09 10:33] #6554 closed

[2017-02-09 10:38] damithc opened #6586 "Instructor view results: increase responses limit to 8000"
Currently, a result page is not loaded if it involves more than 2000 responses. This limit is too low. Let's increase it to 8000.
The limit is defined in FeedbackSessionsLogic.java

[2017-02-09 10:43] damithc opened #6587 "ControllerServlet: do not sent email to admin upon error"
Currently, an email alert is sent to the admin if a request is terminated due to an exception. This code is in the ControllerServlet. However, sending an email can delay the termination of the request which can anger GAE into shutting down the entire instance. Simply logging the error is enough because errors logged at SEVERE level generate email alerts anyway.

![image](https://cloud.githubuserco

[2017-02-09 10:56] damithc opened #6588 "AboutUs page: make the list numbering continuous"
See screenshot below. Instead of restarting the numbering from 1, make it continue from the previous list.

![image](https://cloud.githubusercontent.com/assets/1673303/22780295/31af7af6-eef9-11e6-9e12-107b28cf87dd.png)

[2017-02-09 11:09] damithc opened #6589 "Update user map for 2017 Jan"
Refer #6443 as an example.
Here are the new additions to consider
[code]

[2017-02-09 11:14] wkurniawan07 commented on #6554
@damithc I don't use milestone to contain release-related information. GitHub has [a proper support for releases](https://github.com/TEAMMATES/teammates/releases) which I'm using.

As for generating summary of issues, what do we want to achieve by that? Merely listing does little to no value add. If we want to do a proper changelog, we need to first come up with what to include there. Some example

[2017-02-09 11:17] damithc commented on #6554
It's going to be useful for me to do a manual test of some of the new behaviors after a new version is deployed.

[2017-02-09 11:33] damithc commented on #6554
Yes. May be not so important. Let's leave it alone for now. We have more important things to do first.

[2017-02-09 11:44] wkurniawan07 commented on #6554
If that's all that's needed, then [a simple filtering of issues](https://github.com/TEAMMATES/teammates/issues?utf8=✓&q=is%3Aissue%20is%3Aclosed%20milestone%3AV5.95) would suffice.

The problem about merely listing `git log` info (and nothing else) for public consumption is that it will have zero to negative effect to our documentation value:

and it does not help that some of our issues are eithe

[2017-02-09 19:45] onealml commented on #6589
Hello! I'd like to claim this issue.

[2017-02-10 01:08] damithc commented on #6589
@onealml go ahead and submit a PR. Please remember to follow the development process given in our documentation.

[2017-02-10 05:33] #5317 closed

[2017-02-10 06:00] wkurniawan07 commented on #6588
Those are different sections for different titles (past team members, past committers, contributors). I don't think it's right to make the numbering continuous.

[2017-02-10 06:12] #6579 closed

[2017-02-10 06:46] #6020 closed

[2017-02-10 07:57] damithc commented on #6588
That's true. However, I'm more interested in showing the total size of our dev community rather than how many in each section.

[2017-02-10 09:50] wkurniawan07 opened #6590 "Enhancement: Enhance Codecov configuration"
**Proposed Enhancement**

Codecov was configured in #5318 and merged only few hours back. Things that are working:
- Coverage reports for PRs (including those made from forks), covering coverage of lines introduced in the PR, coverage of entire production-code, and coverage of entire (production+test)-code.

Things that are not working:
- `master` branch report not sent to the Codecov server.
- Co

[2017-02-10 14:54] damithc opened #6594 "Instructor: copy session: allow observers to copy sessions"
A user reported that an instructor having 'observer' level permission encounter an error when trying to copy a session from the course.

v5.95

EDIT: An observer should be able to copy sessions, **as long as the instructor has edit permissions for the destination course.**

[2017-02-10 20:55] LimeTheCoder opened #6595 "New contributor self intro [LimeTheCoder]"
a) App: https://teammates-limethecoder.appspot.com/
b) Fork: https://github.com/LimeTheCoder/teammates
c) I created a list of conferences in index.jsp, instead of enumeration them in the sentence.
Before
![image](https://cloud.githubusercontent.com/assets/8873908/22842958/0bd140ac-efe0-11e6-8a98-b853e01a94df.png)

After
![image](https://cloud.githubusercontent.com/assets/8873908/22842970/1945e4fe-

[2017-02-10 21:32] gourmetbrian commented on #6586
Hi, I'd like to handle this.

[2017-02-10 21:41] Br35Ba56 opened #6596 ""New contributor self intro Br35Ba56""
Link to my appspot:  http://teammates-tony.appspot.com
Link to my Fork: https://github.com/Br35Ba56/teammates

Screen Shot to my change on my Tinker branch, changed 1000 to 1200
![tinkerscreenshot](https://cloud.githubusercontent.com/assets/21034740/22843215/bef56198-efd8-11e6-8d8d-34bcd1673f8e.png)

Hello everyone,
My name is Anthony Schneider and I am studying Computer Science at the University

[2017-02-11 02:02] damithc commented on #6586
@gourmetbrian go ahead and submit a PR

[2017-02-11 19:50] xpdavid commented on #6551
I would like to take this issue. :P

[2017-02-11 19:51] xpdavid commented on #6549
As I am doing #6551, I also would like to work on this.

[2017-02-12 02:30] samsontmr commented on #6566
Similar to pagination?

[2017-02-12 02:55] damithc commented on #6566
More likely the solution is Query Cursors https://cloud.google.com/appengine/docs/java/datastore/query-cursors

[2017-02-12 03:02] samsontmr commented on #6566
Hmm this sounds interesting, I'll work on this.

[2017-02-12 13:37] xpdavid opened #6601 "Unused options in instructorStudentListPage UI"
As indicated by the screenshot, the options like `Show comments from:` `Show comments with status:` will be ignored by the back-end server.
![screen shot 2017-02-12 at 9 15 59 pm](https://cloud.githubusercontent.com/assets/13977235/22862415/fa64bf08-f168-11e6-9287-00b30219404f.png)

The page action will ignore the `Public` `Private` `You` `Others` options.

[code]

[code]
It doesn't make sense for

[2017-02-12 16:50] #6513 closed

[2017-02-12 18:10] wkurniawan07 commented on #6594
Changing the label. "User reported" unfortunately means it needs investigation.

[2017-02-12 18:11] wkurniawan07 commented on #6594
@boxin-yang can try and troubleshoot this?

[2017-02-12 18:16] wkurniawan07 commented on #6595
@LimeTheCoder welcome to the TEAMMATES community!
Good job on setting up your very own dev environment and deploying to staging server! You can contribute to some of the open issues in the project, particularly those labelled `d.FirstTimers` (do just one of this) and `d.Contributors`.

As for GSoC, the program committee has yet to announce this year's mentor orgs, so there is no certainty yet that

[2017-02-12 18:17] wkurniawan07 commented on #6596
@Br35Ba56 welcome to the TEAMMATES community!
Good job on setting up your very own dev environment and deploying to staging server! You can contribute to some of the open issues in the project, particularly those labelled `d.FirstTimers` (do just one of this) and `d.Contributors`.

[2017-02-12 18:26] #6539 closed

[2017-02-12 18:26] #6500 closed

[2017-02-12 18:27] #6401 closed

[2017-02-12 18:27] #6361 closed

[2017-02-13 05:46] #6498 closed

[2017-02-13 07:11] #6530 closed

[2017-02-13 09:17] #6590 closed

[2017-02-13 15:40] #1682 closed

[2017-02-13 16:43] whipermr5 opened #6606 "Improve StudentAttributes.java doc comments"
In gist, the doc comments of two methods, `isSectionChanged` and `isTeamChanged`, are aware of an "edit form" even though this low level class should not be.

Refer to comments [here](https://github.com/TEAMMATES/teammates/pull/6581#discussion_r100711782), [here](https://github.com/TEAMMATES/teammates/pull/6581#discussion_r100711809) and [here](https://github.com/TEAMMATES/teammates/pull/6581#disc

[2017-02-14 01:27] damithc commented on #6606
To be done after #6581 is merged.
Change the header comment of `isSectionChanged` and `isTeamChanged` to follow that of `isEmailChanged`

[2017-02-14 05:50] #6589 closed

[2017-02-14 06:28] wkurniawan07 commented on #6552
Renamed the issue and PR for accuracy.

[2017-02-14 06:29] #6552 closed

[2017-02-14 07:05] #5402 closed

[2017-02-14 07:23] wkurniawan07 opened #6607 "Update about.jsp with contributors from V5.96"

[2017-02-14 09:24] junhaoyap commented on #3975
In view of preparation for migration to ES6, cc @li-kai, we can consider using constants instead of our current I_AM_A_CONSTANT convention and it guarantees immutability

[2017-02-14 11:54] #6534 closed

[2017-02-14 12:56] #6584 closed

[2017-02-15 00:17] LimeTheCoder commented on #6560
I think to get rid of that routine, we need a little bit change methods api in FieldValidator class. I propose to replace old api of this methods, for example
`String getInvalidityInfoForCourseId(String courseId) `
 to following
`  boolean validateCourseId(String courseId, List<String> errors)...`
and update errors list in that particular methods if needed.
After that replacement, *Attributes will

[2017-02-15 00:58] damithc commented on #2983
Still getting these. Reopening.

Error Message: teammates.common.util.Logger severe: TEAMMATESLOG|||page|||System Error Report|||true|||Unknown|||Unknown|||Unknown|||Unknown|||TEAMMATES (5.95.02): New System Exception: Null feedback recipientEmail
Show/Hide Details >>
Error Message

        Null feedback recipientEmail

Actual user

Not logged in

Request Method

POST

User Agent

Mozilla/5.0 (Win

[2017-02-15 01:20] damithc opened #6610 "Document how to compress images"
Document how to compress images when adding them to the app/website

[2017-02-15 01:21] damithc commented on #6610
@li-kai can do this?

[2017-02-15 02:52] li-kai opened #6611 "Add transpilation step for javascript"
Transpilation would allow us to write javascript in es6. As discussed in the slack group, this will need to be incremental, only transpiling certain files as we convert them to es6 syntax.

[2017-02-15 04:42] MikeBruns opened #6613 "New contributor self intro MikeBruns"
https://teammates-michaelbruns.appspot.com/
https://github.com/MikeBruns/teammates/tree/tinker

I changed the testimonial cycle animation. It now cycles by fading instead of a straight change. Picture is showing the testimonial fading out. See my app engine to witness the fading :)
![intropic](https://cloud.githubusercontent.com/assets/7191840/22960699/e7d5e0dc-f30d-11e6-9865-1fa9a81d93f7.png)

My

[2017-02-15 06:22] #6346 closed

[2017-02-15 07:37] #6549 closed

[2017-02-15 07:40] #6607 closed

[2017-02-15 08:07] wkurniawan07 commented on #6571
Release 244

Code Contributions from: @AnaghHegde, @Br35Ba56, @kanghj, @whipermr5, @li-kai, @onealml, @sznicci, @PratyushTalreja, @samsontmr, @wkurniawan07, @xpdavid, @leeyimin
Review Contributions from: @boxin-yang, @damithc, @Neurrone, @kanghj, @whipermr5, @JosephineKwa, @junhaoyap, @li-kai, @samsontmr, @wkurniawan07, @chowyb

Sprint Period: Feb 9, 2017 - Feb 15, 2017
Sprint Velocity: 39 hrs (co

[2017-02-15 10:39] li-kai opened #6616 "Add tests for adminHome.js"
The issue is that there aren't tests for it.

[2017-02-16 01:02] damithc opened #6619 "Failed to instantiate Feedback*QuestionDetails instance for CONTRIB question type"
v5.95
Found in log (and also reported by user). It's odd that the error message mentions two message types: CONTRIB and rubric

[code]

[2017-02-16 02:37] damithc opened #6620 "InstructorStudentListPageUiTest failing on live server"
v5.96

[code]

[2017-02-16 02:37] damithc commented on #6620
@xpdavid can have a look? Looks like it's related to the new 'copy emails to clipboard' function.

[2017-02-16 02:42] damithc commented on #6620
Looks like AppVeyor is also failing on the same test, so it could be a Windows vs Unix thing.

[2017-02-16 03:06] damithc commented on #6571
Deployed

[2017-02-16 03:06] #6571 closed

[2017-02-16 03:15] xpdavid commented on #6620
@damithc I guess it's the whitespace thing. Let's me find a Windows machine to try.

[2017-02-16 03:56] damithc opened #6621 "Bug report: User map does not load"
**Environment (dev/staging/live, version)**

Live server at V5.96

**Steps to Reproduce**

Open `/usermap.jsp` and wait for the user map to load.

**Expected Behaviour**

The user map loads.

**Actual Behaviour**

The user map does not load:

![image](https://cloud.githubusercontent.com/assets/1673303/23006780/e6b3dfd8-f43e-11e6-9121-f0b6dec3c3ea.png)

[2017-02-16 03:56] damithc commented on #6621
I have rolled back to v5.95. This needs to be fixed in the next version.

[2017-02-16 05:03] wkurniawan07 commented on #6619
@whipermr5 do you want to explore this? You don't have to be the one to eventually fix it.

[2017-02-16 05:04] wkurniawan07 commented on #6621
I found the problem. Will push as a hot patch.

[2017-02-16 05:05] whipermr5 commented on #6619
Okay!

[2017-02-16 05:10] wkurniawan07 commented on #6621
Meanwhile I'll edit the issue description and title to fit the template.

[2017-02-16 05:13] whipermr5 opened #6623 "Refactor updateStudent in StudentsDb"
This method has become too long after the email update issue was fixed in #6581 (refer to [comment](https://github.com/TEAMMATES/teammates/pull/6581#discussion_r100712141)).

[2017-02-16 05:55] leeyimin opened #6625 "Remove HTML sanitization in AdminEmailAttributes"
Removing the HTML sanitization from AdminEmailAttributes as mentioned in #4588.

[2017-02-16 06:10] whipermr5 commented on #6619
Notes to self as I figure it out [WIP]

What the log is saying:

`AssertTrue` on this condition is failing:
`feedbackQuestionAttributes.showResponsesTo.contains(FeedbackParticipantType.RECEIVER) == feedbackQuestionAttributes.showResponsesTo.contains(FeedbackParticipantType.RECEIVER_TEAM_MEMBERS)
&&
feedbackQuestionAttributes.showResponsesTo.contains(FeedbackParticipantType.RECEIVER_TEAM_MEMBERS) =

[2017-02-16 06:25] whipermr5 opened #6627 "Current static analysis checks don't flag invalid JSON"
Case in point: #6621 #6341

Suggestion: add [eslint json plugin](https://www.npmjs.com/package/eslint-plugin-json) to our current eslint config

[2017-02-16 07:43] wkurniawan07 commented on #6621
Fixed in #6624.

[2017-02-16 07:43] #6621 closed

[2017-02-16 09:53] junhaoyap commented on #6613
@MikeBruns welcome to the TEAMMATES community!

Great job on setting up your very own dev environment and deploying to staging server with a nice change!

You can start to get your feet wet by contributing to some of the open issues in the project, particularly those labelled d.FirstTimers (do just one of this) and d.Contributors which will help you to become more familiar with open source project

[2017-02-16 10:47] amirhmd commented on #6606
Hey guys, sorry, is there any body who could help me getting started with contributing tto this project? i am very looking forward to contribute in this project but I am new and i am not very high in experience.

[2017-02-16 11:17] damithc commented on #6619
To give some context, this user encountered the same error several times when he was trying to add the first question to an empty session. After few tries, he gave up and emailed me.

[2017-02-16 21:08] AnaghHegde commented on #6623
@whipermr5 How about having 2 methods which handles the `if` and `else` conditions.

[2017-02-17 03:20] whipermr5 commented on #6621
This has [happened before](https://github.com/TEAMMATES/teammates/issues/6341), just that it was [broken](https://github.com/TEAMMATES/teammates/pull/6315) and [fixed](https://github.com/TEAMMATES/teammates/pull/6342) within the same milestone [(V5.93)](https://github.com/TEAMMATES/teammates/milestone/232) so it went unnoticed.

[2017-02-17 03:41] whipermr5 commented on #6606
Hey Amir! Check [this](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues) out :)

[2017-02-17 04:44] damithc opened #6631 "Issue templates: remove the requirement for issue title prefixes"
Requiring a prefix e.g. `Bug report:` is redundant as there are labels to indicate the type of an issue (e.g. `c.Bug`). Instead of using part of the issue title to show redundant info, it's more profitable to use prefixes (optionally) to indicate the scope of the issue. e.g. `Issue templates:`

[2017-02-17 05:08] damithc opened #6632 "Adding an instructor to a course: join email can mention who added the instructor"
When adding a new instructor to a course, the new instructor receives an email like this:
[code]

This email can also include information on who added the receiver to the course, possibly with his/her contact info so that the receiver can write back to the 'sender' if needed.

[2017-02-17 05:11] wkurniawan07 commented on #6631
While labels do replace the value of prefixes in issues, they are short-lived in that they are not transferred to PRs and merge commit messages. Looking at a PR title or merge commit message does not immediately tell whether it is a bug fix, enhancement, etc. and if we ever want to make a changelog, being able to identify a commit type just by looking at such message is a necessity.

This limitati

[2017-02-17 06:02] damithc commented on #6631
That's a valid point. The change log, if we were to have one, is for internal use only (it's not end-user friendly anyway), so may be no need to have the type prefix in the change log?. Note that the title length is a big issue in commit titles. We need to limit it to 50 chars and `Feature request` is already 15 chars. Alternatively, we can insert the type prefix into the change log manually after

[2017-02-17 08:38] wkurniawan07 commented on #6623
@AnaghHegde you can give it a try.

[2017-02-17 08:44] wkurniawan07 commented on #6560
The method you proposed does not seem intuitive: why would a validation method accept a List of error strings as a parameter?
Also, `getInvalidityInfoFor*` is used many times beyond this purpose so it might not be wise to overhaul the API just like that.

[2017-02-17 10:14] #6512 closed

[2017-02-17 10:28] wkurniawan07 commented on #6631
I don't think this gives a basis for the changelog to be any less informative.

Why 50? If it's from [this page](https://chris.beams.io/posts/git-commit/) (don't get me wrong, I agree with most of the content of that post), 50 is a good-to-reach goal but the hard limit is 72. If the issue is the prefix is too long, we can make it short like `Bug:`, `Feature:`, `Enhance:`, `Task:`, etc.

The only p

[2017-02-17 11:29] damithc commented on #6631
Yes, 50 is a soft limit.
Yes, shorter prefixes might be better.
Perhaps we can add that to merge commit title instead? e.g. `[Bug #123] student is not deleted (#124)` instead of issue title? Merging is done by fewer people and that means fewer points of failure.
On a related note I don't think we can rely entirely on commit title to generate useful change logs. Probably will need to use commit mes

[2017-02-17 12:23] damithc opened #6634 "Feature requset: Give instructors a way to resend 'result published' link to selected students"
Currently, instructors can resend join invites and submission link emails to selected students, in case a student did not receive the automated email.
Similarly, an instructor should be able to resend the 'results published' email to selected students.

[2017-02-18 01:23] damithc commented on #2983
Another few today.

[2017-02-18 13:44] shivanshsoni opened #6635 "Self intro Shivansh Soni"
Hello sir,
I am Shivansh Soni and I am contributing to this from a month. I have solved many issues as you can check my commits. I want to be a part of GSOC this year and want to work for your organisation.

[2017-02-19 08:26] #6487 closed

[2017-02-19 08:37] wkurniawan07 commented on #6588
Then wouldn't a small script to count that number be the solution?

[2017-02-19 08:56] damithc commented on #6588
Yes, that's even better.

[2017-02-19 08:58] #6567 closed

[2017-02-19 09:08] #6627 closed

[2017-02-19 18:29] wkurniawan07 opened #6638 "Remove unused parameter in InstructorHomeAjaxCoursePageData.java"
In `teammates.ui.pagedata.InstructorHomeAjaxCoursePageData#init`, the last parameter `sectionNames` is not used and thus can be removed.

[2017-02-19 18:30] wkurniawan07 opened #6639 "Remove unused parameter in FeedbackResponseCommentsLogic.java"
In `teammates.logic.core.FeedbackResponseCommentsLogic#isResponseCommentVisibleForUser`, there are three unused parameters: `courseId`, `section`, `instructor`. They all can be removed.

[2017-02-19 18:35] wkurniawan07 opened #6640 "Remove unnecessary classes in common.datatransfer package"
- `FeedbackQuestionBundle`: not used at all.
- `SessionResultsBundle`: an empty interface with only one implementing class. Removing it has no side effect.
- `FeedbackSessionState`: only used in `AdminSearchPageData`; can be moved there as a private enum instead.

[2017-02-19 18:37] wkurniawan07 opened #6641 "Misplaced null check in FeedbackSessionResultsBundle.java"
In `teammates.common.datatransfer.FeedbackSessionResultsBundle`, these two methods `getPossibleGivers(FeedbackQuestionAttributes, String)` and `getPossibleRecipients(FeedbackQuestionAttributes, String)` are guilty of an identical mistake:
[code]
If `parameter` is really null, NPE will occur and thus the null check is futile.

[2017-02-20 00:49] LimeTheCoder commented on #6632
I'll take it.

[2017-02-20 04:59] junhaoyap commented on #6635
@shivanshsoni welcome to the TEAMMATES community!

Nice to have you around, have you introduced yourself before with the template that we have?

In any case, I don't think we are sure of whether we are in GSOC this year yet, cc @damithc @wkurniawan07 for confirmation regarding GSOC

[2017-02-20 09:22] damithc opened #6643 "Bug: Student received submission confirmation but the responses are not recorded"
A user reported that one student submitted responses (and received a confirmation email) but the responses are missing from the results.

v5.94

[2017-02-20 10:19] wkurniawan07 opened #6644 "Enhancement: Make issue templates more readily accessible"
**Describe the feature/enhancement you would like to see added to TEAMMATES.**

- Issue templates readily accessible from the "New issue" page instead of referring to `CONTRIBUTING.md`.
- Issue templates readily copiable to the issue text box instead of having to open the "Raw" format.

**How would your proposed feature/enhancement benefit TEAMMATES?**

It will make it easier for issue reporters t

[2017-02-20 10:20] wkurniawan07 commented on #6643
@xpdavid can you investigate this?

[2017-02-20 10:24] wkurniawan07 commented on #6631
Indeed, it seems like the good solution will be to add the prefix on the merge commit message only. The prefix can follow the `c.*` label of the issue, but that means all the issues with PRs must be labelled with `c.*` label (not a difficult job though).
`[Bug #123] Issue title (#124)` or `[#123] Bug: Issue title (#124)`?

[2017-02-20 11:00] damithc commented on #6643
This reminds me of the recent case where I submitted some responses to a session and the all my existing responses for that session get wiped out because somehow the server received my submission without the values I entered (as if I submitted an empty form).

[2017-02-20 14:08] damithc commented on #6631
I prefer first format because that allows us to include an optional scope prefix without needing multiple colons.

`[Bug #123] email templates: remove blank lines (#124)`
or
`[#123 Bug] email templates: remove blank lines (#124)`
// this one avoids possible confusion with GitHub's `Fixes #123` notation.

[2017-02-20 17:15] #6620 closed

[2017-02-20 18:07] #6526 closed

[2017-02-20 18:46] wkurniawan07 commented on #6588
Which way to go then? The two alternatives have nothing in common.

[2017-02-20 18:51] wkurniawan07 opened #6646 "Fix some violations reported by FindBugs"
We're unlikely to integrate FindBugs because of two reasons:
- It's extremely slow; running FindBugs on the entire code base takes 2+ minutes.
- It has no option to print lint failures to console; for a CI environment, this is a must-have.

But we still can fix as many violations it reported as possible.

[2017-02-20 19:44] xpdavid commented on #6643
@damithc Can you provide the activityLog for that user? And does the user experience any error during the submission?

And for your case, it is quite weird as submitted an empty form could wipe out all existing data for that session.

[2017-02-21 03:12] damithc commented on #6643
This happened early January, so the logs aren't there anymore.

Yes, we should investigate if there is _any_ weird situation (e.g. user double-click the submission button) where the browser can submit our submission form with empty responses. In my case it was an essay question and in this user's case it was a rubric question.

[2017-02-21 06:24] damithc commented on #6588
I'm not sure how complicated the implementation of each solution is, so cannot decide myself. I suggested continuous numbering because I thought it is a trivial change (although the result is not perfect), but I could be wrong. If the required script is not that complicated either, we can leave the list numbering as they are and use the script to report the total dev community size in a separate p

[2017-02-21 07:31] thenaesh opened #6648 "Migrate all JS used by index page to strict mode"
As part of the drive to move all JS to strict mode in preparation for ES6 migration (#3361), the JS used by all the pages before the login (which is actually just all the JS used by index.jsp) should first be migrated to strict mode.

[2017-02-21 07:36] thenaesh opened #6649 "Migrate all JS used by admin pages to strict mode"
As part of the drive to move all JS to strict mode in preparation for ES6 migration (#3361), the JS used by all the admin pages (all the admin*.js) should be migrated to strict mode.

[2017-02-21 11:20] thenaesh commented on #6649
Closing this first since I think the changes for the entire strict-mode migration may be smaller than I thought they would be (I expected a ton of problems to show up, but apparently not). I'll just make a single PR on the original issue.

[2017-02-21 11:21] thenaesh commented on #6648
Closing this first since I think the changes for the entire strict-mode migration may be smaller than I thought they would be (I expected a ton of problems to show up, but apparently not). I'll just make a single PR on the original issue.

[2017-02-21 11:54] damithc commented on #6643
Another student says he filled in all responses but some responses were wiped out. Not sure if it was an eventual consistency issue or related to this issue. I'll share the responses in slack.

[2017-02-21 13:00] thenaesh commented on #6649
I spoke way too soon :(

[2017-02-21 14:15] whipermr5 commented on #2258
After an initial look through the code, `persistDataBundle` does use the `*Db` methods; however it seems there currently are multiple calls to persist the data throughout the `*Db` `create*` methods. If we can keep everything in memory before one final call to persist everything, we should get a significant speed up. Perhaps the `create*` methods can be modified to take in one more parameter, a bo

[2017-02-21 14:19] smithla1 commented on #6639
Hey, I'm going to try and fix this issue.

[2017-02-21 14:22] damithc commented on #2258
Can give it a try. Before deciding, we need to see the additional complications it brings in and the performance gain it provides.

[2017-02-21 14:52] wkurniawan07 commented on #6588
Haven't tried myself, but a script to calculate the number of certain items in a static page cannot be any longer than 15 lines.

[2017-02-21 16:41] onealml commented on #6638
I have just made a pull request for this issue. (please ignore the duplicate commits, the correct one is the last pull request I made!).
Also I assumed that there was a typo in this issue name: it says InstructorHome**AjaxCourse**PageData.java but the actual file I found and edited was InstructorHome**CourseAjax**PageData.java

[2017-02-21 16:44] #6648 closed

[2017-02-21 17:14] xpdavid commented on #6643
It's a bug. I manager to reproduce this. I am not sure it is the bug reported by user.
And actually, I guess it doesn't only specify to rubric question.

Basically, user can click the submit button many times before they get redirected.
I have add a line `ThreadHelper.waitFor(20000);` to `execute()` method to simulate heavy traffic in Teammates :P

![demo-bug 1](https://cloud.githubusercontent.com

[2017-02-21 17:29] xpdavid opened #6654 "Implement AdminActivityLogPageActionTest"
Currently, the `AdminActivityLogPageActionTest.java` is just a empty test case.

[2017-02-22 01:38] damithc commented on #6643
Good work reproducing the bug @xpdavid 👍
Are you going to fix it?

[2017-02-22 03:16] damithc commented on #6619
Another case, this time session already has some questions and the user was trying to add a team contribution question. When I tried it (for the same session), i was able to add without a problem, but the use may have used different settings for the question. Could it be a case of UI allowing settings that are not acceptable to the question type?

[code]

[2017-02-22 05:06] xpdavid commented on #6643
@damithc I'd love to. I will investigate this further.

[2017-02-22 06:53] #6551 closed

[2017-02-22 07:38] whipermr5 commented on #6619
Ohh it's much more reproducible than I thought. Just need to add a new (or edit an existing) team contrib question and change the visibility to any of the predefined options other than `Visible to instructors only` and save.

[2017-02-22 07:51] whipermr5 commented on #6619
I'm trying to figure out the logic behind the [condition](https://github.com/TEAMMATES/teammates/blob/9940d89dde675b7e17e84311cbd83aa7a337863e/src/main/java/teammates/common/datatransfer/questions/FeedbackContributionQuestionDetails.java#L761) that's failing in the validity check - why must `RECEIVER` imply `RECEIVER_TEAM_MEMBERS` and ``RECEIVER_TEAM_MEMBERS`` imply `OWN_TEAM_MEMBERS `?

[2017-02-22 07:57] whipermr5 commented on #6619
Also, changing visibility automatically unchecks `Allow response giver to select 'Not Sure' as the answer`, which looks like another bug.

[2017-02-22 08:01] damithc commented on #6619
Contribution questions should allows only two visibility settings:
1. Instructors can see everything. Students see their own and other team member values anonymously.
2. Instructors can see everything. Students cannot see anything.

Any other setting will fail the validation. Probably the front-end is not enforcing this correctly.

[2017-02-22 08:17] whipermr5 opened #6656 "Bug Report: [Brief description of bug]"
**Environment (dev/staging/live, version)**

Dev server; `master` branch at commit 4858e89053ae29da3afc4031d3a64acdf6f2eb7a

**Steps to Reproduce**

1. Edit a feedback session
1. Create a new question of any type that has checkbox controls (e.g. MCQ, distribute points, team contrib, rubric, rank - basically any type other than essay and numerical scale)
1. Change visibility

**Expected Behaviour**

[2017-02-22 08:20] #3759 closed

[2017-02-22 09:29] whipermr5 commented on #6619
I see. Out of the 4 available predefined options:

1. Shown anonymously to recipient and instructors
2. Shown anonymously to recipient, visible to instructors
3. Visible to instructors only
4. Visible to recipient and instructors

we need to hide the first and last ones then. The second one also has to be fixed as it's not generating `RECEIVER_TEAM_MEMBERS`. The `fixContribQnGiverRecipient` method

[2017-02-22 09:50] damithc commented on #6619
I'm ok to go straight to custom too (i.e. not allow any predefined options).

[2017-02-22 09:58] AnaghHegde opened #6657 "FeedbackNumericalScaleQuestionDetails: refactor long methods"
Some methods of this class have 130 lines of code. I think following methods need refactoring.

1. `getStudentQuestionResultsStatisticsHtml()`

2. `getQuestionResultStatisticsCsv()`

3. `populateSummaryStatisticsFromResponses()`

[2017-02-22 09:59] VamsiSangam opened #6658 "New contributor self intro - Vamsi Sangam"
a) [Link to my app](http://4-18-dot-teammates-vamsi.appspot.com/)
b) [Link to my fork](https://github.com/VamsiSangam/teammates)
c) Screenshot of the UI change -
![capture](https://cloud.githubusercontent.com/assets/11662001/23205954/e21459d0-f911-11e6-8702-62e4bc7d4b04.JPG)
d) Intro -

My name is Vamsi Sangam. I am an undergraduate student at Indian Institute of Information Technology Allahabad (

[2017-02-22 10:21] AnaghHegde opened #6659 "FeedbackMsqQuestionDetails class: Refactor getQuestionResultStatistics* methods"
The two methods `getQuestionResultStatisticsCsv()` and `getQuestionResultStatisticsHtml()` methods have 80+ lines. These methods can be refactored.

[2017-02-23 01:13] a-dhaliwal opened #6661 "New contributor self intro Aman Dhaliwal"
**A:** [Link to my app](http://4-18-dot-teammates-adhaliwal.appspot.com/)

**B:** [Link to my fork](https://github.com/a-dhaliwal/teammates/)

**C:** For my UI change, I simply edited the student and instructor login buttons. Instead of them staying green, they are white, but change green when a mouse is hovered over them. Like so:

**Before:**

![before](https://cloud.githubusercontent.com/assets

[2017-02-23 01:20] nmjacob commented on #6641
Hi, I am new to working on public GitHub repos, so I am going to take this issue as my first if that is ok. I will follow all the guidelines in the project documentation.

[2017-02-23 04:31] a-dhaliwal commented on #6455
I'll take this one if I can

[2017-02-23 15:11] jamesrowlands85 commented on #6640
I will pick this up and submit a pull request.

[2017-02-23 15:13] jamesrowlands85 commented on #6640
My only thought is that is it not best to leave the interface SessionResultBundle as a marker interface?

[2017-02-23 16:52] #6646 closed

[2017-02-23 17:47] whipermr5 opened #6666 "Disallow blank lines containing whitespace"
As per @wkurniawan07's suggestion, with the support of many in the current (as of writing) CS3281/2 teammates team.

http://stackoverflow.com/questions/5917956/why-is-indentation-in-empty-lines-bad

[2017-02-23 18:53] #6595 closed

[2017-02-23 18:53] #6596 closed

[2017-02-23 18:53] #6613 closed

[2017-02-23 18:57] wkurniawan07 commented on #6641
Hi @nmjacob, welcome to TEAMMATES!
As it turns out, this issue has been solved in #6652 (and it was me who solved it, apologies!) and so is not valid anymore. Sorry about this!
Nevertheless, there are many other issues labelled `d.FirstTimers` that are equally beginner-friendly as this one and you're welcome to work on any one of them! However, you should do only one of such issue.

[2017-02-23 18:57] #6641 closed

[2017-02-23 19:00] wkurniawan07 opened #6668 "Remove method EntitiesDb#createAndReturnEntities"
The said method is not used anywhere.

[2017-02-23 19:10] wkurniawan07 commented on #6631
So I guess here's the final decision on the workflow:
- Issue title: no prefix; accepted issues **must** be labelled with `c.*`.
- PR title: no prefix; still a verbatim copy of the issue title and issue number, as usual.
- Merge commit message: `[#123 Category] Issue title (#124)`. `Category` can be `Bug|Task|Enhancement|Story` as how our `c.*` label is defined.

[2017-02-23 19:16] wkurniawan07 commented on #6611
Fixed in #6612 as part of `dev-es6` branch.

[2017-02-23 19:16] #6611 closed

[2017-02-23 19:23] wkurniawan07 commented on #6658
Welcome to TEAMMATES, @VamsiSangam!

Good job on setting up your own developer environment and staging server! I also recognize that you have contributed a fix to TEAMMATES before, but you're of course welcome to contribute more fixes! Do take note that you're no longer allowed to work on issues labelled `d.FirstTimers`, but there are still plenty of other issues for you to pick and fix. In partic

[2017-02-23 19:27] wkurniawan07 commented on #6661
Welcome to TEAMMATES, @a-dhaliwal!

Good job on setting up your own developer environment and staging server! I have read the introduction and I can assure that you are coming to the right place to learn all those. For starters, you can contribute by fixing an issue labelled `d.FirstTimers` (which you are already in the process of doing -- good job!), and then to other issues (particularly those l

[2017-02-23 19:40] AnaghHegde commented on #6283
@damithc Can you be little more specific about potential reviewers part ?.

[2017-02-23 20:42] nmjacob commented on #6641
@Wkurniawan07 just so I know for future notice, am I supposed to write a comment I want to work on something? Or just do it? Trying to learn the GitHub customs haha :)

[2017-02-24 01:09] damithc commented on #6631
Yes, that seems to be the smoothest path from our legacy workflow with the least amount of extra work.
If the `c.*` label is not applied, the person merging can decide the category of the PR at the time of merging. That way, we can reduce the extra work even further.

[2017-02-24 01:11] damithc commented on #6283
@AnaghHegde let's leave this alone for now. One of the senior devs who has a better view of the workflow can take a look at this.

[2017-02-24 02:50] VamsiSangam commented on #6658
Thank you @wkurniawan07 . Will get started with ```d.Contributors``` issues :smile:

[2017-02-24 04:35] wkurniawan07 commented on #6641
@nmjacob that varies from project to project. Here it is not required, but appreciated.

[2017-02-24 05:31] #6639 closed

[2017-02-24 05:42] #6455 closed

[2017-02-24 06:15] whipermr5 commented on #6619
Would it not be better to disable custom instead, since there are only exactly two valid settings? The custom options allow other settings, e.g. instructors cannot see anything, other students can see everything. Showing only the two valid settings in the dropdown would be clearer. (On a side note, these other settings seem to be allowed by the backend; I guess this is a bug?)

[2017-02-24 07:30] damithc commented on #6619
Yes, that's true. The ideal is to show just the two options that are permitted.

Yes, probably a bug.

[2017-02-24 07:51] #6644 closed

[2017-02-24 13:58] samsontmr commented on #6631
We could also use the first letter of the category to represent it to cut down on character count.

[2017-02-25 02:13] #6666 closed

[2017-02-25 13:01] leeyimin opened #6673 "Bug: Discrepancies in AdminEmailsLog Page"
**Environment**

`master` branch at commit ede7d39

**Steps to reproduce**

1. Send an admin email with strings of what would be doubly-sanitized text.
![image](https://cloud.githubusercontent.com/assets/6365864/23331190/f2c56d3c-fb9b-11e6-9aa9-1bb4f8734b77.png)
1. Go to Email Log page.

**Expected behaviour**

1. Text field should show actual email sent ie.
[code]
2. Hidden div in page that shoul

[2017-02-25 18:43] quangphuc789 opened #6674 "Help Request: Cannot run localhost webserver"
- **Operating System:** MacOS Sierra 10.12
- **JDK Version:** 1.7
- **Eclipse Version:** Neon.2 Release (4.6.2)
- **Firefox / Chrome Version (where applicable):** Chrome Version 56.0.2924.87 (64-bit)

**What I was trying to do / What I need help with**
Followed through the whole process. Except step 3.2, last point, the eclipse settings are different.
I tried to run the Dev Server.
- With Eclipse:

[2017-02-26 04:39] AnaghHegde commented on #6674
@quangphuc789  After every step there was something called `verification`. Can you confirm that you got it right after every step ?.
Did you install GAE plug-in ?. Can you check build path and confirm if JAVA_HOME is pointing to valid location.  Can you post a screenshot of what all steps you have followed. It would be easy to identify where you have gone wrong?

The JRE library to should point to

[2017-02-26 07:16] AnaghHegde opened #6677 "Remove unused parameter studentEmail in getQuestionResultStatisticsHtml method"
The `getQuestionResultStatisticsHtml()` method of FeedbackMsqQuestionDetails.java class contains an unused parameter String studentEmail .

[2017-02-26 07:19] AnaghHegde commented on #6677
I think it can be a `d.FirstTimers` issue.

[2017-02-26 13:26] xpdavid commented on #6643
Details report of the bug: @damithc @wkurniawan07
**Background:**
1. There is a verification in the saving action: the form data (responses) must be responses of the current feedback session's questions (It makes sense as we don't want malicious user to edit responses for other question). This is done by looking at whether the form data has the same response's id as existing data. If the response

[2017-02-26 13:51] damithc commented on #6643
@xpdavid good work. Your suggested solution sounds good, but I'm no expert.

[2017-02-26 14:41] quangphuc789 commented on #6674
Hi @AnaghHegde, thank you so much , I have followed through the verification steps:

**Step 1**:
*Git*
<img width="1280" alt="step_1_git" src="https://cloud.githubusercontent.com/assets/6811906/23340583/bfba585c-fc73-11e6-80c2-9ec86dd99bef.png">

*JDK*
<img width="1280" alt="step_1_jdk" src="https://cloud.githubusercontent.com/assets/6811906/23340587/d29c42a0-fc73-11e6-890f-0b5c3c6802d6.png">

**S

[2017-02-26 15:07] AnaghHegde commented on #6674
@quangphuc789

Looks like its using java 1.8 only.  Follow this Go to `Eclipse` -> `Project` -> `Properties` -> `Build Path` then switch to the tab `Libraries` and check if its using 1.7 or not ?

[2017-02-26 15:23] quangphuc789 commented on #6674
@AnaghHegde, I changed it to JRE 1.7.0_71. Here is the (new) error message:

[code]

Thank you very much :)

[2017-02-26 15:30] AnaghHegde commented on #6674
@quangphuc789  What are you getting in localhost:8888 now ?.

Try overriding --address and/or --port.

This means that port is being used by some other application or maybe this only. I don't know how to stop that in mac. Google it and then try launching the teammates.

[2017-02-26 15:47] AnaghHegde commented on #6674
@quangphuc789 Any luck ? or still you are facing any errors?.

[2017-02-26 16:44] AnaghHegde commented on #6674
@quangphuc789  Any luck. Are you still facing any errors ?.

[2017-02-26 17:12] quangphuc789 commented on #6674
Hi @AnaghHegde, sorry I was working on something else. I tried

`lsof -i :8888`

and then `kill` all the running PIDs

I ran the app using Eclipse, still receiving

[code]

The error log is really long, seems like the code does not compile well. I post here if you don't mind

[code]

[2017-02-26 17:13] quangphuc789 commented on #6674
I am thinking, maybe because I am using Eclipse Neon ? Which version of Eclipse you are using @AnaghHegde ?

[2017-02-26 17:46] AnaghHegde commented on #6674
@quangphuc789 Eclipse version is not the issue as far as my opinion is concerned and in the dev guide its mentioned that its supported. So that's not the case.

INFO: Started SelectChannelConnector@127.0.0.1:8888
Feb 27, 2017 1:03:42 AM com.google.appengine.tools.development.AbstractModule startup
INFO: Module instance default is running at http://localhost:8888/
Feb 27, 2017 1:03:42 AM com.google

[2017-02-26 17:55] paradite commented on #6658
Nice personal website. Good job!

[2017-02-27 03:52] VamsiSangam commented on #6658
Thank you @paradite ! Your website looks great and informative too! :smile:

[2017-02-27 14:57] wkurniawan07 commented on #6677
I am sure this is not the case. The method is annotated with `@Override`.

[2017-02-27 14:57] #6677 closed

[2017-02-27 15:11] AnaghHegde commented on #6677
But its not being used anywhere in the some classes like `FeedbackMsqQuestionDetails`.

[2017-02-27 15:22] wkurniawan07 commented on #6677
@AnaghHegde, take some time to read up on Java's `@Override` annotation.

[2017-02-27 15:29] wkurniawan07 commented on #6674
@quangphuc789, welcome to TEAMMATES!
I have seen the screenshots and error logs that you have provided, and I may have an idea of what is wrong but am not so sure yet. Can you do these 2 things:
- Go to `Project -> Properties -> Java Build Path -> Libraries` and check the value in the `JRE System Library` entry. It should be `JavaSE-1.7` or similar.
- Clean the project.

and try again?

[2017-02-27 15:45] AnaghHegde commented on #6674
It's pointing to Java 1.7 as he confirmed above in the previous messages when i asked earlier. But i still don't know why it says not able to access.

[2017-02-27 16:17] #6632 closed

[2017-02-27 16:34] quangphuc789 commented on #6674
@AnaghHegde @wkurniawan07 thank you so much for your patient :)
 I have attached here the pictures regarding the Project Java Build Path

<img width="1280" alt="screen shot 2017-02-28 at 12 31 41 am" src="https://cloud.githubusercontent.com/assets/6811906/23369783/764b3878-fd4d-11e6-9f3d-1421c4f3a06d.png">
<img width="1280" alt="screen shot 2017-02-28 at 12 31 44 am" src="https://cloud.githubuserc

[2017-02-27 16:51] tainansv opened #6680 "New contributor self intro Tainan"
**a)** [link](https://teammates-tainan.appspot.com/) to my app

**b)** [link](https://github.com/tainansv/teammates) to my fork

**c)** My change on UI. I added a hover effect in the background of the links on navbar.
(the mouse does not appear in screenshot, sorry)
![capturar](https://cloud.githubusercontent.com/assets/12564380/23364519/254c71f4-fcde-11e6-961c-44eec290a1e0.PNG)

**d)**  Hi, my na

[2017-02-27 16:52] AnaghHegde commented on #6674
@quangphuc789 I have these many files.
![capture](https://cloud.githubusercontent.com/assets/12005551/23370258/28c497ec-fd3a-11e6-8477-f52d58a476c6.PNG)

I am using windows. In mac also you need to have all these files(or similar). @wkurniawan07 Can you please confirm.

Clean the project and try again.

[2017-02-27 16:59] wkurniawan07 commented on #6674
@quangphuc789 thanks for your latest screenshots. My suspicion now is that you do not run `./gradlew resetEclipseDeps`. Check if running that, refreshing, and rebuilding the project solves the issue.

[2017-02-27 17:30] wkurniawan07 commented on #6680
@tainansv welcome to TEAMMATES community!
Good job on setting up your dev environment and deploying to staging server! You can contribute by fixing issues listed in our issue tracker; I advise to start with one labelled `d.FirstTimers` (but do not do more than one of these), and then `d.Contributors`. Looking forward to your contributions! 👍

There's nothing to worry about the language barrier; so

[2017-02-27 17:32] wkurniawan07 opened #6681 "Release V5.97"
Scheduled for Mar 1, 2017, 7pm SGT.

[2017-02-27 17:34] wkurniawan07 opened #6682 "Update about.jsp with contributors from V5.97"
On top of V5.97's new contributors, I'll also use this opportunity to add the names of past contributors that are never listed.

[2017-02-27 19:07] ZhaoDingfan opened #6683 "New contributor self-intro Zhao Dingfan"
A: [Link](https://teammates-dingfan.appspot.com/) to my app

B: [Link](https://github.com/ZhaoDingfan/teammates) to my fork

C: For my UI change, actually I implemented it successfully on the localhost. However, it does not work on GAE, so it remains the same for UI. Once I find the problem with GAE deployment, I will change my UI immediately.

![alt text](https://github.com/ZhaoDingfan/teammates/

[2017-02-28 05:27] thenaesh opened #6684 "Migrate all JS used by instructor pages to strict mode"
Same idea as #6648 and #6650

[2017-02-28 07:23] #6668 closed

[2017-02-28 07:56] li-kai commented on #6588
I have an alternative solution, it is more complicated but would make things more maintainable. We could simply put the data in JSON format, then have the javascript just display them. Alternatively we could put that data in an ArrayList in Java, and pump them through JSTL loops.

Pros:

1) Data is now decoupled from view, meaning changes can be easily seen and maintained through line changes.
2)

[2017-02-28 09:05] ntbandara3 opened #6685 "GSOC'17"
Hello guys,

I am a 3rd year Software Engineering undergraduate at Sri Lanka Institute of Information Technology. I am interested in the GSOC'17 program and have experience with HTML, CSS, JavaScript, Java languages and Git.

Hope to hear from you guys soon
Cheers. :grin:
<<Nandun>>

[2017-02-28 12:10] VamsiSangam commented on #1753
This issue is not yet fixed. Upon clicking "Send Invite" in ```/page/instructorCourseDetailsPage``` this JS is executed -

[code]

It pops up a modal for confirmation and upon approval the ```window.location``` causes the page to load over again which resets the sorting. The ```window.location``` sends a request to ```/page/instructorCourseRemind``` which redirects back to the ```/page/instructorC

[2017-02-28 13:15] wkurniawan07 commented on #6588
I'm all for the JSON solution. We're living in the age where most "static" pages are auto-generated anyway. 🤖

[2017-02-28 15:23] damithc commented on #6588
I'm ok for a non-static solution. Do we merge the current solution and upgrade to the non-static solution in a later PR?

[2017-02-28 16:15] YaroslavTER opened #6687 "gsoc 17"
Hi, I'm interesting in your organization which is participating in Google Summer Of Code and I want to be accepted. I'm study in National Aviation University (Ukraine) on Software Engineering 3 year. I have some experience in implementation of own small games in JavaScript that is hosted on my GitHub account. Also have some experience with languages Java, C#, have entry level of HTML, CSS and use

[2017-03-01 02:48] a0129998 opened #6688 "New contributor self intro [Wu Xiao Xiao]"
1. I can't deploy because I don't have a method of payment.
2. <a href="https://github.com/a0129998/teammates.git">link to fork</a>
3.
![image](https://cloud.githubusercontent.com/assets/12403982/23443689/82a266d6-fe6b-11e6-8d4c-eb9606641abc.png)
4. My name is Wu XiaoXiao, I mainly program in Java and C++, I'm also farmiliar with html and CSS. ;D

[2017-03-01 04:04] VamsiSangam commented on #1753
Can I work on this issue?

[2017-03-01 04:15] damithc commented on #1753
Sure @VamsiSangam .

[2017-03-01 06:11] damithc commented on #6687
@YaroslavTER Good to hear your interest in contributing to TEAMMATES under GSoC. Please read to [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true).

[2017-03-01 06:11] #6687 closed

[2017-03-01 08:36] wkurniawan07 commented on #6588
The thing is, if we merge the current solution, it will get undone anyway. Of course if we still want to welcome external contribution, it is always doable.

[2017-03-01 08:44] wkurniawan07 opened #6690 "Devise a consistent error-handling mechanism"
Right now, our error-handling mechanism is sub-optimal because:
- They are all over the place. Where do we do `log.severe`? `assert *`? `throw new *Exception` (and which Exception to throw)? Where do we validate method parameters for non-nullity?
- ~They are often not helpful; `Supplied parameter was null` is as good as no error message (when the assertion is specifically checking for non-null) fo

[2017-03-01 08:59] wkurniawan07 opened #6691 "Dev docs: deploying to staging server: explain how to handle task queue count restriction"
With more than 10 items in the task queue (and unlikely to go down), deploying is not possible without billing enabled. We need to add an entry on this to the troubleshooting guide.

[2017-03-01 09:04] wkurniawan07 commented on #6683
@ZhaoDingfan welcome to TEAMMATES community!
Good job on setting up your development environment and deploying to staging server! You can contribute by fixing issues listed in our issue tracker. For starters, you can fix one labelled `d.FirstTimers` (do just one of these), and then `d.Contributors`. Looking forward to your contributions! 👍

As for your question -- I presume by "uploading the code

[2017-03-01 09:08] wkurniawan07 commented on #6688
@a0129998 welcome to TEAMMATES community!
Good job on setting up your development environment! You can contribute by fixing issues listed in our issue tracker. For starters, you can fix one labelled `d.FirstTimers` (do just one of these), and then `d.Contributors`. Looking forward to your contributions! 👍

As for why you cannot deploy; does Google App Engine itself require payment method even for

[2017-03-01 09:10] wkurniawan07 commented on #6685
@ntbandara3 thanks for your interest in contributing to TEAMMATES under GSoC! Do read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true) for more relevant information.

[2017-03-01 09:11] share-with-me opened #6692 "Self Intro - Monish Godhia"
Hi Teammates Community,
I would like to work for the project - Reports+ as part of my GSoC '17. I have worked on similar projects before and have ample exposure to charting libraries such as d3.js, dc.js and crossfilter.js and other web technologies.
How should I start this project? Is there a qualification task? Thanks!

[2017-03-01 09:15] wkurniawan07 commented on #6692
@share-with-me thanks for your interest in contributing to TEAMMATES under GSoC! Do read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true) for more relevant information.

[2017-03-01 09:57] damithc commented on #6588
OK, can close the current PR without merging but count it as a contribution. Close this issue (and reopen a new one) as the name and most of the discussion does not reflect the new direction?

[2017-03-01 10:09] xpdavid opened #6693 "Remove unused methods in datepicker.js"
The methods `getMinDateForEndDate` and `getMaxDateForStartDate` are not used in the project. There is no reason to leave them there.

[2017-03-01 10:14] damithc commented on #6691
As _everyone_ is going to encounter this, better to explain this where we cover how to deploy to staging server?

[2017-03-01 12:00] #6682 closed

[2017-03-01 12:11] wkurniawan07 commented on #6681
Release 246

Code Contributions from: @a-dhaliwal, @Neurrone, @whipermr5, @kwehrheim, @li-kai, @smithla1, @Mynk96, @LimeTheCoder, @thenaesh, @wkurniawan07, @xpdavid
Review Contributions from: @damithc, @Neurrone, @JosephineKwa, @junhaoyap, @li-kai, @ablyx, @samsontmr, @thenaesh, @wkurniawan07, @xpdavid

Sprint Period: Feb 16, 2017 - Mar 1, 2017
Sprint Velocity: 36 hrs (code) + 20 hrs (review) = 56

[2017-03-01 14:57] junhaoyap commented on #6692
Hi @share-with-me, welcome to the TEAMMATES community!

[2017-03-01 14:58] junhaoyap commented on #6688
@a0129998 welcome to the TEAMMATES community! Good job!

Are you also looking to be part of GSOC?

[2017-03-01 14:59] junhaoyap commented on #6685
@ntbandara3 welcome to the TEAMMATES community! @wkurniawan07 gave some good advice :)

[2017-03-01 15:01] junhaoyap commented on #6683
@ZhaoDingfan welcome to the TEAMMATES community! Good job!

May I know if you are you aiming to be part of GSOC? The process might differ a little so we would like to differentiate between those who are and those who aren't!

[2017-03-01 15:02] junhaoyap commented on #6680
@tainansv  welcome to the TEAMMATES community! Good job so far!

May I know if you are you aiming to be part of GSOC? The process differs a little so it would be great if we can know if you are aiming for it!

Your English is good enough, just like what @wkurniawan07 said, we understand and that's what matters, no need to be apologetic when you speak /type in English

[2017-03-01 15:03] junhaoyap commented on #6658
@VamsiSangam welcome to the TEAMMATES community! Fantastic job so far!

May I know if you are you aiming to be part of GSOC?

[2017-03-01 15:04] VamsiSangam commented on #6658
Yes sir I will be a part of GSoC 2017.

[2017-03-01 15:25] junhaoyap commented on #6643
@xpdavid @damithc I agree with @xpdavid's suggested solution, users tend to click / tap on buttons multiple times, sometimes by mistake (such as broken mouse button, these are more rare) and mostly due to what they perceive as "inactivity"

Using a spinner (or other forms of activity indicator) and disabling the button will let the user know that we are doing something, the only cavaeat is that we

[2017-03-01 15:39] junhaoyap commented on #6568
It probably costs a lot too, especially if we do enough entities / database queries per loading

[2017-03-01 15:51] AnaghHegde opened #6696 "CI tests skipped after branch merge"
I am not sure this is the same case as #6509. But take a look at the screen shot.
![capture](https://cloud.githubusercontent.com/assets/12005551/23467725/d1bbf17a-fec4-11e6-9c45-b7338240e63f.PNG)

But looks like it is.

[2017-03-01 15:52] AnaghHegde commented on #6696
I will try to reproduce the same thing as happened in #6509.

[2017-03-01 16:05] wkurniawan07 commented on #6588
Closing as agreed.

[2017-03-01 16:05] #6588 closed

[2017-03-01 16:09] wkurniawan07 commented on #6696
I just checked the PR in question, and nothing was skipped. Do be patient and wait for the yellow dot to turn green; sometimes the CI builds do not finish in sequence.

[2017-03-01 16:09] #6696 closed

[2017-03-01 16:42] wkurniawan07 commented on #6658
@VamsiSangam if you'd like to apply for GSoC, you may want to consider which one(s) of our [project ideas](https://docs.google.com/document/d/1fAvYvQr0E93OsZgyneaXGX0jaMA-zptTIxqLn83xwN0/pub?embedded=true) you'd like to undertake (you're not required but welcome to discuss here). Other than that, you've been doing the right thing; do continue contributing fixes so we know what you're capable of! 💻

[2017-03-01 16:50] tainansv commented on #6680
@junhaoyap for what I know, to be part of GSOC it's necessary be a student, right? I am already graduated.
Besides that, I'm not yet confident enough in my skills to be part of such big event. Maybe in the future.

[2017-03-01 16:53] VamsiSangam commented on #6658
Sure @wkurniawan07 ! Will go through them for sure. Thank you! :smile:

[2017-03-01 21:46] btrajanovski opened #6697 "New Contributor Self-Intro Boban Trajanovski"
<a href="https://github.com/btrajanovski/teammates"> Fork</a>

Hi, my name is Boban Trajanovski. I’m originally from Macedonia but currently live and work in the United States. I’m perusing undergraduate degree in Computer Science concentration Network Security in Northeastern Illinois University in Chicago. I have knowledge in couple programming languages such as: Java, basic Python, HTML, CSS, J

[2017-03-02 04:13] boxin-yang commented on #6688
@a0129998  Hi Xiaoxiao!!! Looking forward to work with you hahaha

[2017-03-02 04:13] #6643 closed

[2017-03-02 04:19] boxin-yang commented on #6594
Will look into this

[2017-03-02 04:51] wkurniawan07 commented on #6697
@btrajanovski welcome to TEAMMATES community!
Good job on setting up your development environment! You can contribute by fixing issues listed in our issue tracker. For starters, you can fix one labelled `d.FirstTimers` (do just one of these), and then `d.Contributors`. Looking forward to your contributions! 👍

One question: are you planning to apply for GSoC?

[2017-03-02 04:51] #6616 closed

[2017-03-02 05:18] leeyimin opened #6698 "Bug: Display of Admin Email subject in logs is not sanitized"
**Environment**
`master` branch at commit a8eb37e

**Steps to reproduce**

1. Go to Admin page and send an email with tags in the subject.
eg.
![image](https://cloud.githubusercontent.com/assets/6365864/23493981/aaf0b892-ff4a-11e6-8ecf-920bc35884ed.png)

1. Go to Activity Log Page.
1. Go to Email Log Page.

**Expected behaviour**

1. Activity Log Page should properly display subject of email (ie.

[2017-03-02 06:00] leeyimin opened #6699 "Bug: AdminEmailComposeSendAction has no log message on success"
**Environment**
 `master` branch at commit a8eb37e

**Steps to reproduce**
1. Go to Admin Page and send an email
1. Go to Activity Log Page.

**Expected behaviour**
Activity Log should display information of the email send action.

**Actual behaviour**

![image](https://cloud.githubusercontent.com/assets/6365864/23494885/6852bb74-ff50-11e6-8a16-af989a6a5ec1.png)

[2017-03-02 06:48] sayedafif commented on #6693
Can I work on this?

[2017-03-02 06:54] xpdavid commented on #6693
@sayedafif There is already a PR for this issue. Maybe you want to try other `d.firstTimers` issues? :)

[2017-03-02 07:42] sam25malik commented on #6693
Hi i want to contribute as i would like to increase my chances of selection for gsoc can u suggest me  some issue?

[2017-03-02 07:55] sam25malik commented on #6586
long indicatedRange = section == null ? 2000 : -1; is mainly not loading due to the algorithm used as it takes too much time to get an output and hence the page fails to load.
long indicatedRange = section == null ? 8000 : -1; lets change it to 8000 and use a better algorithm.

[2017-03-02 08:01] samsontmr opened #6700 "Unused @returns documentation tags in datepicker.js"
A number of header comments in datepicker.js have unused `@returns` tags.

**Task:**
Either use them to describe what the respective methods return, or remove them entirely.

[2017-03-02 08:06] #6693 closed

[2017-03-02 09:07] #6635 closed

[2017-03-02 09:08] #6661 closed

[2017-03-02 09:57] damithc commented on #6586
This issue does not require changing the algorithm. Just changing `2000` to `8000` is enough.

[2017-03-02 10:47] a0129998 commented on #6688
@wkurniawan07 google cloud platform requires me to provide payment details to register with them. According to them it's to make sure that I am not a robot.

@junhaoyap yep.

@boxin-yang Hi boxin.

[2017-03-02 10:59] xpdavid commented on #6693
@sam25malik Welcome to Teammates. You can start to contribute by fixing `d.firstTimers` issue :)

[2017-03-02 12:11] #6475 closed

[2017-03-02 13:47] #6649 closed

[2017-03-02 14:41] #5577 closed

[2017-03-02 15:13] Janakshi28 opened #6701 "GSOC 2017 : Project Questions+ & Project Student Data UI upgrade"
Hi,

I am a final year Software Engineering undergraduate at APIIT Sri Lanka. I'm interested in two of your projects, Project Questions+ & Project Student Data UI upgrade, that you have proposed for GSOC 2017 and I have prior experience with Java, JavaScript, J2EE and a basic knowledge on APP Engine.
I will require some time to get familiar with the technologies that are being used in these projec

[2017-03-02 15:15] wkurniawan07 commented on #6691
@damithc according to https://github.com/TEAMMATES/teammates/issues/6688#issuecomment-283620352, a card is needed even for registering. That already overshadows the problem described by this issue because once a card is available, one only needs to activate billing with quota of zero to stay at free tier.
I think @chowyb can verify that also?

[2017-03-02 15:26] chowyb commented on #6691
Yep can confirm, I'm unable to start the free trial due to this part of the form:
![regis](https://cloud.githubusercontent.com/assets/7546744/23513583/7af9f360-ff9f-11e6-94fb-362d5cdd514d.png)

[2017-03-02 15:34] samsontmr commented on #6691
Can confirm this too.

[2017-03-02 15:40] damithc opened #6702 "Dev docs: tweaks Intellij instructions"
Some minor things I noticed while dogfooding: [to be updated as I dogfood more]

Windows version of Intellij doesn't seem to have this menu path

This menu path is not present in the main UI

![image](https://cloud.githubusercontent.com/assets/1673303/23511549/5e9aa766-ff98-11e6-8e56-9ceb056c3870.png)

Initially I thought I should use `...` button, but it didn't work (I was able to choose the proj

[2017-03-02 15:44] gourmetbrian commented on #6586
I am still planning to submit a PR. I had some difficulty with the Teammates environment and then had some professional assignments. I will submit as soon as possible. Thanks for patience.

[2017-03-02 15:47] samsontmr commented on #6702
It's in the bottom right corner of the welcome screen (the screen IntelliJ shows you if you close the project/haven't imported any projects).

[2017-03-02 15:53] damithc opened #6703 "Reduce datastore reads by preserving entities retrieved inside the wrapper"
Currently, we convert all entities retrieved into a corresponding *Attributes object before using it. While this prevents objects in the database leaking into the logic layer, it increases the number of reads we have to do. For example, this is what happens when updating a response.

1. Read FeedbackResponse
2. Convert to a FeedbackResponseAttributes object
3. Modify the FeedbackResponseAttributes

[2017-03-02 15:54] damithc commented on #6703
@whipermr5 @ablyx @samsontmr @boxin-yang @kanghj

[2017-03-02 16:03] samsontmr commented on #6703
Would replacing the *Attribute classes with some sort of wrapper class for the entity with getter and setter methods be a possible solution?

[2017-03-02 16:20] damithc commented on #6703
Yes, that's what I meant.

[2017-03-02 16:21] ZhaoDingfan commented on #6683
Thank you for your kind greeting!
Actually I am a CEG student in NUS and I applied for this internship through SIP portal. Maybe in the future I will also apply for TEAMMATES through GSOC.

[2017-03-02 19:44] hackosinn opened #6704 "GSOC 2017"
Hi,
     I'm a 3rd year computer science student. i'm interested in projects comments+ and usability hero as part of Gsoc 2017. i'm familiar with teammates community and code structure as i have contributed to it. Due to college project i couldn't contribute to teammates recently. i have experience with java,jsp,html,css and javascript.

Thanks!

[2017-03-02 20:13] paradite commented on #6692
Hi @share-with-me interesting experience with d3.js. Just curious if your recent repos [InteractiveDashboard](https://github.com/share-with-me/InteractiveDashboard) and [d3-warmup-dashboard](https://github.com/share-with-me/d3-warmup-dashboard) are written by yourself?

I also do quite a bit of d3.js in the past so I am excited to see someone with similar interest.

[2017-03-03 00:42] samsontmr commented on #6704
Hi @hackosinn, if you have already read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true), you can continue to contribute whenever you have time :)

[2017-03-03 05:40] share-with-me commented on #6692
Hey @junhaoyap , thanks much! Pretty excited!

[2017-03-03 05:42] share-with-me commented on #6692
Hey @paradite , yes - the warmup as the name suggests was just to get warm up again with the d3.js (I love it!) and I wrote it completely by myself. The interactive dashboard (first time) was something I came across a few weeks back ( using d3.js, dc.js and crossfilter.js) and I referred some blogs to make that! I do feel confident in now although it its usage! What projects have you done using d3

[2017-03-03 06:50] damithc commented on #6620
@xpdavid this still seems to be failing on the live server.

[2017-03-03 06:54] paradite commented on #6692
you can take a look at https://github.com/paradite/gitviz and https://github.com/paradite/Graphpedia which I did a few years back with d3.js mainly.

[2017-03-03 07:01] xpdavid commented on #6620
hmm, Appveyor shows `passing`. Same error message?

[2017-03-03 07:23] share-with-me commented on #6692
They are cool (both of them) - I loved Graphpedia! By the way, these are too old!  What are you working with currently?

[2017-03-03 07:35] paradite commented on #6692
Now I am not working on any open-source projects since I am graduating soon. But I will definitely want to work on cooler project when I get a chance.

[2017-03-03 07:49] damithc commented on #6620
Yes. Note that I'm running tests on a Windows box while the live server is running in a Linux/Unix box. Not sure if that has any effect.

[2017-03-03 12:55] junhaoyap commented on #6704
Hello @hackosinn, you are indeed familiar and if you're interested in GSoC, do read the link that @samsontmr has provided!

[2017-03-03 12:56] junhaoyap commented on #6697
@btrajanovski welcome to the TEAMMATES community! Great job!

I was about to ask if you are planning to apply for GSoC and noticed that @wkurniawan07 has already asked so welcome once again!

[2017-03-03 12:56] junhaoyap commented on #6692
@share-with-me, remember to look into the link that @wkurniawan07 has provided for you!

[2017-03-03 12:57] junhaoyap commented on #6688
@a0129998 thanks! in that case Do read [our instructions for GSoC applicants](https://docs.google.com/document/u/1/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true) for more relevant information!

[2017-03-03 12:58] junhaoyap commented on #6680
@tainansv I am not sure if it is necessary to be a student, I would refer to @damithc regarding that as he knows most about GSoC!

Learning / Contributing to open source is one way to improve your skills 👍  Great job on starting on the open source path here!

[2017-03-03 12:59] junhaoyap commented on #6658
@VamsiSangam thanks for confirming with us, do read through the document that @wkurniawan07 has provided, it will help!

[2017-03-03 13:12] btrajano commented on #6697
Hi guys!
No, I'm not going to apply for the GSoC 2017.

Looking forward to work woth you guys!

[2017-03-03 15:50] damithc commented on #6681
Deployed

[2017-03-03 15:50] #6681 closed

[2017-03-03 16:45] wkurniawan07 opened #6707 "Document and manage Exceptions thrown at *Action classes"
Part one of #6690.

- Each action will expect certain parameters to be non-null for correct processing (for e.g. the course details page obviously needs the course ID). **Non-existence of such parameters should render the action invalid and throw `NullPostParameterException`** (a variant of `NullPointerException` but not so severe).

- **Each required parameter is also to be documented and explain

[2017-03-04 01:40] a0129998 commented on #6700
I'm interested in this task.

[2017-03-04 02:13] samsontmr commented on #6700
@a0129998 Just go ahead and open a pull request :)

[2017-03-04 02:37] a0129998 commented on #6700
Hi, I have created a pull request, but I forgot to add labels, but it's ready to be reviewed.

[2017-03-04 02:42] samsontmr opened #6709 "Clarify App Engine SDK selection instructions in Development Guidelines"
Line 48 (shown below) of `development.md` is unclear as to which `appengine-sdk` folder the user is supposed to select (`appengine-sdk` or `appengine-java-sdk-<version>`).  This needs to be clarified.

From @damithc:

`Error running Dev Server: 'C:/Users/damithch/.gradle/appengine-sdk' isn't valid App Engine SDK installation: 'C:\Users\damithch\.gradle\appengine-sdk\lib\appengine-tools-api.jar' no

[2017-03-04 04:39] #6700 closed

[2017-03-04 05:33] samsontmr opened #6710 "issues.md is outdated"
Some labels in the issue tracker are undocumented in `issues.md`, e.g. `a-Workflow`, `c.DevOps`, `a-DevHelp`. There are also two 'DevOps' labels in the issue tracker, `c.DevOps` and `a-DevOps`, should we use `c.DevOps` instead of `a-DevOps`?

EDIT: Looks like an ongoing PR is fixing this.

[2017-03-04 05:39] #6710 closed

[2017-03-04 06:13] xpdavid opened #6711 "AdminActivityLogPageAction: fix bug in generation of status message"
**Environment**
master branch at efad9e9dc1149779850773b323acaf2639b15c90

**Steps to reproduce**
Go to AdminActivityLog in admin console and type query to filter the log messages.
Currently when the `person:xxx` like query is present, status message is supposed to contain the time in that person's timezone (`xxx in Local Time Zone (8.0).`). But this function gets a huge bug: The query will be pro

[2017-03-04 06:20] li-kai opened #6712 "Bind loop variable using closure rather than external variable"
As mentioned in #6608, in `instructorFeedbackResults.js`, we should bind `idx` to the setTimeout instead of using another variable `i`.

Reading material: http://ignaciothayer.com/post/a-dangerous-example-of-javascript-hoisting/

[2017-03-04 06:32] Neurrone opened #6713 "instructor.js: add more tests"
Only 3 functions in instructor.js are being tested currently.

[2017-03-04 12:06] damithc opened #6715 "Add TEAMMATES to up-for-grabs list"
We can add TEAMMATES to the lit of beginner friendly OSS projects maintained at http://up-for-grabs.net

[2017-03-04 13:14] thenaesh opened #6716 "Migrate all the remaining JS to strict mode"
In particular, migrate the following files:
[code]

[2017-03-04 19:12] suhaibk9 opened #6719 "Hi , I am new and I would like to contribute can someone please help me to get started?"
I can code in JAVA . I would be highly obliged if someone will guide me on how to start contributing.

[2017-03-04 22:01] rclakmal commented on #6719
@suhaibk9 Pls refer to [https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md](Contributor Guide).

[2017-03-04 22:59] domdomegg opened #6720 "Use vector images (SVG) in webapp and docs"
**Use vector images in webapp and docs**

Images in [`webapp/images`](https://github.com/TEAMMATES/teammates/tree/master/src/main/webapp/images) and [`docs/images`](https://github.com/TEAMMATES/teammates/tree/master/docs/images) should use vector image files, probably SVG.

In `webapp/images` there are many `.pptx` versions of the illustrations which could easily be converted to SVG, however no su

[2017-03-04 23:26] domdomegg commented on #6715
Done - see:
https://github.com/up-for-grabs/up-for-grabs.net/pull/566

[2017-03-04 23:34] domdomegg commented on #6715
Merged; this issue can be closed

[2017-03-05 00:46] samsontmr commented on #6715
Thanks @domdomegg!

[2017-03-05 00:46] #6715 closed

[2017-03-05 01:18] samsontmr commented on #6719
Hi @suhaibk9, welcome to TEAMMATES! You can start by reading the [Contributor Guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md), setting up your development environment and fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue. Don't forget to [introduce yourself](https://github.com/TEAMMATES/te

[2017-03-05 02:04] damithc commented on #6720
@domdomegg
How easy is it to convert from pptx to svg?
How much of a size saving do we get for the images we have?

[2017-03-05 03:33] thenaesh opened #6722 "Reorder syntax validation instructions in setup guide"
In the [setup guide](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md), under the Eclipse section, of Step 4: Set up an IDE, there are instructions to configure indentation and to turn off syntax validation for HTML/JSP.

The instructions for syntax validation require going to `Project → Properties → ...`, which cannot be done until the project has been imported. The indentatio

[2017-03-05 04:48] damithc commented on #6702
We cannot assume the IDE is a fresh install, which means the welcome screen may not be present.  In my case, I already had some other projects configured for Intellij which means IDE opens with the most recent project (not the welcome screen). Also note that some of the other projects might be using Java 8, which means we cannot simply set the entire IDE to use Java 7.

[2017-03-05 04:58] samsontmr commented on #6702
Perhaps we can have separate sets of intructions for fresh installs and those with existing projects?

Mine was a fresh install, so I had to add a JDK before IntelliJ allowed me to import the project (otherwise I got stuck at the screen where you need to select a JDK).

[2017-03-05 05:09] damithc opened #6723 "Setup guide: mention the Java path should use '/'"
**Description of feature/enhancement**
The `settingUp.md` has the following sentence:

If you want to use a JDK other than the one specified in your PATH variable, add the value to the variable org.gradle.java.home. This value must be a valid JDK 1.7 directory.

We may want to mention that Windows users should be careful to use `/` instead of the Windows default `\` (`\` is used if the user copy-p

[2017-03-05 05:27] samsontmr opened #6724 "Setup guide: Change `Import existing project` to `Import project`"
The first bullet point of Step 3 of the [instructions for setting up IntelliJ](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md#intellij-idea) should read:

[2017-03-05 05:31] iamsk9 opened #6725 "New contributor Self-Intro A Sai Krishna"
Hello **teammates community**. My name is **Sai Krishna**. I am from India, currently pursuing undergraduate degree in Computer Science Engineering. I have the knowledge and experience working on web applications and mobile apps. During my full semester internship in a startup I worked on developing some LAMP and MEAN applications and hybrid mobile apps. I also contributed some open source project

[2017-03-05 05:33] samsontmr opened #6726 "Change `File` to `Configure` in Step 2 of instructions for setting up IntelliJ"
Change all occurrences of `File` to `Configure` in Step 2 of the [instructions for setting up IntelliJ](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md#intellij-idea).
Example:

[2017-03-05 05:54] samsontmr opened #6727 "Increase clarity of instructions for configuring checkstyle in IntelliJ"
**Tasks**:
1. Change Step 3 of the [instructions for configuring checkstyle in IntelliJ](https://github.com/TEAMMATES/teammates/blob/master/docs/staticAnalysis.md#configuring-checkstyle-in-intellij-idea) to read:

2. Insert a new step after Step 3 that says:

3. Add a new step at the end:

[2017-03-05 06:00] samsontmr commented on #6725
Hi @iamsk9, welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled `d.Contributors`.

Are you planning to apply for GSoC? If you are, please read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?emb

[2017-03-05 06:08] #6561 closed

[2017-03-05 06:57] damithc commented on #6702
You can write the main description for fresh installs and include variations (may be as block quotes) where an existing install differs.

[2017-03-05 07:43] Neurrone commented on #6713
After investigating, the functions in instructor.js are mostly about registering event handlers.

The handlers open a bootbox modal, and redirects the browser to a url when the user chooses ok.

Since there doesn't seem to be a way of simulating clicks on the ok button for testing, the remaining things are whether the callback is called, and if the window.location is set appropriately. Is testing

[2017-03-05 09:22] damithc commented on #6713
@wkurniawan07 @li-kai @thenaesh your input?

[2017-03-05 09:23] thenaesh opened #6729 "common.js: break into smaller helper scripts"
The common.js file is currently a place where all sorts of definitions go, causing immense coupling in the JavaScript front-end. It would be good to modularize everything there and break the file up into smaller pieces.

Some preliminary ideas:
* Check all the reverse-dependencies of every function(/variable) defined in common.js, to find out where each function is mostly used.
* Group the functio

[2017-03-05 09:39] thenaesh commented on #6713
I think one thing that might work is to extract out all the parts in a function (e.g. in `bindPublishButtons`) that occur before the Bootbox call.

For instance,
[code]
can be extracted into something like
[code]

Then those parts can be tested (in particular, to make sure that the callback link is correct) by manually firing the events. Then we can just trust Bootbox to do the right thing. xD

[2017-03-05 10:25] damithc commented on #6620
@xpdavid Hang on, I may have deployed an older version of the code.

[2017-03-05 10:28] #6631 closed

[2017-03-05 10:39] wkurniawan07 opened #6730 "Email sent after instructor editing student email: Include submission links for closed sessions"
**Description of feature/enhancement**

The email that can be sent by instructor after editing student's email should also contain the submission link for *closed* sessions, not just open sessions, but not for sessions awaiting-to-open.

**Justification**

The reasons why students need the link to closed sessions are:

1. to check if submission was saved
1. to be able to email intended responses t

[2017-03-05 10:48] wkurniawan07 opened #6731 "About page: Use data object to contain name of contributors"
**Description of feature/enhancement**

Use data object such as JSON or POJO to contain the name of contributors, committers (less likely), and core team members (highly unlikely due to the variations in formatting), and use JS or JSP processes to display them to the about page.

**Justification**

By decoupling data from view, we can more easily manage changes and do processing such as adding new

[2017-03-05 10:50] wkurniawan07 commented on #6620
Deployment should not be a reason because the fix for the issue only concerns test code.

The issue, of course, could be that the test code that was run is the version before the fix.

[2017-03-05 10:57] Neurrone opened #6732 "AdminActivityLog.js: add tests"
This file currently has no tests for it.

[2017-03-05 11:06] Neurrone commented on #6713
@thenaesh good idea

[2017-03-05 11:26] damithc commented on #6620
My whole code base was v5.96 instead of at v5.97, so the tests were outdated too.

[2017-03-05 11:29] iamsk9 commented on #6724
@samsontmr I understood the issue. I would like to contribute to this. :100:

[2017-03-05 11:30] samsontmr commented on #6724
@iamsk9 go ahead and open a pull request :)

[2017-03-05 12:35] Neurrone opened #6735 "Fix typo in AdminHomeJsTest.js"
On line 1, we have "QUnit.module('common.js');" - it should be "AdminHome.js" instead.

[2017-03-05 13:01] wkurniawan07 opened #6736 "Process document: Remove the requirement for branch name for forks"
**Description of feature/enhancement**

This is [a part of the process guide](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#step-2-start-clean-from-a-new-branch):

It should be rephrased into:

**Justification**

The branch name requirement is superfluous for anyone without push access.

[2017-03-05 13:24] wkurniawan07 commented on #6713
@Neurrone I am actually already trying to do it in #6615, if you don't mind waiting. I'll try to get it merged in 2-3 days.

[2017-03-05 13:30] wkurniawan07 commented on #6729
At the very least we can break it up according to functionality. Imports, requires, and bundles can come later. Constants are actually suggested in #3975, and I'm on the way of introducing the prototype of it in #6615.

`common.js` is indeed a fine specimen of [a God class](https://sourcemaking.com/antipatterns/the-blob).

[2017-03-05 13:38] domdomegg commented on #6720
Here's IssueLifecycle as svg:
![IssueLifecycle](http://svgur.com/i/tf.svg)

It's less than half the size of the previous image, and now can be easily translated by someone simply opening the file and editing the text, and looks sharp on high-dpi 4k and mobile screens.

To convert it from the pptx to svg I simply opened it up in LibreOffice and clicked `File > Export`, and saved as svg. SVGs can be

[2017-03-05 13:43] domdomegg commented on #6720
Also SVG images can be embedded directly into the webpage so reduce the number of requests to the server, reducing server strain and further decreasing load time, especially on high latency connections.

[2017-03-05 13:50] samsontmr commented on #6720
Sounds like it's worth converting and is even simple enough to be a first timer / contributors issue.

[2017-03-05 14:05] domdomegg commented on #6720
Yea - the pptx to svg ones in docs certainly could be marked for d.FirstTimers. Might be worth creating a batch job in LibreOffice (not sure how, but think it should be possible).

I'm not sure it includes all of them but certainly worth having a look in [`webapp/mockups`](https://github.com/TEAMMATES/teammates/tree/master/src/main/webapp/mockups) as it seems to include a lot of the sources for th

[2017-03-05 14:14] samsontmr commented on #6720
The ones in `webapp` should be made a higher priority though, since they directly impact TEAMMATES' performance.

[2017-03-05 14:20] Neurrone commented on #6713
@wkurniawan07 sure. Was also going to wait for https://github.com/TEAMMATES/teammates/pull/6714 in case it modifies the file.

[2017-03-05 15:13] li-kai commented on #6713
I am also facing this issue in other js files. I personally don't feel that is a lot of advantage of writing tests for these.

[2017-03-05 15:30] #6440 closed

[2017-03-05 15:31] damithc commented on #6720
I have no objections to svg. However, it seems there's no easy way to convert from Microsoft PowerPoint to svg (is there?). I think most of our devs (and me, who deal with the diagrams the most) use Microsoft PowerPoint to draw the diagrams :-p

[2017-03-05 16:36] domdomegg commented on #6720
I don't have Microsoft PowerPoint so don't know whether there is a similar option in it for sure, but [LibreOffice](http://help.theatremanager.com/book/export/html/3914) (free office suite program) can simply save slides as SVGs, so it seems likely that Microsoft must have that feature tucked away somewhere.

Alternatively there seem to be online sites that convert `pptx` files to `svg` files - al

[2017-03-05 19:06] AToleuov opened #6737 "Problems with setting up"
Hi everybody, I have completed the set-up of the environment. Eclipse shows no errors on compiling, however when I try to access localhost:8888, it doesn't work and the following is printed in the console:
SEVERE: Compilation error
org.eclipse.jdt.internal.compiler.classfmt.ClassFormatException
	at org.eclipse.jdt.internal.compiler.classfmt.ClassFileReader.<init>(ClassFileReader.java:342)
	at org.

[2017-03-06 00:12] twhite96 opened #6738 "New Contributor Self-Intro Tiffany White"
- **Link to my app:** e.g. No app currently
- **Link to my fork:** e.g. https://github.com/twhite96/teammates

**Screenshot of changes made (as seen on the UI)**

![Changes](http://d.pr/i/DfL2+)

**Short self-introduction**
My name is Tiffany White and I have a couple years of CS training at the University of Pittsburgh as well as some self-study. I am currently studying Java, JavaScript, Go, and

[2017-03-06 00:31] samsontmr commented on #6738
Hi @twhite96, welcome to TEAMMATES! You can start by fixing a [`d.FirstTimers`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled `d.Contributors`.

Are you planning to apply for GSoC? If you are, please read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub

[2017-03-06 00:34] samsontmr commented on #6737
Hi @AToleuov, perhaps you could provide us with the details specified [here](https://github.com/TEAMMATES/teammates/blob/master/.github/template-helpRequest.md)?

[2017-03-06 00:47] #6724 closed

[2017-03-06 01:11] damithc opened #6741 "Video tour doesn't open on Chrome"
'Video tour' button doesn't work as expected on Chrome, but seems to work on Firefox.

**Steps to reproduce**

Click on the 'video tour' button in the home page using Chrome

**Expected behaviour**

Play YouTube video in full screen mode

**Actual behaviour**

Tries to download a file.

[2017-03-06 01:19] damithc commented on #6720
Let's wait to see if there's an easy way to convert diagrams in pptx files to svg. In PowerPoint, user can simply select the part of the diagram that needs to be converted and choose 'save as picture'. However, that feature does not support svg format.
I don't think we can ask users who already has MS Office to install Libre Office (although free).

[2017-03-06 02:49] damithc commented on #6620
The test is passing with the latest code. Apologies for the false alarm @xpdavid

[2017-03-06 04:06] twhite96 commented on #6738
Hi @samsontmr. I have a small fix to a `d.FirstTimers` issue but I am trying to get everything set up in my dev environment.

[2017-03-06 06:02] junhaoyap commented on #6738
Welcome to the TEAMMATES community, @twhite96

[2017-03-06 06:03] junhaoyap commented on #6737
@AToleuov we have a page for common troubleshooting, please look for it under our documentation and make sure it is not one that we have detailed there and request for more help in the style that the link @samsontmr has provided

[2017-03-06 06:10] junhaoyap commented on #6729
All for it, can't think of any more efficient ways of doing this, it is going to take ```a Herculean effort``` no matter which way we choose :)

The downside of bundling too many generic functions into common.js is that many files require it now without ever using it, some of the things we can think about is whether something really needs to be abstracted, some abstractions really don't add much v

[2017-03-06 06:11] junhaoyap commented on #6719
@suhaibk9, welcome to the TEAMMATES community, as mentioned by @rclakmal and @samsontmr, we have a contributor's guide that should have more than sufficient information to get anyone with some background and effort started, do get your feet wet and if you need more specific help, you can always post here again!

[2017-03-06 06:12] junhaoyap commented on #6725
@iamsk9, welcome to the TEAMMATES community, @samsontmr has kindly given you the information necessary to go further!

[2017-03-06 06:27] junhaoyap commented on #6712
Just leaving another material here for when the time comes

ES6 arrow functions (some effects on binding): https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/Arrow_functions

ES6 block scope variable declaration (let - works closer to how most people expects variable declarations to work in most modern languages):
https://developer.mozilla.org/en/docs/Web/JavaScript/Reference

[2017-03-06 07:24] junhaoyap commented on #6741
What Chrome version and OS was tested for this?

I tested this on production, Mac OS Sierra (10.12) and Google Chrome Version 56.0.2924.87 (64-bit) and it works for me ->

<img width="1280" alt="screen shot 2017-03-06 at 3 24 01 pm" src="https://cloud.githubusercontent.com/assets/6291947/23600303/f6b5f542-0280-11e7-9ec9-b10dbf2db311.png">
<img width="1280" alt="screen shot 2017-03-06 at 3 23 50 pm

[2017-03-06 07:29] #6684 closed

[2017-03-06 07:30] damithc commented on #6741
I'm using Chrome 56 Windows version. Happened on both my computers and also reported by a user.

[2017-03-06 09:53] AToleuov commented on #6737
Hi TEAMMATES community again,
Thank you for your responses @samsontmr and @junhaoyap ! So sorry that I missed the style for help request!

- **Operating System:** macOS Sierra v10.12.3
- **JDK Version:** 1.8.0_101
- **Eclipse Version:** eclipse neon.2 release (4.6.2)
- **Firefox / Chrome Version (where applicable):** Version 56.0.2924.87 (64-bit)

**What I was trying to do / What I need help with*

[2017-03-06 10:03] samsontmr commented on #6737
@AToleuov TEAMMATES uses Java 7...

[2017-03-06 10:05] AToleuov commented on #6737
@samsontmr but doesn't it have backward compatibility?

[2017-03-06 10:07] samsontmr commented on #6737
Unfortunately no, you'll have to install JDK 1.7.x for it to work.

[2017-03-06 10:08] AToleuov commented on #6737
Will try to change the jdk. Thank you for your help and time!

[2017-03-06 11:25] shubhamnishad97 commented on #6735
Hi @Neurrone im new to this community and Github. Can i solve this issue

[2017-03-06 11:27] Neurrone commented on #6735
@shubhamnishad97 please go ahead and open a PR :).

Btw, sorry if I was unclear, but the correct string should be "QUnit.module('AdminHome.js');"

[2017-03-06 11:39] shubhamnishad97 commented on #6726
@samsontmr can I fix this issue.

[2017-03-06 11:42] samsontmr commented on #6726
Sure, just go ahead and open a PR when you've fixed it!

[2017-03-06 11:42] Neurrone commented on #6726
@shubhamnishad97 if you're already fixing the typo in #6735, remember to only do one first timers issue.

[2017-03-06 11:49] AToleuov commented on #6737
@samsontmr Just finished with rebuilding the project with jdk7. Works fine! Please close the issue as solved. Thank you!

[2017-03-06 11:49] shubhamnishad97 commented on #6726
ok, sorry got confused. I will be focussing on #6375.

[2017-03-06 11:53] #6737 closed

[2017-03-06 14:29] damithc opened #6744 "Instructor edit feedback path: clicking on first level options makes the menu disappear"
**Problem:**
This is how the user is supposed to use the feature:
![image](https://cloud.githubusercontent.com/assets/1673303/23613757/b82be490-02bb-11e7-8a4d-645802fc646f.png)

However, if the user clicks on the first level option instead of hovering, the menu disappears. Some users are confused by this and claims 'cannot change the feedback path'.

**Suggested solution:**

To be discussed

[2017-03-06 14:30] damithc commented on #6744
Categorizing it as a `c.Bug` because I can't phrase it as an enhancement until we know the solution. It's a UIX bug in some sense.

[2017-03-06 14:38] #6735 closed

[2017-03-06 15:00] xpdavid opened #6745 "Make feedback submission page to use AJAX"
As suggested by @damithc, sometimes the form post for feedback submission may get errors (Maybe due to high traffic in TEAMMATES and thus the process time exceed 60s). In this case, student will be redirected to an error page and the feedback will not be stored successfully. It is not a good user experience as users lost their submission.

A solution to this would be to replace the form post to AJ

[2017-03-06 16:19] whipermr5 opened #6746 "TEAMMATES logo displaced"
This is the current view on the live server when logged in:

<img width="457" alt="screen shot 2017-03-07 at 12 13 14 am" src="https://cloud.githubusercontent.com/assets/6811428/23618500/73360568-02cb-11e7-9516-137564015f5a.png">

[2017-03-06 16:22] whipermr5 opened #6747 "TEAMMATES logo not transparent"
The black background is obvious against the new responsive navbar which has a gradient fill. This is the current view of the front page:

<img width="362" alt="screen shot 2017-03-07 at 12 20 12 am" src="https://cloud.githubusercontent.com/assets/6811428/23618677/0c8c5564-02cc-11e7-8507-0205eaf24d1f.png">

[2017-03-06 16:49] whipermr5 commented on #6741
I'm using the same OS and browser as @junhaoyap and I get the video download. I think we should link to https://www.youtube.com/embed/mDtfmNmRwBM?autoplay=1 instead, which is in [official YouTube docs](https://developers.google.com/youtube/player_parameters).

[2017-03-06 16:58] AnaghHegde commented on #6741
@damithc  I am also using Chrome windows(10 ) version 56.0.2924.87 (64-bit). Its working for me no issues.  I am not able to reproduce the errror.

![temp](https://cloud.githubusercontent.com/assets/12005551/23620239/3105a810-02bc-11e7-8529-74a2f7eab96f.PNG)

![capture](https://cloud.githubusercontent.com/assets/12005551/23620244/3ab70322-02bc-11e7-8390-d551df74af91.PNG)

[2017-03-06 17:03] wkurniawan07 commented on #6731
[First variant](https://teammates-wkurniawan07.appspot.com/about.jsp): JSON does not contain core team members.
[Second variant](http://5-97-alt-dot-teammates-wkurniawan07.appspot.com/about.jsp): JSON contains core team members.

Essentially, when the data is fed through a JSON, we cannot do much customization without making the JS file that presents the data complicated. This will not be too much

[2017-03-06 17:06] #6736 closed

[2017-03-06 17:08] wkurniawan07 opened #6748 "Release V5.98"
Scheduled for Mar 8, 2017, 7pm SGT.

Edit: postponed to Mar 8, 2017, 11pm SGT.

[2017-03-06 17:08] wkurniawan07 opened #6749 "Update about.jsp with contributors from V5.98"
As per title.

[2017-03-06 17:27] xpdavid commented on #6745
I have try some experiments. Here are some observations and I want to discuss with @damithc @wkurniawan07 and @li-kai

The most intuitive solution would be to make the redirect URL into JSON format. AJAX get the data and use `window.location.href` to redirect it. However, this is not possible in current design in TEAMMATES (correct me if I am wrong). The final url will be determined at the very la

[2017-03-07 01:31] junhaoyap commented on #6737
@AToleuov @samsontmr thanks for clearing it up!

[2017-03-07 01:42] Mynk96 commented on #6741
@damithc actually the problem comes when Adobe Flash player plugin in chrome is not always allowed to run ,then it downloads a .swf file.
If it is allowed, then it runs as expected.
![capture](https://cloud.githubusercontent.com/assets/17481466/23638059/581a7540-0305-11e7-9726-137be033a11f.PNG)

[2017-03-07 02:34] li-kai commented on #6745
I don't think the AJAX solution is the best. It does not prevent cases where the user may accidentally press back or close the tab/window.

There already [libraries](http://garlicjs.org/) in js that can do what we want. Underneath it just persists data to [localStorage](https://developer.mozilla.org/en-US/docs/Web/API/Storage/LocalStorage). It's somewhat easier compared to solutions suggested earl

[2017-03-07 03:10] damithc commented on #6741
Thanks for investigating this issue @junhaoyap @whipermr5 @AnaghHegde
Looks like it doesn't affect most users. Still, may be safe to use the normal YouTube link?

[2017-03-07 03:28] Mynk96 commented on #6741
@damithc can we just embed the youtube video ,something like this
![capture2](https://cloud.githubusercontent.com/assets/17481466/23640506/374e401c-0314-11e7-9b80-f862824e70b4.PNG)
user can change to fullscreen if he wants to

[2017-03-07 03:51] xpdavid commented on #6745
@li-kai I am talking about the case where the response time exceed 60 seconds and the request get killed (and the instance in GAE also get killed, which may affect all the users who uses this instance). Users may lost all their submission data in this case.

Of course, if you have better solution. I will leave it to you to decide :)

[2017-03-07 04:17] damithc commented on #6741
Sorry, forgot to thank @Mynk96
Um, not sure I want to embed the video in the page just yet, unless we redesign the page to fit it in.

[2017-03-07 05:34] #6576 closed

[2017-03-07 07:44] AnaghHegde commented on #6741
@damithc how about just uploading the video in YouTube and giving link. It solves the plugin problem as well as redesigning of the page .

[2017-03-07 07:49] damithc commented on #6741
It's already on Youtube. Just need to give the link.

[2017-03-07 08:51] li-kai commented on #6745
I see. In that case, that is much trickier. I'm afraid I'm not so familiar with the inner workings of GAE yet. Let's discuss this on thurs?

[2017-03-07 08:54] li-kai commented on #6747
@damithc Is there a photoshop file or higher res version of the logo?

[2017-03-07 09:16] AnaghHegde commented on #6741
ok . So its fine right rather than using api or changing the page design ?

[2017-03-07 09:20] samsontmr opened #6752 "Change `Play` to `Run...` in development.md"
The word `Play` under `Starting the dev server` (line 60 of `development.md`) should be changed to `Run...`.

[2017-03-07 09:26] Neurrone commented on #6723
Should this be a first timers issue?

[2017-03-07 09:37] #6685 closed

[2017-03-07 09:50] xpdavid opened #6753 "Separate the UI and logic for EmailLogEntry"
Currently, `EmailLogEntry.java` is used to generate html code to display the email log table. We should separate the logic and UI thing and only leave the HTML tag to JSP file.

[2017-03-07 10:15] Neurrone commented on #6753
@xpdavid was also about to raise an issue about EmailLogEntry, since the HTML it generates includes inline javascript e.g onclick="submitLocalTimeAjaxRequest('1488798668752', Admin',this);">`; the parameters the javascript function requires should be provided by data-* attributes instead, and binding done in the js. Will you be fixing that as well? Or should I open a new issue for it?

[2017-03-07 10:18] Neurrone commented on #6753
Oops, sorry I just realized this is EmailLogEntry, not AdminLogEntry.

[2017-03-07 10:21] xpdavid commented on #6753
@Neurrone No, I was doing the more high-level thing in #6524. Will do more after this.

[2017-03-07 10:36] Neurrone opened #6754 "AdminActivityLogPageAction: remove inline javascript"
The HTML being returned uses inline javascript in some places. E.g

[code]

Binding to the DOM should be done in `AdminActivityLog.js` instead, and required parameters supplied by data-* attributes.

Will work on this after https://github.com/TEAMMATES/teammates/pull/6733 and https://github.com/TEAMMATES/teammates/pull/6524 are done.

[2017-03-07 10:45] damithc commented on #6747
Unfortunately, no. This was done by a friend of the first TEAMMATES developer and we only have this one single image file. Time to create a new logo? :-p

[2017-03-07 11:44] wkurniawan07 commented on #6731
@damithc any preference on the above two variants?

[2017-03-07 13:29] damithc commented on #6731
No preference, but I would like to give more information on current/past core members. i.e. all positions held and durations.
Is the order always alphabetical?

[2017-03-07 14:33] #6558 closed

[2017-03-07 16:40] Dartteon commented on #6747
![teammates](https://cloud.githubusercontent.com/assets/9067940/23667011/85ff651e-0397-11e7-8843-a0f883989817.png)
I tried recreating the logo with Illustrator, but could not find the exact font as the original. (I tried parsing it through online font identifiers, to no avail)

I also tried to Image Trace the original logo in Illustrator but it was in too small a resolution to give an accurate tra

[2017-03-07 17:12] #6654 closed

[2017-03-07 17:23] Dartteon commented on #6746
I'm not too sure if this is the solution -

I found that the navBar classes in the various pages' `.tag` files are inconsistent. The landing page's one, `staticPage.tag` correctly references the TEAMMATES image, while the rest (admin, instructor, student) do not - they simply have the string TEAMMATES inside the <a>tag.

The fix I'm suggesting would be to standardize all the `.tag` pages to correc

[2017-03-07 18:47] kumar1005 commented on #6726
hii.. i am new on github.
can i fix this??

[2017-03-07 19:25] JessDF commented on #6752
Hello, I'm knew to open source projects/ bug errors and I was wondering a few things:

- What does c.DevOps and p.Low stand for?

I am interested in fixing this bug if no one else has fixed it.

[2017-03-08 00:03] whipermr5 commented on #6746
@Dartteon Nice work investigating the problem! Yup that is indeed the solution I was envisioning. You can go ahead and update the `.tag` files in a PR. To my knowledge they aren't generated, but function like `.jsp` files.

[2017-03-08 00:50] ZhaoDingfan opened #6756 "Help Request: Don't know how to update code from Eclipse to GAE"
- **Operating System: macOS Sierra 10.12.3**
- **JDK Version: Java 1.8.0**
- **Eclipse Version: Eclipse Neon**
- **Firefox / Chrome Version (where applicable): Chrome latest version**

**What I was trying to do / What I need help with**
I was trying to deploy my code from Eclipse to GAE. According to the instruction to new contributors, there should be a deploy button at the end. However, I didn't

[2017-03-08 01:46] AnaghHegde commented on #6756
@ZhaoDingfan

You should use JDK 1.7 i assume by mistake you typed 1.8.

![capture](https://cloud.githubusercontent.com/assets/12005551/23686329/02779c92-03cf-11e7-9d37-5f95ceb8ebbb.PNG)

Can you see the icon at the top with `g` that is deployment button.

[2017-03-08 05:14] damithc commented on #6747
@Dartteon thanks for giving this a try.
For now, we can try to recreate the logo to match the original version -- there is no need to match the exact font though.
A 'complete redesign' of the logo can be considered at a later stage.

[2017-03-08 05:19] Dartteon commented on #6747
@damithc Sure thing. Which of the samples do you think matches the original best? I'll do a cleanup and resize for it.

[2017-03-08 05:49] samsontmr commented on #6747
@Dartteon @damithc I personally like the first one :P

[2017-03-08 06:22] damithc commented on #6747
So do I. It has similar dimensions to the original.

[2017-03-08 06:37] Dartteon commented on #6747
Shall I clean the image up, then? Also, do you want the kerning (spacing) between the two Ms to be smaller, like the original?

I personally find that having the two SMS joined together makes it hard to read.

[2017-03-08 07:00] #6623 closed

[2017-03-08 07:02] samsontmr commented on #6747
No I think it looks better the way you did it.

[2017-03-08 07:04] wkurniawan07 commented on #6746
@Dartteon `.tag` is not a JS template; it's an extension of [JSP](https://www.tutorialspoint.com/jsp/).

[2017-03-08 07:18] wkurniawan07 opened #6758 "Add deploying instructions for outside Eclipse and IntelliJ"
So far we can build and test without IDE, but not deploying. Deploying outside the two IDEs is as simple as:
[code]
(of course there are steps to follow afterwards but they are easy to follow)

With this we achieve full IDE-independence.

[2017-03-08 07:25] wkurniawan07 commented on #6756
@ZhaoDingfan I hope I answer the correct part of "working mechanism" for you.

PaaS like Google App Engine, Heroku, and AWS Elastic Beanstalk provides virtual machines for your code to run on. They do their work by setting up the necessary environment, server, database, and what nots, you do your work by supplying the code. They are not code editors or IDEs (or at least, not yet, but I don't see t

[2017-03-08 07:33] wkurniawan07 commented on #6752
@JessDF go ahead and submit a PR :slightly_smiling_face:

As for those labels, [this will answer your question](https://github.com/TEAMMATES/teammates/blob/master/docs/issues.md#issue-labels). Different projects use labels differently.

[2017-03-08 10:58] damithc commented on #6747
The current way is fine.

[2017-03-08 11:05] Dartteon commented on #6747
![image](https://cloud.githubusercontent.com/assets/9067940/23701529/21651356-0432-11e7-9329-9db2cc04e90f.png)
Shall I export this? Do I make a pull request for image changes too?

[2017-03-08 11:38] damithc commented on #6747
@Dartteon how about you include the logo in a PR that fixes this issue?

[2017-03-08 12:59] #6749 closed

[2017-03-08 13:30] wkurniawan07 commented on #6748
Release 247

Code Contributions from: @AbhishekChd, @domdomegg, @AnaghHegde, @whipermr5, @li-kai, @nockc, @iamsk9, @samsontmr, @shubhamnishad97, @tainansv, @tarun14110, @thenaesh, @xpdavid, @a0129998, @wkurniawan07, @leeyimin
Review Contributions from: @damithc, @Neurrone, @whipermr5, @JosephineKwa, @junhaoyap, @li-kai, @ablyx, @samsontmr, @thenaesh, @wkurniawan07, @leeyimin, @chowyb

Sprint Perio

[2017-03-08 13:42] AnaghHegde commented on #6730
@wkurniawan07 Can i work on this ?.

[2017-03-08 16:09] ZhaoDingfan commented on #6756
Thanks for your replies!
@wkurniawan07 Do you mean that once I wanna update my code I just deploy my code to GAE again?

[2017-03-08 17:31] JessDF commented on #6752
@wkurniawan07 , Do you know if there are any other run->play's that need to be changed to run->run?

[2017-03-08 18:26] xpdavid commented on #6754
@Neurrone Should be after #6524 rather than #6531.

[2017-03-08 18:45] tarun14110 commented on #6756
@ZhaoDingfan yes, you need to deploy the code again to see the updated changes.

[2017-03-08 23:36] Neurrone commented on #6754
Thanks @xpdavid.

[2017-03-09 04:46] Dartteon commented on #6747
@damithc I am facing a few problems here -

1) To prevent the background color being visible, the image must be a PNG. Currently, all the TEAMMATES logo images are JPEG files, which cannot handle transparency.

2) I'm working on another issue, #6746. The fix for that issue is to change all the `.tag` pages to use the TEAMMATES image.

3) If I change the current TEAMMATES image to PNG, I must save

[2017-03-09 05:04] wkurniawan07 commented on #6730
@AnaghHegde go ahead and submit a fix if you wish, but I'd suggest you to work on your current PRs first.

[2017-03-09 05:13] AnaghHegde commented on #6730
@wkurniawan07 sure. Since those PRs are in review stage i will be working on this whenever i have time.But i ll open a PR only when the older ones get merged.

[2017-03-09 06:17] whipermr5 commented on #6747
Resolve one at a time :) #6746 is of higher priority so you might want to complete that one first. For that PR, you might also want to look into referencing the image file only once, perhaps in another `.tag` that the other `.tag`s refer to. Then in your PR for this issue, you would just include the new `.png` and the updated path to the image file in the single `.tag` file.

[2017-03-09 06:54] #6716 closed

[2017-03-09 07:46] #6727 closed

[2017-03-09 14:26] damithc opened #6765 "Update user map for Feb 2017 data"
Here are the data to consider. Refer #6605 as an example
[code]

[2017-03-09 15:02] li-kai commented on #3361
All pages all now strict mode!

[2017-03-09 15:02] #3361 closed

[2017-03-09 15:06] li-kai opened #6766 "Update all student related js files to es6 syntax"
Related to #6343, we're finally moving to es6. The PRs are small to enable review and target area to be small.

Similar: #6785, #6771 , #6772 , #6773 .

[2017-03-09 18:02] #6557 closed

[2017-03-09 18:11] wkurniawan07 opened #6768 "Update third-party dependencies"
Last update was in last December. It's a good time to update again.

- Joda Time and moment-timezone
- Jsoup
- PMD
- ESLint
- Stylelint
- QUnit
- TinyMCE

Add (13/3):
- jQuery-highlight

[2017-03-09 18:25] SunilGudivada commented on #6765
a0196e2a6a642e63857a4e0d41bbd1cc0c2fb834 comitted

[2017-03-09 18:48] wkurniawan07 commented on #6731
Order can be made custom. Alphabetical is just the easiest for adding new members but it's not done often anyway.

For more info on current/past members: what value would they have? Anyone visiting will most probably only care who's maintaining the project now and perhaps current positions, not what happened in the past and all those details. In this aspect, I feel like [PowerPoint Labs](http://ww

[2017-03-09 19:05] SunilGudivada commented on #6765
{
  "lastUpdated": "31 January 2017",
  "institutes": {
     "Abu Dhabi ": [
       "Khalifa University"
      ],
      "Argentina": [
       "Southworks"
      ],
     "Armenia": [
       "American University of Armenia"
     ],
     "Aruba": [
        "University of Aruba"
     ],
     "Australia": [
      "All Saints' College",
      "Australian National University",
      "Avondale College of

[2017-03-10 02:32] damithc commented on #6731
I would like to provide this additional info because recent graduates who are ex-devs can benefit from it during their early career. i.e. there is a public acknowledgement from the project what exactly they contributed in what role. Also, it distinguishes those who do more for the project from those who don't do as much. Two core members who were with the project for the exact same period could ha

[2017-03-10 04:24] damithc commented on #5620
Passed at V5.98

[2017-03-10 04:24] #5620 closed

[2017-03-10 04:25] damithc commented on #4797
still failing at v5.98

[2017-03-10 04:26] damithc commented on #5866
still failing at v5.98

[2017-03-10 04:27] damithc commented on #4157
Passed at v5.98

[2017-03-10 04:27] #4157 closed

[2017-03-10 05:31] thenaesh opened #6771 "Update all InstructorFeedbackResults*.js to ES6"
No functionality changes. Tentatively still relying on the old common.js mess for now, until #6767 (or a similar PR) is merged.

[2017-03-10 06:29] Neurrone opened #6772 "Update all InstructorCourses*.js to ES6"
No functionality changes. Tentatively still relying on the old common.js mess for now, until #6767 (or a similar PR) is merged.

[2017-03-10 07:04] wkurniawan07 opened #6773 "Convert instructorFeedbackEdit*.js and instructorFeedbacks*.js to ES6"
No functionality changes; only syntax changes (particularly `let`, `const`, arrow functions) will be introduced.

Files involved:
- `instructorFeedbacks.js`
- `instructorFeedbackAjaxRemindModal.js`
- `instructorFeedbackEdit.js`
- `instructorFeedbacksAjax.js`
- `instructorFeedbacksSpecific.js`
- All files inside `instructorFeedbackEdit/` sub-folder.

[2017-03-10 07:48] SmokinClove opened #6774 "New contributor self intro- Van"
a) Link to my app: https://teammates-van.appspot.com
b) Link to my fork: https://github.com/SmokinClove/teammates
c) A screenshot of the change you did (as seen on the UI)
I adjust the padding of the word TEAMMATES such that it will align better with the rest of the header items (changed padding:0 to padding-left:0)
Before
![teammates1](https://cloud.githubusercontent.com/assets/12591759/23786515/

[2017-03-10 07:48] wkurniawan07 opened #6775 "Tidy up package.json at dev-es6 branch"
For the lack of better issue title. Few things need to be done before moving forward with the ES6 conversion.

[2017-03-10 07:52] samsontmr commented on #6774
Hey Van! Welcome to TEAMMATES XD You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled `d.Contributors`.

Are you planning to apply for GSoC? If you are, please read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embe

[2017-03-10 07:56] #6723 closed

[2017-03-10 08:11] xpdavid opened #6777 "Random test fail in *LogicTest.java recently"
There are test failures on Travis or Appveyor for `*Logic` recently. This may be caused by #6655, which use `dependsOnGroup` to control the order of test cases.

[2017-03-10 08:25] #6752 closed

[2017-03-10 10:41] samsontmr opened #6780 "development.md: Timezone needs to be specified in IntelliJ dev server run configuration during testing"
Some CI tests fail if the timezone is not specified.

[2017-03-10 11:31] damithc commented on #6748
Deployed.

[2017-03-10 11:31] #6748 closed

[2017-03-10 13:39] BrandonOdiwuor opened #6782 "New contributor self intro Brandon Wayne Odiuwuor"
- **Link to app**: https://teammates-brandon.appspot.com

- **Link to fork:** https://github.com/BrandonOdiwuor/teammates.git

- **Screenshot of changes made (as seen on the UI)**
![teammates-tinker](https://cloud.githubusercontent.com/assets/15610188/23796202/a4ea8f16-0591-11e7-9fdb-b204aa78f645.png)

- **Real name and a short self-intro**
Hello teammates,
My name is Brandon Wayne Odiwuor a junio

[2017-03-10 14:06] Neurrone commented on #6782
Hi @BrandonOdiwuor

welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled [d.Contributors](https://github.com/TEAMMATES/teammates/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3Ad.Contributors%20).

Are you planning to apply for GSoC? If you are, please read [ou

[2017-03-10 14:20] Mynk96 opened #6783 "Changing logic for function in datepicker.js."
`function getMaxDateForVisibleDate(startDate, publishDate) {
    var minDate = 0;

    if (publishDate === null || publishDate === undefined) {
        minDate = startDate;
    } else if (startDate > publishDate) {
        minDate = publishDate;
    } else {
        minDate = startDate;
    }

    return minDate;
}`
Comparing startDate and publishDate and return minimum between them seems vague as

[2017-03-10 14:21] Mynk96 commented on #6783
maxVisibleDate should be <= startDate

[2017-03-10 15:12] #6780 closed

[2017-03-10 17:40] anu0012 commented on #6783
Hey, @Mynk96 I am a beginner so can I start with this issue?

[2017-03-10 22:20] xpdavid commented on #6783
@anu0012 Please find d.firstTimer issue to start your first PR :)

@Mynk96 So are you going to make it more general? Like a function to return the minimum date?

[2017-03-11 05:14] anu0012 commented on #6722
Hey, @thenaesh Can I take this issue?

[2017-03-11 06:59] li-kai opened #6785 "Update all admin*.js to ES6"
Related to #6343, updating all admin related files to es6.

Similar: #6767, #6771 , #6772 , #6773 .

[2017-03-11 07:49] SmokinClove commented on #5996
This is for the instructor feedback edit page right?
Thanks.
Van

[2017-03-11 08:14] thenaesh commented on #6722
@anu0012 Sure, no need to ask!

[2017-03-11 08:17] damithc commented on #5996
Yes, here:
![image](https://cloud.githubusercontent.com/assets/1673303/23821709/254ed5f6-0676-11e7-9f2c-1209bcb136df.png)

[2017-03-11 08:38] damithc opened #6787 "Intellij setup: git error reported at start up"
This error is shown at start up
![image](https://cloud.githubusercontent.com/assets/1673303/23821808/ac14a668-0678-11e7-9ee9-9538f649cab1.png)

More details:
![image](https://cloud.githubusercontent.com/assets/1673303/23821812/e3dd914a-0678-11e7-8a1a-35464b4c4a56.png)

[2017-03-11 10:55] Mynk96 commented on #6783
Actually what i think there are two problems
1)
![capture-3](https://cloud.githubusercontent.com/assets/17481466/23822491/71466508-0673-11e7-87fb-e11e27a25034.PNG)

The instructor in the above case should not be allowed to select 10 as response visible date as before startDate,no response will be there to view.

2)
Due to above i.e. (publishDate can be less than startDate),the getMaxVisibleDate co

[2017-03-11 13:38] xpdavid commented on #6783
@Mynk96 Good catch. Currently the system allow this situation.
______________________________________________________________________________
^Visible from              ^Response visible from(publish)       ^Opening time

[2017-03-11 14:05] #6503 closed

[2017-03-11 14:41] xpdavid opened #6791 "Codecov missing base report"
**Environment**
`master` at commit df1a524

**Steps to reproduce**
Take a look at #6524, although the CI test is passing, there is not report for code coverage.
![screen shot 2017-03-11 at 10 36 19 pm](https://cloud.githubusercontent.com/assets/13977235/23824086/306a7834-06ab-11e7-8bb7-dc2aa787efb4.png)

**Expected behaviour**
Should show code coverage.

**Actual behaviour**
Base report missing.

[2017-03-11 14:45] Mynk96 commented on #6783
@xpdavid So can I create a pr request to solve this issue?

[2017-03-11 14:46] xpdavid commented on #6783
Let's wait how @damithc talk about this.

[2017-03-11 14:48] LiHaoTan opened #6792 "New contributor self intro Tan Li Hao"
a) [Link to my app](https://teammates-lihaotan.appspot.com/)
b) [Link to my fork](https://github.com/LiHaoTan/teammates)
c) **UI Change: Make request form fullscreen**
![request form change](https://cloud.githubusercontent.com/assets/13617389/23824151/5b6765d2-06ac-11e7-9b00-ab59daea1865.png)

d) **Self-Intro**
Hi, I am Li Hao, a year 2 Computer Science student from NUS. I am not the strongest stu

[2017-03-11 15:40] thenaesh commented on #6792
Hi @LiHaoTan, welcome to TEAMMATES! Nice and useful change you have there! :)

You can start by fixing some [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issues, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

If you're planning to apply for GSoC, do che

[2017-03-11 15:52] Mynk96 commented on #6783
@xpdavid okay

[2017-03-11 16:02] samsontmr commented on #6787
It seems that they are tracked so that they can be distributed to new users, but ignored so that changes they make to the files (e.g. IDE Preferences) don't get pushed to the repo.

[2017-03-11 16:12] damithc commented on #6783
@Mynk96 It is possible to have responses even if the start date has not reached yet. That is because the start date can be changed after a session is open. So it is possible to have a session with responses published (visible to students) yet the start date is in the future.

[2017-03-11 16:12] LiHaoTan commented on #6587
Hi, can I suggest that instead of just the changes above that I make the changes as follows:
[code]

[2017-03-11 17:48] SmokinClove commented on #5996
Got it, thanks Prof. Will create a PR after testing.
Van

[2017-03-11 18:17] AbhishekChd commented on #6741
@damithc The youtube flash has been [deprecated](https://developers.google.com/youtube/flash_api_reference). Although it is supported in most cases, for all users we must embed the video and rather make the frame size large if possible and the user can make it full screen if he/she wishes to.

[2017-03-12 01:44] damithc commented on #6787
I see. So not a problem? In that case, we might want to mention that it in the docs. i.e. tell users why it appears and ask them to ignore it.

[2017-03-12 03:54] #6722 closed

[2017-03-12 05:12] Mynk96 commented on #6783
@damithc I got it,but sholdn't max visible date be always <= startDate?

[2017-03-12 05:46] damithc commented on #6783
@Mynk96

Not necessarily. Consider a scenario where an instructor has a session that periodically lets student update responses (e.g. he opens it every week Fri-Sat) but allows student to view current responses all the time. That mean on Wednesday the start time is in future but responses collected in the previous week are visible.

Note that normally we don't want to complicate software just to a

[2017-03-12 07:31] shivanshsoni commented on #6777
Can I work on this issue?
@xpdavid

[2017-03-12 07:35] xpdavid commented on #6777
@shivanshsoni This issue got PR already. You may want to find [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors) Issues to work on.

[2017-03-12 07:36] shivanshsoni commented on #6777
OKK

[2017-03-12 07:44] #6783 closed

[2017-03-12 07:48] shivanshsoni commented on #6741
@damithc  I think if his (Always allowed to run) is not checked we can redirect him to chrome://plugins/ to check it So he can never get any problem . We can give  a popup message to check (Always allowed to run).

[2017-03-12 09:53] Skchoudhary commented on #6709
@samsontmr

Specifying like this might also not clear to user which folder to choose, so we can simply specifies like this
`Click + → .... Select the appengine-java-sdk-<version>(sub-folder of App Engine SDK  you downloaded in Step 3 of the Setting up a development environment guide)`

[2017-03-12 10:04] whipermr5 commented on #6741
Changing the link to https://www.youtube.com/embed/mDtfmNmRwBM?autoplay=1 will address the flash issue. It looks like the best solution right now.

[2017-03-12 12:20] #6777 closed

[2017-03-12 14:59] wkurniawan07 commented on #6787
This is a common issue in Git, where `.gitignore`-d files (I'll refer to these as "ignored files") are still tracked. It can happen due to reasons such as:
- Ignored files are forced to be tracked (`git add -f`).
- `.gitignore` is updated but the ignored files are already tracked.

This is not wrong/error-causing per se (IntelliJ just being picky about this), but not a good practice either. Rather

[2017-03-12 15:20] samsontmr commented on #6787
@damithc yep, it's not a problem, at least for the IntelliJ run configurations.

For the run configs, they are tracked but located in `.idea` which is a ignored folder, hence the warning. In any case, it is good for them to be ignored--contributors won't accidentally push their modified run configurations. We can do a force add when intentionally modifying them.

[2017-03-13 00:34] keenandubois opened #6798 "Help Request: CI test incomplete"
- **Operating System: macOS Yosemite 10.10.5**
- **JDK Version: Java 1.7**
- **Eclipse: Luna 4.4.1**
- **Firefox 46.0.1**

**Errors occurring during CI tests**
Reached Phase B, step 2 of setup.  In running testNG cases, my setup passes all local tests.  However, when running CI tests I get console output:
![screen shot 2017-03-12 at 8 17 22 pm](https://cloud.githubusercontent.com/assets/5413618/23

[2017-03-13 01:34] samsontmr commented on #6709
@Skchoudhary
`Select the App Engine SDK (appengine-java-sdk-<version> sub-folder) you downloaded in Step 3 of the Setting up a development environment guide.` should be sufficient.

[2017-03-13 02:42] samsontmr opened #6799 "Update IntelliJ guides"
IntelliJ guides need to be updated to address issues found in the first round of dogfooding.

To do:
* Add variant for existing IntelliJ users (flow will be slightly different for them).
* Clarify that folder button should be clicked instead of `...` in Step 13 of the IntelliJ IDEA `Set up the Run Configuration` guide.
* Move links to plugins to their respective sections.
* Add step to check if `j

[2017-03-13 03:30] #6774 closed

[2017-03-13 03:31] #6738 closed

[2017-03-13 07:20] damithc commented on #6798
@keenandubois I have no answer, but it might help to post the full stack trace (preferably as text) so that we know where the exception originated (that part is cut off in your screenshot).

[2017-03-13 08:05] #6582 closed

[2017-03-13 08:54] Skchoudhary commented on #6709
@samsontmr

So, should I go ahead do that modification.

[2017-03-13 08:59] samsontmr commented on #6709
Yes you can.

[2017-03-13 09:03] #6799 closed

[2017-03-13 09:06] Skchoudhary commented on #6709
@samsontmr

ok

[2017-03-13 09:22] #6658 closed

[2017-03-13 09:22] #6680 closed

[2017-03-13 09:22] #6683 closed

[2017-03-13 09:22] #6688 closed

[2017-03-13 09:22] #6692 closed

[2017-03-13 09:23] #6697 closed

[2017-03-13 09:33] #6768 closed

[2017-03-13 10:03] boxin-yang opened #6802 "Add instruction to install eslint-plugin-json for eslint"
**Description of feature/enhancement**
In the [instruction](https://github.com/TEAMMATES/teammates/blob/master/docs/staticAnalysis.md)to install static analysis tool eslint, following the instruction would result in error when trying to run "./gradlew eslint" because eslint-plugin-json was not installed.

**Justification**
Adding the instruction to install eslint-plugin-json for command line would

[2017-03-13 10:18] #6791 closed

[2017-03-13 10:47] damithc opened #6805 "Emails sent to students: include contact details of the course owners"
**Suggestion** :
When emailing students (e.g submission opening email), we can include contact details of the course owners so that students can contact the course owner if they have questions about the session, to confirm the email is legit, or report errors in student data (e.g. assigned to the wrong team).

**Justification** :
This will ease the admin workload because currently students write t

[2017-03-13 13:21] keenandubois commented on #6798
@damithc Certainly.  Here's the full trace – my apologies for the truncated version in the original post:

Mar 13, 2017 1:21:25 PM org.datanucleus.plugin.NonManagedPluginRegistry resolveConstraints
INFO: Bundle "org.datanucleus.jpa" has an optional dependency to "org.datanucleus.enhancer" but it cannot be resolved
Mar 13, 2017 1:21:25 PM org.datanucleus.plugin.NonManagedPluginRegistry resolveConst

[2017-03-13 16:18] Neurrone opened #6806 "Explicitly specify mode and padding scheme when using Ciphers"
In StringHelper when using AES, only "AES" is specified when requesting a cipher with Cipher.getInstance(). Parameters such as the mode and padding scheme are unspecified, so the JDK implementation's defaults are used.

According to [this page,](https://stackoverflow.com/questions/6258047/java-default-crypto-aes-behavior) Oracle's JDK7 uses "AES/ECB/PKCS5Padding"; it would be better if we specifie

[2017-03-13 16:35] vibhorgupta96 commented on #6726
Seeing that this issue has not been fixed yet, i would like to fix it.

[2017-03-13 17:03] xpdavid commented on #6798
at teammates.common.util.Url.trimTrailingSlash(Url.java:78)
at teammates.common.util.Config.(Config.java:69)

Seems like the configuration file is not set up properly.

[2017-03-13 17:31] keenandubois commented on #6798
I thought I had, but it looks like I'll need to redo the setup.  Thanks for the catch!

[2017-03-13 20:40] Skchoudhary opened #6808 "New contributor self intro [Sandeep Choudhary]"
a)[link to my app](https://teammates-skchoudhary.appspot.com/)
b)[link to my fork](https://github.com/Skchoudhary/teammates)
c) **UI Change: Solve Table overflow in adminHomePage**
Before:
![teammatebug](https://cloud.githubusercontent.com/assets/15611967/23873526/5eebb2be-0858-11e7-8cdf-d7cc0ee9727e.jpg)
After:
![teammatefull](https://cloud.githubusercontent.com/assets/15611967/23873547/69d2dec8-

[2017-03-13 20:52] tainansv commented on #6806
[This page](http://download.java.net/jdk7u8/docs/technotes/guides/security/crypto/CryptoSpec.html) says that the standard parameter is really this you said "AES/ECB/PKCS5Padding".

[2017-03-14 03:12] Neurrone commented on #6806
@tainansv is really what? The page is very long, could you mention the specific section?

Yup, hence why I said that the defaults being used needs to be checked just to be sure.

[2017-03-14 06:00] Dartteon opened #6810 "Problems getting GodMode to run"
Hello,

- **Operating System: Windows 10**
- **JDK Version: jdk1.7.0_80**
- **Eclipse Version: Version: Mars Release (4.5.0)**
- **Firefox Version (where applicable): Firefox 46.0.0**

**What I was trying to do / What I need help with**
I'm have previously opened a PR which dealt with fixing a bug on the UI. However, I'm having trouble running the tests and GodMode, to fix the test HTML files. Not

[2017-03-14 06:06] xpdavid commented on #6810
Please put your full `test.properties` here.

[2017-03-14 06:16] Dartteon commented on #6810
[code]

[2017-03-14 06:20] xpdavid commented on #6810
Bear with me. What is the stacktrack when you get error?
Please follow the https://github.com/TEAMMATES/teammates/blob/master/.github/template-helpRequest.md guide next time for help request.

[2017-03-14 06:29] wkurniawan07 opened #6811 "Convert test JS files to ES6"
Files involved: all JS files in `src/main/webapp/dev`.

[2017-03-14 06:34] Dartteon commented on #6810
Hi @xpdavid thanks for assisting. I have edited the OP to follow the guidelines.

Stack trace for exception in `GodModeTest`
[code]

Stack trace for exception in `TimezoneSyncerTest`
[code]

[2017-03-14 06:43] xpdavid commented on #6810
1. Please update the `app.student.motd.url` in `build.properties` with `test-student-motd.html`, sane as the e.g.
[code]

2. Please run `./gradlew resetEclipseDeps` to reset the dependency as there are updates for dependency we use in the project.

[2017-03-14 07:03] xpdavid opened #6812 "Project setup: eliminate the need to modify config file manually after `./gradlew setup`"
Currently, there are some manually steps after running `./gradlew setup`

It's redundant to ask developers to append the unique id. So maybe we just use `alice.tmms.JohnDoe` for everyone.

In addition, as reported in #6810, GodMod may fail if `app.student.motd.url` is not set properly.

How about we just make `app.student.motd.url` set to `test-student-motd.html` in `./gradlew setup`

[2017-03-14 07:13] xpdavid opened #6813 "Add CheckStyle rule CommentsIndentation"
As state here https://oss-generic.github.io/process/codingStandards/CodingStandard-Java.html , comments should be indented relative to their position in the code.

`CommentsIndentation` in CheckStyle will help us to enforce this. :)

[2017-03-14 07:41] damithc commented on #6812
From what I remember, the requirement to add a unique suffix to test accounts is from pre-travis era when reviewer was supposed to run tests for the new code. This requirement ensures that both dev and reviewer do not use the same test account credentials (if they do, hard coded test account credentials in test html files will go unnoticed). Not sure if the same reasoning is still applicable.

[2017-03-14 07:57] xpdavid commented on #6812
@wkurniawan07 What do you think?

Account credentials now are not hard coded into test html files anymore. Every time when html comparison is needed, HtmlHelper will inject test properties to the test html.

[2017-03-14 08:12] damithc commented on #6812
Don't forget the situation where a dev adds a new test html file which contains a hard coded test account instead of a placeholder variable. We need way to detect that situation.

[2017-03-14 08:23] xpdavid commented on #6812
That's true.
1. If the guy uses GodMod to generate test html, placeholder will be inserted and everything will be fine.
1. If the guy just does this by himself, write hard-coded html, since everyone use the same `alice.tmms.JohnDoe`, he will pass the test cases. The only way to find this problem is to run test cases against staging sever (as we use real google id instead).

[2017-03-14 09:07] nikiforosbotis opened #6815 "New contributor self intro Nikiforos Botis"
1)[Link to my app](http://teammates-nikiforos.appspot.com/index.jsp)
2)[Link to my fork](https://github.com/nikiforosbotis/teammates)
3)UI change: enhance the appearance of the "Terms of Use" page by adding emphasis and bullets:
![termsofuse](https://cloud.githubusercontent.com/assets/9116253/23892809/d2686c5e-08a4-11e7-9d54-a41087654947.png)

4)**Self Intro**
Dear All,
My name is Nikiforos Botis

[2017-03-14 09:07] #6726 closed

[2017-03-14 09:20] damithc commented on #6812
Probably @wkurniawan07 needs to weigh in as he is the expert on GodMode. One option is to force CI to use different test accounts from others devs, then it can catch any hard-coding problems.

[2017-03-14 12:58] tainansv commented on #6806
In the section 'generating a pair of keys', subsection 'creating a cipher' says:
'The standard algorithm name for AES is "AES", the standard name for the Electronic Codebook mode is "ECB", and the standard name for PKCS5-style padding is "PKCS5Padding".'

[2017-03-14 14:06] #6587 closed

[2017-03-14 14:44] #6802 closed

[2017-03-14 15:37] #6562 closed

[2017-03-14 16:30] Neurrone commented on #6806
@tainansv Yes, but look at the next paragraph. Copying this example from the page,

[code]

What we have is
[code]

Notice the mode of operation and padding scheme is not specified, so the defaults for the implementation are used; would be better to specify explicitly.

[2017-03-14 16:54] tainansv commented on #6806
So we use explicitly "AES/ECB/PKCS5Padding", since it is the default, right?

[2017-03-14 17:00] Neurrone commented on #6806
Almost. We still need to check if this setting is really being used now by teammates (just to be sure). Then if so, specify it explicitly, yeah.

[2017-03-14 18:09] xpdavid commented on #6815
Hi @LiHaoTan, welcome to TEAMMATES! Nice and useful change you have there! :)

You can start by fixing some [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issues, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

If you're planning to apply for GSoC, do che

[2017-03-14 22:47] nikiforosbotis commented on #6815
Dear @xpdavid .
Is the referenced name that is welcomed (LiHaoTan) misplaced or should I do anything else in order to be welcomed?
Thank you,
Nikiforos

[2017-03-15 05:09] #6709 closed

[2017-03-15 06:25] samsontmr opened #6818 "Add instructions for restoring IntelliJ run configurations"
**Problem**: IntelliJ run configurations are removed by IntelliJ upon importing the project.

**Solution**: Add instructions to restore run configurations using git after importing the project.

[2017-03-15 06:32] xpdavid commented on #6815
@nikiforosbotis Wrong name. Sorry. Are you planning to apply for GSoC?

[2017-03-15 08:13] Neurrone opened #6819 "Update the rest of Instructor*.js to ES6"
Migrate remaining instructor* to ES6: instructorHome, InstructorSearch and InstructorStudent*.js

[2017-03-15 09:28] wkurniawan07 opened #6821 "Release V5.99"
Scheduled for Mar 15, 2017, 11.30pm SGT.

[2017-03-15 09:29] wkurniawan07 opened #6822 "Update about.jsp with contributors from V5.99"
As per title.

[2017-03-15 09:38] #6741 closed

[2017-03-15 11:15] yash2o1o opened #6823 "Navbar showing contents behind it"
**Environment**
LocalHost
http://localhost:8888/admin/adminEmailComposePage
Master branch is up-to-date with upstream.

**Steps to reproduce**
Clicking on the collapsed navbar button on /admin/adminEmailComposePage .

**Expected behaviour**
![bug1](https://cloud.githubusercontent.com/assets/19612017/23945819/00409030-099e-11e7-98ee-362da251629d.png)

**Actual behaviour**
![bug](https://cloud.githu

[2017-03-15 11:33] #6730 closed

[2017-03-15 13:21] nikiforosbotis commented on #6815
@xpdavid thank you for your reply. Yes, I do plan to apply for GSoC but I feel it's better to first do some additions to this project in order to familiarize with TEAMMATES and then to apply. What do you think?

[2017-03-15 13:25] samsontmr opened #6824 "Add staging test configuration for IntelliJ"
As per title.

[2017-03-15 14:19] #6570 closed

[2017-03-15 15:17] samsontmr opened #6826 "Spelling error in `testnames` program argument for Eclipse staging tests launch configuration"
`occasional-tests` is spelled `occassional-tests` in Eclipse's staging tests launch configuration's `testnames` program argument. This results in `occasional-tests` never being launched. Discovered while porting staging tests launch configuration to IntelliJ.

[2017-03-15 15:33] #6813 closed

[2017-03-15 15:36] #6610 closed

[2017-03-15 16:14] #6822 closed

[2017-03-15 16:24] samsontmr opened #6829 "Add scalability/performance measures for overload-prone pages"
Since TEAMMATES' user base is growing ever larger, we need a way of measuring its performance/scalability. This will help us to identify performance bottlenecks and ensure that code modifications do not decrease performance.

Candidates identified for testing:
* InstructorFeedbackResultsPage
* InstructorCourseEnrollPage

[2017-03-15 16:54] #6619 closed

[2017-03-15 17:02] wkurniawan07 commented on #6823
Confirmed at ce0e1d3.

[2017-03-15 17:17] wkurniawan07 commented on #6821
Release 248

Code Contributions from: @The-Lady, @anu0012, @boxin-yang, @Neurrone, @whipermr5, @LiHaoTan, @li-kai, @ablyx, @samsontmr, @Skchoudhary, @SharUzumaki, @shivangg, @shrut1996, @thenaesh, @vibhorgupta96, @wkurniawan07, @xpdavid
Review Contributions from: @boxin-yang, @damithc, @Neurrone, @whipermr5, @li-kai, @junhaoyap, @ablyx, @samsontmr, @thenaesh, @wkurniawan07, @xpdavid, @leeyimin, @c

[2017-03-16 01:51] #6824 closed

[2017-03-16 04:41] thenaesh opened #6831 "Convert all the remaining JS to ES6"
Similar to all the ES6 conversion PRs (e.g. #6819 ), and hopefully the last of them.

Finish the fight.

[2017-03-16 05:45] xpdavid commented on #6823
@yash2o1o If I am not wrong, delete the line in https://github.com/TEAMMATES/teammates/blob/9fe3aa5710c3ab7caaebc37a4c8e19d2f25ee124/src/main/webapp/js/adminEmail.js#L10 and everything should be fine.

This code is magically introduced in #3075 according to `git blame`
[code]

Feel free to submit PR for this :)

[2017-03-16 05:52] ablyx opened #6833 "Optimize creation of multiple new feedback responses"
When there are a lot of feedback responses to submit, the page takes very long to load and might result in failure. There should be optimizations made to creating the new feedback responses.

[2017-03-16 11:34] yash2o1o commented on #6823
@xpdavid great. I will submit the PR. I have completed one first timer issue so would that be fine?

[2017-03-16 11:39] xpdavid commented on #6823
Please don't, as we want to leave enough first-timers issues for new developers.

[2017-03-16 11:52] yash2o1o commented on #6823
@xpdavid okay :)

[2017-03-16 12:03] #1753 closed

[2017-03-16 12:32] VamsiSangam commented on #1939
Can I work on this issue?

[2017-03-16 12:41] VamsiSangam opened #6835 "DataNucleus Enhancer error upon opening project"
This error shows up as soon as eclipse is opened -

![data-nucleus-enhancer-error](https://cloud.githubusercontent.com/assets/11662001/23996563/d9f5063c-0a73-11e7-84e6-af71b4a3e614.JPG)

[2017-03-16 13:02] VamsiSangam commented on #1939
And just to update the issue, there are currently 3 helper functions in [datepicker.js](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/js/datepicker.js) -

[code]

[2017-03-16 14:40] #6753 closed

[2017-03-16 15:17] Dartteon commented on #6810
Finally got all of this to run properly.

1) Updated `build.properties` to have `app.student.motd.url = test-student-motd.html`

2) Ran `gradlew.bat resetEclipseDeps`

3) Added the argument for `-Duser.timezone=UTC` to the teammates run config (previously, I mistook the instructions to add this argument to the test cases instead of the webapp itself)

Thank you @xpdavid for the assistance. Will be

[2017-03-16 15:17] #6810 closed

[2017-03-16 23:51] thyageshm commented on #1939
@VamsiSangam, sure take a shot at it :-)

[2017-03-17 03:34] whipermr5 opened #6838 "Instructor: edit question: new question after cancel: fix discrepancy between visibility option button label and actual selected visibility option"
**Environment**

`master` branch at commit 9168d13

**Steps to reproduce**

1. Start to add a new question in an empty session (no previous existing questions).
1. Set visibility to "Visible to instructors only".
1. Cancel out of adding this question.
1. Attempt to add a new contribution question (without refreshing the page).

**Expected behaviour**

<img width="1108" alt="screen shot 2017-03-17

[2017-03-17 05:18] damithc opened #6839 "TimezoneSyncerTest failing on live server"
Failing at V5.99

[code]

[2017-03-17 05:20] damithc commented on #6839
@wkurniawan07 should I delay V5.99 deployment until this is fixed?

[2017-03-17 05:48] AnaghHegde commented on #6566
@samsontmr Shall i work on this?.

[2017-03-17 06:04] wkurniawan07 commented on #6839
`./gradlew resetEclipseDeps` and re-building will fix it.

[2017-03-17 06:13] whipermr5 opened #6840 "Get rid of unnecessary read in EntitiesDb.createEntity"
`EntitiesDb.createEntity` currently calls `getEntity` twice ([here](https://github.com/TEAMMATES/teammates/blob/9168d13cf54b3dc8327ab34203ae6e04c91d4e02/src/main/java/teammates/storage/api/EntitiesDb.java#L72) and [here](https://github.com/TEAMMATES/teammates/blob/9168d13cf54b3dc8327ab34203ae6e04c91d4e02/src/main/java/teammates/storage/api/EntitiesDb.java#L86)); the second call should be moved ins

[2017-03-17 06:18] whipermr5 opened #6841 "Use keys-only query for existence checks in *Db"
Current existence checks use `getEntity`, retrieving the full entity just to check whether it's `null`. Using [keys-only queries](https://cloud.google.com/appengine/docs/standard/java/datastore/queries#keys-only_queries) for existence checks would help to save costs as these are [free](https://cloud.google.com/appengine/pricing#costs-for-datastore-calls).

[2017-03-17 06:24] damithc commented on #6839
Yup, it did. Closing.

[2017-03-17 06:24] #6839 closed

[2017-03-17 06:49] AnaghHegde opened #6843 "Different types of styles/fonts used in staticAnalysis.md"
Take a look the image below.

![imageedit_5_5777107652](https://cloud.githubusercontent.com/assets/12005551/24031947/506fe524-0b0b-11e7-8785-5171acde2b19.gif)

This is not the only one. It's also repeated. I think its better to use only one format, may be the 2nd one is better instead of using `#` . It's happening because of the missing space.

[2017-03-17 07:00] xpdavid opened #6844 "Make use of StringHelper.join() in ActivityLogEntry and AdminActivityLogPageData"
In #6755, `StringHelper.join` is introduced, which is essentially the same as `String.join` method in Java 8.

`StringHelper.join` method can be used in `ActivityLogEntry.generateLogMessage()` and `AdminActivityLogPageData.getQueryKeywordsForInfo()`.

[2017-03-17 07:06] xpdavid commented on #6843
Confirm in 9168d13, It turns out there should be a space between `#####` and title name.
e.g.

######Configuring Checkstyle Eclipse plugin (wrong way)

###### Configuring Checkstyle Eclipse plugin (Correct way)

[2017-03-17 07:16] wkurniawan07 opened #6845 "Review the client scripts"
A large number of client scripts, particularly data migration ones, are now irrelevant because they were already run (although admittedly I do not know which ones). Maintaining them is the same as maintaining dead code and is [a non-trivial maintenance burden](http://stackoverflow.com/questions/15699995/why-unused-code-should-be-deleted).

If the purpose is to show devs how to create scripts, it h

[2017-03-17 07:18] samsontmr commented on #6566
@AnaghHegde I recommend that you complete your existing PRs before opening a new one.

[2017-03-17 07:21] AnaghHegde commented on #6843
@xpdavid I think it was there earlier also i guess. In the commit  8db7d17 where IntelliJ support was added. In that case also it was present.

[2017-03-17 07:34] samsontmr commented on #6843
@xpdavid This can be a first timer issue once it's defined more clearly.

[2017-03-17 07:35] AnaghHegde opened #6846 "Problem with PMD plugin and checkstyle plugin in eclipse Luna 4.4.2"
I was trying something with Eclipse luna. I tried to install the `CheckStyle` and there is no `Checkstyle` tab. The eclipse details are as below :

 Version: Luna Service Release 2 (4.4.2)
 Build id: 20150219-0600

![screenshot 82](https://cloud.githubusercontent.com/assets/12005551/24033296/39724d74-0b12-11e7-908f-a9d8ff1b8b23.png)

![screenshot 83](https://cloud.githubusercontent.com/assets/1200

[2017-03-17 07:37] AnaghHegde commented on #6846
I did a little survey on this and i found [this](http://www.vogella.com/tutorials/Checkstyle/article.html#installation) but i tried and there is no update available for this version.
I tried installing PMD but i got an error. I will give an update on the PMD soon.

[2017-03-17 07:38] AnaghHegde commented on #6843
Yeah, as only spaces has to be removed.

[2017-03-17 07:40] #6640 closed

[2017-03-17 07:43] samsontmr commented on #6845
Second this.

[2017-03-17 07:58] xpdavid commented on #6843
@AnaghHegde Maybe you want to provide more details so that other developers can work on it?

[2017-03-17 11:27] AnaghHegde commented on #6843
In the `[staticAnalysis.md](https://github.com/TEAMMATES/teammates/blob/master/docs/staticAnalysis.md#tool-stack)` page the space missing in some of the sub headings. They are as follows

- #####Configuring Checkstyle Eclipse plugin

- #####Suppressing Checkstyle warnings

For example  :
actual    #####Configuring Checkstyle Eclipse plugin
expected  ##### Configuring Checkstyle Eclipse plugin

To

[2017-03-17 11:31] AnaghHegde commented on #6843
@xpdavid In the same page

[code]

It should be like this

##### Suppressing PMD warnings

To introduce code that violates PMD rules, use @SuppressWarnings("PMD.RuleName")

Shall i open a new issue or will track this one also in the same issue ?.

[2017-03-17 11:57] damithc commented on #6843
Given that we are short of d.FirstTimer issues, it's fine to have one issue per file (but not one issue per each typo). If the typos are in the same file, one issue can cover all of them.

[2017-03-17 14:15] damithc commented on #6821
Deployed

[2017-03-17 14:15] #6821 closed

[2017-03-17 15:25] damithc opened #6847 "Error while putting document"
I've been getting a few of these errors recently from the live server.
Here's an example:
[code]
v5.99

[2017-03-17 22:13] amarlearning opened #6849 "teammates application not running locally [Help Needed]"
I would like to contribute to the Teammates organization through the project "Student Data UI upgrade".
I followed this guide `Setting up a development environment` step-by-step and everything went well, but when I tried to run the application locally, I got this error

[code]

Now I tried opening `http://localhost:8888/ `, I got these error in my console

[code]
Please help me

Kind Regards.

[2017-03-17 22:39] sravi4701 commented on #6843
I want to work on this issue. How should I get started?

[2017-03-18 00:14] saitj99 opened #6850 "New contributor self intro Sai Teja"
a) link to your app - https://teammates-sai.appspot.com/
b) link to your fork - https://github.com/saitj99/teammates
c) a screenshot of the change you did (as seen on the UI)
**BEFORE**
<img width="701" alt="screen shot 2017-03-17 at 7 01 39 pm" src="https://cloud.githubusercontent.com/assets/20525497/24066958/e4741b08-0b44-11e7-8599-1dbfada915a9.png">

**AFTER**
<img width="748" alt="screen shot

[2017-03-18 01:02] AnaghHegde commented on #6843
Hi @sravi4701 . Before you work on the issue, please follow our [Contributor Orientation Guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md).

[2017-03-18 01:34] saitj99 commented on #6606
@whipermr5 @damithc  could you confirm if this issue is fixed and close it. I see that the comments are fixed on _master_.  Issue addressed in PR #6583.

[2017-03-18 01:47] damithc commented on #6847
Getting a few more. Here's an example of another error that is cropping up frequently from the search side.
[code]

[2017-03-18 01:50] damithc commented on #6847
OK, this may be due to this code in `SearchManager`.

[code]

I recently set the `PERSISTENCE_CHECK_DURATION` to `0`

[2017-03-18 01:52] damithc commented on #6847
@whipermr5 I think you know what to do here because you were dealing with a similar check in another place recently (i.e. we should not do the persistence check if the `PERSISTENCE_CHECK_DURATION` is `0`)

[2017-03-18 04:35] whipermr5 commented on #6606
@saitj99 You're right!

[2017-03-18 04:35] #6606 closed

[2017-03-18 04:41] #6765 closed

[2017-03-18 08:54] Neurrone commented on #6849
@amarlearning That's a very long stack trace. I noticed this at the beginning:

[code]

Could you check if you're running on JDK 7?

[2017-03-18 08:57] Neurrone commented on #6850
Hi @saitj99, welcome to TEAMMATES!

Happy to hear you found the documentation helpful :)

You can start by fixing some [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issues, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

If you're planning to apply for G

[2017-03-18 09:03] Neurrone commented on #6808
Hi @Skchoudhary, welcome to TEAMMATES!

You can start by fixing some [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issues, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

Sounds like you're planning to apply for GSoC. If so, do check out our [instruction

[2017-03-18 09:04] amarlearning commented on #6849
@Neurrone yes, I am running on JDK 8. Should i install JDK 7 or what should i do ?

[2017-03-18 09:09] Neurrone commented on #6849
@amarlearning Yeah, install JDK 7; we don't support JDK 8. Refer to step 4 on the [setup guide](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md), which provides more information on how to do this.

[2017-03-18 09:11] amarlearning commented on #6849
@Neurrone this really helps. Thanks :smile:

[2017-03-18 14:15] LIUJIAHAOCS opened #6854 "New contributor self intro LIU JIAHAO"
a) link to your app - https://teammates-liujiahao.appspot.com
b) link to your fork - https://github.com/LIUJIAHAOCS/teammates
c) a screenshot of the change you did (as seen on the UI)
![screen shot 2017-03-18 at 10 03 33 pm](https://cloud.githubusercontent.com/assets/14244291/24072800/8c3a0bf8-0c27-11e7-8379-b5739c838826.png)
I add in a welcome message with the picture which can link to feature pa

[2017-03-18 14:16] xpdavid opened #6855 "Implement AdminEmailLogPageActionTest"
Currently, `AdminEmailLogPageActionTest.java` is just missing. Since from #6655, we can manually inject log messages. Therefore, the test case is doable.

[2017-03-18 14:19] samsontmr commented on #6854
Hi @LIUJIAHAOCS, welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled `d.Contributors`.

Are you planning to apply for GSoC? If you are, please read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pu

[2017-03-18 14:40] xpdavid opened #6857 "Remove useless replacement of text in AdminActivityLogPageActionTest"
We should remove this line in `AdminActivityLogPageActionTest`.

https://github.com/TEAMMATES/teammates/blob/06e464953e3e7ab33e806701f9547240354b159f/src/test/java/teammates/test/cases/action/AdminActivityLogPageActionTest.java#L453

[code]

This is because in #6524, the highlight in log message is moved to JS (front-end) part.

[2017-03-18 17:44] #6843 closed

[2017-03-18 20:52] Skchoudhary commented on #6808
Hi @Neurrone
I have already fix my d.FirstTimers issues and looking forward to d.contributors.

[2017-03-18 22:01] jimmyshephard opened #6860 "Issue Title: Help Request: Run Local Tests - IntelliJ"
- **Operating System: Ubunti 16.04 LTS
- **JDK Version: 1.7.0_80
- **IntelliJ Version: 2016.2.5

**Need to be able to run local tests, can run CI tests on command prompt**
Setup the project and gotten to use the application, register instructor, a couple of students, works fine.
It's clear how to get CI tests running on the command line, there's a task ciTests but can't figure out how to run just

[2017-03-18 23:14] amarlearning commented on #6854
@LIUJIAHAOCS I like the change that you made :+1:
But there is one thing that I would like to share with you is that there should also be the button to close to close that because it's hiding some of the content on its back, which is hard to read! [Image attached for example]

![screenshot from 2017-03-19 04-43-02](https://cloud.githubusercontent.com/assets/9383897/24076743/a1abe402-0c5e-11e7-914d

[2017-03-19 00:15] amarlearning opened #6861 "Teammates logo not aligned properly"
Teammates logo on [this](https://teammatesv4.appspot.com/page/studentHomePage) page is not aligned properly, as seen in this image.

![screenshot from 2017-03-19 04-33-56](https://cloud.githubusercontent.com/assets/9383897/24077074/05ff6426-0c67-11e7-90b5-6287ee37a7b6.png)

Let me know if I can take this up :smile:

[2017-03-19 00:31] jimmyshephard commented on #6860
Decided to go with Eclipse. Can run CI as well as local tests without a problem there.

[2017-03-19 00:31] #6860 closed

[2017-03-19 00:45] samsontmr commented on #6860
There's currently an issue where IntelliJ wipes out the .idea folder (where the run configs are stored) when you import the project. You'll need to restore them from git after importing the project

[2017-03-19 01:12] amarlearning opened #6862 "New contributor self intro "Amar Prakash Pandey""
**Link to my app:** Not deployed my app, because I don't have an international credit card. :disappointed:
**Link to my fork:** [Link](https://github.com/amarlearning/teammates)

**Screenshot:**
![screenshot from 2017-03-19 06-30-10](https://cloud.githubusercontent.com/assets/9383897/24077305/e0cfb11c-0c6e-11e7-9fa8-0707a4fbcd01.png)

**Introduction:**
Hello,
My name is Amar Prakash Pandey, a seni

[2017-03-19 01:22] amarlearning commented on #5131
@samsontmr I think this issue should be closed by now.

[2017-03-19 01:25] amarlearning commented on #6857
@xpdavid can i take this one ?

[2017-03-19 01:25] samsontmr commented on #5131
@amarlearning Yes, I just checked and the issue is still valid.

[2017-03-19 01:28] samsontmr commented on #6862
Hi @amarlearning , welcome to TEAMMATES! You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue, then those labelled `d.Contributors`.

Are you planning to apply for GSoC? If you are, please let us know and read [our instructions for GSoC applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh

[2017-03-19 01:42] amarlearning commented on #6712
@li-kai As I am already done with my `d.FirstTimers`, I would like to take this one :smile:

[2017-03-19 01:46] amarlearning commented on #5131
@samsontmr Yes, you are right.
It's the first step of [Install necessary tools and languages](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md#step-1-install-necessary-tools-and-languages)
As, I am already done with my `d.FirstTimers`, so i will leave this for someone else :smile:

[2017-03-19 01:53] amarlearning opened #6864 "In MobileView, text inside the menu is aligned on right side."
Text inside the menu in mobile view is aligned to `right side`. Not sure whether it's a feature or a bug?

![screenshot from 2017-03-19 07-19-40](https://cloud.githubusercontent.com/assets/9383897/24077493/ea2841d8-0c74-11e7-8c9a-c0e624c9e121.png)

[2017-03-19 02:21] damithc opened #6865 "Update admin email signature to 'Associate Professor'"
v 5.99

Current signature of emails sent by TEAMMATES:
`Damith C. Rajapakse (Dr) ; Senior Lecturer, School of Computing,...`

Update to:
`Damith C. Rajapakse (Dr) ; Associate Professor, School of Computing,...`

[2017-03-19 03:18] xpdavid commented on #6861
Is this the same as #6746, @amarlearning Remember to search before post issue :P

[2017-03-19 04:18] li-kai commented on #6712
@amarlearning Go ahead, and ask questions if you're not clear. Pls work on the `dev-es6` branch!

[2017-03-19 04:39] jimmyshephard opened #6866 "New Contributor Self-Intro: [James Murithi]"
- **Link to my app:** https://teammates-jamesmurithi.appspot.com
- **Link to my fork:** https://github.com/jimmyshephard/teammates

**Screenshot of changes made (as seen on the UI)**

![fixed-col-overflow](https://cloud.githubusercontent.com/assets/18121985/24078072/83e8da70-0c30-11e7-8aea-9a9ee32e0b44.png)

**Short self-introduction**
Hi, I'm James and I found team mates to be a project whose dom

[2017-03-19 05:02] #6840 closed

[2017-03-19 05:10] samsontmr opened #6867 "Development Workflow: Explicitly state that contributors should not create multiple PRs for a single issue"
Contributors should not be opening multiple PRs for the same issue (e.g. Closing a PR and creating a new one). Doing this makes it difficult to keep track of past reviews/comments on the PR. We should consider stating this explicitly in our development workflow document.

[2017-03-19 05:12] amarlearning commented on #6861
Closing this issue, because of this #6746

[2017-03-19 05:12] #6861 closed

[2017-03-19 05:18] samsontmr commented on #6867
As an aside, we can also consider including an obvious list of do's and dont's for PRs to help us manage the recent influx of new contributors better ([checkstyle's](https://github.com/checkstyle/checkstyle/wiki/PR-rules) is a good example).

[2017-03-19 05:30] amarlearning commented on #6712
@li-kai Not able to find this file `instructorFeedbackResults.js` in `dev-es6` branch.
here is the [link](https://github.com/teammates/teammates/blob/dev-es6/src/main/webapp/js/instructorFeedbackResults.js), this says page not found.

[2017-03-19 05:35] li-kai commented on #6712
@amarlearning It's `.es6` cause we're in process of migration. [https://github.com/teammates/teammates/blob/dev-es6/src/main/webapp/js/instructorFeedbackResults.es6](https://github.com/teammates/teammates/blob/dev-es6/src/main/webapp/js/instructorFeedbackResults.es6)

[2017-03-19 06:48] Neurrone commented on #6866
Hi @jimmyshephard, welcome to TEAMMATES!

Happy to hear you found the documentation helpful :)

You can start by fixing some [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issues, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

If you're planning to apply

[2017-03-19 07:45] wkurniawan07 commented on #6864
@li-kai for your clarification, whether this is this a conscious decision or not.

[2017-03-19 08:00] #6725 closed

[2017-03-19 08:00] #6719 closed

[2017-03-19 08:00] #6756 closed

[2017-03-19 08:00] #6782 closed

[2017-03-19 08:01] #6792 closed

[2017-03-19 08:01] #6704 closed

[2017-03-19 08:01] #6701 closed

[2017-03-19 08:30] VamsiSangam commented on #6835
This shows up on the UI when trying to login as admin..

![3](https://cloud.githubusercontent.com/assets/11662001/24079359/48c2fc38-0cac-11e7-876d-4f79aedd686c.JPG)

The console shows these error messages -

![1](https://cloud.githubusercontent.com/assets/11662001/24079363/54087fb4-0cac-11e7-89a4-723ce5d20b93.JPG)
![2](https://cloud.githubusercontent.com/assets/11662001/24079364/5a8025ea-0cac-11e7

[2017-03-19 08:58] li-kai commented on #6864
@wkurniawan07 Yep it is. The button is on the right so I'd expect the text to be on the right as well.

[2017-03-19 09:04] thenaesh opened #6870 "Forbid 'use strict' directive in ES6 code"
Since ES6 module code is strict by default, there is no need for strict mode directives. Forbidding it in the ESLint rules can help catch accidental `'use strict;'`s lying around, so it's one less thing for reviewers to worry about.

[2017-03-19 09:26] samsontmr commented on #6835
For the second error, try running the `clean` Gradle task. I remember this happening to me before.

[2017-03-19 09:44] nikiforosbotis commented on #6457
@JosephineKwa Can I take over that?

[2017-03-19 09:57] nikiforosbotis commented on #6456
@JosephineKwa Can I take over that? Or is it done?

[2017-03-19 10:30] wkurniawan07 opened #6872 "Travis CI failing due to connectivity issue with NPM"
The CI builds from the past few hours has been plagued by failures due to NPM unable to install ESLint and/or Stylelint. [Sample from the latest `master` build](https://travis-ci.org/TEAMMATES/teammates/builds/212613991).

The most probable cause is wrapping `npm install` command in a Gradle script because all builds in `dev-es6` are unaffected (which changed that), but I'm still in the dark as of

[2017-03-19 11:26] #6872 closed

[2017-03-19 12:11] wkurniawan07 opened #6875 "Add instructions for building JS files"
With our JS files migrating to ES6 but being transpiled to IE9-compatible ES5, we need to come up with additional steps needed to build the JS files prior to running the application itself.

[2017-03-19 12:13] amarlearning commented on #6864
@wkurniawan07 @li-kai I think it will look better if they were aligned to the left side. Just a suggestion.
Let me know what you think.

[2017-03-19 12:40] #6865 closed

[2017-03-19 14:48] #6823 closed

[2017-03-19 16:33] amarlearning commented on #6831
@thenaesh I would like to take this one

[2017-03-19 17:07] AnaghHegde commented on #4430
@damithc

I am not able to reproduce the error in my local env( eclipse ). Is this still happening( only on live server ?). I couldn't try on live server as i don't have one( due to credit card issue).

[2017-03-19 20:43] amarlearning opened #6878 "Need some more details related to "Student Data UI upgrade" project"
Hello,

My name is Amar Prakash Pandey, a senior year undergraduate student pursuing the bachelor of technology degree in Computer Science and Engineering. I am an Open Source Community Member at DuckDuckHack, the open source community of DuckDuckGo.

I would like to contribute to the Teammates organization through the project _"Student Data UI upgrade"_. I need some more information related to **

[2017-03-19 20:51] #6849 closed

[2017-03-19 21:55] amarlearning opened #6879 "Overflow of "Request a free instructor Account" outside of container"
In the mobile view, we can see clearly there is an overflow of content/button as seen in this image.
And there should also be a little space between both the buttons.

![screenshot from 2017-03-20 03-22-04](https://cloud.githubusercontent.com/assets/9383897/24085157/b0df4af4-0d1c-11e7-8804-882cbc6464d2.png)

[2017-03-19 22:29] amarlearning commented on #6746
@wkurniawan07 @whipermr5 I would like to take this one. Let me know if anyone else is not working.

[2017-03-20 00:13] damithc commented on #6847
I've changed the persistence delay back to `1` (from `0`) but I still keep getting this error frequently, so I'm not sure if it was related to a recent change on our side or GAE side.

[2017-03-20 02:13] Dartteon commented on #6746
@amarlearning I'm fixing this in https://github.com/TEAMMATES/teammates/pull/6836

[2017-03-20 02:40] #6844 closed

[2017-03-20 03:44] #6857 closed

[2017-03-20 03:54] damithc commented on #4430
Last happened at v5.96. Closing for now. Will reopen if it happened again.

[2017-03-20 03:54] #4430 closed

[2017-03-20 04:05] junhaoyap commented on #6870
👍 @thenaesh I suppose we can close this issue?

[2017-03-20 04:07] junhaoyap commented on #6866
@jimmyshephard, welcome to the TEAMMATES community!

@Neurrone has given a very good rundown on what the next possible steps could be!

Looking forward to seeing your contribution, James!

[2017-03-20 04:10] junhaoyap commented on #6862
@amarlearning welcome to the TEAMMATES community!

@samsontmr I think ```I would like to contribute to the Teammates organization through the project "Student Data UI upgrade"``` is a GSoC project, @amarlearning please go through the instructions as per the link that @samsontmr has provided!

[2017-03-20 04:11] junhaoyap commented on #6854
@LIUJIAHAOCS, welcome to the TEAMMATES community!

[2017-03-20 04:13] junhaoyap commented on #6850
@saitj99 welcome to the TEAMMATES community!

Do make sure to check out the GSoC process if you're going for it!

[2017-03-20 04:17] junhaoyap commented on #6815
@nikiforosbotis welcome to the TEAMMATES community!

That is indeed true, we recommend you look through the process when you have time to familiarize yourself with the timeline so you do not miss the application deadlines etc!

[2017-03-20 04:19] junhaoyap commented on #6808
@Skchoudhary welcome to the TEAMMATES community!

Great job on your first timer issue, do remember to look at the GSoC instructions as soon as you can to familiarize with the process as you seem to interested in GSoC!

[2017-03-20 05:32] vineetkumarr260 opened #6881 "GSoC 2017 New Contributor Introduction"
Hello TEAMMATES Team,
I am Vineet Kumar, a second-year student enrolled in Mechanical Engineering at Delhi Technological University, Delhi, India.
I am really looking forward to contribute to TEAMMATES project through or beyond GSoC'17.
Java is my most preferred language and I have experience in Java and Android development. I have also some experience with front-end web development technologies (

[2017-03-20 05:50] wkurniawan07 commented on #6845
@damithc may I know which ones of the scripts are still regularly run, or at least still used within the past year?

[2017-03-20 06:46] leeyimin opened #6886 "Moving non-production reusable code to test.driver package"
There are methods in utility classes of `common.util` package which are only used by test classes and not in production code. These methods can be moved to appropriate/new classes in `test.driver` package instead to avoid mixing production and non-production code.
Helper classes and methods in `teammates.client.scripts.util` can also be moved to test.driver package to put non-production reusable c