[2022-02-26 03:07] #11583 closed

[2022-02-26 03:08] madanalogy opened #11599 "Release V8.8.1"
Scheduled for Saturday, Feb 26, 2022, 11.00am SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2022-02-26 03:14] madanalogy commented on #11599
[V8.8.1](https://github.com/TEAMMATES/teammates/releases/tag/V8.8.1) has been released by @madanalogy at February 26th, 2022, 11.13am SGT.

Code contributions from: @NicolasCwy, @leddy231, @samuelfangjw
Review contributions from: @NicolasCwy, @wkurniawan07

Ready for post-release check and deployment by PM (@damithc).

[2022-02-26 04:34] damithc commented on #11599
Deployed and released. Thx for the quick fixes!

[2022-02-26 04:34] #11599 closed

[2022-02-26 06:41] wkurniawan07 commented on #11597
I hate to be the bearer of bad news, but it's probably your console settings that make it unnecessarily verbose? https://github.com/TEAMMATES/teammates/runs/5337273641?check_suite_focus=true this is nowhere near 150 lines.

[2022-02-26 07:18] moziliar commented on #11597
@FergusMok Could it be that the output is from `src/web/dist/*` that's from `npm build`? I would have the same thing if my built files are linted.

[2022-02-26 07:31] FergusMok commented on #11597
@moziliar More like it's loading of npm's configurations
![image](https://user-images.githubusercontent.com/10182564/155834353-6a267961-56bd-4ffb-bb0d-1c14add052ce.png)

@wkurniawan07 I went to research further and I realized it's possible (you can set your own .npmrc settings), and my installation came with `loglevel = "info"` by default (can check with `npm config ls -l`).

If it's not a common

[2022-02-26 07:42] wkurniawan07 commented on #11597
https://docs.npmjs.com/cli/v8/using-npm/config#loglevel NPM's default loglevel is `notice` for the last 3 major versions, so I dare say it's your specific installation.

[2022-02-26 17:23] halfwhole commented on #11122
Strangely, it looks to me like this issue has already been resolved - the original PR (#11479) doesn't look like it's been reverted (can't find the revert commit in history), and the PR changes are still currently in master too. Could I just sanity check with @madanalogy that this issue can be closed!

[2022-02-26 17:30] halfwhole commented on #11497
To follow up on this, do any users continue to face this issue? Are there also recent examples of these server errors that we can look at (maybe in the maintainer logs) to figure out what went wrong?

[2022-02-26 18:51] damithc commented on #11497
The feature is not visible to users. These errors were reported the few times I gave the link to a few users. I stopped giving the link to users after that. I don't think we have the logs for those cases anymore.

I can reproduce the error by searching for a student in CS2103 course (278 students) for a 30 day period. So, I suspect it is a problem of scale. But I don't know if it is affected by th

[2022-02-27 02:48] madanalogy commented on #11122
Yeap you're right, I reverted the revert but forgot to close the issue again. Thanks for the catch @halfwhole

[2022-02-27 06:57] halfwhole commented on #11497
Can reproduce this occasionally on both production and staging, with dummy courses and a 30 day search period, so it's unlikely to be related to the size of the course/session, nor the total number of log entries in the course/session/system.

Further details: source location is pinpointed to line 210 of `GoogleCloudLoggingService`, i.e. `entries.iterateAll()`. Can investigate into this further.

[2022-02-27 12:53] NicolasCwy commented on #11245
Do all scripts contain a main function which takes in no arguments or should we accept command line arguments(if any) to be passed to the script?

[2022-02-27 17:33] wkurniawan07 opened #11607 "Update back-end dependencies"
While #11345 will update (most of) the front-end dependencies, we need to also do a routine update of the back-end dependencies.

[2022-02-28 04:43] fsgmhoward commented on #11591
Is it possible to run the E2E test with older version of Firefox? This issue is quite urgent as we have a list of PRs failing this test currently. It is marked as a "required" test so its reliability should be essential.

[2022-02-28 06:16] #11607 closed

[2022-02-28 07:03] damithc opened #11609 "Problem with Unicode characters in submissions"
Reported by a user:

When I enter single quotes, they are decoded to html character codes as shown in the screenshot. Emojis are also affected.

![image](https://user-images.githubusercontent.com/1673303/155938620-21ffb0c4-6b6a-4de7-be26-e77c9839b7d7.png)

How to replicate:
1. Enter feedback containing single quotes. Emojis also work.
2. Scroll to the bottom of the page and click on the ’Submit Fe

[2022-02-28 07:38] #11345 closed

[2022-02-28 09:32] madanalogy opened #11610 "Release V8.9.0"
Scheduled for 2 Mar 2022, 10am SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-02-28 15:25] samuelfangjw commented on #11591
I think this is a good idea, I've implemented this in #11611.

[2022-03-01 03:10] NicolasCwy commented on #11245
Hi Prof would users have to manually change the placeholder your script name or is do we take in the script name from the command line?

[2022-03-01 03:13] NicolasCwy commented on #8184
I'll be working on this

[2022-03-01 03:14] damithc commented on #11245
@NicolasCwy Latter is preferred but the former is OK too (a bit messy if I have to change the build.gradle locally as it is under version control).

[2022-03-01 05:28] NicolasCwy opened #11612 "Sample example questions(Session with different question types) inaccurate when previewing as student"
- **Environment**: `master` branch at commit de1b10ce29323420014bb7ff1b2c87264fac9f6f, tested on live server as well

**Steps to reproduce**
1. Create a new instructor account
2. Edit sample session named `Session with different question types`
3. Preview as student

**Expected behaviour**
Students will see questions created by sample session (this is the instructor preview)
![image](https://user-

[2022-03-01 05:40] samuelfangjw commented on #11612
I don't believe this is a bug. Check the question visibility settings, the first question is for instructors only.

[2022-03-01 06:03] NicolasCwy commented on #11612
Ah I see, the template got a bit confusing thanks for clarifying

[2022-03-01 06:03] #11612 closed

[2022-03-01 09:01] NicolasCwy commented on #8184
To clarify, do we want to create a new template (optimised version that replaces the contribution question with the distribution question) as done in the previous PR or is replacing it preferred?

[2022-03-01 09:26] damithc commented on #8184
I wouldn't mind creating a new template altogether (if can be done without a lot of duplication), in case some existing users want to keep using the old template. Perhaps `team peer evaluation (percentage-based)` and ``team peer evaluation (point-based)`?

Perhaps we can tweak it to have both type of questions? e.g., One question on contribution to the presentation and another for contribution to

[2022-03-01 12:14] isabelredtzer commented on #10992
We are a group of students trying to learn more about Open Source and we're planning to work on this for the two next upcoming weeks.

[2022-03-01 12:46] arnavk1872 commented on #10986
Is this issue still open? I would like to work on it.

[2022-03-01 13:24] shivamsharma01 commented on #10986
Yes, probably. I was able to setup the workspace with the help of @hhdqirui 's suggestions but now I am not able to login to the application. Don't know how to create a user.

[2022-03-01 18:50] hoanglan21 commented on #11547
<img width="1440" alt="Screen Shot 2022-03-01 at 1 47 28 PM" src="https://user-images.githubusercontent.com/46897782/156230065-ca7bb312-2f92-4dbf-b88b-7af0e250b6f9.png">
my suggestion for this answer is
1) if the teacher is looking for one specific student, they can go to Student page -> search -> copy the student's email from there
2) if the teacher is looking for a group of students, they can go

[2022-03-02 01:46] fsgmhoward commented on #11547
@hoanglan21 Hi, what you said has already been drafted as PR #11555

The issue now is not how to phrase this answer. Instead, it is whether or not to preserve this question as commented by @wkurniawan07 .

[2022-03-02 04:10] damithc commented on #11547
I think we can get rid of this question. We used to have such a feature at some point but not any more.

[2022-03-02 05:26] damithc opened #11615 "Team contribution question: anomaly in responses shown in the results page"
A case reported by a user:

Scenario: An instructor is viewing results of a team contribution question.

Results show that a student of a 4-person team has given the following ratings to team members:

![image](https://user-images.githubusercontent.com/1673303/156298278-c8950065-150e-497e-a83a-4cbb3e952be2.png)

However, according to the data in the datastore and the CSV data, the student has give

[2022-03-02 05:37] fsgmhoward commented on #11547
@damithc Noted. I will update the PR accordingly then.

[2022-03-02 05:52] #11598 closed

[2022-03-02 06:41] fsgmhoward commented on #11615
I cannot reproduce the `4% 4% 4% Eq` value by inputing Eq for all students, although I do find it weird for the values shown in this table - when I input `+10% Eq Eq Eq`, it becomes something like `+7% +3% +3% +2%` in this result table.

[2022-03-02 07:44] madanalogy commented on #11610
[V8.9.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.9.0) has been released by @madanalogy at March 2nd, 2022, 03.43pm SGT.

Code contributions from: @Hardik27, @samuelfangjw, @wkurniawan07
Review contributions from: @NicolasCwy, @madanalogy, @samuelfangjw, @wkurniawan07

Ready for post-release check and deployment by PM (@damithc).

[2022-03-02 07:59] samuelfangjw commented on #11615
Took a quick look, seems like `normalizedPeerContributionRatio` is used, specifically added here.

https://github.com/TEAMMATES/teammates/blob/7c3bda0512557c5cf4accc964a83d28c29af26b2/src/main/java/teammates/common/datatransfer/questions/FeedbackContributionQuestionDetails.java#L147

[2022-03-02 08:21] samuelfangjw commented on #11615
To add on to my previous comment, on the frontend, the correct result is initialized at line 47 (see below). However, if statistics object is present, this value is overwritten by the value added in the previous comment.

https://github.com/TEAMMATES/teammates/blob/9cc2e8451096b900b405d8c698291adf0e782e09/src/web/app/components/question-types/question-response/contribution-question-response.compon

[2022-03-02 08:46] damithc commented on #11615
Thanks @samuelfangjw I'll have a look at the Java side of the code and update this thread later.

[2022-03-02 12:12] wkurniawan07 opened #11617 "Restrict course creation only to users who requested accounts"
Current: any user who has been granted instructor role, either by admin via account request or by other instructor e.g. as course manager/observer/tutor, can freely create courses for themselves.

Problem: it allows dishonest usage of course creation. Unlike the course co-owner whose account request has been screened for this purpose, manager/observer/tutor are unlikely intended to have this kind

[2022-03-02 13:01] wkurniawan07 opened #11618 "Usage statistics page for maintainers"
- **Environment**: live server at `V8.9.0`; feature is never present in the system nevertheless

**Description of feature/enhancement**

- Collect regular statistics of relevant usages such as new entities created, sessions ongoing, and emails sent
- The statistics are purely numerical and cannot be traced back to any user or user group
- Maintainers and admins will be able to view the statistics

[2022-03-02 14:35] #11615 closed

[2022-03-03 13:33] wkurniawan07 commented on #11547
It is true that we used to have the feature described in (1)-(2), but judging by the fact that (3) is the so-called "way" to email the students, the question has been weirdly phrased from the very beginning. Of course, doesn't matter anymore if we're going to delete it.

[2022-03-04 10:13] fsgmhoward opened #11621 "Minor typo for FeedbackSessionAttributes class"
Around line 630 of `FeedbackSessionAttributes.java`, there is a typo here:
[code]

Note that it should be FeedbackSessionAttributes not StudentAttributes.

Checks has to be done on whether there are other program or db entities rely on this `toString()` function to work. It will also be good to check whether similar typos exist for other attributes/entity/logic/db classes.

[2022-03-04 10:18] fsgmhoward opened #11622 "Ng generate: Schematic input does not validate against the Schema"
There is an issue with the generator schema for `ng generate` at `angular.json` (under root folder). When execute `ng generate component`, this error is thrown:

[code]

This might be related to the recent update to Angular 12. Under `angular.json`, the key `strict` needs to be removed.
[code]

Pending investigation on whether similar issues exist for this Angular configuration file.

[2022-03-04 10:42] wkurniawan07 commented on #11622
Looks like I made a mistake during when adding the property. It should be added to a key called `@schematics/angular:application` instead.
[code]

[2022-03-04 12:52] rom-me commented on #10986
Can I also attempt working on this issue if it's still not resolved?

[2022-03-05 04:15] t-cheepeng commented on #10986
@rom-me Hi, please look for another issue to work on as there are previous users who wish to tackle this

[2022-03-05 04:16] t-cheepeng commented on #10986
@shivamsharma01 you can refer to https://github.com/TEAMMATES/teammates/blob/master/docs/development.md to see how to create users

[2022-03-06 00:24] shivamsharma01 commented on #10986
In my understanding, there is a switch between the loading-spinner component (via loading-spinner directive) and the templateref using ngIf directive. There is no direct way to show the message while the loader is being displayed. I have added the logic to display 'Loading Records...' after 5 seconds but this is now not limited to records being loaded in the feedback page but every time the loader

[2022-03-06 07:55] wkurniawan07 opened #11626 "New instructors: set the session timestamps of the sample course to match user"
https://github.com/TEAMMATES/teammates/blob/9cc2e8451096b900b405d8c698291adf0e782e09/src/main/resources/InstructorSampleData.json#L119-L139

Current: In instructor sample data, all session and comment times are fixed.

Problems:
- It gives a wrong impression/statistics on usage (especially on past usage).
- The fact that one of the sample sessions end in 2037 means that the logic to determine "ong

[2022-03-06 08:42] jayasting98 commented on #2844
Hi I think this issue has already been solved in PR #10762.

[2022-03-06 11:22] jayasting98 commented on #8000
Hello, I think I can work on this issue.

[2022-03-06 14:26] wkurniawan07 opened #11630 "Session closing soon email should be sent to all students/instructors regardless of submission status"
#10901 introduces skip for "closing soon" email for those who have already submitted responses.

This is a very problematic and flawed "optimization" because it took away a critical feature. It checks users for "submitting responses", not "completed all questions". Even users who have previously completed all questions may want to change their existing responses before the due time!

This so-calle

[2022-03-06 14:30] wkurniawan07 opened #11631 "Session closed email should only be sent to course co-owners"
https://github.com/TEAMMATES/teammates/blob/9cc2e8451096b900b405d8c698291adf0e782e09/src/main/java/teammates/logic/api/EmailGenerator.java#L454-L496

Current: session closed emails are sent only to students/instructors who did not submit any response.

Problem: such email is redundant, because knowing that "the session has closed [and I have not submitted anything]" does not translate to any actio

[2022-03-06 15:02] wkurniawan07 opened #11632 "Update frontend libraries to fix CVE warnings"
One of our dependencies, `handsontable@7.4.2`, has a listed vulnerability [CVE-2021-23446](https://security.snyk.io/vuln/SNYK-JS-HANDSONTABLE-1726770).

While it does not really affect us (the function in question is not used by us, and we only use JS as client-side language so DoS attack is out of scope), it will do us good to update to a newer version, not only to get rid of the warning but also

[2022-03-06 17:39] samuelfangjw opened #11633 "Remove overridden text-break class"
In #11277, the `text-break` class was overridden due to a bug in bootstrap css v4.5.0 that caused it not to work with `td` tag (see https://github.com/TEAMMATES/teammates/pull/11277#discussion_r672291838).

Now that bootstrap css has been bumped to v4.6.1 (see #11509), this can be safely removed.

[2022-03-07 04:39] damithc commented on #11610
Deployed and released. Thanks to everyone who contributed 💯

[2022-03-07 04:39] #11610 closed

[2022-03-09 09:03] jgrant12345 opened #11638 "Logging in to a TEAMMATES instance"
- **Commit SHA:**
- **Operating System:**
- macOS
- **JDK Version:**
- 11.0.12
- **Node.js Version:**
- v14.18.1
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I'm new to the project and I was trying to set it up. I ran into a similar issue as this [issue here](https://github.com/TEAMMATES/teammates/issues/11387).  Essentially whenever I try to

[2022-03-09 09:21] t-cheepeng commented on #11497
Also managed to reproduce with one course and about 60 matching logs over 30 days.

@halfwhole
In `GoogleCloudLoggingService`, line 345 - 349, there is a `logging.close()` method call. Once I removed those lines, the server errors were no longer present. Could you help to comment out those lines and re-run the code on staging as a double check (make sure that it's not a fluke on my side)?

I think

[2022-03-09 14:15] FergusMok opened #11639 "Refactor date and time methods into utility file"
The frontend uses DateFormat/TimeFormat, Moment and epoch timestamps, and even Date.
However, functions to parse and manipulate between the data types are scattered in different files and folders.

Examples that can benefit from refactoring:
- Put methods to convert between the types into one single utility file
E.g getDateTimeAtTimezone (conversion from timestamp to date/time format) implemented

[2022-03-09 19:42] jgrant12345 commented on #11638
Actually I ended up figuring it out. You can log in with this email: [app_admin@gmail.com](mailto:app_admin@gmail.com). And then enter the url for the admin e.g. http://localhost:8080/web/admin/home. That's what worked for me

[2022-03-09 23:52] wkurniawan07 opened #11640 "Apply lazy-loading of question contents in session submission page"
Current: Upon loading the session submission page, the recipient and responses information of all questions are loaded.

Problems:
- For sessions with large number of questions, this will introduce a burst of parallel API calls.
- When the session has been closed, there is a not-small chance that a user only wants to see the responses of a question somewhere before or until the middle of the page.

[2022-03-10 00:07] wkurniawan07 opened #11641 "Apply lazy-loading of question responses in session results page"
Current: Upon loading the session results page, the responses of all questions are loaded.

Problems:
- Not performant at large number of responses.
  - While it does not introduce burst of parallel API calls, as the burden of fetching all responses falls on one single API call, it is not difficult to see the potential performance issue at large enough scale.
- There is a not-small chance that a u

[2022-03-10 01:05] ypinhsuan commented on #11638
Glad to see that you are able to resolve the issue :)

[2022-03-10 01:05] #11638 closed

[2022-03-10 01:15] wkurniawan07 commented on #11497
On a general note, you almost always never want to skip closing resources. At the very least, it's going to cause memory/handle leaks, and on the other extreme it can be abused for DoS or fork bomb attack.

[2022-03-10 13:50] #11370 closed

[2022-03-10 18:05] #11588 closed

[2022-03-10 18:38] #10843 closed

[2022-03-10 23:23] #11626 closed

[2022-03-11 00:36] #11630 closed

[2022-03-11 00:36] #11631 closed

[2022-03-11 13:19] #11433 closed

[2022-03-12 05:16] wkurniawan07 opened #11644 "Remove webmaster/webtool files from source control"
Current:
The following files are being source controlled:
- `BingSiteAuth.xml`
- `google***.html` (some hex combination)
- `robots.txt`
- `sitemap.xml`

Problems:
- They are webmaster/webtool files that should be unique per site. If anyone else deploys their own fork (the number has been kept very low in recent times, but the fact that it is non-zero will still cause problems), they will have the

[2022-03-12 09:01] #11633 closed

[2022-03-13 03:15] madanalogy opened #11647 "Release V8.10.0"
Scheduled for Sunday, 13 March 2022, 11.00pm SGT.

Release Lead:

- [ ] Tagged the latest stable release code with the latest version number
- [ ] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2022-03-13 14:21] #11143 closed

[2022-03-13 14:37] fsgmhoward commented on #11572
Task list (order following the milestones):
- [X] [Database Skeleton](https://github.com/TEAMMATES/teammates/pull/11575)
- [X] [GET route](https://github.com/TEAMMATES/teammates/pull/11625)
- [X] [POST route](https://github.com/TEAMMATES/teammates/pull/11620)
- [ ] [Admin frontend page for viewing and creating notifications **(pending for review)**](https://github.com/TEAMMATES/teammates/pull/1162

[2022-03-14 12:37] #11547 closed

[2022-03-14 12:48] wkurniawan07 commented on #2844
Closing as issue has been resolved

[2022-03-14 12:48] #2844 closed

[2022-03-14 12:49] wkurniawan07 commented on #3431
Closing as issue has been resolved

[2022-03-14 12:49] #3431 closed

[2022-03-14 12:49] #11594 closed

[2022-03-14 12:50] #11590 closed

[2022-03-14 13:13] #11644 closed

[2022-03-14 14:09] #11640 closed

[2022-03-15 15:42] damithc commented on #11647
Deployed and released. Thanks everyone who contributed. 💯

[2022-03-16 16:13] #11570 closed

[2022-03-18 18:15] wkurniawan07 opened #11655 "Devise a better way to handle duplicate account requests"
https://github.com/TEAMMATES/teammates/blob/3824506e4948639b0fba6771aee3dc909c00ec3a/src/main/java/teammates/ui/webapi/CreateAccountRequestAction.java#L29-L36

Line 35 states that if an account request already exists, creating another with same email + institute should result in resending the same registration URL to the account requester.

Problem: the URL will not be usable if the account reques

[2022-03-18 20:19] egorovak commented on #10480
@wkurniawan07 Hi, is this issue still active/relevant?

[2022-03-19 16:53] samuelfangjw commented on #11655
@wkurniawan07 Can I clarify the expected behaviour when account request is reset? Other than resetting account request registered at date and sending join email, are there any related entities that need to be deleted as well?

[2022-03-19 17:13] wkurniawan07 commented on #11655
I don't think there's any. AccountRequest is very much an independent entity.

[2022-03-20 06:03] samuelfangjw opened #11658 "Give admin a way to resend account registration link to instructors"
**Description of feature/enhancement**

Add a "Resend Link" button in admin search page which resends the account registration link to unregistered instructors.

**Justification**

~With #11657, admins no longer have an easy way to resend this link to unregistered instructors who request for it again.~

Edit:
Due to change in PR, the statement above is no longer applicable. However, the feature st

[2022-03-20 11:50] wkurniawan07 commented on #11618
https://github.com/TEAMMATES/teammates/tree/11618-scripts

The scripts for the first round of data cleaning are ready. Order of usage:
- `DeleteOrphanCourses` to delete courses without instructors
- `DeleteTestCourses` to delete courses added by legacy tests
- `PopulateAccountRequestEntities` serves two functions:
  - to populate the AccountRequest entities based on past account requests
  - to de

[2022-03-20 16:58] #8011 closed

[2022-03-25 14:50] damithc opened #11669 "Student prompted to login if session is not yet open"
Scenario:
1. A session opens. Students receive submission links.
2. Instructor changes the session open time to a future time i.e., session no longer open
3. Student tries to submit using the link (the student has not joined the course yet)
4. What is expected: an error message appears stating 'The session is not open'
5. What actually happens: the above error message appears momentarily but the s

[2022-03-26 08:31] samuelfangjw commented on #11622
@fsgmhoward  I don't see any other obvious issues with the config file. Should we fix this first? We can always file a new issue if we find any down the line.

[2022-03-26 10:10] fsgmhoward commented on #11622
@samuelfangjw Sure. Are you going to take it? Just fix it according to the above comment.

[2022-03-26 10:13] samuelfangjw commented on #11622
Not really keen on taking credit for this, would you like to finish it up since you found the bug?

[2022-03-26 10:28] fsgmhoward commented on #11622
@samuelfangjw OK. I will go fix it later.

[2022-03-27 08:32] samuelfangjw opened #11673 "Add ESLint rule for member delimiter style"
**Description of feature/enhancement**
Add ESLint rule for [member delimiter style](https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/member-delimiter-style.md) to enforce consistent member delimiter styles across interfaces and type literals.

For more info on why this is needed, see https://github.com/TEAMMATES/teammates/pull/11657#discussion_r835

[2022-03-27 08:35] FergusMok opened #11674 "Time picker displaying duplicate options"
1. Use the tm-timepicker component, and select 23:00H.
2. Select the component again, and view the options, and you should see a duplicate 23:00H value at the bottom of the list.

![image](https://user-images.githubusercontent.com/10182564/160273490-da865c2b-492d-4b9c-8ba3-5c0fde72f015.png)

Currently, only the 23:00H option is displaying the buggy behavior

[2022-03-27 11:54] #11086 closed

[2022-03-27 14:58] #11655 closed

[2022-03-27 17:00] #11674 closed

[2022-03-28 05:26] samuelfangjw commented on #11658
After discussion with @damithc, I have decided to close this issue as it is no longer needed and unlikely to be used.

[2022-03-28 05:26] #11658 closed

[2022-03-28 05:31] damithc opened #11681 "Outlook safety mechanism is breaking TEAMMATES links"
It appears that some users received a 'sanitized' version of the TEAMMATES link in their email due to some safety feature applied by Outlook. Here is an example:

`https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fteammatesv4.appspot.com%2Fweb%2Fjoin%3Fkey%3D9C...`

Is it possible to make our links work even when this mechanism is applied?

[2022-03-28 07:45] #11621 closed

[2022-03-28 07:45] #11622 closed

[2022-03-28 09:00] damithc commented on #11681
Probably out of our control. In this specific case (as reported by the user), the link didn't work but it was due to a login problem on the user's side rather than the link itself. I checked a few more recent cases of users reporting similar problems but the sanitizing doesn't seem to be the root cause of those problems. In the cases the link was not working after sanitizing, the cause seems to be

[2022-03-28 09:00] #11681 closed

[2022-03-28 09:44] kaixin-hc opened #11683 "Use MarkBind for Developer Documentation"
- **Environment**: All

**Description of feature/enhancement**

Using MarkBind for developer documentation, by hosting it on Github pages, will allow for developer documentation to be easily navigable, referenced and searched. MarkBind is easy to set-up and the MarkBind site should be easily maintained within this repository. MarkBind also allows for other features that enhance readability and mai

[2022-03-28 10:10] samuelfangjw opened #11684 "Fix minor typos in comments"
Creating this issue as a target for a PR to fix two minor typos in comments leftover from #11582.

1. `Creates` in one comment of AccountRequestLogic should be changed to `Updates`
2. Missing `account requests` in one method in javadocs of data bundle logic.

At the same time, taking this chance to do a quick scan of existing comments and fix obvious typos.

[2022-03-28 10:40] #8184 closed

[2022-03-28 15:34] #11585 closed

[2022-03-28 16:21] #11673 closed

[2022-03-29 11:29] wkurniawan07 opened #11687 "Release 8.11.0"
Scheduled for Tuesday, 29 March 2022, 7.30pm SGT.

Release Lead:

- [ ] Tagged the latest stable release code with the latest version number
- [ ] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2022-03-30 02:42] hoanglan21 commented on #1501
Hi,

I want to contribute to this issue, are there any other classes that have no unit tests left?

[2022-03-30 16:13] damithc commented on #11687
Deployed and released. Thanks to everyone who contributed 💯

[2022-03-31 03:11] #11684 closed

[2022-03-31 04:07] ypinhsuan commented on #1501
Hi @hoanglan21, thanks for the interest. Seems like all the Feedback*QuestionDetails class already has unit tests, but some of them can be improved further. You can look at the Codecov page (https://app.codecov.io/gh/TEAMMATES/teammates) to identify the parts that lack tests.

[2022-03-31 14:21] damithc opened #11693 "Student submitting MCQ question: comments are not loading"
Situation:
A student is editing responses to an MCQ question that she submitted earlier, and reported that she is seeing the following error.
![image](https://user-images.githubusercontent.com/1673303/161076713-ab88d1c2-0084-4c31-a630-8eb8d8bca063.png)

It turns out the submission page is not loading the comments she submitted earlier i.e.,  clicking this button given below shows an empty form ins

[2022-03-31 17:46] samuelfangjw commented on #11693
Did some investigation, seems like a valid bug. Part of the issues stem from here:

https://github.com/TEAMMATES/teammates/blob/7dfda8ba63070c0924eb397c98bae8008c00b30b/src/web/app/pages-session/session-submission-page/session-submission-page.component.ts#L533-L580

For `FIXED_RECIPIENT` types, existing comments are added (lines 547-549). However, for `FLEXIBLE_RECIPIENT` type, existing comments a

[2022-04-01 06:50] fsgmhoward opened #11694 "Admin/Maintainer Logs: Two loading spinner"
- **Environment**:

Master branch at [7dfda8b](https://github.com/TEAMMATES/teammates/commit/7dfda8ba63070c0924eb397c98bae8008c00b30b).

Currently, the log page shows two spinner while loading (for the table view, histogram view is fine):

![image](https://user-images.githubusercontent.com/10681776/161210393-8f7c0e3c-8fc9-4c7b-a1b9-d686525dd59a.png)

It would be good that only 1 spinner is shown d

[2022-04-01 12:16] FergusMok commented on #11564
This may be somewhat related, but the better solution may be to just lint files that have diff. Currently, `npm run lint` lints all typescript/html files, which is unnecessarily long. This method will solve this issue and also improve the efficiency of linting.

[2022-04-01 19:26] damithc opened #11697 "Index error when checking response rate of a session"
Clicking the 'show' link of some sessions throw an error although some other sessions don't seem to be affected.

![image](https://user-images.githubusercontent.com/1673303/161328341-e3d76d04-ab8e-4b0d-ba1e-bb51dd9a17a9.png)

![image](https://user-images.githubusercontent.com/1673303/161328195-7bc9e89b-77f5-48c6-a032-1fe9cf04af3c.png)

One thing common to the affected sessions is that they have qu

[2022-04-02 04:22] wkurniawan07 commented on #11697
@moziliar looks like using projection query isn't really a good idea, after all

[2022-04-02 04:23] moziliar commented on #11697
Agree. Let me remove the projection real quick.

[2022-04-02 05:45] moziliar commented on #11694
I think quite a few pages across TEAMMATES will show more than one spinner, one for each component.

[2022-04-02 12:09] #11697 closed

[2022-04-02 14:48] wkurniawan07 opened #11702 "Update tzdb version to 2022a"
The latest version `2022a` was released a few weeks ago.

Guide to update: <https://github.com/TEAMMATES/teammates-ops/blob/master/maintainer-guide.md#timezone-database-update>

[2022-04-03 00:12] Kshitiz-Mhto commented on #11702
I am newbie to open source development, would you assign this issue to me? I need this sort of good first issue to boost my inertia in open source community.

[2022-04-03 03:44] madanalogy opened #11703 "Release V8.12.0"
Scheduled for Sunday, 3 Apr 2022, 10pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-04-03 04:32] #11693 closed

[2022-04-03 14:38] madanalogy commented on #11703
[V8.12.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.12.0) has been released by @madanalogy at April 3rd, 2022, 10.36pm SGT.

Code contributions from: @moziliar, @samuelfangjw, @wkurniawan07
Review contributions from: @NicolasCwy, @fsgmhoward, @madanalogy, @wkurniawan07, @zhaojj2209, @ziqing26

Ready for post-release check and deployment by PM (@damithc).

[2022-04-03 16:01] damithc commented on #11703
deployed and released. Thanks to everyone who contributed 💯

[2022-04-03 16:01] #11703 closed

[2022-04-03 16:24] samuelfangjw commented on #11702
Hi @Kshitiz-Mhto, feel free to submit a PR for this. There is no need to get the issue assigned to you as per our [development workflow](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues).

[2022-04-03 23:50] wkurniawan07 commented on #11618
All tasks are done and delivered. Epic is finished.

[2022-04-03 23:50] #11618 closed

[2022-04-04 00:48] wkurniawan07 opened #11706 "Allow overriding of values in `build.properties` in dev server"
Current: `build.properties` is a one-stop configuration file for both production and development instances.

Problem:
While this works, this presents a great inconvenience for developers who have to frequently deploy to production server, as they need to change some values back-and-forth depending on whether they are deploying or running local server. While it is true that the need for developers

[2022-04-04 05:43] wkurniawan07 opened #11707 "Release V8.13.0"
Scheduled for Wednesday, Apr 6, 2022, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-04-04 19:07] FergusMok opened #11710 "Instructor Help Page: Outdated search bar documentation"
![image](https://user-images.githubusercontent.com/10182564/161612784-9fe6b53a-8ebd-410a-a3aa-ab06db87abed.png)

Suggested changes: Remove the first instruction, as there is no option for 'Students' in the Instructor's search bar

[2022-04-06 06:48] #11591 closed

[2022-04-06 13:24] #11245 closed

[2022-04-07 03:00] deepdmistry commented on #11710
Can i do this ?

[2022-04-07 03:10] samuelfangjw commented on #11710
@deepdmistry Sure, please go ahead.

[2022-04-07 04:11] damithc commented on #11707
Deployed and released. Thanks to everyone who contributed 💯

[2022-04-07 13:07] deepdmistry commented on #11706
Can I work on this?

[2022-04-07 19:13] OIS202 commented on #11710
Is this still up for me to tackle?

[2022-04-07 21:25] deepdmistry commented on #11710
Hi @OIS202 I have a PR that fixes this and is approved so I believe it's not up for grabs. Somebody feel free to correct me if that's not the case.

[2022-04-08 07:27] FergusMok commented on #11710
Hi @OIS202, thank you for the interest, but the issue has been fixed, you can find another issue to work on

[2022-04-08 07:27] #11710 closed

[2022-04-08 14:44] NicolasCwy commented on #11706
@deepdmistry Yup you can!

[2022-04-09 04:07] #11150 closed

[2022-04-09 14:32] halfwhole commented on #11415
Highly suspect that it is related to or a duplicate of #11497 as they're hitting the same backend endpoint for getting feedback session logs

[2022-04-09 14:39] halfwhole commented on #11497
Am unable to reproduce this error on my staging server this week (the behaviour is frustratingly indeterministic), but the above sounds right to me. Will try a solution that performs the iterate all before calling `logging.close()` and see if that will address the issue

[2022-04-09 15:25] halfwhole opened #11715 "Selective Deadline Extension - Error in getting deadline extension entities possibly needing closing email"
Issue is observed in the latest `master` branch, on both production and staging. When performing the hourly action to send feedback session closing reminders, there is a `DatastoreException` being thrown. Seems like a simple fix by changing the index file. The error log looks something like this:

<img width="916" alt="Screenshot 2022-04-09 at 11 17 37 PM" src="https://user-images.githubuserconten

[2022-04-09 15:29] samuelfangjw commented on #11715
https://github.com/TEAMMATES/teammates/blob/9aab6bd7b17c246c343a435720bb7fe22c62a26f/src/main/appengine/index.yaml#L84-L89

That's weird, it's already present though.

[2022-04-09 15:50] halfwhole commented on #11715
Probably the order of the indexes matters in this case? My understanding is that for datastore, indexes for equality filters should generally be defined before those for inequality/range filters

[2022-04-09 18:00] wkurniawan07 commented on #11715
@halfwhole @samuelfangjw if this is breaking a production system's function (and it looks like it does), it should be released as hot-patch. The fix should aim towards the `release` branch directly and no other fixes already present in `master` should be included.

[2022-04-09 18:03] samuelfangjw commented on #11715
Made the changes!

[2022-04-10 15:00] samuelfangjw opened #11717 "Broken link in acknowledgements section"
In the acknowledgements section of the [about](https://teammatesv4.appspot.com/web/front/about) page as well as the [project README](https://github.com/TEAMMATES/teammates#acknowledgements), the link to [Centre for Development of Teaching and Learning (CDTL)](http://www.cdtl.nus.edu.sg/) has been broken for some time.

The correct site should be https://nus.edu.sg/cdtl.

[2022-04-10 15:53] #11497 closed

[2022-04-10 15:56] DineshKoushik commented on #11717
I went ahead to fix this issue without you assigning me. Because I felt that this issue is very minor. Anyway thanks for the opportunity. Looking forward to take up many tasks from your repositories!

[2022-04-10 16:29] #11715 closed

[2022-04-10 17:05] wkurniawan07 commented on #11707
@damithc a new patch release [V8.13.1](https://github.com/TEAMMATES/teammates/releases/tag/V8.13.1) is available. Also included there is a potential fix for #11497.

[2022-04-11 03:22] damithc commented on #11707
V8.13.1 deployed and released.

[2022-04-11 03:54] damithc opened #11719 "student submitting responses: inform that submitting individual responses is optional"
version: v8.13.1, production

In recent times, we have added a feature for respondents to submit one question at a time. We also have a button at the bottom of the page to submit the whole page, as before.

Some users seem to think that they _have_ to submit each question individually and then submit the whole page one more time at the end.

Suggestion: We can tweak the UI to inform the respondent

[2022-04-11 05:13] samuelfangjw commented on #11715
Patch seems to have resolved the issue :)

[2022-04-11 10:51] halfwhole opened #11721 "Selective deadline extension - NPE when submitting feedback responses"
Issue is observed on maintainer logs in production, since the release of the selective deadline extension backend.

We can occasionally see a null pointer exception from `SubmitFeedbackResponsesAction` line 60:

<img width="643" alt="Screenshot 2022-04-11 at 6 47 22 PM" src="https://user-images.githubusercontent.com/41856541/162724700-757d360e-0298-4dba-9559-d63e67dbad93.png">

https://github.com/

[2022-04-11 10:57] halfwhole opened #11722 "Selective deadline extension - NPE when updating feedback session"
Issue is observed on maintainer logs in production, since the release of the selective deadline extension backend.

Occasionally we see a null pointer exception at `FeedbackSessionUpdateRequest` line 19:

<img width="643" alt="Screenshot 2022-04-11 at 6 54 41 PM" src="https://user-images.githubusercontent.com/41856541/162725744-15ae4725-6e02-4f36-9af8-8f40382025f8.png">

https://github.com/TEAMMAT

[2022-04-11 11:00] samuelfangjw commented on #11721
Looking at the old logic, if `studentAttributes` is null `checkAccessControlForStudentFeedbackSubmission(studentAttributes, feedbackSession); ` will throw UnauthorizedAccessException.

I believe we can check if `studentAttributes` is null and throw the same exception if it is. What do you think?

[2022-04-11 11:27] halfwhole commented on #11721
Checking for null student attributes sounds good, I'm wondering if we want to throw an `EntityNotFoundException` instead? That would be in line with what's currently in place with e.g. the `CreateFeedbackResponseCommentAction`, which checks for it before going ahead with checking access control for students/instructors

[2022-04-11 11:29] samuelfangjw commented on #11721
Not too sure about this, but currently it throws this:

https://github.com/TEAMMATES/teammates/blob/bda123f4d725ef56500012baa25b0cdb0a849a33/src/main/java/teammates/ui/webapi/BasicFeedbackSubmissionAction.java#L61-L65

[2022-04-11 13:15] damithc commented on #11721
@samuelfangjw what's the impact of this? Is it affecting current users?

[2022-04-11 13:21] samuelfangjw commented on #11721
@damithc, I don't believe it's a critical bug. If I'm not wrong, the recent change in logic just means that Null Pointer Exception is thrown instead of `UnauthorizedAccessException("Trying to access system using a non-existent student entity")` when trying to submit feedback response for a non-existent student/instructor.

[2022-04-11 13:30] samuelfangjw commented on #11722
@jayasting98, any ideas why an NPE is thrown here? I can't seem to find a path where `studentDeadlines` is null at this point.

[2022-04-11 13:42] zhaojj2209 opened #11724 "Admin page header tabs do not fit header at certain screen sizes"
With the addition of the usage statistics and notification tabs to the header bar, the header tabs no longer fit the header for screen/browser widths ranging from 1151px to 992px, as shown below.

<img width="880" alt="Screenshot 2022-04-11 at 21 30 44" src="https://user-images.githubusercontent.com/54243224/162750896-81437bf0-df1a-4661-aa98-196cbc09bd05.png">

Possible solutions include reducing

[2022-04-11 13:56] jayasting98 commented on #11722
Yea, I was also looking, but not quite sure yet unfortunately.

This should prevent it right? I really don't see how the null pointer exception is happening unless somehow some users have older front-end code.
![image](https://user-images.githubusercontent.com/65202977/162755086-aca0d094-e65f-4537-bcd2-873696f333a5.png)

[2022-04-11 14:07] samuelfangjw commented on #11724
One thing to note is that the current choice of 992px is unlikely to be arbitrary (this is one of bootstrap's default breakpoints). Might want to consider choosing the next largest default breakpoint here if we do go down that route (if it's not too large).

[2022-04-11 14:20] wkurniawan07 commented on #11722
Looking at a few of those logs, all of them have this in common:
[code]
i.e. stale front-end cache, a problem that unfortunately has been plaguing us for far too long.

[2022-04-11 14:26] samuelfangjw commented on #11722
Thanks for checking! I couldn't find "webVersion" in the logs just now but I see it now. Ok to close this issue then? I don't think there's much we can do about stale cache.

[2022-04-11 15:21] wkurniawan07 opened #11725 "Update logs compilation function to use the same logging infrastructure as maintainer logs"
Current: we have a regular logs compilation job which alerts of ERROR- and higher level logs every 5 minutes.

Problem: it has stopped working, presumably because something has changed in the GAE internal request log format. Not unexpected because this function is essentially breaking a black box.

Solution:
Updating the function to follow the current GAE internal request format is not feasible be

[2022-04-11 16:33] wkurniawan07 opened #11727 "Release V8.14.0"
Scheduled for ~Saturday, Apr 16, 2022, 11.00pm SGT~ Sunday, Apr 17, 2022, 11.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-04-11 16:35] wkurniawan07 commented on #11497
@damithc any reoccurrences here?

[2022-04-11 17:04] #11721 closed

[2022-04-11 17:07] wkurniawan07 opened #11728 "Apply stricter checks for session timestamps"
**Problem Statement**

Currently, the check for session opening/closing/visible times are far too lenient:
- It allows setting the timestamps into a very distant past or a very distant future (big legacy mistake done in past sample courses!).
- It allows unrestricted session length, which hardly have any real world use.
- It allows setting of timestamps which are not at the exact hour mark.

This

[2022-04-11 17:08] halfwhole commented on #11722
Yep agree can probably close this then (#11364 for reference)

[2022-04-11 17:08] #11722 closed

[2022-04-11 17:46] damithc commented on #11497
No reports from users, but then, I haven't told any users about this feature since we ran into this error.

I tried the feature just now. No error  5/5 times I tried. That's good news. Other info:
A search for 7 days took about 1.5-2 minutes.
A search for 30 days took about 3-4 minutes.

[2022-04-12 04:13] wkurniawan07 commented on #11415
Duplicate of #11497

[2022-04-12 04:13] #11415 closed

[2022-04-12 06:28] rom-me commented on #11724
Can I attempt this?

[2022-04-12 06:35] zhaojj2209 commented on #11724
@rom-me Sure, feel free to submit a PR for this!

[2022-04-12 12:51] damithc commented on #11669
More cases of this reported by users ...

[2022-04-12 15:41] NicolasCwy commented on #11641
Would like to pick this up!

[2022-04-12 17:56] Kaushik-Iyer commented on #11717
Is this issue fixed?

[2022-04-12 23:53] #11683 closed

[2022-04-13 00:29] deepdmistry commented on #11706
FYI, I cant do this anytime soon so anyone feel free to pick up. Thanks

[2022-04-13 15:18] wkurniawan07 opened #11729 "Drop IE support and upgrade to Angular 13"
Prelude: IE is reaching end-of-life on 15 June 2022, and we do not have any strong reason to support it beyond the said date.

This allows us to upgrade to Angular 13; in fact, IE is the sole reason why the recent upgrade stopped at 12, even when 13 is already stable.

- Drop IE support entirely
- Better support for Node.js 16
- Transitive dependency updates such as RxJS 7, TypeScript 4.6, webpack

[2022-04-14 03:10] ypinhsuan commented on #11717
Hi @Kaushik-Iyer, thanks for your interest, but there is a PR that fixes this issue. You can look for other issues to work on :)

[2022-04-14 04:54] kaixin-hc opened #11732 "Broken PUML diagrams in developer guide"
Raised in https://github.com/TEAMMATES/teammates/pull/11680#issuecomment-1098418311
- **Environment**:

**Steps to reproduce**
Current developer guide is displaying this behaviour.

However, I can't seem to reproduce this on my own branch. The issue seemed to be there but once I built and deployed it showed no error: See https://kaixin-hc.github.io/teammates/design.html which was built from the ma

[2022-04-14 04:58] damithc commented on #11732
@kaixin-hc the difference could be due to manual deployment vs auto-deployment using GitHub actions.

[2022-04-14 06:58] wkurniawan07 commented on #11732
@kaixin-hc What exactly did you do to "reproduce" here? Like Prof said, running and deploying the branch locally (thus having graphviz installed) and letting the branch run as part of CI are not the same reproduction steps.

[2022-04-14 08:29] samuelfangjw commented on #11732
If I may add on to this convo, I visited `https://kaixin-hc.github.io/teammates/design.html` last night after the issue was brought up. The same issue was present there as well. The deployment workflow ran on your branch [yesterday](https://github.com/kaixin-hc/teammates/runs/6010915615?check_suite_focus=true), so there's a good chance the site I saw was deployed via gh-actions.

[2022-04-14 09:12] damithc commented on #11728
We might have to adjust the workflow of copying sessions to accommodate these constraints. Currently, the a copy of the session is saved with the original details first and then the dates are to be adjusted manually using a regular session-edit operation. This will conflict with the proposed constraints as the original session start/end dates can very well be in the past. Perhaps we can adjust the

[2022-04-14 10:47] tlylt opened #11736 "Update links to point to the deployed site for developer guide"
With the recent update and deployment of the developer guide, there are a few cases where references to the dg are still referring to the markdown files instead of the deployed website. For example:
- the readme does not refer to the deployed dev docs (documentation URL, and orientation) . e.g. [here](https://github.com/TEAMMATES/teammates-ops#readme)
  - ![image](https://user-images.githubusercon

[2022-04-14 12:21] #11732 closed

[2022-04-14 12:50] damithc opened #11737 "Instructors reminding non-submitters: instructors are considered non-submitters even if there are no questions for instructors"
**Environment**: v8.13.1 (production)

**Steps to reproduce**
1. Instructor clicks the `Remind` ->  `all non-submitters` of a session from the home page

**Problem**: Instructors of the course are listed as non-submitters even when the session doesn't have any questions for instructors.

[2022-04-14 13:13] kaixin-hc commented on #11732
Yes, the issue was in the CI which I did not check at the time of creating this issue to push the png fix. At the time of this issue creation thought it would be best to fix the problem before continuing further investigation which I did on the MarkBind issue. Thanks to tlylt who helped to solve the underlying cause!

[2022-04-15 02:48] SavidBasnyat commented on #11736
Could I work on this?

[2022-04-15 06:50] damithc commented on #11736
This needs to be fixed soon, as our main Dev Docs link is broken.

[2022-04-15 07:22] kaixin-hc commented on #11736
Since this was a leftover from my PR, I've PRed a fix - thanks @SavidBasnyat for offering.

[2022-04-15 15:03] wkurniawan07 opened #11744 "Logs filter version should be used for web version instead of backend version"
https://github.com/TEAMMATES/teammates/blob/82ef344da3bb731a4da94000d313ab480ee33a27/src/main/java/teammates/logic/external/GoogleCloudLoggingService.java#L320-L322

Currently, the version filter in maintainer logs is used to filter based on the backend server version. However, this is not very useful as the backend is always running on a single version.

Instead, the filter should be targeting th

[2022-04-15 23:19] #8000 closed

[2022-04-16 05:22] #11015 closed

[2022-04-16 07:29] #11717 closed

[2022-04-17 08:48] #11736 closed

[2022-04-17 09:19] #11571 closed

[2022-04-17 09:52] #11725 closed

[2022-04-17 09:52] #11744 closed

[2022-04-17 13:26] #11572 closed

[2022-04-17 14:42] #11236 closed

[2022-04-17 14:42] #11556 closed

[2022-04-17 16:03] wkurniawan07 commented on #11727
[V8.14.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.14.0) has been released by @wkurniawan07 at April 17th, 2022, 11.59pm SGT.

Code contributions from: @DineshKoushik, @FergusMok, @NicolasCwy, @fsgmhoward, @jayasting98, @kaixin-hc, @jovyntls, @moziliar, @ong6, @samuelfangjw, @tlylt, @wkurniawan07, @zhaojj2209, @ziqing26
Review contributions from: @damithc, @FergusMok, @NicolasCwy, @f

[2022-04-19 14:38] damithc commented on #11727
Deployed and released. Thanks to everyone who contributed 💯

[2022-04-19 14:38] #11727 closed

[2022-04-19 15:34] FergusMok commented on #11551
Seems like after the fix, I'm still able to replicate the problem on V8.14.0

https://user-images.githubusercontent.com/10182564/164041169-6f7b6905-747d-40f0-915c-a5a4ad132b4d.mp4

[2022-04-19 15:41] fsgmhoward commented on #11551
@FergusMok That is weird. I will look into it later.

[2022-04-19 17:45] hoanglan21 commented on #11737
I want to have a try at this issue

[2022-04-20 01:25] wkurniawan07 opened #11751 "Deadline extensions in FeedbackSession entity have unnecessary constraint"
- **Environment**: live server at V8.14.0

**Steps to reproduce**

1. Create a session
1. Create a large number of deadline extensions for the session

**Expected behaviour**

Deadline extensions saved successfully.

**Actual behaviour**

[code]
The same can be expected for `instructorDeadlines`.

[2022-04-20 01:41] #11494 closed

[2022-04-20 12:53] wkurniawan07 commented on #11751
@damithc [V8.14.1](https://github.com/TEAMMATES/teammates/releases/tag/V8.14.1) which resolves this issue has been released.

[2022-04-20 14:20] damithc commented on #11751
Deployed and released. Thanks for the quick fix @samuelfangjw

[2022-04-20 14:40] #11751 closed

[2022-04-20 16:23] damithc opened #11753 "submitting responses: differentiate button/dialog for individual question submission from all-questions submission"
We recently added as a button for respondents to submit one question at time.
![image](https://user-images.githubusercontent.com/1673303/164275736-3456f329-9a07-45c4-bb0a-0080f60cf0db.png)

There was one recent case where a the session had three questions but the last question was optional. Some students filled the first two questions and clicked the submit button at the bottom of the 2nd question

[2022-04-21 11:00] damithc opened #11754 "Instructor creating course: 'Institute' drop-down is empty if there are no active courses"
v8.14.1, production

A user encountered a problem when creating a course.

![image](https://user-images.githubusercontent.com/1673303/164443898-da09815b-43c6-4be8-b6c2-2f5bf85315bc.png)

It looked like a caching issue (the institute field is missing from the form), but during the troubleshooting, I realized that the 'Institute' dropdown will be empty if the user has no active courses (he had archi

[2022-04-21 14:45] hoanglan21 commented on #11753
Maybe we can make a modal popup when the student clicks the submit button?

[2022-04-21 17:44] damithc opened #11755 "'Session closing soon' email: highlight 'No action is required if you have already submitted'"
v8.14.1, production

Suggestions: When sending the 'Session closing soon' emails for a session
* Tweak `The following feedback session is still open for submissions.` -> `Just a gentle reminder that the following feedback session is still open for submissions, in case you have not submitted yet or wish to update your submission.`
* Highlight the phrase (i.e., `<mark>...</mark>`)  'No action is req

[2022-04-21 19:32] SavidBasnyat commented on #11511
Hello, I was trying to work on this issue but needed some clarifications. I am not sure what you mean by the "emails containing submission links sent to students". Is it the email students receive when instructor reminds them to submit a feedback or even the automated reminder?  Below is the screenshot of the email I receive and I am guessing this is where you want to mention the proof of submissi

[2022-04-22 02:13] wkurniawan07 opened #11756 "Session closing email contains no information about extended deadline"
- **Environment**: V8.14.1

**Steps to reproduce**

1. Create a session
1. Grant deadline extensions to some students/instructors
1. Wait for these students/instructors to obtain their "session is closing soon" email

**Expected behaviour**

The "session is closing soon" email contains information about the extended deadline.

**Actual behaviour**

The "session is closing soon" email contains info

[2022-04-23 15:00] damithc opened #11759 "Instructor editing questions: tweak the confirmation dialog for cancelling an edit"
v8.14.1, production

Steps:
1. Login as instructor
2. Go to the 'edit' page of a session
3. Add a new question (without saving), change settings of the question
4. Click the 'Cancel' button to cancel the operation.

Problem: The text in the confirmation dialog (shown below) are not aligned with the operation, which happens to be a 'cancel' operation itself.
![image](https://user-images.githubuserc

[2022-04-23 17:04] FergusMok opened #11760 "Instructor editing sessions and deadline extensions: Synchronize data between tabs"
Steps to reproduce:
1. Open a tab as an instructor, and navigate to edit extension page.
2. Open up another tab, and navigate to edit sessions page.
3. At the edit extension page, add / delete some extensions.
4. At the edit sessions page, save the changes.

Saving the changes at the edit sessions page at step 4 will delete the extension changes that were made in step 3.
This is because the sessio

[2022-04-24 02:18] yhtMinceraft1010X opened #11761 "Deprecation - Upgrade to Codecov Uploader"
- **Environment**:
`master` branch at latest commit.

**Description of feature/enhancement**
The Codecov Bash Uploader as shown below has been [deprecated](https://about.codecov.io/blog/introducing-codecovs-new-uploader/):
https://github.com/TEAMMATES/teammates/blob/115addc70a976d2d0ef6e908c80ca493783f656f/.github/workflows/component.yml#L78-L80
It has since been replaced by a new uploader as seen

[2022-04-24 03:08] #11551 closed

[2022-04-24 03:14] wkurniawan07 commented on #11761
@yhtMinceraft1010X please be welcome to work on this

[2022-04-24 05:44] yhtMinceraft1010X opened #11762 "Deprecation - Upgrade Node"
- **Environment**:
`master` branch latest

**Description of feature/enhancement**
Although it has been mentioned as a side note under #11729, I feel that given the impending EOL of Node 12, the upgrade of Node (and raising of minimum Node version requirement) should be a separate issue. With regards to Node versions being used by other NUS-OSS projects, the details are as follows:
* RepoSense - [A

[2022-04-24 05:57] wkurniawan07 commented on #11762
Node versions used in other projects, NUS-OSS or not, cannot and should not affect the Node version used here. That is an unhealthy and unnecessary coupling.

I am sorry to say this, but this is a very short-sighted reasoning. What if, for example, the person wants to work on projects outside NUS-OSS that are still tied down to Node 12 (or tied up to Node 16) for whatever reason?

[2022-04-24 12:45] wkurniawan07 opened #11763 "Request log statistics page for maintainers"
- **Environment**: live server at V8.14.1; feature is never present in the system nevertheless

**Description of feature/enhancement**

Similar to #11618 in spirit, but this time the statistics will be concentrated around request logs.

- Collect regular statistics of information obtained from request logs, such as:
  - User agents (to check the frequency of browser usage)
  - Web UI versions (to

[2022-04-24 15:02] #11756 closed

[2022-04-25 11:20] damithc commented on #11669
Increasing the priority, as this issue is generating many support requests ...

[2022-04-25 16:20] damithc opened #11764 "Give an easy way to extend deadline for non-submitters"
Current: When an instructor views results of a session, TEAMMATES shows a list of non-submitters at the bottom of that page.
![image](https://user-images.githubusercontent.com/1673303/165130488-9d4dee47-5109-4834-b896-d5dcd2fc7a22.png)

Suggestion: provide an easy way to extend deadlines for the non-submitters.

One possible approach is to provide a button similar to the `Remind All` button shown

[2022-04-27 05:52] damithc opened #11765 "Student homepage: show courses even if there are no sessions in them"
v8.14.1, production, problem reported by a user

Context: When a student logs in using the Google account, the homepage shows all the courses the student has joined already.

Current: Courses that don't have any sessions are not shown in this homepage

Suggested: Show even those courses (reason: students can join a course even if there are no sessions in it).

[2022-04-27 06:17] wkurniawan07 commented on #11765
This is incorrect.

[2022-04-27 06:17] samuelfangjw commented on #11765
I tried replicating this locally, but it seems to work for me.

<img width="1255" alt="Screen Shot 2022-04-27 at 2 09 49 PM" src="https://user-images.githubusercontent.com/60355570/165452630-ca19a860-29d9-4819-b52f-e5833d469bf1.png">

This is after the student has joined the course using the course join link.

Could this be a case where the user is enrolled in a course but has not joined yet?

[2022-04-27 06:50] damithc commented on #11765
I was surprised by this too, as I don't remember such a behavior in the past. I thought perhaps it's a recent regression.

When I searched for the student, he seems to have joined three courses but only two courses show up in his home page.
![image](https://user-images.githubusercontent.com/1673303/165456761-96afcbb1-d3ba-4f88-925f-e5001e7d17ea.png)

Upon further checking, the problem is that one

[2022-04-27 06:51] #11765 closed

[2022-04-27 07:01] damithc opened #11766 "Admin search page: differentiate binned courses"
Context: Admin uses the search page to find a user. The results page shows matching users, divided into courses:

![image](https://user-images.githubusercontent.com/1673303/165459541-9877f900-8afa-447f-9842-83fa277950b0.png)

Suggestion: Visually distinguish courses that are in the recycle bin e.g., use ~~strike out~~ style for the course name

Reason: The admin needs to know if the course is 'bin

[2022-04-27 08:50] damithc opened #11767 "Prevent users joining binned courses"
v8.14.1, production

Current: users can join a course that has been binned (i.e., in the recycle bin, but not permanently deleted) ~~-- this is speculation based on  a support request, to be verified by the dev team~~

Suggestion: instead of letting the user join, perhaps we should inform the user that the course has been deleted? Otherwise they'll send support requests because they can't see the

[2022-04-27 22:15] egorovak opened #11768 "Errors after git pull upstream master"
Issue title: Help Request: Getting java related errors after pulling and setting up the project again

- **Commit SHA:** git pull upstream master
- **Operating System:** Windows 10
- **JDK Version:** 11.0.11 (global and evoroment var)
- **Node.js Version:** v16.15.0
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I tried to update my local by pu

[2022-04-28 10:39] samuelfangjw commented on #11767
Tested locally, I can confirm that users can join a course that has been binned.

[2022-04-29 05:20] damithc opened #11770 "viewing logs: instructor might think 'view' is same as 'submission'"
v8.14.1, production

Context: We have an unreleased feature accessed through `/instructor/logs`, for instructors to view submission activities of students. Here is an example:
![image](https://user-images.githubusercontent.com/1673303/165888427-bf751b4e-1668-4166-bc4b-771b15f27367.png)

There might a slight usability issue here. An instructor not yet familiar with the feature seeing only 'view' ac

[2022-04-29 05:27] damithc opened #11771 "Admin creating new accounts: provide a way to inform user if the account exists already"
v8.14.1, production

Context: When admin attempts to create a new account but an account exists for that email already, something like the following is shown:
![image](https://user-images.githubusercontent.com/1673303/165889202-7894a1a0-e199-409e-b81a-6a015afb40d5.png)

Current: Admin needs to contact user and remind him/her of the Google account to use to access the existing account.

Suggestion:

[2022-04-29 11:04] wkurniawan07 commented on #11768
Although you're free to use VS (or any IDE of your liking), you really don't have to.
This is not a TM-specific problem. Have you tried looking at solutions e.g. in StackOverflow?

[2022-04-29 11:08] wkurniawan07 commented on #11771
@damithc it's not that simple (otherwise it would have been done). There's a whole thread about it [here](https://github.com/TEAMMATES/teammates/pull/11657#issuecomment-1076463336).

[2022-04-29 11:20] #11761 closed

[2022-04-29 13:00] damithc commented on #11771
For cases I encountered so far, [option 3](https://github.com/TEAMMATES/teammates/pull/11657#issuecomment-1076463336) was used. From my perspective, that is the default action to take first (and wait to see if the user replies back to ask for option 2).
Therefore, I'm hoping a button can be provided to automate option 3. The email can contain the Google account the user should use to access the ex

[2022-04-29 17:51] hoanglan21 commented on #11737
I don't think showing the instructor's name is necessary because the instructor is the one who is sending the reminder emails here, unless can you think of a case where the instructor specially wants to send this survey to another instructor?

[2022-04-29 18:34] damithc commented on #11737
@hoanglan21 Yes, there can be multiple instructors in a course (e.g., tutors) and an instructor might want to send reminders to other instructors of the course.

[2022-05-03 06:38] damithc opened #11772 "team contribution questions: force submissions to be zero-sum"
Current: A 'team contribution' questions allow respondents to use any scale. e.g., a respondent can give E, E, E or E, E, E+50%

Problem: While this flexibility is expected to increase the sincerity of submissions (the hypothesis is that a respondent will be more willing to say "I did an equal share, but others did more" than to say "I did less than an equal share") it can cause confusion when stu

[2022-05-06 03:45] madanalogy opened #11773 "Release V8.15.0"
Scheduled for Today, 12pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-05-06 04:09] madanalogy commented on #11773
[V8.15.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.15.0) has been released by @madanalogy at May 6th, 2022, 12.07pm SGT.

Code contributions from: @fsgmhoward, @hoanglan21, @jayasting98, @samuelfangjw, @yhtMinceraft1010X
Review contributions from: @AdithyaNarayan, @FergusMok, @fsgmhoward, @samuelfangjw, @t-cheepeng, @wkurniawan07, @ypinhsuan

Ready for post-release check and deployme

[2022-05-08 18:01] damithc opened #11774 "Error when copying feedback question: session name is not acceptable"
v8.14.1

I'm seeing the following error in the production server logs from time to time (3 times during the last week).

No one has complained about it yet though.

My thoughts:
* If the user didn't type anything for the session name, the submission can be blocked at the UI itself
* If there are leading/trailing spaces, they can be auto-trimmed

[2022-05-09 03:15] cmess77 commented on #11759
I believe I have a fix for this. Mind if I take a look?

[2022-05-09 03:49] DelphiHide commented on #11759
@cmess77 I was just about to open a PR for this

[2022-05-09 03:50] cmess77 commented on #11759
@DelphiHide not a problem, all yours! 👍

[2022-05-09 04:48] masoudtabatabaei commented on #11724
I think this problem was solved, Is not that so?

[2022-05-09 11:54] wkurniawan07 opened #11776 "Refactor front-end tests to make TZ=UTC env unnecessary"
https://github.com/TEAMMATES/teammates/blob/d049b2e1cdb1f95468625ebd4bfae588da5040ad/package.json#L7

This command, while works, is not Windows-friendly.

We have the option of either crafting a command that caters all OS or modifying tests such that the flag `TZ=UTC` is not needed, and the latter is far easier.

[2022-05-09 15:29] damithc opened #11778 "Answering rubric questions: only one row can be clicked"
v8.14.1

Two users (I remember at least one more case reported sometime back) have reported that when answering a rubric question, an option from only one row can be clicked. Upon clicking another row, the previously clicked row is reset.

Example:

Example:

Each time that I select a response on a line it deletes the response that it precedes it.

The second user managed to submit eventually.

Co

[2022-05-09 18:48] hoanglan21 commented on #11737
So i have looked at how you get the list of non-submitters: you get a list of all instructors & students in the class (1) and then a list of people who have had at least 1 answer (2), whoever is in list (1) but not in list (2) will get sent a reminder email. This makes it hard to change the code because I will have to make a query of all the questions and their respective responders to see if any

[2022-05-09 20:32] hoanglan21 commented on #11770
Maybe you can rename it to "In progress"? Showing that the student has not submitted the survey at all

[2022-05-10 01:10] wkurniawan07 commented on #11778
The second problem is known. It's stale front-end cache.

[2022-05-10 01:11] #11759 closed

[2022-05-10 01:52] #11776 closed

[2022-05-10 02:16] damithc commented on #11770
Possibly. Another idea is to show an additional message only if the results contain 'view' actions only.

[2022-05-10 02:39] wkurniawan07 commented on #11768
Closing as this is not TM-specific issue

[2022-05-10 02:39] #11768 closed

[2022-05-10 02:48] wkurniawan07 commented on #11499
Not a necessity

[2022-05-10 02:48] #11499 closed

[2022-05-10 04:29] damithc commented on #11737
Thanks for looking into this @hoanglan21 If it is hard/costly to achieve, we can leave it be. After all, the instructor using this feature would know if the session contains questions for instructors and reminders need to be sent to instructors as well.

I'll leave this issue open so that a senior dev can confirm the technical difficulty you have mentioned, after which we can close this issue.

[2022-05-11 01:45] hoanglan21 opened #11779 "Hide the "Individual Deadline Extension" link when creating a new session"
- Production environment
- Right now when the instructor clicks the button to add a new session, they can still click on the link to make individual deadline extension before actually clicking "create feedback session". However, because the session is not created yet, when they click on the link, they will get an error message.
<img width="1238" alt="Screen Shot 2022-05-10 at 12 54 14 AM" src="htt

[2022-05-11 05:20] damithc commented on #11779
Thanks for bringing this up @hoanglan21
To make UI easier to learn (i.e., to reduce 'surprises'), instead of hiding, I suggest one of these options:
a) disable the link
b) show an explanatory message if the instructor clicks the link before the session has been saved

[2022-05-12 11:42] t-r-q opened #11783 "try with test"
test the project by Pitest
- **Commit SHA:** gradle pitest
- **Operating System:** Windows
- **JDK Version:** 18
- **Node.js Version:**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I want to test the project with Pitest tool to generate mutation testing
how can I add test it.<!-. -->

[2022-05-13 04:58] damithc commented on #11773
Deployed and released. Thanks to everyone who contributed 💯

[2022-05-13 04:58] #11773 closed

[2022-05-14 01:36] hoanglan21 commented on #11779
I think disabling the link doesn't make much sense (it will just be a text instead of a link and the users would not understand why the text is there either) so I will change to the error message to "You must create a new session before setting individual's deadline).

[2022-05-14 03:12] damithc commented on #11779
Good point @hoanglan21 .
Suggested message: `You must save the new session before setting individual deadline extensions`.

[2022-05-14 07:00] samuelfangjw commented on #11779
The link should still be disabled in this case.

Consider the case where a user clicks the link and is brought to the individual extensions page with the error message. When the user clicks the back button to go back to the session edit page, any changes to the session are lost. The user will have to fill in all the information again. This is not really ideal from a user experience perspective.

A

[2022-05-14 07:29] damithc commented on #11779
@samuelfangjw you are right about the problem caused by the error message, IF the error message is shown in a subsequent page. My assumption was it will be a pop-up message (while staying in the same page).

[2022-05-14 14:21] damithc opened #11784 "instructor viewing the 'Students' page: sort chronologically by default"
v8.15.0

Steps: login as an instructor and go to the 'Students' page

Current: courses are sorted alphabetically

Suggestions
1. Sort chronologically by default, latest course on top
2. Optioanlly, provide a way to sort in other ways e.g., similar to how it is done in the Instructor home page
   ![image](https://user-images.githubusercontent.com/1673303/168429692-61b3c869-520a-4760-a077-4ce0636a95

[2022-05-15 04:16] zhaojj2209 commented on #11724
The issue can still be replicated on my end. To clarify, this only affects admin pages and can therefore only be replicated when logged into accounts with admin privileges; the headers for other pages (student, instructor, maintainer) are unaffected.

[2022-05-15 07:30] damithc opened #11791 "Instructors adding MCQ questions: give option to show as a drop-down"
Suggestion: When an instructor is adding an MCQ question to a session, give an option to show the question as a drop-down (rather than radio buttons).

Reason: dropdowns are more suitable when there are many options to choose from (it saves UI space)

Perhaps show the option in this empty space? Or below the 'Other' option?

![image](https://user-images.githubusercontent.com/1673303/168462084-663c

[2022-05-15 08:38] damithc opened #11793 "Instructor viewing anonymous responses: don't show responses unless there are many responses"
Context: an instructor is viewing responses of a question for which s/he is not supposed to the respondent's identity
Problem: If there is only one response, the instructor can deduce the identity of the response giver by checking who has submitted responses

Solution: while not fool-proof, a mitigation measure is to not show responses to the instructor for such questions if the response count is

[2022-05-15 12:55] wkurniawan07 commented on #11793
This is near-duplicate of #2719. While that issue is for student, most (not all) of the reasons also apply here.

We never have such measure.

[2022-05-15 13:14] damithc commented on #11793
So, similarly not worth doing? One significant difference is instructors can view responses any time. On the one hand, the problem occurs for a small time window only (i.e., while there is only one response) but on the other hand an instructor can easily predict that time Window (i.e., soon after the session opens).

Perhaps my memory playing tricks :-p

[2022-05-15 15:14] kantiprasanna commented on #11784
I think it would be better to sort on the order of latest course on the top, so that people can check the latest course and enroll in them.

[2022-05-15 17:10] hoanglan21 commented on #11779
Okay i will fix it like @samuelfangjw's idea

[2022-05-16 01:48] hoanglan21 commented on #11774
I'm not sure which one you are talking about because when you want to copy a question from another session, you don't have to type in the session
<img width="873" alt="Screen Shot 2022-05-15 at 9 43 55 PM" src="https://user-images.githubusercontent.com/46897782/168506292-f5273c9e-2282-43d6-ba22-1266d51a9878.png">
if you are copying a feedback session, if the session's name is empty then you would

[2022-05-16 03:43] damithc commented on #11774
@hoanglan21 The given error message was found in logs (not reported by a user). One approach is to locate the code that produces this error message and work your way backwards to find which user action can potentially cause this error to be logged.

[2022-05-16 07:07] #11702 closed

[2022-05-16 18:33] fans2619 opened #11794 "Help pages need some updates"
Creating this issue to update the instructor help page, since the changes are not targeting issues #2874 and #8769 (those are about adding questions to the instructor help page). There would be a separate PR for those issues. More details of the updates are posted in the Slack channel.

[2022-05-17 01:28] samuelfangjw commented on #11794
Hi @fans2619, could you kindly update this issue with more details? It's not really clear to me what issue this is addressing and how this PR differs from the others mentioned.

[2022-05-17 02:29] fans2619 commented on #11794
Hi! The two issues mentioned were about adding questions, and this issue would be about some general update. ☺️https://docs.google.com/document/d/1faKfPs6hshJtDMqpLrW66IeC-KRItZ-ZYL73ic21A0Q/edit?usp=sharing

[2022-05-17 02:48] damithc commented on #11794
@fans2619 share the GoogleDoc link via slack instead, or post the relevant content here.

[2022-05-17 03:03] damithc opened #11796 "Responding to team contribution questions: the percentage is not visible unless clicked"
v8.15, production, Windows 10, Chrome 101

Context: a user responding to a 'Team Contribution' type question

Current:
![image](https://user-images.githubusercontent.com/1673303/168719480-6aa0493c-611e-427f-a9e5-dfa291050c7f.png)

Problem: The percentage value is not visible to the user unless the dropdown is clicked. It's hard to see at a glance what values each were given.

![image](https://user

[2022-05-17 07:09] xyliew25 commented on #8529
Hi all. As a first-timer and also assigned by @wkurniawan07, I would like to take up this issue.

Currently, I have two proposed solutions as follows:
1. Modify `FeedbackSessionRespondentRemindRequest` to include an additional boolean property, e.g. `sendMeACopy`, and do a check on this value during assignment of `instructorToNotify` in `FeedbackSessionRemindParticularUsersEmailWorkerAction`.
2. I

[2022-05-17 07:29] wkurniawan07 commented on #8529
2 is not going to work. The email sent to notified instructor is not the same as the email sent to original recipients.

[2022-05-17 07:33] samuelfangjw commented on #8529
I would go with solution 1. `sendMeACopy` is not the best name for this boolean field though, something along the lines of `sendCopyToInstructor` might be better?

[2022-05-17 13:26] NehaSantani commented on #11724
Hi, I would like to solve this issue!
Is this issue still open?

[2022-05-18 05:30] NehaSantani commented on #11724
I just Fixed this issue!
Could you please verify!
Thanks

[2022-05-18 08:57] damithc opened #11802 "Instructor editing question visibility: give more details in the tool tip about 'other students'"
Context: An instructor editing the custom visibility of a question:

Current:
![image](https://user-images.githubusercontent.com/1673303/168999047-ff2eb491-ee43-4f09-a890-b43b5bf2883d.png)

Problem: The user might not be clear what 'other students' means (i.e., does it include those covered in the three rows above it too?)

Suggested: perhaps revise the tooltip as `other students` -> `other studen

[2022-05-18 09:16] damithc commented on #11802
Probably not needed, as real use cases are unlikely to cause this doubt in the user's mind.

[2022-05-18 09:16] #11802 closed

[2022-05-18 16:19] damithc commented on #11766
Good point. In theory, using colors only to convey information is also not considered a good practice (reason: it doesn't work if the user is color blind).
Perhaps use grey color and add a trashcan icon in front/behind? You can try a different combinations and compare. Not very critical as I'm the only user of admin feature.

[2022-05-18 17:58] samuelfangjw commented on #11794
@fans2619 This seems like the place to bring up a minor cosmetic issue that's been bugging me for some time. You'll notice as you make changes to the instructor help pages that the symbol used for apostrophe is not standardized, with some using apostrophe `'`(U+0027) and some using left/right single quotation mark `‘/’`(U+2018/U+2019). While the difference is hard to spot, it's hard to "un-see" on

[2022-05-18 18:02] fans2619 commented on #11794
Sure. Thanks for letting me know this! 😃

[2022-05-18 18:10] fans2619 commented on #11794
@samuelfangjw On a side note, I'm actually planning to update the help pages via several small PRs as prof said it's hard to review big PRs for this kind of changes. So I think it will be good to get review for and merge these PRs more quickly, because I guess it's likely to cause quite some conflicts if I continue working without the previous changes being merged. I'm also okay for any alternativ

[2022-05-19 00:56] wkurniawan07 commented on #11778
Also, if "the [second] user managed to submit eventually", high chance that the first problem is also stale front-end cache.

[2022-05-19 04:24] fans2619 commented on #10645
@wkurniawan07
@damithc As suggested by the previous PR, I have a rough idea of how to bring you to the course page as an instructor of that course. This is doable because it seems the current system restricts there to be at least one instructor for any course. However, the system doesn't seem to have the restriction that there is at least one instructor having the permission to view student detail

[2022-05-19 04:27] samuelfangjw commented on #10645
I don't think this is true as #9534 exists.

[2022-05-19 04:31] fans2619 commented on #10645
Yeah probably that's a even worse case.

[2022-05-19 04:50] wkurniawan07 commented on #10645
This is one of the reasons why I take out the "good first issue" label.

Courses with no instructor is possible in theory, but in practice not a cause of concern because only admin can leave a course in such state.

[2022-05-19 06:39] xyliew25 commented on #11669
Hi @damithc and all, as assigned by @wkurniawan07, I would like to take up this issue.

I have a few questions regarding the expectations.
1. Suppose that there is no redirection to the login page now, after dismissing/closing the error message, what should be shown or any specific redirection? Now after dismissing/closing the error message, the session submission page looks like this: <img width=

[2022-05-19 06:54] damithc commented on #11669
@xyliew25 perhaps a straight-forward solution is to go directly to an error page, rather than show a dialog box? It's straight-forward in the sense it works for all cases; not sure if the implementation will be straight forward though.

[2022-05-19 06:57] wkurniawan07 commented on #11669
@damithc there is no "an error page" other than 404. The concept of an error page has been removed since V7.

@xyliew25 most straightforward way is to redirect (to main front page if user is unregistered, to home page otherwise) after the modal is closed. That answers both your questions.

[2022-05-19 10:04] xyliew25 commented on #11669
@wkurniawan07 I've got it for the case of an unregistered student.

However, for the case of a registered student, at the moment, regardless of whether the feedback session is open or yet to be opened, when the student clicks on the submission link, s/he will first be redirected to the login page before being able to submit his/her feedback or see the 'This feedback session is not yet visible' err

[2022-05-19 10:45] wkurniawan07 commented on #11669
If we classify the unhappy paths as follows:
- Session-wide unhappy paths, e.g. session not found, not visible, not yet open
- User-specific unhappy paths, e.g. invalid key, wrong registered user

No matter whether the student/instructor is registered or not, if a session-wide unhappy path is hit, there should be no attempt to ask user to log in. Redirect can simply follow whether there is a logge

[2022-05-19 13:56] xyliew25 commented on #11669
@wkurniawan07 sorry but I got confused with the last line, i.e. redirect to which page? Do you mean:
* Session-wide unhappy paths:
  * Unregistered student/instructor: main front page after closing the modal
  * Registered student/instructor:
    * Logged in: student/instructor home page after closing the modal
    * Not logged in: main front page after closing the model
* Happy paths:
  * Unregis

[2022-05-20 01:53] wkurniawan07 commented on #11669
It is not necessary to differentiate registered/unregistered user:
- Session-wide unhappy paths:
  - Logged in: student/instructor home page after closing the modal
  - Not logged in: main front page after closing the modal

[2022-05-20 05:44] #8529 closed

[2022-05-21 00:09] parthnatu commented on #11791
Two questions:
- Is this the appropriate UI change? :
![image](https://user-images.githubusercontent.com/32033882/169626269-f1816699-da54-4774-81ac-a6ca975cdade.png)

- Is the functionality behind this checkbox to be implemented as well? (i.e. is there a way to have the question show up as a dropdown already in the codebase?)

[2022-05-21 04:03] fans2619 commented on #10645
I'm going to take this issue.

[2022-05-21 04:08] fans2619 commented on #10645
![image](https://user-images.githubusercontent.com/68739475/169634749-4dd35536-06d5-4a25-ab5b-bcd0e56fb500.png)

@damithc By saying "link to the course instructor", is there a specific instructor you want to link to, since a course may have more than one instructors? Or do you have other preferred ways instead of a direct link?

[2022-05-21 04:11] damithc commented on #11791
Yes, I think it is acceptable

Yes.

How would that work from the user's point of view (i.e., when responding to such a question)?

[2022-05-21 04:14] damithc commented on #10645
Good question. Perhaps prick one the course owners at random?

[2022-05-21 04:17] fans2619 commented on #10645
That sounds a fair enough solution but I'm just concerned there may not be any co-owner at all. Of course in reality I think there should always be at least one co-owner for any course but that's not what the system restricts now. So perhaps failing that checking (with a small probability), it's a bit hard to decide which instructor to link to then.

[2022-05-21 04:21] damithc commented on #10645
Sure, failing that, you can pick any of instructors at random.

[2022-05-21 04:22] fans2619 commented on #10645
Sure just you may not have the permission you actually need in that case. 🤧

[2022-05-21 04:26] damithc commented on #10645
It's fine. This is a convenience feature anyway (there are other ways to achieve the same). But if not too complicated, you can prioritize based on permissions.

[2022-05-21 04:26] fans2619 commented on #10645
Okay!

[2022-05-21 11:01] #11724 closed

[2022-05-22 03:46] wkurniawan07 opened #11810 "Remove "archive courses" feature"
**Problem Statement**

The "archive courses" function was introduced when all courses are loaded in instructor's home page without any lazy loading, in order to reduce both the backend load and the page load time (and those are pre-V7 time where backend and page load are essentially the same thing).

However, not only that we now have lazy loading, but also the data for courses, no matter how larg

[2022-05-22 03:49] fans2619 commented on #11784
I'd like to take this issue.

[2022-05-22 05:09] wkurniawan07 opened #11812 "Combine and streamline instructor audit logs and result tracking pages"
Current: we have two different activity-tracking pages built at different times, accessible under `/web/instructor/logs` and `/web/instructor/track-result-view`.

Problems:
- Both features are highly similar in both purpose and functionality. There is little reason to separate them to two different pages.
- Both features are only relevant in the context of a course. There is no such case as "I wan

[2022-05-22 05:10] damithc commented on #11810
Indeed, we don't have the 'faster page loading' incentive that was one reason behind the archiving feature.  So, it is timely to explore if this feature is still needed. I myself used to use this feature earlier, but I haven't used this feature in the past few years, which shows that it is less useful than before.

I'm interested to know if the feature has some impact on costs. Does it save some d

[2022-05-22 05:11] wkurniawan07 commented on #11351
On hold pending #11812.

[2022-05-22 06:00] LaideLawal commented on #11796
I would like to contribute to this issue

[2022-05-22 06:05] samuelfangjw commented on #11796
@LaideLawal Please go ahead!

[2022-05-22 06:53] FergusMok commented on #11760
Hi @samuelfangjw @jayasting98 do you have any opinions on the solutions? Hopefully we can work something out before the announcement of the feature

[2022-05-22 07:21] samuelfangjw commented on #11760
Actually I have been wondering for quite awhile if it would be feasible to remove the deadline maps from feedback session entirely in v9 and use the DeadlineExtension entity only. I believe the "textbook" way to support Maps in sql would be to create a new table for this anyways, which we already have. I plan to bring this up during the planning phase for v9.

If we do this, we can simplify a lot

[2022-05-22 08:08] fans2619 opened #11813 "Test issue"
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2022-05-22 08:08] #11813 closed

[2022-05-22 09:04] xyliew25 commented on #2488
I've also looked into the code, and yes, I agree with @samuelfangjw that the ideal solution proposed is potentially change-breaking since `STUDENTS` is widely used, and is used in feedback path selection and options generation with different definitions. However, I think it is worth a try. Any advice?

[2022-05-22 13:30] parthnatu commented on #11791
Yes, I can see that this won't apply to MSQ. Will work on this :)

[2022-05-22 16:05] wkurniawan07 commented on #2488
This is unfortunately a legacy mistake that we have to undo. But we cannot just recklessly change the definitions; we need to do it in steps:
1. For feedback path, modify the code such that the previously unused `STUDENTS_EXCLUDING_SELF` enum indicates exactly what it is named, but keep `STUDENTS` similarly defined. This will be the brief period whereby "old definition" and "new definition" exists

[2022-05-22 17:37] daongochieu2810 commented on #11767
@samuelfangjw do you have to use the staging server to reproduce the described behaviour?

[2022-05-23 01:25] samuelfangjw commented on #11767
@daongochieu2810 No, I reproduced this locally.

[2022-05-23 01:26] wkurniawan07 commented on #2669
Superseded by #7249

[2022-05-23 01:26] #2669 closed

[2022-05-23 01:37] parthnatu commented on #11791
Could I get some help with setting up the debugging environment? I am not sure how to. Also if there is some documentation about the message flow from the UI to the DB that would be great.

Thank you!

[2022-05-23 05:59] daongochieu2810 commented on #11767
@samuelfangjw May I know the steps you took to reproduce this? Thanks

[2022-05-23 06:20] samuelfangjw commented on #11767
Sure, Steps:
1. Enroll student in course
2. Get join course link for enrolled student
3. Move course to recycle bin
4. Join course as student

[2022-05-23 09:43] daongochieu2810 commented on #11767
@samuelfangjw how do I get the join course link for enrolled student?

[2022-05-23 12:00] samuelfangjw commented on #11767
@daongochieu2810 you can get it from the admin search page or from the backend console logs (email is sent when you enroll a student).

[2022-05-24 04:24] ypinhsuan commented on #11791
Hi @parthnatu, you can refer to this https://teammates.github.io/teammates/development.html to set up the environment.
The high level architecture design is here: https://teammates.github.io/teammates/design.html

[2022-05-24 21:43] kvaithin commented on #11755
Hi team, I am looking to pick up this work. Thanks.

[2022-05-24 22:29] kvaithin commented on #11755
Do I need to apply for access to push a branch to this repo?

Following the docs here.
https://teammates.github.io/teammates/process.html

Attempting to push my change via the following commands.

`git push origin 11755-session-closing-soon`

or

`git push -u origin 11755-session-closing-soon`

Getting this error:

`
ERROR: Permission to TEAMMATES/teammates.git denied to kvaithin.
fatal: Could not

[2022-05-24 23:13] LaideLawal opened #11818 "Error in compile some type definitions from the back-end to be used in this dev server."
<!-- Issue title: Help Request:  Execution failed for task ":compileJava" java.lang.nullPointerException when I run command "gradlew.bat generateTypes"

- **Commit SHA:** BaseEntity.java:42: error: cannot infer type argument for com.googlecode.objectivity.impl.translate.ValueTranslator<P,D>
- return newValueTranslator<>(ValueType.TIMESTAMP) {
- reason: cannot use '<>' with anonymous inner classes

[2022-05-24 23:17] LaideLawal opened #11819 "Error in compiling some type definitions from the back-end to be used in this dev server."
Execution failed for task ":compileJava" java.lang.nullPointerException when I run command "gradlew.bat generateTypes"

- **Commit SHA:** BaseEntity.java:42: error: cannot infer type argument for com.googlecode.objectivity.impl.translate.ValueTranslator<P,D>
- return newValueTranslator<>(ValueType.TIMESTAMP) {
- reason: cannot use '<>' with anonymous inner classes
- **Operating System:** Windows 1

[2022-05-24 23:35] LaideLawal commented on #11819
I changed the JAVA_HOME  again to jdk-11.0.15.1, I still got the same error message

[2022-05-25 00:06] LaideLawal commented on #11819
Problem solved, jus like I said earlier, I installed jdk version 11, and changed the JAVA_HOME to the newly installed version i.e. jdk-11, and restart my system, it resolved the problem and the build was successful

[2022-05-25 00:49] #11818 closed

[2022-05-25 00:50] #11819 closed

[2022-05-25 12:06] LaideLawal commented on #11796
Hi Samuel,

Thank you for giving me the opportunity to contribute to the laudable
project.

However, I cannot find my way to logging-in into the application and check
out the look and feel before attempting to attend to the issue I wish to
take up, this is possibly because I am a newbie.

Please, I need a guidean, a mentor in order to get my footings, I have been
reading this and that for the past

[2022-05-26 09:59] damithc opened #11822 "Provide admin a UI to update account data of instructors"
Context: An admin can search for a user and use the 'Mange this account' link to go the account details page of an instructor e.g.,

![image](https://user-images.githubusercontent.com/1673303/170464404-a5fffb88-bc7c-4b62-afa5-a1c0fdfcb06c.png)

Suggestion: provide a way to update the following data:
1. Name
2. Email
3. Institute(s)

Rationale: for cases such as fixing a typo noticed after the user

[2022-05-26 13:08] wkurniawan07 commented on #11771
@damithc I'm aware that work has been done by @daongochieu2810 on this issue, but is this urgent? Chances are, when we do #11786, we can even move the email reminder to when the user requests the duplicate account.

[2022-05-26 13:19] damithc commented on #11771
Not strictly urgent.

[2022-05-26 14:27] wkurniawan07 commented on #11771
From what I get, it is not strictly important. If that is the case, rather than doing this now and then getting it promptly undone by #11786 (not an "if"; this is a plan for the summer), it would be better to work on something else instead.

[2022-05-26 14:50] daongochieu2810 commented on #11771
@wkurniawan07 I see, I will wait for #11786 then

[2022-05-26 17:15] wkurniawan07 commented on #11771
By the time that is done, this issue would no longer exist.

[2022-05-27 15:02] #3530 closed

[2022-05-28 03:45] xyliew25 commented on #11772
Hi @damithc and all, when forcing responses to be zero-sum, how are we dealing with the two options of `CONTRIBUTION_POINT_NOT_SUBMITTED` and `CONTRIBUTION_POINT_NOT_SURE` (when `isNotSureAllowed=true`)? Can these two options be removed (when forcing zero-sum) in this case? Though I'm not sure if the initial intention of these options is to increase sincerity in responses.

[2022-05-28 03:51] damithc commented on #11772
Good point @xyliew25 .  Yes, I think we'll have to remove those options.

[2022-05-28 05:14] #11669 closed

[2022-05-28 08:53] wkurniawan07 opened #11825 "Warn user before deleting last course in institute"
- **Environment**: live server at V8.15.0

**Description of feature/enhancement**

- Warn user if s/he is about to delete his/her last course within an institute, as it will cause him/her to lose status as instructor in the said institute.
- (Optional) warn user if s/he is about to delete his/her last course or all of his/her courses, as s/he will lose access to the system as an instructor.

**Jus

[2022-05-28 09:58] #11766 closed

[2022-05-28 10:06] charucjoshi commented on #11825
I would like to contribute. This is my first time contributing so can you tell me what I have to do?

[2022-05-28 10:15] wkurniawan07 opened #11826 "Add unit tests for `SubmitFeedbackResponsesAction`"
`SubmitFeedbackResponsesAction` is by far the most important and the most used state-changing API of the system, and yet there are no unit tests for it.

[2022-05-28 14:57] daongochieu2810 commented on #11822
@damithc I think we can update the details to be editable, and since we already have the API to update instructors, we only need to update the frontend, unless I miss something

[2022-05-28 15:32] damithc commented on #11822
You may be right; perhaps it's a simple API call. I'm not sure how the editing of an institute name work, for example, to fix a typo. If the typo'ed institute name has been used in multiple courses, do I update it in each course individually? I'm still fine to do so if that is required.
Another use case is if the institute changed their email domain (e.g., 'nus.edu.sg' to 'u.nus.edu'). How can we

[2022-05-28 17:00] daongochieu2810 commented on #11812
@wkurniawan07 Can I ask what are the logs page and result tracking page referring to? We are having 1 page only right?

[2022-05-28 17:31] damithc commented on #11812
Perhaps use checkboxes so that the user can choose multiple log types? Alternatively, add another option in the drop-down 'session access and submission' as it is useful to see these two types of activities in a single timeline.

[2022-05-29 10:48] daongochieu2810 commented on #11822
@damithc we have `updateInstructorCascade`, so the changes will be propagated everywhere

[2022-05-29 11:08] damithc commented on #11822
I see. Just to check, suppose I'm fixing a typo in the institute name. Does the change propagate to all Course objects that has the same typo (because institute name is stored in Course objects).

[2022-05-29 11:29] xyliew25 commented on #8850
Hi @damithc and all, so now we are adding new session templates based on situations, e.g. class presentations, class participation, lessons, etc., instead, right?

If so, then I shall start with this?

[2022-05-29 11:41] damithc commented on #8850
@xyliew25 I'm still not sure if we want to spend time doing this, given the instructor is the one in the best position to set up questions to match their use cause. Even when creating a session to evaluate presentations, the questions will vary based on many things e.g., team or individual presentations, how many presentations per round (all present or only some present in each round), graded or n

[2022-05-29 11:43] xyliew25 commented on #7237
Hi @damithc and all, was wondering haven't the two requested options, i.e. `team members (excluding self)` and `team members (including self)`, been added previously, or am I misinterpreting the issue here?

MCQ:
![image](https://user-images.githubusercontent.com/75534016/170866004-670b0d9f-f8ba-40cf-ae11-f6fc18cbf990.png)

MSQ:
![image](https://user-images.githubusercontent.com/75534016/170866025

[2022-05-29 11:54] daongochieu2810 commented on #11822
Comments, responses and deadline extensions will be updated if instructor is updated
Fixing institute name = updating courses, and similarly we have `updateCourseCascade` for this, so yes the changes will be propagated

[2022-05-29 11:55] damithc commented on #7237
yes, looks like it. Not surprise, as this issue is quite old.

[2022-05-29 11:55] #7237 closed

[2022-05-29 12:01] damithc commented on #11822
I see. It's fine, as long as the feature caters for typical use cases.

[2022-05-29 12:52] damithc opened #11830 "User documentation: don't use bold to refer to UI text"
Current: the user documentation uses **bold text** to refer to text in the UI. e.g.,
![image](https://user-images.githubusercontent.com/1673303/170869317-4dbb3a21-273c-4896-a2f0-8cc95e452370.png)

Suggestion: Use a different style to differentiate UI text from the rest e.g., `this style`

Reason: Bold is normally used to make the text stand out by adding more visual weight e.g., to indicate more i

[2022-05-29 14:16] samuelfangjw commented on #11822
Name & Email (tied to Instructor/Student object):
This page actually has a slightly misleading way of showing name and email. Just looking at this page, one would assume that the name and email associated with the account is the name and email associated with all the courses listed. In actual fact, the name and email associated with the account (shown at the top of the page) and each course are in

[2022-05-29 15:37] #10645 closed

[2022-05-30 04:45] #11490 closed

[2022-05-30 04:45] #11706 closed

[2022-05-30 04:47] wkurniawan07 opened #11833 "Release V8.16.0"
Scheduled for Monday, May 30, 2022, 1.30pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-05-30 05:40] wkurniawan07 commented on #11833
[V8.16.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.16.0) has been released by @wkurniawan07 at May 30th, 2022, 01.30pm SGT.

Code contributions from: @DelphiHide, @fans2619, @fsgmhoward, @parthnatu, @wkurniawan07, @xyliew25
Review contributions from: @damithc, @NicolasCwy, @fsgmhoward, @samuelfangjw, @wkurniawan07, @zhaojj2209, @ziqing26

Ready for post-release check and deployment b

[2022-05-30 05:44] daongochieu2810 commented on #11812
@damithc I agree with using checkboxes

[2022-05-30 05:46] wkurniawan07 commented on #11812
I mentioned before: no, because "result view" cannot be mixed with anything else.

[2022-05-30 06:28] damithc commented on #11812
Right. I remembered we discussed this before but couldn't find the source.
@daongochieu2810 In that case, add the extra option to the drop-down.

[2022-05-30 10:25] daongochieu2810 commented on #11812
@wkurniawan07 if we remove the course selection dropdown, do we show results from every course?

[2022-05-30 13:31] damithc commented on #11812
@wkurniawan07  I think @daongochieu2810 is referring to this suggestion. Isn't the course dropdown still required for the instructor to narrow down the scope to a course before choosing session name and student?
Or are you thinking of giving 'view student activities' option for each course in the instructor home page so that the course is already known when the user reaches this page?

[2022-05-31 03:55] damithc commented on #11833
Deployed and released. Thanks to everyone who contributed 💯

[2022-05-31 03:55] #11833 closed

[2022-05-31 05:24] xyliew25 opened #11834 "Data Migration: Change `FeedbackQuestion.recipientType` of values `STUDENTS` and `TEAMS` to `*_EXCLUDING_SELF`"
Data migration initiated by PR #11815.

- [x] Merged code that work for both the old and new versions of the data schema.
- [x] Released a version containing the above in V8.16.0.
- [x] Created a client script to migrate all data following the old schema to the new schema in PR #11815.
- [x] Ran the script against the live site.
- [x] Removed the code that is specifically tailored for the old data

[2022-05-31 08:00] fans2619 opened #11835 "BaseE2ETestCase: logout() does not work as expected"
The logout URL should be appended with frontend URL when backend and frontend URLs are different.

[2022-05-31 12:12] daongochieu2810 commented on #11822
@samuelfangjw so we need to add an endpoint to update all courses associated with the updated instructor and allow only the admin to do this?

[2022-05-31 14:15] daongochieu2810 commented on #11822
@damithc Do you think this UI is ok?
![Screenshot from 2022-05-31 22-14-54](https://user-images.githubusercontent.com/53283766/171194975-11204b7d-e9d8-4ef2-818f-2abce355fe88.png)

[2022-05-31 14:19] damithc opened #11837 "Team contribution questions: also support 5%, 15%"
Context: submitting answers to a 'team contribution' type question

Current:
![image](https://user-images.githubusercontent.com/1673303/171195190-af5f0e5f-074e-4148-b27f-b6c52c8d72cd.png)

Suggestion: Also let students choose 5% and 15% (possibly 25% too), to give respondent more flexibility

[2022-05-31 14:36] damithc commented on #11822
I don't think we need a multi-line text area, as these fields are single-line values only.

[2022-05-31 14:37] wkurniawan07 commented on #10605
Close as the gain is no longer significant, now that we allow per-question response submission.

[2022-05-31 14:41] wkurniawan07 commented on #8850
If we don't wish to spend time on this, we better put a close. It can always be reopened.

[2022-05-31 14:41] #8850 closed

[2022-05-31 14:54] wkurniawan07 commented on #8041
Closing as we do not wish to add this restriction.

[2022-05-31 14:54] #8041 closed

[2022-05-31 15:33] samuelfangjw commented on #11822
I'm not intimately familiar with how this aspect of the system but I don't think this issue is as straightforward as it seems.

Firstly, the UI is not really suited to updating the name and email because the name and email of the instructor/student associated with each of the individual courses and the associated account are independent and can differ. If we were to support updating the name and e

[2022-05-31 15:48] damithc commented on #11822
Previously, those fields from the Account object were copied over when the instructor creates a new course. I guess that is no longer true in the current implementation.

Good point @samuelfangjw I don't think we need to give admin a way to do this.

If it is simpler, I don't mind having to update the institute in each individual course.
I'm not sure if the change should be propagated to the accou

[2022-06-01 14:11] damithc opened #11839 "Unusual feedback path is causing an assertion failure when downloading results"
v8.16, production

A user reported that when she tries to download results of a session, TEAMMATES reports a server error.

I tried downloading one question at a time, and noticed that the following question is the one causing the error:

![image](https://user-images.githubusercontent.com/1673303/171423890-8b31920a-1035-4b64-9419-dcfddd901f99.png)

Note the feedback path is probably not what the i

[2022-06-02 06:50] xyliew25 commented on #11728
@wkurniawan07 @damithc

I have some doubts that I would like to clarify:
1. > It allows setting of timestamps which are not at the exact hour mark.

![image](https://user-images.githubusercontent.com/75534016/171569431-2d4d2d85-e640-49d6-af26-d203ce6daea3.png)
Doesn't the current allowed setting of timestamps at the exact hour mark, or am I interpreting the term 'exact hour mark' wrongly?

2. > So

[2022-06-02 06:58] wkurniawan07 commented on #11728
The UI does restrict it, but the API does not. There's a big difference there.

[2022-06-02 07:02] damithc commented on #11728
Yes, that's correct.

[2022-06-02 12:42] fans2619 commented on #7225
Specific section/session level permissions can't really be copied to a new course. What would be the best way to handle this situation? Set such instructor to co-owner? Simply delete section/session level permissions (while keeping other customised course level permissions)? Do not allow users to copy such instructors?

[2022-06-02 13:02] #2488 closed

[2022-06-02 13:06] damithc commented on #7225
@fans2619 I guess we can disallow copying instructors with custom permission settings.

[2022-06-02 13:33] #11767 closed

[2022-06-02 14:37] jianhandev commented on #11770
How about `Viewed but no response` and `Responses recorded`?
* `Viewed but no response` is clear that student has viewed the feedback session but has yet to submit any responses
* `Responses recorded` does not imply to the instructor that the student is done with the submission but rather an indication that responses are recorded. Personally I feel it is clear enough, but if still unclear to anyon

[2022-06-02 14:55] damithc commented on #11770
This page is to be redesigned in #11812 Perhaps we discuss over there? I have a feeling that the dropdown that page will have (to select the activity type) will already indicate to the user that _view_ is different from _submit_.

[2022-06-02 15:34] #11794 closed

[2022-06-02 16:33] wkurniawan07 opened #11840 "Release V8.16.1"
Scheduled for Friday, Jun 3, 2022, 12.30pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-06-02 16:34] wkurniawan07 commented on #2874
Issue has been resolved.

[2022-06-02 16:34] #2874 closed

[2022-06-02 16:42] wkurniawan07 commented on #11822
It actually is still true. But with that said, this is still the only usage of account name + email outside of admin's page. The relationship between account name + email and instructor name + email is something that we really need to re-look at in Authentication Plus.

AccountRequest if anything is more of a historical record; especially so when the burden of registration is shifted entirely to u

[2022-06-03 00:06] #11834 closed

[2022-06-03 04:49] wkurniawan07 commented on #11840
[V8.16.1](https://github.com/TEAMMATES/teammates/releases/tag/V8.16.1) has been released by @wkurniawan07 at June 3rd, 2022, 12.45pm SGT.

Code contributions from: @daongochieu2810, @fans2619, @xyliew25
Review contributions from: @damithc, @jianhandev, @samuelfangjw, @wkurniawan07, @ziqing26

Ready for post-release check and deployment by PM (@damithc).

[2022-06-03 07:29] damithc commented on #11840
Deployed and released. Thanks to everyone who contributed 💯

[2022-06-03 07:29] #11840 closed

[2022-06-03 09:19] wkurniawan07 opened #11843 "Add scheduled post-processing step for student activity logs"
**Problem statement**

For the student activity logs feature, each usage makes a call to Cloud Logging, which has QPS restriction as well as not-low latency. (a search space of 30 days can take 3-4 mins)

Such implementation is not suitable for a user-facing production feature:
- 3-4 mins latency without any kind of indicator is outright bad UX.
- The QPS restriction is going to haunt us in the fu

[2022-06-03 15:02] damithc commented on #11837
Those are the more important ones but I guess it's OK to apply it to the whole range too.

[2022-06-03 17:16] damithc opened #11846 "Instructor help page: provide a way to direct a user to a specific question"
Context: https://teammatesv4.appspot.com/web/instructor/help

Suggestion: Provide a way to direct the user to a specific question/section using a direct URL e.g., `https://teammatesv4.appspot.com/web/instructor/help#how-to-open`

Someone should be able to easily copy such links from the page itself.

Reason: This can be useful when replying to user support requests

[2022-06-04 06:28] kantiprasanna commented on #11719
I will take up this issue

[2022-06-04 10:39] jayasting98 commented on #11770
@damithc In that case, should we consider putting #11782 on hold?

[2022-06-04 13:10] damithc commented on #11770
Yes, let's do that.

[2022-06-05 01:32] VirginiaLink opened #11851 "README.md and other documentation updates"
README.md and other documentation updates

**Description of feature/enhancement**
The TEAMMATES readme could benefit from better organization and more links to already existing resources within the repository.

**Justification**
These updates would make it easier for all users (student, teachers, and developers) to navigate the repository.

[2022-06-05 09:02] daongochieu2810 commented on #11812
@damithc This is my proposed UI, anything I need to change? Thanks

https://user-images.githubusercontent.com/53283766/172043276-72cf2d7c-7245-465f-a1dd-ee850950e2ce.mp4

[2022-06-05 09:08] damithc commented on #11812
@daongochieu2810 some thoughts:
The UI doesn't show which course it is.
Why there are two results tables? Show only the tables relevant to the activity type chosen.
If a session has been chosen, the results table can be expanded by default?

[2022-06-05 09:13] daongochieu2810 commented on #11812
@damithc
1. This page is accessed by clicking a button on a course table from the homepage, as you can see the course id on the search bar, but yes I will add the course name on the header
2. There are 3 options for the Activity Type dropdown: session access, response submission and both. The video shows me choosing the both option, so thats why there are 2 tables
3. The original audit log page on

[2022-06-05 09:28] damithc commented on #11812
Yes, must show prominently

There should be 4 options:
* session access
* session submission
* session access and submission
* view session results

The first three are variations of previous audit logs page, and should be shown in the same table (i.e., one table per session) as they happen in the same timeline. If the user has chosen a session, these should be only one result table showing both a

[2022-06-05 10:46] daongochieu2810 commented on #11812
@damithc  isnt option 4 handled by `/web/instructor/sessions/report`?

[2022-06-05 10:59] wkurniawan07 commented on #11812
@daongochieu2810 if option 4 is not there, you are not actually combining audit logs and result tracking pages; you were merely rewriting the audit logs page.

[2022-06-05 11:56] samuelfangjw commented on #11851
Students and instructors should access the help pages within the TEAMMATES product website. Developers can access the dev docs at https://teammates.github.io/teammates. Both of these resources are adequately linked from the project README.

Closing this issue as not in scope.

[2022-06-05 11:56] #11851 closed

[2022-06-05 15:10] #11837 closed

[2022-06-05 15:38] fans2619 commented on #7225
@damithc Should we only allow copying instructors from a course belonging to the **same institute** of the current course?

[2022-06-05 18:00] samuelfangjw opened #11853 "Warning message for potentially destructive edits of questions not shown under specific conditions"
- **Environment**: v8.16.1

**Steps to reproduce**
1) Open the edit session page of an open session as instructor. The session currently has no responses.
2) Student responds to feedback question and submits their response.
3) Instructor makes a destructive edit (without refreshing the edit page). For example, changing visibility, or changing options of mcq question.

**Expected behaviour**
Modal

[2022-06-06 03:39] damithc commented on #11853
Yes, good to do if the cost is low, but OK to leave as is if not.

[2022-06-06 03:55] damithc commented on #7225
I think so.

[2022-06-06 09:06] fans2619 commented on #4570
Hi prof @damithc , regarding this function, where is the best place to put it? Currently my plan is to _add_ a box similar to the **preview session box** _to_ the **view course-wide session result page**. (put the green box in image 2 at the green box in image 1)

![image1](https://user-images.githubusercontent.com/68739475/172130864-8a6b76ab-0186-47e2-92eb-42478179171e.png)

---

![image2](https:

[2022-06-06 09:33] damithc commented on #4570
Sounds good. Shouldn't we put it at the bottom of the page though, for consistency? There is no good reason for it to be at the top in one page and at the bottom in the other.

[2022-06-06 09:37] fans2619 commented on #4570
Hmm the reason is because currently the section below seems to be controlled by the **View** settings. So I want to put above it.

[2022-06-06 09:41] fans2619 commented on #4570
Hmm okay I think as long as it's okay to be in this page, I can start implementing it first. We can always adjust later.

[2022-06-06 09:42] fans2619 commented on #4570
Putting at bottom may also be a good idea.

[2022-06-06 14:17] sivayogasubramanian opened #11854 "Refactor NavigationService to use Angular's dependency injection for services"
Issue: Currently the methods in the `NavigationService` take in `router` as a param. This is not required as we can inject these services into the constructor directly.

Solution: Refactor `NavigationService` to take in `private router: Router` in the constructor directly using Angular's dependency injection and remove `private router: Router` injection in the components that use affected methods

[2022-06-06 14:26] daongochieu2810 commented on #11812
@damithc @wkurniawan07 Is this ok now?

https://user-images.githubusercontent.com/53283766/172180981-e2f7331e-add4-4918-9c55-c1d5207ddd01.mp4

[2022-06-06 15:24] damithc commented on #11812
Looks OK to me.

[2022-06-06 15:40] wkurniawan07 commented on #11812
@damithc isn't "viewed session result" supposed to be displayed differently, i.e. it should display inactivity instead of activity?
Although, if you ask me, that should be a standalone display criteria. Wanting to view the lack of "viewed submission page" activity is a very valid use case.

[2022-06-06 16:23] daongochieu2810 commented on #11812
@wkurniawan07 for 'viewed session result', isnt not displaying = inactivity?

[2022-06-06 16:29] damithc commented on #11812
@daongochieu2810 did you replicate in here the results view that is already in `/web/instructor/sessions/report`? Because we would have already discussed and decided a good display format when we implemented that feature earlier.

Also, posting screenshots for different use cases may be better than a video.

[2022-06-06 16:59] daongochieu2810 commented on #11812
@damithc do you mean the one in `/web/instructor/track-result-view`?

[2022-06-06 17:10] damithc commented on #11812
Here is an example:
![image](https://user-images.githubusercontent.com/1673303/172210718-d9e0fabf-3298-4a54-a422-bf7690025463.png)

[2022-06-06 17:14] wkurniawan07 commented on #11812
I'm just going to reiterate my previous point:

[2022-06-06 17:45] damithc commented on #11812
As a user, I'm more inclined to use activity for submission page and inactivity for results page. I'm also interested in know who didn't submit but that feature is in the session results page already. I haven't had a reason to find who did not view the submission page.
Adding support for the 'missing' options (i e., an option to choose activity/inactivity) will make the UI more 'complete', but if

[2022-06-07 01:28] daongochieu2810 commented on #11812
@damithc @wkurniawan07 so we add 2 checkboxes for active/inactive, and the active checkbox is checked by default for the 1st 3 options, and the inactive one is checked for the `view results` option?

[2022-06-07 02:59] daongochieu2810 commented on #11822
@wkurniawan07 @damithc should we keep this issue on hold until Auth Plus is done?

[2022-06-07 04:35] damithc commented on #11812
@daongochieu2810 Doesn't the results view tracking table already show both last viewed and not-viewed but not-viewed on top? I can't check myself because I don't have a session that was active within the last 30 days.

[2022-06-07 04:38] daongochieu2810 commented on #11812
@damithc yes thats true, but what about the other 3 log types from the old audit log page?

[2022-06-07 04:46] damithc commented on #11812
Does it make sense to similarly show the inactive cases at the bottom of the table? That way, the user doesn't have to deal with an additional setting. Does the data required is already available, without having to do more database reads?

[2022-06-07 04:52] daongochieu2810 commented on #11812
so you would also want to see if the student hasnt submitted the response AND hasnt accessed the session? I think this is a valid use case

[2022-06-07 05:01] damithc commented on #11812
yes, this is the use case @wkurniawan07 raised. What I'm asking is if we can show that data _at the same time_ as what we show now, without additional cost to us and without the user needing to choose between active and inactive. If the user wants to see inactive students, just need to scroll to the bottom of the table.

[2022-06-07 05:23] daongochieu2810 commented on #11812
ok I understand. Another issue I noticed is that we are logging multiple submission and access events, so 1 student can have a lot of these events. Should we take the latest event for each type instead?

[2022-06-07 07:00] damithc commented on #11812
No, we should show all of them so that an instructor can compare them against the times the student said s/he accessed the session.

[2022-06-07 07:06] wkurniawan07 commented on #11812
@damithc this is asking for trouble. All it takes is one student spam-refreshing the submission page for the logs record to blow out of proportion.

[2022-06-07 07:28] damithc commented on #11812
That's true. But I don't think we can avoid it entirely; the instructor might want to verify claims such as "I tried several times yesterday and again today". Also, hiding an access attempt before the deadline in favor of showing an attempt done after the deadline can give the wrong impression. Perhaps show accesses that are close together as `(multiple access)`?

[2022-06-07 07:38] wkurniawan07 commented on #11812
I'm not asking to mindlessly collapse every access by one person into one log record; that obviously doesn't work. But we need to guard against spammy actions, and this is an attack vector with near-zero difficulty.
This should be kept in mind when designing #11843 (in fact, already mentioned there).

[2022-06-07 10:14] daongochieu2810 commented on #11812
@wkurniawan07 we can add a new field `lastLogTimestamp` to `StudentAttributes`, and check that the minimum time difference with the next event must be > a threshold eg 2s

[2022-06-09 08:53] JOSHI-owo commented on #11825
@wkurniawan07 I would like to work on this issue.

[2022-06-09 15:28] NicolasCwy commented on #11825
@charucjoshi Are you still interested in this issue? A good first place to start is to checkout our [contribution guide](https://teammates.github.io/teammates/contributing-doc.html) and setup the project on your computer,  if you have any issues, feel free to create an issue for someone to assist you. Then you can check out `src/web/app/pages-instructor/instructor-courses-page/instructor-courses-p

[2022-06-09 20:02] daongochieu2810 commented on #11843
@wkurniawan07 how do I run the cron job locally? or is it only possible on the staging server?

[2022-06-10 05:34] damithc opened #11858 "Instructor viewing results: 'Other teams in the same section' path is causing timeout"
Reported by a user
V8.16.1

A user reported (and I verified) that the results for questions having a certain feedback path is not loading, causing a timeout in the end.

![image](https://user-images.githubusercontent.com/1673303/172996645-4b01aee1-7ea2-4b83-b977-59f7ec71d099.png)

Q1 (rubric) and Q2 (essay) have this path and are not loading.
![image](https://user-images.githubusercontent.com/1673

[2022-06-10 05:35] damithc commented on #11858
@xyliew25 can you check if this problem is reproducible?

[2022-06-10 09:29] xyliew25 commented on #11858
@damithc I am unable to reproduce this problem.

For both development and production servers, I created a feedback session where results are published immediately after responses are submitted, and the session contains the above questions with the corresponding feedback path settings. I then submitted responses to the questions, and I am able to view the responses on the session results page.

Wer

[2022-06-10 10:18] fans2619 commented on #4570
Open for discussion: What should be displayed to instructor B if a question's results is set to be visible to person A (whose results are being previewed as) but not visible to instructor B (who is previewing the results)? Note that this also includes more complicated cases, e.g., a question's answer is visible to both A and B but the giver's/recipient's name is only visible to A.
The simplest app

[2022-06-10 11:44] sivayogasubramanian commented on #11609
@damithc I tried to reproduce this but seems like Unicode characters work. Any other way to reproduce this issue?

![image](https://user-images.githubusercontent.com/53614454/173057674-cc98ebe7-a6e9-4b5d-aa4a-41e7c493244d.png)

[2022-06-10 13:29] damithc commented on #4570
@fans2619 I'm OK to go with the simpler solution. I expect most questions are set to be fully visible to instructors.

[2022-06-10 18:06] sivayogasubramanian opened #11860 "Navbar in mobile view broken"
Navbar in mobile view is broken. Even though we do not support mobile officially, we should fix this because mobile view is good for reading documentation, etc.

- **Environment**: production

![Screenshot_20220611-020130_Chrome](https://user-images.githubusercontent.com/53614454/173125067-c776cd35-a29d-458b-9eea-ceb95611355d.jpg)

**Expected behaviour**

Navbar scrolls up a bit then becomes stick

[2022-06-11 03:24] damithc commented on #11858
The user says she moves some students between sections while the session was ongoing, in case that matters.

[2022-06-11 03:29] damithc commented on #11609
@sivayogasubramanian try these (note the subtle differences in the punctuation symbol used):

[2022-06-11 05:56] damithc commented on #11858
I couldn't replicate the problem on my own either, although I can verify the user is still facing the problem. It could be that the problem is linked to the user's data. Perhaps we can add some extra log messages for troubleshooting purposes?

Raising severity as we need to fix this problem soon or else the user is unable to access the session results.

[2022-06-11 07:11] damithc opened #11861 "Instructor enrolling students: 'scroll down' link broken"
v8.16.1

Steps:
1.  Login as an instructor
2.  go to the page to enroll students into a course.
3. click on the following link

![image](https://user-images.githubusercontent.com/1673303/173177489-20fd2770-eaae-4af3-803e-252c2b0681de.png)

problem: Nothing happens
expected: Should scroll to the info referred to in the text.

However, there is no such info in the page. Not sure if the removal of th

[2022-06-11 07:31] damithc opened #11862 "Instructor viewing results: critical error message does not persist"
Context: An instructor is viewing results of a session. She clicks on a question panel to expand it, but the operation times out in the back end.

Current: The following message appears for a while and disappears. The spinner keeps going.
![image](https://user-images.githubusercontent.com/1673303/173178131-a3c7961b-5228-4e21-af3c-e91467721816.png)
![image](https://user-images.githubusercontent.com

[2022-06-11 07:43] damithc commented on #11858
An update:
I tried adding a dummy session to the user's course containing one question with this specific feedback path. It still fails. So, the problem is not related to responses already received (as the dummy session didn't have any responses). So, it might be due to the team structure of the course.
I noticed that some of the teams are unusually large, possibly causing a performance issue.
I'v

[2022-06-11 08:00] damithc commented on #11858
The problem goes away if I change the path as follows -- so it is very specific to `Other teams in the same section` option, possibly some inefficiency in the logic that narrows down the responses to the same section

 ![image](https://user-images.githubusercontent.com/1673303/173179105-429625a0-a489-4f90-a109-f8f39f13758c.png)

[2022-06-11 08:10] xyliew25 commented on #11858
@damithc I see, thank you for the extra information! Will look into the possible causes of the inefficiency.

[2022-06-11 09:22] xyliew25 commented on #11858
A small update: I am able to replicate the different loading times between the different feedback paths **with and without the provided student list**. With the small dummy student list that I created, the difference in loading times is, of course, less obvious, but logging the `GET` requests sent from the front end to `ResourceEndpoints.RESULT` makes the difference more noticeable.

[2022-06-11 11:45] sivayogasubramanian commented on #11609
@damithc It seems like it works on my end.

![image](https://user-images.githubusercontent.com/53614454/173186402-1e2c411b-6054-4be9-8c10-37a13184a83c.png)

[2022-06-11 13:51] xyliew25 commented on #11858
Update: I believe the source of inefficiency is the building of missing responses. Inconsistently, a query to the database is made for the case of `Other teams in the same section`, unlike the case of `Other teams in the course` where the course roster is utilized. Hence, the proposed fix is just to utilize the course roster.

[2022-06-11 14:06] xyliew25 commented on #11858
Alternatively, we can choose not to build missing responses entirely, as per the case of `Other teams in the course`, by adding to the recipient type list in the `shouldGenerateMissingResponses()` method in `FeedbackQuestionDetails.java`.

However, I think the former fix is more ideal as the business logic is retained.

[2022-06-11 18:05] wkurniawan07 commented on #11858
Unlike the options that are excluded when building missing responses, "Other teams in the same section" (and also "Other students in the same section") are already upper-bounded by the max. number of students in the section.

[2022-06-11 18:14] #11846 closed

[2022-06-12 02:52] fsgmhoward commented on #11860
I can confirm this happens on Android device (Firefox browser). Probably the existence of status bar above leads to a wrong calculated y-position?

[2022-06-12 04:11] damithc commented on #11858
An update:  The user reported the she was able to view/download the results after deleting some of the students in the course. She deleted students who are not actually taking part in the current session and hence not yet put into proper teams (instead, they were in dummy teams with up to 30 members, resulting in 'unusually' large teams). This increases the chance that this was a performance issue

[2022-06-12 04:51] #11858 closed

[2022-06-13 02:58] daongochieu2810 commented on #11843
@wkurniawan07 @damithc

Design proposal:
1. Create FeedbackSessionLogEntryAttributes class and transform the current FeedbackSessionLogEntry to a datastore entity
2. Create FeedbackSessionLogEntriesDb and FeedbackSessionLogEntriesLogic. The logic class will expose the method `getFeedbackSessionLogs(courseId, studentEmail, fsName, startTime, endTime)`, studentEmail and fsName can be null and will n

[2022-06-13 04:00] damithc commented on #11843
Should we also factor in the activity itself i.e., differentiate between 'same activity within 2s' vs 'different activities within 2s'

[2022-06-13 04:06] wkurniawan07 commented on #11843
(5) isn't a really good way; we're trading off the so-called spam-filter with increased DB reads/writes. An alternative is to filter out the so-called spams when the logs are ingested/processed.

[2022-06-13 04:31] wkurniawan07 commented on #11843
Also, hourly cron job may be too sparse. Consider 10-min or 15-min interval instead.

[2022-06-13 04:36] daongochieu2810 commented on #11843
@wkurniawan07 do you mean that we let all logs go to the logging service, but only filter the logs when they are about to be inserted into the datastore?

[2022-06-13 04:44] wkurniawan07 commented on #11843
Yes. It's far simpler that way for the same goal.

Also, on point 3:

There's no need to complicate things; for each cron job it should simply the latest 10- or 15- min interval, e.g. if a cron job is run at 10.01pm and the interval setting is 10-min, the logs obtained should be from 9.50-10.00pm.

[2022-06-13 04:46] daongochieu2810 commented on #11843
@wkurniawan07 how do I get the last time that the cron job was run?

[2022-06-13 04:50] wkurniawan07 commented on #11843
`Instant.now()`?

[2022-06-13 04:53] daongochieu2810 commented on #11843
ok thanks :))) another issue about the tests. So currently the logs are available immediately after creation, but its not the case with the new solution. I was thinking of triggering the cron job manually after creating the logs and this works for unit tests, but not sure how that is possible in e2e tests

[2022-06-13 05:12] wkurniawan07 commented on #11843
You can just upload predefined data to the DB. There's no need to have an actual view/submission action as we don't really operate cross-page E2E tests. But if you really want to trigger the cron job manually, you can also do that. Cron job is merely an API endpoint.

[2022-06-13 13:16] inifnite commented on #11825
@NicolasCwy I would like to work on this issue. First time contributing.

[2022-06-14 09:14] chen-ni commented on #11826
Is anybody working on this? If not can I take it?

[2022-06-15 05:41] damithc opened #11865 "Add to instructor help: 'Can I use a different team structure for different sessions?'"
Suggestion: Add the following to the instructor help page

Question: Can I use a different team structure for different sessions in the same course?
Answer:
Currently it is not possible. If you change the team structure midway, the new team structure will apply to all current/past sessions as well, and will cause any 'incompatible' responses (e.g., responses submitted in relation to a team that no

[2022-06-15 08:39] Richey24 commented on #11865
if anyone isn't assigned to this, i will like to handle it

[2022-06-15 11:22] inifnite commented on #11825
@NicolasCwy I have implemented the said functionality on my local machine and its working fine. How do I proceed further?

[2022-06-15 11:39] inifnite commented on #11825
@NicolasCwy I have gone through the code flow and I think I will be able to resolve the issue. Just need few clarifications regarding the implementation.

[2022-06-16 12:45] NicolasCwy commented on #11825
@inifnite Feel free to clarify in this thread

[2022-06-17 09:37] daongochieu2810 commented on #11812
@damithc I have added the checkbox and this is how it looks now

![Screenshot from 2022-06-17 15-33-35](https://user-images.githubusercontent.com/53283766/174271973-810fd6d8-79fe-40ea-bdf1-7ee26098fdc0.png)
![Screenshot from 2022-06-17 16-36-25](https://user-images.githubusercontent.com/53283766/174271980-83876f38-1a05-467b-beb2-ec6d2dadcb9a.png)
![Screenshot from 2022-06-17 15-35-08](https://user

[2022-06-17 10:41] damithc commented on #11812
My thinking on this is that we don't need a separate setting for this. Instead, we just show both active and inactive in the same table. In case of results page tracking, show inactive on top; and in case of submission page, show active on top. In the less-common case of an instructor needing to see inactive session access or active result access, all she has to do is to scroll to the bottom of th

[2022-06-17 11:01] wkurniawan07 commented on #11812
Any unnecessary info, situational or not, being spoon-fed to user (requiring scrolls etc.) is an outright negative score to usability.

[2022-06-17 11:56] ypinhsuan commented on #11865
Hi @Richey24 please go ahead!

[2022-06-17 11:58] Richey24 commented on #11865
OK, on it

[2022-06-17 13:08] damithc commented on #11812
Agreed, having to scroll or showing info the user did not actually need lowers usability. I have a similar (in fact, stronger) view of unnecessary configuration options being presented to users. Extra info at the bottom of a table is easier to ignore than extra configuration options at the top that every user will be forced to understand and use. Hence, I'm leaning towards not having this option b

[2022-06-17 13:23] wkurniawan07 commented on #11812
Three problems with this statement:
- If the necessary info for the user is at the bottom of the page (remember that this page can show multiple sessions at once), there is an additional scrolling requirement if everything is shown.
- Users are in no way "forced to understand and use". Just because it is there doesn't mean anyone needs to use it.
- I am not sure that this is an unwanted functional

[2022-06-17 13:55] damithc commented on #11812
I agree, the additional scrolling can become quite troublesome in some cases e.g., large class and many sessions. And this got me thinking: should this option be given with the results (rather than with the input form) together with other related options e.g.,
`Expand/collapse all`  `[x] Show actions` `[x] Show inactions`

The user is still given the power to choose but it is now easier to underst

[2022-06-18 05:41] wkurniawan07 commented on #11812
Sorry to say this, but the amount of settings we support in feedback sessions and feedback questions do not agree with this concern.

[2022-06-18 05:52] damithc commented on #11812
Ha ha, yes, we _do_ have a lot of configuration option (not entirely avoidable as we aim for high flexibility). Nevertheless, if any configuration option _can_ be omitted, we should do so. This applies to existing UIs too. If any of them can be simplified or optimized further for more common use cases, we should go for it.

[2022-06-18 06:21] damithc commented on #11812
To recap, the options so far:

[A] The current implementation of radio buttons in the input form.

[B1] Show tick boxes '[x] Show actions` and `[x] Show inactions` in the input form.

[B2] Show tick boxes '[x] Show actions` and `[x] Show inactions` together with results. Ticking them will filter the outputs on the client side (i.e., no further requests to the server)

[C1] Show `Show actions and i

[2022-06-19 04:51] #11753 closed

[2022-06-19 04:53] wkurniawan07 opened #11867 "Release V8.17.0"
Scheduled for Sunday, Jun 19, 2022, 1.30pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-06-19 05:48] wkurniawan07 commented on #11867
[V8.17.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.17.0) has been released by @wkurniawan07 at June 19th, 2022, 01.45pm SGT.

Code contributions from: @fans2619, @sivayogasubramanian, @xyliew25
Review contributions from: @damithc, @NicolasCwy, @samuelfangjw, @wkurniawan07, @zhaojj2209, @ziqing26

Ready for post-release check and deployment by PM (@damithc).

[2022-06-19 06:05] daongochieu2810 commented on #11812
Ok I will go with B1 then

[2022-06-19 07:12] damithc commented on #11867
Deployed and released. Thanks to everyone who contributed 💯

[2022-06-19 07:12] #11867 closed

[2022-06-19 07:15] wkurniawan07 commented on #11812
@daongochieu2810 why not B2?

[2022-06-19 07:26] damithc opened #11868 "Submitting responses to team contribution questions"
v8.17

Context: I noticed that quite a few times respondents chose `Equal share + 100%` option for everyone in the team. This is same as saying everyone did as twice as expected -- most likely the intention was to say everyone did an equal share. Although this does not matter (choosing `Equal share +100%` has the same impact in the final result as choosing `Equal share` for everyone, due to intern

[2022-06-19 09:04] damithc opened #11869 "Submitting responses: some users are not sure if the submission went through"
v8.17

Context: After a user submits responses to a session, we show a success message (with an option to download a proof-of-submission) file. Despite this, based on user queries received, some are still not sure if their submission went through 'properly'. It seems their doubt is because the page stays in edit mode, exactly the same way it was before they clicked the submit button.

![image](htt

[2022-06-19 13:00] daongochieu2810 commented on #11812
@wkurniawan07 oh Im actually filtering the logs on the client side, so yes B2 is the simpler option, so I will go with that instead

[2022-06-19 13:51] daongochieu2810 commented on #11812
![Screenshot from 2022-06-19 20-41-38](https://user-images.githubusercontent.com/53283766/174484433-10a2ced7-9e04-4cbe-b609-bf9aa2578930.png)

[2022-06-21 16:09] thikhinab commented on #11825
@NicolasCwy Hi! I am interested to work on this issue. May I know if the issue is taken up by someone?

[2022-06-21 16:12] sivayogasubramanian commented on #11868
@damithc Would a slider be better here?

![image](https://user-images.githubusercontent.com/53614454/174847441-8b75f3f1-2c8e-447c-b3a8-5ced24428495.png)

![image](https://user-images.githubusercontent.com/53614454/174847499-1c335e28-dfff-449b-b917-8bc641d9c546.png)

![image](https://user-images.githubusercontent.com/53614454/174847535-2ea0a6e8-19eb-4275-9f11-52e74154ff10.png)

[2022-06-21 16:52] damithc commented on #11868
hmm... the drop-down is safer (e.g., compatibility with browsers/devices, accessibility benchmarks) and easier (e.g., easier to test) but I will not veto a slider if others think it can do a better job.

[2022-06-22 02:26] inifnite commented on #11825
@NicolasCwy  I have actually finished the coding part, just want to know one thing. Are we supposed to show this warning when course is deleted from the bin or soft delete(moving course to bin) also counts?

[2022-06-22 04:06] damithc commented on #11774
Still finding these ERROR level log messages in the logs ... I examined logs further and the target session name indeed as a trailing space. Shouldn't this be caught (or even auto-trimmed) at the UI?
The relevant backend action: `CreateFeedbackSessionAction POST /webapi/session`

[code]

Perhaps the user is shown the appropriate error message (as there are no user complaints regarding this) but in

[2022-06-22 05:50] damithc commented on #11825
Not a direct answer but I guess this depends on which of the two causes the user to lose access?

[2022-06-22 09:22] thikhinab commented on #11869
@damithc Would having an alert for each of the question be helpful?
![image](https://user-images.githubusercontent.com/59680441/174992841-66f29aa6-06fd-44df-bfc5-548f18a603ce.png)

[2022-06-22 09:30] damithc commented on #11869
Thanks for looking into this @thikhinab Not sure about this will help enough. It's the 'page stays in edit mode'  that seem to confuse some users. They expect to navigate to a different page upon successful submission.

[2022-06-22 12:27] damithc commented on #11869
As of now, we have prioritized ease of editing, which is probably the right thing. So, I'm fine to keep the status quo. But if we _can_ achieve both goals, that would be a bonus. For example, something along this line: Rather than actually navigating to another page, we simply hide the form and replace it with a `All done!` message together with another link/button `Edit answers further`. If the u

[2022-06-22 13:27] danielsimre commented on #11764
Is anyone working on this issue? If not, I would like to work on this issue.

[2022-06-22 14:57] sivayogasubramanian commented on #11861
@damithc I investigated this and it works as expected.

https://user-images.githubusercontent.com/53614454/175062098-fa54367c-158e-4401-a2e7-4f364a7be9ff.mp4

Is this some edge case? And may I know the steps to reproduce this?

[2022-06-22 15:47] damithc commented on #11861
Yes, it seems to be an edge case. To reproduce, enroll some students first. In the next page load (showing the result of the previous enrolling), the instructions are missing.

![image](https://user-images.githubusercontent.com/1673303/175075408-98c398de-e458-4f2e-be9c-cfa028242400.png)

[2022-06-22 17:37] thikhinab commented on #8867
May I know if this issue still persists with UI changes? If so what are the new UI requirements to be met.

[2022-06-22 17:52] damithc commented on #8867
@thikhinab for a start, I think we can do the following:

[2022-06-22 18:22] thikhinab commented on #8867
@damithc  Noted prof. Will work on it and update you.

[2022-06-23 11:48] sivayogasubramanian opened #11875 "New release causes production site to be blank"
- Production

After a new release and deployment, going to [production site](https://teammatesv4.appspot.com/) causes a white blank screen.

**Steps to reproduce**

- Go to production after a new release.

**Expected behaviour**

- Should show the website normally

**Actual behaviour**

- Shows white blank screen
- Only shows the screen after a hard refresh. We should not require users to do this.

[2022-06-23 12:27] damithc commented on #11875
Yes, I too have noticed pages going fully or partially blank after a new release. And yes, I think it is a caching issue. A forced refresh usually fixes it.

[2022-06-23 15:01] zhaojj2209 opened #11876 "Enroll students page: improve display of progress bar"
**Steps to reproduce**
After clicking "Enroll Students", the button displays weirdly when loading, with the button being unusually unlarged and a whitespace appearing above the text; after the enrolment is successful, the button display returns to normal.
![image](https://user-images.githubusercontent.com/54243224/175329733-8c424b51-79d3-4d32-9058-dbf0c8981c8d.png)

The button should be fixed so t

[2022-06-23 15:09] samuelfangjw commented on #11876
The "whitespace" is actually a progress bar. Don't think this should be removed at all. At the very least a suitable alternative should be implemented.

[2022-06-23 15:15] zhaojj2209 commented on #11876
Right, that slipped my mind. In my opinion, putting the progress bar display in the enroll button may be a bit jarring, we can consider moving it below the button instead, and possibly also add a percentage completion.

[2022-06-23 15:47] damithc commented on #11876
I had the same confusion until I enrolled a large number of students and saw the progress increasing. A dirty fix is to start with a fake 1% progress so that it's immediately clear it's a progress bar.

[2022-06-23 15:55] samuelfangjw commented on #11876
I've experimented with this idea before. However, the current progress bar we use (ng-bootstrap) doesn't play nicely with small numbers. Here's the progress bar at 1%.

<img width="440" alt="Screen Shot 2022-06-23 at 11 54 16 PM" src="https://user-images.githubusercontent.com/60355570/175342215-4d9550cf-0107-4608-8f81-aa3d224674c0.png">

Might be better than the showing nothing though.

[2022-06-23 16:31] damithc commented on #11876
I see. 10%?

[2022-06-25 13:38] damithc commented on #11609
@sivayogasubramanian based on the initial user report, she is referring to the submission page itself, not the results view.

[2022-06-25 14:32] sivayogasubramanian commented on #11609
@damithc I tested on the submission page. It works for me. Perhaps can try asking the user for more details like the browser, OS, and specific steps to reproduce.

https://user-images.githubusercontent.com/53614454/175778086-757cf402-1f7a-48da-84f3-95b73a1eb92a.mp4

[2022-06-25 17:00] damithc commented on #11609
I've asked the user for more info. Will update here if I hear back from him.

[2022-06-26 07:01] #11854 closed

[2022-06-26 09:18] fans2619 opened #11878 "Account Request Form Upgrade"
This issue keeps track of PRs relating to the account request form upgrade. More info can be found on the wiki at https://github.com/TEAMMATES/teammates/wiki/Account-Request-Form-Upgrade.

[2022-06-27 15:37] tsy24 commented on #11641
Hi, is this issue still available? If yes, I would like to work on this issue.

[2022-06-27 16:34] sivayogasubramanian commented on #11869
@damithc

Should I try to make the frontend changes and see how it goes?

After the PR is up, we can discuss if we want to merge it.

[2022-06-28 14:13] NicolasCwy commented on #11641
@tsy24 Please go ahead!

[2022-06-28 14:36] NicolasCwy opened #11882 "Partially hidden number in search period input"
- **Environment**: live server at V8.17.0

**Steps to reproduce**
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/25302138/176204484-e7c7af33-e11e-498e-869b-a271b1d70878.png">

1. Go to https://teammatesv4.appspot.com/web/maintainer/stats
2. Observe time input for "Search period from" and "Search period until"

**Expected behaviour**
Whole number in the time input boxe

[2022-06-28 14:37] NicolasCwy opened #11883 "Partially hidden number in search period input"
- **Environment**: live server at V8.17.0

**Steps to reproduce**
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/25302138/176204484-e7c7af33-e11e-498e-869b-a271b1d70878.png">

1. Go to https://teammatesv4.appspot.com/web/maintainer/stats
2. Observe time input for "Search period from" and "Search period until"

**Expected behaviour**
Whole number in the time input boxe

[2022-06-28 14:37] NicolasCwy commented on #11883
Although we don't support responsive websites especially for mobile view, this should work for a 12-inch screen, what is the smallest size screen our UI should support could be discussed

[2022-06-28 14:38] NicolasCwy commented on #11882
Duplicate of #11883

[2022-06-28 14:38] #11882 closed, assigned to nobody

[2022-06-28 19:47] TomBurrows101 commented on #11755
I've been working on this for a couple of days, and I keep getting stuck at the testing. I'm honestly not sure why this is happening, but I'm well and truly stuck on it. I can imagine it would be a very simple fix, but as it's my first time contributing, I can't figure it out.

![image](https://user-images.githubusercontent.com/26943188/176271802-6ed29ff7-e4a2-42de-a27c-6bb00931a1d5.png)

[2022-06-29 02:10] zhaojj2209 commented on #7249
@danielsimre Sure, feel free to work on the issue!

[2022-06-29 12:39] sivayogasubramanian commented on #11883
I think 11 inches is a good screen size to support. The smallest laptops usually have screen sizes larger than 11 inches.

[2022-06-29 13:19] fans2619 commented on #11878
@damithc Good night! I just want to check a few more about the account request form. When you are adding an instructor currently, I guess you only fill in the three fields for every instructor: name, email, institution. So I wonder how you use other information provided: country, home page URL, comments/queries. Are these three for viewing only and won't be edited or stored currently?

[2022-06-29 13:23] damithc commented on #11878
@fans2619  I use `name | email | institution, country`

url and comments/queries are used to decide if the request from a legit instructor i.e., you need to display those two to me.

[2022-06-29 13:41] fans2619 commented on #11878
I see. The `institution, country` seems a little troublesome to deal with. Personally I think you won't need to edit the `country` field in any way but only the `country` part in the `institution`. So I tend to show `country` again in the pop-up (not editable) and the `institution` shown can be `institution, country` (editable). By the way, I just came up with another question: probably we want to

[2022-06-29 14:48] fans2619 commented on #11878
Okay I think of a way. So I'll provide institution and country separately and a non-editable result showing the combination of the two (`institution, country`). The result will be updated automatically after you edit either institution or country, and will be used as the final institution.

Yup I can't think of any use either but it's just my personal habit to keep a copy of everything. I don't th

[2022-06-29 16:11] sivayogasubramanian opened #11885 "Admin/Maintainer Logs: Extend start time always causes error"
Extend start time button always causes an error.

**Steps to reproduce**

1. Go to the admin logs page.
2. Try to extend the start time.

**Expected behavior**

Should extend start time.

**Actual behavior**

Fails with an error.

![image](https://user-images.githubusercontent.com/53614454/176486377-11d0372f-4841-4c64-be72-e610842077c5.png)

[2022-06-30 04:11] ziqing26 commented on #11755
@TomBurrows101 Hi thanks for trying to contribute, the error message is saying that you might want to look into the email content and check if your changes have led to changes in email content which fails `assertEquals` in `testGenerateFeedbackSessionEmails`

[2022-06-30 04:47] #10819 closed

[2022-06-30 05:52] #11865 closed

[2022-06-30 06:36] thikhinab opened #11888 "Evaluee/Recipient is being labelled as `Unknown`"
- **Environment**: `master` branch at commit 11865

**Steps to reproduce**
-  Create/Edit a question in a session
-  Select `Custom Feedback Path`
    - Case 1:
        -  Select under `Who will give the feedback`: any option
        -  Select under `Who the feedback is about`:  `Other students in the same section`
    - Case 2:
        - Select under `Who will give the feedback`: any option

[2022-06-30 06:59] #11861 closed

[2022-06-30 15:38] hanzili commented on #11404
Hello, I am having the same issue here, May I ask what it means to access the back end using the front end?
Thank you.

[2022-06-30 16:20] hanzili opened #11889 "stuck on 85% and got 404 error when setting up backend"
- **Commit SHA:** ade11587167a06863f403e7a0b23b8d8bef9ac67
- **Operating System:** Windows11
- **JDK Version:** 11.0.15.1
- **Node.js Version:** v16.15.1
- **Firefox / Chrome Version (if applicable):** Version 103.0.5060.66

**What I was trying to do / What I need help with**
Hello, I am following the development guidelines and trying to manage the backend server.

When executing `gradlew serverRu

[2022-06-30 18:33] ErnestCuong commented on #11889
Apparently, the 85% progress is the intended behavior. [Issue 11638](https://github.com/TEAMMATES/teammates/issues/11638) helped me resolve the problem.

So basically, you need 2 cmd windows, one running frontend and one running backend. Here are my steps but since I am new here I am not sure if this is the correct way of starting the dev server:
- `./gradlew generateTypes` / `gradlew.bat generate

[2022-06-30 21:05] hanzili commented on #11889
Thanks for your reply! What you said is actually what I have done exactly, but I am not able to access `localhost:8080`, as it returns a 404 error.

In that case, I am not able to log in with `app_admin@gmail.com` through the backend.

I tried to log in with `app_admin@gmail.com` from `http://localhost:4200/web/front/home`, but the page just refreshes and nothing else happens.
<img width="960" alt

[2022-07-01 13:46] xyliew25 opened #11890 "Add Firebase Authentication"
- **Environment**: live server at `V8.17.0`

**Description of feature/enhancement**
An authentication solution that supports any domains on top of Google social accounts.

**Justification**
This feature/enhancement benefits users without Google accounts or users who are not willing to use their (likely personal) Google account from using the system.

**Existing similar features and their shortcomi

[2022-07-02 06:59] zhaojj2209 commented on #11889
@hanzili Please refer to the following snippet in the [Development Guidelines](https://teammates.github.io/teammates/development.html#logging-in-to-a-teammates-instance) for instructions on how to log in as administrator:

[2022-07-02 11:15] sivayogasubramanian commented on #11889
`http://localhost:8080` only works when you build the frontend first. Try `npm run build` first then go there again.

[2022-07-03 16:51] TomBurrows101 commented on #11755
@ziqing26 Thanks for responding so quickly. I know that the program is test generating an email to send out (`testGenerateFeedbackSessionEmails`), and then as a part of the test (`EmailChecker.java`) is comparing this email with `src/test/resources/emails/*.html`. What I don't know is, what the differences are between the generated file and the template file. As far as I can tell they are identica

[2022-07-04 11:19] fans2619 commented on #11878
@damithc How does this look like?
![image](https://user-images.githubusercontent.com/68739475/177144394-905a2a0b-2c7d-4546-ad6c-aa9eca31d184.png)

[2022-07-04 12:32] damithc commented on #11878
Use more realistic data e.g., the actual name/institute is likely a lot longer.

Is this the search results view or account creation page view?

[2022-07-04 12:34] fans2619 commented on #11878
This is the search results.

[2022-07-04 12:39] fans2619 commented on #11878
This mockup was created manually instead of using `html`. I think the focus here should be on whether the `Status` and `Options` are fine.

[2022-07-04 13:09] fans2619 commented on #11878
An existing feature. I don't think it's useful though.

An existing feature again, but let me check it out, because it just came to my mind that instead of providing everything in the search results, probably a "Reset" button is enough to set the status back to "Submitted" so you can process it again on the home page.

The term "Registered" is reused from the current (there is a "Registered At" da

[2022-07-04 13:19] fans2619 commented on #11878
I think having a 'Reset' button will also be able to cover this, right? You can approve it again after reset. By the way, the join link is actually displayed in the panel. It can always be manually copied and sent. (It's called "Account Registration Link" now.)

![image](https://user-images.githubusercontent.com/68739475/177162922-dbdd5d15-2187-4708-94a6-3fa95c99d288.png)

Sure. That can be done l

[2022-07-04 13:23] damithc commented on #11878
Yes, that works.

[2022-07-04 13:23] fans2619 commented on #11878
Okay!

[2022-07-05 07:38] ErnestCuong commented on #11888
Hi, I am currently trying to find one issue to solve for my independent work module. If no one is currently resolving this issue, I would like to try and investigate/solve this.

[2022-07-06 09:36] daongochieu2810 commented on #11810
@damithc If we remove the archive feature, we can save some cost because of less write actions. But since this feature is rarely used, the saved cost will probably not be significant. That said, I think we can remove this feature and replace it with pagination as @wkurniawan07 proposed

[2022-07-06 12:22] ziqing26 commented on #11755
I have replied you in your merge request, kindly check it if that helps!

[2022-07-06 13:32] sivayogasubramanian commented on #11774
@damithc Investigated this issue.

Why the problem occurs:

When we try to create a new session by copying a previous session, the name of the session cannot be empty (UI restricts submission of the form). However, trailing spaces are allowed.

<img width="731" alt="Screenshot 2022-07-06 at 9 22 28 PM" src="https://user-images.githubusercontent.com/53614454/177560195-51e5cf70-280e-4f64-aed6-e3cd62

[2022-07-06 14:29] fans2619 commented on #11878
@damithc You may know that there's no `country` field in the database currently since you always put the country inside `institute`. As a result, if we want to store institute and country separately, the way of **ID generation** for an account request needs to be changed. I have actually kind of achieved this separation already, but the solution is very complicated, and it may cause undesired cons

[2022-07-06 14:41] fans2619 commented on #11878
But this can be equivalent to that you edit the institute and country, and we have a combined institute with country stored in the database. I think I'll use this instead. So in the end, the combined still should be stored, in order to make the implementation easier.

[2022-07-06 14:42] damithc commented on #11878
@fans2619 I'm fine as long as I can edit both of them _after_ the user has submitted them, when I'm using the admin UI to accept/reject account requests. They don't even have to be presented to me as two separate fields. It is fine if you want to store them a a single field in the database. Does that clear your doubt?

[2022-07-06 14:43] fans2619 commented on #11878
Yup thanks prof!

[2022-07-07 06:42] wkurniawan07 commented on #11810
@daongochieu2810 monetary cost is not really the saving I was looking at even when creating this ticket. It's the code maintenance cost; this feature introduces a not small amount of logic and dedicated APIs to support.

[2022-07-07 11:28] sivayogasubramanian commented on #11737
@damithc Investigated this issue.

The cause of this issue is the `GetStudentsAction::execute` method returns a response that includes the instructor (I believe that this is wrong). However, this also suggests that the student's database is polluted with instructor entires. This is a very big issue and therefore I do not know if the behavior for the `GetStudentsAction::execute` is correct.

[code]

[2022-07-07 13:07] damithc commented on #11737
@sivayogasubramanian note that it is possible for an instructor to be a student. In fact, the demo courses we create for instructors (when they join TEAMMATES) have themselves added as students. Does that affect your finding above?

[2022-07-07 17:19] damithc commented on #11888
@ErnestCuong is this what you are looking for?https://teammatesv4.appspot.com/web/front/help/instructor#:~:text=How%20do%20I%20preview%20a%20session%3F

[2022-07-07 19:31] ErnestCuong commented on #11888
Thank you for pointing it out for me :)

[2022-07-09 07:57] #11511 closed

[2022-07-09 08:45] #11883 closed

[2022-07-09 11:44] #11885 closed

[2022-07-09 15:33] ErnestCuong commented on #11888
Hi all, I managed to solve case 1 and 2 by adding the 2 missing cases in `recipient-type-name.pipe.ts`. However, as @thikhinab has said, we actually do not know whether the giver or the recipient is an instructor or a student. Does anyone have any suggestion as to what label we should display?

[2022-07-09 17:43] #11694 closed

[2022-07-10 14:46] wkurniawan07 opened #11895 "Release V8.18.0"
Scheduled for Monday, Jul 11, 2022, 2.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-07-10 16:41] #11764 closed

[2022-07-11 02:54] tenebrius1 commented on #11755
Hello, could I just check if @TomBurrows101 is still working on it? If not I have a working solution ready for a pull request!

[2022-07-11 03:32] wkurniawan07 commented on #11810
You should know the answer if you know which entity actually marks the archived status.

[2022-07-11 07:40] #11772 closed

[2022-07-11 07:40] #11796 closed

[2022-07-11 07:51] wkurniawan07 commented on #11895
[V8.18.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.18.0) has been released by @wkurniawan07 at July 11th, 2022, 03.45pm SGT.

Code contributions from: @Mcheung7272, @danielsimre, @fans2619, @sivayogasubramanian, @tsy24, @xyliew25
Review contributions from: @NicolasCwy, @damithc, @samuelfangjw, @wkurniawan07, @zhaojj2209, @ziqing26

Ready for post-release check and deployment by PM (@

[2022-07-11 07:54] wkurniawan07 commented on #8769
Issue has been resolved.

[2022-07-11 07:54] #8769 closed

[2022-07-11 09:13] TomBurrows101 commented on #11755
@tenebrius1 Hi, feel free to go ahead and submit your solution, I don't think I'm going to be able to get this working, and I'm really interested to see how you've done it.

[2022-07-11 09:25] damithc commented on #11895
Deployed and released. Thanks to all who contributed 💯

[2022-07-11 09:25] #11895 closed

[2022-07-11 10:14] domlimm commented on #11860
Hello, is anyone taking this issue? If not, may I please try to fix this? My first time here 😅

[2022-07-11 14:19] damithc commented on #11878
@fans2619 In the case of account requests, the space and cost may not matter much as the number of entities is relatively small. So, you can save as two fields too, if it helps.

[2022-07-11 14:24] fans2619 commented on #11878
Hmm to be honest, what helps me more is to store as a single field. I just hope that won't make admin's life too difficult. Storing as two fields is the hardest to implement, so it's either 1 (combined result only) or 3 (institute, country, instituteWithCountry).

[2022-07-11 14:29] damithc commented on #11878
Sure, no objections.

[2022-07-11 16:12] thikhinab commented on #8450
If no one is working on this issue, may I attempt to solve this?

[2022-07-12 12:19] #11868 closed

[2022-07-12 18:47] ErnestCuong commented on #11839
Hi prof, can I ask if someone has already worked on this issue? May I try investigating the issue?

[2022-07-12 19:07] damithc commented on #11839
@ErnestCuong Unlikely anyone else is working on it, as no one has commented in this thread yet. So, go ahead.

[2022-07-13 03:01] fans2619 commented on #11878
@damithc Previously we discussed about what to do when another **REJECTED** account request exists <ins>when a user submits the account request form</ins>, and we decided to overwrite that account request. However, thinking about it again last night, it may not be a good enough solution because it can cause admin to process the same request again and again. So what if we just ban all submissions i

[2022-07-13 03:29] xyliew25 opened #11899 "Data migration: Set `FeedbackContributionQuestionDetails.isZeroSum` of old questions to `false`"
Data migration initiated by PR #11827.

- [x] Merged code that work for both the old and new versions of the data schema.
- [x] Released a version containing the above in V8.18.0.
- [x] Created a client script to migrate all data following the old schema to the new schema in PR #11898.
- [x] Ran the script against the live site.
- [x] Removed the code that is specifically tailored for the old data

[2022-07-13 04:18] damithc commented on #11878
You mentioned earlier that doing so is a minor data leakage as it allows any third party to find out if a certain other person has requested for a TEAMMATES account.

Would adding another status 'Reapplied' help?

[2022-07-13 04:23] fans2619 commented on #11878
Yeah I mentioned before that this can cause a minor data leakage but it's not a big issue as long as we don't disclose the status of the account request. Many existing systems do tell users requesting for an account that the email address/phone number/... already exists.

[2022-07-13 04:30] damithc commented on #11878
Sure. Inform the user that an account request exists and provide the email address to contact us if further assistance is needed.

[2022-07-13 14:43] thikhinab commented on #9976
May I attempt to work on this issue, if no one else is?

[2022-07-13 15:49] ziqing26 commented on #9976
@thikhinab Hello, yes you may work on it as there is no open PR yet.

[2022-07-13 17:31] thikhinab commented on #9976
@ziqing26 Noted with thanks!

[2022-07-14 00:56] fsgmhoward commented on #11888
@damithc Hi prof, any comment for his question?

[2022-07-14 05:53] damithc commented on #11888
Only students can be in teams (i.e., instructors cannot be in teams). Does that resolve the issue?

[2022-07-14 11:27] ErnestCuong commented on #11888
Hi prof @damithc , yes that does resolve and simplify the issue. Thank you.

[2022-07-15 11:08] fans2619 commented on #11878
@damithc I would like to add a new admin page called "Requests" to display account requests related stuffs. It's a bit message to put everything together since we're going to have show account requests processed recently. Afterwards, I can change the "Requests" page to be the new admin home page for convenience and move the current home page to a new page.

[2022-07-15 13:06] damithc commented on #11878
OK, we can try that and see how it goes.

[2022-07-18 09:29] damithc commented on #11878
It's a text field. Something like this:

`x.log = x.log + "[Approved on 2022-07-25]"; `

But OK to omit as it's not a must-have feature.

[2022-07-18 09:36] fans2619 commented on #11878
Yup it will be a text field after serialization. However, before serialization, ideally there should be some corresponding classes so that there is a way to deserialize the information later. If everything is a pure string, the implementation is just too rigid, which can be hard to use/maintain/migrate in the future in case we want to extend the log (e.g., to store rejection reasons).

[2022-07-20 14:42] ErnestCuong commented on #11839
Hi prof @damithc, I am unable to replicate the problem as you have mentioned. This is the question that I tried to edit into what was shown in your picture.
![image](https://user-images.githubusercontent.com/77197568/180009676-99181268-c5a0-404a-b3b9-faa3e5aa2753.png)

I am on the current version (after commit #11812) of the master branch. This session is created using `point-based` option. I down

[2022-07-20 15:07] tenebrius1 commented on #11564
Hello, is anybody investigating this issue? If not I don't mind looking into it!

[2022-07-20 16:58] ErnestCuong commented on #11839
I will continue investigating the error logs

[2022-07-20 17:17] damithc commented on #11839
Yes @ErnestCuong , there may be an other compounding factors (in addition to the odd feedback path) that combines to cause the assertion failure. Looking into the assertion code might yield some clues as well i.e., what exactly is the assertion condition that evaluates to False and how can it be False?

[2022-07-22 15:19] tenebrius1 commented on #11564
@fsgmhoward I have a few questions regarding this issue:
1. I'm not too sure what the team's stance is with regards to solutions that add in new dependencies so I just wanted to check if it is okay if a solution I found requires adding in a new NPM package -- [`globby`](https://www.npmjs.com/package/globby) as suggested in [this issue](https://github.com/evanshortiss/lintspaces-cli/issues/21) of t

[2022-07-23 07:26] wkurniawan07 opened #11908 "Update Datastore emulator JRE version"
https://github.com/TEAMMATES/teammates/blob/4ec69d715415d491038fc1cef701dc13596d615a/datastore-dev/Dockerfile#L1-L6

Datastore emulator has dropped support for Java 8 since [Cloud SDK version 393.0.0](https://cloud.google.com/sdk/docs/release-notes#39300_2022-07-12).

[2022-07-23 07:58] #11908 closed

[2022-07-23 09:13] #11755 closed

[2022-07-24 05:49] ErnestCuong commented on #11839
I might have found the issue. It is in the file `FeedbackQuestionsLogic`

In `getRecipientsOfQuestion`, there is `assert instructorGiver != null || studentGiver != null;` on line 278
![image](https://user-images.githubusercontent.com/77197568/180633940-536cd0a1-724b-4e29-b09a-2ea1d74d1f50.png)

In `buildCompleteGiverRecipientMap`, `getRecipientsOfQuestion` is used with either `instructorGiver` or

[2022-07-24 09:44] FergusMok opened #11911 "Instructor copying course: Progress bar does not load when no feedback sessions are copied"
Master Branch & V8.18.0

**Steps to reproduce**

https://user-images.githubusercontent.com/10182564/180641338-93540c15-066f-4227-9e77-4d6ac50191db.mp4
1. Login as instructor
2. Attempt to copy course, but do not select any feedback sessions to copy

**Expected behaviour**
Loading bar to progress when copying, show the correct progress, and close when it is finished. Show the successful alert when

[2022-07-24 11:29] damithc commented on #11911
@FergusMok thanks for reporting this. I could not reproduce it in the release branch (tried only once though). Is it a recent regression?

[2022-07-24 11:57] ErnestCuong commented on #11839
Hi prof @damithc , may I ask how to download the questions individually?

[2022-07-24 13:08] damithc commented on #11839
Click on the question number
![image](https://user-images.githubusercontent.com/1673303/180648451-e55b7978-88ef-47e1-aadd-c559acde8a26.png)

[2022-07-24 14:56] FergusMok commented on #11911
@damithc I realized it may be because I did not select any feedback sessions to copy, and you might have, and that'll result in the difference in behavior. This might not be a regression, as there's no changes to the code since it was implemented

![image](https://user-images.githubusercontent.com/10182564/180652521-360ca29a-6a87-4dc0-bddf-6fec5b94117e.png)

For others who are interested in trying

[2022-07-24 15:03] FergusMok commented on #11876
Perhaps the default value (e.g 10%) can be built into the component too, so that all the progress bars can benefit

e.g for the edit course progress bar. May be clearer that it's a progress bar with it's title, but still confusing if it stays at 0% for a brief period
![image](https://user-images.githubusercontent.com/10182564/180653081-0f085f45-1254-400e-8ce0-4cd76da8d4e6.png)

[2022-07-24 15:40] damithc commented on #11911
Correct. I can reproduce it if I don't select any sessions to copy.

[2022-07-25 15:37] domlimm commented on #11860
Hello, sorry for the radio silence for the past 2 weeks. Been occupied with other stuff but spent some time looking into the issue. It's not an easy one to fix. Just some update on the progress.

I have tried one way and testing on my Samsung S21 but it looks really awkward, like it's unacceptable imo.

Here is what it looks like:

https://user-images.githubusercontent.com/46486515/180817701-b7b21

[2022-07-25 16:30] domlimm commented on #11911
Hello, I would love to pick up this issue as a first timer! If everyone's okay with it. Thank you! 🍻

[2022-07-25 16:59] ErnestCuong commented on #11839
Hi prof, I notice that the path shown in the error log might not be used by the download function anymore. It uses the code in the typescript file now rather than the java file. I will continue my investigation to see if this is true.

[2022-07-26 02:40] fsgmhoward commented on #11564
@tenebrius1

1. As far as I know we are quite loose about npm dependencies since they are used frontend and do not impose much security issue to the production data. You may proceed if you think it is necessary
2. I do not have a list of them. However, as @FergusMok suggested above, you may actually consider making it to lint files with `git diff` only. This will effectively skips files unchanged

[2022-07-26 08:16] tenebrius1 commented on #11564
@fsgmhoward Thanks for the clarification! I will look into whether there is a way to only run linting on files with `git diff`.

[2022-07-26 15:49] #11888 closed

[2022-07-26 15:54] wkurniawan07 opened #11913 "Update backend dependencies"
Routine update of backend dependencies; the last time was done on end February

[2022-07-27 11:34] ErnestCuong commented on #11839
Hi prof, so I took a crash course on servlets and I think my previous assessment was wrong. I am looking at the potential cause for both studentGiver and instructorGiver to be null, in this case specifically instructorGiver since the path is about the instructor giving feedback on nobody specific.

[2022-07-27 14:34] damithc commented on #11839
Keep digging and let us know if you find something promising.

[2022-07-27 14:34] xyliew25 opened #11916 "Data Migration: Append `googleId` that does not contain `@` with `@gmail.com`"
Data migration initiated by PR #11903.

- [x] Merged code that work for both the old and new versions of the data schema.
- [x] Released a version containing the above in V8.19.2.
- [x] Created a client script to migrate all data following the old schema to the new schema in PR #11903.
- [x] Ran the script against the live site.
- [x] Removed the code that is specifically tailored for the old data

[2022-07-29 10:38] thikhinab opened #11917 "`QuestionSubmissionFormComponent` sorts `recipientList` and `recipientSubmissionForms` before being loaded"
- **Environment**:  `master` branch at commit fb2a359.

**Steps to reproduce**
- Load a session submission page

**Expected behaviour**
- The loaded `recipientList` and `recipientSubmissionForms` is sorted by the frontend,

**Actual behaviour**
- Both `recipientList` and `recipientSubmissionForms` is sorted before the `model` is loaded.
- However, the user cannot see a difference in the UI since t

[2022-07-29 19:25] ErnestCuong commented on #11839
Hi prof, I am able to reproduce the problem. Apparently, this will occur when there are 2 or more instructors, with the session creator giving the feedback(? may not need) and then quitting the course, and the other instructors download the session results.

[2022-07-30 03:59] damithc commented on #11839
Good work @ErnestCuong Once you've pinned down the cause, you can proceed to attempt a fix (if you like).

[2022-07-30 04:06] #11911 closed

[2022-07-30 06:04] #11774 closed

[2022-07-30 06:04] zhaojj2209 commented on #11889
Closing as queries have been addressed.

[2022-07-30 06:04] #11889 closed

[2022-07-30 06:36] #11825 closed

[2022-07-30 07:45] N-S-H commented on #11826
Hi, Is anyone working on this? Can I take it

[2022-07-30 12:18] ErnestCuong commented on #11839
Hi prof, I would like to attempt a fix.

[2022-07-30 13:55] damithc commented on #11839
Sure @ErnestCuong go ahead.

[2022-07-31 02:56] domlimm commented on #11791
Hello! I have taken a look at this issue and the currently opened PR. Not sure if it's still a work in progress. I'd love to work on this issue if that's okay.

[2022-07-31 02:57] zhaojj2209 commented on #11826
Feel free to make a PR for this issue!

[2022-07-31 03:52] damithc commented on #11791
@domlimm as that PR has not progressed for a while, feel free to takeover and complete the rest but give credit to that PR author if you reuse the code (reuse is recommended as a plenty of work has been put into that PR already).

[2022-07-31 11:12] domlimm commented on #11791
@damithc thanks prof! I will work from the PR and definitely on the credit 👍🏻

[2022-07-31 14:09] wkurniawan07 opened #11919 "Release V8.19.0"
Scheduled for Monday, Aug 1, 2022, 12.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2022-07-31 15:08] #11917 closed

[2022-08-01 07:33] fans2619 commented on #11878
@damithc Hi prof, a question here: Previously we decided that the `lastProcessedAt` timestamp would be updated when you edit and save an account request. My question here is if there's no change made (same account request as before), do you prefer the `lastProcessedAt` timestamp to be updated to the latest or remain? This will unlikely happen but I just want to know your preference.

[2022-08-01 07:57] damithc commented on #11878
I guess you can still update the timestamp if the user does a deliberate write op, even if it is x = x.

[2022-08-01 07:57] fans2619 commented on #11878
Sure.

[2022-08-01 12:26] #11913 closed

[2022-08-01 13:25] wkurniawan07 commented on #11919
[V8.19.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.19.0) has been released by @wkurniawan07 at August 1st, 2022, 09.15pm SGT.

Code contributions from: @ErnestCuong, @daongochieu2810, @domlimm, @inifnite, @sivayogasubramanian, @tenebrius1, @thikhinab, @wkurniawan07, @xyliew25
Review contributions from: @FergusMok, @NicolasCwy, @damithc, @samuelfangjw, @wkurniawan07, @zhaojj2209, @ziq

[2022-08-02 14:28] damithc commented on #11919
Deployed. Thanks everyone who contributed 💯

[2022-08-02 14:28] #11919 closed

[2022-08-03 15:11] wkurniawan07 commented on #11919
@damithc [V8.19.2](https://github.com/TEAMMATES/teammates/releases/tag/V8.19.2) is released

[2022-08-04 06:37] tau-bar opened #11924 "Course Enroll Page highlights the wrong rows"
Course Enroll Page highlights the wrong rows: In the event that students are added, but not starting from the first row, the wrong rows are highlighted.

**Environment**: V.8.19.2

**Steps to reproduce**

Insert rows of students (either new, modified or unchanged) not starting from the first row. An example is shown below:

![image](https://user-images.githubusercontent.com/61085398/182779557-5c11

[2022-08-06 22:19] mattlim1207 commented on #9534
If no one is working on this/if this is still relevant, I can take it.

[2022-08-07 09:47] Abhijeetmishr commented on #11890
@xyliew25 Is anyone working on this ?

[2022-08-07 10:14] xyliew25 commented on #11890
@Abhijeetmishr hi, yes, I'm currently working on this issue. PR #11891 includes changes required for the back end as well.

[2022-08-07 11:03] Abhijeetmishr commented on #11890
Ok thank you
I am new to this project & OpenSource any sugesstion to pickup any issue from backend ?

[2022-08-07 13:23] domlimm commented on #11924
@tau-bar hey Taufiq, i think you've created the PR for this issue in your forked repo instead of the upstream.

[2022-08-07 14:20] isabelteo opened #11925 "Help Request: E2E Tests"
Help Request with E2E Tests

- **Commit SHA:** 3155a78b64ba33ae3ed93a3754db3b9d5b828775
- **Operating System:** Windows
- **JDK Version:** openjdk version "11.0.11" 2021-04-20
- **Node.js Version:** v17.7.1
- **Chrome Version (if applicable):** 103.0.5060.134
- **Chrome Driver  Version:** 103.0.5060.134

**What I was trying to do / What I need help with**
I was setting up the project and I have pa

[2022-08-07 14:42] samuelfangjw commented on #11925
Could you try again with the Firefox driver (geckodriver), I suspect that there may be some issues running e2e tests with chromedriver at the moment.

[2022-08-07 14:52] tau-bar commented on #11924
Sorry, it was a PR I did for selection phase. I'll create a new PR to the upstream instead.

[2022-08-07 15:13] wkurniawan07 commented on #11925
The first one (`NoSuchElementException`) is one of those intermittent timing issues; this should go away after a few tries. But everything else looks like a weird setting in your locale; either your browser or your Java runtime does these two things: (1) adds the extra dot after the month name and day name and (2) converts AM/PM to lowercase.

[2022-08-07 16:01] domlimm commented on #11924
Oops sorry.. I think we might be on a different page. I thought you might have mistakenly created it in your forked repo. If it's for other reasons sorry about that! Please revert and ignore what I said 😓

[2022-08-07 16:07] tau-bar commented on #11924
@domlimm It initially was for the selection phase, but if the bug fix works can it be merged into the main repo? Are there any refinements I should make to the PR?

[2022-08-07 16:12] domlimm commented on #11924
@tau-bar I see! Sorry not too sure about this selection phase. Could be part of a module. For the rest of your questions, maybe others who are more familiar can answer.. Think we're a little confused

[2022-08-07 16:32] mattlim1207 commented on #9534
I can take this up if still relevant

[2022-08-07 19:59] ErnestCuong commented on #11839
Hi prof, I have been able to narrow down to where a change can be made. Apparently, every session keeps track of its creator's email, but the issue arises when that email is used to find the instructors (attributes) in the course who has already quitted, hence causing it to return null and thus the assertion error. I am thinking about a few possible solutions:
1. Adding a field in each session tha

[2022-08-08 01:43] damithc commented on #11839
Thanks for the update @ErnestCuong You'll  need the dev team's advice on which alternative to take. Given this is a corner case, adding a new field into the database may be too drastic though.

[2022-08-08 03:22] #9976 closed

[2022-08-08 03:46] zhaojj2209 commented on #9534
Hello, feel free to submit a PR for this!

[2022-08-08 03:48] zhaojj2209 commented on #11890
@Abhijeetmishr We recommend starting from issues with the `good first issue` label on them!

[2022-08-08 07:38] #11924 closed

[2022-08-08 11:55] domlimm commented on #11826
Hello! I would like to attempt this if no one's working on it please.

[2022-08-08 14:40] rohanshankar commented on #11826
Can I be assigned the issue if no one is working on it?

[2022-08-08 16:28] damithc opened #11929 "Instructors with custom permissions cannot reach the session results page"
v8.19.2, production, reported by a user

Scenario: An instructor has been given permission to view responses of a specific section only. See below for an example:
![image](https://user-images.githubusercontent.com/1673303/183466441-9f9cb32b-255d-4404-b253-5dca0f19d070.png)

Problem: When that instructor tries to view results of the session, the following error shows up:
![image](https://user-image

[2022-08-08 16:34] wkurniawan07 commented on #11929
Admittedly, the permission-checking code at this page (both versions) is quite a mess. But just to get the record straight, this is the course-wide page?

[2022-08-08 16:53] damithc commented on #11929
Yes, it is a course-wide results page. The course owner figured out a workaround, by setting the permissions in this way instead:
![image](https://user-images.githubusercontent.com/1673303/183471163-ea9f9d9d-ab1c-4d3a-b540-c62388a9b729.png)

In this case the tutor can see the results, as long as he selects the correct section here:
![image](https://user-images.githubusercontent.com/1673303/1834713

[2022-08-08 17:06] damithc commented on #11929
Lowering priority as the user found a workaround.

[2022-08-08 17:09] domlimm commented on #11860
Hello, just some updates... Been trying different things - directly editing the `navbar/nav` styling, looking into bootstrap styling, checking if any variable e.g. `isCollapsed`, is causing this issue, but to no avail.

Completely removed the navbar and added bootstrap's navbar `fixed-top` example and found that the same UI bug still persists even with the `nav` declared as such (in image).

![ima

[2022-08-08 17:15] isabelteo commented on #11925
@samuelfangjw @wkurniawan07 thank you for the replies! I tried geckodriver and it has the same assertion errors so I think I will try doing the set up again to figure out what is wrong with my browser or Java runtime!

[2022-08-08 17:15] #11925 closed

[2022-08-11 15:50] tau-bar commented on #11929
Is anyone working on this? If not I'd like to try and fix this issue.

[2022-08-12 01:27] mattlim1207 commented on #9534
Ran into a bit of a wall with E2E testing where a test fails, do all E2E tests need to pass?  A few tests fail both with and without my modifications, and from my limited knowledge, the change I made should have absolutely no affect on it.

[2022-08-12 14:02] Broadwc opened #11931 "Question Development"
Hi,

I'm one of a number of academics who love TEAMMATES at our institution. What has been developed is amazing and it fills 95% of my needs perfectly. I saw the release allowing zero-sum contribution questions and wondered if there would be a possibility for me to join the community and work on a couple of other questions variations that would be really helpful for my modules.

This probably isn'

[2022-08-12 14:11] damithc commented on #11931
Christian, glad to hear you found TEAMMATES useful. You are most welcome to contribute code to TEAMMATES. The guide for potential contributors is at https://teammates.github.io/teammates/contributing-doc.html

Please note that changes to features need to be proposed (and approved) first, as we might not want to add features that whose benefit is not enough to justify the future maintenance cost.

[2022-08-12 19:39] mattlim1207 commented on #11156
I can pick this up

[2022-08-13 08:44] domlimm commented on #11869
Hello, may I ask if anyone is attempting to make the frontend changes? If not, I could possibly try it!

[2022-08-13 08:49] sivayogasubramanian commented on #11869
@domlimm Go ahead. I am not working on this right now.

[2022-08-13 08:51] domlimm commented on #11869
@sivayogasubramanian Alright, thanks Siva!

Also, updated my reply to clarify on some things. If you could please have a look! 🙇🏻

[2022-08-13 08:59] sivayogasubramanian commented on #11869
@damithc @domlimm I think the proposed solution by @thikhinab is good in my opinion. We can have two types of messages, "Awaiting your response" and "You previously submitted a response. You can submit again if you wish", or something along those lines.

This keeps the webpage in edit mode and allows the user to see some visual confirmation of the submission status if they are unsure.

The alterna

[2022-08-13 09:05] domlimm commented on #11869
@sivayogasubramanian I agree with you on @thikhinab's proposed solution. Think it's the cleaner approach for now. I guess we could see how it goes! For a start, i'll attempt with the former one.

[2022-08-13 09:09] Broadwc commented on #11931
Hi Damith, thanks for the note. I'll start making a suggestion and see how it goes!

[2022-08-13 09:27] sivayogasubramanian commented on #11869
Let's wait for Prof's input as the alternative was suggested by him.

[2022-08-13 09:29] domlimm commented on #11869
Okay, no problem! Won't start so soon. 👍🏻

[2022-08-13 10:12] NicolasCwy commented on #11929
@tau-bar Go ahead, but do keep us in the loop as @wkurniawan07 has mentioned that the checks are in this page might be messy

[2022-08-13 10:13] #11931 closed

[2022-08-13 10:23] tau-bar commented on #11929
Alright, will do

[2022-08-13 10:53] damithc commented on #11869
We already show this to the user
![image](https://user-images.githubusercontent.com/1673303/184480007-6ba774d5-5a2e-4e6c-98b5-6f99e13708c0.png)

Showing similar messages in each question _might_ help a bit (while adding more verbosity) but the issue here is that the form stays in edit mode which is different from the normal form submission behavior. So, as long as the we retain that behavior, some

[2022-08-13 14:47] tau-bar opened #11935 "Instructors with custom permissions cannot view student list"
Similar to #11929, if the instructor only has privilege to view student details, they are unable to view the student list.

v8.19.2, development server on master branch.

**Steps to reproduce**
Set the permissions as such:
![image](https://user-images.githubusercontent.com/61085398/184499023-9093a42e-ee56-437b-87bb-14e08d197dc4.png)

**Expected behaviour**
Instructor should be able to see the stud

[2022-08-13 14:59] domlimm commented on #11869
@damithc works for me prof! Agree on a subtle indication to the user that a question's already saved. In my opinion, this is a great way of showing!

As for this below, maybe could see if we need it.

Will add your suggestion probably tomorrow 👍🏻 and ping back here when it's done.

Thank you both, prof and Siva! 🙂

[2022-08-14 14:52] ErnestCuong commented on #11935
Hi, I would like to investigate the issue. Is anyone else working on it?

[2022-08-14 17:28] fsgmhoward commented on #11935
@ErnestCuong I don't think so. Please proceed. Thanks.

[2022-08-15 10:10] fans2619 commented on #11935
@tau-bar How do you know that's a bug instead of an expected behavior?

[2022-08-15 10:33] fans2619 commented on #11929
@damithc Although I'm not very sure, based on the phrasing in the UI, probably the workaround is actually the correct way to set things. Looking at the page, it says "In general, this instructor can ... but in sections ... this instructor can **only** ...". From my interpretation, the word "only" seems to imply something more restrictive. So it's probably supposed to mean in order for the instruct

[2022-08-15 13:43] damithc commented on #11929
@fans2619 You are right in that the the current behavior seems to agree with the UI. For practical purposes though, we need to support both approaches, or switch to the other approach. This is because the more common scenario is a tutor is given access to her own section only. That is, number of inaccessible sections could be a lot more than accessible sections, making the configuration very verbo

[2022-08-15 14:55] tau-bar commented on #11929
@fans2619 @damithc Perhaps a more accurate way to phrase it would be to say "~~But~~ In sections... this instructor can only...", so that the UI would be consistent with the logic? Since as mentioned, the more common scenario is for the tutor to only be given access to their own section. However, I believe issue #11935 needs to be resolved as well before the UI would entirely match the logic of th

[2022-08-15 15:31] fans2619 commented on #11929
I totally agree with this.

[2022-08-15 15:57] damithc commented on #11929
Yup. Perhaps remove `only` as well.

[2022-08-16 01:43] tau-bar commented on #11929
I have updated the UI in the PR.

[2022-08-17 12:54] #9534 closed

[2022-08-19 11:35] tau-bar commented on #11639
Hello, @FergusMok is it okay if I try working on this?

[2022-08-19 12:19] tau-bar commented on #11754
I'd like to work on this issue if no one is working on it.

[2022-08-19 15:55] damithc commented on #11869
I think it should be persistent. Other suggestions welcome.

[2022-08-19 22:48] mestrag commented on #11826
Can i take up this task  to help out ?

[2022-08-20 01:35] sivayogasubramanian commented on #11869
Same.

[2022-08-20 03:49] domlimm commented on #11869
Thank you both! Will work on it 👍🏻

[2022-08-20 15:22] FergusMok commented on #11639
@tau-bar Yes please go ahead :)

[2022-08-21 03:02] damithc opened #11941 "Instructor creating courses: auto-trim text fields"
v8.19.2, production

Current: When creating a course, there will be an error message if the course ID or the name has leading/trailing white spaces

![image](https://user-images.githubusercontent.com/1673303/185773399-d7322504-46bf-4ca4-bebe-8b3fd08aed57.png)

Suggestion: Auto-trim those fields as such leading/trailing spaces are sure to be accidental rather than intended.

[2022-08-21 03:12] domlimm commented on #11941
Hello prof, I would like to please pick up this issue.

[2022-08-21 03:36] damithc commented on #11941
@domlimm let's leave this to a first time contributor (unless someone from the dev team thinks it is too much for a first timer)

[2022-08-21 08:40] thomasengels commented on #11941
I would like to take this on :D my first contribution to opensource

[2022-08-22 09:26] Basfar commented on #11941
I would like to take this up

[2022-08-22 09:38] Ranzeb commented on #11941
HI, I would like to take this issue up and try to fix it

[2022-08-22 12:49] fsgmhoward commented on #11941
Lets make it first come first serve. @thomasengels Would you like to proceed with it?

[2022-08-22 12:52] NicolasCwy commented on #11826
@mestrag Please go ahead

[2022-08-22 13:26] zhengtaoJ commented on #11719
Hi may I know is this issue resolved? If not can I work on it?

[2022-08-22 22:42] thomasengels commented on #11941
Definitely :D

[2022-08-23 06:22] zhaojj2209 commented on #11719
@zhengtaoJ Feel free to submit a PR for this issue!

[2022-08-23 06:33] tau-bar commented on #11639
@FergusMok Could you help me in reviewing the PR?

[2022-08-23 11:19] thikhinab opened #11945 "Add frontend tests for `course-edit-form`"
- **Environment**: `master` branch at commit 39192f4

**Description of feature/enhancement**
Add front-end testing to test course edit form to look out for software regression.

**Justification**
Though the `course-edit-form` within other components, its internal working (such as the behavior of the form for invalid input) is not yet tested.

**Additional info**
There is difficulty in testing the

[2022-08-23 12:42] thikhinab opened #11947 "Improve UI of Error Toasts"
- **Environment**:  `master` branch at commit 39192f4

**Description of feature/enhancement**
Propose to update the front-end to facilitate error messages to be represented as multiple toasts rather than a single one.

**Justification**
Currently if there are multiple error messages, it appears in a single toast in certain cases (e.g. where the back-end returns an array of error messages). Since t

[2022-08-23 12:50] damithc commented on #11947
Yes, it might be better to show as three separate lines (like a bullet list). I'm not sure how much formatting is possible inside  toasts though.

[2022-08-23 12:54] thikhinab commented on #11947
@damithc Okay prof, will start working on this.

[2022-08-24 13:51] Shubhcs01 commented on #11941
Is this issue resolved?

[2022-08-24 14:53] thomasengels commented on #11941
I will check the code later today. Just have been super busy with my actual developer job

[2022-08-24 15:06] thikhinab commented on #8431
Hi! I would like to work on this issue. May I have a rough idea on the starting point of the UI. What I have understood from  the quoted, a possible solution is to have easy access links/icons next to each question type. This link would open a new tab to the help/instructions given for the particular question at the `Setting up Questions` section.

[2022-08-24 16:15] damithc commented on #8431
Yes @thikhinab , that's my current thinking. Other views welcome.

[2022-08-24 16:24] thikhinab commented on #8431
@damithc Understood prof! Will come up with working solution!

[2022-08-26 15:17] damithc opened #11950 "Student submitting zero-sum contribution question: the error message is misleading"
v8.19.2 live server

Scenario: A student is submitting responses for a contribution question. The zero-sum constraint is in force. The team has five members. The student enters `Equal share + 20%` for all five members.

Error message shown:
![image](https://user-images.githubusercontent.com/1673303/186937423-8fd26233-861d-4756-9126-aa18f52e8664.png)

It should read `Current total 5 x Equal share +

[2022-08-26 15:29] domlimm commented on #11950
Hello prof, may I ask if this will be a good first issue? If not, I'd love to work on this 🙂

[2022-08-26 15:39] damithc commented on #11950
@domlimm let me mark it for first timers, for the time being. @xyliew25 is this suitable for a first timer (i.e., an easy fix)?

[2022-08-26 15:40] damithc commented on #11950
On second thoughts, @domlimm go ahead and fix it. I think it's best to fix this soon as it can result in unnecessary support requests.

[2022-08-26 15:41] domlimm commented on #11950
Will fix it ASAP. Thanks prof!

[2022-08-26 17:59] domlimm opened #11951 "Unable to access `web/admin/home` after logging in"
- **Commit SHA:** 39192f4a67bcf1a5f5439e6181fc062e0973ad90
- **Operating System:** Windows 10
- **JDK Version:**
[code]
- **Node.js Version:** v16.17.0
- **Firefox / Chrome Version (if applicable):** Chrome

**What I was trying to do / What I need help with**

Issue: `You are not authorized to view this page` after logging in from `http://localhost:8080/web/admin/home`.

Yesterday, I deleted my co

[2022-08-27 10:48] #11935 closed

[2022-08-28 06:23] akhil9281 commented on #11941
Hello, I would like to work this issue. Can anyone tell me which file does this "COURSES" exist ??

[2022-08-28 09:38] tenebrius1 commented on #11951
Hi @domlimm, could I check what value you used to log in to `http://localhost:8080/web/admin/home`? If you did not change any values in the `build.properties` file, the default admin email should just be `app_admin`.

[2022-08-28 12:50] tau-bar commented on #10480
I'd like to work on this issue. It seems to still be existing currently.

[2022-08-28 13:24] seb-lex commented on #11941
I couldn't find it either. I did a text search for words on the page but found numerous files containing it. Not sure what we'd edit.