[2018-02-09 09:26] bqnguyen94 commented on #8415
In this method
https://github.com/TEAMMATES/teammates/blob/a1e79ad5effda8542d619c7e0b88ecc3cdd694d6/src/main/java/teammates/common/datatransfer/questions/FeedbackMsqQuestionDetails.java#L119-L128
I'm quite baffled as `msqChoices` is set to empty then not populated back (not in `generateOptionList` as well) while `numOfMsqChoices` is set to the size of the generated list for `courseId`. Am I missin

[2018-02-09 09:27] sukanta-27 commented on #8407
@shivamtrip53 This is the same error I mentioned in https://github.com/TEAMMATES/teammates/issues/8407#issuecomment-363680407.
As @tshradheya mentioned, though you are getting the build failure, you can check if your app is deployed or not. Chances are it has.

[2018-02-09 09:33] whipermr5 commented on #8415
I believe you have found the bug! This was done in #7509 (specifically, [this](https://github.com/TEAMMATES/teammates/pull/7509/commits/48f9b245961b5be986a5b2bc0aec0ae9f442f8f9) commit). @VamsiSangam was this intentional? This leads to a non-zero `numOfMsqChoices` being stored in the datastore even though `msqChoices` is stored as empty.

[2018-02-09 10:30] shivamtrip53 commented on #8407
@tshradheya , @sukanta-27 , Yes, it has been deployed.

[2018-02-09 10:30] #8407 closed

[2018-02-09 11:58] tran-tien-dat commented on #8421
I'm not sure what exactly is wanted. If the method is supposed to return sessions that has the open status at some point during the queried time period, then we can reduce the condition to either `(startTime <= queryStart) && (endTime > queryStart)` or `(startTime > queryStart) && (startTime <= queryEnd`

[2018-02-09 13:34] #8093 closed

[2018-02-09 14:04] whipermr5 opened #8422 "Revert Cloud SDK 188.0.0 regression workaround"
Now that the latest version [works](https://travis-ci.org/whipermr5/teammates/builds/339458965) again, we can revert the workaround introduced in #8416.

[2018-02-09 14:39] #8422 closed

[2018-02-09 15:52] whipermr5 opened #8424 "Release V6.2.0"
Scheduled for February 9, 2018, 11.59pm SGT.

[2018-02-09 15:56] #8403 closed

[2018-02-09 17:44] whipermr5 commented on #8424
[V6.2.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.2.0) has been released by @whipermr5 at February 10th, 2018, 01.31am SGT.

Code Contributions from: @Haozhe321, @JosemyDuarte, @junkiattan, @tran-tien-dat, @tshradheya, @whipermr5, @wkurniawan07
Review Contributions from: @amarlearning, @damithc, @tran-tien-dat, @whipermr5, @wkurniawan07, @xpdavid

Ready for post-release check and dep

[2018-02-09 18:54] tran-tien-dat opened #8427 "InstructorCoursesPage: course creation time is displayed in UTC instead of local time"
`CourseAttributes.createdAt` is stored in UTC. However, when it is displayed, it uses `TimeHelper#formatDateTimeForInstructorCoursesPage` and does not make use of the course's timezone information. Fixing it is not so trivial because the course timezone is stored as a `String` instead of `double` like in other places, and currently we don't have a mapping between timezone string and timezone doubl

[2018-02-10 01:07] whipermr5 commented on #8427
Isn't storing it as string ideal? It was always the plan to store it as string instead of double, since the double value changes depending on whether DST is active in that zone. We can use `ZoneId.of(string)` and apply it to the instant to get a `ZonedDateTime`? Displaying this `createdAt` field can be a practice of how to display dates in timezones affected by DST. This will be how we display all

[2018-02-10 03:54] tran-tien-dat commented on #8427
I see. I thought that the string is in the format specified in our `TimeHelper` class which would not be recognized by `ZoneId.of(String)`. Since it can be easily recognized by `ZoneId`, I will just include the fix in my PR.

[2018-02-10 04:14] tran-tien-dat commented on #8427
Minor Point: I think timezone should be stored in database a a `String` but should be convertedto `ZoneId` upon  load so the type of `timezone` fields are `ZoneId`.

[2018-02-10 05:26] damithc opened #8429 "InstructorFeedbackResultsPageUiTest: fix failure against live server"
v6.2.0
Failed after repeated tries.
[code]

[2018-02-10 06:22] damithc commented on #8424
Deployed

[2018-02-10 06:22] #8424 closed

[2018-02-10 06:34] tshradheya opened #8430 "Static Analysis Tools : Explore SonarQube"
As suggested in the **Project Ideas**, having SonarQube for the project would be a good improvement.
I am currently exploring the tool to see its features.

Any thoughts/feedback?

[2018-02-10 06:53] tran-tien-dat commented on #8410
Just some clarification: So the plan is to remove both `timeZone` and `timeZoneDouble` from a feedback session, and change the logic to use the course's `timeZone` field instead?

[2018-02-10 06:56] tran-tien-dat commented on #8417
Oh I bumped into this as well. Changing to `2017-12-31` will not pass all tests because the test's HTML expects this session to be open at the time of running. So needs to change to some future date. I've done this in my other PR #8428, specifically this commit https://github.com/TEAMMATES/teammates/pull/8428/commits/7e485165960da6a6d45aa8935d9b619459e15144

[2018-02-10 07:01] LiHaoTan commented on #8430
It might be possible to integrate, replace and improve many static analysis tools we are currently using.

And we can get rid of issues like:
https://github.com/TEAMMATES/teammates/blob/f6a641453158a8323bc806cbd751d35123ab2cca/src/main/webapp/stylesheets/teammatesCommon.css#L1482-L1485

Anyway, related: #6535

[2018-02-10 08:14] craaaa opened #8431 "InstructorFeedbackEditPage: include question type help in lightbox"
**Description of feature/enhancement**
![image](https://user-images.githubusercontent.com/12183503/36060028-7bb3ce34-0e7b-11e8-9b55-3d48656d0e41.png)
At the moment, clicking the info button (shown above) when trying to add a new question in the Edit Feedback Session screen opens `instructorHelp.jsp#fbQuestionTypes` in a new tab. While this is workable, it might be more beneficial to instructors' w

[2018-02-10 11:00] damithc commented on #8431
Good suggestion. We need to figure out how to implement it without duplication of instructions in two places.

[2018-02-10 13:37] craaaa opened #8432 "InstructorFeedbackResultsPage: merge tooltips with duplicate information"
**Description of feature/enhancement**
When mousing over Team Contribution results in `InstructorFeedbackResultsPage`, two separate tooltips are shown elaborating on what CC/PC are (example shown below). Merge the information from both of these tooltips into one.
![peek 2018-02-10 21-31](https://user-images.githubusercontent.com/12183503/36062551-f177c5a2-0ea9-11e8-814a-42fadcae7cea.gif)

**Justif

[2018-02-10 15:10] wkurniawan07 commented on #8430
Let's keep SonarQube to #6535.

[2018-02-10 15:10] #8430 closed

[2018-02-10 15:10] #8366 closed

[2018-02-10 15:17] whipermr5 commented on #8417
I was thinking of changing the expected HTML actually, though I guess both approaches work.

[2018-02-10 15:19] whipermr5 commented on #8410
Not yet; that would be the last stage, when DST is fully up. For the first stage, the plan is to remove `timeZoneDouble` and store a string in `timeZone` that corresponds to the currently-stored offset.

[2018-02-10 15:31] tran-tien-dat commented on #8410
Is the middle part really necessary? Storing offset timezone as UTC+9 etc.
can be converted to a ZoneId and used the in the same way throughout the
same way as the geographic timezone, since the ZoneId class abstracts away
the DST rules already.

On 10 Feb 2018 23:19, "John Yong" <notifications@github.com> wrote:

[2018-02-10 15:39] #8368 closed

[2018-02-10 15:40] tran-tien-dat commented on #8410
I see. So the reason is socialnot technical. Thanks for clarifying.

On 10 Feb 2018 23:37, "John Yong" <notifications@github.com> wrote:

[2018-02-10 17:46] #8261 closed

[2018-02-11 03:06] Crphang opened #8436 "Testing: Disable cache in selenium"
**Description of feature/enhancement**

Disable cache in selenium.

**Justification**
Currently cache is not disabled which causes some tests to fail and when used in conjunction with godmode can cause godmode to work unexpectedly. This creates additional gotchas if new developers forget to disable it. Disabling it within selenium can smoothen this process.

[2018-02-11 03:44] shivanshsoni commented on #8421
I have done some changes please check..

[2018-02-11 04:51] joanneong opened #8437 "InstructorFeedbackResultsPage: make span scrollable to fit the table to copy"
**Description of feature/enhancement**

In the instructor feedback results page, instructors can directly copy the data in the page to an excel spreadsheet if non-english characters are not displayed properly in the downloaded file:

![image](https://user-images.githubusercontent.com/24493463/36069688-aa549170-0f29-11e8-9d02-330918b03e09.png)

However, if there are feedback and comments given by s

[2018-02-11 05:20] lightt77 opened #8438 "New contributor self intro : lightt77"
- **Link to my fork:**
https://github.com/lightt77/teammates

**Screenshot of changes made (as seen on the UI)**
![img1](https://user-images.githubusercontent.com/20469489/36070006-993cd0e8-0f18-11e8-92cb-1ac1ae1a7d6a.PNG)

**Short self-introduction**

I am Abhishek Satam, a fresh EE grad with 6 months industry experience and a newbie to the open-source world.This is my first open source commit.I

[2018-02-11 05:57] lightt77 commented on #8437
I would like to work on this one...

[2018-02-11 06:12] shivanshsoni opened #8439 "New contributor self intro : shivanshsoni"
Link to my Fork:
https://github.com/shivanshsoni/teammates

Self-intro:
I am Shivansh Soni,  ECE student of the 3rd year at NIT Hamirpur. I have good experience in Java and I love open source. So, I want to use that experience to solve issues of teammates and make the user experience better. I want to be a part of this organisation for GSOC 2018. I hope I will make it.

Some pull requests opened b

[2018-02-11 06:14] joanneong commented on #8438
Welcome to TEAMMATES :) It would be good for you to get to know the codebase first by attempting a `d.FirstTimers` issue before proceeding on to `d.Contributor` issues :)

[2018-02-11 06:15] joanneong commented on #8437
@lightt77 Since you are new to TEAMMATES, it is recommended that you try a `d.FirstTimers` issue first before moving on to a `d.Contributors` issue like this one :)

[2018-02-11 06:21] shivanshsoni commented on #8437
@joanneong I would like to work on this issue....Is it possible?

[2018-02-11 06:25] lightt77 commented on #8437
@joanneong  Okay, I'll do that first.

[2018-02-11 06:27] joanneong commented on #8437
@shivanshsoni Since you have already tried a `d.FirstTimers` issue, feel free to give this a shot :)

[2018-02-11 06:29] shivanshsoni commented on #8437
ok :-)

[2018-02-11 06:38] joanneong commented on #8439
Welcome to TEAMMATES. Nice to see that you have already tried your hand at a `d.FirstTimers` issue, so feel free to move on to `d.Contributors` issues :)

[2018-02-11 06:39] shivanshsoni commented on #8439
Thanks :-)

[2018-02-11 06:41] lightt77 commented on #8213
@wkurniawan07  I am a newbie to this project and would like to work on this.Is it okay?

[2018-02-11 08:03] sukanta-27 commented on #8429
Could not reproduce it locally. Is it something that is only occurs in staging server?

[2018-02-11 08:21] damithc commented on #8429
Yes, I believe so. Otherwise it should fail on Travis too.

[2018-02-11 08:34] damithc commented on #6092
Increasing priority as I would like to fix this soon.

[2018-02-11 08:37] tshradheya commented on #6092
I can work on this

[2018-02-11 09:10] nidhi98gupta opened #8442 "Instructor: view results: fix incorrect labeling of 'Expand Students' button"
Steps:
1. Make sure you're on the view Giver > Recipient > Question
2. Click Expand all sections.
3. Now collapse students in one of the groups.
4. Then collapse all sections.
5. If we now expand all sections again then students will also be in expanded state but the button will be in "Expand Students" state and clicking it will not change anything since student panels are already in expanded stat

[2018-02-11 09:10] nidhi98gupta commented on #8442
Working on fixing this.

[2018-02-11 09:16] sukanta-27 commented on #8442
Isn't it more of a `d.FirstTimers` issue?

[2018-02-11 17:02] whipermr5 commented on #8421
@damithc How is this feature currently used?

[2018-02-11 21:31] KevKos opened #8444 "Help Request: Tests failing due to time format and decimal"
- **Operating System:** Arch Linux
- **JDK Version:** 8
- **Eclipse / IntelliJ Version (if applicable):** Oxygen 2
- **Firefox / Chrome Version (where applicable):** FF 45

**What I was trying to do / What I need help with**

I was following the guidelines to setup the project and I am now stuck with passing the tests. Every time I get around 30 failed tests. All of them failing due to incorrect d

[2018-02-12 06:38] damithc commented on #8421
I use it to find sessions that are currently active.  It is not a very important feature, but it helps sometimes to know the activity level.

[2018-02-12 08:18] whipermr5 commented on #8421
Sounds like @tran-tien-dat's queries are good for this purpose. The first query cannot be directly executed on the datastore though, because it contains inequality filters for more than one property. A workaround would be to use two keys-only queries: https://stackoverflow.com/a/23319712

[2018-02-12 12:27] tran-tien-dat commented on #8421
My original query are for clarity to see that it's correct. Given that `startTime <= endTime` and `queryStart <= queryEnd`, it can be optimized to just `startTime <= queryEnd && endTime > queryStart`. I think @shivanshsoni tried to use this in #8435. However, I don't think this is a good solution, because each query will return a LOT of data and we have to use Java code to find their intersection.

[2018-02-12 13:35] whipermr5 commented on #8421
Keys-only queries are quite efficient as they return only the keys.

[2018-02-12 15:15] wkurniawan07 commented on #8213
@lightt77 feel free to, no need to ask.

[2018-02-12 15:15] wkurniawan07 commented on #6535
@tshradheya you can try first and see where it goes.

[2018-02-12 18:52] tran-tien-dat commented on #8421
Okay. From the stackoverflow article, the number of sessions is probably not in the millions so I guess finding the intersection of 2 lists,  which can be done in linear time, would be fast enough.

[2018-02-13 11:20] nidhi98gupta commented on #3690
@damithc Sir, is this issue still open? Because on clicking the copy button, new dialog opens up.
![dialogbox](https://user-images.githubusercontent.com/24381442/36147324-ce932b54-10dd-11e8-8cb1-92951ab8fc0b.png)
If yes, then can you please point out what needs to be highlighted.

[2018-02-13 13:00] emilppp commented on #6545
We're a group at KTH (https://www.kth.se/en) and want to look into this

[2018-02-13 13:20] yalapeno commented on #6657
We, 5 people, are looking for an issue to work on as a part of a school project. It has to be about refactoring a part of a relatively big project(>10000 lines of code). This issue got our attention while searching. What is the state of this issue? do you need refactoring in any other project or in this one? We can not take zulip project, it's already taken by other students..

[2018-02-13 14:24] OLGKAD commented on #6657
@yalapeno
Hi! If you're doing this as a part of your Software Engineering Fundamentals assignment #3, in KTH, then I'm afraid that our team has secured this issue first.

[2018-02-13 15:06] yalapeno commented on #6657
@OLGKAD
hey, yes we realized that later and we now got another project :)

[2018-02-13 15:07] johnsv commented on #5329
Hi! Me and four other CS students at KTH are doing a project where we would like to work on this issue. Is this ok for you and are you interested in solving this issue?

[2018-02-13 15:12] belyabl9 commented on #5329
Hello @johnsv,
Sure, if it's still actual. I've started working full-time after finishing GSOC program, so don't have time for this project at the moment

[2018-02-13 17:38] sukanta-27 opened #8447 "Remove private sessions"
**Description of feature/enhancement:** As according to the discussion in https://github.com/TEAMMATES/teammates/pull/8408#issuecomment-364850538, we should remove the `Private` session feature.

**Justification:**

As pointed out by @damithc sir, this feature is not widely used. Apart from that, `Private` sessions also give rise to issues like #8406, #8411.

**Original Discussion :** https://gith

[2018-02-13 17:38] sukanta-27 commented on #8447
Taking up this issue.

[2018-02-13 18:41] sukanta-27 commented on #8406
Closing because of #8447

[2018-02-13 18:41] #8406 closed

[2018-02-14 03:03] damithc commented on #3690
Issue no longer applicable.

[2018-02-14 03:03] #3690 closed

[2018-02-14 04:24] whipermr5 commented on #8427
I believe just changing the type of `timeZone` from `String` to `ZoneId` should work out of the box, as Objectify would handle the conversion (this needs to be verified though). I have a feeling Objectify saves `ZoneId`s as strings by default, using their ID (since [that is the way `ZoneId`s are serialised](https://docs.oracle.com/javase/8/docs/api/java/time/ZoneId.html) I believe).

[2018-02-14 04:46] whipermr5 opened #8448 "Complete migration of FeedbackSession entities"
Continuing work from #8094, #8410, #8456 and #8759, the script from #8759 can be run in the near future to migrate all `FeedbackSession` entities:
  - This will finish up #8468
  - If the script is run after #8518 is merged, it will finish up #8447

After running the script from #8759, these tasks remain:
- Remove unused `timeZoneDouble` and `wasFollowingCourseTimeZone` fields (simple code deletio

[2018-02-14 05:07] damithc opened #8449 "Instructor: edit session: 'distribute points' questions: support 'some variation required' option"
In 'distribute points' questions, we support an option that requires all entries to be different from each other. This option may be 'too aggressive' for some users. It is good if we can support an option to 'require some variations'.

![image](https://user-images.githubusercontent.com/1673303/36188540-a4f16054-1187-11e8-8f2d-580f2afef932.png)

For example, we can insert a drop-down in to the curr

[2018-02-14 05:09] damithc opened #8450 "Instructor: edit session: 'distribute points' questions: support min/max"
![image](https://user-images.githubusercontent.com/1673303/36188605-0e1c3a72-1188-11e8-9aa2-81805787d2df.png)

In 'distribute points' questions, we can support specifying min and max number of points a respondent is allowed to allocate to any option. This will allow users to control the variation of entries within a certain range.

[2018-02-14 05:21] whipermr5 opened #8451 "FeedbackSession: use primitive type for all booleans"
Convert fields `sentClosingEmail`, `sentClosedEmail`, `isOpeningEmailEnabled`, `isClosingEmailEnabled` and `isPublishedEmailEnabled` from `Boolean` to `boolean`. While not of high priority, the amount of code related to legacy fields is growing bigger (see #8448 and related issues) and very old legacy code should be removed to manage the situation.

The first two fields were introduced 1.5 years a

[2018-02-14 06:09] damithc opened #8452 "Fix assertion error in instructorCourseJoinEmail on live server"
v6.1
Found many of these in log.
On a related note, these are logged as 'warning' rather than 'severe'. Shouldn't they be severe?
[code]

[2018-02-14 09:16] Haozhe321 opened #8453 "Instructor: feedback edit page: MSQ maximum options changes and saves without notification to user"
noticed this while working on #8412

**Environment**
`master` branch at 1cad352

**Steps to reproduce**
1. Create a new MSQ question
2. Either create the options or generate options from list of students/team/instructors
3. **in the box for** `Maximum number of options a respondent is allowed to select`, **key in a number that is higher than the number of options in step 2**
4. Save the question

[2018-02-14 11:49] nidhi98gupta commented on #8453
@Haozhe321 @damithc I would like to take up this issue.

[2018-02-14 13:05] Haozhe321 commented on #8453
@nidhi98gupta sure :)

[2018-02-14 16:11] darrenwee commented on #8444
Hi! Can you type `locale` into a Terminal and copy the output here so I can reproduce your environment? I think I have an idea of how to fix this but I'll need to test it.

[2018-02-14 16:45] #8280 closed

[2018-02-15 05:05] wkurniawan07 commented on #6545
@emilppp sure, if it qualifies for your school assignment. What exactly is required?

[2018-02-15 07:12] joanneong commented on #8449
I will try to work on this.

[2018-02-15 07:19] wkurniawan07 commented on #8452
That log comes from internal tool, JettyLogger, not our [custom-built logger](https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/common/util/Logger.java). All assertion errors will be logged in that manner.

[2018-02-15 07:39] Crphang commented on #8450
I can work on this

[2018-02-15 08:45] emilppp commented on #6545
@wkurniawan07 We might not be able to do every function in FeedbackSessionsLogic.java but we will try to tackle the longest ones. Would it be fine to break it up into new files, seeing as it is very long (above 2000 lines), or do you want to keep the file structure as it is?

[2018-02-15 12:10] damithc commented on #8452
The assertion failure happens in our code. I suppose we can't catch it because this happens in ta task that is in the task queue. Is there a way to catch all exceptions in tasks in task queues and log them similar to how we do it for assertion failures in other places?
Otherwise this kind of errors can go unnoticed. I only noticed this by chance and it seems to have been happening for a while.

[2018-02-15 12:29] shresthabarsha commented on #8213
Is this issue still open? I'd like to work on it and make my first contribution

[2018-02-15 12:57] emilppp commented on #6545
@wkurniawan07 Our assignment is basically to refactor something within an open-source project

[2018-02-15 14:11] whipermr5 commented on #8452
I believe this happens because `AutomatedServlet` only catches `Exception`s but not `Throwable`s, unlike `ControllerServlet`:

https://github.com/TEAMMATES/teammates/blob/bcae38f2e837306558cff5d8fc046d8936e19296/src/main/java/teammates/ui/automated/AutomatedServlet.java#L42-L47

https://github.com/TEAMMATES/teammates/blob/bcae38f2e837306558cff5d8fc046d8936e19296/src/main/java/teammates/ui/controll

[2018-02-15 14:20] wkurniawan07 commented on #8452
@damithc I'm not denying the assertion error comes from our code. Only that the `warn` level there is not something we deliberately decide.
@whipermr5 I didn't think that far ahead when designing `AutomatedServlet`, so now is actually a good time to go back to the drawing board. Catching `Throwable` and logging it should be something that is done as per `ControllerServlet`'s implementation, but I'

[2018-02-15 14:25] wkurniawan07 commented on #6545
@emilppp breaking it up into some classes may be a possible solution, but if you do it, it should be a well-thought design and not just because there are > 2000 lines (otherwise you'll run into [poltergeist anti-pattern](https://sourcemaking.com/antipatterns/poltergeists)).

[2018-02-15 14:29] wkurniawan07 commented on #8213
@shresthabarsha it's still open and you're free to work on it.

[2018-02-15 15:22] whipermr5 opened #8454 "AutomatedServlet: catch all Throwables for logging"
See the discussion in #8452

[2018-02-15 15:24] whipermr5 commented on #8452
I think if we don't re-throw it, GAE will think the task succeeded and the built-in retry mechanism will not kick in:
https://github.com/TEAMMATES/teammates/blob/bcae38f2e837306558cff5d8fc046d8936e19296/src/main/webapp/WEB-INF/queue.xml#L99-L111

[2018-02-15 16:03] whipermr5 commented on #8452
@damithc What was the HTTP error code for the request?

[2018-02-15 19:09] KevKos commented on #8444
Hello,

sorry for the delay. Here's the output of `locale` .

`LANG=de_DE.utf8`
`LC_CTYPE="de_DE.utf8"`
`LC_NUMERIC="de_DE.utf8"`
`LC_TIME="de_DE.utf8"`
`LC_COLLATE="de_DE.utf8"`
`LC_MONETARY="de_DE.utf8"`
`LC_MESSAGES="de_DE.utf8"`
`LC_PAPER="de_DE.utf8"`
`LC_NAME="de_DE.utf8"`
`LC_ADDRESS="de_DE.utf8"`
`LC_TELEPHONE="de_DE.utf8"`
`LC_MEASUREMENT="de_DE.utf8"`
`LC_IDENTIFICATION="de_DE.utf8"`
`LC

[2018-02-16 01:53] damithc commented on #8452
500

[2018-02-16 03:04] #8410 closed

[2018-02-16 10:49] sukanta-27 opened #8459 "AdminLogQueryTest : Fix PMD problem"
The following line in `AdminLogQueryTest.java` has a PMD problem.
https://github.com/TEAMMATES/teammates/blob/3e484a84ee695ce39e31f173ff7e674614fa3742/src/test/java/teammates/test/cases/util/AdminLogQueryTest.java#L35

The PMD problem is :
`Use assertSame(x, y) instead of assertTrue(x==y), or assertNotSame(x,y) vs assertFalse(x==y)`

Use <s>`assertNotSame`</s> `assertNotEquals` instead of `assertT

[2018-02-16 10:51] sukanta-27 commented on #8459
As this is too minor of an issue even for a `FirstTimer`, sending a quick fix for this.

[2018-02-16 18:51] davel37 opened #8461 "gradle error"

[2018-02-16 20:22] #8461 closed

[2018-02-17 02:10] damithc commented on #6634
Increasing priority because this is an important feature that is missing.

[2018-02-17 03:04] #8432 closed

[2018-02-17 03:41] #7784 closed

[2018-02-17 04:04] LiHaoTan opened #8462 "Investigate how to disable buttons"
Following the discussion in #8377  we are going to replace the `disabled` attribute with `.disabled`. While that is not sufficient to disable buttons, more work than anticipated is required for a proper solution.

Replacing `a` with `button` is purportedly a simpler solution so we don't have to consider things like placeholder anchors, `aria-disabled`, `role="button"`.

However, "direct link butto

[2018-02-17 04:39] #6594 closed

[2018-02-17 06:55] Crphang commented on #8462
@LiHaoTan going through the guide on properly disabling `a`, I'm thinking whether making `button` work like `a` would be more complicated and messy because we need to add a different click handler for every button.

The discussion given above is very meta, discussing why links should even be disabled and it's differences with placeholder text but might not resolve our dilemma practically. A possib

[2018-02-17 07:17] LiHaoTan commented on #8462
I don't think the intention was ever to make a button work like an anchor. The only thing the button needs from anchor is the `href` attribute.

Adding a click handler for every button is the modern way for web applications (AJAX for everything). Of course that poses its own problems such as unobtrusive Javascript and progressive enhancement, etc.

This implies also that this issue can also be res

[2018-02-17 07:18] Crphang opened #8463 "Instructor: add options (Rank and Distribute Points) question: add more options inputs not appearing"
**Environment**

Ran in development environment.
Master branch

**Steps to reproduce**

1. Edit session
1. Click `new question` => `add rank options question`.
1. Cancel question
1. Add `new question` => `add rank recipients question`
1. Cancel question
1. Add `new question` => `add rank options question`

**Expected behaviour**

The UI appearing should be consistent on both attempts of adding ran

[2018-02-17 10:26] crphang opened #8465 "Instructor: edit question: distribute question options vs recipients tooltip (UI)."
**Description of feature/enhancement**

Currently, the tooltip for total points to distribute in 'Distribute points (among options)' should be describing options which is correct. On the other hand, the tooltip for total points to distribute in 'Distribute points (among options)' should be describing distributing points among recipients but it is now describing about distributing it among options.

[2018-02-17 14:30] #8454 closed

[2018-02-17 14:50] wkurniawan07 commented on #8465
@Crphang are you sure of the steps to reproduce? According to my investigation, the tooltip for the distribute points among recipients question is always like that all along.

[2018-02-17 14:54] Crphang commented on #8465
The steps to reproduce is trivial (they are like that all along since the code points to the same constant). Basically just looking at two different questions and the fact that they have same tooltip even though they are different question types.

[2018-02-17 15:01] wkurniawan07 commented on #8465
The thing is, the way this report is presented makes it seems like one needs to perform a specific series of steps in order to reproduce it. Also, this is actually more suitable under feature/enhancement request.

[2018-02-17 15:02] Crphang commented on #8465
Yes, I think it can be more confusing by having the portion of steps to reproduce. I will change it to make it clearer 😄

[2018-02-17 15:09] #8459 closed

[2018-02-17 16:01] bqnguyen94 commented on #8463
I'm on it

[2018-02-17 16:47] KevKos commented on #8444
Thanks for the hint. Solved the problem by starting eclipse with custom environment variables via shell.

So, `LANG=en_US.UTF-8 ./eclipse` starts eclipse with US english locales while my system remains german.

[2018-02-17 16:47] #8444 closed

[2018-02-17 17:06] gaurav122197 commented on #8463
@Crphang , @bqnguyen94 I do not seem to reproduce the problem. Even though after trying the above-mentioned steps my UI seems to be consistent.
Is there anything that I am missing?

[2018-02-17 17:31] sukanta-27 commented on #8463
@Crphang @bqnguyen94 Could reproduce this bug. Don't know if any of you noticed it, but these steps are not necessary. `1->4->5->6` seems to work as well.

[2018-02-17 17:33] Crphang commented on #8463
I think distribute (options) questions has the same problem, could be similar code causing it.

[2018-02-17 17:43] sukanta-27 commented on #8463
@Crphang In my system, for distribute (Options) :
**[UI before]**
![screenshot 355](https://user-images.githubusercontent.com/10681755/36343879-e600e0cc-1409-11e8-8957-7d58e383ab1c.png)

**[UI after]**
![screenshot 357](https://user-images.githubusercontent.com/10681755/36343881-f41ecb74-1409-11e8-86f8-93b5e236360a.png)

[2018-02-17 18:55] gaurav122197 commented on #8463
@Crphang @bqnguyen94 @sukanta-27 I think the problem reproduces when we add Rank (recipient) question and then add Rank (options) question otherwise the UI seems to be consistent when following the above-mentioned steps of @Crphang .
Help me if I am missing something.

[2018-02-17 19:09] tanhengyeow opened #8466 "New contributor self intro: Tan Heng Yeow"
- **Link to my app (with deployed changes):** https://teammates-tanhengyeow.appspot.com/terms.jsp
- **Link to my fork:**  https://github.com/tanhengyeow/teammates/tree/tinker

**Screenshot of changes made (as seen on the UI)**

![image](https://user-images.githubusercontent.com/25320782/36344568-ae443f46-1457-11e8-9abf-a58964a28957.png)

**Short self-introduction**
Hi everyone, I am a Y2 NUS Compu

[2018-02-17 20:00] sukanta-27 commented on #8466
Hi @tanhengyeow
Welcome to TEAMMATES. You can start contributing by taking one of our `d.FirstTimers` issues, before moving onto the `d.Contributors` issues.

[2018-02-17 21:43] sukanta-27 commented on #8447
@damithc  Sir, regarding the UI change in Feedback Session Form. Is this UI change okay?
**[UI before]**
![screenshot 358](https://user-images.githubusercontent.com/10681755/36345872-4d8c39d2-142b-11e8-9d16-30f343a76604.png)
<br>**[UI after]**
![screenshot 359](https://user-images.githubusercontent.com/10681755/36345876-55aca6ec-142b-11e8-90e8-40da30fcc1a2.png)

[2018-02-17 23:27] sukanta-27 opened #8468 "Feedback Session: Remove 'Never Publish' option"
**Environment:**
`master` branch.
Don't know if this is a bug or intentional. So, went along with the bug template.
**Steps to reproduce:**
- Login as `Instructor`
- Create a new session, set a Opening time so earlier than current time, to get a `Open` session
- Set the option `Responses visible from` to `Never`.
- Now go back to `Home` or `Sessions`, and find the session you created in the sessio

[2018-02-18 00:58] whipermr5 commented on #8468
This was an unintentional side effect of #8094 (see https://github.com/TEAMMATES/teammates/pull/8408#issuecomment-364468574). Anyway, private sessions are about to be removed: #8447.

[2018-02-18 01:46] damithc commented on #8447
@sukanta-27 yes, looks good.

[2018-02-18 02:32] Brybro commented on #8254
@LiHaoTan - May I ask what is left to complete for this issue?

[2018-02-18 04:27] tanhengyeow commented on #8466
Hi @sukanta-27

Thank you! I realized all `d.FirstTimers` issues are either resolved or have a open PR. Do I still work on any of them regardless?

[2018-02-18 04:29] LiHaoTan commented on #8466
@tanhengyeow You can also start with a `d.Contributors` :). Feel free to start with an easier one if you like.

[2018-02-18 09:48] bqnguyen94 commented on #8463
The problem is toggling `rank recipient` question form hides `rank-option-table` element, and it remains hidden even if its parent element is shown later on.

[2018-02-18 09:50] sukanta-27 commented on #8468
@whipermr5 Need to clarify two things.
I checked out commits before #8094, and this issue seems to persist. sessions that are not private can be published even though the `Response visible from` to `Never`!
How is this related to private sessions? (Is the `Never` option mentioned above only applicable to `Private` sessions?) <br>And if that is the case, should I remove the `Response visitble from`

[2018-02-18 10:33] tshradheya opened #8471 "Instructor: create session: Improve error message shown when session created with invalid information"
**Environment**

Development environment.

**Steps to Reproduce**

1. Login as Instructor
1. Go to `Sessions` tab
1. Try creating a new Peer Evaluation session with *empty session name* and *empty Submission closing time*
1. The following error is shown

![image](https://user-images.githubusercontent.com/12574756/36350830-d7c9fa40-14d9-11e8-996f-4eb57735c6ca.png)

Although the error is error messa

[2018-02-18 12:19] darrenwee commented on #8444
Glad to hear it, @KevKos! I'll open an issue to deal with this using the gradle build script so we can have a more consistent building experience for future contributers!

[2018-02-18 12:39] #7706 closed

[2018-02-18 13:14] Shashwat-Garg commented on #8437
@shivanshsoni Are you working on this issue ?

[2018-02-18 13:15] tshradheya commented on #8465
I think we can add a `d.FirstTimers` tag on this as suggested by @Crphang  cause I there are some new contributors who were searching for `d.FirstTimers` issue

[2018-02-18 13:16] damithc opened #8473 "Update user map for Jan 2018"
Similar to #8295

Entries to consider

Australia | Queensland University of Technology
-- | --
Australia | University of Melbourne
Belgium | Ghent University
Belgium | Sint-Pieterscollege
Belgium | Thomas More Vorselaar
Brazil | Federal university RN, UFRN
Brazil | Universidade Federal do Rio Grande do Sul
Canada | Dalhousie
Canada | Heritage College
Canada | Mennonite Bretheren Colligiate Institu

[2018-02-18 14:23] wkurniawan07 commented on #8468
@sukanta-27, that option only guarantees that the session will not be automatically published after a certain timestamp. Nothing stops anyone with sufficient permission to manually publish the session at any time.

[2018-02-18 14:31] sukanta-27 commented on #8471
@tshradheya Are you working on this or can I take it?

[2018-02-18 14:32] junkiattan commented on #8471
Can I take up this issue?

[2018-02-18 14:41] damithc commented on #8468
Technically, yes. I guess we decided to have the 'never' option to better match user intentions. It's a bit unintuitive for a user who doesn't intend to publish at all to choose 'publish manually'.

[2018-02-18 14:48] sukanta-27 commented on #8468
@damithc So Sir, can we implement a feature where, if a user tries to publish the session that has been set to never get published, he/she will receive an error (Like `Can not publish a session that is set to never publish, change the 'Response Visible Time' to a option other than 'Never' to publish this session`), or a warning message (Like `The session is set to never get published, are you sure

[2018-02-18 14:51] damithc commented on #8468
Yes, that can be useful to prevent accidental publishing, as long as it can be implemented easily. We don't want to increase code base too much as a result of adding features that we can live without.

[2018-02-18 14:54] tshradheya commented on #8471
I am not working on this. Since @sukanta-27 asked first, I think he can take up this issue

[2018-02-18 14:55] #8438 closed

[2018-02-18 14:55] #8439 closed

[2018-02-18 14:57] sukanta-27 commented on #8471
@tshradheya Thanks :smile:

[2018-02-18 14:57] wkurniawan07 commented on #8471
@sukanta-27 I'd advise against taking new ones because you're already involved in few other things, particularly related to private sessions.
@junkiattan you can go ahead.

[2018-02-18 15:02] tanhengyeow commented on #8473
I am a new contributor and would like to work on this :)

[2018-02-18 15:03] sukanta-27 commented on #8468
@damithc I haven't started working on it yet, so don't know about the implementation difficulty as of yet. But, can I work on this and see how this turns out?

[2018-02-18 15:08] junkiattan commented on #8471
Okie! @wkurniawan07 @tshradheya

[2018-02-18 15:32] wenmogu commented on #8431
Something like this?

![image](https://user-images.githubusercontent.com/28526038/36353594-5618ede2-1503-11e8-8a45-49cf1ae56ba7.png)

![image](https://user-images.githubusercontent.com/28526038/36353604-77cd4596-1503-11e8-8707-44a4534abe53.png)

For the pic above I extracted the info for that specific type of question and reused it in both `InstructorHelp` and that modal.

[2018-02-18 15:36] wenmogu commented on #8471
Actually for the student side, the input is validated client-side without making requests to the server to valid the message. Should we do the same for the instructor side?

[2018-02-18 15:46] wenmogu opened #8475 "Instructor: add session: show number of chars left for session name input"
**Description of feature/enhancement**
Currently when creating a new session, the Session Name input field limits the max number of characters for this input to 38 characters, which is easily reached. The user is prevented from typing more characters inside but there is no warning for it.

**Justification**
A warning can enhance the user experience.

[2018-02-18 17:01] craaaa commented on #8431
I was thinking of a single light box to replace the info button that is currently there, but this seems like it could be a good solution too. It is more succinct, which is helpful since the question type help section is pretty long. Can you stage the changes?

Also, when you say extracted do you mean that both pages refer to the same source?

[2018-02-18 23:05] sukanta-27 commented on #8468
@damithc Instead of going with the warning message I guess it would be better to go with the error message, as warning messages can be easily ignored (clicking the OK button without looking into the message, specially for those who are using the system for a while). For the UI change, can we use something like this? (If yes then I can submit a PR for further review)

**Screenshot:**
![screenshot 3

[2018-02-19 05:00] #8213 closed

[2018-02-19 06:36] damithc commented on #8471
Our general policy is to favor server-side validation. Although it is slower, it avoid the duplication of validation, once in JS and once in Java.

[2018-02-19 06:55] Shashwat-Garg commented on #8437
@joanneong Can we add it to the stylesheet to make changes ?
I've tried it and it works.
Should I proceed with a PR, or should I try it some other way ?

[2018-02-19 07:08] Shashwat-Garg opened #8478 "New Contributor Self-Intro : Shashwat Garg"
Link to my Fork: https://github.com/Shashwat-Garg/teammates

Self-intro:
I am Shashwat Garg, CSE student currently in the 2nd year at Indian Institute of Technology Mandi. I aspire to work hard in open source, and I have a good experience in Java, JS, HTML, CSS etc. I wish to use my experience to help solve issues for teammates and make the experience for everyone better. I wish to be a part of th

[2018-02-19 07:27] sukanta-27 commented on #8478
Hi @Shashwat-Garg
Welcome to TEAMMATES. As you have already completed your `d.FirstTimers` issue, feel free to grab any of our `d.Contributors` issue to work on. :)

[2018-02-19 08:18] joanneong commented on #8437
@Shashwat-Garg You can go ahead and open a pull request first, and we will see how to proceed from there :)

[2018-02-19 09:18] whipermr5 commented on #8452
Is it possible for accounts to be deleted? The stack trace seems to indicate that the account of the inviter (the existing instructor who added the new instructor) no longer exists:
https://github.com/TEAMMATES/teammates/blob/f6a641453158a8323bc806cbd751d35123ab2cca/src/main/java/teammates/ui/automated/InstructorCourseJoinEmailWorkerAction.java#L36-L37

The possible actions that enqueued the task

[2018-02-19 09:46] whipermr5 commented on #8468
Oops I mixed this up with `Session visible from`; my bad 😅

I feel the warning option is better. The error adds an additional step for users who actually want something published but selected the wrong option when creating the session or simply changed their mind after creating the session. If they dismiss the warning, it is reasonable to assume that they read it. They can always unpublish the ses

[2018-02-19 09:51] whipermr5 commented on #8471
The error still needs to be there in case the user bypasses the client-side validation.

[2018-02-19 09:55] damithc commented on #8468
Given that, perhaps we just leave it as is? If we add a warning/error here, in addition to having more code to maintain, we add time to tests which is a permanent cost.

[2018-02-19 09:59] whipermr5 commented on #8468
Then I'd suggest merging the `Never` and `Publish Manually` option into one, e.g. `Never (or publish manually)`.

[2018-02-19 10:04] whipermr5 commented on #8468
On second thoughts, I feel that changing the heading from `Responses visible from` to `Automatically publish responses` would be better:
<img width="543" alt="screen shot 2018-02-19 at 6 01 51 pm" src="https://user-images.githubusercontent.com/6811428/36372157-2216ab5a-159f-11e8-8fb7-35540292be83.png">

[2018-02-19 10:11] whipermr5 commented on #8468
In a similar vein, the `Session visible from` heading can be improved to `Make session visible`:
<img width="542" alt="screen shot 2018-02-19 at 6 08 40 pm" src="https://user-images.githubusercontent.com/6811428/36372454-1582d8ea-15a0-11e8-9dc0-915d2ebe5fbc.png">

This reads much better IMHO.

[2018-02-19 10:14] sukanta-27 commented on #8468
@whipermr5 I think this will be better, as `Automatically publish responses` seems more accurate in this context. Same goes for `Make session visible`. If asked, I would love to do this. :smile:

[2018-02-19 10:19] whipermr5 commented on #8452
I'm in favour of logging all request parameters for worker actions.

[2018-02-19 10:39] whipermr5 opened #8481 "AutomatedServlet: always log request parameters"
See https://github.com/TEAMMATES/teammates/issues/8452#issuecomment-366645693

[2018-02-19 10:51] wkurniawan07 commented on #8471
"Slower" or "duplication" or "favor" is not the issue. Server-side validation is a must (especially in RESTful architecture, which we are not) because it is the only type that users cannot bypass.

[2018-02-19 10:57] whipermr5 commented on #8471
I think that's what @damithc meant by duplication - whenever we implement client-side validation, it is a duplication of validation because we already have server-side validation (which is a given, like you said). We favour pure server-side validation, as opposed to client-and-server-side validation.

[2018-02-19 11:15] Shashwat-Garg commented on #7919
@HirdayGupta Are you still working on this issue ?

[2018-02-19 11:25] Shashwat-Garg commented on #8415
@whipermr5 Anyone working on this issue ?

[2018-02-19 11:28] whipermr5 commented on #8415
@Shashwat-Garg Don't think so.

[2018-02-19 11:29] Shashwat-Garg commented on #8415
I'll try to do what's left. :)

[2018-02-19 11:32] wkurniawan07 opened #8483 "Fix AppVeyor failing build due to InstructorHomePageUiTest"
This failure is consistently present in the last 10 builds.

Other causes of failures do present but none are as consistent as this one.

[2018-02-19 11:34] damithc commented on #8468
UI design is not an exact science; hard to get right or even agree on the best design.

I'm a bit vary of designing the UI to match how the app processes things rather than how the user thinks about things. As a user I'm thinking "I'll publish the results at a later time". It's an additional step for me to also figure out "hey, that's the same as choosing 'Never' now and clicking the 'Publish' but

[2018-02-19 12:38] sukanta-27 commented on #8468
I agree with what Prof. @damithc said, that users may get a little confused if they see the word `Automatically` and no `Publish manually` option.
I can suggest a few ways to deal with this issue :
1. Leave everything as it is. But with a little modification. (`from` followed by `At` sounds a bit weird IMO)
![screenshot 364](https://user-images.githubusercontent.com/10681755/36377440-12675248-156f

[2018-02-19 14:16] matteushast commented on #5329
To reduce complexity we decided not to extract the logic from the Question type.

[2018-02-19 14:16] damithc commented on #8468
Option 2 reads better, but option 3 is simpler to read. @whipermr5, what do you think?

[2018-02-19 14:26] sukanta-27 commented on #8154
@wkurniawan07 I don't know if mentioning my interest after the organization list for GSoC publishes is a necessary step or not, so thought of doing it anyway.

As I mentioned in my introduction I am aiming to be a part of GSoC 2018 with TEAMMATES. :smile:

[2018-02-19 20:21] SamVenkatesh commented on #8473
I'm new here and I'd like to start contributing. Can I work on this?

[2018-02-20 04:25] damithc opened #8490 "Give a way for students to request submission/results links to be resent"
It will be helpful if students have a way to request TEAMMATES to resend submission/results links, similar to the 'recover password' features of other apps. It will save instructors and admin the trouble of dealing with students who didn't receive the email, deleted it by mistake, etc.

We'll probably have to protect it using CAPTCHA or something similar to prevent abuse.

[2018-02-20 04:46] hoshikitsunoda commented on #8473
Hello, I'm a first-timer. I'd love to work on this one!

[2018-02-20 05:01] tshradheya commented on #8473
@hoshikitsunoda There is already a PR open for this issue. You could try to look up some other `d.FirstTimers` or an easier `d.Contributors` issue to work on

[2018-02-20 05:26] Progyan1997 opened #8491 "Setup docs: Add installation instructions for Debian and Fedora OS"
In documentation for [setting up environment](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) , the Java API plugin for Google cloud requires installation as separate packages in Linux system before it can be used by `gcloud` module. The current documentation does not cover this up.

[2018-02-20 08:14] damithc commented on #8431
Some things to note:
* An instructor may need to see details of multiple question types to decide which type fits her needs. That scenario favors showing info of all question types in one page, possibly with a hyperlinked table of contents at the top.
* Having read the explanations and having chosen a question type, the instructor still may want to refer the details of the question type while fill

[2018-02-20 09:52] #8483 closed

[2018-02-20 10:35] tshradheya opened #8492 "Enhancement: Instructor: All Records of Student: Improve UI"
**Steps to reproduce to see the following page**

1. Log in as instructor
1. Go to `Students` tab.
1. Click on `Select All` to see all students
1. Click on `All Records` for any particular student

You will notice the following page:

![image](https://user-images.githubusercontent.com/12574756/36419314-7ebb104e-166c-11e8-87c3-ed7362654aa6.png)

**Enhancement:**

- For `More Info` of the student, t

[2018-02-20 10:53] sukanta-27 commented on #8468
@whipermr5 Waiting for your view on https://github.com/TEAMMATES/teammates/issues/8468#issuecomment-366681607

[2018-02-20 11:20] whipermr5 commented on #8468
What about option 3 but change `Publish manually` to `Next time` so it reads better?

[2018-02-20 11:27] sukanta-27 commented on #8468
@whipermr5 I think it has the possibility to confuse a lot of users. I mean `Next time` doesn't imply that the user will have to publish the session manually later? Users generally set this option while creating a new session, or editing it. Isn't it possible that the user will get confused by reading the term `Next time`, and may think he/she may has to edit the session in a later stage to set up

[2018-02-20 12:22] tonystark007 commented on #8473
I am new and want to contribute. Can I join?

[2018-02-20 12:33] Crphang commented on #8473
@tonystark007 There's already a PR for this issue. If you want to start contributing to this organisation, you can start by introducing yourself as described in the orientation guide. In general we do not assign issue to people, so you can check whether a PR is already done or whether others have already asked to work on the issue.

[2018-02-20 14:33] whipermr5 commented on #8468
What about `Not now (publish manually)` or just `Not now` with `Publish manually` as a tooltip?

[2018-02-20 14:35] sukanta-27 commented on #8468
@whipermr5 I liked the `Not now` with `Publish manually` as a tooltip option. `Not now (publish manually)` is a little verbose for a radio button title. Isn't it?

[2018-02-20 14:42] #8481 closed

[2018-02-21 00:15] damithc commented on #8468
I think we should have the `Publish manually` as the main text. It's too important to relegate to the tool tip.

[2018-02-21 00:24] sukanta-27 commented on #8468
@damithc Okay, sir. I will make the changes accordingly.

[2018-02-21 00:31] sukanta-27 commented on #8468
@damithc Sir, just to be clear, you are suggesting not to change the `Publish manually` text at all, right?
Or, are you suggesting we should keep the word `Not now (Publish manually)` [Therefore not to completely remove the word publish manually]?

[2018-02-21 01:33] damithc commented on #8468
Let's try `Not now (Publish manually)`

[2018-02-21 03:35] GarrettCarrott commented on #8492
Heya! First time contributor to this Teammates project. Really excited to get started. However, I'm having an issue in regards to adding an instructor on the Dev server. After following the instructions and hitting the "add instructor" button, it seems that nothing happens.  I'm wondering if this is a common issue, or am I just being stupid?

![image](https://user-images.githubusercontent.com/3783

[2018-02-21 04:41] tshradheya commented on #8492
You possibly must have missed [this part](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#building-javascript-files) while setting up the project. Doing this should resolve the problem.

You can post on the issue to take it up considering there is no open PR and no one has already been assigned to it. Since this issue has no PR open , you can take it up if you wish to :)

[2018-02-21 04:56] tshradheya opened #8495 "development.md: As Instructor: Remove `Short Name` from credentials of Instructor in Setting up guide"
**Steps to Reprocude**
1. README.md - > `Contributor Orientation Guide`
2. Click on `Development Guidelines document` of Step 3 of Phase B
3. `ShortName` for user present in step 2 of [document](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#as-instructor)

![image](https://user-images.githubusercontent.com/12574756/36463757-c9d6a404-1706-11e8-916b-a668c11dd992.png)

**Fix*

[2018-02-21 05:13] craaaa opened #8496 "AccountAttributes: Add test cases for builder"
We recently added a builder for `AccountAttributes` (#8382) but the added builder class isn't covered by tests (see `StudentProfileAttributesTest` for examples of possible unit tests). We should add tests to ensure that construction works.

[2018-02-21 05:29] tshradheya commented on #8496
If you aren't working on this already, I can take it up since I had worked on #8382 to add a builder pattern for `AccountAttributes`

[2018-02-21 05:41] damithc commented on #8496
Is this suitable for new contributors? If so, you can review the PR when it comes in.

[2018-02-21 05:44] tshradheya commented on #8496
Should be suitable considering they can have a look at tests of other builder patterns used, for e.g. `CourseAttributes` , `StudentProfileAttributes` and get a good idea of what to do.

Sounds good to me  :)

[2018-02-21 05:48] damithc commented on #8496
@tshradheya can list here the classes that have similar tests for the new contributor to follow?

[2018-02-21 06:01] tshradheya commented on #8496
Here is a list of few tests done for builder pattern which can be used for reference.

- [StudentAttributesTest.java](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/cases/datatransfer/StudentAttributesTest.java)
- [StudentProfileAttributesTest.java](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/cases/datatransfer/StudentProfileAttr

[2018-02-21 06:04] craaaa opened #8497 "studentFeedbackResultsPage: separate self-responses from others' responses"
**Description of feature/enhancement**
Visually separate the responses given to a student by others and the student's own submissions when displaying feedback results.

**Justification**
When students view feedback results, the student's own responses are merged with others' responses to the student under the same question heading, as shown below.
![image](https://user-images.githubusercontent.com

[2018-02-21 06:23] craaaa opened #8498 "StudentFeedbackResultsPage: move additional information about work distribution to lightbox"
**Description of enhancement**
Move additional information about how to interpret work distribution answers into a lightbox.

**Justification**
At the moment, additional information is hidden in the heading. If we are trying to standardize how additional information is presented (see #8431), we should pick a style and stick to it.
![peek 2018-02-21 14-14](https://user-images.githubusercontent.com/

[2018-02-21 06:27] wkurniawan07 commented on #8495
Too trivial to be a first timer. @tshradheya just submit a fix yourself.

[2018-02-21 06:53] damithc commented on #8497
Other things we can do (along the same lines):
* Use grey instead of light blue
* mark them clearly as 'Your own response'
* not show own responses at all

[2018-02-21 08:09] #8463 closed

[2018-02-21 08:43] #2908 closed

[2018-02-21 08:45] #8495 closed

[2018-02-21 10:45] damithc opened #8500 "Instructor: enroll students in course: update link to sample spreadsheet"
Place to update: An instructor can reach this page by attempting to enroll students in a course
![image](https://user-images.githubusercontent.com/1673303/36475927-4976b926-1737-11e8-95be-99c5ecfb818e.png)

New link to use: `https://docs.google.com/spreadsheets/d/1ZThkUnOW9CSM6a9nDWzchh0UOsPU2s9eyVWb5LG5iMk/edit?usp=sharing`

Reason: the previous spreadsheet has some fake emails. The new one uses

[2018-02-21 11:59] LuLechuan commented on #8490
A work flow for this feature:
1. The student login to his/her account
2. The student requests for resend of submission/results links
3. The student selects the corresponding feedback session. The options of feedback sessions will only show if the student is included and the sessions are open (for submission) or result is already out
4. Request sends to the server.
5. Server looks through the datab

[2018-02-21 12:01] LuLechuan commented on #8490
For safer confirmation, the confirmation email can provide students with a few name options which includes the student's teammates and some random name. The server will only proceed if the student chooses the correct options.

[2018-02-21 13:04] tshradheya commented on #8490
Just a small query, if the student logs into his/her account, isn't he able to see all his sessions for al courses and edit/view the session and its results?

[2018-02-21 13:26] damithc commented on #8490
Let's go with just a captcha (or something similar) for now to thwart bots and see if we need further safeguards. Most other apps don't go beyond that. :-)
It may be useful to throttle requests for the same email (e.g., ignore requests for the same email if there was a similar request in the past hour), but that requires saving data in the database which increases our cost.

[2018-02-21 13:27] damithc commented on #8490
Yes, but most students don't join using their Google account as there is no need to do so.

[2018-02-21 13:30] damithc commented on #8490
This is for students who don't have a TEAMMATES account.
What I'm thinking is,
1. Student goes to 'request for link' page.
2. Student goes through 'I'm not a bot' verification.
3. Student enters email address
4. TEAMMATES sends all links (or we can limit to links related to past 1 month) to the given email address

[2018-02-21 13:50] LuLechuan commented on #8490
Hi prof, just a clarification. The student still needs to choose the corresponding course and feedback session while the serve needs to check whether the student is inside this feedback session (in this way it is more than the captcha) so that this function will not be abused by the outsiders. Is that correct?

[2018-02-21 13:57] #8299 closed

[2018-02-21 13:58] damithc commented on #8490
I don't think there is a need for that. Basically, we don't want to expose our own data to the user in any way even if the data we expose is harmless. Besides, it saves us a few database reads.

[2018-02-21 14:06] LuLechuan commented on #8490
Ok, will start to implement that

[2018-02-21 15:50] wkurniawan07 commented on #8500
Tangentially related: why use Google sheets to store this though? Building a small spreadsheet-like interface with [handsontable](https://handsontable.com/) can achieve the same objective, and especially so if we're going to move towards spreadsheet-like interface for enrolling later on.

[2018-02-21 16:26] #5329 closed

[2018-02-21 16:39] #8491 closed

[2018-02-21 18:49] wenmogu commented on #8431
What about this:
![image](https://user-images.githubusercontent.com/28526038/36498743-37431c0c-177a-11e8-9ffe-084006963a96.png)
^in comparison to the first design, theres no info sign from each list item (and this is the original design of the website  i.e. i dont touch it at all)

![image](https://user-images.githubusercontent.com/28526038/36498799-68851f36-177a-11e8-93ec-0d55ee2dfe68.png)
^click

[2018-02-21 18:53] wenmogu commented on #8431
@craaaa Yes, it means I extract the help info for each question type into tags, and use them in both `instructorHelpSessions.jsp`(the new tab help page) and ``newQuestionForm.tag` (the new question forms appear in the page in the above pics)

[2018-02-21 23:58] GarrettCarrott commented on #8492
Oh, duh! I totally forgot to run npm build run. No wonder it was having trouble finding the js folder. Thank you so much! And I do believe I will take up this issue. Thank you so much for your help. :)

[2018-02-22 01:55] GarrettCarrott commented on #8492
Ok! I finished working on the issue, now I'm going to be trying to make my commit. It was just a couple lines anyways, but let me know if the issue looks resolved on your end!

[2018-02-22 02:08] tshradheya commented on #8492
Great. Go ahead and create your PR. Also a attach a screenshot of the part you changed

[2018-02-22 02:43] GarrettCarrott commented on #8492
Done and done! The pull request has been created.

[2018-02-22 03:02] whipermr5 commented on #8431
@wenmogu +1 to the extraction of tags! :+1: https://github.com/TEAMMATES/teammates/issues/7604#issuecomment-311557171

[2018-02-22 03:20] damithc commented on #8500
That works too, and definitely the way to go _after_ we have moved to a spreadsheet-like interface and the dependency is already in. At the moment this seems like the simplest solution.

[2018-02-22 03:39] tshradheya opened #8503 "Enhancement: Submission confirmation email: include submission details"
I have picked up this issue from the `Project Ideas`

**Description of feature/enhancement**

Adding more details to the Submission confirmation email for
e.g. Giving them details if they have attempted all question and have left any unanswered.

*I am open to adding more confirmation details, but not able to think of anymore. Would be helpful if the senior devs could give more details of they had

[2018-02-22 03:40] damithc commented on #8431
I'm still not sure a modal is the way to go. for one thing, our UI mockups in the help page are meant to display in a full width page. They may not fit a modal window nicely. For another, it is hard to go back and forth between the help page and the actual form if you open it as a modal window. I think opening in a new window/tab is better.

[2018-02-22 03:42] damithc commented on #8503
It can include the answers too. BTW, I remember adding an issue for this sometime back.

[2018-02-22 03:43] bqnguyen94 commented on #6634
@damithc do we need a way to resend the link to all students as well, like the remind submission feature?

[2018-02-22 03:44] damithc commented on #8498
I agree that the question heading is not the best place to show additional info, what with the dark blue background and all.

[2018-02-22 03:45] Crphang commented on #8503
I believe this is the one: [#5721](https://github.com/TEAMMATES/teammates/issues/5721)

[2018-02-22 03:48] damithc commented on #6634
Assuming you are planning to present the user with a list of students to choose from (similar to the `remind particular students` feature), we can give a `select all` option in case the instructor wishes to send the link to all.

[2018-02-22 03:49] tshradheya commented on #8503
Duplicate of #5721. I will close this issue

[2018-02-22 03:49] #8503 closed

[2018-02-22 03:55] tshradheya commented on #5721
I have some doubts regarding the including answers submitted in the email.

Won't this just include lots of details for the student in the email? I was thinking of someway by which we include just a summary of details rather than all the details of answers. What are your thoughts on this?

[2018-02-22 03:57] bqnguyen94 commented on #6634
For `remind particular students` feature, `send to all students` is on the home page and student list is presented in a separated modal. Therefore for `resend result published email` I'm thinking maybe the `send to all students` option can be on the home page as well instead of putting it in the modal for consistency's sake?

[2018-02-22 04:10] #7645 closed

[2018-02-22 04:26] tshradheya commented on #8418
I just investigated this and found that the `jsonid` : `qn2InSession2InCourse1` which has the MSQ question is never referenced and hence serialization does not fail.

https://github.com/TEAMMATES/teammates/blob/85faa7829f4edf19383b033e2d59825652b4b835/src/test/resources/data/FeedbackSessionQuestionTypeTest.json#L706-L712

I think we can proceed to fix this and add some tests using it.

[2018-02-22 04:33] whipermr5 commented on #8415
Investigate why the current code was written this way https://github.com/TEAMMATES/teammates/issues/8415#issuecomment-364382607, and whether this solution https://github.com/TEAMMATES/teammates/issues/8415#issuecomment-364362101 has any side effects.

[2018-02-22 04:35] craaaa commented on #8431
@damithc Which parts of the question help information do you think users would want to refer back to? There's usually just a few lines of explanation text followed by a sample question to show the format of the question. The sample question shown is identical to what the user will see once they add the question, so we're not sure which additional information in the help page users may need to refe

[2018-02-22 05:25] Haozhe321 commented on #3431
@dabbler011 are you still working on this?

[2018-02-22 05:55] craaaa opened #8504 "InstructorHelp: rewrite instructor help"
`InstructorHelp` is currently not easy to read because:
1) There are grammatical errors
2) Help is not very informative
3) Text can be verbose
4) Organization of the page is not ideal (very long, hard to navigate)

Let's fix this!

[2018-02-22 05:59] craaaa commented on #8504
Putting this on hold until #8431 is solved, as we will be extracting each section into tags @wenmogu

[2018-02-22 06:05] wenmogu opened #8505 "Student and Instructor View: Incomplete display of messages in various areas"
**Environment**

`master` branch at commit 3a330e66

**Steps to reproduce**
![image](https://user-images.githubusercontent.com/28526038/36522328-eec1eadc-17d6-11e8-9820-070ad7f40b26.png)
1. instructor: type an excessively long question title for some session
2. student: edit response for that session

**Expected behaviour**
The question title should be complete during student edit

**Actual behavi

[2018-02-22 08:02] damithc commented on #5721
Yes, that is a lot of details but it can be useful as a record of what was actually submitted (in case the responses got deleted later due to some mishap). Just a summary of questions is not that useful?

[2018-02-22 08:05] damithc commented on #6634
BTW, the link `Resend link to view results` can be given in the `Results` menu.

[2018-02-22 08:09] damithc commented on #6634
Those two links too should be collapsed into one. That modal can give the following options.
- [ ] `all submitted`
- [ ] `all yet to submit`

[2018-02-22 08:23] damithc commented on #8431
Yes, that seems to be the case. And yes, if we can make all the information available in the form itself, there is no need to refer back to the help page.  We can proceed with the modal approach and provide an additional link to open the full help page in a new tab.

[2018-02-22 08:59] #8328 closed

[2018-02-22 09:39] ParmaarK opened #8507 "New Contributor Self-Intro : Komal Parmaar"
Link to my Fork: https://github.com/ParmaarK/teammates

Self-intro:
I am Komal Parmaar, Working as a software engineer at Evive Softwares since past 1 year. I aspire to work in open source, and I have a good experience in Java. Wishing to solve as many issues as i can and improve Teammates. Hope to be an integral part of teammates community.

Pull request done by me:
https://github.com/TEAMMATES/t

[2018-02-22 10:02] tshradheya commented on #8418
On searching where I could add a test for the question, I couldn't find any, cause the place where the question has been used is in `InstructorFeedbackEditSaveActionTest.java` where it doesn't require checking of `numOfMsqChoices` for submission.

The actual `testAndExecuteProcess()` test in `InstructorFeedbackQuestionEditTest` has been done very comprehensively with other msq question from the da

[2018-02-22 10:14] sukanta-27 commented on #8507
Hi @ParmaarK,
Welcome to TEAMMATES. I see you have already solved two issues before. So, you can start contributing by selecting any of our issues labled `d.Contributors` that does not have a open PR. Looking forward to your contribution.

[2018-02-22 12:12] sukanta-27 commented on #8447
**Note:** It is taking longer than usual for me to open a PR for this issue, as I am currently exploring the `Project Ideas` for my GSoC proposal. I will send a PR for this issue within 1-2 days. Sorry for the delay.

[2018-02-22 12:29] shivanshsoni commented on #8421
I have already commited as per intersection of 2 lists method. Is that good or I have to change that to key-only queries.

[2018-02-22 12:31] shivanshsoni commented on #8421
As max sesssions can be in hundreds not in millions an intersetion method  is fast for this much queries.

[2018-02-22 12:35] tran-tien-dat commented on #8421
@shivanshsoni Can you change to key-only queries? It's not too complicated. Also, please find the intersection in linear time.

[2018-02-22 12:41] shivanshsoni commented on #8421
@tran-tien-dat I can do that.

[2018-02-22 14:03] tshradheya commented on #4019
While investigating this issue, I am unable to reproduce this problem. A 0 is already considered as a response when all the points are given to one of the options and the other is left empty.

Even while viewing statistics, I can see `0` instead of `No Response`.

Is there something more that needs to be done for this issue? If not, then we can close this

[2018-02-22 17:15] sukanta-27 commented on #8447
@damithc Sir, I have a query.
How should we deal with the private sessions that are already present in the system, and have a `null` opening time or closing time?
I was thinking how about assigning the current time to the sessions which have `startTime == null` as the start time and for the sessions that have null endTime we can assign a date one week ahead of the current time?

[2018-02-22 18:18] joanneong opened #8509 "Instructor: feedback edit page: align tooltip to fit label for rank (recipients) question"
**Description of feature/enhancement**

As an instructor, creating a rank (recipients) question can produce the following:

![image](https://user-images.githubusercontent.com/24493463/36556203-574529ee-183f-11e8-85f2-6556eac989d3.png)

Here, the tooltip is obviously not aligned with the label which it is referring to. This can be a `d.firstTimers` issue since it should be a relatively simple fix.

[2018-02-22 18:20] sukanta-27 commented on #8411
Closing as `Private` sessions will be removed after #8447

[2018-02-22 18:21] #8411 closed

[2018-02-22 21:55] sukanta-27 opened #8510 "Remove unnecessary @SuppressWarnings("PMD.UnusedPrivateMethod")"
The bug that was returning false positives in PMD has been resolved.
**See:** https://github.com/pmd/pmd/issues/521

I think we can remove these SuppressWarnings now.

https://github.com/TEAMMATES/teammates/blob/898c5c994bab4258957404762303dce24bca9282/src/main/java/teammates/common/datatransfer/questions/FeedbackContributionQuestionDetails.java#L498

https://github.com/TEAMMATES/teammates/blob/89

[2018-02-22 21:57] sukanta-27 commented on #8510
Seems too trivial for a `d.FirstTimers` issue, will send a fix for this.

[2018-02-22 22:34] sukanta-27 opened #8511 "Upgrade to PMD 6.x.x"
**Description of feature/enhancement:**
PMD 6.0.1 released on 21-January-2018. So, we can upgrade to that.

**Justification**

It is the latest version.

**Existing similar features and their shortcomings:**
One of the shortcomings is the false positive for Private Methods (#8510)

**As #8512 and this issue is closely related, I think there is no point in keeping two issues. So, for pmd ruleset mo

[2018-02-23 00:58] sukanta-27 opened #8512 "Static-analysis : Update pmd rulesets according to pmd 6.0.1 requirements"
**Description of feature/enhancement**
If we are to apply #8511 we will have to update the pmd rulesets according to the 6.0.1 requirements.
Like :
`rulesets/java/strictexception.xml/SignatureDeclareThrowsException` -> `category/java/design.xml/SignatureDeclareThrowsException`

`rulesets/java/typeresolution.xml/LooseCoupling` -> `category/java/bestpractices.xml/LooseCoupling`

Have to exclude the

[2018-02-23 01:09] tshradheya commented on #8511
Can I work on this and simultaneously also resolve the referenced issues?

[2018-02-23 01:10] sukanta-27 commented on #8511
@tshradheya Thank you for asking first. Acutally I have all the work done. Was working on it for some time which is why discovered the #8512 issues. :sweat_smile:

[2018-02-23 01:16] sukanta-27 commented on #8510
Submitting a PR as this seems too trivial for a FirstTimer issue.

[2018-02-23 02:01] sukanta-27 commented on #8512
Closing as this is closely related to #8511

[2018-02-23 02:01] #8512 closed

[2018-02-23 02:23] tanhengyeow commented on #8505
Should we limit the word count of the question title or stretch the question title during student edit to fit the excessively long question?

[2018-02-23 02:28] damithc commented on #4019
I think this is a duplicate of #7875

[2018-02-23 02:28] #4019 closed

[2018-02-23 02:34] tshradheya commented on #6887
Working on this

[2018-02-23 02:50] damithc commented on #8447
hmm... I think assigning them in a time far in future (like 100 year ahead) may be safer?  Otherwise, these sessions can trigger emails which will be a nasty surprise to the users.

[2018-02-23 03:11] damithc commented on #8505
My guess is this a problem of a word being longer than the page width.  We can limit the question length, but that would be a different issue.

[2018-02-23 03:14] wkurniawan07 commented on #8511
I'm very aware of the new PMD; despite all its goodness, it's still missing one critical piece: the Eclipse support.

[2018-02-23 03:18] wkurniawan07 commented on #8510
This issue is unnecessary; this can (and should) be done when upgrading to new PMD, whenever that time is.

[2018-02-23 03:18] #8510 closed

[2018-02-23 03:20] wenmogu commented on #8505
I feel that limiting the work count is a convenient but it does not tackle the root cause. Personally I think a full display, and then a recommended length for the question would be better.

[2018-02-23 04:53] Progyan1997 commented on #8505
@wenmogu Wrapping up words around span element can do the trick!

[2018-02-23 05:59] tshradheya commented on #6887
Prof @damithc I have a query regarding this, when the instructor is viewing results and then goes into `excluding self` mode, are all responses given by
- student A to A hidden?
or
- by the instructor hidden?

[2018-02-23 06:35] damithc commented on #6887
Yes, that's correct.

[2018-02-23 06:57] sukanta-27 commented on #8511
@wkurniawan07 Oops! Missed that. :sweat_smile:

[2018-02-23 07:35] sukanta-27 commented on #8447
@damithc Okay. two more queries.

1.This should be done by running a migration script before deploying the new version right?
2. I should delete all the tests for `PRIVATE` sessions, and there test data?

[2018-02-23 09:01] damithc commented on #8447
1. Yes
2. Yes

[2018-02-23 10:18] sukanta-27 commented on #8510
Moved to : #8511

[2018-02-23 14:48] whipermr5 commented on #8418
I guess we can just do the simple fix `numOfMcqChoices` -> `numOfMsqChoices` then.

[2018-02-23 14:58] #8500 closed

[2018-02-23 15:23] whipermr5 opened #8519 "Release V6.3.0"
Scheduled for February 23, 2018, 11.59pm SGT.

[2018-02-23 15:54] Crphang commented on #7633
@damithc can I check whether `No Specific Section` has a use case?

After investigating the codebase, I see that the code adds this section automatically before adding other sections with this line `sectionPanels.put(Const.DEFAULT_SECTION, sectionPanel);`

[code]

And since this section is always empty, there is a javascript code that removes empty section whenever it is clicked.
[code]

So there

[2018-02-23 18:09] whipermr5 commented on #8519
[V6.3.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.3.0) has been released by @whipermr5 at February 24th, 2018, 02.05am SGT.

Code contributions from: @Progyan1997, @Shashwat-Garg, @avocadomaster, @bqnguyen94, @craaaa, @darrenwee, @elaborateruse, @joanneong, @nidhi98gupta, @shivanshsoni, @sukanta-27, @tanhengyeow, @tran-tien-dat, @tshradheya, @wenmogu, @whipermr5, @wkurniawan07
Review

[2018-02-23 23:01] VirinchiSainath opened #8523 "New contributor self intro : Virinchi Sainath"
Link to my fork: https://github.com/VirinchiSainath/teammates

PR: #8522

I am Virinchi Sainath. I am student in IUPUI, Indianapolis. Found this awesome repo on GSOC website. Hope I will work on this project for GSOC 2018. Thank you for the awesome documentation.

[2018-02-23 23:42] sukanta-27 commented on #8523
Hi @VirinchiSainath
Welcome to TEAMMATES. I see you have already submitted your first PR, so after the `d.FirstTimers` issue, you can work on `d.Contributors` issues. Looking forward to your contribution.

[2018-02-24 02:46] damithc commented on #7633
Dividing a course into sections is optional. students who are not put in a section will be shown in 'No specific section'.

[2018-02-24 04:34] damithc opened #8524 "StudentHomePageUiTest: fix state leak"
v6.3.0, live server
StudentHomePageUiTest is failing due to a state leak from another test, most likely from StudentProfilePageUiTest.
Specifically, the course below is showing up in StudentHomePageUiTest

Taken from `StudentProfilePageUiTest.json`
[code]
Location of the failure:
[code]

![image](https://user-images.githubusercontent.com/1673303/36625788-2e95585c-1961-11e8-842e-abb79ce90908.png)

[2018-02-24 05:49] damithc opened #8525 "Fix objectify.LoadException during live server testing"
V6.3.0
Found these errors in the log while running the test suite against the live server. Possibly some test data in the wrong format?
[code]

[2018-02-24 05:53] damithc commented on #8519
Deployed.

[2018-02-24 05:53] #8519 closed

[2018-02-24 06:53] damithc commented on #2983
Doesn't seem to be happening anymore.

[2018-02-24 06:53] #2983 closed

[2018-02-24 06:59] damithc commented on #3337
Not very important. Closing.

[2018-02-24 06:59] #3337 closed

[2018-02-24 07:24] damithc commented on #3884
Seems like we are doing that already.

[2018-02-24 07:24] #3884 closed

[2018-02-24 08:06] damithc commented on #3918
Closing this. Will create a new issue for renaming the tick box.

[2018-02-24 08:11] damithc opened #8526 "Instructor: search: rename tick box to be more accurate"
Steps: login as an instructor and go to the search page

Current:
![image](https://user-images.githubusercontent.com/1673303/36627395-f175ec54-197c-11e8-8532-9cebc385cb86.png)

Suggested: this option widens the search to questions, responses, and comments on responses. Let's rename it to `questions, responses, comments on responses`. As it is a long name, we can swap the two options so that `stude

[2018-02-24 08:20] damithc opened #8527 "Explore migrating to JUnit 5"
At one point we decided to move from JUnit to TestNg due to the higher flexibility of test configuration allowed by TestNG. It may be good to revisit this decision to see if it is still valid and if not, to migrate back to JUnit.
Reasons:
* JUnit is the more popular of the two
* JUnit is faster to keep pace with Java's evolution while TestNG doesn't even seem to be evolving any more.

[2018-02-24 08:25] damithc commented on #4061
Most likely this feature is not worth the effort. closing.

[2018-02-24 08:25] #4061 closed

[2018-02-24 08:40] davel37 commented on #8497
Working on this. Looking at implementing some of the suggestions here to make the difference between the two more apparent.

[2018-02-24 08:43] damithc commented on #7260
Looks like `Run data migration on datastore` done too?

[2018-02-24 08:49] damithc commented on #4834
No recurrences in the recent months. Closing.

[2018-02-24 08:49] #4834 closed

[2018-02-24 09:10] damithc opened #8528 "Instructor: view results: make the explanation of the view more informative"
Current:
![image](https://user-images.githubusercontent.com/1673303/36627919-fdf8f22a-1984-11e8-8d8c-717b5054e337.png)

Suggestion:
1. Use an ascii arrow `→` rather than `>` (both in this view, and in the drop down menu)
2. Give a more precise tooltip based on the value e.g., `Group responses by giver, then by recipient, and then by question`

[2018-02-24 09:10] damithc commented on #5506
Closing in favor of more specific issues created recently.

[2018-02-24 09:11] #5506 closed

[2018-02-24 09:18] damithc commented on #5524
The linked issue has been put on hold.

[2018-02-24 09:18] #5524 closed

[2018-02-24 09:32] damithc opened #8529 "Instructor: remind particular students: give a 'send me a copy' tick box"
Current:
![image](https://user-images.githubusercontent.com/1673303/36628726-711697aa-1988-11e8-8208-217aefe132d6.png)

Suggestion: Give a 'send me a copy' option which can be ticked by default. If the user unticks it, we should not send a copy to the instructor.

[2018-02-24 09:44] damithc opened #8530 "Instructor: remind students: collapse the two options into one"
Current:

![image](https://user-images.githubusercontent.com/1673303/36628846-1f851c26-1989-11e8-868d-743478d2ad6f.png)

![image](https://user-images.githubusercontent.com/1673303/36628829-e11d5dea-1988-11e8-8845-5be131f6938f.png)

Suggestion:
In the modal opened up by `Remind particular students` menu option, give these tick boxes on top:
- [ ] `all submitted`
- [ ] `all yet to submit`

Ticking/u

[2018-02-24 09:47] damithc opened #8531 "Instructor: remind students: send email copies only to requesting instructor"
![image](https://user-images.githubusercontent.com/1673303/36628846-1f851c26-1989-11e8-868d-743478d2ad6f.png)

Current: when an instructor send a reminder to a student(s), a copy of the email is sent to all instructors of the course.

Suggested: send the email to only the instructor who is sending the reminder, not all instructors of the course.

Reason: sending copies to all instructors a bit 'sp

[2018-02-24 09:49] tshradheya commented on #8529
I would like to take this up

[2018-02-24 09:58] damithc commented on #8529
@tshradheya FYI, I think @bqnguyen94 is working on a related issue (about resending links for results), and there are a few other issues that goes with this one. You can decide among yourselves whether to divide the work and peer review each other other or leave one person to do the whole lot.

[2018-02-24 10:18] bqnguyen94 opened #8532 "FeedbackSessionResultsBundle: remove anonymous participant's hash identifier"
As per #6092, we need to stop displaying the random hash in anonymised participants' name, e.g. `Anonymous student 1234567890` to `Anonymous student`. #8443 addresses this by removing the hash before data is rendered, but only for `student` view; `instructor` users can still see the trailing hash and could trace the anonymised student. Ideally, we should remove the hash completely from `FeedbackSe

[2018-02-24 10:26] damithc commented on #5837
Closing because the linked issue is closed.

[2018-02-24 10:26] #5837 closed

[2018-02-24 10:33] damithc commented on #5861
The UI gives it as `Sessions: Edit/Delete Responses/Comments by Others` which is probably clear enough. Will close for now.

[2018-02-24 10:33] #5861 closed

[2018-02-24 10:50] bqnguyen94 commented on #6634
@damithc this is for `remind particular students` only right?

[2018-02-24 10:51] damithc commented on #6519
@xpdavid @wkurniawan07 can/should this be done by new contributors, one rule at a time?

[2018-02-24 11:09] damithc commented on #6634
Yes, but with this we can remove `Remind all students` entirely. I've created a new issue for this #8530

[2018-02-24 11:17] bqnguyen94 commented on #8530
I'm working on this

[2018-02-24 11:40] xpdavid commented on #6519
I don't think new contributors can handle the analysis and changes for adding new rules. However, they can contribute to eliminating suppressions in CheckStyle (see `teammates-checkstyle-suppressions.xml`, almost all of them are suppressions to Javadocs and they are easy to be fixed).

Regarding adding new rules (not only to CheckStyle, but also to any static analysis tool we used like Macker, Fin

[2018-02-24 11:42] damithc commented on #7406
Still happening

[2018-02-24 11:45] damithc commented on #7487
Let's put this on hold for now.

[2018-02-24 15:13] tshradheya commented on #8529
I investigated this and #8531.

When reminding **only particular students**, then no instructor is notified that the students have received an email. However, if **remind all students** option is done then all instructors are notified.

I have written code to solve #8531 so that instead of all instructors of the course, only the instructor requesting for reminding is sent the notification.

Coming

[2018-02-24 15:16] tshradheya commented on #8531
Working on this which is related to #8529.

[2018-02-24 15:51] ChameeraD commented on #8526
I am working on this.

[2018-02-24 15:52] kartset opened #8534 "New Contributor Self Intro : Kartik Setia"
Link to my fork: [https://github.com/kartset/teammates](https://github.com/kartset/teammates)

Hi, I am Kartik Setia. I'm currently doing my engineering in Computer Science from Amrita School Of Engineering, Kerala, India. I want to contribute to Teammates. I've tried to set up the development environment but I am having some trouble while executing the command ./gradlew appengineStart

![screensh

[2018-02-24 15:54] tshradheya commented on #8534
It shows `address already in use`.

Maybe try running `gradlew appengineStop` and then try again?

[2018-02-24 16:07] kartset commented on #8534
Thanks for the advice. It works!

![screenshot from 2018-02-24 21-16-07](https://user-images.githubusercontent.com/30878021/36632280-c6adf24a-19aa-11e8-8dbf-6432bbbd21a9.png)

![screenshot from 2018-02-24 21-35-41](https://user-images.githubusercontent.com/30878021/36632278-c164e56e-19aa-11e8-96f3-c417d3b9758b.png)

[2018-02-24 16:08] kartset commented on #8534
Thanks for the advice. It works!!

![screenshot from 2018-02-24 21-35-41](https://user-images.githubusercontent.com/30878021/36632290-04f1978c-19ab-11e8-9f17-ece0b7f9b30f.png)

[2018-02-25 02:32] damithc commented on #8529
yes let's do that.

[2018-02-25 04:01] damithc commented on #7516
Closing because no recent recurrences.

[2018-02-25 04:01] #7516 closed

[2018-02-25 04:29] damithc commented on #7937
Did not fail at v6.3

[2018-02-25 04:31] damithc commented on #7796
Last reported Jan 23, 2018

[2018-02-25 04:37] damithc commented on #8084
still happening at v6.2

[2018-02-25 04:39] damithc commented on #8171
Did not fail at v6.3

[2018-02-25 04:50] damithc commented on #8312
Closing now. Will reopen later if needed.

[2018-02-25 04:50] #8312 closed

[2018-02-25 04:55] damithc commented on #8334
@wenmogu  are you working on this? If it is a simple fix, may be update the description to explain your proposed solution and let a new contributor do it?

[2018-02-25 04:57] damithc commented on #8353
Closing to focus on higher priority issues. Could be reopened later.

[2018-02-25 04:57] #8353 closed

[2018-02-25 04:58] wenmogu commented on #8334
Ooooops I thought this issue was already closed along with #8400... yeah I ve already fixed it along with #8400...

[2018-02-25 05:02] damithc commented on #8417
@whipermr5 can this be a first timer issue?

[2018-02-25 05:08] damithc commented on #8427
@tran-tien-dat what's the status of this issue? Do we have a fix in mind? Is it being handled? On a separate note, best not to cite issue numbers in commit message subjects (if you do, it can spam the issue thread, as you can see above)

[2018-02-25 05:10] damithc commented on #8429
Did not notice this at v6.3.0

[2018-02-25 05:17] damithc opened #8536 "Instructor: view results: fix typo in the tooltip of 'Expand Students' button"
There's a typo in Tool Tip of Expand-Collapse Button in  instructorResultsFeedbackPage when sorted by Giver > Recipient > Question as shown below.
![typo1](https://user-images.githubusercontent.com/24381442/36071733-735ac15c-0f39-11e8-82cb-d75f41291b45.png)

Reported by @nidhi98gupta

Should be `Expand or collapse`

[2018-02-25 05:27] damithc commented on #8452
A few of these cropped up during live server testing. Seems to be caused by test data.
`{instructoremail::InstructorCourseEditEmail@gmail.tmt, invitergoogleid::..., courseid::InsCrsEdit.CS2104} (Logger.java:34)`

[2018-02-25 05:27] #8466 closed

[2018-02-25 05:27] bqnguyen94 commented on #8530
@damithc is it expected for the remind particular students modal to have checkboxes of all unsubmitted students to be checked when the modal finishes loading? I found the following code, but it's not working:
https://github.com/TEAMMATES/teammates/blob/222bd21b0e33ae68a215229df134ba345a22cce7/src/main/webapp/dev/js/common/remindModal.js#L5-L16

[2018-02-25 06:08] #8334 closed

[2018-02-25 06:10] damithc commented on #8334
Got it. If a PR fixes multiple issues, you can indicate that with  something like `Fixes #1234 Fixes #5678`

[2018-02-25 06:15] damithc commented on #8530
I don't have a memory of such a feature. In any case, we don't need such a thing in future. Can get rid of the code if not used.

[2018-02-25 06:23] tran-tien-dat commented on #8427
@damithc it's time related so we have fixed it when rewriting time to `java.time`. Probably won't be merged to master soon though, until we have finished migrating.

Regarding issue number in commit message, I will take note of that.

[2018-02-25 06:27] damithc commented on #8427
Noted. Will put on hold to prevent others submitting PRs.

[2018-02-25 06:37] #8478 closed

[2018-02-25 06:43] #8507 closed

[2018-02-25 06:44] #8523 closed

[2018-02-25 07:14] whipermr5 commented on #8417
Might be too trivial. Also it's already fixed in the latest `java-time-migration` PR.

[2018-02-25 08:11] gupta-ujjwal opened #8538 "New contributor self intro Ujjwal Gupta"
**Link to my fork** : [https://github.com/gupta-ujjwal/teammates](url)

I modified the contact section of the UI slightly.

**Before**:
![screenshot from 2018-02-22 23-50-42](https://user-images.githubusercontent.com/22260630/36639330-b4c72444-1a30-11e8-8c10-8bcdee437b77.png)

**After**
![screenshot from 2018-02-25 13-10-17](https://user-images.githubusercontent.com/22260630/36639327-a14c847c-1a30

[2018-02-25 08:28] Crphang commented on #8538
Hi @gupta-ujjwal welcome to TEAMMATES. You can start contributing by taking up a `d.FirstTimers` issue, before moving onto `d.Contributors` issues.

[2018-02-25 09:31] gupta-ujjwal commented on #8538
Ok @Crphang

[2018-02-25 10:30] #8538 closed

[2018-02-26 01:40] damithc opened #8541 "Instructor: home page: give menu option to edit a course"
Current:
![image](https://user-images.githubusercontent.com/1673303/36649483-78f46f3c-1ad8-11e8-9bef-4a9bebab76fd.png)

Suggested: Give an `Edit` menu option. It can behave same as `Instructors` → `View/Edit` menu option (because the resulting page has a panel for editing course name).

[2018-02-26 04:15] gaurav122197 commented on #8541
@damithc Sir, I will be working on this issue.

[2018-02-26 04:23] #7934 closed

[2018-02-26 05:26] whipermr5 commented on #5837
Just realised this was fixed in #8235 ([relevant line](https://github.com/TEAMMATES/teammates/pull/8235/files#diff-a6fa1d3cb3ad7c706264ec6ed43a4701R468)).

[2018-02-26 06:56] damithc opened #8542 "Student: submit responses: fix rubric questions overflowing the question box"
v6.3.0
![image](https://user-images.githubusercontent.com/1673303/36656829-fe947052-1b04-11e8-96b9-391c0a97a82f.png)

[2018-02-26 08:36] gaurab4163 commented on #8509
I would like to work in this issue.

[2018-02-26 08:39] joanneong commented on #8509
@gaurab4163 Unfortunately as @VirinchiSainath has already opened a pull request for this issue recently, I would recommend that you find another issue to work on. For example, consider [this issue](https://github.com/TEAMMATES/teammates/issues/8528) or search for the `d.FirstTimers` tag :)

[2018-02-26 08:46] gaurab4163 commented on #8528
I would like to work on this issue, if it is still open andunassigned.

[2018-02-26 11:29] sukanta-27 commented on #8154
@wkurniawan07 @whipermr5 As you both are past GSoCers, wanted some advice for my proposal, if any one of you can respond, will be grateful.

- Can writing proposal for more than one project increase my chance of getting selected, or should I just focus on one project only?

[2018-02-26 12:42] LuLechuan commented on #8490
@damithc Hi prof, just to clarify. Will it be better to send the links of the feedback sessions that include the student (via checking the email he sent) instead of sending all the feedback sessions in the recent one month? In this case he won't be able to view the links to the feedback sessions that he does not participate in, so information is not leak. This would not waste some database as well

[2018-02-26 13:13] Shashwat-Garg commented on #8542
I could not reproduce using the updated code of github. Or is it to be reproduced some other way ?

[2018-02-26 14:26] damithc commented on #8542
I guess it depends on the question contents. When contents have long words, they add up to push the content out of the box.
![image](https://user-images.githubusercontent.com/1673303/36675438-e5c3543c-1b43-11e8-91a3-f51bc90bd284.png)

[2018-02-26 14:29] damithc commented on #8490
I meant links for all sessions in the last month that is relevant to the student (based on the given email) Given a link is unique to the student, we can send only the links that belong to that student anyway.

[2018-02-26 14:34] damithc commented on #8154
I guess it depends on the organization. For TEAMMATES, you can focus on one (or two, to be safe) projects, but also can mention in the application other projects you don't mind doing in your order of preference.

[2018-02-26 14:39] sukanta-27 commented on #8154
@damithc Thank you sir. :smile:

[2018-02-26 14:43] gupta-ujjwal opened #8544 "Unable to add instructor"
I am new to open source projects . I am unable to add an instructor on my dev server .
The button **Add instructor ** is not active.
![screenshot from 2018-02-26 19-59-18](https://user-images.githubusercontent.com/22260630/36676327-631e8586-1b31-11e8-83ae-71d409ad9929.png)

I guess this issue is due to the js files . Can anyone help me on how to fix it.

[2018-02-26 14:48] sukanta-27 commented on #8544
Did you run `npm run build` while setting up? Go through the [development](https://github.com/sukanta-27/teammates/blob/master/docs/development.md) document once more.

[2018-02-26 15:35] tshradheya commented on #8542
I used `word-break: break-word;` and it fixed in the following manner (it doesn't look good though :P )

![image](https://user-images.githubusercontent.com/12574756/36679119-67c67668-1b4d-11e8-974d-e01509fb5971.png)

Is there some more elegant way? Making it scrollable will make it look even worse imo

[2018-02-26 16:12] LuLechuan commented on #8490
Ok sure!

[2018-02-26 16:41] nidhi98gupta commented on #7112
@shaharyar-shamshi Are you still working on this?

[2018-02-26 17:55] nidhi98gupta commented on #2351
@damithc Can I work on this?

[2018-02-26 21:26] sukanta-27 opened #8547 "Instructor: students: all records: fix error when course has a session with null startTime"
**Environment**
`master` branch at 3670601713a2a0211067334096a8a99f73fb3da0

**Steps to reproduce:**
- Login as `Instructor`
- Go to `Students` and expand a `Course` too see all the students in the course
- Click on any of the students `All Records` option (This is to check that we can access the student records)
You will get something like this :
![screenshot 389](https://user-images.githubuserco

[2018-02-26 21:42] sukanta-27 commented on #8547
**Origin of the problem:**
These lines are causing this bug. (L66 and L73) checking for not null of startTime outside the if block.

https://github.com/TEAMMATES/teammates/blob/3670601713a2a0211067334096a8a99f73fb3da0/src/main/java/teammates/common/datatransfer/attributes/SessionAttributes.java#L66-L78

and In this portion of the code :
https://github.com/TEAMMATES/teammates/blob/3670601713a2a0211

[2018-02-26 21:44] shaharyar-shamshi commented on #7112
@nidhi98gupta yup I am working on it and half way to open the PR

[2018-02-26 21:46] sukanta-27 commented on #8547
@damithc Given that the `private` session is not widely used feature and will be removed after #8447, I assume this issue will not require a fix separately. But if in the meantime (until #8447 gets merged) you would like this fixed, I can send a quick fix for this.

[2018-02-26 21:52] OlhaHn commented on #8536
I will take it

[2018-02-27 01:14] damithc commented on #2351
@nidhi98gupta  sure.

[2018-02-27 01:19] damithc commented on #8542
Rubric questions need to be given plenty of horizontal space. I wish there is a way to use some this empty space to show the question.
![image](https://user-images.githubusercontent.com/1673303/36705250-1c8aed4e-1b9f-11e8-95f1-41dca689e4ee.png)

[2018-02-27 04:48] lightt77 commented on #8496
I am a first timer.Can I work on this?

[2018-02-27 05:34] tshradheya commented on #8496
@lightt77 Yes. Feel free to take this up

[2018-02-27 07:08] dalessr opened #8549 "New contributor self intro: Sun Shengran"
Link to my fork: https://github.com/dalessr/teammates

The change I did for UI:
![teammates_ui](https://user-images.githubusercontent.com/22449685/36714901-e65f0f36-1bce-11e8-9e3b-97b929cb43a7.png)

My name is Sun Shengran, Information Security Year 2 student from NUS. I would like to contribute in TEAMMATES because this is an awesome project and I am quite interested. I am currently applying for

[2018-02-27 07:11] sukanta-27 commented on #8549
Hi @dalessr
Welcome to TEAMMATES. You can start contributing by picking any of our `d.FirstTimers` issues, before moving on to slightly more difficult `d.Contributors` issues. Looking forward to your contribution.

[2018-02-27 07:19] dalessr commented on #8549
Okay. Thank you @sukanta-27

[2018-02-27 10:02] craaaa commented on #8542
We could push the rubric down to a different row from the evaluee/recipient, like this:
![image](https://user-images.githubusercontent.com/12183503/36722167-d92f94ca-1be7-11e8-81c4-133952f05885.png)
(ignore the lack of word-wrap!)

But if we do this, then the style of rubric questions will be pretty different from other questions (e.g. the evaluee/recipient header looks a bit out of place in the s

[2018-02-27 10:34] sukanta-27 commented on #8542
@craaaa IMO using the space prof. @damithc suggested in https://github.com/TEAMMATES/teammates/issues/8542#issuecomment-368712030 will not solve the problem completely. As we can see in this above screenshot that the table still overflows the question box, not to mention if someone wants to add one more column the scenario will be same as before (with less appealing UI and a lot of refactoring for

[2018-02-27 11:36] lightt77 commented on #8496
@tshradheya Can you please review my PR?(#8551)

[2018-02-27 11:38] tshradheya commented on #8496
@lightt77 Will do.
Note: Avoid referencing issue number in commit messages as it spams the thread

[2018-02-27 11:54] davel37 opened #8552 "Content not allowed in prolog"
- **Operating System**: Windows (x64)
- **JDK Version**: 1.8.0.144
- **Eclipse**: Oxygen

**What I was trying to do / What I need help with**
After running fine, and passing tests in both Eclipse and from the cmd, I'm now getting "content not allowed in prolog" errors, when trying to run the CiTests.

**Attempts to resolve the problem**
 Two days trying :-) google, and stackoverflow not providing

[2018-02-27 12:16] sukanta-27 commented on #8552
@davel37 Can give some more information? Like what were you working on? What are the exact steps you took to resolve this? (So that we can emit those solutions)

[2018-02-27 12:23] craaaa commented on #8498
Thoughts on how to proceed:
1. Move information on calculation and use in grading to `studentHelp.jsp` and duplicate them in a modal (accessible by clicking on the info button in screenshot below)
1. Move information on how to interpret the results into tooltips -- shown in gif below
![peek 2018-02-27 20-22](https://user-images.githubusercontent.com/12183503/36728497-e5c95bb2-1bfb-11e8-9600-ed3a91

[2018-02-27 12:25] sukanta-27 commented on #8552
Can check that you have not accidentally modified any of the xml files (like `appengine-web.xml`)?

[This](https://stackoverflow.com/questions/3030903/content-is-not-allowed-in-prolog-when-parsing-perfectly-valid-xml-on-gae) thread has some insight on this error. And to quote it:

`helloworld<?xml version="1.0" encoding="utf-8"?>`
or even a space or special character.

[2018-02-27 13:55] craaaa commented on #8542
@sukanta-27 Yes, there's definitely a need for some form of wrapping or scrolling here to solve the primary problem. Was just thinking that making better use of the horizontal space would prevent the table from spilling over in more cases, so we would need either wrap/scroll in fewer cases. Both solutions work but are much less satisfying than having the entire table well-displayed :)

(FWIW I pre

[2018-02-27 14:33] wkurniawan07 commented on #8552
@davel37 if you're using MinGW, you may want to run `./gradlew` instead of the batch file version. See if that gets rid of the error.

[2018-02-27 14:55] wkurniawan07 commented on #8524
I have some spare time this weekend to look into this. If someone else wants to do it before me, please be welcome.

[2018-02-27 15:09] Ali96kz commented on #7224
Are you meaning that?
![image](https://user-images.githubusercontent.com/15236829/36736202-37da5edc-1c02-11e8-8e82-698c6be7677f.png)

[2018-02-27 15:21] damithc commented on #7224
Not really, but now that you mention it, it got me thinking: Perhaps we can simply extend the current `weights` feature to have a weight for each cell rather than each column as it does now? That gives the full flexibility to the user to set any weightage for each cell.

[2018-02-27 15:28] damithc commented on #8542
I think we should have some indentation so that the question a bit more indented than the name.

And yes, we need some wrap/scroll solution as well.

[2018-02-27 16:13] shaharyar-shamshi opened #8555 "New Contributor self Intro : Shaharyar shamshi"
Link to my fork -- https://github.com/shaharyarshamshi/teammates
I am shaharyar shamshi 3rd year undergraduate student at Indian Institute of Information technology ,Una
I know it is too late to introduce  myself to teammates as I am working with teammates for more than 2 months . And Have 1 successful merge #8119 And Currently working on pull request #8533 (which is ongoing ) and #8208 (which is

[2018-02-27 16:17] Ali96kz commented on #7224
Yes.

[2018-02-27 16:17] Ali96kz commented on #7224
Can't understand how it would be look?

[2018-02-27 18:40] OlhaHn opened #8556 "New Contributor self Intro - Olha Hnatik"
Hi!

My name is Olha and I'm a third student student of Jagiellonian University.

Link to my fork: https://github.com/OlhaHn/teammates
Changes I have made:
![changes](https://user-images.githubusercontent.com/18572964/36747634-ce095988-1bf5-11e8-8583-7e2650c52aa6.png)

I added a tooltip for the button "Remind all"
Link to the changes: https://github.com/OlhaHn/teammates/tree/master

[2018-02-28 01:16] craaaa commented on #8556
Hi @OlhaHn, welcome to TEAMMATES!
You can start contributing by picking any of our `d.FirstTimers` issues, before moving on to slightly more difficult `d.Contributors` issues. Looking forward to your contribution.

[2018-02-28 01:19] craaaa commented on #8555
Hi @shaharyar-shamshi, welcome (officially) to TEAMMATES!
Do continue working on `d.Contributors` issues. Looking forward to your contribution.

[2018-02-28 01:51] #8555 closed

[2018-02-28 01:54] damithc commented on #8556
@OlhaHn the tool tip you added seems to be useful. If you want you can create an issue and submit a PR for if.

[2018-02-28 02:00] damithc commented on #7224
It would be similar to your screenshot except there will be only `Weights` checkbox (i.e., keep the current one, no need to add more). When the checkbox is ticked, text boxes will open up in every cell rather than only at the top of the column.

[2018-02-28 03:09] tshradheya commented on #8530
@bqnguyen94 Don't get rid of that code.

That code is used here: ( As mentioned in comment of the code `// if clicked button is on no-response panel, then populate check boxes otherwise not `

![image](https://user-images.githubusercontent.com/12574756/36767890-866f32b4-1c77-11e8-9162-bb843ded1863.png)

On clicking `Remind all` in `Results` page if Instructor, It automatically checks the checkbox

[2018-02-28 04:50] #8419 closed

[2018-02-28 06:58] tshradheya commented on #7633
@damithc Can I confirm that if the `No specific recipient` panel was made into `No specefic Section` panel in some PR? (I could not find any place where I would get `No specefic recipient` panel)

Cause then its better to update the details of this issue.

[2018-02-28 08:37] davel37 commented on #8552
Thanks guys for those tips, no luck yet. Actually, I wasn't making any changes at the time the errors appeared so thats made it a little more confusing. Actually my Teammates in Eclipse is running about 5 errors now, all surrounding the import of packages  (imports cannot be resolved) like:

com.google.appengine.tools.remoteapi.RemoteApiInstaller;
com.google.appengine.tools.development.testing.Loc

[2018-02-28 09:07] wkurniawan07 commented on #8552
@davel37 if you run `locale` from that shell, what is the output?

[2018-02-28 09:17] davel37 commented on #8552
Thanks for the suggestion. I had checked the settings alright to make sure I had switched to UTF-8 in eclipse as per the documentation.

locale:

LANG=en_US.UTF-8
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_ALL=

[2018-02-28 11:02] damithc commented on #7633
It could have, but by mistake. The two things are not the same.

[2018-02-28 11:26] tshradheya commented on #7633
I think #7044 did the change, but it was intentional cause `recipient` part didnt make sense in some places.

I think @Crphang 's  PR #8539 is not solving this bug then. We will have to create a new issue for the `No specific section` part

[2018-02-28 11:33] tshradheya commented on #7633
Wanted to check how do I try to view the "No specific recipient" panel?

[2018-02-28 11:50] damithc commented on #7633
If there is a question that has no specific recipient, the panel should show up for any view except the `By Question` view. The gif in the issue description (above) has an example.

[2018-02-28 11:55] Crphang commented on #7633
This is the only place where `No Specific Recipient` is used in the codebase.

[code]
It is used to get a section name. On the other hand, I believe #7935 changed the naming `No Specific Recipient` to `No Specific Section`, and I don't think that this bug will be caused by a `No Specific Recipient` panel because the javascript code only removes the panel when it is empty while the logic above sugg

[2018-02-28 11:55] tshradheya commented on #7633
Ok so I investigated more and found out the following:

- The panel was initially named `No specific recipients` [ Although the name suggests that it shows all responses which do not have  recipient, it actually showed the results for students not in any `section`]
The problem was discovered in #7044

- In #7935 the panel was renamed to what it acatully showed `No specefic section`. However this c

[2018-02-28 12:56] darrenwee opened #8557 "Tests: certain tests are locale-dependent"
### Environment
- current `master` or newer
- I reproduced this on Ubuntu 16.04, and the original issue was in Arch Linux, but it should happen on any OS with the same locale settings.

### Steps to Reproduce
1. set system locale to a locale that uses different date/decimal formats, like a German locale (language code `de`). On Ubuntu, I set `LC_TIME` and `LC_NUMERIC` to `de_DE.UTF-8`.
2. run the

[2018-02-28 13:34] Vivek1012 commented on #8166
Hi,

I'm facing the same problem, i tried with clearing the cache of my browser and re running the "npm install" and "npm run build", infact i tried this with different browsers as well. I tried to Debug the click event of "addInstructorBtn" button. but debugger don't hit on that method too. I don't know what's wrong with this case, Because my console is clean and there is no error regrading that.

[2018-02-28 13:54] damithc commented on #8498
Looks like it could work. Can give it a try.

Some caveats about using tooltips (may not apply to this scenario):
* The amount of info (and formatting) we can show in a tool tip is limited. We might run into difficulties if in future we need to show more information.
* When we break up info into bits and distribute them into multiple places, we don't have a place to describe info that concerns mul

[2018-02-28 14:22] tanhengyeow commented on #6902
Hi I'm interested in this issue.

I'm new to writing tests in TEAMMATES and need some help here. I studied the tests written in `test/cases/action` and got a rough idea of to approach this (please correct me if I'm wrong):

[code]
I have some queries regarding this issue:

1) How do I trigger the exceptions checked by `AdminExceptionTestAction` ? How can replay the process in my browser? I tried i

[2018-02-28 15:17] prakharcipher commented on #8526
I'd like to fix this up right now.

[2018-02-28 15:20] prakharcipher commented on #8536
I'd like to fix this. Kindly guide me through the source file for this. Thanks.

[2018-02-28 15:45] whipermr5 commented on #8166
@Vivek1012 Did you restart the dev server after doing `npm run build`?

[2018-02-28 16:30] wenmogu commented on #8505
Question update:
On the instructor side, the long question title also causes some display problem during copying of the questions:
![capture](https://user-images.githubusercontent.com/28526038/36799253-afe8f588-1ce7-11e8-96c3-7576c95856a3.PNG)

[2018-02-28 19:00] Vivek1012 commented on #8166
Yes, i did restarted the dev server.
I also have changed the path for 'adminHome.js' in adminHome.jsp and adminHomePage.html.

but no luck with this as well :(

[2018-02-28 19:39] OlhaHn opened #8558 "Instructor: session results: add a tooltip to the 'Remind all' button"
Add a tooltip to button "Remind all" at instructorFeedbackResultsPage

[2018-02-28 20:49] OlhaHn commented on #8536
@prakharcipher you can take it

[2018-02-28 21:43] architkansal opened #8561 "New contributor self intro : Archit Kansal"
Link to my fork : [https://github.com/architkansal/teammates](https://github.com/architkansal/teammates)
**Before** : For watching the tour, website is left and the link is opened in a new tab.
**Now**  : The website is never left. The video is auto-played in a modal on clicking the `Video Tour` icon and is automatically stopped on leaving it.
![screenshot from 2018-03-01 02 43 06](https://user-im

[2018-02-28 21:53] OlhaHn commented on #8556
@damithc
Hi, I tried to do it but I got "Travis CI build failed" because of changes in HTML.
https://github.com/TEAMMATES/teammates/pull/8559

How can I fix such things?

[2018-02-28 21:57] sukanta-27 commented on #8556
@OlhaHn You will have to run [GodMode](https://github.com/sukanta-27/teammates/blob/master/docs/godmode.md).

[2018-02-28 23:02] shaharyar-shamshi commented on #8561
welcome @architkansal to the teammates you can get brief idea about codebase by solving d.firstTimer Issue then proceed to d.contributor issue which is slight difficult

[2018-02-28 23:37] sukanta-27 commented on #8154
@damithc Sir, regarding the project proposal, should a applicant cover all the points in his/her proposal in some way or focusing on one/two points is enough? e.g. in the Questions+ project the features to consider are :

Here is covering every aspect necessary?

Additionally should a applicant be confined in this domain only (here `f.Questions`) or can he/she propose works that slightly branch ou

[2018-03-01 00:28] whipermr5 commented on #8166
You shouldn't have to change the path. It should point to the generated, minified version of `adminHome.js`.

[2018-03-01 04:41] #8436 closed

[2018-03-01 05:36] architkansal commented on #8561
Thanks for creating a very comprehensive [design](https://github.com/TEAMMATES/teammates/blob/master/docs/design.md) guide to begin with!

[2018-03-01 05:57] damithc commented on #8154
Not necessary. It's fine to focus on only _some_ of the items mentioned.

It's fine to branch out.

[2018-03-01 06:07] damithc commented on #6902
@TEAMMATES/seniordevs any advice?

[2018-03-01 06:07] damithc commented on #6902
@tanhengyeow in the meantime try a different issue.

[2018-03-01 07:11] architkansal commented on #3432
I would like to work on it. Could you elaborate a bit more on this and where should I start looking?

[2018-03-01 07:52] damithc commented on #3432
Updated the description with more details.

[2018-03-01 09:14] nidhi98gupta commented on #8284
@damithc I am aiming to be part of GSoC '18 with TEAMMATES.
I have a question regarding the Project : Recycle Bin.
Will using filter() on entity reads be reasonable in terms of billing costs? I mean is database reads more preferable than database writes?

[2018-03-01 09:32] damithc commented on #8284
@nidhi98gupta just now I downgraded the priority of that project idea. Reason: While the feature is needed very much, it requires some research to be done first. For GSoC, we'd rather give a higher priority to projects that don't need that much research.

[2018-03-01 09:53] architkansal commented on #3432
I tried reproducing the scenario:
I created a course - cs101 and a session in it - Feedback for PPT-1
I added some students and submitted session for one student ( from student's account ).
Why is the **PC:  N/A** in Instructor's View ? and there is **no data** corresponding to other students (who have not submitted session ) about themselves.
I might be lacking some context here. Cloud you explai

[2018-03-01 10:21] damithc opened #8563 "Instructor: add new session: rename session template options"
Current:
![image](https://user-images.githubusercontent.com/1673303/36839030-c66e13a8-1d7b-11e8-8d20-1616ce6f5366.png)

Suggested:
* `Session with my own questions` → `session with my own questions`. Reason: As this form is a way for the user to tell TEAMMATES what to do, `my` is more appropriate than `your`
* `Team peer evaluation session` → `session using template: team peer evaluation`

[2018-03-01 10:25] damithc commented on #3432
PC is calculated based on how others rated the student. If no one else has rated the student, PC is not available.

[2018-03-01 10:29] damithc commented on #8563
@craaaa @joanneong what do you think?

[2018-03-01 10:33] architkansal commented on #3432
so PC is only applicable for `Team Contribution` Question right ?
and in 2nd Image above, `To Jean Wong - From Anshul Goyal ` the PC value should have been there as Anshul has given feedback for Jean Wong. But Jean Wong has not submiited the session yet. And that is the issue here exactly right ?

[2018-03-01 10:37] damithc commented on #3432
Yes, for both questions.

[2018-03-01 10:40] architkansal commented on #3432
Thanks a lot for the clarification. Could you point me to the files to look at for this ?

[2018-03-01 11:25] sukanta-27 commented on #8563
Can I work on this? As I am currently working on 2 other session related issues (#8447, #8468) , I can take this one too.

[2018-03-01 12:18] damithc commented on #8563
May be leave it to a newer contributor? In the interest of building up your qualifications for GSoC, you can attempt increasingly harder issues instead of doing smaller issues.

[2018-03-01 12:29] sukanta-27 commented on #8563
Okay sir.

[2018-03-01 12:54] architkansal commented on #3432
Is there some way to persistently store the data from localhost somewhere so that when server is restarted the data including courses, students etc is not lost ?
or incrementally build the server so that changes in backend reflect without restarting the server again to avoid losing data ?

[2018-03-01 13:17] craaaa commented on #8563
I like the change from `your` to `my`. About the `session using template`: are we thinking about adding other templates? The use of the colon makes it seem to me like the team peer evaluation template is one of several possible templates to be chosen from.

[2018-03-01 13:29] sukanta-27 commented on #8563
@craaaa

One of the features to consider in the `Questions+` project is about adding a new template with sample questions. So, if this project is to be selected than we will have more than one template to choose from.

[2018-03-01 13:42] damithc commented on #3432
@LiHaoTan for your comments please

[2018-03-01 13:43] wkurniawan07 opened #8565 "Update workflow/process documents"
There has been some internal restructuring as well as improvements to GitHub that necessitates updates to the workflow/process document. To name a few:
- No longer need to ask dev to update branch if outdated since GitHub provides ["Allow edits from maintainers"](https://github.com/blog/2247-improving-collaboration-with-forks) (since very long ago)
- [Multiple issue/PR templates](https://github.co

[2018-03-01 13:44] damithc commented on #8563
Yes, we planned to have more templates, although never got around to actually doing it. :-p

[2018-03-01 13:46] wkurniawan07 opened #8566 "Update third-party dependencies"
Last update was in Nov 2017, concurrently done with the Java 8 migration. As always, this will exclude updates that take significant effort such as Selenium.

Will do this weekend.

[2018-03-01 15:01] wkurniawan07 commented on #8511
Actually we shouldn't let Eclipse be a blocker for this. Until Eclipse has the support for it, we can keep a separate, frozen config based on what we have right now, and use a new config file to move forward with the new PMD.

[2018-03-01 15:02] joanneong commented on #8563
Personally I would actually prefer `session with your own questions` rather than `my`. This is because   I find it to be more consistent with other parts of TEAMMATES. For example:

From the `Courses` page:
![image](https://user-images.githubusercontent.com/24493463/36851097-69a77cea-1da3-11e8-81c2-0946c2814d05.png)

From the `Sessions` page:

![image](https://user-images.githubusercontent.com/244

[2018-03-01 15:09] wkurniawan07 commented on #3432
@architkansal is that not the case right now? Are you developing with Eclipse, IntelliJ, or command line?

[2018-03-01 15:09] damithc commented on #8563
The normal guideline (see [here](https://ux.stackexchange.com/a/4350)):
* You: When the app is talking to the user (e.g., error messages)
* My/I: When the user is talking to the app (e.g., forms)

[2018-03-01 15:12] wkurniawan07 commented on #6902
@tanhengyeow do you know how to pass parameters to HTTP `GET`/`POST`? (this one should be a `GET` which is the simpler one)

[2018-03-01 15:29] architkansal commented on #3432
Right now, when I restarted the server with some changes in UI controller, all my data got erased.
I am developing with Eclipse. Though I ran the server from terminal using `./gradlew appengineRun`.

[2018-03-01 16:09] nidhi98gupta commented on #8536
@damithc @prakharcipher I have already solved the issue in #8442.

[2018-03-01 16:12] nidhi98gupta commented on #8442
@damithc Apologies for delay in replying. I missed your comment. Actually I have solved both the issues in this PR only. :sweat_smile:

[2018-03-01 16:22] wkurniawan07 commented on #3432
Thanks for reporting. Apparently the `run` command is modified when the Gradle plugin upgrades from `1.3.3` to `1.3.4`. Will create an issue and submit a quick fix.

Meanwhile, if you want to bypass this limitation for now, change the value of `1.3.4` here to `1.3.3`:
https://github.com/TEAMMATES/teammates/blob/7390503e29083bc487c7d0b689177ea8bc71e897/build.gradle#L27

[2018-03-01 16:29] wkurniawan07 opened #8567 "Running dev server via CLI: preserve local datastore across builds"
Context: When running dev server via CLI (`appengineStart`/`appengineRun`), the local datastore is expected to persist across builds.

https://github.com/TEAMMATES/teammates/blob/7390503e29083bc487c7d0b689177ea8bc71e897/build.gradle#L337-L338

When these two lines are introduced, the Gradle plugin used was version `1.3.3` and the directory specified above is relative to the project directory. Now

[2018-03-01 16:34] architkansal commented on #3432
Thanks, will switch to 1.3.3 for now.

[2018-03-02 00:56] GarrettCarrott commented on #8475
Has anyone started working on this issue? If not I don't mind giving a crack at it.

[2018-03-02 02:34] shaharyar-shamshi commented on #6902
@tanhengyeow I assume that you have an Idea of how to add submission Parameter And HTTP GET/POST method
Now coming to your answer
 Suppose  that after working with some parameter  you wish to  get some Particular Page i.e. expectedPage  (expectedPage depend on your logic)you can verify it by  making test case of those parameter and pass  the parameter to get actualPage  and use the method
`AssertH

[2018-03-02 02:39] #8567 closed

[2018-03-02 02:41] tanhengyeow commented on #8563
I'll attempt this issue :)

[2018-03-02 05:32] whipermr5 opened #8569 "FeedbackSessionAttributes: isInGracePeriod: handle corner case"
This is the condition for `isOpened`:
https://github.com/TEAMMATES/teammates/blob/3e484a84ee695ce39e31f173ff7e674614fa3742/src/main/java/teammates/common/datatransfer/attributes/FeedbackSessionAttributes.java#L287

This is the condition for `isInGracePeriod`:
https://github.com/TEAMMATES/teammates/blob/3e484a84ee695ce39e31f173ff7e674614fa3742/src/main/java/teammates/common/datatransfer/attributes/

[2018-03-02 07:29] sukanta-27 opened #8571 "Instructor Help : Change 'To' to 'Evaluee/Recipient' in rubric question example"
While I was working on #8176, I did a search for the term `Evaluee` in the `InstructorHelp` page and changed the words to suggested `Evaluee/Recipient`. However I forgot to do a search for `To` which I assumed was replaced to `Evaluee` in #7900. But it seems one occurrence of this word got overlooked and that is in the `Example 10` under `Rubric question`. Change the following `To`->`Evaluee/Recip

[2018-03-02 07:29] sukanta-27 commented on #8571
This is a `d.FirstTimers` issue.

[2018-03-02 07:46] architkansal commented on #3432
what are the best ways to log the outputs in the project temporarily for the sake of investigation ?
can we hit the endpoints explicitly and get the data e.g. using postman, for a session ?
What practices do we generally follow here ?

[2018-03-02 07:53] #8418 closed

[2018-03-02 08:51] wkurniawan07 commented on #3432
@architkansal have you read the [development guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md)? You can find the answers to all your questions there.

No; we don't use a RESTful architecture. There is a limited subset of function that adopt RESTful architecture but this is for the testing infrastructure rather than production usage.

[2018-03-02 08:55] wkurniawan07 commented on #8571
While difficulty-wise it is, I'm not sure if this is something that should be fixed "only when we feel like it". @damithc ?

[2018-03-02 09:12] damithc commented on #8571
Yes, not very urgent but it's good to make the documentation consistent with the UI. Thanks for the report @sukanta-27

[2018-03-02 09:29] sukanta-27 opened #8573 "Feedback Path: Predefined Combinations: Disable number field when not selected"
**Environment:**
`master` branch

**Steps to reproduce:**
- Login as instructor
- create a new session or edit a existing one
- click on `Add New Question`
- Select any option (e.g- essay)
- Under `Feedback Path` selected `Other Predefined Combinations...`
- Set any feedback path (e.g like in the screenshot below)
![screenshot 394](https://user-images.githubusercontent.com/10681755/36890825-4cbb8b

[2018-03-02 10:33] whipermr5 opened #8574 "Load time zone rules from resource file on application startup"
Related to #84. See https://github.com/TEAMMATES/teammates/pull/8540#issuecomment-369284277.

[2018-03-02 10:45] sukanta-27 commented on #8453
@damithc Just checked, this issue also happens in the case of `Rank (options)` and `Rank (recipients)` questions. Should we fix this in this issue only or should I create a new issue?

[2018-03-02 10:58] architkansal commented on #3432
Why are there two different values ? ( 'All Records' Page )
from Anshul Goyal to Anshul Goyal: ( Shows the value actually filled by Anshul Goyal )
![screenshot from 2018-03-02 16 22 49](https://user-images.githubusercontent.com/15241672/36895789-335c84d0-1e36-11e8-80c1-32420923e473.png)

to Anshul Goyal from Anshul Goyal: ( How is this calculated? )
![screenshot from 2018-03-02 16 22 37](https://u

[2018-03-02 12:20] nidhi98gupta commented on #3432
@architkansal For understanding how contributions are calculated, you can view this file.
[https://github.com/TEAMMATES/teammates/blob/898c5c994bab4258957404762303dce24bca9282/src/main/webapp/partials/technicalInformationCalculatePointsContribution.jsp](url)

[2018-03-02 13:25] #8569 closed

[2018-03-02 13:49] damithc commented on #3432
This happens when a student a student gives ratings that don't add up to the correct total. e.g., if there are 4 members but the students ratings add up to 4E+10% instead of the correct value 4E.

The `To Student` view shows values after correcting for this error while `From student` view shows before.  Yes, this is confusing to the reader, but that's a battle for another day.

[2018-03-02 13:56] sukanta-27 opened #8576 "Instuctor : Feedback Questions : MCQ/MSQ questions : Disable drop down menu by default"
**Environment**
`master` branch

**Steps to reproduce:**
- Login as `Instructor`
- Create a new session or edit an existing one
- Click on `Add new questions`
- Select MCQ/MSQ question
- The checkbox for `Or, generate options from the list of all` is not be selected by default but the drop down menu will be enabled, where as the other options `Max number of *` and `Min number of *` will be disable

[2018-03-02 14:13] sukanta-27 commented on #8573
@damithc Sir, can take a look at it? I guess this can be a `d.Contributors` issue.

[2018-03-02 17:17] tshradheya commented on #8576
I could not reproduce this error. Everything works as expected for me

[2018-03-02 17:28] sukanta-27 commented on #8576
@tshradheya Checked both MCQ/MSQ? Added a new question or did you edit a existing one?

[2018-03-02 17:44] tshradheya commented on #8576
Sorry my bad. Could reproduce this error.
I think I forgot to run `npm run build` and I was on my old branch :P

[2018-03-02 18:52] sukanta-27 commented on #2776
@damithc Sir, Can I would like to work on it after one of my PRs get merged?

[2018-03-02 21:46] priyanshugandhi opened #8580 "Help Request:[Getting exception while managing the dev server]"
- **Operating System:** Windows 7
- **JDK Version:** 1.8
- **Eclipse / IntelliJ Version (if applicable):** NA
- **Firefox / Chrome Version (where applicable):** NA

I was trying to set the development phase by managing the dev server. When I tried to run the command  gradlew.bat appengineStart, it showed me an exception which led to BUILD FAILED.

Can anyone help me resolve this issue?

![error1](

[2018-03-02 22:04] architkansal commented on #3432
I am not sure where the PC value is calculated / sent to the browser. I have been trying to track it all the way but unable to:
Below is the image showing one of the `CONTRIB` Question Response.
![image](https://user-images.githubusercontent.com/15241672/36922885-6db278ac-1e8f-11e8-88eb-1e59e5378590.png)
 and Corresponding Question:
![image](https://user-images.githubusercontent.com/15241672/36923

[2018-03-02 23:55] OlhaHn commented on #8576
I would like to take it

[2018-03-03 02:25] #8492 closed

[2018-03-03 03:28] Ali96kz commented on #8580
Try that `gradlew appengineStart `

[2018-03-03 04:22] damithc commented on #2776
Sure

[2018-03-03 06:03] joanneong commented on #8184
I will like to work on this issue since I have been delving into `distribute points` type questions recently.

[2018-03-03 06:04] whipermr5 commented on #8498
Also note that tooltips are disabled on touch devices.

[2018-03-03 06:22] whipermr5 commented on #8120
From server logs, it is very likely a javascript issue. All the logged cases I've examined so far show that the responses were always correctly loaded when the user loaded the submission edit page, but the POST parameters were somehow empty during the actual submission save. Probably related to #7796 too.

[2018-03-03 06:30] whipermr5 commented on #8475
@GarrettCarrott Take a look at the references above. There is an ongoing PR.

[2018-03-03 06:32] wkurniawan07 commented on #8580
@priyanshugandhi are you by any chance using a very old version of the code base? `appengineDownloadSdk` and `appengineStartBackend` should not even execute anymore with the latest code.

[2018-03-03 06:49] whipermr5 opened #8583 "Review datastore backup mechanism"
The current backup cron job uses the Cloud Datastore Admin module, which is set to be decommissioned. Let's investigate the new managed export and import feature: https://cloudplatform.googleblog.com/2018/02/fully-managed-export-and-import-with-Cloud-Datastore-now-generally-available.html

[2018-03-03 08:32] priyanshugandhi commented on #8580
@Ali96kz  tried that as well didn't work !

[2018-03-03 08:33] priyanshugandhi commented on #8580
@wkurniawan07 well I have forked this code a few weeks back ! Not much older though i guess.

[2018-03-03 08:59] tshradheya commented on #8576
Need to investigate why doesn't it get disabled when this method gets executed on making a new question

https://github.com/TEAMMATES/teammates/blob/2ed552ed0950836a726fc0a8f16ad71ef5ae174a/src/main/webapp/dev/js/common/questionMcq.js#L56-L71

Line 67 should be disabling it.

[2018-03-03 09:30] sukanta-27 commented on #8576
Was looking into it yesterday. The same question came to my mind. Further investigation is needed indeed.

[2018-03-03 16:54] Ali96kz commented on #7224
I figure out. how it work. I will take this issue.

[2018-03-03 18:44] bqnguyen94 commented on #8576
The problem is here:
https://github.com/TEAMMATES/teammates/blob/2ed552ed0950836a726fc0a8f16ad71ef5ae174a/src/main/webapp/dev/js/main/instructorFeedbackEdit.js#L540-L541
If you look closely, you will see the closing brackets on both lines are placed wrongly, therefore an `undefined` `questionNum` is passed to the function.

[2018-03-03 19:12] sukanta-27 commented on #8576
@bqnguyen94 Checked. The problem was definitely on those lines. Great finding that. :+1:
If you want you can submit a PR for it, if @tshradheya is not working on it.

[2018-03-03 19:26] bqnguyen94 commented on #8576
Noted 👍 How about @OlhaHn ?

[2018-03-03 19:28] OlhaHn commented on #8576
@bqnguyen94 you can create a PR, I have not started working on it yet

[2018-03-03 19:30] sukanta-27 commented on #8576
@bqnguyen94 @OlhaHn Sorry missed https://github.com/TEAMMATES/teammates/issues/8576#issuecomment-370091522 completely!!! :man_facepalming:

[2018-03-03 21:27] OlhaHn commented on #8573
@sukanta-27 I have already solved that, so I would like to create a PR for that.

[2018-03-03 21:34] tshradheya commented on #8576
I will just submit a quick fix right now. ( That bracket was actually my fault in one of my latest PR) :(

[2018-03-03 21:38] sukanta-27 commented on #8573
@OlhaHn Go ahead. :+1:

[2018-03-03 22:51] sukanta-27 commented on #8552
@davel37 Any updates? Did you solve this issue?

[2018-03-04 02:58] tshradheya commented on #8576
@bqnguyen94 @sukanta-27 I made the bracket change and the `questionNum` is no longer `undefined`.

However, it has caused a regression. Which is, if I add a question, click on checkbox to genereate options from students and then cancel the question. Now on adding the same question again, it shows the `mcqChoiceTable` and also the `checkbox` as checked.

I tried to investigate why the `toggleMcqGen

[2018-03-04 07:00] bqnguyen94 commented on #8576
Lol I guess since `checkbox` is a jQuery object `.checked` wouldn't work on it. You can use `$(checkbox)[0]` to get the DOM element.

[2018-03-04 07:44] tshradheya commented on #8576
`.checked` works fine when the checkbox is toggled after adding the question. Its only when the question is being added that it returns undefined.
This works as expected on jquery objects as well : `$(checkbox).prop('checked')`

[2018-03-04 08:41] bqnguyen94 commented on #8576
Here
https://github.com/TEAMMATES/teammates/blob/2ed552ed0950836a726fc0a8f16ad71ef5ae174a/src/main/resources/feedbackQuestionMcqEditFormTemplate.html#L35-L40
I guess the checkbox toggling works afterward is because `this` here is the DOM element.

[2018-03-04 10:41] gupta-ujjwal commented on #8544
I am sorry i was not able to reply earlier due to some reasons. I did run npm run build and also went through the development document again. But still the problem is there.

[2018-03-04 11:51] Labirinto opened #8588 "New Contributor self Intro - Labirinto"
Link to my fork: https://github.com/Labirinto/teammates

I changed the background color of "Sort By:"  tag in the instructor's menu just to check, if everything works correctly.
![screenshot from 2018-03-04 12-30-04](https://user-images.githubusercontent.com/10048366/36945165-301567e0-1faa-11e8-85ef-d4113229a2a2.png)

Hi. My name is Lev. I'm a third-year student of computer science at Jagiellonian

[2018-03-04 12:03] architkansal commented on #3432
Got it! Below is an example for student who has not submitted session but now his PC value is shown in all records Page:

![image](https://user-images.githubusercontent.com/15241672/36945225-edfb3aac-1fd0-11e8-9627-598ed9b9d21a.png)

I have shown the student's own response as `NOT AVAILABLE` and displayed the PC value next to it.
Is that okay from UI side or do we want to display it in some other

[2018-03-04 12:09] sukanta-27 commented on #8588
Hi @Labirinto, Welcome to TEAMMATES. You can start contributing by taking one of our `d.FirstTimers` issues before moving on to `d.Contributors` issues. Also remember to go through our [process](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md) guideline.

[2018-03-04 12:32] Labirinto opened #8589 "Student Profile: add a 'Upload/Edit Photo' tooltip"
This tooltip will show size and formats of a photo. It would be easier for a student to look for available photos to submit.

There is a similar tooltip (shown in the screenshot below), but it also can be changed. For example, the new tooltip will look like this 'Upload a profile picture. Max size: 5MB .png .jpg'.
![profile picture](https://user-images.githubusercontent.com/10048366/36945517-c4b47

[2018-03-04 12:33] Labirinto commented on #8589
If this issue looks legit, I will work on it

[2018-03-04 13:16] #8558 closed

[2018-03-04 13:28] nidhi98gupta commented on #7919
@damithc I would like to work on this issue.

[2018-03-04 13:48] damithc commented on #3432
In other places we show absence of a response like the following. May be we can do the same here?
![image](https://user-images.githubusercontent.com/1673303/36946289-a8e5afea-1ff5-11e8-8b07-1cb008c76a39.png)

[2018-03-04 13:49] #8588 closed

[2018-03-04 13:51] architkansal commented on #3432
@damithc  sure, will replace the text "NOT AVAILABLE" with "No Response".

[2018-03-04 13:58] damithc commented on #8589
Go ahead @Labirinto

[2018-03-04 13:59] damithc commented on #7919
Go ahead @nidhi98gupta

[2018-03-04 14:40] craaaa commented on #8498
Thanks all for your help! @damithc @whipermr5

This is definitely something to consider; I was a bit hesitant about putting the "how to read" information in a tooltip, but @wenmogu mentioned that it would be good to be able to understand the information on the same page as the results.

Perhaps we could keep the tooltips and have a more verbose/expanded version of the explanation in the modal? Am

[2018-03-04 14:47] architkansal commented on #3432
@damithc is there some command / tool to format the code according to the required code style in order to pass the static analysis ?
should I run in God mode also, to update the expected html files ?

[2018-03-04 14:48] #1701 closed

[2018-03-04 16:29] #8496 closed

[2018-03-04 16:32] whipermr5 commented on #8544
Restart the server after `npm run build`.

[2018-03-04 16:51] Labirinto commented on #8589
@damithc
While running ./gradlew lint  I get the following exception:
"Could not determine the dependencies of task ':compileTestJava'.

Can you please help me, what could it be?

[2018-03-04 17:25] tshradheya opened #8590 "MCQ: MSQ: Give Different ID for generatedOptions"
Regression noticed while working on #8584

Currently, the id for the element used to denote from which choice are options generated is same for MCQ and MSQ.

Since it is `generatedOptions-questionNum` it is different for saved questions. However when new question is created, the NEW_QUESTION=-1 and id is same, hence they misbehave causing either mcq or msq generated from to change without reflecti

[2018-03-04 18:16] sukanta-27 commented on #8589
@Labirinto
Did you go through the [setting-up](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) document while setting up the project?

[2018-03-04 18:52] Labirinto commented on #8589
@sukanta-27 yes. I did it again, now 'npm install' command gives the following output:
"
npm WARN ajv-keywords@3.1.0 requires a peer of ajv@^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.1.3 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted {"o

[2018-03-04 19:02] sukanta-27 commented on #8589
@wkurniawan07 @damithc @whipermr5

Guess there is a regression in the npm itself.
For reference : https://github.com/npm/npm/issues/19877

[2018-03-04 19:05] sukanta-27 commented on #8589
@Labirinto
What is your output for `npm -v` and `node -v`?

[2018-03-04 19:06] Labirinto commented on #8589
@sukanta-27  npm -v: 5.6.0
node -v: v8.9.4

[2018-03-04 19:10] sukanta-27 commented on #8589
@Labirinto Yup. There is a regression in npm itself.
Did you run `npm install` before or are you just running it after I pointed you to the setting up document?

[2018-03-04 19:16] Labirinto commented on #8589
@sukanta-27 . I did, and then it worked. I've just fixed this npm problem with this command:
"npm install --save-dev eslint eslint-config-airbnb eslint-plugin-jsx-a11y eslint-plugin-import eslint-plugin-react"
Then "./gradlew createConfigs"

But "./gradlew appengineStart" still gives the following output:
"
Could not determine the dependencies of task ':compileJava'.

"

[2018-03-04 19:23] sukanta-27 commented on #8589
@Labirinto Can create an issue with [Help](https://github.com/TEAMMATES/teammates/blob/master/.github/template-helpRequest.md) template, so that these we can have some more information? Also provide the stackTrace?

[2018-03-04 19:46] Labirinto opened #8591 "Help: run dev server via command line"
Ubuntu 16.04.4 LTS
Java version "1.8.0_161"
Node version v8.9.4
IntelliJIdea2017.3
Chrome 64.0.3282.186

While doing development guidelines I got stuck in starting the dev server via command line. When I try to do it using IDE, everything works correctlty.
So, './gradlew appengineStart --stacktrace' gives the following output:
[code]

I've tried to reinstall java and to change JAVA_PATH variable.

[2018-03-04 19:49] sukanta-27 commented on #8591
**Context:** https://github.com/TEAMMATES/teammates/issues/8589#issuecomment-370244120

[2018-03-04 20:09] sukanta-27 commented on #8591
@Labirinto
can run `jps` in the console to check if you have a running `GradleDaemon`?
If you have, can you kill if by running `gradle --stop`?

[2018-03-04 20:20] Labirinto commented on #8591
@sukanta-27 yes, it was running. I stopped it. But still the same error.

[2018-03-04 20:28] sukanta-27 commented on #8591
@Labirinto Need to confirm two things:
- You have root access on your computer
- You have gone through this :

[2018-03-04 20:57] Labirinto commented on #8591
@sukanta-27
a) no, when I need it, I just run the command with sudo
b) I did, but without initialization

[2018-03-04 21:16] sukanta-27 commented on #8591
@Labirinto Wait for a senior developer's advice. :confused:  Until then you can continue your work by using the IDE to start the dev server. As you said there is no problem in starting the server in IDE

[2018-03-04 21:17] Labirinto commented on #8591
@sukanta-27 OK, thanks for your advice!

[2018-03-04 21:34] sukanta-27 commented on #8591
There are some sources which claim they have solved the issue : `Unexpected lock protocol found in lock file. Expected 3, found 0` by deleting the `./gradle` in `/home/<username>/.gradle` and then rerunning everything (@Labirinto again, wait for a senior developer's advice on this :sweat_smile: ).
**Resource:**
https://stackoverflow.com/questions/31743942/errorunexpected-lock-protocol-found-in-loc

[2018-03-05 01:12] damithc commented on #3432
You can run linters to ensure the code style is correct. Our dev docs explain how to setup/run linters.
Yes, you'll need God mode for this.

[2018-03-05 02:43] #7943 closed

[2018-03-05 03:00] damithc commented on #8590
How bad is this bug? Does it hinder typical usage?

[2018-03-05 03:16] tshradheya commented on #8590
Fortunately it doesn't affect right now because this(duplicate id) only happens when new question is being added and the current code has misplaced brackets leading to undefined `questionNum` https://github.com/TEAMMATES/teammates/issues/8576#issuecomment-370170234

However when I fixed the bracket issue and then if I do something like this:
1. Select Add new MCQ question and choose generate from

[2018-03-05 07:30] architkansal commented on #8561
Hi,
I will not be applying for GSoC-18 as I will not be available in July.
But I will continue to contribute to the Project as much as I can.

[2018-03-05 07:39] architkansal commented on #3432
I think there is one small issue in [Development Guidelines-Using Chrome](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#using-chrome).
We need to mention :
change `test.selenium.browser=firefox` to `test.selenium.browser=chrome`.
let me know if that is correct. I will create one small issue and submit the solution.

[2018-03-05 08:24] damithc commented on #3432
Go ahead @architkansal

[2018-03-05 08:48] wkurniawan07 commented on #3432
@architkansal refer to existing issue #8254.
However, I am also currently working on general documentation update under the flag of #8565 which will also include that, so you need not work on it.

[2018-03-05 09:32] damithc opened #8594 "Admin: recent activity log: show correct 'time stamp in instructor timezone'"
v6.3
Steps:
1. login as admin
2. search for a user
![image](https://user-images.githubusercontent.com/1673303/36967236-26370a30-209a-11e8-80b8-bb115a73209e.png)
3. click on `view recent actions`. This loads a list of activities and the time zones are shown in admin's time zone (could be hard coded to UTC+8 because the only real admin is in that time zone)
4. In the activity list, click on a time s

[2018-03-05 09:36] wkurniawan07 commented on #8591
Haven't personally run into this myself. While that suggested (?) solution of removing `.gradle` sounds like it will work, at the same time it sounds quite unpleasant as it will remove all Gradle-related files (including cached dependencies). Use it as a last resort if all else fails.

You can first try to remove the following sub-folders of `.gradle` and see if anything improves:
- `daemon/4.3`
-

[2018-03-05 09:41] sukanta-27 commented on #8591
@wkurniawan07 There is something that I don't understand in this issue. @Labirinto mentioned in https://github.com/TEAMMATES/teammates/issues/8591#issuecomment-370260453 that `GradleDaemon` was running? Don't we have gradle daemon disabled?
https://github.com/TEAMMATES/teammates/blob/49386feafec7ca2cb6fdeca32ad1112d4fda962f/gradle.template.properties#L4

[2018-03-05 10:20] wkurniawan07 commented on #8591
@sukanta-27 disabled in template does not mean disabled in the actual file used by Gradle. I run Gradle with daemon myself.

[2018-03-05 16:21] tran-tien-dat commented on #8594
This is related to #8386. We will fix it when migrating to java.time classes in `java-time-migration`.

[2018-03-05 18:49] davel37 commented on #8552
@sukanta-27 Was studying for an interview so had to leave it for a few days.  Working again :-) .Thanks for your tips/suggestions, still not 100% sure what caused it, but a corrupted Eclipse workspace is a possibility.

[2018-03-05 19:07] davel37 commented on #8552
f

[2018-03-05 19:07] #8552 closed

[2018-03-06 00:51] damithc commented on #8594
Roger that. putting on hold.

[2018-03-06 03:05] damithc opened #8595 "'Session closing soon' reminder: ensure emails sent"
I have encountered a few cases where the 'session closing' alert was not sent (based on sendgrid logs and app engine logs) but our datastore states it was sent.
![image](https://user-images.githubusercontent.com/1673303/37012158-2d9107f6-212e-11e8-974d-bb8245dd2ca6.png)

[2018-03-06 03:08] damithc commented on #8595
Happened in one of my own courses too. Need to look through the code to see if there is a hole in the logic. Also, need to improve logging so that it is easy to see in the logs when alerts are sent out for a session.

[2018-03-06 09:42] whipermr5 commented on #8595
Was looking through the logic for this method, which is run whenever a session is updated:
https://github.com/TEAMMATES/teammates/blob/49386feafec7ca2cb6fdeca32ad1112d4fda962f/src/main/java/teammates/logic/core/FeedbackSessionsLogic.java#L2355-L2380

`sentClosingEmail` can legitimately be set to true even if the closing emails were not sent, e.g. if the session end time was brought forward to befo

[2018-03-06 09:55] whipermr5 commented on #8595
If such a session is saved again, however, the flag gets set to false - very strange behaviour (but the logic has existed for a long time now).

[2018-03-06 10:28] whipermr5 commented on #8529
Now with #8535, the instructor does get the email when reminding particular students. Shouldn't this issue stand? This issue is about making that email optional, right?

[2018-03-06 11:24] tshradheya commented on #8529
@whipermr5 Yes, with #8535, whether instructor is reminding all or particular students, the requesting instructor will get notified.

Yeah, the reason why I mentioned #8535 fixes this issue is because Prof @damithc
 agreed to this https://github.com/TEAMMATES/teammates/issues/8529#issuecomment-368277769
and I felt it then fixes this issue cause we no longer need to add a checkbox but we plan to no

[2018-03-06 13:02] gupta-ujjwal commented on #8544
Thanks @whipermr5 . This time it worked.

[2018-03-06 13:02] #8544 closed

[2018-03-06 14:34] joanneong opened #8597 "InstructorFeedbackSession: Make validation for submission times stricter"
**Environment**

`master` branch at commit 49386fe

**Steps to reproduce**
This can be reproduced either when adding a new feedback session, or when editing an existing feedback session. However, the error is the same for both scenarios, and affects both the submission start time and end time.

1. Go to the form which allows instructors to specify the submission start time and submission end time.

[2018-03-06 14:36] Haozhe321 opened #8598 "Student: submit responses: warn if there are unanswered questions"
When students click on the submit button, they will receive this confirmation message below
__________________________________________________________________________________________________
![image](https://user-images.githubusercontent.com/26651556/37037821-21fc4742-218e-11e8-8a5b-c0a8efc7b4ba.png)
__________________________________________________________________________________________________

[2018-03-06 14:43] Haozhe321 opened #8599 "Instructor: Feedback Result Page: Can see responses that instructors are not allowed to see"
**Environment**

`master` branch commit at `49386fe`

**Steps to reproduce**
1. Login as instructor
2. Go to a feedback session and add a question
3. Go to custom visibility option and uncheck everything, you should see below
![image](https://user-images.githubusercontent.com/26651556/37038350-829b165e-218f-11e8-8fbf-1b226b7d18d4.png)
4. Save question and login to student account to answer the que

[2018-03-06 15:19] craaaa commented on #8598
This sounds like a good idea, but I wonder about how this would work for optional questions. For instance, since `Essay Questions` only specify a maximum number of people that a respondent can give feedback to, would giving less than the maximum amount of feedback count as 'missing out' on a question? (Playing the devil's advocate here; I think checking that submissions are complete would be a goo

[2018-03-06 15:22] joanneong commented on #8184
Just to clarify, am I right to assume that the placeholder text should not be in the Description box when I replace it with the details in the image?

I.e. Like this:

![image](https://user-images.githubusercontent.com/24493463/37040611-3d23f9b4-2195-11e8-9c46-c057f0082dfb.png)

[2018-03-06 16:14] Haozhe321 commented on #8598
That's a very good point. In the particular case of `essay questions`, I think as long as the student has answered the question(not necessarily exhausted all the choices), the question should be regarded as answered. It's not a requirement of the question for them to hit the maximum number. I think if students navigate away from the question, it generally means they are done with it.

To anyone el

[2018-03-06 16:20] Haozhe321 commented on #8598
For other types of questions, I think the above principle can work as well. i.e. for MSQ, as long as they have chosen at least one choice, the question is regarded as answered. The only exception are questions which require selecting a **minimum** number of choices. In this case, the UI already prevents them from submitting like here:
![image](https://user-images.githubusercontent.com/26651556/370

[2018-03-06 16:59] sukanta-27 commented on #8598
@Haozhe321 I really like this idea, (This came to my mind while I was working on #7993 ).

Not strangely, it is because partial answers can be submitted. The modal text is notifying the users that the questions they have answered are saved. (You can skip questions for now, but if you do decide to answer, answer it the right way :smile: )

By the way, I am wondering what will be the optimal way to

[2018-03-06 17:21] whipermr5 commented on #8597
Hmm, we need to make `InstructorFeedbackAbstractAction#extractFeedbackSessionData` throw `InvalidParametersException` too. Right now invalid dates are simply treated as `null` when creating the `FeedbackSessionAttributes` from user input. Looks like @darrenwee's point was very valid: https://github.com/TEAMMATES/teammates/pull/8428#discussion_r167438664

[2018-03-06 17:22] whipermr5 commented on #8597
I think it does; the frontend is just not updating as it uses AJAX. A refresh should show a valid date.

[2018-03-06 18:17] whipermr5 commented on #8525
I believe this happens only when an instance running the previous release i.e. V6.2.x tries to load data that has been migrated to the new format (V6.3.x is not backwards compatible due to #8455). So it shouldn't happen any more now that all instances are running V6.3.x?

[2018-03-06 18:19] joanneong commented on #8597
@whipermr5 Hmm I tested it out again and recorded it:

![strange behaviour](https://user-images.githubusercontent.com/24493463/37050032-bd77590e-21ad-11e8-82d5-22919c6055dd.gif)

It seems like changes were made to the times but....

[2018-03-06 18:32] whipermr5 commented on #8448
This will require `load()`/`save()`-ing **ALL** existing `FeedbackSession` entities in the datastore. @damithc when was the last time a migration of this scale took place? #6001? I'm wondering whether the existing client script framework is good enough; I suspect it will suffer from timeouts. I'm considering building a heavy duty client script framework that runs on the server itself via task queu

[2018-03-06 18:47] joanneong commented on #3091
I will try working on this issue.

[2018-03-06 23:38] sukanta-27 opened #8603 "Instructor: Edit session : Distribute (Options) question : Points per option button stays hidden"
**Environment**
`master` branch

**Steps to reproduce**
- Login as Instructor
- Create/Edit a sessioin
- Add a `Distribute points (among recipients) question` and cancel it
- Add a `Distribute points (among options) question`

**Expected behaviour:**
The UI for `Distribute points (among options) question` should be consistent like this :
![screenshot 404](https://user-images.githubusercontent.com/

[2018-03-07 00:20] sukanta-27 opened #8605 "Distribute points questions: fix total points to distribute being reset to non-default value"
**Environment**
`master` branch

**Steps to reproduce:**
- Login as Instuctor
- Create/Edit a session
- Add a `Distribute points` question. Does not matter Options/recipients
- Modify any of the `Total Points to distribute:` option, (The default is set as 100, delete it and click outside the box, or save the question)
- The value changes to 1

**Expected behaviour:** Don't know if it is expected o

[2018-03-07 02:01] damithc opened #8606 "Student: submit responses: tick email confirmation option if the form is empty"
Current: the email confirmation tick box is unticked by default.
![image](https://user-images.githubusercontent.com/1673303/37069345-f041971a-21ed-11e8-92fc-4f52a859d979.png)

Suggested: if the form is empty at loading, we can assume it is a first time submission, and tick the tickbox by default.

Reason: it is ok to send the confirmation by default to first-time submission. That email will serve

[2018-03-07 02:02] #8556 closed

[2018-03-07 02:02] #8549 closed

[2018-03-07 02:05] damithc commented on #8525
I see. Thanks for checking. Closing.

[2018-03-07 02:05] #8525 closed

[2018-03-07 02:29] whipermr5 commented on #8529
I still feel this issue shouldn't be tagged as closed from #8535. It can be manually closed if we decide that we no longer need it.

[2018-03-07 02:33] #8531 closed

[2018-03-07 03:16] tshradheya commented on #8529
@whipermr5 Agreed.

[2018-03-07 03:28] tanhengyeow commented on #8606
I'll like to attempt this issue :smile:

[2018-03-07 03:30] damithc commented on #8606
Go ahead 👍

[2018-03-07 04:26] #8566 closed

[2018-03-07 04:36] joanneong commented on #8605
I do agree that 1 is not very useful. In particular, if that happens, and an instructor further tries to force uneven distribution on the options/ recipients, a student may possibly never satisfy the submission criteria if there are multiple options/recipients:

![image](https://user-images.githubusercontent.com/24493463/37073740-c02e95d0-2203-11e8-9234-9a45bb2a10b2.png)

So I think it would be ni

[2018-03-07 05:07] damithc opened #8607 "Student: edit submission: show evaluees in alphabetical order"
Scenario:
Student submits responses to a question where she has to select evaluees. Then, students loads the submission page again to edit/view responses.

Current:
Evaluees are not shown in any order.
![image](https://user-images.githubusercontent.com/1673303/37074404-a6832250-2207-11e8-90ea-57d3ed49c221.png)

Suggested:
Show evaluees in alphabetical order.

[2018-03-07 05:35] whipermr5 commented on #6300
Subsumed under #8362.

[2018-03-07 05:35] #6300 closed

[2018-03-07 05:51] #8511 closed

[2018-03-07 05:54] damithc commented on #8448
We have nearly 30k session objects.
Yes, we need something more sturdy. Not sure if we should go serverside though. The problem is serverside requires a deployment and admin has less control during the migration process. In all past migrations I need to tweak the script along the way to deal with various 'dirty' data items i.e., not all data objects are in the exact format we expect them to be. Th

[2018-03-07 06:06] damithc commented on #8597
Block submission if the date in the text box does not correspond to a valid date?

[2018-03-07 07:07] damithc commented on #8598
Perhaps show a summary of questions in the status message as a visual feedback indicating which questions are answered and which are not? I remember @tshradheya also mentioned something like this with respect to the email confirmation sent to the student after a submission.

[2018-03-07 07:35] damithc commented on #8184
Yes, the screenshot looks correct.

[2018-03-07 07:39] tran-tien-dat opened #8608 "Improve logging"
- **Environment**: everywhere

**Description of feature/enhancement**
Logs currently contain HTML for formatting. Also, the log-related classes have a few bugs which should be fixed as well.

**Justification**

HTML shouldn't be present in the log messages as we should have a clear separation between content and presentation. Parts of the formatting of the log for displaying is already handled by

[2018-03-07 07:42] damithc commented on #8599
If this is indeed the case, that is a critical bug. Luckily, I don't think many instructors use this feature, but still, need to be fixed quickly. I'm surprised this is not covered in current tests 🤔

[2018-03-07 07:46] sukanta-27 commented on #8598
@damithc sir, I guess this is also related to the "Upgrade" you discussed in #7993

About this, how about we show just how many questions are answered and how many are unanswered, instead of the full summary? Given the fact that after #8367 merged we will already have one status message, and after successful submission there will be one too. And with that if we give so much information in another

[2018-03-07 07:49] wkurniawan07 commented on #8608
@tran-tien-dat please organize this issue's description. Do not be hasty when having an idea/thought.
- What do you mean by environment "everywhere"? Environment is not sub-systems/features of the system.
- What is hoped to be fixed here? The HTML for formatting, or the "few bugs"? The latter should be (1) more precisely qualified/quantified and (2) left to other issue(s). You may find #6502 relev

[2018-03-07 07:54] damithc commented on #8595
1. We wanted to avoid sending 'session closing' email if a 'session opening' email for the same session was sent within last 24 hours, to reduce alert fatigue.
2. If a session open/close time was updated, in some cases we need to send the alerts again.

May be the code for above logic has some holes? As the 'session closing' email is not critical to users, it is possible that it worked only partia

[2018-03-07 08:51] tran-tien-dat commented on #8608
Thanks @wkurniawan07 for the constructive feedback. I have edited the PR accordingly. Hope it's better now.

[2018-03-07 10:53] #8333 closed

[2018-03-07 12:49] Progyan1997 opened #8610 "Help Request: CI Test Procedure"
- **Commit SHA:** 4819e48 (Ref: Pull Request #8516 )
- **Operating System:** CentOS 7
- **JDK Version:** OpenJDK 0.8
- **Google Cloud SDK Version:** Any
- **Eclipse / IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I am trying to understand the CI test procedure. I am new to Java Server development, though hav

[2018-03-07 13:34] bqnguyen94 commented on #8610
`src/test/java/teammates/test/pageobjects` literally contains "page objects" - objects that represent respective pages, but only for testing.
To clarify, what kind of UI changes are you trying to make and what are the steps you took? And what do you mean by "resulted into build failure"?

[2018-03-07 13:40] joanneong commented on #8599
Hmm...I tested on both Firefox and Chrome browsers using the `master` branch at commit `ada4896` but I am unable to reproduce this problem.

Since the steps above involved logging in to the student account to answer the survey, I tested only the various feedback paths that include "Students in this course will give feedback on...":

![image](https://user-images.githubusercontent.com/24493463/37094

[2018-03-07 13:43] nidhi98gupta commented on #8505
@wenmogu @damithc Same behavior is observed when adding feedback form instructions.
![aaaaa](https://user-images.githubusercontent.com/24381442/37095291-757c7e20-223b-11e8-826a-c3ddad662998.png)

I guess using word wrap will solve it.

[2018-03-07 13:46] bqnguyen94 commented on #8607
I can't reproduce this locally. The recipients are ordered alphabetically at every page load. Am I missing anything??
![1](https://user-images.githubusercontent.com/11720085/37095428-dd444e9c-2250-11e8-8630-93bd43742cf4.gif)

[2018-03-07 14:13] xpdavid commented on #8608
![image](https://user-images.githubusercontent.com/13977235/37096700-6d5436c0-2254-11e8-8a2c-d0ae2c55fcc1.png)

@tran-tien-dat I guess this is what u mean right? should be `getActionResponse` rather than `getActionName` as only response can have `ACTION_RESULT_FAILURE` or `ACTION_RESULT_SYSTEM_ERROR_REPORT`

In your corresponding PR, u are also addressing the Sanitization issue. Is it also relevan

[2018-03-07 14:18] damithc commented on #8607
I observed this when I was moderating a students' responses. May be the behavior is limited to that feature?

[2018-03-07 14:23] damithc commented on #8505
@Progyan1997 best not to refer to issue numbers in your commit messages. If you do, Github spams the issue thread with cross references to your commits, as you can see above.

[2018-03-07 14:31] tran-tien-dat commented on #8607
I believe that it's ordered in alphabetical order of the student's emails, not their names.

[2018-03-07 14:44] tran-tien-dat commented on #8608
Yeah but the 2nd function is not meaningfully used anywhere so I didn't change it. Should it be marked for removal, together with everything associated with `ACTION_RESULT_SYSTEM_ERROR_REPORT`?

[2018-03-07 14:45] damithc commented on #8607
Oh? in that case it can give the illusion of alphabetical ordering when in the sample course :-p

[2018-03-07 14:51] xpdavid commented on #8608
Can just remove it or u can create a first-timer issue regarding that (better).

[2018-03-07 15:23] Progyan1997 commented on #8505
@damithc I will keep that in mind. Sorry for the inconvenience.

[2018-03-07 15:23] Progyan1997 commented on #8505
@nidhi98gupta Yes that was my approach. But unfortunately (!) it make some UI test fail. I would be glad if you help me out with it.

[2018-03-07 15:25] Progyan1997 commented on #8610
@bqnguyen94 I simply added a new class to exiting HTML element, and hence failing UI tests. I need to update test pages for the same as well to work it out. But I still not having a clear picture of which files need to be modified.

[2018-03-07 16:01] nidhi98gupta commented on #8610
Did you try running failed tests in God Mode to update expected html files?

[2018-03-07 16:04] bqnguyen94 commented on #8610
I see. For UI tests, we rely on pre-existing HTML files to verify the content of the pages being tested. These pre-existing HTML files are in `src/test/resources/pages/`. A typical test (`src/test/java/teammates/test/cases/browsertests/*UiTest.java`) uses `src/test/java/teammates/test/pageobjects/AppPage.java::verifyHtmlMainContent` to compare the resulting page with a model HTML file for discrepa

[2018-03-07 17:09] Haozhe321 commented on #8598
My inclination is to use the same modal that they see after clicking on the submit button(the first image in this issue). If they have not completed all the questions, add a paragraph below telling them so(also informing which questions are left empty, just like certain online registration forms). It looks simple and achieves it's goal.

[2018-03-07 17:21] Progyan1997 commented on #8610
@bqnguyen94 I think I'm now getting an idea. Can you specify a bit more one the process.
What I got so far:
* Make the UI change
* Run CI (?) Test
* Make sure only that particular UI test fails
* Enable God Mode
* Run CI (?) Test

[2018-03-07 18:37] sukanta-27 commented on #8605
Working on this.

[2018-03-07 19:20] bqnguyen94 commented on #8610
Well depends on what changes you make their maybe more than 1 test that fails, but generally that's what I would do. Afterward though still need to check and see no unintended changes were made by `God Mode`.

[2018-03-07 23:07] heniam1 commented on #8528
hey new contributor her. How can i work on this?

[2018-03-08 00:39] sukanta-27 opened #8611 "Instructor: Edit Session: MSQ: Address the case where a number field is left blank"
- **Environment**: `master` branch at 49386feafec7ca2cb6fdeca32ad1112d4fda962f

**Steps to reproduce:**
- Login as Instructor
- Create/Edit a session
- Add a MSQ question
- Check either max/min number of options box
- Delete the value in number field
- Save the changes

**Expected behaviour:** There should be a status message asking the user to insert a value

**Actual behaviour:** An error page w

[2018-03-08 09:56] theIOTman commented on #8589
Hello, I followed **Contributor Orientation Guide** step by step. But in phase B, I can not make it has fewer than 5 failing test cases. Tha failing test cases is 6.
The message from IntelliJ is:

Any help ?

[2018-03-08 10:01] LiHaoTan commented on #8611
Related: https://github.com/TEAMMATES/teammates/issues/8320#issuecomment-359150575

@Crphang I believe you will be resolving this right?

[2018-03-08 10:09] tshradheya commented on #8589
Not a problem, 5 is just a tentative number.

Try re-running only those 6 test cases and see if few of them pass.
Did you try running `gradlew ciTests` ? It reruns the failed tests up to 4 times and after that, all tests should pass

[2018-03-08 13:39] Vivek1012 commented on #8603
i am working on it!

[2018-03-08 13:46] sukanta-27 commented on #8603
@Vivek1012  I already have an open PR for it.

[2018-03-08 13:58] Vivek1012 commented on #8603
Thanks for response!
i leave it then :)

[2018-03-08 14:57] Ali96kz commented on #7224
![image](https://user-images.githubusercontent.com/15236829/37156919-96dd59b4-2311-11e8-8009-67c971a14a5f.png)
I must redesign `Response Summary` and `Per Recipient Statistics` table. Will it be normal?
![image](https://user-images.githubusercontent.com/15236829/37157319-b36e091a-2312-11e8-835e-72d1e99950e3.png)

[2018-03-08 15:00] damithc commented on #7224
A cell can be in this format `80% (2) [1.5]` No need for `Weight`.

[2018-03-08 17:31] Ali96kz commented on #7224
@damithc Is that normal if we contain a weight for each cell in `List<Double> rubricWeights`?

[2018-03-08 22:11] sukanta-27 commented on #8563
@damithc @joanneong

How about we modify the drop down menu to add a double drop down, something like this :
[code]
So that when we have multiple sessions we will not have to use the word `Session using template:` repeatedly for each type. And as @joanneong will be adding one soon in #8601, this may improve the UI?

[2018-03-09 00:35] damithc commented on #8563
The default is going to be a second level option. Not sure if the current selection can be clearly shown in the UI. i.e., when a user looks at the UI, can the current selection be easily interpreted?

[2018-03-09 00:38] damithc commented on #7224
You can propose an implementation and we can give feedback on it.

[2018-03-09 02:35] mau0727 opened #8614 "New contributor self intro Mauricio Solis"
https://github.com/mau0727/teammates.git

![screen shot 2018-03-08 at 9 29 58 pm](https://user-images.githubusercontent.com/36412466/37187427-3b4d2d02-2318-11e8-92bf-b634aa878403.png)

Mauricio Solis

Hello,

I am a Costa Rican that recently graduated from school.
I was looking for a project to get involved with open source code and get  real-world experience.
and I got caught in love with this pr

[2018-03-09 03:55] shaharyar-shamshi commented on #8614
@mau0727  welcome to the Teammates we are looking forward for contribution from you I would suggest you _to start with  d.firsttimer issue to get an idea of codebase then move to d.contributor issue to which is relatively tougher than d.firsttimer issue

[2018-03-09 05:14] #8614 closed

[2018-03-09 08:23] sukanta-27 commented on #8563
This part slipped my mind.

[2018-03-09 11:32] theIOTman opened #8615 "New contributor self intro Luan N. Pham"
**A:** [Link to my app](https://teammates-theiotman.appspot.com)

**B:** [Link to my fork](https://github.com/theIOTman/teammates)

**C:** For my UI change, I simply added one hello line into index page. They change red when a mouse is hovered over:
**Before:**
![image](https://user-images.githubusercontent.com/27758502/37204437-6511c2d2-23c3-11e8-924e-44b3f810e5a0.png)

**After:**
![image](https:

[2018-03-09 11:48] tran-tien-dat commented on #8615
Hi @LuanPham107, Welcome to TEAMMATES. We look forward to your contributions.

Can you provide more details, i.e. what exact steps did you do?

[2018-03-09 11:50] nidhi98gupta opened #8616 "Help Request: Configuration for rule "object-curly-newline" is invalid error"
- **Commit SHA:** fa92b7fe8ed3abbd2dc7e029cc4fd2e60e5855fd
- **Operating System:** Ubuntu 17.10
- **JDK Version:** 1.8
- **Google Cloud SDK Version:** 186.0.0
- **Eclipse Version (if applicable):** 2017.3
- **Firefox Version (if applicable):** 46.0

**What I was trying to do / What I need help with**
I merged latest changes from master in #8550. As there were changes in static analysis test, CI te

[2018-03-09 12:26] nidhi98gupta commented on #8616
Update: This error occurs only on my system and not during Travis CI build. I tried updating npm but it didn't help.

[2018-03-09 12:26] sukanta-27 commented on #8616
@nidhi98gupta Can you give the code snippet that you modified which lead to this error?

[2018-03-09 12:30] sukanta-27 commented on #8616
@nidhi98gupta Did you follow [this](https://github.com/TEAMMATES/teammates/blob/master/docs/dependencies.md) after pulling the recent commits? I guess a `npm install` should solve this issue.

[2018-03-09 13:48] whipermr5 commented on #8615
The steps for creating an instructor account can be found in the [development.md](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance) document.

[2018-03-09 13:53] nidhi98gupta commented on #8616
@sukanta-27 I had previously tried `npm update` but that didn't work. `npm install` solved the issue. Thank you.:)

[2018-03-09 13:53] #8616 closed

[2018-03-09 14:32] #8547 closed

[2018-03-09 15:21] mau0727 commented on #8215
Hello,
I was looking into #8226.
So is this considered resolved now ?

[2018-03-09 16:46] LuanPham107 commented on #8615
I have followed this document [deploying-to-a-staging-server](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#deploying-to-a-staging-server).

1. Here is what were modified inside build.properties (I modified 3 lines of code: app.url, app.gcs.bucketname, app.crashreport.email)
[code]

2. Here is what were modified inside src/main/webapp/WEB-INF/appengine-web.xml
`    <applic

[2018-03-09 17:13] tran-tien-dat commented on #8615
@LuanPham107 Do you mean that you could not log in as an Administrator, or do you mean that you could log in but could not create an instructor account? Can you give a more exact description for this sentence of yours:

as well as the context of the screenshot

![](https://user-images.githubusercontent.com/27758502/37205120-246272c4-23c6-11e8-93ab-19a5fa3ebc00.png)

E.g. what's the URL you are try

[2018-03-10 06:27] #6092 closed

[2018-03-10 07:23] dabbler011 commented on #8541
@damithc I am taking up this issue.

[2018-03-10 07:33] gaurav122197 commented on #8541
@dabbler011 I was engrossed in my sessional exams that's why I was unable to submit a PR. I started doing work on the issue, if fail to submit by the weekend you could take up the issue.

[2018-03-10 10:42] LiHaoTan commented on #2620
A similar bug can be produced with the edge case:
![image](https://user-images.githubusercontent.com/13617389/37241361-c442f832-2492-11e8-98e0-d0427b713e15.png)

[2018-03-10 13:24] Ali96kz commented on #7224
Could someone help me with `js`?

[2018-03-10 16:12] Crphang commented on #8611
I've resolved this for rank options/recipients and added a backend validation layer for those. But that is to ensure that a new feature works correctly. I think @sukanta-27 you can work on this for msq questions and reference #8320 for the similar backend validations and tests that are added.

Having a warning popup works as @Haozhe321 suggested works, but like it can be consistent to show a flash

[2018-03-10 16:53] sukanta-27 commented on #8611
Sounds good to me.

[2018-03-10 22:40] gthd opened #8619 "Tests fail on the dev server"
**Operating System: Windows 10

- JDK Version:1.8
- Eclipse / IntelliJ Version (if applicable): IntelliJ IDEA
- Firefox / Chrome Version (where applicable): Firefox 46.0

**

**What I was trying to do / What I need help with**
I get 19 tests failed when running the CI tests, although Local Tests pass. I have searched the previous issues and read the #7650, so I understand that the problem is relat

[2018-03-11 05:14] tanhengyeow commented on #8619
Have you tried stopping and starting your dev server after running `npm install` and `npm run build` ?

[2018-03-11 07:50] wkurniawan07 commented on #8215
@mau0727 no; there are still quite a lot of places that can benefit from `putIfAbsent` and `computeIfAbsent`, although they are admittedly harder to find than the ones already resolved in #8226.

[2018-03-11 08:05] #8362 closed

[2018-03-11 08:05] #8427 closed

[2018-03-11 08:05] #8574 closed

[2018-03-11 08:07] #8534 closed

[2018-03-11 08:08] #8610 closed

[2018-03-11 08:58] sukanta-27 commented on #8611
I will start working on it after some of my current PRs are done, and as GSoC application period starts from tomorrow, it may take some days for me to get to it. In the mean time if someone wants to grab this issue, they are free to do so. Just let me know beforehand.

[2018-03-11 09:19] dutta14 opened #8621 "Have standardized code for hashCode and equals"
**Environment**:
All

**Description of feature/enhancement**
Use` Objects.hash` for `hashCode()` calculation, and `Objects.equals` for `equals()` calculation.

**Justification**

Developers: provide a standardized way to achieve hashing.

**Existing similar features and their shortcomings**

For example, in `teammates.common.datatransfer.attributes.FeedbackQuestionAttributes`, the `hashCode()` met

[2018-03-11 10:05] wkurniawan07 commented on #8621
@dutta14 Can give example of places where this can be applied?

[2018-03-11 12:19] gthd commented on #8619
Thank you very much !!
I stopped and run again the dev server and the problem was solved.
Unfortunately, I have another problem now:
![issue](https://user-images.githubusercontent.com/15031826/37252873-fe4b0322-2531-11e8-9531-789cc9f51795.PNG)
I am using firefox 46.0.
Yesterday when running the tests I didn't have this problem ..
I have done some research, read the https://support.mozilla.org/el/k

[2018-03-11 13:14] gthd commented on #8619
Problem solved. In the test.properties file, the default for mozilla firefox path is C:\\Program Files (x86)\\Mozilla Firefox 12\\firefox.exe and for the firefox I am using the path is C:\\Program Files\\Mozilla Firefox\\firefox.exe. Actually in the C:\\Program Files (x86)\\Mozilla Firefox there is only a folder for the plugins

[2018-03-11 14:32] gthd commented on #8619
Can you please explain to me the following error:
![issue](https://user-images.githubusercontent.com/15031826/37254654-5300115c-2549-11e8-98d7-11a31b6c2ed0.PNG)
What I understand is that teammates.test.pageobjects.AppPage$1@6a1df4b6 could not be located after 15 sec and therefore it raised an org.openqa.selenium.TimeoutException. But what are some possible reasons for not being able to locate it ?

[2018-03-11 14:35] Crphang commented on #8619
@gthd Is the error deterministic? Like does it happen everytime you run it? Try running a single test `./gradlew test -Dtest.single=MashupPageUiTest`.

[2018-03-11 14:43] gthd commented on #8619
Hi Crphang, I run the gradlew.bat test -Dtest.single=MashupPageUiTest. The result is the following
![issue4](https://user-images.githubusercontent.com/15031826/37254777-44d84cf0-254b-11e8-8fd6-c18efca2bfb4.PNG)

[2018-03-11 14:55] crphang opened #8623 "Testing: Using `WebElement#Click` instead of `Click()`"
This topic was discussed in #7886 and some additional changes was made in #7887 to change to Javascript Click. In those discussions, it was raised that `WebElement#Click` does not work sometimes even with maximizing the browser. However, it is still true that `WebElement#Click` models a real click action better, and Javascript Click can click the element even if it is not visible to the user.

#83

[2018-03-11 14:59] Crphang commented on #8619
Seems like the test is passing. It might be because of other reasons that the ui test fails; ui-tests could be unstable, especially when you run parallel ciTests. The failure might not necessarily be due to your code.

[2018-03-11 15:57] LuanPham107 commented on #8615
I tried to log in at [https://teammates-theiotman.appspot.com/admin/adminHomePage](https://teammates-theiotman.appspot.com/admin/adminHomePage) and the message returned as I mentioned above. But everything is ok with this local address: `https:localhost:8080/admin/adminHomePage.` I can log in using test@example.com, create instructor, courses,..
Could please tell me why ? I'm very new to web techn

[2018-03-11 15:59] tshradheya commented on #8615
To log into `https://teammates-theiotman.appspot.com/admin/adminHomePage` you need to use the google account with which you made the google app on GCP.

[2018-03-11 15:59] whipermr5 commented on #8615
After creating an instructor, you need to use the join link before the instructor can login, but change the hostname part of the link (details in the doc I linked).

[2018-03-11 16:04] tran-tien-dat commented on #8615
@LuanPham107 So it means that you couldn't log in as an Administrator. Do you have multiple account and the account that you are currently logged in is not the one you used to deploy teammates (the `theiotman` account)?

[2018-03-11 16:14] LuanPham107 commented on #8615
Thank to @tshradheya @tran-tien-dat @whipermr5 ,
You are right, I removed my 2nd account and using **theiotman** account. Problem is resolved.

[2018-03-11 16:28] joanneong commented on #8599
Update: As discussed in person on last Thursday, the bug does not seem to be reproducible elsewhere. @bqnguyen94 can also verify this.

[2018-03-11 16:38] gthd opened #8624 "New contributor self intro Georgios Theodorou"
My fork: https://github.com/gthd/teammates
My change:
I put in italics the e-mail.
![change](https://user-images.githubusercontent.com/15031826/37255834-b9831ea4-255a-11e8-8fb6-00710a8e8779.PNG)

Hi! My name is George and I am a final year student of management science and technology at Athens University of Economics and Business, Greece. This is the first time I engage with open source software,

[2018-03-11 16:45] gthd commented on #8589
I would like to work on this issue.

[2018-03-11 16:53] sukanta-27 commented on #8589
@gthd  there is already an open PR for this issue, you can find another `d.FirstTimers` issue to work on.

[2018-03-11 16:55] Crphang commented on #8624
@gthd welcome to Teammates. You can pick up a `d.firstTimer` issue before moving on to `d.contributor` issue.

[2018-03-11 16:57] gthd commented on #8589
ok sorry I didn't notice.

[2018-03-11 17:15] bqnguyen94 commented on #8599
Yes, the problem seemed to present on @Haozhe321 's local database only.

[2018-03-11 18:12] dutta14 commented on #8621
@wkurniawan07
In `teammates.common.util.Version`:
[code]
can be changed to:
[code]

Similar changes to be made in `FeedbackQuestionAttributes` and `InstructorPrivileges`.

[2018-03-11 18:20] dutta14 commented on #8621
Note: This change does not affect the current behavior because internally, `Objects.hash` does the same operation with the same prime number (31).

[2018-03-11 18:42] dutta14 commented on #8621
@wkurniawan07, edited my issue comment.

[2018-03-11 20:12] Artyom-Ganev opened #8625 "Help Request: IntelliJ IDEA 'Cannot resolve symbol' error for standart Java classes"
I succefully imported project using this instruction https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md#intellij-idea
but have had 'Cannot resolve symbol' errors for standart Java classes imports. Caches Invalidation didn't help.
![2018-03-11 23-01-50](https://user-images.githubusercontent.com/13161268/37257916-a4b21dec-2580-11e8-9ab7-a969d23619dd.png)

[2018-03-12 01:35] LiHaoTan commented on #8621
@dutta14 if we were to want to improve this, we should probably be using [AutoValue](https://github.com/google/auto/tree/master/value).

[2018-03-12 02:35] dutta14 commented on #8621
I personally don't prefer AutoValue because it implements its own method for hashCode() instead of using the Java built-in, and also creates getters that are not consistent with Java naming. (E.g. it produces method xyz() instead of getXyz()).

[2018-03-12 02:54] LiHaoTan commented on #8621
@dutta14 I would appreciate if you spend a little more thought evaluating solutions :).

Have you wondered why they don't use the standard library for implementation? For control? For flexibility? Are there grounds for using an alternative solution from the standard library if it is well-maintained and easier to use?

And is this the right to focus on implementation details or should we focus on t

[2018-03-12 03:56] #8615 closed

[2018-03-12 03:58] whipermr5 commented on #8623
Scrolling is slow... I expect much longer build times if we were to do this.

[2018-03-12 04:02] tran-tien-dat commented on #8599
Maybe @Haozhe321 can upload your local database in `WEB-INF\appengine-generated\local_db.bin`?

[2018-03-12 05:05] LiHaoTan commented on #8623
Yeah, it is slow but I guess it is better that UI tests are reliable (since Javascript click has a number of caveats such as being able to magically click)

I guess maybe this will also force us to try to avoid writing UI tests unless there is a need to.

[2018-03-12 05:40] dutta14 commented on #8621
@LiHaoTan, on reading some more, it does seem to be a nice option. They prefer to use their own `hashCode()` which is a modification of Java's in-built, the modification being using a larger prime number and XORing the values.

I agree getters are not always a good option, however in the current code, `hashCode()` and `equals()` are implemented in only 3 classes: `FeedbackQuestionAttributes`, `Ins

[2018-03-12 06:28] #8624 closed

[2018-03-12 06:48] damithc commented on #8623
Also depends on how big the slow down is. Sometimes we think it's just a few seconds but can turn out 10 extra minutes! :-p
I suppose we can also use a mix. i.e., use the fast method most of the time but use the reliable but slow method only when needed.

[2018-03-12 06:50] damithc commented on #8623
To be fair, even an extra 10 minutes may be worth it if it passes all the tests in one go, because the extra time needed for a retry can be significant too.

[2018-03-12 06:56] whipermr5 opened #8628 "Migrate FeedbackSessionAttributes time fields from Date to Instant"
See #8617 description `Next Steps`

[2018-03-12 07:02] whipermr5 commented on #8623
This is not about reducing instability, but reliability (false positives). @LiHaoTan's point is that UI tests can pass by clicking elements, even elements that are hidden and can't be clicked. However, I feel that up to this point the UI tests have been quite reliable.

[2018-03-12 07:06] LiHaoTan commented on #8621
Lombok has its own set of caveats (lots of magic).

And the fact that we only have `hashCode` and `equals` in 3 classes does not mean that we only have 3 value classes.

If we want to take it that there are only 3 classes where the implementation must change, then the benefit is minimal, we have to write this code once and then swap over to `AutoValue` in the future? That's just wasted time for th

[2018-03-12 08:01] sukanta-27 commented on #8591
@Labirinto Any updates here? DId you solve this issue?

[2018-03-12 08:07] dutta14 commented on #8621
@LiHaoTan, So I started with the issue, to see if it works properly or not. But unfortunately, my build fails because the auto-generated methods cannot be found during the tests. Not sure how to proceed.

[2018-03-12 09:20] bqnguyen94 opened #8630 "Instructor: remind particular students: show sorted student list"
**Description of feature/enhancement**

Current:
<img width="1289" alt="screen shot 2018-03-12 at 5 12 02 pm" src="https://user-images.githubusercontent.com/11720085/37274931-d57bd092-2618-11e8-9e4b-8e47998cb78f.png">
<img width="885" alt="screen shot 2018-03-12 at 5 12 15 pm" src="https://user-images.githubusercontent.com/11720085/37275243-96f3d814-2619-11e8-9990-c3cd8c6ce0a2.png">

Suggestion:
I

[2018-03-12 10:15] lightt77 commented on #8630
Hi, I would like to work on this issue..

[2018-03-12 10:28] bqnguyen94 commented on #8630
@lightt77 sure go ahead! We don't require contributors to ask for permission to take up issues :)

[2018-03-12 10:43] lightt77 commented on #8630
okay :)

[2018-03-12 11:37] #8412 closed

[2018-03-12 11:41] wkurniawan07 commented on #8621
@dutta14 I guess you'd have noticed by now that simply injecting Lombok will not work.

[2018-03-12 13:48] sukanta-27 opened #8631 "Instructor: Edit session: Rubric question: add front-end validation for empty weights"
- **Environment**: `master` branch

**Description of feature/enhancement:** Currently in `Rubric` questions, if we select `weights` and leave a weight cell blank, then we get the following error.
![screenshot 441](https://user-images.githubusercontent.com/10681755/37286344-915b84da-25f9-11e8-9a14-a96ecbc56416.png)

Though this is what is expected, but this validation is done in `FeedbackRubricQues

[2018-03-12 14:06] sukanta-27 commented on #8631
**Additionally:**
https://github.com/TEAMMATES/teammates/blob/4416b4db657cdf6993fd298d51cc7e3a7d630c66/src/main/java/teammates/common/datatransfer/questions/FeedbackRubricQuestionDetails.java#L973-L981

This code was commented out in #2815 (specifically in https://github.com/TEAMMATES/teammates/commit/5d6aabb0e0f1366974cddcbe6689f2cb643f23a6), we should delete this code, as at this point it is not

[2018-03-12 16:30] #8603 closed

[2018-03-12 17:03] gthd commented on #8215
I would really like to search and fix the remaining.

[2018-03-12 17:35] #1103 closed

[2018-03-13 02:29] damithc commented on #8631
It can be part of this issue. Too trivial to be a separate issue.

[2018-03-13 02:30] damithc commented on #8631
@sukanta-27 in this issue you are proposing to do client-side validation for Rubric question details, am I right?

[2018-03-13 02:39] sukanta-27 commented on #8631
@damithc Yes sir.

[2018-03-13 03:06] sukanta-27 commented on #8631
@LiHaoTan Yes, we can also do that.
@damithc Sir. Your thoughts on this issue?

[2018-03-13 04:48] Haozhe321 commented on #8625
@Artyom-Ganev
Try this: click on "gradle" on the right side of your intellij toolbar. After which, click on the refresh symbol.
![image](https://user-images.githubusercontent.com/26651556/37323142-bb2b4318-26bc-11e8-9ed3-d36de7fd98ae.png)

Let us know if it works for you!

[2018-03-13 05:12] SamithDB commented on #8528
@damithc Is this still open? I like to work on this.

[2018-03-13 06:44] joanneong commented on #8528
@gaurab4163 Are you still working on this? If not either @heniam1 or @SamithDB will start to work on this!

[2018-03-13 13:15] kartset opened #8632 "Help: Not able to login in development environment."
Ubuntu 16.04.4 LTS
Java version "1.8.0_161"
Node version v9.6.1
Chrome 64.0.3282.186

I am able to successfully run the development environment but when I open the localhost I am unable to login as student or instructor.

This is what I get when I try to log in as a student:-
![screenshot from 2018-03-13 18-41-54](https://user-images.githubusercontent.com/30878021/37343759-8c683db0-26ee-11e8-805e-

[2018-03-13 13:36] kartset commented on #8632
Thanks. I got it. :+1:

[2018-03-13 14:05] Bzdeco commented on #8526
It seems like it still hasn't been done, I would like to do it as my first contribution in here (and also in open source projects world :smile: )

[2018-03-13 15:43] Crphang commented on #8623
@LiHaoTan's idea is that it gives us more confidence that the test is correct and that it is a proper UI test. Using Javascript Click puts more responsibility on the developer to know that it is working as intended. The workaround that was found using `ThreadHelper.wait()` should allow us to reliably change Javascript Clicks to WebElement#Click, if the Javascript Click is working as intended.

But

[2018-03-13 15:52] Haozhe321 commented on #8599
Hmm, the last we tried that with @joanneong it created some problems switching between databases. And also the database contains some of my email addresses so I think I shall not share it here. If the bug isn't reproducible then I guess it isn't that big a issue.

[2018-03-13 23:41] sukanta-27 opened #8634 "Feedback for GSoC proposal Draft"
I have shared a draft of my GSoC proposal for this organization for the project **Questions+**. Kindly provide feedback. Also please notify me if there is any problem in viewing the draft or accessing any of the links attached in the draft.

[2018-03-14 01:01] damithc commented on #8599
@Haozhe321 are you able to reproduce the problem for another instructor, starting from scratch?

[2018-03-14 01:09] damithc opened #8635 "Instructor: help page: improve content"
Fix grammar, rephrase for easier reading, add missing info, etc.

[2018-03-14 01:12] damithc commented on #8635
@craaaa you may want to start doing this independent of @wenmogu's work. She can de-conflict later if necessary. But you can do this as a series of small PRs for easier reviewing/merging e.g., add missing info first. Today a user commented that the help page doesn't explain how to extend a deadline

[2018-03-14 04:45] whipermr5 commented on #8623
I feel waiting is not ideal. What if we change the screen resolution to something really huge so that scrolling is not necessary?
https://github.com/TEAMMATES/teammates/blob/4d8b09070cf9ae55b45fee493896704a5877a082/.travis.yml#L28-L29

This won't work for testing locally though, unless we go headless like in CI.

[2018-03-14 05:27] LiHaoTan commented on #8623
The scrolling behavior didn't come from testing itself (it came from the way the page functions). Not waiting for the scroll to complete is what created the surprise.

I think for UI tests we should never go into such workarounds unless there is a need, there's already enough flakiness due to the complexity of UI tests and I don't think adding more to it is a good idea.

Other surprises are when w

[2018-03-14 05:50] damithc commented on #8634
Will do. Remind if you don't receive feedback in a couple of days :-)

[2018-03-14 07:39] sukanta-27 commented on #8634
@damithc okay sir. :smile:

[2018-03-14 09:25] whipermr5 opened #8636 "Migrate *Attributes time fields from Date to Instant"
See #8617 description `Next Steps`

[2018-03-14 11:15] whipermr5 opened #8638 "Migrate feedback session timeZone field to ZoneId"
See #8617 description `Next Steps`

[2018-03-14 14:59] #8628 closed

[2018-03-14 15:37] whipermr5 opened #8640 "HtmlHelper: Use better way to replace now timestamps with datetime.now"
`HtmlHelper` requires the time zone to correctly replace now timestamps with `datetime.now`.

The HTML time zone detection introduced in #7616 is unreliable as it depends on the pattern `UTC+xxxx` showing up in HTML for it to work. ~~However, pages like `StudentHomePage` do not contain the time zone in HTML at all, while others like `InstructorSearchPage` contain multiple time zones. This has resu

[2018-03-14 15:44] #8636 closed

[2018-03-14 17:17] tran-tien-dat commented on #8640
including the time zone as a data attribute in HTML will require more complicated RegEx to detect. The RegEx will  have to recover all kinds of HTML elements where the time data can be a children of.

https://github.com/TEAMMATES/teammates/blob/dbca7a2531c4cfccec4deac0d3569ac58298a7e8/src/test/java/teammates/test/driver/HtmlHelper.java#L414-L423

https://github.com/TEAMMATES/teammates/blob/dbca7a2

[2018-03-14 17:35] whipermr5 opened #8641 "Migrate FeedbackSessionAttributes gracePeriod field to Duration"
See #8617 description `Next Steps`

[2018-03-14 17:53] whipermr5 opened #8643 "Sessions: add/edit: validate gracePeriod values"
Noticed while working on #8641 - there is no current validation for `gracePeriod`. Though the UI presents a dropdown list, manipulating the DOM allows users to specify any integer value, including negative values. These are successfully persisted to the datastore.

[2018-03-14 19:37] shaharyar-shamshi commented on #8643
@whipermr5 sir I am interested in this issue basically we have to check invalidity of the grace period time that it must not be negative

[2018-03-14 22:49] Vaggelis-Malandrakis opened #8644 ""Date in String is in wrong format" exception when running tests"
Hello,

I am a new contributor (at least I am trying) but I am facing a problem running the tests in Eclipse. I fixed the issue with the timezone format by putting `-Duser.timezone=UTC` at the run configurations but another one came up.

[code]

Do you have any idea why is this happening?

Thank you for your time.

[2018-03-15 01:26] #8638 closed

[2018-03-15 04:08] craaaa commented on #8497
Looking good @davel37! Do open a PR when you are ready.

[2018-03-15 04:12] darrenwee opened #8645 "TimeHelper: Remove all deprecated methods by updating their callers to call replacement methods instead"
All `@Deprecated` methods should be removed by the end. This can be done through small PRs made directly against `master`

From now on, PRs against master that use `TimeHelper` in new code should not call the old methods anymore; they should instead call the new methods

[2018-03-15 04:15] craaaa commented on #8635
Will do! Do also let me know if there are any additional frequently asked questions that should be added to the help page.

[2018-03-15 04:33] darrenwee commented on #8644
Hi!

Can you remove the `-Duser.timezone="UTC"` and post the errors you get? Might be an issue similar to #8444.

Are you on Windows or Linux or Mac?

[2018-03-15 04:54] crphang opened #8646 "Backend Validation for Questions"
Currently when adding new questions, a sample data flow works like this.

In `InstructorFeedbackQuestionAddAction`

[code]

In `extractFeedbackQuestionData`:
1. It calls `extractQuestionDetails`, which already does a validation of the fields, and add to the instance variable.
1. It then serialises those instance variables and store it as `Text/Json`.

From `feedbackQuestion.getQuestionDetails().va

[2018-03-15 05:26] tran-tien-dat commented on #8594
Working on this issue now. Some notes for myself:

- The time sent to the server is Unix time, not time in Admin's timezone. Source: https://github.com/TEAMMATES/teammates/blob/6573c90b569858138d85059c62bf7f314f33487c/src/main/webapp/dev/js/main/adminActivityLog.js#L138 => Rename the parameter

- Local time zone look up is currently done by retrieving a session of the user. Since course now has a

[2018-03-15 06:46] Progyan1997 commented on #8634
@damithc I am not getting any response either. :disappointed:

[2018-03-15 07:03] #8641 closed

[2018-03-15 07:41] tran-tien-dat commented on #8594
@damithc I notice that the log time in Admin time zone is currently displayed with the the month before the date, while the time in user time zone is displayed with the date before the month. I think this can be confusing, so I would like to standardise 1 format for both. I think in Singapore we are used to seeing the date before the month, so do you mind if I change to that?

[2018-03-15 09:21] shaharyar-shamshi commented on #8634
@damithc Sir I have shared my Proposal on Question+ and Recycle Bin Kindly give Feedback on it for Improvement

[2018-03-15 10:51] damithc commented on #8594
Yes, let's do that.

[2018-03-15 11:34] damithc commented on #8634
Comments added to all three.

[2018-03-15 12:44] #7993 closed

[2018-03-15 12:55] Vaggelis-Malandrakis commented on #8644
I removed it but the same error appears.

I am running on Windows and I pulled the latest commit.

I don't know if this helps but my system locale after typing this `systeminfo | findstr ;` command to cmd appears to be:
`System Locale:             el;Ελληνικά`
`Input Locale:                el;Ελληνικά`

[2018-03-15 15:14] darrenwee commented on #8644
I wasn't able to reproduce the issue by setting my system locale to Greek (`el_GR`), so it's probably not related to that. The failing tests I got were all different and due to comparison failures.

Did you follow the instructions for both [setting up dev environment](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md), and [setting up eclipse](https://github.com/TEAMMATES/teamm

[2018-03-15 15:24] Vaggelis-Malandrakis commented on #8644
I followed the instructions step by step and all my actions were the same as they were described.
I ran these command (they have the same result): Build failed

![build fails](https://user-images.githubusercontent.com/22797140/37472810-a056e24e-2875-11e8-9d7a-b534ff496bcd.jpg)

[2018-03-15 15:39] tran-tien-dat commented on #8644
Hi @Vaggelis-Malandrakis, can you try writing a Java program and execute the following (you will need to import the relevant packages):

[code]

[2018-03-15 15:49] Vaggelis-Malandrakis commented on #8644
Hi @tran-tien-dat.

I did it and I am getting this exception:

`Exception in thread "main" java.time.format.DateTimeParseException: Text '1970-12-31 12:00 AM +0000' could not be parsed at index 17`
`at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:1949)`
`at java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1851)`
`at java.time.ZonedDateTime.parse(ZonedDate

[2018-03-15 15:55] tran-tien-dat commented on #8644
I suppose that in your locale el;Ελληνικά, you don't use AM/PM to denote time in the before or after noon? @darrenwee is there a way to change Java's Locale to English?

[2018-03-15 16:03] darrenwee commented on #8644
I think specifying `-Duser.language=en` for the JVM should work. You can add this to the run config in eclipse.

@Vaggelis-Malandrakis try this snippet to confirm:
[code]

[2018-03-15 16:27] Haozhe321 opened #8648 "Instructor: students: add invite button"
**Environment**:
`master` branch commit at 497bf6d

Here's the screenshot for InstructorCourseDetailsPage:
![image](https://user-images.githubusercontent.com/26651556/37476061-28c12ec6-28af-11e8-812c-75cdf73b9b0b.png)

Here's the screenshot for InstructorStudentListPage
![image](https://user-images.githubusercontent.com/26651556/37476144-610700f8-28af-11e8-8cdc-ad5bda23a6a4.png)

Instructors are l

[2018-03-15 16:39] ibodi opened #8649 "[GSoC] ibodi, new contributor"
Hello. My name is Bogdan, but you better call me ibodi. I would love to contribute to TEAMMATES as my GSoC project. I have selected the Questions project among others. This is my first time participating in GSoC, so I feel a bit lost. I've started wandering whether I may just copy-paste the project idea from the Ideas page and send it as my final proposal.

What should I start with if I want to pa

[2018-03-15 16:53] shaharyar-shamshi commented on #8649
@ibodi welcome to Teammates I recommend you to before giving any idea just Solve few Issue start with d.firsttimer then move further with any other issue like d.contributor
Regarding Idea If you want to  submit idea from the idea page select any idea and make a proposal what changes you would like to implement let us suppose you selected the idea of Question+ then suggest any improvement you would

[2018-03-15 17:04] shaharyar-shamshi opened #8650 "Help Requested:Addition of extra changes"
Today I just updated my branch through the update Branch button in my open pull request no. #8596 #8562  #8208 this led to addition of too many extra changes somewhat approx more 150 file changes in each pull request I tried a lot to revert merge then again do merging but this did not helped me Can anyone help me

[2018-03-15 17:15] Haozhe321 commented on #2618
@damithc this would change the following method
https://github.com/TEAMMATES/teammates/blob/30a7659784b62567836476375f26187492550c0c/src/main/java/teammates/logic/core/StudentsLogic.java#L423-L449

In that case, what would constitute an invalid team info?