[2016-06-23 08:29] belyabl9 opened #5715 "Expand rich-text whitelist"
Rich-text whitelist should be expanded by heading tags (h1,..,h6), img tags and allowed styling (for the moment it's needed for aligning).

[2016-06-23 08:30] #5670 closed

[2016-06-23 08:44] YongJieYongJie opened #5716 "Feedback path options not enabled after cancel adding team contribution question"
At feedback session edit page, if an instructor adds a new team contribution (which has only one available feedback path), cancels adding the question, and subsequently adds another question of a different type, the other feedback paths are still disabled.

[2016-06-23 08:51] wkurniawan07 opened #5718 "feedbackSubmissionEdit.jsp should be a tag file"
As pointed out during discussion in #5672.

Add: I could've surfaced this issue much earlier, but was waiting for #5670 😛

[2016-06-23 08:54] chowyb commented on #5716
Duplicate of #5709, but since you have a PR open for this I guess we should close the other one then

[2016-06-23 11:04] #5714 closed

[2016-06-23 23:56] #5652 closed

[2016-06-24 03:07] damithc opened #5721 "Email sent to respondent after submission: include answers submitted"
The current email does not include the responses submitted.
To be done after #5675

[2016-06-24 03:08] damithc opened #5722 "Send an email to instructors when a session is closed."

[2016-06-24 03:10] damithc commented on #5721
This will require adding code for each question respnse type to generate a user readable string representation of the answer.

[2016-06-24 03:48] chowyb opened #5723 "Reorder section permissions panel in InstructorCourseEditPage"
In a previous PR (#5272), the section permissions panels were reordered such that panels corresponding to special sections were shown first, and panels not corresponding to any special sections were displayed later.

While this averted the issue of inconsistent naming (eg. form name having a different number from panel id), it poses a problem when adding new features to the frontend, as the panels

[2016-06-24 04:01] #5475 closed

[2016-06-24 05:24] wkurniawan07 opened #5725 "PMD rules for production code is not enforced"
Somehow this is missed when merging `travis.gradle` and `build.gradle` in #5472.

[2016-06-24 07:27] #5716 closed

[2016-06-24 07:28] YongJieYongJie commented on #5709
Duplicated by #5716

[2016-06-24 07:28] #5709 closed

[2016-06-24 07:46] #5595 closed

[2016-06-24 08:51] #5708 closed

[2016-06-24 10:12] #5688 closed

[2016-06-25 00:18] damithc opened #5727 "Exception in instructorFeedbackQuestionvisibilityMessage (live server): Null recipient type"
Null recipient type

[code]

[2016-06-25 01:33] YongJieYongJie opened #5728 "Instructor: edit question: remove irrelevant form elements from form"
The current approach is that form elements of all possible question types are in the new question form, but only those for chosen question type is shown.

As a result, upon form submission (or AJAX request for visibility message), many redundant request parameters are sent.

[2016-06-25 12:50] damithc commented on #5727
@wkurniawan07  can you assign the dev working in this part of the code recently to investigate?

[2016-06-26 05:11] #5669 closed

[2016-06-26 05:13] #5715 closed

[2016-06-26 05:18] #5629 closed

[2016-06-26 05:56] #5417 closed

[2016-06-26 06:07] #5579 closed

[2016-06-26 06:37] #5725 closed

[2016-06-26 06:48] wkurniawan07 commented on #5727
The Java file for this has not been modified since mid-2015, so it might have something to do with the front-end.

[2016-06-26 07:20] #5590 closed

[2016-06-26 14:07] wkurniawan07 commented on #5666
Release 221

Code Contributions from: @angiejones, @kanghj, @rclakmal, @belyabl9, @tarun14110, @wkurniawan07, @YongJieYongJie, @chowyb
Review Contributions from: @damithc, @kanghj, @JosephineKwa, @wkurniawan07, @YongJieYongJie, @chowyb

Sprint Velocity: 46 hrs (code) + 26 hrs (review) = 72 hrs (total)

[2016-06-26 14:10] wkurniawan07 opened #5730 "Release V5.82"

[2016-06-26 14:10] wkurniawan07 opened #5731 "Update about.html with contributors from V5.82"

[2016-06-26 14:11] #5665 closed

[2016-06-27 00:28] YongJieYongJie commented on #5727
@damithc It should have been fixed by #5717, can I check if the exception is still being thrown?

[2016-06-27 00:51] damithc commented on #5727
I see. We'll only know after deploying V5.81

[2016-06-27 03:23] YongJieYongJie opened #5734 "Replace all remaining browser dialogs with modals"
I think it should now be safe to convert all remaining browser dialogs into Bootbox.js modals

[2016-06-27 05:10] #5718 closed

[2016-06-27 05:15] damithc commented on #4797
Failed at V5.81

[2016-06-27 05:25] damithc opened #5735 "InstructorFeedbackResultsPageUiTest fails on live server"
Failing at V5.81

java.lang.AssertionError:
	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:24)
	at org.testng.AssertJUnit.assertFalse(AssertJUnit.java:41)
	at org.testng.AssertJUnit.assertFalse(AssertJUnit.java:49)
	at teammates.test.cases.BaseTestCase.assertFalse(BaseTestCase.java:131)
	at teammates.test.cases.ui.browsertests.Instructor

[2016-06-27 05:33] damithc commented on #4430
Still failing at V5.81

[2016-06-27 05:40] damithc opened #5736 "Editing distribute points question: Give tool tips"
1. We can give give tool tips for both options.
2. For the second option, rephrase as `x (number of options)`

[2016-06-27 05:41] damithc commented on #5736
@tarun14110 can do this one too?

[2016-06-27 05:42] damithc opened #5737 "MailGun cannot send emails on live server"
com.sun.jersey.core.spi.component.ProviderFactory __getComponentProvider: The provider class, class com.sun.jersey.multipart.impl.MultiPartReaderClientSide, could not be instantiated. Processing will continue but the class will not be utilized
java.lang.SecurityException: Unable to create temporary file
	at java.io.File.checkAndCreate(File.java:2083)
	at java.io.File.createTempFile(File.java:2198)

[2016-06-27 05:43] damithc commented on #5737
@wkurniawan07 see if you can reproduce this on the live server

[2016-06-27 05:44] damithc opened #5738 "Email failures not causing test failures on live server"

[2016-06-27 05:45] damithc commented on #5738
All tests passed (except the usual failures) even when the email service is not working at all.

[2016-06-27 05:48] wkurniawan07 commented on #5738
That is expected. Email sending is not tested (it never was), otherwise it's easily eating up quota + spamming the test accounts.

[2016-06-27 05:58] wkurniawan07 commented on #5737
Hmmm how do I test it on live server? On my staging server all is working.
Similar issue is reported [here](https://java.net/jira/browse/JERSEY-2279) but it's due to an older version of the library used, which is not the case here.

[2016-06-27 06:16] damithc commented on #5666
deployed

[2016-06-27 06:16] #5666 closed

[2016-06-27 06:52] damithc commented on #5737
live == staging
So it should work on live server as well.

[2016-06-27 06:53] damithc commented on #5738
On a related note, may be failures to send emails should be emailed to admin using GAE email service? 100/day should be enough for that purpose.

[2016-06-27 07:24] wkurniawan07 commented on #5738
Non-200 responses are already severe logged under the current code.

The thing is, failures to send email don't always translate to such. A "200" code may only mean that the request to perform email sending is received and queued (see this [Mailgun example](https://cloud.google.com/appengine/docs/java/mail/mailgun#learning_more)), but nothing else after that is known. Only via the email service's

[2016-06-27 07:28] damithc commented on #5738
Severe logs are supposed to send me an email, but that doesn't happen if the email service is broken. may be use GAE mail for emailing severe logs -- or send by both?

[2016-06-27 07:31] damithc commented on #5705
Something like this doesn't help? https://sendgrid.com/docs/API_Reference/Web_API/Customer_Subuser_API/account_limits.html

[2016-06-27 07:34] wkurniawan07 commented on #5738
Force-sending via GAE mail is possible, but that means the current rate of sending every 5 mins cannot be sustained because 24 x (60 / 5) = 288 >> 100. The max. rate we can get here is sending every 15 mins, amounting to at most 96 severe log emails per day, and the GAE mail cannot be used for anything else.

[2016-06-27 07:48] damithc commented on #5738
At the moment, there are about 10-20 severe log emails per day (checking every 5 minutes doesn't mean sending every 5 minutes). It's fine we don't use GAE quota for anything else. Again, we can duplicate the those emails using a slightly different subject line and send the duplicate via the normal email service. That way, the risk of something going wrong in the live server but not receiving any n

[2016-06-27 08:06] wkurniawan07 commented on #5738
If it just happens today when switching to Mailgun, it might be an issue of misconfiguration. Mailgun requires the email sender's domain to be registered with the appropriate SPF/DKIM records, and they need about 24-48 hours to verify these records.

[2016-06-27 08:25] damithc commented on #5738
I've done that already, a few days ago. Based on mailgun dashboard, my domain is already active. Can you email me the relevant build.properties values. I'll try using yours.

[2016-06-27 08:57] wkurniawan07 commented on #5737
I'll try to replicate the solution given [here](http://stackoverflow.com/questions/6301973/multipart-file-upload-on-google-appengine-using-jersey-1-7), but I can't guarantee that it will get rid of the problem since it doesn't exist in my environment.

[2016-06-27 10:09] damithc commented on #5737
We can do it in the next release. I switch back to sendgrid for this release.

[2016-06-27 10:10] damithc commented on #5737
In the meantime, I can deploy a temp version to check if your fix works.

[2016-06-27 11:23] damithc commented on #5735
Possibly due to live server being slower than dev server.

[2016-06-27 11:24] damithc commented on #5735
@kanghj from recent changes done by @rclakmal ?

[2016-06-27 11:36] rclakmal commented on #5735
Strange.....certainly a delay. Fails at
`        assertFalse(resultsPage.verifyMissingResponsesVisibility());`

We do the same check at the start of the checkbox before un-ticking the checkbox and this is just a re-verification after ticking it back.
Shall I introduce a wait ?

[2016-06-27 14:12] damithc commented on #4571
Happened again

java.lang.NullPointerException

Actual user abc
Request Method GET
User Agent Mozilla/5.0 (Windows NT 10.0; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0
Request Url https://teammatesv4.appspot.com/page/studentCourseJoinAuthentication
Request Path /page
Request Parameters {studentemail::abc@gmail.com, courseid::Test11111, key::216CEDDB2E31655D8616C352B81A1C7D322F6D73156D620837CE1C625

[2016-06-27 14:15] tarun14110 commented on #5736
tool tips message for 1st and 2nd option respectively.
[code]
Are they ok ?

[2016-06-27 14:34] damithc commented on #4571
In this particular case, the student is not in the course anymore.

[2016-06-27 14:40] damithc commented on #5736
Hope this is not too long.
[code]

[2016-06-27 14:45] damithc opened #5742 "Instructor home page: Show year as a tooltip of start/end time"
As the year is not shown at all, it's hard to see when the course was held.
I thought we had this feature already (may be we had it and lost it due to a regression?)
![image](https://cloud.githubusercontent.com/assets/1673303/16383642/864f1650-3cb8-11e6-92a6-ff853195c4bf.png)

Or perhaps we can show the duration `[earliest start time - latest end time]` on the panel header center?

[2016-06-27 14:52] damithc commented on #5735
@wkurniawan07 what's the appropriate way to deal with this delay?

[2016-06-28 00:02] YongJieYongJie commented on #5742
I think we can put the missing information in tooltips (just realized this is what GitHub is doing).
Actually, much of the visual clutter is also caused by the time (e.g., `11:59 PM`), if we are putting information in tooltips, we can consider hiding the time too.

[2016-06-28 01:22] damithc commented on #5742
Time is a VERY important information. Should not be hidden. :-) In fact we should find a more visual way to show the date/time info so that mistakes in times can be spotted easily. e.g. setting AM time when meaning to set a PM time, confusing month with date etc.
The more information we can show, the better (as opposed to 'more we can hide, the better'). Showing more info without overwhelming the

[2016-06-28 04:49] chowyb opened #5745 "Redundant event handler in feedbackResponseComments.js"
The event handler found in `registerCheckboxEventForVisibilityOptions()` in feedbackResponseComments.js is redundant. This file is currently used by 3 different pages, of which they have the following effects:

1. `instructorComments.jsp` - same effect achieved via `$('input[type=checkbox]').click()` event handler in `omniComment.js`.
2. `instructorFeedbackResultsByGiverRecipientQuestion.jsp` - no

[2016-06-28 05:57] YongJieYongJie opened #5747 "Combine/link the various student-related page"
`instructorCourseStudentDetailsEdit`, `instructorCourseStudentDetailsPage` and `instructorStudentRecordsPage` are closely related and should be combined/linked together. E.g., the records page is accessible from search, but not from the other two.

[2016-06-28 08:24] #5723 closed

[2016-06-28 09:16] #5586 closed

[2016-06-28 09:22] wkurniawan07 opened #5748 "Add a utility function to invoke private method in BaseTestCase"
There are 5 methods tested using reflection method in the code base, and this technique is good to be extended. To facilitate it, the said utility function is needed.

[2016-06-29 00:51] damithc commented on #5314
Yes, I think @rclakmal 's idea is a good one.

[2016-06-29 00:53] damithc commented on #4658
Did not occur in the recent months.

[2016-06-29 00:53] #4658 closed

[2016-06-29 00:54] damithc commented on #4587
Handled in another issue (by sending an email upon submission)

[2016-06-29 00:54] #4587 closed

[2016-06-29 03:24] #5745 closed

[2016-06-29 04:23] YongJieYongJie opened #5751 "Attach event handlers dynamically in InstructorCourseDetails"
The current approach uses html `onclick=""` to trigger a confirmation prompt and uses return false to prevent the link from working if user clicks no. This which works very well when using default browser dialog, but is not readily modifiable to use custom modals.

[2016-06-29 04:24] YongJieYongJie commented on #5734
waiting on #5751

[2016-06-29 07:07] belyabl9 commented on #5711
I'll work on it

[2016-06-29 07:32] belyabl9 opened #5752 "toggleDeleteStudentConfirmation duplicates"
The same JS function toggleDeleteStudentConfirmation() is located in three places:
1. instructorSearch.js
2. instructorStudentList.js
3. instructorCourseDetails.js

I think it may be moved to the only instructor.js

[2016-06-29 08:34] belyabl9 commented on #5711
Is 'Are you sure you want to remove this comment ?' enough for the confirmation message ?

[2016-06-29 09:17] damithc commented on #5711
Yes, something like that should be enough.

[2016-06-29 09:29] wkurniawan07 opened #5755 "Migrate static HTML pages to JSP-generated"
The static pages such as `about.html`, `index.html`, `contact.html`, ... all have the exact same header/footer and keeping them as `.html` necessitates repetition (and thus variations) of such. It will be painful for whoever is going to do #3362.

Also, when migrated to JSP, we can harness the power of tags, e.g using tag to construct about page's name/picture list etc. Not to mention that we can

[2016-06-29 10:49] wkurniawan07 opened #5756 "Strange element "hide" spotted in visibility options test file"
In `instructorFeedbackQuestionVisibilityOptions.html`:
![screen shot 2016-06-29 at 6 48 34 pm](https://cloud.githubusercontent.com/assets/7261051/16449446/2ad2a012-3e2a-11e6-8e69-ea53d5c2eb72.png)
`hide` is [not a valid HTML tag](http://www.w3schools.com/tags/default.asp).

[2016-06-29 14:18] #5440 closed

[2016-06-29 14:18] #5677 closed

[2016-06-29 15:12] wkurniawan07 commented on #5742
For reference, the start/end date is added here #4426 and removing the year is actually a conscious decision (look at the issue thread).

[2016-06-29 21:09] rclakmal commented on #5696
@damithc @YongJieYongJie  Looks like #5614 a duplicate of this issue ?

[2016-06-29 23:18] rclakmal commented on #5630
@damithc This is bit ambiguous and complex than I expected. Although the group-by feature makes sense in panel view, does it really applies for a CSV download ?

or rather should we use this selected value (example` G>R>Q`, `R>G>Q`) to decide how we should sort the CSV responses ? For an example currently, it is sorted by default to G>R>Q by calling following line

[code]

[2016-06-30 00:27] YongJieYongJie commented on #5696
@rclakmal Seems like #5614 is a subset of this issue. In any case, I'm actually waiting for @tarun14110 to add the underline CSS rule in #5627

[2016-06-30 00:29] rclakmal commented on #5696
I see...then should I close the PR I made?....I added a fix for this. Didn't know it was work in progress.

[2016-06-30 00:32] YongJieYongJie commented on #5696
@rclakmal Hold on a minute, let me take a look at the PR

[2016-06-30 00:53] damithc commented on #5630
Yes, group-by will be harder to do. Shall we finish the 'Section' field first?. i.e. include only the section shown. Meanwhile, let me think about the 'group by' option.

[2016-06-30 01:07] rclakmal commented on #5630
@damithc Section choice already been refereed by CSV download. We should close #5628.

[2016-06-30 01:16] damithc commented on #5630
I see. In that case, work on that while we figure out what to do with this one. I'll get back with my thoughts later today.

[2016-06-30 02:41] chowyb opened #5765 "instructor: view session results: fix bug that says 'no responses' when there are responses"
In certain circumstances, the page will incorrectly state that no responses exist for the session, even though responses exist. This issue will be updated once I trace the cause of the bug.

![results](https://cloud.githubusercontent.com/assets/7546744/16475169/f31fca3e-3eae-11e6-9c71-01309bc711d7.png)

[2016-06-30 03:00] chowyb opened #5766 "Remove unused atomic classes in HTML elements"
Some elements in HTML pages seem to serve the purpose of atomic classes, however these classes are not present in teammatesCommon.css. An example of this is shown below, but there may be others:

![classes](https://cloud.githubusercontent.com/assets/7546744/16475450/42558c36-3eb1-11e6-9345-2500a2cee7d8.png)

These should be removed where possible.

[2016-06-30 03:26] damithc opened #5768 "email alerts sent to respondents: include session instructions"
We can include session instructions in the email.

[2016-06-30 03:47] #5632 closed

[2016-06-30 04:13] chowyb opened #5770 "Instructor: view results: instructor should be able to see responses given to him even if he is also a student"
When an instructor is also registered as a student under the same email, if the instructor does not have permissions to view responses for the section that his student account is under, he will not be able to see responses that have been directed to him as an instructor.

A way to replicate this bug is to add a new instructor as an admin, so that the sample course and feedback sessions are created

[2016-06-30 04:14] chowyb commented on #5765
The cause of the bug has been determined:

To figure out whether there are responses for a feedback session, the code gets the first 2 responses (if any) as a sample from the database, and then checks if they are visible to the instructor, removing them from the returned list if they are not visible. As such, if the instructor is unable to view the sampled responses, the application reports that t

[2016-06-30 04:20] damithc commented on #5742
Year is not so important (although I found it useful as admin when trying to troubleshoot through other user's homepages) but the day (Sun, Mon, etc.) can be useful to all users. If they can't be shown directly, there should be an easy way to access them. So I'm OK with the functionality of this PR.

[2016-06-30 04:26] wkurniawan07 commented on #5563
This would be fixed in #5757 so closing now.

[2016-06-30 04:26] #5563 closed

[2016-06-30 04:38] damithc commented on #5765
Perhaps that method should distinguish between having responses and having responses but invisible to the user. In the first case, it is safe to say there are no responses. in the 2nd case (rare), we may have to do further probes -- in spite of the performance hit -- before deciding there are no responses.

[2016-06-30 04:39] damithc commented on #5770
Kudos for detecting the bug :+1:

[2016-06-30 04:58] chowyb commented on #5765
The method seems to be used significantly by other session-related actions as well, and it will be difficult to customise it wihout affecting the other actions. I would also not recommend creating a copy of the method to cater specifically for this case (it's 300 lines long).

It is possible however to simply increase the sample size (an easy change), but this trades in performance in the common c

[2016-06-30 07:18] wkurniawan07 commented on #5735
Oops sorry I missed this. I can't say for sure; it depends on the source of delay. Is it waiting for some ajax load, element (dis)appearance, or something else?

[2016-06-30 07:47] wkurniawan07 opened #5771 "Send severe logs and crash reports with Javamail"
As per discussion in #5738

[2016-06-30 08:40] #5253 closed

[2016-06-30 10:37] JosephineKwa opened #5773 "Custom Feedback Paths"
The Custom Feedback Paths feature will allow for a finer customisation of feedback giver to feedback recipient feedback paths. Development will take place on the long-lived `custom-feedback-paths` branch. I will update this issue with references to the relevant PRs when the feature is completed.

Below lists the aspects involved in implementing the Custom Feedback Paths feature. Beside each aspect

[2016-06-30 11:07] JosephineKwa commented on #5773
@damithc would it be alright if I directly created PRs for the various aspects of the custom feedback paths feature as they are implemented, or would you prefer issues to be created for them?

[2016-06-30 11:27] damithc commented on #5773
Is this going to be a long lived branch? In that case, you can create PRs against that branch without having corresponding issues I guess. Use this issue number in all PR names with a prefix?
e.g.
`Add database support for custom feedback paths - part of #5773`

[2016-06-30 11:29] damithc commented on #5773
You can also add the parts as a checklist in the issue description (I've added a sample above)

[2016-06-30 11:30] JosephineKwa commented on #5773
Regarding the PR format, I was thinking of the following (similar to static analysis PRs):
1. Title of PRs: Custom Feedback Paths: {aspect}
2. Branch name: custom-feedback-paths-{aspect}
3. Merging will use the PR number instead of the issue number
{aspect} refers to which part of the custom feedback paths feature was implemented in the PR

[2016-06-30 11:39] damithc commented on #5773
Sure, we can follow the same.

[2016-06-30 12:22] damithc commented on #5765
Is the problem random or repeatable?
Increasing the sample size doesn't fix the problem fully, right?

[2016-06-30 12:35] damithc opened #5774 "Feedback session description: text color lost after saving"
To try rich text support, I tried coloring some text. After saving, the text color turned to black. If this formatting is not supported, it should be removed from the formatting toolbar.
![image](https://cloud.githubusercontent.com/assets/1673303/16488210/0f81b5fe-3f02-11e6-8a22-213a8d074920.png)

[2016-06-30 12:40] damithc opened #5775 "Rich text support: make the formatting toolbar appear on demand"
The toolbar covering parts of the form look a bit untidy.
![image](https://cloud.githubusercontent.com/assets/1673303/16488344/a6029e30-3f02-11e6-9b2b-d71d8fe80439.png)

Should we show a small icon clicking of which inserts the toolbar at the top of the text box (without covering the other things)?

[2016-06-30 12:45] chowyb commented on #5765
The problem isn't exactly random, I'm not sure in what order responses get retrieved from the datastore, but assuming no one modifies the responses (making new submissions etc.) the same responses will be taken out every time, and yes increasing the sample size doesn't fix the problem, only reduces the chances of it happening.

Not knowing in what order responses get retrieved from the datastore i

[2016-06-30 13:25] kanghj commented on #5765
I think we can fix this by deciding whether or not to display the message only after the page loads the rest of responses by ajax?

[2016-06-30 13:42] belyabl9 commented on #5775
@damithc : this is how inline mode works. The alternative may be an icon that causes re-initialization of editor and switches between inline and form modes. If I haven't got you correctly, please, provide a simple prototype

[2016-06-30 14:16] damithc commented on #5775
Ok, have a look at the documentation and tell us what are the possible alternatives. I guess we should use one of the available options rather than implement our own custom mode.
The current mode is not that bad. If there are no better alternatives, we can stick with it.

[2016-06-30 14:35] damithc commented on #5630
Now that I think about it, a csv formatted data in various groupings (G>R>Q etc.) may not be that useful. Perhaps we should provide a 'print' option so that users can download the results as they are seen in the webpage? What do you think @kanghj @rclakmal ?
On a different front, we can provide more filtering options so that the user can view specific teams/students/questions on the webpage and al

[2016-06-30 14:42] rclakmal commented on #5630
@damithc By print, do you mean export the view as images and probably present it as a 'pdf' ?

I believe we already have an item in our proposal tracker to introduce more filters to session view like in student view.

[2016-06-30 14:51] damithc commented on #5630
Not really export to pdf, but rather, a 'printer friendly' button that formats the page for printing. Users can print as pdf if they want. Investigate how do others usually facilitate a printer friendly view.

[2016-06-30 16:39] belyabl9 commented on #5775
I think 'fixed_toolbar_container' fits for our needs. Look:
![image](https://cloud.githubusercontent.com/assets/6876210/16496373/45470d36-3efa-11e6-9f74-0506eb4e070c.png)

![image](https://cloud.githubusercontent.com/assets/6876210/16496352/2f3e24b6-3efa-11e6-9cbe-5c77c9ff6cb5.png)

[2016-06-30 21:36] rclakmal commented on #5628
This is already in place. Nothing to implement

[2016-06-30 21:36] #5628 closed

[2016-06-30 23:32] rclakmal opened #5779 "User should be able to print(export) groupBy views in the feedback session responses."
![snip20160701_3](https://cloud.githubusercontent.com/assets/794011/16507566/05a9a5f4-3f2b-11e6-8a12-51a28406a2ee.png)

As discussed on #5630, including groupBy views in csv download does not make much sense. But still there should be a way to export these different groupBy views.

We can utilize [jQuery PrintElement](http://projects.erikzaadi.com/jQueryPlugins/jQuery.printElement/Sample/) plugin,

[2016-07-01 00:33] damithc commented on #5779
Rather, we should have a 'print' button in this page all the time for all views. It should give a printer friendly view of the whole page (i.e. excluding non-print-worthy items such as buttons).

[2016-07-01 00:47] rclakmal commented on #5735
@wkurniawan07 It checks the "Indicate Missing Checkboxes" call and validates whether "No Responses" rows are back. Once the checkbox is ticked, a page refresh happens.

[2016-07-01 01:17] chowyb commented on #5735
It might be possible to use `waitForPageToLoad()` in `AppPage.java` within the click method of `InstructorFeedbackResultsPage.java` for this, but I'm not too sure on this.

As a note, when the checkbox is ticked, a page refresh occurs, and upon page load (`$(document).ready()`), the page uses JS to automatically send several ajax requests to load the responses for each question, by attaching click

[2016-07-01 02:42] kanghj commented on #5735
Yes, looks like `waitForPageToLoad` should solve this problem.

[2016-07-01 04:42] chowyb opened #5780 "Refactor FeedbackSessionsLogic.java"
With the upcoming feature for custom feedback paths, there will likely be significant changes to these logic components as well. It would be good to refactor these in advance to allow easier extension of functionalities later.

[2016-07-01 05:24] YongJieYongJie opened #5781 "Visibility options not updated when feedback path changes"
Bug introduced in #5671 because function in `.js` file is renamed, but the `onclick` attribute in `.tag` file not updated.

[2016-07-01 05:50] damithc commented on #5781
I guess we should fix this before the next release?

[2016-07-01 05:51] damithc commented on #5781
Need to improve tests to prevent this happening again. i.e. write a failing test before fixing the bug.

[2016-07-01 05:51] #5737 closed

[2016-07-01 07:30] #5736 closed

[2016-07-01 08:13] #5755 closed

[2016-07-01 08:17] wkurniawan07 commented on #5775
Will the toolbar always be present, or does it appear on demand like this issue states?

[2016-07-01 08:18] wkurniawan07 opened #5782 "Use tags and constants to build components of static pages"
After porting to JSP, the static pages can pull content from tags and `Const.java` and `Config.java`, which suppresses the need for unnecessary hard-coding (thus repetition).

[2016-07-01 08:34] belyabl9 commented on #5775
@wkurniawan07 : Toolbar will be present only if textarea is selected. These changes avoid overlapping the nearest fields by toolbar

[2016-07-01 09:39] kanghj commented on #5348
This issue must mean that `DataMigrationForSanitizedDataInStudentAttributes` wasn't run on the old data in non-preview mode then. Let's restrict it to run only on courses in the last year and run it again.

[2016-07-01 10:28] belyabl9 opened #5784 "Rich-text support for question descriptions"
$subj

[2016-07-01 13:14] #5752 closed

[2016-07-01 16:52] #5775 closed

[2016-07-01 17:00] #5774 closed

[2016-07-01 17:08] #5631 closed

[2016-07-02 13:36] #5781 closed

[2016-07-02 16:55] #5712 closed

[2016-07-03 04:25] #5369 closed

[2016-07-03 04:52] #5731 closed

[2016-07-03 11:00] wkurniawan07 commented on #5730
Release 222

Code Contributions from: @rclakmal, @mesternefeld, @tarun14110, @wkurniawan07, @YongJieYongJie, @chowyb
Review Contributions from: @damithc, @kanghj, @JosephineKwa, @wkurniawan07, @YongJieYongJie, @chowyb

Sprint Velocity: 35 hrs (code) + 20 hrs (review) = 55 hrs (total)

[2016-07-03 19:08] tarun14110 commented on #4451
I am not able to reproduce. Is that issue with some specific session or question type ?
![screenshot from 2016-07-04 00 03 33](https://cloud.githubusercontent.com/assets/12219700/16547097/6d7bd430-417f-11e6-9a18-06174c3281be.png)

[2016-07-04 01:22] damithc commented on #4451
You are reproducing in. In your screenshot, the expected text is **`To Team: Team 2`**

[2016-07-04 04:11] YongJieYongJie commented on #5704
One main source of inconsistency is in the "Team peer evaluation session" where the questions are phrased in first person whereas the visibility hint is worded in second person:

![you and i - question](https://cloud.githubusercontent.com/assets/14101781/16550597/e9d0bf32-41de-11e6-9337-6ca3c0c2911b.png)

We can rephrase the questions to be in second person (as questions usually are) as follow:

`

[2016-07-04 04:24] YongJieYongJie opened #5791 "Standardize copy session button to use tooltip"
The copy button uses the title attribute whereas other buttons uses tooltip, we should standardize to use tooltips because that is more common.

We can also elaborate more on the purpose of copying. Perhaps something like `Copy the feedback session to another course for reuse`

(the reason for inconsistency may be that the data-toggle attribute for the copy button is used to trigger the copy modal

[2016-07-04 04:46] damithc commented on #5704
yes, I agree that rephrasing to second person will be better. The exact rephrasing need to be worked out though. i.e. refine your suggested questions further.

[2016-07-04 09:12] YongJieYongJie commented on #5616
Here's what I have so far:

With a collapsible side navigation, we can present a lot more help topics without cluttering the UI.

Additionally, if the side navigation does make the help page more easily navigable, we can more readily redirect users to the help page when necessary (before we implement methods to bring help content to the location where help is needed).

![2016-07-04-165731_1280x800

[2016-07-04 09:21] damithc commented on #5616
On which side should we have it? Is there a UIX reasoning behind one side vs the other?

[2016-07-04 11:10] tarun14110 commented on #4451
@damithc got that. what exactly is expected from below points?
1. Display every receiver type. like` Self, Students, Instructors, Teams, Own team, Own team members, own team members including self, ...`
2. Grouping all receiver types into just 3 -` Instructor, Student, Team`.
3. Just displaying receiver type `Team`.

[2016-07-04 12:47] damithc commented on #4451
Option 2? @kanghj what do you think?

[2016-07-04 13:19] kanghj commented on #4451
Option 2 sounds good for teams and instructors, but I am not sure if displaying `Student` is necessary, since that's the most common and the default recipient type that a response giver would expect.

[2016-07-04 14:34] damithc commented on #4451
Yes, that's true. may be go with option 3? Person names are long and we don't want to add more text to it.

[2016-07-04 18:30] YongJieYongJie commented on #5616
@damithc I chose to put it on the right because side navigation on the left tend to be full length (i.e., taking up the full vertical space). Also, since the highlighted portion scrolls with the page, it looks nicer beside the scrollbar.

[2016-07-05 01:15] YongJieYongJie commented on #5704
@damithc I have refined the phrasing further.

Currently, the approach is more direct, starting with "Who What When Where How Why" as much as possible.

(The previous rephrasing is less direct, and uses language like "please elaborate", "please provide feedback" etc.)

__The rephrased questions are as follow:__

1. _My estimate of how much each team member contributed._
 ➔ How much work did each m

[2016-07-05 05:13] #5250 closed

[2016-07-05 05:40] damithc commented on #5735
Failing at V5.82.
On a related note, this issue seems to be moving too slow.

[2016-07-05 05:46] damithc opened #5795 "InstructorFeedbackEditPageUiTest failing on live server"
I think a hard coded url is the culprit. V5.82
Failing at line `125         feedbackEditPage.verifyHtml("/instructorFeedbackEditEmpty.html");`

[2016-07-05 05:48] damithc commented on #5795
![image](https://cloud.githubusercontent.com/assets/1673303/16574998/17a24b3c-42b7-11e6-9be9-67ba55e43fa3.png)

[2016-07-05 05:51] damithc commented on #5795
Same problem in InstructorFeedbackPageUiTest
`129 feedbackPage.verifyHtml("/instructorFeedbackEmptyAll.html");`

[2016-07-05 05:56] damithc commented on #2821
Old issue. closing.

[2016-07-05 05:59] damithc opened #5796 "InstructorHomePageUiTest failing on live server"
Failing at V5.82
org.openqa.selenium.TimeoutException: Timed out after 60 seconds waiting for visibility of Proxy element for: org.openqa.selenium.support.pagefactory.DefaultElementLocator@22097bbc
Build info: version: '2.46.0', revision: '61506a4624b13675f24581e453592342b7485d71', time: '2015-06-04 10:22:50'
System info: host: 'damithch-d9010', ip: '172.26.184.139', os.name: 'Windows 7', os.arch:

[2016-07-05 06:16] damithc opened #5797 "Instructor remind particular student: triggering two emails instead of one"
I tried sending a reminder to a particular student through the home page, and ended up sending two emails.
![image](https://cloud.githubusercontent.com/assets/1673303/16575457/e64fc448-42ba-11e6-803e-0120454ec5dd.png)

[2016-07-05 06:29] damithc commented on #5797
Is it because I'm both a student and an instructor in that course?

[2016-07-05 06:56] damithc commented on #5704
1. first one is fine. 'member of the team' --> team member? Add visibility info (other 4 questions have it).
2. first one is fine.
3-5. fine. teammate --> team member?

Note that Serhii is adding a rich text description to questions. So may be wait till that is merged?

[2016-07-05 07:05] kanghj commented on #5797
Yes, it's because the email of that student is associated with both a student and instructor.

[2016-07-05 07:10] kanghj commented on #5735
@rclakmal, will you be submitting a pull request for this?

[2016-07-05 07:12] kanghj commented on #5795
@belyabl9, will you fix this?

[2016-07-05 07:37] chowyb opened #5798 "Standardise "Respondant" vs "Respondent" in files"
The terms "Respondant" and "Respondent" seem to be used interchangeably in the code base, such as in method names. "Respondant" has more occurrences than "Respondent", including a constant string `Const.StatusMessages.FEEDBACK_QUESTION_NUMBEROFENTITIESINVALID` that is displayed to the user, however "Respondent" appears to be the accepted spelling of the word.

[2016-07-05 07:50] belyabl9 commented on #5795
Sure. i'll fix it today

[2016-07-05 08:01] damithc commented on #5795
@kanghj is this a godmode problem?

[2016-07-05 08:04] damithc commented on #5797
I see, so it is not going to be a frequent occurrence. The content of the two emails look different though. Is that intended.?

[2016-07-05 08:18] damithc commented on #5730
Deployed.

[2016-07-05 08:18] #5730 closed

[2016-07-05 08:20] rclakmal commented on #5735
@damithc @kanghj Yes. I will work on this today.

[2016-07-05 08:25] kanghj commented on #5795
If tinymce is responsible for adding those links to the stylesheets, then yes, we may have to fix this by adding code in our `HtmlHelper`  to handle those urls.

[2016-07-05 08:45] YongJieYongJie commented on #5616
The html structure of various sections of the help page is inconsistent and should be fixed before progressing further on this issue.

Current progress:

![2016-07-05-164155_1280x800_scrot](https://cloud.githubusercontent.com/assets/14101781/16578889/8fa206be-42cf-11e6-94da-10700b06a4f1.png)

[2016-07-05 08:53] chowyb commented on #5797
Just reached the section of code that touches sending of reminder emails (as part of refactoring), and confirmed that the code will send two separate emails if the email is associated with both a student and instructor.

The two emails in the screenshot look about the same however, excluding for the link. Gmail uses a purple colour to mark text which it thinks was quoted from a previous email from

[2016-07-05 11:17] damithc commented on #5797
The difference: one email contains the key while the other doesn't. But I think that's because instructors are using Google accounts and don't need the key to access the session.

[2016-07-05 11:34] kanghj commented on #5797
Yes, the key is to allow unregistered students to submit responses

[2016-07-05 14:24] damithc commented on #5797
i suppose sending two emails is the correct behavior (as the two submission links are different) as long as the instructor has questions to respond to.

[2016-07-06 02:04] damithc commented on #5738
While using GAE to send admin emails is good, that does not address this main cause of this issue, which I suspect to be an inadvertent weakening of tests.

1. I used to get a bunch of emails during live server testing (because I set my own email as a student account used for testing). However, I don't get those emails anymore since the recent switch to other email service.

2. If the email servic

[2016-07-07 00:08] rclakmal opened #5801 "Feedback session results download should support richer format than csv"
The idea of this issue is to explore whether we can support richer format such as xls (excel) in feedback session results download. Alternatively, we should look in to the option of opening the file as GDoc.

[2016-07-07 00:55] YongJieYongJie opened #5802 "InstructorFeedbackEditPageUiTest: consolidate similar helper methods"
The test currently has many similar helpers methods like `clickVisibilityOptionsForQuestion1()`, `clickVisibilityOptions(questionNumber)`, and `clickVisibilityOptionsForNewQuestion()`

Actually only the second form is needed.

[2016-07-07 11:09] #5751 closed

[2016-07-07 13:45] #5608 closed

[2016-07-07 15:19] #5795 closed

[2016-07-07 21:47] rclakmal commented on #5801
@damithc Changing the download type from csv to excel doesn't seem to be hard. It's just a matter of changing response contentType via `setContentType`.

But the question is why do we need to do that ? Right now, we only have raw data in our downloads and no formatting or additional stuff like charts. CSV files can be opened even by text editors where excel format would introduce tool restrictions

[2016-07-08 00:09] #5711 closed

[2016-07-08 01:38] damithc commented on #5801
The reason to introduce xls format is so that we can introduce more formatting. For example wider columns for columns with more text. We can also improve the readability by adding text formatting etc. But we should still keep csv format as a fall back in case a user does not have a way to open xls files.
Yes, a button dropdown sounds suitable. We should find better layman-friendly wording for the

[2016-07-08 05:07] JosephineKwa opened #5805 "Hide invalid recipient types upon selecting a giver type for a question's feedback path"
Some combinations of giver types to recipient types are invalid. Upon saving a feedback question with an invalid feedback path, an error message might be displayed, or it might be allowed but the question will not be displayed in the feedback submission edit page. We should prevent this by hiding invalid recipient types when a giver type is selected.

[2016-07-08 06:23] wkurniawan07 commented on #5791
@YongJieYongJie you may find #3865 interesting.

[2016-07-08 07:04] belyabl9 commented on #5684
@YongJieYongJie , should 'Edit this question', 'Discard your changes' be removed as well ?

[2016-07-08 08:02] wkurniawan07 commented on #5738
I need more information before troubleshooting this. What tests are involved in (1)? The only one I'm aware of is `AutomatedSessionRemindersTest` (in fact this is what I've been using when trying the different email services), and this is not automated (i.e a manual check needs to be done to make sure that the emails are sent).
As for (2), I'm well aware of that (in fact I already specifically men

[2016-07-08 14:09] #5791 closed

[2016-07-08 14:10] YongJieYongJie commented on #5684
@belyabl9 Yup, I think we can remove them since edit is intuitive and discard changes actually has a confirmation prompt

[2016-07-08 14:12] belyabl9 commented on #5684
@YongJieYongJie , ok, just wanted to confirm in order not to do it via 3 different issues ;)

[2016-07-09 01:14] YongJieYongJie opened #5809 "Standardize suffixes in InstructorFeedbackEditPage"
Currently many different suffixes are used for the newly added question, including `...New`, `...--1`, `...` (nothing). This results in quite a bit of unnecessary complexities.

related issue: #5802

[2016-07-09 03:48] #4451 closed

[2016-07-09 06:31] tarun14110 opened #5810 "change pointer on mouse over on question types while adding new question."

[2016-07-09 06:46] #5796 closed

[2016-07-09 07:39] tarun14110 commented on #4939
@damithc I have looked over the code. We are clearly only taking non-private sessions for sending emails. It can happen only at the time of sending email the session is non-private.

[2016-07-09 08:16] damithc commented on #4939
Thanks for checking @tarun14110 . Do we have a test to ensure private sessions do not send emails?

[2016-07-09 09:19] tarun14110 commented on #4939
Not for all emails. We have test for `private sessions` only for `closing reminder` email. We have to add tests for opening and publishing emails also. Should I do that ?

[2016-07-09 10:56] damithc commented on #4939
@wkurniawan07 what do you think? Is it worth the effort?

[2016-07-09 12:07] damithc commented on #5675
@tarun14110 can you take this up?

[2016-07-09 12:10] damithc commented on #5539
@wkurniawan07 this should be closed, right?

[2016-07-09 12:11] damithc commented on #4676
Closing. There is a duplicate for this issue.

[2016-07-09 12:11] #4676 closed

[2016-07-09 12:13] damithc commented on #4303
Closing as there were no recurrence.

[2016-07-09 12:13] #4303 closed

[2016-07-09 12:14] damithc commented on #4219
No recurrence in the past few months. Closing.

[2016-07-09 12:14] #4219 closed

[2016-07-09 12:16] damithc commented on #5675
Sorry, didn't realize you are working on this already.

[2016-07-09 14:10] chowyb commented on #5539
@damithc the merged PR referencing this issue is on the contributor's own fork, and not on our repository. The issue is still not fixed yet.

[2016-07-09 14:28] damithc commented on #1237
Very old issue. closing.

[2016-07-09 14:28] #1237 closed

[2016-07-09 14:38] damithc commented on #3158
Too old. closing.

[2016-07-09 14:38] #3158 closed

[2016-07-09 14:39] damithc commented on #3042
Too old. Closing.

[2016-07-09 14:39] #3042 closed

[2016-07-09 14:40] damithc commented on #3020
Probably fixed now. No reports from users.

[2016-07-09 14:40] #3020 closed

[2016-07-09 14:41] damithc commented on #2983
Old issue. closing.

[2016-07-09 14:42] damithc commented on #2940
No recent recurrences. Closing.

[2016-07-09 14:42] #2940 closed

[2016-07-09 14:42] damithc commented on #2826
Being handled by @JosephineKwa under 'custom feedback paths' feature.

[2016-07-09 14:42] #2826 closed

[2016-07-09 14:43] damithc commented on #2749
Old issue. closing.

[2016-07-09 14:43] #2749 closed

[2016-07-09 14:46] damithc commented on #2321
Old issue. closing.

[2016-07-09 14:46] #2321 closed

[2016-07-09 14:48] damithc commented on #1751
Old issue. closing.

[2016-07-09 14:48] #1751 closed

[2016-07-09 14:53] damithc commented on #5539
I see. It's a high priority issue. Can submit a quick fix?

[2016-07-09 15:56] damithc commented on #3678
Duplicate issue.

[2016-07-09 15:56] #3678 closed

[2016-07-09 15:57] damithc commented on #3648
@kanghj is the list sorted now?

[2016-07-09 16:00] damithc commented on #3436
@YongJieYongJie this issue must be fixed now, am I right?

[2016-07-09 16:02] #3360 closed

[2016-07-09 16:05] wkurniawan07 commented on #4939
I believe this issue can be closed. The said tests are already present in `EmailGeneratorTest`, starting from line 160:
[code]

[2016-07-09 16:07] #4939 closed

[2016-07-10 04:08] #5539 closed

[2016-07-10 07:21] #5748 closed

[2016-07-10 07:35] wkurniawan07 opened #5814 "Release V5.83"

[2016-07-10 07:36] wkurniawan07 opened #5815 "Update about.jsp with contributors from V5.83"

[2016-07-10 08:21] #5249 closed

[2016-07-11 06:54] #5756 closed

[2016-07-11 07:30] #5735 closed

[2016-07-11 08:43] #5815 closed

[2016-07-11 08:54] JosephineKwa opened #5821 "Visibility preview not shown immediately after a new question is added"
This is what the visibility preview looks like immediately after a new question is added:
![vp](https://cloud.githubusercontent.com/assets/9999077/16725008/efad2626-4787-11e6-94a7-48b9a2ee57cc.PNG)
It only gets updated if the "Preview Visibility" button is clicked.

[2016-07-11 09:50] wkurniawan07 opened #5822 "Add version number to ESLint"
Unlike the other static analysis tools which are versioned (e.g Checkstyle 6.19, PMD 5.4.1), the current routine (Travis/local) does not specify the upper bound of version number for ESLint, which may result in breaking change sooner or later.

[2016-07-11 10:07] wkurniawan07 commented on #5814
Release 223

Code Contributions from: @kanghj, @JosephineKwa, @bamboo3250, @rclakmal, @mariasam1, @belyabl9, @tarun14110, @wkurniawan07, @YongJieYongJie, @chowyb
Review Contributions from: @damithc, @kanghj, @JosephineKwa, @wkurniawan07, @YongJieYongJie, @chowyb

Sprint Velocity: 24 hrs (code) + 14 hrs (review) = 38 hrs (total)

[2016-07-11 10:31] wkurniawan07 opened #5824 "Release V5.84"

[2016-07-11 10:32] wkurniawan07 opened #5825 "Update about.jsp with contributors from V5.85"

[2016-07-11 10:35] wkurniawan07 commented on #1590
Pretty sure `InstructorCourseDetailsPageUiTest` has already included this.

[2016-07-11 10:35] #1590 closed

[2016-07-11 15:53] damithc commented on #5821
Is this a recent bug already in production (i.e. V5.82 or before?)

[2016-07-12 02:05] kanghj commented on #5821
It's already in production in V5.81. @YongJieYongJie

[2016-07-12 02:12] damithc commented on #5821
Oops.  Better fix it fast. We can do a release as soon as it's fixed. As
always, add a failing test first.

--
Sent from a mobile device.

[2016-07-12 04:35] wkurniawan07 commented on #5821
Our good old friend #5671 is the cause once again. @YongJieYongJie

[2016-07-12 04:40] #5822 closed

[2016-07-12 08:21] damithc opened #5827 "AdminHomePageUiTest failing on live server"
failing at V5.83

[code]

[2016-07-12 08:21] damithc commented on #4797
Failed at V5.83

[2016-07-12 08:24] damithc commented on #5738
I did get some of the emails during V5.83 testing.

[2016-07-12 08:25] damithc commented on #4157
did not fail at V5.83. Actually, as other times, failed initially and passed when run on its own.

[2016-07-12 08:29] damithc commented on #5814
Deployed.

[2016-07-12 08:29] #5814 closed

[2016-07-12 15:56] #5771 closed

[2016-07-13 05:18] chowyb opened #5828 "Standardise visibility naming in UI for comments"
Currently, the naming of the visibility options to the user is not standardised. Consider the following screenshots of a feedback response comment and a student comment respectively:

![fsc](https://cloud.githubusercontent.com/assets/7546744/16792503/899de864-48fb-11e6-8bf5-9e84070f6ecb.png)
![sc](https://cloud.githubusercontent.com/assets/7546744/16792505/89e6a37e-48fb-11e6-8217-e4b51cf70742.png)

[2016-07-13 06:06] wkurniawan07 opened #5829 "Upgrade Selenium to 2.53.0"
The last update was more than a year ago. This version of Selenium has many fixes (7 minor versions worth) and also supports Firefox up to version 46.0 (it still supports 38.0.5 as well so current devs don't need to upgrade if they don't want to).
There is version 2.53.1 but no Java update is made on that patch version.

[2016-07-13 06:28] belyabl9 opened #5830 "Rich-text support for comments and response text"
$subj

[2016-07-13 07:34] kanghj commented on #4577
This can't be done on the current feedbackQuestion's id. It can be done when we do a migration for #5505 though, where we can use a human readable id instead. What information should be included in the id?

[2016-07-13 07:40] chowyb opened #5832 "Typo in enableJS.jsp: conformation"
In `src/main/webapp/enableJS.jsp`, there is the following line under the section to enable JavaScript in Internet Explorer:

`<li>Answer yes to the following conformation box.</li>`

"conformation" should be "confirmation" instead.

[2016-07-13 07:51] kanghj opened #5833 "verifyPresentInDatastore should not modify parameters"
In BaseComponentTestCase, `verifyPresentInDatastore` is modifying its parameters. The parameters are again used in other methods in various test cases, this makes debugging test failures difficult.

[2016-07-13 08:31] kanghj opened #5835 "Utility method for converting List<FeedbackQuestions> to List<FeedbackQuestionAttributes>"
In FeedbackQuestionsDb, there is some duplicate code for converting a list of FeedbackQuestion to a list of FeedbackQuestionAttributes.

[2016-07-13 10:14] kanghj opened #5837 "getFeedbackSessionEntity should use lookup by key"
If `feedbackSessionId` always used the same format `feedbackSessionName%courseId`, we should be able to lookup the FeedbackSession by key instead of using a query.  This has the added benefit of not retrieving an older version of the entity, important for #5505 to make it easier to debug in future.

[2016-07-13 11:22] damithc commented on #4577
I see. Sure, there's no hurry. May be a time stamp?

[2016-07-14 00:53] #5576 closed

[2016-07-14 00:59] damithc commented on #4651
Same error, different action.
[code]

[2016-07-14 02:23] #5314 closed

[2016-07-14 03:24] kanghj opened #5839 "New Question entity"
To enable #5505, we need to migrate FeedbackQuestions to a new entity type. This will be the start of a long-lived feature branch and I will make further issues for this branch.

At the end of this branch, the code should be able to support both question types. A migration script should then be prepared next, and the support for the old question type removed.  We will have to deploy the code suppo

[2016-07-14 04:20] chowyb opened #5840 "Editing instructor's email does not cascade change to "last edited" email in comments"
As per title, when an instructor's email is changed, the change is reflected in the giver email of comments, but not the last edited email of comments. This is unlikely to cause any errors on its own, but will need to be fixed so that a fix for #4522 (which should cover "last edited by" as well) will function correctly.

This may also require fixing of inconsistent data (eg. email referring to a n

[2016-07-14 04:34] YongJieYongJie commented on #3436
@damithc Now that `FieldValidator` is slightly tidier, we can rephrase the error message to avoid such problems, something like:

"|" is not acceptable to TEAMMATES as a/an team name because it starts with a non-alphanumeric character. Every team name must start with an alphanumeric character, and cannot contain any vertical bar (|) or percent sign (%).

[2016-07-14 04:44] kanghj commented on #4651
Do we know what question type and which student caused this error?

[2016-07-14 05:57] kanghj opened #5844 "Add courseId and feedbackSessionName input fields to InstructorFeedbackQuestionCopy modal"
For #5839. The new question type cannot be identified without its feedback session

[2016-07-14 06:04] damithc commented on #4651
Yes, I have that info. Post here?

[2016-07-14 06:05] damithc commented on #3436
Sure, we should improve the error message if we can.

[2016-07-14 07:17] #5684 closed

[2016-07-14 07:22] kanghj commented on #4651
Did the student manage to save the response in the end? From the logs, do we know if the student submitted the session multiple times quickly?

[2016-07-14 08:06] damithc commented on #4651
Yes, it looks like the student submitted a few times in rapid succession.

![image](https://cloud.githubusercontent.com/assets/1673303/16832472/ed6220cc-49dc-11e6-8d86-4243851fd8b2.png)

[2016-07-14 08:55] #5835 closed

[2016-07-14 14:45] #5833 closed

[2016-07-14 19:59] tarun14110 commented on #3659
It was solved is some of the PR.
![screenshot from 2016-07-15 01 27 56](https://cloud.githubusercontent.com/assets/12219700/16853759/6c1098d8-4a2b-11e6-9b56-424e5ad2f509.png)

[2016-07-14 22:05] tarun14110 commented on #3659
Found the issue. The below UI is, when there is question for students, but the specific students don't have that recipient ex- Reciepent is `Team members` and student don't have any team memberas described in #3661.
![screenshot from 2016-07-15 03 30 23](https://cloud.githubusercontent.com/assets/12219700/16857393/094c725a-4a3d-11e6-99e6-7c8b1d7ee38d.png)

[2016-07-15 00:30] #5784 closed

[2016-07-15 02:21] chowyb commented on #5805
Note: resolving this issue might also fix #1059 as well

[2016-07-15 02:35] chowyb opened #5847 "Rubrics questions: change suffix to be consistent with other questions"
For rubrics questions, the usual suffix is in the form `{question number}-{row}-{column}`, which is inconsistent with other question types (eg. `{row}-{question number}` for MCQs, MSQs, constSum). This should be changed to a form that is more consistent with other question types, such as the form `{row}-{column}-{question number}`.

[2016-07-15 03:09] #5821 closed

[2016-07-15 06:57] Naruto8 commented on #5832
This is my first time, so sorry if I make a mistake. I have fixed the typo and sent a pull request. So, let me know whether what I did was right. This would be great motivation for me. Thanks!!

[2016-07-15 07:20] chowyb commented on #5832
Hi @Naruto8,

I have commented on your previous pull request. You will need to open a new one with the correct naming (branch and pull request) to continue, everything else looks fine though :)

[2016-07-15 07:49] JosephineKwa commented on #1059
@damithc  should I add `Fixes #1059` to PR #5820 as well? However that PR does not remove the feedback path mentioned in this issue, i.e. "Instructors" to "Other teams", as it is a valid feedback path.

[2016-07-15 08:04] damithc commented on #1059
I think this issue is about the suitability of the phrasing rather than the validity of the path. So this can remain open.

[2016-07-15 08:41] kanghj opened #5851 "MashupPageUiTest is failing"
... at classSetup

[2016-07-15 12:13] #5655 closed

[2016-07-15 12:15] #5810 closed

[2016-07-15 14:08] damithc commented on #5851
How come we have 'build passing' in travis? The test is omitted on travis?

[2016-07-15 14:15] kanghj commented on #5851
Yeah, mashup is under local tests which is excluded from travis

[2016-07-16 16:55] #5696 closed

[2016-07-16 18:19] #5779 closed

[2016-07-17 06:55] Gisonrg opened #5856 "Change nationality field in student profile page to dropdown list"
Currently there is no validation checking for the entered nationality. The student could write anything that is not a nationality :P
I am thinking about whether we can just replace it with a dropdown list. Here is an [example](https://gist.github.com/didats/8154290).

[2016-07-17 09:09] #5742 closed

[2016-07-17 09:10] wkurniawan07 commented on #5825
No new contributor for V5.85.

[2016-07-17 10:37] #5851 closed

[2016-07-17 16:44] #5829 closed

[2016-07-17 17:01] wkurniawan07 commented on #5824
Release 224

Code Contributions from: @kanghj, @rclakmal, @belyabl9, @tarun14110, @wkurniawan07, @YongJieYongJie
Review Contributions from: @damithc, @kanghj, @JosephineKwa, @wkurniawan07, @YongJieYongJie, @chowyb

Sprint Velocity: 29 hrs (code) + 19 hrs (review) = 48 hrs (total)

[2016-07-17 17:02] wkurniawan07 opened #5857 "Release V5.85"

[2016-07-17 21:14] rclakmal commented on #5630
Closed with #5779

[2016-07-17 21:14] #5630 closed

[2016-07-17 21:35] rclakmal opened #5859 "Richer set of filter functionalities is needed for Session Results Download"
Currently, we have a 'search by question text' as a filter.

![snip20160717_23](https://cloud.githubusercontent.com/assets/794011/16903148/f6c168f8-4c75-11e6-9da8-4e4b2062bec3.png)

The idea of this item is to introduce an extra filter panel (similar to student filter panel) where we can filter by
1. Question
2. Receiver
3. Giver

Student filter panel
![snip20160717_24](https://cloud.githubusercon

[2016-07-18 01:12] damithc commented on #5859
We can actually start this as a new `Reports` feature.  i.e. separate tab
We can add these features incrementally.
1. Filter by question (same session)
2. Filter by question (multiple sessions from same course)
3. Filter by giver/receiver

[2016-07-18 02:41] #5844 closed

[2016-07-18 04:36] chowyb commented on #3046
@damithc As discussed, I'll begin trying out this issue to see which approach works best.

@JosephineKwa this is the issue I was referring to, hopefully it won't conflict too much with your feature ><

[2016-07-18 04:53] #5596 closed

[2016-07-18 06:00] tarun14110 commented on #3661
@damithc We also want to do like this for other recipients also ? Like, Feedback about `Other teams in the course` and there is only 1 Team. Feedback for  `Other students in the course` and there is only single student (may be this won't happen) ?

[2016-07-18 06:14] damithc commented on #3661
Yes, that would be good. Can do in the same PR or as separate PRs.

[2016-07-18 06:42] damithc opened #5860 "Make tool tip text decoration more subtle"
The current one is black dashes. May be gray dots will be more subtle? Not sure if it is possible though.

[2016-07-18 07:18] chowyb commented on #5860
Would this work? The colour of the dots below is the same as the current dashes.
![dotted](https://cloud.githubusercontent.com/assets/7546744/16907981/7adf4fc2-4cfa-11e6-860d-619c438f270b.png)

It could be made lighter as well:
![dotted2](https://cloud.githubusercontent.com/assets/7546744/16908021/bdfd0326-4cfa-11e6-8faf-c1d8837d9e42.png)

[2016-07-18 07:30] kanghj opened #5861 "Instructor: clarify access control for moderating responses is same as permission for modifying comments"
The permission for an instructor to modify a student's response is currently the permission for modifying comments. Since this may not be very intuitive, we can either add a new permission for it, or document it  in instructorHelp or provide an explanation in `instructorCourseEditPage` .

[2016-07-18 07:37] damithc opened #5862 "Some emails still carrying the old link description"
Here's an example:
![image](https://cloud.githubusercontent.com/assets/1673303/16908369/7eb88746-4cfd-11e6-9f4b-fa67dd294d78.png)
It should be like this instead.
![image](https://cloud.githubusercontent.com/assets/1673303/16908380/9316d724-4cfd-11e6-8807-9531b670a355.png)

[2016-07-18 09:13] damithc opened #5866 "AdminHomePageUiTest: fix failure against live server"
Happened during live server testing. Confirmed after multiple runs.

[code]

[2016-07-18 09:14] damithc commented on #5866
I'm using FF 46

[2016-07-18 09:16] damithc commented on #5860
Yes, that looks more subtle. And yes, color can remain the same.

[2016-07-18 09:17] damithc commented on #5862
Whoever did the recent related issue can take this one too?

[2016-07-18 09:32] wkurniawan07 commented on #5866
Hmmmm how does this cause Firefox to crash? It looks like just an assertion error (not that it's not a problem).

[2016-07-18 09:48] damithc commented on #5866
Also happened for StudentFeedbackSubmitPageUiTest. Seems to be non-deterministic. Switching to FF 38 to see if that helps.

[2016-07-18 09:50] damithc commented on #5866
In both tests that caused the FF crash, the join page is involved though.

[2016-07-18 09:53] damithc opened #5867 "StudentFeedbackSubmitPageUiTest failing on live server"
Failing at V5.84 after a few tries.
[code]

[2016-07-18 09:59] damithc commented on #5866
No more FF crash when using FF 38. But the test still fail (looks like it's a timing issue; creating an instructor takes a very long time on the live server).
I'll open a separate issue for FF 46 crash.

[2016-07-18 10:01] damithc opened #5868 "Random Firefox crash when using FF 46 for testing"
Happened when testing AdminHomePageUiTest and StudentFeedbackSubmitPageUiTest.
Not always reproducible.
V4.84, FF 46, on Win7

[2016-07-18 10:12] damithc opened #5869 "InstructorFeedbackEditPageUiTest failing on live server"
Failing at V5.84
[code]

[2016-07-18 10:24] damithc commented on #4797
Failed at V5.84

[2016-07-18 10:31] damithc opened #5870 "Error during live server testing: Array index out of bounds"
Caused by a test case. Not sure which one though.

[code]

[2016-07-18 10:37] damithc opened #5871 "Make 'question description' text box taller and add a placeholder text"
It's better if the 'description' text box is resizeable just like the text box above it.
![image](https://cloud.githubusercontent.com/assets/1673303/16912437/b4885e96-4d16-11e6-935a-61556fc1c245.png)

[2016-07-18 10:43] damithc commented on #5871
@belyabl9 can have a go at this one?
While you are at it, we can make the height of the first text box about 2 lines and the height of the description text box about 4 lines (a visual hint that the question should be short and the description can be longer).
We can also add placeholder text to both text boxes.
Question: `A concise version of the question e.g. "How well did the team member communic

[2016-07-18 11:04] belyabl9 commented on #5871
@damithc , ok, I'll do these changes

[2016-07-18 11:09] belyabl9 commented on #5870
I'll fix it.
I've already observed and fixed it within the other issue, but it'd be quicker to do it in this separate issue

The issue is due to array length was checked in EL by the last possible index instead of fn:length call

[2016-07-18 11:24] damithc commented on #5871
Just realizes the text box auto-resizes based on content size, so there is no need to make it specifically resizeable. But you can still do the other enhancements suggested.

[2016-07-18 12:07] damithc commented on #5824
Deployed.

[2016-07-18 12:07] #5824 closed

[2016-07-19 02:46] wkurniawan07 opened #5873 "Long test account IDs will fail some specific tests"
#4372 appears once again, although the reason is now different. Now it's due to the tooltip presence: if the name is truncated, tooltip is present, but not otherwise. However there is no such certainty for the test accounts. Introduced in #5761.
The only way I can think of to solve this is either to tooltip or not to tooltip the account IDs regardless of length. I tend towards not to tooltip becau

[2016-07-19 02:48] #5828 closed

[2016-07-19 05:30] tarun14110 commented on #5862
@damithc can you please recheck, that those emails are not from previous version ? I had checked, seems it can't happen. We even don't have any string `The student's unique submission url appears here`.

[2016-07-19 07:02] wkurniawan07 opened #5876 "Add timezone libraries and test to make sure they are in sync"
moment.js 2.14.1 with moment-timezone.js 0.5.4 and joda-time 2.9.4 (all latest when this is written, checked in npm registry and maven repository) are synced in terms of timezone listing (even down to the casing/spacing, how awesome is that). That means we can pass timezone informations from/to front-end/back-end with relative ease.

This should be the first preparatory step for #4812 and subseque

[2016-07-19 08:15] tarun14110 commented on #3705
We are using template to generate options. So all the options are independent of each other.
So, I am not able to group all labels and find out a way to automatically increase the width of all the labels, whenever we have even a single large option. @YongJieYongJie Can you help me with this ?

@damithc Can we just increase the width of labels.
For long options
![screenshot from 2016-07-19 13 31 17

[2016-07-19 09:27] damithc commented on #5862
Yes it is possible that emails were triggered by the previous version while I was testing the new version. We'll KIV this until we find more evidence of this.

[2016-07-19 09:32] #5876 closed

[2016-07-19 10:04] #5867 closed

[2016-07-19 15:22] damithc opened #5879 "Update user map for June 2016"
Similar to #5158
Here's the list.

[code]

[2016-07-20 02:08] #5860 closed

[2016-07-20 03:22] #5873 closed

[2016-07-20 04:50] wkurniawan07 opened #5881 "Add package.json listing front-end dependencies of the application"
`package.json` is used by Node.js developers as package information (to publish packages to the npm registry). Among its features is dependency management, which is the only thing that will be touched in this PR. This does not necessitate anyone to have Node.js installed, but anyone with Node.js can:
- Make use of that to download the entire package of dependencies and subsequently learn the sourc

[2016-07-20 06:56] #5840 closed

[2016-07-20 07:17] rclakmal commented on #5859
@damithc for the same session filters (such as Filter By Question) wouldn't it make sense to have them in the current `instructorFeedbackResultsPage` view rather than in a new tab.

[2016-07-20 07:37] rclakmal opened #5882 "Questions should have their own statusMessage panel instead of a common one"
Say you are in a feed back session edit view with multiple questions. You are editing a question at the bottom and you make a form validation error. You are taken to the top of the page to show the status message after which you have to scroll down all the way again. This is bad UX.

Each question panel should contain its own status bar.

![snip20160720_27](https://cloud.githubusercontent.com/asse

[2016-07-20 07:45] damithc commented on #5859
This new feature is actually a 'custom report' feature that is mainly for creating cross-session results. e.g.  Might as well keep it in a separate tab rather than cram more things into the a session's results page which can never go beyond a single session. Keeping it separate reduces the risk of breaking the results page that is vital to all users. It will take a few years before the custom repo

[2016-07-20 08:05] #5870 closed

[2016-07-20 08:34] chowyb opened #5884 "Student comments no longer appear after unchecking and rechecking "Show Comments From""
In InstructorCommentsPage, after unchecking all checkboxes under "Show More Options -> Show Comments From", either by using the "All" checkbox or manually unchecking them one by one, and rechecking them, student comments will no longer appear on the page, and requires a refresh for the comments to appear again.

[2016-07-20 08:39] kanghj commented on #5859
If we extend or reuse `instructorFeedbackResultsPage` for this new page, it should be relatively smaller to get that new feature functional.
For the filtering on the backend, it shouldn't be hard to filter based on any of questions/sections/givers/receivers since responses are indexed on those fields.

[2016-07-20 08:52] kanghj opened #5885 "Migration of existing FeedbackQuestions to new question type"
Part of #5505 and #5839, #5839 introduced a new question entity and support of both question types in the code. We need to retire the old question type and before we do that, we have to migrate existing feedback questions to the new question type. #5842 requires this to be done before merging to minimize the period of time where both entities co-exist.

[2016-07-20 09:25] #5582 closed

[2016-07-20 10:20] belyabl9 commented on #5871
@damithc , may these proposed placeholder text variants be used without changes ? Let's choose them before the PR in order not to regenerate static tests some times.
Q: "A concise version of the question e.g. "How well did the team member communicate?"
D: "More details about the question e.g. "What criteria to consider when answering the question""

The issue is delayed, because TinyMCE does not h

[2016-07-20 10:24] damithc commented on #5871
@YongJieYongJie any input on the phrasing of placeholder text?

[2016-07-20 15:09] hshahid opened #5889 "New Contributor Self Intro [Hashma Shahid]"
**URLs to my fork and teammates app:**

**My fork:** https://github.com/hshahid/teammates
**My app:** http://v4-dot-teammates-divya.appspot.com/

**Changes:**
I added a form to the 'Contact Us' page to make it easier and smoother for a user to send an email to the Teammates team.
**Before:**
<img width="887" alt="screen shot 2016-07-20 at 7 23 05 pm" src="https://cloud.githubusercontent.com/assets

[2016-07-21 03:44] kanghj opened #5891 "Remove finishRequest in Datastore.java"
It is unused

[2016-07-21 05:24] #5869 closed

[2016-07-21 06:10] #5805 closed

[2016-07-21 07:14] #5832 closed

[2016-07-21 07:47] kanghj opened #5894 "Unable to add new questions on Chrome"
On submitting the form for creating a new question, the button displays 'Saving' and gets disabled, but the form is not submitted.

Edit: Chrome 51.0.2704.103 m (64-bit)

[2016-07-21 09:19] damithc commented on #5894
This bug is not in production, right?

[2016-07-21 09:21] kanghj commented on #5894
Not yet, the cause of this should be a recent PR (#5858). @rclakmal, can you take look at this issue?

[2016-07-21 09:55] chowyb commented on #5894
Early question, but how do we write a test for this issue? Our standard way of using Firefox won't work here.

[2016-07-21 09:56] kanghj commented on #5894
Maybe we can't write a test in this issue, I guess. @wkurniawan07, with the latest selenium upgrade, are we able to enable testing using Chrome again?

[2016-07-21 11:35] rclakmal commented on #5894
I am looking in to this.

[2016-07-21 11:44] rclakmal commented on #5894
Found the [cause](http://stackoverflow.com/questions/20157321/disabling-a-submit-button-when-clicking-on-it-will-prevent-the-form-from-being). Will look for a suitable solution

[2016-07-21 12:09] damithc opened #5897 "Search result highlighting doesn't work if the words are not in order"
![image](https://cloud.githubusercontent.com/assets/1673303/17022168/f0c5b966-4f7e-11e6-997c-740623209323.png)
![image](https://cloud.githubusercontent.com/assets/1673303/17022175/044f59ce-4f7f-11e6-8f64-f8a640fc97cb.png)

[2016-07-21 12:11] damithc commented on #5897
@tarun14110 can have a look? I believe you have some experience with this feature.

[2016-07-21 12:39] rclakmal opened #5898 "The excel download of feedback session results should include session introductions"
The session introduction supports rich text formatting. Idea of this issue is to experiment around how we can include session introduction segment along with text formatting to the excel download.

[2016-07-21 15:56] wkurniawan07 commented on #5894
@kanghj I'm positive it can because the major issue is the `element.click()` which is fixed. There might be more fixes needed, I'll be looking into it.

[2016-07-21 16:02] wkurniawan07 commented on #5889
Welcome to the TEAMMATES contributors community, @hshahid!
Good job on setting up the project and deploying to a staging server! Your forked app's "contact us" page does not seem to reflect what is seen on the screenshot above, though.
You can start contributing by working for issues marked `d.FirstTimers` (but do not do more than one of these), continuing with issues marked `d.Contributors`. Look

[2016-07-21 17:10] #5881 closed

[2016-07-22 03:24] damithc opened #5901 "Instructor edit course: Show 'Not joined yet' for instructors yet to join"
We can show `Google ID: Not available. Instructor is yet to join this course` in the place indicated. We can use the 'warning' color for the text.
![image](https://cloud.githubusercontent.com/assets/1673303/17045743/c9aef1dc-4ffe-11e6-8e14-67df1f99c568.png)

[2016-07-22 06:44] #5599 closed

[2016-07-23 00:08] #5809 closed

[2016-07-23 06:25] #5894 closed

[2016-07-23 06:46] #3661 closed

[2016-07-23 06:54] #4153 closed

[2016-07-23 07:57] #5884 closed

[2016-07-23 18:32] rclakmal commented on #5695
@YongJieYongJie is this` //TODO `still open ? Couldn't find it in the task view.
What would be the expected size of increment (30 mins of 15mins) and thinking differently, would it make sense to include a time picker ? @damithc

[2016-07-23 19:00] rclakmal commented on #4103
I think we can close this now with [5594](https://github.com/TEAMMATES/teammates/pull/5594)

[2016-07-23 19:22] rclakmal commented on #3431
@kanghj @damithc Would like to try this out. What exactly is the current logic. As per the code it looks like if either recipient section or giver section is restricted, instructor is not allowed to see the feedback. Right ?

`boolean isNotAllowedForInstructor = isGiverSectionRestricted || isRecipientSectionRestricted;`

[2016-07-23 19:48] rclakmal commented on #3648
@damithc @kanghj I added a PR for this.

[2016-07-23 20:30] tarun14110 commented on #5577
Which emails we want to resend to new email ?
I think resending `FeedbackSessionOpeningEmail`, if session is opened and `FeedbackSessionPublishedEmail` if session is published are enough ?

[2016-07-23 22:37] g2mark opened #5907 "BACKDOOR STATUS FAILURE when running local tests."
Getting this message upon running Local tests after starting dev server:

localhost:8888/backdoor gives:

[2016-07-24 01:50] damithc commented on #5577
Yes, in fact can we sent one email with a list of all relevant links from the course?

[2016-07-24 01:51] damithc commented on #5695
Let's not do this right now as there are some changes being done to times handling on another front (i.e. daylight saving time). This feature is low priority anyway.

[2016-07-24 01:53] damithc commented on #5907
Are you able to access dev server using a browser?

[2016-07-24 04:01] g2mark commented on #5907
Yes localhost:8888 does give me the page

[2016-07-24 06:31] #5825 closed

[2016-07-24 06:53] wkurniawan07 commented on #5857
Release 225

Code Contributions from: @kanghj, @JosephineKwa, @rclakmal, @NWuensche, @Naruto8, @belyabl9, @tarun14110, @wkurniawan07, @YongJieYongJie, @chowyb
Review Contributions from: @damithc, @kanghj, @JosephineKwa, @wkurniawan07, @YongJieYongJie, @chowyb

Sprint Velocity: 31 hrs (code) + 22 hrs (review) = 53 hrs (total)

[2016-07-24 06:58] wkurniawan07 commented on #5907
Hi @g2mark, accessing `localhost:8888/backdoor` on its own without passing any parameters is expected to give that server error message (although I have to admit the error message is misleading). Can you identify which test gives that assertion error?

[2016-07-24 08:49] tarun14110 commented on #5577
@damithc I thought that, it will help customize the email. But we have only atmost 2 relevent links for the course i.e SessionSubmissionLink and viewPublishedSessionLink , correct me if I am wrong ? Is it worth creating a new email for this ? We can  add some fragments to the existing email if we want to add some info? Or adding new Email is also a good idea if we need to add some additional conte

[2016-07-24 14:14] damithc commented on #5577
It may be more than two links. For example, a student found out he missed all previous sessions because emails have been going to the wrong email address. Another example is when a student loses an email account (e.g. due to hacking) and wants to access past sessions. I think it is ok to create a separate email template for this. When all emails look the same, users tend to ignore them thinking th

[2016-07-24 15:46] tarun14110 commented on #5577
yeah, got that. It will be good to have different email.

[2016-07-25 00:55] g2mark commented on #5907
<img width="1038" alt="screen shot 2016-07-24 at 8 54 04 pm" src="https://cloud.githubusercontent.com/assets/4411302/17087871/f2811976-51e0-11e6-8df7-e0ff8f93b658.png">

[2016-07-25 01:08] chowyb commented on #5907
@g2mark the error above is likely from an older version, as this problem has been fixed in #5852. Pulling the latest version, and running `gradlew.bat resetEclipseDeps` from the command line should resolve the issue.

[2016-07-25 01:20] g2mark commented on #5907
Thank you!

[2016-07-25 01:20] #5907 closed

[2016-07-25 01:53] g2mark opened #5910 "Travis tests not passing even on multiple retries"
I followed the instructions to retry the Travis tests if they aren't working due to timing issues, but after 4-5 times i still get these 17 failures.  Should i keep trying?

<img width="1041" alt="screen shot 2016-07-24 at 9 50 43 pm" src="https://cloud.githubusercontent.com/assets/4411302/17088437/e768d8d2-51e8-11e6-8d7a-514d1781aea2.png">

[2016-07-25 03:19] chowyb commented on #5910
@g2mark is it possible to show a screenshot of what the difference between expected and actual output is? You can double click on the "AssertionError" on the right to bring up the comparison window.

[2016-07-25 03:23] g2mark commented on #5910
<img width="1407" alt="screen shot 2016-07-24 at 11 23 35 pm" src="https://cloud.githubusercontent.com/assets/4411302/17089530/b1b84d50-51f5-11e6-9563-622488782259.png">

[2016-07-25 03:29] chowyb commented on #5910
@g2mark this may be a strange question to ask, but are you using JDK 7?

[2016-07-25 04:27] g2mark commented on #5910
@chowyb Ah after investigating I see what happened.  I did set Eclipse to use 7 but the project still had 8 in its build path for some reason and was using it.  I changed it and every test passed except this one:

<img width="1400" alt="screen shot 2016-07-25 at 12 25 45 am" src="https://cloud.githubusercontent.com/assets/4411302/17090445/829cc862-51fe-11e6-9859-0797e04509c1.png">

[2016-07-25 04:41] chowyb commented on #5910
@g2mark it might have to do with your mouse hovering over the browser while the test is running, causing buttons to appear where they normally wouldn't (since they appear on hover). You might have to move the mouse to a location where it won't be in the browser window (maybe at the top of the screen?)

[2016-07-25 04:59] damithc commented on #5910
@chowyb thanks for helping @g2mark to troubleshoot the setup :+1:

[2016-07-25 06:52] kanghj opened #5911 "instructorFeedbackResultsPage: "Collapse students" button does not work correctly when not grouped by question"
On a non-question view like 'Giver > Recipient > Question', and when the students are not grouped by teams, the "Collapse Students" button does not work correctly on participants who have not responded (the grey panels). The cause of this is code duplication in `instructorFeedbackResults.js` and the js files for ajax loading.

[2016-07-25 08:47] belyabl9 commented on #5911
I'll fix it

[2016-07-25 10:20] belyabl9 opened #5915 "Add image upload support for rich-text editors"
Rich-text support was added throughout the web-interface, but image upload support wasn't implemented. So, it would be great to implement a solution that can be re-used in all the places with rich-text support.

[2016-07-25 11:14] #5606 closed

[2016-07-25 13:38] rclakmal commented on #5859
@damithc @kanghj Had a rough look at the feasibility of both features suggested (modal dialog for filtering within a single session and extending IFRP class to come up with a new page). Second work item looks to be bigger than the first. Which one I should focus on implementing ?

[2016-07-25 14:02] YongJieYongJie commented on #5871
The placeholder text reads fine, except that the example for the description is not really an example. Perhaps we can use something like "More details about the question e.g. `What criteria to consider when answering the question e.g. "In answering the question, do consider communications made informally within the team, and formal communications with the instructors and tutors.`

[2016-07-25 19:00] g2mark commented on #5910
Yes all good!  Thanks @chowyb

[2016-07-25 19:00] #5910 closed

[2016-07-26 02:19] YongJieYongJie commented on #3705
@tarun
I think the problem with the above approach is that the elements may not be aligned to the left when labels are short.

If we want to keep the elements left aligned, keep input boxes aligned and make full use of empty spaces before wrapping line, we can try using flexbox instead of the `col-md-2` that we are currently using for the labels.

https://css-tricks.com/snippets/css/a-guide-to-fle

[2016-07-26 02:48] YongJieYongJie opened #5921 "Remove orphaned comment in FeedbackQuestionEditForm.java"
the header comments before the method `getQuestionIndex()` is obsolete and can be removed

[code]

[2016-07-26 04:52] chowyb opened #5922 "Instructor Home Page: Sorting by date does not take year into account"
On the instructor home page, when sorting session by "Start Date" and "End Date", the year is not taken into account, and as such, "01 Mar 2016" is taken to be an earlier date than "01 Apr 2012" (as an example).

[2016-07-26 05:20] #4456 closed

[2016-07-26 09:12] chowyb opened #5923 "Instructor Student List Page: Properly display sanitised text for Section Filter"
Sanitised text does not appear properly under the "Sections" part of "Filter Students".
![sectionsanitise](https://cloud.githubusercontent.com/assets/7546744/17132334/ddddd67a-5353-11e6-981d-5faae4620ca5.png)

[2016-07-26 12:17] kanghj commented on #5859
@damithc, ping on this.

[2016-07-26 14:11] damithc commented on #5859
It's fine to do the smaller one and leave the bigger one for the future.

[2016-07-27 01:08] damithc opened #5924 "Distribute points question reverts to 100"
Received from user and confirmed as bug.
[code]

[2016-07-27 01:09] damithc commented on #5924
@tarun14110 we need an immediate fix for this.

[2016-07-27 01:24] damithc commented on #5924
Before fixing the bug, write a failing test case to confirm the bug. This bug should never have made it to the wild if our test case design was good.

[2016-07-27 01:25] chowyb commented on #5924
Distribute points (among options)/(among recipients) questions appear to both be affected, and is caused by taking the numerical value of the "____ in total" input instead of the "____ X (number of options/recipients)".

This could be a temporary workaround while we fix the problem.

[2016-07-27 01:27] damithc commented on #5924
Yes, I've advised the user of this workaround but it is embarrassing :-p
If we did have a test case for this, it must have used the same value for both text boxes, thus hiding the bug. Variety of test values can improve the effectiveness of test cases.

[2016-07-27 01:31] damithc commented on #5924
@wkurniawan07 can release a hotfix for this ASAP, preferably sometime today? I haven't deployed the recent version yet. I'll wait for the hotfix version instead.

[2016-07-27 02:15] chowyb commented on #5924
Seems to be a bug introduced in #5602. While an additional input box for the numbers was added, both retained the same id and name, resulting in the first one being picked.

A (temporary) quick fix for now could be to add JS code to the frontend updating both input boxes to be the same (easy since the input boxes already call a function on change). A more proper fix would be to read in the number

[2016-07-27 03:39] YongJieYongJie opened #5925 "Missing space between question description and feedback path"
@damithc May I check if this UI change was intended, i.e., removing the gap between question itself and the feedback path?

It was introduced in ab7f961aed951054c382782abb3393e3802bc951 #5784

![2016-07-27-113554_1280x800_scrot](https://cloud.githubusercontent.com/assets/14101781/17163094/528fe162-53ee-11e6-9f4c-c421e5770b11.png)

[2016-07-27 03:43] damithc commented on #5925
No it wasn't.

[2016-07-27 03:47] damithc commented on #5924
Thanks for the quick response @chowyb :+1:
@tarun14110 is a few hours behind us. So it's fine if you go ahead and fix it yourself.

[2016-07-27 03:47] damithc commented on #5924
BTW, PR against the release branch as this is a hotfix.

[2016-07-27 03:51] chowyb commented on #5924
Travis might not build from the PR though, almost done (save for a few other tests that may have been affected by the change), so I'll open to see if it'll build first.

[2016-07-27 03:55] chowyb commented on #5924
PR looks quite long as I branched off the most recent version of master instead of release, making it difficult to review. Are there any alternatives that might work better here?

[2016-07-27 03:55] damithc commented on #5924
@wkurniawan07 can we configure travis to build PRs against release branch?

[2016-07-27 03:58] wkurniawan07 commented on #5924
I haven't seen it in action, but based on the `.travis.yml` configuration it should already be the case.

[2016-07-27 04:10] chowyb commented on #5924
@damithc @wkurniawan07 Travis is building the PR, but there remains the issue of 2 other commits not related to this issue in the PR. I might be able to shift the changes to a fresh branch off of release, but it will take about an hour.

[2016-07-27 04:50] YongJieYongJie commented on #5925
@belyabl9 would you be able to handle this since you are more familiar with the concerns around the rich text description text box?

[2016-07-27 06:17] belyabl9 commented on #5925
@YongJieYongJie , I'll have a look

[2016-07-27 09:59] wkurniawan07 commented on #5924
Fixed in #5926.

[2016-07-27 09:59] #5924 closed

[2016-07-27 10:22] wkurniawan07 opened #5928 "Migrate timezone value from feedback sessions to courses"
This will still be on hold until #5863 is done, but surfacing the issue now since this will be subjected to some discussions. I have also been working on this, but obviously cannot create any PR first since the said holding PR needs to be merged first.

The starter menu will be:
1. Should we retain the timezone value in feedback sessions? Here are the pros/cons:
   - (+) Change to code is not too

[2016-07-27 11:05] wkurniawan07 opened #5929 "Revive the support for Chrome browser for testing"
As per title.

[2016-07-27 11:55] damithc commented on #5928
See if this has any relevant info . https://dl.dropboxusercontent.com/u/4223019/Ashreay_Fyp_Report.pdf

[2016-07-27 16:21] vsNULL commented on #5879
Hello, I'm a new beginner on GitHub and wanted to help out with this issue. May I? Thank you.

[2016-07-27 21:34] belyabl9 commented on #5871
@damithc , @YongJieYongJie , please, have a look on a result:
![image](https://cloud.githubusercontent.com/assets/6876210/17193260/ee7a71ca-545a-11e6-8fbf-f720995d8dce.png)

[2016-07-28 01:10] damithc opened #5931 "Deleted students trying to join: handle the NPE"
If a student was deleted from a course, when the student tries to join using the join link, we throw a NullPointerException.

[2016-07-28 01:12] damithc commented on #5871
Looks fine @belyabl9

[2016-07-28 01:26] chowyb opened #5932 "Moderating responses/previewing sessions heading does not properly escape HTML characters"
When moderating a student's responses, the heading of the page does not properly escape HTML, resulting in HTML elements possibly being introduced into the heading.
![sani](https://cloud.githubusercontent.com/assets/7546744/17198033/87fc4244-54a4-11e6-853e-c750f226d419.png)

Edit: This also applies to previewing sessions.

[2016-07-28 02:55] damithc commented on #5620
Passed at V5.85.01 but after retrying.

[2016-07-28 03:05] YongJieYongJie commented on #5871
@belyabl9 Is there a relatively easy way to standardize the padding within the text boxes? Currently, the top padding of the description box is visibly larger.

[2016-07-28 03:14] damithc opened #5933 "Instructor: edit 'distribute points' question: the unused option can be left empty"
It's a bit misleading to fill both boxes with the same value. May be better to leave the unused box empty?
![image](https://cloud.githubusercontent.com/assets/1673303/17200032/6495303a-54b4-11e6-8de6-298bec58f5de.png)

[2016-07-28 03:17] damithc commented on #5866
Fails at V5.85.01
[code]

[2016-07-28 03:18] damithc commented on #5857
Deployed

[2016-07-28 03:18] #5857 closed

[2016-07-28 06:00] kanghj commented on #5932
The fix for this is in #4700

[2016-07-28 06:07] wkurniawan07 commented on #5879
Hi @vsNULL, if you want to update the user map, you may want to do #5538 first.

[2016-07-28 07:35] belyabl9 commented on #5871
@YongJieYongJie , I'll make padding-top:5px within the PR for this issue
![image](https://cloud.githubusercontent.com/assets/6876210/17204586/ee123ba6-54ae-11e6-9ffe-c3aa7ec14d8a.png)

[2016-07-28 08:48] #5911 closed

[2016-07-28 09:14] YongJieYongJie commented on #5871
@belyabl9 If you're fixing the padding-top, let's fix the padding-left right bottom etc. too

[2016-07-28 09:15] belyabl9 commented on #5871
@YongJieYongJie , 5px is ok, yes ?

[2016-07-28 09:16] belyabl9 opened #5936 "InstructorSearchPageUiTest: variable actual result"
Two independent PRs are failing due to variable results of this test.
Was this functionality modified in the recent time ?

[2016-07-28 09:39] wkurniawan07 commented on #5928
Unfortunately no, whatever is written there has been done in #5863. No info on how to handle the migration and its post-mortem.

[2016-07-28 10:14] wkurniawan07 commented on #5936
I've left a comment in one of those PRs. I'll take a look at the other one shortly.

[2016-07-28 11:15] damithc commented on #5928
In terms of display, we can show both `[UTC+8] Asia Singapore`.
We can continue to show the time zone in the session page, although the value will come from the course object.

[2016-07-28 11:55] wkurniawan07 commented on #5928
Display is the least of my concern. The problem comes when we use the timezone ID to determine offset, and especially so when we start handling DST.
Because we can only do a one-to-one mapping from an offset to a timezone ID, there is no way we can do an accurate migration. Let's say all "UTC+8" are migrated to "Asia/Singapore", then courses in e.g "Australia/Perth" (also in UTC+8) may not have 10

[2016-07-28 12:23] damithc commented on #5928
Um, we should not migrate existing sessions. The two systems will co-exist for a while. Only the courses created in future will have the new behavior. Does that address your concern?

[2016-07-28 21:44] belyabl9 commented on #5936
@wkurniawan07 , I think the reason was quite obvious - the wrong cursor place while running the test.
Please, close this issue

[2016-07-29 01:46] chowyb opened #5937 "Improve isWithinView in common.js"
The function `isWithinView()` in common.js does not work for all HTML elements; due to the behaviour of [`element.offsetTop`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/offsetTop), this will presently only work for elements that are a direct child of `#mainContent`. An example of how the method works for several elements is shown below (using console logs not present in the origi

[2016-07-29 05:31] chowyb commented on #3806
@damithc @wkurniawan07 might be worth looking at this issue again? Current market share for IE8 and below as of now, as taken from various sources:

From [netmarketshare](https://www.netmarketshare.com/browser-market-share.aspx?qprid=2&qpcustomd=0), desktops, for June 2016:
IE8: 5.21%
IE7: 1.15%
Total: **6.36%**

From [W3Counter](https://www.w3counter.com/trends), desktops, for June 2016:
IE8: 0.5

[2016-07-29 05:44] YongJieYongJie opened #5938 "Improve visibility options UI"
An extension of #5604.

UI of visibility options can be improved by using a dropdown menu to show the more common options, with an "other" option to enable full customization.

[2016-07-29 06:00] damithc commented on #4430
Happened again from the live site (V5.85.01)

[2016-07-29 06:58] damithc commented on #3806
Do we have an 'unspported browser' check?

[2016-07-29 07:07] wkurniawan07 commented on #5936
Wrong cursor place should not cause an element to be hidden. But sure, this can be reopened whenever needed.

[2016-07-29 07:07] #5936 closed

[2016-07-29 07:10] #5925 closed

[2016-07-29 09:29] YongJieYongJie commented on #5871
@belyabl9 5px 10px looks fine. Perhaps you can post a screenshot so everyone who's interested can see.

[2016-07-30 01:58] viswanathanbalaqa opened #5942 "Test Developer - Request for Joining Community"
Hi TEAMATES,

I am really interested in joined the Team TEAMMATES as Test developer, since I come from rich testing experience and have close to 9 years experience in various capacity of testing. But I am a newbie to the world of Automation and would like contribute to this test development team.

[2016-07-30 08:39] #5604 closed

[2016-07-30 16:11] #5541 closed

[2016-07-30 16:14] #5897 closed

[2016-07-30 16:17] #5901 closed

[2016-07-30 16:19] belyabl9 commented on #5871
@YongJieYongJie , here it is:
![image](https://cloud.githubusercontent.com/assets/6876210/17271673/8b339308-568a-11e6-9e7e-d041043c5c01.png)

[2016-07-31 02:23] damithc commented on #5942
Hi @viswanathanbalaqa
Yes, we can use help in the testing area. :-)

[2016-07-31 02:35] viswanathanbalaqa commented on #5942
Sure thanks a lot

Please let me know what shall i proceed in testing currently

On Saturday, July 30, 2016, Damith C. Rajapakse <notifications@github.com>
wrote:

--
Thanks,
Balasubramanian Viswanathan

[2016-07-31 03:37] damithc commented on #5942
The first step is to set up the project on your computer. The steps are documented in our project documentation. Look for the 'New contributor orientation guide' in our README page.

[2016-07-31 03:56] viswanathanbalaqa commented on #5942
Sure Thanks Damith
I shall go through the setup and let you know once done

Please also let me know if we a testing framework for selenium already in
place

On Saturday, July 30, 2016, Damith C. Rajapakse <notifications@github.com>
wrote:

--
Thanks,
Balasubramanian Viswanathan

[2016-07-31 12:18] damithc opened #5943 "student view team: Show team member profile photo"

[2016-07-31 12:20] damithc commented on #5943
@chowyb can you give this one a try? I need it for CS2103. Photos can be loaded on demand.

[2016-07-31 13:26] tarun14110 commented on #5943
@damithc Can I work on this ?

[2016-07-31 13:53] damithc commented on #5943
Sure @tarun14110
Thanks for volunteering :+1: .

[2016-07-31 14:37] tarun14110 commented on #5943
Which one is better ?

![screenshot from 2016-07-31 20 00 09](https://cloud.githubusercontent.com/assets/12219700/17277192/53a4fed8-575a-11e6-8055-bc7a42a9b878.png)

![screenshot from 2016-07-31 20 06 37](https://cloud.githubusercontent.com/assets/12219700/17277193/540f0a9e-575a-11e6-86ad-97bca4d67106.png)

[2016-07-31 15:05] damithc commented on #5943
Use a vertical format instead. That way, it can scale up to any team size.
[photo][details]
[photo][details]
...

[2016-07-31 15:12] tarun14110 commented on #5943
The above format take cares of big team sizes, next team member comes in next row. Doing vertical way we will waste a lot of space, lot of scrolling will be required to see all faces ? Vertical format will be better if we need to display more info about each team member other than name ?

[2016-07-31 15:18] damithc opened #5944 "InstructorFeedbackEditCopyAction: null course id"
Got this from the live server V5.85.01

[code]

[2016-07-31 15:22] damithc commented on #5943
I prefer vertical because we can show more information in the  2nd column. As of now, it may by just the name and the email, but in future we can add more details there. e.g. more details from the profile page.

[2016-07-31 15:26] wkurniawan07 commented on #5943
To get the best of both worlds, try vertical but stack where possible?
[photo][details][photo][details]
[photo][details][photo][details]
...

[2016-07-31 15:26] tarun14110 commented on #5943
sure. Sending PR in few minutes.

[2016-07-31 15:27] wkurniawan07 opened #5945 "Release V5.86"
Release 226

Code Contributions from: @rclakmal, @belyabl9, @tarun14110, @YongJieYongJie
Review Contributions from: @damithc, @kanghj, @JosephineKwa, @wkurniawan07, @YongJieYongJie, @chowyb

Sprint Velocity: 22 hrs (code) + 12 hrs (review) = 34 hrs (total)

[2016-07-31 15:33] wkurniawan07 opened #5946 "Release V5.87"

[2016-07-31 15:34] wkurniawan07 opened #5947 "Update about.jsp with contributors from V5.87"

[2016-07-31 15:34] wkurniawan07 commented on #5945
P.S. I did not intend for the release issue to be hold off until the actual release, it's an honest mistake :p

[2016-08-01 00:41] MiniOtacon opened #5949 "teammates dev server will start but having issues using it."
**Specifications**
Mac OSX
EclipseIDE for Java Developers: 4.5.2
JDK: 1.7.0_79
Google App Engine: 1.9.40

**Issue**
I made it to step 8 of [setting up the dev server](https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md#setting-up-the-dev-server), but when I tried accessing "http://localhost:8888/admin/adminHomePage" it redirected me to "http://localhost:8888/errorPage.jsp" and

[2016-08-01 03:43] damithc commented on #5949
JSP is compiled on demand, so compile errors can emerge even after starting the server. Check in eclipse to see if it shows any jsp errors.
![image](https://cloud.githubusercontent.com/assets/1673303/17282878/128134ac-57dd-11e6-863f-b9bc9dd5aad2.png)

[2016-08-01 05:13] MiniOtacon commented on #5949
It looks like Google App Engine (GAE) is giving errors and JSP lists a couple dozen warnings. I've tried reinstalling GAE (and even tried version 1.9.34 instead of 1.9.4) and rebuilding with gradle but I still have GAE errors
![errors2](https://cloud.githubusercontent.com/assets/14066723/17283983/34fe320e-576b-11e6-8b05-b125270c26b2.png)

And since you can't see the full error description, here is

[2016-08-01 07:16] wkurniawan07 commented on #5949
@MiniOtacon based on the console outputs these are the problems that you may need to rectify:
- Use SDK 1.9.27 instead of any other versions.
- Configure Eclipse to use JDK 1.7 (not JRE, not Java 8).

The existing JSP warnings are fine to be ignored.

[2016-08-01 18:34] MiniOtacon commented on #5949
@wkurniawan07, it was the Google App Engine version that was causing those errors, the server runs as expected now. Thanks so much for the help, this issue can be closed.

[2016-08-01 20:49] pratyoushs opened #5952 "New contributor self intro [Pratyoush Srivastava]"
1. **Link to my app**: http://4-18-dot-teammates-pratyoushs.appspot.com/index.jsp

2. **Link to my fork:** https://github.com/pratyoushs/teammates

3. **Changes**: Fixed the top navigation bar to make it easier to navigate to different pages without scrolling to top.
![teammatescapture1](https://cloud.githubusercontent.com/assets/15091305/17308290/31e078d8-5807-11e6-866c-5d75279a6a01.JPG)
![teamma

[2016-08-02 06:30] wkurniawan07 commented on #5949
@MiniOtacon the accounts in `test.properties` are not useful other than when you are running test. If you want to go to the admin pages in dev server, all you need to do is ticking "Log in as administrator" when entering login credentials (any ID will do).

[2016-08-02 08:19] #5889 closed

[2016-08-03 07:00] #3511 closed

[2016-08-03 09:38] damithc opened #5954 "NPE in instructorFeedbackQuestionEdit"
Got this from live server.
[code]

[2016-08-03 09:41] damithc commented on #5944
Got another one just now. This needs looking into.

[2016-08-03 10:06] belyabl9 commented on #5954
The reason of the problem seems to be 'questiondescription-3' instead of 'questiondescription'.
I can fix it, but I need to reproduce the problem. Could somebody check it ? I tried on dev server and on staging but question is edited without errors

[2016-08-03 10:10] damithc opened #5955 "Instructor copy session: check for empty session name before submitting"
Prevent submitting this form (and point out the problem) if the session name is empty.
![image](https://cloud.githubusercontent.com/assets/1673303/17361882/3ff68b0c-59a5-11e6-83c4-5a0b9b2a012f.png)

The current one not only submits the form with the empty value, but also sends the user to a course different from the one he was using before.

[2016-08-03 10:15] damithc commented on #5954
I can't reproduce it on my computer. Is this related to the browser?
When I checked the database, some questions seemed to have duplicate question numbers (a known problem that can occur occasionally), which I fixed. Perhaps that is a different problem altogether.
![image](https://cloud.githubusercontent.com/assets/1673303/17362096/1d36b21c-59a6-11e6-9b18-34caba80505c.png)

[2016-08-03 10:28] damithc commented on #5954
The user still cannot save questions even after I fixed the question number problem. So it is something else.

[2016-08-03 10:29] damithc commented on #5954
Looks like the user is using Firefox on Mac, based on the log message.

[2016-08-03 10:34] damithc commented on #5954
BTW, this error is produced by V5.85.01 which is the latest released version.

[2016-08-03 11:03] damithc opened #5956 "admin activity log: number format exception"
This used to happen often with the dev server, but now it's happening in live server as well. It's an intermittent thing. Hard to reproduce. Hope we can make the code immune to it.

[code]

[2016-08-03 11:04] damithc commented on #5956
Possibly the range of our data type is too small to handle the value given.

[2016-08-03 12:31] #4469 closed

[2016-08-03 14:01] damithc commented on #5954
User says she tried using Firefox and Safari, but no luck. However, she says it started working after a while. Our logs seem to match what the user is saying.  Any clue from the stack trace?

[2016-08-03 14:20] damithc opened #5958 "Error alert email has very long subject"
The admin email triggered by the following error has a very long subject

[code]

![image](https://cloud.githubusercontent.com/assets/1673303/17368857/78f0dbb0-59c8-11e6-8ea5-273e99a0fcb0.png)

[2016-08-03 15:12] damithc commented on #5958
BTW, the error itself needs to be looked into, as I got a lot of them (from the same user) in the past few hours.

[2016-08-04 11:31] rclakmal commented on #5955
@damithc Shall I take this up ?

[2016-08-04 11:58] damithc commented on #5955
Sure. Thanks @rclakmal

[2016-08-04 14:39] #4423 closed

[2016-08-04 15:42] rclakmal commented on #5922
@chowyb Could the results be confusing to the user since we are not showing the year? (year is only visible in the tool tip)

[2016-08-05 00:35] damithc commented on #5922
I don't think so. The user is expected to know the year even if it is not shown. :-)

[2016-08-05 06:57] rclakmal commented on #5922
@damithc @chowyb I will look in to this issue

[2016-08-05 07:35] wkurniawan07 commented on #5956
This is not new (not that it's not a problem): #5198.

[2016-08-05 07:36] wkurniawan07 commented on #5198
Superseded by #5956.

[2016-08-05 07:36] #5198 closed

[2016-08-05 10:46] wkurniawan07 commented on #5952
Hi @pratyoushs, welcome to the TEAMMATES community!
Good job on setting up as well as deploying your own fork to the staging server! You can start contributing by fixing an issue labeled `d.FirstTimers` (do just one of this), then moving on to issues labeled `d.Contributors` (recommended). Looking forward to your contributions!

[2016-08-05 10:48] wkurniawan07 commented on #5958
I'll fix the long email subject right up. The exception reported is very weird, though, because according to the code it should be caught and handled.

[2016-08-05 14:48] #5871 closed

[2016-08-05 15:49] kanghj opened #5961 "Remove old question entity"
The next step after #5839. The FeedbackQuestion entity is not useful anymore and should be removed once the old question entities on the live server have been migrated to the new Question entity.

Having both question and feedback question is a source of confusion and will definitely make it hard to debug any issues

[2016-08-05 18:04] #5734 closed

[2016-08-06 08:35] #5929 closed

[2016-08-06 09:37] #4812 closed

[2016-08-06 12:05] #5882 closed

[2016-08-06 12:08] #5921 closed

[2016-08-07 16:37] kanghj commented on #5885
Fixed in #5892

[2016-08-07 16:37] #5885 closed

[2016-08-07 16:58] YongJieYongJie opened #5965 "Instructor help page: make 'create new session' responsive"
To have a side bar in the help page (as per #5616), the form for creating new feedback session needs to be responsive:

![responsive](https://cloud.githubusercontent.com/assets/14101781/17463847/fcd1fe36-5d02-11e6-8850-dbc25dbd7f7a.png)

[2016-08-08 15:13] kanghj opened #5966 "Copying session fails due to new question type"
In certain conditions, copying a session now fails due to a FatalNucleusUserException.

[2016-08-08 15:27] damithc commented on #5966
Sounds bad. Under what conditions?

[2016-08-08 16:41] kanghj commented on #5966
I'm not very certain of the cause since it doesn't happen consistently, but it does seem like larger sessions are more vulnerable to this

[2016-08-09 01:31] kanghj commented on #5966
@damithc, @wkurniawan07, let's revert #5842 for this milestone?

[2016-08-09 01:49] damithc commented on #5966
Sure. It it because larger sessions break the limitation of how many edits can be done to an entity group in a short time?

[2016-08-09 02:25] kanghj commented on #5966
The error is that there were too many entity groups getting edited in a single transaction, so there's code where questions are getting related to the session but not getting created in the same entity group.

[2016-08-09 14:36] #5955 closed

[2016-08-09 17:12] #3152 closed

[2016-08-09 17:38] peterdfinn opened #5970 "Travis test failure: component-tests->teammates.test.cases.logic.EmailGeneratorTest->testSystemCrashReportEmailContent"
I'm trying to set up my local TEAMMATES development environment, and I encountered 15 Travis test failures, including the test `component-tests->teammates.test.cases.logic.EmailGeneratorTest->testSystemCrashReportEmailContent`.

I'm in Step 3 of "Running the Test Suite" in devdocs/settingUp.md.

I'm running OS X 10.11.6.

The error message is:
java.lang.AssertionError:
at teammates.test.cases.logi

[2016-08-10 02:12] damithc commented on #5954
The cause could be a buggy tinymce js file that some users loaded from an outdated CDN cache?

[2016-08-10 02:15] damithc commented on #5954
This user is on Mac, but using Safari.

[2016-08-10 05:46] damithc opened #5971 "NPE in studentFeedbackSubmissionEditSave"
Got a whole bunch of these from the live server:

[code]

[2016-08-10 05:48] damithc commented on #5954
User says it worked in Chrome.

[2016-08-10 15:17] wkurniawan07 commented on #5970
Hi @peterdfinn,
If this test and a limited number of other tests fail, likely the cause is wrong Java version (Java 7 is the requirement, not the latest Java 8). Could you check if you're using the correct Java version when building and running the dev server?

[2016-08-10 15:19] wkurniawan07 commented on #5954
I don't think there is any "CDN cache" to talk about; we're hosting our own tinymce file and it's lifted directly from what's hosted in NPM.

[2016-08-10 15:40] wkurniawan07 commented on #5971
Early tracing suggests that the NPE is returned somewhere here:
[code]
My guess is the `qnId` was referring to a question that's then lost. Was the question being edited at around the same time when this happened?

[2016-08-10 15:42] #5942 closed

[2016-08-10 15:43] #5949 closed

[2016-08-10 15:51] damithc commented on #5954
In that case it sounds like a browser issue, in which case it should be easy to reproduce. The first user said changing browser did not work but it started working on it's own again. Second user said it started working when she switched from safari to chrome. Of course we can't completely go by what users say because they might believe one thing when in fact it is something else.

[2016-08-10 15:55] damithc commented on #5971
That's a possibility. The user triggered in many times during a short period. I'll investigate more if it happens again.

[2016-08-10 15:55] belyabl9 commented on #5954
@damithc , all you've just described looks like problems with asynchronous execution that is going to be fixed in the provided PR.
Could you get the exact steps to reproduce ? May be we miss something while trying to reproduce the issue.

[2016-08-10 15:57] wkurniawan07 commented on #5956
This is dependent on how GAE constructs the log from their side. I can't fix it just yet, but I can make it such that more information will be logged should this error pop out again.

[2016-08-10 15:59] belyabl9 commented on #5954
If the feature doesn't work in browser at time T1, but works at time T2 in a common browser, it seems that there are two possible variables: user's behavior or CPU/network capability (i.e. time of execution of specific part of code)

[2016-08-10 16:02] damithc commented on #5954
It's hard to get more data as end users are non-experts. Let's hope this PR fixes the problem. If not, we'll have to investigate more when it happens again. With more data points, we might start seeing some pattern.

[2016-08-10 16:03] wkurniawan07 commented on #5966
This shouldn't be that high a priority anymore since the new question entity is scrapped. @kanghj perhaps you can make a fix against the new question entity branch?

[2016-08-10 16:14] wkurniawan07 opened #5972 "Use proper versioning for all static analysis tools"
It is printed in `settingUp.md` that all static analysis tools used are of the latest stable version. This is inaccurate as the tools' versions are specified in `build.gradle`.
This is not a trivial issue because the latest Checkstyle, 7.0, already requires a Java 8 runtime, and who knows if the other tools are going to follow suit.

[2016-08-10 16:48] wkurniawan07 opened #5973 "Launch configurations provided should not expect project name "teammates""
While a good assumption, it is not always true, especially since it's a case-sensitive match.
Add: also, by checking in the launch configs to the source control, any developer is essentially restricted from making modifications when the need arises.

[2016-08-10 20:05] peterdfinn commented on #5970
That was it.  I had gone into Eclipse's Project Properties and changed the compiler compliance level to 1.7, but I hadn't changed the Run Configurations to use Java 7.

Thanks!

[2016-08-10 20:05] #5970 closed

[2016-08-11 14:49] rclakmal commented on #5614
@YongJieYongJie We can close this issue with the fix in #5696

[2016-08-12 00:16] damithc opened #5977 "Admin create account: Cannot send Ajax Request!"
I'm getting `Cannot send Ajax Request!` frequently when trying to create accounts, since two days ago. This almost never happened before.

[2016-08-12 00:19] damithc commented on #5977
This is serious. I can't create accounts at all. :-p

[2016-08-12 00:22] damithc commented on #5977
The reason is account creation is taking too long.
[code]

[2016-08-12 00:25] damithc commented on #5977
Use task queues to create the sample course?

[2016-08-12 00:29] damithc commented on #5977
@wkurniawan07 please get someone to work on this soon.

[2016-08-12 10:24] wkurniawan07 commented on #5977
@JosephineKwa @chowyb @YongJieYongJie can we all (including me) try to work this out? Whoever wants to submit a PR can feel free to do so, although Travis is not really being helpful at around this time.

[2016-08-12 11:56] damithc commented on #5977
Most likely we can optimize the sample course creation (reduce database calls).

[2016-08-12 12:03] damithc opened #5979 "Student: submit using submission link: give clearer indication of success"
Some students say they are not sure if the submission went through. Perhaps we should use a modal dialog to inform the user of the submission status?

[2016-08-12 12:07] damithc opened #5980 "Instructor: edit question visibility: warn that existing responses will be deleted when visibility is changed"
Perhaps we can warn the instructors that changing the visibility after collecting responses is not recommended.
However, we should have a way to limit the number of such warnings, as we don't want to annoy the user by showing the same warning too many times.

[2016-08-12 13:54] damithc opened #5981 "NPE in InstructorFeedbackCopyAction"
Got this from the live server.

[code]

[2016-08-12 23:50] damithc opened #5982 "admin search: results are not highlighted"
The search keywords don't appear in the text box and neither are they highlighted in the results. I was searching for `"Chan Yi Jia"`
![image](https://cloud.githubusercontent.com/assets/1673303/17639945/84b0a8a4-612a-11e6-8cb0-fde95864cda5.png)

[2016-08-13 06:10] damithc opened #5983 "Instructor home page: reorganize buttons on the course panel"
The current `edit` and `view` are a bit misleading.

![image](https://cloud.githubusercontent.com/assets/1673303/17641735/207c3c6a-615f-11e6-9099-2383841d2c19.png)

We can use drop down buttons instead:
[code]

[2016-08-13 07:04] #5614 closed

[2016-08-14 09:06] #5722 closed

[2016-08-14 09:08] #5801 closed

[2016-08-14 09:11] #5954 closed

[2016-08-14 09:40] #5972 closed

[2016-08-14 09:42] #5973 closed

[2016-08-14 10:52] wkurniawan07 commented on #5945
Will be superseded by V5.87 release.

[2016-08-14 10:52] #5945 closed

[2016-08-14 13:30] belyabl9 commented on #5983
@damithc , I'd like to do this task. I've prepared sample implementation, please, have a look if it is what you expect
![image](https://cloud.githubusercontent.com/assets/6876210/17649346/e8a0fce4-623b-11e6-93c7-2099dda72c2e.png)

![image](https://cloud.githubusercontent.com/assets/6876210/17649348/f5fe5e22-623b-11e6-9820-00ddd86e7fd3.png)

![image](https://cloud.githubusercontent.com/assets/68762

[2016-08-14 14:28] #5938 closed

[2016-08-15 01:23] damithc commented on #5983
The sub-menu looks like buttons instead of menu items. Compare that with how the `Remind` sub menu looks. Can we get a similar 'flat' look?
Can you add a screenshot with the existing comments button (to see how it looks with the new buttons)?

[2016-08-15 01:56] damithc opened #5986 "Instructor copy session: 'copy' button doesn't show any activity after clicking"
The copy button takes some time to show some activity. Users can think the click didn't go through and click again.

[2016-08-15 08:34] damithc commented on #5986
@rclakmal you did a similar thing somewhere else, am I right? Can you point to that PR here so that the person doing this issue can follow the same?

[2016-08-15 09:07] belyabl9 commented on #5983
@damithc , please, have a look at this one
![image](https://cloud.githubusercontent.com/assets/6876210/17660227/a8c7689c-62e0-11e6-99f2-bf7dfaa211d7.png)

[2016-08-15 09:38] #5947 closed

[2016-08-15 09:55] wkurniawan07 commented on #5946
Release 227

Code Contributions from: @ashrayjain, @hiresh, @kanghj, @rclakmal, @belyabl9, @tarun14110, @LowWeiLin, @wkurniawan07, @YongJieYongJie
Review Contributions from: @damithc, @JosephineKwa, @wkurniawan07, @YongJieYongJie, @chowyb

Sprint Velocity: 52 hrs (code) + 27 hrs (review) = 79 hrs (total)

[2016-08-15 09:56] wkurniawan07 opened #5987 "Release V5.88"

[2016-08-15 09:56] wkurniawan07 opened #5988 "Update about.jsp with contributors from V5.88"

[2016-08-15 10:42] #5675 closed

[2016-08-15 10:48] wkurniawan07 opened #5989 "Add an option to opt out from the submission confirmation email"
Continuation of #5694. Currently submission confirmation email is sent to everyone but not everyone may want to receive it. There should be an option to opt out, e.g a checkbox "Notify me via email when the responses are submitted to the system" next to the "Submit" button.

@tarun14110 can you work on this one?

[2016-08-15 10:48] wkurniawan07 commented on #5979
Hmmmm how is this different from sending confirmation email?

[2016-08-15 10:52] damithc commented on #5979
Confirmation email helps, but it is not immediate. Unlike us, some people don't have their email open all the time :-p Also, email is not completely reliable. Some get trapped in spam filters.

[2016-08-15 10:53] damithc commented on #5979
It is also a UX flaw. If the user is not sure if the submission went through, our UX is not good.

[2016-08-15 11:00] damithc commented on #5983
We can keep the comments button as it is.
Why does the drop down menu doesn't look as nice as the `Remind` button.? The `Remind` drop-down looks like a built in bootstrap control while the `Students` one looks like we hand-coded it.

[2016-08-15 11:05] belyabl9 commented on #5983
I've used bootstrap classes for these dropdown buttons. Could you, please, clarify what exactly you don't like ?

[2016-08-15 11:12] damithc commented on #5983
In that case, it should be fine. I was wondering why this divider is missing.
![image](https://cloud.githubusercontent.com/assets/1673303/17663014/12dc4988-631c-11e6-9fa5-4df74ba2bf33.png)
In addition, is it possible to style the drop down to match the button? i.e. font size and colors

[2016-08-15 11:15] belyabl9 commented on #5983
Ok, I'll try to make them as similar as possible

[2016-08-16 01:30] damithc opened #5991 "Instructor: edit question visibility: warn user against increasing visibility"
When an instructor is increasing visibility of a question by editing visibility settings and the question already has responses, warn instructor that increasing visibility is not recommended because the responses were submit under the promise of a lower visibility.

[2016-08-16 01:32] damithc commented on #5980
I would like to do this soon, because more and more instructors run into this problem after the submissions are collected.

[2016-08-16 05:37] damithc commented on #5944
Got more of this.

[2016-08-16 08:52] damithc opened #5992 "EmailGeneratorTest failing on dev server"
Looks like an issue with Win/Unix line ending incompatibility.
![image](https://cloud.githubusercontent.com/assets/1673303/17693481/b15b0b16-63d1-11e6-9ad0-9fe34148c3cb.png)

[2016-08-16 10:32] wkurniawan07 commented on #5992
I think I know what's the problem (at long last).

[2016-08-16 20:24] rclakmal commented on #5986
This was with #5858

[2016-08-17 06:25] damithc commented on #4157
failed at V5.87

[2016-08-17 06:29] damithc commented on #4797
Failed at V5.87

[2016-08-17 06:39] damithc commented on #5866
Fails at V5.87

[2016-08-17 08:15] damithc opened #5993 "InstructorFeedbackEditPageUiTest failing on dev server"
Fails at different places at different runs. Possibly due to delay in loading visibility preview message.

[code]

[2016-08-17 09:15] damithc opened #5994 "instructor session add: failed attempt results in <p> tags in the description"
Steps: Add a session with end time before the start time.
Result:
![image](https://cloud.githubusercontent.com/assets/1673303/17731044/1423687a-649e-11e6-8657-880efd6309a4.png)

[2016-08-17 09:18] damithc opened #5995 "Instructor add essay question: Typo in tooltip"
![image](https://cloud.githubusercontent.com/assets/1673303/17731144/991a34a0-649e-11e6-9fcd-8b3f1d0a6aa9.png)

Should be `... shown to the ...`

[2016-08-17 09:20] damithc opened #5996 "Instructor: edit question: show spinner while loading visibility preview"
It's best if we show the spinner while loading the updated visibility preview.

[2016-08-17 11:22] damithc commented on #5994
@belyabl9 is this related to rich-text support?

[2016-08-17 11:22] damithc commented on #5995
@tarun14110 can you fix this one?

[2016-08-17 11:24] belyabl9 commented on #5994
I'll check

[2016-08-17 12:06] damithc commented on #5946
Deployed.

[2016-08-17 12:06] #5946 closed

[2016-08-17 18:21] rclakmal commented on #5986
@damithc I would take this up myself. Could you put a screen on which copy button you are talking about ?

[2016-08-17 20:44] rclakmal commented on #5980
@damithc What about indicating this as a tool tip in the edit visibility button ?

[2016-08-18 01:21] damithc commented on #5980
That's not good enough. We can't expect people to read tool tips. Note that the user might not even edit the visibility.

[2016-08-18 01:22] damithc commented on #5986
`Copy session` opens a modal dialog. I'm referring to the button in that modal dialog.

[2016-08-18 01:38] damithc opened #5999 "Timeouts in session closing and closed reminders"
![image](https://cloud.githubusercontent.com/assets/1673303/17759128/843fb1f2-6527-11e6-996a-2d28db03a1a5.png)

[2016-08-18 01:43] damithc commented on #5999
One common error I see is this:
[code]
Another is this:
[code]

[2016-08-18 01:57] damithc commented on #5999
I suspect this is the problem `FeedbackSessionsDb.getNonPrivateFeedbackSessions` Most likely returns all 13k sessions.

[2016-08-18 03:57] damithc commented on #5999
As opening reminders have 0% error rate, I'm guessing the db query on that side is done in a more optimal way. We need to quickly replicate the same optimization on the closing reminders side.

[2016-08-18 05:10] damithc commented on #5999
Both submission edit and save requests are suffering from the first error (`104`).

[2016-08-18 07:14] chowyb commented on #5999
Currently operating on the assumption that `FeedbackSessionsDb.getNonPrivateFeedbackSessions` is the source of all errors (including the `104`, maybe due to exceeding memory on initialisation?), and I note the following:

3 methods call this method: one for sending session closing reminders, one for sending session closed emails, and a test (which is likely not relevant to this issue). As "session

[2016-08-18 10:12] wkurniawan07 commented on #5999
@chowyb your observations are all correct; I've been working on it for the past hour (2nd solution since time is not really on our side), but still need to run some tests. Hope you can take a look later when it's done.

@damithc the submission edit page/save and the result page, what are the errors coming out from them? They can't be the non-private feedback sessions error.

[2016-08-18 10:21] damithc commented on #5999
This looks like a combination of
1. Our dataset reaching a certain size
2. Sudden increase in traffic
3. Possibly some changes on GAE that makes things slower or more constrained (I think they switched to a new GAE version y'day)

I don't think all problems are caused by that query, but it's likely to fix one of the problems. I think retrieving sessions with deadlines in past 24 hours (instead of

[2016-08-18 10:24] rclakmal commented on #5980
Yeah agreed!
How about a warning text indicating the same placed within the visibility section ? What ideas do you have in mind ?

[2016-08-18 10:24] damithc commented on #5999
Most common error for submission edit/save is
[code]

[2016-08-18 10:26] damithc commented on #5999
Here's one example:
![image](https://cloud.githubusercontent.com/assets/1673303/17770626/4a9da086-6571-11e6-96fc-b5bc09aa7d35.png)

[2016-08-18 10:28] damithc commented on #5999
Another common warning (not an error) I see in submission edit/save is this:
[code]
This is not an error, but it's new and frequent.

[2016-08-18 12:21] wkurniawan07 commented on #5999
Changing the issue title since we need to work on solving things one at a time.

@damithc `/feedbackRemindEmailParticularUsersWorker` has a high failure rate too, what is the cause for this one? (not going to be solved via this issue/PR, but still we need to know)

[2016-08-18 12:30] damithc commented on #5999
All the other high error rates are caused by 104.

[2016-08-18 12:40] damithc commented on #5999
I managed to reduce the severity of the problem by splitting the traffic between 5 versions of the app. 104 errors still happen, but a less than before. So it is related to the traffic level. That's why I suspect 104 error may be a memory issue.
Closing reminders problem is as same as before because it is not related to traffic.

[2016-08-18 15:59] #3648 closed

[2016-08-19 01:27] damithc commented on #5999
Looks like it's the results pages (with big result sets) that is causing the 104. Other pages could be collateral damage (i.e. when the server goes down, it takes all other ongoing requests with it). Note that when we load the results page of a big course, we still try to load responses of all the questions at the same time. This could be the thing that sends the server over the memory limit.

[2016-08-19 01:50] damithc commented on #5999
@chowyb can you look into the results page issue. As an interim measure, we can stop auto-loading the per-question view for any course with more than 30 respondents.

[2016-08-19 04:49] damithc commented on #5999
BTW, the problem with `CourseRemind` is that exceeds the deadline. Is it using task queues? If not, it should. Otherwise sending emails for a big course can take more than 60s.

[2016-08-19 06:30] wkurniawan07 opened #6003 "Remove Firefox-related tests from Travis tests"
Until Travis fixes the defective build image on their side.

[2016-08-19 07:09] chowyb commented on #5999
@damithc I'll look into the issue, but from memory there is a preset limit on how many responses are present (10k?) before the system defaults to not auto-loading. It might be possible to reduce this limit instead.

[2016-08-19 10:15] damithc commented on #5999
Yes, let's try to reduce that limit. 10k is definitely too high. 1k?

[2016-08-19 10:59] wkurniawan07 commented on #5993
This is failing some Travis builds. Will fix right up.

[2016-08-19 11:00] sharvinbala opened #6006 "Travis ./gradlew createConfigs testClasses" failed"
Hi everyone. I'm new to github and I've been trying to build the latest code using travis but it's returning with "The command "./gradlew createConfigs testClasses" failed and exited with 126 during ." Not sure what I'm missing though. Your guidance is much appreciated. Thank you in advance

[2016-08-19 11:03] #5952 closed

[2016-08-19 15:36] wkurniawan07 opened #6009 "InstructorFeedbackEditPageUiTest failing on staging/live server"
Originally #5993. Stack trace:

[code]

[2016-08-19 15:38] wkurniawan07 commented on #5993
Original issue superseded by #6009. This one now concerns line 749 (and sometimes 913) of the same test which often causes a red "X" on a passing Travis build.

[2016-08-19 15:39] wkurniawan07 commented on #6006
@sharvinbala exit code 126 is permission issue. Should be rectifiable with `chmod +x gradlew`, however this should not happen even in forked branches. What were you attempting to do?

[2016-08-19 17:08] sharvinbala commented on #6006
thanks @wkurniawan07  that worked. I was trying to use travis for the automated builds. Still a newbie though

[2016-08-20 04:16] damithc opened #6010 "Instructor create course: should show timezone offset"
It is better to show the offset to UTC as well, in addition to the city.

![image](https://cloud.githubusercontent.com/assets/1673303/17828857/e815282a-66cf-11e6-9afe-18afa42874e7.png)

[2016-08-20 04:40] damithc opened #6011 "Send join reminder: timeout in big courses"
This feature times out for big courses (100+ students). Possibly calls to sendgrid is taking longer than it used to take? Need to switch to task queues ASAP.

[2016-08-20 04:40] damithc commented on #6011
@wkurniawan07 this needs fixing soon

[2016-08-20 06:39] JosephineKwa commented on #6011
I will try working on this too

[2016-08-20 08:04] JosephineKwa commented on #6011
@damithc just to clarify the timeout happens when sending join reminders to the entire course? Or also when attempting to send to a specific student?

[2016-08-20 09:12] #5993 closed

[2016-08-20 09:42] wkurniawan07 commented on #6006
@sharvinbala my concern is that the permission should not change even if Travis pulls from forked branches. Can I see the repo/Travis build log where this occurred?

[2016-08-20 10:14] #6003 closed

[2016-08-20 12:14] damithc commented on #6011
To the entire course.

[2016-08-20 14:32] kanghj commented on #5999
@chowyb, for the questions view, the limit is based on the number of respondents (there's a constant set for that in `InstructorFeedbackResultsPageData`: `RESPONDENTS_LIMIT_FOR_AUTOLOADING`). For the non-questions view, it's based on the number of responses (`DEFAULT_SECTION_QUERY_RANGE` in InstructorFeedbackResultsPageAction). We could refactor this soon, to prevent further confusion.

@damithc,

[2016-08-20 14:54] chowyb opened #6014 "Error code 104 in instructor feedback results"
The error code 104 appears frequently in instructor feedback results, likely due to exceeding the memory limit.

[2016-08-20 15:11] chowyb commented on #6014
Currently planning to handle this via the interim measure (prevent autoloading if number of respondents > 30). Correctly fixing this will require additional discussion, since I suspect measures that are currently in place to avoid retrieving too many responses are not working as intended. Below is a summary of my findings:

1. Student feedback results are not expected to be the main cause of failu

[2016-08-20 16:13] damithc commented on #5999
The error rate for submission save is not high anymore after I spread the load between 10 servers. I think when many people are trying to submit, we go out of memory and kill all the parallel requests.

[2016-08-20 16:18] damithc commented on #5999
Here are the problem areas now:
![image](https://cloud.githubusercontent.com/assets/1673303/17832400/ad4c1e5a-6734-11e6-9cec-9850d8762149.png)

[2016-08-21 02:21] kanghj commented on #6014
@chowyb, I think your observations for (3) is irrelevant to this issue. I am not to replicate what you are observing for (2), changing the value of `RESPONDENTS_LIMIT_FOR_AUTOLOADING` correctly only retrieves 1/2 responses on the first load (unless I'm missing something?).

[2016-08-21 02:45] kanghj commented on #6014
@damithc, currently the results page has many parameters which results in different behavior (first load vs ajax, questions vs non-question views, etc...), do we know which page is causing the errors? Are the error 104s are coming on the first load of the results page, or when the responses is getting loaded by ajax, or on the non-question views of the page?

[2016-08-21 03:15] damithc commented on #6014
Here is an example:
[code]
This one has only 5x5 students, but 7 team questions. It doesn't crash all the time. I guess if the server memory is already taken up by a few other requests, a request like this one can send it over the limit?.

Another one that crashed was 16x5 students, 2 team questions. So these are not really big sessions. Are we loading big results sets even when the session is sma

[2016-08-21 03:18] damithc opened #6017 "feedbackSubmissionAdjustmentWorker failing 100%"
Failing with error 204. `A problem was encountered with the process that handled this request, causing it to exit. This is likely to cause a new process to be used for the next request to your application. (Error code 204)`
May be this one too is accessing 'all sessions'?

[2016-08-21 03:28] damithc commented on #6014
![image](https://cloud.githubusercontent.com/assets/1673303/17835187/004613ba-6792-11e6-90ac-87d1e2ee3884.png)
From the timestamps you can see groups of parallel requests going down together. There is still a possibility that the failure was caused by a different request executing at the same time.

[2016-08-21 03:37] damithc opened #6018 "session opening reminders timeout"
Getting a few of these. This is more critical than closing reminders. Possibly due to large courses?
[code]

[2016-08-21 03:45] damithc opened #6019 "instructorFeedbackResultsDownload crashes for big courses"
Usually causes error 104, sometimes timeout.
Probably we should detect sessions with big result sets and ask the user to download by section/question.

[2016-08-21 03:48] damithc opened #6020 "student submit responses: team member name not showing up"
![image](https://cloud.githubusercontent.com/assets/1673303/17835236/247cf6ce-6795-11e6-8655-5f155f7e7be7.png)

[2016-08-21 03:48] damithc commented on #6020
@kanghj we had similar cases before, right? What was the cause?

[2016-08-21 03:59] damithc commented on #6020
BTW, this happens of some questions in the session. In other questions, the recipient is totally absent.
Student was able to submit, but now cannot resubmit. Error message: you did not specify a recipient for questions 1, 2, ...

[2016-08-21 04:03] damithc opened #6021 "Instructor view course: crashes for large courses"
Crashes for courses with 1000+ students at times. Probably need to use chunk size for db queries e.g. 200 results at a time?

[2016-08-21 04:06] damithc commented on #6014
@chowyb how do we detect the result set exceeds the size? Do we use cursors or something like that?

[2016-08-21 04:09] kanghj commented on #6014
At the moment, I am still not able to notice any mistake in the number of responses retrieved for each ajax request for the responses for each question, so the inefficient code may not be related to the retrieval of responses. Anyway, apart from reducing that respondent limit, I guess another possible quick fix is to limit the number of ajax requests at a single time (load questions 1 and 2 first,

[2016-08-21 04:21] chowyb commented on #6014
@damithc the current implementation is as follows:

1. Given a range of size `n` (which is 2,500 in the default case), attempt to retrieve up to `n + 1` responses from the database.
2. If the number of responses returned is less than or equals to `n`, then we say that the result set does not exceed the size, otherwise we say it does.

@kanghj yep just tested the number of respondents issue for the

[2016-08-21 04:23] damithc commented on #6020
This looks like a case of student being moved to another team after the responses were submitted. The submission adjustment did not work due to a different problem (different issue). In future, the submission page should be resilient to this kind of errors in data.

[2016-08-21 04:26] damithc commented on #6014
May be 2500 is a bit too high? 5 such requests in parallel is already 25000 responses. That may be ok in normal cases, but can crash if the server is already near memory limit.
Yes, it's better if we can limit the number of parallel ajax requests but I thought that's controlled by the browser.

[2016-08-21 04:28] damithc commented on #6014
Perhaps auto-load the first 2 questions only? Or not auto-load at all?

[2016-08-21 05:08] chowyb commented on #6014
Just tested out not auto-loading at all, and it does not work too well on the other views as the topmost panel for "No specific recipients" will disappear when clicked on if there are no responses for that panel, which would not leave a good impression on the user. Other panels where no responses are present will still display properly. As such, I would recommend auto-loading at least the first qu

[2016-08-21 06:09] JosephineKwa commented on #6017
It doesn't access all sessions but it does try to retrieve all the responses for a session

[2016-08-21 07:15] damithc commented on #6017
That may be too much memory for bigger sessions. Need to figure out a way to do it in a cheaper way. Perhaps do it for one modified student at a time and retrieve only responses related to that student?

[2016-08-21 07:29] damithc commented on #6014
1. Yes, we can auto-load just the first one, and do that only in question view.
2. We can have an additional parameter `autoload=true` that uses the current behavior. Then, we can use that parameter during testing

[2016-08-21 07:36] JosephineKwa commented on #6019
This check is already in place for when the user attempts to download the entire set of results. However the limit for the response size is 10000. Perhaps we could reduce it to 1000 (or even less)?

[2016-08-21 07:50] damithc commented on #6018
Needs an immediate fix. This is worse than closing reminders not working.
@wkurniawan07

[2016-08-21 07:53] damithc commented on #6018
Perhaps add the whole job into the task queue which will then spawn more tasks for each session, and so on? From what I remember, tasks get a 10 minute window to execute, unlike normal requests that get only 1 minute.

[2016-08-21 08:54] damithc commented on #6018
Looks like we have lot of legacy sessions with 'sentOpenEmail' set to false for some reason.
We can either add an additional filter to restrict results to sessions with open time in next 48 hours and/or correct the sessions with the wrong flag.

[2016-08-21 09:36] damithc commented on #6018
![image](https://cloud.githubusercontent.com/assets/1673303/17836445/baf6465c-67c5-11e6-879d-0f24ae774258.png)

[2016-08-21 09:42] damithc commented on #6019
Let's reduce it to 2k and see how it goes.

[2016-08-21 10:06] damithc commented on #6018
Confirmed filtering by endDate solves the problem. I deployed a hack to test it out.
Here's the hack:
[code]
Private sessions are filtered out at this method (cannot have more than one inequality in the query)
[code]

[2016-08-21 13:10] wkurniawan07 commented on #6018
I'll try to apply that in all four (or more?) reminder emails.

[2016-08-21 16:00] damithc commented on #6018
You may want to use a 96 hour window for filtering (i.e. `t-48` .. `t+48`) so that any missed reminders in the past 48 will be taken care of as well.

[2016-08-22 00:45] damithc opened #6024 "Instructor view results: names are mangled when no enough space"
![image](https://cloud.githubusercontent.com/assets/1673303/17840923/c146e23a-6844-11e6-9c61-19a7a8a1b6d9.png)

[2016-08-22 00:52] damithc opened #6025 "Past session with 'sentOpenEmail' incorrectly set"
![image](https://cloud.githubusercontent.com/assets/1673303/17840957/967825fe-6845-11e6-8998-95ce26e52bb0.png)

If the deadline is in the past the flag should be set to true, even if the alert was not sent out?

[2016-08-22 01:20] damithc commented on #6014
I can reproduce this error by loading the results page of a session. 5x5 students, 10 team questions. The total number of responses is not that high, yet it causes a server crash. Only 2 questions loaded. The other 8 went down with the server. Sounds odd right?

[2016-08-22 01:27] damithc commented on #6014
I tried loading 3 questions (by manually clicking on the panels) in parallel, and it worked. 4 questions worked too. So our solution of auto-loading only one might bring a respite but it's still odd.

[2016-08-22 08:35] rclakmal commented on #6024
Will look in to this.

[2016-08-22 16:37] #6010 closed

[2016-08-23 00:45] damithc commented on #6018
Is this going to be fixed soon? Currently I have to run my hack manually every hour.

[2016-08-24 09:03] damithc opened #6030 "Instructor result download: xlsx file taking longer than csv file"
I have a case where csv file is downloaded almost immediately but the xlsx file time out.

[2016-08-24 09:03] damithc commented on #6030
@rclakmal any reason xlsx takes significantly longer than the csv file?

[2016-08-24 10:12] rclakmal commented on #6030
@damithc  any more information on this specific case ?

There are some extra checks to apply different formatting for questions. Other than that, it is just distributing the file content to xlsx rows.

[2016-08-24 10:30] damithc commented on #6030
Here are some data. The 2nd of each pair is the csv file. As you can see, xlsx files takes way longer.
The top pair is for a session with 1 question and 20+ students.
The other two pairs are for a session with 80+ students and 8 questions.
![image](https://cloud.githubusercontent.com/assets/1673303/17927519/a9570174-6a28-11e6-8d4a-5f41fad49dd8.png)

[2016-08-24 11:27] rclakmal commented on #6030
Thanks @damithc ...Just to be clear, is this happening constantly for all sessions with high number of students.

I will have a look at the code to see on how we can improve slicing the rows.

[2016-08-24 12:15] damithc commented on #6030
20+ students is actually a small class. The difference in performance is applicable to both small and large classes. In large classes it can exceed 60 seconds and then a timeout.

[2016-08-25 00:08] rclakmal commented on #6030
For large files, Apache POI recommends a [streaming](http://poi.apache.org/spreadsheet/how-to.html#sxssf) API with regard to performance and memory. I'm trying out this to see whether there are any performance improvement.

[2016-08-25 00:43] damithc commented on #6030
Are the file sizes of two types different? Does the difference match the
difference in latency observed?

--
Sent from a mobile device.

[2016-08-25 02:08] damithc commented on #6030
If anything, the xslx file is smaller, so the file size is not the problem.
![image](https://cloud.githubusercontent.com/assets/1673303/17954173/ac238fc0-6aab-11e6-8e83-6efc0483e405.png)
We may have to remove xlsx feature until we figure this out. Most people will choose the xslx option and it fails for mid size courses and large courses.

[2016-08-25 02:09] damithc commented on #6030
The two options using two different methods to retrieve data? Or are they using the same code at database level?

[2016-08-25 07:36] #5989 closed

[2016-08-25 08:23] rclakmal commented on #6030
@damithc It's the same retrieval underneath. In xslx, we do a split of csv records to fill out the of the cell contents of excel file. This is also needed to have the cell level control for formatting. This split could be expensive for large number of rows.

Shall I remove the option from the UI then ?

[2016-08-25 09:31] damithc commented on #6030
Yes, let's remove it from UI until we find a faster way to build the xlsx file. I suspect use of regex could be the culprit. regex can take long to match.

[2016-08-25 15:21] kanghj commented on #6030
![xls1](https://cloud.githubusercontent.com/assets/2216119/17974698/a7484eaa-6b19-11e6-903c-c9c35605f517.png)

@damithc, @rclakmal, I guess some of our regexes are responsible here, but some Apache POI's methods seems a bit slow too.

[2016-08-26 01:11] damithc commented on #6030
Thx hong Jin. This shows performance bottlenecks can come from unlikely
places. :-p

--
Sent from a mobile device.

[2016-08-26 08:03] #6024 closed

[2016-08-26 08:07] #5986 closed

[2016-08-26 09:11] rclakmal commented on #6030
Thanks @kanghj ...the split with regex seems to be the main culprit though

[2016-08-27 19:16] paradite opened #6034 "Lines of code (LOC) count in README is not accurate"
The current README shows this:
![screen shot 2016-08-28 at 2 55 47 am](https://cloud.githubusercontent.com/assets/1209810/18029471/4ed52d48-6ccb-11e6-98cb-3d50c15119a3.png)

Which differs significantly from what I gathered from `cloc` on latest master branch:
[code]

Based on the issue #336,  I also looked at the analysis from this website:
https://www.openhub.net/p/teammates/analyses/latest/langu

[2016-08-28 05:55] damithc opened #6035 "Use task queues for join reminders"
Join reminders are liable to fail for big courses.
In fact we should use task queues for any mass email function as the third party mail service can take long to send emails.

[2016-08-28 05:58] damithc commented on #6034
We don't count most of the HTML files as they are generated by test scripts.
We do count comments because they are written by developers.
The correct openhub URL to check is https://www.openhub.net/p/teammates-on-github/analyses/latest/languages_summary
The one you checked points to an old repo.

[2016-08-28 06:09] #6034 closed

[2016-08-28 12:23] wkurniawan07 commented on #6035
Course join reminders are already using task queue. #6011 #6013

[2016-08-28 13:00] wkurniawan07 commented on #6034
@paradite the issue still stands though; although not as bad as how you thought it was, the LoC count is still inaccurate. In addition, the third-party JS files are not counted because we don't own them.

@damithc I thought this is the one, as used in our README? https://www.openhub.net/p/teammatesonline

[2016-08-28 13:02] wkurniawan07 opened #6036 "Ignore TinyMCE style definitions instead of using placeholders"
Somehow this stops #5888 from getting a passing build. No big deal in ignoring this because it's auto-generated by TinyMCE.

[2016-08-28 13:14] damithc commented on #6034
Yes, https://www.openhub.net/p/teammatesonline is the more accurate one. It omits the test resources folder.

[2016-08-28 13:15] damithc commented on #6034
As long as the numbers are not grossly unrepresentative, it's ok to be off by a few KLoC.

[2016-08-28 13:20] damithc commented on #6035
I see. Closing.

[2016-08-28 13:20] #6035 closed

[2016-08-28 15:57] #6030 closed

[2016-08-28 17:48] wkurniawan07 commented on #6018
Fixed in #6029

[2016-08-28 17:48] #6018 closed

[2016-08-28 17:48] wkurniawan07 commented on #6011
Fixed in #6013

[2016-08-28 17:48] #6011 closed

[2016-08-28 17:49] wkurniawan07 commented on #5999
Fixed in #6001

[2016-08-28 17:49] #5999 closed

[2016-08-28 17:49] wkurniawan07 commented on #6019
Fixed in #6022

[2016-08-28 17:49] #6019 closed

[2016-08-29 09:16] #5992 closed

[2016-08-29 09:58] #6036 closed

[2016-08-29 10:02] #5891 closed

[2016-08-29 10:05] #5481 closed

[2016-08-30 12:48] #5943 closed

[2016-08-30 12:53] #5988 closed

[2016-08-30 15:15] kanghj opened #6040 "Remove student entity class once migration is complete"
As a result of #4469, the old Student entity is obsolete and can be removed. They also cause extra db queries right now.

[2016-08-31 06:06] wkurniawan07 commented on #5987
Release 228

Code contributions from: @Gisonrg, @rclakmal, @pratyoushs, @tarun14110, @wkurniawan07
Review contributions from: @damithc, @JosephineKwa, @junhaoyap, @wkurniawan07, @chowyb

Sprint Velocity: 27 hrs (code) + 17 hrs (review) = 44 hrs (total)

[2016-08-31 06:09] wkurniawan07 opened #6043 "Release V5.89"

[2016-08-31 06:09] wkurniawan07 opened #6044 "Update about.jsp with contributors from V5.89"

[2016-08-31 12:25] wkurniawan07 opened #6045 "Create JSON data bundle regenerator"
Notice that it's **re**generator instead of generator, meaning it will just read existing data and regenerate it. Advantages:
- Standardized coding standard
- Duplicate fields will be caught
- Outdated fields will be rid of
- Missing fields will be updated

This has been field-tested and the number of violations is unbelievable.

[2016-09-01 17:14] #5994 closed

[2016-09-02 06:12] wkurniawan07 commented on #6040
Fixed in #6047

[2016-09-02 06:12] #6040 closed

[2016-09-02 08:17] #5982 closed

[2016-09-03 00:57] damithc opened #6048 "instructor view results by recipient, question, giver : wrong section expands"
Clicking on the first panel results in expanding a different section.
![image](https://cloud.githubusercontent.com/assets/1673303/18221686/66be3ec0-71b4-11e6-99d1-6df4b3baa015.png)

[2016-09-03 23:50] myang310 commented on #3870
Hi. I am interested in contributing to my first OSS project. I'd love to tackle this, but what should the new name be?

[2016-09-04 12:06] mun711 opened #6049 "InstructorCourseEnrollPageUiTest: fix failure when a non-English language setting is used"
The test fails assertion

[code]

The page title assertion assumes English language but the actual title is in Romanian, so maybe the language preferences for docs.google.com should be set.

[2016-09-05 08:55] junhaoyap commented on #6048
Clicking on the first panel results in expanding a different section -> Can we have more information?

1. Clicking on the first panel results in only an entirely different section expanding
2. Clicking on the first panel results in both the section expanding as well as an entirely different section expanding

[2016-09-05 09:52] junhaoyap commented on #6048
In any case, if this is a recent thing - my guess on the issue is the recent AJAX auto changes:

![screen shot 2016-09-05 at 5 20 36 pm](https://cloud.githubusercontent.com/assets/6291947/18243299/19896b5e-738d-11e6-846f-631133cc9664.png)

particularly the ```return``` statement and something like ```section-0``` will result in us hitting the return statement, clicking on that row might trigger so

[2016-09-05 10:35] junhaoyap commented on #5980
We can add a warning that pops if and only if the visibility change is being submitted when there are already responses? @damithc

[2016-09-05 12:37] damithc commented on #5980
That's too late. We already do something like that.

[2016-09-06 20:40] dp80 opened #6050 "Zip exception during dev env setup"
Following exception is returned when running: `gradlew appengineDownloadSdk` from console.

`Exception in thread "main" java.util.zip.ZipException: error in opening zip file
    at java.util.zip.ZipFile.open(Native Method)
    at java.util.zip.ZipFile.<init>(ZipFile.java:215)
    at java.util.zip.ZipFile.<init>(ZipFile.java:145)
    at java.util.zip.ZipFile.<init>(ZipFile.java:159)
    at org.grad

[2016-09-06 21:08] dp80 commented on #6050
It seems like the zip file that was downloaded would not extract.  So i was able to get around by manually downloading and placing it in the expected path.

[2016-09-07 10:45] chowyb opened #6051 "Add TimeKeeper class"
The `TimeKeeper` class will be used to manually throw `DeadlineExceededException` earlier than the Google App Engine default (at 1 second left), to allow more time for the code to catch and handle the exception.

[2016-09-07 12:23] wkurniawan07 opened #6053 "Feedback session closed email not working properly in non-UTC timezone"

[2016-09-07 16:32] Sainath2236 commented on #5879
hi... i want to help for this issue..

[2016-09-07 20:03] junhaoyap commented on #3870
Hi @myang310! Thank you for your interest! It's also suggested you introduce yourself to us in the issue page when you get the chance to!

In the mean time, I'm going to suggest that we change both ```AppPageUiTest.java``` to what it does ```AppTableSortingTest.java``` and ```appPage0.html``` should be correspondingly named as ```AppTableSortingTestPage.html```

Is that ok @damithc and any suggest

[2016-09-09 08:59] #3705 closed

[2016-09-11 10:55] kanghj commented on #6021
Does this still happen after #6040?

[2016-09-11 11:40] damithc commented on #6021
Seems to be ok now. I was able to load a course with 1000 students without a problem.

[2016-09-11 11:40] #6021 closed

[2016-09-12 01:47] damithc opened #6056 "Submission confirmation email is not working"
Some users have complained that they did not receive the submission confirmation email. I tried to submit a sample session on the live server and I did not get a confirmation email either.

[2016-09-12 01:47] damithc commented on #6056
@tarun14110 can you have a look?

[2016-09-12 01:49] damithc commented on #6056
The code we are using on live server is in the `release` branch.

[2016-09-13 06:09] #6006 closed

[2016-09-13 10:04] #5983 closed

[2016-09-13 10:07] wkurniawan07 commented on #6053
Fixes in #6055.

[2016-09-13 10:07] #6053 closed

[2016-09-13 11:01] #6045 closed

[2016-09-13 18:30] dp80 commented on #5995
Can i fix this if it is not in progress already?

[2016-09-13 19:51] dp80 opened #6060 "New contributor self intro [Dhiren]"
1. my teammates app: **https://teammates-dhiren.appspot.com**
2. my github fork: **https://github.com/dp80/teammates**
3. For my first commit i addressed issue #5995.
4. As reported, it look like this now:
![991a34a0-649e-11e6-9fcd-8b3f1d0a6aa9](https://cloud.githubusercontent.com/assets/619498/18488227/2eac907e-79be-11e6-9e38-491bfe1bb387.png)

After the fix:
![9-13-2016 2-04-28 pm](https://cloud

[2016-09-14 07:24] #5956 closed

[2016-09-14 07:26] #6056 closed

[2016-09-14 07:28] #5336 closed

[2016-09-14 16:07] #6044 closed

[2016-09-14 16:19] wkurniawan07 commented on #6043
Release 229

Code contributions from: @pratyoushs, @belyabl9, @tarun14110, @wkurniawan07
Review contributions from: @damithc, @junhaoyap, @wkurniawan07, @chowyb

Sprint Velocity: 18 hrs (code) + 10 hrs (review) = 28 hrs (total)

[2016-09-16 12:12] damithc opened #6063 "Exception thrown trying to retrieve CourseStudent"
[code]

[2016-09-16 12:13] damithc commented on #6063
Got a handful of these from the live server at V5.88

[2016-09-16 12:22] damithc opened #6064 "'email is being used' error while enrolling students"
I was using the enroll feature to update student names, and I got a few 'email is already being used' errors (of course the email is being used because I was trying to update student names). It didn't happen for all students (3 cases for 264 students). They went away upon multiple tries. I guess it's related to eventual consistency.

[2016-09-16 22:23] damithc commented on #6043
Deployed

[2016-09-16 22:23] #6043 closed

[2016-09-16 22:24] damithc commented on #6060
Welcome to TEAMMATES @dp80

[2016-09-17 05:37] damithc commented on #5995
@dp80 sure go ahead.

[2016-09-18 19:18] wkurniawan07 opened #6065 "Code base cleanup"
There are many mistakes/non-standard practices that have been in the repo since time immemorial, and some that are newly introduced.

[2016-09-20 01:26] damithc opened #6067 "Some students cannot access profile pic"
Some students seem to encounter this error when they try to view team.

[code]

[2016-09-20 01:27] damithc commented on #6067
Some other students don't face this problem them.

[2016-09-20 08:28] thyageshm commented on #5566
Is this still a valid issue? I cant find the file or the occurrence of "receipient"

[2016-09-21 09:04] wkurniawan07 commented on #6067
This is experienced by an instructor, not a student. Are there more details on this?

[2016-09-21 11:49] junhaoyap commented on #6060
Hi @dp80, welcome to the TEAMMATES community!

Good job on setting up as well as deploying your own fork to the staging server! I see you have already started contributing by having an ongoing fix of an issue labeled d.FirstTimers (do just one of this), afterwards you can move on to issues labeled d.Contributors (recommended). Looking forward to more of your contributions!

[2016-09-21 14:13] damithc commented on #6067
It was a student, but the code thought it is an instructor. I confirmed it just now.

[2016-09-21 15:58] kanghj commented on #5566
This shouldn't be valid anymore since that page was removed.

[2016-09-21 15:58] #5566 closed

[2016-09-22 05:38] thyageshm commented on #5460
Can I try this one?

[2016-09-22 07:43] thyageshm commented on #6067
Sir are you sure ANY of the students are able to view their team's profile pictures? According to the code none of the students should be able to view their team members' profile pictures

[2016-09-22 07:52] thyageshm commented on #6067
![image](https://cloud.githubusercontent.com/assets/5160137/18740469/729d6cc0-80dc-11e6-98d6-58c40eeea4fb.png)
The highlighted line only allows instructors to view the student's profile picture. This has to be updated to "both instructors and team members of the student can view the picture"

[2016-09-22 13:45] damithc commented on #6067
Looks like no student can see the pictures. When I masquerade as a student in my own course, I can see the pictures. That means not only it's checking wrong level permissions, it's also not taking into account the masquerading. I shouldn't be able to see pictures if I'm masquerading as the student.

[2016-09-22 13:47] damithc commented on #6067
Looks like this feature was not tested properly.

[2016-09-22 15:54] YongJieYongJie opened #6070 "Response deletion warning message not shown when visibility edited"

[2016-09-23 00:59] damithc commented on #5460
Go ahead.

[2016-09-23 07:22] #6065 closed

[2016-09-23 13:21] ManrajGrover commented on #5101
@kanghj I'll take this one up. Please assign this issue to me.

[2016-09-23 16:25] kanghj commented on #5101
@ManrajGrover, thanks for your interest in this. There's no need to get assigned to work on an issue. Just make a pull request following our [development process](https://github.com/TEAMMATES/teammates/blob/master/devdocs/process.md) when you are ready.

[2016-09-24 16:47] wkurniawan07 commented on #6070
Fixes in #6071

[2016-09-24 16:47] #6070 closed

[2016-09-25 19:41] stevesimpson4375 opened #6073 "New contributor self intro Steve Simpson"
a. A link to my app: https://4-18-dot-teammates-stevesimpson.appspot.com/
b. A link to my fork: https://github.com/stevesimpson4375/teammates
c. I added additional text to the search tips box. There is now a third tip that identifies the wildcard character
![image](https://cloud.githubusercontent.com/assets/8096950/18817665/4485686a-8334-11e6-9b1f-44944e54de73.png)
![image](https://cloud.githubuse

[2016-09-26 08:54] thyageshm opened #6074 "Redundant CSS definition for padding-top-0"
![image](https://cloud.githubusercontent.com/assets/5160137/18828208/51b47ce4-8409-11e6-9bc5-1177abe9110e.png)

- remove definition on line 252
- change definition on line 279 to:
.padding-top-0,
.padding-top-0.checkbox {
    padding-top: 0;
}

[2016-09-26 09:01] thyageshm commented on #5460
is this ok?
![image](https://cloud.githubusercontent.com/assets/5160137/18828408/5c820640-840a-11e6-81b2-df0d380ddb5f.png)

Reducing that space alone results in responsiveness issues (at some screen widths the words break to two lines while the select tag remains in the first line. OR right aligning it causes issues in small devices)

[2016-09-26 09:22] thyageshm commented on #5460
Here's the result I can get with more code change:
![image](https://cloud.githubusercontent.com/assets/5160137/18829144/9257a498-840d-11e6-9ff8-c28dfc423afe.png)
![image](https://cloud.githubusercontent.com/assets/5160137/18829159/a137f670-840d-11e6-898d-9240354a5e69.png)
![image](https://cloud.githubusercontent.com/assets/5160137/18829175/b31c46b6-840d-11e6-8f06-a1738e420240.png)
![image](https:/

[2016-09-26 12:06] damithc commented on #5460
It can be misleading when the two check boxes appear together one below the other. Can we prevent that, or at least show a separator between the two?

[2016-09-26 12:09] damithc commented on #6073
Welcome to TEAMMATES @stevesimpson4375 :-)
Kudos on completing this step. Looking forward to your first PR.

[2016-09-26 12:09] #6073 closed

[2016-09-27 01:11] damithc commented on #6063
Getting more of these. @kanghj any idea?

[2016-09-27 15:03] kanghj commented on #6063
Do we know what the full registration key look like? Is it something like the one mentioned in  https://github.com/TEAMMATES/teammates/pull/6041#r77007568?

I don't think it's a new error though, just that this exception has always been silenced beforehand.

[2016-09-27 15:08] #6060 closed

[2016-09-27 15:09] wkurniawan07 commented on #5971
Does this still occur?

[2016-09-27 15:20] damithc commented on #5971
Not in recent times.

[2016-09-28 14:30] damithc commented on #6063
I checked one case. yes, it stats with `ag`. It's something like `ag1zfnRlYW1tYXRlc3Y0chQLEgdKdHVkZW50GICAgKbg5Z8KDA`

[2016-09-28 14:31] damithc commented on #6063
So the good news is some of our very old users are still with us :-)

[2016-09-29 01:36] damithc opened #6078 "'Instructor only' visibility is buggy"
![image](https://cloud.githubusercontent.com/assets/1673303/18938029/0dccf0c6-8628-11e6-81b1-d79b43f6908c.png)

[2016-09-29 01:36] damithc commented on #6078
@YongJieYongJie need a fix urgently

[2016-09-29 13:26] YongJieYongJie commented on #6078
@damithc May I check what is the feedback path? I tried all the various combinations of the feedback giver and recipient but could not reproduce the error.

[2016-09-29 13:35] damithc commented on #6078
Students --> own team
In this case 'receiver's team members' is same as 'givers team members'. The former is not shown but seem to default to 'ticked'

[2016-09-29 13:38] damithc commented on #6078
![image](https://cloud.githubusercontent.com/assets/1673303/18956164/ff4cd646-868c-11e6-9e0a-3259bb51d57e.png)

[2016-09-29 13:41] damithc commented on #6078
Actually, I can't reproduce in the essay question (above screenshot) but can reproduce it in this one:
![image](https://cloud.githubusercontent.com/assets/1673303/18956252/5cb8d1d6-868d-11e6-9679-403d939f4529.png)

[2016-10-01 03:50] damithc commented on #6067
@tarun14110 can you fix this?

[2016-10-03 10:58] #5798 closed

[2016-10-03 11:02] #5226 closed

[2016-10-03 11:05] #6074 closed

[2016-10-03 11:40] #6064 closed

[2016-10-03 15:08] DanielPBak opened #6083 "IRC / communications"
Hi, I'm a potential contributor. I was wondering if there's an IRC channel or some other communication channel for this project. The docs say that most communication happens on the Issues tracker, but I find it hard to believe that a project of this scale and survive without some sort of chat room. Am I wrong?

Dan

[2016-10-03 15:14] damithc commented on #6083
Hi @DanielPBak
Our issue tracker doubles as a discussion board. If you have a question, just post an issue in the issue tracker, like you did just now. :-)

[2016-10-04 16:24] wkurniawan07 opened #6085 "Increase testability and test coverage of JS code"
Currently our JS test coverage is very bad (not even 30%) because:
- We don't actually enforce test coverage (there was an instance where it was enforced at 30% but relaxed to 25%, the current limit).
- The current JS codes are not written to be testable, be it in unit or in system.

This will be handled in multiple PRs which will tackle the JS codes slice-by-slice.

[2016-10-04 17:34] wkurniawan07 opened #6086 "Refactor BackDoor slice"
This is definitely missed in any slice refinement attempts. Currently it contains many unused variables/methods and sub-optimal practices. Classes included:
- BackDoor
- BackDoorServlet
- BackDoorLogic
- BackDoorTest
- BackDoorLogicTest

[2016-10-05 03:08] wkurniawan07 commented on #6078
Fixed via #6079

[2016-10-05 03:08] #6078 closed

[2016-10-05 03:14] #5987 closed

[2016-10-05 03:52] wkurniawan07 commented on #5862
This is impossible to happen now, as @tarun14110 has mentioned.

[2016-10-05 03:52] #5862 closed

[2016-10-05 07:48] wkurniawan07 opened #6088 "Move scripts to the page bottom instead of top"
It is a common practice for boosting web performance because putting scripts on top blocks parallel downloads (and thus make the webpage load slower, especially so when the scripts are large).

[2016-10-05 07:56] damithc commented on #6088
Is there any downside?

[2016-10-05 08:17] wkurniawan07 commented on #6088
All sorts of literature, stackoverflow posts, etc. recommends putting scripts just before the closing `</body>` tag as well, unless they are absolutely necessary on top or somewhere in the body.

I can attest to that: pages do load faster, or at least we get the "illusion" that they are because the script is loaded after the DOM, thus we don't see empty white page for an extended period of time (t

[2016-10-05 08:20] damithc commented on #6088
I think we have some pages with 'onLoad' event wired to a JS function. Will they still work if the script is at the bottom?

[2016-10-05 08:27] junhaoyap commented on #6083
Hi @DanielPBak, welcome to the TEAMMATES community!

As mentioned by @damithc, our issue tracker doubles as a discussion board! Looking forward to your first contribution and more 👍

[2016-10-05 08:29] wkurniawan07 commented on #6088
[code]
`onload` is triggered only when the body is completely loaded, and that includes the script inside, so there is no effect on correctness.
(although we don't have any body onload, this should serve as a good enough example)

[2016-10-05 10:51] wkurniawan07 opened #6089 "Improve the noscript portion"
Discovered when attempting #6088. There are three problems with our `noscript` code:
- Duplicated: there are `enableJS.jsp` and `enableJS.tag`
- Misplaced: it should be on `body`; if it's on `head` it only admits `head`-specific tags such as `style`, `meta`, `link` ([reference](http://www.w3schools.com/tags/tag_noscript.asp))
- Not testable

[2016-10-05 14:19] DanielPBak opened #6091 "Cannot initialise Google App Engine sdk"
I am at the "Setting up the Dev Server" stage of setting up the development environment.

daniel@beepboop:~/teammates$ ./gradlew printUserHomeDir
:printUserHomeDir
Your Gradle user directory is: /home/daniel/.gradle

BUILD SUCCESSFUL

Total time: 5.017 secs

This build could be faster, please consider using the Gradle Daemon: https://docs.gradle.org/2.12/userguide/gradle_daemon.html

However, when

[2016-10-05 16:41] wkurniawan07 commented on #6091
Hi @DanielPBak, Eclipse requires the directory of the precise version of the SDK, not the Gradle user home. Likely for your case is `/home/daniel/.gradle/appengine-sdk/appengine-java-sdk-1.9.27`.

[2016-10-07 02:02] #1563 closed

[2016-10-07 02:50] damithc opened #6092 "Sessions: student view results: stop showing a random identifier for anonymous responses"
Currently, all answers by the same student will have the same anonymous identifier e.g., `Anonymous Student 2322423`. That is good to have in some contexts, but some instructors don't want such traceability between responses from the same anonymous respondent. ~~An option to turn it on/off would be nice to have.~~
~~EDIT: we can go back to fully randomized anonymous identifiers. Making it an optio

[2016-10-07 06:26] wkurniawan07 commented on #6092
Duplicate of #4597?

[2016-10-07 09:22] damithc commented on #6092
Yes.

[2016-10-07 14:29] wkurniawan07 commented on #6092
Re-opening this and closing the other one instead to make it more updated.

[2016-10-07 14:30] wkurniawan07 commented on #4597
Superseded by #6092.

[2016-10-07 14:30] #4597 closed

[2016-10-08 00:41] damithc opened #6093 "instructor edit visibility: wrong visibility shown"
This is an essay question.
![image](https://cloud.githubusercontent.com/assets/1673303/19208869/bd004b5e-8d32-11e6-8759-ec133f74c763.png)

[2016-10-08 01:07] damithc opened #6094 "Instructor: edit question visibility: fix assertion error"
[code]

[2016-10-08 01:10] damithc commented on #6094
Looks like the UI is sending invalid visibility options

[2016-10-08 01:18] damithc opened #6095 "Instructor: edit visibility/path: warn if user click on first level options"
Some instructors click on these and complain nothing happens
![image](https://cloud.githubusercontent.com/assets/1673303/19209203/24557e28-8d38-11e6-8772-c175a323cfda.png)

[2016-10-08 14:39] shr7 commented on #5252
Hi, @chowyb  since @AakanxuShah  has decided to work instead on #5603 can I take up this one?
I am new to open source contributions.

[2016-10-08 18:49] YongJieYongJie opened #6097 "Response deletion warning message sometimes not shown when question edited"
Related to #6070

[2016-10-09 04:29] #6089 closed

[2016-10-09 08:35] damithc opened #6099 "student feedback submit: Untick 'send confirmation email' option by default"
This will help to reduce our email volume
![image](https://cloud.githubusercontent.com/assets/1673303/19219151/5d63725e-8e3e-11e6-845f-44cbb4976afc.png)

[2016-10-09 09:04] #5217 closed

[2016-10-10 06:28] #5305 closed

[2016-10-10 13:42] damithc opened #6101 "Submission confirmation email: the time stamp given in the email is incorrect"
The time should be based on user's time zone, not the server's time zone.
![image](https://cloud.githubusercontent.com/assets/1673303/19238070/5f4021a4-8f32-11e6-9bde-de74bb71d617.png)

[2016-10-12 10:19] #5995 closed

[2016-10-12 19:52] afparsons commented on #5103
Made a rookie mistake. I'll have a fix soon.

[2016-10-15 14:43] #6083 closed

[2016-10-15 14:43] #6091 closed

[2016-10-16 01:50] damithc opened #6106 "Email copy sent to instructor at session close: mention it is a copy"
The email should say 'The following email has been sent to students' at the beginning.

[2016-10-16 10:39] kanghj commented on #6092
For the UI, where should this option be shown to the instructor?

[2016-10-16 11:20] damithc commented on #6092
Good question.  It applies across questions, so I guess we have to put it among the main session settings. Perhaps we fully randomize by default and not give an option? I think more users prefer it to be fully randomized.

[2016-10-18 03:02] damithc opened #6107 "Update user map for Jul-Sep 2016"
Here are the entries to consider:

[code]

[2016-10-19 03:21] #5252 closed

[2016-10-19 04:00] connorkendrick commented on #6107
I see that the user map update #5879 for June, as well as the map update #5538 for May haven't been submitted yet. Should I go back and complete those before working on this?

[2016-10-19 17:58] junhaoyap commented on #6088
The trade-off (whether it is a downside or not depends on perspective) when we do this ->

Users will get to see the HTML generated BEFORE the JavaScript is loaded, aka if some UI depends on JavaScript to be shown or depends on JavaScript to be styled, it might look awkward until JavaScript is loaded (this is not noticeable by users with good data connectivity)

[2016-10-20 08:53] #5251 closed

[2016-10-21 07:18] #5103 closed

[2016-10-23 15:45] wkurniawan07 commented on #6106
I don't think it's meant to be a "copy" in the first place ([reference](https://github.com/TEAMMATES/teammates/pull/5739#r70785607)). Then again, our policy is very vague: when to send only to students and instructors get a copy, and when to send also to instructors?

[2016-10-23 18:14] sznicci commented on #6106
Hi, I was thinking about fixing this. I have read the conversation @wkurniawan07 linked, but I am still a little bit confused.

What is the intended behavior? Is there anything to be done here?

[2016-10-24 01:01] damithc commented on #6106
It is worded to address respondents. In most cases instructors are not respondents. So a copy makes more sense in most situation. However, this is not that important. I'm lowering the priority.

[2016-10-24 03:16] fairbet opened #6113 "New contributor self intro [fairbet]"
a) the link to your app: https://teammates-fairbet.appspot.com/

b) link to your fork: https://github.com/fairbet/teammates

c) a screenshot of the change you did (as seen on the UI) :
![new_navbar](https://cloud.githubusercontent.com/assets/21210268/19632475/d9622d28-9974-11e6-924c-2d9a6fd6227b.PNG)
I added the teammates logo to navigation bars across the site!

d) your real name and a short self

[2016-10-24 08:16] wkurniawan07 opened #6114 "Review the contents of outdated folders"
The following folders (all located in root project folder) contain files that by now are outdated and either should be removed or should be documented if still used:
- `.hubturboconfig/`
- `BackupFiles/`
- `scripts/`

[2016-10-24 08:17] wkurniawan07 commented on #6093
Fixed in #6096.

[2016-10-24 08:17] #6093 closed

[2016-10-24 09:09] #6099 closed

[2016-10-24 11:24] Gisonrg commented on #6113
Welcome to TEAMMATES! ;) @fairbet

[2016-10-24 19:16] Sivhaun commented on #5706
Where in the code do I find this?

[2016-10-24 23:15] damithc commented on #5706
@Sivhaun this may be a bit difficult to do. Have you done an issue labelled for `firstTimers`?

[2016-10-25 08:48] wkurniawan07 opened #6116 "Release V5.90"

[2016-10-25 08:49] wkurniawan07 opened #6117 "Update about.jsp with contributors from V5.90"

[2016-10-25 09:05] #6114 closed

[2016-10-25 09:08] #6117 closed

[2016-10-25 09:22] wkurniawan07 commented on #6113
Hi @fairbet, welcome to the TEAMMATES community!
Good job on setting up and deploying to your own staging server! You can contribute first to issues labelled `d.firstTimers` (do just one of this), then `d.Contributors`. Looking forward to your contributions!

[2016-10-25 09:47] wkurniawan07 commented on #6116
Release 230

Code contributions from: @connorkendrick, @dp80, @GGfpc, @kanghj, @k-thich, @pratyoushs, @petgoldfish, @stevesimpson4375, @thyageshm, @wkurniawan07
Review contributions from: @damithc, @JosephineKwa, @junhaoyap, @wkurniawan07, @chowyb

Sprint Velocity: 26 hrs (code) + 17 hrs (review) = 43 hrs (total)

[2016-10-25 17:01] ShekharReddy4 opened #6119 "Mention about participation in GSoC 2016 in README and about page"
change the readme about participation in GSoC 2016

[2016-10-25 17:08] Sivhaun commented on #5706
yes but someone submitted a pull request and it was accepted before I finished it, so when I went to submit it the issue was closed.

[2016-10-26 15:03] damithc commented on #5706
I see. Try another `firstTimer` one?

[2016-10-26 15:03] damithc commented on #5706
I see. Try another `firstTimer` one?

[2016-10-26 19:57] nsaiisasidhar commented on #5931
Hi, I want to contribute to this issue. Could you please let me know if the exception needs to propagate any error message to UI, and the associated class files to be checked for making code changes.

[2016-10-26 23:40] damithc commented on #5931
@nsaiisasidhar have you done a `forFirstTimers` issue already?

[2016-10-27 19:32] sznicci opened #6123 "New contributor self intro [sznicci]"
a) the link to your app : http://teammates-sznicci.appspot.com/

b) link to your fork : https://github.com/sznicci/teammates/tree/tinker

c) a screenshot of the change you did (as seen on the UI) :

I added an icon with different colours to the instructor and student navigation bars next to the logout like the admin has it.

![student](https://cloud.githubusercontent.com/assets/8382849/19781841/3d

[2016-10-28 02:05] MohanL commented on #6101
Hello, I am working on this. Thank you

[2016-10-28 10:10] junhaoyap commented on #6123
Hi @sznicci, welcome to the TEAMMATES community!

Great job on setting up as well as deploying your own fork to the staging server! You can contribute first to issues labelled d.firstTimers (do just one of this), then d.Contributors. Looking forward to your contributions!

[2016-10-29 10:59] damithc opened #6124 "Instructor: edit question visibility: do not delete existing responses when visibility is changed"
Occasionally, instructors delete responses accidentally while editing visibility.
Let's not delete existing responses when changing visibility. Instead, let's simply warn the instructors that the existing responses were submitted under the promise of different visibility options and they should exercise care when changing visibility after submissions.

[2016-10-29 14:58] #6088 closed

[2016-10-30 01:03] damithc commented on #6116
Deployed

[2016-10-30 01:03] #6116 closed

[2016-10-30 10:14] damithc opened #6125 "Update about.jsp to match team make up at Oct 2016"
As per title

[2016-10-31 08:38] wkurniawan07 opened #6129 "Update number of contributors in index.jsp"
From "over 130 developers" to "over 190 developers".

[2016-10-31 08:43] #6125 closed

[2016-10-31 08:44] wkurniawan07 opened #6130 "Typo in build.template.properties"
- Line 2: `confuguration` → `configuration`
- Line 4: `src\test\resources` → `src\main\resources`
- Line 5: `Use'/'` → `Use '/'` (missing space)

[2016-10-31 08:45] wkurniawan07 opened #6131 "Remove strange logging in SearchManager.java"
Line 55:
[code]

[2016-10-31 08:47] wkurniawan07 opened #6132 "Reduce the size of profile_pic_too_large.jpg"
The said image is in `src/test/resources/images/` folder.
It is ~10.5 Mb in size however it is testing a function branch that will execute at the lower limit of 5 Mb, thus the remaining ~5.5 Mb is a waste of space.
It should be replaced with another image with size just slightly above 5 Mb.

[2016-10-31 09:13] #5538 closed

[2016-10-31 09:13] #5879 closed

[2016-10-31 10:33] ManrajGrover commented on #6132
I can take this one up.

[2016-10-31 12:00] #5603 closed

[2016-10-31 12:25] ManrajGrover commented on #6130
@wkurniawan07 I can take this one too as previous contribution was not code based. I wish to do this for the same.

[2016-10-31 18:18] CalebBell opened #6135 "Consider developing a self-hosting version via AppScale"
Good afternoon,

The University of New Brunswick, Canada, has been searching for a peer evaluation tool for some time. TEAMMATES is very well featured, elegant, maintained, and open source. However, we are bound by local privacy regulations which prevent confidential student data from being stored on third party servers (except companies we are paying and have data sharing agreements with). Becaus

[2016-11-01 01:20] damithc commented on #6135
@CalebBell we might develop a self hosting version although not in the near term.
W.r.t. the restriction on putting confidential data on third party servers, many universities (even our own) have this restriction. However, they continue to use TEAMMATES by arguing that the data put on TEAMMATES is not really 'confidential' in the spirit of what the restriction seek to protect.

[2016-11-01 01:22] gkapoor6 commented on #6131
Can take this one!

[2016-11-01 08:24] #6119 closed

[2016-11-01 11:25] #6132 closed

[2016-11-01 13:48] damithc opened #6136 "Add external reviews to the website"
We can list 3rd party reviews somewhere in the website, once we have enough.
Here are some:
https://cit.duke.edu/blog/2016/01/teammates/
https://telic.wordpress.com/2015/11/13/teammates-peer-feedback-system-review/
http://www.cabvroanoke.org/presentations/CABV486.pdf

[2016-11-03 03:12] damithc opened #6138 "Error in validateQuestionGiverRecipientVisibility"
We've been getting a few of these recently.
[code]

[2016-11-03 15:25] #6107 closed

[2016-11-03 15:28] #6131 closed

[2016-11-03 15:41] #6113 closed

[2016-11-03 15:41] #6123 closed

[2016-11-03 15:41] #6050 closed

[2016-11-03 18:14] jakers821 commented on #6129
Is anyone doing this? Do you mind if I jump in?

[2016-11-05 04:42] jakers821 commented on #6129
Fixes #6129

Changed line 57 from "130" to "190"

[2016-11-05 19:41] wwSchrader opened #6143 "Missing link in the Orientation Guide"
Hello!

I was following along in the Orientation Guide when I came to the following point in the orientation task list:

The problem is that there is no link to the instructions referenced. I'm guessing there should have been a link to the settingUp doc,

[2016-11-06 03:54] nsaiisasidhar commented on #1499
Hi, can you please let me know if there is any criteria on how to specify a particular parameter value, needs to be appended to parameter keys in **ActionURIs** in mashup.jsp

[2016-11-06 04:01] nsaiisasidhar commented on #1499
Hi, can you please let me know if there is any criteria on how to specify a particular parameter value, needs to be appended to parameter keys in ActionURIs in mashup.jsp. For example, **fsname** = _First+feedback+session_ and **_courseid_** = _CS2104_.

[2016-11-06 05:56] nsaiisasidhar commented on #1499
Hi, I submitted a pull request with required code changes to mashup.jsp

I request other aspiring contributors, not to submit any pull requests for this issue, as I want to have this as my first issue.

In case any corrections are to be made (such as in the key-value pairs appended to URI's), please let me know, I'll make them promptly.

[2016-11-07 06:33] #5922 closed

[2016-11-07 06:35] #6129 closed

[2016-11-07 13:44] #6143 closed

[2016-11-07 13:49] wkurniawan07 commented on #1499
Outdated; instructor comments page and student comments page have both served to display how comments are shown in the UI.

[2016-11-07 13:49] #1499 closed

[2016-11-07 13:50] wkurniawan07 opened #6146 "Add usermap page to mashup.jsp"
It should be under "Static Pages".

[2016-11-07 19:28] nsaiisasidhar commented on #6146
Hi, can you please let me know if it has to be placed after Instructor Help page. (at the end of list of static pages)

[2016-11-08 04:49] damithc opened #6148 "Update user map for Oct 2016"
Similar to #5250
Here are the new data:
[code]

[2016-11-08 15:53] damarray opened #6149 "New contributor self intro damarray"
Hi,
As we forgot at the first time, here is some information about us.
We are two students, Dorian Bourcet and Dris Amarray from Collège de Rosemont (QC, Canada). We are glad to contribute to the Teammates project.

**Link to our fork** : https://github.com/damarray/teammates

The changes we did are about HTML external links on pages index.jsp, about.jsp, contact.jsp.
We corrected some invalid lin

[2016-11-09 23:57] nsaiisasidhar commented on #6136
Hi, I like to work on this issue. Please let me know where they need to be displayed, is it on Home page ? Also assign this issue to me.

[2016-11-10 01:15] hbrock commented on #6148
I would like to work on this if it's not already been done.

[2016-11-10 10:51] wkurniawan07 commented on #6149
@damarray good job on setting up the dev environment! :+1: The orientation guide also specifies deploying to staging server, so it'd be good if you do that and report back here as well.
Anyway, I recognise that there are invalid (more like outdated though) in many of our static pages. Feel free to open an issue and work on it!

[2016-11-10 10:52] wkurniawan07 commented on #6148
@hbrock you do not need to be assigned to work on any issue, feel free to submit a pull request once you've worked on it. Remember to follow [our workflow](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md).

[2016-11-10 10:53] wkurniawan07 commented on #6136
@nsaiisasidhar this issue might need to be delayed until we get more reviews. Work on something else first?

[2016-11-10 10:57] wkurniawan07 opened #6150 "Integrate stylelint for CSS code quality check"
As per title; here is [stylelint](http://stylelint.io).
It has a close rival [csslint](http://csslint.net) but stylelint is the clear winner.

[2016-11-10 12:01] #6146 closed

[2016-11-10 21:43] hbrock commented on #6148
The project is using JDK 7 and not JDK right?

[2016-11-11 07:25] wkurniawan07 commented on #6148
@hbrock I presume you mean "not JDK 8", in which yes it is; a restriction imposed by Google App Engine.

[2016-11-12 23:34] nsaiisasidhar commented on #6097
Hi, I like to work on this issue. Can you please let me know if **trigger.('change')** is the event that needs to be fired for showing the response deletion warning message. Also as I am new to this project, I am having a difficult time to find the associated JS file, which needs to be edited, so can you please tell me which is JS file that handles events of question edit.

[2016-11-13 00:27] nsaiisasidhar commented on #5561
Hi, I like to contribute to this issue. Can you please let me know if its studentsComments.jsp or instructorComments.jsp to refer to get an idea on how it's implemented.

[2016-11-13 02:55] damithc commented on #6097
@nsaiisasidhar perhaps take an easier issue [labelled for `contributors`](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors) instead?

[2016-11-14 00:37] nsaiisasidhar commented on #4127
Hi, can you please let me know what the target names should be for the JS file and the two CSS classes above.

[2016-11-14 22:11] sznicci commented on #3899
Hi,
I have been working on this issue and I have a fix, but for the test cases I should rewrite about 180 .html files. I was thinking doing this with a python script.
My question is, do you have any usual way of doing this or is it fine with a python script?

[2016-11-15 09:36] wkurniawan07 commented on #3899
@sznicci [this](https://github.com/TEAMMATES/teammates/blob/master/docs/godmode.md) should answer your question.

[2016-11-15 14:17] #4383 closed

[2016-11-15 14:52] hbrock commented on #6148
@wkurniawan07  Thanks. I will setup an VM to work on this. I mostly only use Linux nowadays.

[2016-11-16 15:08] kanghj commented on #6148
@hbrock, regardless of OS, you should be able to install multiple versions of the JDK, so it's not required for you to setup a VM just for this.

[2016-11-18 05:43] damithc opened #6154 "One-member teams cannot submit MCQ (multiple choice) questions"
There is an error upon submission for the student who is the only team member. In the session that surfaced this bug, there are multiple questions and only the response to the first question (which happens to be a self-evaluation question) is saved.

[2016-11-18 15:07] rcaa opened #6155 "Recipient and giver sensitive information might leak through logging operations"
FeedbackResponseAttributes {giver,recipient} might contain sensitive information such as their email. It might leak in source code points like FeedbackContributionResponseDetails:99 and FeedbackContributionResponseDetails:106. Should we avoid printing this information in log files?

@wkurniawan07
https://github.com/TEAMMATES/teammates/commit/0ba6fd115131b499946d9cc0f517a0eb01d285ba#diff-2635fd1eb9

[2016-11-19 00:27] Vehikite-John commented on #6148
This is my first attempt to contribute in an open source project. I'm excited, but nervous. I am currently working getting Eclipse setup and configured. If I have any questions, I'll definitely post them here.

[2016-11-19 00:33] damithc commented on #6155
@rcaa Log files are secure and can only be accessed by TEAMMATES admin.

[2016-11-21 02:17] #6101 closed

[2016-11-21 03:05] wkurniawan07 opened #6157 "Release V5.91 and V5.92"

[2016-11-21 20:52] nsaiisasidhar commented on #2342
Hi, can you please let me know if the unreg student's link is to unregister from course and the file where link is located.

[2016-11-22 01:12] damithc commented on #2342
`unreg student's link` refers to unique links emailed to students by TEAMMATES.

[2016-11-22 21:10] sznicci commented on #3899
Thank you @wkurniawan07 the link!
I read the documentation and I could solve the problem. I am going to make a PR soon.

[2016-11-24 01:01] nsaiisasidhar commented on #2342
Thank you @damithc

[2016-11-24 14:42] louietyj opened #6159 "Infinite redirect loop on an invalid route"
Accessing an invalid route such as https://teammatesv4.appspot.com/yo redirects to something like https://teammatesv4.appspot.com/yo/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/index.jsp/

Chrome gives an ERR_TOO_MANY_REDIRECTS error.

[2016-11-25 05:35] megamind79 opened #6160 "Not able to access teammates on my machine with ipaddress:port."
I tried setting up the teammates developer environment on my machine following the instructions from here https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md .

After I started the web application, it ran ok with localhost:8888, but not from my local ip address, say 192.168.xxx.xx:8888. I want to do this as I want to access this site from another computer in my lan.

Are there som

[2016-11-25 10:21] mohamed-moanis opened #6161 "Missing a space in assertion failure message in verifyReadyForGodMode method"
There is a missing space between the word "in" and "test.properties" in the assertion failure message that is triggered when the required `uniqueid` is not set for the `GodMode` to run.

![capture](https://cloud.githubusercontent.com/assets/7101613/20622010/9db31e78-b309-11e6-8937-324aeabef108.JPG)

In `teammates.test.driver.TestProperties.java`:

![capture2](https://cloud.githubusercontent.com/as

[2016-11-28 00:52] damithc commented on #6138
Getting more of these

[2016-11-28 00:53] damithc commented on #6138
Duplicate of #6094

[2016-11-28 00:53] #6138 closed

[2016-11-28 00:56] damithc commented on #6160
1. Can you access any other web server running in your computer from another computer?
2. Just curious: why do you want to access TEAMMATES from another computer?

[2016-11-28 03:08] #6149 closed

[2016-11-28 03:11] wkurniawan07 commented on #6155
@rcaa thanks for your concern. As @damithc has said, the log files from the actual site are accessible only by the admins (not even the most senior of the developers can see them), and the information contained are at times needed to assist debugging/troubleshooting.

[2016-11-28 03:11] #6155 closed

[2016-11-28 03:50] wkurniawan07 commented on #6097
Invalidated by #6124.

[2016-11-28 03:50] #6097 closed

[2016-11-28 03:51] wkurniawan07 opened #6165 "Update about.jsp with contributors from V5.91"

[2016-11-28 03:53] #3899 closed

[2016-11-28 04:58] #5101 closed

[2016-11-28 05:32] #6161 closed

[2016-11-28 05:50] #6165 closed

[2016-11-28 06:11] megamind79 commented on #6160
1. Yes, I'm able to access other webservers like tomcat and nginx on my machine from another computer.

2. I checked out the teammates repo in my vm, which's very slow. So I wanted to open teammates in a browser from my host machine. I didn't install on my host machine, because there're other stuff on it which're interfering in its working.

[2016-11-28 14:33] Nix07 opened #6167 "ensuring JDK (not a JRE)"
I am a newcomer, while setting up the TEAMMATES development environment, I was not able to ensure JDK(instead of JRE) in the eclipse as per the instructions given. Please check the screenshot and let me know what I can do to resolve it?
![jre](https://cloud.githubusercontent.com/assets/22103406/20671942/7ae6a862-b5a5-11e6-9367-514f99eaeaef.png)
![jre2](https://cloud.githubusercontent.com/assets/22

[2016-11-28 16:28] #544 closed

[2016-11-28 16:28] #2821 closed

[2016-11-28 16:29] wkurniawan07 commented on #4297
Done in #6046.

[2016-11-28 16:29] #4297 closed

[2016-11-28 16:30] wkurniawan07 commented on #4555
Done in #6059.

[2016-11-28 16:30] #4555 closed

[2016-11-28 16:30] wkurniawan07 commented on #5685
Done in #6046.

[2016-11-28 16:30] #5685 closed

[2016-11-28 16:33] wkurniawan07 commented on #6167
@Nix07 that looks like a bug in Eclipse itself. A quick Google search can suggest some solutions, but I cannot say for sure which one applies for your case.

[2016-11-28 16:34] wkurniawan07 commented on #3704
The said function is gone.

[2016-11-28 16:34] #3704 closed

[2016-11-28 17:55] #3994 closed

[2016-11-29 02:38] wkurniawan07 opened #6168 "Add ProfilesLogic and ProfilesLogicTest classes"
It is missing (all other entities have their respective `*Logic` class) and the burden of connecting to `ProfilesDb` was shifted to `AccountsLogic`, which must not be the case.

[2016-11-29 02:40] wkurniawan07 opened #6169 "Examine internal classes and enums"
We have many internal classes (some of them even public!) which add to the maintenance burden. They should be fleshed out as proper classes, or made strictly non-public if their usages are strictly internal.

`Const` and `Templates` are exempted of this due to the nature of their usages.

[2016-11-29 02:43] wkurniawan07 opened #6170 "Decommission Utils class"
With only two functions `getLogger()` and `getTeammatesGson()`, there is little to justify the presence of this class. We can simply create two wrapper classes named e.g. `Logger` and `JsonUtils` for the purpose.
In fact, by using this approach, we can keep the coupling between TEAMMATES internal components and external libraries minimum, i.e. with the said class as the bridge between the implemen

[2016-11-29 02:57] damithc commented on #6160
I see. Possibly because TEAMMATES require https? I'm not sure.
What's in your computer that is interfering with TEAMMATES?

[2016-11-29 03:31] wkurniawan07 opened #6171 "Create src/main/webapp/dev folder for test-only pages"
Such as `mashup.jsp` and `timezone.jsp`. Currently they are accessible by public by just navigating to the file directly and in the case of `mashup.jsp` a lot of database read is going to take place.

The advantage of creating a separate folder is that admin constraint can be put.

[2016-11-29 10:17] VamsiSangam commented on #4021
Is this issue still active? A search for [``Const.StatusMessages.INSTRUCTOR_REMOVED_FROM_COURSE``](https://github.com/search?utf8=%E2%9C%93&q=Const.StatusMessages.INSTRUCTOR_REMOVED_FROM_COURSE+repo%3Ateammates%2Fteammates&type=Code&ref=searchresults) gives occurences which are not in the master branch. I am a noob. Please guide me on how I can help.

[2016-11-29 10:18] damithc opened #6174 "Test failures due to line endings in HTML attribute value"
A whole bunch of tests failing on live server with a diff like this. e.g. `InstructorFeedbackPageUiTest::testCopyActions()`

![image](https://cloud.githubusercontent.com/assets/1673303/20705920/e37a358c-b65f-11e6-80b3-2cd5f992a087.png)

[2016-11-29 10:19] damithc commented on #6174
@wkurniawan07 any idea? Check PRs merged between 5.90 and 5.91

[2016-11-29 18:48] xpdavid opened #6179 "Potential bug between AJAX call and waitForElementVisibility in test cases"
Hello, I am a new contributor and I currently keep failing the test case 'teammates.test.cases.ui.browsertests.InstructorFeedbackEditPageUiTest' for 'staging test' against my server 'https://teammates-xiaopu.appspot.com/'.
<img width="960" alt="screen shot 2016-11-30 at 2 21 35 am" src="https://cloud.githubusercontent.com/assets/13977235/20723008/c89c4f4a-b6a3-11e6-9e0f-9c51a544efa4.png">
I find a

[2016-11-29 18:57] xpdavid commented on #6179
When I try to log the content of `visibilityMessage2.getText()`
![screen shot 2016-11-30 at 2 56 08 am](https://cloud.githubusercontent.com/assets/13977235/20724324/b9672b9e-b6a8-11e6-8dfb-479ee80dd8a9.png)

[2016-11-30 00:59] damithc commented on #6179
We do have a few test cases that fail against a remote server due to deficiencies in how the test is written.  This could be one of them. Were you able to pass all tests against the dev server?.

[2016-11-30 02:40] wkurniawan07 commented on #6174
This looks like line ending issue, although it's weird that it happens in the first place. The only possible explanation is #6152. Are the failures caused strictly by this kind of occurrence (i.e. line ending inside an attribute value)?

[2016-11-30 02:51] wkurniawan07 commented on #6179
Hi @xpdavid, thanks for the report!
Indeed this is one of the test failures that have been existing for quite some time, for the very reason that you have fabulously explained. Staging server test failures, however, is not a high priority for fixing because we rarely run the entire test suite (or even _any_ test) on the staging server.
For this particular failure, there is actually a routine that

[2016-11-30 03:01] damithc commented on #6174
Yes, all cases failing with a similar diff.

[2016-11-30 05:27] damithc commented on #6174
Without a fix for this, I can't deploy the next version :-p

[2016-11-30 06:51] xpdavid commented on #6179
@damithc Yes, I can pass all the test cases against the `dev server`, so I guess it depends on the speed of response of the server.

[2016-11-30 09:46] #4127 closed

[2016-11-30 09:47] wkurniawan07 commented on #6174
This happens in dev also, on environments where the line ending is not LR.

[2016-11-30 10:15] wkurniawan07 commented on #4021
@VamsiSangam the issue is still valid, but since you have done another `d.FirstTimers` issue before, it is not open for you anymore. You can find other issues, particularly those labelled `d.Contributors`.

That aside, GitHub's search result brings you to the tree where the file is last indexed, i.e. it will never bring you to the `master` branch. You have to confirm by changing the branch to `mas

[2016-11-30 11:27] VamsiSangam commented on #4021
Ok, thanks a lot for the pointers and the advice about GitHub! 😄

[2016-12-01 04:30] #6168 closed

[2016-12-01 05:03] #6169 closed

[2016-12-01 15:35] JosephineKwa opened #6183 "Typo in Const.java NO_SPECIFIC_RECEIPIENT"
Should be `NO_SPECIFIC_RECIPIENT`

[2016-12-01 16:44] #6150 closed

[2016-12-02 11:20] mohamed-moanis commented on #6094
I tried editing the visibility options for many question types, but can't reproduce the error!
Is there a specific type that is not working or any hints about how to reproduce the issue?

[2016-12-02 11:39] mohamed-moanis opened #6184 "gradle instalEslint fails on Windows 7"
I was setting up the static code analysis tools on a Windows machine, everything is fine except with `Eslint`.
I always get
[code]

and with stack trace

[code]
I can run `npm` normally from cmd in this directory, also I tried installing `Eslint` with `npm` directly, but when I try to run `gradlew.bat --staticAnalysis` it also failed with `Eslint is not recognized as a command`

Node version: v6.9

[2016-12-02 12:29] #6174 closed

[2016-12-02 15:00] damithc commented on #6094
It happens occasionally, but not common. So it must be some special combination of factors causing the problem. Perhaps we can try to log more info when the failure happens?

[2016-12-02 16:35] mohamed-moanis commented on #6094
I traced the stack trace to this check.
[code]

I tried different visibility options in the contribution question type, but I couldn't reproduce that error.

The page JS code enforces that the `Recipient(s)` checkbox is always the same value of the `Giver's Team Members` checkbox - both are checked or unchecked - which satisfies the assertion check.

The only way I was able to reproduce this error

[2016-12-03 05:14] damithc commented on #6094
If the error happens once or twice, it's likely a user trying to be clever and manipulating the DOM. This error happens more often than that, at different times. So there is something that causes the problem other than manual DOM manipulation, possibly an oddball browser version or something like that. Next time this happens, I'll try to find more information. We can leave it open for now.
BTW, th

[2016-12-03 08:16] damithc commented on #6154
Have another case of this.

[2016-12-03 10:12] mohamed-moanis opened #6185 "New contributor self intro Mohamed Moanis"
Hello teammates community, I would like to introduce myself so I prepared a tinker fork and made some house keeping for the external links to remove dead ones.

So this is my app istance:
http://teammates-mmoanis.appspot.com/

This is my tinker branch on my fork:
https://github.com/mohamed-moanis/teammates/tree/tinker

The changes were replacing 3 dead links I found on the live app - I guess there

[2016-12-04 03:11] damithc commented on #6185
Welcome to TEAMMATES @mohamed-moanis :-)
Perhaps you can submit this fix as a proper issue + PR?

[2016-12-04 05:36] damithc opened #6186 "Error in live server: "Too many open sockets.""
Getting a lot of these since yesterday:
[code]

[2016-12-04 19:02] mohamed-moanis opened #6188 "Dead links in About and index pages"
In index.jsp
- International Conference on Software Engineering Education and
Training (CSEET)
- International Conference on Teaching and Learning in Higher Education
(TLHE)

In about.jsp
- YourKit LLC

[2016-12-05 04:37] wkurniawan07 opened #6190 "id="caption" in static pages should be class instead"
~~Multiple instances of `<h2 id="caption">...</h2>` (... are some context-specific texts).
It is invalid for multiple HTML elements to have the same ID, but the ID is not meaningful anyway so it can be removed.~~

Edit (12/12/16):
The said selector is used for styling purpose, however styling with ID is in general not preferred due to its fragility to changes. It also necessitates one of the stati