[2017-04-25 00:12] VamsiSangam commented on #7201
Hi @sujeet14108 ! That `p` is not a button. It is related to the HTML which is rendered from the message you type. The normal text you type is put into HTML `<p>` tags, which is what that `p` stands for. If you were typing an un-ordered list item, then it would show `ul > li` as such -

![capture](https://cloud.githubusercontent.com/assets/11662001/25363523/c8f37278-2978-11e7-9296-df76edf8e59e.JPG

[2017-04-25 01:13] Yogitha6 commented on #7066
@AnaghHegde Are you still working on this? If not I could pick up this issue.

[2017-04-25 02:04] AnaghHegde commented on #7066
@Yogitha6  Sorry i am working on this. I ll be opening a PR in 2 days.

[2017-04-25 02:45] Yogitha6 commented on #2340
@damithc
Prof,
I am able to see the mashup page on my dev server and I understand that this issue requires changes to the mashup.jsp page. Also with my research I am guessing the issue refers to adding [contribution question](https://teammatesv4.appspot.com/instructorHelp.jsp#fbContrib) to mashup.
Is this correct?
Also, I have no clue on the Const sum. Could you please give me any hints on this?

[2017-04-25 03:25] damithc commented on #2340
@Yogitha6
This is an old issue, so check if it is already fixed fully or partially.
`Const sum` refers to 'distribute points among participants/options' type questions.

[2017-04-25 07:07] sujeet14108 commented on #7201
@VamsiSangam What is need of this from user perspective ?

[2017-04-25 08:31] VamsiSangam commented on #7201
It serves a similar purpose as HTML breadcrumbs in your IDE.

![b7923006-29bd-11e7-888c-ac4fa0e79f99](https://cloud.githubusercontent.com/assets/11662001/25375359/13a09298-29be-11e7-8d71-8d9385452573.JPG)

When we write very very long paragraphs nested deep inside we are often confused at which level we are. Looking at the text at the left bottom helps us to keep a track of where we are. In IDEs t

[2017-04-25 11:47] AnaghHegde commented on #7066
@damithc I have some questions regarding design constraints.
- Should i need to add a button at the top like Remind and Download
- Any other suggestion ?.
![screenshot 129](https://cloud.githubusercontent.com/assets/12005551/25383659/aee4710e-29da-11e7-974b-f5d3e2c9ea7f.png)

[2017-04-25 12:24] damithc commented on #7066
yes. make it red too.

[2017-04-25 17:17] sujeet14108 commented on #7201
Thanks understood :)

[2017-04-25 17:17] #7201 closed

[2017-04-26 04:54] VamsiSangam commented on #7044
@damithc could you please clarify my above question as to why the `sectionPanels.put(Const.DEFAULT_SECTION, sectionPanel);` was written?

[2017-04-26 05:22] damithc opened #7202 "Give an alternative link to the account request form"
Some users have mentioned that they cannot see the account request form (possibly a problem with embedding googledoc form).
![image](https://cloud.githubusercontent.com/assets/1673303/25419088/ee0c6320-2a82-11e7-9f18-84533ced528a.png)

Suggestion:
Just below the page title, include a `Cannot see the form? click here` with a direct link to the form.

[2017-04-26 08:54] #6806 closed

[2017-04-26 09:01] Neurrone commented on #7194
Hi @Yogitha6, welcome to TEAMMATES!

You can start by fixing a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers) issue to become familiar with our workflow, and then move on to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.Contributors).

[2017-04-26 10:51] VamsiSangam opened #7203 "studentList.tag: prevent 'Add Comment' button causing a 'page not found' error"
**Description of feature/enhancement**

In `instructorStudentListPage` and `instructorCourseDetailsPage` (both of which rely on `studentList.tag`), the "Add Comment" button click leads to `pageNotFound.jsp`. We could instead trigger the dropdown to display upon clicking the "Add Comment" button or the down caret button beside it.

**Justification**

"Add Comment" which is mainly used to display th

[2017-04-26 11:35] damithc commented on #7044
@VamsiSangam Not sure myself. Have to wait till someone else offer some input on this.

[2017-04-26 11:40] VamsiSangam commented on #7044
Sure!

[2017-04-26 11:49] damithc commented on #7203
@VamsiSangam did you mean the button shown below? I tried the current version (v5.102) and it does not lead to a 'page not found'.  Did I misunderstand the issue?
![image](https://cloud.githubusercontent.com/assets/1673303/25432981/4e5ffa08-2ab9-11e7-87ca-d16555125cc4.png)

[2017-04-26 11:58] VamsiSangam commented on #7203
No sir, I meant these in `instructorStudentListPage` -

![1](https://cloud.githubusercontent.com/assets/11662001/25433233/4993b8b6-2aa5-11e7-807f-e455c0ae09dc.JPG)

and similar buttons in `instructorCourseDetailsPage` -

![2](https://cloud.githubusercontent.com/assets/11662001/25433260/5cf31e2e-2aa5-11e7-9796-7f8813105a14.JPG)

both of which are generated from `studentList.tag` file.

[2017-04-26 12:00] VamsiSangam opened #7204 "Break up instructorHelp.jsp page"
- **Operating System:** Windows 10
- **JDK Version:** 1.7
- **Eclipse / IntelliJ Version (if applicable):** Kepler Service Release 2

**What I was trying to do / What I need help with**
I was working on #2335 . I didn't add many lines (might be around 200) in `instructorHelp.jsp` about searching, when I hit the following error -

[code]

This is shown when a request is sent to `instructorHelp.jsp`

[2017-04-26 12:29] damithc commented on #7203
@VamsiSangam good catch. 👍

[2017-04-26 12:39] VamsiSangam commented on #7203
Can I take up this issue?

[2017-04-26 14:04] damithc commented on #7203
Sure @VamsiSangam

[2017-04-26 15:19] damsehgal commented on #7185
@thejosharcher @damithc Can I be assigned to fix this issue as my first "d.FirstTimers" commit?

[2017-04-26 15:45] Yogitha6 commented on #7185
@damsehgal There is no assigning. You can comment saying you are working on this issue and start working on it if no one else is working on it.

[2017-04-26 15:46] damsehgal commented on #7185
@thejosharcher @damithc @Yogitha6 I am working on tihs issue.

[2017-04-26 16:10] VamsiSangam commented on #7015
Awesome website @basitsattar ! :astonished:

[2017-04-26 16:28] VamsiSangam commented on #7185
Hi @damsehgal ! I guess this is your first issue in TEAMMATES, in which case, welcome to TEAMMATES! :smile: Please have a look at the [Orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md), this is a must-do for first timers so that they can setup the project locally without any hassles and can contribute smoothly! Looking forward for your contributions!!

[2017-04-26 16:31] Yogitha6 commented on #7185
@damsehgal @VamsiSangam , Yes I guess he didn't do the New Contributor Issue posting yet. My bad, I didn't check that before replying to him. Vamsi is totally right. You need to follow the Orientation guide before making your first contribution.

[2017-04-26 17:28] basitsattar commented on #7015
Thanks a lot :)

[2017-04-26 20:56] AnaghHegde commented on #7066
@damithc Also when the instructor clicks on the button a new window will be opened with something like this. I guess that is ok?

![screenshot 131](https://cloud.githubusercontent.com/assets/12005551/25456527/c1a81aa4-2af0-11e7-8027-30a7c069f7b0.png)

[2017-04-27 02:00] damithc commented on #7066
@AnaghHegde To limit the size of this PR within reasonable limits, lets start by adding a 'delete all' button that deletes all students in the course. There is no need for a modal window as shown in your screenshot because there is no need to select which students to delete. Just a confirmation dialog is enough (similar to the delete button given in each row).

[2017-04-27 02:22] damithc commented on #2203
Yes, I think we can show instructors in alphabetical order instead. Even better if we can scroll to the newly-added instructor.

[2017-04-27 09:43] damsehgal opened #7207 "New Contributor Self-Intro Dhruv Sehgal"
- **https://teammates-damsehgal.appspot.com**
- **https://github.com/damsehgal/teammates**

**![Screenshot](http://oi68.tinypic.com/adhnnm.jpg)**
I don't know much about HTML, CSS or front - end developement. So, I just changed the color of login buttons on top right corner to #00FFFF.

**My name is Dhruv Sehgal. I am final year undergrad student at Thapar University. I am a competitive programmer

[2017-04-27 16:34] #7152 closed

[2017-04-27 16:34] #7172 closed

[2017-04-28 04:40] #7197 closed

[2017-04-29 15:10] damithc opened #7208 "Instructor: view results: rubric questions: give stats per recipient per sub-question"
Suggestion:
When instructors view/download results of a rubric question, we can also give per-recipient stats (total, average, etc.) for each sub-question, if there are weights attached to each response.
![image](https://cloud.githubusercontent.com/assets/1673303/25556539/fa7704b6-2d30-11e7-8543-c7e488f1c66c.png)

[2017-04-29 15:33] Yogitha6 commented on #7208
Can I work on this?

[2017-04-29 15:34] nikiforosbotis opened #7209 "Explanation of the way of form handling"
In the "instructorCourseEnroll.jsp" file, there is a form and the action button directs the users here: action="${data.instructorCourseEnrollSaveLink}.
![1](https://cloud.githubusercontent.com/assets/9116253/25556710/0433aa4e-2d0a-11e7-94f3-b25132db23b5.png)

I was wondering where this "method" (instructorCourseEnrollSaveLink) is located because I want to check how the method's data is handled. I

[2017-04-30 00:46] VamsiSangam commented on #7209
Hi @nikiforosbotis ! The method you are looking for is the `execute()` method in `teammates.ui.controller.InstructorCourseEnrollAction.java`.

You can learn a lot about the architecture and design of the TEAMMATES application in [design.md](https://github.com/TEAMMATES/teammates/blob/master/docs/design.md). Although even I'm not yet fully aware of the complete architecture of the application, it i

[2017-04-30 03:59] AnaghHegde commented on #7208
@Yogitha6 Sure, go ahead.

[2017-04-30 04:00] Yogitha6 commented on #7208
@AnaghHegde , Thank you. I am working on this.

[2017-04-30 04:11] AnaghHegde commented on #7209
Hi @nikiforosbotis

 I am no perfect even i had a similar problem. But i know that those methods will be there in `instructor*.es6` files  but like @VamsiSangam said then those methods will make use of the backend java files. For more information take a look at the  [design.md](https://github.com/TEAMMATES/teammates/blob/master/docs/design.md) as @VamsiSangam said. But for your question may be [de

[2017-04-30 09:01] nikiforosbotis opened #7210 "Dev Server's Problem"
Dear All,

I set up the dev server, as shown in the instructions, 2 months ago. Every time I was trying to connect to TEAMMATES via localhost:8888, I could easily use all its features through the dev server. However, from yesterday I am getting this message when I am trying to do specific things (move to the "Request a Free Instructor Account" page):
![2](https://cloud.githubusercontent.com/assets

[2017-04-30 09:08] damithc commented on #7210
@nikiforosbotis It might help if you post the error message shown in the dev server console.

[2017-04-30 09:22] nikiforosbotis commented on #7210
Dear @damithc , thank you for your time.
These are two screenshots from the dev server console:
If you have any idea, please let me know.

![1](https://cloud.githubusercontent.com/assets/9116253/25563194/848ac142-2d9f-11e7-9e57-5dd9d623728d.png)

![2](https://cloud.githubusercontent.com/assets/9116253/25563195/89412866-2d9f-11e7-8f23-d901b364b2ca.png)

[2017-04-30 09:47] AnaghHegde commented on #7210
@nikiforosbotis Look's like the sdk is not pointing to the proper location from the warning can you check and confirm if it's pointing to a valid location ?. If it's so try cleaning the project and check.

[2017-04-30 09:49] nikiforosbotis commented on #7209
@VamsiSangam at first, thank you for your answer! I understand your point but I would like to ask you:
1)Do you mean the teammates.ui.controller.InstructorCourseEnrollPageAction.java file? because I cannot find the exact filename that you sent me.
2)So there is no such method with the exact name: "instructorCourseEnrollSaveLink" right? I mean I cannot understand how the action: ${data.instructorCo

[2017-04-30 09:53] AnaghHegde commented on #7209
@nikiforosbotis
So there is no such method with the exact name: "instructorCourseEnrollSaveLink" right?

Did you read the [answer](https://github.com/TEAMMATES/teammates/issues/7209#issuecomment-298209976) i have written above. I think i have mentioned that part.

[2017-04-30 10:27] nikiforosbotis commented on #7210
@AnaghHegde : update:
I fixed the request instructor account page (it was my fault) but I still have problems with the "Student Login" and the "Instructor Login" buttons.

**The stack trace for this buttons is as follows:**

Apr 30, 2017 10:21:51 AM com.google.apphosting.utils.jetty.JettyLogger warn
WARNING: /login
javax.jdo.JDOUserException: Exception converting Account("test@example.com") to an

[2017-04-30 10:41] VamsiSangam commented on #7210
Hi @nikiforosbotis ! That error seems familiar, it should get removed if you follow the instructions in [ide-usage.md](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md). Please check if you have all the project-specific properties (point 4 in the doc) set up as mentioned in the doc. Specifically please check if you have `Datanucleus version` setting and `ORM Enhancement` settin

[2017-04-30 10:41] AnaghHegde commented on #7210
@nikiforosbotis

I think its the reason of cause. Can you post a screen shot of the `Project` Properties and ORM in APp Engine.

[2017-04-30 10:46] nikiforosbotis commented on #7209
@AnaghHegde Thanks for your help.

The only two files with a similar name (but not the same) are these, as shown in the TEAMMATES directory:
I guess I can find the functionality I want by checking out these files.

![1](https://cloud.githubusercontent.com/assets/9116253/25563742/2e6129d0-2dab-11e7-8eb5-bc5aa14c420b.png)

[2017-04-30 11:02] nikiforosbotis commented on #7210
@AnaghHegde this is the screenshot you asked for. Am I supposed to change anything here?

![1](https://cloud.githubusercontent.com/assets/9116253/25563849/a473e908-2dad-11e7-86a9-ede1c97e2b0a.png)

[2017-04-30 11:04] VamsiSangam commented on #7210
@nikiforosbotis you are supposed to remove all those entries in ORM and add a single entry `src/main/java/teammates/storage/entity/*.java` . Then clean your project and you should be good to go :smile: .

[2017-04-30 11:07] VamsiSangam commented on #7210
ORM setting correction should set things right, but I strongly recommend checking if all your settings are as per [ide-usage.md](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md). It may seem bothersome but it will prevent a bunch of weird errors and save you a lot of time. :smile:

[2017-04-30 11:10] nikiforosbotis commented on #7210
@VamsiSangam I just read your message and I fixed the problem. Thank you very much for your help!

[2017-04-30 11:19] AnaghHegde commented on #7209
@nikiforosbotis Did you get answer to your question ?. I mean is everything clear now ?.

[2017-04-30 11:24] VamsiSangam commented on #7209
Very sorry, my bad! I meant `teammates.ui.controller.InstructorCourseEnrollSaveAction.java`.

I am going to give a little detailed explanation, please bear with me. So when you send a request to `/page/instructorCourseEnrollPage`, according to the `web.xml` code -

[code]

The `ControllerServlet` class handles every request. There, the `doPost()` method is called, where we have -

[code]

Here, th

[2017-04-30 11:29] AnaghHegde commented on #7209
@VamsiSangam That is well explained. I hope it clarifies @nikiforosbotis doubt. On a note @nikiforosbotis feel free to ask if you have still have any doubts. We are happy to help.

[2017-04-30 12:17] angelosdmg opened #7211 "Uploading Files"
Hello Everybody,
I'm trying to create a functionality in order to add instructors or students via CSV file. Can you please provide me with insights on how to upload a file in GAE? Is there an API for that?

*I know that this is not a official "to-do" feature, but please help me do that. I find it very interesting and I'd be glad to implement it (not matter if it gets accepted or not)

Thank you ve

[2017-04-30 12:57] nikiforosbotis commented on #7209
@VamsiSangam your answer is very detailed and it helped me a lot! thank you very much for that. Thank you also  @AnaghHegde for your help. If I have another question on that topic, I will let you know.

[2017-04-30 19:24] Yogitha6 commented on #7208
@damithc
Prof,
Could you confirm if the following information is what we are looking for when an Instructor downloads results for rubric questions?

![rubricquestionperrecipientstats](https://cloud.githubusercontent.com/assets/13936975/25567196/b2e9a386-2da5-11e7-9f21-75aafe794908.JPG)

Am I missing some information that needs to be displayed as part of this issue?

[2017-05-01 00:49] damithc commented on #7208
Yes. You can also show total (e.g. `10`) and values received e.g. (`5,5`).

[2017-05-01 01:04] Yogitha6 commented on #7208
Ok, so do I add new columns before average to show the **total** and **values received** as per your suggestion?
Or just Team, Name, Email, Sub Question, Total, Values received would be good enough ?

[2017-05-01 04:08] damithc commented on #7208
@Yogitha6 `Average` is the important one. The other two are nice to have.

[2017-05-01 05:32] Yogitha6 commented on #7208
Ok Professor.
I started working on making changes to the code. I should make a PR in a day or so.

[2017-05-01 07:41] damithc commented on #7211
@angelosdmg if you are a first time contributor to TEAMMATES, please start with a `d.FristTimers` issue.
Please refer to our 'Contributor Orientation Guide' (link given in our [project home page](/teammates/teammates)) for more help.

[2017-05-01 15:01] nikiforosbotis commented on #7209
Guys @VamsiSangam , @AnaghHegde I did check your very detailed answers and I understood many things considering how the TEAMMATES is working.

**One more question please:**

On the getInstructorCourseEnrollSaveLink(String courseId) method of the PageData.java file, there is a link for the INSTRUCTOR_COURSE_ENROLL_SAVE page that is translated to: "/page/instructorCourseEnrollSave"; according to the

[2017-05-01 15:26] damithc commented on #7202
Another user reported this. I experienced the problem myself when I tried. The embedded form did not load but the direct link worked

[2017-05-01 15:28] VamsiSangam commented on #7209
Hi @nikiforosbotis ! So as things start with `ControllerServlet.java`'s `doPost()` method, there we have -

[code]

So, the purpose of the `getAction()` method is to return the proper `Action` subclass associated with the request. So this is the `getAction()` which gets called -

[code]

Here, in the line `Action c = getAction(uri);`, we have passed the URL to get the proper `Action` subclass. Ins

[2017-05-01 15:31] sud1989 commented on #7156
Hi,
I am facing similar issues with the project setup.
They don't go away even after excluding folder node_modules from JS validation

[2017-05-01 16:24] Yogitha6 commented on #7202
I can work on this as it is not a FirstTimers issue anymore.

[2017-05-01 17:29] Yogitha6 commented on #7202
Issue is fixed, build is successful, PR #7214 is ready for review

[2017-05-01 21:35] nikiforosbotis commented on #7209
@VamsiSangam Thank you very much for your detailed response. It really helped me a lot.

[2017-05-02 04:19] damithc opened #7215 "Update user map for March, April 2017"
Refer #6825

Last updated date should be April 30 2017

Data:
[code]

[2017-05-02 15:26] damithc opened #7216 "Reduce number of profile pic requests"
v5.102

![image](https://cloud.githubusercontent.com/assets/1673303/25625169/654f725a-2f8e-11e7-807c-dbaedbdca651.png)

It appears there is a high number of `page/ProfilePic` requests, which outnumber all other type of requests. This is unexpected because more students don't even have profile pics. Any request to load a pic should be initiated by the user clicking on a 'show picture' link manually

[2017-05-02 22:00] kguo901 opened #7217 "New contributor self intro Kathy Guo"
a) Link to app: [http://teammates-kathy.appspot.com/](http://teammates-kathy.appspot.com/)
b) Link to fork: [https://github.com/kguo901/teammates](https://github.com/kguo901/teammates)
c) I titled the bottom section of the home page "Why choose TEAMMATES?" and reorganized the product highlights.
![teammates ui](https://cloud.githubusercontent.com/assets/15681154/25640914/8e50552c-2f5f-11e7-8e2f-dd

[2017-05-02 22:14] kguo901 commented on #7215
Hi, I would like to work on this issue for my first contribution.

[2017-05-02 22:26] Yogitha6 commented on #7217
Hi @kguo901 , welcome to TEAMMATES!

Good work 👍! Looks like you finished the orientation successfully.

One suggestion:
You were supposed to make visible changes to the UI in the tinker branch of your fork. I see that you made changes to your master branch. Your master branch should always be in sync with the teammates master branch. Please revert the change in your master branch.

You can start

[2017-05-02 23:12] kguo901 commented on #7217
@Yogitha6  Thank you for letting me know! I will revert the changes in my master branch.

[2017-05-02 23:41] HirdayGupta opened #7218 "Add HTML tables to all emails"
In PR #7138, some emails (under the scope of PR) were given tables to make data presentation neater. @damithc suggested adding these tables to all the emails for consistency. I have made the necessary changes.

[2017-05-03 21:40] HirdayGupta commented on #6889
Found some threads facing a similar issue:
- A (temporary?) workaround is suggested in an answer at StackOverflow [here](I will verify if this works after sorting out a billing problem on my staging server)(http://stackoverflow.com/questions/12293934/google-app-engine-endless-redirect-with-a-filter-mapped-to).
- A possible (but vaguely worded) solution is on the comment by "gk" [here](https://grou

[2017-05-03 21:48] whipermr5 commented on #6889
@HirdayGupta The first one looks viable :)

[2017-05-04 04:51] Yogitha6 commented on #7208
Couldn't make great progress though I figured out what files to modify and started working on it,  because of my exams and project demos this week. Will it be ok if I make a PR for this issue next week?

[2017-05-04 11:09] damithc opened #7222 "Update entry count in home page"
Update this number to reflect 6.5 million as at May 4th 2017

![image](https://cloud.githubusercontent.com/assets/1673303/25701053/2bac1a6a-30fd-11e7-9200-08f4b1bd7b75.png)

[2017-05-04 13:43] angelosdmg commented on #7211
@damithc Thanks for your answer. I may be a first time contributor, I've been reading the code for weeks now though. I chose to do so in order to provide a better user experience for the admins and this could be also done for the student registration.
Do you think such a feature is feasible? Can you provide me instructions?

[2017-05-04 13:52] damithc commented on #7211
Yes @angelosdmg such a feature may be useful, but you should start with smaller tasks first. Hence the recommendation to do a `d.FirstTimer` issue first.

[2017-05-04 14:08] damithc opened #7223 "Instructor home page: use consistent formatting for tool tip of 'copy' button"
The copy button for sessions has a different formatting than other tool tips:

![image](https://cloud.githubusercontent.com/assets/1673303/25707346/d1ac1fb0-3115-11e7-9325-fa2789db9f04.png)

![image](https://cloud.githubusercontent.com/assets/1673303/25707383/f2235a56-3115-11e7-8a5b-16447d1cfb34.png)

Suggestion: Use the same formatting for copy button

[2017-05-04 14:23] damithc opened #7224 "Rubric questions: allow weightages for sub questions"
Rubric questions allow weightages for choices (i.e. columns)
![image](https://cloud.githubusercontent.com/assets/1673303/25708067/fa3232a6-3117-11e7-88c5-3808e1528643.png)

Suggestion: allow weightages for sub-questions too (i.e. for rows)

Justification: This way, we can calculate an overall score for a student for the entire rubric question.

[2017-05-04 14:55] damithc commented on #7217
Welcome to TEAMMATES @kguo901 :-)

[2017-05-04 14:55] #7217 closed

[2017-05-04 15:04] damithc opened #7225 "Support copying of instructors from existing courses"
Current: Instructors need to be created one at a time for each course

Suggested: allow copying instructors from existing courses

Justification: Multiple instructors can be added to a course in a few clicks as long as they have been added to a course previously

[2017-05-04 15:12] damithc commented on #7211
Thanks for the feature suggestion @angelosdmg

Our resources are limited; so we prefer to spend them on higher priority issues. Also, we can invest in helping a contributor do a big issue only after we have seen evidence that the said contributor is capable of completing such a big issue. That's why we insist new contributors start with small issues and work their way up to bigger issues.

I'm clo

[2017-05-04 15:12] #7211 closed

[2017-05-04 16:30] HirdayGupta commented on #7223
@damithc working on it. 😄

[2017-05-04 18:48] kguo901 commented on #7224
I will start working on this.

[2017-05-04 20:59] harispan commented on #7222
hello, i would like to work on this issue, where are these feedback entries located ? are they a static number or a dynamic one? Thanks

[2017-05-05 03:07] damithc commented on #7224
@kguo901 I recommend you start with a `d.FirstTimers` issue and then do a few `d.Contributors` issues first. This issue may be too big for you to tackle if you are relatively new to TEAMMATES.

[2017-05-05 03:15] damithc commented on #7222
@harispan good questions. We prefer if you can find the answers yourself 😛

[2017-05-05 03:16] damithc commented on #7222
@harispan
BTW, new contributors are recommended to read our 'Contributor Orientation Guide' (link given in our [project home page](/teammates/teammates))

[2017-05-05 07:26] #7210 closed

[2017-05-05 07:26] #7209 closed

[2017-05-05 07:27] damithc commented on #7207
Welcome to TEAMMATES @damsehgal

[2017-05-05 07:27] #7207 closed

[2017-05-05 07:34] damithc commented on #7204
Yes we can break up the help page into multiple pages.

[2017-05-05 07:37] damithc commented on #7202
I've deployed a temporary fix for now.

[2017-05-05 07:40] #7194 closed

[2017-05-05 07:41] #7189 closed

[2017-05-05 07:45] damithc commented on #7178
Yes it would be nice to have some way to inform developers when they need to do some additional steps. We haven't figured out a good way to do that yet though.

[2017-05-05 07:45] #7178 closed

[2017-05-05 08:03] damithc commented on #7158
If there is no cleaner solutions (e.g. add `clean` to build steps), we can document this in the troubleshooting guide.

[2017-05-05 08:14] damithc commented on #7143
Issue not suitable for public discussion. To be discussed internally.

[2017-05-05 08:14] #7143 closed

[2017-05-05 08:20] damithc commented on #118
Implemented at some point

[2017-05-05 08:20] #118 closed

[2017-05-05 08:24] damithc opened #7226 "Email sent to instructors at session closing: Add a preamble"
Current:
TEAMMATES sends students an email notification at the point when a session is closed.
A copy of that email is sent to the instructors as well.

Suggestion:
Add a preamble to the email copy sent to the instructor. e.g.
[code]
Justification:
It makes it clear that the email content (written to address students) is just a copy. Otherwise the instructor might be confused by the instructions g

[2017-05-05 08:34] damithc opened #7227 "Instructor: edit session: add icons to buttons"
In the page used by instructors to edit session/question details, we can add suitable icons to the buttons.

![image](https://cloud.githubusercontent.com/assets/1673303/25738548/59ecaf44-31b0-11e7-992d-92837e71a1ca.png)

[2017-05-05 08:50] damithc commented on #20
Old issue. closing.

[2017-05-05 08:50] #20 closed

[2017-05-05 08:52] damithc commented on #26
Old issue. closing.

[2017-05-05 08:52] #26 closed

[2017-05-05 08:52] damithc commented on #151
old issue. closing.

[2017-05-05 08:52] #151 closed

[2017-05-05 09:51] nikiforosbotis commented on #7226
@damithc I would like to work on this.

[2017-05-05 10:19] damithc commented on #229
old issue. closing.

[2017-05-05 10:19] #229 closed

[2017-05-05 10:20] damithc commented on #178
old issue. closing.

[2017-05-05 10:20] #178 closed

[2017-05-05 10:27] damithc commented on #351
Old issue. closing.

[2017-05-05 10:27] #351 closed

[2017-05-05 10:28] damithc commented on #430
Old issue. closing.

[2017-05-05 10:28] #430 closed

[2017-05-05 10:29] damithc commented on #531
Old issue. closing.

[2017-05-05 10:29] #531 closed

[2017-05-05 10:35] damithc opened #7228 "Features page: make the font size consistent"
The font sizes in the 'features' page vary too much.
Suggestion: Make the all 'normal' (i.e. non-heading) text the same size.
1. make the text at the top a bit smaller.
2. make the images a bit smaller.

![image](https://cloud.githubusercontent.com/assets/1673303/25742270/4b9a1164-31c1-11e7-94f0-461369580467.png)

[2017-05-05 10:41] damithc commented on #528
old issue. closing.

[2017-05-05 10:41] #528 closed

[2017-05-05 10:46] #374 closed

[2017-05-05 10:46] #394 closed

[2017-05-05 10:46] #533 closed

[2017-05-05 10:47] damithc commented on #595
done

[2017-05-05 10:47] #595 closed

[2017-05-05 10:47] damithc commented on #677
Not important

[2017-05-05 10:47] #677 closed

[2017-05-05 10:48] damithc commented on #534
Not relevant anymore

[2017-05-05 10:48] #534 closed

[2017-05-05 10:49] damithc commented on #1042
Not relevant anymore

[2017-05-05 10:49] #1042 closed

[2017-05-05 11:03] VamsiSangam commented on #7204
Thank you sir! Any suggestions on how to break up the file?

[2017-05-05 11:19] shubham49 opened #7229 "New contributor self intro Shubham Garg"
a) Link to my app: https://teammates-shubham49.appspot.com/
b) Link to fork: https://github.com/shubham49/teammates
c) I changes the title to "TEAMMATES (HOME) - Online Peer Feedback/Evaluation System for Student Team Projects" and changed image in the center.
![new_contri](https://cloud.githubusercontent.com/assets/10528953/25743425/eb2cc1be-31b1-11e7-9e33-28c404246ccd.JPG)

d) My name is Shubham

[2017-05-05 11:29] VamsiSangam commented on #7229
Hi @shubham49 ! Welcome to TEAMMATES! :smile:

Looks like you deployed the application perfectly! But you were expected to do your modifications in a new branch named `tinker`, not in your `master` branch. You might have missed the Phase C in [contributor's orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md). Please revert the code in the `master` branc

[2017-05-05 11:41] VamsiSangam commented on #7227
Can I work on this?

[2017-05-05 12:58] VamsiSangam commented on #7227
On an unrelated note, wouldn't it be nice if we added a "Discard changes" option for the feedback session details too? Precisely speaking, when we try to edit a feedback question,

![edit-feedback-3](https://cloud.githubusercontent.com/assets/11662001/25746268/5621ab98-31c0-11e7-94b2-751e22e8ffce.JPG)

we get these options -

![edit-feedback-4](https://cloud.githubusercontent.com/assets/11662001/2

[2017-05-05 13:07] VamsiSangam opened #7230 "Message: Requesting GSoC students and mentors to join Gitter"
There's a [Gitter chat room](https://gitter.im/TEAMMATES/GSoC2017) already created by @damithc sir for GSoC 2017. But I guess nobody is aware of it yet. It would be really cool if all the GSoC students and mentors join Gitter. I don't know if TEAMMATES generally uses Gitter, but it is a great place to talk about tech, non-tech stuff and also to get to know each other. Gitter also has a mobile app,

[2017-05-05 13:21] shubham49 commented on #7229
Hi @VamsiSangam  Thanks for the help. Actually I am new to git so not very familiar with git commands.
I have made appropriate changes at my repository.

[2017-05-05 14:00] damithc commented on #7230
We are using slack at the moment. Haven't decided to switch to Gitter as of yet. I created the chat room for testing only. Will let you know early next week whether we switch to Gitter or stay with slack. In the latter case, we'll be inviting you to slack.

[2017-05-05 14:03] damithc commented on #7204
Haven't thought about it yet. Suggestions welcome.

[2017-05-05 14:05] VamsiSangam commented on #7229
@shubham49 , you manually removed all the changes. That is not what I meant by revert. Your `master` branch is still 2 commits ahead of `TEAMMATES:master`. I understand you are new to git. So don't hesitate/feel shy to ask for help here. We all came here to learn. :wink:

Have a look at [this](http://stackoverflow.com/questions/6459080/how-can-i-undo-a-git-commit-locally-and-on-a-remote-after-git-

[2017-05-05 14:05] damithc commented on #7227
@VamsiSangam please add an issue for it

[2017-05-05 14:09] VamsiSangam commented on #7230
Ok sir, then keeping this issue open might lead everyone to the wrong destination. Closing issue now.

[2017-05-05 14:09] #7230 closed

[2017-05-05 14:16] shubham49 commented on #7229
I did everything from eclipse. In the history tab I see two extra commits that need to be deleted.
But there is not option of re-basing master to older revision.
![image](https://cloud.githubusercontent.com/assets/10528953/25749197/4faf2762-31cb-11e7-9ef9-b0b3e4c5d7a6.png)
Through command line I get status "fatal: your current branch 'master' does not have any commits yet"

[2017-05-05 14:23] damithc commented on #578
Old issue. closing.

[2017-05-05 14:23] #578 closed

[2017-05-05 14:23] damithc commented on #584
Old issue. closing.

[2017-05-05 14:23] #584 closed

[2017-05-05 14:24] VamsiSangam commented on #7229
It is generally not recommended to use the IDE to do git stuff. Most programmers prefer using the command line. So let us keep Eclipse out of this :stuck_out_tongue_closed_eyes:

Can you paste the list of commands you executed and their output here so that I can assist you better?

[2017-05-05 14:26] damithc commented on #605
Old issue. closing

[2017-05-05 14:26] #605 closed

[2017-05-05 14:26] damithc commented on #654
Old issue. closing

[2017-05-05 14:26] #654 closed

[2017-05-05 14:27] shubham49 commented on #7229
![image](https://cloud.githubusercontent.com/assets/10528953/25749694/0dc26de4-31cd-11e7-85c3-be6c700386e6.png)

[2017-05-05 14:27] damithc commented on #666
Old issue. closing.

[2017-05-05 14:27] #666 closed

[2017-05-05 14:31] damithc commented on #680
Old issue. closing.

[2017-05-05 14:31] #680 closed

[2017-05-05 14:32] damithc commented on #686
Old issue. closing.

[2017-05-05 14:32] #686 closed

[2017-05-05 14:37] kguo901 commented on #7224
@damithc After looking into this issue more, I agree that I need more familiarity with the code. In the time that I worked on this, I did a bit of layout planning with the new weights (see image below). Whoever wants to work on this issue may feel free to use it.
![teammates - instructo_ - http___localhost_8888_page_instructorfeedbackeditpage](https://cloud.githubusercontent.com/assets/15681154/25

[2017-05-05 14:38] damithc opened #7231 "Create an 'under maintenance' version"
Create a version (as a separate branch) where all requests to app pages are redirected to a notice 'under maintenance, check again later'. This version can be used when we need to take the app offline for something (e.g. data migration)

[2017-05-05 14:39] #711 closed

[2017-05-05 14:41] damithc commented on #740
Old issue. closing.

[2017-05-05 14:41] #740 closed

[2017-05-05 14:41] damithc commented on #759
Old issue. closing.

[2017-05-05 14:41] #759 closed

[2017-05-05 14:42] damithc commented on #763
Old issue. closing.

[2017-05-05 14:42] #763 closed

[2017-05-05 14:47] damithc commented on #1047
Old issue. closing

[2017-05-05 14:47] #1047 closed

[2017-05-05 14:48] damithc commented on #1049
Old issue. closing.

[2017-05-05 14:48] #1049 closed

[2017-05-05 14:53] damithc commented on #1059
Old issue. closing.

[2017-05-05 14:53] #1059 closed

[2017-05-05 15:06] damithc commented on #1180
Old issue. closing.

[2017-05-05 15:06] #1180 closed

[2017-05-05 15:10] #1191 closed

[2017-05-05 16:57] VamsiSangam opened #7232 "InstructorFeedbackEditPage: Add option to discard changes for session details"
**Description of feature/enhancement**

We need to add a "Discard changes" option for the feedback session details too. Precisely speaking, when we try to edit a feedback question,

![edit-feedback-3](https://cloud.githubusercontent.com/assets/11662001/25746268/5621ab98-31c0-11e7-94b2-751e22e8ffce.JPG)

we get these options -

![edit-feedback-4](https://cloud.githubusercontent.com/assets/11662001/

[2017-05-05 17:15] VamsiSangam commented on #7229
It is a little unusual that you don't have an `origin`. Ideally, on typing `git remote -v` you should get a result like this -

![remote](https://cloud.githubusercontent.com/assets/11662001/25755926/78069f94-31e2-11e7-86c8-6a99ac00e1fa.JPG)

I think you might have set up the project a little differently than what's mentioned in the docs. Please start again freshly. Don't feel bad that I'm asking y

[2017-05-05 19:08] VamsiSangam opened #7234 "Pull Request Template: Fix typo 'abovementioned'"
A minor typo in [PULL_REQUEST_TEMPLATE.md](https://github.com/TEAMMATES/teammates/blob/master/.github/PULL_REQUEST_TEMPLATE.md). Change -

to

[2017-05-05 19:51] Jefferysan commented on #7228
Hi! I am new to the project and would like to take this as my first time contribution.

[2017-05-05 20:36] VamsiSangam commented on #7227
Added the issue #7232

[2017-05-06 02:03] damithc commented on #7228
Welcome to TEAMMATES @Jefferysan
Please refer to our 'Contributor Orientation Guide' (link given in our [project home page](/teammates/teammates)) on how to get started.

[2017-05-06 02:32] #1214 closed

[2017-05-06 02:34] #1200 closed

[2017-05-06 02:36] #1219 closed

[2017-05-06 02:37] damithc commented on #1229
old issue. closing.

[2017-05-06 02:37] #1229 closed

[2017-05-06 02:45] damithc commented on #1240
Old issue. closing.

[2017-05-06 02:45] #1240 closed

[2017-05-06 02:46] damithc commented on #1279
Not relevant anymore

[2017-05-06 02:46] #1279 closed

[2017-05-06 02:47] shubham49 commented on #7229
I have followed above instructions and reverted my master branch. Now I want to create branch tinker and commit changes through command line. Earlier I did that with eclipse Egit. Please share some resources to make new branch (or to work with branches) and commit selected files to that (as there would be a lot uncommitted files).

[2017-05-06 02:48] #1289 closed

[2017-05-06 02:58] #1299 closed

[2017-05-06 03:00] damithc commented on #1312
Old issue. closing.

[2017-05-06 03:00] #1312 closed

[2017-05-06 03:03] damithc commented on #1360
No longer relevant.

[2017-05-06 03:03] #1360 closed

[2017-05-06 03:05] #1364 closed

[2017-05-06 03:05] #1365 closed

[2017-05-06 03:09] damithc commented on #1396
old issue. closing.

[2017-05-06 03:09] #1396 closed

[2017-05-06 03:19] VamsiSangam commented on #7229
Nice work so far! :+1: [Check this link](https://www.atlassian.com/git/tutorials/using-branches) for info about branches. To create a new branch you would do -

[code]

But remember, doing that does not take you to `tinker` branch yet. And also you must execute the above branch from `master` branch. So to go to `tinker`, you need to checkout -

[code]

Then, you would do some creative modification

[2017-05-06 03:36] #1417 closed

[2017-05-06 03:37] #1419 closed

[2017-05-06 03:38] #1434 closed

[2017-05-06 03:45] #1562 closed

[2017-05-06 03:47] #1575 closed

[2017-05-06 03:55] VamsiSangam opened #7235 "instructorHomePage: Add spacing to send notification button"
In `instructorHomePage`, the course panel's button which sends a reminder to recipients of pending comments is a little too clumsy -

![1](https://cloud.githubusercontent.com/assets/11662001/25769686/c0a517f2-323d-11e7-81ed-1c81431d24eb.JPG)

We can add a little space, as such -

![2](https://cloud.githubusercontent.com/assets/11662001/25769670/9da03336-323d-11e7-971e-99fed08e8495.JPG)

to make it

[2017-05-06 04:00] #1580 closed

[2017-05-06 04:01] #1588 closed

[2017-05-06 04:02] #1598 closed

[2017-05-06 04:09] damithc opened #7236 "Student: submit responses: contribution question: Give more info on 'Equal share' scale"
Suggestion:
In the submission form, we can have more info on the scale used

![image](https://cloud.githubusercontent.com/assets/1673303/25769746/656ea882-3254-11e7-8bf1-a9da4ef93066.png)

Add a `More info about the 'Equal share' scale` link that opens a modal window?

Justification:
Some students don't understand the meaning of `Equal share`

[2017-05-06 04:14] damithc commented on #1601
Old issue. closing.

[2017-05-06 04:14] #1601 closed

[2017-05-06 04:17] damithc commented on #1621
done.

[2017-05-06 04:17] #1621 closed

[2017-05-06 04:18] #1632 closed

[2017-05-06 04:18] #2340 closed

[2017-05-06 04:24] #1681 closed

[2017-05-06 04:32] damithc opened #7237 "Instructor: edit session questions: MCQ and MSQ questions: support generating options from team members"
Current:
Options can be generated based on students, teams, and instructors.
![image](https://cloud.githubusercontent.com/assets/1673303/25769855/1e21a2a6-3257-11e7-9a42-8d8948294a3c.png)

Suggested:
Add options `team members (excluding self)` `team members (including self)`

Justification:
In some cases the choices need to be limited to team members only

[2017-05-06 04:52] damithc commented on #1694
A copy is not sent to instructors anymore

[2017-05-06 04:52] #1694 closed

[2017-05-06 05:02] #1703 closed

[2017-05-06 05:03] #1723 closed

[2017-05-06 05:03] #1725 closed

[2017-05-06 05:04] #1728 closed

[2017-05-06 05:09] #1763 closed

[2017-05-06 05:53] HirdayGupta commented on #7223
@damithc Just to be clear you are talking about the copy button in Feedback Session Actions listed alongside the list of feedback sessions in the Sessions page for instructors, right?

i.e, this set of actions?:
![screen shot 2017-05-06 at 10 58 09 am](https://cloud.githubusercontent.com/assets/18088721/25770141/1e77ec4e-324b-11e7-8f36-e9cb1830cbf3.png)

I am confirming because I am not able to re

[2017-05-06 06:07] damithc commented on #1774
Duplicate

[2017-05-06 06:07] #1774 closed

[2017-05-06 06:08] HirdayGupta commented on #7236
Working on this.

[2017-05-06 06:09] #1805 closed

[2017-05-06 06:20] #2108 closed

[2017-05-06 06:24] damithc commented on #2160
Old issue. closing.

[2017-05-06 06:24] #2160 closed

[2017-05-06 06:32] damithc commented on #2270
Old issue created before switching to sendgrid

[2017-05-06 06:32] #2270 closed

[2017-05-06 06:34] #2295 closed

[2017-05-06 06:35] damithc commented on #2296
No longer relevant

[2017-05-06 06:35] #2296 closed

[2017-05-06 06:40] damithc commented on #2297
Currently students can view the profile pic of team members, but not other details.

[2017-05-06 06:41] #2297 closed

[2017-05-06 06:42] #2298 closed

[2017-05-06 06:46] #2299 closed

[2017-05-06 06:47] #2314 closed

[2017-05-06 06:47] damithc commented on #2323
Done

[2017-05-06 06:47] #2323 closed

[2017-05-06 06:57] #2325 closed

[2017-05-06 06:57] #2326 closed

[2017-05-06 06:59] #2327 closed

[2017-05-06 07:03] #2328 closed

[2017-05-06 07:03] #2329 closed

[2017-05-06 07:07] shubham49 commented on #7229
I made new branch tinker and committed changes. On pushing changes I got "every thing up to date"
![image](https://cloud.githubusercontent.com/assets/10528953/25770639/8694bc50-3258-11e7-9ac2-694f47dacaee.png)
Now just want to verify if everything is set up correctly!

[2017-05-06 07:07] damithc commented on #2335
Also can include details about `sections`.

[2017-05-06 07:08] damithc commented on #2354
Merging into #2335

[2017-05-06 07:08] #2354 closed

[2017-05-06 07:12] #2356 closed

[2017-05-06 07:14] #2357 closed

[2017-05-06 07:14] #2358 closed

[2017-05-06 07:14] #2378 closed

[2017-05-06 07:14] #2431 closed

[2017-05-06 07:14] #2462 closed

[2017-05-06 07:24] #2359 closed

[2017-05-06 07:27] damithc commented on #2489
Old issue. closing.

[2017-05-06 07:27] #2489 closed

[2017-05-06 07:29] #2507 closed

[2017-05-06 07:40] damithc commented on #2542
Might have to do as multiple PRs, one PR per question type

[2017-05-06 07:43] #2543 closed

[2017-05-06 07:47] #2611 closed

[2017-05-06 07:52] damithc opened #7239 "Student: submit responses: allow student to add a comment for each response"
When students submit responses, it is useful if the system allows student to add an explanatory comment. It also avoid the need to add questions such as 'explain your response to the previous question' to collect justifications.

This might have to be done as multiple PRs, one per question type. We can start with MCQ questions.

[2017-05-06 08:01] damithc commented on #2667
Old issue. closing.

[2017-05-06 08:01] #2667 closed

[2017-05-06 08:37] damithc opened #7240 "Instructor: view results: constant sum questions: show total per student"
Current: individual values and average is shown but not the total
![image](https://cloud.githubusercontent.com/assets/1673303/25771092/33ec3132-327a-11e7-942f-d1ed243542be.png)

Suggestions: also show total as another column

[2017-05-06 08:42] damithc commented on #2682
Old issue. Although not resolved, putting it down to intermittent failures general distributed databases and closing the issue.

[2017-05-06 08:42] #2682 closed

[2017-05-06 08:43] damithc commented on #2714
Old issue. closing.

[2017-05-06 08:43] #2714 closed

[2017-05-06 08:58] #2724 closed

[2017-05-06 09:04] #2770 closed

[2017-05-06 09:11] damithc commented on #2775
For this feature, we should consider reusing the same modal window used in the 'remind' button on the instructor home page.

[2017-05-06 09:20] #2783 closed

[2017-05-06 09:26] #2820 closed

[2017-05-06 09:30] damithc commented on #2822
Not needed due to #7065

[2017-05-06 09:30] #2822 closed

[2017-05-06 09:48] #2837 closed

[2017-05-06 09:53] #2855 closed

[2017-05-06 09:59] #2875 closed

[2017-05-06 10:03] #2890 closed

[2017-05-06 10:13] #2892 closed

[2017-05-06 11:33] damithc commented on #7223
@HirdayGupta the issue is present in instructor home page as well as in the `sessions` page.  Perhaps the technique used for the 'copy' button tool tip is not supported in your Browser.

[2017-05-06 13:00] HirdayGupta commented on #7223
@damithc The fix I've pushed in the PR seems to fix both instances of the issue (since the tag is reused).

I would also like to know which browser you were using to replicate the behavior. This is because, at least in the tag's HTML file, the copy button did not have any implementation of tooltip at all, so there might be some additional redundant JS code that I have to remove.

[2017-05-06 13:31] damithc commented on #7223
I'm using Chrome on Windows

[2017-05-06 14:08] kguo901 commented on #7235
I will work on this.

[2017-05-06 14:51] rchliu commented on #7240
I can do this.

[2017-05-06 20:18] sujeet14108 commented on #5439
@LowWeiLin
Are we talking about this ?

         CourseAttributes course1 = dataBundle.courses.get("typicalCourse1");
        assertEquals(course1.getId(), courseList.get(0).getId());
        assertEquals(course1.getName(), courseList.get(0).getName());

        CourseAttributes course2 = dataBundle.courses.get("typicalCourse2");
        assertEquals(course2.getId(), courseList.get(1).getId());

[2017-05-07 08:57] VamsiSangam commented on #7229
LGTM :+1: Nice work! Please get started by solving a [d.FirstTimers](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.FirstTimers) issue. You are allowed to solve only a single `d.FirstTimers` issue, after which you must move to [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.Contributors) issues, where you can work on m

[2017-05-07 08:58] VamsiSangam commented on #2335
Will do :smile:

[2017-05-07 10:50] shubham49 commented on #7222
If anyone is not working on this issue, may I do this?

[2017-05-07 18:20] VamsiSangam commented on #7222
Hi @harispan ! Are you working on this issue currently??

[2017-05-07 20:46] sujeet14108 commented on #6909
In a single action class sometimes 3 (Uri, error, userId) and sometimes 4(Uri, error, userId, courseInfo) parameters are used. So to solve this we should implement abstract method of variable parameters in each action class?

[2017-05-08 02:13] whipermr5 commented on #7091
@thenaesh Any reason what might be the cause?

[2017-05-08 02:53] whipermr5 opened #7245 "Release V5.103"
Scheduled for May 10, 2017, 11.59pm SGT.

[2017-05-08 02:54] whipermr5 opened #7246 "Update about.jsp with contributors from V5.103"

[2017-05-08 03:12] whipermr5 commented on #5866
@damithc What's the latest error message? The issue might be with the test itself as the expected link contains a `BACKDOOR_STATUS_FAILURE` while the actual link is correct in the last error message [above](https://github.com/TEAMMATES/teammates/issues/5866#issuecomment-235789824).

[2017-05-08 03:47] sujeet14108 commented on #3782
@kanghj We have to add more responses in the` StudentFeedbackResultsPageUiTest.json` to solve this ?

[2017-05-08 03:53] wkurniawan07 commented on #7119
Closing due to inactivity. @Devmassnk if you still face problems related to this issue, feel free to reopen.

[2017-05-08 03:53] #7119 closed

[2017-05-08 04:01] wkurniawan07 commented on #7142
Closing due to inactivity; seems like all is well. (I hope)

[2017-05-08 04:01] #7142 closed

[2017-05-08 04:03] wkurniawan07 commented on #7153
I have raised this long ago: #3554

[2017-05-08 04:03] #7153 closed

[2017-05-08 04:04] wkurniawan07 commented on #6594
@chowyb can you look into this?

[2017-05-08 04:08] wkurniawan07 commented on #5439
@sujeet14108 you are exactly right.

[2017-05-08 05:09] HirdayGupta commented on #7236
@damithc should this link be adjacent to each option? (refer screenshot below) or just the first option?

<img width="1180" alt="screen shot 2017-05-08 at 10 38 29 am" src="https://cloud.githubusercontent.com/assets/18088721/25790943/855d11ce-33da-11e7-977b-4797618e374e.png">

[2017-05-08 06:24] #7218 closed

[2017-05-08 06:29] wkurniawan07 commented on #7026
Closing due to inactivity. @wkk91193 feel free to reopen if problems of similar topic arise.

[2017-05-08 06:29] #7026 closed

[2017-05-08 06:30] wkurniawan07 commented on #7022
Closing due to inactivity. @angelosdmg feel free to reopen if problems of similar topic arise.

[2017-05-08 06:30] #7022 closed

[2017-05-08 07:41] leeyimin commented on #6909
@sujeet14108 I believe there might be no need to implement a separate method for each action class. The needed string usually follows a certain format of `viewUri + "?error=" + error + "&user=" + userId `. We can implement this method in BaseActionTest and make all the tests use this method from BaseActionTest. For the four variable case, we can overload the same method.

[2017-05-08 07:51] damithc opened #7247 "UI tests against live server: update automated login to match new Google login page"
Google has introduced a new login page that doesn't match with our current login script used by UI tests.

![image](https://cloud.githubusercontent.com/assets/1673303/25795019/fe44c1ba-3405-11e7-8254-b154def6e466.png)

Tests cannot be run against the live server until this is fixed.

[2017-05-08 07:52] damithc commented on #5866
I was trying to run the test again to check, but ran into https://github.com/TEAMMATES/teammates/issues/7247 :-p

[2017-05-08 08:00] damithc commented on #7236
Once is enough. May be we can name it `More info about the 'Equal share' scale`?

[2017-05-08 08:17] #6673 closed

[2017-05-08 08:23] leeyimin commented on #6673
No longer happens at b588c96.

[2017-05-08 08:36] leeyimin opened #7248 "Sanitize admin email content with sanitizeForRichText"
Admin Email content is displayed without any sanitization in the Admin Email Log page. Thus, sanitization for rich text should be applied to the content to remove scripts and other unnecessary tags in the content.

[2017-05-08 08:41] chowyb opened #7249 "Instructor: Feedback results: make results consistent after student deletion"
When responding to a "Rank (recipients) question", if a recipient is later deleted from the course, the resulting numbering in the results page is inconsistent. Below is the resulting numbering for a case where ranks 1 through 4 were given out to recipients, and the recipient receiving rank 3 is later deleted.
![rankr](https://cloud.githubusercontent.com/assets/7546744/25796548/7ffb6078-340c-11e7-

[2017-05-08 09:20] chowyb opened #7252 "Instructor: FeedbackEditPage: fix update message"
On instructorFeedbackEditPage, after editing a feedback question, the following message is shown to the user:

The changes to the question has been updated.

This should be changed to "The changes to the question have been updated.". Alternatively, it might be possible to rephrase this message to be clearer instead.

[2017-05-08 09:59] VamsiSangam commented on #7204
Currently, I broke the `instructorHelp.jsp` according to the sections. This is the current directory structure -
![capture](https://cloud.githubusercontent.com/assets/11662001/25799046/2793e6f4-3401-11e7-8b52-0369d53f920a.JPG)

I have created a new folder `help`, which has one `.jsp` file per section in `instructorHelp` page. Precisely speaking, each `section` I call here is the first level of uno

[2017-05-08 10:01] Malkone commented on #7171
Hi, the issue is interesting, I would like to try solving it.
Can you please help to understand the task correctly: method ```refreshTestData(String filename)``` loads ```DataBundle``` from JSON file, which is created in class ```InstructorFeedbackResultsPageDataGenerator```. We have 6 such files (with 10 or 20 students with 1, 5 and 10 questions for each of two options) and for each such new ```S

[2017-05-08 10:03] VamsiSangam commented on #7044
@whipermr5 , could you please clarify my above question, or tag someone who could?

[2017-05-08 10:12] whipermr5 commented on #7044
Viewing the `blame`, that line was first introduced in July 2015 via 3271068faccb50cf55cbb7f01778d091533c4d1c by @kanghj.

[2017-05-08 10:38] narendravardi commented on #7252
Hi @chowyb,

I am new and want to contribute. Can I work on this?

[2017-05-08 10:43] chowyb commented on #7252
Hi @narendravardi,

Sure, feel free to work on this issue. You may wish to have a look at our [contributor orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) before proceeding.

[2017-05-08 12:24] samsontmr commented on #7171
Yes, that sounds about right. However, take note of the transition from 10 students+10 questions to 20 students+1 question.

[2017-05-08 13:26] angelosdmg opened #7254 "Adding new Pages"
Hello everyone,
I have some questions regarding new pages and what steps one should follow in order to create one.
Which are the files that should be changed and what should I add?
Is it the same process for servlets?

Thank you in advance

[2017-05-08 16:18] Malkone commented on #7171
Thanks, I'll be careful with that transition!
One more question for better understanding the goal. You wrote that "write operations are not free" on live/staging server - which operations specificly are chargeable? I mean, which result is beeter:
- writing less files with testing data?
- or quantity of file does not matter and only their sum volume in bytes matter?
- or even creating multiple obje

[2017-05-08 16:23] kanghj commented on #7044
That line was intentionally added back then, since that section was for containing responses for "Nobody specific (For general class feedback)".

[2017-05-08 17:03] VamsiSangam commented on #7044
So @damithc sir, that panel is meant for responses for question where the recipient is `Nobody specific (For general class feedback)` as said by @kanghj.

The current behavior is that when the user selects `Group by - Recipient > Question > Giver`, then `N + 1` drop down options show up, where `N` is the number of sections and the extra one which is meant for `Nobody specific (For general class fe

[2017-05-08 19:34] sujeet14108 commented on #6909
@leeyimin  Okay on it.

[2017-05-09 02:13] damithc commented on #5866
The error now is,
[code]

[2017-05-09 02:17] whipermr5 commented on #5866
👌 #7255 handles that one too

[2017-05-09 02:20] leeyimin opened #7256 "Whitelist tags that can be created by the rich text editor in the sanitization policy"
The current rich text editor used on the frontend allows users to create tables, use superscript `<sup></sup>`, subscript `<sub></sub>` and code `<code></code>`. However, upon saving, if the field is sanitized using `sanitizeForRichText`, these tags are removed and the desired formatting is lost. The sanitization policy used by `sanitizeForRichText` should be updated to allow such tags to be used.

[2017-05-09 03:51] malayaleecoder opened #7257 "Admin: home page: fix typo"
Change from `Add Instructor` to `Add Instructors` is required as the details are expected from multiple Instructors.
<img width="1067" alt="screen shot 2017-05-09 at 11 43 15 am" src="https://cloud.githubusercontent.com/assets/16613630/25834917/a705e606-34ad-11e7-84fd-55b50296427c.png">

[2017-05-09 05:50] #7086 closed

[2017-05-09 06:06] damithc commented on #7044
The thing is, my questions have recipients. See below
![image](https://cloud.githubusercontent.com/assets/1673303/25837489/beeddc48-34c0-11e7-9b75-984255de34b3.png)

[2017-05-09 06:48] #7247 closed

[2017-05-09 07:24] thenaesh opened #7259 "Add a GodMode section to the Troubleshooting docs"
Alternatively, this could be added directly to the GodMode docs.

Document some things to watch out for and some common errors and their workarounds.
Known issues as of now:

- [ ] Stuff to change in build.properties, requirement to _clean_ project after that
- [ ] ...

[2017-05-09 07:37] leeyimin opened #7260 "Data Migration: Remove HTML sanitization in CourseAttributes"
Removing HTML sanitization in sanitizeForSaving in CourseAttributes as mentioned in #4588.

- [x] Removing html sanitization before saving while ensuring frontend works with both data formats (#7262)
- [x] Add data migration script for legacy data (#7571)
- [x] Run data migration on datastore (#7679)
- [ ] Remove code added to provide compatibility with legacy format

Script to remove after the is

[2017-05-09 07:44] veniversum opened #7261 "Add HTTP referrer validation"
Thanks for the report @veniversum We'll work on it
[description removed due to sensitivity]

[2017-05-09 07:51] leeyimin opened #7262 "Sanitize name of CourseAttributes on rendering instead of before saving"
As mentioned in #7260.

[2017-05-09 07:53] wkurniawan07 commented on #7204
On a related note, you may want to consider how the help page itself is constructed.

Many components in the page are hard-coded but with limited interaction, e.g. forms which can be filled/clicked but cannot be submitted. Replacing them with screenshots will cut down the page size by quite a large margin.

[2017-05-09 07:59] #7235 closed

[2017-05-09 08:15] VamsiSangam commented on #7204
Yes I have noticed it @wkurniawan07 👍  . @damithc sir, shall I replace the user interactive forms with screenshots?

A few things I'd like to mention -

- jQuery and `bootstrap.min.js` are not currently being loaded into [help pages](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/WEB-INF/tags/helpPage.tag). So the forms which we display currently lack certain features such as t

[2017-05-09 08:52] damithc commented on #7204
The screen mockups in the help page are done using code (instead of screenshots) to avoid having to replace many screenshots when there are small changes to the UI. Also, all of them can be made to look consistent whereas screenshots will look different based on the computer used to take them.

[2017-05-09 09:11] VamsiSangam commented on #7204
I will leave the forms as they are then. If the need to convert them to images rises in the future, we could always open up a new issue.

So @damithc sir, is my above mentioned scheme of breaking `instructorHelp.jsp` agreeable?

[2017-05-09 09:20] angelosdmg commented on #7257
Hello, I'd like to fix this issue

[2017-05-09 10:03] VamsiSangam opened #7263 "Acknowledgements in README: Add GSoC2017"
In the acknowledgements section of README.md -

We can add GSoC2017 too 😄. Also, we could add the GSoC organisation link corresponding to TEAMMATES -
- [GSoC2014](https://www.google-melange.com/archive/gsoc/2014/orgs/teammates)
- [GSoC2015](https://www.google-melange.com/archive/gsoc/2015/orgs/teammates)
- [GSoC2016](https://summerofcode.withgoogle.com/archive/2016/organizations/5837196636454912/)

[2017-05-09 10:14] damithc commented on #7204
I'm ok with it.

[2017-05-09 11:33] VamsiSangam opened #7264 "instructorHelp: Update UI based examples"
The UI based examples are outdated. Update them according to the latest UI. Eg. this is the example given in `instructorHelp.jsp`, for `Sessions -> Setting up questions`.

![1](https://cloud.githubusercontent.com/assets/11662001/25847750/02ef19a2-34d5-11e7-9cad-3cfd7f5dbf80.JPG)

This is the actual UI the instructor sees when creating a new essay question -

![2](https://cloud.githubusercontent.co

[2017-05-09 15:56] #7202 closed

[2017-05-09 16:06] nikiforosbotis opened #7265 "Minor typo in the comments at InstructorDB.java file"
A minor typo exists in the InstructorDB.java, line 91 in the comments:

`* visibility according to the logged-in user's google ID. This is used by amdin to`

As you can see, the used word is "amdin" instead of "admin".

I do consider it as a proper issue for FirstTimers and this is why I openned it.

[2017-05-09 22:05] sujeet14108 commented on #6356
@wkurniawan07 `testExecuteAndPostProcess()` is aready declared as abstract method in `BaseActionTest` so all inherited class is implementing it.
Do we just need to add `testAccessControl()` as abstract method in `BaseActionTest`?

[2017-05-09 23:02] chowyb commented on #7265
@nikiforosbotis thanks for the report 👍

[2017-05-09 23:49] cmorris2 opened #7267 "Assistance on phase C of the orientation task list please"
Hi, I am new to the project and I would like to become a contributor so I am trying to finish the orientation task list. I have gotten to phase C #2, but I'm stuck and would like assistance on making a change to the UI. My main issue is just locating the appropriate files to make the changes to the UI. I apologize if this is already posted somewhere. Thank you for your time.

[2017-05-10 00:22] kguo901 commented on #7264
I can work on this.

[2017-05-10 02:41] damithc commented on #7264
@VamsiSangam are you going to work on this?

[2017-05-10 03:14] VamsiSangam commented on #7264
No sir I am not. @kguo901 feel free to take up this issue 👍

[2017-05-10 03:18] damithc commented on #7264
@kguo901 I suggest you do just one example and get it reviewed first.

[2017-05-10 03:26] damithc commented on #7204
@VamsiSangam why are we closing this issue?

[2017-05-10 03:29] VamsiSangam commented on #7204
As you said sir, the break up scheme was OK, I thought the issue is resolved.

[2017-05-10 03:39] damithc commented on #7204
I suggest we break up the help page first and then do #2335. It's easier to review and faster to merge that way. Merging the broken up help page sooner will help other PRs working on updating existing examples.
Even the new sections can be added one at a time instead of as one big PR.

[2017-05-10 03:43] VamsiSangam commented on #7267
Hi @cmorris2 ! Thanks for your interest in TEAMMATES! 😄

As you are a first time contributor, you should try modifying the UI of the straight forward pages, such as

- [Home page](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/index.jsp)
- [Features page](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/features.jsp)
- [About Us page](https://github.com/TEAMMA

[2017-05-10 03:45] VamsiSangam commented on #7204
Sure sir. I had a similar feeling. Will submit a PR ASAP.

[2017-05-10 06:11] damithc commented on #2908
Example:
Submission:
![image](https://cloud.githubusercontent.com/assets/1673303/25885302/50529eb6-358a-11e7-83c3-48dd7c30f917.png)

Current (when instructor view results):
![image](https://cloud.githubusercontent.com/assets/1673303/25885332/742d1b4a-358a-11e7-8b5d-42510bb9e2c1.png)

Expected:
Show 'Not Sure' instead of 'N/A'

[2017-05-10 06:13] #2912 closed

[2017-05-10 06:13] samsontmr commented on #7171
I believe it should be `quantity of file does not matter and only their sum volume in bytes matter?`

@whipermr5 can confirm?

[2017-05-10 06:24] damithc commented on #2933
This probably needs to be done one question type at a time.

[2017-05-10 06:24] #2933 closed

[2017-05-10 06:25] damithc commented on #2936
Old issue. closing.

[2017-05-10 06:25] #2936 closed

[2017-05-10 06:26] damithc commented on #2943
Old issue. closing.

[2017-05-10 06:26] #2943 closed

[2017-05-10 06:27] damithc commented on #2946
Old issue. closing.

[2017-05-10 06:27] #2946 closed

[2017-05-10 06:28] damithc commented on #2963
Probably need to do one question type at a time

[2017-05-10 06:28] #2963 closed

[2017-05-10 06:28] #2965 closed

[2017-05-10 06:30] damithc commented on #2967
Done.

[2017-05-10 06:30] #2967 closed

[2017-05-10 06:32] damithc commented on #2977
Done in a different issue.

[2017-05-10 06:32] #2977 closed

[2017-05-10 06:33] #2978 closed

[2017-05-10 06:34] #2979 closed

[2017-05-10 06:39] #2988 closed

[2017-05-10 06:41] damithc commented on #2994
Will be considered in future backend optimizations.

[2017-05-10 06:41] #2994 closed

[2017-05-10 06:41] damithc commented on #3001
Old issue. closing.

[2017-05-10 06:41] #3001 closed

[2017-05-10 06:42] damithc commented on #3002
Done.

[2017-05-10 06:42] #3002 closed

[2017-05-10 06:43] damithc commented on #3009
Old issue. closing.

[2017-05-10 06:43] #3009 closed

[2017-05-10 06:43] damithc commented on #3018
Old issue. closing.

[2017-05-10 06:43] #3018 closed

[2017-05-10 06:45] #3046 closed

[2017-05-10 06:50] #3049 closed

[2017-05-10 06:53] #3070 closed

[2017-05-10 06:58] damithc commented on #3091
In fact, there is no confirmation for the delete button. :-p

![image](https://cloud.githubusercontent.com/assets/1673303/25886631/0f510dc4-3591-11e7-8147-11cbcdb27b6b.png)

[2017-05-10 07:05] #3074 closed

[2017-05-10 07:07] #3145 closed

[2017-05-10 07:08] #3165 closed

[2017-05-10 07:10] damithc commented on #3186
Will be considered in the upcoming student data ui update

[2017-05-10 07:10] #3186 closed

[2017-05-10 07:13] damithc commented on #3342
Old issue. closing.

[2017-05-10 07:13] #3342 closed

[2017-05-10 07:14] #3283 closed

[2017-05-10 07:15] whipermr5 commented on #7171
It should be number of calls to the datastore.

[2017-05-10 07:42] DaemonWill opened #7269 "New contributor self intro Daimen"
a)     https://teammates-daimen.appspot.com/
b)     https://github.com/DaemonWill/teammates
c)     When creating a new instructor from adminHome page, table content spills over large screens, did
        a quick fix

        before:
![image](https://cloud.githubusercontent.com/assets/28215667/25887556/9e64cea8-3530-11e7-8161-7f919735afbb.png)

        after:
![image](https://cloud.githubuserconten

[2017-05-10 07:43] damithc commented on #3355
Superseded by another issue

[2017-05-10 07:43] #3355 closed

[2017-05-10 07:44] damithc commented on #3373
Old issue. closing.

[2017-05-10 07:44] #3373 closed

[2017-05-10 07:48] damithc commented on #3401
Seems to be fixed

[2017-05-10 07:48] #3401 closed

[2017-05-10 07:49] damithc commented on #3404
Will be considered in the upcoming student data UI update.

[2017-05-10 07:49] #3404 closed

[2017-05-10 07:50] damithc commented on #3410
Old issue. closing.

[2017-05-10 07:50] #3410 closed

[2017-05-10 08:39] #3570 closed

[2017-05-10 08:51] damithc commented on #3637
Done.

[2017-05-10 08:51] #3637 closed

[2017-05-10 08:56] #3657 closed

[2017-05-10 09:01] damithc commented on #3806
@chowyb yes we can take a look at this again now.

[2017-05-10 10:20] kguo901 commented on #7264
@damith Sounds good, sir.

[2017-05-10 10:58] shubham49 commented on #7229
Do you know why these kind of test cases are getting failed?
![image](https://cloud.githubusercontent.com/assets/10528953/25895446/8ac5cd8a-359d-11e7-9b86-9268d2013f8f.png)
It seems like some sort of character encoding issue.
I have also changed Text file encoding to UTF-8.

[2017-05-10 11:15] malayaleecoder commented on #7257
@angelosdmg Sure, go ahead. Feel free to comment here in case of queries

[2017-05-10 11:24] VamsiSangam commented on #7229
Those kind of errors occur due to incorrect encoding scheme. Please check if you have configured your eclipse's project settings according to steps given in [ide-usage.md](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md). What you need to check for this error is `Text encoding` in the 4th point

Change the encoding scheme to `UTF-8`.

[2017-05-10 11:26] shubham49 commented on #7229
yes I had changed it.

[2017-05-10 12:25] shubham49 commented on #7229
This one worked. I think this link should also be added to docs(may be in troubleshooting-guide.md)

[2017-05-10 13:31] #3898 closed

[2017-05-10 13:34] #3929 closed

[2017-05-10 13:35] #3930 closed

[2017-05-10 13:35] #3993 closed

[2017-05-10 13:44] #5394 closed

[2017-05-10 13:53] #5605 closed

[2017-05-10 14:04] #6601 closed

[2017-05-10 14:23] damithc opened #7271 "Remove support for commenting on students/courses/teams"
Currently we support commenting on feedback responses as well as students/teams/courses.

As our user base and code base grows, we need to get rid of features that are not within our main focus. This particular feature is not within our main focus and based on usage data, rarely used. I proposed to get remove support for comments on students/courses/teams (but we continue to support and strengthen

[2017-05-10 14:26] damithc opened #7272 "Instructor: download results: include feedback response comments"
The csv file can include feedback response comments too. However, we should take care not to degrade the performance too much.

[2017-05-10 15:19] #7159 closed

[2017-05-10 16:50] VamsiSangam commented on #7229
There were plenty of options in that link, right? Can you specify which one worked?

@whipermr5 similar encoding related issues have occurred to people before, and the link helped. May be we should consider adding the link to docs in the future if this issue keeps troubling the devs.

[2017-05-10 16:53] whipermr5 commented on #7229
@VamsiSangam Good idea. Can you open an issue for it?

[2017-05-10 17:03] VamsiSangam opened #7274 "Troubleshooting guide: Add help link to change encoding scheme"
Quite a few people have been facing issues trying to get the encoding scheme right, despite having all the project specific properties as per our `ide-usage.md`.

[This link](https://z0ltan.wordpress.com/2011/12/25/changing-the-encoding-in-eclipse-to-utf-8-howto/) seems to have solved their issues successfully. Add this to the `troubleshooting-guide.md` under `Common setup errors and solutions`

[2017-05-10 17:04] VamsiSangam commented on #7229
Done. #7274 😄

[2017-05-11 00:49] #7246 closed

[2017-05-11 01:41] whipermr5 commented on #7245
Release 252

Code Contributions from: @boxin-yang, @HirdayGupta, @Malkone, @whipermr5, @thejosharcher, @kguo901, @Mynk96, @nassimbg, @rchliu, @saching97, @samsontmr, @shrut1996, @sdweber422, @Subh0m0y, @sujeet14108, @VamsiSangam, @wkurniawan07, @xpdavid, @Yogitha6
Review Contributions from: @damithc, @Neurrone, @whipermr5, @junhaoyap, @ablyx, @thenaesh, @wkurniawan07, @xpdavid, @leeyimin, @chowyb

[2017-05-11 03:09] thenaesh opened #7276 "Remove trailing whitespaces in JSP files"
There are lots of trailing whitespaces in the file, which shouldn't be there.

[2017-05-11 03:15] thenaesh commented on #7276
Closing first due to #7204

[2017-05-11 03:17] thenaesh commented on #7276
Reopening in a more general manner.

[2017-05-11 05:21] leeyimin commented on #7269
Hi @DaemonWill, welcome to TEAMMATES! 😄 Great job on completing the orientation tasks! You may want to submit what you have done on your tinker for #6900 or proceed to work on a firstTimers issue.

[2017-05-11 05:28] shubham49 commented on #7229
@VamsiSangam option 1 worked for me.

[2017-05-11 06:17] VamsiSangam commented on #7229
Noted @shubham49 👍 Thanks! 😄

[2017-05-11 07:23] #7256 closed

[2017-05-11 09:19] #7248 closed

[2017-05-11 09:26] damithc opened #7277 "Question type - rank: results: show 'average excluding self rating'"
Current:
![image](https://cloud.githubusercontent.com/assets/1673303/25942025/1e394440-366e-11e7-9237-9ecfd7a058dd.png)

The average shown includes self rating.

Suggestion:
Add a column showing 'Average excluding self rating'.
Should be added to the downloaded results too.

[2017-05-11 09:33] damithc opened #7278 "Instructor: view results: 'rank' questions: indicate self rating"
Current:
![image](https://cloud.githubusercontent.com/assets/1673303/25942352/34f6ae2e-366f-11e7-9372-ace56d9b3ba4.png)

Suggested:
We can indicate the self rating e.g. `1, 2, [3], 3`
Alternatively, we can give the self rank as a separate column

[2017-05-11 10:10] JosephineKwa opened #7279 "FeedbackQuestionsLogic: remove unused method isQuestionFullyAnsweredByTeam"

[2017-05-11 10:13] damithc opened #7280 "Multiple-choice (multiple answers) question: support min/max number of choices"
Suggestion:
Allow instructors to specify a minimum/maximum number of choices the respondent can select for 'Multiple-choice (multiple answers)' type questions. Both can be optional.

Justification:
Can facilitate questions such as 'nominate up to 3 colors for the project logo'

[2017-05-11 10:16] damithc opened #7281 "Multiple-choice (multiple answers) questions: support weights for options"
Suggestion:
For 'Multiple-choice (multiple answers)' type questions, we can support allocating weights for each option.

Justification:
These weights can be used to calculate a score.

[2017-05-11 10:20] damithc opened #7282 "'Rank' options: support min/max number of choices"
Similar to #7280, but for 'rank options/recipients' questions

[2017-05-11 10:27] JosephineKwa opened #7283 "JSON test data: use team name as giver in team responses"
For team responses, the response giver should be the team name rather than the email of the student that gave the response. E.g. `response1ForQ1S2C1` in `typicalDataBundle.json`. I've only checked `typicalDataBundle.json` but it's probably the case in other `json` files too.

[2017-05-11 12:16] JosephineKwa opened #7284 "FeedbackSessionsLogic: stop updateRespondentsForSession from adding team names to responding student list"
The responding student list is generated by iterating through all the responses of the session and adding the response giver. As response givers can be team names, this would result in the responding student list containing team names. This arose after the team response giver was changed from student email to team name to fix #4576.

Only student emails should be added to the list. However members

[2017-05-11 12:34] JosephineKwa opened #7285 "Student: submit a team response: the student's team members should also be added to the session's responding students list"
Currently only students who submit a response on behalf of the team are added to the list. This could create a situation where team members have to resubmit the same response in order to be considered a respondent.

[2017-05-11 12:40] #6504 closed

[2017-05-11 13:44] amarlearning opened #7286 "Form not avilable to create a course"
Trying to create a new course, but there is no form available to do so.
[screenshot]
***
![screenshot from 2017-05-11 19-11-40](https://cloud.githubusercontent.com/assets/9383897/25952341/108b4c70-367e-11e7-934f-e726d551b79f.png)
***
And no sample courses are there on my Instructor account
[screenshot]
***
![screenshot from 2017-05-11 20-13-35](https://cloud.githubusercontent.com/assets/9383897/25

[2017-05-11 14:58] LiHaoTan opened #7287 "Change teammates-eslint.yml and teammates-eslint-es6.yml"
There are no longer anymore ES5 Javascript files.

~~Can the es6 rules be migrated from `teammates-eslint-es6.yml` to `teammates-eslint.yml` or will it cause conflicts with the `json` plugin? (I took a look at how the plugin works and it should not cause any conflicts)~~

~~If the rules cannot be migrated over, can the rules from `teammates-eslint.yml` be removed and then renamed to `teammates-esl

[2017-05-11 15:01] damithc commented on #7286
I remember someone else reported an issue like this. Was it @AnaghHegde ?
Usually, there is no `isUsingAjax=on` at the end of the URL but in your case you seem to have that extra bit at the end of the URL.
![image](https://cloud.githubusercontent.com/assets/1673303/25956174/9460ad00-369d-11e7-87bc-c3ec5ef0794f.png)

[2017-05-11 15:35] LiHaoTan opened #7288 "Add stylelint support to IntelliJ"
Stylelint support is built into IntelliJ, instructions can be updated to show how to setup.

In addition, gradle task(s) can be created to automatically setup static analysis tools such as stylelint.

[2017-05-11 16:02] VamsiSangam commented on #7245
Just curious... How did you calculate the hours of code and review?

[2017-05-11 16:12] amarlearning commented on #7286
@damithc Do you have any idea of why is this happening or how to resolve this?

[2017-05-11 16:20] AnaghHegde commented on #7286
@damithc Yes. It was me. @amarlearning Try running `npm install` and then `npm run build`. Beccause in my case it was due to problem with transpilation of `es6` to `js` files. So try running these two commands.
`

[2017-05-11 16:40] amarlearning commented on #7286
@AnaghHegde Thanks that worked for me as well, I got my form.
@damithc But still no sample courses are there on my Instructor account, is there any way to get them back or I have to create some courses manually?

[2017-05-11 23:50] #7203 closed

[2017-05-12 00:26] damithc commented on #7286
Try creating another instructor account and see if a sample course is created for it.

[2017-05-12 00:38] cmorris2 opened #7290 "New contributor self intro Colby Morris"
a) Link to my app: https://colby-teammates.appspot.com
b) Link to my fork:  https://github.com/cmorris2/teammates/tree/tinker
c) Changed font color in UI: teammates/src/main/webapp/index.jsp
![uichange](https://cloud.githubusercontent.com/assets/16637219/25968307/9f0ec814-3656-11e7-8406-5c5bfa23a9c3.PNG)
I am just beginning to learn HTML/CSS so it is a minor change, but nevertheless I think it loo

[2017-05-12 01:22] whipermr5 commented on #7245
@VamsiSangam I summed up the `e.*` effort labels. They're added by team members as an estimate of the number of hours required for coding (tagged to the issue) and reviewing (tagged to the PR).

[2017-05-12 03:14] thenaesh commented on #7259
Anyone else with issues with GodMode, just add them here.

[2017-05-12 03:47] #2972 closed

[2017-05-12 04:23] LiHaoTan opened #7291 "package.json: mark application as private"
Warnings are generated when running `npm install` indicating there are no repository and license fields.

[2017-05-12 06:08] VamsiSangam commented on #7245
Wow that's cool. Thanks! 😄

[2017-05-12 06:38] Yogitha6 commented on #7245
@whipermr5 , after looking at this post, I thought the website with this latest code has been deployed, however when I access TEAMMATES website, I can't find the new changes.  Am I doing something wrong ?
(Just curious 😄)

[2017-05-12 06:46] whipermr5 commented on #7245
@Yogitha6 There are still several steps @damithc has to take before that, e.g. testing on the live server and making the new version default. Once it's fully deployed, this issue will be closed :)

[2017-05-12 06:59] AnaghHegde commented on #7286
@damithc i think we can add this error to trouble shooting guide may be. As there are good chances that people might get this error.

[2017-05-12 08:36] DaemonWill commented on #7269
Thanks for including the link to the issue. I saw that for #4112 they tried to include a link instead (which seems like a better option) so I included that as well and made a pull request.

[2017-05-12 08:39] DaemonWill commented on #6900
Currently under review :

![image](https://cloud.githubusercontent.com/assets/28215667/25990180/cc841a80-36cc-11e7-9cfb-ffe8ff5a1f49.png)

I included a link for the join url as mentioned in #4112

[2017-05-12 10:08] damithc commented on #7286
Good suggestion @AnaghHegde Feel free to create an issue for it.

[2017-05-12 10:14] damithc commented on #7245
@VamsiSangam note that these hours may not match the actual clock time spent. It's just a relative measure we use to keep track of our velocity.
@whipermr5 may be use a different name for the measurement units, to avoid misunderstandings?. XP/Scrum folks use 'story points' (as they use user stories for tracking requirements). We can simply call them 'points' or 'effort points'.

[2017-05-12 10:24] VamsiSangam commented on #7245
Yes sir I understand that 😄

[2017-05-12 10:33] amarlearning commented on #7286
@damithc Thanks, that worked.

[2017-05-12 10:35] #7286 closed

[2017-05-12 11:04] damithc commented on #6575
failing at v5.103
[code]

[2017-05-12 11:10] damithc commented on #7091
Failing at v5.103

[2017-05-12 11:24] damithc commented on #7245
Deployed

[2017-05-12 11:24] #7245 closed

[2017-05-12 12:24] LiHaoTan commented on #7287
I think the following should be done instead.

1. Rename `teammates-eslint.yml` to `teammates-eslint-json.yml`.
2. Rename `teammates-eslint-es6.yml` to teammates-eslint.yml`.

If possible, can we use [JSONLint](https://github.com/zaach/jsonlint) instead? It provides more comprehensive messages and is more suited for JSON linting. whipermr5 did not want to introduce additional dependencies but I th

[2017-05-12 13:01] MentalMittal commented on #7279
Hey, this is my first time contributing. How can I contribute?

[2017-05-12 13:30] JosephineKwa commented on #7279
Hey there, welcome to TEAMMATES @MentalMittal! To start contributing, do follow the orientation task list in our [contributor orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md). I look forward to your contributions!

[2017-05-12 15:24] #3840 closed

[2017-05-12 15:27] #3952 closed

[2017-05-12 15:33] #4351 closed

[2017-05-12 15:39] damithc commented on #4584
@JosephineKwa is this related to the issues you posted recently? If so, may be link them up?

[2017-05-12 15:40] #4589 closed

[2017-05-12 15:42] #4708 closed

[2017-05-12 19:43] amarlearning commented on #7225
@damithc I would like to take this one

[2017-05-13 00:56] damithc commented on #7225
Sure @amarlearning

[2017-05-13 03:56] wkurniawan07 commented on #7288
Is this IntelliJ-specific?

[2017-05-13 03:58] wkurniawan07 commented on #7291
Well, `package.json` is more meant for publishing to NPM which I don't see we are doing ever, because TEAMMATES is an end product. No harm in adding those, but don't let it be a maintenance burden.

[2017-05-13 04:05] wkurniawan07 commented on #7271
+1 this, for the reason that this feature is not very well-engineered (especially the front-end part) to begin with.

[2017-05-13 04:07] wkurniawan07 commented on #3806
If anyone's looking at this issue, the current state-of-the-art jQuery is version 3.x (earliest release in June 2016, a good one year after this issue was opened).

[2017-05-13 04:15] wkurniawan07 commented on #7287
@LiHaoTan shouldn't be a problem. The existence of the two different configs are due to the migration done some time back, but this part is not yet cleaned up. For (1), why not just do (2) and add the JSON plugin in it?

As for JSONLint, I'm not against adding any new linter, but is it considerably better than ESLint JSON plugin (i.e. does it justify its inclusion)? Also, does it support failing t

[2017-05-13 04:22] LiHaoTan commented on #7288
Theoretically no but Eclipse have no stylelint plugins.

The idea is that `teammates-stylelint.yml` be copied to `.stylelintrc.yml`. By default stylelint reads from that file and the IntelliJ stylelint similarly reads from that location. If there is to be a plugin for Eclipse, it should be able to read from the default location as well.

Though this would not enable stylelint in IntelliJ so a `wor

[2017-05-13 04:59] wkurniawan07 commented on #7254
Hi @angelosdmg, what were you trying to achieve? The answer to your question would depend on that.

[2017-05-13 05:09] wkurniawan07 commented on #7290
Hi @cmorris2, welcome to TEAMMATES community!
Good job in setting up your dev environment and deploying to staging server! You can start contributing by fixing issues listed in our issue tracker, in particular those labelled `d.FirstTimers` (do just one of these) and `d.Contributors`. Looking forward to your contributions! 👍

[2017-05-13 05:18] wkurniawan07 commented on #6356
@sujeet14108 some things have changed since this issue was opened. I may be wrong, but I think the only thing still relevant from the issue description is the `testAccessControl()` abstract API, as you mentioned. That still is in the spirit of the issue, though.

[2017-05-13 05:51] angelosdmg commented on #7254
Hello @wkurniawan07 . I'm trying to understand the project in depth because I'm interested.
Let's say that I want to add a new page where the admin is being shown just a html page.

[2017-05-13 06:11] LiHaoTan commented on #7291
Yea but I think getting rid of the warnings is better. The only easy way to manage packages seems to be to use npm and it seems a `package.json` will be needed to make things easier. There's no other way right?

[2017-05-13 07:35] #7223 closed

[2017-05-13 07:47] sujeet14108 commented on #6356
@wkurniawan07 Sorry i was trying to edit my comment but by mistake i deleted it :(.
So, for this now we have to make `testAccessControl()`abstract and also to implement it in each of the Test action class where this method is not implemented ?

[2017-05-13 07:51] #5859 closed

[2017-05-13 08:23] #5898 closed

[2017-05-13 08:28] damithc commented on #6048
Seems to be fixed.

[2017-05-13 08:28] #6048 closed

[2017-05-13 08:46] damithc opened #7294 "Instructor: home page: combine 'view results' and 'publish results' buttons"
Current:
![image](https://cloud.githubusercontent.com/assets/1673303/26024006/2d2f729c-37fb-11e7-809b-aeb82e638e17.png)

Suggested:
Combine the two buttons like this (similar to the `Remind` button):
`Results`
  -`View`
  -`Publish`
Furthermore, clicking the `Results` button directly can be considered as `View Results`

Justification:
Saves space (especially because we might add more results-relat

[2017-05-13 09:12] damithc commented on #7044
The feature seems to be working in some cases but not in others. If it helps, the problematic case is a session where all the questions have this type of feedback path i.e. from `Students in this course`, to `Other students in this course`

![image](https://cloud.githubusercontent.com/assets/1673303/26024175/319fcd3c-37ff-11e7-9eca-4399cbb9be1d.png)

[2017-05-13 09:15] damithc opened #7295 "Instructor: view results: remove 'filter results' feature"
Current:
![image](https://cloud.githubusercontent.com/assets/1673303/26024192/79323716-37ff-11e7-8620-c4bf2092fa74.png)

Suggestion:
Remove the filter box

Justification:
It simply filters the question text, so not that useful. We can remove this superficial 'filter' feature until we have a 'filter' feature with more substance

[2017-05-13 09:20] damithc opened #7296 "Instructor: view results: move 'expand ...' button outside the box"
Current:
![image](https://cloud.githubusercontent.com/assets/1673303/26024214/fb677958-37ff-11e7-8a43-93d986ffc2b4.png)

Suggestion:
Move the button outside the box, like this:
![image](https://cloud.githubusercontent.com/assets/1673303/26024222/24c8ad44-3800-11e7-8aa1-b6edd08e6cfd.png)
While we are at it, we can rename it to `Expand all questions` etc. (i.e. insert `all`)

Justification:
The butt

[2017-05-13 09:26] damithc opened #7297 "Instructor: view results: give a 'Edit view' button"
Current:
The page is reloaded whenever a setting of the view is changed:
![image](https://cloud.githubusercontent.com/assets/1673303/26024273/e3f2a3a0-3800-11e7-906f-b09fd5376734.png)

Suggested:
Make the settings un-editable.  Provide an `Edit view` button that shows the settings in a modal window.
![image](https://cloud.githubusercontent.com/assets/1673303/26024270/cefbbad6-3800-11e7-8677-bd067a

[2017-05-13 09:53] damithc commented on #3854
Suggestions: Disable the `Remind` button is no student is selected. Related #7065

[2017-05-13 10:06] damithc commented on #3865
Done in another issue.

[2017-05-13 10:06] #3865 closed

[2017-05-13 10:08] damithc commented on #3873
closing in favor of #1701

[2017-05-13 10:08] #3873 closed

[2017-05-13 10:16] #3992 closed

[2017-05-13 10:24] damithc commented on #5561
No longer relevant

[2017-05-13 10:24] #5561 closed

[2017-05-13 10:27] #5611 closed

[2017-05-13 10:32] #5683 closed

[2017-05-13 10:38] #5747 closed

[2017-05-13 10:43] #5933 closed

[2017-05-13 11:04] damithc commented on #6744
Closing in favor of #6095

[2017-05-13 11:04] #6744 closed

[2017-05-13 11:13] damithc commented on #7231
closing in favor of #3810

[2017-05-13 11:13] #7231 closed

[2017-05-13 11:29] LiHaoTan commented on #6971
I think the issue here might not be completely accurate. It seems that IntelliJ's default settings with Gradle is to use a directory with `$ProjectName$.war`.

The enhancement issue might be a separate problem. By using a "different" way of enhancing using IntelliJ's Google App Engine facet, Run enhancer for the following classes and packages on make, I was able to use the "wrong settings" and got

[2017-05-13 11:34] damithc commented on #6971
Good work investigating this issue @LiHaoTan. Do propose a solution when you reach one.

[2017-05-13 12:00] amarlearning commented on #7294
@damithc I would like to take this one

[2017-05-13 13:09] JosephineKwa commented on #4584
Yup they're somewhat related. The issues I created arose as the relevant methods were not updated after the changing of response giver from student email to team name.

[2017-05-13 13:28] damithc commented on #4571
Old issue. closing.

[2017-05-13 13:28] #4571 closed

[2017-05-13 13:29] damithc commented on #4699
@leeyimin do you plan to do this one later?

[2017-05-13 13:30] damithc commented on #4776
Old issue. closing.

[2017-05-13 13:30] #4776 closed

[2017-05-13 13:34] damithc commented on #5348
Old issue. closing.

[2017-05-13 13:34] #5348 closed

[2017-05-13 13:40] damithc commented on #5958
Old error. closing.

[2017-05-13 13:40] #5958 closed

[2017-05-13 13:41] damithc commented on #5928
@wkurniawan07 any thoughts on how to proceed with this?

[2017-05-13 14:33] LimeTheCoder commented on #7295
Work on it.

[2017-05-13 14:34] LimeTheCoder commented on #7296
Work on it.

[2017-05-13 14:34] LimeTheCoder commented on #7297
Work on it too.

[2017-05-13 15:51] MentalMittal commented on #7279
Thank you @JosephineKwa Will try my best to contribute.

[2017-05-13 16:32] LiHaoTan commented on #7287
I was thinking that JSON linting and Javascript linting should be kept separate since they are not the same and are commonly separated in many places. For example in IntelliJ only javascript linting is required. Not sure if there is a plugin for ESLint in Eclipse but if it exists it is similar.

For JSONLint I think maybe that should be pushed back to the future as a separate issue to evaluate bec

[2017-05-13 22:55] #6889 closed

[2017-05-14 02:36] damithc commented on #4475
We still have to modify the form to submit to the new URL?

[2017-05-14 03:26] damithc commented on #3389
No longer relevant as we plan to remove Comments

[2017-05-14 03:26] #3389 closed

[2017-05-14 03:53] leeyimin commented on #4699
@damithc I plan to do this as well, but might be done later than the other Attributes since the changes required for this is likely to be large.

[2017-05-14 18:24] VamsiSangam commented on #6095
@damithc sir, I'd like to work on this. But I'm not sure what to do here. There are 2 options, I could try to -

1. Make the menu not disappear on clicking a first level option.
2. Display a modal saying instructor is supposed to click on a second level option and some descriptive info about it.
3. 1 and 2

Which option should I implement?

[2017-05-15 02:04] whipermr5 commented on #7291
Marking it as private would get rid of the warnings: http://stackoverflow.com/questions/16827858/npm-warn-package-json-no-repository-field/23355019#23355019

[2017-05-15 02:26] whipermr5 opened #7303 "appveyor.yml: fix warning in install firefox command"
A warning is showing up in every appveyor build due to usage of an example choco command provided by appveyor docs that is actually invalid. More details, including how to fix, can be found here: https://github.com/appveyor/website/pull/300

[2017-05-15 02:39] nijoey commented on #7290
Hey Colby, Amazing work. See I am also trying to do the same thing, but I am stuck in after setting up the dev environment stage. I am able to run the website on my localhost and it run fine.
What I am not getting is how were you able to deploy it on your staging server ? (https://colby-teammates.appspot.com) . How were you able to create it ?

Can you please guide me on that one ?

thanks
nijoey

[2017-05-15 05:30] #7222 closed

[2017-05-15 06:58] #7091 closed

[2017-05-15 07:57] #7227 closed

[2017-05-15 08:04] damithc commented on #6095
Let's try 1 and see how it goes.

[2017-05-15 13:36] damithc commented on #3778
Old issue. closing.

[2017-05-15 13:36] #3778 closed

[2017-05-15 13:38] damithc commented on #3857
Old issue. closing.

[2017-05-15 13:38] #3857 closed

[2017-05-15 13:41] #3859 closed

[2017-05-15 13:45] damithc commented on #3959
old issue. closing.

[2017-05-15 13:45] #3959 closed

[2017-05-15 13:50] damithc commented on #4001
Not relevant anymore as we are hoping to remove support for private sessions.

[2017-05-15 13:50] #4001 closed

[2017-05-15 13:54] damithc opened #7305 "Remove code related to private sessions"
Sometime back we used to have a feature called 'private sessions' (i.e. an instructor can create a session that is not visible for anyone else -- e.g. to record your own observations about students). The UI does not have this feature anymore, but there may be some code related to private sessions still in the code base. We should remove those.

[2017-05-15 13:56] #4041 closed

[2017-05-15 13:56] #4042 closed

[2017-05-15 14:10] #4103 closed

[2017-05-15 14:13] damithc commented on #4112
Closing in favor of #6900

[2017-05-15 14:14] #4112 closed

[2017-05-15 14:17] #4123 closed

[2017-05-15 14:22] damithc commented on #4193
old issue. closing.

[2017-05-15 14:22] #4193 closed

[2017-05-15 14:24] damithc commented on #4251
No longer relevant.

[2017-05-15 14:24] #4251 closed

[2017-05-15 14:42] damithc commented on #4482
Closing because I did not get similar errors for the past few months.

[2017-05-15 14:42] #4482 closed

[2017-05-15 14:43] #4483 closed

[2017-05-15 14:47] #4577 closed

[2017-05-15 14:49] #4579 closed

[2017-05-15 14:50] #4727 closed

[2017-05-15 14:54] #4784 closed

[2017-05-15 14:56] damithc commented on #4831
No recent recurrences. Closing.

[2017-05-15 14:56] #4831 closed

[2017-05-15 17:07] nijoey opened #7306 "Technical Issue in deploying to staging server."
Operating System: Windows 10
JDK Version: 1.7
Eclipse: Luna

What I need help with:
I am able to successfully run the code in the dev environment and I am successful in deploying on my local server.
I am not getting the step after that. Making the tinker branch and  deploying it on the staging server. Another thing is how to get a link to the app? I am not getting how to get some app link like htt

[2017-05-15 17:20] nkshschdv opened #7307 "Unable to locate the "Google" option in Preferences for IDE setup for App Engine"
- **Operating System: Ubuntu/Debian 16.04**
- **JDK Version: 1.7 **
- **Eclipse / IntelliJ Version (if applicable): Neon.3 Release (4.6.3)**
- **Firefox / Chrome Version (where applicable):Chrome**

**What I was trying to do / What I need help with**
Problem in following guidlines at https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md .

I have a problem in Step 2 as I could not f

[2017-05-15 17:42] VamsiSangam commented on #7306
Hi @nijoey ! Did you create an account in [Google App Engine](https://cloud.google.com/appengine/)? If yes, then you need to create a project of name `teammates-yourname`. You should be able to see your project on your dashboard, similar to this -

![capture](https://cloud.githubusercontent.com/assets/11662001/26070391/19c933e6-39c2-11e7-9a20-5dc3370b26e4.JPG)

And then follow the steps mentioned

[2017-05-15 17:49] VamsiSangam commented on #7307
Hi @nkshschdv ! Did you download the [Google plugin for Eclipse](https://developers.google.com/eclipse/docs/download) ?

[2017-05-16 04:20] nijoey commented on #7306
Hi @VamsiSangam . Thank you very much for your reply.
I had no idea that we need a Google App Engine account. I was able to get that account with the project name. I am all set on that one. But now I am facing some other problem, sorry for bothering you again on this one. When I try and go to the admin page, and register with any name I get the following exception

java.lang.UnsupportedClassVersio

[2017-05-16 06:58] VamsiSangam commented on #7306
52 refers to Java 8. You need to use Java 7 for compiling and running. Have a look at the steps mentioned in [the docs](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md) for setting up JDK. Let me know if they match up 😄

[2017-05-16 10:25] nkshschdv commented on #7307
Actually , I found out that ,I had downloaded the wrong variant of Eclipse.
In Documents , its written "Eclipse IDE for **Java EE** developers version of Luna, Mars and Leon".
But I've installed "Eclipse IDE for Java Developers".So, I've corrected that.

Thanks , I have another problem , regarding i'm not able to add the "node_modules" folder in the Exclude Group in settings, Even though I've ment

[2017-05-16 10:51] nkshschdv commented on #7307
I'm now closing the issue. An Important lesson learned that , I need to perform the exact steps as mentioned in the documents. Workarounds leads to time wastage in the future.

[2017-05-16 10:51] #7307 closed

[2017-05-16 10:52] VamsiSangam commented on #7307
No problem. I did that too 😝 . Glad to know your issue is fixed 😄

[2017-05-16 12:39] amarlearning opened #7309 "sequential and parallel ui test are failing"
Operating System: Ubuntu 16.04
JDK Version: 1.7
Eclipse: Luna

In this [PR](https://github.com/TEAMMATES/teammates/pull/7299) of mine, I got my Travis CI build failing so as suggested by @thenaesh tried to run godmode on failing the test and still, some test is failing.

Steps that I followed to run godmode:
1. Changed `isGodModeEnabled` to `true` in `BaseUiTestCase.java`
2. then `./gradlew ciTest

[2017-05-16 15:16] #7140 closed

[2017-05-16 17:09] nkshschdv opened #7310 "test.json is causing error ?"
- **Operating System: Ubuntu 16.04 x64**
- **JDK Version: 1.7**
- **Eclipse / IntelliJ Version (if applicable): Eclipse Java EE IDE for Web Developers. Neon.3 Release (4.6.3)**

**What I was trying to do / What I need help with**
So, I m getting **ONE** error in validation in teammates > node_modules > jsonfilter > test.json as shown in the screen shot below.
![testjson](https://cloud.githubuserco

[2017-05-16 17:29] VamsiSangam commented on #7310
Hi @nkshschdv ! Can you post a screenshot of the window which opens after you select `Project` > `Properties` > `Validation` > Click `...` button beside `Javascript Validation` ? And please expand that window so that all the entries are visible.

[2017-05-16 17:40] nkshschdv commented on #7310
Of course! Although, I didn't understood the meaning of "click ... " but here is the screenshot below.
![you](https://cloud.githubusercontent.com/assets/15321028/26119960/ce85bd52-3a8c-11e7-9f31-d0aad87c58d4.png)

[2017-05-16 17:46] VamsiSangam commented on #7310
Actually, by `...` I was referring to these buttons -

![capture](https://cloud.githubusercontent.com/assets/11662001/26120087/2fad1490-3a8d-11e7-87b0-058616acd405.JPG)

This is what shows up in my `Validation` window. When I click on `...` beside `Client-side Javascript`, I get something like this -

![1](https://cloud.githubusercontent.com/assets/11662001/26120122/4e1126ec-3a8d-11e7-98bc-3a5293f

[2017-05-16 17:47] nkshschdv commented on #7310
Here is the JavaScript Validation Settings... Entries screenshot
![Uploading javascript validation.png…]()

[2017-05-16 17:48] nkshschdv commented on #7310
Here is the JavaScript Validation Settings... Entries screenshot
![javascript validation](https://cloud.githubusercontent.com/assets/15321028/26120334/f17c87ae-3a8d-11e7-93c3-595d9cd09075.png)

[2017-05-16 17:50] VamsiSangam commented on #7310
Looks good! What about `Client side JavaScript`? Can you do similar setting changes to its options too?

[2017-05-16 17:53] nkshschdv commented on #7310
Uh! I don't know where that option exist in Eclipse IDE.

[2017-05-16 17:55] VamsiSangam commented on #7310
I meant this option -

![ce85bd52-3a8c-11e7-9f31-d0aad87c58d4](https://cloud.githubusercontent.com/assets/11662001/26120587/dab77bb8-3a8e-11e7-9ce8-6c4a8f43b108.png)

Are you able to change any settings for that option?

[2017-05-16 18:01] nkshschdv commented on #7310
Done ! I'm curious what is the difference between two?
And its build and Manual option is not checked like others.
![client side](https://cloud.githubusercontent.com/assets/15321028/26120825/afcb4f0a-3a8f-11e7-9c9e-cc7a4040f41a.png)

[2017-05-16 18:04] VamsiSangam commented on #7310
Honestly it confuses me too. Some versions of eclipse have 2 options as such.

Now do a `Project` > `Clean`. Your errors should get resolved. 😄

[2017-05-16 18:07] nkshschdv commented on #7310
It still shows the same error. Screenshot below
![not resolved](https://cloud.githubusercontent.com/assets/15321028/26121065/a6277608-3a90-11e7-9bf8-085086f8f0e8.png)

[2017-05-16 18:15] VamsiSangam commented on #7310
In your `Problems` tab which is showing you the error, can you tell me what `Type` it is? You should see the error type if you scroll that window to the right.

![capture](https://cloud.githubusercontent.com/assets/11662001/26121426/c8d0e7ce-3a91-11e7-9318-01332e24119b.JPG)

[2017-05-16 18:20] nkshschdv commented on #7310
its JSON type and it says "unexpected character at 2:0" in test.json . Screenshot below.
![problelm type](https://cloud.githubusercontent.com/assets/15321028/26121592/6e695568-3a92-11e7-8f1e-92b61bafb526.png)

[2017-05-16 18:24] VamsiSangam commented on #7310
It is a JSON problem, which means your JavaScript validation settings are fine.

We don't validate JSON files in TEAMMATES. I noticed you have a `JSON Syntax` option in validation. Can you enable project specific settings for that and turn off the validation?

![ce85bd52-3a8c-11e7-9f31-d0aad87c58d4 1](https://cloud.githubusercontent.com/assets/11662001/26121742/e24d7a7c-3a92-11e7-8feb-bd2d657d8a51

[2017-05-16 18:31] nkshschdv commented on #7310
It didn't solved the problem . However, Under Validation , I unchecked the "JSON Validator" build option and after cleaning the error is removed.I don't know , Is it done ?
![json validator build unchecked](https://cloud.githubusercontent.com/assets/15321028/26122060/d8e6a976-3a93-11e7-99b4-79ae5843d497.png)

[2017-05-16 18:33] VamsiSangam commented on #7310
Well yeah which ever way it is to disable JSON validation, I didn't know how to do it so I thought it would work.

So after unchecking `Build` for `JSON Validator` in `Validation`, did your error go away on `Clean`?

[2017-05-16 18:36] nkshschdv commented on #7310
yeah , You can see in the previous comment screenshot that Problem tab view shows zero error. But However , the error is shown if we manually go to file and open it. So, we effectively suppressed the error.

[2017-05-16 18:44] VamsiSangam commented on #7310
We needn't concern ourselves with errors from `node_modules` folder as they come from third party libraries. Which reminds me can you add an exclusion rule for JSON validation only for `node_modules` folder, instead of the whole application. The steps would be similar to that of what you followed to disable JavaScript validation for `node_modules`.

This is important because, we have plenty of JSO

[2017-05-16 18:49] nkshschdv commented on #7310
Done ! Yeah! You are right! I added the Exclude Group entry as node_modules . And consequently, no error shown after clean .

[2017-05-16 18:51] nkshschdv commented on #7310
So, I think i should move to next step of Setting up local Green CI. Well, There are no instructions in the documents regarding that ?

[2017-05-16 18:56] #7310 closed

[2017-05-16 18:57] VamsiSangam commented on #7310
Cool! I'm really sorry we don't have this in our docs. We will update our docs accordingly. 👍

@whipermr5 I think we can add steps for excluding JSON validation to the `node_modules` folder in the docs. And interestingly my Kepler version of Eclipse doesn't even have any provision for JSON validation. So I guess this error can only pop in the recent versions.

@nkshschdv [Local CI Green](https://g

[2017-05-17 02:24] #7265 closed

[2017-05-17 02:32] whipermr5 commented on #7309
This issue has been resolved. For future reference for the benefit of those facing similar issues, @amarlearning solved it by cleaning and building the project after editing `build.properties` and `test.properties`, restarting the dev server, and re-running the tests.

[2017-05-17 02:32] #7309 closed

[2017-05-17 02:49] thenaesh opened #7314 "Release V5.104"
Scheduled for May 18, 2017, 11.59pm SGT.

[2017-05-17 03:00] leeyimin opened #7315 "Fix typos in FieldValidatorTest"
'string' is misspelled in the message of `assertEquals` in `invalidityInfoFor_invalidGender_returnErrorString` and 'specific' is misspelled in the message of `assertEquals` in `testGetInvalidityInfoForEmailSubject_invalid_returnSpecificErrorString`.

[2017-05-17 03:44] malayaleecoder opened #7316 "Instructor: Home page: add a chevron button to collapse a course"
Right now the behaviour is as follows,

`Before clicking the chevron down button`

<img width="1280" alt="before" src="https://cloud.githubusercontent.com/assets/16613630/26137560/8cc0c092-3af5-11e7-9273-8f3941aa94db.png">

`After clicking the chevron down button`

<img width="1276" alt="after" src="https://cloud.githubusercontent.com/assets/16613630/26137613/e3f40a18-3af5-11e7-8fbf-5cfdfcf848b2.p

[2017-05-17 03:49] whipermr5 commented on #4345
@malayaleecoder This is the error you're facing :)

[2017-05-17 04:00] whipermr5 commented on #7310
@VamsiSangam Oh yea I missed it out when reporting #7159 😅 Could you open a first timer issue for it?

[2017-05-17 04:59] damithc opened #7318 "Fix next url parameter workaround not being handled when using regkey in Action class"
Found a handful of warnings like this in the log (key slightly modified for security reasons). Is this something expected?
[code]

[2017-05-17 04:59] damithc commented on #7318
@Neurrone can you take a look?

[2017-05-17 05:04] #7261 closed

[2017-05-17 05:08] shubham49 commented on #7316
I can work on this issue.

[2017-05-17 05:08] wkurniawan07 commented on #7254
To clarify: are you trying to add an HTML page (static) that can only be accessed by admins?

[2017-05-17 06:44] shubham49 commented on #7316
I have one query:
If a user expanded the list then collapsed it, again expanded it. While 2nd time expansion, would there be ajax request again?

[2017-05-17 06:51] damithc commented on #7316
No, it should not.

[2017-05-17 07:15] shubham49 commented on #7316
Thanks @damithc
One more question, should whole row be clickable to collapse like this
![clickable_row](https://cloud.githubusercontent.com/assets/10528953/26142537/937fe5da-3afe-11e7-92e9-b50b3db72a35.gif)
or just chevron up button.

[2017-05-17 07:37] nkshschdv commented on #7310
@VamsiSangam  The installation of Green-CI is very tricky and complex. I literally installed things in hurry in temptation. The official documents are not helpful for me to install the server.

[2017-05-17 08:01] #1939 closed

[2017-05-17 08:08] VamsiSangam commented on #7310
"Installation"? Oh no :stuck_out_tongue_closed_eyes: You don't have to install any thing. `Local CI Green` is only a "term" we use, it does not refer to a library or server or anything which were supposed to download.

For running tests, start your Dev server, and then click on the button I mentioned in the above image.

[I've created a short video](https://www.youtube.com/watch?v=QbjSGDT3q1I) whi

[2017-05-17 14:19] Neurrone commented on #7318
@damithc yup if the link used is invalid. Will look at the code for this page tomorrow.

[2017-05-17 15:06] damithc commented on #7316
Yes, it's better if the whole header is clickable, similar to how we do it in other places.

[2017-05-17 21:14] andydaehn commented on #7315
I found the misspelled 'string', however 'specific' was spelled correctly in testGetInvalidityInfoForEmailSubject_invalid_returnSpecificErrorString.

[2017-05-17 23:59] cmorris2 commented on #7290
Hi @nijoey ,
Did you ever figure this out? I have been busy and hadn't gotten a chance to respond.

[2017-05-18 01:30] rchliu opened #7320 "Instructor: view results: constant sum feedback questions: fix sorting of "Points Received" column"
If a student receives multiple point allocations, then the sort function for the points received column breaks and no longer sorts correctly.

![result](https://cloud.githubusercontent.com/assets/8629449/26182647/86814e48-3b47-11e7-8740-870ca7abaf15.png)

The column should either be made to sort in an appropriate order, or the sorting function should be removed for that column.

[2017-05-18 01:45] rchliu opened #7321 "Instructor: view results: update CSV file results for constant sum feedback questions"
The CSV reports that are generated for instructors should be updated to match the changes in #7244 for const sum feedback questions.

![result2](https://cloud.githubusercontent.com/assets/8629449/26183032/19590af6-3b4a-11e7-8257-90296b9666b4.png)

In the above image, a "total points" column should be added.

[2017-05-18 01:57] leeyimin commented on #7315
[code]
"specific" is misspelled as "specfic" in the assert message.

[2017-05-18 04:09] LiHaoTan opened #7322 "IntelliJ IDEA: Change Setup Instructions"
The current setup causes some issues.

**Issues**
#6972
Not sure how to reproduce this but should not happen, possibly due to conflict with sharing build folder with Gradle. Output folder in IntelliJ to be modified to avoid the problem altogether. Instructions to be added on changing the datastore path as well so the datastore does not get wiped on clean or rebuild.

#6919 (Similar issue here: #70

[2017-05-18 04:34] thenaesh opened #7323 "Update about.jsp with contributors from V5.104"

[2017-05-18 06:35] nikiforosbotis commented on #7321
I'd like to work on this

[2017-05-18 06:41] thenaesh commented on #7314
Release 254

Code Contributions from: @damithc , @HirdayGupta , @whipermr5 , @Mynk96 , @quantenparallaxum , @shubham49 , @sujeet14108 , @VamsiSangam , @xpdavid , @leeyimin
Review Contributions from: @damithc , @whipermr5 , @thenaesh, @xpdavid , @leeyimin , @wkurniawan07 , @chowyb

Sprint Period: May 11, 2017 - May 18, 2017
Sprint Velocity: 36 hrs (code) + 15 hrs (review) = 51 hrs (total)

[2017-05-18 06:49] #6891 closed

[2017-05-18 06:55] damithc commented on #7314
Changed `hours` -> `points`

[2017-05-18 07:04] leeyimin opened #7325 "Fix sanitization of query string in SearchQuery"
According to https://cloud.google.com/appengine/docs/standard/java/search/#Java_Special_treatment_of_string_and_date_fields, special characters such as '&', '\\'', '#' can be part of the tokens. However, they are replaced by spaces by `sanitizeForSearch`, which can result in unexpected results when searching.

For example, a student named Jean O'Kelly and searching " \\"Jean O'Kelly\\"" (with quot

[2017-05-18 07:12] thenaesh commented on #7314
I realised we haven't pushed to `release` yet. I'm still getting the hang of this release ceremony. xD

[2017-05-18 07:19] damithc commented on #2983
Got one more today.

[2017-05-18 07:32] VamsiSangam opened #7326 "ide-usage.md: add steps to disable JSON validation for node_modules folder in Eclipse"
JSON validation is present in newer versions of Eclipse which is validating JSON files in `node_modules` folder. Some files have been reported to cause errors #7310 . We must disable JSON validation for `node_modules` folder so that these errors are suppressed.

Add steps for disabling JSON validation in `ide-usage.md`, under `Validation`.

[2017-05-18 08:35] thenaesh opened #7327 "Bug in Godmode that adds strange segment to HTML when run"
Recently, Godmode has been adding
[code]
to HTML files when run.

[2017-05-18 08:41] VamsiSangam commented on #7327
Can refer to #7311 for example.

[2017-05-18 08:59] thenaesh commented on #7327
This appears to be the suspect in line 57 of `feedbackSubmissionEdit.tag`:
[code]

[2017-05-18 09:01] leeyimin opened #7328 "Running data migration script for sanitized data in StudentProfileAttributes"
After the release of V5.104, DataMigrationForSanitizedDataInStudentProfileAttributes script should be run to desanitize existing sanitized data in StudentProfileAttribute.

[2017-05-18 09:04] leeyimin opened #7329 "Remove desanitization of fields in Ui templates related to StudentProfileAttributes"
After #7328 is completed, code added to provide backward compatibility for sanitized legacy data can be removed.

[2017-05-18 09:11] damithc commented on #7325
Let's expedite the migration. Search is not a critical feature, so it can be 'slightly broken' until the migration is complete.

[2017-05-18 09:33] damithc commented on #7328
I've reassigned it to the subsequent milestone. That allows some time to lapse between deploying new code and migrating data, to confirm the new code is stable.

[2017-05-18 10:14] VamsiSangam commented on #7327
Cause of the issue - https://github.com/TEAMMATES/teammates/pull/7311#discussion_r117207467

[2017-05-18 10:17] #7323 closed

[2017-05-18 10:30] thenaesh commented on #7327
So the issue is that the segment is actually supposed to be there, but was accidentally removed previously. So it should be added back.

[2017-05-18 10:30] #7327 closed

[2017-05-18 10:32] wkurniawan07 commented on #7287
@LiHaoTan where would you draw the line of "ideal" here? The current JSON linting provided by ESLint can catch syntax errors, and since JSON is a data notation rather than programming language, it should be sufficient. Better linters are always welcome, but don't let it steal your attention from more important items to be worked on.

[2017-05-18 10:40] wkurniawan07 commented on #7291
You need to be aware that currently `package.json` is not used beyond managing dependencies. If you're familiar with Node.js development and publishing to NPM, you'd know the true extent of what `package.json` is used for, but we have no use for them. For example, if we add a "version" field, we need to update it before every release and that's what I meant by "maintenance burden". Some fields may

[2017-05-18 10:58] whipermr5 commented on #7291
Name and version are not needed for the `private` flag to work.

[code]

This patch completely removes the warnings.

[2017-05-18 11:18] wkurniawan07 commented on #7271
Question: can the "clear pending comments" feature be removed as well?
(to be frank: is it even used?)

[2017-05-18 11:31] andydaehn commented on #7315
Sorry about that. I found and corrected all the typos.

[2017-05-18 11:38] damithc commented on #7271
Yes, it can be removed. The only downside is if a comment was added after a session is published, the instructor has no direct way to inform the recipients about the new comment.

[2017-05-18 12:05] leeyimin commented on #7325
It seems like updating attributes of related attributes do not trigger the updates of the documents.
Eg. Updating course name will not update all the search documents which includes its name in the searchableText
This means that the search will remain broken for currently existing documents even after migration unless all documents are updated.

[2017-05-18 13:36] Neurrone commented on #7318
@damithc guess there weren't any accompanying exceptions? Don't see anything in FeedbackSubmissionEditPage r its parent that should have triggered this, though its possible that this happened in action.java. It causes a method like `StudentsDb.getStudentForRegistrationKey` to be called, which silently returns null if there was an error decrypting.

If this continues happening, I can add more loggi

[2017-05-18 14:07] damithc commented on #7318
Here's the full stack trace of a similar request.
[code]

Here's another:
[code]

[2017-05-18 14:32] Neurrone commented on #7318
Might have found the cause. From the second trace, it tries to decrypt the following:
[code]

It should only attempt to decrypt whatever is before the {amp}. Perhaps some part of the code wasn't updated when the regkey parameter was updated to also include the next url.

Will take a look over the weekend.

[2017-05-18 15:20] damithc commented on #4834
Happening a few times every month, for different courses. Here's a recent one.
[code]

[2017-05-18 15:24] damithc commented on #4864
No recent occurrences.

[2017-05-18 15:24] #4864 closed

[2017-05-18 17:50] VamsiSangam opened #7331 "instructorFeedbackEditPage: Remove unnecessary .col-sm-12"
In the `instructorFeedbackEditPage` many elements are unnecessarily given `col-sm-12` class, which adds padding of `15px` to left and right. This is causing alignment issues. Eg. - The button groups used for drop-downs are not aligned with the button, the drop-down appears to the left.

![1](https://cloud.githubusercontent.com/assets/11662001/26215107/abc480f0-3c1c-11e7-90b1-c552bd18af5a.JPG)
![2]

[2017-05-18 19:09] angelosdmg commented on #7254
@wkurniawan07 yes
(but my general goal is to understand how the application works (adding static pages at first, servlets etc)

[2017-05-19 01:35] leeyimin commented on #7315
That's great! Feel free to submit a PR when you're ready :)

[2017-05-19 02:50] #6095 closed

[2017-05-19 04:38] damithc opened #7333 "InstructorSubmissionAdjustmentUiTest: improve success rate against live server"
Usually this passes after several tries against list server. At v5.104, it failed even after 5 tries.
[code]

[2017-05-19 05:17] wkurniawan07 commented on #7305
It can still be created: a session with visible date set to "never".

[2017-05-19 05:40] damithc commented on #7305
I see. I was wondering where it went :-p

[2017-05-19 05:40] #7305 closed

[2017-05-19 06:03] damithc opened #7335 "StudentFeedbackSubmitPageUiTest: fix failure against live server"
[code]
![image](https://cloud.githubusercontent.com/assets/1673303/26235141/d53b62a8-3c9b-11e7-82cf-0548f076c6d0.png)

[2017-05-19 06:37] VamsiSangam commented on #7335
The cause of that would be me. Please look at #7327 . That block was supposed to be there, which was accidentally removed by me. But my latest merge #6095 should have solved it. @wkurniawan07 your thoughts on this?

[2017-05-19 06:51] wkurniawan07 commented on #7335
@VamsiSangam is right. It would be corrected by now, sadly it did not make it to the V5.104 release.

[2017-05-19 07:13] damithc opened #7336 "StudentCourseDetailsPageUiTest: fix failure against dev server"
v5.104
Not sure why this fails against my dev server but passes on Travis (also fails against live server)

[code]
![image](https://cloud.githubusercontent.com/assets/1673303/26236902/51a06d44-3ca5-11e7-9bd1-9f5c06b2814b.png)

[2017-05-19 07:29] whipermr5 opened #7337 "Migrate storage component to Objectify API"
The first step to our backend revamp, migrating to Objectify will pave the way for upgrading our database schema. Objectify includes many [features](https://github.com/objectify/objectify/wiki/SchemaMigration) that make schema migration less painful.

As Objectify is just an API to access the Cloud Datastore (similar to JDO), it is possible to migrate the entire codebase from JDO to Objectify at o

[2017-05-19 08:16] damithc commented on #7335
Got it. Closing.

[2017-05-19 08:16] #7335 closed

[2017-05-19 08:18] damithc opened #7340 "Include MOTD feature in CI tests"
Current:
* Message of the Day feature is omitted in CI tests i.e. the relevant property is left blank in the `build.properties` file

Suggested:
* Include MOTD feature in tests so that problems like this #7335 can be detected by CI

[2017-05-19 08:38] #7325 closed

[2017-05-19 09:53] damithc commented on #7314
Deployed.

[2017-05-19 09:53] #7314 closed

[2017-05-19 10:24] #7240 closed

[2017-05-19 10:38] damithc commented on #4935
No longer relevant.

[2017-05-19 10:38] #4935 closed

[2017-05-19 10:39] #5145 closed

[2017-05-19 10:43] damithc commented on #5147
Seems to be working now

[2017-05-19 10:43] #5147 closed

[2017-05-19 10:51] damithc commented on #5243
Now I can see the map, but only part of the map is shown.

[2017-05-19 10:55] damithc commented on #5505
To be relooked at later.

[2017-05-19 10:55] #5505 closed

[2017-05-19 10:56] damithc commented on #5514
No recent occurrences.

[2017-05-19 10:56] #5514 closed

[2017-05-19 11:06] damithc commented on #5571
Some have been fixed, but some still to be fixed.
![image](https://cloud.githubusercontent.com/assets/1673303/26245346/41eb8804-3cc6-11e7-8ba0-3cb5dab45f5c.png)

[2017-05-19 11:09] #5651 closed

[2017-05-19 11:13] damithc opened #7341 "Respondent: edit submission: give a submit button for each question"
Current:
The respondent needs to submit the entire submission form.

Suggested:
Give a 'submit' button for each question (and a 'submit all' button at the bottom)
The button should use ajax to submit, instead of loading the entire page.

[2017-05-19 11:19] #5695 closed

[2017-05-19 11:22] #5705 closed

[2017-05-19 11:24] #5706 closed

[2017-05-19 11:27] damithc commented on #5727
No recent recurrences.

[2017-05-19 11:27] #5727 closed

[2017-05-20 03:23] #5782 closed

[2017-05-20 03:25] #5797 closed

[2017-05-20 03:33] #5839 closed

[2017-05-20 03:57] damithc commented on #5944
Not received in last 3 months.

[2017-05-20 03:57] #5944 closed

[2017-05-20 03:58] #5961 closed

[2017-05-20 07:02] #5966 closed

[2017-05-20 07:03] #5977 closed

[2017-05-20 07:05] damithc commented on #5981
No recent recurrences. closing.

[2017-05-20 07:05] #5981 closed

[2017-05-20 07:08] damithc commented on #6025
Old issue. closing.

[2017-05-20 07:08] #6025 closed

[2017-05-20 07:10] #6051 closed

[2017-05-20 07:24] damithc commented on #6135
Closing temporarily to focus on higher priority issues. Will be reopened later.

[2017-05-20 07:24] #6135 closed

[2017-05-20 07:26] #6136 closed

[2017-05-20 07:28] damithc commented on #6221
No recent recurrences. closing.

[2017-05-20 07:28] #6221 closed

[2017-05-20 10:25] damithc commented on #6535
These guys claim to offer a free hosted SonarCube for OSS projects. https://www.sonarsource.com

[2017-05-20 10:27] #6556 closed

[2017-05-20 10:59] damithc commented on #6720
Closing to focus on higher priority issues. Will be reopened later.

[2017-05-20 10:59] #6720 closed

[2017-05-20 11:06] damithc commented on #6731
Closing to focus on higher priority issues. Will be reopened later.

[2017-05-20 14:04] amarlearning opened #7345 "Instructor: unpublish responses: Add quotation marks around session name"
Quotation marks should be added around the session name for the prompt to unpublish responses. In the screenshot below, the message should state `Are you sure you want to unpublish the session "Second team feedback session"?`

[screenshot added]
![screenshot from 2017-05-20 18-57-19](https://cloud.githubusercontent.com/assets/9383897/26276284/0ac613d6-3d92-11e7-9cae-418e4484c952.png)

[2017-05-20 14:21] shaharyar-shamshi opened #7346 "Regarding being the new contributor"
Warm greeting to all Teammates developer.
Myself shaharyar shamshi I want to be active contributor of this organisation as I have keen interest in open source and In this project especially.
can anyone guide me how to start so that I can contribute for enhancement of this project.
I will be very thankfull to you

[2017-05-20 14:55] chowyb commented on #7345
I'm not sure what you mean by the `unpublishing session` being set to lower case, but in the case of the message it looks okay.

In normal circumstances it displays `Are you sure you want to unpublish the session <session name>?`, where the session name may not explicitly state it is a feedback session, since it is defined by the user. As such, leaving "session" inside is acceptable.

[2017-05-20 14:58] chowyb commented on #7346
Hi @shaharyar-shamshi, welcome to TEAMMATES! You may begin by reading up on our [Contributor Orientation Guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md). Looking forward to your contributions!

[2017-05-20 15:14] amarlearning commented on #7345
I mean the `<session name>` should be lower-case. A word with upper case first letter doesn't look good in the middle of the sentence.

[2017-05-20 15:39] chowyb commented on #7345
Maybe we could change it to be in quotation marks instead (ie. `"<session name>"`)? This way, it won't look too bad, while still keeping the session name the same (which avoids the possibility of confusing the user by suddenly providing a name that looks different.

[2017-05-20 15:42] amarlearning commented on #7345
@chowyb Yeah, that sounds good.

[2017-05-20 16:17] chowyb commented on #7345
Edited title and description of issue to use the suggestions discussed. Also, I noticed that publishing responses already uses the quotation marks for session names, so this should help to make things consistent.

[2017-05-21 03:19] LiHaoTan commented on #7287
@wkurniawan07 I agree that the issue about the plugin not being so ideal is not so important, which is why I think it should be addressed as a  separate issue or not at all, sorry for not being clear.

So the issue here is more of the redundant rules.

In any case, if I look at the surface `JSONLint` seems to be worse off since it can't catch duplicate keys. And while `eslint-plugin-json` catches

[2017-05-21 07:04] whipermr5 commented on #2258
Note to self: use [Objectify deferred operations](https://github.com/objectify/objectify/wiki/BasicOperations#deferring-operations) for `persistDataBundle`.

[2017-05-21 13:43] amarlearning commented on #3601
@damithc would like to take this one.
Just want little more input on this issue :sweat_smile:

[2017-05-21 15:27] damithc commented on #3601
I'm not familiar with the issue myself. So, have to see if anyone else can give some input :-p

[2017-05-21 18:37] amarlearning commented on #7336
@damithc can you post the screenshot of the failure exception.
`Eclipse > Result of running suite > Failed test`

[2017-05-22 03:34] #5439 closed

[2017-05-22 04:33] chowyb commented on #6594
Currently, observers are not actually able to copy feedback sessions. When using the "Copy from previous feedback sessions" button at the top, the sessions in the course where the instructor is an observer will not be displayed.
![copy1](https://cloud.githubusercontent.com/assets/7546744/26292366/efafe048-3ee7-11e7-91c5-e6feaecd60b2.png)

However, for the list of sessions at the bottom of the page

[2017-05-22 05:08] damithc commented on #6594
Allowing the 'copy' operation for any instructor in the course (irrespective of permissions) seems to a good option.

[2017-05-22 05:11] damithc commented on #7336
@amarlearning The stack trace is given. Also, the difference between the actual and expected is given (see screenshot). I didn't post the full screenshot because those are the most important things. Any missing info you are looking for?

[2017-05-22 08:04] leeyimin opened #7348 "Use sanitizeForHtml in FieldValidator"
In the method `getValidityInfoForNonHtmlField`, `value` can be sanitized using `sanitizeForHtml` in `SanitizationHelper` rather than re-implementing sanitization.

[2017-05-22 08:09] leeyimin opened #7349 "FieldValidator: fix error in message"
The characters banned in `NON_HTML_FIELD_ERROR_MESSAGE` are `< > " / ' &` while backslash is allowed, so the backslash `\\` should be replaced with a double quote `\"` in the message.

[2017-05-22 08:15] chowyb opened #7350 "Instructor: feedback results: provide copy instructions for Mac OS"
In instructorFeedbackResultsPage, when using the "click here" text to view the results in a table, instructions are provided to copy and paste the table into an Excel workbook.
![feedbacktable](https://cloud.githubusercontent.com/assets/7546744/26298119/8c2b68f0-3f08-11e7-899b-970f0ed3a5b1.png)
However, Mac systems use `Command + C` and `Command + V` instead, which could be added to the instructio

[2017-05-22 08:21] VamsiSangam commented on #7336
The cause of that is [my recent merge again](https://github.com/TEAMMATES/teammates/commit/c42cb9fef1388dca652735207eee8594504b2e72#diff-ba3fd345483e3558ed9679ae8de1b930) :sweat: . Sorry for causing so many issues. Will be careful from next time.

[2017-05-22 08:30] damithc commented on #7336
@thenaesh how is this not detected by travis?

[2017-05-22 08:55] chowyb opened #7351 "Instructor: comments page: properly display filtered data on ajax call"
In instructorCommentsPage, when filtering the comments being displayed (via "Show comments from" under the "Show More Options" checkbox), if a checkbox is disabled, the associated comment can still show up when doing an ajax call (which occurs when the panel is expanded for the first time).

An example of this would be using the default course that is created when an admin adds a new instructor: u

[2017-05-22 09:05] VamsiSangam commented on #7281
Sir, isn't this issue same as #2776 ? If not how is this different?

[2017-05-22 09:18] Mynk96 commented on #7351
Working on it!

[2017-05-22 09:28] damithc commented on #7281
@VamsiSangam Edited #2776 title to show the difference. They are similarly named, but two different types of questions.

[2017-05-22 09:39] wkurniawan07 commented on #7351
@chowyb I'm going to remove that page though... #7334

[2017-05-22 09:42] chowyb commented on #7351
@wkurniawan07 oh right, forgot about it for a moment, somehow I thought the feedback response comments would stay at least.

Putting this on hold for now then, I'll close this once that PR gets merged. @Mynk96 you might want to work on something else

[2017-05-22 09:45] Mynk96 commented on #7351
@chowyb fine no problem...😄

[2017-05-22 11:07] amarlearning commented on #4296
@damithc taking this one

[2017-05-22 11:42] damithc opened #7352 "*.jsp: change to 2-space indentation"
Refactor all *.jsp pages to use 2-space indentation instead of 4.

[2017-05-22 11:56] #1168 closed, assigned to Mynk96

[2017-05-22 12:50] amarlearning commented on #7352
@damithc taking this one

[2017-05-22 12:55] amarlearning commented on #7336
@VamsiSangam happened with me also, ran godmode on failing test and got this [change](https://github.com/TEAMMATES/teammates/pull/7312/files#diff-ba3fd345483e3558ed9679ae8de1b930L159). But @damithc sir in my case the Travis CI build is failing.

[2017-05-22 13:00] damithc commented on #7336
Not entirely your fault :-) This real culprit is the fact that we have tests that don't always pass and needs retrying. Ideally, all tests should pass every time. That's something we need to address in the longer term. In any case, has this specific case already rectified in a later commit? @VamsiSangam

[2017-05-22 13:07] amarlearning commented on #7336
@damithc no, it's not rectified [link](https://github.com/TEAMMATES/teammates/blob/master/src/test/resources/pages/studentCourseDetailsWithTeammatesHTML.html#L159)

[2017-05-22 13:16] VamsiSangam commented on #7336
No, it is not rectified sir. Can you post all the failing cases sir, so that I can submit a PR to rectify it?

[2017-05-22 13:23] amarlearning commented on #7336
@VamsiSangam I will rectify that with this [PR](https://github.com/TEAMMATES/teammates/pull/7312/files#diff-ba3fd345483e3558ed9679ae8de1b930L159)

[2017-05-22 13:40] damithc commented on #7336
@amarlearning This problem should be rectified in a separate PR (a PR should solve no more than one problem).

@VamsiSangam to find other failing test cases, add a MOTD in `build.properties` (e.g. `app.student.motd.url = test-student-motd.html`) and run the test suite.

[2017-05-22 15:09] amarlearning commented on #4296
@damithc Not able to find any CSS property defined over that class `moderated-question`.
That means this `moderated-question` class is just used for scrolling purpose?

[2017-05-22 15:12] damithc commented on #4296
No idea myself. Ask in slack?

[2017-05-22 15:58] kanghj commented on #3601
If I recall correctly, the issue is that we had css classes that were there just to make it easy to locate some elements with Selenium. In many cases, there should be better alternatives to specify these elements.

[2017-05-22 16:31] amarlearning commented on #3601
@kanghj I think we should use `ID's` instead of `class` because they are the safest and fastest when it comes to locating element using selenium.

Let me know your thoughts on this and I will start working on this PR.

[2017-05-22 18:55] Jefferysan commented on #7228
![featurespage](https://cloud.githubusercontent.com/assets/28169978/26323838/6c656958-3efe-11e7-90e6-f06594078ab3.PNG)

This is basically what it looks like now. I was hoping to have the "Features" heading added to the page, like the other main pages have it setup. I'm not quite sure how to push my changes now. Do I create a PR?

[2017-05-23 01:37] wkurniawan07 commented on #3601
I can't make a generalizing statement, but what @kanghj is true for at least some elements. Some classes might be used for styling, some for dynamic interaction with jquery, etc.
In any case, `-for-test` suffix is not a good name so regardless of the usage, any `*-for-test` should be renamed, at least to remove the `-for-test` suffix.

[2017-05-23 01:39] wkurniawan07 commented on #4296
@amarlearning looks like it; doing what is described by the issue should not affect correctness.

[2017-05-23 01:41] wkurniawan07 commented on #7336
@VamsiSangam actually your recent merge fixes it; it broke at the same time you removed the MOTD container.
How Travis allows both variants is still beyond me for now.

[2017-05-23 01:47] wkurniawan07 commented on #7352
Just a heads-up, this is quite a dirty work (but somebody has to do it), and it's not as easy as writing a script to change 4 spaces to 2 spaces because of some custom indentations applied in the past. It could be the starting step, but needs manual re-tracing once again to make sure nothing looks weird.

This should be broken into few PRs, otherwise the changeset could easily reach 5 digits.

[2017-05-23 02:24] #7204 closed

[2017-05-23 04:42] chowyb commented on #7228
@Jefferysan yes, feel free to open a PR for this issue.

[2017-05-23 05:31] whipermr5 commented on #7234
Even though it is not commonly used nowadays, `abovementioned` is an acceptable word:
https://www.merriam-webster.com/dictionary/abovementioned
http://www.dictionary.com/browse/abovementioned

[2017-05-23 05:31] #7234 closed

[2017-05-23 08:49] leeyimin opened #7353 "AdminSearchPageAction: sanitize statusToAdmin"
`searchKey` included in statusToAdmin may contain html-sensitive characters and can be improperly displayed on activity log if not sanitized.

[2017-05-23 11:56] amarlearning commented on #4296
@wkurniawan07 noted

[2017-05-23 18:20] amarlearning opened #7357 "Combining the Login buttons into a single dropdown login button"
I think the login buttons (Student and Instructor Login) in the index page should be combined to a single login dropdown button which has two options `Student` and `Instructor`. This will surely save space and would look good in terms of UI/UX.

![screenshot from 2017-05-23 23-40-26](https://cloud.githubusercontent.com/assets/9383897/26369170/7f020e5e-4011-11e7-85d6-8066a65cce68.png)

[2017-05-23 21:11] sujeet14108 commented on #5802
Would take it

[2017-05-23 21:17] sujeet14108 commented on #5571
taking this one

[2017-05-23 21:40] amarlearning commented on #7066
@damithc I think @AnaghHegde is not working on this issue. I would like to take this one.

[2017-05-23 21:59] amarlearning commented on #3324
@junhaoyap Looks like this issue is resolved by now.
[screenshot]
![screenshot from 2017-05-24 03-27-26](https://cloud.githubusercontent.com/assets/9383897/26378206/22d4bb0c-4031-11e7-827f-5dcd260772bd.png)

[2017-05-23 22:19] amarlearning opened #7358 "Instructor: StudentListPage: Add down button for indication that panel is expandable"
I think instead of giving a note, there should be a down arrow button for the user to know that panel is expandable. _[screenshot]_
![screenshot from 2017-05-24 03-44-37](https://cloud.githubusercontent.com/assets/9383897/26378814/d0603704-4033-11e7-94fa-899b35b6b6d4.png)

[2017-05-23 22:21] amarlearning commented on #3091
@damithc Is think this issue should be closed because I just checked there is a confirmation modal for the delete button. _[screenshot]_
![screenshot from 2017-05-24 03-49-27](https://cloud.githubusercontent.com/assets/9383897/26378925/38910a10-4034-11e7-9245-f05787d3580f.png)

[2017-05-23 23:15] amarlearning commented on #3601
@wkurniawan07 should I change the `*-for-test` classes to Id's or simply just remove the `-for-test` from the classes?

[2017-05-24 04:01] leeyimin commented on #7357
Wouldn't this mean additional button clicks to login?

[2017-05-24 04:47] damithc commented on #7066
@amarlearning yes you can take it up and there is no active PR.

[2017-05-24 04:49] damithc commented on #3324
Yes, can be closed.

[2017-05-24 04:49] #3324 closed

[2017-05-24 04:54] damithc commented on #3091
@amarleraning
Yes, there seems to be a confirmation dialog (my bad), but this issue is about adding tests for it. Check if your UI tests cover the said modal dialog.

[2017-05-24 05:06] #7315 closed

[2017-05-24 05:25] damithc commented on #7357
Yes, it adds one more click. Given the space in the menu bar is not a big problem at the moment, let's put this in hold for now.

[2017-05-24 05:25] #7357 closed

[2017-05-24 07:01] #7269 closed

[2017-05-24 07:04] #7306 closed

[2017-05-24 07:05] #7229 closed

[2017-05-24 08:05] #4296 closed

[2017-05-24 08:12] sujeet14108 opened #7363 "Instructor: moderate responses: add UI tests"
As discussed in #7356

Added by @damithc: Investigate if there are enough UI tests for instructors moderating responses. Add tests if there aren't enough.

[2017-05-24 08:51] leeyimin opened #7364 "Fix typo in InstructorHomePage"
"Enroll" is misspelled in `clickCourseErollLink` of InstructorHomePage.java.

[2017-05-24 09:10] whipermr5 commented on #7336
@VamsiSangam @amarlearning The [link](https://github.com/TEAMMATES/teammates/blob/889515cc13b463d3af79a8fb22c7346fcaab6e5b/src/test/resources/pages/studentCourseDetailsWithTeammatesHTML.html#L159) actually shows that it has been rectified, as highlighted by @wkurniawan07.

I went digging around to understand the mechanism, and found out that the full URL:

[code]

is always included in the initial

[2017-05-24 09:32] whipermr5 opened #7365 "StudentProfilePictureAction: properly handle missing pictures"
Currently, `StudentProfilePictureAction` responds with an HTTP status of `1 No image found`, which is not a valid HTTP response code. It should be fixed to send a 302 redirect to `/images/profile_picture_default.png`. More details in https://github.com/TEAMMATES/teammates/issues/7336#issuecomment-303665068. Relevant code [here](https://github.com/TEAMMATES/teammates/blob/889515cc13b463d3af79a8fb22

[2017-05-24 09:36] whipermr5 commented on #7336
@damithc This issue has been fixed in c42cb9f.

[2017-05-24 10:36] damithc commented on #7336
Great. closing.

[2017-05-24 10:36] #7336 closed

[2017-05-24 11:23] amarlearning commented on #3091
@damithc I think then the title of this issue should be changed :smile:

[2017-05-24 12:07] damithc commented on #3091
You are right. Done. 👍

[2017-05-24 13:29] Mynk96 commented on #6433
@damithc I am not able to reproduce unsorted responses, everytime I am getting sorted result. Can you please elaborate more on this issue?

[2017-05-24 13:54] damithc commented on #6433
Seem to be fixed. Closing.

[2017-05-24 13:54] #6433 closed

[2017-05-24 14:00] Mynk96 commented on #7272
working on it!

[2017-05-24 14:04] amarlearning commented on #7358
taking this one

[2017-05-24 15:50] sujeet14108 commented on #5571
@YongJieYongJie  @damithc  Do we need to rename `giverEmail` to `giver` everywhere including json files ?

[2017-05-24 18:28] haihoang202 commented on #7364
Hello, this is my first time in open source. What can I do to start ?
Thanks!

[2017-05-24 19:46] umangborad123 commented on #7364
I got this!

[2017-05-24 20:03] amarlearning opened #7370 "Instructor: StudentList: make buttons more clickable / tappable"
Same as this issue #3324 _[screenshot]_
![screenshot from 2017-05-25 01-26-33](https://cloud.githubusercontent.com/assets/9383897/26423162/222913a6-40ea-11e7-8de7-a88bc865e99d.png)

[2017-05-25 00:16] dawidip commented on #7348
Hi :) I've just made PR fixing this issue.

[2017-05-25 03:11] chowyb commented on #7370
Note the "Add Comment" button will be removed soon, but this may still be an issue that requires fixing.

[2017-05-25 03:36] damithc opened #7373 "FeedbackContributionQuestionDetails: fix NullPointerException"
Received from the live server
[code]

[2017-05-25 05:17] damithc commented on #5571
@whipermr5 can help?

[2017-05-25 05:38] #7364 closed

[2017-05-25 05:54] whipermr5 commented on #5571
After checking, it looks like the json files have already been updated to `giver` for `FeedbackResponseAttributes`. The remaining instances of `giverEmail` in json files belong to `FeedbackResponseCommentAttributes`, which is outside the scope of this issue. The only two remaining issues here are with the param name in the constructor and the `toString` method. Changing the former is safe; I'll le

[2017-05-25 06:15] #7348 closed

[2017-05-25 06:58] sujeet14108 commented on #5802
@YongJieYongJie @damithc
I am not able to find above methods i guess it may have been solved but there are other similar methods like `clickquestionSaveForQuestion1()` and `clickQuestionEditForQuestion1` which need to be removed

[2017-05-25 07:06] thenaesh opened #7375 "Release V5.105"
Scheduled for May 26, 2017, 11.59pm SGT.

[2017-05-25 08:48] #7215 closed

[2017-05-25 10:55] damithc commented on #5802
@TEAMMATES/activedevs can someone confirm?

[2017-05-25 11:06] whipermr5 opened #7378 "Move GodMode switch into test.properties"
The current way of enabling GodMode involves editing `BaseUiTestCase`, and a common mistake is to commit this change. Moving the switch into `test.properties` makes it clear as a matter of principle​ that the change is local-only, as the file is in `.gitignore` and hence, untracked. With the switch in `test.properties`, one can stage all changes while GodMode is still enabled without having to wor

[2017-05-25 12:13] #7340 closed

[2017-05-25 12:54] #6049 closed

[2017-05-25 16:55] tomelliott1988 commented on #7134
I'll happily take a look at this given it's a 'first timer' ticket.

[2017-05-25 17:49] HirdayGupta commented on #7225
@amarlearning still taking this one? I'd like to work on this otherwise.

[2017-05-25 18:40] VamsiSangam opened #7382 "instructorCourseStudentDetailsEdit and rubric question: Remove spaces inside textarea"
The `instructorCourseStudentDetailsEdit` has a `textarea` tag which is used for editing general comment on the student. The input box shows leading and trailing white-spaces inside it as such -

![capture](https://cloud.githubusercontent.com/assets/11662001/26460909/daf65570-4198-11e7-94bb-8a0dbbeca453.JPG)

These spaces are not a part of the actual comment text. This is a common issue with the `t

[2017-05-25 18:44] HirdayGupta commented on #7297
@LimeTheCoder may I work on this?

[2017-05-25 19:33] amarlearning commented on #7225
@HirdayGupta you can take this one

[2017-05-25 21:17] shelvinc commented on #7303
I'm new to open source development in general but looking to contribute to this project. Would be willing to help on this functionality with some assistance.

[2017-05-26 03:17] chowyb commented on #5802
@damithc @sujeet14108
The method mentioned in the issue was removed in #5939, although other similar methods still exist in the file. Leaving the `NewQuestion` methods as a separate method appears to be a conscious decision in #6473, therefore it is likely that only the `Question1` methods need to be removed.

@whipermr5 might want to provide additional info here as he was working on #6473.

[2017-05-26 03:20] thenaesh commented on #6961
We are not done. xD

[2017-05-26 03:25] whipermr5 commented on #5802
Yes, what @chowyb said. The `*ForNewQuestion` methods are needed as the tests shouldn't have to know that the question number for the new question is `-1` - that is an implementation detail that should only be known to the `PageObject`s.

[2017-05-26 06:08] LimeTheCoder commented on #7297
@HirdayGupta yes, you can take it.

[2017-05-26 07:13] chowyb commented on #6343
Note that as the document being referred to in this issue is on Google Docs, this cannot be fixed by submitting a GitHub PR. Instead, a committer should be able to edit the file on Google Drive directly.

Due to the migration of JS files to ES6, it should now be possible to use the link to their ES6 guide: https://github.com/airbnb/javascript/blob/master/README.md.

[2017-05-26 07:23] damithc commented on #6343
Updated the GoogleDoc.

[2017-05-26 07:50] whipermr5 opened #7384 "Add session token validation"
Further strengthens #7308

[2017-05-26 10:00] #7384 closed

[2017-05-26 16:21] lonewolf9277 commented on #7382
Hi may I do this? I am new to open source

[2017-05-26 16:32] VamsiSangam commented on #7382
Sure @lonewolf9277 :smile: ! Please go through our [contributor orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) before you do. It will help you set up the project smoothly so that you can issues without hassles.

[2017-05-26 17:19] VamsiSangam commented on #7331
Will work on this.

[2017-05-26 17:19] sujeet14108 commented on #5802
So should proceed with `clickquestionSaveForQuestion1` and `clickQuestionEditForQuestion1`  ?

[2017-05-26 18:51] chowyb commented on #5802
@sujeet14108 yep

[2017-05-26 18:55] VamsiSangam opened #7392 "instructor: edit question: 'Discard' button should discard changes to question number"
When instructor edits a question, the mention the question number gets enabled. This is used to re-order the question. But when 'Discard' is pressed, it neither discards the changes made to question number nor it renders it disabled.

![tinytake27-05-2017-12-05-51](https://cloud.githubusercontent.com/assets/11662001/26508141/285db8b6-4271-11e7-81d5-72f524371cc6.gif)

[2017-05-27 03:17] lonewolf9277 commented on #7382
Thanks. Will do this today.

[2017-05-27 05:47] Mynk96 commented on #7272
Suppose instructor adds two comments for a particular response, so we will show two comments on two different cell or in a single cell separated with something, for example 'comma'. ?

[2017-05-27 06:49] damithc commented on #7272
Good question. Note that the different comments can be from different instructors. Perhaps we can do something like this?
`instructor 1 | comment from instructor 1 | instructor 2 | comment from instructor 2`
i.e. number of columns depends on the number of comments.

[2017-05-27 07:05] #7303 closed

[2017-05-27 08:01] whipermr5 commented on #7171
Apologies I didn't flag this out earlier, but this does not reduce the number of write operations. The test is about adding x amount of test data (with increasing values of x) and measuring the time taken, right? Adding x amount of test data will always incur x amount of Datastore writes.

[2017-05-27 08:15] damithc commented on #7171
From the name of the test, I assume this is supposed to measure the scalability of reading response objects, not writing them. Therefore, objects can be written once and read every time the test is run.

[2017-05-27 08:22] #5571 closed

[2017-05-27 10:54] damithc commented on #6846
Closing due to inactivity. @AnaghHegde Feel free to open when you have more info.

[2017-05-27 10:54] #6846 closed

[2017-05-27 11:00] damithc commented on #6901
Closing to focus on higher priority issues. Will be reopened later.

[2017-05-27 11:00] #6901 closed

[2017-05-27 11:21] damithc commented on #6976
Closing to focus on higher priority issues. Will be reopened later.

[2017-05-27 11:21] #6976 closed

[2017-05-27 12:03] VamsiSangam commented on #3910
Working on this.

[2017-05-27 14:53] #5802 closed

[2017-05-27 15:01] samsontmr commented on #7171
Yes, that is the idea.

[2017-05-27 15:15] Mynk96 commented on #7272
@xpdavid Do we have any method to just extract values from html tags?

![capture](https://cloud.githubusercontent.com/assets/17481466/26522399/65cfb062-431d-11e7-875c-f8b70127cd16.PNG)

[2017-05-27 16:50] VamsiSangam opened #7396 "Add missing encoding page directive to several JSP files"
Add this line -

[code]

to all `.jsp` files in `src/main/webapp/partials` folder.

EDIT: Also to `invalidOrigin.jsp`

[2017-05-27 16:51] VamsiSangam commented on #7396
Working on this.

[2017-05-27 20:11] Malkone commented on #7171
Thanks, I'll try to update my pull request correspondingly.

[2017-05-27 21:51] nikiforosbotis commented on #7232
I will start working on it

[2017-05-28 07:42] #7267 closed

[2017-05-28 07:42] #7290 closed

[2017-05-28 07:42] #7346 closed

[2017-05-28 07:54] wkurniawan07 commented on #3601
@amarlearning the spirit of the issue itself is just changing the `*-for-test` class names to `*`.

[2017-05-28 10:50] Mynk96 opened #7398 "Unable to edit and add new comment to student's response in InstructorCommentsPage."
Unable to write anything in text box, while adding and editing comments.

[2017-05-28 10:58] Mynk96 commented on #7398
My bad, Working properly.

[2017-05-28 10:58] #7398 closed

[2017-05-28 12:42] #7396 closed

[2017-05-28 16:00] #7287 closed

[2017-05-29 03:22] whipermr5 commented on #7216
The request `referer` header contains the URL of the requesting page. Are the headers captured in the logs?

[2017-05-29 04:40] VamsiSangam commented on #3910
Can I assume that the first column (one with option description) is not supposed to be draggable?

[2017-05-29 05:00] thenaesh opened #7399 "Update about.jsp with contributors from V5.105"

[2017-05-29 05:09] damithc commented on #7216
No it is not captured by logs. hard to see a pattern in the logs.

![image](https://cloud.githubusercontent.com/assets/1673303/26537218/0398de42-4470-11e7-83bb-8311e3d1f20b.png)

[2017-05-29 07:06] whipermr5 opened #7403 "Specify default jsp encoding in web.xml"
Previously, the `jsp-config` directive was removed in #7221 to avoid infinite redirects (#6889). However, #6889 can be avoided through another approach: writing a custom `welcome-file-list` directive that overrides the default GAE implementation.

This allows the `jsp-config` directive to be restored, removing the need to include the line `<%@ page language="java" contentType="text/html; charset=U

[2017-05-29 07:42] chowyb commented on #3910
@damithc can probably weigh in on this better, but from what I understand, the first column should not be draggable, and only the columns with headers ("Strongly Agree", "Agree" etc. in the screenshot) should be draggable.

[2017-05-29 08:14] damithc commented on #3910
Yes, that's right. In fact, may be easier (especially when writing test cases) to provide `move left` and `move right` buttons of each columns rather than dragging?

[2017-05-29 08:24] VamsiSangam commented on #3910
I was looking at various dragging libraries till now :stuck_out_tongue_closed_eyes: . If you don't even want to drag the columns and have buttons instead, then I can forget about those libraries and write my own JS to swap the contents on columns (or something similar to that) on button clicks. That way is much simpler for me to do things and write tests as well. :v:  Should I proceed with this ap

[2017-05-29 08:48] damithc commented on #3910
Yes @VamsiSangam, go ahead.

[2017-05-29 09:07] whipermr5 opened #7405 "Change links to index.jsp to point to application root"
Example: the TEAMMATES logo links to the application root `/`, whereas the Home menu item links to `/index.jsp`. For consistency, all links to `/index.jsp` should be changed to point to `/`. Requires updating of test HTML files using GodMode.

Add: such links can be found at:
- `Const.java`
- `LogoutServlet.java`
- `bodyFooter.tag`
- `helpPage.tag`
- `staticPage.tag`

[2017-05-29 09:34] whipermr5 commented on #7216
Maybe can try filtering by IP and user agent to narrow the logs down to a single user session? Expand `protoPayload`, click on `ip` and select `Show matching entries`; do the same for `userAgent`:
![screen shot 2017-05-29 at 5 29 09 pm](https://cloud.githubusercontent.com/assets/6811428/26544560/d1894868-4494-11e7-8fbe-dd3b3ad64fb4.png)

[2017-05-29 10:23] damithc commented on #7216
I checked 3 cases. All seem to result from `studentCourseDetails` page (i.e. student viewing team details). However, I'm not sure if the number of requests is correct. For example, this guys has only 5 members in his team but there are about 50 profile pic requests from one page request to view team.
![image](https://cloud.githubusercontent.com/assets/1673303/26546213/70e61ee4-449b-11e7-9bed-ba367

[2017-05-29 10:33] damithc commented on #7373
This issue is preventing a specific user from accessing the results. Need to figure out soon.

[2017-05-29 10:49] damithc commented on #7373
Possibly similar to #7170 Applied a similar temp hot fix for the time being

[2017-05-29 14:33] #7399 closed

[2017-05-29 15:04] whipermr5 commented on #7375
Release 256

Code Contributions from: @amarlearning, @andydaehn, @damithc, @dawidip, @whipermr5, @kguo901, @LiHaoTan, @Mynk96, @rchliu, @shelvinc, @sujeet14108, @thenaesh, @umangborad123, @VamsiSangam, @leeyimin
Review Contributions from: @damithc, @Neurrone, @whipermr5, @thenaesh, @wkurniawan07, @leeyimin, @chowyb

Sprint Period: May 19, 2017 - May 29, 2017
Sprint Velocity: 93 points (code) + 32

[2017-05-29 15:39] whipermr5 commented on #7216
Only a few of the URLs are unique. I believe the culprit here is the browser's mechanism for quicker loading of page elements - when it doesn't receive a response within a certain amount of time, it opens another (or several other) connection(s) in parallel to request the same URL, then uses whichever response is fastest. It might have been caused by (i) our profile picture action responding slowe

[2017-05-29 15:44] whipermr5 commented on #6094
This looks like the same issue as #6619; I'm hoping #6669 has already fixed it. Have there been any occurrences since 16 March?

[2017-05-29 15:46] damithc commented on #6094
Last occurrence was March 15th. Closing.

[2017-05-29 15:46] #6094 closed

[2017-05-29 18:18] nikiforosbotis commented on #7405
@whipermr5 I would like to work on that

[2017-05-30 01:08] damithc opened #7406 "Logic#getCourseSummaryWithFeedbackSessions: assumption failure, null"
Got this from live server
v5.104
[code]

[2017-05-30 01:36] damithc commented on #7216
I see. Perhaps we can modify the page to show 'show picture' link instead? The picture can be loaded only if the link is clicked. A better approach is to not show the picture (or the link) if the student has no profile picture but not sure how much work that takes.

[2017-05-30 02:19] DorianDevelops commented on #7257
Has this issue been fixed? If not may help?

[2017-05-30 04:03] #7403 closed

[2017-05-30 05:24] #7134 closed

[2017-05-30 06:01] shubham49 commented on #7277
Working on it.

[2017-05-30 09:16] #7271 closed

[2017-05-30 10:37] #7351 closed

[2017-05-30 10:39] wkurniawan07 commented on #7287
@LiHaoTan if what you want is trailing whitespaces, no EOL at the end of file, and perhaps presence of tab characters, [this](https://github.com/evanshortiss/lintspaces-cli) is your friend.

[2017-05-30 11:17] VamsiSangam commented on #7382
**Adding this to scope of issue** - In ` teammates/src/main/webapp/js/instructorFeedbackEdit/questionRubric.es6`, in `addRubricRow()`, the `textarea` tag is added with a new line, which causes the same issue -

[code]

This should be changed to something like this -

[code]

Also similar issue in the `addRubricCol()` method -

[code]

this needs to be changed to something like this -

[code]

@lon

[2017-05-30 14:51] LiHaoTan commented on #7287
@wkurniawan07 thanks that look interesting though I think ESLint already offer those options. For non `.js` files I was thinking that maybe a git pre-commit hook check for all files would be better as it is more agnostic and doesn't introduce any additional dependencies. Maybe there's some better option.

[2017-05-30 16:55] VamsiSangam opened #7409 "questionRubric.es6 : removeRubricCol and removeRubricRow must decrement number of columns and rows hidden input value"
`addRubricCol` in `questionRubric.es6` increments the hidden input corresponding to the number of columns as such -

[code]

And `addRubricRow` increments the hidden input corresponding to the number of rows as such -

[code]

But `removeRubricCol` and `removeRubricRow` has no code to decrement the corresponding values. So if we have 3 rows/columns, they would be indexed as 0, 1, 2. Now when we ad

[2017-05-30 17:53] VamsiSangam commented on #7409
Will work on this.

[2017-05-30 19:18] angelosdmg commented on #7257
@DorianDevelops I'm working on it

[2017-05-30 19:24] angelosdmg opened #7410 "Understanding of servlets"
Hello, can you please explain me how does the logout servlet work? Where does the mapping happen?

[2017-05-30 22:44] sujeet14108 commented on #6563
I don't see much problem in the class except for some Javadocs comment voilation like
In `validateTeams` method

    /**
     * Validates teams for any team name violations.
     */
That can be changed to

    /**
     * Validates teams for any team name violations.
     *
     * @param studentList
     * @param courseId
     * @throws EnrollException
     */`
Except from these cosmetic changes at

[2017-05-31 00:50] damithc commented on #6563
@boxin-yang any inputs?

[2017-05-31 00:58] damithc opened #7411 "Token validation: handle requests with old sessions"
One example from the log (all requests from the same IP)
![image](https://cloud.githubusercontent.com/assets/1673303/26611195/35c8222c-45df-11e7-908e-7bbcf21b0370.png)

Does it look right?

[2017-05-31 05:20] VamsiSangam commented on #7409
The methods `removeRubricCol` and `removeRubricRow` are actually fine. The hidden inputs `#rubricNumCols-${questionNum}` and `#rubricNumRows-${questionNum}` are not actually meant to store the number of rows and columns, but they are meant to act like a database sequence so that new rows and columns get assigned a new unique ID.

Example, if we have 3 rows, they would be indexed as 0, 1, 2. Now if

[2017-05-31 05:20] #7409 closed

[2017-05-31 08:50] whipermr5 opened #7412 "design.md: update class diagrams for teammates.test.driver.retry package"
As proposed by @xpdavid. More details here: https://github.com/TEAMMATES/teammates/pull/7255#discussion_r118282775

[2017-05-31 08:52] whipermr5 opened #7413 "Add architectural rules for teammates.common.util.retry package"
As proposed by @xpdavid. More details here: https://github.com/TEAMMATES/teammates/pull/7255#discussion_r118280881

[2017-05-31 08:57] whipermr5 opened #7414 "BaseTestCaseWithDatastoreAccess: redesign API"
The current methods take in Attributes (data transfer objects) as parameters; however this is not very useful in tests. More details here: https://github.com/TEAMMATES/teammates/pull/7255#discussion_r118843658

[2017-05-31 08:58] #5866 closed

[2017-05-31 10:57] damithc commented on #7382
Upgrading the difficulty level because this might require changes to test cases (and God mode)

[2017-05-31 11:48] VamsiSangam commented on #7410
The logout servlet is `teammates.ui.controller.LogoutServlet`, it is a generic servlet to log out any user I guess. As for the mapping, it happens in `teammates.ui.controller.ActionFactory`, a URL is mapped to a subclass of `Action` class.

[2017-05-31 11:51] VamsiSangam commented on #7382
@lonewolf9277 , the scope of this PR has been increased, and it involves some complex actions for which you may not be ready for. Please move to another [d.Contributors](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.FirstTimers) issue of your choice. Sorry for the inconvenience. :sweat_smile:

[2017-05-31 19:43] amarlearning opened #7419 "Cannot send Ajax Request: Not able to create new Instructor"
Not able to create new instructor. _[Screenshot]_
![screenshot from 2017-06-01 01-11-15](https://cloud.githubusercontent.com/assets/9383897/26650568/75a88a48-4667-11e7-8cea-65aa8f6f7d3e.png)
[code]

[2017-06-01 01:04] damithc commented on #7419
Retry a few more times and see if that works. I encounter this occasionally in the liver server but it works on the 2nd or 3rd try.

[2017-06-01 03:27] chowyb commented on #7419
@amarlearning has this been resolved yet?

[2017-06-01 05:32] wkurniawan07 commented on #6563
Will not comment at issue at hand, but @sujeet14108 your suggested change is actually redundant and will be flagged as violations by CheckStyle because merely adding the parameter names and exception types do not add any new value to the documentation.

This is what will add value:
[code]

[2017-06-01 08:17] DanielSEvans opened #7420 "LMS Integration"
Our school uses teammates in some courses -bravo for the great application !
We are users of D2L. I saw that there is an LMS Integration project planned.
Is there any advancementi in this area

[2017-06-01 11:35] amarlearning commented on #7419
@damithc tried a couple of times but it didn't work. Later when @thenaesh asked me to do `npm run build`, it worked. Due to some recent commit in the `.es6` files, some files are changed and I didn't run `npm run build` maybe it's because of this.

Resolved!

[2017-06-01 11:35] #7419 closed

[2017-06-01 14:22] damithc commented on #7420
@DanielSEvans we have just started looking into it. So things are moving in that direction but it might take at least a few months before some LMS integration is available for users. In the meantime, you'll have to copy paste the student data from D2L (or any other source) to TEAMMATES.

[2017-06-01 14:23] damithc opened #7424 "Update user map for May 2017"
Refer #7215
Here are the entries to consider
[code]

[2017-06-01 18:18] Mynk96 commented on #7410
`<servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>teammates.ui.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>`
From the above code you can clearly see how logout servlet works.
As soon as you press logout button, it t

[2017-06-01 19:09] Mynk96 commented on #5485
@damithc we currently have one feedbackResponseComment in our sample course.On a rough estimate how many more sample FRC should I add?

[2017-06-01 22:29] sujeet14108 commented on #6545
How to check if it has 100% code coverage ?

[2017-06-02 02:39] theitrain commented on #6988
#7426

I submitted a pull request for this.

[2017-06-02 04:09] chowyb commented on #6545
@sujeet14108 from a comment on another issue [here](https://github.com/TEAMMATES/teammates/issues/6563#issuecomment-278284773), you can use EclEmma to check for code coverage.

[2017-06-02 05:04] HirdayGupta commented on #7063
@damithc referring to the screenshot you posted above, is it a mock-up? or did you code it up? If it is the latter, would you be able to share your approach with me? I ask as I am finding it tricky to implement the second functionality correctly.

My current approach is to use JavaScript to override the CSS Position property for the div that contains the editor. However, I am unable to figure out

[2017-06-02 05:15] damithc commented on #7063
@HirdayGupta It is a mockup, but it's also how the code worked when rich text support was introduced (by @belyabl9 last summer). So you should be able to find the code if you look through the git history of a relevant file or dig up the original PR by @belyabl9 I believe the library already has support for this mode without you having to write a lot of extra code yourself.

[2017-06-02 05:18] damithc commented on #7063
See https://github.com/TEAMMATES/teammates/issues/5775
That is the change I'm trying to reverse now :-p

[2017-06-02 05:24] HirdayGupta commented on #7063
@damithc Thanks! simply removing `fixed_toolbar_container` implements the desired behaviour! 😆

Will submit a PR with the fix soon.

[2017-06-02 08:36] HirdayGupta commented on #5980
@damithc How about this: **If** an instructor attempts to edit a question that already has responses, the visibility section colour changes to red and displays a warning?

Something like this:
![screen shot 2017-06-02 at 2 05 03 pm](https://cloud.githubusercontent.com/assets/18088721/26717868/95e1d702-479c-11e7-8daf-3836776bb9de.png)

(Screenshot for demo purposes only. Will work on a nicer lookin

[2017-06-02 08:39] thenaesh opened #7428 "Set up Webpack to enable modular JS development"
Every JSP file should include one minified JS file, which imports what it needs and no more. To start this off, we first do this for the page-specific files (e.g. `adminEmail.es6`).

For each JS file `x.es6` containing the main functionality of `X.jsp`, the rough strategy is as follows:

1. Track down the sources `y1.es6`, ..., `yn.es6` of all external functions used in `x.es6`. This should be eas

[2017-06-02 08:41] thenaesh commented on #7428
@wkurniawan07 @li-kai For your comment. There are probably places where this plan will blow up that I'm not aware of.

[2017-06-02 08:57] damithc opened #7429 "ide-usage.md: add a table of contents"
`docs/ide-usage.md` can have a table of contents at the top. The items can be
* Eclipse
* Intellij

![image](https://cloud.githubusercontent.com/assets/1673303/26718725/7fa67520-47b4-11e7-9dee-e4925757a26f.png)

[2017-06-02 09:03] HirdayGupta commented on #7424
Shouldn't this be USA?

[2017-06-02 10:14] sujeet14108 opened #7431 "Add Access control tests in lacking action classes"
As discussed in #7332

[2017-06-02 10:15] damithc commented on #7375
Deployed

[2017-06-02 10:15] #7375 closed

[2017-06-02 10:21] #7084 closed

[2017-06-02 10:44] damithc commented on #7328
Done.

[2017-06-02 10:44] #7328 closed

[2017-06-02 10:59] wkurniawan07 commented on #7428
That is in fact the migration plan from the very beginning. It very well explains why I [proposed the creation of one main script per page](https://github.com/TEAMMATES/teammates/pull/7004).

When we're ready to involve bundlers in the game (likely but not necessarily Webpack), then your idea should be feasible. I can't pinpoint any place where pitfalls can occur just yet.

[2017-06-02 11:03] Mynk96 opened #7432 "Add new instructor in adminHomePage not working"
![fail](https://cloud.githubusercontent.com/assets/17481466/26723254/3d912a34-47b1-11e7-96a8-c510cd628edb.PNG)

Log details:-
Servlet Action failure in adminInstructorAccountAdd
class teammates.common.exception.InvalidOriginException: teammates.common.exception.InvalidOriginException: Missing session token at teammates.ui.controller.Action.validateOriginIfRequired(Action.java:147) at teammates.ui.

[2017-06-02 11:06] wkurniawan07 commented on #7410
@angelosdmg `web.xml` is where the mapping between URL patterns and servlets happen.

[2017-06-02 11:14] damithc commented on #7432
Recently there was a similar case like this and the solution was to run `npm run build` (which needs to be run whenever there is a change to javascript code).

[2017-06-02 11:14] #7065 closed

[2017-06-02 11:22] Mynk96 commented on #7432
Well I tried running `npm run build` before creating this issue it didn't work, but now after your suggestion, I again did `npm run build ` and surprisingly it worked. Closing

[2017-06-02 11:22] #7432 closed

[2017-06-02 12:39] #7429 closed

[2017-06-02 14:16] damithc commented on #7424
Yes, fixed.

[2017-06-02 16:03] damithc commented on #5485
@Mynk96 can you give a screenshot of the feedbackResponseComment  as shown in the sample course? Which session?

[2017-06-02 16:05] damithc commented on #5980
That works too, but a confirmation dialog is easier to implement/test and harder for the user to ignore? I'm ok with the current suggestion too.

[2017-06-02 16:08] HirdayGupta commented on #5980
As mentioned by you earlier sir, we are already giving a popup if the instructor submits any changes to the visibility. And also, as rightly pointed out by you, too many popups might annoy the user. Hence I proposed this solution.

[2017-06-02 16:15] wkurniawan07 opened #7433 "Add lintspaces to enforce space-related rules"
[lintspaces](https://github.com/evanshortiss/lintspaces-cli) can enforce some rules such as:
- No trailing whitespace
- No tab character
- Each file ending with EOL character
- No multiple empty lines (can even be configured to set the max number of empty lines)

While the existing linters like CheckStyle, ESLint, and stylelint can enforce those rules for their respective languages, lintspaces is

[2017-06-02 19:26] sujeet14108 commented on #6545
![screenshot from 2017-06-03 00-52-28](https://cloud.githubusercontent.com/assets/9781422/26741556/705a8e56-47f7-11e7-9e43-05bb123410bb.png)

[2017-06-02 23:29] sujeet14108 commented on #6659
Will take this

[2017-06-03 00:50] damithc commented on #5980
You have a point. Go ahead.

[2017-06-03 03:19] Mynk96 commented on #5485
![response](https://cloud.githubusercontent.com/assets/17481466/26750142/3cd42a14-4839-11e7-8543-e5b1b0269ada.PNG)
@damithc Well, the problem is that this comment is only visible in student record of Alice Betsy, not visible in the feedback session results.
I think it is due to the absence of feedbackResponseCommentId in InstructorSampleData.json for this comment.

[2017-06-03 05:53] LiHaoTan opened #7436 "Upgrade Gradle wrapper version and use distribution that includes sources instead of binary only"
1. Gradle has been making several improvements in terms of usability and performance since version `2.12`. We should upgrade to version `3.5`.

   Some examples of improvements include:
[Tooling API generates more progress events](https://docs.gradle.org/3.3/release-notes.html#tooling-api-generates-more-progress-events)
[Production ready incremental builds](https://docs.gradle.org/3.4/release-note

[2017-06-03 10:04] angelosdmg commented on #7410
Thanks guys. Problem solved

[2017-06-03 10:12] angelosdmg opened #7437 "Dev Server: Login Problem"
I get this error when trying to login.

`WARNING: /admin/adminhomepage
javax.jdo.JDOUserException: Exception converting Account("test@example.com") to an internal key.
	at org.datanucleus.store.appengine.jdo.DatastoreJDOPersistenceManager.getObjectById(DatastoreJDOPersistenceManager.java:70)
	at teammates.storage.api.AccountsDb.getAccountEntity(AccountsDb.java:215)
	at teammates.storage.api.Accoun

[2017-06-03 10:15] shreyag12 commented on #7276
Hi,
 I am a beginner. Can I take this up?

[2017-06-03 10:31] damithc commented on #7411
The above screenshot is not very useful because it cuts off logs that happened _before_ the error. Here are some that don't. In all three cases there is a significant time lapse between loading the edit page and saving it. However, from user's point of view it can be annoying to get an error message even if the page was loaded long ago, especially if the user ends up losing all he typed.

![image]

[2017-06-03 10:33] damithc commented on #7437
I think the real culprit is this (appears in the middle of the error message):
`"Class teammates.storage.entity.Account does not seem to have been enhanced. You may want to rerun the enhancer and check for errors in the output." `
Are you using eclipse or intellij to run the dev server?

[2017-06-03 10:35] damithc commented on #5485
I see. We have to figure out how to make it visible in responses. @TEAMMATES/activedevs any help?

[2017-06-03 11:23] angelosdmg commented on #7437
@damithc intellij

[2017-06-03 11:36] damithc commented on #7437
Intellij has this problem and we are working on a solution. Try using the command line in the meantime.
Also, do a `gradlew clean`. May be @LiHaoTan can advise further?

[2017-06-03 11:53] LiHaoTan commented on #7437
@angelosdmg that is strange and running on the command line should work. There are a number of possible reasons why that is the case for IntelliJ though so can we first look at the command line?

Can you try the following?
1. `./gradlew clean`
2. `./gradlew appengineRun`

[2017-06-03 14:01] angelosdmg commented on #7437
@LiHaoTan Did this.
Now I get this error
`WARNING: Error for /admin/adminhomepage
java.lang.AssertionError: Date in String is in wrong format.
	at teammates.common.util.Assumption.fail(Assumption.java:61)
	at teammates.common.util.TimeHelper.convertToDate(TimeHelper.java:252)
	at teammates.common.util.Const.<clinit>(Const.java:104)
	at java.lang.Class.forName0(Native Method)
	at java.lang.Class.fo

[2017-06-03 15:14] #7331 closed

[2017-06-03 16:40] LiHaoTan commented on #7437
@angelosdmg

Can you do this?
1. Replace `DateFormat df = new SimpleDateFormat(SystemParams.DEFAULT_DATE_TIME_FORMAT);` in `TimeHelper#convertToDate`
to
`DateFormat df = new SimpleDateFormat(SystemParams.DEFAULT_DATE_TIME_FORMAT, Locale.ENGLISH);`

and do the following again:
1. `./gradlew clean`
2. `./gradlew appengineRun`

[2017-06-03 17:06] #6356 closed

[2017-06-03 18:21] #6909 closed

[2017-06-03 19:56] sujeet14108 commented on #6563
@damithc Here is EclEmma output
![screenshot from 2017-06-03 00-52-28](https://cloud.githubusercontent.com/assets/9781422/26756637/d5a248a8-48c4-11e7-95d5-d4dbd2ba4dd1.png)

[2017-06-03 21:49] sujeet14108 commented on #7112
@shrut1996  Will you be working on this or should i take this?

[2017-06-03 22:02] BigDataArtist commented on #7424
what are good open source projects in java where i can take part on git hub

[2017-06-04 01:04] #6988 closed

[2017-06-04 01:30] damithc commented on #6545
If you are refactoring methods not covered by tests, you may want to add tests first (as a separate issue). Not applicable to cosmetic and minor refactorings such as changing comments or renaming.

[2017-06-04 06:48] VamsiSangam commented on #6838
Working on this.

[2017-06-04 10:57] VamsiSangam commented on #6838
I managed to fix this bug, but `FeedbackContributionQuestionUiTest` fails due to an assertion fail -

![capture](https://cloud.githubusercontent.com/assets/11662001/26760935/39003a4a-4942-11e7-877b-bc57cdf4421d.JPG)

It says the input `showresponsesto` is expected to be `RECEIVER,OWN_TEAM_MEMBERS,RECEIVER_TEAM_MEMBERS,INSTRUCTORS` but is found to be `RECEIVER,RECEIVER_TEAM_MEMBERS,INSTRUCTORS`. Ca

[2017-06-04 13:47] lonewolf9277 commented on #7382
Ok no problem

[2017-06-04 14:14] chowyb commented on #6838
`OWN_TEAM_MEMBERS` refers to the team members of the student that is giving the response. In the general case where the student giving the response and the student receiving the response are in different teams, `OWN_TEAM_MEMBERS` and `RECEIVER_TEAM_MEMBERS` would refer to different students. However, in the case of team contribution questions, these should refer to the same group of students.

Cha

[2017-06-04 14:23] VamsiSangam commented on #6838
Thanks @chowyb :+1: . Will work on it.

[2017-06-04 14:40] #7370 closed

[2017-06-04 15:57] #7226 closed

[2017-06-04 16:00] #7263 closed

[2017-06-04 16:16] angelosdmg commented on #7437
@LiHaoTan It's working now but now I get another problem :/
`WARNING: /admin/adminhomepage
javax.jdo.JDOUserException: Exception converting Account("test@example.com") to an internal key.
	at org.datanucleus.store.appengine.jdo.DatastoreJDOPersistenceManager.getObjectById(DatastoreJDOPersistenceManager.java:70)
	at teammates.storage.api.AccountsDb.getAccountEntity(AccountsDb.java:215)
	at teammate

[2017-06-04 16:17] angelosdmg commented on #7437
![2017-06-04](https://cloud.githubusercontent.com/assets/15040082/26763362/6ab33994-495a-11e7-84b0-ca88353dcd35.png)

[2017-06-04 16:22] LiHaoTan commented on #7437
@angelosdmg are you running the dev server in IntelliJ because it is working correctly on the command line?

As I have mentioned, it would be preferable to make sure your command line setup works first before testing it on IntelliJ. This is because the current setup has a number of issues that may affect building in IntelliJ.

[2017-06-04 16:29] #7276 closed

[2017-06-04 17:09] angelosdmg commented on #7437
@LiHaoTan I always prefer the command line, but I run it on Intellij in order to see the mistake. What makes me "crazy" is that when I run it from Intellij this error is created, but when I user the shell and I run the dev server, it cannot find the admin home page, producing "page not found" error!!!
I even cloned the project minutes ago, made the installation all the way from the beginning, but

[2017-06-05 02:26] LiHaoTan commented on #7437
@angelosdmg Ah I see. Well but while the build process in Gradle on the command line and IntelliJ are currently quite similar, there are some differences so the error you see in IntelliJ may not be the same as the one you see on the command line. I am sorry for any confusion.

And because they are currently sharing the same build folder, it can also cause a few problems. So let's do this again wit

[2017-06-05 02:26] whipermr5 commented on #7437
@angelosdmg There are two separate issues here; the command line solution fixes the first one (not enhanced) which helps to reveal the second one (locale). @LiHaoTan's instructions are to help debug the second issue, so do follow his instructions exactly :)

[2017-06-05 04:58] whipermr5 commented on #7411
@damithc The time lapse shouldn't be a problem at all as our token only depends on the session, so as long as the user remains logged in, it's valid. Can you expand the log item to see which of the four cases it is: missing/invalid referrer/token? If it's a missing referrer, it's up to the user to re-enable it in the browser.

[2017-06-05 05:19] damithc commented on #7411
I checked one. It says `teammates.common.exception.InvalidOriginException: Invalid session token`

![image](https://cloud.githubusercontent.com/assets/1673303/26771527/7f0c260c-49f1-11e7-89c5-20c0b8bfb137.png)

[2017-06-05 09:09] shubham49 commented on #2775
Do we have to add 'remind' group button or just remind button that opens a pop up and sends email on 'OK'.

[2017-06-05 09:17] damithc opened #7447 "Document how to use masquerade mode"
When developers are manually testing against the dev server, they can use the _masquerade mode_  to impersonate different users. Just need to add the `user=username` to the URL e.g. `http://localhost:8888/page/studentHomePage?user=johnKent`
Note: masquerade mode works only if the logged in user has admin access

We can add the above info to our dev guides as some developers may not be aware of it.

[2017-06-05 09:25] #7411 closed

[2017-06-05 09:29] damithc commented on #2775
It's better to have a confirmation dialog.

[2017-06-05 10:30] shubham49 opened #7448 "Instructor: home page: remind particular students: update all sorting icons when a column is sorted"
When we select 'remind particular students' on instructor home page, a list of students gets populated through ajax request. When we try to sort the columns by selecting on headers, then previously sorted column icon doesn't reset.

![issue](https://cloud.githubusercontent.com/assets/10528953/26780583/0ffc7494-4a08-11e7-95dd-175f1186ba2a.gif)

[2017-06-05 10:50] shubham49 commented on #7448
Same is the case with this

![home_issue](https://cloud.githubusercontent.com/assets/10528953/26781186/daf32ee8-4a0a-11e7-95f1-e9a609998d71.gif)

Should I make another issue for this?

[2017-06-05 10:53] damithc commented on #7448
Indeed, this feature seems to be broken in multiple places. Must be a recent regression. Although it's not critical to the correctness of operations, it's an eyesore. Elevating priority.

[2017-06-05 10:55] shubham49 commented on #7448
![issue](https://cloud.githubusercontent.com/assets/10528953/26781326/86aa6eea-4a0b-11e7-93f1-4ec8a1fc84f6.gif)

Here also!

[2017-06-05 11:00] #6812 closed

[2017-06-05 11:01] wkurniawan07 commented on #7448
@damithc I beg to differ, because the sorting function is never designed to reset all the other arrows to begin with.

[2017-06-05 11:08] shubham49 commented on #7448
@wkurniawan07  I think sorting function is working fine for positive cases.
Like here
![positive_case](https://cloud.githubusercontent.com/assets/10528953/26781663/5f6dee04-4a0d-11e7-943f-1c9e73be726b.gif)

[2017-06-05 11:16] wkurniawan07 commented on #7112
@sujeet14108 feel free to take this one

[2017-06-05 11:17] #7410 closed

[2017-06-05 11:28] damithc commented on #7448
That's possible (I can't remember it one way or the other). Ideally, it should reset? Otherwise we can't say which way the table is sorted.

[2017-06-05 11:53] #6575 closed

[2017-06-05 13:05] whipermr5 opened #7450 "InstructorFeedbackEditPageUiTest: fix unstable visibility message verification"
All CI builds are failing due to #7300 making a [wrong assertion](https://github.com/TEAMMATES/teammates/commit/e9f697b814a123e342c11f7b47485967a1e8560b#diff-714bdb03e5eff875eaea9c2bf099a9e6R814) and removing one wait call that is actually needed 😅

[2017-06-05 13:38] adityavhegde opened #7451 "New contributor self intro Aditya Hegde"
Hi all,
Here is a small change to the index page. I made the video open on the same page, replacing the image, which is just below the header. Pressing the escape key, closes the video -- thereby replacing it with the original image.
The opened video is responsive in nature (adjusting to browser sizes)

**my fork**: https://github.com/adityavhegde/teammates/tree/tinker

![video_changes](https://cl

[2017-06-05 16:36] angelosdmg commented on #7437
@whipermr5
@LiHaoTan  Thanks for your answers. Now, this is the error I get

teammates.common.exception.PageNotFoundException: /admin/adminhomepage
        at teammates.ui.controller.ActionFactory.getAction(ActionFactory.java:152)
        at teammates.ui.controller.ActionFactory.getAction(ActionFactory.java:142)
        at teammates.ui.controller.ControllerServlet.doPost(ControllerServlet.java:66)

[2017-06-05 16:38] whipermr5 commented on #7437
The correct URL is `/admin/adminHomePage`, not `/admin/adminhomepage`.

[2017-06-05 16:42] angelosdmg commented on #7437
@whipermr5  this is not where the problem lies. I've tried both. At first, it gets me to the login page (sign in as administraton), but when I click "log in", this is when the problem comes up.

[2017-06-05 17:10] whipermr5 commented on #7437
@angelosdmg Visiting `/admin/adminhomepage` does get you to the login page due to the `/admin` prefix; that doesn't mean it's correct (it'll 404 after the login, as you have experienced). Your browser might have cached the URL `/admin/adminhomepage`; try visiting `/admin/adminHomePage` in another browser or an incognito window.

[2017-06-05 23:03] HirdayGupta commented on #7450
@whipermr5 does this have anything to do with `teammates.test.cases.action.InstructorFeedbackResponseCommentDeleteActionTest.testExecuteAndPostProcess` failing with message: `java.lang.AssertionError at InstructorFeedbackResponseCommentDeleteActionTest.java:124` (OR) `java.lang.NullPointerException at InstructorFeedbackResponseCommentDeleteActionTest.java:52`

I ask because I have noticed this tes

[2017-06-06 00:42] #7450 closed

[2017-06-06 02:47] #7296 closed

[2017-06-06 03:19] #7318 closed

[2017-06-06 03:50] #6522 closed

[2017-06-06 04:26] #7436 closed

[2017-06-06 05:08] #6867 closed

[2017-06-06 06:53] thenaesh commented on #7451
Welcome to TEAMMATES! You may start with solving `d.FirstTimers` issues (please don't do more than one of these) and then proceed to solving `d.Contributors` issues.

[2017-06-06 09:35] #7433 closed

[2017-06-06 10:16] HirdayGupta opened #7454 "InstructorFeedbackResponseCommentDeleteActionTest is not stable"
The `InstructorFeedbackResponseCommentDeleteActionTest` is failing.

- Travis error message: Java.lang.NullPointerException at InstructorFeedbackResponseCommentDeleteActionTest.java:52.
- local machine error message: java.lang.AssertionError: response comment not found at InstructorFeedbackResponseCommentDeleteActionTest.java:124

This was happening across all my open PRs before #7452 was merged b

[2017-06-06 10:29] wkurniawan07 commented on #7454
I've been observing for the past few days. Seems like this failure has non-trivial potential to halt an otherwise-passing build, so this should be remedied as soon as we can.

The linked PR is not the cause; the actual cause is #7332. @sujeet14108 can you spend some time to troubleshoot?

[2017-06-06 10:34] HirdayGupta commented on #7454
@wkurniawan07 I've noticed across several other PRs with failing tests that this error goes away over multiple Travis test tries.However, in the ones linked above, it remains even after all test tries. How is it that the tests behave in an inconsistent manner?

[2017-06-06 10:40] adityavhegde commented on #7451
Hi @thenaesh,
Appreciate your response. Is there a slack channel where communication takes place ?

[2017-06-06 10:40] whipermr5 opened #7455 "InstructorFeedbackSubmissionEditSaveActionTest and InstructorFeedbackResponseCommentDeleteActionTest: load required data bundles"
#7332 introduced mandatory `testAccessControl` for every action test. One such test, `InstructorFeedbackSubmissionEditSaveActionTest`, overrides `prepareTestData` and does not load the typical data bundle. However, the typical data bundle is actually needed for the access control test.

The access control test calls `verifyUnaccessibleWithoutSubmitSessionInSectionsPrivilege`, which calls `gaeSimul

[2017-06-06 10:41] whipermr5 commented on #7454
Related to #7455?

[2017-06-06 10:43] damithc commented on #7455
Good job diagnosing the problem 👍

[2017-06-06 10:44] HirdayGupta opened #7456 "Assistance requested: Test is failing on Travis but passing on local machine"
Refer to the content under the heading Test 3 on [this comment](https://github.com/TEAMMATES/teammates/pull/7416#issuecomment-306313173). The test `InstructorCourseStudentDetailsEditPageUiTest` is failing with `NoSuchElementException at InstructorCourseStudentDetailsEditPageUiTest.java:74` on Travis but is passing on my local machine. The PR does not affect any aspect of the contents being tested

[2017-06-06 10:48] wkurniawan07 commented on #7454
Could very well be. I haven't troubleshot and perhaps will not.

[2017-06-06 12:25] wkurniawan07 commented on #7456
Your latest build is a green though...

[2017-06-06 12:26] HirdayGupta commented on #7456
@wkurniawan07 Yes, it is. Was an issue before the latest commits. Closing.

[2017-06-06 12:26] #7456 closed

[2017-06-06 14:55] #7316 closed

[2017-06-06 15:03] damithc opened #7457 "Instructor: enroll students: trim leading/trailing spaces"
A user reported this error.
`" Humaira Ken" is not acceptable to TEAMMATES as a/an person name because it starts with a non-alphanumeric character. All person name must start with an alphanumeric character, and cannot contain any vertical bar (|) or percent sign (%).`

Sounds like our code is not trimming leading spaces.

[2017-06-06 15:31] #5485 closed

[2017-06-06 16:01] wkurniawan07 commented on #7457
I don't think it comes from "enroll students": [here's proof](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/cases/logic/StudentsLogicTest.java#L617).

[2017-06-07 00:28] sujeet14108 commented on #7455
Looking at it. :sweat_smile:

[2017-06-07 01:00] damithc commented on #7457
Yes, I thought we handled this sometime back. From the admin log:
[code]
I asked the user to remove the extra spaces and she says it worked after that.

[2017-06-07 01:45] #7131 closed

[2017-06-07 05:38] whipermr5 commented on #7454
Subsuming under #7455.

[2017-06-07 05:38] #7454 closed

[2017-06-07 06:21] #7295 closed

[2017-06-07 06:58] #7455 closed

[2017-06-07 07:54] aashutoshrathi commented on #7424
Can I do this, assign me.

[2017-06-07 08:10] Mynk96 commented on #4522
Should I add a new attribute (like commentGiverName) to FeedbackResponseComment Entity or just extract the name of the instructor using his/her email?

[2017-06-07 08:38] #6702 closed

[2017-06-07 08:38] #6971 closed

[2017-06-07 08:38] #6972 closed

[2017-06-07 08:38] #7158 closed

[2017-06-07 08:38] #7288 closed

[2017-06-07 08:38] #7322 closed

[2017-06-07 15:04] #7378 closed

[2017-06-07 20:03] HirdayGupta opened #7464 "Dev Help Required: enabling GodMode in test.properties"
@whipermr5 I changed the `test.godmode.enabled` to `true` in the `test.template.properties` file. (This option is, for some reason, not visible to me in the `test.properties` file. Don't know if this is an error in the [new God Mode documentation](https://github.com/TEAMMATES/teammates/blob/master/docs/godmode.md) or the cause of this Issue)

I then refreshed, cleaned and ran the project as a web

[2017-06-07 20:17] HirdayGupta commented on #4315
@damithc (not sure if I'm using the tag correctly here 😛) Would it be ok for this form to be a Google Form?

[2017-06-07 20:40] BrianCoveney opened #7465 "New contributor self intro Brian Coveney"
app:
https://1-0-dot-teammates-brian.appspot.com/index.jsp

fork:
https://github.com/BrianCoveney/teammates/tree/tinker

screenshot of the change:

![contact_us](https://user-images.githubusercontent.com/8080260/26900162-3ff36cbc-4bc9-11e7-8684-e95f81178136.png)

self-intro:

Hi all, my name is Brian Coveney. I am a 3rd year computing student, and mainly work on small Java applications for college

[2017-06-07 23:53] amarlearning opened #7467 "InstructorHelp: Remove horizontal scroll for mobile devices"
Facing a horizontal scroll in Instructor Help page for mobile devices. _[screenshot]_
![screenshot from 2017-06-08 05-20-51](https://user-images.githubusercontent.com/9383897/26906401-a1b49598-4c0a-11e7-8c2d-bc3a760d829a.png)

[2017-06-08 00:49] damithc commented on #4315
No need for the tag. Your comment is applicable to all devs :-)

Initially, a Google form may be enough. In future, our own submission system can be considered because we could like to capture some information from the system when the problem is reported.

[2017-06-08 01:42] whipermr5 commented on #7464
Hey @HirdayGupta, the option should be copied into `test.properties`, as that is the file that is read :)

[2017-06-08 02:26] #7092 closed

[2017-06-08 06:02] shubham49 opened #7469 "Fix lintspaces on Windows"
I have added unnecessary spaces in some .html file, and ran `npm run lint:spaces`.
![image](https://user-images.githubusercontent.com/10528953/26914201-7ed2816a-4c3d-11e7-921b-9b5635bf009b.png)
As you can see I get no errors.

If I modify `lint:spaces` script in package.json file, I get errors.
![image](https://user-images.githubusercontent.com/10528953/26914291-12bef67e-4c3e-11e7-96e7-511cdd4712f

[2017-06-08 06:04] whipermr5 commented on #7469
Thanks for the report!

[2017-06-08 06:09] whipermr5 commented on #7465
Hey Brian, welcome to TEAMMATES! Good job setting everything up correctly! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-06-08 06:30] whipermr5 opened #7470 "Release V5.106"
Scheduled for June 8, 2017, 11.59pm SGT.

[2017-06-08 06:30] whipermr5 opened #7471 "Update about.jsp with contributors from V5.106"

[2017-06-08 06:50] shubham49 opened #7472 "Instructor: home page: check remind operation at back end"
User is able to remind students and instructors even if the session is closed.

![remind_flaw](https://user-images.githubusercontent.com/10528953/26915715-c5be4c7e-4c44-11e7-9661-5e68f6053b56.gif)

[2017-06-08 07:14] damithc commented on #7472
It's fine @shubham49. There is no harm done because the link cannot be used to submit if the session is closed.

[2017-06-08 07:14] #7472 closed

[2017-06-08 07:14] HirdayGupta commented on #7464
@whipermr5 thanks! It's working now. 😃

[2017-06-08 07:26] #6659 closed

[2017-06-08 07:31] BrianCoveney commented on #7465
Thanks for the welcome @whipermr5. I'll have a look at the ```d.FirstTimers``` issues to start with.

[2017-06-08 09:35] #7469 closed

[2017-06-08 10:19] #3352 closed

[2017-06-08 11:01] #6987 closed

[2017-06-08 16:06] #7471 closed

[2017-06-08 16:16] whipermr5 commented on #7470
Release 257

Code Contributions from: @abikaran96, @PocketTesting, @amarlearning, @BrianCoveney, @Neurrone, @theitrain, @whipermr5, @EffingKay, @wkk91193, @LiHaoTan, @Mynk96, @mukesh14149, @nikiforosbotis, @shreyag12, @shubham49, @sujeet14108, @LimeTheCoder, @tomelliott1988, @VamsiSangam, @wkurniawan07, @xpdavid
Review Contributions from: @boxin-yang, @damithc, @whipermr5, @ablyx, @samsontmr, @the

[2017-06-08 19:21] sujeet14108 opened #7479 "AdminHomePageUiTest: enhance to cover content of the sample course"
As discussed in #7441

[2017-06-08 19:55] adityavhegde commented on #7252
Hi,

Has anyone already taken/resolved this issue ? I am a new contributor (completed the UI change task).
If not, I'd like to take this up.

[2017-06-08 20:23] HirdayGupta commented on #7464
@whipermr5 Permission to close? (issue is sorted) Also, would you like to add a line in god mode doc that says `For existing developers, copy the test.godmode.enabled property from test.template.properties to test.properties`. If so can open a new `d.FirstTimers` issue.

[2017-06-08 22:46] HirdayGupta commented on #4315
Understood @damithc. So right now, would you like me to add a Google Form to all the error pages? Or should I work on implementing our own submission system?

[2017-06-08 23:54] whipermr5 commented on #7464
I'd prefer to just let the existing devs read it through this issue; will keep it open for a few more days :)

[2017-06-09 03:22] damithc commented on #4315
Perhaps we can give `report error` button in the error pages and open an email client when they click on it (i.e. `mailto` link). Then, we can try to autofill some of the relevant info into the body of the email. I'm not sure if we can autofill Google forms. BTW, we can add the same option under the `Help` menu because users might encounter errors without seeing an error page.

[2017-06-09 04:52] damithc commented on #2669
I believe in some cases the values can be adjusted automatically (i.e. prorated).

[2017-06-09 05:37] damithc opened #7481 "Admin: create instructor: fix bug that shows failure even when the operation succeeds"
v5.106, manual testing against dev server

![image](https://user-images.githubusercontent.com/1673303/26962417-94cf5b38-4d18-11e7-9fdd-53ff52c04b91.png)

Operation seems to succeed (the join link works and the sample course is in the datastore) but shown in red and the data is reinserted to the text box (should only happen when the operation fails)

[2017-06-09 05:48] VamsiSangam commented on #7382
Working on this.

[2017-06-09 06:08] damithc opened #7482 "Dev docs: explain how to run dev server in CLI with console output visible"
Current:
`gradlew appEngineRun` starts the dev server in CLI mode.

Problem:
In this mode, dev is unable to see the console output of the dev server. It is better if the dev can see the console output e.g. for debugging

Suggested:
Find out and document how to run the dev serve in CLI mode with the console output visible.

Edit:
Simply add the command `./gradlew appengineRun -Pdisable_daemon` to [

[2017-06-09 06:21] LiHaoTan commented on #7482
Just adding some info here. This can be done with `./gradlew appengineRun -Pdisable_daemon`

[2017-06-09 07:04] damithc opened #7483 "Fix HtmlHelperTest test failure on dev server"
v5.106

HtmlHelperTest failing against dev server for multiple tries, Windows 7, Intellij

[code]
![image](https://user-images.githubusercontent.com/1673303/26964566-b5a41e3c-4d24-11e7-9af4-2b5db44bf0b0.png)

[2017-06-09 07:15] damithc opened #7485 "Instructor: view results: separate 'expand' button from status message"
v5.106
![image](https://user-images.githubusercontent.com/1673303/26964952-53abd1d2-4d26-11e7-8078-607008633e78.png)

Can use `InstructorFeedbackResultsPageUiTest#testViewPhotoAndAjaxForLargeScaledSession()` to observe this problem

[2017-06-09 08:27] VamsiSangam opened #7487 "Remove HTML in Java code by replacing current templating mechanism"
The current template mechanism can only "fill" values but cannot perform operations like looping, if-else condition branching, etc. We need to replace this mechanism altogether with a more maintainable solution. Currently two proposed solutions are -

- [FreeMarker](http://freemarker.org/), [example](http://www.vogella.com/tutorials/FreeMarker/article.html)
- [Apache Velocity](http://velocity.apac

[2017-06-09 08:51] VamsiSangam commented on #5991
Currently, when the instructor edits the visibility field, all existing responses are getting deleted, and this warning comes before saving changes to visibility field -

![1](https://user-images.githubusercontent.com/11662001/26968089-5f4e1f02-4d1e-11e7-890d-ea185c333551.JPG)

So I guess, in theory this issue is solved.

[2017-06-09 09:35] damithc commented on #5991
Not really. We don't want to delete the responses. Instead, just warn. Therefore this requires both backend and frontend changes.

[2017-06-09 10:02] damithc opened #7488 "AdminHomePageUiTest: fix failure against live server"
v5.106
[code]

[2017-06-09 10:04] #7063 closed

[2017-06-09 10:33] damithc opened #7489 "Intellij instructions: give more details about deploying"
Current instructions in `/docs/development.md` point to [this link](https://www.jetbrains.com/help/idea/2016.3/getting-started-with-google-app-engine.html#deploy_googleapp_via_runConfig) but step 4 might need more guidance on what the required `Google App Engine Deployment settings` are.

[2017-06-09 10:35] damithc opened #7490 "Dev docs: move all IDE specific instructions to one page"
Currently, most IDE specific information are in `docs/ide-usage.md` but some more IDE-specific parts are in other docs e.g. `docs/development.md`
May be we should move all such info to one page and point to it from other places?

[2017-06-09 10:37] #7382 closed

[2017-06-09 11:31] #7358 closed

[2017-06-09 12:57] HirdayGupta commented on #4315
I've found a way to autofill google forms with URL parameters. This can be done by creating a pre-filled form. For instance, if you access this form:https://docs.google.com/forms/d/e/1FAIpQLSfvYsR3jrcGDUXlnAXGIXILyOjW_Q4ngoSdah6-LIed4UXouA/viewform?usp=pp_url&entry.772346127=UserName&entry.1220253264=UserEmail&entry.824237481=Instructor&entry.1725895013=%3C%3CPrint+Stack+trace+here%3E%3E&entry.126