[2021-06-13 02:09] #11135 closed

[2021-06-13 03:01] #10449 closed

[2021-06-13 06:07] #11182 closed

[2021-06-13 09:27] rrtheonlyone commented on #11176
Yes please go ahead!

[2021-06-13 13:30] rbrishabh commented on #11152
I can work on this!

[2021-06-14 04:43] damithc opened #11191 "Instructor editing session: Save button is missing a space between icon and label"
There should be a space between the icon and the label here.
![image](https://user-images.githubusercontent.com/1673303/121840074-06aa6a80-cd0e-11eb-8e7a-ec3a80c80d9c.png)

[2021-06-14 04:46] samuelfangjw commented on #11191
Hi, could i try working on this issue?

[2021-06-14 10:03] hhdqirui opened #11193 "Create backend webapi for pulling logs"
**Environment**: `V7`

**Description of feature/enhancement**
New webapi is required for pulling error logs and logs with other severities together with certain filtering.

**Justification**
This is required for the project Log Interface for Senior Dev.

**Existing similar features and their shortcomings**
There is `CompileLogsAction` class but it is for cron jobs and it only gets error logs for t

[2021-06-14 10:58] ypinhsuan opened #11195 "Frontend UI for logs interface project"
Environment: V7

**Description of feature/enhancement**
Frontend UI to display the error logs and info logs to admin and senior developers

**UI prototype**
Users can select the type of logs they want to view from the last 24 hours.
![image](https://user-images.githubusercontent.com/58677983/121881023-476fa700-cd41-11eb-8e22-ad953461aa3e.png)

Timestamp, HTTP method and resource of the logs will b

[2021-06-15 03:22] damithc opened #11196 "Instructor download results: total given where average is expected"
v7.x (live version)

Reported by a user:
![image](https://user-images.githubusercontent.com/1673303/121987764-b09bfc80-cdcb-11eb-8098-e959ef4eaf20.png)

There is a problem in rounding off (too many decimal places) but that one is minor.

[2021-06-15 14:52] damithc opened #11198 "Instructor searching for students: distinguish between 'no results' and 'internal error'"
v8.*
![image](https://user-images.githubusercontent.com/1673303/122074570-e8d32780-ce2b-11eb-86ef-fd3412dd39c3.png)

When an instructor is searching (as above), if there was an internal error (e.g., the search service cannot be reached), the error message should say something like 'internal error' rather than 'no results' (which is the case now).

Otherwise it could mislead the user.

[2021-06-15 15:03] damithc opened #11199 "Possible tweaks for the dev docs"
Noticed there while following the dev docs when deploying the new V8. To be considered for tweaking the dev docs, if necessary (I could be wrong). Posting here for the record.
1. Mention that `npm install` should be run after pulling major changes from upstream?
2. `config.ts` should be mentioned here?
   ![image](https://user-images.githubusercontent.com/1673303/122075766-e6bd9880-ce2c-11eb-8fb5-

[2021-06-15 15:30] wkurniawan07 commented on #11199
Anything deployment-related doesn't belong in this repo.

[2021-06-16 07:06] samuelfangjw commented on #10569
Hi, I would like to work on this if possible!

[2021-06-18 04:37] damithc opened #11202 "Instructor checking activity logs: start time is not used correctly"
page: `/web/instructor/logs`

![image](https://user-images.githubusercontent.com/1673303/122528447-ebfa2d80-d04e-11eb-8583-ae9234f87cc6.png)

Looks like 23.59 is interpreted as 'start of the day' when it should be 'end of the day'.
As this is a 'search' feature, a mistake here has serious consequences because the instructor can be mislead into thinking that a student didn't access the submission p

[2021-06-18 04:38] damithc commented on #11202
Not urgent to fix as this feature is not yet released to users, but must fix before releasing to users.

[2021-06-18 07:06] BoazWu commented on #11149
Hi, I'd like to take this issue

[2021-06-18 12:40] samuelfangjw opened #11205 "Checkbox not aligned with text when choosing from template question"
- **Environment**: `master` branch at commit 476193c

**Steps to reproduce**
From the edit feedback session page, click Add New Question -> Choose from template questions.

**Expected behaviour**
Checkboxes are aligned with the text.

<img width="1023" alt="Screenshot 2021-06-18 at 8 24 03 PM" src="https://user-images.githubusercontent.com/60355570/122561999-1959d200-d075-11eb-9679-572fde55bf4a.pn

[2021-06-18 13:55] wkurniawan07 opened #11206 "Remove admin information from user cookie"
https://github.com/TEAMMATES/teammates/blob/476193cc9b7df6450e120f2c9fde723183879080/src/main/java/teammates/common/datatransfer/UserInfoCookie.java#L12-L17

Currently user cookie has `admin` field. It was so because the dev server login allows manual overriding of admin permission, thus the information about admin permission needs to be set at login time.

However, as we fully control the user cr

[2021-06-19 03:17] aileenpalafox commented on #11147
Hello, again
@smanpreet96 I was able to run the server just fine, are you still having troubles or were you able to run it?
Also, should I work on the issue or are you already working on it?

[2021-06-19 04:03] damithc commented on #11205
Thanks for reporting this @samuelfangjw

[2021-06-19 06:09] smanpreet96 commented on #11147
Hey @aileenpalafox you can work on this issue. I got my hands full with office projects, so I don't think I will get a chance to take up anything until next month.

[2021-06-19 06:30] xyzhang00 commented on #11205
Hi, could I try working on this?

[2021-06-19 06:50] damithc opened #11208 "Distribute points among recipients: show average excluding self"
Requested by a user:

Context: an instructor is viewing the results of a 'distribute points among recipients' type question

![image](https://user-images.githubusercontent.com/1673303/122633779-e82ce080-d10c-11eb-93bb-cc580e1c5e72.png)

Suggestion: Also show 'average excluding self' column

[2021-06-19 06:51] damithc commented on #11208
@ccyccyccy please help to label this as a `good first issue` or a `good second issue`

[2021-06-19 09:38] halfwhole commented on #11205
Sure thing, please go ahead

[2021-06-20 04:08] #11191 closed

[2021-06-20 13:07] #11180 closed

[2021-06-20 13:35] rrtheonlyone opened #11210 "Feedback Rubric Question: Suggestion for Statistics Per Recipient"
Right now in latest production branch we have the per recipient statistics feature. This looks like this:

<img width="797" alt="Screenshot 2021-06-20 at 8 43 44 PM" src="https://user-images.githubusercontent.com/10579415/122674542-3a9ef780-d208-11eb-82f9-93c7d606a7af.png">

The **Per Recipient Statistics (Overall)** feature is taking the sum of the average of sub questions divided by the number o

[2021-06-20 19:42] aileenpalafox commented on #11147
@damithc @moziliar I'm having trouble uploading the photo in the dev server, it says is uploaded but the image doesn't update. I've been reading the docs but I'm not sure what to do.

[2021-06-20 19:43] Jellybeano commented on #11208
hi could i try working on this?

[2021-06-21 01:28] madanalogy opened #11211 "Release V7.17.1"
Scheduled for Monday, June 21, 2021, 10.00am SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-06-21 01:32] #11196 closed

[2021-06-21 01:48] madanalogy commented on #11211
Only one PR https://github.com/TEAMMATES/teammates/pull/11200 for this release, hotfix for https://github.com/TEAMMATES/teammates/issues/11196

@damithc release branch updated and tagged, ready for deployment

[2021-06-21 11:03] StylPamp commented on #11205
I 'm making a PR about this :)

[2021-06-21 12:35] samuelfangjw commented on #11146
Hi, could I try working on this issue?

[2021-06-21 12:37] moziliar commented on #11146
Hi @samuelfangjw, please go ahead!
Do ask for help if you are stuck:)

[2021-06-21 13:55] samuelfangjw opened #11215 "Collapse All button visible when feedback session has no questions"
- **Environment**: `master` branch at commit 744b69a.

**Steps to reproduce**
1. Create a new feedback session.
2. Delete all questions.

**Expected behaviour**
Collapse all button is hidden.

<img width="1552" alt="Screenshot 2021-06-21 at 9 49 04 PM" src="https://user-images.githubusercontent.com/60355570/122773480-f9c3e300-d2da-11eb-90d6-177dcfcc5f6d.png">

**Actual behaviour**
Collapse All but

[2021-06-21 14:32] damithc commented on #11211
Deployed and released. Thanks guys for the speedy hotfix!

[2021-06-21 14:32] #11211 closed

[2021-06-21 14:39] damithc commented on #11215
Thanks for reporting this @samuelfangjw
I wonder how much effort it will take to add this feature. If it takes a significant effort (i.e., it adds a significant amount of code), we can leave things be as it doesn't cause any harm anyway.

[2021-06-21 14:55] samuelfangjw commented on #11215
I believe a one line change similar to the example below should do the trick!

[code]

[2021-06-21 15:32] samuelfangjw commented on #11146
Hi! I have a two questions regarding how I should approach this.

Qns 1) Which approach would work better?

The questions fetched from the api have the following attributes.
[code]
Currently, `responsesFromSelf` is used to generate the responses in the "Your own responses (to others) section".
[code]
However, the array does not contain self-responses.

I've thought of two ways to get the section t

[2021-06-21 15:33] damithc commented on #11215
Thanks for the suggested solution @samuelfangjw
Let me mark this as a first-timer issue then.

[2021-06-21 15:40] damithc commented on #11210
Thanks for bringing this up @rrtheonlyone I'm fine with the proposed approach.

[2021-06-21 16:14] lyeyixian commented on #11202
I can't reproduce this. It seems to be working on my side.

![image](https://user-images.githubusercontent.com/58477697/122794313-af4c6180-d2ee-11eb-8bf5-672cb1c088a1.png)

![image](https://user-images.githubusercontent.com/58477697/122794363-be331400-d2ee-11eb-98d4-cb5ea1a1b002.png)

![image](https://user-images.githubusercontent.com/58477697/122794384-c7bc7c00-d2ee-11eb-919d-a26e500b7f3f.png)

[2021-06-21 17:14] damithc commented on #11202
Thanks for investigating this @lyeyixian

A different course:
![image](https://user-images.githubusercontent.com/1673303/122801738-166e1400-d2f7-11eb-9925-83615a0a2088.png)

There is something wrong with the sort order too.

Not sure what's going on 🤔
Perhaps it's related to time zone difference not being considered in the logic?
Perhaps you can look at the logic to see anything is amiss?

[2021-06-22 00:57] Jellybeano opened #11216 "Help Request: [Unable to start back end dev server]"
- **Commit SHA:** 744b69a6339bd1dc568bdf2f1ebe99f13966d17e
- **Operating System:** Windows 10
- **JDK Version:** java version "1.8.0_51"
- **Node.js Version:** v14.17.0
- **Google Cloud SDK Version:** NIL
- **Firefox / Chrome Version (if applicable):** NIL

**What I was trying to do / What I need help with**

Was following the guide to manage the dev server when I ran into a problem when starting

[2021-06-22 08:13] lyeyixian commented on #11202
Yes, I will try to look into it.

[2021-06-22 08:33] lyeyixian commented on #11202
Hmmm strange, cause this is also working on my side too.
I'm running the server locally, but I think it shouldn't behave differently though.

![image](https://user-images.githubusercontent.com/58477697/122891395-11e94000-d377-11eb-9b9d-3adc702c0b14.png)

[2021-06-22 08:40] damithc commented on #11202
@AdithyaNarayan @t-cheepeng @halfwhole any thoughts?

BTW, your dev server is running is your local time zone while the production server could be running in a different time zone (UTC?).

[2021-06-22 10:06] lyeyixian commented on #10569
Hi, I would like to work on Session edit form, copy button.

[2021-06-22 12:22] #11216 closed

[2021-06-22 13:32] ccyccyccy commented on #11208
Go ahead and work on it :)

[2021-06-22 14:17] lyeyixian opened #11219 "Autoscrolling doesn't reach the correct question when moderating response"
- **Environment**: `master` branch at commit https://github.com/TEAMMATES/teammates/commit/eb6f5dba9927a7149cf2a52f735199659374781a

**Steps to reproduce**
1. Instructor view a session result.
2. Instructor wants to moderate a response.

**Expected behaviour**

https://user-images.githubusercontent.com/58477697/122939239-0c571e80-d3a6-11eb-90f4-9f6a97b1030c.mp4

**Actual behaviour**
It started to

[2021-06-22 15:20] damithc commented on #11219
@lyeyixian thanks for reporting this.
🤔  I wasn't aware auto-scrolling even exists for this case. I don't see any auto-scrolling in the the production version. Was the feature added recently? If you can locate the relevant code, you might be able to find when the feature was added.

[2021-06-22 15:41] wkurniawan07 commented on #11219
@damithc #3290

[2021-06-22 17:58] damithc commented on #11219
Thanks @wkurniawan07 (sorry, that one slipped my mind).

[2021-06-22 18:48] pPris opened #11220 "Help Request: 11 tests failing everytime E2E tests ran locally"
- **Commit SHA:**  [latest commit on master](https://github.com/TEAMMATES/teammates/commit/eb6f5dba9927a7149cf2a52f735199659374781a)
- **Operating System:** Windows
- **JDK Version:** "corretto-1.8.0_292"
- **Node.js Version:** v14.17.0
- **Google Cloud SDK Version:** NIL
- **Firefox / Chrome Version (if applicable):** NIL

**What I was trying to do / What I need help with**

I've followed the dev

[2021-06-23 17:06] pPris commented on #8573
Hi, I tried exploring this but I was unable to reproduce this. The issue seems to be fixed? (The mouse also turns into a 🚫 icon when you try to edit the number field.)

![image](https://user-images.githubusercontent.com/49683462/123138863-1bae9880-d488-11eb-8405-3ae207237771.png)

[2021-06-23 18:21] aileenpalafox commented on #11147
Hello, @moziliar I'm going to drop off this issue for now, in case anyone else is interested they can give it a go. :)

[2021-06-23 22:34] rrtheonlyone commented on #11146
Hi @samuelfangjw, thanks for looking into this.

Yes, for question 1, option (2) should be preferred - the `responsesToSelf` field is for students viewing results. Please have a look at `SessionResultsData.java`.

Reading `SessionResultsData.java` should also hopefully answer question 2 - the backend has some logic for the visibility to students.

[2021-06-23 23:00] blancont commented on #11176
Hi, I apologize for the long wait, I'm unfamiliar with contributing to open-source software so I've been slow to setting up the development environment.

I'm trying to create an instructor to simulate the issue but attempts to add the instructor fails. I assume this is because no email containing a join link actually gets sent on the dev server. The development guidelines say to use the join link

[2021-06-24 01:20] t-cheepeng commented on #11202
I don't believe there is any incorrect logic for the time conversions on frontend side since it is using a service that other pages are also using which takes into account the timezone. Will investigate this on staging

[2021-06-24 01:23] t-cheepeng commented on #11176
Hi @blancont, you can find the link in the admin page when you add the instructor.

Follow the steps here under the `Logging in to a TEAMMATES instance` section
https://github.com/TEAMMATES/teammates/blob/eb6f5dba9927a7149cf2a52f735199659374781a/docs/development.md

[2021-06-24 03:58] damithc commented on #11202
@t-cheepeng The conversion may be correct but some of the logic might be using unconverted times. Just a guess.

[2021-06-24 17:24] pPris commented on #11148
Hi, first-timer here, can I try this issue?

[2021-06-24 19:54] tjtanjin commented on #11219
Hello! May I try working on this?

[2021-06-25 11:30] madanalogy commented on #11220
The problem is very likely with the Windows operating system though we don't really know why exactly. The e2e tests in our CI are run on Linux and our developers on iOS don't seem to have any problems with it locally.

That being said, there shouldn't be any need for e2e test changes relating to issues targeted at new contributors. If the tests fail on a PR just leave a comment and we'll help look

[2021-06-25 12:20] damithc commented on #11219
Sure @tjtanjin go ahead.

[2021-06-25 15:12] damithc opened #11225 "[V8] viewing sessions gives error 'failed to log access'"
version: V8.0.0
steps:
1. instructor views results of a session
2. instructor clicks on a 'moderate responses' button
3. the moderation page loads as expected but the following error message shows up as well
![image](https://user-images.githubusercontent.com/1673303/123445881-e8e0dd80-d60a-11eb-9ee7-a9e538a57d03.png)

I tried the same thing with V7 and there were no such error.

I tried accessing

[2021-06-25 15:29] wkurniawan07 commented on #11225
This is already known.

On an unrelated note, there is no such version as V8.0.1. V8 is still at pre-release stage for at least a few more weeks.

[2021-06-25 15:29] damithc opened #11226 "[V8] Adding tasks to task queue fails"
v8.0.0

I tried to send a reminder to a student but encountered the following error:
![image](https://user-images.githubusercontent.com/1673303/123448030-0fa01380-d60d-11eb-8ed0-f946dda379af.png)

The error in the log:

[2021-06-25 15:34] wkurniawan07 commented on #11226
This is also already known.

[2021-06-25 15:42] damithc opened #11227 "Instructor home page: show spinner while copying sessions"
![image](https://user-images.githubusercontent.com/1673303/123449666-7c67dd80-d60e-11eb-9039-2b25a30a9ffe.png)

When this 'copy' button is clicked, a modal opens up.
![image](https://user-images.githubusercontent.com/1673303/123449888-ab7e4f00-d60e-11eb-8a52-bc578a0cebb9.png)

Suggestion: When the user clicks the 'copy' button in that modal, show a spinner icon in the button until the copy operati

[2021-06-25 15:45] pPris commented on #11220
Ah I understand, was concerned I set up something wrongly. Thank you for the help!

[2021-06-25 15:45] #11220 closed

[2021-06-25 15:50] damithc commented on #11225
I see. What's the cause?

Changed it to v8.0.0

[2021-06-25 15:59] wkurniawan07 commented on #11225
Conflicting dependency version.

Still not accurate. The closest thing we have is [V8.0.0-beta.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.0.0-beta.0), and the commit that has the question ID hotfix is untagged. Pre-releases cannot be treated the same as proper releases.

[2021-06-25 16:07] damithc commented on #11225
I see. What's the way forward?

[2021-06-25 16:16] wkurniawan07 commented on #11225
Updating some dependencies. This is a straightforward code fix of not more than 10 lines of code, no cause of concerns.

[2021-06-26 02:24] madanalogy commented on #11205
@xyzhang00 had already indicated that they would be working on this. We'll be putting #11213 on hold until #11214 is resolved. @StylPamp

[2021-06-26 04:39] damithc commented on #8573
Yes, seems to be fixed. Thanks for checking @pPris

[2021-06-26 04:39] #8573 closed

[2021-06-26 04:56] #10682 closed

[2021-06-26 05:20] #11161 closed

[2021-06-26 08:56] lyeyixian commented on #11227
Hi, I would like to work on this.

[2021-06-26 09:12] #11173 closed

[2021-06-26 10:04] rrtheonlyone commented on #11146
Hi prof @damithc, a clarification on the above issue.

In a scenario such as the above, do you prefer to have the self response be shown under both given/received? (just no stats if the question's responses are not visible to student).

The alternative is the screenshots by @samuelfangjw in https://github.com/TEAMMATES/teammates/pull/11221: the self-responses will not be shown under given if the q

[2021-06-26 10:20] damithc commented on #11146
My gut feeling is that self response should be visible under 'given' no matter what (no reason to hide given response from the giver). But showing self response under 'received' depends on the visibility. If the responses are visible to students, self-response should be shown (together with responses received from others) but otherwise no responses should be shown, not even self response. Does tha

[2021-06-26 10:42] rrtheonlyone commented on #11146
Yes that makes sense to me as well.

Sorry, incorrectly described the situation earlier. I think @samuelfangjw's screenshots should be correct then. We see that responses received is shown only based on the visibility. I will tag you in the PR for UI review @damithc

[2021-06-26 10:55] rrtheonlyone commented on #11227
@lyeyixian yes please go ahead

[2021-06-27 06:12] #11206 closed

[2021-06-27 06:45] rrtheonlyone commented on #11202
Hi @AdithyaNarayan are you available to take this one up?

cc: @halfwhole / @t-cheepeng

[2021-06-27 07:03] #11225 closed

[2021-06-27 07:03] #11226 closed

[2021-06-27 07:05] wkurniawan07 opened #11230 "Release V8.0.0-beta.1"
Scheduled for Sunday, Jun 27, 2021, 3.10pm SGT.

Release Lead:

- [x] Tagged the latest ~stable release code~ `master` branch code with the beta version number
- [x] Released changelogs

PM:

- [x] Deployed the new version for internal use
- [x] ~Released the new version for end users~

[2021-06-27 07:09] wkurniawan07 commented on #10187
Resolved in V8

[2021-06-27 07:09] #10187 closed

[2021-06-27 07:49] wkurniawan07 opened #11231 "InstructorAuditLogsPageE2ETest cannot be run in succession"
https://github.com/TEAMMATES/teammates/blob/9bf9c078ec2488918b9e44d608b186a21333406b/src/e2e/java/teammates/e2e/cases/InstructorAuditLogsPageE2ETest.java#L65-L72

These lines assume the absence of said logs, which is a very harmful assumption. At the very least, that means the test cannot be run more than once in a row without either restarting the dev server or waiting for one day.

[2021-06-27 08:49] damithc commented on #11230
Thanks @wkurniawan07
Deployed.

[2021-06-27 08:49] #11230 closed

[2021-06-27 12:03] damithc opened #11233 "[V8] Link from logo gives 404"
![image](https://user-images.githubusercontent.com/1673303/123543704-709d2800-d782-11eb-976a-277b1fb5989d.png)

In the V8 deployed version, this link gives a 404 error. Works if I add a `/` at the end.

[2021-06-27 12:44] henrique2Zs commented on #8607
Hi guys. Can I work on this? I'm thinking to try the same code of @moazbaghdadi how the referred comments above. I understood that were a problem with the tests when that code was proved. However, the tests are already fixed in another issue.

[2021-06-27 16:00] AdithyaNarayan commented on #11202
I will take a look into it later this week!

[2021-06-28 01:46] madanalogy opened #11234 "Failing L&P Tests"
L&P Tests on the master branch CI seem to be consistently failing since the introduction of V8. Suggest to either investigate the cause or remove the check altogether.

[2021-06-28 16:30] halfwhole opened #11235 "Instructor audit logs: ensure end date is not before start date"
Page: `/web/instructor/logs`

Currently, the date picker for 'search period until' allows you to input a date that is before the date from 'search period from'. It throws an error only after pressing the search button:

<img width="1237" alt="Screenshot 2021-06-29 at 12 23 43 AM" src="https://user-images.githubusercontent.com/41856541/123670911-4c1f7980-d870-11eb-9fbc-2da70c5a2930.png">

Not too u

[2021-06-28 16:53] halfwhole opened #11236 "Uninformative error message for incorrectly typed date input"
Issue is common to date pickers in both `/web/instructor/logs/` and `/web/instructor/sessions/edit/` (audit logs and edit feedback session)

Type in an incorrect date in the date picker, and the following error message will show up:

<img width="1237" alt="Screenshot 2021-06-29 at 12 43 54 AM" src="https://user-images.githubusercontent.com/41856541/123673503-1f209600-d873-11eb-8e43-9e7d6833f52d.pn

[2021-06-28 16:54] samuelfangjw commented on #8787
Hi! May I try working on this issue?

[2021-06-28 17:55] damithc commented on #8787
Sure @samuelfangjw you can give it a try.

[2021-06-28 18:40] damithc commented on #11235
When fixing this, keep in mind that the user might set start/end dates any number of times, in any order. i.e., while typically a user will set the start first and then the end and then click search, that may not always be the case.

[2021-06-29 10:08] lyeyixian commented on #11227
Currently, the loading spinner is still present (replacing the session table) after closing the modal.

https://user-images.githubusercontent.com/58477697/123778450-af0e2080-d903-11eb-8eb4-0b45e72bc2d0.mp4

This is somewhat related to #11162, but the discussion there is stopped halfway without clear conclusion. So, I not sure if we should change to showing it beside the copy button.
@damithc need

[2021-06-29 10:16] pPris opened #11237 "Feedback session table doesn't differentiate grace period and open status"
**Steps to reproduce**

I used these settings and to my understanding, this feedback session should be in the GRACE_PERIOD status (it's 5:14 pm at time of screenshot)
![image](https://user-images.githubusercontent.com/49683462/123771603-c518e280-d8fd-11eb-954d-e93cdd1a1798.png)

**Expected behaviour**

The sessions table should indicate to the instructor if a feedback session is in the grace perio

[2021-06-29 11:45] damithc commented on #11227
@lyeyixian this issue is about the copy button in the instructor's home page, not the sessions page. Spinner-replacing-the-table behavior is not present in that page, right?

[2021-06-29 11:52] damithc commented on #11237
Thanks for raising this @pPris
If it can be done without a lot of extra code, we can show `Open (grace period)` during that period, and change the tooltip accordingly.

[2021-06-29 13:11] wkurniawan07 opened #11238 "Support deployment to GAE flexible environment"
As part of https://github.com/TEAMMATES/teammates/projects/8

[2021-06-29 13:13] wkurniawan07 opened #11239 "Update Java requirement to Java 11"
As part of https://github.com/TEAMMATES/teammates/projects/8

Not to be done until just before releasing V8.0.0.

[2021-06-29 13:49] wkurniawan07 opened #11240 "Support Docker-based tooling for dependent services"
We can use Docker compose to run dependent services such as local Datastore emulator and Solr search service with just one command. It does come at a price that data will not be preserved between runs.

Docker-izing the main application is possible but will not be done as it presents no operational benefit currently.

[2021-06-29 15:19] lyeyixian commented on #11227
Oh, yup sorry, I look at the wrong page.

[2021-06-29 15:39] xyzhang00 commented on #11237
Hi, may I try working on this issue?

[2021-06-29 15:49] damithc commented on #11237
@TEAMMATES/active-mentors is this suitable as a first time issue? I'm not sure if this requires any API changes.

[2021-06-29 16:47] lyeyixian commented on #11227
@damithc do you think this is ok, cos it's more consistent with the other page this way.

https://user-images.githubusercontent.com/58477697/123836772-a554df00-d93c-11eb-92de-6322b6442987.mp4

[2021-06-29 17:04] damithc commented on #11227
Hmm... what happens if the user choose multiple destination courses? Which page do we go to in that case?
Even the UX of the other copy operations that you are trying t follow is not ideal. I feel like the spinner should appear in the button in the modal and the modal should stay until the operation is complete. After that, we can reload the current page (if its contents need updating) or go to a

[2021-06-29 17:09] lyeyixian commented on #11227
It will remain on the same page.

[2021-06-29 17:28] pPris commented on #9040
This issue might have been fixed too

https://user-images.githubusercontent.com/49683462/123841633-5ca02480-d942-11eb-8b2d-95ea4521ba9f.mp4

[2021-06-29 17:31] damithc commented on #9040
@pPris thanks for checking. Yes, I think the current status of the feature is good enough.

[2021-06-29 17:31] #9040 closed

[2021-06-29 17:41] damithc commented on #11227
OK, that makes sense.  But where do we show the spinner in that case?

Also, I'm not strictly opposed to what @lyeyixian proposed in https://github.com/TEAMMATES/teammates/issues/11227#issuecomment-870756083

At least it is consistent with other pages. Just a bit odd to the eye though.

[2021-06-29 17:46] damithc opened #11242 "Copying sessions from the home page results in temporary duplicate sessions being shown"
Steps that I took:
1. Go to instructor home page
2. Click on the copy button of a session
3. Select to copy to multiple courses (some of which are inside collapsed panels)
4. Finish the copy operation.
5. When I expand the course panel of one of the destination courses, I see an extra duplicate of the copied session.

![image](https://user-images.githubusercontent.com/1673303/123843362-6b87d680-d9

[2021-06-30 03:32] daongochieu2810 commented on #11237
The front-end seems to have all necessary info, so probably no API changes needed for this issue

[2021-06-30 03:58] damithc commented on #11237
Thanks for checking @daongochieu2810 Go ahead @xyzhang00

[2021-06-30 10:38] lyeyixian commented on #11227
Currently, it's the same as copying to one course, where the table disappears and show a loading spinner. After finished copying, it will show the updated home page

[2021-06-30 10:40] lyeyixian commented on #11227
Here's the video clip of it.

https://user-images.githubusercontent.com/58477697/123947110-8f91f900-d9d2-11eb-86c2-5cbb689d5171.mp4

[2021-06-30 12:14] damithc commented on #11227
You mean in the new version that you implemented, right?
Does it actually reload the page entirely from the backend (i.e., read all the data from the backend)? Or it's just a visual update of the page done on the frontend?

[2021-06-30 13:25] damithc opened #11244 "Instructor editing student details: show spinner while saving"
![image](https://user-images.githubusercontent.com/1673303/123967669-1c47b180-d9e9-11eb-9c7f-43b8f120f1e0.png)

Suggestion:
1. Add a suitable icon in front of the `Save Changes` label
2. Change the icon to a spinner while the saving is in progress

[2021-06-30 13:26] damithc commented on #11244
@TEAMMATES/active-mentors is this issue suitable for first-timers?

[2021-06-30 14:49] ccyccyccy commented on #11244
Looks like it

[2021-07-01 04:59] damithc opened #11245 "Support running client scripts via Gradle"
I used to run client scripts  (i.e., those in `src\client\java\teammates\client\scripts`) using Intellij but I would like to be able to run them using Gradle in future. Probably some tweaks to the build.gradle needed for that?

[2021-07-01 06:34] sarojku17 commented on #11244
Hi @damithc & @ccyccyccy  Can I start looking into it :)

[2021-07-01 07:32] halfwhole opened #11246 "Instructor audit logs: error in 'from' date for first day of the month"
On the first day of the month, the instructor audit logs page at `/web/instructor/logs` does not have a proper 'from' date:

<img width="1237" alt="Screenshot 2021-07-01 at 3 24 32 PM" src="https://user-images.githubusercontent.com/41856541/124083514-88292900-da80-11eb-9b32-408c83171acb.png">

Appears to be a boundary error caused by simply subtracting 1 from the day, without wrapping around to th

[2021-07-01 07:47] damithc commented on #11244
@sarojku17 sure, go ahead.

[2021-07-01 08:25] damithc commented on #11246
Thanks for reporting this @halfwhole

[2021-07-01 09:09] lyeyixian commented on #11227
Yes

Nope, it's just a visual update.

[2021-07-01 09:15] damithc commented on #11227
Should be fine in that case. Go ahead @lyeyixian

[2021-07-01 09:22] lyeyixian commented on #11227
OK, I will create a PR now.

[2021-07-01 09:53] lyeyixian commented on #11246
Hi, can I try this out?

[2021-07-01 10:27] damithc opened #11248 "Co-owners cannot edit sessions"
V7

Reported by a user:
![image](https://user-images.githubusercontent.com/1673303/124109373-a2bbcc00-da99-11eb-8535-49e9447bcd3a.png)

This user is a co-owner of the course but the `Edit` button is disabled.

Steps to repro:
1. Add an instructor at `tutor` permission level (user cannot edit sessions, as expected)
2. Upgrade the user to `co-owner`
3. Problem: user still cannot edit sessions

We ne

[2021-07-01 10:32] damithc commented on #11248
I can't reproduce it elsewhere though. Must be something specific to this specific case. I'll try to find out more from the user.

[2021-07-01 10:41] halfwhole commented on #11246
Sure, please go ahead

[2021-07-01 14:15] damithc opened #11249 "StatisticsPerInstitute: Failing due to OutOfMemoryError"
V7

`teammates.client.scripts.statistics.StatisticsPerInstitute` which is used to generate statistics (run by admin monthly) has started failing with this error.

[96500] Counting institutions stats by scanning student entities...
[96600] Counting institutions stats by scanning student entities...
Exception in thread "main" java.lang.OutOfMemoryError: Java heap space
	at com.google.appengine.repac

[2021-07-02 10:11] tjtanjin commented on #11242
Hello! May I try working on this issue?

[2021-07-04 04:25] damithc commented on #11248
Managed to replicate the problem. Updated the description.

[2021-07-04 04:44] #11149 closed

[2021-07-04 04:48] wkurniawan07 commented on #11248
This is the same problem as #10973.

[2021-07-04 04:55] damithc commented on #11248
Ah, that's why I felt like I've seen something like this before. Let's fix it this time.

[2021-07-04 05:06] wkurniawan07 opened #11252 "Use different method to impose request timeout limit"
#11160 attempted to impose timeout limit by using `ExecutorService` + `Future`, so that there can be auto-interruption of threads if the stipulated time is exceeded, however it ended up only masking the problem: the `Future` did end up getting interrupted, but not the thread that runs behind it, because no part of the code handles thread interruption.

As it is very troublesome and error-prone to

[2021-07-04 11:25] Jellybeano opened #11254 "Instructor Feedback Session Results: Session Duration formatting"
- **Environment**:  `master` branch at commit f4924bb3225d25c1e14a499cb563d1106b606949

**Steps to reproduce**
From the Instructor Home page, view the results of any course. (Results -> View Results)

**Expected behaviour**
The Session Duration dates are each on separate lines if there is not enough space.
![image](https://user-images.githubusercontent.com/65604398/124381773-d6dff880-dcf6-11eb-86f

[2021-07-04 12:32] damithc commented on #11245
For reference, something like this needs to be added (provided by @wkurniawan07 )
[code]

[2021-07-04 13:01] #11205 closed

[2021-07-04 13:04] pPris commented on #10952
Hi, may I work on this issue? It seems still applicable to the current version of teammates.

[2021-07-04 13:25] #11227 closed

[2021-07-04 14:02] #11148 closed

[2021-07-05 14:32] damithc commented on #11249
I managed to work around this problem by using an old copy of the statistics (rather than generate statistics from the start, which was causing the error). Will close this for now.

[2021-07-05 14:32] #11249 closed

[2021-07-06 05:28] #11237 closed

[2021-07-07 08:10] emily876 commented on #11236
I want to resolve it .Can you assign me this issue.

[2021-07-07 13:30] #11193 closed

[2021-07-07 13:30] #11195 closed

[2021-07-07 15:35] #11246 closed

[2021-07-08 09:47] tramsy commented on #11244
i am new bee can you help how i contribute in it

[2021-07-09 08:00] samuelfangjw commented on #4552
Is this issues still relevant? I would like to work on this if possible.

[2021-07-09 08:10] damithc commented on #4552
Go ahead @samuelfangjw

[2021-07-09 09:32] lyeyixian commented on #11254
Hi, I would like to work on this.

[2021-07-09 12:11] damithc opened #11260 "Instructor viewing students: incorrect message flashed before populating the page"
Steps:
1. Login as an instructor
2. Click this option
   ![image](https://user-images.githubusercontent.com/1673303/125075588-6a4b6c00-e0f1-11eb-80ff-b63def3ac229.png)

Problem: The next page shows a 'no students in this course' warning momentarily before populating the page, even if the course actually has students.

Note: Might not be visible when using the dev server as the page will get popula

[2021-07-09 15:39] halfwhole commented on #11236
@emily876 Sure, please go ahead

[2021-07-10 12:19] #11198 closed

[2021-07-10 14:51] #11233 closed

[2021-07-10 14:51] #11238 closed

[2021-07-10 14:51] #11240 closed

[2021-07-10 15:45] wkurniawan07 opened #11262 "Release V8.0.0-rc.0"
Scheduled for Sunday, Jul 11, 2021, 12.00pm SGT.

Release Lead:

- [x] Tagged the latest ~stable release code~ `master` branch code with the rc version number
- [x] Released changelogs

PM:

- [x] Deployed the new version for internal use
- [x] ~Released the new version for end users~

[2021-07-10 18:16] tjtanjin commented on #11157
Hello! May I try working on this?

[2021-07-11 02:53] #11175 closed

[2021-07-11 04:02] #11146 closed

[2021-07-11 04:45] damithc commented on #11157
Sure @tjtanjin

I'm OK to for a solution that is based on the current API for now and create a follow-up issue to investigate a more comprehensive solution. As we are the only users of our API, we _can_ change it if we want.
@TEAMMATES/active-mentors any inputs?

[2021-07-11 05:28] #11252 closed

[2021-07-11 08:40] damithc commented on #11262
Deployed. Thanks for the contributions everyone. 💯

[2021-07-11 08:40] #11262 closed

[2021-07-11 12:01] pPris commented on #11157
Hi i would like to help with this issue but for testing it out, I'm unsure of how to get a unique feedback submission link and a course join link for the students on the dev server, can I get some help on that?

(Steps taken)
![image](https://user-images.githubusercontent.com/49683462/125194135-9813ea80-e282-11eb-8187-7ffa5e036c25.png)

![image](https://user-images.githubusercontent.com/49683462/1

[2021-07-11 16:21] tjtanjin commented on #11157
Just to give a quick update, I have drafted an initial version of the error message in a new PR. The level of details to be included may be further discussed.

[2021-07-12 08:37] TomKemperNL opened #11265 "Clean build on windows failing because of checkStyle ${basedir}"
- **Environment**:
- release branch commit 524f88c92c5578b58a57857f1e0bd9c25bbf607b
Building on windows 10, using provided gradle wrapper

**Steps to reproduce**
.\gradlew.bat checkstyleMain --stacktrace

**Expected behaviour**
Build succeeded

**Actual behaviour**
Unable to create Root Module
Caused by: com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module SuppressionF

[2021-07-12 10:50] lyeyixian commented on #11260
I would like to work on this.

[2021-07-12 12:11] damithc commented on #11260
Go ahead @lyeyixian

[2021-07-13 06:45] ypinhsuan opened #11267 "Logs interface: Support more filters and histogram view"
**Description of feature/enhancement**
Additional features:
- Filter logs by user information
- Filter logs by trace ID
- Filter logs by API endpoint
- Filter error logs by source location / exception class
- Display error logs in histogram format

[2021-07-13 14:45] pPris commented on #10903
Hi, may I try working on this?

[2021-07-13 16:09] xyzhang00 opened #11270 "Checkboxes aligned via center instead of start when choosing from template questions"
**Environment**: `master` branch at commit 6484257

**Steps to reproduce**
From edit feedback session page, click Add New Question -> Choose from template questions.

**Expected behaviour**
Checkboxes aligned to the first line when there are multiple lines.
<img width="646" alt="Screenshot 2021-07-13 at 9 45 04 PM" src="https://user-images.githubusercontent.com/54242896/125485997-af829738-9767-4e8

[2021-07-14 04:48] ericluoliu commented on #11254
Working on this

[2021-07-14 10:11] #11265 closed

[2021-07-14 19:20] ericluoliu commented on #11254
When I try to build the front-end developer environment to re-create the formatting issue shown above, I get the message saying authorization to /web/admin/home is denied. I added my Google User ID to the build.properties 'app.admins' property but I still cannot set up the instructor account.

[2021-07-15 03:45] damithc commented on #11254
@TEAMMATES/active-mentors any advice for @ericluoliu ?

[2021-07-15 09:07] daongochieu2810 commented on #11254
@ericluoliu Ensure that the datastore and server are running, and if it still fails, please send us your build.properties

[2021-07-15 09:30] lyeyixian commented on #10823
Hi, I would like to work on this.

[2021-07-15 16:05] #11177 closed

[2021-07-15 17:49] ericluoliu commented on #11254
Building the servers seem to get stuck at 85% completion.
![image](https://user-images.githubusercontent.com/54130092/125833856-857ddf56-72ca-49a6-9605-45099299d49c.png)

Any ideas?

[2021-07-16 01:53] wkurniawan07 opened #11275 "Create new package for servlets and filters"
Current: `teammates.ui.webapi` contains both actions and servlets/filters.

Problem: Actions should not know anything about servlets/filters. Servlets (specifically `WebApiServlet`) should not be able to access internal details of actions. This cannot be enforced as they are in the same package currently.

Solution: Separate package for servlets and filters.

[2021-07-16 18:12] wkurniawan07 opened #11278 "Make all fields in *Attributes classes private"
Current: `*Attributes` classes have mixture of fields in different visibilities for no apparent reason.

Example from `CourseAttributes` (mixture):
https://github.com/TEAMMATES/teammates/blob/b960040a605113503c32eb3aaa75e4dba43eaaaf/src/main/java/teammates/common/datatransfer/attributes/CourseAttributes.java#L23-L28

Example from `FeedbackSessionAttributes` (all private; most preferred way):
https

[2021-07-16 18:28] wkurniawan07 opened #11279 "Redesign method of inserting dependencies in logic classes"
Example from `FeedbackSessionsLogic.java`:
https://github.com/TEAMMATES/teammates/blob/b960040a605113503c32eb3aaa75e4dba43eaaaf/src/main/java/teammates/logic/core/FeedbackSessionsLogic.java#L57-L66

Using static field is not the right way of inserting dependencies as it becomes very tightly coupled with the class itself. This in fact is the sole biggest reason why the logic classes (1) cannot be u

[2021-07-16 21:00] Jellybeano commented on #8509
would like to check if this is still a valid issue? since the tooltip no longer seems to exist on the latest version of TEAMMATES.

[2021-07-16 21:08] Jellybeano commented on #11254
85% completion after running the serverRun command appears to be the norm and not cause an issue when loading the webpage; perhaps could the root problem lie somewhere else?

(also leaving the link to the [development environment set up guide](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) here!)

[2021-07-17 03:44] damithc commented on #8509
This particular tooltip doesn't seem to add much value anyway. If it's no longer there, we can close this issue.

[2021-07-17 03:44] #8509 closed

[2021-07-17 15:10] halfwhole commented on #11244
Hi @sarojku17, would you be looking into the issue sometime? Otherwise, we might want to let @tramsy have a go at it too (if you're still interested in contributing)!

[2021-07-17 15:32] #11275 closed

[2021-07-17 16:05] srijit2002 commented on #11270
Hey, I am a newbie to open source. So can I take it?

[2021-07-17 17:44] wkurniawan07 opened #11284 "Fix exception checking in CreateAccountActionTest"
https://github.com/TEAMMATES/teammates/blob/48b67bae03babf5a5e578aefce47f0285e8de8b4/src/test/java/teammates/ui/webapi/CreateAccountActionTest.java#L42-L62

https://github.com/TEAMMATES/teammates/blob/48b67bae03babf5a5e578aefce47f0285e8de8b4/src/test/java/teammates/ui/webapi/CreateAccountActionTest.java#L101-L110

This is the wrong way of checking whether an exception is thrown. The correct way is

[2021-07-18 03:10] wkurniawan07 opened #11285 "Use moment for local date+time resolution instead of dedicated API"
Currently, there are parts of the code which resolves local date+time by making API call to the back-end, i.e. asking the back-end to resolve:
https://github.com/TEAMMATES/teammates/blob/48b67bae03babf5a5e578aefce47f0285e8de8b4/src/web/services/timezone.service.ts#L97-L135

This, however, is unnecessarily complicated as the `moment` library can achieve the same with far fewer lines of code (and wi

[2021-07-18 06:34] #11208 closed

[2021-07-18 06:40] srijit2002 commented on #11270
I am a beginner in open source. Can you please  tell me how can I run this web app?

[2021-07-18 07:42] #11278 closed

[2021-07-18 09:24] madanalogy opened #11288 "Release V7.17.2"
Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-07-18 13:33] #11279 closed

[2021-07-18 17:25] #11234 closed

[2021-07-18 17:25] wkurniawan07 commented on #11248
Fixes in #11258

[2021-07-18 17:25] #11248 closed

[2021-07-18 17:25] wkurniawan07 commented on #10973
Fixes in #11258

[2021-07-18 17:25] #10973 closed

[2021-07-19 04:18] damithc commented on #11288
Deployed and released. Thanks @daongochieu2810  for the fix and everyone else for other contributions to this patch release.

[2021-07-19 04:18] #11288 closed

[2021-07-19 09:07] #11242 closed

[2021-07-20 08:53] lyeyixian commented on #2719
Hi, I would like to work on this. Is this still relevant?

[2021-07-21 17:59] toth2000 commented on #11270
I would like to work on this issue.

[2021-07-22 04:52] hhdqirui opened #11293 "Log Interface Project M3: Allow maintainer access to the logs page, hide sensitive fields + drop sensitive query parameters"

[2021-07-22 09:40] halfwhole commented on #11270
@toth2000 Please go ahead!

[2021-07-22 09:51] halfwhole opened #11295 "Distribute points among options question: negative points allowed on frontend"
Very minor issue that's unlikely to be encountered in practice, but the frontend allows for points to be negative without showing any error:

<img width="1106" alt="Screenshot 2021-07-22 at 5 29 46 PM" src="https://user-images.githubusercontent.com/41856541/126619816-4f2a9093-cef9-451d-bf9b-53af25044f55.png">

The question submission will still fail as the backend does not allow for negative point

[2021-07-22 10:37] damithc commented on #11295
Thanks for catching this @halfwhole 👍
It brings up the question, "should we support negative points as well?"
Anyway, as the backend doesn't support it ATM, and the benefits of supporting it is not clear, I think we should block it on the frontend as well.

[2021-07-23 03:05] brandonfoong commented on #11295
Hi, may I try to resolve this issue?

[2021-07-23 07:33] ypinhsuan opened #11296 "Log Interface Project M3: Support simple local testing with pre-determined logs"
Read logs from a file to allow testing of log interface on the local dev server

[2021-07-23 12:06] #11285 closed

[2021-07-24 07:25] damithc opened #11298 "NPE when an instructor searches for a migrated entity"
v8.0.0.rc.0

When an instructor searches for 'james', the UI shows a 'server error'. When the admin searches for the same name, there is no such error and some results are returned.
When I search for 'riveen', both instructor and admin search gives results.
One difference between the two search terms is that 'james' was migrated from V7 while riveen was created via V8.

Found a whole bunch of (abo

[2021-07-24 07:43] damithc opened #11299 "Instructor searching: previous results are shown if search encounters an error"
v8.0.0.rc.0

Problem: The previous results are shown the search encountered an error
![image](https://user-images.githubusercontent.com/1673303/126861349-99a8606c-86d1-4510-9278-87d2a58991a3.png)

[2021-07-24 07:46] wkurniawan07 commented on #11298
@damithc was the searching done while masquerading as an instructor who doesn't exist in the system?

[2021-07-24 07:57] damithc commented on #11298
@wkurniawan07 I was searching as myself.

I also found that even if the name is among the students I created in V8, the error still happens if there are others with the same name among migrated entities in other courses. 'riveen' (which doesn't cause an error) is found only among V8-created entities in _my_ courses (not among V7-migrated entities).

[2021-07-24 08:10] wkurniawan07 commented on #11298
Sounds like the search result is not well-filtered, but I need to check

[2021-07-24 08:12] wkurniawan07 commented on #11299
Is this really a problem? This simply means there is no new search result to replace the existing one.

[2021-07-24 09:57] damithc commented on #11299
There are two issues, although neither is a big problem:

* The keywords and the results don't match anymore, and the matching keywords are no longer visible on the UI.
* The search results disappear first and come back after the error message. So visually, they appear like new results being shown rather than old results not being cleared.

[2021-07-24 12:24] xyzhang00 commented on #10824
Hi, I would like to work on this if possible :)

[2021-07-24 16:26] damithc opened #11300 "Give a better error message when an instructor tries to create a session that clashes with the recycle bin"
Context: an instructor tries to create a new session (e.g., by copying a session from another course) but it clashes with a session in the recycle bin.

The current error message:
![image](https://user-images.githubusercontent.com/1673303/126874844-9053293e-82a5-4f0c-a491-e3216d9cc225.png)

Suggestion:
* reduce details in the error message
* a more end-user friendly message? e.g., `a session with

[2021-07-24 19:18] xyzhang00 commented on #11300
Hello, I would like to try working on this :)

[2021-07-25 03:18] damithc commented on #11300
Sure, go ahead @xyzhang00

[2021-07-25 03:58] damithc opened #11302 "Admin search: increase the search result cap"
v8.0.0.rc.0 (but applicable to V7 as well)

Current: when admin searches for a user, search results are capped at 20 results only, with no indication of whether there are more results.

Suggestions:
1. Increase the cap to a higher number e.g., 50
2. If the cap is reached, also display a message to caution the user that there can be more results not shown
3. Check if the same applies to instructor

[2021-07-25 05:18] rrtheonlyone commented on #11295
@brandonfoong sure please go ahead

[2021-07-25 07:14] wkurniawan07 opened #11304 "Use alternative method to obtain cookie for E2E testing"
https://github.com/TEAMMATES/teammates/blob/c95755a1589b5a23f9be20c285759a8ccf556969/src/e2e/java/teammates/e2e/cases/BaseE2ETestCase.java#L113-L115

This breaks the black-box as `StringHelper.encrypt` uses encryption key within `build.properties`.

A better way is to introduce an endpoint locked behind backdoor key to return cookie key + value.

[2021-07-25 07:28] wkurniawan07 opened #11305 "Release V8.0.0-rc.1"
Scheduled for ~Monday, Jul 26, 2021, 10.00pm SGT~ Tuesday, Jul 27, 2021, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest ~stable release code~ `master` branch code with the rc version number
- [x] Released changelogs

PM:

- [x] Deployed the new version for internal use
- [x] ~Released the new version for end users~

[2021-07-25 07:35] wkurniawan07 commented on #11300
This is not necessarily a session that "clashes with the recycle bin". This is a general issue for creating session with duplicate name within the course.

[2021-07-25 08:36] damithc commented on #11300
Yes, you are right. If a recycle bin clash can be distinguished easily, additional guidance can be given (because users may not be aware of that gotcha). But if not easy to distinguish, can simply include a caution about the recycle bin in all cases of this error message.

[2021-07-25 10:08] #11304 closed

[2021-07-25 12:59] xyzhang00 commented on #11300
<img width="724" alt="Screenshot 2021-07-25 at 5 48 48 PM" src="https://user-images.githubusercontent.com/54242896/126899841-87356285-478e-4bd0-bd9b-0c5f1469dc7c.png">
While fixing this issue, I realised that this is the error message when trying to create a new course under the same context. Would it be better to standardise these error messages?

[2021-07-25 13:21] damithc commented on #11300
We can certainly mention the Recycle bin here as well. But probably the rest of the message will have to be different as the constraints are different for courses and sessions.

[2021-07-25 13:44] #11176 closed

[2021-07-25 15:49] tjtanjin commented on #11302
Hello! May I try working on this?

[2021-07-25 16:29] damithc commented on #11302
Sure.

[2021-07-25 16:29] ChooJeremy opened #11309 "Drop downs for further actions in tables expands by adding scrolling to table"
- **Environment**: master branch at commit 2416bc5807b8400f78cf67d9246256bbc486379d

**Steps to reproduce**
1. Create a new course and a new feedback session for that course.
2. Go to courses page
3. Resize page such that the row of the table spans a height of 2
4. Click results on the lowest row on the table, of the first course  (the 2nd course doesn't have this issue)

**Actual behaviour**
The

[2021-07-26 03:56] ypinhsuan opened #11310 "Log Interface Project M3: Should be able to fetch more logs for both "before" and "after""
See GCP logs console as reference
Logs should be fetched latest-first

[2021-07-26 04:28] #11267 closed

[2021-07-27 10:57] #11310 closed

[2021-07-27 11:30] #11298 closed

[2021-07-27 12:54] #11010 closed

[2021-07-27 17:26] damithc commented on #11305
Deployed for internal use. Thanks to everyone who contributed.

[2021-07-29 04:36] #11293 closed

[2021-07-29 05:03] samuelfangjw commented on #11309
Hi, I would like to work on this if possible!

[2021-07-29 06:32] damithc commented on #11309
Go ahead @samuelfangjw

[2021-07-29 07:16] hhdqirui commented on #10843
Hi! I would like to check whether this is still an issue for the current version. I cannot seem to reproduce the bug.
![copy20210729_151459](https://user-images.githubusercontent.com/53338059/127448414-9a5177b2-de8d-46ba-aa80-3671c9aea21a.gif)

[2021-07-29 07:27] damithc commented on #10843
@hhdqirui I was able to reproduce it once with the latest V8 (beta). Might depend on the number of responses though. In most cases, it didn't happen at all. Try clicking soon after the page loads. Anyway, lowering the severity as the incidence is rare and impact is very low.

[2021-07-30 07:16] xyzhang00 commented on #10785
Hi! May I ask if this issue is still relevant? If so I would like to work on it :)

I have taken a look at the current TEAMMATES and it would seem that response details table already supports sorting by giver team name. However, different question types support different sorting methods when the tabs are first expanded. For example, `constsum-recipients-question` initially sorts by `Points Receive

[2021-07-30 10:14] #11296 closed

[2021-07-30 11:40] damithc commented on #10785
I don't think this issue is about the _initial_ sorting order (which is also important but that's a separate issue). It's about being able to sort a column by numerical order, _if_ the column contains numbers only.
If we know in advance the column should contain numbers only (e.g., `total points` column), we should sort numerically, for sure.
But it is tricky if there is no such guarantee e.g., `T

[2021-07-30 16:08] xyzhang00 commented on #10785
Hi prof, sorry for misunderstanding the issue! I went to take another look and response details table sorting by `Team` doesn't actually sort numerically. This is because sorting by `GIVER_TEAM` attribute is done lexicographically:
<img width="153" alt="Screenshot 2021-07-31 at 12 05 03 AM" src="https://user-images.githubusercontent.com/54242896/127680651-6c91a1b5-0f0a-4eb7-a5f0-21272191af4f.png">

[2021-07-30 18:08] damithc commented on #10785
@xyzhang00 I'm not entirely sure if you have a full picture. Read through the full thread carefully and see if you missed something.

[2021-07-30 18:33] jasminelambxo commented on #9117
can i give this a go ?

[2021-07-30 19:54] xyzhang00 commented on #10785
I am really sorry if I am misunderstanding something. I thought the main issue here is that summary table and details table have different sorting orders for team names, which should be the same thing and hence sorted in the same way. That is because the summary table `Team` (`TEAM_NAME`) is sorted naturally and details table `Team` (`GIVER_TEAM`) is sorted lexicographically (see `TEAM_NAME` vs `G

[2021-07-31 02:23] wkurniawan07 opened #11314 "Minimize checkstyle javadoc suppressions"
https://github.com/TEAMMATES/teammates/blob/9354fea62635b3b64619a62712fea2d4c500254b/static-analysis/teammates-checkstyle-suppressions.xml#L15-L31

These suppressions were added during the early days of Checkstyle adoption (otherwise there are too many violations to resolve). Many years have passed since then and if these suppressions keep staying there, it is as good as not having the rule at all

[2021-07-31 03:00] damithc commented on #9117
Sure, go ahead @jasminelambxo

[2021-07-31 03:29] damithc commented on #10785
Yes, I think you are right.

Yes, I think so too.

I think you have understood the problem correctly after all. Sorry, my bad. Go ahead and submit a PR.

[2021-07-31 14:02] jasminelambxo commented on #9117
i cant see where the issue is aploagies

[2021-08-01 00:58] #11314 closed

[2021-08-01 07:09] wkurniawan07 opened #11319 "Logs Interface: Support more filters + better exception tracing"
New filters to be added:
- Filter for latency
- Filter for HTTP status
- Arbitrary filters

Exception tracing improvement:
- Source location should indicate where the exception is thrown, not where it is caught/logged at
- Should include stack trace
- Should persist the exception class name properly via JSON payload instead of wild-guessing via text payload

[2021-08-01 08:01] #11305 closed

[2021-08-01 09:34] wkurniawan07 commented on #4588
Closing as:
- HTML sanitization in the back-end has been removed since long ago (around 2016-7)
- HTML sanitization in the front-end is automatic as long as `{{ thisFormat }}` is used
- Only old data with HTML characters will be weirdly displayed. The benefit of fixing is marginal.

[2021-08-01 09:34] #4588 closed

[2021-08-01 09:35] wkurniawan07 commented on #9247
Closing (see #4588 for reasons)

[2021-08-01 09:35] #9247 closed

[2021-08-01 09:35] wkurniawan07 commented on #4699
Closing (see #4588 for reasons)

[2021-08-01 09:35] #4699 closed

[2021-08-01 09:35] wkurniawan07 commented on #7260
Closing (see #4588 for reasons)

[2021-08-01 09:35] #7260 closed

[2021-08-02 00:01] #11319 closed

[2021-08-03 00:46] #2917 closed

[2021-08-03 00:56] wkurniawan07 commented on #11020
Closing as all essential tasks have been done.

[2021-08-03 00:56] #11020 closed

[2021-08-03 01:19] wkurniawan07 opened #11326 "Logs Interface: Improve design"
Currently we have a working log infrastructure that, although reasonably well-designed, can still be significantly improved.

- There are many structures defined in the back-end that can/should be reused in the front-end (e.g. the logs parameters).
- The logs are not structured in the best way yet, i.e. now one single class is used to encapsulate every possible log type. A better way is to use dif

[2021-08-03 05:44] xyzhang00 opened #11327 "Compare table elements that are expected to be numbers numerically"
- **Environment**: `master` branch at commit 8a97db6

**Steps to reproduce**
Instructor views the result of a session question, like a rank recipients question with more than 10 possible ranks.

**Expected behaviour**
Table elements expected to be numbers are compared numerically and sorted in the correct order.

**Actual behaviour**
<img width="144" alt="Screenshot 2021-07-31 at 10 26 21 PM" src=

[2021-08-03 08:57] arsatis commented on #11327
Hi, may I try to resolve this issue?

[2021-08-03 09:30] samuelfangjw commented on #2488
Hi, is this issue still relevant? Seems like we already have a pretty comprehensive range of common feedback paths to choose from, although the two mentioned by the user in the original post "Other students in the course, and Giver" and "Other teams in the course, and Giver’s team" do not seem to be one of the common feedback paths.

<img width="785" alt="Screenshot 2021-08-03 at 5 24 14 PM" src="

[2021-08-03 12:48] damithc commented on #11327
Sure, go ahead.

[2021-08-03 16:17] damithc commented on #2488
@samuelfangjw I think adding those options can be useful, specifically, to this dropdown.

![image](https://user-images.githubusercontent.com/1673303/128050297-a0467ad5-5175-4e79-b6c1-0adbb26315cb.png)

[2021-08-03 16:29] josiahkhoo commented on #11244
Hi, can I resolve this issue if no one is working on this at the moment?

[2021-08-03 16:34] damithc commented on #11244
Go ahead @josiahkhoo

[2021-08-04 12:02] jianhandev commented on #11299
Able to replicate this, I think clearing old results when an error is encountered should be able to solve this problem.

I didn't manage to replicate this however.

[2021-08-04 12:26] wkurniawan07 opened #11329 "Release V8.0.0"
Scheduled for Saturday, Aug 7, 2021, 11.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-08-04 16:21] samuelfangjw commented on #2488
Hi, I looked into this issue but am currently a little unsure of the appropriate way to approach this issue.

Currently, `STUDENTS` in `FeedbackParticipantType` enum seems to have different meaning depending on context.

When selecting feedback path:
`STUDENTS`: Students excluding self
`STUDENTS_EXCLUDING_SELF`: not used

When generating options for MCQ & MSQ:
`STUDENTS`: Students including self
`

[2021-08-05 12:05] oryaakov2 commented on #11244
hey, can i resolve this issue? thats my first time i contribute.

[2021-08-05 12:15] sarojku17 commented on #11244
Yes , please go ahead .

On Thu, 5 Aug, 2021, 5:35 pm Or Yaakov, ***@***.***> wrote:

[2021-08-06 13:06] wkurniawan07 opened #11334 "Remove unused backend code"
Routine removal of dead backend code.

[2021-08-06 14:20] #11326 closed

[2021-08-06 14:21] wkurniawan07 commented on #11039
Fixed in #11322

[2021-08-06 14:21] #11039 closed

[2021-08-07 00:55] #11284 closed

[2021-08-07 04:22] #11309 closed

[2021-08-07 04:59] #10952 closed

[2021-08-07 06:07] #4552 closed

[2021-08-07 06:17] xinyee20 opened #11337 "Home page header misaligned"
Page: `/web/front/home`

Headers are not aligned properly

<img src="https://user-images.githubusercontent.com/63994179/128226732-6d51d0f9-1b32-4292-b474-14e4a807d18c.png" width="450">

[2021-08-07 06:59] #11299 closed

[2021-08-07 07:14] xinyee20 opened #11339 "More Info Modal Header inconsistent"
Page: `/web/front/help/instructor`

Modal Header looks off, not consistent

<img src="https://user-images.githubusercontent.com/63994179/128227226-24c1e049-9cea-4f66-a56d-4cf428975d66.png" width="450">

[2021-08-07 07:21] xinyee20 opened #11341 "Spacing of contents within Example box can be improved"
Page: `/web/front/help/instructor`

Looks relatively squashed

<img src="https://user-images.githubusercontent.com/63994179/128227884-cb1451d1-e00e-4e87-9119-995c53c57d1b.png" width="450">

[2021-08-07 07:41] #10785 closed

[2021-08-07 08:39] #7413 closed

[2021-08-07 08:39] #11334 closed

[2021-08-07 08:39] #8453 closed

[2021-08-07 15:15] #11239 closed

[2021-08-08 08:38] wkurniawan07 commented on #6470
No longer happening

[2021-08-08 08:38] #6470 closed

[2021-08-08 08:51] wkurniawan07 commented on #4345
Solr gives 8192 bytes default limit. If we exceed that, we should instead rethink how the feature is designed.

[2021-08-08 08:51] #4345 closed

[2021-08-08 11:12] wkurniawan07 opened #11345 "Update Angular to 12"
- Drop browser support for IE 9, 10, and IE mobile
- TypeScript 4.2.3+
- Critical CSS inlining
- Migrate TSLint to ESLint (back to where we started)

[2021-08-09 02:45] damithc commented on #11329
Deployed and released. A BIG thank you to @wkurniawan07 for conceptualizing and leading the V8 effort and to everyone you contributed. 💯

[2021-08-09 02:45] #11329 closed

[2021-08-09 05:17] damithc opened #11346 "Admin logs: server error when filtering logs"
version: v8.0.0, live

When the admin is viewing logs, the following setting seems to cause a server error:
![image](https://user-images.githubusercontent.com/1673303/128662736-f8c39ca3-c251-4d86-8779-198c21dbb090.png)

No such error when the filter is set to `INFO` but that could be due to the execution not reaching the flawed scenario due to having enough lower level log messages to fill the pag

[2021-08-09 05:50] wkurniawan07 commented on #11346
Interesting. So there could be a Throwable thrown with no stack trace at all.

[2021-08-09 08:38] xinyee20 commented on #11341
Fixed issue in https://github.com/TEAMMATES/teammates/pull/11342

[2021-08-09 08:39] xinyee20 commented on #11339
Fixed issue in https://github.com/TEAMMATES/teammates/pull/11340

[2021-08-09 08:39] xinyee20 commented on #11337
Fixed issue in https://github.com/TEAMMATES/teammates/pull/11338

[2021-08-09 08:50] wkurniawan07 opened #11348 "FeedbackSessionsDb: getFeedbackSessionEntitiesPossiblyNeedingPublishedEmail is not scalable"
https://github.com/TEAMMATES/teammates/blob/9ff54246670ac604869aee3cc22529937cfefbbc/src/main/java/teammates/storage/api/FeedbackSessionsDb.java#L377-L382

This query is prone to timeout and/or out-of-memory errors as it's querying the entire span of DB without any time limitation.

[2021-08-09 09:08] #4584 closed

[2021-08-09 09:08] #7283 closed

[2021-08-09 09:08] #9083 closed

[2021-08-09 09:08] #10677 closed

[2021-08-09 09:57] #11346 closed

[2021-08-09 09:57] #11348 closed

[2021-08-09 14:22] damithc commented on #11202
@halfwhole @t-cheepeng @AdithyaNarayan Let's fix this one and release this feature to users.

[2021-08-09 14:26] damithc opened #11351 "Release the results-view-tracking feature to users"
Currently, the feature that allows instructor to track who viewed session results can only be accessed through the `/instructor/track-result-view` URL.
We should expose this feature to users through the UI.

Add: Need to mark the features as "Beta" as they are known to not scale well. A search for 30 days taking about 3-4 minutes is faster than expected, but letting the user wait that long without

[2021-08-10 00:41] wkurniawan07 opened #11352 "Logging in does not preserve query parameters other than the first one"
Caused by the URL generated not properly encoding `&`; thus a link like:
[code]
which will be redirected to:
[code]
will be redirected to this link after logging in:
[code]
Because all other key-value params other than the first are wrongly considered as part of the login URL, not part of the next URL.

The correct generated URL which will not face the problem looks like:
[code]

[2021-08-10 02:17] Hamidou0 commented on #11147
Hi, I'll try resolving this, still open? @moziliar

[2021-08-10 03:55] #11352 closed

[2021-08-11 06:57] halfwhole opened #11354 "Empty results in instructor audit logs and results view tracking"
On the latest `master` branch, the results view tracking and audit logs features don't seem to be working for me on both staging and production, does anyone have the same issue? The results returned are all empty, even when I've viewed/submitted the feedback session.

![Screenshot 2021-08-11 at 2 44 44 PM](https://user-images.githubusercontent.com/41856541/128982939-593a931a-0d57-4a60-a249-e4e7b24

[2021-08-11 07:22] wkurniawan07 commented on #11354
Very likely my bad on this. It was me who attempted to streamline all log types after all.

[2021-08-11 11:07] #11354 closed

[2021-08-11 12:11] halfwhole commented on #11202
I haven't confirmed this yet, but it appears possible that different timezones can be used for the searching vs. displaying the log entries. For searching the logs, it guesses the timezone based on web browser's settings:

https://github.com/TEAMMATES/teammates/blob/2a4a02e52671dadc197dd5de74dc9452ee7c32df/src/web/services/timezone.service.ts#L90-L91

For displaying the logs, it makes use of the f

[2021-08-11 12:30] damithc commented on #11202
Thanks for looking into this @halfwhole

If this is the case, the severity is low as most likely these two will be the same. The reason I noticed it is because I was masquerading as a different instructor (hence, my browser time zone doesn't match with the session)

I guess it is better to use the session's time zone?

Need to fix that too, although that can be a different issue/PR.

[2021-08-11 14:48] wkurniawan07 opened #11356 "Support viewing only responses to/from themselves for instructors"
- **Environment**: live server at V8.0.2, but feature is absent since at least V6.0.0

**Description of feature/enhancement**

As part of https://github.com/TEAMMATES/teammates/projects/12

Support two distinct views for instructors:
- Viewing result only to/from themselves: can be easily lifted from student's result page with minor modifications.
- Viewing course-wide result: as per the current s

[2021-08-11 14:53] wkurniawan07 opened #11357 "Allow access to submission/results page for unregistered instructors"
- **Environment**: live server at V8.0.2, but feature is absent since at least V6.0.0

**Description of feature/enhancement**

As part of https://github.com/TEAMMATES/teammates/projects/12; to be done after #11356 and #11425

Allow instructors to access submission/results page without registration (i.e. only with key).

Note that this does not apply to course-wide results page; that page is correc

[2021-08-11 16:24] halfwhole opened #11360 "Instructor activity logs: time should be sorted by date order"
Page: `/web/instructor/logs`

The time should be sorted by date, but it is sorted in lexicographical order instead, leading to `Mon, 21 Jun...` coming before `Sun, 20 Jun...`

![](https://user-images.githubusercontent.com/1673303/122801738-166e1400-d2f7-11eb-9925-83615a0a2088.png)

[2021-08-12 00:52] moziliar commented on #11147
@Hamidou0 thank you for your help! If you need any help for your fix, do voice out.

[2021-08-12 04:58] rhit-namburs commented on #11235
Hi I would like to work on this issue.

[2021-08-12 05:00] rhit-namburs commented on #11295
Hi may I try and fix this issue!

[2021-08-12 05:03] rhit-namburs commented on #10623
Hi could I try and do this issue

[2021-08-12 07:20] arsatis commented on #11360
Hi, may I try to resolve this issue?

[2021-08-12 09:44] halfwhole commented on #11360
@arsatis sure, please go ahead

[2021-08-12 15:49] moziliar commented on #9117
@kumarav1nash it doesn't seem like anyone is working on the issue. Go ahead!

[2021-08-13 00:56] ypinhsuan commented on #11235
@rhit-namburs Hi please go ahead

[2021-08-13 01:06] ypinhsuan commented on #11295
@rhit-namburs Hi! There is already a PR for this issue, please look for another issue to work on.

[2021-08-13 09:22] ypinhsuan commented on #11235
@rhit-namburs Hi! Sorry I didn't realize there was an open PR for this issue earlier, please look for another issue to work on.

[2021-08-13 12:15] wkurniawan07 opened #11362 "Move institute field to Course object"
Current: `institute` is part of `Account` object.

Problems:
- One instructor/student account can be related to multiple institutes. Such use case is far from uncommon.
- When _only one_ institute is shown at the footer for users belonging to _multiple_ institutes, it becomes weird and counterproductive.
  - Quoting https://github.com/TEAMMATES/teammates/issues/10750#issuecomment-703387509: `In fa

[2021-08-13 14:31] wkurniawan07 opened #11364 "Track version of web front-end used to call APIs"
**Problem**

Stale browser cache from users is a problem frequently plaguing us.
- UI improvements/fixes are not transferred to users as they are using cached old version instead
- Old API endpoints that have been removed/modified keep getting mistakenly called or getting called in the wrong manner by the cached old version, resulting in 4XX errors and giving wrong impression that the system is no

[2021-08-13 15:01] ahmedabd1 commented on #11341
p.VeryLow

[2021-08-14 04:48] kumarav1nash commented on #9117
@damithc please review this code

[2021-08-14 05:00] damithc commented on #9117
@kumarav1nash if you have submitted a PR for this issue, that PR will go through our regular review process, which can take several days to complete.

[2021-08-14 05:11] kumarav1nash commented on #9117
ok

[2021-08-14 06:15] wkurniawan07 commented on #2719
@damithc after further examination, I'm not sure if this is worth doing. This feature (if it can even be called that) is far too situational to be useful.
- This necessitates all responses for a student to need to be fetched in one go. While we haven't hit a scale where that can hit performance issues, it is not to say that it would happen, and addition of this feature will make any kind of fetchi

[2021-08-14 06:35] wkurniawan07 opened #11367 "Create exception wrapper for 409 errors"
As mentioned in https://github.com/TEAMMATES/teammates/pull/11308#discussion_r688592572.

We have wrappers for common type of 4XX errors thrown by the API layer, which currently include 400, 403, 404, and 405. However, we do not have one for `409 Conflict` which can be thrown when an otherwise valid operation is made invalid due to external factors (e.g. trying to insert duplicate entry into the d

[2021-08-14 06:57] damithc commented on #2719
Thanks for looking into this @wkurniawan07
Let's drop this one then.

[2021-08-14 06:57] #2719 closed

[2021-08-15 01:36] #10823 closed

[2021-08-15 02:02] #10824 closed

[2021-08-15 02:25] #11244 closed

[2021-08-15 02:37] #10498 closed

[2021-08-15 03:39] #11202 closed

[2021-08-15 04:09] #11364 closed

[2021-08-16 05:31] #11367 closed

[2021-08-16 10:39] wkurniawan07 opened #11369 "Copying courses from another course: do not prematurely fetch list of sessions"
Current: The "Copy from previous courses" modal loads all sessions from all courses available to a user.

<img width="505" alt="Screenshot 2021-08-16 at 3 46 44 PM" src="https://user-images.githubusercontent.com/7261051/129550405-36b2e33d-083f-4083-b018-966de9d762b4.png">

Problem: It is unnecessary and most if not all of the time will be wasted effort, because the sessions are relevant only when

[2021-08-16 10:55] wkurniawan07 opened #11370 "Copying question from another session: optimize fetching of available questions"
Current: copying question requires fetching of all questions from all sessions available to a user.

<img width="1000" alt="Screenshot 2021-08-16 at 6 48 14 PM" src="https://user-images.githubusercontent.com/7261051/129552612-0a5d48e9-3a92-4817-923b-0eb697b2a7c5.png">

Problems:
- If the user has large number of sessions, this will introduce a burst of parallel API calls
- If the user knows exactl

[2021-08-16 12:12] wkurniawan07 opened #11371 "Instructor sample data: defer creation until instructor joins"
- **Environment**: V8.0.2, but problem exists since as far back as V6.0.0

**Description of feature/enhancement**

As discussed in https://github.com/TEAMMATES/teammates/issues/11243#issuecomment-898993617.

Only create instructor sample data when the instructor joins.

**Justification**

- If the requesting instructor never uses the system, no sample data is being wasted
- User can supply more in

[2021-08-16 12:13] wkurniawan07 commented on #11371
@samuelfangjw are you interested to work on this? This is a good issue that reaches many different aspects of the system, possibly including a new entity creation as well.

[2021-08-16 12:24] damithc commented on #11370
Most likely the user will know which session has the question(s) she wants to copy. Another alternative is to load the session names first as collapsed panels and let the user fetch questions by expanding the panel of the target session.

[2021-08-16 13:01] samuelfangjw commented on #11371
This sounds like fun, I'll give it a shot!

[2021-08-17 10:44] #11341 closed

[2021-08-17 12:15] wkurniawan07 opened #11372 "Add more system logs"
We need more logged items to get a better picture of the system health:
- Add tracing and logs for `3XX`-resulting pages: `/login`, `/logout`, `/oauth2callback`, and legacy page requests `/page/*` (which surprisingly still have quite a lot of visits!)
  - OAuth callbacks have a somewhat high error rate in the past week, but the reason is unknown as it is currently not logged
- Add `instanceId` to

[2021-08-17 12:28] wkurniawan07 opened #11374 "Encryption key should be rotate-able"
Currently, the encryption key is tightly coupled to the system usage and cannot be changed/rotated without affecting users. This (inability to rotate the encryption key) is not a good security practice.

We need to adapt our practices such that the encryption key can be easily changed/rotated when needed. Based on what will happen if the encryption key is changed:
- [ ] Encrypted registration key

[2021-08-17 12:34] wkurniawan07 opened #11375 "Registration keys should be encrypted only before inserted into DB"
Current: Student and instructor registration keys are encrypted/decrypted on the go, just before passing to the API/logic layer from the logic/API layer and just before inserting into URLs pasted in emails.

Problem:
- This caused the key used for encryption to be coupled to the users and cannot be changed/rotated without affecting users (see #11374)
- (not necessarily a problem, but worth a menti

[2021-08-17 15:02] josiahkhoo commented on #8011
Hello, is it okay if I work on this issue? 😀

[2021-08-17 15:21] xinyee20 commented on #11162
Hi can I try working on this?

[2021-08-17 15:43] daongochieu2810 commented on #8011
@josiahkhoo sure please go ahead

[2021-08-17 16:01] daongochieu2810 commented on #6690
@wkurniawan07 this seems to be quite old, what should we do with this issue?

[2021-08-18 03:41] #11337 closed

[2021-08-18 14:31] moziliar commented on #11162
@xinyee20 sure! Feel free to pick it up.

[2021-08-18 14:36] moziliar commented on #8011
@daongochieu2810 @josiahkhoo I have a feeling this is pretty involved a topic, bearing in mind that we didn't proceed with the fix last semester due to the need to refactor the cascading deletion (per entity). Perhaps we can discuss more here first?

This might interest you @rrtheonlyone

[2021-08-19 05:20] #11339 closed

[2021-08-19 13:09] wkurniawan07 commented on #11372
Reopening with more items to do:
- Add HTTP referrer to the request logs so the source of the request can be traced
- For exception stack trace, the source location should be the first _internal_ class (i.e. class vendored by ourselves) rather than just the first class (e.g. for arraylist out of bounds, the first class would be from `java.util.ArrayList`, which is not helpful in grouping where the

[2021-08-21 07:32] A-GHOSH-dev commented on #11270
Is this issue solved? Or can I work on it?

[2021-08-21 07:34] A-GHOSH-dev commented on #11236
I would like to work on this issue.

[2021-08-21 07:36] A-GHOSH-dev commented on #8607
I would like to work on this.

[2021-08-21 07:37] A-GHOSH-dev commented on #8769
I think this PR is closed now, Can I contribute?

[2021-08-21 07:38] A-GHOSH-dev commented on #11147
Can I contribute in this ? Please let me know

[2021-08-21 11:06] #11372 closed

[2021-08-21 11:30] #11270 closed

[2021-08-21 13:41] halfwhole commented on #11236
@A-GHOSH-dev please go ahead, no worries

[2021-08-21 17:03] #11327 closed

[2021-08-21 17:45] #11260 closed

[2021-08-21 17:46] wkurniawan07 commented on #6690
@daongochieu2810 sorry I forgot to reply. I already have a full-blown plan for this; the task list in the issue description was only added last week.

[2021-08-21 18:34] #11254 closed

[2021-08-21 20:35] #11219 closed

[2021-08-21 23:08] Hamidou0 commented on #11147
@A-GHOSH-dev hello, Im getting caught up with work if you can go for it

[2021-08-22 02:11] t-cheepeng commented on #8769
@A-GHOSH-dev Hi, you can go ahead and contribute to this issue

[2021-08-22 02:13] t-cheepeng commented on #8607
@A-GHOSH-dev Hi, I see that you have multiple issues that you have taken up. Please complete the other issues first before coming back and requesting to work on this. Thanks

[2021-08-22 03:48] damithc commented on #8769
@A-GHOSH-dev if you create a PR for this, also consider starting with the code from #8769 as substantial amount of work has been done in thee already

[2021-08-22 05:49] wkurniawan07 opened #11381 "Add build.properties flag to indicate whether dev server login page should be enabled"
Current:
- Dev server login page is included if the condition `Config.isDevServer()` is true.
- `Config.isDevServer()` makes use of environment variables set by GAE to determine whether it is dev environment or not.

Problems:
Because it relies entirely on the environment variables that are set by GAE, there is very little window of time to react if GAE suddenly changes their implementation; the m

[2021-08-22 06:24] #9559 closed

[2021-08-22 06:25] #9560 closed

[2021-08-22 07:33] ChooJeremy opened #11383 "Improve Workflow Automation"
**Project**
[Automation Hero](https://github.com/TEAMMATES/teammates/wiki/Automation-Hero)

**Description of feature/enhancement**
We would like to add some automation for PRs and Issues so they do not have to be manually handled

**Justification**

Ideally, less admin work required and quicker responses to issues and PRs by the core team.

**Existing similar features and their shortcomings**

Man

[2021-08-22 10:11] TomKemperNL opened #11385 "Docker Compose sometimes failing on Windows because of line-endings"
When building the project on windows, depending on git-settings the docker Solr container can fail:

[code]

This is because the current line-ending of the solr/solr.sh file is left up to git, but it -has- to be LF since it's going to run on a linux-container.

Adding *.sh text eol=lf to the .gitattributes fixes this and removes this minor nag in getting the project to run on windows.

[2021-08-22 11:14] xinyee20 opened #11387 "Help Request: Cannot access logged in zone of TEAMMATES"
- **Operating System:** Windows 10 64-bit operating system
- **JDK Version:** 11.0.6
- **Node.js Version:** 14.17.4
- **Firefox / Chrome Version (if applicable):** 92.0.4515.159 (Windows)

**What I was trying to do / What I need help with**
I have been trying to access the instructor logged in zone of TEAMMATES through `http://localhost:8080` so that I can understand the issue that I am trying to

[2021-08-22 13:13] #11369 closed

[2021-08-22 13:59] xinyee20 commented on #11387
Managed to resolve this issue:
I tried logging out and logging back in then it prompted me to log in so I could log in as an admin. I click the upper right hand corner to access the add instructor page and I managed to get into the instructor page.

[2021-08-22 13:59] #11387 closed

[2021-08-22 14:24] moziliar commented on #11387
Thanks for the investigation. You can actually see the backend input and see what went wrong.

From what I see in your attempts, you didn't quite start the datastore emulator (can be started natively I believe; but docker-compose is the recommended way), and hence the default admin info cannot be written into it for login use.

[2021-08-22 14:31] wkurniawan07 commented on #11387
@moziliar admin info is not persisted to DB.

What actually happened:
https://github.com/TEAMMATES/teammates/blob/33eaddd39fda83c634136747f5b4dce3f6c1a1c4/src/web/app/pages-admin/admin-page.component.ts#L61-L67
Although that comment (`the /web/admin/* routing is protected`) is no longer true.

[2021-08-22 14:39] moziliar commented on #11387
Ah I see. @wkurniawan07 My assumption is wrong here. Thanks for the correction.

[2021-08-23 02:11] moziliar commented on #11370
@daongochieu2810 let's take a look?

[2021-08-23 05:19] daongochieu2810 commented on #11370
@moziliar I think prof @damithc 's suggestion works, should we proceed with that?

[2021-08-23 07:32] moziliar commented on #11370
@daongochieu2810 sounds good, also good from the UX's POV.

[2021-08-23 14:27] #11381 closed

[2021-08-23 14:36] wkurniawan07 opened #11388 "Remove numOf* fields from question details structure"
https://github.com/TEAMMATES/teammates/blob/1ae8c57f005c74b8b596b19c7d8cf164d145d5ee/src/main/java/teammates/common/datatransfer/questions/FeedbackRubricQuestionDetails.java#L33-L36

https://github.com/TEAMMATES/teammates/blob/1ae8c57f005c74b8b596b19c7d8cf164d145d5ee/src/main/java/teammates/common/datatransfer/questions/FeedbackMcqQuestionDetails.java#L30-L31

https://github.com/TEAMMATES/teammate

[2021-08-23 14:48] wkurniawan07 opened #11389 "Refactor user join page operation order"
https://github.com/TEAMMATES/teammates/blob/1ae8c57f005c74b8b596b19c7d8cf164d145d5ee/src/web/app/user-join-page.component.ts#L52-L76

Current: In join page, when determining if the page is accessible, `this.courseService.getJoinCourseStatus` is first called and logged in user info is retrieved (`this.authService.getAuthUser`) upon `403` error.

Problem: While it works, it is not the best way as it

[2021-08-23 15:10] #9117 closed

[2021-08-24 03:36] madanalogy opened #11390 "Release V8.1.0"
Scheduled for Tuesday, Aug 24, 2021, 12.00pm SGT.

Release Lead:

- [ ] Tagged the latest stable release code with the latest version number
- [ ] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2021-08-24 03:51] madanalogy commented on #11390
[V8.1.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.1.0) has been released by @madanalogy at August 24th, 2021, 11.49am SGT.

Code contributions from: @Jellybeano, @arsatis, @daongochieu2810, @ericluoliu, @halfwhole, @hhdqirui, @josflesan, @josiahkhoo, @kumarav1nash, @lyeyixian, @tjtanjin, @wkurniawan07, @xinyee20, @xyzhang00
Review contributions from: @ChooJeremy, @ccyccyccy, @damithc

[2021-08-24 10:37] damithc commented on #11390
Deployed and released. Thanks to all who contributed 💯

[2021-08-24 12:29] wkurniawan07 commented on #11390
@damithc as per #11382 you probably would want to add this line in `build.properties`:
[code]
While [GAE abruptly changing their environment variables] unlikely to happen (in a short time) we should not take chances when it comes to security.

[2021-08-24 12:35] damithc commented on #11390
Will do so now. Thx for the heads up @wkurniawan07

[2021-08-25 02:03] wkurniawan07 opened #11392 "Instructor help page, sessions section: use existing components to build example boxes"
Current: the following example boxes in the instructor help page (coincidentally or not, all are from Sessions section) are still hard-coding the contents instead of reusing existing components like how other example boxes do.

https://github.com/TEAMMATES/teammates/blob/e9a14de53c18434435280426047e1c51a08f0005/src/web/app/pages-help/instructor-help-page/instructor-help-sessions-section/instructor

[2021-08-25 07:57] singhsiddharth10 commented on #11388
I want to take this issue.

[2021-08-25 08:02] t-cheepeng commented on #11388
@singhsiddharth10 Hi, you are welcome to take up the issue

[2021-08-25 08:09] singhsiddharth10 commented on #11388
@wkurniawan07 Only these 3 files contains numOf* fields or any other files also contain these fields ?

[2021-08-25 08:29] singhsiddharth10 commented on #11388
@t-cheepeng, As my laptop is hardened I won't be able to setup this project locally on my system. So, I won't be able to take up this issue. Sorry for the inconvenience.

[2021-08-25 16:19] thefreakingmind commented on #11388
Can I take this issue?

[2021-08-25 16:30] moziliar commented on #11388
@thefreakingmind sure, go ahead!

[2021-08-29 12:21] thefreakingmind commented on #11388
Solved https://github.com/TEAMMATES/teammates/pull/11397 Changed the Java Files not sure about frontend. Will check it once.

[2021-08-30 05:06] damithc commented on #11362
Done. 35K courses migrated.

[2021-08-30 15:24] shubham-singh-748 commented on #11295
Hey may i contribute

[2021-08-31 15:15] daongochieu2810 commented on #11295
@shubham-singh-748 there is an open PR for this issue, please look for another issue, thanks

[2021-08-31 16:00] damithc commented on #11375
Both done.

[2021-09-01 15:23] damithc opened #11402 "Submission status stays as pending for team submissions"
Reported by a student.
Scenario: All questions in the session are team submissions (i.e., any team member can submit on behalf of the team).
Problem: After a student submit on behalf of the team, the status is still shown as pending, even for the student who submitted.

![image](https://user-images.githubusercontent.com/1673303/131697671-7bc74bab-0e8f-44d6-a5ea-1e3b7397430f.png)

Expected: After o

[2021-09-02 14:15] damithc commented on #11402
This might affect submission reminders too. Other members should not receive reminders if one member has submitted already.

[2021-09-02 19:25] ipsitagoel commented on #11150
Is this issue available to work upon?

[2021-09-03 18:32] hhdqirui commented on #11150
@ipsitagoel hi, thank you for your interest. This issue is currently available. Feel free to work on this issue.

[2021-09-03 23:16] nirikawa opened #11404 "Help Request: [Dev Server stuck on 85% with 403 error]"
- **Commit SHA:** c138e14e197bc3e138811b9634e90a74aac27aa2
- **Operating System:** Windows 10
- **JDK Version:** 11.0.12
- **Node.js Version:** 14.16.1
- **Chrome Version (if applicable):** 93.0.4577.63

**What I was trying to do / What I need help with**
I am trying to get the dev server running so I can run the E2E tests, but I am having trouble.  It stays at 85% EXECUTING forever.
![image](http

[2021-09-04 06:18] wkurniawan07 opened #11405 "Remove code tailored for legacy feedback session logging"
https://github.com/TEAMMATES/teammates/blob/c138e14e197bc3e138811b9634e90a74aac27aa2/src/main/java/teammates/logic/core/GoogleCloudLoggingService.java#L201-L224

This is no longer necessary as a more streamlined structured logging has been implemented and has been deployed for close to 30 days now, and will be over 30 days by the time the next version is released.

[2021-09-04 14:26] wkurniawan07 commented on #9168
@damithc new version that fixed one half of the problem is up, along with script to be run `DataMigrationForFeedbackSessionMismatchedTimezone`.

[2021-09-05 01:41] t-cheepeng commented on #11404
@nirikawa If you are running `serverRun`, the dev server should run forever until you stop it. Try to access it using the front end: https://github.com/TEAMMATES/teammates/blob/master/docs/development.md

[2021-09-05 05:16] damithc commented on #9168
@wkurniawan07 I've deployed v8.1.1
Should I run the migration script now?

[2021-09-05 06:11] damithc opened #11408 "Instructor moderating responses: open in a new tab"
Scenario:
An instructor is viewing results of a session and clicks on the 'Moderate responses' button. e.g.,
![image](https://user-images.githubusercontent.com/1673303/132117249-6be03e1b-b03c-459e-b00c-d8c5da3d68dd.png)

Current: The submission page opens in the current tab
Suggest: Open it in a new tab (?)
Reason: That page doesn't have a top menu bar. I think it's meant to open as a separate tab

[2021-09-05 07:43] wkurniawan07 opened #11409 "Unstable snapshot test due to actual timezone information used"
https://github.com/TEAMMATES/teammates/blob/c138e14e197bc3e138811b9634e90a74aac27aa2/src/web/app/components/copy-course-modal/__snapshots__/copy-course-modal.component.spec.ts.snap#L97-L147

This snapshot test is making use of actual timezone information, which is prone to failures when timezone information changes. (e.g. just a few hours back Chile's clock sprang forward)

[2021-09-05 08:07] #11409 closed

[2021-09-05 08:31] #6690 closed

[2021-09-05 08:48] wkurniawan07 commented on #9168
The sooner the better. Although there shouldn't be sessions affected other than demo sessions.

[2021-09-05 08:57] #9645 closed

[2021-09-05 12:08] darkalok commented on #11388
Hello, I want to take this issue. I am new to open source development. So, I want to start with something simple. If this issue is closed , can you assign me another issue for a beginner to start with.

[2021-09-05 12:20] moziliar commented on #11388
@darkalok Hi, this issue is still being worked on by a developer.

You can look for any issues with the label "good first issue" to start! They are beginner-friendly and our maintainers would be happy to guide you to completion.

[2021-09-05 12:23] darkalok commented on #11388
Should , I take this issue or some other . Please guide . I will give my
best.

On Sun, 5 Sep 2021, 5:50 pm Mo Zongran, ***@***.***> wrote:

[2021-09-05 12:32] moziliar commented on #11388
@darkalok you should look for another issue while this issue is being worked on by another developer.

[2021-09-05 12:47] darkalok commented on #11388
Thanks, I'll check it out.

On Sun, 5 Sep 2021, 6:02 pm Mo Zongran, ***@***.***> wrote:

[2021-09-05 12:55] damithc commented on #9168
@wkurniawan07 Migration completed.

[2021-09-05 16:17] arsatis commented on #11408
I would like to work on this issue!

[2021-09-05 16:41] shubham-singh-748 commented on #11388
Hey can you please refer me these type type of projects?
please....

[2021-09-05 18:12] nirikawa commented on #11404
Yes the backend does seem to be functional through using the front end, but almost all of the E2E tests fail. I assumed this was due to this problem because in the instructions to set up the back end, it says "To start the server in the background, run the following command and wait until the task exits with a BUILD SUCCESSFUL," so is the stuck at 85% working as intended?

[2021-09-06 04:38] damithc commented on #11408
@arsatis Go ahead.

[2021-09-06 05:18] #11404 closed

[2021-09-06 15:43] jianhandev commented on #11388
@shubham-singh-748 if you are new to the project look for issues tagged with `good first issue` they are usually more beginner-friendly, look forward to your contribution!

<img width="303" alt="Screenshot 2021-09-06 at 11 41 26 PM" src="https://user-images.githubusercontent.com/59337195/132240448-957c6f43-2c63-41f9-9d53-31c753d5b237.png">

[2021-09-06 18:12] xinyee20 commented on #11392
Hi, can I try working on this?

[2021-09-07 02:03] wkurniawan07 commented on #11392
@xinyee20 you're very welcome to

[2021-09-07 04:51] damithc opened #11412 "'copy from previous feedback sessions' copy an empty session"
v8.1.1
Reported by a user.

Steps:
1. Go to instructor home page
2. Go to 'add' sessions option of a course
   ![image](https://user-images.githubusercontent.com/1673303/132285816-10f926f8-beab-4a52-b160-a8983cdfb810.png)

3. Try to copy a session using this button.
   ![image](https://user-images.githubusercontent.com/1673303/132285867-efe27ed8-8d50-4144-a67f-5030210dd603.png)

Problem: The sessi

[2021-09-07 16:12] xinyee20 commented on #11412
Hi, I tried reproducing the above using the sessions available in `http://localhost:4200/web/instructor/home` and there are questions generated in all my attempts so I'm slightly confused
![#11412](https://user-images.githubusercontent.com/63994179/132377209-be8b6fbd-321f-4c0b-b504-4fc7968a5343.gif)

[2021-09-07 16:38] wkurniawan07 commented on #11412
@damithc this problem is not well-defined. Are the sessions copied in the first attempt (from sessions page) and the second attempt (from home page) the same session?

[2021-09-08 03:20] damithc commented on #11412
Yes, I tried this for the same session (using my own live data) -- one method of copying works but not the other.

[2021-09-08 03:25] damithc commented on #11412
Update: The feature in concern (i.e., 'copy from previous feedback sessions') also works if copying a session within the _same_ course, but fails to copy questions when copying over a session from a different course.

[2021-09-08 03:26] damithc commented on #11412
@xinyee20 this is probably why you couldn't reproduce the error. Can you try copying a session from a different course?

[2021-09-10 05:40] Ronald-patrick commented on #11150
I would like to work on this issue. Its already assigned, or else you can assign it to me.

[2021-09-10 14:17] shubham-singh-748 commented on #11388
Hey, can i take this issue?

[2021-09-10 15:32] xinyee20 commented on #11412
ah yes, I manage to face the same issue of the questions missing when I try to copy a session from a different course, let me try and see if I can fix it.

[2021-09-11 02:59] hhdqirui commented on #11150
@ipsitagoel hi are you currently working on this issue? If not then we will let others who are interested to work on it.

[2021-09-11 03:05] hhdqirui commented on #11388
@shubham-singh-748 hi, thank you for being interested in this issue. However, this issue is currently being worked by another developer. You can look for another issue to work on. To check whether an issue is being worked on or not, you can check the comment history to see whether there is an open PR that fixes this issue.

[2021-09-12 03:15] damithc opened #11414 "Student viewing results: show an explanation when there is nothing to see"
Scenario: a student is viewing results but there is nothing for the student to see (e.g., no one has submitted responses  -- this can happen if the session is opened and published at the same time, or due to an instructor mistake)

![image](https://user-images.githubusercontent.com/1673303/132970587-4e999496-74fa-4356-b805-406c7f14a23c.png)

Suggested: show an explanatory message rather than an em

[2021-09-12 03:32] damithc opened #11415 "Server error when tracking view results"
Feature accessed via `/instructor/track-result-view`

What I see when I tried it on an actual session that has been published

![image](https://user-images.githubusercontent.com/1673303/132970997-6d001ab3-4dba-4fec-ac45-0241a80171c2.png)

Error in the log

![image](https://user-images.githubusercontent.com/1673303/132971068-b5363418-8f40-4006-971c-90d415383c5e.png)

Let me know if you need more in

[2021-09-12 05:42] wkurniawan07 commented on #11415
Not reproducible and the log shown up there has nothing to do with this

[2021-09-12 05:52] wkurniawan07 commented on #11351
@damithc remind me again, why do we have to split the tracking pages for access + submission and viewing results, when they are doing almost the exact same thing?

[2021-09-12 06:06] damithc commented on #11415
Happened for my course as well as for another course when I masqueraded as another user.  That's when I reported the problem.

I tried with a different course just now and it worked. However, CS2103 is still showing a server error as before, AND the stale results from the previous search shows up as well (I guess that's a different bug?)

![image](https://user-images.githubusercontent.com/1673303/

[2021-09-12 06:13] damithc commented on #11415
@wkurniawan07 I gave you instructor access to the course in concern. See if you can repro the error on your side.

[2021-09-12 06:18] damithc commented on #11351
The use cases are a bit different. For submission/access, it's usually to verify if a student's claim that s/he submitted, or tried to submit. Results viewing is if the instructor is interested to find out who didn't even bothered to look at the results. The UI can provide a common entry point for both but we probably need two different UIs for the two use cases.

[2021-09-12 06:24] wkurniawan07 commented on #11351
I can switch the actions in the two sentences and they're still valid use cases.

[2021-09-12 06:38] damithc commented on #11351
Valid? yes. Needed? questionable.

* "who didn't bother to submit?" is already catered for by the results page, reminders etc.
* I haven't faced a case where student claimed s/he viewed the results and I had to go and verify it. Even if I had to, it's unlikely I'll be interested in exact timing and how many times -- just yes/no only.

[2021-09-12 08:31] #11374 closed

[2021-09-12 08:31] #11375 closed

[2021-09-12 08:36] wkurniawan07 opened #11416 "Remove student last name field"
https://github.com/TEAMMATES/teammates/blob/4054fef43227e005ae673a3e0e43b4aae2fd358a/src/main/java/teammates/storage/entity/CourseStudent.java#L133-L157

The "last name" feature has no visible usage in a long time and is not well-documented. One could even argue that they're not well-designed (in terms of usability).

[2021-09-12 08:36] Jellybeano commented on #11414
hi could i try working on this?

[2021-09-12 14:56] halfwhole commented on #11414
@Jellybeano sure please go ahead!

[2021-09-13 13:01] xinyee20 opened #11419 "Errors faced when trying to run http://localhost:4200/"
Seeking advice on what I should do to get localhost:4200 running again, should I add in Institute to Courses? Am I allowed to alter the types? Is there any other way around? Is anyone else facing the same issue?

**What I was trying to do / What I need help with**
On masters branch, with no edits done, I ran `npm run start` and face the errors shown below:

![image](https://user-images.githubuserc

[2021-09-13 13:16] brockjenken commented on #11389
Hi! Could I work on this?

[2021-09-13 15:05] jianhandev commented on #11389
@brockjenken yes please go ahead.

[2021-09-13 15:13] jianhandev commented on #11419
Hi @xinyee20 the `Course` object is recently changed to include the `institute` field, you can find more information here (https://github.com/TEAMMATES/teammates/pull/11363). I believe to fix those errors you should update your local master branch with these latest changes first, and then run `./gradlew generateTypes` once again.

[2021-09-13 16:22] wkurniawan07 commented on #11416
@damithc do you still want to display the last name in the downloaded CSVs (student list, feedback responses), for whatever reason?

For me I don't see the value add because if the last name is always hard-coded as the last word of the name, it's no longer accurate for all names in the world.

[2021-09-14 03:10] damithc commented on #11416
@wkurniawan07 we can remove it.

[2021-09-14 13:21] xinyee20 commented on #11419
Ahh I see, thank you very much for the help! :smile:

[2021-09-14 13:21] #11419 closed

[2021-09-19 14:46] #11416 closed

[2021-09-19 15:57] damithc commented on #11412
Thanks for confirming @xinyee20

[2021-09-19 23:28] wkurniawan07 opened #11425 "Admin: allow resetting instructor registration key"
- **Environment**: live server at V8.1.1, but feature is absent since at least V6.0.0

**Description of feature/enhancement**

Ability for instructor's registration key to be reset by admin, upon request.

**Justification**

This is the equivalent of "reset password" in the system, which is a critical feature from a security point of view.

While the need for such feature for instructors is very l

[2021-09-20 13:35] wkurniawan07 opened #11426 "Instructor who created course is not searchable"
- **Environment**: live server at V8.1.1, but issue existed since V8.0.0

**Steps to reproduce**

1. As an existing instructor, create a new course
1. As the admin, search for the newly created instructor in the newly created course

**Expected behaviour**

The instructor is searchable.

**Actual behaviour**

The instructor is not searchable.

**Additional info**

Cause: the newly created instruct

[2021-09-20 16:26] #11426 closed

[2021-09-21 08:34] Cvenkey opened #11428 "Spring Boot Thymeleaf Error"
Hi there,

We migrated spring boot from 1.5 to 2.3.4 there thymeleaf throwing error like below, can you suggest any thing, before migration flow happening well and good.

java.lang.IllegalArgumentException: Attribute name cannot be null or empty
	at org.thymeleaf.engine.AttributeName.<init>(AttributeName.java:51) ~[thymeleaf-3.0.11.RELEASE.jar:3.0.11.RELEASE]
	at org.thymeleaf.engine.HTMLAttribute

[2021-09-21 15:02] jianhandev commented on #11428
Hi may I know what are you trying to achieve here?

[2021-09-22 02:53] jianhandev commented on #11414
Closing this issue as it seems to be a duplicate of #11169.

[2021-09-22 02:53] #11414 closed

[2021-09-23 17:04] wkurniawan07 commented on #11428
@Cvenkey you probably opened the issue in the wrong repo. This repo has nothing to do with Spring Boot or Thymeleaf.

[2021-09-23 17:04] #11428 closed

[2021-09-24 17:40] #11231 closed

[2021-09-24 17:40] #11405 closed

[2021-09-25 11:56] #11169 closed

[2021-09-25 12:02] msaini0r commented on #11236
@halfwhole can you help in solving this issue. I have just started working in open source.

[2021-09-25 13:07] #11412 closed

[2021-09-25 14:31] #11408 closed

[2021-09-25 16:08] halfwhole commented on #11236
Hi @msaini0r, if you'd like to contribute to resolving this issue, please do follow the guidelines at our [developer docs](https://github.com/TEAMMATES/teammates/blob/master/docs/README.md), especially how to set up the environment, the development guideline, and the contributing process/workflow. Thanks!

[2021-09-26 02:28] madanalogy opened #11431 "Release V8.2.0"
Scheduled for Sunday, 26 Sep 2021.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-09-26 02:52] madanalogy commented on #11431
[V8.2.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.2.0) has been released by @madanalogy at September 26th, 2021, 10.49am SGT.

Code contributions from: @TomKemperNL, @arsatis, @jianhandev, @josiahkhoo, @lyeyixian, @pPris, @wkurniawan07
Review contributions from: @damithc, @daongochieu2810, @jianhandev, @madanalogy, @rrtheonlyone, @t-cheepeng, @wkurniawan07, @ypinhsuan

Ready for post

[2021-09-26 04:40] damithc commented on #11431
Deployed and released. Thanks to everyone who contributed to this milestone 💯

[2021-09-26 04:40] #11431 closed

[2021-09-27 17:13] Ln11211 commented on #11236
hello,
I am Ln and I think I understand this issue as I have done something previously too when I was learning Java, is this issue closed or is someone still working on it ?, can I please work on it ?
thank you.

[2021-09-27 17:50] Ln11211 commented on #11236
Hello, can someone point the location of the file ?, is it in web/apps/pages-instructor ?

[2021-09-27 18:23] msaini0r commented on #11236
I hope so..because I have myself tried to solve the issue in
web/apps/page-instructor. But i am not sure about it. Try asking halfwhole.

On Mon, 27 Sep, 2021, 11:20 pm Ln11211, ***@***.***> wrote:

[2021-09-28 03:57] damithc opened #11432 "Admin -> manage accounts: HTTP parameter is null"
v8.2.0 production version

Steps:
1. Login as admin
2. Search for an instructor
3. Click on 'Manage account' in one of the instructors
   ![image](https://user-images.githubusercontent.com/1673303/135020839-cf1b3cd1-150d-48e4-9409-6ba3d1f218ee.png)

Problem:
![image](https://user-images.githubusercontent.com/1673303/135020902-470fcf6b-63eb-4325-b1a3-c954169eafc0.png)

[2021-09-28 15:36] jianhandev commented on #11432
Seems like this problem occurs when the instructor's google ID is reset.

[2021-09-28 15:41] damithc commented on #11432
@jianhandev Oh, you mean if the Google ID was changed using the SingleAccountGoogleIdMigrationScript?

[2021-09-28 15:45] wkurniawan07 commented on #11432
@damithc the instructor is unregistered. Without an existing account, "Manage account" loses its meaning entirely.

[2021-09-28 15:55] Ln11211 commented on #11236
well, @msaini0r did you have any good start ?, well I have also searched all date picker files and I haven't had any success..., maybe @halfwhole will know...

[2021-09-28 15:55] Ln11211 commented on #11236
@halfwhole, can you please help me with locating the file ?

[2021-09-28 15:58] jianhandev commented on #11236
@halfwhole trying to reproduce that error, but I'm getting an error message of `End timestamp should be more than zero` instead when an invalid date is entered.
<img width="1439" alt="Screenshot 2021-09-28 at 11 53 42 PM" src="https://user-images.githubusercontent.com/59337195/135122271-37c39a46-0087-4990-b4ed-724ae3c5d9a3.png">

[2021-09-28 16:08] Ln11211 commented on #8769
hello, is this issue still open for contribution ?, if yes, where can I start ?

[2021-09-28 16:10] Ln11211 commented on #11236
@jianhandev , can you please tell me how to reproduce this error ? I just want to learn

[2021-09-28 16:17] damithc commented on #11432
Ah I see. Makes sense. Can we tweak the feature to let the admin remove the account of an unregistered instructor? This situation arose specifically from such a case: a user wrote back asking us to remove her from TEAMMATES after realizing she needs to use a Google account to login.

[2021-09-28 16:20] Ln11211 commented on #11236
what html file is that ?

[2021-09-28 16:42] wkurniawan07 commented on #11432
There is a terminology mismatch here. "Account" is always a Google account. If you're looking for removing unregistered student/instructor (we cannot say "account"), it is a feature that does not exist, but cannot and should not be mixed up with the existing "account management".

[2021-09-29 01:48] damithc commented on #11432
Sure, we can use a different term for that. e.g., a different button to remove such unregistered instructors. Let me create a separate issue for that.

[2021-09-29 01:48] #11432 closed

[2021-09-29 01:54] damithc opened #11433 "Admin: Give a way to remove unregistered instructors and their data"
Suggestion: Give a way to remove unregistered instructors.
Reason: Some people can request for a TEAMMATES account and change their mind after receiving the join link. We want to be able to remove such people from the system entirely (i.e., any data entities created for them should be removed).

[2021-09-29 11:58] Novmbrain commented on #11388
@moziliar Hello，could I take this issue？

[2021-09-29 14:22] moziliar commented on #11388
@Novmbrain sure! Go ahead.

[2021-09-29 16:12] daongochieu2810 commented on #11236
@Ln11211 To navigate around the codebase for this issue, I suggest you use  the search feature of your IDE e.g if you are using IntelliJ, you can use Ctrl + Shift + F, and search for `End timestamp should be more than zero` (the error message shown above) and see what is displaying the message. For the html page itself, you can see the text on the page, and search it as well. Let me know if it wor

[2021-09-29 16:18] daongochieu2810 commented on #8769
@Ln11211 In IntelliJ, you can use Ctrl + Shift + N to search for a file. The issue asks us to add more questions into `instructorHelp.jsp`, so lets search for that file, see how the current questions were added, and add new questions specified in the issue. Rmb to look at #11049 so you dont have to start from scratch

[2021-09-30 03:33] Ln11211 commented on #11236
@daongochieu2810,Yessssss it works!!!, thank you so much, all these days I have been searching for the file rather than searching for the message itself, well, I was wondering how can I reproduce this issue locally ?

[2021-09-30 03:41] Ln11211 commented on #11236
well, 0NAN is the error of invalid dates, I guess someone changed the text to "Start timestamp should be more than zero", well what if we change it to "Start timestamp should be more than zero and less than thirty one at the most !, please enter a valid date" .....

[2021-09-30 03:54] damithc commented on #11236
In the production server, I get this error when I enter 33 as the date for the 'make response visible':
![image](https://user-images.githubusercontent.com/1673303/135384354-a1a1017c-3aca-47a7-a536-8574b56cf269.png)

[2021-10-01 03:22] damithc opened #11435 "Error reported by SingleAccountGoogleIdMigrationScript"
v8.2.0, live server

I noticed SingleAccountGoogleIdMigrationScript reports an error when I (as admin) run it to change the Google ID of an account. Although the account ID change seem to succeed nevertheless.

[code]

[2021-10-01 21:09] RubyCodesYT commented on #11362
May I please work on this issue?

[2021-10-03 09:11] hhdqirui commented on #11362
Hi @RubyCodesYT, thank you for your interest in this project. This issue is already assigned to one of our developers. Please look for another issue to work on. Thank you!

[2021-10-04 17:05] Shubhojeetban commented on #11388
Is this assigned to anyone or can I just take it?

[2021-10-05 11:39] daongochieu2810 commented on #11433
@damithc Should we give the link sender this feature, or just the admin?

[2021-10-05 12:21] damithc commented on #11433
I think it's enough to give this feature to the admin, for now.

[2021-10-05 12:42] daongochieu2810 commented on #11433
![Screenshot from 2021-10-05 20-34-59](https://user-images.githubusercontent.com/53283766/136024532-89a1105a-fd1b-4b65-8613-4c405bec82f3.png)
Can we place the UI in the homepage like this

[2021-10-05 13:08] damithc commented on #11433
@daongochieu2810 this is more for specific cases (if a person requests their data to be deleted). So, no need to list all. Perhaps add a button to search results, given searching for the instructor is likely to be the step that comes just before?

![image](https://user-images.githubusercontent.com/1673303/136028897-464ba644-0416-4e1e-b624-4f9fbaee98d2.png)

[2021-10-05 15:44] daongochieu2810 commented on #11433
@jianhandev I agree with the suggestion

[2021-10-05 15:50] damithc commented on #11433
Yup that could work. Might need it for the student results too, as we also create a demo student instance using the new instructor's email address (unless we delay the demo course creation until the instructor has registered -- I remember there was some discussion about moving in that direction)

[2021-10-05 16:11] daongochieu2810 commented on #11433
@damithc I think we need to create another issue for removing students, and discuss there

[2021-10-06 03:10] damithc commented on #11433
I think both are possible.
1. X asks for an account, changes mind later, and asks to be removed.
2. Y is added to a course by someone and wants to be removed.

However, we already have two ways to handle the second case:
1. Ask the course owner to remove the instructor
2. Masquerade as the course owner to remove the instructor

So, we can focus on the first case only.

[2021-10-06 15:08] damithc opened #11438 "Instructor sending reminders for a session: don't list instructors if there are no questions for instructors"
Scenario:
1. Instructor clicks the `Remind` button of a session (from the home page)
2. Instructor selects herself from the list of instructors provided at the bottom of the modal and tries to send herself a reminder (e.g., to check if reminder function is working)
3. If the session doesn't have any questions for instructors to answer, there will be no email. This can be misleading as the instruct

[2021-10-08 02:31] jianhandev commented on #11388
Hi @Olya-Grygorian this issue is already taken by @Shubhojeetban, you may try other issues tagged with `good first issue`.

[2021-10-08 17:54] lidianycs opened #11439 "Translation of documentation for developers"
Translation of documentation for developers to Portuguese (pt-br)

- **Environment**:
- teammates/docs/

**Description of feature/enhancement**
Translation of documentation for developers to Portuguese (pt-br).
If accepted, I would like to know where I could add the translation.

**Justification**

Translation of documentation for developers to Portuguese (pt-br).
Help new developers who speak por

[2021-10-08 18:25] #11439 closed, assigned to nobody

[2021-10-10 03:24] wkurniawan07 opened #11440 "Improve logging infrastructure"
- Log down request body
  - Request body is as important as request parameters and headers in that they represent the user's intention. Troubleshooting will be easier in many cases if request body is known.
  - Similar to request parameters and headers, non-admin maintainers will not be able to see the request body.
- Remove usage of `LogServiceException`
  - The reason to have that exception is t

[2021-10-10 10:46] #11440 closed, assigned to wkurniawan07

[2021-10-10 14:53] wkurniawan07 opened #11442 "Release V8.2.1"
Scheduled for Sunday, Oct 10, 2021, 11.59pm SGT.

Minor release to include some refactoring and logging upgrade.

Release Lead:

- [ ] Tagged the latest stable release code with the latest version number
- [ ] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2021-10-12 13:27] damithc commented on #11442
Deployed and released. Thanks to everyone who contributed.

[2021-10-14 11:32] Shubhojeetban opened #11445 "FileNotFound Exception occurred during starting the server"
I was trying to start the server then this exception occurred. The folder exploded-teammates is already created in build folder.
[code]

[2021-10-15 12:17] moziliar commented on #11215
Hi @Shubhojeetban sure! You may proceed!

[2021-10-15 12:19] moziliar commented on #11445
@madanalogy Perhaps someone with windows can try to replicate and resolve?

[2021-10-16 10:06] ypinhsuan commented on #11445
I am guessing it might be because of the spaces in the filepath. Can you try removing the spaces for  `Open Source Contribution` folder?

[2021-10-16 11:39] Shubhojeetban commented on #11445
@ypinhsuan Thanks it worked. Can you tell me how I can log in to devServer and log in as an instructor?

I am getting this error while log in I am getting the error
![Screenshot (102)](https://user-images.githubusercontent.com/50337427/137585899-c0f79059-66a2-45bf-9858-0711861b0d2f.png)

[2021-10-16 18:13] xinyee20 opened #11446 "Help Request: Issue updating snapshot"
**What I was trying to do / What I need help with**

I edited some pages html files so the snapshots in the component.spec.ts.snap no longer match the snapshots generated during testing.  https://github.com/TEAMMATES/teammates/blob/master/docs/snapshot-testing.md advises us to use auto-update mode to update the snapshots but I wasn't able to successfully update the snapshots. Has anyone successful

[2021-10-16 20:53] hhdqirui commented on #11445
Hi @Shubhojeetban , you need to log in as admin first and then create an instructor using your email. Then you should be able to log in as an instructor.

[2021-10-18 10:12] #11445 closed, assigned to madanalogy

[2021-10-18 12:49] #11356 closed

[2021-10-19 05:56] damithc opened #11450 "'Session opening soon' alerts to instructors: Also give the join link if applicable"
Current: When a session is due to open soon, TEAMMATES sends an alert to instructors of that course 24 hours prior to the opening time. It contains a link to edit the session.

Example:
![image](https://user-images.githubusercontent.com/1673303/137851669-4198e224-458e-44ec-8e27-4966a2d73231.png)

Problem: The given link will not work if the instructor has not joined the course yet.

Suggestion: If

[2021-10-19 12:06] wkurniawan07 opened #11451 "Add support for E2E tests with Edge browser"
[Selenium 4](https://github.com/SeleniumHQ/selenium/releases/tag/selenium-4.0.0) was released few days ago and boasts many new features and improvements, among which is support for testing using Edge.

We should take advantage of this and at the same time make sure that E2E tests can pass in Windows.

[2021-10-19 17:02] #11446 closed

[2021-10-20 19:03] xinyee20 opened #11454 "Help Request: Component testing issue"
**What I was trying to do / What I need help with**

I have problem passing a few tests in `instructor-session-edit-page.component.spec.ts` after refactoring some lines of code into components for reusability (only html file was changed). The error is quite vague and I couldn't find other similar cases that could help solve the issue. Has anyone experienced this and know how to fix it or know a wa

[2021-10-21 18:08] itishrishikesh commented on #11147
Hi,

I was trying to look into this issue - but I am getting the following error log on my local machine when I try to upload a profile picture:

![image](https://user-images.githubusercontent.com/24785679/138332528-9862c241-5f8a-46f3-8e14-762b24a870da.png)

Apologies! if it's not the correct thread to ask this question, also if the issue is available I would like to work on it.

[2021-10-22 13:05] #11454 closed, assigned to nobody

[2021-10-24 02:32] #11215 closed

[2021-10-24 14:26] itishrishikesh opened #11456 "Unable to upload Profile Pictures on Local Machine"
- **Commit SHA:** 065c199f74db0de7281f02232df54bc34b417ac9
- **Operating System:** Windows 10
- **JDK Version:**  openjdk 11
- **Node.js Version:** v14.18.0
- **Chrome Version (if applicable):** 95.0.4638.54

**What I was trying to do / What I need help with:**

The student's profile picture could not be uploaded when I tried to reproduce #11147:

![image](https://user-images.githubusercontent.com

[2021-10-24 16:29] xinyee20 opened #11457 "Help Request: E2E test issues"
**What I was trying to do / What I need help with**

I refactored some components in PR #11423 to address #11392. Some of the e2e tests failed after the refactoring. I tried downloading the chromedriver to run the e2e test locally on chrome, I realise that the number of test cases that failed does not tally and some that failed is different from the tests that failed in github (e2eTest(Firefox)).

[2021-10-24 18:22] wkurniawan07 opened #11458 "Refactor instructor privilege APIs to reduce granularity"
Current: the instructor privilege-related APIs work in a granular way, e.g. only fetch/update course-level, section-level, or session-level privileges depending on the query parameters passed.

https://github.com/TEAMMATES/teammates/blob/b61a89f1988fdee5b38e9aa848105d0dbe24b20b/src/main/java/teammates/ui/webapi/GetInstructorPrivilegeAction.java#L137-L145

https://github.com/TEAMMATES/teammates/blo

[2021-10-30 12:43] xinyee20 commented on #11457
Thanks for the advice! I ran the lastest master branch locally it couldn't pass all the e2eTests so i think the problem is partially due to my set up/environment problem so I am referring to the github tests errors to debug. I did tracing and found some component refactoring issues that I manage to fix and reduce the number of test failures. I am left with 4 test failures relating to assertion fai

[2021-10-31 05:56] xinyee20 commented on #11457
Hi I realise that while updating my code, http://localhost:4200 gets updated but http://localhost:8080 is behaving very weirdly, not really updating properly and localhost:8080 is where the e2e tests are carried out. I am not sure what is going on, any ideas on how to get localhost:8080 to update properly?

[2021-10-31 08:11] itishrishikesh commented on #11456
Hi @ypinhsuan, sorry for the late response. I am getting errors while running `npm run lint` which is essential as per [this](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#step-4-submit-a-pr) guide. Following are the errors:

[code]
Do you have any idea why this might be happening?

[2021-10-31 08:49] wkurniawan07 commented on #11457
The former is Angular dev server, the latter is backend server. If you wish the backend server to serve the built front-end files, you can refer to one of the items in the development guideline.

[2021-10-31 14:44] RenChauncy commented on #11404
Hello, ，mine too.  How did you solve it？

[2021-10-31 19:54] xinyee20 commented on #11457
Ah yes, running 'npm run build' solves the server update issue, thank you

[2021-10-31 19:54] #11457 closed

[2021-11-01 12:47] hhdqirui commented on #11456
Hi @itishrishikesh , the errors seem to be irrelevant. Are you able to pass the GitHub Action npm lint checks when you submit the PR?

[2021-11-01 12:59] itishrishikesh commented on #11456
Hi @hhdqirui, I hadn't submitted the PR before, I just did and it seems that first-time contributors like me, need approval before checks are run from maintainers.

[2021-11-01 14:04] RenChauncy commented on #11404
Hello, When I access it using the front end, it shows the following:
![微信图片_20211101220237](https://user-images.githubusercontent.com/32806733/139684119-83c10ee4-3a18-4b6a-be74-33cf02cc1189.png)
What should I do? very thankful

[2021-11-02 03:14] t-cheepeng commented on #11404
@RenChauncy That is intended behaviour. Please see discussion above

[2021-11-02 06:03] damithc opened #11463 "Allow 'other teams/students in section' as an option in feedback paths"
Current:
![image](https://user-images.githubusercontent.com/1673303/139794111-236ec2fb-13f3-4cfb-9282-77ea96c794d2.png)

A user suggested that we add the options:
`other students in the same section`
`other teams in the same section`

Reason: if students are supposed to evaluate others in their own section only, it can be quite inconvenient to choose the correct students when the class is large e.

[2021-11-04 03:12] #11302 closed

[2021-11-04 03:15] madanalogy opened #11465 "Release V8.3.0"
Scheduled for Friday, Nov 5, 2021, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-11-04 12:37] hoanglan21 commented on #11345
hi, can I work on this?

[2021-11-04 13:08] moziliar commented on #11345
Hi @hoanglan21 , it seems that you are new to this project. Perhaps you want to take a look at issues with label "good-first-issue" to get yourself warmed up in the project.

[2021-11-04 15:53] #11450 closed

[2021-11-05 01:17] tamrakarsweta220 commented on #11152
Hi, I am a first time contributor, checking out some good first issues that are still open. I tried to reproduce this bug and it seems like it is working fine now. The profile picture accepts jpg, png, svg, and gif formats. So, I was wondering why this issue is still open? Was it only partially fixed?

[2021-11-05 14:59] hoanglan21 commented on #10569
Hi,
I am on the session edit form and I tried to redo the bug that you stated here:

But it seems that the bug is not existing anymore. After the modal is shown and cancelled, there are no loading icons anymore.

[2021-11-05 15:12] madanalogy commented on #11465
[V8.3.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.3.0) has been released by @madanalogy at November 5th, 2021, 11.10pm SGT.

Code contributions from: @Jellybeano, @Shubhojeetban, @arsatis, @josiahkhoo, @tjtanjin, @wkurniawan07, @xinyee20
Review contributions from: @ccyccyccy, @damithc, @daongochieu2810, @halfwhole, @jianhandev, @madanalogy, @moziliar, @t-cheepeng, @wkurniawan07, @ypi

[2021-11-06 07:10] damithc commented on #11465
Deployed and released. Thanks everyone for the contributions!

[2021-11-06 07:10] #11465 closed

[2021-11-07 13:22] #11392 closed

[2021-11-07 20:53] SimonHasak commented on #10920
Hi, still some tests free classes available? Most of them are done as I checked.

[2021-11-09 00:19] SavidBasnyat commented on #8364
Hi all, I am a first time contributor, looking for some good open first issues to work on. When I created rank questions and distribute points questions, rank questions still had style inconsistent with distribute points questions. So, I was wondering if this issue was still open and needed to be fixed? Thank you.

[2021-11-09 01:40] t-cheepeng commented on #10920
@SimonHasak Hi, you can look for front end test files that do not have tests yet. It does not have to be in the list above. Alternatively, you can look at existing tests and see if there are any cases not tested for

[2021-11-09 19:34] tamrakarsweta220 commented on #11152
@jianhandev Hi, can you please provide some insight on the issue?

[2021-11-10 08:45] halfwhole commented on #8364
Hi @SavidBasnyat, thanks for your interest! There's certainly been a good deal of changes in the frontend/UI over these years.

For reference, here's how the status message currently looks for a distribute points question:
<img width="495" alt="Screenshot 2021-11-10 at 4 32 11 PM" src="https://user-images.githubusercontent.com/41856541/141077838-a1abc9ef-4de6-4099-9196-b97b866279d3.png">

And for

[2021-11-11 10:20] rudheer commented on #11150
i can work on this issue, pl assign me if no one are currently working on it.

[2021-11-11 17:26] damithc opened #11466 "Add a sub-menu for the 'Remind' feature"
It seems some users are hesitant to click the 'Remind' button because they think it will email everyone.
![image](https://user-images.githubusercontent.com/1673303/141341762-e1d283f5-2de0-42ba-a7fc-8174b9842068.png)

Perhaps we can give two fake options as a drop-down? i.e., `remind all non-submitters`, `select non-submitters to remind`

Both can pop-up the same modal but the first one can auto-se

[2021-11-12 00:11] P-Fabian commented on #10986
Is this issue resolved?

[2021-11-12 03:40] damithc opened #11468 "Instructor viewing all records: No past records shown"
Reported by a user, reproduced myself.
Steps:

1. Login as instructor
2. Search for a student name
3. Click on the 'All records' button of a search result
4. Problem: No past records shown

![image](https://user-images.githubusercontent.com/1673303/141405094-dafe27f0-fe93-44c0-86f8-702a5a642f34.png)

[2021-11-12 03:46] wkurniawan07 commented on #11468
Does this person have sufficient instructor to view responses?

[2021-11-12 03:48] damithc commented on #11468
Same problem happens for my own courses/students. So, can't be a permission problem.

[2021-11-15 10:07] damithc opened #11470 "Unable to download results of a session"
Reported by a user

Class size:
![image](https://user-images.githubusercontent.com/1673303/141756012-0acf3f0b-a4fa-4b42-8d3a-9d0bba9ca85d.png)

The user is unable to download the results for the following question:

![image](https://user-images.githubusercontent.com/1673303/141756320-bd0ec54b-6a5b-46af-97fe-4a1cdc37242b.png)

![image](https://user-images.githubusercontent.com/1673303/141756258-afb

[2021-11-15 10:25] wkurniawan07 commented on #11470
The error is unfortunately what it says. Does using an F4 instance help?

[2021-11-15 10:31] damithc commented on #11470
I'm trying it now. Will keep you posted.

[2021-11-15 10:40] damithc commented on #11470
Managed to download with a F4 instance. The file has 138K rows, and is 10MB. In this specific case, most rows are useless as students give responses to only 7 teams but there are 169 teams i.e., 7 rows with data and 162 with 'no response'. Perhaps that's a place to optimize for memory?

[2021-11-15 11:05] wkurniawan07 commented on #11470
We (me and @xpdavid) actually anticipated this kind of problem long ago. It's the reason why this code exists:
https://github.com/TEAMMATES/teammates/blob/a5fe4b04a773da28b6c9cd54eb07625ad2217ecd/src/main/java/teammates/common/datatransfer/questions/FeedbackQuestionDetails.java#L93-L99
Translation: if the recipient type is `STUDENTS`, do not generate missing responses. Looks like we need to do the

[2021-11-15 11:58] drblaui commented on #11147
I would like to give this a try!

[2021-11-15 12:31] damithc commented on #11470
Nice. Should be a quick fix in that case.

[2021-11-18 02:13] SavidBasnyat commented on #11466
Hi, I would like to work on this issue. Could you assign it to me? Thank you.

[2021-11-18 02:35] tamrakarsweta220 commented on #10819
Hi, me and my friend want to work on this issue as our first contribution. Can you let me know if we can still work on this?

[2021-11-18 12:55] #11468 closed

[2021-11-18 13:53] #11470 closed

[2021-11-18 16:24] halfwhole commented on #11466
Hi @SavidBasnyat, thanks for your interest! We generally don't assign issues in this project, but please feel free to take this issue and submit a PR whenever you're ready too.

[2021-11-18 16:29] halfwhole commented on #10819
@tamrakarsweta220 Sure, please go ahead!

[2021-11-18 16:48] tjtanjin opened #11474 "Unexpected behavior when selecting multiple feedback question recipients"
Reproduced on local dev environment on commit `a5fe4b0`

**Steps to reproduce**
1) Go to instructor sessions page
2) Edit a question and change recipient to other students in the course
3) Try to set the maximum number of students feedback should be given to
4) Save the changes and refresh the page - notice changes are not saved

More elaborate examples shown below:

Question 1 is being used for t

[2021-11-19 01:17] Chris-Denby opened #11475 "The Development Guidelines don't explain how to create an account"
Issue title: Help Request: The Development Guidelines don't explain how to create an account

**What I was trying to do / What I need help with**
Hi, I was following the Development Guidelines document to setup my development environment so I can have a shot at contributing. Everything starts as expected, however after running the interface from http://localhost:4200/web/front/home I am unsure how

[2021-11-19 03:25] damithc commented on #11474
Looks like a serious bug. Would like to fix before the next release, plus this is holding us back from doing a release. Alternatively, we can revert the problematic PR for now, if that can be done cleanly.

[2021-11-19 14:48] jianhandev commented on #11475
Hi @Chris-Denby thanks for your interest in this project, for logging in you should refer to [this part](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance) of the development docs, also remember to read the comments in the `build.properties` file. Let us know if you have any more questions!

[2021-11-19 18:05] wkurniawan07 commented on #11474
@tjtanjin I got a good idea as to why it happened. Can you help to verify that the changes introduced in this branch <https://github.com/TEAMMATES/teammates/tree/11474-feedback-path-event-bubbleup-error> fixed the problem?

[2021-11-19 18:27] SimonHasak commented on #11370
Hi, I would like to take this task. I have 1,5 year experience as a full stack developer java (spring boot) and angular. I will need more information (for example how many objects will page contains and so on..). Of course if you already decided how to solve this issue. WIll wait for your reply. Thanks.

[2021-11-20 09:32] damithc opened #11477 "Give a better error message when a user attempts to paste an image from clipboard"
Reported by a user who attempted to paste an image from the clipboard into the text box (which is not supported by TEAMMATES):
![image](https://user-images.githubusercontent.com/1673303/142721427-2856efbb-aff2-4a41-bed0-62afaa332a4c.png)

Perhaps we can give a better error message?

[2021-11-20 12:20] wkurniawan07 commented on #11477
That error message (and style) came straight from tinymce library.

[2021-11-21 06:37] daongochieu2810 commented on #11370
@SimonHasak I think you can proceed with either suggestion above. The number of objects a page can contain can be 50. Let me know if you have any other questions

[2021-11-21 17:20] #11458 closed

[2021-11-24 10:46] damithc opened #11478 "Include a list of non-submitters in the downloaded results"
When an instructor views results, TEAMMATES shows a list of non-submitters at the bottom of the page.
![image](https://user-images.githubusercontent.com/1673303/143224056-98a94cb7-00c3-487b-b8f0-48fcd696a626.png)

But that list is not included in the csv file, if the instructor downloaded the results.

Suggestion: include the non-submitters list (name, team, email) in the the downloaded spreadshee

[2021-11-25 05:27] damithc commented on #11122
I was trying this feature today (in masquerade mode) and encountered the problem again. That instructor had a course with 1300 student, in case that matters.

[2021-11-25 09:27] NicolasCwy commented on #8607
Hi would it be ok, if I give this a try!

[2021-11-25 15:01] damithc commented on #11122
To add: Another user reported that he faces this problem for larger courses but it works for smaller courses.

[2021-11-26 04:44] Attyuttam commented on #11478
Hi, I am new to this repo and this issue seems to be pretty interesting. Can someone please direct me as to which files/folders needs to be looked into to work on this ?

[2021-11-26 17:23] tjtanjin commented on #11474
Hello! I have tested and the changes introduced in this branch fixes the problem!

[2021-11-26 17:30] UsamaMahboob commented on #8607
Hi, could I tackle this issue?

[2021-11-27 07:17] t-cheepeng commented on #8607
@NicolasCwy Hi, please go ahead

@UsamaMahboob Hi, as the previous commenter came first, we will let him try the issue. Please look for another issue to tackle. Thanks

[2021-11-27 07:26] t-cheepeng commented on #11478
@Attyuttam Hi, thanks for indicating interest. Seems like it is the first time you are contributing to this repository. Try to look for a `good first issue` to work on

[2021-11-27 09:51] NicolasCwy commented on #8607
Can I check if this is a Numerical-scale question, I am trying to replicate the issue but am unable to find the question type that supports a selection box for students. Most of the question types that use students feedback have a fixed student order

![image](https://user-images.githubusercontent.com/25302138/143676364-4aa6b61e-8e18-4e0a-a951-3a943e74e253.png)
Numerical-Scale option

![image](htt

[2021-11-27 10:26] #11474 closed

[2021-11-27 12:22] NicolasCwy commented on #8769
Hi if its ok I would like to contribute to this!

[2021-11-27 15:02] damithc commented on #8607
@NicolasCwy the dropdown boxes appear when you have a question setting such as the below (i.e., limit the number of recipients)

![image](https://user-images.githubusercontent.com/1673303/143686585-5588514c-d26d-46f9-ab13-0ec300f5f8ed.png)

[2021-11-28 04:56] NicolasCwy commented on #8607
@damithc Not sure if I'm doing something wrong but I am unable to save the max number of students to be 5. Everytime I try to preview the form as a student it shows one box. Saving and reloading the feedback session changes the value back to 1 maximum number of student each respondent should give feedback to?

![Change recepient limit](https://user-images.githubusercontent.com/25302138/143730145-3

[2021-11-28 05:42] damithc commented on #8607
Good catch @NicolasCwy . Yes, I think so too. I think this will have to wait till that bug is fixed.

[2021-11-28 17:07] #9168 closed

[2021-11-29 05:18] arsatis commented on #11478
May I try to work on this issue?

[2021-11-29 14:47] jianhandev commented on #11478
@arsatis yes please go ahead :)

[2021-11-30 13:22] foueds commented on #11456
Hi @itishrishikesh, i'm new in the project and i want to reproduce this issue. thanks

[2021-11-30 13:30] itishrishikesh commented on #11456
Hi @foueds I'm new here too :)

You just need to upload profile picture from Student Profile page in your local environment, you should be getting the mentioned issue in your console where your server is running.

+ I'm not sure if it is only windows problem, but I was getting this windows.

[2021-11-30 13:40] foueds commented on #11456
hi @itishrishikesh, i'm working in mac os.
When i try to log as student with this email "test@example.com" i got this
<img width="834" alt="Capture d’écran 2021-11-30 à 14 38 59" src="https://user-images.githubusercontent.com/44832665/144057684-1549d945-b489-41f3-928d-17e19788d79f.png">

[2021-11-30 13:51] itishrishikesh commented on #11456
@foueds

First you'll login to admin account, by going to `localhost/web/home/admin`,  you can use `app_admin@gmail.com` (It's default set in build.properties but you can have look in docs)

I think you need to _create_ (Idk if it's correct terminology here) some students by first creating an instructor and then enrolling the students, IG you'll need to look more into docs.

[https://github.com/TE

[2021-12-01 09:02] madanalogy opened #11481 "Release V8.4.0"
Scheduled for Sunday, Dec 5, 2021, 1.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2021-12-02 11:59] NicolasCwy opened #11483 "Failing E2E tests"
E2E test fail with exception

- **Environment**: master branch at commit 4f3d337ef2

**Steps to reproduce**
`./gradlew componentTest --stackTrace`

**Expected behaviour**
E2E test passes

**Actual behaviour**
E2E test fails with exception

**Additional info**
Just wanted to check if this is an actual issue or just on my machine as I saw the PR #11479 passed the E2E CI tests

[code]

[2021-12-02 18:17] davidchunholee opened #11484 "Web: Student: Help Page : Add Additional Information to Frequently Asked Questions"
Add Additional Information to Frequently Asked Questions in the Student Help Page

- **Environment**: Live server at `V8.3.0`.
- File: src/web/app/pages-help/student-help-page/student-help-page.component.html

**Description of feature/enhancement**
Add additional information to FAQ section that help answer questions related to peer-evaluations (feedback anonymity, types of questions students may s

[2021-12-03 02:39] ypinhsuan commented on #11483
Hi, it seems like you are running backend component tests and not e2e tests. I am to pass the component tests locally, perhaps you can try going to `build/reports/tests/componentTests/component-tests` to find out which are the tests that failed. Hope this helps :)

[2021-12-03 10:11] NicolasCwy commented on #11483
My bad! Thanks for clarifying, I'll go check that out and see whats wrong on my side

[2021-12-03 10:11] #11483 closed

[2021-12-04 04:22] damithc opened #11487 "Numerical scale questions replacing user ratings with random values"
Received from a user:

Although the student says 'ranking' it is actually a numerical scale question.

![image](https://user-images.githubusercontent.com/1673303/144696613-d886644b-af5d-4c47-b19b-b7f215695185.png)

![image](https://user-images.githubusercontent.com/1673303/144696610-2f42ac12-5bd7-4951-b09d-629bdbc7daff.png)

The worrying thing is, another instructor from a different university rep

[2021-12-04 08:32] #11456 closed

[2021-12-05 04:05] damithc commented on #11487
A student said the following:

From what they describe, one possibility is the action of scrolling (e.g., turning the scroll wheel of the mouse or dragging fingers over the trackpad) is being intercepted by the input box. If the student tries to scroll the page while the focus is in the input box, she might end up scrolling the input box instead (because it is also a wheel of numbers that you can

[2021-12-05 04:28] madanalogy commented on #11122
Reopening as resolving PR has been reverted

[2021-12-05 08:22] wkurniawan07 opened #11490 "Support custom value for base system URL"
Currently, the code assumes that the system is accessible at `https://<project-id>.appspot.com`. We need to modify the code such that the back-end can accept a customizable value for the base system URL.

Note that this is NOT an infrastructure work to map a custom domain name to the App Engine instance. This is just to support using the correct URL in emails and for redirects, and handle CORS if

[2021-12-05 08:25] wkurniawan07 opened #11491 "Update tzdb version to 2021e"
Our current tzdb version is `2021a` which is quite outdated. The latest at the point of writing is `2021e`.

Guide to update: <https://github.com/TEAMMATES/teammates-ops/blob/master/maintainer-guide.md#timezone-database-update>

[2021-12-05 08:28] wkurniawan07 opened #11492 "Support configuring separate front-end URL for E2E testing"
Right now, E2E tests assume a single URL for testing, i.e. the back-end and the front-end hosted concurrently.

While it is a reasonable assumption based on the production system's architecture and should remain that way in CI, it is not convenient for development as a simple front-end change necessitates full rebuilt of the front-end, taking (wasting) a few mins time.

Suggestion: make the front-

[2021-12-05 09:00] madanalogy commented on #11481
[V8.4.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.4.0) has been released by @madanalogy at December 5th, 2021, 04.55pm SGT.

Code contributions from: @AdithyaNarayan, @itishrishikesh, @tjtanjin, @wkurniawan07, @xinyee20
Review contributions from: @damithc, @jianhandev, @madanalogy, @wkurniawan07

Ready for post-release check and deployment by PM (@damithc).

[2021-12-05 10:16] damithc commented on #11470
The results can now be downloaded for the session in question. Thanks @wkurniawan07 and @tjtanjin for the fix.

[2021-12-05 10:17] damithc commented on #11481
Deployed and released. Thanks everyone who contributed 💯

[2021-12-05 10:17] #11481 closed

[2021-12-05 20:45] shencodes95 opened #11493 "School email address"
Our school has two working email addresses for students. One is XXX@g.clemson.edu, the other one is XXX@clemson.edu.
Initially, I tried to let students to put their feedback through clemson.edu address. There are students who did not receive the invitation email. So I changed everyone's email address to g.clemson.edu. Students were able to log in but then they can't submit some responses as some r

[2021-12-05 23:05] jtsai3 commented on #11152
Hi, I am a first time contributor and would like to work on this issue. Based on my understanding of previous discussions, we only need to do a frontend check of the file type (gif, jpeg, jpg, png, svg+xml) is that correct? What if when a image type not supported (eg. tif) was uploaded? Will there be any kinds of reminder? Thanks!

[2021-12-06 03:06] jianhandev commented on #11152
Yes that is correct.

Yes, I would think a simple warning/reminder to tell the user the appropriate type of image acceptable is sufficient.

[2021-12-06 06:26] damithc commented on #11493
@shencodes95 I'll reply you via email.

[2021-12-06 07:37] #11493 closed

[2021-12-06 13:19] shencodes95 commented on #11493
Hi!
Thank you for getting back to me. I updated their email in the student
page. I realized that I need to reassign groups if I add ‘new’ students.
Shen

On Mon, Dec 6, 2021 at 2:37 AM Damith C. Rajapakse ***@***.***>
wrote:

--
Jiayun 'Shen' Shen  <https://sites.google.com/view/shenjy/home>
Ph.D. Student, E.I.T., ACE Fellow
<https://www.clemson.edu/cecas/prospective-students/undergraduate/spectra

[2021-12-06 14:02] tjtanjin commented on #11487
If it helps, I am also unable to reproduce this on my mac os.

[2021-12-06 14:25] damithc commented on #11487
Thx for checking @tjtanjin There's something going on (given we received reports from two different sessions), but not sure what.

[2021-12-07 04:21] damithc opened #11494 "Make 'Download proof of submission' button more prominent"
Current:
![image](https://user-images.githubusercontent.com/1673303/144964593-0d88b247-cc7f-43c2-9a17-3fc515bd61cb.png)

I suspect most users would click on the OK button without looking at the other button.

We can consider these tweaks:
1. Make the `Download ...` button green and move it to the right (as it is customary for the preferred option to be on the right)
2. Change color of the `OK` but

[2021-12-07 16:04] jianhandev commented on #11487
I tried on safari, chrome and firefox - unable to reproduce this bug too 🤔.

[2021-12-08 08:31] shadowezz commented on #11478
I have made a fix for this issue. Not sure if anyone is currently working on it.

[2021-12-08 11:51] #11157 closed

[2021-12-09 09:36] moziliar commented on #11478
Hi @arsatis, any updates from you?

@shadowezz it seems that there was an interested contributor a while back. Let's wait for a while to see if there's any update?

[2021-12-09 13:38] SimonHasak commented on #11370
@daongochieu2810 Just to be sure this solution is needed for every object fetching its questions?. Not only instructor let`s say. As a solution I would like to insert Cursor to the query builder but it is base method for all object containing questions so I would like to clarify this. Thanks.
![image](https://user-images.githubusercontent.com/25928579/145404569-7cd553cc-fb03-4cee-ad00-0f2fde314ac3

[2021-12-09 14:25] shadowezz commented on #11478
Sure, no worries!

[2021-12-09 14:59] damithc opened #11497 "Instructor viewing activity logs: server error"
A user reported this error while using the unreleased `https://teammatesv4.appspot.com/web/instructor/logs` feature

![image](https://user-images.githubusercontent.com/1673303/145419334-9c4a7a22-35aa-46ca-a731-5280e40e9159.png)

I was able to replicate it myself.

The course has only 12 students. But the user has over 100 active courses.

This is the likely related error I found in the log for the

[2021-12-09 16:28] daongochieu2810 commented on #11370
@SimonHasak this issue only concerns the copy operation for questions, so modifying code for fetching is not a good idea. I think you can create another method called `getFeedbackQuestionsWithLimit` so it will not affect other operations

[2021-12-10 08:48] arsatis commented on #11478
Hi @moziliar sorry for the delayed reply, I was working on the issue a while back but had some other matters to attend to so I wasn’t able to complete my commit.

Its fine to merge @shadowezz’s commit, I’ll help out with other issues when I’m available 👌

[2021-12-10 08:49] moziliar commented on #11478
@arsatis thank's for the update. @shadowezz we will proceed with your PR.

[2021-12-11 09:30] shadowezz commented on #11494
I can have a go at this

[2021-12-11 14:39] madanalogy commented on #11463
@tjtanjin it just occurred to me that your PR https://github.com/TEAMMATES/teammates/pull/11469 doesn't have any tests. We recommend including tests for changes or addition of functional code. Could I trouble you to write some tests in a new PR please. You can tag the PR to this issue

[2021-12-11 20:54] jtsai3 commented on #11152
Hi @jianhandev, I have opened a PR at [https://github.com/TEAMMATES/teammates/pull/11495](https://github.com/TEAMMATES/teammates/pull/11495). Could you please give any feedback on this? Thanks!

[2021-12-12 04:08] damithc opened #11498 "Downloading results: 'Ranks received' must be the last column"
![image](https://user-images.githubusercontent.com/1673303/145699727-02cf8ab2-725f-4295-9291-0049ded9be40.png)

Scenario: an instructor is downloading the results of a session that has a ranking question.

As the values for `Ranks received` can span multiple columns, it should be the last column. Here is an example from contribution questions.
![image](https://user-images.githubusercontent.com/167

[2021-12-12 12:46] elfring opened #11499 "Use another compound assignment operator"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of compound operators](https://docs.oracle.com/javase/specs/jls/se17/html/jls-15.html#jls-15.26 "Description for assignment operators") accordingly.

[code]

[2021-12-14 14:59] daongochieu2810 commented on #11370
@SimonHasak Let us know if you are still working on this issue. Thanks!

[2021-12-14 17:08] SimonHasak commented on #11370
@daongochieu2810 Hi, yes I am. Will update you with design and implementation till Friday.

[2021-12-15 03:42] NicolasCwy commented on #11491
I would like to take up this issue!

[2021-12-15 20:31] AmrMaghraby commented on #11236
Hi Devs,
Is this task still valid to work on it, or someone else is working on it?

[2021-12-16 02:51] egorovak opened #11503 "Logging into an instance development guidelines clarification"
Hi,

I have been working through [developer guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance) to set up and run teammates' development environment and had some confusion when trying to log into an instance. Specifically, in the section "[Logging in to a TEAMMATES instance](https://github.com/TEAMMATES/teammates/blob/master/docs/d

[2021-12-16 03:03] larrydiamond opened #11504 "Eliminate known CVEs by updating dependencies"
implementation("com.googlecode.owasp-java-html-sanitizer:owasp-java-html-sanitizer:20200615.1")
implementation("org.apache.solr:solr-solrj:8.8.1")

both have CVEs that are ranked as 9.8
CVE-2021-27905
CVE-2021-42575
CVE-2021-29943

Both have updated versions that will eliminate these three CVEs (and a bunch of lower ranked ones too)

Good news though: Teammates does not bring in log4j so log4shell

[2021-12-16 03:17] moziliar commented on #11491
Go ahead:)

[2021-12-16 04:03] wkurniawan07 commented on #11503
The action of logging in, in and of itself, doesn't require datastore/emulator. You probably see the errors/get redirected to home page because after logging in, there needs to be check whether an account is a student/instructor, and this check clearly needs a running DB instance.

[2021-12-16 04:37] damithc opened #11506 "Instructor viewing student records: loading takes very long for some cases"
A user reported that when loading 'All records' of a student, the page is stuck in loading stage.
![image](https://user-images.githubusercontent.com/1673303/146308124-a96f1ce2-ddf1-4ed7-b3fd-8133f017f69b.png)

It turns out the page is not stuck but takes quite long 30-40 seconds to load.
This course has 200 student, 3 sessions with 15 questions each. Most questions are team contribution questions,

[2021-12-16 18:43] egorovak commented on #11503
@wkurniawan07 Thank you for your response! Do you think it would be reasonable to add a remark about it still in the developer guidelines?

[2021-12-17 14:44] NicolasCwy commented on #11466
@SavidBasnyat are you still working on this issue? Would like to give it a shot

[2021-12-17 15:52] SavidBasnyat commented on #11466
@NicolasCwy While I have started working on it, I have not been able to make enough progress. So feel free to give it a shot!

[2021-12-18 04:12] damithc commented on #11497
Another case: 208 students, 3 students per team, 3 questions, 1 session. Wasn't able to load audit logs of one student after several tries. The instructor has only 3 courses.

Log message:

[2021-12-18 14:21] NicolasCwy commented on #11466
@damithc To clarify would the option "remind all non-submitters" select both students and instructors who have not submitted. Also would it be more appropriate to name the second option "select non-submitters to remind" as there could be instructors to remind as well.

[2021-12-18 14:26] damithc commented on #11466
@NicolasCwy
I guess OK to select both students and instructors
Yes, that's a better name for the second option. Good catch.

[2021-12-19 01:48] #11491 closed

[2021-12-19 03:28] #11498 closed

[2021-12-19 05:22] NicolasCwy commented on #11466
When "select non-submitters to remind" is clicked, should any of the options in the model be selected? I would think none of the options should be selected, but from the current implementation of the modal, this box will be checked when all instructors have submitted, see picture above. If this is considered a bug, should this be fixed in this issue?
![image](https://user-images.githubusercontent.

[2021-12-19 05:41] damithc commented on #11466
Yes, seems like a bug. Can fix.

[2021-12-19 17:07] Emp923 commented on #11388
Hi Team! If this issue is still available I would like to work on it. Thanks!

[2021-12-19 19:15] #11484 closed

[2021-12-20 05:38] daongochieu2810 commented on #11388
@Shubhojeetban let us know if you have time to fix the conflicts in your PR, otherwise we will let others take this issue

[2021-12-20 15:38] Shubhojeetban commented on #11388
Hi, @daongochieu2810  sorry for the inactivity. Currently, I am busy with some stuff you can reassign.

[2021-12-21 14:10] damithc opened #11511 "Emailing submission links: also mention the proof-of-submission feature"
In the emails containing submission links sent to students we can also mention the ~~'proof-of-concept'~~ proof-of-submission file that they can download at the end of the submission, to make them more aware of that feature.

[2021-12-21 14:34] daongochieu2810 commented on #11388
@Emp923 you can take on the issue, thanks!

[2021-12-25 15:53] SimonHasak commented on #11370
@daongochieu2810 Sorry but no more working on this issue.

[2021-12-28 04:10] damithc opened #11513 "When the wrong Google account is used, include the account name in the error message"
When a user tries to login using an unregistered Google account, we display this message:
![image](https://user-images.githubusercontent.com/1673303/147526727-ece89a2d-7c81-4460-94b6-dbba9f17874e.png)

Suggested: Also mention the Google account the user is trying to use. e.g., `Your Google account JohnDoe is not ...`

Reason: In most cases the user contacts us with the screenshot of the error mess

[2022-01-01 12:05] laila-chammaa commented on #11511
Hello! Do you mean proof of submission?

[2022-01-01 12:45] HoWeiChin commented on #11513
Hello, I would like to give this a shot

[2022-01-01 15:48] damithc commented on #11511
Yes, that's correct. Thanks for catching the typo @laila-chammaa

[2022-01-01 17:46] simonteozw commented on #11475
Hi, I have checked my repository and I do not have my own build.properties file, do I need to create one on my own?

[2022-01-01 20:43] KaungthuKhant commented on #11513
Hello, I don't have any experience with OpenSource so I want to take on a beginner-friendly issue. This one looks like it will be a good start for me so if I can, I would love to work on this issue. I know that another person has requested before me so I understand if it is first come first serve.

[2022-01-01 21:17] KaungthuKhant commented on #11513
Nevermind, saw someone else got it fixed

[2022-01-01 21:38] KaungthuKhant commented on #11236
Hi @ypinhsuan
Is someone working on this issue?
If not, can you assign it to me?

[2022-01-02 00:22] #11147 closed

[2022-01-02 09:20] #11513 closed

[2022-01-02 11:38] wkurniawan07 opened #11516 "Use different messages for different auth callback problems"
https://github.com/TEAMMATES/teammates/blob/e3e15d8d33c305dbf8ec5f5a2b736facc52727ce/src/main/java/teammates/ui/servlets/OAuth2CallbackServlet.java#L53-L68

Lines 62 and 66 print out the exact same message. We cannot tell which one of them actually was triggered, or the distribution if both of them were triggered at different times.

[2022-01-03 01:11] jianhandev commented on #11236
@KaungthuKhant you may work on this PR.

[2022-01-03 01:15] jianhandev commented on #11475
Hi @simonteozw the answer is in [this part](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md#step-3-set-up-project-specific-settings-and-dependencies) of the docs :)

[2022-01-04 14:01] itishrishikesh commented on #8529
Hi,

Can I work on this?

If Yes - Is there a document for email troubleshooting, I created a test account with SendGrid & have set parameters in `build.properties` accordingly.

Thank you!

[2022-01-05 17:43] KaungthuKhant commented on #11236
I am having this issue when I try to crate main config files.
I used ./gradlew createConfigs  in my terminal but it is showing me the error below.
Error: Could not find or load main class org.gradle.wrapper.GradleWrapperMain
Caused by: java.lang.ClassNotFoundException: org.gradle.wrapper.GradleWrapperMain

I am using a MAC.
I saw gradle-wrapper.properties inside the wrapper folder which is inside

[2022-01-06 09:47] jianhandev commented on #8529
@damithc do we still want this 'send me a copy' option? If yes, I'll let @itishrishikesh take this issue.

[2022-01-06 12:07] itishrishikesh commented on #11492
Hi @wkurniawan07 :

I observed a set of constants are defined in `static class WebPageURIs` in `Const.java` for accessing frontend pages, these constants are referenced in all E2E tests to create/access frontend URL - mostly using `createUrl`.

If we add and read frontend, backend URL separately (from `test.properties`) and change conditions wherever `WebPageURIs` is present in E2E tests to refer

[2022-01-06 12:32] wkurniawan07 commented on #11492
That's not at all necessary. If you can take some time to understand how the E2E tests work, it should be very clear which operations should use frontend URL and backend URL respectively.

[2022-01-06 14:23] damithc commented on #8529
Yes, I think we can proceed with this if easy to do (the payback is low). However, we can ditch it if it requires extensive changes, such as changes to the backend API.

[2022-01-06 14:57] jameswalshe commented on #8769
Is this issue available?

[2022-01-07 01:33] jianhandev commented on #8529
The dev server is using an empty email service - that might be the reason. Try testing it out on [staging  environment](https://github.com/TEAMMATES/teammates-ops/blob/master/platform-guide.md#deploying-to-a-staging-server)?

[2022-01-07 02:14] wkurniawan07 commented on #8529
Changing backend API does not necessarily mean it's going to be "extensive".

Not necessary; you can always modify the code such that the dev server uses the email service you wanted. But at the same time, you don't really need to test with actual email service; if you can make sure that the email service is being called (look at the logs written, write tests to confirm this), then it already coun

[2022-01-07 15:18] jianhandev commented on #8529
@itishrishikesh as explained by @wkurniawan07, you can also test your implementation without setting up staging environment. Minimally, you should write tests to confirm that the email service is called.

[2022-01-08 04:06] shadowezz commented on #11402
If there are multiple team questions and a team member only submits part of them, should the status be pending or submitted? If we were to be consistent with the behaviour for individual questions then it should be submitted but then this may cause some questions to be left unanswered.

If there are both team and individual questions, is it true that as long as the student has not answered any of

[2022-01-08 04:17] damithc commented on #11402
@shadowezz

Good point. Let's go with 'team questions are considered pending if none of the team questions are answered', similar to individual questions. Yes, it can leave some questions to go unanswered but that's unavoidable given some questions may be optional to answer anyway.

Yes, I think so. How about the following?

* individual questions: _pending_ if the student has not answered any que

[2022-01-08 04:41] daongochieu2810 commented on #8769
@jameswalshe seems @lidianycs has not been active on this issue. You can take this issue, and remember to check the description before starting

[2022-01-08 05:45] shadowezz commented on #11402
So if a session has both types and the user only submits the individual questions, then the status is still pending and the available action is still "Start submission"? Not sure if this will be misleading.

[2022-01-08 06:01] damithc commented on #11402
Good point. I guess we can go with 'session is pending if _both_ types are pending' instead.

[2022-01-08 06:19] shadowezz commented on #11402
Hmm this also runs into the problem where if my teammate submits the team questions then my status will magically change to submitted even though I have not answered the individual questions. Another option we can consider is if a session has both types, then we only look at the individual questions to determine the status.

[2022-01-08 06:24] damithc commented on #11402
Indeed. What was I thinking ;-p

Yes, that sounds more reasonable.

[2022-01-10 01:42] #11516 closed

[2022-01-10 08:42] fsgmhoward commented on #11477
I tried to look into this issue on my local dev server but I cannot reproduce it with either Edge 97.0.1072.55 or Firefox 95.0.2. When tried to paste images (either screenshot or copy of file), nothing is pasted into the textbox but there is also no error messages popped out. May I know if it had been fixed in some commits before?

[2022-01-10 09:41] damithc commented on #11477
@fsgmhoward thanks for checking. It looks like the problem no longer exists (I tried using Chrome 96, Win 10). Closing.

[2022-01-10 09:41] #11477 closed

[2022-01-11 07:56] fsgmhoward commented on #8364
Looks like that this issue has not been updated for sometime. I will try to push a PR for this.

[2022-01-11 12:28] fsgmhoward opened #11520 "Infinite loop when logging in using Google account on a Chromium-based browser"
- **Environment**:

Environment: Edge 97.0.1072.55, Windows 11 build 22000.376, NUS network, live server

**Steps to reproduce**
1. Click the link in the instructor invitation email
2. The page says log in is required, and it automatically jumps to Google login page
3. Select one of the already logged-in Google accounts
4. Login successful, callback to teammates, and teammates redirect to the invi

[2022-01-11 12:37] zhaojj2209 commented on #11520
I've been able to replicate the issue on Chrome/Microsoft Edge/Brave, but not on Firefox/Safari. Also, login works fine if not logged in on Google or if only using one Google account.
So it seems the issue only occurs on Chromium browsers if logged into multiple accounts on Google?

[2022-01-11 13:17] NicolasCwy commented on #11466
When a user clicks on the "select non-submitters to remind" button, should the "Select all students not yet submitted" be selected if there are no students who have not submitted? The current implementation on master is the former. Intuitively I would think that it should remain unselected until the user has performed some action, so there should be some state logic, but would be a little more com

[2022-01-11 16:03] madanalogy commented on #11520
I encountered the issue as well (Windows Chrome). I had to "sign out of all accounts" and only have the one Google account logged in. Doing that allowed for successful login and resolved the infinite loop for me.

Needs more investigation to understand what's going on. For now if bug encountered on Windows, recommend either using incognito mode or logging out of all google accounts and only signin

[2022-01-11 22:32] hhdqirui commented on #8769
Hi @jameswalshe , the questions are in the other folders, that is `src/web/app/pages-help/instructor-help-page/instructor-help*section`. You can have a check.

[2022-01-12 03:18] zhaojj2209 commented on #11295
Hello! It seems that this issue has not been updated for some time, may I work on it?

[2022-01-12 17:22] simonteozw commented on #11511
Hi, is anyone working on this at the moment? I can try to solve this issue.

[2022-01-13 16:05] halfwhole commented on #11511
@simonteozw please go ahead!

[2022-01-14 05:12] madanalogy opened #11522 "Release V8.5.0"
Scheduled for Friday, Jan 14, 2022, 10pm SGT

Release Lead:

- [ ] Tagged the latest stable release code with the latest version number
- [ ] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2022-01-14 13:19] fsgmhoward commented on #11520
Looks like that this is not only happening when accepting invitation. Normal login is also affected. I tried it a bit and it seems to be caused by an incorrect 307 redirection with HSTS as the reason? Since all traffic is already served using https, such redirection should not occur.

![image](https://user-images.githubusercontent.com/10681776/149521266-23ec2a6a-11ff-4801-8646-7b98972f3a5b.png)

U

[2022-01-14 14:14] madanalogy commented on #11522
[V8.5.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.5.0) has been released by @madanalogy at January 14th, 2022, 10.12pm SGT.

Code contributions from: @NicolasCwy, @drblaui, @hdrienV, @shadowezz, @tjtanjin, @wkurniawan07
Review contributions from: @AdithyaNarayan, @damithc, @daongochieu2810, @jianhandev, @madanalogy, @moziliar, @wkurniawan07, @ypinhsuan

Ready for post-release check a

[2022-01-14 15:13] ziqing26 commented on #11236
When you look in `gradle/wrapper` do you see `gradle-wrapper.jar` as well? This [post](https://stackoverflow.com/questions/57881202/how-to-resolve-java-lang-classnotfoundexception-org-gradle-wrapper-gradlewrappe) might be relevant for you when I searched your error messages

[2022-01-14 16:47] wkurniawan07 commented on #11520
Chromium changed the way their service worker work in 97, e.g. <https://chromestatus.com/feature/5752539724120064>, <https://msrc.microsoft.com/update-guide/en-US/vulnerability/CVE-2022-0117>. Although I can't explain exactly how/why myself, looks like we're a collateral damage.
Easy way to fix should be to add `ngsw-bypass` to the callback page when it's loaded.

[2022-01-15 04:42] #11492 closed

[2022-01-15 08:03] #11478 closed

[2022-01-15 17:28] ziqing26 commented on #11520
In `src/web/services/http-request.service.ts`, I found that the `ngsw-bypass` header has already been added to GET requests. Seems it is not related to that?

[2022-01-16 01:07] #8607 closed

[2022-01-16 16:11] shivamsharma01 commented on #10986
Is the issue resolved? I would like to take this up.

[2022-01-17 01:50] madanalogy opened #11528 "Contact us sponsor phrasing change"
As referenced in https://github.com/TEAMMATES/teammates/pull/11514#issue-1091260084

[2022-01-17 01:57] #11528 closed

[2022-01-17 11:29] damithc commented on #11522
Deployed and released. Thanks to everyone who contributed 💯

[2022-01-18 02:40] ypinhsuan commented on #10986
@shivamsharma01 The issue is still open, you can work on it

[2022-01-18 03:01] damithc commented on #11520
We have a steady stream of users encountering this problem although not a lot (about 10 a day). So far, switching to Firefox or using an incognito window seems to work. It would be good to have a permanent solution though.

[2022-01-18 03:03] fsgmhoward commented on #11490
I would like to take this issue and try to implement this. Is anyone else currently working on it?

[2022-01-18 13:07] ziqing26 commented on #11520
Ok noted! I am trying to resolve it and trying to locate the exact point to change. Since it is a service worker problem, I am looking into how to bypass that for callback currently.

[2022-01-18 17:15] sshamouilian commented on #11235
it looks like no one is working on this at the moment. Can I take a stab at it? I have to fork a repo and do a PR for a class project by this Friday...

[2022-01-19 02:58] #11388 closed

[2022-01-19 16:25] hhdqirui commented on #10986
@shivamsharma01 Hi, for the first error it may be because your folder `Open Source` contains a space in the folder name? Maybe can try changing the folder name to `OpenSource` or something that do not contain a space.

[2022-01-19 18:12] fsgmhoward commented on #11487
I can reproduce the issue that scrolling event being captured.

Environment: Firefox 91.5.0esr + Windows

How to reproduce: The textbox has to be clicked (so with blue highlighted border) + mouse must be within the input box, then mouse wheel scroll will trigger the change in numbers

So if the student click the textbox and enter the number, then immediately use the mouse to scroll down (without f

[2022-01-19 18:58] samuelfangjw commented on #8915
<img width="1215" alt="Screenshot 2022-01-20 at 2 54 35 AM" src="https://user-images.githubusercontent.com/60355570/150195959-511aa437-b3c6-49cd-b013-61bc77759bbc.png">

This feature seems to have been implemented already! I believe it's ok to close @madanalogy.

[2022-01-20 00:14] madanalogy commented on #8915
Thanks for the catch!

[2022-01-20 00:15] #8915 closed

[2022-01-20 01:33] t-cheepeng commented on #11235
@sshamouilian You are free to work on the PR

[2022-01-20 01:36] #11520 closed

[2022-01-20 02:03] moziliar commented on #11487
@fsgmhoward It looks plausible a finding. Do you have any suggestions on how it can be fixed?

[2022-01-20 04:38] fsgmhoward commented on #11487
@moziliar I am unsure whether the mouse wheel scroll is the cause for what these students reported. Disabling the default action for mouse scroll event should fix this. I will try to take a look at it.

[2022-01-20 04:39] moziliar commented on #11487
@fsgmhoward ok. Thanks for the investigation effort. We can try with this fix and reopen the issue if the issue is still recurring.

[2022-01-21 01:47] #11504 closed

[2022-01-21 01:48] madanalogy opened #11535 "Release V8.6.0"
Scheduled for Friday, Jan 21, 2022, 10.00am SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-01-21 02:00] madanalogy commented on #11535
[V8.6.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.6.0) has been released by @madanalogy at January 21st, 2022, 09.57am SGT.

Code contributions from: @Emp923, @NicolasCwy, @ethanwpgallagher, @madanalogy, @shadowezz, @ziqing26
Review contributions from: @damithc, @daongochieu2810, @jianhandev, @madanalogy, @moziliar, @t-cheepeng, @wkurniawan07, @ypinhsuan

Ready for post-release check

[2022-01-21 03:24] damithc commented on #11535
Deployed and released. Thanks everyone who contributed 💯

[2022-01-21 03:28] madanalogy opened #11537 "E2E Cross Browser Tests Failing Consistently"
Since after release of `V8.3.0`, new commits to `master` have been consistently failing at least one of the automated e2e cross browser tests. Not very sure what the root cause is as the specific test suite(s) that fail are not consistent.

[2022-01-21 03:29] #11535 closed

[2022-01-21 12:17] zhaojj2209 opened #11539 "Feedback response submission: Requests sent to backend despite invalid response"
As discussed in #11521, if an invalid question response is submitted, the response will be marked as "failed to save" and the frontend should not attempt to submit the feedback response for that question. In such cases, the error message for the question should be `Invalid responses provided. Please check question constraints.`
![image](https://user-images.githubusercontent.com/54243224/150525730-

[2022-01-23 05:29] moziliar opened #11540 "Make maintainer logs interface scrollable only below the input section"
**Description of feature/enhancement**
Box up the log output and make them scrollable, separated from the filter inputs.

**Justification**
Use case: maintainer reading the logs needs to scroll up after reading the logs data for some time to recall what are the filter inputs. A better UX can be that the filter input fields can be frozen on top, and let the logs part scrollable.

[2022-01-23 05:49] samuelfangjw commented on #11540
Hi, I would like to work on this.

[2022-01-23 05:49] moziliar commented on #11540
Thanks:) appreciate that!

[2022-01-23 12:10] samuelfangjw commented on #11540
@moziliar, would something like this work? Want to check if something simple would do the trick before I add more complexity.

https://user-images.githubusercontent.com/60355570/150677249-b299b5f8-7c69-4eb4-8a20-14df6da0b695.mov

I think the original idea works too (filter input frozen at top), but need to find some way to reduce the amount of space the filter input selection area takes up, since

[2022-01-23 12:25] moziliar commented on #11540
It is indeed what I thought of when I used this UI on my larger than normal monitor. It appears to me that the view will not have much benefit for a regular screen. Do you have any better that could make this work?

Here are some of my thoughts:
1. As the page is scrolled down, make it such that the filter input are listed in a horizontal list form (so that the maintainer still can refer to the in

[2022-01-23 13:20] samuelfangjw commented on #11540
Was thinking maybe clicking the query button will collapse input area and display something similar to this (is this what your 1st bullet point refers to?). Ideally with advanced settings as well, but only if applicable so it doesn't become a mess. Then clicking on edit settings will bring you back to the top and expand the input area so you can issue another query.

<img width="1552" alt="Screens

[2022-01-23 13:42] damithc commented on #11540
As maintainers are ourselves, it's OK if the UI/UX is not so refined, as long as it is 'good enough'. We can live with a few inconveniences for the time being :-)

[2022-01-25 07:41] moziliar commented on #11540
I guess the original change satisfies my use case. I'm good with it.

Perhaps the box can be bigger so that one still can have full screen view of the logs.

[2022-01-26 14:37] #11295 closed

[2022-01-28 14:14] samuelfangjw commented on #11511
Hi @simonteozw, still working on this? Do let us know if you need any help :)

[2022-01-28 14:43] simonteozw commented on #11511
Hi @samuelfangjw so sorry I have been really busy for the last 2 weeks and haven't had time to start this. Let me get started over the weekend. If I need any help I'll post it here

[2022-01-31 03:28] #11402 closed

[2022-01-31 04:44] samuelfangjw commented on #11540
Sorry missed this, will submit a PR shortly.

[2022-01-31 08:39] FergusMok commented on #11152
Hello, I'll take this issue as the previous PR has been closed due to inactivity.

[2022-01-31 16:03] samuelfangjw opened #11547 "Outdated question in instructor help page"
This section of instructor help page seems to be outdated.

<img width="522" alt="Screen Shot 2022-01-31 at 11 52 09 PM" src="https://user-images.githubusercontent.com/60355570/151826646-2540a462-4a7f-44bc-a7f5-91f1dd97ec7c.png">

Looking at the students page, there doesn't seem to be a way to filter out students and the "Copy Emails" button doesn't seem to exist anywhere else in the repo.

<img w

[2022-02-01 02:31] jayasting98 opened #11548 "Add edit functionality for admins adding new instructors"
**Description of feature/enhancement**

Enable the editing of the details of new instructors before they are finally officially added by admins to the system.

**Justification**

An admin may want to add some instructors to the system. However, they may make some mistakes while entering their details. These mistakes can be corrected by having some way to edit the details before the instructors are

[2022-02-01 02:33] jayasting98 commented on #11548
As discussed with @wkurniawan07, I will be introducing this feature.

[2022-02-01 12:48] FergusMok opened #11551 "Tables showing incorrect message after loading"
When loading the home page, after the spinner has disappeared, the course shows the standard "Currently, there is no open feedback/response.." briefly, before displaying the actual results.
The bug seems to affect other tables that need to be populated with data from the backend too (e.g Instructor's Students page)

https://user-images.githubusercontent.com/10182564/151970902-cf626287-0c2a-4411-88

[2022-02-01 14:39] #11235 closed

[2022-02-01 16:55] #8364 closed

[2022-02-04 10:10] samuelfangjw opened #11553 "Make account requests searchable in admin search page"
- **Environment**:  live server at `V8.6.0`

**Description of feature/enhancement**

As suggested by @wkurniawan07, ~once #11396 is merged~, we should allow account requests to be searchable within the admin search page.

**Justification**

This will allow us to support resending links as well as deleting account requests.

**Existing similar features and their shortcomings**

~Once #11396 is merg

[2022-02-04 10:53] #11539 closed

[2022-02-05 02:13] #11371 closed

[2022-02-05 02:15] madanalogy opened #11554 "Release V8.7.0"
Scheduled for Sunday, Feb 6 2022, 10.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-02-06 06:50] fsgmhoward commented on #11551
I am able to reproduce this on my Firefox browser. It looks like the loading circle vanishes after loading session list but before `hasResponses` being loaded. I guess I can take a look at this.

[2022-02-06 11:50] ziqing26 opened #11556 "Infinite loading upon clearing text in a date picker"
**Environment**
Live server at `V8.6.0`

**Steps to reproduce**
1. Choose a feedback session to edit (go to Edit Feedback Session Page)
2. Delete the date for any date picker (for example, Submission opening time or Make session visible)
3. Click 'Save Changes" button.
![ezgif-2-a56aae2095](https://user-images.githubusercontent.com/69516975/152679421-9ef34413-1499-4a4e-b778-1ddb995e884c.gif)

**Ex

[2022-02-06 15:23] #11357 closed

[2022-02-06 15:59] wkurniawan07 opened #11559 "Include session submission/results URL for instructor in instructor-addressed emails"
- **Environment**: live server at V8.6.0, but feature is absent since at least V6.0.0

**Description of feature/enhancement**

Currently, for instructor-addressed emails when session is opened, closing, closed, and published, only a carbon copy of email as seen by student is included. The URLs that the instructors themselves have to use for submitting/viewing results are absent. Those URLs should

[2022-02-06 17:59] wkurniawan07 commented on #11547
This question is really weirdly phrased. It is as if we're providing a built-in email function, which obviously isn't the case. That alone should make the existence of the question highly questionable.
If the question is to be kept, the first thing that should be changed is how the question itself is phrased.

[2022-02-07 01:03] FergusMok commented on #11556
Sounds good, I'll try to fix this issue

[2022-02-07 02:50] #11537 closed

[2022-02-07 03:27] madanalogy commented on #11554
[V8.7.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.7.0) has been released by @madanalogy at February 7th, 2022, 11.25am SGT.

Code contributions from: @fsgmhoward, @samuelfangjw, @shadowezz, @sshamouilian, @wkurniawan07, @zhaojj2209
Review contributions from: @damithc, @daongochieu2810, @halfwhole, @jianhandev, @madanalogy, @moziliar, @samuelfangjw, @t-cheepeng, @wkurniawan07, @ypinhs

[2022-02-07 14:02] fsgmhoward commented on #11547
I am not really sure the origin of this question but I guess it is put there because some instructor ask how to do it some times ago? I would say it is a valid concern for some instructors as they may want to use this similar to an LMS. We can still put some instructions for them to extract the email and put an emphasis there saying this feature is not provided by TEAMMATES.

[2022-02-08 02:04] moziliar commented on #11553
@samuelfangjw any updates on this issue?

[2022-02-08 02:43] samuelfangjw commented on #11553
I've blocked off some time today for this, will probably submit a PR later tonight if no issues.

[2022-02-09 04:58] damithc commented on #11554
Deployed and released. Thanks everyone who pitched in 💯

[2022-02-09 04:58] #11554 closed

[2022-02-09 14:43] zhaojj2209 commented on #11370
Since this issue is no longer being worked on, I'll try working on it!

[2022-02-11 05:37] fsgmhoward commented on #11551
I cannot reproduce the same issue for instructor. Could you please provide more detail for that?
For the student home page it should be fixed in my PR.

[2022-02-11 07:42] FergusMok commented on #11551
@fsgmhoward The recording may show the problem more clearly. But basically the same problem with the student tables.

https://user-images.githubusercontent.com/10182564/153553882-0ac86109-d4ae-4b6c-989c-d67ee6c662a6.mp4

[2022-02-11 11:01] fsgmhoward commented on #11551
@FergusMok Thanks for the recording. I only checked the Instructor Home page. Let me go check about it.

[2022-02-11 12:57] fsgmhoward opened #11564 "Linting should be skipped for generated files during local build and test"
This is a very minor improvement which would improve local testing efficiency in my opinion.

**Steps to reproduce**

Run `npm lint` (specifically, it affects `lint:css` and `lint:space`).

Basically, the auto generated files of `npm run build` has been linted, resulting a large number of errors thrown out. Also, json files generated by lnp tests also fails the test.

**Expected behaviour**

Only

[2022-02-12 04:44] fsgmhoward commented on #11551
I have pushed the changes to the PR. It should have fixed this issue.

[2022-02-12 10:36] #11152 closed

[2022-02-13 07:44] #11553 closed

[2022-02-13 08:47] #8787 closed

[2022-02-13 11:13] samuelfangjw commented on #11433
We can continue working on this now that #11396 and #11560 have been merged.

Fixing this should only involve:
1. Adding a `deleteAccountRequest` function in `account.service.ts`.  This function should call the delete account request endpoint.
2. Adding a button to delete an account request in the admin search page (there is a new account request section), handling any errors that might be thrown.

[2022-02-15 02:37] #11466 closed

[2022-02-15 03:31] #9031 closed

[2022-02-15 03:33] madanalogy opened #11568 "Release V8.8.0"
Scheduled for Sunday, Feb 20, 2022, 11.00pm SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [x] Released the new version for end users

[2022-02-15 13:21] #11548 closed

[2022-02-15 14:35] #5697 closed

[2022-02-15 14:35] #11559 closed

[2022-02-15 15:58] #11540 closed

[2022-02-15 17:19] wkurniawan07 opened #11569 "Move app ID and app version configuration out of build.properties"
Current: app ID and app version are configured via `build.properties`.

Problem:
While not necessarily a problem, this is a practice that is no longer justifiable because the system is already decoupled from App Engine since V8.0.0. App ID and version are deployment-specific metadata whose values should be set outside of (non-deployment) code.

Solution:
- App ID and app version are only relevant

[2022-02-16 16:27] ziqing26 commented on #9976
I would like to work on this issue and start with investigating other similar forms.

[2022-02-16 18:10] wkurniawan07 opened #11570 "Move third-party service configuration classes out of logic.core"
Current: The classes that configure the third-party service configurations, including GCP services, are located in `logic.core` package, the same package that contains our internal business logic for courses, students, instructors, etc.

Problem: It opens up the risk of our internal business logic directly calling the logic for the third-party dependencies. The converse is also true. Fortunately,

[2022-02-17 06:01] halfwhole opened #11571 "Selective Deadline Extensions"
This issue keeps track of PRs relating to the selective deadline extensions feature. More info can be found on the wiki at https://github.com/TEAMMATES/teammates/wiki/Selective-Deadline-Extensions

We'll be working on a feature branch called [`selective-deadline-extension`](https://github.com/TEAMMATES/teammates/tree/selective-deadline-extension), and this issue will be resolved when the branch is

[2022-02-17 11:38] fsgmhoward opened #11572 "Notification Feature"
This issue keeps track of PRs related to the new Notification feature (a.k.a. Message of the Day). This new feature aims to provide a convenient way for the administrator(s) to disseminate information to users (including both students and instructors). More information can be found here: https://github.com/TEAMMATES/teammates/wiki/Message-of-the-Day

The tracking branch for this feature is [`notif

[2022-02-17 13:31] #11487 closed

[2022-02-18 17:05] wkurniawan07 opened #11578 "Make user cookie time sensitive"
https://github.com/TEAMMATES/teammates/blob/4ec60a2a9238ff85a3c99ac20967ed127e6e0921/src/main/java/teammates/common/datatransfer/UserInfoCookie.java#L12-L21

Current: user info cookie only stores the user ID (the verification code is a function of the user ID only).

Problem: it means that the cookie is not time-sensitive and once obtained can be used beyond its intended age (of one week). While t

[2022-02-18 17:10] #6948 closed

[2022-02-18 17:12] wkurniawan07 commented on #7232
<img width="1232" alt="Screenshot 2022-02-19 at 1 11 25 AM" src="https://user-images.githubusercontent.com/7261051/154730165-91c5f19e-d350-40e8-b298-737288147658.png">

Feature is already there.

[2022-02-18 17:13] wkurniawan07 commented on #7467
No longer reproducible.

[2022-02-18 17:13] #7467 closed

[2022-02-18 17:14] wkurniawan07 commented on #7860
Closing due to infeasibility. Even correcting typos can warrant change in responses. Consider
[code]
vs
[code]

[2022-02-18 17:14] #7860 closed

[2022-02-18 17:16] #8527 closed, assigned to nobody

[2022-02-18 17:19] wkurniawan07 commented on #8595
- No occurrence in recent times
- #10901 makes this far harder to trace

[2022-02-18 17:19] #8595 closed

[2022-02-18 17:20] wkurniawan07 commented on #8932
No longer applicable; current tooltips in the said place are simple.

[2022-02-18 17:20] #8932 closed

[2022-02-18 17:21] wkurniawan07 commented on #10382
Closing due to lack of scope, planning, and progress.

[2022-02-18 17:21] #10382 closed

[2022-02-18 17:22] wkurniawan07 commented on #10556
Closing as there is no urgent need for this anymore. Organic improvements for this (or any component) can always be done on demand.

[2022-02-18 17:22] #10556 closed

[2022-02-18 17:24] wkurniawan07 commented on #10915
Closing for now due to lack of scope and planning.

[2022-02-18 17:24] #10915 closed

[2022-02-18 17:25] #10859 closed

[2022-02-18 17:26] wkurniawan07 commented on #10964
"Allow course instructor to create course with > 100 students." is already achieved. Any other kind of performance improvement should warrant a different issue.

[2022-02-18 17:26] #10964 closed

[2022-02-18 17:27] wkurniawan07 commented on #10969
Closing for reason similar to #10859: feature has been done, release is another story.

[2022-02-18 17:27] #10969 closed

[2022-02-18 17:28] wkurniawan07 commented on #11026
Not a priority at the moment.

[2022-02-18 17:28] #11026 closed

[2022-02-18 17:29] wkurniawan07 commented on #11070
Closing as this is a false report from the very beginning.

[2022-02-18 17:29] #11070 closed

[2022-02-18 17:29] wkurniawan07 commented on #11111
Closing as the code which produced the stack trace is no longer there.

[2022-02-18 17:30] wkurniawan07 commented on #11138
Closing as the code which produced the stack trace is no longer there. (made obsolete by V8 migration)

[2022-02-18 17:30] #11138 closed

[2022-02-18 17:31] #11134 closed

[2022-02-18 17:32] wkurniawan07 commented on #11463
Closing as the feature is done. Adding the missing tests can always be done with reference to another issue (or even this issue, even if already closed).

[2022-02-18 17:32] #11463 closed

[2022-02-18 17:32] #11475 closed

[2022-02-18 17:33] #11503 closed

[2022-02-18 17:36] #3317 closed

[2022-02-18 17:41] wkurniawan07 commented on #10243
Superseded by #10976

[2022-02-18 17:41] #10243 closed

[2022-02-18 17:47] wkurniawan07 commented on #10994
Closing as there is no recent occurrence.

[2022-02-18 17:47] #10994 closed

[2022-02-18 17:58] #8864 closed

[2022-02-19 07:59] wkurniawan07 opened #11579 "Remove usermap page"
Reason: The constant maintenance required to keep this up-to-date (which has not been done since June 2019) does not justify the little value it brings.

[2022-02-19 14:08] #9152 closed

[2022-02-19 20:26] tjtanjin commented on #11433
Hey @samuelfangjw, apologies for the slow follow-up. The earliest I can work on this issue would be during the mid-recess week though I noticed you have opened a draft PR. If you're able to spare the time to finish the PR within the next couple of days then please go ahead and I'd greatly appreciate it. Otherwise I'd be happy to finish up the issue during the recess week as well, thanks!

[2022-02-20 07:58] NicolasCwy commented on #11245
Ill give this a shot!

[2022-02-20 16:00] madanalogy commented on #11568
[V8.8.0](https://github.com/TEAMMATES/teammates/releases/tag/V8.8.0) has been released by @madanalogy at February 20th, 2022, 11.57pm SGT.

Code contributions from: @FergusMok, @NicolasCwy, @fsgmhoward, @jayasting98, @samuelfangjw, @wkurniawan07
Review contributions from: @NicolasCwy, @daongochieu2810, @jianhandev, @madanalogy, @moziliar, @samuelfangjw, @t-cheepeng, @wkurniawan07

Ready for post-r

[2022-02-20 17:05] wkurniawan07 commented on #11568
Need to run the following new commands in the Solr instance:
https://github.com/TEAMMATES/teammates/blob/f70ae535d0d0586d48530704227b67f169f49bfb/solr/solr.sh#L15-L19

[2022-02-20 20:23] samuelfangjw opened #11583 "Add AccountRequest entity to storage component diagram"
- **Environment**:  `master` branch at commit [f70ae53](https://github.com/TEAMMATES/teammates/commit/f70ae535d0d0586d48530704227b67f169f49bfb)

AccountRequest entity was added in #11396, but the current storage component diagram has not been updated to reflect the changes.

![image](https://user-images.githubusercontent.com/60355570/154862719-1fd945bd-3e5b-4da2-9095-94f25382ef69.png)

[2022-02-21 02:19] Jaswanth19-596 commented on #11150
I would like to work on this..... Is this issue still open

[2022-02-21 02:24] moziliar opened #11585 "Make minor data read into key-only queries"
Currently, there are a number of places in TEAMMATES backend that perform data entity read just to get a count or check if any such entities exist. We can cut the unnecessary cost from these data read by making them key-only query or simply apply `count()`.

Candidates for such optimization:
* ~`FeedbackQuestionsLogic.isQuestionFullyAnsweredByUser`~
* `FeedbackSessionsLogic.getExpectedTotalSubmiss

[2022-02-21 12:39] wkurniawan07 opened #11586 "Remove trimming of gmail.com for user accounts"
https://github.com/TEAMMATES/teammates/blob/f70ae535d0d0586d48530704227b67f169f49bfb/src/main/java/teammates/common/util/SanitizationHelper.java#L53-L55

https://github.com/TEAMMATES/teammates/blob/f70ae535d0d0586d48530704227b67f169f49bfb/src/main/java/teammates/ui/servlets/DevServerLoginServlet.java#L63

https://github.com/TEAMMATES/teammates/blob/f70ae535d0d0586d48530704227b67f169f49bfb/src/main

[2022-02-21 16:11] daongochieu2810 commented on #11150
@Jaswanth19-596 @rudheer it seems like @Moneill22 is still working on this issue

[2022-02-21 16:18] wkurniawan07 commented on #11586
Not at all. This issue involves data migration. Even putting `help wanted` there is already pushing the limits.

[2022-02-21 17:11] damithc opened #11587 "Student home page shows incorrect state while loading"
![image](https://user-images.githubusercontent.com/1673303/155000333-96882d7f-e7b5-48a9-92e4-30c43324b80e.png)

This appears momentarily before the table is populated with the session data

[2022-02-21 17:14] samuelfangjw commented on #11587
Possible duplicate of #11551, which should be fixed in the v8.8.0

[2022-02-21 17:17] damithc commented on #11587
Thanks for checking @samuelfangjw
Is this fixed as well? it's similar case but for students viewing results of a session

![image](https://user-images.githubusercontent.com/1673303/155001281-41cb3b63-b02e-4ac0-98d9-296c6098f2a0.png)

[2022-02-21 17:21] samuelfangjw commented on #11587
I don't believe so. Able to replicate on current master branch, and I don't remember seeing an issue or PR for this.

[2022-02-21 17:29] damithc commented on #11587
Got it. Will create a separate issue.

[2022-02-21 17:29] #11587 closed

[2022-02-21 17:32] damithc opened #11588 "Student viewing results: incorrect state shown while loading"
Steps:
1. Login as a student
2. View results of a session
3. Problem: This message is shown for a brief instance while results are still loading
![image](https://user-images.githubusercontent.com/1673303/155001281-41cb3b63-b02e-4ac0-98d9-296c6098f2a0.png)

Session detail also appear blank but that is less of a problem compared to the above.

[2022-02-22 02:44] Jaswanth19-596 commented on #11150
Can I work parallely or should I wait till you assaign it to me .

On Mon, Feb 21, 2022 at 9:41 PM dao ngoc hieu ***@***.***>
wrote:

[2022-02-22 19:50] tamrakarsweta220 opened #11590 "Compilation error after making a git pull request"
- **Commit SHA: f70ae535d0d0586d48530704227b67f169f49bfb**
- **Operating System: MacOS**
- **JDK Version: "15.0.2"**
- **Node.js Version: v17.3.0**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I wanted to create a new branch for an issue I wanted to work on. So, I followed the instructions written on the [development workflow page](https://gi

[2022-02-22 20:07] samuelfangjw commented on #11590
Hi @tamrakarsweta220, yes this is the expected behaviour. `./gradlew generateTypes` is used to generate type definitions required by TypeScript in the frontend from the single source of truth in the backend (e.g. API output formats, Constant, etc...).

Updating the type definitions is only needed occasionally when new features result in new type definitions being added and is not expected to be a

[2022-02-23 05:44] moziliar commented on #11150
@Jaswanth19-596 there is another contributor working on this issue. Please find another issue to work on in the mean time

[2022-02-23 05:46] moziliar commented on #11588
@fsgmhoward would you wanna give it a try? Seems like the same issue you solved recently.

[2022-02-23 07:26] samuelfangjw opened #11591 "E2E Tests (Firefox) Failing Consistently"
- **Environment**:
`master` branch at commit [f70ae53](https://github.com/TEAMMATES/teammates/commit/f70ae535d0d0586d48530704227b67f169f49bfb).

The same 4 [E2E](https://github.com/TEAMMATES/teammates/actions/workflows/e2e.yml) tests have been failing consistently over the last 24 hours, including the [daily scheduled one](https://github.com/TEAMMATES/teammates/runs/5296728447?check_suite_focus=tr

[2022-02-23 08:09] fsgmhoward commented on #11588
@moziliar Sure. I will take a look at it later.

[2022-02-23 08:43] damithc commented on #11568
Deployed and released. Thanks for the contributions everyone 💯

Did a quick test. Account requests are captured in search results now.

[2022-02-23 08:43] #11568 closed

[2022-02-23 08:46] #11578 closed

[2022-02-23 15:27] leddy231 opened #11592 "Wrong argument order in populateFieldsToGenerateInQuestion causes NPE"
The arguments here
https://github.com/TEAMMATES/teammates/blob/49bea442067302441e41c5416efe6b8333614666/src/main/java/teammates/logic/core/FeedbackQuestionsLogic.java#L626
and here
https://github.com/TEAMMATES/teammates/blob/49bea442067302441e41c5416efe6b8333614666/src/main/java/teammates/logic/core/FeedbackQuestionsLogic.java#L650
are in the wrong order, causeing a NullPointerException one line d

[2022-02-23 15:40] wkurniawan07 commented on #11592
This is a critical bug and warrants a hot-patch. @leddy231 thanks for catching this!

[2022-02-23 17:09] ben-mathu commented on #11236
Anyone working on this issue?

[2022-02-24 20:51] SavidBasnyat opened #11594 "Can not search for students in instructor search page (difficulties using Apache Solr)"
- **Commit SHA:**
- **Operating System:** MacOS
- **JDK Version:** 14.0.2
- **Node.js Version:** v14.18.0
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**

I realized that I need to setup Solr in order to work on search features. I followed the steps on [Setting up Solr manually](https://github.com/TEAMMATES/teammates/blob/master/docs/search.md#s

[2022-02-24 23:08] hhdqirui commented on #11236
Hi @ben-mathu, there is already an open PR for this issue. You can find another issue to work on. Thank you for your interest!

[2022-02-25 04:11] #11592 closed

[2022-02-25 08:22] samuelfangjw commented on #11594
Hi @SavidBasnyat, seems like the link in step 3 needs to be updated. Could you try following step 3 with [this link](https://github.com/TEAMMATES/teammates/blob/master/solr/solr.sh) instead?

[2022-02-25 14:19] FergusMok commented on #3431
I've tried replicating the problem, but I believe the problem has already been solved (3 years ago)

This is the "Feedback Session Results" view of an instructor that is unable to view responses (There is a submitted response).

![image](https://user-images.githubusercontent.com/10182564/155729775-af32ea15-f233-40c2-93fc-1d926ed88000.png)

[2022-02-25 18:33] FergusMok opened #11597 "Improve linting messge output"
When running `npm run lint`, the command is unnecessarily verbose, and can span hundreds of lines of unhelpful output. Developers may need to scroll multiple pages to get to the error, and as a result may initially miss out on noticing the errors.

The command should only return the necessary information to correct the linting errors.

[2022-02-25 19:06] samuelfangjw opened #11598 "Outdated link in Solr documentation"
- **Environment**: `master` branch at commit [c805534](https://github.com/TEAMMATES/teammates/commit/c805534a7fc588ea3f26cb01d702f8dc92e704c0).

Outdated link in step 3 of [Setting up Solr manually](https://github.com/TEAMMATES/teammates/blob/master/docs/search.md#setting-up-solr-manually).

**Additional info**
The correct link should be [https://github.com/TEAMMATES/teammates/blob/master/solr/sol