[2018-07-20 05:58] tanhengyeow commented on #8972
@damithc Require your input on this behavior:

![paste option](https://user-images.githubusercontent.com/25320782/42985621-d6e7e0fc-8c24-11e8-91aa-ac0ef65bc4db.gif)

![image](https://user-images.githubusercontent.com/25320782/42985626-e4707ad6-8c24-11e8-84ab-bb4e996f588b.png)

[2018-07-20 06:40] damithc commented on #8972
Looks good!

[2018-07-20 08:16] #8971 closed

[2018-07-20 09:41] #8852 closed

[2018-07-21 13:44] xpdavid commented on #8452
@damithc Would like to check the activity traces for the instructor (email + '%' + courseId) before the exception happen.

[2018-07-22 05:08] LiHaoTan commented on #8972
@tanhengyeow I don't think it is true that browsers have no access to clipboard. See: https://developers.google.com/web/updates/2018/03/clipboardapi

[2018-07-22 05:29] tanhengyeow commented on #8972
@LiHaoTan Thanks for sharing the article, it was a good read :) Yup you're right on that.

To summarize what I mentioned in https://github.com/TEAMMATES/teammates/issues/8972#issuecomment-406481827, `Handsontable` doesn't handle pasting through the `paste` option in its current context menu feature.

This means that we have to implement the pasting workflow ourselves and one possible way is throug

[2018-07-22 05:40] damithc commented on #8972
Probably no need. IIRC, even big guys (Google? I remember seeing it in several notable Web apps) simply ask the user to use keyboard shortcut instead. Still, it's good to have an accurate idea of the reasoning behind it. Thanks for the additional info @LiHaoTan

[2018-07-22 07:53] LiHaoTan commented on #8972
I think it is unfortunate there is no easy way to implement clipboard access until very recently. And while it is true it appears that only Chrome supports the API, I think we can look forward to the API being supported in other browsers.

On the other hand, practically speaking Chrome holds a very large market share and though I cannot guess the TEAMMATES demographics I would think its use is goi

[2018-07-23 05:01] damithc commented on #8972
Good point @LiHaoTan We can create an issue to add Paste support for Chrome, perhaps a low priority issue for new contributors to do. For the moment we can merge the simpler solution as @tanhengyeow has more urgent things to do in the next couple of weeks.

[2018-07-23 12:11] Mudra01 commented on #8814
hello, I am new to open source. I am a bit familiar with java and would like to work on this issue. Could you guide me through?

[2018-07-24 05:19] damithc commented on #8452
One case happened just now.
![image](https://user-images.githubusercontent.com/1673303/43118268-ba9d5df6-8f43-11e8-8c0e-c30de677dd4f.png)
Looks like the three attempts to retrieve the instructor object failed possibly because the entity is not saved yet.
I went to the instructors page of that course and resent the email using the 'Resend Invite' button. The email went through that time.
May be we

[2018-07-24 08:32] damithc opened #8980 "Instructor: delete course: rephrase message shown when there are no more courses left"
v6.7.0

Steps:
1. Login as an instructor
2. Delete courses until no courses are left

Current status message shown after the last course has been deleted:
![image](https://user-images.githubusercontent.com/1673303/43126197-a33f9c12-8f5e-11e8-84fc-3705d38b48c7.png)

Suggested: rephrase as `You do not seem to have any courses. Use the form above to create a course.`

Reason: the current phrasing is

[2018-07-24 08:37] damithc opened #8981 "Instructor: delete session: rename buttons in alert message to match question being asked"
v6.7.0

Steps:
1. Login as an instructor
2. Delete a session

Current alert shown:
![image](https://user-images.githubusercontent.com/1673303/43126509-78b1d66c-8f5f-11e8-82d0-97feafc89629.png)

Suggested:
Rename buttons to `No, cancel the operation` and `Yes` to match the question being asked in the alert.

[2018-07-24 10:41] xpdavid commented on #8452
I think so.

Refer to the documentation of DataStore

![image](https://user-images.githubusercontent.com/13977235/43133042-1faa4462-8f70-11e8-9d7d-c9dd97061dba.png)

So I guess when we are inbetween the `commi()` and `milestone A` and the worker action is triggered, the exception will happen (Indeed, there are less than 1s between the two actions).

To really achieve the strong consistency, we nee

[2018-07-24 21:16] AmineToualbi commented on #8981
Hi,

I would like to try myself to that.

[2018-07-25 00:32] AmineToualbi commented on #8981
After spending my whole afternoon trying to download the Google Cloud plug-in, I haven't been able to do it. It seems to be a certificate problem & the many solutions I tried didn't get me anywhere. Anyone can pick this issue up, I'm sorry.

[2018-07-25 03:10] #8927 closed

[2018-07-25 04:02] #6711 closed

[2018-07-25 05:57] #8701 closed

[2018-07-25 09:22] #2542 closed

[2018-07-26 00:33] AmineToualbi opened #8984 "Instructor Login Impossible"
Hi,

I just joined this project recently. I set up everything & the app runs smoothly on my computer.

I am trying to log in as an instructor but I can't do it. I am following the steps described here: https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance

I tried logging in as the admin & adding the instructor. When I try to find a join link, I

[2018-07-26 03:00] jacoblipech commented on #8984
<img width="938" alt="screen shot 2018-07-26 at 10 55 26 am" src="https://user-images.githubusercontent.com/28522090/43238825-6e69f39c-90c2-11e8-974c-b35af9b1de66.png">

Did you see a join link like the one above when you first created the instructor?

Upon clicking it, you will be directed to the course confirmation page. However as you are logged in as `admin` at the moment, so you need to copy

[2018-07-26 03:46] AmineToualbi commented on #8984
I do not have that link.

Here is what I have no matter how many times I press the "Add Instructor" button.

<img width="1280" alt="screen shot 2018-07-25 at 23 45 28" src="https://user-images.githubusercontent.com/29878624/43240516-e3b5c562-9064-11e8-8e44-45faa08fea6d.png">

What could be happening wrong?

[2018-07-26 03:50] dalessr commented on #8984
@AmineToualbi If you scroll down can you see an error message?

[2018-07-26 03:54] AmineToualbi commented on #8984
@dalessr No, not really. There's nothing down there. You can see the white part is because I am trying to scroll down.

<img width="1280" alt="screen shot 2018-07-25 at 23 53 40" src="https://user-images.githubusercontent.com/29878624/43240752-0a024730-9066-11e8-81e2-5bfb529c95c1.png">

[2018-07-26 04:15] damithc commented on #8984
Do you see any errors in the TEAMMATES web server console?

[2018-07-26 04:18] damithc commented on #8984
Perhaps you can post here the output of the console in which you started the server?It'll help others to debug the problem. Before copying the output here, remember to click the `Add Instructor` button once.

[2018-07-26 04:40] AmineToualbi commented on #8984
I do not get any error when I press the button. However, I have stuff showing up when I access the admin page before.

`INFO: TEAMMATESLOG|||adminHomePage|||adminHomePage|||true|||Admin|||Unknown|||test@example.com|||Unknown|||Admin Home Page Load|||/admin/adminHomePage|||test@example.com%2018072612393055|||20
Jul 26, 2018 12:39:30 AM com.google.appengine.tools.development.jetty9.LocalResourceFile

[2018-07-26 04:50] dalessr commented on #8984
Hmm...seems that you didn't [build JavaScript files](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#building-javascript-files) properly.

Stop the dev server and try entering the following commands in the root directory:
[code]
If there's no error showing in the console, start the dev server and try again :)

[2018-07-26 05:05] AmineToualbi commented on #8984
Here is what I get when I run those commands.

<img width="596" alt="screen shot 2018-07-26 at 01 02 26" src="https://user-images.githubusercontent.com/29878624/43242578-dd60cef4-906f-11e8-9076-b47b1753f737.png">

After ignoring this & running the commands, I still get the same warnings.

Any clue?

[2018-07-26 05:39] AmineToualbi commented on #8984
I had to restart my whole IDE after the commands & it works now!

Thank you very much, can't wait to start working on my first issue. 👍

[2018-07-26 06:11] tanhengyeow opened #8985 "Spreadsheet Interface for Student Data UI: Improve status message for the enroll process"
**Environment**:
`master` branch

**Description of feature/enhancement**
Continuation of #8883. Similar to #8959 and should be done and merged first before bringing in features from phase 3 and 4 of the student data UI upgrade.

**Justification**
It provides a more user friendly approach for rectifying errors as users get direct feedback on what went wrong on the specific row that needs correction

[2018-07-26 08:45] nidhi98gupta opened #8987 "Instructor: comment on responses: support entering comments for each response from view RQG"
**Environment:** master branch

**Description of feature/enhancement**
Instructor currently can only add comments from 4/5 views. This is enhancement to current comments feature i.e instructor should be able to add comment from Recipient-Question-Giver view.

[2018-07-26 10:55] dalessr commented on #8879
@damithc Actually for MCQ/MSQ questions, do we really need a radio button before each option since it is disabled all the time?

[2018-07-26 11:01] damithc commented on #8879
It's visual reminder that we are dealing with radio buttons (and not check boxes). Good to have I guess.

[2018-07-26 11:04] damithc commented on #8879
Sorry I missed this comment earlier. That's a good point @mg14777 especially about the accessibility.
I would hesitates to add it here though, as it complicates the UI (the options themselves might be numbers) and the list is not meant to be long, unlike a netflix playlist.

[2018-07-26 13:40] #8872 closed

[2018-07-26 16:21] #8984 closed

[2018-07-27 00:34] senguttuvan commented on #8980
Hi. I'd like to work on this!

[2018-07-27 02:29] #8980 closed

[2018-07-27 03:36] dalessr opened #8993 "Instructor: recycle bin feature: merge 'master' branch into 'recycling-bin' branch"
**Environment:**
`master` branch at commit https://github.com/TEAMMATES/teammates/commit/45cad236e9f61c0206a6552a3807ce7d52ab1269 -> `recycling-bin` branch at commit https://github.com/TEAMMATES/teammates/commit/be7fabdffe9b481c65289f2377604f732777fda1

**Justification:**
Rebasing `recycling-bin` branch directly is not convenient any more since some big PRs has been merged. Will resolve conflicts

[2018-07-27 03:40] tshradheya commented on #8452
To make it more foolproof, we can do both of these:

- Add `<min-backoff-seconds>2</min-backoff-seconds>`, so that next time it retries the changes to entities is visible and we can send the email. This will be done as a fault tolerance method to ensure email is send no matter what

https://github.com/TEAMMATES/teammates/blob/45cad236e9f61c0206a6552a3807ce7d52ab1269/src/main/webapp/WEB-INF/queue.x

[2018-07-27 03:51] damithc commented on #8452
Don't increase the gap between the two actions too much as it slows down the request, which affects the performance for other concurrent users as well. It even increases the risk of the request being killed because it exceeded the 60s limit.

Try tweaking the task queues instead: increasing the number of retries, the gap between retries, etc.

[2018-07-27 05:08] #8993 closed

[2018-07-27 07:45] dalessr commented on #1767
![1767-image-1](https://user-images.githubusercontent.com/22449685/43307890-36a512e8-91b2-11e8-8f22-ec8cf16868a9.png)

@damithc is this an expected UI? I feel that it should be more intuitive to add the checkbox here since this is the only place for instructor to edit student's team name. We can also add a tooltip for it (i.e. `If checked, team name of all the students inside the team will be upda

[2018-07-27 07:51] tanhengyeow opened #8994 "Spreadsheet Interface for Student Data UI: Section field should not be compulsory during enrollment"
**Environment**:
`master` branch

The current enroll process requires the `Section` field to be compulsory. This should not be the case. The `Section` field can be left blank.

[2018-07-27 07:59] damithc commented on #1767
Still, it's a bit odd to find that feature tucked in here. Can we have a separate `Rename team` button somewhere? When clicked, it will present a modal with a drop down to selected which team to rename and a text box to type the new name.

[2018-07-27 08:31] dalessr commented on #1767
In `InstructorStudentListPage` there's a panel for student list of each course. Shall we make use of the panel heading?

![1767-image-2](https://user-images.githubusercontent.com/22449685/43310569-831ff392-91ba-11e8-8c64-b7fd9541050e.png)

[2018-07-27 08:35] damithc commented on #1767
Sounds good. We can replicate it in other relevant places later.

[2018-07-27 08:37] dalessr commented on #1767
Yeah. In `InstructorHomePage` can also add an option under `Students` button:

![1767-image-3](https://user-images.githubusercontent.com/22449685/43310855-56300402-91bb-11e8-9ba5-1bda46f2121f.png)

[2018-07-28 03:57] #8987 closed

[2018-07-28 04:35] xpdavid opened #8997 "Release V6.8.0"
Re-Scheduled for Wednesday, Aug 1 2018, 10.00am SGT.

[2018-07-29 01:48] #8972 closed

[2018-07-29 10:10] mg14777 commented on #8932
@damithc Does using a modal like this look good ?

![adv_settings_modal1](https://user-images.githubusercontent.com/11634699/43365138-ef1968d8-931f-11e8-8e28-2748e3df97ec.gif)

![image](https://user-images.githubusercontent.com/11634699/43365140-f3c92fd0-931f-11e8-95b5-de7795331a1a.png)

[2018-07-29 10:59] mg14777 commented on #8981
@AmineToualbi Still working on this ?

[2018-07-29 11:02] YaroslavGnatyuk commented on #8981
Hi guys, I found solution for this issue. Can I post it?

[2018-07-29 12:06] dalessr commented on #8981
@YaroslavGnatyuk You can follow the steps [here](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues) to create a PR for it :)

[2018-07-29 12:17] damithc commented on #8932
Generally OK. Some comments:

* Best not to format `Note`, `At` and `Submission opening time` the same way. `Note` is different from the other two.
Something like this?

* Users don't normally use the phrase _custom date_. That's a programmer term.

[2018-07-29 14:14] #8958 closed

[2018-07-30 01:34] joanneong commented on #8952
Fixed by merged PR #8953 , forgot to comment in the PR during merging.

[2018-07-30 01:34] #8952 closed

[2018-07-30 02:27] dalessr opened #9002 "Instructor: Courses Page: Recycle Bin feature for courses"
**Environment:**
`master` branch at commit https://github.com/TEAMMATES/teammates/commit/4ed2bed6b6cedf8a17a7a16222355cd6e20e0f17

[2018-07-30 02:43] tshradheya commented on #9002
Rename this to something that shows this is the implementation for Recycle Bin for courses

[2018-07-30 07:23] sukanta-27 opened #9004 "instructorFeedbackResultsPage: Team Contribution Question: Help link is not showing statistics table"
- **Environment**:
`master` branch

**Steps to reproduce**
Noticed it while working on #8961

- Login as instructor
- Go to the results page for a session that has `Team Contribution` question with responses.
- Click the `How do I interpret/use these values?` link above Team contribution Response summary table.

**Expected behaviour**
The Instructor Help page that opens up should show the example

[2018-07-30 07:55] sukanta-27 commented on #9004
Working on this

[2018-07-30 11:43] sukanta-27 opened #9007 "Rubric questions: allow weight for each cell: Migrate legacy data into new format"
**Context:** [Rubric questions: allow weight for each cell](https://github.com/TEAMMATES/teammates/issues/7224)

Migrate legacy data for rubric weights into new format.

Should be done after #8961 is merged.

**Note:** The next step of data migration is to remove the code that deals with legacy data. For this step see #9026

[2018-07-31 05:16] #8854 closed

[2018-07-31 08:33] kavya1990 commented on #8273
Hi,
will share few useful information on [lambda expression in java](http://beyondcorner.com/java-8-lambda-expression-features-tutorial-examples/)
use cases of java 8 on iterators
1. Java 8 lambda expression are mainly used to execute a block of code later, once or multiple times.

2. In Boolean expressions we can use lambda expression.

Example: (List list) -> list.isEmpty()

3. Using lambda expr

[2018-07-31 10:33] #9002 closed

[2018-08-01 02:17] damithc opened #9011 "Warn if browser is not compatible with TEAMMATES"
It seems some of our features don't work in some Browsers e.g., IE
Should we detect the Browser and show a warning if the one detected is not known to be compatible to our code? i.e., Chrome, FF, Safari(?)

Reason: users using incompatible Browsers might think TEAMMATES is broken and ditch it without contacting us for help

[2018-08-01 11:26] #8906 closed

[2018-08-01 11:26] #8964 closed

[2018-08-02 01:36] #9004 closed

[2018-08-02 03:24] damithc commented on #8850
@sukanta-27 shall we put this on hold for a while. Next week is going to be busy for mentors as GSoC students try to wrap up their work -- perhaps best not to start whole new features during this period. It's ok not to do this under your GSoC as long as you have done enough other work.

[2018-08-02 07:38] sukanta-27 commented on #8850
@damithc I am okay with that. But I will like to have some feedback from @xpdavid and @bqnguyen94 on this too.

@xpdavid @bqnguyen94 Should we put this on hold until GSoC period ends? Will that be okay?

[2018-08-02 08:48] xpdavid commented on #8997
Yes.

![image](https://user-images.githubusercontent.com/13977235/43573133-a298d97e-9673-11e8-90b8-17c282b50366.png)

Google will prompt login page for previous logged-in user account.

@tshradheya Do you plan to fix it?

[2018-08-02 10:08] tshradheya commented on #8997
Looking into it.

It might take me a while to submit a PR for the fix cause I am currently a bit pre occupied and will be traveling tomorrow.

If this is the only test affected then I think its fine to deploy the changes?

[2018-08-02 10:15] damithc commented on #8997
I'm afraid none of the tests can go past the login screen. All UI tests need to login as admin.

[2018-08-02 10:17] tshradheya commented on #8997
In that case I will try my best to submit the fix by tonight

[2018-08-02 10:25] bqnguyen94 commented on #8850
I am ok with this too 👍

[2018-08-02 10:39] xpdavid commented on #8997
@damithc  @tshradheya

A quick fix:

change `GoogleLoginPage.java`
[code]

Run against several tests and I think it works.

[2018-08-02 11:15] dalessr opened #9013 "Instructor: recycle bin feature: refactor term 'recovery' to other meaningful terms"
**Environment:**
`recycling-bin` branch at commit https://github.com/TEAMMATES/teammates/commit/a88eb1caba3fcdeb748d643d3c8288f8ab2839a6

**Examples:**
- `getRecoveryCoursesForInstructors` -> `getSoftDeletedCoursesForInstructors`
- `recoveryCoursesTable` -> `softDeletedCoursesTable`
- `restoreFeedbackSessionFromRecovery` -> `restoreFeedbackSessionFromRecycleBin`

[2018-08-02 11:56] damithc commented on #8997
Yup, that worked. 👍

[2018-08-02 15:13] xpdavid commented on #8997
Seems like there is some load balancing mechanism in Google Site. Sometime, the login page will jump back to the old version. @tshradheya You may need to consider this.

[2018-08-02 15:30] mg14777 commented on #9011
@damithc can you give an example of the features under consideration ?

[2018-08-02 15:34] damithc commented on #9011
No precise info. it's just that there were many cases where the user says something doesn't work and things starts working after they switch to chrome or firefox (the two browsers we use for testing). As we don't test on other browsers, there's always a chance that something doesn't work in them.

[2018-08-02 15:44] mg14777 commented on #9011
hmm ok i'll have a look

[2018-08-02 15:46] tshradheya opened #9015 "UI tests against live server: update automated login to match new Google login page"
Google has introduced a new login page that doesn't match with our current login script used by UI tests.

More information on #8997

[2018-08-02 15:54] tshradheya commented on #9015
Continuing conversation here.

@xpdavid, I think Google is sometimes even loading sign in which was used before #7251 was merged.

As shown in the screenshot, the `id` if `identifierTextBox` is `Email` which was used before(2 versions back?).

<img width="999" alt="screen shot 2018-08-02 at 9 21 10 pm" src="https://user-images.githubusercontent.com/12574756/43595431-4ebe1310-969a-11e8-9039-9fb5259

[2018-08-02 16:02] xpdavid commented on #9015
I guess it my due the network speed. In my school I can always get the new login page while in my home I sometimes get the old login page like the one above.

I believe the URL for the two login page are different. Maybe we could look into that.

[2018-08-03 08:05] damithc commented on #9011
I remember we had this long ago. Didn't realize we still have this. In any case, we need to upgrade the version numbers.  Furthermore, I was thinking of doing the reverse. i.e., detecting if they are using a recent version of Chrome or Firefox and giving a friendly warning 'TEAMMATES is best used in Chrome or Firefox' if they aren't.

[2018-08-03 08:42] mg14777 commented on #9011
Should we update the existing script to do the same and add further enhancements ?

[2018-08-03 08:43] damithc commented on #9011
Yes, I guess so.

[2018-08-03 12:08] mg14777 commented on #9011
@damithc How does this look ?

![image](https://user-images.githubusercontent.com/11634699/43642140-441bda58-971e-11e8-8130-afaa391d7b17.png)

[2018-08-03 12:13] damithc commented on #9011
This should be enough.
`{{info icon here}} Please note that TEAMMATES works best in recent versions of Chrome or Firefox.`

[2018-08-03 12:25] mg14777 commented on #9011
Oh and what should we update the version numbers to ?

[2018-08-03 13:02] damithc commented on #9011
@LiHaoTan what do you think?

[2018-08-03 15:32] tanhengyeow opened #9018 "Spreadsheet Interface for Student Data UI: Phase V upgrade for instructorCourseEnrollPage"
**Environment**:
`master` branch

**Description of feature/enhancement**
Continuation of #8959. The enhancement provides a way to allow deleting selected students in the existing students' spreadsheet interface.

**Justification**
The current implementation in TEAMMATES only allows users to delete one student at a time or all students at once. This enhancement would provide users more flexibility

[2018-08-04 05:05] damithc opened #9022 "FeedbackResponseCommentSearchTest failing on live server"
java.lang.AssertionError:
Expected :0
Actual   :1

	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.failNotEquals(AssertJUnit.java:364)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:80)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:245)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:252)
	at teammates.test.cases.BaseTestCase.assertEqua

[2018-08-04 05:06] damithc commented on #8997
All parallel UI tests are being skipped. Any idea why?

[2018-08-04 05:07] damithc commented on #8997
![image](https://user-images.githubusercontent.com/1673303/43672765-5dd0c674-97e7-11e8-9949-3acaeb94d5bd.png)

[2018-08-04 06:24] xpdavid commented on #8997
Might due to the Google Login Page issue. Currently my quick fix is not stable. :(

[2018-08-04 06:47] damithc commented on #8997
Login seems to work on my computer. I can actually run these tests individually. But when I run `CITests` configuration, the whole lot is skipped. Need to find out under what condition these tests are skipped.

[2018-08-04 08:54] sukanta-27 commented on #5728
@Crphang I guess this issue is similar (or points out to the same problem) as #8688?

[2018-08-04 09:14] sukanta-27 commented on #1501
@tshradheya @xpdavid I was thinking whether we should add unit tests for each individual classes separately? If we can do that, then I would like to start by adding unit tests for `MCQ` questions first (as we now have a separate file for mcq and msq unit tests).

[2018-08-04 11:54] YaroslavGnatyuk commented on #8589
Could you help me? I found in a guide how to run a single test. But I want to run a single test in debugging. How can I do it?

[2018-08-05 06:02] xpdavid commented on #8997
Will this block the release?

Will appreciate if more info about the skip are provided. TestNG skip test for reasons like `@BeforeMethod` `@BeforeClass` fail.

[2018-08-05 06:09] damithc commented on #8997
Yes, as I can't run any of the UI tests on the live server, unless I run each UI test manually, which could take a very long time (76 tests to run) :-p

I didn't see anything specific. Will try again on Monday. I wonder if we configured these tests to be _conditional_ upon another test. I remember we were considering something like that at some time, to skip all UI tests if a certain _smoke test_

[2018-08-05 07:26] sukanta-27 commented on #1501
Didn't notice :man_facepalming: last time I checked the PR, @tshradheya added unit tests in one `FeedbackQuestionDetailsTest` so I thought why don't we add tests in separate files. My bad :sweat_smile:

[2018-08-05 07:49] xpdavid commented on #9022
The test is not stable. Can pass after several run. Need investigation. @tshradheya

[2018-08-05 07:53] wkurniawan07 commented on #8997
We don't have any smoke test right now...

[2018-08-06 02:49] senguttuvan opened #9024 "Help Request: CI testing - occasional tests suite failing"
**Details**
./gradlew failedTests (equivalent - run from eclipse)
os.name: 'Windows 10'
java.version: '1.8.0_181' JDK - 8.0.1810.3
node.js: 8.11.3
Eclipse Version: Oxygen.3a Release (4.7.3a) Build id: 20180405-1200
Chrome : Version 67.0.3396.99 (Official Build) (64-bit)

**What I was trying to do / What I need help with**
I recently setup the project and tried to run the test suite before contribu

[2018-08-06 05:40] sukanta-27 commented on #9024
@senguttuvan some tests may fail in the first try, rerun the failing test a few times to see if it passes or not.

[2018-08-06 05:41] sukanta-27 commented on #9024
@senguttuvan some tests may fail in the first try, rerun the failing test a few times to see if it passes or not.

[2018-08-06 06:31] damithc commented on #8957
Still failing at v6.8.0

[2018-08-06 06:43] damithc commented on #8997
@xpdavid a few tests are failing due to a missing class problem, although the class should be there. Can you try `FeedbackMcqQuestionUiTest` against your staging server?

	at teammates.common.datatransfer.questions.FeedbackMcqQuestionDetails.getQuestionResultStatisticsHtml(FeedbackMcqQuestionDetails.java:518)
	at teammates.ui.pagedata.InstructorFeedbackResultsPageData.buildQuestionTableAndResponse

[2018-08-06 07:13] sukanta-27 commented on #8997
@damithc The error is coming from the `McqStatistics` class added in #8917. Sir, is this only failing on the staging server? Is it passing on the dev server?

[2018-08-06 07:34] damithc commented on #8997
Four tests failing due to this error:
![image](https://user-images.githubusercontent.com/1673303/43702971-fb9e0446-998d-11e8-88b6-351afcb60106.png)

Just recording here until we do further investigation. @sukanta-27 a re-deploy didn't work. Let me try a clean+deploy.

[2018-08-06 07:36] xpdavid commented on #8997
Previously we use `McqStatistics` but we change it to `MCQStatistics` in V6.8.0. It is a little tricky here if the complier think they are the same and do some "optimization" here.

[2018-08-06 08:26] damithc commented on #8997
Good news: I was able to reproduce the problem with the dev server and a `clean` fixed the problem.
Bad news: Have to redeploy to the live server and run all the tests again for the now :-p

On a positive note, I'm glad we have all these tests to catch this kind of obscure problems. It also shows that just because things are working on Dev server doesn't mean thing they'll work in the live server.

[2018-08-06 09:54] Crphang commented on #5728
@sukanta-27 Yes. I'll close this issue and mention it in the more #8688 since the discussion there is more elaborate.

[2018-08-06 09:54] #5728 closed

[2018-08-06 14:13] xpdavid opened #9025 "Data Persistence: Why using getByID in Objectify still cannot achieve strong consistency"
According to the documentation of google datastore: https://cloud.google.com/datastore/docs/articles/balancing-strong-and-eventual-consistency-with-google-cloud-datastore/#eventual-consistency-in-cloud-datastore, using key to access an object should give strong consistency. However, even we use ID to access entity in #8924, we still get https://github.com/TEAMMATES/teammates/issues/8452#issuecomme

[2018-08-07 03:26] damithc commented on #8997
Deployed. Thanks to all who contributed 🍾

[2018-08-07 07:06] #8452 closed

[2018-08-07 07:10] #8997 closed

[2018-08-07 08:46] senguttuvan commented on #9024
@sukanta-27 yes I did rerun the test quite a bunch of times. However I don't see any changes in the result.

[2018-08-07 10:16] #9015 closed

[2018-08-07 13:00] sukanta-27 opened #9026 "Rubric questions: allow weight for each cell: Remove legacy code"
**Context:**
- [Rubric questions: allow weight for each cell](https://github.com/TEAMMATES/teammates/issues/7224)
- [Rubric questions: allow weight for each cell: Migrate legacy data into new format](https://github.com/TEAMMATES/teammates/issues/9007)

Remove code that deals with legacy data after data migration is complete. This is the final step of data migration.

**Note:** Should be done after

[2018-08-08 08:23] xpdavid opened #9027 "Release V6.9.0"
Re-Scheduled for Saturday, Aug 11 2018, 10.00am SGT.

[2018-08-08 14:07] #7239 closed

[2018-08-09 02:24] damithc opened #9029 "Student: comment on MCQ response: tweak comment UI"
Suggested change: add some padding here

![image](https://user-images.githubusercontent.com/1673303/43874386-307000e8-9bbe-11e8-8405-031f51dcfb80.png)

[2018-08-09 02:27] damithc opened #9030 "Student: comment on MCQ answers: replace cancel button with a delete button"
Suggested change: instead of a cancel button, add a trash can icon (i.e., delete). While cancel is the more accurate action user is performing here, I feel a delete button could be more intuitive. Having a cancel button can cause the user to look for an `OK` button.

![image](https://user-images.githubusercontent.com/1673303/43874464-9c9810bc-9bbe-11e8-8f18-70ed469f2ae3.png)

[2018-08-09 05:52] nidhi98gupta opened #9031 "Student: Allow adding comments to MSQ answers"

[2018-08-09 12:48] nidhi98gupta commented on #9030
@damithc How does this look?
![uii](https://user-images.githubusercontent.com/24381442/43899766-910ddee2-9c00-11e8-940a-8765cd01a043.png)

With a tooltip that says `Discard changes to comment`

[2018-08-09 14:02] damithc commented on #9029
Yes 👍

[2018-08-09 19:35] nidhi98gupta opened #9034 "Student: Comment on responses: Fix put document error"
Put comment search document fails silently after adding new feedback participant comment because of null comment id.

[2018-08-10 02:34] xpdavid commented on #9027
Pending due to #9034

[2018-08-10 07:34] #8877 closed

[2018-08-10 08:49] #9034 closed

[2018-08-11 01:54] xpdavid commented on #9027
No need to update `developers.json`

[2018-08-11 01:55] xpdavid commented on #9027
[V6.9.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.9.0) has been released by @xpdavid at August 11th, 2018, 09.50am SGT.

Code contributions from: @dalessr, @jacoblipech, @mg14777, @nidhi98gupta, @sukanta-27, @tshradheya, @xpdavid
Review contributions from: @LuLechuan, @bqnguyen94, @craaaa, @damithc, @darrenwee, @joanneong, @tran-tien-dat, @tshradheya, @whipermr5, @xpdavid

Ready for

[2018-08-11 05:59] damithc commented on #8957
Failing at v6.9.0

[2018-08-11 06:08] damithc opened #9037 "StudentHomePageUiTest is testing on live server"
v6.9.0

	at teammates.test.pageobjects.AppPage.getNewPageInstance(AppPage.java:169)
	at teammates.test.pageobjects.AppPage.changePageType(AppPage.java:197)
	at teammates.test.pageobjects.GoogleLoginPage.loginAsStudent(GoogleLoginPage.java:77)
	at teammates.test.pageobjects.GoogleLoginPage.loginAsStudent(GoogleLoginPage.java:70)
	at teammates.test.cases.browsertests.StudentHomePageUiTest.testConten

[2018-08-11 06:09] damithc commented on #9037
Error in the server log:

java.lang.NullPointerException
	at teammates.logic.core.CoursesLogic.lambda$getCoursesForStudentAccount$0(CoursesLogic.java:479)
	at java.util.stream.ReferencePipeline$2$1.accept(ReferencePipeline.java:174)
	at java.util.LinkedList$LLSpliterator.forEachRemaining(LinkedList.java:1235)
	at java.util.stream.AbstractPipeline.copyInto(AbstractPipeline.java:481)
	at java.util.s

[2018-08-11 06:10] damithc commented on #9027
Ready to deploy, but waiting for an investigation of #9037 first

[2018-08-11 06:13] damithc opened #9038 "Instructor: delete all courses permanently: specify courses being deleted"
v6.9.0
Current:
![image](https://user-images.githubusercontent.com/1673303/43988028-f3d32316-9d5e-11e8-80b3-7fb8d6711ce5.png)

Problem: The message sounds like all courses are being deleted, which can scare the user.

Suggested: Rephrase to mention 'all courses in the recycle bin'. Even better if the number of courses can be mentioned. Still better if the courses can be listed.

[2018-08-11 06:13] damithc commented on #9038
@dalessr can do this one?

[2018-08-11 09:42] dalessr commented on #9038
![9038-image-1](https://user-images.githubusercontent.com/22449685/43990347-9fba0644-9d8d-11e8-8114-2a786e92e938.png)

@damithc Any inputs on this UI?

[2018-08-11 10:01] damithc commented on #9038
Looks good. May be rephrase the dialog title as well?

[2018-08-11 10:03] dalessr commented on #9038
`Confirm deleting all courses in Recycle Bin`?

[2018-08-11 10:13] xpdavid commented on #9037
Can `StudentHomePageUiTest` pass if it is run separately?

[2018-08-11 11:02] xpdavid commented on #9037
https://github.com/TEAMMATES/teammates/blob/c5e80a997c8848977d77d9c695b8751597090739/src/main/java/teammates/logic/core/CoursesLogic.java#L478-L481

Guess `getCourse` returns `null` and results in `NPE`. There are other student entities (which is the result of state leak, may related to #8524 indeed) associated with `test.student1.account` (in the `test.properties`). Need @damithc your help to fin

[2018-08-11 11:13] damithc commented on #9037
![image](https://user-images.githubusercontent.com/1673303/43991220-a082b460-9d9a-11e8-9200-be94f7121db9.png)

[2018-08-11 11:25] damithc commented on #9037
No. I deleted that one earlier. Otherwise the test fails at a different point.

[2018-08-11 11:32] damithc commented on #9037
OK, I figured what you are driving at. Managed to pass the test after deleting the orphan CourseStudent entity. 👍
Thanks for the help. 💯

[2018-08-11 11:35] damithc commented on #9037
For the record, this is the reason: I manually deleted a Course object to correct a state leak between tests but there were CourseStudent entities related to that Course object (which should have been deleted with the course) -- the resulting inconsistent data caused this error.

[2018-08-11 11:35] #9037 closed

[2018-08-11 11:37] damithc commented on #9027
Deployed. Thanks to everyone who contributed 🍾

[2018-08-11 11:37] #9027 closed

[2018-08-11 11:46] mg14777 opened #9040 "Instructor: Edit Feedback Session: Add drag and drop feature for question option weights"
**Description of feature/enhancement**
Add drag and drop feature for question option weights similar to one added for question options in [8889](https://github.com/TEAMMATES/teammates/pull/8889)
![image](https://user-images.githubusercontent.com/11634699/43991425-34f49138-9d8a-11e8-850b-0b1aeaa366a5.png)

[2018-08-11 12:44] tshradheya opened #9041 "Investigate StudentHomePageUiTest and StudentProfilePage UiTest"
We have some questions left unanswered, but some of them are long-term and may not be as important:

- Parallel tests should not interfere with each other, and sequential tests should not interfere with parallel tests and vice versa.
- Testing with real accounts is definitely important but how many tests would need this? Should we instead do such testing in isolation and then also ensure that we h

[2018-08-11 14:45] #8524 closed

[2018-08-11 15:44] damithc commented on #9040
To clarify, we don't need an independent drag-and-drop for weights per se. We need weights to be dragged along with the option as if the two are one element, as opposed to the current solution where the option is dragged and then the weight auto-adjusts as a second step.

[2018-08-11 16:19] xpdavid opened #9042 "Student: disable functionality to add comment in frontend if student has not answer question"
Due to our database design constraint, a comment from feedback participant should be associated with its corresponding feedback response. This implies: student should not be able to add comment if he/she has not answer the question yet.

The frontend UI currently enable this behaviour but it is just that the backend will ignore the comments from students.
https://github.com/TEAMMATES/teammates/blo

[2018-08-12 01:39] damithc commented on #9042
It is even better if respondents can comment without answering a question, for example, to explain why they are unable to answer.  But that can be a separate enhancement altogether.

[2018-08-12 06:38] #9029 closed

[2018-08-12 06:39] mg14777 commented on #9040
@damithc thanks for the clarification sir. i was under the assumption that weights need to be draggable independently. On second thoughts i think the cleanest way to do it would be to merge option and weight elements together in one container. In other words each option and its corresponding weight need to be wrapped as a single element.

That would require quite a few changes if I am not wrong si

[2018-08-12 12:56] heisenberg-2505 commented on #8509
Hi, I have noticed that almost all the first timers issue have open pull requests. I am new to open source and really want to contribute to this project. Is there any way I can help?

[2018-08-12 13:13] s3701799 opened #9043 "Adding new instructor"
Hi,

I just cloned this project recently as part of my assignment from a repository created by my educator. I have followed the steps on getting this project running and it works perfectly.

I tried to add a new instructor through the application and it failed. You can find the image below as it says 'Cannot send Ajax Request!' after clicking the Add Instructor button.

![issue](https://user-image

[2018-08-12 14:32] sukanta-27 commented on #8509
Hi @heisenberg-2505, Welcome to TEAMMATES!
This issue does not have a open PR. You can start with this if you want.

[2018-08-12 15:20] xpdavid opened #9044 "Data Migration: Able to resume/restart from where it fails/stops"
Quote from damith:

Say we need to process 200k entities which takes about 2 hrs but app engine disconnects after 1 hour (i.e., after processing 100k entities). We should be able to run the script again and process the remaining 100k in one more more hour i.e., second run should take 1 hour, not 2 hours. If the script takes one hour to go through the first 100k entities again, we will never be abl

[2018-08-12 15:40] xpdavid opened #9045 "Run script to migrate rubric question weight from 1-d list to 2-d list"
Related to #9008

`DataMigrationForRubricQuestionsWithWeightsAttached.java` in the current master branch should be run in order to do the migration.

[2018-08-12 18:06] bhumisaxena0223 commented on #8755
Hey, is this issue is still open for contribution ? I am a beginner and want to contribute in open source (Teammates). Can I work on this issue.

[2018-08-13 08:48] dalessr commented on #9043
@s3701799 Can you check that the date/time format in your system is set as `English (Singapore)`?

[2018-08-13 09:48] s3701799 commented on #9043
@dalessr the format for my system is English (Malaysia)

[2018-08-13 10:36] dalessr commented on #9043
Hmm...`English (Malaysia)` should be fine. But let's just try changing it to `English (Singapore)` first.

In your cloned repo, delete folder `node_modules`, and enter the following commands in the root directory:
[code]
Then restart your dev server & try adding new instructor again.

[2018-08-13 10:56] s3701799 commented on #9043
@dalessr I did exactly as you said and i still cant add a new instructor, it still says "Cannot send Ajax Request!"

Console message:
![issue 2](https://user-images.githubusercontent.com/41710124/44027864-5a37a0c2-9f3b-11e8-8668-3e3dcce130e1.jpg)

[2018-08-13 11:12] s3701799 commented on #9043
I get this message when i enter the './gradlew appengineRun' command

Execution failed for task ':compileJava'.

Is this the problem?

[2018-08-13 11:25] dalessr commented on #9043
Should be. Did you specify the path in the system variable?

![9043-image-1](https://user-images.githubusercontent.com/22449685/44029075-9d2beeea-9f2e-11e8-8e5e-f75865431378.png)

[2018-08-13 11:34] s3701799 commented on #9043
![image](https://user-images.githubusercontent.com/41710124/44029412-966267a8-9f40-11e8-8f7a-3ab920d7d473.png)

Yeah i did.

[2018-08-13 11:35] #6657 closed

[2018-08-13 12:38] s3701799 commented on #9043
Okay i got it working already, thanks for your help @dalessr

[2018-08-13 12:58] #8968 closed

[2018-08-13 13:52] heisenberg-2505 commented on #8509
Thanks a lot! If I have any other doubts about the project, what is the best way to reach you and the team?

[2018-08-13 14:05] sukanta-27 commented on #8509
@heisenberg-2505 The best way to reach me or any other team member is through the issue tracker itself. In case you have a problem you can create an issue for that.

[2018-08-13 14:18] xpdavid commented on #9045
Confirmed, please don't run the script right now :( @damithc

[2018-08-13 14:26] sukanta-27 commented on #9007
@xpdavid Should we create a new issue for this bug? I deleted the old branch.

[2018-08-13 14:27] xpdavid commented on #9007
Open a new branch based on the master.

[2018-08-13 14:32] heisenberg-2505 commented on #8509
Which test do I have to run and get them to pass before moving onto fixing the issue?

![screenshot from 2018-08-13 19-58-52](https://user-images.githubusercontent.com/21108937/44038126-a9a8c9d6-9f33-11e8-8877-68e11641c8f7.png)

[2018-08-14 05:05] bhumisaxena0223 commented on #8755
I am new to open source and bit familiar with java and javascript. I really want to work on this issue. Can I make a pull request for this issue?

[2018-08-14 05:11] dalessr commented on #8755
Sure. Go ahead :)

[2018-08-14 09:17] dalessr opened #9048 "Instructor: Feedback Sessions Page: Recycle Bin feature for sessions"
**Environment:**
`master` branch at commit https://github.com/TEAMMATES/teammates/commit/ed2e88929cb74bb499730fa602d34cc6f98e394c

[2018-08-14 12:27] #9013 closed

[2018-08-14 12:55] wkurniawan07 commented on #8527
@tshradheya any chance you want to look into this?

[2018-08-14 13:52] joanneong commented on #8509
@heisenberg-2505 Try to run all tests. You can refer to [this document](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#testing). Personally, I think just running all tests via IntelliJ is the fastest way

[2018-08-14 13:55] tshradheya commented on #8527
Looking into it 👍

[2018-08-14 14:01] tshradheya commented on #8509
Running `All Tests` might take too long
Run the `CI Test` configuration which should come automatically there in the dropdown of `Run`

[2018-08-14 14:03] #9043 closed

[2018-08-14 15:09] #8879 closed

[2018-08-14 16:18] #9048 closed

[2018-08-14 17:10] #8883 closed

[2018-08-14 21:32] heisenberg-2505 commented on #8509
Hi,
I have fixed the issue and made the code changes for it. So I need to test it before submitting a PR?
If I have to test it, then do I need to test it first in God mode?

[2018-08-14 21:49] heisenberg-2505 commented on #8509
Hi,
I ran the localTests first with GodMode enabled and then ran them again after disabling the GodMode.
The build was successful both times.
Do I need to run the CI tests as well?

[2018-08-14 22:01] EvilJorge commented on #8465
If this is not still being worked on, I would like to take this on as my first issue.

[2018-08-15 03:25] rmit-s3649928-hongyi-zheng opened #9050 "Having Exception when adding instructor"
Hi

I just cloned this project as a part of my assignment and set up everything as the guideline.Everything else works fine but I failed to add instructor as it says"Exception in importing data".Here is the
screenshot and the error message.Thx in advance for any help given.

![default](https://user-images.githubusercontent.com/30714703/44129888-02496bda-a08e-11e8-99c3-147f007fb1ff.PNG)

{
  "instr

[2018-08-15 03:44] tanhengyeow commented on #9050
@rmit-s3649928-hongyi-zheng

Hello, can you run `./gradlew appengineRun` and show us the error message(s) in the console when you retry this action again?

[2018-08-15 03:44] damithc commented on #9050
@rmit-s3649928-hongyi-zheng on a related note, can you point us to any online info about the course/module that requires you to work on TEAMMATES as an assignment? Thanks.

[2018-08-15 04:27] tanhengyeow commented on #9050
@rmit-s3649928-hongyi-zheng Might be due to the date/time language. Can you switch to English and see if it works? You can refer to this [link](https://techxoom.com/change-time-date-language-preference-english-windows-10/) for a rough reference.

[2018-08-15 05:25] xpdavid opened #9051 "Release V6.10.0"
Scheduled for Friday, Aug 17 2018, 10.00am SGT.

[2018-08-15 05:26] rmit-s3649928-hongyi-zheng commented on #9050
@xpdavid
Yes

[2018-08-15 05:33] LiHaoTan commented on #9050
I didn't look at the problem but assuming the problem is language related you can run it with the VM options:
`-Duser.language=en -D.user.country=US`

[2018-08-15 05:36] #9007 closed

[2018-08-15 05:43] rmit-s3649928-hongyi-zheng commented on #9050
@LiHaoTan
Still generates the same error.

[2018-08-15 05:45] damithc commented on #9050
thanks @rmit-s3649928-hongyi-zheng

[2018-08-15 05:59] LiHaoTan commented on #9050
@rmit-s3649928-hongyi-zheng can I check what locale are you using?

[2018-08-15 06:11] rmit-s3649928-hongyi-zheng commented on #9050
@LiHaoTan
It's located at D:\my_project and was at C:\Users:\my_project before I reinstalled it.

[2018-08-15 06:18] LiHaoTan commented on #9050
Sorry, I'm not catching what you are saying. Are you saying it's working now?

I was asking for your locale (i.e. your region and language settings). In particular, I want to know what is the output of `Locale.getDefault(Locale.Category.FORMAT)`.

[2018-08-15 06:37] rmit-s3649928-hongyi-zheng commented on #9050
@LiHaoTan

Sorry I misunderstood what you said.I'm not sure how to get the output,but the system's region is  Australia and the language is Chinese.

[2018-08-15 06:49] LiHaoTan commented on #9050
@rmit-s3649928-hongyi-zheng You just need print out the output and you can do that anywhere.

For example, go to `TimeHelper.java:508` and replace with this:
[code]

Then try adding an instructor again and your stack trace should print out the relevant locale.

[2018-08-15 07:08] sukanta-27 commented on #8509
@heisenberg-2505 It takes a good amount of time (on average 30 mins) for the ciTests to run, if you want to then you can run ciTests on your system before submitting a PR, but remember that only run GodMode on the tests **that are failing due to the changes you made**. Running GodMode on all the tests may result in some unrelated changes.

[2018-08-15 07:16] dalessr commented on #9050
设置 -> 时间和语言 -> 其他日期、时间和区域设置 -> 更改日期、时间或数字格式 -> 格式 -> 英语（新加坡）

@rmit-s3649928-hongyi-zheng There's a very high chance that this works for you :)

[2018-08-15 07:43] rmit-s3649928-hongyi-zheng commented on #9050
@dalessr

Thx a lot,that works 👍 .Looks like the exception is caused by language setting.Adding instructor is working fine now.Thx for all the help!

[2018-08-15 08:45] xpdavid opened #9052 "InstructorHelpPageUiTest failing on AppVeyor master"
Master 56190f722d79c647e426db2a739d82f6fc6cd5b5

https://ci.appveyor.com/project/damithc/teammates/build/1.0.1112

[2018-08-15 08:46] xpdavid commented on #9052
Maybe @mg14777 can also help?

[2018-08-15 09:04] xpdavid commented on #9045
Checked and run against my own staging server. Looks fine.
Ready to be run @damithc

[2018-08-15 10:30] mg14777 commented on #9052
@xpdavid new content has been added to `instructorHelpSessions.jsp` which is affecting the search results. Will update the html files right now

[2018-08-15 10:51] xpdavid commented on #9052
It is quite interesting that Travis doesn't fail.

[2018-08-15 10:53] heisenberg-2505 commented on #8509
Thanks a lot.
The change in the UI looks like this now.

![changetoui](https://user-images.githubusercontent.com/21108937/44144685-1b824712-a0a6-11e8-9f9e-d93a4af215ca.png)

Should I create a pull request against the master branch of your repository?

[2018-08-15 10:55] sukanta-27 commented on #8509
@heisenberg-2505 No. Create a PR against `TEAMMATES` master branch.

[2018-08-15 11:01] dalessr opened #9053 "TimeHelper.java: combine methods 'formatDateForInstructorCoursesPage' & 'formatDateForInstructorSessionsPage' into 'formatDateForInstructorPages'"
**Environment:**
`master` branch at commit https://github.com/TEAMMATES/teammates/commit/56190f722d79c647e426db2a739d82f6fc6cd5b5

[2018-08-15 13:44] heisenberg-2505 commented on #8509
Hi, the travis ci build is failing.
How to resolve this problem?

[2018-08-15 14:37] LiHaoTan commented on #8509
To add to @sukanta-27's point.

Generally speaking, the workflow is as follows:
* Make sure your setup is correct by first running all tests locally
* Everytime you submit a PR Travis will run the tests again, and tests that require changes will fail
* By looking at the tests that fail on Travis, determine if you need to make changes to tests or run GodMode.
* However, there are times when you sho

[2018-08-15 14:58] heisenberg-2505 commented on #8509
Correct me if I am wrong but what I gather from reading the documentation and your comments is -
1. First run all the tests with godmode disabled.
2. Then run all the failed tests with godmode enabled.
3. Then run all the failedtests with godmode d disabled.
4. Finally run all the tests to confirm that nothing is broken.

[2018-08-15 15:16] LiHaoTan commented on #8509
You are roughly correct but it should be more of:
1. Run all the tests with Godmode disabled. (This is a one-time setup you should have done initially to ensure a correct setup such as if your environment matches TEAMMATES' environment)
2. Run the failed tests (that Travis shows) with Godmode enabled.

Not all tests that fail on Travis is due to Godmode so if you know the tests are not failing due

[2018-08-15 18:31] heisenberg-2505 commented on #8509
The problem I am facing is my ci Tests are failing. But when I try to run failedTests it shows the following output.

![failedtests](https://user-images.githubusercontent.com/21108937/44165811-56443400-a0e7-11e8-8a08-21afad06fb0c.png)

**Any help will be appreciated.**

[2018-08-16 02:00] dalessr commented on #8981
Could i please contribute in here?

@k4iz3n1994 Since the PR for this issue isn't progressing fast, you can work on this. You may want to look through #9009 to see what we expect.

[2018-08-16 02:10] LiHaoTan commented on #8509
@heisenberg-2505 Did you run CI Tests locally? If you did not, you will not be able to see any failed tests locally. Originally, our build script will call `generateFailedCmd` and show you the command to download the failed tests but it seems like it's broken for some time (looks like we need to fix it).

Also, is there a file `test-output/testng-failed.xml`?

[2018-08-16 11:06] heisenberg-2505 commented on #8509
Yes I ran the CI tests locally.
What should I do now?

[2018-08-16 12:01] k4iz3n1994 commented on #8981
Hi, I am indeed taking this issue just to confirm!

[2018-08-16 12:03] LiHaoTan commented on #8509
Try `./gradlew failedTests --rerun-tasks`.

[2018-08-16 13:49] k4iz3n1994 commented on #8981
Ready for review https://github.com/TEAMMATES/teammates/pull/9056

[2018-08-16 14:42] heisenberg-2505 commented on #8509
No, I could not find any occurrence of the file testng-failed.xml?
Can you please specify the full path, where this file is supposed to be? Just to be sure.

[2018-08-16 14:48] heisenberg-2505 commented on #8509
Ran this command and it produced more or less the same result as before.

![failedsol1](https://user-images.githubusercontent.com/21108937/44215960-6a447000-a191-11e8-9116-24306cc68297.png)

[2018-08-16 15:02] LiHaoTan commented on #8509
Relative to your project root there should `test-output/testng-failed.xml`. Are you sure there are failing tests when running CI tests? Because it should generate the file `testng-failed.xml` and if you don't have that file there will be no effect when running failed tests.

On a side note, I suggest you use an IDE to run the tests. The command line has its set of advantages but requires you to un

[2018-08-16 15:12] heisenberg-2505 commented on #8509
When running the tests using terminal ci tests are failing.

I will use the IDE to run the tests and get back to you.

Will the file be located at **/teammates/test-output/testing-failed.xml**?

[2018-08-17 01:16] xpdavid commented on #9051
`developers.json is up-to-date.`

[2018-08-17 01:17] xpdavid commented on #9051
[V6.10.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.10.0) has been released by @xpdavid at August 17th, 2018, 09.08am SGT.

Code contributions from: @dalessr, @mg14777, @nidhi98gupta, @sukanta-27, @tanhengyeow, @tshradheya
Review contributions from: @Crphang, @bqnguyen94, @damithc, @darrenwee, @joanneong, @tran-tien-dat, @wenmogu, @xpdavid

Ready for post-release check and deployment

[2018-08-17 17:07] IAmPramod commented on #9053
@dalessr is anyone working on this issue?

[2018-08-17 20:13] xpdavid commented on #9022
It seems that search index doesn't conform strong consistency. We could add `ThreadHelper.waitBriefly();` to wait briefly before issuing the verification query.

[2018-08-18 05:04] IAmPramod commented on #9053
@dalessr Sure, I will start working on it then.

[2018-08-18 06:14] damithc opened #9057 "FeedbackConstSumOptionQuestionUiTest failing on live server"
v6.10.0

I'm running tests in Windows, against the live server

java.lang.AssertionError:
Expected :["Choice 3","Choice 1","Choice 2","Choice 4"]
Actual   :["Choice 1","Choice 2","Choice 3","Choice 4"]
 <Click to see difference>

	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:101)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:108)
	at teammates.test.cases.BaseTestCase.assertEq

[2018-08-18 06:31] damithc commented on #9057
And `FeedbackMsqQuestionUiTest`

[2018-08-18 06:41] damithc commented on #8957
Still failing at v6.10.0

[2018-08-18 06:50] damithc commented on #9057
One more: `FeedbackRankQuestionUiTest`

[2018-08-18 06:51] damithc commented on #9051
Deployment on hold pending an investigation of #9057

[2018-08-18 07:12] mg14777 commented on #9057
@damithc Sir, this issue is probably due to the drag and drop action not being properly simulated in Selenium. The final technique I used was [this](https://github.com/TEAMMATES/teammates/pull/8889/commits/a12fe2adf39cc800a43ee4249fe6d638c59575e5) which seemed to work fine in Chrome on windows. Would you mind telling which browser you're using for this ?

[2018-08-18 07:26] damithc commented on #9057
I'm using Firefox

[2018-08-18 07:31] damithc commented on #9057
I'll try FF v46.0.1 and failing that, Chrome.

[2018-08-18 07:54] damithc commented on #9045
Ran the script. Output:

Total number of keys: 12717
Number of affected keys: 1082
Number of updated keys: 1082

[2018-08-18 07:55] IAmPramod commented on #9053
@dalessr PR is open for review.

[2018-08-18 08:01] mg14777 commented on #9057
@damithc I just ran `FeedbackRankQuestionUiTest` and `FeedbackConstSumOptionQuestionUiTest` against my staging server https://teammates-mudit.appspot.com/ using Firefox v43.0.1 and the tests seem to pass. Are you able to drag the options manually ? If not can you do `npm run build` again and then try to ensure its picking up the changes ?

[2018-08-18 08:26] #9045 closed

[2018-08-18 08:29] damithc commented on #9051
Deployed. Thanks to all who contributed to this release :100:

[2018-08-18 08:29] #9051 closed

[2018-08-18 08:41] damithc commented on #9057
Yes, it works when I try manually.

[2018-08-18 08:48] xpdavid commented on #9057
@mg14777 Maybe due to the resolution or layout of elements.

Guess: Extreme case, the menu bar overlay the target position and release doesn't work?
![image](https://user-images.githubusercontent.com/13977235/44297558-1d35da80-a306-11e8-91b9-f3bb902cb0a5.png)
![image](https://user-images.githubusercontent.com/13977235/44297577-73a31900-a306-11e8-90e3-25ed4d516f0c.png)

https://github.com/TEAMMATES

[2018-08-18 14:07] xpdavid opened #9059 "Testing: Use correct EXPECTED_SNIPPET_SIGN_IN in GoogleLoginPage"
<strike>It seems like the google login page sometimes has `Sign in - Google accounts` instead of expected `Sign in - Google Accounts` (Typo in Google Side :P)

![image](https://user-images.githubusercontent.com/13977235/44300021-a95df700-a332-11e8-98ed-6b2d73a569b6.png)

Our automated test will fail if the title is not matched.

Maybe should do case-insensitive comparison between expected and actu

[2018-08-18 14:53] IAmPramod commented on #9059
@xpdavid we should convert expected and actual string to lower case and then compare.

[2018-08-18 14:56] LiHaoTan commented on #9059
I don't agree with this. Suppose we want to keep this simple without changing how we detect the login page we should instead check for the two particular titles instead of doing a case-insensitive comparison.

[2018-08-18 15:14] xpdavid commented on #9059
Yep. Can define another expected title for more strict verification.

[2018-08-18 15:24] xpdavid opened #9060 "StudentProfile: Delete orphaned entity"
We have code to handle the legacy data.

https://github.com/TEAMMATES/teammates/blob/56190f722d79c647e426db2a739d82f6fc6cd5b5/src/main/java/teammates/storage/api/ProfilesDb.java#L254-L257

As we have large number of StudentProfile entities, we cannot fetch all of them at once (or result in OutOfMemoryErr). Need to do the migration incrementally, which is related to #9044

[2018-08-18 15:58] #9052 closed

[2018-08-19 06:06] #9026 closed

[2018-08-19 10:22] xpdavid opened #9061 "Run script to remove unused rubricWeights attribute"
Post-action after #9045
Related to #9028

`DataMigrationForRubricQuestionToRemoveLegacyWeightList.java` in the current master branch should be run in order to do the migration.

[2018-08-20 02:16] s3545691 opened #9063 "student and instructor login issue."
Im using windows 10 and eclipse 4.7.3a.

My site loads fine and all the tabs on the nav bar work perfectly but when one of the student or instructor login buttons is clicked I get a page not found error (attachment 1). Sometimes I would say probably 1 in 15 once the login button is clicked it loads the login screen properly but then once a username and password are entered and the login button is

[2018-08-20 03:55] xpdavid commented on #9063
Guess there are some problem with your `build.properties` file.

[2018-08-20 09:40] xpdavid opened #9064 "StudentProfile: Decouple storage CURD from AccountsDb and StudentsDb"
Benefits:

- Same logic are repeated in both ProfilesDb, AccountsDb,StudentsDb.
- We are forced to create `StudentProfile` in `Account` regardless of whether the Account is for student or not.
- `AccountsDb` is forced to handle validations which should be handled in ProfilesDb instead.
- `StudentProfile` is not necessary every `Account`. It doesn't make sense to store an empty profile for every st

[2018-08-20 11:51] xpdavid commented on #9060
After investigation, it turns out that we doesn't care the orphaned entity anymore.
https://github.com/TEAMMATES/teammates/blob/635bdc89f3a3163ebcdb98f2df72a0dd378ebca3/src/main/java/teammates/storage/api/ProfilesDb.java#L204-L215

[2018-08-20 12:12] xpdavid opened #9065 "Fix unstable testToEntity() in StudentProfileAttributesTest"
As `modifiedDate` is not carried to `StudentProfile` in `.toEntity()`, therefore, there should not be such verification in the method.

[code]

As `modifiedDate` is set to `now` in `.toEntity()`, if the test execute fast, it can pass.

[2018-08-20 13:45] tshradheya commented on #9065
Reference: https://github.com/TEAMMATES/teammates/pull/8988/commits/75174e6d3a9600a69382955d28ef6fa61f5686cc

[2018-08-20 15:25] xpdavid opened #9067 "Fix unstable test in FeedbackSessionsDbTest"
https://github.com/TEAMMATES/teammates/blob/635bdc89f3a3163ebcdb98f2df72a0dd378ebca3/src/test/java/teammates/test/cases/storage/FeedbackSessionsDbTest.java#L321-L333

We are creating an valid `feedbackSession` through this method.

If the test execute too fast.... (quite ironic as #9065 says the test execute too slow XD). `Instant.now()` can return the same value (as the accuracy is to millisecond

[2018-08-21 07:48] xpdavid commented on #8448
Related to #6690 to develop an new migration framework.

[2018-08-22 05:18] tanhengyeow opened #9071 "Instructor: enroll students: blank lines processed by back-end during enrollment"
**Environment**:
`master branch`

**Steps to reproduce**
1. Copy rows of student entries from external sources e.g. Microsoft Excel. Sample data shown below:

![image](https://user-images.githubusercontent.com/25320782/44443860-8ec69f00-a60c-11e8-9a0f-ab7faf2db23a.png)

2. Paste the content into the `New Students` spreadsheet using `Ctrl + V` or `Cmd + V`:

![image](https://user-images.githubuserc

[2018-08-22 05:33] damithc commented on #9071
On a somewhat related note, aren't we supposed to ignore blank lines anyway?

[2018-08-22 05:44] tanhengyeow commented on #9071
@damithc

Yes, the front-end now currently does this:
1. Filter empty rows first
2. Send the non-empty lines to the backend

However, in this case, there were unexpected line feeds/carriage returns due to copying from other sources, thus the unexpected empty lines weren't filtered at this point.

This resulted in the back-end returning the error messages shown in the description after checking the

[2018-08-22 09:04] xpdavid commented on #9071
@damithc  Done. Released as [V6.10.1](https://github.com/TEAMMATES/teammates/releases/tag/V6.10.1).

[2018-08-22 09:15] damithc opened #9074 "Warning during deployment"
v6.10.1

This appears during `gradlew appEngineDeployAll`. Anything we need to do?
[code]

[2018-08-22 09:36] damithc commented on #9071
I've deployed v6.10.1

[2018-08-22 09:36] damithc commented on #9071
Thanks for the quick fix and quick release @tanhengyeow @xpdavid

[2018-08-22 10:13] wkurniawan07 commented on #9074
@damithc this only appears now? I'm pretty sure this has been the case ever since the upgrade to Cloud SDK-based tooling.

[2018-08-22 10:16] damithc commented on #9074
Yes, not new. Ignored it initially because it was a warning about something that can happen in future.

[2018-08-22 10:36] #9071 closed

[2018-08-22 16:28] omkarnix commented on #7414
As a first time, I would like to contribute in this issue.

[2018-08-23 06:35] sukanta-27 commented on #9061
@damithc Sir, a reminder for this.

[2018-08-23 15:15] damithc commented on #9061
Oops. Missed this earlier. Will run on Saturday.

[2018-08-24 00:20] damithc opened #9075 "Update AboutUs page to reflect the team at Aug 2018"
New committers, can you post here suitable photos to be used in the [About Us](http://teammatesv4.appspot.com/about.jsp) page?

Requirements: clean background (no need to remove background), shoulders visible (passport-style photos not suitable),
Preferred: informally dressed, smiling :-)

[2018-08-24 01:37] xpdavid commented on #9075
Welcome! Recently joined committers!

@dalessr @mg14777 @nidhi98gupta @sukanta-27 @tanhengyeow @jacoblipech

And for existing committers, if you want to have a photo associated with you. You can also post it here.

@darrenwee @joanneong @bqnguyen94 @LuLechuan @tshradheya @wenmogu @Crphang @tran-tien-dat @Haozhe321 @craaaa

[2018-08-24 12:00] damithc commented on #9075
Yes, I think so. We'll try that one and get back to you if it doesn't work.

[2018-08-24 12:03] #9044 closed

[2018-08-24 12:06] xpdavid commented on #9060
Closed with #9044 together.

[2018-08-24 12:06] #9060 closed

[2018-08-24 12:18] xpdavid opened #9076 "Run script to delete orphaned StudentProfile"
`DataMigrationForOrphanedStudentProfile.java` in the current master branch should be run in order to do the migration.

@damithc Can I first have a look at the console output when `isPreview()` is `true`?

As this script employees a new data migration framework, it is better for us to preview it first before we actually run it. In addition, can also take this chance to let you know how to stop and

[2018-08-24 14:00] tshradheya commented on #9075
Photo: [Shrad_Image](https://user-images.githubusercontent.com/12574756/44588682-62ce2980-a784-11e8-9644-a36fa8937416.jpeg)

[2018-08-24 14:20] damithc commented on #9075
@tshradheya we need both shoulders to be visible

[2018-08-24 14:29] tshradheya commented on #9075
[New Image](https://user-images.githubusercontent.com/12574756/44590185-82ffe780-a788-11e8-9503-9ff607cd33cf.jpg)

Let me know if this is fine :)

[2018-08-24 14:37] damithc commented on #9075
Yes that looks suitable

[2018-08-24 16:00] dalessr commented on #9075
[image_shengran](https://user-images.githubusercontent.com/22449685/44594679-8089a600-a7f9-11e8-8d2d-370c17564034.jpg)

[2018-08-24 17:27] bqnguyen94 commented on #9075
@damithc is [my current avatar](https://avatars1.githubusercontent.com/u/11720085?s=460&v=4) suitable?

[2018-08-24 17:35] sukanta-27 commented on #9075
@damithc Sir, is this [image](https://user-images.githubusercontent.com/10681755/44598839-030e6780-a7f2-11e8-89c5-a970ab91b311.JPG) suitable?

[2018-08-24 18:06] mg14777 commented on #9075
@damithc sir, does this [image](https://user-images.githubusercontent.com/11634699/44599797-11aa4e00-a7f5-11e8-8f92-cde0189e356e.jpg) look good ?

[2018-08-25 03:39] jacoblipech commented on #9075
@damithc is my [current avatar](https://avatars3.githubusercontent.com/u/28522090?s=400&u=0c0ea287f4f2515c8c1383ca706091cb9835fc79&v=4) acceptable too?

[2018-08-25 04:28] damithc commented on #9075
@dalessr @sukanta-27 @mg14777 @jacoblipech @bqnguyen94 Yes, they seem OK. I'll get back to you if there is any problem.

[2018-08-25 05:45] tanhengyeow commented on #9075
@damithc Is this [image](https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/12227013_10154460101833357_173219303789071714_n.jpg?_nc_cat=0&oh=1ceda80986fc7b89d94a773279a2bfba&oe=5C3A6567) suitable?

[2018-08-25 07:24] #9061 closed, assigned to damithc

[2018-08-25 08:27] damithc commented on #9076
BTW, how do I resume from a previous run that was terminated prematurely?

[2018-08-25 08:41] xpdavid commented on #9076
You can copy the cursor position web safe string from the console output. Let's say the last one in the console input:
`ClISTGoNc350ZWFtbWF0ZXN2NHI7CxIHQWNjb3VudCINMzI0NjU2NDMwM2x4cwwLEg5TdHVkZW50UHJvZmlsZSINMzI0NjU2NDMwM2x4cwwYACAA`

Replace it with empty string here in the script.
[code]

Do you think if it necessary to make the steps automatically? The decision to make it manually right now is

[2018-08-25 08:51] damithc commented on #9076
Got it. No need to make it automatic, but may want to document this somewhere.

[2018-08-26 12:13] xpdavid commented on #9076
@damithc Any updates?

[2018-08-26 12:30] damithc commented on #9076
Oh, you want me to run it for real? Not just in preview mode?

[2018-08-26 12:40] xpdavid commented on #9076
Yes but I need first take a look at the output in the preview mode. What is the last part of the console output?

[2018-08-26 12:41] damithc commented on #9076
Oh, I didn't run it till the end. Will do tomorrow and post here.

[2018-08-26 12:53] joanneong commented on #9075
Here is [my picture](https://user-images.githubusercontent.com/24493463/44627887-8eaa0480-a968-11e8-9fd9-0f5b864a5a22.png). Thanks!

[2018-08-27 03:28] xpdavid commented on #9067
Hi @giannisal, someone is working on it right now as you can see from PR reference. Maybe you could try #9065 instead?

[2018-08-27 10:14] wkurniawan07 opened #9079 "Set up foundation for front-end migration project"
To kick off [this project](https://github.com/TEAMMATES/teammates/projects/4), some foundations need to be laid out first:
- [x] Step 1: Set up Angular 6 front-end project
  - Included: lint/build/test routine (including reliable code coverage), separate dev server from the back end, hot reload in development mode, source maps, minification when building for production usage
- [x] Step 2: Set up R

[2018-08-27 10:17] damithc commented on #9076
It timed out after 35k entities. I resumed from the place it terminated earlier. Still going on.

[2018-08-27 10:41] IAmPramod commented on #9067
@xpdavid this issue can be closed as this is resolved by PR https://github.com/BP-21/teammates/pull/1

[2018-08-27 10:41] damithc commented on #9076
Total number of StudentProfiles: 26280
Number of affected StudentProfiles: 0
Number of updated StudentProfiles: 0

Should I run it in non-preview mode?

[2018-08-27 10:45] xpdavid commented on #9067
Hmmm. You should submit PR against the main repo instead of your own repo. XD

[2018-08-27 10:46] xpdavid commented on #9076
I think no need. We don't have entity to migrate/delete and we can safely remove the legacy code 🎉

[2018-08-27 10:47] xpdavid commented on #9076
Close issue now as there is no affected entity 🎉

[2018-08-27 10:47] #9076 closed

[2018-08-27 11:31] IAmPramod commented on #9067
@BP-21 Please do the needful. Your changes looks good. Raise the PR against the main repo

[2018-08-27 11:38] wkurniawan07 commented on #9067
@IAmPramod, I'd appreciate it if you look at the surroundings first before raising any comment. @BP-21 has done that in #9069.

[2018-08-27 12:30] IAmPramod commented on #9067
@wkurniawan07 Apologies. There are so many PR's against this issue and I haven't looked at all of them,

[2018-08-28 05:46] xpdavid opened #9082 "Objectify: Use java.time.Instant instead of java.util.Date for entity"
I don't think Objectify (even v6) will provide built-in translator for `java.time.Instant`. Therefore, we need to write our own customized [translator](https://github.com/objectify/objectify/wiki/AnnotationReference#comgooglecodeobjectifyannotationtranslate).

This task is not that urgent right now as we are still use Objectify v5 and the native API by Datastore use `java.util.Date` (The API sets

[2018-08-28 05:48] #8565 closed

[2018-08-28 06:25] xpdavid opened #9083 "Data Migration: FeedbackResponseComment commentGiverType and isCommentFromFeedbackParticipant"
Data migration initiated by PR #8830

- [x] Merged code that work for both the old and new versions of the data schema.
- [x] Released a version containing the above in [V6.8.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.8.0)
- [x] Created a client script to migrate all data following the old schema to the new schema in PR #9099.
- [x] Ran the script against the live site.
- [ ] Remove

[2018-08-28 06:28] xpdavid commented on #9083
@nidhi98gupta You need create a client script to migrate all comment.

[2018-08-28 06:58] xpdavid opened #9084 "Data Migration: FeedbackSession timeZone, all time fields, is*EmailEnabled and feedbackSessionType"
Data migration initiated by issue #8448

- [x] Merged code that work for both the old and new versions of the data schema.
- [x] Released a version containing the above in [V6.5.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.5.0).
- [x] Created a client script to migrate all data following the old schema to the new schema in PR #9081 and #8759.
- [x] Ran the script against the live site

[2018-08-28 09:17] nidhi98gupta commented on #9083
Yes, I have university exams this week. I will make a PR next week.

[2018-08-28 18:59] shivam3746 commented on #9059
Hello , May I solve this issue please

[2018-08-28 18:59] shivam3746 commented on #9059
I am a d.Contributor i.e First Timer.

[2018-08-28 19:05] nmmarzano commented on #9065
So basically the whole test will pass or fail depending on how close together `classSetup()` and this test execute, regardless of the actual entities' `getModifiedDate()` return value?

[2018-08-29 04:02] xpdavid commented on #9059
@shivam3746 I am not sure whether google has normalized the behavior or not.

[2018-08-29 04:06] xpdavid commented on #9065
@nmmarzano I don't think so

Should be how close the first statement below and the thrid statement below execute.
[code]

[2018-08-29 12:27] nmmarzano commented on #9065
Right, `createStudentProfileFrom(StudentProfileAttributes profile)` basically calls `new` on `StudentProfile` so the modified date is also set to `now`, I missed that.
Would it be okay to just remove that check then? It would hide the fact that `toEntity()` is setting the `modifiedDate` by also calling `new StudentProfile(...)`, is that correct behaviour that shouldn't be checked for or an actual

[2018-08-29 12:37] #9053 closed

[2018-08-29 13:14] xpdavid commented on #9065
Sure. Go ahead an submit a PR. 👍 🎉

[2018-08-29 15:49] nmmarzano commented on #9065
I will then! Is it needed to assign me the issue?

[2018-08-30 03:27] #9065 closed

[2018-08-30 13:41] xpdavid opened #9089 "Data Migration: Orphaned StudentProfile entity"
Data migration initiated by PR #7338.

- [x] Merged code that work for both the old and new versions of the data schema.
- [x] Released a version containing the above in [V5.109](https://github.com/TEAMMATES/teammates/releases/tag/V5.109).
- [x] Created a client script to migrate all data following the old schema to the new schema in PR #9044 .
- [x] Ran the script against the live site (done in #

[2018-08-31 00:46] damithc opened #9090 "Instructor edit email of student: send the correct link to student"
v6.10.1

Steps:
1. Login as instructor
2. Edit email of a student
3. Choose to resend links when prompted

Problem: the links received by student doesn't work (probably outdated).

[2018-08-31 00:47] damithc commented on #9090
This is probably a long-time bug. I've received reports of this problem from time to time but did not realized it is actually a bug.

[2018-08-31 01:02] xpdavid commented on #9090
Investigating....

[2018-08-31 01:28] xpdavid commented on #9090
The `registrationKey` is not updated accordingly when student email is updated. Fixing.

[2018-08-31 08:00] xpdavid opened #9092 "Logic: Remove unused deleteFeedbackResponseComment method"
https://github.com/TEAMMATES/teammates/blob/216b6c21f6fabcaf8b3f26b268ea55f2f1417407/src/main/java/teammates/logic/api/Logic.java#L2143-L2146

The method is not used in production.

It turns out that `feedbackResponseCommentsLogic.deleteFeedbackResponseComment(feedbackResponseComment);` can also be removed.

[2018-08-31 08:05] xpdavid opened #9093 "Logic: Remove unused method createFeedbackResponse"
https://github.com/TEAMMATES/teammates/blob/216b6c21f6fabcaf8b3f26b268ea55f2f1417407/src/main/java/teammates/logic/api/Logic.java#L1988-L1993

The method is not used in production code.

The method `feedbackResponsesLogic.createFeedbackResponse(feedbackResponse);` could also be removed.

[2018-08-31 08:09] xpdavid opened #9094 "Logic: Remove unused method getFeedbackSessionResultsForInstructor*Section"
https://github.com/TEAMMATES/teammates/blob/216b6c21f6fabcaf8b3f26b268ea55f2f1417407/src/main/java/teammates/logic/api/Logic.java#L1926-L1966

Both methods are not used and should be removed.

Their corresponding methods in `feedbackSessionsLogic` should also be removed.

[2018-08-31 08:12] xpdavid opened #9095 "Logic: Remove unused method getFeedbackSessionResultsForStudent"
https://github.com/TEAMMATES/teammates/blob/216b6c21f6fabcaf8b3f26b268ea55f2f1417407/src/main/java/teammates/logic/api/Logic.java#L1752-L1770

The method is not used.

The correspoding method in `feedbackSessionsLogic` can also be removed.

[2018-08-31 09:15] xpdavid opened #9096 "Logic.java: Clean up unused methods."
There are several unused methods (or methods only used in test) in `Logic.java`. See if we can remove them as well as their correspoding methods `*Db`.

[2018-08-31 09:16] xpdavid commented on #9092
Aggregated to #9096

[2018-08-31 09:16] #9092 closed

[2018-08-31 09:16] xpdavid commented on #9094
Aggregated to #9096

[2018-08-31 09:16] #9094 closed

[2018-08-31 09:16] xpdavid commented on #9093
Aggregated to #9096

[2018-08-31 09:16] #9093 closed

[2018-08-31 09:17] xpdavid commented on #9095
Aggregated to #9096

[2018-08-31 09:17] #9095 closed

[2018-08-31 14:26] xpdavid commented on #9084
@damithc Kindly find a suitable time to run `DataMigrationForSessions.java` in the master branch.

[2018-08-31 20:02] heisenberg-2505 commented on #8509
I ran the tests using IDE, some 40 CI tests failed, but when I ran the failed tests using the IDE it showed that it had no tests to run.
What to do now?

[2018-09-01 03:45] xpdavid commented on #9096
Be prepared as some methods are used in tests. You need find some alternative ways for them.

[2018-09-01 04:00] IAmPramod commented on #9096
@xpdavid Yeah, I saw that. I will start working on this.

[2018-09-01 05:53] LiHaoTan commented on #8509
Are you using Eclipse or IntelliJ? If you are using Eclipse I believe it should work correctly.

On IntellIJ however our workflow currently has a missing step where failed tests are not saved, but you can always use IntelliJ's built-in to re-run failed tests (https://www.jetbrains.com/help/idea/rerunning-tests.html).

[2018-09-01 11:51] damithc commented on #9084
I have started running the script. Will take a few days to complete. So far no affected entities reported.

[2018-09-01 17:54] IAmPramod commented on #9096
@xpdavid Ready for review.

[2018-09-01 20:17] heisenberg-2505 commented on #8509
Thanks a lot. I am currently using IntelliJ, should I switch to Eclipse?

[2018-09-02 03:27] #8755 closed

[2018-09-02 12:26] LiHaoTan commented on #8509
There is no need to, you can still re-run failed tests? (https://www.jetbrains.com/help/idea/rerunning-tests.html)

[2018-09-02 12:47] #3432 closed

[2018-09-02 12:48] jacoblipech commented on #3432
closed via #8874

[2018-09-02 13:32] #9038 closed

[2018-09-03 03:26] damithc commented on #9084
Also, the number of entities reported in the two runs (about 22K) is lower than the total entities reported by GAE (33K)

[2018-09-03 03:33] xpdavid commented on #9084
So the difference is about 10K? The cursor implementation in GAE doens't guarentee to scan all entities if entities are added during the scanning process. This should be fine as the newly added data is already in new format and thus not migration is need. But 10K is kind of too big.

[2018-09-03 04:15] damithc commented on #9084
Yes, it's unlikely 10k entities were added in one day :-) I can try to run the script again to confirm there is indeed a shortfall.

[2018-09-03 04:16] xpdavid commented on #9084
Can we try this after I fix the bug in the script?

[2018-09-03 04:43] damithc commented on #9090
Yup. 👍

[2018-09-03 04:44] xpdavid commented on #9090
🎉

[2018-09-03 04:44] #9090 closed

[2018-09-03 04:48] xpdavid opened #9100 "Release V6.11.0"
Scheduled for Sunday, Sep 9, 2018, 5.00pm SGT.

[2018-09-03 08:07] xpdavid commented on #9025
Write a script to check this:

[code]

Deployed into GAE

output
[code]

Entities really have been created in Datastore. The two calls (read and write) only have around 50ms interval. It seems that access by ID really achieve strong consistency. Still don't know why #8452 happen.

[2018-09-03 08:55] damithc commented on #9025
No cases in last month.

[2018-09-03 13:54] xpdavid commented on #9084
@damithc Can try `DataMigrationForSessions` now in master.

In addition, you can fill
[code]
with the entity count in the last stopped position.

[2018-09-04 04:26] xpdavid opened #9102 "Searching: Use datastore as the single source of truth"
We will store serialized JSON string into the search document and parse it back when we need it.

We should use the document ID to fetch the stored entities in datastore instead of deserializing JSON entity.

Benefits:

- Single source of truth, easy to maintain
- Fewer data stored in search engine, save money
- We will never need data migration for the document

[2018-09-04 04:36] xpdavid commented on #9102
@wkurniawan07 I am not sure why previously we decide to store serialized JSON in search document and parse it back when needed.

It seems that it is just there when search feature is implemented. https://github.com/TEAMMATES/teammates/blame/e4e78a3b67b05b0b622e3f5bb7cd32145327ce24/src/main/java/teammates/storage/search/StudentSearchDocument.java#L52

https://github.com/TEAMMATES/teammates/blame/d0

[2018-09-04 04:37] damithc commented on #9102
Datastore is not normally search-friendly, especially for keyword search, right? May be @kai33 has some inputs?

[2018-09-04 04:51] damithc commented on #9084
Started running it. Already the results are different from the previous run:
[code]

[2018-09-04 05:17] wkurniawan07 commented on #9102
@xpdavid that was first implemented before my time, so I may not be the best person to answer this.

[2018-09-04 06:26] kai33 commented on #9102
If I rmb correctly,
the serialization of attributes in the search document may be based on these assumptions:
1. changes of attributes are backward-compatible, so no migration concern.
2. when attribute is updated, its document should be updated too.
2. it can save many queries to the data store and also search time. E.g. a comment document can link to 4 attributes, and usually a search can fetch

[2018-09-04 06:35] kai33 commented on #9102
And to answer Dr. Damith's question, in a document we have
* visibility related fields that control the visibility of search
* searchable text fields that enable the full-text search
* and serialized attributes (what this issue is talking about) that are used as search result and displayed in the UI

[2018-09-04 06:54] xpdavid commented on #9102
@kai33 thanks for the response, long time no see 😈 😄

That is actually the problem I want to address. If there are any changes to attributes, we need to write migration script in both the datastore and search engine (or there will be some ugly hack in our code). Very hard to maintain and people would probably miss it.

We already have a query to check whether the deserialized entity exists in Data

[2018-09-04 07:04] kai33 commented on #9102
It looks good to me if the assumptions no longer hold.
For the performance concern, you can take a look if any batch-get for docIDs exists and that will save some query time

[2018-09-04 08:26] xpdavid commented on #9025
Just come out with a possible scenario for #8452, very likely to be true I believe.

![image](https://user-images.githubusercontent.com/1673303/43118268-ba9d5df6-8f43-11e8-8c0e-c30de677dd4f.png)
Guess: The second last mail sending action is not the consequence the of last instructor add action.

A user could enter an instructor and find out that the email is wrong. He will need to delete the instr

[2018-09-04 09:48] xpdavid opened #9103 "Searching: Same session name in different courses will produce malformed results"
- **Environment**: `master`

**Steps to reproduce**

- Create two different courses.
- Create one session in two different courses with the same name
- Submit some feedback responses as students in both sessions
- Add a comment with the same content as instructors to feedback response in different sessions
- Go to `instructorSearchPage` and search for the comment you just entered.

![search instru

[2018-09-05 01:41] damithc commented on #9084
[code]

[2018-09-05 05:04] fatimah5 opened #9105 "problem in 3 commands in step 3: set up project-specific setting and dependencies (google cloud SDK)"
Issue title: Help Request: [set up project-specific setting and dependencies (google cloud SDK) ]

- install.bat --path-update true
'install.bat' is not recognized as an internal or external command,
operable program or batch file.

- npm install
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\ASUS\AppData\Local\Google\Cloud SDK\package.json'
npm WARN enoent ENOENT: no such fi

[2018-09-05 07:33] xpdavid commented on #9105
- You need to execute `install.bat --path-update true` under the folder where you download the SDK.

- You need to execute `npm install` and `gradlew.bat createConfigs` under the folder where you clone the repo.

[2018-09-05 15:04] LiHaoTan commented on #8509
I'm afraid I'm not getting what you are saying. If the tests runs and fails it's because of various reasons like mentioned below? You are supposed to figure out why the tests are breaking by walking through the logic. If there is something you don't understand you should give some details otherwise it's hard for anyone to provide input.

[2018-09-05 18:22] ShafqatShafi opened #9106 "unable to select folder node_modules for JavaScript and JSON validation."
I was trying to set validation for javascript and JSON. But after following the steps when I click the
'select folder' it does not show the URL to that folder and nor does is enable 'Next' or 'Finish' button.

And for that reason, I'm getting errors in JSON and js files.

Note: My clone project is in one directory and my eclipse workspace is in another directory.
(eg: project directory: E:\Teammat

[2018-09-06 00:21] s3588689 opened #9107 "Help Request : [Wrong order for new common.datatransfer.attributes [ImportOrder]]"
- 186fa7d9c26670cbe9923a4375b2292e31f6fbf2
- Ubuntu 18.04
- JDK 10.0.2
- Node.js v10.7.0
- gcloud 210.0.0
- Firefox 46.0.1

Hi Guys, here is my error when I am trying to build the project with gradle. What I am trying to do is create a student forum entity based on the InstructorFeedbackSessions and so a lot of the code is based off of that. I have added all the necessary classes in the storage mo

[2018-09-06 02:59] damithc commented on #9084
Done (resumed twice due to timeouts):
[code]

[2018-09-06 03:40] xpdavid commented on #9107
It's an error by CheckStyle static analysis tool.

You need to make your import order follow the order specified in `teammates-checkstyle.xml`. :)

[2018-09-06 03:44] xpdavid commented on #9106
Are you trying to setup static analysis tool? https://github.com/TEAMMATES/teammates/blob/master/docs/static-analysis.md#tool-stack

[2018-09-06 09:10] damithc opened #9109 "Deactivate deleted sessions"
Problem: deleted sessions (which are in the recycle bin) are still sending out email alerts and accepting responses.

[2018-09-06 17:12] ShafqatShafi commented on #9106
@xpdavid No, I'm following the "Project Setup" guideline at this URL: "https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md".
And I was facing this problem under "Validation" section.
But I have successfully completed all the steps in the "ide-setup" guideline. Now I'm on to the "development" guideline.
Actually, I uncheck the Build option for JavaScript Validation and JSON Validat

[2018-09-07 03:33] xpdavid commented on #9106
Good to hear that 👍 Looking forward to your first PR 🎉

[2018-09-07 03:33] #9106 closed

[2018-09-07 16:56] iMB24 opened #9111 "Openhub link for Teammates doesn't work!"
I tried accessing the openhub link - https://www.openhub.net/p/teammatesonline, to learn more about this project but it's gives a error with the message "This website is under heavy load (queue full)."

[2018-09-07 16:57] iMB24 commented on #9111
I can host the contents of the website in another service if anyone's willing to provide the content.

[2018-09-07 17:02] wkurniawan07 commented on #9111
This issue does not belong in this repository. OpenHub is a third-party service provider which we do not even pay.

[2018-09-07 17:02] #9111 closed

[2018-09-08 07:38] heisenberg-2505 commented on #8509
What I'm not getting is why the tests are failing when I've only changed a small html file?

[2018-09-08 15:30] #9109 closed

[2018-09-09 05:28] damithc commented on #9100
Shall we do the release today? I'm office and today is a low-usage day.

[2018-09-09 06:35] s3588689 commented on #9107
Thank you for replying!

I am having another issue with the CheckStyle static analysis tool;

[ant:checkstyle] [ERROR] src../ForumQuestionDetails.java:3:8 Unused Import
- java.util.Comparator. [UnusedImports]

 I feel like I've missed something obvious here.

Thanks in advance for the help!

Tim

On 6 September 2018 at 13:40, Xiao Pu <notifications@github.com> wrote:

[2018-09-09 06:38] xpdavid commented on #9100
I

[2018-09-09 06:56] xpdavid commented on #9100
[V6.11.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.11.0) has been released by @xpdavid at September 9th, 2018, 02.40pm SGT.

Code contributions from: @IAmPramod, @bhumisaxena0223, @dalessr, @jacoblipech, @mg14777, @nidhi98gupta, @nmmarzano, @sukanta-27, @tshradheya, @wkurniawan07, @xpdavid
Review contributions from: @LiHaoTan, @bqnguyen94, @dalessr, @damithc, @jacoblipech, @joanneong

[2018-09-09 07:00] xpdavid commented on #9107
You need to remove unused import.

BTW, it seems that you are working on a new feature/refactor. Please create a issue for discussion before implementation.

[2018-09-09 07:10] damithc commented on #9100
@xpdavid can you try StudentHomePageUiTest against a staging server? Seems it can't get pass the Google login page. May be Google updated the login page again?

[2018-09-09 07:28] xpdavid commented on #9100
Google Login Page's title is not consistent (See #9059 ). Note sure if this version is the final version of them.

Hot fix is as below.

Go to `GoogleLoginPage.java`, change `EXPECTED_SNIPPET_SIGN_IN` to `Sign in – Google accounts` (Note that `Accounts` - > `accounts`, `-` -> `–`)

[2018-09-09 07:42] damithc commented on #9100
Yup, that worked.

[2018-09-09 08:39] damithc opened #9114 "Fix StudentProfilePageUiTest failure against live server"
v6.11.0 testing against live server

	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:101)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:108)
	at teammates.test.cases.BaseTestCase.assertEquals(BaseTestCase.java:143)
	at teammates.test.cases.browsertests.StudentProfilePageUiTest.testAjaxPictureUrl(StudentProfilePageUiTest.java:287)
	at teammates.test.cases.browsertests.StudentPro

[2018-09-09 08:57] fatimah5 commented on #9105
Dose that mean I have to make a copy of SDK shell to these folders, and then execute the commands? because I tried this many times but nothing has been change!

[2018-09-09 09:04] xpdavid commented on #9105
You can put the SDK folder anywhere you want, you just need to `install.bat` to get `gcloud` command in your shell.

[2018-09-09 11:28] davidchoo12 opened #9115 "Suggestion for student feedback page minor UI overflow issue"
Under question 5 of the student feedback page, each of the dropdown and table rows are displayed like this: (notice the overflow of the table on the right)
![image](https://user-images.githubusercontent.com/7817101/45229695-2a3c5d00-b2f9-11e8-9a55-a8b819e32bf0.png)

The html code is as follows
![image](https://user-images.githubusercontent.com/7817101/45231459-9c637080-b2fe-11e8-8942-fa982eb0cf4d.

[2018-09-09 21:43] fatimah5 commented on #9105
yes, the `gcloud` command is working.

Thank you.

[2018-09-09 23:12] xpdavid commented on #9105
🎉 Looking forward to your first PR 😄

[2018-09-09 23:12] #9105 closed

[2018-09-10 02:48] xpdavid opened #9116 "FeedbackSessionsLogic: Push soft-delete logic to DB layer"
Follow up after incidence #9109

https://github.com/TEAMMATES/teammates/blob/51e4279ad8e098ed25d01b5a332a7d5b514d858a/src/main/java/teammates/logic/core/FeedbackSessionsLogic.java#L1538-L1549

Logic should not know how to soft-delete a feedback session. This is the job of DB.

In addition, check whether it is possible to remove `isSessionDeleted()`, `setDeletedTime()`, `resetDeletedTime`, `Builder

[2018-09-10 02:52] damithc commented on #8957
Still failing at v6.11.0

[2018-09-10 02:55] damithc commented on #9114
Did not fail when I did the full run but fails when I run it by itself 🤔

[2018-09-10 03:13] damithc commented on #9022
Did not fail at v6.11.0 when using chrome.

[2018-09-10 03:14] damithc commented on #8909
Did not fail at v6.11.0 when using chrome.

[2018-09-10 03:15] xpdavid commented on #9022
Will be fixed in #9104

[2018-09-10 03:17] damithc opened #9117 "Instructor: delete course/session: remove the term 'soft-delete' from UI"
v6.11.0

I noticed the term 'soft-delete' in the UI while running UI tests. I don't think that's a term meaningful to users.

Suggested: replace with another term such as 'deleted' or 'in the recycle bin'

[2018-09-10 03:18] damithc commented on #9100
Deployed. Thanks for all who contributed 💯

[2018-09-10 03:18] #9100 closed

[2018-09-10 06:52] xpdavid opened #9119 "FeedbackResponseCommentsLogicTest: Fix verification for test"
https://github.com/TEAMMATES/teammates/blob/51e4279ad8e098ed25d01b5a332a7d5b514d858a/src/test/java/teammates/test/cases/logic/FeedbackResponseCommentsLogicTest.java#L71-L96

The test uses a existing comment in DB and create a new duplicate comment with the same `commentText` in the DB. It then tries to verify whether the creation is successful or not. However, the verification will always pass as

[2018-09-10 18:20] dalessr opened #9120 "Deactivate all sessions in deleted courses"
**Environment:**
`master` branch at commit https://github.com/TEAMMATES/teammates/commit/51e4279ad8e098ed25d01b5a332a7d5b514d858a

**Description:**
Similar to #9109 . When soft-deleting a course, the sessions inside are still active. Need to check whether the corresponding course has been deleted before sending emails.

[2018-09-11 06:45] xpdavid commented on #9103
Hi @sukanta-27, interested in doing this issue?

[2018-09-12 03:44] damithc commented on #8452
Received this today. Is it the same?

java.lang.AssertionError: null
	at teammates.common.util.Assumption.fail(Assumption.java:61)
	at teammates.common.util.Assumption.assertTrue(Assumption.java:29)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:272)
	at teammates.common.util.Assumption.assertNotNull(Assumption.java:263)
	at teammates.ui.controller.InstructorCourseJoinAction.ex

[2018-09-12 06:39] damithc commented on #8452
Did that. No results.

[2018-09-12 07:18] xpdavid commented on #8452
Oh.. Just realise the stack trace is different. It is from `InstructorCourseJoinAction`, which is not automated action. Someone is trying to visit the page without `regkey` present (so it is user error I believe). I think it is not a big issue.

[2018-09-12 20:20] fatimah5 opened #9123 "Managing the dev server"
Managing the dev server ( There is no Google App Engine Standard Local Server in Run tab)

- **IntelliJ Version:** IntelliJ IDEA 2018.2.2 x64
- **Chrome Version (if applicable):** Version 69.0.3497.92

**What I was trying to do / What I need help with**
In this step:
Starting the dev server
Go to Run → Run... and select Google App Engine Standard Local Server in the pop-up box.)

 There is no Goog

[2018-09-13 01:12] xpdavid commented on #9123
Click `Run...` and see if you have the option?

[2018-09-13 01:12] xpdavid commented on #9107
Closed as the problem solved 🎉

[2018-09-13 01:12] #9107 closed

[2018-09-13 01:17] fatimah5 commented on #9123
This what shown when I click Run, no Google App Engine Standard Local Server option appear!

![image](https://user-images.githubusercontent.com/41271008/45461463-c9ca6880-b6c8-11e8-8144-c617c6c7ba46.png)

[2018-09-13 01:19] xpdavid commented on #9123
Have you followed https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md and https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md closely?

[2018-09-13 01:27] xpdavid commented on #9123
You need to wait for the index to complete before click `configure`.

You can now delete `.idea/*` folder and try import the project again.

[2018-09-13 01:28] fatimah5 commented on #9123
Ok, I'll try now

[2018-09-13 03:06] xpdavid commented on #9123
Have you installed https://cloud.google.com/tools/intellij/docs/quickstart-IDEA#install plugin?

[2018-09-13 04:45] fatimah5 commented on #9123
yes, I Installed and set up Cloud Tools for IntelliJ, but I didn't do the 3 steps under (before you begin) headline. Should I?

I tried the following steps from https://cloud.google.com/tools/intellij/docs/deploy-local,
To run an App Engine application locally:
Select File > Open to open the project you want to run.
Browse to the directory containing your project.
Select Tools > Google Cloud Tools

[2018-09-13 12:19] #9120 closed

[2018-09-13 12:37] xpdavid commented on #9123
Obviously, you don't not set your language level to 8 in IntelliJ :sweat:

[2018-09-13 17:13] dalessr opened #9124 "CoursesLogic: move sessions to Recycle Bin when soft-deleting courses"
**Environment:**
`master` branch at commit https://github.com/TEAMMATES/teammates/commit/c0f92b439da732fc4ec3a4e18c9133c90868531f

**Description:**
Current implementation for course's Recycle Bin feature: when moving the course to Recycle Bin, no item inside will be changed (i.e. sessions, instructors, students). However, Since some sessions inside are still active & open, thus the sessions can st

[2018-09-14 00:08] fatimah5 commented on #9123
it's already set up to level 8!

![image](https://user-images.githubusercontent.com/41271008/45522394-61db5700-b788-11e8-9ec7-ccae7aa2bc29.png)

[2018-09-14 00:40] #9123 closed

[2018-09-14 01:46] felixneto commented on #9067
Hi Guys that issue was fixed ?

[2018-09-14 03:01] xpdavid commented on #9124
This will need data migration. You may want to introduce the logic in a separate PR.

The urgent task is to disable "session which is not in recycle bin but its corresponding course is in recycle bin can still be accessed". i.e. Introduce `getCourse()` and `getCourseFromRecycleBin()`

[2018-09-14 03:54] #9084 closed

[2018-09-14 04:03] dalessr commented on #9124
Ok so assuming that a soft-deleted session is actually "disabled", then for the current/upcoming PR I will only soft-delete the sessions without modifying the logic. Also, those soft-deleted sessions wont be shown in session's Recycle Bin as it always checks whether the corresponding course has been deleted.

[2018-09-14 04:12] xpdavid opened #9125 "FeedbackSessionsLogic: Simplify queries getFeedbackSessionEntitiesPossiblyNeeding(Open|Closed|Closing)Email"
Sub-issue posted in #8448

All time are now stored in UTC and therefore, for example, if we want to query session opened in the last one hour, we can just query in that way without having an offset 1-2 days to take care of time stored in local time.

You may want to just do one method at each PR.

[2018-09-14 06:36] xpdavid commented on #8640
Decrease priority now as frontend migration is underway 🎉  https://github.com/TEAMMATES/teammates/projects/4 . After completion, we will achieve what @tran-tien-dat has suggested and there is no need have full page HTML verification.

[2018-09-14 06:43] wkurniawan07 commented on #8640
I can't promise this. "Less HTML verification" is definitive, but "No HTML verification" is too strong a conclusion at this point of time.

[2018-09-14 07:50] hidingmode opened #9126 "Links in tooltips are unaccessible"
Links in tooltips (popups that appear on hover) cannot be reached since the tooltips disappear when unhovered.

Example from https://nus-cs2103-ay1819s1.github.io/cs2103-website/se-book-adapted/chapters/revisionControl.html
![Example](https://i.gyazo.com/c6836ac43432c2682e56cd8f94870a37.gif)

**Expected behaviour**
Maybe the tooltop can stay visible for a bit before fading out like in https://stac

[2018-09-14 07:54] xpdavid opened #9127 "Remove dependency to appengine.api.datastore.Text except for entities"
According to https://cloud.google.com/appengine/docs/standard/java/datastore/entities#Java_Properties_and_value_types, the difference between `Text` and `String` is that `Text` can hold more than 1500 bytes (This is a constraint enforced by GAE and in fact `String` can hold up to 2147483645 bytes in Java 8).

- Thus, `Test` is just a wrapper of `String`, there is no major difference between them (

[2018-09-14 07:57] xpdavid commented on #9126
Guess you should create the issue against https://github.com/MarkBind/markbind instead.

[2018-09-14 07:57] #9126 closed

[2018-09-14 11:01] xpdavid opened #9128 "Front-end should take care of time formatting with the latest IANA Time Zone Database"
If we format time in Java, the "tz database" in the JRE will be used to format time (DST will be taken care of according to the database record). However, the "tz database" sometimes changes and the JRE's "tz database" doesn't get updated. (e.g. currently the newest version is '2018e' while GAE only has `2018c`)

According to https://cloud.google.com/appengine/docs/standard/java/runtime-java8#Java

[2018-09-14 11:09] wkurniawan07 commented on #9128
@xpdavid is this really a problem? I remember that in both [back-end](https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/common/util/TzdbResourceZoneRulesProvider.java) and [front-end](https://momentjs.com/timezone/docs/#/data-loading/loading-a-data-bundle) the tz database can be controlled.

[2018-09-14 11:37] xpdavid commented on #9128
@wkurniawan07 Hmm, it is true that we can control the information by updating `tzdb.dat`. However, the updating procedure is not straight forward.

- First need to run https://www.oracle.com/technetwork/java/javase/tzupdater-readme-136440.html
- Then copy the `tzdb.dat` in JRE folder to our repo

I am thinking that maybe we should leave the formatting to front-end as updating timezone information

[2018-09-14 11:56] xpdavid opened #9129 "Update the maintainer guide with instructions on how to update the timezone data"
Basically there are two files that need to be updated:

- `src/main/resources/tzdb.dat` for back-end

https://www.oracle.com/technetwork/java/javase/tzupdater-readme-136440.html

- `src/main/webapp/data/moment-timezone-with-data-2013-2023.min.js` for front-end

https://momentjs.com/timezone/

[2018-09-14 12:07] wkurniawan07 commented on #9129
@xpdavid this doesn't have anything to do with the migration; just do it when you have the time to.

[2018-09-14 12:28] xpdavid commented on #9129
Hmm, if we decide to format time in front-end. This documentation would be useless. In addition, I also hesitate to introduce this additional maintenance burden.

[2018-09-14 12:41] wkurniawan07 commented on #9129
Maintenance burden is not the question right now. Is this crucial for the system's correctness?

[2018-09-14 12:57] xpdavid commented on #9129
Not that much. The timezone database does not update that often (only 3-4 times a year). We are now behind 2 version of the latest updated timezone info (I can submit a PR later to update them).

There should be a person who keep track of the updates of timezone and update the two files accordingly. This is where the maintenance burden comes from. That's why I am asking if we can push the formatti

[2018-09-14 13:11] miderleta commented on #7728
Is this still a valid issue?

[2018-09-14 13:19] miderleta commented on #8215
Hi, Is this issue resolved. I would like to help as well.

[2018-09-15 04:31] #9082 closed

[2018-09-15 04:42] xpdavid opened #9131 "Upgrade to Objectify V6"
Should upgrade to Objectify V6 once the following prerequisites complete:

- Google begin to deprecated accessing Datastore using the old set of API.
    - Can track from here https://cloud.google.com/appengine/docs/standard/java/datastore/creating-entities or any public notification

- The new set of API provided by Google is ready. Currently V6 is using the new set of API with the following limi

[2018-09-15 04:45] xpdavid commented on #9129
Just release we cannot get rid of updating `tz database` in backend (e.g. Sending email need it). Will look into how to make the process automatically and submit PR for the updating process.

[2018-09-15 05:34] wkurniawan07 commented on #9129
@xpdavid don't worry too much about making it "automatic" right now. The focus now is to get the routine to work first.

[2018-09-15 13:11] ahmedabbas11 commented on #9127
hello,
I want to work on this one

[2018-09-15 13:18] xpdavid commented on #9127
@ahmedabbas11 Hi welcome to the community, please find a https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers issue to work on first.

[2018-09-15 13:38] ahmedabbas11 commented on #9127
Hi @xpdavid,
I had a look on the issues with the first timers label but i guess that are all in progress.
Regarding this issue, it's required to convert the Text to String except in the storage component. So I can work on it, if it's ok with you. if not it would be great to guide me to another issue.

[2018-09-15 14:07] xpdavid commented on #8536
The issue still exist as #8442 is not solved.

[2018-09-15 14:17] xpdavid commented on #9127
@ahmedabbas11 This issue is reserved for core team member.

Just clear out a bunch of firstTimer issue, you can find one to work on 😄 .

[2018-09-15 17:15] joanneong commented on #9103
@xpdavid Can I help with this? I am trying to get myself involved with teammates again :) I will try to get a PR up by this coming Tuesday

[2018-09-16 01:26] xpdavid commented on #9103
@joanneong 🎉 Sure

[2018-09-16 02:54] JeremyJohson commented on #8919
I would like to work on this issue

[2018-09-17 02:50] tanhengyeow opened #9134 "Instructor: rename buttons in alert message to match question being asked"
**Environment**:
`master` branch

**Description of feature/enhancement**
Similar to #8981.

Follow the conversation in #9009 and identify appropriate areas to rename the buttons in the respective alert message(s).

[2018-09-17 04:13] #8981 closed

[2018-09-17 04:43] xpdavid opened #9135 "Remove unused constants and methods in EntitiesDb"
There are some unused constants and methods in EntitiesDb. One can use IDE to easily locate them and remove them.

[2018-09-17 04:47] xpdavid commented on #9059
The issue need to be fixed soon.

[2018-09-17 04:58] xpdavid opened #9136 "EntityAttributes: Make getBackupIdentifier() message more meaningful"
Ideally, `getBackupIdentifier()` should produce messages that will help developers to identify modified entities easily.

https://github.com/TEAMMATES/teammates/blob/98ef745d7a243f2330014a5ccbf059a3ee905a7a/src/main/java/teammates/common/datatransfer/attributes/AccountAttributes.java#L206-L209

The above is not helpful at all.

In addition, I think we should name it as `getBackupMessage()` rather

[2018-09-17 05:14] xpdavid opened #9137 "FeedbackResponseCommentAttributes: getIdentificationString() should return the identifier of the attribute"
https://github.com/TEAMMATES/teammates/blob/98ef745d7a243f2330014a5ccbf059a3ee905a7a/src/main/java/teammates/common/datatransfer/attributes/EntityAttributes.java#L35-L39

As indicates above, `getIdentificationString()` should only return string that is sufficient to identify the attribute (i.e. a field combination that makes the attribute unique among others).

[2018-09-17 05:33] xpdavid commented on #9022
Fixed in #9102

[2018-09-17 05:33] #9022 closed

[2018-09-17 06:42] xpdavid commented on #9057
Now these test also failing on master Appveyor build (I think for the same reason).

https://ci.appveyor.com/project/damithc/teammates/branch/master

[2018-09-17 07:55] Labirinto commented on #9137
I would like to work on this issue, please

[2018-09-17 07:56] Labirinto commented on #9136
I would like to work on this issue, please

[2018-09-17 07:56] Labirinto commented on #9135
I would like to work on this issue, please

[2018-09-17 08:05] Labirinto commented on #9137
I would like to work on this issue, please

[2018-09-17 16:09] tanhengyeow commented on #9135
@Labirinto Feel free to work on any issues that doesn't have an ongoing pull request :)

[2018-09-18 02:13] kjayashr commented on #9137
I am a first timer. I am also looking at this issue.
Thanks

[2018-09-18 02:52] kjayashr commented on #9137
I am a first timer. I am assuming,

 Option A: feedbackResponseCommentId + courseId+ feedbackSessionName+ feedbackQuestionId + commentGiver+ feedbackResponseId
should be detailed enough to uniquely identify by just having a look at it.

Do you think any other fields not necessary here?

My option B. Would be:  feedbackSessionName+ feedbackResponseCommentId

Please let me know what shall I go with?

[2018-09-18 03:09] xpdavid commented on #9137
`feedbackResponseId + createdAt + giverEmail` should be the correct combination (Take a look at `FeedbackResponseCommentsDb#getEntityQueryKey`s). Note that an instructor can give multiple comment for a response.

[2018-09-18 05:11] kjayashr commented on #9137
Yes. Thank you. I should have thought more functionally. feedbackResponseId + createdAt + giverEmail should be enough.

[2018-09-18 08:42] xpdavid opened #9139 "CourseAttributesTest: fix unstable testBuilderWithDeletedAt()"
https://github.com/TEAMMATES/teammates/blob/98ef745d7a243f2330014a5ccbf059a3ee905a7a/src/test/java/teammates/test/cases/datatransfer/CourseAttributesTest.java#L51-L61

When `builder` is called, `createdAt` is set to `Instant.now()`. If the test executes a bit slow, it will fail as `Instant.now()` is different when `L59` is called.

@dalessr Do we need that assertion? Can we remove it or use `asser

[2018-09-18 11:44] Labirinto commented on #9139
Please assign this ticket to me.

[2018-09-18 11:54] Labirinto commented on #9131
Please assign this ticket to me

[2018-09-18 12:41] xpdavid opened #9141 "Release V6.12.0"
Scheduled for Thursday, Sep 20, 2018, 10.00am SGT.

This release is mainly to verify the changes introduced recently in the storage components doesn't break anything in the Production environment.

[2018-09-18 14:57] #9129 closed

[2018-09-18 18:33] kyusufA commented on #9139
We need to comment it out because it is not testing anything it is comparing two times which won't be equal unless i am missing something.

[2018-09-19 10:41] xpdavid commented on #9139
Can just remove the line actually 💯

[2018-09-19 17:13] kyusufA commented on #9139
I wanted to remove the line but I do not have permission to push the changes.

[2018-09-19 18:11] kyusufA commented on #9139
can I get permission please

[2018-09-20 01:54] xpdavid commented on #9141
[V6.12.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.12.0) has been released by @xpdavid at September 20th, 2018, 09.47am SGT.

Code contributions from: @arkadyt, @dalessr, @xpdavid
Review contributions from: @damithc, @tanhengyeow, @tran-tien-dat, @wkurniawan07, @xpdavid

Ready for post-release check and deployment by PM (@damithc).

[2018-09-20 02:31] xpdavid commented on #9141
There are two hot fixes that need to applied to automated UI test.

- Change `GoogleLoginPage#EXPECTED_SNIPPET_SIGN_IN` to `Sign in – Google accounts`

- Apply the changes in https://github.com/TEAMMATES/teammates/pull/9062/files

[2018-09-20 09:51] Labirinto commented on #6515
I've refactored the code. Could you please review it?

[2018-09-20 13:46] damithc opened #9144 "Update user map for Aug 2018"
To be done after #8943

Entries to consider

Country| Institute
-- | --
Australia | Brighton Secondary School
Australia | Killara High School
Australia | RMIT
Australia | University of Queensland
Australia | University of Sydney
Belgium | Artevelde University College
Belgium | GTI Mortsel
Belgium | KU Leuven
Brazil | AEDB
Brazil | UNIFEV - Centro Universitário de Votuporanga - SP
Brazil | Universi

[2018-09-20 16:19] wkurniawan07 commented on #9139
@kyusufA you're free to work on your fork and submit a PR here.

[2018-09-20 17:41] sark01 commented on #9144
Hi, I am a newbie and would like to work on this.

[2018-09-21 01:19] dalessr commented on #9139
@xpdavid Opps think I made a mistake here. Should be `validCreatedAt` instead of `Instant.now()`.

[2018-09-21 01:23] dalessr commented on #9144
@sark01 We world like to have #8814 done first :) Feel free to create a PR for it!

[2018-09-21 01:24] xpdavid commented on #9139
Not really, the `createdAt` doesn't supply to the builder.

I think we can just remove the assertion there are it is testing `deletedAt` but not `createdAt `

[2018-09-21 18:36] joanneong opened #9146 "InstructorSearch: Error searching terms found in deleted sessions"
- **Environment**: `master` branch at commit f725f72

**Steps to reproduce**
1. Create any feedback session
2. Add a response to the session
3. Comment on the response as an instructor
4. Try searching for keywords in the comment by checking the "Questions, responses, comments on responses" box
5. Search is successful
6. Delete the feedback session (either soft-delete or full delete)
7. Try search

[2018-09-22 03:10] damithc commented on #9146
@dalessr can take a look?

[2018-09-22 06:06] tanhengyeow commented on #9134
@fatimah5 Sure! Please go ahead and do so.

[2018-09-22 11:31] #9135 closed

[2018-09-22 12:16] #9057 closed

[2018-09-22 15:32] joanneong opened #9148 "InstructorFeedbackSession: Fix data persistence for sessions with recycled names"
- **Environment**:
`master` branch at commit f725f72

**Steps to reproduce**
There are two variants:

First version:
1. Create a new session
2. Submit a response for the session
3. Delete the session **permanently**
4. Create a new session with the same session name in the same course
5. The new feedback session template has too many questions, and some questions warn about existing responses:

<i

[2018-09-22 15:33] joanneong commented on #9148
@xpdavid You might want to take a look at this as well... 😭

[2018-09-22 16:01] wkurniawan07 commented on #6691
Closing this issue on account of:
1. Deploying to staging server is no longer a requirement for a new contributor
1. A card is needed even for activating staging server; it overshadows the problem described here
1. There is a way to deploy an application without the task queue configuration (albeit this means the staging server's task queues will not work)
1. GAE's stance on this keeps changing; b

[2018-09-22 16:01] #6691 closed

[2018-09-22 22:34] fatimah5 commented on #9134
That's what I did.
1. Run 'Google App Engine Standard Local Server' Src> test> resources > pages > adminHomePage.html
2. After the opened in the browser > login as instructor > enter the email as shown in the image.

Problem: After I clicked login nothing happened!

![image](https://user-images.githubusercontent.com/41271008/45922300-807ad580-be8d-11e8-9ffd-3102461ad211.png)

[2018-09-23 02:01] damithc commented on #9148
There was a case of a user complaining that her session ended up with wrong questions. Could be a result of this issue.

[2018-09-23 05:42] fatimah5 commented on #9134
If you can help me, I just want to figure out how to solve this issue. In which page and line is the problem exist?

Thank you

[2018-09-23 05:50] tanhengyeow commented on #9134
There's a proper setup guide to get TEAMMATES running. Refer to this [guide](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#managing-the-dev-server) for more details :)

[2018-09-23 10:10] wkurniawan07 opened #9150 "Tidy up PMD ruleset and remove PMD 5 support"
The PMD ruleset was last examined on #8515 and the focus back then was a smooth transition from PMD 5 -> PMD 6, not to optimize the ruleset for PMD 6. The time is ripe now for the latter.

Also, `eclipse-pmd` has already rolled out support for PMD 6, for quite some time in fact, so we can decommission the support for PMD 5 for good.

[2018-09-23 15:31] xpdavid commented on #9148
I didn't expect that question deletion logic get back the feedback session somehow (If the session is soft-deleted, it will never get that session and the cascade deletion logic fail silently).

Confirm it is a bug :(

Will release together with V6.12.1.

[2018-09-23 18:48] sark01 commented on #8814
There has been no further activity on this issue, is it okay if I take it up?

[2018-09-23 19:52] tomignarri commented on #8814
Absolutely

Sent from my iPhone

[2018-09-24 02:34] xpdavid opened #9152 "Add more SpotBugs rules"
SpotBugs is adopted in #9149 and only some rules have been adopted.

Need to do some experiments to find new candidates and enforce the rule in our code base.

https://spotbugs.readthedocs.io/en/stable/bugDescriptions.html

Please also give some justifications if certain rules need to be enforced :)

[2018-09-25 04:41] #9150 closed

[2018-09-25 12:35] idannik commented on #9137
Hey, I am also new to opensource projects and would love to contribute! Is this issue resolved?

[2018-09-25 12:36] idannik commented on #9067
Hey, I am also new to opensource projects and would love to contribute! Is this issue resolved?

[2018-09-25 12:37] xpdavid commented on #9137
@idannik Hi welcome, please note that there is an existing PR for this issue. You may want to try other issues :)

[2018-09-25 17:30] fatimah5 commented on #9134
yes, I'm working on it.

[2018-09-26 09:43] ooxaam commented on #8943
Hi, Can I pick this task ?

[2018-09-26 11:54] wkurniawan07 commented on #8527
The original issue can be divided into two independent parts:
- Using JUnit 5 as the test runner (`junit-jupiter-engine` + `junit-jupiter-api`, `useJUnitPlatform()` in Gradle, etc.)
- Using JUnit 5 as the assertion tools (`junit-jupiter-api` only)

I have finished the second part; PR incoming soon. This issue should then be limited to the first part.

[2018-09-27 00:46] damithc opened #9157 "AssertionError: If the instructor hasn't been retrieved yet there is some problem in adding of instructor"
Received several of these yesterday and today, from the live server
v 6.11.0
----
Error Message: teammates.common.util.Logger severe: Exception occured while performing http://teammatesv4.appspot.com/worker/instructorCourseJoinEmail|||
java.lang.AssertionError: If the instructor hasn't been retrieved yet there is some problem in adding of instructor
teammates.common.util.retry.MaximumRetriesExceed

[2018-09-27 00:46] damithc commented on #9157
@xpdavid this might be related to eventual consistency. Can have a look?

[2018-09-27 01:39] xpdavid commented on #9157
This might be the scenario described in https://github.com/TEAMMATES/teammates/issues/9025#issuecomment-418284072

![](https://user-images.githubusercontent.com/13977235/45020732-5e4a2080-b062-11e8-8400-c7b77ecebe17.png)

@damithc can you check the log to confirm? You may search the instructor email logged in this failed request.

[2018-09-27 04:33] damithc commented on #9157
Doesn't look like that is the case
![image](https://user-images.githubusercontent.com/1673303/46123458-4032a300-c251-11e8-9305-42629888cec0.png)

[2018-09-27 05:10] xpdavid commented on #9157
![image](https://user-images.githubusercontent.com/13977235/46124416-9fdf7d00-c256-11e8-927a-c9b558b34ef9.png)

Three add action of the same instructor?

[2018-09-27 05:36] xpdavid commented on #9157
Let's focus on the first failure:

![image](https://user-images.githubusercontent.com/13977235/46124954-5ba1ac00-c259-11e8-951e-1a59e1b283ec.png)

Can we get the logged parameters `courseid` and `instructoremail` and query them in the Google Cloud Console?

https://console.cloud.google.com/datastore/entities/query?project=&ns=&kind=Instructor

![image](https://user-images.githubusercontent.com/139

[2018-09-27 07:18] damithc commented on #9157
Both entities exist. In fact, for the second instructor, a reminder has been sent and he eventually joined the course.

![image](https://user-images.githubusercontent.com/1673303/46129230-8e9f6c00-c268-11e8-834a-1f463dd42e65.png)

[2018-09-27 10:21] pratikadola commented on #9139
Hi, is the issue still open to work on? If so I'd like to give it a shot :)

[2018-09-27 10:53] xpdavid commented on #9139
@pratikadola You are free to work on it since there is no update from @kyusufA in the current PR.

[2018-09-27 11:18] pratikadola commented on #9139
#9158 https://github.com/TEAMMATES/teammates/pull/9158

[2018-09-27 11:20] pratikadola commented on #9139
# #9158

#9158

[2018-09-27 14:27] xpdavid commented on #9139
@kyusufA Your PR is not CI green and we doesn't hear you for several days. If you want to continue to do it, you may want to coordinate with @pratikadola.

[2018-09-27 14:35] kyusufA commented on #9139
sure

[2018-09-27 14:38] pratikadola commented on #9139
#9158 - Are there any issues with this PR? If not can we close the issue?

[2018-09-29 15:41] xpdavid commented on #9141
[V6.12.1](https://github.com/TEAMMATES/teammates/releases/tag/V6.12.1) with fixes for critical bugs is ready for release. @damithc

The two fixes above (in order for UI test to work) should still be applied (the second one is fixed in current `master`).

[2018-09-29 15:59] n1ckyb commented on #8943
Hi, if no one is picking this up, can I pick it up?

[2018-09-29 16:00] n1ckyb commented on #9144
Hi, if no one is picking this up, can I pick it up?

[2018-09-29 16:06] n1ckyb commented on #9119
Can I take a look?

[2018-09-29 16:09] xpdavid commented on #9119
@n1ckyb Hi, Welcome! You should find any firstTimer issue to try first before targeting contributors issue.

[2018-09-29 17:13] IAmPramod commented on #9152
@xpdavid, I think following rules should be added. This is not a exhaustive list but we can add more to this.

- NP_BOOLEAN_RETURN_NULL
- Method might drop exception (DE_MIGHT_DROP)
- Method might ignore exception (DE_MIGHT_IGNORE)
- Covariant compareTo() method defined (CO_SELF_NO_OBJECT)
- IC_SUPERCLASS_USES_SUBCLASS_DURING_INITIALIZATION
- Enum field is public and mutable (ME_MUTABLE_ENUM_FIELD

[2018-09-30 01:54] damithc commented on #9157
Received more of these

[2018-09-30 11:37] n1ckyb commented on #8814
If no one is picking this up can I take a look?
@sark01 Can you confirm if you're picking this up or not?

[2018-10-01 03:16] xpdavid commented on #9157
@damithc Can I get your help to check something?

In the log for failed automated action (`/worker/instructorCourseJoinEmail`), does the logged email contains extra space?
[code]

I found that when we store instructor email, we do sanitisation to remove the extra space in the instructor email. However, when we issue task to task scheduler, we use the plain unsanitized email which may contain extra

[2018-10-01 03:28] damithc commented on #9157
Yup, I checked a few failed cases and they all have trailing spaces. Good catch 💯

[2018-10-01 03:29] xpdavid commented on #9157
🎉 🎉 🎉 🎉 🎉 🎉 🎉  then we find the cause finally!

[2018-10-01 15:15] damithc opened #9160 "Exception occured while performing http://teammatesv4.appspot.com/auto/feedbackSessionClosedReminders"
v6.11.0 (6.12.1 deployed but not activated yet)
I'm getting a few of these from the live server
[code]

[2018-10-01 15:57] wkurniawan07 commented on #9160
@xpdavid remnants of #9118?

@damithc that exception-invoking function (`convertFieldsToUtcIfRequired`) is decommissioned in the latest code, so it's very likely a case of improper handling of new data schema. But @xpdavid should confirm.

[2018-10-01 15:58] #9157 closed

[2018-10-01 15:58] #9025 closed

[2018-10-01 16:01] wkurniawan07 opened #9161 "Remove maintenance and ops-related documentation"
With `teammates-ops` repo up and running, we can reduce the amount of documentation in this repo even further.

[2018-10-01 16:19] xpdavid commented on #9160
I guess the error occur after pre-deployment check of V6.12.1 (UI test has been run)?

If this is true, the error is as expected.

In the new code in V6.12.1, `isTimeStoredInUtc` is removed and test data will be stored in new format. Because V6.12.1 hasn't been rolled out yet, the new data is handled by the old code (for cron task and task queue) and this will cause error.

The impact is kind of b

[2018-10-01 19:50] LianyanGu commented on #9144
Hi, Can I pick it up if no one update on this issue?

[2018-10-01 22:42] acheaito opened #9165 "Add Docker Support"
Add Docker Support to Teammates

- **Environment**:  `master` branch at commit ad120e6

**Description of feature/enhancement**
Containerizing Teammates with Docker allows anyone to start a local server without setting up a dev environment

**Justification**
Makes it much more likely for prospect users to try out Teammates locally

**Existing similar features and their shortcomings**
Server can be

[2018-10-02 02:11] damithc commented on #9160
I had to enable v6.12.1 although I haven't completed its live testing :-p No recurrence of the problem since then.
On a related note, v6.12.1 is a 'no going back' version i.e., cannot be rolled back. Such versions should be minimized. At the same time, we should avoid the possibility that live testing of an upcoming version breaks the current live system.

[2018-10-02 02:39] xpdavid commented on #9160
Will document properly in the `teammates-ops` on how to avoid this.

[2018-10-02 03:20] damithc commented on #8957
Still failing at v6.12.1

[2018-10-02 04:02] Kavinda-Senarathne commented on #9144
I would like to work on this

[2018-10-02 04:04] wkurniawan07 commented on #9160
If the exception is caused by test data, it cannot really be said that it is a no-going-back version. It just means, as I said, "a case of improper handling of new data schema".

[2018-10-02 04:17] damithc opened #9167 "FeedbackRankQuestionUiTest failing on live server"
v6.12.1
Failing for both Firefox and Chrome, after multiple tries

java.lang.AssertionError:
Expected :["Choice 3","Choice 1","Choice 2","Choice 4"]
Actual   :["Choice 1","Choice 2","Choice 3","Choice 4"]

	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:101)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:108)
	at teammates.test.cases.BaseTestCase.assertEquals(BaseTestCase.java:1

[2018-10-02 04:36] damithc commented on #9167
And these too: FeedbackConstSumOptionQuestionUiTest, FeedbackMsqQuestionUiTest

[2018-10-02 04:42] damithc commented on #9160
I see. I assumed we cannot rollback to v6.11 once v6.12 has been used by some users. Isn't that the case? A change is data scheme usually result in such a no-going-back version; it's just that we need to minimize such versions.

[2018-10-02 04:45] xpdavid commented on #9160
Yes. However, we can put some efforts to make the adjacent versions "rollbackable"/interchangeable.

[2018-10-02 05:03] xpdavid commented on #9167
@mg14777 Tests are not stable in LIVE testing.

[2018-10-02 10:38] xpdavid commented on #8527
Not sure what happen to Eclipse. For IntelliJ, the lovely ‘click to see difference’ is missing after #9155 is merged.

It seems that with TestNG as test runner, IntelliJ won't parse comparison failure message properly when JUnit 5 API is used.

Expected:
![image](https://user-images.githubusercontent.com/13977235/46343952-14a92180-c672-11e8-9dd8-d24407e7dc06.png)

Actual:
![image](https://user-ima

[2018-10-02 11:29] wkurniawan07 commented on #8527
I take responsibility for this. Same occurrence in Eclipse. Reason being the special treatment only applies to `java.lang.AssertionError` and not `org.opentest4j.AssertionFailedError`. Re-throwing the Exception as `AssertionError` does not help.

@xpdavid we have two options:
- Use old JUnit assertion API only for `assertEquals` (I don't think there is any benefit for all other `assert*` methods?)

[2018-10-02 11:48] xpdavid commented on #8527
The text comparison feature is useful when compare expected HTML and actual HTML (and also expected CSV with actual CSV). Considering that currently the front-end feature development is kind of on-hold because of V7 migration (while we still have some small changes in UI), the impact will not be that big. Nevertheless, it is still troublesome to compare the text manually.

Seems like we have anoth

[2018-10-02 14:33] wkurniawan07 commented on #8527
Indeed, upgrading to just TestNG 6.9.6 can benefit us that way. So now we have these as options:

- Change only `assertEquals` to TestNG's implementation
- Change all to TestNG 6.9.6's implementation but need to borrow JUnit for some not provided functions (e.g. `assertNotEquals`)

None are particularly beneficial over the other. @xpdavid any thoughts?

[2018-10-02 14:39] damithc opened #9168 "Instructor: non-standard times shown for session start/end times"
v6.12.1
See the screenshot below from a user's home page. How come `x.59` shown as start/end times?

![image](https://user-images.githubusercontent.com/1673303/46355685-e5a3a780-c693-11e8-8eb5-a33aab07d92c.png)

[2018-10-02 15:00] xpdavid commented on #9168
Our sample data actual sets `x.59`?

![image](https://user-images.githubusercontent.com/13977235/46356610-ad04cd80-c695-11e8-8ebd-dd5f40876d75.png)

[2018-10-02 15:06] damithc commented on #9168
Oh, didn't realize it before. That shouldn't be the case though. :-p

[2018-10-02 15:37] xpdavid commented on #8527
I would expect we will move to JUnit in the future when JUnit is ready. Therefore, we can just change only `assertEquals` to TestNG's implementation.

[2018-10-02 20:05] fatimah5 opened #9170 "Running adminHomePage.html Page"
Firefox version: 48.0

I run the src>main>test>resources> pages> adminHomePage.html

This what appears!

![image](https://user-images.githubusercontent.com/41271008/46373660-398e9c00-c654-11e8-8d54-a012b3aa7cba.png)

[2018-10-02 20:52] carsonshoupe commented on #9059
Hello.  I am a first time contributor and would like to resolve this issue.  I have the development environment set up and am ready to write the relevant code.

[2018-10-03 00:37] xpdavid commented on #9170
@fatimah5 Please follow our bug-report issue template if you think this is a bug.

[2018-10-03 04:30] xpdavid commented on #9168
What should be the expected value/behaviour?

[2018-10-03 04:49] xpdavid commented on #9059
@carsonshoupe Sure, go ahead and submit a PR 👍

[2018-10-03 14:29] xpdavid commented on #9059
You need have a staging server to reproduce the error.

Actually, all automated UI tests against staging server (not local server).

[2018-10-03 14:35] carsonshoupe commented on #9059
@xpdavid Okay.  So I cannot reproduce the error?  If so, should I just go ahead and submit the pull request?

[2018-10-03 14:41] xpdavid commented on #9059
I think the issue is quite straight forward if you understand it correctly. You can submit an PR.

[2018-10-03 14:43] xpdavid commented on #9059
I think the issue is quite straight forward if you understand it correctly. You can submit an PR.

[2018-10-04 02:31] xpdavid commented on #9141
@damithc Any further problems with the release?

[2018-10-04 02:36] damithc commented on #9141
Nope.

[2018-10-04 02:37] damithc commented on #9141
Deployed. Thanks to all who contributed 💯

[2018-10-04 02:37] #9141 closed

[2018-10-04 04:27] IAmPramod commented on #9119
@n1ckyb hi, are you working on this?

[2018-10-04 05:58] tran-tien-dat commented on #9075
@damithc is my [current avatar](https://avatars3.githubusercontent.com/u/8559368?s=400&u=e32865fd8b95ce35ae8b931d14dc19d45875121a&v=4) suitable?

[2018-10-04 06:07] damithc commented on #9075
Yes, that should work.

[2018-10-04 08:12] xpdavid commented on #9146
Fixed in `release` and changes merged back to `master`

[2018-10-04 08:12] #9146 closed

[2018-10-04 08:13] xpdavid commented on #9148
Fixed in `release` and changes merged back to `master`

[2018-10-04 08:13] #9148 closed

[2018-10-04 08:28] xpdavid opened #9174 "Testing: Fix integrity of test data for FeedbackResponseComment"
https://github.com/TEAMMATES/teammates/blob/92b7744ffafb7162535eacde0051904cdff13659/src/test/resources/data/AllAccessControlUiTest.json#L1070-L1085

There is no response with `feedbackResponseId` = `3%student1InCourse1.access@gmail.tmt%student1InCourse1.access@gmail.tmt` in the `.json` file. Need to change the id to refer to the real response in the `.json` file.

Part of the fixes has been intro

[2018-10-04 08:43] xpdavid opened #9175 "Remove unnecessary integrity check for getFeedbackQuestionsForSession"
https://github.com/TEAMMATES/teammates/blob/92b7744ffafb7162535eacde0051904cdff13659/src/main/java/teammates/logic/core/FeedbackQuestionsLogic.java#L126-L145

The check for the existence of the session is not necessary:

- Extra database cost + latency
- No harm if the course does not exist -> return empty list
- We don't do the parent entity existence check in `session`, `response`, `responseComm

[2018-10-04 12:51] xpdavid commented on #9175
There is no need to ask :) Go ahead 👍

[2018-10-05 01:54] #9064 closed

[2018-10-05 13:41] wenmogu commented on #9075
@damithc does [this pic](https://user-images.githubusercontent.com/28526038/46538657-3518ec00-c8bd-11e8-819d-2718a9483f37.png) looks ok

[2018-10-05 14:11] Crphang commented on #9075
@damithc is my [current avatar](https://avatars0.githubusercontent.com/u/4986717?s=460&v=4) okay?

[2018-10-05 15:37] IAmPramod commented on #9075
@damithc Is my [current avatar](https://avatars0.githubusercontent.com/u/2184241?s=400&u=871c8733192629bdf1172b3e4ebe6b38f89fe84e&v=4) is ok?

[2018-10-05 15:49] wkurniawan07 commented on #9075
@IAmPramod, this issue is only targeted to recently promoted committers.

[2018-10-06 01:54] damithc commented on #9075
@wenmogu the background is not clean enough to be removed cleanly. Can take a selfie against a clean background such as a white wall?
@Crphang yes, looks suitable.

[2018-10-06 09:06] bhumisaxena0223 commented on #9134
Hey @fatimah5, if you are not working on this, can I post a solution for this issue?

[2018-10-06 21:58] riyadhctg opened #9176 "Some minor tweaks for the website UI (home page)"
I am suggesting few UI tweaks for the website from a user perspective:

**Footer**
Currently there is no footer in the website. Footer is generally useful for copyright notice etc. From a UX perspective, it might be useful to have a plain, text-based navigation menu on the footer along with easy access to social contacts. An example for clarification:
![image](https://user-images.githubusercontent

[2018-10-07 13:48] ChidambaramR opened #9177 "Setting up dev enviornment did not work by following steps exactly as mentioned in the docs"
- **Commit SHA:** NA
- **Operating System:** MacOS Sierra ( 10.12.6 )
- **JDK Version:** 1.8
- **Node.js Version:** 6.4.1 (npm -v)
- **Google Cloud SDK Version:** 1.7.1.201807071456
- **Eclipse / IntelliJ Version (if applicable):** Eclipse Java EE IDE for Web Developers., 2018-09 (4.9.0)
- **Firefox / Chrome Version (if applicable):**

While setting up dev environment. I am facing two issues

- Af

[2018-10-07 13:55] wkurniawan07 commented on #9177
@ChidambaramR, I presume you did not run `./gradlew createConfigs`?

[2018-10-07 14:01] ChidambaramR commented on #9177
I think I ran it. Attaching my history for your reference

[2018-10-07 14:39] wkurniawan07 commented on #9177
Maybe you can try refreshing the project in Eclipse? Eclipse has a not-so-good reputation when it comes to syncing files.

[2018-10-07 14:44] ChidambaramR commented on #9177
I am pretty sure I ran `./gradlew createConfigs`. I am not sure if I had not run the command would other commands like ./gradlew appEngineStart / run would work.

When I ran into the issue, it seems like the appengine-web.xml file was missing from `ls -l /Users/chidr/eclipse-workspace/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/teammates/WEB-INF/` directory.

I am not sure how the sync hap

[2018-10-07 18:56] laurenmayers commented on #9176
I'd like to work on the footer if no one else has started this?

[2018-10-08 06:09] ChidambaramR commented on #9177
Thanks for the quick response. I will close the issue..

[2018-10-08 06:09] #9177 closed

[2018-10-08 11:01] #9059 closed

[2018-10-08 11:54] damithc commented on #9176
These ideas are worth consideration. Thanks @riyadhctg
For now, let us put this on hold as it is not a priority.

[2018-10-08 11:56] #9137 closed

[2018-10-08 13:34] carsonshoupe commented on #9096
Hi @IAmPramod.  Do you plan to open another PR for this issue?

[2018-10-08 14:52] IAmPramod commented on #9096
@carsonshoupe yes, that will be better.

[2018-10-08 16:39] wkurniawan07 opened #9179 "Make JS code ES6-compliant"
As reported in #9177, JS code which follow the syntax of ES7 and above will be flagged as errors in Eclipse. Since there are no ES7+ features being used and the front-end will be migrated to TypeScript anyway, the existing JS code shall be made ES6-compliant.

[2018-10-09 00:30] fatimah5 opened #9181 "running the page after login -bug-"
- **Environment**: Google App Engine Standard Local Server, `master` branch

**Expected behavior**
Run the page of admin, instructor, or student after login.

**Actual behaviour**
This page and message shown up.
![image](https://user-images.githubusercontent.com/41271008/46640150-e626bd00-cb2f-11e8-8ef5-84266df3fa25.png)

**Additional info**

I run src > test > resources > pages > adminHomePage

[2018-10-09 00:43] fatimah5 commented on #9134
I'm working, I just reported a bug, and I'll solve this issue once the issue of bug solved.

[2018-10-09 06:11] namansisodiarajput commented on #9144
where will i get user map? i have checked all the part didn't able to figure out which part I have to work?

[2018-10-09 09:05] namansisodiarajput commented on #9144
i am submitting pr on this please have a review.

[2018-10-09 09:43] hidingmode commented on #9115
Another design nitpick. The form submit button states there is a saving feature. I thought it meant there is a save button somewhere so that I can save first before submitting. I only found out after submitting that it meant I can edit my responses after submission.
So perhaps, change the tooltip to "You can edit your responses after submission at any time before the deadline"
![image](https://use

[2018-10-10 07:29] xpdavid commented on #9181
Can you provide the corresponding log for the error?

[2018-10-10 07:32] xpdavid commented on #9170
Duplicated in #9181

Feel free to re-peon if this is not duplicated issue.

[2018-10-10 07:32] #9170 closed

[2018-10-10 08:46] xpdavid opened #9182 "Release V6.13.0"
Scheduled for Saturday, Oct 13, 2018, 10.00am SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2018-10-10 12:16] damithc commented on #8911
A few of these happened today:

Error Message: teammates.common.util.Logger severe: Exception occured while performing http://teammatesv4.appspot.com/worker/studentCourseJoinEmail|||
java.lang.AssertionError: If the student hasn't been retrieved yet there is some problem in adding of student
teammates.common.util.retry.MaximumRetriesExceededException: getStudent failed after maximum retries
at tea

[2018-10-10 13:27] #9179 closed

[2018-10-10 17:47] rohan23chhabra opened #9183 "Hi teammates!! I wish to contribute to your project. I am a Java enthusiast."
Getting started to contributing for teammates.

[2018-10-11 16:44] wkurniawan07 opened #9184 "Lock App Engine SDK at 1.9.65"
https://issuetracker.google.com/issues/117581678

SDK 1.9.66 has issues with the new Jetty runtime that it brings. We will lock our SDK version and see how that issue develops before deciding on further actions.

[2018-10-11 17:30] bhumisaxena0223 opened #9187 "Admin, instructor and student page login error."
* Operating System: MacBook Air
* JDK Version: 8
* Eclipse / IntelliJ Version (if applicable): Photon
* Firefox / Chrome Version (where applicable): FF 44.1

What I was trying to do / What I need help with?

I followed the guidelines to setup the project and I am now stuck with passing the tests.
I am working on the issue. But recently these errors came up. I tried many ways to solve them. But cou

[2018-10-12 07:19] bhumisaxena0223 commented on #9187
No, I tried to run each test individually and tried to login manually but same error every time.

[2018-10-12 08:21] xpdavid commented on #9187
What error do you see why you login it manually?

[2018-10-12 09:02] #9184 closed

[2018-10-12 11:02] bhumisaxena0223 commented on #9187
I run it manually, giving same error.

java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at teammates.test.pageobjects.AppPage.getNewPageInstance(AppPage.java:168)
	at teammates.test.pageobjects.AppPage.changePageType(AppPage.java:196)
	at teammates.test.pageobjects.InstructorHomePage.clickCourseEditLink(InstructorHomePage.java:113)
	at teammates.test.cases.browsertests.Admi

[2018-10-12 11:03] xpdavid commented on #9187
It says not in the correct page. So what page are you in?

[2018-10-13 07:30] cbb692 commented on #8814
Hey all,

It seems like people picking this up kinda died. I'm working on clearing them out right now, but wanted to clarify a few things before making a push to save time for everyone:

1) Under Belgium, there is the new Sint-Lievenscollege to be added. There is presently one in the system without a specific location, but it has a space in between "Lievens" and "College". Just wanna confirm if th

[2018-10-13 07:47] xpdavid commented on #9182
[V6.13.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.13.0) has been released by @xpdavid at October 13th, 2018, 03.40pm SGT.

Code contributions from: @IAmPramod, @Labirinto, @carsonshoupe, @kjayashr, @mg14777, @wkurniawan07, @xpdavid
Review contributions from: @LiHaoTan, @damithc, @tanhengyeow, @tshradheya, @wkurniawan07, @xpdavid

Ready for post-release check and deployment by PM (@d

[2018-10-14 03:24] joanneong opened #9191 "FeedbackResponsesLogicTest.java: Make use of `assertEquals` consistent"
- **Environment**: `master` branch of commit 70cdecc8f578d9687b7254046441370d674228f7

**Expected behaviour**

In JUnit, the `assertEquals` statement takes in two parameters: expected and actual output. This means that the first argument should be the value that we hope to see versus the second argument which is what the program actually outputs.

**Actual behaviour**

However, in this test you ca

[2018-10-14 03:32] damithc commented on #9191
Looks like a case of swapping the two parameters by mistake. Happens often because we tend to think 'get the actual value and compare with the expected' rather than the other way around. Possibly a flaw in JUnit API design to choose an unintuitive parameter order.

Anyway, this mistake might be there in other test classes as well.

[2018-10-14 06:29] wkurniawan07 commented on #9191
This is not anyone's fault; in the past, there are mixture of usages of [`org.testng.Assert.assert*`](https://static.javadoc.io/org.testng/testng/6.9.4/org/testng/Assert.html) (first parameter is `actual`) , [`org.testng.AssertJUnit.assert*`](https://static.javadoc.io/org.testng/testng/6.9.4/org/testng/AssertJUnit.html) (first parameter is `expected`, and [`org.junit.Assert.assert*`](http://junit.

[2018-10-14 08:36] cbb692 commented on #9191
I've got everything switched for the noted class. Would it be better to wait until I go through everything to submit a PR or should I just send what I have for now and get to the rest when I can?

[2018-10-14 08:39] xpdavid commented on #9191
If your fixes to this issue are completed, go ahead. :)

[2018-10-14 08:40] xpdavid commented on #9187
You can get the detailed error in the log. Can you post the log here also?

[2018-10-14 09:51] cbb692 commented on #9191
As I mentioned in the PR, some shenanigans occurred when I was trying to put everything together in regards to another issue I swept through yesterday. Let me know if you want me to start from scratch to more thoroughly follow protocol. Sorry for clogging up everyone's notification feed.

[2018-10-15 04:04] damithc commented on #8957
failing at v6.13

[2018-10-15 04:06] damithc commented on #9114
v6.13: failing in the full run as well as individually.

[2018-10-15 04:08] xpdavid commented on #9114
Same error message?

[2018-10-15 04:08] xpdavid commented on #8957
Will be fixed in #9171 :)

[2018-10-15 04:21] damithc opened #9193 "InstructorFeedbackEditPageUiTest failing on live server"
v6.13.0
Failing after 4 tries, tried both Chrome and FF

	at org.openqa.selenium.support.ui.FluentWait.until(FluentWait.java:261)
	at teammates.test.pageobjects.AppPage.waitFor(AppPage.java:224)
	at teammates.test.pageobjects.AppPage$JQueryAjaxHandler.waitForRequestComplete(AppPage.java:1528)
	at teammates.test.pageobjects.AppPage.selectDropdownByActualValueAndWaitForAjaxRequestComplete(AppPage.ja

[2018-10-15 04:31] damithc commented on #9114
![image](https://user-images.githubusercontent.com/1673303/46930065-05fd3a00-d076-11e8-82b6-5de3b383dc78.png)

at teammates.test.cases.BaseTestCase.assertEquals(BaseTestCase.java:149)
	at teammates.test.cases.browsertests.StudentProfilePageUiTest.testAjaxPictureUrl(StudentProfilePageUiTest.java:287)
	at teammates.test.cases.browsertests.StudentProfilePageUiTest.allTests(StudentProfilePageUiTest.ja

[2018-10-15 05:47] xpdavid commented on #9193
It's a timing issue (Hot fix it to add some `ThreadHelper.wait()`). The previous AJAX has not completed while the current AJAX handler is registered and cause state inconsistency. Will come out with a robust fix soon.

[2018-10-15 07:47] bhumisaxena0223 commented on #9187
@xpdavid Thank you for telling this, I think I found the error, will try to solve it soon as I can.
I found the error why I am not in correct page.
Here is the Error log:
![screenshot 2018-10-15 13 19 52](https://user-images.githubusercontent.com/41126620/46936621-89ba2500-d07c-11e8-9466-6f2141b93eb0.png)

[2018-10-15 08:10] xpdavid commented on #9193
@damithc can try the fix in #9194. There are lots of tests after the failing point. It will be safer to get them passed for this release.

[2018-10-15 10:35] damithc commented on #9193
It works 💯

[2018-10-15 14:37] damithc commented on #9182
Deployed. Thanks to all who contributed 💯

[2018-10-15 14:37] #9182 closed

[2018-10-15 16:29] IAmPramod commented on #9096
@xpdavid started working on this now.

[2018-10-16 03:02] IAmPramod commented on #9152
@xpdavid are we good to start on this or do we need to add more rules?

[2018-10-16 03:28] xpdavid commented on #9152
Would be good to explore more of them first.

[2018-10-16 03:30] damithc opened #9197 "Session opening alert did not go out to some courses/students"
v6.13.0
Reported by a user.
The following two sessions have identical opening times. One session sent session-opening emails to the instructor but not the students; the other didn't send any emails (the user got suspicious because she received email from one session but not the other). I confirmed by checking logs. When I resent the emails using 'Remind' option, it worked for both sessions.

![ima

[2018-10-16 03:41] xpdavid commented on #9197
Do they have `sentOpenEmail == true` in the datastore?

[2018-10-16 04:09] damithc commented on #9197
Yes, but one of the courses has a deleted session in the recycle bin that has the exact same opening time. Maybe that has some relevance?

[2018-10-16 05:39] damithc commented on #9197
Both sessions have questions, students, and is visible from opening time. But it is possible that she enrolled students after the session was open. I'll check with her. Still doesn't explain why she received the instructor copy for one session but not the other while no emails were sent to students in both sessions.

[2018-10-17 11:06] damithc opened #9198 "Student: submit response to distribute-points question: all responses are rejected"
6.13.0
Reported by a user.
This question is rejecting (upon submission) all answers, even answers that pass the client-side validation

![image](https://user-images.githubusercontent.com/1673303/47082243-8ae77f80-d23f-11e8-9cbe-5a1fa6456e40.png)

[2018-10-17 11:11] xpdavid commented on #9198
@mg14777 FYI. Meanwhile, I'll investigate also.

[2018-10-17 11:46] xpdavid commented on #9198
Bug Found. Bug exists since V6.6.0, not specific to V6.13.0

https://github.com/TEAMMATES/teammates/blob/42f046a3a8f13bcfd9eea73e6182a69f8fa037d4/src/main/java/teammates/common/datatransfer/questions/FeedbackConstantSumQuestionDetails.java#L789-L804

For distribute point to recipient question type, the answer list only contains one option (and the above check will add errors).

Since the session i

[2018-10-18 02:44] joanneong commented on #9198
I'm nearly done with #9103 but let me just get this out first then.

[2018-10-18 03:36] xpdavid commented on #9089
Done and released in V6.13.0

[2018-10-18 03:36] #9089 closed

[2018-10-18 03:39] #9183 closed

[2018-10-18 03:41] xpdavid commented on #9160
Data migration policy added in https://github.com/TEAMMATES/teammates-ops/blob/master/best-practices.md .

[2018-10-18 03:41] #9160 closed

[2018-10-18 03:42] #9187 closed

[2018-10-18 03:43] xpdavid commented on #9181
Closed due to inactivity. Feel free to open it if the error still cannot be resolved.

[2018-10-18 03:43] #9181 closed

[2018-10-18 03:59] xpdavid opened #9199 "Standardise the way of updating data in storage component"
The update APIs in the storage component are messy.

- Attributes to update can be passed as parameters.

https://github.com/TEAMMATES/teammates/blob/42f046a3a8f13bcfd9eea73e6182a69f8fa037d4/src/main/java/teammates/storage/api/StudentsDb.java#L267-L271

- They can also be passed as attribute instance

https://github.com/TEAMMATES/teammates/blob/42f046a3a8f13bcfd9eea73e6182a69f8fa037d4/src/main/jav

[2018-10-18 08:11] xpdavid opened #9200 "Update timezone database to 2018g"
The 2018f release of the tz code and data is available. It reflects the following changes, which were either circulated on the tz mailing list or are relatively minor technical or administrative changes:

 Briefly:
 Volgograd moves from +03 to +04 on 2018-10-28.
 Fiji ends DST 2019-01-13, not 2019-01-20.
 Most of Chile changes DST dates, effective 2019-04-06.

https://www.iana.org/time-zones

[2018-10-18 15:42] #9175 closed

[2018-10-19 01:45] PranavBhatia commented on #8536
I am working on this issue, can you please tell me the file in which this typo exists?

[2018-10-20 03:41] xpdavid opened #9206 "Release V6.14.0"
Scheduled for Sunday, Oct 21, 2018, 10.00am SGT.

Release Lead:

- [ ] Tagged the latest stable release code with the latest version number
- [ ] Released changelogs

PM:

- [ ] Deployed the new version
- [ ] Released the new version for end users

[2018-10-20 03:53] #9198 closed

[2018-10-20 06:05] xpdavid commented on #9200
Find the cause:
[code]

`25:00` result in `Caused by: tools.tzdb.DateTimeException: Invalid value for SecondOfDay value: 90000`. Will either wait for the update of `tzupdater` or new JDK 1.8 which is shipped with the newest tz database.

[2018-10-20 14:56] #8957 closed

[2018-10-21 02:53] xpdavid commented on #9206
[V6.14.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.14.0) has been released by @xpdavid at October 21st, 2018, 10.49am SGT.

Code contributions from: @IAmPramod, @joanneong, @xpdavid
Review contributions from: @damithc, @joanneong, @wkurniawan07, @xpdavid

Ready for post-release check and deployment by PM (@damithc).

[2018-10-21 02:56] xpdavid commented on #9206
Still need to apply fixes in https://github.com/TEAMMATES/teammates/pull/9194 to get more stable tests. Currently, I am separating the drag&drop(#9167) tests so it fail on LIVE server won't prevent other tests from running.

[2018-10-21 06:27] cbb692 opened #9207 "Sort school names for userMapData.json"
As per the issues discussed in #9190 , someone needs to go through userMapData.json and confirm the ordering for all lines with the following rule in mind:

When comparing school names A and B, remove all whitespace and symbols (namely, hyphens) from both names, then sort alphabetically.

If we look at an example from the current file, we have "Northwest High School" followed by "Northwestern Coll

[2018-10-21 06:27] cbb692 commented on #9207
I'm happy to take charge on this, although this could very well be labeled as a good first task, so up to project leads.

[2018-10-21 06:59] damithc opened #9208 "InstructorFeedbackSessionsPageUiTest failing against the live server"
v6.14.0

Failing against the live server.

	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:678)
	at org.openqa.selenium.remote.RemoteWebDriver.findElement(RemoteWebDriver.java:363)
	at org.openqa.selenium.remote.RemoteWebDriver.findElementByXPath(RemoteWebDriver.java:500)
	at org.op

[2018-10-21 07:04] damithc commented on #9207
Thanks for posting this issue @cbb692 Let's leave this to a first timer. Perhaps you can help with reviewing incoming PRs for this issue?.

[2018-10-21 07:37] cbb692 commented on #9207
Sure that's fine with me. I'll keep an eye on it.

[2018-10-21 15:05] xpdavid commented on #9208
It's a timing issue again :P . Will submit a fix soon.

[2018-10-21 16:59] kollonqv commented on #9207
Hi, I'm happy to do it.

[2018-10-22 11:22] prab2112 commented on #8215
Is this issue resolved? I would like to help as well.

[2018-10-22 23:43] cbb692 commented on #9191
The PR should be good for a thorough pass if anyone has time to go over it.

[2018-10-24 15:00] wkurniawan07 opened #9213 "Remove App Engine SDK version lock"
This essentially reverts #9184 as the problem that caused that issue to be opened has been resolved in the latest SDK release.

[2018-10-24 17:59] feysalikbal commented on #9139
#9158 needs a review.

[2018-10-25 03:35] #8814 closed

[2018-10-25 12:58] Skippari opened #9215 "invalid values in "Recommended length for the response" field cause server error"
Editing the Essay Questions it was possible to add negative numbers to the field "Recommended length for the response". This should allow only positive numbers to some limit.

It is also possible to add number like "1E-16" which cause error in the server. This error reproduced every time with such value.
![image](https://user-images.githubusercontent.com/43610898/47501524-6e1a0000-d86e-11e8-990d-4

[2018-10-25 13:02] xpdavid commented on #9215
We should restrict that the number should only be integer in frontend.

[2018-10-25 14:07] damithc commented on #9215
Thanks for the bug report @Skippari

Yes, but low priority. This is a case of the user shooting own foot by choice :-) Maybe no need to fix at all?

[2018-10-26 05:58] jsaroya commented on #8943
Hello, I'm a first timer and interested in working on this.

[2018-10-26 12:03] kurzelakamil commented on #9215
Hi, I'd like to take this one

[2018-10-26 14:08] xpdavid commented on #9215
@kurzelakamil Go ahead.

I think it's OK to fix this. Be sure to take a look at the HTML5 front-end verification attribute https://www.w3.org/wiki/HTML/Elements/input/number.

[2018-10-26 14:45] kurzelakamil commented on #9215
I can't push changes from my local repo to 'teammatesv7' as I can see below errors -
remote: Permission to TEAMMATES/teammates.git denied to kurzelakamil.
fatal: unable to access 'https://github.com/TEAMMATES/teammates.git/': The requested URL returned error: 403

[2018-10-26 16:53] #9213 closed

[2018-10-27 07:19] kurzelakamil commented on #9215
Guys, I think I don't have permissions to push whatever to 'teammatesv7' branch. I get such message: remote: Permission to TEAMMATES/teammates.git denied to kurzelakamil.
fatal: unable to access 'https://github.com/TEAMMATES/teammates.git/': The requested URL returned error: 403

[2018-10-27 07:56] xpdavid commented on #9215
@kurzelakamil I'd appreciate if you take a look at our development process https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#overview

[2018-10-28 03:51] xpdavid commented on #9200
The 2018g release of the tz code and data is available. It reflects the following changes, which were either circulated on the tz mailing list or are relatively minor technical or administrative changes:

....
The translator to rearguard format now rewrites the line
   "Rule Japan 1948 1951 - Sep Sat>=8 25:00 0 S" to
   "Rule Japan 1948 1951 - Sep Sun>=9  1:00 0 S".
   This caters to zic before 20

[2018-10-28 07:42] cbb692 commented on #9174
If this is still an issue, I can maybe pick this up. For reference, I believe the response that goes along with this particular example is:

`"response1ForQ3S1C1": {
      "feedbackSessionName": "First feedback session",
      "courseId": "idOfTypicalCourse1.access",
      "feedbackQuestionId": "3",
      "feedbackQuestionType": "TEXT",
      "giver": "instructor1@course1.tmt",
      "recipient":

[2018-10-28 09:41] xpdavid commented on #9174
@cbb692 Yes. That should be the correct convention.

[2018-10-28 11:29] wkurniawan07 commented on #9207
Sorry for jumping in the bandwagon, and rather late for that matter.

The rules proposed are reasonable, but this kind of information will get lost over time and is also not very value-adding. Why not just use JSON's natural ordering? A short script to sort all the values in the countries list should not be any longer than 10-20 lines.

[2018-10-29 06:26] #9193 closed, assigned to nobody

[2018-10-29 15:46] darrenlmd commented on #8866
Hi I would like to take on this issue.

For the **Question** part, I propose a simple solution of removing the new line and **bolding** the word question

For the details part, I have a few proposals. Would love to hear which one the team prefers.

### Sol 1: Remove spacing
![remove-space-1](https://user-images.githubusercontent.com/7418318/47661668-7a86bb80-dbd4-11e8-9654-dcd1ab716dd2.png)

This

[2018-10-29 15:57] #9139 closed

[2018-10-29 16:35] wkurniawan07 commented on #4748
Closing as this is platform/ops-specific and does not belong in this repo anymore.

[2018-10-29 16:35] #4748 closed

[2018-10-29 16:37] wkurniawan07 commented on #6906
Closing as there is a lack of direction for this issue.

[2018-10-29 16:37] #6906 closed

[2018-10-29 16:46] #9063 closed

[2018-10-29 16:47] #8694 closed

[2018-10-29 16:49] #9024 closed

[2018-10-29 16:49] #8826 closed

[2018-10-29 16:50] wkurniawan07 commented on #8621
Closing as this does not have that much value-add and there is no bandwidth to attend to this.

[2018-10-29 16:50] #8621 closed

[2018-10-29 16:53] #9191 closed

[2018-10-30 03:05] damithc opened #9219 "live server: NPE in feedbackResponseAdjustment when changing student data"
This kind of error reports have been coming from the live server for a long time. Previously ignored as not a high priority

TEAMMATESLOG|||feedbackResponseAdjustment|||Servlet Action Failure|||true|||Unknown|||Unknown|||Unknown|||Unknown|||Servlet Action failure in feedbackResponseAdjustment
class java.lang.NullPointerException:
java.lang.NullPointerException
at teammates.logic.core.FeedbackRespo

[2018-10-30 03:12] damithc commented on #8866
I'm ok with solution 1.
@wkurniawan07 is it OK to do this issue in the light of UI revamp that is going on in parallel?

[2018-10-30 03:41] wkurniawan07 commented on #8866
OK to do this now; this page has not been touched yet.

P.S. hello @darrenlmd!

[2018-10-30 05:09] #9096 closed

[2018-10-30 13:27] wkurniawan07 opened #9220 "Fix build steps and remove unused codes"
Unused code such as:
- [An interface with only one implementing class and unlikely to have more](https://github.com/TEAMMATES/teammates/blob/fd97ff2588d9a7c5393f25c7075e72128ba3803a/src/main/java/teammates/common/datatransfer/attributes/SessionAttributes.java)
- [An unused properties file](https://github.com/TEAMMATES/teammates/blob/fd97ff2588d9a7c5393f25c7075e72128ba3803a/src/main/resources/log4j

[2018-10-30 16:12] darrenlmd commented on #8866
Hi @wkurniawan07!
I will proceed with solution 1 and make a PR soon.
I want to check for this kind of small UI adjustment, what kind of test (if any) should I include?

[2018-10-31 05:11] wkurniawan07 commented on #8866
If it is just pure UI adjustment with no user interaction affected, no new test is necessary. However, there will be a very small subset of tests affected; you can read up more about it [here](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#god-mode) when you face it eventually.

[2018-10-31 06:52] Mirnal1409 commented on #9207
I am new to this. Can I start to solve this issue. @cbb692

[2018-10-31 09:20] darrenlmd commented on #8866
Made a [PR](https://github.com/TEAMMATES/teammates/pull/9222) following guidelines. Please take a look and let me know if I miss anything. Thanks!

[2018-10-31 09:45] laurensdegilde commented on #8536
Is this issue still open? Happy to taken it.

[2018-10-31 09:49] laurensdegilde commented on #8465
Is this still open? Happy to fix it today.

[2018-10-31 09:54] laurensdegilde commented on #9134
Is this still open? Happy to take it.

[2018-10-31 09:56] laurensdegilde commented on #8981
Is this still open? Happy to take it!

[2018-10-31 11:16] xpdavid commented on #9134
@laurensdegilde Hi, Welcome! As long as there  is no existing open PR, feel free to contribute.

[2018-10-31 12:05] laurensdegilde commented on #9134
@xpdavid this seems fixed. You merged the PR for this issue in #8981

[2018-10-31 13:33] wkurniawan07 commented on #8583
Closing; issue moved to `teammates-ops`.

[2018-10-31 13:35] wkurniawan07 commented on #9074
Closing; issue moved to `teammates-ops`.

[2018-10-31 13:35] #9074 closed

[2018-10-31 18:54] cbb692 commented on #9207
We've already got two people handling it so it might make sense to look elsewhere. Sorry :(

[2018-11-01 03:18] Crphang commented on #8465
@laurensdegilde go ahead and make a pull request. It is still open.

[2018-11-01 12:22] #9220 closed, assigned to wkurniawan07

[2018-11-01 14:23] #9200 closed

[2018-11-02 15:47] #8866 closed

[2018-11-02 17:42] Dhiraj240 commented on #9144
@damithc I am Dhiraj Sharma from India.I am looking to start my contribution in this organisation for Gsoc 2019.I couldn't find any ```first-timer``` issue because already all of them is having their live PRs.So i guess this doesn't have it and i can too work on it.Although i have experience with frontend and little bit selenium testing.
Need some advice too if there is any communication channel l

[2018-11-02 19:43] borregore commented on #9215
Hello there guys, I'll like to contribute in this issue.

[2018-11-03 06:30] xpdavid commented on #9174
Comments has a field called `feedbackQuestionId` linked to the question entity.

[2018-11-03 07:12] damithc commented on #9144
@Dhiraj240 if there are no first-timer issues, you can try an easier `Contributor` issue. Alternatively, You can pick an issue for which the current PRs don't seem to be active (i.e., no activity in last 2 weeks)

[2018-11-03 09:02] Dhiraj240 commented on #8918
@damithc Sir, i would like to work on this.

[2018-11-03 10:33] vivekbhatnagar commented on #8918
Small typo here :  Some instructors might base their grade on the rank within the **course** [not team].

@damithc : suggest please.

[2018-11-03 12:06] damithc opened #9225 "Update user map as at Oct 2018"
To be done after #9144

New entries to consider:

Australia | Swinburne University of Technology
-- | --
Australia | The University of Sydney
Australia | Torrens University
Australia | University of Sydney
Australia | Western Sydney University - The College
Austria | University of Innsbruck
Belgium | Busleyden Atheneum Campus Zandpoort
Belgium | Hasselt University
Belgium | St. Franciscusinstituut

[2018-11-04 03:56] BeckhamL commented on #9225
Hi, I am a first time contributor. I made the changes but when I made the PR, it fails the travis test and I'm not sure why.

[2018-11-04 11:03] cbb692 commented on #9174
I could very well be missing something here again, but I'm going through FeedbackSessionQuestionTypeTest and stumbled upon a feedbackResponseComment for "comment1OnR3Q1S1C2" (lines 1544 - 1558).

The only reference to 'Q1S1C2' in the file is on line 1374. However, there is only the first response, whereas the comments represent responses 2 and 3. Not sure how we want to approach situations like th

[2018-11-04 13:54] xpdavid commented on #9174
You should not identify the relationship based on the naming e.g. `comment1OnR3Q1S1C2`, `response1ForQ1S1C2`. This name will no be persisted in the database.

[code]
If you try to find the response with `"feedbackResponseId": "1%student3InCourse1@gmail.tmt%student3InCourse1@gmail.tmt",`, it actually exist.

[code]

[2018-11-04 19:31] sleethma commented on #8943
First time contributor, can I take this one?

[2018-11-05 08:03] Mirnal1409 commented on #9225
Hi, I am also first time coontributor can i work on this . @damithc

[2018-11-05 16:53] BeckhamL commented on #9225
@Mirnal1409 I've completed it and submitted a PR already

[2018-11-09 08:52] xpdavid opened #9229 "Clean up client scripts and migrate them if necessary"
Several data data migration scripts exist in the client package.
- If one has not been run, we should migrate it to use the new data migration framework for better scalability
- If one has been run, it should be deleted for less maintenance burden

In addition, `StatisticsPerInstitute` need to be fixed as it fails currently because of large amounts of data. (https://github.com/TEAMMATES/teammates-

[2018-11-09 08:53] xpdavid opened #9230 "Release V6.15.0"
Re-Scheduled for Saturday, Nov 11, 2018, 12.00 noon SGT.

Release Lead:

- [x] Tagged the latest stable release code with the latest version number
- [x] Released changelogs

PM:

- [x] Deployed the new version
- [ ] Released the new version for end users

[2018-11-11 03:33] xpdavid commented on #9230
[V6.15.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.15.0) has been released by @xpdavid at November 11th, 2018, 11.27am SGT.

Code contributions from: @IAmPramod, @cbb692, @darrenlmd, @pratikadola, @wkurniawan07, @xpdavid
Review contributions from: @LiHaoTan, @dalessr, @damithc, @jacoblipech, @joanneong, @wkurniawan07, @xpdavid

Ready for post-release check and deployment by PM (@dami

[2018-11-14 06:10] AlexPelaez commented on #9215
Hi, I would like to contribute.

[2018-11-14 06:10] AlexPelaez commented on #9215
Hi, I would like to contribute.

[2018-11-15 05:55] agjay96 commented on #9207
@cbb692 Can I look into this issue and I'll finish it within few days.

[2018-11-15 17:32] Jamparan commented on #9067
Is this issue fixed? I would like to work on it

[2018-11-17 04:51] xpdavid commented on #9219
@css911 Hi, you can try our firstTimer issue first before targeting difficult issue.

[2018-11-17 04:52] #9208 closed

[2018-11-17 12:14] css911 commented on #9115
@hidingmode hello, I am new to the community, can I try to solve this problem.

[2018-11-18 20:41] css911 commented on #9115
@hidingmode Sir can you please guide me on how can i reproduce the issue. It will really help me while solving my first issue.

[2018-11-19 22:07] css911 commented on #9115
@dalessr Sir, I was trying to reproduce overflow issue on my local machine but was not able to produce it could you please help me. it would mean a lot.

ScreenShot.
![image](https://user-images.githubusercontent.com/24544436/48737933-6d119e00-ec75-11e8-9f96-515aeb69380d.png)

In was not getting the dropdown menu about which @hidingmode sir. talked. Please sir can you help me to solve this issue.

[2018-11-20 07:10] hidingmode commented on #9115
I'm not part of the dev team.

My school uses this project to collect peer evaluation from the students and I'm just a student user. The screenshots are taken from the form my lecturer sent me.

[2018-11-21 15:34] saturator22 commented on #9136
Hi there,
I think that i got your point @xpdavid and i would like to contribute with my solution according to the architecture, i cannot push my repo due to permission denied, can someone add me to this task ?

[2018-11-21 15:57] saturator22 commented on #9136
@xpdavid I think that i got your point, i would like to work on this issue

[2018-11-25 09:30] css911 opened #9238 "Unable to clear ciTests both locally and on travis"
- **Commit SHA:**
7135af998e661c157ceb3cdfc61a0536d75d27cc

- **Operating System:**
16.04.1-Ubuntu

- **JDK Version:**
java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

- **Node.js Version:**
v10.13.0

- **Google Cloud SDK Version:**
Google Cloud SDK 225.0.0
alpha 2018.11.09
app-engine-java 1.9.68
app-en

[2018-11-25 09:47] css911 commented on #9238
Or should i create the PR for #9115 even if the travis test are failing.

[2018-11-25 10:50] xpdavid commented on #9238
You forget to run Godmod. Please follow our dev guide on how to do it.

For `TimezoneSyncerTest`, maybe you can try to delete the build folder and run the test again?

[2018-11-26 00:19] css911 commented on #9238
Steps which i carried out.

1. I tried out the godmode. I ran test in the godmode then turned it off and then again ran the test.

2. for the timezone error i deleted the build folder and ran the tests. The timezone error still persists.

3. I retraced the dev guidelines once again.

    a).Clone the project

    b).I already had jdk and python, node, google sdk install. checked their versions.

[2018-11-26 03:53] xpdavid commented on #9238
You only need to run godmod on the failed test. They should pass with godMod and then pass in the subsequent run. You should expect some `.html` changes in your `git status`.

Not sure what had happened in `TimezoneSyncerTest`. Maybe you can ignore it and send a PR directly.

[2018-11-26 13:40] wkurniawan07 opened #9239 "Move app ID and version number to build.properties"
The old way of putting `<application>app-id</application>` and `<version>version-number</version>` in `appengine-web.xml` has been deprecated in Google Cloud SDK (already more than a year since we adopted that toolstack), and who knows when they will totally drop that support.

Those information shall be moved to `build.properties`.

[2018-11-27 01:34] css911 commented on #9238
Thank you so much @xpdavid . Really sorry to bother you so much. I have raised a PR. please review it. Can you please also assign a new issue to solve. Thank you once again :)

[2018-11-27 01:34] #9238 closed

[2018-11-27 16:34] #8589 closed

[2018-11-28 00:46] mihirg008 commented on #8943
Can I take to solve this problem?

[2018-11-28 08:52] mihirg008 commented on #9134
I would like to work on this issue if it's still open.

[2018-12-01 07:34] damithc opened #9244 "Error in live server: The API call mail.Send() required more quota than is available"
I'm getting bursts of this error from time to time since y'day although emails seems to be getting through. Is it from sendgrind side or GAE side mail API?

teammates.common.exception.EmailSendingException: The API call mail.Send() required more quota than is available.
at teammates.logic.core.EmailSenderService.sendEmail(EmailSenderService.java:26)
at teammates.logic.api.EmailSender.sendEmail(Ema

[2018-12-01 07:35] xpdavid commented on #9244
Ohhhh.... It's from staging server I believe. I also get the email. :P

Can you check the sender address of the email?

[2018-12-01 07:45] damithc commented on #9244
In that case nothing to worry about. :-)

Yes, it is from the staging server. I didn't notice it before.

[2018-12-01 10:34] wkurniawan07 opened #9245 "README: Add attribution to SauceLabs"
We have obtained approval for [Open Sauce account](https://saucelabs.com/open-source). 🎉

In order to get it finalized, we need to first update `README.md` to show attribution.

[2018-12-01 11:41] xpdavid commented on #9244
Not production server issue. Close right now.

[2018-12-01 11:41] #9244 closed

[2018-12-01 12:31] xpdavid opened #9247 "Data Migration: Convert HTMLSanitized Data in StudentAttributes"
Data migration initiated by PR [Unknown] (Related commit https://github.com/TEAMMATES/teammates/commit/ffaf5f88089234ce7ef504ab5471b38be1f96d72).

Related to #4588

The `DataMigrationForSanitizedDataInStudentAttributes` should be run to Convert HTMLSanitized Data in StudentAttributes

- [x] Merged code that work for both the old and new versions of the data schema.
- [x] Released a version contain

[2018-12-01 13:16] xpdavid opened #9248 "Remove keepUpdateTimestamp in FeedbackResponse"
`keepUpdateTimestamp` is only set to `true` in test case and it is always `false` in production code.

For data migration script, we will use the Objectify API directly. Thus, this field also does not help in this case.

[2018-12-01 13:18] xpdavid opened #9249 "Remove keepUpdateTimestamp in FeedbackQuestion"
`keepUpdateTimestamp` is only set to `true` in test case and it is always `false` in production code.

For data migration script, we will use the Objectify API directly. Thus, this field also does not help in this case.

[2018-12-01 13:22] xpdavid opened #9250 "Remove keepUpdateTimestamp in CourseStudent"
`keepUpdateTimestamp` <strike>is only set to `true` in test case and it</strike> is always `false` in production code.

For data migration script, we will use the Objectify API directly. Thus, this field also does not help in this case.

[2018-12-01 13:34] xpdavid opened #9251 "Remove/Replace methods *WithoutDocument in StudentsDb"
In StudentsDb, almost all methods except GET have the second version - `*WithoutDocument`/`*WithoutSearchability`. It seems that those methods are only used in tests.

In test case, we are safe to use the original version (i.e. It is totally fine to put the document) as action test are independent from each others and the local database emulator will be cleared after each action test.

P.S. Not su

[2018-12-01 13:49] #9245 closed

[2018-12-01 14:17] xpdavid opened #9252 "Javadoc: Fix Inspection Results report by IntelliJ"
![image](https://user-images.githubusercontent.com/13977235/49329219-a40d7b00-f5b6-11e8-8978-2c93c68fe907.png)

![image](https://user-images.githubusercontent.com/13977235/49329230-bd162c00-f5b6-11e8-9ada-0852ed15dcc7.png)

[2018-12-02 04:59] #8583 closed

[2018-12-02 07:09] wkurniawan07 opened #9253 "Extend Godmode to CSV file content"
Stuffs like these:

https://github.com/TEAMMATES/teammates/blob/7f282fb3fdd2e8571f478629f9a3594e0f8a4a38/src/test/java/teammates/test/cases/logic/FeedbackSessionsLogicTest.java#L1118-L1197

Could be make simpler by extracting the CSV lines outside the test class, in a Godmode-like manner.

Related issue: #6924

[2018-12-02 16:16] wkurniawan07 opened #9255 "Migrate app pages to Angular, phase 1"
V7 migration is finally underway!

For phase 1, we will be migrating "easy" pages, i.e. the ones that do not involve different question types (and for the ones that do, we will only migrate the page skeleton).

For each PR, we will observe the following:
- PR title: `[#9255] Migrate ... page to Angular`
- PR description: `Part of #9255` (the bot has been configured to accept this keyword)
- Expect

[2018-12-02 23:05] peterr101 commented on #9250
Hi, I am new to open source contributions but would like to take on this issue - is that possible?

[2018-12-03 02:09] bmw2621 commented on #9250
Id like to try this.  But I cant find were the variable is set to true.  Ive searched the entire project.

[2018-12-03 04:09] xpdavid commented on #9250
@bmw2621 Yes. It is always false.

[2018-12-03 20:39] gildas15 opened #9259 "contributor Mba Sob Gildas"
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2018-12-03 20:42] gildas15 commented on #9259
Please I am Mba Sob Gildas. and I would like to contribute to this project

[2018-12-04 07:44] wkurniawan07 commented on #9259
Welcome @gildas15! You're free to chip in to any open issues that you're interested in. Recommended to start with those labelled `d.FirstTimers` or `d.Contributors`.

[2018-12-04 07:44] #9259 closed

[2018-12-04 09:57] gildas15 commented on #9259
ok tanks

Le mar. 4 déc. 2018 à 07:44, Wilson Kurniawan <notifications@github.com> a
écrit :

[2018-12-06 19:20] Alessandra-Rossaro commented on #9248
Hi! I'd like to contribute solving this issue.

[2018-12-06 22:43] scelestus1 commented on #9249
I'm quite new to contributing to OSS projects, but I'd like to give this one a stab, if you don't mind. Thanks!

[2018-12-09 18:19] softgengaurav commented on #9252
@xpdavid , Can i work on this issue?

[2018-12-11 17:31] aman-coolinc1 commented on #9250
Hi i would like to take up this issue, please clarify the problem statement as i am new to this.

[2018-12-11 17:52] aman-coolinc1 commented on #9250
Hi @xpdavid , I found that the transient boolean variable keepUpdateTimestamp is always true for test code, and always false for Production code.
As i am not clear on what has to be done to resolve the issue, can you please provide more details.

[2018-12-11 17:56] css911 commented on #9250
Hello @aman-coolinc1, A PL has been generated for this issue. please go through other issues.

[2018-12-12 02:00] xpdavid opened #9268 "Remove isCourseVerified in CoursesLogic and add test for it"
https://github.com/TEAMMATES/teammates/blob/c0426149e167c8ff400f3842a4272c83726ecfe8/src/main/java/teammates/logic/core/CoursesLogic.java#L196-L201

https://github.com/TEAMMATES/teammates/blob/c0426149e167c8ff400f3842a4272c83726ecfe8/src/main/java/teammates/logic/core/CoursesLogic.java#L203-L214

If you do static analysis, you will find `isCourseVerified` is always `false`. The public and private

[2018-12-12 07:14] diaze331122 commented on #9268
Hey, can I contribute to this?

[2018-12-12 10:21] monmanuela commented on #9207
Hi, I'd like to work on this please

[2018-12-13 03:45] joanneong opened #9270 "teammatesv7: Unable to do set up project due to webpack issues"
- **Operating System:** macOS Mojave (10.14.1)
- **JDK Version:** 1.8.0_144
- **Node.js Version:** v11.4.0
- **Google Cloud SDK Version:** 219.0.1
- **Eclipse / IntelliJ Version (if applicable):** Intellij IDEA Ultimate 2017.3

**What I was trying to do / What I need help with**
I am trying to get started with frontend migration on the `teammatesv7` branch. I have done the following:
- Set up a cl

[2018-12-13 06:01] joanneong commented on #9270
@wkurniawan07 suggested doing `npm install -D @angular-devkit/build-angular` and the matter has been resolved! Thanks!

[2018-12-13 06:01] #9270 closed

[2018-12-13 06:38] wkurniawan07 commented on #9270
Glad that it resolves the matter but it's still a curious case... you shouldn't need to do anything other than `npm install` to get all the necessary tools.

[2018-12-13 09:59] LiHaoTan commented on #9270
I didn't look at this issue in detail but I noticed that the IntelliJ version used is rather old, relative to Angular being much newer. I'm not sure if it actually affects anything since I didn't look at both IntelliJ and Angular's changelogs but that may be a possible reason why.

[2018-12-13 13:53] wkurniawan07 commented on #9168
This issue, I believe, is due to the special treatment of `00:00` (or `24:00` or `12:00am` depending on how you interpret it), with the intention of displaying it as `23:59` (or `11:59pm`) but inadvertently causing incorrect data to be persisted to the database due to some wrong logic (including improperly set test data) or otherwise.

@xpdavid we'll handle this in V7. All closing times should be

[2018-12-14 19:56] AyushChatto commented on #9268
Hi, I'd like to work on this issue, if that's okay?

[2018-12-15 05:08] tanhengyeow opened #9272 "Upgrade Handsontable to newer version"
**Environment**:
`master branch`

**Description of feature/enhancement**
Upgrade Handsontable to version 6.2.1

**Justification**
Some edge cases are identified in the current version of Handsontable. Further discussion found [here](https://forum.handsontable.com/t/gh-5277-copy-paste-into-handsontable/2203/5) and [here](https://github.com/handsontable/handsontable/issues/5277#issuecomment-41138304

[2018-12-15 08:42] #9248 closed

[2018-12-15 10:39] #9207 closed

[2018-12-15 10:53] walkers019 opened #9275 "Case Study on TEAMMATES"
Hello everyone,
I’m a computer science student from TUM (technical university of Munich – Germany) and currently working on a case study for a seminar paper. It would be really nice if you could help me, it will only take you up to 10 minutes!

I need comparative values to this question:
Please name the 10 most important classes of TEAMMATES, which you would recommend to a new developer for his tr

[2018-12-15 11:55] damithc commented on #9275
@walkers019 there is no general answer to that question. We have a 'Contributor Orientation Guide' for new contributors. All the best for your study.

[2018-12-15 11:55] #9275 closed

[2018-12-15 17:52] wkurniawan07 opened #9276 "Remove creatorEmail field in FeedbackQuestion"
It's about time to clear this ancient (6 years old!!!!) `TODO`:

https://github.com/TEAMMATES/teammates/blob/ea2ef33186fee913c3551c1df591e0ee6c2cf043/src/main/java/teammates/storage/entity/FeedbackQuestion.java#L44-L47

[2018-12-16 17:40] akash1994deep commented on #9251
I am working on this issue.

[2018-12-17 06:06] xpdavid commented on #6515
Actually, after V7, there are only limited places where the method is used. It would easier to do the refactor. In addition, we could employee more robust template engine to do the job.

[2018-12-17 06:20] rrtheonlyone commented on #8918
@damithc is this still a relevant issue?

If the table is like this:
<img width="445" alt="rankings_table_teammates" src="https://user-images.githubusercontent.com/10579415/50069804-a1da2c00-0206-11e9-9430-9dd98e18f545.PNG">

We are looking for a change (like a checkbox etc.) that allows for ranking by team as well is it? (or an additional statistics - e.g. ranking in team)

[2018-12-17 06:38] rrtheonlyone commented on #9119
I would like to take this up!

@xpdavid Can I clarify on what actually should be the expected result when a duplicate comment is added? (e.g. will it just ignore the duplicate?)

[2018-12-17 06:44] xpdavid commented on #9119
You should take a look at `frcLogic.createFeedbackResponseComment(frComment);` to know the expected behaviour

[2018-12-17 15:33] damithc commented on #8918
@rrtheonlyone it can be an extra column in the table

[2018-12-18 06:53] AndrewMacmillan87 commented on #9252
@xpdavid does this issue still need resolving? I am trying to get involved with open-source this is my first crack at it. Can I work on this?

[2018-12-18 09:36] xpdavid commented on #9252
@AndrewMacmillan87 Go ahead as long as the issue is open.

[2018-12-18 12:32] AndrewMacmillan87 commented on #9252
There's a reference to the same issue saying that you closed itn1 day ago due to inactivity. It says its an open issue at the top though... which file does it refer to? InstructorFeedbackResponseCommentDeleteAction.java?

[2018-12-19 02:39] #9272 closed

[2018-12-19 03:15] han-gyeol opened #9282 "Make InstructorFeedbackResultsPageData use normal boolean attributes"
Convert String 'on/off' parameters to boolean

https://github.com/TEAMMATES/teammates/blob/7b80803426283868e310b5eb71be90f6788d4855/src/main/java/teammates/ui/pagedata/InstructorFeedbackResultsPageData.java#L1669-L1677

[2018-12-19 12:25] xpdavid opened #9284 "Remove creatorOnly in GateKeeper"
A quick static analysis shows that `creatorOnly` is always `false` in the code base. One should investigate further.

[2018-12-20 18:33] Jesse-Penber commented on #8536
I would like to take this! Submitting pull request in a bit.

[2018-12-20 20:10] Jesse-Penber commented on #8536
I attempted to find the source HTML for this to fix it but was unable to find the specified "Expand Students" button text and hover text. It is not in instructorFeedbackResultsSortGiverRecipientQuestion.html as specified; I've gone through all of the instructorFeedbackResultsSort HTML without finding it.

[2018-12-21 04:37] damithc commented on #9114
Failing at v6.15.0

[2018-12-21 16:13] akash1994deep commented on #9284
createOnly is only used in variants of verifyAccessible() in GateKeeper.java and it can be removed as it only has false as its value.
I am working on this.

[2018-12-21 18:16] wkurniawan07 commented on #9252
@AndrewMacmillan87, you're referring to a PR attempt for this issue which has (presumably) been abandoned. The issue itself is still very much open.
As for which files need changing, I'm afraid the onus is on you to find out.

[2018-12-22 11:44] damithc commented on #9230
Staged on the production server and ready for deployment. Public release delayed due to an ongoing security scan. Thanks to everyone who contributed 💯

[2018-12-28 17:47] priyamalM opened #9291 "javax/activation/DataSource:NoClassDefFoundError: Help Request: getting errors when try to deploy the app using terminal instead of deploying it with IDE"
- Commit SHA:*7b80803426283868e310b5eb71be90f6788d4855*
- Operating System:*Mac Os sierra*
- JDK Version:*1.8*
- Node.js Version:*v8.10.0*
- Google Cloud SDK Version:*228.0.0*
- Eclipse / IntelliJ Version (if applicable):*2017.3.5(build 173.4674.33)*
- Firefox / Chrome Version (if applicable):*chrome*

I was trying to deploy the app locally using the command `appengineRun` and `appengineStart` Bot

[2018-12-28 18:16] aravinth2094 opened #9293 "Potential NullPointerException"
**Steps to reproduce**
Pass null to isWhiteSpace function

**Expected behaviour**
return boolean value

**Actual behaviour**
throws NullPointerException

[2018-12-28 22:23] BraisedShortRib opened #9294 "Help Request: local-test baseClassSetup testfailure"
OS: Windows 10. JDK version: 1.8.0_121 Eclipse Version: Photon 4.8.0. Chrome: 71.0.3578.98. ChromeDriver version: 2.45

Measures taken: I've tried rolling back the version of ChromeDriver, with no change in results. I've also double checked to make sure my version of chrome is compatible with ChromeDriver. Also tried editing /etc/host based on [this](https://stackoverflow.com/questions/46807596/we

[2018-12-31 03:39] damithc opened #9296 "Mobile usability issues in the landing page"
Mobile usability issues reported by Google:
![image](https://user-images.githubusercontent.com/1673303/50554160-7e2be100-0cf0-11e9-97d9-e8689466e29d.png)

We may want to fix these because Google is said to be lowering the search rank of websites that have usability problems.

[2018-12-31 04:06] wkurniawan07 commented on #9296
No use doing this now since V7:
- Brings about new UI courtesy of Bootstrap 4, and
- Changes the front-end to single-page application which will bring an entire new set of problem for SEO

[2018-12-31 04:07] wkurniawan07 commented on #9291
@priyamalM do you still face this problem?

[2018-12-31 07:05] damithc commented on #9296
In that case we can wait till V7. I think this issue is specific to the landing page though. Google won't be able to access the other pages.

[2018-12-31 14:44] priyamalM commented on #9291
@wkurniawan07 i am still getting this issue.

[2019-01-02 03:43] #9119 closed

[2019-01-02 04:02] xpdavid commented on #9293
Is is necessary to add the null check?

[2019-01-02 05:35] Rahman2600 commented on #8536
Can I work on this?

[2019-01-02 16:35] #9284 closed

[2019-01-02 20:38] joncros commented on #8536
Rahman2600, I already have an open pull request that should solve this. It is just waiting for code review.

[2019-01-03 09:51] xpdavid opened #9297 "Add script to change googleId in batch"
We recently have a user request from ITESM to change the googleID from `*@itesm.mx` to `*@tec.mx` for instructor. To do this and to make future request to change google ID simpler, a generic script should be introduced.

[2019-01-03 18:08] gildas15 opened #9299 "Instructor account creation localy"
Good  evening here please I need help, I have setup the project localy on my machine But I am unable to create an instructor account for myself locally to go through the app. I need help

[2019-01-03 18:57] tanhengyeow commented on #9299
Hi @gildas15

Do you mind posting the steps you took that lead to the issues you're facing? Ideally, screenshots on error logs would assist us in helping you.

[2019-01-03 19:52] gildas15 commented on #9299
I had the following error when I try to login as an instructor locally.
![instructor](https://user-images.githubusercontent.com/36203062/50658343-f6183680-0f90-11e9-9086-239c643610cf.png)

[2019-01-03 19:54] gildas15 commented on #9299
I just want to go through the app

[2019-01-04 10:29] damithc opened #9302 "Support rich text for MCQ option text"
Current: MCQ and MSQ question answer options allow plain text only.

![image](https://user-images.githubusercontent.com/1673303/50683831-60db7780-104e-11e9-9aa9-f614a0f6d284.png)

Suggestion: allow rich-text so that options can provide more rich details

This can also be done as a separate optional field `description` for each answer option.

[2019-01-04 12:06] damithc opened #9304 "Update user map for Nov-Dec 2018"
To be done after #9225

New entries to consider:

Country | University
-- | --
Australia | Bond University
Australia | Griffith University
Australia | University of Western Australia
Belgium | AP Hogeschool
Belgium | AP University College
Belgium | HoGent
Belgium | KSO Glorieux
Belgium | Sint-Lodewijkscollege
Belgium | Universite Libre de Bruxelles
Brazil | Centro Universitário Integrado
Brazil |

[2019-01-04 16:38] tanhengyeow commented on #9299
@gildas15 Have you followed this [part](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#logging-in-to-a-teammates-instance) of the docs?

If you did and still face the same error, could you post the error logs present in your console?

[2019-01-04 19:44] priyamalM commented on #9251
I am working on this issue and made a pull request as well. :D

[2019-01-04 19:58] gildas15 commented on #9299
ok thanks

[2019-01-05 12:00] ChooJeremy commented on #9299
I experienced the same issue as well. This error occurs if you perform the following:
* Click on instructor login at the top right
* Check the sign as Administrator checkbox
* Click the Log In button.

The next page is similar to the screenshot as attached above.
The problem appears to be that admins do not have instructor privileges, so they are denied access to the instructor pages.
The problem

[2019-01-05 12:03] xpdavid commented on #9299
Hi @ChooJeremy and @gildas15, you need to go to `/admin/admiHomePage` (**login as admin**) to create an instructor and join the course. After that, you can use the `Instructor Login` link.

[2019-01-05 13:52] gildas15 commented on #9299
ok thanks

[2019-01-05 15:05] ChooJeremy opened #9306 "IntelliJ IllegalArgumentException on starting local web server"
- **Environment**: `master` branch at commit 7b80803426283868e310b5eb71be90f6788d4855

**Steps to reproduce**
I followed the steps in the following articles:
* [Setting up](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md)
* [Set up IntelliJ](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md)
* [Set up Static Analysis tools](https://github.com/TEAMMATES/team

[2019-01-05 15:14] gildas15 commented on #9299
please get a look of this error that I have on my console
![console](https://user-images.githubusercontent.com/36203062/50725853-74451c00-10fc-11e9-909b-d13b3afddc6a.png)

[2019-01-06 02:05] xpdavid commented on #9299
I think you did not run `npm run build` :)

[2019-01-06 05:48] wkurniawan07 opened #9307 "Remove usage of Google Drive to host documentation"
Using Google Drive to contain project documentation has not been done since 2016, i.e. there are no new public-facing documentation made exclusively there since then. It is time to retire the usage of Google Drive for public-facing documentation for good.

[2019-01-06 16:15] gildas15 commented on #9299
ok thanks

[2019-01-06 17:18] gildas15 commented on #9299
I succeded

[2019-01-06 17:20] gildas15 commented on #9299
Please can I share the feature I will to work on here or I should start working on the issues to solve

[2019-01-07 02:40] xpdavid commented on #9299
We recommend you to start from some firstTimer issue :)

[2019-01-07 02:40] #9299 closed

[2019-01-07 03:49] xpdavid commented on #9291
@priyamalM Delete `build` folder and try again?

[2019-01-07 10:17] jeffreyjhaywood opened #9311 "ide-setup.md: improve IntelliJ indentation guideline"
ide-setup.md: Indentation guideline misinformation

- **Environment**:  Live V6.2.0, master branch

**Steps to reproduce**
N/A. Gramattical error in documentation.

**Expected behaviour**
Should list the languages Java, Javascript, CSS, and XML separately from HTML, JSON and JSP due to them having different indentation requirements.

**Actual behaviour**
All of the stated languages are listed toge

[2019-01-07 12:59] aravinth2094 commented on #9293
The function caller should not be alarmed with an exception if he passes the wrong value for a trivial operation.

[2019-01-07 20:59] gildas15 commented on #9299
Please the system does not send invitation links. I don't know why

[2019-01-08 06:45] xpdavid commented on #9299
The email service won't work in the local development environment.

[2019-01-08 19:17] reeshabhkumarranjan commented on #8215
Is this issue still open?

[2019-01-09 12:55] reeshabhkumarranjan opened #9313 "Getting "Framework detected" every time I open IntelliJ IDE."
- **Commit SHA:**
- **Operating System: Windows 10**
- **JDK Version: 1.8.0_191**
- **Node.js Version: v10.15.0**
- **Google Cloud SDK Version: 229.0.0**
- **Eclipse / IntelliJ Version (if applicable) IntelliJ IDEA 2018.3.2:**
- **Firefox / Chrome Version (if applicable): Google Chrome 71.0.3578.98**

**What I was trying to do / What I need help with**

I am new to this project, and I followed [th

[2019-01-09 13:03] reeshabhkumarranjan commented on #9311
I too had difficulty in understanding the indentations numbers.

[2019-01-09 13:21] wkurniawan07 commented on #9313
Have you consulted [this document](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md#intellij-idea)?

[2019-01-09 13:54] reeshabhkumarranjan commented on #9313
Yes, I told in my issue description that I have referred that document.

[2019-01-09 14:05] wkurniawan07 commented on #9313
Why do you not try? At this stage even if you do something wrong the cost of re-setting up is very low.

[2019-01-09 14:08] reeshabhkumarranjan commented on #9313
Okay, I will try it then.

Okay, I will try it then.

[2019-01-09 14:08] reeshabhkumarranjan commented on #9313
Okay, I will try it then.

[2019-01-09 16:38] wkurniawan07 commented on #9306
Irrelevant here; this error is IntelliJ-specific.

Also, maybe you skipped this step of setup?

[2019-01-10 06:15] ChooJeremy commented on #9306
I definitely did that step, I remember deselecting web from the list of options and leaving only Google App Engine Standard within the list. After clicking ok, it simply closes. (No option to tick libraries or anything like that)

[2019-01-10 06:41] wkurniawan07 commented on #9306
@ChooJeremy can you follow [this template](https://github.com/TEAMMATES/teammates/issues/new?template=help-request.md) instead? There's not enough information here and also this cannot be classified as a bug in the first place.

[2019-01-10 08:08] xpdavid commented on #9293
1. I don't think `null` should be considered as a whitespace.

2. We are not a API library so I think it is fine to leave it there. After all, if we want to make every method NPE-free, it is a lot of work and it does not worth the benefit.

3. No production code would trigger the NPE (I am not sure about this, need your investigation)

[2019-01-10 08:16] ChooJeremy commented on #9306
Sure. It's not really a help request though, the problem is resolved on my end. I just wondered if you guys would want to add how I resolved it to FAQ or something.

- **Commit SHA:** 4936d15bbf19c60ec2ba43103149c1c0b62a2177
- **Operating System:** Windows 10
- **JDK Version:** 1.8
- **Node.js Version:** v10.15.0
- **Google Cloud SDK Version:** 228.0.0
- **Eclipse / IntelliJ Version (if applicable

[2019-01-10 12:02] #9249 closed

[2019-01-10 13:03] aravinth2094 commented on #9293
Agreed! :+1:

[2019-01-10 13:03] #9293 closed

[2019-01-10 15:37] #9276 closed

[2019-01-11 10:19] #9250 closed

[2019-01-11 14:54] xpdavid opened #9318 "Update timezone database to 2018i"
The 2018i release of the tz code and data is available. It reflects the following change, which was circulated on the tz mailing list:

Briefly:
   São Tomé and Príncipe switches from +01 to +00 on 2019-01-01.

[2019-01-12 06:04] #9251 closed

[2019-01-12 06:31] xpdavid opened #9320 "Release V6.16.0"
Re-Scheduled for Tuesday, Jan 15, 2019, 11.00am SGT.

*ACTION NEEDED*: The release include new data backup plan -> project admin need to configure the `build.properties` properly.

This is (almost) the finally release of V6. All development works will be switched to V7 after Jan 15, 2019 except for critical patches on V6.

Release Lead:

- [x] Tagged the latest stable release code with the latest

[2019-01-12 13:59] wkurniawan07 opened #9321 "Release V7.0.0-alpha.0"
~~Scheduled for Wed, Jan 16, 2019, 11:00pm SGT~~. Pushed back to Sun, Jan 27, 2019, 11:00pm SGT.

~~This release will bring the new Angular front-end at its latest stage of development in `teammatesv7` branch to all developers~~. The Angular front-end will be released to developers by the original deadline (Wed, Jan 16, 2019, 11:00pm SGT) (edit: this is done). This release will be the milestone wh

[2019-01-12 21:43] abdullah786 opened #9322 "Hi teammates! I wish to contribute to your project. I am a Java lover."
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2019-01-13 13:00] #8002 closed

[2019-01-13 17:34] Arpitpundir opened #9323 "hi teammates, will somebody please tell me that if TEAMMATES will be paticipating in gsoc this year?"
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2019-01-14 01:56] damithc commented on #9323
Yes, we will be applying to take part in GSoC 2019 but the decision to take us is with Google.

[2019-01-14 01:56] #9323 closed

[2019-01-14 08:41] AkshitOstwal opened #9327 "Hello all , I am new to open source community ,would love to start my journey from here ."
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2019-01-14 08:49] AkshitOstwal opened #9328 "Hello all , I am new to open source community ,would love to start my journey from here ,please guide me ."
# HELLO  ALL
I am totally new to open source i would like to contribute to this project for GSoC 2019 as well .
this project drew my attention as i really like the idea behind it.
I would love to start my journey from this project Please guide me How to ?
I know C ,C++,JAVA , MYSql ,learnning python right now , have past experiences of many hackathons .

## THANKS in advance !!!!!!!!