[2019-07-23 06:46] erjillsison opened #9831 "Instructor/Courses: Hide "Add New Course" form by default"
- **Environment**:
`master` branch at commit 4fb70a93119b887e4c6ccb7a70894994060d309c

**Description of feature/enhancement**
Similar to #9766.
It will make more sense for the page to be titled "Courses" rather than "Add New Course".

[2019-07-23 07:16] erjillsison opened #9832 "Inconsistent labelling of recycle bin"
- **Environment**:
`master` branch at commit 4fb70a93119b887e4c6ccb7a70894994060d309c

See below:

**Instructor courses page**
![image](https://user-images.githubusercontent.com/22665593/61690788-b6fad880-ad5c-11e9-91ef-db3f0049874b.png)

**Instructor sessions page**
![image](https://user-images.githubusercontent.com/22665593/61690795-bd895000-ad5c-11e9-833d-ff561e4e9b6a.png)

[2019-07-24 07:27] erjillsison opened #9835 "Instructor/Home: Fix format of time display in session tables"
- **Environment**:
`master` branch at commit 4fb70a93119b887e4c6ccb7a70894994060d309c

**Steps to reproduce**
1. Go to instructor home page
2. See the display format of date/time in the sessions table

![image](https://user-images.githubusercontent.com/22665593/61773487-5e444200-ae27-11e9-89ae-b5a2cae45e5e.png)

The time is formatted as `24HR AM/PM`. The AM/PM is redundant if using 24HR time forma

[2019-07-24 07:33] erjillsison opened #9836 "Modal: Clicking a link in the navbar while a modal is open does not close the modal"
- **Environment**:
`master` branch at commit 4fb70a93119b887e4c6ccb7a70894994060d309c

**Steps to reproduce**
1. Go to any page with an action that opens a modal e.g in instructor home page, delete a session
2. Once the modal is open, click on any link in the navbar e.g 'Courses'

**Expected behaviour**
Modal is dismissed.

**Actual behaviour**
Modal remains open

[2019-07-24 08:34] erjillsison commented on #9830
**Feedback Sessions page**

**Current:**
![image](https://user-images.githubusercontent.com/22665593/61777981-808e8d80-ae30-11e9-9bbd-5b64c0efdd24.png)
**Updated**
![image](https://user-images.githubusercontent.com/22665593/61778069-a3b93d00-ae30-11e9-919e-28d3eeeeb807.png)

[2019-07-28 13:32] goldami1 commented on #9742
@xpdavid please note the ready PR

[2019-08-02 02:11] #9831 closed

[2019-08-02 03:15] #9742 closed

[2019-08-02 05:24] erjillsison opened #9841 "Instructor/Courses: Courses recycle bin table overflow if text is too long"
- **Environment**:
`master` branch at commit c19075cc86d7e722e778faa1a28ad65f95332800

![image](https://user-images.githubusercontent.com/22665593/62346226-e7dec880-b527-11e9-9c85-94541dabf4c2.png)

**Steps to reproduce**
Go to Instructor/Courses page.
Create a course with long name and id.
Send the course to the recycle bin.

**Actual Behaviour**
The table will overflow outside the boundaries of

[2019-08-02 06:24] #9793 closed

[2019-08-02 06:26] xpdavid commented on #9799
This is a known bug from https://github.com/tinymce/tinymce/issues/4819. Can be fixed by upgrading the dependency in package.json to ` "tinymce": "^5.0.8",`

[2019-08-02 06:39] xpdavid opened #9842 "Remove unused endpoint STUDENT_COURSE"
The frontend does not use `/student/course` anymore, it can be safely removed.

[2019-08-02 07:51] #9730 closed

[2019-08-02 09:25] #9752 closed

[2019-08-04 05:36] IAmPramod commented on #9782
@xpdavid is this issue resolved after PR merge?

[2019-08-04 09:29] xpdavid commented on #9782
Nope. The PR only fix it by not using cache.

[2019-08-05 20:56] adithyaChander commented on #9842
Hey, can I please take this up ?

[2019-08-05 23:15] xpdavid commented on #9842
Sure

[2019-08-06 16:29] adithyaChander commented on #9842
Thanks. Will work on this

[2019-08-08 05:10] thelizzerd commented on #9252
It still shows this issue as open, was it ever resolved?

[2019-08-08 13:10] #9835 closed

[2019-08-08 21:46] Vaironl commented on #9832
Hi, mind if I take this?

[2019-08-10 19:08] xpdavid opened #9846 "Chromedriver used in Travis is outdated"
**Environment**: 8bce14ff68d3fd8d18a23eb34c6342929eedab72

**Steps to reproduce**

See https://travis-ci.org/TEAMMATES/teammates/builds/569843312?utm_source=github_status&utm_medium=notification

**Expected behaviour**

The build should pass.

**Actual behaviour**

org.gradle.internal.serialize.PlaceholderException: session not created: Chrome version must be between 71 and 75

**Additional info**

[2019-08-12 18:56] #9846 closed

[2019-08-12 19:21] Michaellin250 commented on #8941
Is this issue closed?

[2019-08-12 22:43] #9832 closed

[2019-08-12 22:44] xpdavid commented on #8941
Should be resolved in V7 (current master)

[2019-08-15 17:18] stephanie-gredell commented on #9842
@adithyaChander Are you still working on this? I'd like to give it a go if you're not.

[2019-08-16 03:59] rhu2001 commented on #9842
@xpdavid I'd also like to give this a go. Is that fine?

[2019-08-18 07:52] nusjzx opened #9850 "JVM default Locale should be set to parse the datetime"
`parseInstant` method in `TimeHelper` class is using `DateTimeFormatter.ofPattern` to create format pattern which uses the JVM default locale. For locale like Japan Korea, and China, it cannot parse the date time string correctly

- **Environment**:  `master` branch at commit #9832

**Steps to reproduce**
1. You can either change operating system locale, which is JVM default scale, or  add `Locale

[2019-08-19 05:49] nusjzx commented on #9850
@damithc Although there is a solution in trouble shooting, which was to change the date system default date time format. We can actually handle this configuration in code, instead of let the developer change their default settings individually.

[2019-08-19 06:00] wkurniawan07 commented on #9850
@nusjzx The dev troubleshooting guide is severely outdated. That aside, configuration inside code is very much preferred over tampering with dev's local machine.

[2019-08-21 06:56] nusjzx commented on #9842
@xpdavid I'll take this issue, as rhu closed the PR?

[2019-08-21 10:42] nusjzx commented on #9795
How are we going to instruct the user to correct it? For example: set focus to the `input` element until they change it to a non-duplicate option. Or any other way? @erjillsison

[2019-08-22 03:21] erjillsison commented on #9795
Perhaps can make do with a status message for now similar to how the other errors are handled.
E.g.,
![image](https://user-images.githubusercontent.com/22665593/63483368-ba55c100-c4ce-11e9-8e32-961d048929c1.png)

[2019-08-22 03:23] xpdavid commented on #9795
Yup. We can first just write a backend validation logic.

For the frontend, we still need some time to come out with the best way to do form validation #9419, therefore, we can just leave it there first.

[2019-08-26 00:39] marloncalvo commented on #9799
Is this still a relevant issue?
I was looking around the instructor/student rich text boxes and was not prompted with the aforementioned bug.

This is what I see:
![Screenshot from 2019-08-25 20-31-16](https://user-images.githubusercontent.com/29384504/63658375-0b3c1280-c778-11e9-9e80-682559f7f35c.png)

Note: I am using AngularCLI 7.3.9.

[2019-08-26 00:43] xpdavid commented on #9799
`"tinymce": "^5.0.4"` means any version that is above or equal to 5.0.4 will work. So it could be 5.0.4, 5.0.8 or the latest version depends on how `npm` resolve it.

[2019-08-26 01:04] marloncalvo commented on #9799
Oh, I see. That parameter syntax just requires a minimum version.
Which makes sense, since I see that my tinymc version is 5.0.14.

I'll do some testing for 5.0.8 then, thanks.

[2019-08-26 03:23] #9799 closed

[2019-08-26 04:59] #9850 closed

[2019-08-28 14:57] erjillsison commented on #9830
@Nagureddy Yes, the issue is still open. However, there's already an open PR that addresses it.

[2019-08-28 18:00] wkurniawan07 opened #9854 "Remove official IDE support"
We used to "officially" support and encourage usage of IDEs when development. We are now going to remove that support.

**Rationale**

Supporting IDEs means we have to dedicate resources for the following:

- Make sure the project runs on multiple versions of IDEs (and to make matters worse, in different OS-es)
- Keep up-to-date with updates in IDEs
- Troubleshoot IDE-specific help requests

As of

[2019-08-29 01:02] joelact commented on #9819
Hello  erjillsison,

I found a way to do natural sort without changing that much the code.
Link ref: https://stackoverflow.com/questions/2802341/javascript-natural-sort-of-alphanumerical-strings

I would like to do some refactoring in the code to create a sorting service and continuing working on this project.

Best regards mate.

[2019-08-29 01:06] xpdavid commented on #9819
Hi @joelact , please refactor them one by one (as per PR). Create a new issue if necessary.

[2019-08-31 08:22] xpdavid opened #9856 "Update timezone database to 2019b"
Will increase the tolerance for outdatedness to 120 also. Not worth the effort to keep it always update-to-date.

[2019-09-01 00:51] Erik-D-Mueller commented on #9842
Is this issue closed then?

[2019-09-01 10:45] #9856 closed

[2019-09-02 04:40] #9795 closed

[2019-09-07 17:40] Karthik-SS commented on #9545
Hi there! I am a first time contributor, is this issue resolved? Please let me know.

[2019-09-08 10:08] wkurniawan07 opened #9862 "Update third-party dependencies"
Regular quarterly update for third-party dependencies.

[2019-09-10 06:25] damithc opened #9865 "Too many keys in submission"
This error results when a submission form has too many fields. The respondent is unable to submit at all (400 error).

org.eclipse.jetty.http.BadMessageException: 400: Unable to parse form content
	at org.eclipse.jetty.server.Request.getParameters(Request.java:372)
	at org.eclipse.jetty.server.Request.getParameterMap(Request.java:1024)
	at teammates.common.util.HttpRequestHelper.getParameterMap(Ht

[2019-09-10 06:34] damithc commented on #9865
Is it possible to increase the max number of keys accepted per form?

[2019-09-10 17:34] dhuang612 commented on #9842
doesn't seem to the pr was closed not merged.

[2019-09-16 06:22] #9854 closed

[2019-09-21 03:46] isa3bel commented on #9842
can I contribute to this?

[2019-09-27 06:31] xpdavid opened #9867 "Chrome version in travis is mismatched with the driver version"
- **Environment**: d4ff5e705d217461a23ba798a4cb137465e34c5b

**Steps to reproduce**
https://travis-ci.org/TEAMMATES/teammates/jobs/589978700

**Expected behaviour**
Build should pass

**Actual behaviour**
Build failed due to `This version of ChromeDriver only supports Chrome version 77`

[2019-09-28 08:33] #9867 closed

[2019-09-28 17:12] #9804 closed

[2019-10-02 05:57] RizkyRajitha commented on #9842
im a first timer
if i remove path from this file , will it fix the issue

https://github.com/TEAMMATES/teammates/blob/master/src/web/app/pages-student/student-pages.module.ts

[2019-10-02 06:41] xpdavid commented on #9842
Let's make it clear. The frontend does not use the backend API `/webapi/student/course` anymore.

[2019-10-04 01:28] dodgees commented on #9545
I intend to take this on.

[2019-10-04 12:45] dodgees commented on #9642
It looks like there hasn't been any activity on this issue. Mind if I pick it up?

[2019-10-05 06:38] ChooJeremy commented on #9642
I don't mind - Go ahead :)

[2019-10-05 15:37] kashu1209 opened #9878 "Intellij IDE"
hello ,
Please help me in opening the project in Ide.
Actually i am not familiar with python and i know basics of frontend development
but i can do far better in java so if you can please tell me which file to open so i can run and see results on ide itself.
Thanks

Regards
kashish
maggukashish01@gmail.com

[2019-10-05 18:43] rutvij2811 commented on #9878
https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md
This should help you with setting up the IDE.

[2019-10-05 18:58] kashu1209 commented on #9878
Thanks brother for this!

[2019-10-05 19:15] kashu1209 commented on #9878
Hello,
while doing project setup its not showing any frame works detected.[](url)

[2019-10-06 17:41] #9545 closed

[2019-10-06 19:03] #9842 closed

[2019-10-07 21:58] #9252 closed

[2019-10-07 22:32] xpdavid commented on #9748
I don't think the issue is from the style of the status message itself. For example,

One should use a modal instead of a status message.

[2019-10-07 22:35] xpdavid commented on #9761
Typo due copy-paste :P Can be easily fixed.

[2019-10-08 11:43] mytemp1776 commented on #9761
Hey guys, i have fixed this but not able to push my branch to git. Getting the below permission error -
[code]
Can anyone help ? TIA

[2019-10-08 18:14] Danny-ds commented on #9780
Shall i make the changes. I am a beginner !!!

[2019-10-08 19:27] xpdavid commented on #9761
Hi @parvbansal , please follow https://github.com/TEAMMATES/teammates/blob/master/docs/process.md to send PR. You should not (and also does not have permission) to push to the main repo.

[2019-10-09 07:14] jorge-andre commented on #9780
Is anyone still working on this? Could I pick it up?

[2019-10-10 13:07] husar commented on #9740
Hello, i would like to work on this issue if it is still open. Please assign it on me.

[2019-10-10 13:38] husar commented on #9740
Can you give me access as instructor?

[2019-10-10 15:43] parvbansal commented on #9761
Thanks @xpdavid but i guess @dare892 has already raised a PR for this so i will find something else for my first open source contribution.

[2019-10-10 16:33] emilvidmark commented on #9767
Can I be assigned to this ticket? I would like to take a look at it :-)

[2019-10-11 00:47] damithc commented on #9740
@xpdavid is this issue relevant to V7?

[2019-10-11 01:54] xpdavid commented on #9740
![image](https://user-images.githubusercontent.com/13977235/66618782-5c209280-eb8f-11e9-8467-e538edf354d4.png)

Looks like yes but with a different glitch.

[2019-10-12 03:29] damithc commented on #8595
I'm still encountering this problem. The 'session closing' email was not sent out for one of my sessions today.

[2019-10-12 04:04] mitcheesta commented on #9767
I'll work on this issue

[2019-10-12 04:05] xpdavid commented on #9767
@mitcheesta Note that there is already an ongoing PR to this issue.

[2019-10-12 04:31] mitcheesta commented on #9767
@xpdavid Okay thanks, I wasn't sure about the status of it.

[2019-10-12 08:40] briyanii opened #9882 "Feedback grid not within borders, minor defect."
**Environment**:
Firefox 69.0.3 (64-bit)
The peer evaluation form for CS2103T peer evaluation feedback.

**Steps to reproduce**
Open the form by pressing edit forum

**Expected behaviour**
I assume that the content should be within the borders.

**Actual behaviour**
The grid for multiple choice response does not stay within the grid because the dropdown menu to choose the person the response is di

[2019-10-16 13:21] Ajax-Light commented on #9773
Hey, is this issue still open?

[2019-10-16 13:23] Ajax-Light commented on #9773
If so , I'd like to work on it

[2019-10-22 09:09] sivaranjanidev commented on #9767
Does this issue is still open to work

[2019-10-22 10:07] NikhilPrasad0497 commented on #9773
Hi, i am just a beginner and i want to start contributing to Open source. will it be okay if i try this??

[2019-10-25 00:33] damithc opened #9884 "Students can still access courses that are in the recycle bin"
v6.16.3, live version

A user reported that students can still access courses that are in the recycle bin

[2019-10-25 00:36] damithc opened #9885 "Student cannot delete own comment given to response"
v6.16.3, live version

A student reported that a comment he added for his own responses cannot be deleted. When he tried to delete, it returned an error.

[2019-10-26 06:22] nusjzx commented on #9885
Prof, Is there any other information about the question type and feedback path?

[2019-10-26 10:24] damithc commented on #9885
It is a case of students giving feedback to team members. Here's a screenshot.
![image](https://user-images.githubusercontent.com/1673303/67618148-db63c680-f81d-11e9-941b-044bca30ec8a.png)

[2019-10-28 06:21] nusjzx commented on #9885
I cannot reproduce this issue. Following the same question type and feedback path, I'm able to delete the comment as a student

[2019-10-28 06:34] damithc commented on #9885
@nusjzx Are you using V7 or V6?

[2019-10-28 06:58] nusjzx commented on #9885
I'm using v6, v7 doesn't have this function yet

[2019-10-28 07:15] damithc commented on #9885
I see. Let's leave it alone for now as it affects V6 only and not a critical problem.

[2019-10-29 10:16] praXin commented on #8364
Hi @joanneong If the issue is still open, I would like to look into it.

[2019-11-01 21:23] ethanwc15 opened #9886 "Login Dropdown List is Not Positioned Properly"
- **Environment**:
Angular Live Development Server is listening on localhost.
TEAMMATES Version 7.0.0

**Steps to reproduce**
1. Open your browser with the local host link.
2. Click Login on the top right of the window.
3. View the drop-down list for student and instructor.

**Expected behaviour**
The login drop-down list for student and instructor should be aligned properly on the right hand side

[2019-11-01 21:24] xpdavid commented on #9886
Yup. I also notice this while developing. @ethanwc15 Feel free to submit a fix.

[2019-11-01 21:30] ethanwc15 commented on #9886
Great, thank you! We are going to start looking into it soon.

[2019-11-08 03:05] ethanwc15 commented on #9886
@xpdavid We created a fix and are in the process of a pull request as we speak.

[2019-11-11 04:00] varun-vikas opened #9888 "NoSuchFileException during local run: Error occurred during local run. Please first confirm that there is a properly placed appengine-web.xml file. If missing, either use the Cloud Code shortcut action under: 'Tools > Cloud Code > Add App Engine Support > Google App Engine Standard' Or manually generate an appengine-web.xml file in the WEB-INF directory of your module's web resource directory, (show balloon) while starting Google App Engine Standard Local Server"
Title:NoSuchFileException during local run of google App Engine Standard Local Server

Operating System:win 10
JDK Version:1.8.0.221
Node.js Version:12.13.0
Google Cloud SDK Version:270.0.0
IntelliJ Version (if applicable):192.7142.36

NoSuchFileException during local run: Error occurred during local run. Please first confirm that there is a properly placed appengine-web.xml file. If missing, eith

[2019-11-11 04:02] varun-vikas commented on #9888
There is already appengine-web.xml file in src/main/webapp/WEB-INF folder. but when war file is created it is not present inside war file. so, what could be the issue.

[2019-11-11 13:02] varun-vikas commented on #9888
I have the project setup on eclipse. it is working fine in eclipse. even now don't know what is issue with Intellij. so closing this issue.

[2019-11-11 13:02] #9888 closed

[2019-11-30 17:32] theodtasia opened #9889 "requirements"
Hello i would like to know if i could make a requirements specification for your project.
Please let me know

[2019-12-01 01:43] damithc commented on #9889
Hi, thanks for the suggestion @theodtasia
There is not much value to get from creating and maintaining a separate requirements specification at this point of the project. Instead, we can use the issue tracker to document and track requirements.

[2019-12-01 01:43] #9889 closed

[2019-12-07 17:47] kjkrupal opened #9890 "Error while running front-end dev server"
- **Operating System: Mac OS Mojave 10.14.3**
- **JDK Version: 1.8**
- **Node.js Version: 6.12**
- **Google Cloud SDK Version: 272.0.0**

**What I was trying to do / What I need help with**
I was trying to run the front-end dev server on my local machine. When I hit the npm run start command it gave me the following error:
    An unhandled exception occurred: Could not find module "@angular-devkit

[2019-12-07 21:51] #9890 closed

[2019-12-09 06:09] damithc opened #9891 "Sample course: do not assume the instructor is male"
The sample course creation seem to assume the instructor is male as some of the sample comments use `he`. We can avoid such pronouns as it would look odd if the instructor is female.

[2019-12-11 08:38] madanalogy commented on #9740
The issue was caused by static height declaration which forced contents into a smaller row height than contained contents at extra-small sizes. Since the static height is not absolutely necessary at larger screen sizes (bootstrap auto-adjusts), I have suggested removing it altogether in my referenced PR.

[2019-12-11 18:39] #9740 closed

[2019-12-16 04:12] daekoon commented on #9891
Hello, I would like to work on this issue. Can I have more details regarding this? What is the "same data creation" referring to?

[2019-12-16 04:24] damithc commented on #9891
Corrected. It should be _sample course creation_. This refers to the creation of a sample course when TEAMMATES creates an instructor account (an admin feature).

[2019-12-17 06:20] #9789 closed

[2019-12-17 06:20] #9796 closed

[2019-12-17 18:15] #9669 closed

[2019-12-22 00:09] snickercop commented on #9891
I couldn't find this particular instance but I found a couple of stray "he's" and fixed them... is that helpful?

[2019-12-23 08:45] Priyanka04-R commented on #9663
is this still open . if its still open i can work on that

[2019-12-31 14:51] ChooJeremy opened #9898 "All records page does not show profile picture"
- **Environment**:  `master` branch at commit a671dafb6e20cca037816d0539897392ef8c8259

**Steps to reproduce**
1. Create a student with a profile picture
2. Add the student to a course
3. As the instructor of the course, view the 'All Records' for that student

**Expected behaviour**
The student's profile picture is displayed

**Actual behaviour**
The student's profile picture is instead marked as

[2019-12-31 18:05] xpdavid commented on #9886
Might be fixed with upgrade from #9863

[2020-01-02 17:29] ishaan2908 opened #9899 "gs"
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2020-01-02 17:30] #9899 closed

[2020-01-03 12:22] Radesh-kumar opened #9900 "hey guys!, I'm radesh a newbie, I'm here to contribute to the open source coomunity, And I felt that TEAMMATES is the best choice for me.My Skill set:- HTML,CSS,JQUERY,JAVASCRIPT,BOOTSTRAP,PHP,AJAX.And im learning node js and angular js for backend.I would be very happy to work on beginner issues.Help me with getting started THANK YOU."
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2020-01-04 05:48] ChooJeremy commented on #9900
Hi @Radesh-kumar

Please look through the [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) to get started :) Feel free to post any issues/questions you have along the way.

For your first issue, I would recommend getting started with a first timer issue, as those are generally localized and do not require knowledge of a large part of the codebase.

[2020-01-05 14:23] hcwong commented on #9773
Idm looking into this, but I'm not sure how to edit profile pic of other students on dev 🤣 ?  I only know how to edit it for the current student.

[2020-01-07 19:07] xpdavid opened #9902 "Replace src/web/types/gender.ts with Gender in api-output.ts"
TODO: as stated exactly in the title.

Goal:
- We can benefit from the auto-sync of API output types between frontend and backend.
- One can also learn how `./gradlew generateTypes` sync API request/response type between frontend and backend.

[2020-01-07 19:10] xpdavid opened #9903 "Replace src/web/app/pages-instructor/student-profile/student-profile.ts with StudentProfile in api-output.ts"
To be done after #9902

TODO:
- More efforts need to convert component `ts` files, html files and test files to adopt the type.

Goal:
- We can benefit from the auto-sync of API output types between frontend and backend.

[2020-01-07 19:11] xpdavid commented on #9900
Yup, @Radesh-kumar you can follow @ChooJeremy 's suggestions.

[2020-01-07 19:11] #9900 closed

[2020-01-08 12:55] laazo commented on #9902
Hullo, I would like to pick this issue up. Is there anyone looking at it?

[2020-01-10 21:14] xpdavid opened #9904 "Update timezone database to 2019c"
Update timezone database to 2019c

[2020-01-10 23:29] xpdavid opened #9906 "Move src/web/app/Intent.ts to src/web/types"
`src/web/types` is where we define types. `Intent.ts` is one of the data types so it should be in this folder.

[2020-01-12 12:17] tiuweehan commented on #9906
Hi, can I take this issue?

[2020-01-12 12:56] madanalogy commented on #4854
I would like to try and work on this if it is still an issue. Seems like jkt already proposed a solution above, I could go about with the implementation if that's all that is required?

[2020-01-12 14:27] manhalrahman commented on #9906
I am a total beginner, can I help with this?

[2020-01-12 15:30] tiuweehan commented on #9902
Hi @laazo, may I clarify if you are working on this issue?

[2020-01-12 15:33] laazo commented on #9902
Sure, please clarify for me

[2020-01-12 15:42] tiuweehan commented on #9902
@laazo sorry if there was a misunderstanding, I was checking if you are currently attempting to solve this issue. If not, I intend to work on it.

[2020-01-12 15:44] laazo commented on #9902
@tiuweehan no problem. You can go ahead and work on it

[2020-01-12 15:44] tiuweehan commented on #9902
@laazo thanks for clarifying!

[2020-01-12 16:18] dvrylc commented on #9761
Hi there, seems like the previous PR was closed due to inactivity. Can I take this?

[2020-01-13 18:53] xpdavid opened #9911 "Auto-sync API output type: ConfirmationResponse"
There is a `ConfirmationResponse` in the backend (JAVA) and `ConfirmationResponse` and in the frontend (TypeScript). They have the same structure and we should make use of the `./gradlew generateTypes` to auto-sync them.

[2020-01-14 04:40] madanalogy commented on #4854
The implementation proposed by jkt above is a very comprehensive approach to solving this security vulnerability that I believe should be the ideal. However, it involves adding a new attribute to the instructors entity which could require extensive code rewriting elsewhere as well as potentially requiring data migration.

I have outlined an alternate implementation in my PR raised to resolve this

[2020-01-14 14:36] madanalogy commented on #8490
Am I right to assume that this is no longer an issue considering that #9447 has already been merged?

[2020-01-14 18:02] madanalogy commented on #9911
I would like to work on this, but I'm not sure how to go about implementing the class pattern in `build.gradle` because `ConfirmationResponse` is a static class declared within the `ConfirmFeedbackSessionSubmissionAction` class, so there is no class file I can point the generator to? Do I have to first extract these declarations into their own java file?

Unless I'm going about this the wrong way,

[2020-01-14 18:47] xpdavid commented on #8490
Nope. #9610 is still pending.

[2020-01-14 18:49] xpdavid commented on #9911
Yup, and put it into `src/main/java/teammates/ui/webapi/output`. When you run `./gradlew generateTypes` you will get auto-synced TypeScript interface in `api-output.ts`.

[2020-01-14 18:56] madanalogy commented on #9911
Understood, I will work on this issue and raise a PR in a couple of days, thanks!

[2020-01-15 06:01] #9904 closed

[2020-01-15 06:28] #9898 closed

[2020-01-15 06:48] #9906 closed

[2020-01-15 06:52] tiuweehan commented on #9903
Hi, can I take this issue?

[2020-01-15 07:07] #9902 closed

[2020-01-15 07:25] #9761 closed

[2020-01-15 08:27] tiuweehan commented on #9903
The `StudentProfile` type in `api-output.ts` is missing the `pictureKey` field `student-profile.ts`.

Should I replace all occurences of `StudentProfile` with `StudentProfile & StudentProfilePictureResults`, or create a new type e.g. `StudentProfileWithPictureKey`?

![image](https://user-images.githubusercontent.com/39181981/72416594-03761c80-37b2-11ea-94db-e470e745b93a.png)

![image](https://user

[2020-01-15 18:41] xpdavid commented on #9903
This is a contributor issue so it is not that straight-forward as firstTimer issue. Think about it: Do you need pictureKey? Is there any place where pictureKey is used? If so, can we get rid of it? How?

[2020-01-16 21:25] #9911 closed

[2020-01-17 06:36] hcwong commented on #9830
can i take this, seems inactive?

[2020-01-17 07:19] hcwong commented on #9642
If this is inactive I would like to take it

[2020-01-17 10:18] hcwong commented on #9642
It's probably the issue with URL special characters. I'm thinking of decoding/encoding the strings properly and also preventing future session names from having such characters.

[2020-01-18 02:52] xpdavid opened #9915 "Auto-sync API request type: Intent"
Just realize we could do something further beyond #9196

There is an `Intent` class in the backend (JAVA) and `intent.ts` interface and in the frontend (TypeScript). They have the same structure and we should make use of the `./gradlew generateTypes` to auto-sync them.

Note that `Intent.java` should be in `request` package.

[2020-01-18 03:26] niqiukun commented on #9884
Not sure about the cause in v6, but in v7 students can still access/submit/edit their feedback sessions when the course is soft-deleted. There is currently no check for course status when getting feedback questions. Is this an intended behaviour?

[2020-01-18 03:32] #9862 closed

[2020-01-18 03:34] ChooJeremy commented on #9642
Looks inactive - go ahead.

[2020-01-18 04:40] #9821 closed

[2020-01-18 04:43] xpdavid commented on #9886
Not fixed after #9863. Remove `OnHold`

[2020-01-18 05:07] damithc commented on #9884
Sounds like a but. That is not the intended behavior.

[2020-01-18 05:16] madanalogy commented on #9886
@DyllanSowersTR will you be reopening your PR for this issue? If not then I would like to work on it

[2020-01-18 05:47] xpdavid commented on #9884
Related to #9124

[2020-01-18 05:56] niqiukun opened #9917 "Loading bar persists when courses of the student are soft-deleted"
**Environment**:
`master` branch at commit https://github.com/TEAMMATES/teammates/pull/9897/commits/59c356e84ccfbf5863797fb5ca80270be506ff41.

**Steps to reproduce**
Create a new course, enroll a student, and move the course to the recycle bin. Then login as the student and navigate to the student's home page.

**Expected behaviour**
Display a message showing no courses available for the student.

[2020-01-18 06:00] xpdavid commented on #9595
🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 Looks like we finish it (except for #9794)

[2020-01-18 06:00] #9595 closed

[2020-01-18 06:18] niqiukun commented on #9124
Soft-deleting all sessions when soft-deleting the course will cause an issue because if some of the sessions of a course are soft-deleted before the course, soft-deleting the course will make all sessions soft-deleted regardless, so after recovering the course it is not possible to restore the sessions to their previous status. What about checking the student's accessibility to courses first when

[2020-01-18 06:25] xpdavid commented on #9124
Good point. Yup, I remember this was the initial consideration at that time.

It will work. There is indeed a check in the code for this case for another scenario.

https://github.com/TEAMMATES/teammates/blob/59c356e84ccfbf5863797fb5ca80270be506ff41/src/main/java/teammates/logic/core/FeedbackSessionsLogic.java#L1024-L1044

Personally, I don't like the solution as this require any future feature in

[2020-01-18 06:47] hcwong commented on #9679
seems inactive - i'll assign myself.

[2020-01-18 06:48] xpdavid opened #9918 "Remove HttpRequestService dependency from StudentListComponent"
Reason: `StudentListComponent` is a component and is supposed to be used in multiple places. Thus, it should not be associated with a specific API request fire against the backend. All API request should be made by the corresponding pages which use it.

[2020-01-18 06:50] xpdavid opened #9919 "Remove HttpRequestService dependency from UploadEditProfilePictureModalComponent"
Same Reason: Reason:`UploadEditProfilePictureModalComponent` is a component and is supposed to be used in multiple places (although the reason is less convincing here as the modal is only used once. Nevertheless, let's just follow the convention). Thus, it should not be associated with a specific API request fire against the backend. All API request should be made by the corresponding pages which

[2020-01-18 07:18] xpdavid opened #9920 "Don't load all courses again when deleting/archiving courses in InstructorHomePageComponent"
Currently, when a course is deleted or archived in the `InstructorHomePage`. The whole courses belong to that instructor is loaded again.

https://github.com/TEAMMATES/teammates/blob/59c356e84ccfbf5863797fb5ca80270be506ff41/src/web/app/pages-instructor/instructor-home-page/instructor-home-page.component.ts#L129-L139

https://github.com/TEAMMATES/teammates/blob/59c356e84ccfbf5863797fb5ca80270be506f

[2020-01-18 07:25] xpdavid opened #9921 "Don't load all courses again when deleting/archiving courses in InstructorCoursesPageComponent"
Currently, when a course is deleted or archived in the `InstructorCoursesPageComponent`. The whole courses belong to that instructor is loaded again (see `loadInstructorCourses`).

https://github.com/TEAMMATES/teammates/blob/59c356e84ccfbf5863797fb5ca80270be506ff41/src/web/app/pages-instructor/instructor-courses-page/instructor-courses-page.component.ts#L208-L229

https://github.com/TEAMMATES/team

[2020-01-20 04:18] #9841 closed

[2020-01-20 14:48] YuetChan commented on #9915
Can I give it a try?

[2020-01-20 20:36] #9920 closed

[2020-01-21 03:48] madanalogy commented on #5770
Hello I would like to work on this thank you.

[2020-01-21 03:48] madanalogy commented on #8000
Hello, I would like to pick this up. I will go through the previously submitted PR and work from there. I expect to open a PR on this issue in a couple of days

[2020-01-21 03:49] xpdavid commented on #5770
@madanalogy Note that the result page is not migrated yet in V7.

[2020-01-21 03:50] xpdavid commented on #8000
@madanalogy Note that the result page is not migrated yet in V7. You can pick some `d.*` issue to begin with.

[2020-01-21 11:07] madanalogy commented on #9918
Hello, I would like to work on this. To remove `HttpRequestService` dependency I will be moving student deletion to `StudentService`, will be submitting a PR shortly.

[2020-01-21 16:36] xpdavid commented on #9918
Hi @madanalogy , you not only need to move it to `StudentService` but also to move the invocation of method to its corresponding page.

[2020-01-23 02:16] #9679 closed

[2020-01-23 10:18] tiuweehan commented on #9903
`StudentProfile` is used in the following components (on frontend side):
- `InstructorHelpStudentsSectionComponent`:
It is used as the type for variable `exampleStudentProfile`. This variable is passed to the `StudentProfileComponent`.

-  `StudentProfileComponent`:
It is used as the type for variable `studentProfile`. This variable is passed to `student-profile.component.html`, but the field `pic

[2020-01-23 17:19] #9903 closed

[2020-01-23 17:45] tiuweehan commented on #9919
I would like to take this issue, but I think there are a few approaches. Which do you think will be the most suitable? (or maybe there are better alternative approaches?)

**Approach 1**
1. Move `getPictureProfile()` from `upload-edit-profile-picture-modal.component.ts` to `student-profile-page.component.ts`
2. Pass the return value of type `Observable<Blob>` as an `@Input` to `upload-edit-profile

[2020-01-23 18:07] xpdavid commented on #9919
I think Approach 2 is the most appropriate one.

Approach 1:
You don't want to pass `Observable<Blob>` to child component. In other word, there is no need for child component to **observe** what is happening in the parent component. In contrast, you want to reverse the workflow. When something happens in the parent component, you want to update the child component in the parent component (usually

[2020-01-24 01:14] Rinita-De commented on #9917
Hi, I am interested in working on this issue. Please let me know if I can pick it up.

[2020-01-24 01:15] rafaelbalanquet commented on #9917
Hello! Our team would like to claim this issue.
@team

[2020-01-24 13:44] madanalogy commented on #9918
Have moved it to `CourseService` instead to prevent unnecessary coupling to `StudentService`.

Also, method invocation now functions as an emitter to be handled by the implementing component (see PR). I'm not too sure if this was the right way to go about it (I'm new to angular) so if there's any comments/feedback just let me know thanks!

[2020-01-25 13:18] mrturkmen06 opened #9929 "staging server error: 404 Not Found"
- **Commit SHA:**
- **Operating System:** MacOS Catalina 10.15.2
- **JDK Version:**  1.8.0
- **Node.js Version:** v12.12.0
- **Google Cloud SDK Version:** 1.9.77
- **IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I am trying to deploy teammates to staging server where I have created app on Google cloud and se

[2020-01-28 05:11] #9886 closed

[2020-01-28 16:26] dvrylc commented on #9688
I believe this issue can be closed, following the implementation I documented in https://github.com/TEAMMATES/teammates/pull/9910#issuecomment-574006203.

[2020-01-28 21:53] xpdavid commented on #9688
Yup, but it looks like we can move one step further to generalize the setup to an export. https://stackoverflow.com/questions/56171685/export-beforeall-and-afterall-in-jest

[2020-01-29 00:34] xpdavid commented on #9929
@mrturkmen06 You need to run `npm run build` to compile the frontend to the production-ready code.

[2020-01-29 01:37] dvrylc commented on #9688
@xpdavid I can't seem to find a good place for the helper, is it ok to create a new directory `src/web/test-helpers`?

[2020-01-29 08:21] mrturkmen06 commented on #9929
@xpdavid  Thanks a lot !!

[2020-01-29 08:21] #9929 closed

[2020-01-29 19:19] aishaadambek commented on #9917
Hello team!

I completed all the tasks in the Contributor orientation guide and **got the Dev Green**.
I have reproduced the bug and **I am now ready to contribute**.

I started working on the issue and will hopefully soon have some results!

Let me know if anything else can be done beyond the Development Workflow document.

[2020-01-30 03:33] shahan27 commented on #9767
Please let me know if this is still open. I would gladly look into this. :)

[2020-02-01 02:34] damithc opened #9936 "Hourly email sending causes 'GC overhead limit exceeded' error"
v6.16.3 (the current live version)

I've been getting similar errors during December/January period although this is an off-peak period. A few per day. Usually connected with an hourly task such as sending reminders.

java.lang.OutOfMemoryError: GC overhead limit exceeded
at java.time.ZoneRegion.ofId(ZoneRegion.java:126)
at java.time.ZoneId.of(ZoneId.java:411)
at java.time.ZoneId.of(ZoneId.java:35

[2020-02-01 04:34] hcwong opened #9939 "View Team on Student Page does not show teammates details"
View Team on Student Page does not show all of the teammates details, even if they are registered

Nothing is shown until the student updates the details on the profile page. There is also a secondary bug because on the profile page, the long term contact email is only supposed to be shown to instructors, but the other students can also see it as well.

- **Environment**:
Latest `master` at `07fa6

[2020-02-01 04:41] hcwong commented on #9939
i'm looking into this btw 🔬

[2020-02-01 05:54] tiuweehan opened #9940 "Standardize API endpoints"
### Summary

Follow up from #9919 and #9937

Most of the requests to backend are done using `HttpRequestService` and string literals within the components that require the data. There are a few problems with this:
1. API endpoints may change, requiring us to manually update all the string literals.
2. There may be methods in separate components essentially making the same requests, which is not ve

[2020-02-01 05:56] tiuweehan commented on #9940
Would like to work on this if possible :)

[2020-02-01 06:12] hcwong commented on #9940
👍 .  If you're going to this, could you also help to ensure that the special characters are escaped properly? This #9925 somewhat fixes but it could be better.

[2020-02-01 08:01] xpdavid commented on #9940
Great start, note that:

This is done in`./gradlew generateTypes`

If you understand Angular service correctly, you can organize service and create `*.service` for them and Angular will do dependency injection for you.

This should be an epic issue. You should do step by step and maybe refer to the issue as `Part of XXX`.

I recommend to combine phase I & II together and separate tasks based on th

[2020-02-01 09:45] tiuweehan commented on #9940
@hcwong

I'm not sure if we should include string validation as part of this service, as its primary purpose is to make API requests. Maybe there should be a separate service for string validation - What do you think?

@xpdavid

If I understand this correctly, we should create a service for each endpoint? If that is the case, there will be a lot of files in the `services` directory - should we als

[2020-02-01 09:48] xpdavid commented on #9940
Do you think it is better to create a service for each endpoint or create a service for a set of homogeneous endpoints (e.g. CRUD operations for an entity type)?

[2020-02-01 12:13] tiuweehan commented on #9940
Yup I think that makes more sense

[2020-02-02 05:01] #9921 closed

[2020-02-02 06:08] #9918 closed

[2020-02-03 05:49] hcwong opened #9946 "Migration to new RESTful search endpoints"
This endpoint migration aims to migrate the endpoints for search to call the individual entities instead of calling the endpoints by user status (Admin, Instructor, Student)

- **Environment**:

**Justification**
Our search queries have become too long and has busted GAE's limit. See #4345.

**Existing similar features and their shortcomings**
We can't make long queries

## Progress Update

- [ ]

[2020-02-03 06:08] xpdavid commented on #9946
For those who are interested, please discuss with me (better) or your mentor for possible design before sending PR. We don't want you effort being wasted. :)

[2020-02-03 13:24] madanalogy commented on #9419
I figured it might be useful to compile a list of forms that could use front-end validation. I only explored pages in a MSS use case exploration of the application. If anyone has additional forms/pages to recommend let me know and I'll add it to the list.

- [ ] Add Course Form (Might be addressed by #9820)
- [ ] Enrol Students Page (Might be better just to have static display of requirements)
- [

[2020-02-03 13:45] hcwong commented on #9946
This is a RFC btw: so open to all suggestions

[2020-02-04 03:46] xpdavid commented on #9946
Just for those who are working on this:
Question to answer first before writing ANY code:
- How many new endpoints will you add? Is it RESTFul?
- Do we need to change the search logic? Do we need data migration?
- What is the request format?
- What is the response format?
- Will the design satisfy the current requirement and be scalable enough to eliminate the issue mentioned?

[2020-02-06 04:00] #9688 closed

[2020-02-06 04:22] xpdavid commented on #9936
#9943 has a temp fix while we don't know whether the issue will come again. Let's leave it here and prioritize for V7 first. In addition, this issue is also relevant in V7 and one should at least apply the fix in #9943 for V7.

[2020-02-06 04:44] #9915 closed

[2020-02-06 08:10] #9919 closed

[2020-02-06 12:05] mrturkmen06 opened #9947 "Deploying to server other than google cloud"
- **Operating System:** MacOS Mojave
- **JDK Version:** 1.8.0_241
- **Node.js Version:** v12.12.0
- **Google Cloud SDK Version:**  276.0.0
- **IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I would like to know that is there any possible way to deploy the application to my own server rather than GAE. The reas

[2020-02-06 14:19] wkurniawan07 commented on #9947
@mrturkmen06 it is currently not possible.

[2020-02-06 14:19] #9947 closed

[2020-02-11 03:56] madanalogy opened #9948 "Add Cancel Button for Course Editing"
**Environment**:
Dev environment, v7

**Description of feature/enhancement**
Add a cancel button in the course edit page to allow a user to cancel editing (similar to cancel button on edit instructor, see below)

![ezgif-6-8ed356dcf15d](https://user-images.githubusercontent.com/42177597/74210052-36ce9d00-4cc5-11ea-8c4d-a6e889a07995.gif)

**Justification**
Currently the only way to cancel the edit

[2020-02-12 14:08] niqiukun opened #9950 "Prevent form submission to backend when invalid fields defected in frontend"
Related to issue https://github.com/TEAMMATES/teammates/issues/9419 and PR https://github.com/TEAMMATES/teammates/pull/9633. Specifically, the solution implemented by https://github.com/TEAMMATES/teammates/pull/9633 seems to be incomplete since the submission to backend still occurs when invalid fields are defected in frontend, as shown below:

![image](https://user-images.githubusercontent.com/53

[2020-02-13 04:41] tiuweehan opened #9952 "Remove HttpRequestService from Student module"
Related to Epic in issue #9940

[2020-02-13 09:05] aishaadambek commented on #9649
Hi @RonakLakhotia,

unfortunately, with the steps you specified, the bug is **not reproducible anymore**. Student photos can be viewed normally.

I suspect that the bug has been fixed already. If It probably makes sense to close the issue.

Thanks! :)

[2020-02-14 11:41] aishaadambek commented on #9665
Hi @monmanuela,

unfortunately, with the steps you specified, the bug is not reproducible anymore. Text box formatter disappears as the user scrolls down:

![teammates](https://user-images.githubusercontent.com/29358225/74527908-1e72b280-4f51-11ea-9c37-a40291fbccac.gif)

I suspect that the bug has been fixed already.
Maybe alternative steps are needed to reproduce the bug? Otherwise, it probably m

[2020-02-16 05:48] daekoon opened #9956 "Make dataBundle return the json of actual objects created in backend"
- **Environment**: `master` branch at commit 87f9c7180f17083161986b3311cf3785e32a8494

**Description of feature/enhancement**
Currently, when the `dataBundle` object is passed to the backend server and `PutDataBundleAction` is executed, the method only returns the HTTP response code as the json file. This makes the assumption that the values in dataBundle will be exactly same as the values as the

[2020-02-16 16:30] MuhammedRishdhi123 opened #9957 "Guys can I join this project to contribute"
Before opening a new issue, please check that no existing issue covers the same topic.

Go to the "Preview" tab and click on the relevant issue type to be redirected to the appropriate template.

- [Bug reports](?template=bug-report.md)
- [Feature/enhancement requests, enhancement to build process](?template=feature-request.md)
- [Help requests](?template=help-request.md)
- [Data migration](?templ

[2020-02-16 18:45] #9957 closed

[2020-02-16 20:13] #9891 closed

[2020-02-16 21:16] #9948 closed

[2020-02-17 04:33] #9952 closed

[2020-02-17 04:51] tiuweehan opened #9959 "Remove HttpRequestService dependency from instructor module"
Related to Epic in issue #9940

[2020-02-17 05:09] #9959 closed

[2020-02-19 16:17] tiuweehan opened #9963 "Use TypeScript Utility types"
I think it might be good if we can refactor to use some TypeScript [Utility types](https://www.typescriptlang.org/docs/handbook/utility-types.html).

For example, I notice that `{ [key: string]: string }` is a commonly used type in the application. It might be cleaner to use `Record<string,string>` instead.

That's my observation for now, I'm sure there are other utility classes which could be use

[2020-02-22 15:45] daekoon opened #9965 "Fix handling of data with dependencies for L&P tests"
- **Environment**: `master` branch at commit 004e6a0

In the setup phase of the L&P testing, `LnPTestData` is used to generate the required test data, before it is passed into the server (via a backdoor). However, there are certain types of data, such as `FeedbackResponses` and `FeedbackResponseComments` that has dependencies that cannot be generated at the same time. Both of the aforementioned cl

[2020-02-22 18:41] Rishabh-Bajpai-Hub commented on #3918
Can you confirm this is still an issue?.

[2020-02-23 21:21] #9917 closed

[2020-02-26 09:47] jtankw3 commented on #9067
Hello, I believe this issue has already been fixed and can be closed as seen from the below code snippet:
https://github.com/TEAMMATES/teammates/blob/9c3dfaad9f6be96709deceffd18d5d82d7e916d2/src/test/java/teammates/test/cases/storage/FeedbackSessionsDbTest.java#L702-L712

[2020-02-26 11:59] aishaadambek commented on #9423
Hello team!

I managed to reproduce the issue and I am now looking into it.

Hope I will have some results soon!

[2020-02-27 07:47] jtankw3 opened #9970 "Fix failing Travis build"
**Environment**:
`master` branch at commit 9c3dfaad9f6be96709deceffd18d5d82d7e916d2

**Description:**
`npm update` causing build to fail
![npm update](https://user-images.githubusercontent.com/31800234/75422477-a310f800-5977-11ea-927a-b224d0010f88.PNG)

[2020-02-28 06:13] #9970 closed

[2020-02-28 07:09] #9642 closed

[2020-02-28 07:40] #9302 closed

[2020-02-28 18:32] awpathum commented on #9963
Can you mention the file names plaese?

[2020-03-01 11:57] madanalogy opened #9976 "Refactor Course Add & Edit into Single Form"
There are a lot of similarities between the [`add-course-form`](https://github.com/TEAMMATES/teammates/tree/master/src/web/app/pages-instructor/instructor-courses-page/add-course-form) and the course edit portion of the [`instructor-course-edit-page`](https://github.com/TEAMMATES/teammates/tree/master/src/web/app/pages-instructor/instructor-course-edit-page). I'm thinking we could abstract out the

[2020-03-01 18:30] xpdavid commented on #9976
Yup. You can take a look at how other ADD/EDIT form achieve that.

[2020-03-07 18:54] #9773 closed

[2020-03-07 20:29] #9748 closed

[2020-03-09 04:42] madanalogy commented on #9976
For anyone interested in tackling this, I'd recommend doing so after #9975 and #9820 are resolved.

[2020-03-11 07:27] e-nayana commented on #9976
I would love to work on this. But I have to wait until [#9975](https://github.com/TEAMMATES/teammates/pull/9975) and [#9820](https://github.com/TEAMMATES/teammates/pull/9820) are resolved

[2020-03-11 13:16] madanalogy commented on #8892
This has been resolved by #9949

[2020-03-11 13:16] #8892 closed

[2020-03-14 15:11] madanalogy commented on #4854
Based on inspiration from @xpdavid and @ChooJeremy, I'm suggesting we generate a HMAC with the teammates secret key on the institute, then append both the institute and generate HMAC to the instructor url join link

Implementation of the HMAC will follow [this gist](https://gist.github.com/ishikawa/88599/3195bdeecabeb38aa62872ab61877aefa6aef89e) roughly. Since the generated HMAC is a hex string, a

[2020-03-14 15:23] madanalogy commented on #4699
@damithc just checking whether the data migration script has been run? Would like to take this to the next step

[2020-03-14 16:31] damithc commented on #4699
This was a long time ago :-p
Which script exactly? I can try to run it again. But run it yourself first to confirm the script is safe to run.

[2020-03-15 16:09] damithc opened #9986 "Join confirmation sent to instructors: include a link to TEAMMATES"
Request received from a user:
When an instructor clicks on a 'join' link sent by TEAMMATES, they receive an email confirming that they have registered for the course. Perhaps the email can also contain a clickable link of TEAMMATES for instructors to easily reach TEAMMATES from that email?

[2020-03-16 05:24] madanalogy commented on #4699
It's the [`DataMigrationForSanitizedDataInInstructorAttributes.java`](https://github.com/TEAMMATES/teammates/blob/master/src/client/java/teammates/client/scripts/DataMigrationForSanitizedDataInInstructorAttributes.java) script file. I've tried executing it on my local dev environment and it executes successfully with a config warning logged I'm assuming is related to the fact that I'm running it i

[2020-03-16 12:14] damithc commented on #4699
Thanks @madanalogy

I get the following when I run the script in preview mode:
[code]
@xpdavid should I run the script in live mode?

[2020-03-16 16:09] xpdavid commented on #4699
Unfortunately, I just find out this is why the script is not scheduled to be run: The code is merged in V7 not V6.

[2020-03-16 16:47] xpdavid opened #9989 "Migrate GetCourseEnrollStudentsAction to GetStudentsAction"
`GetCourseEnrollStudentsAction` is not RESTFul-compliant which should be migrated in #9595.

One can check migration requirements in that issue.

Hint: The functionalities of the endpoint is the same as `/students`.

[2020-03-16 16:59] #9819 closed

[2020-03-17 02:12] damithc commented on #4699
oops. I'm glad I asked before running it :-p

[2020-03-17 02:40] madanalogy commented on #4699
I take it then that we won't be moving on this issue until v7 goes live?

[2020-03-17 02:41] xpdavid commented on #4699
Yup. We need release v7 and then we can run the migration script.

[2020-03-17 02:53] madanalogy commented on #4588
Might be worthwhile to add #9247 to this list for completeness?

[2020-03-19 17:46] #9939 closed

[2020-03-20 05:06] LeMikaelF commented on #9067
@jtankw3  that's weird. `git log | grep 9067` and `git log | grep "unstable test"` show no relevant commits. I would also like to work on this, could someone confirm the status of the issue?

[2020-03-20 05:11] LeMikaelF commented on #9767
The [relevant PR](https://github.com/TEAMMATES/teammates/pull/9768) has been pending for 8 months now, so... not sure what this means for first-timers...

[2020-03-23 04:53] #4854 closed

[2020-03-23 13:17] AdamPanag commented on #9989
Hello, I am a new contributor and I have chosen TEAMMATES  as the OSS that I will contribute for my university course "Software Engineering in Practise". I would like to work on this issue, but I am open to work to any other issue that you can assign to me.

[2020-03-24 15:17] nusjzx opened #9993 "Scrutinize the access control of the api end point"
Access control test is not done for some of the endpoints, eg: `GetSessionResultsAction`, `GetCourseSectionNamesAction`, Also, the test cases that other actions access control test covered is not enough.

[2020-03-24 23:13] AdamPanag opened #9996 "Typo in the pop-up message of the button "Send Invite""
![typo-issue-teammates](https://user-images.githubusercontent.com/44143668/77484981-aee7c100-6e34-11ea-88f2-9bb77e4ad985.png)

- **Environment**:  The screenshot is from an instructor's account in the Student List page.

- **Expected behaviour**: I think that the right message should be "...using his/her Google Account..."
and "...without joining, but a..."

I would like to work on this issue!

[2020-03-24 23:36] xpdavid commented on #9963
Good idea

[2020-03-25 10:49] AdamPanag commented on #9996
Hello, I can work on this!

[2020-03-25 11:16] damithc commented on #9996
Go ahead @AdamPanag

[2020-03-25 16:58] amarlearning commented on #9878
@kashu1209 which IntelliJ version you are using?

[2020-03-25 17:07] amarlearning commented on #9986
@damithc I would like to take this one :smile:

[2020-03-26 02:04] damithc commented on #9986
Welcome back @amarlearning Go ahead.

[2020-03-27 17:50] amarlearning commented on #9986
@damithc any suggestion, where should I add the teammates link in email?

[2020-03-28 03:18] damithc commented on #9986
Can have a look at the current email and suggest some possibilities?

[2020-03-28 11:59] amarlearning commented on #9986
[code]
@damithc I think we should add the teammate's link over there.

[2020-03-28 12:02] damithc commented on #9986
How about just hyperlink `<strong>[${courseId}] ${courseName}</strong>`?

[2020-03-28 12:03] amarlearning commented on #9986
a hyperlink around this `<strong>[${courseId}] ${courseName}</strong>` ?

[2020-03-28 12:11] damithc commented on #9986
Yes, that seems like a logical place for the instructor to click, to reach TEAMMATES.

[2020-03-28 12:35] amarlearning commented on #9986
@damithc I think giving teammates `homepage link` around the `course` is not good because once they click on the link they might be expecting the `course page` instead of `homepage`.

[2020-03-28 13:49] damithc commented on #9986
That's true. I'm OK to add it as a separate link too.

[2020-03-29 04:00] #9956 closed

[2020-03-29 12:22] aishaadambek opened #10003 "Links in the Instructor's 'Getting Started' page do not work as expected"
Links in the Instructor's 'Getting Started' page that should redirect to question cards on the Instructor's Help page do not work as expected.

- **Environment**: `master` branch at commit 44e0894.

**Steps to reproduce**

1. Go to the `Getting Started` page for Instructors (the link to this page can be found at the top of the Instructor's Help page);

2. Try to follow any link within the steps th

[2020-03-30 11:02] #9950 closed

[2020-04-01 11:04] #9986 closed

[2020-04-02 23:20] #9646 closed

[2020-04-04 10:46] aishaadambek commented on #10003
Hello team,

I have started working on this issue and hope to have some results soon.

[2020-04-04 13:23] niqiukun opened #10006 "Student home page view responses button is disabled incorrectly"
- **Environment**: latest master

**Steps to reproduce**

Go to student home page.

**Expected behaviour**

Buttons for published session should not be disabled while buttons for unpublished session should be disabled.

**Actual behaviour**

![image](https://user-images.githubusercontent.com/5328196/78451806-4dd4ae80-76ba-11ea-9227-3790aa050ce0.png)
The `disabled` flag for view responses button is

[2020-04-04 13:56] niqiukun commented on #10006
Regression introduced by Regression introduced by https://github.com/TEAMMATES/teammates/pull/9827.

[2020-04-04 16:56] #9940 closed

[2020-04-05 06:14] daekoon opened #10008 "Deprecate getFeedbackQuestionId endpoint in Backdoor"
- **Environment**: Latest master (23ea7c3b15640afe902e4366787c56779f71600d)

**Description of feature/enhancement**
While working on the following [pull request](https://github.com/TEAMMATES/teammates/pull/9958) to add Load and Performance Tests, the endpoint `getFeedbackQuestionId` was created as a workaround to retrieve the Feedback Question Id until the putDataBundle was fixed in [this PR](http

[2020-04-05 07:04] #10006 closed

[2020-04-05 08:42] #9996 closed

[2020-04-05 11:53] daekoon commented on #9965
Fixed by PR #9967.
It is possible to retrieve data that are only generated server side, since the dataBundle gets updated to retrieve those information.

[2020-04-05 11:53] #9965 closed

[2020-04-06 18:49] nusjzx opened #10010 "Move comment update logic to parent instructor session result page"
Currently, the comments CRUD operation is handled in the comment table component, which is the child component. The changes are first updated to the local model in the component, and then trigger the event to change the model in the page component. We are using this design because the model in the page component has a complex structure, the propagting back of the changes to the child component som

[2020-04-07 07:11] surili220 commented on #9767
Is this issue still open?

[2020-04-07 11:07] #9946 closed

[2020-04-07 22:14] AdamPanag opened #10015 "Add "Search bar" & "Sort By" in Student-Course-Details-Page"
- **Environment**: Student-Course-Details-Page

**Description of feature/enhancement**

Here is an indicative screenshot of how I think it could look like (in the red rectangle is my addition):

![s2](https://user-images.githubusercontent.com/44143668/78723846-df4f5500-7934-11ea-8194-466eea4bc464.png)

**Justification**
The main benefit would be that the students will be able to find a specific te

[2020-04-11 12:08] AdamPanag commented on #10015
Hello, I am working on this!

[2020-04-13 11:18] amarlearning opened #10019 "cookie is added to response without the 'secure' flag being set."
cookies are added to response without the 'secure' flag being set.

https://github.com/TEAMMATES/teammates/blob/e01257fdd6870d5b9c569c26e55e33f6ad6a1875/src/main/java/teammates/ui/webapi/action/JsonResult.java#L52-L64

[2020-04-13 11:28] amarlearning opened #10020 "Potential overflow before it is converted to long"
The variable `numberOfEmailsSent` and `emailIntervalMillis` are declared as `int` and the assignment variable is declared as `Long`. Potential overflow in `int multiplication` before it is converted to long by use in an assignment context.

https://github.com/TEAMMATES/teammates/blob/e01257fdd6870d5b9c569c26e55e33f6ad6a1875/src/main/java/teammates/logic/api/TaskQueuer.java#L224-L228

[2020-04-13 11:33] amarlearning opened #10021 "Missing space afterword `successfully` in the string"
Missing space after word `successfully` in the string.

https://github.com/TEAMMATES/teammates/blob/e01257fdd6870d5b9c569c26e55e33f6ad6a1875/src/main/java/teammates/logic/core/FeedbackResponsesLogic.java#L653-L655

[2020-04-13 23:54] #10008 closed

[2020-04-14 14:09] tkech17 commented on #10019
i'll do it

[2020-04-14 14:09] tkech17 commented on #10020
i'll do it

[2020-04-14 14:09] tkech17 commented on #10021
i'll do it

[2020-04-14 15:10] amarlearning commented on #10021
@tkech17  will recommend you to read this https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md#phase-c-start-contributing which says

[2020-04-14 16:05] tkech17 commented on #10019
As i can write only one task assigned as FirstTimers, please assign it two me

[2020-04-15 04:20] madanalogy commented on #10019
You can proceed to submit a PR to address this issue. If anyone else would like to work on it they will check in with you first (if you have yet to submit a PR) so don't worry.

Also, take note of https://github.com/TEAMMATES/teammates/issues/10021#issuecomment-613499993. All the best! Let us know if you need any help :)

[2020-04-16 02:57] #10020 closed

[2020-04-18 15:39] harruup commented on #10021
I can do it

[2020-04-19 11:28] #9963 closed

[2020-04-22 16:29] madanalogy commented on #10019
It appears that adding the secure flag impacts the e2e testing being performed as seen in #10024, therefore upgrading this to a contributor level difficulty

[2020-04-23 03:21] misaunde opened #10028 "Broken url in documentation"
This page has a link to owasp.org's CSRF attack page which goes to a 404 not found:
https://github.com/TEAMMATES/teammates/blob/master/docs/design.md#architecture

- **Environment**:

**Steps to reproduce**
Search for CSRF
Click on the link

**Expected behaviour**
Goes to actual CSRF attack page

**Actual behaviour**
404 not found

**Additional info**

[2020-04-25 01:26] #10028 closed

[2020-04-25 01:57] #10021 closed

[2020-04-28 17:02] Aliki-Ntouzgou opened #10029 "Add "Enroll this student to a course" button in Student-Profile page"
- **Environment**: Student-Profile-Page, Instructor-Courses-Page & Instructor-Course-Enroll-Page

**Description of feature/enhancement**
I already made locally the pages in order to show you how it could look like:
So, I am thinking about adding here this button, which will appear whenever an instructor is searching for a student:
![2020-04-12 (9)](https://user-images.githubusercontent.com/6119632

[2020-04-29 22:05] Ali96kz commented on #9538
Could you please wright steps how to reproduce these bug

[2020-05-01 15:05] Ali96kz commented on #9538
@damithc What about making `teammates.common.util.Const#USER_TEAM_FOR_INSTRUCTOR` more unique? Something like `INSTRUCTORS_TEAMMATES_VAR`

[2020-05-01 16:46] amarlearning commented on #10019
I would like to take this one if no one is taking

[2020-05-01 19:03] xpdavid commented on #9538
It works but not the optimal. (e.g. what if a team is called `INSTRUCTORS_TEAMMATES_VAR`?). I think the issue is more challenging than you think as this requires data migration if we want to make changes. If you are new to teammates, please find some `firstTimer` task to tackle :P

[2020-05-02 15:21] Aliki-Ntouzgou commented on #10029
Hello again, I am working on it!

[2020-05-04 19:01] Diana-Ramos commented on #9836
Hi, I'm currently working on this issue if it is okay

[2020-05-05 03:33] mrjoshi0147 commented on #9878
Whenever I am opening my IDE it is showing this error  "Could not initialize class org.codehaus.groovy.classgen.Verifier"

[2020-05-05 15:04] jtankw3 opened #10031 "Cancel causes permissions to be shown incorrectly in instructor course edit page"
**Environment**:  `master` branch at commit 7e9e884db042a091345b43f09749f3167149d446

**Steps to reproduce**
1. Add instructor with custom permissions
2. Click edit
3. Click cancel
4. Click edit again

**Expected behaviour**
The correct custom permissions for the instructor should be shown

**Actual behaviour**
All checkboxes are ticked when edit is clicked again. Section and session level permiss

[2020-05-06 09:00] madanalogy commented on #10029
This seems like quite a big undertaking, do let us know if you need any help yea

[2020-05-07 09:23] Aliki-Ntouzgou commented on #10029
Thank you so much for your reply and the offer of help! Will definitely let you know

[2020-05-10 13:18] #9651 closed

[2020-05-11 02:24] liujiajun opened #10036 "Improve layout for question edit answer component on mobile devices"
**Environment**:
master branch at commit #9652

**Description of feature/enhancement**
Currently, the layout on question edit answer form looks bad on small screens since the dropdown cannot show text in full:
<img width="319" alt="Screenshot 2020-05-11 at 10 21 05 AM" src="https://user-images.githubusercontent.com/2803108/81518597-21731880-9371-11ea-8ae8-a4f66b35ad3b.png">
Suggest to show the dro

[2020-05-11 08:17] t-cheepeng opened #10038 "Long error message when invalid inputs used for enrolling students"
- **Environment**: `master` branch at commit 2918cc169ceb9f6d585c1cc6d645b9a6f2ea7593

**Description of feature/enhancement**
![image](https://user-images.githubusercontent.com/28994607/81538570-7b8bd200-93a1-11ea-8b90-d6acae6bd85d.png)

Currently, error message for invalid inputs on the enrolling students page is very long. Furthermore, the message disappears in a few seconds when the instructor

[2020-05-11 09:06] madanalogy commented on #10038
Persistence sounds like a good idea. Could either have it as a dismissible modal or text added to the page at the top. I'm not keen on shortening the message because there are no granular checks as far as I'm aware.

Would you like to work on this issue? You can suggest implementation designs here for review first so you don't waste time coding something that might not be adopted :)

@xpdavid @wku

[2020-05-11 09:45] damithc commented on #10038
IIRC, I raised this as a general issue earlier: error messages need to persist in most cases. Probably need to fix site-wide.
Likely not needed to be a modal in most cases though, as modals require an additional click. Perhaps use modals only if we need some response from the user?

[2020-05-11 09:59] t-cheepeng commented on #10038
I wouldn't mind working on the issue. But I will have to take some time to get up to speed on the Angular framework before proposing any concrete details.

[2020-05-11 10:27] madanalogy commented on #10038
I was thinking optional persistence might require an additional click anyway to remove the error message, but yes worth considering to start an epic for this to be implemented site-wide and gain more comments for implementation

[2020-05-11 14:27] Derek-Hardy opened #10040 "Server error when add new instructor by admin"
- **Environment**: `master` branch at commit 2918cc169ceb9f6d585c1cc6d645b9a6f2ea7593
- **Browser**: Google Chrome
- **Server**: `dev server` listening at `localhost:8080`

- **Issue 1**: action to add instructor fails at `http://localhost:8080/web/admin/home`
<img width="887" alt="server error" src="https://user-images.githubusercontent.com/32880438/81570289-f6b9ac00-93d2-11ea-851b-840a2089be4b.p

[2020-05-11 14:30] daekoon opened #10041 "Apply Builder Pattern to LNPSpecification class"
- **Environment**: Master branch 2918cc169ceb9f6d585c1cc6d645b9a6f2ea7593

**Description of feature/enhancement**
In the PR #10022, the L&P (Load and Performance) specification class was created to ensure Single Responsibility Principle - preventing the L&P class from handling both the testing and the verification of results. Currently the L&P testing class calls the constructor of L&P directly -

[2020-05-11 14:41] Derek-Hardy commented on #10041
I am interested to work on this issue.

[2020-05-11 14:47] daekoon commented on #10041
Sure, I'll assign you to this.

[2020-05-11 18:18] xpdavid commented on #10038
Yup. I think we can do this with an abstraction made in `statusMessageService`.

[2020-05-12 01:47] ccyccyccy commented on #10040
Are you using JDK 8? I faced a similar problem as well when I used JDK 11.

[2020-05-12 02:56] Derek-Hardy commented on #10040
Many thanks to @ccyccyccy !

**Cause**: mismatched JDK (local: Java SE 9.0.1)

**Solution**: (for Mac OS X)
* run `/usr/libexec/java_home -V` on the terminal
* look for the path for Java SE 8 (Mac default version) `/Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/Contents/Home` (in my case)
* in the root directory of the project, open `gradle.properties`, paste the line `org.gradle.java.home=/Li

[2020-05-12 03:08] madanalogy opened #10042 "Improve UI for Mobile Compatibility"
Several pages within TEAMMATES are not optimised for mobile screen widths. Text gets truncated or content goes missing. This epic is aimed at improving the mobile compatibility of UI across the web application through small but many front-end edits.

- Environment: v7 Dev Environment

**First Timers Only**
Only first timers should be submitting PRs for this epic. Additionally, in the spirit of our

[2020-05-12 03:09] #10036 closed

[2020-05-12 03:45] #10031 closed

[2020-05-12 03:56] Derek-Hardy commented on #10040
Server error issue is resolved.

[2020-05-12 03:56] #10040 closed

[2020-05-12 15:44] Aliki-Ntouzgou commented on #10042
Hello! I would like to optimize the mobile UI for the Instructor Pages: Edit Feedback Session Page!

[2020-05-13 02:50] #9767 closed

[2020-05-13 04:29] zishxn commented on #9067
Hi, is this issue still open?

[2020-05-14 04:00] sandysingh11918 commented on #10019
can anyone explain how it is effecting e2e testing or can provide more details on that? I am firstTimer here.

[2020-05-14 06:51] madanalogy commented on #10019
@amarlearning has already indicated that he will be working on this issue. Managing the e2e testing is more complicated than advisable for first timers. Maybe you can consider working on a first timer issue instead? We have a first timer epic you could take a shot at contributing to in #10042

[2020-05-14 09:21] Derek-Hardy opened #10054 "Improve visual feedback on Scroll Down button"
The phrase "Scroll down" is functionally a button, but there is no visual feedback to let user realise that it works as a button.

<img width="484" alt="feedbacks" src="https://user-images.githubusercontent.com/32880438/81916812-e853d600-9606-11ea-8b13-2b5a8a55cdf1.png">

**Proposal**: improve visual highlights to distinguish it from the rest of plain text.

[2020-05-14 10:06] #9836 closed

[2020-05-14 20:57] yuvaaraaja commented on #10054
Is this issue still open? I am willing to contribute. This would be my first contribution.

[2020-05-14 22:08] altynbeq commented on #10054
If it is what about to work on this thing together? So it will be our first contribution together :)

[2020-05-15 01:05] madanalogy commented on #10054
@yuvaaraaja @altynbeq there is already an open PR for this issue, might I recommend taking a look at #10042 instead?

[2020-05-15 01:07] altynbeq commented on #10054
I will take a look at this problem, and will write you back if I can handle
it as soon as possible:)

On Fri, May 15, 2020 at 3:06 AM Ahmed Bahajjaj <notifications@github.com>
wrote:

[2020-05-15 06:50] sandysingh11918 commented on #10042
![Screenshot from 2020-05-15 11-44-28](https://user-images.githubusercontent.com/37381418/82020225-54d1e200-96a6-11ea-837b-baaed7e05df3.png)
![Screenshot from 2020-05-15 11-44-47](https://user-images.githubusercontent.com/37381418/82020251-5dc2b380-96a6-11ea-91d3-09b4d14e342c.png)
![Screenshot from 2020-05-15 11-43-16](https://user-images.githubusercontent.com/37381418/82020260-61563a80-96a6-11ea-

[2020-05-15 06:58] t-cheepeng commented on #10042
Will try to do Instructor Pages: Add Feedback Session Page if no one is doing it.

[2020-05-15 07:47] yuvaaraaja commented on #10054
@altynbeq Yes I am happy to contribute on this together :)

[2020-05-15 07:51] ccyccyccy opened #10058 "Inconsistent exception between checkAccessControlForStudentFeedbackSubmission and checkAccessControlForInstructorFeedbackSubmission"
`BasicFeedbackSubmissionAction#checkAccessControlForStudentFeedbackSubmission` throws `EntityNotFoundException` when the provided `student` is null. However, `BasicFeedbackSubmissionAction#checkAccessControlForInstructorFeedbackSubmission` throws `UnauthorizedAccessException` when the provided `instructor` is null, even though their behavior is expected to be similar.

I feel that changing `BasicF

[2020-05-15 19:15] sandysingh11918 commented on #9989
is this issue still open? i would like to work on that

[2020-05-16 00:48] altynbeq commented on #10054
How can we communicate with each other ?

пт, 15 мая 2020 г. в 09:47, Yuvaraj <notifications@github.com>:

[2020-05-16 01:38] altynbeq commented on #10042
I will do Instructor pages:Course details & Edit Pages

[2020-05-16 01:42] madanalogy commented on #10042
I believe this might have been settled with #10056, so pull the latest changes and run your developer environment first to verify that there indeed is a problem before you start working :)

[2020-05-16 02:22] altynbeq commented on #10042
Hi, this might sound stupid but anyways, i have copied the latest changes
and start working on Atom, but the problem is that there are too many files
and it looks like it will take too much time till i will find the right
part that i have to fix. Could you please help me out?:) I really want to
do my best and make my contribution.

сб, 16 мая 2020 г. в 03:43, Ahmed Bahajjaj <notifications@github.c

[2020-05-16 02:37] altynbeq commented on #10042
I have found everything, it is all ok

сб, 16 мая 2020 г. в 04:22, Altynbek Stark <starknbek@gmail.com>:

[2020-05-16 05:25] sandysingh11918 commented on #9823
Is this issue still open? I would like to contribute.

[2020-05-16 05:30] sandysingh11918 commented on #9884
I would like to work if the issue is still open.

[2020-05-16 05:35] altynbeq commented on #10042
at the picture one i have marked some problems with the UI, on laptops it
is fine, but on a mobile and other devices all the buttons get too tine.
Do you want me to fix it?

сб, 16 мая 2020 г. в 04:37, Altynbek Stark <starknbek@gmail.com>:

[2020-05-16 06:19] madanalogy commented on #10042
I don't understand what you mean by this. If you'd like, you can put up a draft PR for review to help clarify matters and also receive feedback.

[2020-05-16 06:24] altynbeq commented on #10042
Please do not pay attention to the previous emails , I have made notes with
screenshot , where I potentially see a problem. Just need your confirmation.

On Sat, May 16, 2020 at 8:19 AM Ahmed Bahajjaj <notifications@github.com>
wrote:

[2020-05-16 14:39] zishxn commented on #10042
Hi, I am interested in solving a part of this issue, if available.

[2020-05-16 15:49] madanalogy commented on #10042
Most of the components identified in the issue description appear to have been (or are going to be) resolved. I'd recommend exploring the application with mobile width in your developer environment with an eye out for incompatible UI

[2020-05-17 09:30] #9423 closed

[2020-05-17 09:50] #10054 closed

[2020-05-17 15:33] jtankw3 opened #10064 "Delete permanently does not remove course from UI"
- **Environment**:  `master` branch at commit a89c9825b656535b35cc8fc28955bd0627058e54

**Steps to reproduce**
1. Click delete permanently button in recycle bin of instructor courses page
2. Click again.

**Expected behaviour**
Course should disappear from the UI.

**Actual behaviour**
Clicking delete permanently button in instructor courses page does not remove the course from the UI. Clicking it

[2020-05-17 18:39] acomanzo commented on #10042
Hello, I'll work on the session submission page if it's still available.

[2020-05-18 01:35] madanalogy commented on #10042
It might be worth your while to go through a typical use case with the application in your developer environment. Pretend you are an instructor with students and simulate the process of getting them to give feedback :)

[2020-05-18 02:10] altynbeq commented on #10042
have made some changes on "Instructor pages:Course details", could you please tell how to submit them or send for the review?

[2020-05-18 02:22] madanalogy commented on #10042
Refer to step 4 of the fixing issues section in our [development workflow](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues)

[2020-05-18 02:45] Derek-Hardy opened #10065 "Lift up "Add New Course" and "Sort By" buttons from table"
- **Environment**: master branch a89c9825b656535b35cc8fc28955bd0627058e54

**Description of feature/enhancement**
The row including `Add New Course` and `Sort by` related buttons are too close to the table.

**Current**:
<img width="1200" alt="Screenshot 2020-05-18 at 10 38 38" src="https://user-images.githubusercontent.com/32880438/82169587-8213cf80-98f4-11ea-98d8-e957c31e1770.png">

**Expect**:

[2020-05-18 07:16] #10058 closed

[2020-05-18 12:32] zishxn opened #10069 "Help Request: Unable to build files using the command "npm run build""
Issue title: Help Request: Running the command `npm run build` gives error

- **Commit SHA: 972639522cadea9e96859eaf6b6593483cc1d881**
- **Operating System: macOS Catalina 10.15.4**
- **JDK Version: 1.8.0_251, x86_64:	"Java SE 8"**
- **Node.js Version: v13.5.0**

**What I was trying to do / What I need help with**

 I am trying to follow the steps specified in [development guidelines](https://gith

[2020-05-19 02:07] t-cheepeng opened #10072 "Session edit form UI is not ideal"
- **Environment**: `master` branch at commit a89c9825b656535b35cc8fc28955bd0627058e54

**Steps to reproduce**
![image](https://user-images.githubusercontent.com/28994607/82276655-725dbf00-99b8-11ea-8433-1017249e491d.png)

**Expected behaviour**
Course ID field should show
Text for submission/closing time and visibility should not overflow

[2020-05-19 02:08] t-cheepeng commented on #10072
Will be working on the UI changes

[2020-05-19 03:42] #10064 closed

[2020-05-19 04:41] zishxn commented on #10069
This issue is resolved by renaming src/main/temp/WEB-INF to src/main/webapp/WEB-INF

[2020-05-19 04:41] #10069 closed

[2020-05-19 11:10] #10041 closed

[2020-05-19 12:15] #10072 closed

[2020-05-19 17:50] Aliki-Ntouzgou opened #10079 "Add a dropdown button for the actions in the Instructor Courses table"
**Environment**: Instructor Courses Page

**Description of feature/enhancement**:
What I suggest is combining all the actions, except the "Enroll" action as a main action, into a dropdown button.

**Pros**:
Improved UI, more 'clean' space, saving space.

**Cons**:
Requires one more click.

**This is how it looks now**:
![2020-05-16 (1)](https://user-images.githubusercontent.com/61196321/82360509-2

[2020-05-20 01:31] madanalogy commented on #10079
Enhancement looks good, suggest using title case for `Other Actions`. Am I right to assume you want to work on this?

[2020-05-20 04:09] Derek-Hardy opened #10081 "Improve font size on instructor help page"
- **Environment**: ff1abd25c3b77a1279bb09cffc041f1a57783563

**Description of feature/enhancement**:

The font sizes of **Section Name**(e.g. Sessions) and **Sub-section Name**(e.g. Setting Up Sessions) are too close. The **Section Name** loses its intended separation visual impact. Colour highlight does not seem enough.

<img width="565" alt="Screenshot 2020-05-20 at 12 02 34" src="https://user-i

[2020-05-20 07:13] ccyccyccy opened #10084 "Cursor not changing into pointers when hovered over dropdown menus and their options"
**Steps to reproduce**
Hover over any dropdown menu on the navbar.
Same issue also found at dropdown menus at feedback path and visibility in the "Edit Feedback Session" page.

**Expected behaviour**
Cursor changes into a pointer.

**Actual behaviour**
Cursor remains as a normal cursor.

![image](https://user-images.githubusercontent.com/32454748/82416243-4a4f8800-9aac-11ea-8e83-846b9c6c9651.png)

[2020-05-20 07:23] ccyccyccy opened #10085 "Edit feedback question number does not show properly"
**Steps to reproduce**

Go to "Edit Feedback Session" and edit one of the questions

**Expected behaviour**

The number should fit within the dropdown box.

**Actual behaviour**

The question number is barely visible.

![image](https://user-images.githubusercontent.com/32454748/82417159-b8487f00-9aad-11ea-98a4-7a7aa0a610da.png)

[2020-05-20 08:31] Aliki-Ntouzgou commented on #10079
Yes, I would like to work on it!

[2020-05-20 09:33] t-cheepeng opened #10087 "Course Details page text should be aligned to the left"
- **Environment**: `master` branch at commit d10fa9cd9b2a97440f1fa92f81f3df6e373bf05f

**Steps to reproduce**
Text are all centered in the box
![image](https://user-images.githubusercontent.com/28994607/82430322-c0a9b580-9abf-11ea-95cf-5cd0a754bcb0.png)

**Expected behaviour**
Suggest shifting so it is left aligned which is what most other pages are showing at the moment
![image](https://user-imag

[2020-05-20 09:40] damithc commented on #10087
The second screenshot doesn't seem to be left-aligned enough. There's still some center-aligning going on.

[2020-05-20 09:48] t-cheepeng commented on #10087
updated with a better screenshot

[2020-05-20 10:16] ccyccyccy opened #10088 "Instructor search page no result notification"
- **Environment**:  `master` branch

**Steps to reproduce**

Search for non-existent student using the instructor's search.

**Expected behaviour**

A banner that says "no result found" appears. This works for the admin search page.

![image](https://user-images.githubusercontent.com/32454748/82434535-8cd18e80-9ac5-11ea-8c43-5b0c449f5ea7.png)

**Actual behaviour**

Nothing happens if there's no re

[2020-05-20 15:54] #10085 closed

[2020-05-21 06:51] #10084 closed

[2020-05-21 13:25] #10087 closed

[2020-05-21 15:43] #10088 closed

[2020-05-22 00:19] R4nKF1v3 commented on #10065
Hi, i'd like to tackle this issue

[2020-05-22 01:13] #10010 closed

[2020-05-22 13:39] Aliki-Ntouzgou opened #10096 "Add "Sort by" for unregistered students and "Remind students to join" option in the Instructor-Courses-Page"
- **Environment**: Instructor-Courses-Page

**Description of feature/enhancement**
So, I was thinking about adding one more "Sort by", where the instructor can sort his courses by the  number of unregistered students of each course and then give him the option to remind them to join via email directly. I am thinking about two possible ways to remind the students: 1)add a "Remind students to join"

[2020-05-22 14:20] damithc commented on #10096
Thanks for the suggestion @Aliki-Ntouzgou
Indeed it can be useful in cases where an instructor is handling many courses. However, based on our experience, that is a rare case. Most teachers teach 1-2 courses at any time. Furthermore, 'registering' is optional and almost no instructor requires students to register in a course. Instead, students submit responses using the submission links sent by TE

[2020-05-22 15:55] Aliki-Ntouzgou commented on #10096
I completely understand, thank you for your time!

[2020-05-22 18:01] Aliki-Ntouzgou commented on #10096
I completely understand, thank you for your time!

[2020-05-23 01:22] #9989 closed

[2020-05-23 04:09] #10079 closed

[2020-05-23 05:24] #10065 closed

[2020-05-24 02:10] pablo-arroyo commented on #10081
I see there's a PR for this issue, however seeing the commit it only changes the session part, I believe the update needs to be done on all sections, I'd like to work on this as a first timer, please let me know if it's available or if the person who submitted the PR will need to do the respective changes

[2020-05-24 03:05] pablo-arroyo commented on #10042
Hi all, first timer here,

It seems the individual question components is still left to do,

I'd love to try to contribute on fixing this, here's a screenshot of what I believe I'd be working on :)

(I just did a pull on master and it seems this is the most recent version)

<img width="488" alt="image" src="https://user-images.githubusercontent.com/65744119/82744674-fc9b7f80-9d38-11ea-99de-eb6c260

[2020-05-24 03:33] madanalogy commented on #10042
I don't think anyone's working on it right now, feel free to take a shot at it, let us know if you need any help yea :)

[2020-05-24 04:47] xpdavid opened #10101 "Make status message over comment modal"
- **Environment**: master

**Steps to reproduce**
- Go to instructor result page per question view
- Open comment modal
- Click 'Add'

**Expected behaviour**
Error status message should be over the modal.

**Actual behaviour**
![image](https://user-images.githubusercontent.com/13977235/82745921-a92c3000-9d3e-11ea-93c2-fe33a4034662.png)

**Additional info**
Hint: Should be a simple CSS fix.

[2020-05-24 05:00] xpdavid opened #10102 "Add participant comment for student result page"
V6 screenshot:
![image](https://user-images.githubusercontent.com/13977235/82746040-260bd980-9d40-11ea-83b8-ed52f0755ac5.png)

This apply to all `responsesToSelf`, `responsesFromSelf`, and `otherResponses` in the student result page.

Hint:
- There are already examples in instructor result view.
- You shall use `CommentRowComponent`
- You only need to change `StudentViewResponsesComponent`

[2020-05-24 05:11] xpdavid opened #10103 "Add Remind All button for "Participants who have not responded to any question" tab"
V6 screenshot:
![image](https://user-images.githubusercontent.com/13977235/82746128-235db400-9d41-11ea-9553-c67fdf60127e.png)

This will pop-up:
![image](https://user-images.githubusercontent.com/13977235/82746162-9830ee00-9d41-11ea-81ed-e76165bbd53f.png)

Hint:
- You need to reuse the component `SendRemindersToStudentModalComponent`
- You need to interact with the endpoint `RemindFeedbackSessionS

[2020-05-24 05:21] xpdavid opened #10104 "Append team name after participants' name for GRQ/RGQ view"
V6 screenshot:

![image](https://user-images.githubusercontent.com/13977235/82746307-1c37a580-9d43-11ea-9030-201a4e721053.png)

V7 screenshot:
![image](https://user-images.githubusercontent.com/13977235/82746313-28236780-9d43-11ea-96c8-ab6cf5db68c8.png)

Hint:
- You will need to change `GroupedResponsesComponent` and `GrqRgqViewResponsesComponent`
- A possible implementation is to create a map fro

[2020-05-24 05:32] xpdavid opened #10105 ""Expand all" does not expand all tabs for some result views when clicked"
- **Environment**: master

**Steps to reproduce**
- Go to instructor result page
- Select a view except "per question view".
- Click expand all

This is the same for all views except per question view.

**Expected behaviour**

All tabs should be expanded

**Actual behaviour**

![image](https://user-images.githubusercontent.com/13977235/82746424-55244a00-9d44-11ea-9269-11ab7dbfe87c.png)

**Addition

[2020-05-24 10:32] Derek-Hardy commented on #10103
I would like to work on this issue

[2020-05-24 22:19] xpdavid opened #10107 "Append email after participants' name for GRQ/RGQ/GQR/RQG view"
V6 screenshot:
![image](https://user-images.githubusercontent.com/13977235/82766117-2607ea00-9dd1-11ea-9c6c-cdf3e1f42d89.png)

V7 screenshot:
![image](https://user-images.githubusercontent.com/13977235/82766128-43d54f00-9dd1-11ea-9cf9-05e9546b6181.png)

However, one should note that the email will **only** be shown if the giver name is visible. For example:

![image](https://user-images.githubuser

[2020-05-24 22:31] xpdavid opened #10108 "Show profile picture popover in instructor result page"
V6 screenshot:
Per question:
![image](https://user-images.githubusercontent.com/13977235/82766270-821f3e00-9dd2-11ea-9941-2681c2fca440.png)

Other views
![image](https://user-images.githubusercontent.com/13977235/82766280-94997780-9dd2-11ea-9548-5a477aaac747.png)
![image](https://user-images.githubusercontent.com/13977235/82766285-ae3abf00-9dd2-11ea-9683-f4b304a7b732.png)

However, we shall not sh

[2020-05-24 22:57] xpdavid opened #10109 "Add all responses for the student in student all records page"
V6 screenshot:

![image](https://user-images.githubusercontent.com/13977235/82766514-ac71fb00-9dd4-11ea-8b20-cbd6395b1039.png)

![image](https://user-images.githubusercontent.com/13977235/82766511-a67c1a00-9dd4-11ea-9870-8c91c61007ab.png)

![image](https://user-images.githubusercontent.com/13977235/82766507-9b28ee80-9dd4-11ea-9b74-36d4bea9b244.png)

For each session tab, we shall show all response

[2020-05-24 23:14] xpdavid opened #10110 "Hide certain fields in CommentOutput for participant comments"
- **Environment**: master

**Steps to reproduce**
- Set a MCQ/MSQ question to only show responses.
![image](https://user-images.githubusercontent.com/13977235/82766954-3b344700-9dd8-11ea-9961-83027f02d070.png)
- Fill in dummy responses **with participant comment** as a student **using a different account**.
(The above steps can be also replaced with: Setting an everyone-can-view question -> modera

[2020-05-24 23:40] xpdavid commented on #10109
#9797 might be a bit of help :)

[2020-05-24 23:44] wkurniawan07 opened #10111 "Fix flaky tests"
Currently these two takes are flaky:
- `ActionFactoryTest`: Due to hardcoded `Backdoor-Key` value, the test will fail for anyone who modified the said config value.
- `SessionLinksRecoveryActionTest`: Due to the captcha key being dependent on the config value. Need to hard-code to `null` so that at this level the captcha will always be bypassed.

[2020-05-25 05:13] #10111 closed

[2020-05-25 06:20] jtankw3 opened #10114 "Fix UI of disabled delete button in instructor courses page"
**Environment**: `master` branch at commit 74777e453f1453bd34c577bac50d7f19c9cd7315

**Steps to reproduce**
1. Create course with instructor without modifying rights
2. Click Other Actions button

**Expected behaviour**
Disabled delete button is displayed properly

**Actual behaviour**
Button is off centered and styling does not convey disabled

**Additional info**
![disabled-delete](https://user-

[2020-05-26 04:13] #10114 closed

[2020-05-26 06:08] #10105 closed

[2020-05-26 11:24] #10104 closed

[2020-05-26 16:29] Nimisha94 commented on #10101
Hello, I can take this up!

[2020-05-27 01:45] madanalogy commented on #10109
Just to check, isn't #9798 already addressing this issue?

[2020-05-27 04:30] xpdavid opened #10122 "Make relatedGiverEmail optional and fill it only if response giver is visible"
The `relatedGiverEmail` is used for `Moderate Response` button, which takes us to the proper giver submission page.

For anonymous response, we shall not show `Moderate Response` button in the first place. In addition, the `relatedGiverEmail` also should be `null` in this case.

This will also solve the TODO: https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/ui/webapi/outp

[2020-05-27 04:36] xpdavid opened #10123 "Do not apply removeAnonymousHash method for instructor result page"
Due to #6092, we remove the anonymous hash for student page.

However, the operation should not be applied to instructor result page. The current implementation logic requires giver/recipient name to be unique for the views to function correctly.

https://github.com/TEAMMATES/teammates/blob/0e168752753ffdd1f1a85e71c15878edb5ae9a1d/src/main/java/teammates/ui/webapi/output/SessionResultsData.java#L1

[2020-05-27 04:42] #10107 closed

[2020-05-27 09:36] ccyccyccy commented on #10123
Can I have some clarifications? What does "current implementation logic" refer to? Frontend or backend?

[2020-05-27 14:06] #9604 closed

[2020-05-27 19:08] xpdavid commented on #10123
Both the frontend and the backend.

[2020-05-27 19:16] xpdavid opened #10124 "Add instructor comment for student result page"
V6 screenshot:

![image](https://user-images.githubusercontent.com/13977235/83062413-6eaee580-a013-11ea-984b-4e6fb2c1ebba.png)

This apply to all `responsesToSelf`, `responsesFromSelf`, and `otherResponses` in the student result page.

Hint:
- Try use `CommentTableComponent` to display a list of comments. There is an example usage in the code base.
- You need to add some fields to disable the edit

[2020-05-28 01:26] #10103 closed

[2020-05-28 01:56] #10110 closed

[2020-05-28 05:06] Derek-Hardy commented on #10081
The snapshot in the issue is only an illustration of the problem.

Font size should be updated across the `instructor-help-page` for obvious consistency.

[2020-05-28 05:14] amrut-prabhu opened #10126 "Update session links after regenerating student's key"
In #9610, the links of sessions that are not open or published are not updated with the new key. Only open sessions are updated.

https://github.com/TEAMMATES/teammates/blob/b1f749d1ee5d3dc5e0d9874737e39a895c6e494b/src/web/app/pages-admin/admin-search-page/admin-search-page.component.ts#L154-L156

[2020-05-28 06:07] #10102 closed

[2020-05-28 15:59] adi282123 opened #10132 "Can't run back-end server ( com.google.cloud.tools.appengine.AppEngineException )"
- **Operating System:** Windows
- **JDK Version:**1.8
- **Node.js Version:** 14.3.0
- **Google Cloud SDK Version:** 294.0.0

Hello! I am new here. I have a problem with starting the back-end server.
I set up the project according to the documentation.

It is my exception:

ver:main: Started).*'

This exception shows when I use `./gradlew appengineStart` command.

At the beginning, I was trying wit

[2020-05-29 01:12] #10123 closed

[2020-05-29 04:04] #9797 closed

[2020-05-29 04:05] madanalogy opened #10134 "Resolve nested subscription antipattern in instructor student records page"
The method `loadStudentResults()` in [`instructor-student-records-page.component.ts`](https://github.com/TEAMMATES/teammates/blob/master/src/web/app/pages-instructor/instructor-student-records-page/instructor-student-records-page.component.ts) utilises nested subscriptions to retrieve `feedbackSession` results. Though functional, this approach is not recommended. Relevant resources to learn more a

[2020-05-29 05:52] #10122 closed

[2020-05-29 08:39] #10108 closed

[2020-05-29 11:59] #10126 closed

[2020-05-30 01:37] madanalogy commented on #10109
Currently the comments on the student results are read-only, they need to be the same as v6 and support CRUD operations

[2020-05-31 05:40] xpdavid opened #10140 "Add comment search functionality in instructor search page."
V6 screenshot:
![image](https://user-images.githubusercontent.com/13977235/83345212-56fe8800-a2c5-11ea-8f69-7bb4c2bab278.png)

Suggestion for implementation:
- Start from `SearchStudentsAndFeedbackSessionDataAction`: You shall only care about searching for comment now as we already have an endpoint for student.
    - Rename endpoint URL as necessary
    - Rename action as necessary
- Define a new

[2020-05-31 08:27] #10124 closed

[2020-05-31 10:17] wkurniawan07 commented on #10132
@adi282123 can you check if adding this line [here](https://github.com/TEAMMATES/teammates/blob/c2ce258fd591f3c983627cecc98b7f71426c315a/build.gradle#L260-L261) helps:
[code]

Using Java that is not 8 is not expected to work. Gradle version should not be relevant since we're using wrapper here.

[2020-05-31 17:06] xpdavid opened #10141 "Extract common section filtering code in the frontend"
The code has been duplicated in three places:

https://github.com/TEAMMATES/teammates/blob/c2ce258fd591f3c983627cecc98b7f71426c315a/src/web/app/components/question-responses/per-question-view-responses/per-question-view-responses.component.ts#L83-L101

https://github.com/TEAMMATES/teammates/blob/c2ce258fd591f3c983627cecc98b7f71426c315a/src/web/app/components/question-responses/gqr-rqg-view-respons

[2020-06-01 03:01] xpdavid opened #10143 "Result Page: Profile photo is shown when giverEmail/recipientEmail is undefined"
- **Environment**: master

Here is a typical case here:

**Steps to reproduce**
- Create some dummy anonymous feedbacks (i.e., don't show giver name)
- Trying to hover the  name

**Expected behaviour**
The popover profile photo should not be shown

**Actual behaviour**
![image](https://user-images.githubusercontent.com/13977235/83371464-60e0c380-a377-11ea-80f8-e2a11ed3176c.png)

**Additional info*

[2020-06-01 03:24] xpdavid opened #10144 "Fill the rest of example boxes in help page"
As we have almost all Angular components available, one could add them in the help page with dummy data and complete the migration for it.

The only example box that cannot be migrated is related to #10140, we will wait for the task to be done. We could also do it together with the PR to #10140.

[2020-06-01 03:28] #10109 closed

[2020-06-01 07:05] xpdavid opened #10146 "Result Page: Add indicates missing response features"
![image](https://user-images.githubusercontent.com/13977235/83383994-2852e100-a39b-11ea-9ced-2935ce4bc521.png)

The task has been divided into two phases:

- **(1)** Due the legacy complicated implementation of fetching session result bundle, the backend logic need to refactored and clean to suit V7. In V7, the backend should not care about data presentation and therefore we can write a much clean

[2020-06-01 13:42] #9382 closed

[2020-06-01 14:16] wkurniawan07 commented on #9481
[V7.0.0-beta.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.0.0-beta.0) has been released by @wkurniawan07 at June 1st, 2020, 10.14pm SGT.

No post-release check/deployment is necessary; the release issue will be closed right away. Thanks for everyone who has contributed to this release 💯

[2020-06-01 14:16] #9481 closed

[2020-06-02 01:09] #10101 closed

[2020-06-02 02:00] #10134 closed

[2020-06-02 02:41] #10141 closed

[2020-06-02 06:57] ccyccyccy opened #10152 "Moment timezone data not loaded"
- **Environment**:  `master` branch

**Steps to reproduce**

1. Go to any instructor student record page with instructor comments on their feedback.
2. Expand the feedback

**Expected behaviour**

No error.

**Actual behaviour**

Error appearing in the console.

<img width="1787" alt="image" src="https://user-images.githubusercontent.com/32454748/83489371-e0d66d00-a4e0-11ea-956b-84a4ed01573f.png">

[2020-06-02 07:24] xpdavid commented on #10152
We need to load the moment timezone database.

Previously we do this by using hack (1. inject timezone service, 2. call dummy method). Maybe it is time to standardize this.

[2020-06-02 07:37] ccyccyccy commented on #10152
From their [documentation](https://momentjs.com/timezone/docs/#/use-it/node-js/), it seems that the data is already loaded. So I think we don't need that hack anymore?

[2020-06-02 07:39] xpdavid commented on #10152
Nope. The time zone data not ship with the package (we choose not to do so) and is stored in `timezone.json`. Thus it need to be programmatically loaded.

[2020-06-02 09:06] ccyccyccy commented on #10152
What is the reasoning for not loading the time zone data when importing the package?

[2020-06-02 10:02] ccyccyccy opened #10153 "Result Page: Collapsable box UI issues"
**In general**

The clickable parts of the boxes should change the cursor to a pointer when hovered over. This is a common issue at many places, e.g. `instructor-student-list-page`, `instructor-student-records-page`, and `instructor-session-result-page` as well.

**Instructor session result page**

1. When grouped by questions, clicking on the text does not collapse the box. However, clicking on t

[2020-06-02 16:42] wkurniawan07 commented on #10152
We want full control of what time zone setting is used in both back-end and front-end (e.g. right now we are using `2019c`; it is outdated, but it's another story). Coupling the information to the library takes away that from us.

[2020-06-02 18:11] Adrian27045 commented on #10153
Hello, I can take this up!

[2020-06-02 18:37] xpdavid opened #10155 "Add sort function for question stats"
This is an epic issue and can be solved by multiple PR.

Rank options:
![image](https://user-images.githubusercontent.com/13977235/83555790-ae6a4700-a4c3-11ea-8ac1-b02f4c6d6a3a.png)
![image](https://user-images.githubusercontent.com/13977235/83555766-a14d5800-a4c3-11ea-9618-8fe54a9330ce.png)

Rank recipients:
![image](https://user-images.githubusercontent.com/13977235/83555876-d48fe700-a4c3-11ea-9

[2020-06-02 23:12] xpdavid opened #10156 "Move CSV generation to frontend"
V7 introduces a total separation of data and data presentation. We can view it as: The backend provides data and the data will (and should) be presented in two ways:
- Web page by Angular
- CSV for downloading

Currently, the CSV generation is done in the backend. It is the wrong place to do that as the backend should not care about data presentation.

Thus, we shall move it to the frontend. This

[2020-06-03 04:11] ccyccyccy commented on #10153
Sure go ahead. Let us know if you need any help :)

[2020-06-03 04:58] Derek-Hardy commented on #10144
**Completed**:
- :white_check_mark: create a comment for a response (session section)

**Ongoing**:
- :construction: numerical question stats (question section)
- :construction: distribute point among options stats (question section)

**What's still left**:
- group-by, show/hide stats, view missing response and filter (**session section**)
- result sorted by GRQ (**session section**)
- student vie

[2020-06-03 05:16] ccyccyccy commented on #10144
Will work on:

- group-by, show/hide stats, view missing response and filter (session section)
- result sorted by GRQ (session section)
- student view of session's result (session section)

[2020-06-03 05:54] Derek-Hardy commented on #10155
I will be working on **Numerical Scale** response summary.

[2020-06-03 07:45] Adrian27045 commented on #10153
I have a question about it: `When grouped by questions, clicking on the text does not collapse the box. However, clicking on the text collapses the box when grouped in any other way.`

The box should collapse when a user clicks text?

[2020-06-03 09:14] ccyccyccy commented on #10153
The `other way` means other grouping like `Group by - Giver > Recipient > Question`. There's more options in the dropdown menu:

<img width="646" alt="image" src="https://user-images.githubusercontent.com/32454748/83618539-29635880-a5bd-11ea-9320-8376b6299731.png">

<br/>

Yes, to make it consistent with the rest of the grouping. However, clicking buttons like the `[more]` button within the box sh

[2020-06-03 09:39] WaterHashira commented on #10081
can i take this issue ??

[2020-06-03 10:01] Derek-Hardy commented on #10081
You are welcome to attempt on fixing this issue @WaterHashira .

However, do note the previous comment and the problem with the open PR so you do not just fix the issue partially.

[2020-06-03 11:31] wkurniawan07 opened #10161 "Instructor help page components: extract data out to dedicated file"
Some instructor help page components, such as `instructor-help-questions-section.component.ts`, `instructor-help-sessions-section.component.ts`, and `instructor-help-students-section.component.ts`, have a lot of data defined in it as field. It works but is not a good practice as it pollutes application code with too much data.

The data should be extracted out into a dedicated `.ts` or `.json` fil

[2020-06-03 14:37] #10143 closed

[2020-06-04 02:10] madanalogy opened #10163 "Scrutinise unit test annotation and execution"
During the development of https://github.com/TEAMMATES/teammates/pull/10150/commits/a57439132b3515e51c953bc044623d5010ec68f7 I noticed that the access control tests were never called because they were not `public`. Fixing the access modifier led to the test case failing (which I then subsequently fixed). I suspect this might be happening on other unit tests and should thus be investigated when pos

[2020-06-04 04:42] xpdavid commented on #10163
We should update the checkstyle rule to disallow the import of `@Test` from Junit. `org.junit.Test`

[2020-06-04 06:09] ccyccyccy commented on #10155
Will work on MCQ response summary.

[2020-06-04 22:40] xpdavid opened #10164 "Result Page: InstructorSessionResultSectionType.GIVER still shows recipient name"
- **Environment**: master

**Steps to reproduce**
- Go to result page for "Session with different question types"
- Select options as below
![image](https://user-images.githubusercontent.com/13977235/83812961-4c4f4480-a671-11ea-8bef-7b86c5c81878.png)
- Click "Tutorial Group 1"

**Expected behaviour**
Only shows giver from Tutorial Group 1

**Actual behaviour**
Participant from Tutorial Group 2 is

[2020-06-05 02:22] #10146 closed

[2020-06-05 07:09] Derek-Hardy commented on #10144
Will handle the rest of question section `example box`

[2020-06-05 09:00] ccyccyccy opened #10168 "Instructor Result Page: Checkbox UI issues"
Checkboxes are not checkable by clicking on their label, which can be done in many other parts of the website.

![bad_label](https://user-images.githubusercontent.com/32454748/83857603-d240bd80-a74d-11ea-9903-a3b0610d871e.gif)

Tooltips are not properly positioned.

<img width="420" alt="bad_tooltip" src="https://user-images.githubusercontent.com/32454748/83857619-d5d44480-a74d-11ea-958c-904750e38

[2020-06-06 01:50] #10140 closed

[2020-06-06 02:39] #10163 closed

[2020-06-06 03:42] #10168 closed

[2020-06-06 08:07] wkurniawan07 opened #10172 "Remove legacy front-end and controller classes"
As of fa429a2, all features of the system have been successfully migrated to the V7 counterpart. That means the legacy front-end and controller classes have outlived their usages as references.

[2020-06-07 02:10] #10172 closed

[2020-06-07 02:12] madanalogy commented on #10144
This is the only one left right?

[2020-06-07 02:29] Derek-Hardy commented on #10144
Yup @madanalogy

[2020-06-07 07:20] madanalogy commented on #10144
I'll take this last box then and close the issue in my PR

[2020-06-07 08:52] markkulube commented on #10155
I will work on Question 10, Constsum (recipients).

[2020-06-07 20:38] adi282123 commented on #10132
It's working

[2020-06-07 20:38] #10132 closed

[2020-06-08 03:18] t-cheepeng commented on #10155
@markkulube Thank you for wanting to contribute to the TEAMMATES project. As this issue is not labelled with `d.*` labels, you should find first timer issues which have the label `d.FirstTimers` to start contributing

[2020-06-08 03:33] ccyccyccy commented on #10155
Will do `rank options`, `rank recipients` and `rubric`

[2020-06-08 03:56] markkulube commented on #10155
@t-cheepeng Yes, I was on phase C of the Contributing Guide and so searched for d.* issues. However the 3 d.FirstTimers issues seem to be already resolved or in the process of being resolved based on the respective comment threads.

Since it seems there are no unresolved d.FirstTimers issues I was brought here by the Contributing Guide, phase C recommends:
"In the event that you cannot find a d.Fi

[2020-06-08 04:08] t-cheepeng commented on #10155
@markkulube You can take a look at #10042. There are still some pages that are not very mobile friendly. You can go through the application and find out which pages are not mobile optimized. After which, you can comment on the issue on which pages you are working on. A good place to start would be the session submission page which has not seen much progress for the past few weeks

[2020-06-08 04:33] markkulube commented on #10155
@t-cheepeng okay, thanks I will do that!

[2020-06-08 04:47] t-cheepeng opened #10176 "User Acceptance Testing Round 1"
Listed below are pages that needs to be rigorously tested from an end user POV. It is split by the different users of the system and their respective pages ~on the top nav bar~.

1. Student
   - Home ✅
   - Profile ✅
   - Help ✅
   - View Team  ✅
   - Submission (after login) 🚧
   - Submission (not logged in, using regkey) 🚧
   - Session View Results 🚧
   - Join Course
2. Instructor
   - Home✅

[2020-06-08 05:19] #10144 closed

[2020-06-08 07:37] ccyccyccy commented on #10176
Testing Instructor Sessions Add/Edit/Delete

[2020-06-08 08:43] ccyccyccy commented on #10176
@xpdavid @wkurniawan07 Is this thread for bug reports and missing features, or UI/UX issues as well?

[2020-06-08 09:33] t-cheepeng commented on #10176
Testing Instructor: Courses page

[2020-06-08 15:48] rushilp2311 commented on #10081
Hi I am new to open source. Any suggestions on how do i start.
The docs says to start with the d.firstcomers

[2020-06-09 02:54] t-cheepeng commented on #10081
@rushilp2311 Thank you contributing to the TEAMMATES project. Might i suggest you to take a look at #10042 and go through the application to see which pages you can optimize for mobile views. You are also welcome to make a new PR. In the future, please do comment on the issue that you are trying to solve/work on so that no one is doing double work.

[2020-06-09 06:21] #10164 closed

[2020-06-09 10:37] wkurniawan07 opened #10178 "Update Angular configuration to use different index page"
https://github.com/angular/angular-cli/issues/14599

Due to this, the current configuration of using a different `index.html` no longer works.

[2020-06-09 10:40] ccyccyccy opened #10180 "Implement proper error code response"
**Steps to reproduce**

Go to invalid page, e.g. http://localhost:8080/web/instructor/home/asda

**Expected behaviour**

404 error should be returned

**Actual behaviour**

200 returned

[2020-06-09 10:55] #10178 closed

[2020-06-09 17:39] manzurayusup commented on #10042
Hi,
I see that the Session Submission Page and Individual Question Components are still not resolved. My team and I would like to take on the Submission Page part of the issue, if no one else is working on it. @madanalogy

[2020-06-10 02:05] madanalogy commented on #10042
Yeap go for it. Just some advice, I would recommend you set up the developer environment first and manually navigate to the pages to verify that they are indeed not mobile optimised. You can refer to the screenshot in https://github.com/TEAMMATES/teammates/issues/10042#issuecomment-633171425 as an example. Once you've verified the page/component in question, go ahead and submit a PR fix as per our

[2020-06-10 05:10] t-cheepeng commented on #10155
Will do `constsum (recipients)` and `constsum (options)`

[2020-06-10 05:38] ccyccyccy commented on #10155
Will do the rest (`Contribution` and `MSQ`)

[2020-06-10 11:55] ccyccyccy opened #10182 "Separate value and presentation of sortable table data"
The sortable table data presents the value used to sort the data as is.

However, there may be cases where the raw data used to sort the table is not suitable for presentation.

One such case is `tm-contribution-question-statistics`, where it uses a custom component for its table data view, and the current sortable table is incapable of handling it.

We need to allow the caller to specify the comp

[2020-06-11 14:12] ccyccyccy commented on #10176
# Session add/edit

- Missing from V6
    - Missing common visibility (Essay, MCQ, MSQ, Distribute points (among options), Rank (options) question)
    - Missing common feedback paths (Distribute points (among recipients) question)
    - Remind particular student feature missing
    - Feedback path should be disabled if there is only 1 possible path. E.g. Team contribution question
- MCQ: Trying t

[2020-06-11 14:36] wkurniawan07 opened #10184 "Fix service worker configuration"
The service worker config for Angular changes slightly when upgrading from from 7 -> 8

[2020-06-11 14:48] wkurniawan07 commented on #10176
On instructor help page:

- Finding students > How do I search for students in my course > 2nd and 3rd example boxes > the view/edit/all records buttons are active.
- Managing session responses > How do I view the results of my session > 2nd example box > "Remind all" collapses the modal when clicked. Might be the problem of the actual component also.

[2020-06-11 15:44] #10184 closed

[2020-06-11 15:55] hamza67100 commented on #10180
In which part of the code could I find the management of this problem?

[2020-06-12 01:37] madanalogy commented on #10176
I'll focus on the student submission and result pages

[2020-06-12 02:01] Derek-Hardy commented on #10176
I will start with `Admin` pages.

[2020-06-12 02:21] t-cheepeng commented on #10176
## Landing Page
- Video tour probably has to be updated to reflect new UI in V7
- Dead link under `Well Received by the Academic Community: CSEET`
- Features images has to be updated as well

## Instructor Course Page
- Deleting all students from the course in the view course details page does not refresh the table but the number in the top info box changes. Same goes for deleting a single student

[2020-06-12 02:47] t-cheepeng commented on #10180
@hamza67100 Thank you for wanting to contribute to the TEAMMATES project. It seems like this is your first time contributing to the project. Might I suggest you to look at #10042 or #10081 as first timer issue to work on

[2020-06-12 03:58] Derek-Hardy commented on #10176
### Admin Home Page:
* Add instructor action is a 2-step workflow (stage, add) in v7. All buttons are named similar as "Add Instructor", which might confuse user about the workflow.

* After staging the instructor, in Result -> Action, "Add Instructor" and "Cancel" have no separation and are not aligned vertically in length in mobile screen.

* After staging the instructor, in v6, Message has hori

[2020-06-12 08:23] Derek-Hardy commented on #10176
### Instructor Home Page:
* Missing “New to TEAMMATES” welcome tab.

* “students”, “instructors”, “sessions”, “course” buttons in the header have no vertical separation & inconsistent alignment in middle-sized screen.

* Add new course -> missing “Active courses” header, user might not know what is listed under the creation tab.

* Add new course -> input headers in add new course tab is right ali

[2020-06-12 10:28] ccyccyccy opened #10187 "Data fails to load infrequently"
Environment: OSX Firefox

When you go to a page, the data are not loaded. E.g. the sessions page shows no sessions even though there are sessions. Can be fixed with a refresh to the page.

This issue occurs quite rarely and is hard to reproduce. No error is printed to the console.

Affects many pages
- Session page
- Session edit page
- Courses page
- Home page

Needs further investigation.

[2020-06-13 04:11] madanalogy commented on #10176
### Submission (after login)
- Main details displays badly on mobile, might be fixed by ##10186
- V7: Essay submission box does not indicate where the user should click to type input. This is very misleading and might make the student believe there is a problem when there isn't. V6: Essay submission box is clearly defined for the user.
- Multiple choice (single answer & multiple answer) comment pr

[2020-06-14 18:10] wkurniawan07 commented on #10187
https://stackoverflow.com/questions/27740692/request-stalled-for-a-long-time-occasionally-in-chrome

[2020-06-14 18:13] wkurniawan07 commented on #10180
This is not a simple thing to do. `/web/*` as far as the Java servlet is concerned is a valid endpoint and the back-end does not know (nor it should know) the actual web page structure in the front-end.

[2020-06-15 06:15] #10153 closed

[2020-06-15 07:38] #10182 closed

[2020-06-15 09:42] Derek-Hardy opened #10189 "Outdated Performance testing documentation"
Some parts of the document `performance-testing.md`:

- instruction to run performance test locally
- expected output file format

are outdated in the current v7 master branch.

[2020-06-15 11:43] hamza67100 commented on #10081
Hello,
I'm new and I want to learn, I would like to know how can I start this issue and if this issue is already done. Even if it's already done I want to know how this issue was fixed.
Thank you :)

[2020-06-16 01:41] #10189 closed

[2020-06-16 05:18] #10081 closed

[2020-06-16 08:25] Derek-Hardy opened #10193 "Instructor Help Page side-nav bar does not move with scroll"
**Snapshot**

<img width="968" alt="Screenshot 2020-06-16 at 16 14 27" src="https://user-images.githubusercontent.com/32880438/84750020-549e6c80-afed-11ea-8866-182b75fa1983.png">

**Expected behaviour**
1. The side navigation bar helps user jump to target sections. It should be fixed with browser window to assist section navigation at all times.

2. Search bar can be left aligned with its containe

[2020-06-16 21:30] edwardkang0925 commented on #10029
Hello again, can my group try to add this feature?

[2020-06-17 01:02] madanalogy commented on #10029
You're welcome to give it a go, but it is indeed quite complex so do ask for help if/when you get stuck :)

[2020-06-17 01:30] Derek-Hardy opened #10197 "Instructor Help Page button text is centre-aligned"
**Reproduce**
- Log in as instructor, go to Help page.
- set the window size as mobile.
- observe the button with long text

**Expected behaviour**

For the long button text, it should break lines and be left aligned in the mobile screen.

**Actual behaviour**

<img width="367" alt="Screenshot 2020-06-17 at 09 26 01" src="https://user-images.githubusercontent.com/32880438/84844370-c2de4000-b07c-11

[2020-06-17 01:39] #10193 closed

[2020-06-17 08:02] #10155 closed

[2020-06-17 20:56] telvinzhong commented on #10197
I'm happy to work on this! I'm a beginner but have some css experience. Would simply submitting a fixed pull request be enough to solve this issue?

[2020-06-18 02:08] madanalogy commented on #10197
We would ideally also like for you to take a screenshot of your fix for manual verification. This means setting up the development server and navigating to the page where your fix is applied. For more information, you can read our [development guide](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md).

[2020-06-18 04:54] ccyccyccy opened #10202 "Lint warning at npm run lint"
Lint warning shows at `npm run lint`

[code]

Seems to be [this](https://stackoverflow.com/questions/52486786/forkjoin-is-deprecated-resultselector-is-deprecated-pipe-to-map-instead) problem

[2020-06-18 22:22] hamza67100 commented on #10197
Hello can I take this issue ? I'm beginner and want to learn to improve my experience :)

[2020-06-18 22:51] telvinzhong commented on #10197
I'm already working on this issue but if there are any further beginner friendly bugs I can forward them to you if you'd like

[2020-06-18 23:05] hamza67100 commented on #10197
I just finished the issue haha how can I PR ?

[2020-06-19 01:34] madanalogy commented on #10197
@hamza67100 Please note that someone else had already indicated that they were working on the issue. This means that your PR might be put on hold if said person submits their PR before yours is merged.

@telvinzhong I would recommend submitting your PR soon (preferably within the next 24 hours), it will be given priority for consideration as you had indicated that you would be working on the issue

[2020-06-19 04:24] t-cheepeng opened #10212 "Refactor search service's searchInstructor method"
**Details**
Due to the fixing of student tables not responding to changes(#10196) and changing model type for `student-list` component, the `StudentListSectionData` is going to be redundant. Refactor out the search service to use the new `StudentListRowModel` instead

[2020-06-19 08:23] ccyccyccy opened #10213 "UI / UX Improvements"
**Bite-sized, i.e. fixes or combination of fixes that can be done in less than 15 mins each**

1. ~Primary buttons are mostly used. Need to vary the color used. E.g. delete button
should be red.~ Merge to #10243
     1. ~Task:~
          1. ~Scour through the website to find all the different buttons used~
          2. ~Decide the colour of each buttons~
          3. ~Implement them~
2. ~Buttons s

[2020-06-21 16:13] jtankw3 opened #10215 "Redirection error after copying session to other course"
- **Environment**: `master` branch at commit 2b59d7af127ecef89d5f9df82164a5b44ada5095

**Steps to reproduce**
1) Edit feedback session
2) Copy the feedback session to another course

**Expected behaviour**
Page should redirect to the feedback edit page of the copied session in the other course

**Actual behaviour**
Redirection Url has the course id of the original course instead of the course the

[2020-06-22 02:15] xpdavid opened #10219 "Add instructor/participant comment in CSV"
Sub-issue of #10156

This is essentially the `TODO` here:

https://github.com/TEAMMATES/teammates/blob/ae4a72e38b69a6769b57bfe6a2d9957d2c48cc58/src/web/services/session-result-csv.service.ts#L102-L140

One can get some hints on the Java code:

- add header

https://github.com/TEAMMATES/teammates/blob/2ebfaf2043e393b879e86021edd3b0f2ff5d7e44/src/main/java/teammates/logic/core/FeedbackSessionsLogic.

[2020-06-22 02:27] xpdavid opened #10220 "Migrate student list CSV to frontend"
Sub-issue of #10156

**You should make changes against `csv-migration` branch and send PR against it**

In V6 we generate the CSV in the backend as `GetStudentsAsCsvAction`.

Now, since we have RESTFul endpoint called `GetStudentsAction`, we can fetch students as JSON array and generate the CSV in the frontend.

Hints:
- You will need to write code in `student.service.ts` (Free feel to create anot

[2020-06-22 02:47] #10197 closed

[2020-06-22 03:21] Derek-Hardy opened #10221 "Load & Performance Testing POC"
## LNP Testing Progress

### Backend

1. Data cleaning, refactor & standardise LNP code
    - Variable naming styles are inconsistent across LNP test cases
    - Many hard-codings in the **old test cases** which can be extracted as reusable class variables:
[code]

2. Implement LNP tests to cover computation-heavy API [ongoing, see below]
    - May not need all of them as some of them share a grea

[2020-06-22 03:44] damithc commented on #10029
Sorry to chime in late on this. I missed this earlier. Adding a single student from one course to another is a very rare case and doesn't help in saving any time for the instructor because the remaining students need to be added to the course the normal way (might as well add all of them the normal way). I don't think this feature is worth supporting.

[2020-06-22 12:43] madanalogy commented on #10029
See https://github.com/TEAMMATES/teammates/pull/10217#issuecomment-647494793

[2020-06-22 12:43] #10029 closed

[2020-06-23 01:04] #10215 closed

[2020-06-24 03:59] Derek-Hardy commented on #10221
## Update on Gatling Load Testing

### 1. What will be updated

**Added project dependency**: [Gradle plugin for Gatling](https://plugins.gradle.org/plugin/com.github.lkishalmi.gatling)

**Added folder**:
`src/gatling/resources` — input data that associate with test
`src/gatling/simulations` — test case simulation .scala file

**Added test command**:  `./gradlew gatlingRun`

### 2. Gatling workflo

[2020-06-25 06:47] t-cheepeng opened #10233 "Compact UI in V7"
Everything feels less compact in V7 as compared to V6
- E.g., for the same question in instructor question edit, V6 can show majority of the information, while V7 requires a lot of scrolling.

Find a way to achieve balance. Combination of many factors
- Font size
- Margin / Padding
- Button Size

**TODO**
- Look for global styles that can be altered to compact the pages
- Visit all pages and compa

[2020-06-25 07:08] madanalogy commented on #10219
Resolved by #10229

[2020-06-25 14:14] hamza67100 commented on #10015
Hello, this issue is already fixed or can I work on it ?

[2020-06-25 14:42] AdamPanag commented on #10015
Hello, check this pr first #10030. You can try to sort students when the page is loaded or add the search bar. Or both of them :)

[2020-06-25 18:09] wkurniawan07 opened #10238 "Update third-party dependencies and timezone database"
It is time to update our tech stack again.

There will be 3 parts to this:
- Update back-end tech stack
- Update front-end tech stack, which will include Angular 8 -> 9
- Update timezone DB to 2020a (latest at the point of writing)

[2020-06-25 20:39] edwardkang0925 commented on #10212
Hi,
My partner and I would like to work on this issue if possible.

[2020-06-26 06:16] damithc opened #10243 "Standardize the use of styles in V7"
In general, we should use a neutral color scheme across the site to cover most of the UI (e.g., black/grey or the light blue as we did in V6) and use built in color schemes (i.e., primary, info, warning, danger) to give subtle hints only when necessary. e.g., use 'danger' style only when indicating a dangerous action and use the 'warning' style only when warning the user about something. Indiscrim

[2020-06-26 11:28] wkurniawan07 commented on #10176
Marking as done. Kudos to everyone involved.

[2020-06-26 11:28] #10176 closed

[2020-06-26 11:29] wkurniawan07 opened #10245 "User Acceptance Testing Round 2"
This is the continuation of #10176

Leftover issues from previous round:
- Session edit page: Rich text editor behaving weirdly 🚧 (@wkurniawan07)
  - Sometimes it flies to the top left corner of the screen. Refer to #9665.
- Rich text editor does not indicate where the user should click to type input. Refer to #9705. 🚧 (@wkurniawan07)
- ~Instructor results page: Click question number should downlo

[2020-06-27 23:27] #10152 closed

[2020-06-28 04:04] manzurayusup commented on #10161
@wkurniawan07 Hello, can my team work on this issue?

[2020-06-28 04:52] wkurniawan07 commented on #10161
@manzurayusup you're welcome to.

[2020-06-28 07:01] #10238 closed

[2020-06-28 07:37] madanalogy commented on #10220
Resolved with #10235

[2020-06-28 07:37] #10220 closed

[2020-06-29 04:05] t-cheepeng commented on #10212
@edwardkang0925 Hi, your team is welcomed to work on this issue. Do seek help if you run into any issues

[2020-06-29 07:22] #9993 closed

[2020-06-30 00:28] wkurniawan07 commented on #10202
Fixed in #10247.

[2020-06-30 00:28] #10202 closed

[2020-06-30 00:37] #10156 closed

[2020-06-30 03:03] madanalogy commented on #10213
Regarding input validation at point 9, we have an issue open tracking the implementation and development of this in #9419. There's only those few forms left honestly (unless I missed something), and I still stand by my opinion in https://github.com/TEAMMATES/teammates/pull/10049#issuecomment-627767630 that it would benefit the user experience in filling out the forms. Furthermore, I realise now th

[2020-06-30 03:20] damithc commented on #10213
Indeed there are benefits of front-end validation. Right now our primary concern is optimizing development effort. I suggest we postpone it because it increases the development effort and not essential for V7. Those are incremental improvements we can do after V7 has been released.

[2020-06-30 09:32] madanalogy opened #10263 "API Endpoint Access Control Review"
Review all api endpoints and generated actions for appropriate access control measures and ensure that they are all covered by the corresponding unit test. Special focus on publicly accessible endpoints as follows:

Public GET Endpoints:
- /auth
- /auth/regkey
- /nationalities
- /student
- /instructor
- /session
- /result
- /questions
- /question/recipients
- /responses
- /responsecomment

Public

[2020-06-30 09:37] madanalogy opened #10264 "API Output Data Privacy Review"
Anonymize/Encrypt/Omit the following fields from API Output whenever applicable and where applicable ensure that the process is covered by unit tests:
- Feedback response ID
- Feedback question ID, if necessary
- Response comment ID, if necessary
- User email/name/Google ID, if anonymity is required
- Feedback session grace period (e.g. students should not know the grace period of any feedback ses

[2020-06-30 09:44] madanalogy opened #10265 "Explore Automated Vulnerability Assessment"
Utilise automated vulnerability assessment tools to assess TEAMMATES from an independent third party black-box perspective. Top contender for the utilisation of a tool to run on a regular basis is the [ZAP Baseline Scan](https://github.com/marketplace/actions/owasp-zap-baseline-scan). More research needs to be done on how the production server can be simulated cost effectively for the automation t

[2020-06-30 17:05] xpdavid commented on #10263
Another important point is to review the fields in the API response. This might be more business-requirement involved. Feel free to raise question if in doubt.

For example, when instructors try to get the students in a course. He should not know the `googleId` of the each student (while this seems to be true now so we should fix that)

[2020-06-30 17:45] wkurniawan07 commented on #10263
This is covered under #10264.

[2020-07-01 13:55] #10263 closed

[2020-07-01 16:49] nodermatt commented on #9540
This discussion has been stale for over a year. @pbrahmbhatt3 have you got other ideas on how to improve the dev environment setup doc? Otherwise, this issue can be closed IMHO.

[2020-07-02 08:30] nodermatt commented on #2874
Is this still relevant? I would be willing to take the time to extend the instructor help page to display the moderate and remind feature.

I was thinking of adding a screenshot for both features as they include multiple steps that would be cumbersome to mock compared to the question examples.

[2020-07-02 09:28] nodermatt commented on #10042
I would pick the last remaining two components MCQ Single Answer Question and Rank Options Question if no one else is already working on them.

[2020-07-02 09:29] damithc commented on #2874
Need to check the current state of the help page to see if these two things are mentioned there.

We try to avoid screenshots as they get outdated quickly. In lieu of a screenshot, perhaps we can just mock the relevant button so that it is easy for the reader to locate the said button by eyeballing the page? e.g.,

[2020-07-02 09:30] nodermatt commented on #9495
I saw that there had been a lot of discussion in the PR for this issue but no more mentioning of the cancel button for the instructor course edit page. Should I submit a separate PR for that work?

[2020-07-02 09:37] nodermatt commented on #2874
@damithc Thanks for the quick response! As far as I can tell (on the master branch), there is no mentioning of the said features on the instructor help page. If it is still intended to add mentioning of the features there I will work on it.

Good point, screenshots do out-date and cause confusion instead of help. I will draft somethings based on your suggestion.

[2020-07-02 09:46] damithc commented on #2874
@nodermatt If it is not mentioned in the help pages (check thoroughly), you can go ahead with adding it.

[2020-07-02 10:41] madanalogy commented on #9495
This issue is for the editing of a session. Editing a course already has a cancel button. That being said, the PR submitted for this issue appears to have gone stale, you're welcome to continue where the previous author left off.

[2020-07-02 10:46] t-cheepeng commented on #10213
For item number 6. the different error pages that are shown in the app are:

1. You are not authorized to view this page (Has error form in V6)
2. The page you are looking for is not there  (Has error form in V6)
3. Ooops! Your google account is not known to TEAMMATES (Does not have error form in V6)
4. Invalid course join link (No counterpart exists in V6)

Do we follow V6 and only have the error

[2020-07-02 10:53] nodermatt opened #10272 "Clear Objectify DB"
Help Request: Clear objectify db of entries

- **Commit SHA: a26255521fecddcfa1e14df261ccd576a56dac23
- **Operating System: Windows 10
- **JDK Version: 1.8.0_251
- **Node.js Version: v12.16.1
- **Google Cloud SDK Version: not found

**What I was trying to do / What I need help with**
I am trying to clear the teammates db of all entries as I somehow created a corrupt entry. This prevents me from ad

[2020-07-02 11:03] madanalogy commented on #10272
If you just want to reset the db, you can delete the `local_db.bin` file in the folder `appengine-generated` which is created in the root of your teammates project folder when you run the appengine dev server.

[2020-07-02 12:48] damithc commented on #10213
The general rule:
If using the form, the log message saved (which is then emailed to me) should contain enough information for me to take an action. For example, I should be able to email the person back. If it is not possible to know the contact details of the person trying to access, either we have to collect that info using the form or else ask the user to email us instead of using the form.

I

[2020-07-02 14:12] hamza67100 commented on #10015
Ok nice I'll try to make the search bar and if it was enough esay to make the sort when the page is loaded :)

[2020-07-03 00:38] wkurniawan07 commented on #10272
While what @madanalogy said is true, the error message said: "Error: invalid entity type" and it does not sound like something that is caused by broken DB. @nodermatt can you paste the invite link you're using here?

[2020-07-03 02:33] #10233 closed

[2020-07-03 05:06] wkurniawan07 commented on #10213
Looks like I need to give more context about how the new error page (if it can still be called a "page") works.

In V6, the architecture is 100% server-side rendering (SSR) with occasional AJAX request in many parts. That means, any request for new page will be served entirely by the back-end. If any error is encountered during such processing, the server will redirect to pre-defined error pages,

[2020-07-03 05:17] damithc commented on #10213
Understood. Can all these cases be divided into two categories like this?
* User contact details known (e.g., user followed a legit session link in an earlier step)
* User contact details unknown (e.g., clicked on an a link of a deleted course)

If the answer is yes, the first category can be shown the feedback form (for serious errors) and the second category can be asked to email us directly or

[2020-07-03 05:44] wkurniawan07 commented on #10213
No. It's not that simple. Take, for example, the instructor home page (user contact details known). These are the AJAX requests happening after the initial page load:
- Load the courses belonging to the instructor
- Load the sessions of each course
- Load the instructor privileges for each course (to know what kind of actions the instructor can do for each course)

The first one, as it happens onl

[2020-07-03 06:06] damithc commented on #10213
Understood. For each case, also factor in if the contact details are known or not and tweak the response accordingly.  If not known, and if appropriate (case by case basis), either collect that info from the user or ask the user to email us directly. I just want to avoid the case where the user thinks she reported the error and waits for a fix but I have no way to reach the user.

[2020-07-03 09:33] nodermatt commented on #10272
@madanalogy Thanks for the hint. I found the file and could start fresh by deleting it.
@wkurniawan07 I am sorry I didn't see your message in time. I have already deleted the database and can't reproduce the error now. When I use one the previous invite links, I do get the error message "No student with given registration key" which is expected as this particular student doesn't exist anymore
e.g

[2020-07-03 09:53] wkurniawan07 commented on #10272
That link shouldn't produce the error message "Error: invalid entity type" even before your DB got corrupted (if it ever was). I suspect you copied the link wrongly and left out the `entitytype` at the end, that's the only way to trigger the error you have seen before.

[2020-07-04 19:08] manzurayusup commented on #10213
Can I take on 10 (Instructor edit question page) part (i)?

[2020-07-04 20:36] edwardkang0925 commented on #10212
@t-cheepeng  Thank you so much for offering help.
Actually, I have a couple of questions to ask so that I am not doing what I am not supposed to do for this issue.

My original approach was to replace every SearchStudentsTable with SearchStudentsListRowTable because SearchStudentsTable includes StudentListSectionData.
In order to do so, I changed InstructorSearchResult to have the SearchStudentsLi

[2020-07-05 12:39] damithc opened #10278 "Update supported browsers"
![image](https://user-images.githubusercontent.com/1673303/86532830-6cd41e00-beff-11ea-80ab-6d22b92f035e.png)

The above shows up when I access V7 using Edge. Should add support for Edge? Also, should we drop support for IE?

[2020-07-05 15:05] jtankw3 opened #10279 "Restore all feedback sessions causes error"
- **Environment**: `master` branch at commit a930e94b60533e3dcb2251f80038bbbe9595a85a

**Steps to reproduce**
1) Soft delete a feedback session as instructor
2) Click restore all from recycle bin

**Expected behaviour**
All soft deleted sessions are restored

**Actual behaviour**
Error message received and restored rows are blank.
On refresh, soft deleted sessions are actually hard deleted

**Addi

[2020-07-05 18:20] manzurayusup commented on #9865
@damithc is this still a valid issue? If so, which pages does this issue happen?

I am a first timer here and I don't see any open, not-yet-claimed first timer issue. But I really would like to contribute to this project and am willing to learn new things to contribute to harder issues. So I would really appreciate if I can work on this issue if possible.

[2020-07-05 19:00] manzurayusup commented on #9769
Hello, I see that some some boxes are unchecked. Are Current Issues section still up for grabs?

[2020-07-05 19:09] xpdavid commented on #9769
For up for grabs issue, we have a special label `firstTimer`. The issues are actually resolved in #9794

[2020-07-05 19:09] #9769 closed

[2020-07-06 00:04] #10279 closed

[2020-07-06 01:42] wkurniawan07 commented on #10278
https://angular.io/guide/browser-support
https://getbootstrap.com/docs/4.0/getting-started/browsers-devices

Edge support can be listed down. IE support is not necessary to be dropped.

But in general, browser support is difficult to quantify precisely. Unless we want to put resources to test on every single version of every single major browser in the world (I don't think any company in the world

[2020-07-06 02:22] wkurniawan07 commented on #10264
From various student-facing pages, as far as I can tell:

`/courses?entitytype=student`:
❕`creationTimestamp`, `deletionTimestamp`

`/sessions?entitytype=student&courseid=...`:
❕`createdAtTimestamp`

`/students?courseid=...&teamname=...`:
❗ `googleId`

`/result?courseid=...&fsname=...&intent=STUDENT_RESULT`:
❗❗❗ `responseId`

`/responses?questionid=...&intent=STUDENT_SUBMISSION`:
❕`feedbackRespons

[2020-07-06 02:56] t-cheepeng commented on #10213
@manzurayusup Thank you for the interest. However, that sub-issue is already being worked on by other people.

[2020-07-06 03:26] t-cheepeng commented on #10212
@edwardkang0925 Thank you for the update. Great job on the changes so far. You are on the right track and can continue with fixing the component tests

[2020-07-06 03:41] damithc commented on #9865
@manzurayusup it could happen when a submission form has many entries. e.g., a team has 20 students and there are 20 'give feedback to team members' questions, resulting in 20x20=400 entries in the submission form. The first thing is to check if it still happens in the current version by simulating such a case.

[2020-07-06 05:22] manzurayusup commented on #9865
@damithc I simulated 20x20 case in the dev server and didn't run into any problems, so it seems that this issue does not happen in the current version

[2020-07-06 05:40] damithc commented on #9865
Nice. Perhaps keep pushing to see if there is a limit and what that limit is?

[2020-07-06 05:56] wkurniawan07 commented on #9865
This issue is impossible to happen in V7 and will not have any limit because:
- Each question is submitted in individual HTTP request, whereas V6 lumps everything and submits one giant HTTP request
- The submission uses HTTP request body and not HTTP parameter

[2020-07-06 06:09] damithc commented on #9865
Great. @manzurayusup thanks for your help with investigating.

[2020-07-06 06:09] #9865 closed

[2020-07-06 12:22] manzurayusup commented on #9865
@damithc thank you for explaining this to me

[2020-07-07 11:11] nodermatt commented on #10272
Thanks for the follow-up @wkurniawan07. Closing this issue now.

[2020-07-07 11:11] #10272 closed

[2020-07-07 15:08] ccyccyccy commented on #10243
I think for buttons against darker backgrounds, we can put a white outline around the box, while for buttons against light backgrounds, we can use a grey outline. This is to prevent the buttons from blending in with the background

Dark background:
![image](https://user-images.githubusercontent.com/32454748/86775389-ec8df400-c089-11ea-936f-3c3c3ed25120.png)

Light background:
![image](https://user

[2020-07-07 15:28] damithc commented on #10243
That might work. Keep in mind that we are adding an entirely new visual element, increasing the 'business' of the visual. I think this looks better?
![image](https://user-images.githubusercontent.com/1673303/86804141-43ef8c80-c0a9-11ea-90ce-ee4398852710.png)

Yes, for 'danger' buttons we can use that. No need for other buttons.

[2020-07-08 02:35] madanalogy commented on #10264
Since `feedbackResponseCommentId` is a `long` primitive, there might not be much benefit in obfuscating the value? This is as opposed to the cost of first having to convert it to a string representation for encryption then subsequently decrypting it when received as an input.

[2020-07-08 02:50] madanalogy commented on #10264
❗`googleId`
❗`key`
❕`institute`

I think this was a side effect of performing an instructor search while also an admin. Should be fixed in #10273

[2020-07-08 03:37] ccyccyccy commented on #10243
Isn't that the same as current implementation? So we should just keep it as it is?

My issue with the current implementation is that it blends into the background with its flat design, which would lead users to glance over it. Maybe we can adjust the contrast such that outline does not pop out too much?

Something like this

![image](https://user-images.githubusercontent.com/32454748/86872572-41c0

[2020-07-08 03:49] damithc commented on #10243
Yes.

Based on recent GitHub UI tweaks, seems that's not an issue. They removed border and there is no change in bg color.

![image](https://user-images.githubusercontent.com/1673303/86873266-88fad980-c110-11ea-877f-412e301c7479.png)

Let's go without border first. We can add a light border (or do something else) after some dogfooding later.

[2020-07-08 14:57] #10161 closed

[2020-07-10 04:08] xpdavid commented on #10264
`/questions`
- questionDetails
    - MSQ/MCQ/Rubric: Weights (should hide for students)

[2020-07-10 10:08] wkurniawan07 opened #10297 "Tooltip behavior improvement"
Task:
- Go through the tooltips/error messages/help messages and find verbose/missing/redundant tooltips/messages
- Things to look out for:
  - Tooltips with  “Please select…” or “Select this…” that simply restate the UI
  - Misaligned text and tooltip(tooltip not appearing directly above text)
  - Tooltip hover area too big for some cases (e.g. Instructor home page tables)
  - A lot of tooltips a

[2020-07-10 10:34] #10019 closed

[2020-07-10 12:47] #10003 closed

[2020-07-12 05:19] wkurniawan07 commented on #10245
Will be closing this now as all planned issues other than rich-text editor-related issues (already in progress) are done. Kudos to everyone involved.

[2020-07-12 05:19] #10245 closed

[2020-07-12 05:20] wkurniawan07 opened #10299 "User Acceptance Testing Round 3"
This is the continuation of #10245

Leftover issues:
- ~Instructor help page: Search not working~ ✅ (@wkurniawan07)
- ~Some statistics for questions display more than 2.d.p. like 3.66666666667. Shorten all statistics to 2.d.p.. No need for extra decimal places~ ✅ (@ccyccyccy)
- Distribute points (among recipients) buggy
  - [defer] It successfully submits results that don't distribute all the poin

[2020-07-12 08:35] damithc opened #10302 "Link recovery: submission link ends up in session results page"
Tried to retrieve submission links. Received this:
![image](https://user-images.githubusercontent.com/1673303/87242229-52e58e80-c45d-11ea-9fb5-8c0e20f2829a.png)

Clicking on the link resulted in this:
![image](https://user-images.githubusercontent.com/1673303/87242240-6d1f6c80-c45d-11ea-9edd-1d3b8d5f6017.png)

Note that I've already joined the course and I'm also an instructor in that course, if t

[2020-07-12 09:35] damithc opened #10303 "Numerical scale questions: some valid values are not accepted"
V7

Example:
![image](https://user-images.githubusercontent.com/1673303/87243127-f2a71a80-c465-11ea-9f54-287598e009d3.png)

Possibly due to floating point number problems. Might affect other places too.

[2020-07-12 09:55] damithc opened #10304 "Instructor adding questions: new question does not inherit setting from the previous question"
V7

When adding a new question to a session, the question is supposed to inherit path and visibility setting from the question just above it. This doesn't seem to be the case in V7.

[2020-07-12 13:55] jtankw3 opened #10305 "CollapseAnim causing elements to be cut off"
Children elements of elements with CollapseAnim attached are cut off when they overflow.

- **Environment**: `master` branch at commit a5f15f9f634d1b988b3f6f50a85959365da48b1b

**Steps to reproduce**
Interact with elements that exceeds height of parent element (eg. feedback edit page visibility date picker)

**Expected behaviour**
Dropdown/tooltip should be visible even if they overflow

**Actual

[2020-07-12 14:03] wkurniawan07 commented on #10305
I don't think it's caused by `collapseAnim` (I might be wrong). It is true that there are many instances of this behaviour in dropdowns, but in most cases, it can be resolved by setting `container="body"`. Haven't tried datepicker but it should be the same.

[2020-07-12 15:31] wkurniawan07 commented on #10304
I don't think we (or at least, I) know this feature. Is it a deliberate product decision?

[2020-07-12 15:36] jtankw3 commented on #10305
Hi, I tried using the container="body" at first but I realized it is affecting all the containers with `collapseAnim`. Thus I think it is better to change `collapseAnim` as we may miss out adding container="body" to certain elements such as tooltips which are harder to notice.

[2020-07-12 15:38] damithc commented on #10304
Yes, based on the observation that often the path/visibility of questions in a session follow a similar pattern. If our guess is correct, the user has less work to do (a pleasant surprise for her). If our guess is wrong, the user has to change the settings but that's no different even if we didn't guess.

[2020-07-12 18:00] jtankw3 opened #10307 "Status message timeout does not reset"
- **Environment**: `master` branch at commit a5f15f9f634d1b988b3f6f50a85959365da48b1b

**Steps to reproduce**
1) Do any action that produces a status message
2) Wait 4 seconds
3) Do another action that produces a status message

**Expected behaviour**
The second message should not be affected by the 4 seconds that passed and should last for its full duration.

**Actual behaviour**
Because the time

[2020-07-13 00:03] xpdavid commented on #9517
Draft:

#### Policies

RESTFul API Endpoints:
- Design endpoints for resources. For example, `FeedbackSession` is a resource. The corresponding endpoint is `/session`. We use `GET`, `POST`, `PUT`, `DELETE` HTTP methods to get, create, update and delete the resource respectively.
    - The endpoint information is automatically synced to `api-endpoints.ts` in the frontend.
- Prefer multiple REST cal

[2020-07-13 05:40] wkurniawan07 commented on #10302
@damithc what is the exact URL attached in the link there?

[2020-07-13 06:07] #10305 closed

[2020-07-13 06:39] damithc commented on #10302
`https://teammates-uat.et.r.appspot.com/web/sessions/submission?courseid=damith.gma-demo&fsname=First+session&key=DCCBC69C8891A45C00E6ABAA9EE58F16418FEABBC2452DCC602690279B934346A146CFF757A28982B93E7825FA47FFXX&studentemail=damith%40gmail.com`

I changed the key slightly. Can email you the exact link if needed.

[2020-07-13 06:45] wkurniawan07 commented on #10302
@damithc there is no way that link ends up in session results page. Try again?

[2020-07-13 08:25] damithc commented on #10302
Still the same:
![image](https://user-images.githubusercontent.com/1673303/87280808-2137fa80-c525-11ea-929b-f1d798215375.png)

I wonder if any of these has an effect:
* I also have admin rights
* I'm also an instructor in that course
* I have joined the module

[2020-07-13 09:02] #10307 closed

[2020-07-13 09:29] damithc commented on #10302
I tired another case where those three conditions are false. Worked as expected. So, one of these three conditions are causing the problem.

[2020-07-13 09:57] #9474 closed

[2020-07-14 12:24] #9665 closed

[2020-07-14 12:24] #9705 closed

[2020-07-14 17:34] #9495 closed

[2020-07-15 03:29] t-cheepeng opened #10315 "Services should not be accessing component related models"
In `search.service`, there are many instances where the service transforms data into component related models. This breaks reusability of the services as it is tightly linked to the component.

**Task**
- Define new interfaces for the service to decouple them from component models
- Have the components accept these new interfaces and transform them to their respective models for use

[2020-07-15 03:36] #10212 closed

[2020-07-15 06:16] #10302 closed

[2020-07-15 06:16] #10303 closed

[2020-07-15 13:52] madanalogy commented on #9823
Resolved by #10135

[2020-07-15 13:52] #9823 closed

[2020-07-17 09:54] jtankw3 opened #10322 "Rich text editor breaks when moved during reorder"
- **Environment**: `master` branch at commit dd9977ec150a49c93040004c4eb034a43fe0180a

**Steps to reproduce**
1) Have two questions in feedback sessions edit page.
2) Reorder question with description (Only happens when the description is reordered to a earlier position)
3) Try to edit again and type something in the description section.

**Expected behaviour**
1) Description should be displayed
2

[2020-07-17 11:31] jtankw3 opened #10325 "Google blocking E2E login on production server"
- **Environment**: `master` branch at commit dd9977ec150a49c93040004c4eb034a43fe0180a

**Steps to reproduce**
Run any E2E test on production server

**Expected behaviour**
E2E tests should be able to run

**Actual behaviour**
E2E tests unable to log in as Google blocks log in via automation

**Additional info**
https://stackoverflow.com/questions/60117232/selenium-google-login-block

Error on sign

[2020-07-17 12:31] #10042 closed

[2020-07-18 09:12] #9673 closed

[2020-07-18 09:25] #9067 closed

[2020-07-18 12:58] #10264 closed

[2020-07-18 14:14] damithc opened #10330 "Instructor home page: newest courses are not on top"
version: v7

expected: newest courses at the top of the list

actual: oldest courses are at the top of the list

[2020-07-18 14:20] damithc opened #10331 "Instructor courses page: archived courses are not sorted"
Current:
![image](https://user-images.githubusercontent.com/1673303/87854438-9e5bd900-c944-11ea-8cb1-3a1bc2584e73.png)

Expected: The list should be sorted by name (to match V6)

Suggested: Also make the table sortable.

[2020-07-18 14:27] damithc opened #10332 "Instructor courses page: hard to see the sorting order"
Current:
![image](https://user-images.githubusercontent.com/1673303/87854554-5a1d0880-c945-11ea-9086-1d331b6966a2.png)

![image](https://user-images.githubusercontent.com/1673303/87854618-c6980780-c945-11ea-8b3b-ad0bbd5e4f48.png)

Not only the highlighted arrows blends into the background, the arrow direction seems to be wrong too.

Might be applicable to tables in other places as well.

[2020-07-18 14:30] damithc opened #10333 "Instructor courses page: drop-down tooltip is too narrow"
Current:
![image](https://user-images.githubusercontent.com/1673303/87854675-15de3800-c946-11ea-8bad-f578e2582383.png)
The tooltip width seem to follow the width of the drop-down. Makes the tip harder to read.

Might apply to other places well.

[2020-07-18 14:35] damithc opened #10334 "Instructor course details page: heading alignment inconsistent"
![image](https://user-images.githubusercontent.com/1673303/87854805-f0056300-c946-11ea-881a-d236931c250c.png)

This should be left-aligned, to be consistent with other pages?

Might apply to other pages as well.

[2020-07-18 14:39] damithc opened #10335 "Instructor course details page: student table is not sorted"
Current: not sorted
![image](https://user-images.githubusercontent.com/1673303/87854862-538f9080-c947-11ea-9eb0-41960971e6f1.png)

Expected: sort by team and then by name?

[2020-07-18 14:45] damithc opened #10336 "Instructor course details page: cells should be left-aligned"
Current:
![image](https://user-images.githubusercontent.com/1673303/87855029-3ad3aa80-c948-11ea-8039-5b76fe267bc2.png)

For easier readability, columns such as team, name, email should be left-aligned.
Might apply to other tables as well.

[2020-07-18 14:48] damithc opened #10337 "Instructor edit student details: form fields are not aligned"
Current:
![image](https://user-images.githubusercontent.com/1673303/87855248-93f00e00-c949-11ea-9a30-8544059c22ee.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/87855109-b59cc580-c948-11ea-9edd-71c11e912377.png)

[2020-07-18 14:52] damithc opened #10338 "Modals: cancel button border is not visible"
Example:
![image](https://user-images.githubusercontent.com/1673303/87855200-35c32b00-c949-11ea-9221-8f01ec53b7ea.png)

The button border is not visible even when hovered over

[2020-07-18 14:57] damithc opened #10339 "Instructor delete student: modal uses inconsistent styles"
Current:
![image](https://user-images.githubusercontent.com/1673303/87855302-e92c1f80-c949-11ea-90dd-049179fde2e8.png)

This modal is inconsistent with others in almost all aspects. In particular, the text should not be bold and blue should not be used to mark words (blue text is supposed to be hyper links)

[2020-07-18 15:00] damithc opened #10340 "Instructor course details page: 0 is shown before the actual numbers appear"
![image](https://user-images.githubusercontent.com/1673303/87855364-53dd5b00-c94a-11ea-8efe-8b9a61d9423a.png)

These appear as `0` momentarily before the actual numbers appear. It's best not to show incorrect data even momentarily. Show loading indicators?

[2020-07-18 15:11] damithc opened #10341 "Instructor view all records page: expand all panels by default"
Current: inner panels are collapsed

Suggested: all panels should be expanded by default to minimize work for users

[2020-07-18 15:15] damithc opened #10342 "Don't use secondary style of enabled buttons"
![image](https://user-images.githubusercontent.com/1673303/87855686-69538480-c94c-11ea-91e7-e733f42e97d6.png)

Suggestion: avoid using the secondary style for buttons as it's close to how disabled buttons look.

[2020-07-18 15:19] damithc opened #10343 "Instructor view all records: unnecessary line"
![image](https://user-images.githubusercontent.com/1673303/87855757-fac2f680-c94c-11ea-9de0-7951d81317de.png)

[2020-07-18 15:22] damithc opened #10344 "Instructor view all records page: tweak line style"
![image](https://user-images.githubusercontent.com/1673303/87855800-3c53a180-c94d-11ea-9255-bb2f201e15b1.png)

Line style can be tweaked to emphasize the hierarchy of elements. e.g.,
![image](https://user-images.githubusercontent.com/1673303/87855817-5f7e5100-c94d-11ea-951e-de49fdfea7c7.png)

[2020-07-18 15:29] damithc opened #10345 "Instructor: view instructor details: modal header missing"
![image](https://user-images.githubusercontent.com/1673303/87855960-63f73980-c94e-11ea-9179-7349763adb4f.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/87855972-82f5cb80-c94e-11ea-9b9d-9dba56ff9489.png)

Even better if the instructor's name can be shown in the header

[2020-07-18 15:42] damithc opened #10346 "Instructor search page: don't use blue text"
![image](https://user-images.githubusercontent.com/1673303/87856226-42974d00-c950-11ea-9774-ebcbfce976a1.png)

Avoid blue text as it can be seen as linked text.

[2020-07-18 16:08] damithc opened #10347 "Instructor sessions page: inconsistency in indicating end of the day"
Two values used to indicate the same thing:
![image](https://user-images.githubusercontent.com/1673303/87856759-c3a41380-c953-11ea-9f8b-a6fb4ec8cb8c.png)

`2359` is preferred as it avoids the question of whether it is the start or the end of the day.

[2020-07-18 16:13] damithc opened #10348 "Instructor sessions page: unusual delay in activating modal buttons"
It took about 10 seconds to get the cancel button into active mode. During that period, nothing happens when you hover over the button.
![image](https://user-images.githubusercontent.com/1673303/87856871-9ad04e00-c954-11ea-9b42-37900f532b16.png)

EDIT: applies to both buttons, not just the cancel button.

[2020-07-18 16:18] damithc opened #10349 "Multiple tooltips shown at times"
![image](https://user-images.githubusercontent.com/1673303/87856928-1cc07700-c955-11ea-9cc0-1bab6d44dccf.png)

e.g.,
1. Hover over a button
1. Click on the button to open a modal
1. Close the modal
1. Hover over another button

Result: tooltip for the previous button remains while the one for the new button shows up as well

[2020-07-18 16:22] damithc commented on #10348
I couldn't replicate this in UAT staging server but happens when I try the page against the production server. Could be a performance issue (I have about 50 sessions in that page.

[2020-07-18 16:44] damithc commented on #9168
So, are we going to show `0000` or `2359` to the user? 0000 can be used in the database but it's good if it can be shown as 2359 to the user.

[2020-07-18 16:45] wkurniawan07 commented on #9168
The problem is, DB has already been muddled with `2359` data from V6 and before.

[2020-07-18 16:47] damithc opened #10350 "Session results csv: differences between v6 and v7"
![image](https://user-images.githubusercontent.com/1673303/87857157-1fbc6700-c957-11ea-982f-a8b31a7f5122.png)

1. v6 file name is more specific
1. v6 uses double quotes around text (safer? in case there are commas in the text)
1. sorting order of results rows seems to be different
1. line endings seem to be different (according to my diff program)

[2020-07-18 16:48] damithc opened #10351 "Instructor view results: edit button should open page in edit mode"
![image](https://user-images.githubusercontent.com/1673303/87857467-79259580-c959-11ea-8406-b2e830028d00.png)

This button should open the session-edit page with the form already in edit mode i.e., no need for the user to click the edit button again in that page.

[2020-07-18 16:53] wkurniawan07 commented on #10350
(2) is non-issue. The system knows when to and not to put `"`, covered by unit tests.
(3) are there specific expected sorting?
(4) is also non-issue because the line is hard-coded to `\r\n`, as the line-joining happens in front-end. Previously it happens in back-end and in Linux box it would be `\n`.

[2020-07-18 17:01] damithc opened #10352 "Instructor view session results: inconsistency in rubric question summary"
v7:
![image](https://user-images.githubusercontent.com/1673303/87857680-25b44700-c95b-11ea-9921-0ffa1914d1e7.png)

v6:
![image](https://user-images.githubusercontent.com/1673303/87857686-3795ea00-c95b-11ea-8d67-10c33dd4e28e.png)

* ID missing
* different sorting order

-----

![image](https://user-images.githubusercontent.com/1673303/87857727-83e12a00-c95b-11ea-809f-e3f98424105c.png)

vs

![image]

[2020-07-18 17:08] damithc opened #10353 "Instructor view results: use cell borders in tables"
v7:
![image](https://user-images.githubusercontent.com/1673303/87857801-14b80580-c95c-11ea-8cb7-d14485f9397b.png)

v6:
![image](https://user-images.githubusercontent.com/1673303/87857807-20a3c780-c95c-11ea-9c01-092b7a5f10d9.png)

Using borders allows us to use less padding in cells, with a net gain of space. Could possibly increase readability when the table is full of data.

[2020-07-18 17:12] damithc opened #10354 "Instructor results page: button label overflow"
![image](https://user-images.githubusercontent.com/1673303/87858383-171c5e80-c960-11ea-949b-e0d09f557625.png)

Looks like the comments column (which usually is empty) is given a lot of space, squeezing out the other columns.

[2020-07-18 17:26] damithc opened #10355 "Instructor view results: MCQ summary order is different from the question"
![image](https://user-images.githubusercontent.com/1673303/87858204-c35d4580-c95e-11ea-9ebb-e7017300accf.png)

This order is different from the order used in the question.

[2020-07-18 17:28] damithc commented on #10348
Similar problem observed in the session results page. Seems like modals get slowed down when the page has a lot of contents.

[2020-07-18 17:32] damithc commented on #10350
I see. I was rather hoping that I could diff the csv files between v6 and v7 to confirm the results are exactly the same. The diff tool can ignore line endings but the difference in sorting order and double quotes makes diffing impossible.

[2020-07-18 17:54] damithc opened #10356 "Instructor view results: multiple photo popups"
![image](https://user-images.githubusercontent.com/1673303/87858732-a0349500-c962-11ea-9410-adff2f949df8.png)

These things pops up (and stays) as you move the move across the page

[2020-07-18 17:56] damithc commented on #10356
Can even get in the way, covering up other clickable elements. Perhaps provide a clickable icon beside the name instead?

[2020-07-18 18:04] damithc opened #10357 "Instructor view results: inconsistency in contribution questions"
v7:
![image](https://user-images.githubusercontent.com/1673303/87858910-e9d1af80-c963-11ea-81c2-2b2379dceeb8.png)

v6:
![image](https://user-images.githubusercontent.com/1673303/87858845-77f96600-c963-11ea-9c0a-50ee0cfab77d.png)

Values are totally different. I remember discussing this with @wkurniawan07 but I'm not sure if we should change the behavior from v6 to v7. I think we should show normal

[2020-07-18 18:09] damithc opened #10358 "Instructor view results: rounding off needed in numerical scale questions"
Example:
![image](https://user-images.githubusercontent.com/1673303/87859023-cf4c0600-c964-11ea-835c-0ac2e4c6ff05.png)

[2020-07-18 18:17] damithc opened #10359 "Show an appropriate view while the data is loading"
I think we are working on this already, but I'll create an issue here in case we need to discuss further. Currently, we show an incorrect view while the data is being loaded e.g., show 'no courses to view' while courses are being loaded.

Showing a spinner seems like the natural alternative.

[2020-07-18 18:23] wkurniawan07 commented on #10359
Duplicate of #9356

[2020-07-18 18:23] #10359 closed

[2020-07-18 18:34] wkurniawan07 commented on #10357
Copying the discussion here:
- Not showing the raw value here will cause inconsistency when instructor moderates the response
- Showing the raw value here does cause inconsistency with the summary table, but summary table is not meant to be the exact same. Summary table, as the name says, shows the value after all the normalization and what-nots happen, so we can give as many extra context as nece

[2020-07-19 01:30] niqiukun commented on #10358
To be fixed by https://github.com/TEAMMATES/teammates/pull/10316.

[2020-07-19 04:09] damithc commented on #10357
In that case we should show both (i.e., add a column for raw values or show within brackets)? Raw values are not useful (even misleading) for interpreting the values received and the table is used more for interpreting rather than moderating. Our current users are used to seeing the normalized values in that table.

[2020-07-19 15:34] #10322 closed

[2020-07-20 02:34] #10330 closed

[2020-07-20 04:49] #10337 closed

[2020-07-20 07:33] niqiukun commented on #10355
Is this because the response summary is sorted by percentage by default?

[2020-07-20 07:38] niqiukun opened #10368 "Instructor home page: changing sort by results in duplicate tables"
**Steps to reproduce**

1. Go to instructor home page
2. With the tabs expanded, change sort by of the courses
3. Try to collapse the tab for any course (the tab does not get collapsed)
4. Expanding the tab creates a duplicate table

![image](https://user-images.githubusercontent.com/5328196/87911888-f149a380-ca9e-11ea-9751-4a888d082bc3.png)

[2020-07-20 09:05] damithc commented on #10355
Possibly. In that case, the default sorting should be based on option because options might have some meaningful order.

[2020-07-20 12:13] niqiukun opened #10370 "Remove the extra border around rich text editor"
**Description of feature/enhancement**

Currently there is an extra border and padding around each rich text editor. The extra border makes the user interface somewhat cumbersome with an extra visual layer. Removing it will provide a neater looking for users.

**Current:**
![image](https://user-images.githubusercontent.com/5328196/87936290-279a1980-cac5-11ea-8c27-2527372b350e.png)

**Proposed:**
!

[2020-07-20 13:48] #9551 closed

[2020-07-20 14:35] #10370 closed

[2020-07-20 15:03] niqiukun opened #10372 "Inconsistent padding around modals"
https://github.com/TEAMMATES/teammates/pull/10293 has standardised the colour scheme and format of modals. Yet some of the modals seem to have paddings around them while others don't. It seems that displaying a modal without padding leads to subsequent modals displayed to not have the padding as well.

Personally I think we should remove paddings for all modals for greater clarity.

**Steps to rep

[2020-07-20 16:18] damithc commented on #10372
I like the version without the padding myself.

[2020-07-21 05:28] #9356 closed

[2020-07-21 05:38] niqiukun commented on #10340
Issue fixed by #10309.

[2020-07-21 05:38] #10340 closed

[2020-07-21 05:40] niqiukun opened #10374 "Instructor course details page: loading spinner does not disappear"
The loading spinner does not disappear when there is no students added into the course yet.

![image](https://user-images.githubusercontent.com/5328196/88017201-c1aaa200-cb57-11ea-9016-6737aa990dbb.png)

[2020-07-21 08:45] #10304 closed

[2020-07-21 10:43] wkurniawan07 commented on #10345
@damithc adding instructor's name doesn't make sense because this is generic permission listing

[2020-07-21 11:21] niqiukun commented on #10368
Seems to be caused by the newly added animation. Removing the animation temporarily resolves this issue.

[2020-07-21 11:49] hamza67100 commented on #10349
Hello, I'm looking for which files I need to change if you already know it that could be cool for me :)

[2020-07-21 12:01] ccyccyccy commented on #10332
What do you mean by "blend into the background"? I think white seems like a good contrast against blue? Or do you want the non-active sorting arrow to show as black?

[2020-07-21 12:07] niqiukun commented on #10332
I think in V6, grey colour means non-active while black means active. So following the same logic in V7 the active colour becomes blue which "blends into the background". But in fact we are using white as the active colour instead.

[2020-07-21 12:24] ccyccyccy commented on #10338
Issue closed by https://github.com/TEAMMATES/teammates/pull/10293

[2020-07-21 12:24] #10338 closed

[2020-07-21 12:30] ccyccyccy commented on #10336
Is the criteria mainly variable length columns?

[2020-07-21 12:30] #10355 closed

[2020-07-21 12:31] damithc commented on #10345
Right. No need in that case.

[2020-07-21 12:41] damithc commented on #10336
I think it's more to do with the actual content. I guess we can left-align by default?

[2020-07-21 12:54] damithc commented on #10332
That's right. If white is the active color, it's confusing to see a whole bunch of white arrows in every column. The user has to look for the _solo_ white arrow to figure out the sorting order. It can be made more obvious if only the sorted column and the sorted direction is in the active color.

[2020-07-21 14:59] #10325 closed

[2020-07-21 15:55] madanalogy commented on #10349
@ccyccyccy does this get fixed with #10321?

[2020-07-21 15:57] madanalogy commented on #10333
@ccyccyccy does this get fixed with #10321?

[2020-07-21 15:58] hamza67100 commented on #10349
@madanalogy
![Screenshot_18](https://user-images.githubusercontent.com/50500740/88077611-c1240280-cb7b-11ea-92a8-a0a600073730.png)
It's what I have

[2020-07-22 00:35] edwardkang0925 opened #10382 "Add accessibility support"
Hi,
We have looked into the WCAG guideline and searched for developer’s tools related to accessibility testing. While doing so, we have found an automated program that converts a website “accessible”. (The service we have found is called Accessibe). We couldn’t use the service yet because we don’t own the Teammates’ live website (the service doesn’t seem to support local development), but we want

[2020-07-22 00:54] madanalogy commented on #10382
This looks good, you can go ahead and begin development @damithc @xpdavid @wkurniawan07 fyi in case there are any issues with their proposed development plans

[2020-07-22 03:04] ccyccyccy commented on #10349
Nope it doesn't.

[2020-07-22 03:42] #10352 closed

[2020-07-22 04:00] ccyccyccy commented on #10336
Sounds good. I think the buttons should be center align though.

[2020-07-22 04:16] t-cheepeng commented on #10356
![resut](https://user-images.githubusercontent.com/28994607/88133571-fcbedb00-cc14-11ea-9f59-b95a93d9b6ef.gif)
Would this be better behaviour? Add a small icon to click on and it shows the photo popover. The popover will close immediately after cursor leaves the small portrait icon

[2020-07-22 04:17] ccyccyccy opened #10384 "Loading spinner blocked by the navbar"
Loading spinner is blocked by the navbar when nothing is loaded yet.

![image](https://user-images.githubusercontent.com/32454748/88133652-2bd54c80-cc15-11ea-8d34-9c23aaba1d62.png)

[2020-07-22 04:28] #10335 closed

[2020-07-22 04:35] damithc commented on #10356
Use grey? It should attract too much attention. Not sure if it will look like disabled though.
Neater to show the icon at the start rather than at the end? Not sure if it will affect sorting though.
Post screenshots of different options so that we can compare.

[2020-07-22 04:36] damithc commented on #10356
Also try black icon (without bg color)

[2020-07-22 04:40] damithc commented on #10336
Sure.

[2020-07-22 04:47] damithc commented on #10382
@edwardkang0925 Sounds good. In the meantime, you can keep a lookout for automated tools that are less restrictive and can be used without having owner access to the live site. As for which standard to follow, you can also research and make a recommendation yourself (with pros and cons of each option).

[2020-07-22 04:57] t-cheepeng commented on #10356
Nope, the sorting will not be affected by position of icons

For the portrait icon, we cannot use the black w/o bg since that is pro only and we are on the free version of font awesome. Some alternatives icon shown below

- ID badge icon black
![id badge black full](https://user-images.githubusercontent.com/28994607/88135930-c84e1d80-cc1a-11ea-91ab-034655469a2b.PNG)
![id badge black nobg](https://

[2020-07-22 05:20] #10347 closed

[2020-07-22 06:10] damithc commented on #10356
I like the 2nd one because the icon looks similar to the actual pop up. Perhaps we should change the trigger from hover to click too, for both first time access and subsequent times? The objective is to prevent the popup unless the user deliberately asks for it.

[2020-07-22 06:16] #10331 closed

[2020-07-22 06:58] #10372 closed

[2020-07-22 07:32] #10345 closed

[2020-07-22 07:48] t-cheepeng commented on #10356
So the user icon right? The one that is filled or just the outline?

Got it

[2020-07-22 08:23] #10351 closed

[2020-07-22 08:57] damithc commented on #10356
The one with the outline only

Needed. Otherwise it pops up all the time whenever the mouse travels across it and and blocks other elements behind it. That's what we are trying to prevent. Plus, it's better to be consistent.

[2020-07-22 10:35] ccyccyccy opened #10391 "Animation not working in Instructor student records page"
Collapse panel animation not playing for the inner response panels.

![output](https://user-images.githubusercontent.com/32454748/88166249-8b4d4f80-cc49-11ea-82f3-51f66c30abbb.gif)

[2020-07-22 10:44] ccyccyccy commented on #10339
Closed by https://github.com/TEAMMATES/teammates/pull/10293

[2020-07-22 10:44] #10339 closed

[2020-07-22 10:47] ccyccyccy commented on #10333
Nope it doesn't

[2020-07-22 12:55] #10374 closed

[2020-07-22 15:58] #10384 closed

[2020-07-22 16:27] #10334 closed

[2020-07-22 16:27] #10336 closed

[2020-07-23 03:14] #10341 closed

[2020-07-23 07:58] madanalogy commented on #10348
This appears to be largely because the `SessionsTableRowModel` needs to be manually updated with `InstructorPrivilege`, which is a separate http request per session. Resolving this might require a new API endpoint to retrieve all privileges at once or implementing lazy loading / pagination.

This one I'm less sure about but likely due to each question requiring a separate http request to load.

Th

[2020-07-23 09:08] damithc commented on #10348
A workaround is to show a spinner until the model is updating. Would that work?

[2020-07-24 01:46] xpdavid commented on #10348
Technically the spinner should be shown while fetching privilege. @t-cheepeng Is it possible?

[2020-07-24 01:48] xpdavid commented on #10348
@madanalogy

Yes it is but not when the page is loaded. So the cause should not be the same.

[2020-07-24 01:50] #10350 closed

[2020-07-24 02:33] #9517 closed

[2020-07-24 03:43] t-cheepeng commented on #10348
Yup, it is possible. We can add a variable to the `SessionsTableRowModel` for loading of privileges and set it accordingly

[2020-07-24 03:56] madanalogy opened #10397 "Feedback submission propagates invalid question responses"
Distribute points (among recipients) successfully submits results that don't distribute all the points.

**Steps to reproduce**
Create a feedback session with a question on distribute points (among recipients) and distribute points in a manner that does not adhere to the question constraints (e.g. do not distribute all points).

**Expected behaviour**
Invalid submission does not get propagated to

[2020-07-24 06:02] #10358 closed

[2020-07-24 06:28] #10368 closed

[2020-07-24 07:24] jtankw3 opened #10400 "Inconsistent URL encoding"
- **Environment**: `master` branch at commit 33d28f8400bc3d904910975dc3d71f0c1198fd52

**Steps to reproduce**
Preview as student in instructor feedback edit page with a session that has spacing in its name.
_or_
Create `AppUrl` with session name that has spacing.

**Expected behaviour**
Url spacing should be encoded `%20`

**Actual behaviour**
Spacing is encoded as `+`

**Additional info**
![url e

[2020-07-24 07:52] madanalogy commented on #10400
Your screenshot shows that the session name is `First+Session` not `First Session`. The value `+` is purposely encoded in that manner as per https://github.com/TEAMMATES/teammates/pull/10313. I couldn't replicate your bug for sessions with spacing in their name in either the dev server or staging server.

Dev Server:
<img width="1269" alt="Screenshot 2020-07-24 at 3 49 02 PM" src="https://user-ima

[2020-07-24 08:16] ccyccyccy opened #10402 "Comment buttons showing up even when there is no response"
Happens for GRQ and RGQ responses. Clicking on the button doesn't do anything.

![image](https://user-images.githubusercontent.com/32454748/88372540-b1e5c480-cdc8-11ea-8561-5f4d4647541c.png)

[2020-07-24 08:22] jtankw3 commented on #10400
@madanalogy o that's weird. Actually the session I used is below: Not sure whats the difference between yours and mine.

![image](https://user-images.githubusercontent.com/31800234/88372992-9929de80-cdc9-11ea-8bc4-9d15909462ba.png)

[2020-07-24 11:41] #10278 closed

[2020-07-24 13:13] #10343 closed

[2020-07-24 13:14] #10353 closed

[2020-07-25 02:10] #9764 closed

[2020-07-25 14:28] damithc opened #10407 "Version shown in the footer doesn't match the actual version"
![image](https://user-images.githubusercontent.com/1673303/88459178-e8553980-cec5-11ea-95a8-50c82b88a107.png)

[2020-07-25 14:30] damithc opened #10408 "Instructor home page: response rate spinner not visible"
Spinner used here appears to be white color.

![image](https://user-images.githubusercontent.com/1673303/88459226-5e59a080-cec6-11ea-8fbf-c38d51bbafc4.png)

[2020-07-25 14:31] wkurniawan07 commented on #10407
@damithc in the spirit of separate front-end and back-end, those two numbers are separately configured. The one in the footer is from `config.ts`.

[2020-07-25 14:37] damithc commented on #10407
I see. Got it.

[2020-07-25 14:37] #10407 closed

[2020-07-25 15:04] damithc opened #10409 "Placeholder text not dim enough"
Placeholder text not dim enough (not much different to regular text)

![image](https://user-images.githubusercontent.com/1673303/88459904-12f5c100-cecb-11ea-816e-8183148b0958.png)

V6 for reference:
![image](https://user-images.githubusercontent.com/1673303/88459920-302a8f80-cecb-11ea-84e7-c967590e08d4.png)

[2020-07-25 15:14] damithc opened #10410 "Instructor add session: success message doesn't say long enough to read"
V6 success message for reference.
![image](https://user-images.githubusercontent.com/1673303/88460065-18074000-cecc-11ea-832b-65f6891264db.png)

In V7, this message doesn't stay long enough to read. Should we increase the delay of such messages site-wide? No harm keeping longer, right? Especially, if there is a way to dismiss the message manually (if needed).

[2020-07-25 15:16] damithc opened #10411 "Instructor add session: set default grace period to 15 minutes"
In v7, the grace period box is empty by default.
Let's set the default grace period to be 15 minutes,
1. to be consistent with v6
1. having a grace period makes the instructor's life easier

[2020-07-25 15:25] damithc opened #10412 "Instructor add session: Q2 visibility varies from V6"
Steps: Add a new session using the default session template
Problem: Q2 visibility description varies from v6

V6:
![image](https://user-images.githubusercontent.com/1673303/88460325-fe66f800-cecd-11ea-99ba-12e21282f971.png)

V7:
![image](https://user-images.githubusercontent.com/1673303/88460334-16d71280-cece-11ea-900f-747ca89e8183.png)

EDIT: applies to a few other questions in that session

[2020-07-25 15:38] damithc opened #10413 "Instructor delete question: the button stay pressed after cancelling the operation"
Steps:
1. Go to the edit page of a session
1. Click on the delete button of a question
1. Cancel the delete operation

Problem: the delete button stay pressed (although it can be clicked again)
![image](https://user-images.githubusercontent.com/1673303/88460576-ca8cd200-cecf-11ea-8517-0213148aeb40.png)

[2020-07-25 16:12] damithc opened #10414 "visibility options vary for 'for nobody specific' path"
V6:
![image](https://user-images.githubusercontent.com/1673303/88461259-9ff14800-ced4-11ea-9954-ad21b08e99c6.png)

V7:
![image](https://user-images.githubusercontent.com/1673303/88461240-7afcd500-ced4-11ea-8cc1-70960f24776e.png)

UPDATE: applies to a few other feedback paths as well.

[2020-07-25 16:27] wkurniawan07 commented on #10414
The recipient is "Nobody specific", which means any reference to "recipient" under "visibility options" is automatically redundant.

[2020-07-25 16:28] wkurniawan07 commented on #10412
The recipient type is "Giver". Showing "The recipient's team members" is a repetition over "Your team members".

[2020-07-25 16:46] damithc commented on #10414
👍

[2020-07-25 16:46] #10414 closed

[2020-07-25 16:46] damithc commented on #10412
👍

[2020-07-25 16:46] #10412 closed

[2020-07-25 16:49] damithc opened #10415 "Instructor view session results: make the non-submitters table sortable"
Possibly already covered by another issue. Posting here just in case.
This table should be sortable.
![image](https://user-images.githubusercontent.com/1673303/88461845-cb2a6600-ced9-11ea-8562-ba6912daab8b.png)

[2020-07-25 16:54] damithc opened #10416 "Instructor view session results: open 'submit responses' link in a new page"
It's best to open this 'submit responses' link in a new page (the user might lose the results page view unintentionally if not).
![image](https://user-images.githubusercontent.com/1673303/88461886-22303b00-ceda-11ea-98c2-38b1ec94cf43.png)

[2020-07-25 16:55] damithc opened #10417 "Instructor view session results: 'submit response' -> 'submit responses'"
Should be `responses`?

![image](https://user-images.githubusercontent.com/1673303/88461944-99fe6580-ceda-11ea-943b-d90a7d279beb.png)

[2020-07-25 17:00] damithc opened #10418 "Submit session responses: add space between spinner and button"
![image](https://user-images.githubusercontent.com/1673303/88462088-59ebb280-cedb-11ea-934b-ca69491c24bd.png)

Add a space between the spinner and the button label? Might apply to other places as well.

[2020-07-25 17:11] damithc opened #10419 "Instructor moderating submissions goes into student's home page"
V7: When instructor submits on behalf of a student, she is taken to instructors own 'student page'. This doesn't exactly make sense as instructor's student view is not involved in this task at all.
![image](https://user-images.githubusercontent.com/1673303/88462221-61f82200-cedc-11ea-9884-bd48773493fc.png)

V6: uses a stand-alone submission page
![image](https://user-images.githubusercontent.com/1

[2020-07-25 17:23] damithc opened #10420 "Instructor edit session: restrict MCQ/MSQ options to plain text only"
While it is in our todo list to support rich text for MCQ/MSQ question options, we need to figure out how to support it across the system e.g., results page, csv file etc. Until then, maybe better to restrict to plain text

![image](https://user-images.githubusercontent.com/1673303/88462503-59a0e680-cede-11ea-8a9f-85b70bcf3bf5.png)

[2020-07-25 17:24] damithc opened #10421 "Drop-down menus: allow opening in new tab"
I noticed that I cannot right-click on these and open in a new tab. Using Windows and Chrome. No such problem in V6.
![image](https://user-images.githubusercontent.com/1673303/88462547-b7353300-cede-11ea-838c-36ef94033b0e.png)

Applies to some buttons as well. Can be a major annoyance.

[2020-07-25 17:41] wkurniawan07 commented on #10420
It's already a working feature for MCQ, there's no reason to drop support for it. What is observed here is only a one-off occurrence.

[2020-07-25 18:08] xpdavid commented on #10419
Looks like a bug: We should use the moderation link to `/web/sessions/submission` not `/web/student/sessions/submission`

After fix it, nothing will be shown in the menu bar.

@damithc It is OK if we show nothing in the menu bar?

![image](https://user-images.githubusercontent.com/13977235/88463365-1e170580-ce67-11ea-9b5d-b2d5debd24d9.png)

[2020-07-25 19:29] xpdavid commented on #10420
Some context here: the feature is new in V7 and get merged before the question stats is migrated (and therefore that's why this is the only place).

[2020-07-26 02:52] damithc commented on #10419
Yes, it should be fine that way.

[2020-07-26 03:11] damithc commented on #10420
What's our approach here? In most cases, the user means to enter plain text values. In those cases, the user doesn't expect to see html markup in the results. Perhaps we can strip markup from summary view and csv file completely?
![image](https://user-images.githubusercontent.com/1673303/88470557-5898a500-cf30-11ea-9528-57aba4ba143c.png)

An alternative is to let user enter a plain text option hea

[2020-07-26 04:04] damithc commented on #10357
Discovered that this really needs to go back to the original (or at least show both values). If not, there is no way to get the individual normalized value from the csv file. The summary table does not show specifically who gave which normalized value to whom. In my module, I have grading scripts that depend on that value to be there in the csv file. Raw value is useless for any kind of analysis a

[2020-07-26 04:17] damithc opened #10422 "Instructor add comments: visibility icon can be misleading"
![image](https://user-images.githubusercontent.com/1673303/88471263-dad99700-cf39-11ea-921c-928879906b76.png)

This icon is commonly used to indicate 'not visible'. Perhaps use icon below instead?

![image](https://user-images.githubusercontent.com/1673303/88471255-b4b3f700-cf39-11ea-92cc-0940cf0511c8.png)

[2020-07-26 04:22] damithc opened #10423 "Instructor add comments: column heading should follow content alignment"
![image](https://user-images.githubusercontent.com/1673303/88471291-60f5dd80-cf3a-11ea-906d-f450b70a4a47.png)

Column heading alignment should follow the column content alignment?

Possibly applicable to other places too.

[2020-07-26 04:29] damithc opened #10424 "csv download: preserve line breaks in text comments"
Current:
![image](https://user-images.githubusercontent.com/1673303/88471380-5ee04e80-cf3b-11ea-93d9-e58417835176.png)

It would be nice to replace this with an actual line break.

For reference, V6 doesn't preserve line breaks either, but it doesn't show this special char either.

[2020-07-26 04:44] damithc opened #10425 "Buttons with icons: replace icon with spinner when in progress"
For buttons with icons such as the below, it may be neater to _replace_ the icon  with the spinner (rather than _add_ the spinner to the button)  when the button action is in progress.
![image](https://user-images.githubusercontent.com/1673303/88471582-9cde7200-cf3d-11ea-945f-15a36ce58d63.png)

[2020-07-26 05:02] damithc opened #10426 "Instructor add MSQ questions: internal strings used for option values"
V7:
![image](https://user-images.githubusercontent.com/1673303/88471834-124b4200-cf40-11ea-9b51-667c72ec0f43.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88471840-1f683100-cf40-11ea-8dc0-1dd2a7faa5f8.png)

[2020-07-26 05:02] wkurniawan07 commented on #10420
This is breaking down the option field to two which is a big, DB-modifying change.

[2020-07-26 05:07] damithc commented on #10420
Yes, unless we store it as one value but the first line is considered the heading (or use some other delimiter to separate the two). Even then, a lot of changes required I guess. Now may not be the time to do it.

[2020-07-26 05:24] wkurniawan07 commented on #10420
The CSV should only display the text content. It's not anywhere near difficult to achieve it, just that this is a missed case.

[2020-07-26 05:43] damithc commented on #10420
Sounds good. Let's do that then.

[2020-07-26 05:55] damithc opened #10427 "Submit responses: Show MSQ restrictions more prominently"
Current:
![image](https://user-images.githubusercontent.com/1673303/88472608-4118e680-cf47-11ea-9977-50761915ac80.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88472615-5db51e80-cf47-11ea-8e7f-f256c43155d9.png)

V6 is slightly better in terms of layout.
Suggestion: Also use different colors to draw attention to the restrictions.

[2020-07-26 06:00] damithc opened #10428 "Submit responses to MSQ questions: multiple toast messages when restrictions violated"
When a restriction to an MSQ question is violated (example below), there are multiple green and red toast messages (followed by a modal).

![image](https://user-images.githubusercontent.com/1673303/88472694-39a60d00-cf48-11ea-8632-162bf8a62bf2.png)

Ideally, there shouldn't be any toasts as there is a modal later?

[2020-07-26 07:01] damithc opened #10429 "Submit answers to MCQ questions: comments should not allowed independent saving"
![image](https://user-images.githubusercontent.com/1673303/88473496-a8876400-cf50-11ea-8fd8-8160b89fdbcf.png)

The comment is not independent from the response. Hence, should not allow saving on it's own.

[2020-07-26 07:17] damithc opened #10430 "Submit MCQ responses: tweak layout"
Current:
![image](https://user-images.githubusercontent.com/1673303/88473708-d79ed500-cf52-11ea-9c62-078de9a25796.png)

Suggestion:
* Indent options under each student so that the parent-child relationship is clearer
* The gap between two student should be wider than the gap between options

[2020-07-26 07:25] damithc opened #10431 "MCQ results: weight 0 shown as -"
V7:
![image](https://user-images.githubusercontent.com/1673303/88473829-f487d800-cf53-11ea-9eb6-88c939f9abb9.png)
![image](https://user-images.githubusercontent.com/1673303/88473858-2600a380-cf54-11ea-88db-adf69d10f182.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88473835-05d0e480-cf54-11ea-9010-e82c5abb0227.png)

[2020-07-26 07:37] damithc opened #10432 "Instructor view results: show comment count only if non-zero"
![image](https://user-images.githubusercontent.com/1673303/88474039-c3100c00-cf55-11ea-8157-7d687f6821d4.png)

Suggestion: Show the comment count only if non-zero so that only those with comments attracts the eye

[2020-07-26 07:46] damithc opened #10433 "Instructor view results: Use fixed-width floating numbers"
V7:
![image](https://user-images.githubusercontent.com/1673303/88474201-de2f4b80-cf56-11ea-83e6-464edc2e75c3.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88474221-f1421b80-cf56-11ea-8728-fa992bca29bd.png)

[2020-07-26 08:24] damithc opened #10434 "Submit numerical scale response: tweak instruction"
Current:
![image](https://user-images.githubusercontent.com/1673303/88474765-59dfc700-cf5c-11ea-86b6-f3e773b9546c.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88474776-73810e80-cf5c-11ea-8dde-08cd0ed55d64.png)

Suggestion: tweak as per V6
* phrasing
* text color
* dropdown indentation
* dropdown width

[2020-07-26 08:48] damithc opened #10435 "'Points received' should be sorted within the cell"
V7:
![image](https://user-images.githubusercontent.com/1673303/88475093-74676f80-cf5f-11ea-9950-9255061c22df.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88475099-7f220480-cf5f-11ea-9661-04f8750da847.png)

Suggestion: sort as done in V6 so that easier to get lowest, highest, median etc. from an 'eyeball analysis'

Might apply to other places too.

[2020-07-26 08:52] damithc opened #10436 "CSV data of distribute points questions: split values into separate cells"
V7:
![image](https://user-images.githubusercontent.com/1673303/88475173-39197080-cf60-11ea-8ab9-978d84512d55.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88475196-4fbfc780-cf60-11ea-8be4-7a79e0c1fb75.png)

Note: splitting into separate cells allows easy application of excel functions to get further stats

[2020-07-26 09:09] damithc opened #10437 "instructor add distribute-points question: improve form layout"
V7:
![image](https://user-images.githubusercontent.com/1673303/88475470-a62e0580-cf62-11ea-9b25-1b94f4eb170a.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88475463-96162600-cf62-11ea-8cdb-17709e7b228d.png)

[2020-07-26 09:14] damithc opened #10438 "distribute points among instructors: recipient count in not applicable"
V7:
![image](https://user-images.githubusercontent.com/1673303/88475532-48e68400-cf63-11ea-8264-515445cdca51.png)

Seems to be a new feature added to V7. In this case, this setting is not applicable because points should be distributed among _all_ recipients.

[2020-07-26 09:18] damithc opened #10439 "Difference in visibility info"
V7:
![image](https://user-images.githubusercontent.com/1673303/88475576-e9d53f00-cf63-11ea-938b-41573273ead1.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88475579-f5c10100-cf63-11ea-9f75-aa0098cb9326.png)

[2020-07-26 09:23] damithc opened #10440 "Showing role permissions: use a bigger modal"
Current:
![image](https://user-images.githubusercontent.com/1673303/88475654-98797f80-cf64-11ea-8f6c-eef84c83438b.png)

Suggestion: use a bigger modal to avoid this overflow (as done in V6)

[2020-07-26 09:24] damithc opened #10441 "Add instructor: missing space after checkbox"
![image](https://user-images.githubusercontent.com/1673303/88475687-db3b5780-cf64-11ea-8de7-0318df159712.png)

Missing space

[2020-07-26 09:32] damithc opened #10442 "Add instructor: untick custom permissions by default"
Current: all options are ticked by default
![image](https://user-images.githubusercontent.com/1673303/88475802-c57a6200-cf65-11ea-81a2-cd124676ee03.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88475810-d32fe780-cf65-11ea-91db-0fa05ff255a2.png)

Suggestion: untick by default to match the given explanation

[2020-07-26 09:39] damithc opened #10443 "Add instructor to course: rephrase 'None'"
Current:
![image](https://user-images.githubusercontent.com/1673303/88475894-a29c7d80-cf66-11ea-81fd-57cb8ddf3d95.png)

Good job adding this in. For better clarity, change to `Students not in a section` (or add a tooltip). Otherwise, can be interpreted as _don't apply these to any sections_ which of course doesn't make sense but still could puzzle the user.

[2020-07-26 09:45] damithc opened #10444 "Add instructor to course: set the default display label to 'Instructor'"
V7:
![image](https://user-images.githubusercontent.com/1673303/88476043-a977c000-cf67-11ea-8b5c-042118e233e4.png)
V6:
![image](https://user-images.githubusercontent.com/1673303/88476037-9664f000-cf67-11ea-979a-91d8aa139858.png)

Better to set default value as `Instructor` because, if left empty, back end sets it to `Instructor` anyway.

[2020-07-26 09:58] damithc opened #10445 "Show instructor+student full name in the results"
When the receiving feedback as an instructor but also is a student, only the first name is shown in results. This happens in V6 too.
![image](https://user-images.githubusercontent.com/1673303/88476217-5f8fd980-cf69-11ea-9626-ce24a00606d1.png)

![image](https://user-images.githubusercontent.com/1673303/88476243-864e1000-cf69-11ea-8229-7ad6695e2f57.png)

[2020-07-26 10:01] damithc opened #10446 "Instructor view course details: style course and instructor details differently"
V7:
![image](https://user-images.githubusercontent.com/1673303/88476311-f0ff4b80-cf69-11ea-9732-81fc6bc65135.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88476300-db8a2180-cf69-11ea-9324-670b69fe2bfd.png)

Suggestion: style the two panels differently, and increase the gap between the two as well.

[2020-07-26 10:09] damithc opened #10447 "Instructor search page: show spinner while waiting for results"
Also missing in V6

EDIT: It turns out there is a loading indicator in this page (below the top nav bar), but for consistency, we should use a spinner instead.

[2020-07-26 10:13] wkurniawan07 commented on #10299
All important items are done. Kudos to everyone involved.

[2020-07-26 10:13] #10299 closed

[2020-07-26 12:24] damithc opened #10448 "Add question to session: team-contribution questions should not inherit custom visibility from previous question"
Team contribution questions have only two visibility options. They should not inherit custom visibility from the question above.

![image](https://user-images.githubusercontent.com/1673303/88478850-00888f80-cf7e-11ea-81a7-63ce54c006b5.png)

[2020-07-26 12:32] damithc opened #10449 "Submit responses to team contribution questions: tweak layout, add tooltip"
V7: ![image](https://user-images.githubusercontent.com/1673303/88478967-b48a1a80-cf7e-11ea-9c3c-c96de1ae2680.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88478982-c966ae00-cf7e-11ea-930d-a85098d81a14.png)

Suggestions:

1. move `evaluee/recipient` closer to dropdowns (also missing in V6)
1. add tooltip to the above
1. increase gap between students

[2020-07-26 12:37] damithc opened #10450 "Submit response: improve style of visibility info"
Current:
![image](https://user-images.githubusercontent.com/1673303/88479070-527de500-cf7f-11ea-8046-94f393202798.png)

Suggestions:
1. Increase top margin
1. Put inside a headless borderless box with a very light grey background so that it shows up as a block element instead of blending in with the question body.

[2020-07-26 12:46] damithc opened #10451 "Instructor view results of team contribution questions: info link doesn't go to the correct info"
![image](https://user-images.githubusercontent.com/1673303/88479324-db495080-cf80-11ea-950f-533301f9724e.png)

The target of this link doesn't auto-scroll to the correct location (indicated below) in the help page.
![image](https://user-images.githubusercontent.com/1673303/88479346-07fd6800-cf81-11ea-8dcb-4d5fd990eb1c.png)

[2020-07-26 12:50] damithc opened #10452 "instructor view results of team-contribution question: differences in the summary table"
V7:
![image](https://user-images.githubusercontent.com/1673303/88479394-76dac100-cf81-11ea-99c3-86e2eaf56575.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88479378-5e6aa680-cf81-11ea-9bab-0f3a782c407a.png)

Missing in V7
1. Tooltip for N/A
1. Rows containing all N/A

[2020-07-26 12:55] damithc opened #10453 "csv results of contribution questions: split ratings received into separate cells"
V7:
![image](https://user-images.githubusercontent.com/1673303/88479523-42b3d000-cf82-11ea-93d8-0f59a0c74356.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88479535-54957300-cf82-11ea-9f5a-591fc73000f2.png)

[2020-07-26 13:04] wkurniawan07 commented on #10439
Slight redundancy because "The receiving instructor" can obviously see "the name of the recipient", but not inaccurate otherwise.

[2020-07-26 13:10] damithc opened #10454 "View responses of rubric questions: slight difference in summary stats"
V7:
![image](https://user-images.githubusercontent.com/1673303/88479783-3d578500-cf84-11ea-84ac-93ff3110bca9.png)

V6:
![image](https://user-images.githubusercontent.com/1673303/88479775-29ac1e80-cf84-11ea-9e80-34a4eac636c6.png)

Difference possibly due to rounding off?

[2020-07-26 13:13] wkurniawan07 commented on #10454
13% is right because it is 1 response out of 8, 1/8 = 12.5%, rounded up to 13%.

I would even argue that this should not be rounded to the nearest integer, but rather to the 2 d.p. just like the average.

[2020-07-26 13:23] wkurniawan07 commented on #10438
This is not a new feature. This is a generic feature for all question types, if the recipient type can potentially result in a large list of participants (specifically: students, teams, instructors).