[2019-01-14 08:50] #9327 closed

[2019-01-14 12:10] #8505 closed

[2019-01-14 12:58] wenmogu commented on #9306
I agree that we should add it in. I encountered this problem a few times. Although google gives me the answer, it will be helpful if we add it into the [troubleshooting guide](https://github.com/TEAMMATES/teammates/blob/master/docs/troubleshooting-guide.md).

[2019-01-15 02:43] xpdavid commented on #9320
[V6.16.0](https://github.com/TEAMMATES/teammates/releases/tag/V6.16.0) has been released by @xpdavid at January 15th, 2019, 10.30am SGT.

Code contributions from: @Alessandra-Rossaro, @AyushChatto, @YaroslavGnatyuk, @akash1994deep, @han-gyeol, @jacoblipech, @monmanuela, @priyamalM, @rrtheonlyone, @ryanrowse, @tanhengyeow, @wkurniawan07, @xpdavid
Review contributions from: @LiHaoTan, @damithc, @suk

[2019-01-15 02:49] xpdavid commented on #9320
@damithc The datastore backup mechanism has changed.

The `build.properties` need to be updated. See
https://github.com/TEAMMATES/teammates-ops/blob/master/platform-guide.md#datastore-backup-and-recovery for more info.

We can reuse the old backup Cloud Storage Bucket (called `backups` I think) or create a new one (with lower tier storage class (e.g. `Regional`) to save money :) ).

[2019-01-15 03:30] tanhengyeow commented on #9328
Hi @AkshitOstwal

Please look through the [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) to get started :) Feel free to post any issues/questions you have along the way.

[2019-01-15 04:08] #9328 closed

[2019-01-15 06:34] #9322 closed

[2019-01-15 10:09] Arpitpundir opened #9330 "Need help:to get started"
hii, i am new here, so if anybody could help me to get started that would be really helpfull, i know javascript, i just wanna know what tech teammates is using, so that i can learn it and start contributing and any other advice for a gsoc aspirant  would be appreciated?

[2019-01-15 10:20] gildas15 commented on #8465
Please can I work on this issue

[2019-01-15 11:42] xpdavid commented on #9330
Hi @Arpitpundir

Please look through the [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) to get started :) Feel free to post any issues/questions you have along the way.

[2019-01-15 11:42] #9330 closed

[2019-01-16 05:38] damithc commented on #9320
@xpdavid looks like Google changed something in their login page again. Can you try StudentHomePageUiTest against a live server to see if that is the case?

[2019-01-16 08:53] xpdavid opened #9331 "Update automated login to match new Google login page"
Google have changed their login pages. Therefore, our automated login should also be updated.

[2019-01-16 09:20] gildas15 commented on #9299
Please as the email don't work locally to send invitation link to student, I don't know how to access the student view of the application.

[2019-01-16 11:09] #9331 closed

[2019-01-18 01:02] wkurniawan07 commented on #9165
Resolved in #9166.

[2019-01-18 01:02] #9165 closed

[2019-01-18 04:00] amrut-prabhu opened #9336 "development.md: Fix Firefox E2E setup misinformation"
development.md#using-firefox: Mentions "chromedriver executable" under geckodriver setup.

- **Environment**:
`master` branch at commit d81f75e

**Steps to reproduce**
N/A. Small error in documentation.

**Expected behaviour**
Should state that the geckodriver executable path should be added.

**Actual behaviour**
"Specify the path to the **chromedriver** executable in test.geckodriver.path"

**Ad

[2019-01-18 04:20] damithc commented on #9167
Did not fail at v6.16.0

[2019-01-18 04:20] #9167 closed

[2019-01-18 04:20] damithc commented on #9114
Did not fail at v6.16.0

[2019-01-18 04:20] #9114 closed

[2019-01-18 04:20] damithc commented on #8909
Did not fail at v6.16.0

[2019-01-18 04:20] #8909 closed

[2019-01-18 04:21] damithc commented on #8084
Did not fail at v6.16.0

[2019-01-18 04:21] #8084 closed

[2019-01-18 04:26] damithc opened #9337 "Fix failure test failure: browsertests.ScrollUnitTest"
v16.6.0

Expected :400
Actual   :356
	at org.junit.Assert.fail(Assert.java:88)
	at org.junit.Assert.failNotEquals(Assert.java:743)
	at org.junit.Assert.assertEquals(Assert.java:118)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at teammates.test.cases.BaseTestCase.assertEquals(BaseTestCase.java:149)
	at teammates.test.cases.browsertests.ScrollUnitTest.scrollToPosition_feedbackEditPage_scroll

[2019-01-18 04:45] damithc commented on #9320
Deployed. Thanks to everyone who contributed 💯

[2019-01-18 04:45] #9320 closed

[2019-01-18 04:46] wkurniawan07 commented on #9336
Must be tardiness on my part when updating the documents. @amrut-prabhu please be welcomed to.

[2019-01-18 04:47] wkurniawan07 commented on #9337
Closing as this item will be moot in V7 (all browser tests are going to be rewritten).

[2019-01-18 04:47] #9337 closed

[2019-01-18 14:08] #9336 closed

[2019-01-18 14:10] wkurniawan07 commented on #9313
Closing as it looks like the problem has been resolved.

[2019-01-18 14:10] #9313 closed

[2019-01-19 06:08] #8536 closed

[2019-01-19 13:39] AkshitOstwal opened #9341 "could not set up developing enviroment , step 3,npm install and angular CLI client"
- **Commit SHA: ba91074b70129892364b3a6df8e0b3c15c75eae5 **
- **Operating System:windows 10**
- **JDK Version: java version "1.8.0_192"**
- **Node.js Version:v11.7.0**
- **Google Cloud SDK Version:230.0.0**
- **Eclipse / IntelliJ Version (if applicable):intellij 2018.3.3**
- **Firefox / Chrome Version (if applicable):**

** step 3 of setting up enviroment**
error while running this code

`C:\Users

[2019-01-19 14:50] xpdavid commented on #9341
Network error? Or Error in NodeJS itself. If you search `npm ERR! Unexpected end of JSON input while parsing near` on Google. You will find a bunch of possible solution. You can first try that.

[2019-01-19 14:52] xpdavid commented on #9230
Closed as #9320 (V.6.16.0) is released.

[2019-01-19 14:52] #9230 closed

[2019-01-19 20:41] AkshitOstwal commented on #9341
done that , issue soved thanks @xpdavid

[2019-01-20 03:36] #9341 closed

[2019-01-20 09:35] ChooJeremy opened #9346 "Status messages and error messages can be missed by users"
- **Environment**: `master` branch at commit ba91074b70129892364b3a6df8e0b3c15c75eae5

**Steps to reproduce**
* Login as instructor
* Go to edit a feedback session page. Sample URL: localhost:4200/web/instructor/sessions/edit?fsname=First%20team%20feedback%20session&courseid=_courseID_
* Click edit, then click save on the first question

**Expected behaviour**
* Any resulting status message appear

[2019-01-20 12:38] wkurniawan07 commented on #9041
No longer relevant in V7.

[2019-01-20 12:38] #9041 closed

[2019-01-20 17:02] AkshitOstwal commented on #9311
i would like to solve this issue , can I.

[2019-01-20 18:58] ShumailAhmed123 opened #9350 "I would like to contribute to this Project."
Hi,

My name is Shumail Ahmed and I am a Computer Science student. I am in the last year of graduation. I am writing this because I would like to contribute to this project. In university, I am studying about the "Open Source" software.
My teacher has given me a task to contribute to the GitHub in any project, which relates to my interest and according to my level of skills.
I found this project a

[2019-01-20 19:53] AkshitOstwal opened #9352 "1 steps missing while While starting the dev server with Intellij in Developement.md"
- **Environment**: basic developement in Intellij , master branch

**Steps to reproduce**
N.A documentation error

**Expected behaviour**
adding configuration while running Google App Engine Standard Local Server for first time in Intellij
like : under Artifact to deploy select teammate.war(exploded)

**Actual behaviour**
no/partial configuration step given

**Additional info**

[2019-01-20 19:54] AkshitOstwal commented on #9352
and i have solved this issue please go through my first PR

[2019-01-21 03:59] tanhengyeow commented on #9350
Hi @AkshitOstwal

Please look through the [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) to get started :) Feel free to post any issues/questions you have along the way.

[2019-01-21 03:59] #9350 closed

[2019-01-21 05:04] xpdavid commented on #9352
The `.war` is automatically selected when configuring [`Frameworks detected: Google App Engine Standard, Angular CLI frameworks are detected.`](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-setup.md#project-setup-1)?

[2019-01-21 09:17] RonakLakhotia opened #9354 "Fix path for userMapData.json in sort-usermap.js"
Incorrect file path specified in sort-usermap.js due to recent migration.

- **Environment**:
`master` branch at commit https://github.com/TEAMMATES/teammates/commit/f1246060d9d0d9de64a0ebb1ded01e3b8c151a04
**Steps to reproduce**
N/A.

**Expected behaviour**
Correct file path specified should be `./src/web/data/userMapData.json`

**Actual behaviour**
Current file path is `./src/web/assets/data/use

[2019-01-21 09:34] AkshitOstwal commented on #9352
no it is not automatically selected by default , i have recently done my first time dev server starting.
it was not selected by default and ,error was showing with popup " java.nullpoint.exception".

[2019-01-21 09:38] wkurniawan07 commented on #9354
It's not exactly outdated, it's me being careless when updating the path. Please be welcomed to correct it.

[2019-01-21 12:02] xpdavid commented on #9352
Do you have a screenshot for the selection? I cannot reproduce the issue as there is only one option here.

![image](https://user-images.githubusercontent.com/13977235/51473463-65768e80-1db7-11e9-8edb-1af143fabb24.png)

[2019-01-21 12:57] AkshitOstwal commented on #9352
you cant reproduce it in already configured App Engine Server
but you may reproduce it by:
goto `Run` -> `Edit Configuration` ->`+`
add new `Google App Engine Standard Local Server` configuration.

![image](https://user-images.githubusercontent.com/33562295/51475470-67852100-1da8-11e9-9ac7-fc6a8cdae4cd.png)
 you can see here that ` Artifact to deploy` is by default not selected , and an error mess

[2019-01-21 18:07] xpdavid commented on #9352
Let's see if other people get the same problem.

[2019-01-22 12:41] xpdavid commented on #5704
The position of the session template file is in now in frontend (https://github.com/TEAMMATES/teammates/pull/9345) (Subject to the review :P)

[2019-01-22 12:52] wkurniawan07 opened #9356 "Improve UI for loading indicators"
Previously, in V6, moving to another page means refreshing the entire view and usually browsers give that indication (i.e. `Loading http://localhost:8080/page/somePage...`), and when the page is served, all data has been included in it. In the few places where AJAX is used, loading indicators/spinners/... are used and replaced with data after the data load finished.

In V7, since we are adopting S

[2019-01-22 12:55] xpdavid commented on #9356
Is it like this https://element.eleme.io/#/en-US/component/loading#full-screen-loading (just a idea, but we are not using elementUI)?

[2019-01-22 13:01] wkurniawan07 commented on #9356
No, full screen loading is what fits (and could/should have been implemented in) V6.

[2019-01-22 13:04] xpdavid commented on #9356
Then https://element.eleme.io/#/en-US/component/loading#loading-inside-a-container might fit. We can write a directive (https://angular.io/guide/attribute-directives) in Angular to do this.

[2019-01-22 13:25] #9354 closed

[2019-01-22 14:52] #8943 closed

[2019-01-22 15:59] #4853 closed

[2019-01-22 15:59] wkurniawan07 commented on #8183
Resolved in V7.

[2019-01-22 15:59] #8183 closed

[2019-01-22 15:59] wkurniawan07 commented on #8383
Resolved in V7.

[2019-01-22 15:59] #8383 closed

[2019-01-22 16:00] wkurniawan07 commented on #8227
Resolved in V7.

[2019-01-22 16:00] #8227 closed

[2019-01-22 16:01] wkurniawan07 commented on #2620
Resolved in V7 (session is no longer used to contain any data).

[2019-01-22 16:01] #2620 closed

[2019-01-22 16:01] wkurniawan07 commented on #9239
Resolved in V7.

[2019-01-22 16:01] #9239 closed

[2019-01-22 16:01] wkurniawan07 commented on #8150
Resolved in V7.

[2019-01-22 16:01] #8150 closed

[2019-01-22 16:02] wkurniawan07 commented on #7180
Resolved in V7.

[2019-01-22 16:02] #7180 closed

[2019-01-22 16:02] wkurniawan07 commented on #8749
Resolved in V7.

[2019-01-22 16:02] #8749 closed

[2019-01-22 16:02] wkurniawan07 commented on #6732
No longer applicable.

[2019-01-22 16:02] #6732 closed

[2019-01-22 16:02] wkurniawan07 commented on #3866
Resolved in V7.

[2019-01-22 16:02] #3866 closed

[2019-01-22 16:07] wkurniawan07 commented on #6745
Resolved in V7.

[2019-01-22 16:07] #6745 closed

[2019-01-22 16:08] wkurniawan07 commented on #6472
Resolved in V7.

[2019-01-22 16:08] #6472 closed

[2019-01-22 16:10] wkurniawan07 commented on #3806
No longer applicable in V7 (no more jQuery)

[2019-01-22 16:10] #3806 closed

[2019-01-22 16:10] wkurniawan07 commented on #3673
No longer applicable in V7 (no more jQuery-ui).

[2019-01-22 16:10] #3673 closed

[2019-01-22 16:11] wkurniawan07 commented on #3998
No longer applicable in V7 (no more jQuery).

[2019-01-22 16:11] #3998 closed

[2019-01-22 16:39] wkurniawan07 opened #9357 "Investigate SEO-friendliness for V7"
With the adoption of SPA architecture, a new problem has cropped up: SEO friendliness.

Most articles online will suggest using Angular Universal, and that's likely (but not guaranteed) to be our solution as well.

- https://medium.com/codingthesmartway-com-blog/angular-seo-making-angular-6-single-page-web-apps-search-engine-friendly-c8ec4ff2f549
- https://blog.angular-university.io/angular-2-univ

[2019-01-22 18:24] AkshitOstwal commented on #9352
hey @xpdavid  i would like to know how much time does it take to review the PR , and also i have made changes in my `master` branch and added my PR with it too ,so can i still solve other issues till this PR is merged ? (i think it might affect this PR to)
sorry if this is a naive question , i m new to open source.

[2019-01-22 18:39] xpdavid commented on #9352
The issue is in pending status as more information is need. Therefore, your PR is on hold.

You should not do that. Please read our contribution guide carefully.

You are welcome to.

[2019-01-23 01:20] jgolatkar opened #9359 "JSP Error while importing project"
After importing project in Eclipse and following every step given in Setup guide, I am getting following errors:
_Can not find the tag library descriptor for "http://java.sun.com/jsp/jstl/core_
- **Windows 10**
- **JDK Version: 1.8**
- **Google Cloud SDK Version : 230.0.0**
- **Eclipse Version : Photon 2018-12 (4.10.0)**

**What I was trying to do / What I need help with**

![screenshot 24](https:

[2019-01-23 03:09] tanhengyeow commented on #9346
Hi @Gaurav-Punjabi

Thanks for your interest. However, we would recommend new contributors to attempt `d.FirstTimers` issues to get yourself started.

Also, this feature is labelled `c.Epic` so it might be a little complex for new comers to attempt. Even so, you are welcome to post suggestions on your approach to solve this issue for discussion :)

[2019-01-23 10:39] ChooJeremy commented on #9346
@wkurniawan07 Is the modal dialog in then? If not, I can implement that was well.

It shouldn't be too hard to implement snackbars or modal dialogs as a service (similar to status message service right now) and implement them for usage in their individual pages. However, this would also cause status messages to be inconsistent in how it's being shown to the user.

[2019-01-23 14:50] damithc opened #9360 "Add front-end configuration point"
* Current: The Google Form link for the 'Account Request' form is (in http://teammatesv4.appspot.com/request.jsp) is hardcoded.

* Problem: Devs testing this page will be using the same Google form as the production version. It is not possible to distinguish such dummy requests from genuine requests which means TEAMMATES admin could end up creating genuine accounts for dummy account requests.

* S

[2019-01-23 15:06] wkurniawan07 commented on #9359
JSP/JSTL is no longer used. You can proceed as if none of the JSP problems exist.

[2019-01-23 15:09] wkurniawan07 commented on #9346
@ChooJeremy modal dialog is already provided out of the box by `ng-bootstrap`. You only need to import the `NgbModal` service. The one that I showed up there is a very specific component I created for the purpose of error reporting.

You don't need to worry about consistency when the standard is not even put in place yet.

[2019-01-23 17:32] jgolatkar commented on #9359
In that case, would be better to remove these lines if it's not gonna break anything  or a note regarding it in documentation?

[2019-01-23 22:40] jgolatkar commented on #9359
imported project in IntelliJ ..seems to be working fine so far.. thus , closing this issue

[2019-01-23 22:40] #9359 closed

[2019-01-24 05:40] xpdavid opened #9361 "Remove removeIrrelevantVisibilityOptions in FeedbackQuestionAttributes"
The method is there because some visibility settings do not make sense under certain giver/recipient type (e.g. It does not make sense to talk about RECEIVER_TEAM_MEMBERS when recipientType === NONE).

The removal of inapplicable visibility settings is done in frontend https://github.com/TEAMMATES/teammates/blob/090401c4a612475edfbbe85df2bcc055c9b01c64/src/web/services/visibility-state-machine.ts#

[2019-01-24 06:51] xpdavid opened #9362 "Replace responseMetaData with responseDetails in FeedbackResponseAttributes"
The `responseMetaData` in `FeedbackResponseAttributes` contains serialised JSON string of `FeedbackResponseDetails`.

This storage implementation detail should be hidden in the `FeedbackResponsesDb` rather than being carried together with the DTO. That is, the `FeedbackResponseAttributes` returned by the DB should already contains the deserialised  `FeedbackResponseDetails` object.

Code example:

[2019-01-24 07:06] xpdavid opened #9363 "Replace questionMetaData with questionDetails in FeedbackQuestionAttributes"
The `questionMetaData` in `FeedbackQuestionAttributes` contains serialised JSON string of FeedbackQuestionDetails.

This storage implementation detail should be hidden in the `FeedbackQuestionsDb` rather than being carried together with the DTO. That is, the `FeedbackQuestionAttributes` returned by the DB should already contains the deserialised `FeedbackQuestionDetails` object.

Code example:
[co

[2019-01-24 07:37] ChooJeremy commented on #8779
I'll work on this. since it's been a couple of months since the last update.

[2019-01-24 07:58] #2139 closed

[2019-01-24 17:25] wkurniawan07 opened #9366 "Tidy up UI design for some system messages"
There are several messages that will be displayed to user regardless of page, depending on condition:

- Unsupported browser, disabled cookies (they are separate)
  <img width="1434" alt="screen shot 2019-01-25 at 1 18 50 am" src="https://user-images.githubusercontent.com/7261051/51695946-3f631f80-203f-11e9-99c3-08ee57856df3.png">
  They need to be displayed more properly (UI tidy up) and perhaps

[2019-01-24 17:28] wkurniawan07 opened #9367 "Display hints/messages to user without internet connection"
Even without internet connection, user can still access the front static pages of TEAMMATES, thanks to the progressive web app infrastructure which has already been put in place.

However, user will need to be notified that s/he cannot login and/or access the data-serving pages of the application. This has not been done in any way now.

For starter, [the following function](https://developer.mozil

[2019-01-24 18:13] #9311 closed

[2019-01-25 05:30] jgolatkar commented on #9363
@xpdavid yes, i am aware of it and i can guess it by looking at e.8 lol. but it will be good learning opportunity to know more about this project because i am looking forward participate in GSoC this year.

[2019-01-25 14:29] monmanuela opened #9369 "Update script sort-usermap to remove duplicates in userMapData.json"
There is a duplicate institute in the `userMapData.json`

- **Environment**: `master` branch at commit e7db05

**Steps to reproduce**
NIL

**Expected behaviour**
There should not be any duplicate institute in the json file

**Actual behaviour**
There are 2 "Hasselt University" in the json file

**Additional info**

I'll update the sort-usermap script to remove duplicates too.

[2019-01-25 15:54] Adoby7 commented on #9361
I think I can try this. However, is it an appropriate change? I think the backend API should be independent (i.e. doesn't know whether input is valid), so it needs to handle invalid input appropriately

[2019-01-25 15:55] xpdavid commented on #9361
That's why the issue is labeled as `ToInvestigate`

[2019-01-25 16:42] Adoby7 commented on #9362
I may try this issue, and is it related to #9363 ?

[2019-01-25 16:43] xpdavid commented on #9362
They are independent.

[2019-01-25 17:15] wkurniawan07 opened #9373 "Standardize footer design"
Currently V7's footer is still the placeholder created during the initial page skeleton design:
<img width="1262" alt="screen shot 2019-01-26 at 1 12 45 am" src="https://user-images.githubusercontent.com/7261051/51761248-959b9580-2107-11e9-9ef7-58aae61ff6bf.png">

However, V6 does not fare that much better since it is wildly varying from page to page:
- Static front pages
  <img width="1171" alt="

[2019-01-25 17:34] Adoby7 commented on #9362
Could you assign this issue to me? Thanks!

[2019-01-26 01:56] junming403 commented on #9125
What does it mean by (Open|Closed|Closing) Email ?

[2019-01-26 06:47] xpdavid commented on #9125
There are three methods that need to be refactored.

`getFeedbackSessionEntitiesPossiblyNeedingOpenEmail`
`getFeedbackSessionEntitiesPossiblyNeedingClosedEmail`
`getFeedbackSessionEntitiesPossiblyNeedingClosingEmail`

[2019-01-26 10:51] xpdavid opened #9377 "Fix unstable FeedbackSessionsLogicTest"
There is a chance that `getNewFeedbackSession` will generate invalid a feedback session whose `visible from time` is after `start time`.

[code]

[2019-01-26 22:39] gildas15 commented on #9362
Please I am about to solve this issue

[2019-01-27 08:11] Gaurav-Punjabi commented on #9369
Can i solve this issue?

[2019-01-27 08:26] #9369 closed, assigned to nobody

[2019-01-27 11:10] #8215 closed

[2019-01-27 14:46] wkurniawan07 commented on #8799
Resolved in V7.

[2019-01-27 14:46] #8799 closed

[2019-01-27 14:46] wkurniawan07 commented on #9011
Resolved in V7.

[2019-01-27 14:46] #9011 closed

[2019-01-27 14:48] wkurniawan07 commented on #8791
Resolved in V7.

[2019-01-27 14:48] #8791 closed

[2019-01-27 14:54] Gaurav-Punjabi commented on #9377
Can i work on this issue?

[2019-01-27 17:59] #9075 closed, assigned to nobody

[2019-01-27 17:59] wkurniawan07 commented on #6545
Closing due to lack of scope.

[2019-01-27 17:59] #6545 closed

[2019-01-27 18:00] #8844 closed

[2019-01-27 18:03] #4034 closed

[2019-01-28 06:37] junming403 commented on #9125
Can assign this issue to me?

[2019-01-28 07:09] monmanuela commented on #9373
I'll work on the footer design

[2019-01-28 08:03] xpdavid commented on #9125
You can send a WIP PR first without test cases for review.

[2019-01-28 14:36] #9360 closed

[2019-01-28 14:56] #9297 closed

[2019-01-28 15:15] wkurniawan07 commented on #6707
Done in V7.

[2019-01-28 15:15] #6707 closed

[2019-01-28 15:16] wkurniawan07 commented on #9079
This can be considered as resolved.

[2019-01-28 15:16] #9079 closed

[2019-01-28 15:18] wkurniawan07 commented on #9255
Phase 1 has been concluded. Not everything targeted has been migrated, but enough for us to move on to the next phase. Thanks for everyone who has contributed!

[2019-01-28 15:18] #9255 closed

[2019-01-28 16:41] wkurniawan07 commented on #9321
[V7.0.0-alpha.0](https://github.com/TEAMMATES/teammates/releases/tag/V7.0.0-alpha.0) has been released by @wkurniawan07 at January 29th, 2019, 12.40am SGT.

Code contributions from: @Adoby7, @RonakLakhotia, @amrut-prabhu, @ccannawright, @dalessr, @darrenwee, @jacoblipech, @joanneong, @joncros, @monmanuela, @tanhengyeow, @tran-tien-dat, @wenmogu, @wkurniawan07, @xpdavid
Review contributions from: @

[2019-01-28 16:41] #9321 closed

[2019-01-28 16:44] wkurniawan07 opened #9382 "Migrate app pages to Angular, phase 2"
Phase 2 of the V7 migration is underway.

Firstly, dealing with the missed pages/features of phase 1:
- [x] Instructor home page/feedback sessions page: remind particular students feature
- [x] Instructor home page/feedback sessions page: resend link to view result
- [x] Instructor sessions edit page: copy questions from other feedback session
- [x] Instructor course edit page: custom privilege se

[2019-01-29 05:49] xpdavid commented on #9321
@damithc The [`SingleAccountGoogleIdMigrationScript`](https://github.com/TEAMMATES/teammates/pull/9298) introduced in this release is V6-compatible. If there is any service request from user, you can just run the script to help them. Please run `./gradlew createConfigs` again and change the `client.target.url` in `client.properties` to proper value.

[2019-01-29 05:52] damithc commented on #9321
Can it be hot-patched into V6? I don't want to set up V7 on my Computer just yet.

[2019-01-29 06:40] AkshitOstwal commented on #9377
Is it because `EndTime` is before the `visible from time`
we need to `end time` after the `session` and `result` are `visible`
am I right !

[2019-01-29 07:10] #8779 closed

[2019-01-29 07:15] xpdavid commented on #8774
@ChooJeremy Can you investigate whether https://github.com/TEAMMATES/teammates/issues/8774#issuecomment-381315762 is solved?

[2019-01-29 08:14] rrtheonlyone commented on #9366
I can try and work on this issue!

[2019-01-29 16:07] wkurniawan07 opened #9386 "Replace Macker with ArchUnit"
Currently, we're using [Macker](https://github.com/andrena/macker) to check for architectural integrity, e.g. which packages cannot import which packages. However, Macker as a project is dead and is very unlikely to support Java 11 and beyond.

We need a new tool with the same/similar capability that is still actively developed/maintained, e.g.:
- [CheckStyle's `ImportControl` rule](http://checkst

[2019-01-29 16:30] xpdavid commented on #9386
Tried `CheckStyle's ImportControl rule` one year ago :P. Missing some critical features. May want to start with `ArchUnit` first.

[2019-01-30 12:55] gildas15 commented on #9299
Please this are the only question type that show, was that suppose to be like that
![question](https://user-images.githubusercontent.com/36203062/51982521-2a96e980-248e-11e9-94c0-9cfa90bb4e3b.png)

[2019-01-30 13:55] crownedlake opened #9389 "Not able to run the front-end dev server"
- **Commit SHA:**  5de3876aa2b3a73853b45a4825871c7d3b89b03b
- **Operating System:** Ubuntu 18.04.1 LTS
- **JDK Version:** 1.8.0_191
- **Node.js Version:** v10.14.2
- **Google Cloud SDK Version:** 231.0.0
- **Eclipse / IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**
I am setting up the local development environ

[2019-01-30 14:24] jacoblipech commented on #9389
Hi @crownedlake did you face any other problem during the set up process? Also, can you do an `git pull` from the master to ensure that you are on the latest version of teammates.

[2019-01-30 14:32] xpdavid commented on #9299
We are doing migration from SSR to angular. For full feature, please refer to the release branch.

[2019-01-30 14:46] wkurniawan07 commented on #9389
@crownedlake, if your repo is the same as what I see here https://github.com/crownedlake/teammates (and it tallies with the commit SHA you wrote above), you need to sync it with the latest `master` branch. A lot has changed, and very particularly, the movement from JSP to Angular.

[2019-01-30 16:04] jacoblipech commented on #8530
@damithc As we are doing migration, referencing to #8823 which is an issue of later date. I will simply follow the same layout but collapsing the two options into one?

[2019-01-30 19:58] gildas15 commented on #9299
ok thanks

[2019-01-31 01:17] damithc commented on #8530
Sure.

I don't mind keeping it the current way too, especially because users are familiar with it. In that case, rename the option to `Remind all yet to submit`

[2019-01-31 05:39] AkshitOstwal commented on #9377
hey @xpdavid ,can you please assign this issue it to me ,i am working on this now in my PR .

[2019-01-31 06:35] ChooJeremy opened #9390 "Cannot create an instructor with an email that has a 2 letter domain"
- **Environment**: 1ba05cc2d048f053fc9e1a27e1ee38205a67e6ad

**Steps to reproduce**
* Login as admin
* Create an instructor with an email of 2 letter domain (i.e. email@me)

**Expected behaviour**
* The instructor is added in to the system and the email is sent to the instructor

**Actual behaviour**
It results in the following message:
String index out of range: 3

IntelliJ log:
[code]

**Additio

[2019-01-31 07:06] Adoby7 commented on #9174
To fix a wrong `feedbackResponseComment`. Do we simply refer it to a random `feedbackResponse`,  or we need to follow some rule, such as each `response` should have limited number of `comments`?

[2019-01-31 08:49] crownedlake commented on #9389
Hi @jacoblipech I did `git pull` before setting the environment.

[2019-01-31 08:51] crownedlake commented on #9389
Hi @wkurniawan07 I have not updated my forked repo but i did 'git pull' from teammates master repo in my local system before setting up, though I will try again by updating my forked repo and proceeding as per the document

[2019-01-31 10:34] crownedlake commented on #9389
## I have updated the repo and followed all the steps again, and happily the front end dev server looks fine ##
I have a new problem while starting the backend server.
Getting the 404 not found error. Help needed.

[2019-01-31 10:51] crownedlake commented on #9134
@tanhengyeow hi, is this issue still open?

[2019-01-31 10:52] #9373 closed

[2019-01-31 10:54] crownedlake commented on #9215
@Skippari Hi, I'd like to contribute if this issue is still open.

[2019-01-31 11:16] crownedlake commented on #9389
So it looks like i have to start front end and back end dev server separately for the application to work fine. Closing this. Thanks for the help guys :smile:

[2019-01-31 11:16] #9389 closed

[2019-01-31 13:47] tanhengyeow commented on #9134
@crownedlake Yes it is, if there are no ongoing active PRs for an issue, feel free to take an issue up.

[2019-01-31 13:56] xpdavid commented on #9390
Is `email@me` a valid email address?

[2019-01-31 13:59] xpdavid commented on #9174
`or we need to follow some rule, such as each response should have limited number of comments?`

We don't have this constraint.

`Do we simply refer it to a random feedbackResponse`

I believe the information is lost during several refactors. Use `git blame` and examine test code to "guess" the actual response.

[2019-01-31 14:02] xpdavid commented on #9215
@Skippari Hi, I believe the issue is resolved in the current `master`.

[2019-01-31 14:02] #9215 closed

[2019-01-31 14:07] #9136 closed

[2019-01-31 14:09] wkurniawan07 commented on #9367
Resolved in #9379.

[2019-01-31 14:09] #9367 closed

[2019-01-31 14:15] junming403 commented on #9219
This this issue still relevant?

[2019-01-31 14:44] RonakLakhotia commented on #7112
I would like to work on this issue.

[2019-01-31 14:48] wkurniawan07 commented on #9390
@ChooJeremy fix it if you want and if it's easy, but if not, there is nothing to worry because this is a problem whose chance of occurrence is virtually 0.

[2019-01-31 14:53] wkurniawan07 commented on #7112
@RonakLakhotia this issue is no longer valid in V7.

[2019-01-31 14:53] #7112 closed

[2019-01-31 15:38] RonakLakhotia commented on #2515
Is this issue still valid?

[2019-02-01 01:40] damithc commented on #2515
I believe so. You can test on your dev server to confirm the problem still exists.

[2019-02-01 13:30] RonakLakhotia commented on #2515
I would like to take up this issue.

[2019-02-01 14:51] gapsharma opened #9396 "Can not successfully execute './gradlew setupEclipse'"
- **Commit SHA:**
- **Operating System: LINUX
- **JDK Version: 1.8
- **Node.js Version: 11.9.0
- **Google Cloud SDK Version: 232.0.0
- **Eclipse / IntelliJ Version (if applicable): Oxygen
- **Firefox / Chrome Version (if applicable): 63.0 (ESR)

**What I was trying to do / What I need help with**

I am trying to setup  a development environment and I am getting the following error while trying to

[2019-02-02 07:14] gapsharma commented on #9396
I realized that I had been using wrong URLs/protocol for the maven repositories. I point it to the correct URLs as metioned below and it passed.

[code]

[2019-02-02 07:15] #9396 closed

[2019-02-02 15:15] #9390 closed

[2019-02-07 07:30] amrut-prabhu opened #9404 "Add spell check to input fields in feedback form"
- **Environment**:

**Description of feature/enhancement**
Some of the question types like essay questions allow the feedback giver to type in their answer. It would be good if the input box supported spell check.

**Justification**

Students and instructors who give or receive written feedback will be able to benefit from this as they would be made aware of any errors, which could cause misundrst

[2019-02-07 08:44] jacoblipech opened #9405 "Show default picture as profile photo for student who is yet to join"
- **Environment**: local server at `V7.0.0`, `master` branch at commit `ede259e`.

**Steps to reproduce**
Go to student search page and search for a yet to join student.

**Expected behaviour**
Logically, a student with `yet to join` tag should have a default profile picture or not clickable profile picture. It should not be the error message as shown in the current behaviour below when clicked on

[2019-02-07 09:02] damithc commented on #9404
Not sure if we should go into this area. For one thing, we cannot assume the input is English. Perhaps we should leave it to the users to install something like Grammarly if they want?

[2019-02-07 12:16] rrtheonlyone commented on #9405
I can take this issue.

[2019-02-07 14:10] monmanuela commented on #9405
I'll work on this!

[2019-02-07 15:05] Adoby7 opened #9407 "Remove feedbackQuestionType in FeedbackResponseAttributes"
After replacing responseMetaData with responseDetails in FeedbackResponseAttributes in #9362, the `feedbackQuestionType` in FeedbackResponseAttributes should be removed. This is because `responseDetails` already has the question type information, and without removing, there could be inconsistency problem for the question type in two places

[2019-02-08 08:37] #9377 closed

[2019-02-09 05:43] monmanuela opened #9411 "Inconsistent button styling in Instructor courses page"
- **Environment**: Local server at `V7.0.0`, `master` branch at commit `3bc7b6a`

**Steps to reproduce**
Go to instructor courses page (`/web/instructor/courses`)

**Expected behaviour**
The buttons under `Action(s)` should be styled according to Bootstrap 4's styling, just like the other pages.
![image](https://user-images.githubusercontent.com/35655790/52517053-03030680-2c70-11e9-8679-c0f0dda297

[2019-02-09 05:59] #9362 closed

[2019-02-09 06:05] junming403 opened #9412 "Link Recovery: Provide a method for students to request submissions links to be resent"
TEAMMATES emails a unique link to each user that they can use to submit responses or view results. In some cases users delete that email by accident or cannot find it again in their inbox. It would be good to provide a way for users to request TEAMMATES to resend the link.

Provide a method for students to request submissions links to be resent. The request submission page needs to be protected us

[2019-02-09 06:08] damithc commented on #9412
@junming403 note that someone else attempted this issue sometime back. You may want to dig up that PR to see if anything can be reused.

[2019-02-09 06:09] damithc commented on #9412
Here it is #8490

[2019-02-09 06:13] junming403 commented on #9412
Thank you prof, I will check.

[2019-02-09 06:23] wkurniawan07 commented on #9411
This page was migrated in a rather hurried manner, so there are more UI/UX issues here. Another one is the confirmation when permanently deleting courses, which (wrongly) uses traditional HTML alert rather than Bootstrap alert.

[2019-02-09 06:38] junming403 commented on #9412
User flow from last issue.

* Student goes to 'request for link' page.
* Student goes through 'I'm not a bot' verification.
* Student enters email address
* TEAMMATES sends all links (or we can limit to links related to past 1 month) to the given email address

I feel send all links to the email address might not be a good idea. First, user might not want to all the links. Secondly, it will spam u

[2019-02-09 06:52] damithc commented on #9412
Indeed your proposed approach is more elegant 👍. The downside: it requires more code, more work from the user, and more work on TEAMMATES servers (i.e., cost us more money).
Let's go with the simpler approach first? Note it is meant to send all links in one email, not one email per link.

[2019-02-09 07:03] junming403 commented on #9412
I see, I will go with the simpler approach first. Thank you prof for the feedback.

[2019-02-09 07:11] monmanuela commented on #9411
@wkurniawan07 I can open another issue for that. This seems suitable as a first timer issue, so I'd rather keep this one simple.

[2019-02-09 09:58] #9116 closed

[2019-02-09 14:15] kanwarpreet25 commented on #8465
Is it still open?

[2019-02-09 15:03] monmanuela opened #9416 "Error in showing student detail of a yet to join student"
**Environment**: Local server at `V7.0.0`, `master` branch at commit `3bc7b6a`

**Steps to reproduce**
- Login as an instructor
- Search for a student who is yet to join
- Under `Action(s)`, click the `View` button

**Expected behaviour**
![image](https://user-images.githubusercontent.com/35655790/52522284-1e94fe00-2cbe-11e9-8fc3-73e3683da9aa.png)
In V6, the page shows a warning and the enrollment

[2019-02-09 15:39] RonakLakhotia opened #9417 "Throw exception for negative integers of recommended length"
- **Environment**:
Local server at `V7.0.0`, `master` branch at commit 1edff91d7c04b49b50d270081617d3b2f69b919a

**Steps to reproduce**

1. Login as instructor
2. Navigate to edit feedback sessions page
3. Click on edit for an essay type question.
4. Enter a negative integer value for `Recommended Length` and click save.

**Expected behaviour**

* System notifies the user that negative integers ar

[2019-02-09 19:19] NunoJSantos commented on #9144
Can you explain to me what's asked to be done in this issue?
Thank you

[2019-02-10 02:00] damithc commented on #9416
On another note, `null` is a programmer term that should not appear in a user-facing text.

[2019-02-10 09:32] RonakLakhotia commented on #9417
Also as @damithc pointed out in #9416, the user-facing text displayed on entering a decimal number is not appropriate for the end users.

<img width="1271" alt="screenshot 2019-02-10 at 5 30 34 pm" src="https://user-images.githubusercontent.com/28557842/52532059-d9260e80-2d59-11e9-94d2-ba5b4fd080c1.png">

[2019-02-10 10:56] xpdavid commented on #8688
Resolved in V7. Form data will be well-organised.

[2019-02-10 10:56] #8688 closed

[2019-02-10 11:04] xpdavid opened #9419 "Explore form validation in Angular"
When migrating, most of the form validation logics are discarded (due to time constraint). The data is still being validated but only in backend. The error message is not user friendly (see #9417).

We need to explore form validation options https://angular.io/guide/form-validation in Angular to provide more user-friendly experience.

Related issue: https://github.com/TEAMMATES/teammates/issues/89

[2019-02-10 12:10] xpdavid opened #9420 "RESTFul API consolidation, phase 1"
API consolidation is finally under way 🎉 See detailed plan here https://docs.google.com/spreadsheets/d/e/2PACX-1vRqdUS-T_0lNYNSjCQlrs7nUTNf0WkRGw_sFxVrjbQpnmmzN5UjniOXT56RIcplcIpoufa1kg3dzJxR/pubhtml?gid=1084594222&single=true

For phase 1, we will target all `difficulty === 1` tasks.

Since the migration tasks are small. You can commit all your tasks in a single PR (but pls organize your commit m

[2019-02-10 12:47] #9407 closed

[2019-02-10 14:13] #9405 closed

[2019-02-10 14:13] #9416 closed

[2019-02-10 14:45] wkurniawan07 opened #9421 "Separate user-facing and admin-facing error message in middleware layer"
This complements #9346 in improving user-friendliness of error message.

In V6, all exceptions encountered in the servlet layer will result in redirect to preset error page.

In V7, due to the REST-ful architecture, redirections are not ideal anymore, and the error message is returned as the API response. However, in its initial design, the error message is identical to the error message thrown in

[2019-02-10 14:46] wkurniawan07 commented on #9417
This is a known infrastructure problem, as described in #9421.

[2019-02-10 14:57] wkurniawan07 commented on #9412
I have to disagree here. The work required to list the feedback sessions cannot add that much complication/server load if those feedback sessions have to be retrieved when sending the email containing all links in the first place.

But all other factors considered, the simpler approach should be the way to go for now.

[2019-02-11 04:12] AyushChatto opened #9423 "Links in the Instructor help page to other questions cards do not work"
To recreate:- Open Instructor Help Page and try to click on any links that should lead to a section on the same page. These include the links to the question sections at the top, as well as the links in answers to other answers.

[2019-02-11 05:55] Adoby7 opened #9424 "Remove feedbackQuestionType in FeedbackQuestionAttributes"
After replacing questionMetaData with questionDetails in FeedbackQuestionAttributes in #9363, the `feedbackQuestionType` in FeedbackQuestionAttributes should be removed. This is because `questionDetails` already carries the question type information, and without removing, there could be inconsistency problem for the question type in two places

[2019-02-11 17:36] monmanuela opened #9426 "Fix usage of traditional HTML alert in Instructor courses page"
- **Environment**: * Local server at `V7.0.0`, `master` branch at commit `6078d96`

**Steps to reproduce**
1. Go to instructor courses page (`/web/instructor/courses`)
2. Delete a course
3. Delete that course permanently

**Expected behaviour**
Bootstrap alert is used (pointed by arrow in the screenshot below)

**Actual behaviour**
![image](https://user-images.githubusercontent.com/35655790/525816

[2019-02-12 16:54] AyushChatto commented on #9423
The links on the top have been replaced by a side nav in pull request #9428 . The links within answers remain dead, however.

[2019-02-13 11:08] tanhengyeow commented on #9356
2 observations:
1. When one clicks the `Sessions` tab located on the navbar, there is a brief moment of showing a warning box before the whole page is shown. I suspect other places might face this issue, if the page needs to wait a little longer for the initial load (or even on slow networks) due to the API call.
2. The `Login` snippet on the top right of the page should also be improved, i.e. sho

[2019-02-13 11:32] damithc commented on #9356
I too noticed it in several places.

[2019-02-13 11:44] wkurniawan07 commented on #9356
This is precisely the second paragraph of the issue is about: "We need some kind of loading indicator for all places where [the new page is populated with data] takes place"

[2019-02-13 14:57] damithc opened #9433 "Instructor home page: fix sorting by creation date"
Instructor home page: the default sorting order (by creating date) does not seem to put the most recent course on top
![image](https://user-images.githubusercontent.com/1673303/52720535-c114f000-2fe2-11e9-9e90-55a0535a0356.png)

[2019-02-13 18:53] jacoblipech commented on #9433
I will look into this!

[2019-02-14 01:16] damithc commented on #9433
Another issue I noticed is that all panels seem to auto-expand. Only the latest 3 courses should auto-expand.

[2019-02-14 03:40] darrenwee opened #9434 "GetTimeZonesDataActionTest: fix brittle asserts for time zone offsets"
The asserts that use New York and Sydney's time zones are brittle as these two time zones observe daylight savings, meaning the absolute offset from UTC is not consistent throughout the year.

https://github.com/TEAMMATES/teammates/blob/82f8d4299515ce20bbbdf07296519d5f60e12f92/src/test/java/teammates/test/cases/webapi/GetTimeZonesActionTest.java#L42-L49

Change these asserts to use time zones in t

[2019-02-14 10:06] #7603 closed

[2019-02-14 12:43] xpdavid opened #9438 "Use newly introduced Gender enum in frontend"
https://github.com/TEAMMATES/teammates/pull/9418 did not change the frontend to use the enum. The frontend still assumes that `gender` is a string.

@amrut-prabhu Need to do this ASAP.

[2019-02-14 16:00] RonakLakhotia opened #9439 "Submit button on student sessions submission page not working"
- **Environment**:

* Local server at `* V7.0.0`, `master` branch at commit a018a980b8b31f08b167752a448c750347bbabdd

**Steps to reproduce**

1) Start a new submission for a new session as a student.

2) Fill out the questions.

3) Click on submit button

**Expected behaviour**

* Success message should be displayed

**Actual behaviour**

* Page does not show any message to the user

[2019-02-14 16:16] xpdavid commented on #9439
The underlying problem is that GSON fails to serialise child class of `FeedbackResponseDetails`.

![image](https://user-images.githubusercontent.com/13977235/52800239-4ae1bd80-30b6-11e9-9a92-1781554c5224.png)

Seems like an unspecific behaviour in GSON. We need implement `JsonDeserializer`.

[2019-02-15 11:42] #8530 closed

[2019-02-16 05:43] #9199 closed

[2019-02-16 06:20] tanhengyeow opened #9449 "Instructor Course Page: Tooltip in table 'Archived Courses' resulted in abnormal behaviour"
**Environment**:
`master` branch @ d618893ec429509a3455c55bbc41a74f4e42573a

**Steps to reproduce**
1. Go to `/web/instructor/courses`
2. Archive a course
3. Hover any rows under the Column `Creation Date`

**Expected behaviour**
1. Tooltip of the date shown with normal behaviour e.g.:
![image](https://user-images.githubusercontent.com/25320782/52895446-a6669500-31f5-11e9-84ad-e5bc7c8a54d6.png)

*

[2019-02-16 06:24] tanhengyeow commented on #9449
This is a relatively easy fix, marking it as a first timer issue.

[2019-02-16 06:30] #9439 closed

[2019-02-16 07:15] tanhengyeow opened #9451 "Instructor Home Page: Multiple dropdown menus stay expanded if clicked consecutively"
**Environment**:
`master` branch @ [d618893](https://github.com/TEAMMATES/teammates/commit/d618893ec429509a3455c55bbc41a74f4e42573a)

**Steps to reproduce**
1. Go `web/instructor/home`
2. Click on a dropdown menu e.g. `Students`
3. Click on another dropdown menu e.g. `Instructors`

**Expected behaviour**
1. The `Students` dropdown menu would be collapsed
2. The `Instructors` dropdown menu would be

[2019-02-16 07:32] wkurniawan07 commented on #9449
@tanhengyeow this cannot be a first timer issue because it makes the app nearly unusable (albeit only UI).

[2019-02-16 23:33] nkshschdv commented on #9063
@xpdavid could you tell me, what is wrong with build.properties ?

[2019-02-17 04:04] xpdavid commented on #9063
You forget to run `./gradlew createConfigs`?

[2019-02-17 07:14] gildas15 commented on #9417
please I want to work on this issue. can you assign it to me

[2019-02-17 07:30] nkshschdv commented on #9063
Thanks! I found that , It was because the JAVA 7 was not supported by GoogleCloudSDK anymore n It's deprecated. Updated to JAVA 8. 
-Deepak
Sent from Yahoo Mail on Android

  On Sun, 17 Feb 2019 at 9:34, Xiao Pu<notifications@github.com> wrote:
You forget to run ./gradlew createConfigs?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the th

[2019-02-17 07:40] RonakLakhotia commented on #9417
@gildas15 I have already started working on this issue, can you find another issue to work on?

[2019-02-17 10:33] #7787 closed

[2019-02-17 12:21] MisterAwesome23 opened #9454 "Error in appengineRun"
- **Commit SHA:**
- **Operating System:**
- **JDK Version:**
- **Node.js Version:**
- **Google Cloud SDK Version:**
- **Eclipse / IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (if applicable):**

**What I was trying to do / What I need help with**

I am trying to set up the development platform so as to start contributing. I've been following:
https://github.com/TEAMMATES/teamma

[2019-02-17 12:28] wkurniawan07 commented on #9454
Your first command `appengineStart` succeeds, so the port 8080 is already allocated. That's why your second command fails.

[2019-02-17 12:29] MisterAwesome23 commented on #9454
So am I supposed to do only appengineRun ?

[2019-02-17 12:37] wkurniawan07 commented on #9454
[This](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#managing-the-dev-server-back-end) is what you need.

[2019-02-17 12:40] MisterAwesome23 commented on #9454
Ohhh so I was going for background as well as foreground server, hence bind error. My bad.

Can you help me with why not working in intellij?

[2019-02-17 12:51] wkurniawan07 commented on #9454
My first guess is you haven't installed the required plugins.

[2019-02-17 16:15] gildas15 commented on #9417
ok no problem

[2019-02-17 16:27] gildas15 commented on #8450
Please can you assign this issue to me

[2019-02-17 16:34] gildas15 commented on #8450
I want to work on it

[2019-02-17 17:50] wkurniawan07 commented on #8450
@gildas15 this issue is blocked by something right now. Try to find something else to work on?

[2019-02-17 18:57] MisterAwesome23 commented on #9454
Only one plugin (google cloud sdk)was suggested for intelliJ: https://github.com/TEAMMATES/teammates/blob/master/docs/development.md
I've setup everything according to the instructions and set path in the plugin :
![cloudsdkpath](https://user-images.githubusercontent.com/36367483/52917640-00f61300-3314-11e9-808b-cbed431ac7fa.PNG)

In frameworks detected I only get one: Google App Engine Standard
t

[2019-02-17 19:15] wkurniawan07 commented on #9454
This is the mistake.

[2019-02-17 19:17] MisterAwesome23 commented on #9454
Oh is it. On it immediately. I'll keep this thread updated. I really want to set-up and start contributing :)

[2019-02-17 19:37] MisterAwesome23 commented on #9454
I have downloaded and now using JDK 8. I re-followed the entire process. This time my IntelliJ made me sign in to google cloud SDK using a browser.
I still do have only one framework:
![oneframework](https://user-images.githubusercontent.com/36367483/52918090-1457ad00-3319-11e9-84b5-288b6c7f9ca7.png)

Now I can edit config and choose a deployment:
![deploymentconfig](https://user-images.githubuser

[2019-02-17 19:48] wkurniawan07 commented on #9454
- Your deployment environment is app engine flex, which is not right
- You don't need to set up deployment (yet)
- You should try to search this kind of information in Google/StackOverflow first (if our docs have not specified them in the first place) before asking for help here

[2019-02-17 20:02] gildas15 commented on #8931
PLease can you assign this issue to me. I want to work on it

[2019-02-17 20:14] MisterAwesome23 commented on #9454
I am really sorry. I know I should have have worked most of this via Google/stack overflow. Starting and setting up up was just overwhelming and wanted to expedite the process which was wrong on my part. I'll close this thread now. Looking forward to contribute and learn :)

[2019-02-17 20:14] #9454 closed

[2019-02-18 00:16] Michaellin250 commented on #9252
Is this issue closed? I want to get started with open source projects.

[2019-02-18 04:12] Adoby7 opened #9456 "Fail to edit question if option filed is empty"
- **Environment**:
master at [05be9b6c9fa21be9966aeab76af7c51dff6de533](https://github.com/TEAMMATES/teammates/commit/05be9b6c9fa21be9966aeab76af7c51dff6de533)

**Steps to reproduce**
1. Open the `Edit Feedback Session` page with an instructor account
1. Try to edit a question, with the option field "question description" empty
1. Click "save" button

![image](https://user-images.githubusercontent

[2019-02-18 04:53] Adoby7 opened #9458 "Cannot load `Session with different question types`"
- **Environment**:
* master at [05be9b6c9fa21be9966aeab76af7c51dff6de533](https://github.com/TEAMMATES/teammates/commit/05be9b6c9fa21be9966aeab76af7c51dff6de533)

**Steps to reproduce**
1. Login with an instructor account
2. Try to edit the session: `Session with different question types`

**Expected behaviour**
The information of session and each question should be correctly loaded into the page

[2019-02-18 06:06] xpdavid commented on #9458
We have not completed the phase 2 migration yet (#9382). So the page with different types of questions will break.

[2019-02-18 06:06] #9458 closed

[2019-02-18 06:58] amrut-prabhu opened #9459 "Hamburger menu does not collapse"
- **Environment**:
`master` branch at commit 05be9b6c9.

**Steps to reproduce**
1. Go to TEAMMATES home page in a small or medium size window
2. Click on hamburger menu
3. Click any of the options in the menu

**Expected behaviour**
The hamburger menu collapses after clicking a hyperlink.

**Actual behaviour**
The hamburger menu stays open and obstructs the content.

<img src="https://user-images.

[2019-02-18 08:29] RonakLakhotia opened #9460 "Preview as Student and Preview as Instructor buttons not functional"
- **Environment**:

* master at 05be9b6c9fa21be9966aeab76af7c51dff6de533

**Steps to reproduce**
* Navigate to instructor sessions edit page.
* Scroll to the bottom of the page and click on "Preview as Student" or "Preview as Instructor"

**Expected behaviour**

* Should display the session as would be visible to a student/instructor

**Actual behaviour**

* No message/page is displayed

![image](

[2019-02-18 09:50] #6519 closed

[2019-02-18 10:47] amrut-prabhu opened #9461 "Focus state of nav bar item results in bad readability"
- **Environment**:
local branch with base at `master` branch commit a018a98

**Steps to reproduce**
1. Open a drop down menu in the nav bar
2. Click and drag one of the items

**Expected behaviour**
The selected item should still be visible

**Actual behaviour**
The contrast between the text colour and resultant background colour makes the text unreadable

![20190218_18h40_55](https://user-images.

[2019-02-18 19:41] mzhrbbs commented on #9434
Is this issue still open, If yes can I work on it. I am a first timer in open source contributions. Thanks

[2019-02-19 04:07] darrenwee commented on #9434
@mzhrbbs hi! We are about to close #9455 to fix this issue, so it's a good idea to try the other first timer issues instead. Thank you for your interest!

https://github.com/TEAMMATES/teammates/issues?q=is%3Aopen+is%3Aissue+label%3Ad.FirstTimers

[2019-02-19 04:55] #9434 closed

[2019-02-19 05:27] xpdavid commented on #9460
Not implemented. Will do along with the API consolidation.

[2019-02-19 05:52] xpdavid opened #9466 "Standardise the way of creating entities in storage component"
The creation APIs is non-standard and can be improved in the following way.

-  The creation API should return the entity created. It should not expose the `entity`, rather, it should use the DTO (*Attribute).

https://github.com/TEAMMATES/teammates/blob/40d9eae889d333682fd39134bce084e73f929602/src/main/java/teammates/storage/api/EntitiesDb.java#L44-L50

- The entity existence check query can be o

[2019-02-19 06:20] #2515 closed

[2019-02-19 06:57] #5616 closed

[2019-02-19 07:37] #9438 closed

[2019-02-19 07:53] #9456 closed

[2019-02-19 09:11] xpdavid commented on #7190
This issue will be solved along with #9466, which will add builder for feedback response.

[2019-02-19 09:12] RonakLakhotia opened #9467 "Add validation check for "Not Sure" criteria in Contribution question"
- **Environment**:

* master at 0640c17080d1abe2cf887dc06f4242ea0fa625ea

**Steps to reproduce**

* Create a new session as an instructor/navigate to instructor session edit page and edit an instructor.
* Uncheck the option "Allow response giver to select 'Not Sure' as the answer" in team contribution question and save.
* Log in as student and start submission of a session.
* You can select "Not S

[2019-02-19 12:37] Ayush517 opened #9470 "Questions not showing in "Add New Question" for new session"
- **Commit SHA: 8c5637bc84b433f86715d3ef5632505a44549dcc**
- **Operating System:MacOS Mojave Version 10.14.3**
- **JDK Version:1.8.0_191-b12**
- **Node.js Version:v10.15.1**
- **Google Cloud SDK Version:234.0.0**
- **IntelliJ Version:Build #IU-183.5429.30**
- **Chrome Version:72.0.3626.109**

**I was trying to replicate issue #8465 and see the files associated with the issue. While creating a new

[2019-02-19 12:44] wkurniawan07 commented on #9470
This is a known issue related to #9382. You need not be alarmed.

[2019-02-19 12:52] wkurniawan07 commented on #9467
Can this choice be persisted to the back end?

[2019-02-19 12:57] Ayush517 commented on #9470
So, how do I replicate the issue on my laptop? Without replication, I won't be able to do anything.

[2019-02-19 12:59] wkurniawan07 commented on #9470
This is not something that needs resolution (or rather, the resolution can only be done by someone who is already very, very familiar with the system).

[2019-02-19 13:28] Ayush517 commented on #9470
So, how should I proceed for issue #8465 now?

[2019-02-19 13:35] wkurniawan07 commented on #9470
I have put that issue on hold. You can find something else to work on.

[2019-02-19 13:38] Ayush517 commented on #9470
okay :)

[2019-02-19 15:14] RonakLakhotia commented on #9467
Not entirely sure, will have look into the code

[2019-02-19 17:03] wkurniawan07 commented on #9467
If back-end rejects the value, then it works as expected and it's just a minor UI inconvenience.

[2019-02-19 17:04] wkurniawan07 commented on #9461
@amrut-prabhu since you know the solution, you should just take this issue.

[2019-02-19 17:05] #9470 closed

[2019-02-20 03:59] martinoamigo commented on #9134
@tanhengyeow Hello! I believe this fixes the issue

[2019-02-20 06:19] Ayush517 commented on #8509
Hi, I've seemed to solve the issue on my environment with all tests passing. I've attached the screenshots of the tests. What should I do next?
<img width="1058" alt="e2e tests" src="https://user-images.githubusercontent.com/31190928/53070541-7f65d700-3505-11e9-97e4-c7534ceffbc5.png">
<img width="1059" alt="component tests" src="https://user-images.githubusercontent.com/31190928/53070542-7ffe6d80-

[2019-02-20 06:25] Ayush517 commented on #9144
I've updated the user map on my environment with all tests passing. I've attached the screenshots of tests. What should I do next?
<img width="1058" alt="e2e tests" src="https://user-images.githubusercontent.com/31190928/53070756-29456380-3506-11e9-964a-0a1784f4f87b.png">
<img width="1059" alt="component tests" src="https://user-images.githubusercontent.com/31190928/53070758-29ddfa00-3506-11e9-8fc

[2019-02-20 06:27] Ayush517 commented on #8105
Any suggestions on how to replicate this issue?

[2019-02-20 06:45] joanneong commented on #8509
Hi @Ayush517 , you can proceed to create a pull request to share your work with the team :) Refer to this [link](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#step-4-submit-a-pr) for more details.

[2019-02-20 09:00] crownedlake opened #9474 "No proper checks on email while adding an instructor to a course"
**Email address added is not being checked on front-end while adding an instructor to a course**

 **Environment**:
commit sha: 9e3b496dec9462f498d38159860a51ed602cf9e6
OS: Ubuntu 18.04 lts

**Steps to reproduce**

1. Login and add any course
2. Add instructor by providing the name, email and university.

**Expected behaviour**
Email validation should be done on front-end. If I provide a broken em

[2019-02-20 09:19] damithc commented on #8105
@wkurniawan07 should we close this as E2E testing is likely to change in V7?

[2019-02-20 09:41] wkurniawan07 commented on #8105
Yes, this should be closed for now.

[2019-02-20 09:41] #8105 closed

[2019-02-20 09:41] wkurniawan07 commented on #9474
@crownedlake Validation in the back-end is unavoidable (any tech-savvy user can disable any front-end validation). Validation in the front-end is just a bonus and should be done only if it smoothens user flow. What is the problem here?

[2019-02-20 09:42] Ayush517 commented on #4345
Can this error be because of the limitation of characters in url? I found [this](https://stackoverflow.com/questions/29458445/what-is-a-safe-maximum-length-a-segment-in-a-url-path-should-be/33733386) :

"According to the HTTP spec, there is no limit to a URL's length. Keep your URLs under 2048 characters; this will ensure the URLs work in all clients & server configurations. Also, search engines l

[2019-02-20 09:43] crownedlake commented on #9134
@martinoamigo Please ask if anyone else was working on the same issue, I was about to submit a PR after reading all the Teammates workflow and PR guidelines.

[2019-02-20 09:54] xpdavid commented on #4345
@Ayush517 Nope. It because of the search query limit in GAE. Need refactor the query generation logic.

[2019-02-20 09:56] RonakLakhotia commented on #9467
Will look into this.

[2019-02-20 09:57] xpdavid commented on #9467
It seems like backend dose not have such verification. Not sure about the backend in V6 @RonakLakhotia Please check.

[2019-02-20 09:58] Ayush517 commented on #9433
Is this issue fixed? The pull request seems to have passed all the checks but it's still not merged. Can I start working on this if it's not solved?

[2019-02-20 10:03] wkurniawan07 commented on #9433
@Ayush517 just because a PR is not merged does not mean it's not being worked on, and just because a PR pass all checks does not mean it's ready to be merged.

[2019-02-20 10:08] Ayush517 commented on #5704
@damithc Is this still open? I would like to work on this.

[2019-02-20 10:11] Ayush517 commented on #9433
Ok. I am new here, so I don't know much about these things. Sorry

[2019-02-20 10:14] crownedlake commented on #9474
Yes I agree it is unavoidable but checking it on front smoothens the user flow and any such situation where a user doesn't enter her email properly will be handled with more ease.

And why are we thinking that a user might or might want to disable the front-end validation? Having both front and back validation is required. But currently there is no such validation on front.

What do you think? @wk

[2019-02-20 11:33] wkurniawan07 commented on #9474
You can never know anyone's evil intention.

Also you have not answered the question: which validation is missing, front-end, back-end, or both?

[2019-02-20 11:51] crownedlake commented on #9474
@wkurniawan07 the **front-end validation is definitely missing**, I am not sure about the back-end validation. The system accepts my broken email address and what is it doing after that is still unknown to me.
If required I can look up in depth of the code.
I am new to Teammates and hence the code structure is still very new to me.

[2019-02-20 12:14] tanhengyeow commented on #9474
I helped to check and the backend persists this type of email: `test@exam`, which I believe shouldn't be allowed.

Changes allowed:
![image](https://user-images.githubusercontent.com/25320782/53090537-b3172000-354a-11e9-8a63-a8425d098a98.png)

Changes persisted:
![image](https://user-images.githubusercontent.com/25320782/53090569-d215b200-354a-11e9-9f43-5b551d2f17d4.png)

@crownedlake Front-end va

[2019-02-20 12:17] RonakLakhotia commented on #9467
The issue is only valid for v7. Backend in v6 rejects the value and the UI is in sync with the expected behaviour.

[2019-02-20 12:25] xpdavid commented on #9467
Are you sure about this? Where do you find the verification logic? You can modify the HTML code to submit not sure answer even the option is not there in V6.

[2019-02-20 12:28] RonakLakhotia commented on #9467
Did not take this into consideration.

[2019-02-20 12:40] RonakLakhotia commented on #9467
There does not seem to be any verification logic in v6, you are right .

[2019-02-20 18:04] crownedlake commented on #9474
@tanhengyeow Yes, I checked the [issue](https://github.com/TEAMMATES/teammates/issues/9419) and that feels more accurate.

[2019-02-20 18:52] martinoamigo commented on #9134
@crownedlake Sorry about that, didn't realize anyone was still working on this.

[2019-02-20 19:06] crownedlake commented on #9134
@martinoamigo It is fine, most of the things in your PR is exactly same. So don't think there is a need for me to PR.
Lets wait for someone to review yours. :smile:

[2019-02-21 01:32] damithc commented on #5704
The issue is still open. @wkurniawan07 is this a good time to start working on this issue?

[2019-02-21 02:20] #9461 closed

[2019-02-21 06:53] #9411 closed

[2019-02-21 07:54] AyushChatto opened #9480 "Add front-end tests for all Angular components in v7"
To add test cases (testing the business logic with usual testing and HTML generation with snapshot testing) on all frontend `spec.ts` files

[2019-02-21 19:03] wkurniawan07 opened #9481 "Release V7.0.0-beta.0"
Scheduled for Mon, Jun 1, 2020, 11:00pm SGT.

This release will signify at least 97%-feature-completeness of V7.0.0. At the point of writing, only parts of instructor search results and instructor results page are not yet migrated, with all other core features up and running (albeit with some possible bugs).

Release Lead:

- [x] Tagged the latest stable release code with the latest version number

[2019-02-21 20:50] nkshschdv commented on #9252
Hi @xpdavid , Could you please review ?

[2019-02-22 04:01] Ayush517 commented on #5704
@wkurniawan07 any updates?

[2019-02-22 04:08] harshagrwl commented on #9459
Hi @amrut-prabhu
I would like to work on this issue.

[2019-02-22 04:10] amrut-prabhu commented on #9459
Hi @harshagrwl, please go ahead. Let us know if you run into any problems :)

[2019-02-22 06:08] wkurniawan07 commented on #5704
@Ayush517 you can proceed.

[2019-02-22 06:32] #9363 closed

[2019-02-22 12:31] Manish-Giri commented on #9304
I can take this up.

[2019-02-22 15:46] amrut-prabhu commented on #9304
Hi @Manish-Giri, thanks for your interest in TEAMMATES!
However, as mentioned in the issue description, we'd like to resolve #9225 first (and #9144 before that).
I suggest that you look into some other [first timers issue](https://github.com/TEAMMATES/teammates/labels/d.FirstTimers) instead of this one :)

[2019-02-22 21:18] Manish-Giri commented on #9304
Hi @amrut-prabhu

My mistake, I should have made myself clearer. I meant I'm happy to wait until #9225 and #9144 are resolved, and then I could work on this. But I'll search for other issues.

[2019-02-23 00:08] KING-SID commented on #8528
Hey is this issue still open? If so, I would like to take it up!

_P.s I am working towards GSoC 2019 with TEAMMATES_

[2019-02-23 03:58] SahibArora commented on #9419
Hi,
I have some experience with Angular, I might be able to help here, if its still open?
Thank you

[2019-02-23 18:57] monmanuela opened #9490 "Side nav in instructor help page is unresponsive"
- **Environment**: `V7`, `master` branch at commit `b10ae83`

**Steps to reproduce**
1. Go to the instructor help page
2. Resize your browser window, or open the dev console
3. Side nav is half covered or is not be able to be seen at all

**Expected behaviour**
The rest of the page is responsive, so the side nav should be responsive too

**Actual behaviour**
Upon opening chrome dev console, side n

[2019-02-23 19:06] monmanuela opened #9491 "Fix link from getting started page to instructor help page"
- **Environment**: `V7`, `master` branch at commit `b10ae83`

**Steps to reproduce**
1. Go to `/web/front/getting-started`
2. Click the `frequently asked questions` hyperlink
3. Page is not found

**Expected behaviour**
It's supposed to link to the instructor help page

**Actual behaviour**
![brokenlink](https://user-images.githubusercontent.com/35655790/53290548-9bf16000-37e0-11e9-873a-35ff29ae4b

[2019-02-23 19:29] wkurniawan07 opened #9493 "Convert FieldValidator to a utility class"
The `FieldValidator` class right now is implemented as a standard initialize-able class that can supposedly hold data. However, it is used as a utility class and contains no internal data that is being mutated.

Therefore it should be designed as a utility class, i.e. all methods are static, the class is `final`, and the constructor is `private`.

[2019-02-24 01:27] tong72 commented on #8266
@damithc @wkurniawan07 I was wondering if this issue is still up for grabs. Thanks.

[2019-02-24 04:10] monmanuela commented on #9419
Hi @SahibArora, thank you for your interest to contribute to TEAMMATES ☺️ I suggest you to look at `d.FirstTimers` issues first to familiarize yourself with the codebase and the contributing workflow. You can come back to this issue later when you are more familiarized with the codebase.

[2019-02-24 06:57] #9417 closed

[2019-02-24 08:04] xpdavid opened #9494 "RESTFul API consolidation, phase 2"
#9420 hasn't complete but we don't have time to wait.

See detailed plan here https://docs.google.com/spreadsheets/d/e/2PACX-1vRqdUS-T_0lNYNSjCQlrs7nUTNf0WkRGw_sFxVrjbQpnmmzN5UjniOXT56RIcplcIpoufa1kg3dzJxR/pubhtml?gid=1084594222&single=true

For phase 2, we will target all `difficulty === 2` tasks.

Send one PR per row in the work division.

For each PR, we will observe the following:

- PR title:

[2019-02-24 08:37] #9174 closed

[2019-02-24 11:02] #9491 closed

[2019-02-24 11:33] RonakLakhotia opened #9495 "Instructor: Add cancel button when editing an existing session."
- **Environment**

Branch: master, commit 83a956eb0ff049e709de078ad2af4da8178366be

**Description of feature/enhancement**
Currently, when editing the session the workflow is as follows.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/28557842/53298563-d43d8080-386a-11e9-88f2-a4d2a7afda73.gif)

It may be more useful to add a cancel/discard changes button instead of having a "s

[2019-02-24 17:38] #2351 closed

[2019-02-24 23:54] wkurniawan07 commented on #9421
Situation:
- If the error message is constructed individually by the action class via `new JsonResult(message, statusCode)` instead of the catch blocks inside `WebApiServlet`, that message will be returned to the front-end. This one we cannot argue.
- If the error message is constructed automatically by `WebApiServlet` based on the catch blocks, then we can modify the message depending on the suit

[2019-02-25 02:25] martinoamigo commented on #9495
@RonakLakhotia May I work on this? I noticed this issue as well

[2019-02-25 02:27] RonakLakhotia commented on #9495
Sure go ahead! Let us know if you need any help.

[2019-02-25 05:49] #9451 closed

[2019-02-25 09:11] xpdavid commented on #9421
Looks good. One doubt.

There is an assumption here. The frontend will always do validation correctly and prevent request from sending if validation does not pass. In some cases where the frontend fails to do validation, user will get generic error which is not helpful (maybe in this case it is considered as a bug and the error report modal will pop-up?).

[2019-02-25 09:36] VinodKumarWagh commented on #9493
@wkurniawan07 may I work on this?

[2019-02-25 09:39] amrut-prabhu commented on #9493
Hi @VinodKumarWagh , please go ahead. Let us know if you face any problems

And remember to follow the [development workflow](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues) :)

[2019-02-25 09:40] VinodKumarWagh commented on #9493
@amrut-prabhu  the java file has no constructor in it.

[2019-02-25 09:50] amrut-prabhu commented on #9493
@VinodKumarWagh Every Java class has a [constructor](https://qr.ae/TUfVXV).
So, you can think about what changes need to be made to make it a utility class (see [this](https://stackoverflow.com/questions/25223553/how-can-i-create-an-utility-class) and [this](https://qr.ae/TUfV7I)).

[2019-02-25 10:11] VinodKumarWagh commented on #9493
@amrut-prabhu  I have updated the file according to that file(TimeHelper.java) only!

[2019-02-25 12:26] wkurniawan07 opened #9501 "Fix technical debts in GCS layer"
- All images are assigned the content type `image/png` when uploading to GCS, which obviously is not the case.
- Previous practice of uploading profile picture to Blobstore and then to GCS is not efficient and wasting resources, and has been replaced in V7 with direct uploading to GCS. Dead codes related to this previous practice should be cleaned up.
- Only very few classes should have access to

[2019-02-25 13:12] #9424 closed

[2019-02-25 14:23] harshagrwl commented on #9459
Hello @amrut-prabhu
I am not able to start the dev server on my local machine. I am encountering a npm error.

![screenshot from 2019-02-25 19-51-51](https://user-images.githubusercontent.com/43218240/53343692-f8669380-3936-11e9-9e4a-218fe652e84a.png)

[2019-02-25 15:16] amrut-prabhu commented on #9459
@harshagrwl Have you followed the [setting up guide](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md#step-2-install-necessary-tools-and-languages) completely? In particular, the part about `If you want to develop front-end, you need to install the following:`

If not, please do so and install the necessary dependencies

[2019-02-25 17:21] schezfaz opened #9505 "Hey! I am looking to contribute to TEAMMATES as part of GSOC'19. Having gone through the Wiki containing the list of current ideas, a particular project titled "Message of the Day" piqued my interest. I have gone through the contribution steps and guidelines, and would love to get involved with this particular project. Where can I start from? Thanks! :)"
- [Help requests](?template=help-request.md)

[2019-02-25 18:25] amrut-prabhu commented on #9505
Hi @schezfaz, thanks for your interest in TEAMMATES!
You can start by fixing a [first timer issue](https://github.com/teammates/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.FirstTimers) to get used to the workflow (though there don't seem to be many available right now :/) .
You can then take up some small issues to get used to navigating around the codebase and slowly work your way up :)

[2019-02-25 18:51] RonakLakhotia commented on #9495
@martinoamigo also make not similar workflow in the instructor course edit page, while editing course details.

[2019-02-26 09:59] #9505 closed

[2019-02-26 12:36] #9501 closed

[2019-02-26 15:22] tanhengyeow opened #9508 "Instructor: Course Details: Improve UI"
**Environment**:
`master` branch

**Steps to reproduce**
1. Go to `web/instructor/courses/details?courseid=<valid course id with students>`
2. Observe screenshot posted:
![image](https://user-images.githubusercontent.com/25320782/53423779-f414a600-3a1c-11e9-8913-174bfc1c6233.png)

**Things to fix**:
1. Remove the extra `Students` div
2. Align the `student-list-component` with the card body.

[2019-02-26 15:33] tanhengyeow opened #9509 "Student list component: Change button style to match other tables"
**Environment**:
`master` branch

**Description of feature/enhancement**
The student list component's buttons look like this currently:
![image](https://user-images.githubusercontent.com/25320782/53424731-b022a080-3a1e-11e9-9458-2350b56c0001.png)

It should match the button style in places like:
1. Instructor home page:
![image](https://user-images.githubusercontent.com/25320782/53424678-95502c00-

[2019-02-26 15:37] monmanuela commented on #9509
Looking at the screenshots, I think it's a good idea to standardize the table headers as well (background color, font color), for the same reason we want to standardize the buttons :)

[2019-02-26 15:46] tanhengyeow commented on #9509
Valid point, but `/web/instructor/students` is currently using it this way (refer below), so the standard blue present in other table headers wouldn't fit too well here :)
![image](https://user-images.githubusercontent.com/25320782/53425796-ad28af80-3a20-11e9-9402-446eb2532470.png)

[2019-02-26 15:47] monmanuela commented on #9356
I'll work on this!

[2019-02-26 16:18] tanhengyeow opened #9510 "Instructor: Course Page/Student List Component: Implement sorting for table headers"
**Environment**:
`master` branch

**Description of feature/enhancement**
Allow instructors to sort entries in tables located in the instructor course page and also the student list component.

[2019-02-26 19:30] okasha30495 commented on #9304
Hey @damithc

Im actually interested on working on this issue as well or #9225 and #9144 , but could you tell me how to actually test the code once the JSON has been all updated?

[2019-02-27 01:53] damithc commented on #9304
Start the dev server, load the relevant page manually, and check visually. there is no automated test for this page.

[2019-02-27 06:39] #9134 closed

[2019-02-27 07:44] xpdavid commented on #9460
Closed as it is fixed in #9507 and #9500

[2019-02-27 07:44] #9460 closed

[2019-02-28 03:21] tanhengyeow opened #9514 "Instructor: Course Edit Page: Show better success message"
**Environment**:
`master` branch

**Steps to reproduce:**
1. Go to `/web/instructor/courses/edit?courseid=<valid course id>`
2. Edit the course details and click `Save changes`
3. Observe success message:
![image](https://user-images.githubusercontent.com/25320782/53538990-bca41780-3b4a-11e9-8152-dd5bf9b5118c.png)

**Ideal result:**
The success message can be improved by showing a simple message i

[2019-02-28 04:35] Nitin96Bisht commented on #9514
@tanhengyeow I would like to work on this.

[2019-02-28 04:36] tanhengyeow commented on #9514
@Nitin96Bisht Please go ahead :) You can refer to our [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) to get started with the project, if you haven't done so.

[2019-02-28 10:59] monmanuela opened #9516 "Instructor Course: Fix restoring a deleted course functionality"
- **Environment**: V7, master branch at `31bd48c`

**Steps to reproduce**
Go to `/web/instructor/courses`
Delete a course (it will move to the Deleted Courses table)
Click the `Restore` button to restore that course (not `Restore All`)
Failure alert saying "Resource with URI /webapi/instructor/courses/restore is not found." will be shown

**Expected behaviour**
The course should be restored

**Act

[2019-02-28 11:35] monmanuela commented on #9356
To find out which parts of TM are affected, I throttled my internet speed to slow 3G and test it out. Here are some observations (only for instructor pages so far):
- `/web/instructor/home`: Will show a big warning box, and then the page with no table of courses, then a few seconds later, the table of courses
![image](https://user-images.githubusercontent.com/35655790/53563527-44137a00-3b8f-11e9-8

[2019-02-28 11:58] wkurniawan07 opened #9517 "Document API layer design principles/policies"
In our [design document](https://github.com/TEAMMATES/teammates/blob/master/docs/design.md), we have documented policies for logic layer and storage layer implementations (they are somewhat outdated now, but this is not the issue).

The API layer (`teammates.ui.webapi.*`) has sufficiently matured and has gone through a handful of design changes/improvements. We shall document these principles and

[2019-02-28 12:00] wkurniawan07 commented on #9516
Looks like a victim of out-of-sync between the API consolidation and the front-end. @monmanuela can send in a quick fix?

[2019-02-28 14:05] monmanuela commented on #9516
@wkurniawan07 I'll work on it

[2019-02-28 15:02] RonakLakhotia opened #9519 "Unable to serve profile picture"
- **Environment**
V7 at master , e5e97c4ddb5917dd065e363cd07cbeb36ca1dfc7

**Steps to reproduce**

1. Go to the student profile page.
2. Upload a profile picture.

**Expected behavior**

* Picture is uploaded successfully.

**Actual behaviour**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/28557842/53575502-a464e480-3bac-11e9-8d28-07ba7be74934.gif)

[2019-02-28 15:09] wkurniawan07 commented on #9519
Regression from #9502. Picture is uploaded; it's the serving part that's problematic.

[2019-02-28 16:23] tanhengyeow opened #9520 "Instructor: Course Edit Details: Unable to edit/add instructor"
**Environment**:
`master` branch

**Steps to reproduce**

Go to `/web/instructor/courses/edit?courseid=<valid course id>`

1. First bug:
- Edit an instructor and click `Save changes`. Nothing happens.

2. Second bug:
- Click `Add New Instructor`, fill in some details and click `Add Instructor`
- Following error faced:
![image](https://user-images.githubusercontent.com/25320782/53581200-15f66000-3b

[2019-02-28 16:39] wkurniawan07 commented on #9520
@tanhengyeow I've located the regressing code change. Two-liner change. Just do it.

[2019-02-28 16:45] #9516 closed

[2019-03-01 03:38] RonakLakhotia opened #9523 "Selective Deadline Extensions: Provide a way for instructors to extend the deadline of a session for certain students only."
This feature should allow instructors to extend the deadline of a session for a set of students.

* An instructor should be able to select which students should be given the extension and specify the new deadline for them.

* TEAMMATES should send an email to the affected students with a link to submit responses and other details of the extension.

TODO:-
- [ ] Add modal in instructor sessions pag

[2019-03-01 04:35] rrtheonlyone opened #9525 "Instructor: Course Edit Details - Page Improvement"
While fixing the course edit details page for #9520, I realised that this page could use some refactoring.

There is code duplication in that both the Adding Instructor Form and the Editing Instructor Form use the exact same logic. This is not a few lines, they span over 50lines each! This makes tracing for errors in the form difficult. This can be factored out into one block.

Furthermore, the ch

[2019-03-01 04:41] rrtheonlyone commented on #9525
Duplicate of #9486

[2019-03-01 04:41] #9525 closed

[2019-03-01 06:00] damithc commented on #9523
The instructor should have some way to view the given extensions later, in case he forgot who was given extensions and for how long. Minimally, an email sent to the instructor listing the details of the extensions?

On a separate note, this is not trivial, and not urgent either. Consider carefully before jumping in. It's going to be bad if you start it but don't finish in time.

[2019-03-01 11:52] AyushChatto opened #9526 "Update Documentation for guide on Snapshot Tests"
The current documentation has godmode.md, which was what we used for v6. Now that we have Snapshot Testing thanks to Jest, we should rename the file to reflect this, and update the guide.

[2019-03-01 15:09] VinodKumarWagh commented on #9493
@amrut-prabhu I am creating a new pull request for this issue.

[2019-03-02 01:18] FredAmartey commented on #9508
Hi, id like to jump on this. Just started getting into open source and contributions. Can you point me in the direction of the file or files I should be looking at?

[2019-03-02 01:34] tanhengyeow commented on #9508
@FredAmartey You can refer to our [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) to get started with the project, if you haven't done so.

Finding the related files to change is part of the learning process, especially when the scope involved here is relatively small.

[2019-03-02 04:12] monmanuela opened #9530 "Instructor Course Enroll page: Improve UI for enrollment table"
- **Environment**: `master` branch

**Steps to reproduce**
1. Go to `/web/instructor/courses`
2. Create a new course if there isn't any
3. Click the `Enroll` button
4. Put in some details of students to be enrolled (can copy paste from the example under `More info`)
5. `Enrollment Results` table will appear
![image](https://user-images.githubusercontent.com/35655790/53676671-91ebc780-3ce0-11e9-87b

[2019-03-02 14:14] tanhengyeow opened #9531 "Instructor: Course Edit Page: Blinking tooltip upon hover"
**Environment**:
`master` branch

**Steps to reproduce**
1. Go to `/web/instructor/courses/edit?courseid=<valid course id>`
2. Click `Edit` for an instructor
3. Hover your cursor over the `Delete button`

**Expected behaviour**
The tooltip is shown normally.

**Actual behaviour**
The tooltip blinks continuously.

[2019-03-03 00:06] Gomaa commented on #9520
I followed teammates dev documentation, and my work space is just ready for work. Is it possible to get assigned to this issue?

[2019-03-03 04:56] monmanuela commented on #9520
Hi @Gomaa , there's already an [open PR](https://github.com/TEAMMATES/teammates/pull/9524) to fix this issue. Feel free to look at other [first timer issues](https://github.com/TEAMMATES/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.FirstTimers) to work on :)

[2019-03-03 11:09] damithc opened #9533 "Update user map for Jan-Feb 2019"
To be done after #9304

Entries to consider:

Institute | Country
-- | --
Université Abderrahmane Mira - Bejaia | Algeria
Swinburne Business School | Australia
University of Melbourne | Australia
University of South Australia | Australia
University of Vienna | Austria
WICO Campus Sint-Jozef | België
Spectrumschool | Belgium
VITO Hoogstraten | Belgium
Vives University College | Belgium
WICO Campus

[2019-03-03 12:55] ChooJeremy opened #9534 "Deleting the last instructor in the course leaves a dangling course object in the database."
- **Environment**: master branch at commit 2429ab644d751ff8e2fc310cd6dc854f40992868

**Steps to reproduce**
* Login as instructor _A_
* create a course _B_.
* Login as admin
* Visit http://localhost:4200/web/admin/accounts?instructorid=A (For example, http://localhost:4200/web/admin/accounts?instructorid=test@example.com)
* Choose to delete instructor _A_ from course _B_

**Actual behavior**
* Del

[2019-03-03 17:27] pbrahmbhatt3 commented on #9530
can I work on this?

[2019-03-03 17:28] monmanuela commented on #9530
Hi @pbrahmbhatt3 , go ahead! Do refer to the [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) and ask if you have any questions 😄

[2019-03-03 18:01] #9520 closed

[2019-03-03 18:29] #9426 closed

[2019-03-03 18:47] #9433 closed

[2019-03-04 13:19] jacoblipech opened #9536 "Add E2E testing to teammates pages in v7"
Migrate end to end tests for all the pages below from v6 to v7

- [x] Student Home Page
- [x] Student Profile Page
- [x] Student Course Details Page
- [x] Admin Home Page
- [x] Admin Accounts Page
- [x] Admin Search Page
- [x] Admin Sessions Page
- [x] Instructor Home Page
- [x] Instructor Course Details Page
- [x] Instructor Courses Page
- [x] Instructor Course Edit Page
- [x] Instructor Course E

[2019-03-04 14:44] tanhengyeow opened #9537 "Instructor Help Page: Tooltips should link to specific sections in the help page"
**Environment**:
`master` branch

**Description of feature/enhancement**
All the tooltips in the app should link to the specific section of the instructor help page. Right now, clicking on the tooltips show users the top of the help page by default.

An example is in `/web/instructor/sessions`:
![image](https://user-images.githubusercontent.com/25320782/53740250-c0c79080-3ece-11e9-92c5-40b9e9923ab

[2019-03-04 17:41] #9493 closed

[2019-03-05 00:12] wkurniawan07 commented on #9536
While we can use the browser tests in V6 as reference, we need to significantly re-think how to structure the tests such that they are indeed E2E level. In V6 and before, there were way too many stuffs tested in the browser tests that should be tested in lower level. It does not help that our severe overuse of God mode has eroded the value of testing (now we can barely remember what to pay attenti

[2019-03-05 04:30] damithc opened #9538 "NPE in FeedbackContributionQuestionDetails.getTeamSubmissionArray"
v6.16.2

I've been getting this error from the live server. There was a handful of it, reported in two day so far.

java.lang.NullPointerException
at teammates.common.datatransfer.questions.FeedbackContributionQuestionDetails.getTeamSubmissionArray(FeedbackContributionQuestionDetails.java:517)
at teammates.common.datatransfer.questions.FeedbackContributionQuestionDetails.getQuestionResultStatistic

[2019-03-05 04:32] damithc commented on #9538
actually, a user is unable to download results due to this problem. An urgent fix is needed.

[2019-03-05 04:43] damithc commented on #9538
Note that the course in concern has some unusual team names:

5 and alive
5 and alive
5 and alive
5 and alive
99 Problems But Stats A'int One
99 Problems But Stats A'int One
99 Problems But Stats A'int One
99 Problems But Stats A'int One
Above Average
Above Average
Above Average
Above Average
Algebros
Algebros
Algebros
Algebros
BleedBlue
BleedBlue
BleedBlue
BleedBlue
CamFam
CamFam
CamFam
CamFam
Co

[2019-03-05 06:41] xpdavid commented on #9538
Fixed the issue with @damithc by changing teamName `Instructors` to something else. The error can be reproduced by enrolling students with teamName `Instructors`.

`Instructors` is internally used in the application as a team for instructors.
![image](https://user-images.githubusercontent.com/13977235/53785693-5f4a0500-3f54-11e9-8d71-17fc09fe2f07.png)

Ideally, teamName can be anything so disallow

[2019-03-05 12:16] pbrahmbhatt3 opened #9540 "Setting up development environment document enhancement"
A link to install Python2.7 and JDK 1.8 should be provided in the Setting up development environment.

[2019-03-05 13:14] wkurniawan07 commented on #9540
What is the use? Those two tools are far too commonly used and the most straightforward of Google search will already point you to the resources.

[2019-03-05 13:19] pbrahmbhatt3 commented on #9540
The document has a link to download google SDK so I thought it will be a good idea to include the links for Python and JDK. It will make it easier and faster.

[2019-03-05 13:27] wkurniawan07 commented on #9540
Google Cloud SDK is a rather specialized library. The two items you mentioned are programming languages which one is expected to know (albeit not the case for Python) prior to contributing. There's a big difference.

[2019-03-05 13:31] pbrahmbhatt3 commented on #9540
I think its a good idea to include the links. As a developer I would want a document to have links to the software I have to download.

[2019-03-05 13:44] wkurniawan07 commented on #9540
We don't wish to spoon-feed contributors with information that is most readily available with one Google search. If one struggles to install those tools or any other necessary tool, chances are s/he is going to struggle many times more when actually contributing code; especially if not having the language installed means one is not familiar with the language.

Also, those links can change in the f

[2019-03-05 21:48] danielmaia19 opened #9541 "Local Project setup Build Failed"
- **Commit SHA:** N/A
- **Operating System:** Linux Mint 19.1 (Tessa)
- **JDK Version:** 1.8
- **Node.js Version:** 8.10.0
- **Google Cloud SDK Version:** 237.0.0
- **Eclipse / IntelliJ Version (if applicable):** Intellij 2018.3
- **Firefox / Chrome Version (if applicable):**  Chrome 72.0.3626.121

I am new to the development community, and this is the first time I am contributing to a OSS.

**Wha

[2019-03-06 00:08] rrtheonlyone commented on #9541
Thank you for your interest in contributing to teammates! As per mentioned in our developer guide at https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md did you run `./gradlew createConfigs` first?

[2019-03-06 00:17] danielmaia19 commented on #9541
Great! Build was successful. Thank you!
I did run it before and still got the issue before I did the whole process from the beginning.

Now, I am getting the error when I last got the build successful and thats error 404 when navigating to http://localhost:8080? Have you come across this error?

[2019-03-06 00:28] jacoblipech commented on #9541
@danielmaia19 As mentioned in the development guide, you will have to run `./gradlew generateTypes` and `npm run build` for the dev server http://localhost:8080 to serve both the front-end and the back-end of the application.

Alternatively, we recommend you to run `./gradlew generateTypes` and `npm run start` to access the front end of the application at http://localhost:4200.

[2019-03-06 09:05] xpdavid opened #9542 "Cannot load any public page"
**Environment**: 061f8456b51553e16b905811d2ecc7531c9a3140

**Steps to reproduce**

Visit `/web/sessions/result` or `/web/sessions/submission`

**Expected behaviour**

There should be something showing up even there is no URL parameter.

**Actual behaviour**

![image](https://user-images.githubusercontent.com/13977235/53868599-5ed36c00-4031-11e9-9913-fff78307a318.png)

Empty page.

**Additional inf

[2019-03-06 09:45] monmanuela commented on #9542
Oh right, sorry! Will send the fix.

[2019-03-06 10:05] danielmaia19 commented on #9541
I have managed to get the page to show up but just shows the loading icon in the middle of the screen and thats it.

[2019-03-06 10:10] monmanuela commented on #9541
@danielmaia19 Which page are you at? It's likely to be caused by [this issue](https://github.com/TEAMMATES/teammates/issues/9542).

[2019-03-06 10:16] danielmaia19 commented on #9541
Uhhh! sort of the same. Mine however, shows the menu with the loading icon

![screenshot from 2019-03-06 10-14-55](https://user-images.githubusercontent.com/22798680/53873666-bf928280-3ff8-11e9-8625-52dddaebc72c.png)

[2019-03-06 10:39] monmanuela commented on #9541
@danielmaia19 Since the navbar appears, maybe you have not run the back-end yet. Follow the [instructions to run the back-end server here](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#managing-the-dev-server-back-end)

[2019-03-06 10:49] danielmaia19 commented on #9541
I just resolved the issue, it was actually related to the node.js

It wasnt able to run because I did not have the latest version. So i did _sudo apt-get update_ then re-ran the ./gradlew appengineStart for the backend and it worked.

Thanks guys for helping out! :smile:

[2019-03-06 10:50] #9541 closed

[2019-03-06 11:11] danielmaia19 opened #9545 "Adding Instrutor Results Action Buttons Cramped up"
I was hoping if its ok to contribute to this issue to resolve it? When adding a instructor, on the results page, the action buttons are cramped up if the name names are too long
- **Environment**:
Local Development server.

**Steps to reproduce**
Add a instructor with long name, email address, and university

**Expected behaviour**
Results page the action buttons are cramped up

**Actual behaviour

[2019-03-06 13:16] wkurniawan07 opened #9546 "Unable to log out with log out button"
- **Environment**: `master` branch at commit 16793d2

**Steps to reproduce**

1. Log in as anyone
1. Log out *with the provided log out button*

**Expected behaviour**

User is logged out

**Actual behaviour**

User is not logged out

**Cause**

The logout URL generation method is changed in #9503 but this particular case is missed.

**Workaround**

The following URL entered manually in the browse

[2019-03-06 15:06] #9542 closed

[2019-03-06 15:16] monmanuela commented on #9545
@danielmaia19 Sure, go ahead 😃

[2019-03-06 15:23] #9546 closed

[2019-03-06 22:44] kwchan19 opened #9548 "Adding 'git init' to the Developers Instructions"
**Environment**:
```master``` branch

**Description of feature/enhancement**
The 'step-by-step' instructions are not very clear to new developers that are beginners to ```git```.  If you currently follow the exact instructions, you will receive this error:
```fatal: Not a git repository (or any of the parent directories): .git```

I suggest adding ```cd teammates-master``` and ```git init``` befor

[2019-03-07 00:51] kwchan19 opened #9550 "Contact Page: Adding an Email Contact Form"
**Environment**:
```master```

**Description of feature/enhancement**

![image](https://user-images.githubusercontent.com/37305130/53923893-d9a78180-4047-11e9-87f2-08eb061088d7.png)
I would like to add an email contact form on this page, instead of just pasting the link of the email address there.

**Justification**

It will give an easier access to the users that need help or are inquiring any qu

[2019-03-07 01:01] damithc commented on #9550
Hmmm... not sure if that is worth the effort.

[2019-03-07 01:02] rrtheonlyone commented on #9548
I am not sure as to why this is needed. The instructions do tell you to fork the repo and use that right?

Here is a guide to work with a fork: https://help.github.com/en/articles/fork-a-repo

[2019-03-07 01:09] kwchan19 commented on #9550
It doesn't take that long, i think it just makes the page look better.

[2019-03-07 01:15] damithc commented on #9550
Neither are good enough reasons :-) Is there any real value to the user?

[2019-03-07 01:19] amrut-prabhu commented on #9550
@kwchan19 Actually this may make it harder to ask for help, depending on the situation. What if the user wants to put a few screenshots or attachments in the email?

It won't necessarily be as simple as just adding a text input email form.

[2019-03-07 05:00] wkurniawan07 commented on #9548
This is a general git knowledge, not TEAMMATES-specific knowledge. If "beginners to git" is the problem, then the solution is to learn git first, not to put irrelevant information in this repo.

[2019-03-07 05:00] #9548 closed

[2019-03-07 06:41] tanhengyeow opened #9551 "Instructor: Correct wrong colors and ensure consistency between modal boxes"
**Environment**:
`master` branch

**Steps to reproduce/Expected behavior**
The modal boxes present in the instructor pages are inconsistent and some have wrong colors. Below are a few examples. There might be more.
1. `/web/instructor/home`
- `Course` -> `Archive`
![image](https://user-images.githubusercontent.com/25320782/53936808-17f37e00-40e6-11e9-9cec-fe778be02f50.png)
- `Course` -> Header's `

[2019-03-07 08:56] xpdavid commented on #9420
Phase 1 has reached to the end. Thanks everyone who has contributed 🎉

P.S. #9488 will complete along with phase 2.

[2019-03-07 08:56] #9420 closed

[2019-03-07 20:11] recepinanc commented on #9514
Hey @tanhengyeow! I also would like to work on this. Looks like this issue is not assigned to anybody, but @Nitin96Bisht also indicated interest on this issue. Is that OK for me to start working on this?

[2019-03-08 12:05] #9526 closed

[2019-03-08 15:59] tanhengyeow opened #9554 "Instructor: Standardise look/behavior for Recycle Bin"
**Environment**:
`master` branch

**Steps to reproduce**
The recycle bins of courses and sessions look and behave differently (one is able to expand & collapse while the other can't) now. They should look/behave similarly.
![image](https://user-images.githubusercontent.com/25320782/54039531-22a13680-41fe-11e9-836b-1cb9722fbe59.png)
![image](https://user-images.githubusercontent.com/25320782/540395

[2019-03-09 03:06] damithc opened #9556 "Join dialog shown to students: clarify option to proceed without registering"
v6.16

Current: when a student clicks on an access link to view/submit responses, the following message is shown if the browser is already logged in to a Google account
![image](https://user-images.githubusercontent.com/1673303/54065340-848f8980-425a-11e9-8375-7407a576cc26.png)

Problem: it's not very clear that there is an option to proceed without registering

Suggestion: revise the dialog to cl

[2019-03-09 14:01] xpdavid opened #9557 "Standardise the way of deleting entities in storage component"
The deletion APIs are non-standard and have the following problems.

The current deletion method need to query DB twice when deleting (some) entities. This is not necessary. When keys are available, we can issue deletion request directly -> so only 1 query.

Take response comment entities as an example. The app can delete comments of a response, question, session, course. There are four methods he

[2019-03-10 02:25] amrut-prabhu opened #9559 "Add guide for Continuous Profiling and Jmeter"
**Description of feature/enhancement**
Add documentation for the Continuous Profiling process and set up of the tools used.

Guide can include list of conventions and best practices (like [this](https://www.blazemeter.com/blog/4-things-you-should-never-do-your-jmeter-script))

**Justification**

This will make it easier for other contributors to get started with running and creating new test plans

[2019-03-10 02:33] amrut-prabhu opened #9560 "Add a Jmeter test plan to show the performance testing process"
**Description of feature/enhancement**
- [x] Add a Jmeter test plan sample that shows the various components involved in the performance test (eg. user authentication, param configs etc.).

Possible improvements to make after #9561 (in order of priority):

- [x] Fail the test case if an Exception occurs - need to investigate whether this happens already
- [x] Fail if there is a `false` value in th

[2019-03-10 08:20] RonakLakhotia opened #9562 "Backend validation for empty MCQ options not implemented."
In v7, there is no backend validation if all MCQ options are empty. While in v6, an error is thrown if MCQs entered are all empty.

[2019-03-10 08:47] wkurniawan07 commented on #9562
@RonakLakhotia but support for MCQ has not been migrated in the first place?

[2019-03-10 08:52] RonakLakhotia commented on #9562
I am working on the support for MCQ questions. While validating for the question details for MCQ type questions, I noticed the bug. The backend validates other scenarios like minimum two MCQs should be entered but does not take the case when all MCQs are empty

[2019-03-10 08:54] wkurniawan07 commented on #9562
You can't have a bug if the feature is not even supported in the first place.

[2019-03-10 20:18] ariendy commented on #9554
I would like to work on this.

[2019-03-11 03:54] amrut-prabhu commented on #9554
Hi @ariendy , please go ahead! Remember to follow our [process](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues) and let us know if you run into any problems :)

[2019-03-11 04:29] Barbado2017 commented on #9554
Is it possible for me to work on this as well?

[2019-03-11 06:09] tanhengyeow commented on #9554
@Barbado2017 I would suggest you to look into other issues labeled `d.FirstTimers` as @ariendy as expressed interest to work on this one. There are plenty to choose from so no worries :)

You can also try other issues too if you're feeling ambitious.

[2019-03-11 06:43] xpdavid opened #9564 "RESTFul API consolidation, phase 3"
#9494 hasn't complete but we don't have time to wait.

See detailed plan here https://docs.google.com/spreadsheets/d/e/2PACX-1vRqdUS-T_0lNYNSjCQlrs7nUTNf0WkRGw_sFxVrjbQpnmmzN5UjniOXT56RIcplcIpoufa1kg3dzJxR/pubhtml?gid=1084594222&single=true

For phase 3, we will target all `difficulty === 3` tasks.

Send one PR per row in the work division.

For each PR, we will observe the following:

- PR title:

[2019-03-11 08:38] xpdavid opened #9565 "Fix unstable FeedbackQuestionAttributesTest"
- **Environment**: da079783605f64265d6ba9324e79768ad613a844

**Steps to reproduce**

![image](https://user-images.githubusercontent.com/13977235/54110127-8bb1c580-441b-11e9-8905-fb789effc3b2.png)

1. Run `FeedbackQuestionAttributesTest#testToEntity()`.
2. It will fail if the execution of the test is slow.

**Expected behaviour**
1. The test should pass no matter how slow/fast the test is executed.

[2019-03-11 10:24] #9519 closed

[2019-03-11 16:08] Barbado2017 commented on #9565
Is it okay if I work on this?

[2019-03-12 02:46] ChooJeremy commented on #9565
@Barbado2017 Sure, go ahead! If you haven't set up your local repo, you can follow [this guide](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md) to get started.

[2019-03-12 03:39] monmanuela commented on #9514
Hi @recepinanc, there's already an open PR for this, so do look into other `d.FirstTimers` issue :) If the last person who indicated interest in the issue has been quite inactive for some time, feel free to work on the issue and open a PR.

[2019-03-12 19:02] recepinanc commented on #9514
Hi @monmanuela, thank you for your response, I will keep that in mind. Cheers!

[2019-03-13 03:17] ithompson4 commented on #9556
Hello @damithc. Can I work on this issue?

[2019-03-13 07:08] damithc commented on #9556
@xpdavid @wkurniawan07 what do you think? The screenshot above is from V6.

[2019-03-13 07:54] wkurniawan07 commented on #9556
I need to confirm the issue. This particular user flow is re-written in V7.

[2019-03-13 07:54] wkurniawan07 commented on #9556
@ithompson4 meanwhile, you can try other issues labelled `d.FirstTimers` if this is your first time contributing here.

[2019-03-13 07:57] xpdavid commented on #9556
The workflow is a bit different in V7.

**For course join link:**

![image](https://user-images.githubusercontent.com/13977235/54261847-c0eb1e80-45a7-11e9-8419-1b4d24130fc0.png)

There is only one button. We can do some improvements as @damithc has suggested.

**For session submission/result link:**

User is not forced to join (even they have a google account logged in) while they are given an opt

[2019-03-13 16:44] Aarabhi2017 commented on #9530
Is this still being worked on?

[2019-03-13 17:21] monmanuela commented on #9530
@Aarabhi2017 Since the previous person seems inactive, feel free to work on this :)

[2019-03-13 17:37] #9562 closed

[2019-03-13 19:12] martinoamigo commented on #9495
@RonakLakhotia unfortunately I didn't get around to the instructor course edit page, but the session edit is ready for review

[2019-03-14 00:31] wkurniawan07 commented on #9556
@damithc the user flow is different here so the issue no longer holds. Either that, or a new issue is in order.

V6:
- No logged in user: show submission/result page as is
- Logged in user, the student entity has no Google ID associated: asks for Google ID confirmation (as per screenshot)
- Logged in user, the student entity's Google ID matches: redirect to logged-in equivalent of the submission/r

[2019-03-14 01:13] damithc commented on #9556
I think this is fine. 👍

[2019-03-14 01:14] damithc commented on #9556
Closing issue as no longer applicable in V7.

[2019-03-14 01:14] #9556 closed

[2019-03-14 07:42] monmanuela opened #9573 "Confusing user flow in Student Profile upload photo feature"
- **Environment**: `master` branch, commit `ba5b2ef`

**Steps to reproduce**
- Go to Student Profile page
- Click `Upload/Edit Photo`
- Click `Browse` and choose a picture
- Click `Upload Picture`

**Expected behaviour**
The new picture should appear in the modal so that it can be cropped and edited, but the old photo should remain in the background

**Actual behaviour**
The old photo is already r

[2019-03-14 07:56] monmanuela opened #9574 "Clicking Save Edited Photo does not close the modal in Student Profile page"
- **Environment**: Environment: master branch, commit ba5b2ef

**Steps to reproduce**
- Go to Students Profile page
- Click `Upload/Edit Photo`, choose a new photo
- Click `Save Edited Photo`

**Expected behaviour**
The photo should be changed and the modal should be closed

**Actual behaviour**
The modal remains open although the photo is changed
![image](https://user-images.githubusercontent.com

[2019-03-16 12:58] #9421 closed

[2019-03-18 13:58] #9466 closed

[2019-03-18 13:58] #7190 closed

[2019-03-18 19:58] hedglenrm commented on #9574
Is it ok if I work on this issue?

[2019-03-19 15:36] AyushChatto opened #9584 "Change error message for Instructor Course Details Ajax failure"
The current error message for an Ajax failure is `'Failed to load. Please reopen modal.'`. Since modal is a technical term, it should not be used for anything facing the client, and must be replaced with a better error message.

- **Environment**:
v7.0

[2019-03-19 15:45] amrut-prabhu opened #9585 "No user feedback for empty search results on Admin page"
- **Environment**:
`master` branch at commit `9542ad8`.

**Steps to reproduce**
1. Log in as Admin
2. Go to Admin Search page
3. Search for some random string (which will not return any results from the backend)

**Expected behaviour**
There is some message informing the user that no results were found

**Actual behaviour**

There is no feedback to the user:
<img width="960" alt="2019-03-19_23h36_

[2019-03-19 18:22] Davileal commented on #9585
I can get this issue.

[2019-03-20 15:27] ritisha2000 commented on #9508
Hello, if it is still possible, may I work on this issue?

[2019-03-20 15:32] tanhengyeow commented on #9508
@ritisha2000 Please do so, refer to the comment above to get started.

[2019-03-20 15:49] devotion-it commented on #9584
Hi @AyushChatto. I would like to work on this issue?

[2019-03-20 17:01] AyushChatto commented on #9584
@devotion-it go for it :) Do familiarise yourself with our contributors guide :)

[2019-03-20 18:50] devotion-it commented on #9584
Hi @AyushChatto  just wanted to inform you that i submitted a PR for this issue.

[2019-03-21 09:59] wkurniawan07 opened #9593 "Add SauceLabs integration"
Now that we have had some minimal E2E tests set up, it is about time to set up the integration for SauceLabs for cross-browser testing.

[2019-03-21 11:47] #9557 closed

[2019-03-21 12:36] xpdavid opened #9594 "Boost the performance of scripting framework"
The scripting framework introduced in #9070 is promising but the performance is quite bad.

See https://github.com/TEAMMATES/teammates/pull/9409#issuecomment-464294520

Beside performance tuning, there should be two more features added to the framework:
- Able to start automatically from the last failed point (No need to record the cursor position manually)
- Able to persist the console output to

[2019-03-21 12:43] xpdavid commented on #9494
Done. Thanks everyone! 🎉

[2019-03-21 12:43] #9494 closed

[2019-03-21 13:06] xpdavid opened #9595 "RESTFul API consolidation, phase 4"
Though #9564 is not completed, we can start to remove some old endpoints.

See detailed plan here https://docs.google.com/spreadsheets/d/e/2PACX-1vRqdUS-T_0lNYNSjCQlrs7nUTNf0WkRGw_sFxVrjbQpnmmzN5UjniOXT56RIcplcIpoufa1kg3dzJxR/pubhtml?gid=1084594222&single=true

For phase 4, we will target all `difficulty === 4` tasks.

Send one PR per row in the work division.

For each PR, we will observe the fol

[2019-03-22 03:04] Adoby7 opened #9598 "Bug: Cannot delete all courses in recycle bin"
- **Environment**:  master at dad85f

**Steps to reproduce**
Go to instructor page. Delete some courses. Then in the recycle bin, click "Delete All" button.

**Expected behaviour**
All courses in recycle bin are deleted permanently.

**Actual behaviour**
The message "The server encountered an error when processing your request." is shown. Courses are not deleted permanently

**Additional info**

T

[2019-03-22 12:19] #9598 closed

[2019-03-22 19:06] ritisha2000 commented on #9508
I have started work on this issue but before I make changes to the file I wanted to clarify if I understood the issue. I have understood that the whole student section (the blue header and the list of the students) needs to be deleted. But I am unsure as to what needs to be aligned.

[2019-03-22 19:20] tanhengyeow commented on #9508
Hi @ritisha2000

For example, in the picture, with reference to the card body, there is some padding towards the left of the table. The padding shouldn't exist.
![image](https://user-images.githubusercontent.com/25320782/54847780-472b0180-4d1a-11e9-8525-56995759534b.png)

[2019-03-24 04:59] amrut-prabhu opened #9604 "Add feature to regenerate student's session links"
**Description of feature/enhancement**
Provide a way for to regenerate session links for a student. This is for cases where the student shares a submission link with others by mistake.

---
**Proposed Admin Workflow:**

1. Admin searches for a student by name in the admin search page
1. Admin expands the student result to view feedback session links
1. Admin clicks the `Regenerate` button for a co

[2019-03-24 05:05] wkurniawan07 commented on #9604
@amrut-prabhu, are you sure of the workflow? As far as I know, there is no way to regenerate just one submission link...

[2019-03-24 08:13] amrut-prabhu commented on #9530
@monmanuela In the scope of this issue's title, the enrollment table `Existing Students` can also be improved.
- It flickers when clicked when the table is empty.
- I feel that the `No existing students in course.` message can be presented in a better way.
- If there are existing students, the table should not have empty rows at the bottom (since they can't be edited anyways).
- If student(s) are

[2019-03-24 08:31] amrut-prabhu opened #9606 "Improve students card in Instructor Student Page"
- **Environment**: `master` branch at commit 9c97b9c3.

**Steps to reproduce**
1. Go to the `/web/instructor/students`page
1. Click on one of the courses

**Expected behaviour**
The DOWN arrow and UP arrow should be switched, i.e., show DOWN arrow when students are hidden, and UP arrow when the card is open.

**Actual behaviour**
The arrows do not correspond to the actions.

![20190324_13h06_19](h

[2019-03-24 10:14] monmanuela commented on #9530
@amrut-prabhu Thanks for pointing these out!

The issues mentioned above are valid concerns related to UI/UX. I checked the code though, it doesn't seem to have an easy fix. It needs more research into `Handsontable`, so I don't see it as a first timer issue. @tanhengyeow, git blame says that you worked on it last time, so maybe you can advise further?

This is part of #9346 and I'm working on it

[2019-03-24 10:28] tanhengyeow commented on #9530
Hi @amrut-prabhu

Thanks for pointing out your observations! They are valid and indeed they require some thoughts before we proceed on fixing them. Some of these issues have been pointed out in some other issues but it's good we reiterate them and keep track of them here:

We can tackle the easy ones first such as this below:

Any better suggestions?

Refer to https://github.com/TEAMMATES/teammate

[2019-03-24 10:34] #9467 closed

[2019-03-24 11:13] junming403 opened #9607 "Instructor Privileges does not inherit from more general level when doing update."
When we are updating for a more detailed privilege, a new privilege map might be created, however, this map has all privilege values as false by default since it is empty.  However, this might not be consistent with the instructor's general level privileges.

For example, instructor a has `canViewSessionInSections` privilege in general level. When we decide to update its privilege `canViewStudentI

[2019-03-24 12:27] AigerimAibassova commented on #9509
Hi! Can I take this issue?

[2019-03-24 13:42] monmanuela commented on #9509
@AigerimAibassova Go ahead! Refer to the [docs](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) and feel free to ask questions :)

[2019-03-24 14:18] amrut-prabhu commented on #9530
@monmanuela @tanhengyeow Thanks for your replies.

Any better suggestions?

I'm no UI expert by any means, but from my experience as an end user, how about we display the message in the expanded card (like the 2nd one below)?

![2019-03-24_22h03_36](https://user-images.githubusercontent.com/29021586/54880696-9ee47c80-4e82-11e9-8082-c9bbec6010d5.jpg)

[2019-03-24 16:48] homps commented on #9606
Hi :wave:
I'll pick up this fix if that's ok.

[2019-03-24 20:01] amrut-prabhu commented on #9606
Hi @homps, go ahead. Refer to our [process](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues) and let us know if you face any problems :)

[2019-03-24 20:25] amrut-prabhu commented on #9604
@wkurniawan07 Oh, right. All the submission and report links of the student will have to change. I've updated the workflow

[2019-03-25 14:17] ritisha2000 commented on #9551
May I work on this issue?

[2019-03-25 14:19] tanhengyeow commented on #9551
@ritisha2000 Sure you can, but I would advice merging in your first PR first :) The Travis build is still failing.

[2019-03-25 14:20] ritisha2000 commented on #9551
Okay thank you

[2019-03-25 15:27] amrut-prabhu commented on #9346
Btw the error reporting modal needs to wrap text

![image](https://user-images.githubusercontent.com/29021586/54932221-66fa3980-4f55-11e9-8c11-fca4553b5a85.png)

[2019-03-25 15:41] xpdavid opened #9611 "Remove Javadoc CheckStyle suppressions on storage component"
This will be the final task after Storage Component CURD refactor.

https://github.com/TEAMMATES/teammates/blob/a1c211858ec1211de7e6bddef26343daee567e4a/static-analysis/teammates-checkstyle-suppressions.xml#L29-L31

[2019-03-25 16:50] okasha30495 commented on #9537
I would like to fix this issue!

[2019-03-25 16:53] tanhengyeow commented on #9537
@okasha30495 Please do so, refer to our contributing guidelines to get started :)

[2019-03-25 17:15] okasha30495 commented on #9537
Thank you @tanhengyeow, I've already solved a d.firstTimers which was updating the UserMap issues fixed (9144, 9225, 9304, and 9533), and now I'm just waiting for it to be reviewed.

[2019-03-25 17:17] tanhengyeow commented on #9537
@okasha30495 Cool! Please go ahead and work on this issue :)

[2019-03-25 19:49] sil3nthill commented on #9574
hello  i would like to fix this if its ok !

[2019-03-26 00:17] AigerimAibassova commented on #9490
Hi, can I take this one?

[2019-03-26 01:44] #9509 closed

[2019-03-26 01:46] monmanuela commented on #9574
Hi @sil3nthill, thank you for your interest in contributing to TEAMMATES! However, there's already an open PR for this (#9588) so please look into other issues to prevent duplicate work 😄

[2019-03-26 02:11] #9585 closed

[2019-03-26 03:34] amrut-prabhu opened #9616 "Keep course students card stationary when expanded in Instructor Student Page"
- **Environment**: `master` branch at commit 9c97b9c3.

**Steps to reproduce**
1. Go to the `/web/instructor/students`page
1. Click on one of the courses

**Expected behaviour**
The course card should stay at the same position on the screen.

**Actual behaviour**
The course card generally moves down and is not at the same position on the screen.

![20190324_13h06_19](https://user-images.githubuser

[2019-03-26 04:20] amrut-prabhu commented on #9616
2 approaches that can be used to fix this:

- Autoscroll to the position of the course card after it is clicked.

- Restructure the way that the filters are displayed so that this problem doesn't occur. It can use dropdowns instead. The root level options should only contain options similar to the ones under `Courses`. It look something like this (note that the content shown in not finalised, just

[2019-03-26 08:59] rrtheonlyone commented on #9616
Hi @amrut-prabhu, I am currently working on simplifying the logic for this same page.

Like you pointed out, we have to look into a different way to handle the filtering. Showing all the student emails may lead to the box growing really large.

@damithc @wkurniawan07 @xpdavid Can we look into a different method to do the filtering? Like just one row of dropdowns instead of a box?

[2019-03-26 09:20] damithc commented on #9616
Sorry I didn't mention this earlier. I'm OK with removing this part (shown in the screenshot below) entirely if there is consent from others. While it is a useful feature, acting as a mailing list is not within the core mission of TEAMMATES. The instructors can depend on their main LMS for that functionality. Still, I'm OK both ways.

![image](https://user-images.githubusercontent.com/1673303/5498

[2019-03-27 16:43] HeinKhantZaw commented on #9606
Hello everyone! I am new to GitHub and I have Java and C++ experience. Can anyone help me understand how I can contribute to this project and guide me towards solving this issue.

[2019-03-28 23:15] pbrahmbhatt3 commented on #9510
can I work on it?

[2019-03-28 23:49] martinoamigo commented on #9531
I wasn't able to reproduce this behavior on Chrome or Safari. Am I looking at the right spot?

![Screen Shot 2019-03-28 at 7 40 39 PM](https://user-images.githubusercontent.com/25358466/55199768-84b3e280-5191-11e9-949e-2c2b623afd26.png)

[2019-03-29 00:54] tanhengyeow commented on #9510
@pbrahmbhatt3 Hi! Thanks for your interest in this issue. For first timers, we would advice working on `d.firstTimers` issues. However, if you are confident on solving this issue, please go ahead.

[2019-03-29 01:44] #9611 closed

[2019-03-29 02:23] tanhengyeow commented on #9531
Hi @martinoamigo

Thanks for looking into this! You have to hover your cursor directly over the Thrash icon OR the `Delete` word.

In Chrome, the tooltip with text blinks continuously. In Firefox, the cursor (hand sign, refer to the right side of the image) blinks continuously.
![image](https://user-images.githubusercontent.com/25320782/55205128-925a7e00-520c-11e9-8720-2fc171786ba9.png)

[2019-03-29 06:19] #9459 closed

[2019-03-29 06:40] amrut-prabhu commented on #9606
Hi @HeinKhantZaw , thanks for your interest in contributing to TEAMMATES!

To set up TEAMMATES on your computer, you can follow the setup instructions, starting from [this document](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md). After that, you can refer to [our process](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#fixing-issues) to understand how to

[2019-03-29 11:48] Rafaila98 opened #9622 "compile errors and unable to build the project"
Problem with building the project due to Java compile errors and start AppEngine
- **Commit SHA:**  2429ab644d751ff8e2fc310cd6dc854f40992868

- **Operating System:** Windows 10
- **JDK Version:** 1.8.0_121
- **Node.js Version:** v10.15.3
- **Google Cloud SDK Version:** 240.0.0
- **Eclipse Version :** 2018-09(4.9.0)

**What I was trying to do / What I need help with**
 1.  Build failed with the com

[2019-03-29 13:22] pbrahmbhatt3 commented on #9530
Hi @monmanuela

I was trying to run the TEAMMATES on my local machine.
When I try npm run start, It builds successfully but it never stops loading(I cannot see any data). I have followed the steps given in the document. Any idea on where I might be going wrong?

[2019-03-29 13:50] RonakLakhotia opened #9623 "Numerical Scale Question: Max value in UI not in sync with backend on instructor session page"
![bug_1](https://user-images.githubusercontent.com/28557842/55237348-f1e87600-526c-11e9-83be-b3dab90e8e99.gif)

**Additional info**
It is a minor UI bug, the max value in the backend is the expected value.

[2019-03-29 13:52] martinoamigo commented on #9531
That's odd, I still don't see it in Chrome (which I just now updated). I've tried multiple zooms and locations in the button. Here is another screenshot with the cursor visible:
![Screen Shot 2019-03-29 at 9 44 53 AM](https://user-images.githubusercontent.com/25358466/55237299-3db50400-5208-11e9-91d3-108c5d2ce9e6.png)

[2019-03-29 15:36] martinoamigo commented on #9510
@pbrahmbhatt3 I could take this on if you'd like!

[2019-03-29 16:14] monmanuela commented on #9530
Hi @pbrahmbhatt3, seems that you're facing the same issue as [this](https://github.com/TEAMMATES/teammates/issues/9541#issuecomment-470061472). Have you run the backend (`./gradlew appengineStart`)? This is because `npm run start` only runs the frontend :)

[2019-03-29 20:06] pbrahmbhatt3 commented on #9510
I am working on it currently. Thank you for asking though :) @martinoamigo

[2019-03-29 20:45] pbrahmbhatt3 commented on #9530
It works! Is this issue still open? If yes I would like to work on it.

[2019-03-29 20:54] pbrahmbhatt3 commented on #9510
@tanhengyeow How can I login in to the application? Locally I would need to log in as an instructor.

[2019-03-29 21:25] sowmyadvn commented on #9359
I am facing similar issue @jgolatkar,@wkurniawan07 but the errors are different. It is quite confusing that nothing is mentioned about it in the setup guide.  Please help.
![image](https://user-images.githubusercontent.com/22230078/55263506-7f58a580-522e-11e9-8ed9-373c59e7f259.png)
Thanks.

[2019-03-30 02:25] pbrahmbhatt3 commented on #9510
@tanhengyeow  Can you tell me how do we want the student list component to be sorted? Sorted by what? Thank you. :)

[2019-03-30 17:34] amrut-prabhu commented on #9531
Btw I also noticed this in the instructor home page (`/web/instructor/home`) and instructions sessions page (`web/instructor/sessions`).

![20190331_01h33_07](https://user-images.githubusercontent.com/29021586/55279585-09029300-5355-11e9-98ef-b69aa07dc02f.gif)

This behaviour is not consistently experienced. For example, the button is rendered on the next line sometimes, and doesn't suffer from th

[2019-03-31 15:45] AyushChatto commented on #9622
Have you tried running `./gradlew generateTypes` first?

[2019-03-31 17:46] jacoblipech opened #9629 "Instructor Home Page: Inconsistent behaviour in sort by date action for courses"
**Steps to reproduce**
Log in to Instructor Home Page.
Click on sort by Feedback Session or click sort by creation_date as highlighted in the attached image below.

**Current behaviour**
It does not populate the feedback sessions / courses in the correct order as shown below.
![Screenshot 2019-04-01 at 1 39 09 AM](https://user-images.githubusercontent.com/28522090/55292583-3ddb1c80-541f-11e9-928a-

[2019-03-31 22:10] martinoamigo commented on #9531
Strangely enough I can't seem to reproduce this issue on my Mac. I guess I'll just leave it to someone who can :)

On another note, I'm thinking the remind button should be in line on `/web/instructor/home`, similar to how it is on `web/instructor/sessions`. Another issue perhaps?

[2019-04-01 03:26] tanhengyeow commented on #9510
Hi @pbrahmbhatt3

In v6 of our application, we have sorting for `Section`, `Team`, `Student Name`, `Status` and `Email`.  Basically, everything that we see in the `student-list-component` where we have the sorting headers:
![image](https://user-images.githubusercontent.com/25320782/55301789-e1085200-5470-11e9-9a2e-8267d580ce2c.png)

Those headers are there right now but they don't have any sorting

[2019-04-01 05:12] jgolatkar commented on #9359
@sowmyadvn I changed my IDE to IntelliJ , which did not give the same errors on import.  What IDE are you using?

[2019-04-01 05:53] ChooJeremy opened #9630 "Instructor set non-visible feedback session is visible to students"
- **Environment**: `master` branch at commit 3455dda7e4e2d854471b1664548f76f002bfd4b9.

**Steps to reproduce**
1. Login as instructor..
2. Instructor creates a feedback session. Set feedback session visible time to after today.
![image](https://user-images.githubusercontent.com/4904988/55306070-68f85700-5485-11e9-8c97-dd4c3c552fe5.png)
3. Login as student with access to the feedback session

**Exp

[2019-04-01 08:49] monmanuela commented on #9514
@recepinanc Feel free to take this issue if you are still interested :) The previous PR is closed.

[2019-04-01 08:51] Rafaila98 commented on #9622
Hello @AyushChatto. Thanks for answering. I already tried it and here are the results:

![image](https://user-images.githubusercontent.com/32717035/55315136-5de8fb00-5474-11e9-9b19-c55dba8b4b76.png)

In a linux mint machine everything is running ok but in Windows something's wrong.

[2019-04-01 08:54] monmanuela commented on #9530
@pbrahmbhatt3 Yes, go ahead. This issue only requires small changes in `instructor-course-enroll-page` so it shouldn't take very long :)

[2019-04-01 13:07] wkurniawan07 commented on #9622
@Rafaila98, when you run `./gradlew dependencies`, is there an entry that looks like `javax.servlet:javax.servlet-api:...`? If there is, what is the version number associated with it?

Node.js version has nothing to do with this.

[2019-04-01 13:54] xpdavid opened #9632 "Apply optimised saving policy"
With the help of UpdateOptions introduced in #9199.

We are now able to know what fields will be updated. Thus, it is possible to implemented the optimised saving policy for storage layer where Database saving query is issued only when fields are changed.

By implementing this, it is expected that the performance for feedback submission will be improved a lot. Normally, students will just edit som

[2019-04-01 16:19] martinoamigo commented on #9629
I'll take this one!

[2019-04-01 22:24] Rafaila98 commented on #9622
Hello @wkurniawan07.
+--- javax.servlet:javax.servlet-api:3.1.0

[2019-04-02 00:50] wkurniawan07 commented on #9629
@jacoblipech, this is the error that needs to be rectified, not to "hack" the date format to be sorting-friendly.

[2019-04-02 05:45] stroupjason commented on #9545
first-timer here. Is this still an open issue?

[2019-04-02 10:31] dRadest commented on #9514
I'm interested in working on this, if it's open

[2019-04-02 10:32] tanhengyeow commented on #9514
@dRadest As long as there are no active PRs ongoing, feel free to take it up :)

[2019-04-02 12:50] danielmaia19 commented on #9545
Yes, its still open. I haven't had the chance to get around to it yet.

[2019-04-02 15:18] ChooJeremy opened #9636 "Re-sending reminder emails result in an error message"
- **Environment**: `master` branch at commit 3455dda7e4e2d854471b1664548f76f002bfd4b9.

**Steps to reproduce**
1. Login as instructor. Create a feedback session, add some students to it.
2. On the /web/instructor/sessions page, click on the remind button, which is the last button in the last column of the feedback session table
OR
2. On the /web/instructor/sessions page, choose any feedback sessio

[2019-04-02 15:58] ChooJeremy opened #9637 "GET /course endpoint fails for courses where you're only a student or an instructor."
If you're both a student and an instructor, the GET /course endpoint will fail specifically for a course in which you're only a student of, or only an instructor of.

- **Environment**: `master` branch at commit 3455dda7e4e2d854471b1664548f76f002bfd4b9.

**Steps to reproduce**
1. Login as instructor, create a course. Do not add yourself as a student into that course
2. Create a feedback session in

[2019-04-02 21:45] stroupjason commented on #9545
Perfect, I'll take this one - I'll try my best to get it done!

[2019-04-03 05:04] ChooJeremy opened #9639 "Admin is unable to reset Student Google ID"
Also related: If you have a user that is both a student and an instructor, clicking "Reset Google ID" of the student resets the Google ID of the instructor instead.

- **Environment**: `master` branch at commit 3455dda7e4e2d854471b1664548f76f002bfd4b9.

**Steps to reproduce**
1. Create a student account
2. Click the link in the student account's email. Associate it with a new google ID not yet in

[2019-04-03 14:02] sjkadali commented on #9636
Followed the steps above to reproduce the error. There was no error message. As expected , the reminder emails were sent

[2019-04-03 16:32] ChooJeremy opened #9642 "Feedback sessions with # or ? in their name can't be edited."
Other potential characters may cause this problem as well.

- **Environment**: `master` branch at commit 3455dda7e4e2d854471b1664548f76f002bfd4b9.

**Steps to reproduce**
1. Login as an instructor.
2. Create a new feedback session with # in the name (i.e. test #9642)
3. Click edit on the new feedback session.

**Expected behaviour**
The feedback session edit page loads

**Actual behaviour**
It doe

[2019-04-03 16:47] ChooJeremy commented on #9636
Hi @sjkadali, that's odd, I can reproduce it on my end. Just to confirm, are your steps similar to the following after creating the feedback session with students?

In this image: the feedback session is supertest and the course is 9636. The feedback session is already open and there are 2 students in it (as seen in the response rate)
![image](https://user-images.githubusercontent.com/4904988/5549

[2019-04-03 18:15] #9346 closed

[2019-04-04 02:29] #9639 closed

[2019-04-04 16:44] sjkadali commented on #9636
Hi @ChooJeremy , I followed the similar steps. Please see the attached
snapshots.
[image: sessnList.png]
[image: sessnRmd.png]
[image: remindRsp.png]

* <https://github.com/ChooJeremy> *

On Wed, Apr 3, 2019 at 12:48 PM Jeremy <notifications@github.com> wrote:

[2019-04-04 16:48] sjkadali commented on #9636
Hi @ChooJeremy please see the attached snapshots.
![sessnList](https://user-images.githubusercontent.com/39105848/55573370-d00d4a00-56d7-11e9-974f-a01a8a346cfa.png)
![sessnRmd](https://user-images.githubusercontent.com/39105848/55573401-dd2a3900-56d7-11e9-9300-d2c90a134aab.png)
![remindRsp](https://user-images.githubusercontent.com/39105848/55573405-e0bdc000-56d7-11e9-96bb-c631d5d9189f.png)

[2019-04-05 02:05] umar-ehsan opened #9645 "TimezoneSyncerTest may fail due to class loader ordering of tzdb.dat"
- **Environment**:  `master` branch at commit 31bd48c995b8aee60dfa6c2bbb53d32ce8f81772.

OS: Windows 10 (Running tests and server using command line)

**Steps to reproduce**

After setting up dev environment, run the commands:

Front end dev server:
npm run start

Back-end dev server:
gradlew.bat appengineStart

Then run the e2e tests:

gradlew.bat e2eTests --stacktrace

**Expected behaviour**

Al

[2019-04-05 04:40] amrut-prabhu opened #9646 "Add L&P tests for backend endpoints"
Performance issue-prone operations:

- [x] Instructor page: Enrolling students
- [ ] Instructor page: Viewing feedback session results by instructor
- [ ] Student page: Submitting a feedback session when the number of questions is large

[2019-04-06 08:30] RonakLakhotia opened #9649 "Viewing photos of students on course details page shows error message"
**Steps to reproduce**

* Sign in as an instructor and navigate to courses page.
* Click on `View` for any one of the course
* Click on `View photo` for a student

**Actual behavior

* "Request not valid message displayed"

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/28557842/55667013-3d141180-5889-11e9-9512-d13f1d33e226.gif)

[2019-04-06 21:26] jacoblipech opened #9651 "Automatically generate a concise report (1-3 lines per test) about the results"
Upon running a Jmeter test, automatically generate a concise report (1-3 lines per test) about the results.

Also see [this](https://stackoverflow.com/questions/19015858/how-to-create-summary-and-aggregate-reports-from-a-jtl-file)

Eg.
[code]

[2019-04-07 10:51] RonakLakhotia opened #9654 "Error messages not shown on entering invalid answers on submission page"
**Steps to reproduce**

* Log in as student
* Navigate to submission page of any session
* Answer a question with an invalid value

**Expected behavior**

* An message is shown explicitly telling the user what the error is

**Actual behavior**

* No message describing the error is shown

**Additional info**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/28557842/55682442-04963

[2019-04-07 11:57] jacoblipech commented on #9629
@martinoamigo Go ahead and take this issue. Feel free to let me know here if you require any assist or reproducing the error!

As mentioned by @wkurniawan07 you should aim to solve the sort by course creation date and sort by feedback session creation date.

[2019-04-07 17:11] wkurniawan07 commented on #9645
@umar-ehsan, this is a known issue with unfortunately no workaround yet as of now. You can ignore this test failure.

[2019-04-08 02:51] #9606 closed

[2019-04-08 06:18] damithc opened #9656 "Instructor: resend result link: cannot tick checkbox in Chrome"
V6.16.2

A user reported that when trying to resend results link to a student, the check boxes cannot be ticked. She is using Chrome.

![image](https://user-images.githubusercontent.com/1673303/55702369-fe0cca00-5a08-11e9-93db-491a97b58788.png)

I was able to reproduce in my Chrome (Windows) too. Seems to work in Firefox though.

[2019-04-08 06:20] damithc commented on #9656
Seems to happen for sending of submission links too, which makes the problem rather serious. This was working before. Broken due to an update to Chrome?

[2019-04-08 06:56] xpdavid commented on #9656
Confirmed also in Mac - Chrome Version 73.0.3683.103 (Official Build) (64-bit)

Looks like the checkbox is not clickable inside a label.
![image](https://user-images.githubusercontent.com/13977235/55703917-82f9e280-5a0d-11e9-90b5-48e38f74f798.png)

Updated:
Looks like it is really specific to this version of Chrome.

If Canary (https://www.google.com/intl/en_sg/chrome/canary/) (version ahead of of

[2019-04-08 07:54] damithc commented on #9656
Thanks for the investigation @xpdavid Easy to fix?

[2019-04-08 13:24] #9508 closed

[2019-04-09 04:03] #9584 closed

[2019-04-09 10:10] ChooJeremy commented on #9636
Hey @sjkadali sorry for the delay in responding, I needed some time to figure out why yours was working.

It looks like you're currently on the instructor home page? The page which has this problem is the instructor session page, which you can reach by clicking on the sessions tab on the top header.

![image](https://user-images.githubusercontent.com/4904988/55792206-ba8e8a80-5af2-11e9-8fb5-173cfb

[2019-04-09 20:57] martinoamigo commented on #9629
It seems that the sort is correct, although the example feedback session dates are in different years. For example, if I hover over each date I can see which year it is from, and that they are sorted correctly.

Possible solutions: I can add the year to the display for clarity, or change the examples to be in 2019. Maybe both?

[2019-04-10 03:54] amrut-prabhu opened #9657 "Improve look of dropdown options in team contribution question"
- **Environment**: `master` branch at commit 87a87e9e.

**Steps to reproduce**:
1. Go to the submission page of a feedback session that has a team contribution question. (eg. `/web/student/sessions/submission?courseid=test.exa-demo&fsname=Second%20team%20feedback%20session`)
2. Open the team contribution question's dropdown options

**Expected behaviour**
The colours of the options should be consi

[2019-04-10 04:46] amrut-prabhu opened #9658 "Empty csrf token does not cause request to fail"
- **Environment**: `master` branch at commit  87a87e9e

As mentioned  [here](https://github.com/TEAMMATES/teammates/pull/9648#discussion_r273585069), an empty `X-CSRF-TOKEN` for non-safe requests still passes through the checks.

**Steps to reproduce**
1. Send a HTTP request to a endpoint that uses a non-safe method (`POST`, `PUT`, `DELETE`). The request header `X-CSRF-TOKEN` should be empty.

<im

[2019-04-10 13:17] #9594 closed

[2019-04-10 13:51] xpdavid commented on #9656
Looks like this is caused by CSS although I don't know what's wrong with the CSS.
[code]
As shown below, if we disable it, the checkbox is clickable.
![Jietu20190410-214650-HD](https://user-images.githubusercontent.com/13977235/55884469-b2aa1580-5bda-11e9-8e24-ae5acf6137b9.gif)

@wkurniawan07 Any idea?

[2019-04-11 06:05] #9533 closed

[2019-04-11 06:05] #9144 closed

[2019-04-11 06:05] #9225 closed

[2019-04-11 06:05] #9304 closed

[2019-04-11 06:23] tanhengyeow opened #9662 "Instructor: Course Page: Some navbar buttons are not responsive after snackbar is shown"
**Environment**:
`master` branch

**Steps to reproduce**
1. Go to the instructor course page
2. Add a new valid course. The green snackbar would show.
3. Click on the `Sessions` and `Students` tab when the snackbar is present.

**Expected behavior**
The respective page should be accessible.

**Actual behaviour**
The `Sessions` and `Students` tabs are not clickable.

**Additional info**
Same behavi

[2019-04-11 06:43] #9514 closed

[2019-04-11 06:51] #9412 closed

[2019-04-11 10:30] monmanuela commented on #9662
Tested this, I can reproduce the bug. the issue seems to be because of https://github.com/TEAMMATES/teammates/blob/7c075cfbedbdb1ec54e7aaf412ca4a0d1b93df34/src/web/styles.scss#L13-L16
The `margin-top` causes the tabs that are vertically above the snackbar to not be clickable. Also, error snackbars seem to show different behaviors only because the error snackbars are relatively shorter, so there ar

[2019-04-11 13:14] Adoby7 opened #9663 "Student Enroll Page: Refresh the existing student panel after enrollment."
- **Environment**: master at commit 7c075cfbedbdb1ec54e7aaf412ca4a0d1b93df34

**Description of feature/enhancement**
Currently the `existing students` panel is not updated after enrolling new students. Users need to quit and re-enter the enroll page to see the latest version of existing students.

This improvement can be done along with some consolidation in #9595

**Justification**
Instructors ca

[2019-04-11 14:32] monmanuela opened #9665 "Text box formatter in sessions edit page is stuck at the top of the page"
**Environment**: `master` branch at commit e360fc0

**Steps to reproduce**
1. Go to instructor sessions page
2. Click `Edit` on one of the feedback session
3. Click the top `Edit` button
4. Click inside the `Instructions` box
5. Scroll down, and the text box formatter stays at the top of the page

![image](https://user-images.githubusercontent.com/35655790/55965436-2ca8d000-5ca9-11e9-9b4c-8d911cd1

[2019-04-11 15:08] amrut-prabhu opened #9666 "Modal is not removed when going back to the previous browser page"
- **Environment**: `master` branch at commit 87a87e9e

**Steps to reproduce**
1. Go to student home page (`/web/student/home`)
2. Click `View Submission` for a session that has been closed. This brings you to the session page and a modal pops up. Do NOT close it.
3. Go the the previous browser page, i.e., click the "back" button

**Expected behaviour**
The modal is removed when navigating back to

[2019-04-12 02:56] amrut-prabhu opened #9667 "Standardise look of feedback session details card"
- **Environment**:  `master` branch at commit a1c21185

**Steps to reproduce**
1. Go to a feedback session submission page (`web/student/sessions/submission?courseid=test.exa-demo&fsname=Session%20with%20different%20question%20types`)
2. Go to a feedback session results page (`web/student/sessions/result?courseid=test.exa-demo&fsname=Session%20with%20different%20question%20types`)

**Expected beha

[2019-04-12 22:07] amrut-prabhu opened #9669 "Nav bar items need to be clicked twice to open page in new tab"
- **Environment**:  `master` branch at commit e360fc0c5

**Steps to reproduce**
1. Go to any page that has navbar items (eg. `web/front/home`)
2. Hold `ctrl` on the keyboard (or equivalent key for Mac) and click on a nav bar item.

**Expected behaviour**
The page corresponding to the nav bar item opens in a new background tab.

**Actual behaviour**
The page does not open. A second click is require

[2019-04-15 00:00] PanagiotisBatsikouras commented on #9669
Hello, I find your project very interesting and I would like to contribute. May I take up this issue as a new contributor?

[2019-04-15 00:22] PanagiotisBatsikouras commented on #9667
Hello I want to be a new contributor to your project because I find it very interesting. Can I take up that issue? However because I am mainly a Java developer, is this issue Java related or it has to do with html?

[2019-04-15 16:38] ChooJeremy opened #9673 "Feedback sessions with + in their name get replaced by ' ' when requested"
- **Environment**: `master` branch at commit a384354b8ecf3cb87006184185724f16560cf14b

**Steps to reproduce**
1. Create a new feedback session with `+` in the name, i.e. `Super+++Session`
2. Attempt to view number of responses in that session

**Expected behaviour**
Number of responses is shown as `0 / X`

**Actual behaviour**
The loading part appears and loops forever while an error message appea

[2019-04-15 16:47] ChooJeremy opened #9674 "Remove unused variables in Const.ResourceURIs"
- **Environment**: `master` branch at commit a384354b8ecf3cb87006184185724f16560cf14b.

With the change from v6 to v7, the API team has been hard at work consolidating endpoints to convert them to more general endpoints, removing specialized endpoints made specifically to serve a single page.

However, with this change some old endpoints have had their URL listed in Const.ResourceURIs but have not

[2019-04-16 00:16] Barbado2017 commented on #9662
Can I take this issue?

[2019-04-16 00:47] sunny2121 commented on #9674
Hi, I'm interested in this project and hope to contribute to it. Can I work on this? I might have time this weekend.

[2019-04-16 01:45] ChooJeremy commented on #9674
@sunny2121 Sure, go ahead!

[2019-04-16 02:12] sunny2121 commented on #9674
@ChooJeremy Thank you!

[2019-04-16 05:12] amrut-prabhu commented on #9667
Hi @PanagiotisBatsikouras , thank you for your interest in TEAMMATES :)

Since this is a a frontend issue (note that it's labelled `a-UIX`), this issue is html related (albeit, pretty simple). For a Java related first timer issue, you can try working on [issue#9252](https://github.com/TEAMMATES/teammates/issues/9252) to get used to [our contributing process](https://github.com/TEAMMATES/teammates/

[2019-04-16 08:47] #9632 closed

[2019-04-16 12:11] junming403 opened #9675 "Cannot archive courses in the instructor home page"
<img width="1070" alt="4CD56C5290CFECABCDDA0DC5334279D4" src="https://user-images.githubusercontent.com/28641786/56208451-c4306900-6083-11e9-829d-7cfb2eb4fdfe.png">
<img width="1065" alt="8B9BD7F49F8F8C8F6CA3344B7EAA0A3B" src="https://user-images.githubusercontent.com/28641786/56208457-c692c300-6083-11e9-8b65-3e2c41f3a038.png">

I suspect this is due to imcomplete api migration.

[2019-04-16 12:26] junming403 commented on #9675
@ChooJeremy  Any thoughts?

[2019-04-16 14:34] eliasmaia commented on #9674
Hi @sunny2121

From which files we need to remove those unused variables?

[2019-04-16 15:29] eliasmaia commented on #9674
![ddiiff](https://user-images.githubusercontent.com/15288848/56222906-30d74380-6043-11e9-94ff-73e15fa67a2e.PNG)

I don't see greyed out lines or so. Am I looking at the right place @ChooJeremy ?

[2019-04-16 16:49] #9666 closed

[2019-04-16 17:18] #9658 closed

[2019-04-17 03:51] ChooJeremy commented on #9674
@eliasmaia

That is the right file and place. You might need to wait a while for IntelliJ to perform indexing before they will show up. If they're still not showing up, you might not have it enabled. You can enable it under

File --> Settings --> Editor --> Inspections --> Java --> Declaration Redundancy --> Unused Declaration (In Windows, there should be something similar for other OS)
![image](h

[2019-04-17 11:28] #9607 closed

[2019-04-17 16:20] jacoblipech commented on #9629
@martinoamigo Sorry for the late reply. Verified on this as well and you are right 👍 My bad for missing out the year part! I think since there is already a tooltip, it is not necessary to show the year.

However, after some digging, I found that the problem still exists in sort by courses. The sorting algorithm is correct but the problem lies in the format the `creationDate` is sent to frontend fo

[2019-04-17 17:22] jacoblipech commented on #9675
I have been facing E2E tests failure for archive action because of this as well. I think the `archiveCourse` function in `instructor-home-page.component.ts` is not populated yet?

[2019-04-17 18:32] martinoamigo commented on #9629
@jacoblipech No worries, I don't need to work on this. Happy to help where I could, feel free to send in the quick fix 👍

[2019-04-18 03:47] tanhengyeow opened #9678 "Instructor: Course Page: Improve status message after archiving a course"
**Environment**:
`master` branch

**Description of feature/enhancement**
The status message after archiving a course is too lengthy:
![image](https://user-images.githubusercontent.com/25320782/56335488-45484700-61cf-11e9-840a-8746f802f098.png)

We can make the message more concise. The message from v6 serves as good inspiration:
![image](https://user-images.githubusercontent.com/25320782/56335502-

[2019-04-18 04:44] tanhengyeow commented on #9665
One possible solution is to remove focus from the text box if it is out of the viewport.

[2019-04-18 05:14] tanhengyeow opened #9679 "Instructor: Preview Sessions Submission Page's navbar covers some content on the page"
**Environment**:
`master` branch

**Steps to reproduce**
1. Create an instructor with a lengthy name e.g. "dsadadasdsadadsadsadadasdsadadasdsadadsadsadadasdsadadasdsadadsadsadadasdsadadasdsadadsadsadadasdsad"
2. Edit a Feedback Session
3. Preview the session submission results with the instructor that has lengthy name e.g.
![image](https://user-images.githubusercontent.com/25320782/56338140-6e6ed4

[2019-04-18 05:37] #9565 closed

[2019-04-18 08:56] tanhengyeow commented on #9663
Related to this https://github.com/TEAMMATES/teammates/pull/9340#issuecomment-455873486

[2019-04-18 10:09] princejha95 commented on #9604
Hi, I am interested in working on the project. Can i be a part of this project ?

[2019-04-18 15:02] eliasmaia commented on #9674
Hi @ChooJeremy

I guess someone has already removed the unused variables, because I tried both approaches you suggested, but none worked out.

[2019-04-18 18:08] ChooJeremy commented on #9674
Hey @eliasmaia, I just checked and can verify that the unused variables are still there.

In the worse case scenario, you can use the Find usages tool to verify all of them independently, but that will be very time consuming on your end.

[2019-04-18 19:13] hppranaav commented on #9667
Hi, my name is Pranaav and I would like to work on this fix. Could you please tell me where the feedback sessions results page is being generated as i am not able to locate it.
Thank you.

[2019-04-18 22:10] braedonaschmidt commented on #9678
Hi, I'd like to give this a shot! Do you know what file contains this status message?

[2019-04-19 18:21] #9386 closed

[2019-04-20 04:05] amrut-prabhu commented on #9604
Hi @princejha95, thanks for your interest in TEAMMATES!

However, as you can see above, there PR #9610 has already been made to fix this issue.

As you are new to the project, perhaps it would be better for you to fix a [first timer issue](https://github.com/teammates/teammates/issues?q=is%3Aissue+is%3Aopen+label%3Ad.FirstTimers) before trying to work on a larger (and tougher) `c.Epic` issues like

[2019-04-20 04:34] tanhengyeow commented on #9678
@braedonaschmidt Please go ahead! As finding the related file to change is part of the learning process, I wouldn't tell you what the exact file as this is a relatively simple fix :)

But 1 hint I can provide is that you should look something along the lines of "Instructor Course".

[2019-04-20 08:18] HarikumarG opened #9681 "cannot find module api-output"
ERROR in src/web/app/components/copy-session-modal/copy-session-modal.component.
ts(3,24): error TS2307: Cannot find module '../../../types/api-output'.
src/web/app/components/error-report/error-report.component.ts(3,36): error TS230
7: Cannot find module '../../../types/api-request'.
src/web/app/components/question-edit-form/feedback-path.pipe.ts(2,41): error TS2
307: Cannot find module '../../..

[2019-04-20 09:41] tanhengyeow commented on #9681
@HarikumarG Have you run `./gradlew generateTypes`. You can refer to this [section](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#managing-the-dev-server-front-end) of the docs to read up more on it :)

[2019-04-20 10:31] princejha95 commented on #9604
Sure. I will try to fix bugs which has first timer tag. But i am facing one problem. When i am trying to use debugger in intellij using remote debug, then the request does not stop at the breakpoint set by me.

So could yo please guide me how to suspend the request at the breakpoint set by me ? I have tried almost everything but nothing is working for me.

[2019-04-20 16:28] wkurniawan07 opened #9685 "Update third-party dependencies"
Routine update of third-party dependencies

[2019-04-20 17:51] sjkadali commented on #9636
Hi @ChooJeremy , sorry for the delay in replying. The problem was that in the resendResultsLinkToStudentsEventHandler and sendRemindersToStudentsEventHandler methods in instructor-sessions-page.component.ts, the request parameter was not passed while calling the methods resendResultsLinkToStudents and sendRemindersToStudents. I've fixed it and is adding a PR for that. Thanks!

[2019-04-21 08:13] #9637 closed

[2019-04-21 09:00] HarikumarG commented on #9681
Thanks @tanhengyeow  But i got another error . I have searched in google but couldn't able to solve . I can't able to understand what exactly i have to configue . Kindly please help me .

C:\Angular\teammates>gradlew appengineStart

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':appengineStart'.

 was provided.

* Try:
Run with --stacktrace option to get t

[2019-04-21 09:17] tanhengyeow commented on #9681
@HarikumarG Have you looked through the setup guide? Based on the information you provided, the issue might be your environment not recognizing Google Cloud SDK, which was stated in this [step](https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md#step-2-install-necessary-tools-and-languages) of the setup guide.

[2019-04-21 09:19] tanhengyeow commented on #9681
I would recommend reading the [Contribution Guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/CONTRIBUTING.md) in detail and if there are any steps that are unclear, feel free to sound out to the community 😄

[2019-04-21 11:06] AyushChatto opened #9687 "Refactor Instructor Course Edit Page"
This page currently has a lot of direct DOM manipulation, which is quite counter to Angular's best practices. It also appears to have some redundant variables, and the HTML is fairly unreadable. It would be in our best interests to refactor this page and follow the 'Angular way', to ensure that it can be easily expanded upon by future contributors.

[2019-04-21 11:09] AyushChatto opened #9688 "Resolve TinyMCE conflicts with Snapshot tests"
Currently, the tinyMCE library generates an `id="tiny-angular_<insert number>` here each time the snapshot test runs, with the number being changed each time. This, of course, makes the snapshot tests useless, since the test checks for consistency between the original and the generated snapshot. We need to explore options that will allow tinyMCE to still be tested via snapshot tests, or find alter

[2019-04-21 11:12] #9687 closed

[2019-04-21 12:57] HarikumarG commented on #9681
Again thanks brother. But i still struggling with my setup . I have read the setup guide and in step 2 , I had java already and python 3.7 now i have changed to python 2.7 and while installing .bat file i am getting this error .

C:\Users\Harikumar G\Downloads\Google cloud sdk\google-cloud-sdk>install.bat --p
ath-update true
Welcome to the Google Cloud SDK!
ERROR: gcloud failed to load: Error when

[2019-04-21 13:56] Adoby7 opened #9689 "LNP test of put /students is broken"
After API consolidation #9647, the LNP test of the endpoint fails.

[2019-04-21 16:02] #9574 closed

[2019-04-21 16:58] #9689 closed

[2019-04-21 22:50] xpdavid commented on #9564
Done. Thanks everyone! 🎉

[2019-04-21 22:50] #9564 closed

[2019-04-22 09:00] hppranaav commented on #9674
@ChooJeremy Hi!, I would like to take up this issue and hopefully contribute.

[2019-04-22 19:55] ValeriaCobianISW commented on #9669
Hi @amrut-prabhu , are you working on this issue? I would like to contribute. :smiley:

[2019-04-23 02:41] damithc commented on #9656
Still broken. Any idea if this is recognized as a Chrome bug?

[2019-04-23 03:08] damithc opened #9693 "Instructor: resend links to specific students: fails for large classes"
V6 (but may be applicable to V7 too)

![image](https://user-images.githubusercontent.com/1673303/56550341-eceebc00-65b7-11e9-9f65-97490681099c.png)

This feature fails if the instructor tries to resend reminders to a large number of students.

Possibly the request length exceeds the permissible length for a http request?

[2019-04-23 03:15] damithc opened #9694 "Instructor: enroll students: loading existing students doesn't work in masquerade mode"
V6

![image](https://user-images.githubusercontent.com/1673303/56550758-1bb96200-65b9-11e9-878f-be08b70689d0.png)

Problem: loading existing students doesn't work in masquerade mode (i.e., admin masquerading as a user)

[2019-04-23 04:06] wkurniawan07 commented on #9693
In which stage does it fail, e.g. does even clicking the button cause something wrong, or it happens only when the students are already selected and the reminders (supposedly) sent?

[2019-04-23 04:32] damithc commented on #9693
At the second stage.

[2019-04-23 05:26] amrut-prabhu commented on #9669
Hi @ValeriaCobianISW , no, I'm not working on this right now. Feel free to take it up
Remember to refer to [our development workflow](https://github.com/TEAMMATES/teammates/blob/master/docs/process.md#step-2-start-clean-from-a-new-branch) :)

[2019-04-23 05:31] amrut-prabhu commented on #9604
@princejha95 Can you try running it in Debug mode from IntelliJ itself instead of remote debug?

![image](https://user-images.githubusercontent.com/29021586/56556992-10236680-65cc-11e9-91cf-01cce9ab042f.png)

[2019-04-23 07:07] wkurniawan07 commented on #9693
The second stage is resolved in V7 for sure.

[2019-04-23 07:27] damithc commented on #9693
Great to hear that. Closing.

[2019-04-23 07:27] #9693 closed

[2019-04-23 17:04] hppranaav commented on #9654
@RonakLakhotia Hey!, i have contributed to a couple of beginner issues at teammates. I would like to work on this issue if possible.

[2019-04-23 17:06] RonakLakhotia commented on #9654
@hppranaav sure go ahead!

[2019-04-23 20:05] princejha95 commented on #9604
Can you send the configuration set for the Google App Engine Standard Local
Server ?

On Tue, Apr 23, 2019 at 11:01 AM Amrut Prabhu <notifications@github.com>
wrote:

[2019-04-24 16:11] amrut-prabhu commented on #9604
@princejha95 If I'm not mistaken, it should be configured automatically once you set up the project as outlined in our setup guide. Here's my configuration

<img width="818" alt="2019-04-25_00h09_22" src="https://user-images.githubusercontent.com/29021586/56675403-8c15cf80-66ee-11e9-98d0-f130aa9474a3.png">

[2019-04-24 16:29] MrHuntix commented on #9678
Hi, I'd like to give this a try.
Just one question i.e. is a simple message like  'The course has been archived.It will not appear in the home page anymore' enough or does the course name also have to appear in the message for example 'The course ${courseName} has been archived.It will not appear in the home page anymore' where ${courseName} is the name of the selected course?

[2019-04-24 16:40] princejha95 commented on #9604
I have Google App Engine Deployment and stackdriver but not what u have
shown. I have followed the instructions given in the project for
installation but its not showing in my intellij. I have cloud code plugins
installed in my intellij.

On Wed, Apr 24, 2019 at 9:41 PM Amrut Prabhu <notifications@github.com>
wrote:

[2019-05-02 21:10] arturolc commented on #9657
Hi, @amrut-prabhu I would like to work on this issue. I am barely getting started with Open Source contributions, so any mentorship is appreciated! :)

[2019-05-07 15:19] #9685 closed

[2019-05-08 14:47] #9674 closed

[2019-05-10 07:13] xpdavid commented on #9656
Looks like the bug is fixed? Just updated my Chrome to the newest version and the checkbox works now.

[2019-05-10 08:06] damithc commented on #9656
Yes. 👍

[2019-05-10 08:06] #9656 closed

[2019-05-10 08:36] #9530 closed

[2019-05-10 08:59] #9490 closed

[2019-05-12 14:01] dipzzzz commented on #9667
But what is the issue? Can you tell me issue in double quotation("..... ")?

[2019-05-16 14:38] #9554 closed

[2019-05-18 08:18] hppranaav commented on #9545
@monmanuela Is it appropriate to split the contents of the email field onto 2 lines through hyphenating them?

[2019-05-19 07:44] monmanuela commented on #9545
@hppranaav I think splitting at the domain name sounds good, but only when necessary. But I'm open to any suggestions :)

[2019-05-21 03:48] Pengyuz opened #9703 "Instructor: enroll students: Incorrect message when adding new students to a new course"
- **Environment**: `master` branch

**Steps to reproduce**
1. log in as an Instructor
2. create a new course without students
3. go to course enroll page and click on "Existing Students" panel, it should show message "No Existing Student in course."
4. add one student to the course, and click on the "Existing Students" panel, the message doesn't disappear

**Expected behaviour**
Message "No Existi

[2019-05-21 03:49] crizyli opened #9704 "Student: Upload/Edit Photo: Confusing error message shown when uploading empty photo"
- **Environment**: `master` branch

**Steps to reproduce**
1. log in as a student
2. go to the profile page
3. click Delete Photo if there is an existing photo
4. click Upload/Edit Photo
5. do not choose any photo and click Upload Image

**Expected behaviour**
Show the user an understandable error message

**Actual behaviour**
![hunt](https://user-images.githubusercontent.com/28641908/58066816-857

[2019-05-21 04:05] erjillsison opened #9705 "Rich text box: Unable to put text box in focus when clicked anywhere but the top-most line of the box"
![click](https://user-images.githubusercontent.com/22665593/58068040-4a2f5a80-7bc2-11e9-8e3f-d5aee2546848.gif)

- **Environment**:
`master` branch at commit 18040a23ac6a5db5c0a251a7a0d7bfb19db468fb

**Steps to reproduce**
1. Go to any rich text box e.g in an essay type question of a feedback session.
2. Click the bottom part of the box

**Expected behaviour**
The text box is in focus and user is a

[2019-05-21 04:12] rrtheonlyone commented on #9704
Hi there,

Thanks for pointing out this issue. I believe you need to add an additional check to make sure the profile photo itself is not empty before sending the request.

Would you like to work on this?

[2019-05-21 04:23] crizyli commented on #9704
Sure, I am going to work on that.

[2019-05-21 04:30] erjillsison opened #9706 "UI: Headers: Inconsistent colour scheme for headers across different pages"
- **Environment**:
`master` branch at commit 18040a23ac6a5db5c0a251a7a0d7bfb19db468fb

**Steps to reproduce**
See the headers in the following pages

/web/instructor/home
![image](https://user-images.githubusercontent.com/22665593/58068224-16a10000-7bc3-11e9-82ca-809bd8e9c479.png)

/web/instructor/courses/edit?courseid=ANY_VALID_COURSE_ID
![image](https://user-images.githubusercontent.com/22665593

[2019-05-21 05:04] erjillsison opened #9707 "Add New Feedback Session: Default selected course ID in the form is incorrect"
- **Environment**:
`master` branch at commit 18040a23ac6a5db5c0a251a7a0d7bfb19db468fb

**Steps to reproduce**

1. Log in as instructor
2. Under any course header that is not the first, click **Sessions** then **Add**
![image](https://user-images.githubusercontent.com/22665593/58069489-fd4e8280-7bc7-11e9-8f66-90749997ae3e.png)

3. The selected course ID defaults to the first course.
![image](https:

[2019-05-21 06:55] xpdavid commented on #9705
@erjillsison I am in charge of migrating rich-text editor in the V6 migration. I also noticed this problem when migrating while there is no easy solution to me at that time.

[2019-05-21 09:22] Adoby7 commented on #9703
Just a reminder, you can put the SHA-1 digest in the "environment" to indicate the problem present up to which commit

[2019-05-22 07:50] erjillsison commented on #9510
Hi, is this still being worked on? May I work on this?

[2019-05-23 03:56] erjillsison commented on #9662
The `margin-top` doesn't seem to cause the issue. The problem's likely inherited from the MatSnackBar itself. Possible solution is to put the navbar on top of the snackbar by setting its z-index.

[2019-05-23 09:39] erjillsison opened #9714 "Student List: "Send Invite" button under Action(s) header is missing"
- **Environment**:
`master` branch at commit 18040a23ac6a5db5c0a251a7a0d7bfb19db468fb

**Steps to reproduce**
1. Navigate to /web/instructor/students
2. Open any course with students that have the status "Yet to join"
![image](https://user-images.githubusercontent.com/22665593/58242058-bb1c7100-7d80-11e9-8fc4-84a410af6dfe.png)

**Expected behaviour**
A **"Send Invite"** button should be present un

[2019-05-25 04:48] Raul9595 commented on #9707
Can I work on this ?

[2019-05-26 13:17] #9623 closed

[2019-05-26 15:16] xpdavid opened #9718 "Update timezone database to 2019a"
TimezoneSyncerTest is blocking the CI due to outdated database.

[2019-05-26 15:27] xpdavid opened #9720 "Resolve console warning raised by TinyMCE"
- **Environment**: a49c676224611d7a83baf87711e41a5f1002b70b

**Steps to reproduce**
Visit any page that use TinyMCE.

**Expected behaviour**
No warning in console.

**Actual behaviour**
![image](https://user-images.githubusercontent.com/13977235/58383796-65a8c400-800d-11e9-91cc-78454da956fa.png)

**Additional info**
We recently upgraded the TinyMCE plugin. This should be the follow-up of the upgra

[2019-05-27 04:50] #9718 closed

[2019-05-27 04:53] xpdavid commented on #9707
@Raul9595 I have assigned this issue to @erjillsison. Can you find other FirstTimer issues to work on?

[2019-05-29 06:03] Adibhat108 opened #9729 "Help Request:[ Error while managing the dev-server] > com.google.cloud.tools.appengine.cloudsdk.internal.process.ProcessRunnerException: Timed out waiting for the success message: '.*(Dev App Server is now running|INFO:oejs\.Server:main: Started).*'"
Followed all steps in for setting up dev-environment and eclipse IDE.
`E:\files\projects\TEAMMATES>gradlew appengineStart
To honour the JVM settings for this build a new JVM will be forked. Please consider using the daemon: https://docs.gradle.org/5.4.1/userguide/gradle_daemon.html.
Daemon will be stopped at the end of the build stopping after processing

May 29, 2019 11:27:11 AM java.util.prefs.W

[2019-05-29 08:22] erjillsison opened #9730 "Student Enroll: Error when enrolling students with empty Section Name"
- **Environment**:
`master` branch at commit 5eff2f4d0819f8910f95f8da04ca2d60b1eb0bb4

**Steps to reproduce**
1. Go to /web/instructor/courses/enroll?courseid=ANY_VALID_COURSE_ID
2. Try to add a student with valid input under **Team**, **Name** and **Email** but leave the **Section** empty.
3. Observe the error message.
![longmessage](https://user-images.githubusercontent.com/22665593/58540852-c82

[2019-05-29 10:48] Adoby7 commented on #9730
Thanks for spotting the bug @erjillsison . Yes, the specification is that `Section` is an optional field. The solution is that a default section name should be provided if section is empty, refer to the constructor of `StudentAttributes`.
![image](https://user-images.githubusercontent.com/25312978/58551094-e0f2bb80-8241-11e9-83de-328746c88e14.png) However, the same abstraction should also be done

[2019-05-30 03:33] crizyli opened #9732 "Feedback Session Edit: Common feedback paths in the drop down list not clickable"
- **Environment**: `master` branch at commit [5eff2f4](https://github.com/TEAMMATES/teammates/commit/5eff2f4d0819f8910f95f8da04ca2d60b1eb0bb4)

**Steps to reproduce**
1. go to any feedback session edit page and edit one question
2. in the Feedback Path section, click the drop-down list and click the common feedback path combinations options

**Expected behaviour**
The options in the drop-down list

[2019-05-30 05:04] xpdavid commented on #9732
#9721 will fix this. @crizyli Can you confirm?

[2019-05-30 05:14] crizyli commented on #9732
Yes, #9721 fixed this issue, except the improper display names

[2019-05-30 08:05] erjillsison opened #9734 "Logic: Fix publishFeedbackSession() method signature"
- **Environment**:
`master` branch at commit 5eff2f4d0819f8910f95f8da04ca2d60b1eb0bb4

If a `null` session is passed in to `logic.publishFeedbackSession()` it will throw an `AssertionError` instead of an `EntityDoesNotExistException`. This behaviour is problematic as it's not properly caught by the Action calling the method. The API also states that updating entities that are not found should thro

[2019-05-30 08:09] RonMosenzon commented on #9720
Hi, I am new to opensource and I want to give it a shot. Can I try this?

[2019-05-31 12:34] #9616 closed

[2019-05-31 14:36] #9678 closed

[2019-06-01 09:44] RonMosenzon opened #9736 "e2e tests failing"
Help Request: e2e tests failing (seems like they are trying to use Firefox even though I am using chrome?)

- **Commit SHA:** 2fec5bf8221e7a2a49beb54cb88f166373e68186
- **Operating System:** Windows 10
- **JDK Version:** 1.8.0_211
- **Node.js Version:** v10.15.3
- **Google Cloud SDK Version:** 246.0.0
- **Eclipse / IntelliJ Version (if applicable):** Oxygen.3a Release (4.7.3a)
- **Firefox / Chrome

[2019-06-01 10:50] xpdavid commented on #9736
Hi @RonMosenzon , This is where the (browser) driver will be initialised. https://github.com/TEAMMATES/teammates/blob/f5f03a070890e1608c7dbe51eac5de9097913fe2/src/e2e/java/teammates/e2e/pageobjects/Browser.java#L104 You may want to check whether ChromeDriver is initialised or not.

[2019-06-01 10:59] xpdavid commented on #9732
So you are saying after `Other predefined combinations...`, what is the expected behaviour?

[2019-06-01 11:00] xpdavid commented on #9729
Probability issue with JVM/Gradle/OS as shown in the message `Could not open/create prefs root node Software\JavaSoft\Prefs at root 0x80000002. Windows RegCreateKeyEx(...) returned error code 5.`

[2019-06-01 11:01] #9703 closed

[2019-06-01 12:40] RonMosenzon commented on #9736
Thanks a lot, looking at the code there a bit I found my mistake, I was editing the file "teammates/build/resources/test/test.properties" instead of "teammates/src/e2e/resources/test.properties".

[2019-06-01 15:27] #9736 closed

[2019-06-01 15:27] #9707 closed

[2019-06-02 05:06] xpdavid commented on #9573
After #9575, need investigate on whether this issue is valid or not.

[2019-06-02 08:57] xpdavid opened #9737 "ArchitectureTest not failing even with violations"
- **Environment**: 08f6d8541022ddaf17ace15a6c97a196965b5a47

**Steps to reproduce**
https://github.com/TEAMMATES/teammates/blob/08f6d8541022ddaf17ace15a6c97a196965b5a47/src/test/java/teammates/test/cases/architecture/ArchitectureTest.java#L146-L155

Remove line 150

**Expected behaviour**

The violation is still in the code base
https://github.com/TEAMMATES/teammates/blob/08f6d8541022ddaf17ace15a6

[2019-06-02 20:50] pollysobeck opened #9740 "Instructor Homepage: "Add New Course" and "Sort By" loose responsiveness at Mobile Widths"
At mobile and smaller screen widths, the "Add New Course" button and Sort By text overlap, making both unreadable and the "Add New Course" button unusable where there is overlap.

**Environment**: Live Server V6.16.2

**Steps to reproduce**
- On a phone or at browser widths smaller than 530px wide, log in as instructor
- Navigate to Home page
- Observe overlap of "Add New Course" button and "Sort

[2019-06-03 03:34] #9706 closed

[2019-06-03 05:28] damithc opened #9742 "Update user map for 2019 April-May"
Similar to #9533
New entries to consider:

Institution | Country
-- | --
Edith Cowan University | Australia
Melbourne Business School | Australia
S P Jain School of Global Management | Australia
The University of Queensland | Australia
AvAnt | Belgium
Hoofdstedelijk Atheneum Karel Buls | Belgium
OLVE College Mortsel | Belgium
PTS Boom | Belgium
Ter Elst | Belgium
Núcleo Regional de Educação de Jac

[2019-06-04 02:55] Pengyuz commented on #9742
Can I work on this? Just add these data entries into userMapData.json?

[2019-06-04 04:37] damithc commented on #9742
The issue is marked for first-timers.

[2019-06-04 05:50] goldami1 commented on #9742
Hi, can I go for it? this'd be my first issue for this repo.

[2019-06-04 07:08] crizyli commented on #9732
![Capture](https://user-images.githubusercontent.com/28641908/58858534-49c2b380-86da-11e9-9b7d-1351a8d52d94.PNG)
As shown in the snapshot, the two red underlined should be something like `Custom Feedback Path` and `Custom Visibility Options` respectively.

[2019-06-06 06:57] erjillsison opened #9747 "Instructor: Courses/Enroll: Unable to update Section name of student"
- **Environment**:

`master` branch at commit 1302ea06ea723385d310e4d844bab669cd931859

**Steps to reproduce**
1. Navigate to /instructor/courses/enroll?courseid=ANY_VALID_COURSE_ID
2. Ensure that it has at least one student and their **Team** name is **unique** in the course. e.g:

Section | Team | Name | Email
-- | -- | -- | --
A | Team 1 | Some name | Email@email.com

3. In the enroll page, und

[2019-06-06 07:41] erjillsison opened #9748 "Improve upon status messages (snackbars)"
- **Environment**:
`master` branch at commit 1302ea06ea723385d310e4d844bab669cd931859

**Description of enhancement**
- ~~Status messages (can be success, warning or error messages) should be displayed longer.~~
- ~~The snackbars should be dismissible i.e add a dismiss button.~~
- ~~Multiple snackbars should be stackable and not replace the currently displayed one.~~

After reading up a bit more,

[2019-06-06 10:55] #9720 closed

[2019-06-06 12:55] #9657 closed

[2019-06-06 13:19] #9662 closed

[2019-06-06 16:41] #9737 closed

[2019-06-07 05:13] cbhhargava commented on #9748
Banners are an option. But having different behaviors just based on length doesn't seem that consistent. Need to have well defined label or factor to justify it. I'm new to the project and was just going through open issues.

[2019-06-07 05:57] erjillsison opened #9750 "Instructor: Courses/Enroll: Limit of 100 students per section is not enforced"
- **Environment**:
`master` branch at commit 4346f6f3d5ef8bf9570ab088a9835709f13ca99f

**Steps to reproduce**
1. Log in as instructor
2. Go to `/instructor/courses/enroll?courseid=ANY_VALID_COURSE_ID`
3. Add more than 100 students in a single section

**Expected behaviour**
Should not be allowed.

**Actual behaviour**
Students are enrolled and one section contains more than 100 students.
![image](

[2019-06-07 06:35] crizyli opened #9751 "Feedback Session Edit: Changes are not saved after clicking 'Done Editing' button"
- **Environment**: `master` branch at commit 4346f6f3d5ef8bf9570ab088a9835709f13ca99f

**Steps to reproduce**
1. log in as an instructor and go to session page
2. edit a session with existing questions
3. edit one or some questions without clicking any `Save` or `Save Changes` button after editing
4. finally click `Done Editing` button near the bottom

**Expected behaviour**
All changes to the edi

[2019-06-07 06:51] erjillsison opened #9752 "Instructor: Course/Student/Edit: Able to exceed section limit by editing section name of an existing student"
- **Environment**:

`master` branch at commit 4346f6f3d5ef8bf9570ab088a9835709f13ca99f
There's a current limit of 100 per section.

**Steps to reproduce**
1. Log in as instructor
2. Have 1 course with **100 students in Section 1** and **a student in Section 2**.
3. Go to instructor/courses/student/edit?courseid=ANY_VALID_COURSE_ID&studentemail=EMAIL_OF_SECTION2_STUDENT
3. Edit the section name to

[2019-06-08 22:03] pollysobeck opened #9756 "Enroll Students Page: Duplicate Empty list item in error when same email exists"
When adding students via the new students spreadsheet on the enroll students page, an error occurs when more than one student in the list has the same email address. This error contains an extra list bullet item with no text in it (see screenshot under Actual Behavior)

 **Environment**: Live Server V6.16.2

**Steps to reproduce**
1. Log in as an Instructor
2. Find an active class and click on Enr

[2019-06-10 02:58] Pengyuz opened #9757 "Feedback Session Edit: Assigned weights not shown after clicking 'Choices are weighted' checkbox"
- **Environment**: master

**Steps to reproduce**
1. Login as an instructor.
2. Open a new feedback session.
3. Create a new mcq or msq question.
4. Check 'Choices are weighted' and uncheck 'generate options from the list of all'

**Expected behaviour**

There should be input boxes for weights.
![image](https://user-images.githubusercontent.com/31039759/59169680-d7d0eb00-8b6d-11e9-9e86-40750749c1f

[2019-06-10 05:12] crizyli opened #9758 "Feedback Session Edit: Feedback path not set correctly using 'Other predefined combinations'"
- **Environment**: `master` branch at commit 4346f6f3d5ef8bf9570ab088a9835709f13ca99f.

**Steps to reproduce**
1. log in as an instructor and go to session page
2. edit a session and add a new question in it
3. for `Feedback Path` section, choose `Other predefined combinations...`. under `Who will give the feedback:`, change to `instructors in this course` and observe that `Who the feedback is abo

[2019-06-10 06:16] crizyli opened #9761 "Feedback Session Edit: Button names should be more appropriate"
- **Environment**: `master` branch

In the feedback session question edit page,
![Capture](https://user-images.githubusercontent.com/28641908/59175820-833b6900-8b89-11e9-8e07-ecfd75b33976.PNG)

As shown in the snapshot, the three red underlined should be something more appropriate like Custom Feedback Path, Custom Visibility Options, and Other visibility options respectively.

[2019-06-10 07:09] nidamunir commented on #9761
Can I work on it?

[2019-06-10 07:11] crizyli commented on #9761
@nidamunir Sure. You can!

[2019-06-10 07:31] damithc opened #9762 "EmailSendingException in live server"
**Environment**: V6, live server

I'm seeing this error in our logs occasionally

teammates.common.exception.EmailSendingException: Remote host closed connection during handshake
at teammates.logic.core.EmailSenderService.sendEmail(EmailSenderService.java:26)
at teammates.logic.api.EmailSender.sendEmail(EmailSender.java:42)
at teammates.ui.automated.SendEmailWorkerAction.execute(SendEmailWorkerAct

[2019-06-10 10:48] josharsh commented on #9761
Does this only require a change in UI?

[2019-06-10 16:09] crizyli commented on #9761
@josharsh Yes, it is.

[2019-06-11 01:18] damithc commented on #9762
Another email related error I occasionally get:

teammates.common.exception.EmailSendingException: Request returned status Code 504Body:
504
Ngnix - Gateway Timeout

[2019-06-11 05:04] crizyli opened #9764 "Feedback Session Page: Remind modal not show instructor involved"
- **Environment**: `master` branch at commit a1ca379b54ad2ab2d2a509d54129809a61605dc6

**Steps to reproduce**
1. log in as instructor
2. create a session contains questions for both student and instructor to answer
3. in the session table, find the session created and click `Remind` button under Action(s)

**Actual behaviour**

Only students involved in this session are shown in the modal, but no

[2019-06-11 07:39] erjillsison opened #9766 "Instructor: Sessions: Add new feedback session form should be hidden by default"
- **Environment**:
`master` branch at commit 4346f6f3d5ef8bf9570ab088a9835709f13ca99f

**Description of feature/enhancement**
Hide the **New feedback session form** by default when navigating to the sessions page as an instructor. Perhaps a card header or button can be placed instead which expands to the form when clicked.

**Justification**

Currently, navigating to the sessions page will give us

[2019-06-11 09:17] erjillsison opened #9767 "Modals: Move modals to the center of the page"
- **Environment**:

**Description of feature/enhancement**
Currently, modals are placed at the top of the page. As a side effect of a recent commit 2999868d97d357472742ff61032d1ab2db57ecee, a portion of a modal is blocked by the nav bar.
![image](https://user-images.githubusercontent.com/22665593/59259532-907d5400-8c6c-11e9-86ff-299bc00f1331.png)
Instead of fixing it by placing modals in front of

[2019-06-11 13:03] #9704 closed

[2019-06-12 04:23] #9734 closed

[2019-06-12 08:32] erjillsison opened #9769 "Feedback Response Comment"
**Description of feature/enhancement**
In v6, there was a feature of commenting on feedback responses. This issue is to track the progress of adding the feature back to v7.

**Feature Specification**
- **Both student and instructor**
    - Add a comment to an MCQ and MSQ response in submission page
        - Able to add only one comment
    - Edit own comments
    - Delete own comments
- **Student

[2019-06-13 04:01] erjillsison opened #9770 "MCQ: Make input form of the 'Other' option to be clickable"
- **Environment**:
`master` at 002061c6b41248664b11953c411cb251408e1629

**Description of feature/enhancement**
![image](https://user-images.githubusercontent.com/22665593/59402756-5c23a800-8dd2-11e9-9686-6f3fc75584b4.png)

It requires two clicks to begin typing in the 'Other' option.
1. Click the 'Other' label or the circle
2. Click the input form

It would be convenient for users to be able to c

[2019-06-13 06:07] xpdavid commented on #9751
The behavior follows V6. However, it does make sense to save all changes after clicking the button. We can either **alert user that you have unsaved changes** (easier) or **save all questions/session** (more complicated as we have to take care of waring/alerting/error messages/modals for each question).

[2019-06-13 06:22] xpdavid commented on #9758
Your fix takes care of the situation where `giverType` makes `recipientType` invalid. Is it possible that `recipientType` can make `giverType` invalid?

[2019-06-13 07:38] crizyli commented on #9758
I think it is not, since the default giverType is student and it has all
kinds of recipientTypes, change the recipientType will not make giverType
invalid.

Xiao Pu <notifications@github.com>于2019年6月13日 周四下午2:22写道：

[2019-06-13 09:06] crizyli commented on #9751
Yes, my current pr is to do **save all questions/session**, but just pop up only one waring/alerting/error modals, not so proper. And the first one is simple, and make sense.

[2019-06-14 03:51] Xyno18 commented on #9742
Can i work on this as my first issue?

[2019-06-14 07:08] crizyli opened #9771 "Instructor search page: Tooltip not shown for the info icon"
- **Environment**: `master` branch at commit ad2d071317e2b1c70139daf43148219cf859f0db

**Steps to reproduce**
Go to the instructor search page, observe that the tooltip is not shown when the cursor hovers.
![Capturesss](https://user-images.githubusercontent.com/28641908/59488629-ada36400-8eb2-11e9-82c8-32a0f7d8e358.PNG)

**Expected behaviour**
![1onlinevideocutterco](https://user-images.githubuser

[2019-06-14 09:19] crizyli opened #9773 "Student course detail page: Standardize picture size and title length"
- **Environment**:  `master` branch at commit ad2d071317e2b1c70139daf43148219cf859f0db

**Steps to reproduce**
1. login as a student who has teammates, some teammates have their profile photo whose size is large
2. click the `View team` button in home page

**Actual behaviour**
![Captureccccccc](https://user-images.githubusercontent.com/28641908/59498636-63c57880-8ec8-11e9-9e17-192c4c19ff90.PNG)

[2019-06-17 17:04] TheDheeraj007 commented on #9747
Hello, first timer here. Can I work on this issue?

[2019-06-18 02:35] erjillsison commented on #9747
@TheDheeraj007 Hello! Unfortunately, there is already a PR for this issue. You can try working on an issue labelled as `d.FirstTimers`

[2019-06-18 02:51] erjillsison opened #9776 "Student/Submission: Some question forms for cetain question types are not disabled when viewing a closed submission"
- **Environment**:
`master` at commit ad2d071317e2b1c70139daf43148219cf859f0db

**Steps to reproduce**

1. As an instructor, create a feedback session with the following question types
    - MCQ
    - MSQ
    - Ranking
2. As a student, fill up the feedback session forms
3. As an instructor, close the feedback session by setting the deadline to a date before the current
4. As a student, view the cl

[2019-06-18 06:09] xpdavid commented on #9776
#9721 should fix these for MSQ/MCQ. The disabled attribute is not used properly in the template https://github.com/TEAMMATES/teammates/pull/9721/files#diff-f13b3a5fbdb57841d7dfc0f11d8523edL6

[2019-06-18 08:04] erjillsison opened #9780 "PublishFeedbackSessionAction: Fix returned status from INTERNAL_SERVER_ERROR to NOT_FOUND"
for cases where the feedback session does not exist.

- **Environment**:
`master` at ad2d071317e2b1c70139daf43148219cf859f0db

[2019-06-18 08:59] damithc opened #9781 "Add sponsor info to V6"
TEAMMATES server cost are currently borne by NUS. In return, we are required to display their name as the sponsor. This needs to be added to V6 as well.

**Current footer:**
![image](https://user-images.githubusercontent.com/1673303/59667015-98973f80-91e8-11e9-8802-399745b3ce0a.png)
![image](https://user-images.githubusercontent.com/1673303/59667156-d72cfa00-91e8-11e9-98ed-199b7f1884d0.png)

**Req

[2019-06-18 09:53] xpdavid opened #9782 "Cache in Travis is not fetched properly"
- **Environment**: ad2d071317e2b1c70139daf43148219cf859f0db

**Steps to reproduce**

Go to Travis build process, look at the `Setting up build cache`.

**Expected behaviour**

https://travis-ci.org/TEAMMATES/teammates/jobs/546608857

**Actual behaviour**

https://travis-ci.org/TEAMMATES/teammates/jobs/547125797

**Additional info**

Looks like Travis has changed their caching logic. @wkurniawan07

[2019-06-19 02:32] #9537 closed

[2019-06-19 04:53] #9757 closed

[2019-06-19 05:15] erjillsison commented on #9780
https://github.com/TEAMMATES/teammates/blob/7e9068a9344f59606faf290b908dc12dd4e616d5/src/main/java/teammates/ui/webapi/action/GetFeedbackSessionStudentResponseAction.java#L39-L43

https://github.com/TEAMMATES/teammates/blob/7e9068a9344f59606faf290b908dc12dd4e616d5/src/main/java/teammates/ui/webapi/action/GetFeedbackQuestionsAction.java#L78-L80

@xpdavid Refer to the above two examples. I noticed s

[2019-06-19 05:18] xpdavid commented on #9780
Depends. Follow whichever is more appropriate.

[2019-06-19 05:34] #9771 closed

[2019-06-19 06:31] erjillsison commented on #9776
I'll make a PR for the ranking question type

[2019-06-19 06:56] #9714 closed

[2019-06-19 15:43] TheDheeraj007 commented on #9642
Hello! This issue looks interesting. Can I work on this issue?

[2019-06-21 08:49] erjillsison opened #9789 "Courses/Edit: Deleting any instructor will delete yourself from the course"
- **Environment**:
`master` branch at commit a1ca379b54ad2ab2d2a509d54129809a61605dc6

**Steps to reproduce**
Prereq: Have a course with at least 2 instructors with co-owner access level
1. Go to courses/edit?courseid=ANY_VALID_COURSE_ID
2. Delete any instructor that is not yourself

**Expected behaviour**
Instructor will be deleted

**Actual behaviour**
You will be deleted from the course and wil

[2019-06-21 08:50] xpdavid commented on #9789
@erjillsison Instructor edit page is buggy in V7. @junming403 will take in charge of refactoring it. You may want to work with him.

[2019-06-22 08:00] #9770 closed

[2019-06-24 08:01] crizyli opened #9791 "Instructor Student Page: `Send Invite` button show error message"
- **Environment**: `master` branch at commit 30f56ffea3016decff6026cc46bb03e346ab7ffd

**Steps to reproduce**
1. log in as an instructor
2. go to student page and find a yet to join student
3. click the `Send Invite` button for that student

**Expected behaviour**
navigate to the course detail page and show email is sent success message

**Actual behaviour**
![erroe](https://user-images.githubuser

[2019-06-24 08:34] erjillsison opened #9793 "Instructor/Courses/Details: Status in student list showing as "Unknown""
- **Environment**:
`master` branch at commit 30f56ffea3016decff6026cc46bb03e346ab7ffd

**Steps to reproduce**
1. Go to courses/details?courseid=ANY_VALID_COURSE_ID
2. Look at the entry under "Status" header in the student list

**Expected behaviour**
Should be either "Joined" or "Yet to Join"

**Actual behaviour**
Shows as Uknown

**Additional info**
Regression from PR #9777.

Course details page

[2019-06-25 06:45] erjillsison commented on #9793
@xpdavid I believe INSTRUCTOR_COURSE_DETAILS is outdated?

[2019-06-25 08:10] erjillsison opened #9795 "MCQ: Prevent duplicate options in MCQ"
- **Environment**:
`master` branch at commit 30f56ffea3016decff6026cc46bb03e346ab7ffd

**UPDATE**
I realised the options I set are the same and that caused the problem. Perhaps the issue should be "Prevent duplicate options in MCQ" instead.

**Steps to reproduce**
~~1. Go to an unanswered MCQ question in a session~~
~~2. Select any option besides the first option~~

**Expected behaviour**
~~Option

[2019-06-25 08:22] erjillsison commented on #9789
I'll fix this issue in the meantime

[2019-06-25 08:45] erjillsison opened #9796 "Courses/Edit: Unable to delete an instructor that has yet to join the course"
- **Environment**:
`master` branch at commit 30f56ffea3016decff6026cc46bb03e346ab7ffd

**Steps to reproduce**
1. Log in as instructor
2. Navigate to instructor/courses/edit?courseid=ANY_VALID_COURSE_ID
3. Add a new instructor without getting the instructor to actually join
4. Delete the said instructor

**Expected behaviour**
Instructor will be successfully deleted.

**Actual behaviour**
Instructo

[2019-06-26 02:55] crizyli opened #9797 "Student All Records page: display feedback session details"
- **Environment**:  `master` branch at commit 30f56ffea3016decff6026cc46bb03e346ab7ffd

**Description of feature/enhancement**
Allow instructors to see the details for students in feedback sessions (i.e. the responses related to them).

**Justification**

Make instructors get more information and know better about the students.

[2019-06-26 06:49] Pengyuz opened #9799 "Tinymce rich text box editor too long."
- **Environment**:  master

**Steps to reproduce**
1. Go to any page contain rich text box editor.
2. Click on the editor, toolbar will show up.

**Expected behaviour**
Appropriate length.

**Actual behaviour**
Toolbar extends to the border of the page.

[2019-06-27 04:39] crizyli opened #9801 "Admin Account Details page: Remove account from course not work"
- **Environment**: `master` branch at commit 30f56ffea3016decff6026cc46bb03e346ab7ffd

**Steps to reproduce**
login as admin and search for one instructor or student
click `manage this account` under Options
find one course and click `Remove From Course` under Options

**Expected behaviour**
The account is removed from the course

**Actual behaviour**
Error message shown as `The request is not val

[2019-06-28 04:13] crizyli opened #9804 "Add in masquerade mode"
**Description of feature/enhancement**
Currently, in V7, the masquerade mode is not added.
Allow admin to impersonate as instructors or students to view and edit data.

**Possible solutions**
1. In each page, when need to send http request, first check if there is `user` present in `queryParams` in the url, if there is, then add `user: this.user` to the request's paramsMap, then send this masquera

[2019-06-29 15:16] ChooJeremy commented on #9642
Sure, go ahead! Usually we recommend starting with a first timer issue, but since there isn't one right now feel free to start working on this.

[2019-07-01 06:28] erjillsison opened #9805 "MSQ: Selecting another option does not deselect "None of the above" option"
- **Environment**:
30f56ffea3016decff6026cc46bb03e346ab7ffd

**Steps to reproduce**
1. Go to a submission MSQ (Multiple-choice multiple-answer question)
2. Select "None of the above"
3. Select another option

**Expected behaviour**
"None of the above" option is deselected

**Actual behaviour**
"None of the above" remains selected. Submitting it this way will yield an error.

[2019-07-01 06:34] erjillsison opened #9806 "Submission page: Fix typo/grammatically incorrect error message"
- **Environment**:
`master` branch at commit 30f56ffea3016decff6026cc46bb03e346ab7ffd

**Steps to reproduce**
1. Fill up a form incorrectly. e.g in MSQ fill up both the "None of the above" option and another option (this is also a bug as seen in #9805)
2. Submit the page

"Some questions do not saved" is shown instead of "Some questions were not saved".

![image](https://user-images.githubusercont

[2019-07-01 06:40] damithc commented on #9806
On a related note, it is better to use icon fonts (e.g., fontawesome) rather than emoji (e.g., ❗️ ) because emoji appearance depends on the browser.

[2019-07-01 17:43] adavid9 opened #9808 "Consider to add lombok to the project"
Hi I have a suggestion, what about replacing all getters/setters in the entities classes with simple `@Data` annotation, did anyone consider to add Lombok to the project? Maybe we could use it, then we could get rid of many lines of code. Maybe previously there was a suggestion like that, I do not know, because today I forked the project, so I am totally new in it. This is only my suggestion, beca

[2019-07-02 01:54] xpdavid commented on #9808
@adavid9 Hi, if u use IntelliJ, Ctril+N will generate getter and setter automatically?

[2019-07-02 02:00] xpdavid commented on #9804
We can have two services.

`MasqueradeModeService` and `HttpRequestService`. `MasqueradeModeService` is stateful while `HttpRequestService` is stateless.

`HttpRequestService` depends on `MasqueradeModeService`. `HttpRequestService` will ask `MasqueradeModeService` to see if we need append user param to REST request. `MasqueradeModeService` depends on `RouterService` (i.e. It tries to get user par

[2019-07-02 02:01] xpdavid commented on #9799
Last time you told me this issue can be resolved by resetting the browser's cache?

[2019-07-02 02:08] xpdavid commented on #9793
Yup. It should be removed and replaced with the new REST endpoints.

[2019-07-02 02:13] xpdavid commented on #9756
I believe the UI will be changed in V7.

[2019-07-02 02:50] #9654 closed

[2019-07-02 04:12] adavid9 commented on #9808
@xpdavid Hi, when using lombok there is no need to generate getters and setters. The compiler does it for you in the runtime. For developer is important only to install lombok plugin and enable pre processor in your IDE. With lombok we could get rid of all getters and setters that are no need, so we could make the code easier to read for the entities.

[2019-07-02 04:34] xpdavid commented on #9808
I do see an additional step during the setup process. In addition, any new developers need to learn lombok I think.

Personally, I am OK with additional getters and setters. They are not that annoying when reading code. Besides, our "data" class is not pure data class. We do have some abstractions (i.e. additional logic) in the setter and getter methods.

[2019-07-02 04:55] adavid9 commented on #9808
@xpdavid Actually learning lombok is unnecessary, the most important annotation is just `@Data`. I am totally fine with your opinion I just gave a sugesttion if you think there is no need to use it, okay.

[2019-07-02 06:18] erjillsison opened #9811 "Students List: Have a better way to show empty students list"
- **Environment**:
`master` branch at commit a77834f53a17f4dd7265d1650b659263cd41afe3

Currently, an empty students list will show as follows:
![image](https://user-images.githubusercontent.com/22665593/60488241-05740480-9cd4-11e9-984c-7617a3a48ffa.png)

We have to replace it with a proper message.

[2019-07-03 07:28] #9806 closed

[2019-07-03 08:33] RomaKhimani commented on #9742
Can I work on this as my first issue ?

[2019-07-03 11:06] #9801 closed

[2019-07-04 08:47] erjillsison opened #9816 "Student list page: "Send invite" button missing"
- **Environment**:
`master` branch at commit 0d9a983cd9ea2f0f902cc58f5b208181337049b2

**Steps to reproduce**
Go to student-list page and view a course with a student that has "yet to join" status.

This was already fixed before but the most recent commit, 0d9a983cd9ea2f0f902cc58f5b208181337049b2, overwrote some of the changes

[2019-07-04 12:38] goldami1 commented on #9742
Opened PR with #9742 fully resolved according to remarks from #9743 PR.
Thanks,

[2019-07-05 00:36] #9751 closed

[2019-07-05 08:43] #9805 closed

[2019-07-06 13:03] #9758 closed

[2019-07-06 22:24] adrianbrenton commented on #9667
Hi, can I work on this issue please? It's my first time contributing to this project!

[2019-07-08 08:18] erjillsison opened #9819 "Natural sort for tables"
- **Environment**:
`master` branch at commit e4700402dcc9a3ae6193d2501b069da096d6c47a

Currently, sorting is done alphabetically by default. However, if there are multi-digit numbers in the labels, the sorting is not intuitive e.g "Team 11" will come first before "Team 2".

But natural sorting can't be applied to all labels with numbers e.g course IDs where the first digit indicates the level and

[2019-07-10 06:55] #9675 closed

[2019-07-10 07:22] #9629 closed

[2019-07-11 04:20] erjillsison opened #9821 "UI: Extra margin in student home page tables"
- **Environment**:
`master` branch at commit a3e909210ccd21c653ae09f04e618cb06c36c418

See screenshot
![image](https://user-images.githubusercontent.com/22665593/61021956-2fb17a80-a3d6-11e9-815a-9ba632c79f73.png)

[2019-07-11 04:36] Pengyuz commented on #9799
After I reinstall my the project using latest angular module, the problem is solved. When install the angular CLI, using command `npm install -g @angular/cli`(the command in the guide is `npm install -g @angular/cli@7`). I think the module tinymce-angular in the angular modules is updated and the problem is solved.

[2019-07-11 04:48] wkurniawan07 commented on #9799
That's because the latest Angular is Angular 8. If you want to go down that path, there are a few more things you need to do than just upgrading the CLI. But `@tinymce/tinymce-angular` library has `>=6.0.0 <9.0.0` version specifier for `@angular` which means you shouldn't need to update the Angular version.

[2019-07-12 12:23] erjillsison opened #9823 "Student result: Feedback made on behalf of team showing as anonymous"
...even with the visibility set to `Visible to recipient and instructors`

- **Environment**:
`master` branch at commit a3e909210ccd21c653ae09f04e618cb06c36c418

**Steps to reproduce**
1. As an instructor, create a feedback session with a question set with feedback path: `Teams in this course -> Other students in the course` and visibility option: `Visible to recipient and instructors`
2. As a stu

[2019-07-13 10:54] raghsiva commented on #9742
Hi is this issue till open? Can I work on this?

[2019-07-14 22:41] MugenTwo opened #9824 "Dev suggestions"
Hi there,
So I accidentally stumbled upon this project while looking for some projects that I can contribute to. Please bear in mind that I am open to discussions and that I don't mean to offend anyone. Sooo, having said that, here are my two cents:
1. I think the code base is just to massive for just one GitHub project (17000 commits, incredible amount of dependencies,...)
2. I believe that there

[2019-07-18 13:07] YashKumarVerma commented on #9742
available ?

[2019-07-19 07:22] #9750 closed

[2019-07-19 07:22] #9747 closed

[2019-07-19 07:56] #9811 closed

[2019-07-20 09:42] #9766 closed

[2019-07-22 01:37] #9816 closed

[2019-07-22 09:58] #9791 closed

[2019-07-22 10:24] xpdavid commented on #9732
Fixed in #9721

[2019-07-22 10:24] #9732 closed

[2019-07-22 10:26] xpdavid commented on #9776
Fixed in master 4fb70a93119b887e4c6ccb7a70894994060d309c

[2019-07-22 10:26] #9776 closed

[2019-07-22 10:38] xpdavid commented on #9781
Fixed in #9787

[2019-07-22 10:38] #9781 closed

[2019-07-23 03:27] erjillsison opened #9830 "Combine table action buttons into a dropdown"
- **Environment**:
`master` branch at commit 4fb70a93119b887e4c6ccb7a70894994060d309c

**Description of feature/enhancement**
Combine the action buttons found in the sessions table in the instructor home page. Might be better to leave the most used buttons (Result? Submit?) outside of the drop-down menu.

This is the current look of the course table from the home page.

![image](https://user-image