[2017-06-09 13:06] damithc commented on #4315
Will it work with a couple of pages worth of stack traces and log entries? I think there is a limit to how long a URL can be. On the other hand I think support for mailto links are also limited. As a user I personally feel it is more user friendly to send emails (more personal and more flexible) rather than fill long forms. We may have to give a web-based email interface after all.

[2017-06-09 13:23] HirdayGupta commented on #4315
@damithc we can use something like the Google Docs API to upload the stack trace to a document and only pass the link to this form. The only field the user would need to fill would be the *"How did you get here"* field.

However, the web-based email interface works too. Can make use of some code from the Admin Email sender.

[2017-06-09 14:36] josephinex commented on #7437
Hi. The same issue with eclipse I'm having now...Unable to login.

[2017-06-09 15:47] HirdayGupta commented on #1701
Beginning work on this issue. Question: Would you want to change the way dates are stored across this page?

[2017-06-09 15:55] damithc commented on #4315
Yes, let's use our own email composer for it. No need to get Google docs/forms involved.

[2017-06-09 16:22] VamsiSangam commented on #7280
Working on this.

[2017-06-10 05:58] shreyag12 commented on #7485
Hello,
I would like to work on this.

[2017-06-10 06:02] HirdayGupta commented on #2775
Working on this. Trying to link this button with the same action as the Remind button on the instructor home page. However, when I copy the `href` parameter from the home page's remind button link to this new one, I get an `Invalid Origin Error`. I'm assuming this has something to do with the `token` URL paramater that gets passed in the URL. Any ideas on how I can avoid the `Invalid Origin Error`

[2017-06-10 07:28] damithc opened #7491 "GoogleLoginPage: fix approval page handling"
v5.106
[code]

[2017-06-10 07:57] damithc commented on #7333
Still the same at v5.106

[2017-06-10 08:16] damithc commented on #7488
This may be a false alarm. In a later run, the test passed 2 out of 4 times. Closing for now.

[2017-06-10 08:16] #7488 closed

[2017-06-10 08:36] damithc opened #7492 "InstructorCourseDetailsPageUiTest: use Gmail API"
v5.106
[code]

[2017-06-10 08:41] shubham49 commented on #2775
@HirdayGupta actually i had started working on this. I have just completed it. If you are in mid way then you can help me by reviewing my PR. If you have completed it go ahead.

[2017-06-10 08:50] damithc commented on #7470
Ready to deploy but waiting for more information on #7492 and #7491 to confirm the problem is with the test and not the functional code. Possibly the two issues are related.

[2017-06-10 08:54] Mynk96 opened #7493 "Sample course: add sample comments to 'First Team Feedback Session'"
Sample comments for feedback responses in First Team Feedback Session.

[2017-06-10 09:14] LiHaoTan commented on #7483
I looked into it a little and suspect the problem comes from a different jSoup library used in IntelliJ IDEA.

<img width="1440" alt="htmlhelpertest" src="https://user-images.githubusercontent.com/13617389/27000566-0170349a-4de8-11e7-812c-1f1a5629b9a8.png">

It can be fixed by forcing the jsoup version used in the project to be the version we want.

We just need to add
`force "org.jsoup:jsoup:1.10

[2017-06-10 09:18] damithc commented on #7483
Good sleuthing @LiHaoTan :+1:
I have no objections to fixing both.

[2017-06-10 10:45] HirdayGupta commented on #2775
@shubham49 I see. In that case go ahead as I was only just beginning. Have given it significant thought though, so would be happy to assist the Devs in reviewing your PR.

[2017-06-10 11:23] shubham49 commented on #2775
Thanks @HirdayGupta

[2017-06-10 16:45] chowyb commented on #7252
Hi @adityavhegde,

Sorry for missing this! No one has resolved this issue yet, so you may feel free to try it out. 👍

[2017-06-10 16:52] adityavhegde commented on #7252
Hi @chowyb ,

As analysed and tested, I was able to modify the FEEDBACK_QUESTION_EDITED field in Const.java and the text seems to be updating.  As suggested by you, above, the new text is "The changes to the question have been updated."

Do you recommend, going with this change, or we should change the text to something else.

[2017-06-10 17:10] chowyb commented on #7252
Hi @adityavhegde,

Yes, that should be fine. Please feel free to open a PR with your change 👍 any further changes (if needed) can be discussed there.

[2017-06-10 17:11] whipermr5 commented on #7437
@josephinex Which stack trace is it? There are two variants above (not enhanced and page not found).

[2017-06-10 17:57] adityavhegde commented on #7252
Hi @chowyb ,

My master was a few commits behind Teammates, so I synced my master with Teammates. Now when I re-launch the application, the edit button is not working (running on the dev server)

[2017-06-10 18:05] VamsiSangam commented on #7252
Hi @adityavhegde ! The edit button has 2 parts right, I mean the pencil icon and the "edit" text. Click exactly on the pencil icon,

![1](https://user-images.githubusercontent.com/11662001/27005114-4a08878c-4e35-11e7-9887-090a7af42d83.JPG)

if that doesn't work click exactly on the "Edit" text,

![2](https://user-images.githubusercontent.com/11662001/27005119-58c8a20c-4e35-11e7-9f03-f055ad841937.J

[2017-06-10 18:08] adityavhegde commented on #7252
Hi @VamsiSangam ,

I did try it. It was working fine before I synced my repo.

[2017-06-10 18:09] VamsiSangam commented on #7252
So currently no matter where you click on "Edit" button, the question isn't going to edit mode?

[2017-06-10 18:10] adityavhegde commented on #7252
That is correct. Possibly something wrong, going on my end?

[2017-06-10 18:13] VamsiSangam commented on #7252
Well, submit a PR with the changes made so far. Then we can have clear look if anything is wrong. :smile:

[2017-06-10 18:15] adityavhegde commented on #7252
Alright. I'll create the PR. Thanks.

[2017-06-10 18:32] BrianCoveney commented on #7437
I was having the same issue, running Intellij on Linux. Then I downgraded Firefox to 46.0.1 and can now login in no problem. Maybe this your issue as well @josephinex.

See [Development Guidelines](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#testing) for instructions.

[2017-06-11 01:42] damithc commented on #7252
@chowyb @VamsiSangam Can this be a case of failing to run `npm run build` too?

[2017-06-11 02:22] LiHaoTan commented on #7437
@BrianCoveney did your issue happened to be an `does not seems to be enhanced`?

Firefox `46.0` is only required for testing purposes and you should be able to login on all browsers, including higher versions of Firefox.

[2017-06-11 07:28] VamsiSangam commented on #7252
Yes sir @adityavhegde just needed to run `npm run build`. Once he ran it everything was fine (I confirmed with him). Recently the inline JS was shifted to .es6 files, so the inline JS of the edit button's `onclick` is now in the .es6 files. Once the command is run, everything will work as expected.

[2017-06-11 10:20] LiHaoTan opened #7499 "Make all HTML valid and add a HTML linter"
Malformed HTMLs are supported by browsers so websites still work, however that does not mean we should write HTML that is invalid because that can cause unexpected behavior.

See regression: #7498

There is some work required to fix this and will require further exploration as well, see f850a6b18fd0269d2ce510c818db975009c85b87.

A possible linter that can be used would be: https://github.com/valid

[2017-06-11 10:35] BrianCoveney commented on #7437
@LiHaoTan I’ve made a mistake in thinking we need to use Firefox 46.0 to log in.
I just tested it with Chrome 59.0, and can log in fine.

My error - copy and pasting the URL (see screenshot) without changing the base URL to http://localhost:8888
![login](https://user-images.githubusercontent.com/8080260/27010315-5c5efa9c-4e99-11e7-92e5-afc271300d0f.png)

[2017-06-11 10:37] LiHaoTan commented on #7437
@BrianCoveney can you try creating an instructor using that link? It should still work though the status incorrectly shows that it failed.

It should be a regression recently, you can see  #7484 for more information.

[2017-06-11 10:53] BrianCoveney commented on #7437
@LiHaoTan I can create an instructor with following this link:
http://localhost:8888/page/instructorCourseJoin?key=XYZ...

I can't with this link because we are no longer pointing to my local server:
https://teammates-brian.appspot.com/page/instructorCourseJoin?key=XYZ...

This was the mistake I was making. I thought it was a Firefox issue, but it was an oversight on my part - following the wrong

[2017-06-11 13:49] HirdayGupta commented on #4315
Sounds good @damithc.
Working on this.

[2017-06-11 15:12] shreyag12 commented on #7432
Add Instructor is not working for me too. Could you please tell how did you solve the problem. I tried npm run build as well. But it didn't work.

[2017-06-11 15:21] damithc commented on #7432
It might help if you give more details. What did you observe when you tried it? any error message? A screenshot might help too.

[2017-06-11 17:40] VamsiSangam opened #7502 "Instructor: home page: remove extra space at end of course panels"
At the end of each course panel, there's an unwanted extra space. This needs to be removed.

![capture](https://user-images.githubusercontent.com/11662001/27013108-148fee94-4efb-11e7-8ca4-24a45fe45ccd.JPG)

[2017-06-11 19:54] amarlearning commented on #7467
Can anyone please confirm that if there is a horizontal scroll in `instructorHelp.jsp` page on a small screen.

[2017-06-12 04:45] wkurniawan07 opened #7504 "Fix unused and misplaced functions in JavaScript files"
- A number of unused functions exist in some JavaScript files
- There is a function which is called but never defined
- Enforcing `no-use-before-define` (#6940 is actually not done)

This will lead up to #7428.

[2017-06-12 04:57] damithc commented on #7499
Perhaps the linter can also run over the html files used for testing? This is because some of the URLs are generated dynamically and may not be visible in jsp/jstl files

[2017-06-12 05:00] LiHaoTan commented on #7499
@damithc yes that was what I was thinking as well, maybe the linter only runs after all the tests

[2017-06-12 05:03] damithc commented on #7487
While I'm open exploring this avenue, keep in mind that bringing in a new framework should be considered carefully because it adds to the learning curve and possibly performance. We already have jsp and jstl which also sort of like 'templates'. We should also explore if either one of them can be used instead of a new framework.

[2017-06-12 05:13] wkurniawan07 commented on #7499
I tried examining HTML linting some time back, but ultimately decided to put it on hiatus because of shift in focus. Some of thing I noticed back then (may or may not still apply now):
- Most/all HTML linters won't be effective in linting JSP such when encountering `<c:if>...</c:if>`, `${...}` tags.
- HTML files used for testing are not worth linting because they have been beautified for God mode

[2017-06-12 06:36] josephinex commented on #7437
@whipermr5 There are 2 errors:
- javax.jdo.JDOUserException: Exception converting Account("test@example.com") to an internal key.
and
 - Persistent class "Class teammates.storage.entity.Account does not seem to have been enhanced.  You may want to rerun the enhancer and check for errors in the output." has no table in the database, but the operation requires it. Please check the specification of t

[2017-06-12 06:50] whipermr5 commented on #7437
@josephinex Are you running it on IntelliJ or Eclipse?

[2017-06-12 07:03] josephinex commented on #7437
@whipermr5 Eclipse

[2017-06-12 07:04] whipermr5 commented on #7437
@josephinex Apologies for missing that. Have you completed step 4 of the [Eclipse setup](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md#eclipse-ide) (particularly, the `ORM Enhancement` part)?

[2017-06-12 07:14] josephinex commented on #7437
@whipermr5  Just double-checked it, and everything is fine. It's set up.

[2017-06-12 07:25] whipermr5 commented on #7437
@josephinex Try doing a clean and build.

[2017-06-12 08:32] whipermr5 commented on #7491
It might be an issue with the post-login approval page handling. Does the test die with the browser at the approval page?

<img width="945" alt="screen shot 2017-06-12 at 4 31 43 pm" src="https://user-images.githubusercontent.com/6811428/27025316-a653a5f0-4f8c-11e7-9eae-25807732970a.png">

[2017-06-12 08:33] whipermr5 commented on #7492
This might just be slow email delivery. I can't reproduce it on my staging server.

[2017-06-12 08:56] damithc commented on #7491
Yes, that seems to be the case. I missed it last time. I can make the test pass by clicking the button manually (which still makes the test fail) and then running the test again (it passes next time because the prompt does not come up anymore). So it is not a big problem although it would be nice if we can click the grant approval button programmatically.

[2017-06-12 09:02] damithc commented on #7492
I increased to 30,000 but still fails. BTW, the test fails at a 'click and cancel' scenario. An email is not supposed to be delivered anyway.

[2017-06-12 09:11] josephinex commented on #7437
That didn't help. The issue still persists.

[2017-06-12 09:12] whipermr5 commented on #7492
Oh I see. I didn't get the `NullPointerException`, but initially I did get an error message about using the browser to login. I had to turn on the `Allow less secure apps` option at https://myaccount.google.com/security?pli=1#connectedapps for the test account for the test to access the email inbox. Is that option already turned on for your test accounts?

[2017-06-12 09:13] whipermr5 commented on #7437
@josephinex Does it work if you run the dev server from the command line instead of Eclipse?

[2017-06-12 09:26] damithc commented on #7492
Yes, that option is already set.
This may be related https://stackoverflow.com/questions/13251467/javamail-null-pointer-exeception-in-bodystructure-parseparameters-is-it-a-bug
I'm using Intellij and this is a fresh setup. I remember we had a similar issue in eclipse and we had to put java.mail library at a specific location to get around it. May be @LiHaoTan can help?

[2017-06-12 09:32] damithc commented on #7492
FWIW, the test fails the same way even if I run it in CLI.

[2017-06-12 09:37] damithc commented on #7470
Deployed

[2017-06-12 09:37] #7470 closed

[2017-06-12 09:41] alwaysreadytolearn commented on #7349
I would like to work on this issue but it seems like oabhi23 has already worked on it but didn't create any pull request. Is it fine If I take up this task, this is my first time on open source contribution and would like to take up something simple.

[2017-06-12 09:48] damithc commented on #7349
@alwaysreadytolearn you can ask in #7355 is @sneachta96 plans to continue that PR.

[2017-06-12 09:53] josephinex commented on #7437
It doesn't, I mean I still get those errors. But I don't have issued like @angelosdmg had (page not found).

[2017-06-12 10:10] sujeet14108 commented on #7479
@damithc In `AdminHomePageUiTest` i guess the the required test is already present.

        //verify sample course is accessible for newly joined instructor as an instructor

        ______TS("new instructor can see sample course in homepage");
        InstructorHomePage instructorHomePage = AppPage.getNewPageInstance(browser, InstructorHomePage.class);
        instructorHomePage.verifyHtmlMainCo

[2017-06-12 11:28] whipermr5 commented on #7492
Confirmed failing on CLI and IntelliJ while passing on Eclipse.

[2017-06-12 13:45] damithc commented on #7479
If it is already covered by tests, then some of the tests should have failed when you added new comments :-)

[2017-06-12 14:08] sujeet14108 commented on #7479
There are three session in sample course but current test only tests for one feedback session. Would write the test for other and update it :)

[2017-06-12 16:14] shreyag12 commented on #7432
![screenshot from 2017-06-12 21 41 32](https://user-images.githubusercontent.com/6481566/27043574-35d7a840-4fb8-11e7-8e22-8f23c49e1b6f.png)
No error comes when i press this Add Instructor button.

[2017-06-12 17:31] VamsiSangam opened #7507 "instructorFeedbackEdit: add class margin-bottom-7px to JS added MCQ and MSQ options"
The options for MSQ and MCQ question types have a class `margin-bottom-7px` which adds a small gap between them.

![1](https://user-images.githubusercontent.com/11662001/27046520-6038b818-4fc2-11e7-9fe5-0bdd0ead31db.JPG)

But the options which are generated through JS, by clicking `+ add more options` button don't have this class which makes subsequently added options cramped.

![2](https://user-i

[2017-06-12 17:39] HirdayGupta opened #7508 "npm run lint not running locally"
When I try to run the `npm run lint` command on my local machine, the build fails with the message `lintspaces: command not found` Below is the complete output from Terminal:

[code]

The first log output (/Users/HirdayGupta/.npm/_logs/2017-06-12T17_31_53_351Z-debug.log)  can be found [here](https://gist.github.com/HirdayGupta/fb3001e782e56831cfb4e13a92d71d0b).

The second log output (/Users/Hirda

[2017-06-12 18:01] VamsiSangam commented on #7508
`lintspaces` is newly added. I think you must run `npm install` to get it.

[2017-06-12 18:06] HirdayGupta commented on #7508
@VamsiSangam Thanks! That worked. Now it's giving me the same errors (descirbed below) as you posted on Slack 😝.

The following config files are being checked by the `npm run lint` command and throwing unexpected trailing/leading space errors and/or expected newline and unexpected additional newlines errors.

- teammates/src/main/webapp/WEB-INF/appengine-web.xml
- teammates/src/main/resources/buil

[2017-06-12 18:08] #7508 closed

[2017-06-12 18:10] VamsiSangam commented on #7508
Cool :+1: .. Those issues don't seem to matter. The Travis CI build on GitHub will pass even with those errors displayed in local CLI :smile:

[2017-06-12 19:16] LimeTheCoder opened #7510 "Instructor: view results: add Points Received column to CSV file results"
As mentioned in #7501 we need to also add Points Received column to CSV results file

[2017-06-13 00:15] #7365 closed

[2017-06-13 00:56] #4283 closed

[2017-06-13 01:28] #7236 closed

[2017-06-13 03:04] #7321 closed

[2017-06-13 04:19] chowyb commented on #7507
Setting to `d.Contributors` as this might require use of GodMode, even though the change is relatively straightforward.

[2017-06-13 04:24] chowyb commented on #7467
Seems to still be present; the main cause appears to be visibility settings when editing a question, where the button stretches the screen (especially if the text is long).

[2017-06-13 05:40] Anirudh257 commented on #6986
I would love to work on this.

[2017-06-13 05:52] damithc opened #7512 "Instructor: edit question: receiver is instructors: support specifying a max number of recipients"
Current:
![image](https://user-images.githubusercontent.com/1673303/27067744-0fc824b8-503f-11e7-818d-72a330da8159.png)

Support something like this (screenshot from the case where recipient is 'other students in the course')
![image](https://user-images.githubusercontent.com/1673303/27067819-639c0aa0-503f-11e7-8bf7-6432bf2cc405.png)

Justification:
Requested by a user. His course has 30 tutors and

[2017-06-13 07:24] damithc commented on #7432
@shreyag12 can you try the other form displayed at the top of the same page?
@TEAMMATES/activedevs can someone confirm this behavior reported by @shreyag12 above?

[2017-06-13 08:04] whipermr5 commented on #7432
Mine's working fine on a clean setup from `master`. @shreyag12 what happens when you do `npm run build`?

[2017-06-13 08:13] Mynk96 commented on #7432
@shreyag12 this problem looks like javascript not properly included in the page. Can you please clean your cache in your web browser, clean your project in eclipse, do `npm run build` and restart your dev server (sequentially). I hope that would resolve your problem.

[2017-06-13 08:32] HirdayGupta commented on #4315
@damithc In trying to emulate the behaviour of the Admin Email composer stack, I find that I may have to create a new Task Queue, Worker URL and Database for this feature. Am I moving in the correct direction? And if so, I will need some assistance in creating the same as I am extremely new to this. Another option is to use the existing queue, url and Database for the admin emails (something that

[2017-06-13 09:09] damithc commented on #4315
@HirdayGupta perhaps we leave this alone for a while until you are more familiar with the code base? To make matters worse, admin features are the least tested part of the app. In fact, admin email sending feature is rarely used. So, if you dive into this area and run into difficulties, help from current devs may not be as readily available as for other areas.

[2017-06-13 10:01] whipermr5 opened #7513 "Add datastore-indexes.xml for easier deployment"
Currently, we do not have a [datastore-indexes.xml](https://cloud.google.com/appengine/docs/standard/java/config/indexconfig) file in `src/main/webapp/WEB-INF/`, but instead rely on the autogenerated `src/main/webapp/WEB-INF/appengine-generated/datastore-indexes-auto.xml` which only gets updated index by index whenever the dev server performs an action that queries the datastore.

For the file to

[2017-06-13 10:15] damithc commented on #7513
:+1:
In fact. some indexes don't get created even if the entire test suite is run. e.g. those related to automated reminders.

[2017-06-13 10:22] whipermr5 commented on #6566
If we are just doing counts, [projection queries](https://cloud.google.com/appengine/docs/standard/java/datastore/projectionqueries) will give much better performance.

[2017-06-13 12:37] malenchite opened #7515 "New contributor self intro Steven Israel"
App:
http://teammates-malenchite.appspot.com/

Tinker Fork:
https://github.com/malenchite/teammates/tree/tinker

UI Change:
 My simple change was to alternate the graphics on the main index rather than have them in a single column.

![image](https://user-images.githubusercontent.com/1165054/27082626-8afda4fe-5013-11e7-93ea-d45480eb14e7.png)

Intro:
My name is Steven Israel. I have been working in

[2017-06-13 13:19] #7504 closed

[2017-06-13 13:39] damithc opened #7516 "Instructor: publish session: fix bug where emails go out but the session remains unpublished"
Received from a user:
`I went to Home, then on the course list, selected “View Results” of the session. Then selected Publish Results. I did get emails from students saying they could not view the results.  So I went back in and clicked “Publish Results” from the Home page. I then got the email that the session results were published.`

Two sessions faced similar issues today. The session was publ

[2017-06-13 14:46] malenchite commented on #7345
This issue appears to be resolved. I went to work on it, but the files from the master already uses quotation marks for the unpublish prompt.

[2017-06-13 14:55] malenchite commented on #7424
I have started working on this.

[2017-06-13 16:14] #7502 closed

[2017-06-13 19:17] Mynk96 commented on #7272
@damithc what if the same instructor gives more than one comments, then should we show all his/her comments in a single cell?

[2017-06-14 00:53] damithc commented on #7272
I think it is better to show each comment in a separate cell. i.e. show them in the other order they were given and ignore the fact that it is from the same instructor.

[2017-06-14 00:57] Mynk96 commented on #7272
@damithc got it🙂

[2017-06-14 01:26] chowyb commented on #7345
Confirmed; this was fixed in #7466, closing this issue.

[2017-06-14 01:26] #7345 closed

[2017-06-14 03:41] whipermr5 commented on #7515
Hey Steven, welcome to TEAMMATES! Good job setting everything up correctly! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-06-14 06:01] #5654 closed

[2017-06-14 06:09] thenaesh commented on #7448
Fixed by #7476.

[2017-06-14 06:09] #7448 closed

[2017-06-14 08:03] whipermr5 opened #7520 "Project setup: eliminate the need to set the user.timezone VM flag"
The current way to ensure UTC time in the dev server is to set the VM flag `-Duser.timezone=UTC` in the dev server run configurations. This instruction is easy to miss and user-dependent. Instead, the time zone can be set in the application code itself run during server startup. This will enforce consistency and ease the setup process.

There is also one test, `StudentProfileAttributesTest`, that

[2017-06-14 08:41] damithc commented on #4315
I just realized there is an easier way to do this. Instead of sending an email directly, simply log a message at `severe` level. We already have a mechanism to email `severe` level log messages to the admin.

[2017-06-14 12:29] BrianCoveney commented on #7190
Hi, I've started working on AccountAttributes. Hope that's ok @LimeTheCoder and @whipermr5

[2017-06-14 17:41] Mynk96 commented on #7272
@damithc Here is the sample `CSV` [file](https://drive.google.com/file/d/0B4LHGBsmr3q0YmdNY1EzVjJhUzA/view?usp=sharing) after including Instructor `comments`. Need your input for the same.

[2017-06-15 01:01] damithc commented on #7272
What I had in mind initially was something like this:
![image](https://user-images.githubusercontent.com/1673303/27160780-3c4aabee-51a9-11e7-97d0-5bf9d7d71209.png)
What do you think?

[2017-06-15 01:05] whipermr5 commented on #7257
@DorianDevelops As [updated](https://github.com/TEAMMATES/teammates/pull/7302#issuecomment-308581969) by @angelosdmg, you may take the issue now if you're still interested to work on it.

[2017-06-15 01:36] whipermr5 commented on #7481
Note to self: scan through the changes in #7132 to see if any other page data has been affected but as yet undetected. 😅

[2017-06-15 07:18] #6729 closed

[2017-06-15 07:18] #7428 closed

[2017-06-15 07:27] Mynk96 commented on #7272
@damithc Yes, the above layout will be much easier for the instructor to interpret instead of scrolling sideways to see the comment and the scrolling back to see the response. Considering the above inputs, I have made [changes.](https://drive.google.com/file/d/0B4LHGBsmr3q0YmdNY1EzVjJhUzA/view?usp=sharing)
Also, I have kept the headers only vertically as I think that will make content more readabl

[2017-06-15 08:22] damithc commented on #7272
Sorry I did not explain clearly. Your previous location is correct (it should be in the same row as the response -- to preserve sortability). My suggestion was only about what to put in what cell.

![image](https://user-images.githubusercontent.com/1673303/27172144-beeab714-51e6-11e7-94f2-4fd7fa375d0d.png)

[2017-06-15 10:00] thenaesh opened #7526 "Release 5.107"
Scheduled for June 16, 2017, 11.59pm SGT.

[2017-06-15 10:01] thenaesh opened #7527 "Update about.jsp with contributors from V5.107"

[2017-06-15 10:05] #7252 closed

[2017-06-15 10:07] #7465 closed

[2017-06-15 10:17] damithc commented on #7451
@adityavhegde we don't have a public access chat channel at the moment. You can use the issue tracker to ask questions or request for help.

[2017-06-15 10:18] adityavhegde commented on #7451
@damithc thank you :)

[2017-06-15 10:28] whipermr5 commented on #7526
The recent change to `appengine-web.template.xml` requires updating the local copy of `appengine-web.xml` before deploying.

[2017-06-15 10:50] whipermr5 commented on #7483
Strange - my IntelliJ now resolves to the correct jsoup version and the test passes. It's pretty unpredictable.

[2017-06-15 11:34] LiHaoTan commented on #7483
Yea I guess I forgot to mention that it is unpredictable.

[2017-06-16 06:07] thenaesh opened #7528 "Clean up the AJAX calls"
It's an unholy, filthy mess right now, with AJAX calls in several files requesting HTML snippets and just chucking them into the DOM in a sloppy, error-prone and unmaintainable way.

Ideally, AJAX calls should request for JSON snippets, and we should have a standardised, easy-to-understand way to insert them into the page. Now that we have ES6, we can make full use of its features to build proper

[2017-06-16 06:42] whipermr5 opened #7529 "Upgrade AppEngine SDK to 1.9.54"
The current version we're using, 1.9.27, is nearly two years old - it's time for an upgrade.

**Reasons for Upgrading**

- Appstats cost calculation seems to have changed, as discovered in https://github.com/TEAMMATES/teammates/pull/6848#issuecomment-295121466. Before moving on to write more performance profiling tests that include cost calculation, we need to use the latest libraries for accurate

[2017-06-16 10:04] wkurniawan07 commented on #3978
Something even better has been done: broken up into modules.

[2017-06-16 10:04] #3978 closed

[2017-06-16 10:05] wkurniawan07 commented on #6343
No longer relevant.

[2017-06-16 10:05] #6343 closed

[2017-06-16 10:06] wkurniawan07 commented on #6754
Done some time while doing #6961.

[2017-06-16 10:06] #6754 closed

[2017-06-16 10:07] wkurniawan07 commented on #6961
The last of the `on*`s are located in the question-related HTML files in `src/main/resources` and a small amount of question-related JS (`question*.es6`).

[2017-06-16 10:12] wkurniawan07 commented on #3770
This is essentially #6961.

[2017-06-16 10:12] #3770 closed

[2017-06-16 10:50] wkurniawan07 commented on #7529
For reference, the reason I did not do any upgrade before was because I was waiting for [Java 8 support](https://cloudplatform.googleblog.com/2017/03/your-favorite-languages-now-on-Google-App-Engine.html). Clearly it did not make the cut before, but it might in the next 3-4 months so I leave it up to you if you want to upgrade now or wait a little longer.

P.S. if you want to upgrade now, it looks

[2017-06-16 10:51] wkurniawan07 commented on #7254
I assume this is resolved in #7410.

[2017-06-16 10:51] #7254 closed

[2017-06-16 11:13] wkurniawan07 commented on #7259
I don't think there's any more work to be done here, now that things have been simplified by a lot.

[2017-06-16 11:13] #7259 closed

[2017-06-16 11:28] whipermr5 commented on #7529
@wkurniawan07 👍 It doesn't seem to be on maven central though (at least not the website).

[2017-06-16 11:32] LiHaoTan commented on #7529
@whipermr5 Hey it actually shows up.
https://search.maven.org/#artifactdetails%7Ccom.google.appengine%7Cappengine-api-1.0-sdk%7C1.9.54%7Cjar

Though the `gradle-appengine-plugin` is still on 1.9.53, I wonder if it's compatible.

https://github.com/GoogleCloudPlatform/gradle-appengine-plugin

[2017-06-16 12:32] wkurniawan07 commented on #7529
If it's anything like [their previous 5 releases](https://github.com/GoogleCloudPlatform/gradle-appengine-plugin/blob/master/RELEASE_NOTES.md), there shouldn't be any problem.

On another note, that plugin is set for deprecation in favour of [this one](https://github.com/GoogleCloudPlatform/app-gradle-plugin).

[2017-06-16 12:57] shubham49 opened #7532 "Add source maps for easier JavaScript debugging"
Debugging of minified JS files is difficult. We can beautify the file for debugging but locating functions in it is difficult. Do we have any other easy method to debug JS? or should we skip minifying JS files for development environment?

[2017-06-16 13:14] wkurniawan07 commented on #7532
I don't see the issue here because:
- Merely not minifying will not grant you access to the original ES6 files; Webpack adds many layers of code in order to make bundling work, and the JS is transpiled to ES5 syntax.
- Most browser debugging tools can prettify minified JS. That means you can add line breakpoints just as you would do for unminified JS. The only downside is they will not recover the

[2017-06-16 14:32] shubham49 commented on #7532
I find it difficult to debug without locating functions and variable names. In that case I guess  there is no other option.

[2017-06-16 20:46] HirdayGupta opened #7533 "Add `package-lock.json`"
Current behaviour: Everytime I run `npm install` this file, package-lock.json gets created and gets added to the git changes.

Should this be ignored by git?

[2017-06-16 23:14] HirdayGupta opened #7534 "DevHelp requested: Local Dev Server: Cannot visit InstructorHomePage, StudentHomePage or run tests locally"
This seems to be some issue with my project set up.

Running on localhost, On attempting to visit either the instructor home page or the student home page, I get the error that the "Server failed to respond within a reasonable time". When running a test, the test fails before even launching the browser. (Error trace further below).

Following is the error log I receive on trying to visit the instr

[2017-06-16 23:30] HirdayGupta commented on #7534
UPDATE: Resolved. Ran `./gradlew resetEclipseDeps` and this seems to have done the trick.

[2017-06-16 23:30] #7534 closed

[2017-06-16 23:48] wkurniawan07 commented on #7533
`package-lock.json` is a new concept introduced in NPM 5.0.0, released very recently. If this is anything like Rails' `Gemfile.lock`, then it needs to be source-controlled, but we'd need some time to study it first.

[2017-06-17 04:58] shreyag12 commented on #7432
![screenshot from 2017-06-17 10 20 35](https://user-images.githubusercontent.com/6481566/27250251-709c60a0-5347-11e7-85af-f2786bc56413.png)
![screenshot from 2017-06-17 10 19 43](https://user-images.githubusercontent.com/6481566/27250255-882bb414-5347-11e7-96a4-1176a6e7065c.png)
This is what happens when I run npm run build. Could you please tell what i am doing wrong?

[2017-06-17 05:05] whipermr5 commented on #7432
From a quick Google search: `ln -s /usr/bin/nodejs /usr/bin/node`

[2017-06-17 05:37] whipermr5 commented on #7533
Noticed this too after updating `npm` on my system :)

[2017-06-17 05:40] whipermr5 commented on #7532
Source maps?

[2017-06-17 05:43] whipermr5 commented on #7529
Oh cool! I see it now. Maybe we should take this opportunity to migrate to the latest cloud tools library.

[2017-06-17 05:50] whipermr5 commented on #7437
@josephinex Can you paste the output of `./gradlew appengineRun` here?

[2017-06-17 07:30] shubham49 commented on #7532
source maps works without uglify plugin. This works for me. thanks @whipermr5

[2017-06-17 08:09] HirdayGupta commented on #7533
Ahh, understood @wkurniawan07. So for now, I shouldn't be committing the changes to `package-lock.json` along with PRs, correct?

[2017-06-17 08:58] shreyag12 commented on #7432
![screenshot from 2017-06-17 14 26 28](https://user-images.githubusercontent.com/6481566/27251656-fc679dea-5368-11e7-9cd3-d8aa9d7e59b4.png)
@whipermr5  I did as you said but now this error has come and i installed electron-to-chromium also npm install --save electron-to-chromium
but this problem still persists.

[2017-06-17 09:08] whipermr5 commented on #7432
`npm install`

[2017-06-17 09:29] Mynk96 commented on #7239
Just a doubt, should I create a new entity for example FeedbackResponseExplanation got each explanation from students or just add a new responseExplanation attribute for each of their responses?

[2017-06-17 23:32] HirdayGupta opened #7537 "Instructor: edit instructors: reflect changes to not-yet-joined instructor's visibility elsewhere in the system"
Noticed this while working on #4043

In the Instructor Course Edit Page, any changes made to the visibility of an existing instructor are not reflected across the system.

**Environment:**
Most recently updated `master` branch

**Steps to reproduce:**
- Go to the edit course view (Courses -> Edit Course)
- Click edit instructor for any instructor in the course
- uncheck/check the `Display to stude

[2017-06-18 00:27] HirdayGupta commented on #4043
Hi @amarlearning! Didn't know you were working on this! 😅

I had some code ready to go that takes a different approach to this issue (taking into consideration the follow up comments made by@damithc and @taniach). Submitting the PR to see what devs have to say! 😃

[2017-06-18 01:01] amarlearning commented on #2203
Taking this one

[2017-06-18 05:55] dyugoaykol opened #7540 "Got problem while using checkstyle"
- **Operating System:Ubuntu 16.06**
- **JDK Version: 1.8.0_131**
- **Eclipse / IntelliJ Version (if applicable):Eclipse Java EE IDE  Neon.3 Release (4.6.3).**
- **Firefox / Chrome Version (where applicable):**

**What I was trying to do / What I need help with**
I'm setting up the static tool analysis. There were no problems when we clean the project. But upon following the guide at https://github

[2017-06-18 06:37] #7493 closed

[2017-06-18 06:57] whipermr5 commented on #7540
Have you pointed it to use our config file `teammates-checkstyle.xml`?

[2017-06-18 06:57] #7451 closed

[2017-06-18 07:01] HirdayGupta commented on #7540
@whipermr5 I got the same thing on installing the check style plugin for Eclipse. I had pointed it to use the `teammates-checkstyle.xml`. As a temporary fix (since I rarely/never work with `/src/client`, I just changed the plugin settings to  only check files

[2017-06-18 07:04] dyugoaykol commented on #7540
Yes, I pointed it using the instructions mentioned at https://github.com/TEAMMATES/teammates/blob/master/docs/staticAnalysis.md#tool-stack; Following is the screenshots.
1. Adding the file to checkstyle.
![coding standard](https://user-images.githubusercontent.com/16326855/27258811-10ae0898-5422-11e7-882d-3b057d938675.png)
2. Enabling the standard.
![standart enabled](https://user-images.githubuse

[2017-06-18 07:05] whipermr5 commented on #7540
@HirdayGupta @dyugoaykol Which version of the checkstyle plugin was installed?

[2017-06-18 07:07] HirdayGupta commented on #7540
@whipermr5 Mine is Eclipse Checkstyle Plugin 7.6.0.201703111252. Downloaded from the link in the help docs.

[2017-06-18 07:07] whipermr5 commented on #7540
@dyugoaykol Can you press edit on the file set and screenshot the resulting dialog?

[2017-06-18 07:10] whipermr5 commented on #7540
@HirdayGupta

From [the doc](https://github.com/TEAMMATES/teammates/blob/master/docs/staticAnalysis.md#version-numbers):

[2017-06-18 07:13] dyugoaykol commented on #7540
Sure , I was lazy. @whipermr5 . Here is the version.
![version](https://user-images.githubusercontent.com/16326855/27258887-a60f3604-5423-11e7-833f-786cc50ed4f1.PNG)

[2017-06-18 07:17] whipermr5 commented on #7540
Do use version 6.19 as declared in [`build.gradle`](https://github.com/TEAMMATES/teammates/blob/81bc6820c5c22503ee6dd60ea081cb89968fc265/build.gradle#L19).

[2017-06-18 08:13] dyugoaykol commented on #7540
Great ! That resolved the problem. I also learned how to install the old version using manual methods. Thanks and Cheers !

[2017-06-18 08:13] #7540 closed

[2017-06-18 09:20] HirdayGupta commented on #4315
@damithc I was unaware of such mechanism that is a lot simpler! 😅 Will implement this and carry on further discussion in the PR. 😀

[2017-06-18 13:33] whipermr5 commented on #7437
[code]
Then try to login again and see the error message from the console.

[2017-06-18 16:33] wkurniawan07 commented on #7537
I cannot reproduce this. Could this be because of cached old JS code?

[2017-06-18 16:34] wkurniawan07 commented on #7533
It seems apt to add `package-lock.json` to VCS. @whipermr5 any thoughts?

[2017-06-18 16:37] wkurniawan07 commented on #7528
Not trying to discourage or anything because it is a legitimate issue, but I hope you understand the magnitude of what this issue entails...

[2017-06-18 16:38] wkurniawan07 commented on #7516
Likely cached JS files. I cannot reproduce this on the latest `master`.

[2017-06-18 16:41] wkurniawan07 commented on #7457
I tried the enrollment string provided there and did not encounter the said problem in the latest `master`.

[2017-06-18 17:29] HirdayGupta commented on #7537
@wkurniawan07 Nope, I don't think its because of cached JS code. Running it with Chrome Console open and Disable Cache enabled. Ensured that I ran NPM run build after switching to master before running the dev server too. Am I missing anything to rule out cached code?

[2017-06-18 17:45] HirdayGupta commented on #7537
@wkurniawan07 UPDATE: just discovered that the described error occurs only if the instructor is yet to join the course. This being the case, should the expected behaviour change? Or is this still a bug that needs fixing?

[2017-06-18 18:32] wkurniawan07 commented on #7180
Now that we have Webpack, we can consider using it to bundle all the necessary dependencies. That way, we get the best of both worlds:

- [x] Not reliant on any CDN; can develop/test offline
- [x] Performance boost: bundled libraries can (1) lead to less HTTP requests, and (2) be cached, much like bundled JS
- [x] Can automate the dependency resolution
- [x] No need to "host" the library files loc

[2017-06-18 18:51] wkurniawan07 commented on #7537
Managed to reproduce. It is a bug.
@HirdayGupta I'll give you the challenge to find out the cause and fix it. (I've already known why)

[2017-06-18 23:07] nkshschdv opened #7542 "CI Test error ?"
- **Operating System: ubuntu 16.06**
- **JDK Version:1.8 **
- **Eclipse / IntelliJ Version (if applicable):**
- **Firefox / Chrome Version (where applicable):**

**What I was trying to do / What I need help with**
The CI Test fails and ended with the following error notifications as shown screen shot:
![ci error](https://user-images.githubusercontent.com/15321028/27264960-f97b9032-54a8-11e7-8d9f-8

[2017-06-19 00:08] whipermr5 commented on #7513
I do get all 6 indexes by running the full test suite, unless I'm missing some more?
<img width="644" alt="screen shot 2017-06-19 at 8 06 22 am" src="https://user-images.githubusercontent.com/6811428/27265341-60e47e38-54c6-11e7-86fb-bd4c59bf7daa.png">

[2017-06-19 00:57] damithc commented on #7513
There were times when some indexes were not added by the test suite. Perhaps test cases have been added to cover all 6 indexes since then.

[2017-06-19 02:06] whipermr5 commented on #7542
There's a problem with your setup, as shown by how the datanucleus class was not found. Run through `settingUp.md` and `ide-usage.md` again - you might have missed a step.

[2017-06-19 02:27] whipermr5 commented on #7533
Just read through https://docs.npmjs.com/files/package-lock.json. Sounds good!

[2017-06-19 04:55] Mynk96 commented on #7239
@damithc  your input?

[2017-06-19 06:18] HirdayGupta commented on #7542
@nkshschdv I was getting a similar error in #7534. The solution for me was to run `./gradlew resetEclipseDeps`.

[2017-06-19 06:45] nkshschdv commented on #7542
What exactly does this command to the Eclipse ? I want to understand the cause .@HirdayGupta

[2017-06-19 06:49] whipermr5 commented on #7542
You can find the exact steps [here](https://github.com/TEAMMATES/teammates/blob/81bc6820c5c22503ee6dd60ea081cb89968fc265/build.gradle#L498-L506).

[2017-06-19 06:51] damithc commented on #7239
@Mynk96 my initial impression is that we should reuse FeedbackResponseComment for this. i.e. just like instructors can add comments to responses, we should allow students to add comments to responses too.

[2017-06-19 06:53] #7405 closed

[2017-06-19 07:13] Mynk96 commented on #7239
@damithc Yes, We can also do it that way.

[2017-06-19 07:25] #7424 closed

[2017-06-19 07:28] nkshschdv commented on #7542
It did solved .However, the problem still persists. But it shows now similar but more errors. It tries to use my Firefox for selenium testing but of no use, nothing appeared on the browser.
The errors were enormous , Following i have attached screenshots as they appeared in sequence :
1.
![1](https://user-images.githubusercontent.com/15321028/27273920-cf02d89c-54ee-11e7-943b-4106012ff8f8.png)
2.
!

[2017-06-19 07:39] whipermr5 commented on #7542
See #7437

[2017-06-19 07:43] damithc commented on #7457
I can't reproduce it either. :-p Strange.

[2017-06-19 07:43] #7457 closed

[2017-06-19 07:44] damithc commented on #7516
Given that we do weekly releases, cached JS files could be a frequent problem? Any solutions?

[2017-06-19 07:53] damithc commented on #7482
Looks like leaving `org.gradle.daemon=false` in the `gradle.properties` doesn't have the same effect. So we have to enable it and then disable it :-p

[2017-06-19 08:04] LiHaoTan commented on #7482
@damithc oh they don't refer to the same daemon, this property refers to the app engine specific daemon, not the Gradle daemon.

[2017-06-19 08:11] leeyimin opened #7543 "Assert boolean values in InstructorFeedbackPageUiTest"
Boolean values returned by `verifyHidden`, `verifyEnabled`, `verifyDisabled` in InstructorFeedbackPageUiTest are not asserted and are thus not properly tested.

[2017-06-19 08:49] #7507 closed

[2017-06-19 08:59] whipermr5 commented on #7437
@josephinex Deleting the directory `src/main/webapp/WEB-INF/classes/` should fix the issue.

[2017-06-19 09:34] #7483 closed

[2017-06-19 10:18] whipermr5 commented on #7529
Hmm 1.9.53 seems to be incompatible with IntelliJ (I cannot add the application server - nothing happens after selecting the 1.9.53 SDK folder). 1.9.52 is fine though. @LiHaoTan can confirm this?

[2017-06-19 11:03] Mynk96 opened #7544 "Make InstructorStudentRecordsPage comments id consistent with InstructorFeedbackResultsPage comments id"
#Currently, comments on questions by the student has id '`*`-`RGQ`-`*`-`*`-`*`-`*`' which should be '`*`-`GRQ`-`*`-`*`-`*`-`*`' and vice versa.

[2017-06-19 11:22] adityavhegde commented on #7485
Hi, is anyone still working on this. If not, I'd like to take this up.

[2017-06-19 12:26] LiHaoTan commented on #7529
Hmm I can add it just fine?

[2017-06-19 12:32] #6448 closed

[2017-06-19 13:05] #7320 closed

[2017-06-19 14:10] #7491 closed

[2017-06-19 14:55] #7520 closed

[2017-06-19 15:36] #7513 closed

[2017-06-19 15:57] sujeet14108 commented on #7543
Would work on it

[2017-06-19 17:02] josephinex commented on #7437
@whipermr5 , I deleted /classes and now I can log in and that's great! However when I run the application in Eclipse, I get several issues.
Here are the screenshots of app engine and ORM:

![screenshot at 2017-06-19 19-56-05](https://user-images.githubusercontent.com/6609602/27296602-356f9d5a-552a-11e7-8a43-0c8160e3668a.png)
![screenshot at 2017-06-19 19-55-37](https://user-images.githubuserconten

[2017-06-19 17:03] josephinex commented on #7437
About that, I did see it, but it always showed that it enhanced 0 classes.

[2017-06-19 17:06] whipermr5 commented on #7437
@josephinex There shouldn't be a period after `*.java` in the ORM entry.

[2017-06-19 17:13] josephinex commented on #7437
Yeah, I missed that. Thanks for noticing. Now it shows that it enhanced 10 classes, but still doesn't work when launching from eclipse.

[2017-06-19 17:15] whipermr5 commented on #7437
What's the error now?

[2017-06-19 17:19] josephinex commented on #7437
Oh, never mind. I restarted eclipse and now everything works fine. Thanks for help!

[2017-06-20 03:40] whipermr5 opened #7548 ".travis.yml: downgrade to Precise image"
Travis' upcoming update to their Trusty 14.04 images on Wednesday, 21 June 2017, 14:30 UTC will lead to an error in our build ([example](https://travis-ci.org/whipermr5/teammates/builds/244780974#L491)):
[code]

This is due to https://github.com/travis-ci/travis-ci/issues/7884, with the root cause being that Oracle has stopped providing the binaries for JDK 7: http://www.webupd8.org/2017/06/why-or

[2017-06-20 03:51] #7527 closed

[2017-06-20 04:02] thenaesh commented on #7526
Release 258

Code Contributions from: @adityavhegde, @amarlearning, @HirdayGupta, @whipermr5, @LiHaoTan, @li-kai, @Mynk96, @nikiforosbotis, @shubham49, @malenchite, @sujeet14108, @LimeTheCoder, @thenaesh, @VamsiSangam, @wkurniawan07
Review Contributions from: @damithc, @whipermr5, @LiHaoTan, @sujeet14108, @samsontmr, @thenaesh, @wkurniawan07, @chowyb

Sprint Period: June 9, 2017 - June 20, 2017
Sp

[2017-06-20 04:27] nkshschdv commented on #7542
I'm following the steps for installation again .
I found out that , I have multiple JDK or JRE  Installed.as shown in screenshot below.
![jdk multiple name](https://user-images.githubusercontent.com/15321028/27316583-778e40d2-559e-11e7-8842-985cd5102151.png)
but i had set up JRE as java-oracle7 in eclipse. Is there any way to know that it is problem or not.Screen shot below
![hre in eclipse](https

[2017-06-20 05:59] nkshschdv commented on #7542
Well, adding the 1.7 openJDK in installled JRE section solved the problem Solved the problem.Belpw is the screen shot of current jdk,
![solved tests](https://user-images.githubusercontent.com/15321028/27318670-5f9a5ba2-55ab-11e7-963c-4b017610dc18.png)
Now, CI Test is working. and only 5 and sometimes 6 test fails but the document says its okay.
Thank You @whipermr5 @HirdayGupta .
cheers !

[2017-06-20 05:59] #7542 closed

[2017-06-20 06:01] thenaesh commented on #7528
@wkurniawan07 I'm painfully aware. :laughing:

[2017-06-20 07:41] #7544 closed

[2017-06-20 10:05] VamsiSangam opened #7550 "instructorFeedbackEditPage: Fix generate options checkbox for new MSQ question"
`checked` property of the generate options checkbox element always returns `false`.

![8xfvdimghe](https://user-images.githubusercontent.com/11662001/27327867-a27dcd24-55cd-11e7-8122-c05fad9c434e.gif)

The same works properly for existing MSQ questions.

[2017-06-20 10:50] shubham49 commented on #7066
@amarlearning if you are not working on this, should I take this?

[2017-06-20 11:04] amarlearning commented on #7066
Busy with other PRs, so can't take this one right now. Go ahead 👍

[2017-06-20 11:58] sujeet14108 opened #7552 "InstructorFeedbacksPage: rename boolean methods"
`InstructorFeedbacksPage.java`:
Boolean methods `verifyHidden`, `verifyEnabled`, `verifyDisabled` and `verifyVisible` should be ranamed to `isHidden` , `isEnabled`, `isDisabled` and `isVisible` repectively as discussed in #7549

[2017-06-20 14:22] amarlearning commented on #3854
I think this issue is resolved now. I cannot reproduce this.

[2017-06-20 14:33] damithc commented on #3854
Thanks for checking @amarlearning

[2017-06-20 14:33] #3854 closed

[2017-06-20 14:40] damithc commented on #6563
Closing due to lack of more specific info.

[2017-06-20 14:40] #6563 closed

[2017-06-20 14:56] damithc commented on #6999
Closing to focus on higher priority issues. May be reopened later.

[2017-06-20 14:56] #6999 closed

[2017-06-20 15:01] rclakmal commented on #7516
Normally you could append the file get requests with a time stamp. But this way, user would be forced to download the file over and over within the same release, which is useless. Appending the release number would be a better way to go I guess ?

[2017-06-20 15:08] wkurniawan07 commented on #7516
Actually it is very unlikely because our deployment descriptor (`appengine-web.xml`) does not specify caching, which means static files (JS included) should only be cached for 10 minutes max (something that should be improved for front-end performance). Likely it is a corner case where the user used the site "just nice" after the newest version went live.

[2017-06-20 15:18] damithc commented on #6845
Confirmed can be deleted:
[code]

The rest need further examination.

[2017-06-20 15:22] wkurniawan07 commented on #7548
I can tell for sure that this is fixed in SDK 1.9.52, if it is going to affect your decision in any way. However this would necessitate all devs to use JDK 8 -- not that it is a bad idea.

[2017-06-20 18:18] narendravardi commented on #7552
@damithc can i pick this up?

[2017-06-20 19:58] amarlearning commented on #7467
@chowyb yes, you are right that button stretches the screen if the text is too long. I think the footer is also totally unresponsive.

[2017-06-21 01:47] wkurniawan07 commented on #6961
@thenaesh let's just close this one and include this in V5.107? We can always open a new issue for the ones left behind in `src/main/resources`.

[2017-06-21 03:15] leeyimin commented on #7552
@narendravardi Please go ahead!

[2017-06-21 07:49] damithc commented on #7526
deployed

[2017-06-21 07:49] #7526 closed

[2017-06-21 08:02] damithc opened #7557 "Student: submit responses: tweak info about Equal Share scale"
Current:
![image](https://user-images.githubusercontent.com/1673303/27373262-3437cba8-569a-11e7-8300-b1d3c81e3f89.png)

Suggested:
More info about the 'Equal share' scale
OR
More info about the _Equal share_ scale
OR
More info about the `Equal share` scale

---

Current:
![image](https://user-images.githubusercontent.com/1673303/27373320-70f535d0-569a-11e7-8d7a-a3ff5b6e4afe.png)

Suggested:

For e

[2017-06-21 08:11] SELVAKUMAR-S opened #7558 "New contributor self intro Selvakumar Selvaraj"
App:
http://4-18-dot-teammates-selva.appspot.com/

Tinker Fork:
https://github.com/SELVAKUMAR-S/teammates/tree/tinker

UI Change:
Below screenshot shows my change, just switched the image (placed towards right)and corresponding text(placed towards left) positions in index.jsp
![teammates](https://user-images.githubusercontent.com/3601667/27373649-c2f95b22-5686-11e7-90df-2b6166b01d8b.png)

Self int

[2017-06-21 08:34] #7548 closed

[2017-06-21 09:55] SELVAKUMAR-S commented on #7185
hi team, i would like to work on this issue as my first task and i have done my orientation task under #7558

[2017-06-21 11:05] wkurniawan07 commented on #7180
Happened again on the qunit library on Travis, but it's enough to fail builds now (check all the builds from 9080 until the time of writing, they all fail on `AllJsTests`. I can submit a quick fix for the current setback, but perhaps we really need to consider Webpacking everything in order to prevent this problem for good.

[2017-06-21 11:07] wkurniawan07 opened #7560 "Fix AllJsTests failure in Travis"
Due to unpkg CDN caching problem for the qunit library. Reference: #7180.

[2017-06-21 12:18] adityavhegde commented on #7557
Hi @damithc , I would like to work on this one. Re-confirming, the requirement, is something like below expected
![image](https://user-images.githubusercontent.com/10449636/27383710-cd8d311c-56a9-11e7-888d-c47f86329b66.png)

[2017-06-21 12:23] damithc commented on #7557
@adityavhegde yes, that matches the first part of the requirement.

[2017-06-21 12:53] #7560 closed

[2017-06-21 12:54] adityavhegde commented on #7557
@damithc Do have a look at these changes :
![image](https://user-images.githubusercontent.com/10449636/27385004-b32d9fc8-56ae-11e7-82b2-9e2c46c509e6.png)

Should I go ahead with these texts, or do you suggest any alternatives ?

[2017-06-21 13:47] damithc commented on #7557
@adityavhegde Have a closer look at your text and the suggested text; there are small differences.

[2017-06-21 14:19] adityavhegde commented on #7557
@damithc thank you for pointing out. I guess I missed the word **task** on the first line and **a hyphen** between 3 and person.
I also see you have used blocks around Equal Share. Do you suggest them being present, or did you just mean to stress it.
I also introduced a new line between Equal share +10 and -10%, so that they have a better look and feel.  Am I still missing something ?

[2017-06-21 15:45] amarlearning commented on #4783
Working on this and will open a PR in some days!

[2017-06-21 16:17] damithc commented on #7557
Also, my version has only three sentences. Yours has four.

Minimally, you should put single quotes around them to make them stand out. They need to stand out. Single quotes is the easiest way to set them apart from the rest. There are other ways, for example, using italics or `code formatting`. Whichever it is, use is consistently in both places (link as well as modal)

[2017-06-21 17:18] #7510 closed

[2017-06-21 19:14] adityavhegde commented on #7557
@damithc how about using bold letters to highlight ? I believe, they stand out better. However, we would not want to have too many of them.
What are your thoughts on this. Does this look like a lot of highlighting ?

![image](https://user-images.githubusercontent.com/10449636/27402074-0836cfa6-56e3-11e7-8c75-8b2edc7a10d4.png)

[2017-06-21 19:18] stanislous opened #7562 "New contributor self intro Shehan Erange"
Hi.. I'm Shehan. I currently follow the Computer Engineering degree at the University of Peradeniya. I really interested in this open source project and follow the basic configuration settings. But while build in IntelliJ Idea, I got some errors.

Error:(5, 37) java: package teammates.common.datatransfer does not exist
Error:(13, 15) java: cannot find symbol
  symbol:   class DataBundle
  location

[2017-06-21 20:13] HirdayGupta commented on #7232
@nikiforosbotis Still working on this? Or may I take this?

[2017-06-22 01:35] damithc commented on #7557
Out of these two options, I prefer italics. Our purpose is to make that part look different, not more important.
See if the [`<code>` tag](http://getbootstrap.com/css/#code) works.

[2017-06-22 03:57] leeyimin opened #7564 "Remove unused email html template for cleared pending comments"
The email template `userEmailTemplate-pendingCommentsCleared.html` is no longer used in TEAMMATES so the file and its corresponding constant `Templates.EmailTemplates.USER_PENDING_COMMENTS_CLEARED` can be removed.

[2017-06-22 03:59] #7543 closed

[2017-06-22 04:06] adityavhegde commented on #7557
Using the code tag:

![image](https://user-images.githubusercontent.com/10449636/27416891-eee571ec-572d-11e7-8fc6-eefadcff03c6.png)

[2017-06-22 05:12] wkurniawan07 commented on #7564
I knew I left something behind when doing #7334 😅

[2017-06-22 06:31] #588 closed

[2017-06-22 06:35] nikiforosbotis commented on #7232
@HirdayGupta No, you are very welcome to take it. Sorry for not letting you know earlier.

[2017-06-22 08:31] SELVAKUMAR-S commented on #7564
@leeyimin @wkurniawan07  shall i work on this as my first time task ? i have created self intro issue already

[2017-06-22 09:02] #5707 closed

[2017-06-22 09:48] shubham49 commented on #2676
@AnaghHegde  if you are not working on this, can I do this?

[2017-06-22 11:24] damithc opened #7569 "Instructor: search comments: fix 'Unparseable date' exception"
v5.107
Received from the live server
[code]
To reproduce:
Search for something while this check box is ticked
![image](https://user-images.githubusercontent.com/1673303/27432001-0af9411c-5781-11e7-9817-efb591e15b7d.png)

[2017-06-22 11:31] damithc commented on #7569
Seems to be an error introduced in v5.107. I've rolled back to v5.106 for the time being. Hope we can fix it by v5.108 (hence the `Urgent` label)

[2017-06-23 04:24] VamsiSangam commented on #7185
Sure @SELVAKUMAR-S , feel free to work on this issue and submit a PR when ready :smile:

[2017-06-23 04:36] #7264 closed

[2017-06-23 05:06] SELVAKUMAR-S commented on #7185
thanks, working on this !!!

[2017-06-23 06:05] wkurniawan07 commented on #7569
@whipermr5 could this be related to #7521? In particular, [this line](https://github.com/TEAMMATES/teammates/pull/7521/files#diff-8fa9929602eb3575f03d9d832773ce5fR35).

[2017-06-23 06:42] #4043 closed

[2017-06-23 07:15] damithc commented on #7569
Also, it points to a gap in our test coverage.

[2017-06-23 07:26] #7277 closed

[2017-06-23 09:13] leeyimin commented on #7564
@SELVAKUMAR-S Go ahead 😄

[2017-06-23 09:40] #7262 closed

[2017-06-23 10:02] leeyimin opened #7571 "Add data migration script on CourseAttributes to convert fields to its html desanitized form"
As part of #7260, fields of CourseAttributes are now sanitized on rendering, instead of before saving. Thus, new courses created in the datastore will no longer have html sanitized values and data migration is needed to convert all sanitized fields in legacy courses data to its desanitized version.

[2017-06-23 10:48] shubham49 commented on #2676
@damithc  Received points are now present in the csv file. But their order doesn't seems to be fine.

![image](https://user-images.githubusercontent.com/10528953/27478912-3c3b009a-582f-11e7-9995-06af26b7c033.png)

In this screenshot, received points are displayed in different columns rather than same column.
I think it should look something like this
![image](https://user-images.githubusercontent.

[2017-06-23 11:14] damithc commented on #2676
It was a deliberate decision to put one value per cell. It's easier to do further processing that way e.g. apply excel formulas.

[2017-06-23 11:34] shubham49 commented on #2676
okay. So should this issue be closed or something needs to be done?

[2017-06-23 11:46] damithc commented on #2676
Thanks for investigating this issue @shubham49 Yes, it should be closed.

[2017-06-23 11:46] #2676 closed

[2017-06-23 14:22] Mynk96 commented on #5600
I think this has been resolved after #7418 merged.
![testtt](https://user-images.githubusercontent.com/17481466/27486194-551024a2-581f-11e7-99cb-487e1e2bfe48.PNG)

[2017-06-23 14:25] damithc commented on #5600
@chowyb can confirm?

[2017-06-23 19:49] Mynk96 commented on #5653
@chowyb Do we have any feature to cancel an edited comment?

[2017-06-23 23:38] Mynk96 opened #7578 "Instructor: add comment: fix bug that shows different visibility options when editing a newly added comment"
![problem](https://user-images.githubusercontent.com/17481466/27503563-918cf9bc-586c-11e7-9f20-9bae225366a4.gif)
This can be seen as a bug by the instructors as changing the visibility option other than defined by the question have no effect on comment's visibility.

[2017-06-24 05:25] shreyag12 commented on #7432
![screenshot from 2017-06-24 10 54 17](https://user-images.githubusercontent.com/6481566/27505973-8c87514c-58cb-11e7-9a9c-b0404f4e8dce.png)
Hi, I searched about this issue but could not resolve it. Do you have any idea about it?
@whipermr5 @Mynk96

[2017-06-24 05:45] whipermr5 commented on #7432
`npm install`

[2017-06-24 06:08] shreyag12 commented on #7432
![screenshot from 2017-06-24 11 38 15](https://user-images.githubusercontent.com/6481566/27506220-a2cc44fc-58d1-11e7-8a05-ab5c4badc8e5.png)
@whipermr5 did npm install as well.

[2017-06-24 06:10] chowyb commented on #5600
@damithc @Mynk96 confirmed fixed on latest version of master, closing this issue.

[2017-06-24 06:10] #5600 closed

[2017-06-24 06:16] chowyb commented on #5653
@Mynk96 yes, it is possible to click "cancel" at the bottom of the form instead of clicking "save". However, looking at the behaviour now, it appears that the text for the comment is not reverted either. We should probably revert the text input/visibility checkboxes when "cancel" is clicked, just to be consistent with the current behaviour (such as that for when edits made to a feedback question a

[2017-06-24 06:17] whipermr5 commented on #7432
Which one did you do: `sudo apt-get install nodejs-legacy` or `ln -s /usr/bin/nodejs /usr/bin/node`?

[2017-06-24 06:19] whipermr5 commented on #7432
The `apt` command in your screenshot doesn't look like it installed `nodejs-legacy` but `nodejs` (which didn't do anything as it was already installed).

[2017-06-24 06:22] shreyag12 commented on #7432
![screenshot from 2017-06-24 11 51 05](https://user-images.githubusercontent.com/6481566/27506358-91651660-58d3-11e7-9d5b-6c23e91d1342.png)

@whipermr5 see it says nodejs-legacy is already installed

[2017-06-24 06:32] whipermr5 commented on #7432
I see 😅 What version of nodejs?

[2017-06-24 06:42] shreyag12 commented on #7432
v0.10.25

[2017-06-24 06:46] Mynk96 commented on #4697
I think this is not exactly an issue. How this works is, on refreshing the page 'last-edited-timestamp` is available. @damithc In this issue, Do we want 'last-edited-timestamp' after the ajax action is completed?

[2017-06-24 06:50] damithc commented on #4697
Ideally, the time stamp should update after the ajax submission is complete, but as you say, this is not a big issue. Also note that the page in concern (i.e. the `Comments` page) no longer exists but the problem might exist in other places.

[2017-06-24 06:50] Mynk96 commented on #5653
@chowyb Got it!

[2017-06-24 06:51] whipermr5 commented on #7432
I see. Can you install Node.js v8? https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions

[2017-06-24 06:54] Mynk96 commented on #4697
@damithc For now, the problem persists in `InstructorFeedbackResultsPage` and `InstructorStudentsRecordPage`.
I'll create a PR to solve it.

[2017-06-24 07:49] whipermr5 commented on #7569
All comments before V5.78 was deployed has the wrong format. This was fixed by #5463, where `FeedbackResponseCommentSearchDocument` switched to using `JsonUtils` instead of the default GSON builder (which uses the en-US format): https://github.com/TEAMMATES/teammates/commit/e2ce88467da8745ba9e49bdb8d4a547c4e108af8#diff-f1ad305721052e5fa35242d4cb376987L193.

[2017-06-24 07:51] whipermr5 commented on #7569
@damithc Should I fix this by writing a data migration script for the affected search documents, or patch `TeammatesDateAdapter` to work with the legacy format (or both)?

[2017-06-24 10:15] damithc commented on #7569
If 'search feedback response comments' is already covered in tests, no need to write tests to cover legacy data. But we should do a migration (can be a separate PR).

[2017-06-24 10:39] wkurniawan07 commented on #7569
@whipermr5 Good detective work, but it seems like you're linking the wrong commit. The fix that I did some time back and resulted in this was [this one](https://github.com/TEAMMATES/teammates/pull/6196/files#diff-f1ad305721052e5fa35242d4cb376987R207). In fact, we had a small discussion on why the fallback code is necessary [here](https://github.com/TEAMMATES/teammates/pull/6196/files#diff-8fa99296

[2017-06-24 11:35] wkurniawan07 commented on #2732
@damithc student comments page no longer exists. Does this mean the issue is no longer relevant now?

[2017-06-24 11:50] damithc commented on #2732
Looks like it's still relevant. The problem is students don't get to see individual values they receive for contribution questions. So, there is no way for us to show the student comments instructors add to individual responses.

[2017-06-24 12:08] wkurniawan07 commented on #2732
Checked and confirmed that it is the case, although instead of the comments being "inconsistent and confusing for the student", they will just be simply not shown to them.

[2017-06-24 12:13] damithc commented on #2732
yup. Description updated.

[2017-06-24 13:15] VamsiSangam commented on #7550
Working on this.

[2017-06-24 15:06] whipermr5 commented on #7569
Oops!

[2017-06-24 18:58] MaddyThakker commented on #7552
@damithc can I work on this issue? I have set up a local environment for the same. Thanks.

[2017-06-25 04:01] #7492 closed

[2017-06-25 07:07] VamsiSangam opened #7588 "Re-write ES6 imports in a more readable format"
Currently, the imports are written in this fashion -

[code]

we could write them like this -

[code]

**Justification**

- Makes it easier to find what you are looking for.
- Will not create a merge conflict when your PR is adding an import and another merged PR added another import on the same line.

[2017-06-25 07:07] VamsiSangam commented on #7588
Working on this.

[2017-06-25 09:32] #7515 closed

[2017-06-25 11:29] #7578 closed

[2017-06-25 12:11] whipermr5 opened #7591 "Instructor: search comments: migrate legacy search documents"
Feedback response comments created before V5.93 have search documents containing timestamps in the wrong format. These need to be migrated to use the new format defined in `Const.SystemParams.DEFAULT_DATE_TIME_FORMAT`. See https://github.com/TEAMMATES/teammates/issues/7569#issuecomment-310823161.

[2017-06-25 12:20] wkurniawan07 opened #7592 "Use href="javascript:;" to indicate anchor tags without link"
[code]
The above is commonly used such that `Text` gains the appearance of a link while it does not actually link anywhere. However, this is the wrong method because `#` actually links to the top of the web page. The correct way to suppress such link is with `href="javascript:;"`.

P.S. Of course, there might be cases where the intention _is_ to go to the top of the page. This needs to be examined

[2017-06-25 12:21] wkurniawan07 opened #7593 "Use diamond constructor for Lists and Maps"
[code]
Both variants resolve to the same runtime behavior but variant 2 is more concise and does not necessitate duplication of parameter type.

[2017-06-25 12:25] wkurniawan07 opened #7594 "design.md: update content and diagrams"
There has been some changes to the architecture since the last update in early Feb. To name a few:
- Sub-packaging of `teammates.common.datatransfer` package (#6453)
- Introduction of `teammates.common.util.retry` package (#7689)
- Introduction of `teammates.client.scripts.util` (#6626) and `teammates.client.scripts.scalabilitytests` (#6837)
- Decommissioning of comments (#7334), thus any mention/

[2017-06-25 12:31] wkurniawan07 opened #7595 "issues.md: update labels list"
The following labels were decommissioned:
- `c.Enhancement`, `c.Story`, `c.Task`

The following labels were added:
- `a-Storage`: database schema, GAE datastore
- `f-Questions`: features related to specific question types
- `f-Sessions`: feedback session creation, editing
- `f-Website`: front page, product website
- `t-Java`: Java-related technologies, e.g. language syntaxes

The following labels

[2017-06-25 12:34] sujeet14108 commented on #7593
Can i take this?

[2017-06-25 12:35] whipermr5 commented on #7529
They just released 1.9.54 four days ago :D

[2017-06-25 14:32] LimeTheCoder commented on #7593
hi, @sujeet14108, I want to take it too. In Intellij Idea need just 2 clicks to fix this issue.

[2017-06-25 15:39] #7569 closed

[2017-06-25 15:52] amarlearning commented on #7592
Taking this one!

[2017-06-25 16:19] VamsiSangam commented on #7592
@wkurniawan07 , using `href="javascript:;"` might cause redirection to `page not found` on clicking it. Please have a look at #7206

[2017-06-25 16:53] VamsiSangam commented on #7278
Working on this.

[2017-06-25 17:14] ihsavru commented on #7595
Hello! I am new here. I would like to work on this issue. What description do I provide of these labels?

[2017-06-25 18:37] mr2much commented on #7552
I'm trying to work with this, but I'm having problem setting up the environment on IntelliJ IDEA, I cloned the repository and everything, but Graddle is giving me problems, it says that the 					https://repo1.maven.org/maven2 is not indexed, how do I solve this?

[2017-06-25 19:01] Mynk96 commented on #5653
The PR created for this issue reverts visibility checkboxes after user cancels editing or adding a comment.
In addition, it also reverts the comment text. So, I think we should rename this to
`Instructor: view results: edit and add comment: revert visibility checkboxes and comment text when canceling edits`

[2017-06-25 23:01] LimeTheCoder opened #7603 "Use enum instead of string for gender field in StudentProfileAttributes and related classes"
Replace 'gender' field with corresponding enum for StudentProfileAttributes and related classes.
Currently gender field is String that only accepts "male", "female" or "other" values, so It's better to use enum over String value in that case.

[2017-06-26 02:26] amarlearning commented on #7592
@VamsiSangam not sure but I guess you removed `href="$javascript:;"` and @wkurniawan07 is asking to add `href="javascript:;"`. Maybe in your case, this `$` might be causing problem. [Code link](https://github.com/TEAMMATES/teammates/pull/7206/files?diff=split#diff-5ede9b5699629f5cabace4d44bc90667L190)

[2017-06-26 02:50] amarlearning opened #7604 "InstructorHelp: Lot of useless code should be deleted"
In the instructor's help page, If you just search for `display: none;` the count will be around 17. I checked manually and found out that all of them remain hidden throughout so it's better to remove that.

Such as line [this](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/partials/instructorHelpSessions.jsp#L969), [this](https://github.com/TEAMMATES/teammates/blob/master/src/m

[2017-06-26 04:19] whipermr5 commented on #7562
Hello Shehan, welcome to TEAMMATES! After fixing your setup, you can get started by fixing a `d.FirstTimers` issue, then move on to `d.Contributors` issues.

As for your setup, did you follow all the steps in [`settingUp.md`](https://github.com/TEAMMATES/teammates/blob/master/docs/settingUp.md) and [`ide-usage.md`](https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md#intellij-idea)

[2017-06-26 04:23] whipermr5 commented on #7558
Hey Selva, welcome to TEAMMATES! Good job setting everything up correctly! I see you've already submitted a PR for a `d.FirstTimers` issue; that's good! While waiting for it to be reviewed, feel free to take a look at `d.Contributors` issues if you're bored :)

[2017-06-26 04:23] mr2much commented on #7564
How can I contribute to this project?

[2017-06-26 04:34] SELVAKUMAR-S commented on #7564
Is that a practice that one person should work only on one d.FirstTimers issue? I have already created a PR for another d.FirstTimers issue. So I will leave this to other first time contributors if that is required

[2017-06-26 04:38] damithc commented on #7185
I'm not sure how extensive this change is going to be. May be first we should find out how many places need changing.

[2017-06-26 04:46] SELVAKUMAR-S commented on #7185
Sure @damithc , will work on this based on the suggestions from PR #7581

[2017-06-26 04:54] #7552 closed

[2017-06-26 05:51] adityavhegde commented on #7557
@damithc Should I open a PR with any of the above changes ?

[2017-06-26 06:00] Mynk96 commented on #4488
I have solved the issue, but this requires changes in `FeedbackResponseCommentRow.java` which will create lots of merge conflicts with PR #7551.So, will create PR for this after #7551 is merged.

[2017-06-26 06:25] #6990 closed

[2017-06-26 06:37] adityavhegde commented on #7485
Hi @LimeTheCoder, I am still working on this. Quite a confusing state of affairs.

[2017-06-26 07:39] LimeTheCoder commented on #7485
Hi, @adityavhegde. Okay, you can continue, sorry. I'll close my open pull request.

[2017-06-26 07:42] adityavhegde commented on #7485
Thank you @LimeTheCoder :)

[2017-06-26 07:58] #7329 closed

[2017-06-26 08:04] chowyb commented on #5653
@Mynk96 updated issue title and description.

[2017-06-26 08:38] ParmaarK commented on #7603
can I take this?

[2017-06-26 09:40] whipermr5 opened #7609 "Upgrade to Java 8"
Recent versions of AppEngine SDK are fully compatible with JDK 8, as long as the compiler compliance level is set to Java 7.

**Reasons for Upgrading**

- First step in upgrading to Java 8 (second step is still dependent on Google though)
- Enables use of latest Travis images (can revert #7548)
- Enables use of Checkstyle 7
- Enables use of SonarQube

**Caveats**

- The iteration order of HashMaps

[2017-06-26 09:51] damithc commented on #7609
IIRC, we put the adoption of SonarCube on hold because it needs Java 8 to run.

[2017-06-26 09:58] damithc commented on #7557
@adityavhegde yes, go ahead.

---

I guess it is ok. We often use the code tag to refer to text in the UI

[2017-06-26 10:05] adityavhegde commented on #7557
@damithc re-confirming, we go ahead with the code tag ?

[2017-06-26 10:16] damithc commented on #7557
Yes.

[2017-06-26 12:13] #7588 closed

[2017-06-26 12:52] VamsiSangam commented on #7392
Working on this.

[2017-06-26 13:41] wkurniawan07 commented on #7592
@VamsiSangam: @amarlearning was right, it was the `$` prepended to it that caused trouble. `href="javascript:;"` alone does not have any drawback like that.

[2017-06-26 13:45] wkurniawan07 commented on #7533
To the one working on this issue: this also calls for making Node.js v8 the minimum requirement. Strictly speaking it's NPM v5, but since it comes under Node.js v8, we might as well make that one the minimum requirement, and Node.js v8 [will be entering LTS phase soon](https://github.com/nodejs/LTS#lts-schedule1) anyway.

[2017-06-26 14:49] SELVAKUMAR-S commented on #7558
Sure John, thanks!!!

[2017-06-26 15:40] HirdayGupta commented on #7564
@SELVAKUMAR-S yes, that is a practice we follow here at TEAMMATES, so if you have already created a PR for a `d.FirstTimers` issue then leave this one for other new contributors.

@mr2much please read our [orientation guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md#orientation-task-list) to find out how you can get started contributing to TEAMMATES! If you need

[2017-06-26 16:36] HirdayGupta commented on #3348
I'm unable to replicate this issue in the Instructor view results page. Is this still an issue?

[2017-06-27 01:11] damithc commented on #3348
Try including a very long word (e.g. a long URL) in one of the responses.

[2017-06-27 01:42] #7529 closed

[2017-06-27 02:14] #6838 closed

[2017-06-27 03:33] #2732 closed

[2017-06-27 04:11] #4522 closed

[2017-06-27 06:23] Mynk96 commented on #7609
@whipermr5 With JDK8 we can use new Date-time API through which we can easily handle timezone related issues, especially in the comments section.

[2017-06-27 06:24] whipermr5 commented on #7609
@Mynk96 That's Java 8 - this issue is about switching to JDK 8 while still using Java 7 (including Java 7 libraries). We still have to use Java 7 until GAE updates their runtime.

[2017-06-27 06:45] Mynk96 commented on #7609
@whipermr5 got carried away seeing `8`

[2017-06-27 08:00] VamsiSangam commented on #3432
Working on this.

[2017-06-27 09:22] whipermr5 commented on #6961
@wkurniawan07 You mean V5.108? Scheduled for release tonight.
@thenaesh Okay if I close this?

[2017-06-27 09:27] josephinex opened #7617 "New contributor self intro Tanya Pascal aka josephine"
1. Link to my fork  https://github.com/josephinex/teammates
2. ![screenshot at 2017-06-27 12-10-18](https://user-images.githubusercontent.com/6609602/27580037-2b57a71e-5b32-11e7-8cc5-5982df4e0d33.png)
3. So, my name is Tanya Pascal and I'm an IT student and entry level Java developer. I have very little experience in programming and this is the first time I'm going to contribute to a project on gi

[2017-06-27 10:00] whipermr5 opened #7618 "Release V5.108"
Scheduled for June 27, 2017, 11.59pm SGT.

[2017-06-27 10:00] whipermr5 opened #7619 "Update about.jsp with contributors from V5.108"

[2017-06-27 10:30] #7066 closed

[2017-06-27 10:43] wkurniawan07 commented on #6961
@whipermr5 no, V5.107, most/all the works related to this issue had been done by then.

[2017-06-27 11:11] #6805 closed

[2017-06-27 13:05] VamsiSangam opened #7621 "instructorFeedbackEdit.es6: Remove unwanted space"
Near [line 122](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/dev/js/main/instructorFeedbackEdit.es6#L122) of `instructorFeedbackEdit.es6`, a line begins with a space -

[code]

Change this to -

[code]

(Remove space in the beginning)

[2017-06-27 13:47] adityavhegde commented on #7485
@whipermr5  , is there a data or way, I can use to replicate this.
I run the test file, but the tests are fast, which makes it difficult to observe how my changes are affecting.
I tried logging in, with the test user id, but this particular test case is not visible.

[2017-06-27 14:01] whipermr5 commented on #7485
@adityavhegde Add a line `assertTrue(false);` to make the test fail at the desired place.

[2017-06-27 14:34] #5980 closed

[2017-06-27 15:17] #7619 closed

[2017-06-27 16:03] Surya-06 commented on #7595
How can I get started with contributing to the issue mentioned above ?

[2017-06-27 16:11] whipermr5 commented on #7190
Effort tracker, to be updated as each PR is merged:

| PR | Effort |
| - | - |
| #7191 | 4 |

[2017-06-27 16:14] whipermr5 commented on #7352
Effort tracker, to be updated as each PR is merged:

| PR | Effort |
| - | - |
| #7535 | 2 |

[2017-06-27 16:48] whipermr5 commented on #7618
Release 259

Code Contributions from: @HirdayGupta, @whipermr5, @kguo901, @ParmaarK, @LiHaoTan, @MaddyThakker, @Mynk96, @shubham49, @sujeet14108, @LimeTheCoder, @VamsiSangam, @wkurniawan07, @leeyimin
Review Contributions from: @whipermr5, @thenaesh, @wkurniawan07, @xpdavid, @leeyimin, @chowyb

Sprint Period: June 21, 2017 - June 27, 2017
Sprint Velocity: 83 points (code) + 55 points (review) = 138

[2017-06-27 18:37] stanislous commented on #7562
Hi whipermr, I followed all steps. But it did not work on Ubuntu. But it successfully worked on Windows. Therefore I will try my best to fix issues.

[2017-06-28 01:09] whipermr5 commented on #7562
Did you do the automated set up or the manual set up?

[2017-06-28 03:05] stanislous commented on #7257
@whipermr5 fixed this issue. But All checks have failed. Can you explain me why?

[2017-06-28 03:19] whipermr5 commented on #7257
@stanislous I've replied you in https://github.com/TEAMMATES/teammates/pull/7624#pullrequestreview-46732038. You can comment directly on your PR :)

[2017-06-28 04:36] whipermr5 commented on #7437
@angelosdmg I'm assuming https://github.com/TEAMMATES/teammates/issues/7437#issuecomment-306246261 solved your issue. Let me know if it didn't :)

[2017-06-28 04:36] #7437 closed

[2017-06-28 04:37] #7464 closed

[2017-06-28 04:41] whipermr5 commented on #7482
Seems like `disable_daemon` is actually our own custom property, used to pass the `daemon` option to the `appengineRun` closure ([link](https://github.com/TEAMMATES/teammates/blob/7e0250de262e883ad81bd50bc7b943a73582e156/build.gradle#L539)).

[2017-06-28 04:49] whipermr5 commented on #7617
Hey Tanya, welcome to TEAMMATES! Good job setting up the dev server correctly. You can get started by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

A question: should you submit a PR that gets merged, would you like to be credited in our [about page](http://teammatesv4.appspot.com/about.jsp) as `Tanya Pascal` or `Tatiana Pascal` as per your GitHub profile?

[2017-06-28 05:03] whipermr5 commented on #7604
I'm not sure this is an issue as the instructor help page should mirror the actual UI elements exactly, including hidden elements. I feel it's not worth the effort to manually go through the HTML and remove the hidden elements.

Besides, we need to explore a more maintainable solution where we extract the UI elements out into `.tag` files to be included inside the instructor help page and populate

[2017-06-28 06:07] josephinex commented on #7617
Hi, as Tatiana Pascal, I think. Thanks!

[2017-06-28 07:03] #7185 closed

[2017-06-28 08:29] amarlearning commented on #7604
@whipermr5 I think all the hidden elements showed be removed since we don't have any kind of JS enabled in the InstructorHelp page. so there is no point in adding code line that would just increase the file size and do nothing and there will be no visible changes seen in the UI element of InstructorHelp page which would make them differ from the UI elements present in different pages.

[2017-06-28 09:02] shubham49 opened #7627 "Dev Help: how to upgrade AppEngine SDK to 1.9.54"
EDIT by @whipermr5: Issue has been resolved. Follow these steps if you need help getting your IDE to work after updating your branch:

First step (all IDEs):
1. `./gradlew appengineDownloadSdk`
1. Follow steps below for your IDE

For Eclipse:
1. `Eclipse` → `Preferences` → `Google` → `App Engine`, add the new SDK (first part of step 2 of [ide-usage.md#eclipse-ide](https://github.com/TEAMMATES/team

[2017-06-28 09:05] whipermr5 commented on #7604
@amarlearning It's the additional effort required that I'm against, as it's quite unnecessary. I feel the decrease in file size isn't substantial and does not justify the effort. Also, it's a temporary problem that'll go away when we use `.tag`s, so it's not worth it to fix it now.

[2017-06-28 09:06] whipermr5 commented on #7627
Try `./gradlew resetEclipseDeps` then clean the project.

[2017-06-28 09:09] shubham49 commented on #7627
After doing ./gradlew `resetEclipseDeps` i got

java.lang.RuntimeException: Unable to locate the App Engine agent. Please use dev_appserver, KickStart,  or set the jvm flag: "-javaagent:<sdk_root>/lib/agent/appengine-agent.jar"
	at com.google.appengine.tools.development.DevAppServerFactory.testAgentIsInstalled(DevAppServerFactory.java:329)
	at com.google.appengine.tools.development.DevAppServerFac

[2017-06-28 09:11] whipermr5 commented on #7627
First step (all IDEs):
1. `./gradlew appengineDownloadSdk`
1. Follow steps below for your IDE

For Eclipse:
1. Eclipse → Preferences → Google → App Engine, add the new SDK (first part of step 2 of [ide-usage.md#eclipse-ide](https://github.com/TEAMMATES/teammates/blob/eea71ced715d5596698d9210b6d1ceedac01dfa1/docs/ide-usage.md#eclipse-ide))
1. `./gradlew resetEclipseDeps`
1. Project → Clean

For Int

[2017-06-28 09:23] shubham49 commented on #7627
I am using eclipse and followed the same steps but getting this error

[2017-06-28 09:29] whipermr5 commented on #7627
Project properties → Java Build Path → Libraries → Remove `Web App Libraries`

[2017-06-28 09:35] shubham49 commented on #7627
This worked for me. thanks

[2017-06-28 09:39] shubham49 commented on #7627
Is there any way to apply filters on the datastore viewer? I upgraded SDK just to check this, but I am unable to find it. I checked staging server and there we can get results by executing GQL or by applying filters.

[2017-06-28 09:41] whipermr5 commented on #7627
I doubt so. I think the only way is to write application code.

[2017-06-28 10:30] damithc opened #7628 "Instructor: view student list: add icons to buttons"
Suggestion:
Add suitable icons to these three buttons. In addition, we can style the `Delete All` button in red.

![image](https://user-images.githubusercontent.com/1673303/27632864-9de5010c-5c2f-11e7-9eac-6e45003d2aa0.png)

[2017-06-28 10:30] whipermr5 commented on #7627
@shubham49 I'd like to keep this issue open for a while to help other devs :)

[2017-06-28 10:41] #6566 closed

[2017-06-28 11:04] damithc opened #7629 "InstructorCourseDetailsPageUiTest: fix failure against live server"
v5.108, on Windows, using Intellij

[code]

[2017-06-28 11:09] damithc commented on #7629
Seem to be related to the new Gmail api, so may be @LiHaoTan can help.
On the positive side, this is the only test now failing against the live server, although some requires multiple tries :+1:

[2017-06-28 11:12] damithc commented on #7618
deployed

[2017-06-28 11:12] #7618 closed

[2017-06-28 12:00] LiHaoTan commented on #7629
Oops sorry after I refactored some methods I passed in the wrong argument.

[2017-06-28 14:41] HirdayGupta commented on #3348
@damithc Still unable to reproduce. Could you give me the specifics of how you reproduced the error?

[2017-06-28 15:16] damithc commented on #3348
Seems to be fixed now. Closing. Thanks for investigating @HirdayGupta

[2017-06-28 15:16] #3348 closed

[2017-06-28 16:56] wkurniawan07 commented on #7609
Just in: https://cloudplatform.googleblog.com/2017/06/Google-App-Engine-standard-now-supports-Java-8.html
They finally open this for beta release, which means that the GA version should not take anything longer than 1-2 months. We might as well escalate this issue to full-fledged Java 8.

[2017-06-28 18:58] adityavhegde commented on #7628
Taking this one.

[2017-06-28 21:51] HirdayGupta commented on #1872
May I take this issue if @AnaghHegde is not going to finish his PR? I have an idea for a slightly different implementation.

[2017-06-29 00:44] HirdayGupta commented on #4282
Hi @damithc.

This no longer seems to be an issue as all the sections load collapsed now.

Am currently investigating this. (I replicated it once while randomly hitting buttons but can't seem to do it again. These buttons, in general, appear to behave very erratically). Let me know if you find a sure shot way of replicating.

I have however found some other issues with these buttons. In the `GRQ`

[2017-06-29 00:57] HirdayGupta opened #7633 "Instructor: Feedback: View Results: fix the disappearing 'No specific recipient' panel bug"
Noticed while investigating #4282

**Steps to replicate:**
1. Login as instructor
2. View results for an FS in which there are no questions that do not have a specific recipient.
3. Load any view EXCEPT for `Group by - Question`

**The problem:**
You will see a panel header with `No specific recipients` (even though there are no such responses). This panel then disappears on clicking.

GIF of isss

[2017-06-29 03:01] #7629 closed

[2017-06-29 03:47] AnaghHegde commented on #1872
@HirdayGupta Please give me 3-4 days. I am busy with internship. I am not able to find time. I will do it over the weekends. Ok?

[2017-06-29 04:26] wkurniawan07 commented on #7595
I have updated the issue description with the suggested descriptions.

[2017-06-29 05:12] damithc commented on #7633
I've noticed it a couple of times too.

[2017-06-29 05:16] damithc commented on #4282
Yup. if the bug cannot be reproduced reliably, we can review/refactor all the code related to those buttons and also add test cases to cover all behavior scenarios we can think of. Sometimes hidden flaws in the code surface only when we clean up the code.

[2017-06-29 06:20] malayaleecoder opened #7635 "Admin: search: use sanitized search key in status to admin"
Upon entering some javascript code into the Admin Search page,

<img width="1275" alt="screen shot 2017-06-29 at 2 14 38 pm" src="https://user-images.githubusercontent.com/16613630/27673911-e6e845ca-5cd5-11e7-96d3-ad90e64f3729.png">

Clicking on the `Activity Log` button, executes the script.

<img width="1274" alt="screen shot 2017-06-29 at 2 14 42 pm" src="https://user-images.githubusercontent.c

[2017-06-29 06:21] #7564 closed

[2017-06-29 07:46] #7257 closed

[2017-06-29 07:49] leeyimin commented on #7353
Mentioned in #7635.

[2017-06-29 07:49] #7353 closed

[2017-06-29 09:20] HirdayGupta commented on #1872
Sure @AnaghHegde 😃

[2017-06-29 10:25] #7593 closed

[2017-06-29 10:30] ihsavru commented on #7017
I would like to work on this.

[2017-06-29 10:48] HirdayGupta commented on #6124
Working on this

[2017-06-29 11:21] #7349 closed

[2017-06-29 13:11] Surya-06 commented on #7595
@wkurniawan07 Have updated the issues.md with the details given . Hope I helped :-)

[2017-06-29 15:32] #7550 closed

[2017-06-29 17:28] wkurniawan07 commented on #7595
@Surya-06 you need to submit a pull request if you want your works to be considered.

[2017-06-29 17:42] #7294 closed

[2017-06-29 17:48] Surya-06 commented on #7595
@wkurniawan07  I have created a pull request of the fork which I have modified with the details given by you. I have also posted the details of the stuff which I changed along with the pull request just a few minutes before the previous message . Will it be considered ?

[2017-06-29 19:17] MaddyThakker commented on #3431
@kanghj can I take this up?

[2017-06-29 21:38] Mynk96 opened #7640 "Instructor: search comments: Show name instead of null when comment author and editor are different"
Shows null when comment giver and comment editor are different,

![error1](https://user-images.githubusercontent.com/17481466/27711608-3c1e8b02-5d13-11e7-91b7-df390c02a05f.PNG)

[2017-06-30 01:03] amarlearning commented on #2203
Taking this one

[2017-06-30 04:42] whipermr5 commented on #7216
Are there still a lot of profile pic requests? Wondering if #7477 affects this in any way.

[2017-06-30 05:13] chowyb opened #7643 "Remove unused comments-related constants and classes"
The constants `Tooltips.COURSE_EMAIL_PENDING_COMMENTS`, `StatusMessage.COMMENT_CLEARED`, `StatusMessage.COMMENT_CLEARED_UNSUCCESSFULLY`, and `ActionURIs.INSTRUCTOR_STUDENT_COMMENT_CLEAR_PENDING` in the `Const` class are no longer used in TEAMMATES, so they can be removed.

Doing the above necessitates the removal of `getInstructorStudentCommentClearPendingLink()` in the `PageData` class as well -

[2017-06-30 05:26] whipermr5 opened #7644 "Dev Help: how to upgrade to Objectify"
After merging in #7338, some additional steps are needed to get existing Eclipse and IntelliJ projects working again.

**Eclipse**
1. `Project` → `Properties` → `Google` → `App Engine` → uncheck `Use Datanucleus JDO/JPA to access the datastore` → `OK`
1. `./gradlew resetEclipseDeps`
1. `Project` → `Clean`
1. (optional; do this if you get errors) `Project` → `Properties` → `Java Build Path` → `Libr

[2017-06-30 05:34] whipermr5 opened #7645 "Attributes tests: avoid passing in an empty Google ID for student profiles"
The Objectify code constructs a key for the `Ref` object in linking `Account` and `StudentProfile` entities in a parent-child relationship. The key construction fails if the `StudentProfile` ID (the Google ID) is empty. Currently, the code adds an ugly workaround just to get existing tests to pass: https://github.com/TEAMMATES/teammates/pull/7338#discussion_r122919378

The tests should be fixed an

[2017-06-30 05:38] whipermr5 commented on #7333
Does Objectify improve this?

[2017-06-30 05:48] damithc commented on #7216
Seems to be fixed now. No high number of profile pic requests in the last 24 hours.

[2017-06-30 06:02] damithc commented on #7333
Ran it 5 times. fail, pass, fail, fail, pass (so there is a slight improvement)

[2017-06-30 06:03] #7337 closed

[2017-06-30 06:20] wkurniawan07 opened #7648 "Migrate development tools to Google Cloud SDK"
The development tool stack currently used by us (App Engine SDK, Gradle App Engine Plugin, Google Plugin for Eclipse, Datanucleus for enhancement) is deprecated by Google in favour of Google Cloud SDK and Objectify. One of them has been fixed (kudos @whipermr5!), so the rest should follow suit soon. ~~This will also ease the migration to Java 8 by a significant margin.~~ Edit: I have determined th

[2017-06-30 06:26] whipermr5 opened #7649 "FeedbackResponsesDb: *WithinRange methods: change type long -> int"
Objectify accepts type `int` for range arguments. Currently there is an ugly cast from `long` to `int` to maintain compatibility with the existing logic methods. Update the methods in `FeedbackResponsesDb` and all usages of those methods in the logic layer to `int`.

[2017-06-30 07:34] josephinex opened #7650 "Tests fail on the dev server"
**Operating System: Arch Linux**
- **JDK Version:1.7**
- **Eclipse / IntelliJ Version (if applicable): Eclipse 4.6.3**
- **Firefox / Chrome Version (where applicable): Chrome 59.0.3071.86**

**What I was trying to do / What I need help with**
After merging new changes around 41 tests are failing out of 79 in browser tests, local tests are passed. In total 54 are failing and I don't know what I am

[2017-06-30 08:29] leeyimin opened #7652 "FeedbackRankRecipientsQuestionDetails: show all columns regardless of recipient type"
Currently, self-rank excluded statistics is used when the recipient type of the question is NONE or SELF, but ranking recipient questions for NONE or SELF are unlikely to be used. Thus, `shouldSelfBeExcludedFromRankings` should be removed and all columns should be shown regardless of recipient type.

[2017-06-30 09:06] damithc commented on #7652
@leeyimin I wonder if showing that column in all cases is an easier route. Would that make the code simpler? It doesn't affect the accuracy of the statistics, right?

[2017-06-30 09:12] leeyimin commented on #7652
@damithc It does make the code simpler and the accuracy should not be affected. Should I change the issue to show all columns instead?

[2017-06-30 09:14] damithc commented on #7652
Yes, I guess that will make our life easier. Sometimes the lazy route is the better one :-p

[2017-06-30 09:38] wkurniawan07 commented on #7643
I did a backtrack and found out quite a lot of leftovers that I missed in #7334 (much more than what the issue description describes). I'll take responsibility here; we're not currently lacking in `d.FirstTimers` issue anyway.

[2017-06-30 10:02] #2335 closed

[2017-06-30 10:37] #7557 closed

[2017-06-30 11:56] leeyimin opened #7655 "InstructorSearchPage: display team name for feedback response"
When team to team response is displayed on the search page, the giver and recipient of the response becomes "Unknown user". This should be corrected to use the correct team name instead.

![image](https://user-images.githubusercontent.com/6365864/27734590-0f26ceaa-5dce-11e7-867a-693bfa236560.png)

[2017-06-30 14:22] #7592 closed

[2017-06-30 14:41] whipermr5 commented on #7650
Did you `npm run build` after merging new changes?

[2017-06-30 15:08] #7272 closed

[2017-06-30 15:44] #7635 closed

[2017-07-01 01:56] #7649 closed

[2017-07-01 05:23] josephinex commented on #7650
Hi, yes.

[2017-07-01 10:21] #7643 closed

[2017-07-01 13:27] stanislous commented on #7628
@damithc, For the time being, I have changed the particular file and it worked successfully. But it didn't pass the checks. Therefore do I need to change the particular test files too?

![screenshot 388](https://user-images.githubusercontent.com/20964806/27762395-f62eae92-5e8e-11e7-95b5-827fc7aad62a.png)

[2017-07-01 13:40] huai99 opened #7661 "New contributor self intro Sie Huai"
App:
https://teammates-siehuai.appspot.com/

Fork:
https://github.com/huai99/teammates

Screenshot on UI changes
![image](https://user-images.githubusercontent.com/26456025/27762452-1130bf8a-5ea5-11e7-8379-3b6bf7d976f9.png)

What I have done to the UI is just implementing the hover behavior for the login button, it will change the background to white and the color of the wording to dark green when

[2017-07-01 15:03] damithc commented on #7628
Yes

[2017-07-01 15:05] damithc commented on #7628
Another thing: for the 'remind' button, may be use the envelope icon?

[2017-07-01 18:54] praveshjain commented on #6986
Seeing as the previous commenter did not raise a pull request, I have worked on this and raise a PR.

[2017-07-01 20:26] HirdayGupta opened #7664 "instructorFeedbackResults.es6: fix typo"
In the file [`teammates/src/main/webapp/dev/js/common/instructorFeedbackResults.es6`](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/dev/js/common/instructorFeedbackResults.es6), on lines 153 and 154, `isButtonInExpandMode` is mistakenly written as `isButtonInExapandMode`.

[2017-07-02 01:35] damithc commented on #7664
@HirdayGupta what's the impact? Just a typo or affects behavior?

[2017-07-02 01:39] HirdayGupta commented on #7664
@damithc just a typo as far as I can tell. I thought it would make a good d.FirstTimers issue.

[2017-07-02 14:19] enaru opened #7666 "New contributor self intro Ladislav Jaroscak"
My fork:
https://github.com/enaru/teammates

Screenshot of UI change:
![screenshot_teammates](https://user-images.githubusercontent.com/29780186/27770532-9413b8a8-5f40-11e7-96fd-29d77c8fc393.png)

For UI change I changed border for the login buttons.

Hello, my name is Ladislav Jaroscak. I'm student of computer science in Slovakia. I have always enjoyed programming, writing algorithms, solving com

[2017-07-03 02:29] #7558 closed

[2017-07-03 02:37] whipermr5 commented on #7661
Hey Sie Huai, welcome to TEAMMATES! Good job setting everything up correctly! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-07-03 02:38] whipermr5 commented on #7666
Hey Ladislav, welcome to TEAMMATES! Good job setting up the dev server correctly. You can get started by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-07-03 02:39] #7627 closed

[2017-07-03 02:49] whipermr5 opened #7668 "Migrate client scripts to Objectify API"
The current client scripts use JDO and assume that `EntitiesDb` uses JDO too (the `getPm` method is called via reflection), meaning the scripts no longer work as of d0b4dd17f22eb18d1f325201a440b32045aa6859 (merge of #7338 into `master`).

Some outdated scripts are pending removal and thus will not be updated: #6845

[2017-07-03 03:01] #2775 closed

[2017-07-03 03:47] whipermr5 commented on #7650
@thenaesh or other Linux users: do you get the same errors when running tests using Chrome on Linux?

[2017-07-03 03:54] whipermr5 opened #7669 "InstructorFeedbackSessionsPageUiTest: remove dependency on browser time zone"
Part of the test involves HTML verification of the publish button, which has a `disabled=""` attribute whose presence depends on browser time zone. Hence, the test sometimes fails on non-UTC systems. See https://github.com/TEAMMATES/teammates/pull/7634#discussion_r124998599.

~~There must be some JavaScript that adds or removes the `disabled=""` attribute based on the status of the session (open/c

[2017-07-03 04:12] whipermr5 opened #7670 "Include src/test/resources/**/*.html in lintspaces config"
When these files are edited manually instead of using GodMode, whitespace violations such as missing newline at the end of the file can be introduced without being caught by CI, leading to future unrelated changes when the same files are updated using GodMode (see https://github.com/TEAMMATES/teammates/pull/7634#discussion_r125002435).

A separate lintspaces config might be needed for these files

[2017-07-03 04:51] #6986 closed

[2017-07-03 07:19] #7481 closed

[2017-07-03 08:26] #7664 closed

[2017-07-03 09:19] chowyb commented on #1872
@HirdayGupta you may take up this issue if you're still interested in it.

[2017-07-03 10:18] BrianCoveney commented on #7650
**Operating System: Linux Mint 18**

**JDK Version:1.7**
**Eclipse / IntelliJ Version (if applicable): Intellij 2017.1.4**
**Firefox / Chrome Version (where applicable): Firefox 46.0.1**

I'm getting similar errors to josephinex. There are cases of ```org.openqa.selenium.NoSuchElementException```

![test](https://user-images.githubusercontent.com/8080260/27788216-96a05e9c-5fdf-11e7-9ea2-79790af08d

[2017-07-03 11:14] #7170 closed

[2017-07-03 11:14] #7373 closed

[2017-07-03 12:22] huai99 commented on #7482
I can work on this problem

[2017-07-03 12:34] AmrishJhaveri commented on #7326
This is completed, right?

[2017-07-03 17:08] ihsraham commented on #7136
Hello! I am new here. I would like to work on this issue.

[2017-07-03 17:15] AnaghHegde commented on #7136
Hi @ihsraham welcome to teammates. If you are done with the project setup please go ahead and submit a PR. If you are not please setup the project environment locally and then start working on. Thank you.

[2017-07-03 17:25] davel37 commented on #7465
Hi Brian,
Quick question as we are both based in europe. Did you have to sign up for the business version of GAE thus incurring monthly charges, as the individual (free) option is not available in europe?

[2017-07-03 17:36] HirdayGupta commented on #7528
@thenaesh As someone who is writing new AJAX functions, what should I keep in mind while implementing that would be in keeping with the AJAX standards expected of this PR. Given that the infrastructure to systematically place JSON responses into the DOM doesn't yet exist, should I still be avoiding chucking HTML into the DOM?

[2017-07-03 18:24] ihsraham commented on #7136
I have setup the project environment locally. I wanted know if I should mention separate steps for Eclipse on Mac i.e. Eclipse -> Preferences while for Windows and Linux its Window -> Preferences?

[2017-07-03 18:47] BrianCoveney commented on #7465
Hi Dave,

I had already set up a business version of GAE for a previous college project. As you said, there is no free option in Europe, but there is a [free trial](https://cloud.google.com/free/docs/frequently-asked-questions) of a year / $300 in credit.  I will close my a/c within this period for obvious reasons.

You've probably seen this (take from link above):

![billing](https://user-images.

[2017-07-04 03:43] whipermr5 commented on #7216
Should this be closed, then?

[2017-07-04 03:54] #7562 closed

[2017-07-04 03:55] #7617 closed

[2017-07-04 03:57] whipermr5 commented on #7650
@josephinex @BrianCoveney Are you both able to run and login to the dev server as admin, add an instructor, and login as the instructor without errors?

[2017-07-04 04:08] #7216 closed

[2017-07-04 05:43] #7668 closed

[2017-07-04 05:45] VamsiSangam commented on #7208
Working on this.

[2017-07-04 06:20] whipermr5 commented on #7412
Subsumed under #7594

[2017-07-04 06:20] #7412 closed

[2017-07-04 06:20] leeyimin opened #7678 "Instructor: edit question: do not warn about deleting responses if destructive changes are cancelled"
Steps to replicate the bug:
1. Click 'Edit' for a question with existing responses.
1. Change the visibility option to some other listed option.
1. Change the visibility option to the original option (or discard changes).
1. Attempt to save the question.

A modal warning the user that responses will be deleted is shown although the visibility is not changed.

Edit: After #6124 is solved, the issue

[2017-07-04 06:21] whipermr5 commented on #7678
Noticed this too. In fact, steps 2-3 are not even needed.

[2017-07-04 06:45] BrianCoveney commented on #7650
@whipermr5 - I can login on the dev server, but when i press the button 'Add Instructor', on ``` http://localhost:8888/admin/adminHomePage ```, nothing happens. Neither is there any feedback in Intellij's run log.

Here's the run log (all output before button is clicked):
[code]

[2017-07-04 06:48] whipermr5 commented on #7650
@BrianCoveney Sounds like a case of not running `npm run build`.

[2017-07-04 07:07] BrianCoveney commented on #7650
@whipermr5 - I think you could be right. Unfortunately when I run ``` npm run build ```

``` Tell the author that this fails on your system: npm run build:src && npm run build:test ```

[2017-07-04 07:08] whipermr5 commented on #7650
@BrianCoveney You need to `npm install` first.

[2017-07-04 07:09] VamsiSangam commented on #7208
Sir, the this is what currently an instructor gets when he/she downloads results for rubric question -

![capture](https://user-images.githubusercontent.com/11662001/27818934-908d7126-60b5-11e7-93bb-01f338fdc705.JPG)

I am planning to add a new table in between like this -

![2](https://user-images.githubusercontent.com/11662001/27818948-a3456940-60b5-11e7-8d91-05d5cf9765d8.JPG)

This new table wo

[2017-07-04 07:10] BrianCoveney commented on #7650
No joy:

[code]

[2017-07-04 07:11] whipermr5 commented on #7650
Drop the `sudo`.

[2017-07-04 07:12] BrianCoveney commented on #7650
Tried that @whipermr5. Must be a permission issue. I'll look into it.

[code]

[2017-07-04 07:13] whipermr5 commented on #7650
Yes; you need to first delete the `node_modules` folder that was created with root privileges when you ran `sudo npm install`.

[2017-07-04 07:15] damithc commented on #7208
`Responses Received` column can be split like this:

...| Disagree (Weight: -1) | Agree (weight: 1) | ...
---|---|---|---
...| 2 | 4 | ...

Not sure if it complicates things too much. What do you think?

[2017-07-04 07:19] BrianCoveney commented on #7650
That did the trick @whipermr5, I can now create an Instructor. I'll run the CI tests now. Thanks!

[2017-07-04 07:34] BrianCoveney commented on #7650
The CI failures are now down to 11 out of 602, with none skipped. Is this acceptable @whipermr5? I'll run the ``` Run  Failed Test ``` in the TestNG tab.

[2017-07-04 07:37] whipermr5 commented on #7650
@BrianCoveney Yes; rerun the failed tests several times before reporting back the final number.

[2017-07-04 07:43] BrianCoveney commented on #7650
@whipermr5  I selected ``` Failed Tests ``` from the run drop down options and no test were found:

![test](https://user-images.githubusercontent.com/8080260/27820021-a79bcc3a-6094-11e7-98d7-3d2b482e50cd.png)

Should I locate the failed tests and run them manually?

[2017-07-04 07:52] whipermr5 commented on #7650
@BrianCoveney That run config is meant to rerun failed tests originally run from the command line (e.g. using `./gradlew ciTests`). In future, use the IntelliJ-provided button instead:
<img width="294" alt="screen shot 2017-07-04 at 3 51 51 pm" src="https://user-images.githubusercontent.com/6811428/27820332-be11e0e4-60d0-11e7-924f-d6c83410a151.png">

[2017-07-04 08:09] leeyimin opened #7679 "Running data migration on course to desanitize course name"
Related to #7260.
Script from #7571 can be run in near future to standardise all courses to have desanitized course name in the datastore.

[2017-07-04 08:16] BrianCoveney commented on #7650
@whipermr5 thanks for pointing that out.

I ran the CI tests again, 4 failed. Then ```Rerun Failed Tests``` and all tests have now passed.

Thanks for your help! My error stemmed from running ``` sudo npm install ```, instead of ```npm install```

[2017-07-04 08:19] whipermr5 commented on #7650
@josephinex Were there any problems when you ran `npm run build`?

[2017-07-04 08:21] BrianCoveney commented on #7650
No, all good :100: %

[2017-07-04 08:23] #7571 closed

[2017-07-04 08:45] josephinex commented on #7650
No problems with npm run build, but indeed I cannot create an Instructor. It fails.

[2017-07-04 08:48] whipermr5 commented on #7650
What's the error?

[2017-07-04 08:54] josephinex commented on #7650
Well, actually it writes that it did create it (I created on the website) but status is failed.

[2017-07-04 08:59] BrianCoveney commented on #7650
This should work:

http://localhost:8888/page/instructorCourseJoin?key=10B463A2220C26C15D6E7031721F92EC38324BB88017679A58CBD5208A912F6195D298063208653CF3FE63F0C3F874DB3474F977C7CF09D22ED2932FA3B9CB3DC5B01594613AC8384F57C5528FF965C6&instructorinstitution=University+of+Singapore

[2017-07-04 09:02] whipermr5 commented on #7650
@josephinex That's fine. The erroneous status was fixed in #7484. Follow what @BrianCoveney said.

[2017-07-04 09:09] josephinex commented on #7650
Succeeded to login.

[2017-07-04 09:13] whipermr5 commented on #7650
@josephinex 👍 Try re-running the CI tests again.

[2017-07-04 09:24] josephinex commented on #7650
494 tests completed, 41 failed, 453 skipped
:testTry4 FAILED
:killFirefox4

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':testTry4'.

[2017-07-04 09:26] whipermr5 commented on #7650
What are some errors other than those in your original post? Those are quite common, and are not revealing the real issue.

[2017-07-04 12:19] josephinex commented on #7650
java.lang.IllegalStateException: Operation not allowed in a thread that is neither the original request thread nor a thread created by ThreadManager
the rest are assertion errors

[2017-07-04 12:22] damithc opened #7681 "InstructorSubmissionAdjustmentUiTest: fix typo Subsmission --> Submissions"
`testAdjustmentOfSubsmission` --> `testAdjustmentOfSubmissions`

[2017-07-04 14:17] VamsiSangam commented on #7208
I felt it was doable sir, so it doesn't complicate things IMO. I wrote enough code to get the features running. Here are the screenshots -

- Downloaded CSV

![1](https://user-images.githubusercontent.com/11662001/27833597-2bf46ec2-60f1-11e7-8746-0c1170261e90.JPG)

- Instructor results page

![2](https://user-images.githubusercontent.com/11662001/27833612-37c57fd4-60f1-11e7-93df-172aff50a382.JPG)

[2017-07-04 14:24] damithc commented on #7208
Looks good @vamshi-s Good work so far 👍
This will make rubric questions a lot more useful to instructors.

[2017-07-04 14:32] VamsiSangam commented on #7208
Ok sir, will proceed with the PR.

BTW sir, you tagged someone else :stuck_out_tongue_closed_eyes:

[2017-07-04 14:33] #7333 closed

[2017-07-04 14:40] damithc commented on #7208
corrected. :-p

[2017-07-04 14:43] sujeet14108 opened #7683 "Refactor UiTest classes to remove redundant methods"
Remove redundant methods as discussed in https://github.com/TEAMMATES/teammates/pull/7511#discussion_r125477502

[2017-07-04 14:44] sujeet14108 commented on #7683
Would work on it

[2017-07-04 15:26] #7537 closed

[2017-07-05 01:10] #7479 closed

[2017-07-05 04:37] thenaesh commented on #7528
@HirdayGupta Ideally, try to keep the AJAX handling code modular, such that the parts doing the actual insertion into the DOM are kept separate from the other parts and easily replaceable.

[2017-07-05 07:25] leeyimin opened #7685 "FeedbackRank*QuestionDetails: Add more columns to csv statistics"
For the rank question types, the csv statistics contain less details than html statistics. This information can be added for csv statistics.

[2017-07-05 07:49] whipermr5 opened #7686 "InstructorFeedbackResultsPageUiTest: improve stability of hover-triggered popover image verification"
The `testViewPhotoAndAjaxForLargeScaledSession` test in `InstructorFeedbackResultsPageUiTest` is still moderately unstable even after prior work done in #7068 and #7083. This is mainly because popovers that are triggered by hover actions sometimes fail to appear, causing hover-triggered popover image verifications to fail unpredictably.

Rather than retrying the entire test, `RetryManager` can be

[2017-07-05 09:14] #7392 closed

[2017-07-05 09:37] whipermr5 opened #7688 "SearchManager: fix bug where documents are put multiple times"
As discovered by @leeyimin while reviewing #7682, `SearchManager`'s [`putDocument`](https://github.com/TEAMMATES/teammates/blob/a1bb20de04affcc0f4a029407b87f05b45de183f/src/main/java/teammates/storage/search/SearchManager.java#L46-L87) and [`putDocuments`](https://github.com/TEAMMATES/teammates/blob/a1bb20de04affcc0f4a029407b87f05b45de183f/src/main/java/teammates/storage/search/SearchManager.java#

[2017-07-05 15:19] josephinex commented on #7650
Another thing I paid attention to today that no classes are enhanced now, although always there were 10.

[2017-07-05 16:21] whipermr5 commented on #7650
@josephinex We have migrated to Objectify, and enhancement is no longer required. Have you followed the steps in #7644? Also, have you followed the steps in #7627 after we upgraded SDK version?

[2017-07-05 21:15] LimeTheCoder commented on #7685
Working on it.

[2017-07-05 23:23] HirdayGupta commented on #5996
Working on this

[2017-07-05 23:47] HirdayGupta commented on #5979
<img width="1278" alt="screen shot 2017-07-06 at 5 14 26 am" src="https://user-images.githubusercontent.com/18088721/27889434-11c9839c-620a-11e7-844f-f1d10c2bf33c.png">

This success status message is currently shown to users. Would a modal really be required to replace this? If so, since the modal will presumably display after the student hits submit, should the modal's `ok` button make the Stude

[2017-07-05 23:56] HirdayGupta commented on #4282
@damithc

Just realised that I missed a step from your original issue description.

I forgot to `Load a specific section`. On doing so, I noticed that both your issues are indeed still reliably replicable.

Furthermore, some additional investigation leads me to believe that the buttons behave erratically only because the `expand all sections` and `collapse all sections` buttons don't change the te

[2017-07-06 00:57] damithc commented on #5979
We can stay in the same page. In fact, that is the case even now if the student is not registered (and therefore has no 'home page') and also those are the students this issue apply to more. They are not sure if the submission was successful because the page remains the same.

[2017-07-06 02:51] damithc commented on #4282
While you wait for better suggestions from the other devs (if any), you can go ahead with this approach and see how it pans out.

[2017-07-06 05:53] VamsiSangam commented on #7039
@damithc sir, currently removing an entire row and submitting shows this error -

![1](https://user-images.githubusercontent.com/11662001/27897231-8dc4f80a-623c-11e7-86e8-390ceed70dd6.JPG)

So if we just added a `required` attribute to the sub question's `textarea` tag, we can stop the instructor on clicking `Save changes`. When the instructor clicks `Save changes` automatically a pop-up appears a

[2017-07-06 06:19] shubham49 commented on #7341
Only `instructorEditStudentFeedbackPage` and `studentFeedbackSubmissionEditPage` are involved in this or any other page is also there?

[2017-07-06 06:25] damithc commented on #7039
Sounds ok to me. 👍

[2017-07-06 07:06] HirdayGupta commented on #7341
@shubham49 I am actually working on this issue. If you could give me some time to finish up my code and PR, that would be nice. But to answer your question, in the solution that I am working on, I am only considering the two you mentioned.

[2017-07-06 07:08] shubham49 commented on #7341
I didn't find any activity on this issue, that's why I commented. Well if you are working on it then you can proceed.

[2017-07-06 07:09] HirdayGupta commented on #7341
Yes, my apologies, forgot to comment. Thanks @shubham49 😃

[2017-07-06 08:42] davel37 opened #7693 "New contributor self intro David Laffey"
a)Based in Spain and therefore not entitled to an individual GAE account (only entitled to the business account)

b)https://github.com/davel37/teammates/tree/tinker

c)
![screenshot 172](https://user-images.githubusercontent.com/18369575/27902741-08d61192-6237-11e7-8714-4c57e92543ab.png)

Just some small changes made to the terms of use page using Bootstrap Jumbotron.

My name is David Laffey, ori

[2017-07-06 11:56] #7681 closed

[2017-07-06 12:14] MiHawkStackOverFlow commented on #7621
is this still open ?

[2017-07-06 13:04] VamsiSangam commented on #7621
@MiHawkStackOverFlow , someone else is working on this issue, feel free to work on other [a.FirstTimers](https://github.com/TEAMMATES/teammates/labels/d.FirstTimers) issue. :smile:

[2017-07-06 16:00] VamsiSangam commented on #7326
Hi @AmrishJhaveri ! Apologies for the late reply. The docs only mentions how to disable JavaScript validation for `node_modules` folder, not JSON validation. Although both are very similar we still need to mention in the docs to disabled JSON validation for `node_modules` to prevent unnecessary trouble.

[2017-07-06 16:09] davel37 commented on #7621
It looks like all the d.FirstTimers issues are tied up at the moment. I guess we'll wait till new issues arise.:smile:

[2017-07-06 17:30] #7640 closed

[2017-07-06 18:42] VamsiSangam commented on #7678
There are multiple bugs in this issue. As @leeyimin said, discard changes and try to save, `delete existing responses` shows up. It happens because when we restore original version of a question, we only restore the `.panel-body` contents, whereas `editstatus` attribute is changed in `form` tag to `mustDeleteResponses` but it is not reverted. This causes the warning modal.

And about what @whiperm

[2017-07-06 18:44] VamsiSangam commented on #7678
I'd like to work on this issue. Also to confirm with you @leeyimin , can I assume that the bug I stated above is added to the scope of this issue as well?

[2017-07-06 19:24] josephinex commented on #7650
Set up the project on another linux machine. It works fine here. All tests are passing. Thanks for the help.

[2017-07-06 19:24] #7650 closed

[2017-07-07 00:44] damithc opened #7696 "Update user map for June 2017"
Follow #7215 and similar.
New data to consider:

Country|Institute
-- | --
Australia | Carey Baptist College
Australia | Monash University
Australia | University of Canberra
Australia | University of South Australia
Australia | University of Western Australia
Belgium | KU Leuven
Brazil | AEDB
Brazil | The State University of Londrina
Brazil | UNESP
Brazil | Universidade Católica de Brasília
Brazil

[2017-07-07 00:45] damithc commented on #7621
@davel37 here's a new `firsttimers` issue #7696

[2017-07-07 05:20] davel37 commented on #7696
Hello!. I would like to take this issue.

[2017-07-07 06:50] whipermr5 commented on #7678
This means the backend actually deletes the responses if the user confirms, right? It's not just an issue of a false warning appearing. I believe this is quite a bad bug, as it means that users cannot edit any part of team contrib questions that already have responses without losing all responses.

[2017-07-07 06:52] leeyimin commented on #7678
@whipermr5 The deletion mechanism works independently from the front end I believe, see #7642.

[2017-07-07 06:54] damithc commented on #7678
Does #7642 invalidate this issue?

[2017-07-07 06:55] leeyimin commented on #7678
@damithc I have tested and the team contribution issue is still present.

[2017-07-07 06:57] leeyimin commented on #7678
It is still an issue if feedback path is edited once and then reverted to original.

[2017-07-07 06:58] whipermr5 commented on #7693
Hey David, welcome to TEAMMATES! The changes look good 👍 You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-07-07 07:01] whipermr5 commented on #7678
This is actually due to code I wrote a long time ago 😅 #6669

[2017-07-07 07:11] chowyb commented on #7696
@davel37 sure! Feel free to submit a pull request for this issue :)

[2017-07-07 07:14] VamsiSangam commented on #7678
IMO the real culprit is this -

![capture](https://user-images.githubusercontent.com/11662001/27946771-d7b87232-6310-11e7-8c4a-eced374d81bd.JPG)

Whenever the page is loaded, somehow the input fields `showresponsesto`, `showgiverto`, `showrecipientto` seem to set to `RECEIVER,INSTRUCTORS` for all the questions. But when submitting the question form (even without any edits), the correct values are

[2017-07-07 07:22] Mynk96 opened #7697 "InstructorSearchPageUiTest: fix unstable sort order"
As two comments have the same time, there is instability in sorting results for comments in Search Page which in turn is making this test unstable.

[2017-07-07 07:56] whipermr5 opened #7699 "Fix browser tests that fail on Chrome"
Even though we [support Chrome](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#using-chrome), 3 browser tests are failing, namely:
[code]

[2017-07-07 08:26] #7697 closed

[2017-07-07 08:27] damithc commented on #7699
After fixing these, perhaps we can set appveyor to use chrome instead of firefox? :-p

[2017-07-07 08:52] #6124 closed

[2017-07-07 08:59] davel37 commented on #7696
Perfect! I'm out of the flat and away from computers (work related) all day. When I get back to the flat tonight I'll create the pull request.

[2017-07-07 09:23] #7482 closed

[2017-07-07 21:41] HirdayGupta commented on #5991
@damithc Would the behaviour and warnings from PR #7642 and PR #7453 lead to the closure of this issue?

[2017-07-07 23:03] HirdayGupta commented on #5979
Understood @damithc.

Working on this.

[2017-07-08 02:05] damithc commented on #5991
yes, I think this can be closed.

[2017-07-08 02:05] #5991 closed

[2017-07-08 06:17] uxxSam opened #7704 "New contributor self intro Bicheng Xu"
Link to my app:
https://teammates-samxu.appspot.com/

Link to my fork:
https://github.com/uxxSam/teammates

Screenshot of change on the UI:
![uichange](https://user-images.githubusercontent.com/27687790/27983047-1b6f5ccc-63e6-11e7-9a61-d0329b347f4d.jpeg)
I added hover effects on the login buttons.

Intro:
Hi guys, my name is Bicheng Xu. I am a student of Computer Science at Northeastern University

[2017-07-08 07:31] #7661 closed

[2017-07-08 07:31] #7666 closed

[2017-07-08 07:34] whipermr5 commented on #7704
Hey Bicheng, welcome to TEAMMATES! Good job setting everything up correctly! You can get your feet wet by working on a `d.FirstTimers` issue, then move on to `d.Contributors` issues :)

[2017-07-08 12:31] VamsiSangam opened #7706 "const.js: rename and document semantics of constants"
~~`ParamNames` dictionary object is declared in [const.es6](https://github.com/TEAMMATES/teammates/blob/master/src/main/webapp/dev/js/common/const.es6). Its key-value pairs are almost sorted in a dictionary order of keys, except for a few keys like `FEEDBACK_QUESTION_EDITTEXT`, `FEEDBACK_QUESTION_EDITTYPE`, etc. We can rearrange these pairs to their proper position to maintain the dictionary order

[2017-07-08 20:50] LimeTheCoder opened #7707 "Instructor: download results: multiple repetition of header bug"
In CSV results file, header repeats before each row with response instead of appearing only once at the beginning.

![image](https://user-images.githubusercontent.com/8873908/27988998-0f5eb372-6438-11e7-8152-beee4577d6cf.png)

[2017-07-08 20:54] LimeTheCoder commented on #7707
Probably, side-effect of changes introduced in #7555

[2017-07-08 22:15] HirdayGupta opened #7708 "Success modals: display icon correctly"
Found this while working on #5979

**The problem:**
When used with the SUCCESS color, the bootbox modal's heading does not seem to look correct. The header text is on the next line to the success icon. It should either be on the same line as it, or the icon should not appear (only for modals, not for regular status messages) altogether.

This is what it looks like:
<img width="631" alt="screen sho

[2017-07-08 22:19] HirdayGupta opened #7709 "Add relevant icons to all types of status messages and modals"
While trying to identify the cause for #7708, I found that in the discussion for PR #7067, @damithc had recommended that in addition to adding a `tick` before each SUCCESS status message, we also **add relevant icons to all types of status messages**. Since I couldn't find an existing issue to this effect, I created this.

Note: adding icons to status messages will have to wait until #7708 is solv

[2017-07-08 22:25] HirdayGupta commented on #7708
Just realised that the first of the suggested solutions has an easy implementation using the CSS `:not()` selector. Should I go ahead with this?

[2017-07-08 23:22] HirdayGupta commented on #7341
Would this be only for the individual submit buttons? Or also for the submit all button?

[2017-07-09 04:54] #7704 closed

[2017-07-09 05:00] damithc commented on #7341
@HirdayGupta Just the individual submit buttons. How far have you gone into implementing this? I wonder if the implementation complications and possible UI complications (from the usability POV) is worth the benefit.

[2017-07-09 05:14] damithc commented on #7707
@Mynk96 can confirm the bug?

[2017-07-09 05:15] damithc commented on #7707
If the bug is confirmed, need to be fixed before next release. Also, how come it is not caught by existing tests?

[2017-07-09 05:57] arjunsuri commented on #7696
hey! I would also like to take this issue.

[2017-07-09 06:13] HirdayGupta commented on #7678
@VamsiSangam You are working on this?

[2017-07-09 06:25] HirdayGupta commented on #7341
@damithc Are you talking about the AJAX for the buttons or the entire feature itself?

[2017-07-09 06:26] arjunsuri commented on #7621
hey I also want a new d.FirstTimers issue....Please suggest me one as well.

[2017-07-09 06:27] VamsiSangam commented on #7678
Yes I am.

[2017-07-09 06:43] arjunsuri commented on #7350
hey I would like to take this issue

[2017-07-09 06:45] arjunsuri commented on #7350
Is this issue still open?

[2017-07-09 06:57] arjunsuri commented on #7350
Is it still open?

[2017-07-09 08:30] Mynk96 commented on #7707
@damithc @LimeTheCoder Well, the idea was to check each response for comments from the instructor's and add a header correspondingly.
The other approach was to get the maximum number of comments for response and then add a header, but as the screenshot in PR #7711 shows that would have left unnecessary blank cells or a text as "No comment" if there were no comments for responses.

[2017-07-09 09:13] arjunsuri commented on #7291
Is this issue still open...as I am desperately searching for a first timer issue

[2017-07-09 09:13] LiHaoTan commented on #7291
@arjunsuri Yes it's still open.You can do it if you want :)

[2017-07-09 10:14] damithc commented on #7707
Empty cells is WAY more acceptable than repeating header rows :-p

This behavior is already visible in [one of your comments](https://github.com/TEAMMATES/teammates/pull/7555#issuecomment-311430741). I should have detected it back then. Sorry about that. Anyway, need to fix before next release.

[2017-07-09 10:14] LimeTheCoder commented on #7707
@Mynk96 @damithc So It's was intended behaviour? Duplicate header before each row of responses is redundant, not obvious for users, time and space consuming and finally makes overall information hardly-readable. I think in that case better to use the second approach with only one header generated according to a maximum number of comments per response. See #7711. I don't think, that rows with blank

[2017-07-09 10:16] damithc commented on #7341
Entire feature.

[2017-07-09 10:21] arjunsuri commented on #7291
I was looking into package.json file...do I need to add name and version of the application as well or only "private":true will do the trick?As told by @whipermr5, I think I should only add private field and not name and version

[2017-07-09 10:24] thenaesh opened #7712 "Update about.jsp with contributors from V5.109"

[2017-07-09 10:29] whipermr5 commented on #7291
Yes; just private will do :) I'm glad someone is finally taking this up!

[2017-07-09 11:23] VamsiSangam commented on #7621
Hi @arjunsuri ! You can take up #7706 . Although it doesn't have a `d.FirstTimers` label assigned yet, I'm pretty confident that it has the same level of difficulty as that of a `d.FirstTimers` issue. :smile:

[2017-07-09 11:35] arjunsuri commented on #7621
I will surely look into that

On Jul 9, 2017 4:53 PM, "Vamsi Sangam" <notifications@github.com> wrote:

[2017-07-09 13:53] arjunsuri commented on #7291
I think I have completed the issue  #7291. Please guide me towards a successful PR.

[2017-07-09 15:05] shreyag12 commented on #7060
Hi, when I search Derrick, I get no results found.
![screenshot from 2017-07-09 20 32 10](https://user-images.githubusercontent.com/6481566/27995069-c708ea8a-64e5-11e7-80a7-1cf7b295269e.png)

[2017-07-10 04:39] #7278 closed

[2017-07-10 05:01] whipermr5 commented on #7707
@thenaesh This needs to be fixed before V5.109 can be released.

[2017-07-10 07:19] leeyimin commented on #4588
Remaining classes to sanitize include :

- [ ] AccountAttributes
- [ ] CourseAttributes
- [ ] InstructorAttributes

[2017-07-10 07:44] leeyimin opened #7716 "Instructor: remove unnecessary unboxing of Boolean value"
In the `return` statement of `isDisplayedToStudents` in Instructor.java, the `Boolean` variable `isDisplayedToStudents` can be returned directly without unboxing it.

[2017-07-10 07:46] leeyimin opened #7717 "Instructor: remove unnecessary boxing of boolean value"
In `setIsDisplayedToStudents` of Instructor.java, `this.isDisplayedToStudents` can be directly assigned to `shouldDisplayToStudents`, without boxing the latter.

[2017-07-10 07:58] whipermr5 commented on #7706
I believe @LiHaoTan has something to say about this :)

[2017-07-10 08:18] chowyb opened #7719 "Instructor: response comments: fix misalignment of edit/delete buttons"
For comments on InstructorFeedbackResultsPage and InstructorStudentRecordsPage, the edit and delete buttons can be out of line if the comment details are long enough.

![push](https://user-images.githubusercontent.com/7546744/28008608-d7068dac-658a-11e7-8794-f158103497c6.png)

[2017-07-10 08:26] LiHaoTan opened #7720 "StringHelper: remove unused method `countWords`"
`StringHelper#countWords` is unused and can be removed.

Side note: The implementation is also not very good and we should make use of word boundaries instead if we want to count words.

[2017-07-10 08:42] leeyimin opened #7722 "AdminLogQueryTest: Fix numeric overflow in expression"
`22 * 365 * 24 * 60 * 60 * 1000` causes an overflow as int-32 multiplication is used (See https://stackoverflow.com/questions/1494862/multiplying-long-values). This can be fixed by using [Calendar](https://docs.oracle.com/javase/7/docs/api/java/util/Calendar.html#add(int,%20int)) method.

[2017-07-10 08:59] leeyimin opened #7723 "InstructorFeedbackResultsPageUiTest: Fix false positive assertion"
In `testDownloadAction()`, there is a line: `assertFalse(reportUrl.equals(afterReportDownloadUrl));`. However, `reportUrl` is an AppUrl, `afterReportDownloadUrl` is a String, `equals` for AppUrl is not overridden. Thus, the expression is always false, even if both string expression could be the same.

[2017-07-10 09:09] leeyimin opened #7724 "FeedbackRankRecipientsResponseDetails: Refactor getAnswerCsv"
`getAnswerCsv` can be simplified by removing the use of `StringBuilder`.

[2017-07-10 09:20] #7688 closed

[2017-07-10 10:17] #7595 closed

[2017-07-10 10:30] Surya-06 commented on #7716
@leeyimin  Hi ! Can i take up this issue ??

[2017-07-10 10:33] leeyimin commented on #7716
@Surya-06 Sure, go ahead 😄

[2017-07-10 10:35] Surya-06 commented on #7716
@leeyimin By unboxing you meant that it can be returned directly without calling the booleanValue function right??

[2017-07-10 10:37] leeyimin commented on #7716
Yes 😄

[2017-07-10 10:38] leeyimin commented on #4699
Continuing this issue, tasks include

- [ ] Removing html sanitization before saving for name
- [ ] Removing html sanitization before saving for role, displayedName
- [ ] Add data migration script for legacy data
- [ ] Run data migration on datastore
- [ ] Remove code added to provide compatibility with legacy format

[2017-07-10 10:39] Surya-06 commented on #7716
@leeyimin  i have changed it , could u please have a look at it...

[2017-07-10 10:46] leeyimin commented on #7716
@Surya-06 Sorry, I did not notice earlier that you have already completed a first timer issue. Please take a look at d.Contributors issues instead!

[2017-07-10 10:47] Surya-06 commented on #7716
@leeyimin  Oh , all right i will take a look .

[2017-07-10 10:49] leeyimin opened #7726 "InstructorAttributes: remove HTML sanitization before saving for role, displayedName"
As part of #4699, sanitization of such fields should be performed during rendering if required.

[2017-07-10 10:55] #7717 closed

[2017-07-10 10:57] Surya-06 commented on #7490
@damithc  Would it be ok if I tried to do something about it?

[2017-07-10 11:04] arjunsuri commented on #7706
I would like to take this issue,

[2017-07-10 11:12] damithc commented on #7490
@Surya-06 given that we are low on FirstTimer issues (and this issue is simple), I'm going to label this as a FirstTimer issue.

[2017-07-10 11:30] Surya-06 commented on #7490
@damithc Ok then , could you let me know if there is anything in Java??

On 10 July 2017 at 16:42, Damith C. Rajapakse <notifications@github.com>
wrote:

[2017-07-10 11:36] LiHaoTan commented on #7706
Well, I think this issue may not be so simple. This is because `Const.ParamNames` in `Const.es6` is a copy of `Const.ParamNames` in `Const.java`, albeit a subset.

`Const.ParamNames` has some form of logical ordering to the constants and it's probably better to keep it that way. However, in `Const.es6` since it is a subset it may not appear to be as obvious.

The bigger problem though is keeping t

[2017-07-10 11:51] LiHaoTan opened #7728 "Admin: create instructor: enhance current tests to check for success and fail status when adding instructor"
The tests currently do not check the status when adding the instructor.

This may result in a status of a fail when adding an instructor is successful.

See regression: https://github.com/TEAMMATES/teammates/pull/7484

[2017-07-10 11:55] #7291 closed

[2017-07-10 11:55] damithc commented on #7490
@Surya-06 You need to go through the issue list and find something you can do. Go through `d.Contributors` issues as they are expected to be easier than others.

[2017-07-10 12:25] HirdayGupta commented on #7708
@damithc should I go ahead with the approach I described in the previous comment? Or is it essential that the icon is displayed in the modal header as well?

[2017-07-10 13:18] damithc commented on #7708
@chowyb @whipermr5 what do you think?

[2017-07-10 13:21] damithc commented on #7706
@LiHaoTan In that case, shall we just add a comment in the .es6 file for now to explain why it is ordered that way, until we tackle the real issue separately?

[2017-07-10 14:17] LiHaoTan commented on #7708
While waiting for them to reply, I have some input.

The original approach of showing modal dialogs (even before adding icons to alerts) probably was not ideal. It made use of the `alert-*` class and yet the function named the styling as colors when it is really doing a whole lot more. If we wanted to style only colors, we should use `bg-*` and `text-*`.

This is why we may notice some differences

[2017-07-10 15:14] amarlearning commented on #4129
Taking this one

[2017-07-10 16:21] LiHaoTan commented on #7706
@damithc yes I think we should.

[2017-07-10 18:02] VamsiSangam opened #7729 "Rank options: fix margin for JS added options"
Each option in a rank options question has a certain margin. But the JS added options don't follow this margin, making subsequent JS added options look clumsy.

![capture](https://user-images.githubusercontent.com/11662001/28032428-09c8e6a8-65c8-11e7-88ce-57bc33092b5b.JPG)

Add appropriate margin to the JS added options.

[2017-07-10 18:03] VamsiSangam commented on #7729
Working on this. (I think this is not a `d.FirstTimers` as this will need god mode)

[2017-07-10 22:23] davel37 commented on #7508
I'm having a similar problem to this at the moment and I'm not having much luck with Google or Stackoverflow. I've installed lintspaces as recommended above but I'm still getting the following errors:

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @ lint:spaces: `lintspaces -n -t -d spaces -l 1 -. "src/**/*.jsp" "src/**/*.tag" "src/main/**/*.html" "src/**/*.xml" "src/**/*.json" "src/**/*.css"

[2017-07-11 00:42] damithc commented on #7706
Description updated accordingly. @LiHaoTan can create an issue to fix the root cause?

[2017-07-11 00:48] Zhiyuan-Amos opened #7730 "Assumption: Add assertAllNotNull(Object... objects)"
`Assumption` has a method `assertNotNull(Object)`.

This method has to be called multiple times if the caller has multiple objects that should not be null. This leads to unnecessary code verbosity.
For example, in `Logic#createAccount(String, String, boolean, String, String, StudentProfileAttributes)`, there are 5 calls of `assertNotNull(Object)`.
[code]

Let's create a helper method `assertAllNot

[2017-07-11 03:35] LiHaoTan opened #7731 "Constants: Sync frontend and backend constants"
The current approach involves copy pasting of constants from `Const.java` to `const.js` and is error prone since we are essentially repeating code.

See: [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)  for more information.

[2017-07-11 03:40] LiHaoTan commented on #7706
Issue to address root cause here: #7731

[2017-07-11 04:18] #7644 closed

[2017-07-11 04:38] whipermr5 commented on #7508
@davel37 Did `npm install` complete successfully?

[2017-07-11 04:58] uxxSam commented on #7720
Hi, I would like to work on this issue

[2017-07-11 04:58] LiHaoTan commented on #7720
@uxxSam sure go ahead :)

[2017-07-11 05:01] josephinex commented on #7722
If you don't mind, I can work on this issue. Thanks!

[2017-07-11 06:12] LiHaoTan commented on #7730
How about we use `Preconditions` from `Guava` instead? I personally think our `Assumption` is not very well designed, for example, one of the problems is what you pointed out.

For instance, `Guava` tackles this problem by doing this instead.

[code]

See: https://github.com/google/guava/wiki/PreconditionsExplained

Not to mention we can do `this.field = checkNotNull(field)` to make it more concis

[2017-07-11 06:35] HirdayGupta commented on #7708
@LiHaoTan Thank you so much for the input. I'm not sure I fully followed the ills of the current approach as explained by you, so I'll leave the other devs to pick up on that.

Your suggestion for `float: left` however, worked perfectly. I had not thought of that, thanks! :) Regarding your second suggestion, I was wondering why `em` is better than `px`?

@damithc @chowyb @whipermr5 Requesting your

[2017-07-11 06:36] Zhiyuan-Amos commented on #7730
Generally, I think it's good that we standardise things to fail fast. This means that there will be a lot of null checks over the entire codebase, but it ensures that the scenario you mentioned above `(when not checking for a null can result in unexpected behavior)` does not happen. Sometimes, it's hard to tell whether not checking for null can result in unexpected behaviour as you really have to

[2017-07-11 07:20] Surya-06 commented on #7731
@LiHaoTan  Hey could I take up this issue??

[2017-07-11 07:26] whipermr5 commented on #7731
@Surya-06 You are always free to, but do read this first: [issues.md#difficulty-level-d](https://github.com/TEAMMATES/teammates/blob/master/docs/issues.md#difficulty-level-d)

[2017-07-11 07:27] davel37 commented on #7508
Hi! Yes I think so, with some warnings:

 npm install
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.1.2 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

added 115 packages in 93.914s

[2017-07-11 07:28] whipermr5 commented on #7508
There should be additional logging above that shows which files are failing the lint (due to trailing spaces, tabs, etc.)

[2017-07-11 07:30] HirdayGupta commented on #7341
@damithc Apologies for the delayed response. Slipped my mind. I haven't gotten too far, can stop if you feel this wouldn't add value. Would you recommend doing so?

[2017-07-11 07:32] Surya-06 commented on #7731
@whipermr5 Just gone through it , seems like the issue is for commiters and not contributors.

[2017-07-11 07:38] damithc commented on #7341
Yes, let's put this on hold for now. I have no clear idea how the UI should be.

[2017-07-11 07:39] damithc commented on #7341
@HirdayGupta btw, if you have done any work on this, you can create a PR for it (which will be closed without merging) for future reference and for you to take GSoC credit for it.

[2017-07-11 07:49] HirdayGupta commented on #7225
Working on this

[2017-07-11 07:53] HirdayGupta commented on #7341
@damithc Didn't write enough merge quality code to claim credit. Most of the work I had done was trial and error, trying to see how the feature would work.

[2017-07-11 07:54] #7720 closed

[2017-07-11 08:14] whipermr5 opened #7733 "Run data migration on legacy comment search documents to update date format"
Related to #7569. Script from #7682 can be run in the near future to update all comment search documents to the latest format (with dates in the currently prescribed format).

[2017-07-11 08:53] #7591 closed

[2017-07-11 09:38] leeyimin opened #7734 "InstructorAttributes: Check validity for instructor role"
Currently, Instructors are able to change the value of instructor role to one which is not well defined through editing the post requesting manually. A validity check can be added to prevent that from happening.

[2017-07-11 09:54] #7136 closed

[2017-07-11 10:07] damithc commented on #7734
I've lowered the priority because this is a 'garbage in, garbage out' situation. i.e. I'm assuming the user's deliberate misuse of the feature will hurt the user but not us. If it hurts us, we should up the priority. :-)

[2017-07-11 10:32] Zhiyuan-Amos commented on #7730
@LiHaoTan we discussed more f2f, and we even discussed where should we put assertions (whether they should be in the entire code base, or only in components such as `Logic`).

I think that should not be the focus of this issue. As you have pointed out, this issue can simply be about removing `Assumption` class and migrating the existing precondition checks to use Guava instead. As such, we should

[2017-07-11 10:48] #7686 closed

[2017-07-11 10:59] HirdayGupta opened #7736 "StudentFeedbackSubmissionEditPage: Add time zone information to opening and closing times"
**Current Behaviour:**

Displays the opening time and closing time in the course's time zone, without the time zone information. This can be misleading to students who are in a time zone different than that of the course.

**Current screenshot:**

<img width="806" alt="screen shot 2017-07-11 at 12 48 59 pm" src="https://user-images.githubusercontent.com/18088721/28065306-9c80fcfa-6655-11e7-8331-46

[2017-07-11 10:59] HirdayGupta commented on #7736
Working on this

[2017-07-11 11:01] HirdayGupta opened #7737 "Replace document.getElementById() with jQuery's $() selector"
Now that jQuery is available across all pages, we should replace `document.getElementById()` with jquery's `$('#id')` selector for consistency across our JS codebase.

[2017-07-11 15:54] davel37 commented on #7447
Is there anybody working on this issue? I would like to take it if it's free.

[2017-07-12 01:42] #7696 closed

[2017-07-12 04:31] whipermr5 opened #7741 "Rename settingUp.md -> setting-up.md"
For consistency with the way the other documents are named. Also involves updating links to it in the other documentation files, if any.

[2017-07-12 04:31] whipermr5 opened #7742 "Rename staticAnalysis.md -> static-analysis.md"
For consistency with the way the other documents are named. Also involves updating links to it in the other documentation files, if any.

[2017-07-12 04:35] whipermr5 opened #7743 "Remove `appengineStop` task from CI build scripts"
I don't see the need to run `appengineStop` since the entire VM is destroyed after the build completes anyway. The task adds an unnecessary 10 seconds to the build time.

To fix, remove [these lines](https://github.com/TEAMMATES/teammates/blob/38b810a566559cf1d84094cdad08ebca5e78a436/.travis.yml#L55-L57) from `.travis.yml` and [these lines](https://github.com/TEAMMATES/teammates/blob/38b810a566559

[2017-07-12 05:15] LiHaoTan commented on #7730
I agree with you that it is probably not so important that we can tell immediately which variable is null. I also think that it is fine not to be able to pass error messages into `checkAllNonNull` since we can always use the single arg method to check for null.

However, I would think that there needs to be a stronger reason than just reducing the number of lines to add `checkAllNonNull` since it

[2017-07-12 05:22] LiHaoTan commented on #7730
With regards to `IAE` and `NPE`, I think it matters because it helps to immediately tell how the error occurred.

For example, when we see `IAE`, we immediately know that an illegal argument is passed. And when we see `NPE`, we know that null is being passed, and usually, that occurs from some error such as a problematic computation.

However, we would not be able to tell when one specifically pas

[2017-07-12 05:32] amarlearning opened #7744 "Disable JavaScript caching for Firefox: property not found"
Under the [Firefox section](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md#using-firefox) in the [development.md](https://github.com/TEAMMATES/teammates/blob/master/docs/development.md) file replace the `network.http.use-cache` with `browser.cache.disk.enable`.

[2017-07-12 05:48] #6550 closed

[2017-07-12 06:13] whipermr5 opened #7745 "development.md: update instructions for disabling Firefox cache"
The key `network.http.use-cache` is for older versions of Firefox and cannot be found in Firefox 46.

The [instructions](https://github.com/TEAMMATES/teammates/blob/b65f1ab5110302b49e5affc04090ee652e320359/docs/development.md#using-firefox) should be updated to also include `browser.cache.disk.enable` which is found in newer versions of Firefox. Note: both keys should be included because the older

[2017-07-12 06:18] #5597 closed

[2017-07-12 06:24] whipermr5 commented on #7712
New contributors since the release was delayed for #7707.

[2017-07-12 06:28] whipermr5 commented on #7744
Oops; didn't see this before creating #7745 😅 I'll leave that one open instead as the instructions are different (instead of replacing, both should be kept as I believe the older key is for older versions of Firefox e.g. 38, which we do support). Thanks for the report!

[2017-07-12 06:28] #7744 closed

[2017-07-12 07:00] #7039 closed

[2017-07-12 08:08] #7707 closed

[2017-07-12 08:47] #7729 closed

[2017-07-12 09:40] josephinex commented on #7722
Seems like it has been done by someone else?

[2017-07-12 09:41] leeyimin commented on #7722
#7738 is closed and has not fixed the issue 😄

[2017-07-12 09:45] josephinex commented on #7722
@leeyimin so, shall I take another issue then?

[2017-07-12 14:03] damithc commented on #7730
@LiHaoTan you think we should switch to Guava?
@Zhiyuan-Amos are we using Guava already for some other thing?

[2017-07-12 14:27] shivakrishna9 commented on #7743
@whipermr5 Can I work on it? Or is it assigned to anybody?

[2017-07-12 14:28] whipermr5 commented on #7743
@shivakrishna9 Go ahead! :)

[2017-07-12 16:23] chowyb commented on #7722
@josephinex there's no need to, as this issue is still up for grabs :)

[2017-07-12 16:36] josephinex commented on #7722
@chowyb , I asked because I thought @sanjeevbitx is gonna work on this.

[2017-07-12 17:05] marboleda opened #7750 "New Contributor Self Intro: Marco Arboleda"
- **Link to my fork:** https://github.com/marboleda/teammates

**Screenshot of changes made (as seen on the UI)**

![intro](https://user-images.githubusercontent.com/30060106/28129608-edb4dae0-6701-11e7-8872-e5c50352d587.png)

I changed the color of the text "Student peer evaluations..." from orange to blue.

**Short self-introduction**
Hi, my name is Marco and I just graduated with a degree in Co

[2017-07-12 17:53] marboleda commented on #7745
Hi, I am interested in working on this issue.

[2017-07-12 19:32] sanjeevbitx commented on #7722
@josephinex ,You can continue on this.

[2017-07-13 00:56] #5996 closed

[2017-07-13 01:21] #7693 closed

[2017-07-13 01:25] whipermr5 commented on #7750
Hey Marco, welcome to TEAMMATES! I see you've already submitted a PR for a `d.FirstTimers` issue; that's good! You may move on to `d.Contributors` issues after completing that one :)

[2017-07-13 02:21] whipermr5 opened #7754 "process.md: update command to run static analysis"
The command was changed from `./gradlew staticAnalysis` to `./gradlew lint` in #7024; however, `process.md` was not updated.

Update the one occurrence of the command in `process.md` to fix this issue.

[2017-07-13 04:43] #7743 closed

[2017-07-13 06:37] #7741 closed

[2017-07-13 07:18] whipermr5 opened #7755 "FeedbackSubmissionEditQuestion: fix grammatical errors"
Two instances of `this course don't have` should be changed to `this course doesn't have`.

[2017-07-13 08:18] Zhiyuan-Amos commented on #7730
Quote from Guava:

This I agree. I'm wondering whether we can have a workaround. That is, whenever we encounter NPE, we log it down first before throwing NPE. That way, we can effectively find out which object caused the error (just have a counter to count which item in the varargs that it's checking). That way we need our own implementation of `checkNotNull` though hmm. (It's simple to implement

[2017-07-13 08:46] whipermr5 opened #7756 "Instructor: edit session: exclude instructors without submit privileges from preview list"
As discovered by @damithc, instructors can currently preview feedback sessions as other instructors who do not have submit privileges, resulting in misleading information on the preview page. To avoid this, the instructor list next to the preview button can exclude instructors who do not have submit privileges.

[2017-07-13 11:10] shivakrishna9 commented on #7603
@whipermr5 I will do this :)

[2017-07-13 18:22] VamsiSangam opened #7760 "InstructorFeedbackEditPage pageobject: fix typo in method name"
A method in [InstructorFeedbackEditPage](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/pageobjects/InstructorFeedbackEditPage.java#L361) is named as `getRubicSubQuestionBox` when it should correctly be named as `getRubricSubQuestionBox`.

Use IDE refactor tools to refactor the method name to the correct one.

[2017-07-13 18:28] MaddyThakker opened #7761 "Error while executing the command "./gradlew appengineDownloadSdk"."
I was setting up the environment for the Teammates application when I encountered the following errors.
I tried this several times but errors are still the same.

--JAVA VERSION--
maddy@maddy-X556UQK:  /Desktop/github/teammates$ javac -version
**javac 1.7.0_131**
maddy@maddy-X556UQK:  /Desktop/github/teammates$ java -version
**java version "1.7.0_131"**
OpenJDK Runtime Environment (IcedTea 2.6.9)

[2017-07-14 01:30] #7745 closed

[2017-07-14 01:55] whipermr5 commented on #7761
OpenJDK 7 has this bug. You can switch to Oracle JDK 7, or Google for a workaround.

[2017-07-14 04:46] LiHaoTan commented on #7730
@damithc yes I think we should use Guava since we have already included it but we are not making much use of it.

@Zhiyuan-Amos

Yea this can be a possible approach so as per we discussed this will require additional maintenance, e.g. writing tests for such a method. Since scenarios such as the two constructor scenario are currently rare in the code, so the cost required to create such a method ma

[2017-07-14 04:56] leeyimin opened #7764 "FeedbackQuestionDetails: Sanitize question text when displayed"
Question text is currently not sanitized when displayed in several instances: eg. on InstructorFeedbackResultsPage and in admin status of InstructorFeedbackQuestionAddAction. It should be sanitized to prevent html rendering issues or script injection.

[2017-07-14 05:55] wkurniawan07 commented on #7731
The only way I can think to solve this is using `.properties` file. Java can read this easily and Webpack has loaders which can load `.properties` file into JS objects, JSON or otherwise.

[2017-07-14 06:39] #7756 closed

[2017-07-14 08:11] arjunsuri commented on #2542
I want to take this issue...Could you please tell what exactly I have to do in this issue...as I am not able to figure out from the explanation?

[2017-07-14 08:24] arjunsuri commented on #7112
Is this issue still open?

[2017-07-14 08:30] arjunsuri commented on #7628
Is this still open?

[2017-07-14 08:40] LiHaoTan opened #7765 "Use `Strings.isNullOrEmpty` instead of rolling our own `StringHelper.isEmpty`"
~We should use Guava's `Strings.isNullOrEmpty` instead of creating our own `StringHelper.isEmpty`.~

~While the implementation is simple and unlikely to cause any problems, the overhead incurred in writing the tests was wasted. Furthermore, `isNullOrEmpty` is a better name than `isEmpty`.~

~EDIT:
As an example, in `StudentProfileAttributes#generateUpdateMessageForStudent`:~

~Change `StringHelper

[2017-07-14 08:43] sujeet14108 commented on #7112
A PR is already open. Give me a few days to complete it. You can take any other issue

[2017-07-14 09:09] arjunsuri commented on #7112
Could you please suggest any issue related to Java programming?I will take
it.

On Jul 14, 2017 2:13 PM, "Sujeet" <notifications@github.com> wrote:

A PR is already open. Give me a few days to complete it. You can take any
other issue

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/TEAMMATES/teammates/issues/7112#issuecomment-315

[2017-07-14 09:10] damithc commented on #7765
Perhaps do one as an example and spawn some first timer issues for the rest?

[2017-07-14 09:17] arjunsuri commented on #1103
Please guide me on this issue...

[2017-07-14 09:39] leeyimin opened #7766 "InstructorFeedbackResultsPage: standardize sanitization for section"
Students' section may not be properly sanitized in a standardised manner in InstructorFeedbackResultsPage, which could lead to html injection and problems in functionality of the page.

[2017-07-14 09:53] #7628 closed

[2017-07-14 11:33] LiHaoTan commented on #7765
@damithc I added an example, there are only 14 instances where this needs to be changed so it should be quite simple. In fact, this method was only added recently and honestly, I don't think it should even be used anyway.

[2017-07-14 12:50] whipermr5 opened #7768 "FeedbackSession: fix respondent lists not persisting"
While working on #2258, I discovered a terrible bug I introduced in #7338 that disables persistence of the `respondingInstructorList` and `respondingStudentList` fields in `FeedbackSession` entities due to a bug in the constructor ([link](https://github.com/TEAMMATES/teammates/blob/3cd153edea31acfc620d96aa735b9610cb377a8a/src/main/java/teammates/storage/entity/FeedbackSession.java#L137-L138)). I'm

[2017-07-14 13:21] #7768 closed

[2017-07-15 02:31] billmiller2 commented on #7760
@VamsiSangam I have read through the contribution docs and set up my local TEAMMATES environment.  Is it alright if I make this fix and submit a pull request?

[2017-07-15 06:09] #7760 closed

[2017-07-15 20:14] arjunsuri commented on #3431
what exactly do we need to do in this issue?

[2017-07-16 02:38] kanghj commented on #3431
On the feedback results page for instructors, "Missing response" rows are shown for students who have not submitted a response yet. However, if an instructors does not have permission to view responses for some students, "missing response" rows are displayed for these students currently. Things could be improved by not displaying any row for these students.

[2017-07-16 05:41] arjunsuri commented on #3431
great I am taking it

[2017-07-16 06:02] arjunsuri commented on #3431
I looked into the issue....there are around 100 errors in InstructorFeedbackResultsPageData.java when I run this program in my local machine...Do I need to resolve the bugs

[2017-07-16 09:14] #7722 closed

[2017-07-16 16:43] Praisey commented on #7755
Done.

[2017-07-16 16:44] whipermr5 commented on #7755
@Praisey You need to open a PR :)

[2017-07-16 16:45] Praisey commented on #7755
Hi John,
What's a PR?
I am new to community and using this repo as part of completion of my
university module.
Thanks for answer :)

On 16 July 2017 at 18:44, John Yong <notifications@github.com> wrote:

--
Kind regards,
Dominik Leszczenko.

[2017-07-16 16:47] whipermr5 commented on #7755
[Pull request](https://help.github.com/articles/about-pull-requests/)

[2017-07-16 23:52] Praisey commented on #7755
https://github.com/TEAMMATES/teammates/pull/7776

[2017-07-17 00:50] damithc opened #7778 "'Session closed' email: include more details"
Current:
![image](https://user-images.githubusercontent.com/1673303/28252777-b8bdf5be-6acc-11e7-9ffe-7b66d787aedc.png)

Suggestion:
I see no harm in including details such as the submission link and the session description, similar to what we do in `Session open` email.

[2017-07-17 00:54] damithc opened #7779 "'Session closed' email: highlight the sentence about deadline extensions"
We should make the following sentence harder to miss:
![image](https://user-images.githubusercontent.com/1673303/28252796-4d22efe8-6acd-11e7-8a9d-87e0d9c5b80f.png)

Justification: some students still email us for deadline extensions.

[2017-07-17 07:51] whipermr5 opened #7780 "loadSessionsTableByAjaxForm.tag: fix typo"
Change `sessiosn` -> `sessions` in the tag description.

[2017-07-17 11:07] Surya-06 commented on #7603
@shivakrishna9  Are you taking this issue ?? else would you let me do it ..

[2017-07-17 17:13] VamsiSangam opened #7784 "instructorFeedbackEdit: fix visibility checkboxes not responsive after discarding changes"
The current question backup mechanism involves taking a backup of the HTML in `.panel-body` and restoring it back if the instructor wants to discard changes. This mechanism has a bug.

When we restore the changes, we are merely overriding the HTML inside `.panel-body`. Due to this "override raw HTML" mechanism, certain event handlers are lost. Ex. all event handlers for `input` tags seem to vanish

[2017-07-17 21:57] amarlearning commented on #3091
@damithc Yes, we do have a [test](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/cases/browsertests/InstructorStudentListPageUiTest.java#L242) for the `delete` button.

Both [`viewPage.clickDeleteAndCancel(courseId, studentName)`](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/cases/browsertests/InstructorStudentListPageUiTest.java#

[2017-07-17 21:59] amarlearning commented on #3436
@damithc Is this issue still open?

[2017-07-17 22:08] amarlearning commented on #3694
@damithc I think we should change the page title to `<heading> | Teammates Instructor`.

Example if we are on:

1. Course Details Page: -  the title could be something like `Course | Teammates - Instructor`
2. New Feedback Session Page: -  the title could be something like `New Feedback Session | Teammates - Instructor`
3. Instructor Home Page: -  the title could be something like `Home | Teammate

[2017-07-17 22:22] amarlearning commented on #2515
Working on this

[2017-07-17 22:23] amarlearning commented on #4552
@damithc Is this issue still open?

[2017-07-18 00:08] keerthikorivi commented on #7765
Hi @damithc, @LiHaoTan

Can I take up this issue?

Thanks,
Keerthi Korivi.

[2017-07-18 00:16] keerthikorivi commented on #7723
Hi @leeyimin,

Can i work on this issue?

[2017-07-18 02:33] damithc commented on #3694
How about
`Instructor | <heading>`
Or
`<heading> [Instructor]` ?

[2017-07-18 02:37] damithc commented on #4552
Yes. Note that this requires changes in both front end and backend.

[2017-07-18 02:45] damithc commented on #3436
Yes. I think it is easier to phrase it as `A team name must start with` etc.

[2017-07-18 03:48] leeyimin commented on #7723
@keerthikorivi Go ahead :)

[2017-07-18 05:01] #7712 closed

[2017-07-18 05:05] thenaesh opened #7785 "Release V5.109"
Scheduled for June 18, 2017, 11.59pm SGT.

[2017-07-18 06:02] thenaesh commented on #7785
Release 260

Code Contributions from: @adityavhegde, @amarlearning, @arjunsuri, @uxxSam, @billmiller2, @davel37, @HirdayGupta, @sneachta96, @whipermr5, @ParmaarK, @enaru, @LiHaoTan, @ihsraham, @marboleda, @Mynk96, @praveshjain, @rrtheonlyone, @sanjeevbitx, @SELVAKUMAR-S, @stanislous, @shivakrishna9, @shubham49, @huai99, @sujeet14108, @Surya-06, @LimeTheCoder, @josephinex, @thenaesh, @ihsavru, @Vam

[2017-07-18 06:37] LimeTheCoder commented on #7778
Working on it

[2017-07-18 07:43] #7750 closed

[2017-07-18 07:44] #7761 closed

[2017-07-18 08:56] leeyimin opened #7787 "InstructorAttributes: remove HTML sanitization before saving for name"
As per #4699, sanitization of name will be performed during rendering if required.

[2017-07-18 09:30] #7766 closed

[2017-07-18 10:34] #7734 closed

[2017-07-18 11:30] damithc opened #7788 "InstructorCourseDetailsPageUiTest: testing on live server: increase success rate for checking email delivery"
Current:
Wait for 5 seconds before checking if the email was delivered to the recipient.

Suggested:
Use retry manager instead

[2017-07-18 11:42] #4488 closed

[2017-07-18 12:01] damithc opened #7789 "InstructorFeedbackSessionsPageUiTest.testAddDeleteActions: fix failure on live server"
v5.109

![image](https://user-images.githubusercontent.com/1673303/28316046-ab2024f4-6bf3-11e7-8ac2-b1b13e9a361f.png)
[code]

[2017-07-18 12:22] #2258 closed

[2017-07-18 12:22] damithc opened #7790 "ControllerServlet.java: add additional logging"
Add the following at line 123:
[code]

![image](https://user-images.githubusercontent.com/1673303/28316781-c3a19c62-6bf6-11e7-8cad-12407e455355.png)

[2017-07-18 12:24] damithc commented on #7157
@LiHaoTan can take a shot at this one? Otherwise I have to patching this in after every release.

[2017-07-18 13:16] #2203 closed

[2017-07-18 13:53] whipermr5 commented on #84
From what I understand, we have to:
- Migrate `FeedbackSession` `timeZone` field from `double` to string containing time zone ID.
  - We can use the `Etc/GMT-X` time zones to maintain expected behaviour, as these time zones do not have DST. It is up to instructors to change the time zone to their correct local time zone if they want to enable DST.
- Migrate time fields within `FeedbackSession` suc

[2017-07-18 13:57] damithc commented on #84
@wkurniawan07 can weigh in. He was the last person to handle this hot potato 😝

[2017-07-18 14:06] wkurniawan07 commented on #84
The plan was to ditch timezone fields in feedback sessions completely and relying fully on the one in course, which already is in Olson timezone ID. The timezone field in the courses was actually added for this purpose.
I tried and met many roadblocks along the way, and realized one part of the puzzle is #6300, although evidently I did not manage to find the time to actually work on it 😛
After cle

[2017-07-18 14:14] whipermr5 commented on #84
Well I guess since our users have gotten used to a session time zone, we shouldn't remove it immediately. We can first migrate the session time zone field, announce support for DST, then deprecate the use of a session specific time zone before finally removing it once we're sure no one uses it anymore?

[2017-07-18 14:16] huai99 commented on #3590
@damithc  Hi, I would like to solve this issue, but first I would like to clarify something from you. Because from my local machine, I could not see the button that allows me to perform any action at the Actions column. Below attached the image that I saw:
![image](https://user-images.githubusercontent.com/26456025/28321642-5722db5e-6c06-11e7-8496-d871dd684e53.png)
So, can you let me know what ste

[2017-07-18 14:20] damithc commented on #3590
@huai99 that action now appears under the `Results` button.

[2017-07-18 14:24] damithc commented on #84
From what I remember, we planned to show the time zone in the session (but readonly) even if it is stored in the course. That way, users will not notice a big difference UI-wise.

[2017-07-18 14:58] amarlearning commented on #3694
If we use format `Instructor | <heading>`, then the `<heading>` won't be visible in the chrome tab only `Instructor` will be visible.

I think better would be to go with `<heading> | Instructor`

[2017-07-18 14:58] huai99 commented on #3590
@damithc  Ok, thanks for the clarification, so what you hope to see is that the initial status for the feedback session should be unpublished when we create a new instructor ? Am I right ?

[2017-07-18 15:01] stanislous commented on #7779
Can I take this issue??

[2017-07-18 17:31] LiHaoTan commented on #7708
@HirdayGupta sorry I overlooked what you said, actually I wasn't saying that `em` is definitely a better approach but rather because it is dependent on the element's font size it may be better as we are not depending on an absolute unit (as you have demonstrated in your PR through `padding-top`).

Though in this scenario I couldn't figure out whether it is better to use `em` vs `px` in `padding-ri

[2017-07-18 17:34] stanislous commented on #7719
Can I take this issue?

[2017-07-18 17:34] whipermr5 commented on #7789
This is a manifestation of #7669. The test will pass on a system with time zone set to UTC.

[2017-07-18 19:22] suleymantekin commented on #7716
Hi, can I do this change, please?

[2017-07-18 22:16] amarlearning opened #7794 "Student: MOTD: include only body of fetched HTML resource file"
**Issue:**
Unrelated content like `meta tag`, `favicon tag` and `title tag` found inside `student-motd` in the Student submit feedback page. _[screenshot]_

![screenshot from 2017-07-19 02-52-26](https://user-images.githubusercontent.com/9383897/28341738-8974523c-6c32-11e7-8e28-ba331ad0d309.png)

**Reason:**
Looked into the code and found that `student-motd` get's its data from [`fetchMotd`](https

[2017-07-19 00:39] damithc commented on #3590
Yes. It should not be published yet.

[2017-07-19 00:40] damithc commented on #3694
BTW, my second option is `<heading> [Instructor]`, not `<heading> | Instructor`

[2017-07-19 01:41] amarlearning commented on #3694
_[screenshot of browser tabs]_
![screenshot from 2017-07-19 07-00-15](https://user-images.githubusercontent.com/9383897/28346656-050da7aa-6c50-11e7-951a-ad87419c1414.png)

The titles on the browser tabs really help me in navigating between different page. so the point of sharing that image is only the `<heading>` part will be visible to Instructor/Students. With that, I think we have left with the

[2017-07-19 02:19] damithc commented on #3694
I agree, we should have the `<heading>` first.
No, I didn't mean we should use the actual name of the instructor. Rather, I wanted to use square brackets instead of the pipe symbol. e.g. `Student List [Instructor]`. `Student List | Instructor` can be mistaken for _bread crumbs_ indicating `instructor` is a sub feature of `Student List`

[2017-07-19 02:25] amarlearning commented on #3694
`<heading> [Instructor]` look good then.
opening a PR.

[2017-07-19 04:31] damithc commented on #7785
Deployed

[2017-07-19 04:31] #7785 closed

[2017-07-19 04:33] damithc commented on #7733
Will do in the next release, after we are sure the current release is stable.

[2017-07-19 04:59] whipermr5 opened #7795 "Move sorting of instructors from storage layer to logic layer"
See https://github.com/TEAMMATES/teammates/pull/7680#pullrequestreview-50803429.

[2017-07-19 05:02] whipermr5 commented on #7795
@amarlearning Do you want to take this?

[2017-07-19 05:29] whipermr5 commented on #7794
The string replacement seems hackish. Maybe use a regex? https://stackoverflow.com/questions/6195615/get-contents-of-body-body-within-a-string

[2017-07-19 05:39] amarlearning commented on #7795
Working on it

[2017-07-19 05:43] amarlearning commented on #7794
Working on this

[2017-07-19 08:24] damithc opened #7796 "Fix error reported in live server: Empty question text"
v5.109

[code]

[2017-07-19 08:28] damithc commented on #7796
I've never seen this error before.
[code]

[2017-07-19 08:39] leeyimin opened #7797 "StudentFeedbackSubmissionEditPage: Disable text area for closed feedback session"
Text areas on StudentFeedbackSubmissionEditPage are not disabled and are still editable for a closed feedback session. They should be disabled since feedback can no longer be edited.

[2017-07-19 08:56] damithc commented on #7796
Related to #7784?

[2017-07-19 09:08] chowyb commented on #7784
Most likely, this can be resolved by #3998. However, as it may be possible to resolve this in a different manner, I'll leave this issue open.

[2017-07-19 09:44] damithc commented on #7796
Seems user is using IE and the problem went away when she switched to Chrome. Anyway, here are the steps she took:
[code]

[2017-07-19 10:09] whipermr5 commented on #7796
Might be outdated JavaScript files cached in her browser. Could she help verify by clearing her IE cache and trying the same steps again?

[2017-07-19 10:22] damithc commented on #7796
For that to hold, she should have accessed TEAMMATES within the last 24 hours but before V5.109 was deployed, am I right?

[2017-07-19 10:34] whipermr5 commented on #7796
Might be any time period. Do we set cache control headers?

[2017-07-19 10:40] whipermr5 commented on #7796
Seems like they're set to 10 minutes; I'm not sure how many browsers respect that though (I have especially low confidence for old versions of IE).

![screenshot_20170719-183436](https://user-images.githubusercontent.com/6811428/28363063-8a2f356e-6cb1-11e7-8e23-48b2d54ff2de.png)

[2017-07-19 10:42] whipermr5 commented on #7796
We might need to look into build hashes for our js files, as it's the only reliable way to defeat browser caching.

[2017-07-19 11:07] damithc commented on #7796
There is no urgency anymore because the user is able to get the work done. In the meantime we can think of a solution and also wait to see if there are recurrences.

[2017-07-19 11:32] LiHaoTan commented on #7765
@damithc can this be a `d.FirstTimers`?

[2017-07-19 15:07] damithc commented on #7765
Yes. Done.

[2017-07-19 15:09] LiHaoTan commented on #7765
@keerthikorivi Sorry for the late response, yes you can go ahead.

[2017-07-19 17:12] wkurniawan07 commented on #84
@whipermr5 I forgot to link this issue as well: #5928

[2017-07-19 19:26] oneoffaccount opened #7800 "Trouble importing Project into Eclipse"
- Operating System: Windows 10
- JDK Version: 1.7
- Eclipse: 4.4.2

Hello, I'm new to Github and I'm trying to get Teammates installed on my computer so that I can make contributions.

I'm on the section called "Setting up the Dev Server" (http://rtd-trial.readthedocs.io/en/latest/settingUp/#setting-up-the-dev-server) and I'm stuck on steps 8, 9 and 10.

I'm not even sure what steps 8 and 9 are tr

[2017-07-19 21:47] amarlearning commented on #7797
working on this

[2017-07-19 22:34] adityavhegde commented on #7224
Working on this one.

[2017-07-19 22:44] keerthikorivi commented on #7723
Hi,

Could you please point me to the project setup guide if there is any?

Thanks,
Keerthi Korivi

[2017-07-19 23:53] damithc commented on #7723
@keerthikorivi it's somewhere in our developer documentation. Try to find it yourself. :-)

[2017-07-20 01:41] keerthikorivi commented on #7765
@LiHaoTan  sure. Thanks :)

[2017-07-20 01:41] keerthikorivi commented on #7723
Thanks!

[2017-07-20 01:55] uxxSam commented on #7800
I followed the IDE-usage guide here:
https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md

You should be able to import the project after running the commend:

[2017-07-20 03:37] adityavhegde opened #7803 "JSP Errors: getting error marks when there are no actual errors."
Hi all,

I have been recently getting this on my eclipse IDE. These small 'x' marks indicate there is some error :
![image](https://user-images.githubusercontent.com/10449636/28399363-962aa078-6cda-11e7-81c5-a3f58e7d8cbf.png)

However, when I actually open the files, there seems to be no errors.

![image](https://user-images.githubusercontent.com/10449636/28399382-b3f09a2c-6cda-11e7-8f77-8d7777686

[2017-07-20 03:46] #7736 closed

[2017-07-20 04:05] chowyb commented on #7800
@oneoffaccount the link you have provided appears to be an outdated version of our documentation. May I ask how you happened to find that link?

In the meantime, you can follow the link that @uxxSam provided, however it might be better to start from https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md instead, as there may be some other steps in that file which is not reflected in

[2017-07-20 05:14] jabrah29 commented on #7797
I am new to open source and would like to work on this problem. How do I find the file(s) relevant for this issue to fix?

[2017-07-20 06:08] oneoffaccount commented on #7800
Lol, oops.  I got to http://rtd-trial.readthedocs.io/en/latest/process/ by searching "what does "d.firsttimers" mean on github" and then clicked on the "settingUp" link.  I should have realized it wasn't the correct version of your documentation.  Thanks for the correct link!

[2017-07-20 06:08] #7800 closed

[2017-07-20 06:18] leeyimin opened #7804 "EmailGenerator: Refactor feedback sessions related email templates"
Currently, there are many different email templates for change in feedback session status, with minimal difference in their content. They can be better refactored to use a single template to reduce the complexity of EmailGenerator, and to simplify the process when updating the emails' content.

[2017-07-20 06:26] LiHaoTan opened #7805 "Fix IntelliJ IDEA 2017.2 Unsupported major.minor version 52.0"
When upgrading to IntelliJ IDEA 2017.2, the following error is shown:
`Error:com/android/builder/model/AndroidProject : Unsupported major.minor version 52.0. Please use JDK 8 or newer.`

It seems that there is a new coupling for the Gradle integration with Android projects, not sure if this is intended but this is probably a bug in IntelliJ IDEA.

[2017-07-20 07:15] whipermr5 commented on #7805
As discovered by @LiHaoTan, the workaround is simple - just change the Gradle JVM settings to Java 8 in IntelliJ preferences.

[2017-07-20 08:38] LiHaoTan commented on #7805
There seems to be an issue changing the Gradle JVM to Java 8 as IntelliJ will force the project SDK to be Java 8 as well.

The workaround from Jetbrains is to temporarily disable the `Android Support` plugin until Jetbrains pushes an update for the fix.

See: https://youtrack.jetbrains.com/issue/IDEA-176192

[2017-07-20 09:29] #7764 closed

[2017-07-20 21:00] HirdayGupta commented on #7803
@adityavhegde It might be helpful if you could post a screenshot of the `markers` tab from Eclipse.

[2017-07-20 21:06] HirdayGupta commented on #7797
@jabrah29 Since @amarlearning already commented that he would be working on this, the TEAMMATES convention is that you would have to ask him before doing this issue yourself. That being said, you seem to new here, and might want to read our [Contributor Orientation Guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) on getting started with contributing to TEAMMATES

[2017-07-20 21:09] HirdayGupta commented on #7709
Leaving this comment here for reference. (Have already mentioned this in #7774): I will work on this after #7774 is merged.

[2017-07-21 03:33] #7795 closed

[2017-07-21 05:50] leeyimin opened #7808 "*FeedbackSubmitPageUiTest: Fix dependency on current time"
StudentFeedbackSubmitPageUiTest may fail due to test case "Grace period session", as the `endTime` of "Grace period session" is not set with respect to the time zone of the session, but to UTC.

InstructorFeedbackSubmitPageUiTest may fail due to test case "Private session", as it contains a `null` endTime and the `getEndTimeString` fails to handle it properly.

[2017-07-21 05:55] leeyimin commented on #7808
Some discussion in #7740.

[2017-07-21 06:07] whipermr5 commented on #6300
Raising priority as this is the root cause of many recent issues (e.g. #7669, #7789, #7808).

[2017-07-21 06:11] #7669 closed

[2017-07-21 06:11] #7789 closed

[2017-07-21 06:38] HirdayGupta commented on #7808
Working on this. 😅

[2017-07-21 07:26] HirdayGupta commented on #7808
@leeyimin @whipermr5

Adding in the lines @whipermr5 suggested in https://github.com/TEAMMATES/teammates/pull/7740#discussion_r128686702 solves the "InstructorFeedbackSubmitPageUiTest.java` issue by removing the end time from display altogether. I believe this is how it was done prior to the changes in #7740. ([See line 55 of this diff](https://github.com/TEAMMATES/teammates/commit/929055a735e152f

[2017-07-21 08:40] leeyimin commented on #7808
@HirdayGupta I believe the issue is that FeedbackSessionAttributes assumes endTime to "show" time in its timezone. Suppose the desired end time is 21 Jul 2017 1600 UTC+0800, which converts to 21 Jul 2017 0800 UTC, `endTime` should store `21 Jul 2017 1600 UTC`.

So suppose the current time is 21 Jul 2017 0700 UTC+0800 (-1 day, 2300 UTC),
what the test is doing is setting the `endTime` to `20 Jul 20

[2017-07-21 09:24] #7779 closed

[2017-07-21 09:48] ahsanbagwan commented on #7724
I would like to take this up. However, I'm not understanding why the method has an unused parameter. Is it expected to return `answer` as is?

[2017-07-21 10:17] HirdayGupta commented on #7808
what the test is doing is setting the endTime to 20 Jul 2017 2259 UTC,
when it should have been 21 Jul 2017 0659 UTC.

@leeyimin This is exactly what I thought too. And you are correct to an extent. The FS `EndTime` attribute does assume that its data is in the course's time zone and yes, the `StudentFeedbackSubmitEditPage`'s `Grace Period Session` Test Section violates this assumption. However, y

[2017-07-21 10:39] HirdayGupta commented on #7808
Anyway, I have a couple of possible solutions lined up. I am currently waiting until UTC 1600 to start testing them (all builds are passing now haha). Any suggestions on changing the system time so I can test these now?

[2017-07-21 10:57] HirdayGupta commented on #7808
Also, just as a continuation to this. What happens next is that when this end time is to be displayed, the `getEndTimeString()` method is called. This method "converts" the given endTime to UTC first by shifting it through the offset of the course time zone (so it converts this date to 20 Jul 2017  14:59) and then this date is sent to the `formatDateTimeForSessions` method which, among other thing

[2017-07-21 15:06] adityavhegde commented on #7803
@HirdayGupta
I had a look at the `markers` tab (did not know of its existence). The error was something like 'JSP files require a JDK' (I don't remember it exactly).
There was some problem with the installed jdk. Followed  (https://github.com/TEAMMATES/teammates/blob/master/docs/ide-usage.md) to solve the problem.

[2017-07-21 15:07] #7803 closed

[2017-07-21 16:51] HirdayGupta commented on #7808
@leeyimin @whipermr5 My apologies. I overlooked [this line](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/driver/HtmlHelper.java#L394) in HtmlHelper which sets the current time zone according to the time zone mentioned on the page. This led to my confusion regarding your proposed solution @leeyimin. My apologies once again.

Changing the `grace period session` par

[2017-07-21 21:12] HirdayGupta commented on #5578
This issue is because of the way `HtmlHelper`'s `replaceUnpredictableValuesWithPlaceholders()` deals with replacing the current datetime with a placeholder.

Essentially, [This line](https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/driver/HtmlHelper.java#L447) in `HtmlHelper` is responsible as it [takes the first part of the date from the current time](https://github

[2017-07-22 02:24] damithc opened #7812 "Student: submit feedback: use an alternative term to 'To:'"
Requested by a user:

![image](https://user-images.githubusercontent.com/1673303/28487624-316e5190-6ec7-11e7-93f4-8d3ec187ee1d.png)

Problem: The term `To:` indicates the feedback by received by the person in concern although in some cases (based on visibility setting) the feedback may not be sent to the person. Therefore, this term can be misleading.

Suggestion: Use `Evaluee` perhaps with a tool

[2017-07-22 03:41] HirdayGupta commented on #7719
Working on this

[2017-07-22 04:59] stanislous commented on #7812
Can I take this issue?

[2017-07-23 00:50] LimeTheCoder opened #7816 "Instructor: download results: fix 'indicate missing responses' option not being applied to all responses"
Preconditions: 'Indicate missing responses' checkbox unchecked and 'Download results' button pressed
Current behaviour:
Most responses without actual response weren't included in CSV file but some responses with 'No response' status still exist there. It seems that 'Indicate missing responses' value is not applied to all responses.

In the case when 'Indicate missing responses' check box unchecked

[2017-07-23 00:54] LimeTheCoder commented on #7816
Also, the value of 'Indicate missing responses' checkbox doesn't apply to sub questions of rubric questions.

![image](https://user-images.githubusercontent.com/8873908/28495585-84659654-6f5a-11e7-9877-ebfee33132ac.png)

[2017-07-23 00:55] LimeTheCoder commented on #7816
Working on futher investigation.

[2017-07-23 04:37] arjunsuri commented on #7812
Please tell me the location of this file.

[2017-07-23 06:00] damithc opened #7818 "Session closed email: rephrase info"
Might be applicable to other email alerts too.

Current:
![image](https://user-images.githubusercontent.com/1673303/28496958-ea4beaf2-6fac-11e7-9923-2647b3023b98.png)

Suggested:

[2017-07-23 06:22] damithc commented on #7812
Figuring out which file to modify is part of your expected work :-)

[2017-07-23 06:23] damithc commented on #7812
@stanislous sure

[2017-07-23 06:49] keerthikorivi opened #7819 "teammates.test.cases.browsertests.AllJsTests.executeJsTests test fails when i run gradlew build"
Hi All,

I am a new contributor currently working on my first task. AllJsTests always fails when I build the application even on the existing code base without any changes. Could some one let me know if they see this issue as well? Please let me know if I am missing something. I made sure I have the specified Firefox version and I have the auto update disabled.

Thanks,
Keerthi Korivi.

[2017-07-23 08:13] stanislous commented on #7812
@damithc, for all questions(1,2,3...) do I need to apply these changes?

[2017-07-23 08:56] arjunsuri commented on #7603
<%@ tag description="studentProfile - Edit profile div" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ tag import="teammates.common.util.Const" %>
<%@ attribute name="profile" type="teammates.ui.template.StudentProfileEditBox" required="true" %>
<%@ attribute name="sessionToken" required="true" %>
<c:set var="MALE" value="<%= Const.GenderTypes.MALE %>" />
<c:set var="FEMAL

[2017-07-23 08:57] damithc commented on #7812
@stanislous yes. it shoulb be applied to all question types e.g. essay, mcq, etc.

I'm not sure how much work this issue will take though. If it seems too complicated, feel free to ditch it and look for an easier issue.

[2017-07-23 10:56] AnaghHegde commented on #7818
@damithc I would like to work on this. Its going to be a good warm-up issue for me.

[2017-07-23 10:57] AnaghHegde commented on #7818
@damithc I would like to work on this. Its going to be a good warm-up issue for me

[2017-07-23 11:33] arjunsuri commented on #7485
Is it still open?

[2017-07-23 11:56] LimeTheCoder commented on #7603
teammates.ui.controller.StudentProfileEditSaveAction#extractProfileData
55 line

[2017-07-23 14:34] arjunsuri commented on #7060
@shreyag12 how did you reach at admin search page?I mean did you sign up as a professor, as there is no student sign up page.

[2017-07-23 14:41] adityavhegde commented on #7485
@arjunsuri I expect it to close sooner. There is an active pull request.

[2017-07-23 15:22] damithc commented on #7818
Sure @AnaghHegde

[2017-07-23 18:56] rajujha373 commented on #7716
I have submitted the pull request. don't know weather i have done right... any help will be appreciated :)

[2017-07-23 19:39] rajujha373 commented on #7603
i dont know weather have i done correctly,,, please help

[2017-07-23 23:00] LimeTheCoder opened #7823 "Instructor: download results: don't display header if no responses"
Currently, if no responses for a question in CSV file response header still appearing.

![image](https://user-images.githubusercontent.com/8873908/28503655-9b75d20a-7013-11e7-9180-a233142d59fb.png)

It's better instead of the header to display a message which will indicate that no responses for given question.

[2017-07-24 00:23] damithc commented on #7823
Um, I think this is fine? Reason: Headers provide some information about what _will_ appear in the file eventually, plus it's simpler (in the code) to keep it this way. What do you think?

[2017-07-24 00:40] LimeTheCoder commented on #7823
For me, that was a little bit confusing that header appears but no rows with information. But still I agree with your point of view that header, in that case, needs to exist too due provided reason.

[2017-07-24 00:41] #7823 closed

[2017-07-24 01:36] amarlearning commented on #7812
@stanislous are you working on this?

[2017-07-24 04:31] keerthikorivi commented on #7765
Hi @LiHaoTan

I am running into this issue [https://github.com/TEAMMATES/teammates/issues/7819](url). Could you please help me with this?

Thanks,
Keerthi Korivi.

[2017-07-24 04:55] #7716 closed

[2017-07-24 04:56] whipermr5 commented on #7819
Have you run `npm run build`?

[2017-07-24 05:02] whipermr5 commented on #7603
@rajujha373 You can submit a PR for us to take a look :)

[2017-07-24 05:44] stanislous commented on #7812
@amarlearning of course. You can work on it. :-)

[2017-07-24 06:03] whipermr5 commented on #5578
I feel if it's just one minute in `StudentFeedbackSubmitPageUiTest`, then this isn't much of an issue (there's only a one-minute window out of 24 hours in which the test would fail). The original issue was bigger as it had a twenty-minute window. @damithc should I close this issue?

[2017-07-24 06:12] damithc commented on #5578
Yes. let's close if that's the case.

[2017-07-24 06:12] #5578 closed

[2017-07-24 07:29] stanislous commented on #7818
@AnaghHegde, are you working on this?

[2017-07-24 07:35] AnaghHegde commented on #7818
@stanislous Yes i am.

[2017-07-24 07:59] shivam3746 opened #7828 "How to get started?"

[2017-07-24 10:09] #7780 closed

[2017-07-24 11:19] #7808 closed

[2017-07-24 13:51] #7790 closed

[2017-07-24 16:22] keerthikorivi commented on #7819
@whipermr5 Yes i did.

[2017-07-24 16:50] #1872 closed

[2017-07-24 19:03] whipermr5 opened #7829 "Admin*LogPageActionTest: improve stability"
These two tests always fail during the first test try, and sometimes fail all the way through all the test tries. The issue is caused by TestNG running the `many*Logs` test groups in a separate thread from the `typical*Logs` test groups. This results in an error as the `LocalUserService` used in `GaeSimulation` is not thread safe and throws an error when it is called from different threads.

The r

[2017-07-24 21:46] HirdayGupta commented on #7819
@keerthikorivi Could you tell us the exact command you used that got you to the error? And if it is an AllJsTests error we are dealing with, then the browser window that opens with the results of the Unit tests should show some portions in red. If you could post screenshots of those red portions, it would  help us work out the exact issue.

[2017-07-24 21:50] HirdayGupta commented on #7765
@keerthikorivi Since I do not see your introduction issue in the tracker, I would recommend that you read our [New Contributor Orientation Guide](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md) first. (Specifically the [Orientation Task List](https://github.com/TEAMMATES/teammates/blob/master/docs/orientation-guide.md#orientation-task-list) section). Once you have com

[2017-07-25 00:34] keerthikorivi commented on #7819
@HirdayGupta sure.

I run gradlew test -Dtest.single=AllJsTests

![image](https://user-images.githubusercontent.com/17730078/28550505-ebf12fc0-70a6-11e7-92ea-5b859ed1caad.png)

Below are the browser results

![image](https://user-images.githubusercontent.com/17730078/28550527-14d2bb66-70a7-11e7-9eae-45bb9c3416e9.png)

[2017-07-25 07:27] #4129 closed

[2017-07-25 11:37] Zhiyuan-Amos opened #7833 "GateKeeper: Update methods to follow happy path"
Methods in `GateKeeper`: `verifyLoggedInUserPrivileges()`, `verifyAdminPrivileges(AccountAttributes)`, `verifyInstructorPrivileges(AccountAttributes)` do not follow the happy path. For example:

[code]

The happy path happens when the exception isn’t thrown. As such, the code should look like this:

[code]

Let’s update these methods accordingly.

[2017-07-25 11:38] Zhiyuan-Amos opened #7834 "GateKeeper: Assertions used wrongly"
Methods in `GateKeeper`: `isInstructor()` and `isStudent()` both call `Assumption.assertNotNull(Object)` to verify that `userService.getCurrentUser()` do not return a null value. 

This is not the right use of assertions. Assertions are only used to verify preconditions and postconditions of calling a method.

Let’s remove the assertions in `isInstructor()` and `isStudent()`, and teach `AccountsLo

[2017-07-25 11:39] Zhiyuan-Amos opened #7835 "GateKeeper: Shorten verifyAccessibleForCurrentUserAsInstructorOrTeamMember(…)"
Without comments or any sort of abstraction, it makes it hard for readers to understand the code.

Let’s apply Single Level of Abstraction Principle (SLAP) on it to allow the code to be understood easily.

Resulting code can look something like this:

[code]

[2017-07-25 11:41] Zhiyuan-Amos opened #7836 "StudentProfileAttributes: make constructor private"
The empty constructor of `StudentProfileAttributes` is package-private.

When other classes try to initialise `StudentProfileAttributes` using this constructor, they have to use a workaround method by calling `.builder().build()`. There are multiple instances of this workaround being called in the codebase.

Let’s make the empty constructor of `StudentProfileAttributes` `public` so that callers do

[2017-07-25 11:42] Zhiyuan-Amos opened #7837 "StringHelper: Remove join(String, String…)"
This method can be replaced by String#join(CharSequence, CharSequence...).

[2017-07-25 11:42] Zhiyuan-Amos opened #7838 "StringHelper: Use functional programming to improve code readability"
Many methods in StringHelper use loops. They can be simplified to use Java 8 Streams instead.

[2017-07-25 11:43] Zhiyuan-Amos opened #7839 "StudentsLogic: Simplify createStudents(String, String)"
The code is too hard to understand.

[code]
This code should be called immediately after the for-loop instead of the try-block.

We can also look to remove the variable `studentEmailList` and simplify this chunk of code to use `studentList` instead:
[code]

We can also try to apply Single Level of Abstraction Principle (SLAP) on this method as it is too long.

[2017-07-25 11:46] Zhiyuan-Amos opened #7840 "GateKeeper: Remove verifyNotNull(…)"
`verifyNotNull(Object, String)` is a precondition check which checks whether the `Object` parameter is null. If it is null, an `UnauthorizedAccessException` with the error message `"Trying to access system using a non-existent entity"` will be thrown.

This doesn’t seem right as the check simply checks whether the variable is null or not; there is no connotation of unauthorised access.

Let’s chan

[2017-07-25 11:50] wkurniawan07 commented on #7838
Before proceeding any further, do realize that we're still in Java 7.

[2017-07-25 11:54] wkurniawan07 commented on #7833
I think @damithc will have something to say here, particularly about "using guard clause to reduce the nesting depth".

From myself: for this particular case, it does make sense to do the said refactoring. However, "following the happy path" is not and cannot be a hard rule to follow. Otherwise you can easily end up with an arrowhead anti-pattern.

[2017-07-25 11:56] Zhiyuan-Amos commented on #7838
Yup, however I saw that there's a branch titled "upgrade to jdk8". I suppose the upgrade will be done sometime soon?

[2017-07-25 12:00] wkurniawan07 commented on #7838
- The branch you saw was upgrading to JDK 8 with 1.7 compliance. It would be good if you did a check first; we have the issue #7609 for that.
- [Java 8 support in GAE is still beta](https://cloud.google.com/appengine/docs/standard/java/runtime-java8) and there is no telling when it will become GA. Upgrading to Java 8 won't be done until at least 2-3 weeks after, so do not get too hyped up yet.

[2017-07-25 12:00] Zhiyuan-Amos commented on #7833
This follows the guard clause right? Previously when I coded in Swift, I think the code looks something like:

[code]

Ah I see, noted thanks!

[2017-07-25 12:01] Zhiyuan-Amos commented on #7838
Ah I see, apologies for that!

[2017-07-25 12:02] wkurniawan07 commented on #7839
While I have to agree, it will be good if you can qualify/quantify what you meant by "too hard to understand". Is it because of nesting depth? Cyclomatic complexity? Lack of comments? Not testable? Unchecked copy-and-pastes? And what can be done in its place to make it more understandable, with reference to the said metrics?

A generic "too hard to understand" may well be because someone is not we

[2017-07-25 12:05] Zhiyuan-Amos commented on #7839
Ok! Will put additional comments when I'm free. Sorry about that; I wanted to fix it thus I thought I could just raise this issue in a simple manner.

[2017-07-25 12:07] wkurniawan07 commented on #7838
This is a legitimate issue, it needs not be closed. However, it calls for an appropriate label for now.

[2017-07-25 12:11] wkurniawan07 commented on #7836
Just leaving a note here that exposing constructor goes against the idea of builder pattern itself.

[2017-07-25 12:14] Zhiyuan-Amos commented on #7836
Ah I see. That way, should we make it private then, since only the `Builder` calls the constructor? Then we can leave a comment inside the constructor that making this constructor public violates the builder pattern.

Alternatively, I think a better idea would be to remove the empty constructor from `StudentProfileAttributes`, and to let the initialization be done inside `Builder` instead.

[2017-07-25 12:28] Zhiyuan-Amos commented on #7839
Done!

[2017-07-25 12:51] stanislous opened #7841 "Instructor: view course: change Delete button color to red"
Changing the colour of the delete button in Instructor: edit course page. And it would be attractive and readable.

![screenshot 810](https://user-images.githubusercontent.com/20964806/28839948-ee0668e4-7712-11e7-98dc-d692d085f938.png)

[2017-07-25 14:08] damithc commented on #7833
Perhaps the name 'happy path' is a bit misleading. Sometimes the main job of a method is an unhappy one. A more accurate way to put it is 'keep the main path unindented'. In this particular case, not withstanding the name of the method, the main job of the method is to 'throw an exception if the user is not logged in' (rather than 'do nothing if the user is logged in'). Therefore, we can argue tha

[2017-07-25 14:26] damithc commented on #7841
We can give it a try and see if it looks better. We don't want to make it too eye-catching either, given that it is not the main action in this form. On a related note, I notice taht the button at the bottom is struck to the drop-down just above it :-p

[2017-07-25 16:30] #7699 closed

[2017-07-25 16:57] #7719 closed

[2017-07-25 17:27] #7794 closed

[2017-07-25 21:43] Praisey opened #7846 "Setting up a teammates environment"
- Ubuntu 16.04
- java version "1.7.0_131"
- Chrome

I need help with https://github.com/TEAMMATES/teammates/blob/master/docs/setting-up.md
Step 3)
I have tried numerous times to setup the teammates environment however encountered problem reoccuring time after time, even after fresh installations of ubuntu and all the required software.
When I am running any of the ./gradlew commands im getting thi

[2017-07-25 23:32] Zhiyuan-Amos commented on #7833
Ah yes. I'm thinking from the perspective of the callers, since the success case of these callers happen when the Exception isnt thrown.

[2017-07-26 00:31] damithc opened #7847 "Sample course: first session: use consistent phrasing"
Questions in the sample sessions are phrased inconsistently, using both 'you' and 'my' to refer to the respondent

Current:
![image](https://user-images.githubusercontent.com/1673303/28599344-6b08d408-71dc-11e7-9513-423e94a3aae9.png)

Suggestion:
Rephrase the first question as `My estimate of how much each team member contributed`

Even better if we can rephrase all questions to use `You` because

[2017-07-26 01:22] amarlearning commented on #7847
Taking this one

[2017-07-26 03:04] whipermr5 commented on #7846
https://github.com/TEAMMATES/teammates/issues/7761#issuecomment-315248114

[2017-07-26 03:21] #3694 closed

[2017-07-26 04:01] #7708 closed

[2017-07-26 06:52] #7778 closed

[2017-07-26 08:17] thenaesh opened #7848 "Clean up the AJAX calls for adminHome.es6"
Perform the fix described in #7528, for adminHome.es6.

[2017-07-26 08:23] #7685 closed

[2017-07-26 09:04] #7848 closed

[2017-07-26 09:17] Praisey commented on #7761
@whipermr5
Will there be any problems if I will use java 8? Oracle java 7 doesn't want to install with this error popping up.
`Oracle JDK 7 is NOT installed.
dpkg: error processing package oracle-java7-installer (--configure):
 subprocess installed post-installation script returned error exit status 1
Errors were encountered while processing:
 oracle-java7-installer
E: Sub-process /usr/bin/dpkg re

[2017-07-26 09:23] whipermr5 commented on #7761
Yes, there will be problems. Only our `teammatesv6` branch works on Java 8. We'll only be merging it with master after the Google App Engine Java 8 runtime passes the beta stage and reaches GA. See https://github.com/TEAMMATES/teammates/issues/7838#issuecomment-317715843.

[2017-07-26 09:23] whipermr5 commented on #7846
Closing this since we're continuing our discussion in #7761.

[2017-07-26 09:23] #7846 closed

[2017-07-26 09:50] #7060 closed

[2017-07-26 10:15] Praisey commented on #7761
For future reference.
Got the problem fixed with this workaround
https://askubuntu.com/a/930193
As it turns out You have to swap out java tar gz file with an archive one after logging in to oracle.