[2016-02-04 02:15] #681 closed

[2016-02-04 02:17] damithc commented on #229
Even the custom error pages have fixed content. We should be able to add a more specific message. For example, for 'entity not found' some hint about which entity was not found.

[2016-02-04 02:18] damithc commented on #661
Yes. closing.

[2016-02-04 02:18] #661 closed

[2016-02-04 02:23] damithc commented on #2946
I wasn't looking out for it in the recent times. But we did notice some users sending multiples of requests rapidly (when we were investigating another issue). I'll report if I encounter this again. Meantime, we'll keep it open.

[2016-02-04 02:25] damithc opened #4719 "admin activity log: instructor home page ajax requests are shown as null"
![image](https://cloud.githubusercontent.com/assets/1673303/12803948/907b5a04-cb29-11e5-852b-fab4500d6c71.png)

[2016-02-04 02:44] wkurniawan07 commented on #625
Yes we have. I've actually investigated this some time back and got these findings:

1. Is Google Analytics code slowing down dev server testing? Doesn't look like it, and should be marginal if it is. However if the internet connection dies while some script is loading (e.g scripts from CDN, which includes Google Analytics code), the page (and thus the test) will freeze.
2. Is dev server testing s

[2016-02-04 03:29] unyoungwax commented on #4705
One way to reproduce this bug is as follows:
1. Open the "Edit Feedback Session" page for the same session in 2 browser tabs.
2. Delete a question in one tab.
3. Edit the same question in another tab and save changes.

Currently, errorPage.jsp will be displayed if the bug occurs. Should we
1. Display entityNotFoundPage.jsp OR
2. Display a status message stating that "the edited question no longer

[2016-02-04 04:29] jkt001 commented on #4715
Ok I shall try to do this. Should I do #4716 as well since it is similar?

[2016-02-04 04:49] kennho opened #4720 "Wait until element appear / disappear as opposed to a fixed delay in InstructorFeedbackResultsPage"
Change the tests which toggle the visibility of elements to wait until the element appears / disappears as opposed to waiting for a fixed delay for the method verifyAllResultsPanelBodyVisibility in InstructorFeedbackResultsPage.

[2016-02-04 04:59] LowWeiLin commented on #4715
Sure

[2016-02-04 05:50] unyoungwax commented on #4705
In `InstructorFeedbackQuestionEditAction.java` around line 84, it seems that the condition of the if-statement is always true even if the question number is not edited, leading to `FeedbackQuestionLogic.updateFeedbackQuestionNumber` that causes the bug. The bug occurs before the check (whether the edited question exists) is performed in `FeedbackQuestionLogic.updateFeedbackQuestion`. In the method

[2016-02-04 08:09] ashrayjain commented on #2098
@thyageshm yes, this is outdated. The problem near "Sort By" still exists but it will be fixed as part of my issue. Closing this issue.

[2016-02-04 08:09] #2098 closed

[2016-02-04 09:23] damithc commented on #625
Not so important at the moment. Let's close it.

[2016-02-04 09:23] #625 closed

[2016-02-05 03:33] kanghj commented on #4705
@unyoungwax, can you make a new issue for that incorrect if-statement? Fixing that won't fix this issue, right?

Another possible cause of this NPE is eventual consistency, such as if the instructor modifies a question right after creating it.

[2016-02-05 04:29] unyoungwax opened #4723 "InstructorFeedbackQuestionEditAction: Condition of if-statement is always true"
In `InstructorFeedbackQuestionEditAction.java` around line 84, it seems that the condition of the if-statement is always true even if the question number is not edited.

[2016-02-05 05:18] damithc commented on #4723
Does it affects the functionality? How bad is it?

[2016-02-05 05:21] damithc opened #4724 "InstructorCoursesPageUiTest failing on live server"
org.junit.ComparisonFailure: expected:<[Failed]> but was:<[]>
	at org.junit.Assert.assertEquals(Assert.java:115)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at teammates.test.driver.AssertHelper.assertContains(AssertHelper.java:60)
	at teammates.test.pageobjects.InstructorCoursesPage.waitForAjaxLoadCourseStatsError(InstructorCoursesPage.java:187)
	at teammates.test.cases.ui.browsertests.In

[2016-02-05 05:37] damithc opened #4725 "InstructorFeedbackEditPageUiTest failing on live server"
java.lang.AssertionError: Expected recipient's team members to be able to see response, but was This is the visibility as seen by the feedback giver.
The receiving student can see your response, and your name.
Instructors in this course can see your response, the name of the recipient, and your name.
	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.assertTrue(AssertJ

[2016-02-05 05:59] unyoungwax commented on #4723
Question numbers are adjusted even if it results in no change in the question numbers. Besides that, the response rate is not updated accordingly if the feedback path is changed.

[2016-02-05 06:02] damithc commented on #4723
@kanghj, this breaks the functionality? How soon we should fix this?

[2016-02-05 11:57] kanghj commented on #4723
Editing questions still work, even though it causes unnecessary database reads (<code>adjustQuestionNumbers</code> does not update anything if the question number didn't actually change). The missing response rate check should be yet another separate issue then. This 2 errors might have been here for a very long time (even before introducing jstl) already, but since its effects are minimal (only a

[2016-02-05 12:43] wkurniawan07 commented on #4724
Duplicate of #4711.

[2016-02-05 12:43] #4724 closed

[2016-02-06 04:13] kanghj commented on #4418
@damithc, Have there been anymore of this assertion?

[2016-02-06 05:52] damithc commented on #4418
Not in recent times. closing.

[2016-02-06 05:53] #4418 closed

[2016-02-06 11:37] damithc commented on #2487
@wkurniawan07 what happened to this one?

[2016-02-06 11:38] damithc commented on #1777
Too old. closing.

[2016-02-06 11:38] #1777 closed

[2016-02-06 11:39] damithc commented on #1597
Too old. closing.

[2016-02-06 11:39] #1597 closed

[2016-02-06 11:53] damithc commented on #2344
Outdated. closing.

[2016-02-06 11:53] #2344 closed

[2016-02-06 12:02] damithc commented on #581
Not important. closing.

[2016-02-06 12:02] #581 closed

[2016-02-06 12:03] damithc commented on #84
@ashrayjain assigning to you, as discussed.

[2016-02-06 13:45] wkurniawan07 commented on #2487
Oops forgot about this one. Anyway like I mentioned this is as easy as removing the entire `id="..."` part and fixing the test case. Any one of the current contributors is more than capable of fixing this.

[2016-02-06 14:03] damithc commented on #381
Outdated. closing.

[2016-02-06 14:03] #381 closed

[2016-02-06 14:05] damithc commented on #564
We've added profile pictures since then. closing.

[2016-02-06 14:05] #564 closed

[2016-02-06 14:05] damithc commented on #678
Outdated. closing.

[2016-02-06 14:05] #678 closed

[2016-02-06 14:06] damithc commented on #845
Outdated. closing.

[2016-02-06 14:06] #845 closed

[2016-02-06 14:06] damithc commented on #874
Outdated. closing.

[2016-02-06 14:06] #874 closed

[2016-02-06 14:06] damithc commented on #932
Outdated. closing.

[2016-02-06 14:06] #932 closed

[2016-02-06 14:07] damithc commented on #969
Outdated. closing.

[2016-02-06 14:07] #969 closed

[2016-02-06 14:09] damithc commented on #1000
This aspect is being addressed elsewhere. closing.

[2016-02-06 14:09] #1000 closed

[2016-02-06 14:10] damithc commented on #1158
Outdated. closing.

[2016-02-06 14:10] #1158 closed

[2016-02-06 14:10] damithc commented on #1178
Outdated. closing.

[2016-02-06 14:10] #1178 closed

[2016-02-06 14:16] damithc commented on #1258
outdated. closing.

[2016-02-06 14:16] #1258 closed

[2016-02-06 14:17] damithc commented on #1262
outdated. closing.

[2016-02-06 14:17] #1262 closed

[2016-02-06 14:18] damithc commented on #1290
outdated. closing.

[2016-02-06 14:18] #1290 closed

[2016-02-06 14:21] damithc commented on #1304
Outdated. closing.

[2016-02-06 14:21] #1304 closed

[2016-02-06 14:22] damithc commented on #1371
Outdated. closing.

[2016-02-06 14:22] #1371 closed

[2016-02-06 14:25] damithc commented on #1718
outdated. closing.

[2016-02-06 14:25] #1718 closed

[2016-02-06 14:28] damithc commented on #2939
This can be done on a 'as needed' basis. closing for now.

[2016-02-06 14:28] #2939 closed

[2016-02-06 14:30] #2962 closed

[2016-02-06 14:31] damithc commented on #1281
outdated. closing.

[2016-02-06 14:31] #1281 closed

[2016-02-06 14:33] damithc commented on #1245
Outdated. closing.

[2016-02-06 14:33] #1245 closed

[2016-02-06 14:42] damithc commented on #3321
UI tests are much more robust now. closing.

[2016-02-06 14:42] #3321 closed

[2016-02-06 14:44] damithc commented on #3546
Outdated. closing.

[2016-02-06 14:44] #3546 closed

[2016-02-06 14:57] damithc commented on #3554
@LowWeiLin any comments?

[2016-02-06 15:01] damithc commented on #3650
closing. can open more specific issues if needed.

[2016-02-06 15:01] #3650 closed

[2016-02-06 15:09] damithc commented on #3813
Outdated. Can reopen if it happens again. closing.

[2016-02-06 15:09] #3813 closed

[2016-02-06 15:25] damithc commented on #3400
In this case, the most likely next action is for the instructor to modify the copied session, right? So it should go to edit page?

[2016-02-06 15:27] damithc commented on #3870
For a first timer to be able to do this, the task should be clearly specified. What's the suggested new name?

[2016-02-06 15:28] LowWeiLin commented on #3554
Which part is more complicated? Simplifying the tests but maintaining coverage is welcome.

The reason the rubric tests was separated into a test by itself was due to the UI tests taking way too long to complete. Separating it out allows us to run them in parallel, and not stop and have to run everything again if there is a failure.

[2016-02-06 15:30] damithc commented on #3404
I think we should provide a proper 'rename team' feature. Otherwise it is hard to detect when a team is being renamed.

[2016-02-06 15:33] damithc commented on #4646
@LowWeiLin Should they be deleted (see my comment above)? If not, close this issue.

[2016-02-06 15:35] damithc commented on #649
Issue too general. We can do this when improving specific pages.

[2016-02-06 15:35] #649 closed

[2016-02-06 15:36] damithc commented on #4224
Closing. @bamboo3250 reopen if necessary.

[2016-02-06 15:36] #4224 closed

[2016-02-06 15:37] LowWeiLin commented on #4646
The entities are not deleted before the test either. Will rename the issue.

[2016-02-06 15:45] wkurniawan07 commented on #3554
If you compare it to other `Feedback*QuestionUiTest`, it's quite obvious this one stands out in terms of complexity and length. Oh, and the recent newcomer `FeedbackRankQuestionUiTest` too, so I'll rename the issue.
The issue is not about why rubric tests is tested by itself. It's about why there is a need to test anything more than adding/editing/customizing/deleting/validating new question frame

[2016-02-06 16:00] wkurniawan07 commented on #3908
The improved `HtmlHelper` ignores HTML comments always, so this is outdated.

[2016-02-06 16:00] #3908 closed

[2016-02-06 16:01] LowWeiLin commented on #3554
There is a need to test how the question type is displayed on the different pages, such as submission form, results, statistics. (both student and instructor side)
Yes, it could be done for all question types in one location by using one data bundle (if that is what you mean?), but typical data bundle is already too messy/large, and there is no test currently that is meant to do just that.

[2016-02-06 16:05] wkurniawan07 commented on #3554
Yes I understand the need for testing them, however can't they be done on `(Instructor/Student)Feedback(Submit/Results)PageUiTest`? Those tests are not using typical data bundle (in fact, _no_ UI tests are using typical data bundle), they have their own data bundles which can be added with all the stuffs we need.

[2016-02-06 16:26] wkurniawan07 commented on #2128
This should not be relevant anymore. With God mode we are sure that the placeholders stay as placeholders.

[2016-02-06 16:26] #2128 closed

[2016-02-07 01:24] damithc opened #4727 "Allow questions to be marked as 'compulsory'"
The submission should be blocked until all compulsory questions have been answered.

[2016-02-07 03:30] damithc commented on #3312
Closing, as this can be fixed with the related issue.

[2016-02-07 03:30] #3312 closed

[2016-02-07 03:32] damithc commented on #4440
Closing due to inactivity.

[2016-02-07 03:32] #4440 closed

[2016-02-07 03:38] damithc commented on #2707
Old issue. closing.

[2016-02-07 03:38] #2707 closed

[2016-02-07 03:39] damithc commented on #2681
Old issue. closing.

[2016-02-07 03:39] #2681 closed

[2016-02-07 03:47] damithc commented on #1686
Old issue. closing.

[2016-02-07 03:47] #1686 closed

[2016-02-07 04:36] damithc commented on #3554
Now that we have examples of both approaches, we can decide which way is better. We may add more question types in future and existing questions types will be made more customizable. So trying to test all question types for a particular action can result in increasingly big json/html files. That's why we wanted to try slicing tests by question types rather than action. When we have everything rela

[2016-02-07 05:56] wkurniawan07 commented on #3554
I'll add some historical context to this issue. In particular, on why `Feedback*QuestionUiTest`s appear.

It started out that `InstructorFeedbackEditPageUiTest` tests adding/deleting/customizing/validating for ALL question types in one go (along with all other tests in that page), and that resulted in a very long test (~4 mins in dev server). It was worsened by the fact that at that time this test

[2016-02-07 06:15] damithc commented on #3554
Well, i'm fine with whichever approach that gives us simpler code, can run tests in parallel, and faster (my priority is in that order). I'm not familiar with the code so not sure which approach fits that bill.

[2016-02-07 08:35] damithc opened #4728 "InstructorCourseJoinAuthenticatedActionr: No institute found for the course"
No institute found for the course

Actual user abc
Request Method GET
User Agent Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/601.2.7 (KHTML, like Gecko) Version/9.0.1 Safari/537.86.2
Request Url https://teammatesv4.appspot.com/page/instructorCourseJoinAuthenticated
Request Path /page
Request Parameters {key::abc3CF7B189E1C603F59BD79FC7FC9D076B6C55940983641A3B18FA8825D6D34FF1A8B755D3

[2016-02-07 09:17] damithc commented on #4271
@wkurniawan07 was this a problem for you while you were overseas?

[2016-02-07 09:20] damithc commented on #4017
Didn't encounter this for a while. Closing.

[2016-02-07 09:20] #4017 closed

[2016-02-07 09:20] damithc commented on #4016
Issue too general. closing.

[2016-02-07 09:20] #4016 closed

[2016-02-07 09:35] damithc commented on #3296
Probably due to admin search which was done in a loop. The loop has been removed since then.

[2016-02-07 09:35] #3296 closed

[2016-02-07 09:37] #2998 closed

[2016-02-07 09:41] #2348 closed

[2016-02-07 09:43] damithc commented on #2238
@ashrayjain any comments about this?

[2016-02-07 09:44] damithc commented on #1964
Old issue. closing.

[2016-02-07 09:44] #1964 closed

[2016-02-07 09:47] damithc commented on #1250
Too old. closing.

[2016-02-07 09:47] #1250 closed

[2016-02-07 09:49] #1176 closed

[2016-02-07 09:51] #1125 closed

[2016-02-07 09:51] damithc commented on #1123
Old issue. closing.

[2016-02-07 09:51] #1123 closed

[2016-02-07 09:52] damithc commented on #1112
Old issue. closing.

[2016-02-07 09:52] #1112 closed

[2016-02-07 09:53] damithc commented on #1093
Old issue. closing.

[2016-02-07 09:53] #1093 closed

[2016-02-07 09:55] #736 closed

[2016-02-07 09:55] #735 closed

[2016-02-07 09:55] #687 closed

[2016-02-07 09:58] damithc commented on #544
Old issue. closing.

[2016-02-07 10:12] ashrayjain commented on #2238
@damithc This was fixed as part of the previous issue.

[2016-02-07 10:12] wkurniawan07 commented on #4271
Strangely, no. Perhaps because I lived on the GMT line :p
Anyway, I just took a quick check on this issue, and made an alarming discovery: the submission counter algorithm is flawed all along. In fact, the numbers shown on the picture above are the correct ones for the first 2 cases, and for the third case neither is correct.
@junhaoyap I'll be taking over this issue, will finish it in no time. Yo

[2016-02-07 10:18] #2238 closed

[2016-02-08 15:17] damithc commented on #2682
@Femina Sorry, we completely missed your comment. Are you a TEAMMATES user?

[2016-02-08 15:23] damithc commented on #2061
Old issue. closing.

[2016-02-08 15:23] #2061 closed

[2016-02-08 16:01] ashrayjain opened #4729 "Make session results responsive"
Fix results page for both students and instructors.

[2016-02-08 16:01] ashrayjain opened #4730 "Make instructors home page and session add / edit page responsive"

[2016-02-08 16:07] Femina commented on #2682
@damithc NO. I am not. But I love ... I am a general GAE user who is experiencing an unexpected datastore failures often. If you have any idea help me on it.

[2016-02-09 01:23] damithc commented on #2682
@Femina no solution at the moment Femina. We don't encounter it that frequently.

[2016-02-09 04:16] thyageshm opened #4733 "fix typos in process.md"

[2016-02-09 06:50] #4504 closed

[2016-02-09 09:44] #4733 closed

[2016-02-09 10:09] damithc opened #4739 "InstructorStudentListAjaxPageAction: UnknownFormatConversionException Conversion = 'm'"
Error Message: teammates.ui.controller.ControllerServlet doPost: TEAMMATESLOG|||page|||System Error Report|||true|||Unknown|||Unknown|||abc%manchester.ac.uk@gtempaccount.com|||Unknown|||TEAMMATES (5.65): New System Exception: Conversion = 'm'
Show/Hide Details >>
Error Message

Conversion = 'm'

Actual user abc%manchester.ac.uk@gtempaccount.com
Request Method POST
User Agent Mozilla/5.0 (Windows N

[2016-02-09 10:12] thyageshm commented on #4714
@damithc should we consider changing the `s.toMerge` to `s.mergeRequested`?

[2016-02-09 10:37] damithc commented on #4714
Strictly speaking, it is `s.approvalRequestedToMerge` and because that's too long, we'll keep it as `s.toMerge` :-)

[2016-02-09 12:06] damithc commented on #4739
@thyageshm can you look into this? Seems to be coming from a line related to Profile pic. One instructor cannot see the student list because of this.

[2016-02-09 12:15] damithc commented on #4739
This particular instructor has a Google ID like this `abc.mcgeown%manchester.ac.uk@gtempaccount.com`
Perhaps `%m` is causing this problem.

[2016-02-09 12:41] thyageshm commented on #4739
Yup, it is because we have started using string formatter to generate the photourl and the `%m` in the name is being wrongly recognized as a placeholder in the `String.format` function.

[2016-02-09 12:43] damithc commented on #4739
Use a safer way to create the string? If we can include the patch in this release, we don't have to do a hot fix later.

[2016-02-09 12:50] thyageshm commented on #4739
I believe it is a remnant of #3781. I think we did not expect the instructor id to contain a '%' sign.
I think we can double up the % sign in the string to fix this.

eg: abc.mcgeown%manchester.ac.uk@gtempaccount.com to abc.mcgeown%**%**manchester.ac.uk@gtempaccount.com

[2016-02-09 12:51] thyageshm commented on #4739
I believe this has been the case even before #3781

[2016-02-09 12:51] thyageshm commented on #4739
I will send in a fix soon

[2016-02-09 12:56] damithc commented on #4739
I don't think this % is added by us. It is in the original Google ID. We shouldn't use string formatter unless we have a guarantee about the rest of the string.

[2016-02-09 13:06] thyageshm commented on #4739
Yes, we shouldn't have used it. The problem arose when we added userIds to the urls and overlooked this problem.
The format currently being used is:
[code]

The only part of the string that is out of our control is the account.googleId. If we escape that string, we can safely use the formatter

[2016-02-09 13:10] thyageshm commented on #4739
A safer way would be to append the userid parameter AFTER the `String.format` call

[2016-02-09 13:11] thyageshm commented on #4739
@damithc what do you think?

[2016-02-09 13:15] thyageshm commented on #4739
A similar thing is done in line 66 of InstructorCourseDetailsPageData.java

[2016-02-09 13:19] damithc commented on #4739
Yes, can do that. Remember to add a comment to say why it is done that way.

[2016-02-09 13:47] wkurniawan07 commented on #4739
I was just about to comment, the PR appears already...
I'd simply do `Config.getAppUrl(...).with*(..., ...)` to resolve this. Won't it work?

[2016-02-09 14:00] thyageshm commented on #4739
Could you explain a little further? like where to use it...

[2016-02-09 14:10] wkurniawan07 commented on #4739
Get rid of the entire `photoUrl` template (the one with `%s` and stuff) and use:
[code]

[2016-02-09 14:38] damithc opened #4742 "Document new label group m"
Also add more documentation to other labels

[2016-02-09 14:42] thyageshm commented on #4714
ok!

[2016-02-09 15:01] damithc opened #4744 "Convert contributor orientation guide to markdown"
The current one is here https://docs.google.com/document/d/1cY9pmEmw4dC6Z4LjN1WUTsynJ0jVPgbWsFhdyBy_wCU/pub?embedded=true

[2016-02-10 04:40] bamboo3250 opened #4745 "Move trimCourseIdToMaximumLengthIfNecessary() in AdminInstructorAccountAddAction to StringHelper class"
Move the function into StringHelper class and rename it to `truncateHead`.

[2016-02-10 06:42] ashrayjain commented on #4417
Could consider looking at this library https://github.com/zafarkhaja/jsemver

[2016-02-10 06:55] #4739 closed

[2016-02-10 07:04] Sumei1009 opened #4746 "Allow user to assign value to rubric choices"
Refer to [issue #4603](https://github.com/TEAMMATES/repo/issues/4603)
Can someone help to figure out a better way for user to assign value to rubric choices?

[2016-02-10 07:36] #4641 closed

[2016-02-10 10:15] #4742 closed

[2016-02-10 10:47] kanghj opened #4747 "Process.md: fill in area leads for aspect, feature and tech."
In the table in process.md, not every row in the tables for aspect, feature and tech has an area lead. All of them should be filled.

For filling in the rows without a lead, let's indicate our preferences here: @yj-soh, @JosephineKwa, @junhaoyap, @taniach, @wkurniawan07, @bamboo3250 , @LowWeiLin, @thyageshm, @kanghj.

If either of @yj-soh, @thyageshm, @LowWeiLin, @kanghj is the lead in any aspect/

[2016-02-10 10:53] kanghj opened #4748 "Document the use of google cloud storage for profiles"
For the staging server, the use of student profile pictures require setting up google cloud storage that is not documented in the setting up guide.

[2016-02-10 10:58] JosephineKwa commented on #4747
My preferences are as follows:
**Aspect**
`a-FaultTolerance`

**Tech**
`t-CSS`

[2016-02-10 11:03] damithc commented on #4748
@thyageshm I remember this is documented somewhere. It should be included in the set up guide.

[2016-02-10 11:06] #4684 closed

[2016-02-10 11:06] #4271 closed

[2016-02-10 11:06] #4557 closed

[2016-02-10 11:06] #4703 closed

[2016-02-10 11:37] JosephineKwa commented on #3777
Closing as issue has been fixed

[2016-02-10 11:37] #3777 closed

[2016-02-10 11:38] kanghj commented on #1762
Duplicate of #3777

[2016-02-10 11:38] #1762 closed

[2016-02-10 12:01] taniach commented on #4747
I prefer `t-JSTL` for **Tech**.

[2016-02-10 13:24] #4714 closed

[2016-02-10 15:45] kanghj opened #4750 "Update contributor list in about.html"
... to keep it up to date

[2016-02-11 01:23] damithc opened #4753 "Update client API to OAuth"
The current scripts will stop working soon
https://cloud.google.com/appengine/docs/deprecations/clientlogin

[2016-02-11 04:54] mukesh14149 commented on #4727
I would like to work on this.

[2016-02-11 05:50] thyageshm commented on #4727
Hi @mukesh14149, I believe this would be your first issue. Please fix an issue marked with the label `d.FirstTimers` before trying any other issue. When fixing issues and creating PRs, please follow the workflow specified [here](/TEAMMATES/repo/blob/master/devdocs/process.md).

[2016-02-11 08:19] bamboo3250 commented on #4747
I prefer `a-Performance` and `t-JS`

[2016-02-11 08:57] damithc opened #4755 "InstructorFeedbackEditPageUiTest failing on dev server"
Keeps failing on dev server.

org.openqa.selenium.ElementNotVisibleException: Element is not currently visible and so may not be interacted with
Command duration or timeout: 10 milliseconds
Build info: version: '2.46.0', revision: '87c69e2', time: '2015-06-04 16:16:47'
System info: host: 'damithch-d9010', ip: '172.26.184.212', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version

[2016-02-11 09:23] yj-soh commented on #4747
I personally don't know anything about `t-GAE`, so I would prefer `t-JS` or `t-JSTL`.

[2016-02-11 09:39] damithc commented on #4711
I keep getting this on the live server. Tried 4 times with the same result.

[2016-02-11 10:21] damithc commented on #4755
It passed on the liver server though :-p

[2016-02-11 10:32] thyageshm commented on #4748
Yes, the setting up of GCS is provided in the [technical report made for profiles](https://docs.google.com/document/d/1TGVkdu6JlOFX_2dJoeZu1avkiKj8ZqFcpBREJhKK78c/pub?embedded=true). The link is also available in README.md under technical reports (the last one)

[2016-02-11 10:35] damithc commented on #4748
I think we need to move the relevant part to the main dev docs, as it is (an optional) part of the setting up process.

[2016-02-11 15:04] damithc opened #4756 "Document the label group e"
e.1, e.2, e.4, etc.

[2016-02-12 00:47] damithc commented on #4728
Got more of these

[2016-02-12 02:39] damithc opened #4759 "Admin severe log alert: No line breaks in stack trace"
Stack traces in the periodic severe log alert emails look like this. Seems the line breaks in the stack trace have been lost.
![image](https://cloud.githubusercontent.com/assets/1673303/12997500/c5e33486-d174-11e5-8416-f9638ea37698.png)

[2016-02-12 07:04] unyoungwax commented on #4728
One possible way for this bug to occur is when a new instructor joins a course that has no other instructor (the original instructor removes himself from the course before the new instructor joins the course). The system cannot determine the institute of the new instructor based on the other instructors.

There are 2 solutions:
1. Prevent the only joined instructor from removing himself from the c

[2016-02-12 09:39] thyageshm commented on #4759
I think this is because our email header is `content-type: text/html` and so we must use `<br>` instead of the `\r\n`

[2016-02-12 12:00] jkt001 opened #4760 "Typo in the about page"
This is the live version of TEAMMATES:
http://teammatesv4.appspot.com/about.html

All area leads are misspelt as "Aread lead" (edit: and one of the area lead's name is incorrectly spelt.)

<img width="622" alt="screen shot 2016-02-12 at 19 58 20" src="https://cloud.githubusercontent.com/assets/8586215/13006307/178da4c6-d1c3-11e5-9091-ddc864c30b1d.png">

[2016-02-12 12:01] wkurniawan07 commented on #4760
@JosephineKwa your name... :stuck_out_tongue: :stuck_out_tongue:

[2016-02-12 12:03] jkt001 commented on #4760
oh that means there's another typo... edited the issue so that it can be fixed in the same PR

[2016-02-12 12:25] JosephineKwa commented on #4760
More first timer issues i guess :stuck_out_tongue_closed_eyes:

[2016-02-12 12:30] damithc commented on #4760
@jkt001 can you submit a PR for this? I prefer to fix it soon, given that GSoC next round is coming up.

[2016-02-12 12:33] damithc commented on #4728
Let's go for option 1, as that sounds the right even without this bug.

[2016-02-12 12:34] jkt001 commented on #4760
@damithc alright... gonna do it now

[2016-02-12 12:42] #4705 closed

[2016-02-12 12:56] unyoungwax opened #4762 "Add a new test case for backdoor delete feedback question operation"

[2016-02-12 13:32] #4689 closed

[2016-02-12 13:32] #4760 closed

[2016-02-12 18:11] #4529 closed

[2016-02-12 18:51] Gisonrg commented on #3922
Do you think it's a good idea that we also test if the given input is a String? If it is not a string then the method will return false. In that way we could prevent misuses, and the trim() method could be used as well :P

[2016-02-13 04:08] damithc commented on #4747
`Security` can go with `AccessControl`?
`GAE` can go with `DevOps`?
`Concurrency` can go with `Scalability` or `Performance`?
If you go with the above, what's the final status?

[2016-02-13 22:14] bamboo3250 commented on #4417
https://cloud.google.com/appengine/docs/java/javadoc/com/google/appengine/api/log/LogQuery
@wkurniawan07 @damithc I just took a look at the LogQuery API and realized there is a little difference between the way we interpret version strings and the way GAE sees them.
For example the version `4.18.01`, according to our format, `4` is the major verion, `18` is minor version and `01` is patch version.

[2016-02-14 02:13] kanghj commented on #4747
The final status will be:

|Label             | Lead      | Co-Leads  | Description
|------------------|-----------|-----------|------------------------------------
|`a-AccessControl` |Tania      |           |Controlling access to user groups, authentication, privacy, anonymity
|`a-CodeQuality`   |Wilson     |           |Refactorings that are mainly to improve code/design quality
|`a-Concurrency`

[2016-02-14 04:35] damithc commented on #4747
WeiLin needs a co-lead. Hong Jin, you can take lead on some labels and push the current lead to co-lead, especially cases where the current lead is away or overloaded.

[2016-02-14 04:43] damithc commented on #4417
Yes, you can assume that our minor version will not exceed two digits. You can assume that each component is an integer and are in sequence.

[2016-02-14 05:09] bamboo3250 commented on #4417
![image](https://cloud.githubusercontent.com/assets/8078323/13031956/726d7304-d31b-11e5-93f3-b6d5437de887.png)

@damithc Do you remember why we need to go back for three preceding versions? What is the user story behind? Since now we restrict the query by the time (24h), I guess we may not need to specify the versions by default anymore.

[2016-02-14 05:12] #4756 closed

[2016-02-14 05:22] damithc commented on #4417
Actually, as long as activity log queries give me results of past versions, we don't need to query logs of specific versions. This feature was implemented because we thought the queries returned logs from the current version only. If that's not the case, we don't have to bother with the version numbers.

[2016-02-14 07:31] thyageshm commented on #4747
I could co-lead DevOps :-)

[2016-02-14 07:33] thyageshm commented on #4668
@wkurniawan07 any updates on this?

[2016-02-14 07:48] thyageshm commented on #4514
@kanghj any updates on this one?

[2016-02-14 07:49] thyageshm commented on #3355
@JosephineKwa could we try and complete this by this release?

[2016-02-14 07:54] thyageshm commented on #4018
@wkurniawan07 any updates on this one?

[2016-02-14 08:01] wkurniawan07 commented on #4747
I don't think GAE goes that well with DevOps. There are other aspects or features that are more tightly coupled with GAE like `a-AccessControl`, `a-Persistence`, `f-Admin`, `f-Search`.

[2016-02-14 08:02] thyageshm commented on #4147
@taniach if it is possible, could you give some updates on this? If you won't have time to work on this, we shall look into assigning it to someone else as this has been open for a very long time now.

[2016-02-14 08:04] thyageshm commented on #4274
@kennho any updates on this one?

[2016-02-14 08:05] thyageshm commented on #4345
@kanghj any updates on this one?
@damithc is this one still `p.High`?

[2016-02-14 08:42] damithc commented on #4345
Yes, it is an ugly bug. Even if we don't fix it soon, the feature should at least fail gracefully.

[2016-02-14 08:47] damithc commented on #3355
Lowered priority. Can manage without this feature for some more time.

[2016-02-14 09:06] bamboo3250 commented on #4417
I see. Actually it is the case as you said.
https://cloud.google.com/appengine/docs/java/javadoc/com/google/appengine/api/log/LogService#fetch-com.google.appengine.api.log.LogQuery-
`If versions and majorVersionIds are both empty, fetch will retrieve logs for the current running version.`

So in the end we still need to iterate back to the past versions if we want to include them in the log result

[2016-02-14 09:44] taniach commented on #4147
This issue involves a significant number of changes. I may not be able to finish it sometime soon so we can let someone else work on it now.

[2016-02-14 10:26] damithc commented on #4417
While you are at it, can you find what happens to logs when we delete a specific version? Are the logs deleted too?

[2016-02-14 11:13] bamboo3250 commented on #4417
@damithc after we delete a version, the logs of that version will not be deleted immediately. I tried delete some versions and still could find their logs via both AdminActivityLogPage and the Google Cloud Platform.

[2016-02-14 11:16] damithc commented on #4417
Oh, that's good to hear.

[2016-02-14 11:17] damithc commented on #4417
Another thing: will your current technique find logs from deleted versions?

[2016-02-14 11:20] bamboo3250 commented on #4417
My technique relies on what ModulesService returns and it cannot return deleted versions. Hence, if you want to retrieve logs from deleted versions, you need to specify them in the query.

[2016-02-14 13:44] damithc commented on #4417
That's probably why we used the previous technique. We need to query logs irrespective of whether the version is currently deployed. Trying to deduce previous version numbers based on current version number is one option. BTW, it shouldn't limit to 3 previous versions. If we limit to 3, we usually cannot go no more than 3-4 weeks in to the past.

[2016-02-14 14:20] #4729 closed

[2016-02-14 17:03] wkurniawan07 opened #4767 "Remove date.js functions (and possibly the file itself)"
In #4688 the function `isDate` in `date.js` is removed because it clashed with the one defined in `common.js`. It prompted me to question the very necessity of the entire `date.js` file.
I tried removing `date.js` from existence (even those pages that "import" it) and guess what? Everything works without any problem. There can only be one conclusion: `date.js` has been unused since time immemorial

[2016-02-14 17:03] wkurniawan07 commented on #4767
@jkt001 assigning to you since you told me you want to do it :p

[2016-02-14 17:34] wkurniawan07 commented on #4759
Just curious, is this the first time this gets noticed? The function `logSevereForErrorInSendingItem` that I recently added is not the first one that uses `TeammatesException.toStringWithStackTrace` for severe logging.

[2016-02-14 17:37] wkurniawan07 commented on #4018
I'll start investigating this tomorrow, but to get a thorough result I might need more time than the next release, so taking this off the milestone for now.

[2016-02-14 18:41] bamboo3250 commented on #4417
If we go for the previous technique,we have to use up all minor version before changing the major version.
For example: it has to be `4.98`, `4.99` then `5.00`. Is it all the case like that? Otherwise, if we jump like from `4.67` to `5.00`, the previous versions cannot be access again. Unless we set the limit by a big value (it could be 100).

[2016-02-15 00:55] damithc opened #4769 "NPE in FeedbackSubmissionAdjustmentAction"
Error Message: teammates.logic.automated.FeedbackSubmissionAdjustmentAction execute: Error encountered while adjusting feedback session responses of Week 2 Group Learning Activity in course : BMGT365_2016SP : null TEAMMATESLOG|||feedbackSubmissionAdjustmentWorker|||Servlet Action Failure|||true|||Unknown|||Unknown|||Unknown|||Unknown|||Servlet Action failure in feedbackSubmissionAdjustmentWorker
c

[2016-02-15 01:14] damithc commented on #4417
You can assume that the past 5 versions exists in the server. In fact, I keep the past 8-9 versions (GAE allowed up to 10 past versions). For anything beyond 5 versions, we can use the query to specify which versions?

[2016-02-15 03:02] damithc commented on #4759
Yes, previously we didn't have the stacktrace for some cases and the stacktrace had line breaks for other cases. See screenshot.
![image](https://cloud.githubusercontent.com/assets/1673303/13038868/93b2842e-d3d3-11e5-9847-588f3e7a254a.png)

[2016-02-15 03:03] damithc commented on #4747
I agree, those aspects are highly reliant on GAE so it makes sense to pair them with `t-GAE`

[2016-02-15 03:49] bamboo3250 commented on #4747
I'm okay with `t-GAE` since I have worked with it quite a lot recently.

[2016-02-15 03:49] damithc commented on #4759
In fact, it doesn't happen to all log alerts. Just now received an email that had the proper linebreaks.
![image](https://cloud.githubusercontent.com/assets/1673303/13039454/135abe20-d3da-11e5-8f52-00ac5292b8e3.png)

[2016-02-15 03:52] damithc commented on #4759
I'm guessing the the linebreaks problem is specific to stacktraces missing previously and added by @wkurniawan07 in his recent fix.

[2016-02-15 03:58] bamboo3250 commented on #4417
So I will use my method and extend it to query within the current version and its 5 preceding versions. This should cover at least 1 month and a half so I think it would be fine.

[2016-02-15 04:19] kanghj opened #4770 "InstructorFeedbackResultsPageUiTest failures: wrong tooltip attribute position"
Related to the changes in #4732. Causes failure on the other related tests too.

![failure](https://cloud.githubusercontent.com/assets/2216119/13039693/5e19da06-d3dd-11e5-94d2-8b115e99e14e.PNG)

Expected result on the left, actual is on the right.

[2016-02-15 04:32] jkt001 opened #4771 "Outdated links in the about page"
In the about page (again),

there are links tied to contributors when TEAMMATES was hosted in Google code.

<img width="881" alt="screen shot 2016-02-15 at 12 26 44" src="https://cloud.githubusercontent.com/assets/8586215/13039889/2331048e-d3e0-11e5-9718-940f9feb1a0a.png">

However, all links to their contributions now leads to this same <a href = "https://code.google.com/archive/p/teammatespes/">

[2016-02-15 04:43] #4750 closed

[2016-02-15 04:47] jkt001 commented on #4767
The only (currently known) functions needed from <code>date.js</code> are:
1. <code>formatDate</code>
2. <code>convertToClientTimeZone</code>
3. <code>convertToUtc</code> (for testing purposes)
4. <code>getTimeZoneStringFromDate</code>

The original one from <code>date.js</code> that is used is only <code>formatDate</code> while the others are newly-written in #4688.

One option is to remove <code

[2016-02-15 05:09] wkurniawan07 commented on #4767
Since we're keeping #4688 on hold instead of this, you can proceed if you wish.

[2016-02-15 05:15] bamboo3250 opened #4773 "Create LogHelper class to query log"
At the moment, the functions to retrieve logs from GAE are duplicated in `AdminActivityLogAction` and `AdminEmailLogAction`. Following DRY principle, we should have a class to help us do that task.

[2016-02-15 05:15] wkurniawan07 commented on #4771
I'd think it is since linking to that page has no value add, but let's wait for more inputs.

[2016-02-15 05:17] wkurniawan07 commented on #4773
Glad you think the same bro, I had this very thought myself when I opened the previous issue :+1:

[2016-02-15 05:20] bamboo3250 commented on #4773
I have to maintain them so it's bugging me a lot :joy:

[2016-02-15 05:33] kanghj commented on #4274
@kennho, how is your progress on this? If you find that this is too difficult for you now, we can reassign this to someone else.

[2016-02-15 07:10] kennho commented on #4274
I have managed to make the moderate button appear. Still trying to make the edit form appear after the instructor click on the moderate button. Progress may be slow for this week as I have an assignment deadline on Wednesday. Sorry.

[2016-02-15 08:15] damithc commented on #4771
Yes, we can remove outdated links.

[2016-02-15 08:22] damithc commented on #4770
@ashrayjain you merged without dev green?

[2016-02-15 08:24] damithc commented on #4417
Sure. Go ahead.

[2016-02-15 08:27] ashrayjain commented on #4770
No, it was dev green for me after I ran God mode. I will verify asap.

[2016-02-15 08:32] wkurniawan07 commented on #4770
Do you run the test again _after_ regenerating with God mode, this time _without God mode_?

[2016-02-15 08:40] ashrayjain commented on #4770
Yup, I distinctly remember running it multiple times, first with god mode and then without.

[2016-02-15 08:49] yash14123 commented on #4771
can I get a link to the exact file with the about page?

[2016-02-15 08:51] damithc commented on #2983
Got a few more of these.

[2016-02-15 08:55] damithc opened #4776 "AssertionError in InstructorHomePageAction: null"
java.lang.AssertionError: null
    at teammates.common.util.Assumption.fail(Assumption.java:59)
    at teammates.common.util.Assumption.assertTrue(Assumption.java:27)
    at teammates.common.util.Assumption.assertNotNull(Assumption.java:269)
    at teammates.common.util.Assumption.assertNotNull(Assumption.java:261)
    at teammates.logic.api.Logic.getCourseSummaryWithFeedbackSessions(Logic.java:70

[2016-02-15 09:02] kanghj commented on #4771
@yash14123, src/main/webapp/about.html

[2016-02-15 09:05] yash14123 commented on #4753
Link to the client API file?

[2016-02-15 09:07] yash14123 commented on #4771
Please assign me this . Thanks , :)

[2016-02-15 09:13] #4770 closed

[2016-02-15 09:20] yash14123 commented on #4771
PR added.

[2016-02-15 09:26] yash14123 commented on #4748
I would like to work on this. :)

[2016-02-15 09:43] yash14123 commented on #4744
Where do you want to add this , in which folder?

[2016-02-15 09:57] yash14123 commented on #4622
How do we fix this? ANy hints?

[2016-02-15 10:04] ashrayjain commented on #84
@damithc Hey prof, it turns out we have two more fields (`session visible from` and `responses visible from`), apart from `session start` and `session end`. Our discussed solution of adding 2 new columns in the db for `session start offset` and `session end offset` will not be enough for this. We could solve this problem in the following 3 ways:

1. We could simply add 2 more columns for the new f

[2016-02-15 10:34] damithc commented on #84
It has to be 2 or 3. What is the common wisdom on handling timezones and DST? Any articles on this?

[2016-02-15 11:27] damithc commented on #4622
@yash14123 Let's wait until you have successfully merged your first issue before we move to more. When choosing issues, try the ones you think you know how to fix before moving to more challenging ones.

[2016-02-15 13:02] ashrayjain commented on #84
There are a lot of different opinions on StackOverflow about this, and a lot of times they are for specific cases. The best article that I think we should follow is this one.
https://www.w3.org/TR/timezone/#guidelinessummary

On the same article, these sections are also of interest:
https://www.w3.org/TR/timezone/#guidelinesfuturerecurring
https://www.w3.org/TR/timezone/#negotiating

The general o

[2016-02-15 13:29] #4711 closed

[2016-02-15 13:29] #4668 closed

[2016-02-15 13:29] #4767 closed

[2016-02-15 14:11] damithc commented on #84
I'm ok with storing timezone ID. We also need to discuss where to store it. For example, may be we should store in in the Course object rather than the Session object? Explore these further and we can discuss on Wednesday.

[2016-02-15 14:11] damithc commented on #84
You also need to figure out how to save DST lookup table and how to keep it updated.

[2016-02-15 14:47] damithc opened #4780 "'Deploy' icon missing from settingUp.md"
![image](https://cloud.githubusercontent.com/assets/1673303/13051793/21dc772a-d436-11e5-9792-002cfb0ef8dc.png)

[2016-02-15 14:51] ashrayjain commented on #84
Since we will be using the standard library for Java for DST conversions, we will need to update the standard library's data. The common method for updating this data is outlined here.
http://www.oracle.com/technetwork/java/javase/tzupdater-readme-136440.html

However, I will need to look into how it would work with GAE.

[2016-02-15 17:08] kanghj commented on #4345
I am only halfway done with this. I'll move this to the next milestone.

[2016-02-15 17:26] #2772 closed

[2016-02-15 19:27] ashrayjain commented on #84
With GAE, the standard library is locked in and out of our control. [This](http://stackoverflow.com/a/18340343) is the only issue about this I could find.

Google does seem to update its timezone data but not very frequently as it turns out. I tested the standard library on a GAE test app using known timezone/dst updates from the past year (eg. North Korea's timezone update from August 2015). From

[2016-02-15 22:23] SambitAcharya commented on #4780
@damithc please assign me this task.

[2016-02-15 22:37] SambitAcharya commented on #4106
@taniach please assign this to me.

[2016-02-16 00:30] taniach commented on #4106
Hi Sambit. You can start working on the issue and submit a pull request when you finish.

[2016-02-16 00:48] damithc commented on #84
Yes, I'm ok to use an external library as Java built-in date library is known to be weak. Is Joda time updated more regularly?

[2016-02-16 00:54] ashrayjain commented on #84
Yup sir. Joda seems to follow the updates to the database pretty closely.
Their latest version already includes the first updates for 2016 released
in late January. So should I go ahead with it?
On 16 Feb 2016 08:48, "Damith C. Rajapakse" <notifications@github.com>
wrote:

[2016-02-16 01:15] damithc commented on #84
Yes, go ahead with Joda.

[2016-02-16 01:28] thyageshm commented on #4345
Continue on with the work, if it slips this release, we will shift it to the next one

[2016-02-16 01:31] thyageshm commented on #4106
@SambitAcharya please make sure that you only work on ONE `d.FirstTimers` issue

[2016-02-16 01:40] thyageshm commented on #4513
#4722 fixes this one

[2016-02-16 01:40] #4513 closed

[2016-02-16 01:52] thyageshm commented on #4748
I think this one should be done by one of the core team as we have to confirm whether the process is still valid (it was written a year and a half ago). We also need billing enabled to check this.

[2016-02-16 02:02] thyageshm commented on #3295
@ashrayjain we can take the CI forward with this issue

[2016-02-16 02:52] ashrayjain commented on #3295
Sure, I would like to formally specify the requirements first though. What are our requirements here?
To start off, we probably build and test every new PR when it is created? After that, whenever the PR is updated, we run it again to update CI status for that PR?
What about a build on master after merging a PR? If this build fails, what should be done?

[2016-02-16 03:45] thyageshm commented on #3295
Lets try to setup a manual run on the master on Travis. Based on how long it takes, we can decide on when to run the test suite (eg: every update to PR vs when `s.ToReview` is added to the PR [?])

[2016-02-16 08:11] ashrayjain opened #4783 "Document responsiveness guidelines"
This doc will be in the form of a technical report and will outline the best practices and guidelines to be followed when designing pages for Teammates that need to be responsive, i.e. mobile / tablet friendly.

[2016-02-16 08:12] SambitAcharya commented on #4106
@thyageshm ok. I will work on this one.

[2016-02-16 08:30] thyageshm commented on #4514
@Sumei1009 thank you for taking up this issue :-)

[2016-02-16 08:36] thyageshm commented on #3295
@damithc sir, does it make sense for us to call this issue a `c.Epic` and create multiple `c.Story` for fixing existing issues, documentation, etc related to this?

[2016-02-16 08:55] kai33 commented on #3295
wrt dependency, r u guys going to try [maven-dependency-plugin](https://maven.apache.org/plugins/maven-dependency-plugin/)?
it will help copy the dependency jar files to the target folder when build.

The new PR with new lib should include the new dependency in pom.xml, and then maven will download and copy it to the right place. So no need to worry about this.

[2016-02-16 09:31] #4730 closed

[2016-02-16 13:09] damithc commented on #3295
This is not a user-facing feature, so technically not a story or an epic. But do feel free to break into smaller tasks.

If you are getting maven involved, see if gradle can be used instead. 1. We used maven before, and it was a pain to use at the time. 2. Hubturbo is using gradle, so I don't want to add another new tool unless we have to.

[2016-02-16 15:34] damithc opened #4784 "JDODataStoreException while sending crash report"
I've been getting a handful of these in the recent past:

Error Message: teammates.logic.core.Emails logSevereForErrorInSendingItem: Error in sending crash report: Cause: javax.jdo.JDODataStoreException: Datastore Failure at org.datanucleus.jdo.NucleusJDOHelper.getJDOExceptionForNucleusException(NucleusJDOHelper.java:304) at org.datanucleus.jdo.JDOPersistenceManager.getObjectById(JDOPersistenceMan

[2016-02-16 15:41] #4747 closed

[2016-02-16 15:52] wkurniawan07 commented on #4784
I'd like to believe it's been there for (much) longer than that, but only in the recent past we get to know exactly what error it is.
Anyway, back to the issue: "The thread has been interrupted and the request has timed out". I hate to say it, but it doesn't seem to be solvable from our side...

[2016-02-16 15:55] wkurniawan07 commented on #4759
Did a quick check and those pages that correctly display the line breaks are indeed using `<br>` (and all other HTML tags to style the display). Strange thing is, there are numerous other instances of `TeammatesException.toStringWithStackTrace` used in `log.severe`. That means those kind of severe logs never come. Just our luck, again.

[2016-02-16 17:53] wkurniawan07 commented on #4313
Looking at the date, this should've been posted when I was inactive for a short period. What's the reason for testing raw key?

[2016-02-16 23:50] kanghj commented on #4313
This is not relevant anymore now that godmode is part of the standard workflow. During that period,  there were times when we manually updated html tests, but left the profile picture key in the html. Because everyone used the same encryption key, the profile picture's url was the same for everyone, and therefore the test only failed when testing on the live server.

[2016-02-16 23:50] #4313 closed

[2016-02-17 05:02] wkurniawan07 commented on #4597
I'd say this is not an option, but something that really needs fixing. Back then when I was taking CS2103 myself, it was very easy for me to guess who's who in the standard peer evaluation session.

Also, to anyone who wants to take the trouble to look at the source code, the anonymity is non-existent. The algorithm is readily replicable in any Java-running machine and there's no randomness in it.

[2016-02-17 05:35] damithc commented on #4597
The anonymous id generated should be really random and should not be reversible or predictable. If it is not, that needs fixing. However, using a different random ID for each question is a separate issue, as there is a benefit for using the same random ID for one person. Sometimes you want to know all answers given by person X without knowing who X is. e.g. random person 123 rated me low in Q1, an

[2016-02-17 06:47] ashrayjain opened #4785 "Investigate integration with SlackIn for public channel"
SlackIn - http://rauchg.com/slackin/

[2016-02-17 06:53] wkurniawan07 commented on #4597
The anonymous ID is not reversible, but very easy to reverse-engineer. Like I said, "non-existent" for anyone who looks at the correct part of the source code.

[2016-02-17 06:57] kanghj commented on #4597
Yes, it's just the hash of the student's name. Should be fixed in a different issue, I guess.

[2016-02-17 09:48] SambitAcharya commented on #4106
@taniach please review https://github.com/TEAMMATES/teammates/pull/4786

[2016-02-17 10:06] damithc commented on #4785
Rauch Guillermo is the project mentor for FBOA Socket.IO team. He was here during the code sprint. :-p

[2016-02-17 10:07] ashrayjain commented on #4785
Oh! Nice :)

[2016-02-17 10:20] ashrayjain commented on #4785
@damithc So, as you had mentioned, looks like single channel guest accounts is a paid feature :(
Moreover, they have a limit on number of such accounts (max = 5 * number of paying accounts).

One alternative is to create a separate free organisation only for contributors, etc. but this might not be ideal.

[2016-02-17 11:29] wkurniawan07 opened #4787 "StudentsDbTest failing on its first run"
Without fail. It's caused by the newly added `testDefaultTimestamp` which added an entity without deleting it before the next test case.

[2016-02-17 11:34] wkurniawan07 commented on #4383
@thyageshm guess what, I tried it (regex comparison -> string equals) and it worked without any problem.

[2016-02-17 11:58] wkurniawan07 commented on #4018
To trace its usage, let's go to `FeedbackSessionsLogic`:
![image](https://cloud.githubusercontent.com/assets/7261051/13108647/5db2e2dc-d5af-11e5-9d2e-e137a63a9664.png)
![image](https://cloud.githubusercontent.com/assets/7261051/13108658/779c98dc-d5af-11e5-86cd-0e1cef5f6bb3.png)
The `Const.USER_IS_TEAM` is assigned whenever there is no `StudentAttributes` or `InstructorAttributes` associated to the

[2016-02-17 12:29] wkurniawan07 commented on #4399
Does this still happen?

[2016-02-17 12:29] wkurniawan07 commented on #4219
Does this still happen?

[2016-02-17 12:31] wkurniawan07 commented on #4303
@damithc Does this still happen?

[2016-02-17 14:39] ashrayjain commented on #84
@damithc Since we are adding timezone info to courses, I wanted to clarify some semantics. It looks like once a course is created, we don't allow the instructor to change the Course ID or Course Name (am i right?). As we will be adding the timezone option there, do we also disallow timezone updates after the course has been created? Is there any use case for timezone updates after course creation?

[2016-02-17 14:42] damithc commented on #4399
Not recently. Let's close it for now.

[2016-02-17 14:42] #4399 closed

[2016-02-17 14:43] damithc commented on #4303
Not since this bug report. Let's close for now.

[2016-02-17 15:03] damithc commented on #4219
Yes, I do get emails about this error now and then, but not very frequent.

[2016-02-17 15:12] damithc commented on #4785
I don't think slack is a very good medium for contributors because we don't have fulltime people always monitoring the channel. We need a more async medium such as email. GitHub works because it has email notifications.

[2016-02-17 15:14] ashrayjain commented on #4785
Ok. So I guess we can close this issue?

[2016-02-17 15:49] damithc commented on #4753
We need to address this quickly.

[2016-02-17 16:47] wkurniawan07 commented on #3922
Oops sorry I somehow missed this! @Gisonrg yeah sure, that's one way to deal with it. You wanna work on it? Btw, if you haven't done one `d.FirstTimers` issue before, you should do one of those first.

[2016-02-17 16:50] wkurniawan07 commented on #4520
Duplicate of #4769 (or rather the other way around), closing this one as it's easier to navigate to the more current one.

[2016-02-17 16:50] #4520 closed

[2016-02-17 16:51] wkurniawan07 commented on #4549
Again, duplicate of #4769 (or rather the other way around), closing this one as it's easier to navigate to the more current one.

[2016-02-17 16:51] #4549 closed

[2016-02-17 16:52] Gisonrg commented on #3922
@wkurniawan07 Yea sure I can work on this one.
I will do one `d.FirstTimers` on weekend. Quite busy this week :smile:

[2016-02-17 16:52] wkurniawan07 commented on #3367
Isn't this the same as #4274?

[2016-02-17 16:54] wkurniawan07 commented on #3922
Suit yourself bro :+1: Just submit PRs when you're done. Remember to follow the workflow as specified [here](https://github.com/TEAMMATES/teammates/blob/master/devdocs/process.md).

[2016-02-17 16:57] wkurniawan07 commented on #4769
Not going to comment on the issue at hand (yet), but are there line breaks in the error stack trace here?

[2016-02-17 17:05] wkurniawan07 commented on #4521
Does this still happen?

[2016-02-17 21:46] junhaoyap opened #4790 "AdminHomePageUiTest failing on line 227"
Some elements are missing some stuff like - class="margin-bottom-7px" which is causing some unexpected failures

[2016-02-17 21:47] junhaoyap opened #4791 "FeedbackRubricQuestionUiTest failing on line 219"
Same thing, some elements expected class="margin-bottom-7px" but do not have it

[2016-02-18 00:47] damithc commented on #4790
@ashrayjain is this related to your recent PR?

[2016-02-18 00:49] damithc commented on #4521
Not since the bug report. Closing for now.

[2016-02-18 00:49] #4521 closed

[2016-02-18 00:51] damithc commented on #4769
When viewed in email, it appears without line breaks, but when copy pasted into github, the line breaks come back. I guess github converts `\n` to `<br>`?

[2016-02-18 00:52] damithc commented on #3367
Yes, closing.

[2016-02-18 00:52] #3367 closed

[2016-02-18 04:12] ashrayjain commented on #4790
Hmm. Thats strange. Its passing me for me on master.
<img width="404" alt="screen shot 2016-02-18 at 12 12 16 pm" src="https://cloud.githubusercontent.com/assets/3591327/13133706/e9cc7dd0-d638-11e5-9afb-23138ea0b440.png">

[2016-02-18 04:15] ashrayjain commented on #4791
Same here. Passing for me on master.

[2016-02-18 04:18] ashrayjain opened #4792 "Add Issue and PR templates"
Github recently added support for templates that project administrators can specify for issues and PRs. Might be something interesting for us to look into?

https://help.github.com/articles/helping-people-contribute-to-your-project/

[2016-02-18 04:18] kanghj commented on #4791
yes I believe it passed for me yesterday too. @junhaoyap, try cleaning your project and restarting teammates.

[2016-02-18 04:25] junhaoyap commented on #4791
Odd, ok I will try to clean and rebuild and get back to this thread

[2016-02-18 04:53] wkurniawan07 commented on #4790
Reporting that this is passing, tested just now.

[2016-02-18 04:53] wkurniawan07 commented on #4791
Ditto here, also passing.

[2016-02-18 05:25] wkurniawan07 commented on #4488
I don't think it's realistic for this to be done by the next milestone. This needs to wait for timezone values to be appended to relevant `*Attributes`, in particular courses.
Taking this off the milestone, indefinitely.

[2016-02-18 08:41] junhaoyap commented on #4790
Indeed, after cleaning and re-running as @kanghj mentioned it's passing now, not sure what went wrong, I'll be closing both! Thanks all for the help and responses :)

[2016-02-18 08:41] #4790 closed

[2016-02-18 08:41] junhaoyap commented on #4791
Ditto as per the other! Thanks all!

[2016-02-18 08:41] #4791 closed

[2016-02-18 08:45] #4058 closed

[2016-02-18 12:43] kennho opened #4794 "Make comments panel collapsible"
Currently, the panel that contains general comments for students can't be collapsed. Make it expandable / collapsible. Pages affected are instructorComments.jsp, instructorSearch.jsp, instructorStudentRecords.jsp and studentComments.jsp.

[2016-02-18 16:45] tarun14110 commented on #4794
@thyageshm ,I had implemented this functionality for intructorComments file.
Can I send PR now, so that someone can review my approach and helps in improving. And then I can do same for the remaining ones.
Or should I complete the issue and then send PR ?

![screenshot from 2016-02-18 21 54 28](https://cloud.githubusercontent.com/assets/12219700/13150707/f062d668-d68c-11e5-8998-fd940625934c.png)
!

[2016-02-19 08:24] damithc commented on #4753
@bamboo3250 this falls in your area.

[2016-02-19 08:45] bamboo3250 commented on #4753
Yes, I'm going to do it after finishing all pending PRs.

[2016-02-19 09:11] damithc opened #4796 "StudentProfilePageUiTest is failing on the live server"
Keep failing after 3 tries:

org.openqa.selenium.ElementNotVisibleException: Element is not currently visible and so may not be interacted with
Command duration or timeout: 39 milliseconds
Build info: version: '2.46.0', revision: '87c69e2', time: '2015-06-04 16:16:47'
System info: host: 'damithch-d9010', ip: '172.26.184.69', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version:

[2016-02-19 09:23] damithc opened #4797 "InstructorFeedbackResultsPageUiTest is failing on live server: testViewPhotoAndAjaxForLargeScaledSession"
org.openqa.selenium.TimeoutException: Timed out after 15 seconds waiting for presence of element located by: By.cssSelector: .popover-content > img
Build info: version: '2.46.0', revision: '87c69e2', time: '2015-06-04 16:16:47'
System info: host: 'damithch-d9010', ip: '172.26.184.69', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.7.0_45'
Session ID: 06c85606-1bab-402f

[2016-02-19 10:05] damithc opened #4798 "instructorStudentSearch: highlight search words in results"
This is for instructors using the search feature to search for students, comments, etc.
Can follow #4513

[2016-02-19 15:46] kanghj opened #4801 "Instructor feedback copy modal: form data can be sent multiple times"
Affecting the progress of #4749, so I'll fix this first.

The jQuery event handler can be bounded to the form multiple times.

[2016-02-19 16:00] wkurniawan07 opened #4802 "Remove src/main/webapp/dev/ folder"
Previously used to contain the developer documentations. Since they've been migrated (well, most of them) either to Google docs or GitHub markdown, this folder is not necessary anymore. The contents inside, if still used, can be moved to the relevant folders.

Suggestions:
- `mashup.jsp` to the root `src/main/webapp/` folder, `mashup.css` to `src/main/webapp/stylesheets`.
- The contents of `src/ma

[2016-02-19 16:03] damithc opened #4803 "NPE in FeedbackContributionQuestionDetails"
java.lang.NullPointerException
	at java.util.ArrayList.(ArrayList.java:164)
	at teammates.common.datatransfer.FeedbackContributionQuestionDetails.getTeamMembersEmail(FeedbackContributionQuestionDetails.java:568)
	at teammates.common.datatransfer.FeedbackContributionQuestionDetails.getTeamEvalResults(FeedbackContributionQuestionDetails.java:471)
	at teammates.common.datatransfer.FeedbackContributio

[2016-02-19 16:04] damithc commented on #4803
One instructor cannot view results because of this. Need to fix quickly.

[2016-02-19 16:10] damithc commented on #4803
The session has two 'team contribution' questions that is causing this error. Other questions work fine.
![image](https://cloud.githubusercontent.com/assets/1673303/13181098/5305a186-d766-11e5-9c83-5f2a139f4834.png)

[2016-02-19 16:10] kanghj commented on #4803
Are there any teams with special characters in the class? We might have missed out something here during the de-sanitization of student's team.

[2016-02-19 16:13] damithc commented on #4803
That's possible. That course has following teams:
Hard Rock Café
Hershey's Chocolate
Miami Children's

He has another course with the same two questions, but that session works fine. That course has no unusual team names.

[2016-02-19 16:17] wkurniawan07 commented on #4803
Very likely that's the case. Single quote (`'`) is HTML-sanitized.

[2016-02-19 16:18] kanghj commented on #4803
Ah, yes. The error appears to be in <code>getTeamNameForEmail</code> in FeedbackSessionResultsBundle. @bamboo3250, or @wkurniawan07, does any of you want to do this now?

[2016-02-19 16:20] damithc commented on #4803
Need a hot fix pronto.

[2016-02-19 22:08] bamboo3250 opened #4806 "Properly sanitize student name, team name and comments related to StudentAttributes in the front end"
I will look through all JSON files that have `students` and append some special HTML characters to  `name`, `lastName`, `comments` and `team`fields to make sure that nowhere else is left out.
Any recommendation is appreciated.

[2016-02-20 01:17] damithc commented on #4806
Try to do the conversion in a central place so that it will not be left out even by mistake.

[2016-02-20 07:03] jkt001 commented on #4716
Working on this in parallel with #4715

[2016-02-20 07:51] #4136 closed

[2016-02-20 07:51] #4787 closed

[2016-02-20 07:51] #4755 closed

[2016-02-20 14:56] bamboo3250 commented on #4773
Closing this issue because it will be solved together with #4417 in #4766.

[2016-02-20 14:56] #4773 closed

[2016-02-21 02:49] kanghj commented on #4803
Fixed in #4805.

[2016-02-21 02:49] #4803 closed

[2016-02-21 08:20] thyageshm commented on #4161
@junhaoyap any updates on this?

[2016-02-21 08:50] ashrayjain commented on #84
@damithc bump.

[2016-02-21 10:03] damithc commented on #84
No reason not to allow it right?
The other two fields should be allowed to change too. It's just that we didn't find time to do it.

[2016-02-21 10:06] ashrayjain commented on #84
Hmm. I don't see any reason to disallow changing course name and timezone. But maybe ID is more sensitive to change? @thyageshm your thoughts?

In any case, I think it will be better to add this functionality as a separate issue rather than with this one?

[2016-02-21 10:18] damithc commented on #84
Yes, editability of each field can be separate issues. Yes, editing course ID is the trickiest and may never be allowed.

[2016-02-22 07:45] thyageshm commented on #4794
its good that you opened the pr. you can always add more after opening the pr.

[2016-02-22 07:51] thyageshm commented on #4106
@SambitAcharya please open another pr since the last one was closed since it did not conform to our process. Please refer to our [process document](/TEAMMATES/teammates/blob/master/devdocs/process.md) regarding naming PRs as well as the first comment.

[2016-02-22 12:45] #4709 closed

[2016-02-22 12:45] #4802 closed

[2016-02-22 12:57] #4352 closed

[2016-02-23 05:15] #4762 closed

[2016-02-23 05:20] #4645 closed

[2016-02-23 06:15] #4728 closed

[2016-02-23 06:28] ashrayjain opened #4812 "Add timezone field to Courses object"
First Part for #84.

This adds a String field (timeZone) to the Courses object along with the necessary UI on Add Course page. The timezone is auto detected using the JS library, [moment.js](http://momentjs.com/). Additionally, [Joda Time](http://www.joda.org/joda-time/) is added on the backend to support timezone validation, as well as handle the daylight savings settings (2nd part of #84)

[2016-02-23 06:56] thyageshm commented on #84
sir, I believe if we change the courseid, we would have to change it in every student/instructor in that course. We should consider if that is an acceptable overhead

[2016-02-23 08:50] #4550 closed

[2016-02-23 08:50] #4720 closed

[2016-02-23 08:50] #3922 closed

[2016-02-23 16:13] #3276 closed

[2016-02-23 16:15] #3465 closed

[2016-02-23 16:18] #4759 closed

[2016-02-23 16:24] tarun14110 commented on #4707
@wkurniawan07 I am looking into this issue. Should I use date utility functions for these ?
Are there more cases (other than you have updated in 4701), I need to find ?

[2016-02-23 16:37] thyageshm commented on #4383
:+1: Awesome!

[2016-02-23 16:45] thyageshm commented on #4383
shall we try and change it?

[2016-02-23 17:03] mukesh14149 commented on #4522
@damithc I looked over the comments , but they seems fine (that is they have name instead of email ) . Could you please help me regarding this ?

Instructor end comments:-
![instructor_end](https://cloud.githubusercontent.com/assets/10887629/13259426/53997cf2-da7d-11e5-9fb2-04c04baf4496.png)

Student end comments:-
![student_end](https://cloud.githubusercontent.com/assets/10887629/13259455/6cd5d77

[2016-02-24 00:14] bamboo3250 opened #4814 "Some tests cannot pass from 7AM to 8AM"
InstructorFeedbacksPageDataTest
InstructorFeedbackEditCopyUiTest
InstructorFeedbackEditPageUiTest
InstructorFeedbackPageUiTest

If we run those tests from 7AM to 8AM (i.e. from 11PM to 12AM in UTC), they always fail because the start time in FeedbackSessionsForm is adjusted to the next hour so the date in UTC timezone is also increased by 1. Consequently, all test check for the current date will f

[2016-02-24 00:23] #4745 closed

[2016-02-24 01:19] damithc commented on #4522
This may have been fixed along the way. @JosephineKwa can confirm?

[2016-02-24 07:53] thyageshm opened #4815 "Release V5.69"
Release 206
Code Contributions from: @Gisonrg, @kennho, @manishvishnoi2, @mikelimantara, @tarun14110, @thyageshm, @wkurniawan07, @yj-soh, @unyoungwax
Review Contributions from: @kanghj, @JosephineKwa, @junhaoyap, @bamboo3250, @thyageshm, @LowWeiLin, @wkurniawan07, @yj-soh

Sprint Velocity: 29hrs (code) + 18hrs (review) = 47hrs (total)

[2016-02-24 09:42] damithc opened #4817 "FeedbackRubricQuestionUiTest failing on dev server"
At V5.69
![image](https://cloud.githubusercontent.com/assets/1673303/13281286/e8ed2ca4-db1d-11e5-889f-0b9c2da3053f.png)

	at org.junit.Assert.assertEquals(Assert.java:115)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:81)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:49)
	at teammates.test.pageobjects.Ap

[2016-02-24 09:44] damithc commented on #4817
Another failure due to same issue:
	at org.junit.Assert.assertEquals(Assert.java:115)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:81)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:49)
	at teammates.test.pageobjects.AppPage.verifyHtml(AppPage.java:763)
	at teammates.test.pageobjects.AppPage.verifyHtmlPa

[2016-02-24 09:46] damithc commented on #4817
A third case failing due to same issue:

	at org.junit.Assert.assertEquals(Assert.java:115)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:81)
	at teammates.test.driver.HtmlHelper.assertSameHtml(HtmlHelper.java:49)
	at teammates.test.pageobjects.AppPage.verifyHtml(AppPage.java:763)
	at teammates.test.pageobjects.AppPage.verify

[2016-02-24 09:49] damithc commented on #4817
May be connected to #4720 ?

[2016-02-24 09:58] JosephineKwa commented on #4522
For Comments in session, only the giver's email is shown, as seen in the screenshot below:
![comments1](https://cloud.githubusercontent.com/assets/9999077/13281503/2d065f68-db1f-11e5-915a-6a939660b6bf.PNG)

[2016-02-24 12:20] wkurniawan07 commented on #4817
No doubt. @kennho guess it bites us back sooner than I thought :p
No worries, I'll handle this pronto.

[2016-02-25 00:35] damithc commented on #2936
Another one:
Actual user ddd@husky.neu.edu
Request Method GET
User Agent Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36
Request Url https://teammatesv4.appspot.com/page/studentCourseJoinAuthentication
Request Path /page
Request Parameters {studentemail::ddd@husky.neu.edu, courseid::2016-spring-cs5500-Tues, key::dddCEDDB2E31655D8616C35

[2016-02-25 00:59] damithc opened #4820 "Release V5.70"
Due on: March 1st, 2016.

[2016-02-25 01:02] damithc commented on #4820
@JosephineKwa @yj-soh @jkt001 @unyoungwax @Sumei1009 @kennho please assign issues you plan to contribute to this release.

[2016-02-25 02:43] damithc commented on #4797
Still failing at V5.69

[2016-02-25 02:46] damithc commented on #4796
Still failing at V5.69

[2016-02-25 02:49] damithc commented on #4161
Still failing at V5.69

[2016-02-25 02:54] damithc commented on #4815
Deployed to live server.

[2016-02-25 02:54] #4815 closed

[2016-02-25 08:27] junhaoyap opened #4821 "Remove testng-old.xml"
We don't seem to need it nor run it anymore, and new contributors might get confused by it :)

[2016-02-25 08:30] tarun14110 opened #4822 "change the admin highlight functionality to use more general function of common.js"
highlightSearchResult() function has been introduced in common.js . admin highlight functionality should use this general function.
One should work on this issue after #4800 merges.

[2016-02-25 08:53] wkurniawan07 commented on #4821
The issue's been there since forever... #3848

[2016-02-25 08:53] #4821 closed

[2016-02-25 08:56] junhaoyap commented on #4821
Doh - I was sure by now that issue would have been snagged by someone but apparently not! Thanks for reminding me that it is already somewhere :+1:

[2016-02-25 09:31] wkurniawan07 opened #4825 "Eliminate the usage of Selenium's built-in waitForPageToLoad"
To be done after #4824 so that Selenium RC can be eliminated for good.
If things go well, this would get rid of all `TimeoutException` thrown by Selenium while doing the mentioned process.

[2016-02-25 09:53] wkurniawan07 commented on #4707
Oops sorry @tarun14110 I missed this! I'm not exactly sure because I haven't checked everything myself, but I suspect there's more. In fact, the fix I've done in #4706 will only last until next month.
We could either move the date to so far in the future (10 years from now? xP) or use utility functions to set the date during testing. Either one seems reasonable.

[2016-02-25 10:03] tarun14110 commented on #4707
@wkurniawan07 ok. Could you please assign this issue to me ?

[2016-02-25 10:04] wkurniawan07 commented on #4707
You don't really need to be assigned to work on it, but sure.

[2016-02-25 14:39] damithc opened #4826 "Update process.md about reviewer assignment"
i.e. how to choose reviewer, assign milestone

[2016-02-25 15:19] damithc commented on #4820
@JosephineKwa @yj-soh @jkt001 @unyoungwax @Sumei1009 @kennho please be reminded that you need to assign issues for the next milestone. The deadline was yesterday.

[2016-02-25 16:15] ashrayjain commented on #3295
@damithc @thyageshm for the issue of multiple builds being triggered in quick succession for the same PR, we can use this project. https://github.com/grosser/travis_dedup
I tested this with a test project and it works well. We can use the first option where we simply add a webhook to our repo from the github dashboard.

This seems to be the recommended way to go. More discussion on this here. http

[2016-02-25 18:36] Gisonrg commented on #4538
@wkurniawan07
Are you already working on this one now? I just found the same problems and was trying to fix them, then I saw the issue already being raised :stuck_out_tongue:

[2016-02-26 00:46] damithc commented on #3295
Sure, we can try that.

[2016-02-26 05:47] #4798 closed

[2016-02-26 08:27] wkurniawan07 commented on #4538
@Gisonrg I haven't started yet. Feel free to work on it if you wish.

[2016-02-26 09:15] #4417 closed

[2016-02-26 09:57] #4083 closed

[2016-02-26 12:51] #1800 closed

[2016-02-26 12:51] #4817 closed

[2016-02-26 15:32] paradite commented on #3848
let me do this after a long wait...

[2016-02-26 17:35] paradite commented on #4589
I think this would only work if the table is sorted by teams and assuming that the order within each team remains the same.
Once you sort by other attributes, the dividers between teams would not make sense. So in order to implement this properly, we need to use some JavaScript for detection of sorting method and dynamically add the dividers if sorted by team.

[2016-02-26 17:59] Gisonrg commented on #4538
@wkurniawan07
Sure bro, I will tackle this one :)

[2016-02-27 01:43] damithc commented on #4589
True. In fact we can add the divider based on whichever the column being sorted. But I don't think it will be easy to do.

[2016-02-27 01:50] damithc opened #4831 "InstructorFeedbackAddAction AssertionError: null"
Actual user abc
Request Method POST
User Agent Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36
Request Url https://teammatesv4.appspot.com/page/instructorFeedbackAdd
Request Path /page
Request Parameters {endtime::24, graceperiod::15, starttime::10, instructions::Please answer all the given questions., resultsVisibleFromButton::later, f

[2016-02-27 04:22] #4753 closed

[2016-02-27 04:29] bamboo3250 commented on #3392
I think this issue has been addressed via PRs of #4513 and #4798.

[2016-02-27 04:38] damithc commented on #3392
Yes, that's right. Closing.

[2016-02-27 04:38] #3392 closed

[2016-02-27 06:49] paradite commented on #4589
Yes. So I will look for other issues first.

[2016-02-27 17:01] kanghj opened #4833 "Fix typo on README.md"
There is a typo for "use" in <code> (yes, we ues the issue tracker as a discussion forum too).</code>

[2016-02-28 01:20] damithc commented on #4831
Another one today.

[2016-02-28 01:34] damithc opened #4834 "Instructor: edit student details: Fix 'Error encountered while adjusting feedback session responses'"
Error Message: teammates.logic.automated.FeedbackSubmissionAdjustmentAction execute: Error encountered while adjusting feedback session responses of Week 2 Group Learning Activity in course : BMGT365_2016SP : null TEAMMATESLOG|||feedbackSubmissionAdjustmentWorker|||Servlet Action Failure|||true|||Unknown|||Unknown|||Unknown|||Unknown|||Servlet Action failure in feedbackSubmissionAdjustmentWorker
c

[2016-02-28 03:57] Sumei1009 commented on #4541
May I take this issue? Anyone working on it?

[2016-02-28 13:44] #4826 closed

[2016-02-28 17:32] wkurniawan07 commented on #4834
This is a carbon copy of #4769 (even down to the session name and course name). I suspect something's off with that particular session/course. Like, something's not right in the `feedbackSubmissionAdjustmentWorker` but that particular session/course is the one that brings it to the surface.

[2016-02-28 17:32] wkurniawan07 commented on #4769
Renewed via #4834.

[2016-02-28 17:32] #4769 closed

[2016-02-28 19:28] sujeet14108 commented on #3011
Can i solve this issue?

[2016-02-28 20:04] sujeet14108 commented on #3145
Can i solve this by using multiselect?

[2016-02-29 00:45] damithc commented on #3145
@sujeet14108 as you are a new contributor, look for a `d.FirstTimers` or `d.Contributors` issue first.

[2016-02-29 00:56] damithc opened #4837 "admin accounts management page is not scalable"
The page used to take a long time on the live server. Now it doesn't load at all (deadline exceeded exception).

[2016-02-29 04:16] thyageshm commented on #4018
@wkurniawan07 would you be able to complete this in this milestone?

[2016-02-29 04:54] #4822 closed

[2016-02-29 04:54] #3848 closed

[2016-02-29 05:30] wkurniawan07 commented on #4018
I think it's not likely to finish in this milestone, although I could try and open a PR by today.

[2016-02-29 05:39] thyageshm commented on #4018
ok no prob, we will reassign this to V5.71, but no more extensions I am afraid

[2016-02-29 11:55] unyoungwax opened #4838 "FeedbackQuestionsLogic: Refactor methods with response rate check"
`updateFeedbackQuestion(FeedbackQuestionAttributes)` edits an existing feedback question without updating the response rate. It should be made private to prevent developers from using it incorrectly. `updateFeedbackQuestionWithResponseRateCheck(FeedbackQuestionAttributes)` is more suitable for updating a feedback question.

[2016-02-29 12:27] #4833 closed

[2016-02-29 16:16] #4567 closed

[2016-02-29 16:16] #4603 closed

[2016-02-29 18:29] #4692 closed

[2016-02-29 21:27] sujeet14108 commented on #3145
@damithc  i have solved one of the d.FirstTimers issue. Do i have to solve more d.FirstTimers issue?

[2016-03-01 00:08] damithc commented on #3145
No. In fact you should not do more than one first timer issue. Now you can move to `d.Contributors` issues.

[2016-03-01 05:03] #4723 closed

[2016-03-01 11:40] unyoungwax opened #4848 "Add a new test case for backdoor create feedback response operation"

[2016-03-01 12:03] sujeet14108 commented on #1563
@damithc  Hi i have solved this issue as shown below. Should anything more is required or i send a pull request?
![screenshot from 2016-03-01 17 31 12](https://cloud.githubusercontent.com/assets/9781422/13426478/9b8bc35c-dfd3-11e5-8038-6f1b65973f40.png)

[2016-03-01 12:25] thngkaiyuan opened #4850 "ActivityLogEntry: Remove redundant code in getMessageInfo"
`Sanitizer.sanitizeForHtml(message);` in the getMessageInfo() method is redundant as it does not change the state of the program in any way. It should not be replaced with `message = Sanitizer.sanitizeForHtml(message);` either as that will break legitimate HTML code within variable `message`. Therefore, that line of code should be removed.

[2016-03-01 13:21] thngkaiyuan opened #4852 "Generated links should use HTTPS"
Generated links (e.g. in emails) should use HTTPS instead of HTTP to reduce the risk of a man-in-the-middle (MITM) attack since the links themselves may contain sensitive information (e.g. reusable student keys).

## Example of an attack (proof-of-concept)
1. An attacker performs ARP poisoning on all hosts on the subnet to carry out a MITM attack.
2. All traffic on the subnet now passes through th

[2016-03-01 13:37] thngkaiyuan opened #4853 "Enforce HTTPS on all pages of Teammates"
Currently, some pages (such as the landing page) do not enforce HTTPS even though it is already supported. This allows a man-in-the-middle (MITM) attack to take place which could result in loss of sensitive information.
## Example of an attack (proof-of-concept)
1. An attacker performs ARP poisoning on all hosts on the subnet to carry out a MITM attack.
2. All traffic on the subnet now passes thro

[2016-03-01 13:45] thngkaiyuan opened #4854 "Instructor: join course: validate name of institution"
Currently, an instructor can amend the name of his institution upon receiving his invitation URL. This might allow situations where an instructor passes off as a staff of a reputable organisation (e.g. NUS).
## Example of an attack
1. An attacker requests for an instructor account by pretending to be a contributor-to-be
2. After receiving his invitation URL, he amends the name of his institution i

[2016-03-01 16:20] manishvishnoi2 commented on #4697
hello sir,
I logged in as a instructor and edited a comment.Its working fine on my machine.
![result](https://cloud.githubusercontent.com/assets/8419629/13433368/92ec5c4c-dff7-11e5-89d9-315958273bf0.png)

[2016-03-01 17:05] thyageshm commented on #4707
@wkurniawan07 @tarun14110, please fix this asap as we are already being affected by this. We are unable to get dev green because of hard coded dates in March

[2016-03-01 18:42] Gourav2906 commented on #4854
hello I am new here can you please help me solve this?

[2016-03-01 18:47] sujeet14108 commented on #3875
Do we just have to  replacing 21 with "responseCommentTable-".length to solve this or something more is needed?

[2016-03-01 18:50] Gourav2906 commented on #4780
@damithc hey i am a newbie here please help me solve this

[2016-03-01 19:09] Gourav2906 commented on #4780
@damithc created a pull request to solve this.

[2016-03-01 19:47] ruchirsharma1993 commented on #4512
Hello Sir,
Can i work on this issue ?

[2016-03-02 01:17] wkurniawan07 commented on #4161
@junhaoyap, allow me to take over this. I've decided that I had enough of this :smiling_imp:.

[2016-03-02 01:24] thyageshm commented on #4274
@kennho this issue has slipped one too many milestones. Please set a milestone for V5.71 or 72 and complete it by then. If this issue is expected to take more time, please post here.

[2016-03-02 01:29] wkurniawan07 commented on #4852
The base URL for generated links are set in `build.properties` so it's up to the deployer's discretion. Or is there another case?

[2016-03-02 01:32] wkurniawan07 commented on #4825
Pushing this to 5.72. I'll try to get it done quick but this issue is not trivial at all (in particular, requires a hell lot of testing) so I might need more time.

[2016-03-02 03:42] damithc commented on #4854
@Gourav2906 if you are new, start with a `d.FirstTimer` issue. Please refer to the 'Contributor Orientation Guide` (link given in our [project home page](https://github.com/TEAMMATES/teammates)) for more guidance on how to get started.

[2016-03-02 03:58] damithc commented on #4852
Perhaps we can use `https` in the `build.template.properties` file?
I'll update the `build.properties` in the live server to use `https` as well.

[2016-03-02 04:09] srajat commented on #4192
Please assign me this task and point out from where this page is generated. Thanks.

[2016-03-02 04:11] damithc commented on #4512
Yes, go ahead. There are no other open PR for this issue. If this is your first issue, I suggest you start with a `d.FirstTimers` issue.

[2016-03-02 04:13] damithc commented on #3875
I think that should be enough @sujeet14108. Any comments @wkurniawan07 ?

[2016-03-02 04:17] damithc commented on #4587
That is an interesting idea @manishvishnoi2. However, TEAMMATES is not a website students visit often/regularly (as opposed to something like Facebook or GitHub), so the need for a notification feed is less.
For this issue, TEAMMATES can show/email a unique string they can use as proof and the same string can be used to locate their action in our log.

[2016-03-02 04:19] damithc commented on #4746
@manishvishnoi2 if you are a new contributor looking for an issue to fix, I suggest you start with an issue labelled `d.FirstTimers`. Please refer to the 'Contributor Orientation Guide (link given in our [project home page](https://github.com/TEAMMATES/teammates)) for more guidance on how to get started.

[2016-03-02 04:20] damithc commented on #4192
@srajat if you are a new contributor looking for an issue to fix, I suggest you start with an issue labelled d.FirstTimers. Please refer to the 'Contributor Orientation Guide (link given in our [project home page](https://github.com/TEAMMATES/teammates)) for more guidance on how to get started.

[2016-03-02 04:33] Gisonrg opened #4858 "Update QUnit framework from v1.10.0 to v1.22.0"
The current QUnit framework we are using is v1.10.0, which is a version around 4 years ago.
According to QUnit, they are removing many globals that we are widely using in our JavaScript test files  (such as `module()` and `test()`) in their upcoming v2.x release. New APIs of QUnit 2.0 are already usable in their latest release last week (v1.22.0). [Upgrade guide](http://qunitjs.com/upgrade-guide-2

[2016-03-02 04:38] srajat commented on #3914
@damithc Thanks for pointing me in the right direction sir. Can i solve this issue then?

[2016-03-02 04:38] yj-soh commented on #3875
As JavaScript isn't compiled, I would recommend putting it as a comment instead.

Alternatively and hopefully, alter the markup and find a way to identify those elements properly.
If that code is still unchanged from that screenshot, honestly, using `parent()` 17 times in that segment alone isn't very helpful for anyone reading it.

[2016-03-02 04:48] junhaoyap commented on #3875
I just had a random thought, if substring always returns the same value ```responseCommentTable``` as a string, wouldn't using a string be much more obvious than selecting it from somewhere and doing a ```.substring(x)```?

[2016-03-02 05:15] damithc opened #4859 "Add 'active member' expectations to the process.md"
Specify requirements to stay as an active member of the core team.

[2016-03-02 06:29] wkurniawan07 commented on #4858
As long as the disruption to other developers can be kept at a minimum level, go ahead and give it a shot :ok_hand:

[2016-03-02 08:07] srajat commented on #4628
Corrected explanation for persistence.xml

#4860

[2016-03-02 10:26] damithc commented on #3914
Go ahead and submit a PR.

[2016-03-02 12:15] kanghj commented on #4541
@Sumei1009, yes go ahead and assign yourself and a milestone

[2016-03-02 12:20] kanghj commented on #4541
@Sumei1009, actually, this is non-trivial, so you should consider doing easier things first until you get more experience.

[2016-03-02 15:35] damithc opened #4864 "AssertionError: Question disappeared"
Actual user abc@fortlewis.edu
Request Method GET
User Agent Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/600.8.9 (KHTML, like Gecko) Version/7.1.8 Safari/537.85.17
Request Url https://teammatesv4.appspot.com/page/instructorFeedbackDelete
Request Path /page
Request Parameters {next::/page/instructorFeedbacksPage?user=abc%40fortlewis.edu, user::abc@fortlewis.edu, courseid::MOB_TEAM_5,

[2016-03-02 16:36] suhasdarsi commented on #4850
Hey I would like to work on this if possible

[2016-03-02 16:37] thyageshm commented on #4820
Release 207
Code Contributions from: @damithc, @bamboo3250, @shiv12095, @sujeet14108, @Sumei1009, @tarun14110, @wkurniawan07, @unyoungwax, @paradite
Review Contributions from: @junhaoyap, @kanghj, @bamboo3250, @LowWeiLin, @thyageshm, @wkurniawan07

Sprint Velocity: 36hrs (code) + 24hrs (review) = 60hrs (total)

[2016-03-02 16:39] suhasdarsi commented on #4357
I would like to work on this

[2016-03-02 16:42] thyageshm opened #4865 "Release V5.71"
Due on: March 8th, 2016

[2016-03-02 17:49] sidd23 commented on #4242
Hi, I would like to work  on this issue. Can I?

[2016-03-02 17:59] belyabl9 commented on #3982
Hi,

Could you assign to me this issue as my [FirstTimers] ?

Thanks in advance

[2016-03-02 18:37] mt10589 commented on #4106
@taniach I would like to work on this.

[2016-03-02 18:48] mt10589 commented on #4127
@LowWeiLin as they are no longer used, does this mean to remove these files?

[2016-03-03 01:18] rclakmal commented on #4596
@damithc Sent a PR, Please review

[2016-03-03 01:49] thyageshm commented on #4820
@damithc assigning task to you until deployment

[2016-03-03 01:51] thyageshm opened #4869 "Update about.html with new contributors until V5.70"

[2016-03-03 02:01] thyageshm commented on #4869
@damithc sir, should we link the contributors to the closed pull requests list? Currently there are some that point to issues, some that point to open PRs.
Or maybe we can open another issue?

[2016-03-03 02:14] thyageshm commented on #4869
@damithc or we can use the "involves" search. Sample link searching my [name](https://github.com/TEAMMATES/teammates/issues?q=involves%3Athyageshm). This shows all issues/PRs where the person has been author/assignee/mentions/commenter

[2016-03-03 02:53] damithc commented on #4869
Yes, we can link to an "involves" search.

[2016-03-03 03:57] thyageshm commented on #4869
ok

[2016-03-03 05:07] paradite opened #4872 "Visitor's map for teammates website"
I would like to add a visitor's map component to the teammates website http://teammatesv4.appspot.com/

It will be a standalone webpage at http://teammatesv4.appspot.com/visitors.html, with link to it on index.html, it can also be integrated into the index.html as part of html.

To implement it, I would need API for accessing the visitor's data from an analytics platform (Google Analytics, or stat

[2016-03-03 05:25] Sumei1009 opened #4873 "Reverse order of rubric question's default labels from descending to ascending"
related to pull request #4721

[2016-03-03 05:32] Sumei1009 opened #4874 "Refactor the class FeedbackRubricQuestionDetails.java to increase the level of SLAP"
related to pull request #4751

[2016-03-03 06:28] LowWeiLin commented on #4127
No, they are still used, but have to be renamed.

[2016-03-03 08:57] kanghj commented on #3982
@belyabl9, you don't need to be assigned to work on this, just submit a pull request when you are ready, or if you want further discussion.

[2016-03-03 08:58] kanghj commented on #4850
@suhasdarsi, you don't have to be assigned to this to work on it, just submit a pull request when you are ready, or if you want further discussion.

[2016-03-03 08:58] kanghj commented on #4357
@suhasdarsi, just submit a pull request when you are ready, or if you want further discussion.

[2016-03-03 09:01] kanghj commented on #4872
@paradite, why would we need this? Can you list the advantages of having this?

@damithc, can you confirm if this feature request is accepted?

[2016-03-03 09:17] damithc commented on #4872
@kanghj  Yes, it's something I asked @paradite to take a look at.
@paradite For now assume the data is hardcoded. i.e. it doesn't have to update dynamically. We'll update it periodically.

[2016-03-03 10:27] damithc commented on #4127
@LowWeiLin can this be at `d.Contributors` level?

[2016-03-03 10:28] LowWeiLin commented on #4127
It requires looking through the code, but contributors should be able to do it.

[2016-03-03 11:11] belyabl9 commented on #3982
Thanks for the explatation. And one more question:
The issue is opened on 15 Jul 2015, so could somebody approve that is is still actual ?
As I see, mentioned <div> is not empty. Should I remove the whole element or just empty "style" attribute ?

[2016-03-03 11:51] damithc commented on #4430
Had another case today.

[2016-03-03 12:41] wkurniawan07 opened #4876 "Decommission verifyHtml(MainContent)WithRetry and merge it with verifyHtml(MainContent)"
Rather than having `verifyHtml(MainContent)WithRetry` in random places. The retry will not be called if the verification is immediately successful so this will not slow down any test.

[2016-03-03 12:54] wkurniawan07 opened #4877 "InstructorCommentsPageUiTest fails in dev due to dates"
![screen shot 2016-03-03 at 8 51 26 pm](https://cloud.githubusercontent.com/assets/7261051/13494855/ef30bc24-e181-11e5-87fe-52acf7d41cc6.png)
The ordering of the comments used to be switched because the added response comment was dated before the one added on 1 Mar '16 (now it's already past that date).

[2016-03-03 13:01] rclakmal commented on #4596
@damithc @thyageshm New PR available for review.

[2016-03-03 20:12] #4877 closed

[2016-03-03 23:56] RatulGhosh commented on #4854
Can I use web crawler to gather information about the institution?

[2016-03-04 01:18] kanghj commented on #3982
@belyabl9, I believe just removing the empty 'style' attribute is enough for this issue.

[2016-03-04 01:18] damithc commented on #4854
Not necessary. Just need to validate against the one previously provided.

[2016-03-04 02:32] LowWeiLin commented on #4831
Does the user have any active courses when this occurred? I can't think of a good reason why courseId is empty in the POST request.

[2016-03-04 03:26] damithc commented on #4831
Apparently, it's the same user, with the same parameters. Yes, he has two active courses.

{endtime::24, graceperiod::15, starttime::10, instructions::Please answer all the given questions., resultsVisibleFromButton::later, fsname::, timezone::-6, fstype::TEAMEVALUATION, startdate::26/02/2016, sessionVisibleFromButton::atopen, enddate::, user::abc, courseid::, sendreminderemail::FEEDBACK_CLOSING//

[2016-03-04 04:30] damithc opened #4887 "InstructorCommentsPageUiTest failing on dev server"
line 201 `commentsPage.verifyHtmlMainContent("/instructorCommentsPageAddFrc.html");`

![image](https://cloud.githubusercontent.com/assets/1673303/13518057/c371e7ec-e204-11e5-8643-80e651b3da5b.png)

[2016-03-04 04:35] damithc opened #4888 "InstructorFeedbackResultsPageUiTest failing on dev server"
Looks like the same problem as #4817
![image](https://cloud.githubusercontent.com/assets/1673303/13518116/76b8b07e-e205-11e5-9ca4-65b7ee2fafcb.png)

line 469 `resultsPage.verifyHtmlMainContent("/instructorFeedbackResultsFilteredBySectionB.html");`

[2016-03-04 04:37] LowWeiLin commented on #4831
Will need to check if the ui has any problems when the instructor has no permissions to add a session.

[2016-03-04 05:40] damithc commented on #4161
@wkurniawan07 go ahead.
Still failing at V5.70

[2016-03-04 05:44] damithc commented on #4796
Still failing at V5.70

[2016-03-04 05:49] damithc commented on #4725
Still failing at V5.70

[2016-03-04 06:03] damithc opened #4889 "instructor/admin search: results are not highlighted if the search words are in double quotes"
e.g searching for `"Jane Doe"` will not highlight neither `Jane` nor `Doe` in the results

[2016-03-04 06:09] damithc commented on #4820
Deployed.

[2016-03-04 06:09] #4820 closed

[2016-03-04 06:14] damithc opened #4890 "instructor/admin search: better matches can be missing from results"
Let's say I search for `John Doe`. The result contains hits for `John` (e.g. `John Harvey`) and `Doe` (e.g. `Jean Doe`), but the intended target `John Doe` could be missing from the results even if that person exists in the database.

[2016-03-04 06:17] wkurniawan07 commented on #4887
This should've been fixed in latest master...

[2016-03-04 06:26] damithc commented on #4887
Yes that's what I thought too, but looks like it slipped through? I even cleaned the project and ran it again to make sure.

[2016-03-04 06:46] wkurniawan07 commented on #4887
If I'm not mistaken this is not part of 5.70. That might be the reason.

[2016-03-04 06:50] damithc commented on #4887
yup, that must be the reason. I was testing V5.70

[2016-03-04 06:50] #4887 closed

[2016-03-04 06:51] damithc commented on #4888
@wkurniawan07 this must be fixed as well, right? Close if so.

[2016-03-04 06:53] wkurniawan07 commented on #4888
#4880 will fix it so it's safe to close as well.

[2016-03-04 06:53] #4888 closed

[2016-03-04 07:38] #4780 closed

[2016-03-04 11:15] #4538 closed

[2016-03-04 11:15] #4478 closed

[2016-03-04 11:15] #4628 closed

[2016-03-04 13:08] RatulGhosh commented on #4854
Sir, we can put valid college names in DB and he/she has to select from that . Is there any other way to check the validity in real time ? Or we can ask the user to enter a college name and put it in the DB once it is verified, but I guess the latter is not real time. Sir I need some suggestion before I start solving it.

[2016-03-04 13:53] damithc commented on #4854
@RatulGhosh this issues requires a bit more knowledge of how things work. Why don't you start with a `d.firstTimers` issue or a `d.Contributors` issue?

[2016-03-04 15:10] RatulGhosh commented on #4854
sir I am looking to apply for GSoC. Can you please tell how should I contribute ?
I had successfully set up the  developer environment and started with #1563 and #4875.

[2016-03-04 15:48] wkurniawan07 commented on #4383
I'm un-assigning myself and reducing this to `d.Contributors` because the issue's difficulty has been reduced to that level.

[2016-03-04 16:00] damithc commented on #4854
@RatulGhosh shall we discuss the GSoC this separately as that is not related to this issue? You can open a new issue for that (yes, we use issues for discussions).

[2016-03-04 16:44] kanghj commented on #4430
Do we have more information about the instructor, did the instructor manage to get the action to work in the end?

[2016-03-04 19:18] aayushchandna opened #4894 "Query Regarding Google Summer of Code"
Hey, this is my first attempt at Gsoc. I have a fair experience in coding and i think i can contribute to TEAMMATES.
If i want to know more about the project of my choice and gain further insight as to what are the expectations from the same, whom should i reach out to? Can someone please help.
Thanking in anticipation.

[2016-03-04 21:38] junhaoyap commented on #4889
We should extend this to single quotes ```'John Doe'``` too, perhaps?

[2016-03-04 21:40] junhaoyap commented on #4894
Hello, thank you for your interest in contributing to Teammates - you can find out more about contributing to Teammates as part of the GSoC here at https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true

If there are any more questions feel free to reach out again here and we will respond promptly!

[2016-03-04 22:06] belyabl9 commented on #4622
Hello @damithc,

Could you please clarify steps to reproduce this issue ? I've tried to add new student and edit existing with slash in name. After that I clicked 'Download Students List' on 'Course Details' page, but .csv file has correct symbols. Issue is not new, so probably it is not actual anymore or I missed something.

Thanks in advance.

[2016-03-05 01:44] damithc commented on #4622
Steps:
1. Enroll a student who has a `/` in the name
2. Download the results of a session in that course

[2016-03-05 01:45] damithc commented on #4889
Yes, it should cover all symbols that can be used in search.

[2016-03-05 01:47] damithc commented on #4430
Didn't hear anything from the user. Could it be a case of browser auto-loading a stale page from a previous browsing session?

[2016-03-05 04:08] damithc commented on #1563
Suggested new message:

{in red, bold, normal size letters} **Oops! Your Google account is not known to TEAMMATES.**

{normal letters}
To access a course on TEAMMATES, first you need to wait till an instructor adds you to that course and TEAMMATES sends you instructions on how to access that particular course in TEAMMATES.

If you 'joined' the course in TEAMMATES using a Google account before, but

[2016-03-05 04:20] damithc opened #4896 "No line breaks in severe log alerts"
This problem doesn't seem to be fixed yet (this is from V5.70):
![image](https://cloud.githubusercontent.com/assets/1673303/13545614/8c3fe080-e2cc-11e5-8913-e19c2c3eb21d.png)

[2016-03-05 04:24] wkurniawan07 commented on #4896
As I expected, this case was missed before. This needs only a one-liner fix. Are there other stack traces without line breaks that start with something different (i.e not "Crash report failed to send. Detailed stack trace:")?

[2016-03-05 05:08] damithc commented on #4896
Forwarded three alert emails to you and @thyageshm.

[2016-03-05 05:21] Einsteino opened #4897 "New contributor [Sri Aurobindo]"
Hello! I finished phases A-D, and am creating an issue here as the contribution guide suggests.

Link to app: https://4-18-dot-teammates-1203.appspot.com
Link to fork: https://github.com/Einsteino/repo
UI change: ( Pipes | between Total, Opened, Closed, etc. counts)
![image](https://cloud.githubusercontent.com/assets/8556582/13545831/d4292dec-e2be-11e5-995b-fe9cb3586fd5.png)

Name: Sri Aurobindo M

[2016-03-05 05:36] wkurniawan07 commented on #4896
Received, they're exactly where I expected it to occur.

[2016-03-05 05:51] sujeet14108 commented on #1563
@damithc Is this ok?
![screenshot from 2016-03-05 11 20 12](https://cloud.githubusercontent.com/assets/9781422/13545978/477416ea-e2c4-11e5-8f52-0a72299b468b.png)

[2016-03-05 08:33] #4848 closed

[2016-03-05 16:50] tarun14110 commented on #4889
The search string be like `Tarun "yadav" ` . So in this case, `tarun` is highlighted whether it exists as substring or full string anywhere on search result. Do `yadav` should work the same way, Or only highlight wherever its exists as full word.
![screenshot from 2016-03-05 22 11 03](https://cloud.githubusercontent.com/assets/12219700/13548861/d16bdfc6-e31f-11e5-85ee-0074e5f08008.png)

Here `taru

[2016-03-05 17:34] RatulGhosh commented on #4894
sir, I am looking to apply for GSoC.
I had successfully set up the developer environment and started with #4512 , #1563 and #4106
I want to discuss about some of the listed projects and where should I write the  project proposal.

[2016-03-05 18:15] aayushchandna commented on #4894
Hi sir,
Thanks for responding. I am interested in the project Email Customizer. Before i start drafting the proposal i want to know further about the expectations from the project, apart from those mentioned already. Should i contact the mentor directly ?  Also please guide as to how can i contact the mentor?

[2016-03-05 18:35] chen-zhuo opened #4904 "Failed AdminHomePageUiTest due to strict timeout"
This test case fails due to timeout at `waitForAjaxLoaderGifToDisappear()` in `AppPage.java`. If I increase the value of `test.timeout` in `test.properties` file from 15 to 35, the test case can pass.

I remember running all tests in January this year and I could pass all tests within a few tries. Probably the new version is inefficient? Or should we simply increase the value of `test.timeout`?

F

[2016-03-05 19:17] paradite commented on #4872
@damithc
I have developed a proof of concept deployed at [GAE](http://4-18-dot-teammates-paradite.appspot.com/visitors.html)

For integrating this into the website, I don't think it is a good idea to add it to header as there is not enough space (otherwise we need to change a lot of current css width values), so my idea is to leave it as a separate page and add a link to it on one of the pages (su

[2016-03-05 19:26] chen-zhuo commented on #3994
Where should we move this method to? I am thinking of moving it to `Utils.java`. Is it okay? If yes, I will proceed to create a PR.

[2016-03-05 20:23] raghav555 opened #4906 "JSP Warnings"
Hi i was running the teammates code on my machine(Windows,Eclipse 64 bit).I had followed till step 4 on https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md
but then there still remained some 39 warnings and 0 errors.
![jsperror](https://cloud.githubusercontent.com/assets/8651205/13550131/40e1f2de-e33c-11e5-8ee0-30d9b0dd2a25.png)
Nevertheless i moved to step 5 and ran the projec

[2016-03-05 20:40] rclakmal commented on #4890
@damithc Tried reproducing this by adding students with exact 3 names. Searched for `John Doe` and I could see all 3 results.
![snip20160305_1](https://cloud.githubusercontent.com/assets/794011/13550291/d233da9e-e31a-11e5-8ee0-21def710c069.png)

[2016-03-05 21:17] rclakmal commented on #3985
@damithc @taniach What if we skip the `sanitizeForSearch` after checking whether the search text is **only an email**  & nothing else ?

[2016-03-05 21:18] chen-zhuo commented on #4906
Looks like your GAE is configured incorrectly. The location of `appengine-web.xml` is at `<teammates>/src/main/webapp/WEB_INF/appengine-web.xml`, but your program is trying to look at `<teammates>/WEB_INF/appengine-web.xml`. Can you show your full error stack trace?

Make sure you followed all instructions correctly, refresh your Eclipse workspace, clean all projects, and then try again.

[2016-03-05 22:04] arshdkhn1 opened #4908 "Libraries are missing"
Lib folder is missing, have you done this intentionally or its really missing ?  I would suggest  move to maven

[2016-03-05 22:31] yj-soh commented on #4908
Hello @arshdkhn1, are you setting up the development environment?
Have you taken a look at [how to set it up](https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md)?

[2016-03-05 22:36] arshdkhn1 commented on #4908
Yes I am setting dev environment , but getting build path error as Lib folder is missing
![error](https://cloud.githubusercontent.com/assets/16819670/13550999/b84291e4-e350-11e5-97ad-0b441c7a582b.png)

[2016-03-06 01:26] yj-soh commented on #4908
If you have set up the development environment, you should have the lib folder available.
Please follow the steps in the link above without skipping any.

[2016-03-06 02:07] damithc commented on #4904
I too had to increase the test timeout to pass tests at V5.70 which was never an issue before. Not sure what's going on.

[2016-03-06 02:14] damithc commented on #4890
I think this depends on the number of hits. I suspect the current one gives the first n results, not the best n results. If there are enough hits for the single words, hits for multiple words could get left out.

[2016-03-06 02:29] damithc commented on #4872
Can we not show the visit count? It's basically a boolean: is this country using TEAMMATES or not.

[2016-03-06 02:31] damithc commented on #4894
@aayushchandna Our **Instructions for GSoC Applicants** has info on how to contact us regarding specific project ideas.

[2016-03-06 02:34] damithc commented on #4889
I supposed we can highlight even partial words.

[2016-03-06 03:39] #3962 closed

[2016-03-06 03:39] #3980 closed

[2016-03-06 03:51] kanghj commented on #4906
@raghav555, did you change anything not specified in the setting up guide?

Do also have a look at the troubleshooting guide: https://docs.google.com/document/d/1_p7WOGryOStPfTGA_ZifE1kVlskb1zfd3HZwc4lE4QQ/pub?embedded=true

[2016-03-06 07:31] paradite commented on #4872
@damithc sure

[2016-03-06 08:02] paradite commented on #4872
@damithc I have made the stats boolean and removed the month since it does not matter in this case:
http://4-18-dot-teammates-paradite.appspot.com/visitors.html

[2016-03-06 10:27] #4869 closed

[2016-03-06 10:30] damithc commented on #4872
Looks good. Go ahead and submit a PR.

[2016-03-06 10:48] paradite commented on #4872
@damithc would you like to populate it with real data first?

[2016-03-06 10:50] paradite commented on #4872
and what about adding the link to page?

[2016-03-06 11:19] wkurniawan07 commented on #4904
There's a test case for adding multiple instructors added pretty recently. One instructor is enough to eat up the entire 15 secs, with more it's expected to need more time than that.

[2016-03-06 11:23] wkk91193 opened #4912 "Interest in contributing to GSOC project"
Hi!
I'm a second year student of Informatics Institute of Technology Sri Lanka, and I hereby express my willingness to contribute to projects "Team profile" ,"Feedback resume", "Tag and search students"

My fields of expertise are version controlling, Object Oriented programming&designing, design patterns,java web applications,javascript,angularjs, Object Relational Mapping(ORM),handling apache to

[2016-03-06 11:54] tarun14110 opened #4913 "Getting Error while running TeamMates application"
Project in eclipse shows no error. But while running I am getting the below error.
Everything was running fine for me till I updated firefox to a new version. My test cases were failing afer updating firefox. After a little bit of research I found that I need to update the selenium version . So I added selenium `selenium-server-standalone-2.52.0.jar` . From there problem started . I reverted back

[2016-03-06 12:07] wkurniawan07 commented on #4906
Two things here:
- The JSP warnings are fine to be ignored
- The error seems to be like what @chen-zhuo has mentioned. Can you go to `.settings/com.google.gdt.eclipse.core.prefs` in your project folder and tell us what the value for `warSrcDir` is?

[2016-03-06 12:10] wkurniawan07 commented on #4913
Can you navigate to the app in localhost? If it's a testing-specific error, I think it's caused by the new Firefox version. Selenium 2.46.0 doesn't support anything beyond 42.0 yet, and upgrading to new one is not a trivial task.

[2016-03-06 12:17] tarun14110 commented on #4913
yeah, newer firefox version doesn't support selenium 2.46.0. No, I am not able to access app on localhost.

[2016-03-06 12:31] wkurniawan07 commented on #4913
Hmm do you remember what you did after upgrading Firefox that might affect this? The line `Caused by: java.io.IOException: No such file or directory` might suggest that you've modified some directory that you shouldn't.

[2016-03-06 12:32] #4837 closed

[2016-03-06 13:33] wkurniawan07 opened #4914 "Decommission verifyStatusWithRetry and merge it with verifyStatus"
Similar idea to #4876. I need this to be done before #4825 can proceed.

[2016-03-06 13:42] damithc commented on #4904
I see, mystery solved :-)

[2016-03-06 13:51] damithc commented on #4872
Here's the list of institutes. No need to add the link just yet. Get the map up so that we can have a look first. [2016-02-institutues.txt](https://github.com/TEAMMATES/teammates/files/160342/2016-02-institutues.txt)

[2016-03-06 14:22] tarun14110 commented on #4913
@wkurniawan07 I hadn't touched any directory. And it don't show any change in the repository on `git status`. Should I again do setup ?
And it will be better to update to latest Selenium version, if there is nothing specific attached to the present Selenium version.

[2016-03-06 14:48] #3979 closed

[2016-03-06 14:48] #4876 closed

[2016-03-06 14:48] #4858 closed

[2016-03-06 15:00] wkurniawan07 commented on #4913
If all else fails, then perhaps setting up again is the only thing to do.
As for updating, we update libraries as per needed (usually 1-2 times per year). While there's nothing specific attached to 2.46.0, there's nothing specific attached to the newest version either. Since we don't use automated build tool, we can't just update libraries "whenever we wish" because all active contributors/develop

[2016-03-06 15:47] belyabl9 opened #4916 "New contributor [Serhii Beliablia]"
Hello, TEAMMATES community,

Link to app: [https://teammates-belyabl9.appspot.com/](https://teammates-belyabl9.appspot.com/)
Link to fork: [https://github.com/belyabl9/teammates](https://github.com/belyabl9/teammates)
UI changes (border separator between columns):
![image](https://cloud.githubusercontent.com/assets/6876210/13555171/cb2d674a-e3c1-11e5-8c01-780a59566c69.png)
Name: Serhii Beliablia
S

[2016-03-06 15:58] RatulGhosh opened #4917 "Getting Error while running TeamMates application in localhost"
I followed as the steps given in "Setting up the dev server "[https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md](url)

Till step 5 it was fine but in step 6 while entering credentials for an instructor, I got an error "Cannot send Ajax Request !"
![capture1](https://cloud.githubusercontent.com/assets/8985903/13555274/088b2562-e3e2-11e5-934c-0d60225f88f5.PNG)

Also the course

[2016-03-06 16:09] Pulasthih opened #4918 "New contributor self intro Pulasthi Harasgama"
Hi, I was following the "Contributor Orientation Guide" and having completed phases A-C, I am creating an issue here as suggested in phase D.

Link to my App: https://teammates-pulasthih.appspot.com/
Link to my Fork: https://github.com/Pulasthih/teammates
Screenshot of the change:
![changedui](https://cloud.githubusercontent.com/assets/8380805/13555098/b522b204-e3dd-11e5-99a5-ed21b36c05ff.JPG)

Th

[2016-03-06 18:07] RatulGhosh opened #4919 "New contributor self intro [Ratul Ghosh]"
As suggested by the  "Contributor Orientation Guide" ,I am creating an issue here as suggested in phase D.
Link to my App: https://teammates-ratul.appspot.com
Link to my Fork: https://github.com/RatulGhosh/teammates
Screenshot of the change:
![capture](https://cloud.githubusercontent.com/assets/8985903/13555912/efcd9bb6-e3f2-11e5-8cf9-ba86b75e309f.PNG)
Name: Ratul Ghosh
Short Intro: My name is Rat

[2016-03-06 19:49] junhaoyap commented on #3994
Sounds good - I saw the pull request it looks ok too, thanks!

[2016-03-06 19:54] junhaoyap commented on #4894
@RatulGhosh you should be opening your own issue page and I see you have done that so good job!

@aayushchandna As above, the document that I have linked you a few days ago should have all the info an applicant needs to apply for GSoC to Teammates

[2016-03-07 01:24] damithc opened #4920 "admin add account : request times out"
This happened 4 times in a row:

teammates.logic.core.Emails sendErrorReport: Crash report failed to send. Detailed error stack trace:
javax.jdo.JDODataStoreException: Datastore Failure
	at org.datanucleus.jdo.NucleusJDOHelper.getJDOExceptionForNucleusException(NucleusJDOHelper.java:304)
	at org.datanucleus.jdo.JDOPersistenceManager.getObjectById(JDOPersistenceManager.java:1676)
	at org.datanucleu

[2016-03-07 01:42] damithc commented on #4917
Actually, I got this from the live server as well. Created issue #4920

[2016-03-07 01:43] damithc commented on #4920
This is more critical than I thought at first. Seems we are getting it even on dev server. There is no way to create new accounts on the live server now.

[2016-03-07 01:50] damithc commented on #4916
**Welcome to the TEAMMATES contributor community Serhii** :-)
Please refer to our  'Instructions for Google Summer of Code Applicants' (link given in our [project home page](https://github.com/TEAMMATES/teammates)) for guidance.

[2016-03-07 01:51] damithc commented on #4912
**Welcome to the TEAMMATES contributor community Kumaranath** :-)
Please refer to our  'Instructions for Google Summer of Code Applicants' (link given in our [project home page](https://github.com/TEAMMATES/teammates)) for guidance.

[2016-03-07 02:34] kanghj commented on #4904
Actually, we can take this chance to do a minor optimisation in <code>persistDataBundle</code> to update respondents for each session only once.

[2016-03-07 02:53] kanghj commented on #4920
I am unable to replicate this on my dev server. In the stacktrace though, it seems that the error is occuring in GateKeeper, and not specifically on the create account action. Have there been other pages affected similarly recently?

[2016-03-07 03:27] damithc commented on #4920
yes, there are occasional 'datastore failure' severe logs, a few times a day. But this one is repeatable on the live server. I simply can't create new accounts now. Noticed it a few times during dev server testing (in admin add account test).

[2016-03-07 03:34] damithc commented on #4920
Emailed you the full log. Too much logging could be the reason?

[2016-03-07 03:37] damithc commented on #4904
Actually, account creation taking more than 15s on dev server is some cause for concern. Can it be optimized?

[2016-03-07 03:39] kanghj commented on #4904
The updating of respondents can certainly be optimised. We can also consider shifting creation of the demo course to the task queue instead.

[2016-03-07 03:44] LowWeiLin commented on #4920
Unable to reproduce on dev, but it does take a really long time. Maybe we could disable creating the demo course as a quick fix?

[2016-03-07 03:46] kanghj commented on #4904
Reopening this issue since it ought to be resolved in some way

[2016-03-07 04:18] LowWeiLin commented on #4920
I think i found the issue. This loop in BackDoorLogic persistDataBundle() was doing unnecessary work,
which made creating the demo course 3-4 times slower. This was introduced in PR #4818...
[code]

[2016-03-07 04:21] bamboo3250 commented on #4920
I also think this is timeout issue. I set a timer and it got interrupted after 60s.
`NestedThrowablesStackTrace:
com.google.appengine.api.datastore.DatastoreFailureException: The thread has been interrupted and the request has timed out
`

[2016-03-07 04:29] kanghj commented on #4920
@bamboo3250, do you want to fix this? Fix this or #4904, the lines, mentioned by @LowWeiLin and in the other issue, causing this timeout can be optimised, extract out all the session names and course ids from the responses before doing the backdoor operation

[2016-03-07 04:36] bamboo3250 commented on #4920
@kanghj I don't think I'm ready to do a hot fix on Feedback Response area atm.
I just want to mention that we had the same issue a few weeks ago #4784

[2016-03-07 04:51] kanghj commented on #4920
@bamboo3250, ok I did remember something like that but couldn't find it. Perhaps it's caused by too many writes in a short time period time.

@unyoungwax, do you want to fix this?

[2016-03-07 04:59] jkt001 commented on #4676
Once I have finished working with #4752 and #4819 (i.e. they are merged / mergeApproved), I will work on this. Sorry for delaying this for so long.

[2016-03-07 05:06] wkurniawan07 commented on #4920
Joining the party quite late.
The update respondents loop has been there since long ago, but changing from iterating sessions to iterating responses (which indeed was done #4818) did make it slower. I don't think we can just claim it "unnecessary".

[2016-03-07 05:22] wkurniawan07 commented on #4161
Taking over this as agreed.

[2016-03-07 06:34] damithc commented on #4920
@unyoungwax we need an immediate fix. If you are not sure you can reach a fix within 24 hours, please let us know so that someone else can take the issue.

[2016-03-07 06:39] damithc commented on #4920
Just realized that I can use an older version on the live server (it has the last 10 versions) to overcome this issue. So it is no longer critical. But fix it soon, at least by V5.72

[2016-03-07 07:09] junhaoyap commented on #4918
Welcome to the TEAMMATES contributor community @Pulasthih, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

[2016-03-07 07:09] junhaoyap commented on #4919
Welcome to the TEAMMATES contributor community @RatulGhosh, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

[2016-03-07 07:11] junhaoyap commented on #4912
Welcome to the TEAMMATES contributor community @wkk91193, as mentioned, it would be great if you would look through the document and see how you can move forward into contributing to TEAMMATES for GSoC -

Do also look at the Contributor Orientation Guide on our project home page for orienting yourself into contributing to TEAMMATES :)

[2016-03-07 07:14] junhaoyap commented on #4161
Yes please - this has been on my mind for awhile now but contributing here via pull requests hasn't been my priority for awhile and I have only been able to make time to contribute by answering queries and providing reviews on the various pull requests, I appreciate the help @wkurniawan07!

[2016-03-07 07:16] junhaoyap commented on #3671
Un-assigning myself from this for now - haven't been able to make time to do pull requests during this period of working full time and taking lessons during NOC

For now, I will continue to answer queries on the issue tracker and provide reviews on the pull requests tabs

[2016-03-07 07:17] junhaoyap commented on #4919
Apologies @RatulGhosh I jumped to conclusion that you're looking forward to applying to contribute to TEAMMATES under GSoC without first asking you - is that the plan or are you just looking to contribute to TEAMMATES as a form of open source contribution?

[2016-03-07 07:56] junhaoyap opened #4921 "Instructor: edit session: add a test to cover start time not being given a default value at 11pm"
Related to #4909 - add a test to prevent regression

[2016-03-07 08:41] #3914 closed

[2016-03-07 08:41] #4850 closed

[2016-03-07 08:41] #3926 closed

[2016-03-07 08:49] damithc commented on #4919
Yes, he is hoping to apply for GSoC :-)

[2016-03-07 09:14] Pulasthih commented on #4357
Added a PR

[2016-03-07 10:10] #4838 closed

[2016-03-07 10:22] #3982 closed

[2016-03-07 10:26] belyabl9 opened #4925 "Unsupported pseudo: hover"
Hi,

I've found some kind of bug while using 'Session Results' page. It is observed using Chrome and Firefox.
How to reproduce: move mouse pointer between different values of 'Giver' column

Actual result:
Quite frequently the following exception is observed in browser console:
Uncaught Error: Syntax error, unrecognized expression: unsupported pseudo: hover
ga.error @ jquery.min.js:2ga.selectors.f

[2016-03-07 11:15] tarun14110 commented on #4913
@wkurniawan07
I again setup the application. But I am getting 20 fails on running tests, and on re-running 18 fails and 2 skips. There were many mismatches in the expected and actual. What may be the reason ?

![screenshot from 2016-03-07 16 37 21](https://cloud.githubusercontent.com/assets/12219700/13567777/5275ee5e-e483-11e5-8d35-78ab624c58a8.png)

logic.EmailsTest
![screenshot from 2016-03-07 1

[2016-03-07 14:41] RatulGhosh opened #4928 "Ability to preview emails before sending"
I want to discuss  about some of the features in the Email Customizer project like how to preview emails before sending.Should I send a MimeMessage to the default email client , using the Desktop API with the URI constructor ( In Java 1.6 we have a standard way to open the default mailer) so I can preview it before sending in JavaMail or are there any better ways.

[2016-03-07 14:48] damithc commented on #4928
@RatulGhosh Try to write the proposal based on the details given in the ideas page. It’s OK if your proposal is slightly different from what we had in mind. If your initial proposal is good enough to interest us, we’ll contact you during the application evaluation period (after the submission deadline) to hammer out further details before doing the final selection. If our project idea is not clear

[2016-03-07 17:00] kanghj commented on #4913
@tarun14110, Can you check that that you are using a Java 7 JDK (in Window->Java->Installed JREs) and not a Java 8 one? If changing to Java 7 resolves the issue, can you still list down or take a screenshot of the failing tests here (just the names will do)?

[2016-03-07 18:25] rclakmal commented on #4921
@junhaoyap @damithc IMO, the test case doesn't need to be specific for 11PM. We should check whether a given a time we run the test case, does it show the relevant option in the drop down ? Or a test like this already exist ?

[2016-03-07 20:16] belyabl9 commented on #4449
Hello,

I've started to work on this enhancement and got such result:
![image](https://cloud.githubusercontent.com/assets/6876210/13581777/37e51ab4-e4b1-11e5-8035-7321fc5c2705.png)

I need your approve about the following:
1. Is provided UI suitable from the UX point of view ? I mean table representation, column order.
2. Sorting. Do I understand correctly that you use sorting based only on one co

[2016-03-07 21:46] #4596 closed

[2016-03-08 00:33] damithc commented on #4449
1. You can also consider adding the email address column.
2. Yes, sorting by one column is ok.

[2016-03-08 00:35] damithc commented on #4921
I believe it is already tested for typical cases, but not for this corner case.

[2016-03-08 03:36] #4059 closed

[2016-03-08 03:36] #4801 closed

[2016-03-08 03:36] kanghj opened #4932 "Remove currentPage parameter from instructorFeedbackCopyModal.jsp"
Refer to #4749, in the TODO described in <code>InstructorFeedbackEditCopyAction.java</code>. The parameter is no longer used and can be removed from the form. The constant for the parameter name can be removed if it is not used elsewhere.

[2016-03-08 03:38] kanghj commented on #3776
This is also fixed by #4749

[2016-03-08 03:38] #3776 closed

[2016-03-08 08:15] wkurniawan07 commented on #4914
Need to put this on hold on the account of #4922.

[2016-03-08 08:16] wkurniawan07 commented on #4825
As the result this is affected, too.

[2016-03-08 11:07] Devmassnk opened #4934 "Query Regarding Gsoc 2016."
Hello
I have doubt regarding Gsoc. Do TeamMates select student for gsoc, other then NUS university. I looked over past selected students, they all were from NUS. It will be great if somebody can confirm .

[2016-03-08 12:39] #4920 closed

[2016-03-08 14:14] #4106 closed

[2016-03-08 14:20] damithc opened #4935 "Add filters to admin account management page"
The current one loads all accounts at the same time. We should add filters to narrow down the result set. If the result set is too big, it should be paginated.

[2016-03-08 14:33] LowWeiLin opened #4936 "Add transient keword to createdAt and updatedAt in Student"
This prevents the fields from being converted to json during testing. Can remove code in equalizeIrrelevantData in BaseComponentTestCase.

[2016-03-08 14:34] YongJieYongJie opened #4937 "New contributor self intro [Khoo Yong Jie]"
*inserts token... here comes a new contributor!*

Hello everyone!
I'm **Yong Jie**, currently taking a minor in CS at NUS.
I hope to participate in TEAMMATES as part of GSoC.

I took [CS2103][1] last semester and is taking [CS3226][2] now.
I have always been interested in coding, and have written stuff that ranged from useful to random and perhaps even semi-legal (i.e., bots).

I've used **Java**

[2016-03-08 14:35] damithc commented on #4934
No, we don't limit slots to NUS students only. In fact, last year we had 2 non-NUS students in our request for slots, but they got cut-off because we got fewer slots. Having said that, the project is based in NUS, so we get lot of strong applications from NUS students.

[2016-03-08 14:51] samatdav opened #4938 "Starting the dev server"
Hi there!
I believe I successfully completed all the steps [here ](https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md) including all prerequisites and partly in setting up  the dev server (until 5th step). I successfully launched website and can see it at localhost:8888 the console says "Dev App Server is now running".
The problem is that I cannot continue the guide as link ht

[2016-03-08 14:54] tarun14110 commented on #4913
@kanghj  Thanks a lot. Java 7 resolved most of the issues.

But I have ran tests many today, I got between 6-12 failures. This time now on running and on and re-running test cases I am left with 4 failed tests. This is the first time I reached to such low number of failed tests :-p.

@wkurniawan07   Could you help me with this ?

browsertests.InstructorCommentsPageUiTest
![screenshot from 2016-03-

[2016-03-08 15:04] #4896 closed

[2016-03-08 15:04] #4018 closed

[2016-03-08 15:18] damithc opened #4939 "Email alerts sent out for private sessions"
Looks like a student received an email submission alert for a session that is marked 'private'. Not sure it was marked private after the email was sent out.

[2016-03-08 15:36] kanghj commented on #4938
@samatdav, Good work on completing most of the steps! For that particular error, check that you have correctly renamed both build.properties and appengine-web.xml. If you already have set that up correctly, then try refreshing and cleaning the project in eclipse.

[2016-03-08 15:37] #3875 closed

[2016-03-08 15:37] #4006 closed

[2016-03-08 15:37] #4719 closed

[2016-03-08 15:54] wkurniawan07 commented on #3997
Let's do this. Since our stand in "not using XHTML" is clear, we should be consistent, i.e no checked="checked".
That aside, the HTML style guide is severely outdated. And poorly enforced as well (how many variations of naming conventions are there in the wild?).

[2016-03-08 16:09] thyageshm commented on #4865
Release 208
Code Contributions from: @Einsteino, @mt10589, @kanghj, @Gisonrg, @thngkaiyuan, @bamboo3250, @rclakmal, @mikelimantara, @wkurniawan07, @srajat, @RatulGhosh, @belyabl9, @sujeet14108, @theaverageguy, @thyageshm, @ujjwalwahi, @unyoungwax
Review Contributions from: @damithc, @kanghj, @JosephineKwa, @junhaoyap, @bamboo3250, @taniach, @thyageshm, @wkurniawan07, @yj-soh

Sprint Velocity: 42 h

[2016-03-08 18:28] junhaoyap commented on #4937
Welcome to the TEAMMATES contributor community @YongJieYongJie, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

It'll also be great if you can pick some issues and start contributing!

[2016-03-08 18:56] pankajd94 opened #4940 "New contributor Pankaj Dandwani"
a)Link to repo
https://github.com/pankajd94/teammates.git

b)Link to app
https://github.com/pankajd94/teammates/tree/tinker

c)I am Pankaj Dandwani From India ,i am interested in contributing to Teammates.I have made minor changes in teammates website ui so as to make it little bit mobile friendly.I am interesred in "tag and Search Student" project listed in Gsoc 2016 under teammates.

d)Screeshot

[2016-03-08 19:06] #4940 closed

[2016-03-08 19:34] pankajd94 opened #4941 "New contributor [Pankaj Dandwani]"
a)https://github.com/pankajd94/teammates/tree/tinker

b)I am Pankaj Dandwani From India ,i am interested in contributing to Teammates.I have made minor changes in teammates website ui so as to make it little bit mobile friendly.I have made changes in navigation header.I am interesred in "tag and Search Student" project listed in Gsoc 2016 under teammates.

c)Screeshots
**Sreenshot 1:Before Modific

[2016-03-09 03:52] thyageshm opened #4943 "Release V5.73"

[2016-03-09 03:54] thyageshm opened #4944 "Release V5.72"

[2016-03-09 03:57] thyageshm opened #4945 "Update about.html with contributors from V5.71"

[2016-03-09 04:18] YongJieYongJie commented on #4242
Since *contributing.md* is shown when an issue is opened and when a pull request is submitted,
I suggest we keep it **short and scannable** to serves as a quick reminder.
(This will be in line with GitHub's [blog post][blog] on suggested usage, and also similar to HubTurbo's [contributing.md][con]).

[blog]: https://github.com/blog/1184-contributing-guidelines
[con]: https://github.com/HubTurbo/Hu

[2016-03-09 06:29] kanghj commented on #4913
@tarun14110, I think you can make new issues for InstructorFeedbackEditPageUiTest, and InstructorCommentsPageUiTest. Post the stacktrace, screenshots and relevant information on the new issues. These are caused by some of our tests having poor reliability. We should improve the reliability of those tests. For InstructorFeedbackResultsPageUiTest, #4564 seems to be about the same problem.

I think y

[2016-03-09 06:35] bamboo3250 commented on #4904
Closing this issue since it has been addressed via #4924

[2016-03-09 06:35] #4904 closed

[2016-03-09 07:08] junhaoyap commented on #4941
Welcome to the TEAMMATES contributor community @pankajd94 , good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

It'll also be great if you can pick some issues and start contributing!

[2016-03-09 07:18] damithc commented on #4564
Getting a similar error (on dev server) from a different part of the test:

java.lang.AssertionError:
	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:24)
	at org.testng.AssertJUnit.assertFalse(AssertJUnit.java:41)
	at org.testng.AssertJUnit.assertFalse(AssertJUnit.java:49)
	at teammates.test.pageobjects.InstructorFeedbackResultsPage.verif

[2016-03-09 07:20] damithc opened #4948 "InstructorFeedbackResultsPageUiTest failing on dev server"
In fact this test `testFrontEndActions` keeps failing, but not always at the same point.

java.lang.AssertionError:
	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:24)
	at org.testng.AssertJUnit.assertFalse(AssertJUnit.java:41)
	at org.testng.AssertJUnit.assertFalse(AssertJUnit.java:49)
	at teammates.test.pageobjects.InstructorFeedbackRes

[2016-03-09 08:13] tarun14110 commented on #4913
And what about InstructorFeedbackResultsPageUiTest ?

[2016-03-09 08:22] tarun14110 opened #4949 "Intermittent failure in InstructorFeedbackEditPageUiTest"
browsertests.InstructorFeedbackEditPageUiTest
[code]

[2016-03-09 10:45] wkurniawan07 commented on #4949
Let's take it one failure per issue. Besides, the 2nd one is already addressed in another issue.

[2016-03-09 10:48] wkurniawan07 commented on #4949
Anyway, this failure has a quick fix: ensure that the browser running this test is on the foreground when you're running it. It will pass. Also, 800 seconds timeout is waaaaaay too long. 25-30 seconds is typically enough for dev server.

[2016-03-09 10:49] wkurniawan07 commented on #4913
For the failure in `InstructorCommentsPageUiTest`, the screenshot doesn't help much. Can you post the stack trace as well next time you encounter it?

[2016-03-09 10:52] pankajd94 commented on #4771
I want to work on this issue,please assign me .

[2016-03-09 10:55] damithc opened #4950 "instructor add session: closing time text box gives an NaaN error on Safari"
Reported by user
![image](https://cloud.githubusercontent.com/assets/1673303/13633164/538566b6-e628-11e5-8d1d-f014c2b7f01e.png)

[2016-03-09 10:55] damithc commented on #4950
Can someone with a safari browser confirm?

[2016-03-09 10:58] wkurniawan07 commented on #4950
Yup, it's a Safari-specific bug.

[2016-03-09 11:00] wkurniawan07 commented on #4771
@pankajd94 you do not need to be assigned to work on an issue, just submit a pull request when it's done and ready for review. Remember to follow the workflow specified [here](https://github.com/TEAMMATES/teammates/blob/master/devdocs/process.md).

[2016-03-09 11:20] LowWeiLin opened #4951 "Magic string in adminEmail.js"
In line 222,
See if we can remove "My alt text"
[code]

[2016-03-09 13:32] damithc commented on #4950
Ok, someone using safari needs to fix it soon.

[2016-03-09 14:05] tarun14110 opened #4952 "Failure of tests in InstructorCommentsPageUiTest"
[code]

[2016-03-09 14:24] damithc commented on #4952
It passed for me when I tested V5.71 on dev server today.

[2016-03-09 16:04] RatulGhosh commented on #4928
Sir I made a simple template using javascript for previewing emails before sending them.I have also  defined variables in the mail body. Can you please tell whether I am going in the right direction.

![capture3](https://cloud.githubusercontent.com/assets/8985903/13641480/901b44fe-e63e-11e5-8f90-ba7ec557deef.PNG)

[2016-03-09 16:14] Gisonrg commented on #4950
Not sure why only Safari cannot see it, but here is a possible analysis and suggest fix:
In `datepicker.js`, we have defined:
[code]
But `setDate` will actually return a number of milliseconds since 1 January 1970 ([doc](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/setDate)), so basically our `yesterday` and `tomorrow` will be two **number** instead of a Da

[2016-03-09 17:21] wkurniawan07 commented on #4952
@tarun14110 I could not replicate this. Does this happen consistently in your machine?

[2016-03-10 00:58] damithc commented on #4928
To understand what Email Customizer feature is about, have a look at the 'mail merge' feature available in other software e.g. Microsoft Office

[2016-03-10 05:01] #4936 closed

[2016-03-10 05:42] jkt001 opened #4955 "Delete possibly-conflicting entities in Db tests before test is run"
For all Db Tests, entities are removed from the database after the test is run. This will be done after #4752, #4819, and #4954 is merged and all changes to the test-cases affected (and other tests in Db test) will be made in the same PR.

[2016-03-10 05:45] #4932 closed

[2016-03-10 07:11] damithc commented on #4157
failing at V5.71 after a few tries.

[2016-03-10 07:12] damithc commented on #4161
Still failing at V5.71

[2016-03-10 07:16] damithc opened #4956 "InstructorFeedbackPageUiTest is failing on live server"
com.thoughtworks.selenium.Wait$WaitTimedOutException: Failed to load page within 60000 ms
	at com.thoughtworks.selenium.Wait.wait(Wait.java:99)
	at com.thoughtworks.selenium.Wait.wait(Wait.java:76)
	at com.thoughtworks.selenium.webdriven.commands.WaitForPageToLoad.handleSeleneseCommand(WaitForPageToLoad.java:80)
	at com.thoughtworks.selenium.webdriven.commands.WaitForPageToLoad.handleSeleneseComma

[2016-03-10 07:19] tarun14110 commented on #4952
@wkurniawan07 It was so consistent yesterday, But it is passing today, not able to find the specific reason. I think browser running at background for this test causes failure, as suggested by you in #4949. Or may be some other reason.

[2016-03-10 07:20] damithc opened #4957 "InstructorFeedbackEditCopyUiTest failing on live server"
java.lang.AssertionError: expected:<The feedback session has been copied. Please modify settings/questions as necessary.> but was:<>
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:101)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:108)
	at teammates.test.pageobjects.AppPage.verifyStatus(AppPage.java:839)
	at teammates.test.cases.ui.browsertests.InstructorFeedbackEditCopyUiTest

[2016-03-10 07:21] damithc commented on #4158
still failing at V5.71

[2016-03-10 07:21] damithc commented on #4796
Still failing at V5.71

[2016-03-10 07:22] damithc commented on #4725
Still failing at V5.71

[2016-03-10 07:45] tarun14110 commented on #4949
@wkurniawan07 it worked for me.

[2016-03-10 08:51] wkurniawan07 commented on #4952
I highly doubt it. Running in background never causes problem for this test for me. For #4949 I've known for some time that it's caused by running in background due to some JS issue.

[2016-03-10 09:09] tarun14110 commented on #4952
May be some other issue. Its running fine now, tried many times. I think we can close this issue.

[2016-03-10 10:17] wkurniawan07 opened #4958 "HTML elements should not be disabled via class="disabled""
Right now we have some buttons disabled via class (`class="disabled"` is allowed via jquery to disable elements). It should be standardized, e.g disable elements via pure HTML. To be done before #3997.

[2016-03-10 13:55] YongJieYongJie opened #4960 "Magic string in FeedbackSubmissionEditPageAction.java"
Perhaps this magic string at [FeedbackSubmissionEditPageAction.java][feedback] can be defined in [Const.java][const], near `STUDENT_FEEDBACK_SESSION_STATUS_CLOSED`

[feedback]: https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/ui/controller/FeedbackSubmissionEditPageAction.java#L33
[const]: https://github.com/TEAMMATES/teammates/blob/master/src/main/java/teammates/common/u

[2016-03-10 15:32] damithc commented on #4865
Deployed.

[2016-03-10 15:32] #4865 closed

[2016-03-10 18:38] samatdav commented on #4938
@kanghj Thank you! That did work and now my server is up and running, what is amazing! I was confused because this renaming process was not explicitly described in the project - only in the [Troubleshooting guide](https://docs.google.com/document/d/1_p7WOGryOStPfTGA_ZifE1kVlskb1zfd3HZwc4lE4QQ/pub?embedded=true) (which I unfortunately missed initially). May be that is worth describing more explicit

[2016-03-10 20:04] junhaoyap commented on #4952
Closing as mentioned

[2016-03-10 20:04] #4952 closed

[2016-03-11 02:25] damithc commented on #4938
@samatdav yes, renaming is not explicitly mentioned in the documentation. You can create an issue and a PR to add the missing info to the documentation. :-)

[2016-03-11 02:25] #4938 closed

[2016-03-11 02:54] YongJieYongJie commented on #4666
Did some preliminary tracing:

1st message
* defined at `UNREGISTERED_STUDENT`
* shown when the **user is not logged in via Google**
* There is a similar message called `UNREGISTERED_STUDENT_RESULTS`.

2nd message
* defined at `FEEDBACK_SUBMISSIONS_NOT_OPEN`
* shown when the **feedback session is closed**.

The **relevant request path** is as follows:
* `FeedbackSubmisisonEditPageAction.java` (**2

[2016-03-11 08:23] unyoungwax commented on #4291
Is the course owner a registered instructor with the privilege to modify instructors?

[2016-03-11 08:35] yj-soh commented on #4938
It has been explicitly mentioned in the [setting up guide](https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md) for as far as I recall. Search for the terms, "Create main config files".

[2016-03-11 09:09] junhaoyap opened #4964 "In datepicker.js, defaultDate set to today should use the variable today and not instantiate a new Date object"
As per described

[2016-03-11 10:24] RatulGhosh commented on #1229
For solving this issue we can keep a field (for checking whether the student has already joined the course or not) for each student enrolled for that course and emails will only be send to those students who have still not joined the course. We can also add a line, saying that ignore if already joined in the email body.

[2016-03-11 11:19] #4242 closed

[2016-03-11 13:40] damithc commented on #1229
I'd rather not add a new field if not absolutely necessary.

[2016-03-11 14:46] thyageshm commented on #1229
I think the googleid of the student is null or "" if the student is unregistered. Once the student joins, the googleid field will be populated. I think this can be used here

[2016-03-11 15:21] justtimki opened #4966 "New contributor self intro [Alexandr Kolymago]"
link to fork: https://github.com/justtimki/teammates/tree/tinker
Was
![was1](https://cloud.githubusercontent.com/assets/15367601/13706168/f73c67a4-e7b4-11e5-9e34-62a74fdea962.png)
Become
![new1](https://cloud.githubusercontent.com/assets/15367601/13706173/0170169e-e7b5-11e5-9dc0-e115f0a748b5.png)

My name is Alexandr Kolymago, was born in Belarus, Gomel and now i'm living and studying here. I'm se

[2016-03-11 16:36] YongJieYongJie commented on #4771
@pankajd94 you made a pull request against your own fork and not this main repo,
perhaps you want to consult the [TEAMMATES Development Process][dev]

[dev]: https://github.com/TEAMMATES/teammates/blob/master/devdocs/process.md

[2016-03-11 18:20] taniach commented on #4966
Welcome to the TEAMMATES contributor community @justtimki and good work on moving into Phase D and following the instructions. You can pick some issues and start contributing.

[2016-03-11 18:52] YongJieYongJie commented on #1229
I'm currently trying to learn about the email system, so I thought I'll contribute what I've gathered by **working up the call hierarchy** from the constants in `EmailTemplates.java`:

We can use `isYetToJoinCourse()` in `Emails.java`, which **already performs the check**:
 `return s.googleId == null || s.googleId.isEmpty();`

Also, `getUnregisteredStudentsForCourse()` in `StudentsDb.java` **dupli

[2016-03-11 19:01] YongJieYongJie opened #4967 "EmailTemplates contains ${joinFragment} placeholders that are unused"
There might be some **redundancy** in the email templates in `EmailTemplates.java` because the `${joinFragment}` placeholder seems to be always replaced with empty string for the following:
* `USER_FEEDBACK_SESSION_PUBLISHED`
* `USER_FEEDBACK_SESSION_CLOSING`
* `USER_FEEDBACK_SESSION`

I checked this by:
1. tracing the call hierarchy for each of the email template constants in `EmailTemplates.java

[2016-03-11 19:06] #4960 closed

[2016-03-11 20:34] RatulGhosh commented on #4917
Sir is there any way to use the full feature of TEAMMATES in the dev server.
I am unable to use some features like sessions, comments etc.
Also the course join link for that student is not working.

[2016-03-11 21:00] belyabl9 opened #4968 "Clarification about email support"
Hello,

I have some questions related to sending emails. I would be grateful if you clarify it a little.
I have been reading "Help for Instructors" and found such point:

But all I see on 'Students' page is:
![image](https://cloud.githubusercontent.com/assets/6876210/13715087/5f46a38e-e7db-11e5-942c-9f05dfb54e62.png)
![image](https://cloud.githubusercontent.com/assets/6876210/13715108/78f6f9d2-e7d

[2016-03-12 02:30] damithc commented on #4917
When you use the join link on the dev server, remember to replace the domain name in the link with `http://localhost:8888`
All features should be available on the dev server, except email sending.

[2016-03-12 03:48] damithc commented on #4967
@taniach have a look to see if this is really the case.

[2016-03-12 07:47] #4363 closed

[2016-03-12 08:30] damithc commented on #4968
Yes, we provide a way to get the list of emails. The user is expected to copy paste the list to any email client. At the moment we don't allow users to use TEAMMATES as a email sending client.

From what I remember, there was no way to support such links for multiple emails at the same time. The mailto links works for one email address only.

[2016-03-12 08:48] aayushchandna opened #4969 "New Contributor : Self Intro [Aayush Chandna]"
Link to fork : https://github.com/aayushchandna/teammates/tree/tinker

Was:
![was](https://cloud.githubusercontent.com/assets/17591326/13721788/819550d0-e857-11e5-9227-e4a38018546d.png)

Became:
![is](https://cloud.githubusercontent.com/assets/17591326/13721790/967ed584-e857-11e5-9b4f-eb4aa52b8eb4.png)

The contact details for the site are now being displayed  at the bottom of the home page itself

[2016-03-12 09:24] paradite opened #4970 "Prune invalid and duplicate inputs in institution list"
This is a follow up issue for #4872 as the institution list data seem to contain quite a number of invalid and duplicate inputs.

I will implement a pruning function and prune the list before actually using the list.

[2016-03-12 10:03] belyabl9 commented on #4968
@damithc, thanks for clarification. What about email sending client for instructors, is such functionality needed for TEAMMATES ? Should it be considered while preparing design for 'Email Customizer' GSOC project idea ?

[2016-03-12 11:35] onkarshedge opened #4971 "New contributor self intro [Onkar Shedge]"
Link to my app:[http://4-18-dot-teammates-onkar.appspot.com/](http://4-18-dot-teammates-onkar.appspot.com/)
Link to my fork: [https://github.com/onkarshedge/teammates.git](https://github.com/onkarshedge/teammates.git)
screenshot of UI change: Changed the about.html page added the flip view.
![screenshot from 2016-03-12 16 44 49](https://cloud.githubusercontent.com/assets/10570922/13722673/66037e5c

[2016-03-12 13:21] damithc commented on #4968
Yes @belyabl9, support for sending ad hoc emails to selected users can be added under the 'Email customizer' project idea.

[2016-03-12 13:35] samatdav opened #4972 "New contributor self intro [Samat Davletshin]"
### Links
[My app at GAP](https://4-18-dot-teammates-samat.appspot.com/)
[Tinker branch of my fork](https://github.com/samatdav/teammates/tree/tinker)

---
### UI change
Here is a little improvement of UI I tried to implement. Having a "Search" as a button in Navigation Bar seemed to me a bit redundant as it required an extra level of interaction. I replaced the button with a text input so that an

[2016-03-12 14:02] belyabl9 commented on #4968
I see, thanks.
You may close this issue

[2016-03-12 14:19] #4968 closed

[2016-03-12 17:25] Gisonrg opened #4975 "settingUp.md: an extra character before the repo url"
In [settingUp.md](https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md#setting-up-the-dev-server), section `Setting up the dev server`, step 1, there is an extra character \` (backtick) before the repo url

![screen shot 2016-03-13 at 01 19 07](https://cloud.githubusercontent.com/assets/4332224/13724219/ababa088-e8b9-11e5-9fe7-26e3fc608a86.png)

Good for FirstTimer :stuck_out_to

[2016-03-12 18:37] YongJieYongJie commented on #4814
I managed to recreate the failures by:
1. Disabling Internet syncing of system time,
2. Setting system time to 7:05am,
3. Running the 4 tests specified above

Failure is due to the fact that expected results (i.e., the html for assertion) uses `${today}` placeholder for both exact current date and date corresponding to `getNextHour()`.

I propose we introduce a new placeholder for dates correspond

[2016-03-12 18:52] #4707 closed

[2016-03-12 18:52] #4872 closed

[2016-03-12 18:52] #4161 closed

[2016-03-12 18:52] #4564 closed

[2016-03-12 18:52] #4948 closed

[2016-03-12 18:52] #4958 closed

[2016-03-12 19:54] wkurniawan07 commented on #4814
That's not what placeholders are for; `getNextHour()` is not something that's not unpredictable (on the contrary, it's 100% predictable). This problem can be fixed simply by shifting the hours used in those files forward by one (11:xx pm -> 10:xx pm), so reducing this to `forContributors`.

[2016-03-12 19:57] wkurniawan07 commented on #4488
Not realistic to put this on any milestone as of now; this has to wait until what I mentioned up there.

[2016-03-13 01:06] junhaoyap commented on #4969
Welcome to the TEAMMATES contributor community @aayushchandna, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

It'll also be great if you can pick some issues and start contributing!

[2016-03-13 01:06] junhaoyap commented on #4972
Welcome to the TEAMMATES contributor community @samatdav, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

It'll also be great if you can pick some issues and start contributing!

[2016-03-13 02:07] #2589 closed

[2016-03-13 02:33] #4950 closed

[2016-03-13 02:37] junhaoyap opened #4979 "Test failing at InstructorFeedbackPageUiTest line 461"
I did not take enough care when merging multiple PRs and got confused over which PR caused the test to fail and merged the wrong PR - I will fix this with a PR within the next few minutes

[2016-03-13 02:40] YongJieYongJie commented on #4814
@wkurniawan07 may I just seek some further clarification:

**In gist,**
just so that we are on the same page,
am I right that the **placeholders here are used in the opposite manner** – i.e., actual variable values (e.g., `13/03/2016`) in the generated actual HTML are replaced with placeholders (e.g., `${today}`) before comparison with expected HTML

**Specifically, and for instance,**
the `Instru

[2016-03-13 03:24] patricksanang opened #4981 "Salutations"
Hello,
I'm really happy if I'll work with the teammates during the GSoC.

[2016-03-13 04:15] YongJieYongJie commented on #4981
Hi @patricksanang!

I'm one of the aspiring GSoC'er too,
TEAMMATES has a lot of wonderful resources, you might want to read through [Instructions for Google Summer of Code applicants][GSoC] and [Contributor's Orientation Guide][COG].

[GSoC]: https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true
[COG]: https://docs.google.com/document/d/1cY9pmEmw4dC6Z4Lj

[2016-03-13 06:16] thyageshm commented on #4806
@bamboo3250 reminder to finish this up soon as another issue is also onHold on this.

[2016-03-13 06:19] thyageshm commented on #4274
@kennho reminder to complete this by this release

[2016-03-13 06:21] thyageshm commented on #4676
@jkt001 please add the `s.OnHold` label if this issue is dependent on the other two in order to be completed

[2016-03-13 06:22] thyageshm commented on #3997
@wkurniawan07 reminder about this issue

[2016-03-13 06:25] thyageshm commented on #84
@ashrayjain if this is being fixed by another pr, specify it in that pr.
If not, reminder to work on this. It has slipped a release

[2016-03-13 06:26] thyageshm commented on #2352
@JosephineKwa reminder about this issue

[2016-03-13 06:27] thyageshm commented on #3355
@JosephineKwa reminder about this issue. please consider unassigning some issues if your feel the workload is high at this time. You can reassign yourself when things settle down :-)

[2016-03-13 06:28] thyageshm commented on #3929
@JosephineKwa reminder about this issue

[2016-03-13 06:29] thyageshm commented on #4283
@JosephineKwa reminder about this issue

[2016-03-13 06:55] thyageshm commented on #4783
@ashrayjain reminder for this issue

[2016-03-13 06:55] #4785 closed

[2016-03-13 06:57] thyageshm commented on #4469
@LowWeiLin maybe you could take this out of the milestone?

[2016-03-13 07:10] wkurniawan07 commented on #4814
@YongJieYongJie you're absolutely right :+1:

[2016-03-13 07:38] RatulGhosh commented on #3975
Should I create a new js file containing all the constants or should I move those constants to the respective js files that uses them.

[2016-03-13 07:50] yasirunilan opened #4985 "Setting up the Development Environment"
I followed the instructions on how to set up the development environment.But every time I run the test cases,I get about 50 test cases failing.Could any one of you help me to solve this.

By the way I'm Yasiru Nilan, 3rd year undergraduate of department of computer science and engineering of University of Moratuwa.

[2016-03-13 10:38] RatulGhosh commented on #4928
can we use google sheets instead of excel. If we use google sheets we could use Google Apps Script to do stuffs like sending emails from a Spreadsheet very easily.

[2016-03-13 11:43] damithc commented on #4928
It is up to you to propose what you think is the best :-)
In general we don't want to add more third party libraries/frameworks unless the benefit justifies the cost.

[2016-03-13 11:51] YongJieYongJie commented on #4985
Are you using Firefox v38.0.5?
I recall having some failing tests previously but was fixed by using the exact version.

Perhaps you can post a screenshot of the failed tests too.

[2016-03-13 12:31] RatulGhosh commented on #4928
can I send my project proposal for review to my mentor.

[2016-03-13 12:38] RatulGhosh commented on #4917
I synced by master with the main repo but still I am getting the same error  "Cannot send Ajax Request !"
![capture1](https://cloud.githubusercontent.com/assets/8985903/13555274/088b2562-e3e2-11e5-934c-0d60225f88f5.PNG)

And when I am using the joining link : "http://localhost:8888/page/instructorCourseJoin?key=F2AD69F8994BA92C8D605BAEDB35949A41E71A573721C8D60521776714DE0BF8B0860F12DD19C6B955F735D

[2016-03-13 13:02] damithc commented on #4928
We can give feedback for proposals submitted early. Submit via GSoC system and let us know.

[2016-03-13 15:34] kanghj commented on #4917
What are you getting in the console in eclipse when you try to create the instructor?

[2016-03-13 15:38] RatulGhosh commented on #4928
okay sir , thank you very much

[2016-03-13 15:50] #4859 closed

[2016-03-13 17:22] junhaoyap commented on #4985
@yasirunilan in order for us to render you some help, can you post some screenshots regarding the failure cases and more information about which phase of the setting up process you are at so we have a better understanding of what is going on?

[2016-03-13 17:29] yasirunilan commented on #4985
Thanks @YongJieYongJie ,I have some other version of firefox.Now I'm getting only 4 failing test cases.Am I ok to move forward.

[2016-03-13 17:31] yasirunilan commented on #4985
@junhaoyap thanks for helping.Errors got reduced upto 4.

[2016-03-13 17:32] yasirunilan commented on #4985
I'm going to move forward.I'll contact you if I encounter any other problems.

[2016-03-13 17:34] yj-soh commented on #4985
Which test are those and why are they failing?
Is it consistent?

[2016-03-13 17:39] yasirunilan commented on #4985
yeah they are consistent.
![1](https://cloud.githubusercontent.com/assets/9814784/13730262/9a7d0e70-e970-11e5-88bd-e14c184aa06c.PNG)

[2016-03-13 18:10] #4979 closed

[2016-03-13 21:32] taniach commented on #4971
Welcome to the TEAMMATES contributor community @onkarshedge , good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

It'll also be great if you can pick some issues and start contributing!

[2016-03-13 21:33] taniach commented on #4981
Welcome to the TEAMMATES contributor community @patricksanang

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

[2016-03-14 05:42] #4646 closed

[2016-03-14 06:35] wkurniawan07 commented on #4985
Hi @yasirunilan, the one that you showed above should be gone eventually after a few runs. How about the other three, can you post them here as well?

[2016-03-14 06:38] bamboo3250 opened #4992 "Wrong Test Segment description in FeedbackRankQuestionUiTest"
In line 272 and 277, `______TS("Rank instructor results : Recipient > Giver > Question ");` should be `______TS("Rank instructor results : Recipient > Question > Giver");` and vice versa.

[2016-03-14 06:40] yasirunilan commented on #4985
Yeah I'll post the screen shots in here.I"m always getting those 4 errors
even after few runs.

Yasiru Nilan

BSc. Eng(Hons) Undergraduate |Batch Representative CSE'13 Batch
Department of Computer Science and Engineering |University of Moratuwa |
Sri Lanka

Asst. Secretory | Leo Club of University of Moratuwa | Leo District 306A2

On Mar 14, 2016 12:05 PM, "Wilson Kurniawan" <notifications@github.

[2016-03-14 12:26] leonardhml opened #4996 "New contributor self intro [Leonard Hio]"
My fork: https://github.com/leonardhml/teammates/tree/tinker
My app: http://teammates-leonardhml.appspot.com/index.html

<h2>My change:</h2>

The list of team members shown in the about.html page looks a little too disorganised and cluttered. I made a small change to the way it looks by using bootstrap to wrap the list of team members in a table:

<h3>Before:</h3>

![before](https://cloud.githubus

[2016-03-14 12:36] wkurniawan07 commented on #4996
Hi @leonardhml, nice to see you again :p
Good job on setting up the dev environment! Now you can find issues to work on, starting from one labelled `d.FirstTimers` and then `d.Contributors`. If you want to apply for GSoC, you can find out more about it in [this document](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true).

[2016-03-14 15:12] thyageshm commented on #4945
@theaverageguy, please post your name here so that I can add it to the about.html page :-) thanks!

[2016-03-14 15:33] harishv7 opened #5000 "New Contributor Self Intro [Venkatesan Harish]"
## URLs to my fork and app:
My fork: https://github.com/harishv7/teammates/tree/tinker
My app: http://teammates-harish.appspot.com/

## Changes made:
I edited the default fonts to "Raleway" which is provided under the SIL OPEN FONT LICENSE.
Also I have added CSS transitions for hover actions on the navbar with linear color change transition.

## Before:
![Before](http://i.imgur.com/vG2K74j.png)

#

[2016-03-14 16:01] paradite opened #5001 "Add country markers to the user map"
This is a follow up of #4872 and #4970
By adding zoom and pan, we will be able to zoom into areas to see smaller countries like Singapore.

[2016-03-14 16:53] wkurniawan07 commented on #5000
Hi @harishv7, welcome to the TEAMMATES community!
Good job on setting up the dev environment! Now you can find issues to work on, starting from one labelled `d.FirstTimers` and then `d.Contributors`. If you want to apply for GSoC, you can find out more about it in [this document](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true).

[2016-03-14 18:02] yasirunilan commented on #4985
![img_20160314_173900](https://cloud.githubusercontent.com/assets/9814784/13754304/7ae1dc86-ea3c-11e5-9333-28d4e778815a.jpg)
When I today run the test cases.I get only one failing case.screen shot is below.This is failing again and again even I run this test case several times.
I moved forward to staging server part.Is it okay???

[2016-03-15 00:42] priyamm opened #5003 "New contributor self intro [Priyam Gupta]"
**Dear Sir/Madam,
I am Priyam, a final year undergraduate student in Computer Science at AKGEC, India.

I am a GSOC aspirant and have worked on various projects on Java, ANTLR and Web Development. Going through your Organisation page I came through quite a large number of interesting projects. I tried to Set-Up the development environment and successfully launched the Web Application.
As indicated

[2016-03-15 01:28] damithc commented on #4985
Yes, you can proceed to next steps while you try to resolve this problem in parallel.

[2016-03-15 01:34] damithc commented on #4303
Happened again. Reopening:

The supplied parameter was null

Actual user abc
Request Method GET
User Agent Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_3) AppleWebKit/601.4.4 (KHTML, like Gecko) Version/9.0.3 Safari/601.4.4
Request Url https://teammatesv4.appspot.com/page/instructorFeedbackQuestionAdd
Request Path /page
Request Parameters {}
Stack Trace

java.lang.AssertionError: The supplied para

[2016-03-15 02:14] kanghj commented on #4303
This one is likely because of an expired session. Are we able to verify that from the logs for the user?

[2016-03-15 02:29] kanghj commented on #5003
@priyamm, Good work on completing most of the steps to set up the project! For that particular error, check that you have correctly renamed both build.properties and appengine-web.xml.

[2016-03-15 02:35] LowWeiLin opened #5004 "AdminHomePageUiTest failing frequently"
![image](https://cloud.githubusercontent.com/assets/3910365/13766067/aba47b46-ea99-11e5-99f6-229c71dd58ba.png)

[2016-03-15 03:57] damithc commented on #4303
Unlikely. This happened in the middle of a session. In fact he added the session a few minutes before this. I didn't hear any complaints from the user though.

[2016-03-15 04:03] junhaoyap commented on #5003
Welcome to the TEAMMATES contributor community @priyamm, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

As for fixing the above and moving on to contributing, do look at what @kanghj has advised

[2016-03-15 04:21] leonardhml commented on #4566
Hello, I would like to work on this issue. May I ask what are some of the possible files that I can look into to fix this issue?

[2016-03-15 04:49] #4873 closed

[2016-03-15 04:49] #4964 closed

[2016-03-15 05:01] weihu816 opened #5005 "New contributor self intro [Wei Hu]"
### a) My App
http://teammates-weihu.appspot.com
### b) My Fork
https://github.com/weihu816/teammates/tree/tinker
### c) Changes Made

1. Before the YouTube video is opened in a new window. Now it's a popup window.
2. A feature browsing index is added at the top of the features page.

<img width="500" alt="screen shot 2016-03-15 at 00 02 58" src="https://cloud.githubusercontent.com/assets/7198709/

[2016-03-15 05:47] damithc commented on #4566
Start with a `d.FirstTimers` issue first. Those are easier to figure out by yourself.

[2016-03-15 06:48] #4147 closed

[2016-03-15 07:20] #4441 closed

[2016-03-15 07:20] #4992 closed

[2016-03-15 07:22] leonardhml commented on #4566
Hi Prof, I have already done one `d.FirstTimers` task. The instructions were that I should only do one of those.

[2016-03-15 07:30] yasirunilan opened #5006 "New contributor self intro [Yasiru Nilan]"
(a) **Link to my app** : http://teammates-yasiru.appspot.com/
(b) **Link to my Fork** : https://github.com/yasirunilan/teammates/tree/tinker

(c)
 Earlier it was like this

- First four of the core team was listed one by one like in a column.

- I changed it to get first four of the developers to one Row so that core developers get highlighted.

![earlier](https://cloud.githubusercontent.com/asset

[2016-03-15 07:50] samatdav commented on #3895
I decided to fix this old issue as a FirstTimer. Hope I followed the PR procedure correctly :-)

[2016-03-15 10:06] #4715 closed

[2016-03-15 10:06] #4716 closed

[2016-03-15 12:03] sudosparrowhawk opened #5008 "New contributor self intro [Dhanuka]"
d) Hello! everyone. I'm Dhanuka from Sri Lanka. I'm a first year Natural Science student at Open University of Sri Lanka. And really love to code! I started my coding journey with Java. I learned almost everything from Stackoverflow and Java API. Now I'm really good with Java SE, HTML, CSS, SQL, Bootstrap and JavaScript.

I work on Arch Linux system. I use Eclipse as my main IDE, and also use Gean

[2016-03-15 12:41] samatdav commented on #5008
Hello, Dhanuka! Nice to meet you! I also apply to Teammates this year. To better prepare for the application process you may find it useful to go through [Instructions for GSoC Applicants](https://docs.google.com/document/d/1Iu63WRIw8uz8liEW089IQHDQTRbh-QoOLMyfTPXNOa0/pub?embedded=true) and [Contributor Orientation Guide](https://docs.google.com/document/d/1cY9pmEmw4dC6Z4LjN1WUTsynJ0jVPgbWsFhdyBy_

[2016-03-15 13:28] sudosparrowhawk commented on #5008
Thank you very much Samat. Nice to meet you too @samatdav

[2016-03-15 13:31] #4631 closed

[2016-03-15 13:31] #4957 closed

[2016-03-15 13:31] #4970 closed

[2016-03-15 13:38] sudosparrowhawk commented on #5008
When setting up the development environment in Eclipse, First I downloaded the teammates-master.zip file. And then according to the Developer Troubleshooting Guide (https://docs.google.com/document/d/1_p7WOGryOStPfTGA_ZifE1kVlskb1zfd3HZwc4lE4QQ/pub?embedded=true#h.9yiw9q5jm2c) I installed the Google plugin for Eclipse and TestNG too.
After importing the project into Eclipse I've few errors, Can an

[2016-03-15 14:30] #4796 closed

[2016-03-15 14:43] samatdav commented on #5008
@sudosparrowhawk Did you follow [Setting Up the Developer Environment](https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md) guide? There are some prerequisites you have to do before downloading and installing the zip.

[2016-03-15 15:03] #4945 closed

[2016-03-15 15:46] RatulGhosh commented on #4928
Sir I have submitted my proposal via the GSoC system.

[2016-03-15 15:49] thyageshm commented on #3355
Unassigning issue due to inacitivity

[2016-03-15 15:56] #4512 closed

[2016-03-15 16:14] thyageshm commented on #4944
Release 209
Code Contributions from: @justtimki, @damithc, @kanghj, @Gisonrg, @junhaoyap, @kennho, @jkt001, @leonardhml, @RatulGhosh, @belyabl9, @Sumei1009, @tarun14110, @thyageshm, @wkurniawan07, @YongJieYongJie, @unyoungwax, @paradite

Review Contributions from: @damithc, @kanghj, @junhaoyap, @bamboo3250, @thyageshm, @LowWeiLin, @wkurniawan07, @yj-soh

Sprint Velocity: 63 hrs (code) + 34 hrs (re

[2016-03-15 16:18] thyageshm opened #5011 "Update about.html with contributors from V5.72"

[2016-03-15 17:50] junhaoyap commented on #5005
Welcome to the TEAMMATES contributor community @weihu816, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

It'll also be great if you can pick some issues and start contributing!

[2016-03-15 17:51] junhaoyap commented on #5008
Welcome to the TEAMMATES contributor community @sudosparrowhawk, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

It'll also be great if you can pick some issues and start contributing!

Also, thank you @samatdav for

[2016-03-15 19:04] sudosparrowhawk commented on #5008
Thanks again @samatdav :) I still got some errors.

![screenshot from 2016-03-16 00-32-51](https://cloud.githubusercontent.com/assets/17715090/13790484/a3a50f6c-eb0e-11e5-9a00-e4dd9b3e5ecf.png)

I got this errors after creating `com.google.gdt.eclipse.core.prefs` file.

[code]

[2016-03-16 02:07] thyageshm commented on #4955
@jkt001 reminder to work on this pr :-)

[2016-03-16 02:08] thyageshm commented on #4874
@Sumei1009 reminder to work on this issue

[2016-03-16 02:10] thyageshm commented on #4488
@wkurniawan07 @jkt001 could we create the necessary issues needed to unblock this issue?

[2016-03-16 02:10] thyageshm commented on #3889
@wkurniawan07 any updates?

[2016-03-16 02:12] thyageshm commented on #3554
@wkurniawan07 could we put this one to V5.74?

[2016-03-16 02:30] YongJieYongJie opened #5012 "InstructorFeedbacks shows wrong date for new form due to UTC conversion rounding"
When visiting new feedback session page before 7am UTC +8, yesterday's date will be shown as the submission opening date.

Similarly, when visiting after 4pm UTC -8, tomorrow's date will be shown.

Same for other timezones.

![image](https://cloud.githubusercontent.com/assets/14101781/13789687/1c2f2d08-eb20-11e5-9547-5c0cef5e2708.png)

[2016-03-16 02:33] thyageshm commented on #2936
sir, I believe the latest error is different from the one above (earlier one is jsp error, this one is a java error).

For the latest error, I believe it is because the user was loggedin and the registration key was wrong (link copied wrongly from the email). We can gracefully tell the user that the registration value given is invalid and a possible reason is that the link has been partially copie

[2016-03-16 02:47] damithc commented on #2936
Yes, sounds good.

[2016-03-16 02:51] thyageshm commented on #2936
should we create a separate issue since this one is student course join? (and not instructor?)

[2016-03-16 03:05] yasirunilan commented on #4771
Can I work on this issue?

[2016-03-16 03:11] yasirunilan commented on #4975
Can I work on this firsttimers issue?

[2016-03-16 03:20] damithc commented on #4975
As described in our process, contributors are free to submit a PR. No need to get the issue assigned first.

[2016-03-16 03:26] yasirunilan commented on #4975
Thank you .I'll do it.

[2016-03-16 06:07] kanghj opened #5015 "Rubrics: don't show numerical values of options in students' view"
The numerical values for computing the average can be hidden for the student's submit page for now, until we allow instructors to specify the numerical value for each option in #4746.

Edit: need to hide in student results page too

[2016-03-16 07:05] wkurniawan07 commented on #3889
I've had my hands full for 5.73, so putting this to the next milestone.

[2016-03-16 07:28] damithc commented on #4158
still failing at V5.72

[2016-03-16 07:29] damithc commented on #4725
Still failing at V5.72

[2016-03-16 07:36] damithc commented on #4797
Still failing at V5.72

[2016-03-16 07:36] damithc commented on #4956
Didn't fail at V5.72. closing.

[2016-03-16 07:37] damithc commented on #3641
Didn't fail at V5.72. Closing.

[2016-03-16 07:37] #3641 closed

[2016-03-16 07:39] damithc commented on #3471
Did not happen recently. closing.

[2016-03-16 07:39] #3471 closed

[2016-03-16 07:41] damithc commented on #4430
Also happened during live server testing. Not sure which test triggered it though.

Actual user teammatesowner
Request Method POST
User Agent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:38.0) Gecko/20100101 Firefox/38.0
Request Url https://5-72-dot-teammatesv4.appspot.com/page/instructorFeedbackRemindParticularStudents
Request Path /page
Request Parameters {user::CHomeUiT.instructor.tmms}
Stack Trace

[2016-03-16 07:47] damithc commented on #4944
Deployed.

[2016-03-16 07:47] #4944 closed

[2016-03-16 07:56] damithc commented on #5015
They are not shown in student result page right? If they are, need to be hidden there as well.

[2016-03-16 08:05] kanghj commented on #5015
Updated the issue description

[2016-03-16 09:32] wkurniawan07 commented on #4158
Any more details on this, e.g the stack trace?

[2016-03-16 09:38] wkurniawan07 commented on #4488
I believe it's already there: #4812.

[2016-03-16 10:02] ashrayjain opened #5017 "InstructorStudentListPageUiTest fails at line 172"
This happens regularly on Travis and sometimes on local environments as well.

The stack trace is:
[code]

[2016-03-16 10:02] ashrayjain commented on #5017
@thyageshm

[2016-03-16 10:09] samatdav opened #5018 "Not explicit creation of main config files in settingUp devdoc."
In [settingUp devdoc here](https://github.com/TEAMMATES/teammates/blob/master/devdocs/settingUp.md#setting-up-the-dev-server), the third point (creation of main config files), does not mention explicitly enough the process of creating files without ".template" in the names.

[2016-03-16 10:16] wkurniawan07 commented on #5018
@samatdav the templates aren't meant to be removed; you'd have seen that the above doc specifies `copy → paste → rename`.

[2016-03-16 10:18] samatdav commented on #5018
@wkurniawan07 changed the issue.

[2016-03-16 10:23] wkurniawan07 commented on #5018
Quoting the same doc:
[code]
I believe that it's explicit enough. Do you have any suggestion to make it clearer? Also bear in mind that we prefer not to spoon-feed new contributors with every slightest detail.

[2016-03-16 10:30] damithc commented on #4158
javax.net.ssl.SSLPeerUnverifiedException: Host name '5-72-dot-teammatesv4.appspot.com' does not match the certificate subject provided by the peer (CN=*.appspot.com, O=Google Inc, L=Mountain View, ST=California, C=US)
	at org.apache.http.conn.ssl.SSLConnectionSocketFactory.verifyHostname(SSLConnectionSocketFactory.java:465)
	at org.apache.http.conn.ssl.SSLConnectionSocketFactory.createLayeredSocke

[2016-03-16 10:32] samatdav commented on #5018
@wkurniawan07 I would suggest adding a sentence about the renaming process in the main description of the step, rather than in a specific sub step. I proposed a PR.

[2016-03-16 11:43] damithc opened #5020 "Rephrase the link to user map in index.html"
![image](https://cloud.githubusercontent.com/assets/1673303/13811188/194f240a-ebaf-11e5-8185-e09739513c77.png)

Rephrase as:
~~See who is using TEAMMATES in our [user map]()~~
[See who is using TEAMMATES ...]()

[2016-03-16 14:02] sopnopriyo opened #5022 "New contributor self intro [Shahin Alam]"
(a) Link to my app : http://teammates-shahin.appspot.com/
(b) Link to my Fork : https://github.com/sopnopriyo/teammates/tree/tinker
(c) I have modified the about page , the four core team members image and their information is now in one row.
**Before**
![screenshot from 2016-03-16 21 47 43](https://cloud.githubusercontent.com/assets/7261420/13814432/31041f62-ebc1-11e5-8db4-36a16710d79d.png)

**Af

[2016-03-16 15:02] chowyb opened #5023 "Issues in Setting up Developer Environment"
Hi, my name is Yuan Bin, a Year 3 Computing Science student from the National University of Singapore.

I am having issues with getting the UI tests to pass on my system, as the connection appears to be refused. Firefox states that it is unable to establish a connection to localhost:8888, and a screenshot of the errors after re-running the failed tests (via "Run failed tests") is as follows:
![tea

[2016-03-16 15:13] #4694 closed

[2016-03-16 15:43] jkt001 commented on #5023
Hi Yuan Bin,

Are you sure that you are running the test <b> while </b> the dev server is running?

Once you opened up Eclipse, run the dev server and then run the tests without turning off the dev server.

Hope this helps!

[2016-03-16 16:13] chowyb commented on #5023
Hi,

Thanks for the help! I realised I misinterpreted the instructions, and explicitly turned off the dev server before running tests (also because another school project I'm on has that workflow)

Thanks again!

[2016-03-16 17:50] junhaoyap commented on #5018
@damithc can you please take a look?

[2016-03-16 17:59] junhaoyap commented on #5022
Welcome to the TEAMMATES contributor community @sopnopriyo, good work on moving into Phase D and following the instructions!

It'll also be great if you can pick some issues and start contributing!

One question - are you an aspiring GSoC applicant?

[2016-03-16 18:01] junhaoyap commented on #5023
@wkurniawan07 assigning you to help out if any more is needed, @jkt001 thanks for chipping in!

[2016-03-16 18:10] yasirunilan opened #5027 "New contributor self intro [Yasiru Nilan]"
(a) Link to my app : http://teammates-yasiru.appspot.com/
(b) Link to my Fork : https://github.com/yasirunilan/teammates/tree/tinker

(c)
Earlier it was like this

![earlier](https://cloud.githubusercontent.com/assets/9814784/13823532/ef401a22-ebcf-11e5-854b-bc2034c9d31a.PNG)

- First four of the core team was listed one by one like in a column.

- I changed it to get first four of the developers

[2016-03-16 18:11] yasirunilan commented on #4985
https://github.com/TEAMMATES/teammates/issues/5027

[2016-03-16 18:19] pandilladivya commented on #5020
Hello @damithc I am working on this issue .

Thankyou :)

[2016-03-16 19:41] pandilladivya commented on #5020
Kindly check PR #5028

[2016-03-16 20:03] yvsssantosh commented on #5001
Hi,
@paradite
I'm currently working on this...

Thank you

[2016-03-16 23:11] belyabl9 opened #5029 "Testing time"
Hello, TEAMMATES community,

I have a question, it should not take a lot of your precious time :-)
What is the approximate time of running full test suite for your machine ?

It is really important for me, because it takes my laptop about 20-30 minutes. Especially, it hurts me when I am doing some minor fix. I understand that e.g. some minor JS changes don't  require running full test suite, but r

[2016-03-17 00:38] sopnopriyo commented on #5022
Thank you @junhaoyap . I will start by picking some small issues.
Yes, I want to participate for GSoC.

[2016-03-17 00:53] YongJieYongJie commented on #5029
My tests take about 20 minutes (but usually need to rerun some failed tests to get them to pass), here a dump of my system information:
![image](https://cloud.githubusercontent.com/assets/14101781/13833120/9621a962-ec1d-11e5-9ea6-9efd2a5a6e45.png)

[2016-03-17 02:34] paradite commented on #5001
@yvsssantosh are you aware of how to implement this? there is a very simple way to do it.

[2016-03-17 02:42] yvsssantosh commented on #5001
Hi,
Since we are using containers i presume we can use ImageViewer API
Kindly share your thoughts

Thank You

[2016-03-17 02:43] paradite commented on #5001
@yvsssantosh ImageViewer API? This is on web, using JavaScript and HTML, not Java.

[2016-03-17 02:54] yvsssantosh commented on #5001
Hi,

I have an example running on my web server
And yes it uses Javascript and html

Is it okay if I link you to that?

[2016-03-17 02:55] paradite commented on #5001
sure please

[2016-03-17 03:07] damithc commented on #5029
Yes, 20 minutes is not abnormal. On a related note, @ashrayjain is working on moving the testing to Travis CI server. Once that is done, we can dispense of running tests on our local machines.

[2016-03-17 03:12] damithc commented on #5018
I think the current one is good enough, but if someone proposes a better description, we can always upgrade.

[2016-03-17 03:27] yvsssantosh commented on #5001
I'm sorry it took me a while\

Here is the link

http://49.206.198.14:5678/ImageViewer/demo/container-mode.html

[2016-03-17 03:42] damithc commented on #2936
Sure

[2016-03-17 04:03] paradite commented on #5001
@yvsssantosh can you try using this on the actual map? It is on svg and contains a lot of logic in it. Not sure if your API would work on it.
If it works then you can send PR?

[2016-03-17 04:07] jkt001 commented on #4955
@thyageshm ok, working on it...

[2016-03-17 04:40] Sumei1009 commented on #4666
Can we change to only when the feedback session is open, then the first message is showed? Otherwise we only display the second message? Or should I change the first message as "You are accessing TEAMMATES without logging in" instead of "You are submitting feedback..."

[2016-03-17 04:56] junhaoyap commented on #5022
Awesome @sopnopriyo - I've added the GSoC tag to this so we can keep track of all the people who wants to participate in GSoC with TEAMMATES, I look forward to your first contribution!

[2016-03-17 05:00] junhaoyap commented on #5027
Welcome to the TEAMMATES contributor community @yasirunilan, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

I see you have already started working on fixing some issues and that's great!

[2016-03-17 05:08] LowWeiLin opened #5032 "InstructorHomePageUiTest and InstructorFeedbackEditCopyUiTest failing"
Fails on wait for id:copiedfsname

[2016-03-17 05:25] jkt001 commented on #4955
After working on this issue, I realize that this might be of higher priority than I previously thought.

The testDeleteStudent test in StudentsDb.java will <b>always fail</b> on the first run (or if all tests are run in that file) because of not removing such entity.

[2016-03-17 05:34] yvsssantosh commented on #5001
I think maps would be easier but i need to change a lot of code.
I will give it a shot with this and if it doesn't work then I'll do with maps

I hope my approach is alright
Kindly review
Thank You

[2016-03-17 05:49] YongJieYongJie commented on #4666
I think the first message should always be shown whenever the user is not logged in to TEAMMATES because it serves as a call-to-action for users to actually log in.

So maybe a rephrasing will do. Something like "...you may submit feedback for sessions that are currently open"

[2016-03-17 06:44] damithc commented on #4666
Yes, rephrasing as suggested by @YongJieYongJie sounds like a workable solution.

[2016-03-17 06:47] damithc commented on #5001
Actually, I'm not sure if zooming is the best solution here. Perhaps we should show an indicator icon (e.g. map pin) for each country so that small countries are not overlooked/hidden.

[2016-03-17 07:19] yvsssantosh commented on #5001
@damithc

Hi,
I think if zoom feature is not enabled then for countries which are too small and close together...the pin might overlap thus showing less number of countries

I believe that zooming is necessary then too.....

Kindly review

Thank You

[2016-03-17 07:56] belyabl9 commented on #5029
Oh, in such case I should not worry about it. Thanks for your answers. "Moving the testing to Travis CI server" sounds great.
I've got enough information, so we may close this one.

[2016-03-17 09:03] #5029 closed

[2016-03-17 10:27] damithc commented on #5001
Seeing the country is not important, but realizing a country exists is important. Users will not use zoom if they don't realize there is a country that is too small to see. So, I still prefer the marker idea. Overlapping markers is not a big problem because in the rare case of two small countries existing near each other, the markers can be displaced a bit to avoid an overlap. Accuracy of the mark

[2016-03-17 11:45] priyamm commented on #5003
@kanghj Thank you for your inputs sir, I am pleased to tell you that I have been successfully able to **Login in as Admin** and completed the rest of the task upto accessing the _dev server as a student_. Shall I do cover up the **Running Test Suite** part or directly move up to the contributing phase.
I am currently watching the **Dev Role** instructions in **procees.md**. It says I have to pick

[2016-03-17 11:47] YongJieYongJie commented on #3706
@damithc
#### already implemented before date of issue
the [`StudentAttributesFactory`][SAF] currently already performs `.trim()`:

        String paramTeam = columns[teamColumnIndex].trim();
        String paramName = columns[nameColumnIndex].trim();
        String paramEmail = columns[emailColumnIndex].trim();

The `.trim()` function is implemented on Aug 11, 2014 in [this commit][commit], 10 mo

[2016-03-17 12:11] taniach commented on #5006
Welcome to the TEAMMATES contributor community @yasirunilan , good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC :)

[2016-03-17 12:11] priyamm commented on #5003
Dear Sir/Madam,
I think I found one issue: https://github.com/TEAMMATES/teammates/issues/5020
Looking forward to solve it.
Thanks

[2016-03-17 12:28] #4889 closed

[2016-03-17 12:52] taniach commented on #4967
Yes it is, because for the above templates `${joinFragment}` is replaced in `generateFeedbackSessionEmailBaseForStudents()`, `generateFeedbackSessionEmailBaseForInstructors()` and `generateFeedbackSessionEmailBaseForInstructorReminders()` which do not require a join fragment.

[2016-03-17 14:32] YongJieYongJie commented on #4967
I just looked at the commit history, the `${joinFragment}` **in this three templates** were unused since when automated email was [first implemented][commit]. In other templates, the placeholder is used.

Perhaps we remove the placeholder in these three templates?

[commit]: https://github.com/TEAMMATES/teammates/commit/03b03180b135aaef9357e2648150c3e8e80d42c6#diff-485a91b80865353e0a523b57aec60fce

[2016-03-17 14:35] damithc commented on #5003
@priyamm please change the issue title to include your name

[2016-03-17 14:49] damithc commented on #3706
Yes, we can remove duplicate inner spaces. Also make sure the leading/trailing space is not introduced during an edit operation.

[2016-03-17 15:17] kanghj opened #5036 "Hide average in rubrics results"
Continuation of #5015, which missed this out.

[2016-03-17 18:23] pandilladivya commented on #5020
Hi,

New PR create #5039

Kindly review
Thank You

[2016-03-17 18:31] Gisonrg opened #5040 "Add code coverage for JavaScript tests"
Since we are already using QUnit to run JavaScript tests, it's good to also provide information for code coverage, so we would know where can be improved in our code, or add missing test cases if needed.
[Blanket.js](http://blanketjs.org/) seems like a good choice as it is lightweight, works well, and supports QUnit by default. It's also very easy to configure to the current system as well.

[2016-03-17 18:34] taniach commented on #4967
Yes we can do that

[2016-03-17 20:15] wkurniawan07 commented on #5040
You can consider [JSCover](http://tntim96.github.io/JSCover/) as well. Either way, it's good if we can have coverage tool for JS :+1:

[2016-03-17 22:46] belyabl9 commented on #5001
@damithc, I've achieved the following result on my dev environment:
![image](https://cloud.githubusercontent.com/assets/6876210/13863475/ba01e8a8-eca2-11e5-866a-6c677a5a928a.png)
Is it what you expect ? Should I proceed with it ?

[2016-03-18 03:09] paradite commented on #5001
@belyabl9 that looks very nice. @damithc I think that's what you wanted?

[2016-03-18 03:52] damithc commented on #5001
Some suggestions:
1. The markers should appear for countries that are using TEAMMATES only, not for all countries
2. The institute count should pop up when the mouse pointer is on the country or the marker
3. When possible, the marker should be contained within the country (but can go out of the country for small countries)

[2016-03-18 03:53] damithc commented on #5015
A user is waiting on this. Need to release as a hot fix.

[2016-03-18 04:32] damithc commented on #2936
Another one:

java.lang.NullPointerException

Actual user ddd@sbm-itb.ac.id
Request Method GET
User Agent Mozilla/5.0 (iPhone; CPU iPhone OS 9_2_1 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Mobile/13D15
Request Url https://teammatesv4.appspot.com/page/studentCourseJoinAuthentication
Request Path /page
Request Parameters {studentemail::ddd@sbm-itb.ac.id, courseid::LMP2016, key::dddddd5

[2016-03-18 05:06] rajivjhaimin opened #5043 "Help | Unable to Download http://www.comp.nus.edu.sg/~seer/teammates-libs/libsV5.60.zip file"
Greetings,
I am Rajiv Jha,an open source developer from New Delhi, India.
I am trying to set up the dev server on my localhost, But i ran into this problem. I am unable to download the http://www.comp.nus.edu.sg/~seer/teammates-libs/libsV5.60.zip file. I have tried it over different networks too.
Downloading starts but after few minutes it ceases, leading to abrupt ending of zip file downloaded.
I

[2016-03-18 05:43] YongJieYongJie commented on #5043
@rajivjhaimin
I'm not sure what's the problem, perhaps you can try getting zip file from my [Dropbox][db].
[db]: https://www.dropbox.com/s/li9vmv07ntw6yc6/libsV5.60.zip?dl=1

[2016-03-18 05:50] rajivjhaimin commented on #5043
@YongJieYongJie
Thanks. It worked.

[2016-03-18 05:50] #5043 closed

[2016-03-18 06:04] yvsssantosh commented on #4771
Can I please work on this issue?

[2016-03-18 06:28] damithc commented on #4771
No need to ask. Just submit a PR :-)

[2016-03-18 06:29] damithc commented on #5043
Thanks for the help @YongJieYongJie :+1:

[2016-03-18 07:11] yvsssantosh commented on #4771
Hi,
Since github links are not outdated, I will be keeping them and removing the links hosted on google Code.

Is this what we are expected to do?

Kindly review.
Thank you :)

[2016-03-18 07:25] belyabl9 commented on #5001
Marker positions are based on the information about longitude and latitude for every country. I've found it after some surfing the Web, so currently I can't be sure that this database is accurate enough for every country. The good point is that we can modify these coordinates in easy way as we want e.g. for overlapped markers

[2016-03-18 07:26] #5015 closed

[2016-03-18 07:26] #5020 closed

[2016-03-18 07:39] yvsssantosh commented on #4771
![capture](https://cloud.githubusercontent.com/assets/11535830/13871741/999036ca-ed0a-11e5-8106-3b474f0f7984.PNG)

Is this how it's expected?
Shall I send a PR

Kindly Review

Thank You

[2016-03-18 08:52] #5011 closed

[2016-03-18 09:07] damithc commented on #5001
Good. Looking forward to your PR @belyabl9

[2016-03-18 09:54] damithc commented on #4571
This could be due to the student email being changed at some point (by the instructor) but the student may be using the link sent earlier. Is that possible?

[2016-03-18 11:22] #5017 closed

[2016-03-18 11:35] ashrayjain commented on #5004
This happens on the CI Server as well. Passes within 5 tries most of the time. Rarely causes the build to fail.

[2016-03-18 13:55] YongJieYongJie opened #5048 "SanitizerTest not fully implemented"
Several tests in [SanitizerTest][link] are not implemented since the file was created.

[link]: https://github.com/TEAMMATES/teammates/blob/master/src/test/java/teammates/test/cases/common/SanitizerTest.java#L46

[2016-03-18 16:22] YongJieYongJie commented on #4666
@Sumei1009 will you be working on this? If not, I can make a pull request for this.

[2016-03-18 22:42] songchoa opened #5053 "New contributor self into [Chao Song]"
(a) link to the app: teammates-chaosong.appspot.com

(b) link to my fork: https://github.com/songchoa/teammates

(c) original:
<img width="1026" alt="screen shot 2016-03-18 at 5 17 35 pm" src="https://cloud.githubusercontent.com/assets/17481346/13893685/b36c5e2e-ed2e-11e5-8923-fdde8e4212a4.png">
 modified:
picture 1:
 <img width="1106" alt="screen shot 2016-03-18 at 5 13 00 pm" src="https://cloud.

[2016-03-19 10:46] #4158 closed

[2016-03-19 10:46] #5004 closed

[2016-03-19 14:25] kanghj commented on #4746
@unyoungwax, do you want to do this?

[2016-03-19 15:21] unyoungwax commented on #4746
Sure. I will follow the suggestion given in the previous comment.

[2016-03-19 15:32] Fenn-CS commented on #5048
Pls Assign me the task

[2016-03-19 15:49] YongJieYongJie commented on #5048
@Fenn-CS actually I've already submitted a Pull Request and is pending review

[2016-03-19 16:38] #5018 closed

[2016-03-19 17:16] #3883 closed

[2016-03-19 17:52] songchoa commented on #5053
Hi, i have shared my first proposal draft with you. Thanks!

[2016-03-19 20:02] junhaoyap commented on #5053
Welcome to the TEAMMATES contributor community @songchoa, good work on moving into Phase D and following the instructions!

Please refer to our 'Instructions for Google Summer of Code Applicants' for guidance on how you can move forward in applying to contribute to TEAMMATES under GSoC apart from sharing your draft with us :)

It'll be great if you can pick a few first timer issues and start contr

[2016-03-19 23:01] rclakmal commented on #4890
@damithc
Sent a pull request introducing a sort option to avoid this situation.

[2016-03-20 04:30] sudosparrowhawk commented on #5008
Hi

[2016-03-20 05:57] #5036 closed

[2016-03-20 05:58] kanghj commented on #5036
Fixed in #5038

[2016-03-20 06:18] kanghj commented on #4831
This could be the cause: #3712

[2016-03-20 07:14] #5008 closed

[2016-03-20 10:51] chowyb opened #5059 "New contributor self intro [Yuan Bin]"
a) no link to app (no GAE account)
b) Link to fork: https://github.com/chowyb/teammates
c)
Edited the Acknowledgements section so that the section title stands out better as compared to the text in the section. Previously, the first line in the section stood out more than the title itself (due to larger font size)
Before:
![old](https://cloud.githubusercontent.com/assets/7546744/13903919/ef61b9e2-

[2016-03-20 10:54] chowyb opened #5060 "Duplicate bold class in teammates.css"
Two instances of the .bold class have been defined in teammates.css as shown in the two screenshots below:

![bold1](https://cloud.githubusercontent.com/assets/7546744/13904014/e13036e2-eecc-11e5-91de-eec9c1f68fbf.png)

![bold2](https://cloud.githubusercontent.com/assets/7546744/13904015/e6d2f1ac-eecc-11e5-84b5-09ad1d3e48c6.png)

While this presently does not seem to cause any issues, it would pro

[2016-03-20 10:59] chowyb opened #5061 "Broken link in Contributor Orientation Guide"
In the [**Contributor Orientation Guide**](https://docs.google.com/document/d/1cY9pmEmw4dC6Z4LjN1WUTsynJ0jVPgbWsFhdyBy_wCU/pub?embedded=true), there is a link for `project vision, challenges, and principles`, however this refers to a page on the TEAMMATES server that likely does not exist anymore.

![overview](https://cloud.githubusercontent.com/assets/7546744/13904035/643f6a58-eecd-11e5-80af-dc0d

[2016-03-20 11:35] bamboo3250 opened #5062 "csvToHtmlTable() in StringHelper doesn't support double quote escaping"
In `Sanitzer.sanitizeForCsv()` we escape double quotes " by presenting it as "". However, `csvToHtmlTable` of `StringHelper` doesn't take into account this case.

[2016-03-20 11:39] bamboo3250 commented on #5062
I need to address this issue quickly for #5058

[2016-03-20 11:47] damithc commented on #5061
Fixed. Thanks for the bug report @chowyb

[2016-03-20 11:47] #5061 closed

[2016-03-20 12:16] priyamm commented on #5060
@chowyb  kindly check PR https://github.com/priyamm/teammates/pull/1

[2016-03-20 12:47] chowyb commented on #5060
@priyamm I am not a core member of the TEAMMATES development team, and as such I do not have the authority to review your PR.

However, I note that your PR is on your own fork (the contributor repo) instead of the main TEAMMATES repo (the committer repo). You might want to put up a PR on this repo instead, using the `compare across forks` option when putting up the PR.

[2016-03-20 12:52] bamboo3250 commented on #3622
@kanghj Could you tell me how to replicate this bug again?

[2016-03-20 13:45] yvsssantosh commented on #4744
Hello,

I have some experience with markdown
Is it okay if I work on this issue?
Kindly Review
@damithc

Thank You

[2016-03-20 13:46] priyamm commented on #5060
Hi,
Oh, I figured that out that I didn't compare it. Actually, I am new to Git.
It seems somebody else fixed it.
Thanks

[2016-03-20 14:31] kanghj commented on #3622
Just submit a response with html content?

[2016-03-20 14:31] #4622 closed

[2016-03-20 14:31] #3997 closed

[2016-03-20 14:38] Fenn-CS commented on #5048
@YongJieYongJie  Ok,:)

[2016-03-20 15:50] #5062 closed

[2016-03-20 16:36] yvsssantosh commented on #4744
I've completed this issue :)

Do I have to make changes to the CONTRIBUTING.md file ?
Kindly review

Thank You

[2016-03-20 17:39] rajivjhaimin opened #5068 "New contributor self intro [Rajiv Jha]"
Greetings,

(a) link to the app: http://teammates-rajivjha.appspot.com/

(b) link to my fork: https://github.com/rajivjhaimin/teammates

Updations : I have added  http://teammates-rajivjha.appspot.com/features.jsp and also made the menu and footer common  in include folder to ease the management.
My online projects : **www.junksquare.com** & **www.xampaperz.com**
My open source contribution : **Re

[2016-03-20 18:38] shreyamahapatra opened #5069 "issue in using eclipse"
Can I use netbeans for this project?

[2016-03-20 18:55] rajivjhaimin commented on #5069
What Problem you are facing in using eclipse?
Kindly Elaborate.

[2016-03-20 19:21] junhaoyap commented on #5059
Welcome to the TEAMMATES contributor community @chowyb, good work on moving into Phase D and following the instructions!

I see that you have already opened an issue which is great! It'll be even better if you can start picking some first timer issues and start contributing :)

One question - are you an aspiring GSoC applicant?

[2016-03-21 03:09] damithc commented on #5069
No, Eclipse only. :-)

[2016-03-21 03:09] #5069 closed

[2016-03-21 03:10] #4928 closed

[2016-03-21 03:20] damithc commented on #4744
@yvsssantosh You can submit a PR when the issue is done. Remember to follow our process.

[2016-03-21 03:26] Harshvardhan58 opened #5076 "New contributor:self intro[Harshvardhan Singh]"
[New contributor.docx](https://github.com/TEAMMATES/teammates/files/181663/New.contributor.docx)

[2016-03-21 03:45] #3660 closed

[2016-03-21 03:45] #4449 closed

[2016-03-21 03:45] #4925 closed

[2016-03-21 03:45] #3895 closed

[2016-03-21 04:30] yvsssantosh commented on #4744
Hi,

I just wanted to make sure that I'll be making the PR to the right file
Is the file to be changed is in the root directory CONTRIBUTING.md or should I be creating a new file in devdocs

Kindly Review
Thank You